[2020-10-11 05:50] marcel-ibay commented on #13963
@JackBoosY , right. it worked. Big Thanks!. Just a question though, wasn't the point of vcpkg is that it should have an isolated environment from the system. Also, though the workaround worked for the ibus, the same might not be said to other components where the host system or other projects are dependent to?
This is just a question, so feel free to close this ticket. Thank you!

[2020-10-11 21:07] hannesweisbach opened #13979 "[icu] build failure"
**Host Environment**
- OS: Windows (Github action virtual environment?)
- Compiler: unkown. cl.exe?

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install qscintilla`

Automake seems to be a dependency. Dependencies before `automake` install and build fine.

***EDIT***: Automake 1.15 source is not available for download on msys2.org anymore. Oldest version is not automate 1.16 - thus

[2020-10-11 21:12] HoopDead commented on #13890
Hello @LilyWangL,
Thanks for your replay, I just have tried that after updating my Windows to the newest version. The problem remains, but for sure I am going to post code from my PowerShell.

I used command ``` .\vcpkg.exe install sqlite3 --debug"

On disc C:\

[code]

On disc D:\

PS D:\Programs\vcpkg> .\vcpkg.exe install sqlite3 --debug
[DEBUG] Feature flag 'binarycaching' unset
[DEBUG] Feature

[2020-10-11 21:41] matteoturini opened #13981 "CMake fails to find the configs automatically"
**Describe the bug**
CMake fails to find the configs for every single package that I install through vcpkg.

**Environment**
macOS Catalina
CMake 3.17
JetBrains CLion

**To Reproduce**
1. git clone https://github.com/matteoturini/sdl2-tutorial.git
2. Open the folder in CLion

**Expected behavior**
No CMake errors.

**Failure logs**
[code]

[2020-10-12 01:05] potato0205 opened #13983 "[bootstrap-vcpkg.bat] open failed"
In the vcpkg root directory, run the vcpkg bootstrapper:

bootstrap-vcpkg.bat (Windows) open failed.
At 9:00am,in shanghai .

[2020-10-12 02:10] PhoebeHui commented on #13983
@potato0205, what failure does it show?  I can't repro this issue locally.

[2020-10-12 02:23] potato0205 commented on #13983
Cannot enter command statement, turn on auto end

---Original---
From: "Phoebe"<notifications@github.com&gt;
Date: Mon, Oct 12, 2020 10:10 AM
To: "microsoft/vcpkg"<vcpkg@noreply.github.com&gt;;
Cc: "potato0205"<2181323886@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
Subject: Re: [microsoft/vcpkg] 【bootstrap-vcpkg.bat】open failed (#13983)

@potato0205, what failure does it show?  I can't re

[2020-10-12 02:36] JackBoosY commented on #13981
Did you use vcpkg toolchain?

[2020-10-12 02:38] JackBoosY commented on #13974
Please copy `libprotobuf.dll` and `libprotoc.dll` from _C:\Software\vcpkg-master\installed\x64-windows\bin_ to _C:\Software\vcpkg-master\installed\x64-windows\tools\protobuf_ and try again.

Thanks.

[2020-10-12 02:48] KaungZawHtet opened #13984 "[oatpp] update to 1.2.0"
Library name: oatpp

New version number: 1.2.0

[2020-10-12 02:50] NancyLi1013 commented on #13848
Hi @an-tao
Thanks for your suggestion. I tried to rebuild this according to your guidelines and failed with the same error.
Then I clone a new repo to build, it still failed:

[code]

[2020-10-12 02:52] JackBoosY commented on #13963
@marcel-ibay Yep, see #13402.

[2020-10-12 02:53] JackBoosY commented on #13948
So, does this issue resolved?

[2020-10-12 03:00] JackBoosY commented on #13983
@potato0205 Please use powershell to run that batch file.

[2020-10-12 03:03] PhoebeHui commented on #13948
@guyflax1234, it looks you're using same vcpkg instance for windows and Linux, I think you need distinguish them, clone vcpkg source for linux and another vcpkg source for windows.

[2020-10-12 03:06] potato0205 commented on #13983
I will try,thank you.

---Original---
From: "Jack·Boos·Yu"<notifications@github.com&gt;
Date: Mon, Oct 12, 2020 11:01 AM
To: "microsoft/vcpkg"<vcpkg@noreply.github.com&gt;;
Cc: "potato0205"<2181323886@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
Subject: Re: [microsoft/vcpkg] 【bootstrap-vcpkg.bat】open failed (#13983)

@potato0205 Please use powershell to run that batch file.

—
You are rec

[2020-10-12 03:47] krab opened #13985 "[libzip] enable support for zstd compression"
zstd was added as compression method to zip file format specification:
https://pkware.cachefly.net/webdocs/casestudies/APPNOTE.TXT
` 93 - Zstandard (zstd) Compression  `

libzip and minizip support them in latest updates:
https://github.com/nih-at/libzip/blob/master/CMakeLists.txt#L20
but its need to be enabled in current vcpkg port!

[2020-10-12 04:22] DogeisReady commented on #8164
I did not continue using it, could be still an issue. Did not find a solution

[2020-10-12 04:37] ZgblKylin opened #13986 "[opencv] opencv[core] should not depend on protobuf"
****

**Is your feature request related to a problem? Please describe.**
opencv3/opencv4 depends on protobuf in core feature, but which is only used in dnn/flann feature.

protobuf is a library with extremely poor compatibility, it'll terminal your programe at runtime when data differs from library version.

If some projects use specified protobuf version explicitly, then it cannot link with openc

[2020-10-12 05:00] jesta88 opened #13988 "[sdl2] invalid manifest caused by features not being an array"
**Host Environment**
- OS: Windows 10
- Compiler: MSVC

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install sdl2[vulkan]:x64-windows`

**Failure logs**
Error: There are invalid field types in the CONTROL or manifest file of C:\Users\***\vcpkg\ports\sdl2\vcpkg.json
The following fields had the wrong types:

    features was expected to be an array of feature definitions

Error: Faile

[2020-10-12 05:40] JackBoosY commented on #8164
Okay, please repoen it if it still exists.

[2020-10-12 05:40] #8164 closed

[2020-10-12 07:18] NancyLi1013 commented on #13973
Hi @PayasR
Thanks for posting this issue.
After using `git pull`, have you run the script `.\bootstrap-vcpkg.bat`?

[2020-10-12 08:31] PhoebeHui commented on #13967
@natovan, thanks for reporting this issue! I have summited a PR to fix it.

[2020-10-12 08:33] JackBoosY commented on #13988
Did you update vcpkg to the latest?
I can't repro this issue locally.

[2020-10-12 09:12] NancyLi1013 commented on #13881
Hi @cbuchart
Thanks for posting this issue.
It seems that `#include <pcl/surface/concave_hull.h>`has not been installed in vcpkg.
I used the project case you provided above and found the errors like this:

[code]

[2020-10-12 09:26] jube commented on #13963
See also #13551

[2020-10-12 09:33] LilyWangL commented on #13965
Thanks for posting this issue. There are the following error in your log:
[code]
Could you check `libbson` is installed on your VCPKG?

[2020-10-12 09:47] LilyWangL commented on #13890
Thanks for your reply. I can't found any error in this log. If you don't add `--debug`, could you install `sqlite3` successfully?

[2020-10-12 10:01] aspioupiou commented on #13885
@NancyLi1013  Hi !

There exists 2 issues here :
- The linking issue with a static azure-kinect-sensor-sdk on both platform
- The linux-only build issue where this command failes : `./vcpkg install azure-kinect-sensor-sdk:x64-linux`

[2020-10-12 10:20] NancyLi1013 commented on #13885
Hi @aspioupiou

If you want to build static, you should try to install `azure-kinect-sensor-sdk:x64-windows-static` first, then use it in your project.

For the linkage issue, there is no error when I build `azure-kinect-sensor-sdk:x64-windows`.(Note: Not just install it, I also build the project that this port used)

For the build issue on Linux, the result is as expected. Since `azure-kinect-sen

[2020-10-12 11:42] yurybura opened #13997 "[llvm] update to 11.0.0"
Library name: LLVM

New version number: 11.0.0

https://releases.llvm.org/11.0.0/docs/ReleaseNotes.html

[2020-10-12 11:58] yurybura commented on #12814
This issue has been fixed already in the PR #12884.

[2020-10-12 12:33] aspioupiou commented on #13885
`I think it would be better to add Supports: !(linux | osx) to CONTROL file and also add the unsupported message in portfile.cmake to remind the users.` Yes, definitely this is a good idea since I thought a message would be displayed if trying to install a package on an incompatible platform.

For the windows link stuff, I'm AFO at the moment, I will try and tell you the result as soon as I'm back

[2020-10-12 13:06] Blakjak88 commented on #13879
Hi, yes. The current version has missing features.

[2020-10-12 14:05] niclar commented on #13033
-@SeanFarrow, can't see the Issue13033 branch...

[2020-10-12 14:08] SeanFarrow commented on #13033
Give me until tomorrow, I forgot to push!

From: niclar <notifications@github.com>
Sent: 12 October 2020 15:06
To: microsoft/vcpkg <vcpkg@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/vcpkg] [boost] Update to 1.74.0 (#13033)

-@SeanFarrow<https://github.com/SeanFarrow>, can't see the Issue13033 branch...

—
You are

[2020-10-12 15:10] Markus87 commented on #13845
@PhoebeHui I just checked my old build script for boost for android and let it run again and it works with no problem, no locale required. The header you referenced is the only locale header in all of boost log and to me it seems it is header only. There is nothing that could be missed if locale is not built alongside the log module.

For me this dependency is wrong.

[2020-10-12 15:25] StepLogic opened #13999 "Error: Building package boost-build:x86-windows failed with: BUILD_FAILED"
**Host Environment**
- Windows
- Microsoft Visual C++

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install boost`

**Failure logs**
-Additional packages (*) will be modified to complete this operation.
Starting package 1/117: boost-build:x86-windows
Building package boost-build[core]:x86-windows...
-- Using cached C:/Users/Gyaase Elvis/source/repos/vcpkg/downloads/boostorg-build-boo

[2020-10-12 16:05] BillyONeal commented on #12917
Put my vote in for "nmoinvaz-minizip"

[2020-10-12 16:25] BillyONeal commented on #13890
Does "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvarsall.bat" actually refer to a Visual Studio installation tree?

[2020-10-12 16:27] BillyONeal commented on #11126
This has since been updated to PowerShell 7.0.3 in current `master` but I interpret this bug report to be "powershell integration should never try to acquire powershell and fail if a system one is not present"

[2020-10-12 16:42] #13715 closed

[2020-10-12 17:12] strega-nil commented on #13738
@kobykahane we'll discuss this today and come back to you :)

[2020-10-12 19:16] #13831 closed

[2020-10-12 19:26] #13927 closed

[2020-10-12 19:44] skealy commented on #12443
I have tried to use libpq in C++/Winrt. Using the headers and .lib provided by postgresql and setting the include paths etc allows the project to compile but when it is run it fails and a message is sent to the event viewer stating that the Activation failed. It works fine on Win32 projects. The only option therefore for C++/WinRT or UWP projects is to use vcpkg. I have found that .\vcpkg install

[2020-10-12 20:03] jesta88 commented on #13988
I did. The manifest documentation specifies that `features` is an array. In the SDL2 manifest, it isn't. Unless vcpkg can parse 1-element arrays in a special way, I don't see how it's possible to install SDL2 with the Vulkan feature.

Am I missing something?

[2020-10-12 20:44] sfhacker commented on #12443
Are we **STILL** having issues building libpq? This open issue is nearly three months old!
@skealy Someone here suggested installing OpenSSH. Have you tried that?

[2020-10-12 22:21] #13106 closed

[2020-10-12 22:22] #13949 closed

[2020-10-12 22:24] #13842 closed

[2020-10-13 00:55] PhoebeHui commented on #13999
@StepLogic, from your log, it seems the VS toolset doesn't install correctly, could you double check?

Failrues:
'cl' is not recognized as an internal or external command,
operable program or batch file.
File Not Found

[2020-10-13 01:10] krab commented on #13985
apparently zstd support exist only in current git master not in 1.7.3...

[2020-10-13 01:53] NancyLi1013 commented on #12917
@Chronial
I think you can make a PR for this now. For the port name, please use "nmoinvaz-minizip" proposed by @BillyONeal . Thanks for your contribution.

[2020-10-13 02:03] PhoebeHui commented on #13738
Related to PR https://github.com/microsoft/vcpkg/pull/12502

[2020-10-13 02:06] JonLiu1993 commented on #13985
Hi @krab ,sorry! Currently, version 1.7.3 does not support zstd, and the release of the updated version has not been released yet. I will update and add features after the latest version is released. Do you think it is okay?

[2020-10-13 02:22] SeanFarrow commented on #13033
@niclar,
This has now been pushed, the branch you want from my fork is Issue13033.
 I've updated the version in scripts/boost/generate-ports.ps1, but when I try to do:
vcpkg install boost-nowide:x86-windows-static
There is an issue around finding the config folder (we need a cmake file to copy this in.)

Then, this library fails to build, I'm assuming because it fails to find some targets in the .

[2020-10-13 02:40] LilyWangL commented on #13487
This issue will be fixed in PR https://github.com/microsoft/vcpkg/pull/13704.

[2020-10-13 02:47] PhoebeHui commented on #13983
@potato0205, does the issue persist?

[2020-10-13 02:47] PhoebeHui commented on #13954
@guillermoacdc, does this issue persist?

[2020-10-13 03:05] PhoebeHui commented on #13845
@Markus87, no this is needed. After removing the dependency, it will fail with following error when build boost-log:x86-windows:

F:\VCPKG\clean\buildtrees\boost-log\src\ost-1.73.0-3d57ed4a83.clean\include\boost/log/detail/attachable_sstream_buf.hpp(26): **fatal error C1083: Cannot open include file: 'boost/locale/utf.hpp': No such file or directory**

[2020-10-13 04:13] aiyou4love commented on #13965
PS C:\Users\aiyou> vcpkg install libbson:x64-windows                                                                    Computing installation plan...
The following packages are already installed:
    libbson[core]:x64-windows
Package libbson:x64-windows is already installed

Total elapsed time: 423.1 us

PS C:\Users\aiyou> vcpkg install mongo-c-driver:x64-windows

[2020-10-13 04:24] krab commented on #13985
Yeah, don't need to push unreleased git code into vcpkg repo.

[2020-10-13 04:25] longhuan2018 commented on #13712
Try this PR #14006

[2020-10-13 05:25] gaozilai opened #14009 "Error: Building package jsoncpp:x64-windows failed with: BUILD_FAILED"
**Host Environment**
- OS: Windows 10
- Compiler: 3.17.2

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg install jsoncpp:x64-windows`

**Failure logs**
[code]
**Additional context**
*config-x64-windows-out.log
[code]

[2020-10-13 05:35] PayasR commented on #13973
Ah that worked, thank you so much!

[2020-10-13 05:35] #13973 closed

[2020-10-13 05:38] aiyou4love commented on #13965
vcpkg remove libbson:x64-windows
vcpkg install libbson:x64-windows
vcpkg install mongo-cxx-driver:x64-windows

install sucess

[2020-10-13 05:53] Chronial commented on #12917
While looking at some more inspiration for the port implementation, I noticed that the name `minizip2` seems to have established itself in other repositories ([MinGW](https://github.com/msys2/MINGW-packages/tree/0269ce94e07422bcb4734214a6df6e62a9b24765/mingw-w64-minizip2), [MacPorts](https://ports.macports.org/port/minizip2/summary), [Homebrew](https://github.com/Homebrew/homebrew-core/commit/dd07

[2020-10-13 05:58] JackBoosY commented on #12443
@skealy For uwp, you should change _VCPKG_ROOT/ports/libpq/portfile.cmake_ line 162 to:
[code]
Then install openssl:x86-windows first.

[2020-10-13 06:01] JackBoosY commented on #12443
Anyone who has encountered this problem on the triples `x86-windows`/`x64-windows`/`x64-windows-static` can send me the full logs?

[2020-10-13 06:03] DangMinh24 opened #14010 "[New Port Request] <Spot>"
Library name: Spot: a platform for LTL and ω-automata manipulation

Library description: Spot is a C++14 library for LTL, ω-automata manipulation and model checking

Source repository URL: http://www.lrde.epita.fr/dload/spot/spot-2.9.4.tar.gz

Project homepage (if different from the source repository): https://spot.lrde.epita.fr/

[2020-10-13 06:06] LilyWangL commented on #12814
Thanks for posting this issue. This issue has been fixed. So I am closing this issue for now.

[2020-10-13 06:06] #12814 closed

[2020-10-13 06:14] PhoebeHui commented on #14009
@gaozilai, it looks something wrong in Visual Studio setup.

1. Do you install English language pack? if not, please installed it and try again see https://github.com/microsoft/vcpkg/issues/13051#issuecomment-678109583,
2. If the issue persist, please check if the windows sdk installed, see https://github.com/microsoft/vcpkg/issues/12607
3. If it still be an issue for you, could you repair or rein

[2020-10-13 06:23] JackBoosY commented on #13988
[code]
See [Example](https://github.com/microsoft/vcpkg/blob/master/docs/maintainers/manifest-files.md#example-2).
@strega-nil Should we update our docs?

[2020-10-13 06:24] PhoebeHui commented on #12797
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-10-13 06:24] #12797 closed

[2020-10-13 06:25] michealowen commented on #12443
I provided the error log in anothor issue which is now closed because the problem is the same.

[2020-10-13 06:27] PhoebeHui commented on #12842
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-10-13 06:27] #12842 closed

[2020-10-13 06:29] PhoebeHui commented on #12840
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-10-13 06:30] #12840 closed

[2020-10-13 06:33] PhoebeHui commented on #12943
@Gigas002, we have exist port https://github.com/microsoft/vcpkg/tree/master/ports/hdf5, could you try it and see if it meet your requirements?

For hdf4, if you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-10-13 06:33] #12943 closed

[2020-10-13 06:36] PhoebeHui commented on #12914
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-10-13 06:36] #12914 closed

[2020-10-13 06:38] gaozilai commented on #14009
1. Yes, I installed English language pack, otherwise there was a big red error warning.
2. I have installed windows sdk, version 10.0.17763.0.
3. In my Windows OS, there are two different VS version, VS2010 and VS2017,  both can work perfectly. Does this matter?

[2020-10-13 06:42] PhoebeHui commented on #12824
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-10-13 06:42] #12824 closed

[2020-10-13 06:43] PhoebeHui commented on #12675
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-10-13 06:43] #12675 closed

[2020-10-13 06:45] PhoebeHui commented on #13046
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-10-13 06:45] #13046 closed

[2020-10-13 06:46] PhoebeHui commented on #13082
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-10-13 06:46] #13082 closed

[2020-10-13 06:48] PhoebeHui commented on #12650
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-10-13 06:48] #12650 closed

[2020-10-13 06:52] PhoebeHui commented on #12957
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-10-13 06:52] #12957 closed

[2020-10-13 06:54] PhoebeHui commented on #13116
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-10-13 06:54] #13116 closed

[2020-10-13 07:00] LilyWangL commented on #13965
This is because the version of libbson is low, reinstallation can solve this problem. This issue has been fixed, so I am closing this issue.

[2020-10-13 07:00] #13965 closed

[2020-10-13 07:04] PhoebeHui commented on #13215
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-10-13 07:04] #13215 closed

[2020-10-13 07:19] PhoebeHui commented on #12917
@Chronial, thanks for the information!

I think it's fine to name it minizip2, even it may confuse with user, since we already have minizip port with different repo,
However, we may want it to be in consistency with other repositories (MinGW, MacPorts, Homebrew).

@BillyONeal, what do you think?

[2020-10-13 07:30] PhoebeHui commented on #14009
What does 'vcpkg env --triplet x64-windows --debug' show?

[2020-10-13 07:50] JackBoosY commented on #11832
After adding
[code]
to _VCPKG_ROOT/ports/libmagic/portfile.cmake_, this issue was not resolved.

[2020-10-13 07:57] PhoebeHui commented on #13828
@max-1975, I can't repro this issue locally, from your log, it failed due to permission issue. it might relate to antivirus software, could also check that?

Failures:
/bin/sh: /home/martinelli/build_igatools_debug/vcpkg_installed/x64-linux/tools/boost-build/b2: Permission denied

[2020-10-13 07:59] PhoebeHui commented on #12907
@druidfund, does this still be an problem for you?

[2020-10-13 08:00] gaozilai commented on #14009
[DEBUG] Feature flag 'binarycaching' unset
[DEBUG] Feature flag 'manifests' unset
[DEBUG] Feature flag 'compilertracking' unset
[DEBUG] Feature flag 'registries' unset
[DEBUG] Using vcpkg-root: C:\test\vcpkg
[DEBUG] Using installed-root: C:\test\vcpkg\installed
[DEBUG] Using buildtrees-root: C:\test\vcpkg\buildtrees
[DEBUG] Using downloads-root: C:\test\vcpkg\downloads
[DEBUG] Using packages-root:

[2020-10-13 08:05] JackBoosY commented on #14009
`c1xx: fatal error C1083: Cannot open source file: 'testCXXCompiler.cxx': No such file or directory`
再非系统盘中重新clone vcpkg试试。

[2020-10-13 08:12] gaozilai commented on #14009
我的电脑只有一个C盘呀 😓

[2020-10-13 08:14] JackBoosY commented on #14009
你能确认在_C:/test/vcpkg/buildtrees/jsoncpp/x64-windows-rel/CMakeFiles/CMakeTmp_中存在`testCXXCompiler.cxx`吗？
如果有请使用管理员权限打开的powershell中安装jsoncpp.

[2020-10-13 08:25] gaozilai commented on #14009
C:/test/vcpkg/buildtrees/jsoncpp/x64-windows-rel/CMakeFiles/CMakeTmp 中是空文件夹
管理员权限运行也是同样的错误

[2020-10-13 08:29] PhoebeHui commented on #14009
It looks the permission issue, similar issue with https://github.com/microsoft/vcpkg/issues/10220,

[2020-10-13 08:32] JackBoosY commented on #12443
@michealowen I need complete logs instead of a partial one to better locate this.

[2020-10-13 08:38] Markus87 commented on #13845
Ok I just did build boost myself in Windows.
[code]
This is what got built:
![grafik](https://user-images.githubusercontent.com/6339979/95835930-25033500-0d3f-11eb-8932-3310cbed47f7.png)

So if the header is missing I would say it is because of how the ports of boost are done in vcpkg.
Maybe the boost-log port build is looking for the headers in the installed directory. And if only headers from bo

[2020-10-13 08:43] michealowen commented on #12443
Computing installation plan...
The following packages will be built and installed:
    gdal[core]:x86-windows
  * libpq[core,openssl,zlib]:x86-windows
Additional packages (*) will be modified to complete this operation.
Starting package 1/2: libpq:x86-windows
Building package libpq[core,openssl,zlib]:x86-windows...
-- Using source at F:/owen/cpp_workspace/vcpkg/vcpkg-master/buildtrees/libpq/src/tg

[2020-10-13 08:50] JackBoosY commented on #12443
@michealowen Can you confirm these files are in _F:\owen\cpp_workspace\vcpkg\vcpkg-master\installed\x86-windows\tools\openssl_?
![image](https://user-images.githubusercontent.com/47264268/95838280-2a2ea700-0d74-11eb-9d6c-54c120979d21.png)

[2020-10-13 08:52] michealowen commented on #12443
libcrypto-1_1.dll   libssl-1_1.dll are not in this directory, but openssl.cnf and openssl.exe are there.

[2020-10-13 08:53] PhoebeHui commented on #13845
If doesn't add boost-locale as dependency, it would not install its headers to install directory, so yes, only headers from boost get copied for modules which got built.

[2020-10-13 08:55] JackBoosY commented on #13741
@chenming-wu Can you provide the log _/Users/jast/vcpkg/buildtrees/python3/src/v3.8.3-43b03f2bf0.clean-x64-osx-release/config.log_?

[2020-10-13 08:58] JackBoosY commented on #12443
@michealowen Please copy `libcrypto-1_1.dll` and `libssl-1_1.dll` to _F:\owen\cpp_workspace\vcpkg\vcpkg-master\installed\x86-windows\tools\openssl_ manually then rebuild libpq:x86-windows.

[2020-10-13 09:01] Markus87 commented on #13845
Okay, so in my mind it would be better to do it like boost did it itself.
Copy all headers first and add in dependencies only what must be linked against.

Maybe this would be possible if adding a port like boost-headers(-only).
The boost-locale port just would depend on that instead of all of the stuff it really does not need.
I think the boost ports in general would profit from that, other modul

[2020-10-13 09:02] gaozilai commented on #14009
Yes, it is!  It's the same issue with #10220, I almost uninstall my VS2017, and reinstall VS2019.

Until i saw:
`Do you share the folder that created by WSL? if so, this might be expected for me, since the folder should be controlled by WSL, you might need to clone vcpkg by windows. I don't have rich experience of using WSL. I have WSL installed on my machine, it works, and I clone another vcpkg i

[2020-10-13 09:04] JackBoosY commented on #14009
Solved.

[2020-10-13 09:04] #14009 closed

[2020-10-13 09:04] PhoebeHui commented on #14009
Good to know that works for you!

[2020-10-13 09:11] thumpro opened #14012 "[pthreads] build failure on community triplet x64-mingw-dynamic"
**Host Environment**
- OS: Windows Mingw-W64
- Compiler: g++ 10.2

**To Reproduce**
`.\vcpkg.exe install pthreads:x64-mingw-dynamic`

**Failure logs**

    Command failed: "C:/Program Files (x86)/Microsoft Visual Studio/2019/Community/VC/Tools/MSVC/14.26.28801/bin/Hostx64/x64/nmake.exe" -f Makefile all install DESTROOT="C:\dev\vcpkg\packages\pthreads_x64-mingw-dynamic"
    Working Directory: C:/de

[2020-10-13 09:15] PhoebeHui commented on #10220
Thanks @FullyArticulate for the details!

We recommand to create sperate vcpkg instance for window and linux. The IO operations from WSL in Windows shares is incredibly slow compared to the Linux filesystem. You are looking at much slower builds.

[2020-10-13 09:15] #10220 closed

[2020-10-13 09:28] JackBoosY commented on #12443
If this workaround can resolve this issue, please ping me.

Thanks.

[2020-10-13 09:52] NancyLi1013 commented on #13924
Hi @fldx
Thanks for posting this issue.
Could you please help confirm which versions are the Visual Studio and Windows SDK you installed?

[2020-10-13 09:53] michealowen commented on #12443
successfully installed ! Thanks ! But i still dont know why libcrypto-1_1.dll and libssl-1_1.dll are not in that directory.

[2020-10-13 09:56] JackBoosY commented on #12443
Okay, confirmed, this issue is the same as #12849. The reason is that `vcpkg_copy_tool_dependencies` cannot successfully copy dependent libraries.

Please track #12849.

[2020-10-13 09:56] #12443 closed

[2020-10-13 09:57] michealowen commented on #12443
Okay , thanks.

[2020-10-13 10:07] S0PEX commented on #13500
@Kwizatz
I also just installed v8 with `vcpkg.exe install v8:x86-windows-static`
and get the error as @mganss  is there any easy was to fix `pkg-config tool not found` ?
I thought that vcpkg will automatically download pkg-config if required.

[2020-10-13 10:26] Dlougach commented on #13319
I don't think that changing this setting to on will install includes from `grpcpp/test`

[2020-10-13 11:15] chenming-wu commented on #13741
[config.log](https://github.com/microsoft/vcpkg/files/5370937/config.log)

[2020-10-13 11:27] haimingZZ commented on #11259
I close the antivirus software, and this issue goes away.
Thanks

[2020-10-13 11:34] an-tao commented on #13848
@Arves100 we need help about the `iconv` issue in libmariadb, my framework drogon depends on libmariadb and it can be built successfully on Windows but failed on linux and osx, after some investigations, I found the libiconv is not in the dependces list of libmariadb, so I guess when installing libmariadb on Macos, the `HAVE_ICONV` macro is enabled and the compiler can find the 'iconv.h' file in m

[2020-10-13 11:36] sfhacker commented on #11832
This issue seems particularly hard to troubleshoot and fix!

[2020-10-13 11:42] sfhacker commented on #12443
@michealowen Glad to read is, at last, fixed! It took us a long time to resolve the issue.

[2020-10-13 12:08] guillermoacdc commented on #13954
Thanks @PhoebeHui, the error doesnt persist. I have tried a new installation with "vcpkg install pcl:x64-windows" and that resolved all the errors.

[2020-10-13 12:08] #13954 closed

[2020-10-13 12:34] arves100 commented on #13848
Hello, after a quick investigation MariaDB does not use libiconv under Windows (this explains why it can be built correctly under Windows).
This seems to be related that cmake cannot find the library libiconv, so it suppose that it is integrated inside libc.
So the solution should just be building libiconv under non-Windows platform (assuming it would work like zlib did)

[2020-10-13 12:47] matteoturini commented on #13981
I just added it, it works. Thanks!

[2020-10-13 12:47] #13981 closed

[2020-10-13 12:57] an-tao commented on #13848
Thanks for the quick reply, I notice that there is a 'WITH_ICONV' option being added in the `commit 7052619cc4b447da54a0b1458e096bb8dc4b3c77` on Sep 14, so I guess this issue will be resolved if the libmariadb is upgraded to the latest version, am I right?

[2020-10-13 13:07] arves100 commented on #13848
WITH_ICONV is supported since version 3.1.10, so upgrading the version and adding iconv as a feature should fix the issue. We're currently in v3.1.7.

[2020-10-13 13:19] an-tao commented on #13848
if WITH_ICONV is enabled, should a configuration file like FindLibmariadbConfig.cmake be installed into vcpkg for users to add dependencies of libmariadb? otherwise I have to add a FindIconv.cmake to my port.
I am very willing to help but I am not familiar with libmariadb. I'm looking forward to the update. Thank you.

[2020-10-13 13:26] arves100 commented on #13848
It should automatically link iconv because it's set as a dependency on libmariadb. That's something vcpkg is doing by default.

[2020-10-13 13:28] an-tao commented on #13848
Great! thank you

[2020-10-13 14:18] fldx commented on #13924
已经安装过了
![20201013221632](https://user-images.githubusercontent.com/11643460/95872914-f5394900-0da1-11eb-8879-b43af5406d72.png)
![20201013221656](https://user-images.githubusercontent.com/11643460/95872920-f7030c80-0da1-11eb-8f7e-b2c3d7c36ccf.png)

[2020-10-13 14:20] fldx commented on #13924
同时安装了 Visual Studio 2015

[2020-10-13 14:44] Remi-Coulom commented on #10406
I have the same problem. How did you solve it?

[2020-10-13 14:49] SeanFarrow commented on #13033
@niclar Are you able to submit a PR to my original branch, I'll then take things from there.￼

[2020-10-13 15:04] raphasanori opened #14013 "[New Port Request] Squirrel"
Library name: Squirrel

Library description: Squirrel is a high level imperative, object-oriented programming language, designed to be a light-weight scripting language that fits in the size, memory bandwidth, and real-time requirements of applications like video games.

Source repository URL: https://github.com/albertodemichelis/squirrel

Project homepage (if different from the source repository)

[2020-10-13 15:23] AbhinavMir opened #14014 "Error: Building package liblzma:x64-linux failed with: BUILD_FAILED"
**Describe the bug**
Upon trying to build Iroha dependencies, I get the error as described below. It had run successfully once. I am using the latest portfiles, to my knowledge.

**Environment**
- Debian (On WSL2, if that's important)

**To Reproduce**
[code]

**Expected behavior**
Get a CMake build parameter

**Failure logs**
[code]

[2020-10-13 15:44] niclar commented on #13033
sure, https://github.com/SeanFarrow/vcpkg/pull/1

[2020-10-13 16:00] longnguyen2004 commented on #13033
I don't really know much about the way vcpkg handles boost, so @SeanFarrow and @niclar please finish it for me, and I'll work on the mingw part.

[2020-10-13 16:06] Yaski opened #14015 "assimp doesn't build on OSX without irrlicht"
Library name: assimp

Library description: Open-Asset-Importer-Library

Source repository URL: https://github.com/assimp/assimp

I cannot use assimp on OSX 10.15.7 because build failed.

[code]

If it is possible could you remove irrlicht dependency from assimp library in vcpkg?

[2020-10-13 16:25] ArtlyStyles opened #14017 "Failed to install g2o on windows"
Hi, I am trying to use the g2o library https://github.com/RainerKuemmerle/g2o on windows. I follow the instruction to install it use the following script .bat file:

==============Start of bat file ================================
@echo off

setlocal

rem ----------------------------------
rem Locate vcpkg using environment variables falling back to sensible defaults
rem --------------------------

[2020-10-13 16:29] Kwizatz commented on #13500
Hi @S0PEX , easiest fix would be to cherry pick the PR from #13355, that PR is ready to merge but for some reason there's been no action from the vcpkg side.

You can see examples on how to detect v8 from cmake [here](https://github.com/AeonGames/AeonGUI/blob/master/cmake/v8.cmake), you probably will just need to use find_package(V8 REQUIRED) and then add the targets V8::V8, V8::V8LIBBASE and V8::

[2020-10-13 17:00] strega-nil commented on #13988
@jesta88 you need to update your vcpkg binary; run `.\bootstrap-vcpkg.bat` again.

[2020-10-13 17:16] sfhacker commented on #14012
We have had no issues building pthreads on MinGW.
I wasn't aware nmake was required. Have you tried to build master branch?

[2020-10-13 19:23] jesta88 commented on #13988
Ah thanks! Sorry about that, it's safe to close this issue now.

[2020-10-13 19:23] #13988 closed

[2020-10-13 19:31] StepLogic commented on #13999
Hi i was able to locate it  in this path
 C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Tools\MSVC\14.26.28801\bin\Hostx64\x64
I am new to c++ ,so i cant tell if its supposed to be there

[2020-10-13 20:23] #12730 closed

[2020-10-13 20:23] #13632 closed

[2020-10-13 20:25] #13967 closed

[2020-10-13 20:28] #13979 closed

[2020-10-13 20:34] Trider12 opened #14020 "[libvorbis:x64-mingw-static] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: Mingw-w64 5.0.4

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install libvorbis --triplet x64-mingw-static`

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
    libvorbis[core]:x64-mingw-static
Detecting compiler hash for triplet x64-mingw-static...
Starting package 1/1: libvorbis:x6

[2020-10-13 20:48] #13837 closed

[2020-10-13 21:35] S0PEX commented on #13500
@Kwizatz
Thanks for your help.
I just rebuild v8 with your port files and are now getting an error:
[code]
which is weird as the .lib files are existing in `/lib/v8_monolith.lib` and `/debug/lib/v8_monolith.lib` do you have any ideas why this error occurs ?

[2020-10-13 21:38] #10394 closed

[2020-10-13 21:45] skealy commented on #12443
There is still a problem with libpq when building for UWP. libcrypto-1_1.dll and libssl-1_1.dll files copied as advised and the following new error occurs. No output to error logs and out logs appear to have completed successfully.

PS C:\src\vcpkg> .\vcpkg install libpq:x64-uwp
Computing installation plan...
The following packages will be built and installed:
    libpq[core,openssl,zlib]:x64-uwp

[2020-10-13 21:46] #13495 closed

[2020-10-13 22:22] Kwizatz commented on #13500
@S0PEX did you set VCPKG_TARGET_TRIPLET to x64-windows-static?

`cmake -DVCPKG_TARGET_TRIPLET:string=x64-windows-static`

[2020-10-13 23:20] #13774 closed

[2020-10-14 00:04] rockydut opened #14022 "[<libmysql>] build failure"
**Host Environment**
- OS: Windows
- Compiler: visual studio 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install libmysql:x64-windows-static`

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
  * icu[core]:x64-windows-static
  * libevent[core,thread]:x64-windows-static
    libmysql[core]:x64-windows-static
  * lz4[core]:x64-wi

[2020-10-14 00:54] #13580 closed

[2020-10-14 00:54] #13823 closed

[2020-10-14 01:02] wrobelda opened #14023 "autoreconf fails when executed by vcpkg on OSX, but works fine run by hand"
**Describe the bug**
I am working on a libtasn1 port, currently defined as:

[code]

Running vcpkg causes immediate failure, with:
[code]

The `autoconf-x64-osx-err.log` reads:

[code]

However, if I `cd` into the build folder (`Volumes/External/Sourcecode/vcpkg/buildtrees/libtasn1/src/4.16.0-210bc43f56.clean/`) and execute the same command (`/usr/local/bin/autoreconf -vfi`) manually, autoreconf w

[2020-10-14 01:25] shimondoodkin opened #14024 "[New Port Request] dataframe"
Library name: dataframe

Library description: This is a C++ statistical library that provides an interface similar to Pandas package in Python

Source repository URL: https://github.com/hosseinmoein/DataFrame

[2020-10-14 02:27] JackBoosY commented on #13319
@Dlougach That will only test whether the program is damaged.

[2020-10-14 02:28] #11259 closed

[2020-10-14 02:40] JackBoosY commented on #12443
@skealy Did you follow my [comments](https://github.com/microsoft/vcpkg/issues/12443#issuecomment-707598585) to change `portfile.cmake` ?

[2020-10-14 03:10] NancyLi1013 commented on #13924
`"D:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\bin\amd64_x86\cl.exe"`

It seems that you used Visual Studio 2015 to build.
Please set toolset to Visual Studio 2019 manually in your triplets, then try to rebuild.

`set(VCPKG_PLATFORM_TOOLSET v142)`

[2020-10-14 03:13] NancyLi1013 commented on #14014
Hi @AbhinavMir
Thanks for posting this issue.
It seems that you didn't use the latest version to build.
Could you please use` git pull ` to update vcpkg to the latest version and then rebuild this port?

`liblzma` has been updated to 5.2.5 in vcpkg.

[2020-10-14 03:19] NancyLi1013 commented on #14017
[code]
Since `lapack-reference` and `clapack ` have conflicts with each other, they cannot be installed at the same time. So Please remove `clapack ` first, then try to rebuild this.

`.\vcpkg remove clapack :x64-windows`

[2020-10-14 03:26] PhoebeHui commented on #14022
@rockydut, could you get vcpkg latest source and try again? PR#https://github.com/microsoft/vcpkg/pull/13889 has already add the mirror for msys, I tried it works.

Starting package 1/1: icu:x86-windows
Building package icu[core]:x86-windows...
-- Using cached E:/vcpkg/clean/vcpkg/downloads/icu4c-67_1-src.tgz
-- Cleaning sources at E:/vcpkg/clean/vcpkg/buildtrees/icu/src/c-67_1-src-39ba50b26e.clea

[2020-10-14 04:15] Kwizatz commented on #13500
So, there is a problem with the portfile.
Just so you don't have to rebuild the whole thing, copy V8Config-static.cmake to vcpkg\installed\x86-windows-static\share\v8\V8Config.cmake, overwriting it. Then open the file and change set(V8_COMPILE_DEFINITIONS "") to set(V8_COMPILE_DEFINITIONS " ") notice the space, that should fix it, I'll fix the PR.

[2020-10-14 05:51] PhoebeHui commented on #13999
What does 'vcpkg env --triplet x86-windows --debug' show?

[2020-10-14 06:07] NancyLi1013 commented on #13806
Hi all,
We cannot reproduce this issue on our local machines with `CUDA `11.0.

[code]

[2020-10-14 06:30] PhoebeHui commented on #13806
@datorfix, could you remove binary cache for cudnn, reinstall the cudnn ports, and see if this issue still exist? the undeclared identifier should be in cudnn.h which installed by cudnn.

Failure:

[code]

[2020-10-14 06:39] NancyLi1013 commented on #13344
Sorry for the long delay, but I still cannot reproduce this issue on my machine. So I have no idea what's wrong with your environment now.

[code]

[2020-10-14 06:50] JackBoosY commented on #13741
`clang: error: invalid version number in 'MACOSX_DEPLOYMENT_TARGET=11.0'`
Should not be compatible with the beta version of macOS.

[2020-10-14 07:25] JackBoosY commented on #9564
@faserg1 Unzip and replace [this file](https://github.com/microsoft/vcpkg/files/5376338/atkmm.zip) to _VCPKG_ROOT/ports/atkmm_, patch _ATKMM_SOURCE/configure_ to add option `--with-atk` / `--with-glibmm`.

[2020-10-14 07:37] Cheney-W opened #14025 "[VCPKG] vcpkg manifest adds a long delay to builds even when nothing changes"
This issue is first reported on [Developer Community](https://developercommunity.visualstudio.com/content/problem/1204028/vcpkg-manifest-adds-a-long-delay-to-builds-even-wh.html?childToView=1215371#comment-1215371).

After enable Use Vcpkg Manifest and adding a vcpkg.json file into a c++ project in Visual Studio, the following steps will be added into the build steps:
Target VcpkgTripletSelection

[2020-10-14 08:19] skealy commented on #12443
Yes files were copied. I stated this in the first line of my message. When I did this the ssl error is resolved but the new message about App Container bit appeared.

[2020-10-14 08:20] AbhinavMir commented on #14014
That worked for me, thank you!

[2020-10-14 08:20] #14014 closed

[2020-10-14 08:28] heylaender opened #14027 "Building package google-cloud-cpp:x86-windows-static-crt-dynamic failed"
Visual Studio Professional 2017
Version 15.9.25

Error: Building package google-cloud-cpp:x86-windows-static-crt-dynamic failed with: BUILD_FAILED
Package: google-cloud-cpp:x86-windows-static-crt-dynamic
Vcpkg version: 2020.06.15-nohash

C:\PROGRA~2\MICROS~3\2017\PROFES~1\VC\Tools\MSVC\1416~1.270\bin\Hostx64\x86\cl.exe   /TP -DCARES_STATICLIB -D_WIN32_WINNT=0x600 -D__CLANG_SUPPORT_DYN_ANNOTATION__

[2020-10-14 08:34] JackBoosY commented on #12443
@skealy  It may be caused by libpq not exporting the required information in the Windows Store App (UWP is not supported).

[2020-10-14 08:39] jcarpent commented on #13865
@JackBoosY Do you have a timeline horizon for this adding EigenPy into vcpkg?

[2020-10-14 08:40] heylaender commented on #14027
[x86-windows-static-crt-dynamic.cmake.txt](https://github.com/microsoft/vcpkg/files/5376809/x86-windows-static-crt-dynamic.cmake.txt)

[2020-10-14 08:52] Nemirtingas commented on #13457
Any new about this ? For now, changing APPEND to PREPEND fix pretty much the issues I had, making CMake use the vcpkg libraries before tryiing systems one.

[2020-10-14 08:56] chenming-wu commented on #13741
Will upstream cpython to the latest version solve this problem? See https://github.com/python/cpython/pull/21113

[2020-10-14 09:25] PhoebeHui commented on #14020
@Trider12, this is not usual scenario we're working on now, does anybody who help have a look?

I tried to build libvorbis:x64-windows-static, however, I can't repro this issue, what does D:/GitRepos/vcpkg/packages/libvorbis_x64-mingw-static/lib/pkgconfig/vorbisfile.pc look like?

[2020-10-14 09:37] JackBoosY commented on #13865
@jcarpent We wish contributors to add it : )

[2020-10-14 09:38] Trider12 commented on #14020
@PhoebeHui, Hi. These are the contents of the file:
`prefix=${pcfiledir}/../..
# libvorbisfile pkg-config source file

exec_prefix=${prefix}/bin
libdir=${prefix}/lib
includedir=${prefix}/include

Name: vorbisfile
Description: vorbisfile is a library that provides a convenient high-level API for decoding and basic manipulation of all Vorbis I audio streams
Version: 1.3.7
Requires.private: vorbis
Co

[2020-10-14 09:44] JackBoosY commented on #13741
@chenming-wu  Maybe, you can have a try.

[2020-10-14 09:48] LouisClt opened #14030 "Unable to compile curl with LDAPS"
Host Environment:
Windows 10 ver 1909, compiler : VS 2019

I tried to compiled Curl with vcpkg , and was unable to get the protocol LDAPS to be enabled in curl (I tried many options). The configuration seems to enable LDAP but not LDAPS.

Steps to reproduce :
Compile curl with tool (and openssl but this does not seem to matter)(in x64 Native commands tools):
vcpkg install curl[tool,openssl] --trip

[2020-10-14 09:52] Nemirtingas opened #14031 "[openssl][docker] Unable to cross-compile on Linux for Windows."
**Describe the bug**
I'm trying to cross-compile openssl for Windows and it fails.

**Environment**
- OS: Ubuntu 18.04 (docker image)
- Compiler: clang, clang-cl, llvm 9

**To Reproduce**
Steps to reproduce the behavior:
Get the clang cross-compiler toolchain here: https://github.com/Nemirtingas/clang-msvc-sdk
Setup the toolchain:
1. Get the Include and Lib folders of winsdk from C:\Program Files

[2020-10-14 10:08] PhoebeHui commented on #14020
@Trider12 , I see, the m library added by https://github.com/microsoft/vcpkg/blob/master/ports/libvorbis/0002-Fixup-pkgconfig-libs.patch#L10

It may has libm in mingw, however, the scripts/cmake/vcpkg_fixup_pkgconfig.cmake has not good support on mingw. So it can't find the library.

cc @Neumann-A

[2020-10-14 10:11] WANGMuyang commented on #9011
you need to change files in installed/vcpkg

[2020-10-14 10:19] Neumann-A commented on #14020
https://github.com/microsoft/vcpkg/blob/7e3d3beac5ca6fe8aab4599d4e1d8ce270ccdea8/scripts/cmake/vcpkg_common_definitions.cmake#L126-L129 probably needs to be updated for mingw? mingw is a community triplet so I don't care enough about it to make it work.

[2020-10-14 11:21] Trider12 commented on #14020
@Neumann-A, thanks! That solved the issue with libvorbis, however, I tried installing SFML again and have the following:

[code]

I checked the logs and see this error:
[code]

I then checked that I do indeed have the `Windows SDK 10.0.18362.0` installed and the `dsound.lib` is there under x64. I'm guessing I need to somehow point CMake to that location?

[2020-10-14 11:31] Neumann-A commented on #14020
https://cmake.org/cmake/help/latest/command/find_package.html#search-procedure

[2020-10-14 11:51] capra314cabra opened #14034 "[antlr4] update to 4.8"
Library name: antlr4

New version number: 4.8

Other information that may be useful (release notes, etc...)

Currently, vcpkg will install that of 4.7.1-3.
https://github.com/antlr/antlr4
https://github.com/antlr/antlr4/releases

[2020-10-14 12:36] sujsin77 commented on #13974
@JackBoosY  both files libprotobuf.dll and libprotoc.dll are already in C:\Software\vcpkg-master\installed\x64-windows\tools\protobuf  location.

[2020-10-14 13:23] sweco-nlecla opened #14038 "[libpqxx] update to 7.2.0"
Library name:
libpqxx

New version number:
7.2.0

Other information that may be useful (release notes, etc...):
https://github.com/jtv/libpqxx/releases

[2020-10-14 13:25] gvcallen commented on #4756
Also broken for me.

[2020-10-14 13:43] skealy commented on #12443
I disabled Store Apps and still got the same error. There must be another issue causing the problem.

[2020-10-14 13:53] e-sauvage opened #14040 "How do i install vtk 8.2.0 via vcpkg"
Hey guys,

i need help with installing vtk v8.2.0 via vcpkg. I don't know how to get the 8.2.0 version installed.
Can someone explain it step by step for me? (for newbies please)

[2020-10-14 13:58] gvcallen commented on #4756
Any temporary fix for this please? Running Windows

[2020-10-14 14:14] sujsin77 commented on #13974
Anyway issue resolved by installing latest update of Visual C++ Redistribution 2015-2019, thanks

[2020-10-14 14:14] fldx commented on #13924
非常感谢，问题解决了
我设置了 `set(VCPKG_PLATFORM_TOOLSET v142)`  再次安装gtkmm时报错了,在Microsoft Visual Studio 14.0没有v142的工具。我发现系统环境变量`VCPKG_VS(忘记具体名称了)`指向了D:\Program Files (x86)\Microsoft Visual Studio 14.0\这个路径,我把这个变量删除编译就可以通过了

[2020-10-14 14:14] #13974 closed

[2020-10-14 14:18] gvcallen commented on #4756
Using this patch in CMAKE https://gist.github.com/brad-anderson/876a8c581abf285dd20b3c532bf48bd2 I am able to find wxWidgets but get loads of linking errors on Windows

[2020-10-14 14:25] asifsaad12 commented on #9328
i am having problem @AlvinZhangH

[2020-10-14 14:41] an-tao opened #14041 "[libmariadb] build failure"
**Host Environment**
- OS:Windows/OSX
- Compiler: MSVC/clang

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg.exe install libmariadb:x64-windows`

**Failure logs**

[code]

[2020-10-14 15:06] 12GardenSeed opened #14042 "[openssl-windows] build failure"
**Host Environment**
- OS: Windows
- Compiler: MVSC

**To Reproduce**
Steps to reproduce the behavior:
 run command`vcpkg install openssl-windows`

**Failure logs**
[code]
**copy-tool-dependencies-err.log**
[code]

[2020-10-14 15:14] amakhno commented on #13827
@PhoebeHui ,
Thank you for your reply!

Do have any ideas on how to deal with this problem?
I tried to look inside the .a file and there are dozens of links but it still doesn't work.

If I change the MPIR portfile.cmake to: (add -fPIC)

[code]

It changes nothing

So I also changed the dependencies of MPFR and CGAL to GMP but there is no real difference in the result

[code]

[2020-10-14 15:38] ljr1981 opened #14043 "graphviz"
Library name: graphviz

Library description: working with directed and undirected graphs

Source repository URL: https://graphviz.org/

Project homepage (if different from the source repository): https://graphviz.org/

Anything else that is useful to know when adding (such as optional features the library may have that should be included): The library already has Visual Studio project files, so it

[2020-10-14 16:13] cbergemann opened #14044 "[libflac] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: VS2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install libflac`

**Failure logs**
.\vcpkg.exe install libflac
Computing installation plan...
The following packages will be built and installed:
    libflac[core]:x86-windows
Detecting compiler hash for triplet x86-windows...
Starting package 1/1: libflac:x86-windows
Building packa

[2020-10-14 16:41] S0PEX commented on #13500
Hey, yeah I have the target_triplet set. For some reason he doesn't find the library right now.
When I applied your changes and now I am getting `V8_LIBRARY` is missing.
Did you changed something in the `V8Config.cmake` after your commit in PR ?

[2020-10-14 16:49] methot-ilya-3ds commented on #14044
I am also having this issue

[2020-10-14 16:53] niclar commented on #13033
works now for linux & windows (including the latest toolset) in: https://github.com/niclar/vcpkg/tree/Issue13033

[2020-10-14 17:07] Kwizatz commented on #13500
@S0PEX I fixed the PR yesterday, I also posted a fix so you don't have to rebuild the whole thing, it does work for me now.

[2020-10-14 17:45] traversaro opened #14045 "Spurious dependency on utf8cpp imported target in assimp CMake imported target"
**Describe the bug**
Since https://github.com/microsoft/vcpkg/pull/13521, the assimp CMake config file contain a transitive dependency to the `utf8cpp` imported target

**Environment**
- OS: Windows
- Compiler: Not relevant

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install assimp
2. Inspect the assimp cmake config file, you will see:
[code]
but no `find_dependency(utf8cpp CONFI

[2020-10-14 17:46] traversaro commented on #14045
fyi @JackBoosY

[2020-10-14 18:12] sfhacker commented on #12443
@skealy Is there any particular reason you require UWP?
I thought this issue was resolved though!

[2020-10-14 18:29] klalumiere commented on #2511
It took me a while to figure this one out, even though the information *is* on the Internet (like always I guess) [here](https://alanedwardes.com/blog/posts/git-username-password-environment-variables/). What we want to do is to "inject" our git credentials inside the script.

Here's a TL;DR/particular implementation that I use on Jenkins:
1) Create a script name e.g. `.git-askpass.sh` that contai

[2020-10-14 18:57] jjaloszy2 opened #14047 "Build failed - protobuf"
This occurred while attempting to install GRPC for the x64-windows triplet.  It was a fresh vcpkg checkout from today, built with the Visual Studio 2019 compiler.  A message appeared suggesting I submit an issue here.

  Package: protobuf:x64-windows
  Vcpkg version: 2020.06.15-nohash

Here's what looks like the relevant portion from the log:

-- CHECK_LIB_protobuf-lite_RELEASE:CHECK_LIB_protobuf-

[2020-10-14 19:17] S0PEX commented on #13500
@Kwizatz
The issue was that, v8 was written capital and therefore failed. Thanks for your help.

[2020-10-14 19:24] PlayerVMachine opened #14048 "[Libgit2] Setting certificate location fails because GIT_OPENSSL is not defined."
When calling git_libgit2_opts() to set the SSL certificate file path this error is returned:
`TLS backend doesn't support certificate locations`
Looking at the libgit2 source this error is printed when neither `GIT_OPENSSL` or `GIT_MBEDTLS` are defined. The solution since the vcpkg build of libgit2 requires openssl is to modify the OPTIONS in  `ports/libgit2/portfile.cmake` to include `-DGIT_OPENS

[2020-10-14 20:28] skealy commented on #12443
If libpq is installed in vcpkg as :x86-windows or :x64-windows a c++/WinRT project (say a Blank App C++/WinRT) cannot use the windows version (the header file libpq-fe.h cannot be found). I have tested by installing sqlite3 in vcpkg. The windows and uwp versions all sucessfully install. A Blank App C++/Winrt project can use the uwp version and can see the libpq-fe.h header.
As vcpkg is designed to

[2020-10-14 20:34] faserg1 commented on #9564
@JackBoosY As I see, there is no way to provide path for these libs directly in configure. But as I see here:
[code]

[2020-10-14 20:45] sfhacker commented on #14047
Are we **STILL** having issues building this port? There are several reported issues about protobuf.
I thought it was already fixed!

[2020-10-14 20:50] Trider12 commented on #14020
Seems to be connected with #7790

[2020-10-14 21:13] klalumiere opened #14049 "curl:x64-linux-dynamic build failure"
**Host Environment**
- Ubuntu 20.04.1 LTS
- Compiler: clang version 10.0.0-4ubuntu1

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install curl:x64-linux-dynamic`

with the triplet `x64-linux-dynamic` described in your tutorial, i.e.

[code]

[code]

vcpkg SHA: `790910f79f653978f90aadd958abf3c407215552`

I'm going to solve the issue and submit a pull request as soon as possible.

[2020-10-14 23:04] Link1J opened #14053 "Use preview versions of Visual Studio before older ones."
****

**Is your feature request related to a problem? Please describe.**
I have two versions of Visual Studio installed, 2019 Preview and 2017 Build Tools. When run `vcpkg install` it was picking Visual Studio 2017, even from a Visual Studio 2019 Powershell prompt.

**Proposed solution**
Have vcpkg pick Visual Studio 2019 Preview before Visual Studio 2017

**Describe alternatives you've considered

[2020-10-15 00:49] tusharb86 opened #14057 "[libzippp] Fix conditional check for WIN32 in portfile for vcpkg_fixup_cmake_targets"
****

**Is your feature request related to a problem? Please describe.**
When building libzippp for Android on my Windows host, I get the following error because of the conditional on [line 21 of libzippp's portfile](https://github.com/microsoft/vcpkg/blob/master/ports/libzippp/portfile.cmake#L21):
[code]

**Proposed solution**
Instead of checking `if(WIN32)`, the portfile should be checking `if(V

[2020-10-15 01:46] NancyLi1013 commented on #13924
Thanks for your update. I'm closing this issue for now since you have solved it.

[2020-10-15 01:46] #13924 closed

[2020-10-15 02:06] PhoebeHui commented on #14042
Duplicated to https://github.com/microsoft/vcpkg/issues/12849.

[2020-10-15 02:06] #14042 closed

[2020-10-15 02:17] PhoebeHui commented on #14040
@e-sauvage, you can try following steps?

1. git clone https://github.com/microsoft/vcpkg
2. cd ./vcpkg
3. git checkout f2e9ef7f259843e116453bbabb7bcc2b13246f13
4. ./bootstrap-vcpkg.bat
5. ./vcpkg install vtk:x64-windows

[2020-10-15 02:34] HeberPcL commented on #14041
Same problem here

[2020-10-15 04:31] WANGMuyang opened #14060 "pangolin build failure"
**Host Environment**
- OS: [e.g. Windows10]
- Compiler: VS2015

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install pangolin`

**Failure logs**
vcpkg install pangolin
Computing installation plan...
The following packages will be built and installed:
    pangolin[core]:x64-windows-static
Detecting compiler hash for triplet x64-windows-static...
Starting package 1/1: pangolin:x64-wind

[2020-10-15 05:38] PhoebeHui commented on #14041
@an-tao, thank for reporting this issue! I have summited PR  #14059 to fix it.

[2020-10-15 05:54] an-tao commented on #14041
@PhoebeHui Thanks for the quick fix. would you like to take a look at the issue #13848? thanks.

[2020-10-15 06:02] PhoebeHui commented on #14047
@jjaloszy2, does the vcpkg path with a space, if so, please create a clone without space in vcpkg path, it looks same issue with #13103, and would fix by PR #13126.

[2020-10-15 06:13] JackBoosY commented on #14045
@traversaro Yep, I missed `find_dependency`. And the utf8cpp is a header only library.

[2020-10-15 06:33] NancyLi1013 commented on #14057
Hi @tusharb86
Thanks for posting this issue.

I will fix this later.

[2020-10-15 06:38] oswjk opened #14062 "[proj4] Rename to proj"
****

**Is your feature request related to a problem? Please describe.**
PROJ4 is the legacy name of the PROJ library. The name PROJ is now preferred. More can be read from https://proj.org/faq.html#what-happened-to-proj-4.

**Proposed solution**
After https://github.com/microsoft/vcpkg/issues/12449 is fixed (by merging https://github.com/microsoft/vcpkg/pull/13428), rename the proj4 port to proj.

[2020-10-15 06:39] LilyWangL commented on #14053
You can add `SET(VCPKG_PLATFORM_TOOLSET v142)` to _[VCPKG_path]/triplets/your_triplet.cmake_, it will use Visual Studio 2019.

[2020-10-15 06:39] JackBoosY commented on #13457
@Nemirtingas There are two scenarios here:
1. If you use the port that depends on zlib in vcpkg, you must use zlib in vcpkg because of its dependency.
2. If not, you can remove zlib in vcpkg by command `./vcpkg remove zlib`, then use `find_package` to find zlib on your own machine.

[2020-10-15 06:41] Nemirtingas commented on #13457
The thing is that my project looks for zlib, I build zlib with vcpkg (because curl needs it), but when building curl, it gets the system's zlib, not theo ne built by vcpkg

[2020-10-15 06:55] OlafvdSpek commented on #14041
Thanks!
Thought I'm wondering again, how did this get merged?

[2020-10-15 07:02] NancyLi1013 commented on #13189
Hi @stekyne
This issue seems to be solved now in the latest version.
So could you please help confirm if this can work fine for you? Please use `git pull` to update to the latest version.

[2020-10-15 07:05] JackBoosY commented on #12443
@skealy Could you please open a new issue to report that?

Thanks.

[2020-10-15 07:11] JackBoosY commented on #13457
So you should execute the following steps:
1. Completely remove zlib using command `./vcpkg remove zlib`
2. Remove folder _VCPKG_ROOT/buildtrees/curl/src_
3. Use `./vcpkg install curl --editable` and terminate the build process
4. Remove the dependency of zlib in _VCPKG_ROOT/ports/curl/CONTROL_
5. Specify the location of find zlib in the curl source _VCPKG_ROOT/buildtrees/curl/src/767f0f2a9e-91d24

[2020-10-15 07:15] Nemirtingas commented on #13457
Doing so, I must again set a special case in my own project that also use zlib, and protobuf that has a feature to use zlib. In fact doing so I must modify every port that uses zlib to find the vcpkg one ?

[2020-10-15 07:19] JackBoosY commented on #14048
Becuase we disabled the openssl feature on Windows.

[2020-10-15 07:26] JackBoosY commented on #13457
@Nemirtingas I believe that because you modified the code of zlib, so you must use zlib on your machine.
In fact, you can apply the modification to the zlib of vcpkg to solve this problem once and for all without needing to modify curl.

[2020-10-15 07:29] Nemirtingas commented on #13457
I did not modify zlib.
I just used vcpkg install curl protobuf[zlib]
Doing so, zlib is build and installed by vcpkg, but all ports that use it show the line:
Found ZLIB: /usr/lib/libz.tbd (found version "1.2.11")
When changing the APPEND to PREDEND in vcpkg, I got
/vcpkg/x86-darwin-release/lib/libz.a

[2020-10-15 07:30] NancyLi1013 commented on #14044
Hi @cbergemann and @methot-ilya-3ds
Thanks for posting this issue.
Could you please help provide the log from _C:\Devel\vcpkg\vcpkg\buildtrees\libflac\install-x86-windows-dbg-out.log_?

I cannot reproduce this on my local machine with Visual Studio 2017 and Visual Studio 2019.

[code]

[2020-10-15 07:43] JackBoosY commented on #13457
Oh, I know what you mean.
Yes, I think you are right, I will discuss with my colleagues.

[2020-10-15 07:52] Nemirtingas commented on #13457
Ok thanks. I use my fork for now, so it doesn't really impact my builds. Thankfully vcpkg is editable ;)

[2020-10-15 08:06] e-sauvage commented on #14040
@PhoebeHui

no i am getting this:

`Computing installation plan...
Error: while parsing the Binary Paragraph for boost-vcpkg-helpers:x64-windows
Error: There are invalid fields in the control file of boost-vcpkg-helpers:x64-windows
The following fields were not expected:

    Port-Version

This is the list of valid fields (case-sensitive):

    Source
    Version
    Description
    Maintainer

[2020-10-15 08:40] PhoebeHui commented on #14040
@e-sauvage, do you create a new clone? if not, please create a new one instead.

[2020-10-15 08:41] e-sauvage commented on #14040
ok i used the same directory. I will create a new one and let you know.

[2020-10-15 08:46] e-sauvage commented on #14040
I am getting still the same error. Its not working.

[2020-10-15 08:52] NancyLi1013 commented on #13848
Seems we need to resolve the problems on `libmariadb `first.
For `libmariadb`, upgrade it to the latest version 3.1.10 and add `iconv `as a feature. `drogon ` should depend on `libmariadb[iconv]` to build on Linux and OSX.

For `libpq`, the usage `find_package(PostgreSQL)`  is right. But it seems that there is lack of the linkage for `libpq `in  this part `drogon_ctl/drogon_ctl`.

[code]
Since I'm

[2020-10-15 08:54] Spejik opened #14065 "[New Port Request] Sleepy Discord"
Library name: Sleepy Discord

Library description: C++ library for creating Discord Bots

Source repository URL: https://github.com/yourWaifu/sleepy-discord

Project homepage (if different from the source repository): https://yourwaifu.dev/sleepy-discord/

Anything else that is useful to know when adding (such as optional features the library may have that should be included): The library requires

[2020-10-15 09:04] PhoebeHui commented on #14040
Could do you also clean the archives? it may use the one you built for previous vcpkg instance.

I tried it locally, I can't repro this issue.

[2020-10-15 09:16] e-sauvage commented on #14040
Which archives do you mean? I've created a new folder in C: vcpkg-2 cloned vcpkg into it and than i did the steps you listed up.
Is there any problem with vs version or python or something?

The main problem is, that i am getting errors with cmake `fatal error C1083: Datei (Include) kann nicht geöffnet werden: "vtkObject.h":`

I read somewhere, that the 9er Version of vtk causes problems like that

[2020-10-15 09:22] PhoebeHui commented on #14040
Could you attach the output after execute ./vcpkg install vtk:x64-windows here?

[2020-10-15 09:25] e-sauvage commented on #14040
Ok i think i solved the problem. I created an env var for the vcpkg-root. I didn't know that it uses this also for installing something.

[2020-10-15 09:27] PhoebeHui commented on #14040
I see, you can try again, it should has no issue to build the vtk, it already built successfully in my local machine.

[2020-10-15 09:32] an-tao commented on #13848
@NancyLi1013 Thanks for your reply. I think the libpq.a is added to the link list.
<img width="1018" alt="截屏2020-10-15 下午5 23 50" src="https://user-images.githubusercontent.com/21002501/96105271-6b59bf00-0f0c-11eb-9d23-996cad4694ae.png">

[2020-10-15 10:25] DhairyaBahl commented on #14065
@PhoebeHui I would like to work on this issue. Kindly assign it to me.

Thanks :)

[2020-10-15 10:50] JonLiu1993 commented on #12801
Duplicate of [#14038  ](https://github.com/microsoft/vcpkg/issues/14038)

[2020-10-15 10:50] #12801 closed

[2020-10-15 11:15] petesew opened #14068 "[New Port Request] net-snmp"
Library name: net-snmp

Library description: An SNMP application library, tools and daemon

Source repository URL: https://sourceforge.net/projects/net-snmp/ and https://github.com/net-snmp/net-snmp

Project home page: http://www.net-snmp.org

[2020-10-15 12:04] jelmer opened #14069 "[New Port Request] serf"
Library name: Apache Serf

Library description: The serf library is a high performance C-based HTTP client library built upon the Apache Portable Runtime (APR) library.

Source repository URL: https://serf.apache.org/

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

This is a dependency for Subversion and the Subversion li

[2020-10-15 12:05] vadi2 opened #14070 "[boost-locale:x64-mingw-dynamic] build failure"
**Host Environment**
- OS: Windows
- Compiler: MinGW 7.3 64bit

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install boost-graph`

**Failure logs**
[code]

**Additional context**
Add any other context about the problem here, such as what you have already tried to resolve the issue.

[2020-10-15 12:43] PlayerVMachine commented on #14048
Ah I see, then it's not a one-liner fix. So is that something that should be added as a [option] or handled automatically depending on the platform's TLS backend?

[2020-10-15 12:54] PlayerVMachine commented on #14048
A colleague pointed out that on macOS libgit2 is also using SecureTransport and not OpenSSL which I had forgotten so likely this option only needs to be set on Linux targets.

[2020-10-15 13:01] jjaloszy2 commented on #14047
@PhoebeHui the path contained a space, as you suspected.  After cloning vcpkg in a path without a space, installing grpc worked fine.   Since this issue is a duplicate, I'm closing it.  Thank you!

[2020-10-15 13:01] #14047 closed

[2020-10-15 14:44] cbergemann commented on #14044
[install-x86-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/5385605/install-x86-windows-dbg-out.log)

Here is the requested log.

[2020-10-15 15:15] alexsmn commented on #13934
Totally agree.

There is the `vcpkg.cmake` toolchain fail that might do all the work. It already installs vcpkg packages when needed. Do you think it can add `find_package` instructions for all imported packages?

[2020-10-15 16:08] skealy opened #14072 "[libpq:x64-uwp] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: see output.text file attached

**To Reproduce**
I installed a fresh vcpkg at C:\src
ran .\bootstrap-vcpkg.bat
ran .\vcpkg integrate install

I then ran .\vcpkg install libpq:x64-windows. This installed correctly see output.txt

I then ran .\vcpkg install libpq:x64-uwp. This installation failed with the error reported in #12443 re openssl command no

[2020-10-15 16:10] jjpepper commented on #13945
It basically seems like clang.exe is behaving as though it is clang-cl.exe here.

[2020-10-15 16:15] Nemirtingas commented on #14031
I found a way to build open-ssl: https://github.com/janbar/openssl-cmake.
It works nearly out of the box. Just need 2 CMake defines to make it cross-compile for Windows.

[2020-10-15 16:41] haofeiyan opened #14073 "[New Port Request] XML-RPC for C/C++"
Library name:
XML-RPC for C/C++
Library description:
XML-RPC for C/C++ (Xmlrpc-c) is developed and distributed by a Sourceforge project.
Source repository URL:
http://xmlrpc-c.sourceforge.net/
Project homepage (if different from the source repository):
http://xmlrpc-c.sourceforge.net/
Anything else that is useful to know when adding (such as optional features the library may have that should be in

[2020-10-15 17:25] stekyne commented on #13189
Yeah seems to be working now. Thanks.

[2020-10-15 17:25] #13189 closed

[2020-10-15 19:32] #14041 closed

[2020-10-15 19:35] #14045 closed

[2020-10-15 21:38] Trider12 opened #14075 "VS2019 fails to recognise vcpkg packages"
**Describe the bug**

I've installed several packages with the `x64-windows-static` triplet and can't include them into a VS2019 project.
Tried to do the following:
- Updated VS to the latest version and restarted windows
- Pulled the latest vcpkg
- Ran the bootstrap file
- `vcpkg update`, `vcpkg integrate remove`, `vcpkg integrate install` in an elevated powershell
- Created a completely new proj

[2020-10-15 22:30] x0rld opened #14076 "error processing vcpkg.cmake"
**Describe the bug**
A clear and concise description of what the bug is.

**Environment**
- OS: [e.g. Windows/Linux etc...]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install xxxx
2. See error
Repro code when

**Expected behavior**
A clear and concise description of what you expected to happen.

**Failure logs**
-(please attached failure logs)

**Additional

[2020-10-15 22:30] #14076 closed

[2020-10-15 22:38] #13527 closed

[2020-10-15 22:41] x0rld opened #14077 "error processing file vcpkg.cmake"
**Describe the bug**
when I run the command to process cmake
` cmake -DCMAKE_BUILD_TYPE=Debug -CMAKE_TOOLCHAIN_FILE=$HOME/vcpkg/scripts/buildsystems/vcpkg.cmake ../`
[code]

**Environment**
- OS: fedora 32
- Compiler: gcc 10.2.1
- cmake version 3.17.4

**To Reproduce**
1. clone the repo and compile it
2. install a package ( I have test with sodium sdl2 and sqlite3 )
2. run the cmake command

[code

[2020-10-16 02:07] PhoebeHui commented on #14065
@DhairyaBahl, thank you for your contribution in advance!

[2020-10-16 03:02] NancyLi1013 commented on #14044
[code]
Why do you use `nasm.exe ` instead of `cl.exe to` build here? I cannot find anything about `nasm `in my build log.

[2020-10-16 03:02] PhoebeHui commented on #14077
@x0rld, could you try below command and see if the error persist?

cmake -DCMAKE_BUILD_TYPE=Debug -**D**CMAKE_TOOLCHAIN_FILE=$HOME/vcpkg/scripts/buildsystems/vcpkg.cmake ../

I can't repro this issue locally.

cmake .. "-DCMAKE_TOOLCHAIN_FILE=/home/phoebe/vcpkg/scripts/buildsystems/vcpkg.cmake" -DCMAKE_BUILD_TYPE=Debug
-- The C compiler identification is GNU 7.5.0
-- The CXX compiler identificatio

[2020-10-16 03:07] PhoebeHui commented on #14070
@vadi2, could you attached failure log  D:\a\Mudlet\Mudlet\3rdparty\vcpkg\buildtrees\boost-locale\install-x64-mingw-dynamic-dbg-out.log?

[2020-10-16 03:18] PhoebeHui commented on #14022
@rockydut, does the issue solved?

[2020-10-16 03:19] #14040 closed

[2020-10-16 03:21] PhoebeHui commented on #13983
@potato0205, reopen this issue if it still be a problem for you.

[2020-10-16 03:21] #13983 closed

[2020-10-16 03:23] PhoebeHui commented on #13914
@ChrisNabold , please reopen this issue and with failure logs if it still be a problem for you.

[2020-10-16 03:23] #13914 closed

[2020-10-16 04:15] kakyoism commented on #7827
Completely agreed. These are not hard problems but probably need traction to get the dev attention.

[2020-10-16 04:16] iskiselev commented on #13744
I got similar problem after updating to latest master on windows:
[code]

VCPKG is executed inside docker container, C:\code and vcpkg root is mounted into C:\code.
On both host and docker container Windows 2016 Server is used.

Currently reproduced it on CI, I'll try to repro it with container locally on Win 10 2004 host.

[2020-10-16 04:41] DhairyaBahl commented on #14065
@PhoebeHui It's my first PR with Microsoft.. but I will try my best :)

Thanks :)

[2020-10-16 05:33] WANGMuyang commented on #14060
To Reproduce
Steps to reproduce the behavior:
./vcpkg upgrade ffmpeg:x64-windows-static

[2020-10-16 05:41] PhoebeHui commented on #14060
Thanks @WANGMuyang for reporting this issue! I coulld repro this issue.

[2020-10-16 05:52] rockydut commented on #14022
Thanks, the problem has solved as what you said. Thanks.

[2020-10-16 05:52] #14022 closed

[2020-10-16 06:48] seanlis opened #14081 "windeployqt locates a release version of icudtXX.dll for a debug binary"
**Describe the bug**
windeployqt locates a release version of icudtXX.dll for a debug binary

**Environment**
- OS: Windows
- Compiler: msvc

**To Reproduce**
Steps to reproduce the behavior:
1. ``> cmd /c "set "path=d:\src\vcpkg\installed\x64-windows\debug\bin;%path%" && d:\src\vcpkg\installed\x64-windows\tools\qt5\debug\bin\windeployqt.exe --qmldir E:\tmp\Project1\QtQuickApplication1 E:\tmp\Proj

[2020-10-16 07:09] iskiselev commented on #13744
Looks like in my case issue is different from original reporter. On windows it was introduced by commit 0bb8780a60e67320a966421e2923595fa57cbf22.
As a workaround I changed C:\appd\agent-dotnet-vcpkg\toolsrc\windows-bootstrap\vcpkg.vcxproj (set VcpkgUseStdFilesystem=0 always and add _SILENCE_EXPERIMENTAL_FILESYSTEM_DEPRECATION_WARNING definition). It helped.

[2020-10-16 07:14] x0rld commented on #14077
oh my bad I didn't see i forget the D thank you

[2020-10-16 07:46] NancyLi1013 commented on #13848
Hi @an-tao
Seems the current fix for `libpq `is not suitable. I try to remove `pg.patch` and update this part as follows:

[code]
as

[code]
The error about `libpq ` disappered and seems only need to fix `libmariadb `now.

[code]
Could you please help check this again?

[2020-10-16 07:47] PhoebeHui commented on #14077
Never mind.

[2020-10-16 07:47] #14077 closed

[2020-10-16 07:49] PhoebeHui commented on #13948
Please reopen this issue if it still be a problem for you.

[2020-10-16 07:49] #13948 closed

[2020-10-16 08:31] PhoebeHui commented on #5823
Currently we have 'Supports'  to indicate the port support or unsupport on the platform.

[2020-10-16 08:31] #5823 closed

[2020-10-16 09:38] LilyWangL commented on #14075
Thanks for posting this issue. Did you run command `vcpkg integrate project` on VCPKG? And could you please provide a simple repro project?

[2020-10-16 10:43] virtualMx commented on #12849
I met it, too, waiting to be solved ...

[2020-10-16 10:53] vadi2 commented on #14070
This seems like an extra step that could be avoided... :)

[code]

[2020-10-16 11:12] sfhacker commented on #12849
@virtualMx What have you 'met'?

[2020-10-16 11:19] virtualMx commented on #12849
**vs2019 16.7.6
Vcpkg package management program version 2020.06.15-nohash**

Computing installation plan...
The following packages will be built and installed:
    openssl-windows[core]:x64-windows
Detecting compiler hash for triplet x64-windows...
Starting package 1/1: openssl-windows:x64-windows
Building package openssl-windows[core]:x64-windows...
Could not locate cached archive: C:\Users\Rebo

[2020-10-16 11:25] sfhacker commented on #12849
@virtualMx We have had no issues building OpenSSL or protobuf from source on Windows at all!
This issue is two months old!
On another note, which (language) translator are you using? I'd like to try it out!

[2020-10-16 11:55] virtualMx commented on #12849
Please don't mind if I make a mistake
I am the same as https://github.com/microsoft/vcpkg/issues/14042

[2020-10-16 12:43] Trider12 commented on #14075
@LilyWangL, I've tried `vcpkg integrate project`, but it's still no use. Here is a repro [project](https://github.com/microsoft/vcpkg/files/5391571/Test.zip).

[2020-10-16 13:47] alek-d commented on #14075
@Trider12 Did you set "Use static libraries" to "yes" in "Configuration Properties/vcpkg"?

[2020-10-16 14:11] Trider12 commented on #14075
@alek-d, I see no vcpkg settings in `Configuration Properties`.

[2020-10-16 14:42] georg-emg opened #14090 "allow specifying the path to the dumpbin executable when using VCPKG_APPLOCAL_DEPS"
****

**Is your feature request related to a problem? Please describe.**
When creating a cmake toolchain under Windows, all the relevant executables can be specified using cmake variables like `CMAKE_CXX_COMPILER` `CMAKE_RC_COMPILER` `CMAKE_MT` etc. This allows for writing a toolchain file that can be run from a regular shell without calling `vcvarsall.bat`, which makes writing CI pipelines a lot

[2020-10-16 15:53] SeanFarrow commented on #13033
@niclar  if you can create a pull request to my fork, I'll fix this this weekend and we can get it merged upstream as soon as practically possible.￼

[2020-10-16 16:44] cbergemann commented on #14044
I think nasm is required for the x86 build of libflac, there are some assembly portions used for that. Installing the x64 version with vcpkg install libflac:x64-windows seems to work correctly.

[2020-10-16 17:23] sfhacker commented on #14030
It works just fine on my box:

curl ldaps://localhost
curl: (7) Failed to connect to localhost port 636: Connection refused

Perhaps your environment is broken?

[2020-10-16 19:36] #14038 closed

[2020-10-17 04:21] an-tao commented on #13848
@NancyLi1013 Thanks so much for your solution, it works on my local host. Now we need to wait the update of libmariadb.

[2020-10-17 05:05] KaungZawHtet commented on #645
+1 to this!
vcpkg needs to be extremely small in docker container

[2020-10-17 05:24] DragonJoker opened #14093 "[New Port Request] Vulkan-Headers"
Library name: Vulkan-Headers

Library description: Vulkan header files and API registry

Source repository URL: https://github.com/KhronosGroup/Vulkan-Headers

[2020-10-17 07:20] datorfix commented on #13806
How do I remove the binary cache? and how to reinstall the cudnn port?

[2020-10-17 08:41] MarekMaslanka opened #14094 "[ffmpeg] build failure"
**Host Environment**
- OS: Windows
- CI: Github actions

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg install ffmpeg`

**Failure logs**
[code]

**Additional context**
Building ffmpeg using Github actions CI with simple yaml:
[code]

[2020-10-17 09:01] #14034 closed

[2020-10-17 09:10] #13464 closed

[2020-10-17 09:11] #13784 closed

[2020-10-17 12:53] xieyubo commented on #13395
This issue should be fixed by commit 27a2418e91179d8607862348d7b498558e98a0ab. @PhoebeHui you can close this now.

[2020-10-17 13:22] DhairyaBahl commented on #14065
@PhoebeHui @Spejik I have cloned this repository in my local machine and I've also cloned the sleepy-discord inside the vcpkg directory. I am a bit confused about those library names OpenSSL CPR WebSocket++ and what exactly I have to do next. Kindly guide me a bit.

Thanks for cooperation :)

[2020-10-17 15:18] lukadriel7 commented on #2643
Hello, from what I get as error, it seems that the qt vs tool assume the debug libraries are located in the same directory as the release ones. The solution would be to change the path for the debug libs

[2020-10-17 16:23] cmaughan opened #14096 "imgui static build does not work with FindPackage"
**Describe the bug**
On Windows:

- Use vcpkg to install imgui:
`vcpkg install imgui:x64-windows-static`

- Add toolchain to CMake:
`set(CMAKE_TOOLCHAIN_FILE ${CMAKE_CURRENT_SOURCE_DIR}/vcpkg/scripts/buildsystems/vcpkg.cmake CACHE STRING "Vcpkg toolchain file")`

- Add find_package to CMakeLists:
`find_package(imgui CONFIG REQUIRED)`

Error:
cannot find imgui-config.cmake, etc.

This does not happ

[2020-10-17 16:46] joel-koch opened #14097 "[vcpkg-gfortran:x64-windows] build failure"
**Host Environment**
- OS: Windows
- Vcpkg version: 2020.06.15-nohash

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install vcpkg-gfortran:x64-windows`

**Failure logs**
Starting package 1/1: vcpkg-gfortran:x64-windows
Building package vcpkg-gfortran[core]:x64-windows...
Could not locate cached archive: path removed
-- The Fortran compiler identification is unknown
-- No Fortran comp

[2020-10-17 17:18] Spejik commented on #14065
@DhairyaBahl The 3 libraries are [here](https://github.com/yourWaifu/sleepy-discord/blob/master/README.md#requirements)
WebSocket++ is for communicating with Discord's realtime API.
Cpr is just curl, but easier to use.
OpenSSL is for TLS/SSL encryption, so it allows cpr and WebSocket++ to use https and wss.
Sleepy Discord uses them internally, so they should be installed upon installing the packag

[2020-10-17 21:32] GrandChris opened #14098 "Docker vcpkg failed to rename file"
**Describe the bug**
I read about "https://code.visualstudio.com/docs/remote/containers" and I wanted to try it with vcpkg.
I'm using Ubuntu on Docker on Windows. Vcpkg is used as a git submodule. When I try to install a package I get an error message with "failed to rename file" and the installation stops. I've tried it with "sqlite3" and "gtest", both with the same result.

**Environment**
- OS:

[2020-10-18 01:25] VelocityRa opened #14099 "[spdlog] build failure on x64-linux"
**Host Environment**
- OS: Linux Ubuntu x64 20.04
- Compiler: gcc 10.2.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install spdlog`

**Failure logs**
![image](https://user-images.githubusercontent.com/6632271/96356610-9ce3ad80-10f9-11eb-9233-1d4d1a18232f.png)
[install-x64-linux-dbg-out.log](https://github.com/microsoft/vcpkg/files/5396934/install-x64-linux-dbg-out.log)

[2020-10-18 03:42] Chapman808 commented on #13897
I currently have the same issue. If anyone can help, please do!

[2020-10-18 09:15] GrandChris commented on #14098
Starting my PC today, Docker asked me to use WSL2 instead of WSL1. I switched to WSL2 and now sqlite builds without failure. So the encountered bug depends on WSL1 and if it is for me, the issue can be closed.

[2020-10-18 12:14] nikolskydn commented on #13951
unfortunately `git pull` doesn't help build:

[code]

[code]

P.S. I am using the branch (-b 2019.06) due to the fact that vcpkg is not building to Debian 9 and gcc 6.3 [issues-13937](https://github.com/microsoft/vcpkg/issues/13937)

[2020-10-18 15:47] cloudhan commented on #12357
if I have commit permission, I will change
https://github.com/microsoft/vcpkg/blob/22c8e3a23afc6be45020cd3f8c92bcea783ce8fa/toolsrc/src/vcpkg/triplet.cpp#L99-L100
to
[code]
right now and force push it...

See how many thumb ups in #1254

[2020-10-18 17:29] Knightly1 commented on #14065
These may not be correct, but I began working on this a bit ago and didn't finish.  In case it helps, the control file that I created is:
[code]

This is the portfile I began, but note that I also have modifications to the cmakelists file in sleepy-discord that are not in this:
[code]

Just in case that helps with where you are.

[2020-10-18 17:35] doanvanthong commented on #9585
if you install opencv , you need remove and check  visual (need vs2017) and check cuda (cuda 10.1) and cunn

[2020-10-18 20:52] McKillroy opened #14103 "Port "hpx" does not recognize being on a debug build when being consumed using vcpkg"
**Describe the bug**
Port "hpx" does not recognize being on a debug build when being consumed using vcpkg

**Environment**
- OS: Windows 10
- Compiler: msvc 19.27.29112.0

**To Reproduce**
Steps to reproduce the behavior:

1. ./vcpkg install hpx:64-windows

2. ./vcpkg integrate install

3. Minimal project (all in one directory):

CmakeLists.txt:
--------------------------
[code]
------------------

[2020-10-18 20:59] McKillroy opened #14104 "Port "hpx" builds, but does not recognize being on a debug build when being consumed using the vcpk toolchain file and Visual Studio"
**Describe the bug**
Port "hpx" builds, but does not recognize being on a debug build when being consumed using the vcpk toolchain file and Visual Studio

**Environment**
- OS: Windows 10
- Compiler: The CXX compiler identification is MSVC 19.27.29112.0

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install hpx:x64-windows
2. ./vcpkg integrate install
3. Minimal Project (all in one

[2020-10-18 21:30] VelocityRa commented on #12357
@cloudhan This is wrong, `_WIN64` will only check if vcpkg is compiled in a 64-bit environment, not if the host is a 64-bit operating system. If vcpkg itself was compiled as 32-bit on a 64-bit system it wouldn't work.

See my implementation recommendation above instead.

[2020-10-18 22:45] McKillroy commented on #14103
Accidentally double posted - this version may be deleted. Replaced by #14104 .

[2020-10-18 22:45] #14103 closed

[2020-10-19 02:10] cloudhan commented on #12357
@VelocityRa Good point, and seems the bootstrap script indeed build 32bit version of vcpkg.exe on a 64bit platform. Another feature request, here you go.

[2020-10-19 02:17] #13395 closed

[2020-10-19 02:17] NancyLi1013 commented on #13848
I will try to update `libmariadb` as soon as possible.

[2020-10-19 02:28] PhoebeHui commented on #13806
@datorfix, sorry for the confuse, could you try following steps?
[code]

[2020-10-19 02:46] KaungZawHtet commented on #13984
already done at #14078 . This can be closed now

[2020-10-19 02:46] #13984 closed

[2020-10-19 05:09] joel-koch commented on #14097
Same problem as in #14094

[2020-10-19 05:38] Krzmbrzl commented on #13955
As long as this is optional (e.g. switchable via a CLI param), I don' think this is a problem at all. In fact I consider not being able to include PDBs is worse than needing some extra disk space :thinking:

[2020-10-19 06:06] joel-koch commented on #14097
There is no https://repo.msys2.org/msys/x86_64/libiconv-1.16-1-x86_64.pkg.tar.xz, but https://repo.msys2.org/msys/x86_64/libiconv-1.16-2-x86_64.pkg.tar.zst on the server

[2020-10-19 06:12] JonLiu1993 commented on #14097
@joel-koch ,Please download the source code package from other link and put it into VCPKG_PATH/downloads then rebuild gfortran.

Thanks.

[2020-10-19 06:31] rockydut opened #14108 "[hypre] build failure on x64-windows-static"
**Host Environment**
- OS: windows
- Compiler: newest

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install hypre:x64-windows-static

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
    hypre[core]:x64-windows-static
Detecting compiler hash for triplet x64-windows-static...
Starting package 1/1: hypre:x64-windows-static
Building pac

[2020-10-19 06:44] JonLiu1993 commented on #14097
Looks like your system has disabled the non-ssl download.
 Please uzip and put [this](https://github.com/microsoft/vcpkg/files/5399586/libiconv-1.16.tar.gz.zip)  to VCPKG_ROOT/downloads and try again.

[2020-10-19 07:11] JonLiu1993 commented on #14097
Duplicate ot #14094

[2020-10-19 07:22] #14097 closed

[2020-10-19 07:25] NancyLi1013 commented on #13951
In your case, I think it would be better to update `libusb` manually on your local.
If we merge master to your branch, you might run into the same issue as that posted in #13937.

So could you please update `libusb` according to this changes https://github.com/microsoft/vcpkg/tree/master/ports/libusb?

[2020-10-19 07:27] JackBoosY commented on #14108
Hi @rockydut, thanks for reporting this issue!
Please provide failure log _F:\Packages\vcpkg\buildtrees\hypre\config-x64-windows-static-out.log_.

Thanks.

[2020-10-19 07:29] LilyWangL commented on #14094
Thanks for posting this issue. This issue ha been fixed in PR #13889. Now when the primary source is down, VCPKG will download from `msys2-mirror`, like this:
[code]

[2020-10-19 07:41] NancyLi1013 commented on #14099
Hi @VelocityRa
Thanks for posting this issue.
I cannot reproduce this on my local with Ubuntu 18.04, gcc 9.2.0.

Have you installed system library `fmt `on your local? If so, could you please remove `fmt `first, then try to rebuild this?

[2020-10-19 08:06] ionutcosminmihaipfa commented on #13929
Could there be an workaround, around this issue?

[2020-10-19 08:10] VelocityRa commented on #14099
Hi @NancyLi1013
`fmt` got forcefully rebuilt as expected (since the `spdlog` port depends on it)
Same issue after that.
[command.txt](https://github.com/microsoft/vcpkg/files/5400122/command.txt)
(the `dbg-out.log` is the same so I'm not posting it again.)

Perhaps you have to use my env to repro (Ubuntu 20.04 with GCC 10.2.0).

[2020-10-19 08:22] LilyWangL commented on #14096
Thanks for posting this issue. If you want use imgui static library in your cmake project, you need set `VCPKG_TARGET_TRIPLET` in your project, like this **CMakeSettings.json**:
[code]

[2020-10-19 08:23] rockydut commented on #14108
I know why it is failure, It can not find mpi.h file. I copy this file to the installed/include file, it just OK. Thanks.

[2020-10-19 08:23] #14108 closed

[2020-10-19 08:26] VelocityRa commented on #14099
Tried it again, building everything from scratch (clearing all of `vcpkg_installed`, its caches, etc) and it worked!
Thanks.

[2020-10-19 08:26] #14099 closed

[2020-10-19 08:37] JackBoosY commented on #13929
@ionutcosminmihaipfa  See #14109

[2020-10-19 08:50] LouisClt commented on #14030
Hi, thank you for your answer.
I had already tested it on another computer, but I tested it again on another clean environment : installed last version of visual studio 2019, and last version of Windows 10 Kit (because maybe I thought it was needed for the installation). I did again the vcpkg installation of curl and got a similar result (but this time even ldap was not  recognised at the end!).
S

[2020-10-19 09:33] JackBoosY commented on #14062
Generally, we use the version-free name of the library to define the port common name (such as `opencv`), not this.

[2020-10-19 09:36] JackBoosY commented on #9564
@faserg1 I think it's okay.

[2020-10-19 09:42] faserg1 commented on #9564
@JackBoosY I think there is a way to patch `configure.in` in atkmm source to generate `configure` (via autoreconf) without pkgconfig deps, and use flags to provide libs. But I think provide `.pc` files is a better way to make `configure` work.

[2020-10-19 10:20] sfhacker commented on #14030
Most people who post here do not know how to setup their own environment (among other things).
Such ignorance/lack of experience makes us waste a lot of time.
Perhaps you seek advise from a workmate.

![image](https://user-images.githubusercontent.com/25817529/96432393-90259d80-1250-11eb-86ca-bae691aa2ce2.png)

[2020-10-19 10:28] PhoebeHui commented on #14104
@McKillroy, thanks for reporting this issue!

I have summited PR #14112 to fix this issue.

[2020-10-19 11:53] shauser67 opened #14113 "[opencolorio:x64-osx] build failure"
**Host Environment**
- OS: macOS 10.15
- Compiler: Apple clang 12.0.0
- YAML: 0.6.3

**To Reproduce**

`./vcpkg --triplet x64-osx install opencolorio`

All dependencies of opencolorio were installed successfully, but compilation of opencolorio failed.

**Failure logs**

Console output:
[code]
install-x64-osx-dbg-out.log:
[code]

[2020-10-19 11:59] MrBolt2005 opened #14114 "opencl[wdk]:x64-windows build failure"
**Host Environment**
- OS: Windows
- Compiler: MSVC 14.27.29110 (part of MS Visual Studio 2019 Community Edition)

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Failure logs**
[code]
_(running from CMD via Windows Terminal (Microsoft Store))_

**Additional context**
Already tried as well:
[code]

(no output - AT ALL -)

and_:_
[code]

[2020-10-19 13:53] cmaughan commented on #14096
Thanks, indeed adding set(VCPKG_TARGET_TRIPLET "x64-windows-static") before the toolchain file sorted this and other libraries out.  It took quite a bit of searching to figure it out; it doesn't seem to be documented very well, but certainly was needed for several of the libraries I wanted to use.

[2020-10-19 13:53] #14096 closed

[2020-10-19 15:05] quickiwiki opened #14115 "benchmark build failure"
**Host Environment**
- OS: Windows
- Compiler: MSVC 2017

**To Reproduce**
Steps to reproduce the behaviour:
`./vcpkg install benchmark`

**Failure logs**
-error LNK2001: unresolved external symbol __CxxFrameHandler4

**Additional context**
precompiled libraries included in the package benchmark.lib and benchmark_main.lib have been compiled using MSVC 2019 which result in build failure on MSVC 201

[2020-10-19 16:51] Shatur95 commented on #1653
Thanks!It would be convenient to make this option a flag (I see it was made a function after all).

[2020-10-19 17:08] Shatur95 commented on #1653
If I replace `_install` with `install` - it works.

BTW, it would be nice to have this functionality as a command-line option.

[2020-10-19 17:31] Shatur95 commented on #1653
It also not works with CPack. To make it work you should replace this:

[code]

with this:

[code]

Can I send a fix?

[2020-10-19 20:53] ionutcosminmihaipfa commented on #13929
I tested the PR, the installation works fine with it, waiting to see it merged into master.

[2020-10-19 21:14] dokipen3d opened #14119 "[boost-math] build failure"
Having trouble installing boost-sort as it stops when it gets to boost-math.

- OS:  Windows x64 1909
- Compiler: VS2019

[code]

[2020-10-19 21:41] #14115 closed

[2020-10-19 21:41] quickiwiki commented on #14115
Sorry, was opened by mistake

[2020-10-19 21:43] BillyONeal commented on #14098
Do you have some sort of antivirus program on this system? WSL1 would expose that file to the AV tool but WSL2 would not.

[2020-10-20 00:12] PhoebeHui commented on #14119
Duplicated to https://github.com/microsoft/vcpkg/issues/8199.

[2020-10-20 00:12] #14119 closed

[2020-10-20 00:46] BillyONeal commented on #13827
@amakhno Could this be coming from the `gmp` port rather than the `mpir` port?

I know mpir provides some gmp headers but I think it uses different lib names?

[2020-10-20 02:18] NancyLi1013 commented on #13848
Hi @an-tao
I have submitted a PR #14121 to update `libmariadb`. After this PR merged, we can try to update the patch and dependency for `drogon`.

I have tested this on my local machine and `drogon `can build fine on osx.

[2020-10-20 02:21] an-tao commented on #13848
@NancyLi1013 Thanks so much.

[2020-10-20 02:29] an-tao commented on #13848
@NancyLi1013 Have you tested it on Linux? I think we better test drogon and libmariadb on Linux as well.

[2020-10-20 02:58] NancyLi1013 commented on #13848
Thanks for your kindly reminder. I will test it on Linux today.

[2020-10-20 04:48] GrandChris commented on #14098
Nothing special, only Windows Defender I guess.

[2020-10-20 05:16] pwm1234 commented on #11875
@NancyLi1013 and @JackBoosY the opencv contrib modules/hdf/CMakeLists.txt still has the incorrect logic for win32. The special logic does not properly link the debug hdf5 libraries. It still builds, but it does not correctly link against the debug libraries.

[2020-10-20 06:36] NancyLi1013 commented on #13848
Seems `iconv `is only required on osx. I try to build on Linux, there is no error about `iconv`, only something wrong with `libpq`. The same fix as that in osx, just need to update the patch for the usage of `libpq`.

[2020-10-20 06:37] JackBoosY commented on #11875
cc @cenit

[2020-10-20 07:38] amakhno commented on #13827
No, when you build mpir it also creates libgmp* libraries (for compatibility, probably)

I've found a stupid workaround for using the system GMP from libgmp3-dev. After installation of all dependencies I manually (bash script) remove all gmp/mpir files from `vcpkg/installed` directory.

With CMake files generation I have CGAL static references to VCPKG and a dynamic reference to GMP in PATH

[2020-10-20 07:57] cbuchart commented on #13881
I'll answer your points:

1. I'm working with the latest tag (2020.07), and PCL does include QHull.
2. Sorry, I forgot to include the typedef `using PointT = pcl::PointXYZ;`.
3. Once applied that I had to solve a couple of extra errors (some `fopen` is unsecure, and an issue where flann doesn't define `pop_t`.

The whole example is:

[code]

Nevertheless, it seems to be compiling correctly though

[2020-10-20 08:10] zivmc commented on #8066
Here is a work around to compile vcpkg on Linux Ubuntu Trusty 14.04.

The code cuased “undefined reference to `std::iostream_category()`” locates in `/usr/include/c++/7.5.0/bits/ios_base.h`, similar file path for gcc-8 and gcc-9.

Precisely, code around line 200 of `bits/ios_base.h` caused the link error:

[code]

Inline function `make_error_code` and `make_error_condition` are used by vcpkg, and

[2020-10-20 08:25] an-tao commented on #13848
@NancyLi1013 Thanks so much.

[2020-10-20 09:47] joel-koch opened #14124 "Bring back Visual Studio output"
****

**Is your feature request related to a problem? Please describe.**
The project setup is as follows:
A CMake project in directory root, vcpkg included as git submodule, the toolchain file is set to "${CMAKE_CURRENT_SOURCE_DIR}/vcpkg/scripts/buildsystems/vcpkg.cmake" as suggested and we use a vcpkg.json manifest file in the root directory.
We are using Visual Studio as IDE and the "open folder

[2020-10-20 09:54] NancyLi1013 commented on #13881
Thanks for your above details.
I will try to build the example again to see the new results.

[2020-10-20 11:00] gregshasaliedown opened #14126 "vcpkg refuses to update due to SDL2 vcpkg.json error."
On both Windows and Linux (Mint), I get the following error when I try _vcpkg update_:

Reading the last git pull, it appears sdl2 has just changed from a CONTROL file to vcpkg.json.
This error also prevents me from updating all the other libraries in one go.

[2020-10-20 11:45] Xobtah opened #14127 "[libnoise] LNK2019 error with libnoise"
**Describe the bug**
As described on StackOverflow : https://stackoverflow.com/questions/64441733/lnk2019-error-when-using-a-library-installed-with-vcpkg
`vcpkg` is integrated to Visual Studio 2019 and works fine with any other library, but libnoise doesn't work right away. I have installed the triplet `x64-windows`, and try to compile this C++ program in x64 :
[code]
I get this error :
[code]

**

[2020-10-20 11:58] 9and3 commented on #10093
Hello @moregion ,

I actually have the same boost-test issue. May I ask how did you solve this issue? Thanks.

[2020-10-20 12:04] sandercox commented on #1653
Good catch. I've been testing it only with a custom install function as only then would this be transparent.

So I have this inside my own `CMakeLists.txt` - part of the original patch on splitting the aruguments for the install function.

[code]

Unfortunately this part of the patch wasn't accepted by the VCPKG team.

Awesome. Glad you could test that as I have no experience with that part of cma

[2020-10-20 12:28] 9and3 commented on #9345
Hello I do have the same problem in trying to install pcl.

Error: Building package boost-test:x64-windows failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `.\vcpkg update`, then
submit an issue at https://github.com/Microsoft/vcpkg/issues including:
  Package: boost-test:x64-windows
  Vcpkg version: 2020.06.15-nohash

Anyone managed to solve it? Thanks

[2020-10-20 12:29] Shatur95 commented on #1653
Last time was the problem with CPack, but now it works correctly. Maybe they accept a new version with an option to override install command as you did?
I'll test it as soon as you open the PR.

[2020-10-20 12:29] cmaughan opened #14128 "[ Efsw ] port does not put the share files in the right place"
**Describe the bug**
When I install efsw:x64-windows-static, the efswConfig.cmake, etc. files wind up here:
D:\Dev\vcpkg\installed\x64-windows-static\share\efsw\efsw
(note the extra efsw directory).

This means that later on, find_package in cmake cannot find the config file.  I checked that moving these files out of the extra subdirectory fixes the problem, but I'm not sure how to fix the port fi

[2020-10-20 12:36] sandercox commented on #1653
After the new PR #14129 the custom install command should change to:

[code]

[2020-10-20 12:41] 9and3 opened #14130 "[<port name>] build failure"
**Host Environment**
- Windows
- 2020.06.15-nohash

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg install pcl:x64-windows`

**Failure logs**
Error: Building package boost-test:x64-windows failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `.\vcpkg update`, then
submit an issue at https://github.com/Microsoft/vcpkg/issues including:
  Package: boost-test:x64

[2020-10-20 12:46] Shatur95 commented on #1653
Thanks! CPack just not works correctly if `${CMAKE_INSTALL_PREFIX}` specified outside the `x_vcpkg_install_local_dependencies`.
But now it works :)

[2020-10-20 14:57] #14053 closed

[2020-10-20 16:03] andrew-klaassen opened #14132 "OpenColorIO not found for static build of OpenImageIO"
**Describe the bug**
I built openimageio both dynamically and statically, specifying tools and opencolorio support for both.  OpenColorIO support ended up in the dynamic build of oiiotool.exe, but it did not end up in the static build.

**Environment**
Windows 10
Visual Studio 2019

**To Reproduce**
Steps to reproduce the behavior:
1. vcpkg install openimageio[opencolorio,tools]:x64-windows-static

[2020-10-20 16:04] StarGate-One commented on #14126
Try ...
`git pull` on both Windows and Linux
Windows `.\bootstrap-vcpkg.bat`
Linux `./bootstrap-vcpkg.sh`
This will recompile the vcpkg binary taking in the changes made to the `vcpkg.json` file layout.
Run the `vcpkg update` or `vcpkg upgrade` again on each Windows and Linux.

[2020-10-20 16:09] Shatur95 commented on #1653
I also noticed that Qt translations (.qm files) are not copied. But I think that this is vcpkg issue.

[2020-10-20 17:16] virtualritz commented on #13758
Bump.

[2020-10-20 17:58] alexsmn opened #14133 "[qt5-base] build failure with manifests"
**Host Environment**
- OS: Windows
- Compiler: `Microsoft (R) C/C++ Optimizing Compiler Version 19.27.29112 for x86`
- CMake: 3.18.0
- Vcpkg revision: 27a2418e91179d8607862348d7b498558e98a0ab

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Failure logs**
CMake output:
[code]

`d:\vcpkg\buildtrees\qt5-base\stdout-x86-windows.log`:
[code]

**Additional context**
When not using manifest,

[2020-10-20 17:59] #14060 closed

[2020-10-20 18:29] #14049 closed

[2020-10-20 18:33] thomasgt opened #14134 "[libsodium] use of AVX512 is not portable"
**Describe the bug**
We are using vcpkg to build dependencies for an application deployed as a Docker container. Our CI build machines have the AVX512 extensions, but the machines we deploy to often don't. The libsodium port [detects the availability of the AVX512 extensions](https://github.com/microsoft/vcpkg/blob/4aa08938a22f7cb90842280571005c4a637e7098/ports/libsodium/CMakeLists.txt#L358), and

[2020-10-20 18:48] 9and3 opened #14135 "PCL and Eigen Reference Console Application"
Hi,

I have installed PCL using vcpkg:
`.\vcpkg install pcl:x64-windows` and `.\vcpkg integrate install`

And I am trying just to reference any pcl header file for C++ 64 bit Console Application.
But the compiler cannot find Eigen.
The VCPKG shows that I installed the 64 bit version of Eigen.
I just want to see if I can build a console application by referencing any PCL header file and that it is

[2020-10-20 19:25] #14093 closed

[2020-10-20 20:20] #13986 closed

[2020-10-20 20:39] #14130 closed

[2020-10-20 20:40] venabled opened #14136 "[lcm] linker error for `pcre` and `pthread`"
**Host Environment**
- OS: Ubuntu 18.04 - Linux
- Compiler: gcc version 9.3.0 (Ubuntu 9.3.0-11ubuntu0~18.04.1)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install lcm`

**Failure logs**
- Attached log from console output
[install-x64-linux-dbg-out.log](https://github.com/microsoft/vcpkg/files/5411382/install-x64-linux-dbg-out.log)

**Additional context**
Appears to be an issue with

[2020-10-20 20:50] gregshasaliedown commented on #14126
That worked. Thank you.

[2020-10-20 20:50] #14126 closed

[2020-10-20 21:29] BillyONeal commented on #14098
Closing this as a duplicate of https://github.com/microsoft/vcpkg/issues/8199

[2020-10-20 21:29] #14098 closed

[2020-10-20 21:43] #14104 closed

[2020-10-20 22:03] thomasgt commented on #14134
I'd be happy to provide more info to help reproduce this if there's interest. I've noticed GCC's auto-vectorization is a bit fragile, so it even with `-mavx512f`, I didn't always get binaries using the extension. It seemed to depend heavily on the version of the compiler I was using, possibly even the phase of the moon.

[2020-10-20 22:10] Redwolf223 opened #14138 "zlib build failure"
**Host Environment**
- OS: Windows
- Compiler: Visual studio 2015

**To Reproduce**
Steps to reproduce the behavior:
`../vcpkg install zlib:x64-windows`

**Failure logs**
https://pastebin.com/wqpCHxk4

[2020-10-20 22:34] thomasgt commented on #14134
Found an issue that might be related: #7308

I'll note that this is a different type of problem than the one fixed in this PR: #8974. It does not seem like the CPU capabilities are being detected incorrectly. It is just that they way these extensions are enabled is not portable. According to GCC's docs [1], it seems the portable way to do this would be to disable these extensions for most of the s

[2020-10-20 23:10] thomasgt commented on #14134
Looking through the project's [makefile](https://github.com/jedisct1/libsodium/blob/master/src/libsodium/Makefile.am), it appears they follow GCC's recommendation. Most of the source files are not compiled with any special intrinsics enabled. The files that do rely on intrinsics are built into separate individual libraries that each add the appropriate `-m` flag. This allows the library to be port

[2020-10-20 23:54] sfhacker commented on #14134
Any particular reason you need to use vcpkg?
I will build this project from source myself and report back here.

[2020-10-21 00:25] BillyONeal commented on #13827
hmmm interesting:

[code]

Strange that they don't do that for Windows builds ¯\_(ツ)_/¯

[code]

As you filed a defect report upstream let's see what they do with it.

[2020-10-21 01:16] advra opened #14140 "Installing on raspberry pi 3b+"
I installed the latest version of cmake and was following [some instructions i made ](https://github.com/advra/grpc-vcpkg-boilerplate-example)to integrate a project that used vcpkg with grpc. I compiled vcpkg from source with:
[code]
After installing vcpkg I try to install package with `./vcpkg install grpc` which resulted in the error bellow. The instructions worked on a OSX and Ubuntu but I run

[2020-10-21 01:34] NancyLi1013 commented on #13848
`libmariadb `has been updated to 3.1.10 in master.
Would you like to make a PR to fix this issue for `drogon` if possible? Please let me know if you're willing to do this.

[2020-10-21 02:07] NancyLi1013 commented on #13881
`pcl::ConcaveHull<PointT> chull;`

Seems to be incorrect.

1>c:\users\source\repos\consoleapplication5\consoleapplication5\consoleapplication5.cpp(19): error C2039: 'ConcaveHull': is not a member of 'pcl'
1>f:\new\vcpkg\installed\x86-windows\include\pcl\pcl_base.h(58): note: see declaration of 'pcl'
1>c:\users\source\repos\consoleapplication5\consoleapplication5\consoleapplication5.cpp(19): error

[2020-10-21 02:19] PhoebeHui commented on #14138
@Redwolf223, do you install the English language pack? if not, could you install it by Visual studio?

Failures:
[code]

[2020-10-21 02:29] JackBoosY commented on #14127
Confirmed.

[2020-10-21 02:30] JackBoosY commented on #14133
cc @Neumann-A  @strega-nil

[2020-10-21 02:31] advra commented on #9570
After cloning and compiling from source I get the following error:

[code]
Any suggestions? I have tried to set the variable to with both 0 and 1 but that did not help. (src: https://stackoverflow.com/questions/55204593/how-to-specify-cmake-version-used-by-vcpkg)

[2020-10-21 02:48] JonLiu1993 commented on #14128
Hi @cmaughan ,
Thanks for posting this issue
It seems that you didn't build the latest version.
Could you please try to use git pull to update vcpkg to the latest commit and then rebuild this port?

[2020-10-21 03:05] advra commented on #3647
@jagrme00 I am having the same issue with Ubuntu 20.04 shell hangs and nothing happens. Did you ever figure it out?

[2020-10-21 03:05] JackBoosY commented on #13758
Just remove double quotes from this will solve this issue:
https://github.com/microsoft/vcpkg/blob/b14aa50824c073629f1c7b44ded905a7b4bd7152/ports/ptex/portfile.cmake#L28

[2020-10-21 03:11] LilyWangL commented on #14135
Thanks for posting this issue. If you want use header files of VCPKG in C++ project, you also need run command `.\vcpkg integrate project` on VCPKG. About use header files of Eigen3 will be fixed in PR #13739.

[2020-10-21 03:11] JackBoosY commented on #14140
Hmm...I don't have a raspberry pi, @BillyONeal could you please take a look?

Thanks.

[2020-10-21 03:35] BillyONeal commented on #14140
Isn't it:

[code]

in bash?

[2020-10-21 04:05] #13758 closed

[2020-10-21 07:31] francis-wangfr commented on #14113
I got same build errors above as I tried to install OpenImageIO[opencolorio]:x64-osx. Is there a workarond? Thanks to your help.

[2020-10-21 09:03] JackBoosY commented on #14114
0xC0000135STATUS_DLL_NOT_FOUND | {Unable To Locate Component} This application has failed to start because %hs was not found. Reinstalling the application might fix this problem.
-- | --

Please remove folder _D:\src\vcpkg>D:/src/vcpkg/downloads/tools/python_, close your anti-virus and try again.

Thanks.

[2020-10-21 09:44] JonLiu1993 commented on #13877
Duplicate to #13536

[2020-10-21 09:44] #13877 closed

[2020-10-21 09:57] PhoebeHui commented on #14134
@thomasgt, thanks for reporting this issue! Could you provide the repro steps and failure log?

cc @myd7349

[2020-10-21 09:58] NancyLi1013 commented on #14124
@BillyONeal
Could you please help take a look?

Thanks.

[2020-10-21 10:01] PhoebeHui commented on #13999
@StepLogic, does this still be a problem for you?

[2020-10-21 10:06] PhoebeHui commented on #12736
@57Hao, does this still be a problem for you?

[2020-10-21 10:08] 57Hao commented on #12736
no ，thanks

[2020-10-21 10:08] #12736 closed

[2020-10-21 10:08] Redwolf223 commented on #14138
Thank you! It fixed the problem.

[2020-10-21 10:08] #14138 closed

[2020-10-21 10:12] PhoebeHui commented on #13877
Mlpack has been updated to 3.4.1, please get latest source and try again, related to PR https://github.com/microsoft/vcpkg/pull/14122.

[2020-10-21 10:59] an-tao commented on #13848
@NancyLi1013 Thanks so much. I've made a PR (#14148) to fix this issue.

[2020-10-21 11:29] sfhacker commented on #14134
![image](https://user-images.githubusercontent.com/25817529/96713629-9ea8bc00-13ec-11eb-986f-85e4a94dc521.png)

![image](https://user-images.githubusercontent.com/25817529/96713641-a4060680-13ec-11eb-8c6a-5d9e78026155.png)

@thomasgt Can you provide a minimum use (or test) case so I can test it locally?

[2020-10-21 11:36] Szabolcs commented on #14132
I just happened to bump into the same OCIO static linking bug on linux. Its a bit more problematic there, because static linking is  the default linking mode so compiling OIIO with OCIO support is not working on linux at all with VCPKG at the moment.

[2020-10-21 11:58] RamadanAhmed opened #14149 "problem in opencv port"
****

**Is your feature request related to a problem? Please describe.**
Hi,
I have a problem with opencv port that it must install opencv4 even if opencv3 is already installed
if there is away to make it depend on opencv3 or opencv4 or opencv2 so if one is installed in vcpkg it doesn't break installation of other packages depend on opencv

**Proposed solution**
I have solved using overlay ports o

[2020-10-21 12:20] linquize commented on #3647
@jagrme00 why sudo?

[2020-10-21 12:33] Xobtah commented on #14127
I see your changes have been approved. Once merged, do I need to update the vcpkg repository and update the lib ?

[2020-10-21 12:42] 9and3 commented on #14135
Thanks @LilyWangL for your answer. Unfortunatelly, even by introducing modification commented at PR#13739 the problem persists. Any idea why? Thank you again,

[2020-10-21 13:10] StepLogic commented on #13999
@PhoebeHui  thanks ..for the support ..I am current setting up on new computer from my older computer if i encounter the same error i will do well to reopen the issue

[2020-10-21 13:10] #13999 closed

[2020-10-21 13:17] jagrme00 commented on #3647
@advra Unfortunately I had no time to analyze this behavior. Since I needed only a few libraries, I built them from source with CMake.

@linquize I'm not a linux expert, but I thought it's better to try it with sudo because I don't know what commands are executed by this script. In addition I was too lazy to look inside the script. As far as  I can see it shouldn't be the reason for the problem.

[2020-10-21 13:46] Redwolf223 opened #14150 "cmake could not find toolchain file build failure"
**Host Environment**
- OS: Windows
- Compiler: Visual studio 15 2017

**To Reproduce**
cmake -DCMAKE_TOOLCHAIN_FILE=<PATH_TO_VCPKG>\scripts\buildsystems\vcpkg.cmake -DVCPKG_TARGET_TRIPLET=x64-windows -A x64 ..

**Failure logs**
$ cmake -DCMAKE_TOOLCHAIN_FILE=C:\dev\vcpkg\vcpkg\scripts\buildsystems\vcpkg.cmake -DVCPKG_TARGET_TRIPLET=x64-windows -
A x64 ..
CMake Error at C:/Program Files/CMake/share

[2020-10-21 13:51] thomasgt commented on #14134
Here's a more detailed description of the environment:

**Environment**
- debian:buster
- gcc 8.3
- machine with AVX-512 extensions to build libsodium package
- machine without AVX-512 extensions to build and run application (where the failure happens (SIGILL)
- alternatively, you can build the entire application on the machine with AVX-512 extensions, but you'll need to ultimately run it on the m

[2020-10-21 15:59] BillyONeal commented on #14134
This has come up a few times; we are torn between a desire for the built outputs to be "portable" as described and getting native CPU instructions being a common reason to build any of these ports from source in the first place. I think we have suggested that it might make sense to make this a triplet setting somehow but we have not gotten proposals as of yet.

[2020-10-21 16:32] strega-nil commented on #14133
cc @Neumann-A, I don't even know where to start with this.

[2020-10-21 16:40] linquize commented on #3647
@jagrme00
vcpkg minimum requirement is gcc 6.
Ubuntu 16.04 has only gcc 5.3, which is not supported.

[2020-10-21 17:32] thomasgt commented on #14134
I guess there are two issues here.

The first issue is that this port's autoconf to cmake translation is not quite faithful. The original autoconf files in the project attempt to keep the library "portable" by only enabling the native instructions where runtime detection is being enforced. So there's an argument to be made that the port's cmake translation should be updated to better reflect the l

[2020-10-21 18:04] Neumann-A commented on #14133
`--debug `output needed
and probably a run of
https://github.com/microsoft/vcpkg/pull/12877
with `--trace` or `--trace-expand`
It is probably a confusion between one of the VCPKG cmake variables.

[2020-10-21 18:07] Neumann-A commented on #14150
Use forward slashes `/` instead of backward ones `\` or escape the backwards ones `\\`.
That is also more a CMake issue than a vcpkg issue

[2020-10-21 18:12] Neumann-A commented on #14124
I introduced that change.
Should probably be switched to
[code]
instead and write the contents manually to a file.
or make a VCPKG_ variable which enables/disables manifest installation output.

Basically if you have a binary cache with all deps you want it probably disabled and enabled if you need to install something.

[2020-10-21 18:28] wangniancai opened #14151 "change the policy about lib and source"
I found the vcpkg is so big ,how to compress the folder or just install the lib/dll.

[2020-10-21 18:31] drescherjm commented on #14151
https://github.com/microsoft/vcpkg/issues/2202 may be an option if you don't need to debug the sources of a library

[2020-10-21 19:33] arthur-tacca commented on #645
I know this is not really the right place for this, but: Has anyone successfully bootstrapped vcpkg and built some ports in a Windows Docker container? If so, would they be kind enough to share their Dockerfile? The original issue that this issue is actually about has been resolved (there's a switch to turn off the prompt) - is there some other problem preventing vcpkg running in Docker?

[2020-10-21 19:36] ekilmer commented on #12984
I'm still exploring this feature, but I think including the hardcoded key in the `nuget` command is a bug.

I can open a PR to get more eyes on any consequences that may result, but here is my diff:
[code]

ping @ras0219

[2020-10-21 20:50] jozefizso commented on #12663
Is this issue still relevant as protobuf port was updated to higher version then 3.12.4?

[2020-10-21 21:05] MrBolt2005 commented on #14114
Still, not working. And I even zipped up a backup of that Python folder, by the way, too:
`D:\src\vcpkg>vcpkg install opencl[wdk] --triplet=x64-windows
Computing installation plan...
The following packages will be built and installed:
    opencl[core,wdk]:x64-windows
Detecting compiler hash for triplet x64-windows...
Starting package 1/1: opencl:x64-windows
Building package opencl[core,wdk]:x64-wi

[2020-10-21 21:20] atimholt commented on #4577
Nothing has occurred to resolve this, and I'm having this problem right now. Please consider this comment a petition to re-open the issue.

[2020-10-21 23:31] #14127 closed

[2020-10-21 23:32] #13538 closed

[2020-10-21 23:34] #14057 closed

[2020-10-22 00:41] #13894 closed

[2020-10-22 00:43] #14128 closed

[2020-10-22 01:10] alexsmn commented on #14133
Pushed some [example code](https://github.com/alexsmn/vcpkg-sandbox/tree/main/bug-1).

Will be happy to provide more data. I guess `--debug`, `--trace`, and `--trace-expand` are `vcpkg` command line arguments. How to you specify these arguments when installing a package from manifest?

[2020-10-22 01:40] #12663 closed

[2020-10-22 02:03] jjpepper commented on #13945
Hey @LilyWangL have you tried this?  Is clang.exe supported?  The reason I want this is that I'm seeing much worse machine code generated by clang-cl.exe.  Bizarre, right?

[2020-10-22 02:17] JackBoosY commented on #14127
@Xobtah Don't needed, the only think you need to do is update vcpkg and rebuild this port.

[2020-10-22 02:29] PhoebeHui commented on #12765
@ig-or, we have upgraded CMake to 3.18.4, and marble built successfully now, please get latest source and try again.

[2020-10-22 02:29] #12765 closed

[2020-10-22 04:37] scially opened #14154 "[boost-exception]] msvc.write-setup-script .\x86-windows-rel\boost\standalone\msvc\...\msvc-setup.bat the system cannot find the path specified"
**Host Environment**
- OS: Windows
- Compiler: Visual Studio 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install boost`

**Failure logs**
-- Downloading https://github.com/boostorg/exception/archive/boost-1.73.0.tar.gz...
-- Extracting source D:/vcpkg/downloads/boostorg-exception-boost-1.73.0.tar.gz
-- Using source at D:/vcpkg/buildtrees/boost-exception/src/ost-1.73.0-f8dcf39b

[2020-10-22 04:59] jiangjianshan opened #14155 "[New Port Request] <coreutils>"
Library name:  coreutils

Library description: The GNU Core Utilities are the basic file, shell and text manipulation utilities of the GNU operating system. These are the core utilities which are expected to exist on every operating system.

Source repository URL: https://ftp.gnu.org/gnu/coreutils/coreutils-8.32.tar.xz

Project homepage (if different from the source repository): https://www.gnu.or

[2020-10-22 05:40] shauser67 commented on #14113
Unfortunately I am not aware of a workaround. I am afraid installing OpenImageIO without OpenColorIO wouldn't be an option for you as well.

[2020-10-22 05:47] PhoebeHui commented on #14114
@MrBolt2005, from your log, it seems to use the cmake from 'C:/ProgramData/chocolatey/lib/cmake.portable/tools/cmake-3.18.4-win64-x64/bin/cmake.exe' could you remove this and see if this issue still exist?

[2020-10-22 05:59] spindensity opened #14156 "[qt5]Can't preview qml file via qmlscene, qtquick2plugin.dll cannot be loaded"
**Describe the bug**
Can't preview `qml` file via `qmlscene`, error `can't load library qtquick2plugin.dll` is reported when using `qmlscene` on the commond line.

**Environment**
- OS: Windows 20H1 64bit;
- Compiler: MSVC 2019 16.7.6;
- Qt: 5.15.1.

**To Reproduce**
Steps to reproduce the behavior, we assume the installation directory of vcpkg is `D:\Repository\vcpkg`:
1. `vcpkg install qt5:x64-w

[2020-10-22 06:41] jagrme00 commented on #3647
@linquize Thanks for this information.

[2020-10-22 07:01] stvriver opened #14157 "How do I safely clean vcpkg archives and disable it?"
Recently I realize that the archives folder stored in Windows at "C:\Users\usrName\AppData\Local\vcpkg\archives" is quite big. Since I do not need this archives while it occupies some precious SSD space. How can I safely remove this folder and prevent vcpkg from storing back in future?

[2020-10-22 07:11] PhoebeHui commented on #14154
@scially, could you check if D:\vcpkg\buildtrees\boost-exception\x86-windows-rel\boost\standalone\msvc\4c43e23ab5ea979f4503513265cfdf27\msvc-setup.bat exist?

Failures:
[code]

[2020-10-22 07:18] cenit commented on #14149
Unfortunately that's the way to go.
We have a general opencv port which depends on opencv4, and other ports must depend on opencv and not a specific version.
In this way with overlays you only have to overlay opencv and make it depend on opencv3.
Only the darknet port can be installed with dependency on a specific opencv version using features, others have to rely on the method you have already di

[2020-10-22 07:39] NancyLi1013 commented on #14151
Hi @wangniancai
Thanks for posting this issue.
Currently, there are no ways to implement what you hope to do.

In order to save your space, you can remove some temporary files, such as removing `packages\`, `buildtrees\`, and `downloads\` folders.

https://github.com/microsoft/vcpkg/blob/master/docs/about/faq.md#how-can-i-remove-temporary-files

[2020-10-22 07:43] whidbey opened #14158 "[ spdlog ]Build error"
when build and install,says:
Failed at [C:\vcpkg\toolsrc\src\vcpkg\vcpkglib.cpp(214)] with message:
no such file or directory

**Environment**
- OS: win7
- Compiler: vs2019/vs2017

**To Reproduce**
Steps to reproduce the behavior:
cd c:/vcpkg
1.git pull
2. ./bootstrap-vcpkg.bat
3. vcpkg integrate install
4. ./vcpkg install spdlog:x86-windows-static
. See error
Repro code when

**Expected behavior*

[2020-10-22 08:04] datorfix commented on #13806
Thankyou very much! That did the trick!

[2020-10-22 08:04] #13806 closed

[2020-10-22 08:23] advra commented on #14140
The export command worked. Thank you for clearing that up.

[2020-10-22 08:25] LilyWangL commented on #13945
Sorry I am late. I try to reproduce this issue, but I build my project succeeded.
This is my CMakeSettings.json:
[code]
This is my CMakeLists.txt:
[code]
This is my CMakeProject12.cpp:
[code]
This is result:
[code]

[2020-10-22 08:32] dllg opened #14160 "[redis-plus-plus] Update to 1.2.1 and support Windows"
**Is your feature request related to a problem? Please describe.**
I cannot build redis-plus-plus on vcpkg in Windows. Redis-plus-plus version 1.2.1 supports building in Windows.

**Proposed solution**
Update to version 1.2.1 and enable building support for Windows.

**Additional context**
See commit that supports building on Windows: https://github.com/sewenew/redis-plus-plus/commit/c48d79bf62a21

[2020-10-22 08:39] #14140 closed

[2020-10-22 08:46] NancyLi1013 commented on #14044
Hi @cbergemann

Could you please try to update this in CMakeLists.txt to rebuild `libflac`?

diff --git a/CMakeLists.txt b/CMakeLists.txt

[code]
The reference from https://github.com/conan-io/conan-center-index/pull/1840

[2020-10-22 08:49] dllg commented on #14160
I tried pushing my branch with a proposed solution, but seems I'm missing some credentials. Anyway here's a patch if someone wants to continue with this issue.

[code]

[2020-10-22 08:49] jjpepper commented on #13945
Can you try my code at `https://github.com/jjpepper/vcpkg-absl-clang-problem`.  Key differences:
I have ` "generator": "Ninja",`
I have `absl::flat_hash_map` linked
my main.cpp:
[code]
my CMakeLists.txt:
[code]

my CMakeSettings.json:
[code]

[2020-10-22 08:52] JonLiu1993 commented on #14158
Hi @whidbey ,Thanks for posting this issue. Do you can install other ports successfully?

[2020-10-22 08:55] jjpepper commented on #13945
When I try with the same generator as you, I get the following error:

[code]

[2020-10-22 09:14] cbergemann commented on #14044
I don't think this option is the problem, the problem is with the /wd* parameters. Changing

[code]
to

[code]

lets the compilation succeed for x86-windows. However, I do not understand how this could compile in the first place.

[2020-10-22 09:22] danielbuhrig opened #14161 "[benchmark] build failure"
**Host Environment**
- OS: Windows
- Compiler: cl 19.27.29112

**To Reproduce**
`./vcpkg install benchmark`

**Failure logs**
Error: Building package benchmark:x64-windows failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `.\vcpkg update`, then
submit an issue at https://github.com/Microsoft/vcpkg/issues including:
  Package: benchmark:x64-windows
  Vcpkg version: 2020

[2020-10-22 09:39] Neumann-A commented on #14156
Did it work fine with Qt 5.15.0?

[2020-10-22 09:45] PhoebeHui commented on #10588
@PauloFavero, we have upgrade cmake to 3.18.4, could you help confirm if this issue still persist in your machine?

[2020-10-22 09:46] PhoebeHui commented on #13874
@s-kim333, does this still be a problem for you?

[2020-10-22 09:53] PhoebeHui commented on #12966
Duplicated to https://github.com/microsoft/vcpkg/issues/13461.

[2020-10-22 09:53] #12966 closed

[2020-10-22 09:56] NancyLi1013 commented on #14017
Hi @ArtlyStyles
Please let me know if this is still a problem for you.

Thanks.

[2020-10-22 09:56] NancyLi1013 commented on #13951
@nikolskydn
Does this issue still exist on your machine now?

[2020-10-22 09:59] PhoebeHui commented on #13461
Duplicated to https://github.com/microsoft/vcpkg/issues/12620

[2020-10-22 09:59] #13461 closed

[2020-10-22 10:36] sfhacker commented on #14158
Are we still having issues building 'spdlog'?
@whidbey Have you contacted us before (several times) regarding other issues?

[2020-10-22 10:39] x-bruce opened #14163 "[boost_thread] build failure x86-mingw-dynamic"
**Host Environment**
- OS: [Windows10.]
- Compiler: QT mingw 7.3 win32

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install boost-thread:x86-mingw-dynamic`

**Failure logs**
PS C:\Tools\vcpkg-2020.07>  .\vcpkg.exe install boost-thread:x86-mingw-dynamic
Computing installation plan...
The following packages will be built and installed:
    boost-thread[core]:x86-mingw-dynamic
Detectin

[2020-10-22 10:44] sfhacker commented on #13951
@nikolskydn Are we still having issues building libusb?

[2020-10-22 11:29] PauloFavero commented on #10588
I'm not able to test it anymore :(

[2020-10-22 11:32] MicroYY commented on #9272
Anything update? Still no qsv support

[2020-10-22 11:39] MrBolt2005 opened #14164 "[boringssl:x64-linux] build failure"
**Host Environment**
- OS: Ubuntu 20.04 LTS @ WSL 2
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`mrbolt2005@DESKTOP-B8RVLOM:/mnt/d/src/vcpkg$ .**/vcpkg install boringssl**
Computing installation plan...
The following packages will be built and installed:
    boringssl[core]:x64-linux
Detecting compiler hash for triplet x64-linux...
Starting package 1/1: boringssl:x64-li

[2020-10-22 11:39] MrBolt2005 commented on #14164
*Compiler: GCC

Vcpkg version: 2020.06.15-unknownhash

[2020-10-22 11:42] spindensity commented on #14156
No, Qt 5.15.0 (4a3d9e22d1b104332c5faf98abfcee94b671c9ef) did not work.

By the way, `vcpkg install qt5:x64-windows` could reproduce the bug, installing `qt5[all]` is unnecessary.

[2020-10-22 11:59] Neumann-A commented on #14156
https://stackoverflow.com/questions/38030140/import-qtquick-controls-2-0-not-working-qqmlapplicationengine-failed-to-load-c

probably unrelated to `qtquick2plugin.dll`

I assume that `D:\Repository\vcpkg\installed\x64-windows\tools\qt5\bin\` does not have the required qml/quick dlls copied over from `D:\Repository\vcpkg\installed\x64-windows\bin`

I assume it is related to https://github.com/micro

[2020-10-22 12:27] jjpepper commented on #13945
My vcpkg is 8 days old:
[code]

I tried updating to the latest vcpkg and rebuilding, but the problem persists.

On top of that, I get a different new error in with clang-cl.exe when I add `#include <absl/container/flat_hash_map.h>`, so after hours of rebuilding, now my clang-cl build is broken too. :-(

[code]

[2020-10-22 12:42] spindensity commented on #14156
Yes, The latest version (Qt 5.15.1, vcpkg d6032b525870f30d21aeb144e655a8e8fcba8736) did not copy some QtQuick and QML related dlls  to `tools\qt5\bin`:

![Snipaste_2020-10-22_20-32-52](https://user-images.githubusercontent.com/33576822/96872257-f9eab500-14a5-11eb-86c4-5410ca3f018e.png)

I copied these three missing dlls manually:
* `Qt5QmlWorkerScript.dll`
* `Qt5QuickParticles.dll`
* `Qt5QuickWidg

[2020-10-22 12:51] SNiLD commented on #2640
What solved the problem?

I have the same issue where we store bin, lib and include per library separately in our own repository and we have our own CMake system that fetches these libraries. But doing `vcpkg export <lib> --raw` exports also the dependency libraries/includes/pdbs so I can't just copy the directories directly.

[2020-10-22 13:02] MrBolt2005 commented on #14114
Still effed-up:
` D:\src\vcpkg>vcpkg install xsimd[xcomplex] --triplet=x64-windows
Computing installation plan...
The following packages will be built and installed:
  * nlohmann-json[core]:x64-windows
    xsimd[core,xcomplex]:x64-windows
  * xtl[core]:x64-windows
Additional packages (*) will be modified to complete this operation.
Detecting compiler hash for triplet x64-windows...
Starting packag

[2020-10-22 13:02] MrBolt2005 commented on #14114
ALWAYS that I try to unzip with tar, it gives me the "Can't restore time" error. :-(

[2020-10-22 14:11] ciuczek-dev commented on #12809
Build breaks when linking against mariadbclient.lib
Windows 10 64bit
Visual Studio 2019

[install-x86-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/5423319/install-x86-windows-dbg-out.log)
[](url)

[2020-10-22 14:55] whidbey commented on #14158
no, openssl also the same.... can't figureout it

[2020-10-22 14:56] whidbey commented on #14158
before that i install zeromq serveral month ago ok.

[2020-10-22 15:18] scially commented on #14154
it is not exist...

[2020-10-22 15:25] nikolskydn commented on #13951
Sorry, for delaying the answer.

Custom building  helped me.

[2020-10-22 15:25] #13951 closed

[2020-10-22 16:24] MFMokbel opened #14166 "[YARA] update to 4.0.2"
Library name: YARA

New version number: 4.0.2

Current vcpkg support is for version 3.10.0-1 and latest available version is 4.0.2. https://github.com/VirusTotal/yara/

[2020-10-22 16:30] hodoulp commented on #14113
The `Yaml` library version used to compile OpenColorIO, expects a C++11 (or higher) compilation flag which is **not** the default compilation for OpenColorIO version 1.x.

Note: The version detection for `Yaml` is kind of flaky because there are no good way to 'understand' the version of an installed `yaml` library so, it explains the problem here.

The usual way to select the right C++ version us

[2020-10-22 16:32] MFMokbel commented on #14166
Closing this issue, since it is  duplicate of #13478.

[2020-10-22 16:32] #14166 closed

[2020-10-22 16:58] lindkvis commented on #9570
@advra how exactly did you set the environment variable?

On bash (default shell for Raspbian) this would be:
[code]

I also ran into the issue that vcpkg required ./vcpkg to run as root (i.e. sudo) and the variable did not carry over from my current user for some reason.

[2020-10-22 18:51] advra commented on #9570
@lindkvis when you export it doesnt persist from terminal to terminal (at least I think so). to do this you need to add the line ` export VCPKG_FORCE_SYSTEM_BINARIES=1` to your .basrc file so that it is executed each time you open a new terminal.

Editing `~/.bashrc` is system wide and not on a per user basis.

[2020-10-22 19:15] shauser67 commented on #14113
Thanks for the detailed explanations! I am not an vcpkg expert, but I am afraid vcpkg always uses the most recent version of a library, so it  might not be possible to downgrade to yaml 0.5.1.

Under Linux opencolorio compiles without problems in combination with yaml 0.6.3. So I tried to compile it with support for C++11 under macOS - and there are no errors as well. The quick solution is to add

[2020-10-22 19:33] advra opened #14169 "CMakelist Error No Target File When Building gRPC"
I have a makelist which works great for unix and windows but not atypical systems such as raspbian which require building from source. It looks like VCPKG provides some configuration settings that must be applied to the CMakeLists.

Below are the following CMake settings required after installing `grpc` and `protobuf` respectively:
[code]
My assumption was to place these at the root CMakelist.txt

[2020-10-22 19:38] RamadanAhmed commented on #14149
Thanks @cenit for clarification

[2020-10-22 19:38] #14149 closed

[2020-10-22 20:15] Shatur95 commented on #1653
@sandercox, could you open the PR with `install` function override? I would be happy to test it.

[2020-10-22 20:37] matwey commented on #12385
No, It can't currently. `vcpkg_configure_make` hardcodes Visual Studio compiler into `CXX` env at Windows system.

[2020-10-22 20:57] ig-or commented on #12765
Great, thanks!  All is looks like working on my side also.

[2020-10-22 22:32] advra opened #14170 "[grpc_arm-linux] Missing grpc plugins"
**Host Environment**
- OS: arm/raspbian
- Compiler: cmake version 3.19.0-rc1 compiled from source

**Issue**:
[code]
Vcpkg package for arm is missing compiled language support for protobufs. Without these a project cannot generate protobufs that rely on grpc.

**To Reproduce**
Steps to reproduce the behavior: Install grpc on arm, should be arm-linux package. Then attempt to compile a grpc project.

[2020-10-22 22:58] hodoulp commented on #14113
To better explain my proposal which is to let OpenColorIO uses the right third-party library version (i.e. not the installed ones), here are the new settings for `vcpkg`:
[code]

Note: The Linux compilation is the example where OpenColorIO uses the right third-party libraries i.e. `USE_EXTERNAL_XXX` are all OFF by default.

[2020-10-22 23:14] issdn opened #14171 "[opencv] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg install opencv[core,dnn,ffmpeg,jpeg,opengl,png,tiff,webp] --triplet x64-windows`
`.\vcpkg install darknet[full]:x64-windows`
`.\vcpkg install darknet[opencv-base,cuda,cudnn] --triplet x64-windows`

**Failure logs**
Computing installation plan...
The following packages will be buil

[2020-10-23 00:32] chris-shenzhen-china opened #14173 "vcpkg install libyuv:x64-windows failed, could you help me?"
When asking a question please also include where you looked for an answer (so we can update the documentation if needed).
vcpkg install libyuv:x64-windows failed, could you help me?

[2020-10-23 02:11] JonLiu1993 commented on #14158
@whidbey , You can try remove all instalition of vcpkg(and of course api) and install again.

[2020-10-23 02:14] JackBoosY commented on #14156
Did we forget to copy some libraries to the tools folder?

[2020-10-23 02:20] PhoebeHui commented on #10588
Please reopen this issue If you encounter the issue again. Sorry for not being of much help.

[2020-10-23 02:20] #10588 closed

[2020-10-23 02:25] JackBoosY commented on #14164
[code]

[2020-10-23 02:26] JackBoosY commented on #14171
[code]

[2020-10-23 02:29] PhoebeHui commented on #14114
What's cmake revision do you use? It looks a cmake issue https://gitlab.kitware.com/cmake/cmake/-/issues/19132.

[2020-10-23 02:55] JackBoosY commented on #14158
`Failed at [C:\vcpkg\toolsrc\src\vcpkg\vcpkglib.cpp(214)] with message:`
Empty message?

[2020-10-23 03:05] whidbey commented on #14158
I dont have a virus soft now... but network firewall.

[2020-10-23 03:06] whidbey commented on #14158
I am trying to clone a new full vcpkg to see again.
git clone https://github.com/microsoft/vcpkg.git vcpkg2

[2020-10-23 03:13] nil-is-lin commented on #12849
It works, so this problem is solved? However, after this, installing many package(mathgl for example) will throw these messages：

Can we have other approaches for this problem?

[2020-10-23 03:15] JackBoosY commented on #12849
@nil-is-lin We are trying to replace the ps1 script with executable to completely solve this issue.

[2020-10-23 03:16] JackBoosY commented on #14171
Confirmed.

[2020-10-23 03:47] francis-wangfr commented on #14113
Thank you, @hodoulp Patrick, it works with above solution.
After that, I got another error about incorrect definition "-D-DOpenColorIO_STATIC". I had to fix it with removing the "-D" ahead of "OpenColorIO_STATIC" in the file
"/buildtrees/openimageio/src/9c73ea82cc-f088f982ce/src/cmake/modules/FindOpenColorIO.cmake". And build again with --editable option to vcpkg command.

[2020-10-23 04:03] KaungZawHtet opened #14176 "[TensorFlow] update to 2.3"

[2020-10-23 06:00] JWFrank commented on #14171
I got the same problem.
The software environment as follows:
Win10
CUDA 10.1
Cudnn 7.6.0
VS 2019 with C++

The log of Config-x64-windows-out stop at "ninja: build stopped: subcommand failed. "

If someone can solve this problem, thanks for your help.

[2020-10-23 06:32] JackBoosY commented on #14171
cc @cenit, does this issue related to the cmake update?

[2020-10-23 06:51] LilyWangL commented on #14161
Thanks for posting this issue. Could you remove _[VCPKG_path]/buildtrees/benchmark_ and install `benchmark` again?

[2020-10-23 06:53] LilyWangL commented on #14173
Thanks for posting this issue. Could you please provide the error log?

[2020-10-23 06:58] JackBoosY commented on #14171
Hi gus, I opened a PR #14177 to fix this issue, please test if it works.

Thanks.

[2020-10-23 07:05] JackBoosY commented on #13945
In _VCPKG_ROOT/installed/TRIPLET/share/absl/abslTargets.cmake_:
[code]
I think `-ignore:4221` shouldn't be added into `INTERFACE_LINK_LIBRARIES`.

[2020-10-23 07:25] JackBoosY commented on #13897
Can you use command `./vcpkg install ffmpeg --editable` and modify _VCPKG_ROOT/buildtrees/ffmpeg/src/FOLDER_WITHOUT_CLEAN/libavuti;/buffer.c_ line 19,
from `#include <stdatomic.h>` to `#include <atomic>`
and try again?

[2020-10-23 07:27] danielbuhrig commented on #14161
Hi. I did delete the folder, however, I still get the same error.

[2020-10-23 07:34] #13211 closed

[2020-10-23 07:35] whidbey commented on #14158
a new fresh vcpkg is ok..... don't know why... but works..thanks...

[2020-10-23 07:35] #14158 closed

[2020-10-23 07:36] lindkvis opened #14178 "[pixman] build failure on ARM32 due to -msse2"
**Host Environment**
- OS: Linux Raspbian Buster 10.6 arm7l (32-bit)
- Compiler: gcc 8.3.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install pixman`

**Failure logs**

**Additional context**
Add any other context about the problem here, such as what you have already tried to resolve the issue.
[code]

* The CMakeFile adds -msse2 if you're on UNIX and you have 32-bit pointers.
* T

[2020-10-23 07:36] JackBoosY commented on #14158
@whidbey I guess you should have permission to create directory on the system disk.

[2020-10-23 07:51] NancyLi1013 commented on #14044
Hi @cbergemann
Without these two options, does it build successfully on your machine?

[2020-10-23 07:52] JackBoosY commented on #14023
[code]
To
[code]

[2020-10-23 08:01] NancyLi1013 commented on #9272
@mcmtroffaes

Would you like to help add these features for `ffmpg`?

Thanks in advance.

[2020-10-23 08:12] Markus87 commented on #13845
I spent some time trying to understand how vcpkg builds boost and learned:
* Dependencies are automatically looked up by searching the source of the module for included headers (vcpkg\scripts\boost\generate-ports.ps1:285)
* vcpkg never downloads all of boost, but only modules that are built

Knowing this I consider my original question answered.

In order to get what I need I would need to modify

[2020-10-23 08:12] #13845 closed

[2020-10-23 08:23] NancyLi1013 commented on #14157
Hi @stvriver
Thanks for posting this issue.
These archives stored in _C:\Users\usrName\AppData\Local\vcpkg\archives_ are binary caches for the ports that you build.

You can delete them directly if you don't want to keep them.

[2020-10-23 08:45] NancyLi1013 commented on #14157
You can disable it by updating these changes in _toolsrc/include/vcpkg/vcpkgcmdarguments.h_ file:

[code]
Related PR #12370.

[2020-10-23 08:49] chris-shenzhen-china commented on #14173
D:\project-vs\vcpkg\vcpkg>vcpkg install libyuv:x64-windows
Computing installation plan...
The following packages will be built and installed:
    libyuv[core]:x64-windows
Detecting compiler hash for triplet x64-windows...
Starting package 1/1: libyuv:x64-windows
Building package libyuv[core]:x64-windows...
Could not locate cached archive: C:\Users\test\AppData\Local\vcpkg\archives\be\beee223c4a5cf

[2020-10-23 08:51] LilyWangL commented on #13945
@jjpepper I think this is a source issue. Could you please submit an issue on source page: https://github.com/abseil/abseil-cpp?

[2020-10-23 08:51] chris-shenzhen-china commented on #14173
here is the error info in cenos:
[root@centos-hw vcpkg]# ./vcpkg install libyuv:x64-linux
Computing installation plan...
The following packages will be built and installed:
    libyuv[core]:x64-linux
Detecting compiler hash for triplet x64-linux...
Starting package 1/1: libyuv:x64-linux
Building package libyuv[core]:x64-linux...
Could not locate cached archive: /root/.cache/vcpkg/archives/0e/0eefd

[2020-10-23 09:08] jjpepper commented on #13945
It’s not a source issue. I’ve examined the source. They switch off that
compiler switch for Win32 builds

On Fri, 23 Oct 2020 at 4:51 pm, Lily <notifications@github.com> wrote:

[2020-10-23 09:19] whidbey commented on #14158
but why new full fresh vcpkg is ok.. can't explain....

[2020-10-23 09:20] JackBoosY commented on #13945
https://github.com/abseil/abseil-cpp/blob/eb317a701b83bf9a4f2a035d75747a3d76a48324/CMake/AbseilHelpers.cmake#L190-L195
The options should be added in `target_compile_options` instead of `target_link_libraries`.
That casued this issue.

[2020-10-23 09:21] JackBoosY commented on #14158
Sorry, I don't know either.

[2020-10-23 09:48] NancyLi1013 commented on #14169
Hi @advra
Thanks for posting this issue.

[code]
Do you use the triplet `arm-linux` to build your project?

[2020-10-23 09:53] JackBoosY commented on #14062
If you have other question, please ping me.

[2020-10-23 09:53] #14062 closed

[2020-10-23 09:59] SNiLD commented on #2640
Turns out there's list of files installed by each package in the `vcpkg-export\installed\vcpkg\info\package-triplet.list` file. So I made a batch file that copies files referenced here to a separate directory.

Here is the batch file (`strip_export.bat`) located in vcpkg root directory (where vcpkg.exe is):
[code]

Usage: `strip_export.bat <export_directory> <export_list_name>`

For example I have

[2020-10-23 10:14] traversaro commented on #11547
I don't know, I am afraid that mixing the logic of where to place build artifacts and where to install them can have several unwanted consequences.

[2020-10-23 10:26] bl-ue opened #14181 "[quill] update to 1.4.1"
Library name: [quill](https://github.com/odygrd/quill)

New version number: 1.4.1

Other information that may be useful (release notes, etc...)
https://github.com/odygrd/quill/releases/tag/v1.4.1

[2020-10-23 10:29] Nemirtingas commented on #11547
Why not a simple recursive readlink on the base file on any OS different than Windows and copy all files + symbolic links ?

[2020-10-23 11:16] mcmtroffaes commented on #9272
Currently a bit too swamped with other things to take a lead on this.

I lack the hardware to test amf or qsv. For openh264, https://github.com/cisco/openh264 needs to be added as a port first. Judging from the readme, this will be non-trivial for vcpkg, requiring msvc to be called from an msys2 shell (similar to what we currently do to compile ffmpeg itself). Happy to help with reviewing and test

[2020-10-23 11:52] MrBolt2005 commented on #14114
C:\Program Files\CMake\bin>cmake --version
cmake version 3.18.4

CMake suite maintained and supported by Kitware (kitware.com/cmake).

C:\Program Files\CMake\bin>

Enviado do Email<https://go.microsoft.com/fwlink/?LinkId=550986> para Windows 10

De: Phoebe<mailto:notifications@github.com>
Enviado:quinta-feira, 22 de outubro de 2020 23:29
Para: microsoft/vcpkg<mailto:vcpkg@noreply.github.com>
Cc:Mr

[2020-10-23 11:54] MrBolt2005 commented on #14164
I already tried uninstalling, but ALWAYS that I try to uninstall either boring or openssl, it gives a message saying that it’s not installed. What gives!?

Enviado do Email<https://go.microsoft.com/fwlink/?LinkId=550986> para Windows 10

De: Jack·Boos·Yu<mailto:notifications@github.com>
Enviado:quinta-feira, 22 de outubro de 2020 23:26
Para: microsoft/vcpkg<mailto:vcpkg@noreply.github.com>
Cc:MrBo

[2020-10-23 12:46] sweco-nlahoo opened #14182 "[pdal] build failure"
**Host Environment**
- OS: Xubuntu 20.04
- Compiler: gcc 9.3.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install pdal:x64-linux`

**Failure logs**
See attachment for a log from a first attempt
[install-x64-linux-dbg-out.log](https://github.com/microsoft/vcpkg/files/5429485/install-x64-linux-dbg-out.log)

**Additional context**
I tried quickly fixing it by getting rid of the warni

[2020-10-23 12:51] xieyubo commented on #14170
Thanks for reporting this issue. Will take a look.

[2020-10-23 13:18] GeorgeR commented on #14182
On the top of my list for Saturday :+1:

[2020-10-23 13:33] Speff commented on #14171
Hey @JackBoosY. I was experiencing the same issue as issdn and the PR resolved it for me. Thank you!

[2020-10-23 14:21] xieyubo commented on #14170
Seems grpc plugin is disabled for arm/arm64 build. Not sure the reason. I enable it. Let's see what will happen.

[2020-10-23 14:29] xieyubo commented on #14169
Seems related to issue #14170

[2020-10-23 14:32] jjpepper commented on #13945
@JackBoosY can you explain a bit more?  I don't think `-ignore:4221` will work with clang.exe at all, it's an MSVC or clang-cl.exe switch isn't it?  Are you saying that switch will work as a compile option to clang.exe (not clang-cl)?

[2020-10-23 14:35] jjpepper commented on #13945
[code]
and then
[code]

So I don't see how making it appear in target_compile_options will change anything?

[2020-10-23 14:52] fabceolin opened #14185 "bzip2 build failure over mapped shared volume in windows"
**Host Environment**
- OS: Windows 2019 server running over virtualbox, host ubuntu 20.04, with shared folder called network, mapped a vcpkg directory
- Compiler: visualstudio2017
(installed from choco, packages: visualstudio2017buildtools visualstudio2017-workload-vctools)

**To Reproduce**
Steps to reproduce the behavior:
rem # map network drive to z:
pushd //vboxsrv/network
cd /d z:\vcpkg
vcpkg

[2020-10-23 15:13] advra commented on #14169
_Some detail I left out:  I am unable to use vcpkg after install unless I set this variable `export VCPKG_FORCE_SYSTEM_BINARIES=1`. vcpkg was installed with `./bootstrap-vcpkg.sh -disableMetrics`. I am unsure if the installation method of my vcpkg affects the build of packages so I thought it was noteworthy.

Prior to building grpc the the dependency package `vcpkg/packages/protobuf_arm-linux/tool

[2020-10-23 15:15] advra commented on #14170
Okay, let me know when it is enabled so I can uninstall and reinstall. I will then attempt to compile.

[2020-10-23 16:11] x-bruce commented on #14163
x86-mingw-dynamic

while the error says  “libboost_chrono.so”  ?
error: '/boost//C:/Tools/vcpkg-2020.07/installed/x86-mingw-dynamic/debug/lib/libboost_chrono.so'

In the dir of C:/Tools/vcpkg-2020.07/installed/x86-mingw-dynamic/debug/lib  I found has bellow file:
libboost_chrono.dll.a

[2020-10-23 16:50] issdn commented on #14171
This worked, thank you.

[2020-10-23 18:53] #13893 closed

[2020-10-23 22:15] #13918 closed

[2020-10-23 22:20] virtualritz opened #14190 "[opensubdiv] Enable supported platforms & fix broken build"
OpenSubdiv builds fine on iOS, Windows, Linux, and macOS. The latter two platforms are explicitly disabled in the port's `profile.cmake`.

Enabling them still makes the port fail for me on macOS. I tried building OpenSubdiv manually from latest master in [the official repo](https://github.com/PixarAnimationStudios/OpenSubdiv) and this works fine for me. So something else needs fixing in the port t

[2020-10-24 01:36] mllw opened #14191 "Can support mips arch?"

[2020-10-24 04:09] an-tao commented on #13848
@NancyLi1013 Now drogon can be installed successfully on linux and OSX with the latest vckpg, but on Windows, there are some link errors with libmariadb, please take a took at it, thanks.
[code]

[2020-10-24 04:22] #8058 closed

[2020-10-24 04:22] #8225 closed

[2020-10-24 04:22] #9497 closed

[2020-10-24 04:27] BillyONeal commented on #14155
Hi there, @jiangjianshan ; when/how would someone want to use coreutils as a library? Note that we don't generally intend to provide "tools" unless they are needed to build something.

[2020-10-24 05:55] advra commented on #14170
I ran `cmake -DVCPKG_TARGET_TRIPLET=arm-linux ..` and still received the error `grpc_cpp_plugin was not found`.

[code]

[2020-10-24 06:17] MatthewPMatherne7 opened #14193 "How do I ..."
When asking a question please also include where you looked for an answer (so we can update the documentation if needed).

[2020-10-24 09:20] sweco-nlahoo opened #14194 "[qt5-base] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: MSVC++ 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install qt5-base:x64-windows`

**Failure logs**
It's not so much the building but it fails to download some of its dependencies, a broken mirror perhaps?:

[code]

**Additional context**
n/a

[2020-10-24 10:28] mganss commented on #13500
Fixed in #13355.

[2020-10-24 11:02] xieyubo commented on #14170
Do you see the grpc_plugins under the vcpkg installation  folder now?

[2020-10-24 11:09] thumpro commented on #14012
Yes I am using master and the portfile for pthreads was not updated for quite a while anyways. So yes, I think I am using the most up-to-date version of the port.

[2020-10-24 12:00] xandox opened #14197 "How do I request different library linkage with manifest?"
Hi all.

I have following situation. I use vcpkg with manifest mode and I prefer to use x64-windows-static-md triplet. But for some reasons, I need some libraries built as dynamic libraries. For example I have some binary proprietary library which depend on other libraries which could be installed with vcpkg but it required them as dll. As far as I can see right now it's impossible to install depe

[2020-10-24 12:23] sfhacker commented on #14012
I have no idea where nmake comes from or why! We do not use it at all.
You seem to have prepared a salad here! You are mixing MSBuild tools with g++!
Anyway, can you provide a simple test case I can try locally?

[2020-10-24 14:03] omarmodaly commented on #14194
I had the same issue on **Windows 10** with **MSVC++ 2019**, with the same logs, plus:
[code]

[2020-10-24 14:10] omarmodaly commented on #14194
I have the same issue here on **Windows 10** with **MSVC++ 2019**. The logs are exactly the same, plus:
[code]

[2020-10-24 14:20] myearsarealight commented on #14194
I'm getting the same thing trying to install icu (x86) and boost-locale[icu], also on Windows 10 and MSVC++ 2019. It happens in Command Prompt too.

[2020-10-24 15:21] advra commented on #14170
No it is still not there

[2020-10-24 15:36] xieyubo commented on #14170
You need checkout this commit: 15bdf9fb2a6691dc7a7f371da9233edc25cd677b, run `./vcpkg upgrade grpc`. When it finishes, you should see the grpc plugins under package installation folder.

[2020-10-24 16:30] ddomit commented on #14194
I have the same problem

[2020-10-24 16:41] MFMokbel opened #14198 "[skyr-url] build failure"
**Host Environment**
- OS: Windows 10 Enterprise
- Compiler: MSVC Enterprise 2017 (version 15.9.28)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install skyr-url`

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
    skyr-url[core]:x86-windows
Detecting compiler hash for triplet x86-windows...
Starting package 1/1: skyr-url:x86-wind

[2020-10-24 16:54] skealy commented on #14072
In the absence of any suggestions I have conducted further research and set out my findings. Hopefully somebody may be able to provide a final resolution. These are the steps I followed:
1 download a fresh version of vcpkg from github to c:\vcpkg and bootstrap the install.
2 run .\vcpkg install libpw:x64-uwp. The screen output is in output1.txt attached together with the log files.
[output1.txt](h

[2020-10-24 16:55] skealy commented on #14072
libpq further information on uwp install.

[2020-10-24 18:41] luizfernandonb commented on #14065
do you have a forecast for when this library will be available in vcpkg?

[2020-10-24 20:32] advra commented on #14170
`a:~/vcpkg $ git checkout --orphan 15bdf9fb2a6691dc7a7f371da9233edc25cd677b
Switched to a new branch '15bdf9fb2a6691dc7a7f371da9233edc25cd677b'
pi@raspaa:~/vcpkg $ ./vcpkg upgrade grpc
The following packages are up-to-date:
    grpc:arm-linux
`

[2020-10-24 20:47] vtraag opened #14203 "Suitesparse library not copied over to build directory"
I am trying to build a library (`igraph`) that depends on `suitesparse` (`cxsparse`), for which I am trying to use `vcpkg`. Installing `suitesparse` using `vcpkg` works perfectly fine, and the package is also correctly located when building the other library. However, for some reason the appropriate DLL is not copied over to the build directory (it is my understanding that this is normally done by

[2020-10-24 21:44] sfhacker commented on #14072
Are we **STILL** having difficulties building libpq?

[2020-10-24 23:13] Alvaroalloc commented on #8627
I have succeded bootstraping it with gcc9 from homebrew but i can't use it anywhere. I've tried cmake from terminal but nothing with the toolchain

[2020-10-25 00:23] Alvaroalloc opened #14204 "How do I use vcpkg in macos HighSierra?"
When asking a question please also include where you looked for an answer (so we can update the documentation if needed).
I have looked in https://github.com/microsoft/vcpkg for this thing but I get this error when i try to use cmake:

I put:
cmake -B [build directory] -S . -DCMAKE_TOOLCHAIN_FILE=[path to vcpkg]/scripts/buildsystems/vcpkg.cmake

and i get this error:
CMake Error: The source direct

[2020-10-25 01:17] nil-is-lin opened #14207 "mathgl[qt5] build failure"
**Host Environment**
- OS: Windows 10 - 1909
- Compiler: MSVC++ 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install mathgl[qt5]:x64-windows`

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
    mathgl[core,jpeg,opengl,png,qt5,zlib]:x64-windows
Detecting compiler hash for triplet x64-windows...
Starting package 1/1: mathgl:x64

[2020-10-25 01:32] nil-is-lin commented on #14207
I can install mathgl successfully.

and qt5:x64-windows is also installed:

So it is the problem with **path**?

[2020-10-25 02:20] JackBoosY commented on #14193
Invalid issue.

[2020-10-25 02:20] #14193 closed

[2020-10-25 02:22] JackBoosY commented on #14194
Can you manually download the files using the link address?

[2020-10-25 02:24] JackBoosY commented on #14204
cc @strega-nil

[2020-10-25 05:53] sweco-nlahoo commented on #14194
I tried that, but I could not.

Outlook for Android<https://aka.ms/ghei36> downloaden
________________________________
From: Jack·Boos·Yu <notifications@github.com>
Sent: Sunday, October 25, 2020 3:22:26 AM
To: microsoft/vcpkg <vcpkg@noreply.github.com>
Cc: Hoogesteger, Arjen <arjen.hoogesteger@sweco.nl>; Author <author@noreply.github.com>
Subject: Re: [microsoft/vcpkg] [qt5-base] build failure (#

[2020-10-25 06:34] linquize opened #14209 "msys libiconv missing"
**Host Environment**
- OS: Win 10 x64
- Compiler: VS2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install openssl`

**Problem**
Fail to download libiconv
`libiconv-1.16-1-x86_64.pkg.tar.xz` no longer present on the server.
The new file name is `libiconv-1.16-2-x86_64.pkg.tar.zst`

[2020-10-25 07:33] BroGamer4256 opened #14210 "[zlib:x86-windows] build failure"
**Host Environment**
- OS: Windows 10 Home 2004
- Compiler: Unknown

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install zlib`

**Failure logs**
[code]

**Additional context**
This is a brand new install of vcpkg using commit b97849d with the console output paths shortened

[2020-10-25 07:59] yzich opened #14212 "[pthreads opencv[ffmpeg]] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: msvc19

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg install pthreads opencv[ffmpeg]`

**Failure logs**
![image](https://user-images.githubusercontent.com/73416934/97101738-53cfc280-16d2-11eb-828a-4856bff9a796.png)

**Additional context**
I was trying to install darknet on windows using tutorial from medium.com

[2020-10-25 08:14] turska79 commented on #14094
What is the status of this? As also running vcpkg install vcpkg-gfortran:x64-windows produces
Downloading https://repo.msys2.org/msys/x86_64/libiconv-1.16-1-x86_64.pkg.tar.xz...
-- Downloading https://repo.msys2.org/msys/x86_64/libiconv-1.16-1-x86_64.pkg.tar.xz... Failed. Status: 22;"HTTP response code said error"

Reason being that  https://repo.msys2.org doenst contain version 1.16-1. It has onl

[2020-10-25 09:59] sfhacker commented on #14094
Are we STILL having issues building ffmpeg?
I thought all the reported issues had been fixed!

@MarekMaslanka I suspect your environment is broken!

[2020-10-25 10:00] sfhacker commented on #14210
zlib is just a tiny project! It should be straight forward to build it from source!
I suspect your environment is broken!

[2020-10-25 10:01] MarekMaslanka commented on #14094
@sfhacker After manually update vcpkg in github actions environment ffmpeg is building successful

[2020-10-25 10:02] sfhacker commented on #14212
We have had no issues building pthreads from source on Windows.
Most probably your environment is broken somehow!

[2020-10-25 10:04] #14094 closed

[2020-10-25 10:28] turska79 commented on #14094
Ah sorry. Building gfortran and not ffmpeg. I shall open a new ticket? As didn't notice anything related to that

[2020-10-25 10:39] cngzhnp commented on #14198
Seems from log output, range-v3 library requires VS2019 and you're using VS2017 on this case. I'd recommended you to update your build environment.

[2020-10-25 10:44] yzich commented on #14212
Is there any suggestion to how can i fix that broken environment?

[2020-10-25 10:59] skealy commented on #14072
JohnThere is still a problem with libpq  when installing for uwp. I have found a workaround but it involves changing the code in the c++ file postbuildint.cpp. As I have concerns about the legality of this I did not publish on github. Here is a summary of  the issue.If a library is required for use with C++/WinRT it must be built with the uwp version. When vcpkg install libpq:x64-uwp is run it fai

[2020-10-25 11:06] daniellongstreet opened #14214 "[ LibFTDI1 ] Update to version 1.5"
Hi,

LibFTDI version 1.5 was released on 7/7/2020. I not sure exactly how to request an update so I thought I would start here.

https://www.intra2net.com/en/developer/libftdi/index.php

Thanks!
Daniel

[2020-10-25 11:44] turska79 opened #14216 "Mlpack build failure"
**Host Environment**
- OS: Windows

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install mlpack

**Failure logs**
Dependency gfortran:x64-windows produces following error:
Downloading https://repo.msys2.org/msys/x86_64/libiconv-1.16-1-x86_64.pkg.tar.xz...
-- Downloading https://repo.msys2.org/msys/x86_64/libiconv-1.16-1-x86_64.pkg.tar.xz... Failed. Status: 22;"HTTP response code said

[2020-10-25 11:58] cenit commented on #14171
hi @JackBoosY
first of all sorry for very late reply.
The problem is due to recent ffmpeg update which rewrote the FindFFMPEG.cmake.in that I wrote. You already proposed a fix in another PR, I will let you know if it's ok for me :)
Thank you very much for your work

[2020-10-25 12:20] BroGamer4256 commented on #14210
i can build directly from source with gcc without issue, it only breaks when using vcpkg

[2020-10-25 12:38] jsnhsu opened #14218 "error while build libmysql for x64-windows-static-md"
It shows Error: Building package icu:x64-windows-static-md failed with: BUILD_FAILED****

[2020-10-25 13:15] fabiencastan commented on #14209
Same problem.

[2020-10-25 13:17] sfhacker commented on #14210
As you can see, there are a lot of open issues with vcpkg at the moment!
Any particular reason you need to use vcpkg?

[2020-10-25 13:18] sfhacker commented on #14218
Quite 'verbose' error message!

[2020-10-25 13:31] MFMokbel commented on #14198
This is weird, since I'm able to build range-v3 independently with no errors.

[2020-10-25 15:04] FusixGit commented on #14218
https://github.com/microsoft/vcpkg/pull/14220/commits/59ea3ff752d5e8415062e9a733eafd927849667e

This fix will help. Modify vcpkg_acquire_msys.cmake manually

[2020-10-25 15:36] jsnhsu commented on #14218
@FusixGit Thanks, it works

[2020-10-25 15:36] #14218 closed

[2020-10-25 15:39] linquize opened #14221 "[pcre] Support more architectures"
Make **pcre** support more architectures, such as **wasm32**.

In `portfile.cmake`, `-DPCRE_SUPPORT_JIT=ON` is passed to **pcre** `CMakeLists.txt`.
So when building an unsupported architecture for **JIT**, it throws error `Unsupported architecture`.
In this case, setting `PCRE_SUPPORT_JIT` to `OFF` can compile the library without **JIT**.

In pcre `sljit/sljitConfigInternal.h`, currently supported

[2020-10-25 16:22] xieyubo commented on #14170
Don't use --orphan.
[code]

[2020-10-25 16:38] cbergemann commented on #14044
Yes, with those disabled, it now builds correctly.

[2020-10-25 16:46] cynoxure opened #14222 "[ICU] build failure"
For a couple days ICU fails in Docker on Windows build.  Looking at repositories, libiconv was updated in Sept, but the build still tried to pull older version.

**Host Environment**
- OS: [Windows]
- Compiler: 1903

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install icu`

**Failure logs**
...
-- Downloading https://repo.msys2.org/msys/x86_64/automake1.16-1.16.2-1-any.pkg.tar.zst..

[2020-10-25 17:29] jsnhsu commented on #14222
Just told and I verified the trick works

https://github.com/microsoft/vcpkg/commit/59ea3ff752d5e8415062e9a733eafd927849667e

[2020-10-25 17:49] advra commented on #14170
@xieyubo it works! Thank you so much!

[2020-10-25 17:50] turska79 commented on #14194
I get the same issue when trying to install mlpack. Server has libiconv-1.16-2-x86_64.pkg.tar.zst instead of 1.16-1.

[2020-10-25 18:43] turska79 commented on #14216
This thing seemed to fix that https://github.com/microsoft/vcpkg/commit/59ea3ff752d5e8415062e9a733eafd927849667e

[2020-10-25 19:04] MFMokbel commented on #14198
I confirm a successful build with Visual Studio 2019.

[2020-10-25 22:01] eburshaid commented on #14212
I get the same issue when i tried to install darknet, any help ?

[2020-10-25 22:36] BroGamer4256 commented on #14210
no, there is not a reason i specifically need to use vcpkg but that goes for most users, vcpkg is just an easier method in terms of speed

[2020-10-25 23:07] BroGamer4256 commented on #14210
i managed to correct the issue by moving vcpkg to a path without spaces (C:\vcpkg)

[2020-10-25 23:07] #14210 closed

[2020-10-25 23:22] wrobelda commented on #14023
@JackBoosY same error unfortunately.

[2020-10-25 23:51] bin opened #14224 "xxhash build failure"
**Host Environment**
- OS: Windows 10
- Compiler: clang-cl

**To Reproduce**
Try to build a CMake project with xxhash.

**Failure logs**
[code]

**Additional context**
The following xxhash defines were added:
[code]

I have tried removing these definitions and rebuilding to no effect.

xxhash was included as follows:
[code]

Please let me know if I can provide any additional information.

[2020-10-26 00:03] wrobelda opened #14225 "[Qt] The _debug suffix added to .pc files renders them undetectable by pkg-config"
**Describe the bug**

I have filed a MR for GpgMe libraries (https://github.com/microsoft/vcpkg/pull/13950), which work fine except if built with additional Qt feature.

The build fails at `Configuring x64-osx-dbg` with:

[code]
, which corresponds to these lines in `configure` script:

`PKG_CONFIG --exists --print-errors \"Qt5Core >= 5.0.0\"`

, and to these lines in `config.log`:

[code]

The PK

[2020-10-26 00:24] nil-is-lin commented on #12096
I run the same test code

However, it throw

In fact, I have install the png module,

It's strange, isn't it？

[2020-10-26 00:33] MFMokbel commented on #14198
Closing case since there is nothing that can be done at the vcpkg level.

[2020-10-26 00:33] #14198 closed

[2020-10-26 01:03] ddomit commented on #14194
Has someone been able to fix this?

[2020-10-26 01:35] NancyLi1013 commented on #14044
Thanks for your feedback. I will try to fix this issue later.

[2020-10-26 01:47] JWFrank commented on #14171
hi @JackBoosY,
I still get the same problem. Do I update or modify anything?
I use this command ".\vcpkg install darknet[full]:x64-windows" on windows PowerShell
Thanks for your help

[config-x64-windows-out.log](https://github.com/microsoft/vcpkg/files/5436373/config-x64-windows-out.log)

[2020-10-26 02:14] JackBoosY commented on #11547
cc @BillyONeal

[2020-10-26 02:28] JackBoosY commented on #14072
Please wait me to fix this issue.

[2020-10-26 02:37] JackBoosY commented on #14194
Will fix in #14420.

[2020-10-26 02:38] PhoebeHui commented on #14216
This issue would be fixed by PR https://github.com/microsoft/vcpkg/pull/14220

[2020-10-26 02:41] JackBoosY commented on #14171
@JWFrank
Please merge my changes in #14177, and rerun the install command again.

[2020-10-26 02:41] PhoebeHui commented on #14222
Duplicated to https://github.com/microsoft/vcpkg/issues/14209.

[2020-10-26 02:41] #14222 closed

[2020-10-26 02:41] PhoebeHui commented on #14216
Duplicated to https://github.com/microsoft/vcpkg/issues/14209.

[2020-10-26 02:41] #14216 closed

[2020-10-26 02:42] PhoebeHui commented on #14212
Duplicated to https://github.com/microsoft/vcpkg/issues/14209.

[2020-10-26 02:42] #14212 closed

[2020-10-26 02:48] JackBoosY commented on #14164
Can you search for `ssl.h` in _VCPKG_ROOT/packages_ and give me the result?

[2020-10-26 03:16] JWFrank commented on #14171
Hi @JackBoosY ,
I merge changes in #14177, and I still got error message
----------------------------------------------------------------
-- Applying patch 0001-disable-downloading.patch
-- Applying patch 0002-install-options.patch
-- Applying patch 0003-force-package-requirements.patch
-- Applying patch 0004-fix-policy-CMP0057.patch
-- Applying patch 0006-jpeg2000_getref.patch
-- Applying patch 0

[2020-10-26 03:18] JackBoosY commented on #14225
cc @Neumann-A

[2020-10-26 03:48] JWFrank commented on #14171
Hi @JackBoosY,
Sorry about that, I fixed this issue by download your files on GitHub
It works now
Thanks a lot for your help

[2020-10-26 05:07] #14194 closed

[2020-10-26 05:07] #14209 closed

[2020-10-26 05:59] NancyLi1013 commented on #13848
@an-tao
Thanks for posting this out. I will try to investigate this issue.

[2020-10-26 06:11] NancyLi1013 commented on #13848
There is another issue #12809 opened for `drogon` on Windows platform.

I think we can track this issue there #12809 since the problem on osx has solved now.

I close this issue.

[2020-10-26 06:11] #13848 closed

[2020-10-26 06:13] NancyLi1013 commented on #12809
@ciuczek-dev
Thanks for posting this issue.

The problem caused by the linkage of `openssl` has been fixed via #14196.

[2020-10-26 06:19] LilyWangL commented on #14173
Thanks for your reply. Could you please provide the log: `D:\project-vs\vcpkg\vcpkg\buildtrees\libyuv\git-fetch-x64-windows-err.log` and `/data/vcpkg/buildtrees/libyuv/git-fetch-x64-linux-err.log`? You can attach the log file on this page.

[2020-10-26 06:31] JackBoosY commented on #14023
@wrobelda Can you open a PR to commit your changes? And I'd be happy to help you solve this issue there.

[2020-10-26 06:41] iSazonov commented on #12849
The API presents only .Net Framework so the callstack comes from **Windows PowerShell**.

[2020-10-26 07:32] JackBoosY commented on #14072
[code]
I think we should wait for upstream to support uwp.

[2020-10-26 08:06] HoLue opened #14229 "[tesseract:x86-windows-static] header not found"
Hi!

I installed tesseract (4.1.1) via vcpkg:
`vcpkg install tesseract:x86-windows-static`
This worked..., I got at the end:
[code]
Now I wanted to include the header in a new console program (Debug, x86, C++)
`#include <tesseract/apitypes.h>`
but I got errors E1696 and C1083 - file seems to be missing....
In my vcpkg directory the file is there
`installed\x86-windows-static\include\tesseract\apit

[2020-10-26 08:55] NancyLi1013 commented on #14124
@Neumann-A
Thanks for your above info.

Would you like to make a PR to fix this?

Thanks in advance.

[2020-10-26 09:02] LilyWangL commented on #14161
Thanks for your reply. Do you use antivirus software on your device? And could you confirm if the file `cmTC_33940.exe` on the directory _[vcpkg_path]/buildtrees/benchmark/x64-windows-rel/CMakeFiles/CMakeTmp_?

[2020-10-26 09:37] JackBoosY commented on #14229
For msvc project, if you want to use the static library, please modify your `.vcxproj` and add the following content:
[code]

See [documentation](https://github.com/microsoft/vcpkg/blob/5c056a65bb316f0114f536fdbb04f344b84d38c3/docs/users/integration.md#with-msbuild).

[2020-10-26 10:07] Neumann-A commented on #14225
currently `vcpkg_fixup_pkgconfig` is not even called on the `*.pc` files of Qt so I would not use them anyway.
So the todo would be:
- add `vcpkg_fixup_pkgconfig()` to qt.
- figure out why the pc files have a `_debug` suffix.
- make sure that the libraries still have the `_debug` suffix for debug only builds. (Qt build is a bit annyoing here since it removes debug suffixes in single configuration

[2020-10-26 10:11] Neumann-A commented on #14197
You want to define a custom triplet with per port customization.  https://vcpkg.readthedocs.io/en/latest/users/triplets/

[2020-10-26 10:13] NancyLi1013 commented on #13885
Hi @aspioupiou
Any updates about this?

[2020-10-26 10:19] NancyLi1013 commented on #9272
Thanks for your help and clarifications about this.

We might delay to implement these features.

[2020-10-26 10:32] xandox commented on #14197
@Neumann-A  thank you very match. It's what I looked for!

[2020-10-26 10:32] #14197 closed

[2020-10-26 10:36] Matioupi opened #14232 "How do I test for available RAM to number of cores ratio from portfile.cmake"
Hello,

I believe this would be nice to be able to test the available RAM amount and number of host cores from within the portfile.cmake.

One possible reason would be to decide using or not using the DISABLE_PARALLEL when building arm libraries on some SBC where the limited amount of RAM results in failed compilation is not disabling parallel builds.

Are there any existing ways to emulate this r

[2020-10-26 11:17] danielbuhrig commented on #14161
Yes, this file exists, and yes, I have antivirus software.
Antivirus software seems to be the source of the problem, at least it shows high activity during CMake configuration.
Since I work on a corporate computer, I cannot change antivirus settings. Do you happen to have a workaround at hand?

[2020-10-26 11:22] linquize opened #14233 "[openssl-unix] Support wasm32"
[openssl-unix] Support **wasm32** architecture

**Possible changes**:
- set `linux-generic32` as the platform
- set `no-threads` option

[2020-10-26 13:08] HoLue commented on #14229
Thanks a lot!! it worked!

[2020-10-26 13:08] #14229 closed

[2020-10-26 14:19] dalle opened #14234 "[fmt] update to 7.1.0"
Library name: [fmt](https://github.com/fmtlib/fmt)

New version number: 7.1.0

Release notes: https://github.com/fmtlib/fmt/releases/tag/7.1.0

[2020-10-26 14:22] dalle opened #14235 "[grpc] update to 1.33.1"
Library name: [grpc](https://github.com/grpc/grpc)

New version number: 1.33.1

Release notes: https://github.com/grpc/grpc/releases/tag/v1.33.1

[2020-10-26 15:13] hortegilles opened #14236 "ompl[app] build failure"
**Host Environment**
submit an issue at https://github.com/Microsoft/vcpkg/issues including:
  Package: ompl:x86-windows
  Vcpkg version: 2020.06.15-nohash

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg install ompl[app]`

**Failure logs**

**Additional context**
`vcpkg install ompl` core lib only is OK but [app] generate the error
[config-x86-windows-dbg-out.log](https://github.com/mic

[2020-10-26 16:11] hortegilles commented on #14236
similar issue on CentOS Linux 7 (Core)

vcpkg install ompl[app] OK
vcpkg install ompl OK

[2020-10-26 19:25] aguirreeng opened #14238 "[cgal] build failure"
**Host Environment**
- Windows
- Compiler: MSVC 19.0.24215.1

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install cgal --debug`

**Failure logs**
CMake Error at scripts/cmake/vcpkg_download_distfile.cmake:102 (message):

  File does not have expected hash:

          File path: [ D:/projects/tti/vcpkg/downloads/temp/CGAL-cgal-v5.1.tar.gz ]
      Expected hash: [ 862725887558adbc142b

[2020-10-26 19:49] guybashan opened #14241 "Error: Building package ffmpeg:x64-windows failed with: BUILD_FAILED"
**Host Environment**
- OS: Windows 10
- Compiler: 2020.06.15-nohash

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install ffmpeg:x64-windows`

**Failure logs**
[code]

[2020-10-26 20:15] strega-nil commented on #14204
@Alvaroalloc It seems like you're not trying to build a project? You need to be in the project directory (the directory that contains a CMakeLists.txt) for this command to work.

[2020-10-26 20:29] wrobelda commented on #14023
@JackBoosY https://github.com/microsoft/vcpkg/pull/14242

[2020-10-26 21:40] guybashan commented on #2843
Having the same issue..

[2020-10-26 21:41] sandercox commented on #1653
Here you go. Initially I was a bit biased on your request as I was also providing some extra changes on my install command that do not make sense to be part of vcpkg, but I found a way to only optionally perform this override, meaning I can still copy this code as a base for my private projects and add whatever I need.

So now you can use it with:
[code]

Enabling the option before including the t

[2020-10-26 23:16] cbergemann commented on #14044
The pull request does not help, see my comment here: https://github.com/microsoft/vcpkg/pull/14230#issuecomment-716875552

[2020-10-27 00:07] PhoebeHui commented on #14235
@dalle, thanks for reporting this issue!

 We already have a PR https://github.com/microsoft/vcpkg/pull/14187 to upgrade it.

[2020-10-27 00:10] PhoebeHui commented on #14241
@guybashan, this issue should be fixed now, could you latest source and try again?

[2020-10-27 00:22] BillyONeal commented on #14191
We don't have any mips hardware to test with and it's likely that some of our dependencies like cmake aren't available there either, but there's no reason in principle why it wouldn't work there.

[2020-10-27 02:09] LilyWangL commented on #14161
Maybe you can try to clone VCPKG to other disks and rebuild ports.

[2020-10-27 02:26] PhoebeHui commented on #14236
@hortegilles, thanks for reporting this issue!

Failures:
CMake Error at CMakeLists.txt:177 (include_directories):
  include_directories given empty-string as include directory.

[2020-10-27 02:54] NancyLi1013 commented on #14169
@xieyubo
Thanks for your reminder and fix.

@advra
Thanks for your detailed description.

Currently, we mainly support the triplets that listed in https://github.com/microsoft/vcpkg/tree/master/triplets folder.

For these triplets in https://github.com/microsoft/vcpkg/tree/master/triplets/community folder, we don't support them yet. So we cannot make sure if all ports can work fine now.

In your c

[2020-10-27 03:03] nil-is-lin commented on #14207
I have tried install qt5 with `./vcpkg install qt5:x64-windows`, and qt installed without any error. after that, I tried reinstall mathgl by `./vcpkg install mathgl[qt5]:x64-windows`. I find that it come to #8360. I noticed that this issue is closed, however I meet this problem again. any advice?

[2020-10-27 03:05] JackBoosY commented on #14207
@nil-is-lin can you confirm your vcpkg is lates?

[2020-10-27 03:10] JackBoosY commented on #14203
Related PR https://github.com/microsoft/vcpkg/issues/13797

[2020-10-27 03:57] #14234 closed

[2020-10-27 04:06] Alvaroalloc commented on #14204
Thank you, my bad

[2020-10-27 04:06] #14204 closed

[2020-10-27 06:13] PhoebeHui commented on #9964
The PR has been merged, Poco currently upgrade to 1.10.1.

[2020-10-27 06:13] #9964 closed

[2020-10-27 06:43] #14136 closed

[2020-10-27 06:46] JackBoosY commented on #13566
The symblos `IID_IDXGIFactory2` / `IID_ID3D11DeviceContext1` / `IID_ID3DUserDefinedAnnotation` are in dxguid.lib, and it has been declared to be used in _SOURCE/src/gui/rih/rhi.pri_:
[code]
but not in the link command:
[code]

@Neumann-A do you know why it happened?

[2020-10-27 07:11] JackBoosY commented on #14023
Sadly, I enter the source path, and run the command manually, but that error still exist:
[code]

[2020-10-27 07:41] PhoebeHui commented on #13413
@kazzatso, feel free reopen this issue if it still be a problem for you. I will the close the PR as well, since I don't think it's needed.

[2020-10-27 07:41] #13413 closed

[2020-10-27 07:50] #14170 closed

[2020-10-27 07:53] #14160 closed

[2020-10-27 07:54] #14238 closed

[2020-10-27 07:58] #14224 closed

[2020-10-27 08:17] NancyLi1013 commented on #14157
Hi @stvriver
Please let me know if this is still a problem for you.

[2020-10-27 08:17] nil-is-lin commented on #14207
I have update vcpkg three times since I open this issue with `git pull` command, each time it updated with some files. Any way, the last time I update is several minutes ago.I believe my vcpkg is latest.

[2020-10-27 08:50] SeanFarrow commented on #13033
@longnguyen2004  Did you manage to have a look at the pull request created by @niclar?

[2020-10-27 09:08] stvriver commented on #14157
I am sorry for late checking this. Thanks NancyLi1013 for support.

After I look into vcpkg commands help, I realize that vcpkg supports disable binary caching by "_either passing_
`--no-binarycaching` _to every vcpkg command line or setting the environment variable_ `VCPKG_FEATURE_FLAGS` to `-binarycaching`."
So I think that is the way I should follow instead of changing the source as your sugges

[2020-10-27 09:14] roaming-zen opened #14249 "[poco] should link with libmysql.a instead of libmysql.lib in linux platform?"
https://github.com/microsoft/vcpkg/blob/b6b734c1a276e0e6b3cedaed8e04c2f360f33a7d/ports/poco/portfile.cmake#L38

[2020-10-27 09:51] LilyWangL commented on #14075
Sorry I am late. I open your project with Visual Studio 2019 16.7.6, and I can't found the error about include header file.
![image](https://user-images.githubusercontent.com/47812810/97285287-fb88f400-187c-11eb-848e-7f7303ca677f.png)

[2020-10-27 10:32] longnguyen2004 commented on #13033
I'll try to find some free time to test it with llvm-mingw.

[2020-10-27 10:43] SeanFarrow commented on #13033
Fantastic, it’s working fine with Visual Studio 2019.

From: Long Nguyen <notifications@github.com>
Sent: 27 October 2020 10:33
To: microsoft/vcpkg <vcpkg@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/vcpkg] [boost] Update to 1.74.0 (#13033)

I'll try to find some free time to test it with llvm-mingw.

—
You are rec

[2020-10-27 11:41] MrBolt2005 opened #14251 "[x265:x64-windows] build failure"
**Host Environment**
- OS: Windows 10 19041 (Microsoft Windows [versão 10.0.19041.508])
- Compiler: Microsoft (R) C/C++ Optimizing Compiler Version 19.27.29112 for x64

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install _**x**_265:x64-windows`

**Failure logs**
[code]
**Additional context**
Basically, tried (it (all)_**)**_ twice, thinking it) to be only a (little) network problem.

[2020-10-27 12:29] ianier opened #14252 "[tensorflow-cc] add support for x64-uwp"
Feature request: add support for the x64-uwp triplet to the 2.x tensorflow-cc port.

The expected benefit is to be able to use TF, at least for inference, on Store apps.

It looks like this is realistically feasible (see PR #13028). The resulting TF library may not support all features, though (e.g. those relying on file system access).

[2020-10-27 12:51] Cellcote opened #14254 "[poco:x64-windows] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: Visual studio 2019

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg.exe install poco:x64-windows`

**Failure logs**
`vcpkg.exe install poco:x64-windows
Computing installation plan...
The following packages will be built and installed:
    poco[core]:x64-windows
Detecting compiler hash for triplet x64-windows...
Starting package 1/1: poco:x

[2020-10-27 13:48] traversaro opened #14255 "[assimp] assimp port missing CMake version package information"
**Describe the bug**
The `assimp` port does not install any CMake version config file

**Environment**
- OS: Windows
- Compiler: Not relevant

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install assimp
2. Run a cmake project that contains `find_package(assimp REQUIRED)` . The `assimp_VERSION` is empty, different from what happened before https://github.com/microsoft/vcpkg/pull/132

[2020-10-27 13:55] traversaro opened #14256 "[assimp] assimp CMake package name is Assimp, not consitent with other platforms where it is assimp"
**Describe the bug**
The assimp vcpkg port install a CMake config file called `AssimpConfig.cmake`, that is not consistent with the `assimp-config.cmake`  installed by other package managers such as homebrew or apt.

**Environment**
- OS: Windows
- Compiler: Not Relevant

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install assimp
2. In `share/assimp` you can find the `AssimpConfig

[2020-10-27 15:19] #14254 closed

[2020-10-27 15:25] jgehw commented on #7853
Fixed in PR #13028. It doesn't solve the vendored dependencies problem, so you still have to add `vcpkg\installed\x64-windows\include\tensorflow-external` and `vcpkg\installed\x64-windows\include\tensorflow-external\src` to your include path, but at least then it works. Note you also have to define `#define NOMINMAX` (because windows.h defines min and max macros which conflict with std::min() and

[2020-10-27 16:03] rich-pel opened #14257 "[New Port Request] onnxruntime"
Library name:
ONNXRUNTIME

Library description:
ONNX Runtime is a cross-platform inferencing and training accelerator compatible with many popular ML/DNN frameworks, including PyTorch, TensorFlow/Keras, scikit-learn, and more. aka.ms/onnxruntime

Source repository URL:
https://github.com/microsoft/onnxruntime

Project homepage (if different from the source repository):
https://github.com/microsoft

[2020-10-27 16:06] guybashan commented on #14241
Thanks @PhoebeHui. works good. Now other things are breaking.. :)

[2020-10-27 16:10] Alvaroalloc opened #14258 "How do I use libraries of vcpkg with cmake?"
I'm new at vcpkg this world but i want to use libmariadb.
I already setted up my enviromnet but i don't know how to configure my CMakeLists.txt to make make it work.
I found some documentation that asks to use find_package(mariadb CONFIG REQUIRED) but its shows that theres no configuration file named mariadb-config.cmake or mariadbConfig.cmake

I'm sure it is easy but up to now i cant use any pack

[2020-10-27 16:51] vicroms commented on #14258
As per the README, you have to set the toolchain file when invoking cmake:

[code]

[2020-10-27 17:27] STgithub64 opened #14261 "How do I link statically against Qt 5.15.1 using CMake?"
I really have scoured the web but am unable to find how to do this.

Not sure if it is related to vcpkg but I really have nowhere else to look.

I see that simply doing vcpkg install qt5 gave me a bunch of DLLs and .lib files, so they have been downloaded, but how can I specify CMake to link against the static libraries and not the DLLs?

Many thanks

[2020-10-27 17:34] StarGate-One commented on #14251
Appears you need to refresh vcpkg as you have an old port file pulling v3.2 from a now defunct URL. The new portfile pulls v3.4 from bitbucket...
1. `cd [vcpkg-root]`
2. `git pull`
3. `.\bootstrap-vcpkg.sh`
4. Run `.\vcpkg update` and/or `.\vcpkg upgrade`
5. Try `.\vcpkg install x265:x64-windows` again

[2020-10-27 17:45] Alvaroalloc commented on #14258
I've done that what i want to do is how to use the libraries in CMakeLists
I think with the toochain you only include the paths and configs, but you have to set the libraries to use in the CMakeLists.txt

[2020-10-27 18:04] vjandasek opened #14263 "[netcdf-c:x86-windows] link problem - MPI"
**Host Environment**
- OS: Windows 10, build 19041.572
- Compiler: 19.27.29112

**To Reproduce**
Steps to reproduce the behavior:
vcpkg install netcdf-c[core]:x86-windows

**Failure logs**
[code]

[2020-10-27 18:05] evakili commented on #2643
@lukadriel7 Could you provide some details about your workaround?

[2020-10-27 18:07] jamesratzlaff opened #14264 "Add config/build/install checkpoints"
****

**Is your feature request related to a problem? Please describe.**
My builds builds randomly hang (which I suspect is due to some corporate software that cannot be disabled). I stop the build when this happens (pressing Ctrl+C). With exception of download and unpack step, I have to start the install process all over again. It would save me a ton of time, if there was was a *--continue* flag

[2020-10-27 18:14] dahubley commented on #2643
@lukadriel7 @evakili If you use the debug versions of the binaries for debug builds they automatically know where to find the debug binaries. QT appears to have resolved this.

[2020-10-27 18:35] StarGate-One opened #14265 "[spdlog] build failure with benchmark feature"
**Host Environment**
- OS: [Microsoft Windows [Version 10.0.19042.572]]
- Compiler: Visual Studio  Version: 16.7.6  VS Tools Version: 14.27.29110
  and Visual Studio  Version: 15.9.28  VS Tools Version: 14.16.27023

**To Reproduce**
`set VCPKG_CRT_LINKAGE=dynamic`
`set VCPKG_DEFAULT_TRIPLET=x64-windows`
`set VCPKG_DISABLE_METRICS=true`
`set VCPKG_DOWNLOADS=[vcpkg-root]\test\downloads`
`set VCPKG_F

[2020-10-27 18:44] StarGate-One commented on #14265
Additional Notes:
1. port spdlog will install without feature benchmark, but not desirable(1)
2. port shiva depends on port spdlog, although does not require port spdlog to have feature benchmark installed, but not desirable(1)

(1) not desirable as downstream projects depend on port spdlog with feature benchmark installed using port shiva.

[2020-10-27 19:03] StarGate-One commented on #14265
I checked the azure pipeline build tests (https://dev.azure.com/vcpkg/c1ee48cb-0df2-4ab3-8384-b1df5a79fe53/_apis/build/builds/44563/logs/92) for PR upgrading port fmt #14239 and it shows spdlog was tested but **without feature benchmark**.
![image](https://user-images.githubusercontent.com/68293825/97349148-7e05b980-1865-11eb-9cd2-2680d00cd26a.png)

[2020-10-27 19:20] sfhacker commented on #14265
Are we **STILL** having issues building spdlog from source?

[2020-10-27 19:23] wrobelda commented on #14023
@JackBoosY frankly, I don't know how to explain this. I `rm -rf`-ed my build tree and now have the same error as you do. Using the redistributable source package instead of git fixed it.

[2020-10-27 19:23] #14023 closed

[2020-10-27 19:35] advra commented on #14169
@NancyLi1013  thank you for the clarification on official and community triplets. I was able to build the missing plugins using the pull request submitted by @xieyubo.

Thanks!

[2020-10-27 20:18] #14236 closed

[2020-10-27 20:18] StarGate-One commented on #14265
Another Note: I can revert port format to version 7.0.3 and port stblog[benchmark] builds fine.

`SYSTEM@ANDROMEDA 10/27/2020 16:12:43 D:\vcpkg_x64\vs2019\test`
`->git diff ports/fmt/portfile.cmake`
`diff --git a/ports/fmt/portfile.cmake b/ports/fmt/portfile.cmake`
`index 94dfd3f04..5de78ec98 100644`
`--- a/ports/fmt/portfile.cmake`
`+++ b/ports/fmt/portfile.cmake`
`@@ -1,8 +1,8 @@`
` vcpkg_from_g

[2020-10-27 22:17] guybashan commented on #14241
I am getting this failure now:
[code]

[2020-10-27 22:24] guybashan commented on #14241
After digging further in the logs I got this:
[code]

[2020-10-27 22:30] guybashan commented on #11452
I am having the same issue.. Running on a Desktop..

[2020-10-27 22:33] vicroms commented on #14258
Hi @Alvaroalloc

Not all libraries in vcpkg offer CMake integration support (such support depends on the library maintainers, not on vcpkg). In the case off `libmariadb` you must manually link the library and include files in your `CMakeLists.txt`.

Here is an example of how to use packages with and without `find_package()` support. You can read more about this topic in [our documentation](https:/

[2020-10-27 23:10] thomasgt commented on #14134
Apologies for the delay...
Here is a repo [1] with a minimal example showing off the issue. Build the Dockerfile on a machine with AVX512 support, and then try running it on a machine without. If you don't have access to a machine with AVX512 support, I've pushed an image to the repository's package repository that was built using AVX-512 that you can try out. [2]

You don't need to use Docker to

[2020-10-27 23:18] BillyONeal commented on #14134
@thomasgt Oh I think the issue is understood at this point, we just don't have a fantastic solution at this time. `<whatever the triplet is>.cmake` is run before `portfile.cmake` so it should be possible to make restricting this some kind of triplet setting.

[2020-10-27 23:50] sfhacker commented on #14134
@thomasgt Just tried to build the minimal example provided by you but faced several issues!

![image](https://user-images.githubusercontent.com/25817529/97373720-b4494480-190a-11eb-8714-f8662c19bf6e.png)

After commenting out the offending line, I came across another issue!

![image](https://user-images.githubusercontent.com/25817529/97373769-d2af4000-190a-11eb-978d-1fd0e59d01d0.png)

After fixing

[2020-10-28 00:26] Alvaroalloc commented on #14258
thank you a lot

[2020-10-28 00:29] thomasgt commented on #14134
@sfhacker I am not sure you're going to be able to reproduce this using MinGW. I've only tried using GCC 8.3 from debian:buster. This is why I provided a Dockerfile, so you don't have to worry about getting a debian environment configured. The easiest way to reproduce this is to clone the repo onto a machine with AVX512 instructions, initialize the vcpkg submodule, and then build the docker image

[2020-10-28 00:31] thomasgt commented on #14134
@BillyONeal OK, understood. Would you accept a PR to update the CMakeLists file used in this port to resolve the immediate issue I'm having?

[2020-10-28 00:52] BillyONeal commented on #14134
@thomasgt If the PR update makes it blindly try to turn off acceleration that would be difficult to accept due to the aforementioned "that's why people are building from source in the first place". But if you want to do a PR adding `VCPKG_ENABLE_NATIVE_CPU_INSTRUCTIONS` or something like that we are interested.

[2020-10-28 00:55] #11089 closed

[2020-10-28 01:12] Alvaroalloc commented on #14258
Hey now i've done that but it shows me this:

`[build] [ 50%] Linking CXX executable sql
[build] Undefined symbols for architecture x86_64:
[build]   "_OPENSSL_init_ssl", referenced from:
[build]       _ma_tls_start in libmariadb.a(openssl.c.o)
[build]   "_OpenSSL_version", referenced from:
[build]       _ma_tls_start in libmariadb.a(openssl.c.o)
[build]   "_SSL_CTX_set_options", referenced from:

[2020-10-28 01:17] Alvaroalloc commented on #14258
Now it shows this:
`
[build] Undefined symbols for architecture x86_64:
[build]   "_ERR_get_error", referenced from:
[build]       _ma_tls_init in libmariadb.a(openssl.c.o)
[build]       _ma_tls_connect in libmariadb.a(openssl.c.o)
[build]   "_ERR_peek_error", referenced from:
[build]       _ma_tls_init in libmariadb.a(openssl.c.o)
[build]   "_ERR_reason_error_string", referenced from:
[build]

[2020-10-28 01:31] sylveon commented on #12289
I similarly have project-specific fixes which haven't been merged into the original project yet, as well as the portfile for a library I'm writing in parallel to my main project, but I do not feel is ready for mainlining in vcpkg yet. This is a blocker to adopting manifest mode for me.

[2020-10-28 01:33] sylveon commented on #12504
I would also want this, to always install the head of `wil` and `rapidjson`, however I feel that `vcpkg-configuration` is not a place where I'd want to put it in manifest mode, since it directly concerns my project, not vcpkg's configuration

[2020-10-28 01:38] MikeDoran opened #14267 "vcpkg failing to install any packages"
Recently installed vcpkg on 64 bit windows, the install seemed to go off without a hitch, but whenever I attempt to install a package (seems like any package, although admittedly I've only tried installing ogre and sfml) I get a the same error where it looks like CMake can't find any of the libs?

console output:
[code]

contents of \vcpkg\buildtrees\sfml\x86-windows.vcpkg_abi_info.txt (Not sure h

[2020-10-28 01:49] StarGate-One commented on #14267
I see  2 **possible** issues:
1. There is a space in the vcpkg path - try putting in a folder/directory without a space in it
2. There are + plus signs in the vcpkg path - try putting a folder/directory without + plus signs

[2020-10-28 02:18] PhoebeHui commented on #14267
Duplicated to https://github.com/microsoft/vcpkg/issues/13103, and would be fixed by PR https://github.com/microsoft/vcpkg/pull/13126.

[2020-10-28 02:18] #14267 closed

[2020-10-28 02:23] JackBoosY commented on #11452
@guybashan can you provide me the full logs?

Thanks.

[2020-10-28 02:31] nil-is-lin commented on #12096
The problem `PNG support was disabled` disappeared after I installed mathgl servel times. Now the only problem with mathgl[without qt] I meet is I can't use it in cmake project. It seems work well till now in `sln` project. However, when I used it in cmakelists,

it throw

I can not hit any thing when i search the `vcpkg.cmake` with `mathgl`. Is this a problem? or Just i am in the wrong way?

[2020-10-28 02:53] PhoebeHui commented on #14258
@Alvaroalloc, I can't repro this issue, what's test code in your .cpp file?

E:\vcpkg\vcpkgtest\libmariadb\build>cmake .. "-DCMAKE_TOOLCHAIN_FILE=E:/vcpkg/clean/vcpkg/scripts/buildsystems/vcpkg.cmake" -DVCPKG_TARGET_TRIPLET=x64-windows -DVCPKG_BUILD_TYPE=debug -G "Visual Studio 16 2019"
-- Selecting Windows SDK version 10.0.18362.0 to target Windows 10.0.19042.
-- The CXX compiler identification i

[2020-10-28 02:57] BillyONeal commented on #13420
@mkckr0 In general, vcpkg doesn't know in the program that a port will emit that message; vcpkg invokes `portfile.cmake` with the right settings, and the portfile is calling `vcpkg_fail_port_install`. It can decide to do that with arbitrary code. Currently we parse the Supports: field only in PR testing and continuous integration infrastructure, but `vcpkg install` should probably check the Suppor

[2020-10-28 02:58] vicroms commented on #14258
`libmariadb` depends on OpenSSL and zlib, you may also need to link those

[2020-10-28 03:01] mllw commented on #14191
Ok thanks.

[2020-10-28 03:01] #14191 closed

[2020-10-28 03:06] jacobkahn commented on #289
fyi -- I've opened https://github.com/microsoft/vcpkg/pull/14240, cc @JackBoosY @LilyWangL @Voskrese @kryptan

[2020-10-28 03:09] thomasgt commented on #14134
@BillyONeal I was planning to match the behaviour of the project's autoconf buildsystem. I would leave the acceleration on for TU's where libsodium performs explicit runtime detection, but I'd turn it off everywhere else.

[2020-10-28 03:10] BillyONeal commented on #14134
That's probably OK, thanks :)

[2020-10-28 03:11] BillyONeal commented on #14232
We don't have such a feature at this time.

[2020-10-28 03:15] JonLiu1993 commented on #14251
Hi @MrBolt2005 ,Thanks for reporting this issue!
You can try @StarGate-One 's method first. I cannot reproduce your problem locally. I suggest you try it on the latest x256 version.
[code]

[2020-10-28 03:23] PhoebeHui commented on #14241
@guybashan, could you attach C:\vcpkg\buildtrees\opencv4\config-x64-windows-out.log file?

[2020-10-28 03:29] #13185 closed

[2020-10-28 03:33] #14235 closed

[2020-10-28 03:34] #14044 closed

[2020-10-28 03:42] mllw opened #14268 "Is there a way to support cross compile mips target"
**Describe the bug**
I wanted to use overlay-triplets to compile the software needed for openwrt across platforms, but there was an error when I specified it as a mips platform

**Environment**
- OS: [linux cross build]
- Compiler:
Host Compiler: gcc version 7.3.1 20180303 (Red Hat 7.3.1-5) (GCC)
Cross Compiler:
Target: mipsel-openwrt-linux-musl
Thread model: posix
gcc version 8.4.0 (OpenWrt GCC 8

[2020-10-28 04:02] Alvaroalloc commented on #14258
@PhoebeHui my main.cpp is:
`
#include <mysql/mysql.h>

using namespace std;

int main()
{

 MYSQL mysql;

 mysql_init(&mysql);
 mysql_options(&mysql,MYSQL_READ_DEFAULT_GROUP,"your_prog_name");
 if (!mysql_real_connect(&mysql,"host","user","passwd","database",0,NULL,0))
 {
     fprintf(stderr, "Failed to connect to database: Error: %s\n",
           mysql_error(&mysql));
 }
}`

[2020-10-28 04:05] Alvaroalloc commented on #14258
and my CMakeLists is:
`
cmake_minimum_required(VERSION 3.14)
project(example CXX)
include_directories(/Users/macuser/vcpkg/installed/x64-osx/include)

find_path(LIBMARIADB_INCLUDE_DIR mysql/mysql.h)
find_library(LIBMARIADB_LIBRARY crypto ssl z mariadb )

add_executable(sql main.cpp)

target_include_directories(sql PRIVATE ${LIBMARIADB_INCLUDE_DIR})
target_link_libraries(sql PRIVATE ${LIBMARIADB_LI

[2020-10-28 04:25] tresf commented on #9606
By now I think many of us have read the thread as well as cross-linked threads.  Perhaps a different issue masqueraded under the same error, as a newcomer to `vcpkg`, just bootstrapped `vcpkg.exe` and trying to us it for installation, the error shows:

[code]

I opened `C:\Users\owner\vcpkg\scripts\vcpkgTools.xml`, `powershell-core` is there.

<details>
<summary><code>vcpkgTools.xml</code> content

[2020-10-28 05:34] Slowair6 opened #14270 "[cppzmq] update to 4.7.1"
Library name: cppzmq

New version number: 4.7.1

Other information that may be useful (release notes, etc...)
There is no example code of the older versions, so I really need to update to the latest version.
Thank you.