[2020-11-24 11:35] sai-cartly commented on #14672
Getting a different error

Building package python3[core]:x64-osx...
Could not locate cached archive: /Users/saimatam/.cache/vcpkg/archives/4f/4f54db883683de02a27ed8e67550f466bf2eab23.zip
-- Using cached /usr/local/Cellar/vcpkg/2020.11-1/libexec/downloads/python-cpython-v3.8.3.tar.gz
-- Extracting source /usr/local/Cellar/vcpkg/2020.11-1/libexec/downloads/python-cpython-v3.8.3.tar.gz
-- Using sour

[2020-11-24 13:01] juandent commented on #14693
@JonLiu1993 don't I need to change the SHA512 so it corresponds to the branch dev?
Do you mean just doing this will be enough?

[code]

Thanks!!

[2020-11-24 13:24] ianier commented on #14252
@jgehw: I gave it a try and found out that they assume pretty much all over the TF .bzl files that the only possible target on Windows is x64. However, Bazel does support ARM64 as a compilation target through '--cpu=x64_arm64_windows', so I opened https://github.com/tensorflow/tensorflow/issues/45151 for this purpose.

[2020-11-24 13:37] JanKovis commented on #11601
I had to download VTK8, compile it separately, bend PCL to use that VTK version 8.0,
Struggled with convex hull calculation as well, it used qhull, needed to compile qhull separately and point PCL to it.
Quite some tinkering in source/CMake files to achieve PCL build with visualization and convex hulls!

[2020-11-24 13:40] juandent commented on #14693
Seems to me SHA512 is a value per branch and using the one for Master will not verify correctly the download

[2020-11-24 13:40] JanKovis opened #14751 "[New Port Request] Open3d"
Library name: Open3d

Library description: A Modern Library for 3D Data Processing

Source repository URL: https://github.com/intel-isl/Open3D

Project homepage (if different from the source repository): http://www.open3d.org/docs/release/index.html

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2020-11-24 13:55] cenit commented on #14692
can we just use pthreads as an overlay and then make it depend on one or the other? Like blas, lapack, opencv, (ssl maybe!), ...?

[2020-11-24 14:59] yuntong613 commented on #14713
I create a new machine (WIN7 x64 with VS2017) on visualbox, clone the master branch, the error happened again

[2020-11-24 15:01] Hoikas commented on #14672
Python3 was updated to 3.9.0 last week, which should fix big sur compatibility. Please update vcpkg to the latest master.

[2020-11-24 15:17] longnguyen2004 commented on #14692
The problem is pthreads-win32 is currently inactive (last code commit on 2018) while winpthreads is still active, and I can't find any reason to use pthreads-win32 instead of winpthreads. There has been [an attempt](https://github.com/Bakhazard/winpthreads-msvc) to get winpthreads to compile on MSVC, and also a sample CMakeList.txt.

[2020-11-24 15:51] akayami commented on #14728
Problem fixed. Thanks for quick and efficient support !

[2020-11-24 16:10] aberration213 commented on #14738
Hi @NancyLi1013

I removed the two files and got the same error. The new logs are as below:

Starting package 1/1: vcpkg-gfortran:x64-windows
Building package vcpkg-gfortran[core]:x64-windows...
-- The Fortran compiler identification is unknown
-- No Fortran compiler found on the PATH. Using MinGW gfortran!
-- Downloading https://repo.msys2.org/msys/x86_64/gawk-5.1.0-1-x86_64.pkg.tar.xz...
CMake E

[2020-11-24 16:12] aberration213 commented on #14738
I have included the content of the log in the original post, but below is the log content:

CMake Error: Problem with archive_write_header(): Can't create '\?\C:\dir\vcpkg\downloads\tools\msys2\1b7461e9cb3487d1.tmp\usr\bin\gawk.exe'
CMake Error: Current file: usr/bin/gawk.exe
CMake Error: Problem extracting tar: C:/dir/vcpkg/downloads/msys-gawk-5.1.0-1-x86_64.pkg.tar.xz

[msys-x64-windows-22-err.l

[2020-11-24 16:32] cloudhan opened #14753 "[imgui] issue with opengl bindings"
****

**Is your feature request related to a problem? Please describe.**
`vcpkg install imgui[opengl3-glbinding-binding,glfw-binding]:x64-windows` will build with glew.

resulting
[code]

**Proposed solution**

So lets make the problem clear first. For opengl there are two types of helper library commonly used.

1.  OpenGL symbol loader: e.g. glbinding, glew, gl3w, etc.
2. OpenGL window and contex

[2020-11-24 17:50] Accessory opened #14754 "[New Port Request] Argon2"
Library name: Argon2

Library description:
 Argon2 is a password-hashing function that summarizes the state of the art in the design of memory-hard functions and can be used to hash passwords for credential storage, key derivation, or other applications.

Source repository URL: https://github.com/P-H-C/phc-winner-argon2

[2020-11-24 18:58] remoe opened #14756 "[osg] remove of boost"
****

**Is your feature request related to a problem? Please describe.**
Try to avoid include "boost" for all builds. This is NOT required for default build. Or please add this as a feature and not in base build.

Needed for: osgPlugins/RestHttpDevice, osgPlugins/COLLADA and ASIO ?

**Proposed solution**
Remove "boost" and/or add it as a feature.

**Describe alternatives you've considered**
Remove

[2020-11-24 21:19] JackKenney commented on #13744
Sure, this is what the --debug flag returns
[code]

[2020-11-24 23:31] WilliamZkl opened #14757 "Building package expat:x64-osx failed with: BUILD_FAILED"
**Describe the bug**
Building package expat:x64-osx failed with: BUILD_FAILED
Package: expat:x64-osx
Vcpkg version: 2020.11.12-unknownhash

**Environment**
- OS: macOS
- Compiler: C

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install readosm
2. See error
CMake Error at scripts/cmake/vcpkg_find_acquire_program.cmake:533 (message):
  Could not find pkg-config.  Please install it vi

[2020-11-25 01:14] sloh-ms opened #14759 "Working with both Windows and Linux packages"
Hello, I'm working on a project that builds both for Windows and for Linux.  I'm trying to consume some components from a Windows program (as source code) in our Windows/Linux project.  This program depends on some packages that are obtained via vcpkg; the people who built that repo simply checked-in the binaries obtained via vcpkg to their repo.  I'm trying to instead get them via nuget:
- Clone

[2020-11-25 02:33] sloh-ms commented on #14759
Oh, gosh, the command is still running, but I think I have the answer.  I was so close - but I shouldn't call "./vcpkg.exe install" from inside Linux.  I should call "./vcpkg install" (without the .exe extension).

[2020-11-25 02:48] NancyLi1013 commented on #14728
Thanks for your update @akayami. I'm reopening this issue until this issue is fixed via PR #14744 merged.

[2020-11-25 03:07] JonLiu1993 commented on #14693
It seems that there is no need to change SHA512

[2020-11-25 03:13] Hoikas commented on #14757
[code]

[2020-11-25 05:42] JackBoosY commented on #14713
Does `vcpkg-cmake-wrapper` exists on _VCPKG_ROOT/installed/x86-windows/share/libmysql_ ?

[2020-11-25 05:53] yuntong613 commented on #14713
it didn‘t have the directory which named libmysql
![image](https://user-images.githubusercontent.com/20533580/100188607-7fd6a180-2f25-11eb-8e3c-c835b24c0524.png)

[2020-11-25 05:55] JackBoosY commented on #14713
I found there is no error in configure log:
`CMake Warning at C:/GitRepository/vcpkg/scripts/buildsystems/vcpkg.cmake:622 (_find_package):`
That just a warning message.
Did you try `./vcpkg install poco[mysql]` instead?

[2020-11-25 05:58] JackBoosY commented on #13744
Is it a permission issue?

[2020-11-25 06:04] yuntong613 commented on #14713
mysql ports (MYSQL8) doesn't support x86.
On windows system, some program components only can run on x86, so I made my branch back to MYSQL 5.7, and poco[mysql] would always be well.
Now, I just want to try make poco by mariadb, it seems to be not possible on vcpkg.

[2020-11-25 06:09] JonLiu1993 commented on #14702
Relate to #14755

[2020-11-25 06:24] JackBoosY commented on #14713
Confirmed.

[2020-11-25 06:33] JonLiu1993 commented on #14672
@sai-cartly ，You recreate a folder, then clone vcpkg and rebuild，If it still doesn't work, please provide a complete error log

[2020-11-25 06:33] gwnet commented on #14690
@JonLiu1993  I tried to download this file and unzip it. but I still suffer the same error. it failed to download boost. :(

can you send me detail command to set proxy well?

Could not locate cached archive: C:\Users\gaowayne\AppData\Local\vcpkg\archives\04\04a2f36e612a1db5fa256476ff4ab5e4d5e6465a.zip
Could not locate cached archive: C:\Users\gaowayne\AppData\Local\vcpkg\archives\11\110372f0f92bf

[2020-11-25 06:41] JonLiu1993 commented on #14690
@gwnet ，Just set them in you console.you can use command to set it. Example:

set http_proxy=http://localhost:1080
set http_proxy_user=user
set http_proxy_pass=pwd

[2020-11-25 07:03] ZhilkinSerg commented on #14729
I can confirm the issue is there on latest VS 2019 (16.8.2). I believe it has the same root cause as #14735 - #13755 and reverting to e126e3e fixes the issue.

[2020-11-25 07:05] NancyLi1013 commented on #14738
Thanks for your update.

Could you please try the solution mentioned here?

https://github.com/microsoft/vcpkg/issues/14300#issuecomment-719396447
https://github.com/microsoft/vcpkg/issues/1549#issuecomment-318437627

[2020-11-25 08:10] NancyLi1013 commented on #14671
Hi @ForeverCyril

I'm closing this issue for now since we don't support Windows PowerShell with the integration in vcpkg.

Thanks for your answer @strega-nil.

[2020-11-25 08:10] #14671 closed

[2020-11-25 09:43] JackBoosY commented on #14740
Could you provide the full log _buildtrees/gdal/build-x64-linux-dbg-err.log_ and _buildtrees/gdal/build-x64-linux-dbg-out.log_?

Thanks.

[2020-11-25 09:46] JonLiu1993 commented on #14757
@WilliamZkl ,Please install pkg-config first, make sure vcpkg is the latest version, and then rebuild

[2020-11-25 09:54] JackBoosY commented on #14753
Is this a build issue or usage issue? I can build imgui succesfully.
Imgui use unofficial CMakeLists.txt to be built currentlly, and it has some problems. See https://github.com/ocornut/imgui/pull/1713

[2020-11-25 09:57] JackBoosY commented on #14759
@strega-nil Any ideas?
@sloh-ms By using different vcpkg binaries, ports under different platforms will be built according to different compilers.

[2020-11-25 10:06] JackBoosY commented on #14751
Duplicated to #11950.

[2020-11-25 10:06] #14751 closed

[2020-11-25 10:08] JackBoosY commented on #14717
Duplicated to #14746.

[2020-11-25 10:08] #14717 closed

[2020-11-25 10:23] roddypratt opened #14764 "[cpp-httplib] update to 0.7.15"
Library name: cpp-httplib
New version number: 0.7.15

Assorted fixes and improvements since 0.7.0  https://github.com/yhirose/cpp-httplib/releases

[2020-11-25 10:52] vicroms commented on #14748
Hi @sipsorcery

The exported libraries are to be imported by your projects, vcpkg does not provide an `import` command.

After running the export command you will get instructions on how to import the produced output into your project.
[code]

If what you want is to share binaries built with vcpkg between multiple instances see our [binary caching documentation](https://github.com/microsoft/vcpkg/

[2020-11-25 10:59] sipsorcery commented on #14748
@vicroms ok thx for the info.

The issue then becomes that the `import` command is listed in the help usage.

[code]

[2020-11-25 11:32] epiciskandar commented on #14740
[config-x64-linux-dbg-err.log](https://github.com/microsoft/vcpkg/files/5596364/config-x64-linux-dbg-err.log)
[config-x64-linux-dbg-out.log](https://github.com/microsoft/vcpkg/files/5596365/config-x64-linux-dbg-out.log)
[build-x64-linux-dbg-err.log](https://github.com/microsoft/vcpkg/files/5596366/build-x64-linux-dbg-err.log)
[build-x64-linux-dbg-out.log](https://github.com/microsoft/vcpkg/files/5

[2020-11-25 12:25] Andyloris commented on #14731
Yes i've installed it

[2020-11-25 12:32] cloudhan commented on #14753
Build Issue. glew symbol is included, when it should not.

[2020-11-25 13:27] cloudhan commented on #14753
See this minimum reproduce.

[issue-14753.zip](https://github.com/microsoft/vcpkg/files/5596912/issue-14753.zip)

[2020-11-25 15:03] tzehetner commented on #10404
Wanted to let you know, that I upgraded to the latest version of Vcpkg today, and the problem disappeard. I did not add `<VcpkgAutoLink>false</VcpkgAutoLink>`.

[2020-11-25 16:18] mingy532 opened #14766 "[Boost] Problems when downloading the strawberry-perl-5.30.0.1-32bit.zip"
****
when download boost,it depend on strawberry-perl-5.30.0.1-32bit.zip,But it has expired
-- Downloading https://strawberry.perl.bot/download/5.30.0.1/strawberry-perl-5.30.0.1-32bit.zip...
-- Downloading https://strawberry.perl.bot/download/5.30.0.1/strawberry-perl-5.30.0.1-32bit.zip... Failed. Status: 22;"HTTP response code said error"
-- Downloading http://strawberryperl.com/download/5.30.0.1/

[2020-11-25 17:44] sloh-ms commented on #14759
Thanks @JackBoosY, yeah having separate compilers is going to happen for sure.  That's expected.

Reporting back: using "./vcpkg" instead of "./vcpkg.exe" appears to have worked.  I did get a number of messages during the install like
[code]
But they appear to be benign.  The binaries were built and I was able to export a nuget package containing all of the Linux binaries.  The export likewise fai

[2020-11-25 18:17] strega-nil commented on #13744
@JackKenney looks like you've got `VCPKG_ROOT` set in your environment to `/home/jack/addons/vcpkg/packages`. `VCPKG_ROOT` sets where vcpkg looks for the vcpkg stuff, and in general we reserve all `VCPKG_*` environment variables for our own use.

[2020-11-25 18:32] unterumarmung opened #14769 "[New Port Request] fixed-string"
Library name: fixed-string

Library description: Header-only C++17 library provides a string class with std::array fixed-size semantic.

Source repository URL: https://github.com/unterumarmung/fixed_string

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2020-11-25 19:26] #13749 closed

[2020-11-25 19:30] strega-nil commented on #14759
@sloh-ms it's absolutely valid. It's not necessarily a tested configuration, but it's something I do all the time. If you run into any bugs, please open issues :)

[2020-11-25 19:31] strega-nil commented on #14759
Also, you should really install `zip` via `sudo apt install zip`, because otherwise you don't get binary caching.

On the nuget issue, yes, you should probably open an issue about that. We should be able to export nuget packages for linux.

[2020-11-25 19:35] strega-nil commented on #10404
That is weird, thanks for updating us @tzehetner

[2020-11-25 19:37] sloh-ms commented on #14759
Thank you for the confirmation!  I've already done the zip install, and am working on getting the nuget export to work.  I'll open an issue if I am stuck.

[2020-11-25 19:37] #14759 closed

[2020-11-25 19:38] strega-nil commented on #14709
@remoe Yeah, we will make sure to fix this in the future. Thanks!

[2020-11-25 19:39] strega-nil commented on #14727
Yeah, sounds reasonable. I'll talk about it at next weeks meeting.

[2020-11-25 19:40] strega-nil commented on #14697
Yeah, let's talk about it at the next meeting.

[2020-11-25 19:41] strega-nil commented on #14735
MMh, yeah, I'll fix this today. Thanks @ZhilkinSerg for root-causing this.

[2020-11-25 20:45] #14735 closed

[2020-11-25 21:04] HappySeaFox opened #14773 "[devil] Installation procedure doesn't print any instructions how to use DevIL"
****

**Is your feature request related to a problem? Please describe.**
Installation procedure doesn't print any instructions how to use DevIL in client applications.

**Proposed solution**
Print information how to use DevIL in client applications like other libs do.

**Describe alternatives you've considered**
Diving into installed files and attempt to use pkg-config directly (with no luck becau

[2020-11-25 21:10] smoked-herring opened #14775 "[devil] pkg-config files specify non-existent IL.lib"
****

**Is your feature request related to a problem? Please describe.**
DevIL distributes pkg-config (.pc) files, however they specify `-lIL` which doesn't exist. `DevIL.lib` exists instead. Because of that using DevIL with pkg-config is limited. I'm able to use its `CFLAGS`, but to link against it I use a direct path to `DevIL.lib` like that:

[code]

**Proposed solution**
Distribute CMake confi

[2020-11-25 21:51] StarGate-One commented on #14766
Looks like https://strawberry.perl.bot site is not working correctly - maybe due to the aws outtage????
Anyway, you can download https://strawberry.perl.bot/download/5.30.0.1/strawberry-perl-5.30.0.1-32bit.zip and put the file in the directory `[vcpkg-root]\downloads` and run `.\vcpkg.exe install [boost ports]` again.

[2020-11-25 22:22] #14565 closed

[2020-11-25 22:43] stefanolande opened #14777 "[ffmpeg] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: Visual Studio 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install ffmpeg:x64-windows`

**Failure logs**
[code]
Additional [logs](https://gist.github.com/stefanolande/948c37fd0b9cd120fa893f3f87013634)

[2020-11-25 22:56] granger35 opened #14778 "[boost:x64-win] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: Package: boost-build:x64-windows
Vcpkg version: 2020.11.12-nohash

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install boost:x64-windows`

**Failure logs**
[code]

**boostrap-x64-windows-err.log:**
[code]

**Additional context**
Seems similar to issue "bootstrap build failure [#8537](https://github.com/microsoft/vcpkg/issues/8537)"

[2020-11-25 23:28] comedinha opened #14779 "[SDL2] SYSTEM_LIBRARIES missing"
Many users are having problems with SDL2 build because SYSTEM_LIBRARIES are not being sent.

On mingw-w64 static the error is:
[code]

I can only build the SDL2 if I put the required libraries for mingw
`SYSTEM_LIBRARIES dbus-1 mwindows mingw32 dxerr8 m SDL2dmain SDL2
`

But, this is not the correct way to fix, other related issues show many systems with the same problem.
Is it possible make vcpkg

[2020-11-25 23:37] tester0077 opened #14780 "liciconv build failure"
**Host Environment**
- OS: Windows 10
- Compiler: MSVC 2019

**To Reproduce**
Steps to reproduce the behavior:
 ./vcpkg install libiconv:x86-windows-static-md

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
    libiconv[core]:x86-windows-static-md
Detecting compiler hash for triplet x86-windows-static-md...
Using cached binary package: C:\Users\

[2020-11-26 01:08] aberration213 commented on #14738
I ticked the 8-bit and did the restart, that didn't help. But moving to another directory worked. Thanks!

[2020-11-26 01:08] #14738 closed

[2020-11-26 01:40] Mempler commented on #14593
Pretty sure you're missing the `Windows SDK 10.0.19041.0` package from VS Installer.
Install that and try again

[2020-11-26 01:47] Mempler opened #14783 "[V8] vcpkg should display a warning"
**Is your feature request related to a problem? Please describe.**
V8 fails if Windows 10 SDK version 10.0.19041.0 is not installed.

**Proposed solution**
If vcpkg doesn't detect that `Windows 10 SDK version 10.0.19041.0` is installed
it should throw either an error or display a warning to prevent further confusion

**Platform**
* [x] Windows
  * [x] x86
  * [x] x64
* [ ] Linux
  * [ ] x86
  * [

[2020-11-26 01:49] NancyLi1013 commented on #14728
Closing since it has been fixed now.

[2020-11-26 01:49] #14728 closed

[2020-11-26 02:01] sloh-ms opened #14784 "vcpkg Linux nuget export failure"
**Host Environment**
- OS: Linux running in WSL on Windows
- Note: this is a vcpkg repo created on the Windows side (at c:\repos\vcpkg) and accessed inside WSL in-place (at /mnt/c/repos/vcpkg).  However I also tried cloning the repo completely inside Linux and the exact same error happens.

**To Reproduce**
Steps to reproduce the behavior:
[code]
**Failure logs**
Everything succeeds until I get to

[2020-11-26 03:05] PhoebeHui commented on #14778
@granger35, could you try following steps and see if some errors occurred?

1. Open x64 Native Tools command
2. pushd F:\Dev\vcpkg\packages\boost-build_x64-windows\tools\boost-build\src\engine
3. Execute build.bat
4. Check if b2.exe and bjam.exe generated correctly

[2020-11-26 03:18] PhoebeHui commented on #14766
@mingy532, the http://strawberryperl.com/download/5.30.0.1/strawberry-perl-5.30.0.1-32bit.zip is working now, could you please try to install the port again?

[2020-11-26 03:38] mingy532 commented on #14766
Sorry, I have manually downloaded it from http://strawberryperl.com/release-notes/5.30.1.1-32bit.html and the installation was successful,
By the way, what does USE_64_BIT_INT enabled mean and what is the difference?

[2020-11-26 05:50] chuyanjuncn commented on #14672
PS D:\vcpkg> .\vcpkg install python3:x64-windows
Computing installation plan...
The following packages will be built and installed:
    python3[core]:x64-windows
Detecting compiler hash for triplet x64-windows...
Could not locate cached archive: C:\Users\chuyj\AppData\Local\vcpkg\archives\66\663e5ef850aa0860a73e02d0eb95e0b62874be81.zip
Starting package 1/1: python3:x64-windows
Building package pyt

[2020-11-26 05:57] JonLiu1993 commented on #14672
@chuyanjuncn ，Can you provide me with this log：_D:\vcpkg\buildtrees\python3\build-x64-windows-rel-out.log_
I can successfully build in the window10 environment
![Capture](https://user-images.githubusercontent.com/63675417/100313273-3c486a00-2fef-11eb-8210-25a1583e9935.PNG)

[2020-11-26 05:57] JackBoosY commented on #14783
Does this issue related to #14593?

[2020-11-26 06:00] JackBoosY commented on #14740
On my machine:
[code]
But it didn't link to gdal locally. Don't know why.

[2020-11-26 06:00] Mempler commented on #14783
Might be, can't really tell cause I haven't got a response from the Author. But given that I had the exact same error, it's most likely related to that.

[2020-11-26 06:02] PhoebeHui commented on #14766
@mingy532, the option used when building your own perl, since we're using the pre-built perl, so we don't care that option.
It seems the version that you used is newer than the one in vcpkg, I recommand to use the version in vcpkg since it has been test, and all known issue fixed before upgrade.

See https://stackoverflow.com/questions/29770286/perl-activestate-how-to-set-integer-variable-to-32-bi

[2020-11-26 06:05] mingy532 commented on #14766
thanks,I has download the correct version and it work find.

[2020-11-26 06:05] #14766 closed

[2020-11-26 06:07] chuyanjuncn commented on #14672
Microsoft (R) 生成引擎版本 14.0.25420.1
版权所有(C) Microsoft Corporation。保留所有权利。

time 2020/11/26 13:48:02。
     1>project“D:\vcpkg\buildtrees\python3\src\v3.9.0-e901d4bfb3.clean-Lib-Win\PCBuild\pythoncore.vcxproj”on node 1 上(Rebuild target)。
     1>D:\vcpkg\buildtrees\python3\src\v3.9.0-e901d4bfb3.clean-Lib-Win\PCBuild\python.props(111,31): error MSB4184: can not calculate express“[System.Version]::Parse(

[2020-11-26 06:15] JackBoosY commented on #14753
Confirmed.

[2020-11-26 06:21] PhoebeHui commented on #14729
@ZhilkinSerg, thanks for the comments!

I forget to pull the latest source from master, and doesn't repro on 16.8.2 in another machine, it's my fault, sorry for the mistakes.

I will take a look .

[2020-11-26 06:23] NancyLi1013 commented on #14773
Hi @smoked-herring

Thanks for posting this issue.

Currently, there are no config and targets CMake files for `devil`, so it doesn't have usage like this.
[code]

[2020-11-26 06:29] gvanem opened #14787 "Typos in CONTROL files"
A quick search through the `CONTROL` files shows these **libary** typos:
 * `ports\ebml\CONTROL`: Description: a C++ **libary** to parse EBML files
 * `ports\gppanel\CONTROL`: Description: gpPanel is chart **libary** for wxWidget. It inheritance from wxPanel and ...
 * `ports\matroska\CONTROL`: Description: a C++ **libary** to parse Matroska files (.mkv and .mka)
 * `ports\polyhook2\CONTROL`: Desc

[2020-11-26 06:39] PhoebeHui commented on #14692
@longnguyen2004, as @cenit suggested, I think you can set pthreads to empty package and then set it depends on winpthreads, like opencv.

[2020-11-26 06:40] smoked-herring commented on #14773
It would be great to print instructions for non-CMake libs as well. For example, for pkg-config-based like that:

[code]

[2020-11-26 06:46] JonLiu1993 commented on #14672
@chuyanjuncn ，This problem does not seem to be a vcpkg problem, it may be related to VS, you can try to upgrade your VS2017 first, and then try again

[2020-11-26 06:47] JackBoosY commented on #14753
@RT222 Seems most of these binding features are missing export the dependency libraries. Can you confirm this?

[2020-11-26 06:58] gvanem opened #14788 "Please improve 'vcpkg search'"
Currently `vcpkg search pattern` gives all kinds of hits unrelated to library name(s) as the
`vcpkg search --help` indicates:
`The argument should be a substring to search for, or no argument to display all libraries.`

I read this as a *substring* should match the library name only.

Now with e.g. `vcpkg search ares` (and combined with grep to give colours), I get these hits:

![vcpkg-search-1](h

[2020-11-26 07:02] smoked-herring opened #14789 "[sdl2-image] SDL2_Image should also import SDL2"
****

**Is your feature request related to a problem? Please describe.**
If I use the printed instructions to include sdl2-image, project generation fails with

[code]

Instructions used:

[code]

**Proposed solution**
Fix the sdl2-image configs to also import `SDL2`.

**Describe alternatives you've considered**
Import `SDL2` manually like that:

[code]

**Additional context**
Add any other contex

[2020-11-26 07:09] chuyanjuncn commented on #14672
thanks. I will try again

[2020-11-26 07:11] JonLiu1993 commented on #14777
@stefanolande ，Did you install the DirectX SDK correctly? "Strmiids.lib" is a part of DirectX SDK, if you install DirectX SDK through platform SDK, you can find strmiids.lib in this path：
_C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\SDK\ScopeCppSDK\SDK\lib_
![Capture](https://user-images.githubusercontent.com/63675417/100318809-9bab7780-2ff9-11eb-8156-9d4e6b5cfaa1.PNG)

[2020-11-26 07:24] NancyLi1013 commented on #14787
Hi @gvanem

Thanks for posting this issue.

We will update these typos later.

[2020-11-26 07:32] JonLiu1993 commented on #14731
@Andyloris ，Can you provide your recurring environment? Windows version, compiler version, windows SDK version you installed, and complete log, thank you! I cannot reproduce your problem on window10 and VS2017.Thanks

[2020-11-26 07:50] NancyLi1013 commented on #14773
@smoked-herring

Sorry for my misunderstanding. This issue should be related with how to use `pkg-config` in vcpkg.

[2020-11-26 07:50] JackBoosY commented on #14789
Confirmed.

[2020-11-26 08:10] NancyLi1013 commented on #14509
Hi @plettplett

Is there any update?

[2020-11-26 08:13] NancyLi1013 commented on #14334
Closing this issue for no response.

Please feel free to reopen this issue if it is still a problem for you.

[2020-11-26 08:13] #14334 closed

[2020-11-26 08:30] PhoebeHui commented on #14729
@Ou7law007, I have summited PR #14797 to fix this issue, could you help to test if it works for you?

[2020-11-26 08:47] NancyLi1013 commented on #10887
This is not a vcpkg bug. Needs to fix the problem on ports sides.

Please see https://github.com/microsoft/vcpkg/pull/10964#issuecomment-656362040

Currently, all these ports have been fixed in current master branch. Please update vcpkg to the latest version to rebuild.

[code]
I have tested these ports on x86-windows and there was no any error.

[2020-11-26 08:47] #10887 closed

[2020-11-26 09:14] JacqueSatan opened #14798 "[curl:x64-linux] build failure"
**Host Environment**
- OS: Arch Linux on WSL
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install cpr`

**Failure logs**
lot of patches here
[code]

**Additional context**
The command `idn2` works, and `vcpkg install idn2` says it doesn't find `unistring`.

Thank you

[2020-11-26 09:36] DBJDBJ commented on #14684
There is a small detail to be answered: Why does e.g. Avast "thinks" vcpkg.exe is such a big malware danger?

I assume the owner of this product needs to meet with Avast and the very few of other AV vendors, perhaps.

I have not checked but the real funny issue might be if Windows Defender also "thinks" vcpkg.exe is a malware.

[2020-11-26 09:36] #14684 closed

[2020-11-26 09:42] JackBoosY commented on #14798
Pleae rebuild libidn2 and try again.

Thanks.

[2020-11-26 09:53] stefanolande commented on #14777
@JonLiu1993  I am using Visual Studio 2019 Community. From some googling I understood that it is part of DirectX SDK but I did find it in Visual Studio Installer. Could you point me to the name of the component to install?

[2020-11-26 09:54] granger35 commented on #14778
b2.exe and bjam.exe generated correctly:

[code]

b2.exe and bjam.exe are present in F:\Dev\vcpkg\packages\boost-build_x64-windows\tools\boost-build\src\engine

[2020-11-26 11:54] gvanem commented on #14787
And what about `composable`? Used in:
  * `ports\bfgroup-lyra\CONTROL`: Description: A simple to use, **composable**, command line parser for C++ 11 and beyond
  * `ports\wangle\CONTROL`: Description: Wangle is ... building services in a consistent, modular, and **composable way**.

Yuk!

[2020-11-26 12:40] ZhilkinSerg commented on #14729
You need to apply changes from #14797 to your local copy first.

[2020-11-26 13:00] JacqueSatan commented on #14798
Tried `yay -S libidn2` and installed multilib and core versions, still returning the same error

[2020-11-26 13:31] Ou7law007 commented on #14729
You're right, it works for me now. I'm sorry this was literally my second post github, guess I don't know how things work yet.

[2020-11-26 13:31] eugenesvk commented on #2874
@OlafvdSpek, agree that there has to be an automatic solution, but in the meantime maybe this type of `vcpkg.ps1` script could help by adding `--clean-after-build` command at the end on every passing of `install`?
[code]

[2020-11-26 13:35] #14729 closed

[2020-11-26 14:04] Neumann-A commented on #14712
@JackBoosY: My only comment to that is to use `windeployqt` instead of vcpkg own deployment script for qt. This solves this issue as well as the translation issue.

[2020-11-26 16:46] StarGate-One commented on #14766
@mingy532 cc @PhoebeHui
1. The version used by vcpkg is 5.30.0.1:
https://github.com/microsoft/vcpkg/blob/539a182d3773b9a84807b978c9684ba471446bf4/scripts/cmake/vcpkg_find_acquire_program.cmake#L65-L75

**2. I guess the bigger question is why vcpkg did not fail over to the backup site in line 74 when the site in line 73 failed?**

[2020-11-26 17:09] Nemirtingas commented on #14705
Hmm, still not working with cmake 3.19.1...
[code]

[2020-11-26 17:12] billyquith opened #14802 "[EASTL] update to 3.17.03"
Library name: EASTL

New version number: 3.17.03

Other information that may be useful (release notes, etc...)
https://github.com/electronicarts/EASTL/releases/tag/3.17.03

Ta!

[2020-11-26 20:24] L0ric0 commented on #14631
I have tried the second option but seem to be unable to do so when using vcpkg in manifest mode. I have set `VCPKG_LIBRARY_LINKAGE` to `dynamic` bevore specifing the toolchain file but hdf5 is still bulid as a static lib

[2020-11-26 21:17] StarGate-One commented on #14780
This is also true on triplet x64-windows:
1. Port: fontconfig:
->vcpkg owns libfontconfig.la
fontconfig:x64-windows: x64-windows/debug/lib/libfontconfig.la
fontconfig:x64-windows: x64-windows/lib/libfontconfig.la

2. Port: libiconv:
->vcpkg owns libcharset.la
libiconv:x64-windows: x64-windows/debug/lib/libcharset.la
libiconv:x64-windows: x64-windows/lib/libcharset.la
->vcpkg owns libiconv.la
libic

[2020-11-26 21:45] luodaoyi commented on #12665
[code]

[2020-11-26 22:04] vicroms commented on #14787
The instances of "composable" come directly from the upstream library descriptions.

As a matter of policy, we don't usually accept PRs whose only purpose is to fix typos:

https://github.com/microsoft/vcpkg/blob/master/docs/maintainers/maintainer-guide.md#avoid-trivial-changes-in-untouched-files

[2020-11-26 22:08] StarGate-One commented on #14780
The corresponding dll files are also missing their symbol files.
1. Port fontconfig
->vcpkg owns fontconfig-1.dll (no symbol pdb files)
fontconfig:x64-windows: x64-windows/bin/fontconfig-1.dll
fontconfig:x64-windows: x64-windows/debug/bin/fontconfig-1.dll
2. Port libiconv
->vcpkg owns charset-1.dll (no symbol pdb files)
libiconv:x64-windows: x64-windows/bin/charset-1.dll
libiconv:x64-windows: x64-

[2020-11-26 23:05] #14787 closed

[2020-11-26 23:54] vicroms commented on #11422
This was fixed in #13777

[2020-11-26 23:54] #11422 closed

[2020-11-27 03:16] JackBoosY commented on #14631
@L0ric0 In linux, you can create a triplet `x64-linux-dynamic`.

[2020-11-27 03:17] PhoebeHui commented on #14778
How about ./vcpkg install boost-build:x64-windows now?

That means the b2.exe and bjam.exe could generated correctly, it might be removed by anti-virus software.

[2020-11-27 04:01] juanjuankai commented on #13573
When i install vs2017 not using englist package, it also happens; install english package, then it works.

[2020-11-27 07:08] JackBoosY commented on #14603
https://github.com/microsoft/vcpkg/blob/62fe6ffbbbae9149fb8c48cde2a34b809e2a3008/scripts/cmake/vcpkg_find_acquire_program.cmake#L297-L327

We can refer to clang to find clang-format.

[2020-11-27 07:16] JackBoosY commented on #14705
I can confirm this is a upstream bug, see https://gitlab.kitware.com/cmake/cmake/-/issues/16410

[2020-11-27 07:19] JackBoosY commented on #14798
https://github.com/curl/curl/blob/c7b02c5d680021f21aebdf41cb336a742fdad664/CMakeLists.txt#L621

For workaround, please remove libidn2 you manually installed and try again.

Thanks.

[2020-11-27 07:21] Nemirtingas commented on #14705
Hi, are you sure ? This issue has been opened 4years ago, my issue is only since the new version. I've sent a comment to the cmake discourse about this, I hope they find the commit that broke it. Till then I've forked vcpkg and reversed the cmake update 😢

[2020-11-27 07:37] NancyLi1013 commented on #14684
This is due to that vcpkg haven't signed in vcpkg binary.

[2020-11-27 07:49] JackBoosY commented on #14705
I didn't notice the time...
I think it is. And it can only be resolved by the upstream.

[2020-11-27 07:52] JackBoosY commented on #14684
This seems because vcpkg will collect some informations. see https://github.com/microsoft/vcpkg#telemetry.

[2020-11-27 08:45] mingy532 commented on #14766
Hello, when I was installing boost, it did prompt me that downloading version 5.30.0.1 failed, and the progress bar kept stuck:
  Downloading http://strawberryperl.com/download/5.30.0.1/strawberry-perl-5.30.0.1-32bit.zip...
It was my mistake. I chose the wrong version 5.30.1.1-32bit during manual download. After half an hour, I found out and chose the correct version.
I did not "try to install boo

[2020-11-27 09:56] DBJDBJ commented on #14684
@NancyLi1013 Good. But. Avast, Avira, AVG et all might not let it through even if it is a signed binary. Hint: Because of the telemetry perhaps?

[2020-11-27 10:09] ishaantantra opened #14808 "pistache:x64-windows build failure"
**Host Environment**
- OS: Windows x64
- Compiler: Visual Studios 2019

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg install pistache`

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
    pistache[core]:x64-windows
Detecting compiler hash for triplet x64-windows...
Could not locate cached archive: C:\Users\Admin\AppData\Local\vcpkg\ar

[2020-11-27 10:18] xandox opened #14810 "How do I can check system version in CONTROL file or static build of realsense2 under windows 7 and binary caching."
Hi all.

There is a port of Intel librealsense2 library. It depends on some usb library. When building it under windows 10 it use builtin USB API and everything is ok. But when building under windows 7 (for example) it starts depend on libusb, but in CONTROL file libusb set as dependence only for not windows built. librealsense2 itself resolve this problem and plug libusb as cmake external project

[2020-11-27 10:25] Neumann-A commented on #14780
To be clear `.la` files are libtool helper scripts. Since the libraries are now correctly compiled with `/Z7` with the default toolchain the debug info is embedded into the library. `vcpkg_copy_pdb` is a bit too stupid since it does not account for the flags in the toolchain and thus issues warnings if pdb files are missing although you never expected them to be generated. (but that is not the iss

[2020-11-27 10:29] JacqueSatan commented on #14798
I removed the multilib, but I can't remove the core version :
[code]
Same error still appears when I try again.

[2020-11-27 11:04] ishaantantra opened #14811 "[New port request] ArduinoJson"
Library name:

1. ArduinoJson
2. croncpp

Library description:

1. ArduinoJson is a C++ JSON library for Arduino and IoT (Internet Of Things)
2. croncpp is a C++11/14/17 header-only cross-platform library for handling CRON expressions. It implements two basic operations: parsing an expression and computing the next occurence of the scheduled time

Source repository URL:

1. https://github.com/bbla

[2020-11-27 12:25] HO-COOH opened #14812 "Add x86-linux triplet"
**Is your feature request related to a problem? Please describe.**
A feature request.

**Describe alternatives you've considered**
The temporary solution is mentioned here: #8917. But it's not ideal

[2020-11-27 12:57] neverfelly commented on #14015
Yep, assimp build failed on OSX 10.15.7 too.

[2020-11-27 13:03] remoe commented on #14756
I've added a comment to this new PR: https://github.com/microsoft/vcpkg/pull/14790#issuecomment-734818924

[2020-11-27 13:46] strandmpGH opened #14814 "[protobuf:x64-windows] build failure -- False alarm -- Problem resolved by updating and repairing visual studio installation"
**Host Environment**
- OS: [Windows10]
- Compiler: Visual Studio 2019

**To Reproduce**
Steps to reproduce the behavior:
`PS C:\src\vcpkg> .\vcpkg install protobuf:x64-windows`

**Failure logs**
PS C:\src\vcpkg> .\vcpkg install protobuf:x64-windows
Computing installation plan...
The following packages will be built and installed:
    protobuf[core]:x64-windows
Detecting compiler hash for triplet x

[2020-11-27 13:58] perara commented on #14780
On a similar note, previously I could previously define:

[code]

which provided me both the iconv.h and the correct links. Now I'm not able to link, not getting the header.
I've tried various variations of find_package( **iconv CONFIG REQUIRED )
with variations of the above link.

Also there's no longer any instructions on how to utilize this after installing (vcpkg install)

[2020-11-27 13:59] stefanolande commented on #14777
Seems like the problem has been solved by installing the Visual Studio SDK.

[2020-11-27 13:59] #14777 closed

[2020-11-27 14:04] Neumann-A commented on #14780
https://cmake.org/cmake/help/latest/module/FindIconv.html

[2020-11-27 15:00] justin-hackin opened #14815 "vcpkg.cmake error: Could NOT find PkgConfig (missing: PKG_CONFIG_EXECUTABLE)"
**Describe the bug**
Usage of vcpkg.cmake in cmake arg -DCMAKE_TOOLCHAIN_FILE results in an error regarding missing PkgConfigure.

**Environment**
- OS: Appveyor image: Visual Studio 2017 (Windows 10)
- Compiler: vcpkg 2019.09.12-nohash

**To Reproduce**

Appveyor config (environment details here https://www.appveyor.com/docs/windows-images-software):
[code]

with npm project containing https://gi

[2020-11-27 15:23] Neumann-A commented on #14815
Please close, that error is totally unrelated to vcpkg...

lib2geom has a `find_package(PkgConfig REQUIRED)` call and unless you provide the PKG_CONIFG_EXECUTABLE somehow e.g. by putting it on the PATH or via other CMake variables, this will always fail. (and no vcpkg does not provide PkgConfig for CMake automatically)

[2020-11-27 15:43] justin-hackin commented on #14815
Thanks @Neumann-A I'll flag this as an issue in lib2geom

[2020-11-27 15:43] #14815 closed

[2020-11-27 15:45] justin-hackin commented on #14815
For others who might have encountred this bug, the fix was to install pgkconfiglite via chocolatey

[2020-11-27 15:48] #14814 closed

[2020-11-27 20:24] granger35 commented on #14778
Hi,
./vcpkg install boost:x64-windows failed.
But, looking at the warnings, the english language package was missing for VC. After installing it, boost installed well. Did you see a causal link ? Behaviour tested on two machines with French language package installed, same issue, and everything has work well after english package installation.

[2020-11-27 23:13] kszucs opened #14817 "[aws-sdk-cpp] Missing AWSSDKConfig.cmake"
**Is your feature request related to a problem? Please describe.**
In order to locate the AWS libs more easily the SDK provides [cmake scripts](https://github.com/aws/aws-sdk-cpp/tree/master/cmake) as described in [AWS blog post](https://aws.amazon.com/blogs/developer/developer-experience-of-the-aws-sdk-for-c-now-simplified-by-cmake/).

These should be available by default after installation, but

[2020-11-28 02:10] zhiwi1 opened #14818 "i have error,libfontconfig-1.dll not found,when i installed gtkmm , how can i fix this?"
When asking a question please also include where you looked for an answer (so we can update the documentation if needed).

[2020-11-28 02:56] longnguyen2004 commented on #14779
I'll take a look

[2020-11-28 03:49] #14603 closed

[2020-11-28 05:46] comedinha commented on #14779
"Unhandled string "-mwindows" was found!", the -mwindows is required for build with mingw,

[2020-11-28 06:35] longnguyen2004 commented on #14779
I mean `-mwindows` should be in IGNORE_FLAGS as it's not related to library dependencies.
Your `vcpkg_fixup_pkgconfig` should be like this:
[code]

If you can, please create a PR, I'm working on getting #14556 merged at the moment

[2020-11-28 08:49] prithvidiamond1 opened #14820 "Something in vcpkg seems to be interfering with Visual Studio 2019's contextual drop down menu for Managing Configurations"
**Describe the bug**
vcpkg seems to be interfering with Visual Studio 2019's contextual drop down menu for Managing Configurations. What I mean by this is, if you open a folder with miscellaneous or standalone source files that are not a part of any Visual Studio 2019 Projects or Solutions that also has vcpkg, then there will be no way for you to Manage Configurations in Visual Studio 2019 as the

[2020-11-28 09:13] smoked-herring opened #14821 "[cimg] update to 2.9.4"
Library name: CImg

New version number: 2.9.4

Other information that may be useful (release notes, etc...)

https://cimg.eu/

[2020-11-28 09:29] rleigh-codelibre commented on #5983
Looks like this is completely controlled by target triplets, so I'll close this.

[2020-11-28 09:29] #5983 closed

[2020-11-28 12:47] sfhacker commented on #5983
This issue is from **last year**!
@rleigh-codelibre Were you able to fix it? If so, please post the resolution here!

[2020-11-28 13:16] rleigh-codelibre commented on #5983
@sfhacker See the files created in https://github.com/microsoft/vcpkg/pull/14613 and the linked documentation and discussion.  I hope this helps!

[2020-11-28 16:43] sipsorcery opened #14822 "Broken doc link"
On https://github.com/microsoft/vcpkg/blob/master/docs/index.md:

The link for `User Help->Using a manifest file to declare your dependencies` is broken.

Seems https://github.com/microsoft/vcpkg/blob/master/docs/users/top-level-manifest.md should be https://github.com/microsoft/vcpkg/blob/master/docs/users/manifests.md.

[2020-11-28 17:17] zaddach opened #14823 "[pthreads] build failure with community triplet x64-windows-static-md"
**Host Environment**
- OS: x64-windows-static-md
- Compiler: VS2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install pthreads:x64-windows-static-md`

**Failure logs**
[code]

**Additional context**
I'm trying to use the Cargo vcpkg module to find a vcpkg library. This module uses the `x64-windows-static-md` by default.

[2020-11-28 19:57] Pospelove opened #14824 "[mongo-c-driver] build failure"
**Host Environment**
- OS: Windows 8.1
- Compiler: MSVC (from Microsoft Visual Studio 2019)

**To Reproduce**
Steps to reproduce the behavior:
vcpkg should be located in a directory with a long path like `C:\Users\Denis\AppData\Local\pmm\1.4.2\vcpkg-790910f79f653978f90aadd958abf3c407215552`.

`./vcpkg install mongo-c-driver`

**Failure logs**
[code]

[2020-11-29 00:04] gitmehelp opened #14826 "[opencv4:x64-windows] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: Microsoft (R) Windows (R) Resource Compiler Version 10.0.10011.16384

GPU is RTX 2060

Error: Building package opencv4:x64-windows failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `.\vcpkg update`, then
submit an issue at https://github.com/Microsoft/vcpkg/issues including:
  Package: opencv4:x64-windows
  Vcpkg versio

[2020-11-29 00:04] dennisameling commented on #14780
Can reproduce this on Windows while installing for `arm64-windows` while working on this PR: https://github.com/git-for-windows/git/pull/2915

Notice the "Could not find a matching pdb file for" warning in the log below:

[code]

This results in the following output files:

![image](https://user-images.githubusercontent.com/17739158/100528538-690ea400-31de-11eb-9fd9-b50af9cf608c.png)

Until recent

[2020-11-29 01:45] vmiheer opened #14827 "[mpir] build failure"
**Host Environment**
- OS: Distributor ID: Ubuntu
Description:    Ubuntu 20.04.1 LTS
Release:        20.04
Codename:       focal
- Compiler: gcc version 9.3.0 (Ubuntu 9.3.0-17ubuntu1~20.04)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install mpir`

**Failure logs**
[code]

I think vcpkg should be standalone and not dependent on apt?

[2020-11-29 02:03] vmiheer commented on #14827
After installing `yasm+autoconf` using apt, now I get:
[code]

[code]

[2020-11-29 02:31] atimholt commented on #8503
I know this is closed, but I ran into the same problem today (2020-11-28) after `git pull`-ing, `vcpkg\bootstrap.bat\`-ing, and `vcpkg upgrade`-ing. Usually, to find usage information, I run `vcpkg install [port]` again and read its output, which did not return the new usage information.

If there is some way to access package usage information from the command line—besides navigating to `VCPKG_RO

[2020-11-29 02:34] gitmehelp commented on #14826
GPU is RTX 2060

[2020-11-29 02:35] geraldcombs opened #14828 "[c-ares] update to 1.17.1"
Library name: c-ares

New version number: 1.17.1

Other information that may be useful:

Release announcement, including change summary: https://c-ares.haxx.se/mail/c-ares-archive-2020-11/0008.shtml

[2020-11-29 02:59] sai-cartly commented on #14672
Here is the error in the log:

[code]

[2020-11-29 05:14] odskinz488 commented on #14746
can you please hurry up to port this library faster?!

[2020-11-29 08:44] ZP-Z opened #14829 "[New Port Request] partio"
Library name: partio

Library description: Computer graphics library from *Walt Disney Animation Studios*. An open-source C++ library for reading, writing and manipulating a variety of standard particle formats (GEO, BGEO, PTC, PDB, PDA).

Source repository URL: https://github.com/wdas/partio

Project homepage (if different from the source repository): http://partio.us/

Anything else that is usef

[2020-11-29 09:50] Neumann-A commented on #14780
@dennisameling just fix the CI script to no longer pass the CMake variables for those libraries explicitly.... It now works without that....
The DLL issue is complelty separate from that and depends on how the executable is deploy

[2020-11-29 10:10] sfhacker commented on #14826
@gitmehelp Are you ok?
Are we **still** having issues building opencv or darknet?

[2020-11-29 10:12] sfhacker commented on #14746
It is my understanding that GNUTLS is already available! Not sure what's going on here?

[2020-11-29 10:14] sfhacker commented on #14823
It is my understanding that pthreads comes with your environment when it is installed and set up!
You shouldn't need to build pthreads at all. Perhaps your environment is broken?
Which project are you trying to build (provide an URL to download please) which depends on pthreads?
Cheers.

[2020-11-29 10:17] sfhacker commented on #14689
Any news/update on this open ticket?

[2020-11-29 11:04] dennisameling commented on #14780
@Neumann-A thanks so much for the hint - that worked!

[2020-11-29 11:21] westshellX opened #14830 "[fontconfig:x86-windows] build failure on Windows 7"
**Host Environment**
- OS: [Windows 10, Windows7]
- Compiler: VS2017

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install fontconfig

**Failure logs**
CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:106 (message):
Call Stack (most recent call first):
  scripts/cmake/vcpkg_configure_make.cmake:527 (vcpkg_execute_required_process)
  ports/fontconfig/portfile.cmake:19

[2020-11-29 11:33] carpolite opened #14831 "[opencascade] x86-windows build failure"
PS D:\vcpkg> .\vcpkg install opencascade

CMake Error at scripts/cmake/vcpkg_execute_build_process.cmake:142 (message):
    Command failed: "C:/Program Files/CMake/bin/cmake.exe" --build . --config Debug --target install -- -v -j5
    Working Directory: D:/vcpkg/buildtrees/opencascade/x86-windows-dbg
    See logs for more information:
      D:\vcpkg\buildtrees\opencascade\install-x86-windows-dbg-o

[2020-11-29 12:57] deva22github opened #14832 "[vcpkg] bootstrap-vcpkg.bat fails"
I'm not sure this is still an issue that needs solving? If someone still has this issue, please ping me and open a new issue.

_Originally posted by @strega-nil in https://github.com/microsoft/vcpkg/issues/7903#issuecomment-597371500_

I'm having this issue and new to github, please help me get rid of this error

[2020-11-29 13:00] odskinz488 commented on #14746
so, you're wrong, cause it's not available

[2020-11-29 16:44] ifrisbie commented on #12855
I've encountered this problem on package libpq as well.  The problem looks to be (perhaps) a bug in v141 linker (where it gives up trying to identify the architecture if the first file doesn't have that info) as it isn't an issue with v142 (VS2019).  My guess is that no one recently verified that they would still build under v141.  It is annoying for sure because I need to be able to build using V

[2020-11-29 18:02] martti-cloudkey opened #14834 "./vcpkg install curl[tool] fails"
-- Installing: /home/martti/temp/vcpkg/packages/curl_x64-linux/share/curl/curl-config
-- Fixing pkgconfig file: /home/martti/temp/vcpkg/packages/curl_x64-linux/lib/pkgconfig/libcurl.pc
-- CHECK_LIB_lber_RELEASE:CHECK_LIB_lber_RELEASE-NOTFOUND
CMake Error at scripts/cmake/vcpkg_fixup_pkgconfig.cmake:233 (message):
  Library "lber" was not found! If it is a system library use the
  SYSTEM_LIBRARIES

[2020-11-29 18:25] geraldcombs opened #14835 "[New Port Request] bcg729"
Library name: bcg729

Library description: G.729 speech codec

Source repository URL: https://github.com/BelledonneCommunications/bcg729

Project homepage (if different from the source repository): https://linphone.org/technical-corner/bcg729

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

Can be built with CMake.

[2020-11-29 18:28] gitmehelp commented on #14826
I tried a bunch of things and this morning it is now working.  I am not sure what all the issues were.

Probably one of the issues is that I needed to change the darknet Makefile to use the right GPU settings.  I have a GeForce RTX 2060 (which should use the 75 setting), so I uncommented the following ARCH definition:

# GeForce RTX 2080 Ti, RTX 2080, RTX 2070, Quadro RTX 8000, Quadro RTX 6000, Qu

[2020-11-29 18:28] #14826 closed

[2020-11-29 18:29] geraldcombs opened #14836 "[New Port Request] libilbc"
Library name: libilbc

Library description: iLBC codec

Source repository URL: https://github.com/TimothyGu/libilbc

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

Can be built with CMake.

[2020-11-29 18:59] geraldcombs commented on #11476
Duplicate of #10389?

[2020-11-29 19:46] Hoikas commented on #14672
@sai-cartly Are you certain that you have updated to the latest vcpkg master by executing `git pull && ./bootstrap-vcpkg.sh` in the terminal? From the error log you have posted, your vcpkg is [still building Python 3.8.3](https://github.com/python/cpython/blob/v3.8.3/Modules/posixmodule.c#L9221), which does not support macOS Big Sur. [Compare with line 9221 of posixmodule.c in Python 3.9.0](https:

[2020-11-29 20:24] sdoiel61 opened #14837 "angelscript build failure"
**Host Environment**
- OS: [Windows 10 Home]
- Compiler: Microsoft Visual Studio 2019 Version 16.8.2

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install angelscript:x86-windows`

Starting package 1/1: angelscript:x86-windows
Building package angelscript[core]:x86-windows...
-- Downloading https://angelcode.com/angelscript/sdk/files/angelscript_2.34.0.zip...
-- Extracting source C:/

[2020-11-29 20:29] sdoiel61 opened #14838 "eigen3 build failure"
**Host Environment**
- OS: Microsoft Windows 10, Home OS build 19041.630
- Compiler: Microsoft Visual Studio Professional, Version 16.8.2

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install eigen3:x86-windows`

**Failure logs**
-Cut and past the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

Starting

[2020-11-29 20:35] sdoiel61 opened #14839 "Antlr4 update to 4.9"
Library name: Antlr4

New version number: 4.9

[antlr4.zip](https://github.com/microsoft/vcpkg/files/5612816/antlr4.zip)

I am not sure since I don't know enough about vcpkg, but I created the attached vcpkg.json and portfile.cmake files and the package appears to build correctly.

I can't say for certain because I can't build my project to verify since other packages (anglescript and eigen3) are

[2020-11-29 21:44] #14822 closed

[2020-11-29 22:11] thomas-t1 opened #14840 "VCPKG binary caching fails to upload to Azure DevOps feed after interactive authentication"
**Describe the bug**
Binary caching with nuget fails when attempting to upload package to Azure DevOps Artifacts feed.

**Environment**
- OS: Windows 10
- Compiler: MSVC 19.28.29334.0
- VCPKG 2020.11-1

**To Reproduce**
Steps to reproduce the behavior:
1. $env:VCPKG_BINARY_SOURCES='clear;nuget,https://pkgs.dev.azure.com/.../v3/index.json,readwrite;interactive'
1. vcpkg install --triplet x64-window

[2020-11-30 02:12] PhoebeHui commented on #14778
@granger35, thanks for sharing the solution here!

English package is required when using vcpkg, it cause some unexpect failures without installing it. Glad you have figured out the solution.

[2020-11-30 02:12] #14778 closed

[2020-11-30 03:00] JackBoosY commented on #8503
@atimholt Please open a new issue to report that, thanks!

[2020-11-30 03:05] JackBoosY commented on #11476
Will fixed in #13100, and duplicated to #10389.

[2020-11-30 03:05] #11476 closed

[2020-11-30 03:10] JackBoosY commented on #14834
Will be fixed in #14807.

[2020-11-30 03:13] JackBoosY commented on #14827
@vmiheer Can you provide the **full log** _/home/mvaidya/setup/vcpkg/buildtrees/mpir/autoconf-x64-linux-err.log_ and _/home/mvaidya/setup/vcpkg/buildtrees/mpir/x64-linux-dbg/config.log_

Thanks.

[2020-11-30 03:19] JackBoosY commented on #14832
Can you please provide more details?

[2020-11-30 05:41] JackBoosY commented on #14820
@strega-nil Could you please take a look?

Thanks.

[2020-11-30 05:42] JackBoosY commented on #14840
cc @strega-nil

[2020-11-30 05:53] JackBoosY commented on #14811
Hi @ishaantantra, vcpkg already includes `croncpp`, please use command `./vcpkg install croncpp` to install it.

Thanks.

[2020-11-30 06:05] JackBoosY commented on #14817
The upstream should add code to install this file to the installation folder. Can you report this to the upstream?

Thanks.

[2020-11-30 06:06] PhoebeHui commented on #14154
@scially, does this still be an issue for you? BTW, do you install English language package? Many unexpect issue reported without installing it, could you double check?

[2020-11-30 06:30] PhoebeHui commented on #14818
@zhiwi1, could you remove fontconfig and rebuild it again?

[2020-11-30 07:05] deva22github commented on #14832
@JackBoosY when i bootstrap it, the command prompt screen says the following:
![Screenshot 2020-11-30 122927](https://user-images.githubusercontent.com/71824038/100578298-fac60080-3307-11eb-8617-8d55ef2422e5.png)
and if u dont mind, as im new to github, im not clear how it is used, and has some confusions, so dont mind if i make any mistakes unknowingly in your profile

[2020-11-30 07:12] PhoebeHui commented on #12568
This issue would be fixed by PR https://github.com/microsoft/vcpkg/pull/13998.

[2020-11-30 07:12] JackBoosY commented on #14832
Which version of Visual Studio did you install? Did you install the English Language Package? And please provide your Windows SDK version.

Thanks.

[2020-11-30 07:58] JackBoosY commented on #14831
Please provide your Windows version, Visual Studio version and log _D:\vcpkg\buildtrees\opencascade\install-x86-windows-dbg-out.log_.

Thanks.

[2020-11-30 08:00] sloh-ms commented on #14784
I realized it *might* be possible to export the linux packages from the Windows side instead of from the Linux side.  So I just tried that, but it failed too - for a different reason.
[code]

[2020-11-30 08:09] lerbuke opened #14845 "fontconfig:x64-linux"
**Host Environment**
Linux LEVENT-FIXE 4.4.0-19041-Microsoft #488-Microsoft Mon Sep 01 13:43:00 PST 2020 x86_64 GNU/Linux
gcc (Debian 8.3.0-6) 8.3.0
cmake version 3.13.4

**To Reproduce**
./vcpkg install fontconfig:x64-linux

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
    fontconfig[core]:x64-linux
Detecting compiler hash for triplet x64-lin

[2020-11-30 08:12] lerbuke commented on #14845
cmake version 3.13.4

[2020-11-30 08:14] 777seV opened #14846 "Building package suitesparse:x64-windows failed"
Environment

OS: win10
Compiler: vs2019

:\vcpkg>vcpkg install g2o:x64-windows
Computing installation plan...
The following packages will be built and installed:
    g2o[core]:x64-windows
  * suitesparse[core]:x64-windows
Additional packages (*) will be modified to complete this operation.
Detecting compiler hash for triplet x64-windows...
Could not locate cached archive: C:\Users\Administrator\Ap

[2020-11-30 08:20] lerbuke commented on #14845
Resolved using:
$ apt get install autopoint
I encoutered the issue when trying to install the latest qt version (5.15).
Seems that autopoint wasn't needed to install the previous version of Qt I've installed before.

[2020-11-30 08:20] #14845 closed

[2020-11-30 08:33] deva22github commented on #14832
visual studio code version :1.51.1
english language(uk) package for visual studio code has not been installed  earlier, but just now have installed it
im not sure about the sdk version

[2020-11-30 08:36] JackBoosY commented on #14832
@deva22github Sorry, did you use Windows 10? Please use powershell instead of cmd and try again.

Thanks.

[2020-11-30 08:42] JackBoosY commented on #14846
Seems your network couldn't download the source package, please set a proxy then try again.

Thanks.

[2020-11-30 08:46] deva22github commented on #14832
ok sure, thank you so much

[2020-11-30 08:49] 777seV commented on #14846
How can I install this package to skip step

[2020-11-30 08:49] deva22github commented on #14832
git : fatal: destination path 'vcpkg' already exists and is not an empty directory.
At line:1 char:1
+ git clone https://github.com/Microsoft/vcpkg.git
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (fatal: destinat...mpty directory.:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError

when using powershell, the above one was

[2020-11-30 08:51] deva22github commented on #14832
@JackBoosY using powershell also gives the same message

[2020-11-30 09:37] JackBoosY commented on #14846
vcpkg doesn't provide the binaries directly, the port should be downloaded and built.

[2020-11-30 09:50] PhoebeHui commented on #14824
@Pospelove, could you install English language pack and see if this issue still repro?

[2020-11-30 10:17] PhoebeHui commented on #14810
@xandox, from https://github.com/IntelRealSense/librealsense/blob/master/src/win7/CMakeLists.txt. it seems that if USE_EXTERNAL_USB enabled, then it would depend on libusb, currently, we haven't enable it, so it should not been required to build under win7. Do you encounter some failures on win7?

[2020-11-30 10:34] xandox commented on #14810
Problem only with binary caching.

Unfortunately this is not full picture. The library can't be built without any usb api. So. They include [libusb_config.cmake](https://github.com/IntelRealSense/librealsense/blob/master/CMake/libusb_config.cmake) in 11 line in [win7/CMakeLists.txt](https://github.com/IntelRealSense/librealsense/blob/master/src/win7/CMakeLists.txt) this config checks is libusb cou

[2020-11-30 11:20] deva22github commented on #14832
@strega-nil can you please help me solve this issue?

[2020-11-30 14:04] gvanem commented on #14832
@deva22github I've created this [GNU-makefile](https://gist.github.com/gvanem/22c328b3388bc0adfb0e4bbb60e20de9) to build vcpkg. Mostly since I'm utterly sick of the obfuscated Powershell, VS-project-file junk. Maybe it will work for you?

[2020-11-30 14:08] kszucs commented on #14817
@JackBoosY I think it's not an upstream issue.

The following dockerfile produces the right cmake files to `$CMAKE_INSTALL_PREFIX/lib/cmake`:

[code]

By taking a look at build logs I can find that the missing cmake files were installed:
[code]

But not present in the installation directory:

[code]

I assume that the `cmake` directory gets removed by the vcpkg script after a successful AWS SDK in

[2020-11-30 14:37] deva22github commented on #14832
@gvanem Sorry but what should i do with this gnu-file.. i dont get it correctly.. please give my steps

[2020-11-30 14:45] deva22github commented on #14832
@gvanem sorry, the first step in the file even didnot work for me

[2020-11-30 14:48] sipsorcery commented on #14542
I'm also attempting to use `nuget.org` as a package repository for binary caching. In my case the package push gets rejected due to an invalid version.

[code]

[2020-11-30 15:04] gvanem commented on #14832
@deva22github What step? And do you even have `GNUmake.exe` or `make.exe`. You should do a `make -v` and you'll see something like:
[code]

[2020-11-30 15:08] deva22github commented on #14832
sorry, the first step of the file even does'nt work for me

[2020-11-30 15:21] deva22github commented on #14832
i have gnumake.exe

[2020-11-30 15:27] HappySeaFox opened #14847 "[libjpeg-turbo] Installed pkg-config (.pc) debug files specify non-existent includedir"
****

**Is your feature request related to a problem? Please describe.**

I'm trying to package a new port. The port uses `pkg-config` to find dependencies. It also depends on libjpeg-turbo. So in my cmake file I have

[code]

On x64-windows `vcpkg install <my port>` fails with the following error:

[code]

**Proposed solution**
Fix libjpeg-turbo to make sure all the paths specified in its .pc fil

[2020-11-30 15:29] HappySeaFox opened #14849 "[tiff] Installed pkg-config (.pc) debug files specify non-existent includedir"
****

**Is your feature request related to a problem? Please describe.**

I'm trying to package a new port. The port uses `pkg-config` to find dependencies. It also depends on `tiff`. So in my cmake file I have

[code]

On x64-windows `vcpkg install <my port>` fails with the following error:

[code]

**Proposed solution**
Fix libtiff to make sure all the paths specified in its .pc files really exi

[2020-11-30 15:41] gvanem commented on #14832
And the other POSIX tools like date, sh, sed etc? I recommend you install [Cygwin](https://cygwin.com/install.html).
Cygwin has a package-manager/installer (setup.exe) that is far outperforms VCPKG.

[2020-11-30 16:15] L0ric0 opened #14850 "[boost-mpi] make boost-python optional"
****

**Is your feature request related to a problem? Please describe.**
The `boost-python` dependency of `boost-mpi` is only needed to build the python bindings. As a lot of persons don't need this and building the `python3` package takes quite long this sould be a feature.

**Proposed solution**
keep the python bindings but move them to a feature

**Describe alternatives you've considered**
Non

[2020-11-30 16:35] Neumann-A commented on #14849
port is missing a call to `vcpkg_fixup_pkgconfig()`

[2020-11-30 16:37] Neumann-A commented on #14847
same as https://github.com/microsoft/vcpkg/issues/14849#issuecomment-735897846

But I highly discourage usage of pkgconfig in cmake since it is not configuration aware.

[2020-11-30 17:09] rodionbgd opened #14851 "[New Port Request] <libgsf>"
Library name:
libgsf
Library description:
The library aims to provide an efficient extensible i/o abstraction for dealing with different structured file formats.
Source repository URL:
https://github.com/GNOME/libgsf
Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2020-11-30 17:34] deva22github commented on #14832
can you please tell me what should be done if i get this?
![Screenshot 2020-11-30 225931](https://user-images.githubusercontent.com/71824038/100643297-de55b280-335f-11eb-8964-dbd70698b17e.png)

i have installed sdk, c++ extensions, english language package

[2020-11-30 17:43] gc435 opened #14853 "How do I use GTest's gtest_discover_tests()?"
The [instructions in the vcpkg port](https://github.com/microsoft/vcpkg/blob/master/ports/gtest/usage) for GTest mostly work for me.  I had to make one change:

From:

[code]

To:

[code]

Without that change, no tests are found.

If I understand Craig Scott's [Professional CMake](https://crascit.com/professional-cmake/) and the [GoogleTest CMake documentation](https://cmake.org/cmake/help/git-sta

[2020-11-30 17:48] strega-nil commented on #14840
cc @ras0219

[2020-11-30 17:50] strega-nil commented on #14784
Assigning @ras0219 as our resident nuget expert.

[2020-11-30 17:52] strega-nil commented on #14542
@sipsorcery good to know, so Nuget's implementation of semver is broken.

cc @ras0219 to fix this?

[2020-11-30 17:56] #12377 closed

[2020-11-30 17:56] #13997 closed

[2020-11-30 18:00] spinicist opened #14854 "Propagate flags from triplet to build"
****

My fork of vcpkg can be found here: https://github.com/spinicist/vcpkg/tree/pkconfig

**Is your feature request related to a problem? Please describe.**

I need to build my dependencies and project with a common set of flags. For instance, enabling Address Sanitizer requires that all dependencies are built with it enabled to avoid false positives. Similarly, if you are in the horrible positi

[2020-11-30 18:01] strega-nil commented on #14854
Thanks for opening an issue!

My opinion is that this is clearly a good feature; the discussion needed is how we want to expose it.

[2020-11-30 18:03] strega-nil commented on #14832
@deva22github please run:

[code]

and post the results.

[2020-11-30 18:08] #14652 closed

[2020-11-30 18:11] deva22github commented on #14832
@strega-nil  it says, "The system cannot find the path specified."

[2020-11-30 18:17] #13256 closed

[2020-11-30 18:34] vmiheer commented on #14827
[code]

[code]

[2020-11-30 18:36] #14713 closed

[2020-11-30 18:37] #14769 closed

[2020-11-30 18:41] strega-nil commented on #14832
@deva22github then could you run `dir "C:\Program Files (x86)"`?

[2020-11-30 18:47] deva22github commented on #14832
@strega-nil
![Screenshot 2020-12-01 001501](https://user-images.githubusercontent.com/71824038/100650731-60e36f80-336a-11eb-90d4-b290d14e65ff.png)

[2020-11-30 19:00] #14775 closed

[2020-11-30 19:00] #14764 closed

[2020-11-30 19:01] #14789 closed

[2020-11-30 19:05] Neumann-A commented on #14854
You want to use a custom toolchain by setting

`set(VCPKG_CHAINLOAD_TOOLCHAIN_FILE "${CMAKE_CURRENT_LIST_DIR}/x64-windows-llvm.toolchain.cmake")`

in your triplet and specific the build flags in the toolchain file. The triplet should not be used to define compiler flags even though it supports `VCPKG_C(XX)_FLAGS` for extending the default toolchains.

[2020-11-30 19:17] StarGate-One commented on #14832
- It looks like you only have Visual Studio 8 aka 2005?
- vcpkg supports later versions starting with Visual Studio 2015.3, 2017 and 2019.
- Visual Studio 2017 and 2019 community versions are free, just go here https://visualstudio.microsoft.com/ download and install.
![image](https://user-images.githubusercontent.com/68293825/100652744-5cd93280-3315-11eb-87b1-e4594840bf72.png)
**1. Select the `Co

[2020-11-30 19:26] spinicist commented on #14854
1. Do you have an example of what such a toolchain file would look like? I'm struggling to see how to keep the various flags in sync.
2. What is the logic/reasoning for the vcpkg toolchain / triplet not defining compiler flags? I thought this was the exact use-case for the `CMAKE_XXX_FLAGS_INIT` variables? Certainly https://cmake.org/cmake/help/latest/variable/CMAKE_LANG_FLAGS_INIT.html seems to i

[2020-11-30 19:35] deva22github commented on #14832
@StarGate-One  i have visual studio code and not visual studio

[2020-11-30 19:46] frivard-coveo commented on #14542
So it seems both NPM's library of SemVer and Nuget.org (unknown library) don't handle a pre-release identifier starting with a digit.
I will work on a PR that changes the pre-release to build metadata.

[2020-11-30 19:52] StarGate-One commented on #14832
That is why it is not working - Visual Studio Code and Visual Studio are not the same.

vcpkg requirements https://github.com/microsoft/vcpkg#quick-start-windows
![image](https://user-images.githubusercontent.com/68293825/100656839-564db980-331b-11eb-977d-f22f0a1de8c9.png)

If you do not want to use Visual Studio, you must install some type of C/C++ compiler/linker for vcpkg to work, Cygwin and MS

[2020-11-30 19:52] strega-nil commented on #14832
@deva22github VS Code does not contain something to actually build the code; you'll need to install VS.

[2020-11-30 20:00] deva22github commented on #14832
@StarGate-One  then i cannot use vs code for c++, where i have installed c++ extensions in visual code market place??

[2020-11-30 20:06] deva22github commented on #14832
@StarGate-One @strega-nil thank you so much for explaining me about this <3

[2020-11-30 20:06] strega-nil commented on #14820
I think this is a VS bug, and I do _not_ understand VS in any way shape or form. If you like, I can open an issue on their bug tracker for you, but this isn't a thing we have any real understanding of.

[2020-11-30 20:10] StarGate-One commented on #14832
@deva22github if you are on Windows, install Visual Studio 2019 Community with the basics, like I posted above, then you can use both VS Code and vcpkg.
Just because you have Visual Studio installed, does not mean you must use the Visual Studio IDE to develop/code with. You can still use VS Code to write your code and then VS Code will go out behind the scenes and use Visual Studio to compile/link

[2020-11-30 20:14] deva22github commented on #14832
@StarGate-One
thanks a lot!, now I understood.

[2020-11-30 20:14] #14832 closed

[2020-11-30 21:03] Neumann-A commented on #14854
see one of the files in https://github.com/microsoft/vcpkg/tree/master/scripts/toolchains

You are mixing vcpkg/cmake related stuff up. You can use `CMAKE_XXX_FLAGS_INIT` in your toolchain but be aware they only append to CMakes default flags. The vcpkg triplet should only be used to setup vcpkg related stuff and environment settings while the toolchain should be used to setup everything else in c

[2020-11-30 21:33] spinicist commented on #14854
Thanks.

I think the confusion stems from running `cmake -DCMAKE_TOOLCHAIN_FILE=vcpkg/scripts/buildsystems/vcpkg.cmake` as the first thing - that kind of implies that vcpkg is defining a toolchain, but I think from what you've said I should not think of it this way?

I suspect I've misunderstood something else but now my more fundamental question is why should a user *not* want to start from the t

[2020-11-30 21:44] frivard-coveo commented on #14542
After some testing with build metadata, it is not such a good idea after all, since the file created by `nuget pack` does not contain build metadata, only the major, minor and patch version.  Therefore a change in only the ABI would not work since the nuget package would have the same file name, and the GET on the nuget server would return another package.
I will instead implement the other soluti

[2020-11-30 21:54] Neumann-A commented on #14854
correct. the vcpkg toolchain is just a helper to setup cmake to find dependencies via vcpkg nothing more. If you want a toolchain with flags and everything you need to set `VCPKG_CHAINLOAD_TOOLCHAIN` file. As an alternative you can always `include(<pathtovcpkgcmake>/vcpkg.cmake)` in your toolchain

define another compiler more/other flags, set cmake variables etc. I use https://github.com/Neumann-

[2020-11-30 22:06] spinicist commented on #14854
Ahah - now that definitely sounds more like what I want. I will give that a try. Thanks again!

[2020-11-30 22:06] #14854 closed

[2020-11-30 22:12] frivard-coveo commented on #14784
I believe this is as-designed, yes. Under Linux and OSX, they download the x86 version of nuget.exe AND they download MONO, then ask to run the EXE through Mono.
This might be an old relic waiting to be fixed; nowadays it would be better to download .NET 5 instead of MONO, then you'd get a really cross-platform Nuget client for free (no extra downlad of nuget.exe required).

[2020-11-30 22:17] frivard-coveo commented on #14784
As for the second error, did you check if these files are "regular files", or if they are symlink (check with WSL)?

I suspect that building with WSL created symlinks, and NTFS might have created a special reparse point to implement that, but when trying to read the file from Windows that doesn't work.
As a work-around, you could try with WSL2.

[2020-11-30 22:22] frivard-coveo commented on #14784
the error "value was null" after downloading Nuget seems to be similar as #4093

[2020-11-30 22:26] frivard-coveo commented on #14784
Issue #14304 suggest that the API key was not specified on the command line; does your nuget source need it? If so, if you re-run your Linux export command with the `-debug` flag, do you see the API key being specified?

[2020-11-30 22:28] object71 opened #14858 "[raylib] Enable wasm32-emscripten for raylib"
****

**Is your feature request related to a problem? Please describe.**
When trying to install raylib for wasm using the :wasm32-emscriptent triplet an error occurs. When digging deeper into the log it says it cannot find the X11 windowing package for glfw.

**Proposed solution**
To be able to easily install the raylib package for targeting emscripten.

**Additional context**
Raylib already is co

[2020-11-30 23:30] mprather opened #14860 "[microsoft-signalr] Build failure"
**Host Environment**
- OS: Ubuntu 18.04, Kali 2020.4
- Compiler: gcc 7.5, gcc 10.2

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install microsoft-signalr`

**Failure logs**
Console output
[code]
Also see attached log file.

**Additional context**
Sometime after vcpkg was tagged with 2020.11-1, signalr stopped building. We noticed a week ago when Azure devops machines started using a

[2020-11-30 23:58] #14687 closed

[2020-12-01 01:09] jacobkahn opened #14864 "[fontconfig] build failure"
**Host Environment**
- OS: Ubuntu 18.04.5 LTS
- Compiler: gcc (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0

**To Reproduce**
Steps to reproduce the behavior:
[code]
install:
[code]

This happens in a Google colab notebook environment in particular: https://colab.research.google.com/drive/16t70NhnnnxQhA3Nn5-6djFqGmkQatO7j?usp=sharing

**Failure logs**
[code]

**Additional context**
Looks like files in that

[2020-12-01 01:10] jacobkahn commented on #6247
Port added for the CUDA backend in https://github.com/microsoft/vcpkg/pull/14676 :). Improvements forthcoming!

[2020-12-01 01:12] jacobkahn commented on #6246
The wav2letter codebase has been folded into [flashlight](https://github.com/facebookresearch/flashlight), which was added in https://github.com/microsoft/vcpkg/pull/14676.

[2020-12-01 01:27] sloh-ms commented on #14784
Thank you for all of these tips.  Let me try to work through them all.

**Exporting from Linux:**
- I don't think the API key should be used on export?  Well I tried anyway, with the variable set `export VCPKG_NUGET_API_KEY=az` and with the `--debug` flag.

[code]
- Digging around, /mnt/c/repos/vcpkg/downloads/tools/nuget-5.5.1-linux/nuget.exe exists
- I tried running that mono command line to lau

[2020-12-01 01:48] PhoebeHui commented on #12568
@satishbabariya, the PR has been merged, please get latest source and try again.

[2020-12-01 01:48] #12568 closed

[2020-12-01 01:56] JackBoosY commented on #10949
Please keep this issue open until we fix it.

[2020-12-01 06:44] JonLiu1993 commented on #14838
@sdoiel61 ,Thanks for posting this issue,I cannot reproduce your problem on Windows 10. Can you create a folder on a non-C drive? , And then use the latest vcpkg to build eigen3, if it still fails, please provide the failure log

![Capture](https://user-images.githubusercontent.com/63675417/100706190-88c2e980-33e3-11eb-99c7-a3e4866c2014.PNG)

[2020-12-01 06:53] JonLiu1993 commented on #14837
@sdoiel61 ,Thanks for posting this issue,I cannot reproduce your problem on Windows 10. Can you create a folder on a non-C drive? , And then use the latest vcpkg to build angelscript , if it still fails, please provide the failure log,Thanks

[2020-12-01 06:55] NancyLi1013 commented on #14689
Hi @vadi2

Thanks for posting this issue. I noticed that you used the triplet `x64-mingw-dynamic` to build `zlib`. Since this is an unofficial triplet, we cannot make sure if it work fine.

https://github.com/microsoft/vcpkg/blob/master/docs/users/triplets.md#community-triplets

@sfhacker

Thanks for your focus on this issue. I'm sorry. Considering the triplet, currently, we won't pay more attenti

[2020-12-01 07:00] JonLiu1993 commented on #14837
Relate to #14838

[2020-12-01 07:00] JackBoosY commented on #14817
Yes you're right.

[2020-12-01 07:37] fedarovich opened #14867 "[nethost] update to 2020-10-19"
Library name: nethost

New version number: 2020-10-19

Nethost should be updated to the version provided with .Net 5.

[2020-12-01 07:46] JonLiu1993 commented on #14808
@ishaantantra ,Thanks for posting this issue,Currently pistache does not support the windows platform, if you have a need, you can contact the official pistache staff.

[2020-12-01 07:49] NancyLi1013 commented on #14261
Closing this issue for no response.
Please feel free to reopen this issue if it is still a problem for you.

[2020-12-01 07:49] #14261 closed

[2020-12-01 08:05] longnguyen2004 commented on #14823
This is MSVC, not mingw

[2020-12-01 08:06] 777seV commented on #14846
thanks

[2020-12-01 08:07] #14846 closed

[2020-12-01 08:08] 777seV opened #14869 "Building package g2o:x64-windows failed"
Environment

OS: win10
Compiler: vs2019

:\vcpkg>vcpkg install g2o:x64-windows
Computing installation plan...
The following packages will be built and installed:
    g2o[core]:x64-windows
Detecting compiler hash for triplet x64-windows...
Could not locate cached archive: C:\Users\Administrator\AppData\Local\vcpkg\archives\de\ded744d08e1819c5a197d0b21c81ec90b2819a23.zip
Starting package 1/1: g2o:x6

[2020-12-01 08:15] hotbroker opened #14870 "zxing-cpp fail to report the exact qrcode position!!!"
****

**Is your feature request related to a problem? Please describe.**
I have a image with a qrcode,but this port cant report the exact postion of the qrcode,
(image as in attachment)
collect postion:(10, 10)--(260, 260)
current repot :(51 51 218 218)

**Proposed solution**
update this library or upload a new port supportting detect qrcode

**Describe alternatives you've considered**
not yet

![

[2020-12-01 08:16] JackBoosY commented on #14869
Hi @777seV, thanks for reporting this issue!
Please provide failure log _G:\vcpkg\buildtrees\g2o\install-x64-windows-dbg-out.log_.

Thanks.

[2020-12-01 08:21] 777seV commented on #14869
[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/5621160/install-x64-windows-dbg-out.log)

[2020-12-01 08:29] NancyLi1013 commented on #14860
[code]
There should be no `-fon-rtti` compile option. https://github.com/aspnet/SignalR-Client-Cpp/blob/master/src/signalrclient/CMakeLists.txt#L63

Please see these references:

[1] https://stackoverflow.com/questions/8723702/error-cannot-use-typeid-with-fno-rtti
[2] https://scc.ustc.edu.cn/zlsc/tc4600/intel/2017.0.098/compiler_c/common/core/GUID-BA6071E9-2409-4118-84B5-8E1ABE0C2B72.html

[2020-12-01 08:35] JackBoosY commented on #14869
[code]
Can you please try again?

If it's still exist, please replace `vcpkg_install_cmake()` to `vcpkg_install_cmake(DISABLE_PARALLEL)` in _VCPKG_ROOT/port/g2o/portfile.cmake_ and try again.

Thanks.

[2020-12-01 08:38] Neumann-A commented on #14864
I have the feeling that this happens due to gettext (msgfmt or similar) not being found on configure.

[2020-12-01 08:41] JackBoosY commented on #14870
@hotbroker Is this a upstream bug?

[2020-12-01 08:41] prithvidiamond1 commented on #14820
Oh ok, fine then I shall file a report myself on Visual Studio's Report a bug thing.

Thank you for the swift reply!

Have a nice day!

[2020-12-01 08:45] JackBoosY commented on #14864
On my machine:
[code]
We really need to add tool port `auto-tools` to vcpkg.

[2020-12-01 08:51] Neumann-A commented on #14864
change
https://github.com/microsoft/vcpkg/blob/65d742a57d9f6db031f8e9a356feb1dca4211cd3/ports/gettext/portfile.cmake#L59
to
`vcpkg_install_make() `
and it will install autopoint and the tools for localization. You then just need to put them on the path for the port.

[2020-12-01 08:56] hotbroker commented on #14870
yes,

[2020-12-01 09:09] hotbroker commented on #14870
ps:,I just test the NU-BOOK [https://github.com/nu-book/zxing-cpp](url)
it returns the exact values i want,so,shoud vcpkg intergate this  lib?

Format:   QRCode
Position: 9x9 261x9 259x259 9x261
Rotation: 0 deg
Error:    NoError
EC Level: L

[2020-12-01 09:11] L0ric0 opened #14873 "Declare packages as installed on host"
****

**Is your feature request related to a problem? Please describe.**
When building programms for a complex infrastrukture like a cluster it would be nice do be able to define certain packages as already installed on the machine so that one dosen't has to build tings like openmpi and figure out the right configuration for the environment.

**Proposed solution**
As this configuration sould pobab

[2020-12-01 09:13] shauser67 commented on #14015
It seems to be possible to remove the irrlicht loader from assimp under macOS. Having a look into the source files (e.g. into code/Irr/IRRLoader.cpp) there is a define called ASSIMP_BUILD_NO_IRR_IMPORTER.

This define can be added to the assimp portfile:

[code]

Unfortunately I had problems to disable the installation of irrlicht (especially to remove the references to irrlicht from buildfixes.pa

[2020-12-01 09:17] fauder opened #14874 "OpenCascade dynamic build (everything else static) error."
Hello,

I'm using vcpkg with default triplet set to x64-windows-static. All works fine.
I wanted to use OpenCascade via vcpkg but [it can't be built statically.](https://github.com/microsoft/vcpkg/pull/13493#issuecomment-727136520)

**Note:** I **can** build OpenCascade dynamically. vcpkg install opencascade:x64-windows works.

So, to be able to build OpenCascade dynamic but everything else static

[2020-12-01 09:27] JackBoosY commented on #14874
I think this port should only support dynamic build.
See https://github.com/microsoft/vcpkg/pull/13493#issuecomment-727054044

[2020-12-01 09:30] fauder commented on #14874
Yes, I also linked to that comment in my post.

I can build OpenCascade dynamically. I also want to use it dynamically.
But I also want to use all my other installed packages statically.

So as per the documentary, I wanted to modify the triplets file to allow this.

[2020-12-01 10:16] FishHe commented on #5085
The bug still exists for VS2019 x64-windows.
alembic:x64-windows                                1.7.13#1

[2020-12-01 10:18] FishHe opened #14875 "[alembic] Cannot open include file 'half.h'"
I use Alembic with x64-windows.
When I include <Alembic/AbcGeom/All.h>, it fails.

[2020-12-01 10:23] PhoebeHui commented on #14873
@L0ric0, I'm not sure if I understand the case correctly, currently we have .\installed\vcpkg\status file to record the installed package, and 'vcpkg list' would display the installed package as well.

[2020-12-01 10:28] joelrandria opened #14877 "Generating CMake Package Configuration Files in portfile"
Hello,

I'm trying to create a new port in vcpkg for a precompiled library (the corresponding archive contains only the library's headers and binaries).

To seamlessly integrate the package with our CMake build system, I'm trying to generate the ${PORT}Targets.cmake and ${PORT}Config.cmake package files as recommended by CMake: https://cmake.org/cmake/help/latest/manual/cmake-packages.7.html.

How

[2020-12-01 10:33] vicroms commented on #14877
Write a CMakeLists.txt and put it in the port directory. Then in the portfile have vcpkg copy it into the `SOURCE_PATH` and call `vcpkg_configure_cmake()` and `vxpkg_install_cmake()`.

[2020-12-01 10:52] JorgeRomeoInfaimon opened #14878 "[opencv4:x64-windows] build failure"
**Host Environment**
- OS: Windows
- Compiler: Visual Studio 2019 Professional

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install opencv[cuda] --triplet=x64-windows`

**Failure logs**
[code]
**Additional context**
A colleague was getting this same error and reported that after an unknown number of trials with the sme command, it compiled.
[install-x64-windows-dbg-out.log](https://

[2020-12-01 11:17] dweckmann opened #14879 "[qt5-base:x64-linux] build failure: [libpq] not found with dynamic linkage"
**Host Environment**
- OS: [Linux - Mint 20 - Ubuntu 20.04]
- Compiler: gcc (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0

**To Reproduce**
Steps to reproduce the behavior:
`git clean -dfx`
`git reset --hard origin/master`
`./bootstrap-vcpkg.sh`
`./vcpkg install --overlay-triplets=/home/xxx/custom-triplets qt5\[essentials\]`

[code]

**Failure logs**
- console:
[code]

- config-x64-linux-dbg-err.log:
[code

[2020-12-01 11:59] L0ric0 commented on #14873
It is not to get the installed packages, but to tell vcpkg that a certain package is installed and doesn't need to be build.

So lets say i have `openmpi` installed from a distro package and a Project that depands on boost and i know that the already installed `openmpi` meets the requirements of the project, but have another host on which the project also has to run where `openmpi` is not installe

[2020-12-01 13:47] Neumann-A commented on #14879
list of files in
`/home/dweckmann/Work/vcpkg/installed/x64-linux/debug/lib`
if you still have the packages folder of libpq, listing the files in
`/home/dweckmann/Work/vcpkg/packages/libpq_x64-linux/debug/lib`
would make it easier

[2020-12-01 14:48] dweckmann commented on #14879
Thanks for your help. Here the file list:

[code]

[code]

[2020-12-01 14:58] Neumann-A commented on #14879
that is wrong I don't see a release psql somewhere

change:
https://github.com/microsoft/vcpkg/blob/65d742a57d9f6db031f8e9a356feb1dca4211cd3/ports/qt5-base/portfile.cmake#L123-L126
to
[code]
seems like dynamic builds on unix do not require the additional libraries (which is understandable.)

[2020-12-01 15:41] dweckmann commented on #14879
I've just changed your suggestion to:
[code]
As otherwise it wouldn't have changed anything and I guess "MATCHES" use regex.

With the above code it seems working. Thanks !

Should I make a pull request or are you the one in charge of that ?

[2020-12-01 15:53] dweckmann commented on #14879
Well, sorry, the configure step pass, but not the build itself. There are undefined symbols (zstd and icu?).

[code]

[2020-12-01 18:02] strega-nil commented on #14820
@prithvidiamond1 thank you so much!

[2020-12-01 18:29] AntonioCS commented on #14332
This was not a good-first-issue.
Here is my attempt: https://github.com/AntonioCS/vcpkg/tree/feature/port/jinja2cpp/ports/jinja2cpp
This was with the help of the good people at #vcpkg in include (discord)

[2020-12-01 19:23] joelrandria commented on #14877
Thank you,

Your suggestion works perfectly !

[2020-12-01 19:23] #14877 closed

[2020-12-01 20:45] sloh-ms commented on #14784
SOLVED!

I am now able to export a nuget package from Linux.  The problem is that mono was missing required assemblies.  I did both `sudo apt install mono-devel` and `sudo apt install mono-complete` though I expect it was the latter that fixed my problem.

So if other people hit the "Value was null" problem, this may be the issue.

As far as the export from Windows of a zip/nuget package of Linux

[2020-12-01 21:11] #14748 closed

[2020-12-01 21:36] ericoporto opened #14883 "[Docker] Building vcpkg.exe failed suddenly in Windows Server Core 2019."
**Describe the bug**
Error when building vcpkg current master f8baf4862946195b6efa7fc9959cd4b7fe026f8e

**Environment**
- OS: Windows Server Core 2019
- Compiler:  VISUALCPP_BUILD_TOOLS_VERSION=14.0.25420.1

**To Reproduce**
My Dockerfile:
[code]

This gives me the following error
[code]

**Expected behavior**
I expected vcpkg to build fine, it was building fine at least yesterday.

**Additional c

[2020-12-01 21:49] #14828 closed

[2020-12-01 22:06] memecode opened #14885 "vcpkg build failure"
Bootstrap build fails on Win10 /w vs2015

Environment:
- OS: Windows 10
- Compiler: vs2015 14.0.25431.01 Update 3

Steps to reproduce the behavior:
1. git clone vkpkg
2. bootstrap-vcpkg.bat

I'm expecting it to build using vs2015. But I get this:

..\src\vcpkg\install.cpp(845): error C2280: 'vcpkg::PortFileProvider::BaselineProvider::BaselineProvider(const vcpkg::PortFileProvider::BaselineProvider

[2020-12-01 22:12] #14708 closed

[2020-12-01 22:16] #14654 closed

[2020-12-01 22:20] strega-nil commented on #14784
I'd like to keep this open as "this should have a nice error message"

[2020-12-01 22:32] comedinha commented on #14779
This change not work, SDL2 libraries is required.
[code]

[2020-12-01 22:40] Neumann-A commented on #14879
[code]

try adding -rpath to CORE_OPTIONS in the portfile?

[2020-12-01 22:54] michaelaeriksen commented on #12998
I get similar error

[code]

[2020-12-01 23:55] jmoguillansky-gpsw opened #14887 "vcpkg meson integration issues + fix"
There's some integration issues with vcpkg:
when linking against shared lib:
vcpkg expects configuration to be "Release" or "Debug".
Meson uses configuration "release", "debug", "releaseoptimized", or "debugoptimized".

"Vcpkg is unable to link because we cannot decide between Release and Debug libraries. Please define the property VcpkgConfiguration to be 'Release' or 'Debug' (currently 'debugopt

[2020-12-02 01:25] mediabuff opened #14890 "eglext_angle.h not copied at install"
include\EGL\eglext_angle.h  should be copied to the install\... \include like eglext.h

[2020-12-02 02:02] JonLiu1993 commented on #14878
Duplicate to #13077

[2020-12-02 02:02] #14878 closed

[2020-12-02 02:11] NancyLi1013 commented on #14592
@gwaldron

Could you please help confirm when the version 3.1 will be ready to release?

Thanks.

[2020-12-02 02:20] JackBoosY commented on #14830
Confirmed:
[code]

[2020-12-02 02:22] sai-cartly commented on #14672
@Hoikas -- You are right.

I used vcpkg to install python3 on  MacOS Catalina and succeeded.

I created a new folder vcpkg and downloaded sources from github and built vcpkg
Next I used ./vcpkg install python3  on MacOS Big Sur and it worked !

Here is the log below
`-- Installing x64-osx-dbg done
-- Installing: /Users/saimatam/soft2/vcpkg/packages/python3_x64-osx/share/python3/copyright
-- Perfor

[2020-12-02 02:23] Hoikas commented on #14672
Great news! 😄

[2020-12-02 02:23] sai-cartly commented on #14672
You can close this issue as resolved.

[2020-12-02 02:27] JonLiu1993 commented on #14672
@Hoikas ,thank you for your help

[2020-12-02 02:27] #14672 closed

[2020-12-02 02:27] JackBoosY commented on #14874
@fauder
[code]
According to our policy, static CRT cannot be used in dynamic build, that's for some reason.

I'll try to fix the static build.

[2020-12-02 02:29] Hoikas opened #14892 "[docs/regenerate.ps1] Incorrect sorting in portfile-functions.md"
When regenerating the documentation for #14891, the listing in `portfile-functions.md` was sorted incorrectly, causing CI to fail. The incorrect sorting can be seen in 87e3249d2c30d. This required manual intervention on my part to fix the sorting.

**Environment**
- OS: Windows 10 PowerShell 7.1
- Compiler: N/A

**To Reproduce**
Steps to reproduce the behavior:
1. docs/regenerate.ps1
2. Open pull

[2020-12-02 02:39] JackBoosY commented on #14820
@prithvidiamond1 Can you post the feedback link here?

[2020-12-02 02:41] JonLiu1993 commented on #12449
Solved in pr #14800

[2020-12-02 02:41] #12449 closed

[2020-12-02 02:53] Knightly1 commented on #14065
These aren't great, but they're what I'm using right now for vcpkg in case it helps anyone else.  Note that the cmake file changes are really based around windows and would need to be cleaned up to be universal.  Also, the versioning system assumes that you don't have git, while the sleepy-discord versioning does include git, so that would probably need some reworking.  But this is also probably a

[2020-12-02 02:54] FishHe opened #14893 "[alembic:x64-windows-static-md] build failed."
Static configuration seams not working.

[2020-12-02 02:56] JackBoosY commented on #14887
@Neumann-A Do you have any ideas?

[2020-12-02 02:58] JackBoosY commented on #14883
[code]

Can you run the following command manually and provide the failure log?
[code]

Thanks.

[2020-12-02 03:13] PhoebeHui commented on #14885
@strega-nil, could you please have a look? this issue reproed with vs 2015 update3.

[2020-12-02 03:21] PhoebeHui commented on #14873
I see, could you check if the [binary caching](https://github.com/microsoft/vcpkg/blob/master/docs/specifications/binarycaching.md) meet the requirements?

[2020-12-02 03:32] longnguyen2004 commented on #14779
This is tricky...SDL2main is in the manual-link folder, because it redefines `main`, which can cause problems if it's linked automatically. But since that's mostly about Visual Studio integration, I'm gonna open another issue about this.

[2020-12-02 03:37] longnguyen2004 opened #14894 "[vcpkg_fixup_pkgconfig] About libraries in manual-link"
Some libraries like SDL2 redefines `main` (with SDL2main), and thus should be in the `manual-link` folder to prevent automatic linking by the VS integration. However, this breaks `vcpkg_fixup_pkgconfig`, which expect the libraries to be in the outer `lib` directory. What should we do in this case? Fix `vcpkg_fixup_pkgconfig` to look into the manual-link folder, or move the libraries into the outer

[2020-12-02 04:09] StarGate-One commented on #14894
Just putting this out here, but maybe...
- Port gtest (GoogleTest and GoogleMock testing frameworks) has manual link libraries gmock_main.lib and gtest_main.lib.
- Could the method used for them as done in the portfile.cmake be used with all the other manual-link libraries like SDL, SDL2, SFML, Ogre, etc?

https://github.com/microsoft/vcpkg/blob/0a457099416a843f442b6c2275b2ec57239b50d9/ports/gtest

[2020-12-02 04:49] gc435 opened #14895 "How do I use vcpkg with Clang on WSL?"
In a VS2019 CMake project, I can target WSL-GCC-Debug and use `vcpkg` packages just fine.  However, I can't get VS to find packages when targeting WSL-Clang-Debug.  A typical error is:

[code]

* I know that `fmt` is installed in WSL2 because I can build my project using `CXX=clang++ cmake -DCMAKE_TOOLCHAIN_FILE:FILEPATH=/path/to/vcpkg.cmake .. && cmake --build .`.  That works fine.
* All of my `v

[2020-12-02 04:52] longnguyen2004 commented on #14779
I realized...the library name is `SDL2maind`, not `SDL2dmain`. I'll fix this when I have time

[2020-12-02 04:53] longnguyen2004 commented on #14894
Yes it basically follows the same procedure

[2020-12-02 05:02] sdoiel61 commented on #14838
It built ok on the non-c drive. I fetched the latest into my c repository and reran the install and it was successful as well. I don’t know if you want to pursue the issue, since it seems to have been corrected, but the version in which I experienced the failure was:  896498fdbae91d5f97bfffcadef21b066277fcf2 Regards,Steve From: JonLiu1993Sent: Monday, November 30, 2020 10:44 PMTo: microsoft/vcpkgC

[2020-12-02 05:05] playgithub opened #14896 "podofo link error on Windows"
## Env
podofo 0.9.6#12
VS2019
x64 windows

## Problem
When calling
[code]
in file `PdfDocument.h`

build error
[code]

[2020-12-02 05:17] playgithub commented on #14896
`vcpkg install --recurse podof[fontconfig]` is needed

[2020-12-02 05:17] #14896 closed

[2020-12-02 05:21] luncliff commented on #14895
Probably `VCPKG_TARGET_TRIPLET` CMake variable?

something like this.
[code]

[2020-12-02 06:00] JonLiu1993 commented on #14838
@sdoiel61 ，Now you can successfully install eigen3, can this issue be closed?

[2020-12-02 07:13] gc435 commented on #14895
@luncliff Thanks, that was it.  I ticked the box **Save to JSON** in the `CMakeSettings.json` GUI editor.  Now packages are found when targeting
**WSL-Clang-Debug**.

I wonder if I missed this step in the documentation?

[2020-12-02 07:58] dweckmann commented on #14879
@Neumann-A : no sorry it doesn't work. exact same error... (Anyway, using rpath would make the package un-relocatable, no ? And thus nullifying interest for `vcpkg export` which we want to use...)

[2020-12-02 08:07] PhoebeHui opened #14900 "[llvm] feature compiler-rt failed in post-build validation on windows"
Repro steps:

./vcpkg install llvm[compiler-rt]:x64-windows

Two Issues need to correct:

1. The dll located in libs folder
2. The crt linkage is wrong. should be debug/dynamic, releas /dynamic, currently, all are release/static.

Failures:
[code]

[2020-12-02 08:08] PhoebeHui commented on #14900
cc @yurybura

[2020-12-02 08:58] JackBoosY commented on #14853
Yeah, the message only tells you what are the targets you can use, not that you must use them.
And these targes are to use cmake configuration files generated by gtest(In _VCPKG_ROOT/installed/TRIPLET/share/gtest_), not `FindGTest.cmake` officially provided by cmake, so the documentation you provide is invalid.
When installing gtest, vcpkg will completely build it, then install it's headers, libra

[2020-12-02 08:59] NancyLi1013 commented on #14875
Hi @FishHe

Thanks for posting this issue.

Could you please provide your project case? Do you use CMake project or VS project?

[2020-12-02 09:02] JackBoosY commented on #14827
Seems your autoconfig which installed manually is out-dated.
Please update it and try again.

Thanks.

[2020-12-02 09:06] prithvidiamond1 commented on #14820
@JackBoosY Here you go: [Something in vcpkg seems to be interfering with Visual Studio 2019's contextual drop down menu for Managing Configurations](https://developercommunity2.visualstudio.com/t/Something-in-vcpkg-seems-to-be-interferi/1273535?entry=myactivity)

[2020-12-02 09:07] NancyLi1013 commented on #14895
Hi @gc435

Thanks for posting this issue.

Do you mean that you missed this configure step?

https://github.com/microsoft/vcpkg/blob/master/docs/examples/installing-and-using-packages.md#cmake-toolchain-file

[2020-12-02 09:08] luncliff commented on #14895
@gc435 Normally we don't have to specify that when working with the terminal. (Windows Terminal, for example)
For `VCPKG_TARGET_TRIPLET`, Here is the reference: https://github.com/microsoft/vcpkg/blob/master/docs/users/integration.md#triplet-selection

[2020-12-02 09:11] Neumann-A commented on #14894
Simply said: Fix the `-L` flag. All *.pc files should be like `-L<libpath> -l<libraryname>`. `vcpkg_fixup_pkgconfig` will look into `<libpath>`

[2020-12-02 09:16] Neumann-A commented on #14887
meson is an issue/mess in itself.
I assume this issue is about VS integration of vcpkg and using meson to generate build files for an project outside of vcpkg?
So meson just generates random configuration for/in VS and vcpkg is not able to deal with it? Sry to say it, but that is a meson issue that should be handled by meson since they are not following common VS conventions. (They should at least

[2020-12-02 09:28] longnguyen2004 commented on #14894
Thanks for the reply, although I realized the problem isn't what I originally thought about

[2020-12-02 09:29] PhilippPaetzold commented on #14498
Hi @NancyLi1013,

I think the issue is related to an incompatibility between one of the FreeImage libraries and the OpenCV lib "opencv_imgcodecs". If I explicitly avoid linking to "opencv_imgcodecs" in my CMakeLists.txt, I can get my application to link without any issue:
[code]
I hope this information can help you!

[2020-12-02 09:33] Fenrirthviti opened #14902 "'Protobuf compiler version doesn't match library version' only when using manifest mode"
Environment

Windows 10
CMake 3.16.2
Visual Studio 2019
vcpkg on commit (62fe6ff)

This might be related to #7157, but as that issue has long since been closed I am creating a new issue.

I am getting a similar issue on my end with protobuf, and none of the fixes in #7157 seem to correct the issue. Frustratingly, the issue only seems to crop up when using a vcpkg.json in manifest mode. Even more f

[2020-12-02 09:44] PhoebeHui commented on #13376
@adilaadhu, does this issue still persist?

[2020-12-02 09:45] NancyLi1013 commented on #14890
Hi @mediabuff

Thanks for your posting this issue.

It seems that there is no eglext_angle.h in current `angle `version. We need to update angle to the latest to add this header.

[2020-12-02 09:47] PhoebeHui commented on #13208
Looks the problems solved, so close this issue.

[2020-12-02 09:47] #13208 closed

[2020-12-02 09:51] PhoebeHui commented on #13184
@benoit-fouletier, does this still be a problem for you?

[2020-12-02 10:02] NancyLi1013 commented on #14498
Thanks for your above information and further investigation about this issue.

I will check this point on my machine.

[2020-12-02 10:10] PhoebeHui commented on #14810
I see, I will take a look, thanks for reporting this issue!

[2020-12-02 10:14] yurybura commented on #14900
@PhoebeHui Could you add install command args to reproduce this issue?

[2020-12-02 10:20] NancyLi1013 commented on #14498
For these error, which are related with `jxrlib`. I need to investigate and confirm.

[code]

[2020-12-02 10:25] ericoporto commented on #14883
@JackBoosY Hey, it builds fine on my personal Windows 10 Home machine -> [gist:vcpkg_2020_12_02.log](https://gist.github.com/ericoporto/14d901ca385cfd701cd0dbdd10b49dde)

But I have full Visual Studio 2019 with everything installed. I need to be able to build vcpkg on a CI system, and the mentioned minimal docker image above used to build fine until very recently. Unfortunately, I can't seem to be

[2020-12-02 10:53] fauder commented on #14874
Oh I changed the title and didn't see you'd already changed it, sorry.
Will test the pr shortly.

[2020-12-02 12:45] Neumann-A commented on #14879
hmm don't know I am not a linux guy.

hmm you could try setting env variable `LDFLAGS` with `-L<vcpkglibpath>`
somewhere around
https://github.com/microsoft/vcpkg/blob/0a457099416a843f442b6c2275b2ec57239b50d9/ports/qt5-base/cmake/configure_qt.cmake#L114-L116

or/and
https://github.com/microsoft/vcpkg/blob/0a457099416a843f442b6c2275b2ec57239b50d9/ports/qt5-base/cmake/install_qt.cmake#L63-L65

and h

[2020-12-02 12:46] Neumann-A commented on #14879
and yeah would be good to post the ld invocation not just the error ;)

[2020-12-02 13:02] ericoporto commented on #14883
I think I found the [Dockerfile I build upon](https://github.com/cirruslabs/docker-images-windows/blob/master/windowsservercore/Dockerfile), it uses `mcr.microsoft.com/windows/servercore:ltsc2019` as the base.

[2020-12-02 13:04] benoit-fouletier commented on #13184
No it is not, though to be honest I don't remember if I solved the issue on the original computer, or if I simply ended up building on a different computer.

[2020-12-02 13:09] sdoiel61 commented on #14838
Yes

On Tue, Dec 1, 2020, 10:00 PM JonLiu1993 <notifications@github.com> wrote:

[2020-12-02 13:15] ThGravo opened #14905 "[colmap] build failure: Could not find FreeImage"
**Host Environment**
- OS: Ubuntu 20.04
- Compiler: gcc version 9.3.0

**To Reproduce**
`./vcpkg install colmap`

**Failure logs**
[code]
[config-x64-linux-dbg-err.log](https://github.com/microsoft/vcpkg/files/5629494/config-x64-linux-dbg-err.log)
[config-x64-linux-dbg-out.log](https://github.com/microsoft/vcpkg/files/5629495/config-x64-linux-dbg-out.log)

[2020-12-02 13:16] ohhmm commented on #14595
Hi @NancyLi1013,

The question is why if it expected for vcpkg to download other vcpkg exe and launch it?

Thanks,
Serg

[2020-12-02 13:18] sadtab commented on #14885
Hi, I got the same issue after pulling the repo. Previously I was at 539a182d3, and everything was fine, I pulled 0a457099416a843f442b6c2275b2ec57239b50d9 and I have this issue.

On Windows 10, VS2015

`Building vcpkg.exe ...

  install.cpp
..\src\vcpkg\install.cpp(845): error C2280: 'vcpkg::PortFileProvider::BaselineProvider::BaselineProvider(const vcpkg::PortFileProvider::BaselineProvider &)': a

[2020-12-02 13:22] FishHe commented on #14875
I use it in VS project and with "integrate install".
The problem now has been solved by adding OpenEXR's Include Directory to the VS project.

[2020-12-02 13:30] rutay opened #14906 "[New Port Request] filament"
Library name: filament

Library description: "Filament is a real-time physically based rendering engine for Android, iOS, Windows, Linux, macOS and WASM/WebGL"

Source repository URL: https://github.com/google/filament

Project homepage (if different from the source repository): https://google.github.io/filament/

Anything else that is useful to know when adding (such as optional features the libr

[2020-12-02 13:35] sadtab commented on #14885
So I investigated blindly on the commits, it's 4fba4b791 who broke the compilation, I tried `git revert 4fba4b791` and fixed the problem (temporarily).

[2020-12-02 13:38] garry-iglesias opened #14907 "[qt5-base] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: Visual Studio 2019... (But it's unrelated as it's "gcc ports" which is used ?)

**To Reproduce**
Steps to reproduce the behavior (from powershell):
`.\vcpkg install qt5-base`

**Failure logs**
-- Console output:

     Building x64-windows-static-md-dbg
     CMake Error at scripts/cmake/vcpkg_execute_build_process.cmake:142 (message):
         Comma

[2020-12-02 13:53] gwaldron commented on #14592
@NancyLi1013
It will happen sometime this week. We are wrapping up loose ends. I will let you know as soon as it is ready :)

[2020-12-02 14:12] Laro88 opened #14908 "[libpqxx] update to 7.2.1 (current is 7.2.0)"
Library name: libqpxx

New version number: 7.2.1

There is a small fix for the zview constructor that was overlooked in 7.2.0
[https://github.com/jtv/libpqxx/issues/389](issue on libpqxx)

The commit is in Nov 14 "aa8aa6cb"

[2020-12-02 14:41] sipsorcery opened #14909 "How do I get the same nuget version for binary caching"
References checked were:
https://devblogs.microsoft.com/cppblog/vcpkg-accelerate-your-team-development-environment-with-binary-caching-and-manifests/
https://github.com/microsoft/vcpkg/blob/master/docs/specifications/binarycaching.md

**What I'm trying to achieve**

I'd like to use the binary caching feature to create nuget packages of the 85 (actually 11 but Boost explodes it to 85) vcpkg depende

[2020-12-02 14:43] sdoiel61 opened #14910 "Requirement of vcpkg integrate install for MSBuild projects using manifests is unacceptable"
IMNSHO a fundamental requirement for a project is to know exactly what external libraries are used for a project.

Manifests look like a great way to achieve that goal, but...

The instructions described in:
https://devblogs.microsoft.com/cppblog/vcpkg-accelerate-your-team-development-environment-with-binary-caching-and-manifests/

describe using "vcpkg integrate install" to use manifests.  Unfort

[2020-12-02 15:50] jacobkahn commented on #14864
@JackBoosY — I reproduced the issue you saw with `AM_GNU_GETTEXT_VERSION` when trying to install the port on a clean Ubuntu 16.04 system. Either way, it seems these two issues are different but might have the same underlying cause. Can I help in any way? Is the `gettext` version issue going to be fixed?

[2020-12-02 17:31] vmiheer commented on #14827
What version does it need? I got all updates installed on Ubuntu 20.04.
[code]

[2020-12-02 17:46] strega-nil commented on #14885
cc @BillyONeal please god we need VS2015 compile testing.

[2020-12-02 18:04] strega-nil commented on #14885
I'll fix this by Soon (tm), definitely by EOD

[2020-12-02 18:18] strega-nil commented on #14892
The issue is that pwsh and powershell sort differently; thus, we should do explicit sorting.

[2020-12-02 18:23] vicroms commented on #14910
If you are using CMake, running `vcpkg integrate install` is not required.

You can always manually pass `-DCMAKE_TOOLCHAIN_FILE=${VCPKG_ROOT}/scripts/buildsystems/vcpkg.cmake` to your CMake invocation.

[2020-12-02 18:54] dweckmann commented on #14879
unfortunately, it changes nothing, I have the same error. What is strange, is the ld invocation:
[code]

Yes, the `-L/home/dweckmann/Work/vcpkg/installed/x64-linux/debug/lib` is really there and finding one "missing" files gives me:
[code]
I really don't understand...

[2020-12-02 19:07] jadsonleno123 commented on #7378
estou com o mesmo problema, ja tentei de tudo principalmente os posts anteriores que vcs falaram sobre solução e nada...

-- Cleaning sources at C:/vcpkg/buildtrees/boost-regex/src/ost-1.74.0-ccd5cfd86e.clean. Use --editable to skip cleaning for the packages you specify.
-- Extracting source C:/vcpkg/downloads/boostorg-regex-boost-1.74.0.tar.gz
-- Using source at C:/vcpkg/buildtrees/boost-regex/sr

[2020-12-02 19:21] #14892 closed

[2020-12-02 20:24] gc435 commented on #14853
Thanks for the thoughts, @JackBoosY.

I'm still confused how to use `gtest_discover_tests()`.  It sounds like I shoud not use `find_package(GTest CONFIG REQUIRED)`.  Use `include(GoogleTest)`, right?

Also, any thoughts about this?

_2. Why does include(GoogleTest) not result in the preprocessor finding <gtest/gtest.h>?_

[2020-12-02 20:30] gc435 commented on #14895
@NancyLi1013, thanks for the reply.  Nope, I did that step.  I properly specified the toolchain file.

The step I did not know about was that `VCPKG_TARGET_TRIPLET` needs to be specified when using WSL and Clang for some reason, as suggested by @luncliff.  This is not required when using WSL and GCC.  Without specifying `VCPKG_TARGET_TRIPLET`, I cannot use **WSL-Clang-Debug** from VS.

I don't thi

[2020-12-02 20:41] gc435 commented on #14895
@luncliff, I confused myself.  I now see that `VCPKG_TARGET_TRIPLET` is required when targeting **WSL-GCC-Debug** and not just **WSL-Clang-Debug**.  When I opened this issue, I found that **WSL-GCC-Debug** worked but **WSL-Clang-Debug** did not.  Perhaps `VCPKG_TARGET_TRIPLET` was pulled from a cache.  Or, perhaps I made a mistake.

[2020-12-02 20:42] nfrechette commented on #645
I tried and failed. I run into this issue with any package I try to install inside a docker windows image: https://github.com/moby/moby/issues/40266
I can run the image and install the packages fine, but they can't be built into the image which defeats the purpose :(

[2020-12-02 20:58] #14885 closed

[2020-12-02 21:02] memecode commented on #14885
Thanks everyone. Fastest turn around ever. Really appreciate it.

[2020-12-02 21:05] #14817 closed

[2020-12-02 21:07] #14756 closed

[2020-12-02 22:45] crusader-mike commented on #7373
@JackBoosY I've tried to test it and got stuck (haven't really touched cmake or vcpkg for like a year and forgot a lot of things). Can you give me a hand, please? Apologies, I was out of the loop for too long.

Basically:
- cloned and bootstrapped latest vcpkg (had to manually lower required version of `git` in `scripts/vcpkgTools.xml` because it couldn't download `git v2.7.4` on my CentOS 7
- ins

[2020-12-03 01:33] #14838 closed

[2020-12-03 01:35] NancyLi1013 commented on #14663
@stevegbarry

I have updated the dependency of `osg`. Please update vcpkg to the latest version to rebuild.

[2020-12-03 01:35] #14663 closed

[2020-12-03 01:48] NancyLi1013 commented on #14592
It's so great. Thanks for your good news @gwaldron.

[2020-12-03 01:57] PhoebeHui commented on #7378
@jadsonleno123, please report a new issue with failures logs instead.

[2020-12-03 02:14] JackBoosY commented on #14883
cc @BillyONeal

[2020-12-03 02:56] JackBoosY commented on #14827
[code]
Please use command `sudo apt-get install libtool` first.

[2020-12-03 03:02] JackBoosY commented on #14853
As I said, Since we use CONFIG mode instead of MODULE mode, we don’t need to use the [GoogleTest.cmake](https://github.com/Kitware/CMake/blob/master/Modules/GoogleTest.cmake) provided by cmake.

[2020-12-03 03:05] JackBoosY commented on #14909
I have less knowledge about nuget, @ras0219 can you please take a look?

[2020-12-03 03:07] JackBoosY commented on #14907
cc @Neumann-A

[2020-12-03 03:11] PhoebeHui commented on #13184
Thanks for your reply!

[2020-12-03 03:11] #13184 closed

[2020-12-03 05:53] JackBoosY commented on #7373
@crusader-mike  You should use `find_package(AWSSDK CONFIG COMPONENTS core s3 REQUIRED)` and `target_link_libraries(main PRIVATE ${AWSSDK_LIBRARIES})` instead.

[2020-12-03 05:54] JackBoosY commented on #7373
We haven't been able to repro this; if more information comes up, or this issue appears again, please reopen.

[2020-12-03 05:54] #7373 closed

[2020-12-03 05:56] PhoebeHui commented on #14900
Updated, thanks!

[2020-12-03 06:53] NancyLi1013 commented on #14506
@tombadmanship

Thanks for your suggestion. Sorry, currently, there is no plan to implement this feature.

Since you have solved this problem, I'm closing this issue for now.

[2020-12-03 06:53] #14506 closed

[2020-12-03 08:52] JackBoosY commented on #14864
@jacobkahn According to the error message, we want to solve this issue from the surface is very simple: remove this empty folder.
But looking deeper, I want to confirm whether this will affect other parts of the configuration.

[2020-12-03 09:10] NancyLi1013 commented on #11335
I cannot reproduce this on my machine. Please update vcpkg to the latest version to rebuild or clone a new vcpkg repo.

It might be something with msys, please see https://github.com/microsoft/vcpkg/issues/9427

Please feel free to reopen this if it is still a problem for you.

[2020-12-03 09:10] #11335 closed

[2020-12-03 09:41] JackBoosY commented on #14902
Should related to the warning message:
[code]

[2020-12-03 09:48] Fenrirthviti commented on #14902
I've checked all the installed files, and they are all 3.13.0, so this error doesn't make any sense in context. Any insight on why this is only happening with manifest mode run as part of cmake, and doesn't happen when running vcpkg separately?

Additionally, this happens in a vacuum in a clean VM with nothing pre-installed (such as a CI instance).

[2020-12-03 09:56] smoked-herring opened #14919 "$mtx.Dispose MethodNotFound"
****

**Is your feature request related to a problem? Please describe.**
It's a minor problem.

I configure my application with `-DCMAKE_TOOLCHAIN_FILE=D:\projects\git.vcpkg\scripts\buildsystems\vcpkg.cmake` as suggested in the tutorial. Compilation succeeds. Then `vcpkg` copies the necessary DLLs from the vcpkg installation root to the app build dir. DLLs get copied successfully, but vcpkg always

[2020-12-03 10:01] JackBoosY commented on #14902
Nope. will try to repro this issue tomorrow.

[2020-12-03 10:08] ericoporto commented on #14883
Sorry, turns out it's a change of components on the base Docker image on my CI provider. This is the minimum I needed to build vcpkg:

[code]

It takes an hour to build. This can be closed now.

[2020-12-03 10:09] ericoporto commented on #14883
More details are here: https://github.com/cirruslabs/docker-images-windows/issues/16

Sorry for the confusion.

[2020-12-03 10:22] shuangzhiaishang opened #14920 "[brotli] build failure"
Package: brotli:x86-windows
  Vcpkg version: 2020.11.12-nohash

E:\Program Files (x86)\Microsoft Visual Studio\vcpkg>vcpkg install io2d
Computing installation plan...
The following packages will be built and installed:
  * brotli[core]:x86-windows -> 1.0.9
  * bzip2[core]:x86-windows -> 1.0.8#1
  * cairo[core]:x86-windows -> 1.16.0#8
  * dirent[core]:x86-windows -> 1.23.2
  * expat[core]:x86-windo

[2020-12-03 10:38] Ceylo opened #14922 "VCPKG_DEFAULT_BINARY_CACHE looks to be ignored"
I'm using macOS 10.15.7 along with Xcode 12.2. I'm trying to use a custom binary cache directory by following https://github.com/microsoft/vcpkg/blob/master/docs/users/binarycaching.md#configuration

I cloned vcpkg at tag 2020.11, then:
[code]

And nothing gets populated in /tmp/vcpkgcache. Obviously, deleting "installed" and "buildtrees" directories then re-running the above vcpkg install reconfi

[2020-12-03 11:37] sadtab opened #14924 "vcpkg install <pkg> fails with disabled regedit"
**Describe the bug**
If regedit is disabled by group policy, `vcpkg install <pkg>` will fail.

Background : If regedit is disabled, the `Developer Command Prompt for VS2015` can't be loaded neither because it use `reg` to query some registries. A work around is proposed by [https://github.com/geoffles/RegRead](https://github.com/geoffles/RegRead) to replace all `reg `calls by custom function, but

[2020-12-03 13:41] gwaldron commented on #14592
@NancyLi1013 The release is ready: [Version 3.1](https://github.com/gwaldron/osgearth/releases/tag/osgearth-3.1)

This release introduces proper SONAME support as well as CI builds for Windows, Linux, and MacOS.

Full vcpkg dependency list:

osg curl gdal geos sqlite3 protobuf basisu draco webp leveldb rocksdb zlib libzip basisu draco

You can also reference our [vcpkg/windows autobuild here](http

[2020-12-03 14:12] PhilippPaetzold commented on #14498
If you want to reproduce / narrow down the problem, you can use the following small test project:

**[main.cpp]**
[code]

**[CMakeLists.txt]**
[code]

The example above compiles and runs without errors. When I comment in one of the opencv-libs: opencv_highgui, opencv_imgcodecs OR opencv_videoio, I get the following errors:

[code]

Hope this helps

[2020-12-03 17:10] smoked-herring opened #14926 "[vtk] x64-windows build fails to download vtk"
****

**Is your feature request related to a problem? Please describe.**
I'm trying to build a new port so I made a draft PR. It fails to be built on x64-windows because of vtk download failure. Log: https://dev.azure.com/vcpkg/c1ee48cb-0df2-4ab3-8384-b1df5a79fe53/_apis/build/builds/46090/artifacts?artifactName=failure%20logs%20for%20x64-windows&api-version=6.0&%24format=zip

Quote:

[code]

**Pro

[2020-12-03 18:54] BillyONeal commented on #14883
It looks like the actual cause was that installing the build tools failed and thus there was no bug? Can you confirm @ericoporto ?

[2020-12-03 18:57] ericoporto commented on #14883
Yes, it was what I concluded in the end. I still left the Dockerfile in the comments in case someone find themselves working with cpp in the `mcr.microsoft.com/windows/servercore:ltsc2019` sincr there isn't much written about this online and all on VS online assumes the IDE or an environment with a GUI.

[2020-12-03 19:27] Hoikas commented on #14926
Fixed by #14884

[2020-12-03 20:46] Keithcat1 opened #14928 "sdl2 build failure"
**Host Environment**
- OS: x64-mingw-static
- Compiler: GCC 9.2.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install sdl2:x64-mingw-static`

**Failure logs**
-- Fixing pkgconfig file: C:/py/git/vcpkg/packages/sdl2_x64-mingw-static/lib/pkgconfig/sdl2.pc
CMake Error at scripts/cmake/vcpkg_fixup_pkgconfig.cmake:237 (message):
  Unhandled string "-mwindows" was found! If it is a syste

[2020-12-03 20:57] vmiheer commented on #14827
That worked! Thank you.
Maybe libtool needs to be added [here](https://github.com/microsoft/vcpkg#installing-linux-developer-tools)?

[2020-12-03 21:00] crusader-mike commented on #7373
@JackBoosY I've tried this `CMakeLists.txt`:
[code]

Now, it fails with this:
[code]

Any ideas what could be wrong?

[2020-12-03 21:22] smoked-herring opened #14930 "[libpng] Different rules to link against libpng on different platforms"
****

**Is your feature request related to a problem? Please describe.**
Linking against libpng requires different cmake commands on different platforms. On Windows it's

[code]

On Linux:

[code]

**Proposed solution**
Fix libpng to export the same cmake commands to include libpng in a cross-platform project. For example, like we do with libpng-turbo:

[code]

**Describe alternatives you've consi

[2020-12-03 21:24] #14926 closed

[2020-12-03 21:24] strega-nil commented on #14926
#14884 fixed this :)

[2020-12-03 21:26] vmiheer commented on #14827
I'll create PR according to the comment: https://github.com/microsoft/vcpkg/pull/14929#issuecomment-738325979

[2020-12-03 21:56] #14860 closed

[2020-12-03 22:04] sylveon commented on #12114
I would also like to get PDBs copied to the output, so that it can be automatically copied by VS into my .appx package

[2020-12-03 22:13] strega-nil opened #14931 "[vcpkg] Error on non-existence of `zip` is not great"
`sh: 1: zip: not found` is a bad error message.

[2020-12-03 22:20] strega-nil commented on #14639
From discussion:

We would like to assume that, in general, community triplets are fine to submit and be merged. However, we should have some rules set out for what we consider to be "unacceptable" community triplets (note that this is not an exhaustive list):

1. Older versions of compilers are not acceptable; this is a list that will expand forever and we are not interested in supporting this.
2

[2020-12-03 22:29] strega-nil commented on #14697
The agreement we've come to is that `llvm` should not be a dependency of poppler; if the user wishes to clang format the code, it could be installed on the machine and that'll be picked up by the `custom_command`, for debugging purposes; else, the `|| true` part of it will make it succeed anyways.

In the future, we may add `clang-format` to `vcpkg_find_acquire_program`, in which case this'll be f

[2020-12-03 22:36] Deadpikle opened #14932 "Fix escaping issue with multiple archs in VCPKG_TARGET_ARCHITECTURE to allow building for x64 and Apple Silicon at the same time"
## Summary

I'm wanting to build a binary for both x64 and Apple Silicon at the same time that is merged together for me rather than me having to run vcpkg 2x and do the extra binary merge work myself. This should be possible with CMake, however, vcpkg does not allow for this right now due to some problems.

### Environment

* Catalina -- macOS 10.15.7
* Xcode 12.2
* Fairly recent `master` (commit

[2020-12-03 22:37] Neumann-A commented on #14930
a) that is an upstream issue.
b) you could use https://cmake.org/cmake/help/latest/module/FindPNG.html instead of the config

[2020-12-03 22:41] strega-nil commented on #14664
Apparently this is a Really Hard Problem. @ras0219 has looked into this before, and we may look back into this in the future.

[2020-12-03 22:51] strega-nil commented on #14788
This seems like two features in one request:

* Adding regex search to `vcpkg search`
* Adding an option to only search names.

These are both reasonable features, however it's unlikely to be done by us since it's lower-prio. If you're interested, we'd accept patches to add these :)

[2020-12-03 22:56] strega-nil commented on #14727
Assigning @ras0219 since this is apparently a thing already.

[2020-12-03 23:00] strega-nil commented on #14894
The world according to @ras0219:

This is a bug with a specific port, and the port should do what @Neumann-A is saying. However, `vcpkg_fixup_pkgconfig` should also offer help in fixing the problem.

[2020-12-03 23:30] Phantomouse opened #14933 "uSockets[ssl] build failure"
**Host Environment**
- OS: Windows 10 build 20H2
- Compiler: Visual Studio 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install uSockets[ssl]`

**Failure logs**
-- Building x86-windows-dbg
CMake Error at scripts/cmake/vcpkg_execute_build_process.cmake:145 (message):
    Command failed: "C:/Program Files/CMake/bin/cmake.exe" --build . --config Debug --target install -- -v -j5

[2020-12-03 23:32] Nemirtingas commented on #14705
Fixed by changing the CMake toolchain file. I've set explicitly CMAKE_AR to llvm-lib-9. They seem to have changed the linker behavior.

[2020-12-03 23:51] Mixaill commented on #14214
Some notes:

* new functions which were added in v1.5 are missing in .def file
* find_package(libftdi1) is broken in this port

You can see my fixes here: https://github.com/Mixaill/vcpkg/commit/d41b49d11396d50c24c7698223197c22c267eda9

[2020-12-04 00:40] jadsonleno123 commented on #7378
[Novo Documento de Texto.txt](https://github.com/microsoft/vcpkg/files/5639881/Novo.Documento.de.Texto.txt)

[2020-12-04 00:40] jadsonleno123 commented on #7378
Esses são minhas falhas...!

[2020-12-04 01:09] arthmis opened #14934 "[OpenSSL] build failure when in User folder"
**Host Environment**
- OS: Windows 10 Version 1909 build 18363.1198
- Compiler: Visual C++ 2017 15.9 v14.16

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Failure logs**
[code]

The configure-perl-x64-windows--rel-err.log:
[code]
and `configure-perl-x64-windows--rel-out.log`:
[code]

**Additional context**
I actually solved my problem. I had vcpkg installed in my User folder like `~\

[2020-12-04 02:14] NancyLi1013 commented on #14702
Hi @glassez

Thanks for posting this issue.

`libtorrent `1.2.11 has been merged to master. Please update vcpkg to the latest version to use it.

[2020-12-04 02:14] #14702 closed

[2020-12-04 02:18] JackBoosY commented on #14827
The message should report by `vcpkg_configure_make` instead of add it to the readme. I think.

[2020-12-04 02:18] #14827 closed

[2020-12-04 02:24] JackBoosY commented on #14697
@strega-nil  Agreed.

[2020-12-04 02:26] JackBoosY commented on #14705
Please wait for cmake solve this issue and #14176 merged.

[2020-12-04 02:31] shuangzhiaishang commented on #14920
after adding set(PORT_DEBUG ON)
This is the output
Starting package 1/20: brotli:x86-windows
Building package brotli[core]:x86-windows...
-- Using cached E:/Program Files (x86)/Microsoft Visual Studio/vcpkg/downloads/google-brotli-e61745a6b7add50d380cfd7d3883dd6c62fc2c71.tar.gz
-- Cleaning sources at E:/Program Files (x86)/Microsoft Visual Studio/vcpkg/buildtrees/brotli/src/6c62fc2c71-a8c4ea9278.c

[2020-12-04 02:36] shuangzhiaishang commented on #14920
content in E:\Program Files (x86)\Microsoft Visual Studio\vcpkg\packages\brotli_x86-windows\debug\lib\pkgconfig

prefix=E:/Program Files (x86)/Microsoft Visual Studio/vcpkg/packages/brotli_x86-windows/debug
exec_prefix=E:/Program Files (x86)/Microsoft Visual Studio/vcpkg/packages/brotli_x86-windows/debug
libdir=${prefix}/lib
includedir=${prefix}/include

Name: libbrotlicommon
URL: https://github.c

[2020-12-04 02:43] JackBoosY commented on #14934
Openssl is always problematic because it is built by makefiles on Windows.
Therefore, some path issues cannot be resolved now.
It's upstream issue.

[2020-12-04 03:23] NancyLi1013 commented on #14595
Hi @ohhmm

Could you please try to update vcpkg to the latest version and rebuild this? Please also use PowerShell instead of cmd to build.

If you still have the same issue, please make it more clear to describe the problem you meet or provide the steps to reproduce.

[2020-12-04 05:55] NancyLi1013 commented on #14924
@BillyONeal

Could you please help take a look?

[2020-12-04 06:00] PhoebeHui commented on #14933
@Phantomouse, thanks for reporting this issue!

I have summited PR #14935 to fix this issue.

[2020-12-04 06:35] PhoebeHui commented on #14919
@smoked-herring, could you provide use more information, like the repro steps, the compiler and port that you used?

[2020-12-04 06:50] PhoebeHui commented on #7378
@jadsonleno123, please install English language pack via vs installer and try again,

If the issue persist, pelease open a new issue with failure log 'C:\vcpkg\buildtrees\boost-regex\build-x64-windows-rel-out.log'.

[2020-12-04 06:53] smoked-herring commented on #14919
Sure. I use Windows 7 x64 with MSVS 2019 Community with the latest updates.

## Create a demo application

### CMakeLists.txt
[code]

### png-test.c
[code]

### Build

[code]

### Output

Compilation succeeds, but vcpkg prints a warning:

[code]

[2020-12-04 07:07] Phantomouse commented on #14933
@PhoebeHui Thanks, works fine for me.

[2020-12-04 07:07] #14933 closed

[2020-12-04 07:07] JackBoosY commented on #7373
@crusader-mike Will be fixed in #14936.

[2020-12-04 07:10] JackBoosY commented on #14922
@BillyONeal Can you please take a look?

Thanks.

[2020-12-04 07:11] JonLiu1993 commented on #14920
@shuangzhiaishang ,Thanks for posting this issue, I can't reproduce your problem in windows 10 environment, can you update vcpkg and reinstall it? the issue inside is the same as yours, maybe it will give you some help. #13166

[2020-12-04 07:17] smoked-herring commented on #14930
`FindPNG` has a similar issue on Linux:

[code]

results in

[code]

It looks like `FindPNG` is not aware of the fact that libpng could be built statically, and doesn't add `-lm` on Linux. So I still need

[code]

Maybe it's worth patching libpng in vcpkg so it exports the same linking target ("png") on all platforms?

[2020-12-04 07:45] PhoebeHui commented on #14919
Do you install the English language pack via vs installer?

[2020-12-04 07:59] Neumann-A commented on #14930
No since upstream is in control of its exported targets and all downstream targets will depend on that naming.

If you don't like the if else block use a generator expression in the target_link_libraries instead. Just chain `$<IF:condition,true_string,false_string>` and `$<TARGET_EXISTS:target>` with the exported targets or use `$<PLATFORM_ID:platform_ids>` to conditionally link `-lm`. An alternat

[2020-12-04 08:00] smoked-herring commented on #14919
Sure,

![изображение](https://user-images.githubusercontent.com/4995438/101137450-e80d3d80-361f-11eb-8c31-3db37ef2fa66.png)

[2020-12-04 08:01] smoked-herring commented on #14930
OK, thanks for the clarification.

[2020-12-04 08:21] #14697 closed

[2020-12-04 08:25] JackBoosY commented on #14902
I can't repro this issue:
[code]
Did you installed cmake manually and its version beyond 3.18?

[2020-12-04 09:03] vicroms opened #14938 "Command `x-package-info` exits with error code even when successful"
Running `vcpkg x-package-info` always exits the application with an error code.
I suspect `Checks::exit_success(VCPKG_LINE_INFO)` is missing after performing the command in `commands.info.cpp`.

**Environment**
- OS: Windows 10

**To Reproduce**
[code]
**Expected behavior**
vcpkg exits with code 0

**Additional context**
I'm running this command as part of a script and noticed the bug when checkin

[2020-12-04 09:56] JackBoosY commented on #14030
Although `LDAPS` is displayed in the configuration log:
[code]
 the tool still does not show that it has this feature:
[code]
Will digger in the future.

[2020-12-04 09:58] JackBoosY commented on #14030
https://github.com/curl/curl/blob/1835cb916e0d40eb8bc1165d5627a0b64f911bac/CMakeLists.txt#L1398-L1400

There is no judgment `USE_WIN32_LDAP`, should be a upstream issue.

[2020-12-04 09:59] NancyLi1013 commented on #14592
Thanks for your update and support. @gwaldron

I will try to build the new release on my machine and update the result here once completed.

[2020-12-04 10:14] jdx-john opened #14939 "Is it possible to build a port against a different fork/branch/source-tweaks?"
I am interested in using a project for which a vcpkg port is available, but it is likely we'll need to add changes to the source.
I would much rather continue to use vcpkg but I don't want to be stuck waiting for them to accept a PR (or maybe we have bespoke changes we never share) - is there a way I can use a different git URL for the same project, or otherwise override with my modified source co

[2020-12-04 10:30] Fenrirthviti commented on #14902
I am using cmake 3.16 locally, and 3.18 is being used in CI. The issue exists in both places. I am fully willing to admit this might be an issue with the project, but this is repeatable 100% of the time from a completely clean setup using the Cockatrice project. Are you using the same commit that I am for vcpkg? I see that your version is finding 3.14 where mine is finding 3.13. I will also try up

[2020-12-04 10:38] Fenrirthviti commented on #14902
I can confirm updating vcpkg to latest master solves this issue, but it is unclear exactly what caused it in the first place. Feel free to close, but if anyone else runs in to this issue, an update to vcpkg (as a submodule in my case) seems to have resolved it.

[2020-12-04 10:55] jdx-john opened #14940 "How do I find the generated .vcxproj files?"
Apologies if I misunderstood totally but I thought vcpkg internally uses CMake to build C++ ports? I am using VS2019 and so I expected CMake would create .vcxproj projects which VS then builds - it's been many years since I last used CMake.

Inspecting the folders on disk, I can see some of the dependency libs _do_ have vcxproj files but not the port I'm building. I want to inspect these files to

[2020-12-04 11:15] StephanGarbin commented on #5085
I can confirm that as well, VS2019, x64-windows. This PR https://github.com/microsoft/vcpkg/pull/6195/files seems to fix the include errors, so there appears to have been a regression.

[2020-12-04 11:24] gc435 commented on #14853
I am not a CMake expert, so I don't understand the implications of this.  I now have a little better understanding of how GTest in `vcpkg` is different from GTest installed in the conventional way.  However, I still don't know to use `gtest_discover_tests()`.  Is it possible?

[2020-12-04 11:33] vicroms commented on #14939
Yes, you can do custom ports using `--overlay-ports`, example:

Let's imagine you want to modify `zlib` and `ffmpeg`.

Copy their port folders to a different location, let's assume `D:/custom-vcpkg-ports/zlib` and then make your changes to the ports.

Then you can do:

[code]

In the near future we plan to implement custom registries, that will allow you to point vcpkg to a Git repository that con

[2020-12-04 11:36] jdx-john commented on #14939
@vicroms that's great, thankyou.

[2020-12-04 11:36] #14939 closed

[2020-12-04 11:45] vicroms commented on #14940
May I ask why do you need the project files for the libraries?

Vcpkg builds the libraries from source using whatever build system the upstream library uses. Many of the libraries in vcpkg don't use MS Build at all. So there are no project files whatsoever.

The intended use for vcpkg is for you to link the libraries built by vcpkg in your project. If you are using Visual Studio with MS Build then

[2020-12-04 12:17] jdx-john commented on #14940
@vicroms I need to pre-build a port and add the binaries+headers to our bespoke (ancient) toolchain package that all our developers use for various precompiled libs. This will likely involve a mess of dependency include folders so I figured if I could see a project file, I could save some time finding them all.

I assume that `vcpkg integrate install` isn't a solution for my use case of centralise

[2020-12-04 12:24] Fenrirthviti commented on #14902
Actually, that worked locally, but not in CI, it's still failing here:

https://github.com/Fenrirthviti/Cockatrice/runs/1498534574?check_suite_focus=true

[2020-12-04 12:25] jdx-john commented on #14940
I suppose a linked question is, what _exactly_ does `integrate` _do_? I understand the functionality (https://docs.microsoft.com/en-us/cpp/build/vcpkg?view=msvc-160#integrate-with-visual-studio-windows) but not what changes it actually makes, and where?

[2020-12-04 12:26] linquize commented on #14940
vcpkg may build the libraries with **ninja** internally,  if possible.  In this case, **.vcxproj** is not generated.

[2020-12-04 12:42] carpolite commented on #14831
i close the fire wall and did it, thanks your help~~

[2020-12-04 12:42] #14831 closed

[2020-12-04 12:54] vicroms commented on #14940
The output of vcpkg goes to predefined locations.

Note: all paths below are prefixed by `{VCPKG_ROOT}/installed/{target triplet}`, e.g.: D:\vcpkg\installed\x64-windows`.

* Header files go into `include/`
* Library files (`.lib`) go into `lib/` or `debug/lib` depending on configuration (release or debug)
* Shared library files (`.dll`) go into `bin/` or `debug/bin` depending on configuration (rel

[2020-12-04 13:02] sfhacker commented on #14030
This open issue is nearly two months old!
@LouisClt Any update on this matter?

[2020-12-04 13:08] FranciscoPombal opened #14941 "[fontconfig] release-only build failure on macOS 10.15"
**Host Environment**
- OS: macOS 10.15 from GitHub Actions
- Compiler: whichever XCode version runs on the GitHub Actions runner

**To Reproduce**

`./vcpkg install fontconfig:x64-osx-release --clean-after-build --overlay-triplets=triplets_overlay`

(or any package that depends on `boost-thread`, like `qt5-base`)

Contents of `triplets_overlay/x64-osx-release.cmake`:

[code]

**Failure logs**

htt

[2020-12-04 13:22] Neumann-A commented on #14941
automake not installed?

[2020-12-04 13:35] FranciscoPombal commented on #14941
@Neumann-A

Maybe, I can't see it referenced in https://github.com/actions/virtual-environments/blob/main/images/macos/macos-10.15-Readme.md.

What is the preferred way of installing it? `brew install automake`? Do you expect that will fix it?

[2020-12-04 13:44] Neumann-A commented on #14941
Yes but you might run into other errors if other tools are missing.
See here:
https://github.com/microsoft/vcpkg/blob/99cfc38036f330a035b57aa67f661526153e31c7/scripts/azure-pipelines/osx/configuration/Vagrantfile#L17-L24
for what might be needed.

fontconfig was switched from a vcpkg vendored CMakeLists.txt to its upstream make based build system to enable easier updates.

[2020-12-04 13:58] Fenrirthviti commented on #14902
I've also replicated locally again as well:

[code]

I tested again in a clean VM with no prior installations. This issue is extremely frustrating because on any subsequent runs past the first, it runs without issue. Something is either not being properly set until much later in the cmake workflow. I am really not sure, which makes troubleshooting this very difficult to tell if it's actually fixed

[2020-12-04 14:09] chuyanjuncn opened #14942 "[osgEarth] update to 3.1"
Library name:  osgEarth

New version number:   3.1

Other information that may be useful (release notes, etc...)

https://github.com/gwaldron/osgearth/releases/tag/osgearth-3.1

[2020-12-04 14:14] FranciscoPombal commented on #14941
@Neumann-A Thank you very much. Looks like simply installing `automake` was sufficient. Now there is another problem with the installation of `qt5-base` itself, but that is a matter for another report.

[2020-12-04 14:14] #14941 closed

[2020-12-04 14:21] Neumann-A commented on #14922
maybe the directory does not exists.
Make sure the directory exists and run the install command with `--debug`

[2020-12-04 14:23] FranciscoPombal opened #14943 "[qt5-base] build failure on macOS 10.15"
**Host Environment**

- OS: macOS 10.15 from GitHub Actions
- Compiler: whichever XCode version runs on the GitHub Actions runner

**To Reproduce**

I reproduced this in release-only build, but from the failure logs, it does not look like that has any impact.

`./vcpkg install qt5-base:x64-osx-release --clean-after-build --overlay-triplets=triplets_overlay`

Contents of `triplets_overlay/x64-osx-r

[2020-12-04 14:24] FranciscoPombal commented on #14943
@Neumann-A This is a follow-up to https://github.com/microsoft/vcpkg/issues/14941, as mentioned in https://github.com/microsoft/vcpkg/issues/14941#issuecomment-738806392.

[2020-12-04 14:35] Neumann-A commented on #14943
that is due to `xcrun --show-sdk-version` failing you could try setting `VCPKG_OSX_DEPLOYMENT_TARGET` to `10.15` in the triplet to skip the detection but I assume it has something to do with an env variable being missing for `xcrun` to succeed (probably `SDKROOT` and/or `MACOSX_DEPLOYMENT_TARGET`)

[2020-12-04 14:47] FranciscoPombal commented on #14943
@Neumann-A

OK, I'm trying that now: https://github.com/FranciscoPombal/qBittorrent/runs/1499371354?check_suite_focus=true

If the triplet method does not work, do you known what I should set those variables to?

[2020-12-04 14:50] gnieboer opened #14944 "FontConfig misnamed DLL (x64-windows)"
**Host Environment**
- OS: x64-windows
- Compiler: VS2019?
- vcpkg date of last pull: 12/3/2020

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install cairo`
cairo will install fontconfig and then link against it
Run depends.exe or similar on cairo.dll found in .../installed/x64-windows/bin
cairo.dll will be dependent on "libfontconfig-1.dll"
But the fontconfig package installs "fontc

[2020-12-04 14:52] Neumann-A commented on #14943
Nope don't have access to macosx myself. I am just cleverly googling error messages and that error does not have a clever solution yet.
https://stackoverflow.com/questions/60536169/xcrun-show-sdk-version-error-cant-build-with-xcode-on-mojave

maybe you can run `xcrun --show-sdk-version --verbose` or use `--log` to get more info from what is happening and why it is not working (https://www.real-wor

[2020-12-04 15:14] gnieboer commented on #14944
So I think the problem is not really Cairo's problem, it's FontConfig's.

The Cairo cmake cache shows it finding the correct fontconfig.lib file, but in the /lib directory, fontconfig.def ends with "LIBRARY libfontconfig-1.dll", and the .lib file references libfontconfig-1.dll so Cairo is linking to the DLL fontconfig provides, but it doesn't exist as FontConfig actually outputs fontconfig-1.dll (

[2020-12-04 15:26] jdx-john commented on #14940
@vicroms what does `integrate install` actually _do_? i.e. it makes VS know to look in `{VCPKG_ROOT}/installed/include` for `#include` but where in VS can I find this setting? I'm assuming it's some visible option not a hidden setting.

[2020-12-04 15:27] FranciscoPombal commented on #14943
@Neumann-A

I ran:

[code]

Here is the output:

[code]

Looks like the same "incoherence" mentioned in https://stackoverflow.com/questions/60536169/xcrun-show-sdk-version-error-cant-build-with-xcode-on-mojave.

The output from `xcrun --sdk macosx10.15 --show-sdk-path --verbose --log` is:

[code]

There might be a problem with the runner setup I guess.

[2020-12-04 15:59] shuangzhiaishang commented on #14920
@JonLiu1993 Thanks I've reinstall vcpkg and it's the latest version and i've read #13166 but because of my poor English I can hardly understand what the solution is.Could you tell me exactly what should I do to solve this,if you need more information please let me know.

[2020-12-04 16:02] Neumann-A commented on #14944
`src/Makefile.am` line `58` probably needs to be patched from
[code]
to
[code]

[2020-12-04 16:25] FranciscoPombal commented on #14943
It builds OK with this workaround (adding `set(VCPKG_OSX_DEPLOYMENT_TARGET 10.15)` to the triplet file).

[2020-12-04 16:28] Neumann-A commented on #14943
hmm maybe it needs to be `xcrun --sdk macosx --show-sdk-path`

[2020-12-04 19:05] BillyONeal commented on #14922
I have repro'd the problem and am investigating.

[2020-12-04 21:33] LouisClt commented on #14030
Nothing different from the last time : I am still able to reproduce the issue, and have no trouble using nmake.
I tried different things but nothing seemed to work.  The CMakeLists.txt from libcurl does not seem to support windows very well...

[2020-12-04 21:45] sfhacker commented on #14030
@LouisClt How can you afford the time (almost two months) waiting for this port?
Are you using some (working) binary from a third party or .....?

![image](https://user-images.githubusercontent.com/25817529/101217845-22391680-36d6-11eb-9445-e9f365877a8d.png)

[2020-12-04 21:54] LouisClt commented on #14030
I managed to compile libcurl with the nmake command (in the winbuild directory of libcurl) with ldaps fully functionnal, and that was all I needed (but I think there are some advantages from using vcpkg (more options than with nmake, easier to compile)). So it is not a blocking point as far as I am concerned (sorry if I misunderstood you question), and I am not really waiting.

[2020-12-04 22:01] #14922 closed

[2020-12-04 22:49] RT222 commented on #14753
I'm sorry about this, but this problem is beyond my comprehension, and I currently lack the time to dig into it. If it helps, I can revert my changes to get back to the old fashioned way of including the sources files manually.

[2020-12-04 22:57] ras0219 commented on #14304
Thanks a bunch for the detailed debugging on this and sorry for taking so long to get to it!

I've opened #14948 with an improvement on the Ubuntu 18.04 situation (recommending users to get the up-to-date mono) and I'm looking into how best to fix the ApiKey situation.

[2020-12-04 23:22] BillyONeal commented on #14924
Unfortunately there's nothing vcpkg can really do about this since the problem is in the developer command prompt. You'll need to disable that group policy to build most command line software, including vcpkg.

[2020-12-04 23:25] BillyONeal commented on #12114
Generally speaking PDBs should not be deployed on end-user machines so they shouldn't be going into an appx.

We may still want to look at doing something like this someday but it's mostly applicable to folks who are shipping static libraries rather than applications.

To truly deliver an end to end experience here we might need to package the sources too.

[2020-12-04 23:34] #14542 closed

[2020-12-04 23:37] mohdsuperb opened #14949 "[realsense2] CMake Error at scripts/cmake/vcpkg_execute_build_process.cmake:145"
**Host Environment**

OS: Windows 10 build 20H2
Compiler: Visual Studio 2019

**To Reproduce**
Steps to reproduce the behavior:
./vcpkg install realsense2

**Failure logs**
-- Building x86-windows-dbg
CMake Error at scripts/cmake/vcpkg_execute_build_process.cmake:145 (message):
    Command failed: C:/Users/khmohd/vcpkg/downloads/tools/cmake-3.18.4-windows/cmake-3.18.4-win32-x86/bin/cmake.exe --bui

[2020-12-04 23:42] mathstuf commented on #14705
I think there was something related to clang-cl and linker stuff lately. @bradking?

[2020-12-04 23:50] sylveon commented on #12114
The way `.appx` works is weird.
When building for local or remote testing, everything gets into a single `.appx`, PDB included.
But when packaging and uploading, VS uses an `.appxbundle` file, and this archive contains both an `.appx` and `.appxsym` file.
VS does some ✨ magic ✨ from the normal build output for that purpose, so vcpkg simply copying PDBs along with the DLLs should work.

`.appxsym`

[2020-12-05 00:38] #14874 closed

[2020-12-05 00:48] #14908 closed

[2020-12-05 01:04] sfhacker commented on #14030
Do you reckon this open ticket should be closed then?
The issue reported here is an upstream libcurl issue or a vcpkg issue? or both? It is not clear to me whether the issue reported here has been resolved or not?
Cheers.

[2020-12-05 01:22] vicroms commented on #14940
I'm not sure about the specifics of `integrate install`. cc @ras0219-msft @dan-shaw

I think `vcpkg integrate install` writes a few files to `%LOCALAPPDATA%/vcpkg`, Visual Studio knows to look into that location to detect if a user has vcpkg installed.  The files contain the location of the vcpkg instance. Then Visual Studio sets up the correct paths (add include paths, add lib paths) accordingly.

[2020-12-05 03:08] ras0219 commented on #11804
This should be fixed by #14948 which will output the stdout+stderr instead of "Value was null"

[2020-12-05 03:17] ras0219 commented on #12359
This looks like a bug in the prefab exporter; it should not be iterating through all available triplets and attempting to "divine" the correct ones:
https://github.com/microsoft/vcpkg/blob/de70813cf38c55bac793f516751a35f843f12ad8/toolsrc/src/vcpkg/export.prefab.cpp#L276

Instead, the user should explicitly label each of the required architectures; perhaps via individual options:
[code]
@atkawa7

[2020-12-05 03:23] ras0219 commented on #14909
The first part of the triplet hash is literally the SHA1 hash of the triplet file itself: https://github.com/microsoft/vcpkg/blob/de70813cf38c55bac793f516751a35f843f12ad8/toolsrc/src/vcpkg/build.cpp#L417

On my machine, I get `11b48685057027ff91b8ac481e606bbf604cef3b`, so the modification would be happening in your "install task" pipeline.

Is it possible you've subtly modified the file in some wa

[2020-12-05 03:23] ras0219 commented on #14840
Should be fixed by #14952

[2020-12-05 03:39] Pevernow opened #14955 "[New Port Request] bgfx"
Library name:bgfx

Library description:Cross-platform, graphics API agnostic, "Bring Your Own Engine/Framework" style rendering library

Source repository URL:https://github.com/bkaradzic/bgfx

Project homepage (if different from the source repository):https://bkaradzic.github.io/bgfx/overview.html

Anything else that is useful to know when adding (such as optional features the library may have th

[2020-12-05 03:50] ras0219 commented on #14374
+1 for @BillyONeal's answer. When a user then wants to distribute their binary or run it anywhere outside "F5", it would be more difficult.

[2020-12-05 05:43] mcgoo opened #14956 "Different triplets appear to conflict"
A custom triplet on Linux seems to conflict with the default linux triplet, resulting in a build failure. It occurs with at least `brotli` and `bzip2` so I think it is not package specific. Installing `bzip2:x64-linux` and then `bzip2:test-triplet` results in an error message that mentions `x64-linux` during the `test-triplet` build.

~~Doing the same thing on macOS (x64-osx->test-triplet) seems t

[2020-12-05 07:05] tueda opened #14957 "[nanobench] update to 4.3.0"
Library name: nanobench

New version number: 4.3.0

Other information that may be useful (release notes, etc...):

Changes from 4.0.0 to 4.3.0 are summarized in the release notes, https://github.com/martinus/nanobench/releases

[2020-12-05 07:20] longhuan2018 commented on #14757
If you want to use readosm in osx, you can try this PR #14951

[2020-12-05 07:59] smzahraee opened #14958 "arm linux cross compile spdlog failed"
i compiled `spdlog` with yocto bsp but get followiing error on finding external `fmt`

[code]

[2020-12-05 08:31] cenmmy commented on #13111
i want to use drawtext filter in my project, but i don't kown how to add option --enable-libfreetype

[2020-12-05 10:02] shuangzhiaishang commented on #14920
I changed my directory from E:\Program Files (x86)\Microsoft Visual Studio\vcpkg> to E:\dev\vcpkg> and it's installed without problems.

[2020-12-05 10:02] #14920 closed

[2020-12-05 10:29] xahon opened #14959 "[manifests] Is there a way to specify dependency's version?"
I didn't find any mention of such useful thing in the [documentation file](https://github.com/microsoft/vcpkg/blob/de70813cf38c55bac793f516751a35f843f12ad8/docs/maintainers/manifest-files.md)

[2020-12-05 10:59] xahon commented on #11247
I have the same issue too

[2020-12-05 12:09] Andyjk1406 commented on #11601
I think (think...) this might be solved upstream now.

[https://github.com/PointCloudLibrary/pcl/pull/4262](url)

[2020-12-05 12:30] vicroms commented on #14959
It will come very soon... Take a look at PRs #11758.

[2020-12-05 13:18] sipsorcery commented on #14909
@ras0219 thx that's almost certainly the culprit. Both the install and consuming scripts do modify the triplet file with:

`Add-Content "C:\tools\vcpkg\triplets\$env:PLATFORM-windows-static.cmake" "set(VCPKG_BUILD_TYPE release)"`

I checked the file hash before and after the edit and it matches the same results I got above.

Before:
[code]

After:
[code]

Looks like the consuming task edit isn't t

[2020-12-05 13:18] #14909 closed

[2020-12-05 14:05] crusader-mike commented on #7373
@JackBoosY I checked it again with #14936 -- it almost works. Now `cmake -DCMAKE_BUILD_TYPE=Debug -DCMAKE_TOOLCHAIN_FILE=/home/mkilburn/vcpkg/scripts/buildsystems/vcpkg.cmake . && make` results in this:
[code]

Should I submit similar bug for `libssl` or reopen this one?

Also, notes:
- cmake complains about CMP0007 policy -- looks like a defect in `aws-sdk-cpp` port (see `List has value = [;core]

[2020-12-05 22:29] Elizraa opened #14961 "[opencv2] build failure"
**Host Environment**
- OS: Windows
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg install opencv2:x86-windows`

**Failure logs**
  Package: opencv2:x86-windows
  Vcpkg version: 2020.11.12-nohash
**Additional context**
Add any other context about the problem here, such as what you have already tried to resolve the issue.

[2020-12-06 00:16] ROBYER1 commented on #12620
RTX 3080 owner here with the same issue, seems the cmake file doesn't include the architecture for the latest RTX cards from here
http://arnon.dk/matching-sm-architectures-arch-and-gencode-for-various-nvidia-cards/

Is there any way to fix this locally?

[2020-12-06 00:48] Dragonrun1 opened #14963 "[openssl] build failure on x64-windows-static"
**Host Environment**
- OS: Win10
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg.exe --triplet x64-windows-static install openssl`

**Failure logs**
[code]
**Additional context**
Add any other context about the problem here, such as what you have already tried to resolve the issue.

[2020-12-06 00:48] StarGate-One commented on #14949
1. The log file has many errors containing: ` fatal error C1083: Cannot open include file: 'atlstr.h': No such file or directory`
2. Make sure you have installed option `C++ ATL for latest v142 build tools (x86 & x64)` in Visual Studio.
![image](https://user-images.githubusercontent.com/68293825/101268597-cea8e600-3732-11eb-8fdd-9821490ddce7.png)

[2020-12-06 01:11] StarGate-One commented on #14963
**>Could not find PowerShell Core; please open an issue to report this.**

1. When is the last time vcpkg was updated as many changes to the core program (vcpkg.exe) has happened the past few days?
`git pull` - get the latest vcpkg changes
`.\bootstrap-vcpkg.bat` - to rebuild the vcpkg binary using updated sources (only needed when `[vcpkg-root]\toolsrc` files are add, changed and/or deleted)
`vcp

[2020-12-06 01:21] ROBYER1 commented on #13077
Same here, wasted hours and hours looking into this, I wasn't savvy to the fact that OpenCV didn't support CUDA 11 until I was a good few hours into scratching my head.

Waiting for a fix.

[2020-12-06 04:20] pythonhunter opened #14964 "cmake build error using VS2019 VCPKG_USE_STD_FILESYSTEM not defined"
here is build log

[code]

as we can see, `vcpkg\toolsrc\include\vcpkg/base/files.h(36)` has use namespce `std::copy_options` ,which should be include in  `<filesystem>` not `<experimental/filesystem>`. Thus the macro `VCPKG_USE_STD_FILESYSTEM`  sould be defined, but I search the whole project, seens this definition is set in `vcpkg\toolsrc\windows-bootstrap\vcpkg.vcxproj`, somehow it didn't work.

[2020-12-06 04:56] Dragonrun1 commented on #14963
Just installed it a few hours ago so I'm pretty sure I have the latest version. Actual just grabbed it again like 2 hours ago to try build again after wiping directory and still doesn't build

[2020-12-06 08:49] playgithub opened #14965 "How to let a custome port be built in C++17?"
I have to custom port `poppler`, while `vcpkg install poppler` succeeded, it could be used in a C++14 project in VS2019, but when changed to C++17, there is a link error.
How to let the custome port be built in C++17?

In poppler's `CMakeLists.txt`, there is `set(CMAKE_CXX_STANDARD 14)`, does it mean a patch is necessary?

[2020-12-06 09:51] LouisClt commented on #14030
As far as I am concerned, the issue is not resolved. Fixing the problem of the `USE_WIN32_LDAP ` statement seems to help a bit since now it puts ldaps in the config output, but at the end there is still no ldaps.
The issue seems to be at least partly a libcurl issue, as @JackBoosY stated previously, but I can't say for sure that is only a libcurl issue (even if it seems probable).
As for closing t

[2020-12-06 10:16] playgithub opened #14966 "How to computer SHA512 in vcpkg_from_github?"
as title

[2020-12-06 10:19] playgithub opened #14967 "What's HEAD_REF in vcpkg_from_github?"
What's the usage of `HEAD_REF `?
If `git checkout` a tag in a detached HEAD, how to find `HEAD_REF`?

[code]

[2020-12-06 11:16] #14966 closed

[2020-12-06 11:18] playgithub commented on #14967
I have found the doc.

[2020-12-06 11:18] #14967 closed

[2020-12-06 11:49] playgithub opened #14968 "What is the most convenient way to find out SHA512 in vcpkg_from_github?"
Take poppler for exmaple,

.tar.gz at https://github.com/freedesktop/poppler/releases/tag/poppler-20.12.0 is different from the file download by
[code]
so the SHA512 is different.

[2020-12-06 12:04] Hoikas commented on #14968
Run `vcpkg build poppler` - the build will error and tell you the expected hash.

[2020-12-06 12:48] sfhacker commented on #14963
Are we **STILL** having issues building OpenSSL from source on Windows?

![image](https://user-images.githubusercontent.com/25817529/101280398-eceb1080-381c-11eb-9783-4869fcfe1b48.png)

Why you need PowerShell to build OpenSSL? I'm pretty sure I built OpenSSL on Windows without PowerShell!
@Dragonrun1 Have you tried other alternatives? (e.g. nmake, etc)

[2020-12-06 12:53] sfhacker commented on #14030
If this issue is an upstream issue, it means that the binary built by yourself (@LouisClt ) using nmake lacks LDAP(S) support. Is that correct?
If it isn't, then it means it is **not** an upstream issue, right?

[2020-12-06 16:52] monchin commented on #13376
@PhoebeHui  Hello, I found this issue and I met the same error. I have installed VS2019 community, although in `D` disk
Translation on right that I've installed:
#### desktop development using c++
 including
* c++ core desktop functions
* intellicode

#### selectable:
* msvc v142
* win 10 sdk
* real-time debugger
* c++ analysing tools
* c++ cmake tools for win
* c++ atl for newest v142 generating

[2020-12-06 17:07] Dragonrun1 commented on #14963
I have no idea why vcpkg would need PowerShell to build on Windows I just know for some reason someone decided it does in vcpkg.

So some more background on what I'm doing when I ran into the bug. I'm trying to install in rust's cargo a diesel-cli tool which uses a crate called mysqlclient-sys which looks for a static build of the mysql client library. One way it tries to find it is by using vcpkg

[2020-12-06 19:05] StarGate-One commented on #13376
Did you include the "English" Language Pack?
![image](https://user-images.githubusercontent.com/68293825/101289697-192a7100-37cc-11eb-9e80-0661f3ee1033.png)

[2020-12-06 20:14] StarGate-One commented on #14963
1. I would try:
   - delete file `[vcpkg-root]\downloads\PowerShell-7.0.3-win-x86.zip`
   - deleting directory `[vcpkg-root]\downloads\tools\powershell-core-7.0.3-windows`
   - install openssl again
2. This should force vcpkg to download/install powershell core again.

[2020-12-06 20:15] LouisClt commented on #14030
No it isn't correct : the binary built using nmake does have ldaps support.
However, it is built using the Makefile.vc from the winbuild folder, which I think is a separate build process from using directly the CMakeLists.txt from the src folder (but maybe not ?!).
So the build process using CMakeLists.txt (which I think is what is done by vcpkg) can be not fully functionnal and in the same time t

[2020-12-06 20:31] StarGate-One commented on #14968
1. Download the file to a temp directory:
Example: `C:\Temp`
2. vcpkg hash <file> [alg] - Hash a file by specific algorithm, **default SHA512**
Example: `vcpkg hash C:\Temp\poppler-poppler-20.12.0.tar.gz`
da08c45a2c361beb25ac391a71f7516d5442577ede40e4e4464ea006b66b9243a855333330090ed08a303c2e4aece7d4734f202b7f5072fdbf75cc038993692d

[2020-12-06 20:51] Dragonrun1 commented on #14963
Actuallyu right now neither exists on my system but I was trying some other ideas I found floating around the Internet so I'll for the 4-5? time delete my vcpkg root directory and start over. It'll only take another couple hours to see if it helps ;)

[2020-12-06 21:25] dudantas commented on #14703
I used ```./vcpkg install yasm-tool: x86-windows``` and then ```./vcpkg install gmp: x64-windows```
And it works, thanks

[2020-12-06 21:31] Dragonrun1 commented on #14963
So everything downloaded faster today for me but OpenSSL failed again and there is nothing in downloads directory with PowerShell in it's name so that might be why it can't find it ;)

[2020-12-06 21:53] vicroms commented on #14965
If you want to test quickly, it may be worth a try, setting it during the configure call.

[code]

But if that doesn't work, then yes, you would need to patch that line out.

I would also recommend setting `CMAKE_CXX_STANDARD` as part of a custom triplet.

[2020-12-06 22:01] StarGate-One commented on #14963
1. Is there a powershell directory in your PATH env variable?
2. `C:\Windows\System32\WindowsPowerShell\v1.0\` should be there, any others should be removed, if the directory does not exist.
3. Try downloading it from https://github.com/PowerShell/PowerShell/releases/download/v7.0.3/PowerShell-7.0.3-win-x86.zip and putting the file in `[vcpkg-root]\downloads` - make sure to name the file `PowerShe

[2020-12-06 22:13] vicroms commented on #14963
Vcpkg should download a copy of PowerShell Core during first use of `vcpkg install`, e.g.:

[code]
Do you see that message when running `vcpkg install openssl`?

PowerShell Core is required by `vcpkg_copy_tool_dependencies()` in order to run `applocal.ps1`. OpenSSL produces an executable `OpenSSL.exe`, the `applocal.ps1`script detects which `.dll` are required for the executable to run and copies

[2020-12-06 22:47] vicroms commented on #14961
Hi @Elizraa

I wasn't able to reproduce this issue.
Please provide the failure logs for `vcpkg install opencv2:x86-windows`.

[2020-12-06 22:49] #14959 closed

[2020-12-06 23:19] BillyONeal commented on #14374
Thanks for the suggestion, but given that we have multiple strong objections it doesn't look like we'll be pursuing this path forward.

[2020-12-06 23:19] #14374 closed

[2020-12-06 23:26] #11989 closed

[2020-12-07 00:15] Fenrirthviti commented on #14902
Please let me know if there is any additional information that I can provide to help isolate what the issue is here. If you could share what you did to test locally or if you could share that project so I can test and compare with the Cockatrice project, that would be helpful as well.

Thank you in advance.

[2020-12-07 01:32] Dragonrun1 commented on #14963
C:\Windows\System32\WindowsPowerShell\v1.0\ is where it's finding PS5 which was causing the problem.

[2020-12-07 02:13] JackBoosY commented on #14902
@Fenrirthviti I don't know... it may be caused by different versions of cmake.

[2020-12-07 02:19] PhoebeHui commented on #14818
I suspect the issue occured when using the package, it should build fine, duplicated of same issue with https://github.com/microsoft/vcpkg/issues/14944.

[2020-12-07 02:19] #14818 closed

[2020-12-07 02:22] PhoebeHui commented on #14919
@smoked-herring, does this issue persist after installing English language pack?

[2020-12-07 02:23] JackBoosY commented on #14853
See [documentation](https://cmake.org/cmake/help/latest/command/find_package.html).
If you always need to use `gtest_discover_tests`,  please use module mode `find_package(GTest REQUIRED)` and `include(GoogleTest)`. Because it's provided by cmake.

[2020-12-07 02:45] NancyLi1013 commented on #10802
Hi @20zinnm

Thanks for posting this issue.

`chipmunk` has supported all platforms. Please update vcpkg to the latest version and try to rebuild this port.

[2020-12-07 02:45] #10802 closed

[2020-12-07 02:50] PhoebeHui commented on #14956
@mcgoo, thanks for reporting this issue!

This should be a vcpkg bug, also repored on windows platform. @BillyONeal, could you please have a look?

[2020-12-07 02:54] JackBoosY commented on #14964
cc @BillyONeal

[2020-12-07 02:59] JackBoosY commented on #14963
Another issue with `vcpkg_copy_tool_dependencies`...
@ras0219 @BillyONeal Please consider to fix this issue first.

Duplicated to #12849.

[2020-12-07 02:59] #14963 closed

[2020-12-07 03:08] Fenrirthviti commented on #14902
Thanks for the reply, I have tested on 3.16, 3.18, and 3.19 which all exhibit the same issue. To confirm, you were able to successfully configure the Cockatrice project with no errors? Or what exactly was your test? There may be answers in how you set up your test that I can use to solve this issue in my project.

[2020-12-07 03:59] playgithub opened #14973 "What is the default value for VCPKG_CRT_LINKAGE for msvc?"
and any way to query VCPKG_CRT_LINKAGE of an installed package?

[2020-12-07 04:34] Elizraa commented on #14961
Sorry, the failure log say about opencv4 is already installed, even though I don't remember installing it, but now I already solved this issue by doing

vcpkg uninstall opencv4

Thank you

[2020-12-07 04:34] #14961 closed

[2020-12-07 04:52] trangtv57 opened #14974 "bzip2 build failure"
**Host Environment**
- OS: ubuntu 16.04

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install bzip2

**Failure logs**
 Building package bzip2[core]:x64-linux...
-- Fetching https://sourceware.org/git/bzip2.git...
CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:108 (message):
    Command failed: /usr/bin/git fetch https://sourceware.org/git/bzip2.git 75a94bea3918e612

[2020-12-07 06:19] smoked-herring commented on #14919
Hi! Yes, it's still there.

[2020-12-07 06:20] JackBoosY commented on #14030
@LouisClt I've report this to the upstream(https://github.com/curl/curl/issues/6284), let's wait for the official reply.

[2020-12-07 06:39] JackBoosY commented on #14973
For static library on Windows, it should be `static` --- `MT/MTd`.
For dynamic library, the default value is `dynamic` --- `MD/MDd`, and you can set it to `static`.
See [documentation](https://docs.microsoft.com/en-us/cpp/build/reference/md-mt-ld-use-run-time-library?view=msvc-160).

[2020-12-07 07:10] playgithub commented on #14973
How to query an installed package for this?

[2020-12-07 07:11] playgithub commented on #14973
Thanks
The binary name shows the link type

[2020-12-07 07:12] #14965 closed

[2020-12-07 07:13] #14968 closed

[2020-12-07 07:35] NancyLi1013 commented on #14703
@dudantas

Thanks for your feedback.

@MFunction96

Please see the above comments to learn about the details.

[2020-12-07 07:35] #14703 closed

[2020-12-07 08:06] JackBoosY commented on #14902
Even cannot repro on Visual Studio 2019:
[code]

[2020-12-07 08:11] PhoebeHui commented on #14919
@smoked-herring, it might relate to the powershell revision, could you check the powershell version?

[code]

[2020-12-07 08:50] JackBoosY commented on #7373
@crusader-mike Can you provide a sample project and the full configure log?
I can't repro it on my machine.

[2020-12-07 08:55] smoked-herring commented on #14919
Sure,

[code]

[2020-12-07 09:04] dweckmann opened #14978 "[VTK]: Using find_package(VTK....) in a outside project leads to CMake Error"
**Describe the bug**
We have a big project that use VTK, and specifically `vtkIOImport` component. By doing:

[code]

CMake returns:

[code]

Which seems perfectly normal since the `find_package()` is done outside VTK source or VCPKG tree.

**Environment**
- OS: Winwdows 10 x64
- Compiler: Microsoft (R) C/C++ Optimizing Compiler Version 19.28.29334 for x64
- Triplet: x64-windows
- CMake: cmake ver

[2020-12-07 09:10] JackBoosY commented on #14864
In _SOURCE/po-config/Makefile.in.in_ line 298 and _SOURCE/po/Makefile.in.in_ line 297:
[code]

I think that's why this empty folder was installed.

[2020-12-07 09:17] JackBoosY commented on #14740
Related: #9068.

[2020-12-07 09:26] Neumann-A commented on #14864
the folder is not empty for me but contains the zh_CN translation

[2020-12-07 09:28] Neumann-A commented on #14864
`installing ./zh_CN.gmo as /cygdrive/E/vcpkg_folders/fontconfig/packages/fontconfig_x64-windows/E/vcpkg_folders/fontconfig/installed/x64-windows/share/fontconfig/locale/zh_CN/LC_MESSAGES/fontconfig-conf.mo`

[2020-12-07 09:42] JackBoosY commented on #14864
@Neumann-A  The directory is also not empty on my machine.
@jacobkahn Can you find `fontconfig-conf.mo` in _VCPKG_ROOT/buildtrees/fontconfig/x64-linux-dbg_ ?

[2020-12-07 09:47] owt5008137 opened #14979 "[libcopp] update to 1.3.3"
Library name: libcopp

New version number: 1.3.3

Other information that may be useful (release notes, etc...)
More details can be found on https://github.com/owt5008137/libcopp/releases/tag/1.3.3 .

[2020-12-07 09:52] NancyLi1013 commented on #14949
Hi @mohdsuperb

Thanks for posting this issue.

Please also refer to this https://developercommunity.visualstudio.com/content/problem/518592/2019-fatal-error-c1083-cannot-open-include-file-at.html.

[2020-12-07 09:57] PhoebeHui commented on #14919
The version too old, so the dispose method not found, could you upgraded it and try again?

[2020-12-07 10:28] playgithub commented on #14973
@JackBoosY
In "vcpkg-root\installed\x64-windows\bin", the file names are like this:
`boost_chrono-vc142-mt-x64-1_74.dll`
Is it linked statically with C runtime library?
But I have used the default settings, except setting `VCPKG_DEFAULT_TRIPLET=x64-windows` as an environment variable.

[2020-12-07 10:50] #14973 closed

[2020-12-07 11:11] playgithub opened #14982 "Any way to find out build params?"
Because on Windows different C++ standards are not always compatible.
e.g.
When I'm using `wxWidgets` and `poppler` together in an app using C++17 in Visual Studio 2019.
The code is very simple
[code]

`poppler` causes link error, after check the `CMakeLists.txt`, It is not hard to know it uses C++14. After patching it to use C++17, the link error is gone.
But the app leaks when using `wxWidgets`

[2020-12-07 11:18] playgithub opened #14983 "On Windows how to solve the problem that different C++ standards are not always compatible?"

[2020-12-07 11:45] smoked-herring commented on #14919
After updating PowerShell to 5.1 the issue is gone! What about putting this requirement into the bootstrap script? Like it does with language packs. If the English language pack is not installed, the bootstrap script fails.

[2020-12-07 11:48] lerppana commented on #14015
Having Irrlicht importer is optional feature for assimp (which does not work in macOS). I do not know if it should be forced by vcpkg like this.

[2020-12-07 12:19] FSund opened #14984 "[pcl] build failure 'size': identifier not found - is fixed in newer PCL version"
**Host Environment**
- OS: Windows
- Compiler: Microsoft (R) C/C++ Optimizing Compiler Version 19.28.29334 for x64
- vcpkg version: 2020.11.12-nohash

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install pcl`

**Failure logs**
[code]

**Additional context**
Line 290 in `real_sense_2_grabber.cpp` is
[code]

In the [latest](https://github.com/PointCloudLibrary/pcl/blob/master/io/src/re

[2020-12-07 12:54] proTerm commented on #3409
ping

[2020-12-07 12:54] mirostauder opened #14985 "[libarchive] update to 3.5.0"
Library name: libarchive

New version number: 3.5.0

https://github.com/libarchive/libarchive/releases/tag/v3.5.0

[2020-12-07 13:05] dweckmann commented on #14984
Yep, already proposed as a PR -> https://github.com/microsoft/vcpkg/pull/14960

[2020-12-07 13:38] proTerm commented on #3865
You should reopen this issue. The static build is not completed yet.

[2020-12-07 13:42] #14984 closed

[2020-12-07 13:42] FSund commented on #14984
Oh, thanks!

[2020-12-07 13:56] nil-is-lin commented on #14978
then cmake, it throw
1> CMake generation started for default configuration: 'x64-Debug (default)'.
1> Found and using vcpkg toolchain file (E:/vcpkg/scripts/buildsystems/vcpkg.cmake).
1> Command line: "cmd.exe" /c "%SYSTEMROOT%\System32\chcp.com 65001 >NUL && "C:\PROGRAM FILES (X86)\MICROSOFT VISUAL STUDIO\2019\COMMUNITY\COMMON7\IDE\COMMONEXTENSIONS\MICROSOFT\CMAKE\CMake\bin\cmake.exe"  -G "Ninja"

[2020-12-07 14:20] sadtab commented on #14924
@BillyONeal : Thanks for the clarification. is there any way to specify another compiler for vcpkg ? I've TDM-GCC installed ?

[2020-12-07 14:21] bradking commented on #14705
The problem is discussed in [CMake Issue 21532](https://gitlab.kitware.com/cmake/cmake/-/issues/21532).  With MSVC-ABI tools, CMake used to use `link /lib ...` to create static libraries.  Now it uses just `lib` ... because the old option was undocumented.  This means `CMAKE_AR` is now needed where as previously `CMAKE_LINKER` was enough.  For toolchain files that relied on explicitly setting the

[2020-12-07 14:35] jacobkahn commented on #14864
@JackBoosY `fontconfig-conf.mo` isn't present — https://colab.research.google.com/drive/16t70NhnnnxQhA3Nn5-6djFqGmkQatO7j?usp=sharing.

Also, @JackBoosY @Neumann-A — is this other issue with an outdated version of gettext [that you mentioned here](https://github.com/microsoft/vcpkg/issues/14864#issuecomment-736317218) also going to be looked at? I actually am running into that issue as well in a d

[2020-12-07 15:10] Fenrirthviti commented on #14902
Grab my branch here: <https://github.com/Fenrirthviti/Cockatrice/tree/vcpkg-updates>

Qt is required, any 5.x version (currently 5.12.9 is preferred), then just run:

[code]

[2020-12-07 15:38] monchin commented on #13376
it seems that there was some error when I installed the VS2019. I reinstalled it and everything went well.

[2020-12-07 16:08] BillyONeal commented on #14924
Sure, you can supply a triplet that fills out all the values cmake would normally enumerate in that detection (like `CMAKE_CXX_COMPILER`) and it should skip that detection step.

[2020-12-07 16:13] dweckmann commented on #14879
Well, in fact the log doesn't print the right error, when compiling by hand invoking make, the build fail on:

[code]

Although the `-L/home/dweckmann/Work/vcpkg/installed/x64-linux/debug/lib' is really there, ld doesn't find this 3 libs. By adding the full path to them (and their dependencies..) it obviously works, but -L should be enough...

If someone have a clue...

[2020-12-07 16:14] BillyONeal commented on #14964
@pythonhunter can you report what `git rev-parse HEAD` says for you?

[2020-12-07 16:19] BillyONeal commented on #14956
[code]

hmmmm; @mcgoo can you report the results of `git rev-parse HEAD`?

[2020-12-07 16:21] BillyONeal commented on #14956
(In my output above I was at c303dd024e2dc03a0665ddffbb12a1077933e649 )

[2020-12-07 16:27] #14957 closed

[2020-12-07 16:28] Neumann-A commented on #14879
you could try adding the missing libraries to the `QMAKE_LIBS_PRIVATE` variable like bzip2 and libpng in the portfile

[2020-12-07 16:28] #14802 closed

[2020-12-07 16:28] #14979 closed

[2020-12-07 16:31] BillyONeal commented on #14983
The MSVC++ compiler lets different C++ standard modes be link compatible. Can you be more specific about the problem you're trying to solve?

[2020-12-07 16:48] BillyONeal commented on #12114
I see, I didn't realize there was some postprocessing step done by the store to strip those out.

Can we assume that for a given DLL `x.dll` the PDB will be named `x.pdb`?

[2020-12-07 16:51] mcgoo commented on #14956
It was in de70813cf3. I just checked 066c6fd7 which is this instant's master. Tested on macOS, still fails.

The only difference was that I ran the installs in two steps.  I `rm`'d the  tree because in the past I had only been running `git clean -fdx`, but it makes no difference.
[code]

[2020-12-07 16:59] sylveon commented on #12114
Yes

[2020-12-07 17:14] dweckmann commented on #14879
Good idea, it get a little bit further (build is successful), unfortunately, the use of tool like `rcc` or `qvkgen` fails miserably:

[code]

Of course setting LD_LIBRARY_PATH will work, but I doubt it should be done that way.

Anyway, thanks for your help, I will dig up a bit later. I'm really surprised that I'm one of the few who build Qt with dynamic linking on Linux. Building Qt in static basi

[2020-12-07 17:17] dweckmann commented on #14879
For your information, this is what I did:

[code]

[2020-12-07 17:39] vicroms commented on #14983
Probably related to #14965

[2020-12-07 17:47] Neumann-A commented on #14879
maybe use the rpath option and hope qt encodes rpath with relative instead of absolute paths?

[2020-12-07 17:51] Neumann-A commented on #14978
change
[code]
to
[code]
(and fix the git diff header)

I found that using an imported interface target instead of an alias is more robust and less problematic in general.

[2020-12-07 18:03] mcgoo commented on #14956
Looks like it's been around for a while. (I never hit it on my own machine, only on a CI build stepping through lots of configurations.)

[code]

[2020-12-07 18:21] BillyONeal commented on #14956
Right, it would make sense that the binary caching change would have broken it since that added cross-triplet actions to consider as part of binary caching, but it doesn't repro for me at all :(

[2020-12-07 18:27] mcgoo commented on #14956
Weird. To confirm, --no-binarycaching does fix it for me.

[2020-12-07 18:40] faserg1 commented on #9564
More problematic with glibmm. There is no suffix by default so I'll add suffix as like ATK or glib.

[2020-12-07 19:11] dweckmann commented on #14879
no unfortunately, it doesn't work...

[2020-12-07 19:34] rlam1 opened #14987 "[New Port Request] mathfu"
Library name: MathFu

Library description: MathFu is a C++ math library developed primarily for games focused on simplicity and efficiency.

Source repository URL: https://github.com/google/mathfu

Project homepage (if different from the source repository): https://google.github.io/mathfu/

Anything else that is useful to know when adding (such as optional features the library may have that should

[2020-12-07 19:54] StarGate-One commented on #14974
@trangtv57 cc: @JonLiu1993
- You may wish to read issue **[vcpkg_from_git] fetching explicit ref using old gits fails #14424** for background information
   - What version of git is installed?
   - Open a terminal and type `git --version`
- We have found older versions of git (at least 2.7.x and older) do not work with some modern created git repositories.
- An interim fix would be to upgrade the

[2020-12-07 20:53] NikoMix opened #14989 "posh-vcpkg is not removed from PowerShell Profile"
**Describe the bug**
Removing the vcpkg integration does not remove the posh-vcpkg reference of the PowerShell Profile, throwing an error if - as highlighted in the documentation for uninstallation - the folder of vcpkg should be removed.

**Environment**
- OS: Windows
- Compiler: <unknown>

**To Reproduce**
Steps to reproduce the behavior:
1. .\vcpkg\vcpkg integrate install
2. .\vcpkg\vcpkg integ

[2020-12-07 23:06] crusader-mike commented on #7373
@JackBoosY where can I find "full configure log"?

Sample project is trivial:

a.cpp:
[code]

CMakeLists.txt:
[code]

build line:
`cmake -DCMAKE_BUILD_TYPE=Debug -DCMAKE_TOOLCHAIN_FILE=/home/user/vcpkg/scripts/buildsystems/vcpkg.cmake . && make`

[2020-12-08 01:13] PhoebeHui commented on #13376
@monchin, glad you got the issue fixed!

@adilaadhu, please reopen this issue if it still be a problem for you.

[2020-12-08 01:13] #13376 closed

[2020-12-08 01:51] klalumiere opened #14990 "[libxml2] build failure with x64-linux-dynamic"
**Host Environment**
- OS: Ubuntu 20.04
- Compiler: clang version 10.0.0-4ubuntu1
- Triplet: [x64-linux-dynamic described in the doc](https://vcpkg.readthedocs.io/en/latest/examples/overlay-triplets-linux-dynamic/), i.e.

[code]

**To Reproduce**
`./vcpkg install libxml2:x64-linux-dynamic --overlay-triplets [PATH_TO_x64-linux-dynamic]`

**Failure logs**
[code]

**Additional context**
I've coded a

[2020-12-08 02:17] #13103 closed

[2020-12-08 02:17] #13166 closed

[2020-12-08 02:36] JackBoosY commented on #14978
Duplicated to #9947.

[2020-12-08 02:40] JackBoosY commented on #14705
Will this issue be solved by cmake or should it be solved by vcpkg?

[2020-12-08 02:42] JackBoosY commented on #14864
@jacobkahn Same problems should be record in one issue : )

[2020-12-08 02:53] JackBoosY commented on #7373
@crusader-mike Maybe you should clean the cmake cache?
[code]

[code]

[2020-12-08 02:54] JackBoosY commented on #14989
cc @BillyONeal

[2020-12-08 03:04] crusader-mike commented on #7373
@JackBoosY nope, `test_curl` directory (where I run `cmake <blah> .`) contains only two files (`CMakeLists.txt` and `a.cpp`). Unless under "clean the cmake cache" you mean something I don't understand.

[2020-12-08 03:43] tlikhomanenko commented on #14864
I have got the same error as @jacobkahn pointed. Repro steps for me in the docker image:

[code]

[2020-12-08 05:21] sandro-qiang opened #14993 "[libx264] build failure on linux"
**Host Environment**
- OS: Alpine Linux
- Compiler: gcc 9.3.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install ffmpeg[avresample,bzip2,core,avcodec,avdevice,avformat,avfilter,postproc,swresample,swscale,openssl,mp3lame,x264]`

**Additional context**
It's a minor error in ports/x264/portfile.cmake

line17

 `set(ENV{PATH} "$ENV{PATH};${NASM_EXE_PATH}")`

should be

[code]
and ano

[2020-12-08 05:45] JackBoosY commented on #7373
@crusader-mike Please delete all files or folders except that 2 files and try again.

[2020-12-08 05:49] JackBoosY commented on #14864
I don't know if this data file is important, if it's not, I can give you a patch to fix it.

[2020-12-08 06:08] Haojia521 opened #14994 "[osg] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: vs2019 16.8.2

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install osg[plugins,tools]`

**Failure logs**
[code]

**logs in file config-x64-windows-out.log**
[code]

**Additional context**
Add any other context about the problem here, such as what you have already tried to resolve the issue.

[2020-12-08 06:23] tlikhomanenko commented on #14864
@JackBoosY I can try your patch to build it and then downstream packages I need and test if everything works if this will be helpful for you (at least unblock me on my own stuff).

[2020-12-08 06:23] Banyc opened #14995 "Provide pre-built binaries through GitHub action"
****

**Is your feature request related to a problem? Please describe.**

There are no pre-built binaries available.

It is too expensive to build vcpkg in some machines. It includes massive time consumption:

- on cloning the whole repository,
- on the building process,
- and on possible trouble-shootings.

If the prebuilt releases are available, it has advantages of:

- reducing the costs listed

[2020-12-08 06:36] PhoebeHui commented on #14956
I think the binary cache cause this issue, @BillyONeal, here is repro steps:

[code]

[code]

[2020-12-08 06:40] PhoebeHui commented on #14956
If I run ./vcpkg install bzip2 bzip2:test-triplet, it will not repro this issue, it seems the binary cache not used in this way.

[code]

[2020-12-08 06:46] smoked-herring commented on #14919
This particular issue is solved.

[2020-12-08 06:46] #14919 closed

[2020-12-08 07:05] JackBoosY commented on #14995
Work in progress.

[2020-12-08 07:19] owt5008137 opened #14996 "[libcopp] update to 1.3.4"
Library name: libcopp

New version number: 1.3.4

Other information that may be useful (release notes, etc...)
More details can be found on https://github.com/owt5008137/libcopp/releases/tag/1.3.4 and https://github.com/owt5008137/libcopp/releases/tag/1.3.3 .

[2020-12-08 08:09] JackBoosY commented on #14864
@tlikhomanenko  Please unzip [this file](https://github.com/microsoft/vcpkg/files/5657712/fontconfig.zip) to _VCPKG_ROOT/ports/fontconfig_ and try again.

[2020-12-08 08:26] fawdlstty opened #14998 "[freetype[bzip2,png]] build failure on x86-windows-static"
**Host Environment**
- OS: Win7sp1 x64
- Compiler: vs2017 community

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install freetype[bzip2,png]:x86-windows-static`

**Failure logs**
[code]

**Additional context**
none

[2020-12-08 08:27] JackBoosY commented on #14902
Currently blocked on the qt5 build:
[code]

Needs Neumann-A's PR merge first.

[2020-12-08 08:33] JackBoosY commented on #14902
I noticed that you may use the binary cache, could you remove the file which printed on the install command?
Like `Stored binary cache: C:\Users\usr\AppData\Local\vcpkg\archives\47\476d5dec5e744c15484259ffba1481106d2dfb86.zip`.

[2020-12-08 08:47] dweckmann commented on #14879
After a good sleeping night, I though again about this problem. And I guess the most efficient way to solve this is to provide a correct LD_LIBRARY_PATH. I don't like too much this kind of fix, because it is dangerous and tend to brake pure system tools.
Anyway, something like the commented
`set(ENV{LD_LIBRARY_PATH} "${_VCPKG_INSTALLED}${PATH_SUFFIX_${BUILDTYPE}}/lib/${VCPKG_HOST_PATH_SEPARATOR}${

[2020-12-08 08:48] JackBoosY commented on #14726
Did you use vcpkg toolchain?
Step:
1. `./vcpkg integrate install`
2. `-DCMAKE_TOOLCHAIN_FILE=PATH_TO_VCPKG_TOOL_CHAIN`
3. `-DVCPKG_TARGET_TRIPLET=x64-windows-static`

[2020-12-08 09:03] JackBoosY commented on #14468
After the official [discussion](https://gitlab.gnome.org/GNOME/libxml2/-/issues/207) with libxml2, I think this is by design and libxml2 does not need to be linked to these dependencies.
And it actually passed the test.

[2020-12-08 09:03] #14468 closed

[2020-12-08 09:14] JackBoosY commented on #14830
@smalltree Are you using Windows 7 too?

[2020-12-08 09:50] sandro-qiang opened #15000 "[libx265] build failure on linux"
**Host Environment**
- OS: Alpine Linux
- Compiler: gcc 9.3.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install ffmpeg[avresample,bzip2,core,avcodec,avdevice,avformat,avfilter,postproc,swresample,swscale,openssl,mp3lame,x264,x265]`

**Failure logs**
-- Using cached /vcpkg/downloads/videolan-x265-07295ba7ab551bb9c1580fdaee3200f1b45711b7.tar.gz
-- Cleaning sources at /vcpkg/buildtr

[2020-12-08 09:56] JackBoosY commented on #3409
@proTerm Since the official does not provide a method to build static in windows, and function `dllmain` does exist in these two libraries, can you accept that tools cannot be built in static?

Note to me: glib and gobject should be installed to the `manual-link` folder.

[2020-12-08 09:57] JackBoosY commented on #14753
@RT222  Fine, I will handle this.

[2020-12-08 10:05] NancyLi1013 commented on #14993
Hi @sandro-qiang

Thanks for posting this issue.

The issue for `mp3lame` seems a bug, we need to fix this.

For `x264`, I noticed there were no any differences between Windows and Unix.

Also could you please help confirm if there are any problem when building `ffmpeg[avresample,bzip2,core,avcodec,avdevice,avformat,avfilter,postproc,swresample,swscale,openssl,mp3lame,x264]`?

[2020-12-08 10:52] Fclem opened #15003 "Assembling new package : failing sanity check while the binary paragraphs seem identicals."
**Describe the bug**
vcpkg cannot assemble a new package due to "[sanity check]" failing after successful building, and successful post-build-validation with the following message :
`[sanity check] The serialized binary paragraph was different from the original binary paragraph.`
while both paragraphs seem strictly identical (as seen in the logs bellow)

**Environment**
- OS: Windows
- Compiler /

[2020-12-08 11:19] romezxy opened #15004 "coin:arm64-linux failed."
Package: coin:arm64-linux
Vcpkg version: 2020.11.12-unknownhash

CMake Error at scripts/cmake/vcpkg_fail_port_install.cmake:97 (message):
Architecture 'arm' not supported by coin!                                                                               Architecture 'arm64' not supported by coin!                                                                           Call Stack (most recent

[2020-12-08 11:32] sandro-qiang commented on #14993
On alpine linux, `;` in `$PATH` seems making whole `$PATH` empty, cmake report bash not found.

[2020-12-08 11:56] playgithub commented on #14983
C++17 appliation can't link  lib `poppler` that is build with C++14.
After build `poppler` with C++17, it works.

#14982

[2020-12-08 11:59] #15003 closed

[2020-12-08 12:01] Fclem commented on #15003
`Updating 896498fdb..dd4421808` might have solved the issue.

[2020-12-08 12:27] dweckmann commented on #14879
🎉 I've finally manage to build Qt5 with dynamic linking, thanks to your help @Neumann-A ! I will propose a PR, if you want to take a look into it ;)

[2020-12-08 13:07] bradking commented on #14705
It should be solved by vcpkg.  CMake correctly searches for `CMAKE_AR` when needed, but if the tool is named `llvm-lib-9` instead of `llvm-lib` then it won't be found.  This should have been true for `CMAKE_LINKER` as well, so something must already be setting that to `lld-link-9`.  Wherever that is done should also set `CMAKE_AR` to `llvm-lib-9`.

[2020-12-08 13:13] dweckmann opened #15006 "Make Linux dynamic linkage a first class citizen"
****

**Is your feature request related to a problem? Please describe.**
Currently, and on the contrary to Windows platform, the official triplet on Linux is the one with static linkage. There are many problems with that:
1. The CI only test static linkage, which means the quality is not always paired with static build.
2. Static linking make linking big libraries like Qt very slow. Really, when d

[2020-12-08 13:14] IkerGimenez opened #15007 "Unable to install vcpkg; binarycaching.cpp compilation errors"
**Describe the bug**
I cloned the vcpkg github repo into E:\vcpkg and ran the bootstrap bat script. The script output some build errors.

**Environment**
- OS: Windows 10 64 bit
- Compiler: VS2019 16.8.2, VS2017 15.9.29, VS2015 14.0.25431.01

**To Reproduce**
Steps to reproduce the behavior:
1. git copy https://www.github.com/microsoft/vcpkg .\vcpkg
2. cd vcpkg
3. .\bootstrap-vcpkg.bat
4. See erro

[2020-12-08 13:25] Nemirtingas commented on #14705
I don't quite understand, the issue was CMAKE_AR not being defined, so I've defined it in the cross-compiler toolchain file: https://github.com/Nemirtingas/clang-msvc-sdk/commit/caa217f357e29efdab25cb64e7b76f299ff0b80a

That was the issue right ? Neither CMake or vcpkg is currently broken ?

[2020-12-08 13:35] bradking commented on #14705
If vcpkg is using `clang-msvc-sdk`, then the fix to the latter should resolve this.

[2020-12-08 14:01] #15007 closed

[2020-12-08 14:03] IkerGimenez commented on #15007
I just realized I enabled unity build support through environment variables and that it generated a unity build which vcpkg probably isn't even written to support. I guess it's good for y'all to know unity builds won
t work with the code as is? Sorry about the false alarm.

[2020-12-08 15:25] Fenrirthviti commented on #14902
I have been clearing those caches from appdata with every run.

I can also replicate this in a Windows Sandbox environment from scratch on first run. I am happy to record a video showing my exact steps that I am following if this might be useful. They are currently:

- Install VS2019 Community
- Install Git
- Install Qt from qi.io (not using vcpkg version of Qt as it generally takes 2-3 times long

[2020-12-08 15:37] Gigas002 opened #15008 "[New Port Request] <Simd>"
Library name: Simd

Library description: The Simd Library is a free open source image processing and machine learning library, designed for C and C++ programmers. It provides many useful high performance algorithms for image processing such as: pixel format conversion, image scaling and filtration, extraction of statistic information from images, motion detection, object detection (HAAR and LBP cl

[2020-12-08 16:15] jacobkahn commented on #14864
@JackBoosY — assuming the data file isn't important for most use cases, is it reasonable to expect a fix to the port soon, or should I remove the port from my dependency tree? This is affecting downstream users of my project's port who are reporting this failure.

[2020-12-08 17:05] crusader-mike commented on #7373
@JackBoosY I was doing it all this time. No effect

[2020-12-08 17:42] BillyONeal commented on #14982
These seem to be questions you would need to bring up with the developers of poppler or wxwidgets, not with vcpkg. We only package the library in question, we are not the clearinghouse for all potential upstream bugs.

[2020-12-08 17:44] BillyONeal commented on #14983
I see; in that case, generally speaking, you can't. You are locked into using the same C++ version as that library because they have dependence on the C++ version. As I understand it vcpkg generally tries to target C++17, so if there is a port producing bits that don't work when used with `/std:c++17` that's a bug in the port.

[2020-12-08 17:57] #14821 closed

[2020-12-08 17:58] #14944 closed

[2020-12-08 17:59] #14996 closed

[2020-12-08 18:11] BillyONeal commented on #14989
`vcpkg integrate remove` only undoes `vcpkg integrate install` -- it has no effect on other integrations. It looks like `integrate powershell` adds a line to `$PROFILE`, an implicit powershell variable. You can remove the powershell integration by deleting the `Import-Module` statement that does that from that script.

I think, but am not certain, that a removal command is intentionally not provid

[2020-12-08 18:29] #14930 closed

[2020-12-08 18:46] #14304 closed

[2020-12-08 18:54] ompadu commented on #14955
I'd also like to support this port request

[2020-12-08 20:39] JackKenney commented on #13744
That was the issue! I didn't realize those env variables got used by `vcpkg`.
Thanks!

[2020-12-08 20:39] #13744 closed

[2020-12-08 21:14] rpavlik commented on #12359
Note that if you do "work around" it in this way, or specify something like this, it still fails:

[code]

I've tracked down that the `cmake_system_name` that's being checked is empty, even though my triplet files match the instructions.

[2020-12-08 22:06] virtualritz opened #15011 "irrlicht:blocked on macOS"
This port is blocked on macOS but this platform is supported. From [the Irrlicht website](http://irrlicht.sourceforge.net/?page_id=45):
[code]

SDL is also available on ARM so Irrlicht being blocked for that target is likely also a mistake but a separate issue.

[2020-12-08 22:10] virtualritz opened #15012 "assimp: build failure on macOS"
This port seemingly pulls all of the *optional* dependencies of `assimp` in. I was able to build `assimp` from the official repository on macOS w/o installing *any* optional dependencies.

Specifically `assimp` is broken for me on macOS because `irrlicht` (an *optional* dep.) is blocked on macOS. However, unblocking `irrlicht` doesn't make it build on macOS – there is probably something else missi

[2020-12-09 00:20] klalumiere commented on #14834
For some reasons I'm not able to reproduce the issue anymore, either on my machine or in a Docker container (I used `rikorose/gcc-cmake`). Maybe the issue will also be solved for you too if you pull `master`. :thinking:

[2020-12-09 01:00] aliabbas2810 opened #15014 "Visual Servoing Platform (VISP)"
Visual Servoing Platform  is not listed. Could you please add it.

https://github.com/lagadic/visp.git

Regards,
Ali

[2020-12-09 02:12] JackBoosY commented on #15006
Hmm... @BillyONeal what do you think about?

[2020-12-09 02:45] smalltree commented on #14830
yes，OsgEarth recommend to use vcpkg，but in practice it's not easy to use.

[2020-12-09 02:58] #14875 closed

[2020-12-09 05:07] yu-zhui opened #15016 "[ suitesparse:x64-windows ] build failure"
**Host Environment**
- OS: [e.g. Windows/Linux etc...]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install xxxx`

**Failure logs**
-Cut and past the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

**Additional context**
Add any other context about the problem here, such as what you

[2020-12-09 05:24] Rdna123 opened #15017 "[Crashpad] for x86 build failure"
**Host Environment**
- OS: [Windows 10]
- Compiler: x86

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install crashpad`

**Failure logs**
Error: Building package crashpad:x86-windows failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `.\vcpkg update`, then
submit an issue at https://github.com/Microsoft/vcpkg/issues including:
  Package: crashpad:x86-windo

[2020-12-09 05:34] atkawa7 commented on #12359
@ras0219 @ras0219-msft I don't have time to look into this but based on my previous conversation with @strega-nil. She advised I do not pre-define  triplets since users might define their own custom ones hence ended up loading available triplets.

Since an environment variable is missing for `emscripten` I am confused why vcpkg marks it as available. Shouldn't there be a check that marks this trip

[2020-12-09 06:04] JackBoosY commented on #7373
@crusader-mike Such as I [provided log](https://github.com/microsoft/vcpkg/issues/7373#issuecomment-740329067) .
Here is my sample code:
CMakeLists.txt:
[code]

test.cpp:
[code]

[2020-12-09 06:05] JackBoosY commented on #14864
@jacobkahn Since the root cause has not been found, I am not sure if this is the best solution.

[2020-12-09 06:09] JackBoosY commented on #14902
cc @BillyONeal can you please take a look?

I'm using the Visual Studio 2019 cmake project. Here is the sample:
CMakeLists.txt:
[code]

CMakeSettings.json:
[code]
CMakeProject2.cpp:
[code]
CMakeProject2.h:
[code]

[2020-12-09 06:30] JonLiu1993 commented on #15016
@yu-zhui ,Thanks for posting this issue,I wasn't able to reproduce this issue.
Please provide the failure logs for vcpkg install suitesparse:x64-windows.

[2020-12-09 06:36] PhoebeHui commented on #14667
@vadi2, does this still be a problem for you?