[2021-08-10 06:25] Baklap4 commented on #19463
Yea this seemed an issue on my side. I wasn't linking to `SDL2d.lib` but to `SDL2.lib`

[2021-08-10 06:25] #19463 closed

[2021-08-10 06:32] Cheney-W commented on #8363
This issue has been fixed in the latest vcpkg(2021-08-03-1a6d67b8150e94b7f473c6ab1c0cfd), so close it.

[2021-08-10 06:32] #8363 closed

[2021-08-10 06:36] Cheney-W commented on #8268
This issue still occurs in the latest vcpkg(2021-08-03-1a6d67b8150e94b7f473c6ab1c0cfd).

[2021-08-10 06:50] Cheney-W commented on #7792
This issue still occurs in the latest vcpkg(2021-08-03-1a6d67b8150e94b7f473c6ab1c0cfd) when useing the long path.

[2021-08-10 07:04] NancyLi1013 commented on #15523
Hi @danielebosetti

This issue should be fixed now. I cannot reproduce this with the vcpkg.json file
 from @JackBoosY here https://github.com/microsoft/vcpkg/issues/15523#issuecomment-757648777.

 Please try to update to the latest vcpkg `2021-08-03-1a6d67b8150e94b7f473c6ab1c0cfdd794316a64` via `git pull` ,
 then rerun .`\bootstrap-vcpkg.bat` and rebuild this.

[2021-08-10 07:04] #15523 closed

[2021-08-10 07:18] dg0yt commented on #9109
Oh, I should record this issue number, given the many duplicate issues.
The cygwin cmake needs to be recognized. IIRC one indicator is the list of generators. @Cheney-W can you share the output of `cmake -G` for cygwin's cmake?

[2021-08-10 07:24] Cheney-W commented on #9109
C:\cygwin64\bin>cmake.exe -G
CMake Error: No generator specified for -G
[code]

[2021-08-10 07:26] dg0yt commented on #18537
TBH neither looks like a proper cmake configuration. There should be a single target, not transitive usage requirements.

But port arrow doesn't come with a usage file, so the output is auto-detected by vcpkg. This doesn't work reliably. In particular, it is unable to detect the right spelling (arrow vs. Arrow). I would recommend to look at upstream's documentation for cmake usage, verify with vcp

[2021-08-10 07:31] dg0yt commented on #9109
Thanks! This confirms that **there are no Windows generators** (not even MinGW). IIRC this identical with the cmake in the msys subsystem of MSYS2. I will verify this later, on a Windows machine.

[2021-08-10 07:58] srgbtl commented on #19467
A workaround is to configure git credential helper before running vcpkg.
`git config --global credential.helper '!f() { echo username=${GIT_USER}; echo password=${GIT_TOKEN}; }; f'`

[2021-08-10 07:59] #19388 closed

[2021-08-10 08:11] #19255 closed

[2021-08-10 08:36] PhoebeHui commented on #19467
@srgbtl, see https://github.com/microsoft/vcpkg/discussions/17720 and https://github.com/microsoft/vcpkg/discussions/17272.

[2021-08-10 08:40] chuyanjuncn opened #19475 "[osgEarth] update to <3.2>"
Library name: osgEarth

New version number: 3.2

Other information that may be useful (release notes, etc...)
http://osgearth.org/
https://github.com/gwaldron/osgearth/tarball/osgearth-3.2
https://github.com/gwaldron/osgearth
https://github.com/gwaldron/osgearth/archive/refs/tags/osgearth-3.2.zip
https://github.com/gwaldron/osgearth/archive/refs/tags/osgearth-3.2.tar.gz

[2021-08-10 09:15] srgbtl commented on #19467
The solution with using `git credential approve` (#17272) works for me.

[2021-08-10 09:15] #19467 closed

[2021-08-10 09:26] Cheney-W commented on #7467
I also can't reproduce this issue in the latest vcpkg(2021-08-03-1a6d67b8150e94b7f473c6ab1c0cfd).
Meanwhile, instead of modifying the vcxproj file, you can now set the use of static in Project->Properties->vcpkg in the ide interface:
![image](https://user-images.githubusercontent.com/38240633/128842912-7ebc4ae3-ee4e-4a6b-9828-66715002271f.png)

[2021-08-10 09:47] NancyLi1013 commented on #19473
This issue also exists on x64-windows-static-md. I will fix this soon.

[2021-08-10 10:16] jdx-john opened #19476 "[GRPC] Strange triplet behaviour"
I use a custom triplet based on x86/x64-windows-static-md triplet:

[code]

I have binary caching finally working but noticed GRPC was not using cached binaries, but rebuilding from source:

Apart from rebuilding, my custom triplet also chooses to only build release which is now being ignored and causing the build to take a lot longer as it builds debug too. I am not really sure why it is trying t

[2021-08-10 10:33] dg0yt commented on #19476
`grpc` itself has a host dependency on `grpc[codegen]`. So unless the target triplet matches the host triplet, you will see another build.
This can be seen grpc's `vcpkg.json`.

[2021-08-10 10:41] jdx-john commented on #19476
I'm not quite I understand how a package can have a dependency on its own feature but I will take your word for that!

If I explicitly install grpc[codegen] with my custom triplet, will it still want to build x64-windows as a host triplet?

And are host triplets excluded from binary caching? It builds grpc[codegen]:x64-windows (release and debug) as it cannot find a cached version, then when it ge

[2021-08-10 11:09] xbotuk opened #19479 "libgnutls build failure"
**Host Environment**
- Windows 10.21H1
- Compiler: Visual Studio 2019 latest update 16.10.4 (latest, at the time of build)

**To Reproduce**
Steps to reproduce the behavior:
vcpkg install libgnutls

**Failure logs**
E:\LIBS\vcpkg>vcpkg install libgnutls
Computing installation plan...
The following packages will be built and installed:
    libgnutls[core]:x64-windows -> 3.6.15#2
Detecting compiler

[2021-08-10 11:12] xbotuk commented on #19479
==== config-x64-windows-dbg-out.log ====

checking build system type... x86_64-pc-msys
checking host system type... x86_64-pc-msys
checking for a BSD-compatible install... /usr/bin/install -c
checking whether build environment is sane... yes
checking for a thread-safe mkdir -p... /usr/bin/mkdir -p
checking for gawk... gawk
checking whether make sets $(MAKE)... yes
checking whether make supports ne

[2021-08-10 11:12] xbotuk commented on #19479
==== config-x64-windows-dbg-err.log ====

configure: WARNING: Compiler does not support C99. It may not be able to compile the project.
configure: error:
  ***
  *** Libhogweed (nettle's companion library) 3.4.1 was not found. Note that you must compile nettle with gmp support.

[2021-08-10 11:50] dg0yt commented on #19476
IIRC these changes to grpc were done only recently, and before that there was a lot stuff broken in one way or another. It should be easy to find the issues, pull requests, or check `git log -- ports/grpc`.

vcpkg tries to separate stuff which runs on the target from stuff which runs on the build machine (host). In the case of grpc, it is only the codegen feature which must run on the host. If you

[2021-08-10 11:59] dg0yt commented on #19479
Did you do a git pull before reporting? Just in case it is the mingw make issue fixed a commits ago.

[2021-08-10 12:34] jdx-john commented on #19476
Thanks @dg0yt that's interesting. I have previously tried to avoid doing anything with host triplets for fear of messing things up.

However, it doesn't sounds like this should stop binary-cache working? Once I got things set up it did work very smoothly, _except_ grpc. It didn't find a cache for either the host triplet _or_ my custom triplet and I wondered if one was a knock-on effect of the othe

[2021-08-10 12:48] dg0yt commented on #19476
The "triplet_abi" is just one item in the abi info.
For the actual info cf.
`buildtrees/<PORT>/<TRIPLET>.vcpkg_abi_info.txt`
For reference, cf.
https://github.com/microsoft/vcpkg/blob/master/docs/users/binarycaching.md#implementation-notes-internal-details-subject-to-change-without-notice

[2021-08-10 12:58] mehranmehr opened #19481 "missing static libraries in tbb"
**Describe the bug**
When I install tbb (normally or using a manifest) everything seems to be good, but the static libraries, i.e. libtbb.a libtbb_debug.a libtbbmalloc.a libtbbmalloc_debug.a are all missing.  Hence the `find_package(TBB CONFIG REQUIRED)` command in my CMakeLists.txt gives me the `Missed required Intel TBB component: tbb` error.

**Environment**
- OS: MacOS version 10.15.7
- Compil

[2021-08-10 13:17] jdx-john commented on #19476
I looked at the full abi file and I could see one change only, in the has for "abseil" (presumably a dependency).   I think this was the very first thing built when I was trying to get caching working so it may be I somehow have a 'stale' copy before I fixed issues.

Oh for a rebuild option or the ability for vckg to notice when things change. It does all these hashes for cache use but if you chan

[2021-08-10 17:26] lukaszstolarczuk opened #19483 "[libpmemobj-cpp] update to 1.13.0"
Library name: libpmemobj-cpp

New version number: 1.13.0
https://github.com/pmem/libpmemobj-cpp/releases/tag/1.13.0

**note:** we use full semver convention now (`1.12` -> `1.13.0`)

[2021-08-10 18:17] xbotuk opened #19484 "[New Port Request] simdutf"
Library name: simdutf

Library description: Extremely fast character transcoding using CPU's SIMD instructions

Source repository URL: https://github.com/simdutf/simdutf

[2021-08-10 18:21] jdx-john commented on #19476
One other question, is there any benefit to building host triplets as both debug and release? I was amazed to find my vcpkg directory was >50Gb, is anyone realistically going to debug vcpkg while using it?

[2021-08-10 19:09] dg0yt commented on #19476
Don't ask me. I think it is a Visual Studio convenience thing. With a Linux background, it is just strange. In particular, statically linked tools eat tons of space, easily outweighting the benefit of shared `include` and data: https://github.com/microsoft/vcpkg/issues/19189#issuecomment-888838174

[2021-08-10 19:42] Baklap4 commented on #19121
Hmm plausible workaround from vcpkg side could be to use the domain without the `www` subdomain. It seems that's not included within the certificate anymore:

[code]

Doing the same call but without www -> https://tortall.net/projects/yasm/snapshots/v1.3.0.6.g1962/yasm-1.3.0.6.g1962.exe results in 200OK.
[code]

[2021-08-10 20:35] #13389 closed

[2021-08-10 20:59] bialasjaroslaw opened #19486 "How do I ensure that package will go to binary cache after build is done"
I looked into documentation/github repository SO/reddit but I am not able to find out if there is a way to force a package to go to binary cache (I am talking about simplest way of caching - local directory).

I just finished a quite long build process of the package `pcl`, but after that it is not present in the binary cache directory. I tried with other (smaller) packages and they are going ther

[2021-08-11 01:58] agokjr opened #19489 "[c-ares] build failure cross compile"
**Host Environment**
- OS: Ubuntu/Linux
- Compiler: x86_64-w64-mingw32-gcc 9.3.0
- Triplet: mingw-static

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install --triplet mingw-static c-aries`

**Failure logs**
[code]
[install-x64-mingw-static-dbg-out.log](https://github.com/microsoft/vcpkg/files/6965279/install-x64-mingw-static-dbg-out.log)

**Additional context**
- was trying to inst

[2021-08-11 02:31] JackBoosY commented on #19415
@jdx-john Maybe the two vcpkg is different.

[2021-08-11 03:05] JackBoosY commented on #7792
The `CMAKE_INSTALL_PREFIX` variable set in `vcpkg_configure_cmake` should be enclosed in double quotes.

[2021-08-11 03:12] NancyLi1013 commented on #19481
Hi @mehranmehr

Thanks for posting this issue.

Could you please remove `tbb `first and reinstall it, then post the build info?

- vcpkg remove tbb
- vcpkg install tbb --debug
- post the build info here

[2021-08-11 04:59] marekr opened #19490 "vcpkg fails to msiexec 7zip extraction under jenkins ci with failed stdout capture"
**Describe the bug**
This is two bugs, after updating to the latest vcpkg which introduced msi package for 7zip. I can no longer have CI setup vcpkg. It will fail with bad stdout capture.

It could be an environment issue I am not aware of BUT the first annoying part of this bug, it fails to capture stdout of msiexec properly.

[code]

It only captures "T" and prints it. It appears that it might b

[2021-08-11 05:28] zapcity commented on #18086
Getting the same issue:

`E:\dev\projects\build>git clone https://github.com/microsoft/vcpkg
Cloning into 'vcpkg'...
remote: Enumerating objects: 117581, done.
remote: Counting objects: 100% (99/99), done.
remote: Compressing objects: 100% (23/23), done.
remote: Total 117581 (delta 84), reused 76 (delta 76), pack-reused 117482 eceiving objects: 100% (117581/117581), 35.95 MiB | 6.29 MiB/s
Receivin

[2021-08-11 06:14] Cheney-W commented on #8199
I can't reproduce this issue with the latest vcpkg(2021-08-03-1a6d67b8150e94b7f473c6ab1c0cfd) and VS2019 16.10.4,

[2021-08-11 06:59] JackBoosY commented on #17108
The changes in my PR #19493 will provide the following usage:
[code]

[2021-08-11 07:16] Cheney-W commented on #7471
This issue still occurs in the latest vcpkg(2021-08-03-1a6d67b8150e94b7f473c6ab1c0cfd).

[2021-08-11 07:17] PhoebeHui commented on #19479
Closing in favor of https://github.com/microsoft/vcpkg/issues/18395.

[2021-08-11 07:17] #19479 closed

[2021-08-11 07:26] NancyLi1013 commented on #19368
@hYdos

Sorry for the delay.

Seems you need to link stdc++ library.

Could you please try to add the following codes to CMakeLists.txt to rebuild your project?

[code]

[2021-08-11 08:06] m-kuhn commented on #17557
[code]

[2021-08-11 08:36] wrobelda commented on #19121
I notified their webmaster as well.

[2021-08-11 08:48] jdx-john commented on #19415
I checked that. I updated both machines to have the newest VS and it was resolved but it doesn't answer the question where and how the check is done.
It's going to be really fragile if anytime someone updates their VS to a new minor version, they cannot use binary-cache... if we get a new developer join our team in a month the chances are VS is a slightly newer version. We are constrained to keep

[2021-08-11 08:51] dg0yt commented on #17108
This is auto-generated? It seems inconsistent to have `unofficial` in the `find_package()` call but not in the target names.

[2021-08-11 08:52] JackBoosY commented on #19415
I prefer @ras0219-msft to answer this part.

[2021-08-11 08:53] #19415 closed

[2021-08-11 08:55] JackBoosY commented on #17108
@dg0yt  Yes. it's auto-generated. Since the we use the origin target names, it's reasonable.

[2021-08-11 08:57] dg0yt commented on #19368
Normally, this lib is in `CMAKE_CXX_IMPLICIT_LINK_LIBRARIES`.

Run your build in verbose mode, and check how the linker is called.

[2021-08-11 08:58] srgbtl opened #19495 "Custom git registry to work with branches"
****

**Is your feature request related to a problem? Please describe.**
As a developer, I want to be sure that a new port in the custom git registry is consumable before merging to main.
1. New branch is created in custom registry repo and the new port is added
2. In repo that uses this registry I am changing baseline to point a commit in branch and build the project
3. If the project is successf

[2021-08-11 09:42] Cheney-W commented on #5995
This issue still occurs in the latest vcpkg(2021-08-03-1a6d67b8150e94b7f473c6ab1c0cfd).

[2021-08-11 09:48] JackBoosY commented on #17108
@dg0yt  That's why it's `unofficial`.

[2021-08-11 09:49] JackBoosY commented on #19490
@BillyONeal Can you please take a look?

Thanks.

[2021-08-11 09:50] JackBoosY commented on #19486
I need to take a look.

[2021-08-11 10:37] mehranmehr commented on #19481
Hi @NancyLi1013

Thanks for taking the time to check this issue.
I did the above steps and here is the output:

`[DEBUG] Feature flag 'binarycaching' unset
[DEBUG] Feature flag 'manifests' unset
[DEBUG] Feature flag 'compilertracking' unset
[DEBUG] Feature flag 'registries' unset
[DEBUG] Feature flag 'versions' unset
[DEBUG] BuiltinRegistry initialized with: ""
[DEBUG] Using vcpkg-root: /Users/meh

[2021-08-11 10:39] avre10 opened #19497 "Package: opencv4:x64-windows Vcpkg version: 2021-08-03-1a6d67b8150e94b7f473c6ab1c0cfdd794316a64"
**Host Environment**
- OS: [Windows]

**Failure logs**
CMake Error at D:/vcpkg/buildtrees/opencv4/src/4.5.2-755f235ba0.clean/cmake/OpenCVDownload.cmake:161 (message):
      Downloads are not permitted during configure. Please pre-download the file "D:/vcpkg/downloads/opencv-cache/nvidia_optical_flow/a73cd48b18dcc0cc8933b30796074191-edb50da3cf849840d680249aa6dbef248ebce2ca.zip":

      vcpkg_downlo

[2021-08-11 11:04] hYdos commented on #19368
Alright, will try when i get to my computer

[2021-08-11 11:33] draveness opened #19498 "[New Port Request] xgboost"
Library name: xgboost

Library description: Scalable, Portable and Distributed Gradient Boosting (GBDT, GBRT or GBM) Library, for Python, R, Java, Scala, C++ and more. Runs on single machine, Hadoop, Spark, Dask, Flink and DataFlow

Source repository URL: https://github.com/dmlc/xgboost

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (

[2021-08-11 12:22] nicolasfella commented on #19226
The build fails because of a missing `#include <limits>`. I fixed a similar error in https://codereview.qt-project.org/c/qt/qtbase/+/355632 but this seems to be a different one

[2021-08-11 12:39] nicolasfella commented on #19226
Qt6 is already fixed

[2021-08-11 12:49] nicolasfella opened #19499 "[fontconfig] build failure"
**Host Environment**
- OS: Linux/OpenSUSE Tumbleweed
- Compiler: gcc version 11.1.1 20210721 [revision 076930b9690ac3564638636f6b13bbb6bc608aea] (SUSE Linux)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install fontconfig`

**Failure logs**
[code]
fc-cache-x64-linux-err.log:
[code]

fc-cache-x64-linux-out.log
[code]

**Additional context**
/home/nico/.fonts exists and contains only

[2021-08-11 12:52] nicolasfella commented on #19499
rm -r /home/nico/.fonts resolved the issue

[2021-08-11 13:04] dg0yt commented on #19490
After updating my local `master` (including 0fd101a2c), I just had a 7zip installation problem, too (Windows 10). The output, **after successful build and validation**, is confusing in a different way:
[code]
Note that some message appear twice.
After this message, there is a `downloads/tools/7zip-19.00-windows.partial.6724/` folder which indicates an interruption. The SHA512 sum of the msi matche

[2021-08-11 13:06] marekr commented on #19490
Nope, no workaround on my side. We already execute bootstrap-vcpkg.bat in this full build CI job.

[code]

[2021-08-11 13:09] dg0yt commented on #19490
@marekr Do you the face the issue before the build or after the build?

[2021-08-11 13:10] marekr commented on #19490
It happens during `Computing installation plan...` when given a long list of dependencies to install

[2021-08-11 13:15] dg0yt commented on #19490
Okay, that's the step that succeed for me. Maybe it was just a lucky race...
And of course I'm using an unprivileged user, on desktop. This may be different for your CI.

[2021-08-11 13:17] dg0yt commented on #19490
In particular, the 7zip download changed from nuget to msi with 0fd101a2c.

[2021-08-11 13:19] marekr commented on #19490
I am quite aware. The issue lies in the new implementation where the msiexec is performed by vcpkg.exe itself and the changes in vcpkg-tools repo. But that repo has issues disabled so here we are.

I think somewhere the TARGET_DIR arg isn't being escaped properly, maybe? Otherwise it should even be responding with a "T" for whatever broken error output

[2021-08-11 13:48] Baklap4 commented on #19121
According to https://github.com/yasm/yasm/issues/135#issuecomment-896478692 the issue should be fixed

[2021-08-11 14:04] Baklap4 opened #19501 "[ffmpeg] x86 build relying on nasm instead of yasm"
**Is your feature request related to a problem? Please describe.**
It always bugs me when 2 tools are used for the same job. More tools come with more maintenance and should be avoided. Back in January https://github.com/microsoft/vcpkg/pull/14547/commits/06c622e07a7e5dc300a75fe5a14079f56d0f1c1c this was introduced to the ffmpeg port (https://github.com/microsoft/vcpkg/pull/14547) as there was an

[2021-08-11 14:08] julianxhokaxhiu commented on #19121
But will it be fixed forever or until it breaks again? I'd still consider working on a solution that uses at least a fallback logic, knowing the source has broken twice in the past.

[2021-08-11 14:13] Baklap4 commented on #19121
I'd assume the worst as it's bounds to happen someone forgets to update their ssl certificate.

A fallback solution would be setting up a mirror or not use yasm at all for ffmpeg x86 builds see #14547

[2021-08-11 14:39] GyrosGeier commented on #19490
One important point: the build normally runs as an unprivileged user with no desktop access. Running as Administrator from an ssh session works, so it seems the MSI is expecting Administrator privileges for some reason, but not having desktop access is fine.

[2021-08-11 15:07] GyrosGeier commented on #19490
FWIW, last run (after deleting workspace to start from a clean slate) is [here](https://jenkins.simonrichter.eu/job/windows-kicad-ps-pipeline/526/).

[2021-08-11 16:07] ByronFaber commented on #16216
I'm having this problem as well..  'did anybody make any headway?       I've got git in the path too, but it can't find it after forcing system binaries.

`
C:\git\vcpkg>where git`
`C:\Program Files\Git\cmd\git.exe
`

[2021-08-11 16:38] MrBolt2005 opened #19502 "How do I compile .so (dynamic) libraries in Linux, instead of .a (static) ones?"

[2021-08-11 17:45] srgbtl commented on #19502
See: https://github.com/microsoft/vcpkg/blob/master/docs/examples/overlay-triplets-linux-dynamic.md

[2021-08-11 19:47] xbotuk commented on #18395
Nice. Have you tried that successfully?

I don't see why vcpkg should have trouble getting this to work, but this ticket has been open for 2 months without much progress.

[2021-08-11 20:37] remz1337 opened #19506 "[boost-multiprecision] missing dependency"
**Describe the bug**
Tried to compile simple program with boost-multiprecision and compiler complains about missing boost/math/tools/complex.hpp file

**Environment**
- OS: Windows 10
- Compiler: MSVC 19

**To Reproduce**
Steps to reproduce the behavior:
1. `vcpkg install boost-multiprecision:x64-windows`
2. Add boost to CMakeLists: find_package(Boost REQUIRED); target_link_libraries(Test PRIVATE

[2021-08-11 20:38] mathisloge commented on #14753
@JackBoosY so with the answer ocornut gave:
Should I open a PR that adds new targets for each of the opengl loaders?
Or do you already working on it?

[2021-08-11 20:41] hYdos commented on #19368
Still fails sadly

Ill attach logs here
https://hastebin.com/topipeqaga.sql - Terminal output
https://hastebin.com/coquribasu.sql - CMakeError.log
https://hastebin.com/ojozixosoz.coffeescript - CMakeOutput.log

[2021-08-11 22:07] InfRandomness commented on #19388
This still doesn't appear to work, not sure why

I have the same code as before, I tried to remove both my out dir and my vcpkg dir

[2021-08-11 23:05] BillyONeal commented on #10094
Dropping "depends:vm-update" because I'm updating VMs but I don't see anything apparently fixable from this.

[2021-08-12 00:06] #18952 closed

[2021-08-12 00:18] #19473 closed

[2021-08-12 00:19] #18896 closed

[2021-08-12 00:24] #18887 closed

[2021-08-12 00:27] #15497 closed

[2021-08-12 01:48] NancyLi1013 commented on #19388
@InfRandomness

Have you installed `catch2:x64-windows-static`? And please also set `CMAKE_TOOLCHAIN_FILE `and `VCPKG_TARGET_TRIPLET` when you build your project.

Please post the error info if you still cannot build successfully.

[2021-08-12 01:59] BillyONeal commented on #19490
Can you try rerunning with `--debug`?

[2021-08-12 02:20] PhoebeHui commented on #19502
@srgbtl, thanks for your comments! @MrBolt2005, could you try above solution?

[2021-08-12 02:29] JackBoosY commented on #19226
cc @Neumann-A

[2021-08-12 02:36] JackBoosY commented on #14753
@mathisloge  Will fix later.

[2021-08-12 02:38] #14030 closed

[2021-08-12 02:45] King-Otaku commented on #19497
I hava same problem. It's not a fundamental solution, but I heard that build repeatably may work. So I tried it , but it didn't work. And I also rebuild vcpkg from first step but still it didn't work. Somebody help me!!!

[2021-08-12 02:54] WangZP10969 commented on #17662
# 18855

[2021-08-12 02:57] JackBoosY commented on #19449
According to [msdn docs](https://docs.microsoft.com/en-us/cpp/cppcx/crt-functions-not-supported-in-universal-windows-platform-apps?view=msvc-160), `_popen` and `_pclose` does not support uwp application, so it's by design.

[2021-08-12 03:00] NancyLi1013 commented on #19359
@ulfllorenz

Since #18971 has been merged, could you please try to update to the latest vcpkg to rebuild this?

[2021-08-12 04:02] avishkarzanje opened #19511 "[gRPC] update to v1.41.0"
Library name: gRPC

New version number: 1.41.0

Other information that may be useful (release notes, etc...):

[2021-08-12 05:27] zapcity opened #19512 "Error: Building package icu:x64-windows-static"
**Host Environment**
- OS: Windows 10
- Compiler: VS2019 Enterprise 16.11.0

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Failure logs**
[code]

**build-x64-windows-static-dbg-err.log**
[code]

[2021-08-12 05:37] JackBoosY commented on #19512
Duplicated to #18086.

[2021-08-12 05:37] #19512 closed

[2021-08-12 06:16] NancyLi1013 commented on #15805
After install `ixwebsocket[openssl]` successfully, I can build without any errors with the following usge.

[code]
Please feel free to reopen this issue if it is still a problem for you. Note: Please provide your project sample here.

[2021-08-12 06:16] #15805 closed

[2021-08-12 06:58] JackBoosY commented on #19499
It's a upstream bug, see https://bugs.archlinux.org/task/59889?project=1&string=fontconfig and https://bbs.archlinux.org/viewtopic.php?id=240026

[2021-08-12 07:05] Rdna123 opened #19515 "[raylib:wasm32-emscripten] build failure"
**Host Environment**
- OS: Windows
- Compiler: Latest EMSDK, Visual Studio 2019, Ninja 1.10.2.git.kitware.jobserver-1

Package: raylib:wasm32-emscripten
 Vcpkg version: 2021-08-03-1a6d67b8150e94b7f473c6ab1c0cfdd794316a64

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install raylib:wasm32-emscripten`

**Failure logs**
CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:1

[2021-08-12 07:23] PhoebeHui commented on #19506
@remz1337, thanks for reporting this issue! I have submitted a PR to fix it.

[2021-08-12 07:23] #19502 closed

[2021-08-12 07:38] Pospelove opened #19518 "How do I handle different configurations with `find_library`?"
https://github.com/microsoft/vcpkg/blob/030cfaa24de9ea1bbf0a4d9c615ce7312ba77af1/docs/examples/installing-and-using-packages.md#handling-libraries-without-native-cmake-support

`find_library` always finds debug version of the library at least on Windows. For now, I just replace `/debug/lib/` with `/lib/` in paths and use generator expressions to link libraries depending on config:

[code]

But it

[2021-08-12 07:40] ras0219-msft commented on #19490
We've observed an issue similar to this on another system internally (though the single character of output is `A` instead of `T`). Upon running with `--debug`, the error code was 1618, which is msi's code for `ERROR_INSTALL_ALREADY_RUNNING`. Essentially, `msiexec`, even when running as an unprivileged user, still needs some amount of global locking.

I've submitted and merged https://github.com/m

[2021-08-12 07:51] NancyLi1013 commented on #15333
As @traversaro said above, you need to add `<vcpkg_dir>/installed/x64-windows/include/OGRE` to C/C++ -> General -> Additional Directories explicitly in your MSbuild project.

For the link error, it is due to lack of `OgreMain.lib`.
Since `OgreMain.lib` is installed in `lib/manual-link` directory, also need to add `<vcpkg_dir>/installed/x64-windows/lib/manual-link/OgreMain.lib` as `Linker-> Input -

[2021-08-12 08:02] dg0yt commented on #19490
Is it possible that vcpkg runs `msiexec` twice, or perhaps doesn't wait properly for one installation to finish before starting another? As noted above, I did have duplicated output.

[2021-08-12 08:21] MrAviator93 opened #19519 "[gtkmm] Update to new version"
Library name: gtkmm4

Library description: gtkmm is a C++ wrapper for GTK, a library used to create graphical user interfaces. It is licensed using the LGPL license, so you can develop open software, free software, or even commercial non-free software using gtkmm without purchasing licenses

Source repository URL: https://developer-old.gnome.org/gtkmm-tutorial/4.0/chapter-installation.html.en

Pro

[2021-08-12 08:41] trojanfoe commented on #19449
Shouldn't the the lack of support for UWP be flagged at a higher level though, rather than generating a build error?

[2021-08-12 08:49] NancyLi1013 commented on #19388
Yes, you can do that with manifest.

[2021-08-12 08:54] NancyLi1013 commented on #19368
Is there something wrong with https://hastebin.com/?

I cannot see anything from this URL now.

[2021-08-12 09:22] NancyLi1013 commented on #19388
Please refer to this [doc](https://github.com/microsoft/vcpkg/blob/master/docs/specifications/manifests.md#example---cmake-integration) to get the information how to use manifest.

[2021-08-12 09:31] JackBoosY commented on #19449
@trojanfoe No, since the upstream uses some uwp-unsupported functions, we can only report error message here.
If you need to use this feature on UWP build, please report this to the upstream.

Thanks.

[2021-08-12 09:35] JackBoosY commented on #19486
If you need to ensure that binarycaching feature is enabled, please set `binarycaching` to `VCPKG_FEATURE_FLAGS`, or pass `--binarysouce=<source>` to the install command. See [documentation](https://github.com/microsoft/vcpkg/blob/master/docs/specifications/binarycaching.md#configuration).

[2021-08-12 09:55] hYdos commented on #19368
Stange. ill re-upload it with pastebin i guess

[2021-08-12 09:58] JackBoosY commented on #19449
Please keep this issue open until #19510 merge.

[2021-08-12 09:59] Cheney-W commented on #7318
This issue still occurs in latest vcpkg(2021-08-03-1a6d67b8150e94b7f473c6ab1c0cfd) with osg port.

[2021-08-12 10:25] ThinkalVB commented on #19438
vcpkg_from_github(
    OUT_SOURCE_PATH SOURCE_PATH
    REPO wjwwood/serial
    REF 1.2.1
    SHA512 41df7b5cd7237f3990f2debe8d3eb17cbe428666f9b298072abccd2bbaed4a1e82b074a416af132c94c0e2abff881513e7b4ab4feab82a6b7ae01cd01be5fa3e
    HEAD_REF master
)
{
  "name": "serial",
  "version-semver": "1.2.1",
  "description": "A cross-platform library for interfacing with rs-232 serial like ports written i

[2021-08-12 10:27] ThinkalVB commented on #19438
{
  "name": "serial",
  "version-semver": "1.2.1",
  "description": "A cross-platform library for interfacing with rs-232 serial like ports written in C++",
  "homepage": "https://github.com/wjwwood/serial"
}

$REPO
wjwwood/serial
$REF
1.2.1
$SHA512 41df7b5cd7237f3990f2debe8d3eb17cbe428666f9b298072abccd2bbaed4a1e82b074a416af132c94c0e2abff881513e7b4ab4feab82a6b7ae01cd01be5fa3e
$HEAD_REF
master

[2021-08-12 10:37] NancyLi1013 commented on #19368
From CMakeError.log,:

[code]

Seems there is no `pthreads `on your machine. Could you please try to check this?

[2021-08-12 10:45] NancyLi1013 commented on #19497
@cenit

Could you please help take a look what's wrong here? Thanks.

[2021-08-12 10:47] cenit commented on #19497
it is already fixed in #18827, but that PR is waiting for another pr to be merged.
time is passing fast and opencv will soon have another release, and here on vcpkg we are still stuck on the older one and with download errors

[2021-08-12 10:49] NancyLi1013 commented on #19481
[code]
The problem maybe here `ar: -L/usr/local/opt/openssl@1.1/lib: No such file or directory`

[2021-08-12 10:52] Neumann-A commented on #19518
Multi-config generates are not correctly supported by vcpkg.  If you consume a library via `find_library` - which is hopefully wrapped within a `Find<Module>.cmake` - there is no way to differentiate the configuration if upstream does not provide a suffix. This is pure CMake limitation.
You can however do what most `vcpkg-cmake-wrappers.cmake` do and add something like to your module:
[code]
& a c

[2021-08-12 10:53] NancyLi1013 commented on #19497
Thanks for your information. @cenit

Yes, there are always something blocks the progress of PR.

[2021-08-12 11:41] eike-fokken commented on #233
I guess there are good news on this:

https://github.com/coin-or/Ipopt/pull/446

Apparently spral support has been merged into ipopt and at least on version 3.14, my ipopt configure script knows the option `--with-spral-cflags` and its relatives.

[2021-08-12 11:43] ssh4net opened #19523 "[openimageio:x86-windows] build failure (hash issue on downloading gzip)"
**Host Environment**
- OS: Windows 10
- Compiler: VS 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install openimageio`

**Failure logs**
[DEBUG] Downloading https://github.com/OpenImageIO/oiio/archive/099c8585e3add6f58fab9aa438a491fa55d3f67e.tar.gz
Error: Failed to download from mirror set:
File does not have the expected hash:
             url : [ https://github.com/OpenImageI

[2021-08-12 12:08] avre10 commented on #19497
Any solution now apart of waiting?

[2021-08-12 12:09] srgbtl commented on #19495
Just found #17726 and https://github.com/microsoft/vcpkg-tool/pull/99
@strega-nil-ms is there any progress on this [PR](https://github.com/microsoft/vcpkg-tool/pull/99)? I might help with this PR. I have an environment ready to test this.
CC: @BillyONeal @ras0219-msft

[2021-08-12 12:15] talregev commented on #17897
@BillyONeal How we should know when a new vcpkg-tool will come in?

[2021-08-12 12:25] creativegamer03 opened #19524 "[vcpkg integrate] find_file_recursively_up(D:\vcpkg, .vcpkg-root): The parameter is incorrect."
When i was about to install the package i needed for my project, which i ran `vcpkg install jsoncpp` on cmd, i get the error:
`find_file_recursively_up(D:\vcpkg, .vcpkg-root): The parameter is incorrect.`

I installed `vcpkg` on my SD card since my main drive is getting full, due to something filling up the space (I mostly blame windows updates since my device can't run smoothly on 20H2, so I stay

[2021-08-12 13:20] mehranmehr commented on #19481
Actually, that folder is there (is a symlink) and it contains the static and dynamic libraries for openssl.

`(mlpiot) ~/p/vcpkg ❯❯❯ ls -al /usr/local/opt/openssl@1.1/lib                                                    ✘ 1
total 15144
drwxr-xr-x  10 mehranmehr  staff      320 Mar 25 13:28 .
drwxr-xr-x  14 mehranmehr  staff      448 Aug 12 13:45 ..
drwxr-xr-x   4 mehranmehr  staff      128 Mar 2

[2021-08-12 13:34] keepitsimplejim opened #19525 "opencascade[core]:x64-linux build failure"
**Host Environment**
- OS: Fedora 34
- Compiler: gcc (GCC) 11.2.1 20210728 (Red Hat 11.2.1-1)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install opencascade`

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
    opencascade[core]:x64-linux -> 7.5.0#1
Detecting compiler hash for triplet x64-linux...
Could not locate cached archive:

[2021-08-12 13:52] linquize commented on #17897
Visit the repository https://github.com/Microsoft/vcpkg-tool

[2021-08-12 14:45] lukka commented on #19424
@strega-nil

I think you assumed the following notion that is not explicit from the docs:

- when using `vcpkg install`, the `vcpkg_installed` directory is sibling to `vcpkg.json`.
- when using cmake to start vcpkg (that is, when `vcpkg.json` and the vcpkg's toolchain is being used) then the location is `CMAKE_BINARY_DIR/vcpkg_installed`.

Basically depending on how `vcpkg` is consumed, __the targ

[2021-08-12 15:15] felfelche opened #19526 "[sqlcipher] build failure"
**Host Environment**
- OS: Windows
- Compiler: Microsoft (R) C/C++ Optimizing Compiler Version 19.16.27027.1

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg.exe install sqlcipher:x64-windows-static`

**Failure logs**
vcpkg.exe install sqlcipher:x64-windows-static
Computing installation plan...
The following packages will be built and installed:
    sqlcipher[core]:x64-windows-static -> 4

[2021-08-12 15:23] keepitsimplejim opened #19527 "openssl[core]:x64-mingw-dynamic build failure"
**Host Environment**
- OS: Linux Ubuntu 21.04
- Compiler: gcc (Ubuntu 10.3.0-1ubuntu1) 10.3.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install --triplet x64-mingw-dynamic openssl`

**Failure logs**
[code]
[install-x64-mingw-dynamic-dbg-out.log](https://github.com/microsoft/vcpkg/files/6976608/install-x64-mingw-dynamic-dbg-out.log)

**Additional context**
Add any other context ab

[2021-08-12 15:31] dg0yt commented on #19424
Just to avoid misunderstanding: the binary cache isn't the same as `vcpkg_installed`. It caches archives. It can contain a different set of packages than (installed in) `vcpkg_installed`.

What surprises are you thinking of? The packages are relocatable, if not broken.

IIUC this doesn't mean to modify the triplet but to set the `VCPKG_INSTALLED_DIR` cmake parameter for the vcpkg cmake toolchain,

[2021-08-12 15:42] Be-ing commented on #19424
This was very surprising to me: https://github.com/lukka/run-vcpkg/pull/94#issuecomment-895922964

[2021-08-12 15:49] lukka commented on #19424
@dg0yt right, thanks for correcting me! I mentioned the wrong environment variable indeed: I meant the `VCPKG_INSTALLED_DIR` one as you correctly pointed out. let me know if my

[2021-08-12 16:02] ulfllorenz commented on #19359
Looks good, produces good output, I think this issue can be closed.

[2021-08-12 16:02] #19359 closed

[2021-08-12 16:14] SallySoul opened #19528 "Windows Cmake project cannot find MPI when using static triplet"
**Describe the bug**

I'm having an issue in my windows build environment where a Cmake based project, using the vcpkg cmake toolchain file, can't find MPI (MSMPI) when using the x64-windows-static triplet. It works fine with the standard x64-windows triplet.

I was able to build a simple, reproducible test case on my local machine.

**Environment**
[code]

**To Reproduce**
First, I cleared the MS

[2021-08-12 16:14] linquize commented on #17897
@talregev yes

[2021-08-12 16:17] SallySoul commented on #19528
I am not familiar enough with vcpkg internals to debug further. I was not able to find any clear differences in the msmpi portfile that would account for this. Perhaps it's user error? If there's more info I can provide, please let me know.

[2021-08-12 19:12] BillyONeal commented on #17897
I'll do a tool release today to get this and to unblock @Neumann-A 's ifort stuff

[2021-08-12 19:14] talregev commented on #17897
@BillyONeal Thank you!

[2021-08-12 19:19] Neumann-A commented on #19528
- you cannot reconfigure cmake for different triplets
- you probably did not pass `-DVCPKG_TARGET_TRIPLET=x64-windows-static` in the second case?

[2021-08-12 19:32] Neumann-A commented on #19519
@JonLiu1993 Wrong tag-> should be port-update of gtkmm

[2021-08-12 22:29] waybeforenow opened #19537 "[New Port Request] zug"
Library name:
zug

Library description:
Transducers for C++ — Clojure style higher order push/pull sequence transformations

Source repository URL:
https://github.com/arximboldi/zug

Project homepage (if different from the source repository):
https://sinusoid.es/zug/

Anything else that is useful to know when adding (such as optional features the library may have that should be included):
I have a

[2021-08-12 22:29] waybeforenow opened #19538 "[New Port Request] lager"
Library name:
lager

Library description:
C++ library for value-oriented design using the unidirectional data-flow architecture

Source repository URL:
https://github.com/arximboldi/lager

Project homepage (if different from the source repository):
https://sinusoid.es/lager/

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2021-08-12 22:57] dg0yt commented on #19424
I feel like the "steps to reproduce" and in particular the title didn't help to express the problem:
You are using two different modes, and you are surprised that they work independently.
- `vcpkg_installed` in the source dir, created by `vcpkg install` next to `vcpkg.json` (aka [Command Line Interface](https://github.com/microsoft/vcpkg/blob/master/docs/users/manifests.md#command-line-interface))

[2021-08-13 00:25] marekr commented on #19490
I am getting error code 1601 after recreating a local windows server VM mirroring our CI process
[code]

[2021-08-13 00:37] BillyONeal commented on #19490
Consulting decoder ring for that: https://james.darpinian.com/decoder/?q=1601

looks like ERROR_INSTALL_SERVICE_FAILURE: The Windows Installer Service could not be accessed. This can occur if the Windows Installer is not correctly installed. Contact your support personnel for assistance.

[2021-08-13 00:48] marekr commented on #19490
Yes, but this is a 100% fresh windows server install. msiexec works just fine logged over remote desktop. This seems like some sort security restriction over openssh being placed by Windows but I cannot find any documentation for it.

MSI packages are very...unfriendly :(

[2021-08-13 01:03] YenForYang commented on #16216
I had a similar type of issue with `z_vcpkg_apply_patches.cmake`:
[code]

Managed to get `git` detection working by setting `VCPKG_KEEP_ENV_VARS=PATH`, but I doubt this requirement is intentional.

This got `git` and `ninja` detection working. 7-zip detection fails, however:

[code]

`7z` is in `PATH`. This is probably a different issue altogether.

[2021-08-13 01:08] marekr commented on #19490
Reading further, this is a long running Windows restriction that the Windows Installer Service simply does not operate on non-admin and non-interactive logins

https://sourceforge.net/p/wix/mailman/message/24361610/   (one random thread on the wix mailing list)

RIP, I guess we have to make CI insecure by giving it administrator permissions

[2021-08-13 01:31] Be-ing commented on #19424
Yes, it would.

[2021-08-13 01:55] NancyLi1013 commented on #19497
Please keep this issue open until it is fixed.

[2021-08-13 02:16] NancyLi1013 commented on #19481
Generally, we prefer to use the library that is  provided by vcpkg. But for this issue, `openssl `seems not to be required here. Since there is no `openssl` in `tbb `source codes.

[2021-08-13 02:32] JonLiu1993 commented on #19519
@Neumann-A ,Thanks for your reminder, should it be GTK update?

[2021-08-13 02:40] JackBoosY commented on #19524
Can you add `--debug` to the install command and provide the output?

Thanks.

[2021-08-13 03:10] NancyLi1013 commented on #19528
Hi @SallySoul

Thanks for posting this issue. Could you please try to pass `-DVCPKG_TARGET_TRIPLET=x64-windows-static` to cmake command to rebuild static project?

Note: Please remove configure logs before you build this.

I use `cmake .. -A x64 -DCMAKE_TOOLCHAIN_FILE=F:\latest\vcpkg\scripts\buildsystems\vcpkg.cmake -DVCPKG_TARGET_TRIPLET=x64-windows-static` to build without any errors.

[2021-08-13 03:49] #17897 closed

[2021-08-13 04:48] zapcity commented on #18086
This was working for me before, but after doing a `vcpkg upgrade` I now have the same issue:

[code]

There are problems with tag 2021.05.12. If I checkout the previous tag via `git checkout tags/2021.04.30` I no longer get the error and everything compiles without error.

I retested this by cloning the vcpkg repo to two separate directories, one on 2021.05.12 and the other on 2021.04.30, and doin

[2021-08-13 05:43] ChrisKay27 opened #19544 "[boost-build] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: not sure

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg --triplet x64-windows install boost-asio boost-filesystem boost-iostreams boost-lockfree boost-system boost-variant cryptopp curl jsoncpp libmariadb luajit mpir pugixml spdlog`

**Failure logs**
[code]

**
** From file: C:\Users\Chris\vcpkg\buildtrees\boost-build\bootstrap-x64-win

[2021-08-13 06:03] JackBoosY commented on #19544
[code]

[2021-08-13 06:05] JackBoosY commented on #19526
[code]
sqlcipher only support dynamic build, please build `sqlcipher:x64-windows` instead.

[2021-08-13 06:24] JackBoosY commented on #18141
This issue was fixed in the latest binary.

[2021-08-13 06:37] #16938 closed

[2021-08-13 06:38] NancyLi1013 commented on #19223
Is this still a problem for you? @lsqtzj

[2021-08-13 06:46] JackBoosY commented on #18222
@corbt Can you please test my changes in PR https://github.com/microsoft/vcpkg/pull/15233 and add `--debug` to the install command then provide the output?

[2021-08-13 07:11] Cheney-W commented on #4791
This issue still occurs in the latest vcpkg(2021-08-03-1a6d67b8150e94b7f473c6ab1c0cfd).

[2021-08-13 07:13] JackBoosY commented on #15469
Now, this issue was not able to reproduce:
[code]

Can you confirm that?

Thanks.

[2021-08-13 07:19] NancyLi1013 commented on #15205
@strega-nil

Could you please help take a look? Does this mean that we need to install xcode on our osx test machine? I also tried to install `pthread `via `brew reinstall libpthread-stubs`, still failed with the same error.

[2021-08-13 07:24] JackBoosY commented on #14956
This issue was fixed in the master branch.

[2021-08-13 07:24] #14956 closed

[2021-08-13 07:45] Cheney-W commented on #4562
I can't reproduce this issue in the latest vcpkg(2021-08-03-1a6d67b8150e94b7f473c6ab1c0cfd).

[2021-08-13 07:50] Cheney-W commented on #4562
This issue should be fixed, please use the latest vcpkg. Thanks for reporting this issue to us!

[2021-08-13 07:50] #4562 closed

[2021-08-13 08:02] MrAviator93 commented on #19519
Well, it would be logical to create a new port as gtkmm4 has major changes from gtkmm3 ( the one we currently have on vcpkg ).

[2021-08-13 08:31] NancyLi1013 commented on #16476
Hi @SoftwareApe

Since the new vcpkg tool has been released. This issue should be fixed now.

[2021-08-13 08:31] #16476 closed

[2021-08-13 08:59] NancyLi1013 commented on #16441
This issue should be fixed on latest version now. The date in tag name is consistent with that in vcpkg version.
Please try to update vcpkg to rebuild.
[code]

[2021-08-13 08:59] #16441 closed

[2021-08-13 09:04] longnguyen2004 commented on #19527
Please provide the log at `/builds/tools/vcpkg/buildtrees/openssl/install-x64-mingw-dynamic-dbg-out.log`

[2021-08-13 09:05] JackBoosY commented on #14500
We haven't been able to repro this; if more information comes up, or this issue appears again, please reopen.

[2021-08-13 09:05] #14500 closed

[2021-08-13 09:09] JackBoosY commented on #14185
Hi @fabceolin, was this issue resolved now?

[2021-08-13 09:10] JackBoosY commented on #14185
[code]

[2021-08-13 09:17] keepitsimplejim commented on #19527
The file requested is attached in the above ticket. I've also liked it below.

https://github.com/microsoft/vcpkg/files/6976608/install-x64-mingw-dynamic-dbg-out.log

[2021-08-13 09:25] NancyLi1013 commented on #16430
Hi @HppZ

Could you please help confirm where do you get the messages?

[code]
Also could you please try to add `x64-uwp` as Triplet in your project to rebuild?

![image](https://user-images.githubusercontent.com/46708020/129336066-7334dd7b-83c1-4b72-aa11-30966daa44e5.png)

[2021-08-13 09:42] NancyLi1013 commented on #16234
Hi @petersteneteg

Do you use `x-package-info` like this?
[code]

[2021-08-13 10:28] davidchisnall opened #19546 "Libxml2 (and other ports?) spuriously detects external iconv library"
**Describe the bug**

The iconv port checks the `Iconv_IS_BUILT_IN`.  This, according to the CMake documentation, can spuriously return true if iconv is installed separately, even in cases where libc provides the iconv functionality.  As a result, things using the iconv port will link a version of GNU libiconv if it happens to be in one of the default CMake search paths.

I am not sure if this bug

[2021-08-13 11:44] longnguyen2004 commented on #19527
Seems like your toolchain is missing `winver.h`. Can you check if it's present in the include dir?

[2021-08-13 12:17] ephphatha commented on #13518
`vcpkg install gettext[tools]:triplet` isn't enough on its own to make `find_package(Gettext)` succeed for windows/msvc builds still, looks like a solution to #17607 is needed too.

If I leave the default installation and integration active gettext tools are built and placed in `vcpkg\installed\<triplet>\tools\gettext\bin\`, however only `vcpkg\installed\<triplet>\tools\` is searched when looking

[2021-08-13 12:53] keepitsimplejim commented on #19527
I have installed `mingw-w64-x86-64-dev` which has the following installed file:

/usr/x86_64-w64-mingw32/include/winver.h

https://packages.ubuntu.com/hirsute/all/mingw-w64-x86-64-dev/filelist

[2021-08-13 13:14] SuperWig opened #19547 "[raylib] raylib_FOUND isn't set when found."
Basically this
[code]

**Environment**
- OS: Windows
- Compiler: MSVC v16.11.0

Edit: Everything appears to be working now. No idea what happened.

[2021-08-13 13:22] InfRandomness commented on #19388
I've tried
[code]
and
[code]
both didn't work, I'm not sure how to do it if this doesn't work

[2021-08-13 14:35] cenit commented on #13518
without taking away any importance to #17607, maybe we can write specifically for this case a wrapper that finds the executables in the positions that we already know and then launches the *real* find_package. In this way, find_program calls will already find cache variables set up and work, without any requirements on upstream cmake modules

[2021-08-13 14:40] KrasnovPavel commented on #14905
On ubuntu it can be fixed by installing libfreeimage-dev from apt.
`sudo apt install libfreeimage-dev`
For other distros you need to find correct name for development package of freeimage and install it using distro's package manager.

[2021-08-13 15:07] dg0yt commented on #13518
While we don't have a vcpkg wrapper (which would need to be in the target system), we do have a vcpkg config file (which is applied when using a host dependency on `gettext[tools]`).

My PR #18159 which added the config file was initially submitted with a gettext wrapper installed in the target system. But this concept didn't convicnce the reviewers: installing a wrapper for the target triplet whi

[2021-08-13 15:14] ahmetabdi commented on #19524
Getting the same here

[code]

[2021-08-13 15:16] dg0yt commented on #14905
@KrasnovPavel Better don't mix vcpkg and system libraries unless you understand the implications. The system libraries were not compiled against the same versions and configurations of libraries as the ports in vcpkg. Even if it compiles, it may fail miserably at runtime, due to subtle difference in behaviour.

[2021-08-13 15:46] #19334 closed

[2021-08-13 18:02] BillyONeal commented on #14185
This may be a limitation of the msys bits :(.

[2021-08-13 18:19] elmendorf opened #19550 "failed build of aws-sdk-cpp"
**Describe the bug**
A clear and concise description of what the bug is.

**Environment**
- OS: Linux Kubuntu 20.04
- Compiler: gcc 9.3.0

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install "aws-sdk-cpp[*]"
2. See error
Repro code when

**Expected behavior**
A clear and concise description of what you expected to happen.
A clean build of the sdk.

**Failure logs**
config-x64-linu

[2021-08-13 19:32] lukka opened #19552 "`vcpkg env --tools` command broken"
**Describe the bug**
`vcpkg env` command is broken when using `--tools` flag.

**Environment**
- OS: Windows

**To Reproduce**
Steps to reproduce the behavior:
1. Get `vcpkg` sources at commit id eb9cb291669f24b315d6001065e3b1e53e3701b4, and bootstrap.
1. Launch the following:
[code]
It repro when the **--tools** is being passed.

**Expected behavior**
It should execute properly the provided comma

[2021-08-13 19:36] zapcity commented on #18086
I did a `git checkout` on various commits and reran the build. I believe the one that is causing this issue is **[icu] add host dependency (#16577)** which is the second commit after tag 2021.04.30. Changes were made to portfile.cmake, which is referenced in the call stack:

[code]

[2021-08-13 20:40] #19523 closed

[2021-08-13 20:57] #18490 closed

[2021-08-13 21:00] BillyONeal opened #19554 "Add Microsoft.VisualStudio.ComponentGroup.UWP.VC.BuildTools to Windows Visual Studio"
This was requested at https://github.com/microsoft/vcpkg/pull/19413#issuecomment-898645585

[2021-08-13 21:01] BillyONeal commented on #19552
instances_of_if_it_doesnt_have_tests_it_doesnt_exist.push_back( #19552 );

[2021-08-13 21:17] xavier2k6 opened #19555 "[Boost] update to 1.77.0"
Library name: **Boost**

New version number: **1.77.0**

Other information that may be useful (release notes, etc...)
[Boost Version History](https://www.boost.org/users/history/)
[Release Notes](https://www.boost.org/users/history/version_1_77_0.html)

https://github.com/boostorg/boost/releases/latest

[2021-08-13 22:17] strega-nil-ms commented on #19495
@srgbtl unfortunately, I've been busy with other stuff right now, so I've not been able to work on it; if you'd be up for it, it'd be great if you could take up the torch.

[2021-08-13 22:18] Pixel-Minions opened #19558 "[GLIB] build failure - Centos 7"
**Host Environment**
- OS: Centos 7.9
- Compiler: gcc 7.3 - 8 - 9

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install glib`

**Failure logs**

[code]

[code]

**Additional context**
I have tried compiling older versions of glib and libffi with no result, I also have tried in multiple devices and fails all the times in Centos, but Windows 10 and Windows 7 works fine.

[2021-08-14 00:38] agokjr commented on #19489
figured workaround that to get c-ares on the copy of vcpkg on Linux for mingw.
1) build on windows computer using `msys2` and `x64-mingw-static`
2) transfer `$VCPKG_ROOT/installed/vcpkg/info/c-ares_1.17.2_x64-mingw-static.list` and files listed to Linux box.
3) copy entry for c-ares install from `$VCPKG_ROOT/installed/vcpkg/status` or `$VCPKG_ROOT/installed/vcpkg/updates/${SOME_NUMBER}` to Linux b

[2021-08-14 02:11] Be-ing commented on #18066
We seem to be stumbling on this issue too in Tenacity with a very puzzling link error we've been trying to figure out for a few days with CMAKE_BUILD_TYPE=Debug with MSVC. If you look closely at the paths of the libraries, the debug libraries are used for all the libraries from vcpkg except wxWidgets:
[code]

[2021-08-14 02:14] Be-ing commented on #18066
That would be great. I hacked together an INTERFACE target in the application's CMakeLists.txt so I don't have to deal with setting the wxWidgets_DEFINITIONS and can just `target_link_libraries` the INTERFACE target:
[code]
I would love to remove this hack.

[2021-08-14 06:32] ssh4net commented on #19523
Sorry. Now another error.

`Starting package 113/113: openimageio:x86-windows
Building package openimageio[core,ffmpeg,freetype,gif,libraw,opencolorio,opencv,openjpeg,pybind11,tools,webp]:x86-windows...
-- Downloading https://github.com/OpenImageIO/oiio/archive/099c8585e3add6f58fab9aa438a491fa55d3f67e.tar.gz -> OpenImageIO-oiio-099c8585e3add6f58fab9aa438a491fa55d3f67e.tar.gz...
-- Extracting sourc

[2021-08-14 07:34] dg0yt commented on #18086
Disclaimer: I don't anything about the icu build particularities.

With #16577, the port switched to `vcpkg_configure_make`. This sounds like a good idea. However, there is one thing which is surprising in the portfile: It sets *mingw-w64* autotools host triplets for all windows targets. I wonder if this is intentional, or just left over from the earlier configuration. Normally, it should be pc tr

[2021-08-14 08:27] sryze opened #19559 "glib and boost build failure under Windows 7"
vcpkg used to work fine under Windows 7 but in the latest version I can't build anything that runs Python because Python 3.9 won't work under Win7. vcpkg is now pretty much useless for me.

**Host Environment**
- OS: Windows 7
- Compiler: VS 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install glib`
`./vcpkg install boost`

**Failure logs**
[code]

When I run the command manual

[2021-08-14 09:02] sryze opened #19560 "How to enable build / compiler output to stdout?"
Is it possible to have vcpkg show the (verbose) output from the package build script(s) in the console (on Windows) during package installation?

e.g. `vcpkg install package_name --verbose`

I was unable to find an option to achieve this, I'm sorry if this has been asked already. It would be really convenient to have this instead of digging through log files.

[2021-08-14 10:26] Samer-Docs opened #19561 "Error: Building package pcl:x64-windows failed with: BUILD_FAILED"
Hello All,
I am trying to install PCL on Windows as explained here: https://pointclouds.org/downloads/
and here: https://github.com/microsoft/vcpkg

But I faced a problem "Error: Building package pcl:x64-windows failed with: BUILD_FAILED" as you can see below.

**Host Environment**
- OS: Windows 64-bit operating system, x64-based processor
- Compiler: revision

**To Reproduce**
Steps to reproduce

[2021-08-14 10:35] dg0yt commented on #19561
Please add `C:\dev\vcpkg\vcpkg\buildtrees\pcl\install-x64-windows-rel-out.log` (as an attachement).

[2021-08-14 10:58] corbt commented on #18222
Sure, happy to! What command should I run exactly to have vcpkg source from that PR?

[2021-08-14 10:59] Samer-Docs commented on #19561
[install-x64-windows-rel-out.log](https://github.com/microsoft/vcpkg/files/6986341/install-x64-windows-rel-out.log)

[2021-08-14 11:03] dg0yt commented on #19561
[code]

[2021-08-14 11:07] A91K3C1l opened #19562 "why i fail to run vcpkg on userland"
I want to ask why I can't execute the command
./vcpkg integrate install
Returns error
Environment variable VCPKG_FORCE_SYSTEM_BINARIES must be set on arm, s390x, and ppc64le platforms.

Saya menggunakan aarch64 android 6.0
Thank
![Screenshot_2021-08-14-18-03-16-98](https://user-images.githubusercontent.com/59974186/129444375-8370aaee-de3d-4972-89f3-753a5f126c53.png)

[2021-08-14 11:08] Samer-Docs commented on #19561
I am sorry, but I didn't get the suggested solution. which program? and which locations? could you please provide more details?

[2021-08-14 11:26] dg0yt commented on #19561
No, I can't: It is an "internal compiler error". I don't even use MSVC. But maybe someone from Microsoft will have an idea.

[2021-08-14 12:06] xavier2k6 opened #19563 "[harfbuzz] update to 2.8.2"
Library name: **harfbuzz**

New version number: **2.8.2**

Other information that may be useful (release notes, etc...)

https://github.com/harfbuzz/harfbuzz/releases/latest

[2021-08-14 12:24] xavier2k6 opened #19564 "[vcpkg-tools] update scons to 4.2.0"
Library name: **scons**

New version number: **4.2.0**

Other information that may be useful (release notes, etc...)

https://github.com/SCons/scons/releases/latest

[2021-08-14 12:26] xavier2k6 opened #19565 "[vcpkg-tools] update meson to 0.58.2"
Library name: **meson**

New version number: **0.58.2**

Other information that may be useful (release notes, etc...)

https://github.com/mesonbuild/meson/releases/latest

[2021-08-14 12:27] xavier2k6 opened #19566 "[Mesa] update to 21.2.0"
Library name: **Mesa**

New version number: **21.2.0**

Other information that may be useful (release notes, etc...)

https://docs.mesa3d.org/relnotes/21.2.0.html

[2021-08-14 12:32] xavier2k6 opened #19567 "[vcpkg-tools] update go to 1.16.7"
Library name: **Go**

New version number: **1.16.7**

Other information that may be useful (release notes, etc...)

Includes a security fix **CVE-2021-36221**

https://groups.google.com/g/golang-announce/c/uHACNfXAZqk

https://golang.org/doc/devel/release#go1.16.minor

[2021-08-14 12:34] xavier2k6 opened #19568 "[vcpkg-tools] update many vcpkg tools"
Reference:

[code]

(In case ports should be updated in conjunction with their respective tools, small example of reference)
[code]
____

Tool name: **WiX Toolset** (DARK Decompiler)

New version number: **4.0.4**
Other information that may be useful (release notes, etc...)
https://wixtoolset.org/releases/
https://github.com/wixtoolset/wix4/releases
https://wixtoolset.org/docs/releasenotes/#v4
___

[2021-08-14 12:37] xavier2k6 opened #19569 "[PowerShell] update to 7.1.4"
Library name: **PowerShell**

New version number: **7.1.4**

Other information that may be useful (release notes, etc...)
https://github.com/PowerShell/PowerShell/releases/latest

[2021-08-14 12:38] xavier2k6 opened #19570 "[LLVM] update to 12.0.1"
Library name: **LLVM**

New version number: **12.0.1**

Other information that may be useful (release notes, etc...)
https://github.com/llvm/llvm-project/releases/latest

[2021-08-14 13:55] #19547 closed

[2021-08-14 14:35] Be-ing opened #19571 "[libpng] unused CMake variable PNG_ARM_NEON"
**Host Environment**
- OS: x64-linux (Fedora 34)
- Compiler: GCC 11.2.1

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install libpng`

**Failure logs**
[code]

**Additional context**
libpng was installed automatically as a dependency of wxwidgets

[2021-08-14 14:37] Be-ing commented on #19560
In the meantime look in `vcpkg/buildtrees` for the build logs.

[2021-08-14 18:07] Be-ing commented on #18066
The same mixup of release and debug libraries is happening with expat :tired_face:

[2021-08-14 19:10] dg0yt commented on #18066
There is a number of ports without sufficient wrappers. I fixed zlib recently, libjepg-turbo is waiting for merge (#19319, a hard fight for a straightforward wrapper), and png might be the next one.
Basic rule: check, fix, submit.

[2021-08-14 19:12] jherico opened #19573 "[<port name>] update to <version>"
Library name: OpenXR-loader

New version number: 1.0.18

Current version of 1.0.11 is exactly one year out of date as of today.

[2021-08-14 21:50] KronuZkk opened #19575 "[blas:x64-windows] Error: Building package blas:x64-windows failed with: BUILD_FAILED"
**Host Environment**
- OS: [Windows]
- Compiler: Visual Studio 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install blas:x64-windows`

H:\Enrique\Programming\vcpkg-master\vcpkg-master>vcpkg.exe install blas:x64-windows
Computing installation plan...
The following packages will be built and installed:
    blas[core]:x64-windows -> 1
Detecting compiler hash for triplet x64-window

[2021-08-15 00:15] MrAviator93 commented on #19519
Colleagues, just before posting the post we had a working gtkmm 3.22.2 version available in vcpkg. I have no idea what has happened but there is a new version available of gtkmm now, which is:

gtkmm                    4.0.1            gtkmm is the official C++ interface for the popular GUI library GTK+.

Previously there was:
gtkmm                3.22.2           gtkmm is the official C++ interfa

[2021-08-15 00:30] tommitytom commented on #4359
I'm getting this error on one of my AppVeyor builds too - google led me here.  Unsure whether it is an issue with how I've set up the CI, or whether it's how they create the CI image.  The project I'm building only contains a single .cpp file.  Log here if its of any use: https://ci.appveyor.com/api/buildjobs/yh8sm1bnq63a8kcd/log

[2021-08-15 01:36] NekoooooOoi opened #19577 "[pcl[vtk,qt,opengl] --head] build failure-- z_vcpkg_apply_patches.cmake"
**Host Environment**
- Windows 10
- Compiler: Visual Studio 2019

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg install pcl[vtk,qt,opengl] --head`

**Failure logs**
C:\vcpkg>vcpkg install pcl[vtk,qt,opengl] --head
Computing installation plan...
The following packages will be built and installed:
    pcl[core,opengl,qt,vtk]:x86-windows -> 1.11.1#4 (+HEAD)
Starting package 1/1: pcl:x86-wi

[2021-08-15 05:07] Be-ing commented on #18066
I've tried looking for documentation how these vcpkg-cmake-wrapper.cmake files work but have not found it. From digging into the source code of the vcpkg toolchain file, it seems they get called when an application calls `find_package`? I don't really understand how to use those to fix this problem with expat.

[2021-08-15 06:09] celadaris commented on #15333
Hi, i have a couple more issues with ogre. I will try my best to walk you through reproducing the errors that i have, i made a short video on it [here](https://vimeo.com/587369432) sorry for the bad quality, vimeo compressed the video when i uploaded it.

[2021-08-15 07:41] dg0yt commented on #18066
@Be-ing Getting off-topic, but yes, that is how I found what to do. Summary:
- The vcpkg toolchain file overloads `find_package`.
- The overload looks for `share/<lower-case-pkg-name>/vcpkg-cmake-wrapper.cmake` and uses it, if it exists.
- Knowing the actual paths, file names, and port features, the wrapper does an informed setup of relevant CMake cache variables and then calls the regular find mo

[2021-08-15 09:24] Pospelove opened #19578 "[New Port Request] NetFxSDK"
Library name: NetFxSDK

Library description: .NET SDKs for Visual Studio

Source repository URL: https://dotnet.microsoft.com/download/visual-studio-sdks

netfxsdk is currently required for `chakracore` and `openni2` ports. would be cool to automate its installation

[2021-08-15 09:27] Pospelove commented on #10203
I can't

[2021-08-15 11:05] julianxhokaxhiu opened #19579 "[Binary Caching] Add cleanup feature of old/deprecated archives"
****

**Is your feature request related to a problem? Please describe.**
vcpkg is awesome, it helps you to finally define your dependencies through a manifest, and manage them very easily through CMake. But there's a problem: when moving forward with your project, by simply updating your tooling or moving forward with your own manifest file, new cached archives will be produced and old ones will s

[2021-08-15 13:58] Be-ing commented on #18066
It turns out the expat port is okay and already has a working wrapper. I wasn't using it because I wrote my own Findexpat.cmake module because I didn't realize there was already a FindEXPAT.cmake (capitals) module included in CMake which the wrapper is designed for.

[2021-08-15 14:06] ssh4net opened #19580 "[openimageio] with plugins build failure"
**Host Environment**
- OS: [e.g. Windows/Linux etc...]
- Compiler: VS2019

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg install openimageio[ffmpeg,freetype,gif,libraw,opencolorio,opencv,openjpeg,pybind11,tools,webp] --recurse`

**Failure logs**
[code]
[config-x64-windows-out.log](https://github.com/microsoft/vcpkg/files/6988249/config-x64-windows-out.log)

**Additional context**
openim

[2021-08-15 14:20] Samer-Docs commented on #19561
..../opennurbs_lookup.cpp(670) does 670 refer to the line? if yes. I have the following in this line:
![image](https://user-images.githubusercontent.com/80517101/129481540-5059fc29-7123-4318-8baa-de8c596f2b7f.png)

I tried to comment it out, but it is overwritten when I call "vcpkg.exe install pcl:x64-windows"

[2021-08-15 14:22] Samer-Docs commented on #19561
"compiler file 'd:\a01\_work\3\s\src\vctools\Compiler\Utc\src\p2\main.c', line 217" I didn't find this directory in my computer. I have no file called a01 in D!

[2021-08-15 14:23] xloem commented on #16919
I have this issue in another package.  It looks like a bug in termux to me.

[2021-08-15 14:26] #19577 closed

[2021-08-15 16:35] MrAviator93 commented on #19519
So the gtkmm 4.0 was installed
Computing installation plan...
The following packages are already installed:
    gtkmm[core]:x64-windows -> 4.0.1
Package gtkmm:x64-windows is already installed

Total elapsed time: 437.2 us

cmake_minimum_required( VERSION "3.20.0" )

project( TestProject VERSION 1.0 LANGUAGES CXX )

if ( WIN32 )
    add_compile_definitions( _WIN32_WINNT=0x0A00 )
    # set( VCPKG_TA

[2021-08-15 17:16] cenit commented on #19575
H:\Enrique\Programming\vcpkg-master\vcpkg-master\buildtrees\blas\config-x64-windows-out.log

please post that log

[2021-08-15 17:17] cenit commented on #19571
just a warning and not an error, right?
will be fixed in the next library update

[2021-08-15 17:54] #16258 closed

[2021-08-15 20:28] ign4si opened #19586 "[blas:x86-windows] build failure"
**Host Environment**
- OS: Windows
- Compiler: revision

**To Reproduce**
`./vcpkg install armadillo`

**Failure logs**
-Cut and past the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

C:\WINDOWS\system32>vcpkg install armadillo
Computing installation plan...
The following packages will be built and installed:
    ar

[2021-08-15 20:29] Neumann-A commented on #19586
Remove the space in the path (within the user name).

[2021-08-15 20:31] ign4si commented on #19586
Mmm I really don't know how to do that. Should I change my user name?

[2021-08-15 20:36] ign4si commented on #19586
Maybe you meant in the ticket.

[2021-08-15 20:42] Neumann-A commented on #19586
Just move vcpkg somewhere without a space in the path?

[2021-08-15 20:58] ign4si commented on #19586
Apparently I just delete the complete vcpkg folder and re installed in C:\\. It worked for BLAS which is good.! Now it is LAPACK turn.
![image](https://user-images.githubusercontent.com/66034070/129492670-463f062a-19c3-42e7-aebf-57eb7bd779b1.png)
Hope it works

[2021-08-15 21:26] ign4si commented on #19586
ALEXANDER I LOVE YOU I'M SO GRATEFUL FOR YOUR HELP. THANK YOU VERY MUCH. HOPE I MEET YOU SOMEDAY BECAUSE YOU ARE AMAZING.

[2021-08-15 21:26] #19586 closed

[2021-08-15 21:49] cenit commented on #16258
closed because you solved somehow? can you share your solution, in case other users might become interested in future?

[2021-08-15 22:07] TNtube commented on #16258
Hello, the issue seems to be from the compiler. For some reasons, MinGW refuse to build while MSVC with the same configuration work very well

[2021-08-15 23:37] gracicot opened #19588 "[benchmark] build failure"
**Host Environment**
- OS: Linux
- Compiler: Clang 5

**To Reproduce**
Steps to reproduce the behavior:
Create a vcpkg manifest file that contains this:

[code]

Create a cmake file:

[code]

Run cmake with toolchain file:

    cmake .. -DCMAKE_TOOLCHAIN_FILE=path/to/vcpkg.cmake

**Failure logs**
[Full log](https://github.com/gracicot/kangaru/runs/3325020925?check_suite_focus=true#step:7:150). My

[2021-08-16 00:03] PhoebeHui commented on #19497
@avre10, this issue has been fixed, please get latest source and try again.

[2021-08-16 00:03] #19497 closed

[2021-08-16 02:48] JackBoosY commented on #18222
@corbt In my PR #15233,
1. git clone https://github.com/JackBoosY/vcpkg.git
2. git checkout master
3. git merge --no-ff JackBoosY-dev/jack/15204
4. git push origin master

[2021-08-16 03:00] #19579 closed

[2021-08-16 03:05] JackBoosY commented on #19560
Currently no, but maybe we can consider that.

[2021-08-16 03:05] #19560 closed

[2021-08-16 03:07] JackBoosY commented on #19580
[code]

[2021-08-16 03:28] Event-Horizon-Labs commented on #19558
@JackBoosY Hi, is there any information additionally I can provide to solve the issue?

[2021-08-16 03:35] Felipe21 commented on #8444
I have something similar please hrelp
[code]

[2021-08-16 05:37] JackBoosY commented on #19580
Confirmed.

[2021-08-16 05:40] JackBoosY commented on #8444
@Felipe21 Please provide the following logs:
      C:\vcpkg\buildtrees\boost-build\bootstrap-x64-windows-out.log
      C:\vcpkg\buildtrees\boost-build\bootstrap-x64-windows-err.log

[2021-08-16 05:52] JackBoosY commented on #19558
[code]

This is very different with mine, can you please provide the config logs _/tmp/rez_builder_iwSvwF/buildtrees/glib/config-x64-linux-dbg-out.log_ and _/tmp/rez_builder_iwSvwF/buildtrees/glib/config-x64-linux-dbg-err.log_?

And I think I saw this error before...

[2021-08-16 06:21] NancyLi1013 commented on #19561
@Samer-Docs

Thanks for posting this issue. Confirmed this is a compiler bug. We have filed a bug https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workitems/edit/1348372 to track this issue.

[2021-08-16 06:36] JonLiu1993 commented on #19519
@Neumann-A ,Could you please take a look?

[2021-08-16 06:44] NancyLi1013 commented on #19550
Hi @elmendorf

Thanks for posting this issue. Seems like a port bug in current version now. I will try to update `aws-sdk-cpp` to the latest version to confirm if this still exists.

Related issue from upstream: https://github.com/aws/aws-sdk-cpp/issues/1717

[2021-08-16 07:17] fastwolfs opened #19591 "[libwebp] Build x86-windows failed"
When asking a question please also include where you looked for an answer (so we can update the documentation if needed).

[2021-08-16 07:22] Felipe21 opened #19592 "[<port name>] build failure"
- OS: Windows
- Compiler: revision master branch and 2021.05.12
-  Package: boost-build:x64-windows
  Vcpkg version: 2021-08-12-85ab112d5ee102bc6eac8cdbbfdd173a71374e04

Steps to reproduce the behavior:
`./vcpkg install boost-build:x64-windows`

**Failure logs**
-Cut and past the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console

[2021-08-16 07:54] NancyLi1013 commented on #16258
Do we need to solve this issue on vcpkg side? @cenit
To be honest, I have no idea how to handle this with TDM-GCC.

[2021-08-16 08:13] cenit commented on #16258
me too, i was hoping for @TNtube to have solved it and for him sharing the solution, but it seems that the best option was just dumping TDM-GCC and using MSVC

[2021-08-16 08:15] NancyLi1013 commented on #19562
Hi @A91K3C1l

Thanks for posting this issue.

Could you please help confirm which platform you build on your machine?

`Environment variable VCPKG_FORCE_SYSTEM_BINARIES must be set on arm, s390x, and ppc64le platforms.`

Please set `VCPKG_FORCE_SYSTEM_BINARIES `as Environment variable if your platform is one of them.

[2021-08-16 08:16] NancyLi1013 commented on #19388
Thanks for your feedback. I will try this on my machine.

[2021-08-16 08:24] JackBoosY commented on #19591
Please provide the log mentioned in the output.

Thanks.

[2021-08-16 08:25] Neumann-A commented on #19519
Try from a newly checkout vcpkg instance. I don't see a reason for failure unless some dependency does not have a working pkg-config file or there are old installed dependencies. Otherwise you need to figure out why pkg-config decides to reject the gtkmm-4.0.pc within vcpkg.

[2021-08-16 08:57] PhoebeHui commented on #19544
@ChrisKay27, you need install window sdk, please install it via VS installer and try again.

Duplicated to https://github.com/microsoft/vcpkg/issues/19012, and please reopen this still be a problem for you.

[2021-08-16 08:58] PhoebeHui commented on #19592
@ Felipe21, you need install window sdk, please install it via VS installer and try again.

Duplicated to https://github.com/microsoft/vcpkg/issues/19012, and please reopen this still be a problem for you.

[2021-08-16 08:58] #19592 closed

[2021-08-16 09:43] NancyLi1013 commented on #19546
Hi @davidchisnall

Thanks for posting this issue.

Since `libiconv `doesn't support non Windows platform in vcpkg. Currently, `libiconv `is only built on Windows platform. For non Windows, there is only vcpk-cmake-wrapper.cmake without any libs.

https://github.com/microsoft/vcpkg/blob/6bc4362fb49e53f1fff7f51e4e27e1946755ecc6/ports/libiconv/portfile.cmake#L1-L6

There is also another issue to trac

[2021-08-16 09:48] JackBoosY commented on #14753
@mathisloge  Yes, I will fix this in the nearly feature.

[2021-08-16 09:57] PhoebeHui commented on #18086
@AndreMeyerRMC @zapcity, could you double check if LIB.exe exist in other place except installed by VS?

[2021-08-16 10:00] davidchisnall commented on #19546
The problem appears to be the interaction between that wrapper and CMake's iconv detection.  The portfile that you reference installs [`vcpkg-cmake-wrapper.cmake'](https://github.com/microsoft/vcpkg/blob/6bc4362fb49e53f1fff7f51e4e27e1946755ecc6/ports/libiconv/vcpkg-cmake-wrapper.cmake).  This uses CMake's built-in iconv detection.  This sets `Iconv_IS_BUILT_IN` if libc contains iconv support *and*

[2021-08-16 10:07] cbtang01 opened #19594 "gsl library build failure"
**Host Environment**
- OS: Windows 10
- Compiler: Visual Studio 2019

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/microsoft/vcpkg.git
2. cd vcpkg
3. .\bootstrap-vcpkg.bat
4. .\vcpkg integrate install
5. .\vcpkg install gsl gsl:x64-windows

**Failure logs**
-Cut and past the appropriate build messages from the console output.
Computing installation plan...
A su

[2021-08-16 10:10] PhoebeHui commented on #19559
Similar issue with https://github.com/microsoft/vcpkg/issues/16986.

[2021-08-16 10:56] Samer-Docs commented on #19561
Dear Nancy, Thanks for your reply. When I click on the link above, it shows me that I do not have access.

[2021-08-16 11:31] Laaouatni opened #19595 "Building package ncurses:x86-windows failed with: BUILD_FAILED"
TERMINAL CODE ERROR:

[code]

[2021-08-16 11:33] Laaouatni commented on #19595
is my first time with vcpkg, this is why i dont know what is mean
and how to solve the error.

thanks if you solve it

[2021-08-16 11:50] Qbort opened #19596 "[icu] build failure - resolved - Antivirus blocking gentest.exe"
**Host Environment**
- OS: Windows 10
- Compiler: unsure (assume gcc?)

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg install icu:x64-windows`

**Failure logs**

[code]
[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/6992068/install-x64-windows-dbg-out.log)
[install-x64-windows-dbg-out-1.log](https://github.com/microsoft/vcpkg/files/6992069/install-x64-windo

[2021-08-16 12:14] davidchisnall commented on #19546
It looks as if this was fixed on Friday.

[2021-08-16 12:14] #19546 closed

[2021-08-16 13:30] Event-Horizon-Labs commented on #19558
[config-x64-linux-dbg-out.log](https://github.com/microsoft/vcpkg/files/6992678/config-x64-linux-dbg-out.log)
[package.-x64-linux-dbg-out.log](https://github.com/microsoft/vcpkg/files/6992679/package.-x64-linux-dbg-out.log)

@JackBoosY The `config-x64-linux-dbg-err.log` is empty, nothing gets added there.

[2021-08-16 14:23] Be-ing commented on #19571
Yes, just a warning.

[2021-08-16 15:04] dg0yt commented on #19595
The message says:
[code]

[2021-08-16 15:08] dg0yt commented on #19594
Please use a path without space, and also without `&`, for vcpkg. Some tools can't handle it correctly.

[2021-08-16 16:15] corbt commented on #18222
Ok, here's what I got:

[code]

[install-arrayfire-out.log](https://github.com/microsoft/vcpkg/files/6993808/install-arrayfire-out.log)

Logs included below.

[2021-08-16 16:54] SallySoul commented on #19528
`VCPKG_TARGET_TRIPLET` was the missing ingredient, thanks!

[2021-08-16 16:54] #19528 closed

[2021-08-16 17:39] niclar opened #19597 "[New Port Request] ecal"
Library name:
ecal

Library description:
The enhanced communication abstraction layer (eCAL) is a middleware that enables scalable, high performance interprocess communication on a single computer node or between different nodes in a computer network. eCAL is designed for typical cloud computing scenarios where different processes exchange there I/O’s using a publish/subscribe pattern.

Source rep

[2021-08-16 18:14] Hoikas commented on #19595
Invalid

[2021-08-16 18:18] Laaouatni commented on #19595
@dg0yt thank you 👍

[2021-08-16 19:16] 3003z opened #19598 "[<port name>] build failure"
**Host Environment**
- OS: Windows 10 20H2
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg install cryptopp:x64-windows-static cryptopp:x86-windows-static curl:x64-windows-static curl:x86-windows-static nlohmann-json:x64-windows-static nlohmann-json:x86-windows-static`

**Failure logs**
-Cut and past the appropriate build messages from the console output.
this is the

[2021-08-16 19:29] autoantwort commented on #19598
Probably a duplicate of #6324

[2021-08-16 19:30] cbtang01 commented on #19594
Thanks.  I used a pathname without space and & sign, but it still didn't work.  Then I noticed a yellow-colored warning in the build message from console output: I did not have English community package of Visual Studio 2019.  So, I fixed this from Visual Studio Installer and it worked.

[2021-08-16 19:30] #19594 closed

[2021-08-16 20:10] Neumann-A opened #19601 "[vcpkg|uwp] Fix toolchain so that ninja can be used"
Copy default UWP build flags from MSBuild into the CMake toolchain. This removes the necessity to add extra flags in vcpkg_configure_(make|meson) and enables ninja builds with the uwp triplet.

[2021-08-16 20:38] paulcleggSIG commented on #19490
We're seeing this same issue running vcpkg in a TeamCity job. Would it be reasonable to rollback the 7-zip distribution mechanism to before 0fd101a ?

Granting interactive admin to a CI process that downloads binaries from the internet is not a solution for us.

[2021-08-16 21:20] Be-ing opened #19602 "[tiff] unused CMake variable CMAKE_DEBUG_POSTFIX"
**Host Environment**
- OS: x64-linux (Fedora 34)
- Compiler: GCC 11.2.1

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install tiff`

**Failure logs**
[code]

[2021-08-16 21:32] dg0yt commented on #19602
Please stop opening issues for "unused variables". *It is not a failure.* It is a new check to support maintainers, to be handled when making changes to a port.
And last not least, `CMAKE_DEBUG_POSTFIX` is a false positive.

[2021-08-16 23:22] MrAviator93 commented on #19519
Could it be because package config for gtkmm is missing somewhere for example here:
vcpkg\installed\x64-windows-static\lib\pkgconfig ?

[2021-08-16 23:55] ParticleG commented on #15681
This problem persists when using a` vcpkg.json` in your project. Reproduced by trying to install `openssl:x64-windows-static`:

[code]

[2021-08-17 00:27] #19595 closed

[2021-08-17 00:55] JonLiu1993 commented on #19569
@xavier2k6 ,I duplicated this issue to issue #19568,let's update vcpkg-tools together in issue #19568,I temporarily close this issue

[2021-08-17 00:55] #19569 closed

[2021-08-17 00:58] JonLiu1993 commented on #19567
@xavier2k6 ,I duplicated this issue to issue #19568,let's update vcpkg-tools together in issue #19568,I temporarily close this issue

[2021-08-17 00:58] #19567 closed

[2021-08-17 01:01] JonLiu1993 commented on #19564
@xavier2k6 ,I duplicated this issue to issue #19568,let's update vcpkg-tools together in issue #19568,I temporarily close this issue

[2021-08-17 01:01] #19564 closed

[2021-08-17 01:01] JonLiu1993 commented on #19565
@xavier2k6 ,I duplicated this issue to issue #19568,let's update vcpkg-tools together in issue #19568,I temporarily close this issue

[2021-08-17 01:01] #19565 closed

[2021-08-17 02:12] Event-Horizon-Labs commented on #19558
@JackBoosY I wonder if it is related to shared libraries missing when compiling the libffi, I recompiled using set(CMAKE_POSITION_INDEPENDENT_CODE ON) to force the flag fPIC in the libffi port file but no luck.

[2021-08-17 02:14] JackBoosY commented on #19602
All the variables have prefix `CMAKE_` should be ignored.

[2021-08-17 02:29] seccpur opened #19604 "Application with Opencv library fails on release mode builds."
**Describe the bug**
Installed opencv library using vcpkg. Installation and integration was successful and a test application builds successfully on debug mode. During release build, it fails with the message 'opencv_aruco340.dll was not found'. The project configuration is same for both modes, hence it is not related to the IDE project settings.

**Environment**
- OS: Windows
- Compiler: Visual C

[2021-08-17 02:33] the-nerbs opened #19605 "[freeimage] FreeImage.dll missing version information"
While integrating with FreeImage as built from `vcpkg install freeimage`, I noticed that the DLL is not built with version information. This information does exist in the binaries available from the FreeImage homepage, and the .rc file that supplies this information exists in the source zip that the port downloads to build, so I suspect its omission here was a mistake.

**Proposed solution**
I bel

[2021-08-17 02:34] zapcity commented on #18086
@PhoebeHui

[code]

The complete list of where all the other LIB.exe's are located are:

[code]

It doesn't exist anywhere else.

[2021-08-17 02:37] NancyLi1013 commented on #16258
Thanks for your suggestion @cenit.

[2021-08-17 02:58] PhoebeHui commented on #18086
@zapcity, could you also check the .\vcpkg\downloads\tools directory？

[2021-08-17 03:08] PhoebeHui commented on #18086
cc @autoantwort, any thoughts?

[2021-08-17 03:09] NancyLi1013 commented on #19388
Hi @InfRandomness

I use the following project to build, it work fine for me.

vcpkg.josn:

[code]
CMakeLists.txt:
[code]
main.cpp
[code]

[2021-08-17 03:13] NancyLi1013 commented on #19388
The command I used to build:

`cmake -G "Visual Studio 16 2019" -A x64 -DCMAKE_TOOLCHAIN_FILE=vcpkg_root\scripts\buildsystems\vcpkg.cmake -DVCPKG_TARGET_TRIPLET=x64-windows-static`

Please help confirm if you pass `-DVCPKG_TARGET_TRIPLET=x64-windows-static`.

Please post the details if you still have the problem.

[2021-08-17 03:27] cenit commented on #19604
are you up to date with vcpkg? the 340 dll extension looks very suspicious on that end

[2021-08-17 05:06] talregev opened #19606 "[Curl] libcurl.pc in pkgconfig are broken for linux and android."
vcpkg install curl[core,openssl] on linux and android. create the lib with the libcurl.pc
libcurl.pc are broken
pkg-config libcurl.pc --libs -> errors:

- OS: Linux, Android. (maybe more?)
- Compiler: for linux gcc 9.

Steps to reproduce the behavior:
1. vcpkg install curl[core,openssl]
2. pkg-config libcurl.pc --libs

That it give you the correct libs.

[code]

![](https://cdn.discordapp.com/atta

[2021-08-17 05:25] talregev commented on #19606
cat libcurl.pc:
[code]

[2021-08-17 05:39] talregev commented on #19606
Also curl-config doesn't give the ssl flags is needed for curl:
[code]
![image](https://user-images.githubusercontent.com/7043539/129669574-c8042770-d061-4c3e-92f3-a4227db3a1fd.png)

[2021-08-17 05:49] JonLiu1993 commented on #19570
@xavier2k6 ,Is this issue a port update or a tool update for LLVM?

[2021-08-17 05:53] NancyLi1013 commented on #19561
You may try to open it in this way.

1. Open this link
https://devdiv.visualstudio.com/DefaultCollection/DevDiv/
2. Search 1348372 in the search page
3. Click the search result  listed in Work item

Note: Currently, there is no progress about this issue.

[2021-08-17 05:55] zapcity commented on #18086
@PhoebeHui There doesn't seem to be any instance of LIB.exe in any of my vcpkg builds i.e. 2021.05.12 (which has an error building) and the other on 2021.04.30 (which builds successfully).

I just have the following directories in the .\vcpkg\downloads\tools directory

[code]

[2021-08-17 06:00] #19606 closed

[2021-08-17 06:20] PhoebeHui commented on #18086
@zapcity, thanks for the information! It looks the changes from https://github.com/microsoft/vcpkg/pull/16577 may cause the failures, we will take a look again.

[2021-08-17 06:41] seccpur commented on #19604
vcpkg   version: 2021-05-05-9f849c4c43e50d1b16186ae76681c27b0c1be9d9`

[2021-08-17 06:47] NancyLi1013 commented on #19588
Hi @gracicot

Thanks for posting this issue.

[code]
Do you know why it only happened with clang 5? Since I'm not familiar with clang, so I'm not clear why it happened.

Should we handle this problem in this way?

[code]
Reference from https://stackoverflow.com/questions/13252220/suppressing-warning-is-language-extension

[2021-08-17 07:00] NancyLi1013 commented on #19596
Hi @Qbort

Thanks for posting this issue.

From install-x64-windows-dbg-out.log, I found the errors like this:
[code]
Is `gentest.exe` in _C:/src/vcpkg_microsoft/installed/x64-windows/tools/icu/bin/_ or _C:/src/vcpkg_microsoft/buildtress/icu/x64-windows-dbg/tools/gentest_ on your machine?

[2021-08-17 07:08] JonLiu1993 commented on #19604
@seccpur ,Thanks for posting this issue, please use git pull update vcpkg to the latest and try again.

[2021-08-17 07:10] Neumann-A commented on #19519
Can this even be build ? As far as I can remember the chain depends on `glib` which is not buildable in static triplets.

[2021-08-17 07:18] NancyLi1013 commented on #15333
@celadaris

Thanks for your details.

Seems the original problem that the header file cannot be found and the link error has been solved now, right?

I looked through your video, the current problem you met is that some plugins cannot be built in your project. I noticed that you commented these plugins in plugin.cfg file, then you can continued to build.

Can you provide the link to get `ogre-sdk-

[2021-08-17 07:46] mukeshhope opened #19609 "CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:127 (message): Command failed: ninja -v"
**Host Environment**
- OS: Windows 10 enterprise

**To Reproduce**
Steps to reproduce the behavior:
vcpkg.exe install azure-iot-sdk-c:x64-windows

**Failure logs**
[code]
**Additional context**
log file attached
[config-x64-windows-out.log](https://github.com/microsoft/vcpkg/files/6997976/config-x64-windows-out.log)

[2021-08-17 07:48] NancyLi1013 commented on #19605
Hi @the-nerbs

Thanks for posting this issue. I will submit a PR to fix it later.

[2021-08-17 08:00] cenit commented on #19604
and can you share cmake cache and logs of the build of your application? i fear it is finding another opencv installation

[2021-08-17 08:42] JonLiu1993 commented on #19598
@3003z , do you install windows sdk? if so, could you reinstall windows sdk by vs installer? see issue #6324

Failures:

LINK : fatal error LNK1104: cannot open file 'ucrtd.lib'

[2021-08-17 08:43] MrAviator93 commented on #19519
Uhh, sorry, you are right, it was yesterday night time when I was checking it, half way asleep. I will give it another try today, will report if any luck.

[2021-08-17 08:53] XWarin opened #19611 "Private built package impossible to use using python versioning"
Os : windows 10

**What is working** 👍
-  build the stopt library package using vcpkg
-  build a second projet using stopt library without versioning

**Bug** 👎
using python versioning to  compile the second project : the stopt package fail  to compile not finding zlib library (present in the baseline)

To reproduce:
 **vcpkg.json** file  in second project at level of CMakeList.txt

[code]
**The v

[2021-08-17 09:48] petersteneteg commented on #16234
I used
[code]
Or
[code]
Both exit with a negative return code.
Note this is with vcpkg, from Feb, when I created the issue. I've been away from work, will try with a recent version later.

[2021-08-17 10:26] Qbort commented on #19596
@NancyLi1013 The folder `C:/src/vcpkg_microsoft/installed/x64-windows/tools/icu/bin/` does not exist (assume because the package has not yet succeeded to build).

In contrast, in the `C:\src\vcpkg_microsoft\buildtrees\icu\x64-windows-dbg\tools\gentest` folder, i have the following files (no `gentest.exe`):
![image](https://user-images.githubusercontent.com/16581353/129709767-9c24fc5f-afc5-4cef-aca

[2021-08-17 10:38] xavier2k6 commented on #19570
tool update

FYI - There is no option/category for tool updates when creating an issue.

[2021-08-17 10:45] KrasnovPavel opened #19613 "[qt5-3d:x64-windows] build failure"
**Host Environment**
- OS: Windows

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install qt5-3d`

**Failure logs**
[code]
`D:\vcpkg\buildtrees\qt5-3d\config-x64-windows-rel-err.log`
[code]

[2021-08-17 10:51] JonLiu1993 commented on #19570
@xavier2k6 ,I duplicated this issue to issue #19568,let's update vcpkg-tools together in issue #19568,I temporarily close this issue

[2021-08-17 10:51] #19570 closed

[2021-08-17 11:01] JonLiu1993 commented on #19609
@mukeshhope ,Thanks for posting this issue,try removing your current build files and starting over. From the Pangolin root directory

[2021-08-17 11:12] mukeshhope commented on #19609
Hi @JonLiu1993 ,

I tried by removing whole vcpkg folder and then git clone again but it did not work.
What do you mean my Pangolin root directory, I could not understand this.
Thankyou for quick response

[2021-08-17 11:14] cgurps opened #19616 "[glib[core]:x64-linux] dynamic build failure"
**Host Environment**
- OS: archlinux
- Compiler: gcc (GCC) 11.1.0

**Context**
I'm trying to build `glib` as a dynamic library in Linux. I created the dynamic triplets
[code]
And then run `./vcpkg install glib `. `vcpkg` complains about non empty directories
[code]
If I add the ` file(REMOVE_RECURSE "${CURRENT_PACKAGES_DIR}/a/dir" "${CURRENT_PACKAGES_DIR}/some/other/dir")` to the port cmake, every

[2021-08-17 11:29] zichuan0320 opened #19617 "[yasm-tool:x64-windows] [Windows7] build failure"
**Host Environment**
- OS: [Windows7]
- Compiler: Visual Studio 2017

**To Reproduce**
$ vcpkg.exe install yasm-tool:x64-windows
Computing installation plan...
The following packages will be built and installed:
    yasm-tool[core]:x64-windows -> 1.3.0
Detecting compiler hash for triplet x64-windows...
Could not locate cached archive: C:\Users\libai\AppData\Local\vcpkg\archives\47\47be71aed1d96e48

[2021-08-17 11:52] sfhacker commented on #19596
Are we STILL having issues with icu? I thought all the 'recurring' issues were fixed!
We haven't had any issues so far.
@Qbort Wonder how we can reproduce this issue locally?

[2021-08-17 11:58] the-nerbs commented on #19605
Thanks for the fast response @NancyLi1013 !

I pulled the changes from your PR and confirmed that they resolve the issue I was seeing. If there's anything else I need to do, please let me know. Thanks!

[2021-08-17 13:14] gracicot commented on #19588
Hmm, I think this would be the way, if the author of the library decided to use a non-standard feature of the preprocessor, they should not compile with pedantic and warning as errors. Either the pragma or changing the warning configuration would be necessary.

The pragma could be a solution, also maybe there's a config missing. Does the library authors expects the build system to define `HOST_NAM

[2021-08-17 13:20] seccpur commented on #19604
Here's some relevant files related to debug built:
[CMakeError.log](https://github.com/microsoft/vcpkg/files/7000204/CMakeError.log)
[cmake_check_cache.zip](https://github.com/microsoft/vcpkg/files/7000219/cmake_check_cache.zip)

[2021-08-17 13:23] OlivierArgentieri opened #19619 "[openimageio[pybind11]:x64-windows] build failure"
**Host Environment**
- OS: Windows 64
- Compiler: MSVC 19.27.29111.0

**To Reproduce**
Steps to reproduce the behavior:
Edit \ports\pybind11\CONTROL and replace "Build-Depends: python3" to "Build-Depends: python2"
then
`./vcpkg install openimageio[pybind11]:x64-windows`

**Failure logs**
Console Log :
[code]
config-x64-windows-out.log:
[code]

./buildtrees/openimageio/x64-windows-dbg/CMakeFiles/CM

[2021-08-17 13:51] cenit commented on #19604
don't you have a file called CMakeCache.txt?

[2021-08-17 13:55] seccpur commented on #19604
This the CMakeCache.txt file. [CMakeCache.txt](https://github.com/microsoft/vcpkg/files/7000474/CMakeCache.txt)

[2021-08-17 14:23] TheKuko commented on #16116
I ended up with the same problem. I believe the root of the problem is that the build uses system's version of `giflib` instead of the one built by `vcpkg`.

When you look closely at the log that @Shreeshrii posted, you can see, for example, that during the build of `gifio.c` it uses `gif_lib.h` located at `/Library/Frameworks/Mono.framework/Headers` instead of the one that `vcpkg` downloaded and

[2021-08-17 15:23] cenit commented on #19604
not of opencv, but of your application.
also, since it’s opencv3, the line you called in vcpkg is ./vcpkg install opencv3[ffmpeg]

without the 3, it would install opencv4, or either you are overlaying opencv

[2021-08-17 15:32] Qbort commented on #19596
I'm not sure what to suggest. I have tried even just cloning vcpkg into an empty folder, bootstrapping and then trying to install. The only thing I have in my environment is `VCPKG_DEFAULT_TRIPLET=x64-windows` as a user environment variable. I can't think what else I might have that prevents me from installing.

The below would be steps to reproduce:
[code]

[2021-08-17 15:46] seccpur commented on #19604
My bad, its typos in this thread, as you can clearly see opencv3 is definitely in the  CMakeCache.txt file.

[2021-08-17 15:59] Qbort commented on #19596
@sfhacker @NancyLi1013 I've done some additional investigation because I know that I previously was able to install icu without issues (somewhere around the begining of this year). My computer is quite slow so it will take me several days to fully investigate the commit that caused the problem, but for now I can say that icu is building fine as of commit 7944ed328a10833c4a6b3ab3ff947b2a0b9f8d9b (1

[2021-08-17 17:14] autoantwort commented on #18086
It is a leftover from the previous version of the portfile. I removed it in #19620

[2021-08-17 17:16] playgithub commented on #18066
@Be-ing
So it is blocking.
If there is only a dependency graph, writing a cmake file with `ExternalProject_Add` / `FetchContent` to install the dependencies is much easier than debugging the bugs in the case.

[2021-08-17 17:36] sfhacker commented on #19596
@Qbort Have you tried some of the official binaries? [1]

[1] https://github.com/unicode-org/icu/releases/tag/release-69-1

[2021-08-17 18:32] Be-ing commented on #18066
I don't understand what that comment had anything to do with the discussion here.

[2021-08-17 19:58] autoantwort commented on #19619
Try adding a dependency to `pthread`

[2021-08-17 20:05] autoantwort commented on #19619
The other error happens here: https://github.com/Kitware/CMake/blob/master/Modules/FindPython/Support.cmake#L609

[2021-08-17 20:37] autoantwort opened #19623 "binary cache on macOS is not deterministic"
**Describe the bug**
On M1 macs you can build the vcpkg tool as arm64 or x64. But for some libs the resulting lib file has the same architecture as the vcpkg tool regardless of the selected triplet. So if you build the tool as arm64, you get arm64 libs, if you build the tool as x64, you get x64 libs. This problem is getting worse with binary caching, because the hash is the same for the arm64 and

[2021-08-17 21:43] cenit commented on #19604
so? is it working now?

[2021-08-17 22:38] Felipe21 commented on #19598
which version?

[2021-08-17 22:40] MrAviator93 commented on #19519
Again tried different ways but always the same:
Checking for module 'gtkmm-4.0'
  No package 'gtkmm-4.0' found

  I did try with other names as well.

  Also tried to reinstall vcpkg, but mine was already up to date and tried to reinstall the gtkmm package
  .\vcpkg.exe install gtkmm:x64-windows

  And it fails when building the fontconfig:
  Error: Building package fontconfig:x64-windows failed w

[2021-08-17 22:48] Be-ing commented on #19623
Do you mean that the architecture the vcpkg executable was built for with `./bootstrap-vcpkg.sh`?

[2021-08-17 22:53] autoantwort commented on #19623
Yes. On arm macs the default is arm64, but you can change it to x64 for example by `arch -x86_64 ./bootstrap-vcpkg.sh`. Then you get an x64 vcpkg tool

[2021-08-17 23:29] Felipe21 commented on #19544
I have installed it. im not using  anti virus and i have my firewall enabled im stuck with this since 4 days ago.
.
[code]

[2021-08-17 23:31] seccpur commented on #19604
Same.  It's not working in debug mode.

[2021-08-18 00:36] playgithub commented on #18066
As you can see, the issue has not been solved for 3 months,
so I'm trying to see if there is a better way globally.
After trying different C++ package mangers, I think Linux's native package manager is the best, default in
* /usr/include
* /usr/lib
* /usr/share
and if special build options for a lib are needed, it can be installed in
* /usr/local/include
* /usr/local/lib
* /usr/local/share
to over

[2021-08-18 01:35] NancyLi1013 commented on #19605
Thanks for your help @the-nerbs. Currently, there is nothing needs to be done now. Let's wait for the PR merged.

[2021-08-18 02:04] PhoebeHui commented on #19544
@Felipe21, could you attach C:\vcpkg\buildtrees\boost-build\bootstrap-x64-windows-out.log again? does it fail with same failures? The ctype.h file located in "C:\Program Files (x86)\Windows Kits\10\Include\10.0.19041.0\ucrt\ctype.h" for me, could you check it again?

[2021-08-18 02:08] PhoebeHui commented on #19617
@zichuan0320, could you attach failure log E:\vcpkg\buildtrees\yasm-tool\install-x64-windows-dbg-out.log?

[2021-08-18 02:08] seccpur commented on #19604
I am not sure how. Both are free from any run time error. Thanks for the support.

![buildok debug](https://user-images.githubusercontent.com/5178443/129825210-da315ce2-879e-46c4-80ce-eaf2876e9777.PNG)
![buildok release](https://user-images.githubusercontent.com/5178443/129825211-aa9c6a02-86ed-4eaf-8838-2013f585ec89.PNG)

[2021-08-18 02:08] #19604 closed

[2021-08-18 02:12] JackBoosY commented on #19623
As more and more users use M1 mac, this matter has become more urgent.
For bootstrap, we may need to make improvements immediately.
For pipeline machines, can we use half of the work for arm64-osx?

[2021-08-18 02:15] JackBoosY commented on #19613
cc @Neumann-A

[2021-08-18 02:22] JackBoosY commented on #18086
Hi guys, can you please test PR https://github.com/microsoft/vcpkg/pull/19620?

[2021-08-18 02:22] PhoebeHui commented on #18086
@johnnyschneider @zapcity, could you help test PR https://github.com/microsoft/vcpkg/pull/19620 and see if it works for you?

[2021-08-18 02:26] JackBoosY commented on #19598
@Felipe21 Each Windows 10 SDK would be okay.

[2021-08-18 02:28] NancyLi1013 commented on #19588
I think it would be better to report this issue to upstream. https://github.com/google/benchmark/

[2021-08-18 02:29] PhoebeHui commented on #19616
@cgurps, we're happy to accept a PR to fix this issue! please submit a PR for it, thank you!

[2021-08-18 02:30] JackBoosY commented on #19609
[code]
Maybe a permission issue. Can you please retry on non-system disk?

Thanks.

[2021-08-18 02:41] NancyLi1013 commented on #19619
Hi @OlivierArgentieri

Thanks for posting this issue.

Seems you didn't use the latest version. Could you please try to update to the latest vcpkg to rebuild this?
I can build it successfully on my machine.

[2021-08-18 02:42] JackBoosY commented on #19575
Please remove openblas:x64-windows then try again.

[2021-08-18 02:49] zichuan0320 commented on #19617
[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/7004158/install-x64-windows-dbg-out.log)

[2021-08-18 02:50] PhoebeHui commented on #19559
Closing in favor of https://github.com/microsoft/vcpkg/issues/16986.

[2021-08-18 02:50] #19559 closed

[2021-08-18 02:52] Felipe21 commented on #19544
Ok so i have reinstalled msvc 2017 downlaoded and installed vcpkg but when im installing the librarires Im getting the same error as him. i have my firewall disabled, the ports are allowed by modem
[code]
now im using msvc 2017 but cheked both 2019 and 2017
[code]

[2021-08-18 03:03] PhoebeHui commented on #19617
@zichuan0320, it's due to  Python 3.9 has dropped support for Windows 7. See a possible workaround for this in https://github.com/microsoft/vcpkg/issues/17924#issuecomment-841861494.

[2021-08-18 04:52] celadaris commented on #15333
my original problem was that i did not know i had to do the following:
1. add `<vcpkg_dir>/installed/x64-windows/include/OGRE` to C/C++ -> General -> Additional Directories explicitly in MSbuild project.
2. add `<vcpkg_dir>/installed/x64-windows/lib/manual-link/OgreMain.lib` as Linker-> Input -> Additional Dependencies

but your instructions solved that!

As for updating #include "OgreRTShaderSyst

[2021-08-18 05:50] PhoebeHui commented on #19544
@Felipe21, you need install windows sdk, open VS installer and select the windows sdk.

![image](https://user-images.githubusercontent.com/20694052/129844047-4885511a-b11a-4a21-8abd-36c56b9ec4f4.png)

![image](https://user-images.githubusercontent.com/20694052/129844323-9acb77a8-8277-4d5c-a621-37e19aed1089.png)

[2021-08-18 05:59] zichuan0320 commented on #19617
@PhoebeHui，Hello, the above problems have been solved! Sincerely thank you for your help! I wish you success in your work and a happy life! thank you！

[2021-08-18 05:59] #19617 closed

[2021-08-18 06:13] JackBoosY commented on #19544
[code]
Seems like your anti-virus deleted the generated executable automaticly.

[2021-08-18 06:14] NancyLi1013 commented on #15333
Thanks for your clarification. I will try this on my machine and will update the status once completed.

[2021-08-18 08:27] Neumann-A commented on #19623
Just like the dumpbin check on windows vcpkg should integrate a lipo check on osx an probably some kind of arch check on normal linux. It is probably way easier to implement on the other platforms since vcpkg can simply assume that the required tools are available on the path.

[2021-08-18 09:01] NancyLi1013 commented on #19611
Hi @XWarin

Thanks for posting this issue.

From config-x64-windows-out.log, found this:
[code]
Seems like `stopt ` needs to depend on `zlib`, but you didn't add it as the dependency. Could you please help check this? Or share `stopt` port in your registry repo if possible.

From CMakeLists.txt in StOpt-v4.1 folder, I found the following codes:
[code]

[2021-08-18 09:12] Bauxitedev commented on #1681
So why exactly is this closed? You still can't install a specific version from the command line it seems.

[2021-08-18 09:24] JonLiu1993 commented on #19367
@EvanAW, openimageio has been updated to 2.2.17, please update vcpkg to use it

[2021-08-18 09:24] #19367 closed

[2021-08-18 09:27] JonLiu1993 commented on #18004
@romainaugier ,OpenColorIO has been updated to 2.2.17, please update vcpkg to use it

[2021-08-18 09:27] #18004 closed

[2021-08-18 09:30] OlivierArgentieri commented on #19619
Hi @NancyLi1013

Thanks for your answer.

I'm using the latest version of VCPKG : 2021.05.12
I have retest in the latest version 2021.05.12

And sorry, but i forgot some step in "To Reproduce" ....

So, i will an update here :
**To Reproduce**
Edit \ports\pybind11\CONTROL and replace "Build-Depends: python3" to "Build-Depends: python2"
Edit \ports\pybind11\portfile.cmake and replace all python3 by

[2021-08-18 10:11] NancyLi1013 commented on #15333
I can reproduce this on my machine with 1.12.9. But since the .dll files are from external binaries instead of built by vcpkg.

We recommend to use all the binaries from vcpkg. I noticed these .dll files are also provided by vcpkg.

So could you please try to copy these .dll files to your project and rebuild this?

[2021-08-18 10:16] NancyLi1013 commented on #19619
The latest vcpkg version is 2021-08-12-85ab112d5ee102bc6eac8cdbbfdd173a71374e04.

The CONTROL file has been updated as vcpkg.json file in `pybind11`.

So please use `git pull` to update vcpkg and run `.\bootstrap-vcpkg.bat` before you build this again.

[2021-08-18 10:28] Neumann-A commented on #19613
needs the config.log. But I assume some linkage issue with assimp.

[2021-08-18 10:29] OlivierArgentieri commented on #19619
Ok, thank you for your answer.

After git pull i got the same result as before :
[code]

[2021-08-18 10:44] XWarin commented on #19611
Hi

Yes StOpt needs zlib and many boost libs.
The package works correctly without versioning. Meaning that using  the
library

https://gitlab.com/stochastic-control/StOpt

and the configuration i made

https://gitlab.com/stochastic-control/vcpkg-registry

I was able to build the package.

Using the package in a second one with jason file

{  "name": "goestov2",  "version": "1.0.0",    "dependencie

[2021-08-18 10:49] mukeshhope commented on #19609
Hi Jack..
I started command prompt as administrator.
I do not have a non-system disk right now on my computer.
Thankyou for your response

[2021-08-18 11:21] caizhe666 opened #19634 "[cryptopp x64] vcpkg.exe has crashed."
**Describe the bug**
vcpkg has crashed

**Environment**
- OS: Windows
- Compiler: VS2019

**To Reproduce**
Steps to reproduce the behavior:
1.  vcpkg install cryptopp:x64-windows
2. See error

**Expected behavior**
CRASHED,It crashes on any terminal!

**Failure logs**
[code]

**Additional context**
install-x64-windows-rel-out.log:
[code]
install-x64-windows-dbg-out.log:
[code]

[2021-08-18 12:28] gebdadendo opened #19635 "[halide:x64-linux] build failure"
**Host Environment**
- OS: Ubuntu 20.04
- Compiler: GNU 10.3.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install halide-x64-linux --editable`

**Failure logs**
-Cut and past the appropriate build messages from the console output.
1:
----------------
./vcpkg install halide:x64-linux --editable
Computing installation plan...
The following packages will be built and installed:
    h

[2021-08-18 12:36] KrasnovPavel commented on #19613
@Neumann-A
config.log:
[code]

[2021-08-18 12:52] Neumann-A commented on #19613
looks like a broken assimp installation or a broken .pc file? which vcpkg commit is that? One before d679a1e0befa9c9e36fcda169c94f6daba2224b7or after?

[2021-08-18 13:48] Be-ing commented on #18066
Discussing other package managers is off topic. I'm not interested in investing weeks of work switching. If you're only writing software for Linux then there is no need for vcpkg nor wxWidgets.

[2021-08-18 14:06] niclar commented on #19597
The windows version now work, linux remaining...  then I'll file a PR

[2021-08-18 14:55] gracicot commented on #19588
@NancyLi1013 I reported the bug upstream, waiting for the response

[2021-08-18 15:25] ocornut commented on #14753
We decided to bite the bullet and we are working toward embedding our own minimalist OpenGL loader into the backend, in order to put in end to that endless amount of confusion/misery caused by the OpenGL loaders.

We already have a version working and we'll either aim to use it in 1.84 or right after 1.84 is released.

TL;DR; ihmo don't put effort into solving this on your end.

[2021-08-18 16:51] MidwestB commented on #18328
Hello, I was having the exact same issues as nlogozzo but am still trying to work with gtkmm.  Following Neumann-A's suggestions, I set PKG_CONFIG_EXECUTABLE to the absolute path of pkgconf.exe (I used the pkgconf port of vcpkg) as a variable in my project's CMakeSettings.json.  I have copied the CMakeLists.txt of Pr0curo's example and my project actually compiles now!  However, I now get linker e

[2021-08-18 20:11] Neumann-A commented on #18328
that is because libffi's pc file is wrong. It links -lffi on windows which is wrong (it needs to be -llibffi).
You can manually adjust libffi.pc or provide a fix for it which replaces `VCPKG_TARGET_IS_MINGW` with `VCPKG_TARGET_IS_WINDOWS`

[2021-08-18 20:26] Neumann-A opened #19642 "[libffi] wrong library name on windows"
currently: `libffi` (on windows due to custom CMakeLists.txt)
upstream probably:  just `ffi` (since upstream uses autotools)

Issue: pc file is incorrect for windows due to `-lffi`.

[2021-08-18 22:31] camarois commented on #18214
Is this issue still ongoing? I believe some features are linked in the vcpkg.json (like s3-crt), but aren't available with the current 1.8.126 version. Should be at least 1.9.1

[2021-08-18 22:52] aisnote opened #19646 "cpprestsdk:x64-windows-static build failure with set(VCPKG_PLATFORM_TOOLSET v141)"
**Host Environment**
- OS: [e.g. Windows/Linux etc...]
- Compiler: revision
Windows 10, VS2017

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install xxxx`

set(VCPKG_PLATFORM_TOOLSET v141)
.\vcpkg.exe install cpprestsdk:x64-windows-static

**Failure logs**
-Cut and past the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the

[2021-08-19 00:14] #19537 closed

[2021-08-19 00:18] #19449 closed

[2021-08-19 01:46] JonLiu1993 commented on #15899
Sloved by #19536

[2021-08-19 01:52] JonLiu1993 commented on #18214
I will submit a pr update to latest version

[2021-08-19 01:53] aizuon opened #19647 "[ffmpeg] build failure"
**Host Environment**
- OS: Windows 10 latest
- Compiler: msvc 14.2

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg install ffmpeg[avcodec,avdevice,avfilter,avformat,avresample,bzip2,core,fdk-aac,ffmpeg,freetype,gpl,lzma,mp3lame,nonfree,nvcodec,opencl,opengl,openh264,openjpeg,openssl,opus,postproc,sdl2,snappy,swresample,swscale,vorbis,vpx,x265,zlib]:x64-windows-static`

**Failure logs**
N

[2021-08-19 02:08] PhoebeHui commented on #19634
@caizhe666, could you get vcpkg latest source and see if this issue still repro?

[2021-08-19 02:49] shanepowell commented on #18214
It is for me, I like to try to get all my libraries from vcpkg but this one I can't as I am using stuff not in the 1.8 branch compiled with vcpkg.  Currently I'm compiling / setting up this library manually.

[2021-08-19 02:57] JonLiu1993 commented on #19609
@mukeshhope ,I can't produce the error in system disk ,please use powershell as administrator to try again
[code]

[2021-08-19 03:06] JackBoosY commented on #19647
Can you please add option `--debug` to the install command and provide the full output?

Thanks.

[2021-08-19 04:26] evalen43 opened #19649 "wxwidgets:x64-linux build failure"
**Host Environment**
- OS: [e.g. Windows/Linux bash terminal]
- Compiler: gnu 7.5

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install wxwidgets:x64-linux`

**Failure logs**
-Cut and past the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

**Additional context**
Call Stack (most recent call first):

[2021-08-19 04:54] abortabort opened #19650 "[gmp: x64-windows-static-md] build failure"
**Host Environment**
- OS: Win10 (21H1)
- Compiler: msvc2019

**To Reproduce**
Steps to reproduce the behavior:
'vcpkg install gmp:x64-windows-static-md`

**Failure logs**
[code]

[2021-08-19 05:49] JonLiu1993 commented on #19649
@evalen43 ,Thanks for posting this issue,please provide the error log.

[2021-08-19 06:40] KrasnovPavel commented on #19613
It was before d679a1e. I've updated vcpkg and now it builds. Thanks.

[2021-08-19 06:40] #19613 closed

[2021-08-19 06:55] caizhe666 commented on #19634
Yes, I tried the latest version(2021-08-12-85ab112d5ee102bc6eac8cdbbfdd173a71374e04) and still crashed

[2021-08-19 07:22] dg0yt commented on #19649
IIRC wxwidget needs gtk3 for Linux, but this is not available in vcpkg (was replaced by gtk4). You may need to install gtk3 dev system packages. wxwidets for Linux is skipped in vcpkg CI.
But please check the port build logs first.

[2021-08-19 07:46] cenit opened #19651 "installing package head versions is now broken"
**Describe the bug**
latest vcpkg tool has broken downloading port head versions

**Environment**
all

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install darknet --head
2. See error

**Expected behavior**
port head version to be downloaded

[code]

**Additional context**
it fails on all machines I have tried, even on github actions, consistently since latest vcpkg tool update
htt

[2021-08-19 08:43] PhoebeHui commented on #19634
@caizhe666,t thanks for your reply!

Could you execute 'vcpkg install cryptopp:x64-windows --debug' and attach the failure logs?

[2021-08-19 09:18] Neumann-A opened #19653 "[vcpkg|msys] Update autconf to 2.71"
currently 2.69

https://packages.msys2.org/base/autoconf

[2021-08-19 09:27] JonLiu1993 commented on #19646
@aisnote ,Thanks for posting this issue,please reinstall zlib,then try again.

[2021-08-19 09:29] aizuon commented on #19647
[code]

[2021-08-19 09:47] JackBoosY commented on #19647
Can you please pull the latest and rerun bootstrap script then try again?

Thanks.

[2021-08-19 09:50] aizuon commented on #19647
Still the same issue

[2021-08-19 09:58] aizuon commented on #19647
I havent updated vcpkg-cmake:x64-windows and vcpkg-cmake-config:x64-windows because updating these also recompiles qt framework which takes quite a bit of time. Could it be because of this? x86 installation also fails with the same error though.

[2021-08-19 10:07] caizhe666 commented on #19634
[debug.txt](https://github.com/microsoft/vcpkg/files/7013553/debug.txt)
vcpkg crashes when it runs to the end of the above TXT file

[2021-08-19 10:53] mukeshhope commented on #19609
Hello Jon,

Today once again I performed a git pull and then run the command as an administrator but again I faced same error
![error](https://user-images.githubusercontent.com/18657453/130056843-450406ce-271a-4ed2-b800-94e8c31f0704.png)

[2021-08-19 11:15] xavier2k6 commented on #19563
@JonLiu1993 harfbuzz is now at 2.9.0
https://github.com/harfbuzz/harfbuzz/releases/latest

[2021-08-19 12:12] caizhe666 commented on #19634
I just tried to reinstall cmake, which solved the problem. Thanks for your help. If I still have problems, I will open another issue

[2021-08-19 12:12] #19634 closed

[2021-08-19 12:32] qugang commented on #18901
Solve it? I also encountered the same problem!

[2021-08-19 14:24] sighingnow commented on #18901
Hi @qugang and @zjmnssy,

I don't have a test environment with QT to verify the problem, but I believe the following code works, where the `etcd-cpp-api.dll`, as well as its dependencies are all in `PATH`.

Maybe you folks could use this alternative for your purpose?

[code]

[2021-08-19 14:26] jgehw commented on #19395
You're using **very** outdated vcpkg (must be older than Nov 2020 because tensorflow was upgraded to 2.x via #13028). Apparently third party dependencies aren't available for download any longer for this ancient tensorflow port version.  Current tensorflow port version is 2.4.1. Please update vcpkg.

[2021-08-19 14:30] ocornut commented on #14753
The dear imgui opengl backend now embeds its own loader, simplifying a lot the trouble people had and hte packaging problem for vcpkg. See https://github.com/ocornut/imgui/issues/4445

[2021-08-19 16:19] MidwestB commented on #18328
It worked!  Thank you so much for the help!

I manually changed -lffi to -llibffi in the libffi.pc files at `C:\dev\vcpkg\installed\x64-windows\lib\pkgconfig` and `C:\dev\vcpkg\installed\x64-windows\debug\lib\pkgconfig` and that got it to work.

I then found that `VCPKG_TARGET_IS_MINGW` was specified in the libffi portfile in `C:\dev\vcpkg\ports\libffi` and changed it to `VCPKG_TARGET_IS_WINDOWS`.

[2021-08-19 17:42] zapcity commented on #18086
@PhoebeHui I tried testing #19620 but seem to get the same errors (if I'm testing this right):

Commands used:

[code]

Output:

[code]

E:\dev\projects\projectx\vcpkg\buildtrees\icu\build-x64-windows-static-dbg-err.log

[code]
Local repo:

![image](https://user-images.githubusercontent.com/37337474/130117465-3ce46786-c290-4543-be6c-a04332ac174e.png)

[2021-08-19 18:09] Hoikas commented on #19647
This is the same as #19260. Unfortunately vcpkg versioning is defective by design in classic mode. To fix this, you will need to update the vcpkg-cmake port to the latest.

[2021-08-19 20:07] emmedve1 commented on #19651
This seems to be where it all happened:

[code]

`99e06a64e^` builds fine, `99e06a64e` fails like above

[2021-08-19 21:22] Neumann-A opened #19656 "[vcpkg_from_git] FETCH_REF not correctly working"
Problem: `FETCH_REF` will change the name of the **downloaded archive** to whatever was passed as a parameter to `FETCH_REF`. This leads to problems where multiple `vcpkg_from_git` in the same portfile using `FETCH_REF` will not download anything new even if the URL is different. Furthermore it leads to errors while updating a `REF` within the call since vcpkg will think it already has the correct

[2021-08-20 02:06] Be-ing commented on #19649
Please note there also serious issues with the wxWidgets port on Linux currently. Fixing those is in progress in #17111.

[2021-08-20 02:08] Cheney-W commented on #532
Thansk for reporting this issue. It has been fixed, please use the latest vcpkg.

[2021-08-20 02:08] #532 closed

[2021-08-20 02:10] JackBoosY commented on #19647
Yes, please re-install `vcpkg-cmake`.

[2021-08-20 02:16] JackBoosY commented on #16631
We need the next release.

[2021-08-20 02:20] Be-ing opened #19662 "application build features in manifest mode"
****

**Is your feature request related to a problem? Please describe.**
vcpkg port manifests can specify various features to toggle build options, which can also selectively pull in dependencies. However, there is no way to use different features of a vcpkg.json manifest file when building an application which uses vcpkg for its dependencies.

**Proposed solution**
Add parameters to `vcpkg instal

[2021-08-20 04:55] wedadsallam2020 opened #19663 "[colmap] Build failure"
**Describe the bug**
Error: Building package colmap:x64-windows failed with: BUILD_FAILED

- OS: Windows
- Compiler: revision
colmap:x64-windows
- Vcpkg version: 2021-08-12-85ab112d5ee102bc6eac8cdbbfdd173a71374e04

![Screenshot (9)](https://user-images.githubusercontent.com/72740859/130180902-1c6c39bf-ee63-425a-8e50-86059eec3e08.png)

[2021-08-20 05:59] JonLiu1993 commented on #19663
@wedadsallam2020 ,Could you please provide the error log?

[2021-08-20 06:20] Osyotr commented on #16631
Big thanks!
Would be cool to also have more precise analyzing of compiler to handle abi-breaking releases of compilers.

[2021-08-20 06:22] PhoebeHui commented on #19266
@HongGan, have you solved the problem?

[2021-08-20 06:24] PhoebeHui commented on #19544
@Felipe21, have you solved the problem?

[2021-08-20 06:33] Cheney-W commented on #745
Verified on VS2019 with VS2015 toolset, this issue remains.

[2021-08-20 06:49] NancyLi1013 commented on #19611
Hi @XWarin

As I said above, you need to add `zlib `and `bzip2 ` to the dependency lists of `stopt` in your registries.

I can reproduce this issue on my local with the following files:
vcpkg-configuration.json:
[code]
vcpkg.json is the same as your above.

The reason why you encountered this issue only on versioning in manifest mode instead of the classic mode is that in manifest mode, there will

[2021-08-20 07:46] HoLue commented on #19395
Thanks! But how can I upgrade vcpkg?

[2021-08-20 07:49] BenXu86 opened #19664 "Could not parse version for tool 7zip. Version string was: 19.00"
**Describe the bug**
A clear and concise description of what the bug is.

**Environment**
- OS: Windows 10
- Compiler: vs2019

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install zlib:x64-windows
2. See error
Repro code when

**Expected behavior**
A clear and concise description of what you expected to happen.

**Failure logs**
Warning: Different source is available for vcpkg (202

[2021-08-20 08:08] JonLiu1993 commented on #19395
@HoLue ,Please recreate a folder and clone vcpkg and try again.thanks

[2021-08-20 08:45] PhoebeHui commented on #18894
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now, consider making a pull request instead.

[2021-08-20 08:45] #18894 closed

[2021-08-20 08:45] PhoebeHui commented on #18904
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now, consider making a pull request instead.

[2021-08-20 08:45] #18904 closed

[2021-08-20 08:45] PhoebeHui commented on #18913
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now, consider making a pull request instead.

[2021-08-20 08:45] #18913 closed

[2021-08-20 08:46] PhoebeHui commented on #19042
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now, consider making a pull request instead.

[2021-08-20 08:46] #19042 closed

[2021-08-20 08:46] PhoebeHui commented on #19025
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now, consider making a pull request instead.

[2021-08-20 08:46] #19025 closed

[2021-08-20 08:50] PhoebeHui commented on #18735
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now, consider making a pull request instead.

[2021-08-20 08:50] #18735 closed

[2021-08-20 08:50] PhoebeHui commented on #18797
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now, consider making a pull request instead.

[2021-08-20 08:50] #18797 closed

[2021-08-20 08:51] PhoebeHui commented on #18864
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now, consider making a pull request instead.

[2021-08-20 08:51] #18864 closed

[2021-08-20 08:54] JackBoosY commented on #19662
Can you please provide an example?
The manifest mode already provides port feature selection.

[2021-08-20 08:55] JackBoosY commented on #19663
Will be fixed by https://github.com/microsoft/vcpkg/pull/19628.

[2021-08-20 09:09] XWarin commented on #19611
Done. Adding all the dependencies solves the problem.
Thank you very much.
Regards

Xavier

Le ven. 20 août 2021 à 08:49, NancyLi1013 ***@***.***> a
écrit :

[2021-08-20 09:10] PhoebeHui commented on #14257
If you wish to add this port in the future, you can reopen this issue, and continue PR https://github.com/microsoft/vcpkg/pull/14903.

[2021-08-20 09:10] #14257 closed

[2021-08-20 09:12] PhoebeHui commented on #12913
If you wish to add this port in the future, you can reopen this issue, and continue PR #7800.

[2021-08-20 09:12] #12913 closed

[2021-08-20 09:18] NancyLi1013 commented on #19611
Please let me know if you still have other concerns about this issue.

[2021-08-20 09:20] XWarin commented on #19611
No everything works.
You can close it.
Thank you once again.

Le ven. 20 août 2021 à 11:19, NancyLi1013 ***@***.***> a
écrit :

[2021-08-20 09:24] PhoebeHui commented on #19664
@BenXu86, could you get vcpkg latest source via 'git pull' and '.\bootstrap-vcpkg.bat', then try again?

[2021-08-20 09:25] PhoebeHui commented on #14698
If you wish to add this port in the future, you can reopen this issue, and continue PR #14819.

[2021-08-20 09:25] #14698 closed

[2021-08-20 09:28] NancyLi1013 commented on #19596
@Qbort

Could you please help check if there is any Antivirus software on your machine?

If you installed, please disable it and try to rebuild this.

[2021-08-20 09:30] PhoebeHui commented on #8182
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now, consider making a pull request instead.

[2021-08-20 09:30] #8182 closed

[2021-08-20 09:34] PhoebeHui commented on #17674
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now, consider making a pull request instead.

[2021-08-20 09:34] #17674 closed

[2021-08-20 09:36] #19611 closed

[2021-08-20 09:36] PhoebeHui commented on #17443
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now, consider making a pull request instead.

[2021-08-20 09:36] #17443 closed

[2021-08-20 09:37] PhoebeHui commented on #16351
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now, consider making a pull request instead.

[2021-08-20 09:37] #16351 closed

[2021-08-20 09:40] PhoebeHui commented on #18871
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now, consider making a pull request instead.

[2021-08-20 09:40] #18871 closed

[2021-08-20 11:44] autoantwort commented on #19662
I think you want to use the `--x-feature=` option. E.g. if you have a feature `foo` in your `vcpkg.json` file you have to do `vcpkg install --x-feature=foo`

[2021-08-20 11:52] ConceptualWempa commented on #19490
alternately, could a command-line option be provided to direct vcpkg to use an already-installed 7z as a workaround?

[2021-08-20 12:08] caizhe666 opened #19667 "[boost-atomic] build failure"
**Host Environment**
- OS: Windows
- Compiler: VS2019

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg install 3fd:x64-windows --no-binarycaching --debug`

**Failure logs**
[code]

**Additional context**
build-x64-windows-rel-out.log:
[code]

[2021-08-20 13:06] srgbtl commented on #19495
@BillyONeal @ras0219-msft Looking forward to hear any feedback and/or vision on this issue. We really need this feature, and I'm wondering whether to switch to fork to use it.

[2021-08-20 13:07] Be-ing commented on #19662
How would I use a command line argument to the vcpkg executable with the CMake toolchain?

[2021-08-20 13:10] autoantwort commented on #19662
See [here](https://github.com/microsoft/vcpkg/blob/master/docs/users/manifests.md#vcpkg_manifest_features)

[2021-08-20 13:12] Be-ing commented on #19662
Ah, thanks. That would satisfy my use case. Sorry for the noise.

[2021-08-20 13:12] #19662 closed

[2021-08-20 13:15] SamuelMarks opened #19669 "[curl] Find from brew, system, or vcpkg?"
I've been using this for a while https://github.com/SamuelMarks/curl-simple-https/blob/90e16a9/cmake/FindCurlCustom.cmake

Also hacked together things like this before:
[code]

Now really it would be good to have whatever version is installed "just work", with a preference for whatever is specified in the toolchain file (if offered), then brew, then OS level.

One confusing thing is:
[code]

The w

[2021-08-20 13:57] autoantwort commented on #19669
So
[code]
works? The supported COMPONENTS you can lookup the the cmake documentation: https://cmake.org/cmake/help/latest/module/FindCURL.html

[2021-08-20 14:41] paulcleggSIG commented on #19490
Allowing us to pass in the location of an existing 7z v19 exe would work for us as well.

[2021-08-20 14:54] thomasgt commented on #17448
I've also experienced this problem. In my case, it happens when installing `brotli` on a project that uses a `vcpkg.json` manifest file. I am working in VS Code with the C++ and CMake extensions, and I notice the error when configuring the project, which triggers vcpkg to build and install my dependencies because I am using a manifest file. If I launch VS Code from my desktop or Start menu, the pr

[2021-08-20 15:10] dg0yt commented on #19669
Please note that there are two different modes of `find_package`.
- Module mode. Old school. This is what is provided by module `FindCURL` from CMake itself (i.e. depends on CMake version), and it needs to get complementary information from `vcpkg_cmake_wrapper.cmake` in vcpkg port curl. Documentation is part of CMake.
[code]
  will look only for a find module.
- Config mode. Modern CMake. This wh

[2021-08-20 16:17] dg0yt commented on #19669
For more information, remove the `QUIET` and/or share logs. The config also depends on dependencies (port features).

[2021-08-20 17:28] adamgranthendry commented on #18086
Same issue. Error log states:

[code]

[2021-08-20 17:38] HoLue commented on #19395
Thanks, this worked!

[2021-08-20 17:38] #19395 closed

[2021-08-20 17:46] autoantwort commented on #18086
@adamgranthendry Sorry, but as far I can see this is complete different issue. Please open a new issue for that.

For the rest: Can you test my new PR #19672?

[2021-08-20 17:51] adamgranthendry commented on #18086
@autoantwort Ah I see. Yes, I will open a new issue. Thank you.

[2021-08-20 18:18] adamgranthendry opened #19673 "Install `icu` Error: Cannot find `icutu69.dll`"
## Problem
Running `vcpkg install icu` (triplet set with `VCPKG_DEFAULT_TRIPLET=x64-windows`) fails with the following error log message:

[code]

## Environment
- **OS**: Windows 10 Enterprise x64, Build 1909
- **Compiler**: Visual Studio 2017 Community, v15.9.38
- **Vcpkg version**: 2021-08-12-85ab112d5ee102bc6eac8cdbbfdd173a71374e04

## Steps to Reproduce

### `vcpkg` Setup
[code]

### Install

[2021-08-20 18:22] adamgranthendry commented on #18086
@autoantwort Please see [Install icu Error: Cannot find icutu69.dll #19673](https://github.com/microsoft/vcpkg/issues/19673)

[2021-08-20 18:32] BillyONeal commented on #19490
If it's ok the PATH I think we use that one? Not positive...

[2021-08-20 19:06] adamgranthendry opened #19674 "`vtk-m[cuda]` Install Fails"
## Problem
Running `vcpkg install vtk-m[cuda]` (triplet set with `VCPKG_DEFAULT_TRIPLET=x64-windows`) fails to build with Visual Studio 2017.

## Environment
- **OS**: Windows 10 Enterprise x64, Build 1909
- **Compiler**: Visual Studio 2017 Community, v15.9.38
- **Vcpkg version**: 2021-08-12-85ab112d5ee102bc6eac8cdbbfdd173a71374e04
- **CMake version**: 3.21.0-rc2

## Steps to Reproduce

### `vcpkg

[2021-08-20 19:15] adamgranthendry commented on #19674
Investigation of the output log reveals the same error repeating itself:

[code]

[2021-08-20 19:18] gnaggnoyil opened #19675 "[llvm] build failure with msvc reports C1083 error in a directory with slightly longer path"
**Host Environment**
- OS: Windows 10 20H1 19043
- Compiler: MSVC 19.29.30133 installed with VS2019
- Registry `HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\FileSystem\LongPathsEnabled` has type `DWORD` and value set to `1`

**To Reproduce**
Steps to reproduce the behavior:
* `cd C:\; mkdir aaaaa\bbbbbbbbbb\ccccccc\ddddd; cd aaaaa\bbbbbbbbbb\ccccccc\ddddd`
* `git clone https://github.com/mi

[2021-08-20 19:27] zapcity commented on #18086
#19440 seems to have fixed this issue for me. I removed the #19620 commits and just went back to the master branch and upgraded to receive the new updates i.e. #19440. This seems to address the issue with compiling the static versions of icu. Thanks!

[2021-08-20 19:58] Neumann-A commented on #19675
Qt just prints w warning if the path is too long. It is a build system limitation and nothing vcpkg can really solve. As such just move it to a shorter path. One of the `qtquick*` ports has the most severe case of long path issues as far as I know.

[2021-08-20 20:16] yurybura commented on #19635
Could you re-install llvm? Maybe only Debug configuration was installed.
[code]

[2021-08-20 21:30] adamgranthendry commented on #19674
For some reason, installing `paraview` first then made it so that installing `vtk[cuda]` was fine. Either that, or it was because I then installed Visual Studio 2019...not sure.

[2021-08-20 21:30] adamgranthendry commented on #19673
For some reason, installing `paraview` first then made it so that installing `icu` was fine. Either that, or it was because I then installed Visual Studio 2019...not sure.

[2021-08-20 23:05] InfRandomness opened #19676 "[llvm] update to version 12.0.1"
Library name: LLVM

New version number: 12.0.1

Other information that may be useful (release notes, etc...)
https://llvm.org/docs/ReleaseNotes.html

[2021-08-21 00:21] SamuelMarks commented on #19669
Interesting, turning off `QUIET` gave me:

[2021-08-21 00:34] adamgranthendry commented on #9223
I'm confused. Is this a false negative?

[2021-08-21 00:35] SamuelMarks opened #19678 "[tinyfiledialogs] build failure, /debug/lib/tinyfiledialogs.lib does not exist"
**Host Environment**
- OS: Windows
- Compiler: 19.29.30040 (MSVC)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install tinyfiledialogs:x86-windows tinyfiledialogs:x64-windows`

**Failure logs**
Error on on `target_link_libraries`:
The imported target "tinyfiledialogs::tinyfiledialogs" references the file

     "vcpkg/packages/tinyfiledialogs_x86-windows/debug/lib/tinyfiledialogs.lib

[2021-08-21 01:04] adamgranthendry commented on #16639
I'm confused. Is this a false negative? I have more than plenty of RAM on my machine (192 GB), but please let me know. I receive this message when running

[code]

and I have set `VTK_DEFAULT_TRIPLET` to `x64-windows`.

If not, what needs to be done to fix this "error"? In lines `119-123` of the `itk` `portfile.cmake` file:

[code]

[2021-08-21 01:38] byxrolland opened #19680 "[eigen] update to 3.4"
Library name: eigen

New version number: 3.4

Please upgrade the package to version 3.4. Thank you.
http://eigen.tuxfamily.org/index.php?title=3.4

[2021-08-21 04:10] Jonah42 opened #19681 "[WSL2] Catch2 build failure"
**Host Environment**
- OS: wsl2 (Ubuntu-18.04) running on Windows10
- Compiler: CMake + ninja (clang)

Running an install script I didn't write gives me the following: (same install script worked a few weeks ago)

[code]
The log referred to above is included here:
[code]

The script worked a few weeks ago but now doesn't. I've updated wsl and restarted wsl. No updates found with `./vcpkg update`.

[2021-08-21 05:57] dg0yt commented on #19669
I guess this is caused by a missing transitive dependency. CMake should create its own log files. And probably there should be some output lines before the CURL line.

[2021-08-21 07:51] aizuon commented on #19647
this fixed it

[2021-08-21 07:51] #19647 closed

[2021-08-21 09:32] Neumann-A commented on #19674
that is not the error. the stdc++14 flag warning is the error. update cuda to 11.4 and it will work

[2021-08-21 10:01] shash29-dev opened #19682 "cmake can't configure glfw3 after vcpkg install && integrate install."
My CmakeLists.txt
`cmake_minimum_required(VERSION 3.0.0)
project(alpha VERSION 0.1.0)

include(CTest)
find_package(glfw3 CONFIG REQUIRED)
find_package(hdf5 CONFIG REQUIRED)
enable_testing()

add_executable(alpha main.cpp)
target_link_libraries(alpha PRIVATE glfw)
target_link_libraries(alpha PRIVATE hdf5::hdf5-shared hdf5::hdf5_hl-shared)
set(CPACK_PROJECT_NAME ${PROJECT_NAME})
set(CPACK_PROJECT_VE

[2021-08-21 11:05] shash29-dev commented on #6697
Same issue.
Visual Studio can't find GLFW.
Also,
find_package(glfw3 CONFIG REQUIRED) returns same error as in this thread.

Vcpkg package management program version 2021-08-12-85ab112d5ee102bc6eac8cdbbfdd173a71374e04

[2021-08-21 11:35] qugang commented on #18901
changge CMakeLists.txt 29 lines option(BUILD_SHARED_LIBS "Build shared libraries" OFF)
copy etcd-cpp-api.lib to vcpkg\installed\x64-windows\debug\lib
After recompiling, solve the problem!

windows need lib and dll or use LoadLibrary and GetProcAddress load dll

[2021-08-21 11:43] mathisloge commented on #19680
https://github.com/microsoft/vcpkg/pull/19665

[2021-08-21 12:13] xavier2k6 commented on #19676
@InfRandomness see https://github.com/microsoft/vcpkg/issues/19568

[2021-08-21 12:43] autoantwort commented on #19682
Can you please properly format your issue with code blocks: https://www.markdownguide.org/extended-syntax#fenced-code-blocks

[2021-08-21 13:22] #19682 closed

[2021-08-21 13:38] InfRandomness commented on #19676
Closed as duplicate of #19568

[2021-08-21 13:46] InfRandomness commented on #19676
@xavier2k6

Just to make sure, I meant the LLVM package, are we on the same page ?

[2021-08-21 13:56] vadi2 opened #19683 "vcpkg unable to determine architecture"
vcpkg stopped working without an obvious reason to cause it:

[code]

Using vcpkg 4b222f8 on an Intel chromebook:

[code]

What could be wrong?

[2021-08-21 13:59] kcgen opened #19684 "[libmt32emu] update from 2.5.0 to 2.5.3"
**Library name:** libmt32emu

**New version number:** 2.5.3 (tag)

**Other information:**
 - [release notes](https://github.com/munt/munt/blob/libmt32emu_2_5_3/mt32emu/NEWS.txt)

	2.5.3 released 2021-08-07:

	* Fixed possible access to uninitialised rhythm timbre memory when using MT-32 control ROM.
	  With control ROMs 2.04 and above, the entire rhythm timbre memory is now initialised
	  as the r

[2021-08-21 14:40] BenXu86 commented on #19664
I try again. But I still get the same error.

[2021-08-21 14:49] autoantwort commented on #19683
https://github.com/microsoft/vcpkg/blob/025e564979cc01d0fbc5c920aa8a36635efb01bb/scripts/buildsystems/vcpkg.cmake#L239-L337

Maybe check the values of the variables that are checked in the code. Maybe they are empty?

[2021-08-21 15:09] xavier2k6 commented on #19676
I was only referring to the tool being updated too, see below - onwards.

https://github.com/microsoft/vcpkg/issues/19570#issuecomment-900011501

Your port update is still valid as far as I can see.

[2021-08-21 15:12] nicolasfella opened #19685 "[qt5-imageformats] build failure of dependant projects"
**Host Environment**
- OS: OpenSUSE Tumbleweed
- Compiler: gcc 11.1.1

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install kf5i18n`

**Failure logs**
[code]
**Additional context**
Only the debug variant fails, the release variant builds fine

The issue is in how libqtiff defines its dependencies, in particular liblzma.a is missing in the debug variant but is present in the release v

[2021-08-21 15:22] kcgen commented on #19684
libmt32emu 2.5.3 has been tested and confirmed working with DOSBox Staging.

[2021-08-21 16:28] shash29-dev commented on #13372
same error. I need to set the DIR path.
Also, vscode picks up this
```C:\msys64\mingw64\bin\cmake.exe --no-warn-unused-cli -DCMAKE_TOOLCHAIN_FILE:STRING=D:\src\vcpkg\scripts\buildsystems\vcpkg.cmake -DCMAKE_EXPORT_COMPILE_COMMANDS:BOOL=TRUE -DCMAKE_BUILD_TYPE:STRING=Debug........ blah blah```
picks up the DCMAKE_TOOLCHAIN_FILE path correctly.

[2021-08-21 16:49] adamgranthendry commented on #19674
@Neumann-A Thank you. I will try this and report back.

Side Note: I don't see a "required/minimum dependencies" section in the VTKm 1.6 manual. I will create a feature request on the VTKm repo for this and link it here.

[VTKmUsersGuide-1-6.pdf](https://github.com/microsoft/vcpkg/files/7025872/VTKmUsersGuide-1-6.pdf)

[2021-08-21 16:54] adamgranthendry commented on #19674
Please see

[Feature Request: Add Minimum/Required Dependencies List/Section to User Guide](https://gitlab.kitware.com/vtk/vtk-m/-/issues/633)

for status of feature request to add minimum required dependencies to VTKm user guide.

[2021-08-21 17:03] alexreinking opened #19686 "[sdl2] alias targets break multiple `find_package` calls on CMake < 3.18"
When calling `find_package(SDL2)` from multiple subdirectories on CMake versions below 3.18, the following snippet runs:

https://github.com/microsoft/vcpkg/blob/025e564979cc01d0fbc5c920aa8a36635efb01bb/ports/sdl2/0004-sdl2-alias-on-static-build.patch#L1-L17

The existence of this alias triggers a failure in `SDL2Targets.cmake` when it attempts to create `SDL2::SDL2-static`. This should be fixed b

[2021-08-21 19:07] autoantwort commented on #16520
Now it fails to install with a conflict:
[code]

[2021-08-21 20:28] adamgranthendry commented on #19674
I can confirm that installing CUDA 11.4 solves this issue.

[2021-08-21 20:28] #19674 closed

[2021-08-21 22:18] adamgranthendry opened #19687 "`vcpkg install vtk[core,cuda,mpi,vtkm] --recurse` Build Fails on Windows 10 x64"
## Problem
Running `vcpkg install vtk[core,cuda,mpi,vtkm] --recurse` (triplet set with `VCPKG_DEFAULT_TRIPLET=x64-windows`) fails to build.

## Environment
- **OS**: Windows 10 Enterprise x64, Build 1909
- **Vcpkg version**: 2021-08-12-85ab112d5ee102bc6eac8cdbbfdd173a71374e04
- **CMake version**: 3.21.0-rc2
- **Shell:** C:\WINDOWS\System32\WindowsPowerShell\v1.0\powershell.exe
- **CUDA Toolkit:**

[2021-08-21 23:57] celadaris commented on #15333
copying the .dll files from `vcpkg\installed\x64-windows\bin`  into the name folder of the project worked! i have a black window which is what was originally requested :partying_face:. The original problem is pretty much completely solved

We can close this and make a new thread if u want, but now using resources.cfg causes an error. resources.cfg is needed for anything that you would want to do w

[2021-08-22 00:30] perrog opened #19688 "vcpkg ports\Binn directories recursion"
I got an error stating that vcpkg search failed because it it could not find the CONTROL file inside ports\Binn directory.
After closer inspection I found out that the ports\Binn directory contained subdirectories repeating itself indefinitely (...at least 10'000 subfolders.)
Does anybody have any clue why this happened?

I noticed that I still got the old capital letter folder name format, wherea

[2021-08-22 01:13] autoantwort commented on #19688
Do you still have the problem after a `git pull` in the vcpkg repo?

[2021-08-22 02:48] celadaris commented on #15333
1. I tried adding all of the additional Include Directories as seen [here](https://pastebin.com/Spm0feun)
2. I tried adding all of the additional Dependencies as seen [here](https://pastebin.com/raMS5tu1)

It helped a little, there's probably something in there that needed to be added, but still results in an error when trying to use resources.cfg maybe im just doing something wrong 🤷‍♂️

[2021-08-22 04:37] caizhe666 opened #19689 "[boost] build failure"
**Host Environment**
- OS: Windows
- Compiler: VS2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install boost:x64-windows-static`

**Failure logs**
Console output:
[code]
build-x64-windows-static-rel-out.log:
[code]

[2021-08-22 07:15] chuyanjuncn commented on #19475
any advances?

[2021-08-22 07:55] dg0yt commented on #19688
There is no `ports\Binn` in the current HEAD of the master branch.

[2021-08-22 07:57] dg0yt commented on #19688
... but on a case-insensitive file system, the local presence of `ports/Binn` could be a challenge for handling `ports/binn`.

[2021-08-22 11:23] autoantwort commented on #9534
Can be closed. Is `vcpkg depend-info <pkg>...` now

[2021-08-22 13:01] jixingcn opened #19693 "[opencolorio] `OpenColorIO` doesn't work"
Does anyone use `OpenColorIO` 2.0.1?
After upgrade vcpkg, I get some CMake error messages:
[code]

@JonLiu1993

And I found the `OpenColorIOConfig.cmake` was deleted in https://github.com/microsoft/vcpkg/pull/19272.
Am I wrong? In my project, import `OpenColorIO` by `find_package(OpenColorIO CONFIG REQUIRED)`.

[2021-08-22 13:05] jixingcn commented on #18004
Not 2.2.17, should be 2.0.1

[2021-08-22 13:33] dg0yt commented on #19693
IIUC The file wasn't deleted by that PR but the portfile got simplified.
However, I fail to spot the equivalent of the former `vcpkg_fixup_cmake_targets`. CC @autoantwort

[2021-08-22 13:35] autoantwort commented on #19693
Hm maybe that is the issue. Because the file should be generated [here](
 https://github.com/AcademySoftwareFoundation/OpenColorIO/blob/5ee3aa0b89aa9ae90f1d13c9b9e284430e043c9d/CMakeLists.txt#L292)

[2021-08-22 13:36] Baklap4 opened #19694 "[portmidi] Add Linux support"
**Is your feature request related to a problem? Please describe.**
Currently portmidi can't be build on linux using vcpkg

**Proposed solution**
Make vcpkg be able to build portmidi for linux.

**Describe alternatives you've considered**
None

**Additional context**
Information for installing portmidi: https://sourceforge.net/p/portmedia/wiki/Installing_portmidi_on_Linux/

current log from vcpkg:

[2021-08-22 13:41] xulincai opened #19695 "Error: Building package boost-exception:x64-windows failed with: BUILD_FAILED"
Today I tried to install CGAL5.2.3 referencing the website tutorial(https://doc.cgal.org/5.2.3/Manual/windows.html#title0). Although I encountered many problems in this process, they were all solved perfectly. In the last step, I am very sad that the following problems have not been solved after repeated. Sincerely request for help. Thank you very much.

CMake Error at scripts/cmake/vcpkg_execute_

[2021-08-22 13:46] Baklap4 opened #19696 "vcpkg.json optional dependencies and devdependencies"
I have two questions:
1. Is it possible within the `vcpkg.json` manifest file to make a dependency optional?
2. Can we define a dependency such as `gettext` a development dependency?

The first question comes from the fact that i ran into a library (portmidi #19694 ) which didn't have linux support. In our case portmidi is just optional and thus not needed to be installed. In normal cmake we check

[2021-08-22 13:46] autoantwort commented on #19693
Ok but it only exists in the master branch, the latest release provides no `OpenColorIOConfig.cmake` file. So we can update to the latest master commit instead of using official releases or we manually patch it back in.

[2021-08-22 13:48] autoantwort commented on #19696
You can use features for that: https://github.com/microsoft/vcpkg/blob/master/docs/users/manifests.md#features-and-default-features

[2021-08-22 13:50] autoantwort commented on #19695
Please format your issue properly and provide all error logs

[2021-08-22 13:54] xulincai commented on #19695
Sorry to confuse you, here is my error log<build-x64-windows-rel-out.log>
notice: found boost-build.jam at C:/dev/vcpkg/installed/x64-windows/tools/boost-build/boost-build.jam
notice: loading B2 from C:/dev/vcpkg/installed/x64-windows/tools/boost-build/src/kernel/bootstrap.jam
notice: Site configuration files will be ignored due to the
notice: --ignore-site-config command-line option.
notice: Load

[2021-08-22 13:56] autoantwort commented on #19695
Duplicate of  #19689

[2021-08-22 14:02] Baklap4 commented on #19696
@autoantwort Hmm so if i understand correctly to declare a library as optional you'll have to use the `features` part like this?:
[code]

cause if i do that i don't see that libxmlpp is being downloaded/build and installed

[2021-08-22 14:04] autoantwort commented on #19696
You also have to add the dependency to the feature like in the linked example

[2021-08-22 14:04] jixingcn commented on #19693
Good idea. Thanks a lot. @autoantwort

[2021-08-22 14:30] Baklap4 commented on #19696
After some trial and error i think i've managed it:

[code]

Without that `default-features` i didn't get it to work.

So correct me if i'm wrong, but the above does this:
It requires vcpkg to install `ffmpeg`. And if it's available for the platform installs `portmidi` (which doesn't work on linux and thus doesn't get installed) and `libxmlpp` (which does work on linux and gets installed).

[2021-08-22 14:39] zapcity commented on #18086
I tested this again, but this time on a vmware instance and the vcpkg master branch compiled icu successfully.

On my PC, I had VS2019 installed on a drive other than C: (actually N: as seen in my logs above for the reason my C: drive had limited space). Believing some sort of misconfiguration may be the cause, I did the following:

- reinstalled VS2019 on N: (icu didn't compile successfully)
- re

[2021-08-22 14:42] autoantwort commented on #19696
The `default-features` line shouldn't be necessary.

It only installs ffmpeg. If you also want to install the features, you have to pass that as an option to vcpkg by `--x-feature=...` (e.g. `vcpkg install --x-feature=libxmlpp`). You can add the features to the default features list, then they are installed by default (`"default-features": ["portmidi", "libxmlpp"]`). If an dependency only works on

[2021-08-22 15:04] dg0yt commented on #19696
Note that gettext[core] only provides libintl (for the platforms which need it). The tools are in a non-default feature.

[2021-08-22 15:07] Baklap4 commented on #19696
@autoantwort alright i think i've got it thanks! It's basicly really focused on libraries, not persé enduser applications. Portmidi for instance already has defined it doesn't work on Linux so why should i need to redefine it?

@dg0yt i'm aware of that. Ran into that issue yesterday ghehe ;)

I think this issue can be closed as my questions are answered thanks!

[2021-08-22 15:07] #19696 closed

[2021-08-22 16:30] ehsanrs2 commented on #19524
recommend a short install path like `C:\src\vcpkg `or `C:\dev\vcpkg`, since otherwise, you may run into path issues for some port build systems.

[2021-08-22 20:22] daschuer opened #19699 "[ffmpeg] ld: warning: could not create compact unwind"
When I try to link to the ffmpeg libraries I get the following linker warnings:
[code]
The linking itself succeeds and so far it works as well.
How can I get rid of the warnings?

ffmpeg is build with these options
[code]

**Environment**
- OS: osx
- Compiler: AppleClang 12.0.0.12000032

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install ffmpeg
2. link mixxx application

Here is

[2021-08-22 21:09] Carbenium opened #19701 "[yaml-cpp] Application links always against release version"
**Describe the bug**
Since yaml-cpp got upgraded to 0.7.0 in https://github.com/microsoft/vcpkg/pull/19272, projects built in `Debug` mode link against the release version of the library leading to ABI incompatibilities.

Below a shortened sample output during build of the application in `Debug` mode. Notice how it is correctly linking against the debug build of `boost` but uses the release versio

[2021-08-22 21:30] Be-ing commented on #19699
Are you sure ffmpeg was built as 64 bit? https://stackoverflow.com/questions/39598302/ld-warning-stack-subl-instruction-is-too-different-from-dwarf-stack-size-on-os

[2021-08-22 21:39] daschuer commented on #19699
At least the --arch=x86_64 option is set. See above.

[2021-08-22 21:44] Be-ing commented on #19699
I am not sure it actually does get set:
[code]
`--extra-ldflags` is set twice, first to `-arch` then to `x86_64`. The same happens for `--extra-cflags` and `--extra-cxxflags`. Perhaps only the first one has an effect.

[2021-08-22 22:27] bmarques1995 opened #19702 "[Eigen] update to 3.4.0"
Library name: Eigen

New version number: 3.4.0

Other information that may be useful (release notes, etc...)

[2021-08-22 22:30] autoantwort commented on #19702
Duplicate of #19680

[2021-08-22 22:36] autoantwort commented on #19701
Do you have a custom cmake file for yaml or how do you find the lib? I think the debug lib is called `libyaml-cppd` (at least on mac)

[2021-08-22 23:06] autoantwort commented on #19701
Can you test #19703?

[2021-08-22 23:52] Carbenium commented on #19701
Nope, no custom find module.

Thanks for the quick fix! It resolves the issue for me. Application build tested in `Debug` and `RelWithDebInfo` configuration. It correctly links against `yaml-cppd.dll` with the former config and against `yaml-cpp.dll` with the latter. Can't test with other OSs though, since I'm using vcpkg only on Windows.

[2021-08-23 01:39] NancyLi1013 commented on #16639
Please check if you installed any antivirus software on your machine.

[2021-08-23 01:41] adamgranthendry commented on #16639
@NancyLi1013

1. Who are you asking?
2. Why are you asking this?
3. How does this answer the question?

[2021-08-23 02:00] NancyLi1013 commented on #16639
I'm asking you.

Maybe I misunderstand your question above. Since you comment here, I thought you have the same problem as the original one.
`- Restarting Build without parallelism because memory exceeded` or
`LINK: fatal error LNK1104: cannot open file 'bin\opencv_highguid.dll`

So I commented to check  antivirus software.

But seems you have the different problem. Is your confusion that why you

[2021-08-23 02:09] #19495 closed

[2021-08-23 02:18] JonLiu1993 commented on #18004
@jixingcn, sorry, I made a mistake, it should be 2.0.1

[2021-08-23 02:24] adamgranthendry commented on #16639
@NancyLi1013 My question is whether this is actually a false negative. Also, my antivirus is turned off.

[2021-08-23 02:32] JackBoosY commented on #9223
Ping @BillyONeal

[2021-08-23 02:55] JonLiu1993 commented on #19475
@chuyanjuncn ,Sorry reply you so late,I will submit a pr update osgearth recently.

[2021-08-23 02:56] JackBoosY commented on #19524
@strega-nil-ms can you please take a look?

Thanks.

[2021-08-23 03:14] BillyONeal commented on #9223
That message is generated by grepping the output of the build of a port after a build fails:

https://github.com/microsoft/vcpkg/blob/025e564979cc01d0fbc5c920aa8a36635efb01bb/scripts/cmake/vcpkg_execute_build_process.cmake#L37-L50

->

https://github.com/microsoft/vcpkg/blob/025e564979cc01d0fbc5c920aa8a36635efb01bb/scripts/cmake/vcpkg_execute_build_process.cmake#L86-L87

Perhaps the port in questi

[2021-08-23 04:01] lviolette commented on #19688
I too have found that I have what appears to be a very deeply recursive vcpkg folder.
Explorer crashes when I attempt to delete it.
The path looks like this recursively...
C:\dev\vcpkg\ports\tbb\out\build\x64-Debug\src\out\build\x64-Debug\src\out\build\x64-Debug\src\out

[2021-08-23 04:33] zapcity commented on #18086
Ok, the one common issue I have found is that if I compile icu (using vcpkg default master branch) in some location on my system C: drive, then it's successful. However, if it's a non C: drive, I get the build error. This does not occur with other packages. I'm just doing the standard:

[code]

This build error doesn't seem to be related to where Visual Studio 2019 is installed. I had it originall

[2021-08-23 05:06] timmeh87 opened #19705 "[gdal] x64-linux build failure (terminated with signal 9 [Killed]) RESOLVED: not enough RAM"
**Host Environment**
- OS: ubuntu 18 LTS via windows Hyperv "quick create"
- Compiler: gcc

**To Reproduce**
Steps to reproduce the behavior:
BRAND NEW VM on hyperv via quick create (note, I do install a lot of extra packages here but this always my standard build environment)
[code]
**Failure logs**
Building package gdal[core]:x64-linux...
-- Downloading http://download.osgeo.org/gdal/3.2.2/gdal3

[2021-08-23 05:40] JackBoosY commented on #19687
[code]

[2021-08-23 05:40] dg0yt commented on #19705
Maybe the build was running out of memory? I see four such lines, which I would interpret as four parallel jobs. Now vcpkg supports only static linkage on Linux, and the resulting binaries are huge, in particular for the debug builds.

[2021-08-23 05:43] JackBoosY commented on #19685
Can you please provide the config log?

[2021-08-23 05:48] dg0yt commented on #19688
Can you perhaps rename `out` in `C:\dev\vcpkg\ports\tbb\` before trying to remove it?

[2021-08-23 05:50] adamgranthendry commented on #19687
@JackBoosY Thanks for your input. Are you receiving the same error when attempting to build, or are you hinting at the problem to me?

With regards to my problem, I am wondering two things:

1. I don't think `cpp` (i.e. c++14) and `mpi` (i.e. `parallel`) `vcpk` ports work together. I am wondering if `mpi` is part of the issue?
2. My default triplet is `x64-windows`, but I am wondering if `vtk` is

[2021-08-23 05:59] adamgranthendry commented on #19687
@JackBoosY Well, I should say, that taking an educated guess looking at

[code]

the problem may simply be that we are passing multiple files to `nvcc` (in the form of `-IC` arguments). That much is clear to me. However, I'm not sure how I can control the number of files being passed since I am simply running

[code]

on my end.

[2021-08-23 06:03] PhoebeHui commented on #19695
The Chinese characters cause this issue, the boost b2/bjam haven't handle the Chinese or non-ascii characters. As a workaround, you may need create a account with English name instead.

Duplicated to https://github.com/microsoft/vcpkg/issues/15201

[2021-08-23 06:03] #19695 closed

[2021-08-23 06:03] PhoebeHui commented on #19689
The Chinese characters cause this issue, the boost b2/bjam haven't handle the Chinese or non-ascii characters. As a workaround, you may need create a account with English name instead.

Duplicated to https://github.com/microsoft/vcpkg/issues/15201

[2021-08-23 06:03] #19689 closed

[2021-08-23 06:08] JackBoosY commented on #19687
cc @Neumann-A it seems like a bug.

[2021-08-23 06:11] JackBoosY commented on #19687
[code]
The source file is provided once, but obj is declared twice.

[2021-08-23 06:14] adamgranthendry commented on #19687
@JackBoosY @Neumann-A Thank you both. Please let me know if you want me to try something out to help.

[2021-08-23 06:39] squirrelfish commented on #19241
I have the similar problem, I use VS2022 preview3.1, all toolsets worked fine except v140. There is an easier way to reproduce this problem by selecting a tooset and applying in properties page.
![1629700213178](https://user-images.githubusercontent.com/6636392/130401005-c81c725e-f2bf-4d9a-a05c-3f50c31d9d01.png)
![16297002545974](https://user-images.githubusercontent.com/6636392/130401065-459445a9

[2021-08-23 06:40] JackBoosY commented on #19687
@adamgranthendry  Can you please provide the config log _config-x64-windows-dbg-out.log_ ?

[2021-08-23 06:42] NancyLi1013 commented on #19669
Hi @SamuelMarks

Thanks for posting this issue.

Have you tried to use the following usage after you rebuild with the latest vcpkg?
[code]

I also wonder why you need to add `COMPONENTS libcurl` in your project? Does the usage provided by vcpkg not meet your demand?

[2021-08-23 06:43] adamgranthendry commented on #19687
@JackBoosY Yes of course. Please give me a moment to finish a currently running build. I think I should have it to you in 10-20 minutes.

[2021-08-23 06:53] timmeh87 commented on #19705
Thank you for your quick reply. I think you are right. I turned off the VM, changed the hardware like this:

old:
20 cores (its a xeon machine Im not being stupid, this is actually the default from "quick create")
8gb ram

new:
2 cores
20 gm ram

And guess what, gdal builds fine now. It was definitely doing a 21-core parallel build before (21??? yeah idk, gdal default I assume)
I ran "free -m" whi

[2021-08-23 06:54] JackBoosY commented on #19688
Can you describe how this problem happened? Or provide a repro step.

Thanks.

[2021-08-23 07:06] adamgranthendry commented on #19687
[config-x64-windows-out.log](https://github.com/microsoft/vcpkg/files/7029794/config-x64-windows-out.log)

[2021-08-23 07:36] xulincai commented on #19695
Ok, thank you very much. I'll try it

[2021-08-23 07:56] Neumann-A commented on #19687
@adamgranthendry : You can try to run the command manually in the `buldtree/vtk/<triplet-config>/`. Just type `vcpkg env --triplet=x64-windows` and then move into that directory. You can then play around with the command line switches of nvcc to see what the problem is. You can also manually rerun `ninja` or `cmake --build`

[2021-08-23 07:56] SamuelMarks commented on #19669
On the `COMPONENT libcurl` side… doesn't this prevent messing with the cache, so if my 3rd party dep is used in someones project, and they also depend on curl directly, as long as they are using a different component it won't conflict with the configuration options I've given to my dependency?

[2021-08-23 08:07] dg0yt commented on #19705
Most of the time, you do want strong concurrency. But you can retry a failed port with a limited number of parallel jobs by setting [VCPKG_MAX_CONCURRENCY](https://github.com/microsoft/vcpkg/blob/master/docs/users/config-environment.md#vcpkg_max_concurrency).

For gdal, we have an open PR which makes building the tools optional, and even disables the debug variant: #19243. However, review stalled

[2021-08-23 08:10] BorjaFrade opened #19707 "[blas:x64-windows] build failure"
**Host Environment**
- OS: Windows 10 64bits
- Compiler: Visual Studio 2022

**To Reproduce**
Steps to reproduce the behavior:
.\vcpkg.exe install suitesparse:x64-windows

**Failure logs**
PS C:\Repository\vcpkg> .\vcpkg.exe install suitesparse:x64-windows
Computing installation plan...
The following packages will be built and installed:
  * blas[core]:x64-windows -> 1
  * lapack[core]:x64-windows

[2021-08-23 08:13] dg0yt commented on #19669
Hm, AFAICT using components was more likely to cause problems then to resolve them. It only works well with separate subdirectories, because there is only one `<Pkg>_FOUND` which is inherited to subsequent `add_directory`. I.e. once CMake found one component, it cannot look for another, in the same tree.

[2021-08-23 08:14] NancyLi1013 commented on #15333
I think you can open an new issue to report the new problems you encountered.

[2021-08-23 08:15] PhoebeHui commented on #19683
@vadi2, does this still be a problem with vcpkg latest source?

[2021-08-23 08:30] TheUnrealDragon opened #19708 "How do I install Arrayfire (getting errors)."
I am trying to install arrayfire for Windows 10 x64 for flashlight.
(Neither of arrayfire[cpu] / arrayfire[cuda] are being installed as they both depend on intel-mkl)

However Arrayfire cannot find the oneapi-mkl install.I have set oneapi_root environment variable. And I have installed intel-mkl from vcpkg.

The log says that it can't find intel-mkl.

arrayfire install error output:
[config-x64-wi

[2021-08-23 08:46] PhoebeHui commented on #19673
@adamgranthendry, I can't repro this issue with VS2017. The icuin69.dll located in ".\buildtrees\icu\x64-windows-rel\lib", It looks due to parallel, if it occurs next time, you can try to set VCPKG_CONCURRENCY to 1, and try to install it again.

Failures:
[code]

[2021-08-23 08:56] NancyLi1013 commented on #19686
Hi @alexreinking

Thanks for posting this issue.

@RT222
Could you please help confirm if the patch is needed here? Seems the changes in this patch cannot be merged to upstream.

[2021-08-23 08:59] PhoebeHui commented on #19664
@BenXu86, could you install English language pack via VS installer and try again? You can also reference https://www.cnblogs.com/vcpkg/p/14550099.html. BTW, we have many blogs posted about VCPKG in https://www.cnblogs.com/vcpkg/ for Chinese users, you can reference them if you needed.

[code]

[2021-08-23 09:02] PhoebeHui commented on #6697
@shash29-dev, could you please report a new issue instead?

[2021-08-23 09:06] xulincai opened #19709 "[Building SMP/libgmp.sln for Release CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:127] build failure"
**Host Environment**
- OS: Windows
- Compiler: vs2019

**To Reproduce**
Steps to reproduce the behavior:
.\vcpkg.exe install cgal

**Failure logs**
2>hamdist.obj : warning LNK4078: multiple '.rdata' sections found with different attributes (C0500040) [C:\dev\vcpkg\buildtrees\gmp\x64-windows-rel\19f0b65fd0-9b395bc164.clean\SMP\libgmp.vcxproj]
            Creating library C:\dev\vcpkg\buildtrees\gmp

[2021-08-23 09:09] JonLiu1993 commented on #19702
@bmarques1995, thanks for posting this issue, it is duplicate of #19680, we will temporarily close this issue.

[2021-08-23 09:09] #19702 closed

[2021-08-23 09:44] perrog commented on #19688
No, git pull solved the issue.
For the subdirectories removal I had to write a Powershell script since  Explorer crashed when trying to delete the folder with so many subfolders.

[2021-08-23 09:50] perrog commented on #19688
I will start to look closely at this from now on, and if it happens again be prepare to give a repo instruction.
Recently I've started to use vcpkg.json manifests in Linux devcontainers, so I don't have a complete command-history what I've typed so far.

[2021-08-23 09:58] PhoebeHui commented on #19707
We have PR https://github.com/microsoft/vcpkg/pull/19088 to support this!

As a workaround, you can "set(VCPKG_PLATFORM_TOOLSET v143)' in triplet file and try again?

[2021-08-23 10:19] NancyLi1013 commented on #16639
`> vcpkg install itk[cuda,cufftw,opencl,python,rtk,tbb,tools,vtk] --recurse`

This message means some ports will be removed and then some ports need to be rebuilt in installing.

This is intended behavior, which is not related with your disk space.

If some ports have been installed on your machine before you update to the latest vcpkg. And these ports also been updated in the latest vcpkg. In thi

[2021-08-23 10:29] JonLiu1993 commented on #15272
@cjdb ,catch2 have updated to 2.13.7,Could you please update your vcpkg and try again?

[2021-08-23 10:32] NancyLi1013 commented on #19699
Hi @daschuer

Thanks for posting this issue.

Do you encounter this issue on your local machine or on the CI https://github.com/mixxxdj/mixxx/pull/4225?

Could you please try to pass the compiler option to rebuild?

`LDFLAGS="-Wl,-no_compact_unwind"`

[2021-08-23 10:44] JackBoosY commented on #19688
This should be a vcpkg bug and was fixed by other PR.
Please reopen this issue if you have other concern.

[2021-08-23 10:44] #19688 closed

[2021-08-23 10:50] PhoebeHui commented on #19709
@xulincai, could you reinstall windows sdk via VS installer and try again? I can't repro this issue locally.

C:\Program Files (x86)\Microsoft Visual Studio\2019\Community>where rc.exe
C:\Program Files (x86)\Windows Kits\10\bin\10.0.19041.0\x64\rc.exe
C:\Program Files (x86)\Windows Kits\10\bin\x64\rc.exe

[2021-08-23 11:33] wobuxie1997 opened #19711 "I add a LightGBM port in vcpkg, it can be complied, but it doesn't have the "abi" hash, and it won't be saved in /Appdata/local/vcpkg/achieves"
here is the termminal output:

    lightgbm[core]:x86-windows -> 3.2.1#7 -- D:\code\windows\thirdparty_supervisor\vcpkg_overlay\ports\lightgbm
Starting package 1/2: lightgbm:x86-windows
Removing package lightgbm:x86-windows...
Removing package lightgbm:x86-windows... done
Elapsed time for package lightgbm:x86-windows: 19.44 ms
Could not locate cached archive: C:\Users\FP6P2D3\AppData\Local\vcpkg\a

[2021-08-23 11:45] gebdadendo commented on #19635
I tried it out, but the same error occured again.

[2021-08-23 12:08] Pospelove commented on #10203
![image](https://user-images.githubusercontent.com/37947786/130444563-fe13bcc0-1b0f-47a3-a73b-f93519192eea.png)

[2021-08-23 12:15] daschuer commented on #19699
This linker flag removes the warning. See https://github.com/daschuer/mixxx/runs/3399675678

I encounter the issue on the GitHub CI. I have unfortunately no access to a local macOS machine.

Can you give some insights?
* Why the linker only complains about these two ffmpeg functions? Are other warnings suppressed or are only these two affected?
* For my feeling the linker flag is a workaround sinc

[2021-08-23 12:24] gnaggnoyil opened #19713 "Libxml2:x64-windows-static cannot be used by cmake projects that find libxml2 twice in different subdirectory"
**Describe the bug**
If a cmake project have `find_package(LibXml2)` both in top directory `CMakeLists.txt` and in one of its subdirectory `CMakeLists.txt`, usage of vcpkg port "libxml2" will fail during project configuration time.

**Environment**
- OS: OS: Windows 10 20H1 19043
- Compiler: Compiler: MSVC 19.29.30133 installed with VS2019
- CMake version: 3.21.1

**To Reproduce**
Steps to reprodu

[2021-08-23 12:37] gnaggnoyil commented on #19713
This issue seems to be related to this commit: https://github.com/microsoft/vcpkg/pull/17945/commits/f8558bb40ecbfb64e54652681169a2da5b07fd62
Anyone have any ideas about it?

[2021-08-23 12:39] gnaggnoyil commented on #19675
@Neumann-A I'm a bit curious. What exactly the limitation is that causes this issue? I cannot find anything useful in MSDN using "msvc C1083" as keyword. Any hints?

[2021-08-23 13:02] zapcity commented on #18086
Been digging deeper into what's possibly going wrong. Here I'm only using the master branch to try and compile icu static via:

[code]

It seems that if I compile within any directory whose top level directory is named "dev", then it doesn't compile e.g.

- C:\dev\vcpkg
- D:\dev\project\vcpkg

However it works if I use anything else e.g.

- C:\projects\dev\vcpkg
- D:\dev2\vcpkg

Looking at the log

[2021-08-23 13:18] zapcity commented on #18086
Been digging deeper into what's possibly going wrong. Here I'm only using the master branch to try and compile icu static via:

[code]

It seems that if I compile within any directory whose top level directory is named "dev", then it doesn't compile e.g.

- C:\dev\vcpkg
- D:\dev\project\vcpkg

However it works if I use anything else e.g.

- C:\projects\dev\vcpkg
- D:\dev2\vcpkg

Looking at the log

[2021-08-23 13:21] zapcity commented on #18086
Been digging deeper into what's possibly going wrong. Here I'm only using the master branch to try and compile icu:x64-windows-static via:

[code]

It seems that if I compile within any directory whose top level directory is named "dev", then it doesn't compile e.g.

- C:\dev\vcpkg
- D:\dev\project\vcpkg

However it works if I use anything else e.g.

- C:\projects\dev\vcpkg
- D:\dev2\vcpkg

Lookin

[2021-08-23 13:45] zapcity commented on #18086
Been digging deeper into what's possibly going wrong. Here I'm only using the master branch to try and compile icu:x64-windows-static via:

[code]

It seems that if I compile within any directory whose top level directory is named "dev", then it doesn't compile e.g.

- C:\dev\vcpkg
- D:\dev\project\vcpkg

However it works if I use anything else e.g.

- C:\projects\dev\vcpkg
- D:\dev2\vcpkg

Lookin

[2021-08-23 15:08] adamgranthendry commented on #19687
@Neumann-A Thank you. I can try that in the meantime. Will the code also be fixed?

[2021-08-23 15:19] geoffreymbrown opened #19715 "libusb:x64-linux build failure"
**Host Environment**
- OS: linux
- Compiler: revision

Build failed because libudev headers are not installed.   I solved this by

sudo apt-get install libudev-dev

[2021-08-23 15:31] timmeh87 commented on #19705
All is not lost, it looks like #19243 has some new activity just 2 hours after it was mentioned here. :). I will close this issue because after reading these GDAL threads It looks like several main contributors already have a good handle on the complex issues facing GDAL. Also a possible fix is in the pipeline (build with no tools)

[2021-08-23 15:31] mathisloge opened #19716 "manifest feature doesn't support "supports" field"
**Describe the bug**
In https://github.com/microsoft/vcpkg/blob/master/docs/users/manifests.md#features-and-default-features it is stated, that the feature field have a `supports` field. However if adding this field, `vcpkg x-add-version <port>` and `vcpkg format-manifest <port>` will fail.

Example with the port `comms`:

vcpkg.json:
[code]

Error message from `format-manifest`
[code]

Error mess

[2021-08-23 15:31] #19705 closed

[2021-08-23 15:49] MarkVabulas opened #19717 "[gstreamer:arm64-windows] build failure"
**Host Environment**
- OS: Windows 10 Pro 21H1
- Compiler: MSVC v142 Visual Studio 2019 16.11.1

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg --triplet=arm64-windows install gstreamer`

**Failure logs**
Fails when trying to install x264, or fontconfig, depending on the order it tries to install them.

**Additional context**
No other context.  The arm64-windows builds should probably

[2021-08-23 16:07] adamgranthendry commented on #16639
@NancyLi1013 Correct, but I am still getting the message

[code]

even with antivirus turned off.

[2021-08-23 17:37] dg0yt commented on #19713
See PR #19120.

[2021-08-23 17:48] Qbort commented on #19596
@NancyLi1013 apologies for the delay. Thank you for the suggestion. Indeed it appears my antivirus was moving `gentest.exe` to quarantine:

![image](https://user-images.githubusercontent.com/16581353/130477874-2fbf8f0c-b805-4dd4-ae49-9b2cc05eb071.png)

I also had to delete the contents of download and build-trees folders and restart the computer (as it was still failing due to lack of memory - sim

[2021-08-23 17:49] #19596 closed

[2021-08-23 17:52] dg0yt commented on #19716
Basically a duplicate of #17651.

Note that `supports` has only limited practical effects IIRC:
- vcpkg.io website
- CI testing

In one case, I added a `$supports` field instead IIRC.

[2021-08-23 18:03] mathisloge commented on #19716
wouldn't (e.g. taken above example) `vcpkg install comms[tools]:x64-windows-static` fail if someone wants to install the port?

[2021-08-23 18:03] mathisloge commented on #19716
will close this in favor of #17651

[2021-08-23 18:03] #19716 closed

[2021-08-23 18:06] mathisloge commented on #17651
This would become more important since the PR review process will now include the feature testing. PR`s which does need this, would need a workaround as for example #19581

[2021-08-23 19:03] autoantwort commented on #19715
Yeah so there is no build failure. I think then you don't have create an issue for that :)

[2021-08-23 19:05] autoantwort commented on #19716
If it is implemented it should then fail, yes

[2021-08-23 19:28] geoffreymbrown commented on #19715
You might say that, but I had to dig through the error messages to figure
out what went wrong.  So the error was indistinguishable from a build
failure.

On Mon, Aug 23, 2021 at 3:03 PM autoantwort ***@***.***>
wrote:

[2021-08-23 19:31] autoantwort commented on #19715
It should be the first message printed by the port that you must install `libudev`

https://github.com/microsoft/vcpkg/blob/025e564979cc01d0fbc5c920aa8a36635efb01bb/ports/libusb/portfile.cmake#L4

[2021-08-23 19:37] dg0yt commented on #19716
I don't see such behaviour. If you want a reliable error message, it has to be added to the portfile (`vcpkg_fail_port_install`).

 But please verify yourself.

[2021-08-23 19:56] mathisloge commented on #19716
Currently it wouldn't fail (root manifest `supports`). But from a user perspective this would be desirable. At least a warning should be printed when trying to install (classic or manifest mode) a port which is not supported.

[2021-08-23 20:04] autoantwort commented on #19716
Maybe I have time to implement that next week, but the install code is currently 2500 lines long with literally no comment. But imho it should be an error. Then `vcpkg_fail_port_install` is also not necessary anymore.

[2021-08-23 22:39] strega-nil opened #19720 "[vcpkg_fixup_pkgconfig] Fails to fix up `prefix=${CMAKE_CURRENT_PACKAGES_DIR}`"
See epoxy.pc for example:

[code]

[2021-08-24 00:11] NancyLi1013 commented on #19596
Thanks for your feedback. Please free up some space to rebuild if it is due to lack of memory.

[2021-08-24 00:14] NancyLi1013 commented on #16639
You can check the install log to confirm if it is due to out of memory.

[2021-08-24 00:23] JackBoosY commented on #19708
Can you please provide Intel MKL version and the installed path?

Thanks.

[2021-08-24 00:24] JackBoosY commented on #19720
cc @Neumann-A
`prefix` should have a relative value `${pcfiledir}/../..`.

[2021-08-24 00:27] JackBoosY commented on #19717
Yeah... the mingW doesn't fit uwp now.

[2021-08-24 01:23] wobuxie1997 commented on #19711
Version: 3.2.1
Port-Version: 7
Architecture: x86-windows
Multi-Arch: same
Description: LightGBM is a gradient boosting framework that uses tree based learning algorithms.
Type: Port
Status: install ok installed

here is some message in /vcpkg/status, you can see kenlm has abi field, but lightgbm not

[2021-08-24 01:25] wobuxie1997 commented on #19711
is there any way to make LightGBM not be rebuilt every times?

[2021-08-24 01:46] PhoebeHui commented on #19711
@wobuxie1997, could you share us the portfile.cmake and vcpkg.json for the port? then I can try it locally.

[2021-08-24 01:51] wobuxie1997 commented on #19711
this is my portfile.cmake, i use the CONTROL file rather the vcpkg.json

[2021-08-24 01:56] wobuxie1997 commented on #19711
@PhoebeHui
i also add a FastText port, the portfile.cmake and CONTROL are just like above, but it works fine, needn't rebuild every times

[2021-08-24 02:16] NancyLi1013 commented on #19675
Hi @gnaggnoyil

Thanks for posting this issue. Since this is caused by long path in Windows, there is no way to solve this. We suggest to use short path to avoid this kind of issue.

https://docs.microsoft.com/en-us/windows/win32/fileio/maximum-file-path-limitation?tabs=cmd

The similar issue https://github.com/IntelPython/dpctl/issues/15.

[2021-08-24 02:23] PhoebeHui commented on #19711
@wobuxie1997, since it's your personal project, so I can't download the source locally.

Questions for further investigation:
1. What's the vcpkg version, do you use latest vcpkg source(git pull and bootstrap-vcpkg.bat).
2. It looks you test the port via overlay ports, what's command do you execute?
3. could you add '--debug' to the install command and provide the output? eg: './vcpkg install ligh

[2021-08-24 03:16] wobuxie1997 commented on #19711
1. My vcpkg source is from commit beb56f9d6, sorry i can't pull for some reason.
2. The command i execute is "vcpkg --overlay-ports="overlay_path" install", it will install all overlay ports packages
3. I add the "--debug" in the cammand, and I find these:

this is lightgbm's output, I can see the warning, but I don't know why this happened.

[2021-08-24 03:20] wobuxie1997 commented on #19711
@PhoebeHui , Is this information helpful to you?

[2021-08-24 03:21] avishkarzanje commented on #19511
Hi.. Please let me know if we need more details to address this request.
Thank you!

[2021-08-24 03:25] wobuxie1997 commented on #19711
@PhoebeHui , I think I know the problem.
I read the build.cpp in vcpkg, and I find this

I have put too much files in the port, thanks for your help!

[2021-08-24 04:19] zapcity commented on #18086
@PhoebeHui @JackBoosY @autoantwort

I've been digging deeper into what's possibly going wrong. Here I'm only using the master branch to try and compile icu:x64-windows-static via:

[code]

It seems that if I compile within any directory whose top level directory is named "dev", then it doesn't compile e.g.

- C:\dev\vcpkg
- D:\dev\project\vcpkg

However it works if I use anything else e.g.

- C:\p

[2021-08-24 05:44] PhoebeHui commented on #19711
Glad you got the issue solved! Can I close this issue now?

[2021-08-24 05:50] PhoebeHui commented on #19544
@ChrisKay27 @Felipe21, does this still be a problem for you?

[2021-08-24 05:53] PhoebeHui commented on #19266
@HongGan, please reopen this issue if it still be a problem for you.

BTW, we have many blogs in https://www.cnblogs.com/vcpkg/ about vcpkg for Chinese users, you can reference them if you needed.

[2021-08-24 05:53] #19266 closed

[2021-08-24 06:04] PhoebeHui commented on #19263
@vega0, please reopen this issue if it still be a problem for you.

[2021-08-24 06:04] #19263 closed

[2021-08-24 06:05] wobuxie1997 commented on #19711
Yes, you can close it.
Thank you again.

[2021-08-24 06:08] PhoebeHui commented on #19711
You're welcome! BTW, we have many blogs in https://www.cnblogs.com/vcpkg/ about vcpkg for Chinese users, you can reference them if you needed.

[2021-08-24 06:08] #19711 closed

[2021-08-24 06:46] NancyLi1013 commented on #19678
Hi @SamuelMarks

Thanks for posting this issue.

`"vcpkg/packages/tinyfiledialogs_x86-windows/debug/lib/tinyfiledialogs.lib"` should not exist in tinyfiledialogsConfig.cmake file.

I think we should fix this problem.

But it seems that the usage can work fine.

[code]
Please let me know if you have other concerns about this issue.

[2021-08-24 07:09] kartikkhullar commented on #4591
I am not using any proxy server, what could be wrong ?

[2021-08-24 07:13] PhoebeHui commented on #18086
@zapcity, thanks for taking a deeper investigation! I can repro this issue locally.

[2021-08-24 07:22] kartikkhullar opened #19722 "CMake Error at scripts/cmake/vcpkg_download_distfile.cmake:83 (message):"
**Host Environment**
- OS: Windows

I am not using any type of proxy, but still I am receiving this error.
I have tried switching internet connections, but still it doesn't work.

**Failure logs**
[code]

[2021-08-24 10:13] jixingcn commented on #19693
Try to fix this by the pull request https://github.com/microsoft/vcpkg/pull/19725.

I found new `OpenColorIO` v2.0.1 doesn't support the static library.

[2021-08-24 10:17] autoantwort commented on #19693
Are you sure, the pipeline for `x64_windows_static` is successful

[2021-08-24 10:33] PhoebeHui commented on #18086
@zapcity, I have submitted a PR to fix this, it works for me, could you help double confirm if it works for you?

[2021-08-24 10:46] TheUnrealDragon commented on #19708
Intel-MKL installed version installed from the Intel oneAPI version is "2021.3.0."
Installed path is on "E:\IntelLibs\mkl\"
Environment variable ONEAPI_ROOT is "E:\IntelLibs\"

I also tried creating a new Environment Variable for MKLROOT to E:\IntelLibs\mkl\2021.3.0 ( this didn't work.).

[2021-08-24 10:51] jixingcn commented on #19693
Yes, I can build with the static library of OpenColorIO v1.1.1.
Build `OpenColorIO` v1.1.1 both `x64-windows-static` and `x64-windows`, then `target_link_libraries(main PRIVATE OpenColorIO)` :smile: in my project. I know that is "not correct", but it is work.

[2021-08-24 11:07] MarekKowalski commented on #5085
Thanks for pointing out the fix @StephanGarbin, I can confirm that the issue is still there today.

[2021-08-24 11:28] gnaggnoyil commented on #19675
@NancyLi1013 The MSDN documentation you listed indicates that the certain registry key can be set to enable long path support for windows 10, which is what I have done in my original issue. Yet the build just fails. I don't know if msvc has standalone path limitations or something, though.
My build succeeded with a shorter vcpkg root path, however, I have no idea about under which circumstances wo

[2021-08-24 11:48] autoantwort commented on #19722
Hm normally there should be more output when the download tool fails. Can you maybe run vcpkg with the `--debug` option and paste the log inside backticks (```, not ''')

[2021-08-24 12:22] xavier2k6 commented on #19676
@InfRandomness You should re-open this.

[2021-08-24 12:31] kartikkhullar commented on #19722
Updated the output logs, please check

[2021-08-24 15:16] zapcity commented on #18086
@PhoebeHui , thanks. I have checked #19726 and it is working for me! 😃

[2021-08-24 16:22] xavier2k6 opened #19728 "[OpenSSL] update to 1.1.1l"
Library name: **OpenSSL**

New version number: **1.1.1l**

Other information that may be useful (release notes, etc...)

https://www.openssl.org/news/openssl-1.1.1-notes.html

- Fixed an SM2 Decryption Buffer Overflow [CVE-2021-3711](https://www.openssl.org/news/vulnerabilities.html#CVE-2021-3711)
- Fixed various read buffer overruns processing ASN.1 strings [CVE-2021-3712](https://www.openssl.org

[2021-08-24 17:43] mathisloge commented on #19722
This doesn't look like a offical port. Can't find and `zeroc-ice` port.
Do you have it added yourself?

The error above is very clear that you have a hash mismatch of the package. Since this looks like a custom port, you will need to update the hash in the portfile of your port to the expected hash

[2021-08-24 17:56] SergeiDelov opened #19730 "[log4cxx] failure to compile application with clang on Windows/VC2019"
We have an application that uses log4cxx.
When I compile with clang on Windows VC2019 I observe the following error:
_[...]
  In file included from C:\vcpkg\installed\x64-windows\include\log4cxx/logger.h:30:
  In file included from C:\vcpkg\installed\x64-windows\include\log4cxx/helpers/appenderattachableimpl.h:27:
  In file included from C:\vcpkg\installed\x64-windows\include\log4cxx/spi/appendera

[2021-08-24 19:38] daschuer commented on #19699
By the way, when I do not link to ffmpeg the warning disappears. What could be the cause? It there something special with it?

[2021-08-24 21:50] #19678 closed

[2021-08-24 22:01] kartikkhullar commented on #19722
Do you mean, I need to update it to actual hash ?

[2021-08-24 22:03] autoantwort commented on #19722
Yes

[2021-08-24 23:24] #19722 closed

[2021-08-25 05:34] abortabort opened #19732 "[pcl[qt]:x64-linux] build failure"
**Host Environment**
- OS: Ubuntu 20.04 LTS (wsl2)
- Compiler: gcc (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0

**To Reproduce**
Steps to reproduce the behavior:
./vcpkg install pcl[qt]:x64-linux

**Failure logs**
[code]
[config-x64-linux-dbg-err.log](https://github.com/microsoft/vcpkg/files/7043920/config-x64-linux-dbg-err.log)

[2021-08-25 07:32] digiou opened #19733 "[folly] Add support for arm64"
Currently, the portfile for Folly checks if the underlying architecture string contains `x64`. This fails on `arm64` for example, where Folly can be built properly.

A potential solution is to just add the `arm64` string check at the beginning of the portfile.

As a note, I've currently tested this on an Raspberry Pi 4 w/ 2GB of RAM (lowest end RPi4), using Ubuntu Server 20.04 aarch64 and latest `

[2021-08-25 08:34] JackBoosY commented on #19730
`__clang__` doesn't exists in log4cxx's headers, so I think the upstream doesn't consider this situation.
Please report this issue to log4cxx upstream, and we will update it when the upstream support clang.

[2021-08-25 08:41] JackBoosY commented on #19699
@daschuer Sorry but I didn'f found the error messages you mentioned in https://github.com/daschuer/mixxx/runs/3399675678, can you please extract it and provide me a log file?

Also, can you get the config logs and install logs in your ci system?

Thanks.

[2021-08-25 08:48] JackBoosY commented on #19708
Will be fixed by #15233.

[2021-08-25 08:57] JackBoosY commented on #19609
I think the reason is one of the following:
1. run "cd ../../x64-windows-dbg" failed since _../../x64-windows-dbg_ doesn't exist or we don't have permission to access it,
2. run "C:/Mukesh/IOTedge/vcpkg/downloads/tools/cmake-3.21.1-windows/cmake-3.21.1-windows-i386/bin/cmake.exe" failed since it doesn't exist or we don't have permission to access it.

Sadly, we can't reproduce it locally, can you

[2021-08-25 09:09] NancyLi1013 commented on #19619
If you want to use `python2`, you just need to update `python3 `as `python2`. Why do you add these codes for `pybind11/portfile.cmake`?

[code]

[2021-08-25 09:43] yurybura commented on #19635
I've just tested on my WSL2 Ubuntu 20.04, GCC 9.3:
[code]

Dear @gebdadendo, could you provide all logs related to your failure?

[2021-08-25 09:51] adamgranthendry commented on #13403
1. First compile the VCPKG library of python3.7.1, modify the python version number in ports\python3\ portfile.cmake to
    set (PYTHON_VERSION_MAJOR 3)
    set(PYTHON_VERSION_MINOR 7)
    set(PYTHON_VERSION_PATCH 1)
2. Download the latest version of python-cpython-v3.7.1.tar.gz file to the downloads directory
3. Modify the scripts/cmake/vcpkg_download_distfile.cmake file. The purpose is to cancel

[2021-08-25 09:53] JackBoosY commented on #19681
Can you also pleaes provide the config log _/home/jonah/cpp/test/ass1/vcpkg/buildtrees/catch2/config-x64-linux-libcxx-rel-out.log_ and _/home/jonah/cpp/test/ass1/vcpkg/buildtrees/catch2/config-x64-linux-libcxx-rel-err.log_?

Thanks.

[2021-08-25 09:54] NancyLi1013 commented on #19669
@SamuelMarks

Since currently, `curl` uses CONFIG instead of MODULE mode to find `curl `in vcpkg. If you have the request for `COMPONENT libcurl` in CONFIG mode, please report this to upstream.

[2021-08-25 09:56] NancyLi1013 commented on #19669
As you can from this, if adding `COMPONENT libcurl`, the error points to CURLConfig.cmake. This is upstream behavior.

[code]

[2021-08-25 10:15] Jonah42 commented on #19681
/home/jonah/cpp/test/ass1/vcpkg/buildtrees/catch2/config-x64-linux-libcxx-rel-out.log
[code]
/home/jonah/cpp/test/ass1/vcpkg/buildtrees/catch2/config-x64-linux-libcxx-rel-err.log
[code]
Cheers

[2021-08-25 10:19] PhoebeHui commented on #19667
@caizhe666, could you set VCPKG_CONCURRENCY to 1 and see if this issue still repro?

I can't repro this issue locally and I didn't see any errors in your failure log, it looks due to the parallel.

[code]

[2021-08-25 12:16] daschuer commented on #19699
https://github.com/daschuer/mixxx/runs/3399675678 is the run with LDFLAGS="-Wl,-no_compact_unwind"

The original error can be found here:
https://github.com/mixxxdj/mixxx/pull/4225/checks?check_run_id=3403021507

The logs from the vcpkg build run can be downloaded as artifact here:
https://github.com/mixxxdj/vcpkg/runs/3332915409

Thank you for having a look.

[2021-08-25 12:31] OlivierArgentieri commented on #19619
But, how can i update python3 as python2 ?
Are the versions of python not present in the dependencies of portfile?

Sorry but if you have an example of wich file i need to update to change the versions of python, it woul be very usefull for me.

I add these code to try to switch to python2 because these keyword are list in : https://vcpkg.readthedocs.io/en/latest/maintainers/vcpkg_find_acquire_pro

[2021-08-25 12:38] TheUnrealDragon commented on #19708
Hey, total beginner to github and cmake here. (so this may be a stupid question.)

But when I checked the that link in the files changed tab the cmake file the find_path command was searching for intel-mkl
Line 35: `find_path(MKL_ROOT include/mkl.h PATHS $ENV{MKLROOT} ${INTEL_ROOT}/mkl DOC "Folder contains MKL")`
But oneAPI sets only the environment variable ONEAPI_ROOT which in my case points to

[2021-08-25 13:08] jixingcn opened #19736 "[yaml-cpp] build failure when compiling the `x64-windows-static` for debugging"
**Host Environment**
- OS: Windows
- Compiler: vs2019

**To Reproduce**
`./vcpkg install yaml-cpp`

**Additional context**
The `yaml-cpp` doesn't copy `yaml-cpp-targets-debug.cmake` to `share\yaml-cpp\`.
So it is failed to compile the `x64-windows-static` for debugging.

[2021-08-25 13:52] mukeshhope commented on #19609
Hi Jack,

yes it looks like so as it says, System can not find path specified.
Please have a look on attached log
[config-x64-windows-out.log](https://github.com/microsoft/vcpkg/files/7047459/config-x64-windows-out.log)

[2021-08-25 16:00] 1144280511 opened #19745 "[vs-yasm] build failure"
**Host Environment**
- OS: [e.g. Windows/Linux etc...]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install xxxx`

**Failure logs**
-Cut and past the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

**Additional context**
Add any other context about the problem here, such as what you

[2021-08-25 16:12] autoantwort commented on #19745
Please fill out the issue template, otherwise we can't help you :)

[2021-08-25 23:04] curtpm opened #19748 "[faiss] update to v1.7.1"
Library name:
faiss

New version number:
v1.7.1

Other information that may be useful (release notes, etc...)
https://github.com/facebookresearch/faiss/releases/tag/v1.7.1

[2021-08-25 23:51] beached opened #19749 "[daw-json-link,daw-header-libraries,daw-utf-range]Update many ports"
Library name: daw-json-link
New version number: v2.10.2
Other information that may be useful (release notes, etc...)
* Fixed issues with find_package and build warnings

The two dependencies are required to be updated too

Library name: daw-header-libraries
New version number: v1.29.7

Library name: daw-utf-range
New version number: v2.2.0

[2021-08-26 12:24] SchaichAlonso opened #19758 "[pango] Fix libthai spelling"
****

**libthai is misspelt in the portfile**
It's forced to get disabled. As libthai port isn't in vcpkg, the configure code will autodetect it's absence and therefore disable it anyway, but fixing the typo results in less warnings being emited into the build log

[2021-08-27 14:02] Kicer86 opened #19771 "[qtquickcontrols2] build failure"
**Host Environment**
- Windows
- Visual Studio 2019

**To Reproduce**
Steps to reproduce the behavior:
vcpkg.exe install qtquickcontrols2

**Failure logs**
[code]
[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/7067378/install-x64-windows-dbg-out.log)

[2021-08-27 14:23] varshapratapchavan opened #19772 "[matplotlib-cpp] To display Inconsistant graph."
In my application, I want to display run time graphs. But the graphs can have a break in between i.e. data may not be available for some duration. I want to display this gap in my graph.

I want to use MATPLOTLIB library in my application which will run under Qt.

I am trying to use NUMCPP to create an array with breaks ( gaps) in my graph readings
Is it a right solution ? Or can you suggest a bet

[2021-08-27 15:36] olafurw opened #19774 ""Failed to store binary cache" warning while using cmake-gui and a user path containing a non ascii character"
**Describe the bug**
While generating a project that uses vcpkg using CMake GUI, a warning is displayed for each dependency. Here is an example.

Failed to store binary cache C:\Users\ï¿½lafur Waage\AppData\Local\vcpkg\archives\85\85e66e68e8491e807639e582790406d6bd370891f96550accdc22b020084e4fe.zip: The system cannot find the path specified.

The user path is C:\Users\Ólafur Waage but it is displa

[2021-08-27 17:53] Tim-Mckinley opened #19775 "Building package boost-fiber:x64-windows-v142 failed with: BUILD_FAILED"
**Host Environment**
- OS: Windows 10
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
C:\src\slam6d-code-r2343-trunk\windows>build2.cmd
outdir: C:\dev
sourcedir: C:\src\slam6d-code-r2343-trunk
INFO: Could not find files for the given pattern(s).
vcpkgexe: C:\dev\3rdparty\vcpkg\vcpkg.exe
vcpkgdir: C:\dev\3rdparty\vcpkg
patching vcpkg...
'git' is not recognized as an internal

[2021-08-27 21:40] feelingnothing opened #19776 "harfbuzz:x86-windows build failure"
**Host Environment**
- OS: windows10
- Compiler: g++10...

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install qt5`

**Failure logs**
`mason-log.txt`
[code]
`config-x86-windows-dbg-out.log`
[code]
`stdout`
[code]

**Additional context**
This issue contains x86 version but output for x64 is the same, I tried getting into discord channel to sort it out without issue but invites are of

[2021-08-27 23:16] MrBolt2005 opened #19777 "[openjpeg] x64-windows build failure"
**Host Environment**
- OS: Windows 10 21H1 Home
- Compiler: MSVC 16.9.4 (Visual C++ 2019)

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg install cairo[fontconfig,freetype,gobject]:x64-windows tesseract[cpu-independed,training-tools]:x64-windows gettext[tools]:x64-windows glib[selinux]:x64-windows glibmm:x64-windows harfbuzz[glib,graphite2,icu]:x64-windows libarchive[lzo,bzip2,core,libxm

[2021-08-27 23:43] #18733 closed

[2021-08-28 00:02] #19663 closed

[2021-08-28 00:05] #19676 closed

[2021-08-28 00:06] #19758 closed

[2021-08-28 03:45] westfly opened #19778 "How do I check build type to avoid Catch2 build failed"
when update Catch2, I get an error.
[code]
I check the port code, this cause by setting only build with release, so no debug directory

[code]

[code]

[2021-08-28 04:32] AustinWise commented on #11996
I see that in #15474 the entire `vcpkg` tool was extracted to the separate https://github.com/microsoft/vcpkg-tool repository. That makes my reproduction steps in the original issue no longer relevant. It also means that contributing to the ports in this repo no longer requires building `vcpkjg.exe`, which is a nice improvement. So I think this issue has been resolved to my satisfaction. Thanks!

[2021-08-28 12:41] L-Sun commented on #10619
According to https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_profiles?view=powershell-7.1, the correct path of profile is the output of `$PROFILE` from your powershell.

[2021-08-28 14:46] IshaanKarnik commented on #19293
Last time I manually installed wjwwood/serial I installed catkin referring the bellow link.

https://catkin-tools.readthedocs.io/en/latest/installing.html

[2021-08-28 15:28] BillyONeal commented on #11996
Thanks for letting us know! Glad to see the binary release helping more folks.

[2021-08-28 18:14] abaghiyan commented on #19134
Maybe the `devel` branch of this [repo](https://github.com/abaghiyan/camodocal/tree/devel) can help to port CamOdoCal.

[2021-08-28 18:18] BZandi opened #19782 "[fontconfig:x64-osx] build failure"
**Host Environment**
- OS: macOS Big Sur 11.5.1
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
I use a vcpkg.json and install the dependencies with the following command:

[code]

vcpkg.json file

[code]

**Failure logs**
-Cut and past the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

[code]

[2021-08-28 20:53] vadi2 commented on #19683
This somehow fixed itself. Maybe the VS Code C++ or CMake extension was being dodgy.

[2021-08-28 20:53] #19683 closed

[2021-08-28 22:06] xavier2k6 opened #19783 "[jasper] update to 2.0.33"
Library name: **jasper**

New version number: **2.0.33**

Other information that may be useful (release notes, etc...)
https://github.com/jasper-software/jasper/releases/latest
https://github.com/jasper-software/jasper/blob/version-2.0.33/NEWS

[2021-08-28 22:14] autoantwort commented on #19782
Hi, can you test if #19285 fixes your problem? :)

[2021-08-29 08:31] BZandi commented on #19782
Unfortunately, I cannot test other solutions anymore because I already installed `autoconf ` using the system's brew, which solved the error.