[2020-07-07 15:15] JonOverholser opened #12313 "[New Port Request] xqilla"
Library name: xqilla

Library description: An XQuery and XPath 2.0 library, written in C++ and built on top of Xerces-C.

Source repository URL: https://sourceforge.net/projects/xqilla/files/XQilla-2.3.4.zip/download

Project homepage: https://sourceforge.net/projects/xqilla/

Dependencies: xerces-c

[2020-07-07 15:29] TommyRabes commented on #12230
Hello NancyLi1013
Thanks for your support.
I'm using Visual Studio 2019. But I was using vs 2015 before and it seems
the cross tools command prompt for VS2015 still remains, is that a problem?

Le lun. 6 juil. 2020 à 09:42, NancyLi1013 <notifications@github.com> a
écrit :

[2020-07-07 16:07] jsmolka commented on #12292
@Voskrese my version should be equal to your first one (cmake selects Visual Studio 16 2019 as default generator if none is supplied) and the second version fails with the following error logs.

[CMakeOutput.log](https://github.com/microsoft/vcpkg/files/4885879/CMakeOutput.log)
[CMakeError.log](https://github.com/microsoft/vcpkg/files/4885880/CMakeError.log)

I success generating the solution with

[2020-07-07 16:21] Voskrese commented on #12292
`14.26.28801\lib\x64\libcmt.lib : warning LNK4272: library machine type 'x64' conflicts with target machine type 'x86'`

`Visual Studio 16 2019 -A x64` << -- x64 default generator
?

"C:/Program Files (x86)/Microsoft Visual Studio/2019/Community/VC/Tools/Llvm/bin/clang-cl.exe" --help

x64 Llvm -->> "C:/Program Files (x86)/Microsoft Visual Studio/2019/Community/VC/Tools/Llvm/x64/"

[2020-07-07 16:59] jsmolka commented on #12292
Even if I manage to generate a solution for clang-cl I still end up with the disabled exceptions error.

[2020-07-07 17:03] strega-nil commented on #12289
I think adding `VCPKG_PORT_OVERLAYS` is likely the best thing to do, since we want to add federation and that will replace most uses of overlay ports; thus, I don't want to add a flag for it.

[2020-07-07 17:34] AlexAltea opened #12315 "Dependency features not installed in manifest mode"
It seems that features in the array of dependencies of *vcpkg.json* files get ignored by `vcpkg install`.

**Environment**
- OS: Any?
- Compiler: Any?

**To reproduce**

Steps to reproduce the behavior:
1. Create an empty folder with the following `vcpkg.json` file:
[code]
2. Run `vcpkg install` in that folder.
3. `capstone[core]` is installed instead of `capstone[x86]`.
    See: https://github.co

[2020-07-07 17:38] AlexAltea commented on #12315
CC @strega-nil

[2020-07-07 18:22] strega-nil commented on #12315
I will look into this.

[2020-07-07 20:26] Christsnatcher commented on #8473
Hello,

I'm back to this topic because I run into the very same issue as described by @VFoV when trying to build x264 x86 / x64 via vcpkg, here're the error messages:

**x86-windows:**

[code]

**x64-windows:**

[code]

It looks as if configure arguments were passed to link.exe instead, but apparently the src itself is flawed: I tried to build the program using my personal MSYS2 installation and x

[2020-07-07 20:27] ras0219 commented on #12289
An environment variable is much less ergonomic for my use case: I have an application project that needs a tweaked version of some library. I'd like to submodule upstream vcpkg (making it very easy for me to update in the future), but use this tweaked version[1] just for this project.

The need for the tweaked version is not coming from my environment, it's coming from the needs of my project. The

[2020-07-07 20:44] elieux commented on #12288
Instructions are up: https://www.msys2.org/news/#2020-06-29-new-packagers

[2020-07-07 20:48] #11762 closed

[2020-07-07 20:58] #12008 closed

[2020-07-07 21:03] #9111 closed

[2020-07-07 21:14] strega-nil commented on #12289
Hrmm... okay, fair enough.

[2020-07-07 21:27] #11566 closed

[2020-07-07 21:48] pwm1234 commented on #11762
Thank you!

[2020-07-07 21:51] #12258 closed

[2020-07-07 22:01] #8216 closed

[2020-07-07 22:17] MSUNDGR1 commented on #8199
I am also getting the same error as @palmada

[2020-07-07 23:14] ras0219-msft commented on #12292
I believe I've identified the issue and proposed a fix in https://github.com/microsoft/vcpkg/pull/12319.

[2020-07-08 02:40] NancyLi1013 commented on #7609
I'm closing this issue for now since inactive in a long time.

[2020-07-08 02:40] #7609 closed

[2020-07-08 02:48] NancyLi1013 commented on #12311
Hi @puppuluri
Thanks for posting this issue.
Could you please provide the error info from _/Users/puppuluri/projects/br/core/build/vcpkg/buildtrees/python3/make-build-x64-osx-release-out.log_ and _/Users/puppuluri/projects/br/core/build/vcpkg/buildtrees/python3/make-build-x64-osx-release-err.log_?

[2020-07-08 03:05] PhoebeHui commented on #12304
boost-coroutine with arm not support in vcpkg now. I tried to build it, and it failed with LNK2019, It looks a source issue, which similar with https://github.com/boostorg/coroutine/issues/50

Failures:
  Creating library F:\vcpkg\boost_173\vcpkg\buildtrees\boost-coroutine\arm-windows-rel\boost\build\0d862822dfa70470e937394323037b2b\boost_coroutine-vc141-mt-a32-1_73.lib and object F:\vcpkg\boost_1

[2020-07-08 03:20] XiaohaiAlex opened #12320 "[boost-exception:x64-windows] build failure"
**Host Environment**
- OS: Win10 LTSC 1809
- Compiler: Visual Studio Community 2019 16.6.3
- Vcpkg version: 2020.06.15-nohash

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install  boost-exception:x64-windows`

**Failure logs**
notice: found boost-build.jam at D:/vcpkg/installed/x64-windows/tools/boost-build/boost-build.jam
notice: loading B2 from D:/vcpkg/installed/x64-windows/tools

[2020-07-08 03:21] NancyLi1013 commented on #12303
Hi @NancyLi1013

Thanks for posting this issue.

Did you use different versions for Visual Studio on these two machines?

Please refer to this [doc](https://devblogs.microsoft.com/cppblog/making-cpp-exception-handling-smaller-x64/) to get more info about this issue.

[2020-07-08 04:44] alimai commented on #11768
I do a test with the zlib(The latest version of zlib in vcpkg is 1.2.11-6),
Vcpkg still build the latest version of module when I following the suggestion of @timautry timautry.
1. git reset 18b029a5e3997fa4fdc7d3d06d56568a1d6f74ad
2. .\vcpkg x-history zlib
             version          date    vcpkg commit
            1.2.11-5    2019-06-15    18b029a5e3997fa4fdc7d3d06d56568a1d6f74ad

[2020-07-08 04:49] alimai opened #12321 "build a lib with specified version"
I try to build a lib with specified version, and find a suggestion as following in #11768 :

1. Use command .\vcpkg x-history qt5
2. Get the commit id of the version you need.
3. Use command git reset <commit id>
4. Rebuild qt5.

_Originally posted by @timautry in https://github.com/microsoft/vcpkg/issues/11768#issuecomment-639874654_

I do a test with the zlib(The latest version of zlib in vcpkg

[2020-07-08 04:52] SoumenKunduTantra commented on #12303
Hi, Thanks for replying.
We are using same version in both the machine.
Microsoft Visual Studio Community 2017
Version 15.9

[2020-07-08 05:44] linquize commented on #12216
#12186 re-opened

[2020-07-08 05:47] linquize commented on #12187
Why is it fixed? I suggest to document it.

[2020-07-08 05:56] JackBoosY commented on #12309
@strega-nil Can you take a look?

Thanks.

[2020-07-08 06:33] NancyLi1013 commented on #12230
[code]
It might be a problem in Visual Studio 2015. Please see comments [here](https://github.com/Microsoft/vcpkg/issues/1689#issuecomment-432794416).

[2020-07-08 06:41] JackBoosY commented on #12240
Related: #10613.

[2020-07-08 06:56] JackBoosY commented on #12240
@Voskrese Sadly, none of the solutions you provide can be used in Visual Studio 2017.

[2020-07-08 06:59] NancyLi1013 commented on #12116
So you include the headers in your project, but you cannot find any headers if you don't config the include path in project properties?

Such as adding` #include <eigen3/Eigen/src/Core/Array.h>`

then try to build the project?

The steps are right?

[2020-07-08 07:01] PhoebeHui commented on #12310
I think that depends on how you consume the libs from vcpkg. If using the libs with cmake, you can use two vcpkg instance, since everything setting via CMAKE_TOOLCHAIN_FILE. Howver, it using them with [MSbuild](https://github.com/microsoft/vcpkg/blob/master/docs/users/integration.md#with-msbuild) then only one instance can be used at once, since only have one vcpkg.user.targets under %APPDATA%\..\

[2020-07-08 07:07] Neumann-A commented on #12240
Hmm why not? I thought the solution would be to just download the correct architecture build of yasm? So just changing vcpkg_find_acquire_program

[2020-07-08 07:38] JackBoosY commented on #12240
After changing the yasm binary, seems work.
I'm fixing this issue now.

[2020-07-08 07:45] Voskrese commented on #12240
this case is voluntary to use or not, my business is to offer
and it works on MSVC 2013 b MSVC 2015
on account of 2017, I do not know, do not use

[2020-07-08 08:54] JackBoosY commented on #12321
Confirmed, but I think this is just a display issue.

[2020-07-08 09:14] ollp commented on #12116
now you got it

#include<> cannot find eigen3 as an sample

[2020-07-08 09:17] LilyWangL commented on #11347
Thanks for your reply. `mscoree.h` and `fusion.h` is part of the native API to the .NET runtime. You should confirm if you install the following items on Visual Studio.
![image](https://user-images.githubusercontent.com/47812810/86901172-d1c98700-c13e-11ea-87ca-fcd2e2a8f10f.png)

[2020-07-08 09:22] alimai commented on #12321
Just a

Hi, it seem not that.
if you test the boost module, you will find that the vcpkg download the tar.gz file with latest  version from github.

[2020-07-08 09:25] alimai commented on #12321
Misuse(close the issue)

[2020-07-08 09:36] TheFloatingBrain opened #12325 "[openal-soft:x86-windows] build failure"
**Host Environment**
- OS: Windows
- Compiler: 19.26.28806 or 19.16.27040 (2017 installed, recently installed 2019)
**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install sfml:x64-windows`
or
`./vcpkg upgrade --no-dry-run` (with SFML x86 installed)

**Failure logs**
For `x64-windows`

[code]

For `vcpkg ugrade --no-dry-run`
[code]
**Relevant sections from the log files above.**

For `x

[2020-07-08 09:38] LilyWangL commented on #12073
Thanks for your reply. Port `libiconv` doesn't build on non windows platforms, you can temporarily install linconv manually. The related issue: #11071.

[2020-07-08 09:39] LilyWangL commented on #12073
@vicroms Could you help take a look this issue?

[2020-07-08 10:21] NancyLi1013 commented on #12116
I didn't met the issue that headers were not found, but there were some errors in the header file.

The errors like this:
[code]

[2020-07-08 10:22] PhoebeHui commented on #12282
@rukai, I have summited PR https://github.com/microsoft/vcpkg/pull/12326 to fix this issue, would you like to test if it works for you?

[2020-07-08 10:31] PhoebeHui commented on #12320
@XiaohaiAlex, could you double check if "D:\vcpkg\buildtrees\boost-exception\x64-windows-rel\boost\standalone\msvc\999faa3b40e90a2a5abbbc32b31cdb11\msvc-setup.bat" exist? I can't repro this issue, it built successfully for me.

From you log, looks the failures is:
The system cannot find the path specified.
type "C:\Users\Alex\AppData\Local\Temp\jam15c035f1.000" > "D:\vcpkg\buildtrees\boost-excepti

[2020-07-08 10:49] kakyoism commented on #12310
When you say "only one instance at once (at a time?)" with MSbuild, do you imply that if I invoke MSbuild sequentially for two projects using two vcpkg instances, and update `vcpkg.user.targets` and other parameters configured under %APPDATA%..\Local\vcpkg accordingly, then I'll be fine?

I know this sounds a hack but in reality without this sandbox feature, multiple non-CMake-based projects are e

[2020-07-08 12:20] RameshKandukuriB commented on #11792
@timautry , @NancyLi1013 I followed above, still its referencing https://github.com/intel/tbb/archive/427c252e0bb9e191767a62d8a744b21950c343f6.tar.gz...
Same issue on log is from azure dev-ops. I am referencing vcpkg as submodule for devops, every time it pulls the submodule (vcpkg). I think the submodule-vcpkg should be latest.  Then  bootstrap-vcpkg.bat,  upgrade & install.
Not sure why its stil

[2020-07-08 12:52] MCl57 commented on #12121
with last update vcpkg it works.
thank you

[2020-07-08 13:54] tom-r-o commented on #6177
@dwcullop , I'm also getting the same error you mentioned:

Can you share which libraries you installed for Visual Studio?
I have VS2015, 2017 and 2019 installed, and there are a lot of ARM build tools available for installation (I'd rather not install all of them, as they take up quite a lot of drive space)

[2020-07-08 14:22] Neumann-A commented on #12237
I hear symlinks. Maybe @BillyONeal can comment since there were also issues using symlinks when rewriting vcpkg's CI and he might have encountered them all?

[2020-07-08 14:26] Neumann-A commented on #12321
`git reset 18b029a` probably requires `--hard ` to reset the working tree instead of leaving it untouched ;)

[2020-07-08 15:05] jsmolka commented on #12292
@ras0219-msft Yes, this fixes the issue.

[2020-07-08 15:29] RameshKandukuriB opened #12327 "[hiredis[ssl]] build failure"
**Host Environment**
- OS: Windows 64 bit
- Compiler: VS2019 Version 16.6.2

**To Reproduce**
Steps to reproduce the behavior:
vcpkg upgrade hiredis[ssl]:x64-windows-static
vcpkg upgrade hiredis[ssl]:x64-windows-static --no-dry-run
vcpkg install hiredis[ssl]:x64-windows-static --recurse
whereas vcpkg install hiredis[core]:x64-windows-static is building successfully

**Failure logs**

**\vcpkg\buil

[2020-07-08 16:45] BillyONeal commented on #12237
@Neumann-A The issues we were having with symlinks were primarily infrastructure issues, not issues with any individual ports; e.g. problems with updating where the symlinks target or symlinks getting erroneously followed by 'git clean'. The solution was to cut symlinks out of the equation entirely, but the tool should still work in their presence.

[2020-07-08 17:11] vagor77 opened #12328 "[ffmpeg] build failure"
Made on the clean install
Downloaded clean vcpkg

Host Enviroment
OS:Windows 10 x64
Compiler: Visual Studio/C++ 2019 16.6.3

**To Reproduce**
vcpkg install ffmpeg:x64-windows-static

**Failure logs**
-- Using cached W:/LIB/vcpkg-master/downloads/ffmpeg-ffmpeg-n4.2.tar.gz
-- Cleaning sources at W:/LIB/vcpkg-master/buildtrees/ffmpeg/src/n4.2-a4d149a5c6.clean. Pass --editable to vcpkg to reuse source

[2020-07-08 17:57] RT222 commented on #12250
Nice, it would be very helpful if Imgui provided a CMake build system by default, I hope they'll be able to add it soon. In the meantime, here's my proposal to improve the bindings support for this port : #12329

[2020-07-08 19:10] Neumann-A opened #12330 "[fontconfig] fonts.conf only configured for windows not linux"
Bug: see title

reason:
[code]

`    set(FC_DEFAULT_FONTS WINDOWSFONTDIR)`
`    set(FC_CACHEDIR WINDOWSTEMPDIR_FONTCONFIG_CACHE)`

needs to be target aware.

[2020-07-08 20:51] #12292 closed

[2020-07-08 20:52] #10950 closed

[2020-07-08 20:54] #12307 closed

[2020-07-08 21:02] #12301 closed

[2020-07-08 21:13] ras0219-msft commented on #12310
There are two easy ways to sandbox individual MSBuild instances:
https://github.com/microsoft/vcpkg/blob/master/docs/users/integration.md#linking-nuget-file and https://github.com/microsoft/vcpkg/blob/master/docs/users/integration.md#export-command

With the first, we will generate a NuGet package that points to the specific absolute path on your machine. However, these paths may not be correct fo

[2020-07-08 21:39] TheFloatingBrain commented on #12325
Did a quick google and noticed this [similar issue](https://github.com/microsoft/vcpkg/issues/9431) (failed at the same line in the same script) I did not uninstall vs2017 (though I did install 2019) however restarting did not work.

[2020-07-08 22:08] #12062 closed

[2020-07-08 22:26] TheFloatingBrain commented on #12325
I just took a look at the logs, here I can see that there seems to be some sort of issue regarding a windows kit being used, the first error being:
[code]

I see a few "redefinition" errors mixed in there somewhere:

[code]

Could there be some issue with double consumption of the dependancy?

[install-x86-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/4893550/install-x86-windows-db

[2020-07-08 22:34] #11594 closed

[2020-07-09 00:25] timautry opened #12331 "[vcpkg] list, search and update options no longer have <Port Version> shown after <Version>"
**Describe the bug**
vcpkg list, search and update options no longer have `<Port Version>` shown after `<Version>` in the output list.

**Environment**
- OS: [Windows/Linux]
- Compiler: VS 2017/2019, gcc 9.2.1

**To Reproduce**
Steps to reproduce the behavior:
1. `->vcpkg update`
`Using local portfile versions. To update the local portfiles, use git pull.`
`The following packages differ from their

[2020-07-09 01:35] PhoebeHui commented on #12204
@acceleratxr, could you try below steps?

1. Open Ubuntu terminal as admin
2. Temprorarily remove the system cmake
3. ./vcpkg install boost

[2020-07-09 01:49] NancyLi1013 commented on #11792
If you cannot update successfully, it might be better to build this in a clean environment.

[2020-07-09 02:07] alimai commented on #12321
Oh, do you mean the buildtree?
I test it with a new vcpkg, no lib has been installed before, so there don't have any of the following folder: buildtrees,downloads,installed,packages

And I try reset it with --hard option,
After that, the vcpkg told me to run 'bootstrap-vcpkg.bat',
Then I got many many errors.

[2020-07-09 02:10] JackBoosY commented on #12321
@ras0219 @ras0219-msft Could you take a look?

Thanks.

[2020-07-09 02:13] lgp8z commented on #5728
why not merge to master?

[2020-07-09 02:17] JackBoosY commented on #12086
Close this issue via #12257 merged.

[2020-07-09 02:17] #12086 closed

[2020-07-09 02:18] LilyWangL commented on #12325
Thanks for posting this issue. Closed as duplicate of #10825.

[2020-07-09 02:18] #12325 closed

[2020-07-09 02:22] JackBoosY commented on #12331
@ras0219 @ras0219-msft Could you please take a look?

Thanks.

[2020-07-09 02:31] TheFloatingBrain commented on #12325
@LilyWangL Thank you, is there an official fix/resolution?

[2020-07-09 02:44] jamesalbert opened #12334 "[docker] Intermittent build failures running bootstrap-vcpkg.sh"
**Describe the bug**
I'm trying to build vcpkg in a debian 10 environment in docker. Fairly simple Dockerfile:

[code]

Sometimes it will pass. Sometime it will fail with:
[code]

or with:
[code]

or with:
[code]

Given the ambiguity of the error messages and my lack of knowledge with some of these tools, I'm having a hard time figuring out what's wrong. Or whether this is a vcpkg bug or something

[2020-07-09 02:46] BillyONeal commented on #12237
The problem that we're seeing is of the form:

https://james.darpinian.com/decoder/?q=-1073741819 says 'probably `STATUS_ACCESS_VIOLATION`. i.e. a wild pointer in `yasm.exe` itself. That we see such wildly varying results with the same input on different machines also suggests a wild pointer.

[2020-07-09 02:48] kakyoism commented on #12310
Wow. All these routes look promising. I'll give them a try.

@ras0219-msft  Thanks a lot! Close now and will reopen it if I'm blocked again.

[2020-07-09 02:48] #12310 closed

[2020-07-09 02:50] TheFloatingBrain commented on #10825
Also having this issue. Any resolution?

[2020-07-09 02:58] diablodale opened #12335 "[libyuv] regression: lost all jpeg APIs for static lib builds"
The recent PR https://github.com/microsoft/vcpkg/pull/12213 by @PhoebeHui broke all jpeg APIs in libyuv for static libs.
This is most likely due to the following change:

https://github.com/microsoft/vcpkg/blob/3bffe1c0493c1220d3db2803a53c79add20d63d2/ports/libyuv/fix-build-type.patch#L32

This logic change skips an entire block which defines loading dependent jpeg libraries and setting some defin

[2020-07-09 03:11] strega-nil commented on #12321
@alimai the correct command to run is probably:

[code]

This will check out _only_ the specified port from the tree. You can also do something like:

[code]

and then proceed to use `vcpkg` with the additional flag `--overlay-ports=./pinned-ports` :)

[2020-07-09 05:35] JackBoosY commented on #11227
Hi everyone, since qt has been updated to 5.15, does this issue exists?

[2020-07-09 05:39] JackBoosY commented on #10825
@TheFloatingBrain Can you test if #12318 works?

[2020-07-09 05:40] PhoebeHui commented on #12335
Sorry for that, I will take a look.

[2020-07-09 05:44] JackBoosY commented on #8473
In config.log:
[code]

@Neumann-A Could you please take a look?

Thanks.

[2020-07-09 05:46] JackBoosY commented on #8473
`F:/vcpkg/downloads/tools/msys2/msys64/usr/share/automake-1.16/compile: No such file or directory`

Only have `F:/vcpkg/downloads/tools/msys2/msys64/usr/share/automake-1.15` on my machine.

[2020-07-09 05:50] LilyWangL commented on #12241
@ras0219-msft I can't reproduce this issue on Linux Ubuntu 18.04.2. Can you help take a look this issue?
Thanks.

[2020-07-09 05:55] LilyWangL commented on #12325
Can you try #12318 changes work for you?

[2020-07-09 05:58] johnco3 commented on #12107
I get the same behavior, I also tried vcpkg install xlnt:x64-windows --head to pull from the latest source but the problem persists.  Unfortunately I don't know vcpkg sufficiently to fix it.   Here is part of my CMake command output where I use `find_package(Xlnt CONFIG REQUIRED)`

The CMake output is as follows:

[code]

[2020-07-09 06:03] JackBoosY commented on #8473
I think #11836 should fix this issue.

[2020-07-09 06:05] alimai commented on #12321
Thanks. It works now.

[2020-07-09 06:05] #12321 closed

[2020-07-09 06:11] PhoebeHui commented on #12335
@diablodale, the changes doesn't from my PR https://github.com/microsoft/vcpkg/pull/12213, I only updated the targets file name and add dependency port JPEG to config file, so it's not a regression from PR#12213. It should be another issue, I will continue to investigate it.

[2020-07-09 06:16] LilyWangL commented on #10900
Thanks for posting this issue. Please reopen this issue if this is still a problem for you.

[2020-07-09 06:16] #10900 closed

[2020-07-09 06:18] PhoebeHui commented on #12335
It from PR https://github.com/microsoft/vcpkg/pull/8769, I will confirm with Jack.

[2020-07-09 06:26] LilyWangL commented on #10046
Thanks for posting this issue. Please reopen this issue if this is still a problem for you.

[2020-07-09 06:26] #10046 closed

[2020-07-09 06:28] NancyLi1013 commented on #12327
Hi @RameshKandukuriB
Thanks for posting this issue.
I try to build this on my local and I cannot reproduce it.

[code]

[2020-07-09 06:44] XiaohaiAlex commented on #12320
@PhoebeHui Thanks, I already checked that "D:\vcpkg\buildtrees\boost-exception\x64-windows-rel\boost\standalone\msvc\999faa3b40e90a2a5abbbc32b31cdb11\msvc-setup.bat" is missing? So, how can I fix it? Should I try to reinstall something?

[2020-07-09 06:45] NancyLi1013 commented on #12327
Since `pthread.h` is only required on Unix platform. We can update this as the follows:
[code]
Could you please try to rebuild this?

[2020-07-09 06:49] acceleratxr commented on #12204
Unfortunately I get the same failure when building boost-mpl.
[code]

[2020-07-09 06:53] LilyWangL commented on #5552
Thanks for posting this issue. On the latest VCPKG, you can install `eastl` successfully and get the command `find_package(EASTL CONFIG REQUIRED)`. You can use `find_package(EASTL CONFIG REQUIRED)` in CMakeLists.txt to find `eastl` successfully. Please reopen this issue if this is still a problem for you.
[code]

[2020-07-09 06:53] #5552 closed

[2020-07-09 07:16] PhoebeHui commented on #12328
@vagor77, thanks for reporting this issue!

From your log, It seems fail to ' Acquiring MSYS Packages' step, could you attach failure log 'W:\LIB\vcpkg-master\buildtrees\ffmpeg\msys-pacman-x64-windows-static-err.log'?

I can't repro this issue, it built successfully for me.
The following packages will be built and installed:
    ffmpeg[avresample,core]:x64-windows-static
Starting package 1/1: ffmp

[2020-07-09 07:35] spindensity opened #12336 "[qwt] update to 6.1.5"
Library name: qwt

New version number: 6.1.5

* Changelog: https://sourceforge.net/p/qwt/code/HEAD/tree/tags/qwt-6.1.5/CHANGES-6.1
* News: https://sourceforge.net/p/qwt/news/2020/06/qwt-615/
* Source: https://sourceforge.net/projects/qwt/files/qwt/6.1.5/

[2020-07-09 07:51] PhoebeHui commented on #12204
Thanks for your updates!

Related to https://github.com/microsoft/vcpkg/issues/11283. see https://github.com/microsoft/vcpkg/issues/11283#issuecomment-627008806

[2020-07-09 07:52] christophe-calmejane commented on #12286
@strega-nil Since I merged the manifest code, I too have issues with our CI. We use and mix some complex ports and custom toolchain that leads to a reentrant call to `vcpkg install` (on purpose) but always on the same process. Would it be possible for **the lock to be reentrant**, or delay the lock for when it's actually needed?
My reentrant call immediately returns because the sub-package I try t

[2020-07-09 08:06] LilyWangL commented on #5686
Thanks for posting this issue. About your second question, could you please provide the repro codes?

[2020-07-09 08:14] LilyWangL commented on #4651
Thanks for posting this issue. This issue has been fixed in PR #10615. `hwloc` support use `./autogen.sh` and `./configure` to compile on Linux, so I am closing this issue for now.

[2020-07-09 08:14] #4651 closed

[2020-07-09 08:33] chuyanjuncn opened #12337 "[<osgEarth>] update to <3.0>"
Library name:
OSGEarth
New version number:
3.0
https://github.com/gwaldron/osgearth/releases/tag/osgearth-3.0
https://github.com/gwaldron/osgearth/archive/osgearth-3.0.tar.gz

[2020-07-09 08:37] PhoebeHui commented on #12335
@diablodale, thanks for reporting this issue!

I have summit a PR to fix this issue, can you help confirm if it works for you?

[2020-07-09 08:43] LilyWangL commented on #4355
@theobouwman Thanks for posting this issue. Does this issue still occur? I install `openssl-unix:x64-osx` successfully on MACOS 10.15.2 with the latest VCPKG.
[code]

[2020-07-09 08:50] GAInTheHouse opened #12339 "ffmpeg build failure"
**Host Environment**
- OS: Windows

**To Reproduce**
Steps to reproduce the behavior:
./vcpkg install opencv[FFmpeg]

**Failure logs**
Here's the command prompt dialogue box:

PS C:\Users\GAInTheHouse\vcpkg-master> ./vcpkg install opencv[ffmpeg]
Your feedback is important to improve Vcpkg! Please take 3 minutes to complete our survey by running: vcpkg contact --survey
Computing installation plan..

[2020-07-09 09:18] LilyWangL commented on #6842
@timzimm Thanks for posting issue. Does this issue still occur? I installed `fftw3[avx2]` successfully on MACOS 10.15.2 with the latest VCPKG source.
[code]

[2020-07-09 09:45] NancyLi1013 commented on #5728
@lgp8z
Thanks for posting this request again. Since there are still some problems in static build.
You can open a new PR or reopen my PR to continue the work if you still require for this port.

[2020-07-09 09:59] #12337 closed

[2020-07-09 10:16] chuyanjuncn opened #12340 "[<osgEarth>] update to <3.0>"
osgEarth
New version number:
30.

https://github.com/gwaldron/osgearth/releases/tag/osgearth-3.0
https://github.com/gwaldron/osgearth/archive/osgearth-3.0.tar.gz

osgEarth release the new version 3.0

Please update, thanks

[2020-07-09 10:17] PhoebeHui commented on #12320
Could you try to build boost-exception with clean vcpkg source and see if this issue still exist?
It might due to anti-virus software, which removed the msvc-setup.bat.

[2020-07-09 10:23] PhoebeHui commented on #12339
Related to https://github.com/microsoft/vcpkg/issues/12328

[2020-07-09 10:35] PhoebeHui commented on #12328
@vagor77, could you delete .\downloads\tools\msys2 directory and try to build ffmpeg again and see if this issue still exist?

[2020-07-09 10:36] PhoebeHui commented on #12339
@GAInTheHouse, could you delete .\downloads\tools\msys2 directory and try to build ffmpeg again and see if this issue still exist?

[2020-07-09 11:08] GAInTheHouse commented on #12339
The issue still exists.
This is the PowerShell description:

PS C:\Users\GAInTheHouse\vcpkg-master> ./vcpkg install opencv[ffmpeg]
Computing installation plan...
The following packages will be built and installed:
  * ffmpeg[avresample,core]:x64-windows
    opencv[core,dnn,ffmpeg,jpeg,opengl,png,tiff,webp]:x64-windows
  * opencv4[core,dnn,ffmpeg,jpeg,opengl,png,tiff,webp]:x64-windows
Additional pa

[2020-07-09 11:58] Hesy-happy commented on #12275
Sorry, the two components downloaded are still in effect, gtk still cannot be installed
[config-x64-linux-err.log](https://github.com/microsoft/vcpkg/files/4896556/config-x64-linux-err.log)

[2020-07-09 12:25] ZeeWanderer commented on #12107
@johnco3 This is an upstream xlnt cmake problem as I tried using upstream repo as a submodule and the result is the same. In the end, I settled for MSBuild. Originally I wanted to open an upstream issue but never got to it yet.

[2020-07-09 12:44] cenit opened #12341 "[qt5-base:x64-windows] build failure"
**Host Environment**
- OS: Windows
- Compiler: VS 2019 16.6.3 (latest version)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg upgrade --no-dry-run`

**Failure logs**
[code]

**Additional context**
Upgrading my vcpkg install folder today, with the QT5 port updated to 5.15 #11596 , lead to failure.
Re-launching the installation gives the same failure.
Other issues regarding latest qt5 u

[2020-07-09 13:12] cenit commented on #12339
please change title to `ffmpeg[avresample,core]:x64-windows` build failure, unrelated to opencv

[2020-07-09 14:06] makitsune commented on #3647
On Debian 10, I have to compile CMake 3.14+ from source and `-useSystemBinaries` works when bootstrapping. However when I run `vcpkg install` it'll try to download CMake for x86_64 again.

[2020-07-09 14:08] Neumann-A commented on #12341
Nothing to see here. qt5-imageformats is sometimes a bit flaky and just need to be rerun and the qt5-base regression is a download failure of winflexbison.

I also get the warnings:
[code]
but the build succeeds.  I also see the *.json files in the buildtree being generated. hmm...

[2020-07-09 14:11] makitsune commented on #3647
This works for me for now
- `./bootstrap-vcpkg.sh -useSystemBinaries`
- `VCPKG_FORCE_SYSTEM_BINARIES=1 ./vcpkg install ...`

[2020-07-09 14:22] Neumann-A commented on #12341
[code]

From https://github.com/microsoft/vcpkg/pull/12229#issuecomment-656078755: Update qt5-base build-depends to include zstd. (Currently trying to find the place actually introducing zstd)

[2020-07-09 14:42] cenit opened #12343 "[pcre2:x64-linux] build failure"
After #11754 has been merged, upgrade to latest revision fails here

**Host Environment**
- OS: Ubuntu 20.04
- Compiler: gcc (Ubuntu 9.3.0-10ubuntu2) 9.3.0

**To Reproduce**

`./vcpkg install pcre2`

**Failure logs**
[code]

[2020-07-09 14:47] johnco3 commented on #12107
it is frustrating, as it is the only part of my build dependency that
fails. I was digging into the root of the problem and from what I can tell
it is to do with a generated line of cmake code
`set_and_check(XLNT_INCLUDE_DIR "include")`.  I don't know where this
originated from as i'm not very familiar with creating portiles for vcpkg.
But it more than likely is called via configure_package_config

[2020-07-09 15:36] TobiasBohnen opened #12344 "[Lua] update to 5.4.0"
Library name: Lua

New version number: 5.4.0

Website: [lua.org](https://www.lua.org/)

Source: [5.4.0](https://www.lua.org/ftp/lua-5.4.0.tar.gz)

Breaking changes: [manual](https://www.lua.org/manual/5.4/manual.html#8)

[2020-07-09 16:12] cjdb opened #12345 "[range-v3] update to HEAD"
Library name: range-v3

New version number: a7f58f8ab7d1260aca66151009ae072d0980c7c7

[2020-07-09 16:13] vagor77 commented on #12328
the content of the msys-pacman-x64-windows-static-err.log was like this.
rror: mingw32: signature from "Alexey Pavlov (Alexpux) alexpux@gmail.com" is unknown trust
error: mingw64: signature from "Alexey Pavlov (Alexpux) alexpux@gmail.com" is unknown trust
error: msys: signature from "Alexey Pavlov (Alexpux) alexpux@gmail.com" is unknown trust
error: database 'mingw32' is not valid (invalid or corr

[2020-07-09 16:25] c72578 commented on #12343
The upstream issue can be found here:https://bugs.exim.org/show_bug.cgi?id=2578

Fixed in commit:
https://vcs.pcre.org/pcre2?view=revision&revision=1256

I will prepare a PR, which includes this patch

[2020-07-09 16:56] strega-nil commented on #12286
Hmm... alright, yeah, I think I'll take the lock out for now in non-manifest builds until we can lock cleanly.

[2020-07-09 17:06] christophe-calmejane commented on #12286
Thanks, although I do have a need for a lock on vcpkg database to prevent multiple install from different process, but I’d rather tell my users to not run multiple CI at the same time than it failing all the time :)

Implementing a reentrant file lock might be challenging, as it’s usually not supported by system APIs, but it should be doable.
Could you add a reference to this ticket when you have

[2020-07-09 17:11] strega-nil commented on #12286
@christophe-calmejane I'm not concerned about it right now, because I'm keeping the file lock for users of the new manifest mode; this means that existing users _will not_ be broken, while new users using the new mode will write their code as if the manifest mode exists (and hopefully we won't need reentrant locks)

[2020-07-09 17:23] #12345 closed

[2020-07-09 17:28] ras0219-msft commented on #12286
From https://github.com/googleapis/google-cloud-cpp/issues/4487:

Failed to take the filesystem lock on /h/vcpkg-quickstart/.vcpkg-root:
    Device or resource busy
Exiting now.

It looks like the file locking APIs we use are unavailable in a mapped docker volume. This looks like a straightforward case of "we should offer an environment variable to not take the lock". Users in docker can pass `--e

[2020-07-09 17:36] ras0219-msft commented on #12286
@christophe-calmejane JFYI, reentrant calls to `vcpkg install` on the same install tree _will_ corrupt the database. This is because the database is not synchronized to disk during port builds. We'd strongly recommend that either:
1. The port checks-with-failure and the install lifted out and run before the port's build
2. The port clones/embeds an inner copy of vcpkg with different root, packages

[2020-07-09 17:39] vagor77 commented on #12328
after deleting the folder and disabling antivirus it compiled.

[2020-07-09 17:52] scholervb commented on #8294
i tried building x86 and x64 ones today, seems they are successfully build.

**vcpkg.exe install restclient-cpp
vcpkg.exe install restclient-cpp:x64-windows**

Computing installation plan...
The following packages will be built and installed:
  * curl[core,non-http,ssl,sspi,winssl]:x64-windows
    restclient-cpp[core]:x64-windows
  * zlib[core]:x64-windows
Additional packages (*) will be modified

[2020-07-09 18:16] Christsnatcher commented on #8473
Looks good, let's hope for the best. Thank you all very much!

[2020-07-09 18:42] mottcallie opened #12348 "[ffmpeg] build failure"
**Host Environment**
- OS: Windows x64
- Compiler: Visual Studio/C++ 2019

**To Reproduce**
.\vcpkg install ffmpeg[*]:x64-windows

**Failure logs**
`CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:72 (message):
    Command failed: C:/dev/vcpkg/downloads/tools/msys2/msys64/usr/bin/bash.exe --noprofile --norc --debug -c " CC='C:/dev/vcpkg/downloads/tools/msys2/msys64/usr/share/auto

[2020-07-09 19:20] MCl57 opened #12349 "Could not find a package configuration file provided by "evpp""
CMakeLists.txt

**find_package(evpp CONFIG REQUIRED)**

CMake Error at /vcpkg/scripts/buildsystems/vcpkg.cmake:415 (_find_package):
  Could not find a package configuration file provided by "evpp" with any of
  the following names:

    evppConfig.cmake
    evpp-config.cmake

  Add the installation prefix of "evpp" to CMAKE_PREFIX_PATH or set
  "evpp_DIR" to a directory containing one of the above

[2020-07-09 19:32] #12186 closed

[2020-07-09 19:32] #12190 closed

[2020-07-09 19:32] #12208 closed

[2020-07-09 19:32] #12234 closed

[2020-07-09 19:32] #12286 closed

[2020-07-09 19:32] #12315 closed

[2020-07-09 19:32] #12331 closed

[2020-07-09 19:35] #12121 closed

[2020-07-09 19:40] #11932 closed

[2020-07-09 19:49] DrPingy commented on #5686
This post is very old. Some updates later my problems are solved.

[2020-07-09 19:49] #5686 closed

[2020-07-09 19:50] christophe-calmejane commented on #12286
@ras0219-msft Well, it's not that simple as I'm mixing multiple build systems together :)
I actually considered looking at the files directly but I didn't want to hardcode anything in the main build system (that is calling vcpkg), like for exemple the path to installed folder, just in case it changes in the future. I mean, it's safer to let vcpkg do it's job and not having to understand its underl

[2020-07-09 19:56] #12348 closed

[2020-07-09 20:17] #10795 closed

[2020-07-09 20:20] timautry commented on #12234
Thank you @strega-nil

[2020-07-09 20:21] timautry commented on #12331
Thank you @strega-nil - have a wonderful week 🥇

[2020-07-09 21:20] #11976 closed

[2020-07-10 01:18] PhoebeHui commented on #12339
@GAInTheHouse, could try to  disabling antivirus and see if the issue still exist? See https://github.com/microsoft/vcpkg/issues/12328#issuecomment-656259912

[2020-07-10 01:19] PhoebeHui commented on #12339
Duplicated to issue https://github.com/microsoft/vcpkg/issues/12328

[2020-07-10 02:55] JackBoosY commented on #12275
Confirmed.

[2020-07-10 04:34] jamesalbert commented on #12334
Same behavior on ubuntu in docker
[code]

note: changed the dockerfile to further match the getting started page. Same intermittent issues.

[2020-07-10 04:56] c72578 commented on #12343
@cenit, could you please test PR #12347, if it fixes the issue on your system?

[2020-07-10 06:04] undergraver commented on #1689
The problem is fixed by installing Windows SDK for Visual Studio 2015. See here for more details: https://stackoverflow.com/questions/43847542/rc-exe-no-longer-found-in-vs-2015-command-prompt

[2020-07-10 06:04] NancyLi1013 commented on #12275
Hi @Hesy-happy
The failures from my local are due to like this:

[code]
This info also came from `config-x64-linux-dbg-err.log`, which seems to be not different yours.

[2020-07-10 06:05] undergraver commented on #12230
Please check this SO question and make sure you install Windows SDK. That package contains rc.exe and everything should be fine.

[2020-07-10 06:06] undergraver commented on #12230
As a temporary workaround I would call the command prompt scripts for VS2013 and then call the ones from VS2015 but that wasn't a clean solution. The correct one is to have Windows SDK installed.

[2020-07-10 06:09] GAInTheHouse commented on #12339
I was able to install opencv[ffmpeg] successfully. I simply deleted all the folders from the tools directory as advised in a similar issue post.
I needed to compile the above for yolo darknet framework by AlexAB.
When I tried to build the darknet model, however, the issue of pthread came up.
I can confirm that I had installed it sing a similar fashion.
I also reconfirmed the download.
The entire e

[2020-07-10 06:15] cenit commented on #12339
Sorry I can’t understand which “issue of pthreads” you are referring to. From the logs it seems ok

[2020-07-10 06:22] PhoebeHui commented on #12328
Thanks for your updates!

[2020-07-10 06:22] #12328 closed

[2020-07-10 06:27] PhoebeHui commented on #12339
@GAInTheHouse, I didn't see any failures from your log, could you provide us more informarion, like the failure log 'config-x64-windows-dbg-err.log', your log looks from config-x64-windows-dbg-out.log.

BTW, I tried to  install darknet:x64-windows, it built successfully for me with latest source.
PS E:\VCPKG\boost_173\vcpkg> ./vcpkg install darknet:x64-windows
Your feedback is important to improve

[2020-07-10 06:32] GAInTheHouse commented on #12339
Looking for PThreads.h ... Not found

[2020-07-10 06:33] GAInTheHouse commented on #12339
So far I've tried building darknet using the build commands. I shall try using vcpkg to install the same.

[2020-07-10 06:58] GAInTheHouse commented on #12339
Hi @PhoebeHui did you try running the python file darknet_video.py after installing darknet using vcpkg?
It produces an import error for me.

C:\Users\GAInTheHouse\vcpkg-master\buildtrees\darknet\src\13bb90133d-a4584e7461> python darknet_video.py
Traceback (most recent call last):
  File "C:\Users\GAInTheHouse\vcpkg-master\buildtrees\darknet\src\13bb90133d-a4584e7461\darknet.py", line 111, in <mod

[2020-07-10 07:08] cenit commented on #12339
`Looking for PThreads.h ... Not found` is not an error!!! It's just cmake doing its things and verify platform resources.

For what concern using darknet_video.py after installing darknet using vcpkg, you have to manually copy dlls from the installed/x64-windows/bin folder to where you have the python script

[2020-07-10 07:13] cenit commented on #12343
hi @c72578, I tested your PR and pcre2 builds ok now. Thank you for the quick solution

[2020-07-10 08:26] vkapartzianis opened #12353 "[brotli[core]:x64-windows] build failure (literal $ must be written as $$)"
**Host Environment**
- OS:  Windows 10
- Compiler:  Visual Studio 2019

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg\vcpkg install cpprestsdk cpprestsdk:x64-windows`

**Failure logs**
[code]

Contents of `U:\source\repos\vcpkg\buildtrees\brotli\config-x64-windows-err.log`:

[code]

**Additional context**
I get the error while trying to install [cpprestsdk](https://github.com/microsof

[2020-07-10 08:45] vkapartzianis commented on #12353
The following should reproduce the error without having to install the rest of the C++ REST SDK:

[code]

[2020-07-10 09:05] PhoebeHui commented on #9896
@jchdng, please reopen this issue if it still be a problem for you.

[2020-07-10 09:05] #9896 closed

[2020-07-10 09:36] L4ZZA commented on #345
what's the status on this? are any of the features discussed implemented yet?

[2020-07-10 09:40] TumanovM commented on #12275
Same problem. Installing `xutils-dev ` fixed `libeproxy` build but `gtk` build fails with
[code]

[2020-07-10 09:41] Neumann-A opened #12355 "[vcpkg] vcpkg build returns: "Value was null""
[code]

[2020-07-10 09:42] Neumann-A commented on #12355
Something is not right: passing `--editable` does not work
[code]

[2020-07-10 09:43] Neumann-A commented on #12355
@ras0219 @ras0219-msft @strega-nil : Please fix ;)

[2020-07-10 09:54] TumanovM commented on #12275
From 'ports/gtk/CMakeLists.txt':
'''
33  find_library(PANGO_WIN32_LIBRARY pangowin32-${PANGO_LIB_SUFFIX})
...
55  find_library(LIBINTL_LIBRARY NAMES intl libintl)
'''

[2020-07-10 09:58] TumanovM commented on #12275
From `ports/gtk/CMakeLists.txt` :
[code]
So if it helps somehow:
#### `$ sudo vcpkg install gettext pango`
[code]
#### `$ sudo find /opt/vcpkg -wholename *intl*`
[code]
#### `$ sudo find /opt/vcpkg -wholename *pangowin32-*`
[code]

[2020-07-10 10:24] vkapartzianis commented on #12353
I figured out the problem: `U` is a network drive so the path to cmake.exe was expanding to `//subdomain1.domain1.com/subdomain2.domain2.com$/user/source/repos/vcpkg/downloads/tools/cmake-3.17.2-windows/cmake-3.17.2-win32-x86/bin/cmake.exe`  in cmake files. I had to use a local drive for vcpkg, which isn't really optimal but I guess that's another issue altogether.

[2020-07-10 10:25] #12353 closed

[2020-07-10 10:45] vkapartzianis opened #12356 "Network paths may contain "$" on Windows"
****

**Is your feature request related to a problem? Please describe.**
I tried to use vcpkg on a network drive, `U` which expanded to `//subdomain1.domain1.com/subdomain2.domain2.com$/user/` in cmake files. This subsequently caused ninja to fail, with "literal $ must be written as $$".

**Proposed solution**
I guess the expanded path to cmake should have all "$" characters replaced with "$$".

*

[2020-07-10 11:00] Neumann-A commented on #12356
Since the path will be anyway to long for most build-systems (if you did not activate long paths on windows) you could try to use `subst` to substitute your network path to a drive letter directly instead.

[2020-07-10 11:19] vkapartzianis commented on #12356
@Neumann-A I'm not sure what you mean. I use the network drive, not any network path. It's vcpkg that expands the drive to the full path.

[2020-07-10 11:51] Neumann-A commented on #12356
In a cmd line I mean something like:
`subst V: //subdomain1.domain1.com/subdomain2.domain2.com$/user/`
or
`subst V: U:/`
and then run vcpkg from `V:`.
This should not expand the network drive.

[2020-07-10 11:57] VelocityRa opened #12357 "[Feature] Default to x64-windows triplet on x64 Windows"
Most people don't use 32-bit builds these days, so we have to always specify the triplet which is cumbersome, or set the env-var which is not elegant.

### Implementation
Instead of this:
https://github.com/microsoft/vcpkg/blob/22c8e3a23afc6be45020cd3f8c92bcea783ce8fa/toolsrc/src/vcpkg/triplet.cpp#L100
there should be a check to see if the host is 64-bit and use the `x64-windows` triplet if so.

`

[2020-07-10 12:51] VelocityRa opened #12358 "[Feature] Prefer static builds (not enforce)"
Most libraries in my manifest can be compiled statically which I would prefer. Some don't support this, however.
Using a `static` triplet, I get errors because of the few that don't support it.

Is there a way to use static builds for only every library that supports it?
There's [not much reason](https://drewdevault.com/dynlib.html) to use dynamic libraries, as far as I know.
It should always pref

[2020-07-10 12:57] RameshKandukuriB commented on #11792
Thanks @NancyLi1013, @timautry  I did updated, pulling oneTBB and building successfully.

[2020-07-10 13:22] AlexAUT opened #12359 "Android prefab broken due to emscripten support"
**Describe the bug**
It is currently not possible to create android prefabs (AAR) because of the emscripten support.

During the export command vcpkg tries to extract triplet information [by running cmake with the toolchain file](https://github.com/microsoft/vcpkg/blob/master/toolsrc/src/vcpkg/export.prefab.cpp#L237). However, the [toolchain](https://github.com/microsoft/vcpkg/blob/master/triplets

[2020-07-10 14:59] strega-nil commented on #12355
I thought we fixed this bug, is it broken again??? Are you sure you're on latest master?

[2020-07-10 15:08] Neumann-A commented on #12355
@strega-nil: I rebuild vcpkg ~7 hours ago after a merge with master so I assume yes. Checking `files.cpp` and it is missing the `work_queue` include which was changed in the latest master commit.

[2020-07-10 15:53] GAInTheHouse commented on #12339
@cenit I have copied all the dll's and into the python directory. However, the error persists.

C:\Users\GAInTheHouse\vcpkg-master\buildtrees\darknet\src\13bb90133d-a4584e7461>python darknet_video.py
Traceback (most recent call last):
  File "C:\Users\GAInTheHouse\vcpkg-master\buildtrees\darknet\src\13bb90133d-a4584e7461\darknet.py", line 111, in <module>
    raise ValueError("NoDLL")
ValueError:

[2020-07-10 16:31] linquize opened #12362 "vcpkg manifest mode cannot bootstrap non-x64 Linux"
In vcpkg **manifest mode**,
`vcpkg.cmake` will call `bootstrap-vcpkg.sh` to build `vcpkg` executable if not yet.
On Linux, `bootstrap.sh` will always download Linux x64 `cmake` and `ninja` binaries, so they won't run on non-x64 platforms, such as ARM.
In such case, user can install the correct architecture of `cmake` and `ninja` by himself, and then pass `-useSystemBinaries` flag to `bootstrap-vcp

[2020-07-10 16:36] strega-nil commented on #12355
Alright, lemme check it out.

[2020-07-10 16:47] stephanecharette opened #12363 "libepoxy (via gtk) build failure"
**Host Environment**
- OS: Ubuntu 20.04
- Compiler: gcc (Ubuntu 9.3.0-10ubuntu2) 9.3.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install gtk`

**Failure logs**

    CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:72 (message):
        Command failed: autoreconf -v --install
        Working Directory: /home/stephane/src/PoC/vcpkg/buildtrees/libepoxy/src/1.5.4-337

[2020-07-10 16:58] stephanecharette commented on #12363
I manually installed the other packages vcpkg was complaining about:

    ./vcpkg install atk gdk-pixbuf gettext pango
    Computing installation plan...
    The following packages are already installed:
        atk[core]:x64-linux
        gdk-pixbuf[core]:x64-linux
        gettext[core]:x64-linux
        pango[core]:x64-linux
    Package atk:x64-linux is already installed
    Package gdk-pixbuf:x

[2020-07-10 20:33] ras0219 commented on #12355
@Neumann-A In your editable example, only the explicit (cli) packages are marked "editable" -- transitive dependencies will not be marked. I see that the message "Pass --editable to vcpkg to reuse sources." is super misleading here; I'll open a PR to make that clearer :)

[2020-07-10 20:36] ras0219 commented on #12355
Opened #12366

[2020-07-10 23:06] #12355 closed

[2020-07-11 01:55] anand-bala opened #12371 "[pybind11] update to 2.5.0"
Library name: pybind11

New version number: v2.5.0

[2020-07-11 01:57] Hoikas commented on #11349
This was fixed in #11708.

[2020-07-11 06:48] TheFloatingBrain commented on #12325
Attempted `vcpkg.exe install --head openal-soft:x64-windows` no go :(

[2020-07-11 06:51] JackGoldfinch commented on #6310
Yes! It's working now! Thank you very much!

[2020-07-11 09:31] jimboyeah opened #12375 "How do I can install sdl2:x64-mingw"
Computing installation plan...
The following packages will be built and installed:
    sdl2[core]:x64-mingw
Unable to determine toolchain to use for triplet x64-mingw with CMAKE_SYSTEM_NAME MinGW

[2020-07-11 10:15] jimboyeah commented on #12065
我遇到这个问题有点恶心，因为 vcpkg 的源代码忽略了 MinGW：

	Computing installation plan...
	The following packages will be built and installed:
	    assimp[core]:x64-mingw
	  * minizip[core]:x64-mingw
	  * rapidjson[core]:x64-mingw
	  * zlib[core]:x64-mingw
	Additional packages (*) will be modified to complete this operation.
	Unable to determine toolchain to use for triplet x64-mingw with CMAKE_SYSTEM_NAME MinGW

解决方法

[2020-07-11 10:15] traversaro opened #12376 "`ffmpeg` on Windows is currently exporting malformed `.pc` files."
**Describe the bug**
`ffmpeg` on Windows is currently exporting malformed `.pc` files.

**Environment**
- OS: Windows/Linux
- Compiler: Not relevant

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install ffmpeg
2. Inspect the installed `.pc` files

**Expected behavior**
ffmpeg should install well formed `.pc` files.

**Failure logs**
See https://github.com/microsoft/vcpkg/pull/11273

[2020-07-11 10:20] jimboyeah commented on #12375
我遇到这个问题有点恶心，因为 vcpkg 的源代码忽略了 MinGW：

	Computing installation plan...
	The following packages will be built and installed:
	    assimp[core]:x64-mingw
	  * minizip[core]:x64-mingw
	  * rapidjson[core]:x64-mingw
	  * zlib[core]:x64-mingw
	Additional packages (*) will be modified to complete this operation.
	Unable to determine toolchain to use for triplet x64-mingw with CMAKE_SYSTEM_NAME MinGW

解决方法

[2020-07-11 10:22] traversaro commented on #12376
``
I tried to add all the library names (such as `psapi.lib`, `strmiids.lib` to the `IGNORE_FLAGS` of `vcpkg_fixup_pkgconfig` ), but this is not working as the content of `Libs.private` is considered as a unique  string, in fact the error in https://github.com/microsoft/vcpkg/pull/11273#issuecomment-653769085 is
[code]

and not for `ole32.lib` and `user32.lib` separately.

[2020-07-11 10:25] longnguyen2004 commented on #12065
I think the best way is to simply ignore the toolchain selection in `build.cpp` for community triplets and use `VCPKG_CHAINLOAD_TOOLCHAIN_FILE` instead, not sure how it'll work out though.

[2020-07-11 10:26] longnguyen2004 commented on #12375
Duplicate of #12065

[2020-07-11 13:01] Neumann-A commented on #12376
You probably need to wait for the PR using pkg-config for the checks.

[2020-07-11 13:30] tan-wei opened #12377 "llvm[openmp] build failure"
**Host Environment**
- OS: Windows
- Compiler: MSVC 16.6.3

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install llvm[openmp]`

**Failure logs**
[code]
[config-x86-windows-out.log](https://github.com/microsoft/vcpkg/files/4906831/config-x86-windows-out.log)
[install-x86-windows-dbg-err.log](https://github.com/microsoft/vcpkg/files/4906833/install-x86-windows-dbg-err.log)

[2020-07-11 14:31] stephanecharette commented on #1578
I also need this.  But I'm confused about the `closed` status.  Does this mean this isn't going to be added?

[2020-07-11 17:01] strega-nil commented on #11349
From @Hoikas, this issue has been solved. Thanks y'all!

[2020-07-11 17:01] #11349 closed

[2020-07-11 18:11] kevinlul opened #12380 "[freetype] compiling with brotli support for woff2 and linking"
****

**Is your feature request related to a problem? Please describe.**
With the freetype 2.10.2 update merged in #11846, support for [WOFF 2 fonts](https://sourceforge.net/projects/freetype/files/freetype2/2.10.2/) was added but not accounted for when I updated the port. Thus, depending on whether brotli is already installed, it might be detected, support compiled, and linked in. The vcpkg brotl

[2020-07-11 22:46] Pospelove opened #12381 "bootstrap-vcpkg.sh failure with G++ 6.3.0"
**Describe the bug**
Vcpkg bootstrap fails with compilation errors (see logs).

**Environment**
- OS: Ubuntu 18.0
- Compiler: G++ 6.3.0

**Reproducing**
Build this commit or newer e62d1361288e83eba786395b60361ab35ba83800.
Older versions of vcpkg are built successfully.

**Expected behavior**
Vcpkg builds successfully.

**Failure logs**
[logs_full.txt](https://github.com/microsoft/vcpkg/files/49077

[2020-07-11 22:52] Neumann-A commented on #12380
Hmm i actually touched this issue in #11776. The problem is that the pkgconfig file for brotli is incorrect which is why it is not found by freetype. freetype itself uses a FindBrotliDec module which internally uses FindPkgConfig for brotli.

[2020-07-12 00:57] W-Binglong opened #12382 "[libepoxy] build failure"
**Host Environment**
- OS: [ Windows 10]
- Compiler: VS 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install libepoxy `

**Failure logs**
-PS C:\Users\王炳龙> vcpkg install libepoxy
Computing installation plan...
The following packages will be built and installed:
    libepoxy[core]:x86-windows
Starting package 1/1: libepoxy:x86-windows
Building package libepoxy[core]:x86-windows.

[2020-07-12 02:52] wenjie89 opened #12383 "[LICENSE_1_0.txt download] Error: Building package boost-compatibility:x86-windows failed with: BUILD_FAILED"
**Host Environment**
- OS: [Windows 10]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install pcl`

**Failure logs**
C:\scr\vcpkg>vcpkg install pcl
Computing installation plan...
Additional packages (*) will be modified to complete this operation.
Starting package 1/122: boost-compatibility:x86-windows
Building package boost-compatibility[core]:x86-windows...
--

[2020-07-12 04:40] longnguyen2004 opened #12385 "[vcpkg_configure_make] Add mingw support"
****

**Is your feature request related to a problem? Please describe.**
Currently, `vcpkg_configure_make` assumes that MSVC is the compiler used. This is however not true anymore since we now have community support for `mingw`. I tried modifying it but soon gave up due to the complexity. If someone can steps up or at least guides me through the process, I'd appreciate it.

[2020-07-12 05:29] c72578 commented on #12383
Problems when downloading the `LICENSE_1_0.txt` file have already been reported multiple times:
https://github.com/microsoft/vcpkg/issues/11627
https://github.com/microsoft/vcpkg/issues/11902
https://github.com/microsoft/vcpkg/issues/12266

Possible solutions are:
- Set the HTTPS_PROXY and HTTP_PROXY environment (see https://github.com/microsoft/vcpkg/issues/11627#issuecomment-642356801)
- Change

[2020-07-12 06:07] linquize commented on #12381
The build fails with `g++-6`
Why do you use `g++-6` in **Ubuntu 18.04**?
**Ubuntu 18.04** comes with `g++-7` by default.

[2020-07-12 07:51] cenit commented on #12341
@JackBoosY why requires:repro?

[2020-07-12 07:56] cenit opened #12387 "[qt5-base:x64-osx] build failure"
**Host Environment**
- OS: macOS 10.15.5
- Compiler:
[code]

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install qt5-base`

**Failure logs**
[code]

from config-x64-osx-dbg-err.log:
[code]

[2020-07-12 08:27] linquize opened #12388 "Compile vcpkg with PCH with non-MSVC compilers"
Currently, vcpkg only enables PCH for MSVC.
Compile vcpkg with PCH with non-MSVC compilers

New cmake function `target_precompile_headers` is introduced in CMake 3.16, which can handle both MSVC and non-MSVC compilers.

[2020-07-12 08:29] wenjie89 commented on #12383
Thank you for your quick response. I downloaded the license file you attached here and put it in the "download" folder after rename it. Then I tried the command "vcpkg install boost-compatibility:x86-windows".  But the same error message pops up. It seems that it will automatically try to download the license file from the link even if the license file is alread in the folder. I tried to switch my

[2020-07-12 11:05] psionic12 opened #12389 "Failed at [C:\vcpkg\toolsrc\src\vcpkg\vcpkglib.cpp(216)] with message: no such file or directory"
Currently I installed WSL (ubuntu version) on my pc, and use the commands as blow to create a Linux version of vcpkg executable:

[code]

after this, no matters what packages I want install, it will build, while failed with an error when installing:
[code]

for example of `./vcpkg install tinyxml2:x64-linux`:

[code]

[2020-07-12 11:06] psionic12 commented on #12389
I want to debug with GDB to find what's going on in vcpkglib.cpp, but the GDB said that vcpkg do not have symbols:

[code]

I'd like to help, so can anyone tells me how to debug vcpkg (either on Linux or Windows)?

[2020-07-12 11:49] psionic12 commented on #12389
Anybody knows how to build a debug version of VCPKG? It seems that it only build a release one with out debug symbols.

[2020-07-12 11:54] Voskrese commented on #12389
`./vcpkg install tinyxml2:x64-linux --debug`
?

[2020-07-12 12:01] psionic12 commented on #12389
@Voskrese I mean debug version of executable "vcpkg"

[2020-07-12 12:05] Voskrese commented on #12389
why? what will it give?

open `.../src/vcpkg/vcpkglib.cpp` -- `str (216)`

open **portfile tinyxml2**

`vcpkg edit tinyxml2`

[2020-07-12 12:36] GordonGgx opened #12390 "vcpkg install atkmm error"
Computing installation plan...
The following packages will be built and installed:
    atkmm[core]:x64-linux
Starting package 1/1: atkmm:x64-linux
Building package atkmm[core]:x64-linux...
-- Note: atkmm only supports dynamic library linkage. Building dynamic library.
-- Using cached /home/ggx/Documents/vcpkg/downloads/atkmm-2.24.2.tar.xz
-- Cleaning sources at /home/ggx/Documents/vcpkg/buildtrees

[2020-07-12 13:03] Voskrese commented on #12390
/p:WindowsTargetPlatformVersion= ... ?

[2020-07-12 13:29] GordonGgx commented on #12390
How to set this property?I use vcpak on Linux

[2020-07-12 13:38] Voskrese commented on #12390
**Command failed:** `msbuild`
`
 Command failed: msbuild /home/ggx/Documents/vcpkg/buildtrees/atkmm/src/atkmm-2-de808b48b0.clean/MSVC_Net2013/atkmm.sln /p:Configuration=Release /t:atkmm /p:Platform=x64 /p:PlatformToolset=external /p:VCPkgLocalAppDataDisabled=true /p:UseIntelMKL=No /p:WindowsTargetPlatformVersion= /p:VcpkgManifestInstall=false /m /p:ForceImportBeforeCppTargets=/home/ggx/Documents/v

[2020-07-12 13:44] GordonGgx commented on #12390
I’m found this error:
Working Directory: /home/ggx/Documents/vcpkg/buildtrees/atkmm/x64-linux-rel
    Error code: No such file or directory

[2020-07-12 13:46] Voskrese commented on #12390
)))

`which msbuild` ?
`locate msbuild` ?

mono ?

[2020-07-12 13:53] singlebear opened #12391 "[tesseract4.1.1] Build Error Type Of Library"
**Host Environment**
- OS: [e.g. Windows/Linux etc...] WIN10
- Compiler:VS2017+ vcpkg 2020.06

**To Reproduce**
     When use the order " .\vcpkg.exe install tesseract:x64-windows",it  should build dynamic libraries.But eventually it built a static library of tesseract.However, Other dependent libraries are normally compiled into dynamic libraries.
     vcpkg-2020.06\installed\x64-windows\lib\tess

[2020-07-12 13:58] GordonGgx commented on #12390
Ok. I'll try to install it

[2020-07-12 14:01] Voskrese commented on #12390
do not )) there is no support in VCPKG for building the atkmm package on *UNIX

crossplatform ?

[2020-07-12 14:03] GordonGgx commented on #12390
Well, I can only use apt to install it.

[2020-07-12 14:07] linquize commented on #12391
What do you mean by your **traditional method** and your new method?

[2020-07-12 14:17] singlebear commented on #12391
I'm not very good at English, so The expression may not be very accurate.*traditional method* means not use VCPKG，use only the  cmake+VS2017.
1、Download the source code.
2、Set the config and generate .sln by Cmake.exe
3、Compile dynamic library By VS2017

[2020-07-12 16:06] psionic12 commented on #12389
@Voskrese
It gives me debug symbols so that I can debug with GDB because I cannot figure out what's wrong just from the source file.

[2020-07-12 16:18] Pospelove commented on #12381
Why shouldn't I?
According to readme:
[code]

So if it is not expected to build on g++ 6, readme should be updated.

[2020-07-12 18:38] roromo opened #12392 "[libass:x64-windows-static] build failure"
**Host Environment**
- OS: Windows 10 64 bits
- Compiler: MSVC 19.25.28614.0
- Vcpkg version: 2020.06.15-nohash

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install libass:x64-windows-static`

**Failure logs**

*Main console output:*
Starting package 19/20: libass:x64-windows-static
Building package libass[core]:x64-windows-static...
-- Downloading https://github.com/libass/libass/a

[2020-07-12 21:09] pablospe commented on #8820
Hi,

It is not chromium base what it is needed, it is ceres-solver. It already compiles with vcpkg.

Here the **instructions to compile Colmap with vcpkg**:

(this step will take some time maybe few hours, +50GB of compiled code, which could be removed after compilation)

Download and configure Colmap (assuming vcpkg is installed on "C:\src\")

[2020-07-12 21:43] TheFloatingBrain commented on #10825
@JackBoosY Tried `.\vcpkg.exe install --head openal-soft` didnt work :(

[2020-07-12 22:07] Neumann-A commented on #12387
Might be related https://codereview.qt.nokia.com/c/qt/qtbase/+/278068

[2020-07-12 22:15] Neumann-A commented on #12387
try changing the second argument in from 10.12:
https://github.com/microsoft/vcpkg/blob/0523b5eb57341e44fc0551900e5803b13686821a/ports/qt5-base/portfile.cmake#L264
to `QMAKE_MACOSX_DEPLOYMENT_TARGET = 10.13`

[2020-07-12 22:40] Neumann-A commented on #12385
the trick is probably to replace all `if(VCPKG_TARGET_IS_WINDOWS) `with `if(VCPKG_TARGET_IS_WINDOWS AND NOT VCPKG_TARGET_IS_MINGW)` since in mingw `vcpkg_configure_make` can probably just take the linux path.

[2020-07-12 23:48] timautry commented on #12383
The file should be found in the `<vcpkg-root>\download\` folder/directory and named `boost_LICENSE_1_0.txt`.

Attached is a copy from my system...
[boost_LICENSE_1_0.txt](https://github.com/microsoft/vcpkg/files/4909925/boost_LICENSE_1_0.txt)

[2020-07-13 01:39] #6310 closed

[2020-07-13 02:09] NancyLi1013 commented on #12230
@undergraver
Thanks for looking into this issue.

@TommyRabes
Could you please try to install Windows SDK and rebuild this?

[2020-07-13 02:26] JackBoosY commented on #1578
@stephanecharette Nope, we hope that anyone can create a new PR to add it.

[2020-07-13 02:28] NancyLi1013 commented on #12334
I cannot reproduce this on my local machine with Ubuntu 18.04. It might be something related with docker.
@ras0219-msft

Could you please help take a look?

[2020-07-13 02:32] NancyLi1013 commented on #8820
Hi @pablospe
Thanks for posting this request again,
We cannot reopen this issue till there is a open pull request for `colmap`.

So it would be better to make a pull request if you require this port.

[2020-07-13 02:43] TumanovM opened #12395 "[opencv4, opencv4[gtk], gtk:x64-linux] build failure"
**Host Environment**
- OS: Linux x64, Ubuntu 18.04
- Compiler: gcc 10.1, CMake 3.18

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install opencv4`
`./vcpkg install gtk`

**Failure logs**
opencv4 [install-x64-linux-dbg-out.log](https://github.com/microsoft/vcpkg/files/4910332/install-x64-linux-dbg-out.log)
gtk [config-x64-linux-dbg-err.log](https://github.com/microsoft/vcpkg/files/491

[2020-07-13 02:46] NancyLi1013 commented on #12275
@TumanovM thanks for your update.
I will try to look into this issue.

[2020-07-13 02:52] JackBoosY commented on #12356
@ras0219 @ras0219-msft Could you please take a look?

Thanks.

[2020-07-13 02:53] JackBoosY commented on #12362
@strega-nil Could you please take a look?

Thanks.

[2020-07-13 03:04] JackBoosY commented on #12341
@cenit Because I can't reproduce this issue on my machine.

[2020-07-13 03:19] JackBoosY commented on #12387
Confirmed, but the error message on my machine is different:
[code]

[2020-07-13 03:20] JackBoosY commented on #10825
@TheFloatingBrain Could you provide me the failure logs?

[2020-07-13 03:22] LilyWangL commented on #12325
Waiting for #12318 merged, you can try to install openal-soft:x64-windows again.

[2020-07-13 05:25] Neumann-A commented on #12387
@JackBoosY: Your issue is probably unrelated to qt
https://github.com/koekeishiya/homebrew-formulae/issues/9

[2020-07-13 05:37] JasonYang-MSFT opened #12397 "[curl:x64-windows-static] build failure"
**Host Environment**
  Package: curl:x64-windows-static
  Vcpkg version: 2020.06.15-nohash

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg install curl[winssl]`

**Failure logs**
The following packages will be built and installed:
    curl[core,non-http,ssl,sspi,winssl]:x64-windows-static
Starting package 1/1: curl:x64-windows-static
Building package curl[core,non-http,ssl,sspi,winssl]

[2020-07-13 05:44] tan-wei commented on #12397
Downloading fails? Maybe you should try it again or use a proxy instead.

[2020-07-13 05:50] JackBoosY commented on #12395
@cenit Could you please take a look?

Thanks.

[2020-07-13 05:51] JackBoosY commented on #12395
Related: #12275

[2020-07-13 05:52] JackBoosY commented on #12397
`500: Internal Server Error` Seems the source was removed.

[2020-07-13 05:54] JackBoosY commented on #12397
For workaround, please download [this](https://github.com/microsoft/vcpkg/files/4910845/curl-curl-curl-7_68_0.tar.gz) and put it into _VCPKG_PATH/downloads_, then rebuild curl.

[2020-07-13 05:55] TumanovM commented on #12395
Sorry, I forgot that logs are on russian. :)
It says "no such file or directory"

[2020-07-13 05:58] cenit commented on #12395
I removed gtk feature of opencv from the 4.3 update. I didn't inspect its history, but somehow it was mismanaged, because vcpkg gtk is broken on osx/Linux (custom CMakeLists.txt is not so portable) and opencv can use gtk only on osx/Linux, so there was no way it was a working or tested feature.

Fixing gtk on Linux would require abandoning the custom CMakeLists.txt and using its native build toolc

[2020-07-13 06:06] stephanecharette commented on #1578
If I knew how to build it, I wouldn't be using vcpkg.  I think this text on the main vcpkg page is misleading:

If issues asking for new ports are simply closed with people saying "figure it out and submit a PR", then why bother opening an issue?

[2020-07-13 06:37] PhoebeHui commented on #12383
@wenjie89, you can also download the file from https://raw.githubusercontent.com/boostorg/boost/boost-1.73.0/LICENSE_1_0.txt.

[2020-07-13 06:42] traversaro commented on #12376
The simple use of `vcpkg_fixup_pkgconfig` for `ffmpeg:x64-osx` is failing as well:
[code]

See the CI for https://github.com/microsoft/vcpkg/pull/11273, in particular https://github.com/microsoft/vcpkg/pull/11273/checks?check_run_id=862778528 .

[2020-07-13 06:47] JackBoosY commented on #12397
Looks like a issue on github.

[2020-07-13 07:06] Neumann-A commented on #12376
I don't think that is a failure of vcpkg_fixup_pkgconfig knowing that iconv is only build on windows and nowhere else

[2020-07-13 07:11] PhoebeHui commented on #11627
Close this issue and use https://github.com/microsoft/vcpkg/issues/12383 to track.

[2020-07-13 07:11] #11627 closed

[2020-07-13 09:18] JackBoosY commented on #1578
@stephanecharette This issue has been closed due to our policy, you can open a new issue to request this port.

Thanks.

[2020-07-13 09:51] JackBoosY commented on #12397
Should be okay now.

[2020-07-13 09:51] #12397 closed

[2020-07-13 10:08] PhoebeHui commented on #12390
Confirmed, it only supports windows now.

[2020-07-13 10:42] cenit commented on #12387
in #12229 I had to fix this problem in order to be able to continue working on the PR.

[2020-07-13 11:33] Neumann-A commented on #12387
@cenit: Qt on other platforms than windows probably also requires a fontconfig update to even be able to display text correctly. (Or a properly setup fontconfig in vcpkg. )

[2020-07-13 12:27] TheFloatingBrain commented on #12325
Same issue

[2020-07-13 13:08] W-Binglong commented on #12382
[Uploading config-x86-windows-dbg-out.log…]()

[2020-07-13 14:17] stephanecharette commented on #1578
What policy?

[2020-07-13 14:41] longnguyen2004 commented on #12385
Alright I'll take a look

[2020-07-13 14:50] TheFloatingBrain commented on #10825
@JackBoosY Looks like the same thing as #12325
[install-x86-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/4913214/install-x86-windows-dbg-out.log)

[2020-07-13 17:15] JoshuaRowePhantom opened #12402 "Document the workflow for edit / compile / test of a port within a larger project"
****

I am doing development on a larger project, and I've discovered a bug in a dependency that is managed by vcpkg.  Ideally, I could easily edit the code locally, recompile by larger project, and test that the fix works in the context of the larger project, while also being able to go back and contribute the fix upstream.  IMHO, the bigger value of vcpkg is in the standardization of ports' spec

[2020-07-13 17:54] #12043 closed

[2020-07-13 18:04] #12371 closed

[2020-07-13 19:03] #12285 closed

[2020-07-13 20:00] #12343 closed

[2020-07-13 21:15] pablospe commented on #8820
Please see the PR

I think the port is correct, although I am not sure how to fix the following errors.

COLMAP creates a `colmap.exe` (also a COLMAP.bat to be able run it), but it seems it doesn't find the libraries. Is it possible to compile only in RELEASE? For the binary perhaps makes sense, but COLMAP is also a library which could be used in DEBUG mode.

[code]

[2020-07-13 23:04] timautry opened #12411 "[vcpkg] no longer putting downloads in <vcpkg-root>\downloads - ignoring VCPKG_DOWNLOADS environment variable, putting downloaded files in %LOCALAPPDATA%\vcpkg\archives"
**Describe the bug**
[vcpkg] no longer putting downloads in `<vcpkg-root>\downloads` - ignoring no longer honoring VCPKG_DOWNLOADS environment variable, putting downloaded files in `%LOCALAPPDATA%\vcpkg\archives`, filling up USER PROFILE/SYSTEM Disk with downloads.

**Update**
also includes OpenSUSE Linux 15.x on WSL2 and Hyper-V VM - putting downloaded files in `~/.cache/vcpkg/archives` install,

[2020-07-13 23:31] timautry commented on #12411
No updated documentation here either:
https://docs.microsoft.com/en-us/cpp/build/vcpkg?view=vs-2019 as it reads:

The vcpkg folder hierarchy
All vcpkg functionality and data is self-contained in a single directory hierarchy, called an "instance". There are no registry settings or environment variables. You can have any number of instances of vcpkg on a machine, and they won't interfere with each o

[2020-07-13 23:58] timautry commented on #12411
@ras0219-msft @BillyONeal @strega-nil @JackBoosY @Voskrese @Neumann-A
 - Never mind not need to fix this issue...
 - Product has become too unstable to be reliable to use for me.
 - Quality control and regression of product control missing, as past months code changes break many things on local installs - it seem azure pipeline building has precedence :( not local small time user.
 - It now create

[2020-07-13 23:58] #12411 closed

[2020-07-13 23:59] timautry commented on #11528
I close, I no long use product.

[2020-07-13 23:59] #11528 closed

[2020-07-13 23:59] timautry commented on #10732
I close, no longer use product.

[2020-07-13 23:59] #10732 closed

[2020-07-14 00:00] timautry commented on #10875
I close, I no longer use product.

[2020-07-14 00:00] #10875 closed

[2020-07-14 00:00] timautry commented on #10882
I close, I no longer use product.

[2020-07-14 00:00] #10882 closed

[2020-07-14 00:01] timautry commented on #10887
I close, I no longer use product.

[2020-07-14 00:01] timautry commented on #10918
I close, I no longer use product.

[2020-07-14 00:01] timautry commented on #11821
I close, I no longer use product.

[2020-07-14 00:01] #11821 closed

[2020-07-14 00:02] timautry commented on #12237
I close, I no longer use product.

[2020-07-14 00:02] timautry commented on #12238
I close, I no longer use product.

[2020-07-14 00:02] #12238 closed

[2020-07-14 00:02] timautry commented on #12240
I close, I no longer use product.

[2020-07-14 00:03] timautry commented on #8473
I close, I no longer use product.

[2020-07-14 00:03] timautry commented on #9116
I close, I no longer use product.

[2020-07-14 00:04] timautry commented on #10166
I close, I no longer use product.

[2020-07-14 00:04] timautry commented on #9851
I close, I no longer use product.

[2020-07-14 00:04] timautry commented on #9849
I close, I no longer use product.

[2020-07-14 00:12] BillyONeal commented on #12411
@timautry I'm sorry you are no longer happy with the product; our mechanism here where you are seeing effectively our nightly bits could do with some scheme where folks can ask for more stability than we currently offer.

I don't see the issue you report:

[2020-07-14 00:15] strega-nil commented on #12411
I'm also not seeing this behavior:

[code]

[2020-07-14 00:15] BillyONeal commented on #12411
From your logs:

The reference to `vcpkg\archives` is not your `VCPKG_DOWNLOADS` folder, where sources are placed, it is the binary caching feature just turned on by default recently which will store built packages in case you go to reinstall them later.

[2020-07-14 00:25] strega-nil commented on #12411
And, for what it's worth, it looks like you're having an issue with running out of space in `~` because of the new binary caching feature; you can fix this by turning off the binary caching feature with an environment variable (`VCPKG_FEATURE_FLAGS=-binarycaching`), or with a flag (`--no-binarycaching`).

[2020-07-14 01:09] nanoric commented on #12241
It seems that this problem is solved.

[2020-07-14 01:09] #12241 closed

[2020-07-14 01:15] PhoebeHui commented on #12291
Fixed via https://github.com/microsoft/vcpkg/pull/12273

[2020-07-14 01:28] PhoebeHui commented on #9849
We will close this issue after the PR merged.

[2020-07-14 01:28] BillyONeal commented on #12237
@ghost Reopening because I believe @JackBoosY was investigating

[2020-07-14 01:42] Christsnatcher commented on #8473
Well, but other people, e.g. myself still do, you know? So please don't stop working on a fix, many thanks!

[2020-07-14 02:11] JackBoosY commented on #1578
@stephanecharette We prioritize bugs and features.

[2020-07-14 02:16] JackBoosY commented on #10825
Same issue with #7790.

[2020-07-14 02:43] JackBoosY commented on #8473
@Christsnatcher Anyway, I'm still tracking this issue.

[2020-07-14 03:14] Christsnatcher commented on #8473
@JackBoosY Thank you very much, that's really appreciated.

[2020-07-14 05:20] Neumann-A commented on #12411
Main issue I see:
- missing documentation of the feature and how to opt out. (I find the description for `VCPKG_FEATURE_FLAGS` e.g. Non-exhaustive list of off-by-default features: binarycaching manifest but It needs docs for the binarycaching feature itself)
- is there a environment variable to reroute the binary cache? If no there needs to be one

[2020-07-14 06:06] JackBoosY opened #12414 "[libpq] Many features dependencies do not exist"
libpq has many features, but most of their dependent ports do not exist:
- perl
- kerberos
- ldap
- bsd
- pam

[2020-07-14 06:12] u3IFw2wfJ commented on #6432
Any update about this as of today?

[2020-07-14 06:30] yHsi opened #12416 "When I install the ./bootstrap.bat, the error occured"
It is my first time to use vcpkg. When I clone the git code and install the bootstrap.bat, some message " Building vcpkg.exe failed. Please ensure you have installed Visual Studio with the Desktop C++ workload and the Windows SDK for Desktop C++." occured. I'm sure I have installed the vs2015. Then what other components should I add?

[2020-07-14 06:46] lambdald opened #12418 "Failed to build vcpkg.exe"
I deleted the old version vcpkg folder and got the latest version from github. The script could not build vcpkg.exe.
I'm sure I have installed the vs2017 and english language package.

The error message is as follows:
[code]

[2020-07-14 06:47] NancyLi1013 commented on #12382
Hi @W-Binglong
Thanks for posting this issue.

`UnicodeDecodeError: 'gbk' codec can't decode byte 0x84 in position 335288: illegal multibyte sequence`

It's duplicated to #11525.

[2020-07-14 06:47] #12382 closed

[2020-07-14 06:54] NancyLi1013 commented on #11525
Hi all,
Thanks for posting this issue and joining in the discussion.
Could you please refer to this https://github.com/microsoft/vcpkg/issues/12148#issuecomment-652303702 and try to rebuild this?

[2020-07-14 07:24] wenjie89 commented on #12383
The problem I meantioned previously is fixed following the solution from ghost. However, a new issue happens:

-- Downloading https://raw.githubusercontent.com/boostorg/boost/boost-1.73.0/boostcpp.jam...
-- Downloading https://raw.githubusercontent.com/boostorg/boost/boost-1.73.0/boostcpp.jam... Failed. Status: 6;"Couldn't resolve host name"
CMake Error at scripts/cmake/vcpkg_download_distfile.cma

[2020-07-14 07:28] wenjie89 commented on #12383
I was wondering if there is a way to fix the problem of proxy so that it can download everything automatically?

[2020-07-14 08:41] LilyWangL commented on #6432
@ras0219-msft Could you help take a look this issue?

[2020-07-14 08:43] JackBoosY commented on #12169
@Neumann-A Sorry, I can't find any code related to embree in port `netcdf-c` or `netcdf-cxx4` sources.
Could you double confirm that?

[2020-07-14 08:46] NancyLi1013 commented on #9849
Using the latest version to rebuild and I cannot reproduce this issue now. Please try to update to the latest vcpkg to build.

[2020-07-14 08:46] #9849 closed

[2020-07-14 08:46] JackBoosY commented on #11216
Hi @cutos Sorry for late, can you repro this issue now?

[2020-07-14 08:48] JackBoosY commented on #10669
Hi @ManuelKugelmann, thanks for reporting this issue!
vcpkg requires Visual Studio 2015 or later, so we won't fix this issue.
See [documentation](https://github.com/microsoft/vcpkg#quick-start-windows).

[2020-07-14 08:48] #10669 closed

[2020-07-14 08:50] JackBoosY commented on #10643
Hi @ManuelKugelmann, thanks for reporting this issue!
vcpkg requires Visual Studio 2015 or later, so we won't fix this issue.
See [documentation](https://github.com/microsoft/vcpkg#quick-start-windows).

[2020-07-14 08:50] #10643 closed

[2020-07-14 08:50] JackBoosY commented on #10646
Hi @ManuelKugelmann, thanks for reporting this issue!
vcpkg requires Visual Studio 2015 or later, so we won't fix this issue.
See [documentation](https://github.com/microsoft/vcpkg#quick-start-windows).

Sorry.

[2020-07-14 08:50] #10646 closed

[2020-07-14 08:51] PhoebeHui commented on #12297
I didn't repro this issue locally, it might due to building the example in parallel, I updated this port to latest release revision 3.1.5, let 's see if it still occur in CI testing.

[2020-07-14 09:00] NancyLi1013 commented on #12363
Hi @stephanecharette
Thanks for posting this issue.
It's duplicated to #12275. Let's track this issue there.

[2020-07-14 09:00] #12363 closed

[2020-07-14 09:01] LilyWangL commented on #12391
Thanks for posting this issue. `tesseract` is a only static library, it has this command `vcpkg_check_linkage(ONLY_STATIC_LIBRARY)` in its portfile.cmake.

[2020-07-14 09:02] NancyLi1013 commented on #12275
Confirmed. This is bug for `gtk `on linux. I will fix it later.

[2020-07-14 09:02] longnguyen2004 opened #12422 "[boost-build] Use boost-build version number instead of boost version number"
****

**Is your feature request related to a problem? Please describe.**
Since `boost-build` isn't a library, it's versioned separately from other `boost` components. As such we should use `boost-build` version number instead of `boost` version number. The second reason is that `v4.3.0` for `boost-build` contains some fixes for `mingw` toolchain, which I'd like to have.

**Proposed solution**
Use

[2020-07-14 09:04] JackBoosY commented on #12402
@JoshuaRowePhantom Thanks for your suggestions!
@ras0219-msft @ras0219 Could you please take a look?

Thanks.

[2020-07-14 09:09] PhoebeHui commented on #12418
@lambdald, it might due to antivirus software, could you try to build with '.\bootstrap-vcpkg.bat -disableMetrics " and see if this issue still occur?

[2020-07-14 09:14] JackBoosY commented on #9952
I have a bad hunch: Is this issue a common issue?

[2020-07-14 09:18] PhoebeHui commented on #12418
Related to https://github.com/microsoft/vcpkg/issues/10059

[2020-07-14 09:23] Neumann-A commented on #9952
Yeah that is a common issue if you do not use targets but link libraries directly in VCPKG.
This also happens if the variable used does not have the optimized/debug keywords. In general it would require a `vcpkg-cmake-wrapper.cmake` for the upstream port (zlib) to correctly fix the `<var>_LIBRARIES`.
Such issues could be automatically detected as mentioned in  #12215 (last comment paragraph in the

[2020-07-14 09:29] Neumann-A opened #12424 "[vcpkg] How to delete a certain port_triplet from the binary cache?"
add answer to docs ;)

[2020-07-14 09:37] JackBoosY commented on #9952
@Neumann-A So I assume your PR can fix this issue, right?

[2020-07-14 09:38] PhoebeHui commented on #12422
@longnguyen2004, thanks for reporting this issue!

From https://github.com/boostorg/build/releases, boost-build has release revision boost-1.73.0 which used in vcpkg, I think we need to keep the revision consistent with boost personally. @ras0219-msft , what do you think?

[2020-07-14 09:39] Neumann-A commented on #9952
@JackBoosY: which one? #12215? No that one adds only and option to deactivate the prefix correction nothing more.

[2020-07-14 09:50] longnguyen2004 commented on #12422
And also 4.3.0. I'm not sure but I feel like boost-build is more like its own thing rather than being related to other boost components (well, aside from the name)

[2020-07-14 10:04] Neumann-A commented on #12169
It is not directly looking for embree but embree install `libmath.a` which is found here:
https://github.com/Unidata/netcdf-c/blob/3afce176ac0edf15adff1c281c3d3ab0a0814287/CMakeLists.txt#L874

[2020-07-14 10:05] PhoebeHui commented on #10679
@Oooklout, boost currently upgrade to 1.73.0, could you get latest revision and see if this issue still occur? I can't repro this  issue locally.

[2020-07-14 10:08] PhoebeHui commented on #10612
@christophe-calmejane, boost currently upgrade to 1.73.0, could you get latest source and see if this issue still occur?
I can't repro this issue locally.

 ./vcpkg install boost-build
Computing installation plan...
The following packages will be built and installed:
    boost-build[core]:x64-osx
Detecting compiler hash for triplet x64-osx...
Starting package 1/1: boost-build:x64-osx
Building pack

[2020-07-14 10:10] NancyLi1013 commented on #12416
Hi @yHsi
Thanks for posting this issue.
Please make sure if you have installed these workloads and components via Visual Studio Installer:

Workloads:
- Desktop development with C++
- Universal Windows Platform development (For uwp build)

Components:
- Visual C++ ATL/MFC for ARM/ARM64
- Visual C++ ATL(x86/x64) with Spectre Mitigations
- Visual C++ MFC(x86/x64) with Spectre Mitigations
- VC++ 2015

[2020-07-14 10:16] christophe-calmejane commented on #10612
Have you manually defined CC and CXX env variables before running `vcpkg install`?

[2020-07-14 10:32] Neumann-A opened #12425 "[pthread] Handling of pthread linkage"
Simply put this question does not exists for naitve windows builds but for mingw, linux, osx builds.

Which pthread library should we link?
 a) the one we internally build (would require renaming symlinking one of the built versions)
 b) the one the system provides

Should we decalre `Build-Depends: pthread` if we use the one provided by the system?
Should the pthread port not build pthread at all

[2020-07-14 12:26] kvlevin commented on #4104
@patrikhuber  I meet Same issue too.How to recomile OpenCV with vcpkg?

[2020-07-14 15:30] patrikhuber commented on #4104
@kvlevin I'm afraid this was too long ago. I would suggest you read through this issue and if there is still a problem, address this with the vcpkg team.

[2020-07-14 15:59] Oooklout commented on #10679
Hi you can close this issue now.
As far as I am concerned it has resolved itself with recent versions.
Thanks for yr help, I should have reported back sooner, it was a long time ago!
Cheers
Sent from my iPhone

[2020-07-14 17:53] davidebeatrici commented on #11727
I'm building Qt again now that #11596 is merged.

For reference: the portfile initially failed to build because `libxkbcommon-x11-dev` was not installed.

[2020-07-14 18:37] BrentFarris opened #12428 "GTK (glib) dll names are incompatible"
****

**Is your feature request related to a problem? Please describe.**
I am unable to use any 3rd party libraries that are not in vcpkg (such as gstreamer) because the way that vcpgk builds the GTK libs has the wrong names for a lot of the dll files. For example `gobject-2.dll` is what vcpkg has but `gobject-2.0-0.dll` is the correct name. This goes for many .dll files produced by vcpkg for gtk.

[2020-07-14 19:09] Neumann-A commented on #11727
As long as you are on ubuntu 18.04 you should be fine. on 20.04 we need to update or fix our fontconfig first to make it work.
Unfortunately Qt requires a bunch of system libraries:
https://github.com/microsoft/vcpkg/blob/d2620cf02bf01bb3cd6873aa2ba7687644019ed0/scripts/azure-pipelines/linux/provision-image.sh#L8-L24

[2020-07-14 20:55] Neumann-A commented on #12428
That is not GTK but glib. glib needs to be updated and changed to its native build system. This can only be done when meson within vcpkg is updated to at least 0.55.

[2020-07-14 21:56] davidebeatrici commented on #11727
Unfortunately `qt5-declarative` fails to build:
[package-build-x64-linux-dbg-err.log](https://github.com/microsoft/vcpkg/files/4921725/package-build-x64-linux-dbg-err.log)

[2020-07-14 21:59] AenBleidd opened #12431 "[curl] build failure x86-windows-static after f12d986e6a06e0d761089d672df42511fa2dfe0d"
**Host Environment**
- OS: [Windows]
- Compiler: cl.exe 19.26.28806

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install curl[core]:x86-windows-static`

**Failure logs**
LOCAL_PATH_TO_VCPKG\vcpkg\buildtrees\curl\src\7ff07b0670-12eb9d7696.clean\lib\nonblock.c(89): fatal error C1189: #error:  "no non-blocking method was found/used/set"

**Additional context**
Reverting f12d986e6a06e0d

[2020-07-14 22:35] Edhebi commented on #12175
So, the PR has been merged. Before closing that issue, I think it would be useful to have something about it in the manifest specification ? I can either PR it or close that issue depending on what you think would fit better

[2020-07-14 22:41] AenBleidd commented on #12431
[config-x64-windows-static-out.log](https://github.com/microsoft/vcpkg/files/4921827/config-x64-windows-static-out.log)
[config-x86-windows-static-out.log](https://github.com/microsoft/vcpkg/files/4921828/config-x86-windows-static-out.log)

Looks like the issue is next:
`-- Performing Curl Test HAVE_IOCTLSOCKET_FIONBIO - Failed`

[2020-07-15 01:35] NancyLi1013 commented on #10293
Hi all,
`geographiclib ` has been updated, please update vcpkg to the latest version and try to rebuild this port.

[2020-07-15 01:35] #10293 closed

[2020-07-15 01:37] yHsi commented on #12416
Hi @NancyLi1013
Thanks for your reply.

[2020-07-15 02:06] JackBoosY commented on #11727
@Neumann-A  Seems the compiler can't open may json files.

[2020-07-15 02:49] BrentFarris commented on #12428
Thanks for the reply! I've updated the title to help search engines.

Today I also built everything using msys2 and realized that there are some other bugs with the GTK vcpkg installation. Namely when I maximize a window a large amount of memory is allocated and never freed. If I continue opening the window, maximizing it, and closing it I can very easily get my memory well over 1GB of ram with on

[2020-07-15 02:56] JackBoosY commented on #12169
@Neumann-A I remeber you already report this issue on the upstream. Can you put the link here?

[2020-07-15 03:17] JackBoosY commented on #12425
@ras0219-msft What do you think?

[2020-07-15 05:59] PhoebeHui commented on #10679
Thanks for your reply!

[2020-07-15 05:59] #10679 closed

[2020-07-15 06:03] PhoebeHui commented on #10612
I didn't define any CC and CXX env variable.

[2020-07-15 06:05] emptyVoid commented on #12288
@elieux, I followed the instruction you mention, and it gives me an error message:
[code]

[2020-07-15 06:10] NancyLi1013 commented on #12303
Have you installed Visual Studio 2019 and Visual Studio 2017 on your machine or only installed Visual Studio 2017?

[2020-07-15 06:22] PhoebeHui commented on #10612
BTW, you can reference https://github.com/microsoft/vcpkg/blob/master/scripts/azure-pipelines/osx/azure-pipelines.yml#L19 for VM setup on OSX.

[2020-07-15 06:39] yHsi opened #12433 "[vcpkg] Could not locate a complete toolset."
- OS windows

- visual studio version: visual surdio 2015

When I want to install a package, the error occured "Could not locate a complete toolset".
Some people suggested to install the English language package for vs, but this is useless for me.

[2020-07-15 06:43] Neumann-A commented on #12169
@JackBoosY I did not report it to netcdf-c. I reported it to ParaView when I was looking for where the dependency might come from. But I closed the issue since it was not related to Paraview.

[2020-07-15 06:58] christophe-calmejane commented on #10612
Well, defining the env vars was the whole point of the ticket. Boost was (and is still) compiling fine, as long as it's not disturbed by an external element.
My ticket's point was that vcpkg should not (in general, not just Boost which merely served as an example) be affected in any way be the environement. It's a complete build toolchain, if something has to impact the compilation it should be de

[2020-07-15 07:12] PhoebeHui commented on #12359
cc @MoAlyousef

[2020-07-15 07:38] Neumann-A commented on #11727
@davidebeatrici: Have you retried? I cannot find an error in there which is not a killed 9. Either you killed the process or your system killed the process. https://stackoverflow.com/questions/726690/what-killed-my-process-and-why

@JackBoosY: I think the *.json failures can be ignored. It seems like it is a new feature of qt to export json files for metatypes which is not yet fleshed out. On my m

[2020-07-15 07:39] NancyLi1013 commented on #12389
Hi @psionic12
Thanks for posting this issue.

@ras0219-msft
Could you please help take a look about this issue?

[2020-07-15 07:41] JackBoosY commented on #9918
Since upstream has not fixed this error for a long time, I'm fixing it now.

[2020-07-15 07:53] psionic12 commented on #12389
@NancyLi1013 I found that if the error happened, both Windows and WSL sides will report `No such file or directory` error, I had to deleted the vcpkg directory and re-download the whole project.

And what's more, I use x64-windows triplet.

Hope these can help you.

[2020-07-15 07:54] MoAlyousef commented on #12359
I could remove the env checks in the cmake script. I don't see why vcpkg would check for it during an export for another triplet.

[2020-07-15 07:59] Neumann-A commented on #11727
@JackBoosY: since qt5network_metatypes.json would be generated by qt5-base here is a file list of arch_linux for qt5-base 5.15. It also does not contain the file. https://www.archlinux.org/packages/extra/x86_64/qt5-base/files/

[2020-07-15 08:07] nanoric opened #12435 "Proxy under Windows."
Sorry for asking this question again and again.
I have tried the following(enable_global_proxy.bat):
[code]
This **USED to work** about a month ago. But for now it does'nt work.

vcpkg strucks at the first invoke of install, when downloading
`https://github.com/PowerShell/PowerShell/releases/download/v6.2.1/PowerShell-6.2.1-win-x86.zip`

MyCode(Dockerfile):
[code]

[2020-07-15 08:38] PhoebeHui commented on #12377
Confirmed, this issue could repro, check the history, that feature added by https://github.com/microsoft/vcpkg/pull/10295, and it  has never worked with feature.

[2020-07-15 09:03] NancyLi1013 commented on #12389
@psionic12
Thanks for your above info.
I cannot reproduce this issue on Windows, WSL and Linux.
On WSL and Linux, you should use x64-linux triplet and on Windows, it should be x64-windows.

Could you please try to rebuild this in a new vcpkg repo?

[2020-07-15 09:11] PhoebeHui commented on #12377
Looks same issue with https://bugs.llvm.org/show_bug.cgi?id=40557#c2

[2020-07-15 09:18] Voskrese commented on #12428
@BrentFarris
these are not VCPKG errors, look at the package versions, they are outdated here, so the library names are different

[2020-07-15 09:25] Christsnatcher commented on #9628
Hello,

since openal-soft got updated today and building it the normal way still fails I thought it would be a good time to ask if someone actually still works on resolving "my" 6-month old issue.

Thank you very much.

[2020-07-15 09:28] tan-wei commented on #12377
Thanks very much. Does it mean we should wait for llvm team fixing CMake module files?

[2020-07-15 10:29] yurybura commented on #12377
@PhoebeHui @tan-wei Let me check this issue. I think OpenMP doesn't support build without LLVM test tools (lit, FileCheck).

[2020-07-15 10:30] Voskrese commented on #12435
https://docs.docker.com/config/daemon/systemd/

`setx https_proxy http**S**://192.168.0.201:2001/` ?

[2020-07-15 10:53] PhoebeHui commented on #12377
@yurybura, thank you as always!

After some investigation, found it requires feature 'utils', which setting 'LLVM_INCLUDE_UTILS' to 'ON', then it configured successfully.

However, it start to build failed with 'ninja: error: 'lib/libomp.dll.lib', needed by 'lib/libomp.libd', missing and no known rule to make it'

[2020-07-15 10:53] NancyLi1013 commented on #3529
Hi all,
Thanks for posting this issue.

Have you tried to update vcpkg to the latest version to rebuild this?

Related issue #9321, #8627.

[2020-07-15 10:59] psionic12 commented on #12389
Hi @NancyLi1013, did you use the same vcpkg directory both in Windows and WSL? I may not mentioned clearly, here are more details:

I put my vcpkg project at `C:\`, and it works well. And then I enable the WSL and installed Ubuntu 18.04 from Windows Store.

Then I accessed the vcpkg folder (which is originally on Windows `C:/`) from `/mnt/c/vcpkg` (where the C partition mounted), then run the scri

[2020-07-15 11:08] Voskrese commented on #12433
nothing is clear, but very interesting

can you describe in more detail?

[2020-07-15 11:30] debion commented on #3647
Here's how I got it working:
* install vcpkg
[code]
* add the triplet `./triplets/arm64-linux.cmake`:
[code]
* add environment variables:
[code]
* add the `-DVCPKG_TARGET_TRIPLET=arm64-linux` option when using cmake:
[code]

[2020-07-15 12:28] nanoric commented on #12435
for the http schema:
I don't have a https proxy(which needs certificates).
I don't know if it is necessary to use a https proxy to access a https site. But I can use a http proxy to access https site in chrome.(And, you know, the proxy i'm using in chrome is just the one I set in this script.). So maybe it is not a problem.

I don't know much about how docker manager its network access.
I only kno

[2020-07-15 12:29] linquize commented on #3647
Please also improve #12362

[2020-07-15 12:48] nanoric commented on #12435
Maybe the script enabling proxy never works.
The reason I build image succeed a month ago is maybe just because I can access github without proxy at that time.

[2020-07-15 12:55] nanoric commented on #12435
And finally I turn to another solution
To avoid vcpkg to download these and fails, download/install them manually is a better solution.

All the tools are listed in `scripts/vcpkgTools.xml`
And by just set environment variable `VCPKG_FORCE_SYSTEM_BINARIES`, Pre-download/install all the tools that vcpkg needs is possible. https://github.com/microsoft/vcpkg/issues/4501#issuecomment-507882978

[2020-07-15 12:55] #12435 closed

[2020-07-15 14:16] haraldegger opened #12438 "[New Port Request] libnfc"
Library name: libnfc

Library description:libnfc is a library which allows userspace application access to NFC devices.

Source repository URL: https://github.com/nfc-tools/libnfc

Project homepage (if different from the source repository): http://www.nfc-tools.org/

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2020-07-15 17:45] davidebeatrici commented on #11727
@Neumann-A I initially thought it was due to the virtual machine's RAM being full, however after increasing it and retrying multiple times the behavior didn't change.

Only `qt5core_metatypes.json`, `qt5gui_metatypes.json` and `qt5widgets_metatypes.json` are generated.

[2020-07-15 18:07] Neumann-A commented on #11727
@davidebeatrici That seems to be normal. Since in a successful built only those exists and those also are the only ones in the arch linux filelist. If the process is killed you have to find out why it is killed. The logs do not indicate a problem.

[2020-07-15 19:42] ztomlord opened #12439 "[pcl] build failure"
**Host Environment**
- OS: Windows
- Compiler: Visual Studio 2019

**To Reproduce**
Steps to reproduce the behavior:
vcpkg install pcl

**Failure logs**
Sorry if this is mislabeled,  the build succeeds, but is missing a standard library (vtk_lib_io) does not get built or included.  I believe that this is in the standard cmake configuration of pcl, so I am unsure why it would not be built in the vc

[2020-07-15 21:27] #12439 closed

[2020-07-15 21:28] ztomlord commented on #12439
the build with vtk flag is disabled atm while the pcl team is updating to deal with vtk 9.0 release

[2020-07-15 21:44] #12221 closed

[2020-07-15 21:48] #12414 closed

[2020-07-15 21:55] davidebeatrici commented on #11727
Sorry, I missed the second part of your message.

I tried to lower the thread count from 8 to 4, but `ld` still gets killed.
I'm going to increase the physical RAM so that I can assign more GB to the VM and let you know how it goes.

[2020-07-15 22:55] #12327 closed

[2020-07-15 23:09] #12335 closed

[2020-07-16 02:07] PhoebeHui commented on #10945
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-07-16 02:07] #10945 closed

[2020-07-16 02:11] PhoebeHui commented on #11446
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-07-16 02:11] #11446 closed

[2020-07-16 02:11] PhoebeHui commented on #11468
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-07-16 02:11] #11468 closed

[2020-07-16 02:11] PhoebeHui commented on #11501
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-07-16 02:11] #11501 closed

[2020-07-16 02:11] JackBoosY commented on #12433
@yHsi Thanks for reporting this issue!
Could you please provide the failure logs?

Thanks.

[2020-07-16 02:14] PhoebeHui commented on #11289
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-07-16 02:14] #11289 closed

[2020-07-16 02:14] PhoebeHui commented on #11255
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-07-16 02:14] #11255 closed

[2020-07-16 02:14] PhoebeHui commented on #11252
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-07-16 02:14] #11252 closed

[2020-07-16 02:15] NancyLi1013 commented on #233
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-07-16 02:16] PhoebeHui commented on #11224
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-07-16 02:16] #11224 closed

[2020-07-16 02:16] PhoebeHui commented on #11211
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-07-16 02:16] #11211 closed

[2020-07-16 02:17] PhoebeHui commented on #11249
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-07-16 02:17] #11249 closed

[2020-07-16 02:18] NancyLi1013 commented on #737
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-07-16 02:18] #737 closed

[2020-07-16 02:20] PhoebeHui commented on #11555
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-07-16 02:20] #11555 closed

[2020-07-16 02:20] NancyLi1013 commented on #6092
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-07-16 02:20] #6092 closed

[2020-07-16 02:21] PhoebeHui commented on #11424
@MarcoSpeziali, could you summit a PR for this port?

[2020-07-16 02:23] NancyLi1013 commented on #6125
Close this issue since it has been added to vcpkg.

[2020-07-16 02:23] #6125 closed

[2020-07-16 02:25] PhoebeHui commented on #11183
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-07-16 02:25] #11183 closed

[2020-07-16 02:25] PhoebeHui commented on #10894
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-07-16 02:25] #10894 closed

[2020-07-16 02:26] NancyLi1013 commented on #7648
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-07-16 02:26] #7648 closed

[2020-07-16 02:27] NancyLi1013 commented on #7761
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-07-16 02:27] #7761 closed

[2020-07-16 02:28] NancyLi1013 commented on #8033
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-07-16 02:28] #8033 closed

[2020-07-16 02:31] NancyLi1013 commented on #9181
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-07-16 02:31] #9181 closed

[2020-07-16 02:33] NancyLi1013 commented on #10580
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-07-16 02:33] #10580 closed

[2020-07-16 02:35] NancyLi1013 commented on #10684
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-07-16 02:35] #10684 closed

[2020-07-16 02:38] StarGate-One opened #12442 "[libigl] build failure with feature <imgui>"
**Host Environment**
- OS: [Windows 10 Version 10.0.19041.388]
- Compiler: Visual Studio 2019 Version 16.6.4 Tools 14.26.28801

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install libigl[core,glfw,imgui,png,xml]:x64-windows`

**Failure logs**
- Cut and past the appropriate build messages from the console output.
`Computing installation plan...`
**`Package imgui does not have a bindi

[2020-07-16 02:53] NancyLi1013 commented on #3660
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-07-16 02:53] #3660 closed

[2020-07-16 03:14] JackBoosY commented on #12416
I think that's a vcpkg bug.

[2020-07-16 03:14] PhoebeHui commented on #12428
For GTK, since I noticed that the lib name '-lgtk-3' used in gtk and other XXXpc.in file.  so I removed the '0' for ARCHIVE_OUTPUT_NAME, before the libs name is  gdk-3.0.lib, now is gdk-3.lib. related to https://github.com/microsoft/vcpkg/pull/12326.

[2020-07-16 03:16] JackBoosY commented on #12442
#10252 will fix this issue.

[2020-07-16 03:16] LilyWangL commented on #11925
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-07-16 03:16] #11925 closed

[2020-07-16 03:19] LilyWangL commented on #10873
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-07-16 03:19] #10873 closed

[2020-07-16 03:20] LilyWangL commented on #10942
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-07-16 03:20] #10942 closed

[2020-07-16 03:22] LilyWangL commented on #11182
@20zinnm Thanks for posting this issue. Could you please submit a PR to add this port?

[2020-07-16 03:22] LilyWangL commented on #11350
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-07-16 03:22] #11350 closed

[2020-07-16 03:26] LilyWangL commented on #11541
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-07-16 03:26] #11541 closed

[2020-07-16 03:26] LilyWangL commented on #11620
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-07-16 03:26] #11620 closed

[2020-07-16 03:26] LilyWangL commented on #11670
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-07-16 03:26] #11670 closed

[2020-07-16 03:27] LilyWangL commented on #11690
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-07-16 03:27] #11690 closed

[2020-07-16 03:29] LilyWangL commented on #11710
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-07-16 03:29] #11710 closed

[2020-07-16 03:30] LilyWangL commented on #11748
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-07-16 03:30] #11748 closed

[2020-07-16 03:31] LilyWangL commented on #11749
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-07-16 03:31] #11749 closed

[2020-07-16 03:32] LilyWangL commented on #11798
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-07-16 03:32] #11798 closed

[2020-07-16 03:32] LilyWangL commented on #11878
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-07-16 03:32] #11878 closed

[2020-07-16 03:33] LilyWangL commented on #11917
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-07-16 03:33] #11917 closed

[2020-07-16 03:40] StarGate-One commented on #12442
Ok, thank you @JackBoosY

[2020-07-16 04:09] JackBoosY commented on #12416
After install Windows 10 SDK, this issue is gone.

[2020-07-16 04:09] #12416 closed

[2020-07-16 04:22] shunshizhechang opened #12443 "libpq:x64-windows build failure"
[code]

err.log

`Unable to determine OpenSSL version: The openssl.exe command wasn't found. `

[2020-07-16 05:04] Neumann-A commented on #9181
@NancyLi1013 this port has been added by the paraview pr so closing this is fine.

[2020-07-16 05:39] NancyLi1013 commented on #9181
Thanks for your kindly reminder.

[2020-07-16 07:27] traversaro commented on #10873
As suggested also in other issues, probably to avoid confusion in the users if the policy of "leaving the new port request open for some time and then close it" would be written in a clear way somewhere. Furthermore, it would probably make sense to edit or clarify existing documentation (see https://docs.microsoft.com/en-us/cpp/build/vcpkg?view=vs-2019#contribute-new-libraries) that suggests that

[2020-07-16 07:44] PhoebeHui commented on #10588
@PauloFavero, does this still be an issue for you?

[2020-07-16 07:52] ManuelKugelmann commented on #10669
Hi @JackBoosY, afaik vcpkg supports the "v120" toolset now.
Please see https://github.com/microsoft/vcpkg/pull/10670 for a fix to this issue.

[2020-07-16 07:52] PhoebeHui commented on #9891
PR https://github.com/microsoft/vcpkg/pull/11208 should fix this issue.

Failures:
 Creating library lib\ITKIOHDF5-5.0.lib and object lib\ITKIOHDF5-5.0.exp
itkHDF5ImageIO.cxx.obj : error LNK2019: unresolved external symbol _H5open referenced in function "public: virtual bool __thiscall itk::HDF5ImageIO::CanReadFile(char const *)" (?CanReadFile@HDF5ImageIO@itk@@UAE_NPBD@Z)
itkHDF5ImageIO.cxx.obj :

[2020-07-16 07:55] PhoebeHui commented on #11780
The 'icu' feature only support on windows now, thanks for reporting this issue!

[2020-07-16 08:02] ManuelKugelmann commented on #10643
@JackBoosY afaik the "v120" toolset is supported - will try to complete my PR

[2020-07-16 08:49] chris-t-w opened #12446 "[fmt] post-build failure using VCPKG_PLATFORM_TOOLSET=v141"
**Describe the bug**

I want to build the `fmt` port on Windows for Visual Studio 2017, however by default `vcpkg` is using the Visual Studio 2019 installation that I also have on my machine. As per the advice on [issue 1234](https://github.com/Microsoft/vcpkg/issues/1234), I created a custom triplet file, however, I receive an error at the end of the build.

**Environment**
- OS: Windows
- Compil

[2020-07-16 09:16] aspioupiou opened #12447 "[x264] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: VS2017
- Latest VCPKG

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install x264`

**Failure logs**
[code]

**Additional context**
Seems to build x86 instead of x64.. Maybe a clue **EDIT 1 : Forcing x64 build with `vcpkg install x264:x64-windows` does not change anything**

[2020-07-16 09:22] JackBoosY commented on #10825
We need to manually select the Windows SDK as `10.*`.

[2020-07-16 09:35] NancyLi1013 commented on #12443
Hi @shunshizhechang
Thanks for posting this issue.
 I can build this successfully on my machine:
[code]
Could you please use git pull to update vcpkg to the latest version and rebuild this?

[2020-07-16 09:38] NancyLi1013 commented on #12105
I'm closing this issue for now since no response.

[2020-07-16 09:38] #12105 closed

[2020-07-16 09:40] NancyLi1013 commented on #12116
@ollp
Could you please help confirm if you have the same error with me?

[2020-07-16 09:46] NancyLi1013 commented on #11792
Thanks for your update @RameshKandukuriB.

@atharkes
Do you still have this issue now?

[2020-07-16 09:49] ollp commented on #12116
yes if you show me how to find it. is there an error log or what?

[2020-07-16 10:22] Voskrese commented on #12447
full log attach

[2020-07-16 10:26] NancyLi1013 commented on #11284
@lpintes
Sorry for the late response.

For the static build, we need to add the triplet to the project.
[code]
Please refer to this `doc` to learn more about this.

[2020-07-16 10:28] kvlevin commented on #4104
Thank you for reply.I did it with apt.and give up vcpkg.there are more bugs than expected.

[2020-07-16 11:47] PhilLab opened #12448 "[CUDA] find_package(CUDA 10.1 EXACT) only finds latest installed version"
****

**Is your feature request related to a problem? Please describe.**
We have an exact version requirement for NVIDIA CUDA:

[code]
However, the current port file only reports the latest version, even if older versions are installed:

[code]
I have available on my system:
[code]
**Proposed solution**
The [port file](https://github.com/microsoft/vcpkg/blob/master/ports/cuda/portfile.cmake) shoul

[2020-07-16 11:52] Voskrese commented on #12448
del or comment str `set(CUDA_REQUIRED_VERSION "10.1.0")`

[2020-07-16 11:56] PhilLab commented on #12448
@Voskrese Thanks for the lightning-fast response. However, I am unsure if this is the actual problem here, as the "10.1.0" would actually be the version I need. In the portfile, this just seems to be the minor version vcpkg is working with.

The cmake error about mismatching versions does not fail in the port file - then, the message would be:

but rather when I use `find_package(CUDA 10.1 EXACT R

[2020-07-16 13:37] PauloFavero commented on #10588
Hi @PhoebeHui,

Yes, I couldn't manage to make it work.
I still have the same authentication issue.

[2020-07-16 13:39] PauloFavero commented on #10588
Hi @PhoebeHui,

Yes, I couldn't manage to make it work.

[2020-07-16 14:12] Gigas002 commented on #11905
3.1.2 was released recently. Hope that's going to be updated soon, current version 2.4.1 was released more then year ago.

[2020-07-16 14:37] Gigas002 opened #12449 "[proj4] update to 7.1.0"
Library name: Proj4

New version number: 7.1.0

Source repo: https://github.com/OSGeo/PROJ

[2020-07-16 15:40] strega-nil opened #12450 "[nrf-ble-driver:*-windows ci] Miscellaneous failures?"
We should figure out what's going on with nrf-ble-driver, it's failing a bunch of PR tests: #12444, #12434, #12421, and a bunch of others.

[2020-07-16 18:48] am2222 commented on #11780
@PhoebeHui Thanks
Is there any way to setup build to have custom dependencies per each trim? like windows and linux.

[2020-07-16 18:58] ianmanifacier commented on #8118
I had the same problem almost a year later

[2020-07-16 19:08] jsutes commented on #7461
It's been awhile, but this is still an issue for me (I'm the one who made the referenced comment https://github.com/microsoft/vcpkg/issues/2857#issuecomment-491060871).

Here is the commit when the issue started: https://github.com/microsoft/vcpkg/commit/a1fe9544fd042a40fcfd28f04032a8f539486bdf

In qtdeploy.ps1, there are 5 lines of code (lines 18, 20, 21, 35, and 37) that have a "plugins" directo

[2020-07-16 19:13] v-tcassi opened #12452 "Visual Studio 2019 not recognizing headers installed by vcpkg"
**Describe the bug**
I'm following this tutorial in the IoT Edge documentiontation: https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-c-module-windows

At the beginning, it uses vcpkg to install the Azure IoT Edge C SDK to develop the C module with. This include doing a fresh pull of vcpkg from the repo, bootstrapping vcpkg, installing the Azure IoT Edge C SDK package, and then running the

[2020-07-16 21:17] drescherjm commented on #8118
You may want to just exclude your whole vcpkg folder from your AV.

[2020-07-16 22:20] UniversalBinary opened #12453 "fftw3[openmp] fails to build"
PS C:\vcpkg> vcpkg install fftw3[openmp] fftw3[avx2] fftw3[threads]
Computing installation plan...
The following packages will be built and installed:
    fftw3[avx2,core,openmp,threads]:x86-windows
Detecting compiler hash for triplet x86-windows...
Starting package 1/1: fftw3:x86-windows
Building package fftw3[avx2,core,openmp,threads]:x86-windows...
Could not locate cached archive: C:\Users\gnos

[2020-07-16 22:50] ras0219-msft commented on #12450
Looks like `libmicrohttpd` is installing `include/platform.h` -- very bad practice, sad faces

[2020-07-16 23:19] Nemirtingas opened #12454 "[<port name>] build failure"
**Host Environment**
- OS: Linux - Ubuntu 18.04
- Cross-compiling for Windows with clang/llvm 9
- Compiler: clang-cl-9 & llvm-rc-9

**To Reproduce**
Steps to reproduce the behavior:
My custom triplet: x86-windows-release
[code]

`./vcpkg install protobuf:x86-windows-release`

**Failure logs**
[code]

**Additional context**
I use this toolchain to build with cmake for Windows on Linux: https://gith

[2020-07-17 01:14] PhoebeHui commented on #12450
Related to https://github.com/microsoft/vcpkg/pull/12445

[2020-07-17 01:56] PhoebeHui commented on #10588
@PauloFavero, thanks for your reply.

It looks a CMake bug in vmware-host, could you try latest vcpkg source? it currently upgrade CMake to 3.17.2, if it still repro, please report to CMake instead.

[2020-07-17 02:37] JackBoosY commented on #7461
@Neumann-A Could you please take a look?

Thanks.

[2020-07-17 02:45] PhoebeHui commented on #12446
@chris-t-w, I can't repro this issue, I tried following triplets with latest vcpkg source. it built successfully for me.

.\triplets\community\x86-windows-v141.cmake:
[code]

PS F:\vcpkg\src> ./vcpkg install fmt:x86-windows-v141
Your feedback is important to improve Vcpkg! Please take 3 minutes to complete our survey by running: vcpkg contact --survey
Computing installation plan...
A suitable vers

[2020-07-17 02:45] JackBoosY commented on #12448
@Neumann-A Could you please take a look?

Thanks.

[2020-07-17 03:08] NancyLi1013 commented on #12447
Hi @aspioupiou
Thanks for posting this issue.
Currently, `x264 `can only build on Linux.
Since there is something wrong with `vcpkg_configure_make()`. We need to improve it.

Let's move attention to #11765.

[2020-07-17 03:08] #12447 closed

[2020-07-17 03:08] PhoebeHui commented on #7693
@erikchris2011, currently this issue has been fixed, please get latest source and try again.

[2020-07-17 03:08] #7693 closed

[2020-07-17 03:15] PhoebeHui commented on #5943
@jeanga, I can't repro this issue with latest source and VS2019 16.6.0, it should be fixed now. Does it still e a problem for you?

[2020-07-17 03:19] PhoebeHui commented on #5714
It supports VS2019 nicely now, please get latest source and try again.

[2020-07-17 03:19] #5714 closed

[2020-07-17 04:00] BillyONeal commented on #11219
As a workaround for now the logs are included if you look in the actual logs for the associated build; Ctrl+F and typing in the name of the port in question should find it.

[2020-07-17 04:06] gnaggnoyil opened #12457 "[armadillo] `libarmadillo.a` contains undefined symbol"
**Describe the bug**
The `libamadillo.a` file built under `x64-linux` have some of its symbols undefined. Specifically, running command `nm -C installed/x64-linux/lib/libarmadillo.a` after installation gives the following output:

[code]

This in the end will cause command `vcpkg install mlpack[*]` failed during linking. Errors are shown in `buildtrees/mlpack/install-x64-linux-dbg-out.log`:

[code

[2020-07-17 04:20] PhoebeHui commented on #11219
eg: https://dev.azure.com/vcpkg/public/_build/results?buildId=40222&view=logs&j=a83b7983-e539-5449-9e09-337ff5f52283&t=d09e293f-02da-5f82-8282-c7874dd40062&l=1478

[2020-07-17 05:59] JackBoosY commented on #11727
@davidebeatrici Any progress?

[2020-07-17 06:06] Neumann-A commented on #12448
The CUDA port just verifies that CUDA exists nothing more.

find_package(CUDA 10.1 EXACT REQUIRED)

For that somebody as to dig down into the CUDA module and check weather or not it supports searching for other versions. It could be that it only uses CUDA_PATH. Thus you just need to set CUDA_PATH to the correct toolset path for the CUDA version you want to use.

[2020-07-17 06:31] PhoebeHui commented on #11295
@BaderEddineOuaich, you need add  ' <VcpkgTriplet Condition="'$(Platform)'=='x64'">x64-windows-static</VcpkgTriplet>' in your project file. see https://github.com/microsoft/vcpkg/blob/master/docs/users/integration.md#with-msbuild

<PropertyGroup Label="Globals">

  <VcpkgTriplet Condition="'$(Platform)'=='Win32'">x86-windows-static</VcpkgTriplet>
  <VcpkgTriplet Condition="'$(Platform)'=='x64'">x6

[2020-07-17 06:45] PhoebeHui commented on #11780
@am2222, see https://github.com/microsoft/vcpkg/blob/master/docs/maintainers/control-files.md#build-depends.

[2020-07-17 06:51] Neumann-A commented on #7461
I think the idea was to also deploy a `qt.conf` with the corrected paths but I never touched `qtdeploy.ps1`. It probably requires an update or should be replaced `<platform>deployqt` if available. Theoretically we don't need to deploy qt dll we just need a qt.conf with the correct paths to make it work. (I mean the reason why VCPKG copies DLLs is probably just to make it work in VS via the run com

[2020-07-17 07:16] LilyWangL commented on #12453
Thanks for posting this issue. Closed as duplicate of #10930.

[2020-07-17 07:16] #12453 closed

[2020-07-17 08:07] chris-t-w commented on #12446
I think I got to the bottom of the problem.

I have the `git` bin directory on my `PATH` environment variable and this directory contains a `link.exe` program:

[code]

It appears that the `dumpbin.exe` program in Visual Studio 2017 is picking up this `link.exe` binary from the `PATH` instead of the one in the Visual Studio installation.

In Visual Studio 2019 it works correctly by picking up the

[2020-07-17 08:07] #12446 closed

[2020-07-17 08:31] elieux commented on #12288
@emptyVoid, did it say anything else?

My output:

[code]

Swapped arguments:

[code]

Broken signature file:

[code]

[2020-07-17 09:02] emptyVoid commented on #12288
@elieux, here's an output using fresh [msys2-base-x86_64-20190524.tar.xz](http://repo.msys2.org/distrib/x86_64/msys2-base-x86_64-20190524.tar.xz):

[code]
Swapped arguments:
[code]
Explicit arguments:
[code]

[2020-07-17 09:03] NancyLi1013 commented on #11498
Sorry for the late reply.
@MaxBiaggi
`curl `has been updated to the new version.
Could you please try to update vcpkg and rebuild this?

@Erroneous1
Thanks for your above info and suggestion.

Since `ssl` is added in default feature lists. So it will always be built unless we remove it from `Default-Features` filed.
If you don't need to build with `ssl `or `winssl`, you can remove `ssl` from `Defa

[2020-07-17 09:04] shunshizhechang commented on #12443
I downloaded vcpkg again and rebuild the  package libpq:x64-windows，but the same error occurred。

PS F:\jinankanchayuan\github\vcpkg-master> .\vcpkg.exe install libpq:x64-windows
Computing installation plan...
The following packages will be built and installed:
    libpq[core,openssl,zlib]:x64-windows
Detecting compiler hash for triplet x64-windows...
Starting package 1/1: libpq:x64-windows
Buildi

[2020-07-17 09:11] Neumann-A opened #12461 "[vcpkg] Use Supports field to print a warning if port does not support the target triplet"
Since the introduction of the `Supports` field `vcpkg_fail_port_install` isn't really necessary anymore.
VCPKG should detect if a port is supported on a given platform and otherwise print a **Warning** (not error) that the current port is not supported on the platform and the build is most likely to fail.

[2020-07-17 09:28] liaolunhui opened #12462 "Require Windows 8.1 SDK but Visual Studio 2019 only have Windows 10 SDK"
**Describe the bug**
A clear and concise description of what the bug is.

**Environment**
Windows 10

**To Reproduce**
.\vcpkg\bootstrap-vcpkg.bat

**Expected behavior**
worked

**Failure logs**
Could not detect a Windows SDK / TargetPlatformVersion
At H:\vcpkg\scripts\bootstrap.ps1:327 char:5
+     throw "Could not detect a Windows SDK / TargetPlatformVersion"
+     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2020-07-17 09:44] #12462 closed

[2020-07-17 10:52] elieux commented on #12288
Oh. For some reason, pacman-key seems to interpret both arguments as detached signatures. Just `pacman-key --verify msys2-keyring-r21.b39fb11-1-any.pkg.tar.xz.sig` should work then. I wonder if pacman-key from 2019-05-24 just doesn't support the explicit syntax, or there's something else at play. I would try it myself in a local setup, but I'm on a metered connection.

These are my current version

[2020-07-17 11:10] emptyVoid commented on #12288
Versions from `msys2-base-x86_64-20190524.tar.xz`:
[code]

Yeah, `pacman-key --verify msys2-keyring-r21.b39fb11-1-any.pkg.tar.xz.sig` works as long as the package is located in the same directory.

[2020-07-17 12:15] talregev commented on #12341
Also happen to me:
`vcpkg.exe install opencv3[qt,ipp,world,core,dnn,flann,jpeg,opengl,png,tiff,webp,tbb,ffmpeg,jasper,contrib,eigen] --triplet x64-windows
`

[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/4937661/install-x64-windows-dbg-out.log)
tldr (the log):

[code]

[2020-07-17 12:20] Neumann-A commented on #12341
@talregev: wrong issues? This one is about qt5-base not opencv3.

[2020-07-17 12:22] talregev commented on #11557
Also happen to me:
`vcpkg.exe install opencv3[qt,ipp,world,core,dnn,flann,jpeg,opengl,png,tiff,webp,tbb,ffmpeg,jasper,contrib,eigen] --triplet x64-windows
`

[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/4937661/install-x64-windows-dbg-out.log)
tldr (the log):

[code]

[2020-07-17 12:26] talregev commented on #12341
yes. I delete it.

[2020-07-17 12:28] Neumann-A commented on #12341
@cenit is this still an issue? If yes could you attach both logs (err and out) ?

[2020-07-17 12:35] jsutes commented on #7461
Thank you @JackBoosY  and @Neumann-A.
For my workflow, the DLLs get copied through the cmake install target.  If I'm doing a run command from within Visual Studio and my build directory, the DLLs do not appear to be copied yet. VS is able to find them without needing them to be copied to the build directory.
It's not until the cmake "install" command  is used that the DLLs are copied using the ins

[2020-07-17 13:29] mitza-oci commented on #7461
Please see the notes above under "Describe alternatives you've considered" regarding `qt.conf`.  Perhaps some of that has changed since I wrote it, but that's what I found out when creating this Issue.

[2020-07-17 13:39] BaderEddineOuaich commented on #11295
@PhoebeHui it solved the issue. thanks!

[2020-07-17 13:39] #11295 closed

[2020-07-17 14:31] galexite opened #12465 "[raylib] does not link with CMake project"
When using the raylib port with a brand new CMake project copying the source code straight from `vcpkg install raylib:x64-windows`, and using `cmake .. -A x64 "-DCMAKE_TOOLCHAIN_FILE=C:/Tools/vcpkg/scripts/buildsystems/vcpkg.cmake`, configuration of the project succeeds:

[code]

But linking does not:

[code]

The issue appears to be that the variable `CURRENT_INSTALLED_DIR` in `ports/raylib/vcpkg

[2020-07-17 15:06] StarGate-One opened #12466 "[magnum-plugins] build failure using incorrect stb header files - an FYI"
**Host Environment**
- OS: [Microsoft Windows Version 10.0.19041.388]
- Compiler: Visual Studio 2017 15.9.25  VS Tools 14.16.27023

**To Reproduce**
Steps to reproduce the behavior:
1. `set VCPKG_DEFAULT_TRIPLET=x64-windows`
2. `.\vcpkg.exe Install stb[core]`
3. `.\vcpkg.exe install allegro5[core] bullet3[core,multithreading] corrade[core,interconnect,pluginmanager,testsuite,utility] devil[core,ja

[2020-07-17 17:42] davidebeatrici commented on #11727
@JackBoosY Waiting for the RAM sticks to arrive.

[2020-07-17 18:43] AenBleidd commented on #12431
@LilyWangL, were you able to reproduce this issue? I could provide any information you might need

[2020-07-17 18:55] StarGate-One commented on #12466
I see PR #12458 is already in the works to fix this - thank you @JackBoosY .

[2020-07-17 19:28] rvdweerd commented on #10958
Same problem

[2020-07-17 20:36] Neumann-A opened #12469 "[vcpkg] PATH variable is incorrect in VCPKG environment. Problems finding CUDA"
My path opening a VS dev prompt:
[code]

My path variable in `vcpkg env`
[code]

The CUDA paths are completly missing for the vcpkg env within Path

[2020-07-17 20:42] SallySoul commented on #8942
I think we can still fix this issue long term though. (I just had this failure again since this site seems to be down again.)

METIS is now distributed via github:
https://github.com/KarypisLab/METIS

However, the previously included GKLib library is not a sub module, so that would also need to be added:
https://github.com/KarypisLab/GKlib

Some changes have been made so the patches we currently h

[2020-07-17 20:43] OlafvdSpek opened #12470 "Total elapsed time: -7.265e+11 ns"
[code]

Is a non-steady clock being used? ;)

Windows 10

[2020-07-17 22:40] StarGate-One opened #12473 "[libpq] build failure with file conflict with decimal.h from port decimal-for-cpp"
**Host Environment**
- OS: [Microsoft Windows Version 10.0.19041.388]
- Compiler: Visual Studio 2019 16.6.4  VS Tools 14.26.28801

**To Reproduce**
Steps to reproduce the behavior:

2 Scenarios discovered, both have default triplet `set VCPKG_DEFAULT_TRIPLET=x64-windows`

- **Scenario One: - port libpq build failure if port decimal-for-cpp already installed**
1. `.\vcpkg.exe install decimal-for-cp

[2020-07-17 23:00] StarGate-One commented on #12469
1. I was told at one time, the `vcpkg env` initializes **ALL** the environment variables, then runs the appropriate command prompt/powershell  option for vcvarsall.bat and that is the only environment variables vcpkg has to start with.
2. I was told this was done to have a **clean** environment removing all differences on how different systems are setup to eliminate certain compatibility issues.
3

[2020-07-17 23:17] Orion160x opened #12474 "How do I use sdl, it isnt working by default in x86 nor x64?"
I have just installed visual studio 2019, vcpkg and sdl2 both versions x86 and x64, i already integrated vcpkg with sdl2 and when i include the SDL/sdl2 library it gives me an error at the moment of build it.

[2020-07-18 00:49] drescherjm commented on #12474
You probably need to show your errors.

[2020-07-18 00:51] Orion160x commented on #12474
Severity    Code    Description Project File    Line    Suppression State
Warning C26812  The enum type 'SDL_bool' is unscoped. Prefer 'enum class' over 'enum' (Enum.3). vcpkgSDL2test   C:\Users\idbl6\Documents\repos\vcpkg\installed\x86-windows\include\SDL2\SDL_rect.h  102

Severity    Code    Description Project File    Line    Suppression State
Error   LNK1561 entry point must be defined vcpkgSD

[2020-07-18 01:44] StarGate-One commented on #12474
- See https://github.com/microsoft/vcpkg/blob/master/docs/users/integration.md - under the `vcpkg integrate install` paragraph, it mentions SDL2 has an SDL2main library that must be manually linked.
- you can get a full list by entering `vcpkg owns manual-link` for what you may have installed.
- Example for my system:
`->vcpkg owns manual-link`
`gtest:x64-windows: x64-windows/debug/lib/manual-link

[2020-07-18 01:58] Reveares commented on #11056
This is still an issue with qt 5.15

[2020-07-18 02:27] ZdDroid opened #12476 "[boringssl] build failure"
**Host Environment**
- OS: [Windows10]
Package: boringssl:x86-windows
Vcpkg version: 2020.06.15-nohash

**To Reproduce**
Steps to reproduce the behavior:
vcpkg install boringssl:x86-windows

**Failure logs**
[code]
**Additional context**
boringssl:x64-windows is work

[2020-07-18 03:07] traum100 opened #12477 "[qt5-webengine] build failure"
**Host Environment**
- OS: Win10 64bit, 1909
- Compiler: visual studio 2017

**To Reproduce**
Steps to reproduce the behavior:
vcpkg install qt5[all]:x64-windows

**Failure logs**
Starting package 53/59: qt5-webengine:x64-windows
Building package qt5-webengine[core]:x64-windows...
Could not locate cached archive: C:\Users\traum\AppData\Local\vcpkg\archives\b5\b54533a4d68b8bc85e468f7c4252b240fff856

[2020-07-18 03:39] babyaaaaaa opened #12478 "[New Port Request] pcapplusplus"
Library name:
pcapplusplus

Library description:
A multiplatform C++ library for capturing, parsing and crafting of network packets. It is designed to be efficient, powerful and easy to use.

Source repository URL:
https://github.com/seladb/PcapPlusPlus

Project homepage (if different from the source repository):
https://pcapplusplus.github.io/

Anything else that is useful to know when adding (su

[2020-07-18 06:23] invy commented on #12449
I also suggest renaming it to simply 'proj'.

[2020-07-18 06:48] dannypike commented on #10654
This has just happened to me, and I am now slogging my way through all of the different projects, trying to restore all of their dependencies.

To avoid the problem in future (at least until the VCPKG team manage to create a fix for it), I am using this to create a "restore" batch script that will allow me to reinstall everything:
[code]
Running that after installing any new packages will create a

[2020-07-18 09:12] #10124 closed

[2020-07-18 09:13] #10114 closed

[2020-07-18 11:00] talregev opened #12479 "Fix automatic tests in the master or remove them."
Some of the automatic tests in the master are always fail.

- OS: Windows/Linux
- Compiler: compiler from master.

1. Make a PR into microsoft/vcpkg
2. See with your sad eyes that the tests are fails.

All the tests in the master should be past, or remove them.

[2020-07-18 13:30] Orion160x commented on #12474
Okay, thank you.
I didnt know that i had to manually link some libs.

[2020-07-18 13:38] #12474 closed

[2020-07-18 13:52] kenkit opened #12481 "aws-sdk-cpp[transfer] build failure"
**Host Environment**
- OS: [Windows 10]
- Compiler:  Visual Studio 16 2019

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg install aws-sdk-cpp[acm,transfer,iam,cloudfront,ec2,s3,core,ssm,rds]:x86-windows --recurse`

**Failure logs**
[code]

**Additional context**
Upgrading from 1.7 to 1.8..

[2020-07-18 14:05] kenkit commented on #12481
I've updated log output.

[2020-07-18 14:27] kenkit commented on #12481
The bug seems to be coming from a warning while building  aws transfer

[2020-07-18 15:48] #12065 closed

[2020-07-18 22:00] jamalextends25 commented on #5579
CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:72 (message):
    Command failed: ninja -v
    Working Directory: D:/darknet/vcpkg-2020.06/buildtrees/opencv4/x64-windows-rel/vcpkg-parallel-configure
    Error code: 1
    See logs for more information:
      D:\darknet\vcpkg-2020.06\buildtrees\opencv4\
[config-x64-windows-out.log](https://github.com/microsoft/vcpkg/files/4942719/c

[2020-07-19 01:52] lambdald commented on #12418
This operation did not work, and then I reset the windows10 system. The script can compile vcpkg.exe normally now.

[2020-07-19 03:07] lab2k1 opened #12486 "VS 2019 triplet silently fails building when both VCPKG_VISUAL_STUDIO_PATH and VCPKG_PLATFORM_TOOLSET are specified"
**Bug**
When a triplet specifies both VCPKG_VISUAL_STUDIO_PATH (pointing to VS 2019) and VCPKG_PLATFORM_TOOLSET (= v142, v141 or v140) `vcpkg install` goes through the motions of checking/preparing the package but then silently skips the build step, without reporting any error.

**Environment**
- OS: Windows
- Compiler: VS 2019

**To Reproduce**
The issue is not specific to a particular package, b

[2020-07-19 06:13] ompadu commented on #8925
Spotty internet is a very common fault and should be handled gracefully.

The list of packages currently upgrading should be automatically handled by `vcpkg` and not deferred to the end user.

[2020-07-19 08:44] linquize commented on #12424
In `~/AppData/Local/vcpkg/archives` (Windows), `~/.cache/vcpkg/archives` (Linux)
[code]
will print the `CONTROL` files with ABI hashes, so that the user can decide which zip files to delete.

[2020-07-19 13:20] gnaggnoyil commented on #12457
Seems to be an upstream bug and I've reported an issue: https://gitlab.com/conradsnicta/armadillo-code/-/issues/159

Yet it seems upstream is rather inactive in development it would probably take a long time before the upstream issue get processed. Thus I wonder if there are any workarounds/patches we can apply here.

[2020-07-19 14:36] jagrme00 opened #12487 "openCV debug mode LNK2019 / LNK1120 error"
Hello,

I'm trying to build a x64-windows project in debug mode but I get the following two errors:

Error | LNK2019 | unresolved external symbol "void __cdecl cv::cvtColor(class cv::_InputArray const &,class cv::_OutputArray const &,int,int)" (?cvtColor@cv@@YAXAEBV_InputArray@1@AEBV_OutputArray@1@HH@Z) referenced in function "public: static void __cdecl IntensityToRGBConverter::WinterColormap(dou

[2020-07-19 16:17] gregko opened #12488 ""Could not locate a complete toolset", have English version of VS2015 installed"
Many users ask about "Could not locate a complete toolset", but the only solution proposed is to install the English language pack for Visual Studio. Well, I have VS 2015 Update 3 installed, English language pack is installed (I use only English). Visual Studio is installed on my computer in C:\VS2015 directory. I was able to bootstrap and build vcpkg fine. But trying to use it, no such luck, only

[2020-07-19 16:24] 4drik opened #12489 "[openssl-windows:x86-windows] build failure"
**Host Environment**
- OS: Windows

**To Reproduce**
`./vcpkg install wxwidgets boost libarchive`

**Failure logs**
Starting package 92/160: openssl-windows:x86-windows
Building package openssl-windows[core]:x86-windows...
Could not locate cached archive: C:\Users\Lenovo_Pc\AppData\Local\vcpkg\archives\59\59d3d47ee57542cb7baafe68967dac3a6218b545.zip
-- Downloading https://strawberry.perl.bot/downl

[2020-07-19 18:25] StarGate-One commented on #12488
@gregko
- I am not an expert by any means, but I have found in the many decades of IT work, many downstream software packages (vcpkg) do not like when upstream software packages (visual studio) it (vcpkg) depends on being installed somewhere other than the software manufacturers default location. I will note this has become better in the last 10-15 years but it is still far from optimal.
- VCPKG u

[2020-07-19 18:37] StarGate-One commented on #12489
@4drik
The SHA512 has is correct, as I just downloaded it from the web address and had the correct hash.
- Try again, it may have been a network glitch, interruption, missed packet, etc.
- If that does not work
  - Click on the link : http://www.nasm.us/pub/nasm/releasebuilds/2.14.02/win32/nasm-2.14.02-win32.zip
  - Once the file is downloaded, put it in your `C:\vcpkg\downloads` directory/folder

[2020-07-19 19:56] gregko commented on #12488
Thank you, appreciate your help! Strange that they don't have some easy environment variable to set this, but hard code instead... I just modified visualstudio.cpp, line 161 line this, and now it works for me:

        // VS2015 instance from Program Files
        //append_if_has_cl_vs140(program_files_32_bit / "Microsoft Visual Studio 14.0"); - commented out
        append_if_has_cl_vs140("C:/VS2

[2020-07-19 22:12] 4drik commented on #12489
I understand, thank you. The problem was issued by the antivirus. (Malwarebytes). I disabled it for download time.
Thank you.

[2020-07-19 22:12] #12489 closed

[2020-07-19 22:35] lab2k1 commented on #12488
@gregko Do you have a `vswhere.exe` in `C:\Program Files (x86)\Microsoft Visual Studio\Installer`, and does `vswhere -legacy` list `instanceId: VisualStudio.14.0` at `installationPath: C:\VS2015\` with `installationVersion: 14.0`?

Regardless, what works for me to get vcpkg to locate VS 2015 in a non-default directory is add a new triplet for example `x64-windows-static-v140.cmake` with `set(VCPKG

[2020-07-20 02:13] gregko commented on #12488
Thank you! This is what I tried before even posting here, the only difference is aht I did not include trailing \\ - I had set(VCPKG_VISUAL_STUDIO_PATH "C:\\VS2015").

[2020-07-20 02:25] PhoebeHui commented on #12488
@gregko, you can see https://github.com/microsoft/vcpkg/blob/5e40afca0d7286a9a7d742822cc2a1179a9e63fc/docs/users/triplets.md#vcpkg_visual_studio_path for usage.

[2020-07-20 03:13] JonLiu1993 commented on #12476
@ZdDroid  Thanks for reporting this issue!
Could you please provide the failure logs?

Thanks.

[2020-07-20 03:16] JackBoosY commented on #12479
Now, vcpkg will report errors if it encounters a keyword that is not expected when parsing the CONTROL file.

[2020-07-20 04:59] conradsnicta commented on #12457
@gnaggnoyil Not sure where you got the idea that "upstream is rather inactive".  This is false.  Please don't make unsubstantiated assertions. Development of Armadillo is active and follows its own pace. You are welcome to contribute code.

[2020-07-20 05:30] Othereum opened #12491 "[fmt] update to 7.0.1"
Library name: [fmt](https://github.com/fmtlib/fmt)

New version number: 7.0.1

--

[2020-07-20 05:33] Othereum opened #12492 "[nlohmann-json] update to 3.8.0"
Library name: [nlohmann-json](https://github.com/nlohmann/json)

New version number: 3.8.0

Other information that may be useful (release notes, etc...)
https://github.com/nlohmann/json/releases/tag/v3.8.0

[2020-07-20 05:37] Othereum commented on #12491
Sorry, it was duplicated #12312

[2020-07-20 05:37] #12491 closed

[2020-07-20 05:38] Othereum commented on #12492
Sorry, it was duplicated: #11941

[2020-07-20 05:38] #12492 closed

[2020-07-20 06:21] PhoebeHui commented on #12383
@wenjie89, you can reference https://github.com/microsoft/vcpkg/issues/7207#issuecomment-545826376 for setting proxy.

[2020-07-20 06:38] NancyLi1013 commented on #12065
@longnguyen2004 @jimboyeah
Could you please try to update vcpkg to the latest version and rebuild this?

[2020-07-20 06:50] NancyLi1013 commented on #12487
Hi @jagrme00
Thanks for posting this issue.
Could you please try to rebuild this based on PR #11130?

[2020-07-20 06:58] NancyLi1013 commented on #12470
Hi @OlafvdSpek
Thanks for posting this issue.
Could you please provide full log about this?

[2020-07-20 07:35] longnguyen2004 commented on #12065
![image](https://user-images.githubusercontent.com/15729831/87911682-3b7a5700-ca96-11ea-8bbf-cca4ad098571.png)
Yep it works now, the pkg-config error is unrelated to this

[2020-07-20 07:44] NancyLi1013 commented on #12389
@psionic12
Thanks for clarifying this. Now I see what you want to express.
But I didn't encounter the same error with you.

[code]

[2020-07-20 07:56] psionic12 commented on #12389
well... so you can use the same directory both in windows and WSL, right?

By the way do you know how to build a debug version of vcpkg executable on Ubuntu? With debug version with debug symbols I may figure out what happened in my case.

[2020-07-20 08:05] Neumann-A commented on #12477
error:
[code]

[2020-07-20 08:06] NancyLi1013 commented on #10958
Hi all,
Sorry for the late reply.

@AngmarLord , @christopherwoo , @rvdweerd
Could you please help confirm if you have installed any antivirus softwares?

@aslze , English pack is required in Visual Studio, please see [here](https://github.com/microsoft/vcpkg/blob/master/README.md). If there is no English pack, it will post the message like this:
[Please install the English language pack](https://

[2020-07-20 08:08] Neumann-A commented on #12477
patch:
https://github.com/qt/qtwebengine-chromium/commit/e7480805907c42f1954a9ec9f219de0d5615ac1f

[2020-07-20 08:13] NancyLi1013 commented on #12065
@longnguyen2004
Thanks for your update.
For the status of community triplets, please refer to this [doc](https://github.com/microsoft/vcpkg/blob/master/docs/users/triplets.md#community-triplets).

[2020-07-20 08:25] LilyWangL commented on #12260
Thanks for posting this issue. Please reopen this issue if this is still a problem for you.

[2020-07-20 08:25] #12260 closed

[2020-07-20 08:27] LilyWangL commented on #12102
Thanks for posting this issue. Please reopen this issue if this is still a problem for you.

[2020-07-20 08:27] #12102 closed

[2020-07-20 08:27] NancyLi1013 commented on #12477
@traum100
Thanks for posting this issue.
Could you please try to rebuild based on the patch @Neumann-A provided above?

[2020-07-20 08:30] deltabeard opened #12495 "wavpack build failure: 'afxres.h': No such file or directory"
**Host Environment**
- OS: Windows
- Compiler: Microsoft (R) C/C++ Optimizing Compiler Version 19.26.28806 for x64

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg  --triplet x64-windows install wavpack`

**Failure logs**
Terminal output:
[code]

Build log: [install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/4946427/install-x64-windows-dbg-out.log)
Snippet of error:

[2020-07-20 08:30] LilyWangL commented on #11486
Thanks for posting this issue. Please reopen this issue if this is still a problem for you.

[2020-07-20 08:30] #11486 closed

[2020-07-20 08:31] LilyWangL commented on #11347
Thanks for posting this issue. Please reopen this issue if this is still a problem for you.

[2020-07-20 08:31] #11347 closed

[2020-07-20 08:33] LilyWangL commented on #11296
Pinging @rdikshit for response.

[2020-07-20 08:34] LilyWangL commented on #12391
Thanks for posting this issue. Please reopen this issue if this is still a problem for you.

[2020-07-20 08:34] #12391 closed

[2020-07-20 08:48] NancyLi1013 commented on #12281
I'm closing this issue for now since no response.
Please feel free to reopen this if it is still a problem for you.

[2020-07-20 08:48] #12281 closed

[2020-07-20 08:51] NancyLi1013 commented on #12142
I'm closing this issue for now since no response.
Please feel free to reopen this if it is still a problem for you.

[2020-07-20 08:51] #12142 closed

[2020-07-20 08:58] NancyLi1013 commented on #11816
Hi @GrayHub-737
In my opinion, this is not vcpkg issue. Please pay attention to the progress of issue [here](https://github.com/microsoft/vscode-cpptools/issues/4718). So I'm closing this issue for now.

[2020-07-20 08:58] #11816 closed

[2020-07-20 09:16] LilyWangL commented on #12166
I think this issue has been fixed in PR #12366, please reopen this issue if this is still a problem for you.

[2020-07-20 09:16] #12166 closed

[2020-07-20 09:53] whidbey opened #12496 "libmodbus static version failed to link by console projects"
**Describe the bug**
vcpkg install libmodbus:x86-windows-static and success get the "lib" file.

a simple project with visual studio console. choose static link with office example

would show several "extern symbol unresolve... __imp__modbus_connect " like this

A dll version by vcpkg install libmodbus:x86-windows and works fine!.

example file:
[code]

**Environment**
- OS:windows
- Compiler: vi

[2020-07-20 09:54] LilyWangL commented on #12495
Thanks for posting this issue. `afxres.h` is header file from MFC. You need install the following items on Visual Studio Installer.
![image](https://user-images.githubusercontent.com/47812810/87924883-15fb4680-cab2-11ea-93f2-456ce818b8a7.png)

[2020-07-20 10:14] gnaggnoyil commented on #12457
@conradsnicta I'm sorry I was too eager to draw conclusions. I was worried that this issue cannot be fixed trivally or easily at that time. Thanks for your clarification here and in upstream.

[2020-07-20 10:25] deltabeard commented on #12495
Tested working. Many thanks!

[2020-07-20 10:25] #12495 closed

[2020-07-20 10:36] Neumann-A commented on #12496
`__imp` indicates that the names are mangled for shared linkage and not static linkage. You might need an additional preprocessor definition for static linkage to change some `<somemodbusname>_EXPORT` to nothing instead of `__declspec(dllimport)`.

[2020-07-20 11:53] rvdweerd commented on #10958
I've got Norton360.
In my case, package installation aborts with:
[DEBUG] CreateProcessW(cmd /c ""C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvarsall.bat" -vcvars_ver=14.2 amd64_x86   2>&1 <NUL" & echo cdARN4xjKueKScMy9C6H& set)
[DEBUG] cmd_execute_and_stream_data() returned 1 after  1816338 us
[DEBUG] C:\vcpkg\toolsrc\src\vcpkg\base\system.process.cpp(567)

[2020-07-20 12:09] Neumann-A opened #12500 "[vcpkg|overlay] Does not accept file paths with overlay."
Specification at https://github.com/microsoft/vcpkg/blob/master/docs/specifications/ports-overlay.md says that `--overlay-ports` would accept filenames. If I use a filename I get the following error:

`[CMake] Error: Path "E:\Repos\StoPhys\vcpkg_manifest\vcpkg.overlay.txt" must be a directory`

[2020-07-20 12:11] jagrme00 commented on #12487
Well I can try it, but this changes my local repo to version dbfe6cc1ca3ce3532b768acd2ccd8c60616a412f. Thus the version of the Point Cloud Library (PCL) that I also need for my project gets changed from 1.9.1-11 to 1.9.1-13 and this will break my code since not all features are included in the current PCL version.

Is it possible to run two separate vcpkg versions in parallel one for PCL and the o

[2020-07-20 12:43] #11296 closed

[2020-07-20 12:43] rdikshit commented on #11296
Hello Lily
I was able to resolve the issue. Thanks or your help.

[2020-07-20 12:45] Neumann-A opened #12501 "[vcpkg|manifest] Improve error messages"
The following error did not tell me anything:
[code]

Solution:
every `"name": "<value>"` field must have a <value> with only lowercase characters. The error message did not really help here.

[2020-07-20 13:17] Neumann-A opened #12503 "[vcpkg|args] at least --x-install-root and --x-manifest-root cannot deal with quoted paths"
[code]
cannot deal with quotes around give paths which are required to handle paths with spaces.
e.g.:
--x-manifest-root="<somepath>" will generate an error msg which cannot be deciphered due to general bad error messages from vcpkg.

Also  `--x-manifest-root` should probably be renamed to `--x-manifest-file` instead since vcpkg is directly looking for a file and not a directory.

[2020-07-20 13:43] Neumann-A opened #12504 "[vcpkg|manifest] Missing a way to pass --head to certain dependencies."
The vcpkg.json should probably have an extra field `vcpkg_additional_args` or similar to pass additional vcpkg arguments to the build of some dependencies

[2020-07-20 14:44] Neumann-A opened #12505 "[SQlite3] Missing unofficial:: namespace in generated target."
Since vcpkg owns the CMake build of sqlite3 and exports the targets via a CMakeLists.txt file in the port folder the target should be namespaced with `unoffical::` like all other targets vcpkg tends to export on its own.

[2020-07-20 15:14] lucasmaisonnave opened #12506 "[tensorflow-cc:x64-windows] build failure"
**Host Environment**
- OS: Windows 10 64 bit
- Using Visual Studio 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install tensorflow-cc:x64-windows`

**Failure logs**
Error: Building package tensorflow-cc:x64-windows failed with: BUILD_FAILED
[build-x64-windows-rel-err.log](https://github.com/microsoft/vcpkg/files/4948508/build-x64-windows-rel-err.log)
[build-x64-windows-rel-out.

[2020-07-20 15:25] chris-t-w opened #12507 "Post-build validation fails: "cannot execute LINK.EXE""
**Describe the bug**

The post-build validation step fails with an error.

**Environment**
- OS: Windows 10
- Compiler: Visual Studio 2019 version 14.26.28801

**To Reproduce**
Steps to reproduce the behavior:
1. `vcpkg.exe install fmt:x64-windows --debug`
2. See error

**Expected behavior**
The build should succeed.

**Failure logs**

[code]

**Additional context**

If I try to run the command ab

[2020-07-20 15:31] longnguyen2004 commented on #12065
Alright got it, I actually have a couple of patches ready 😃

[2020-07-20 17:52] #12175 closed

[2020-07-20 21:51] Ulysses1337 opened #12510 "[New Port Request] ZBar"
Library name: ZBar

Library description: ZBar is an open source software suite for reading bar codes from various sources, including webcams.

Source repository URL: https://github.com/mchehab/zbar

[2020-07-20 23:58] JackBoosY commented on #12501
See #12460.

[2020-07-21 00:00] JackBoosY commented on #12506
[code]
@dan-shaw Can you please take a look?

Thanks.

[2020-07-21 00:52] CRC32EX opened #12511 "[New Port Request] LIEF"
Library name:
LIEF

Library description:
LIEF - Library to Instrument Executable Formats

Source repository URL:
https://github.com/lief-project/LIEF

Project homepage (if different from the source repository):
https://lief.quarkslab.com/

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2020-07-21 01:02] #12450 closed

[2020-07-21 01:38] Schala opened #12512 "[python] Add tools option"
I would like to have an option for the Python port that installs the tools (python.exe, pip.exe, maybe others) and possibly the standard library. This will allow easy integration for C/C++-coded Python modules with Python code intertwined and tools like Cython.

[2020-07-21 02:45] PhoebeHui commented on #12454
@Nemirtingas, this is not usual scenario we're working on now, but we accept PRs for fixing this issue. Sorry for that.

[2020-07-21 02:51] JackBoosY commented on #12466
Fixed.

[2020-07-21 02:51] #12466 closed

[2020-07-21 02:54] Wkkkkk commented on #10099
For those who are troubled by this issue as me, I got a solution here.

1. add this file to vcpkg/ports/pangolin and rename it as fix-findFFMPEG.cmake.patch(cos it is not allowed to upload .patch file)
[fix-findFFMPEG.cmake.patch.txt](https://github.com/microsoft/vcpkg/files/4950993/fix-findFFMPEG.cmake.patch.txt)

2. modify  vcpkg/ports/pangolin/portfile.cmake as follows
[code]
3. install pangoli

[2020-07-21 03:27] PhoebeHui commented on #12507
@chris-t-w, I can't repro this issue locally.

Beofore you manually execute the command, you need set the VS relate environment by executing ""C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvars64.bat"

[code]

[2020-07-21 05:57] whidbey commented on #12496
yeah ,in fact I can temply drag cppfile to my project to resove it..
but is good if vcpkg package auto doing this...

[2020-07-21 07:23] NancyLi1013 commented on #12443
@shunshizhechang
Could you please remove `perl` from  _F:/jinankanchayuan/github/vcpkg-master/downloads/tools/perl_and openssl via `vcpkg remove openssl`, and then rebuild this?

[2020-07-21 07:27] LilyWangL commented on #12506
The related source issue: https://github.com/tensorflow/tensorflow/issues/36576

[2020-07-21 08:04] LilyWangL commented on #12452
Thanks for posting this issue. Please run command `.\vcpkg.exe integrate project` and reopen Visual Studio, and rebuild your project.

[2020-07-21 08:10] PhoebeHui commented on #12505
@Neumann-A, thanks for posting this issue!

I have summited a PR https://github.com/microsoft/vcpkg/pull/12516 for fixing this issue.

[2020-07-21 08:17] aalmada commented on #1254
Yesterday I used `vcpkg` for the first time. It still defaults to `x86-windows`...

[2020-07-21 08:24] NancyLi1013 commented on #10230
Hi all,
Could you please rebuild this based on the PR #12498 from @Mixaill ?
After disabling runtime stack check for `libffi`, I cannot reproduce this issue on my local now.

[2020-07-21 08:34] chris-t-w commented on #12507
@PhoebeHui that was my point: the `dumpbin` command will fail due to `LINK.EXE` not being on the `PATH` unless it is run within a VS environment.

As far as I understand, `vcpkg` does *not* have to be run inside such an environment. Indeed, if I run with `--debug` then I can see that it runs this script itself to get a list of the environment variables (which are presumably used to create a build

[2020-07-21 08:39] NancyLi1013 commented on #12487
@jagrme00
You can merge the two changes to one branch and then try to rebuild. Since there are too many changes in PR #11130. You can update the changes for `PCL `to PR #11130.

[2020-07-21 08:51] NancyLi1013 commented on #12389
You might try to use `gdb `to debug.
BTW, does this issue only happen on `tinyxml2 `or not?

[2020-07-21 08:57] JackBoosY commented on #9947
`__imp_lzma_easy_buffer_encode` incorrect `EXPORT` macro, I will fix this issue in the nearly futhre.

[2020-07-21 09:11] LilyWangL commented on #12431
Thanks for posting this issue. Sorry I am late. I can't reproduce this issue locally, I cloned a new VCPKG and installed `curl[core]:x86-windows-static` and `curl[core]:x64-windows-static` successfully, I check the config log, and all test `HAVE_IOCTLSOCKET_FIONBIO` is success.

[2020-07-21 09:22] AenBleidd commented on #12431
@LilyWangL, for me all configurations works except x86-windows-static. Do you have any clue why my log is different from yours?

[2020-07-21 09:27] PhoebeHui commented on #12507
@chris-t-w, vcpkg call vcvarsall.bat to set the VS environments inside, but out of the box, the environments doesn't perserve, so when you execute the command manually, it can not find the LINK.exe.

I don't have LINK.EX before running vcvars64.bat. I tried your powershell script, it works well for me.

So you tried to build it with powershell, Command, and Visual Studio developer console, and onl

[2020-07-21 09:32] PversusNP opened #12518 "[librabbitmq] build failure"
**Host Environment**
- OS: Windows 8.1
- Compiler: VS2015

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install librabbitmq`

**Console output log**
Computing installation plan...
The following packages will be built and installed:
    librabbitmq[core]:x86-windows
  * openssl[core]:x86-windows
  * openssl-windows[core]:x86-windows
[build-x86-windows-rel-1-err.log](https://github.com

[2020-07-21 10:29] PversusNP opened #12519 "[librdkafka] build failure"
**Host Environment**
- OS: Windows 8.1
- Compiler: VS2015

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install librdkafka`

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
    librdkafka[core]:x86-windows
Warning: The following VS instances are excluded because the English language pack is unavailable.
    C:\Program Files (x86)\Mi

[2020-07-21 11:10] jagrme00 opened #12520 "Cannot install vcpkg"
Hello,

I am not able to install vcpkg under under Ubuntu 16.04 with the following architecture:
![arch](https://user-images.githubusercontent.com/26929596/88048181-29122300-cb53-11ea-98c2-268fab5f56e1.png)

The steps I took are:
![vcpkg](https://user-images.githubusercontent.com/26929596/88048260-4cd56900-cb53-11ea-897b-106e69bb7bf5.png)

Under an Ubuntu 18.04 virtual machine with an intel proces

[2020-07-21 11:14] Voskrese commented on #12520
aarch = arm64 ?

download cmake arm64

[2020-07-21 11:26] tars-c opened #12521 "Cannot asio install!"
**Host Environment**
- OS: Windows 10
- Compiler: using VS2017(msvc v141), below logs

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install asio`

**Failure logs**
C:\vcpkg-master>vcpkg search asio
asio                 1.12.2-2         Asio is a cross-platform C++ library for network and low-level I/O programming...
asiosdk              2.3.3            ASIO is a low latency audio AP

[2020-07-21 12:01] chris-t-w commented on #12507
After re-installing Visual Studio, the issue seems to have gone away. I'm not really sure what happened, but something seems to have been weird with the linker in the installation.

[2020-07-21 12:01] #12507 closed

[2020-07-21 13:31] MikeGitb commented on #1254
I really hate to be that guy, because I know the comparison is unfair, but still: Apple managed to first switcht to 64Bit only and now to ARM, before Microsoft manages to even consistently default to 64 bit.

[2020-07-21 14:08] GiulioRomualdi opened #12522 "[New Port Request] CppAD"
**Library name**: CppAD

**Library description**: A C++ Algorithmic Differentiation Package

**Source repository URL**: https://github.com/coin-or/CppAD

**Project homepage**:  https://coin-or.github.io/CppAD/doc/cppad.htm

**Anything else that is useful to know when adding**:
The latest version of the master branch https://github.com/coin-or/CppAD/commit/650e5df8b2a9bf9195f487eb832de7d0e3a06f2d i

[2020-07-21 14:32] linquize commented on #1254
Already stopped selling OEM 32-bit Windows.

[2020-07-21 14:58] jagrme00 commented on #12520
Yes, aarch64 = arm64.

But how can I force vcpkg to use this new CMake version?
Because CMake was already installed and as you can see in the second screenshot vcpg automatically downloads and installs (a wrong) CMake version.

Is vcpkg looking for some environment variables of CMake to detect if it is already installed or not? Maybe they download was caused because they were not set correctly?

[2020-07-21 16:26] jagrme00 commented on #12487
Okay. Since I am not working with git on a daily basis can you explain this with a little bit more details please?

I tried the following:

1) git clone https://github.com/Microsoft/vcpkg.git

2) git checkout f2e9ef7f259843e116453bbabb7bcc2b13246f13

3) git fetch origin pull/11130/head:TEST

4) git merge TEST

I am 100% sure that these are the wrong steps because I ended up with PCL 1.9.1-13 again

[2020-07-21 17:45] StarGate-One commented on #12521
For someone to assist in troubleshooting the issue, please attach logs for review...
C:\vcpkg-master\buildtrees\asio\install-x86-windows-dbg-out.log
C:\vcpkg-master\buildtrees\asio\install-x86-windows-dbg-err.log

[2020-07-21 17:52] StarGate-One commented on #12520
1. You could try adding the new cmake directory/bin to the $PATH variable and restart your terminal windows and remove the cmake vcpkg installed -or-
2. untar/unzip the contents of the arm version of cmake and copy it to where vcpkg downloaded the wrong version to

Note: I have not tested this on Linux, but both options do work on windows.

[2020-07-21 18:02] MikeGitb commented on #1254
And I was glad to hear it, although that doesn't mean all that much as long as the end of support for existing installations (and retail versions) hasn't been been anounced. But I'll stop commenting on this now. Microsofts general 32/64 policy is one of my trigger topics on which I could rant on for pages, but likely nothing the maintainers here can do anything about (assuming they even read this

[2020-07-21 18:24] AenBleidd commented on #12431
Uploaded all logs
[curl-x86-windows-static-err.zip](https://github.com/microsoft/vcpkg/files/4955440/curl-x86-windows-static-err.zip)

[2020-07-21 18:34] jagrme00 commented on #12520
Thanks for your reply @StarGate-One.

Unfortunately this happens when I run the bootstrap-vcpkg.sh thus I can not remove the CMake installation automatically downloaded by vcpkg via "vcpkg remove cmake". I think your second point could be a good one. I will test it tomorrow.

[2020-07-21 18:39] ice0 commented on #10230
@NancyLi1013 just checked on my own project - all works fine!

[2020-07-21 19:35] AenBleidd commented on #12431
It was an antivirus false positive. Closing this

[2020-07-21 19:35] #12431 closed

[2020-07-22 00:30] VelocityRa opened #12525 "Keeping multiple targets in vcpkg_installed"
[specifications/manifests.md](https://github.com/microsoft/vcpkg/blob/master/docs/specifications/manifests.md) mentions that:

But this command also **removes the built files from _other_ targets/triplets**.

I'm using the same tree for Windows (`vcpkg_installed/x64-windows`) and linux (`vcpkg_installed/x64-linux`) through WSL and I want both to remain in that directory at the same time.

If this

[2020-07-22 02:04] sltoscano opened #12526 "[New Port Request] arrow-flight"
Library name: Apache Arrow Flight

Library description: The transport layer for Apache Arrow data format.

Source repository URL: https://github.com/apache/arrow/tree/master/cpp/src/arrow/flight

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2020-07-22 02:15] PhoebeHui commented on #12519
@PversusNP, do you build the port with VS2019 + VS2015 toolset?

I noticed that below warning from your log. could you install the English language pack, and try again?

Warning: The following VS instances are excluded because the English language pack is unavailable.
C:\Program Files (x86)\Microsoft Visual Studio\2019\Community
Please install the English language pack.

[2020-07-22 02:17] PhoebeHui commented on #12518
@PversusNP, could you install English language pack and try again?

[2020-07-22 03:00] PhoebeHui commented on #12488
Thank you all for helping resolve this issue!

[2020-07-22 03:00] #12488 closed

[2020-07-22 05:59] JackBoosY commented on #9947
@Neumann-A Seems the export cmake files has problem, what do you think?

[2020-07-22 06:30] LilyWangL commented on #12521
Thanks for posting this issue, please install the English language pack on Visual Studio Installer and rebuild asio. If asio build failed, please provide the install error log.

[2020-07-22 06:49] NancyLi1013 commented on #12496
Hi @whidbey
Thanks for posting this issue.
I submitted a PR to fix this issue. Could you please try to rebuild if this can work for you?

[2020-07-22 07:10] Neumann-A commented on #9947
@JackBoosY: Is ParaView not built in x64-windows-static CI? I would have thought that this would have found such an issue in VTK (or LZMA).

[2020-07-22 07:18] Neumann-A commented on #9947
@JackBoosY I checked the logs of #12342 and Paraview built fine with it. Maybe the problem is linking against `VTK_LIBRARIES` instead of a target? I currently don't have a installation of VTK so I cannot check the value of `VTK_LIBRARIES`.

[2020-07-22 07:27] PhoebeHui commented on #5663
@yajiedesign, you can  set the core number by set(VCPKG_CONCURRENCY corenumber) in qt5 portfile.cmake file. Reopen this issue if it still be a problem for you.

[2020-07-22 07:27] #5663 closed

[2020-07-22 07:27] JackBoosY commented on #9947
@Neumann-A ParaView is not added to the pre-build process currently, and this issue appeared before adding ParaView.

@dbonhaus Does this issue still exist? Please note to use `find_package(vtk CONFIG REQUIRED)` instead of `find_package(VTK CONFIG REQUIRED)`.

[2020-07-22 07:28] JackBoosY commented on #9947
@Neumann-A ParaView is not added to the pre-build process currently, and this issue appeared before adding ParaView.

@dbonhaus Does this issue still exist? Please note to use `find_package(vtk CONFIG REQUIRED)` instead of `find_package(VTK CONFIG REQUIRED)`.

[2020-07-22 07:29] whidbey commented on #12496
thanks but I can't see any change in the ports/libmodbus ?
and I git pull all the vcpkg git, complie vcpkg.exe and install again. still the same error

[2020-07-22 07:34] PhoebeHui commented on #9815
@danieljo12, sectransp is not supported on non-Apple platforms, and the failure message has been added to curl.

Other features test pass, please get latest source and try again.

PS F:\vcpkg\boost_173\vcpkg> ./vcpkg install curl[brotli,c-ares,core,http2,mbedtls,non-http,openssl,ssh,ssl,sspi,tool,winssl]:x64-windows
Computing installation plan...
The following packages will be built and installed:

[2020-07-22 07:35] PhoebeHui commented on #9815
Please reopen this issue and attach failure log if it still be a problem for you.

[2020-07-22 07:35] #9815 closed

[2020-07-22 07:41] PhoebeHui commented on #11342
@celsomilne, please reopen this issue if it still be a problem for you.

[2020-07-22 07:41] #11342 closed

[2020-07-22 07:46] PhoebeHui commented on #12251
@juandent, does this still be a problem for you?

[2020-07-22 07:48] PhoebeHui commented on #11828
@kestrelm, reopen this issue if it still bother you.

[2020-07-22 07:48] #11828 closed

[2020-07-22 08:01] PhoebeHui commented on #9791
@cesss, does this issue still bother you? if the executables doesn't require for your project or dependency port, then it's not required in vcpkg.

[2020-07-22 08:05] whidbey commented on #12496
here is my manual patch result:

Building package libmodbus[core]:x86-windows-static...
Could not locate cached archive: C:\Users\Administrator\AppData\Local\vcpkg\ar
ives\93\93d906da97b63acd53a07624968ac15b17de2beb.zip
-- Using community triplet x86-windows-static. This triplet configuration is n
 guaranteed to succeed.
-- [COMMUNITY] Loading triplet configuration from: C:\vcpkg2\triplets\communi

[2020-07-22 08:14] NancyLi1013 commented on #12116
I added `#include <eigen3/Eigen/src/Core/Array.h>` in my project. When I built this project, I found the above errors from output item.

I didn't config the include path in project properties manually. Just execute `./vcpkg integrate install` and `./vcpkg integrate project`.

If you met the same errors with me, in my opinion, this is a bug for `eigen3`.

As for the issue that you cannot find heade

[2020-07-22 08:17] NancyLi1013 commented on #3529
Closing this issue for now. Please pay attention to the progress of issue #9321 and #8627.

[2020-07-22 08:17] #3529 closed

[2020-07-22 08:33] LilyWangL commented on #12299
Now `libb2` can build success on MACOS, so I am closing this issue for now.
![image](https://user-images.githubusercontent.com/47812810/88154255-1e31be00-cc39-11ea-971f-f5cea6d80555.png)

[2020-07-22 08:33] #12299 closed

[2020-07-22 08:37] PhoebeHui commented on #11658
@rengedv, nice to hear that the problem solved, and thanks for sharing the solution here!

[2020-07-22 08:37] #11658 closed

[2020-07-22 09:14] NancyLi1013 commented on #12496
@whidbey
Please rebuild based on this PR #12530. This PR is not merged in master yet.
You can use the following commands:
[code]

[2020-07-22 09:40] whidbey commented on #12496
I follow your instrucment and product errors:

C:\Users\Administrator\vcpkg>.\vcpkg.exe install libmodbus:x86-windows-static
Computing installation plan...
A suitable version of cmake was not found (required v3.17.2). Downloading portab
le cmake v3.17.2...
Downloading cmake...
  https://github.com/Kitware/CMake/releases/download/v3.17.2/cmake-3.17.2-win32-
x86.zip -> C:\Users\Administrator\vcpkg\d

[2020-07-22 09:43] LilyWangL commented on #5631
@874656645 Does this issue still occur?

[2020-07-22 09:46] whidbey commented on #12496
it works when I copy git from old version and compile your fixed version again.
seems ok now. could please merge into master

[2020-07-22 09:48] PhoebeHui commented on #2205
Verified this issue with VS2017 + cmake 3.12, it's not a problem now, it compiles successfully.

[2020-07-22 09:48] #2205 closed

[2020-07-22 10:03] 874656645 commented on #5631
Thank you for help. Maybe it is the Internet problem of my company for all the downloading errors. I always fail to visit GitHub when I am at the company.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "microsoft/vcpkg"

[2020-07-22 10:22] NancyLi1013 commented on #12496
Thanks for your so quick update. @whidbey

[2020-07-22 11:55] jagrme00 commented on #12520
Both solution approaches from @StarGate-One do not work for me. The error is still the same.

[2020-07-22 12:00] Voskrese commented on #12520
why don't look for a solution to the problem yourself? waiting for someone to help

https://github.com/microsoft/vcpkg/search?q=aarch64&type=Issues

https://github.com/microsoft/vcpkg/issues/10955

[2020-07-22 13:52] MarcoSpeziali commented on #11424
@PhoebeHui using those portfile and CONTROL files I was then unable to compile for some linking problems. So I think I made some mistakes

[2020-07-22 15:02] rglbssw commented on #10230
Works fine for x64-windows. I tried to extend the solution for x86-windows (see https://github.com/microsoft/vcpkg/pull/12498#issuecomment-662498095).

[2020-07-22 15:23] x74696c commented on #10404
I can confirm tzehetner's issue: Even a minimal "hello world" project with compiler option "/clr" (C++/CLI) fails with error LNK2001 whenever vcpkg is installed. Same project builds fine after "vcpkg integrate remove". I am very interested in a fix!

[2020-07-22 15:56] linquize opened #12538 "vcpkg manifest mode dependencies not filtered by platform"
Currently, vcpkg manifest mode dependencies are not filtered by platform.

Line 761 of `toolsrc/src/vcpkg/install.cpp`

[code]

It should filter by platform in this code block.

This is my `vcpkg.json` in my project.
[code]
Run cmake on Linux. Expected libssh is not installed. But actual libssh is still installed.
Run cmake on Windows. Expected libssh is installed. Actual libssh is installed.

[2020-07-22 16:43] whidbey commented on #12496
I should thank you as you fixed it :-)

[2020-07-22 16:56] DimRochette commented on #10845
Same issue when I tried to do `vcpkg list --triplet x64-windows`

The ugly workaound on windows is

`vcpkg list | find /i "x64-windows"`

[2020-07-22 17:48] h101059 opened #12539 "[opencv[cuda]:x64-windows] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: Visual Studio Professional 2019 16.6.5

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install opencv[cuda]:x64-windows --recurse`

**Failure logs**
CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:72 (message):
    Command failed: ninja -v
    Working Directory: C:/Repos/vcpkg/buildtrees/opencv4/x64-windows-rel/vcpkg-p

[2020-07-22 20:54] nzmercer commented on #11905
Please update this. There are some very important feature updates.
I would implement it myself and do a pull request if I could actually build GDAL 3+ myself. I can't figure it out. (On Windows with Visual Studio)

[2020-07-22 21:06] StarGate-One commented on #12539
Please attach/upload `C:\Repos\vcpkg\buildtrees\opencv4\config-x64-windows-out.log` to allow for additional review and solution to this issue.

[2020-07-22 21:39] AlejandroCamba opened #12540 "[tesseract] libc++abi.dylib: terminating with uncaught exception of type std::runtime_error: collate_byname<char>::collate_byname failed to construct for"
**Describe the bug**
A clear and concise description of what the bug is.

**Environment**
- OS: [MacOS]
- Compiler:
-- Check for working CXX compiler: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/c++
-- Check for working CXX compiler: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/c++ - works

**To Reproduce**
Steps

[2020-07-22 23:13] h101059 commented on #12539
[config-x64-windows-static-out.log](https://github.com/microsoft/vcpkg/files/4963177/config-x64-windows-static-out.log)

[2020-07-22 23:13] h101059 commented on #12539
[config-x64-windows-out.log](https://github.com/microsoft/vcpkg/files/4963180/config-x64-windows-out.log)

[2020-07-22 23:15] h101059 commented on #12539
I have CUDA toolkit version 11.0 installed on my machine.

[2020-07-22 23:38] Kwizatz commented on #372
Hello, I have been working on a port for this, currently refining details on x64-windows-static (x64-windows is pretty much done).
Is there anything I should know or any particular thread I should follow? Thanks!

[2020-07-22 23:44] StarGate-One commented on #12539
The failure in both the static and dynamic builds are the same:
`CMake Generate step failed.  Build files cannot be regenerated correctly.`
`ninja: build stopped: subcommand failed.`

I am not sure what causes CMake to fail on this. Maybe someone with more experience can assist.

I know sometimes, but no guarantee as I do not use opendv, the port can be built if you comment out the PREFER_NINJA in

[2020-07-23 01:45] PhoebeHui commented on #8984
This issue should be fixed now, please get latest source and try again, reopen this issue if it still be a problem for you.

Starting package 23/23: boost-mpi:x64-linux
Building package boost-mpi[core]:x64-linux...
Could not locate cached archive: /home/ubuntu18/.cache/vcpkg/archives/74/74a16feb9e7fcba38b9012da3965391181b7a405.zip
-- Downloading https://github.com/boostorg/mpi/archive/boost-1.73.0

[2020-07-23 01:45] #8984 closed

[2020-07-23 01:48] PhoebeHui commented on #7151
This issue should be fixed now, please get latest source and try again, I tried with WSL, it built successfully for me.

Starting package 23/23: boost-mpi:x64-linux
Building package boost-mpi[core]:x64-linux...
Could not locate cached archive: /home/ubuntu18/.cache/vcpkg/archives/74/74a16feb9e7fcba38b9012da3965391181b7a405.zip
-- Downloading https://github.com/boostorg/mpi/archive/boost-1.73.0.tar

[2020-07-23 01:48] #7151 closed

[2020-07-23 02:19] NancyLi1013 commented on #12389
I'm sorry, I have no idea about this now.
Could you please try to clone vcpkg to another directory (which is not in _C:_) and rebuild this again?

[2020-07-23 02:29] PhoebeHui commented on #11818
@nazame, thanks for reporting this issue!

I have summited a PR https://github.com/microsoft/vcpkg/pull/12541 to fix this issue.

[2020-07-23 02:47] PhoebeHui commented on #12540
@AlejandroCamba, it looks a locale issue, see https://github.com/microsoft/homebrew-mssql-release/issues/18.

[2020-07-23 02:48] NancyLi1013 commented on #12487
@jagrme00
you might try to use the following steps:

- git clone https://github.com/cenit/vcpkg.git
- cd vcpkg
- git checkout -b dev/cenit/opencv43 origin/dev/cenit/opencv43
- merge PCL updates to this repo manually

Or you can wait for the PR merged into master and then try this again.

[2020-07-23 02:51] JackBoosY commented on #12539
Duplicate with #7913, please track that issue.

Thanks.

[2020-07-23 02:51] #12539 closed

[2020-07-23 02:53] JackBoosY commented on #372
@Kwizatz See #12396

[2020-07-23 03:16] LilyWangL commented on #5631
Thanks for your reply, I close this pr temporarily, if you have other question about VCPKG, please open a new issue.

[2020-07-23 03:16] #5631 closed

[2020-07-23 03:22] LilyWangL commented on #8393
Thanks for posting this issue. This issue has been fixed, please install _VCPKG_PATH/downloads/msmpisetup-10.0.12498.exe_ first, and rebuild msmpi.

[2020-07-23 03:22] #8393 closed

[2020-07-23 03:26] shunshizhechang commented on #12443
The  error occurred again。
PS F:\jinankanchayuan\github\vcpkg-master> .\vcpkg.exe install libpq:x64-windows
Computing installation plan...
The following packages will be built and installed:
    libpq[core,openssl,zlib]:x64-windows
Detecting compiler hash for triplet x64-windows...
A suitable version of git was not found (required v2.26.2). Downloading portable git v2.26.2...
Downloading git...

[2020-07-23 03:59] Kwizatz commented on #372
@JackBoosY Thanks!, no depot tools, I think that is possible if all you need is GN, Ninja and Python, I'll try that.
I don't think #12396 and my PR would overlap as mine is standalone v8. (no clang, no custom cxxlib, links agains vcpkg ports of zlib and ICU).

[2020-07-23 05:43] JackBoosY commented on #372
@Kwizatz Yes, that's two different ports.

[2020-07-23 06:35] gvanem commented on #12506
I also have an issue with Tensorflow, but the progress here stops much earlier.
Using `vcpkg install tensorflow-cc:x64-windows --debug`, gives:
[code]

Some problem with Bazel?

[2020-07-23 06:49] PhoebeHui commented on #10730
I think we should use libpcap instead in future, currently libpcap haven't support static build on windows.

[2020-07-23 07:02] JackBoosY commented on #12443
Can you confirm whether `openssl.exe` exists in  _VCPKG_PATH/installed/x64-windows/tools/openssl_?

[2020-07-23 07:34] PversusNP commented on #12519
I need to build for VS2015 only, but I also have VS2019 installed.
I installed VS2015 ENU language pack and then reinstalled VS2015 sdk too.

Can you help me?

[2020-07-23 07:34] PversusNP commented on #12518
I need to build for VS2015 update3 only, but I also have VS2019 installed.
I installed VS2015 ENU language pack and then reinstalled VS2015 sdk too.

Can you help me?

[2020-07-23 07:51] PhoebeHui commented on #12519
@PversusNP, you can create community triplet and setting VCPKG_PLATFORM_TOOLSET to v140

.\triplets\community\x86-windows-v140.cmake:
[code]
Then execute ./vcpkg install librdkafka:x86-windows-v140.

After install vs2019, open the installer, install the English packs and vs2015 toolset. See
![image](https://user-images.githubusercontent.com/20694052/88263196-36b6dc80-ccfc-11ea-9795-f1e979fbed4e.pn

[2020-07-23 07:57] PhoebeHui commented on #12518
See commnets in issue https://github.com/microsoft/vcpkg/issues/12519

[2020-07-23 08:09] Ajax-Light commented on #10230
**[Newbie Question]**: Shouldn't we find out what caused the Stack Corruption instead of disabling the Runtime Check? I don't mean to offend / belittle the work done by @Mixaill and @rglbssw , but I would like to know what caused the Stack to be corrupted in the first place.

According to [Microsoft Docs](https://docs.microsoft.com/en-us/cpp/build/reference/rtc-run-time-error-checks?view=vs-2019),

[2020-07-23 08:10] PhoebeHui commented on #9348
The PR has been merged, so close this bug.

[2020-07-23 08:10] #9348 closed

[2020-07-23 08:28] NancyLi1013 commented on #9936
Hi @krishna116
I'm so sorry for the late reply.
Since I'm not familiar with this.
Hope the following issues can help you some.

Related issue #6554, #9127

https://gitlab.gnome.org/GNOME/gtk/-/issues/762

[2020-07-23 08:34] PhoebeHui commented on #5671
The CMakeLists.txt from nana doesn't export cmake targets, so commit [ee3183c58](
https://github.com/microsoft/vcpkg/commit/ee3183c58aff16b954ca5d609821a7b67a0a363b#diff-67dedf2b67d075fc3bb484319de1a030) add the the CMakeLists.txt for it. I will summit a PR to fix this issue.

[2020-07-23 09:12] JackBoosY commented on #10230
@Ajax-Light It's a Visual Studio bug.

[2020-07-23 09:14] talregev commented on #12487
@NancyLi1013 @jagrme00 to do it with less line:
* git clone https://github.com/cenit/vcpkg.git  -b dev/cenit/opencv43
* cd vcpkg
* merge PCL updates to this repo manually

[2020-07-23 09:24] shunshizhechang commented on #12443
Yes,the openssl.exe existed.
F:\jinankanchayuan\github\vcpkg\installed\x64-windows\tools\openssl\openssl.exe

[2020-07-23 09:39] JackBoosY commented on #12443
@shunshizhechang Have you manually installed openssl before? If it's true, please remove it first.

[2020-07-23 10:10] Mixaill commented on #10230
It is the intended behavior for libffi, it modfies stack of the caller function which results in RTC trigger. No actual error here.

[2020-07-23 10:31] shunshizhechang commented on #12443
No,I have not manually installed it .Is the  openssl.exe in D:\Program Files\Git\Git\mingw64\bin\  affect it？
![image](https://user-images.githubusercontent.com/20784255/88277103-bd76b400-cd12-11ea-81d9-ec201087731e.png)

[2020-07-23 12:10] cesss commented on #9791
@PhoebeHui
Dear Phoebe,
Unfortunately, **vcpkg** is not the package manager I was looking for, because I really need to be able to specify the required version of each library in the dependencies for a package, This is a must-have feature for me from day 1 (as I posted [in this other issue](https://github.com/microsoft/vcpkg/issues/1681)). I was excited bout **vcpkg**, as it can be seen in the fir

[2020-07-23 13:58] Ajax-Light commented on #10230
Ah! I understand now. Thanks for your time. 👍

[2020-07-23 15:30] CiaranWelsh opened #12545 "openblas build failure"
**Host Environment**
- OS: x86-windows and x64-windows
- Compiler: msvc 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install openblas`

**Failure logs**
No failure log - the process just hangs:
[code]
Nothing more will happen. After killing the console and trying again I get:
[code]

**Additional context**
I've been able to reproduce the above twice.

I have successfully been a

[2020-07-23 15:56] Voskrese commented on #12545
`vcpkg env`

`where getarch`

[2020-07-23 16:18] jgehw commented on #7995
FYI: I had a more recent reincarnation of this problem:

`C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Tools\MSVC\14.26.28801\include\yvals_core.h(298): fatal error C1189: #error: STL1001: Unexpected compiler version, expected MSVC 19.25 or newer.`

Examining the log files, I found out that the most recent include files were used, but an older compiler (14.16.27023, although 1

[2020-07-23 17:10] strega-nil commented on #12538
Fixing this now

[2020-07-23 17:41] h101059 commented on #12539
After commenting out the PREFER_NINJA, the build fails the same way without  commenting out the PREFER_NINJA. Thanks for the suggestion.

[2020-07-23 17:44] CiaranWelsh commented on #12545
[code]
[config-x86-windows-out.log](https://github.com/microsoft/vcpkg/files/4967838/config-x86-windows-out.log)

[2020-07-23 18:10] Voskrese commented on #12545
build error ?

off build parallel

[2020-07-23 18:47] CiaranWelsh commented on #12545
Like I say, the build "hangs", i.e. does nothing. It doesn't matter how long I leave it to build, it just hangs. On x64-linux it works and builds quickly.

`off build parallel?` What does this mean?

[2020-07-23 18:56] Voskrese commented on #12545
https://github.com/microsoft/vcpkg/blob/master/docs/maintainers/vcpkg_install_cmake.md

edit `https://github.com/microsoft/vcpkg/blob/master/ports/openblas/portfile.cmake`

vcpkg_install_cmake(DISABLE_PARALLEL)

[2020-07-23 19:46] h101059 commented on #12539
I found that the build errors are caused by missing the "nppicom.lib" library file inside CUDA toolkit v11.0 version. Fortunately, the  CUDA toolkit version 11.0 installation contains version v10.2, v10.0, and v9.0 as well. So in order to allow vcpkg.exe locates the latest version of CUDA toolkit SDK as v10.2, I changed the CUDA folder directory "C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\

[2020-07-23 19:53] CiaranWelsh commented on #12545
I changed `vcpkg_install_cmake()` to  `vcpkg_install_cmake(DISABLE_PARALLEL)`. Thanks for the suggestion but it doesn't work. I had to reboot my machine before windows would let me delete the buildtree for openblas (logout did not work, oddly).  Now I get the same hanging behaviour as I did before.

[2020-07-23 20:12] jgehw commented on #12506
I also ran into these errors and found the root cause - fix ready via pull request https://github.com/microsoft/vcpkg/pull/12546

[2020-07-23 20:23] Voskrese commented on #12545
what application didn't give you to remove the folder?

[2020-07-23 20:28] CiaranWelsh commented on #12545
File explorer didn't let me remove the folder due to permissions. Looking at ProcessExplorer shows that it was `getarch.exe` that was accessing the folder, preventing me from removing it.

[2020-07-23 20:29] h101059 commented on #12539
I double-checked the out log file. The build succeeds because it disables the CUDA. So please ignore the previous comments.

[2020-07-23 21:35] ankandrew opened #12547 "Download corrupted, so getting HASH error"
**Describe the bug**
Download is not working somehow, by doing `./vcpkg.exe install tesseract:x64-windows`. The file `giflib-5.1.4.tar.bz2` that is downloaded in ` C:/.../vcpkg/downloads/temp/giflib-5.1.4.tar.bz2` is corrupted  (1 KB) and it contains the following html code:

[code]

What I see from logs is that the download url is weird: `https://sourceforge.net/projects/giflib//files/giflib-5.1.

[2020-07-23 21:57] soroshsabz commented on #5119
@PhoebeHui Did you think Package Federation point in [vcpkg roadmap](https://github.com/microsoft/vcpkg/wiki/Roadmap) could resolve this requirement?

[2020-07-23 21:59] soroshsabz commented on #25
I think PR #11758 can resolve this requirement

[2020-07-24 01:03] Kwizatz commented on #372
I have a Question, the static library seems to only generate v8_libbase.lib and v8_libplatform.lib, these are tiny libraries which I do not think are the only ones needed despite v8_shell (seemingly) linking only against them.

So, should I/can I just set the static build to monolithic, which seems to be the suggested thing to do for embeddeders going by the comments in the BUILD.gn file.

The mon

[2020-07-24 01:20] PhoebeHui commented on #7918
The feature would be added by PR https://github.com/microsoft/vcpkg/pull/12550

[2020-07-24 01:43] PhoebeHui commented on #5119
@soroshsabz, we have a good start for it now, see PR https://github.com/microsoft/vcpkg/pull/12532

[2020-07-24 05:09] illera88 commented on #12511
This would be a good addition!
@romainthomas

[2020-07-24 05:55] PhoebeHui commented on #12418
Great to hear that, thanks for your updates!

[2020-07-24 05:55] #12418 closed

[2020-07-24 06:01] NancyLi1013 commented on #12030
Hi @andrewhodel
Thanks for your suggestion.

We have an internal discussion about this issue.
It would be better to add the related descriptions or instructions for `realsense2 `in vcpkg.
I plan to add the usage file to `ports/realsense2` directory.

Since I'm not familiar with this. Could you please give some suggestions about the usage?

Here are the usage contents that I am going to add:
[code]

[2020-07-24 06:37] LilyWangL commented on #6808
Thanks for posting this issue. `armadillo` can build successfully on Linux, please reopen this issue if this is still a problem for you.

[2020-07-24 06:37] #6808 closed

[2020-07-24 06:47] Jerry-2005 commented on #7214
@michalpolic
Hi Michal,
I also have same issue, could you please kindly share your settings?
Thanks very much.

[2020-07-24 07:11] NancyLi1013 commented on #11284
I'm closing this issue for now. Please do as the above guidelines first and rebuild this.
Please feel free to reopen this issue if it is still a problem for you.

[2020-07-24 07:11] #11284 closed

[2020-07-24 07:16] NancyLi1013 commented on #10611
@gizmocuz
Please let me know if you still have any concern about this issue.

[2020-07-24 07:27] matwey opened #12552 "[libusb:x64-osx] build failure"
**Host Environment**
- OS: macOS 10.15.5
- Compiler: XCode 11.5

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install libusb`

**Failure logs**
[code]

[2020-07-24 07:27] NancyLi1013 commented on #10027
Hi @jafrado
Have you tried the latest version? `opengl `has been added for `vtk`.
Can this current version work for you?
Thanks.

[2020-07-24 07:39] ouyun opened #12553 "[<boost>] build failure"
**Host Environment**
- OS: [e.g. Windows10 rev1803 17134.1246]
- Compiler: Visual Studio Community 2009

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install boost:x64-windows`

**Failure logs**
[code]
**_-- Downloading https://raw.githubusercontent.com/boostorg/boost/boost-1.73.0/LICENSE_1_0.txt... Failed. Status: 6;"Couldn't resolve host name"_**
[code]

**Additional context**
`Fro

[2020-07-24 07:43] PhoebeHui commented on #12553
Duplicated to https://github.com/microsoft/vcpkg/issues/12383

[2020-07-24 07:43] #12553 closed

[2020-07-24 07:46] PhoebeHui commented on #12552
@matwey, could you help test if PR https://github.com/microsoft/vcpkg/pull/9561 works for you?

[2020-07-24 07:48] JackBoosY commented on #372
@Kwizatz I think that's okay.

[2020-07-24 08:38] PversusNP commented on #12518
Ok, thank you, this step was completed.
But the following error happened, could you help me again?

Computing installation plan...
The following packages will be built and installed:
    librabbitmq[core]:x86-windows-vc140
  * openssl[core]:x86-windows-vc140
  * openssl-windows[core]:x86-windows-vc140
Additional packages (*) will be modified to complete this operation.
Detecting compiler hash for

[2020-07-24 09:10] aspioupiou commented on #12447
Hi @NancyLi1013

I'd rather keep talking here instead of recreating a new issue, as my issue is directly linked to this one but not to #11765

As we're using vcpkg in a company environment, we do need to ensure we can build the dependencies.
Since updating to `2020.06` seems to be impossible in the meantime (`x264` can't be built because of #11765), we tried to make a step back and update from a 2

[2020-07-24 09:21] sibylantonioforanna opened #12557 "ragel:x64-windows-static not working"
Qt5 uses this library so it isn't working as well.
Problem: the following url is ko: http://www.colm.net/files/ragel/ragel-6.10.tar.gz

[2020-07-24 09:23] PhoebeHui commented on #12518
@PversusNP, from your log, the below libs that links to the project are unexpect for me, I checked the log, I didn't find it in my building log. Could you double check?

C:\Users\Giorgio_Brs\Documents\Visual Studio 2015\Projects\OpenSSL-Win32.1.0.2m\lib\VC\ssleay32MDd.lib C:\Users\Giorgio_Brs\Documents\Visual Studio 2015\Projects\OpenSSL-Win32.1.0.2m\lib\VC\libeay32MDd.lib

I tried it, it built su

[2020-07-24 09:27] PhoebeHui commented on #12518
It should rely on the openssl installed by vcpkg, it seems that you installed OpenSSL-Win32.1.0.2m, that cause this confict.

[2020-07-24 09:52] PversusNP commented on #12519
Thank you Phoebe, it builds!

[2020-07-24 10:06] PhoebeHui commented on #12519
Great!

[2020-07-24 10:06] #12519 closed

[2020-07-24 10:12] jagrme00 commented on #3647
The `./bootstrap-vcpkg.sh -useSystemBinaries` does not work for me on aarch64 Ubuntu 16.04.
My shell hangs up when I press return. Waiting for over a half hour does not produce any output in my shell.
Can anybody help?

[2020-07-24 10:15] jagrme00 commented on #12520
@Voskrese: You are absolutely right. I overlooked that option...
The steps mentioned in #3647 does not work for me. But there is definitely a better place to ask for help.
Thanks for your help guys.

Issue closed.

[2020-07-24 10:15] #12520 closed

[2020-07-24 10:27] CiaranWelsh opened #12558 "Help resolving some issues adding a new port to a vcpkg clone."
I want to adopt vcpkg as my primary mechanism of handling dependencies but in order to do so I need to add a few dependency ports for packages I did not write. I'm fairly new to vcpkg so I'd like some help with adding a port to a clone of vcpkg for [libsbml](https://github.com/opencor/libsbml).

I'm actually having reasonable success in that I am able to get libsbml to build on `x86-windows`, `x64

[2020-07-24 12:11] pablospe commented on #10683
Maybe adding two new triplets (or quarlets in theses cases :P) for only release and debug: `x64-windows-release.cmake` and `x64-windows-debug.cmake`. From this [answer](https://stackoverflow.com/questions/52578975/getting-vcpkg-to-build-only-release-version/52781832#52781832):

_Make a copy and rename one of those default triplet files, say "x64-windows.cmake" to "x64-windows-rel.cmake". Then add

[2020-07-24 13:29] PversusNP commented on #12518
Yes, I uninstalled OpenSSL-Win32.1.0.2m, deleted vcpkg cache e reinstalled. It worked!
Thank you very much.

[2020-07-24 13:29] #12518 closed

[2020-07-24 13:53] jafrado commented on #10027
yes, that part works. But PCL is not working with this version of VTK,
unfortunately it needs some more work. However, the issue is resolved.

On Fri, Jul 24, 2020 at 12:27 AM NancyLi1013 <notifications@github.com>
wrote:

[2020-07-24 14:14] yay opened #12561 "Improve "The package <name> provides CMake targets" hint"
Currently when one installs a package, say `vcpkg install fmt`, one sees the following message at the end:

[code]
Wouldn't it be more helpful if instead of `main` `${PROJECT_NAME}` was used?

[code]

That would prevent substituting `name` for whatever your project is called when copy-pasting the provided targets into the `CMakeLists.txt`.

[2020-07-24 14:15] ankandrew commented on #12547
@JackBoosY Is there any manual way I can download the file, to fix temporarily this?

[2020-07-24 14:20] ankandrew commented on #12547
I don't know why but the download url has got two '/' slashes after `giflib`
`https://sourceforge.net/projects/giflib//files/giflib-5.1.4.tar.bz2`

[2020-07-24 14:30] ankandrew commented on #12547
So I don't know if it was due to network issues or using git bash console, but know I run `vcpkg.exe install tesseract:x64-windows` with windows cmd and it worked.

[2020-07-24 14:30] #12547 closed

[2020-07-24 14:36] StarGate-One commented on #12557
- Have you tried clicking on the link and downloading it manually?
- I was able to download the file manually.
- If you can download manually, put the file in `<vcpkg-root>\downloads` and try again.
- Otherwise post the console output and any error logs produced to assist in troubleshooting further.

[2020-07-24 14:50] sibylantonioforanna commented on #12557
Looks like I wasn't able to reach the server only temporarily, so I manually downloaded the file from a different server and put it into the downloads folder. Now I can reach the server though, so we can close the issue.
Thanks.

[2020-07-24 14:55] StarGate-One commented on #12558
@CiaranWelsh
These articles may help:
1. https://sourceforge.net/p/sbml/libsbml/478/
2. https://github.com/fbergmann/vcpkg/commit/5df55913418299529e81b65dd787fb5b392e9255 (note @JackBoosY is a member of the vcpkg team)

[2020-07-24 15:27] CiaranWelsh commented on #12558
Interesting, I didn't know that effort had already gone into doing this. Thanks for pointing it out - I'll dig into these links.

[2020-07-24 18:03] andrewhodel commented on #12030
The trouble is that vcpkg is a package manager that does not support the
building and loading of kernel modules nor the patching and
rebuilding/building then installation (bootloader etc) of the kernel.

I think people get very confused, because from this perspective they are
simply installing a package.

Then once it is installed, the camera is not found but by this time they
have already closed

[2020-07-24 18:05] M-Suzy opened #12563 "[libepoxy:x64-linux] build failure"
**Host Environment**
- OS: Ubuntu 20.04

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install gtk:x64-linux

**Failure logs**
CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:72 (message):
    Command failed: autoreconf -v --install
    Working Directory: /home/suzy/vcpkg/buildtrees/libepoxy/src/1.5.4-337c486045.clean
    Error code: 1
    See logs for more informati

[2020-07-24 18:21] jrbarne1 commented on #3339
I'm having this issue with the current build process.  Is there a fix for this in progress?  Either that, or could someone provide some instructions on how to make use of the CMake build mentioned?  I see that the meson build #9154 has stopped work.  I'd work with the debug version, but it has issues as well with bad memory addresses.

[2020-07-24 18:39] #11103 closed

[2020-07-24 20:36] nazame opened #12564 "[New Port Request] libigl-triangle"
Library name: triangle

Library description: A Two-Dimensional Quality Mesh Generator and Delaunay Triangulator

Source repository URL: https://github.com/libigl/triangle

[2020-07-24 21:01] JPTIZ commented on #1254
My suggestion would be: get the current system's default. Seems to be the most intuitive to me. You're in a x64 system? Defaults to x64. You're on a x86 system? Defaults to x86.

Maybe I should make this suggestion a new issue?

[2020-07-24 21:08] StarGate-One opened #12565 "[vcpkg_fixup_pkgconfig] build failure with "Could not find PKGCONFIG using the following names: pkg-config""
**Host Environment**
- OS: Microsoft Windows [Version 10.0.19041.388]
- Compiler:
   - Visual Studio 2017 Version: 15.9.25  VS Tools Version: 14.16.27023
   - Visual Studio 2019 Version: 16.6.5  VS Tools Version: 14.26.28801

**To Reproduce**
Steps to reproduce the behavior:
After latest update to vcpkg #11550 Commit https://github.com/microsoft/vcpkg/commit/458c20e94b9f558b523f187ce403bd062e131cd

[2020-07-24 21:32] StarGate-One commented on #12565
@BillyONeal @JackBoosY @Neumann-A
I am trying to figure out the changes in [vcpkg/scripts/pkgconfig] rewrite pkg-config check for libraries (#11550) and how to fix for port bzip2 (my most important port) as it fails now after applying latest:

1. `git pull` - upgrades vcpkg to PR #11550
2. `bootstrap-vcpkg.bat -verbose -disableMetrics -win64 -withVSPATH %VCPKG_VISUAL_STUDIO_PATH%` did this because