[2020-10-28 06:14] ejamshidiasl commented on #9606
just open vcpkg/scripts/vcpkgTools.xml and go to end of file. you will see `<tool name="powershell-core" os="windows">` so change it to `<tool name="pwsh" os="windows">` and save file.

[2020-10-28 06:20] JackBoosY commented on #9606
Does this issue exists after merged PR https://github.com/microsoft/vcpkg/pull/13805?

[2020-10-28 06:30] tresf commented on #9606
I did a `git pull` and a `bootsrap-vcpkg` and the issue reported [here](https://github.com/microsoft/vcpkg/issues/9606#issuecomment-717686948) still exists.  Happy to split it into a separate issue if needed.

[2020-10-28 06:31] JackBoosY commented on #9606
cc @BillyONeal

[2020-10-28 06:54] PhoebeHui commented on #14258
@Alvaroalloc,  could you try this?

[code]

[2020-10-28 06:58] PhoebeHui commented on #14154
It might due to anti-virus software, which removed the msvc-setup.bat.

[2020-10-28 07:06] BillyONeal commented on #9606
@tresf Sorry about that, my fault. I didn't have great ideas for how to test that when a powershell core wasn't installed first, so I didn't write one, and of course it broke :(.

[2020-10-28 07:07] BillyONeal commented on #9606
Right, that's why I wrote https://github.com/microsoft/vcpkg/pull/13805 which is what broke this 3 hours ago :/

[2020-10-28 07:18] allenling opened #14272 "How do I run cl.exe integrate with vcpkg?"
when i run `vcpkg.exe integrate install`, then run vs to compile something, it works so great.

i dont need to configure include dirs and lib dirs, and list all needed lib names manually, perfect and smooth.

and now i need to run cl.exe, not msbuild, could i run cl.exe integrate  with vcpkg?

then i dont need to configure anything to run cl.exe to compile my cpp project.

[2020-10-28 07:22] JackBoosY commented on #14272
Integrate is achieved by modifying the Visual Studio settings to add triplet, include path, and library path to the corresponding items in `*.vcxproj`. If you only use the compiler command line, I think it cannot be achieved.

[2020-10-28 07:27] PhoebeHui commented on #14114
I'm` not sure what vcpkg could do here, this is a cmake issue and it's still active, we don't have any workarounds now.

[2020-10-28 07:35] NancyLi1013 commented on #14157
Hi @stvriver

Thanks for your further investigation about binary caching. To be honest, I also didn't focus on the workaround to disable binary caching before you pointing this out. Thanks for your help.

As you mentioned above, there are two ways to disable it:

- passing --no-binarycaching to every vcpkg command line

  add the option `--no-binarycaching` to vcpkg command, such as `vcpkg install

[2020-10-28 07:40] lone-wolf-akela opened #14273 "Cannot install anything: "Could not automatically acquire pwsh""
**Describe the bug**
I cannot install any packages. All of them give me the error:
`Could not automatically acquire pwsh because there is no entry in D:\source\test\vcpkg\scripts\vcpkgTools.xml for os=windows. You may be able to install pwsh via your system package manager.`

**Environment**
- OS: Windows 10 2004 (19041.572)
- Compiler: Visual Studio 2019 16.7.6
- vcpkg version: 2020.06.15-nohash

[2020-10-28 07:42] allenling commented on #14272
@JackBoosY

sad about that, but thanks very much!

[2020-10-28 07:42] #14272 closed

[2020-10-28 07:47] NancyLi1013 commented on #14169
@advra
Thanks for your feedback.
Since PR #14184 as been merged to master now. This issue should be fixed.

So I'm closing this issue for now.

[2020-10-28 07:47] #14169 closed

[2020-10-28 07:48] JackBoosY commented on #14273
Will fixe in #14271. duplicate to #9606.

[2020-10-28 07:48] #14273 closed

[2020-10-28 07:54] NancyLi1013 commented on #11094
Since it's related to #10108, we can track this issue there #10108.
I'm closing this issue for now.

[2020-10-28 07:54] #11094 closed

[2020-10-28 08:14] Neumann-A commented on #12289
@sylveon: if you use cmake you can set the variables `VCPKG_OVERLAY_PORTS` and/or `VCPKG_OVERLAY_TRIPLETS`

[2020-10-28 08:17] Neumann-A commented on #14261
have you tried `vcpkg.exe install qt5-base:x64-windows-static` ?
I have the feeling this issue is not related to qt but how to generally use a triplet with static library linkage. (or you even want to use a custom triplet in your case)

My general advice here is to study the documentation of vcpkg ;)

[2020-10-28 08:30] #9606 closed

[2020-10-28 08:37] longnguyen2004 commented on #13033
Seems to work fine with llvm-mingw as well!

[2020-10-28 08:40] SeanFarrow commented on #13033
Are you happy to merge this?
As an FYI, when boost 1.75 is released (scheduled for around the 2nd December), I’ll create an issue/patch.
Thanks,
Sean.

From: Long Nguyen <notifications@github.com>
Sent: 28 October 2020 08:38
To: microsoft/vcpkg <vcpkg@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/vcpkg] [boost] Upda

[2020-10-28 08:41] longnguyen2004 commented on #13033
@niclar How's the PR going? It looks pretty good to me

[2020-10-28 09:12] PhoebeHui commented on #12096
@nil-is-lin, thanks for reporting this issue! it seems a mathgl port bug, I will take a look, and this is a different issue.

[2020-10-28 09:18] NancyLi1013 commented on #14261
Hi @STgithub64
Thanks for posting this issue.

Please refer to this doc https://devblogs.microsoft.com/cppblog/vcpkg-updates-static-linking-is-now-available/ to get how to use a static library in vcpkg.

@Neumann-A
Thanks for your help and guidelines.

[2020-10-28 09:44] JackBoosY commented on #7736
Now this issue is partly resolved but still has some problem, please track #14249.

[2020-10-28 09:44] #7736 closed

[2020-10-28 09:59] NancyLi1013 commented on #14263
Hi @vjandasek
Thanks for posting this issue.

Have you tried the latest version in vcpkg?` netcdf-c` had been updated to 4.7.4 in master branch 4 days ago.

I cannot reproduce this on my machine.

[2020-10-28 10:54] ylzf0000 opened #14278 "install ffmpeg:x64-windows error"
Starting package 2/8: ffmpeg:x64-windows
Building package ffmpeg[avcodec,avdevice,avfilter,avformat,avresample,core,gpl,postproc,swresample,swscale]:x64-windows...
Could not locate cached archive: C:\Users\zhang\AppData\Local\vcpkg\archives\b8\b808a609a9dfa22b0faf254f1852dfe63688ced9.zip
-- Using cached D:/vcpkg/downloads/ffmpeg-ffmpeg-n4.3.1.tar.gz
-- Cleaning sources at D:/vcpkg/buildtrees/ffmpe

[2020-10-28 11:39] dajaim opened #14279 "install FindCAF.cmake file to where it is found by cmake"
i am new to cmake and vcpkg and want to use the c++ actor framework, which you can install via vcpkg.
it is basically this:  [stackoverflow question](https://stackoverflow.com/questions/64515853/unable-to-run-c-actor-framework-hello-world-code)
summarized:
vcpkg install caf
does not provide the info how to find_package or target_link_libraries caf, because, according to the answer, the FindCAF.cma

[2020-10-28 11:48] vjandasek commented on #14263
Hello @NancyLi1013,

thanks for the hint. However, I have run git pull, bootstrap-vcpkg.bat, vcpkg update, vcpkg upgrade and then tried vcpkg install netcdf-c already multiple times, still getting the same error. I can build the x64-windows without problems, but the x86-windows keeps producing the link error.
vcpkg search netcdf-c gives me       netcdf-c 4.7.4, so I suppose vcpkg really is downloa

[2020-10-28 11:59] ericwilliamsneu opened #14280 "New to vcpkg - install of PCL taking 6+ hours"
**vcpkg appears to hang on various steps**
This is my first attempt to use vcpkg, so I'm guessing the issue may be PEBKAC, but it doesn't feel that way. After having cloned the repository, bootstrapped it, installing Visual Studio 2019 Community (with C++ desktop support), and installing the latest and greatest version of PowerShell (v7), I attempted to install my first package (the Point Cloud Li

[2020-10-28 12:20] ianier commented on #14252
I'm looking myself into this. There are no major issues with the code itself that prevent it from running under WinRT, and the missing features won't be showstoppers. I can already share a list of impacted code files and the possible workarounds.

However, the challenge is that some external dependencies (protoc.exe, grpc_cpp_plugin.exe, nasm.exe, def_file_filter.exe), which are a byproduct of the

[2020-10-28 13:44] stvriver commented on #14157
Hi @NancyLi1013
With your detail expression I think my confusion is clear and the issue is solved.
Again, thanks for your support.

[2020-10-28 14:17] Alvaroalloc commented on #14258
I still get this:

`[build] Scanning dependencies of target sql
[build] [ 50%] Building CXX object CMakeFiles/sql.dir/main.cpp.o
[build] [100%] Linking CXX executable sql
[build] Undefined symbols for architecture x86_64:
[build]   "_ERR_get_error", referenced from:
[build]       _ma_tls_init in libmariadb.a(openssl.c.o)
[build]       _ma_tls_connect in libmariadb.a(openssl.c.o)
[build]   "_ERR_pe

[2020-10-28 14:29] emptyVoid commented on #14278
Should be resolved by #14220. Try updating your `vcpkg` clone.

[2020-10-28 14:37] sylveon commented on #12289
I don't use cmake.

[2020-10-28 15:26] L0ric0 opened #14281 "[vcpkg] Locking `.vcpkg-root` fails on NFS drives"
**Describe the bug**
When using a vcpkg in manifestmode with CMAKE_TOOLCHAIN_FILE cmake is unable to select a build program that is corresponding to "Unix Makefiles".

GNU Make is installed and in the PATH

**Environment**
- OS: Linux Debian stable
- Compiler: gcc8

**To Reproduce**
Steps to reproduce the behavior:
1. add vcpkg.json file
2. run cmake with CMAKE_TOOLCHAIN_FILE set to the vcpkg tool

[2020-10-28 15:55] evakili commented on #2643
@dahubley Where you tell VS tools to use debug binaries?

[2020-10-28 15:57] Alvaroalloc commented on #14258
found this:
[https://github.com/microsoft/vcpkg/commit/5c25a01a9c78abac984fd55d7ad5c8fa5b29041a](url)

[2020-10-28 15:59] Alvaroalloc commented on #14258
![Captura de pantalla 2020-10-28 a la(s) 09 58 30](https://user-images.githubusercontent.com/71088454/97462394-4568ed00-1904-11eb-8640-de8b8443b8ba.png)

[2020-10-28 16:00] Alvaroalloc commented on #14258
I found this. I think i have to wait for a new version of vcpkg :(

[2020-10-28 16:07] dahubley commented on #2643
![image](https://user-images.githubusercontent.com/35534426/97463371-70603a80-191e-11eb-8889-00dc2dc091d1.png)
You can specify the binaries on this screen

[2020-10-28 16:11] evakili commented on #2643
@dahubley  I try this before, but the following error occurred: `C:\Users\____\AppData\Local\QtMsBuild\qt_globals.targets(268,5): error MSB4181: The "QtRunWork" task returned false but did not log an error.`

[2020-10-28 16:59] guybashan commented on #11452
Attached.
Please let me know if there are any other logs of interest.

[CMakeOutput.log](https://github.com/microsoft/vcpkg/files/5453591/CMakeOutput.log)
[config-x64-windows-out.log](https://github.com/microsoft/vcpkg/files/5453592/config-x64-windows-out.log)
[CMakeError.log](https://github.com/microsoft/vcpkg/files/5453593/CMakeError.log)

[2020-10-28 17:00] guybashan commented on #14241
Attached.
Please let me know if anything else is needed.

[CMakeOutput.log](https://github.com/microsoft/vcpkg/files/5453599/CMakeOutput.log)
[config-x64-windows-out.log](https://github.com/microsoft/vcpkg/files/5453600/config-x64-windows-out.log)
[CMakeError.log](https://github.com/microsoft/vcpkg/files/5453601/CMakeError.log)

[2020-10-28 17:11] mschofie opened #14282 "[boost-iostreams] Should not depend on copy-left licensed code by default"
**Is your feature request related to a problem? Please describe.**
Boost has a very specific license - [The Boost License](https://www.boost.org/LICENSE_1_0.txt). The "boost-iostreams" package, however, consumes ports with very different licenses _by default_. "boost-iostreams" (as per the [CONTROL file](https://github.com/microsoft/vcpkg/blob/master/ports/boost-iostreams/CONTROL)) depends on non-

[2020-10-28 18:47] strega-nil commented on #12289
@sylveon are you using the msbuild support?

[2020-10-28 18:50] strega-nil commented on #12504
@sylveon `vcpkg-configuration.json` is the project configuration that doesn't belong in `vcpkg.json`: in other words, the stuff that people depending on you shouldn't care about.

[2020-10-28 19:05] sylveon commented on #12504
My project won't build with the very old stable version of RapidJSON, so knowing that it's head should matter, no?

[2020-10-28 19:05] sylveon commented on #12289
Yes

[2020-10-28 19:08] jaryder opened #14283 "'_VCPKG_PWSH_PATH-NOTFOUND' is not recognized as an internal or external command"
**Describe the bug**
CMake on Windows fails its C-Compiler test due to:
'_VCPKG_PWSH_PATH-NOTFOUND' is not recognized as an internal or external command

**Environment**
- OS: Windows
- Compiler: MSVC 19.27.29112.0

**To Reproduce**
Steps to reproduce the behavior:
1. update submodule vcpkg to latest (ead8d6bad477f0b075f31097673c3e440356cd3b)
2. Build top-level project using cmake on Windows

**Ex

[2020-10-28 20:16] strega-nil commented on #12289
Hm, yeah, we haven't stabilized that support yet. Definitely needs work.

[2020-10-28 20:18] strega-nil commented on #12504
it's one of those things that versioning should fix; using `head` is not supported and often doesn't work, and so it's not a part of the dependency interface of your library.

[2020-10-28 21:09] BillyONeal commented on #14283
As a workaround you should be able to install powershell-core https://github.com/PowerShell/PowerShell/releases/tag/v7.0.3

[2020-10-28 21:23] #14178 closed

[2020-10-28 21:26] #12237 closed

[2020-10-28 21:55] vicroms commented on #14258
@Alvaroalloc
PR has been merged, just `git pull` the latest changes and install the package again.

[2020-10-28 22:41] HideakiAtsuyo opened #14284 "Error: Building package curl:x64-windows failed with: BUILD_FAILED"
Please ensure you're using the latest portfiles with `.\vcpkg update`, then
submit an issue at https://github.com/Microsoft/vcpkg/issues including:
  Package: curl:x64-windows
  Vcpkg version: 2020.06.15-nohash

[2020-10-28 23:19] MrBolt2005 commented on #14114
¯\_(ツ)_/¯

Enviado do Email<https://go.microsoft.com/fwlink/?LinkId=550986> para Windows 10

De: Phoebe<mailto:notifications@github.com>
Enviado:quarta-feira, 28 de outubro de 2020 04:27
Para: microsoft/vcpkg<mailto:vcpkg@noreply.github.com>
Cc:MrBolt2005<mailto:joao2ojf@hotmail.com>; Mention<mailto:mention@noreply.github.com>
Assunto: Re: [microsoft/vcpkg] [opencl[core]:x64-windows] build failure

[2020-10-28 23:21] MrBolt2005 commented on #14251
Trying to update the git gives me:
c:\src\vcpkg-2020.07>git pull
fatal: not a git repository (or any of the parent directories): .git

Enviado do Email<https://go.microsoft.com/fwlink/?LinkId=550986> para Windows 10

De: JonLiu1993<mailto:notifications@github.com>
Enviado:quarta-feira, 28 de outubro de 2020 00:15
Para: microsoft/vcpkg<mailto:vcpkg@noreply.github.com>
Cc:MrBolt2005<mailto:joao2ojf@

[2020-10-29 00:07] Alvaroalloc commented on #14258
Ok i will try

[2020-10-29 00:07] Alvaroalloc commented on #14258
@vicroms what is PR?

[2020-10-29 01:08] nil-is-lin opened #14286 "How to modify `find_package(a_pkg)` to get a_pkg_DIR？"
I have found servel pkg can not obtain the pkg_DIR, for example,

[code]
throw

and
`find_package(mathgl CONFIG REQUIRED)`
throw

[2020-10-29 01:17] StarGate-One commented on #14251
How did you install vcpkg to begin with?
Normally it is installed with a `git clone` command... see https://github.com/microsoft/vcpkg#quick-start-windows

[2020-10-29 01:22] Domacles commented on #14283
Really useful, Thanks.

[2020-10-29 01:37] NancyLi1013 commented on #14157
Thanks for your feedback. I'm closing this issue for now.

[2020-10-29 01:37] #14157 closed

[2020-10-29 01:49] NancyLi1013 commented on #14263
Yes, it would be better to reinstall the dependencies and delete the related caches. Then try to rebuild this.

Here is the build result from my machine:

[code]

[2020-10-29 02:00] nil-is-lin commented on #14283
I meet this problem sometimes. It happened suddenly. If I try a few more times, maybe one of them can run.

[2020-10-29 02:06] hl1282456555 opened #14287 "[ffmpeg:x64-windows] build failure"
**Host Environment**
- OS: [Windows]
- Compiler: VS 2019

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg.exe install ffmpeg[x264,zlib,avcodec,avformat,avisynthplus,avresample,mp3lame,nvcodec,nonfree,gpl,wavpack]:x64-windows`

**Failure logs**
-Cut and past the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

[2020-10-29 02:23] PhoebeHui commented on #14258
@Alvaroalloc, the PR https://github.com/microsoft/vcpkg/pull/14196 has been merge to master, you need to execute command 'git pull' to get the latest source from master. And reinstall the port again.

[2020-10-29 02:24] JackBoosY commented on #11452
@guybashan Oh, this issue should be fixed in #14177, please track issue #14171.

[2020-10-29 02:24] #11452 closed

[2020-10-29 02:29] JackBoosY commented on #14280
Can you confirm that your PowerShell is not hung up?
Such as:
![image](https://user-images.githubusercontent.com/47264268/97518109-8bd84d80-19d1-11eb-8e8d-a12fd8cb942c.png)

[2020-10-29 02:30] PhoebeHui commented on #14241
@guybashan, thanks for your updates!

This is a duplicated issue with https://github.com/microsoft/vcpkg/issues/14171, and would be fixed by PR https://github.com/microsoft/vcpkg/pull/14177.

Failures:
[code]

[2020-10-29 02:30] #14241 closed

[2020-10-29 02:32] JackBoosY commented on #14281
cc @strega-nil

[2020-10-29 02:34] JackBoosY commented on #14264
The way to solve this problem is to reproduce it and fix the bug instead of adding checkpoints, I think.
@BillyONeal what's your opinion?

[2020-10-29 02:39] PhoebeHui commented on #14287
@hl1282456555, could you reinstall windows sdk by vs installer? see issue https://github.com/microsoft/vcpkg/issues/6324

Failures:
LINK : fatal error LNK1104: cannot open file 'ucrtd.lib'

[2020-10-29 02:51] PhoebeHui commented on #12955
@andnej, this is a different issue, duplicated to https://github.com/microsoft/vcpkg/issues/13103, and will fixed by PR https://github.com/microsoft/vcpkg/pull/13126

@jens1433, try to reisntall the windows sdk, and reopen this issue if it still be a problem for you.

[2020-10-29 02:51] #12955 closed

[2020-10-29 03:04] hl1282456555 commented on #14287
I installed the WDK before, which resulted in multiple versions of the Windows SDK. After uninstalling, everything worked normally.

Ohh, I installed the WDK before, which resulted in multiple versions of the Windows SDK. After uninstalling, everything worked normally.

[2020-10-29 03:10] PhoebeHui commented on #14282
@mschofie, it seems the license https://github.com/boostorg/iostreams/blob/master/LICENSE is same with https://www.boost.org/LICENSE_1_0.txt, and it says 'boostorg/iostreams is licensed under the Boost Software License 1.0'.

@BillyONeal, could you help take a look?

[2020-10-29 03:11] hl1282456555 commented on #14287
Now，the vcpkg build wavpack failed, D:\vcpkg\buildtrees\wavpack\src\f1b6756bbd-c6619d0720.clean\wavpackdll\wavpackdll.rc(10): fatal error C1083: Cannot open include file: 'afxres.h': No such file or directory

[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/5455908/install-x64-windows-dbg-out.log)

[2020-10-29 03:12] StarGate-One opened #14288 "[gmp, nettle, ] build failure x64-windows/x64-windows-static using x86-yasm-tool and x86-yasm-tool-helper"
**Host Environment**
- OS: [Microsoft Windows [Version 10.0.19042.572]]
- Compiler: Visual Studio  Version: 16.7.7  VS Tools Version: 14.27.29110
  Visual Studio  Version: 15.9.28  VS Tools Version: 14.16.27023
Reference PR #14003 [vcpkg baseline] [vs-yasm] Build yasm instead of downloading it to work around memory corruption bugs in yasm itself
Reference Issue #12240 [nettle:x64-windows] build fa

[2020-10-29 03:19] #9995 closed

[2020-10-29 03:22] PhoebeHui commented on #14287
You need to install MFC and ATL related components.
For me, it locate in C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Tools\MSVC\14.27.29110\atlmfc\include.

Please reference to install MFC and ATL related components
![image](https://user-images.githubusercontent.com/20694052/97521626-ecb75400-19d8-11eb-9e34-d7a2e1f315f3.png)

[2020-10-29 03:25] PhoebeHui commented on #13874
@s-kim333, please reopen this issue if it still be a problem for you.

[2020-10-29 03:25] #13874 closed

[2020-10-29 03:50] Alvaroalloc commented on #14258
@PhoebeHui I did that and now shows me this:
`[cmake] CMake Error: The following variables are used in this project, but they are set to NOTFOUND.
[cmake] Please set them or make sure they are set and tested correctly in the CMake files:
[cmake] LIBMARIADB_LIBRARY
[cmake]     linked by target "sql" in directory /Users/macuser/Desktop/x`

[2020-10-29 03:51] Alvaroalloc commented on #14258
and my CMakeLists.txt:
`cmake_minimum_required(VERSION 3.14)
project(sql CXX)

add_executable(sql main.cpp)

find_path(LIBMARIADB_INCLUDE_DIR mysql/mysql.h)
find_library(LIBMARIADB_LIBRARY libmariadb)

target_include_directories(sql PRIVATE ${LIBMARIADB_INCLUDE_DIR})
target_link_libraries(sql PRIVATE ${LIBMARIADB_LIBRARY})`

[2020-10-29 04:29] swq123459 commented on #14283
我也出现了该问题，最新的版本

[2020-10-29 04:44] hl1282456555 commented on #14287
Build succeeded when installed the ATL and MFC related components. Thank you.

[2020-10-29 05:12] lone-wolf-akela commented on #14283
A workaround is to change
https://github.com/microsoft/vcpkg/blob/1b1c17de8206231831b2bc8a06cff80506184be1/scripts/buildsystems/vcpkg.cmake#L402
to
[code]

[2020-10-29 05:38] morganwest955 opened #14289 "Bootstrap failing - recognizing the installed VS and SDKs but still throwing lots of errors"
**Describe the bug**
I've cloned the repo and attempted running .\vcpkg\bootstrap-vcpkg.bat, but it fails with the final output as the following:

[code]
I've attached the full verbose log.  I have gone as far as uninstalling all SDKs from the PC and reinstalling through the VS tools as I saw that work for somebody in a different bug report, but I didn't have such luck.  I also uninstalled every V

[2020-10-29 05:38] PhoebeHui commented on #14287
Great!

[2020-10-29 05:38] #14287 closed

[2020-10-29 05:51] PhoebeHui commented on #14258
@Alvaroalloc, could you delete the cmake file and regenerate it again? Here is full steps:

1. git clone https://github.com/microsoft/vcpkg
2. cd ./vcpkg
3. ./bootstrap-vcpkg.bat
4. ./vcpkg install  libmariadb:x64-windows
5. ./vcpkg integrate install
6. Create test folder eg: E:\vcpkg\vcpkgtest\libmariadb
7. Create CMakeLists.txt file and main.cpp
CMakeLists.txt
[code]
main.cpp
[code]
8. Create bu

[2020-10-29 05:57] Alvaroalloc commented on #14258
@PhoebeHui Im in macOS

[2020-10-29 06:48] #12182 closed

[2020-10-29 06:56] JonLiu1993 commented on #12344
Relate to [#12403](https://github.com/microsoft/vcpkg/pull/12403)

[2020-10-29 06:57] NancyLi1013 commented on #14279
Hi @dajaim
Thanks for posting this issue.

I noticed that the source code has provided `FindCAF.cmake` file, but we didn't install it to vcpkg.

Generally, we need to install the FindXXX.cmake file to _share/${PORT}_ directory. At the same time, we also need to add `vcpkg_cmake_wrapper.cmake` file to associate cmake with vcpkg.

Only if the FindXXX.cmake file is provided by cmake, there is no need

[2020-10-29 07:07] #14265 closed

[2020-10-29 07:11] #14270 closed

[2020-10-29 07:13] PhoebeHui commented on #14258
@Alvaroalloc, sorry for that! try below code instead.

[code]

[2020-10-29 07:14] BillyONeal commented on #14279
`vcpkg_cmake_wrapper` is an escape hatch when we need to override a default-comes-with-cmake module; we should be able to just publish the .config in the right place to my understanding.

[2020-10-29 07:23] NancyLi1013 commented on #14279
Thanks for your above comments @BillyONeal.

I noticed that upstream has provided the config file https://github.com/actor-framework/actor-framework/blob/master/cmake/CAFConfig.cmake.in, which is in current mater branch.

In my opinion, we can remove usage and vcpkg-cmake-wrapper in next release 0.18.0 to use config.

[2020-10-29 07:23] BillyONeal commented on #14282
You would need to take this up with the boost-iostreams developers; boost-iostreams requires those external libraries. Boost makes claims about their own code, but clearly document that they need those external dependencies here: https://www.boost.org/doc/libs/1_74_0/libs/iostreams/doc/index.html

They do have some options to disable these compression features, however, they appear to default to e

[2020-10-29 07:24] BillyONeal commented on #14283
@lone-wolf-akela Yes, the fix will look something like that, should have a fix out for review sometime tomorrow at the latest

[2020-10-29 07:25] BillyONeal commented on #14282
Well that link didn't work because they use frames :/

https://www.boost.org/doc/libs/1_74_0/libs/iostreams/doc/installation.html#ide

[2020-10-29 08:10] LilyWangL commented on #14284
Thanks for posting this issue. Could you please provide the error log?

[2020-10-29 08:21] OlafvdSpek commented on #7127
How's progress on this one?

[2020-10-29 08:21] OlafvdSpek commented on #7127
Today I hit:
[code]

[2020-10-29 08:26] NancyLi1013 commented on #12617
Hi @JPTIZ
Thanks for posting this issue.

Currently, pcre has provided `unofficial-pcre-config.cmake` file in vcpkg. `FIndPACRE.cmake` is no longer needed.

Please try to refer to the usage as follows:

[code]

[2020-10-29 08:26] #12617 closed

[2020-10-29 08:31] OlafvdSpek commented on #7328
How's progress on this one?

[2020-10-29 09:15] JackBoosY commented on #14288
cc @BillyONeal

[2020-10-29 11:02] Rutvik21 opened #14294 "[opencv-4] Error while installing darknet"
**Host Environment**
- OS: Windows

**To Reproduce**
Steps to reproduce the behavior:
.\vcpkg install darknet[full]:x64-windows

**Failure logs**
[code]

[2020-10-29 11:05] photex commented on #12984
Just want to toss my 👍 here as a JetBrains Space user. I'm not able to cache anything in our private nuget feed as a result of this. All attempts return 403 as expected.

[2020-10-29 11:31] aspioupiou commented on #13885
Hi,

Good for me now, I think we can close this one !

[2020-10-29 11:39] Neumann-A commented on #14263
if you have `hdf5[parallel]` installed you need to build all dependend libraries with MPI enabled

[2020-10-29 13:33] Alvaroalloc commented on #14258
@PhoebeHui I had to change
`find_path(LIBMARIADB_INCLUDE_DIR mysql/mysql.h)
find_library(LIBMARIADB_LIBRARY mariadb)` for this
`find_path(MYSQL_INCLUDE_DIR mysql/mysql.h)
find_library(MYSQL_LIBRARY mariadb)`and works (i searched and the directory was the one  wanted.
But now it shows something of OpenSSL:
`[cmake] CMake Error at /Users/macuser/vcpkg/downloads/tools/cmake-3.18.4-osx/cmake-3.18.4-Da

[2020-10-29 13:50] STgithub64 commented on #14261
Thank you very much for the help.

I was just slightly confused because static libraries were indeed built for Qt, even though I didn't specify that they should be downloaded statically, so I thought it was a specific option I had to indicate.

I will re-download Qt specifically as a static library and follow that tutorial and let you know if I have any problems.

Regards

[2020-10-29 14:13] lukadriel7 commented on #2643
@evakili This is how I did:

1. Open your project property manager tab
2. Add a new property sheet for the Debug and Release configuration of your project
3. Open the property sheet and add a new macro containing the paths to the libraries (Debug libs for debug config, release libs for release config), save and exit
4. Go to your project properties(all configurations) -> linker -> input and add yo

[2020-10-29 14:54] DuffsDevice commented on #14283
Thanks alot @BillyONeal!

[2020-10-29 14:59] StarGate-One commented on #14265
Thank you @LilyWangL @BillyONeal
Have a wonderful day!!!

[2020-10-29 16:13] strega-nil commented on #14281
We should probably figure out a better way to do this, but basically when a toolchain is loaded, if it has a `FATAL_ERROR`, CMake then says that `CMAKE_MAKE_PROGRAM` is not set. The issue is that installing from vcpkg failed.

[2020-10-29 17:00] vjandasek commented on #14263
Thanks for pointing the hdf5[parallel] - I really had it installed. Without it, netcdf-c was possible to install. However, even with clean vcpkg installation, only hdf5[parallel], I was not able to get netcdf-c compiled.

[2020-10-29 17:16] zliuchen opened #14296 "How do I install for x64 windows?"
The default triplet when I run "vcpkg install xxx" is for x86. For example, after installation, "vcpkg list" shows the following

boost-vmd:x86-windows                              1.73.0           Boost vmd module

Then as I started Visual Studio, I can only run application for x86 configuration. If I change to x64, it looks like I need to install another vcpkg in order to maintain two separate l

[2020-10-29 17:19] L0ric0 commented on #14281
ok thanks. that tells me that:
[code]
but i know that the file exists. If it is relevant the filesystem is on a nfs volume

[2020-10-29 17:23] dahubley commented on #2643
A actually think this issue is closed?

[2020-10-29 17:55] Link1J commented on #14296
add `:x64-windows` right after the package you want to install

It should detect the right one. At least with cmake it does.

[2020-10-29 18:17] vicroms commented on #14296
To get x64 libraries you need to use the `x64-windows` triplet. Use command `vcpkg help triplets` to see the list of available triplets.

To install libraries for a specific triplet you can use the notation `install <package>:<triplet>`, the command option `--triplet=<triplet>` or change you default triplet by setting a `VCPKG_DEFAULT_TRIPLET` environment variable.

If the correct libraries are in

[2020-10-29 18:21] ericwilliamsneu commented on #14280
Confirmed - the PowerShell window title is just "PowerShell 7(x64)" and nothing is selected. I've retried this process about 4 times now, it keeps getting a little further before a massive unrecoverable hang. I've seen this issue has been raised before (#7251, #3391, etc).

[2020-10-29 18:23] zliuchen commented on #14296
Thanks for your answers!

[2020-10-29 18:28] #14296 closed

[2020-10-29 18:31] vicroms commented on #14294
HI @Rutvik21

Please attach the contents of `vcpkg\buildtrees\opencv4\config-x64-windows-out.log`, the relevant information of what caused the failure should be there.

[2020-10-29 18:51] HideakiAtsuyo commented on #14284
Error: Building package curl:x64-windows failed with: BUILD_FAILED

[2020-10-29 18:52] HideakiAtsuyo commented on #14284
But that's ok
`vcpkg install curl[*]:x64-windows` => `vcpkg install curl:x64-windows`

[2020-10-29 18:52] #14284 closed

[2020-10-29 19:14] BillyONeal commented on #14289
r of 'std' [C:\Users\mdog9_000\Source\Repos\vcpkg\toolsrc\windows-bootstrap\vcpkg.vcxproj]

This looks like you have an old 2017 which is missing std::filesystem; we assume that if 2017 is in use that we should use std::filesystem rather than std::experimental::filesystem from 2015. Can you double check that that your C++ compiler is 19.18.x (which corresponds to Visual Studio 2017 version 15.9).

[2020-10-29 19:23] BillyONeal commented on #14288
Unfortunately we were forced to build yasm from source ourselves rather than downloading it through `vcpkg_find_acquire_program` due to the high number of memory corruption bugs in yasm itself, see #14003

the particular one being:  https://github.com/yasm/yasm/issues/153#issuecomment-706038815

You don't want to do that: those tools are used only when building nettle etc. and you use the x86 vers

[2020-10-29 19:44] vicroms commented on #14286
There are 2 different issues here:

### Linking GTest
When you `vcpkg install gtest` it will print out the following instructions for linking, so you should use `target_link_libraries()` and that should add the correct include directories.

[code]

### Linking mathgl
There is a bug in the port, the CMake integration files are not produced correctly.

So the printed instructions won't work:
[code]

[2020-10-29 19:45] evakili commented on #2643
IMO the above workarounds are not real solutions, but some hacks. So this issue should be kept open till the integration works without handy hacks.
Also, the above workarounds have limitations in other scenarios, like debugging, using Qt tools in build events, and etc.

[2020-10-29 19:59] tester0077 opened #14297 "Building package glib:x86-windows-static-md failed with: BUILD_FAILED"
**Host Environment**
- OS: Win 10 64-bit - up-to-date
- Compiler:  MSVC 2019  - up-to-date

**To Reproduce**
Steps to reproduce the behavior:
 ./vcpkg install libxmlpp:x86-windows-static-md

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
  * glib[core]:x86-windows-static-md
  * glibmm[core]:x86-windows-static-md
  * libffi[core]:x86-windows-stat

[2020-10-29 20:16] Alvaroalloc commented on #14258
I will close this i already made it up

[2020-10-29 20:16] #14258 closed

[2020-10-29 20:39] strega-nil commented on #14281
hm, yeah, that's probably relevant. We'll likely need to have a discussion about this... it's pretty important to lock vcpkg installations...

[2020-10-29 20:54] mgabris opened #14298 "[sdl2:x86-window] build failure"
**Host Environment**
- OS: windows 10
- Compiler: visual studio 2019 community

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install sdl2`

**Failure logs**
[code]
- content of `C:\Users\mg\srcs\vcpkg\buildtrees\sdl2\install-x86-windows-dbg-err.log`
[code]

**Additional context**
- apparently there is something wrong with sdl2 cmake rules
- or do I have wrong version of cmake / ninja

[2020-10-29 21:01] StarGate-One commented on #14288
@BillyONeal - see inline...
cc: @JackBoosY @Voskrese @Neumann-A @ras0219-msft

**What prevents us from building _from source_ the x64 yasm for x64 triplets and x86 yasm for x86 triplets, as I have been doing for months? I have a script to build yasm x64-windows-static and copy the exe over to tools\yasm directory**

**I have not experienced this issue building the x64 yasm for x64 ports. The corru

[2020-10-29 21:15] BillyONeal commented on #13420
@ras0219 @strega-nil and I discussed this today and the group prefers the status quo (e.g. 3fd should remain in ci.baseline.txt), We only want `supports` to be used in cases where we know that the port will fail for all user machines, and for the large backlog of stuff existing in ci.baseline.txt, we do not know that is the case.

We would like to accept Jack's proposal to move ports in this edge

[2020-10-29 21:32] strega-nil commented on #14281
Likely, the solution is going to be "we'll add an environment variable to tell vcpkg not to take the lock"

[2020-10-29 21:40] tomilov commented on #12154
Sorry that I use this issue inappropriately, but this issue is the first result for

search request.

User-side fix for the problem, that arise when used system `assimp` library from `Debug` build is the next:

    find_package(assimp REQUIRED 5)
    set_target_properties(assimp::assimp PROPERTIES MAP_IMPORTED_CONFIG_DEBUG Release)

That is one have to "fix" `IMPORTED_CONFIGURATIONS` of `assimp::a

[2020-10-29 21:43] BillyONeal commented on #14264
Unfortunately offering an option like this would be expressly counter to our design goal of always producing the same output even given changes in the system; there's no way for us to know that the build tree hasn't been completely edited etc.

Moreover, we don't even have that kind of control for most ports: we invoke `portfile.cmake`, and each port does its own build/configure etc. step itself.

[2020-10-29 21:43] #14264 closed

[2020-10-29 21:43] nenomius commented on #1681
Next step will be a package manager without support for packages.

[2020-10-29 22:04] BillyONeal commented on #14288
If you build yasm from source as 64 bit, it produces malformed output. Like they are writing a size_t in the output that should be a uint32_t or something like that. At least, with the SHA we had to fetch to get the fix for the other memory corruption bug indicated.

I'm not sure what's going on then; maybe the problem was committed between the version you tried and the version we're building?

I

[2020-10-29 22:17] socuwn opened #14300 "[icu:x64-windows] build failure - CMake -E tar xzf gawk-5.1.0-1-x86_64.pkg.tar.xz"
**Host Environment**
- OS: Windows 10
- CMake: 3.18.0
- VisualStudio 2019 / msbuild: 16.7.0+b89cb5fde for .NET Framework
- cl.exe: 19.27.29112 for x64

**To Reproduce**
Steps to reproduce the behavior:
First discovered with:
`.\vcpkg.exe install qt5:x64-windows`

root cause:
`.\vcpkg.exe install icu:x64-windows`

**Failure logs**
[code]

**Logfile:** ***F:\vcpkg\buildtrees\icu\msys-x64-windows-6-e

[2020-10-29 22:31] StarGate-One commented on #14288
I take your word for it on the CI build infrastructure, as I do not have something as elaborate.
I just know I have eliminated many of my "memory fragmentation, corruptions and other unexplained issues" by using 64 bit tools/utilities to build my 64 bit ports, programs, etc.

I do maintain a vanilla, as delivered vcpkg instance, so when I do have issues, I can see if same issue exists in the vanil

[2020-10-29 22:31] #14288 closed

[2020-10-29 22:37] #12984 closed

[2020-10-29 23:53] morganwest955 commented on #14289
There were a couple of cl.exe locations that were last modified on 4/24/2018, and they both generate this response.

[code]

So looks like it's on 19.13.x.
The VS version is Community 15.6.6, which is the most updated Community version as far as I am aware.

[2020-10-30 01:01] nil-is-lin commented on #14286
@vicroms thanks your help and your patience, solved my problem.

[2020-10-30 01:01] #14286 closed

[2020-10-30 01:42] NancyLi1013 commented on #13885
Cool! Thanks for your feedback.

I'm closing this issue for now.

[2020-10-30 01:42] #13885 closed

[2020-10-30 01:47] JonLiu1993 commented on #13337
Cpr has been upgraded in #13558 ,This pull request will be closed

[2020-10-30 01:47] #13337 closed

[2020-10-30 02:08] Rutvik21 commented on #14294
Hi @vicroms
I have already attached it above. Anyway attaching here again.

[config-x64-windows-out.log](https://github.com/microsoft/vcpkg/files/5462561/config-x64-windows-out.log)

[2020-10-30 02:10] PhoebeHui commented on #14294
Duplicated to https://github.com/microsoft/vcpkg/issues/14171,  and it  would be fixed by PR https://github.com/microsoft/vcpkg/pull/14177.

Failures:
CMake Error at modules/videoio/cmake/init.cmake:12 (set_target_properties):
  Property INTERFACE_LINK_LIBRARIES may not contain link-type keyword
  "optimized".  The INTERFACE_LINK_LIBRARIES property may contain
  configuration-sensitive generator-e

[2020-10-30 02:10] #14294 closed

[2020-10-30 02:30] Zlavine opened #14302 "[<realsense2>] build failure"
**Host Environment**
- OS: windows 10
- Compiler:  visual studio 2019 community

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install realsense2

**Failure logs**
E:\SOFTWARE\vcpkg\vcpkg>.\vcpkg install realsense2
Computing installation plan...
The following packages will be built and installed:
    realsense2[core]:x86-windows
Detecting compiler hash for triplet x86-windows...
Start

[2020-10-30 03:09] JackBoosY commented on #14298
Could you provide me the configure full log and the build full log?

Thanks.

[2020-10-30 05:47] PhoebeHui commented on #14302
@Zlavine, could you try the following workaround?

1. Download https://github.com/IntelRealSense/librealsense/archive/0adceb9dc6fce63c348346e1aef1b63c052a1db9.tar.gz file manually
2. Put it to downloads folder.
3. Rename it to ' IntelRealSense-librealsense-0adceb9dc6fce63c348346e1aef1b63c052a1db9.tar.gz
4. Try to install it again.

[2020-10-30 05:58] PhoebeHui commented on #14300
@socuwn, could you try the solution from https://github.com/microsoft/vcpkg/issues/6059#issuecomment-483141555, and see if the issue still persist?

[2020-10-30 07:15] socuwn commented on #14300
@PhoebeHui, beta utf-8 was already ticked off, tried with it ticked on; but that made no difference.

I'm starting to suspect something wrong with the msys tar: `https://repo.msys2.org/msys/x86_64/gawk-5.1.0-1-x86_64.pkg.tar.xz`
I've extracted `https://cygwin.uib.no/x86_64/release/gawk/gawk-5.1.0-1.tar.xz`  successfully.
But I am failing to replace the msys with cygwin.
I am also not sure if I can

[2020-10-30 07:45] socuwn commented on #14300
I forgot to mention I moved the vcpkg folder to another location / drive.

It seems windows 10 did not like creating symbolic links there or after I moved it.
Fixed problem by reinstalling vcpkg at a different location and drive.

[2020-10-30 07:45] #14300 closed

[2020-10-30 07:47] scially commented on #14154
thanks. it's solved...

[2020-10-30 07:47] PhoebeHui commented on #14300
Glad you got the issue fixed.

[2020-10-30 08:05] photex opened #14304 "vcpkg nuget binary caching troubles on Ubuntu 18.04 (WSL)"
**Describe the bug**
On Windows using a nuget binarycaching source is working out fine (now that the apikey issue was resolved), but now when trying to populate the cache for Linux I'm not able to publish any packages. The error I get is:

[code]

I see that this is a relatively well-known problem with mono perhaps. Trouble though is that, if I run vcpkg with `--debug` and just replicate the comma

[2020-10-30 08:07] Zlavine commented on #14302
Thank you very much, the problem has been solved

[2020-10-30 08:07] #14302 closed

[2020-10-30 08:07] photex commented on #14304
Meant to explain in the message: But I used yaml-cpp as a test, when run with debug here you can easily see the nuget commands. These are what I just pasted into my shell one after the other and it worked.

[code]

And then the push works correctly:
[code]

[2020-10-30 08:12] socuwn commented on #14300
@PhoebeHui me too!

Some additional information:
I suspect it might be something with the fileformat.
The one that works is on a NTFS formatted drive. The one that failed was on FAT32.
I tried with a clean install on the FAT32 drive and got a different problem this time, much like described in #1549.

[2020-10-30 08:16] #14278 closed

[2020-10-30 08:20] PhoebeHui commented on #14114
@MrBolt2005, some suggest it might be caused by FAT32[1]; could you confirm that your D:\ drive is NTFS formatted? Reference from https://github.com/microsoft/vcpkg/issues/1549#issuecomment-318437627

[2020-10-30 09:01] scially commented on #14154
sorry.... and i exit my anti-virus software, but it is not work

[2020-10-30 09:45] photex commented on #14304
I have a functioning work-around that is working for me on Windows and Linux:

[code]

[2020-10-30 09:46] JackBoosY commented on #14280
cc @BillyONeal if he has some ideas.

[2020-10-30 09:46] photex commented on #14304
;D As you can tell it's a bit of copy-pasta, I didn't change the name of `vcpkg_nuget_repository`. But as a demonstration hopefully it's enough.

[2020-10-30 10:02] PhoebeHui commented on #14154
@scially, could you try to reinstall boost-build port? does ..\installed\x86-windows\tools\boost-build\src\tools\msvc.jam exist? It seems that msvc-setup.bat generated from msvc.jam.

[2020-10-30 10:36] vtraag commented on #14203
To be clear: this question does not concern the installation phase, but merely the build phase. For other packages (e.g. `libxml2`) the relevant `dll` is copied to the *build* directory of `igraph`. For `suitesparse` this is not the case for some reason.

[2020-10-30 10:59] mgabris commented on #14298
Yes:
- config-x86-windows-out.log
[code]
- config-x86-windows-out.err - empty
- stdout-x86-windows.log
[code]
- x86-windows.vcpkg_abi_info.txt
[code]
- multiple `patch-xxx` logs - all successfull, there were 7 of those, if needed I can paste them also here
- extract-err, extract-out were empty
- install-out empty, install-err is in previous comment

[2020-10-30 11:02] mgabris commented on #14298
and btw, I just noticed vcpkg downloaded 32bit version of sdl2, is it ok? I have (as I think almost everyone now) 64bit windows, sdl does have 64bit version of their lib

[2020-10-30 11:17] L0ric0 commented on #14281
is there a workaround for this for now (like telling vcpkg to use a lock file in another location)?

[2020-10-30 11:30] guybashan commented on #14171
Trying to checkout to this branch using:
[code]

and getting this error:

[code]

Any reason?

[2020-10-30 11:50] MrBolt2005 commented on #14114
It was a FAT32 drive, indeed, so I moved to C:. But it still gives me an error:

C:\src\vcpkg>vcpkg install opencl[wdk]:x64-windows --x-json --x-xunit=OpenCL[WKD]
Computing installation plan...
The following packages will be built and installed:
    opencl[core,wdk]:x64-windows
Detecting compiler hash for triplet x64-windows...
Starting package 1/1: opencl:x64-windows
Building package opencl[core,

[2020-10-30 13:36] ianier commented on #14252
They are, but luckily the TF build framework already addresses this issue. The switch --distinct_host_configuration does exactly what we want (see https://docs.bazel.build/versions/master/guide.html). Setting it to true allows us to use different configs for the compiler and linker, via --host_copt and --host_linkopt when building the tools that are used in the build process itself. Note that the

[2020-10-30 14:42] strega-nil commented on #14281
The lockfile is only used in manifest mode... do you mean you were able to run `vcpkg install` in your project directory?

[2020-10-30 15:40] wrobelda opened #14311 "Support multi-license software"
**Describe the bug**
Libraries can have multiple licenses, depending on the components or the developer's choice, e.g. https://github.com/KDE/karchive/tree/master/LICENSES

However, vcpkg enforces providing a single, generic "copyright" file, which is problematic since in case of multi-licensed software there no single "right" license to choose from.

**Expected behavior**
At the minimum, post-bui

[2020-10-30 15:51] schultetwin1 opened #14313 "[New Port Request] elfio"
Library name: elfio

Library description: ELFIO is a header-only C++ library intended for reading and generating files in the ELF binary format.

Source repository URL: https://github.com/serge1/ELFIO

[2020-10-30 15:52] Shatur95 commented on #5097
@perrog, yes, this is the root of the issue.
Temporary workaround for target that links with Boost.Python:

[code]

[2020-10-30 16:14] fodortibi commented on #14171
Hey @JackBoosY. I was experiencing the same issue as issdn and the PR resolved it for me. Thank you!
I am newbie at GitHub and CMake and just have a question what was the real problem, and how your change solved it?
I can see only that some component did not like the "optimized" text and after your change this text disappears from the Found FFMPEG line in "dbg" target. Where did that unexpected "o

[2020-10-30 16:39] wrobelda commented on #14311
Actually, I just realized that it is enough that `${CURRENT_PACKAGES_DIR}/share/${PORT}/copyright` is a folder itself, and so copying all the license files to it does the trick.

[2020-10-30 16:39] #14311 closed

[2020-10-30 16:48] ianier commented on #14252
So I also opened an issue in the TF repository.

[2020-10-30 16:56] fodortibi opened #14315 "[darknet:x64-windows] BUILD time too long - slow download from https://pjreddie.com"
****

**Is your feature request related to a problem? Please describe.**
I am happy to successfully build the darknet:x64-windows package finally, thank you for your great work and effort!
Unfortunately the build time was very long, about 7.2h, I felt in the Stone Age. :(
For example 7 files have been downloaded from https://pjreddie.com that took more than 2h.

-- Downloading https://pjreddie.com

[2020-10-30 17:55] Amf1k opened #14316 "How do I link librsync"
When asking a question please also include where you looked for an answer (so we can update the documentation if needed).

i have installed librsync from vcpkg and want to link it with my code.

Your feedback is important to improve Vcpkg! Please take 3 minutes to complete our survey by running: vcpkg contact --survey
Computing installation plan...
A suitable version of cmake was not found (requir

[2020-10-30 18:52] #12344 closed

[2020-10-30 18:54] StarGate-One commented on #14298
If you want to create 64 bit windows binaries, use one of the following from the [vcpkg-root] folder/directory:
1. a. open cmd prompt
    b.`set VCPKG_DEFAULT_TRIPLET=x64-windows`  -or- `set VCPKG_DEFAULT_TRIPLET=x64-windows-static`
    c. `vcpkg install sdl2`
2. a. open powershel prompt
   b. `$ENV:VCPKG_DEFAULT_TRIPLET = "x64-windows"` -or- `$ENV:VCPKG_DEFAULT_TRIPLET="x64-windows-static`
   c.

[2020-10-30 19:07] #13152 closed

[2020-10-30 19:11] StarGate-One commented on #14289
The most recent version of Community Download for public consumption is VS 2017 is v15.9.28.
The cl version is:
->cl
Microsoft (R) C/C++ Optimizing Compiler Version 19.16.27043 for x64
As @BillyONeal stated, try updating VS 2017 to the latest version, either using
1. The currently installed Visual Studio Installer, or
2. Help->Check For Updates within the VS 2017 IDE (Although I found on VS 2017 i

[2020-10-30 19:16] #13689 closed

[2020-10-30 19:53] #14190 closed

[2020-10-30 20:47] #14171 closed

[2020-10-30 21:06] pwm1234-sri commented on #11875
@JackBoosY @cenit I just wanted to check on the status of this issue. I am hoping it gets fixed before the next vcpkg release (which I also hope is coming soon!)

[2020-10-30 21:51] #14181 closed

[2020-10-30 23:43] morganwest955 commented on #14289
It worked!  Thank you two for your help.

[2020-10-30 23:43] #14289 closed

[2020-10-31 00:18] BillyONeal commented on #14289
Thanks for the help @StarGate-One !

[2020-10-31 05:32] smzahraee opened #14320 "arm-linux build problem with any ports with wrong search path"
when i want to cross compile it use wrong `search paths` so it build correctly but can not find compiled binary
how can i modify search path

the `/opt/poky/3.1.3/sysroots/armv7vet2hf-neon-poky-linux-gnueabi/home/mohsen/vcpkg/packages/fmt_arm-linux/lib/pkgconfig/../../lib` path is wrong  but `/home/mohsen/vcpkg/packages/fmt_arm-linux/lib/pkgconfig/../../lib` is okay

[code]

[2020-10-31 08:04] nil-is-lin opened #14321 "How do I use the qcustomplot package?"
I have install the qcustomplot to draw a heatmap. However, I don't know how to use this package. I tried

and copy `qcustomplot2.dll` and `Qt5PrintSupport.dll` to the bin folder, I got

This problem puzzled me for many hours, I cant work out where the problem came. Thanks a lot for any help.

[2020-10-31 08:47] nil-is-lin commented on #14321
At last, I find it come from the `debug` and `release` options. If use debug, it will try to use `Qt5PrintSupportd.lib`, so change to release works well.

[2020-10-31 08:47] #14321 closed

[2020-10-31 10:29] thumpro opened #14322 "[szip:x64-mingw-dynamic] Reason for `Could not find proper second linker member`"
I am playing with my version of the vcpkg, as per this https://github.com/microsoft/vcpkg/issues/10349 issue, to make it bootstrap under MSYS2-MINGW64 without using any Visual Studio related toolchain. I changed the relevant parts of the bootstrap scripts and made the C++ codes compile with g++ etc. Now I have a vcpkg version bootstrapped under MSYS2 running fine. Most of the ports I am interested

[2020-10-31 11:37] sfhacker commented on #14012
You should not mix environments and/or compilers! You are looking for trouble!
Have you tried building pthreads from source without using NMAKE?

[2020-10-31 14:01] hiradyazdan commented on #13905
Could a similar fix be available for `OpenImageIO` port of `vcpkg` as it looks like this happens for `jpeg` files as well?

[2020-10-31 14:03] xieyubo commented on #14320
Thank you for reporting this issue, but I can't repro it locally. Do you have local changes? Or could you try with latest master branch?
[code]

[2020-10-31 14:43] GiulioRomualdi commented on #9738
Accordingly to this issue: https://github.com/microsoft/vcpkg/issues/1036 the first step will be to create a port of `qldldl`. The linear solver used in `osqp` that it's treated as a submodule.

[2020-10-31 14:44] jjpepper opened #14326 "[arrow:x64-windows] build failure"
**Host Environment**
- OS: Windows 10 Pro
- Compiler: Visual Studio Version 16.7.4
- On HEAD of master branch of VCPKG, SHA e9ff3cd5a

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install arrow:x64-windows`

**Failure logs**
[code]
And looking at the relevant log file:
[code]

**Additional context**
Add any other context about the problem here, such as what you have already tried to

[2020-10-31 14:48] traversaro opened #14327 "[sqlite3] Provide .pc pkg-config files"
**Is your feature request related to a problem? Please describe.**
The `sqlite3` library on Unix system provides `.pc` files (see for example https://packages.debian.org/jessie/amd64/libsqlite3-dev/filelist), but the CMake-based build system maintained in vcpkg does not install them. This may be problematic because downstream build system that depend on `sqlite3` may expect this `.pc` files to be

[2020-10-31 14:59] traversaro commented on #9738
Unless https://github.com/oxfordcontrol/osqp/issues/85 is solved, either upstream or with a vcpkg specific patch, osqp cannot consume qdldl provided by a vcpkg port.

[2020-10-31 17:58] ianier commented on #14252
This was just a silly config bug, not an actual issue. The resulting DLL works fine with my test model.

Here's a summary of my current approach:
- Modify the three BUILD.bazel configs as explained above (including patching udata.cpp).
- Compile with -DWINAPI_FAMILY=WINAPI_FAMILY_APP and -D_WIN32_WINNT=0x0A00, and link with /APPCONTAINER and WindowsApp.lib. I added all these options to the .bazelr

[2020-10-31 18:33] StarGate-One commented on #14289
No problem - you are welcome @morganwest955.
@BillyONeal - glad to help... You are welcome also!

[2020-10-31 19:01] StarGate-One opened #14329 "[magnum] build failure - actual issue is vcpkg_copy_tools.cmake"
**Host Environment**
- OS: [Microsoft Windows [Version 10.0.19042.610]]
- Compiler: Visual Studio  2019 Version: 16.7.7  VS Tools Version: 14.27.29110
                   Visual Studio  2017 Version: 15.9.28  VS Tools Version: 14.16.27023
- See **Additional Context** below.

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg.exe  install --x-use-aria2 --recurse --keep-going --editable  magn

[2020-10-31 19:12] thumpro commented on #14012
Is it possible to not use the portfile.cmake for a port while building with vcpkg? As I explained, I am just following the intallation instructions on the `README.md`:

1. Clone vcpkg into a clean, new directory. `git clone https://github.com/microsoft/vcpkg`
2. Bootstrap it: .\bootstrap-vcpkg.bat
3. Open a MSYS2 MinGW64 shell.
4. `./vcpkg.exe install pthreads:x64-mingw-dynamic

These four simple

[2020-10-31 20:32] bl-ue opened #14331 "[quill] build failure"
Upon updating vcpkg (and therefore {fmt} from 7.0.3 to 7.1.0, see #14239), I can no longer build a project that uses `quill`.

**Host Environment**
- OS: Windows 10 20H2 19042.572
- Compiler: Visual Studio 2019 16.7.7 (`cl.exe` 19.27.29112)
- vcpkg: e9ff3cd5a04cd0e8122ff56e9873985ff71aa3ca

**Failure logs**
[code]

**References**
- #14239
- #14217

**To Reproduce**

1. Create `main.cpp`:

`main.cp

[2020-10-31 21:18] AntonioCS opened #14332 "[New Port Request] Jinja2Cpp"
Library name: Jinja2Cpp

Library description: C++ implementation of the Jinja2 Python template engine. This library brings support of powerful Jinja2 template features into the C++ world, reports dynamic HTML pages and source code generation.

Source repository URL: https://github.com/jinja2cpp/Jinja2Cpp

Anything else that is useful to know when adding (such as optional features the library may h

[2020-10-31 21:20] sfhacker commented on #14012
Perhaps, your environment is broken somehow.
Try to think of/find a workaround or ...... ask your workmates for assistance or ..... don't know what else to suggest!

[2020-10-31 21:33] Neumann-A commented on #10373
@JackBoosY can be closed. Was issue with VTK 8.2

[2020-10-31 21:40] bl-ue commented on #14331
I was mistaken about the cause.  I think the issue is caused by the recent upgrade of {fmt} to [version 7.1.0](https://github.com/fmtlib/fmt/releases/tag/7.1.0) (#14234).  I've opened an issue on quill (odygrd/quill#63) requesting that it upgrade to {fmt} 7.1.

[2020-10-31 23:57] CtrlAltWaverick opened #14334 "failed cmake install (?) when running ./bootstrap-vcpkg.sh"
I get the error:

[code]

[2020-11-01 02:28] #10373 closed

[2020-11-01 04:28] Christsnatcher commented on #14283
Just wanted to mention that I ran into the very same issue after updatiing both VS 2019 and vcpkg to the latest version. Thanks in advance for fixing it!

[2020-11-01 05:40] smzahraee commented on #14320
i use master branch and my sdk produced by  latest stable yocto(dunfell)

[code]

[2020-11-01 06:09] zcream opened #14335 "Existing cmake project does not pickup vcpkg installed cairo lib"
I am using an existing cmake project via OpenFolders. The cmake build fails with the following error.

1> Working directory: C:\Users\Administrator\Documents\lunasvg-master\out\build\x64-Debug
1> [CMake] CMake Error at C:/Users/Administrator/vcpkg/scripts/buildsystems/vcpkg.cmake:552 (_find_package):
1> [CMake]   Could not find a package configuration file provided by "cairo" with any of
1> [CMake

[2020-11-01 10:26] EricHripko commented on #14283
As a workaround, reverting to https://github.com/microsoft/vcpkg/commit/c34c4189ebbf0795e1f8e2de562c527a854c8db4 seems to have fixed it for me in the meantime 👍

[2020-11-01 11:30] micheal2019 opened #14338 "[darknet:x64-windows] build failure"
[code]

[2020-11-01 13:03] erri120 opened #14339 "vcpkg tries to copy to C:\windows\SysWOW64\windowspowershell\v1.0\"
**Describe the bug**
vcpkg tries to copy dlls to `C:\windows\SysWOW64\windowspowershell\v1.0\`:

[code]

The build itself is successful, the libraries were linked but vcpkg for some reason wants to copy the dlls to this windows path instead of the output path. Running the resulting exe will get you

[code]

**Environment**
- Windows
- Fails with both VS and CLion

**To Reproduce**
1) Create a new

[2020-11-01 13:22] unfor19 commented on #14283
We were using the `master` version, seems like setting it to the latest release fixes it

[code]

[2020-11-01 16:47] ianier commented on #14252
I finally solved this by setting the /LIBPATH linker command-line switch to point to the 'store' version of the CRT libs. Now I have a UWP-compatible TF DLL, which passes the local App Cert Kit validation. My next step is to test it and, if it works, publish a real app in the Store using it.

Bazel calls VCVARSALL.BAT in windows_cc_configure.bzl to set the INCLUDE/LIB environment vars. While VCVAR

[2020-11-01 19:07] alexsmn commented on #14133
Build log with `--trace-expand`: [stdout-x86-windows.zip](https://github.com/microsoft/vcpkg/files/5471568/stdout-x86-windows.zip)

[2020-11-01 20:52] odygrd commented on #14331
quill uses lib fmt directly from vcpkg and doesn't have any internal dependencies that need to be changed to support the new lib fmt version.

can you please try to rebuild quill via vcpkg after you have upgraded lib fmt

[2020-11-01 22:10] alexsmn commented on #14133
Adding drive letters at [this line](https://github.com/microsoft/vcpkg/blob/master/ports/qt5-base/cmake/qt_fix_makefile_install.cmake#L23) makes the build to succeed:

[code]

[2020-11-02 01:12] #14283 closed

[2020-11-02 01:49] PhoebeHui commented on #14114
Could you attach failure log C:\src\vcpkg\buildtrees\opencl\config-x64-windows-out.log?

[2020-11-02 01:58] bl-ue commented on #14331
@odygrd I was successfully able to build quill itself, cloning it from GitHub, at the latest commit.  However, even when I deleted, re-cloned and re-built vcpkg from the latest commit e9ff3cd5a04cd0e8122ff56e9873985ff71aa3ca, the error still occurs.

I was able to build a simple project using vcpkg and fmt 7.1, and I was even able to build spdlog with fmt v7.1, but building quill with 7.1 keeps fa

[2020-11-02 02:10] sfhacker commented on #14338
Are we still having issues building darknet port?

[2020-11-02 02:58] sstsai opened #14342 "[New Port Request] intel media sdk"
Library name: intel media sdk

Library description: Intel® Media SDK provides a plain C API to access hardware-accelerated video decode, encode and filtering on Intel® Gen graphics hardware platforms.

Source repository URL: https://github.com/Intel-Media-SDK/MediaSDK

Project homepage (if different from the source repository): https://software.intel.com/content/www/us/en/develop/tools/media-sdk.h

[2020-11-02 03:37] MrBolt2005 commented on #14114
[1/2] cmd /c "cd ../../x64-windows-dbg && "C:/Program Files/CMake/bin/cmake.exe" "C:/src/vcpkg/buildtrees/opencl/src/e28e2a4eae-7bb6371b0a.clean" "-DOPENCL_ICD_LOADER_HEADERS_DIR=C:/src/vcpkg/packages/opencl_x64-windows/include" "-DOPENCL_ICD_LOADER_REQUIRE_WDK=ON" "-DUSE_DYNAMIC_VCXX_RUNTIME=1" "-DCMAKE_MAKE_PROGRAM=C:/src/vcpkg/downloads/tools/ninja/1.10.1-windows/ninja.exe" "-DBUILD_SHARED_LIBS

[2020-11-02 04:21] BillyONeal commented on #14331
Is it possible that quill has copy/pasta'd some fmt bits inside?

[2020-11-02 05:07] BillyONeal commented on #14331
I did some asking around https://twitter.com/MalwareMinigun/status/1323129471503724544

[2020-11-02 05:40] hosongguang opened #14345 "[fmt] build failure"
**Host Environment**
- Package: fmt:x86-windows
- Vcpkg version: 2020.06.15-nohash
- OS: Windows 10 Enterprise (Build: 19041.572)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install fmt`

-- Using cached C:/Users/Nigel Ho/Documents/GitProjects/vcpkg/downloads/fmtlib-fmt-4fe0b11195b7cd71f39253c44db2c9dddf6b82d4.tar.gz
-- Cleaning sources at C:/Users/Nigel Ho/Documents/GitProjects/vc

[2020-11-02 06:20] PhoebeHui commented on #14114
@MrBolt2005, could you install windows WDK and try again? https://docs.microsoft.com/en-us/windows-hardware/drivers/download-the-wdk

Failure:
CMake Error at CMakeLists.txt:100 (message):
  The Windows WDK was not found.  Consider disabling
  OPENCL_ICD_LOADER_REQUIRE_WDK.  Aborting.
…

[2020-11-02 06:44] NancyLi1013 commented on #14297
Hi @tester0077
Thanks for posting this issue.

Could you please try to rebuild based on this PR #14346?

[2020-11-02 07:49] PhoebeHui commented on #14331
It looks that fmt switch to Dragonbox for the default floating-point formatting from https://github.com/fmtlib/fmt/releases/tag/7.1.0, fmt requires Dragonbox dependency, which doesn't support in vcpkg.

[2020-11-02 07:56] PhoebeHui commented on #14316
@Amf1k, not all libraries in vcpkg offer CMake integration support (such support depends on the library maintainers, not on vcpkg). In the case of `librsync ` you must manually link the library and include files in your `CMakeLists.txt`.

Here is an example of how to use packages without `find_package()` support [documentation](https://github.com/microsoft/vcpkg/blob/master/docs/examples/installin

[2020-11-02 08:00] NancyLi1013 commented on #14334
Hi @CtrlAltWaverick
Thanks for posting this issue.

I cannot reproduce this on my machine (Ubuntu 18.04 with gcc 9.2.1).
Could you please provide the environment that you build and the build process?

`�ELF�����: not found`

The symbol seems to be not recognized. Could you please help provide the proper format?

[2020-11-02 09:14] odygrd commented on #14331
I tried to install quill via vcpkg and had no issues

[code]

[2020-11-02 09:16] PhoebeHui commented on #14345
@hosongguang , please create a clone without space in vcpkg path, same issue with #13103, and would fix by PR #13126.

[2020-11-02 09:16] #14345 closed

[2020-11-02 09:20] PhoebeHui commented on #14331
Building quill is fine, however when using the port in above example project, it links failed.

[2020-11-02 09:57] hortegilles commented on #14236
thx for the fix on windows the build seems OK

but on centos I still have an issue

Additional packages (*) will be modified to complete this operation.
Detecting compiler hash for triplet x64-linux...
Starting package 1/103: minizip:x64-linux
Building package minizip[core]:x64-linux...
Could not locate cached archive: /u/users/cgacxr1/.cache/vcpkg/archives/df/dfd72fa500b74cefd09242cdfa01913869d99

[2020-11-02 10:21] sfhacker commented on #14322
@thumpro Have you contacted us recently about you having issues with other ports?
You should refrain yourself from mixing environments and/or compilers! You are looking for trouble.
Just built szip (dynamic) from source on Windows 10 without issues.

![image](https://user-images.githubusercontent.com/25817529/97856742-d26ed480-1d50-11eb-99c5-d28a0e5e236e.png)

It is a bit hard to follow your descr

[2020-11-02 10:30] thumpro commented on #14012
But I want to make sure, am I setting up vcpkg correctly up to step 4 above?

From the docs, It is not clear how to setup your environment for mingw community triplets. (Makes sense since this is not a supported official triplet) For example, do I have to set MINGW_PATH or does vcpkg download its own version of the mingw toolchain? Should I have MSVC toolchain on my PATH even when building with 64

[2020-11-02 10:39] thumpro commented on #14322
Note that this issue has nothing to do with the previous one I opened about a build failure on `x64-mingw-dynamic`. [https://github.com/microsoft/vcpkg/issues/14012]

This time, I am trying the investigate a feature request found on following open issue: https://github.com/microsoft/vcpkg/issues/10349. There they suggest making vcpkg bootstrappable using MinGW64 toolchain and outline the stage whe

[2020-11-02 10:39] Milerius commented on #14090
+1 ^

[2020-11-02 10:53] JonLiu1993 commented on #14338
Hi @micheal2019 ,Thanks for posting this issue !
I cannot reproduce this on my machine( Windows10 )，Vcpkg version: 2020.06.15-nohash
Could you provide me the C:\Users\sunya\Desktop\vcpkg\buildtrees\opencv4\config-x64-windows-out.log?

[2020-11-02 10:58] micheal2019 commented on #14338
At 2020-11-02 18:53:45, "JonLiu1993" <notifications@github.com> wrote:

Hi @micheal2019 ,Thanks for posting this issue !
I cannot reproduce this on my machine( Windows10 )，Vcpkg version: 2020.06.15-nohash
Could you provide me the C:\Users\sunya\Desktop\vcpkg\buildtrees\opencv4\config-x64-windows-out.log?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on

[2020-11-02 11:05] sfhacker commented on #14322
The issue #10349 is from March and it remains open! Wow!
I didn't have/need to modify any file in order to build szip successfully.
Probably your environment is broken somehow.

[2020-11-02 11:06] jvhoffbauer commented on #12995
Will this be fixed in the official version anytime soon?

[2020-11-02 11:18] TiceCosmos opened #14352 "[llvm] build failure"
**Host Environment**
- OS: Windows
- Compiler: cmake

**To Reproduce**
Steps to reproduce the behavior:

1. install windows using vbox
1. share folder by vboxsvr
1. `./vcpkg install llvm`

**Failure logs**
[code]

**Additional context**
[code]

[2020-11-02 12:30] MrBolt2005 commented on #14114
It’s already installed, and the PATH is already updated.

Enviado do Email<https://go.microsoft.com/fwlink/?LinkId=550986> para Windows 10

De: Phoebe<mailto:notifications@github.com>
Enviado:segunda-feira, 2 de novembro de 2020 03:20
Para: microsoft/vcpkg<mailto:vcpkg@noreply.github.com>
Cc:MrBolt2005<mailto:joao2ojf@hotmail.com>; Mention<mailto:mention@noreply.github.com>
Assunto: Re: [microsoft

[2020-11-02 13:39] Max-Keyn opened #14353 "Building package bzip2:x86-windows failed with: BUILD_FAILED"
**Host Environment**
- OS: Windows
- Compiler: MSVC 14.27

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install hpx`

**Failure logs**
 Package: bzip2:x86-windows
  Vcpkg version: 2020.06.15-nohash

**Long Version**
Computing installation plan...
The following packages will be built and installed:
  * boost-accumulators[core]:x86-windows
  * boost-align[core]:x86-windows
  * boost-as

[2020-11-02 14:03] Neumann-A commented on #14322
`set(VCPKG_POLICY_SKIP_DUMPBIN_CHECKS enabled)` skips the dumpbin checks.  second linker member are only generated if VS link.exe is used

[2020-11-02 14:07] jgehw commented on #14252
I think the best point to address this would be where bazel interacts with VCVARSALL.BAT. An easier dirty workaround might be using the compiler command line switches /X (to ignore the default include path) and /I (to add an include path with a patched version).

[2020-11-02 14:59] xieyubo commented on #14320
Still not repo. How do you generate your sdk? Or could you list your environment variables? I tried sdk from http://downloads.yoctoproject.org/releases/yocto/yocto-3.1.3/toolchain/x86_64/poky-glibc-x86_64-core-image-sato-armv7vet2hf-neon-qemuarm-toolchain-3.1.3.sh, but can't repro.

[code]

[2020-11-02 14:59] Neumann-A commented on #14353
Move vcpkg to a path without spaces

[2020-11-02 15:13] bl-ue opened #14354 "[fmt] update to 7.1.1"
https://github.com/fmtlib/fmt/releases/tag/7.1.1

[2020-11-02 15:21] justusranvier opened #14355 "[gtest] find_package(GTest) locates release version when CMAKE_BUILD_TYPE=Debug"
**Describe the bug**
Attempting to build unit tests that link against gtest will fail when building in debug mode on Windows.

**Environment**
windows-2019 github action

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg --triplet x64-windows-static gtest
2. build an application with -DCMAKE_BUILD_TYPE=Debug. Use find_package(GTest CONFIG REQUIRED) in CMakeLists.txt
3. compile applicant

[2020-11-02 15:48] ianier commented on #14252
It works! I'm running the Spleeter 2 & 4-stem models for audio source separation, which are BTW pretty demanding, in a UWP app. It's worth noting that the 'Code Generation' capability needs to be checked in the app manifest.

The ultimate validation will be getting the app update published in the Store.

Sure it is. However, it's really difficult, as my understanding is that windows_cc_configure.b

[2020-11-02 16:28] tester0077 commented on #14297
Hi Nancy,

unfortunately is did not fix my problem.

I'm attaching the output from my test:

    PS D:\pkg\vcpkg> ./vcpkg install libxmlpp:x86-windows-static-md
    Computing installation plan...
    The following packages will be built and installed:
       * glib[core]:x86-windows-static-md
       * glibmm[core]:x86-windows-static-md
       * libsigcpp[core]:x86-windows-static-md
         libxml

[2020-11-02 16:32] dmay31 opened #14356 "poco x86 and x64 builds fail"
Poco fails to install. The build fails in the DataODBC.vcxproj project.
[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/5476428/install-x64-windows-dbg-out.log)
[install-x86-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/5476457/install-x86-windows-dbg-out.log)

[2020-11-02 16:36] KZeronimo opened #14357 "azure-iot-sdk-c:x64-windows build failure"
**Host Environment**
- OS: Windows 10 20H2

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install azure-iot-sdk-c:x64-windows`

**Failure logs**
.\vcpkg.exe install azure-iot-sdk-c:x64-windows
Computing installation plan...
The following packages will be built and installed:
  * azure-c-shared-utility[core]:x64-windows
    azure-iot-sdk-c[core]:x64-windows
  * azure-macro-utils-c[core

[2020-11-02 16:37] tester0077 commented on #14297
Hi Nancy,

paying a bit more attention to the resulting messages, I think I
understand why my build failed.

Trying to build glib[core]:x86-windows-static-md  alone, gives me the
following error message:

/-- Note: glib only supports dynamic library linkage. Building dynamic
library./

Looks like my efforts to build libxmlpp are doomed unless I opt for a DLL.

Not my real preference, but if I get

[2020-11-02 16:37] jgehw commented on #14252
Yes, patching bazel is no fun... That's why I was also working with a workaround for x64-windows in the portfile until my PR in the bazel repo made it into the release.

If I didn't miss something, beside patching headers and passing various compile/link options, you didn't need to patch anything in the bazel distribution, just bazel files in the build tree, right? Yes, then it should be feasible

[2020-11-02 16:38] Neumann-A commented on #14355
considering that I use gtest myself i don't believe you are using `find_package(GTest CONFIG REQUIRED)` or are wrongly linking against gtests
Please show
a) the true context of the `find_package` call
b) the true context of the `target_link_libraries` call

[2020-11-02 16:58] #14353 closed

[2020-11-02 17:10] abique opened #14358 "[vcpkg] powershell-core is required by vcpkg_copy_tool_dependencies on non-Windows, but doesn't make powershell-core available"
**Host Environment**
- Archlinux (up to date as of 02/11/2020)
- Compiler: gcc (GCC) 10.2.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg --triplet x64-linux install cairo`

**Failure logs**

[code]

**Additional context**
I don't know why it is looking for PowerShell.

[2020-11-02 17:15] ianier commented on #14252
Right. Here's the full process:

- Out of laziness, do a 'vcpkg install tensorflow-cc:x64-windows' first and wait until done, just to get the build tree. I'm patching only the Release build, as I believe that the Debug build would be pointless under UWP.
- Patch the file \vcpkg\buildtrees\tensorflow-cc\x64-windows-rel\.bazelrc as follows:
Replace the line 'build:windows --distinct_host_configurati

[2020-11-02 17:43] bl-ue commented on #14331
@PhoebeHui @BillyONeal [fmt 7.1.1](https://github.com/fmtlib/fmt/releases/tag/7.1.1) has been released.  I updated my local fmt port and rebuilt but the issue still persists.  If there is no more to do regarding updating fmt than I've already done, I'll be happy to open PR. https://github.com/bl-ue/vcpkg/tree/fmt-711-issue-14354

[2020-11-02 17:51] Neumann-A opened #14359 "[vcpkg_copy_tools] needs to also copy & clean pdb files"
if executables are built with pdb files `vcpkg_copy_tools` needs to also copy the pdb files and clean them.

[2020-11-02 18:03] jgehw commented on #14252
Thanks for the details. Directly patching files being present after extracting or configuring is straight-forward. Some files of the external dependencies will only be created during the bazel build process; beside a really ugly hack (run bazel twice, patch in between), patching bazel scripts to apply patches during the bazel process, is a bit more complicated but still sounds feasible with passab

[2020-11-02 18:19] Caill0429 commented on #13002
hello，did you solve the problem?

[2020-11-02 18:28] ASxa86 commented on #13111
I would also like to add that png encoding doesn't appear to be available through the CONTROL file as well. For my project I ended up having to manually add --enable-libfreetype, --enable-encoder=png and --enable-decoder=png

[2020-11-02 19:04] ASxa86 commented on #14358
Can confirm I am seeing this on CentOS 7 as well.

[2020-11-02 19:20] thumpro commented on #14322
@Neumann-A That's strange. I will try it as soon as I have the time. It is strange because I am sure I am not using link.exe at all. I bootstrapped `vcpkg` under MSYS2's Mingw64 shell, using `g++` to compile `vcpkg` itself etc. And I am sure Visual C++ toolchain is not in the PATH for Mingw64 shell.

So, if second linker member is only generated if VS link.exe is used, how then I was able to build

[2020-11-02 19:22] Neumann-A commented on #14322
because there is a policy setting in the triplet. But this policy setting only works for import libraries/dll not for static libraries.

[2020-11-02 19:45] seanyen opened #14361 "[New Port Request] mavlink"
Library name: MAVLink

Library description:
MAVLink -- Micro Air Vehicle Message Marshalling Library.
MAVLink is a very lightweight, header-only message library for communication between drones and/or ground control stations.

Source repository URL: https://github.com/mavlink/mavlink

Project homepage (if different from the source repository): http://mavlink.io/

Anything else that is useful to kn

[2020-11-02 19:48] sfhacker commented on #14322
@thumpro Do not mix environments and/or compilers and/or linkers (e.g. link, cl, g++, etc).
You are looking for trouble!

[2020-11-02 20:02] pkgw commented on #13286
I looks to me like this issue has been fixed by msys2.org starting to allow TLS1.2 again?

[2020-11-02 20:25] dmay31 commented on #14356
Found that I can the following Windows Kits installed on my computer:
10.0.10240.0
10.0.17763.0
10.0.19041.0

The DataODBC.vcxproj solution was configured to used the 10.17763.0 files. When I renamed the include/10.0.17763.0/ to include/_old_10.0.17763.0 then the build worked.

[2020-11-02 20:26] #14356 closed

[2020-11-02 20:26] dmay31 commented on #14356
Looks like this is a problem with my Windows Kit configuration.

[2020-11-02 20:35] justusranvier commented on #14355
Adding CONFIG to find_package fixes the vcpkg case. It breaks a few non-vcpkg build scenarios but those are issues for other bug trackers.

[2020-11-02 20:43] bl-ue commented on #14354
Will be fixed by https://github.com/bl-ue/vcpkg/tree/fmt-711-issue-14354, waiting for #14331.

[2020-11-02 21:00] zliuchen opened #14362 "a build failure of intel-mkl:x64-windows"
I was trying to install intel math kernel lib, and used the following command:
vcpkg install intel-mkl:x64-windows

Before this command, I did vcpkg search and mkl was listed

But, this is what I got from the build:

**CMake Error at ports/intel-mkl/portfile.cmake:15 (message):
  Could not find MKL.  Before continuing, please download and install MKL
  (20200000 or higher) from:

      https://reg

[2020-11-02 21:12] hedeya1980 opened #14363 "[<ports/opencv4/portfile.cmake>] build failure nvcc fatal : Unsupported gpu architecture 'compute_30'"
**Host Environment**
- OS: Windows
- Compiler: I've VS 2019 installed

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install darknet[full]:x64-windows`

**Failure logs**
-Computing installation plan...
The following packages will be built and installed:
    darknet[core,cuda,cudnn,full,opencv-cuda,weights,weights-train]:x64-windows
  * opencv[core,cuda,dnn,ffmpeg,jpeg,opengl,png,tiff,

[2020-11-02 21:17] Caill0429 opened #14364 "[vcpkg pcl:x64-windows] build failed."
OS Version: win10
VS version: vs2015 update3 community.
Vcpkg version: 2020.06.15-nohash
[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/5478081/install-x64-windows-dbg-out.log)

error log:
CMake Error at scripts/cmake/vcpkg_execute_build_process.cmake:142 (message):
    Command failed: E:/SVNRepositories/vcpkg/downloads/tools/cmake-3.18.4-windows/cmake-3.18.4-win32-x86/

[2020-11-02 21:40] thumpro commented on #14322
@sfhacker I can assure you, I am not mixing toolchains in this issue. The whole idea of the issue I first linked, about bootstrapping vcpkg with Mingw64, is to be able to bootstrap and use `vcpkg` without even installing Visual Studio.

@Neumann-A I tried downloading the `szip` source and build it manually through their configure and Makefile. configure recognized the system as mingw64 and ended u

[2020-11-02 21:44] abique commented on #14358
This issue was introduced by: https://github.com/microsoft/vcpkg/commit/b7056e9f1f34f18b6648b1f1d9c4e9d31f04e91c

[2020-11-02 22:11] Neumann-A commented on #14322
try
[code]
it should work since the same problem arises if compiling with clang-cl and using ldd

[2020-11-02 22:13] sfhacker commented on #14322
@thumpro It seems we are unable to make any progress here! We are stuck, going round in circles!
You lost me here!

[2020-11-02 22:26] thumpro commented on #14322
@sfhacker Don't worry, we are actually making quite the progress 👍

[code]

with this, it actually worked. Could you explain the machinery a little bit @Neumann-A and what is actually going on here? Since I bypassed the check essentially, I am not 100% sure in my mind that the build was correct and I won't be lacking any required smybols etc. inside the built binaries.

The CMake targets that were

[2020-11-02 22:33] Neumann-A commented on #14322
Mingw building both targets? you should only link against one of them.

the checks within vcpkg are only performed on windows and under the assumption that MSVC is used. As such disabling them for other things is fine. The linker will warn you otherwise if the architecture is wrong.

[2020-11-02 22:44] thumpro commented on #14322
Then how other people using this `x64-mingw-dynamic` triplet are able to build this port without adding that policy to their `portfile.cmake`? For example, @sfhacker shows above a screenshot showing a successful build of `szip`.

If I use

to bootstrap my `vcpkg` and then use `vcpkg.exe install some_port:x64-mingw-dynamic`, will it still use Visual C++ toolchain to build stuff? Because then you wo

[2020-11-02 23:17] ekembs opened #14365 "opencv4[ade,contrib,eigen,ffmpeg,gdcm,ipp,jasper,nonfree,openexr,openmp,ovis,qt,sfm,tbb,world] failed with BUILD Failed"
**Host Environment**
- Windows 10
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg install opencv4[ade,contrib,eigen,ffmpeg,gdcm,ipp,jasper,nonfree,openexr,openmp,ovis,qt,sfm,tbb,world]`
or `vcpkg install opencv4[ade,contrib,dnn,eigen,ffmpeg,gdcm,ipp,jasper,jpeg,nonfree,openexr,opengl,openmp,ovis,png,qt,sfm,tbb,tiff,vtk,webp,world]`

**Failure logs**
[code]

**Additio

[2020-11-02 23:56] StarGate-One commented on #14363
I am not able to assist with the problem, but I can suggest using the --editable option when running vcpkg install...
The first time it will run and fail, you should then be able to edit the source without over writing as long as use editable again.
Example:
1. `./vcpkg install darknet[full]:x64-windows --editable`
2. install fails, make source changes you mention
3. `./vcpkg install darknet[full]

[2020-11-03 00:12] StarGate-One commented on #14362
I would say yes, if Intel requires this in order for you to downloadIntel® Math Kernel Library for Windows from their website...
It is similar to port cuda, you have to register and download/install the software from nvida and then the port is made available to other ports in vcpkg.

[2020-11-03 00:20] StarGate-One commented on #14338
If you want to install with feature cuda/cudnn you need to download/install the CUDA SDK from nVidia https://developer.nvidia.com/cuda-downloads (you may need to register before you can download).

[2020-11-03 01:12] PhoebeHui commented on #14236
@hortegilles, please report a new issue instead.

[2020-11-03 01:21] BillyONeal commented on #14236
@hortegilles That sounds like https://github.com/microsoft/vcpkg/issues/14267 ?

[2020-11-03 01:22] BillyONeal commented on #14365
[code]

[2020-11-03 01:42] BillyONeal commented on #13294
@strega-nil is looking at this.

This is causing `ignition-msgs1` and `ignition-msgs5` to fail sporadically in CI.

[2020-11-03 02:16] NancyLi1013 commented on #14363
Hi @hedeya1980
Thanks for posting this issue. It's duplicated with #12620. So let's track this issue there #12620.

@StarGate-One
Thanks for your focus and suggestion. It's so great.

[2020-11-03 02:16] #14363 closed

[2020-11-03 02:22] PhoebeHui commented on #14236
@hortegilles, it looks same issue with https://github.com/microsoft/vcpkg/issues/14358

[2020-11-03 02:34] JackBoosY commented on #14339
Maybe your `find_package` is incorrect.
It should be:
[code]

[2020-11-03 02:36] JackBoosY commented on #14359
cc @jgehw, the recent maintainer.

[2020-11-03 02:45] JonLiu1993 commented on #13651
@rockydut ,can you try this?
Modify VCPKG_ROOT/ports/intel-mkl/portfile.cmake line 10, from
[code]

[2020-11-03 02:47] BillyONeal commented on #14358
It's looking for powershell because the `applocal.ps1` which tries to determine what each tool depends on to copy the right associated binaries over, is a powershell script.

It looks like that test has been broken "forever"; `find_program` doesn't create a `FOO-NOTFOUND` variable, it puts `FOO-NOTFOUND` *into* that variable. Looks like that bug comes all the way back from https://github.com/micro

[2020-11-03 02:57] JonLiu1993 commented on #14362
Hi @zliuchen , As @StarGate-One say,you should register first and downloadIntel® Math Kernel Library for Windows to the correct directory, The default path is：_$ENV{${ProgramFilesx86}}/IntelSWTools/compilers_and_libraries/windows_，

[2020-11-03 03:12] JackBoosY commented on #14335
Which triplet did you use to build Cairo?

[2020-11-03 03:17] #14313 closed

[2020-11-03 03:19] JackBoosY commented on #14298
In order to ensure that there will be no permission problems, please clone vcpkg in a non-system disk, and try again.

Thanks.

[2020-11-03 03:21] BillyONeal commented on #14358
I have submitted the "do nothing on non-Windows" change https://github.com/microsoft/vcpkg/pull/14366/

[2020-11-03 03:26] PhoebeHui commented on #14329
@StarGate-One, thanks for reporting this issue!

It looks regression isssues involved by PR https://github.com/microsoft/vcpkg/pull/13968 recently, cc @jgehw

Repro:
./vcpkg install magnum[al-info,distancefieldconverter,fontconverter,gl-info,imageconverter]:x64-windows

[2020-11-03 05:45] JackBoosY commented on #13470
Sorry for late.
Usually, we prefer to use configuration modes such as `find_package(OpenCV CONFIG REQUIRED)`, but there are some ports that do not export their targets, but we provide `vcpkg-cmake-wrapper`.
For these ports with ready-made cmake support, when we install them, the usage information will be printed in the console like:
[code]
For those ports that **DO NOT** provide cmake support, if

[2020-11-03 05:47] JackBoosY commented on #13418
@donggua2096 The other workaround is clone vcpkg in a pure ascii path and try again.

[2020-11-03 05:50] JackBoosY commented on #12808
We don't have enough information to solve this issue, unfortunately; if you have any more information to help us solve this, please reopen!

[2020-11-03 05:50] #12808 closed

[2020-11-03 05:53] singlebear opened #14368 "[OpenCV] update to 4.5"
Library name: OpenCV

New version number: 4.5.0

[2020-11-03 05:58] JackBoosY commented on #10665
cc @strega-nil

[2020-11-03 06:31] Christsnatcher commented on #13286
@pkgw : You're actually right, wondering what has been their reasoning behind this decision.

https://i.gyazo.com/b2a1d6d44ad623115154de56de7c649c.png

[2020-11-03 06:39] JackBoosY commented on #12995
@jvhoffbauer I wish that.

[2020-11-03 06:53] jackobski opened #14369 "[vcpkg_copy_tool_dependencies] Shouldn't use PowerShell on non-Windows"
**Host Environment**
- OS: [Linux]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install gtkmm`

**Failure logs**
Error: Building package glib:x64-linux failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `./vcpkg update`, then
submit an issue at https://github.com/Microsoft/vcpkg/issues including:

Starting package 6/29: glib:x64-linux

[2020-11-03 06:55] JackBoosY commented on #13286
Fixed by msys upstream.

[2020-11-03 06:55] #13286 closed

[2020-11-03 07:03] JackBoosY commented on #14369
Should be fixed by #14366.
Duplicated to #14358.

[2020-11-03 07:03] #14369 closed

[2020-11-03 07:17] JackBoosY commented on #9948
Related: #13738.

[2020-11-03 08:01] sfhacker commented on #13781
Any updates on this open issue?

[2020-11-03 08:03] sfhacker commented on #5983
Any updates on this open issue?

[2020-11-03 08:15] PhoebeHui commented on #14331
@bl-ue, please open a PR for the new revision. I also noticed that quill update the internal fmt to 7.1.0, it might need to update it togather.

[2020-11-03 08:15] abique commented on #14358
Thank you @BillyONeal I'll check the master again maybe today.

[2020-11-03 08:21] PhoebeHui commented on #14352
It seems the shared dir path cause issue.

Failrues:
[code]

[2020-11-03 08:24] JonLiu1993 commented on #14355
Hi @justusranvier,I cannot reproduce this on my machine( Windows10 )，Vcpkg version: 2020.06.15-nohash
Here are the steps I reproduced：
 ./vcpkg install gtest:x64-windows-static
 CMakeLists.txt:
[code]
CMakeSettings.json:
[code]

[2020-11-03 08:24] JonLiu1993 commented on #14355
[code]

[2020-11-03 08:24] ekembs commented on #14365
Hi

Yes I ran it 3 more times with the same error highlighted by @BillyONeal
[install-x86-windows-dbg-out 03-11-20.log](https://github.com/microsoft/vcpkg/files/5479995/install-x86-windows-dbg-out.03-11-20.log)

K:\Users\WorkFolder\Downloads\opencv\opencv-msvc\vcpkg\buildtrees\opencv4\src\4.3.0-0c6047baf6.clean\modules\imgcodecs\src\grfmt_jpeg2000.cpp(381): error C2102: '&' requires l-value
K:\Use

[2020-11-03 08:24] NancyLi1013 commented on #7260
Hi all.

Currently, I cannot reproduce this on my machine with the following usage:

[code]
Please open a new issue or provide the repro steps and your project case if this is still a problem for you.

[2020-11-03 08:24] #7260 closed

[2020-11-03 08:25] LilyWangL commented on #14315
Thanks for posting this issue. I think it is related with download speed of internet on local. I use 1.217 hour to install `darknet[weights]`.
![image](https://user-images.githubusercontent.com/47812810/97962963-2d580880-1df1-11eb-8a0e-b84a25961fce.png)

[2020-11-03 08:26] JonLiu1993 commented on #14355
Can you send me the CMakeLists that you use gtest?

[2020-11-03 08:28] Neumann-A commented on #14355
@justusranvier: You can set https://cmake.org/cmake/help/latest/variable/CMAKE_FIND_PACKAGE_PREFER_CONFIG.html if you don't want to manually add CONFIG.

@JonLiu1993 he only used `find_package(GTest REQUIRED)` not `find_package(GTest CONFIG REQUIRED)` which is why it failed. Maybe a `vcpkg_cmake_wrapper` should be installed to always search for the `-Config.cmake`

[2020-11-03 08:33] PhoebeHui commented on #14020
The PR has been merged, thanks for your contibution!

[2020-11-03 08:33] #14020 closed

[2020-11-03 08:43] PhoebeHui commented on #13828
@max-1975, does this still be an issue for you?

[2020-11-03 08:44] PhoebeHui commented on #12965
The PR has been merged, thanks for your contribution!

[2020-11-03 08:44] #12965 closed

[2020-11-03 08:48] JonLiu1993 commented on #14355
@Neumann-A ,Okay, I will try to add vcpkg_cmake_wrapper

[2020-11-03 08:51] abique commented on #14358
Also if a package needs powershell it should mention it in its metadata/build dependencies and vcpkg should acquire powershell I think.

[2020-11-03 08:54] NancyLi1013 commented on #14365
Hi @ekembs

Thanks for posting this issue.

It seems that you didn't use the latest version to build. I cannot repro this on my machine.

I also checked the source code and found that there is no "&" in the latest commit.

      ` jas_seqent_t* pix_row = jas_matrix_getref( buffer, y / ystep, 0 );`

which has been fixed via PR #14101.

So could you please use `git pull` to update to the latest vcpk

[2020-11-03 09:05] jvhoffbauer commented on #12995
I see. Can I do anything to fix it?

[2020-11-03 09:08] jvhoffbauer commented on #12995
Do I understand correctly, that the problem is that both azure-kinect-sensor-sdk and akss are requiring different versions of libuvc?

[2020-11-03 09:12] JackBoosY commented on #12995
@jvhoffbauer You may need to report this issue to upstream and wait for them to support the latest libuvc.

[2020-11-03 09:24] NancyLi1013 commented on #14297
Hi @tester0077

You're right, `glib `only supports dynamic build. Sorry, I missed this point.

[2020-11-03 09:27] shanepowell opened #14370 "[Python3] build failure"
**Host Environment**
- OS: Windows (10)
- Compiler: MSVC 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install python3`

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
    python3[core]:x86-windows
Detecting compiler hash for triplet x86-windows...
Starting package 1/1: python3:x86-windows
Building package python3[core]:x86-wi

[2020-11-03 09:38] ekembs commented on #14365
I am just updating vcpkg, after which I will re-run opencv4[ade,contrib,eigen,ffmpeg,gdcm,ipp,jasper,nonfree,openexr,openmp,ovis,qt,sfm,tbb,world] to see if the problem is fixed.

There was an error in "K:\Users\WorkFolder\Downloads\opencv\opencv-msvc\vcpkg\scripts\cmake\vcpkg_from_git.cmake" in which ${GIT} was pointing to a null value in function below which meant it caused "git pull" to abort.

[2020-11-03 09:46] NancyLi1013 commented on #14151
Hi @wangniancai
Please let me know if this is still a problem for you.

[2020-11-03 09:48] LilyWangL commented on #14326
Thanks for posting this issue. I see error `The contents of <string_view> are available only with C++17 or later.` in your log. This need to add compiler `/std:c++17`, could you try to use the following files instead of your _[VCPKG_path/ports/arrow]_ and rebuild arrow?
[arrow.zip](https://github.com/microsoft/vcpkg/files/5480414/arrow.zip)

[2020-11-03 09:52] NancyLi1013 commented on #14017
I'm closing this issue for now since there is no response.

Please feel free to reopen this if it is still a problem for you.

[2020-11-03 09:52] #14017 closed

[2020-11-03 09:55] NancyLi1013 commented on #13925
Hi @crjc

Please let me know if this is still a problem for you.

Thanks.

[2020-11-03 09:56] NancyLi1013 commented on #13898
Hi @ChrisNabold

Does this issue still exist on your machine?

[2020-11-03 10:20] PhoebeHui commented on #14329
After some investigation, and found the changes in https://github.com/microsoft/vcpkg/blob/e9ff3cd5a04cd0e8122ff56e9873985ff71aa3ca/scripts/cmake/vcpkg_copy_tools.cmake#L30 cause the issue

Currently it switch to
 cmake_parse_arguments(PARSE_ARGV 0 _vct "AUTO_CLEAN" "SEARCH_DIR" "TOOL_NAMES")

The TOOL_NAMES is
[code]
And for previous revision:
cmake_parse_arguments(_vct "AUTO_CLEAN" "SEARCH_DIR"

[2020-11-03 12:22] L0ric0 commented on #14281
yes

[2020-11-03 14:04] FabienPean opened #14371 "[libigl] Enable header-only mode"
The libigl port is now only available as a (huge) static library (>1GB). The library is heavily template based thus it would be preferable to keep the header-only mode.

**Is your feature request related to a problem? Please describe.**
I was attempting to use the port but encountered linker error problems because the types passed as arguments, despite being valid, were not explicitly instantiated

[2020-11-03 14:24] fodortibi commented on #14315
Hello,
Thank you for the response.  For youe clarification, I have a good internet access with 500Mbit/s.
The mentioned 7 files are about 1GB, and should be downloaded within seconds, in worst case within minutes but not in hours.
The download from https://pjreddie.com takes too long, there seems to be a limited bandwidth.
The mentioned files should be stored directly in Github or in another fast

[2020-11-03 14:30] bl-ue commented on #14331
@PhoebeHui https://github.com/microsoft/vcpkg/pull/14372

[2020-11-03 14:43] max-1975 commented on #13828
I've just used the vcpkg commit 0bf3923f9fab4001 and now it's working fine.

[2020-11-03 15:32] TiBehr opened #14373 "[cgal] build failed (Package: mpir:x64-linux; Vcpkg version: 2020.06.15-unknownhash)"
**Environment**
- OS: Manjaro Linux 20.1

**Reproduce**
./vcpkg install cgal

**Failure logs**
[code]

[2020-11-03 16:16] StarGate-One commented on #14329
@PhoebeHui thank you.
Right now I have backed out the change for now, but I believe the best fix would be to remove the "\" in TOOL_NAMES list as you suggest in the second work around.
CMake has been aware of the issue for 8 months without much progress as it seems they are debating whether they should change it or not??? :\
I would attempt to figure a fix, but I am not well versed/familiar in CMa

[2020-11-03 17:25] Neumann-A opened #14374 "[vcpkg/toolchain] Why not use VS_DEBUGGER_ENVIRONMENT instead of copying the DLLs for Visual Studio generators?"
https://cmake.org/cmake/help/latest/prop_tgt/VS_DEBUGGER_ENVIRONMENT.html
Currently vcpkg automatically copies the DLLs to the build output directory with a custom command.
This seems to be the only solution for non Visual Studio Generators to run binaries while for Visual Studio generators vcpkg could set the VS_DEBUGGER_ENVIRONMENT to enable seemless debuging via VS.
So should the vcpkg toolchai

[2020-11-03 17:33] ianier commented on #14252
Validated! The app release is now [in the Store](https://www.microsoft.com/en-us/p/chronotron/9wzdncrfjkx2). I also wrote a short [blog post](https://chronosynth.com/2020/11/03/music-source-separation-aka-unmixing-with-chronotron/) about the feature (the app isn't free, but has a fully-functional trial).

@jgehw : A stretch goal could be to get the UWP DLL to compile for ARM64 too. I have hardware

[2020-11-03 17:41] mgabris commented on #14298
Thanks for suggestion, running vcpkg on different drive did solve that issue, `sdl2` built without errors there.

This was quite weird to me, I was only user on this pc, I did not mess with permissions, run vcpkg/git/powershell as admin...

So I played with it a bit and it seems WSL turns on case sensitivity in NTFS if you have drive mounted also inside WSL. This seems to mess with vcpk and cmake

[2020-11-03 17:54] shanepowell commented on #14370
seems to be machine specific... works ok on another machine..

[2020-11-03 17:54] #14370 closed

[2020-11-03 18:52] mschofie commented on #14282
Thanks, @BillyONeal, I appreciate the perspective. I agree, making a change to support opting out seems to be the right thing to do given the boost-iostream decisions.

[2020-11-03 19:09] BillyONeal commented on #14358
On Windows it's an assumed dependency:

https://github.com/microsoft/vcpkg/blob/master/toolsrc/src/vcpkg/build.cpp#L340

[2020-11-03 19:22] hedeya1980 commented on #12620
I hope there will be a solution to this issue in the very near future, because I really need to install Darknet with CUDA to use it in a research project.

[2020-11-03 19:24] tony-singh-dhami commented on #14364
I'm also getting a similar traceback when building another tool.

OS Version: win10
VS version: vs2017 Professional
Vcpkg version: 2020.06.15-nohash
[install-x86-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/5483613/install-x86-windows-dbg-out.log)

-- Building x86-windows-dbg
CMake Error at scripts/cmake/vcpkg_execute_build_process.cmake:142 (message):
    Command failed: C:/dev/v

[2020-11-03 20:04] #14358 closed

[2020-11-03 21:25] spinicist commented on #14281
If you can somehow make the error message tell people to look at that log file, that would be great.

(This has hit me and my colleague twice now, due to errors in ports. I found this issue by searching for "CMAKE_MAKE_PROGRAM not set", but now I've looked at the log it's something else and not to do with NFS. Will report on a separate issue about the actual problem).

[2020-11-03 23:09] BillyONeal commented on #10515
Note that we don't touch the environment on non-Windows but that should probably still work? Hmmmm

[2020-11-04 02:07] #14298 closed

[2020-11-04 02:48] Cintrust opened #14378 "libcurl is not found during linking"
**Describe the bug**
I am trying to complie the example at [https://github.com/oatpp/example-api-client](https://github.com/oatpp/example-api-client) using vckpg as git submodule. the project has oat and oatpp-curl as dependencies. oatpp-curl has curl as dependency.
vckpg installs all depencies sucessfully but when i am building the project, build fails with with error `LINK : fatal error LNK1104:

[2020-11-04 03:05] JonLiu1993 commented on #14373
Hi @justusranvier, can you try to make a new git clone and see if the build is feasible afterwards? The reason I think this might be helpful is that this error occurs when some generated files are generated by different versions of the generation tool. So maybe you somehow end up generating a wrong file, such as libtool or aclocal.m4, and starting over may help.

[2020-11-04 05:46] NancyLi1013 commented on #14365
We should use `git pull` instead of `vcpkg update` to update vcpkg to the latest version.

[2020-11-04 05:46] Chlorie opened #14381 "[vcpkg-registry] Unable to process <registry.git>"
**Describe the bug**
vcpkg doesn't recognize git registries, directory registries work fine though.

**Environment**
- OS: Windows 10

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg-configuration.json`:
[code]

**Expected behavior**
When I run `vcpkg install` things should work.

**Failure logs**
[code]

[2020-11-04 05:54] NancyLi1013 commented on #14297
Another point needs to be mentioned here, the triplet `x86-windows-static-md` is listed in _triplets/community_ folder, which is an unofficial triplet.

When you build these triplets, it will post the messages like this

[code]

https://github.com/microsoft/vcpkg/blob/master/docs/users/triplets.md#community-triplets

[2020-11-04 05:55] JackBoosY commented on #14381
cc @strega-nil

[2020-11-04 06:06] #13496 closed

[2020-11-04 06:46] #13929 closed

[2020-11-04 06:51] #13791 closed

[2020-11-04 06:51] JackBoosY commented on #11820
Since my PR #11827 incorrectly fixed this issue, I reopened this PR and waited for the upstream to fix it.

[2020-11-04 06:52] #14354 closed

[2020-11-04 07:08] PhoebeHui commented on #14329
@StarGate-One, I have summited PR https://github.com/microsoft/vcpkg/pull/14383 to remove the backslash in args.

[2020-11-04 07:16] NancyLi1013 commented on #13499
Hi @alister-chowdhury

Thanks for posting this issue.

I submitted a PR to add these features for `usd` in PR #14384.

Could you please help confirm if this can work fine for you?

Thanks.

[2020-11-04 07:18] TiceCosmos commented on #14352
it is ok to build in host directory

[2020-11-04 07:21] BillyONeal commented on #14280
The ones reported before that I know about were all about `vcpkg_acquire_msys` we fixed by removing msys' pacman from the process.

It is likely that one of the dependent ports is trying to prompt for input or something like that, but that isn't something we have seen ourselves...

[2020-11-04 07:25] NancyLi1013 commented on #14263
You can try to add `mpi `as one of dependencies for `netcdf-c`, it can build successfully.

[2020-11-04 07:30] LilyWangL commented on #13781
@xingyewuyu Sorry I am late. Could you please install the English language package and rebuild vcpkg and reinstall szip?

[2020-11-04 07:33] zhl8223 commented on #14164
Just delete _VCPKG_ROOT\installed\x64-windows\include\openssl_ folder, solved my problem.

[2020-11-04 07:40] PhoebeHui commented on #13828
Good to know.

[2020-11-04 07:40] #13828 closed

[2020-11-04 07:48] NancyLi1013 commented on #13303
I'm closing this issue for now since seems no response.

Please feel free to reopen this if it is still a problem for you.

[2020-11-04 07:48] #13303 closed

[2020-11-04 08:13] TiBehr commented on #14373
Hey @JonLiu1993, thanks for the fast reply. I already tried that but it didn't help. Could the problem be my version of libtool?

[2020-11-04 08:16] davidm1985 commented on #13002
Hello,
the problem still exists. Maybe it is due to the outdated hardware. I think that the core problem is the installation of the opengl library, which is also not working.
A previous version worked briefly, but after an update it was over.

[2020-11-04 08:20] ekembs commented on #14365
I used the below commands which are all still running:

git pull
vcpkg update
vcpkg upgrade

[2020-11-04 08:27] erri120 commented on #14339
Nope, like I said it builds fine and linking also works. The only problem is vcpkg that tries to copy the dll files to a system folder and not to the output folder.

[2020-11-04 08:30] JackBoosY commented on #11193
Please track issue #72.

[2020-11-04 08:34] JackBoosY commented on #3019
We don't have enough information to solve this issue, unfortunately; if you have any more information to help us solve this, please reopen!

[2020-11-04 08:34] #3019 closed

[2020-11-04 08:37] JackBoosY commented on #3108
Related: #6045.

[2020-11-04 08:38] JackBoosY commented on #3773
We don't have enough information to solve this issue, unfortunately; if you have any more information to help us solve this, please reopen!

[2020-11-04 08:38] #3773 closed

[2020-11-04 08:38] PhoebeHui commented on #14352
Good to know. I'd recommand using the host directory to avoid unexpect failures.

[2020-11-04 08:38] #14352 closed

[2020-11-04 08:44] JackBoosY commented on #4933
Already fixed.

[2020-11-04 08:44] #4933 closed

[2020-11-04 08:46] JackBoosY commented on #5198
Hi @VladBolotov, since QScintilla was updated to 2.11.4, does this issue exists?

[2020-11-04 08:47] JackBoosY commented on #5485
I think we also need a way to check this after build.

[2020-11-04 08:48] JackBoosY commented on #6054
I don’t think we need to do this, please manually copy these executables to the corresponding folder.

[2020-11-04 08:48] #6054 closed

[2020-11-04 08:52] JackBoosY commented on #6190
Fixed.

[2020-11-04 08:52] #6190 closed

[2020-11-04 08:53] JackBoosY commented on #6396
@BillyONeal Can you please take a look?

Thanks.

[2020-11-04 08:54] JackBoosY commented on #14339
cc @BillyONeal

[2020-11-04 08:57] cenit commented on #12620
soon will never be enough soon then!

[2020-11-04 08:58] JackBoosY commented on #6554
I hope this issue will be resolved as soon as possible, because it has been going on for a long time, but I am very busy.
Can any contributor take it over? I can give some help.

[2020-11-04 09:03] JackBoosY commented on #6644
This issue is still not resolved in 1.2.11.

[2020-11-04 09:07] JackBoosY commented on #6656
The upstream should support it.

[2020-11-04 09:08] JackBoosY commented on #6680
Please track #9068.

Thanks.

[2020-11-04 09:08] #6680 closed

[2020-11-04 09:10] JackBoosY commented on #6948
The upstream should support this.
[code]

[2020-11-04 09:15] Neumann-A commented on #6656
for the time vcpkg should install a vcpkg_cmake_wrapper to make sure that the right libraries are always found

[2020-11-04 09:18] JackBoosY commented on #6656
@Neumann-A We already do that. See https://github.com/microsoft/vcpkg/blob/master/ports/libjpeg-turbo/vcpkg-cmake-wrapper.cmake

[2020-11-04 09:21] JackBoosY commented on #7109
Should be fixed.

[2020-11-04 09:21] #7109 closed

[2020-11-04 09:21] Neumann-A commented on #6656
That is not enough. You have to do a `find_library` call for `JPEG_LIBRARY_RELEASE` and `JPEG_LIBRARY_DEBUG` before the find_package call and make sure that those variables are correctly set. The point of the current wrapper is just to add the target `JPEG::JPEG`.
But the current wrapper is just a copy of a newer findJPEG within cmake another example why vcpkg should have FindModules instead of th

[2020-11-04 09:27] JackBoosY commented on #7264
Fixed.

[2020-11-04 09:27] #7264 closed

[2020-11-04 09:32] JackBoosY commented on #7373
Now, curl provides `CURLConfig.cmake` etc., so does this issue resolved?

[2020-11-04 09:51] JackBoosY commented on #7792
The code for paths in vcpkg has been updated. Does this issue still exist?

[2020-11-04 09:52] JackBoosY commented on #7889
Fixed.

[2020-11-04 09:52] #7889 closed

[2020-11-04 09:58] PhoebeHui commented on #7412
Duplicated to https://github.com/microsoft/vcpkg/issues/11797.

[2020-11-04 09:58] #7412 closed

[2020-11-04 10:00] JackBoosY commented on #12282
Duplicated to #7641.

[2020-11-04 10:00] #12282 closed

[2020-11-04 10:07] NancyLi1013 commented on #14261
Hi @STgithub64

Any updates about this issue?

[2020-11-04 10:17] NancyLi1013 commented on #12959
I'm closing this issue for now since no response here.

Please feel free to reopen this issue if it is still a problem for you.

Thanks.

[2020-11-04 10:17] #12959 closed

[2020-11-04 10:53] vjandasek commented on #14263
@NancyLi1013 How should I do this please?

[2020-11-04 11:17] sfhacker commented on #12620
There are a lot of (recurrent) issues with Darknet. It seems hard to 'tame'!

[2020-11-04 11:32] MrBolt2005 commented on #14164
It was a Linux build, actually.

Enviado do Email<https://go.microsoft.com/fwlink/?LinkId=550986> para Windows 10

De: zhl8223<mailto:notifications@github.com>
Enviado:quarta-feira, 4 de novembro de 2020 04:33
Para: microsoft/vcpkg<mailto:vcpkg@noreply.github.com>
Cc:MrBolt2005<mailto:joao2ojf@hotmail.com>; Author<mailto:author@noreply.github.com>
Assunto: Re: [microsoft/vcpkg] [boringssl:x64-linu

[2020-11-04 11:54] STgithub64 commented on #14261
Thanks for getting back to me @NancyLi1013

I tried building the static version of Qt with vcpkg but it failed. I'm reinstalling vcpkg fresh and retrying, but I don't think it will help.

Will let you know

[2020-11-04 12:02] huhuang03 opened #14386 "Build failed on my mac."
I don't know if this is right to post issue here.

The entier log is here:
[code]

I think you can see the env(gcc version etc) in the log.

I'm new to c++. So how to resolve this? Thank you!

[2020-11-04 12:03] sfhacker commented on #14261
@STgithub64 There are plenty of online cmake tutorials available you could have a look at.

[2020-11-04 12:12] huhuang03 commented on #14386
I saw that it says `ranlib` have some error. So I checked and find that it used `ranlib` from `binutil`. So I tried remove `binutil` and it solved!!

[2020-11-04 12:12] #14386 closed

[2020-11-04 12:19] ianichitei opened #14389 "vcpkg_configure_make seems to ignore SKIP_CONFIGURE"
**Describe the bug**

Calling `vcpkg_configure_make` with `SKIP_CONFIGURE` fails with:

[code]

**Environment**

- OS: Ubuntu 20.04.1 LTS on Windows 10 x86_64
- Cmake: 3.16.3

**To Reproduce**

I couldn't find any ports that actually use the option, but it can be reproduced with a minimal `portfile.cmake` (I've setup a GitHub repository with the code and I'm using `vcpkg_from_github` to download i

[2020-11-04 12:59] JChatillon commented on #13890
Exact same issue (with other packages).

[2020-11-04 13:28] tapirnose opened #14390 "[opencv4[qt,eigen]:x64-windows] build failure"
**Host Environment**
- OS: Windows 10
- vcpkg version: 2020.06.15-nohash
- using PowerShell as admin

**To Reproduce**
`./vcpkg install opencv4[qt,eigen]:x64-windows`

**Failure logs**
-- Configuring x64-windows-rel
-- Configuring x64-windows-rel done
-- Configuring x64-windows-dbg
-- Configuring x64-windows-dbg done
-- Package x64-windows-rel
CMake Error at scripts/cmake/vcpkg_execute_build_proce

[2020-11-04 13:47] zcream commented on #14335
x64-windows-static

[2020-11-04 14:16] JChatillon commented on #13890
I tried to add a vcpkg.json manifest file, and open the project using Visual Studio (instead of generating a VS Solution using CMake...) and VS tried and fail too:
[code]

[2020-11-04 14:35] davidhunter22 opened #14391 "[Catch3] Catch version 3"
Library name: Catch version 3
Library description: The nre version of te catch2 testing library
Source repository URL: https://github.com/catchorg/Catch2

So there is now a preview 3 version of catch https://github.com/catchorg/Catch2/releases/tag/v3.0.0-preview3.
Would be great to try this out. I did submit an issue on catch2 https://github.com/catchorg/Catch2/issues/1945 and Martin seems to be k

[2020-11-04 15:15] Link1J commented on #14391
Here is my opinion on the request.
A) We should wait until version 3 comes out as a release, and not add a preview.
B) Version 3 should be an update as to match what the developer did.
C) Version 2 can become a feature so that people can still use it.

[2020-11-04 16:45] strega-nil commented on #13714
I feel like we shouldn't allow relative paths in overlay ports and overlay triplets, for exactly this reason. @ras0219, thoughts?

[2020-11-04 16:48] strega-nil commented on #14381
They aren't implemented yet (and won't ever be implemented as specified in the registries take 1 RFC). This feature is _not supported_ and _not recommended_ yet. Closing as "feature in progress".

[2020-11-04 16:48] #14381 closed

[2020-11-04 16:53] sfhacker commented on #14391
Just built this preview version on Windows 10 x64 and it seems pretty straight forward.

![image](https://user-images.githubusercontent.com/25817529/98141134-62ac4580-1f1a-11eb-9ef9-dd5f76bf996f.png)

![image](https://user-images.githubusercontent.com/25817529/98141170-6b9d1700-1f1a-11eb-84bf-1cf9d1bc4f83.png)

[2020-11-04 17:11] andreasxp opened #14393 "Cached archive for glfw3 references vcpkg install path, which breaks glfw in other installs of vcpkg"
**Describe the bug**
I installed glfw3 for the first time via vcpkg located in `D:/Files/Develop/test_vulkan/vcpkg`. After some time I deleted that instance of vcpkg and installed glfw3 again in a different directory. But files in the archive contain references to the original directory:
[code]
It seems this (wrong) reference to a deleted directory is what breaks my debugging:
[code]
For the time

[2020-11-04 18:40] davidhunter22 commented on #14391
Just so I understand.

So when a version 3 comes out the "catch2" package will at some point be upgraded in place to use it.
There will be a way to specify that you still want to use version 2 of the catch2 package after this happens.

If so seems good to me.

[2020-11-04 18:43] Link1J commented on #14391
Yes.
I can handle doing the update, once version 3 comes out.

[2020-11-04 18:48] STgithub64 commented on #14261
The build succeeded (except for qt-declarative which I will post another issue about) but CMake is still building a dynamically-linked executable. I confirmed this by moving the executable to another PC, in which it didn't work and complained that it could not find Qt5Cored.dll.

Do I need to have any additionally settings to indicate I want static Qt linking in CMake? The internet wasn't too help

[2020-11-04 18:59] Neumann-A commented on #14261
no. You indicate which triplet you want to use via setting `-DVCPKG_TARGET_TRIPLET=x64-windows-static` in your cmake build on first configure.

which just means you did not link against Qt as a static library which probably means your `VCPKG_TARGET_TRIPLET` is incorrect or just not set. The default is `x64-windows`. Please read the documentation about integration (https://github.com/microsoft/vcpk

[2020-11-04 19:01] jgehw commented on #14252
I implemented the patches you described. As I'm probably missing some UWP tools on my machine (detect-compiler for UWP fails), I just created a work-in-progress PR to see what happens on CI.

Looking at https://github.com/bazelbuild/bazel/releases there doesn't seem to be ARM support for Windows, only Linux...

[2020-11-04 19:35] JTPieterse commented on #10256
Also got the same message, and it turned out I had to install the 64bit version of catch2 as my build was set to x64:

vcpkg install Catch2:x64-windows

[2020-11-04 20:55] sfhacker commented on #14261
This issue was closed, then reopened, then closed again and now opened again!
If cmake works as expected, then the issue is with vcpkg.

[2020-11-05 00:49] mctynp opened #14398 "mpg123 x64-windows-static build failure"
**Host Environment**
- OS: Windows 10 64-bit
- Compiler: MSVC 19

**To Reproduce**
Steps to reproduce the behavior:
[code]
**Failure logs**
Command first fails with an error about requiring yasm-tool:x86-windows:
[code]

I then ran vcpkg install yasm-tool:x86-windows as it indicated, which appeared to work:

[code]

I re-ran the original command, which failed:
[code]

After the above error, there

[2020-11-05 01:03] #14378 closed

[2020-11-05 01:38] NancyLi1013 commented on #14261
@STgithub64

Could you please help check if you have set the triplet correctly?

[2020-11-05 02:09] NancyLi1013 commented on #14263
You can update the Build-Depends

`Build-Depends: hdf5, curl
`

as

`Build-Depends: hdf5, curl, mpi`

[2020-11-05 02:20] JackBoosY commented on #7654
cc @BillyONeal

[2020-11-05 02:39] StarGate-One commented on #14329
@PhoebeHui Thank you very much.

[2020-11-05 02:43] JackBoosY commented on #13897
The msys2 upstream supported TLS 1.2, so I think this issue is resolved.

[2020-11-05 02:43] #13897 closed

[2020-11-05 02:46] JackBoosY commented on #14389
Can you provide a full port folder?

Thanks.

[2020-11-05 02:47] JonLiu1993 commented on #14373
@TiBehr ,you can update libtool version first,and can you Can you send me your complete log？

[2020-11-05 02:57] bl-ue commented on #14331
@PhoebeHui @BillyONeal unfortunately, I deleted and re-cloned my local vcpkg after my PR was merged, but the issue remains.

[2020-11-05 03:22] PhoebeHui commented on #8446
@dmn-star, boost has been upgrade to 1.73.0, could you get latest source, and see if this still be a problem for you?

[2020-11-05 05:36] JackBoosY commented on #8528
Does this issue still exist?

[2020-11-05 05:38] JackBoosY commented on #8641
Fixed.

[2020-11-05 05:38] #8641 closed

[2020-11-05 05:40] JackBoosY commented on #8660
Does this issue still exist?

[2020-11-05 05:43] JackBoosY commented on #8676
Hi, does this issue still exist?

[2020-11-05 05:43] JackBoosY commented on #8713
Does this issue still exist?

[2020-11-05 05:47] JackBoosY commented on #9371
We haven't been able to repro this; if more information comes up, or this issue appears again, please reopen.

[2020-11-05 05:47] #9371 closed

[2020-11-05 05:49] JackBoosY commented on #9375
Fixed.

[2020-11-05 05:49] #9375 closed

[2020-11-05 05:51] JackBoosY commented on #9422
Should be fixed.

[2020-11-05 05:51] #9422 closed

[2020-11-05 05:52] JackBoosY commented on #9514
cc @BillyONeal

[2020-11-05 05:54] JackBoosY commented on #9643
See https://github.com/microsoft/vcpkg/issues/13797#issuecomment-700605701

[2020-11-05 05:55] Chlorie commented on #14381
OK, got it.
So when will similar featured be introduced?

[2020-11-05 06:10] JackBoosY commented on #9756
We don't have enough information to solve this issue, unfortunately; if you have any more information to help us solve this, please reopen!

[2020-11-05 06:10] #9756 closed

[2020-11-05 06:13] JackBoosY commented on #9848
We don't have enough information to solve this issue, unfortunately; if you have any more information to help us solve this, please reopen!

[2020-11-05 06:13] #9848 closed

[2020-11-05 06:19] JackBoosY commented on #10187
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2020-11-05 06:19] #10187 closed

[2020-11-05 06:26] JackBoosY commented on #10639
We haven't been able to repro this; if more information comes up, or this issue appears again, please reopen.

[2020-11-05 06:26] #10639 closed

[2020-11-05 06:29] nil-is-lin opened #14401 "[openssl:x64-windows] build failure"
**Host Environment**
- OS: Windows
- Compiler: vs2019 16.7.7

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install qt5[base]:x64-windows
./vcpkg install mlpack:x64-windows`

**Failure logs**
Starting package 1/4: openssl:x64-windows
Building package openssl[core]:x64-windows...
Could not locate cached archive: C:\Users\***\AppData\Local\vcpkg\archives\d5\d57fc092dd6d7e3b92df37b1f9593

[2020-11-05 06:41] LilyWangL commented on #14364
Thanks for posting this issue. Duplicate with #13002, so I am closing this issue for now.

[2020-11-05 06:41] #14364 closed

[2020-11-05 06:42] PhoebeHui commented on #14331
Well, the fmt author said it has been fixed in fmt 7.1.1 from https://twitter.com/vzverovich/status/1323271537139437570. looks this still be a problem with fmt 7.1.1.

[2020-11-05 06:48] nil-is-lin commented on #14401
oh, i miss the `openssl-windows:x64-windows` pkg. I remove it and reinstall, it works well till now.

[2020-11-05 06:48] #14401 closed

[2020-11-05 06:50] JackBoosY commented on #10904
Fixed.

[2020-11-05 06:50] #10904 closed

[2020-11-05 06:52] LilyWangL commented on #14398
Thanks for posting this issue. Could you please attach the file **H:/vcpkg/vcpkg/downloads/mpg123-1.25.8.tar.bz2** on this page?

[2020-11-05 07:00] JackBoosY commented on #7931
Needs to re-enable gtk:x64-linux build first.

[2020-11-05 07:35] GerardDR opened #14403 "Error: Building package aws-sdk-cpp:x86-windows failed with: BUILD_FAILED"
Package: aws-sdk-cpp:x86-windows
 Vcpkg version: 2020.06.15-nohash

Windows 10, with extended file path support turned on.
Cmd: vcpkg install aws-sdk-cpp[*]:x86-windows --recurse

Following instructions at:
https://docs.aws.amazon.com/sdk-for-cpp/v1/developer-guide/setup.html

[2020-11-05 08:08] BenKey commented on #8713
No.
*-- *

*Ciao,*
*Benilda Key*
*Email: bkey76@gmail.com <bkey76@gmail.com>*
*Website: https://sullivanandkey.com/ <https://sullivanandkey.com/>*
*-- *

On Wed, Nov 4, 2020 at 11:44 PM Jack·Boos·Yu <notifications@github.com>
wrote:

[2020-11-05 08:27] ianichitei commented on #14389
Sorry about that. I wasn't sure what would be the best way of doing that. Forking vcpkg just this seemed like overkill, but I can do that if it helps. Is a diff useful in this case?

[code]

[2020-11-05 08:42] dmn-star commented on #8446
Works on Ubuntu 20.04 LTS / WSL2 now. An incredibly long  boost module package downloading time! I'll try it on openSUSE later.

[2020-11-05 09:42] JackBoosY commented on #14389
@ianichitei enough, thanks!

[2020-11-05 09:43] kdridi opened #14404 "[New Port Request] csfml"
Library name: CSFML

Library description: CSFML is the official binding of SFML for the C language.

Source repository URL: https://github.com/SFML/CSFML

Project homepage (if different from the source repository): https://www.sfml-dev.org/download/csfml/index.php

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2020-11-05 10:36] ISWBenjaminKaiser opened #14406 "ompl:x64-windows BUILD_FAILED"
.\vcpkg.exe install ompl:x64-windows
The following packages will be built and installed:
    ompl[core]:x64-windows
Starting package 1/1: ompl:x64-windows
Building package ompl[core]:x64-windows...
-- Downloading https://bitbucket.org/ompl/ompl/downloads/ompl-1.4.2-Source.tar.gz...
-- Downloading https://bitbucket.org/ompl/ompl/downloads/ompl-1.4.2-Source.tar.gz... Failed. Status: 22;"HTTP respons

[2020-11-05 10:53] sfhacker commented on #14398
It isn't clear to me what the issue is.
Just built this port from source on my old laptop (Windows 10 64-bit). It took two mins.

![image](https://user-images.githubusercontent.com/25817529/98231880-211aa980-1fb1-11eb-93c5-c6d5bbde70e1.png)

@mctynp Can you provide further details about how to reproduce your issue?

[2020-11-05 11:08] westfly commented on #14164
but
vcpkg/installed/x64-linux and are in conflict with openssl:x64-linux

Installed by openssl-unix:x64-linux

[2020-11-05 14:00] nil-is-lin commented on #14365
I build `opencv4[core,dnn,jpeg,opengl,png,qt,tiff,vtk,webp,world]:x64-windows` failed.  i update vcpkg with `git pull` servel hours ago. the file is attached as an attachment.
[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/5494820/install-x64-windows-dbg-out.log)

[2020-11-05 14:45] JChatillon commented on #13890
From my side, I solved the issue:
I had to clear the `HKEY_LOCAL_MACHINE\Software\Microsoft\Command Processor\AutoRun` registry entry which was trying to launch an old Anaconda batch file...

[2020-11-05 14:46] JChatillon commented on #10958
From my side, I solved the issue:
I had to clear the `HKEY_LOCAL_MACHINE\Software\Microsoft\Command Processor\AutoRun` registry entry which was trying to launch an old Anaconda batch file...

[2020-11-05 14:54] dmn-star commented on #8446
Works on openSUSE Tumbleweed too. Thanks!

[2020-11-05 14:54] #8446 closed

[2020-11-05 17:20] falvarezoliva opened #14408 "pcapplusplus"
Consider to add https://pcapplusplus.github.io/ to vcpkg repository

[2020-11-05 17:31] ajimal1992 commented on #3345
Why is this closed?! Its a legitimate issue. I just had the same issue too

[2020-11-05 17:52] khill610 opened #14409 "wxwidgets:x86-linux build failure"
**Host Environment**
- OS: [Linux Ubuntu 18.04 x86_64]
- Compiler: gcc 7.5.0 (multilib)

**To Reproduce**
I've copied the x64-linux.cmake triplet file to x86-linux.cmake and changed the target architecture to x86
I've installed i386 architecture, i386 c libraries,multiarch-support, multilib gcc.g++ support and libx11-dev:i386
Steps to reproduce the behavior:
`./vcpkg install wxwidgets:x86-linux`
[

[2020-11-05 18:42] strega-nil commented on #10038
Unfortunately, this isn't a priority for the team. However, if you would like to make these changes, I'll be more than willing to review them.

[2020-11-05 19:10] strega-nil commented on #14381
@Chlorie I'm currently working on it, but it won't be stable for a while. We recommend using overlay-ports for now :)

[2020-11-05 20:44] ASxa86 commented on #13070
Are there any suggested fixes here I can look into? I am still having this issue. I'm still on CentOS 7 but I was able to upgrade to devtoolset-9 which comes with gcc version 9.3.1. Even if there is a manual workaround I could use would be nice. This has become a blocking issue for me.

[2020-11-05 20:44] #14329 closed

[2020-11-05 20:46] BillyONeal commented on #14365
@nil-is-lin

[code]

Looks like protocol buffers is unhappy for some reason?

[2020-11-05 20:59] ASxa86 commented on #13070
Looks like this may have been indirectly fixed in a future commit. Now the problem is all of the broken builds that are currently present on master.

Go ahead and close this issue. Nothing more I can do.

[2020-11-05 20:59] #13070 closed

[2020-11-05 21:12] BillyONeal commented on #13890
@HoopDead Do you have something like that?

[2020-11-05 21:23] BillyONeal commented on #14365
I'm not able to reproduce the problem. Can folks who are experiencing this post what `git rev-parse HEAD` says for their vcpkg repository?

[code]

[2020-11-05 21:28] BillyONeal commented on #10665
@vicroms You contributed this feature, can you take a look?

[2020-11-05 21:32] BillyONeal commented on #10404
`integrate install` effectively adds all the `.lib`s you install with vcpkg to the linker command line; under normal operation the linker doesn't care about symbols in unreferenced .objs from libs.

If you add

[code]

to a `<PropertyGroup>` in the affected project does the problem go away? (I'm suggesting that is the ultimate fix, just trying to confirm that this is the cause)

[2020-11-05 21:37] BillyONeal commented on #9677
The alternative to `/Z7` would be to force customers to deal with a lot of `.pdbs` to distribute with their static libraries and our experience is that folks almost universally don't do that correctly.

I suspect most of the remaining difference is:

[code]

Note `/MDd` and `/MD`, while vcpkg uses `/MT` and `/MTd` for the static triplets by default (since most folks using static want single-binary

[2020-11-05 21:41] BillyONeal commented on #9495
That seems a reasonable solution to me

[2020-11-05 21:42] BillyONeal commented on #9495
(Although Robert made relevant comments in the PR)

[2020-11-05 21:44] BillyONeal commented on #7654
This is correct. If you are using cmake we can export that dependency in the resulting target, but with a static lib I don't think there's anything vcpkg can do.

[2020-11-05 21:44] BillyONeal commented on #7654
@Voxel7 Do you have a suggestion on what we should do?

[2020-11-05 21:48] BillyONeal commented on #14339
[code]

is the real error. We're trying to say that the file(s) in question are to go into `$SourcePath` but that's getting set to empty string since we failed to parse something earlier in the line.

The strange thing is that `applocal.ps1` is running at all -- that's only for `vcpkg integrate install` usage, not for cmake customers (at this time). Did you mint an msbuild project with cmake and o

[2020-11-05 21:51] BillyONeal commented on #6396
@aadityacs "Segmentation fault in the resulting program" sounds like a bug in the library, not a bug in vcpkg.

As for "out of date version", it looks like the version in vcpkg is 7.1.0 which matches the latest version in https://github.com/AcademySoftwareFoundation/openvdb as of 2020-11-05.

Is this still relevant?

[2020-11-05 21:54] BillyONeal commented on #14374
I'm not sure I would like a solution like that, since it means the resulting output directory is only usable in the VS debugger, and couldn't be run outside with things that don't know anything about `VS_DEBUGGER_ENVIRONMENT`, and those DLL copies are relatively inexpensive.

I don't feel *too* strongly about it but I imagine it would cause confusion...

[2020-11-05 21:56] BillyONeal commented on #6113
We have `${_VCPKG_INSTALLED_DIR}`; does that do what you need?

[2020-11-05 22:00] socuwn opened #14410 "[opencascade] cmake failure"
**Host Environment**
- OS: Windows
- Compiler: Visual Studio 16 2019
- CMake: 3.18.4

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg\vcpkg.exe install opencascade:x64-windows`

**CMakeLists.txt**
[code]

**cmake build commands**
[code]

**Failure logs**
[code]

**Additional context**
It seems to be looking for debug version, so I have tried `-DCMAKE_BUILD_TYPE=Release` with the same resu

[2020-11-05 22:31] mctynp commented on #14398
Added the requested file (the .tar.bz2 archive is wrapped in a .zip file as github does not appear to allow attaching .bz2 files).

[mpg123-1.25.8.tar.bz2.zip](https://github.com/microsoft/vcpkg/files/5497807/mpg123-1.25.8.tar.bz2.zip)

[2020-11-05 22:54] bl-ue opened #14411 "[fmt] update to 7.1.2"
https://github.com/fmtlib/fmt/releases/tag/7.1.2

[2020-11-05 22:57] mctynp commented on #14398
The mpg123 libraries are a dependency of sdl2-mixer as used in a project I'm attempting to build. I stripped down the vcpkg command to the minimum needed to reproduce the issue:

[code]

The compilation process seems to work, but the build fails during the installation process as outlined above, and the end result is that the mpg123 libraries and associated headers are not available to the project

[2020-11-06 00:00] jhs67 commented on #13773
This bug recently bit me as well. I did a bit of digging. The cmake for the sdl project is failing the test for metal. From config-x64-osx-dbg-out.log in the buildtree:
[code]
This disables vulkan support as well. Looking at x64-osx-dbg/CMakeFiles/CMakeError.log (again from the buildtree):
[code]
Goes on like that for a few hundred lines and then:
[code]
Which kind of looks like it is trying to co

[2020-11-06 00:11] jhs67 commented on #13773
Looks like this was fixed upstream [here](https://github.com/spurious/SDL-mirror/commit/771a8437a3449be36dc405e2964bc9a10dc5d2ce#diff-1e7de1ae2d059d21e1dd75d5812d5a34b0222cef273b7c3a2af62eb747f9d20a).  Doesn't look like there has been a release since.

[2020-11-06 01:25] #14357 closed

[2020-11-06 01:28] BillyONeal commented on #7043
The "registries" feature splits the ports tree into `a-/ports that start with a`, `b-/ports that start with b`, etc. so that will help a bit

[2020-11-06 01:29] BillyONeal commented on #14331
I poked them again.

[2020-11-06 01:30] #13397 closed

[2020-11-06 01:47] PhoebeHui commented on #8446
Good to know!

[2020-11-06 02:16] #14359 closed

[2020-11-06 02:19] BillyONeal commented on #7790
I believe Robert's comment here demonstrates the root cause; openal looking for additional Windows SDKs rather than trying to use the vcpkg provided one: https://github.com/microsoft/vcpkg/pull/12318#issuecomment-655782037

[2020-11-06 02:38] Cintrust commented on #14378
working now. thanks

[2020-11-06 02:41] JackBoosY commented on #13070
Sorry for hear that, but we can't repro this issue : (

[2020-11-06 02:42] PhoebeHui commented on #14070
Duplicated to https://github.com/microsoft/vcpkg/issues/13749.

[2020-11-06 02:42] #14070 closed

[2020-11-06 02:45] JackBoosY commented on #14164
@westfly  can you see my [comments](https://github.com/microsoft/vcpkg/issues/14164#issuecomment-716272760) and reply?

[2020-11-06 02:48] PhoebeHui commented on #13749
Failures:
[code]

[2020-11-06 04:30] playgithub opened #14415 "Any way to download 64-bit tools like cmake"
For example,
by default cmake-3.18.4-win32-x86.zip will be downloaded,
any way to download cmake-3.18.4-win64-x64.zip instead?

[2020-11-06 05:06] ianier commented on #14252
@jgehw : I meant cross-compiling to ARM64 target on an x64 host, now that we have set --distinct_host_configuration=true. All this would be better addressed in bazel itself, though, so at some point I'll raise the question there (i.e. support for ARM64 as an architecture on Windows and UWP as a platform).

[2020-11-06 06:20] JackBoosY commented on #14415
Good idea.

[2020-11-06 07:29] omcnoe opened #14418 "Manifest mode + cmake fails to install packages"
**Describe the bug**
Running in manifest mode (`VCPKG_FEATURE_FLAGS="manifests"`), I pass the vcpkg toolchain file `vcpkg/scripts/buildsystems/vcpkg.cmake` to cmake. I see
[code]
in the configure log. BUT, no `vcpkg_installed` dir is created and my build fails.
If I then manually run `./vcpkg/vcpkg install` the `vcpkg_installed` dir is correctly created.

**Environment**
- OS: macOS
- Compiler: Ap

[2020-11-06 07:45] 96chh commented on #4560
@JackBoosY
Error: Building package qt5-declarative:x86-windows-static failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `.\vcpkg update`, then
submit an issue at https://github.com/Microsoft/vcpkg/issues including:
  Package: qt5-declarative:x86-windows-static
  Vcpkg version: 2020.06.15-nohash

[2020-11-06 08:10] TerensTare commented on #14418
I think you should have pre-installed the packages with vcpkg before running cmake.
Eg. say you need `{fmt}`, you should have first installed `{fmt}` by calling `vcpkg install fmt` from anywhere (but not where `vcpkg.json` is located), then run cmake as usual.

[2020-11-06 08:12] omcnoe commented on #14418
I was able to do this to make my build work.

But the cmake configure output claims to run vcpkg install itself... but no vcpkg_installed dir is created.

[2020-11-06 08:18] mrchipset opened #14419 "Vcpkg integrating to Visual Studio conflict with Intel Performance Library"
**Describe the bug**
I have already installed the Intel Performance library integration to Visual Studio 2019. When I have integrate vcpkg to VS2019. The Intel Performance Library Options in the project property has disappeared. And I have to remove vcpkg and re-install Intel performance library.

**Environment**
- OS: Windows
- Compiler: Visual Studio 2019 Community

**To Reproduce**
Steps to rep

[2020-11-06 08:19] TerensTare commented on #14418
On my pc, `vcpkg_installed` is created inside `build` directory. DId you check there?

[2020-11-06 08:19] NancyLi1013 commented on #13925
I'm closing this issue for now since no response here.

Please feel free to reopen this issue if you still  have questions.

[2020-11-06 08:19] #13925 closed

[2020-11-06 08:23] NancyLi1013 commented on #13614
@mok-cn
Is this still a problem for you now?

[2020-11-06 08:24] NancyLi1013 commented on #13405
@a93a

Please let me know if this is still a problem for you.

Thanks.

[2020-11-06 08:33] TerensTare opened #14420 "Lua 5.4 build failure"
**Host Environment**
- OS: Windows 10
- Compiler: Visual Studio 2019 v16.7.5

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install lua`
`cd MyWorkingDir\build`
`cmake ..`

**Failure logs**
From VSCode's CMake extension output
[code]

**Additional context**
- VCPKG_ROOT: Path to the directory where vcpkg is located.
- VCPKG_DEFAULT_TRIPLET: x64-windows
- VCPKG_FEATURE_FLAGS: manifests

[2020-11-06 08:46] JackBoosY commented on #14406
@ISWBenjaminKaiser Thanks for reporting this issue!
Your vcpkg is outdata, please update vcpkg and try again.

Thanks.

[2020-11-06 08:49] Neumann-A commented on #6113
should probably be `${_VCPKG_INSTALLED_DIR}/${VCPKG_TARGET_TRIPLET}` because that is the correct import prefix but it assumes that the vcpkg toolchain is used.

[2020-11-06 08:49] JackBoosY commented on #4560
@96chh Can you open a new issue to report that?

Thanks.

[2020-11-06 09:02] JackBoosY commented on #10249
@Neumann-A I see that many header files contain similar content. Should we define `OSG_LIBRARY_STATIC` in one file to solve this issue? And which header file do we usually include osg first?

[2020-11-06 09:05] Milerius opened #14423 "[Feature Improvements]: Concurrent run of vcpkg with manifest conflict with multithreaded IDE"
****

**Is your feature request related to a problem? Please describe.**

Some IDEs like CLion launch CMake in parallel with different configurations: Debug, Release, RelWithDebugInfo etc.

With the recent addition of manifests this adds a huge user experience problem.

Imagine the following `vcpkg.json` manifest:

[code]

And the fact that i'm using vcpkg as a submodule of my repository

When CLi

[2020-11-06 09:06] abique opened #14424 "[vcpkg_from_git] fetching explicit ref using old gits fails"
**Host Environment**
- OS: Linux
- Compiler: gcc 9.2.0

**To Reproduce**
Steps to reproduce the behavior:
./vcpkg install bzip2

**Failure logs**

[code]

error: no such remote ref 75a94bea3918e612b879d6a11ca64b8689526147

[2020-11-06 09:08] JackBoosY commented on #14355
@Neumann-A I think we don't needed. `vcpkg_cmake_wrapper` in vcpkg is used to deal with mismatched cmake modules(`Find*.cmake`) and exported configurations(`*-config.cmake`).
In this case, the author just need to add keyword `CONFIG` in his `find_package`.

[2020-11-06 09:11] abique commented on #14424
The correct sha1 should be: 6a8690fc8d26c815e798c588f796eabe9d684cf0

https://github.com/microsoft/vcpkg/blob/7fbbc599ec816c456a02180ac75d42f1fb9e1d73/ports/bzip2/portfile.cmake#L4

[2020-11-06 09:11] nil-is-lin commented on #14365
@BillyONeal yeah, my problem is missed after i reinstall `protobuf:x64-windows` package. many thx.

[2020-11-06 09:12] abique commented on #14424
@StarGate-One

[2020-11-06 09:13] PhoebeHui commented on #3714
@iso8859, please reopen this issue if it still be a problem for you.

[2020-11-06 09:13] #3714 closed

[2020-11-06 09:14] JackBoosY commented on #14280
By reading the information you provided again, I believe that the build process is **NOT** really a hang, but a long time.
Can you provide the time from entering the installation command to `Configuring x86-windows` and from `Configuring x86-windows` to `Installing x86-windows`?

[2020-11-06 09:15] Neumann-A commented on #14355
That is exactly the case here. The internal cmake FindGTest has other rules than the config.

[2020-11-06 09:18] omcnoe commented on #14418
Ahh that's the issue...

[2020-11-06 09:21] JackBoosY commented on #14355
@Neumann-A I prefer to use config mode because it's stronger, the module provided by cmake may be out of date, but it will not.

If we need to not use the `CONFIG` keyword and call them (to completely avoid to call the module provided by cmake) in the scene containing the exported configuration file, I think we should not implement it through `vcpkg_cmake_wrapper`.
This should be provided by vcpkg

[2020-11-06 09:34] NancyLi1013 commented on #14424
Hi @abique

Thanks for posting this issue.

I can build bzip2 successfully on my machine.

[code]
So it should be not related with `REF`.

[2020-11-06 09:36] abique commented on #14424
Why would I can't find the ref?
Are we checking out the same repository or is there a man in the middle when checking out from France?

[2020-11-06 09:38] NancyLi1013 commented on #14365
@nil-is-lin
Thanks for your update. Since this bug has been fixed. I'm closing this issue for now.

@BillyONeal
Thanks for your help to investigate this issue.

[2020-11-06 09:38] #14365 closed

[2020-11-06 09:44] japj opened #14425 "libxslt port is not exporting tools"
**Describe the bug**
libxslt port is doing a lot of work to build/copy (xsltproc) tools to the tools folder,
however in the end (during clean) it actually removes the tools folder

See:
https://github.com/microsoft/vcpkg/blob/0ff75ac80b9a3770afb3d2971c572628d80a631e/ports/libxslt/portfile.cmake#L113

and:
https://github.com/microsoft/vcpkg/blob/0ff75ac80b9a3770afb3d2971c572628d80a631e/ports/libxsl

[2020-11-06 09:47] JackBoosY commented on #14425
Confirmed, thanks for reporting this issue!

[2020-11-06 09:57] erri120 commented on #14339
I just created a new CMake project with CLion. This happens regardless of IDE used (CLion, VS and prob also VS Code but haven't tested with that)

[2020-11-06 10:05] NancyLi1013 commented on #14263
Hi @vjandasek
I submitted a PR #14421 to fix this issue. Could you please try to rebuild and help confirm if this can work for you?

Thanks.

[2020-11-06 10:44] PhoebeHui commented on #14403
@GerardDR, could you attach the failure logs?

[2020-11-06 12:45] HWiman opened #14427 "[wxwidgets] build failure"
**Host Environment**
- OS: Linux (Ubuntu-20.04 WSL2)
- Compiler: gcc (Ubuntu 9.3.0-10ubuntu2) 9.3.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install wxwidgets:x64-linux`

**Failure logs**
-Building package wxwidgets[core]:x64-linux...
Could not locate cached archive: /home/hw/.cache/vcpkg/archives/bc/bcc3be52c8a02a8a83e2b7a522c5cd546f591f83.zip
-- Using cached /mnt/c/Dev/vcpkg/d

[2020-11-06 13:03] MateCheck-rar opened #14428 "[glib:x64-linux] build failure"
**Host Environment**
- OS: Ubuntu 20.10

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install glib`

**Failure logs**
[code]
**Mentioned log file**
[install-x64-linux-dbg-out.log](https://github.com/microsoft/vcpkg/files/5501288/install-x64-linux-dbg-out.log)

**Additional context**
I was trying to directly install gtkmm, then I received this error regarding glib and recreated it. I'

[2020-11-06 13:40] 96chh opened #14429 "qt5-declarative:x86-windows-static BUILD_FAILED"
@JackBoosY
Error: Building package qt5-declarative:x86-windows-static failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `.\vcpkg update`, then
submit an issue at https://github.com/Microsoft/vcpkg/issues including:
  Package: qt5-declarative:x86-windows-static
  Vcpkg version: 2020.06.15-nohash

_Originally posted by @96chh in https://github.com/microsoft/vcpkg/issues/

[2020-11-06 13:57] Milerius opened #14430 "[Manifests]: Choose a better policy for automatically update outdated ports"
****

**Is your feature request related to a problem? Please describe.**

As it stands, in `vcpkg.cmake` it seems that when a manifest is detected we choose a folder in the CMAKE_BINARY_DIR rather than the vcpkg installation folder:

https://github.com/microsoft/vcpkg/blob/master/scripts/buildsystems/vcpkg.cmake#L236

This is currently the case because it allows you with each new `CMake` build to

[2020-11-06 14:47] ASxa86 opened #14431 "[qt5-base:x64-linux] build failure"
**Host Environment**
- OS: CentOS 7
- Compiler: gcc v9.3.1

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install qt5-base:x64-linux`

**Failure logs**
CMake Error at scripts/cmake/vcpkg_execute_build_process.cmake:142 (message):
    Command failed: /opt/rh/devtoolset-9/root/usr/bin/make -j17
    Working Directory: /home/aaron.shelley/vcpkg-master/buildtrees/qt5-base/x64-linux-dbg

[2020-11-06 15:53] bin opened #14432 "Add an option to default to a static triple"
On windows vcpkg defaults to using dynamic linking.  This can be bypassed by supplying a triple, but doing so is an additional flag that must be passed to every build.  It's difficult to get cmake to detect platform information before the call to `project()`, but vcpkg is set up then when used as a toolchain.

Please consider adding an option to prefer static triples in the `vcpkg.json` manifest.

[2020-11-06 16:01] alister-chowdhury commented on #13499
So on your branch when running:
`vcpkg install usd[*]`

I got a hfs5 error:
[code]

Updating hdf5 fixed this (I guess there's a hidden dependency)
`vcpkg install hdf5[cpp] --recurse`

Sadly though I noticed:
`-- Setting PXR_BUILD_USDVIEW=OFF because PXR_BUILD_USD_IMAGING=OFF`
In the build logs :(

So I edited the portfile to have:
[code]

And then hit an opensubdiv, ptex and boost-python[python2]

[2020-11-06 16:03] alister-chowdhury commented on #13499
On the plus side usd[alembic] appeared to compile happily enough once the hdf5 stuff was sorted

[2020-11-06 16:10] HoopDead commented on #13890
@BillyONeal I'm going to check it in a while because unfortunately, my computer decided to stop being my teammate and I had to buy a new disc. :)

[2020-11-06 17:33] TerensTare commented on #14420
The bug was vanished and the build worked as normal (even with my "patch lines" removed) when I upgraded Visual Studio to v16.7.7 and CMake to v3.18.3.

[2020-11-06 17:43] kem0o opened #14434 "[restinio] build failure"
- OS: [e.g. Windows/Linux etc...]
- Compiler: VS2019

Steps to reproduce the behavior:
`./vcpkg install restinio`

**Failure logs**
![image](https://user-images.githubusercontent.com/19430119/98397368-f0497b80-2067-11eb-8fcd-1c24acf3ddcf.png)

[config-x86-windows-out.log](https://github.com/microsoft/vcpkg/files/5502678/config-x86-windows-out.log)

i see it's something wrong with my compiler but i

[2020-11-06 18:49] vjandasek commented on #14263
Hi @NancyLi1013,

I tried both the update of Build-Depends and the changes from your pull request, however with no luck.

The update of the Build-Depends produces the same message as before.
The changes from your pull request do the following:

CMake Error at scripts/cmake/vcpkg_apply_patches.cmake:55 (message):
  Applying patch failed.  error: corrupt patch at line 19

[2020-11-06 19:43] vicroms commented on #14432
You can change the default triplet by setting a `VCPKG_DEFAULT_TRIPLET` environment variable.

[2020-11-06 21:01] Ziriax opened #14437 "[libheif] update to 1.9.1"
Library name: **libheif**

New version number: **v1.9.1**

Other information that may be useful (release notes, etc...)

The current version of libheif (1.0.5) just doesn't work, it can't decode any iPhone photo, just failing with `codec not supported`.

I had to update both `libde265` to `v1.0.8` and `libheif` to `v1.9.1` to get it working.

[I have committed my code in this fork](https://github.

[2020-11-06 21:05] Ziriax opened #14438 "[libjpeg-turbo] Please enable jpeg7 and jpeg8 APIs"
****

**Is your feature request related to a problem? Please describe.**

Currently the `libjpeg-turbo` package is build without enabling the `jpeg7` and `jpeg8` API features.

**Proposed solution**

Enable these features.

**Describe alternatives you've considered**

I couldn't find the [regular libjpeg package](http://libjpeg.sourceforge.net) in vcpkg, the that one that has these features (_but

[2020-11-06 21:19] #14411 closed

[2020-11-06 21:30] StarGate-One commented on #14424
@abique cc: @NancyLi1013
FYI...
1. **PR #13178 [bzip2] Update to 1.0.8** was where bzip2 source URL was changed and the REF line was added, which is needed when pulling from an active git repository, either a reference or tag is required to obtain a copy of a stable code base.
2. **PR #13242 [bzip2] Add SHA512 hash check** I added a comment to the REF line, NOT the REF line, but a comment, added t

[2020-11-07 00:41] JackBoosY commented on #14429
Please provide the failure logs.

Thanks.

[2020-11-07 01:17] longnguyen2004 commented on #13033
Alright we can close this now :)

[2020-11-07 01:17] #13033 closed

[2020-11-07 02:23] longnguyen2004 commented on #13063
If this macro is safe to use then I'll make a pull request for it

[2020-11-07 02:48] nick42 opened #14440 "[openssl] broken"
**Describe the bug**
Not sure if this is known, but updating openssl breaks it. It appears to be looking for some files related to libressl, which it erroneously thinks has been installed, and fails to update. This cascades, breaking all dependent libraries (eg: boost-asio). So basically everything breaks.

**Environment**
Windows 10, VS2019 latest (as of today)

**To Reproduce**
- Have been using

[2020-11-07 03:42] ducdY opened #14441 "msys2 libiconv-1.16-1-x86_64.pkg.tar.xz Failed to download file."

[2020-11-07 04:17] an-tao opened #14442 "Build fails when using libpq"
**Describe the bug**
When I attempted to build a project with libpq, lots of errors occurred when linking.

**Environment**
- OS: OSX/Linux
- Compiler: clang, gcc

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install libpq
2. git clone https://github.com/an-tao/libpq_test
3. cd libpq_test
4. mkdir build
5. cd build
6. cmake .. -DCMAKE_TOOLCHAIN_FILE="...../vcpkg.cmake"
7. make

**F

[2020-11-07 09:12] Nemirtingas commented on #13483
Nice, thanks.

[2020-11-07 09:28] tapika opened #14445 "Add support for being able to exclude certain package from ffmpeg (or maybe generic)"
At the moment

`ports\ffmpeg\CONTROL`

Lists following features:
`Default-Features: avresample, avcodec, avformat, avdevice, avfilter, postproc, swresample, swscale`

which in a turn drag a dependency on gpl licensed software => `postproc` => `gpl`.

Not every software wants to have a dependency on gpl - in fact I think most of software developers don't want it.

I would recommend to make it optio

[2020-11-07 09:42] abique commented on #14424
I did clone bzip2 and had a different sha1 for this commit.

[2020-11-07 09:43] abique commented on #14424
![Uploading image.png…]()

[2020-11-07 09:45] abique commented on #14424
![image](https://user-images.githubusercontent.com/31200/98437866-29c0cc00-20e6-11eb-8136-dc0b70400f45.png)

[2020-11-07 09:51] abique commented on #14424
Here on my computer it works (I was on a build machine yesterday):

[code]

I don't understand why both sha1 works, yet I think 6a8690fc8d26c815e798c588f796eabe9d684cf0 is the correct one to use and older git client might not be able to checkout 75a94bea3918e612b879d6a11ca64b8689526147.

[2020-11-07 09:52] abique commented on #14424
I have git version 2.29.2 on my local machine.
The build server has git version 2.7.4.

[2020-11-07 09:56] tapika commented on #14445
Btw, added instructions on vcpkg to official ffmpeg compilation how to's:
https://trac.ffmpeg.org/wiki/CompilationGuide/vcpkg

Otherwise it's rather difficult to figure out what needs to be done.

[2020-11-07 09:57] abique commented on #14424
Also git log -p -n1 gives:
[code]

So I'd say that the sha1 used in vcpkg is definitely not the one given by git.

[2020-11-07 10:20] sfhacker commented on #14440
Are we **STILL** having issues building OpenSSL?
It looks like most of the issues reported here are recurrent!

![image](https://user-images.githubusercontent.com/25817529/98438484-a7182b00-213e-11eb-828a-14b1acb59a16.png)

@nick42 Can you post here some screenshots showing the error messages?

[2020-11-07 11:36] MrBolt2005 commented on #14164
OK, I'm gonna try that. Plz wait. ;-)

Enviado do tablet Samsung.

[2020-11-07 12:16] foolnotion commented on #14440
In my case the dependent library was pybind11, trying to pull openssl, but conflicting with already existing files in `<vcpkg root>/installed/x64-windows/include/openssl` (even though neither openssl or any other *ssl flavor was installed).
then vcpkg thought this was a conflict with libressl/boringssl and everything failed.
The only way to "fix" this was to completely remove vcpkg and then reinst

[2020-11-07 12:41] sfhacker commented on #14440
@nick42 Have you had issues before with OpenSSL? Like in Feb this year?
Is this a recurrent issue?
@foolnotion What is the relationship between libressl/boringssl and OpenSSL?

[2020-11-07 12:47] foolnotion commented on #14440
@sfhacker I think they are just mutually exclusive due to conflicting implementations. otherwise I have no idea.
see here: https://github.com/microsoft/vcpkg/blob/63dccf771d0bf84f8a1e111c8b53a4057d4c0a18/ports/openssl/portfile.cmake#L1

my guess is that a previous version of vcpkg populated `${CURRENT_INSTALLED_DIR}/include/openssl/ssl.h` (even though there was no openssl/libressl/boringssl packag

[2020-11-07 13:01] westfly commented on #14164
[code]
should I delete package as below?
[code]

[2020-11-07 13:07] longnguyen2004 commented on #14322
./bootstrap-vcpkg.bat only uses MSVC to build vcpkg itself. Libraries will be built with mingw if you use the mingw triplets (see https://github.com/microsoft/vcpkg/blob/master/scripts/toolchains/mingw.cmake)

[2020-11-07 13:08] longnguyen2004 commented on #14163
Hmm weird, I'll take a look at it

[2020-11-07 13:10] longnguyen2004 commented on #14012
This port currently doesn't support mingw yet, but given that it already has winpthreads, I'm not sure why you would need it. Anyway I'll take a look

[2020-11-07 13:16] longnguyen2004 commented on #13749
Seems like a Boost error for me (note the langinfo.h, which is a POSIX header), can you try pulling latest master and retry? Boost just got updated to 1.74.0

[2020-11-07 13:26] longnguyen2004 commented on #14440
This is due to the recent change in the openssl port, which unifies the 3 different ports (windows, uwp and unix) into one. As a result, please remove any old openssl ports you have installed before.

[2020-11-07 13:39] foolnotion commented on #14440
@longnguyen2004 although the openssl files were present, vcpkg did not see the openssl port as being installed, and therefore could not be removed. this is why in my case only manually deleting the folder solved the issue. perhaps the upgrade caused openssl (which was probably installed indirectly as a dependency) to not be detected as installed anymore. therefore it couldn't be fixed simply by `v

[2020-11-07 13:41] odygrd commented on #14331
Not sure if that helps, but `quill` always include `fmt` like this:

https://github.com/odygrd/quill/blob/9ebb104d0273855011f6dc48b494028d5733ea7e/quill/include/quill/Fmt.h#L14

For vckpg we always `#define QUILL_FMT_EXTERNAL` so it will always include and use any `fmt` header that is already installed in the system and the internal fmt library is ignored.

[2020-11-07 13:50] longnguyen2004 commented on #14440
Back then, removing openssl doesn't actually remove openssl, you have to remove openssl-windows (or uwp, unix) for it to actually be removed.
@Neumann-A Maybe add a warning into the portfile? This could confuse people

[2020-11-07 14:32] odygrd commented on #14331
I think this is a `libfmt` issue.
For now `quill` will use the following workaround that it seems to work.

https://github.com/odygrd/quill/commit/bd9815048368d221b38c2b46c1beb4ddb893b0bc

[2020-11-07 14:49] vitaut commented on #14331
The symbols are defined here: https://github.com/fmtlib/fmt/blob/506ff320f2bf85b3d685c67358994026a2110e84/src/format.cc#L27-L30. Feel free to open an issue in {fmt} with a repro.

[2020-11-07 14:53] odygrd commented on #14331
Not sure why it happens, but `quill` is trying to link against the system wide installed lib fmt when `QUILL_FMT_EXTERNAL` is defined but still the symbols are not found.

https://github.com/odygrd/quill/blob/master/quill/CMakeLists.txt#L150

[2020-11-07 14:57] sersus opened #14449 "[poco:x86-windows] build failure"
**Host Environment**
- OS: Windows 10 1809 build 17763.1554
- Compiler: build tools 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install poco`

**Failure logs**
[code]
**Additional context**
I tried to clean the buildtree directiory, it doesn't work.
[install-x86-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/5504929/install-x86-windows-dbg-out.log)

[2020-11-07 15:05] gdiObjects opened #14451 "openssl:x86-windows-static build failure"
**Host Environment**
- OS: Windows 10 Pro
- Compiler: Microsoft Visual C++ 2019

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg upgrade --no-dry-run

**Failure logs**
D:\Development\Projects\vcpkg>.\vcpkg upgrade --no-dry-run
The following packages will be rebuilt:
  * libpq[core,openssl,zlib]:x86-windows-static
  * openexr[core]:x86-windows-static
  * openssl[core]:x86-windows-static

[2020-11-07 15:35] sfhacker commented on #14451
@gdiObjects Are we **STILL** having issues building OpenSSL from source on Windows?
Have you reported issues here before? Same port? Different ports?

[2020-11-07 16:33] hedeya1980 commented on #12620
Can this issue be solved if I installed CUDA 10 instead of CUDA 11?
I have GTX 1060, and I'm afraid it will throw the same 'Unsupported gpu architecture 'compute_30' error.

[2020-11-07 17:05] nick42 commented on #14440
The error message I was getting is the same as was posted in 14451, for reference.

I have no old ports or alternative implementations installed for openssl (that I am aware of); I just did an "upgrade", and encountered the error. I do have boost installed, though, so I have its dependencies.

@sfhacker I did not have previous issues, but at work we do not pull third-party dependencies too regular

[2020-11-07 19:27] vicroms commented on #14445
To install a package without default features do: `vcpkg install ffmpeg[core]`. You can also add the features you want on top of the core library, e.g.: `vcpkg install ffmpeg[core,swresample,swscale]`.

[2020-11-07 19:58] tapika commented on #14445
Is this "core" applicable to all packages ? Or only ffmpeg ?

[2020-11-07 20:58] Neumann-A commented on #14451
duplicate of #14440. Please remove `openssl-windows` via `vcpkg remove openssl-windows` and retry to install `openssl`

[2020-11-07 21:07] Neumann-A commented on #14440
`vcpkg upgrade` is just a dangerous command and it is really hard to correctly remove/deprecate a port due to it.
Especially as pointed out:

In general I would advise to not use `vcpkg upgrade` and rather use the binary caching feature with `vcpkg install` in another folder.

The solution to this issue is to simply use `vcpkg remove openssl-windows:<yourtriplet>`  (or openssl-uwp or openssl-linux

[2020-11-07 22:15] AntonioCS opened #14458 "vcpkg with vcpkg.json cli improvemnts"
**DISCLAIMER**: I understand that `vcpkg` is not `npm` (node package manager) nor is it `composer` (php package manager), what I am trying to achieve here is to not only enrich vcpkg functionality but also make the life of developers that use vpckg easier and less error prone.

Hey,

I have recently started using the vpckg.json which is a great improvement (many thanks for adding this).
The follow

[2020-11-07 22:30] gdiObjects commented on #14451
Had issues building.
Yes, I have reported issues before.
Not with OpenSSL.

I followed Neumann-A's post:

D:\Development\Projects\vcpkg>.\vcpkg remove openssl-windows
The following packages are not installed, so not removed:
    openssl-windows:x86-windows
Another installed package matches the name of an unmatched request. Did you mean openssl-windows:x86-windows-static?
Package openssl-windows:x8

[2020-11-07 22:30] #14451 closed

[2020-11-07 23:32] vicroms commented on #14445
Hi @tapika it works with all packages.

https://github.com/microsoft/vcpkg/blob/master/docs/users/selecting-library-features.md

[2020-11-07 23:46] thumpro commented on #14012
I am not keen on building it but a lot of the packages depend on it and triplet is not using winpthreads that comes with MinGW installation.

[2020-11-07 23:47] thumpro commented on #14322
@longnguyen2004 Just one more thing that I really wanted to know, thanks. I guess since this is a community triplet, there is not much documentation.

[2020-11-07 23:55] nick42 commented on #14440
Okay, I'll give that I try on Monday.

If that does in fact resolve the issue, allow me to make two follow-up suggestions:

- The error message in the port file should be revised to include this specific advice, rather than referring to another library I know nothing about and have never installed. I would not be shocked if I installed openssl-windows at some point.
- If `vcpkg upgrade` is inheren

[2020-11-08 00:55] MaxRev-Dev opened #14459 "Why do remove curl-config on linux?"
Hi. I'm writing automation for builds of GDAL with my library - [gdal.netcore](https://github.com/MaxRev-Dev/gdal.netcore/tree/automation).
I can't find how I can link vcpkg's **CURL** package to local source of **PROJ6** library.

Here [you can find](
https://github.com/MaxRev-Dev/gdal.netcore/blob/19757e11dc0835b8bf631fea7e4e530fb559fc4b/unix/gdal-makefile#L131-L142
) my configuration. Configure

[2020-11-08 01:09] longnguyen2004 commented on #14012
Hmm then maybe I'll add an exception to not build pthreads4w on mingw triplets, give me some time.

[2020-11-08 01:17] StarGate-One commented on #14440
@nick42 @longnguyen2004 @foolnotion cc: @Neumann-A
- I was presented the same issue, even though I use the **_output of_ `vcpkg upgrade`** for a custom script to do a **`vcpkg remove [ports] --recurse`** followed by a **`vcpkg install [ports] --editable --x-use-aria2 --keep-going`**.
- It seems openssl is not a dependency of openssl-[uwp/unix/windows] so when you remove openssl, it is removed but

[2020-11-08 01:17] longnguyen2004 commented on #14322
@thumpro It all depends on the community to provide support for it. I've worked on a lot of other ports (openssl, libffi, freetype, just to name a few) to get it to build on mingw. Anyway I'll take a look at szip.

[2020-11-08 01:19] longnguyen2004 commented on #14440
#14457 is supposed to fix this, just have to wait for it to merge

[2020-11-08 01:21] longnguyen2004 commented on #14012
You just have to make sure the mingw toolchain is on your PATH, then vcpkg will automatically use it when you use a mingw triplet.
I regularly mix x64-windows and x64-mingw-dynamic and haven't had a problem.

[2020-11-08 01:25] StarGate-One commented on #14441
@ducdY Your vcpkg instance is out of date - the issue was fix in PR https://github.com/microsoft/vcpkg/pull/14220
1. `cd [vcpkg-root]`
2. `git pull` gets updates from https://github.com/microsoft/vcpkg
3. Recompile/link vcpkg binary:
  -- For windows `.\bootstrap-vcpkg.bat`
  -- For linux `./bootstrap-vcpkg.sh`

[2020-11-08 01:37] longnguyen2004 commented on #14322
@thumpro Please test #14460

[2020-11-08 04:33] JackBoosY commented on #14458
Thanks for advice!

[2020-11-08 05:01] BillyONeal commented on #13890
OK, considering of the 2 reporters here, 1 was caused by an autorun setting that tried to run a broken script, and the other was on a machine that experienced hardware failure, I'm closing this for now. If you experience similar problems, please open a new issue.

Thanks for the report!

[2020-11-08 05:01] #13890 closed

[2020-11-08 05:23] BillyONeal commented on #14339
Hmmmm that's strange; cmake shouldn't ever be calling `applocal.ps1`, that's only called by the msbuild integration pieces.

Can you show the specific invocation you're seeing, similar to the following?

[code]

[2020-11-08 05:25] BillyONeal commented on #14423
@Milerius I believe `--x-wait-for-lock` is the flag you're looking for, though we aren't really sure how that should interact with CMake projects right now.

[2020-11-08 05:27] Milerius commented on #14423
Yes but this need to be added by the `execute_process` inside `vcpkg.cmake` i guess ?

[2020-11-08 05:29] BillyONeal commented on #13483
Is that a pun?

[2020-11-08 06:49] ducdY opened #14461 "Error: Building package libpq:x86-windows-static failed with: BUILD_FAILED"
Package: libpq:x86-windows-static
  Vcpkg version: 2020.06.15-nohash

build-libpq-x86-windows-static-RELEASE-out.log

 .\Release\libpq\encnames.obj : fatal error LNK1112: module machine type 'x86' conflicts with target machine type 'x64' [D:\vcpkg\buildtrees\libpq\x86-windows-static-rel\libpq.vcxproj]

[2020-11-08 09:13] Nemirtingas commented on #13483
I didn't mean to make a pun ;). I tested libnice on Ubuntu vcpkg and it builds so thanks !

[2020-11-08 09:13] #13483 closed

[2020-11-08 12:24] erri120 commented on #14339
Hmm looks like this is a path problem. This problem only occurred when the path contained `[`,`]`,`,` and some spaces. Path `m:/Projects/opencvtest` worked but path `C:/Users/erri/Documents/School/[n] foo, bar/foo/bar/U1` did not

[2020-11-08 13:36] thumpro commented on #14322
Did a clean checkout of this branch and verified that szip builds. Thanks a lot!

Then I moved on to building the package that I actually needed szip for, hdf5, to see if it actually correctly links with other packages. There I was not able to move further because `zlib` dependency started failing. I am not sure if your changes can cause zlib port to fail and I can not directly say that is the rea

[2020-11-08 13:48] longnguyen2004 commented on #14322
Can you upload the build log? It's building fine for me
<details>
<summary>
Log
</summary>

[code]
</details>

[2020-11-08 13:57] linquize opened #14463 "[openssl] remove obsolete patches"
openssl: please remove patches that are not needed any more.

`unix/*.patch`
`uwp/fix-uwp-configure-unicode.patch`

[2020-11-08 14:00] sfhacker commented on #14322
I have seen several issues regarding zlib!

[2020-11-08 14:02] tuanhui-li commented on #12488
Hi, can you share how to add set(VCPKG_VISUAL_STUDIO_PATH "C:\VS2015"). I install the vs2015 in D:\application\visualstudio and change to english package, but I still got thesame problem as you. So can you share the details about in which file to set the VCPKG_VISUAL_STUDIO_PATH

[2020-11-08 14:08] tuanhui-li commented on #11305
Hi, I also want to know how to do set(VCPKG_PLATFORM_TOOLSET v140), how do you solve this problem

[2020-11-08 14:09] thumpro commented on #14322
About zlib, it is definitely not related to this issue, but something else. During ninja build, it looks for a program called `x86_64-w64-mingw32-windres.exe` due to some CMake config or something I guess. The problem is, this binary was named just `windres.exe` on my MinGW installation which I installed through MSYS2. I created a copy of it with the correct name and was able to build zlib fine. S

[2020-11-08 14:28] longnguyen2004 commented on #14322
I wasn't aware that prefixed `windres` isn't always available, I'll add a fallback into the toolchain file.

[2020-11-08 14:32] thumpro commented on #14322
Cool, I am looking forward to merging of this PR.

[2020-11-08 14:38] linquize commented on #14449
This is because `<WindowsTargetPlatformVersion>8.1</WindowsTargetPlatformVersion>` is generated in `DataODBC.vcxproj`.
Removing that property will work.

[2020-11-08 15:38] linquize commented on #14449
If you build poco source code with `cmake` directly without `vcpkg`, `ODBC` error also occur because Win 8.1 SDK is chosen in the generated vcxproj file.

[2020-11-08 16:18] linquize commented on #14461
Could you pull latest vcpkg, delete all packages and try again?

[2020-11-08 16:37] thumpro commented on #14322
Maybe we should close this ticket once the other PR is merged but since we caught some traction on this community triplet, I felt like adding this to here.

`ffmpeg` with x64-mingw-dynamic community triplet was failing for me (which is apart from hdf5, the other big dependency for opencv4 if you want to do video capture etc.)

I had to change the portfile as:

`$ git diff ports/ffmpeg/portfile.cma

[2020-11-08 16:54] longnguyen2004 commented on #14322
Hmm weird, I remember it working a while ago, I'll take a look at some point
Also, do not unset VCPKG_TARGET_IS_WINDOWS, instead use if(VCPKG_TARGET_IS_WINDOWS AND NOT VCPKG_TARGET_IS_MINGW)

[2020-11-08 17:44] davidtavarez opened #14466 "How do I set the CC properly while installing a library"
I'm trying to install a library like this:

`$ vcpkg install --triplet arm64-linux zlib --debug`

but it is failing...

[code]

the environment variables are set like this:

[code]

since this commit I am not able to install any library https://github.com/microsoft/vcpkg/commit/5e4d2fab8605a21972cb990ba49ade83ef19ffbf

How do I set the proper toolchain file?

[2020-11-08 20:34] lukewhitmore commented on #12620
Hoping for this one to be solved soon also. I have an RTX 3070 and can't install open cv at the moment.

[2020-11-08 21:34] DQSSSSS opened #14467 "Error: Building package libffi:x86-windows failed with: BUILD_FAILED"
I used vcpkg to install pybind11 on my windows10. Here are my error information.

PS C:\Users\10531\OneDrive - Microsoft\Documents\tool\vcpkg> .\vcpkg.exe install pybind11
Computing installation plan...
The following packages will be built and installed:
  * libffi[core]:x86-windows
  * openssl[core]:x86-windows
    pybind11[core]:x86-windows
  * python3[core]:x86-windows
Additional packages (*) w

[2020-11-08 21:37] DQSSSSS commented on #14467
Compilers: MS visual studio 2019

[2020-11-08 21:51] #14467 closed

[2020-11-08 22:36] jmelas opened #14468 "libxml2 vcpkg-cmake-wrapper.cmake bugs"
**Describe the bug**
In file vcpkg-cmake-wrapper.cmake of package LibXml2, the target LibXml2::LibXml2 is not linked against all necessary libraries

**Environment**
- OS: Windows

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install libxml2
2. find_package(LibXml2)
target_link_libraries(main PRIVATE LibXml2::LibXml2)
3. ZLIB_LIBRARIES and LIBLZMA_LIBRARIES are not linked, neither

[2020-11-08 23:20] GerardDR commented on #14403
[
[x86-windows.vcpkg_abi_info.txt](https://github.com/microsoft/vcpkg/files/5507340/x86-windows.vcpkg_abi_info.txt)
[install-x86-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/5507341/install-x86-windows-dbg-out.log)
[stdout-x86-windows.log](https://github.com/microsoft/vcpkg/files/5507342/stdout-x86-windows.log)

](url)

[2020-11-08 23:51] KaoCC commented on #4027
It seems like the package can be found but the link will fail. I did it like this:
[code]

Error message:
[code]

[2020-11-09 01:05] playgithub opened #14469 "[boost] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: Visual Studio 2019
- vcpkg: 2020.06.15-nohash
- vcpkg repo: pulled on 2020.11.9

**To Reproduce**
`./vcpkg install boost`

**Failure logs**
[code]

**Additional context**
Failed to download manually https://raw.githubusercontent.com/boostorg/boost/boost-1.74.0/LICENSE_1_0.txt

chromium
[code]

BTW, succeeded to install opencv via proxy, I'm sure th

[2020-11-09 01:17] playgithub commented on #14469
duplicated #11902

[2020-11-09 01:17] #14469 closed

[2020-11-09 01:20] 96chh commented on #14429
I tried again and succeeded.

[2020-11-09 01:20] #14429 closed

[2020-11-09 01:52] NancyLi1013 commented on #14263
Thanks for your update. I will check this again on my local.

[2020-11-09 01:58] NancyLi1013 commented on #14466
Hi @davidtavarez
Thanks for posting this issue.
Since this is a community-triplet issue, which is an unofficial triplet in vcpkg now.

Hope this reference can help you some.
https://stackoverflow.com/questions/54633860/how-can-i-fix-the-cmake-c-compiler-is-not-a-full-path-and-was-not-found-in-the

Thanks.

[2020-11-09 02:21] zibingrong opened #14470 "[vcpkg upgrade] [boost] upgrade boost will not upgrade boost-* packages"
**Describe the bug**
upgrade boost will not upgrade boost-* packages.
I think it should upgrade all boost-* packages to current version.

**Environment**
- OS: Windows 10
- Compiler: Visual Studio 16.7.7
**To Reproduce**
Steps to reproduce the behavior:

1. .\vcpkg.exe upgrade boost:x64-windows
2. See error:
The following packages will be rebuilt:
  * boost[core]:x64-windows
The following packages

[2020-11-09 02:22] #14024 closed

[2020-11-09 02:27] JackBoosY commented on #14164
@westfly Does _./installed/x64-linux/include/openssl/ssl.h_ exists on your machine?
I can't find this on your provided result.

[2020-11-09 02:31] JackBoosY commented on #14339
@BillyONeal I think it's a vcpkg bug.

[2020-11-09 02:37] #14440 closed

[2020-11-09 02:44] JackBoosY commented on #14428
[code]

[2020-11-09 02:47] JackBoosY commented on #14431
cc @Neumann-A

[2020-11-09 02:56] JackBoosY commented on #14442
Seems the cmake provided `FindPostgreSQL.cmake` is incorrect, it missed `openssl` library.

[2020-11-09 03:01] JackBoosY commented on #14459
Thanks for pointing this.

[2020-11-09 03:26] an-tao commented on #14442
It works correctly if I install libpq to my system.

[2020-11-09 04:10] westfly commented on #14164
this error happen when  rebuilding folly  for  upgrading folly as below

[code]
so I remove openssl-unix and rebuild folly
[code]
just solve it.
I think the reason as list
1. old folly depends on openssl-unix:x64-linux
2. new folly depends on openssl:x64-linux
3. openssl:x64-linux install failed when detect openssl-unix:x64-linux installed
4.  remove  include\openssl folder should be removed by  u

[2020-11-09 05:07] kamilz98 opened #14471 "bug when searching wampcc"
I just upgrade vcpkg today and when I type 'vcpkg search wampcc' I got a bunch of warnings so tried 'vcpkg search wampcc -debug' and this is the result:

[DEBUG] Feature flag 'binarycaching' unset
[DEBUG] Feature flag 'manifests' unset
[DEBUG] Feature flag 'compilertracking' unset
[DEBUG] Using vcpkg-root: F:\Library\vcpkg
[DEBUG] Using installed-root: F:\Library\vcpkg\installed
[DEBUG] Using buil

[2020-11-09 05:28] TheVeryDarkness opened #14472 "Why vcpkg won't install a powershell when there is a _VCPKG_PWSH_PATH-NOTFOUND"
These days I met _VCPKG_PWSH_PATH-NOTFOUND, which may be caused by my accidental uninstallation of powershell 7.0.3.
I've tried "vcpkg integrate powershell", updated some ports and libraries and installed another powershell 7.0.3, but the problem is still there when building a project with CMake, as vcpkg doesn't installed another powershell.
It says "  '_VCPKG_PWSH_PATH-NOTFOUND' is not recognize

[2020-11-09 06:01] JackBoosY commented on #14164
So I think #14457 should fixed this issue.

[2020-11-09 06:01] #14164 closed

[2020-11-09 06:03] LilyWangL commented on #14427
Thanks for posting this issue. `wxwidgets` build failed on Linux now. Closed as duplicate of #7931.

[2020-11-09 06:03] #14427 closed

[2020-11-09 06:32] NancyLi1013 commented on #14471
Hi @kamilz98

Thanks for posting this issue.

Have you run `.\bootstrap.bat ` before you execute the search command?

I cannot reproduce this on my machine.

[code]

[2020-11-09 06:39] JackBoosY commented on #14472
@BillyONeal Did your PR break this scene?

[2020-11-09 07:18] PhoebeHui commented on #14434
@kem0o, do you install windows sdk? if so, could you reinstall windows sdk by vs installer? see issue https://github.com/microsoft/vcpkg/issues/6324

Failures:

 LINK : fatal error LNK1104: cannot open file 'ucrtd.lib'

[2020-11-09 07:37] NancyLi1013 commented on #14463
Hi @linquize
Thanks for pointing this out.

I have submitted a PR #14477 to remove these unused patches.

[2020-11-09 07:40] PhoebeHui commented on #14449
It looks mixed up the window sdk revision 10.0.17763.0 and 10.0.18362.0, I noticed both are in build logs, could you reinstall the windows sdk, and try again? I can't repro this issue locally.

[2020-11-09 07:42] PhoebeHui commented on #14316
@Amf1k feel free to reopen this issue if it still be a question for you.

[2020-11-09 07:42] #14316 closed

[2020-11-09 07:52] heylaender commented on #14027
any news regarding the bug

[2020-11-09 07:53] PhoebeHui commented on #14420
Yes, this should be cmake issue, vcpkg currently upgrade cmake to 3.18.4, and it works well with cmake 3.18.4.

Good to know it works now for you.

[2020-11-09 07:53] #14420 closed

[2020-11-09 08:19] NancyLi1013 commented on #14438
Hi @Ziriax

Thanks for posting this issue.

If you are interested in this issue, you can make a PR to implement these features. We're happy that you would like to do this work.

[2020-11-09 08:22] PhoebeHui commented on #8537
@edidada, currently boost has been upgrade t0 1.74.0, please get latest source and try again, and report an new issue with failrure logs if the issue persist.

[2020-11-09 08:22] #8537 closed

[2020-11-09 08:31] MateCheck-rar commented on #14428
Sure.
[config-x64-linux-dbg-out.log](https://github.com/microsoft/vcpkg/files/5509012/config-x64-linux-dbg-out.log)

[config-x64-linux-dbg-err.log](https://github.com/microsoft/vcpkg/files/5509027/config-x64-linux-dbg-err.log)

[2020-11-09 08:32] PhoebeHui commented on #14470
Confrimed, this issue could reproduce.

As a workround, you can try following steps:

1. ./vcpkg remove boost-uninstall:x64-windows
2. Get vcpkg source by 'git pull'
3. ./vcpkg install boost:x64-windows

[2020-11-09 08:35] NancyLi1013 commented on #14424
@abique
Thanks for your further investigation about this issue.

I also checked this here https://sourceware.org/git/?p=bzip2.git;a=commit;h=6a8690fc8d26c815e798c588f796eabe9d684cf0
and found that `6a8690fc8d26c815e798c588f796eabe9d684cf0` seems to be the correct one.

@StarGate-One
Thanks for your clarifications. Seems that this REF is not updated by you.

@Sibras
Could you please help confirm wh

[2020-11-09 08:38] NancyLi1013 commented on #14471
Did you use `vcpkg upgrade` or `git pull` to update vcpkg?

[2020-11-09 08:40] NancyLi1013 commented on #14418
Hi @strega-nil

Could you please help take a look?

[2020-11-09 08:44] NancyLi1013 commented on #13499
Thanks for your test and update.

I will check this again on my local.

[2020-11-09 08:46] PhoebeHui commented on #14403
@GerardDR, thanks for your updates!

This is a known Upstream issue https://github.com/aws/aws-sdk-cpp/issues/1418, I will confrim if it fix in latest release,

[2020-11-09 09:22] JackBoosY commented on #14428
The macro `_LIBICONV_H` shouldn't be defined, did you install libiconv using other package manager(such as apt/yum)?

[2020-11-09 09:24] NancyLi1013 commented on #14263
Hi @vjandasek

It seems that there are something wrong with the patch.

Could you please help provide the install process here or try to clone a new repo based on #14421 to test this?

I try to install  this again on my machine based on the PR #14421 and there is no any error.

Before install `netcdf-c`, I have installed `hdf5[parallel]`.

[code]

[2020-11-09 09:36] Rabahjamal opened #14480 "[ffmpeg:x64-windows-static] build failure, nasm/yasm not found or too old"
**Host Environment**
- OS: Windows 10
- Compiler: Microsoft (R) C/C++ Optimizing Compiler Version 19.26.28805

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install ffmpeg:x64-windows-static`

**Failure logs**
- Console output
[code]
- Content of `C:\Users\misc\Documents\vcpkg\buildtrees\ffmpeg\build-x64-windows-static-rel-out.log`
[code]

**Additional context**
I've already installed

[2020-11-09 09:37] kamilz98 commented on #14471
I run `git pull` then `vcpkg upgrade` IIRC

[2020-11-09 09:45] MateCheck-rar commented on #14428
Just looked for it and yes, it's been installed using Anaconda. Thank you.

[2020-11-09 09:45] abique commented on #14424
You're welcome.
I think it would be good to have a tool that periodically check that the package sources are fine.

[2020-11-09 09:48] JackBoosY commented on #14428
@MateCheck-rar Please remove libicon using Anaconda and try again.

[2020-11-09 09:57] JackBoosY commented on #14428
`_LIBICONV_H` should be brought by the configuration files of other libraries in the system.

[2020-11-09 11:39] smzahraee commented on #14320
could you share your triplet i still have same problem even with http://downloads.yoctoproject.org/releases/yocto/yocto-3.1.3/toolchain/x86_64/poky-glibc-x86_64-core-image-sato-armv7vet2hf-neon-qemuarm-toolchain-3.1.3.sh sdk

[2020-11-09 11:44] smzahraee commented on #14320
my triplet

[code]

[2020-11-09 12:33] smzahraee commented on #14320
i commented `vcpkg_fixup_pkgconfig()` function from my port(`fmt`) and successfully compiled that

[2020-11-09 13:37] davidtavarez commented on #14466
Thanks @NancyLi1013

But if I'm using a custom triplet setting the `CMAKE_CXX_COMPILER` to `aarch64-unknown-linux-gnueabi-g++` (as my env) I should not have any problems... but I do:

 arm64-unknown-linux-static.cmake
[code]
[root:/] # cat /vcpkg/buildtrees/detect_compiler/config-arm64-unknown-linux-static-rel-err.log
CMake Error at CMakeLists.txt:11 (enable_language):
  The CMAKE_C_COMPILER:

[2020-11-09 14:00] longnguyen2004 commented on #14012
@thumpro Would you like to have it built on mingw anyway, or just use winpthreads?

[2020-11-09 15:01] ReverentOne opened #14484 "[0] Kill girls/women"
**Host Environment**
- OS: [e.g. Windows/Linux etc...]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install xxxx`

**Failure logs**
-Cut and past the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

**Additional context**
Add any other context about the problem here, such as what you

[2020-11-09 15:20] thumpro commented on #14012
I don't have a strong preference on this particular port actually. For me, as long as ports depending on it build, that's all I need. But considering the overall philosophy of vcpkg and being able to build all dependencies from source, I guess having it buildable with MinGW would be more appropriate.

[2020-11-09 15:42] longnguyen2004 commented on #14012
Right then, but I'll add a warning saying that it might be incompatible with winpthreads.

[2020-11-09 16:34] sfhacker commented on #14012
@thumpro Can you post here the screenshot showing the error messages you get when building this port from source?
I'll see what I can do to assist you.

[2020-11-09 17:01] sersus commented on #14449
Thank you, that was the reason for the failure. I reinstalled the SDK and everything is fine now.

[2020-11-09 17:01] #14449 closed

[2020-11-09 17:01] DieterDorsch opened #14486 "Error: Building package atk:arm-windows failed with: BUILD_FAILED"
**Describe the bug**
A clear and concise description of what the bug is.
vcpkg install gtk:arm-windows go to error

**Environment**
- OS: [e.g. Windows/Linux etc...]
- Compiler: revision
PS C:\vksrc\vcpkg> ./vcpkg install gtk:arm-windows
Computing installation plan...
The following packages will be built and installed:
  * atk[core]:arm-windows
  * brotli[core]:arm-windows
  * bzip2[core]:arm-wind

[2020-11-09 17:18] strega-nil commented on #14418
I believe it's been figured out, since the `vcpkg_installed` directory is in the `build` directory?

[2020-11-09 17:25] strega-nil commented on #14423
Yeah, probably the cmake build should pass that `--x-wait-for-lock`.

[2020-11-09 17:30] strega-nil commented on #14458
@AntonioCS fwiw, this is all planned for vcpkg; it's just that manifests are an early feature, and we haven't implemented all of the nice features yet :)

[2020-11-09 17:38] AntonioCS commented on #14458
@strega-nil cool cool!! Thank you for letting me know!
Is there a guide on how best to help/contribuite in terms of working with vcpkg code? I could always try :grinning: (not the best c++ dev, but also not the worst)

[2020-11-09 17:40] StarGate-One commented on #14424
It looks like the tag for bzip2 v1.0.8 https://sourceware.org/git/?p=bzip2.git;a=tag;h=75a94bea3918e612b879d6a11ca64b8689526147 pointing to commit https://sourceware.org/git/?p=bzip2.git;a=commit;h=6a8690fc8d26c815e798c588f796eabe9d684cf0

[2020-11-09 17:41] abique commented on #14424
So that would be the hash of the tag, and older git client would not be able to resolve it?

[2020-11-09 18:03] MateCheck-rar commented on #14428
Ok, I tried to remove libiconv using Anaconda, it didn't work due to a ton of conflicts. The report took an hour and a half to be performed and the list didn't fit my entire terminal buffer. Completely removing Anaconda (I do not need it anymore) defenitely solved the issue. Thank you for the help, I'll be more careful managing my environments.

[2020-11-09 18:06] linquize commented on #14449
reinstalled the SDK 10.0.18362.0 does not solve the problem.
Currently, this port uses MSBuild as generator.
If use Ninja instead of MSBuild, it can build successfully.

[2020-11-09 18:16] StarGate-One commented on #14424
- I honestly do not know why an older version can not resolve the tag?
- I went to https://git-scm.com/docs/git-tag git documentation on tags and it shows the tag command has been available since git v2.1.4 although there are various changes in some versions since then, it would be conceivable that older version may not be able to read tags created in new versions, but that is just a guess on my p

[2020-11-09 18:36] tobylane commented on #14398
I have the same issue, on Azure Pipelines so it should be a clean and correct environment.

CMake Error at installed/x64-windows/share/yasm-tool-helper/yasm-tool-helper.cmake:16 (message):
  Cross-targetting and x64 ports requiring yasm require the x86-windows
  yasm-tool to be available.  Please install yasm-tool:x86-windows first.
Call Stack (most recent call first):
  ports/mpg123/portfile.cmak

[2020-11-09 18:37] StarGate-One commented on #14486
There are many of these in the log file:

- You could try the fix at https://github.com/microsoft/vcpkg/issues/12865#issuecomment-673216071
- It may help/fix the issue

[2020-11-09 19:51] Ziriax opened #14487 "[libde265] update to 1.0.8"
Library name: **libde265**

New version number: **1.0.8**

Other information that may be useful (release notes, etc...)

The current version of libde265 (1.0.5) doesn't seem to work, it can't decode any iPhone photo, just failing with `codec not supported`.

I had to update both `libde265` to `v1.0.8` and `libheif` to `v1.9.1` to get it working.

You were already so kind to make a PR for `libheif`

[2020-11-09 20:07] jmacey opened #14488 "[openimageio]Inconsistente usage with vcpkg under mac windows and linux need to add Imath and OpenEXR for Mac."
When using the current vcpkg version of openimageio under windows and linux (RHEL 7 tested) I need to use the following in my CMakeLists.txt to build

find_package(OpenImageIO CONFIG REQUIRED)
target_link_libraries(oiiotest PRIVATE OpenImageIO::OpenImageIO OpenImageIO::OpenImageIO_Util)

However when using under Mac OSX I get the errors pasted below unless I add the following

find_package(OpenIma

[2020-11-09 20:31] vjandasek commented on #14263
Hi @NancyLi1013,

sorry, I probably did something incorrectly last time. I retried with fresh vcpkg, checked out your branch and now it works without any problems.

[2020-11-09 20:45] MrBolt2005 commented on #14114
Hey?_**!**_

[2020-11-09 22:00] joshuabogue opened #14489 "Duplicate files"
I am noticing that are duplicate files between the installed folder and the packages folder.  In the case some of these files can take up a lot of space.  For instance, when I build the angle library from google using vcpkg install angle:x64-windows I get the following:  D:\vcpkg\installed\x64-windows\debug\lib\  where this folder contains the libANGLE.lib which is about 877mb.  I also see this in

[2020-11-09 22:00] tapika commented on #14445
Ah, ok - not most obvious option. Could be maybe documented better - for example from usage (vcpkg install /?), or made also differently: If you specify libraries, it would automatically override default libraries, not append new ones.

What I've briefly tested - works as expected.

Usability issue, you can close this ticket if you want.

[2020-11-09 22:10] Shatur95 opened #14490 "qt5-translations not handled by applocal.ps1"
**Describe the bug**
[windeployqt](https://doc.qt.io/qt-5/windows-deployment.html) copies all Qt translations (from `share/qt5/translations/qt_<code>.qm`) to the folder with the specified executable file. This is necessary to make Qt-related strings translatable (for example, the standard cancel button text in dialogs). But `applocal.ps1` doesn't copy translations.

**To Reproduce**
Use `x_vcpkg_i

[2020-11-09 22:24] #14279 closed

[2020-11-09 22:29] strega-nil commented on #14470
This is kind of the issue with how we've implemented boost; it's not really a bug, just the way it works right now. We don't really have plans to fix this at this point, and I don't know how we'd do it in the future.

Assigning to @ras0219 since he seems like he might be interested in this.

[2020-11-09 22:39] #14331 closed

[2020-11-09 22:50] rib opened #14491 "[vcpkg] how to disable default features"
This is essentially a duplicate of https://github.com/microsoft/vcpkg/issues/11097 (closed) since the answer there didn't appear to work for me.

I'm trying to build ffmpeg with with the `gpl` feature disabled. ffmpeg has over 30 features and to start with I wasn't sure how to get the list of default features so I ended up running `./vcpkg install ffmpeg` waiting for the output that showed that it

[2020-11-09 22:50] #14410 closed

[2020-11-09 22:52] #13773 closed

[2020-11-09 22:57] #13271 closed

[2020-11-09 23:04] Alvaroalloc opened #14492 "wxwidgets errors"
A few weeks ago i had problems using libmariadb, and it was solved, but now i want to use wxwidgets, but i get this:
`[cmake] CMake Error at /Users/macuser/vcpkg/downloads/tools/cmake-3.18.4-osx/cmake-3.18.4-Darwin-x86_64/CMake.app/Contents/share/cmake-3.18/Modules/FindPackageHandleStandardArgs.cmake:165 (message):
[cmake]   Could NOT find wxWidgets (missing: wxWidgets_LIBRARIES
[cmake]   wxWidget

[2020-11-09 23:21] #14322 closed

[2020-11-09 23:27] #14403 closed

[2020-11-09 23:47] vicroms commented on #14445
@tapika Thanks for writing the instructions on the ffmpeg wiki!

[2020-11-09 23:47] #14445 closed

[2020-11-09 23:51] BillyONeal commented on #14472
There were a couple of commits wherein this was broken but I believe they were fixed a few days later. @TheVeryDarkness Can you post repo steps?

[2020-11-09 23:57] vicroms commented on #14491
I looked into ffmpeg's control file and the `postproc` feature has a declared dependency on `gpl`. I don't know enough about ffmpeg to know if that dependency is correct.

You can manually modify the CONTROL file to remove the dependency, as there is now way to remove a feature that is required upon by another feature or package.

https://github.com/microsoft/vcpkg/blob/254bd8fe89ba37d77718cefac6c

[2020-11-10 00:10] ducdY commented on #14461
It's still the same

.\vcpkg\vcpkg.exe --triplet x86-windows-static  install qt5-base

[2020-11-10 00:26] rib commented on #14491
Ah, ok, yeah it looks like that feature is a gpl feature itself.

In this case what's really desired is that I want the default features minus anything that depends on the gpl feature.

vcpkg is making it pretty hard to configure ffmpeg features here since I need to explicitly inspect the heirachy of dependencies and subtract anything depending on `gpl`. Ideally there could be some syntax like `-g

[2020-11-10 00:26] BillyONeal commented on #14339
@erri120 To clarify, you're saying if you run my instructions above but a [] are in the current working directory it breaks?

@JackBoosY If that is the case I agree but I have not reprod a problem myself.

[2020-11-10 00:47] #11467 closed

[2020-11-10 00:47] TheVeryDarkness commented on #14472
Okay. But I forget what I've done to vcpkg and Powershell, so I may need to reinstall a vcpkg, and it takes a little time

[2020-11-10 00:54] BillyONeal commented on #14472
@TheVeryDarkness I touched this most recently so I'm sorry if I caused you pain :(. But I've not seen the problem since https://github.com/microsoft/vcpkg/commit/b7056e9f1f34f18b6648b1f1d9c4e9d31f04e91c -- that doesn't mean that all the occurrences are gone, but it does mean that it doesn't happen in the most obvious cases.

[2020-11-10 00:55] PhoebeHui commented on #12481
@kenkit, this issue has been fixed, please get latest source and try again.

[2020-11-10 00:55] #12481 closed

[2020-11-10 01:43] vicroms commented on #14491
@rib Thanks for the report.

[2020-11-10 01:43] #14491 closed

[2020-11-10 01:45] JackBoosY commented on #14489
When we reach the installation step, we install the files that need to be installed into the _packages_, and post check the files in the _packages_ (such as: crt linkage, file location, copyright, etc.). When the test passes, these files will be copied to _installed_.
If the _packages_ on your machine are too large, you can delete it completely.

[2020-11-10 02:17] JackBoosY commented on #14490
cc @Neumann-A

[2020-11-10 02:26] #14428 closed

[2020-11-10 02:48] PhoebeHui commented on #9891
The PR has been merged, please get latest source and try again.

[2020-11-10 02:48] #9891 closed

[2020-11-10 02:51] JackBoosY commented on #14339
On my machine, when I create a new directory named `[ , ] vc pkg`, I can't even execute bootstrap successfully.

[2020-11-10 03:13] PhoebeHui commented on #9917
This issue have been fixed now, please get latest source and try again.

Starting package 3/3: curl:x86-uwp
Building package curl[core,non-http,openssl,ssl]:x86-uwp...
-- Using community triplet x86-uwp. This triplet configuration is not guaranteed to succeed.
-- [COMMUNITY] Loading triplet configuration from: F:\VCPKG\clean\triplets\community\x86-uwp.cmake
-- Using cached F:/VCPKG/clean/downloads

[2020-11-10 03:13] #9917 closed

[2020-11-10 03:19] JackBoosY commented on #12154
@omilov I can't repro your problem on my machine. It works fine when I select Debug mode.
In _AssimpConfig-debug.cmake_ :
[code]
It should be no problems.

[2020-11-10 03:19] PhoebeHui commented on #14480
@Rabahjamal, could you remove yasm from PATH? and try the one that vcpkg downloads, and see if the issue persist?

[2020-11-10 03:36] zibingrong commented on #14470
@PhoebeHui I try your workaround steps but failed:

 .\vcpkg.exe remove boost-uninstall:x64-windows
The following packages are not installed, so not removed:
    boost-uninstall:x64-windows
Package boost-uninstall:x64-windows is not installed

 .\vcpkg.exe install boost-uninstall:x64-windows
Your feedback is important to improve Vcpkg! Please take 3 minutes to complete our survey by running: vcpkg

[2020-11-10 04:45] wrobelda opened #14494 "[vcpkg] find_package treats OPTIONAL_COMPONENTS as obligatory"
**Describe the bug**
I have a following declaration in my CMakeLists.txt:

[code]

Despite the fact that some components are designated as optional with `OPTIONAL_COMPONENTS`, vcpkg ignores that switch and fails:

[code]
Only after removing the `QuickWidgets` from `OPTIONAL_COMPONENTS` altogether it continues with installation.

**Environment**
- OS: macOS

**Expected behavior**
`OPTIONAL_COMPONEN

[2020-11-10 05:41] #12154 closed

[2020-11-10 05:41] JackBoosY commented on #14494
cc @Neumann-A

[2020-11-10 05:43] PhoebeHui commented on #14470
@zibingrong, I see, boost-uninstall has been added by https://github.com/microsoft/vcpkg/pull/12851 on Aug, it doesn't work for previous revision, please try following steps instead.

./vcpkg remove boost-vcpkg-helpers --recurse
./vcpkg remove boost-modular-build-helper
./vcpkg remove boost-build

[2020-11-10 06:06] TheVeryDarkness commented on #14472
This time I run into something a bit strange..
I copy "D://vcpkg/downloads" into "D://downloads" to avoid long-time download then, and remove the folder "D://vcpkg" directly.
Then I tap some command from the root directory "D:/".
git clone https://github.com/microsoft/vcpkg.git
cd vcpkg
bootstrap-vcpkg
vcpkg install ... // Some small ports to test, and vcpkg doesn't download any dependencies.
vcpk

[2020-11-10 07:38] PhoebeHui commented on #2556
@plasticbox, please reopen this issue if it still be a problem for you.

[2020-11-10 07:38] #2556 closed

[2020-11-10 07:51] JackBoosY commented on #11487
@jay-thakur  Does this issue still bother you?

[2020-11-10 07:58] BillyONeal commented on #14472
And _VCPKG_PWSH_PATH-NOTFOUND is still there.

I see, your configured project in VS might still be broken from my mistake I fixed in that SHA. Can you ask VS to clear the CMake cache for the project you're building?

![image](https://user-images.githubusercontent.com/1544943/98645842-60196980-22e7-11eb-95df-ff0f7296dc1a.png)

[2020-11-10 08:18] Neumann-A commented on #14490
this should be handled by `qtdeploy.ps1` in qt5-base but I don't actively support automatic deployment via vcpkg. I would always argue that one should use the functions of cmake + windeployqt for qt deployment.

[2020-11-10 08:23] Shatur95 commented on #14490
It currently works fine for me, exept the translations, I just copy them manually.

[2020-11-10 08:29] Neumann-A commented on #14494
let me correct this: I did not make any changes to the `XXXXConfig.cmake` of Qt - which I am aware of - which would change the upstream behavior regarding those keywords. As such this is not a vcpkg issue but an upstream Qt issue. Looking at the `Qt5BasicConfig.cmake.in` there is no handling for `<PackageName>_FIND_REQUIRED_<c>` so it is highly likely that it is simply not support by the current u

[2020-11-10 08:38] jay-thakur commented on #11487
@JackBoosY we can close this issue.

[2020-11-10 08:38] #11487 closed

[2020-11-10 08:53] NancyLi1013 commented on #14424
@StarGate-One
Thanks for your further information about this issue.

Now we can confirm that the `REF 75a94bea3918e612b879d6a11ca64b8689526147 `used in vcpkg is a tag for bzip2 v1.0.8 instead of the commit `6a8690fc8d26c815e798c588f796eabe9d684cf0`.

It seems that this is related with git version.

@abique
Could you please help confirm which version of git you used that fetch bzip2 source failed?

[2020-11-10 08:55] Rabahjamal commented on #14480
@PhoebeHui I did but the issue still exists.

[2020-11-10 09:16] tomilov commented on #12154
@JackBoosY There is no `AssimpConfig-debug.cmake` in release installation. Nevertheless my workaround is not for `vcpkg`, but for `pacman` (Archlinux).
![image](https://user-images.githubusercontent.com/896175/98653792-49165e00-235f-11eb-87b3-9424b0ee5c02.png)

[2020-11-10 09:24] PhilippPaetzold opened #14498 "[freeimage:x64-linux] build failure"
**Host Environment**
- OS: Ubuntu 20.04 LTS
- Compiler: GCC 9.3.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install freeimage:x64-linux`
compile with cmake using attached CMakeLists.txt

**Failure logs**
[code]

**CMakeLists.txt**
[code]

[code]

[2020-11-10 09:50] TheVeryDarkness commented on #14472
Ah, it takes effect! Thank you a lot!
I should have tried delete the cache, sorry.

[2020-11-10 10:00] #14472 closed

[2020-11-10 10:00] JackBoosY commented on #14472
Thanks @BillyONeal !

[2020-11-10 10:45] Neumann-A commented on #14490
I beg to differ
a) there is https://cmake.org/cmake/help/latest/command/file.html#get-runtime-dependencies
b) there is windeployqt which can be added as a custom command in cmake and do the work.
That is what I mean with "manually"

[2020-11-10 10:46] OgreTransporter opened #14500 "Manifest definition"
In the documentation of the manifest definition the reference is missing that the line ends must be by force in the Linux format.

It would also be better that the script `Check-ManifestFormatting.ps1` tests for invalid line breaks and displays a suitable error message and not just *The formatting of the manifest files didn't match our expectation.*.

It would be even better if incorrect line brea

[2020-11-10 10:56] Shatur95 commented on #14490
I've tried this approach, but it copies many more libraries than required. Literally every library is copied, the application bundle size 4 times more than it needs :(

Yes, it works as expected for Qt deps. But I switched to `applocal.ps1` to copy other dependencies because of the problem above with `GET_RUNTIME_DEPENDENCIES`.

So, adding translations to `applocal.ps1` won't hurt, this is a part

[2020-11-10 10:57] mok-cn commented on #13614
编译问题后来解决了但是运行起来不能连接，看不到远程桌面。你的客户端是用一种脚本写的我不太明白，如果有时间可以帮我看下哈发自我的iPhone------------------ Original ------------------From: NancyLi1013  <notifications@github.com>Date: Fri,Nov 6,2020 4:23 PMTo: microsoft/vcpkg <vcpkg@noreply.github.com>Cc: mok-cn <mok_cn@hotmail.com>, Mention <mention@noreply.github.com>Subject: Re: [microsoft/vcpkg] How do I fix problem of can NOT found ZLIB(#13614)
@mok-cn
Is this

[2020-11-10 11:02] erri120 commented on #14339
Upon further testing I found out that the following paths work:
- `M:/Projects/opencvtest`
- `C:/Users/erri/Documents/opencvtest`
Changing `M:/Projects/opencvtest` to `M:/Projects/[]opencvtest` results in the following error:

[code]

`,opencvtest` and `, opencvtest` both work and the `,` appears to be unimportant. The `Resolve-Path` error disappears when you change `[]` and add something between