[2020-07-24 21:56] jmelas commented on #12565
I get exactly the same message when installing zlib with vcpkg!
After latest update to vcpkg #11550 Commit 458c20e
I use VCPKG_DEFAULT_TRIPLET=x64-windows-static

[2020-07-24 23:08] ImmaturityRules commented on #12565
Looks like they've started using MSYS for configuration and have broken vcpkg completely for now.

[2020-07-25 01:39] illera88 opened #12566 "[pcre] build failure on linux"
It's making a bunch of other projects to fail to build like glib

**Host Environment**
- OS: Linux
- Compiler: gcc (Debian 8.3.0-6) 8.3.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install pcre`

[code]

[2020-07-25 01:55] StarGate-One commented on #12565
@BillyONeal @JackBoosY @Neumann-A
cc: @jmelas @ImmaturityRules
1. I found the cmake find_program "required" option was added between 3.17.3 and 3.18.0, at least it is stated on the 3.18.0 doc page: https://cmake.org/cmake/help/latest/command/find_program.html where the 3.17.3 does not mention the required parameter: https://cmake.org/cmake/help/v3.17/command/find_program.html?highlight=find_progra

[2020-07-25 02:09] hatedMe commented on #12443
oh, exactly the same error,   `Unable to determine OpenSSL version: The openssl.exe command wasn't found. `

[2020-07-25 03:37] sandunder opened #12567 "bzip2 build failure"
- OS:windows
- Compiler: msvc

error:
-- Using cached D:/vcpkg-master/downloads/bzip2-1.0.6.tar.gz
-- Cleaning sources at D:/vcpkg-master/buildtrees/bzip2/src/1.0.6-8838f21f8e.clean. Use --editable to skip cleaning for the packages you specify.
-- Extracting source D:/vcpkg-master/downloads/bzip2-1.0.6.tar.gz
-- Applying patch fix-import-export-macros.patch
-- Applying patch fix-windows-include.pa

[2020-07-25 03:37] Yen commented on #372
@Kwizatz Is this something that [vcpkg feature paragraphs](https://github.com/microsoft/vcpkg/blob/master/docs/maintainers/control-files.md#feature-paragraphs) could solve?

There are a large number of build flags that I think most consumers of the V8 libraries will want to configure at some point. As you have noted, some combinations of these flags can have _considerable_ impacts on the resulting

[2020-07-25 03:44] tars-c commented on #12521
**install-x86-windows-dbg-out.log**
[0/1] C:\vcpkg-master\downloads\tools\cmake-3.17.2-windows\cmake-3.17.2-win32-x86\bin\cmake.exe --regenerate-during-build -SC:\vcpkg-master\buildtrees\asio\src\sio-1-12-2-b8d1defb62.clean -BC:\vcpkg-master\buildtrees\asio\x86-windows-dbg
-- Configuring done
-- Generating done
-- Build files have been written to: C:/vcpkg-master/buildtrees/asio/x86-windows-dbg
[0

[2020-07-25 04:01] rogerd007 commented on #12567
Related to #12288 I believe.

[2020-07-25 04:28] sandunder commented on #12567
I run this command:
`D:/vcpkg-master/downloads/tools/msys2/msys64/usr/bin/bash.exe --noprofile --norc -c "pacman -S --noconfirm --needed pkg-config"`
and here is the error:
`bash: pacman: command not found`

[2020-07-25 04:32] sandunder commented on #12567
I edit `/etc/pacman.conf`,and let `SigLevel` be `Never`,then it been corrected!

[2020-07-25 04:32] #12567 closed

[2020-07-25 04:39] ImmaturityRules commented on #12565
The above bugfix plus replacing the file `<vcpkg-root>\scripts\cmake\vcpkg_acquire_msys.cmake` with this version:

[vcpkg_acquire_msys.cmake](https://raw.githubusercontent.com/yasamoka/vcpkg/abc0b68bb24ea0a552a36826950b246288b61c75/scripts/cmake/vcpkg_acquire_msys.cmake)

fixed my vcpkg and I can update bzip2 and zlib.

[2020-07-25 05:45] Kwizatz commented on #372
@Yen That may help, however the v8 runtime seems to only depend on zlib and icu, I think you can disable icu, not sure about zlib.

I think the reason the monolithic library is so big is because it has a lot of repeated symbols + debug symbols, this is due to how chrome/google sets the compiler flags and the archaic and liberal use of inline functions within the code... the linker should be able t

[2020-07-25 06:06] satishbabariya opened #12568 "[llvm:x86-windows] build failure"
**Environment**
- OS: windows

**Failure logs**
[code]

[2020-07-25 06:51] timluther opened #12570 "Application program fails to link python library"
**Describe the bug**
When compiling my application project, I'm greeted with the following message:

Error	LNK1104	cannot open file 'python37_d.lib'	AnthracitePlayer

which is odd because I couldn't find where it was being linked, which led me to surmise that it was being linked by vcpkg magic.

**Environment**
- OS Name:                   Microsoft Windows 10 Home
  OS Version:                10.

[2020-07-25 08:53] c72578 commented on #12567
Related PR, which fixes these key issues: #12467

[2020-07-25 08:56] saketh023 opened #12571 "bootstrap-vcpkg Batch file triggers an error and is unable to install the libraries"
PS C:\src\vcpkg> .\bootstrap-vcpkg.bat
The property 'instance' cannot be found on this object. Verify that the property exists.
At C:\src\vcpkg\scripts\bootstrap.ps1:78 char:31
+         foreach ($instance in $asXml.instances.instance)
+                               ~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (:) [], PropertyNotFoundException
    + FullyQualifiedErrorId

[2020-07-25 10:13] #12563 closed

[2020-07-25 12:24] GeneralAdmin commented on #9947
I've the same issue with vcpkg using wide integration.

[2020-07-25 15:59] Cobollatin commented on #12565
This fix is working, many thanks.

[2020-07-25 16:20] StarGate-One commented on #12571
@saketh023
- Which Version of Windows do you have?
- I must be Windows 7, 8, 8.1 or 10.
- Which version Visual Studio do you have installed?
- **Visual Studio Code will _NOT_ work, it must be Visual Studio 2015 with update 3, Visual Studio 2017 or 2019.**
- The _Community_ versions of Visual Studio 2017/2019 are **free** https://visualstudio.microsoft.com/ and with a fully functional compiler/link

[2020-07-25 16:35] StarGate-One commented on #12568
Please attach/upload `C:\Users\Satish\vcpkg\buildtrees\llvm\install-x86-windows-dbg-out.log`

[2020-07-25 16:42] satishbabariya commented on #12568
@StarGate-One  [install-x86-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/4975965/install-x86-windows-dbg-out.log)

[2020-07-25 17:34] ebraminio opened #12572 "[harfbuzz] Use meson and update to 2.7.0"
Library name: harfbuzz

New version number: 2.7.0

Other information that may be useful (release notes, etc...)
Please use meson port just as fribidi, I've also tried that https://github.com/ebraminio/vcpkg/commit/681a100df21ad6bcf909894860b8c40ffcc6f6cc and the problem is `vcpkg_check_features` should give enabled/disabled instead on/off for meson and there are some issue on install parts as lack

[2020-07-25 18:27] StarGate-One commented on #12568
- `fatal error C1083: Cannot open include file: 'atlbase.h': No such file or directory`
- The file missing is in the Windows SDK
- vcpkg needs to have Windows SDK version 8.1 or later installed?

[2020-07-25 21:30] TyOverby opened #12573 "zlib:x86-windows-static build failure"
**Host Environment**
- OS: Windows
- Compiler: unknown

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Failure logs**
[Full Failure Log](https://pipelines.actions.githubusercontent.com/csCJ9hOMQLuRokZJ3YeMTTb0Vo7X3zPENCSV9mTCdxBUTimfv6/_apis/pipelines/1/runs/16/signedlogcontent/3?urlExpires=2020-07-25T21%3A25%3A18.1385954Z&urlSigningMethod=HMACV1&urlSignature=LcnoQg59B6AzqC0wqpmmud6fY

[2020-07-25 23:34] StarGate-One commented on #12573
See issue #12565

[2020-07-26 01:17] Hoikas commented on #12512
Duplicate of #10903

[2020-07-26 03:13] ngovankhoa commented on #12573
The same for me. The old version 2020.04 works well.

[2020-07-26 03:35] TyOverby commented on #12573
@ngovankhoa how do you install a specific version of the library?

[2020-07-26 03:42] vinayvinnujash opened #12574 "cairo"
**Host Environment**
- OS: Windows
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:`.  /vcpkg install cairo

**Failure logs**

PS C:\src\vcpkg\vcpkg> .\vcpkg.exe install cairo                                                                        Computing installation plan...
The following packages will be built and installed:
  * bzip2[core]:x86-windows
    cairo[core]:x86

[2020-07-26 05:05] anticrisis commented on #12567
This worked for me, though I gather it means signatures will not be verified. The file is in `vcpkg/downloads/tools/msys2/msys64/etc/pacman.conf`

[2020-07-26 05:15] longnguyen2004 opened #12575 "[tbb] Switch to better CMake build system"
****

**Is your feature request related to a problem? Please describe.**
TBB CMake build system assumes that MSVC is the only compiler used on Windows, which is obviously not true. I've reported this to the team but haven't gotten any answers. MinGW support in TBB seems unfinished imo (linking directly with DLLs is just so wrong), but it's there, and the MSYS2 team had got it working [with some pa

[2020-07-26 05:32] rfoz-git opened #12576 "libpg build failed windows10 x64"
Build process
Building package libpq[core,openssl,zlib]:x64-windows...
-- Using cached D:/vcpkg-2020.06/downloads/postgresql-12.2.tar.bz2
-- Using source at D:/vcpkg-2020.06/buildtrees/libpq/src/tgresql-12-3dcd887135
-- Copying libpq source files to D:/vcpkg-2020.06/buildtrees/libpq/x64-windows-rel...
-- Copying libpq source files... done
-- Applying patch patches/windows/Solution_RELEASE.patch
--

[2020-07-26 05:50] ngovankhoa commented on #12573
After cloning vcpkg, you need to go go vcpkg folder and run checkout command:
`git checkout 2020.04`

[2020-07-26 07:40] daemyung opened #12578 "[tinygltf] update to v2.4.0"
Library name: tinygltf

New version number: v2.4.0

Other information that may be useful (release notes, etc...)
The current viersion is v.2.2.0 so some critical codes are missing.

v2.4.0 Experimental RapidJSON support. Experimental C++14 support(C++14 may give better performance)
v2.3.0 Modified Material representation according to glTF 2.0 schema(and introduced TextureInfo class)

You can check

[2020-07-26 08:36] tom-r-o opened #12579 "gRPC support for HoloLens2"
I'd like to use gRPC in Unity in HoloLens2. HoloLens2 runs windows on an ARM64 CPU, and requires a dedicated gRPC DLL (grpc_csharp_ext.dll, which is part of the grpc repo).

I managed to build grpc_csharp_ext.dll for arm64-uwp by running: `vcpkg install grpc --triplet arm64-uwp`

This command doesn't work for me with the latest vcpkg, but it does work with an earlier version - commit 5d7ff36a (don

[2020-07-26 11:57] vejmartin commented on #12572
@ebraminio, thank you the details! I picked up your work from https://github.com/microsoft/vcpkg/commit/681a100df21ad6bcf909894860b8c40ffcc6f6cc and got the macOS port working. However, I'm having issues passing the `freetype`, `icu`, `glib` and `graphite2` dependencies to `meson`.

I tried using `dependency(..., method : 'cmake')` and `cpp.find_library` in `meson`. However, I couldn't get either

[2020-07-26 14:38] Spejik opened #12580 "[New Port Request] olcPixelGameEngine"
Library name: olcPixelGameEngine

Library description: An cross-platform pixel drawing and user interface framework

Source repository URL: https://github.com/OneLoneCoder/olcPixelGameEngine

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included):
There are some [extensio

[2020-07-26 14:53] ebraminio commented on #12572
It tries both pkg-config and cmake, then fallbacks to `cpp.find_library('freetype',` https://github.com/harfbuzz/harfbuzz/blob/master/meson.build#L78 but just for MSVC, maybe that makes it work if wasn't msvc limited?

Maybe we can ping @codicodi https://github.com/microsoft/vcpkg/commit/6ca475a5b47e0a49e2cdd4e65f3c51913a431328#diff-2dbb69c73b42618914cba39c2e271bb6 to help us out here, a help will

[2020-07-26 16:04] sphoto commented on #11818
This PR does not work for me (using vcpkg 2020.06.15, VS2015 on Windows 10 1909)

I am getting:

**libcurl.lib(libcurl.rc.res) : fatal error LNK1241: resource file libpq.lib(libpq.res) already specified**

It seems that the several resource files in some *.lib are the root cause. I fixed this issue manually by adding /LTCG to the linker command in makefile.vc:

`lib /nologo /LTCG /out:gdal.lib $(L

[2020-07-26 16:43] Mafizd opened #12581 "Deu esses erros, eu não sei oque to fazendo eu estava seguindo um tutorial no youtube e o do cara não deu esses erros"
error: mingw32: key "4A6129F4E4B84AE46ED7F635628F528CF3053E04" is unknown
error: key "4A6129F4E4B84AE46ED7F635628F528CF3053E04" could not be looked up remotely
error: failed to update mingw32 (invalid or corrupted database (PGP signature))
downloading mingw64.db...
downloading mingw64.db.sig...
error: mingw64: key "4A6129F4E4B84AE46ED7F635628F528CF3053E04" is unknown
error: key "4A6129F4E4B84AE46E

[2020-07-26 17:47] StarGate-One commented on #12574
Duplicate - See #12565
**Could not find PKGCONFIG using the following names: pkg-config**

[2020-07-26 17:53] StarGate-One commented on #12576
Maybe duplicate of #12443

[2020-07-26 17:57] StarGate-One commented on #12581
Please complete an issue report as we have no idea or no information was provided on what you were doing when you received this error?
https://github.com/microsoft/vcpkg/issues/new?assignees=&labels=port+bug&template=report-package-build-failure.md&title=%5B%3Cport+name%3E%5D+build+failure

[2020-07-26 18:32] #12581 closed

[2020-07-26 19:29] Hydr4bytes opened #12582 "zlib:x64-windows build failure"
**Host Environment**
- OS: Windows
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install zlib:x64-windows`

**Failure logs**
CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:72 (message):
    Command failed: C:/dev/vcpkg/downloads/tools/msys2/msys64/usr/bin/bash.exe --noprofile --norc -c "pacman -S --noconfirm --needed pkg-config"
    Working Dir

[2020-07-26 19:35] #12573 closed

[2020-07-26 19:35] TyOverby commented on #12573
Closed in favor of #12565

[2020-07-26 19:52] StarGate-One commented on #12582
Please attache/upload the file `C:\dev\vcpkg\buildtrees\zlib\msys-pacman-x64-windows-err.log` to this issue for review and possible corrective actions.

[2020-07-26 21:32] amrosado commented on #12582
I'm having a similar issue and I've been trying to figure it out.  I believe the output might look like this.

[code]

[2020-07-26 21:37] ashmereyna opened #12583 "azure-storage-cpp:x64-windows build failure"
**Host Environment**
- OS: windows10
- Compiler: Microsoft (R) C/C++ Optimizing Compiler Version 19.26.28806 for x86

**To Reproduce**
Steps to reproduce the behavior:
./vcpkg install azure-storage-cpp:x64-windows

**Failure logs**
F:\dv>.\vcpkg\vcpkg install azure-storage-cpp:x64-windows
Computing installation plan...
A suitable version of cmake was not found (required v3.17.2). Downloading porta

[2020-07-26 21:41] Goddard commented on #12582
Also effects me.

[2020-07-26 21:45] BenKey commented on #12582
I am getting the same issue when building ICU.

[2020-07-26 22:05] StarGate-One commented on #12582
See #12565 Down where @ImmaturityRules mentions they had to modify `<vcpkg-root>\scripts\cmake\vcpkg_acquire_msys.cmake` adding the crypto keyrings allowing MSYS to download the appropriate packages, by attaching it to the post https://raw.githubusercontent.com/yasamoka/vcpkg/abc0b68bb24ea0a552a36826950b246288b61c75/scripts/cmake/vcpkg_acquire_msys.cmake.
I downloaded it and replaced it on my syst

[2020-07-26 22:14] StarGate-One commented on #12583
See #12565 - There are 2 issues:
1. `vcpkg_fixup_pkconfig.cmake` needs to be reworked - PR #12569 is in the works but in the mean time you can make the changes shown by myself @StarGate-One to the script found in `<vcpkg-root>\scripts\cmake`
2. `vcpkg_acquire_msys.cmake` needs to have the MSYS/mingw crypto keyrings added, @ImmaturityRules has attached a copy to this same issue which fix this issue

[2020-07-26 22:20] StarGate-One commented on #12582
See #12565 - There are 2 issues:
1. `vcpkg_fixup_pkconfig.cmake` needs to be reworked - PR #12569 is in the works but in the mean time you can make the changes shown by myself @StarGate-One to the script found in `<vcpkg-root>\scripts\cmake` to temporarily fix this issue.
[vcpkg_fixup_pkgconfig.cmake.txt](https://github.com/microsoft/vcpkg/files/4978792/vcpkg_fixup_pkgconfig.cmake.txt)

2. `vcpkg_

[2020-07-26 22:21] StarGate-One commented on #12565
See #12565 - There are 2 issues:
1. `vcpkg_fixup_pkconfig.cmake` needs to be reworked - PR #12569 is in the works but in the mean time you can make the changes shown by myself @StarGate-One to the script found in `<vcpkg-root>\scripts\cmake` to temporarily fix this issue.
[vcpkg_fixup_pkgconfig.cmake.txt](https://github.com/microsoft/vcpkg/files/4978792/vcpkg_fixup_pkgconfig.cmake.txt)

2. `vcpkg_

[2020-07-26 22:36] StarGate-One opened #12584 "[vcpkg_acquire_msys] build failure with "error: failed to update mingw32/mingw64 (invalid or corrupted database (PGP signature))""
**Host Environment**
- OS: Windows 10
- Compiler: N/A

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install <any port needing MSYS ming32/ming64 to build port>`

**Failure logs**
- Cut and past the appropriate build messages from the console output.
See #12565 #12582 #12583

- Please attach any additional failure logs mentioned in the console output.
See #12565 #12582 #12583

**Addit

[2020-07-26 23:16] TheReclif commented on #12565
I tried applying both fixes. The first fix regarding `vcpkg_fixup_pkconfig.cmake` worked for me, but apparently the second one didn't.
Error description:
[code]
And the other error log, made by pacman (`msys-pacman-x86-windows-err.log`):
[code]

[2020-07-26 23:21] ImmaturityRules commented on #12565
@TheReclif Have you tried removing the `<vcpkg-root>\downloads\tools\msys2` folder and then trying to upgrade bzip2 again?

[2020-07-26 23:29] TheReclif commented on #12565
I tried with a clean install of vcpkg and it worked. Thanks!

[2020-07-27 00:19] ashmereyna commented on #12583
Thanks so much, that worked.
I had to start with a new vcpkg install because the one I had was corrupt after initial failure.

[2020-07-27 00:19] #12583 closed

[2020-07-27 00:33] ImmaturityRules commented on #12584
For the record, I didn't create the script I linked, that was @yasamoka.

[2020-07-27 00:40] StarGate-One commented on #12584
Thanks to you and @yasamoka

[2020-07-27 00:42] yasamoka commented on #12584
I believe that the script I modified to work on Friday is the same as the one currently in the already open keyring issue. It's been fixed and hopefully the PR should be accepted come Monday.

[2020-07-27 01:22] rfoz-git commented on #12576
Thanks

[2020-07-27 01:38] rfoz-git commented on #12443
When i try to build gdal.the same  error occur, i could install all dependence excapt libpq. Anyone have meet this problem and solved it?

[2020-07-27 02:14] PhoebeHui commented on #12557
@StarGate-One, thanks for your commnent!

[2020-07-27 02:14] #12557 closed

[2020-07-27 02:48] JackBoosY commented on #12558
The feature related code can replace with `vcpkg_check_features`.

[2020-07-27 03:07] JackBoosY commented on #12565
@Neumann-A Could you please take a look?

Thanks.

[2020-07-27 03:08] JackBoosY commented on #9947
@GeneralAdmin More details please?

[2020-07-27 03:15] JackBoosY commented on #12576
Duplicate with #12443, please track that issue.

[2020-07-27 03:15] #12576 closed

[2020-07-27 03:19] JackBoosY commented on #12558
I didn't encounter the problem you met:
[code]

[2020-07-27 03:20] JackBoosY commented on #12558
And I already tried to add this port before, see https://github.com/microsoft/vcpkg/pull/7673.

[2020-07-27 03:45] ferjif opened #12587 "Building Opencv4 is successful but doesn't download opencv_ffmpeg.dll and gives no error until you try to use video capture"
**The Bug is**
I recently installed opencv and it built and installed fine. but the problem is the opencv_ffmpeg.dll didn't download. I used both x86 and x64 windows triplets but still the file wasn't downloaded.
**Environment**
- OS: windows 10
- Compiler: MSVC 19
**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install opencv opencv[ffmpeg]
2. No errors builds just fine

**Expected b

[2020-07-27 03:46] 57Hao opened #12588 "can not find package in cmake"
my env:
    ubuntu 18.04
    cmake 3.10
    vcpkg lastest

i use the demo https://github.com/microsoft/vcpkg/blob/master/docs/index.md

this is my CMakeLists.txt
[code]
use "cmake .. -DCMAKE_TOOLCHAIN_FILE=/home/wqh/vcpkg/vcpkg/scripts/buildsystems/vcpkg.cmake"
the output is
[code]

[2020-07-27 04:28] VladBolotov opened #12589 "[fmt:x64-windows] build failure"
**Host Environment**
- OS: Windows 10
- Compiler:  C/C++ Optimizing Compiler Version 19.26.28806

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg.exe install fmr:x64-windows`

**Failure logs**
[code]

[2020-07-27 04:46] sepcon opened #12590 "[x86-windows] zlib build failure"
**Host Environment**
- OS: Windows 10
- Compiler: msvc 14

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install cpprestsdk`

**Failure logs**
`CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:72 (message):
    Command failed: D:/SourceCode/GitHub/toolchains/vcpkg/downloads/tools/msys2/msys64/usr/bin/bash.exe --noprofile --norc -c "pacman -S --noconfirm --needed pkg-c

[2020-07-27 04:57] Hiwaytras commented on #6419
This issue has been fixed! How?

[2020-07-27 05:08] ankurverma85 commented on #12590
https://www.msys2.org/news/#2020-06-29-new-packagers
This seems to work for me

[2020-07-27 05:24] JackBoosY commented on #12570
Hi @timluther, thanks for reporting this issue.
Sadly, I can' repro this issue. Please rerun integrate command and try again.

Thanks.

[2020-07-27 06:17] vejmartin commented on #12572
I tried using the env variables (`CFLAGS`, `CXXFLAGS`, `LDFLAGS`) and replaced `dependency('freetype2', required: false)` with `cpp.find_library`. `meson` was then able to find `freetype`. However, it added it as `-lfreetype` instead of using the absolute path to the library file, and none of the`-I` or `-L` flags actually made it to the resulting `build.ninja` file.

I might be wrong, but by the

[2020-07-27 06:21] NancyLi1013 commented on #12571
Hi @saketh023
Thanks for posting this issue.
Have you installed Visual Studio on your machine? please make sure the version is 2015 update 3 or greater.

@StarGate-One
Thanks for your help.

[2020-07-27 06:24] JackBoosY commented on #12443
I still can't repro this issue.
https://github.com/microsoft/vcpkg/blob/458c20e94b9f558b523f187ce403bd062e131cdb/ports/libpq/portfile.cmake#L159
The path of openssl.exe is set here, I don't know why I can't find it.

Anyone can provide my the full logs?

[2020-07-27 06:26] JonLiu1993 commented on #12578
@daemyung Version 2.4.0 has not been released yet, we will update it as soon as possible after release

[2020-07-27 06:43] JackBoosY commented on #12588
Did you run command `./vcpkg integrate install` first?

[2020-07-27 06:47] JackBoosY commented on #12579
Hi @tom-r-o, thanks for reporting this issue!
Could you provide some sample code?

Thanks.

[2020-07-27 06:47] 57Hao commented on #12588
the vcpkg dir is /home/wqh/,my project dir is /root/.  does it have any influence?

[2020-07-27 06:49] JackBoosY commented on #12588
@57Hao Nope.

[2020-07-27 06:49] PhoebeHui commented on #12590
Duplicated to https://github.com/microsoft/vcpkg/issues/12582.

[2020-07-27 06:49] #12590 closed

[2020-07-27 06:52] saketh023 commented on #12571
I reinstalled visual studio 2019 community edition. I also have Visual Studio Code installed long back.
This time the batch file worked...!
Thanks for your help @StarGate-One and @NancyLi1013 !
But, i tried executing c++ code in VSCode and it is showing an include path error.
Please help me with it...

[2020-07-27 06:52] PhoebeHui commented on #12582
We have a exist PR #12467 to fix this issue,  appreciate your effort very much.

[2020-07-27 06:52] JackBoosY commented on #12587
Hi @ferjif, thanks for reporting this issue.
Could you try #11130 changes?

Thanks.

[2020-07-27 06:54] daemyung commented on #12578
@JonLiu1993 Then could you update to v2.3.0?

[2020-07-27 06:56] JackBoosY commented on #12561
Related code:
https://github.com/microsoft/vcpkg/blob/6bf5adff937abd9bf09fb1c3fda40b5f566f8acd/toolsrc/src/vcpkg/install.cpp#L681
https://github.com/microsoft/vcpkg/blob/6bf5adff937abd9bf09fb1c3fda40b5f566f8acd/toolsrc/src/vcpkg/install.cpp#L690

[2020-07-27 07:01] JonLiu1993 commented on #12578
@daemyung Sorry, version 2.3.0 has not been released, the latest version is 2.2.0

[2020-07-27 07:03] #12571 closed

[2020-07-27 07:04] LilyWangL commented on #11069
@yurybura Sorry I am late. `python3` has been updated to 3.8, I can installed it successfully on Linux Ubuntu 16.04. Could you please update VCPKG and rebuild `python3`?

[2020-07-27 07:05] JackBoosY commented on #12029
I think we should consider the scenes like this.

[2020-07-27 07:12] ferjif commented on #12587
ok. i'll try it and get back to you.
Thanks

[2020-07-27 07:20] PhoebeHui commented on #12568
There are 2 issues here:
1.  fatal error C1083: Cannot open include file: 'atlbase.h': No such file or directory

You need to install atl/mfc related components, for vs2017,  you can install it by vs installer:
![image](https://user-images.githubusercontent.com/20694052/88513312-a4277d80-d01a-11ea-86ce-145a7762cdf9.png)

2. error C3437: #pragma execution_character_set is not supported when /source

[2020-07-27 07:21] NancyLi1013 commented on #9091
Hi @paul-reilly
Thanks for posting this issue.
Does this can meet your demands if you run install again to show the usage instructions?

[2020-07-27 07:24] prokotg commented on #12582
Same MSYS2 thing withm Glibmm, just leting know

[2020-07-27 07:28] PhoebeHui commented on #12561
The PROJECT_NAME is not always to be same with target name, I think that's why it's not used here.

[2020-07-27 07:41] thisptr-hub opened #12591 "[qt5-declarative] build failure"
**Host Environment**
- OS: WSL2 Ubuntu 20.04 on Windows 10
- Compiler: g++ (Ubuntu 9.3.0-10ubuntu2) 9.3.0, GNU ld (GNU Binutils for Ubuntu) 2.34
- Vcpkg package management program version 2020.06.15-unknownhash

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install qt5-declarative:x64-linux`

**Failure logs**

[package-build-x64-linux-dbg-err.log](https://github.com/microsoft/vcpkg/fi

[2020-07-27 08:02] PhoebeHui commented on #10873
Good point! @traversaro, thanks for bringing up this!

[2020-07-27 08:13] JackBoosY commented on #8049
Hi everyone, can anyone test my PR #12592?

Thanks.

[2020-07-27 08:23] aPSopt opened #12593 "[boost] update/new install build failure"
**Host Environment**
- OS: Windows 10
- Compiler: msvs 2019 (last update)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg upgrade boost --no-dry-run`

**Failure logs**

[2020-07-27 08:26] aPSopt commented on #12593
With new (clear) install I receive following error:

[2020-07-27 08:27] 57Hao commented on #12588
in user wqh，vcpkg worked. in user root,it does not work.
is the vcpkg can not use by root?

[2020-07-27 08:32] aPSopt commented on #12593
I propose before apply any commit - to make the small smoke test.
Because it is not the first and not the seconв time the boost build trouble happens.

I note that the boost - is base library for most part of others. And whent it broken - all others inaccessible too.
So now I have broken all libraries stack :((((

I propose to make more serious approach for applaying changes to boost build.

[2020-07-27 08:34] xorange opened #12594 "[protobuf:x64-windows] build failure"
**Host Environment**
- OS: Windows 10 pro, x64
- Compiler: (not sure)

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg\vcpkg.exe install protobuf protobuf:x64-windows`

1. I'm following [protobuf installation guide](https://github.com/protocolbuffers/protobuf/tree/master/src#c-installation---windows)
2. I open windows Command Line Prompt and use `.\vcpkg\vcpkg.exe install protobuf proto

[2020-07-27 08:36] JackBoosY commented on #12588
I don't think so.
@strega-nil Could you please take a look?

Thanks.

[2020-07-27 08:36] JackBoosY commented on #12593
#12467 will fix this issue.

[2020-07-27 08:37] JackBoosY commented on #12594
#12467 will fix this issue.

[2020-07-27 08:39] JackBoosY commented on #12591
@Neumann-A Could you please take a look?

Thanks.

[2020-07-27 08:43] NancyLi1013 commented on #12574
Hi @vinayvinnujash
Thanks for posting this issue.

 For the issue caused by` vcpkg_fixup_pkgconfig()`, there is a PR #12568 to fix it.

 For the issue caused by `io2d`, it seems that there is no any ports that need to depend on `io2d`. Is your project that is required for `io2d`?

You might need to run ./vcpkg integrate install and then add -DCMAKE_TOOLCHAIN_FILE=_VCPKG_ROOT/vcpkg/scripts/buildsys

[2020-07-27 08:45] xorange commented on #12594
Thanks for incredibly fast response.

Any workaround suggestions?

[2020-07-27 09:01] 57Hao commented on #12588
it works now.
the reason is the cmake cathe，maybe .
i run commands in this order
[code]

[2020-07-27 09:01] #12588 closed

[2020-07-27 09:06] Neumann-A commented on #12591
@JackBoosY `exhaustedmemory` does not look like something I am able to fix

[2020-07-27 09:08] JackBoosY commented on #12594
@xorange Could you try #12467 changes?

[2020-07-27 09:13] NancyLi1013 commented on #12525
@strega-nil
Could you please help take a look?
Thanks.

[2020-07-27 09:19] NancyLi1013 commented on #7017
Hi @mikebmcl

Does the workload from @vicroms can meet your demands?

[2020-07-27 09:22] JonLiu1993 commented on #12566
Hi @illera88
Could you please remove openssl first and then rebuild this? Then send me the log. I cannot reproduce this on my local.

[2020-07-27 09:36] NancyLi1013 commented on #7045
Hi @duyanning
Thanks for posting this issue.
This URL might help you some.
https://github.com/JackBoos/vcpkg/commits/mirror_zhCN

We're planning to add official mirror in the future.
The PR #12532 will also fix this kind of issues.

[2020-07-27 09:45] xorange commented on #12594
I suppose you mean workaround provided by yasamoka as follows:
[code]
and from [this post](https://www.msys2.org/news/#2020-06-29-new-packagers)

I do not have command `pacman` or `pacman-key` in my environment. And currently I'm lack of knowledge to acquire or use one.

If someone happened to see this issue and decided to try out, please share your result. Do note that quote yasamoka: `As usual w

[2020-07-27 09:52] LilyWangL commented on #12545
Thanks for posting this issue. Do you install antivirus sw on your device? It looks like antivirus sw blocks `getarch.exe`. Could you close antivirus sw and rebuild `openblas`?

[2020-07-27 09:53] JackBoosY commented on #12594
@xorange Just merge his branch to your master, then rerun the install command.

[2020-07-27 10:10] claremacrae opened #12595 "Visual Studio build of vcpkg omits 11 source files, 152 test cases & 346 assertions"
**Describe the bug**

* `vcpkgtest.vcxproj` does not include all .cpp files in `toolsrc\src\vcpkg-test`
* not all tests are compiled and run via Visual Studio

**Environment**
- OS: Windows 10 Pro 2004 (OS Build 19041.329)
- Compiler: see below

[code]

**To Reproduce**

Steps to reproduce the behavior:

**A. Run all tests in Visual Studio, from vcpkg.sln**

1. git checkout 0896cfcc301843b455bf144

[2020-07-27 10:10] claremacrae commented on #12595
/CC @strega-nil for info...

[2020-07-27 10:54] xorange commented on #12594
Yes problem fixed.

Step:
1. merge [patch](https://github.com/microsoft/vcpkg/pull/12467/files#diff-c85f9ff7711f9ba06b7b2cb5647cf433)
2. `rm downloads/tools/msys2/initialized-msys2_64.stamp` (to trigger msys2 tools download and install)
3. run `cmd` with admin priviledge
4. rerun install

Thanks.

[2020-07-27 10:54] #12594 closed

[2020-07-27 11:10] luciy-marciy opened #12596 "[New Port Request] Scapix"
Library name: Scapix

Library description: Automatic, on the fly bindings from C++ to Java, Objective-C, Swift, Python, JavaScript (WebAssembly), and C#.

Source repository URL: https://github.com/scapix-com/scapix

Project homepage (if different from the source repository): https://www.scapix.com/

[2020-07-27 11:22] tom-r-o commented on #12579
Hi @JackBoosY, the code I'm using is based on the "hello world" sample from the grpc folks:
[basic.proto.txt](https://github.com/microsoft/vcpkg/files/4981681/basic.proto.txt), [Program.cs.txt](https://github.com/microsoft/vcpkg/files/4981680/Program.cs.txt)

I have a .net core 3.0 grpc server and a unity grpc client (which works on desktop, but doesn't work on HoloLens2).
The client's code uses t

[2020-07-27 11:48] ljere opened #12597 "[bzip2:x64-windows] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: Visual Studio 2019 version 16.1

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install bzip2:x64-windows`

**Failure logs**
C:\Library\vcpkg>vcpkg install bzip2:x64-windows
Computing installation plan...
The following packages will be built and installed:
    bzip2[core]:x64-windows
Detecting compiler hash for triplet x64-windows...
St

[2020-07-27 12:11] ljere commented on #12597
I fixed it temporarily with https://github.com/microsoft/vcpkg/issues/12567#issuecomment-663807503

[2020-07-27 12:12] chenpei2 commented on #12594
I have the same problem and #12467 works for me. I still want to know how this happened and how to avoid such problems? because I'm not updating my environment .I just removed ffmpeg which I installed a few days ago and tried to reinstall it.

[2020-07-27 13:22] daemyung commented on #12578
@JonLiu1993 It's strange... because v2.4.2 is released and I can see on the code. I think vcpkg tracks the version from git tags. I have raised up the issue on tinygltf(https://github.com/syoyo/tinygltf/issues/282). Please update after this issue is done. Thanks for your help.

[2020-07-27 13:34] #12574 closed

[2020-07-27 14:07] daemyung commented on #12578
@JonLiu1993 I have talked with syoyo who is maintainer of tinygltf. tinygltf doesn't support vcpkg officially so you can update tinygltf in vcpkg by yourself. Please update it to v2.4.2.

[2020-07-27 14:18] GeorgeBarlow opened #12598 "[curlpp[core]:x86-windows] build failure"
**Host Environment**
- OS: Windows 10 x64
- Compiler: Visual Studio 2019 v16.6.4

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install curlpp`

**Failure logs**
[code]

**Additional context**
I've installed many other vcpkg packages, however when installing curlpp it doesn't seem to like it. Any directions or resolutions would be much appreciated!

Thanks,
George

[2020-07-27 14:27] paul-reilly commented on #9091
Yes for me it's fine, now that I know! :)

[2020-07-27 15:24] yangjiechina opened #12599 "[wangle>] build failure"
**Host Environment**
- OS: windows10
- Compiler: Visual Studio 2017

**To Reproduce**
Steps to reproduce the behavior:
` .\vcpkg.exe install wangle:x64-windows`

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
  * boost-algorithm[core]:x64-windows
  * boost-any[core]:x64-windows
  * boost-atomic[core]:x64-windows
  * boost-build[core]:x64-windows

[2020-07-27 15:42] GeorgeBarlow commented on #12598
Right, I've found a workaround but it's dodgy, to say the least. I was reading through a couple of issues around MINGW/MSYS & VCPKG and seems like there is some sort of problem with all MSYS included ports. I found disabling the check to see whether a signed key is valid lets you install it, however, please be cautious as this can be dangerous, you're not letting Pacman check for trusted sources.

[2020-07-27 15:44] TheReclif opened #12600 "[libzip] find_package doesn't work as well as setting libzip_DIR"
****

**Is your feature request related to a problem? Please describe.**
`find_package(libzip CONFIG REQUIRED)` doesn't work:
[code]
After manually setting libzip_DIR variable to the path to the config directory, the following error occurs:
[code]
**Proposed solution**
Change the directory for the config files so that their new directory is `share/libzip`, not `share/libzip/libzip`. Also, the seco

[2020-07-27 17:58] strega-nil commented on #12525
This is a bug; however, if you're using the CMake integration, you shouldn't have to worry about it.

[2020-07-27 17:59] strega-nil commented on #12595
This is the issue with having two build systems... I'll fix it

[2020-07-27 18:18] VelocityRa commented on #12525
@strega-nil How so? I _am_ using CMake integration.
See the OP, I have the same tree for both windows and WSL.

[2020-07-27 19:00] illera88 commented on #12566
I did delete all the `openssl` installations I had. Here are all the logs which I checked but I couldn't find anything weird
[pcre-logs.zip](https://github.com/microsoft/vcpkg/files/4983956/pcre-logs.zip)

Btw, I'm running this in a Debian WLS machine.

[code]

[2020-07-27 19:05] strega-nil commented on #12525
You may have to update to the latest version of vcpkg; in the latest version, we put `vcpkg_installed` in the build directory.

[2020-07-27 20:13] MCl57 opened #12602 ".\vcpkg upgrade error vcpkglib.cpp(69) expected fieldname"
**Describe the bug**
[code]
A clear and concise description of what the bug is.

**Environment**
- Vcpkg package management program version 2020.06.15-nohash
- OS: Windows 10, Ubuntu, Same error in both systems
- Compiler: Microsoft Visual Studio Community 2019 Version 16.6.5

**To Reproduce**
Steps to reproduce the behavior:
[code]

**also updated:**
[code]

[2020-07-27 20:53] davidebeatrici commented on #11727
Now that I assigned 16 GB and 8 threads to the VM Qt successfully built, but unfortunately I'm encountering the exact same issue:

[code]

[2020-07-27 23:56] NancyLi1013 commented on #9091
Thanks for your update. In my opinion. the current status might be enough.
So I'm closing this issue for now.

[2020-07-27 23:56] #9091 closed

[2020-07-28 00:14] JackBoosY commented on #12594
@chenpei2 We will merge that PR as soon as possible. So after do that, you can just `git pull` and rebuild protobuf.

[2020-07-28 00:24] PhoebeHui commented on #12598
Thanks for reporting this issue!

PR https://github.com/microsoft/vcpkg/pull/12603 would fix this issue.

[2020-07-28 00:43] #3196 closed

[2020-07-28 00:43] #7981 closed

[2020-07-28 00:43] #8549 closed

[2020-07-28 00:43] #8655 closed

[2020-07-28 00:43] #10188 closed

[2020-07-28 00:43] #11557 closed

[2020-07-28 00:43] #4907 closed

[2020-07-28 00:43] #7572 closed

[2020-07-28 00:43] #7856 closed

[2020-07-28 00:43] #7913 closed

[2020-07-28 00:43] #8175 closed

[2020-07-28 00:43] #9607 closed

[2020-07-28 00:48] PhoebeHui commented on #12599
Duplicated to https://github.com/microsoft/vcpkg/issues/12383

[2020-07-28 00:48] #12599 closed

[2020-07-28 00:51] PhoebeHui commented on #12599
@yangjiechina, boostcpp.jam file download failed from your log, could you please try following workaround:

Download https://raw.githubusercontent.com/boostorg/boost/boost-1.73.0/boostcpp.jam file manually
Rename it to 'boost-1.73.0-boostcpp.jam'
Put it to vcpkg\download folder
./vcpkg install boost-build[core]:x64-windows

[2020-07-28 01:11] yangjiechina commented on #12599
thaks for your reply，After I recompiled following this step, an error occurred
- Additional packages (*) will be modified to complete this operation.
Detecting compiler hash for triplet x64-windows...
Starting package 1/69: boost-build:x64-windows
Building package boost-build[core]:x64-windows...
Could not locate cached archive: C:\Users\yangjie\AppData\Local\vcpkg\archives\33\337b5c572ceefa71334c

[2020-07-28 01:25] xorange commented on #12594
@chenpei2

I guess it's just an issue of upstream keystring updating. Nothing's related to user's environment.

[2020-07-28 01:34] nanoric opened #12606 "bzip2 1.0.6-8838f21f8e build failure"
**Host Environment**
- OS:: Docker, image:  `mcr.microsoft.com/windows/servercore:1809-amd64`
- Compiler: `Microsoft (R) C/C++ Optimizing Compiler Version 19.26.28806 for x64`  (Visual Studio 2019 Community)
 - vcpkg(`git rev-parse HEAD`): `458c20e94b9f558b523f187ce403bd062e131cdb`

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg.exe install bzip2:x64-windows`  ( boost requires this )

**

[2020-07-28 01:36] PhoebeHui commented on #12599
Could you unzip below file and use it instead?
[boost-1.73.0-boostcpp.zip](https://github.com/microsoft/vcpkg/files/4985472/boost-1.73.0-boostcpp.zip)

[2020-07-28 01:40] JackBoosY commented on #11727
[code]

Seems like still have memory issues here.

[2020-07-28 01:42] yangjiechina commented on #12599
thanks for your reply, I just solved this problem.At first, I created a new file, and then copied the boost-1.73.0/boostcpp.jam code into it. The compilation failed. From https://dl.bintray.com/boostorg/release/1.73.0/source/ Download boost_ 1_ 73_ Use the inside boostcpp.jam The file was recompiled successfully

[2020-07-28 01:43] yangjiechina commented on #12599
Thanks again

[2020-07-28 01:46] NancyLi1013 commented on #8999
Hi @jherico
Thanks for posting this issue.
I noticed there are many changes about this in current master branch.

Could you please update vcpkg to the latest version and try it again? Please help confirm if it can work for you now?

[2020-07-28 01:47] PhoebeHui commented on #12606
@nanoric, PR https://github.com/microsoft/vcpkg/pull/12569/ would fix this issue, could you test if it works for you?

[2020-07-28 02:17] JackBoosY commented on #11075
Hi @linquize, since opencv4 has been updated to 4.3, does this issue still exist?

[2020-07-28 02:19] JackBoosY commented on #11452
Hi @diegohdezr, since #11130 merged, does this issue still exist?

[2020-07-28 02:20] JackBoosY commented on #11875
Hi @pwm1234 , since #11130 merged, does this issue still exist?

[2020-07-28 02:27] NancyLi1013 commented on #7321
Hi @crusader-mike
Thanks for posting this issue.
In the current status, there will be no "patch failed" messages if the patch does apply well. It will post the specific details if there is something wrong with the patch.

Please update vcpkg to the latest version and rebuild it.

I'm closing this issue for now since it has been solved.

[2020-07-28 02:27] #7321 closed

[2020-07-28 02:29] Kayd-J opened #12607 "[jsoncpp] build failure"
**Host Environment**
- OS: [Microsoft Windows 10 Pro.  Version	10.0.19041 Build 19041]
- Compiler: revision
 ninja version 1.10.0
  Package: jsoncpp:x86-windows
  Vcpkg version: 2020.06.15-nohash

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install jsoncpp`

**Failure logs**
-Cut and past the appropriate build messages from the console output.
Building package jsoncpp[core]:x86-wind

[2020-07-28 02:31] crusader-mike commented on #7321
@NancyLi1013 So, if patch fails -- does "install" operation fails too?

[2020-07-28 02:34] sumitkang opened #12609 "[libsrt:x64-windows] build failure"
**Host Environment**
- OS: [Windows 7]
- Compiler: Visual studio 2017

**To Reproduce**
Steps to reproduce the behavior:
.\vcpkg install libsrt:x64-windows

**Failure logs**
CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:72 (message):
    Command failed: ninja -v
    Working Directory: D:/VCPKG/vcpkg/buildtrees/libsrt/x64-windows-rel/vcpkg-parallel-configure
    Error code: 1

[2020-07-28 03:14] PhoebeHui commented on #12383
@wenjie89, unzip the below file and put it to downloads folder should work, please have a try and reopen this issue if it still be a problem for you.

[boost_LICENSE_1_0.zip](https://github.com/microsoft/vcpkg/files/4985749/boost_LICENSE_1_0.zip)

[2020-07-28 03:14] #12383 closed

[2020-07-28 03:18] PhoebeHui commented on #12607
@Kayd-J, could you attach log file C:\Users\Jarod\vcpkg\buildtrees\jsoncpp\config-x86-windows-out.log?

[2020-07-28 03:21] Kayd-J commented on #12607
[1/2] cmd /c "cd .. && "D:/cmake-3.18.0-rc4-win64-x64/bin/cmake.exe" "C:/Users/Jarod/vcpkg/buildtrees/jsoncpp/src/1.9.2-d01d7f5c9b.clean" "-DJSONCPP_WITH_CMAKE_PACKAGE=ON" "-DBUILD_STATIC_LIBS=OFF" "-DJSONCPP_WITH_PKGCONFIG_SUPPORT=OFF" "-DJSONCPP_WITH_POST_BUILD_UNITTEST=OFF" "-DJSONCPP_WITH_TESTS=OFF" "-DJSONCPP_WITH_EXAMPLE=OFF" "-DCMAKE_MAKE_PROGRAM=C:/Program Files (x86)/Microsoft Visual Stud

[2020-07-28 04:50] JPTIZ commented on #12606
For me it __seemed__ to fix the issue, but still can't build bzip2 (actually I'm building freetype, but it depends on bzip), with a different output (see [this CI log](https://github.com/expertisesolutions/efl/pull/346/checks?check_run_id=917459853#step:19:114)).

[2020-07-28 05:08] Neumann-A commented on #11727
No that is probably an issue with fontconfig not correctly setup. If this is Ubuntu 20.04 you cannot use vcpkgs Qt currently because an update to fontconfig is required. You could try manually setting up the fontdatabase with the fontconfig version of vcpkg but this requires knowledge on how to set that up (and a way to build fc-cache). you could try  #11776 which updates fontconfig and generates

[2020-07-28 05:34] vejmartin commented on #12572
@ebraminio, it appears more support for `pkg-config` has recently been added 🎉, https://github.com/microsoft/vcpkg/commit/458c20e94b9f558b523f187ce403bd062e131cdb. Based on that, the were only a few more changes to get `harfbuzz` to build with `freetype`, https://github.com/vejmartin/vcpkg/commit/3c36bcf8edd5324a3dcbb794018d1d60c297df0a.

There are already some PRs that cover `pkg-config` for the

[2020-07-28 05:43] ebraminio commented on #12572
That's just fantastic!

Oh, this makes sense. Or if that that has been delayed maybe it can makes sense to peek the needed parts from the patch?

[2020-07-28 05:44] JackBoosY commented on #12579
Can you test whether #12611 is effective?

Thanks.

[2020-07-28 05:46] PhoebeHui commented on #10066
@jtarango,  sorry for no help, have you solve this issue? I noticed it built successfully from you setup.log and mpfr.log?

[2020-07-28 05:51] PhoebeHui commented on #12607
Do you install windows sdk? could you reinstall it by vs installer?

[2020-07-28 05:54] NancyLi1013 commented on #7321
Yes, you're right. If patch fails, the install process will stop.

[2020-07-28 05:57] PhoebeHui commented on #12606
@JPTIZ, the second issue would be fixed by PR https://github.com/microsoft/vcpkg/pull/12603, sorry for blocking you.

[2020-07-28 06:00] NancyLi1013 commented on #9607
It has been updated to 2.4 in master. Please update vcpkg to the latest version to rebuild this port.

[2020-07-28 06:01] JPTIZ commented on #12606
Oh, nice to hear :) Well, for now I did a workaround by checking out a previous working commit and it seemed to work, so no worries, not being blocked right now (but still wanted to let you know about the issue).

[2020-07-28 06:03] NancyLi1013 commented on #11557
Hi @VladBolotov  and @talregev
This should be fixed via #11130. Please update vcpkg to the latest version and rebuild this.

[2020-07-28 06:05] NancyLi1013 commented on #10188
Hi all,
`opencv4 `has been update to 4.3.  Please update vcpkg to the latest version and try to rebuild this.

[2020-07-28 06:13] NancyLi1013 commented on #12609
Hi @sumitkang
Thanks for posting this issue.
Could you please provide the failure log from _D:\VCPKG\vcpkg\buildtrees\libsrt\config-x64-windows-out.log_?

[2020-07-28 06:14] JackBoosY commented on #12566
@Neumann-A Can you please take a look?

Thanks.

[2020-07-28 06:16] JackBoosY commented on #12566
@illera88 Please provide the library names in _VCPKG_PATH/packages/pcre_x64-linux/lib_ and  _VCPKG_PATH/packages/pcre_x64-linux/debug/lib_.

Thanks.

[2020-07-28 06:17] sumitkang commented on #12609
[config-x64-windows-out.log](https://github.com/microsoft/vcpkg/files/4986311/config-x64-windows-out.log)
@NancyLi1013 thanks , i have uploaded the log file.

[2020-07-28 06:21] NancyLi1013 commented on #12116
@ollp
Please let me know if you still have any concerns about this.

[2020-07-28 06:36] Kayd-J commented on #12607
It worked, I did installed (a new version) both by the vs installer and by the windows sdk installer!
Thank you very much

[2020-07-28 06:36] #12607 closed

[2020-07-28 06:44] vejmartin commented on #12572
The patch relies on some changes to `vcpkg` itself, so I'm not sure about copying those over.

`icu` should now be covered as well, https://github.com/vejmartin/vcpkg/commit/cb30df9e394b61c543adab2581fc35894e91f02c. I think `graphite2` has support for pkg-config. @ebraminio, could you have a look at `glib`? It's failing to build on macOS.

[2020-07-28 06:52] NancyLi1013 commented on #12487
Hi @jagrme00
opencv4 has been updated to 4.3 via PR #11130.

Now you can update vcpkg to the latest version and try to rebuild if this can work for you.

[2020-07-28 06:56] PhoebeHui commented on #5911
@mosra, thanks for the commnents, the original issue reported by al-sabr have resolved.

Please report seprate issue with details for static build, @DmitriySalnikov @microsoft/oryx-contrib

![image](https://user-images.githubusercontent.com/20694052/88629876-65f59100-d0e2-11ea-8a51-7fbcdc966919.png)

[2020-07-28 06:56] #5911 closed

[2020-07-28 07:23] OlafvdSpek commented on #12594
Why can't it be merged already?

[2020-07-28 07:29] shunshizhechang commented on #12443
Does it have relate to  openssl_exe_path.patch?
The content：
diff --git a/src/tools/msvc/Solution.pm b/src/tools/msvc/Solution.pm
index 51711c2bf..d33fdc3b0 100644
--- a/src/tools/msvc/Solution.pm
+++ b/src/tools/msvc/Solution.pm
@@ -133,7 +133,7 @@ sub GetOpenSSLVersion
 	# openssl.exe is in the specified directory.
 	# Quote the .exe name in case it has spaces
 	my $opensslcmd =
-	  qq("$self->{

[2020-07-28 07:47] ebraminio commented on #12572
@vejmartin fetched your patch and ran that locally and it apparently works on Linux? Don't have macOS nowadays unfortunately :/

[2020-07-28 08:01] jtarango commented on #10066
Hi,

I was able to work around the issue by using the CMake system through the
graphical importing. I have now moved on to exclusively linux so I most
likely won't need to use this version anymore.

On Mon, Jul 27, 2020 at 11:46 PM Phoebe <notifications@github.com> wrote:

--
Joseph Tarango

[2020-07-28 08:13] NancyLi1013 commented on #12609
[code]
Could you please check if `MSBuild.exe` exists on your machine?
Please also refer to this [link ](https://gitlab.kitware.com/cmake/cmake/-/issues/17349) to get the related information.

[2020-07-28 08:25] NancyLi1013 commented on #7223
Hi @Trojaner
Sorry for the late reply.

Since these two ports failed due to unsupported triplet `x64-linux-dynamic`.

[2020-07-28 08:28] JackBoosY commented on #12594
@OlafvdSpek We need to merge #12603 first.

[2020-07-28 08:31] JackBoosY commented on #12443
@shunshizhechang
      _F:\jinankanchayuan\github\vcpkg-master\vcpkg-master\buildtrees\libpq\build-libpq-x64-windows-RELEASE-out.log_
      _F:\jinankanchayuan\github\vcpkg-master\vcpkg-master\buildtrees\libpq\build-libpq-x64-windows-RELEASE-err.log_

[2020-07-28 08:56] JackBoosY commented on #12609
Please close the antivirus and try again.

[2020-07-28 08:59] tom-r-o commented on #12579
I checked [this](https://github.com/JackBoosY/vcpkg/tree/dev/jack/12579) out, then ran:
- bootstrap-vcpkg.bat
- vcpkg install grpc --triplet arm64-uwp

And received a failure: [install-arm64-uwp-dbg-out.log](https://github.com/microsoft/vcpkg/files/4987077/install-arm64-uwp-dbg-out.log)

---
In the version I have that's working I initially received a message that said I had to first run: `vcpkg in

[2020-07-28 09:02] JackBoosY commented on #12602
Hi @MCl57, thanks for reporting this issue!
Have you deleted the files or directories in _installed_ before? Can you clone a copy of vcpkg to reproduce this issue?

Thanks.

[2020-07-28 09:06] plettplett commented on #9607
Hi,

Is this scam? I read in previous post that vcpkg will not build 2.4, and that it will wait until openexr 3 is released

Thanks
Chris

Chris Spence
Digital Devoid
6815 Biscayne Blvd, Ste 103-191
Miami, FL 33138

Tel: 305 757 1330

chris@digitaldevoid.com

[2020-07-28 09:06] ollp commented on #12116
NancyLi1013
`PowerShell 7.0.2
Copyright (c) Microsoft Corporation. All rights reserved.

https://aka.ms/powershell
Type 'help' to get help.

Loading personal and system profiles took 946ms.
PS C:\Users\Bent> cd\
PS C:\> cd vc*
PS C:\vcpkg> ./vcpkg integrate install
Applied user-wide integration for this vcpkg root.

All MSBuild C++ projects can now #include any installed libraries.
Linking will be

[2020-07-28 09:30] NancyLi1013 commented on #10027
Thanks for your reply.
Since this issue is solved, I'm closing it for now.
You can open a new issue if there is another problem.

[2020-07-28 09:30] #10027 closed

[2020-07-28 09:40] NancyLi1013 commented on #9240
Hi @rudym
Thanks for posting this issue.

Do you mean that we need to add the message to alert that what size this package is or how large space needs to build `qt5-webview`?
Like the message added for `qt5-webengine`?
https://github.com/microsoft/vcpkg/blob/master/ports/qt5-webengine/portfile.cmake#L3

[2020-07-28 09:47] sumitkang commented on #12609
@NancyLi1013  MsBuild.exe exists and it is at the afollowing location.
C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\15.0\Bin

[2020-07-28 09:48] sumitkang commented on #12609
@JackBoosY  I disabled the antivirus and tried to build the package again with vcpkg but still the build fails.

[2020-07-28 10:04] NancyLi1013 commented on #12609
Have you installed Windows SDK and build tools in Visual Studio?

Could you please also update vcpkg to the latest version and try to rebuild this port?

[2020-07-28 10:14] ebraminio commented on #12572
Just to note, many of dependencies vcpkg tries its best to wire up for harfbuzz is just unnecessary, there was a time that harfbuzz didn't have unicode data as main part of the library and now we have that and recommend it actually, I doubt anyone use vcpkg would need these three APIs `hb-glib` provides, ` hb_script_t hb_glib_script_to_script (GUnicodeScript script)`, `GUnicodeScript hb_glib_scrip

[2020-07-28 10:14] NancyLi1013 commented on #9607
Hi @plettplett
This is true, you can check this in vcpkg master branch.
https://github.com/microsoft/vcpkg/tree/master/ports/openexr

I tried to build 2.4.0 and 2.4.1 before this and it had the above error, which seems to be solved in 2.5.0. Our contributor has updated `openexr `via PR #11130.

You can update vcpkg to get the latest version.

[2020-07-28 11:01] ALfuhrmann opened #12613 "boost build failure"
**Host Environment**
- OS: Windows 10
- Compiler: Visual Studio 2017 / C++ 14.1

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install boost`

**Failure logs**
(...snip...)
Starting package 60/149: bzip2:x64-windows
Building package bzip2[core]:x64-windows...
Could not locate cached archive: C:\Users\fuhrmann\AppData\Local\vcpkg\archives\24\24e13948f0cd797f5d3901da011c204003f86943.zip

[2020-07-28 12:03] zhangjiayin commented on #12567
works for me

[2020-07-28 12:22] plettplett commented on #9607
Hi,

OK, got it. But I’m only building OIIO, not OpenCV. What Openexr version does your OIIO port support.What OpenEXR version builds on Windows, Linux, OS X?

Thank you,

Chris Spence
Digital Devoid
6815 Biscayne Blvd, Ste 103-191
Miami, FL 33138

Tel: 305 757 1330

chris@digitaldevoid.com

[2020-07-28 13:13] MCl57 commented on #12602
// git download
[vcpkg.zip](https://github.com/microsoft/vcpkg/files/4988453/vcpkg.zip)

C:\work\git\vcpkg\installed\
[installed-vcpkg.zip](https://github.com/microsoft/vcpkg/files/4988476/installed-vcpkg.zip)

[2020-07-28 13:21] cenit commented on #12341
yes still an issue, I can't use any qt5 project on windows via vcpkg from master anymore

[build-x64-windows-dbg-err.log](https://github.com/microsoft/vcpkg/files/4988536/build-x64-windows-dbg-err.log)
[build-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/4988537/build-x64-windows-dbg-out.log)
[config-x64-windows-dbg-err.log](https://github.com/microsoft/vcpkg/files/4988538/conf

[2020-07-28 13:22] MCl57 commented on #12602
Hello Jack Boos Yu,

Have you deleted the files or directories in installed before? No, never.
I uploaded files on https://github.com/microsoft/vcpkg/issues/12602.

Mit freundlichen Grüßen

Michael Clausohm
Technical Development Manager

Clausohm-Software GmbH
Neubrandenburger Str. 46
D-17039 Neverin

P +49 39608 269020
M +49 172 3849147

michael.clausohm@clausohm.de

Geschäftsführer: Katharina Cl

[2020-07-28 13:53] MCl57 commented on #12602
Hello Jack-Boos-Yu,
Could you delete last comment, please. I don't wont private data on web
site (e-mail, names ...).
I clone it, an all is okay.
Thank you very much.

Von:    Jack·Boos·Yu <notifications@github.com>
An:     microsoft/vcpkg <vcpkg@noreply.github.com>
Kopie:  MCl57 <michael.clausohm@clausohm.de>, Mention
<mention@noreply.github.com>
Datum:  28.07.2020 11:03
Betreff:        Re: [micr

[2020-07-28 14:02] christophe-calmejane commented on #5809
I literally spent 4h debugging this issue...
I searched vcpkg issue tracker for 'android', 'boost' 'clang++: error: cannot specify -o when generating multiple output files' (the error I'm getting using current vcpkg today)... nothing useful. So I started debugging vcpkg and finally came to the same conclusion. The error was simply the extra white space btw `--gcc-toolchain=` and the toolchain para

[2020-07-28 14:06] MCl57 commented on #12602
here are the files:
https://github.com/microsoft/vcpkg/issues/12602#issuecomment-665031812
Is this enough?

[2020-07-28 14:14] christophe-calmejane commented on #5809
I think I get it:
In ports/boost-modular-build-helper/CMakeLists.txt
Line 90 we have that
[code]
Unfortunately the `if` to check for `clang` is not present line 97 (where I actually got my error)
[code]

So I guess it should be enough to add the same logic line 97

[2020-07-28 14:47] Neumann-A commented on #12341
Have you tried without the symlink?

I see
`IC:\Users\ssinigar\Codice\vcpkg_openmvg\buildtrees\qt5-base\src\5.15.0-f256990b37.clean\include\QtCore`
And
`IC:\src\vcpkg_openmvg\buildtrees\qt5-base\src\5.15.0-f256990b37.clean/include\QtCore`

The first path is also very long.

[2020-07-28 15:57] NinjaGo31 opened #12615 "Error: Building package bzip2:x86-windows failed with: BUILD_FAILED"
I'm trying to install libmysql:x64-windows, but every time I do it in the standard command prompt, I'm stuck in a loop with the following errors:

- error: mingw32: key "4A6129F4E4B84AE46ED7F635628F528CF3053E04" is unknown

- error: key "4A6129F4E4B84AE46ED7F635628F528CF3053E04" could not be looked up remotely

- error: mingw64: key "4A6129F4E4B84AE46ED7F635628F528CF3053E04" is unknown

- error: k

[2020-07-28 16:11] cenit commented on #12341
I launched the build from C:\src, which is a subst of C:\Users\ssinigar\Codice, I don't know how it also expanded it to the full path. Also, no problem with any other port which has the infamous maximum path length
This also was a supported way, and it's very difficult also to propagate any change to it

[2020-07-28 16:58] snnn opened #12616 "How do I install libffi ?"
[code]
Does it require pkg-config.exe? Where should I get it?

[2020-07-28 17:41] talregev commented on #11557
@NancyLi1013 I still have the same issue. Can you open this issue?

[2020-07-28 17:41] JPTIZ opened #12617 "[pcre] Add a FindPCRE.cmake"
****

**Is your feature request related to a problem? Please describe.**
I have been dealing with a Windows port of a project originally made for Linux, whose buildsystem is Meson (that uses pkg-config and CMake to search for dependencies). The problem is that Windows (and its official development environment - mostly Visual Studio) doesn't have pkg-config neither has PCRE, so we rely on CMake to

[2020-07-28 17:58] Neumann-A commented on #12341
How did you subst that? I always get a "invalid paramter error C:\src" if i try to `subst C:\src <pathtosubst>`

[2020-07-28 18:10] MCl57 opened #12618 "[zlib, protobuf, grpc, x86-windows, x64-windows] build failure"
**Host Environment**
- OS: [Windows 10]
- Compiler: Microsoft Visual Studio Community 2019 Version 16.6.5

**To Reproduce**
.\vcpkg install protobuf
.\vcpkg install protobuf:x64-windows
.\vcpkg install zlib
.\vcpkg install zlib:x64-windows
.\vcpkg install grpc:x64-windows

**Failure logs**
[code]

[code]

**Additional context**
in ubuntu install working.

[2020-07-28 18:19] davidebeatrici commented on #11727
Sorry, I never mentioned the operating system.

[code]
[code]

Does your suggestion apply to this version of Ubuntu as well?

[2020-07-28 18:42] Niikelion opened #12619 "[freeimage] add FreeImage-config.cmake file for find_package"
****

**Is your feature request related to a problem? Please describe.**
`find_package` does not find FreeImage due to lack of `*-config.cmake` file.

**Proposed solution**
Modify cmake files to add support for `find_package`.

**Describe alternatives you've considered**
Doing necessary modifications myself, although this option might take a while(i'm not that good at writing cmake configuration f

[2020-07-28 18:44] talregev commented on #11557
@NancyLi1013 I pull --rebase the vcpkg git. and check again. now it working. you can leave this issue close.
Thank you and thank @cenit for solve this issue.

[2020-07-28 19:04] #12288 closed

[2020-07-28 19:04] #12582 closed

[2020-07-28 19:04] #12584 closed

[2020-07-28 19:04] #12593 closed

[2020-07-28 19:29] vejmartin commented on #12572
Glad to hear it's working on Linux :)

It might be worth to double-check the `pango` port, i.e. `harfbuzz[glib] (!(windows&static)&!osx)` (from `ports/pango/CONTROL`).

[2020-07-28 19:43] Jean-Amaro opened #12620 "OpenCV 4.3 fails with CUDA 11.0 - nvcc fatal : Unsupported gpu architecture 'compute_30'"
**Host Environment**
- OS: Microsoft Windows [10.0.19041.388]
- CUDA: 11.0
- Compiler: VS 2019 (16.6.5)

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg install opencv[core,cuda]:x64-windows`

**Failure logs**
[code]

**Additional context**
"Support for Kepler sm_30 and sm_32 architecture based products is dropped."
https://docs.nvidia.com/cuda/cuda-toolkit-release-notes/index.html

[2020-07-28 19:49] Neumann-A commented on #12341
after testing your `mklink` is the reason it fails. If you directly use the base path it works. If you truly use a `subst` it also works.  If you use `mklink` as a junction `/J` instead of a normal symlink it also works. So the symbolic link is the issue.

[2020-07-28 19:54] illera88 commented on #12566
It seems that the release version libraries have been built fine but not the debug right?

[code]

[2020-07-28 20:08] LeonineKing1199 opened #12621 "OpenCV 4.3.0 No HighGUI/GTK support on Linux"
**Host Environment**
- OS: Linux
- Compiler: g++-10/clang++-10

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install opencv4`

OpenCV 4.3 will build perfectly on Linux and link as well _but_ when I try and use the `cv::imshow` function, I get a message that the library was not compiled with GUI support. Because I'm on Linux, it mentions installing libgtk-2.0 which I have installed al

[2020-07-28 20:25] ebraminio commented on #12572
Ops, Pango uses it.

Oh should I use such so? Apparently my vcpkg knowledge has become so useless, should I have ran that using

[code]
or something?

[2020-07-28 20:28] vejmartin commented on #12572
@ebraminio, I get that error with `zsh` as well, a workaround is to wrap it in quotes, `./vcpkg install "harfbuzz[glib]"`

[2020-07-28 20:45] Neumann-A commented on #12566
you probably have `set(VCPKG_BUILD_TYPE release)` set in the triplet? For me it works locally so some info here is missing

[2020-07-28 20:50] justusranvier opened #12622 "[secp256k1 build failure due to missing include path"
**Host Environment**
- OS: Linux
- Compiler: gcc-10

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install secp256k1`

**Failure logs**
[code]

**Additional context**
The solution is to change
`include_directories(${CMAKE_CURRENT_SOURCE_DIR})`
to
`include_directories(${CMAKE_CURRENT_SOURCE_DIR} ${CMAKE_CURRENT_SOURCE_DIR}/src)`

in ports/secp256k1/CMakeLists.txt

[2020-07-28 22:25] cenit commented on #12341
Let me investigate my own setup then. Thanks for taking time to already test many configs

[2020-07-29 00:28] illera88 commented on #12566
Indeed I had `set(VCPKG_BUILD_TYPE release)` in the triplet and I have verified that without that it compiles fine.

There is still a bug since it should not fail if you just want to build the release version.

Can you add `set(VCPKG_BUILD_TYPE release)`  to your `x64-linux.cmake` triplet file and verify?

Thanks

[2020-07-29 00:39] JackBoosY commented on #12615
This issue should be fixed,  please update vcpkg and rebuild bzip2.

Thanks.

[2020-07-29 00:39] #12615 closed

[2020-07-29 00:41] JackBoosY commented on #12618
Can you update vcpkg and try again?

Thanks.

[2020-07-29 00:42] JackBoosY commented on #12613
This issue should be fixed, please update vcpkg and try again.

Thanks.

[2020-07-29 00:42] #12613 closed

[2020-07-29 01:16] NancyLi1013 commented on #11557
Thanks for your feedback @talregev.

[2020-07-29 01:29] NancyLi1013 commented on #12116
Thanks for your update. Now I have seen the problem that you met.
This is a bug for `eiegn3`.

[2020-07-29 01:31] rivy commented on #12565
It might be nice to add some minimal integration testing to your CI recipe (eg, install `zlib` after `vcpkg` build) so that regressions like this show up obviously and early.

[2020-07-29 01:32] ollp commented on #12116
Good then maybe they fix it

[2020-07-29 01:43] NancyLi1013 commented on #12116
I will check the latest source codes and confirm if it has been fixed now.

[2020-07-29 01:45] PhoebeHui commented on #12598
@GeorgeBarlow, currently this issue fixed by PR https://github.com/microsoft/vcpkg/pull/12467 instead, the PR has been merged, please get latest source and try again.

[2020-07-29 01:45] #12598 closed

[2020-07-29 01:47] PhoebeHui commented on #12597
@ljere, currently this issue fixed by PR #12467 instead, the PR has been merged, please get latest source and try again.

[2020-07-29 01:47] #12597 closed

[2020-07-29 01:51] NancyLi1013 commented on #9607
In current master branch, the version of `openimageio `is 2.1.16.0. For `openexr`, the version supported on all platforms is the same, which is 2.5.0.

You can get this information in vcpkg master branch.

[2020-07-29 01:53] JackBoosY commented on #12602
It seems that state file is broken.
@strega-nil Could you please take a look?

[2020-07-29 01:56] PhoebeHui commented on #12616
@snnn, this issue would be fixed by PR https://github.com/microsoft/vcpkg/pull/12569, could you try the changes? sorry for blocking you.

[2020-07-29 02:02] JackBoosY commented on #12621
@cenit Could you please take a look?

Thanks.

[2020-07-29 02:02] JackBoosY commented on #12620
@cenit Could you please take a look?

Thanks.

[2020-07-29 02:11] JackBoosY commented on #12579
abseil libraries should be linked to grpc, could you please provide the configure logs _config-arm64-uwp-out.log_?

Thanks.

[2020-07-29 02:15] PhoebeHui commented on #12565
@rivy, good point! thanks for the suggestion!

@strega-nil @BillyONeal, what do you think about installing zlib before test each PR in CI pipeline?

[2020-07-29 02:17] PhoebeHui commented on #12616
Duplicated to https://github.com/microsoft/vcpkg/issues/12565

[2020-07-29 02:17] #12616 closed

[2020-07-29 02:22] PhoebeHui commented on #12589
@VladBolotov, this issue would be fixed by PR #12569, could you try the changes? sorry for blocking you.

Duplicated to #12565

[2020-07-29 02:22] #12589 closed

[2020-07-29 02:29] ebraminio commented on #12572
Now I see different complains, is this the referred issue?

Will try to remove the use from Pango however, guess then we can pick up that patch.

[2020-07-29 02:45] VladBolotov commented on #12589
@PhoebeHui, Works for me, thanks!

Do not worry, it's okay ;)

[2020-07-29 02:55] ebraminio commented on #12572
https://gitlab.gnome.org/GNOME/pango/-/merge_requests/213/diffs guess if you pick this up you won't need actually to compile hb-glib, this is what was we doing internally also https://github.com/harfbuzz/harfbuzz/commit/44a3136ae6a28222922da13582bd2dfd3eb823c7

[2020-07-29 03:07] sumitkang commented on #12609
@NancyLi1013  thank you very much , though i had build tools installed but by reinstalling it again the problem is solved.
i am able to compile the library.

[2020-07-29 03:35] sumitkang opened #12623 "[ffmpeg with libsrt and x264 support]"
Library name:
ffmpeg
Library description:
ffmpeg supporting x264 and SRT.
Source repository URL:
https://github.com/FFmpeg/FFmpeg.git
Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included):
ffmpeg libraray wihich supports the h264 codec[x264] and the SRT protocoll[libsrt]

[2020-07-29 04:13] Neumann-A commented on #12565
For this regression to show up in CI cmake 3.18 would have been necessary. Vcpkg is still testing against 3.17 in Ci. Furthermore the script change nowadays reruns all ports depending on it in CI since the internal logic was recently changed.
(So zlib was already rebuild in the PR before the merge)

[2020-07-29 04:18] Neumann-A commented on #12566
@JackBoosY this is a port bug. The pcre port should not install pc files for debug if the buildtype is set to release only.

[2020-07-29 04:57] cenit commented on #12621
This is in fact a known issue. vcpkg distributes a GTK library which does not work on Linux. But because it exists on vcpkg, we cannot ask the users to install it from external package managers (apt). What the user did is right, at least until we make gtk to build on Linux (abandoning our custom CMakeLists and going with the official meson build)

[2020-07-29 05:00] cenit commented on #12620
Officially opencv 4.3 does not support cuda 11. There is a basic patch to make it work somehow, but it still require some manual tuning from the user in some configurations. I will try my best to push opencv 4.4 quickly, with a full cuda 11 support. In the meantime we can explore other patches to make it work sooner

[2020-07-29 05:41] NancyLi1013 commented on #12609
Thanks for your feedback.
I'm closing this issue since you can build it now.

[2020-07-29 05:41] #12609 closed

[2020-07-29 05:55] JackBoosY commented on #12566
@Neumann-A I think `vcpkg_fixup_pkgconfig` should actively handle this situation.

[2020-07-29 06:14] BenKey opened #12628 "[qt5-imageformats:x64-windows] build failure"
**Host Environment**

- OS: Windows 10 Pro version 2004 build 19041.388 64-bit
- Compiler: Visual Studio 2019 Community v16.6.5

**To Reproduce**

Run the following command.

`./vcpkg install qt5 qwt --triplet x64-windows`

**Failure logs**

This fails with the following error.

    CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:72 (message):
      Command failed: D:/vcpkg/downl

[2020-07-29 06:17] fedapo commented on #12615
I still have the problem:
`
Computing installation plan...
The following packages will be built and installed:
    bzip2[core]:x86-windows
Detecting compiler hash for triplet x86-windows...
Starting package 1/1: bzip2:x86-windows
Building package bzip2[core]:x86-windows...
Could not locate cached archive: C:\Users\faponte\AppData\Local\vcpkg\archives\54\547100163dd329fca01eca4a2cf079d390bed1a3.zip

[2020-07-29 06:26] JackBoosY commented on #12615
Please delete _VCPKG_PATH/downloads/tools/msys2_ and try again.

[2020-07-29 06:29] JackBoosY commented on #12628
`Cannot create parent directory`
Will fix in #12529.

[2020-07-29 06:31] Neumann-A commented on #12566
No it is a failure in the port installing files which are not required. As such the failure is correct.

[2020-07-29 06:50] fedapo commented on #12615
_> Please delete _VCPKG_PATH/downloads/tools/msys2_ and try again._
It works. Thank you.
Does this mean that vcpkg uses an "embedded" msys2 (mingw) installation for building its libraries? Even if the system has Visual Studio installed?

[2020-07-29 07:13] JackBoosY commented on #12615
Yes,  it's build process requires msys2.

[2020-07-29 07:31] tom-r-o commented on #12579
Sure: [config-arm64-uwp-out.log](https://github.com/microsoft/vcpkg/files/4993271/config-arm64-uwp-out.log)

[2020-07-29 07:46] PhoebeHui commented on #12622
@justusranvier, thanks for reporting this issue!

I have summited a PR#12630 to fix this issue.

[2020-07-29 07:47] MCl57 commented on #12618
after update, no success
[code]

[2020-07-29 07:49] MCl57 commented on #12618
after update, no success
[code]

[2020-07-29 07:56] aPSopt opened #12631 "[boost] update/new install build failure 2"
**Host Environment**
- OS: Windows 10
- Compiler: msvs 2019 (last update)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install boost`

**Failure logs**

**Additional context**
My previous bug report closed as solved: https://github.com/microsoft/vcpkg/issues/12593
But as I see nobody check (even smoke test) if the trouble gone.

I note again that it not serious.

[2020-07-29 08:04] aspioupiou opened #12632 "[x264] build failure on previous vcpkg version"
This is a duplicate of my message in the closed issue #7225 as I'm not sure maintainers got notified of this.

Hi @NancyLi1013

I'd rather keep talking here instead of recreating a new issue, as my issue is directly linked to this one but not to #11765

As we're using vcpkg in a company environment, we do need to ensure we can build the dependencies.
Since updating to 2020.06 seems to be impossibl

[2020-07-29 08:32] ALfuhrmann commented on #12613
@JackBoosY thanks!

Still threw the same error on one of my computers. It worked as soon as I removed an independently installed Cmake. Should I open another issue?

[2020-07-29 08:39] gino0717 commented on #9817
It is so sad that if you google "zlib:x86-windows build failure" you can see a list of same issue in vcpkg github for years.
It seems that the problem has never been really solved but just be closed again and again.

[2020-07-29 09:14] fangxu622 opened #12633 "Error: Building package eigen3:x64-windows failed with: BUILD_FAILED"
**Host Environment**
- OS: Windows 10 x64
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install eigen3:x64-windows`

**Failure logs**
[code]

[2020-07-29 09:18] ljere commented on #12631
I'm having the exact same issue.

[2020-07-29 09:18] fangxu622 commented on #12633
@Neumann-A

 I  mode the eigen3/portfile.cmake according to #4902 ,but still failed.

the modify version
[code]

[2020-07-29 09:28] JackBoosY commented on #12613
Please remove _downloads/tools/msys2_ and try again.

[2020-07-29 10:24] ferjif commented on #12587
@JackBoosY sorry i didn't have time to use the pull request but the prebuilt version from opencv even with opencv_ffmpeg.dll failed to use it. so i used cv::CAP_ANY and it worked on both the vcpkg version and the prebuilt version from sourceforge.

[2020-07-29 10:54] Neumann-A commented on #12628
@BenKey just retry. That is a spurious error we see in qt for some yet to discover reason.

[2020-07-29 11:51] ALfuhrmann commented on #12613
I tried it already before with a complete clean setup: new git clone, deleted local cache.

It started working as soon as I removed the other cmake from the path. Now it correctly downloads and installs everything in downloads/tools/msys2.

[2020-07-29 13:14] danieljo12 commented on #9817
yeah it does suck.. im sorry that i couldnt test this again, i just havent got round to it yet

[2020-07-29 13:35] rglbssw commented on #3339
Having the same problem I found two possible "solutions" (or better: workararounds) based on two questions:

1. Why ist the symbol missing in the import library of the release version?
2. Why is the symbol needed by the code using Gtk::TreeView?

ad 1:
gtkmm does not use __declspec(dllexport) to export symbols. The  build process uses gendef to scan the obj-files for symbols to export and generate

[2020-07-29 14:21] Jean-Amaro commented on #12620
Thanks a lot, @cenit and @JackBoosY.

[2020-07-29 14:23] pwm1234 commented on #11875
No. My patch is for the opencv contrib hdf CMakeLists.txt file https://github.com/opencv/opencv_contrib/blob/master/modules/hdf/CMakeLists.txt. The error in the opencv find logic (at least on windows with opencv 3.4, which is all that I am using right now), is that the should not be special find logic for WIN32. What is there does not work with a vcpkg build of hdf5. A simple find_package(HDF5) do

[2020-07-29 14:30] longnguyen2004 opened #12636 "Unix tools: move away from MSYS2 (if possible)"
****

**Is your feature request related to a problem? Please describe.**
There are several projects like [win-bash](http://win-bash.sourceforge.net/), [UnxUtils](http://unxutils.sourceforge.net/) and [GnuWin32](http://gnuwin32.sourceforge.net/) that provides most of the tools needed for bash/autotools-based build systems. If we can move to one of these projects, we can avoid the slow build time ca

[2020-07-29 14:32] TheReclif commented on #12633
Did you use `git pull`? Your issue is the same as in #12565. Try applying https://github.com/microsoft/vcpkg/issues/12565#issuecomment-664047785 (`vcpkg_fixup_pkgconfig.cmake`) if `git pull` command doesn't fix your problem.

[2020-07-29 14:38] turngrobi opened #12638 "zlib:x86-windows build failure"
**Host Environment**
- OS: Windows 10 x64
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg install zlib:x86-windows`

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
    zlib[core]:x86-windows
Detecting compiler hash for triplet x86-windows...
Starting package 1/1: zlib:x86-windows
Building package zlib[core]:x86-w

[2020-07-29 14:51] linquize commented on #12638
Could you git pull and try 25412e1f462beeb8c24e2cfed9b224d559ec0edf?

[2020-07-29 14:52] linquize commented on #12638
Could you clear all the packages, `git pull` and try 25412e1f462beeb8c24e2cfed9b224d559ec0edf?

[2020-07-29 14:54] linquize commented on #12636
The tools in these projects were very old, over 10 years not updated.

[2020-07-29 15:13] linquize commented on #9817
Could you update your VS2019 to latest version and test? cmake is now 3.17

[2020-07-29 15:13] awhittle3 commented on #12638
Same issue happens with zlib:x64-windows and protobuf:x64-windows with a new install of vcpkg from master (commit 0babd2f), and with a fresh install of suggested commit 25412e1.

OS: Windows 10 x64
Compiler: VS 2019 Community v16.6.5

This issue seemed to start occurring on Monday for us, with issues similar to what's described [here](https://github.com/microsoft/vcpkg/issues/12598)

Also note tha

[2020-07-29 15:22] TheReclif commented on #12631
1. Create a clean installation of vcpkg (could be a new one).
2. Before installing the package, apply both fixes from https://github.com/microsoft/vcpkg/issues/12565#issuecomment-664047785
3. Install the package.

[2020-07-29 15:24] TheReclif commented on #12638
Try applying fixes from https://github.com/microsoft/vcpkg/issues/12565#issuecomment-664047785 to a clean, new install of vcpkg.

[2020-07-29 15:25] Neumann-A commented on #12636
VCPKG could probably build all those tools itself which I am strongly in favor of. Some of those tools are also simply scripts. Depending on MSYS will always occasionally break VCPKG.

[2020-07-29 15:31] linquize commented on #12638
Do you think that's network issue?

[2020-07-29 15:39] turngrobi commented on #12638
Okay, the workaround mentioned by awhittle3 fixes my problem for now.
Thx.

[2020-07-29 15:39] longnguyen2004 commented on #12636
We don't really need up to date tools for these, unless the build system depends on some new features

[2020-07-29 15:43] longnguyen2004 commented on #12636
And AFAIK win-bash is still active (last update around 2019) so I think it's fine

[2020-07-29 15:45] linquize commented on #12636
Where is it ?

[2020-07-29 15:50] longnguyen2004 commented on #12636
Whoops I misread something, sorry for that xD
But still moving away from MSYS2 is crucial for performance and compatibility with 32 bit systems (not that I use 32 bit Windows myself, but it's nice to have)

[2020-07-29 16:19] strega-nil commented on #12602
@MCl57, could you try downgrading vcpkg back to commit `ac4e90220adb99d7cea190c41d798ac113f20627`, and then rebootstrap and re-upgrade? otherwise, it looks like your installed directory might be broken; I don't know why that might be (unless there was a <ctrl-c> at some point there shouldn't've been), but deleting the installed directory and reinstalling the ports should work.

[2020-07-29 17:48] MCl57 commented on #12602
Thank you, I installed complete vcpkg new now.
Now my work stops on https://github.com/microsoft/vcpkg/issues/12618

[2020-07-29 17:48] #12602 closed

[2020-07-29 19:00] BrannonKing commented on #4305
This is still a bug and should be reopened. vcpkg should work with the "Build Tools" alone.

[2020-07-29 20:54] strega-nil commented on #12618
@MCl57 could you post the log of `C:\work\git\vcpkg\buildtrees\protobuf\msys-pacman-x64-windows-err.log`

[2020-07-29 21:26] cenit commented on #11875
In case you still require a patch (I think I tested hdf5 features, but I might be wrong), please do it both for opencv3 and opencv4, thanks (they have very similar build toolchain)

[2020-07-29 22:38] Kwizatz commented on #372
Sorry for the delay, writing target files and making them work by hand has become quite a problem when you have to wait 30 min for each compilation... I'll see if I can add something so the custom target does not run every single time.

[2020-07-29 23:21] StarGate-One opened #12642 "[libusb] x64-windows build failure "file COPY cannot read symlink""
**Host Environment**
- OS: [Microsoft Windows [Version 10.0.19041.388]]
- Compiler:
   - Visual Studio 2017 Version: 15.9.25  VS Tools Version: 14.16.27023
   - Visual Studio 2019 Version: 16.6.5  VS Tools Version: 14.26.28801

**To Reproduce**
Steps to reproduce the behavior:
`set VCPKG_DEFAULT_TRIPLET=x64-windows`
`./vcpkg install libusb --editable `

**Failure logs**
- Cut and past the appropri

[2020-07-30 00:20] StarGate-One opened #12643 "[vcpkg upgrade] upgrade does not honor previous vcpkg install <port> --editable feature"
**Describe the bug**
A port built using vcpkg install <port> --editable is not honored or rebuilt editable when using vcpkg upgrade
The vcpkg upgrade creates a src.clean directory then deletes all the ports source/build directories in `<vcpkg-root>\buildtrees\<port>` not just the .clean directory...

**Environment**
- OS: [Windows 10 / Linux both WSL2 and Hyper-V ]
- Compiler: msvc and gcc

**To R

[2020-07-30 01:40] PhoebeHui commented on #9560
The PR has been merged.

[2020-07-30 01:40] #9560 closed

[2020-07-30 01:42] PhoebeHui commented on #12552
The PR #9561 has been merged, please get latest source and try again.

[2020-07-30 01:42] #12552 closed

[2020-07-30 02:15] JackBoosY commented on #12579
[code]
Please provide your Visual Studio version, Windows version and Windows SDK version.

Thanks.

[2020-07-30 02:18] JackBoosY commented on #12587
@cenit What do you think?

[2020-07-30 02:27] JackBoosY commented on #12618
Please remove _VCPKG_PATH/downloads/tools/msys2_ and try again.

[2020-07-30 02:30] PhoebeHui commented on #12642
@StarGate-One, thanks for posting this issue!

Related to cmake issue https://gitlab.kitware.com/cmake/cmake/-/issues/20994. feel free to summit a PR for this, we're happy to accept it.

[2020-07-30 02:43] NancyLi1013 commented on #12632
Hi @aspioupiou

Thanks for posting this issue again. I tried to build this port based on the previous version and it failed due to `msys2` at the first time.
So I also tried to build the precious version for `x264 ` with the latest `msys2`. In this case, it can build successfully.

Considering the current status, you can only use the precious version for `x264 ` with the latest `msys2`.

Please up

[2020-07-30 02:48] NancyLi1013 commented on #12632
[portfile.txt](https://github.com/microsoft/vcpkg/files/4998478/portfile.txt)

You just need to update the content in portfile.cmake file. You can refer to this attachment.

[2020-07-30 02:50] LilyWangL commented on #12521
`ninja: error: manifest 'build.ninja' still dirty after 100 tries`
This seems to ninja's bug, the related source issue: https://github.com/ninja-build/ninja/issues/1599. You can remove `PREFER_NINJA` temporarily and try to rebuild asio.

[2020-07-30 02:58] PhoebeHui commented on #12638
@turngrobi, the msys issue has been fixed, please remove the old msys in downloads/tools folder, get latest source and try again.

For pkg-config issue, it would be fixed by PR https://github.com/microsoft/vcpkg/pull/12569.

Duplicated this PR to https://github.com/microsoft/vcpkg/issues/12565.

[2020-07-30 02:58] #12638 closed

[2020-07-30 03:00] strega-nil commented on #12643
It'd be nice to add the `--editable` flag to `upgrade`, you're right.

[2020-07-30 03:01] PhoebeHui commented on #12631
This issue would be fixed by PR https://github.com/microsoft/vcpkg/pull/12569, sorry for blocking you.

Close this issue as duplicated to https://github.com/microsoft/vcpkg/issues/12565.

[2020-07-30 03:01] #12631 closed

[2020-07-30 03:48] cgolchert commented on #11773
If it was fixed I probably shouldn't still be seeing it.

[2020-07-30 03:57] cgolchert opened #12644 "vcpkg.exe build failure with Visual Studio 2015 update 3 (again)"
**Describe the bug**
vcpkg bootstrap build failure.

**Environment**
OS: windows 10 64bit
Compiler: Visual Studio 2015 update 3

**To Reproduce**
Steps to reproduce the behavior:
bootstrap-vcpkg.bat

**Expected behavior**
Bootstrap build of vcpkg.exe

**Failure logs**

Building vcpkg.exe ...

  pch.cpp
  archives.cpp
  checks.cpp
  chrono.cpp
  cofffilereader.cpp
  downloads.cpp
  enums.cpp
  file

[2020-07-30 04:00] cgolchert commented on #12644
Thjs was after a "vcpkg update" told me....

Warning: Different source is available for vcpkg (2020.2.4 -> 2020.6.15). Use .\bootstrap-vcpkg.bat to update.
Using local portfile versions. To update the local portfiles, use `git pull`.
Error: There are invalid fields in the control file of boost-modular-build-helper
The following fields were not expected:

    Port-Version

This is the list of valid

[2020-07-30 05:02] cenit commented on #12587
opencv_ffmpeg.dll is a custom ffmpeg build. You cannot find it inside vcpkg, because we use the normal ffmpeg build which is a superset of it (we have aligned windows with Linux and osx, where libopencv_ffmpeg never existed)

[2020-07-30 05:06] cgolchert commented on #12644
Was just able to reproduce it on win 7 x64

[2020-07-30 06:02] PhoebeHui commented on #12644
@cgolchert, for the first issue, I can't repro it with vs2015 update3, could you clone a clean source and see if it still exist?

The second issue is expect for me, you need to update the source file by 'git pull', and rebuild vcpkg.

[2020-07-30 06:51] MCl57 commented on #12618
@strega-nil here requested file:
[msys-pacman-x64-windows-err.log](https://github.com/microsoft/vcpkg/files/4999337/msys-pacman-x64-windows-err.log)

[2020-07-30 06:53] JonLiu1993 commented on #2011
Hi @AMDmi3
Thanks for posting this issue. In my opinion. the current status might be enough.
So I'm closing this issue for now.

[2020-07-30 06:53] #2011 closed

[2020-07-30 06:55] JackBoosY commented on #12618
@MCl57 #12467 fixed this issue, but you need to remove the old msys2 manually.
@strega-nil Since msys2 officially did not consider the compatibility of the old version when fixing its bugs, I think we should unzip it in the _downloads/tools/msys2/${DATE_TAG}_ folder.

[2020-07-30 07:02] aspioupiou commented on #12632
Hi @NancyLi1013

Thank you for your feedback,
After posting, I saw #12288 and understood it was a msys issue at first.

vcpkg is really a great tool and we love using it at the company, but the lack of stability is sometimes annoying and time consuming...
Why not forking all these dependencies to avoid all these issues ?

Anyway, thanks again for your help

[2020-07-30 07:06] UnknownObject000 opened #12645 "[xlnt] update to <1.5.0>"
Library name:
```xlnt ( tfussell/xlnt )```
New version number:
```1.5.0```
Other information that may be useful (release notes, etc...)
Release Notes:
revert version bump (05fb0ce)
edit version bump path (80b9454)
move release files to root for now (7c0d642)
bump version to 1.5.0 (b118d8f)
release v1.5.0 (7e1e8cb)
fix release name (c3a1f1d)
fix release title (0f178e4)
improve consistency with prev

[2020-07-30 07:25] JackBoosY commented on #2420
Close this issue via #11203 merged.

[2020-07-30 07:25] #2420 closed

[2020-07-30 07:25] MCl57 opened #12646 "[log4cpp] generates additional annoying subdirectory oros"
**Host Environment**
- OS: [Windows 10/ Ubuntu]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install log4cpp`

**Failure logs**
installation okay, but
unfortunately the installation cannot be used properly due to an additional subdirectory `orocos`. In visual studio and in sources, the path `log4cpp\` is used instead of `orocos\log4cpp\`.

Result is eg:
`C:\work

[2020-07-30 07:26] NancyLi1013 commented on #10616
Hi all,

It's similar to this issue #11837. Let's track this issue there.

[2020-07-30 07:26] #10616 closed

[2020-07-30 07:27] JackBoosY commented on #10881
should be a vcpkg bug.

[2020-07-30 07:30] NancyLi1013 commented on #7617
Hi @ASxa86  and @emptyVoid

Thanks for posting this issue and joining in the discussion of this issue.

Since it's similar to #11837. Let's track this issue and move our attention there.

[2020-07-30 07:30] #7617 closed

[2020-07-30 07:34] JackBoosY commented on #10810
Now, we can use `--editable` to build the modified code.  And we want to make sure that the code has been modified before installation, so I think this feature is not needed.

[2020-07-30 07:38] tom-r-o commented on #12579
Visual studio Community 2019, Version 16.6.4
Windows version 1903 - 18362.959

Windows SDK:
In "Programs and Features" I have Windows SDK versions: 10.0.17763.132 and 10.0.18362.1
When running the VS installer, I have "Windows 10 SDK (10.0.183362.0)" (a slight difference from what's listed in "Programs and Features").

I also have "Visual Studio Build Tools 2017" installed

[2020-07-30 07:41] JackBoosY commented on #10601
Same bug with #10537

[2020-07-30 08:04] JackBoosY commented on #10133
vcpkg is a c/c++ third-party package manager, so if you need to use some libraries, please reopen an issue to request the addition of non-existent libraries.
If you want to support the ESP32 Microcontroller platform, please reopen an issue to request the addition of new ones triplet.

[2020-07-30 08:04] #10133 closed

[2020-07-30 08:08] JackBoosY commented on #10094
@strega-nil Any plan to check `portfile.cmake` in pipeline test?

[2020-07-30 08:15] JackBoosY commented on #9641
Close this issue via #9642 merged.

[2020-07-30 08:15] #9641 closed

[2020-07-30 08:30] NancyLi1013 commented on #9193
Hi @cdcseacave
Thanks for posting this issue.
In my opinion, we just need to update the dependency of `dbow2 `as `opencv4` instead of `opencv`. This may be more suitable. What do you think?

Since `opencv3 `and `opencv4` are conflicts with each other. So whatever `opencv3 `or `opencv4` is installed at first, another one will build fail. This is due to the relationships between `opencv3 `and `openc

[2020-07-30 09:15] JackBoosY commented on #10596
Should be fixed.

[2020-07-30 09:17] demonstan commented on #12633
I have the same situation.

[2020-07-30 09:19] JackBoosY commented on #12579
This issue should be fixed in https://github.com/abseil/abseil-cpp/issues/603, we need to apply official patch.

[2020-07-30 09:31] JackBoosY commented on #11905
Will update in #9100.

[2020-07-30 09:34] claremacrae commented on #12595
Hi @strega-nil

It’s maybe more to do with one of those systems being manually maintained, and people having to remember to do that.

Since the changing text in the .vcxproj - and maybe filter files too - only contains file-names, here is a CMake idea for a permanent [*] fix, to prevent anyone ever needing to manually maintain lists of files in these files in future:

1. Write code to teach the CM

[2020-07-30 09:39] NancyLi1013 commented on #9084
@BillyONeal
Could you please help take a look about this issue?

Thanks.

[2020-07-30 09:52] JonLiu1993 commented on #947
Hi @KindDragon
Thanks for posting this issue.
I am not very clear about the intention of your question, can you give me some more information

[2020-07-30 10:08] cdcseacave commented on #9193
In fact I disagree, most of openCV depending libraries support any version of openCV, only rarely a library is using a feature only added in the very last version; here dbow2 is a good example for that, and this issue is just an instance of a general improvement for vcpkg

[2020-07-30 10:26] samofoz opened #12648 "[ffmpeg] CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:72 (message):"
**Describe the bug**
vcpkg install ffmpeg[ffmpeg,openssl,vpx,x264]:x64-windows               fails!

**Environment**
- OS: Windows 10

**To Reproduce**
Steps to reproduce the behavior:
1. vcpkg install ffmpeg[ffmpeg,openssl,vpx,x264]:x64-windows
2. See error

**Expected behavior**
The package should have installed without errors.

**Failure logs**
C:\vcpackage\vcpkg>vcpkg install ffmpeg[ffmpeg,ope

[2020-07-30 10:29] samofoz commented on #12648
C:\vcpackage\vcpkg>C:/vcpackage/vcpkg/downloads/tools/msys2/msys64/usr/bin/bash.exe --noprofile --norc -c "pacman -S --noconfirm --needed pkg-config"
/usr/bin/bash: pacman: command not found

[2020-07-30 10:32] ASleepyCat opened #12649 "[bzip2:x64-windows] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: Microsoft Visual Studio Community 2019 Version 16.6.5

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install libarchive[bzip2]:x64-windows`

**Failure logs**
[code]

**Additional context**
Was trying to fix GitHub Actions failing to finish a windows release build workflow and ended up locally reproducing the same error. Did `git pull`,

[2020-07-30 10:49] KestutisMa commented on #5672
I got this error using most recent version of vcpkg:
[code]

[2020-07-30 12:37] tblut opened #12650 "[New Port Request] libE57Format"
Library name: libE57Format

Library description: A library to provide read & write support for the E57 file format.

Source repository URL: [https://github.com/asmaloney/libE57Format](https://github.com/asmaloney/libE57Format)

Project homepage (if different from the source repository): [https://github.com/asmaloney/libE57Format](https://github.com/asmaloney/libE57Format)

Anything else that is us

[2020-07-30 14:08] ChrisNabold opened #12651 "librsb"
Is it possible to add the package librsb for sparse matrices?
Currently several packages are outdated eg. armadillo, gsl,  sundials mathgl. How can these package be updated to the actual releases?
Thank you for your help

[2020-07-30 14:51] Arnold-Muralt opened #12652 "[<opencv:x86-windows>] build failure"
**Host Environment**
- OS: [Windows]
- Compiler: 2020.06.15-nohash

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install opencv:x86-windows`

**Failure logs**
[code]

**Additional context**
Add any other context about the problem here, such as what you have already tried to resolve the issue.

[2020-07-30 15:22] computerquip-futurex commented on #12649
I have this same issue with cpprestsdk which tries to build zlib.

[code]

[2020-07-30 15:36] cgolchert commented on #12644
After git pull.... I got the same results as the first log posted.

I had to run everything on another computer and copy the files over.  For some reason it let me bootstrap it after that.  I can't install anything without the control file error from the newly built vcpkg.exe now.

[2020-07-30 15:48] cgolchert commented on #12644
From a clean install........

C:\dev>git clone https://github.com/microsoft/vcpkg
Cloning into 'vcpkg'...
remote: Enumerating objects: 4, done.
remote: Counting objects: 100% (4/4), done.
remote: Compressing objects: 100% (4/4), done.
remote: Total 84339 (delta 0), reused 0 (delta 0), pack-reused 84335
Receiving objects: 100% (84339/84339), 24.74 MiB | 7.76 MiB/s, done.
Resolving deltas: 100% (522

[2020-07-30 15:55] strega-nil commented on #12618
@JackBoosY yeah that seems reasonable. I wish that we didn't have to deal with this :'(

[2020-07-30 16:03] strega-nil commented on #10094
@JackBoosY there's not a plan as of yet, but I think we'd like to add [cmake-format](https://github.com/cheshirekow/cmake_format) once we get the time.

[2020-07-30 17:08] The-value-investor opened #12653 "How can I solve this problem related to the installation of GMP using VCPKG?"
When I try to install GMP with VCPKG for visual studio, it gives me this error:

[code]

I tried to install GMP on another PC and it gives the same error, I also tried to uninstall and re-install visual studio and vcpkg but nothing changed and the istallation of other libraries had no issues.

[2020-07-30 17:16] matwey opened #12654 "[libftdi1/x64-linux] build failure"
**Host Environment**
- OS: openSUSE Linux 15.2
- Compiler: gcc (SUSE Linux) 7.5.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install libftdi1`

**Failure logs**
[code]

[2020-07-30 17:45] MCl57 commented on #12618
Thanks for your advice.
I started over, deleted all non-git folders and generated everything. this time without problems. I'm happy now.
Thank you.

[2020-07-30 17:45] #12618 closed

[2020-07-30 17:51] grebeplusplus commented on #12649
It seems that the `find_program()` call at `scripts/cmake/vcpkg_fixup_pkgconfig.cmake:279` is "hard failing" rather than "soft failing" and allowing the fallback behaviour to take over.

As a workaround you can adjust the file as follows:

from:
[code]

to:
[code]

[2020-07-30 17:53] grebeplusplus commented on #12649
As a side note, my system, (despite being windows based) has pkg-config installed to the path. Is the intention here to *not* trust the user's system on windows?

[2020-07-30 19:23] StarGate-One commented on #12653
Please upload/attach file `C:\Users\utente\Documents\Visual Studio 2019\vcpkg\buildtrees\gmp\build-x86-windows-rel-out.log` needed for analysis.
Thank you

[2020-07-30 19:34] StarGate-One commented on #12649
@grebeplusplus
- The intention is to provide vcpkg with stable versions of tools/utilities that have been test/verified to work with vcpkg and the ports/features it installs, as some older outdated, alpha or beta builds of the tools/utilities may no longer or not yet be supported.
- Setting the VCPKG_FORCE_SYSTEM_BINARIES (reference https://vcpkg.readthedocs.io/en/latest/users/config-environment/)

[2020-07-30 19:38] rkitover opened #12658 "vcpkg should recover from failed port upgrades"
****

**Is your feature request related to a problem? Please describe.**

When a build fails for a port upgrade, the previous version has been removed, and your project will no longer build.

**Proposed solution**

Before removing the previous version of a port for an upgrade, back it up. If the upgrade fails, restore the backup.

[2020-07-30 19:40] StarGate-One commented on #12649
@ASleepyCat you can also use these temporary fixes listed on issue https://github.com/microsoft/vcpkg/issues/12565#issuecomment-664047785, just download the files, rename them without the `.txt` extension and place them in the `<vcpkg-root>\scripts\cmake` folder.

[2020-07-30 19:56] StarGate-One commented on #12643
@strega-nil
@JackBoosY
Thank you, but is there an estimate on when this could take effect?
Reason I ask, as until the editable option is available, the `vcpkg upgrade` option is now worthless and I have to manually create scripts to remove and reinstall the ports upgraded and any with dependencies on those ports with the selected features I require.
A lot of manual work which did not exist before

[2020-07-30 20:18] computerquip-futurex commented on #12649
This appears to work for me for now. Hope a perma fix gets put in soon.

[2020-07-30 20:57] rkitover commented on #12658
An alternative and much simpler solution would be to defer the removal of the installed package until after the successful build of the new version.

[2020-07-30 20:58] kcgen commented on #12652
[code]

[2020-07-30 21:21] rkitover opened #12660 "[wxwidgets] build failure: Windows VS 16.6.5: Internal compiler error"
**Host Environment**
- OS: Windows Insider Preview Dev Channel (Build: 20180.1000)
- Compiler: Visual Studio 16.6.5

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install wxwidgets:x64-windows-static`

**Failure logs**

Console output:

[code]

Build log error (full log attached):

[code]
[install-x64-windows-static-dbg-out.log](https://github.com/microsoft/vcpkg/files/5003837/install

[2020-07-30 21:37] rkitover commented on #12660
Link to Visual Studio problem report:

https://developercommunity.visualstudio.com/content/problem/1131900/internal-compiler-error-building-wxwidgets-from-vc.html

[2020-07-30 22:10] #9228 closed

[2020-07-30 23:02] grebeplusplus commented on #12649
Interesting seeing as the behaviour doesn't quite seem to follow this logic for *nix platforms as the first find puts `/usr/bin` on the search path. Thank you for the flag though I'll experiment with it sometime :)

[2020-07-31 00:31] FahaoTang commented on #4219
Thanks guys. I got a similar issue though my environment is slightly different as my MSVC, vcpkg, OpenSSL are all the latest versions. I fixed it by adding -DOPENSSL_ROOT_DIR="C:/vcpkg/installed/x64-windows-static":
https://kontext.tech/column/c_and_cplusplus/443/cmake-build-error-could-not-find-openssl-on-windows-10

[2020-07-31 01:52] LilyWangL commented on #12646
Thanks for posting this issue. If you run command `./vcpkg integrate install` and `./vcpkg integrate project` before creating c++ project on Visual Studio, you can use include directory of VCPKG on Visual Studio. Does the include directory `orocos\log4cpp` will block your project?

[2020-07-31 01:52] PhoebeHui commented on #12648
@samofoz, could you remove 'C:/vcpackage/vcpkg/downloads/tools/msys2' folder, get vcpkg source with 'git pull' and try to build again? please attach the failure log if the issue still persist.

[2020-07-31 02:01] PhoebeHui commented on #12649
This issue would be fixed by PR https://github.com/microsoft/vcpkg/pull/12569.

Close this issue as duplicate to https://github.com/microsoft/vcpkg/issues/12565.

[2020-07-31 02:01] #12649 closed

[2020-07-31 02:15] JonLiu1993 commented on #25
Hi @YehezkelShB
PR [#11758](https://github.com/microsoft/vcpkg/pull/11758) can resolve this requirement
Do you think it can meet your expectations

[2020-07-31 03:07] mllw opened #12662 "find_program to find pkg-config use REQUIRED"
**Describe the bug**
A clear and concise description of what the bug is.

**Environment**
- OS: Windows
- Compiler:  Visual studio 2019

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install boost
2. See error
Additional packages (*) will be modified to complete this operation.
Detecting compiler hash for triplet x86-windows...
Starting package 1/90: bzip2:x86-windows
Building packa

[2020-07-31 03:20] GuacoIV commented on #12662
I just got the same error trying to install cairo...following!

[2020-07-31 03:26] PhoebeHui commented on #12662
This issue would be fixed by PR #12569.

Close this issue as duplicate to #12565.

[2020-07-31 03:26] #12662 closed

[2020-07-31 03:59] xkisu opened #12663 "[protobuf] Update Protobuf package to 3.12.4"
****

**Is your feature request related to a problem? Please describe.**
Protobuf 3.12.4 fixes a mistake where 3.12.3 was mistagged, the vcpkg protobuf library needs to be updated to the new version.

**Proposed solution**
The library needs to updated to 3.12.4

**Additional context**
Link to the Protobuf issue about 3.12.3: https://github.com/protocolbuffers/protobuf/issues/7632

[2020-07-31 05:25] #8602 closed

[2020-07-31 05:31] #11928 closed

[2020-07-31 05:33] #11918 closed

[2020-07-31 05:39] #12054 closed

[2020-07-31 05:43] #5671 closed

[2020-07-31 05:43] PhoebeHui commented on #12291
@jlfilion, the PR has been merged, please get latest source and try to build again.

[2020-07-31 05:43] #12291 closed

[2020-07-31 05:45] #10730 closed

[2020-07-31 05:46] PhoebeHui commented on #12124
@irinabov, the PR has been merged, please get latest source and try again.

[2020-07-31 05:46] #12124 closed

[2020-07-31 05:52] NancyLi1013 commented on #12653
Hi @The-value-investor
Thanks for posting this issue.

Could you please try to remove `vs-yasm` and _C:/Users/utente/Documents/Visual Studio 2019/vcpkg/downloads/ShiftMediaProject-gmp-e140dfc8668e96d7e56cbd46467945adcc6b3cc4.tar.gz_?

Then try to rebuild this.
I cannot reproduce this issue on my local.

@StarGate-One
Thanks for your help.

[2020-07-31 05:57] #12496 closed

[2020-07-31 05:59] #11962 closed

[2020-07-31 06:12] PhoebeHui commented on #12623
PR https://github.com/microsoft/vcpkg/pull/11277 would support this feature.

[2020-07-31 06:17] LilyWangL commented on #6993
Thanks for posting this issue. This issue has been fixed. So I am closing this issue for now.

[2020-07-31 06:17] #6993 closed

[2020-07-31 06:41] PhoebeHui commented on #7225
Currently, x264 built successfully on linux, please get latest source and try again.

./vcpkg install x264
Computing installation plan...
The following packages will be built and installed:
    x264[core]:x64-linux
Detecting compiler hash for triplet x64-linux...
Starting package 1/1: x264:x64-linux
Building package x264[core]:x64-linux...
-- Downloading https://github.com/mirror/x264/archive/303c

[2020-07-31 06:41] #7225 closed

[2020-07-31 07:22] samofoz commented on #12648
On a clean install:

C:\vcpackage\vcpkg>vcpkg install ffmpeg[ffmpeg,x264]:x64-windows
Your feedback is important to improve Vcpkg! Please take 3 minutes to complete our survey by running: vcpkg contact --survey
Computing installation plan...
The following packages will be built and installed:
    ffmpeg[avresample,core,ffmpeg,gpl,x264]:x64-windows
  * x264[core]:x64-windows
Additional packages (*)

[2020-07-31 07:41] PhoebeHui commented on #12648
@samofoz, for x264 issue, it's a duplicated issue with https://github.com/microsoft/vcpkg/issues/11765

[2020-07-31 07:42] #12648 closed

[2020-07-31 07:43] PhoebeHui commented on #12648
Also related to issue https://github.com/microsoft/vcpkg/issues/12632

[2020-07-31 08:24] PhoebeHui commented on #12644
@cgolchert, do you install win10 sdk? the definition of SYMBOLIC_LINK_FLAG_ALLOW_UNPRIVILEGED_CREATE  in "C:\Program Files (x86)\Windows Kits\10\Include\10.0.17763.0\um\WinBase.h" for my local machine.

This flag appears to be introduced in the new Windows 10 build 14972, See https://stackoverflow.com/questions/41041629/symbolic-link-flag-allow-unprivileged-create-create-symboliclink

[2020-07-31 08:39] MCl57 commented on #12646
The integration into the project works. I can write the following:
```#include "orocos/log4cpp/Appender.hh"```
The further resolution of the header files fails, because the following code is used in Appender.hh.
```#include <log4cpp/Portability.hh>``` instead of ```#include <orocos/log4cpp / Portability.hh>```

[code]

Fehler (aktiv)	E1696	Die Datei "Quelle" kann nicht geöffnet werden: "log4cpp/Po

[2020-07-31 09:05] 57Hao opened #12665 "[ libgo:x86-windows] build failure"
**Host Environment**
- OS: [Windows]
- Compiler: Microsoft Visual Studio\2017\BuildTools

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install libgo`

**Failure logs**
[code]

**Additional context**
Add any other context about the problem here, such as what you have already tried to resolve the issue.

[2020-07-31 09:05] LilyWangL commented on #12375
Thanks for posting this issue. This issue has been fixed by PR #12084. So I am closing this issue for now.

[2020-07-31 09:05] #12375 closed

[2020-07-31 09:07] LilyWangL commented on #12452
Please reopen this issue if this is still a problem for you.

[2020-07-31 09:07] #12452 closed

[2020-07-31 09:23] LilyWangL commented on #7084
@Sibras Could you please submit a [Pull Request](https://github.com/microsoft/vcpkg/compare) to commit your changes?

[2020-07-31 09:41] rkitover opened #12666 "allow specifying minimum version for Build-Depends"
****

**Is your feature request related to a problem? Please describe.**
Recently I was upgrading libpng and the build failed because the currently installed version of the zlib port did not have a pkg-config file, while the updated one did, but vcpkg did not know that it had to update zlib first.

**Proposed solution**
Allow specifying minimum version for dependencies in the `Build-Depends:` fiel

[2020-07-31 10:06] larshg commented on #12565
This is now a problem with the windows image windows2016.
https://github.com/actions/virtual-environments/blob/main/images/win/Windows2016-Readme.md

As its been updated to CMake 18, with a VCPKG that fails installing.

Causing pipeline errors like this:
https://dev.azure.com/PointCloudLibrary/pcl/_build/results?buildId=17096&view=logs&j=b2e91478-826b-5668-35a1-2ffb6cc2ce81&t=7e072d12-9c35-5a96-20

[2020-07-31 10:14] YehezkelShB commented on #25
@JonLiu1993 Sounds promising! Thanks.

[2020-07-31 10:27] PhoebeHui commented on #11358
@zweistein-frm2, do you solve the problem? what's failures it produce?

BTW, I don't think you need to pass the following args to cmake in your yaml file

        -DOpenCV_DIR=/root/parts/vcpkg/build/installed/x64-linux/share/opencv \
        -DProtobuf_DIR=/root/parts/vcpkg/build/installed/x64-linux/share/protobuf \
        -DBoost_INCLUDE_DIR=/root/prime/include  \
        -DProtobuf_INCLUDE_DIR

[2020-07-31 10:32] PhoebeHui commented on #12461
Duplicated to https://github.com/microsoft/vcpkg/issues/11231

[2020-07-31 10:32] #12461 closed

[2020-07-31 12:47] kcgen commented on #12583
@ashmereyna , please keep this issue open until it's proven to be fixed without the manual work around.  Thank you!
As of today, this issue continues to affect other CI workflows - so it's very much still open.

[2020-07-31 12:53] kcgen commented on #12582
@strega-nil , can you reopen this? This issue is still affecting CI workflows today (4 days after it was closed): https://github.com/dosbox-staging/dosbox-staging/issues/524

The manual work-around posted by @StarGate-One above are a start to getting this fixed, but until they're tested, integrated into the production code-base, and are proven to be passing by end-users, then the issue should stay

[2020-07-31 12:57] grandmaster789 opened #12668 "libpng:x64-windows build failure"
- OS: windows
- Compiler: MSVC v19.26.28806 for x64 (Visual Studio 2019)

Steps to reproduce the behavior:
`./vcpkg install libpng:x64-windows`

**Failure logs**
CMake Error at scripts/cmake/vcpkg_fixup_pkgconfig.cmake:279 (find_program):
  Could not find PKGCONFIG using the following names: pkg-config
Call Stack (most recent call first):
  ports/libpng/portfile.cmake:117 (vcpkg_fixup_pkgconfig)

[2020-07-31 14:18] dkozel commented on #8778
@JackBoosY Most of the unpackaged dependencies are not required to build a workable GNU Radio installation. Infact, I'm not sure that any of those are. Swig has been replaced by Pybind11 in the next release of GNU Radio.

[2020-07-31 14:54] StarGate-One opened #12670 "[mathgl] build failure x64-windows with feature fltk"
**Host Environment**
- OS: [Microsoft Windows [Version 10.0.19041.388]]
- Compiler:
   - Visual Studio 2017 Version: 15.9.25  VS Tools Version: 14.16.27023
   - Visual Studio 2019 Version: 16.6.5  VS Tools Version: 14.26.28801

**To Reproduce**
Steps to reproduce the behavior:
- **`git pull`** to update vcpkg which included PR #12273 Commit https://github.com/microsoft/vcpkg/commit/7938ab75c157f22

[2020-07-31 15:20] StarGate-One commented on #12668
@grandmaster789 see https://github.com/microsoft/vcpkg/issues/12565#issuecomment-664047785 - download the **vcpkg_fixup_pkgconfig.cmake.txt** and rename it to **vcpkg_fixup_pkgconfig.cmake** and drop it into **[vcpkg-root]\scripts\cmake** (over writing the existing one or rename the existing one if you like) and you should be good to go while waiting for the official patch to make it to master.

[2020-07-31 15:20] acgetchell opened #12671 "[mpir] build failure"
**Host Environment**
- OS: macOS 10.15.6
- Compiler: Apple clang version 11.0.0 (clang-1100.0.33.17)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install mpir`

**Failure logs**
[code]
-Please attach any additional failure logs mentioned in the console output.

**Additional context**
Updated vcpkg ports today, updated version broke. It looks like a dependency on autoconf was introdu

[2020-07-31 15:31] acgetchell commented on #12671
A recent commit broke the port:

https://github.com/microsoft/vcpkg/pull/12514

If I checkout the previous commit the port builds:

[code]

[2020-07-31 16:11] strega-nil commented on #12112
This is one of those things that sounds great in theory, but is almost impossible to do in practice. In a perfect world, yes this is how it would work. I'd personally love this at least.

[2020-07-31 16:12] #12628 closed

[2020-07-31 16:20] #12565 closed

[2020-07-31 16:20] #12606 closed

[2020-07-31 16:20] #12652 closed

[2020-07-31 16:58] Fedr opened #12675 "[New Port Request] OpenCTM"
Library name: OpenCTM

Library description: triangular mesh compression library

Source repository URL: http://openctm.sourceforge.net/

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2020-07-31 17:11] acgetchell opened #12676 "[date] build/link failure"
**Host Environment**
- OS: macOS, probably others
- Compiler: Apple clang version 11.0.0 (clang-1100.0.33.17), probably others

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install date`

**Failure logs**
[code]

**Additional context**
Previously reported as https://github.com/microsoft/vcpkg/issues/9082, and incorrectly marked as resolved in https://github.com/microsoft/vcpkg/pull/1

[2020-07-31 17:16] acgetchell commented on #12676
By uncommenting https://github.com/acgetchell/currentDateTime/blob/master/CMakeLists.txt#L12:

[code]

[2020-07-31 17:24] strega-nil commented on #12671
Hey @acgetchell, it looks like the modern version requires running autoconf -- can you install `autoconf` and `automake` via `brew`?

[code]

Could you try that? You may also need to set CFLAGS in the vcpkg install, which will be fixed in a PR:

[code]

[2020-07-31 17:46] #12064 closed

[2020-07-31 18:07] #10705 closed

[2020-07-31 18:23] #10318 closed

[2020-07-31 18:35] #12340 closed

[2020-07-31 18:35] #7009 closed

[2020-07-31 20:40] BillyONeal commented on #9084
What @KindDragon said. There's no reason to remove debugging information; we believe CMake's default setting which includes not even stripped symbols in release mode is an incorrect default. Notably, Windows turning on debug information never increases the size of the resulting program, only in the worst case some intermediate files. All our debugging bits end up going into a PDB, and you always w

[2020-07-31 21:02] Voskrese commented on #12636
@longnguyen2004
busybox ?

[code]

[2020-07-31 22:07] #9084 closed

[2020-07-31 23:24] longnguyen2004 commented on #12636
Seems good enough for the job, just need GNU make from GnuWin32. @ras0219-msft what do you think?

[2020-07-31 23:49] #10667 closed

[2020-08-01 00:02] sirrobzeroone commented on #5672
as with KestutisMa - same

_Error: Building package bzip2:x64-windows failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `.\vcpkg update`, then
submit an issue at https://github.com/Microsoft/vcpkg/issues including:
  Package: bzip2:x64-windows
  Vcpkg version: 2020.06.15-nohash_

[2020-08-01 00:05] sirrobzeroone commented on #12665
+1 attempt to install bzip2
`CMake Error at scripts/cmake/vcpkg_fixup_pkgconfig.cmake:279 (find_program):
  Could not find PKGCONFIG using the following names: pkg-config
Call Stack (most recent call first):
  ports/bzip2/portfile.cmake:51 (vcpkg_fixup_pkgconfig)
  scripts/ports.cmake:79 (include)

Error: Building package bzip2:x64-windows failed with: BUILD_FAILED
Please ensure you're using the l

[2020-08-01 03:00] 2403772980ygy opened #12679 "[alembic] update to 1.7.13"
Library name: alembic

New version number: 1.7.13

Other information that may be useful (release notes, etc...)

1.7.12 build fails on Linux and is supposed to be fixed on 1.7.13.

[2020-08-01 05:34] Sibras commented on #7084
A PR has been waiting for a while #11277

[2020-08-01 06:42] longnguyen2004 commented on #12636
Perl would be a problem though, I haven't known yet if the openssl build system can use native Perl or not...

[2020-08-01 08:25] shunshizhechang commented on #12443
build-libpq-x64-windows-RELEASE-out.log:
cl output Microsoft (R) C/C++ Optimizing Compiler Version 19.26.28806 for x64
Copyright (C) Microsoft Corporation.  All rights reserved.

usage: cl [ option... ] filename... [ /link linkoption... ]
.Detected hardware platform: x64

build-libpq-x64-windows-RELEASE-err.log:
Unable to determine OpenSSL version: The openssl.exe command wasn't found. at F:\jinan

[2020-08-01 10:41] freddy77 commented on #11773
Either you didn't pick up the change or a newer commit broke the build again. Check it and open another bug in the later case.

[2020-08-01 13:35] BenKey opened #12684 "[boost-regex] build failure"
**Host Environment**
- OS: Ubuntu 20.04 LTS
- Compiler: gcc (Ubuntu 9.3.0-10ubuntu2) 9.3.0

**To Reproduce**
Steps to reproduce the behavior:

`./vcpkg install boost-locale[icu] boost-regex[icu] boost[mpi] icu mpi --triplet x64-linux`

**Failure logs**

[code]
[config-x64-linux-dbg-err.log](https://github.com/microsoft/vcpkg/files/5010504/config-x64-linux-dbg-err.log)

[2020-08-01 14:03] BoIrelia opened #12685 "How shloud i suppress CMake Warning when i could not find CMakeLists.txt"
I was trying to install pcl using vcpkg, then i have this following problem during the part of freeglu. I tried to hide the warning but couldn't find the CMakeLists.txt. Really hope someone can help, thanks a lot!

CMake Warning:
  Manually-specified variables were not used by the project:

    VCPKG_PLATFORM_TOOLSET
    VCPKG_SET_CHARSET_FLAG

[2020-08-01 14:08] KindDragon commented on #947
Windows 10 includes their own ICU library in Windows SDK. VCPKG can use it instead of building their own version.

[2020-08-01 17:25] BoIrelia opened #12686 "Could not find dark. Please install it via your package manager"
i'm Building package kinectsdk1:x64-linux, but have this error "Could not find dark.  Please install it via your package manager". And i could not find this dark or even install wixtoolset, could anybody help thanks a lot.

[2020-08-01 20:46] #12538 closed

[2020-08-01 20:48] #12477 closed

[2020-08-01 20:56] #11164 closed

[2020-08-01 23:12] #8811 closed

[2020-08-01 23:18] #12671 closed

[2020-08-01 23:38] Spejik opened #12689 "[bzip2] build failure"
**Host Environment**
- OS: Windows 10 (using the new terminal)
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install 7zip bzip2`
or
`./vcpkg update`
after doing `git pull` in the vcpkg directory

**Failure logs**
[code]

**Additional context**
Add any other context about the problem here, such as what you have already tried to resolve the issue.

[2020-08-02 00:24] The-value-investor commented on #12653
Thanks for the answers, I tried to remove `vs-yasm` and` C:/Users/utente/Documents/Visual Studio 2019/vcpkg/downloads/ShiftMediaProject-gmp-e140dfc8668e96d7e56cbd46467945adcc6b3cc4.tar.gz` but nothing changed.

The file requested by @StarGate-One  is this:

`Microsoft (R) Build Engine versione 16.6.0+5ff7b0c9e per .NET Framework
Copyright (C) Microsoft Corporation. Tutti i diritti sono riservati.

[2020-08-02 00:26] The-value-investor commented on #12653
Thanks for the answers, I tried to remove `vs-yasm` and `C:/Users/utente/Documents/Visual Studio 2019/vcpkg/downloads/ShiftMediaProject-gmp-e140dfc8668e96d7e56cbd46467945adcc6b3cc4.tar.gz` but nothing changed.

The file requested by @StarGate-One is this:

[code]

[2020-08-02 01:51] StarGate-One commented on #12442
@JackBoosY @strega-nil
Please reopen this issue, the problem still exists.

From the most up-to-date git pull as of 20200801 @ 21:50 eastern, where port libigl was pushed, the CONTROL file for port libigl still is requiring imgui[bindings] and the bindings feature for imgui does not exist:

https://github.com/microsoft/vcpkg/blob/b46242ff15f78a2da58548bda04850daf3ddca48/ports/libigl/CONTROL#L20-L2

[2020-08-02 01:58] StarGate-One commented on #12442
`>vcpkg search imgui`
`imgui                1.77#2           Bloat-free Immediate Mode Graphical User interface for C++ with minimal depend...`
`imgui[allegro5-binding]               Make available Allegro5 binding`
`imgui[dx9-binding]                    Make available DirectX9 binding`
`imgui[dx10-binding]                   Make available DirectX10 binding`
`imgui[dx11-binding]

[2020-08-02 03:46] Schala commented on #12512
Alright, will close. Thanks.

[2020-08-02 03:46] #12512 closed

[2020-08-02 04:24] strega-nil commented on #12442
Shoot, I missed this. Lemme fix it.

[2020-08-02 04:54] longnguyen2004 commented on #9749
Should be fixed now, please test

[2020-08-02 05:58] linquize commented on #10596
No, it is not fixed! trailing `^M` still present.

[2020-08-02 05:59] linquize commented on #10596
No, it is not fixed! Trailing ^M still present.
Please re-open this issue.

[2020-08-02 06:07] linquize commented on #10530
As of today, Maintainers menu has **49** items long! I have to zoom out to **40%**!

[2020-08-02 06:44] linquize opened #12692 "vcpkg bash completion mess up when in manifest mode"
vcpkg bash completion mess up when in manifest mode. That is, `vcpkg.json` exists in the parent directory of vcpkg.

[code]

**Expected** Result:
[code]

**Actual** Result:
[code]

[2020-08-02 08:02] linquize opened #12693 "vcpkg manifest mode dependencies default-features not work after platform filter implemented"
After platform filter implemented, it breaks `default-features` again
vcpkg: f225ba822b55a2ba9d3cc2a3c4e0646c8f47f035 #12548
I want to perform `vcpkg install libarchive[core]` in manifest mode.
Note: `libarchive` has a list of `Default-Features`: `bzip2, libxml2, lz4, lzma, lzo, openssl, zstd`

Here is my `vcpkg.json`
[code]

**Actual** Result:
`libarchive[core]` is not followed, but install `liba

[2020-08-02 08:04] linquize commented on #12186
After #12548, it breaks again, see #12693.

[2020-08-02 08:11] linquize commented on #12689
No error for me. I am using c0f23c6c31ea7af5a751ea48a043dc64a872f4a0.
What compiler do you use?

[2020-08-02 08:13] linquize commented on #12686
kinectsdk1 currently supports Windows only.

[2020-08-02 08:16] linquize commented on #12668
No problem for me using c0f23c6c31ea7af5a751ea48a043dc64a872f4a0.

[2020-08-02 08:24] linquize commented on #12636
msys2 download time is relatively long.
1. vcpkg download msys2.
2. msys2's pacman update packages to latest.

I do not unstandard that building a such small library **zlib** requires msys2.

[2020-08-02 08:26] Neumann-A commented on #12689
Compiler does not matter.

Please dont use vcpkg in a path with a space. Especially the make based ports don't like it. The error could be fixed be replacing ${CURRENT_INSTALLED_DIR} with CURRENT_INSTALLED_DIR before the list transformation in vcpkg_fixup_pkgconfig and do it vice versa after the list has been created.

[2020-08-02 08:27] linquize commented on #12501
What is your `vcpkg.json`?

[2020-08-02 08:47] BoIrelia commented on #12686
got it, and really thanks!

[2020-08-02 08:48] #12686 closed

[2020-08-02 09:09] ray42 opened #12694 "How do I see/trigger debug_message()?"
I am trying to debug a problem with one of the packages we use which suddenly stopped installing properly. This only happens on our Jenkins job, I don't see this build failure locally, so it might be hard to reproduce. `protobuf` keeps on failing after the commit  with hash `458c20e94b9f558b523f` (where the protobuf port and vcpkg_fixup_pkgconfig.cmake is modified), this is the error:
[code]
I wan

[2020-08-02 09:21] linquize commented on #12654
Did you install all the needed packages?
`xypper install gcc-c++ git tar gzip bzip2 xz unzip zip curl make autoconf libtool libudev-devel`

[2020-08-02 09:22] linquize commented on #12654
This is because the path in opensuse is
/home/matwey/lab/vcpkg/packages/libftdi1_x64-linux/debug/**lib64**/cmake/libftdi1

No such problem in ubuntu

[2020-08-02 09:34] Neumann-A commented on #12694
`set(PORT_DEBUG ON)` in the triplet or the portfile `debug_message` is defined in `scripts/port.cmake`

[2020-08-02 09:55] matwey commented on #12654
You are right! Is vcpkg supposed to work only in **ubuntu**?

[2020-08-02 10:17] linquize commented on #12654
Not only **ubuntu**, but also many other linux distros.
However, some libraries like `libftdi1` need some extra packages from OS's package manager, which may have slightly different behavior.

[2020-08-02 10:29] linquize commented on #12654
Add `-DLIB_SUFFIX=` to cmake command line can fix this issue on **non-debian*, **non-arch** Linux platforms

[2020-08-02 10:39] linquize commented on #12654
`libftdi1` library author assumes you install the library to system-wide location such as `/usr/lib` (/usr/lib64 **non-debian**, **non-arch** Linux 64-bit).
See CMakeLists.txt line 52

But in vcpkg, we do not want different locations.

[2020-08-02 10:57] longnguyen2004 commented on #12636
I thought zlib uses CMake, no? That's probably the pkg-config part, we could use a standalone pkg-config for that.
The real problem is with Perl-based build systems, such as openssl, which will die on native Perl due to backward-vs-forward slash. Patching that out results in the configure script writing unescaped backslashes into the code.
Also, Busybox is not a true Unix environment, and also hav

[2020-08-02 11:06] linquize commented on #12636
zlib `portfile.cmake` has `vcpkg_fixup_pkgconfig()` that calls `vcpkg_acquire_msys(pkg-config)`

Can we download standalone `pkg-config` for windows, instead of the whole msys2?

[2020-08-02 12:55] acgetchell commented on #12671
@strega-nil Thanks for the fix!

[2020-08-02 13:07] linquize commented on #12636
For `vcpkg_fixup_pkgconfig()`,
Downloading **msys2 base files** http://repo.msys2.org/distrib/x86_64/msys2-base-x86_64-20190524.tar.xz +
**pkg-config** https://repo.msys2.org/msys/x86_64/pkg-config-0.29.2-1-x86_64.pkg.tar.xz
is enough.
Extract only `/usr/bin/pkg-config.exe` from `pkg-config-0.29.2-1-x86_64.pkg.tar.xz` is enough.

No need to run `pacman` that spends too much time updating all the p

[2020-08-02 13:30] Neumann-A commented on #12636
@linquize the idea is not new see #12626

[2020-08-02 14:03] linquize commented on #12692
https://github.com/microsoft/vcpkg/blob/385fb523320da4617966e34fcd586beecfcc9014/toolsrc/src/vcpkg/vcpkgpaths.cpp#L168

Not to output warning message if command is `autocomplete`

[2020-08-02 14:03] strega-nil commented on #12693
Now this is an issue with vcpkg more generally -- #11602

We need serious discussion on how to solve this.

[2020-08-02 14:12] linquize commented on #10532
This will use the corresponding toolset when open the project in different versions of Visual Studio

[2020-08-02 14:17] zth1001 opened #12696 "[openexr] build failure"
**Host Environment**
- OS: [e.g. Windows/Linux etc...]
- Compiler: revision
Windows
vcpkg version 2020.6.15
**To Reproduce**
Steps to reproduce the behavior:
./vcpkg install ogre

**Failure logs**
power shell exception
see attached logs
[stdout-x86-windows.log](https://github.com/microsoft/vcpkg/files/5012274/stdout-x86-windows.log)

[install-x86-windows-rel-out-1.log](https://github.com/microsoft

[2020-08-02 14:24] linquize commented on #10094
Now we have a rule: "`vcpkg.json` in 2 spaces" to put in **.editorconfig**

[2020-08-02 14:57] longnguyen2004 commented on #12636
About using BusyBox as a substitute for common Unix tools:
Seems like autotools-based build systems don't like it, it complains about missing `awk`, `sed`, `grep`,... so I end up having to do `AWK="awk" SED="sed" GREP="grep" ...`
Also, native make has some differences compared to MSYS2 make. It defaults to using `COMSPEC` for the shell, which breaks pretty much all autotools Makefiles. Adding SHEL

[2020-08-02 15:00] StarGate-One commented on #12442
@strega-nil
I think everyone is missing the point I was trying to make.
- port imgui features were changed a few weeks back:
- Prior to this change, to install port was:
   `vcpkg install imgui[core,bindings,freetype]`
- After the change to separate all the combined features in  [bindings] into individual features:
   `vcpkg install imgui[allegro5-binding,core,dx10-binding,dx11-binding,dx12-bindin

[2020-08-02 15:01] jlfilion commented on #12291
Yes. It works now. Thank you so much for the help.

Joe

On Fri, Jul 31, 2020, 1:44 AM Phoebe <notifications@github.com> wrote:

[2020-08-02 15:03] marekr commented on #4968
I'm going to be adding a OCCT port as its on our critical path to dumpster msys among other dependencies

[2020-08-02 15:10] Voskrese commented on #12636
@Neumann-A

why not, an auxiliary utility, if it really helps in the assembly, then obviously can use it?

[2020-08-02 15:24] longnguyen2004 commented on #12636
@Voskrese nope that's pretty much same as msys2 xD I need fast GNU make for openssl

[2020-08-02 15:32] strega-nil commented on #10094
@linquize well, we already have an autoformatter; do we need the editorconfig too?

[2020-08-02 15:47] linquize commented on #10094
What command is the autoformatter?

[2020-08-02 15:58] longnguyen2004 commented on #12636
Alright, current state of my BusyBox test:

| Build systems | Workaround |
| --- | --- |
| autotools-based | Need to specify `PATH_SEPARATOR=";"`, since BusyBox doesn't convert path separators for us. Also needs `AWK="awk" SED="sed" ...`. Resulting Makefiles need to be run with `SHELL=sh.exe` |
| Simple Perl-based (libvpx) | Needs some patching to the configure script, due to `diff --version` not

[2020-08-02 16:42] linquize commented on #12362
Neither non-x64 Linux nor **Alpine x64** work, because Alpine C library is musl

[2020-08-02 17:11] strega-nil commented on #10094
`vcpkg x-format-manifest`

[2020-08-02 17:12] strega-nil commented on #12362
Yeah, it's likely that we need to do a more complete rewrite. This will be solved before we stabilize manifests; until that point, you're going to have to, unfortunately, run the bootstrap script yourself.

[2020-08-02 18:46] evalen43 opened #12700 "tinyxmls2:x64-windows building package failure"
**Host Environment**
- OS: [e.g. Windows/Linux etc...]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install tinyxml2:64-windows`

**Failure logs**
-Package: tinyxml2:64:windows.
-Vcpkg version: 2020.06.15-nohash
**Additional context**
CMake Error at scripts/cmake/vcpkg_fixup_pkgconfig.cmake:279
Could not find PKGCONFIG using the following names: pkg-config
Call

[2020-08-02 19:26] rkitover commented on #12660
I uninstalled Visual Studio 16.6.5 and installed Build Tools 16.6.1 and the port compiled successfully.

[2020-08-02 20:47] evalen43 opened #12702 "zlib:x64-windows build failure"
**Host Environment**
- OS: Windows
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install zlib:x64-windows

**Failure logs**
-CMake Error at scripts/cmake/vcpkg_fixup_pkgconfig.cmake:279 (find_program)
-Call Stack (most recent call first)
ports/zlib/portfile.cmake:46 (vcpkg_fixup_pkgconfig)
scripts/ports.cmake:79 (include)

**Additional context**
Package: zlib:x64

[2020-08-02 21:09] Neumann-A commented on #12702
should have been fixed by e29945735164d0a2595be24cd897a84b64160553. Please update you vcpkg checkout

[2020-08-02 21:10] Neumann-A commented on #12700
should have been fixed by e299457. Please update you vcpkg checkout

[2020-08-02 22:49] #11136 closed

[2020-08-02 22:49] #12298 closed

[2020-08-03 02:02] PhoebeHui commented on #12297
The PR has been merged, and I haven't seen this failure on CI testing, close this issue now, would reopen this issue if it occur again.

[2020-08-03 02:08] PhoebeHui commented on #12702
This issue has been fixed, please get vcpkg latest source and try again.

[2020-08-03 02:08] #12702 closed

[2020-08-03 02:09] PhoebeHui commented on #12668
This issue has been fixed, please get vcpkg latest source and try again.

[2020-08-03 02:09] #12668 closed

[2020-08-03 02:13] PhoebeHui commented on #12700
This issue has been fixed, please get vcpkg latest source and try again.

[2020-08-03 02:13] #12700 closed

[2020-08-03 02:56] JackBoosY commented on #12501
Since #12460 meged, I think I can close this issue.

[2020-08-03 03:01] sfhacker commented on #12443
Ciao.
We have just built the latest version of PostgreSQL from source on Windows 10 x64 using MinGW/MSYS. It uses the latest version of OpenSSL.

![image](https://user-images.githubusercontent.com/25817529/89141906-50241800-d589-11ea-8072-1effba0002e7.png)

Let us know if you require assistance.

[2020-08-03 03:02] NancyLi1013 commented on #9084
Thanks for your explanation to this issue. @BillyONeal

[2020-08-03 03:08] JackBoosY commented on #12694
BTW, this issue is solved.

[2020-08-03 03:08] #12694 closed

[2020-08-03 03:11] NancyLi1013 commented on #7280
Hi @myd7349
Thanks for posting this request and also for your PR. brpc has been added to vcpkg now. Please update vcpkg to the latest version and try to use it.

[2020-08-03 03:11] #7280 closed

[2020-08-03 03:13] JackBoosY commented on #12693
Duplicate with #11602.

[2020-08-03 03:13] #12693 closed

[2020-08-03 04:11] longnguyen2004 commented on #12422
So, should we stay at boost-1.73.0 (and having to wait until the next version of boost for updates) or switch to 4.3.0?

[2020-08-03 04:58] UnknownObject000 opened #12704 "[boost] build failure"
**Host Environment**
- OS: Windows 10 Professional Workstation 20H2 (Windows Feature Experience Pack 120.2212.31.0)
- Compiler: MSVC 16 (Visual Studio 2019)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install boost`

**Failure logs**
Your feedback is important to improve Vcpkg! Please take 3 minutes to complete our survey by running: vcpkg contact --survey

[2020-08-03 05:01] UnknownObject000 commented on #12704
I have tried to access the download URL using my web browser and I can download this file successfully.

[2020-08-03 05:11] cgolchert commented on #12644
I'm not seeing a "10.0.17763.0"   Checking into it....

[2020-08-03 05:53] PhoebeHui commented on #12704
@UnknownObject000, could you try the workaround in https://github.com/microsoft/vcpkg/issues/12599#issuecomment-664725171

Duplicated issue to https://github.com/microsoft/vcpkg/issues/12383

[2020-08-03 05:57] PhoebeHui commented on #11181
@svenzhang2016, you can also try workaround in https://github.com/microsoft/vcpkg/issues/12599#issuecomment-664725171

See more information in issue #12383.

[2020-08-03 05:57] #11181 closed

[2020-08-03 06:47] PhoebeHui commented on #12684
@BenKey, boost-regex with icu feature only supports on windows in vcpkg currently.

Duplicated to https://github.com/microsoft/vcpkg/issues/11780.

[2020-08-03 06:47] #12684 closed

[2020-08-03 06:53] UnknownObject000 commented on #12704
It works

[2020-08-03 06:53] #12704 closed

[2020-08-03 07:01] faserg1 commented on #11283
Same thing for me. I currently use WSL 1 and unable to bootstrap vcpkg.

[2020-08-03 07:14] PhoebeHui commented on #2556
@plasticbox, does this still be a problem for you? you can reference https://github.com/microsoft/vcpkg/blob/5e40afca0d7286a9a7d742822cc2a1179a9e63fc/docs/users/triplets.md#community-triplets to set the custom triplets.

[2020-08-03 07:33] ebraminio commented on #12572
Okay, applying https://gitlab.gnome.org/GNOME/pango/-/merge_requests/213/diffs since 1.45.5 you should be able to compile pango without hb-glib, so feel free to update pango and go for this without hb-glib.

[2020-08-03 08:11] valenotary opened #12707 "Raylib's audio module not working"
**Describe the bug**
Using vcpkg on the visual studio IDE, the project using raylib's audio module fails to build due to unresolved external symbols.

**Environment**
- OS: Windows
- Compiler: MVSC (cl.exe)

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install raylib
2. Attempt to build a MSVC project that uses raylib's audio module (see attached link for picture of code)

**Expect

[2020-08-03 08:26] cenit opened #12708 "[mpir] build failure"
**Host Environment**
- OS: Ubuntu Linux 20.04
- Compiler: GCC 9.3

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install mpir`

**Additional context**
after #12677 (removing autoconfig) mpir does not build anymore on Linux
@strega-nil

[2020-08-03 09:03] faserg1 commented on #11283
I guess it because of VS Code. Running bootstrap from non-VS Code terminal (just start it from std terminal) run OK.

[2020-08-03 09:04] NancyLi1013 commented on #12696
Hi @zth1001
Thanks for posting this issue.
[code]
It seems that there is no enough space on your local. Could you please check this?

I also found this info from `install-x86-windows-rel-out-1.log`:
[code]
Could you please also check if `IlmImfUtilTest.exe` exists on your local?

[2020-08-03 09:21] PhoebeHui commented on #12357
Duplicated to issue https://github.com/microsoft/vcpkg/issues/1254

Related PR https://github.com/microsoft/vcpkg/pull/11610

[2020-08-03 09:28] PhoebeHui commented on #11283
@faserg1, thanks for your information!

I didn't repro this issue with WSL1 and ubuntu terminal. @cjdb, could you try ubuntu terminal and see if the issue still exist?

[2020-08-03 09:48] faserg1 commented on #11283
Only Ubuntu terminal: no issues.
VS Code terminal with WSL connection and opened folder: issue exists.
Ubuntu terminal, but with VS Code with opended folder: issue exists.
I guess VS Code somehow lock those files.

[2020-08-03 09:52] NancyLi1013 commented on #12708
Hi @cenit
Thanks for posting this issue.

@strega-nil
It seems that `mpir `cannot build without `autoconfig` on Linux. Could you please help take a look?

[code]

[2020-08-03 10:41] PhoebeHui opened #12709 "vcpkg_fixup_pkgconfig failed to replace the string when root path contains Upper charactor on windows"
vcpkg_fixup_pkgconfig failed to replace the string when the path contains Upper character on windows.

Repro steps:
1.  Git clone https://github.com/microsoft/vcpkg F:\VCPKG\test7
2. ./bootstrap-vcpkg.bat
3. ./vcpkg install zlib:x64-windows

Failures:
Starting package 1/1: zlib:x64-windows
Building package zlib[core]:x64-windows...
-- Using cached F:/vcpkg/test7/vcpkg/downloads/zlib1211.tar.gz
--

[2020-08-03 10:41] PhoebeHui commented on #12709
cc @Neumann-A

[2020-08-03 10:43] PhoebeHui commented on #12670
@StarGate-One, thanks for reporting this issue! I will take a look at this issue.

[2020-08-03 11:04] Neumann-A commented on #12709
Release worked so the issue should be not the path but somewhere else. `set(PORT_DEBUG on)` in the triplet or port for better debugging of the issue

[2020-08-03 11:53] Neumann-A commented on #12709
[code]

[2020-08-03 11:54] Neumann-A commented on #12709
ah wait that is with #12709

[2020-08-03 12:41] gix opened #12712 "MSBuild integration: "Using triplet" message has high importance (again)"
I'm submitting bug #12164 again. It was fixed in f24543e83134c0199df370d683f69641fc66c44a but overwritten and reverted again in the next commit c21893b4dc68430ebcf028ffdb190e586fc3d639.

**Describe the bug**
vcpkg's msbuild integration (in `vcpkg.targets`) displays a message `Using triplet "x64-windows" from "<vcpkg-root>"`. Since #4361 this message has importance high (instead of the previous nor

[2020-08-03 12:52] KevDi opened #12714 "[librdkafka] update to 1.5.0"
Library name: librdkafka

New version number: 1.5.0

Other information that may be useful (release notes, etc...)

[2020-08-03 13:12] Neumann-A commented on #12712
Personally I think this falls into the category: Some people like the verbose output and some people don't. As far as I remember with Normal importance the message sometimes got not displayed if the triplet was changed which can lead to confusion.

[2020-08-03 13:15] Neumann-A commented on #12653
You have to replace `yasm.exe` downloaded by vcpkg with a newer one (meaning building yasm yourself). Yasm seems to segfault under certain cirumstances on some machines for unknown reasons.

[2020-08-03 14:01] gix commented on #12712
If you like the verbose output, then increase your build verbosity. Otherwise this message is IMO not significant enough to bloat an otherwise minimal build output.

[2020-08-03 14:56] yamcenutzer opened #12719 "bootstrap vc2015 broken again by manifest coders using > c++11 features"
**Describe the bug**
bootstart fails using vc2015

**Environment**
- OS: windows
- Compiler: vc2015u4
**To Reproduce**
Steps to reproduce the behavior:
1. .bootstrap-vcpkg
Repro code when

**Expected behavior**
vcpkg gets built on compilers < c++14

**Failure logs**
[code]

**Additional context**
Add any other context about the problem here.

[2020-08-03 14:58] yamcenutzer commented on #12719
I've added the full log because I feel I really need to waste everybody's time to ask once again :
WHY FORCE using C++17 compiler to manage C++11 (and some even older compatible) libraries???

[2020-08-03 15:52] linquize commented on #12362
It is easy to implement `VCPKG_FORCE_SYSTEM_BINARIES=1` in `bootstrap.sh`
so that user can set once for both bootstrap and `vcpkg install`

[2020-08-03 15:59] cgolchert commented on #12644
Installed the current win10 sdk.......

Microsoft Windows [Version 10.0.18363.959]
(c) 2019 Microsoft Corporation. All rights reserved.

C:\dev\vcpkg>bootstrap-vcpkg.bat

Building vcpkg.exe ...

  pch.cpp
  archives.cpp
  checks.cpp
  chrono.cpp
  cofffilereader.cpp
  downloads.cpp
  enums.cpp
  files.cpp
  hash.cpp
  json.cpp
  machinetype.cpp
  parse.cpp
  strings.cpp
  stringview.cpp
  system.c

[2020-08-03 16:04] cgolchert commented on #12644
I can understand some of this isn't the fault of the vcpkg project... but then it IS "**microsoft**
/vcpkg" and none of this stuff broke without being 100% from MS.

[2020-08-03 17:28] strega-nil commented on #12362
@linquize fair enough; do you want to write that?

[2020-08-03 17:40] strega-nil commented on #12708
That's very odd... that's the whole point of the `configure` script...

[2020-08-03 18:40] exhdev opened #12720 "[tclap:x86-windows] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: Visual Studio 2019
- Package: tclap:x86-windows
- Vcpkg version: 2020.06.15-nohash

**To Reproduce**
Steps to reproduce the behavior:
- git clone https://github.com/microsoft/vcpkg
- .\vcpkg\bootstrap-vcpkg.bat
- .\vcpkg\vcpkg install glfw3 glew tclap jsoncpp eigen3
- .\vcpkg\vcpkg install tclap

All packages installed fine except tclap. Also tried

[2020-08-03 19:11] ridetpro1994 opened #12721 "windows 10/ cmake 3.18.0-rc2 fails building devil"
vcpkg install devil:x86-windows-static
Computing installation plan...
The following packages will be built and installed:
devil[core,jasper,lcms,libjpeg,libpng,openexr,tiff]:x86-windows-static

libffi[core]:x86-windows-static
liblzma[core]:x86-windows-static
libpng[core]:x86-windows-static
openexr[core]:x86-windows-static
openssl[core]:x86-windows-static
openssl-windows[core]:x86-windows-static
py

[2020-08-03 19:11] StarGate-One commented on #12720
Downloads fine for me on first try.
File is attached - put in [vcpkg-root]\downloads folder.
[tclap-1.2.2.tar.gz](https://github.com/microsoft/vcpkg/files/5017967/tclap-1.2.2.tar.gz)

`->vcpkg install tclap --editable --only-downloads`
`Computing installation plan...`
`The following packages will be built and installed:`
 `   tclap[core]:x64-windows`
`Detecting compiler hash for triplet x64-window

[2020-08-03 19:33] StarGate-One commented on #12721
You could just create vcpkg again from scratch, but I definitely would not use 3.18.0-rc2 and 3.18.1 has been released
**- OR -**
1. I would suggest to download/install a release version of CMake, 3.18.1 is out now (https://github.com/Kitware/CMake/releases/download/v3.18.1/cmake-3.18.1-win64-x64.msi -or-
https://github.com/Kitware/CMake/releases/download/v3.18.1/cmake-3.18.1-win32-x86.msi) depend

[2020-08-03 19:42] Outurnate opened #12722 "[ffmpeg] build failure"
**Host Environment**
- OS: linux 5.7.11
- Compiler: gcc 10.1.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install ffmpeg[x264]`

**Failure logs**
=== CONFIGURING ===
ERROR: libx264 not found

**Additional context**
Adding --disable-opencl to x264's portfile fixes this issue

[2020-08-03 20:06] strega-nil commented on #12708
Apparently, I hadn't tested on Linux; @cenit could you try the new PR?

[2020-08-03 20:16] #12720 closed

[2020-08-03 20:37] The-value-investor commented on #12653
@Neumann-A. Can you show me how to install yasm, please?

[2020-08-03 20:42] Neumann-A commented on #12653
https://github.com/yasm/yasm

You should probably be able to build it with
`Mkfiles/vs/yasm.sln`

[2020-08-03 20:53] vejmartin commented on #12572
@ebraminio, that's amazing! Thank you for covering Pango, I'll look into integrating the changes.

[2020-08-03 21:03] StarGate-One commented on #12653
You should be able to build it with vcpkg...
`.\vcpkg install yasm:x86-windows-static` for 32-bit (of course that is a community triplet, that is not guaranteed work)
`.\vcpkg install yasm:x64-windows-static` for 64-bit

Then
`cd [vcpkg-root]\downloads\tools\yasm\1.3.0.6`
`move yasm.exe yasm.exe.old`
`cd [vcpkg-root]\installed\(x86 or x64)-windows-static\tools\yasm`
`copy yasm.exe [vcpkg-root]\dow

[2020-08-03 23:19] jmcnamara opened #12724 "[libxlsxwriter] update to 0.9.5"
**Library name**: libxlsxwriter

**New version number**: 0.9.5

**Other information (Release Notes) **: https://libxlsxwriter.github.io/changes.html

I will provide the update via a PR.

[2020-08-03 23:49] linquize commented on #12362
You write

[2020-08-04 00:33] TheMasterGear opened #12726 "Mutation Fur bodytemp_modifiers is working backwards"
**Describe the bug**
 I have been editing the JSON for a few weeks now and wanted to make my own mutations mod. This all started when I was a bear mutant and I was getting oh so very overheated during the late spring.

![BodyTem](https://user-images.githubusercontent.com/60374171/89239618-b596f980-d5c7-11ea-8964-f8d1e29668b2.png)

"bodytemp_modifiers": [ 750, 1500 ],
In the JSON file, "750" value

[2020-08-04 01:16] PhoebeHui commented on #12712
@gix, thanks for reporting this issue!

I have summited PR #12727 to revert the changes.

[2020-08-04 01:50] TheMasterGear opened #12729 "JSON mutation notes, threshold suppression, canceling non-purifiable, and gentics not affecting serums."
**Describe the oddity or bug**
As something I noticed, I'm not sure if this is a bug, but In the mutations JSON file, the string for "cancels" does cancel mutations as it says, but you'd think it would also think it would suppress some mutations for example "Bear" threshold of canceling carnivore. But It only cancels it if you had carnivore mutation at the time of passing the threshold, which is u

[2020-08-04 01:52] JackBoosY commented on #12709
@Neumann-A I think it's a vcpkg bug and we shouldn't fix it in other ways.

[2020-08-04 02:05] TheMasterGear commented on #12726
Sorry I got my GitHub somehow mixed up with Cataclysm: Dark Days Ahead!

[2020-08-04 02:05] TheMasterGear commented on #12729
Sorry I got my GitHub somehow mixed up with Cataclysm: Dark Days Ahead!

[2020-08-04 02:08] #12729 closed

[2020-08-04 02:08] #12726 closed

[2020-08-04 02:39] abcping123 opened #12730 "[ogre] some headers lost"
**Host Environment**
- OS: Win10
- Compiler: VS2017

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install opencv4[ovis]`

**Failure logs**
`..\buildtrees\opencv4\install-x64-windows-dbg-out.log`:
`..\buildtrees\opencv4\src\4.3.0-795a2a992f.clean\modules\ovis\src\ovis.cpp(7): fatal error C1083: Cannot open include file: 'OgreApplicationContext.h': No such file or directory`

When I ch

[2020-08-04 02:46] NancyLi1013 commented on #9193
Thanks for your clarification.
I have made sense what you want to express. But in fact, it would be better to depend on `opencv`. In this case, those libraries that depend on `opencv` will use the latest version of `opencv` by default. For now, it is `opencv4 `in vcpkg. As different versions for `opencv `have conflicts with each other. We need to handle the conflicts manually if there are two diff

[2020-08-04 02:46] #9193 closed

[2020-08-04 04:03] zsxing99 commented on #12708
I had the same issue today. It worked well last Thursday.

OS: Ubuntu Linux 18.04

`vcpkg/buildtrees/mpir/build-x64-linux-dbg-err.log`
[code]

[2020-08-04 05:50] JackBoosY commented on #12721
You can also remove _VCPKG/downloads/tools/msys2_ and rebuild.

[2020-08-04 05:51] LilyWangL commented on #12660
Thanks for posting this issue. I can't reproduce this issue locally, I can install wxwidgets:x64-windows-static successfully with Visual Studio 16.6.5 on the latest VCPKG.

[2020-08-04 06:16] valenotary opened #12734 "[eastl] Incorrect EABase include"
**Describe the bug**
EABase is not included correctly, and not in sync with the EASTL port either. EABase is stored in a different file directory level than what EASTL expects.

**Environment**
- OS: Windows
- Compiler: MSVC

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install eastl
2. See error

**Expected behavior**
Should just work out of the box (compile and link with no issue

[2020-08-04 06:58] niitsuma commented on #10824
execute \bootstrap-vcpkg.bat on current vcpkg
then
cd \vcpkg-some-old-version
execute \bootstrap-vcpkg.bat

This error happen
and
rec-open com can avoid this

[2020-08-04 07:08] rkitover commented on #12660
Could be something in my configuration, I don't know, but if that is the case I have no objections to closing this, especially as there's a separate Visual Studio report anyway.

[2020-08-04 08:09] jmcnamara commented on #12724
There is a C++ compilation issue in this release so I will close it and re-open with 0.9.6.

[2020-08-04 08:09] #12724 closed

[2020-08-04 08:50] 57Hao opened #12736 "can not link boost-log"
gcc 7.5
ubuntu18.04
[code]

[2020-08-04 08:50] etheory commented on #9132
From a fresh install of vcpkg today, this is STILL happening. How long is it going to take before vcpkg is actually usable? Is anyone even actually able to use vcpkg?

[2020-08-04 08:52] PhoebeHui commented on #12736
@57Hao, could you provide us more information? like the repro steps.

[2020-08-04 08:53] JackBoosY commented on #9132
@etheory I confirm that's a std experimental filesystem bug.

[2020-08-04 08:53] PhoebeHui commented on #12734
Duplicated issue to https://github.com/microsoft/vcpkg/issues/11262

[2020-08-04 08:56] NancyLi1013 commented on #12653
@The-value-investor

It seems that your local path is not suitable, which caused the file cannot be found.

[code]
Could you please clone vcpkg to another directory that doesn't contain space and rebuild this port?

[2020-08-04 08:59] LilyWangL commented on #12660
Waiting for Visual Studio report has new progress, if it confirm this is not related with VCPKG, I will close this issue.

[2020-08-04 09:00] 57Hao commented on #12736
There is two gcc in my PC, one is gcc-7.5,which is from apt store.the other is gcc-10.1,I compiled it myself，using make install.
This is CMakeLists.txt
[code]
using cmake .. -DCMAKE_TOOLCHAIN_FILE=/root/vcpkg/vcpkg/scripts/buildsystems/vcpkg.cmake, output is
[code]
then using make , and gcc throw error

[2020-08-04 09:10] NancyLi1013 commented on #12311
I cannot reproduce this issue on my local.
I'm closing this issue for now since no active in a long time.

[2020-08-04 09:10] #12311 closed

[2020-08-04 09:37] NancyLi1013 commented on #12632
@aspioupiou
Sorry for the late response.

Keeping all ports work fine, which is also what we expect. But now for the `msys `issue, it is caused by the update for `msys` components .
More details, please see #12288

[2020-08-04 09:38] JackBoosY commented on #12676
I will fix this tomorrow.

[2020-08-04 09:57] yanrchen opened #12740 "[opencv3:x64-windows] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: 2020.06.15-nohash

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install opencv3:x64-windows`

**Failure logs**
[code]
**Additional context**
The Cmake version in my OS is 3.18.1, the same as the one in the 'C:\Download\vcpkg\downloads\tools' folder.

[2020-08-04 10:06] NancyLi1013 commented on #12303
@SoumenKunduTantra
Does this issue still exist on your machine?

[2020-08-04 10:36] PhoebeHui opened #12741 "[wavpack] build failure on linux"
./vcpkg install wavpack
Your feedback is important to improve Vcpkg! Please take 3 minutes to complete our survey by running: vcpkg contact --survey
Computing installation plan...
The following packages will be built and installed:
    wavpack[core]:x64-linux
Detecting compiler hash for triplet x64-linux...
Starting package 1/1: wavpack:x64-linux
Building package wavpack[core]:x64-linux...
-- Down

[2020-08-04 10:36] longnguyen2004 commented on #12575
Since the current TBB build system is a nightmare to deal with, can we switch to https://github.com/wjakob/tbb for a better CMake build system? That way we can just do `vcpkg_configure_cmake` for all targets and not having to worry about other stuff.

[2020-08-04 10:51] PhoebeHui commented on #12741
This issue blocks to test ffmpeg feature.

[2020-08-04 13:19] etheory commented on #9132
Is someone looking at fixing it? I'm quite surprised that it was on the 24th of March that I first reported this and I've come back to see if I can finally use vcpkg, and it still doesn't work :stuck_out_tongue_winking_eye:

[2020-08-04 13:22] almogh52 commented on #7281
This is still not fixed since the gRPC package isn't updated yet to v1.30.0 which includes this fix.

[2020-08-04 15:07] quickiwiki opened #12743 "How do I get path to the downloaded cmake binary which is used by the vcpkg to build packages?"
I haven't found that out in documentation

[2020-08-04 15:28] martinsah commented on #702
I am having this issue in vcpkg 2020.06.15
I have HTTPS_PROXY and HTTP_PROXY set to the correct values. Nondescript error message.

[code]

[2020-08-04 15:58] Leedehai commented on #12521
The aforementioned Ninja issue #1599 [comment](https://github.com/ninja-build/ninja/issues/1599#issuecomment-617411613) mentioned this might be caused by an out-of-sync system time. Does syncing the system time solve the issue?

[2020-08-04 16:04] linquize commented on #11602
Another example is `libssh`
Default-Features: crypto
Feature: crypto Build-Depends: libssh[mbedtls]
Feature: openssl Build-Depends: openssl

`vcpkg install libssh[openssl]` installs `openssl[core]:x64-windows` and also `mbedtls[core,pthreads]` the latter is not desired.

[2020-08-04 16:23] jlfilion opened #12744 "json5-parser build failure"
I am running Windows 10.0.18363 with Visual Studio 2019 installed. I have updated vcpkg and I'm running git version 2.26.0.windows.1 and cmake version 3.17.0-rc3.

I installed json5-parser with the following commands:

vcpkg.exe install json5-parser:x64-windows
vcpkg.exe install json5-parser:x64-windows-static

I added to my cmake file:

find_package(json5-parser CONFIG REQUIRED)

I have been unab

[2020-08-04 16:49] Neumann-A commented on #11602
@linquize because the correct syntax is vcpkg install `libssh[core,openssl]`. if you do not specify core, default features are assumed

[2020-08-04 19:26] martin-s commented on #12743
For the most ports, there is no cmake file being downloaded. The required source and tools are downloaded to the <downloads> folder.
You can make logging more verbose by using _--debug_ argument.

[2020-08-04 19:34] martin-s opened #12745 "Print out missing path in read_lines"
****

**Is your feature request related to a problem? Please describe.**
When a file in `vcpkg/info/*.list` is missing, vcpkg is aborting with a `std::errc::no_such_file_or_directory`. To raise the logging level, additional print line is added.

**Proposed solution**
See in PR

[2020-08-04 20:26] BillyONeal commented on #9132
I'm not sure what you mean by this.... if it were a `std::experimental::filesystem` bug we would be having all users seeing it rather than the small minority in this issue.

`std::experimental::filesystem` will not ever be changed, it will be left in a bug for bug compatible state until it is removed. vcpkg should not be trying to use `std::experimental::filesystem` unless it is built with VS2015.

[2020-08-04 20:39] Neumann-A commented on #12709
I am unable to repro this failure on my local machine

[2020-08-04 20:54] strega-nil commented on #9132
@BillyONeal I believe we use experimental::filesystem for all bootstraps; this is the problem with building with MSBuild.

[2020-08-04 22:22] Rickmc3280 opened #12749 "[boost-math] build failure"
Building package boost-math[core]:x86-windows...
Could not locate cached archive: C:\Users\User\AppData\Local\vcpkg\archives\bb\bbf2019cba914b29c9fb3edff004f4c0a6270f2e.zip
-- Using cached P:/0_CPP Projects/vcpkg-master/downloads/boostorg-math-boost-1.73.0.tar.gz
-- Extracting source P:/0_CPP Projects/vcpkg-master/downloads/boostorg-math-boost-1.73.0.tar.gz
CMake Error at scripts/cmake/vcpkg_extra

[2020-08-05 00:06] cbezault commented on #10166
See https://github.com/microsoft/vcpkg/blob/master/triplets/community/arm-mingw-dynamic.cmake

[2020-08-05 00:06] #10166 closed

[2020-08-05 00:09] linquize commented on #11602
How can I completely skip openssl if I choose mbedtls?
Do we need to change the port?

[2020-08-05 02:16] JackBoosY commented on #12709
@Neumann-A It's hard to reproduce.

[2020-08-05 02:21] JackBoosY commented on #12740
Please provide failure log _C:\Download\vcpkg\buildtrees\opencv3\install-x64-windows-dbg-out.log_.

Thanks.

[2020-08-05 02:38] niitsuma commented on #2823
Aim of vcpkg is same to gentoo-prefix.
Just import gentoo-prefix way will resolve this.

[2020-08-05 02:44] winsoft666 opened #12750 "[libarchive] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: MSVC 14.16.27023

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install libarchive:x86-windows`

**Failure logs**
[code]

[2020-08-05 06:01] quickiwiki commented on #12743
I meant the cmake executable which vcpkg uses to build the packages? for example, on ubuntu the location is

[2020-08-05 06:30] NancyLi1013 commented on #12744
Hi @jlfilion
Thanks for posting this issue.

Have you run `.\vcpkg integrate install `and set `CMAKE_TOOLCHAIN_FILE `to your project?

[2020-08-05 06:38] LilyWangL commented on #12743
Thanks for posting this issue. Do you mean binary directory of ports? The binary directory is _[VCPKG_path]/installed/[Triplet]/bin_.

[2020-08-05 06:46] spindensity opened #12754 "Fail to execute curl.exe after building curl[tool]:x64-windows"
**Describe the bug**

Fail to execute curl.exe after building curl[tool]:x64-windows because of missing libcurl.dll.

**Environment**
- OS: Windows 10;
- Compiler: MSVC 2019 16.6.5.

**To Reproduce**
Steps to reproduce the behavior:
1. `vcpkg install curl[tool]:x64-windows`;
2. Execute curl.exe in `$VCPKG_ROOT\installed\x64-windows\tools`;
3. Fail to execute it because of missing `libcurl.dll`.

[2020-08-05 07:37] PhoebeHui commented on #12734
See more information in issue #11262.

[2020-08-05 07:37] #12734 closed

[2020-08-05 07:46] robertobernabe commented on #3576
We also had this issue in our company. After adding an exception to our antivirus solution.

[2020-08-05 08:19] rajvijay68 commented on #7207
Had the same issue

`.\vcpkg\vcpkg install restclient-cpp`

Error :

[code]

[2020-08-05 08:37] yuxiaoyang88 opened #12756 "[opencv4:x64-windows] build failure"
**Host Environment**
- OS: Windows10
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
vcpkg install opencv4:x64-windows

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
    opencv4[core,dnn,jpeg,opengl,png,tiff,webp]:x64-windows
Detecting compiler hash for triplet x64-windows...
Starting package 1/1: opencv4:x64-windows
Bui

[2020-08-05 08:58] JackBoosY commented on #12756
Please provide failure log _D:\C\vcpkg\buildtrees\opencv4\install-x64-windows-dbg-out.log_.

Thanks.

[2020-08-05 09:02] quickiwiki commented on #12743
@LilyWangL  I meant the cmake binary. For example, on:

    windows: D:\SRC\vcpkg\downloads\tools\cmake-3.17.2-windows\cmake-3.17.2-win32-x86\bin
    ubuntu: $HOME/vcpkg/downloads/tools/cmake-3.17.2-linux/cmake-3.17.2-Linux-x86_64/bin/

I would like to know the path to the binary which is used by vcpkg to build packages

What I'm trying to do is to find out the cmake binary that is used by the vcp

[2020-08-05 09:02] yuxiaoyang88 commented on #12756
[263/508] cmd.exe /C "cd /D D:\C\vcpkg\buildtrees\opencv4\x64-windows-dbg\modules\dnn && D:\C\vcpkg\installed\x64-windows\tools\protobuf\protoc.exe --cpp_out D:/C/vcpkg/buildtrees/opencv4/x64-windows-dbg/modules/dnn -I D:/C/vcpkg/buildtrees/opencv4/src/4.3.0-0c6047baf6.clean/modules/dnn/src/caffe -I D:/C/vcpkg/buildtrees/opencv4/src/4.3.0-0c6047baf6.clean/modules/dnn/src/onnx -I D:/C/vcpkg/buildtr

[2020-08-05 09:07] yuxiaoyang88 commented on #12756
----- 原始邮件 -----
发件人：Jack·Boos·Yu <notifications@github.com>
收件人：microsoft/vcpkg <vcpkg@noreply.github.com>
抄送人：于潇洋 <yuxiaoyang88@sina.com>,  Author <author@noreply.github.com>
主题：Re: [microsoft/vcpkg] [opencv4:x64-windows] build failure (#12756)
日期：2020年08月05日 16点58分

Please provide failure log D:\C\vcpkg\buildtrees\opencv4\install-x64-windows-dbg-out.log.
Thanks.

—
You are receiving this becaus

[2020-08-05 09:09] JackBoosY commented on #12756
Can you confirm whether `libprotobuf.dll` and `libprotoc.dll` exist in _D:\C\vcpkg\installed\x64-windows\tools\protobuf_?

If they do not exist, please copy them from _D:\C\vcpkg\installed\x64-windows\bin_ to _D:\C\vcpkg\installed\x64-windows\tools\protobuf_.

Thanks.

[2020-08-05 09:11] PhoebeHui commented on #12644
From you log 'LINK : fatal error LNK1158: cannot run 'rc.exe'. It seems it still has some issue in windows set up.

Open VS2015 x64 Native tools command:
C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC>where rc
C:\Program Files (x86)\Windows Kits\10\bin\x64\rc.exe

[2020-08-05 09:15] PhoebeHui commented on #12749
Duplicated to https://github.com/microsoft/vcpkg/issues/8199.

[2020-08-05 09:15] #12749 closed

[2020-08-05 09:20] LilyWangL commented on #12646
@MCl57 Thanks for your reply. I change the include path, could you try the attached file and rebuild log4cpp? And rebuild your project. If the attached file is useful, I will submit a Pull Request to fix it.

[log4cpp.zip](https://github.com/microsoft/vcpkg/files/5027380/log4cpp.zip)

[2020-08-05 09:30] yuxiaoyang88 commented on #12756
----- 原始邮件 -----
发件人：Jack·Boos·Yu <notifications@github.com>
收件人：microsoft/vcpkg <vcpkg@noreply.github.com>
抄送人：于潇洋 <yuxiaoyang88@sina.com>,  Author <author@noreply.github.com>
主题：Re: [microsoft/vcpkg] [opencv4:x64-windows] build failure (#12756)
日期：2020年08月05日 17点10分

Can you confirm whether libprotobuf.dll and libprotoc.dll exist in D:\C\vcpkg\installed\x64-windows\tools\protobuf?
If they do not

[2020-08-05 09:37] JackBoosY commented on #12756
That is an occasional bug, I don’t know why.

[2020-08-05 09:57] JackBoosY commented on #12756
@yuxiaoyang88 Could you provide your powershell version in Windows?
That help us to discover this bug.

Thanks.

[2020-08-05 10:02] yuxiaoyang88 commented on #12756
----- 原始邮件 -----
发件人：Jack·Boos·Yu <notifications@github.com>
收件人：microsoft/vcpkg <vcpkg@noreply.github.com>
抄送人：于潇洋 <yuxiaoyang88@sina.com>,  Mention <mention@noreply.github.com>
主题：Re: [microsoft/vcpkg] [opencv4:x64-windows] build failure (#12756)
日期：2020年08月05日 17点58分

@yuxiaoyang88 Could you provide your powershell version in Windows?

That help us to discover this bug.
Thanks.

—
You are recei

[2020-08-05 10:20] SoumenKunduTantra commented on #12303
@NancyLi1013 cryptopp is working properly now on both the machine. We reinstalled cryptopp via vcpkg and tried and it worked.

[2020-08-05 11:54] #12303 closed

[2020-08-05 12:45] jlfilion commented on #12744
Hi @NancyLi1013 ,

Yes, I have done both of those.

I ran the integration step from git bash and obtained the following:

----
$ ./vcpkg.exe integrate install
Applied user-wide integration for this vcpkg root.

All MSBuild C++ projects can now #include any installed libraries.
Linking will be handled automatically.
Installing new libraries will make them instantly available.

CMake projects should

[2020-08-05 14:45] 48d90782 opened #12760 "[drogon] build failure"
**Host Environment**
- OS: ArchLinux
- Compiler: gcc (GCC) 10.1.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install drogon`

**Failure logs**
[code]
In the `config-x64-linux-rel-err.log`
[code]

[2020-08-05 14:52] Maju-Ketchup commented on #12122
I started work [here](https://github.com/Maju-Ketchup/vcpkg/tree/update/grpc/1.31) on an updated port.
Actually I'm new to Open Source projects and espacially vcpkg and don't know, if it is right what I am doing.
I try to fix the patches and added re2 as dependency. Also I try to go to version 1.31.x
In the moment, I get some linking issues for upb during the build and try to figure out where the

[2020-08-05 16:55] Mike4Online opened #12763 "[curl] static build for Windows should not define _USRDLL"
**Description**
Preprocessor macro _USRDLL is defined for libCURL on Windows when using a static triplet; however, _USRDLL should only be defined for a dynamic library build.

**Environment**
- OS: Windows
- Compiler: Visual Studio 2019

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install curl:x64-windows-static   (or curl:x86-windows-static)
2. Review %VCPKG_ROOT%\buildtrees\curl

[2020-08-05 17:33] #12708 closed

[2020-08-05 17:36] #12505 closed

[2020-08-05 17:37] #3339 closed

[2020-08-05 17:58] Mike4Online opened #12764 "[curl] static build for Windows should define HAVE_CONFIG_H consistently"
**Describe the bug**
When building libCURL statically on Windows, HAVE_CONFIG_H is defined only for Release builds, even though curl_config.h is generated for both Debug and Release builds:

%VCPKG_ROOT%\buildtrees\curl\x64-windows-static-dbg\lib\curl_config.h
%VCPKG_ROOT%\buildtrees\curl\x64-windows-static-rel\lib\curl_config.h
%VCPKG_ROOT%\buildtrees\curl\x86-windows-static-dbg\lib\curl_config.h

[2020-08-05 19:57] #12741 closed

[2020-08-05 19:59] #12679 closed

[2020-08-05 20:01] #12714 closed

[2020-08-05 20:03] #12712 closed

[2020-08-05 20:22] ig-or opened #12765 "[marble] build failure on CMake 3.18"
**Host Environment**
- OS: Windows x64
- Compiler: msvc 2019

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg remove marble`
`vcpkg install --triplet x64-windows marble`

**Failure logs**
[code]
`

**in the install-x64-windows-dbg-out.log**,
at ther very end there is a line

`cmd.exe /C "cd . && "C:\Program Files\CMake\bin\cmake.exe" -E vs_link_dll --intdir=src\lib\marble\CMakeFiles\marbl

[2020-08-05 21:08] #11756 closed

[2020-08-05 21:08] #12642 closed

[2020-08-05 21:16] #12566 closed

[2020-08-05 21:30] The-value-investor commented on #12653
Thanks a lot to everyone that answered, I solved the issue.

[2020-08-05 21:56] jdlugosz opened #12767 "[fmt] update to 7.0.1"
Library name: fmt

New version number: 7.0.1

Other information that may be useful (release notes, etc...)
https://fmt.dev/7.0.1/usage.html#vcpkg states:
"The fmt port in vcpkg is kept up to date by Microsoft team members and community contributors. If the version is out of date, please create an issue or pull request on the vcpkg repository."

[2020-08-05 22:36] FranciscoPombal opened #12770 "[qt5-base] build failure on macOS 10.15"
**Host Environment**
- OS: macOS 10.15 from GitHub Actions
- Compiler: whichever one is included in XCode 11.6

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install qt5-base:x64-osx-release --clean-after-build --overlay-triplets=triplets_overlay`

Contents of `triplets_overlay/x64-osx-release.cmake`:

[code]

**Failure logs**
Check out the output of the "post-mortem" step here (it's

[2020-08-05 22:51] #10230 closed

[2020-08-05 23:47] bc913 opened #12771 "[openssl:x64-windows] build failure"
**Host Environment**
- OS: Windows 10 Pro - Version 1909
- Compiler: MSVC 19.27.29110 - MSBUILD version: 16.7.0.37604

**To Reproduce**
- Clone repo under C:/dev/vcpkg
- Run Powershell or Cmd or Developer Cmd Prompt ( does not matter if you run as admin or not)
- Run ./bootstrap-vcpkg.bat -disableMetrics -win64 (does not work w/o arguments, too.)
- (Optional) Run .\vcpkg.exe integrate install
- `.

[2020-08-05 23:57] rglbssw commented on #10230
Thanks to all at any place!
Especially I'd like to praise:
@Mixaill who broke the Gordian knot
and @NancyLi1013  who tamed the wild blue bot
in its azure pipeline maze.

(... e grazie a la @strega-nil)

[2020-08-06 01:55] NancyLi1013 commented on #12653
Thanks for your update.
Since this issue has been solved, I'm closing it for now.

[2020-08-06 01:55] #12653 closed

[2020-08-06 02:44] etheory commented on #9132
I really really want to be able to use vcpkg, but it quite simply doesn't work.

Can I please just get a clear answer as to what the timeframe is for someone to fix this?
I don't accept that it can't be worked around at the code level.
If there really is some issue with std::experimental::filesystem then don't use it.
If someone can show me the part of the code that fails, I'll fix it myself if I

[2020-08-06 02:59] JackBoosY commented on #9132
@etheory I will fix this bug as soon as possible.

[2020-08-06 04:34] ig-or commented on #12765
**full log file here**
[full log file](https://gist.github.com/ig-or/12e2c279cb107385eec6952e142b04ef)

[2020-08-06 05:42] JackBoosY commented on #9132
@etheory Could you please test #12774?
Thanks.

[2020-08-06 06:08] NancyLi1013 commented on #10808
The link error is due to that `BUILD_SHARED_LIBS ` is disabled in Windows platform. Please see here https://github.com/bulletphysics/bullet3/issues/1794

It will be fixed by the PR https://github.com/bulletphysics/bullet3/pull/2389

So in my opinion, we can continue solving this issue after the link error is fixed by upstream.

[2020-08-06 06:15] niitsuma commented on #5796
The compile log said
some path described as
c:/Program Files/
and should be
c:\Program Files\

[2020-08-06 06:25] JackBoosY commented on #12770
@Neumann-A Could you please take a look?

Since this is an unofficial triplet, we will not fix this issue.

[2020-08-06 06:37] Neumann-A commented on #12770
[code]

should be fixed by #12405

[2020-08-06 06:57] Mike4Online commented on #12763
I see that **curl_config.h** is generated for all Debug and Release configurations for x86 and x64.  **CURL_STATICLIB** is defined within this header when specifying one of the static triplets, which is acceptable.  However, **HAVE_CONFIG_H** is not consistently defined for all static build configurations, so curl_config.h (and therefore CURL_STATICLIB) isn't always included; see related issue [ht

[2020-08-06 07:11] MauriceHubain opened #12775 "[zlib] Could not find PKGCONFIG using the following names: pkg-config"
**Host Environment**
- OS: Azure DevOps Hosted Agent vs2017-win2016 / windows-2019

**To Reproduce**
Steps to reproduce the behavior:
vcpkg install glew:x86-windows sdl2:x86-windows sdl2-image[libjpeg-turbo]:x86-windows sqlite3:x86-windows zlib:x86-windows

**Failure logs**
Starting package 3/7: zlib:x86-windows
Building package zlib[core]:x86-windows...
Could not locate cached archive: C:\Users\V

[2020-08-06 07:13] BillyONeal commented on #9132
@etheory Yes, people are able to use it. The problem hasn't been fixed because we have had difficulty reproing it

[2020-08-06 07:17] NancyLi1013 commented on #12764
Hi @Mike4Online

Thanks for posting this issue.

I have checked the log you provided in #12763 and I found that `-DHAVE_CONFIG_H` definition was also on each cl.exe command line.

[code]
So you said that there was lack of `-DHAVE_CONFIG_H `definition on each cl.exe command line in dbg build log. Is this wrong?

I also checked this on my local, both debug and release have `DHAVE_CONFIG_H `.

[2020-08-06 07:25] PhoebeHui commented on #12775
@MauriceHubain, this issue has been fixed now, could you get lastest source and try again?

[2020-08-06 07:26] MCl57 commented on #12646
Hello @LilyWangL,
Could you please give me some advice? Where must the file be imported? Should I build log4cpp with vcpkg? I have no idea?
Thank you.

[2020-08-06 07:31] PhoebeHui commented on #12722
Confirmed that PR #11277 would fix this issue.

[2020-08-06 07:35] nakag2020 opened #12777 "[libpq[client,nls]] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: VS2017 15.9.25

**To Reproduce**
`./vcpkg install libpq[client,nls] --recurse`

**Failure logs**
[code]

C:\Projects\vcpkg\buildtrees\libpq\build-x86-windows-RELEASE-out.log
[code]

**Additional context**
See this patch: https://www.postgresql.org/message-id/CAHzhFSE4EA4K0U5ht5L%3DkA2%3Dgfy%3DYjyaECp2ghC0y1_3uUzkMA%40mail.gmail.com
This seems to ha

[2020-08-06 07:58] NancyLi1013 commented on #12763
Hi @Mike4Online

Thanks for posting this issue.

Personally, these should be updated as the follows:

[code]
For `HAVE_CONFIG_H ` issue, I have checked the log, please see the comments here https://github.com/microsoft/vcpkg/issues/12764#issuecomment-669753902.

[2020-08-06 08:00] JackBoosY commented on #12777
Confirmed, thanks for your information!

[2020-08-06 08:24] Mike4Online commented on #12764
My mistake.  I just double-checked and **HAVE_CONFIG_H** is defined for bot debug and release builds when using the x86 and x64 static triplets.  Please close this issue (or delete it).

Also, since **curl_config.h** is generated for all static builds and consistently defines **CURL_STATICLIB**, the related issue [12763](https://github.com/microsoft/vcpkg/issues/12763) can be closed as well.

[2020-08-06 08:38] Mike4Online commented on #12763
Your proposed changes look good; however, it will not be necessary to define CURL_STATICLIB at this point in the CMakeLists.txt file, because CURL_STATICLIB is defined within the generated curl_config.h file, which ghets included by HAVE_CONFIG_H being defined.

My original issue post called for CURL_STATICLIB to be defined as you propose, but now I see this is not necessary.  Changing the conditi

[2020-08-06 08:50] LilyWangL commented on #12646
You need download the zip file and unzip this file, then use it replace _[VCPKG_PATH]/ports/log4cpp_. Then rebuild log4cpp and your project.

[2020-08-06 08:59] OlafvdSpek opened #12779 "error: mingw32: key "4A6129F4E4B84AE46ED7F635628F528CF3053E04" is unknown"
[code]
[code]
[code]

A clean vcpkg clone works fine, it'd be nice if vcpkg could recover from this failure itself though.

[2020-08-06 09:01] LilyWangL commented on #12771
Thanks for posting this issue. Closed as duplicate of #9848.

[2020-08-06 09:01] #12771 closed

[2020-08-06 09:05] LilyWangL commented on #12545
Pinging @CiaranWelsh for response.

[2020-08-06 09:08] LilyWangL commented on #12750
Thanks for posting this issue. I can't reproduce this issue locally. Do you use the latest VCPKG to install this port? Could you please provide the all error log? You can attach the log file on this page.

[2020-08-06 09:14] NancyLi1013 commented on #12744
what is this ` fips/CMakeLists.txt:26`?

If I don't set `CMAKE_TOOLCHAIN_FILE`, the error will like this:

[code]

[2020-08-06 09:25] winsoft666 commented on #12750
yes, I use the latest VCPKG.
VCPKG version is `2020.06.15-nohash`.

[install-x86-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/5033917/install-x86-windows-dbg-out.log)

[2020-08-06 09:28] NancyLi1013 commented on #12763
Thanks for your deep investigation and explanation to this issue. I also noticed that `CURL_STATICLIB ` is defined in  curl_config.h file.

So we just need to update it as this:

[code]
I will fix it later.

[2020-08-06 09:29] Voskrese commented on #12779
delete file
`...\vcpkg\downloads\tools\msys2\initialized-msys2_64.stamp` or `initialized-msys2_32.stamp`

after this, MSYS2 will be completely reinstalled

[2020-08-06 09:30] NancyLi1013 commented on #12764
Thanks for your detailed information.

 I'm closing this issue since it seems to be clear now.

[2020-08-06 09:30] #12764 closed

[2020-08-06 09:57] CiaranWelsh commented on #12545
Sorry @LilyWangL, the last email must have flown under the radar. I uninstalled AVG and the problem was resolved. Thank for the info!

[2020-08-06 09:57] #12545 closed

[2020-08-06 10:06] NancyLi1013 commented on #10066
Since you have solved this issue, I 'm closing this issue for now.

[2020-08-06 10:06] #10066 closed

[2020-08-06 10:28] MCl57 commented on #12646
Okay, success !!! Good job, thanks!
_Allow me a little comment:
It took me some time to understand that by rebuild mean the `vcpkg install log4cpp: x64-windows` command._

[2020-08-06 10:35] kuoshijia commented on #11660
@JackBoosY is there a work-around? I have met the same problem too. Thanks in advance.

[2020-08-06 11:07] PhoebeHui commented on #12707
@valenotary, thanks for reporting this issue!

I have summited PR #12783 to fix this issue

[2020-08-06 11:23] Farjad3253 commented on #7207
Getting the same issue: Error listed below:
A suitable version of git was not found (required v2.26.2). Downloading portable git v2.26.2...
Downloading git...
  https://github.com/git-for-windows/git/releases/download/v2.26.2.windows.1/PortableGit-2.26.2-32-bit.7z.exe -> D:\vcpkg\downloads\PortableGit-2.26.2-32-bit.7z.exe
WinHttpQueryDataAvailable() failed: 12002

KINDLY HELP ME!

[2020-08-06 11:47] etheory commented on #9132
Thanks @JackBoosY I'm testing it now....

[2020-08-06 12:29] jlfilion commented on #12744
Here is a snippet of my fips/CMakeLists.txt file including line 26. It's just the line that tries to find the library. Note: the find_package on line 23 seems to be working fine.

.
.
.
23: find_package(nlohmann_json CONFIG REQUIRED)
24: target_link_libraries(fips PUBLIC nlohmann_json::nlohmann_json)
25:
26: find_package(json5-parser CONFIG REQUIRED)
27: target_link_libraries(fips PRIVATE json5_pa

[2020-08-06 12:36] OlafvdSpek commented on #12470
I think the logs are gone..

[2020-08-06 12:50] rajvijay68 commented on #7207
@Farjad3253 , what worked for me was:

Manually download that file and place it in `D:\vcpkg\downloads\`

[2020-08-06 13:50] Neumann-A commented on #12387
@JackBoosY: Issue was closed by #12342

[2020-08-06 13:52] Neumann-A commented on #12341
@cenit: I assume you found a solution? (switching to `nmake` can also solve the problem but I only tested that manually outside the portfile which than run into other problems since the env was not correctly setup.)

[2020-08-06 13:55] cenit commented on #12341
Yes it was a symlink and not a junction. Strangely enough it fails mixing the two paths. I was able to complete the build from the original (even if longer) folder

[2020-08-06 13:55] #12341 closed

[2020-08-06 15:54] kevinlul commented on #12767
Latest version is [7.0.2](https://github.com/fmtlib/fmt/releases/tag/7.0.2), pull request #12312

[2020-08-06 16:46] OlafvdSpek opened #12788 "Library "zlibd" was not found!"
[code]

[2020-08-06 16:49] yamcenutzer commented on #12719
BTW, the offending commit is:
1c2af994151fb3e177df54f89223b056ecddbcec
[vcpkg format-manifest] Add convert-control flag (#12471)

[2020-08-06 16:54] strega-nil commented on #12719
We really, really, really need to start testing VC2015 -.- cc @BillyONeal

[2020-08-06 17:34] BillyONeal commented on #12719
Preaching to the choir on that one

[2020-08-06 18:14] yanrchen commented on #12740
Page 1:

`[1/514] C:\PROGRA~2\MICROS~2\2019\COMMUN~1\VC\Tools\MSVC\1426~1.288\bin\Hostx64\x64\cl.exe   -D_VARIADIC_MAX=10 -D_WIN32_WINNT=0x0601 -IC:\Download\vcpkg\buildtrees\opencv3\src\3.4.10-7c6d30703d.clean\3rdparty\quirc\include -I. /nologo /DWIN32 /D_WINDOWS /W3 /utf-8 /MP   /D _CRT_SECURE_NO_DEPRECATE /D _CRT_NONSTDC_NO_DEPRECATE /D _SCL_SECURE_NO_WARNINGS /Gy /bigobj /Oi  /fp:precise /FS

[2020-08-06 18:15] yanrchen commented on #12740
Page 2:
`[98/514] C:\PROGRA~2\MICROS~2\2019\COMMUN~1\VC\Tools\MSVC\1426~1.288\bin\Hostx64\x64\cl.exe   /TP -DCVAPI_EXPORTS -DOPENCV_ALLOCATOR_STATS_COUNTER_TYPE="long long" -D_USE_MATH_DEFINES -D_VARIADIC_MAX=10 -D_WIN32_WINNT=0x0601 -D__OPENCV_BUILD=1 -D__STDC_CONSTANT_MACROS -D__STDC_FORMAT_MACROS -D__STDC_LIMIT_MACROS -DCV_CPU_COMPILE_AVX2=1 -DCV_CPU_COMPILE_AVX=1 -DCV_CPU_COMPILE_FMA3=1 -DCV_C

[2020-08-06 18:16] yanrchen commented on #12740
Page 3:

`
[144/514] C:\PROGRA~2\MICROS~2\2019\COMMUN~1\VC\Tools\MSVC\1426~1.288\bin\Hostx64\x64\cl.exe   /TP -DCVAPI_EXPORTS -DHAVE_IMGCODEC_HDR -DHAVE_IMGCODEC_PXM -DHAVE_IMGCODEC_SUNRASTER -DHAVE_WEBP -D_USE_MATH_DEFINES -D_VARIADIC_MAX=10 -D_WIN32_WINNT=0x0601 -D__OPENCV_BUILD=1 -D__STDC_CONSTANT_MACROS -D__STDC_FORMAT_MACROS -D__STDC_LIMIT_MACROS -IC:\Download\vcpkg\buildtrees\opencv3\src\3.4

[2020-08-06 18:17] yanrchen commented on #12740
Page 4 (last page):
`
[247/514] C:\PROGRA~2\MICROS~2\2019\COMMUN~1\VC\Tools\MSVC\1426~1.288\bin\Hostx64\x64\cl.exe   /TP -DCVAPI_EXPORTS -D_USE_MATH_DEFINES -D_VARIADIC_MAX=10 -D_WIN32_WINNT=0x0601 -D__OPENCV_BUILD=1 -D__STDC_CONSTANT_MACROS -D__STDC_FORMAT_MACROS -D__STDC_LIMIT_MACROS -DCV_CPU_COMPILE_AVX2=1 -DCV_CPU_COMPILE_AVX=1 -DCV_CPU_COMPILE_FMA3=1 -DCV_CPU_COMPILE_FP16=1 -DCV_CPU_COMPILE_P

[2020-08-06 18:46] ig-or commented on #12765
maybe, related to this? [https://cmake.org/Bug/view.php?id=13461](https://cmake.org/Bug/view.php?id=13461)

[2020-08-06 19:18] bc913 commented on #9848
Did anyone has any progress on this issue? Thanks
@romanpastu @ras0219-msft

[2020-08-06 19:43] yamcenutzer commented on #12719
alternately, make evrything work gcc/clang on all platforms :-)

[2020-08-06 20:04] strega-nil commented on #9132
@etheory it should compile now.

[2020-08-06 20:07] #12380 closed

[2020-08-06 20:07] #12770 closed

[2020-08-06 20:08] strega-nil commented on #12719
#12789 fixes this

[2020-08-06 21:59] StarGate-One opened #12791 "[berkeleydb] build failure"
**Host Environment**
- OS: [Microsoft Windows [Version 10.0.19041.423]]
- Compiler: Visual Studio 2019 Version: **16.7.0**  VS Tools Version: **14.27.29110**

**To Reproduce**
Steps to reproduce the behavior:
upgrade Visual Studio 2019 to 16.7.0
`cd [vcpkg-root]`
`git pull` update vcpkg latest as of 20200806 @18:40GMT 14:40EDT
`set VCPKG_DEFAULT_TRIPLET=x64-windows`
`set VCPKG_VISUAL_STUDIO_PATH=C

[2020-08-07 00:04] #12719 closed

[2020-08-07 00:05] strega-nil commented on #12719
@yamcenutzer thank you for reporting this bug, it has been fixed :)

[2020-08-07 01:40] PhoebeHui commented on #12709
It should has some issue somewhere else, I noticed same issue https://github.com/microsoft/vcpkg/issues/12788 reported, it might not related to the Upper case

[2020-08-07 01:40] etheory commented on #9132
Thanks, it's compiling ;-). I'm adding notes here: https://github.com/microsoft/vcpkg/pull/12774.
Really really appreciate it! Testing now if it can install something. Fingers crossed!

[2020-08-07 01:43] PhoebeHui commented on #12788
@OlafvdSpek, thanks for reporting this issue!

Could you attached the zlib.pc for debug and release? I encountered simimar issue, I want to confirm if it's same issue.

[2020-08-07 01:55] JackBoosY commented on #12788
Should be fixed by #12774.

[2020-08-07 02:02] #12387 closed

[2020-08-07 02:07] JackBoosY commented on #12740
... you can just drag log file to the edit box and upload.

[2020-08-07 02:09] JackBoosY commented on #12740
Same issue with #12576, can you test if my PR#12774 is effective?

Thanks.

[2020-08-07 02:19] JonLiu1993 commented on #12767
Hi @jdlugosz, This issues has been resolved in [#12312 ](https://github.com/microsoft/vcpkg/pull/12312)
Please update vcpkg library and use

[2020-08-07 02:20] #12767 closed

[2020-08-07 02:30] JackBoosY commented on #11660
@kuoshijia Use the following code:
[code]

[2020-08-07 03:09] niitsuma commented on #5796
the current version can install
vcpkg install opencv[contrib]:x64-windows
but fail
vcpkg install opencv[contrib,world]:x64-windows

[2020-08-07 03:31] santino-wang opened #12793 "[pmdk] update to 1.9"
Library name:
pmdk
New version number:
1.9
Other information that may be useful (release notes, etc...)
Please upgrade 1.8 to 1.9.
Thanks!

[2020-08-07 03:49] kuoshijia commented on #11660
That does the trick! Except that cppkafka uses namespace "cppkafka" so that I changed the include directory.

`find_package(RdKafka REQUIRED)
if (RdKafka_FOUND)
    message(STATUS "Found valid RdKafka version")
else()
    message(FATAL_ERROR "Failed to find valid RdKafka version")
endif()

include(FindPackageHandleStandardArgs)
include(SelectLibraryConfigurations)

find_path(CPPKAFKA_INCLUDES NAME

[2020-08-07 04:24] Farjad3253 commented on #7207
@rajvijay68, @cenit @sgatto @FrankHB @martin-s @Voskrese
Still getting the following error :

[errors.txt.txt](https://github.com/microsoft/vcpkg/files/5039294/errors.txt.txt)

Please help me!

[2020-08-07 05:14] #10099 closed

[2020-08-07 05:24] OlafvdSpek commented on #12788
[code]

`C:/vc/vcpkg/packages/zlib_x86-windows/release` doesn't exist

[2020-08-07 05:35] JackBoosY commented on #12788
@OlafvdSpek She means _C:/vc/vcpkg/packages/zlib_x86-windows/debug/lib/pkgconfig/zlib.pc_ and _C:/vc/vcpkg/packages/zlib_x86-windows/lib/pkgconfig/zlib.pc_ .

[2020-08-07 05:35] OlafvdSpek commented on #12788
[code]

[code]

[code]

`F:/VC/vcpkg/scripts/cmake/vcpkg_fixup_pkgconfig.cmake:239`

`c:\vc` is a link to `f:\vc`, could this be an issue? It worked before..

[2020-08-07 05:37] OlafvdSpek commented on #12788
[code]

[2020-08-07 05:44] JackBoosY commented on #8820
Close this issue via #12410 merged.

[2020-08-07 05:44] #8820 closed

[2020-08-07 06:00] JackBoosY commented on #12788
I wish #12703 will fix this issue.

[2020-08-07 06:41] PhoebeHui commented on #12788
@OlafvdSpek, could you change the F:\VC to F:\vc and see if this issue still repro?

[2020-08-07 06:53] NancyLi1013 commented on #12744
Oh, I see. You used CMake command to build the cmake project. I thought you build the project via Visual Studio.

You can use `cmake  -DCMAKE_TOOLCHAIN_FILE=C:/Users/jfilion/vcpkg/scripts/buildsystems/vcpkg.cmake` to try it again.

If `nlohmann_json` can work fine, the configure should be right. Please help confirm if `nlohmann_json`  and
`json5-parser` were installed to the same directory.

If th

[2020-08-07 06:56] MauriceHubain commented on #12775
Works fine again. Thanks!

[2020-08-07 06:56] #12775 closed

[2020-08-07 07:14] cenit opened #12796 "[vcpkg] upgrade bug"
Same behaviour on windows/linux/macOS
Since the introduction of Port-Version, upgrade is broken when only that field is bumped

[code]

As you can see, upgrade does not take into consideration updates that involve only `Port-Version` field, like 4.2#16 -> 4.2#17

@strega-nil @ras0219

[2020-08-07 07:16] NancyLi1013 commented on #12470
Could you please provide more info about this issue? Such as the steps to reproduce

[2020-08-07 07:19] OlafvdSpek commented on #12470
Are you familiar with the code and the type of clocks being used?

My guess would be it's related to a jump in time of the system clock, due to a VM being suspended. Repro without knowledge of the internals is probably not trivial.

[2020-08-07 07:41] OlafvdSpek commented on #12788
[code]

This works so it's not just uppercase that's the issue.

[code]

[2020-08-07 07:57] faserg1 opened #12797 "[New Port Request] clangd"
Library name:
clangd
Library description:
language server
Source repository URL:
https://github.com/llvm/llvm-project/tree/master/clang-tools-extra/clangd
Project homepage (if different from the source repository):
https://clangd.llvm.org/

[2020-08-07 07:57] PhoebeHui commented on #12788
yes, it's same issue, thanks for your updates!

Close this issue as duplicate to https://github.com/microsoft/vcpkg/issues/12709, we will use that issue to track.

[2020-08-07 07:57] #12788 closed

[2020-08-07 08:03] DMotorygin opened #12798 "[alembic:x64-osx] build failure"
**Host Environment**
- OS: [osx]
- Compiler: AppleClang 11.0.3.11030032

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install alembic`

**Failure logs**
Call Stack (most recent call first):
  scripts/cmake/vcpkg_build_cmake.cmake:91 (vcpkg_execute_build_process)
  scripts/cmake/vcpkg_install_cmake.cmake:24 (vcpkg_build_cmake)
  ports/alembic/portfile.cmake:36 (vcpkg_install_cmake)

[2020-08-07 08:04] OlafvdSpek commented on #12788
Was a fix merged? I can't repro this anymore after a fresh clone.

[2020-08-07 08:09] PhoebeHui commented on #12788
@OlafvdSpek, no, I still repro this issue with latest source, it's not due to the uppercase. I think you could repro this issue in your path F:\VC with latest vcpkg source.

[2020-08-07 08:10] Neumann-A commented on #12797
isn't that part of the LLVM build wit feature `clang-tools-extra`?

[2020-08-07 08:11] OlafvdSpek commented on #12788
What is the cause?

[2020-08-07 08:20] PhoebeHui commented on #12709
The vcpkg root returns with lowercase, that cause the string replace failed here. Test with PR https://github.com/microsoft/vcpkg/pull/12774, it doesn't work.

PS F:\vcpkg\test7\vcpkg> ./vcpkg install zlib --debug
[DEBUG] Feature flag 'binarycaching' unset
[DEBUG] Feature flag 'manifests' unset
[DEBUG] Feature flag 'compilertracking' unset
[DEBUG] Using vcpkg-root: F:\vcpkg\test7\vcpkg
[DEBUG] Usi

[2020-08-07 08:33] yamcenutzer commented on #12719
confirmed.
nice, Thx.
BTW, I feel with you , constexpr everything is really tempting.
But unfortunately the real production world is stuck with ancient compilers.
TBH, I barely managed to use anything newer than gcc 4.8.5. (because a major Linux distro is doing just that).

[2020-08-07 08:46] FranciscoPombal commented on #12770
Thanks, I can confirm it works now.

[2020-08-07 08:47] Neumann-A commented on #12709
So my take away now is that this is a bug in `vcpkg.exe` (or maybe even VS) and not the scripts. So I'll ignore this issue for know and you will somehow solve/fix it.

[2020-08-07 09:03] LilyWangL commented on #12791
Thanks for posting this issue. This is a source bug, I will confirm and fix it soon.

[2020-08-07 09:07] FranciscoPombal opened #12799 "[bzip2] release-only build failure on Windows"
**Host Environment**

- OS: Windows 10 2019 from GitHub Actions
- Compiler: Latest MSVC 14.26.xxxxx

**To Reproduce**

`./vcpkg install bzip2:x64-windows-static-release --clean-after-build --overlay-triplets=triplets_overlay`

(or any package that depends on `bzip2`, like `qt5-base`)

- Contents of `triplets_overlay/x64-windows-static-release.cmake`:

[code]

**Failure logs**

[code]

**Additional

[2020-08-07 09:20] PhoebeHui commented on #12765
@ig-or, I can't repro this issue, I noticed that used C:\Program Files\CMake\bin\cmake.exe in your log, what's cmake revision? could you remove it and use cmake that downloaded by vcpkg and see if this issue still repro?

I use the version 3.17.2 which downloaded by vcpkg.

Starting package 31/31: marble:x64-windows
Building package marble[core]:x64-windows...
-- Downloading https://github.com/KDE

[2020-08-07 09:33] Neumann-A commented on #12799
closed by #12759

[2020-08-07 09:50] JackBoosY commented on #12470
**VM being suspended**

[2020-08-07 09:50] NancyLi1013 commented on #12470
Sorry, I'm not familiar with this.

@strega-nil
Could you please help take a look?

[2020-08-07 09:52] aleksandar-levi-st opened #12801 "[libpqxx] update to 7.1.1"
Library name: libpqxx

New version number: 7.1.1

[2020-08-07 10:12] NancyLi1013 commented on #12389
Does this issue still exist on your machine?

[2020-08-07 10:50] JosefBertolini opened #12802 "vcpkg.exe considered virus after installing boost"
**Describe the bug**
Hello, so I was installing different packages using vcpkg and the most recent one I installed was boost. The build for boost succeed and I wanted to list my installed packages but PowerShell informed me that windows defender stopped the process

**Environment**
- OS: Windows
- Compiler: Microsoft Visual C++ 2019 (what ever is default with visual studio 2019)

**To Reproduce**

[2020-08-07 11:05] JosefBertolini commented on #12802
A fresh download off of the github solved the problem for me. I saw on other issues that vcpkg gets flagged as a false positive occasionally, so I would assume that this is what happened to me.

[2020-08-07 11:05] #12802 closed

[2020-08-07 11:15] joshuaxdmb opened #12803 "Running XROTOR on Windows - NMAKE error U1077"
Hi, I am trying to setup Xrotor in Windows 10, but I keep getting the following error:

NMAKE : fatal error U1077: 'ifl' : return code '0x1' Stop.

I already tried installing all the required VS 2019 packages. I am running the makefile from the Developer Powershell for VS 2019.
Thanks for any help.

[2020-08-07 11:37] KevDi opened #12804 "[poco] update to 1.10.1"
Library name: Poco

New version number: 1.10.1

Other information that may be useful (release notes, etc...)

[2020-08-07 12:37] jlfilion commented on #12744
I'm confused. The only difference I see between what I said I ran:

cmake .. -DCMAKE_TOOLCHAIN_FILE=C:/Users/jfilion/vcpkg/scripts/buildsystems/vcpkg.cmake

and what you suggest I run:

cmake -DCMAKE_TOOLCHAIN_FILE=C:/Users/jfilion/vcpkg/scripts/buildsystems/vcpkg.cmake

are the two dots I've included to tell cmake to run one directory level up. If I run as you suggest in my build directory it won

[2020-08-07 13:10] Maju-Ketchup commented on #12122
I'm still stuck with upb poblems.
Since @ras0219-msft and @JackBoosY did the patches for this, maybe they can help me understand what they did.
An ELI5 would help.
I noticed in the logs that the linking to upb is broken in some parts.
The first error in the log shows:
`[...]\upb\upb\decode.c(44): error C2065: 'UPB_MAPTYPE_STRING': undeclared identifier`

[2020-08-07 17:21] ig-or commented on #12765
**EXACTLY!!!!**
with latest CMAKE 3.18.1 not working
cmake --version
cmake version 3.18.1

**With v3.17.2 everything is working.**

What can we do in this case? close this issue?

[2020-08-07 17:25] ig-or commented on #12765
@JackBoosY, @strega-nil , this port is working with "current" cmake 3.17.2, but not working with "latest" 3.18.1
probably some other ports may be broken if/when cmake will be upgraded.

[2020-08-07 17:41] strega-nil commented on #12470
This isn't really a bug... we use `std::chrono::high_resolution_clock`, and this seems like just debug output, so I'm not that concerned about it.

[2020-08-07 17:41] #12470 closed

[2020-08-07 17:47] strega-nil commented on #12765
That's unfortunate. We're probably going to hold off on updating CMake until @BillyONeal is back on our team from being on loan to the STL team, and we'll make sure to look at these issues then.

[2020-08-07 18:08] #12646 closed

[2020-08-07 18:24] ig-or commented on #12765
OK, we can close this issue as it is, or we can remove "PREFER_NINJA" from [marble] portfile.cmake.
Without "PREFER_NINJA",  it works even with latest cmake 3.18.1.
What is better solution?

[2020-08-07 18:40] strega-nil commented on #12765
If you'd like, I would accept a change to remove `PREFER_NINJA` for now, or if you can figure out the actual underlying issue, that'd be great. Please keep the issue open for now tho.

[2020-08-07 18:41] #12304 closed

[2020-08-07 18:44] #12676 closed

[2020-08-07 18:45] #12622 closed

[2020-08-07 18:46] #12579 closed

[2020-08-07 18:47] #12600 closed

[2020-08-07 18:48] #8049 closed

[2020-08-07 18:49] #12522 closed

[2020-08-07 19:08] #12506 closed

[2020-08-07 19:12] JustifiedAnciantOfMUMU opened #12808 "[opencv4:x64-windows] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: revision

computing installation plan...
The following packages will be built and installed:
    darknet[core,cuda,cudnn,full,opencv-cuda,weights,weights-train]:x64-windows
  * opencv[core,cuda,dnn,ffmpeg,jpeg,opengl,png,tiff,webp]:x64-windows
  * opencv4[contrib,core,cuda,dnn,ffmpeg,jpeg,opengl,png,tiff,webp]:x64-windows
  * pthreads[core]:x64-win

[2020-08-07 20:39] Neumann-A commented on #10119
@traversaro what about the new environment variable `VCPKG_OVERLAY_PORTS`. (see #12640)

[2020-08-07 21:03] dustinnieffenegger opened #12809 "[drogon] build failure"
**Host Environment**
- OS: Windows 8.1 (32-bit)
- Compiler: 2020.06.15-nohash

**To Reproduce**
Typed `vcpkg install drogon` with freshly installed vcpkg and waited for dependencies to build and install -- all we successful until drogon. It seems to not be linking zlib.

**Failure message to standard output**
[code]

**Relevant log files**
[install-x86-windows-dbg-out.log](https://github.com/micro

[2020-08-07 22:39] #10970 closed

[2020-08-07 23:06] #12392 closed

[2020-08-07 23:15] #12754 closed

[2020-08-07 23:17] #12707 closed

[2020-08-08 02:30] kevinlul commented on #11927
If I'm understanding vcpkg correctly, CMake variables set in the triplet file can be read by the portfile; however, either the toolchain file is run before the triplet file or its variables are isolated from the triplet file except for a select few, so we can't pass anything that way.

I understand that some variables like `VCPKG_CRT_LINKAGE` are known in the toolchain file, but it doesn't seem to

[2020-08-08 04:42] Huang88888888Fei opened #12811 "[vcpkg docs] Improve vcpkg command related documents"
****

**Is your feature request related to a problem? Please describe.**
The download and compilation time of vcpkg is relatively long. So during this waiting period, I would rather go play a game, have a cup of coffee or do some other work. But, but, but! ! !
When the network is not good, vcpkg will always interrupt because it has not downloaded the complete package, which is very annoying! ! ! T

[2020-08-08 04:49] longnguyen2004 commented on #12636
I've just tested ICU today and it doesn't like BusyBox. Seems like we'll have to stick with MSYS2 for now

[2020-08-08 05:19] longnguyen2004 commented on #9823
It should be fixed by https://github.com/microsoft/vcpkg/pull/12401, please test

[2020-08-08 06:08] endrift commented on #2973
So now that libzip 1.7 is in vcpkg, vcpkg has decided to export the target as `zip` instead of `libzip::zip`. I don't know why but vcpkg likes to export a bunch of libraries with names that differ from what you'd import them as in _any other environment_ (e.g. I have to search for FFMPEG (which isn't even the name of the library; it's FFmpeg) instead libavcodec, libavutil, etc) and it's extremely

[2020-08-08 08:39] MonySOEURN opened #12812 "Error: Building package llvm:x64-osx failed with: BUILD_FAILED"
**Host Environment**
- OS: OSX 10.15.6
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install llvm`

**Failure logs**
CMake Error at scripts/cmake/vcpkg_download_distfile.cmake:176 (message):

      Failed to download file.
      If you use a proxy, please set the HTTPS_PROXY and HTTP_PROXY environment
      variables to "https://user:password@your-proxy-ip-addres