[2020-06-19 03:28] xahon commented on #9597
@JackBoosY so, export works only for a single platform, e.g. when I transfer my project from windows PC to windows PC, when I transfer project from Windows PC to Linux PC I should also jot down all the packages my project uses, then reinstall them all on another platform and export them again. How do you share your vcpkg project with your friend that uses other OS than you?

[2020-06-19 05:32] tats-u opened #12019 "[nowide] update to 11.0.0"
Library name: nowide (standalone version of boost-nowide)
New version number: 11.0.0
Other information that may be useful (release notes, etc...): https://github.com/boostorg/nowide/releases/tag/v11.0.0

[2020-06-19 05:57] NancyLi1013 commented on #11985
I probably see why you will meet this. But I'm not familiar with `gn`, so I also don't know how to fix this.
@vejmartin
Could you please help take a look?

[2020-06-19 05:58] NancyLi1013 commented on #11848
@AndySomogyi
Please let me know if you still have some concerns about this issue.

[2020-06-19 06:01] AndySomogyi commented on #11848
@NancyLi1013 , I ended up deleting my entire vcpkg directory, deleting all of visual studio, re-installing everything, and it seems to work now.

No idea what was wrong before.

[2020-06-19 06:36] abcping123 opened #12021 "[abseil:x64-windows] DLL Linker Error"
**Environment**
- OS: [Windows 10 v1903]
- Compiler: Visual Studio 2017

It is fine to build abseil dll, but when I use it in my project, some annoying linker errors ocurr.
And I find this in `absl/base/config.h`

// ABSL_DLL
//
// When building Abseil as a DLL, this macro expands to `__declspec(dllexport)`
// so we can annotate symbols appropriately as being exported. When used in
// headers cons

[2020-06-19 06:47] JackBoosY commented on #9597
@xahon Normally we use the `export` function, but now we don't have `all` options.

[2020-06-19 06:49] NancyLi1013 commented on #11761
I'm closing this issue for now since there seems to be no any concern.
Please feel free to reopen this if you still have any other issues about this.

Thanks again for your support. Looking forward to next release for `halide`.

[2020-06-19 06:49] #11761 closed

[2020-06-19 06:57] NancyLi1013 commented on #11848
Thanks for your update.
Have you set include path manually in your project? Or you do the same steps as before?

[2020-06-19 07:00] vejmartin commented on #11985
The first error seems to be due to not accounting for cases where `freetype` might have previously been built with `bz2` enabled. `skia` has `freetype[core]` in the `CONTROL` file, and the `GN` configuration doesn't require `bz2`.

The second error (`fontconfig`) might be due to a bug in the `set_dependencies` function of `ports/skia/skiaConfig.cmake.in`. The `fontconfig` dependency is also not cu

[2020-06-19 07:06] NancyLi1013 commented on #11809
@DailyShana
Thanks for your above info. I will try to build on Linux and verify if it can work.

[2020-06-19 07:23] JackBoosY commented on #12021
@abcping123 That's indeed a bug, thanks for reporting this!

[2020-06-19 08:16] JackBoosY commented on #11992
@vicroms Could you please take a look?

Thanks.

[2020-06-19 08:18] zcream commented on #7270
Has something changed? I get the same error

[code]

In portfile.cmake, I have

[code]

I changed to `vcpkg_configure_cmake`

[code]

[2020-06-19 08:26] therealkenc commented on #10944
Hi Lili, my bad too, apologies I missed the notification on this. Yes confirmed we're good with freerdp2 off of `git` current (ie as of this writing) on an up to date Ubuntu 20.04. Thank you!

![image](https://user-images.githubusercontent.com/7049700/85112815-19f22b00-b1cb-11ea-93d7-c92b215fc4e2.png)

[2020-06-19 08:26] JackBoosY commented on #11986
Will be fixed in #10252

[2020-06-19 08:34] NancyLi1013 commented on #4937
Hi @takumi0628 and @UnaNancyOwen
Thanks for posting this issue.

`Opencv `has been updated. Could you please try to update vcpkg and rebuild this?

[2020-06-19 08:40] abcping123 commented on #12021
@JackBoosY  It is really quick response, thanks!

[2020-06-19 08:40] #12021 closed

[2020-06-19 08:41] NancyLi1013 commented on #4937
Might this can help you some.
https://github.com/opencv/opencv_contrib/issues/476

[2020-06-19 09:20] trainingmode commented on #7270
Hello zcream, please try updating the linkage check to the following:

`vcpkg_check_linkage(ONLY_STATIC_LIBRARY ONLY_STATIC_CRT)`

It should look like:
[code]

The error you received is questioning if you should perform the desired linkage, as you'll be mixing a dynamic library with a static library. To get it to pass, you need to explicitly state that you want to perform the build and link the li

[2020-06-19 10:19] zcream commented on #7270
Hi. I made the change you mentioned as well as    `-DGLIB_SKIP_TOOLS=ON ` mentioned earlier.
I get the following error
[code]

[2020-06-19 10:22] zcream commented on #7270
This is the part that now fails the build

[code]

[2020-06-19 10:31] trainingmode commented on #7270
It seems the way I fixed any Ninja build errors was by switching Glib back to version 2.52.3. Unfortunately, that's all I can offer for now as I have since moved on from Cairo (and this is one example of why). I ended up writing my own renderer.

[2020-06-19 10:53] zcream commented on #7270
This thread was very helpful to me. Thanks anyway. How did you revert to a previous version of glib i.e. 2.52.3 ? vcpkg only allow date-based filtering of libraries, IMO.

[2020-06-19 11:08] trainingmode commented on #7270
No problem, sorry I couldn't be of more help. I think I either downloaded the package from the official repository [(located here)](https://developer.gnome.org/glib/) or I managed to revert it somehow using vcpkg (but I don't remember how to do that).

[2020-06-19 12:25] aiyou4love opened #12025 "breakpad:x64-linux include file error"
/mnt/c/setup/vcpkg/vcpkg/installed/x64-linux/include/common/memory_allocator.h:50:10: fatal error: third_party/lss/linux_syscall_support.h: No such file or directory
 #include "third_party/lss/linux_syscall_support.h"
          ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
compilation terminated.

CMakeLists.txt:
cmake_minimum_required(VERSION 3.10)
project(startup)

include_directories(${VCPKG_ROOT}/

[2020-06-19 14:07] cyang-kth opened #12027 "Extremely slow building of GDAL"
When I run vcpkg on appveyor to install gdal, it takes about 33 minutes. Anyone know why it takes so long and how can it be accelerated?

[code]

https://ci.appveyor.com/project/cyang-kth/fmm/builds/33620877#L4414

[2020-06-19 14:11] cyang-kth commented on #12027
Maybe the reason is that downloading the GDAL from http://download.osgeo.org/gdal/2.4.1/gdal241.zip is extremely slow.

From the log, it takes about 25 minutes.

[2020-06-19 14:35] cyang-kth commented on #12027
It also seems that all library whose mirror is not on Github takes extremely long time to download. (Tens of minutes against seconds). Maybe this is an issue with the server of appveyor. Is there a way to manually define a mirror?

[2020-06-19 14:43] abcping123 opened #12028 "[abseil:x64-windows] Errors In Using DLL"
**Environment**
- OS: [Windows 10 v1903]
- Compiler: Visual Studio 2017

I built abseil dll first time today, while it was static library before.

And I try out a very simple test code:

#include    <iostream>
#include    <absl/strings/str_cat.h>

int main(int argc, char* argv[])
{
    std::string s = absl::StrCat("hello,", "world!");
    std::cout << s << std::endl;
    return 0;
}

It is broken,

[2020-06-19 15:24] jepessen opened #12029 "[harfbuzz] cannot upgrade from 2.5.3.1 to 2.6.6"
**Describe the bug**
I want to upgrade my vcpkg installation where harfbuzz is installed. I've pulled the repository and I call vcpkg update, and harfbuzz appears there
[code]
When I call the updagrade command I obtain following error
[code]
so I cannot upgrade. Probably I can remove and add the package but I've a lot of packages installed and it will be troublesome to reinstall all. vcpkg should

[2020-06-19 15:45] hebtuerror404 commented on #7735
Yes, this problem still exists

[2020-06-19 17:16] mickkn commented on #11838
C:\vcpkg>set VCPKG_DEFAULT_TRIPLET=x64-windows

C:\vcpkg>vcpkg install darknet[full]
Computing installation plan...
The following packages will be rebuilt:
  * opencv4[contrib,core,cuda,dnn,ffmpeg,jpeg,opengl,png,tiff,webp]:x64-windows
The following packages will be built and installed:
    darknet[core,cuda,cudnn,full,opencv-cuda,weights,weights-train]:x64-windows
  * opencv[core,cuda,dnn,ffmpeg,

[2020-06-19 17:39] andrewhodel opened #12030 "realsense2 build failure"
**Host Environment**
- OS: [e.g. Windows/Linux etc...] Linux aware 4.19.0-8-amd64 #1 SMP Debian 4.19.98-1+deb10u1 (2020-04-27) x86_64 GNU/Linux
- Compiler: revision gcc version 8.3.0 (Debian 8.3.0-6)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install xxxx`
./vcpkg install realsense2

**Failure logs**
-Cut and past the appropriate build messages from the console output.
-Please att

[2020-06-19 17:57] rengedv commented on #11658
Hello Phoebe,

Problem solved
1. i deleted the directory c:\program files(x86)\Microsoft Visual Studio 14 .A C++ / SDK / XML etc.  was installed, maybe through the first start after compiling vcpkg. Maybe an issue could also have been the installation node.js and the configuration of node.js after the installation . The chocolatey packet manager has installed a lot of stuff.

2. After deleting,

I

[2020-06-19 18:54] 67-al-ahad commented on #11988
Well then can you explain to me which part of the Cmakelists.txt is responsible of install all the files both in the packages and the installed folder of vcpkg?

[2020-06-19 20:26] timautry commented on #12029
You will need to do the following steps:
1. `vcpkg remove harfbuzz --recurse`
2. `vcpkg install harfbuzz[features]` and any other ports that were removed in step 1.
The ucdn feature was eliminated from the port between the version upgrade.

[2020-06-19 20:47] nazame opened #12031 "[New Port Request] lerc"
Library name: LERC

Library description: LERC is an open-source image or raster format which supports rapid encoding and decoding for any pixel type (not just RGB or Byte).

Source repository URL: https://github.com/Esri/lerc

[2020-06-20 01:02] polelf opened #12032 "[tinyxml] have not tinyxml-config-debug.cmake"
port tinyxml have not tinyxml-config-debug.cmake and tinyxml-config-release.cmake

[2020-06-20 04:22] Akarinnnnn opened #12033 "[Feature requrst] Set Ports search path by file"
****

**Is your feature request related to a problem? Please describe.**
No

**Proposed solution**
Read a file named portpath.txt under the instance root path, each line in the file meant an **additional** search path

**Describe alternatives you've considered**
vcpkg install(search...) package -ports PATH/TO/PORTS

**Additional context**
None

[2020-06-20 06:11] traversaro commented on #12033
If anyone is interested in such a feature, I implemented a prototype of it in https://github.com/microsoft/vcpkg/issues/10119#issuecomment-613115859 .

[2020-06-20 06:15] 67-al-ahad commented on #12001
What is this error linked to? My code or the OpenSSL port?

[2020-06-20 07:40] panovr opened #12034 "How to link to 'SDL2main.lib' in Visual Studio 2019"
Hi,
  I installed sdl2 by using vcpkg, and I created a new project in Visual Studio 2019.
  I added the statement:
  `#pragma comment(lib, "SDL2main.lib")`
  However, when building, there was still `Error	LNK1104	cannot open file 'SDL2main.lib'`

  It seems that `SDL2main.lib` was moved to `manual-link` folder, so how to link to 'SDL2main.lib' in Visual Studio 2019?

Reference: https://github.com/

[2020-06-20 07:47] YXGuan commented on #7903
@strega-nil
Hello, I am experiencing  a similar issue:
After running > powershell scripts\bootstrap.ps1 -Verbose, it still shows me the error

`: Examining C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\vcpkg-master\scripts for .vcpkg-root
: Examining C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\vcpkg-master for .vcpkg-root - Found
: VS Candidates:
PreferenceWeight3

[2020-06-20 08:13] linquize commented on #12034
Try `manual-link\SDL2main.lib` ?

[2020-06-20 12:27] shironecko opened #12035 "[New Port Request] Tileson"
Library name: Tileson

Library description: C++17 library for parsing Tiled maps (https://www.mapeditor.org)

Source repository URL: https://github.com/SSBMTonberry/tileson

Anything else that is useful to know when adding (such as optional features the library may have that should be included):
Tileson as of recent version supports single-header mode, so that might be easiest to integrate.
Also n

[2020-06-20 13:14] #12002 closed

[2020-06-20 15:13] kafeg opened #12038 "[cutelyst2, all Qt/CMake-based ports] build failure / x86-windows-static / FindFirstFileExA / Qt5 issue"
**Host Environment**
- OS: Windows
- Compiler:  dosen't matter, reproduces on all compilers: VS2015-VS2019

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg.exe install --triplet x86-windows-static cutelyst2`

**Failure logs**
D:\dev\uvcpkg\buildtrees\cutelyst2\install-x86-windows-static-dbg-err.log
[code]
**Additional context**
There is something wrong in Qt5-* ports on creating libraries

[2020-06-20 16:52] WangZP10969 opened #12039 "[openni2] Could not find <cor.h>. Ensure the NETFXSDK is installed."
**Host Environment**
- OS: Windows x64
- Compiler: Visual Studio 2019

**To Reproduce**
Steps to reproduce the behavior:
C:\vcpkg-master\vcpkg.exe install pcl[openni2,qt,pcap,tools,opengl]:x64-windows

**Failure logs**
Installing package netcdf-c[core]:x64-windows... done
Elapsed time for package netcdf-c:x64-windows: 2.944 min
Starting package 133/150: openni2:x64-windows
Building package openni2

[2020-06-20 17:19] abcping123 opened #12040 "[sqlpp11-connector-mysql] revise control file"
Default-Features: mariadb  // sqlpp11-connector-mysql, control(line 6)

This line should be deleted, otherwise feature `mysql` cannot be built.

[2020-06-20 17:25] dgengin opened #12041 "How do I properly include the sdl2pp port"
I'm using Visual Studio 2019 with vcpkg integrated. I can include any file installed by vcpkg. When I try to use the sdl2pp package, I get these errors:

[code]

[code]

the `SDL2pp.dll` builds correctly, so vcpkg must be doing something different.

related issues:
https://github.com/libSDL2pp/libSDL2pp/pull/112
https://github.com/libSDL2pp/libSDL2pp/issues/88

Shouldn't the sdl2pp include files b

[2020-06-20 17:36] kafeg commented on #12038
Probably the error is inside some regex and replacements in the `function(_qt5_Core_parse_prl)` in `Qt5CoreConfig.cmake`. It generates lines like `"C:\\Program;Files;(x86)\\Windows Kits\\10\\lib\\10.0.18362.0\\um\\x86\\mpr.lib"` with `;` in `C:\\Program;Files;(x86)`.

E.g. from:

to:

[2020-06-20 17:44] kafeg commented on #12038
A partial solution to add there: `vcpkg\installed\x86-windows-static\share\cmake\Qt5Core\Qt5CoreConfig.cmake` strings:

after

Also possible to add it to exists patch

This will fix cycle `foreach(_flag IN LISTS _static_depends)` but it's not full solution.

Cycle output before:

lib_flag -LD:/dev/uvcpkg/installed/x86-windows-static/lib/manual-link
lib_flag "C:\\Program
lib_flag Files
lib_flag (x8

[2020-06-20 20:09] kafeg commented on #12038
Ok, the function `function(_qt5_$${CMAKE_MODULE_NAME}_parse_prl)` in patch https://github.com/microsoft/vcpkg/blob/master/ports/qt5-base/patches/prl_parser.patch is a very strange. Maybe maintainers could check their scripts.

My final temporary solution is - disable that patch before build qt5-base, like:

`sed -i 's/patches\/prl_parser.patch/#patches\/prl_parser.patch/g' ports/qt5-base/portfile.

[2020-06-20 21:36] Pospelove commented on #7790
Reproduced on Windows 8.1 + VS 2019

[2020-06-20 22:32] Neumann-A commented on #12038
Normally this should take care of it:
[code]
The question is thus why it is nor working

[2020-06-21 00:11] #12034 closed

[2020-06-21 02:19] WangZP10969 opened #12042 "How to install PCL1.11.0+VTK8.2.0 or PCL1.9.1+VTK8.1.0?"
I am installing some packages, among which are PCL
Some other packages work fine, but because PCL does not currently support VTK9.0, Visualize cannot be installed.
The PCL update process may seem lengthy, so is there a way to install other versions of VTK?
I have tested that PCL1.9.1+VTK8.1.0 or PCL1.11.0+VTK8.2.0 can work normally, which is the officially recommended version of PCL
Therefore, I a

[2020-06-21 06:57] AntonioCS opened #12043 "minhook lib fails to load when trying to be included in a project due to cmake issue"
**Describe the bug**
minhook lib fails to load when trying to be included in a project due to cmake issue on vcpkg.

**Environment**
- OS:  Windows 10 64bit
- Compiler: Microsoft (R) C/C++ Optimizing Compiler Version 19.26.28806 for x86

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install minhook`

then when I try to use it in a my project with the following `CMakeLists.txt`:
[code]

[2020-06-21 07:15] qis commented on #12043
## Solution
[code]
and new `vcpkg/ports/minhook/install-destination.patch` file:
[code]

[2020-06-21 08:27] ohhmm commented on #11307
The proposed solution to not override add_library works for me. If it works in the second case too then I guess this issue may be closed.

[2020-06-21 08:36] kafeg commented on #12038
Oh, and i used 5.12.8 for my needs.

[2020-06-21 11:13] chatyan commented on #11661
Computing installation plan...
The following packages will be built and installed:
  * boost-algorithm[core]:x86-windows
  * boost-any[core]:x86-windows
  * boost-array[core]:x86-windows
  * boost-asio[core]:x86-windows
  * boost-assert[core]:x86-windows
  * boost-atomic[core]:x86-windows
  * boost-bimap[core]:x86-windows
  * boost-bind[core]:x86-windows
  * boost-build[core]:x86-windows
  * boost

[2020-06-21 11:30] chatyan commented on #4663
same problem when i install boost-compatibility

**.\vcpkg install boost-compatibility
Computing installation plan...
The following packages will be built and installed:
    boost-compatibility[core]:x86-windows
Starting package 1/1: boost-compatibility:x86-windows
Building package boost-compatibility[core]:x86-windows...
-- Downloading https://github.com/boostorg/compatibility/archive/boost-1.73.

[2020-06-21 11:33] chatyan commented on #9549
Got the same problem with boost

D:\Work 2019\GIT Code\vcpkg>.\vcpkg install pcl
Computing installation plan...
The following packages will be built and installed:
  * boost-algorithm[core]:x86-windows
  * boost-any[core]:x86-windows
  * boost-array[core]:x86-windows
  * boost-asio[core]:x86-windows
  * boost-assert[core]:x86-windows
  * boost-atomic[core]:x86-windows
  * boost-bimap[core]:x86-win

[2020-06-21 12:52] chatyan opened #12045 "[boost, pcl, cgal] build failure"
**Host Environment**
- OS: [Windows 10, x86]

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install pcl and cgal

**Failure logs**
.\vcpkg install cgal
Computing installation plan...
The following packages will be built and installed:
  * boost-algorithm[core]:x86-windows
  * boost-any[core]:x86-windows
  * boost-array[core]:x86-windows
  * boost-assert[core]:x86-windows
  * boost-ato

[2020-06-21 17:10] Nomade040 opened #12048 "gtk:x86-windows build failure"
**Host Environment**
- OS: Windows

**To Reproduce**
vcpkg install gtk:x86-windows

**Failure logs**
Package: gtk:x86-windows
Vcpkg version: 2020.02.04-nohash
[build.log](https://github.com/microsoft/vcpkg/files/4809893/build.log)

**Additional context**
Prior to installing gtk I uninstalled tiff:x64-windows and wxwidgets:x86-windows because of database corruption.

[2020-06-22 02:11] LilyWangL commented on #10944
I will submit a PR to update freerdp to new version, waiting for PR merged and closing this issue again.

[2020-06-22 02:40] JackBoosY commented on #12048
Please unzip this [file](https://github.com/microsoft/vcpkg/files/4810887/gtk%2B-3.22.19.tar.xz.zip), put it to _VCPKG_PATH/downloads_ then rebuild gtk.

Thanks.

[2020-06-22 02:53] PhoebeHui commented on #12032
@polelf, what do you mean? do you mean tinyxmlTargets-debug and tinyxmlTargets-release file? double checked, tinyxml already provide cmake config and targets file.

vcpkg\installed\x86-windows\share\tinyxml> dir
tinyxml-config.cmake
tinyxmlTargets-debug.cmake
tinyxmlTargets-release.cmake
tinyxmlTargets.cmake
vcpkg_abi_info.txt

[2020-06-22 02:58] polelf commented on #12032
it works

[2020-06-22 02:58] #12032 closed

[2020-06-22 04:24] Nomade040 commented on #12048
Thank you, it worked!

[2020-06-22 05:57] #12048 closed

[2020-06-22 06:40] JackBoosY commented on #7735
@hebtuerror404 Could you provide me the full failure log?

Thanks.

[2020-06-22 06:44] JackBoosY commented on #12042
You can use the following steps:
1. Backup _VCPKG_PATH/ports/pcl_
2. `./vcpkg x-history vtk`
3. `git reset ${VTK8.1_COMMIT_ID}`
4. Use the backup pcl to restore the pcl
5. Build pcl/VTK

There may be some problems with patch execution failure that you need to deal with yourself.

[2020-06-22 07:02] WangZP10969 commented on #12042
@JackBoosY  After I run it, the following error message appears. Is my operation wrong?
[code]

[2020-06-22 07:33] JackBoosY commented on #12042
@WangZP10969 Please cd to  _VCPKG_PATH_ first.

[2020-06-22 07:34] JackBoosY commented on #12028
Hi @abcping123, thanks for reporting this issue.
Does my PR #12022 fixed this issue?

[2020-06-22 07:50] JackBoosY commented on #11835
@BillyONeal Could you please take a look?

Thanks.

[2020-06-22 08:04] LilyWangL commented on #12039
Thanks for posting this issue. Please confirm you have installed a version of .NET Framework SDK at 4.6.0 or higher on Visual Studio.

[2020-06-22 08:06] WangZP10969 commented on #12042
@JackBoosY

Am I understanding right?  C:\vcpkg-master\downloads\tools\git-2.26.2-1-windows\mingw32\bin\git.exe is here
[code]

[2020-06-22 08:10] WangZP10969 commented on #12039
@LilyWangL
Thanks a lot, I noticed that I only installed C++ and did not include .net

[2020-06-22 08:10] #12039 closed

[2020-06-22 08:29] PhoebeHui commented on #12040
@abcping123, thanks for reporting this issue!

libmariadb and libmysql are incompatible, so the mariadb and mysql can't be built together. However sqlpp11-connector-mysql depends on one of them, remove the default feature would block sqlpp11-connector-mysql, so I will revert the change in related PR https://github.com/microsoft/vcpkg/pull/11771/, @yurybura, is that okay for you?

[2020-06-22 08:38] NancyLi1013 commented on #11988
The following codes are responsible for installing all targets(.lib,.dll) and headers.
[code]

[2020-06-22 08:44] NancyLi1013 commented on #12045
Hi @chatyan
Thanks for posting this issue.
Could you please remove  _D:/Work 2019/GIT Code/vcpkg/downloads/boost_LICENSE_1_0.txt_ and rebuild this?

[2020-06-22 08:45] LilyWangL commented on #11253
Thanks for posting this issue. Please reopen this issue if this is still a problem for you.

[2020-06-22 08:45] #11253 closed

[2020-06-22 08:53] pr8x commented on #11969
I tried building it locally with
`./b2 boost.locale.winapi=off boost.locale.std=off -sICU_PATH="..\icu671" boost.locale.icu=on --with-locale stage -a --address-model=64`
But even that does not seem to build it with ICU support.

![image](https://user-images.githubusercontent.com/4670166/85268202-804ea600-b476-11ea-86db-fe6ca502a2bc.png)

[2020-06-22 08:56] JackBoosY commented on #12042
That should be a permission issue.
Please use `git reset 8641dfd9dd6d3bf190515822060872a56ee37906` directly.

[2020-06-22 09:04] abcping123 commented on #12040
@PhoebeHui Actually `sqlpp11-connector-mysql` could be built with `libmysql` OR `libmariadb`,  [sqlpp11-connector-mysql requirements](https://github.com/rbock/sqlpp11-connector-mysql#requirements)
In my case, I manually remove Default-Features line, and build it with libmysql without errors.

[2020-06-22 09:05] PhoebeHui commented on #11969
@pr8x, thanks for reporting this issue.

It seems that the option 'boost.locale.icu' has been set 'ON' for boost-locale https://github.com/microsoft/vcpkg/blob/24e8be5fcfddd0da98b58a63cd918849787fb06f/ports/boost-locale/b2-options.cmake#L12

Also I double check the log file, it looks already set the option to on.
[code]

[2020-06-22 09:17] Zergoma commented on #11658
hello,

sorry I've got the same issue trying to install gtkmm (x86-x64) :
VS2015 update 3 => ok,
English language pack => ok,
CMake 3.17 =>ok
(vcpkg is up-to-date, and I make a vcpkg update too)

toolset configure for visual 2015 :
vcpkg\triplets\x64-windows.cmake && x86-windows.cmake
I had added this line in the files :

D:\vcpkg\vcpkg>vcpkg install gtkmm
Computing installation plan...
The follow

[2020-06-22 09:30] yurybura commented on #12040
@PhoebeHui @abcping123 Please don't remove libmysql feature. It works) I saved mariadb as default feature PR #11771 for backward compatibility. Without default feature `sqlpp11-connector-mysql` doesn't make sense.
For install with mariadb use this command:
`vcpkg install sqlpp11-connector-mysql` or `vcpkg install sqlpp11-connector-mysql[core,mariadb]`
For install with mysql use this command:
`vcpk

[2020-06-22 09:32] abcping123 commented on #12028
@JackBoosY That is also my reported issue, lack of `ABSL_CONSUME_DLL` would prevents compilation.

By the way, I just find this issue only occurs in `Debug` mode (VS2017 default, /MDd), It is fine in `Release` mode.

[2020-06-22 09:46] abcping123 commented on #12028
@JackBoosY That is also my reported issue, lack of `ABSL_CONSUME_DLL`  would prevents compilation.

By the way, I just find this issue only occurs in `Debug` mode(vs2017 default settings /MDd) , and it works well in `Release` mode.

[2020-06-22 09:59] PhoebeHui commented on #12040
@yurybura, thanks for the information!

@abcping123, could you use vcpkg install sqlpp11-connector-mysql[core,mysql] instead to install mysql feature?

[2020-06-22 10:08] PhoebeHui commented on #11969
![image](https://user-images.githubusercontent.com/20694052/85272321-9bd5a300-b4ae-11ea-978c-7571cc5eed2e.png)

[2020-06-22 10:17] 67-al-ahad commented on #11988
Is there any automatic option like the following?

[code]

[2020-06-22 10:19] abcping123 commented on #12040
@yurybura @PhoebeHui `vcpkg install sqlpp11-connector-mysql[core,mysql]` should be ok, I checked there is no `libmariadb` dependence, while the build still needs long time.

Maybe it is better to add some tips for someone who also is troubled by this issue.

Anyway, thanks a lot, I will close this issue.

[2020-06-22 10:19] #12040 closed

[2020-06-22 10:21] NancyLi1013 commented on #12025
Hi @aiyou4love
Thanks for posting this issue.
Since `linux_syscall_support` is currently not available in vcpkg.
We need to add this first.
https://github.com/linux-on-ibm-z/linux-syscall-support

[2020-06-22 10:28] polelf opened #12054 "[ogre] install ogre after sdl2 make error"
**Host Environment**
- OS: [e.g. Windows/Linux etc...]
- Compiler: revision

because ogre src CMake/Dependencies.cmake:295

after installed debug/bin/OgreBites_d.dll will wrong link to sdl2.dll

modify CMake/Dependencies.cmake:295 to

and remove CMake/Packages/FindSDL2.cmake
will fix it

PS: can you update ogre to the lastest version 1.12.7

[2020-06-22 10:29] rengedv commented on #11658
Use Visual Studio 2019. 16.6.2..

Von: Zergoma [mailto:notifications@github.com]
Gesendet: Montag, 22. Juni 2020 11:18
An: microsoft/vcpkg
Cc: rengedv; Mention
Betreff: Re: [microsoft/vcpkg] GTKMM build failure (#11658)

hello,
sorry I've got the same issue trying to install gtkmm (x86-x64) :
VS2015 update 3 => ok,
English language pack => ok,
CMake 3.17 =>ok
(vcpkg is up-to-date, and I make a vcp

[2020-06-22 10:32] PhoebeHui commented on #10825
@leha-bot, could you help test if the change in PR https://github.com/microsoft/vcpkg/pull/12047 works for you?

[2020-06-22 10:40] pr8x commented on #11969
Yes, the my buildtree has these `has_icu_*` files as well. But linking with the obj only gives me `std` and `winapi` as mentioned above. What am I supposed to do with these rsp files?

[2020-06-22 10:58] abcping123 commented on #12028
@JackBoosY My fault, I put both `bin` and `debug/bin` into environment variables, while `abseil` DLLs has the same name, then error ocurrs ...

Anyway, thanks for attention, I will close this issue.

[2020-06-22 10:58] #12028 closed

[2020-06-22 11:15] rengedv commented on #11658
Hello Zergoma,

Visual Studio 2015 didn´t work. Problem with one line of code.

Use Visual Studio 2019, Community, if you don´t habe the Professional Edition. You need 16.6.1 or higher. If you install Visual Studio 2019 for the first time, you will get the latest release (don´t use the preview!), and all works fine. It is necessary that Visual Studio 2019 will be used for the build process!
Look a

[2020-06-22 14:53] cicorias opened #12055 "Create Package Example fails with 'Value was Null""
## Description
Run the basic vcpkg git clone, bootstrap
Follow the create package example: https://vcpkg.readthedocs.io/en/latest/examples/packaging-zipfiles/
at the step of `vcpkg build zlib2` you recieve error 'Value was null` with nothing else useful for diagnostics.

**Environment**
- OS: Windows v2004 19041.329
- Compiler: Vcpkg package management program version 2020.02.04-nohash

**To Repro

[2020-06-22 14:59] 67-al-ahad commented on #12001
Any idea what is the problem here ?

[2020-06-22 15:17] cyang-kth commented on #12027
I notice that the same way of installing the dependencies in cygwin is much faster perhaps because they have their own mirror to download the required packages. Is it possible to have a server to host the libraries similar as vcpkg?

[2020-06-22 16:05] Kareem-Elmokattaf opened #12057 "How do I fix the issue of permission denied on ./vcpkg integrate install"
I am using a Mac Os and I am trying to use VScode. I have been trying to get my vcpkg to link up with the project I am currently working on but it will noe happen. I can't figure out how to manually add it or how to integrate it using terminal. When i use terminal it tells me permission denied. What can I do?

[2020-06-22 18:31] LogicFan opened #12059 "How do I use OpenCV with vcpkg?"
I've looked at https://github.com/microsoft/vcpkg/blob/master/docs/examples/installing-and-using-packages.md and write cmake file based on that.

[code]

But it says

[code]

How should I fix it? Thanks

My operating system is macOS 10.15.5

[2020-06-22 19:00] LogicFan commented on #12057
try to add sudo before the command?

[2020-06-22 19:57] Kareem-Elmokattaf commented on #12057
After adding sudo it would say that ./vcpkg does not exist

[2020-06-22 19:59] #12059 closed

[2020-06-22 20:36] HO-COOH opened #12061 "Error: Building package openssl-unix:x64-linux failed with: BUILD_FAILED"
**Host Environment**
- OS: Linux
- Compiler: GCC 9.3

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install boost`

**Failure logs**
[code]

**Additional context**
Cmake version 3.17.3.
It seems it is a network issue, but I have no VPN or anything running and it keeps failing.

[2020-06-22 22:32] aggieNick02 opened #12062 "Feature that adds vcpkg item to project settings in visual studio breaks builds that set VcpkgTriplet in .vcxproj, introduces other odd behaviors"
Commit 14514508d8d30bdbd645b2bec89696aec25497f1 seems really problematic. While being able to edit these properties in the VS GUI is awesome, the issues it is causing are serious to enough to justify reverting until they  are addressed.

If I have an existing project with `VcpkgTriplet` set in the `.vcxproj` as the documentation suggests, then before the commit, `vcpkg` respects that triplet. Afte

[2020-06-22 22:52] aggieNick02 commented on #12062
Sorry for the noise as I figured out git markdown and fixed typos. It should be stable now. Let me know if you want any files to repro or more details. I imagine this will break any project that prefers to link statically to vcpkg dependencies, so reverting may be prudent.

@Neumann-A @cbezault @BillyONeal @ras0219-msft

Also, once this new feature is in and stable, the documentation should probab

[2020-06-22 23:38] BillyONeal commented on #12062
This is because we accidentally overwrite `VcpkgTriplet` even when it has already been set in your project file.

[2020-06-22 23:39] BillyONeal commented on #12062
https://github.com/microsoft/vcpkg/blob/aef838536ea3a08e3c1030ead553ca6456cc7fe3/scripts/buildsystems/msbuild/vcpkg.targets#L44 <-- Right here. I wanted to give Nicole's change ~2 days to land to avoid another merge mess as it heavily edits that file to add manifests.

[2020-06-23 00:01] aggieNick02 commented on #12062
That makes sense, thanks for pointing out where it is happening. I'm not sure how the wonky behavior in 2015 is happening (where the VcpkgTriplet is sometimes honored but the corresponding directory is wrong)... might be worth considering just disabling 2015 support if necessary.

[2020-06-23 00:30] timautry commented on #12057
@Kareem-Elmokattaf - one needs to be superuser, either admin or root depending on the OS, to enable run `./vcpkg integrate install` as stated in the quick start section of the readme https://github.com/microsoft/vcpkg

[2020-06-23 02:38] strega-nil commented on #7903
@YXGuan could you run the command from above and paste the output?

[code]

[2020-06-23 02:47] PhoebeHui commented on #11969
It seem icu lib doesn't link correctly, I noticed that link error in config.log:

msvc.link E:\vcpkg\boost_173\vcpkg\buildtrees\boost-locale\x64-windows-static-dbg\boost\build\7b17862d6e014c912b42e5cec9e0a8e2\has_icu64.exe
LINK : fatal error LNK1181: cannot open input file 'icudt.lib'

Hoever I already pass the icu path via '-sICU_PATH'
<xdll-path>/E:/VCPKG/boost_173/vcpkg/installed/x64-windows-st

[2020-06-23 02:51] PhoebeHui commented on #11969
@yurybura, do you know more about this issue?

[2020-06-23 03:23] jamiebk opened #12064 "Flags appended in android.cmake are ignored, including -fPIC (link error: relocation against preemptible symbol cannot be used when making a shared object)"
The original problem occurred when trying to use boost-filesystem under Android targeting x86, though it may occur in other ports. The linker reports many errors of the form:
[code]
The underlying problem is that the `-fPIC` flag as appended in scripts/toolchains/android.cmake is not being used when vcpkg compiles that library (or any Android library as far as I can tell). It's is also not using a

[2020-06-23 03:38] chatyan commented on #12045
@NancyLi1013 HI. when I remove the license file, it shows another problem.
D:\Work 2019\GIT Code\vcpkg>.\vcpkg install pcl
Computing installation plan...
The following packages will be built and installed:
  * boost-algorithm[core]:x86-windows
  * boost-any[core]:x86-windows
  * boost-array[core]:x86-windows
  * boost-asio[core]:x86-windows
  * boost-assert[core]:x86-windows
  * boost-atomic[core]

[2020-06-23 04:20] longnguyen2004 opened #12065 "Community triplets not working because of toolchain detection mechanism"
Trying to use `*-mingw` triplets gives me an `Unable to determine toolchain to use for triplet` error. There are no references to community triplets in the documentation either. Am I missing something here?

[2020-06-23 05:46] JackBoosY commented on #12027
@cyang-kth We have plans to add mirrors, but not now.

[2020-06-23 05:54] JackBoosY commented on #12001
@67-al-ahad Can you confirm your vcpkg is latest?
Openssl should generated `libeay32.lib` and `ssleay32.lib`.
And the triplet is community rather than official, so we do not provide maintenance for it.

Thanks.

[2020-06-23 06:25] PhoebeHui commented on #11969
Duplicated to https://github.com/microsoft/vcpkg/issues/3537.

There is a PR https://github.com/microsoft/vcpkg/pull/10943 to fix this issue, @pr8x, could you try the changes and see if it works for you?

[2020-06-23 06:26] PhoebeHui commented on #11969
I will close this issue and track everything via 3537.

[2020-06-23 06:26] #11969 closed

[2020-06-23 06:40] PhoebeHui commented on #9945
@Rita-ritally, from your log, it seems 'boost_regex-vc141-mt-x64-1_72.dll' linked correctly, I didn't see any compiler errors or link errors, so it's unclear for me.

Boost currently upgrade to 1_73, could you get latest source and see this issue still exist?

[2020-06-23 06:50] NancyLi1013 commented on #12045
Could you please download `https://raw.githubusercontent.com/boostorg/boost/boost-1.73.0/LICENSE_1_0.txt` manually and put this file into _vcpkg_root_path/downloads/_ directory.
Then try to rebuild this.

I can install it successfully on my local. This should be related with your local network.

[code]

[2020-06-23 06:53] JackBoosY commented on #12061
Please put [this](https://github.com/microsoft/vcpkg/files/4817579/openssl-1.1.1d.tar.gz) to _VCPKG_PATH/downloads_ then rebuild openssl.

Thanks.

[2020-06-23 06:55] JackBoosY commented on #12064
Does this issue relate to #9881 ?

[2020-06-23 07:27] YXGuan commented on #7903
@strega-nil  Never mind, the problem's solved already. So there are two mistakes of mine:
1. Did not install C++ Desktop development from VS installer.
2. Did not run the power shell as admin
thank you for the help thou.

[2020-06-23 08:06] YXGuan opened #12066 "Error: Building package boost-compatibility:x86-windows failed with: BUILD_FAILED"
**Host Environment**
- OS: Windows

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install vcpkg install boost:x86-windows`

C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\vcpkg-master>vcpkg install boost:x86-windows
Computing installation plan...
The following packages will be built and installed:
    boost[core]:x86-windows
  * boost-accumulators[core]:x86-windows
  *

[2020-06-23 08:29] NancyLi1013 commented on #12041
Hi @dgengin
Thanks for posting this issue.
Since `SDL_pixels.h` is listed in _include/SDL2_ directory. So we need to include `#include <SDL2/SDL_pixels.h>` in SDL2pp/Color.hh file.

I will try to fix it later.

[2020-06-23 08:38] lbartoletti commented on #12045
vcpkg failed also for me but on boost-regex (fresh Windows installation and first time with vcpkg):

[code]

[2020-06-23 09:00] NancyLi1013 commented on #12065
Hi @longnguyen2004
Thanks for posting this issue.
Could you please help confirm which triplet you used to install and on which platform? Please also make sure if you have installed the related  components in Visual Studio.

[2020-06-23 09:24] NancyLi1013 commented on #12030
Hi @andrewhodel
Thanks for posting this issue.
Could you please refer to [this](https://github.com/IntelRealSense/librealsense/issues/5229#issuecomment-553269194) first?

[2020-06-23 09:25] longnguyen2004 commented on #12065
I'm using the `x64-mingw` community triplet on Windows. I have Visual Studio installed, but I only use it for bootstrapping vcpkg, since I'm trying to use vcpkg with the [llvm-mingw](https://github.com/mstorsjo/llvm-mingw) toolchain.

[2020-06-23 09:54] 67-al-ahad commented on #12001
Vcpkg package management program version 2020.02.04-nohash

See LICENSE.txt for license information.

[2020-06-23 10:48] NancyLi1013 commented on #12065
Which port do you install?
BTW, those triplets in community folder are currently not guaranteed to be built successfully.

[2020-06-23 10:58] martinboers commented on #9258
+1
And packages in .ipk format, please.

[2020-06-23 11:53] 67-al-ahad commented on #12001
When I copy the 2 files and add the **d** letter at the end and click the **Save and generate CMake cache to load variables**, Visual Studio seems to be able to now recognize the correct files.

![image](https://user-images.githubusercontent.com/66976729/85400545-deec5080-b558-11ea-9f6d-e4eed490fe7f.png)

[2020-06-23 12:16] #12027 closed

[2020-06-23 12:35] christopherwoo commented on #10958
I have the same problem.

[2020-06-23 12:44] Zergoma commented on #11658
Hello,

Thank you for your returns.
Is there a fix in sight for this problem under VS2015 update 3 (v140) ?
(My team is working with this version. The upgrade to 2019 version is not planned for a while.
It will be more easily for me to convince them to use Gtk+ that way, and bury MFC ...  ^^ )

I tested too the vs2019 version: everythings fine as you told me.

Have nice day,
Mit freundlichen Grüße

[2020-06-23 12:57] ASxa86 commented on #10950
Is there any new status on this? Would I be safe to revert the change of 8782b0b on my local machine as a work around?

[2020-06-23 13:02] 67-al-ahad commented on #12001
I added the explanation for this bug and the workaround here:

https://github.com/67-al-ahad/MonaServer2/blob/master/README.md

[2020-06-23 13:48] Kareem-Elmokattaf commented on #12057
I am the only user on my laptop and it still wouldn't work. Would I need to manually allow certain permissions on mac?

[2020-06-23 14:04] timautry commented on #12057
I do not have a MAC, but from my understanding the OS is built on top of a linux kernel. That said you would need to open a terminal and then login as root.
1. Open terminal.
`su`
Or maybe
`sudo su`
It will ask for the root password to complete the login as root.
2. Then you would need to change directory where the vcpkg binary resides.
Something like
`cd /some-path/<vcpkg-root>`
then
3. `./vcpkg

[2020-06-23 14:11] WangZP10969 commented on #12042
@JackBoosY
Thank you very much, next I will try how to make it work

[2020-06-23 14:11] #12042 closed

[2020-06-23 14:15] Erroneous1 commented on #11498
@NancyLi1013 I'm not the original reporter, but I was able to get curl to compile with openssl instead of winssl for x64-windows triplet by the following patch to ports/curl/CONTROL
[code]
and then installing with `.\vcpkg.exe install curl[openssl,non-http] --triplet x64-windows`

My particular issue was that I couldn't figure out a way to not install the default features (ssl which depends on win

[2020-06-23 14:20] longnguyen2004 commented on #12065
Every port I try results in the same error
![image](https://user-images.githubusercontent.com/15729831/85412639-00b6f900-b594-11ea-8127-31c08d512f51.png)
![image](https://user-images.githubusercontent.com/15729831/85412667-0a406100-b594-11ea-9df8-122e4ad6fcea.png)
![image](https://user-images.githubusercontent.com/15729831/85412708-14faf600-b594-11ea-9d38-0205beb00b49.png)
If I had to guess, it's

[2020-06-23 14:25] Kareem-Elmokattaf commented on #12057
I appreciate the help but I am not sure what the second part means

[2020-06-23 14:38] timautry commented on #12057
You may need to use google bing or search for some you tube online instructional videos that could assist you further in using the mac terminal and logging in as super user.

[2020-06-23 15:25] andrewhodel commented on #12030
Why don't you put in the instructions that the vcpkg does not include the
patches for the uvc video kernel driver and that you must do that yourself?

Andrew

On Tue, Jun 23, 2020 at 3:24 AM NancyLi1013 <notifications@github.com>
wrote:

[2020-06-23 16:32] Davichet-e commented on #11603
I've the same problem, but making shorter the PATH does not help. Actually `VCPKG_ROOT=C:\Program Files\vcpkg` and all other info about the error is the same as above. I tried also `git pull` but all is up to date.

I also tried this but it does not help either. Quite confused, any advise?

[2020-06-23 16:34] RustyRaptor commented on #11752
Repeated on my machine

[code]

[2020-06-23 17:03] #11530 closed

[2020-06-23 17:03] strega-nil commented on #11530
Closed as completed in #11542 :)

[2020-06-23 17:05] strega-nil commented on #7903
No problem!

[2020-06-23 17:18] strega-nil commented on #12055
FWIW, passing `--debug` to vcpkg will give you more info; however, I'm looking into it right now.

[2020-06-23 17:20] #5330 closed

[2020-06-23 17:20] #9180 closed

[2020-06-23 17:20] #11331 closed

[2020-06-23 17:39] strega-nil commented on #12055
See #12072 for the fix... sorry about that!

[2020-06-23 17:52] cicorias commented on #12055
hey thanks -- didn't know about the `--debug` switch.

I guess you figured it out already
![image](https://user-images.githubusercontent.com/1080406/85437439-946ad400-b558-11ea-9ab1-a2e9af4d57f7.png)

[2020-06-23 18:10] dgengin commented on #12041
Hi. Thanks for looking at this.

I mentioned `Color.hh`, but to fix this, you need to alter all SDL2 included in all headers, not just this file.

I read about this and apparently, some use SDL2/*** others juse the header at the root include directory, which means if we use another system with a different package manager, these includes can be different.

They say the official way is to use it wit

[2020-06-23 19:26] CiaranWelsh opened #12073 "libxslt build failure on Ubuntu"
**Host Environment**
- OS: Ubuntu 18.04 (LTS) on WSL2 .
- Compiler: gcc 10.1

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg install libxslt:x64-linux`
(vcpkg is on $PATH)

**Failure logs**
[code]

[2020-06-23 19:58] #11745 closed

[2020-06-23 19:59] #10944 closed

[2020-06-23 20:07] #12019 closed

[2020-06-23 20:12] #11997 closed

[2020-06-23 20:12] #996 closed

[2020-06-23 20:18] #9138 closed

[2020-06-23 20:37] #9082 closed

[2020-06-23 20:38] #6516 closed

[2020-06-23 20:39] #11916 closed

[2020-06-23 20:40] #10906 closed

[2020-06-23 20:58] #11894 closed

[2020-06-23 21:14] #11782 closed

[2020-06-23 21:28] #11640 closed

[2020-06-23 21:30] banburybill opened #12075 "[New Port Request] getdns"
Library name: getdns

Library description: getdns is a modern asynchronous DNS API.

Source repository URL: https://getdnsapi.net/releases/

Project homepage (if different from the source repository): https://getdnsapi.net/

Anything else that is useful to know when adding (such as optional features the library may have that should be included):
I have a PR in preparation which adds a port for get

[2020-06-23 21:36] #11720 closed

[2020-06-23 21:38] #10343 closed

[2020-06-23 22:17] aggieNick02 opened #12076 "Browse.vc.db is not invalidated in vs2019 when VcpkgTriplet changes"
**Describe the bug**
Ignoring the recent break I reported (https://github.com/microsoft/vcpkg/issues/12062), when you set VcpkgTriplet in a vcxproj file, VS2015 and VS2017 consistently look in the correct location for the header files from the installed vcpkg ports. But in VS2019, while the compile behaves appropriately, when you try to open a header file from a port, it can look in the wrong loca

[2020-06-23 23:22] polkadottedwalrus opened #12077 "Build_Failed ffmpeg:x64-windows"
BUILD FAILED on ffmpeg:x64-windows. Error Below, any help would be appreciated.

PS C:\Users\shapi\Downloads\vcpkg-master\vcpkg-master> .\vcpkg install darknet[full]:x64-windows
Computing installation plan...
The following packages will be built and installed:
    darknet[core,cuda,cudnn,full,opencv-cuda,weights,weights-train]:x64-windows
  * ffmpeg[avresample,core]:x64-windows
  * hdf5[core,szip,

[2020-06-23 23:46] BillyONeal commented on #11835
I'm seeing all pacman powered stuff on the floor right now, probably broken by upstream pacman changes:

[code]

[2020-06-23 23:51] BillyONeal commented on #11835
https://github.com/msys2/MSYS2-packages/issues/2021

[2020-06-24 01:07] normandantzig1 commented on #11976
Thank You.  Let me see about the path.

[2020-06-24 01:17] BillyONeal commented on #11923
I think this is an incompatibility with some ports and apr. I observe that when I build apr and/or apr-util by themselves like this:

[code]

I get a successful build. But the binary cache for apr contains a bunch of things it should not contain, including *libtool*:

[code]

so if there's some other port that's also trying to create this "build-1" directory and that ended up getting sucked up int

[2020-06-24 01:21] BillyONeal commented on #11923
(Are there ports that obviously have a vendored apr that might trigger such problems?)

[2020-06-24 01:31] bhwqy opened #12079 "[PCL:x64-linux] build failure"
**Host Environment**
- OS: Ubuntu 20.04
- Compiler: g++ 9

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install pcl`

**Failure logs**
-Cut and past the appropriate build messages from the console output.

Computing installation plan...
The following packages will be built and installed:
    pcl[core]:x64-linux
Starting package 1/1: pcl:x64-linux
Building package pcl[core]:x64-linux.

[2020-06-24 01:51] NancyLi1013 commented on #11889
Hi @JangBoo
Thanks for posting this request and also for your PR.
I'm closing this issue for now since it has been added to vcpkg.

[2020-06-24 01:51] #11889 closed

[2020-06-24 02:18] NancyLi1013 commented on #11603
@Davichet-e
Could you please help confirm if the root cause of your problem is the same as that of this issue?

This issue is caused by `msys2`, the error like this:
[code]

This issue has been fixed in current master branch.

If you downloaded `msys2 `before this and still encountered this issue, please remove `msys2` and rebuild it again.

If you have new problems for `icu`, please open a new is

[2020-06-24 02:50] timautry commented on #12079
@bhwqy the log file on line 48 shows a kill signal was sent to the cc1plus compiler ending the vcpkg install process.

`c++: fatal error: Killed signal terminated program cc1plus`
`compilation terminated.`

[2020-06-24 02:55] zh1an opened #12081 "How do I choose the specify library version?"
When asking a question please also include where you looked for an answer (so we can update the documentation if needed).

I'm using VS2015.
Now some libraries has update the latest version, but they requir VS2017 or later. So I can't keep update with vcpkg.
The followings is my question:
1. Could vcpkg make a branch that indicating the library recommended with VS2015 or VS2017 or later?
2. Could

[2020-06-24 03:06] bhwqy commented on #12079
I retried to build the project and the same error occurs. I am sure the killed signal is not sent by myself. I think the reason why compiler stops is on line 46.

[2020-06-24 03:10] timautry commented on #12079
Many articles refer to the OOM (Out of Memory) Killer process taking action to prevent a fatal system shutdown based on low memory.

- how much physical, virtual and swap memory does your system have?
- from command line run free -mh and you should get something similar to this:
`>$ free -mh`
`total used free shared buff/cache available`
`Mem: 127Gi 21Gi 105Gi 17Mi 223Mi 105Gi`
`Swap: 116Gi 130Mi

[2020-06-24 03:19] bhwqy commented on #12079
Thank you, I run vcpkg in a VMWare environment. The following is the settings of my system. It is OOM Killer process that kills the process. So what can I do to fix this bug?

total        used        free      shared  buff/cache   available
Mem:          3.8Gi       591Mi       2.9Gi       0.0Ki       299Mi       3.0Gi
Swap:         2.0Gi       979Mi       1.0Gi

[2020-06-24 03:41] BillyONeal commented on #11873
See also https://github.com/microsoft/vcpkg/issues/11835 which is also broken by pacman :(

[2020-06-24 03:52] HO-COOH commented on #12061
That solves the problem. Thanks

[2020-06-24 03:52] #12061 closed

[2020-06-24 03:53] BillyONeal commented on #12081
The federation / manifest stuff @strega-nil is working on will provide some mitigation for this but I believe the official repository remains slated to contain only the latest versions of things (which we have ensured build together). @strega-nil can you confirm?

[2020-06-24 03:54] BillyONeal commented on #12076
I don't know if there's anything vcpkg can do about this. @yuehuang010 do you have any ideas on how to get the IDE to realize that that setting affects include paths?

[2020-06-24 03:55] strega-nil commented on #12081
Check out #11758 :) cc @vicroms

[2020-06-24 04:14] BillyONeal commented on #11834
@lkleen I just got my hands on a MacOS machine to try to investigate this but I'm new to that platform and don't know how you get gcc-9 on that platform. When I do a bootstrap it wants to use AppleClang 11 :)

[2020-06-24 04:24] bhwqy commented on #12079
The bug is solved by increasing the amount of of memory assigned to the virtual machine.

[2020-06-24 04:24] #12079 closed

[2020-06-24 05:48] NancyLi1013 commented on #11988
Factually, both of them are okay.
Please refer to the following documents:
[1] https://stackoverflow.com/questions/60736689/cmake-target-sources-and-install
[2] https://stackoverflow.com/questions/57797459/cmake-how-to-installdirectory-in-installtargets

[2020-06-24 06:15] LilyWangL commented on #12073
Thanks for posting this issue. Could you please provide the error log?
[code]

[2020-06-24 06:21] PhoebeHui commented on #12066
Duplicated to https://github.com/microsoft/vcpkg/issues/11627.

[2020-06-24 06:21] #12066 closed

[2020-06-24 06:53] PhoebeHui commented on #11847
@sinozope, please reopen this issue and attach the failure log if it still be a problem for you.

[2020-06-24 06:53] #11847 closed

[2020-06-24 07:10] NancyLi1013 commented on #12065
Thanks for your update. It seems that there is something missing in `mingw` support.

@cristianadam
Could you please help take a look about this?

[2020-06-24 07:34] longnguyen2004 commented on #9749
Hi there, I've tried patching the detection in and it seems to build just fine. Here's the branch that has the fix, please test https://github.com/longnguyen2004/vcpkg/tree/openssl-mingw

[2020-06-24 08:10] NancyLi1013 commented on #12041
Thanks for your suggestions about this.
Since this issue appears in `msvc `project. You need to add the include path manually in your project. We cannot install headers outside SDL2. There are also some other ports that depend on `SDL2`. We should keep consistent with other ports.

[2020-06-24 08:12] PhoebeHui commented on #12077
@polkadottedwalrus, could you attach failure log C:\Users\shapi\Downloads\vcpkg-master\vcpkg-master\buildtrees\ffmpeg\build-x64-windows-dbg-out.log?

I can't repro this issue with latest source

PS F:\VCPKG\src> ./vcpkg install ffmpeg[avresample,core]:x64-windows
Computing installation plan...
The following packages will be built and installed:
    ffmpeg[avresample,core]:x64-windows
Starting pack

[2020-06-24 08:50] chatyan commented on #12045
D:\Work 2019\GIT Code\vcpkg>.\vcpkg install pcl
Computing installation plan...
The following packages will be built and installed:
  * boost-asio[core]:x86-windows
  * boost-bimap[core]:x86-windows
  * boost-circular-buffer[core]:x86-windows
  * boost-context[core]:x86-windows
  * boost-coroutine[core]:x86-windows
  * boost-date-time[core]:x86-windows
  * boost-dynamic-bitset[core]:x86-windows
  *

[2020-06-24 09:09] CiaranWelsh commented on #12073
Whoops, sorry. Of course, here you go:

[code]

[2020-06-24 09:15] CiaranWelsh commented on #12073
I tried to install `iconv` but `vcpkg` thinks its already installed:
[code]

[code]
[code]
Could be the culprit?

[2020-06-24 10:18] cristianadam commented on #12065
@NancyLi1013 I tested tag "2020.01" and vcpkg builds with my TDM MinGW GCC 9.2.0 and `vcpkg --triplet x64-mingw install zlib` does work.

Regarding master, I had to apply https://github.com/microsoft/vcpkg/pull/12084 to get it building. But when I tried `vcpkg --triplet x64-mingw install zlib` it didn't work.

@longnguyen2004 either use vcpkg "2020.01" or wait until the problem with the toolchain

[2020-06-24 10:29] jamiebk commented on #12064
I don't think so, other than the fact that the particular flag that manifests a general problem happens to be `-fPIC`.
`vcpkg_configure_cmake` is used by the boost-filesystem port via `boost_modular_build` to set things up and invoke the actual CMake configure step. However, this problem occurs in that configure step irrespective of whether it is set up by vcpkg_configure_cmake or not.

This probl

[2020-06-24 10:41] longnguyen2004 commented on #12065
I think I see where the problem is. In [2020.01](https://github.com/microsoft/vcpkg/blob/2020.01/toolsrc/src/vcpkg/build.cpp#L504), if `CMAKE_SYSTEM_NAME` isn't recognized, it does nothing. In [master](https://github.com/microsoft/vcpkg/blob/master/toolsrc/src/vcpkg/build.cpp#L542), it errors out, so the changes need to be reverted.

[2020-06-24 10:51] cristianadam commented on #12065
@longhuan2018 Try https://github.com/microsoft/vcpkg/pull/12084. `vcpkg --triplet x64-mingw install zlib` worked fine for me.

[2020-06-24 11:19] BFamzz opened #12085 "[uWebSockets] <vcpkg still shows and installs outdated version>"
Hi,

@BillyONeal  Kindly update the vcpkg port of uWebSockets.

The repo is on version 18.6.0 but vcpkg still shows and installs 0.15.7. Kindly see screenshot below.

![image](https://user-images.githubusercontent.com/38426051/85546610-fd178680-b614-11ea-8061-c3e2cc08ebb5.png)

Thanks.

[2020-06-24 13:48] longnguyen2004 commented on #12065
@cristianadam you mentioned the wrong person :) anyway I'll try it now

[2020-06-24 14:04] BFamzz commented on #12085
I found a solution.

I ran `git pull` in the vcpkg directory to update the "portfiles".

This will provide the latest (or near latest depending on the vcpkg team) version of the desired library.

[2020-06-24 14:04] #12085 closed

[2020-06-24 14:09] pistecid opened #12086 "Unable to build any package due to invalid path to vcpkg (missing platform in triplet name)"
**Describe the bug**
Unable to build a project which uses any vcpkg library due to incorrect path to vcpkg headers/libs

**Environment**
- OS: Windows
- Visual Studio 2015

**To Reproduce**
Steps to reproduce the behavior:
1. Clone vcpkg, build it
2. Install any package
3. Make integrate install
4. Run visual studio, create empty project, try to use the package (e.g. include some header)

**Expect

[2020-06-24 14:26] cristianadam commented on #12065
I've updated the previous comment. Sorry about that.

I used the fix you provided for build.cpp in order not to get the *Unable to determine toolchain* error. Then the `file(TO_CMAKE_PATH)` fixes the error that I got building zlib with MinGW, since it took the `c:\` part of the path and then CMake would bail with invalid `\P` characters.

 #12084 allows me to build vcpkg and install packages via `

[2020-06-24 14:36] longnguyen2004 commented on #12065
I'm trying to find a better fix since both `ios` and `emscripten` is also broken in the same way.
Also, does removing the error message causes anything else, since it wasn't there in 2020.01?

[2020-06-24 14:37] gix opened #12088 "[botan] Build with /Z7 instead of /Zi"
****

**Is your feature request related to a problem? Please describe.**
Usually ports, AFAICT, are built with /Z7 which also makes debug symbols available when building static libraries. The botan port is built with `/Zi /FS` instead.

**Proposed solution**
I'm not sure whether it's possible to change this option with the provided `configure.py`. Otherwise the compiler info in `src\build-data\cc\

[2020-06-24 14:45] Zergoma commented on #10230
hello

I've got the same problem
Windows 7 pro
Visual Studio 2019 Community
x64
debug mode

soo sad ... I really hope a fix

![image](https://user-images.githubusercontent.com/67263153/85574683-47116400-b637-11ea-937a-80ad28ed8e26.png)

[2020-06-24 15:09] Zergoma commented on #10230
hello

I'm surprized: dependency walker seems to find that the vcruntime is ... 140 Oo' (for both, release [who is working] and debug)
Is that normal ? I expected something like 142 to be honest for vs2019 ... [sorry if I say something stupid]
Is that related for the crash or nothing at all ?

![image](https://user-images.githubusercontent.com/67263153/85578644-855c5280-b63a-11ea-95b9-e7f8a1da40f9

[2020-06-24 15:34] yousifd commented on #7735
I just tried reproducing the bug, but it's no longer occurring on the latest version of vcpkg and the most recent ports of libuuid and harfbuzz.

I'm also running MacOS Catalina 10.15.3.

[2020-06-24 15:43] aggieNick02 commented on #12086
This is one of the other "odd behaviors" I saw in issue https://github.com/microsoft/vcpkg/issues/12062 . It is somehow caused by commit https://github.com/microsoft/vcpkg/commit/14514508d8d30bdbd645b2bec89696aec25497f1 .

What is even more odd/interesting is that this doesn't always happen in VS2015. I think it may be dependent upon VS2015 bugfix version, as I see it in VS2015 version 14.0.25425.

[2020-06-24 15:45] aggieNick02 commented on #12062
Just as a heads up, the issue filed at https://github.com/microsoft/vcpkg/issues/12086 is mentioned in this issue as an "odd behavior", and caused by the same commit.

[2020-06-24 15:48] aggieNick02 commented on #12076
Yeah, that makes sense. When I started writing up the issue, what I was seeing led me to think `vcpkg` was likely at fault, but by the time I was done and had solid reproduction steps, it definitely seems like it could be a VS2019 bug at the core. I'll see if I can find a similar way to trigger it without `vcpkg` .

[2020-06-24 17:27] aggieNick02 commented on #12076
Alright, I figured out how to trigger this with just VS2019. Verified the exact same sequence does not cause the bug in VS2017. We can go ahead and close this issue and I'll file one for VS 2019. Here's how to do it without `vcpkg`.
- Create a new cpp console project and add `#inlcude "foobar.h"` to the main cpp file
- Navigate to the property manager and open `Microsoft.Cpp.,Win32.user` under `De

[2020-06-24 17:29] #12076 closed

[2020-06-24 17:39] aggieNick02 commented on #12076
Link to VS2019 issue:
https://developercommunity.visualstudio.com/content/problem/1091182/vs2019-does-not-invalidate-browse-info-when-the-in.html

[2020-06-24 18:29] #11499 closed

[2020-06-24 19:12] matwey commented on #9749
@longnguyen2004 could you do PR?

[2020-06-24 19:38] SufAfrican opened #12092 "[<port name>] build failure"
**Host Environment**
- OS: Windows 10 Pro Version 1909 Build 18363.900
- Compiler: Microsoft (R) Build Engine version 16.6.0+5ff7b0c9e for .NET Framework

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg install sdl2 curl`

**Failure logs**
PS C:\vcpkg> .\vcpkg install sdl2 curl
Computing installation plan...
The following packages will be built and installed:
    curl[core,non-http,ssl,

[2020-06-24 19:49] timautry commented on #12079
Glad you figured it out. Take care.

[2020-06-24 21:32] zcream opened #12094 "Modify glib port to use 2.58.3 with patches for static lib"
I have patches for glib 2.58.3 that have worked previously for a static build. I have modified portfile.cmake to incorporate these patches.
I am stuck at the error

  ports/glib/portfile.cmake:38 (vcpkg_configure_cmake)
  scripts/ports.cmake:73 (include)

[glib-changes.zip](https://github.com/microsoft/vcpkg/files/4827983/glib-changes.zip)

-- Downloading https://ftp.gnome.org/pub/gnome/sources/gl

[2020-06-24 22:23] zcream commented on #12094
I need to pass these pre-processor defines to the glib sources.
GLIB_STATIC_COMPILATION=1 G_INTL_STATIC_COMPILATION=1

I cannot figure out how to do that.

[2020-06-24 22:58] timautry commented on #12094
Please attach the **`C:\Users\Administrator\vcpkg\buildtrees\glib\config-x86-windows-static-out.log`**  so we can see what errors are being produced and may be able to assist further.

[2020-06-24 23:18] ijean opened #12096 "MathGL simple test program hangs indefinitely"
Hi,

I've installed MathGL using vcpkg with latest VS 2019 on Windows 10 2004, successfully build one of their C++ examples:

[code]

Launching the resulting executable seems to hang indefinitely (never ends). Expected behaviour is to create a PNG image file with a curve.

Regards,
Jean

[2020-06-24 23:22] longnguyen2004 commented on #9749
Already, waiting for reviews #12089

[2020-06-25 00:12] chatyan commented on #12045
I changed the network, it seems OK for boost installation.
But, for installing PCL.
There comes
"
cl : Command line warning D9002 : ignoring unknown option '-fext-numeric-literals'
" problem

Code\vcpkg\buildtrees\pcl\src\pcl-1.9.1-f2ec88a858\pcap\include" -I"D:\Work 2019\GIT Code\vcpkg\buildtrees\pcl\src\pcl-1.9.1-f2ec88a858\png\include" -I"D:\Work 2019\GIT Code\vcpkg\buildtrees\pcl\src\pcl-1.9.1

[2020-06-25 01:03] AlexandreGerault opened #12098 "[boost[core]:x64-linux] build failure"
**Host Environment**
- OS: Linux (endeavourOs)
- Compiler: GCC 10.1.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install boost spdlog`

**Failure logs**
[code]

I just installed vcpkg following the README.md to manage my packages more easily but I can't get it works. Same for spdlog (fmt dependency fail to build).

[2020-06-25 05:40] semyalodennis opened #12099 "Error: Building package eigen3:x64-windows failed with: BUILD_FAILED"
**Host Environment**
- OS: Windows..
- Compiler: msvc++ 14.2

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg install eigen3:x64-windows`

**Failure logs**
-Error: Building package eigen3:x64-windows failed with: BUILD_FAILED

**Additional context**
Add any other context about the problem here, such as what you have already tried to resolve the issue.

[2020-06-25 06:15] semyalodennis opened #12100 "shark machine learning library missing in vcpkg"
****

**Is your feature request related to a problem? Please describe.**
shark machine learning library missing in vcpkg

**Proposed solution**
shark machine learning library should be added to vcpkg

**Describe alternatives you've considered**
Getting shark machine learning library from its Github page (https://github.com/Shark-ML/Shark/)

**Additional context**
Add any other context or screensho

[2020-06-25 08:20] gvanem opened #12102 "[Armadillo] mismatch detected for 'RuntimeLibrary'"
I have a real *show stopper* issue regarding **Armadillo, Version: 2019-04-16-8**.

I installed using `vcpkg install armadillo:x86-windows`. I got the sub-dependencies and built OK seemingly.

But using it in a C++ program compiled with `cl -MD` does not work since at the linking stage I get
many mismatches like this:
[code]
And since `armadillo.lib` pulls in `libcpmt.lib`, there are other such mi

[2020-06-25 09:49] LogicFan opened #12105 "[gtest] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: mingw-g++ 9.2.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install gtest`

[code]

**Failure logs**
-Cut and past the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.
[code]

**Additional context**

[2020-06-25 10:31] eix128 opened #12106 "[New Port Request] Mozilla DeepSpeech"
Mozilla has made offline speech recognition.
Here is C++ source:
https://github.com/mozilla/DeepSpeech/tree/master/native_client

There is also example:
https://github.com/mozilla/DeepSpeech/blob/master/native_client/client.cc

Vcpkg should add this library for all platforms
OSX , Win , Linux , FreeBSD

There is also already nuget for
https://nugetmusthaves.com/Package/DeepSpeech-GPU
https://nuget

[2020-06-25 11:22] chatyan commented on #12045
Finally, it's done!

Previously I used VS2019, after I switch to Visual Studio 2015, it's done for installing PCL.

For installing boost, I changed my network.

Installing: D:/Work 2019/GIT Code/vcpkg/packages/pcl_x86-windows/share/pcl/copyright
-- Performing post-build validation
-- Performing post-build validation done
Building package pcl[core]:x86-windows... done
Installing package pcl[core]:x

[2020-06-25 11:22] #12045 closed

[2020-06-25 11:49] SufAfrican commented on #12092
./vcpkg install zlib:x86-windows
Computing installation plan...
The following packages will be built and installed:
    zlib[core]:x86-windows
Starting package 1/1: zlib:x86-windows
Building package zlib[core]:x86-windows...
CMake Error at C:/vcpkg/scripts/cmake/vcpkg_download_distfile.cmake:82 (file):
  file must be called with at least two arguments.
Call Stack (most recent call first):
  C:/vcp

[2020-06-25 12:10] 67-al-ahad commented on #11988
Thank you for the clarification CMake is a strange beast to handle.

[2020-06-25 12:20] ZeeWanderer opened #12107 "[xlnt] find_package failure"
**Describe the bug**
After vcpkg install and integration using `find_package(xlnt CONFIG REQUIRED)` in a cmake project results in
[code]

**Environment**
- OS: Windows 10
- Compiler: MSVC 19.26.28806.0

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install xlnt:x64-windows
2. ./vcpkg integrate install
3. use `find_package(xlnt CONFIG REQUIRED)` in a cmake project
4. See error

[2020-06-25 12:58] o-mdr opened #12108 "[curl] update to 7.71.0"
Library name: curl

New version number: 7.71.0

---
I've tried making simple changes to the version and SHA512 hash:

[code]

But the build fails with

[code]
I attach non-empty log files:

[patch-x86-windows-0-err.log](https://github.com/microsoft/vcpkg/files/4831305/patch-x86-windows-0-err.log)
[stdout-x86-windows.log](https://github.com/microsoft/vcpkg/files/4831306/stdout-x86-windows.log)
[x86

[2020-06-25 13:54] metablaster commented on #7543
If anyone finds out that it's not security software, you may need to remove:
`VCPKG_FORCE_SYSTEM_BINARIES`
from your environment, that caused failure in my case

[2020-06-25 14:01] arsdever opened #12109 "OpenSSL-UWP version upgrade?"
Hi folks. As I see here

https://github.com/microsoft/vcpkg/blob/70ab27fcad50241d72e0fe235ec4012f0ce7551e/ports/openssl-uwp/portfile.cmake#L31

It is used `v1.1.1d` here, but the existing version in the `OpenSSL` webpage is `v1.1.1g`. I wonder if this is intended to be this particular version or can be upgraded to the latest?

[2020-06-25 14:51] ankurverma85 opened #12110 "[angle] build failure"
**Host Environment**
- OS: linux
- Compiler: gcc-10

**To Reproduce**

Steps to reproduce the behavior:
`./vcpkg install angle`

And then use angle in a project by
    target_link_libraries(${target} PRIVATE unofficial::angle::libANGLE unofficial::angle::libEGL unofficial::angle::libGLESv2)

This results in undefined reference to
rx::DisplayEGL::DisplayEGL

There are no build issues in building an

[2020-06-25 14:55] ankurverma85 commented on #12110
Submitted pull request to fix the issue

https://github.com/microsoft/vcpkg/pull/12111

[2020-06-25 17:13] MarkSchuckParadigm opened #12112 "separate include paths for each installed dependency"
****

**Is your feature request related to a problem? Please describe.**

Before going further I want to make it clear, this is *my* fault but I think vcpkg could arrange the includes differently to prevent accidentally running into this problem.

The issue is that vcpkg puts all dependency include files in a single root path so as soon as my library depends on a vcpkg managed dependency it gains

[2020-06-25 19:58] IRebo opened #12114 "Feature Request: Deploy library pdbs to build output"
Would it be possible to extend the vcpkg nuget in a way that it deploys a native dll along with its pdb to build output ? Currently it seems to deploy the necessary .dlls but the pdbs are not copied. This makes things more complicated if we want to package the complete build output.

I saw looking at https://github.com/microsoft/vcpkg/blob/master/scripts/buildsystems/msbuild/applocal.ps1.
My assum

[2020-06-25 20:20] Neumann-A commented on #12112
And what happens to cmake find modules? They won't find their INCLUDE_DIRs anymore since the don't expect another sub directory.

[2020-06-25 21:12] d-winsor opened #12115 "[ gtest ] Update port to include fix for C++20 compliance"
****

**Is your feature request related to a problem? Please describe.**
GTest in vcpkg uses std::result_of which was removed in C++20.

**Proposed solution**
The port should be updated/patched to include this fix from this commit https://github.com/google/googletest/commit/61f010d703b32de9bfb20ab90ece38ab2f25977f

[2020-06-25 23:14] ollp opened #12116 "[eigen3] Headers build failed"
.\vcpkg.exe install eigen3:x86-windows
.\vcpkg.exe install eigen3:x64-windows

Both package's  provide Cmake targets

Like in this I posted https://github.com/microsoft/vcpkg/issues/7902

But for some reason stop worked.

find_package(Eigen3 CONFIG REQUIRED)

target_link_libraries(main PRIVATE Eigen3::Eigen)

visual studio 2015 I have also visual studio 2017 on the same machine non of them works.

[2020-06-26 01:23] #12055 closed

[2020-06-26 02:30] justin-bj opened #12119 "How to install Qt5 on macOs? It failed."
./vcpkg install Qt5
Computing installation plan...
The following packages will be built and installed:
    qt5[activeqt,core,declarative,essentials,imageformats,multimedia,networkauth,quickcontrols2,svg,tools]:x64-osx
  * qt5-base[core]:x64-osx
  * qt5-declarative[core]:x64-osx
  * qt5-imageformats[core]:x64-osx
  * qt5-multimedia[core]:x64-osx
  * qt5-networkauth[core]:x64-osx
  * qt5-quickcontro

[2020-06-26 05:43] Septarius commented on #12119
I believe the offending line is `xcrun: error: unable to lookup item 'SDKVersion'` which points to xcode not being installed or xcode command line tools not being installed properly.

[2020-06-26 05:47] Septarius commented on #12109
Duplicate of #11127 the pull request to update the openssl version is currently pending.

[2020-06-26 06:25] MCl57 opened #12121 "vcpkg Building package boost-atomic:x64-linux failed with: BUILD_FAILED"
# command:
./vcpkg install boost-atomic
# log:
Computing installation plan...
The following packages will be built and installed:
    boost-atomic[core]:x64-linux
Starting package 1/1: boost-atomic:x64-linux
Building package boost-atomic[core]:x64-linux...
-- Using cached /vcpkg/downloads/boostorg-atomic-boost-1.73.0.tar.gz
-- Using source at /vcpkg/buildtrees/boost-atomic/src/ost-1.73.0-3741af45a

[2020-06-26 06:58] Septarius commented on #12001
The old OpenSSL packages for < 1.1.0 (ssleay32 and libeay32) might have had a "d" suffix or at least I could find hints at that. It appears that they removed that for 1.1+ when the name was changed to libcrypto and libssl. I would suggestion removing the _DEBUG pragma in your header file. That should clear your problem up.

 **Release**
[code]

**Debug**
[code]

[2020-06-26 07:12] justin-bj commented on #12119
xcode-select --install
xcode-select: error: command line tools are already installed, use "Software Update" to install updates

![image](https://user-images.githubusercontent.com/21333566/85830535-58857800-b7bf-11ea-8708-ac3426f79ec6.png)

[2020-06-26 07:40] Dave-Lowndes opened #12122 "gRPC update to 1.30.0"
Library name: gRPC

New version number: 1.30.0

[2020-06-26 07:41] justin-bj commented on #12119
xcode-select --install
xcode-select: error: command line tools are already installed, use "Software Update" to install updates

[2020-06-26 08:34] ahoarau commented on #4968
They now have an official mirror : https://github.com/Open-Cascade-SAS/OCCT

[2020-06-26 09:30] #12107 closed

[2020-06-26 09:37] sandsmark commented on #11391
from a quick glance the "not needed patch" was not arm specific, how was it verified that it was safe to drop the patch?

there's some static library related stuff in it, so I guess just reverted the commit removing it should probably fix this.

[2020-06-26 09:46] sandsmark commented on #11391
https://ci.appveyor.com/project/sandsmark/freeaoe/builds/33753443?fullLog=true#L1066 here's the full build log of openal failing to build statically

[2020-06-26 12:03] arsdever commented on #12109
@Septarius  thanks for the update. I need a small hint. I just grabbed the PR you made and tried to build the library through `Conan` using the approach `vcpkg` provides. So here's the `Conan` code snippet for the build function
[code]

The compilation process finishes successfully, but the linker fails with below message
[code]
Is this something you have faced so far?

[2020-06-26 12:38] gix commented on #12112
IMHO (vcpkg-built) libraries should only ever be included using `find_package(<name> CONFIG REQUIRED)`. The corresponding `<name>-targets.cmake` files will take care of the rest. Sadly not many libraries are consumable like this yet, and AFAICT this isn't something vcpkg wants to tackle for its ports (and thus ports have wildly differing ways on how they have to be consumed).

[2020-06-26 13:32] MarkSchuckParadigm commented on #12112
I'll be honest your comment is over my head. most of my use as a consumer of vcpkg managed dependencies has been find_package(). Looking into the include directory i can see every dependency has its includes thrown together, and as I've explained it causes all sorts of odd problems. From my perspective, i shouldn't be able to create a dependency on something if i didn't' explicitly request it in m

[2020-06-26 13:49] Neumann-A commented on #12112
Simply said. Needs upstream changes/fixes ;). Not something VCPKG should care about.

Not all libraries are built with cmake and probably will never be. Furthermore supplying unofficial targets (e.g. like Conan) makes downstream packages not agnostic to the package manager which is bad design.

[2020-06-26 14:15] psionic12 opened #12123 "[skia] stack around the variable 'options' was corrupted"
First, an example here:

[code]

this code works fine on Linux but crashs on Windows, the reason is that `GR_TEST_UTILS` is not defined on Windows, if a user do not add it manually, the size of class `GrContextOptions ` in header will not match with the actual size in the Skia library. Since it works fine on Linux with out a manually added `#define GR_TEST_UTILS true`, I guess there may some missi

[2020-06-26 14:25] irinabov opened #12124 "librdkafka update to 1.4.4"
Library name: librdkafka

New version number: 1.4.4

Other information that may be useful (release notes, etc...)
See https://github.com/edenhill/librdkafka/releases/tag/v1.4.4.

[2020-06-26 14:26] yamcenutzer commented on #9955
So does someone have the balls to apply the patch as mentioned by MarcKLohr above ?

Why does vcpkg insist on using language features more advanced than the libraries being installed?

.

[2020-06-26 14:30] gix commented on #12112
That doesn't really matter. What matters is that the library is *consumed* with cmake.

That's not true. `find_package` has nothing to do with `vcpkg` or any other package manager. You could do this manually if you wanted (but this is cumbersome, and something I'd expect a package manager to take care off). For the ports I use I've added targets files where missing. Makes it really easy to integra

[2020-06-26 14:33] gcardi opened #12125 "Package: boost-build:x86-windows"
**Host Environment**
- OS: Windows 10 Pro x64
- Compiler: VS 2019 Community

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install boost:x86-windows-static

**Failure logs**
Your feedback is important to improve Vcpkg! Please take 3 minutes to complete our survey by running: vcpkg contact --survey
Computing installation plan...
The following packages will be built and installed:
    b

[2020-06-26 16:05] Septarius commented on #11923
PR #12067 fixed the issue for PR #11882 and should fix it for #11290 and any others that had the similar apr/apt-util block

[2020-06-26 17:17] liyangrock opened #12127 "[New Port Request] MOAB"
Library name: MOAB

Library description: The Mesh-Oriented datABase MOAB is a component for representing and evaluating mesh data. MOAB can store structured and unstructured mesh, consisting of elements in the finite element “zoo” plus polygons and polyhedra. The functional interface to MOAB is simple yet powerful, allowing the representation of many types of metadata commonly found on the mesh. M

[2020-06-26 17:41] Davichet-e commented on #11603
@NancyLi1013 Two days later, I updated using `git pull` and now it worked.
[code]
All good now. Have a great day.

[2020-06-26 18:15] rigo2798 commented on #12003
thankyou so much that seems to be the problem :) @JackBoosY

[2020-06-26 18:15] #12003 closed

[2020-06-26 18:28] BillyONeal commented on #11923
Ah, yep :)

[2020-06-26 18:29] BillyONeal commented on #11923
@Septarius Is this resolved to your satisfaction?

[2020-06-26 18:41] Septarius commented on #12119
I don’t have a local Mac anymore to verify a build locally and it was a shot in the dark from me based on what search results came back for that error. Might know more when the Next OS X CI build runs.

[2020-06-26 18:44] Septarius commented on #11923
LGTM. I can’t kick off the build for #11290 but I am confident it will work or have an unrelated issue. So I will go ahead and close this. Thanks!

[2020-06-26 18:44] #11923 closed

[2020-06-26 18:48] OlafvdSpek opened #12129 "Could not find Visual Studio. VS2015 or VS2017 (with C++) needs to be installed."
I think the error message is just out-of-date, VS2019 is missing.
This was while the installer was upgrading my VS2019.

[code]

[2020-06-26 19:36] mitza-oci opened #12131 "vcpkg build failed after #12049"
**Describe the bug**
vcpkg\toolsrc\src\vcpkg\binarycaching.cpp(515,23): error C3668: '`anonymous-namespace'::NugetBinaryProvider
::precheck': method with override specifier 'override' did not override any base class methods

**Environment**
- OS: Windows
- Compiler: VS2019

**To Reproduce**
Steps to reproduce the behavior:
bootstrap-vcpkg

**Expected behavior**
vcpkg.exe exists

[2020-06-26 19:47] BillyONeal commented on #11835
OK, now that the msys bit is fixed we're back to the same error originally in this report. I observe that our ci.baseline.txt says:

[code]

and that libmesh's configure script has things like:

[code]

it seems unlikely that this port ever supported Windows. Their installation instructions at http://libmesh.github.io/installation.html suggest that only `mingw-w64` is acceptable as a compiler whic

[2020-06-27 08:56] rengedv commented on #11658
Salut Guillaume,

your question about a fix VS 2015 Update 3. I am working in this business since 34 years, and i think, the answer is easy. No!
But maybe if some enterprises like Autodesk, which have used a long time vs 2015, and even today you can download some SDKs for the use with VS 2012/2013/2015, now switched to VS 2017 also (maybe could this be the cause why i got last week an update, a mi

[2020-06-27 09:02] 67-al-ahad commented on #12001
I am using vcpkg, CMake and Visual Studio 2019 are you talking about this : https://stackoverflow.com/questions/4604283/automatic-defines-according-to-debug-release-config-in-visual-studio

[2020-06-27 09:06] fangice commented on #11661
Hi, I got the same problem . How did you solve it ?

[2020-06-27 10:01] sunsaintx commented on #11661
I think I know the problem. It's due to different versions of packages.

发自我的小米手机
在 fangice <notifications@github.com>，2020年6月27日 下午5:06写道：

@PhoebeHui<https://github.com/PhoebeHui> Hi, I got the same problem when I install pcl.
I download boost_LICENSE_1_0.txt. But It got "File does not have expected hash" problem.
Here is the log. Do you have any suggestion?

.\vcpkg install pcl
Computing instal

[2020-06-27 10:03] avrionov opened #12134 "[New Port Request] WebRTC"
Library name: WebRTC

Library description: An open framework for the web that enables Real-Time Communications (RTC)

Source repository URL: https://webrtc.googlesource.com/src/

Project homepage (if different from the source repository): https://webrtc.org/

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2020-06-27 10:52] sandsmark commented on #11391
in case someone else needs it, I fixed my CI by reverting the commit that broke openal by running this at the start (on appveyor):

[code]

I don't have any windows machines so I'm not comfortable opening a PR without testing it, but imho the commit should just be reverted (if I'm reading it correctly it didn't actually update openal, it just broke the static build by removing the patch)

[2020-06-27 14:45] rockonedege commented on #12125
As the error says: you'll probably need to install the English language  package from VS installer

[2020-06-27 14:51] gcardi commented on #12125
Thank you.

I’ve missed the line, sorry. My fault.

Now it’s all ok.

Thanks again.

From: ttan
Sent: Saturday, June 27, 2020 4:46 PM
To: microsoft/vcpkg
Cc: gcardi ; Author
Subject: Re: [microsoft/vcpkg] Package: boost-build:x86-windows (#12125)

As the error says: you'll probably need to install the English language package from VS installer

—
You are receiving this because you authored the thr

[2020-06-27 15:22] justnope opened #12135 "[protobuf-c] build failure : 'windows' not supported by protobuf-c"
**Host Environment**
- OS: Windows 10 1909
- Compiler: msvc 2019 16.6.2

**To Reproduce**
`./vcpkg install protobuf-c`

**Failure logs**

-Please attach any additional failure logs mentioned in the console output.
[code]

**Additional context**
It seems like a cmake check gone wrong (? I don't know, I'm just trying to work here :) ).

[2020-06-27 15:27] #12135 closed

[2020-06-27 17:54] MaxKruse opened #12136 "[tinyfiledialogs] update to 3.6.3"
Library name: tinyfiledialogs

New version number: 3.6.3

Other information that may be useful (release notes, etc...): includes a fixed link that will never be tampered with.

[2020-06-27 18:07] zcream commented on #1903
Hi. I can confirm this is still an issue. Is there a patch for the circular dependency?

[2020-06-27 18:15] Septarius commented on #12001
Yeah the last one
[code]
I noticed that there was a reference to libcryptod.lib in the header file but it wasn't cooperating at the time to quote it.

[2020-06-27 18:36] Septarius commented on #12109
I can't say that I faced this before, I have limited experience with UWP and less so with ARM64-UWP so I don't have a toolchain to compile ARM. I was just continuing the original PR since it had stalled out; the UWP patch was already done.
I know there isn't official support for the community triplets and using Conan makes it less likely that you will find much experience with it here. Sorry I cou

[2020-06-27 18:57] mitza-oci commented on #12131
Fixed by #12130

[2020-06-27 18:57] #12131 closed

[2020-06-27 19:58] arsdever commented on #12109
@Septarius Thanks for what you have already done. No worries about what you can't help. It's not supposed that you should have known all the stuff especially when it is related to Conan. I just wanted to know whether or not you faced. Thanks anyways. BTW should I close this issue or you will do it when the PR is closed?

[2020-06-27 19:59] Septarius commented on #12109
I think if you closed it it would be better. I don't have the ability to close issues either. Best of luck!

[2020-06-27 21:00] #12109 closed

[2020-06-27 22:29] AlexandreGerault commented on #12098
I tried to install these libraries on my ubuntu laptop which uses `gcc version 9.2.1 20191008 (Ubuntu 9.2.1-9ubuntu2)`. It works well here. Is there something I can try to do for a PR?

[2020-06-28 01:50] #12125 closed

[2020-06-28 05:28] JackBoosY commented on #4968
Hi guys, does anyone want to open a PR to add this port?

[2020-06-28 05:29] JackBoosY commented on #9955
@BillyONeal What do you think?

[2020-06-28 06:18] JackBoosY commented on #12119
@Neumann-A Could you please take a look?

Thanks.

[2020-06-28 06:20] JackBoosY commented on #12092
Can you re-clone vcpkg in a non-system partition and try again?

Thanks.

[2020-06-28 06:21] JackBoosY commented on #12086
@BillyONeal Could you take a look?

Thanks.

[2020-06-28 06:25] NancyLi1013 commented on #11988
Please let me know if you have other questions about this issue.

[2020-06-28 06:29] PhoebeHui commented on #12121
@MCl57, thanks for reporting this issue!

Could you try to run './vcpkg install boost-build' first, and check if  "./installed/x64-linux/tools/boost-build" exist, if yes, could you try run './vcpkg isntall boost-atomic' again?

[2020-06-28 06:57] JackBoosY commented on #12001
@cenit Could you please take a look?

Thanks.

[2020-06-28 07:05] JackBoosY commented on #7735
@hebtuerror404 Please provide me the full log if this issue still bother you.

Thanks.

[2020-06-28 07:05] #7735 closed

[2020-06-28 07:17] PhoebeHui commented on #12121
We have a PR https://github.com/microsoft/vcpkg/pull/11880, should address the failure:
[code]

[2020-06-28 07:18] JackBoosY commented on #12123
Hi @psionic12, thanks for reporting this issue!
Althought I can't repro this issue, I think we still need to add definitions `GR_TEST_UTILS` and `NOMINMAX`.

Thanks.

[2020-06-28 07:21] linquize commented on #12123
Do you use --triplet `x86-windows` or `x64-windows`?

[2020-06-28 07:22] NancyLi1013 commented on #12116
Hi @ollp
Thanks for posting this issue.
You mean that you cannot use `eignen3`? If so, please provide your project case.

[2020-06-28 08:13] JackBoosY commented on #12134
Duplicate with #6205.

[2020-06-28 08:13] #12134 closed

[2020-06-28 08:15] NancyLi1013 commented on #12099
Hi @semyalodennis
Thanks for posting this issue.
Could you please post the error info?
I cannot reproduce this on my machine with Visual Studio 2019.

[code]

[2020-06-28 08:49] ollp commented on #12116
Hi thanks for answer.
if I add the  path in project properties  vc++Directories it works.

But I don't think that is idea.

regards ollp

[2020-06-28 08:51] Neumann-A commented on #12119
@JackBoosY: Don't have OSX so cannot help here. In some issue here was another way to define/extract the platform SDK on osx but I couldn't find it with a quick search

[2020-06-28 08:56] PhoebeHui commented on #12098
@AlexandreGerault, it seems that boost-exception:x64-linux build failed with gcc 10.1.0, I don't have gcc 10.1.0, I test it by gcc 7.5.0, everything built successfully for me. you can reference the following the 2 steps:

1.  Check the failures logs under buildtree/boost-exception, and see if the specific source failures in gcc 10.1.0, if so, pelase repoert to upstream instead.
2. Down to use lowe

[2020-06-28 09:16] NancyLi1013 commented on #12105
Hi @LogicFan
Thanks for posting this issue.
Have you tried this usage?
[code]

[2020-06-28 09:37] NancyLi1013 commented on #12116
Could you please post the error info if you don't add path in project?
Please also help confirm you have set `CMAKE_TOOLCHAIN_FILE`.

If possible, please provide your project case.

[2020-06-28 10:35] PhoebeHui commented on #12096
@ijean, thanks for reporting this issue!

I'm not familar with mathgl, I try to debug the code, it seems hand at FillY12 in font.cpp. @cenit, do you know more about this?

![image](https://user-images.githubusercontent.com/20694052/85945071-dbe4cc00-b96d-11ea-8b69-03c44410da61.png)

[2020-06-28 11:03] ollp commented on #12116
The biggest problem it does not give any real error no point compile if it cannot find te header file.
CMAKE_TOOLCHAIN_FILE how do I set that?
`# This is the CMakeCache file.
# For build in directory: c:/vcpkg/buildtrees/eigen3/x64-windows-rel
# It was generated by CMake: C:/Program Files (x86)/CMake/bin/cmake.exe
# You can edit this file to change values found and used by cmake.
# If you do not w

[2020-06-28 11:33] 67-al-ahad commented on #12001
Even after removing the **d** from header I still get this error.

[2020-06-28 12:01] yamcenutzer commented on #9955
I think not
I am using my own fork for now,where I really try to avoid adding any new annoying 'features' or unecessary updates just to be c++ latest compliant.
vcpkg is oss, so essentially a play ground for testing new and cool stuff. No actual target definitions for what it is supposed to be useful.
However, as vcpkg builds got broken recently for vc2015, someone mentioned that the backward comp

[2020-06-28 13:53] SufAfrican commented on #12092
PS D:\git\vcpkg> .\bootstrap-vcpkg.bat

Building vcpkg.exe ...

  pch.cpp
  archives.cpp
  checks.cpp
  chrono.cpp
  cofffilereader.cpp
  downloads.cpp
  enums.cpp
  files.cpp
  hash.cpp
  json.cpp
  machinetype.cpp
  parse.cpp
  strings.cpp
  stringview.cpp
  system.cpp
  system.print.cpp
  system.process.cpp
  unicode.cpp
  binarycaching.cpp
  binaryparagraph.cpp
  build.cpp
  buildenvironment.c

[2020-06-28 13:55] SufAfrican commented on #12092
Thank you for taking a look at the problem @JackBoosY
I've cloned it into my D: drive this time, same issues.

[2020-06-28 15:38] cenit commented on #12001
@jackboosy @67-al-ahad there is a problem with the openssl port on vcpkg, which is independent from 1.1 update. The only culprit of that PR is not having fixed this problem and not even highlighted that.
On windows, as can be seen here
https://github.com/Kitware/CMake/blob/45542049563f0ee8358ead563a4e4cc7d7270110/Modules/FindOpenSSL.cmake#L209-L221
`LIB_EAY_DEBUG` should have a trailing `d`. The s

[2020-06-28 17:07] gansm255 commented on #5383
Hi,
Freetype and hdf libraries are not built in my configuration. I use opencv 3.4.1 and opencv_contrib 3.4.1. Please guide me how to enable these two modules. which files i have to change. Thanks and regards, Murugan

[2020-06-28 17:08] gansm255 commented on #5383
i develop in cygwin for cross development to target aarch64-unknown-linux-gnu.

[2020-06-28 17:30] zcream commented on #12094
I was able to use the patches offered by magicfoo https://github.com/microsoft/vcpkg/pull/9031/files# in order to do a static build of the current 2.52.3 version.
I have deleted the 2.58.3 and no longer have that. However, I would recommend integrating the magicfoo patches in the current build.

[2020-06-28 20:08] SufAfrican commented on #12092
Seems it could be an issue with Cmake, possibly from a newer version.

[2020-06-28 20:31] zcream opened #12142 "Enable HAVE_GLIB flag in harfbuzz"
I have a custom static build for glib. In vcpkg\buildtrees\harfbuzz\src\2.6.6-8af0fa33ca\src\hb-glib.cc there are some functions disabled under

So I enabled the flag in CMakeLists.txt in

It was originally

I changed it to

However, this did not change the build behaviour. so I had to replace the

by

Why doesnt the change in CMakeLists.txt affect the build?

[2020-06-28 22:05] ijean commented on #12096
@PhoebeHui good catch. I suppose the problem under Windows could be in config.h.in where *MGL_DEF_FONT_NAME* is an empty string:

[code]

The *mglFont::mglFont* from *font.cpp* doesn't seem to correctly treat the case of an empty font name.  We probably need to patch this piece of code:

[code]

and define the ${MGL_DEF_FONT} ${MGL_FONT_PATH} cmake variables. Just pick some font that is always pre

[2020-06-29 01:59] psionic12 commented on #12123
@linquize, @JackBoosY , I used x64-windows

[2020-06-29 03:09] hebtuerror404 commented on #7735
Sorry, I haven’t checked my mailbox recently, so I didn’t reply to your message in time.
This is my full log:
[code]

[2020-06-29 03:19] hebtuerror404 commented on #7735
Sorry, I haven’t checked my mailbox recently, so I didn’t reply to your message in time.
I found that this problem occurred when I was building honggfuzz, not harfbuzz, so I will go to honggfuzz's repository to create an issue.

[2020-06-29 03:35] alimai opened #12143 "[<boost-log>] build failure"
**Host Environment**
- OS: [Windows10 professional ]
- Compiler: Microsoft Visual Studio Professional 2019, Version 16.6.2

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install boost-log:x64-windows`

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
    boost-log[core]:x64-windows
Starting package 1/1: boost-log:x64-windows
Building

[2020-06-29 06:21] alimai commented on #12143
There don't have the file "source_location.hpp" in my computer, and not be downloaded by vcpkg either.
So I remove the '#include <boost/assert/source_location.hpp>' and the following corresponding code in 'E:\vcpkg\buildtrees\boost-log\src\ost-1.73.0-3d57ed4a83\include\boost\log\detail\adaptive_mutex.hpp',  the 'boost-log' can be built now.
There should be a better solution somewhere I think.

[2020-06-29 06:43] PhoebeHui commented on #12129
@OlafvdSpek, thanks for reporting this issue!

[2020-06-29 06:50] LilyWangL commented on #12102
Thanks for posting this issue. `armadillo` pnly supports static library, there are this code `vcpkg_check_linkage(ONLY_STATIC_LIBRARY)` in `portfile.cmake` . And when you installing `armadillo:x86-windows`, you can see this information on powershell.
[code]
So you should use `cl -MT` to build `armadillo`.

[2020-06-29 07:13] #12081 closed

[2020-06-29 08:11] jiaozhh commented on #3863
Thank you very much for your hard work. GDAL in vcpkg is better.

[2020-06-29 08:11] #3863 closed

[2020-06-29 08:42] NancyLi1013 commented on #12108
Hi @o-mdr
Thanks for posting this issue.
Could you please try to rebuild this based on the PR #12141?

[2020-06-29 08:48] NancyLi1013 commented on #1903
Hi @zcream
Thanks for posting this issue again.
Could you please describe the specific issue you met? As for the current status, we cannot fix it that caused by circular dependency in near future.

[2020-06-29 11:29] psionic12 commented on #12123
@JackBoosY , have you met situations like this before? That is, public API headers have macros which may lead to size of the class change?

For Skia, the main user (Chrome, Android, Flutter) build the library with other code together, so this won't be a problem. I think this is why they write like this without a second thought.

I want to know if any other ports have the same problem before, and h

[2020-06-29 13:15] H-angel opened #12148 "gtk:x86-windows Installation failed"
**Host Environment**
- OS: [Windows10]
- Compiler: vs2019

**To Reproduce**
Steps to reproduce the behavior:
vcpkg install glib:x86-windows

**Failure logs**
F:\vcpkg>vcpkg install glib:x86-windows
Computing installation plan...
The following packages will be built and installed:
    glib[core]:x86-windows
Starting package 1/1: glib:x86-windows
Building package glib[core]:x86-windows...
-- Downloa

[2020-06-29 14:11] david-antiteum opened #12150 "qt5-webengine build failure"
**Host Environment**
- OS: Windows
- Compiler: VS 2019 16.6.2

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install protobuf`
`./vcpkg install qt5-webengine`

**Additional context**

The current version of qt5-webengine compiles and uses a private copy of protobuf version 3.2.0. The current version of the protobuf package in vcpkg is 3.12.0. When compiling qt5-webengine, it generates

[2020-06-29 14:53] Neumann-A commented on #12150
According to the cpp qt slack there is nothing which can be done here. You have to uninstall the headers provided by vcpkg. But that explains why it fails in CI but is locally successful if protobuf is not installed ;)

To cite:
[code]

[2020-06-29 14:53] david-antiteum opened #12152 "[qt5-webengine] build failure due to missing zlibd1.dll in tools\qt5\debug\bin"
**Host Environment**
- OS: Windows
- Compiler: VS 2019 16.6.2

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg remove protobuf`
`./vcpkg install qt5-webengine`

**Additional context**

After by-passing case #12150 uninstalling protobuf, the next error appears when rcc.exe is called for the debug build. It fails to start because `%VCPKG_ROOT%\installed\x64-windows\tools\qt5\debug\bin` do

[2020-06-29 15:00] david-antiteum commented on #12150
Unless you plan to use protobuf too. In this case you have two versions of the lib (and this a "highway" case).

Not sure why qt5-webengine needs a private copy of protobuf anyway. It is a vcpkg thing (something in the port) or a Qt thing?

Thanks for the support :)

[2020-06-29 15:01] Neumann-A commented on #12152
Hmm interesting. I wonder why it worked for me.
I also see:
`E:\qt\installed\x64-windows\tools\qt5\debug\bin\rcc.exe -name resources E:\qt\buildtrees\qt5-webengine\src\5.15.0-c7b80f6f6f\src\pdf\quick\resources.qrc -o .rcc\debug\qrc_resources.cpp`
and also don't have the dll's in `tools\qt5\debug\bin` (shouldn't matter that it is 5.15)

Be aware that compiling Qt with that VS version is broken with

[2020-06-29 15:08] david-antiteum commented on #12152
5.15 is not yet in master, right? any ETA?,

[2020-06-29 15:10] Neumann-A commented on #12150
Qt thing.

No you don't. Qt installs only Qt stuff. See here:
[qt5-webengine_5.15.0_x64-windows.txt](https://github.com/microsoft/vcpkg/files/4846363/qt5-webengine_5.15.0_x64-windows.txt)

[2020-06-29 15:12] Neumann-A commented on #12152
you can probably simply "backport" (i.e just apply it) to current qt5-base. But that is a question you have to ask @JackBoosY and @BillyONeal because it requires a VM update for the linux ci to successfully run (Missing system libs).

[2020-06-29 17:04] pvarcholik opened #12154 "assimp build failure"
**Describe the bug**
Projects with assimp dependencies do not build (without workarounds).

**Environment**
- OS: Linux
- Compiler: g++ 9.3

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install assimp
Post-installation instructions state:
[code]

2. Simple main.cpp with assimp dependency:
[code]

3: CMakeLists.txt:
[code]

4. cmake .
5. make .

**Expected behavior**
A successful bu

[2020-06-29 19:57] BillyONeal commented on #9955
@ras0219 @ras0219-msft I think your binary caching changes might have broken this?

We don't hate Centos7 or anything, that just isn't offered as one of the default Azure VMs so it is considerably more difficult for us to test. We should almost certainly fix this...

[2020-06-29 21:39] jagrme00 opened #12156 "PCL (Point Cloud Lib) pcl_visualization.h not existing"
Hello,

I want to use the visualization features of the point cloud lib but in the installation directory is the visualization-folder with its contents missing. How can I build the package with visualization using vcpkg? The other stuff is all working. I built pcl for x64-windows without any errors.

Please help me guys.

Thanks in advance and regards
Jan

=============== Misc. information

OS: Wi

[2020-06-29 21:42] zcream commented on #12148
Try it using PowerShell in Administrator mode. Most of my problems went away when I did that.

[2020-06-29 21:43] #11127 closed

[2020-06-29 23:33] #12152 closed

[2020-06-30 00:16] PhoebeHui commented on #9977
@dljjqy, please reopen this issue and attach failure log if it still be a problem for you.

[2020-06-30 00:16] #9977 closed

[2020-06-30 01:27] PhoebeHui commented on #12143
@alimai, could you please try the below solution and see if the issue still occur for you?

1. Remove all boost related components with following command and rebuild boost again.
[code]
2. Or you can get clean vcpkg source and try to build boost again.

When upgrade the boost to new revision, we need rebuild all related components and sync up all new files in new revision.

[2020-06-30 01:35] PhoebeHui commented on #12143
BTW, I double confirmed, boost-log:x64-windows built successfully for me.

Starting package 7/7: boost-log:x64-windows
Building package boost-log[core]:x64-windows...
-- Using cached E:/vcpkg/boost_173/vcpkg/downloads/boostorg-log-boost-1.73.0.tar.gz
-- Using source at E:/vcpkg/boost_173/vcpkg/buildtrees/boost-log/src/ost-1.73.0-3d57ed4a83
-- Building x64-windows-rel
-- Building x64-windows-rel do

[2020-06-30 01:55] NancyLi1013 commented on #12108
@o-mdr
Thanks a lot for your so detailed info about this issue.
The difference between us is `RET`. I used the commit id instead of tag name here.

Factually, both of them are fine. But we prefer to use commit id in `REF ` in order to keep it more stable.

[2020-06-30 02:35] Cheney-W commented on #5383
@unbored  About harfbuzz can't find in OpenCV, please use harfbuzz_FOUND instead of HARFBUZZ_FOUND in the CMakeLists.txt of freetype.

@gansm255  Since the version of opencv3 currently provided by vcpkg is 3.4.7, are you using vcpkg to install opencv?

[2020-06-30 02:55] JackBoosY commented on #12148
It seems that you can't reach the source website, please download [this](https://github.com/microsoft/vcpkg/files/4849168/glib-2.52.3.tar.xz.zip), unzip it and put it into _VCPKG_PATH/downloads_ then rebuild glib.

(Or you can use my [private chinese mirror branch](https://github.com/JackBoos/vcpkg/tree/mirror_zhCN))

Thanks.

[2020-06-30 05:39] JackBoosY commented on #12123
@psionic12 For this situation, we need to modify the installed header file to add this macro definition.
But now, I don't know where we should add.

[2020-06-30 05:56] aojianwu opened #12159 "[New Port Request] sentry-native"
Library name:sentry-native

Library description:The Sentry Native SDK is an error and crash reporting client for native applications, optimized for C and C++. Sentry allows to add tags, breadcrumbs and arbitrary custom context to enrich error reports.

Source repository URL:https://github.com/getsentry/sentry-native

Project homepage (if different from the source repository):https://sentry.io

Any

[2020-06-30 06:23] LilyWangL commented on #12102
Due to there are no functions/data in source of `armadillo` use `__declspec(dllexport)` to export `*.dll` file, `armadillo` is a static library.

[2020-06-30 06:31] Neumann-A commented on #12156
duplicate of #11462 and #11601

[2020-06-30 06:33] Neumann-A commented on #12156
If you want it fixed add a bit of upstream pressure to https://github.com/PointCloudLibrary/pcl/pull/4096

[2020-06-30 06:49] Neumann-A commented on #11103
List available in: https://github.com/microsoft/vcpkg/pull/12151#issuecomment-651581440

[2020-06-30 06:52] jagrme00 commented on #12156
Thanks Mr. Neumann. As far as I can see, currently there is no fix available. Is there a possibility to install an older version of pcl, vtk, etc. with vcpkg? I guess not... am I right?

[2020-06-30 07:12] Neumann-A commented on #12156
since this is a git repo you are always free to go back in time. vcpkg also has a a command to show the commit id of version upgrades.

[code]

So you just have to go back to commit `f2e9ef7f259843e116453bbabb7bcc2b13246f13` (but you maybe also have to rebuild vcpkg itself with this commit ID if there are some strange errors with vcpkg itself.)

[2020-06-30 07:20] jmkerloch commented on #4756
For the debug version I wasn't selecting the correct version in Visual Studio...
But for linux wxWidgets can be install but is not found with updated FindwxWidgets.cmake

[2020-06-30 08:37] petersteneteg commented on #10098
I would also like this to be added! @capnkenny did you already have an implementation?
are Vcpkg feature allowed to be mutually exclusive? i.e. one can not add use glad[core] and glad[compability] at the same time.

[2020-06-30 08:41] o-mdr commented on #12108
@NancyLi1013 LGTM

[2020-06-30 09:30] JackBoosY commented on #12154
Confirmed.

[2020-06-30 09:41] david-antiteum commented on #12150
Just to complete information... With protobuf not installed and using the latest version in master that solves #12152 I have managed to build the debug version but not the release version. The latest error is:

[code]

This is for Qt 5.12.8-7a7f415e08

I don't need anything for this version, I can wait for Qt 5.15

Thanks,

[2020-06-30 09:56] Wang-shuimu commented on #12148
PS F:\vcpkg> .\vcpkg install gtk:x86-windows
Computing installation plan...
The following packages will be built and installed:
    gtk[core]:x86-windows
  * harfbuzz[core,glib]:x86-windows
  * libepoxy[core]:x86-windows
  * pango[core]:x86-windows
  * ragel[core]:x86-windows
Additional packages (*) will be modified to complete this operation.
Starting package 1/5: libepoxy:x86-windows
Building pa

[2020-06-30 09:59] Wang-shuimu commented on #12148
谢谢你的帮助，我问题已经解决了，但是出来了新的问题，你看可以帮我解决一下吗
PS F:\vcpkg> .\vcpkg install gtk:x86-windows
Computing installation plan...
The following packages will be built and installed:
    gtk[core]:x86-windows
  * harfbuzz[core,glib]:x86-windows
  * libepoxy[core]:x86-windows
  * pango[core]:x86-windows
  * ragel[core]:x86-windows
Additional packages (*) will be modified to complete this operation.
Starting package

[2020-06-30 10:01] Wang-shuimu commented on #12148
[config-x86-windows-dbg-err.log](https://github.com/microsoft/vcpkg/files/4850993/config-x86-windows-dbg-err.log)
[config-x86-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/4850994/config-x86-windows-dbg-out.log)
这个是新问题的日志

[2020-06-30 11:37] 67-al-ahad commented on #11988
This seems to be clear for me right now. I am happy with the end result. Thank you I do appreciate your assitance.

In Future I can directly use **HEADERS DESTINATION include**

[2020-06-30 12:32] gix opened #12164 "MSBuild integration: "Using triplet" message has high importance"
**Describe the bug**
vcpkg's msbuild integration (in `vcpkg.targets`) displays a message `Using triplet "x64-windows" from "<vcpkg-root>"`. Since #4361 this message has importance high (instead of the previous normal) which results in a lot of unnecessary build output. This change seems like a forgotten debugging aid missed in the review.

**To Reproduce**
Steps to reproduce the behavior:
1. `vcpk

[2020-06-30 13:23] reza2082 commented on #7207
I had the same problem
My problem was solved by closing Kaspersky Anti-Virus

[2020-06-30 13:49] H-angel opened #12165 "Error: Building package harfbuzz:x86-windows failed with: BUILD_FAILED"
**Host Environment**
- OS: windows10
- Compiler: vx2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install gtk:x86-windows

**Failure logs**
PS F:\vcpkg> .\vcpkg install  harfbuzz:x86-windows
Computing installation plan...
The following packages will be built and installed:
    harfbuzz[core]:x86-windows
Starting package 1/1: harfbuzz:x86-windows
Building package harfbuzz[core]:x8

[2020-06-30 13:59] semyalodennis commented on #12099
Hello team,

Thanks for the reply.
I found out later that my installing path was too long coz other libraries
were failing to install in the same way like eigen 3. When I shortened the
path, it installed successfully.

Thank you.

On Sun, Jun 28, 2020, 17:16 NancyLi1013 <notifications@github.com> wrote:

[2020-06-30 14:04] Neumann-A opened #12166 "[ICU] buildtree needs to be delete before installing"
I have a common problem running VCPKG from the same folder on Windows and Linux.

The ICU build fails on Linux with some cryptic error if ICU was previously build on Windows.

deleting the ICU buildtree solves the issue in general.

As such the portfile either needs to delete the buildtree before extraction or a dummy patch must be added to have different source trees for ICU on the two different

[2020-06-30 14:13] Neumann-A commented on #12119
Found it https://github.com/microsoft/vcpkg/issues/10209#issuecomment-591367382

[2020-06-30 14:30] gix opened #12168 "vcpkg_find_acquire_program(NUGET) clashes with nuget export"
**Describe the bug**
The nuget version used by `vcpkg export --nuget` (currently 5.5.1) is different from the version used by `vcpkg_find_acquire_program(NUGET)` (currently 4.8.1), but both seem to look for `downloads/tools/nuget.exe` first. If a port downloads the old version first, export will try to verify against the hash of the newer version and fail.

**To Reproduce**
Steps to reproduce the

[2020-06-30 14:31] jagrme00 commented on #12156
Ok, now I have the visualization folder inside the installation directory of pcl. The integration with Visual Studio 2017 v141 is also working but I get the following errors during the build of my project:

Error (active)	E2512	the argument to a feature-test macro must be a simple identifier	PointCloudLibTest	C:\MySoftware\vcpkg_old\vcpkg\installed\x64-windows\include\vtkSetGet.h	927

Error (activ

[2020-06-30 14:47] Voskrese commented on #12168
[code]

delete `C:\dev\vcpkg\downloads\nuget.exe`

[2020-06-30 15:04] gix commented on #12168
It's placed there by `vcpkg_find_acquire_program`. Having to fiddle with the download cache between install and export is not really a nice option.

[2020-06-30 15:25] Neumann-A opened #12169 "[netCDF] Fix dependency on embree (ParaView CI error)"
@JackBoosY  The real culprit for the paraview CI error is the netCDF target.
[code]
So the following needs fixing:
- add embree as a feature to netCDF and fix the build-depends. Deactivate the search for embree otherwise.
- replace the direct library link with the embree maths target
- add the appropriate find_dependency call to netCDFConfig.cmake if build with the feature

[2020-06-30 15:52] Voskrese commented on #12168
sorry
https://github.com/microsoft/vcpkg/blob/67ab6130b64cce6701c5a95ca3b9bdc4d949cb8a/scripts/cmake/vcpkg_find_acquire_program.cmake#L224

edit

`https://dist.nuget.org/win-x86-commandline/v5.5.1/nuget.exe`

https://github.com/microsoft/vcpkg/blob/67ab6130b64cce6701c5a95ca3b9bdc4d949cb8a/scripts/cmake/vcpkg_find_acquire_program.cmake#L227

`22ea847d8017cd977664d0b13c889cfb13c89143212899a511be2173

[2020-06-30 18:21] afraidofdark opened #12171 "[New Port Request] apriltag"
Library name: apriltag

Library description: AprilTag is a visual fiducial system popular in robotics research. This repository contains the most recent version of AprilTag, AprilTag 3, which includes a faster (>2x) detector, improved detection rate on small tags, flexible tag layouts, and pose estimation. AprilTag consists of a small C library with minimal dependencies.

Source repository URL: ht

[2020-06-30 21:02] #12168 closed

[2020-06-30 21:03] ras0219 commented on #12168
Thank you for this issue! I believe I've fixed it with #12174 -- please let us know if you still have issues after pulling the latest!

[2020-06-30 21:33] Edhebi opened #12175 "Have a json schema for `vcpkg.json`"
Kind: feature request

It would be nice to have a json schema to describe `vcpkg.json`, both for automatic validation and IDE integration. I'm open to writing one, what would be an appropriate path/filename ?

[2020-06-30 22:00] #3537 closed

[2020-07-01 01:15] PhoebeHui commented on #7470
@ywj11407, boost currently upgrade to 1_73, please try lastest source and reopen this PR if it still be a problem for you.

[2020-07-01 01:15] #7470 closed

[2020-07-01 01:35] PhoebeHui commented on #5103
@cirvine-MSFT, boost build tool start to support to build with arm from 1_73, please try to get latest source and try again.

I have double confrimed, it built successfully for me, please reopen this issue if it still be a problem for you.

PS F:\VCPKG\boost_173\vcpkg> ./vcpkg install boost-locale:arm-windows
Computing installation plan...
The following packages will be built and installed:
    bo

[2020-07-01 01:35] #5103 closed

[2020-07-01 01:45] NancyLi1013 commented on #12099
Thanks for your update.
You are right. `eigen3 `has related with the path length.

You can see this info in ports/eigne3/portfile.cmake file.
[vcpkg_buildpath_length_warning(37)](https://github.com/microsoft/vcpkg/blob/master/ports/eigen3/portfile.cmake#L3)

I'm closing this issue for now since it has been solved.

[2020-07-01 01:45] #12099 closed

[2020-07-01 01:57] NancyLi1013 commented on #11988
Of course you can use it if  you have known about how to use it.

I'm closing this issue for now. Please open a new issue if you have any other issues when using vcpkg in the future.

[2020-07-01 01:57] #11988 closed

[2020-07-01 02:02] JackBoosY commented on #12165
Also unzip [this](https://github.com/microsoft/vcpkg/files/4855223/harfbuzz-2.6.6.tar.gz.zip) and put it into the same directory, them rebuild harfbuzz would be okay.

[2020-07-01 02:07] JonLiu1993 commented on #12115
After gtest releases the latest version, we will update the problem to the latest version

[2020-07-01 02:19] JackBoosY commented on #12148
[code]
Could you remove _VCPKG_PATH/buildtrees/libeopxy_  and try again?

Thanks.

[2020-07-01 02:23] H-angel commented on #12165
Thank for your help,this problem has been solved。

[2020-07-01 02:23] #12165 closed

[2020-07-01 02:26] H-angel commented on #12148
I tried your method, but I still can't
This is the result of my attempt，can you help me solve it，thanks
PS F:\vcpkg> .\vcpkg install gtk:x86-windows
Computing installation plan...
The following packages will be rebuilt:
  * harfbuzz[core,glib]:x86-windows
The following packages will be built and installed:
    gtk[core]:x86-windows
  * libepoxy[core]:x86-windows
  * pango[core]:x86-windows
Additio

[2020-07-01 04:04] SatishBoddu-MSFT opened #12180 "Having a problem with vckpg: installing the Azure IoT SDK for C"
**Describe the bug**
I am following the MS docs quickstart on creating an IoT Plug and Play device for Windows i.e [Quickstart: Use a device capability model to create an IoT Plug and Play Preview device (Windows)](https://docs.microsoft.com/en-us/azure/iot-pnp/quickstart-create-pnp-device-windows) and I'm having issues preparing the development environment.

When I get to installing the SDK with

[2020-07-01 04:05] SatishBoddu-MSFT commented on #12180
Hello @ericmitt , Could you please help us in this matter.

[2020-07-01 04:51] semyalodennis commented on #12099
Great.
Thanks NancyLi1013 .

[2020-07-01 06:18] LilyWangL commented on #12166
@ras0219-msft My machine has no conditions to reproduce this issue, could you help to take a look this issue?
Thanks.

[2020-07-01 06:20] chenlei4training opened #12181 "atk:x86-windows build failed"
**Host Environment**
- OS: Win 10
- Vcpkg version: 2020.02.04-nohash

**To Reproduce**
Steps to reproduce the behavior:
vcpkg install atk:x86-windows

**Failure logs**
1/35] C:\PROGRA~2\MICROS~1\2019\COMMUN~1\VC\Tools\MSVC\1426~1.288\bin\Hostx64\x86\cl.exe   -DATK_COMPILATION -DATK_LOCALEDIR=\"/dummy/share/locale\" -DDLL_EXPORT -DG_DISABLE_SINGLE_INCLUDES -DHAVE_CONFIG_H -Datk_EXPORTS -IC:\project

[2020-07-01 06:46] NancyLi1013 commented on #12041
I'm closing this issue for now since it needs to set path manually in the project.

[2020-07-01 06:46] #12041 closed

[2020-07-01 06:50] NancyLi1013 commented on #11990
@acdemiralp

Please let me know if you still have concerns about this issue.

[2020-07-01 07:03] LilyWangL commented on #12073
@CiaranWelsh Thanks for your reply. Could you please provide the code in file `/home/ciaran/vcpkg/buildtrees/libxml2/src/v2.9.9-d5fcf4dfb8/encoding.c`? Just need Line 2740 - Line 2753.

[2020-07-01 07:19] alimai commented on #12143
@PhoebeHui Thanks,
It works when we do follow your first suggestion,Remove all boost related components and rebuild them.
The most boost components are update from V1.72 to V1.73, and the "source_location.hpp" appear.
So the reason may be that, boost-log V1.73 need the file "source_location.hpp" which kept in another boost component, and it just exist in V1.73.

[2020-07-01 07:19] #12143 closed

[2020-07-01 08:08] ivanovmp commented on #11765
So how is it going? I still cannot install neither `x264:x86-windows` nor `x264:x64-windows`.

[2020-07-01 08:31] gdidomenico opened #12182 "[cpp-taskflow] update to <2.5>"
Library name: cpp-taskflow

New version number: 2.5

Other information that may be useful (release notes, etc...)
Is there a plan to upgrade taskflow from version 2.2 to version 2.5?

[2020-07-01 09:05] CiaranWelsh commented on #12073
sure, its in the attached,
[encoding.zip](https://github.com/microsoft/vcpkg/files/4856790/encoding.zip)

[2020-07-01 09:24] JackBoosY commented on #12148
Hmm...I..don't know why, but I can find this issue on the stackoverflow:
https://stackoverflow.com/questions/28165639/unicodedecodeerror-gbk-codec-cant-decode-byte-0x80-in-position-0-illegal-mult

other link:
https://blog.csdn.net/lqzdreamer/article/details/76549256
https://www.cnblogs.com/mengyu/p/6638975.html

This issue may be related to system settings or manually installed libraries/tools.

[2020-07-01 10:02] PhoebeHui commented on #12164
@gix, thanks for reporting this issue!

For me, I'm okay to change the 'High' to 'Normal' in https://github.com/microsoft/vcpkg/blob/master/scripts/buildsystems/msbuild/vcpkg.targets#L90, and it will give message when the output set to 'Normal' or higher, reference from [verbosity-settings](https://docs.microsoft.com/en-us/visualstudio/msbuild/obtaining-build-logs-with-msbuild?view=vs-2019#verbosi

[2020-07-01 10:03] acdemiralp commented on #11990
Mam, I don't know how to make it clearer. I build on Linux with MPI enabled, and it throws "I couldn't find the Fortran compiler". What part of that did you not understand, so that I can make it clearer?

[2020-07-01 10:13] NancyLi1013 commented on #12142
Hi @zcream
Thanks for posting this issue.
If you want to build with `glib`, you need to install like this:
`./vcpkg install harfbuzz[glib]`

Since the value of option `HB_HAVE_GLIB` has been controlled by feature `glib`.

BTW, currently glib doesn't support static build. I'm not sure if you can build successfully.

[2020-07-01 11:07] linquize opened #12186 "vcpkg manifest mode default-features not work"
vcpkg: c8ebb5aa936efc00a238a72c88b80d0223a2ba09
I want to perform `vcpkg install libarchive[core]` in manifest mode.
Note: `libarchive` has a list of `Default-Features`: `bzip2, libxml2, lz4, lzma, lzo, openssl, zstd`

Here is my `vcpkg.json`
[code]

But shows error
[code]

Expected result:
[code]

[2020-07-01 11:32] linquize opened #12187 "vcpkg manifest mode dependency with core feature"
In vcpkg manifest mode, the following

vcpkg.json
[code]

[code]

This is because `core` is a reserved word. I have to use `"default-features": false` instead of `"features": [ "core" ]`

Could you document this behavior or provide an improvement?

[2020-07-01 12:35] gansm255 commented on #5383
Hi,
Thanks for immediate help.
1. I am not using vcpkg. I download source 4.2.0 and build under cygwin and cross compile with compiler aarch64-unknown-linux-gnu-g++.
2. also i need to enable freetype.
3. in your yesterday comment, you have mentioned to use harfbuzz_FOUND instead of HARBUZZ_FOUND in the CMakeList.txt file under freetype folder. This change does not make any difference.
4. the issue

[2020-07-01 13:19] RubyNova commented on #10825
Hi there, so I stumbled across this issue after OpenAL began failing in my Windows CI pipelines for our game engine, NovelRT, on AzDO. This also seems to be relevant to #9628 .

I've attached the relevant build output log from AzDO to this post on the small offchance it helps (thanks @capnkenny for the save there).

@PhoebeHui , Since OpenAL is a mandatory critical component of our software, what

[2020-07-01 13:42] invy commented on #10950
@ASxa86 It could depend on your usecase. Locally I've reverted changeset either and it seems to work for my usecases.

[2020-07-01 13:48] kelteseth opened #12188 "[doctest] update to 2.4.0"
Library name: doctest

New version number: 2.4.0

Other information that may be useful (release notes, etc...)
https://github.com/onqtam/doctest/blob/master/CHANGELOG.md#240-2020-06-27

[2020-07-01 13:59] AlexandreGerault commented on #12098
It finally works well with GCC 10.1.0. The issue seem to come from the installation location. I now install vcpkg to my internal hard drive disk.

[2020-07-01 14:09] SufAfrican commented on #12092
Removed Cmake installation -> removed vcpkg -> cloned vcpkg -> did setup -> Redownloaded cmake from vcpkg -> installed SDL2 Curl = Success.

Seems it is an issue with Cmake, read some issues on gitlab which pointed to incorrect virtual directories and ninja.

[2020-07-01 14:47] H-angel commented on #12148
Thank for your help.

[2020-07-01 15:06] linquize opened #12190 "vcpkg manifest mode should check vcpkg.exe existence"
vcpkg.exe not exists

[code]

Actual message:
[code]

I suggest to tell that vcpkg not exist, and tell user to run bootstrap-vcpkg.bat first

[2020-07-01 16:16] danewalton opened #12193 "[cmocka] build failure"
**Host Environment**
- OS: MacOS
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
- `./vcpkg install cmocka`
- Use cmocka via the instructions.
- Makefiles on OSX are no longer resolving the full path to the lib.

[Link to comment here](https://github.com/microsoft/vcpkg/commit/1d8f0acc9c3085d18152a3f639077a28109196b6#r40299706)

**Failure logs**
``make[2]: *** No rule to ma

[2020-07-01 16:28] Neumann-A opened #12194 "Toolchain vcpkg.cmake convoluted"
Could the toolchain please be sperated into different cmake files which gets included by vcpkg.cmake?

The following seperation could be done
- code related to manifests
- code related to default triplet selection (if non was given)
- code finding paths.
- code overwriting CMake functions.

[2020-07-01 17:12] hajokirchhoff commented on #5540
I agree with other posters here that the current way of VcpkgAutoLink under MSBuild is very problematic. VcpkgAutoLink adds _each and every one lib_ in the vcpkg-triplet lib directory as a dependency to the linker. I just spent over two hours debugging a very hard to find runtime problem.

Our application uses python 2.7 and links against python27.lib. This lib is explicitly given in our Visual St

[2020-07-01 20:00] strega-nil commented on #12193
@danewalton I'm so sorry; can you try out the fix in #12196?

[2020-07-01 23:54] ras0219 commented on #9955
Sorry for the long delay on getting this fixed; I've opened #12201 which fixes the issue for now, however it does not introduce CentOS testing into our CI system.

I would really appreciate anyone on this thread experiencing this issue to chime in on the PR and confirm it solves the problem!

[2020-07-01 23:58] #12129 closed

[2020-07-02 02:15] acceleratxr opened #12204 "Boost 1.73 build failure (Ubuntu WSL)"
**Host Environment**
- OS: Ubuntu 20.04 WSL
- Compiler: Vcpkg version: 2020.02.04-unknownhash

**To Reproduce**
Steps to reproduce the behavior:
1. Install Ubuntu 20.04 WSL on Windows 10
2. Open Ubuntu terminal
3. Run these commands:
[code]

**Failure logs**
[code]
**Additional context**
I've tried deleting the buildtrees, downloads, and packages directories with no luck.

[2020-07-02 02:50] LilyWangL commented on #12181
Thanks for posting this issue. Closed as duplicate of #8870.

[2020-07-02 02:50] #12181 closed

[2020-07-02 04:05] #9955 closed

[2020-07-02 06:20] NancyLi1013 commented on #12180
Hi @SatishBoddu-MSFT
Thanks for posting this issue.
It seems that the feature name contains some invalid characters. You can update `use_prov_client` as `use-prov-client` in both CONTROL file and portfile.cmake. Then try to rebuild this.

[2020-07-02 07:19] Anusha-S14 commented on #10396
Hi All,

Currently I'm trying to integrate the Berkley DB code with our source by migrating from sqlite. We are making use of CMake for our Build and  we make use of CMakeList.txt for this. I know that for installing the Linux we make use of  the below command:
cd build_unix/
../dist/configure --enable-sql-compat --disable-shared --with-pic --prefix=$INST_DIR

make install

But I'm stuck with wind

[2020-07-02 07:21] Anusha-S14 opened #12207 "How do I create a CMakeList.txt file for installing BerkelyDB code on windows platform?"
[CMakeLists_db.txt](https://github.com/microsoft/vcpkg/files/4862611/CMakeLists_db.txt)
When asking a question please also include where you looked for an answer (so we can update the documentation if needed).
Hi All,

Currently I'm trying to integrate the Berkley DB code with our source by migrating from sqlite. We are making use of CMake for our Build and we make use of CMakeList.txt for this. I

[2020-07-02 07:30] petersteneteg opened #12208 "VCPKG_MANIFEST_MODE can not be set to TRUE after adding a vcpkg.json file"
If one has an existing cmake cache and adds a vcpkg.json manifest file and then set VCPKG_MANIFEST_MODE to true
the manifest file will not be found since the _VCPKG_MANIFEST_DIR internal cache variable was already set and will not be updated. Hence the manifest file it not found and an error is printed

the cache variable it set here
https://github.com/microsoft/vcpkg/blob/9ddf284eceacb2c1bb401ed8

[2020-07-02 07:36] SatishBoddu-MSFT commented on #12180
@NancyLi1013 Worked like a PRO!!!! Thanks a lot.
@ericmitt , How should we proceed further with the documentation?, do we have to include this workaround or will there be any changes from SDK side or VCPKG side ?

**Go to the Folder :** C:\Users\satish\vcpkg\ports\azure-iot-sdk-c
1) Edit the CONTROL file in any file editor,  **update**  _use_prov_client_ as **use-prov-client**

![image](https://us

[2020-07-02 07:50] Cheney-W commented on #5383
@gansm255  I think you could submit an issue on https://github.com/opencv/opencv_contrib/issues .

[2020-07-02 08:17] NancyLi1013 commented on #12180
@SatishBoddu-MSFT
I have submitted a PR to fix this.
Could you please help if it can work for you?

[2020-07-02 09:57] PhoebeHui commented on #12186
Confirmed, this issue fixed.

[2020-07-02 10:01] PhoebeHui commented on #12187
Confirmed this issue fixed now, thanks for reporting this issue!

[2020-07-02 10:01] #12187 closed

[2020-07-02 12:52] aiyou4love commented on #12025
Thanks for your update.

[2020-07-02 12:52] #12025 closed

[2020-07-02 12:56] linquize opened #12216 "vcpkg manifest mode not consider features of dependencies"
vcpkg: 9ddf284eceacb2c1bb401ed8ff57abf63195ac46I want to perform `vcpkg install libarchive[core]` in manifest mode.
Note: `libarchive` has a list of `Default-Features`: `bzip2, libxml2, lz4, lzma, lzo, openssl, zstd`
But I want just want to install `core` feature

Here is my `vcpkg.json`
[code]

But shows a lot more than libarchive core packages to install
[code]

Expected result:
[code]

[2020-07-02 14:27] yamcenutzer commented on #9955
confirmed ./bootstrap.sh works now on Centos7 with devtoolset-8.

[2020-07-02 15:28] Anusha-S14 commented on #12207
Any heads-up?

[2020-07-02 15:38] yamcenutzer opened #12220 "bootstrap-vcpkg.bat broken on vc2015 AGAIN!!!"
**Describe the bug**
bootstrap-vcpkg.bat fails on vc2015 again, it just got fixed a few days ago by getting rid of new language features, and now this...

**Environment**
- OS: Windows 10 vc2015 update 5

**To Reproduce**
Steps to reproduce the behavior:
1. .\bootstrap-vcpkg.bat
2. See logs
before trying to add this manifest thingy, things used to work.
The offending commit is:
[vcpkg manifest] Ma

[2020-07-02 16:18] yamcenutzer commented on #9184
wtf is manifest mode? and what problem does it solve?

[2020-07-02 16:56] IRebo opened #12221 "[boost-locale] after #10943 its not possible to build boost-locale and boost-regex with ICU anymore if community triple x64-windows-static-md is used"
I understand community triplet might not be fully supported but I think its worth reporting as this worked for a long time.

**Host Environment**
- OS: [Windows]
- Compiler: vs 2019 16.6.3

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg install boost-locale[icu] boost-regex[icu]  --triplet x64-windows-static-md --recurse`

**Failure logs**
Building package boost-locale[core,icu]:x64-wind

[2020-07-02 17:47] #12180 closed

[2020-07-02 18:09] diablodale opened #12222 "[vcpkg upgrade] CMake Error at scripts/ports.cmake:14 (message) Your vcpkg executable is outdated"
After running: git pull, vcpkg update, vcpkg upgrade, I received the error
[code]

Maybe 🤔 related to issue #11784

### Setup

* Microsoft Windows [Version 10.0.19041.329]
* Visual Studio Community 16.6.3
* Vcpkg package management program version 2020.02.04-nohash-external

### Repro

Somewhat difficult as the previous state has been lost, so here is what I can see via copy/paste from my cmd prom

[2020-07-02 18:21] #12193 closed

[2020-07-02 18:35] diablodale commented on #12222
Running `bootstrap-vcpkg -disableMetrics` results in a `vcpkg version` which is the same version but has different ending modifiers. This re-bootstrap reports

[code]

while the version reported in the OP above is
[code]

vcpkg install for first package that failed to rebuild `boost-build` for each the four triplets worked with no visible errors.

[code]

vcpkg install of the 2nd library originall

[2020-07-02 18:59] Checkam opened #12225 "libepoxy build failure"
**Host Environment**
- OS: Windows

**To Reproduce**
`./vcpkg install gtk:x64-windows

**Failure logs**
Console :
[code]
config-x64-windows-dbg-err :
[code]

**Additional context**
i try this :
- https://github.com/Microsoft/vcpkg/issues/1631

[2020-07-02 20:08] Neumann-A opened #12226 "[MANIFEST] Does not work with port-overlay feature."
Since vcpkg always throws an error if a port from an overlay is installed and the overlay is not fed into the vcpkg call.
Furthermore ports from an overlay can also not currently be installed since this is missing from the toolchain.

https://github.com/microsoft/vcpkg/blob/8133cef324060667d59949549eb4cdcf60b6699b/scripts/buildsystems/vcpkg.cmake#L278-L290

I would also suggest to move all code re

[2020-07-02 20:24] Neumann-A opened #12228 "Check version in vcpkg_find_acquire_program of system tools"
If vcpkg_find_acquire_program is acquiring program it should check the version of the obtained tool if the tool is provided by the system.
If the version on the system is to low it should give a warning and fallback to the version provided by vcpkg.

[2020-07-02 21:44] smartnet-club commented on #4937
If you have modern versions of ceres, glog and gflags, you should apply dif:
[contrib.diff.txt](https://github.com/microsoft/vcpkg/files/4866781/contrib.diff.txt)

[2020-07-02 22:07] TommyRabes opened #12230 "Error: Building package openssl-windows:x64-windows-static failed with: BUILD_FAILED"
**Host Environment**
- OS: Windows 10
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
- Run the rustup-init.exe installation file
Then run on cmd:
rustup update nightly
rustup target add wasm32-unknown-unknown --toolchain nightly

- Install LLVM and finally install OpenSSL with vcpkg:
mkdir D:\Tools
cd D:\Tools
git clone https://github.com/Microsoft/vcpkg.git
cd vcpkg
.\boo

[2020-07-02 22:21] joa-quim opened #12231 "[pcre] build failure"
[code]

[code]

[2020-07-02 23:27] timautry opened #12234 "[vcpkg] upgrade --no-dry-run - Should the change in the new Port-Version field in the port's CONTROL file cause removal/rebuild of port and its features?"
`.\vcpkg upgrade --no-dry-run`

- _Should the change in the new Port-Version field in the port's CONTROL file cause removal/rebuild of port and its features?_
- Referenced: https://vcpkg.readthedocs.io/en/latest/maintainers/control-files/ paragraph **Version** does not mention specifically the new Port-Version field.
- I noticed in commit https://github.com/microsoft/vcpkg/commit/ef91134964e8ddec7

[2020-07-03 00:39] li-wu opened #12235 "gRPC usage info is not right"
**Describe the bug**
After installing `gRPC` via `./vcpkg install grpc`, it prints the usage info:
[code]
The version of grpc is `1.29.1`. When using it in project like this:
[code]
Cmake reports the target `gRPC::grpc++_alts` can not be found. But removing `gRPC::grpc++_alts` works.

**Environment**
- OS: MacOS 10.15.5
- Compiler: Clang 8.0.1

**To Reproduce**
Steps to reproduce the behavior:
1.

[2020-07-03 01:58] PhoebeHui commented on #12216
This is not vcpkg manifest mode issue, actullly it's an known issue https://github.com/microsoft/vcpkg/issues/11602.

[2020-07-03 02:01] PhoebeHui commented on #12216
Duplicated to https://github.com/microsoft/vcpkg/issues/11602

[2020-07-03 02:01] #12216 closed

[2020-07-03 02:10] alimai opened #12236 "If the open3d will be added recently?"
It is a very goog lib.
The lib address: https://github.com/intel-isl/Open3D

[2020-07-03 02:17] ghost opened #12237 "[gmp:x64-windows] build failure"
**Host Environment**
- OS: [Microsoft Windows [Version 10.0.19041.331]]
- Compiler: Visual Studio 2019 Version: 16.6.3  VS Tools Version: 14.26.28801

**To Reproduce**
Steps to reproduce the behavior:
`SYSTEM@ANDROMEDA 07/02/2020 21:20:49 D:\Git\vs2019.prod`
`->vcpkg install gmp[core]:x64-windows nettle[core]:x64-windows`

Additionally, attach any relevant sections from the log files above.

**Fai

[2020-07-03 02:17] alimai commented on #12236
Oh, It seems have already in progress.

[2020-07-03 02:17] #12236 closed

[2020-07-03 02:28] timautry opened #12238 "[LLGL] port installs header (include) files in <vcpkg-root>\installed\<triplet>\include\include\LLGL"
**Describe the bug**
LLGL port installs header (include) files in `<vcpkg-root>\installed\<triplet>\include\include\LLGL`

**Environment**
- OS: [Microsoft Windows [Version 10.0.19041.331]]
- Compiler: Visual Studio 2019 Version: 16.6.3 VS Tools Version: 14.26.28801

**To Reproduce**
Steps to reproduce the behavior:
1. ` ./vcpkg install llgl[core,direct3d11,opengl]:x64-windows`
2. No error but ...

[2020-07-03 02:44] JackBoosY commented on #12220
Confirmed, @ras0219  @ras0219-msft could you please take a look?

Thanks.

[2020-07-03 02:45] ghost opened #12240 "[nettle:x64-windows] build failure"
**Host Environment**
- OS: [Microsoft Windows [Version 10.0.19041.331]]
- Compiler:
   - Visual Studio 2017 Version: 15.9.24  VS Tools Version: 14.16.27023
   - Visual Studio 2019 Version: 16.6.3 VS Tools Version: 14.26.28801

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg install nettle[core]:x64-windows`

**Failure logs**
- Cut and past the appropriate build messages from the console o

[2020-07-03 02:52] JackBoosY commented on #12240
I know this bug, @Neumann-A could you please take a look?

Thanks.

[2020-07-03 02:59] nanoric opened #12241 "Docker: gtest:x64-linux build failure for newer gcc version on Centos7.8.2003."
**Host Environment**
- OS: Docker Linux Centos7.8.2003
- Compiler: gcc (GCC) 11.0.0 20200702 (experimental)

**To Reproduce**
Steps to reproduce the behavior:
Dockerfile:
`./vcpkg install gtest`

**Failure logs**
[code]
[code]

**Additional context**
My Dockerfile:
[code]

[2020-07-03 03:19] #12164 closed

[2020-07-03 05:17] Neumann-A commented on #12240
Probably the segfault in yasm we don't know why it occours. Updating VS somehow resolves the problem.

[2020-07-03 05:41] JackBoosY commented on #12092
@SufAfrican Yes, we need to wait for cmake to update.

[2020-07-03 06:00] NancyLi1013 commented on #12094
`Glib `cannot be built as a static lib in vcpkg. Please refer to the comments here https://github.com/microsoft/vcpkg/pull/9031#discussion_r349390328.

[2020-07-03 06:06] JackBoosY commented on #12207
Maybe you should ask this question on [Slack](https://cpplang.now.sh/).

[2020-07-03 06:12] Anusha-S14 commented on #12207
Ok

[2020-07-03 06:12] #12207 closed

[2020-07-03 06:15] jasjuang opened #12243 "Exiv2 update to 0.27.3"
Library name: Exiv2

New version number: v0.27.3

[2020-07-03 06:16] NancyLi1013 commented on #12235
Hi @li-wu
Thanks for posting this issue.
The target `gRPC::grpc++_alts` is required by the projects that depends on `grpc++_alts`.
If your project doesn't need it, you can remove it. But we cannot remove it from the usage of `grpc`.

Factually, when we use the ports that has many targets can be linked, we can only choose some of those that we need to link.

So the usage provided is right.

[2020-07-03 06:21] NancyLi1013 commented on #12116
If you used CMake project, you need to set `CMAKE_TOOLCHAIN_FILE`. You can refer to [this ](https://github.com/microsoft/vcpkg/blob/master/docs/examples/installing-and-using-packages.md#step-2-use)to learn more about the usage of a port.

[2020-07-03 06:37] NancyLi1013 commented on #12030
In my opinion, this is out range of vcpkg. `modinfo uvcvideo | grep "version:"` should be an optional usage of `realsense2`. We just  need to keep the port work normally in our project without any bugs. But for the case you met, something needs to be done manually, which is reasonable.

So there is no need to add the instructions in vcpkg.

[2020-07-03 06:58] Neumann-A commented on #11976
@JackBoosY: I have the same problem. nvcc is not getting found although I can open a cmd prompt and do nvcc without a problem. About the paths: For some reason i have `CUDA_PATH_V10_2` but no `CUDA_PATH` variable and `CUDA_PATH_V10_2` is not accesible from within VCPKG.

[2020-07-03 07:03] Neumann-A commented on #11976
https://github.com/microsoft/vcpkg/blob/3d2a7ca33e9997051ea221c30ccd4835989879ad/toolsrc/src/vcpkg/base/system.process.cpp#L305-L315

needs updating and also

https://github.com/microsoft/vcpkg/blob/3d2a7ca33e9997051ea221c30ccd4835989879ad/ports/cuda/portfile.cmake#L9-L15

[2020-07-03 07:06] LilyWangL commented on #12237
Thanks for posting this issue. This error may be a CMake bug, I can't reproduce it locally. I clone new VCPKG and install `gmp[core]:x64-windows` successfully.
![image](https://user-images.githubusercontent.com/47812810/86441426-c80ae280-bd3e-11ea-9ce0-d555cf50006e.png)

[2020-07-03 07:18] felix-h commented on #11765
I am hitting this as well. Happy to help testing fixes.

[2020-07-03 07:27] Neumann-A commented on #11765
waiting for #11550 to be merged before touching #11836 again

[2020-07-03 07:50] Neumann-A commented on #12240
I am also unable to reproduce the error with Visual Studio 2019 Version: 16.6.3 locally

[2020-07-03 08:06] cenit opened #12245 "[ffmpeg] x64-osx build failure"
**Host Environment**
- OS: macOS 10.15.5
- Compiler: Apple clang version 11.0.3 (clang-1103.0.32.62)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install ffmpeg`

**Failure logs**
[code]

**Additional context**
I had to rebuild ffmpeg during a vcpkg update. I cannot rebuilt it anymore, due to this error.

For completeness, Yasm is installed through brew

[code]

edit: I tried also u

[2020-07-03 08:21] JackBoosY commented on #12245
[code]
Have you checked if there is insufficient memory?

[2020-07-03 08:40] JackBoosY commented on #12245
And I can't repro it on my machine now...

[2020-07-03 08:54] cenit commented on #12245
I am using my MacBook Pro with 16 GB of RAM. Also, I built ffmpeg so many times in the past on this laptop, I was really surprised to see it failing now

[2020-07-03 08:54] cenit commented on #12245
@JackBoosY Do you have the same compiler version as mine?

[2020-07-03 09:21] Voskrese commented on #12225
open `CMD.EXE`

`chcp`

?

[2020-07-03 09:26] DimRochette opened #12248 "[nanodbc] build failure x64-windows"
**Host Environment**
- OS: windows
- Compiler: 16.6.3

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install nanodbc --triplet x64-windows`

**Failure logs**
Error: Building package unixodbc:x64-windows failed with: BUILD_FAILED

**Additional context**
failed on tag vcpkg tag 2020.06 and master 3d2a7ca33e9997051ea221c30ccd4835989879ad

**Workaround**
removing the depends make compile

[2020-07-03 09:36] JackBoosY commented on #12245
@cenit
[code]

[2020-07-03 09:48] JackBoosY commented on #12240
@Neumann-A Yes, we can't repro this issue with Visual Studio 2019, and this PR is the same as some PR I encountered.

[2020-07-03 11:10] timautry commented on #12237
@LilyWangL Yes it will install fine if port LLGL is not installed, but look in the `<vcpkg-root>\installed\<triplet>\include` folder. It will have another include folder within it containing the 2 gmp header files. The second embedded **include** folder should either be named gmp or the header files should be up one level, not in an include\include folder.
Also try installing port LLGL port first

[2020-07-03 11:47] Voskrese commented on #12240
open `...\x64-windows\share\vs-yasm\yasm.targets`

[code]

`"$(YasmPath)"yasm.exe` <<--

`''"></YasmPath>` <<-- null

edit to
`
<YasmPath Condition= "'$(YASMPATH)' == ''">$(VCPKG_ROOT)/bla/bla/yasm</YasmPath>`

[2020-07-03 12:04] Voskrese commented on #12240
**other error**

`            Creating library E:\tools\vcpkg\buildtrees\nettle\x64-windows-rel\eb52c3da41-e03f56976f\SMP\..\msvc\\lib\x64\hogweed.lib and object E:\tools\vcpkg\buildtrees\nettle\x64-windows-rel\eb52c3da41-e03f56976f\SMP\..\msvc\\lib\x64\hogweed.exp`

[code]

`E:\tools\vcpkg\buildtrees\nettle\x64-windows-rel\eb52c3da41-e03f56976f\SMP\..\msvc\\bin\x64\hogweed.dll : fatal error LNK11

[2020-07-03 12:26] RT222 opened #12250 "Imgui bindings feature design"
Continue the discussion started in #11919.

These bindings are very well maintained, feature complete and the author recommend to use them by default except if a custom implementation is really needed : https://github.com/ocornut/imgui#integration

I think it's a good thing they are available as features for this port. What I dislike is the inability to pick only the required ones, it's all or not

[2020-07-03 13:40] Voskrese commented on #12240
[code]

all ok

[2020-07-03 13:59] Voskrese commented on #12240
@Neumann-A

have a question for *. pc

[gmp.txt](https://github.com/microsoft/vcpkg/files/4870062/gmp.txt)
[gmpxx.txt](https://github.com/microsoft/vcpkg/files/4870063/gmpxx.txt)
[libhogweed.txt](https://github.com/microsoft/vcpkg/files/4870071/libhogweed.txt)
[nettle.txt](https://github.com/microsoft/vcpkg/files/4870072/nettle.txt)

example 1. libhogweed.pc -> 2. nettle.pc
[code]

1. double space

[2020-07-03 14:46] cenit commented on #12245
Updating to gcc 10.1 just released on homebrew magically fixed it.
I don't know what happened, glad that I can continue using my mac 🤣

[2020-07-03 14:46] #12245 closed

[2020-07-03 15:18] juandent opened #12251 "how do I change the branch I have active for a package?"
When asking a question please also include where you looked for an answer (so we can update the documentation if needed).
Just looked at the options in vcpckg.exe... I have no idea how to proceed, and I am in a hurry - please help

[2020-07-03 16:10] andrewhodel commented on #12030
I am aware of that, but you also must consider that the modified kernel
driver is also a package, it is a dkms package in Debian based linux from
the intel packaged sets.

Why wouldn’t you at least add information to the package description saying
that you will need to manually build the drivers in order to use the
packages you are installing?

You can’t just leave people completely in the dark, I

[2020-07-03 16:24] juandent commented on #12251
for instance, I have installed sqlite_orm via vcpkg. I suspect the master branch has been installed. Now I want to install the dev branch, how do I do that?

[2020-07-03 16:58] timautry commented on #12240
@Voskrese I tried making changes to the `<vcpkg-root>\installed\x64-windows\shared\vs-yasm\yasm.props`
1. Deleted "$(YasmPath)"yasm.exe -> yasm.exe failed (yasm.exe is in path a link to yasm.exe in VSTools folder)
2. Changed to include absolute path "$(YasmPath)"yasm.exe -> D:\Git\vcpkg.downloads\tools\yasm\1.3.0.6\yasm.exe
3. set YASMPATH=D:\Git\vcpkg.downloads\tools\yasm\1.3.0.6\ and include it

[2020-07-03 17:05] timautry commented on #12237
@LilyWangL cc: @JackBoosY - I finally was able to get gmp to install by changing file portfile.cmake from:
https://github.com/microsoft/vcpkg/blob/master/ports/gmp/portfile.cmake#L61
file(RENAME "${CURRENT_BUILDTREES_DIR}/${TARGET_TRIPLET}-rel/${SOURCE_PATH_SUFFIX}/msvc/include" "${CURRENT_PACKAGES_DIR}/include")
to:
file(INSTALL "${CURRENT_BUILDTREES_DIR}/${TARGET_TRIPLET}-rel/${SOURCE_PATH_SUFFI

[2020-07-03 17:16] Voskrese commented on #12240
test?

`<YasmPath Condition= "'$(YASMPATH)' == ''">D:\Git\vcpkg.downloads\tools\yasm\1.3.0.6</YasmPath>`

[2020-07-03 17:20] SatishBoddu-MSFT commented on #12180
@NancyLi1013 I did a fresh pull from github, used the updated command , it is Now Working!!!

![image](https://user-images.githubusercontent.com/62923178/86488640-89f9c880-bd16-11ea-9ef0-2d0cae4454d3.png)

I have to update the documentation to reflect the updated command, below is the command which needs to be updated.

![image](https://user-images.githubusercontent.com/62923178/86488612-66cf1900-

[2020-07-03 17:35] timautry commented on #12240
Ok made change from:
` <PropertyGroup>`
`    <YasmPath Condition= "'$(YASMPATH)' == ''"></YasmPath>`
`  </PropertyGroup>`
to:
` <PropertyGroup>`
`      <YasmPath Condition= "'$(YASMPATH)' == ''">D:\Git\vcpkg.downloads\tools\yasm\1.3.0.6\</YasmPath>`
`  </PropertyGroup>`

Now it states no input file :(
`       _YASM:`
`         x86_64\aes-decrypt-internal-2-fat.s`
`         cmd.exe /D /C "S:\TEMP\v

[2020-07-03 18:43] Checkam commented on #12225
Yes i try !
So i just remove vcpkg and reinstall vcpkg and now it's ok.
Thanks i close issue.

[2020-07-03 18:43] #12225 closed

[2020-07-03 18:56] timautry commented on #12251
vcpkg normally only has a master package. Every once in a while there may be other branches where microsoft employees are testing something, but normally there are no other branches.
If you wish to experiment or test, you can do a `pull request` aka PR and make a fork of vcpkg to your github account - then you can change away, create new branches etc.
If your testing fixes something, adds a new po

[2020-07-03 18:59] juandent commented on #12251
ok.. but how can I recreate the binaries after I change the source files? there is no VC solution or projects...

[2020-07-03 19:00] juandent commented on #12251
how can I convert a CMakeList project to a solution in VC?

[2020-07-03 19:11] timautry commented on #12251
The scope of your question would be to long to explain here. I would suggest reading the docs to start learning the how the package operates and how you wish to use it in your development processes -
https://vcpkg.readthedocs.io/en/latest/ --or--
https://github.com/microsoft/vcpkg/blob/master/docs/index.md
You may wish to read about the workings of git https://git-scm.com/doc -and- cmake https://c

[2020-07-03 19:16] timautry commented on #12250
I do not think a long list of features would be an issue - look at the aws-sdk-cpp or magnum ports.

It would just be if one wants to put the time and effort into breaking them into separate features, separating the dependencies for each feature and then maintaining it with fixes for each platform/OS combination or after there is a release of each new feature and/or feature dependencies.

If this

[2020-07-03 19:41] timautry commented on #12248
Unfortunately it appears unixodbc does is not set up to support windows in vcpkg.

[2020-07-03 19:49] timautry commented on #10920
Unfortunately this issue also exists in OpenSUSE 15.2 installed on WSL2.
![image](https://user-images.githubusercontent.com/16106113/86494725-5b92e200-bd44-11ea-83e1-72debfbcf788.png)

No lib just lib64 on OpenSUSE 15.2 x64 on WSL2.
![image](https://user-images.githubusercontent.com/16106113/86494819-bcbab580-bd44-11ea-8b6e-0f89677cffaa.png)

[2020-07-03 19:59] Ri0n commented on #1681
Just took a look at the roadmap. I hope wrt versions they won't go Conan way which is very restrictive. For example you can't depend on openssl>=1.1 because openssl versions contain a letter after numbers and it breaks everything.

I prefer Gentoo Linux approach. They are way more tolerant to the all kinds of versions and allow to easily overwrite them

[2020-07-03 20:22] aggieNick02 commented on #12062
Just checking in on this issue as it seems pretty critical. Any ETA? Is the current plan to rollback the problematic commit or to remedy it?

[2020-07-03 20:33] aggieNick02 commented on #12220
Not trying to be negative but constructive - I really appreciate and like vcpkg.

Having issues like this one and https://github.com/microsoft/vcpkg/issues/12062 where core functionality breaks make it into the main vcpkg repo are worrying. Users use vcpkg by cloning the main repo and then doing their work. I'm super excited to use vcpkg and have moved many of my dependencies to build via it inste

[2020-07-03 20:38] ras0219 commented on #12062
I'm looking into this now.

[2020-07-03 20:46] ras0219 commented on #12220
Thank you for the constructive feedback, and glad you're getting so much use out of vcpkg! We're aware of the recent instabilities and are actively working to improve the situation.

For this issue (#12220), We're investigating distributing prebuilt binaries for vcpkg, which will enable us to decouple the awesome new C++ features we want to use in the tool from the user environments we want to sup

[2020-07-03 20:52] Neumann-A commented on #12240
@Voskrese

Ah thats an error in the portfile. `set(LIBS -lnettle -lgmp)` should probably be `set(LIBS "-lnettle -lgmp")
`

doesn't matter. I also do not patch anything of this stuff (just configure it.)

[2020-07-03 21:02] timautry commented on #10920
PR #12255 should fix this issue for mpg123 port only.

[2020-07-03 21:23] aggieNick02 commented on #12220
Awesome. Thanks for responding so quickly.  Prebuilt binaries sound like a promising solution for this bug.

For the end-to-end testing, I've never done Azure pipeline stuff. Am I correct in assuming that I basically can assume I've got a dev-like environment with different VS versions installed at my disposal and could then try building a simple project that depends on something like x64-windows-

[2020-07-03 22:20] eklipse2k8 opened #12258 "Add arm64-osx triplet"
Didn't see this in the issue list, but now that apple's ADP are out in the wild, we should be building for arm64-osx.

[2020-07-03 23:27] DimRochette commented on #12248
Nanodbc didn't depends on unixodbc on windows platform, because windows have native support for odbc.
Just removing the unixodbc dependency make nanodbc compile under windows.
In previous vcpkg tags like 2020.04 we used to compile nanodbc on ubuntu and windows without issues.

[2020-07-04 00:08] timautry commented on #12248
@DimRochette
cc: @JackBoosY @PhoebeHui

Looks like unixodbc was made a requirement for linux #11613 based on issues with linux builds, but the change inadvertently broke the windows build.

I changed the CONTROL file;
- Line Build-Depends: unixodbc
- to Build-Depends: unixodbc (!windows)

1. I tested the change to the CONTROL file on Windows (item 2) and Linux (item 3) and port installed sucessful

[2020-07-04 00:41] reillydonovan opened #12260 "[ffmpeg: x86-windows] build failure"
**Host Environment**
- OS: Windows 10 Pro 10.0.19041 Build 19041
- Compiler: Visual Studio 2019 16.6.3

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install ffmpeg:x86-windows`

**Failure logs**
-Error: Building package ffmpeg:x86-windows failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `.\vcpkg update`, then
submit an issue at https://github.com/Microso

[2020-07-04 00:45] li-wu commented on #12235
@NancyLi1013 Thank you for the detail information.

[2020-07-04 00:45] #12235 closed

[2020-07-04 02:40] iHuahua commented on #8850
亲，我自己改gn脚本把chromium base部分提取出来了，但是我不知道怎么接到cmake里

[2020-07-04 02:48] iHuahua commented on #8850
@JackBoosY sorry，这么久才来回复。我自己改脚本和依赖通过python把chromium base部分提取出来了，但是我不知道怎么接到vcpkg里，需要的话我可以我改的脚本共享给你。目前是通过删除deps/.gn等方式减少下载内容数据，已经调通了windows/MacOS/linux/android/iOS，脚本支持3个桌面平台，安卓和iOS是另外单写的两个脚本，只是发现里面还指定libcxx，这个需要重写cmake的时候注意，不知道是否是由于内存优化模块导致的强制依赖

[2020-07-04 03:14] babyaaaaaa opened #12261 "[New Port Request] libsigc++ 3.03"
Library name:
libsigc++ version3.03 (if current version newer than it, please use the newest verson)

Library description:
libsigc++ implements a typesafe callback system for standard C++. It allows you to define signals and to connect those signals to any callback function, either global or a member function, regardless of whether it is static or virtual.

Source repository URL:
https://github.co

[2020-07-04 06:22] c72578 commented on #12260
Please checkout a current version of vcpkg and try again.
The version `2019.09.12-nohash` is not up to date.

The log files can be found here:
`vcpkg/buildtrees/ffmpeg/`

[2020-07-04 06:39] psionic12 opened #12262 "[llvm] llvm and clang do not add themselves into the include path"
If there are only llvm and clang needed in a project's cmakelist:

[code]

then the headers will not in the include path, the result is that "xxx.h" does not exist errors happens.
Currently I have to add some packages which have nothing to do with the project just to make the include path visible to the project.

I tried both Windows and Linux and the error both happens.

An example for you to rep

[2020-07-04 07:39] Sibras commented on #12240
FYI The 1.3.0 release of YASM has several bugs that cause segfaults and memory leaks when using the gas parser and COFF outputs. This is what is used by nettle and some other ports. So you may want to update the yasm port to instead pull in yasm master instead of the old 1.3.0 tag. This will fix some known issues, as to whether it fixes this issue i dont know.

[2020-07-04 10:21] Voskrese commented on #12240
@LilyWangL
https://github.com/microsoft/vcpkg/tree/master/ports/yasm

update + install tools ?

[2020-07-04 13:41] traversaro commented on #11103
This has been fixed for `ffmpeg` in https://github.com/microsoft/vcpkg/pull/11273, as it was necessary to fix a CI failure of the added port.

[2020-07-04 15:09] yurybura commented on #12262
Dear @psionic12 could you provide CMake command line?
Have you defined these variables?:
`-DCMAKE_TOOLCHAIN_FILE=%build_dir%\vcpkg\scripts\buildsystems\vcpkg.cmake`
`-DVCPKG_TARGET_TRIPLET=%triplet%` ?

Thank you.

[2020-07-04 15:11] Voskrese commented on #12240
@Neumann-A

yes, this corrected the situation
however, I don't know if the separator ; will be the cause of the error in the library search

[2020-07-04 15:50] psionic12 commented on #12262
my CMake command line:
`-G Ninja -DCMAKE_TOOLCHAIN_FILE="C:\vcpkg\scripts\buildsystems\vcpkg.cmake" -DCMAKE_CXX_FLAGS+=/EHsc`
I set the triplet in the environment variable (on Window, since Linux is use 64 as default):
`VCPKG_DEFAULT_TRIPLET x64-windows`

[2020-07-04 16:21] babyaaaaaa commented on #11347
I use win10 and Vcpkg version: 2020.02.04

[2020-07-04 16:22] babyaaaaaa commented on #11347
Computing installation plan...
The following packages will be built and installed:
    easyhook[core]:x86-windows
Starting package 1/1: easyhook:x86-windows
Building package easyhook[core]:x86-windows...
.Net framework 4.0 is required, please install it before install easyhook.
-- Using cached D:/work/windows_project/vcpkg-master/downloads/EasyHook-EasyHook-v2.7.6789.0.tar.gz
-- Using source at D:

[2020-07-04 16:49] past-due commented on #12258
That's a good first step. 👍

I'm wondering what the blockers are on supporting universal (multi-arch) builds for macOS in vcpkg?
Are there ports that assume only a single architecture?

[2020-07-04 19:16] eklipse2k8 commented on #12258
I think that would be smart, cmake can handle both and compiles both.

It would most likely break some ports though as some of them are not ready for ARM64.

Maybe the answer would be to support "arm64-osx", "x64-osx", "universal-osx"

Given that Xcode now creates true universal applications, both ios and mac in the same project, universal is a loaded term here.

__universal-apple:__
1. x64-osx
2.

[2020-07-04 20:43] trollixx commented on #7366
Looks like the same issue as #2343 I reported a while back. DLLs are not deployed because of dynamic loading.

[2020-07-04 21:39] timautry commented on #12240
@Voskrese
cc: @JackBoosY @LilyWangL @Neumann-A @Sibras
Ok - I finally got nettle installed - here is what I did:

1. Created a new CONTROL and portfile.cmake for yasm
- CONTROL file change was replacing the version 1.3.0 with the lastest commit date at github.com/yasm 2020-05-04
- portfile.cmake changed the REF to latest commit id and modified the SHA512 to match.
`vcpkg_from_github(`
`    OUT_SOU

[2020-07-04 22:05] zd1176630227 opened #12266 "mlpack:x64-windows"
.\vcpkg.exe install mlpack:x64-windows

-- Downloading https://raw.githubusercontent.com/boostorg/boost/boost-1.73.0/LICENSE_1_0.txt...
-- Downloading https://raw.githubusercontent.com/boostorg/boost/boost-1.73.0/LICENSE_1_0.txt... Failed. Status: 6;"Couldn't resolve host name"
CMake Error at scripts/cmake/vcpkg_download_distfile.cmake:175 (message):

      Failed to download file.

  Package: boo

[2020-07-05 02:44] tikegami-mw opened #12267 "[sentencepiece] build failure"
**Host Environment**
- OS: Windows 10 Home 1903 Build 18362.900
- Compiler: Microsoft Visual C++ 2019   00435-60000-00000-AA459

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install sentencepiece`

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
    sentencepiece[core]:x86-windows
Starting package 1/1: sentencepiece:x86-windows
Buil

[2020-07-05 02:50] #6219 closed

[2020-07-05 04:16] artzers opened #12268 "[vtk[qt]] build failure"
**Host Environment**
- OS: [Windows10 ]
- Compiler: visual studio 2017 community

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install vtk[qt]:x64-windows`

**Failure logs**
[code]
**Additional context**
The information in package-build-x64-windows-dbg-err.log:
[code]

[2020-07-05 05:02] c72578 commented on #12266
This looks like a temporary download/DNS issue, which occurred during building of the required `boost-compatibility` package.
Can you access the file, when clicking on:
https://raw.githubusercontent.com/boostorg/boost/boost-1.73.0/LICENSE_1_0.txt
If OK, retry
`.\vcpkg.exe install mlpack:x64-windows`

[2020-07-05 06:28] artzers opened #12269 "[vtk[qt]:linux/qt5-x11extras] build failure"
**Host Environment**
- OS: [ubuntu 16]
- Compiler: gcc/g++ 8.4

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install vtk[qt]:x64-linux` or `./vcpkg install qt5-x11extras:x64-linux`

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
    qt5-x11extras[core]:x64-linux
Starting package 1/1: qt5-x11extras:x64-linux
Building package qt5-x11

[2020-07-05 06:47] artzers opened #12270 "[report]Command "vcpkg x-history [package]" cannot execute."
**Describe the bug**
The command "vcpkg x-history [package]" cannot execute.

**Environment**
- OS: [Windows 10/ ubuntu 16]
- Compiler: VS 2017, gcc/g++ 8.4

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg x-history [any package]
2. See error

**Expected behavior**
Shows the full history of CONTROL version of a port, including the vcpkg commit hash, CONTROL version, and date of vcpkg

[2020-07-05 07:51] Voskrese commented on #12240
@Neumann-A

tested in
http://www.tortall.net/projects/yasm/releases/yasm-1.3.0-win64.exe
http://www.tortall.net/projects/yasm/releases/yasm-1.3.0-win32.exe

yasm x86 + props vs = error build x64

[2020-07-05 08:03] Fedr opened #12271 "openvdb: Could not find a package configuration file"
**Description**
After installing and integrating the latest vcpkg, and
`./vcpkg install openvdb`
it reports success:
`    find_package(openvdb CONFIG REQUIRED)`
`    # Note: 1 target(s) were omitted.`
`    target_link_libraries(main PRIVATE Maya Blosc::blosc CppUnit::cppunit Jemalloc::jemalloc)`

But after I add this find_package line in my CMakeLists.txt I get an error from cmake:
`CMake Error at

[2020-07-05 08:11] zd1176630227 commented on #12266
I changed the DNS and now I can access it. Thank you very much.

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Wolfgang St&amp;#xF6;ggl"<notifications@github.com&gt;;
发送时间: 2020年7月5日(星期天) 中午1:02
收件人: "microsoft/vcpkg"<vcpkg@noreply.github.com&gt;;
抄送: "随心灵动"<1176630227@qq.com&gt;; "Author"<author@noreply.github.com&gt;;
主题: Re: [microsoft/vcpkg] mlpack:x64-windows (#12266)

This looks

[2020-07-05 08:28] JackBoosY commented on #8850
@iHuahua 你可以先提一个空的CONTROL和portfile.cmake，顺带把脚本传上去，我帮你修改。

[2020-07-05 09:23] Voskrese commented on #12240
**OR**

____

`portfile.cmake`

[code]

[2020-07-05 11:47] ollp commented on #12116
What do you mean ? I have not used it!
its only installed on mu computer.

[2020-07-05 13:42] daljit97 commented on #11909
I also second this. I just tried this and got:

[2020-07-05 19:44] strega-nil commented on #12226
Is this a bug, or is it a feature request? Does this break anybody, or is it just that manifests don't work with overlay ports just yet?

[2020-07-05 21:29] capnkenny commented on #10098
@petersteneteg Sorry for the delay!
If you'd like, you can take a look at https://github.com/novelrt/vcpkg/tree/port-feature/glad-apis which is the attempt I did back in February to get GLADs customization working as features. If you need a specific API set, you can specify it as a feature (i.e. `glad[gl,gles2]` ).

As far as exclusivity goes (for Core/Compatibility), it should override it forcefu

[2020-07-05 22:47] Neumann-A commented on #12269
Missing system libraries. Try installing:

https://github.com/microsoft/vcpkg/blob/c21893b4dc68430ebcf028ffdb190e586fc3d639/scripts/azure-pipelines/linux/provision-image.sh#L8-L24

remove qt5-base und reinstall qt5-base. qt5-base must be installed with the correct system libraries installed so that qt5-x11extras build successfully.

[2020-07-05 22:49] Neumann-A commented on #12268
Need the  `package-build-x64-windows-dbg-out.log` which actually contains the error.
Error 1104 indicates a missing file or cannot access file.

[2020-07-05 22:57] Neumann-A commented on #12226
The problem is if somebody tries to use manifests with a vcpkg which has an (unknown to master) port installed from a port-overlay vcpkg will throw and error on the execution of the command.
Has such you might not be immediately breaking someone but locally sharing vcpkg instances becomes a bit more difficult if you have projects which could use the manifest but have other projects which requires

[2020-07-06 01:08] iHuahua commented on #8850
好的，我试试

[2020-07-06 01:29] artzers commented on #12268
@Neumann-A  The log file is about 2MB, so I update the qt5-declarative log file and err file in https://github.com/artzers/Python-Tools/blob/master/package-build-x64-windows-dbg-err.log and https://github.com/artzers/Python-Tools/blob/master/package-build-x64-windows-dbg-out.log

[2020-07-06 01:41] NancyLi1013 commented on #12116
Could you please provide the steps to reproduce your problem?

[2020-07-06 01:58] NancyLi1013 commented on #12180
Yes, the feature name should be the same as that in CONTROL file. Thanks for your update.

[2020-07-06 02:21] JackBoosY commented on #12250
I'm waiting for the discussion result of https://github.com/ocornut/imgui/pull/1713.

[2020-07-06 02:26] #12266 closed

[2020-07-06 02:41] JackBoosY commented on #12270
Hi @artzers, thanks for reporting this issue!
Did you use powershell? I can't repro this issue on Windows 10 or Ubuntu now.

Can you run `D:\vcpkg-master\downloads\tools\git-2.26.2-1-windows\mingw32\bin\git.exe" --git-dir="D:\vcpkg-master.git" log --format="%H %cd" --date=short --left-only -- ports/vtk/.` manually and provide me the results?

Thanks.

[2020-07-06 02:42] JackBoosY commented on #12248
@timautry Thanks for pointing this out!

[2020-07-06 02:58] artzers commented on #12270
@JackBoosY  First I use CMD to run the command:  D:\vcpkg-master\downloads\tools\git-2.26.2-1-windows\mingw32\bin\git.exe --git-dir="D:\vcpkg-master\\.git" log --format="%H %cd" --date=short --left-only -- ports/qt5/
 The result is : fatal: not a git repository: 'D:\vcpkg-master\\.git'

Then I use powershell to run the command. The result is : fatal: not a git repository: 'D:\vcpkg-master\\.git'

[2020-07-06 03:07] Hesy-happy opened #12275 "[gtk:x64-linux] build failure"
When I install tgk in Ubuntu 18.04, I get the following error:
_______________________________________________
Computing installation plan...
The following packages will be built and installed:
    gtk[core]:x64-linux
  * harfbuzz[core,glib]:x64-linux
  * libepoxy[core]:x64-linux
  * pango[core]:x64-linux
  * ragel[core]:x64-linux
Additional packages (*) will be modified to complete this operation

[2020-07-06 03:17] LilyWangL commented on #12237
Did you install cmake manually before cloning VCPKG? I install port LLGL and its all features, and I can install `gmp:x64-windows` successfully. If I modify `file(RENAME "${CURRENT_BUILDTREES_DIR}/${TARGET_TRIPLET}-rel/${SOURCE_PATH_SUFFIX}/msvc/include" "${CURRENT_PACKAGES_DIR}/include")`
to:
`file(INSTALL "${CURRENT_BUILDTREES_DIR}/${TARGET_TRIPLET}-rel/${SOURCE_PATH_SUFFIX}/msvc/include" DESTIN

[2020-07-06 03:23] Daniw2009872 commented on #7367
How do you run the .bat file? I tried just clicking it and nothing appeared. How did you get the long strands of text you said?

[2020-07-06 04:45] Daniw2009872 commented on #7367
@Const-me I tried running the file as you did but I keep getting an error message. Can you walk me through it?

[2020-07-06 05:34] JackBoosY commented on #12270
@artzers Can you try to re-clone a new vcpkg and retry again?

[2020-07-06 06:10] LilyWangL commented on #12073
@CiaranWelsh Does this issue resolve on your machine?

[2020-07-06 06:14] JackBoosY commented on #12275
Hi @ide-h, thanks for reporting this issue.
Please provide the failure log _/home/hesy/vcpkg/buildtrees/libepoxy/autoreconf-x64-linux-err.log_.

Thanks.

[2020-07-06 06:20] ide-h commented on #12275
ok

[autoreconf-x64-linux-err.log](https://github.com/microsoft/vcpkg/files/4877084/autoreconf-x64-linux-err.log)

[2020-07-06 06:42] JackBoosY commented on #12275
[code]
Please install  'xutils-dev' and 'xorg-x11-util-macros' using apt/yum first.

[2020-07-06 06:54] artzers commented on #12269
@Neumann-A  Thank you. Now the vcpkg can install qt5 and vtk[qt] successfully on Ubuntu 16.  : )
However there is a small question. After installing provision-image.sh, Ubuntu cannot mount ntfs disk in nautilus, showing "no object for d-bus interface". The ubuntu forum suggests using gparted but warn "may lose data". Finally I mount ntfs disk by running `sudo mount` in bash.

[2020-07-06 07:01] NancyLi1013 commented on #12030
@ras0219 @ras0219-msft

Could you please help take a look and comment about this issue?

[2020-07-06 07:10] artzers commented on #12270
@JackBoosY  I have downloaded the vcpkg zip from github, decompressed and built again. The same error still occured. The default git source is PortableGit-2.26.2-32-bit.7z.exe.

D:\vcpkg>vcpkg x-history vtk
A suitable version of git was not found (required v2.26.2). Downloading portable git v2.26.2...
Extracting git...
Failed to run command: "D:\vcpkg\downloads\tools\git-2.26.2-1-windows\mingw32\b

[2020-07-06 07:26] ide-h commented on #12275
xutils-dev is normally installed via apt .
but apt did not detect the xorg-x11-util-macros package

[2020-07-06 07:37] iHuahua commented on #8850
@JackBoosY https://github.com/microsoft/vcpkg/pull/12280
亲，有空看看怎么弄

[2020-07-06 07:41] NancyLi1013 commented on #12230
Hi @TommyRabes
Thanks for posting this issue.

Have you built this with Visual Studio 2015 or not?

[2020-07-06 07:45] NancyLi1013 commented on #11848
@AndySomogyi
Please let me know if you still have any concerns about this issue.

[2020-07-06 07:48] #11848 closed

[2020-07-06 07:57] JackBoosY commented on #12275
@ide-h  you may need to install `libx11` using command `sudo apt-get install libx11-dev`.

[2020-07-06 07:58] JackBoosY commented on #12270
@artzers You need to clone vcpkg using command `git clone https://github.com/microsoft/vcpkg.git` instead of download zip package.

[2020-07-06 07:58] #12269 closed

[2020-07-06 08:11] fmmsainco opened #12281 "Error: Building package realsense2:x86-windows"
When executing "vcpkg install realsense2" I get the following error:

Error: Building package realsense2:x86-windows failed with: BUILD_FAILED

This is the command output:

vcpkg install realsense2
Computing installation plan...
The following packages will be built and installed:
    realsense2[core]:x86-windows
Warning: The following VS instances are excluded because the English language pack is

[2020-07-06 08:22] LilyWangL commented on #12260
The latest VCPKG version is 2020.02.04-nphash, please run command `git pull` and run `.\bootstrap-vcpkg.bat` to update VCPKG.
[code]

[2020-07-06 09:00] PhoebeHui commented on #12077
@polkadottedwalrus, please reopen this issue and attach failures logs if it still be a problem for you.

[2020-07-06 09:00] #12077 closed

[2020-07-06 09:08] PhoebeHui commented on #12204
@acceleratxr, have you solve the problem? if not, could you try double confirm the cmake revison that you used, could you try to remove it, and use the cmake that vcpkg download instead. and see if this issue still exist?

[2020-07-06 09:11] PhoebeHui commented on #12098
Glad to see the issue solved, thanks for your updates!

[2020-07-06 09:11] #12098 closed

[2020-07-06 09:13] artzers commented on #12270
@JackBoosY   Thanks 👍 . I git clone vcpkg, build and run x-history successfully.
Commands "vcpkg.exe x-history vtk" and "vcpkg.exe x-history qt5-base" run correctly.
 version          date    vcpkg commit
               9.0-4    2020-07-02    2ad4074aea2415e962153544ca942942e7d52323
               9.0-3    2020-06-23    03766d0834c1ca8dea25ffafbe4fe1c60786a412
.........

However, I met error when

[2020-07-06 09:14] PhoebeHui commented on #12096
@ijean, thanks for your updates! Could you report this issue to mathgl as well?

[2020-07-06 09:18] NancyLi1013 commented on #12281
Hi @fmmsainco
Thanks for posting this issue.

[code]

Could you please install English language pack via Visual Studio Installer first?

[2020-07-06 09:22] NancyLi1013 commented on #6219
Hi @lordoffox
Sorry for the late reply.
Have you solved this issue ?

[2020-07-06 09:38] CiaranWelsh commented on #12073
I wasn't sure whether relics from a previous attempt to install libxslt would affect the build - so I tried again from a fresh clone. I used the following commands
[code]

And the attempt to install libxslt:
[code]

[2020-07-06 09:40] CiaranWelsh commented on #12073
(Sorry for accidently closing this issue - note to self: its `Comment` not `Close and commend`)

[2020-07-06 09:43] DimRochette commented on #12248
Seems OK for us.
Nice to discover with that issue the control file syntax to exclude platform.
We will skipped 2020.06 and are still "locked" on 2020.04 tag for now. We move it only after validating compile of packages on platforms.
Hopefully future vcpkg versionning will solve that.

[2020-07-06 09:51] PhoebeHui commented on #12221
@IRebo, thanks for reporting this issue!

I will confirm this issue.

[2020-07-06 09:53] rukai opened #12282 "gtk missing and broken pkgconfig files"
**Describe the bug**
The directory lib/pkgconfig is supposed to contain pkgconfig files for gtk, however some of them are missing.
I was instructed they were required here https://github.com/gtk-rs/gtk/issues/1032

**Environment**
- OS: Windows

**To Reproduce**
[code]

**Expected behavior**
The command `pkg-config --libs gtk+-3.0` should succeed
[code]

**problem 2**
We also just noticed that the

[2020-07-06 10:08] shrinny opened #12283 "[New Port Request] Add Tk library"
**Library name:**
Tk
**Library description:**
Tk is a cross-platform GUI toolkit implemented with the Tcl scripting language.
**Source repository URL:**
https://github.com/tcltk/tk/
**Project homepage (if different from the source repository):**
https://www.tcl.tk/

[2020-07-06 10:08] IshaanKarnik opened #12284 "[<port name>] build failure"
**Host Environment**
- OS: Windows 10 64-Professional
- Compiler: Visual Studio 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install nanodbc`

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
    nanodbc[core]:x64-windows
  * unixodbc[core]:x64-windows
Additional packages (*) will be modified to complete this operation.
Startin

[2020-07-06 10:09] Voskrese commented on #12282
env PKG_CONFIG_PATH ?

echo %PKG_CONFIG_PATH%

set PKG_CONFIG_PATH=...

[2020-07-06 10:20] rukai commented on #12282
[code]

[2020-07-06 10:32] NancyLi1013 commented on #12156
Hi @jagrme00

Since it's duplicated with #11601. Let's move the attention there to track this issue.

[2020-07-06 10:32] #12156 closed

[2020-07-06 10:54] Voskrese commented on #12282
`ls C:\Users\rukai\Projects\vcpkg\installed\x64-windows\lib\pkgconfig\gtk+-3.0.pc`
?

[2020-07-06 11:09] rukai commented on #12282
We also just noticed that the .pc files that do exist are actually broken due to having an empty version.
e.g. glib-2.0.pc:
[code]

[2020-07-06 11:10] PhoebeHui commented on #12221
Confirmed.  The PR https://github.com/microsoft/vcpkg/pull/10943 fixed issue when install boost-locale[icu], so it successfully gernerated has_icu.lib, which conflict when install boost-regex[icu] that also generated the lib 'has_icu.lib'.

[2020-07-06 11:21] ollp commented on #12116
.\vcpkg.exe install eigen3:x86-windows --head
.\vcpkg.exe install eigen3:x64-windows --head

find_package(Eigen3 CONFIG REQUIRED)
target_link_libraries(main PRIVATE Eigen3::Eigen)

I have tried ./vcpkg integrate install without result
I have tried ./vcpkg integrate project but non seems to work.

What creates the problem i have no idea if you follow does commands above. That is what I have done.

[2020-07-06 11:24] ollp commented on #12116
I can upload the whole vcpkg folder to you if you have a link to were

[2020-07-06 11:56] AlexAltea opened #12285 "Unable to read %LOCALAPPDATA% on Windows service accounts"
After the merging of https://github.com/microsoft/vcpkg/pull/12091 (cc @ras0219), the instances of vcpkg running in our Windows CI exited reporting that `%LOCALAPPDATA%` cannot be read. This environment variable is undefined as the CI jobs are running on a Windows service account (running as SYSTEM).

As a hacky workaround, `$Env:LOCALAPPDATA = $Env:TEMP` solves the problem, but a proper fix would

[2020-07-06 12:03] VFoV commented on #8473
I'm coming across a similar error message when trying to build x264. Let me know if I should post this as a new issue, I suspect it will be an easy fix as I am a novice and unfamiliar with compilers.

OS: Windows 10 1909
Compiler: VS 2019 16.6.3

C:\vcpkg-master> .\vcpkg install x264
Computing installation plan...
The following packages will be built and installed:
    x264[core]:x86-windows
Start

[2020-07-06 12:54] AlexAltea opened #12286 "Failed to take the filesystem lock on .vcpkg-root"
Our CI relies on a global vcpkg installation for each platform. Build jobs happen in unique directories where we run `vcpkg install` to deal with any necessary dependencies. After the merging of https://github.com/microsoft/vcpkg/pull/11757 we started using manifest files, which worked perfectly (thanks @strega-nil!).

**Describe the bug**

The manifest PR (https://github.com/microsoft/vcpkg/pull/

[2020-07-06 12:59] RameshKandukuriB commented on #11792
Still see the build error, pleas let me know any fix avialable?
**Error: Building package tbb:x64-windows failed with: BUILD_FAILED**
**2020-07-06T12:29:29.0459650Z   Package: tbb:x64-windows
2020-07-06T12:29:29.0459913Z   Vcpkg version: 2020.02.04-nohash**

2020-07-06T12:29:26.8367152Z Building package tbb[core]:x64-windows...
2020-07-06T12:29:29.0448598Z -- Downloading https://github.com/intel/t

[2020-07-06 13:12] Voskrese commented on #12286
![2020-07-06_211050](https://user-images.githubusercontent.com/10104740/86596749-55fbfd00-bfcd-11ea-8cb6-9e35477066e6.png)

[2020-07-06 14:54] andrewhodel commented on #12030
You linked me two user accounts, but no link to an issue!

Andrew

On Mon, Jul 6, 2020 at 1:01 AM NancyLi1013 <notifications@github.com> wrote:

[2020-07-06 15:20] timautry commented on #11792
@RameshKandukuriB
- Is the vcpkg up to date?
   `cd <vcpkg-root>`
   `git pull`
- You may also need to run `.\bootstrap-vcpkg.bat` if vcpkg has not be updated in a while.
- `.\vcpkg.exe upgrade` (review)
- `.\vcpkg.exe upgrade --no-dry-run` to implement changes
- If vcpkg has not been updated in a while, you may need to just delete the vcpkg instance and clone again, as there has been major change

[2020-07-06 15:55] Christsnatcher commented on #8473
Hello,

I just checked and the package build fails both for x86 and x64 again as well, this time with a fatal MSYS2 error (it seems configure arguments are passed to link.exe instead, configure isn't run at all):

D:\Code\Repos\vcpkg>vcpkg install x264
Computing installation plan...
The following packages will be built and installed:
    x264[core]:x86-windows
Starting package 1/1: x264:x86-window

[2020-07-06 16:40] strega-nil commented on #12286
The reason we do this is so that we lock the buildtrees and downloads and such, which are shared globally -- would adding a `--wait-for-lock` flag work for you? Or do you need a more fine-grained locking mechanism?

[2020-07-06 16:45] strega-nil commented on #12226
This shouldn't happen, since the installed directories aren't shared -- if `vcpkg/installed` contains `blah` from an overlay, then `proj/vcpkg_installed` doesn't care about `blah`, since it's outside of the installed tree.

[2020-07-06 16:48] Voskrese commented on #12286
why don't immediately do with the parameter, lock by default, and don't block with the parameter

[2020-07-06 16:51] strega-nil commented on #12286
@Voskrese because that is a disaster waiting to happen -- if you both try to write to buildtrees at the same time, then you're gonna get bad failures.

[2020-07-06 17:00] AlexAltea commented on #12286
Yes, this would solve the issue. Currently we are working around this issue by manually wrapping `vcpkg install` commands with *flock* in Linux/macOS and *System.Threading.Mutex* in Windows (Powershell), but this feels rather hacky.

Are there any plans to cache built vcpkg packages? (Judging by https://github.com/microsoft/vcpkg/pull/12091 it seems so).
If so, then a simple `--wait-for-lock` woul

[2020-07-06 17:14] strega-nil commented on #12286
Cool, then I'll add that feature in #12227 :)

[2020-07-06 17:21] strega-nil commented on #12234
Fixed by #12227 :)

[2020-07-06 17:34] timautry commented on #12248
You are most welcome! Glad to help where I can.

[2020-07-06 17:36] timautry commented on #12234
Thank you @strega-nil.

[2020-07-06 17:42] acceleratxr commented on #12204
The version of cmake is 3.16.3. Is there documentation on how to set up the included cmake? When I just copy the executable to /usr/bin/ I get this error.
[code]

[2020-07-06 17:48] elieux opened #12288 "Update MSYS2 base"
Hey, this is the future packager for MSYS2. I uploaded a new database recently and reverted it after a few hours due to reports of issues. I even received one issue from a concerned vcpkg user. Due to a bunch of stuff coming together, we don't see a way to make the upgrade path work cleanly for old installations (from an old installer or just not upgraded for a while). Therefore I suggest that vcp

[2020-07-06 17:50] elieux commented on #12288
The vcpkg log:

[code]

[2020-07-06 17:52] strega-nil commented on #12234
This isn't actually fixed quite yet, we still need to merge #12227

[2020-07-06 17:53] timautry commented on #12234
Ooopps - I acted too quickly, I apologize.

[2020-07-06 18:03] #12220 closed

[2020-07-06 18:15] timautry commented on #12237
I have created my own portfile.cmake for gmp, nettle as they are the only 2 so far that keep failing if left in the vcpkg configuration being downloaded, well besides adding SKIP_CLEAN to all the ports using `vcpkg_install_msbuild` as I want to keep the source after build.

The other differences I can think of would be vcpkg itself is built 64 bit (`.\bootstrap-vcpkg.bat -verbose -disableMetrics -

[2020-07-06 18:19] ras0219 opened #12289 "Manifest mode does not support overlay ports"
Overlay ports are extremely useful for project-specific fixes or library updates; manifest mode does not currently offer a mechanism for projects to continue using this feature.

Proposed fix:

In the `vcpkg.json`, a field `overlay-ports` would be a list of relative paths from the manifest file that functions like the existing `--overlay-ports=...`

[2020-07-06 18:24] ras0219 opened #12290 "Manifest mode does not offer CMake usage help"
When installing libraries in classic mode, CMake users receive very helpful notices:
[code]

There's no way to access this help from manifest mode (it is not printed upon install). The simplest solution would be to provide a command `vcpkg info` which could display this help information.

[2020-07-06 18:40] #10920 closed

[2020-07-06 18:41] jlfilion opened #12291 "Windows x64 FLTK not setup properly"
I am running Windows 10.0.18363 with Visual Studio 2019 installed. I have updated vcpkg and I'm running git version 2.26.0.windows.1 and cmake version 3.17.0-rc3.

I installed fltk with the following command:

vcpkg.exe install fltk:x64-windows

I added to my cmake file:

find_package(FLTK CONFIG REQUIRED)

I have been unable to get find_package(FLTK CONFIG REQUIRED) to work for fltk:x64-windows.

[2020-07-06 18:49] #12243 closed

[2020-07-06 18:50] #12248 closed

[2020-07-06 19:27] #12188 closed

[2020-07-06 19:42] #8288 closed

[2020-07-06 19:56] jsmolka opened #12292 "clang-cl compiler not found on Windows"
**Describe the bug**
`No CMAKE_CXX_COMPILER could be found.` when trying to build with clang-cl with cmake on Windows. This just happens with the latest vcpkg version, previous ones worked.

**Environment**
- OS: Windows
- Compiler: clang-cl latest

**To Reproduce**
[code]

Full build instructions in the [readme](https://github.com/fleroviux/NanoboyAdvance#windows).

**Expected behavior**
The prev

[2020-07-06 20:23] #12108 closed

[2020-07-06 20:39] #12136 closed

[2020-07-06 21:02] Camuvingian opened #12294 "[pcl] build failure"
**Host Environment**
- OS: Windows
- Compiler: Microsoft (R) C/C++ Optimizing Compiler Version 19.00.24215.1 for x86

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install pcl`

**Failure logs**
PS F:\C++Libraries\Vcpkg\vcpkg-master> .\vcpkg install pcl
Computing installation plan...
The following packages will be built and installed:
  * eigen3[core]:x86-windows
  * expat[core]:x86-w

[2020-07-06 21:28] timautry commented on #12284
@IshaanKarnik update vcpkg and try again.
See #12248 PR #12274 was already in progress to fix this issue,removing the dependency of unixodbc from port nanodbc on windows platforms.

[2020-07-06 21:29] #9438 closed

[2020-07-06 21:45] Camuvingian commented on #12294
Work around was to comment out the `vcpkg_fixup_pkgconfig()` call on line 28 or ports\eigen3\portfile.cmake as shown below. I doubt this would be deemed a fix, but in any case, for my purposes it gets around the problem.

[code]

[2020-07-06 22:57] FuckYou2Bill opened #12295 "How do I ..."
When asking a question please also include where you looked for an answer (so we can update the documentation if needed).

[2020-07-06 23:51] IshaanKarnik commented on #12284
Thanks Resolved.

[2020-07-06 23:51] #12284 closed

[2020-07-07 00:08] PhoebeHui commented on #12282
Thanks for reporting this issue! I will take a look.

[2020-07-07 00:22] #12075 closed

[2020-07-07 01:40] PhoebeHui commented on #12110
@ankurverma85, the PR has been merged, thanks for your contribution!

[2020-07-07 01:40] #12110 closed

[2020-07-07 01:46] JackBoosY commented on #8473
@VFoV Can you make sure your vcpkg is latest?

[2020-07-07 02:02] JackBoosY commented on #11150
@jamal You can use the environment `$ENV{WindowsSdkDir}` to get the Windows SDK path.

[2020-07-07 02:04] JackBoosY commented on #12285
@BillyONeal @ras0219 @ras0219-msft Can you take a look?

Thanks.

[2020-07-07 02:12] BillyONeal opened #12297 "[argtable3] spurious build failure"
**Host Environment**
- OS: Windows Server 2019
- Compiler: Visual Studio 2019 version 16.6

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install argtable3:x64-uwp` (presumably)

**Failure logs**
[argtable3.zip](https://github.com/microsoft/vcpkg/files/4882074/argtable3.zip)

**Additional context**
This failure appears to be spurious, there are likely races in the package's build syst

[2020-07-07 02:13] BillyONeal commented on #12297
Failed in https://dev.azure.com/vcpkg/public/_build/results?buildId=39820

[2020-07-07 02:13] BillyONeal commented on #12297
/cc @myd7349

[2020-07-07 02:18] BillyONeal opened #12298 "[ITK] Spurious build failure on osx-x64"
**Host Environment**
- OS: MacOS Catalina
- Compiler: Unknown

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install itk` (presuambly)

**Failure logs**
[itk.zip](https://github.com/microsoft/vcpkg/files/4882097/itk.zip)

**Additional context**
ITK failed in a recent full CI build (without caching) https://dev.azure.com/vcpkg/public/_build/results?buildId=39820 :

[code]

This may be

[2020-07-07 02:22] BillyONeal commented on #12294
I observe that the most recent attempt by our CI to build this succeeded: https://dev.azure.com/vcpkg/public/_build/results?buildId=39820

[code]

There may be races in the pcl port?

[2020-07-07 02:24] BillyONeal commented on #12292
The triplet `x64-windows` is intended to mean the MSVC compiler, and the recent binary caching change triggering this is a reflection of that; perhaps this is effectively a request to add `x64-windows-clang` or similar?

[2020-07-07 02:28] BillyONeal opened #12299 "[libb2] build failure on osx"
**Host Environment**
- OS: MacOS Catalina
- Compiler: Unknown

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install libb2`

**Failure logs**
This failed in a recent full rebuild: https://dev.azure.com/vcpkg/public/_build/results?buildId=39820
It also repros for me locally, indicating it is likely not a spurious build failure.

[libb2.zip](https://github.com/microsoft/vcpkg/files/4882

[2020-07-07 04:09] emocanu opened #12301 "[tesseract] build failure for feature cpu_independed"
**Host Environment**
- OS: Windows
- Compiler: VS 2019 stack

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg install tesseract[cpu_independed]:x86-windows-static`

**Failure logs**
Error: <unknown>:1:25: invalid character in feature name (must be lowercase, digits, '-')
   on expression: tesseract[cpu_independed]:x86-windows-static

**Workaround**
Change **cpu_independed** to **cpu-indep

[2020-07-07 05:16] jsmolka commented on #12292
This would be a great addition but I don't think it's required for this issue. clang-cl tries to be a drop-in replacement (ABI, arguments, ...) so compiling the libraries with MSVC is no problem. But for the application itself I would like to have the possibility to choose a specific compiler (due to some MSVC template limitations) and vcpkg shouldn't interfere there.

[2020-07-07 06:58] NancyLi1013 commented on #11990
I'm sorry for the late reply.
I can install `openmpi` on my Ubuntu 18.04 machine successfully with gcc 9.2.1.

[code]

I checked the `config-x64-linux-dbg-err.log` and found this:

[code]

It seems Fortran MPI has been disabled by default. `All Fortran MPI bindings disabled (could not find compiler)`

So have you changed something manually for `openmpi`?
Also please refer to this [readme](https://

[2020-07-07 07:14] NancyLi1013 commented on #12116
I can install it successfully on my local.

[code]
So I don't know what your problem is.

[2020-07-07 07:52] NancyLi1013 commented on #11042
I'm closing this issue for now since inactive in a long time. Please feel free to reopen this if it is still a problem for you.

[2020-07-07 07:52] #11042 closed

[2020-07-07 08:03] elieux commented on #12288
@FuckYou2Bill, what?

[2020-07-07 08:04] elieux commented on #12288
@emptyVoid might be interested as well.

[2020-07-07 08:20] ahoarau commented on #4968
I'm curious : would it support different configurations ? because I see that it is optionally using VTK, TCL-TK and so on. Some of us might want the strict necessary

[2020-07-07 08:20] NancyLi1013 commented on #11792
@RameshKandukuriB

Please follow the guidelines from @timautry to update vcpkg to the latest commit to build `tbb`.

[2020-07-07 08:26] LilyWangL commented on #12294
Thanks for posting this issue. I can't reproduce this issue locally, I can install `eigen3` successfully. PR #11550 will fix some bug of function `vcpkg_fixup_pkgconfig()`, please waiting for PR #11550 merged and rebuild `eigen3` again.

[2020-07-07 08:29] NancyLi1013 commented on #11312
I'm closing this issue for now since it seems there is no any support that can help you.

[2020-07-07 08:29] #11312 closed

[2020-07-07 08:34] NancyLi1013 commented on #11251
I'm closing this issue for now since it seems to be solved on my side.
Please try to do some changes for `ORB_SLAM2 ` to rebuild it.

[2020-07-07 08:34] #11251 closed

[2020-07-07 08:38] emptyVoid commented on #12288
@elieux, ss far as I understand `MSYS2` dropped i686 installer since 2020-05-22, whereas `vcpkg` still supports x86 host platforms. That's kind of a blocker for updating `MSYS2` version used by `vcpkg`.

[2020-07-07 08:49] elieux commented on #12288
How big of an issue is to keep that older x86 version and update the x64 version?

[2020-07-07 09:02] SoumenKunduTantra opened #12303 "cryptopp-static.lib(des.cpp.obj) : error LNK2001.Error while building code in Visual Studio 2017"
I have a project where we are using cryptopp library. In one computer it is getting compiled successfully,  But when I am building same code with same library and all in another computer it is showing below error.

[code]

I have installed cryptopp via vcpkg in both the system. And also added library name in Property -> Configuration Properties -> Linker -> Input -> Additional Dependencies.

OS

[2020-07-07 09:15] emptyVoid commented on #12288
I don't think it's a good idea, since it would potentially require different installation scripts as the versions diverge further from each other. Moreover wouldn't your above-mentioned changes break x86 version?

[2020-07-07 09:16] jerrywxixi opened #12304 "[boost-coroutine:arm-windows] build failure"
**Host Environment**
- OS: Windows
- Compiler: MSVC 2019

**To Reproduce**
Steps to reproduce the behavior:
vcpkg install --triplet arm-windows zlib openssl boost-system boost-date-time boost-regex boost-interprocess websocketpp brotli

**Failure logs**
Starting package 35/42: boost-coroutine:arm
Building package boost-coroutine[core]:arm...
-- Downloading https://github.com/boostorg/coroutine/arc

[2020-07-07 09:26] elieux commented on #12288
They don't until we decide to also build an msys-i686 package, which we currently don't plan to. But if you prefer to keep the versions in sync, would you be willing to adapt the installation script to update the keyring first? I'll be writing down the exact steps soon for our ["manual intervention needed" section](https://www.msys2.org/news/).

[2020-07-07 09:32] emptyVoid commented on #12288
Sure.

BTW, shouldn't ```pacman-key --init; pacman-key --populate``` take care of the official keys?

[2020-07-07 09:48] VFoV commented on #8473
I've just reinstalled and ran the bootstrapping and integration and run the command:

C:\vcpkg-master> .\vcpkg update
Using local portfile versions. To update the local portfiles, use `git pull`.
No packages need updating.

[2020-07-07 10:02] Voskrese commented on #12292
`cmake -T clangcl` .. this is not correct \
->> `cmake -G"V... S... ver" -T clangcl`
or
[code]

[2020-07-07 10:06] elieux commented on #12288
It would, if we hadn't also added new master keys. We couldn't get all the original master key holders. The previous packager also quit somewhat abruptly, so now it's either stall or break.

(There's an option to update the msys-i686 packages and installers for the last time, which would allow vcpkg to update to the newer installers, but it would immediately break all the older 32-bit installation

[2020-07-07 10:18] PhoebeHui commented on #12291
@jlfilion, thanks for reporting this issue!

Confirmed, In vcpkg portfile.cmake, the static libs removed and renamed the shared libs to fltk, however the cmake targets file doesn't update it, so it failed here. however, it has another issue after we fix the libs name.

The root cause is fltk mess the libs when buildiing static and shared libs:
fltk built and used static library fltk in shared buil

[2020-07-07 10:20] VFoV commented on #8473
Hello, I re-cloned vcpkg from the github page, re-ran the boostrapping and integration then ran .\vcpkg update. I then ran the x264 install again and
[config.log](https://github.com/microsoft/vcpkg/files/4884165/config.log)
got this error:

Starting package 68/79: x264:x64-windows
Building package x264[core]:x64-windows...
-- Downloading https://github.com/mirror/x264/archive/303c484ec828ed0d8bfe7

[2020-07-07 10:29] NancyLi1013 commented on #6310
Hi @JackGoldfinch
Sorry for the late reply.
I used another vcpkg repo in a clean environment to build `python2 `and `python3` at the same time. There is no any error.

Could you please try to update vcpkg to the latest version to rebuild this? Since `python3 `has been updated to 3.8.3.

[2020-07-07 10:54] ollp commented on #12116
And you can use

./vcpkg integrate install

./vcpkg integrate project

and find whatever header you need with out manual config?

in project properties?

[2020-07-07 11:10] MCl57 commented on #12121
sorry, it doesn't work. I updated everything. I installed the full boost: x86-windows. No improvement ??? Do you have another suggestion please? Unfortunately the other branch #11880 does not help me.

### logs:
**root@50bb338af8f3:/vcpkg# ./vcpkg install evpp --recurse**
Computing installation plan...
The following packages will be built and installed:
  * boost-atomic[core]:x64-linux
  * boost-l

[2020-07-07 11:30] PhoebeHui commented on #12301
@emocanu, thanks for reporting this issue!

[2020-07-07 11:42] Neumann-A opened #12307 "[fontconfig] fonts.conf installed one directory to deep"
Currently the `fonts.conf` file is installed into `/tools/fontconfig/fonts`.

It should be installed into `/tools/fontconfig` instead since only then `FONTCONFIG_PATH=<VCPKG_INSTALLED>/tools/fontconfig/` can be set and used correctly since `fonts.conf` includes a reference to
[code]

Otherwise the following error is observed trying to run designer from qt5
[code]

[2020-07-07 11:50] marcosrobertosilva opened #12308 "[New Port Request] FlopC++ - COIN-OR (Computational Infrastructure for Operations Research)"
Library name: COIN-OR FlopC++

Library description:
Using FLOPC++, linear optimization models can be specified in a declarative style, similar to algebraic modelling languages such as GAMS and AMPL, within a C++ program. As a result the traditional strengths of algebraic modelling languages are preserved, while embedding linear optimization models in software applications is facilitated.

FLOPC++

[2020-07-07 12:02] studoot opened #12309 "Questions about manifest mode"
I like the direction that manifest mode is taking, having played with it a bit. However, for my work, I have a few queries, which may or may not already be on the roadmap...

I develop for both Linux and Windows, using WSL on Windows to be able to build for both platforms within the same filesystem location. I currently use a bash script to invoke Windows and Linux variants of `vcpkg install` to i

[2020-07-07 12:48] Neumann-A commented on #12268
`LINK : fatal error LNK1104: cannot open file 'D:\Windows Kits\10\lib\10.0.17763.0\um\x64\shell32.lib'`

[2020-07-07 12:50] Neumann-A commented on #12268
You probably updated your WinSDK and removed the old one. Rebuild qt5-base with the new WinSDK. WinSDK paths are getting hardcoded within Qt's *.prl files and I don't know how to solve that currently.

[2020-07-07 12:51] artzers commented on #12268
@Neumann-A  I have passed the compilation by installing win 10 sdk kit on C:/.

[2020-07-07 12:55] Neumann-A commented on #12292
in triplet file:
[code]
don't forget to add the path for clang-cl to PATH in the vcpkg environment or use the fullpath.

[2020-07-07 12:59] Neumann-A commented on #12289
see #12226

actually if ports from a overlay are installed vcpkg should store the value of `--overlay-ports=...` somwhere in the triplet. Alternativly give me some environment variable like `VCPKG_PORT_OVERLAYS` (related #10119)

[2020-07-07 13:48] kakyoism opened #12310 "Is it possible to create a sandboxed package environment with vcpkg?"
I'm trying to freeze the dependencies of a few projects of mine, which have been using a single vcpkg to manage the dependencies. This vcpkg instance also manages all the projects on the system.

## Goal

I want a solution similar to python's venv where Project A and B could use separate sets of dependencies with different versions.

Something like Project A depends on

[code]

but Project B depen

[2020-07-07 15:02] puppuluri opened #12311 "python3-x64.osx build failure"
**Host Environment**
- OS: OSX
- Compiler: revision

 Package: python3:x64-osx
  Vcpkg version: 2020.06.15-unknownhash

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install python3`

**Failure logs**
-Cut and past the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.
Building package python3[core]:x64-osx..