[2021-06-08 14:28] nlogozzo commented on #18328
I'm confused...so what do I have to do to get it working in VS2019? @dg0yt Like do i have to edit a file or something?

[2021-06-08 14:35] ocornut opened #18337 "Vcpkg Configuration option in IDE doesn't work in VS2015 u3 (works in VS 2019)"
**Describe the bug**

In Visual Studio 2015 if I alter the "vcpkg configuration" setting to have Debug build use Release libraries:

![image](https://user-images.githubusercontent.com/8225057/121201689-ff4e1180-c874-11eb-8464-1aac48fd8361.png)

vcpkg still uses the Debug libraries.
One way to visualize that is that even though the $(VcpkgConfiguration) variable has been changed to "Release", the $

[2021-06-08 14:46] dg0yt commented on #18008
`CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:91`: Sounds like #18290

[2021-06-08 14:57] j20232 commented on #10748
@PhoebeHui
No....
Finally, I give up to use vcpkg on OSX.

[2021-06-08 18:21] melhashash opened #18339 "[mpfr] build failure if mpir is previously installed"
I can't install mpir and mpfr together in Windows due to conflict with gmp

**Host Environment**
- OS: Windows
- Compiler: VS2017

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install mpfr:x64-windows`

**Failure logs**
Starting package 1/2: gmp:x64-windows
Building package gmp[core]:x64-windows...
Building package gmp[core]:x64-windows... done
Installing package gmp[core]:x64-window

[2021-06-08 18:27] pushrbx commented on #18335
Ignore this, turns out I had no `zstd.a` / `libzstd.a` in `/usr/lib`.

[2021-06-08 18:27] #18335 closed

[2021-06-08 19:02] Neumann-A commented on #18328
The pure MSBuild integration is broken in this case since it is too simple and cannot reflect the correct usage of gtkmm. This also applies to other ports like Qt. As soon as include dirs other than `/include` come into play you are basically lost. My advice is to use CMake (or Meson if you don't like CMake).

[2021-06-08 19:31] nlogozzo commented on #18328
@Neumann-A Is there a way I can get CMake with vcpkg setup on VS2019

[2021-06-08 21:18] yurybura commented on #13163
@autoantwort Oh yes. Thank you for correction. But I hope this is right direction to fix this issue.

[2021-06-08 21:35] nlogozzo commented on #18328
I'm also getting this error
[code]
  @Neumann-A @dg0yt

[2021-06-08 21:42] Neumann-A commented on #18328
[code]

If `PKG_CONFIG_EXECUTABLE` is missing install the port pkgconf and set `PKG_CONFIG_EXECUTABLE` to the absolute path of `pkgconf.exe`  or use the pkg-config executable vcpkg internally uses

[2021-06-09 00:31] nlogozzo commented on #18328
Where do i put these lines of code? In my main.cpp?
Like i said i don't have a CMake file in my project cause its just a blank solution and VS handles the magic. @Neumann-A

[2021-06-09 02:11] JackBoosY commented on #18291
Can you please test whether https://github.com/microsoft/vcpkg/pull/18340 fixed this issue?

Thanks.

[2021-06-09 02:12] JackBoosY commented on #18339
`mpir` conflict with `gmp`, so you need to remove mpir first.

[2021-06-09 02:14] JackBoosY commented on #18334
This issue should be fixed, can you confirm your vcpkg is latest?

[2021-06-09 02:17] PhoebeHui commented on #10748
@j20232, thanks for your response. Since this is not be an issue for you, I would close this issue.

BTW, the doc https://github.com/microsoft/vcpkg/blob/master/docs/examples/installing-and-using-packages.md shows how to using a package that installed by vcpkg.

[2021-06-09 02:17] #10748 closed

[2021-06-09 02:19] charles-sun0v0 commented on #17281
unfortunately, this problem still exists in the latest version.

[code]

[code]
 protobuf 3.5.1 still failed and updating by `git pull` doesn't work

[2021-06-09 02:50] PhoebeHui commented on #17281
@charles-sun0v0, could you get a vcpkg clean source and try './vcpkg install protobuf:x64-windows' in classic mode, and see if the issue repro?

[2021-06-09 02:55] JackBoosY commented on #17281
Same issue with https://github.com/microsoft/vcpkg/issues/18334.

[2021-06-09 03:14] charles-sun0v0 commented on #17281
Well, installing protobuf:x64-windows (with default version 3.15.8) is ok. Btw, in my vcpkg.json if I remove protobuf and a default version 3.14.x will be installed automaticlly（because grpc depends on protobuf) and it works well. So I guess the version **3.5.1** might matters

[2021-06-09 04:45] bt-ncarroll opened #18341 "Help with problem: install custom port seems to hang at end of build step, no apparent reason"
**Describe the bug**
I have a custom port for a third-party library, the version of which I am trying to update. The previous version built correctly with the port. The new version _appears_ to build correctly (ie: output is correct, is built when manually built from the files under buildtrees, .log file shows build completion, no excess build processes outstanding, etc.), but vcpkg is not proceed

[2021-06-09 05:55] Conan42 opened #18342 "[fontconfig:x64-linux] build failure"
**Host Environment**
- OS: Ubuntu 20.04.2 or 21.04
- Compiler: gcc 9.3.0

**To Reproduce**
Steps to reproduce the behavior:
./vcpkg install osg

**Failure logs**
mich@mich-desktop:~/vcpkg$ ./vcpkg install osg
Computing installation plan...
The following packages will be built and installed:
  * fontconfig[core]:x64-linux -> 2.13.1#7
    osg[core]:x64-linux -> 3.6.5#7
Additional packages (*) will b

[2021-06-09 06:06] JackBoosY commented on #18066
The real problem is cmake expects debug and release to be installed in the same path, which is inconsistent with the rules of vcpkg:
In `Findwxwidgets.cmake`
[code]

[2021-06-09 06:15] NancyLi1013 commented on #18337
Hi @ocornut

Thanks for posting this issue.

Have you tried with the latest vcpkg? Does this still exist?

[2021-06-09 06:16] dg0yt commented on #18066
No way to pass the right combination of `{WX,wxWidgets}_{ROOT,LIB}_DIR` for debug?

[2021-06-09 06:24] PhoebeHui commented on #17281
@charles-sun0v0, could you git pull and execute './bootstrap-vcpkg.bat' and try again, this issue should be fixed in vcpkg and include in vcpkg latest release, should be 2021-05-05? could you help confirm if the issue still repro? Should be fixed by PR https://github.com/microsoft/vcpkg-tool/pull/36.

[2021-06-09 06:24] JackBoosY commented on #18066
@dg0yt As you can see, the search paths for debug and release libraries are both `${WX_LIB_DIR}`, and they are searched in the **same** query, and cmake does NOT distinguish between debug and release paths, which makes us powerless: we are unable to patch `Findwxwidgets.cmake` that provided by cmake.
The only thing that can be done is to export all its cmake configuration files.

[2021-06-09 06:34] #9581 closed

[2021-06-09 06:42] dg0yt commented on #18066
@JackBoosY Is the problem handling multi-config cmake? `vcpkg-cmake-wrapper.cmake` does know the single actual build type, so it could set different values for debug, in the same way `vcpkg.cmake` does that for `CMAKE_PREFIX_PATH` etc.

[2021-06-09 06:49] charles-sun0v0 commented on #17281
I have reinstalled vckpg in the latest commit and as you can see, my  vcpkg version is

but it still repro. I have to admit that last time I solve this problem by updating vcpkg but it doesn't work this time.

[2021-06-09 06:52] PhoebeHui commented on #8856
@mightywill, does this still be a question for you? you can set the 'using vcpkg' to No in your project property, it will not use any dlls from vcpkg.

[2021-06-09 06:53] JackBoosY commented on #18066
@dg0yt  Yes the wrapper can set that, but it will only call `find_package(wxwidgets)` once, which means `wxWidgets_USE_REL_AND_DBG` will always be `OFF`.

[2021-06-09 06:53] #8856 closed

[2021-06-09 07:04] PhoebeHui commented on #16955
@upupming, could you help if this still repro with latest vcpkg source? ('git pull' and './bootstrap-vcpkg.bat').

[2021-06-09 07:05] PhoebeHui commented on #17281
Thanks @charles-sun0v0 for confirming this! it looks still be an issue, it's a same issue with https://github.com/microsoft/vcpkg/issues/16955, I will use that issue to track.

[2021-06-09 07:05] #17281 closed

[2021-06-09 07:14] PhoebeHui commented on #18334
It looks same issue with https://github.com/microsoft/vcpkg/issues/16955

[2021-06-09 07:16] NancyLi1013 commented on #17087
@prateek9623

Is this still a problem for you now?

[2021-06-09 07:18] NancyLi1013 commented on #17133
@ponco0e

Is this still a problem for you now?

[2021-06-09 07:22] PhoebeHui commented on #18342
@Conan42, could you install gperf via 'sudo apt -y install gperf' and try again?

[2021-06-09 07:24] #7826 closed

[2021-06-09 07:26] dg0yt commented on #18066
I even looked into the full module source code... `{WX,wxWidgets}_USE_REL_AND_DBG` isn't even documented, despite its age (15 years!). I see that it takes care of tagging `debug` and `optimized` variants in `wxWidgets_LIBRARIES`. Is this mandatory?

[2021-06-09 07:26] Neumann-A commented on #18328
No in your `CMakeLists.txt` which you obviously have since you wouldn't have the error in https://github.com/microsoft/vcpkg/issues/18328#issuecomment-857176389 otherwise

[2021-06-09 07:28] PhoebeHui commented on #8185
@singh0506, vcpkg currently has triplets\community\arm64-linux.cmake triplet now, please reopen this issue if it doesn't meet your requirements.

[2021-06-09 07:28] #8185 closed

[2021-06-09 07:32] adwodon commented on #18334
@JackBoosY the logs show
` Vcpkg version: 2021-05-05-9f849c4c43e50d1b16186ae76681c27b0c1be9d9`

I went onto the build machine, did a git pull & ran the boostrap to confirm, still the same vcpkg version when using the `vcpkg version` command and still the same issue.

Just to be clear, this only happens when this is run through an azure devops agent, running vcpkg from the command line works just f

[2021-06-09 07:32] PhoebeHui commented on #8469
We would suggest not to do that, mixing debug and release code is bad practice.
See https://stackoverflow.com/questions/11658915/mixing-debug-and-release-library-binary-bad-practice/55816027.

[2021-06-09 07:32] #8469 closed

[2021-06-09 07:33] dg0yt commented on #17607
Another related issue: Is there a good reason why the vcpkg cmake toolchain is not adding (/debug)/bin to PATH? #7826, now #18344.

[2021-06-09 07:43] PhoebeHui commented on #18255
@qqblack, does this still be a problem for you? have you try above suggestion?

[2021-06-09 08:12] korilin commented on #8286
I have used @AndrewTsao 's suggestion to solve the problem.

[2021-06-09 08:12] #8286 closed

[2021-06-09 08:17] playgithub commented on #18066
tags like `debug` and `optimized` are old grammar of cmake.
For `FindWxWidgets.cmake`:
* very complex
* very old `cmake` grammar
* not flexible enoguh to be compatible with `vcpkg`
In fact, I'm using Linux now, really developer friendly.
BTW, I'm reading "Professional CMake" by Craig Scott, hope enough `cmake` knowledge helps.

[2021-06-09 08:23] NancyLi1013 commented on #17312
Thanks for your information. I think we can make a patch for this fix before the new version 1.77 releases.

[2021-06-09 08:25] NancyLi1013 commented on #17398
Closing this issue for now since inactive thread. Please feel free to reopen this issue if it is still a problem for you.

[2021-06-09 08:25] #17398 closed

[2021-06-09 08:27] #8951 closed

[2021-06-09 08:29] NancyLi1013 commented on #17476
Hi @kalijana

Please let me know if this is still a problem for you when you update gcc to new version.

[2021-06-09 08:30] JackBoosY commented on #18066
I'm trying to export all the wxwidgets component targets.

[2021-06-09 08:30] NancyLi1013 commented on #17532
@Skrotice

Please let me know if this is still a problem for you now.

[2021-06-09 08:54] PhoebeHui commented on #10803
Closing in favor of https://github.com/microsoft/vcpkg/issues/5732.

[2021-06-09 08:54] #10803 closed

[2021-06-09 08:58] Skrotice commented on #17532
@NancyLi1013 It's solved by downloading the package directly.

[2021-06-09 09:00] lyxr opened #18349 "Error: Building package openssl:x64-windows failed with: BUILD_FAILED"
I want to install Point Cloud Library. So I run the comand in the terminal : .\vcpkg install pcl:x64-windows. But it always exits a error as my title show. There is what the terminal show：
[code]
what can I do to deal with it? can somebody help me? Thanks very much!
The error log:
Failure! build file wasnt produced.
Please read INSTALL and associated NOTES files. You may also hava to look over
you

[2021-06-09 09:04] NancyLi1013 commented on #17541
@cosmin42

Is this still a problem for you now after updating to the latest vcpkg?

[2021-06-09 09:08] JackBoosY commented on #18334
@strega-nil-ms Seems our changes didn't fix this issue.

[2021-06-09 09:11] #17532 closed

[2021-06-09 09:15] JackBoosY commented on #18341
Please run command `./vcpkg install port --debug` then provide the ouput.

Thanks.

[2021-06-09 09:17] #8220 closed

[2021-06-09 09:22] NancyLi1013 commented on #17917
@zcream

Is this still a problem for you now?

[2021-06-09 09:33] NancyLi1013 commented on #17732
Could you please try to set `Use Static Libraries` as `Yes `to rebuild your project? @Brouilles
![image](https://user-images.githubusercontent.com/46708020/121330425-989a2800-c948-11eb-8a90-140c65b0b2ca.png)

[2021-06-09 09:35] PhoebeHui commented on #8215
@eskech, does this still be a question for you with latest vcpkg?

[2021-06-09 09:45] ErnestoQuispe opened #18351 "building package failed (versioning) build failure"
**Host Environment**
- Windows 10
- Compiler: Visual Studio 2019  version 16.10.0

**To Reproduce**
Steps to reproduce the behavior:
- Hi I am new and I am trying to work with a old version of gtkmm ( for this objective I am using versioning)
- I created a vcpkg.json with the next code:
{
  "name": "versions-test",
  "version": "1.0.0",
  "dependencies": [
    {
      "name": "gtkmm",
      "versi

[2021-06-09 09:47] NancyLi1013 commented on #17704
`fatal: unable to access 'https://sourceware.org/git/bzip2.git/': Could not resolve host: sourceware.org`

Please make sure if you have access to https://sourceware.org/git/bzip2.git/.

Closing this issue for now for inactive thread. Please feel free to reopen this issue if it is still a problem for you.

[2021-06-09 09:47] #17704 closed

[2021-06-09 09:55] NancyLi1013 commented on #17571
Please let me know if this is still a problem for you. @richjohnson-wwt

[2021-06-09 10:27] PhoebeHui commented on #18336
@ocornut, thanks for reporting this issue, this looks not support yet. For this particular case, it looks https://github.com/microsoft/vcpkg/blob/master/scripts/buildsystems/msbuild/vcpkg.props hasn't import.

@strega-nil-ms, could you please have a look?

[2021-06-09 10:50] zcream opened #18352 "How do I set vcpkg cli to use Visual Studio generator to avoid ninja build errors?"
In the Visual Studio docs - https://docs.microsoft.com/en-us/cpp/build/customize-cmake-settings?view=msvc-160 setting Visual Studio generator is described.
However, its not so clear what I need to do from vcpkg cli. vcpkg_configure_cmake.cmake and vcpkg_build_cmake.cmake have entries related to the generator. How do I use the latest Visual Studio as generator ?

[2021-06-09 10:52] zcream commented on #17917
@NancyLi1013 I have posted a general question about using Visual Studio as generator instead of ninja. Some of my problems may be due to documented build failure after ninja 1.10

https://github.com/microsoft/vcpkg/pull/10964

[2021-06-09 11:49] nlogozzo commented on #18328
@Neumann-A there no cmakelist.txt file in my project. I'd have to add it to the overall vcpkg cmakelist that's provided by the tool chain, which will then import gtkmm in every project no?

[2021-06-09 12:05] m17kea commented on #9344
@PhoebeHui unfortunately I have not tried it. We switched to clang instead. Let me know if you have any success

[2021-06-09 12:42] SKNo opened #18353 "[sundials] invalid command: x-download"
Hi
I was trying to install sundials and got following error message.  Before submitting a bug report just wanted to know if this is related to my setup or something else  (I tried on two computers same error)

**Environment**
[code]
**Error Message**
[code]

[2021-06-09 13:35] autoantwort commented on #18353
Please update your vcpkg version with `git pull` and `./bootstrap-vcpkg.bat` and try again

[2021-06-09 13:46] SKNo commented on #18353
Hi
@autoantwort  Ah no coffee this morning --- worked like a charm .. thank you
@autoantwort  another question : in the situations like this , should i close the issu myself or someone else (I mean project  custodians) ?

[2021-06-09 13:51] autoantwort commented on #18353
I think you can close the issue yourself because the problem is solved/the question is answered.

[2021-06-09 13:54] #18353 closed

[2021-06-09 15:06] kalijana commented on #17476
Hi Nancy it worked with néw gcc , We wanted some help on how to do use the library for a new adruino board . My developments environment is windows with visual studio code

kali
On Jun 9, 2021, 1:29 AM -0700, NancyLi1013 ***@***.***>, wrote:

[2021-06-09 15:26] tonygould commented on #18297
As I realized when I tried to `cat`  a usage file at work. But your top of `vcpkg install xy ` worked, thanks.

[2021-06-09 15:40] talregev commented on #17072
@JackBoosY Thank you for this PR! is it finish? I can test it on open source project.

[2021-06-09 17:53] bt-ncarroll commented on #18341
[install_debug.txt](https://github.com/microsoft/vcpkg/files/6625858/install_debug.txt)

I cannot see anything indicative; this is the entire file generated until manually terminating the seemingly hung process (after letting it sit for ~20 minutes).

[2021-06-09 18:12] bt-ncarroll commented on #18341
FWIW, I have also confirmed that the build of the previous version of the library, using the same port file and local setup (ie: same OS, vcpkg.exe, etc.) still works, so it's something specific to this build. Also, the build-x86-windows-rel-out.log and build-x86-windows-dbg-out.log files in the build tree look effectively identical between versions (specific build output notwithstanding). The onl

[2021-06-09 18:26] pmdifran commented on #15348
@JackBoosY is there any progress on build issues? I'm getting the same build failure when executing:
``` vcpkg install pcl[cuda]:x64-windows```

**Host Environment**
- Windows 10 Pro (Build 19042)
- *not sure where to check my compiler version :)

**Command prompt after installing pcl[cuda] dependencies:**
[code]

[2021-06-09 18:32] JeanPhilippeKernel opened #18354 "[New Port Request] CorrelationVector"
Library name: Correlation Vector

Library description: CorrelationVector-Cpp provides the C++ implementation of the CorrelationVector protocol for tracing and correlation of events through a distributed system.

Source repository URL: https://github.com/microsoft/CorrelationVector-Cpp/commit/cf38d2b44baaf352509ad9980786bc49554c32e4

Project homepage (if different from the source repository):

Anyt

[2021-06-09 18:37] westsuhanic opened #18355 "[zlib] build failure"
**Host Environment**
- OS: Windows 10, Version 21H1
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
1)Start VS 2019
2)Clone a repository which in this case is vcpkg
Cloning and building vcpkg within Visual Studio 2019, Community Edition

**Failure logs**
Severity	Code	Description	Project	File	Line	Suppression State
Error		CMake Error at C:/Program Files (x86)/Microsoft Visu

[2021-06-09 20:31] kotori2 opened #18356 "[mbedtls] find_package not available"
I've tried `find_package(mbedtls CONFIG REQUIRED)` but it throws me an error
[code]

I also tried to ignore that error and link directly:
[code]
But it will fail:
[code]
So what should I do to use mbedtls with vcpkg?

[2021-06-09 20:54] kotori2 commented on #18356
Okay it seems it's missing some install calls in CMakefiles.
Tried the following patch and it still producing a lot of errors.
[code]

[2021-06-09 21:50] #16288 closed

[2021-06-09 22:16] #17594 closed

[2021-06-09 22:27] #17992 closed

[2021-06-09 22:28] #17781 closed

[2021-06-09 22:28] #18079 closed

[2021-06-09 22:38] #18064 closed

[2021-06-09 22:51] #18081 closed

[2021-06-09 23:33] #14849 closed

[2021-06-09 23:33] #18011 closed

[2021-06-10 00:06] #18193 closed

[2021-06-10 00:07] #18173 closed

[2021-06-10 01:16] byxrolland opened #18357 "[tiff:x64-windows] build failure"
**Host Environment**
- OS: Windows10
- Compiler: VS 16.10.1

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install tiff:x64-windows`

**Failure logs**
[code]

**Additional context**
I try to connect/disconnect VPN, but it changes nothing.
I think it has something to do with the error `invalid command: x-download`.

[2021-06-10 01:49] NancyLi1013 commented on #14849
@HappySeaFox Please update to the latest vcpkg to rebuild this.

[2021-06-10 02:09] JackBoosY commented on #17476
@kalijana  Please open an new issue. Thanks.

[2021-06-10 02:09] #17476 closed

[2021-06-10 02:09] Hoikas commented on #18357
Trying deleting vcpkg.exe and run bootstrap.bat again.

[2021-06-10 02:12] JackBoosY commented on #18341
Stuck on cmake.exe, maybe related to https://github.com/microsoft/vcpkg/issues/10884.

[2021-06-10 02:17] NancyLi1013 commented on #17917
As you can see here https://github.com/microsoft/vcpkg/pull/10964#issuecomment-656362040, for the problem caused by Ninja, it would be better to fix on ports sides.

The original problem is different from the one in #10964. I also noticed that you opened another issue #17924, but you closed it. So please let me know if you have other concerns about the original problem in this issue.

[2021-06-10 02:27] JackBoosY commented on #18357
`Vcpkg version: 2021-01-13-d67989bce1043b98092ac45996a8230a059a2d7e`
Your vcpkg is outdated, please run bootstrap again.

Thanks.

[2021-06-10 02:30] JackBoosY commented on #18355
Now, vcpkg internal code has been separated from repo `vcpkg` to `vcpkg-tool`, and use bootstrap to download signed binary instead of building it.
So are you sure that the vcpkg of your clone is the latest?

[2021-06-10 03:11] PhoebeHui commented on #9344
@m17kea, thanks for your reponse! the libc++ has been added by default on osx, and libstdc++ has been added by default on linux, for gcc on osx platform, we need manualy linked libstdc++. Since it is not be a problem now, close this issue now.

[2021-06-10 03:11] #9344 closed

[2021-06-10 03:17] westsuhanic commented on #18355
Hi:

thanks for getting back to me.

I carried out the steps found at https://github.com/Microsoft/vcpkg#quick-start-windows .
I have used the signed binary, vcpkg.exe.
When I do:

it fails on the ninja -v command and the error log gives basically the same error message that a simple program cannot be built.

Any suggestions on how to solve this would be greatly appreciated.

thanks

[2021-06-10 03:31] jleaders commented on #18179
Okay, I found out how to fix it. I had gotten myself in a corrupted state by unloading and loading VS projects while VS was open AND while running `vcpkg integrate project/install` commands.

 I misunderstood those commands. I thought `vcpkg integrate project` installed MSBuild vcpkg just for that project so I thought I had to run that for each .vcprojx.
Rather, `vcpkg integrate project` may be be

[2021-06-10 03:31] #18179 closed

[2021-06-10 04:08] bt-ncarroll commented on #18341
There are a number of agents running on the system (which I cannot disable), but I can confirm that:
- The system is not going to sleep
- Other libraries build correctly, including the previous version of the same library with the same port file (this is the only time I have observed this issue)

Also note that, in all the cases I have tried to look at, vcpkg.exe has an open handle to a process (a

[2021-06-10 04:12] lyxr commented on #18349
i try to install the other package.There exits another error.

-

    Command failed: D:/vcpkg/downloads/tools/cmake-3.20.2-windows/cmake-3.20.2-windows-i386/bin/cmake.exe D:/vcpkg/buildtrees/flann/src/638c8c7d9d-fc62c919a5.clean -DWITH_HDF5=OFF -DWITH_CUDA=OFF -DBUILD_DYNAMIC=1 -DBUILD_STATIC=0 -DBUILD_CUDA_LIB=OFF -DBUILD_EXAMPLES=OFF -DBUILD_TESTS=OFF -DBUILD_DOC=OFF -DBUILD_PYTHON_BINDINGS=OFF

[2021-06-10 04:33] abhinavdayal opened #18361 "[flashlight-cuda:x64-linux] build failure"
**Host Environment**
- OS: Ubuntu 10.04.2 LTS
- Compiler: gcc 9.3.0, CUDA 11.3

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install flashlight-cuda`

**Failure logs**
[code]
**Additional context**
Already installed MKL and ran environment setup for that. Also set up nvcc correctly. It correctly installed following
[code]

[2021-06-10 05:16] chaquator opened #18363 "[devil] build failure"
**Host Environment**
- OS: Windows 10 x64
- Compiler: gcc 10.2.0 mingw64

**To Reproduce**
Steps to reproduce the behavior:
1. `./vcpkg install devil`
2. Try to build a project with ILUT
Somewhere in the C file:
[code]
Somewhere in the CMake file:
[code]
3.

**Failure logs**
[code]

**Additional context**
This issue goes away when I copy `ilut_config.h` from `DevIL/include/IL` into `vcpkg/installe

[2021-06-10 05:24] bt-ncarroll commented on #18341
Another interesting data point, from further experimentation:

If I do a `vcpkg.exe build [port]`, followed by `vcpkg.exe install [port]`, that succeeds. It's strange, but maybe that helps diagnose? It should be sufficient for a workaround for now, but still a bizarre issue...

[2021-06-10 05:29] bt-ncarroll commented on #18341
Although now I get `Value was null` running `vcpkg.exe build [anything]`, so perhaps that's not a good workaround in general.

[2021-06-10 05:37] JackBoosY commented on #16365
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-06-10 05:37] #16365 closed

[2021-06-10 05:57] JackBoosY commented on #15930
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-06-10 05:57] #15930 closed

[2021-06-10 05:59] #8674 closed

[2021-06-10 06:00] JackBoosY commented on #15441
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-06-10 06:00] #15441 closed

[2021-06-10 06:02] bt-ncarroll commented on #18341
No, spoke too soon; just got the hang with `vcpkg.exe build [port]`, same symptoms. So it seems to be somewhat intermittent and/or timing based, perhaps?

[2021-06-10 06:03] JackBoosY commented on #15329
I think that's by design.
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-06-10 06:03] #15329 closed

[2021-06-10 06:08] JackBoosY commented on #14690
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-06-10 06:08] #14690 closed

[2021-06-10 06:10] JackBoosY commented on #14631
Hi @L0ric0, does this issue still bother you?

[2021-06-10 06:12] JackBoosY commented on #14362
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-06-10 06:12] #14362 closed

[2021-06-10 06:13] bt-ncarroll commented on #18341
Also, fwiw, it appears the orphaned process/thread handles within the vcpkg.exe is to cmake.exe (which has terminated). Don't know if that helps diagnose at all, but that appears to be the case.

[2021-06-10 06:15] JackBoosY commented on #14355
Also, `FindGTest.cmake` provides some special functions. If we add a wrapper, the user's right to use these functions is cancelled.

Closed this issue by solved.

[2021-06-10 06:15] #14355 closed

[2021-06-10 06:16] PhoebeHui commented on #9147
The docs has been updated, so this issue can be closed now.

[2021-06-10 06:16] #9147 closed

[2021-06-10 06:18] JackBoosY commented on #16850
I personally think this is a bug, but I don't have a clue about this.

[2021-06-10 06:24] JackBoosY commented on #18356
mbedtls has NOT been added this patch in vcpkg, causing it to not generate any cmake configuration files.
Even if it has a vcpkg cmake wrapper, but it only support Windows and enable feature `pthreads`.

[2021-06-10 06:56] ChrisNabold opened #18365 "[gsl]Update to 2.7"
When will an update to GSL 2.7 for vcpkg be available?

[2021-06-10 07:06] JonLiu1993 commented on #18365
Duplicate of #18240

[2021-06-10 07:06] #18365 closed

[2021-06-10 07:10] NancyLi1013 commented on #18337
Confirmed, this issue also exists on Visual Studio 2015.

@strega-nil-ms could you please help take a look?

[2021-06-10 07:14] JackBoosY commented on #18355
@westsuhanic Can you please provide the full logs?

[2021-06-10 08:05] PhoebeHui commented on #12540
I have confirmed, this is built successfully for me.

[code]

[code]

[2021-06-10 08:05] #12540 closed

[2021-06-10 08:12] NancyLi1013 commented on #15333
Sorry for the long delay. I have tested your project on my machine. There are some errors.

But the headers should be included like this:

[code]

And update` #include "OgreRTShaderSystem.h"` as` #include "../RTShaderSystem/OgreRTShaderSystem.h"` in _../Bites/OgreSGTechniqueResolverListener.h_ file.

There are also some build errors like this:

[code]

[2021-06-10 08:50] ahugeat commented on #17165
I have the same issue but have found a [stackoverflow thread](https://stackoverflow.com/questions/66673249/fatal-error-c1083-cannot-open-include-file-ifaddrs-h-no-such-file-or-direct)
Add this condition
[code]
Fix the issue but I am not familiar with live555 and Windows API so I don't kown if it's best way to fix the build

[2021-06-10 09:35] prateek9623 commented on #17087
@NancyLi1013 issue is still there, but I am using boost now

[2021-06-10 09:59] TakenYang opened #18368 "[lapack:x64-windows] build failure"
**Host Environment**
- OS: [e.g. Windows/Linux etc...]
- Compiler:
      -- Selecting Windows SDK version 10.0.14393.0 to target Windows 10.0.19042.
      -- The C compiler identification is MSVC 19.0.24215.1
      -- The CXX compiler identification is MSVC 19.0.24215.1

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install lapack`

**Failure logs**

CMake Error at scripts/cmake/vcpkg

[2021-06-10 10:02] PhoebeHui commented on #18352
@zcream, AFAIK, this is no way to pass the option in cli, however, you can remove 'PREFER_NINJA' from portfile.cmake, it will msbuild to build the project..

[2021-06-10 10:16] yzw88 opened #18369 "关于uwebsocket的lib的问题。"
When asking a question please also include where you looked for an answer (so we can update the documentation if needed).
你好。请教下。

root@localhost vcpkg]# ./vcpkg install uwebsockets
Computing installation plan...
The following packages are already installed:
    uwebsockets[core]:x64-linux -> 19.0.0.5
Package uwebsockets:x64-linux is already installed

Total elapsed time: 20.73 us

The package uwe

[2021-06-10 10:19] NancyLi1013 commented on #18349
Hi @lyxr

Thanks for posting this issue.
For `openssl`, there is also a related issue from upstream https://github.com/openssl/openssl/issues/9676.

For `flann`, please provide the error log from _D:\vcpkg\buildtrees\flann\config-x64-windows-dbg-out.log_ and `D:\vcpkg\buildtrees\flann\config-x64-windows-dbg-err.log`.

[2021-06-10 10:26] NancyLi1013 commented on #18361
Hi @abhinavdayal

Thanks for posting this issue.
Can you try to rebuild with the following changes?

Add these codes to `vcpkg_configure_cmake()`
[code]

Remove this line:

https://github.com/microsoft/vcpkg/blob/680b27d15f4d62bc6181fd33dc5259482b0890b1/ports/flashlight-cuda/portfile.cmake#L22

Update this line
https://github.com/microsoft/vcpkg/blob/680b27d15f4d62bc6181fd33dc5259482b0890b1/ports/

[2021-06-10 10:29] PhoebeHui commented on #18363
@chaquator, thanks for reporting this issue!

It looks the headers hasn't been installed, see https://github.com/DentonW/DevIL/blob/master/DevIL/src-ILUT/CMakeLists.txt#L102, could you also report an issue to Upstream?

[2021-06-10 10:31] PhoebeHui commented on #18351
@ErnestoQuispe, could you attach full failure logs?

[2021-06-10 10:36] krosph opened #18370 "[core] build failure for lzo and other packages"
**Host Environment**
- OS: Windows
- Compiler: cl 19.28.29914

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg update`
`git pull`
`./vcpkg install lzo`

**Failure logs**
...
`invalid command: x-download`
`Commands:`
...

`CMake Error at scripts/cmake/vcpkg_download_distfile.cmake:226 (message):`

      Failed to download file.
      If you use a proxy, please check your proxy setting. P

[2021-06-10 10:36] NancyLi1013 commented on #17665
Hi @wilambatch

Is this still a problem for you now?

[2021-06-10 10:57] mcmtroffaes commented on #12376
As a side effect of #17985 (which has just been merged), pkg_check_modules seems to be working now. Is anyone still seeing issues?

[2021-06-10 11:21] ErnestoQuispe commented on #18351
this is my output?
Build started...
1>------ Build started: Project: vpk5, Configuration: Debug x64 ------
1>Installing vcpkg dependencies to C:\Users\34675\source\repos\vpk5\vcpkg_installed\
1>"C:\vcpkg\scripts\buildsystems\msbuild\..\..\..\vcpkg.exe" install  --x-wait-for-lock --triplet "x64-windows" --vcpkg-root "C:\vcpkg\scripts\buildsystems\msbuild\..\..\..\\" "--x-manifest-root=C:\Users\3467

[2021-06-10 11:35] krosph commented on #18370
Fixed by running the bootstrapping routine again.

[2021-06-10 11:35] #18370 closed

[2021-06-10 13:33] richjohnson-wwt commented on #17571
I am no longer using vcpkg in this project nor have an environment to check.  You can close the issue.  Thanks for checking.

[2021-06-10 13:33] #17571 closed

[2021-06-10 13:37] Osyotr commented on #3204
@NancyLi1013 I'm not sure if it's the same issue, but every time I do minor change in some CMakeLists.txt, I get this output:
[code]

I do use boost, eigen3 and pcl, but I also use glm, flann and Qt which are not being searched over and over again:
[code]

As a result, every change in some unrelated `CMakeLists.txt` is 15 seconds wasted.

[2021-06-10 15:25] DougRogers opened #18372 "[New Port Request] Emscripten"
Library name: Emscripten

Library description: Emscripten compiles C and C++ to WebAssembly using LLVM and Binaryen. Emscripten output can run on the Web, in Node.js, and in wasm runtimes.

Source repository URL:https://github.com/emscripten-core/emscripten

Project homepage (if different from the source repository):

This is required by Qt to run apps in a browser.
 https://doc.qt.io/qtcreator/cr

[2021-06-10 15:43] vlovch01 opened #18373 "[fruit] build failure arm64:android"
**Host Environment**
- OS: Windows 10
- Compiler: Clang 11.0.5
NDK: **android-ndk-r22b**

**To Reproduce**
Steps to reproduce the behavior:
./vcpkg.exe install fruit:arm64-android

**Failure logs**
-Cut and past the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

Performing C++ SOURCE FILE Test FRUIT_HAS_CLANG_ARBITRA

[2021-06-10 16:24] remz1337 opened #18375 "[armadillo:x64-windows] build failure"
**Host Environment**
- OS: Windows 10 x64

**To Reproduce**
Steps to reproduce the behavior:
-Have the previous version of the port installed (10.2.0)
-Run `./vcpkg update`
-Upgrade ports with `./vcpkg upgrade --no-dry-run`

**Failure logs**
Sorry I did not capture it before solving the issue, but it was something about `x-download` not being a command.

**Additional context**
After that I tried t

[2021-06-10 16:43] JamesBewley opened #18376 "How do I ... Build a release version of my binary"
This seems like a silly question but I have tried passing options to vcpkg and cmake but my binary always comes out as x64-linux with debug.

How do I get my project to compile with CMAKE_CXX_FLAGS_RELEASE?

This is my process
`cd vcpkg
./bootstrap-vcpkg.bat
./vcpkg install --triplet x64-linux cpprestsdk libmysql paho-mqtt openssl
cd ..
cmake -B build -DCMAKE_TOOLCHAIN_FILE=./vcpkg/scripts/buildsy

[2021-06-10 16:53] dg0yt commented on #18376
a) Did you try `-DCMAKE_BUILD_TYPE=Release`?  `RELEASE` will use `CMAKE_CXX_FLAGS_RELEASE`, but for cmake commands that compare the type literally, the case may matter - for example for selecting library variants.
b) What do you expect to see `PROJ.cpp.o` with regard to the build type? It is not an installed executable.
c) You may set environment variable `VERBOSE=1` when you want to see verbose o

[2021-06-10 16:59] JamesBewley commented on #18376
Apologies for spamming this project, it is all to do with CMake (a port from msbuild).  The verbose build prints the build command and -DCMAKE_BUILD_TYPE=Release does seem to be working but there are some default options that are conflicting with my own.

Thanks for pointing me in the right direction

[2021-06-10 16:59] #18376 closed

[2021-06-10 18:23] #17342 closed

[2021-06-10 18:44] remz1337 commented on #18375
damn, why do I always forget that when I update my port. Thanks!

[2021-06-10 19:59] westsuhanic commented on #18355
Hello:

Thank you for your help.

I have just verified using Visual Studio Install 2019 that I have:

1)English language pack installed.
2)I have Windows 10 SDK v10.0.18362.0 installed.

What else do I need installed?

I have tried performing vcpkg install zlib:x64-windows under both the developer command shell-(x64 Native Tools Command prompt for VS2019) and the Developer PowerShell for VS 2019.

[2021-06-10 21:51] BillyONeal commented on #18326
Proposed changes:

* Change canonical in vcpkg-tool to fixup path case + absolute + lexically_normal instead
* Change windows test fleet to run in a subst environment
* Check macos for unicode normalization edge cases

[2021-06-10 22:59] BillyONeal commented on #15381
@strega-nil did this

[2021-06-10 22:59] #15381 closed

[2021-06-10 23:02] #18058 closed

[2021-06-10 23:03] BillyONeal opened #18379 "vcpkg CI infrastructure is running out of disk space"
Consider this recent build: https://dev.azure.com/vcpkg/public/_build/results?buildId=54682&view=logs&j=821e2c31-c252-5a5c-eeb9-89df78f2f610&t=a92823a3-8612-55a7-0645-af99349e0762

x64-windows-static ends with:

and

[2021-06-10 23:04] BillyONeal commented on #18379
(Note D: has no space left in that output)

[2021-06-10 23:13] #18062 closed

[2021-06-10 23:16] #15698 closed

[2021-06-10 23:22] #18247 closed

[2021-06-10 23:28] bt-ncarroll commented on #18341
I've been debugging a little; vcpkg.exe appears to be hanging in ReadFile (system.process.cpp, around 512).

I do not have any idea why this would be the case, especially for this specific project/build, and/or what's causing it, but that's the line which is apparently causing the process to hang.

[2021-06-11 02:26] fan809583247 opened #18380 "Can vcpkg install the local installation package？"
vcpkg may fail to down the pckage for linker ,so if  vcpkg can install the local installation package would be better

[2021-06-11 02:29] NancyLi1013 commented on #18369
Hi @yzw88

Thanks for posting this issue.
Since `uwebsockets `is a header-only library. There are no any libs or dlls generated in this port. The current behavior is intended.

[2021-06-11 02:29] JackBoosY commented on #18341
@bt-ncarroll Looks like a permission issue.
@strega-nil-ms Do you have any ideas?

[2021-06-11 02:31] PhoebeHui commented on #18351
@ErnestoQuispe, this is a Upstream issue, and it has been fixed by adding patch in vcpkg, see related PR https://github.com/microsoft/vcpkg/pull/17528, so you may need to use version '2.42.2#1' via overriding below code in your vcpkg.json file.

[code]

[2021-06-11 02:33] NancyLi1013 commented on #18276
@AaronVanCuren

Can you provide the error info here?

[2021-06-11 02:34] JackBoosY commented on #18379
Hmm.. which label should I choose.

[2021-06-11 02:35] JackBoosY commented on #18355
Can you please re-install Windows SDK?

Thanks.

[2021-06-11 03:05] ivanovmp opened #18381 "[mongo-c-driver[core]:x64-windows] build failure"
**Host Environment**
- OS: Windows 10 Home
- Compiler: Optimizing Compiler Microsoft (R) C/C++ version 19.28.29913 for x86

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install mongo-c-driver[core]:x64-windows`

**Failure logs**
[code]
Internals of `C:\misc\vcpkg\buildtrees\mongo-c-driver\config-x64-windows-out.log`:
[code]

[2021-06-11 05:36] TakenYang commented on #18368
I think that is because I installed x86 version package, I create another vcpkg folder and install all the packages with --triplet=x64-windows, I didn't face this issue. So it works now.

[2021-06-11 05:36] #18368 closed

[2021-06-11 05:56] JonLiu1993 commented on #18381
@ivanovmp ,Thanks for posting this issue,
[code]
Could you check if installed the libbson in your vcpkg?

[2021-06-11 06:01] kokulshan opened #18382 "[protobuf] update to v3.17.3"
Library name: protobuf [repo](https://github.com/protocolbuffers/protobuf)

New version number: v3.17.3

Other information that may be useful (release notes, etc...)

See https://github.com/protocolbuffers/protobuf/releases/tag/v3.17.3

The version on vcpkg is a few versions behind at the 3.15.x series.

[2021-06-11 06:01] PhoebeHui commented on #18380
@fan809583247, could you provide us more details? I'm not sure what do you expect in vcpkg?

[2021-06-11 06:20] upupming commented on #16955
@PhoebeHui Thanks for your hard work, I confirm this Bug has been fixed!

[2021-06-11 06:29] upupming commented on #17281
@PhoebeHui I canfirm this version of protobuf is still getting this patch failed error

[2021-06-11 06:51] ivanovmp commented on #18381
I guess it wasn't installed, but it's weird that `libbson` didn't install itself as a dependency. I now reinstalled the whole `vcpkg` and useful packages, and `libbson` was installed as a dependency:
[code]
So I can't imagine why couldn't `mongo-c-driver` pull this dependency and install both packages without an error.

[2021-06-11 06:54] JackBoosY commented on #18381
@ivanovmp Maybe related to PR https://github.com/microsoft/vcpkg/pull/14720, your vcpkg is outdated, so you should pull the latest commit then rebuild libbson.

[2021-06-11 06:54] #18381 closed

[2021-06-11 07:16] PhoebeHui commented on #18363
@chaquator, I have submitted a PR to fix this, btw, I have already report this issue to Upstream https://github.com/DentonW/DevIL/issues/96

[2021-06-11 07:18] PhoebeHui commented on #17281
@upupming, thanks, It's a same issue with #16955.

[2021-06-11 07:49] JackBoosY commented on #16831
See https://github.com/microsoft/vcpkg/blob/master/docs/examples/packaging-github-repos.md.
We should improve our document.

[2021-06-11 08:16] chaquator commented on #18363
Awesome, thank you so much!

[2021-06-11 08:16] #18363 closed

[2021-06-11 08:32] playgithub opened #18388 "vcpkg metrics problem in new version"
OS: Windows
vcpkg: commit 7d472dd25

[code]

[code]

With or without `-disableMetrics`, it shows that it download the same binary.
How to ensure no metrics?

The desciption here (https://github.com/microsoft/vcpkg#telemetry) is out of date.

[2021-06-11 09:54] ErnestoQuispe commented on #18351
Thank you.
I added the line and the package was installed correctly.
However now I have this error message:
I am not sure if the commit that I am using is correct or the port of gtkmm 3.22.2.

![image](https://user-images.githubusercontent.com/84517625/121667827-f777b280-caaa-11eb-87d3-0f299fae0a5f.png)

Build started...
1>------ Build started: Project: vpk5, Configuration: Debug x64 ------
1>Inst

[2021-06-11 12:25] steelONIONknight opened #18391 "Error: Building package opencv4:x64-windows failed with: BUILD_FAILED"
Error: Building package opencv4:x64-windows failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `.\vcpkg update`, then
submit an issue at https://github.com/Microsoft/vcpkg/issues including:
  Package: opencv4:x64-windows
  Vcpkg version: 2021-05-05-9f849c4c43e50d1b16186ae76681c27b0c1be9d9

here is my log: [config-x64-windows-out.log](https://gist.github.com/steelONIONkn

[2021-06-11 14:20] westsuhanic commented on #18355
Hi Jack:

Thank you for all your suggestions.

I have installed and uninstalled then re-installed VS 2015, Vs 2017 and VS 2019.

When you you say install Windows SDK, which one? Could you please give me a specific number. Also do I use, the um or ucrt version?

thank you.

[2021-06-11 14:22] JamesBewley commented on #9324
Excuse my ignorance but how do I include this in my `CMakeLists.txt`?

I've installed with `./vcpkg install gperftools --triplet x64-linux` which worked but there was no advice on the end of the output describing how to use it.

I tried `find_package(gperftools REQUIRED)` but that doesn't work.

Is there another standard way to include this type of port?

[2021-06-11 15:03] playgithub opened #18394 "[OpenSSL] Link Error"
My private port uses md5 in `openssl`, the port is installed successfully.
but after upgrading, link error occurs as below.

[code]

However if using md5 in `openssl` in a native VS2019 slution, it works well.

What's the problem?

BTW, my lib depends many libs, all works well expcet this one
[code]

[2021-06-11 15:45] #16709 closed

[2021-06-11 15:48] #17842 closed

[2021-06-11 15:58] playgithub commented on #18394
should be
[code]
instead of
[code]

[2021-06-11 15:58] #18394 closed

[2021-06-11 16:21] #18281 closed

[2021-06-11 16:22] #18287 closed

[2021-06-11 16:23] #18292 closed

[2021-06-11 16:24] #15741 closed

[2021-06-11 16:25] #18312 closed

[2021-06-11 16:40] #12297 closed

[2021-06-11 16:52] #18331 closed

[2021-06-11 16:55] bt-ncarroll commented on #18341
I have a bit more info, from debugging and experimental code in vcpkg.exe:

It appears that the issue is happening within cmake.exe, and is causing ReadFile on the pipe to fail. Also, cmake.exe is returning an error code after it's operation: 0xc0000409

This is the test code I wrote to try to identify the issue, within system.process.cpp:
[code]

The observed behavior in my test case with the tes

[2021-06-11 17:14] heckj commented on #15741
🙇

[2021-06-11 19:29] Brooklyn2001 opened #18395 "[libgnutls] build failure"
**Host Environment**
- OS: [e.g. Windows/Linux etc...]Windows 10
- Compiler: revision Visual Studio 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install libgnutls:x64-windows
`

**Failure logs**
-Cut and past the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.
[config-x64-windows-rel-err.log](https:

[2021-06-11 19:48] powel-jeh opened #18396 "[otl] Wrong SHA512"
**Host Environment**
- OS: whichever

**To Reproduce**
Steps to reproduce the behavior:
[code]
Compare vs `
d1f777dea53f4451616ef628680d070db1fe53683571bd509f58dba9c1e64fe6caa8a81d2f47876c2128af701ba19dc2e9c5612a57232efca3ad084843f272b6` in portfile.

[2021-06-11 20:21] Conan42 commented on #18342
No other ideas? Why do I have the impression that this utility does nothing? just wasting time. After C ++ programmers can criticize Java. But the Java eco system manages dependencies much better.

[2021-06-12 00:35] byxrolland commented on #18357
It helps. Thanks.

[2021-06-12 00:35] #18357 closed

[2021-06-12 03:09] stephengtuggy commented on #18162
@JackBoosY I don't think this issue can be closed just yet. The original problem -- that a virus is detected when gdk-pixbuf is built -- still exists. All we have is a workaround, not a fix.

This might need to be fixed by the upstream project, though.

[2021-06-12 03:38] dg0yt commented on #18342
So vcpkg still reports "Could not find gperf" but you verified that `gperf --version` works?

[2021-06-12 05:43] XuRongYan opened #18401 "[New Port Request] <pmp-library>"
Library name: pmp-library

Library description: The Polygon Mesh Processing Library is a modern C++ open-source library for processing and visualizing polygon surface meshes.

Source repository URL: https://github.com/pmp-library/pmp-library/

Project homepage (if different from the source repository): http://www.pmp-library.org/

Anything else that is useful to know when adding (such as optional

[2021-06-12 06:22] Conan42 commented on #18342
mich@Ticonderoga:~$ gperf --version
GNU gperf 3.1
Copyright (C) 1989-2017 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.
Written by Douglas C. Schmidt and Bruno Haible.

[2021-06-12 06:29] Conan42 commented on #18342
I repeat a test :

mich@Ticonderoga:~$ cd vcpkg-master/
mich@Ticonderoga:~/vcpkg-master$ ./vcpkg install osg
Computing installation plan...
The following packages will be built and installed:
  * fontconfig[core]:x64-linux -> 2.13.1#7
    osg[core]:x64-linux -> 3.6.5#7
Additional packages (*) will be modified to complete this operation.
Detecting compiler hash for triplet x64-linux...
Could not lo

[2021-06-12 07:14] dg0yt commented on #18342
Indeed, so "still the same problem" isn't the case.

From this error message, I would suggest to install the [package which provides `/usr/bin/autoreconf`](https://packages.ubuntu.com/search?searchon=contents&keywords=autoreconf&mode=exactfilename&suite=hirsute&arch=any).

But it may be more convenient to shortcut the installing of individual packages by simply installing `packaging-dev`.

[2021-06-12 08:11] twindan opened #18402 "Upgraded packages and then having a failed build leaves all packages uninstalled"
****

Steps to reproduce:

1. Have out of date packages
2. Do a "vcpkg upgrade --no-dry-run"
3. Watch vcpkg uninstall all of the packages for some reason
3. Have the build fail for some reason
4. Watch all of the installed packages disappear and there is no way to know what packages were previously installed

**Proposed solution**
Since rolling back would be difficult (and some of the upgrades mig

[2021-06-12 13:18] ChanthMiao opened #18406 "vcpkg create doesn't work."
**Describe the bug**
`vcpkg create` doesn't work. It throws sha512 error.

**Environment**
- OS: windows 10 v10.0.19042.0
- shell: powershell Core 7.1.3
- vcpkg: 2021-05-05-9f849c4c43e50d1b16186ae76681c27b0c1be9d9

**To Reproduce**
Steps to reproduce the behavior:
1. `.\vcpkg.exe create everything https://github.com/ChanthMiao/Everything-SDK/archive/refs/tags/1.0.0.zip Everything-SDK-1.0.0.zip`
2.

[2021-06-12 16:03] playgithub opened #18407 "regression error for a new port"
`vcpkg install xlsxio:x64-windows` succeeds on my pc,
but when PR testing, failed as below
[code]
https://dev.azure.com/vcpkg/public/_build/results?buildId=54840&view=logs&j=c7e67a25-2047-5d01-7913-57de0573f534&t=0e07d234-e12f-5893-a7f1-2767a24f64ae&l=1816

What does it mean? How to solve it?

https://github.com/microsoft/vcpkg/pull/18400

[2021-06-12 16:04] SpriteOvO opened #18408 "[OpenSSL] build failure"
**Host Environment**
- OS: Windows
- Compiler: MSVC (VS Version 16.10.1)

**To Reproduce**
`./vcpkg.exe install openssl:x64-windows-static`
[code]
[code]

**Failure logs**
[code]

**Additional context**
Adding `crypt32` to my own `target_link_libraries` would fix the problem.
[code]

[2021-06-12 16:08] dg0yt commented on #18407
There are failure logs available in the "artifacts of the CI build.
[code]

[2021-06-12 19:54] thepian opened #18412 "[ubuntu 20.04][docker] build failure"
**Host Environment**
- OS: Ubuntu 20.04
- Compiler: llvm 6.0

**To Reproduce**
git clone https://github.com/microsoft/vcpkg && ./vcpkg/bootstrap-vcpkg.sh

**Failure logs**

[code]

### Dockerfile

[code]

[2021-06-13 00:35] autoantwort commented on #18412
Maybe some solution from https://gitlab.kitware.com/cmake/cmake/-/issues/20568#note_805618 helps

[2021-06-13 01:22] sekcheong commented on #18229
@NancyLi1013 Thank you for looking into this.

[2021-06-13 01:22] #18229 closed

[2021-06-13 02:04] playgithub commented on #18407
![log_link](https://user-images.githubusercontent.com/3665590/121793125-9f69b900-cc2e-11eb-9e6f-4c485c23134a.PNG)
Is this the only link for the logs?

[2021-06-13 02:04] #18407 closed

[2021-06-13 03:30] Apache-HB opened #18415 "[llvm] build failure"
**Host Environment**
- OS: Windows
- Compiler: cl Version 19.29.30037 for x64

**To Reproduce**
`./vcpkg install llvm --triplet x64-windows`

**Failure logs**
[code]

[2021-06-13 04:45] dg0yt commented on #18407
This is the link from the particular job.
There is another one, "12 generated" in the "related" column of the overview page for this CI run:
https://dev.azure.com/vcpkg/public/_build/results?buildId=54840&view=results
This page can be reached either via the backwards arrow above the job list, or by clicking the run number (20210612.26) in the breadcrumb path at the top.

On the artifact list, move

[2021-06-13 05:48] playgithub opened #18416 "Dependency error when porting (minizip[bzip2])"
When porting `xlsxio`, link error as below, but minizip[bzip2] as a dependency has been installed with the same triplet
[code]

`vcpkg.json` for port `xlsxio`
[code]

[2021-06-13 08:46] mathisloge opened #18419 "broken --head after #18285"
**Describe the bug**
when installing  a port with --head flag, it will fail due to #18285

**Environment**
- OS: [e.g. Windows/Linux etc...]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install --head inja
2. See error

**Fixed with***

[code]

**Failure logs**
[code]

[2021-06-13 09:00] playgithub opened #18420 "`vcpkg list --triplet=x64-windows` shows packages in all triplets"
`vcpkg list --triplet=x64-windows` shows packages in all triplets, not working as the doc says:
[code]

[2021-06-13 10:47] playgithub opened #18421 "`vcpkg install zlib` refers to a non-exist port"
`vcpkg install zlib` refers to a non-exist port that's cleaned by `git reset --hard`

[code]

[2021-06-13 10:52] Colon-D opened #18422 "Why can git not be found when I install a package?"
I am making a port for personal use of "joyshocklibrary". This is my first port and I am very inexperienced with CMake and with Vcpkg.

"joyshocklibrary" uses "CPM.cmake", and "CPM.cmake" uses git.

When running `.\vcpkg install joyshocklibrary`, the build fails.
The output log file states "error: could not find git for clone of hidapi-populate".

This should not happen. Git exists on my computer,

[2021-06-13 11:26] DanL1234 opened #18423 "How do I set the compiler to use for a package and all its dependencies?"
Background to issue:
https://github.com/mlpack/mlpack/issues/2971

In the above, the advice was to compile armadillo on its own with the cl.exe compiler and the right compile flags - with much reading, I think I can do this within armadillo's CMakeLists.txt by setting:

set(CMAKE_C_COMPILER "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Tools\MSVC\14.16.27023\bin\HostX64\x64" )

[2021-06-13 11:39] horenmar commented on #11006
I noticed that the actual vcpkg sources have moved to a different repository, so keeping this issue here is pointless.

[2021-06-13 12:44] owent opened #18424 "[libcopp] update to 1.4.1"
Library name: libcopp

New version number: 1.4.1

Other information that may be useful (release notes, etc...)

See https://github.com/owent/libcopp/blob/v2/CHANGELOG.md .

[2021-06-13 16:58] Umair-khalidkhan opened #18426 "One project detects vcpkg libraries others donot"
**Describe the bug**
the first ever dll I complied on VS 2017 after downloaded external dependancies from vcpkg, recognised and found the vcpkg libaries after applying the integrate install command, however no other file or project detects vcpkg libaries e.g: curl. Which is more annoying since once place is completely finds it the other fails to, I even recompiled the first dll with exactly same c

[2021-06-13 18:06] Schala opened #18427 "Qt6 qtbase build success is VERY hit or miss"
**Host Environment**
- OS: Windows 10
- Compiler: MSVC 16.10.1

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg install qtbase`

**Failure logs**
`-- Using cached C:/vcpkg/downloads/qtbase-v6.1.0.tar.gz
-- Extracting source C:/vcpkg/downloads/qtbase-v6.1.0.tar.gz
-- Applying patch jpeg.patch
-- Applying patch harfbuzz.patch
-- Applying patch config_install.patch
-- Applying patch allow_ou

[2021-06-13 19:41] Schala opened #18428 "Tried everything, vcpkg works with CMake but paths fail in Visual Studio 2019 on correct config"
Sorry to file another consecutive issue, but as the title says, vcpkg works with CMake but in VS2019, even with x64 and Debug correctly set, no include or lib paths are found.

Tell me if I slipped up on the steps:
- vcpkg dir is C:\vcpkg
- VCPKG_DEFAULT_TRIPLET set to x64-windows (VS2019 reflects this, too)
- vcpkg install boost
- vcpkg integrate install
- CMake GUI, I have 'CMAKE_TOOLCHAIN_FILE'

[2021-06-13 20:21] DanL1234 opened #18429 "Virus in package!!?? (or compiler??)"
**Describe the bug**
ran:
.\vcpkg install mlpack:x86-windows
Build was interrupted at the same time as the powershell window reported an in issue:

********************************************************************
Powershell text (abbreviated):
...
Installing package vcpkg-gfortran[core]:x86-windows... done
Elapsed time for package vcpkg-gfortran:x86-windows: 1.353 min
Starting package 4/81: la

[2021-06-13 21:06] shanepowell opened #18430 "[winpcap] build failure with only build tools installed when using Visual Studio 2019"
**Host Environment**
- OS: Windows
- Compiler: Visual Studio 2019 Build Tools

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install winpcap:x64-windows`

**Failure logs**
[code]

**Additional context**
Visual Studio Build Tools does not contain "devenv.exe" so it makes sense that the above command fails.
Does it really need devenv.exe?

[2021-06-13 22:35] Neumann-A commented on #18427
CI disagrees (It basically builds it 6 times on different platforms for every change to a dependency).
I build it numerous times without any problem (Including GitHub action).
Maybe AV is screwing you? You can also try to deactivate ninja by removing `PREFER_NINJA` from https://github.com/microsoft/vcpkg/blob/92b42c4c680defe94f1665a847d04ded890f372e/ports/qtbase/cmake/qt_install_submodule.cmake#L8

[2021-06-13 23:47] YoungBlood01 opened #18433 "[yasm-tool] build failure ( all ports failing )"
**Host Environment**
- OS: Windows 10
- Compiler: visual studio 2019 16.10.1

**To Reproduce**
Steps to reproduce the behavior:
.\vcpkg --triplet x86-windows install yasm-tool

**Failure logs**
Detecting compiler hash for triplet x64-windows...
Detecting compiler hash for triplet x86-windows...
Could not locate cached archive: C:\Users\brody\AppData\Local\vcpkg\archives\c6\c6e03165c846e61635df4879

[2021-06-14 05:35] Schala commented on #18427
Now that you mention it, when I checked task manager, "Antimalware Service Executable" was eating up about 3 GB of memory. I wonder if I can tell it to take a hike while I build Qt6?

[2021-06-14 07:03] Osyotr commented on #18427
@Schala yes you can. It's also a good idea to exclude vcpkg.exe, cmake.exe, ninja.exe, cl.exe, ld.exe, devenv.exe and other related processes from scan. Build directories too.
And check your free storage space.

[2021-06-14 07:05] derreisende77 opened #18434 "[sqlite3] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: MSVC 16.10

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install sqlitecpp[sqlcipher]`

**Failure logs**
 vcpkg install sqlitecpp[sqlcipher]
Computing installation plan...
warning: vcpkg appears to be in a Visual Studio prompt targeting x86 but is installing packages for x64-windows. Consider using --triplet x86-windows or --triplet x

[2021-06-14 07:17] Schala commented on #18427
Thanks. I have 16 GB of RAM and was experiencing no slow downs, yet still was experiencing this. Tomorrow I'll plug those into the Antimalware and try it out.

[2021-06-14 08:20] playgithub opened #18437 "What's the best solution for private libs, and be ready to do a PR for some private lib one day?"
e.g. I have a lib that encapsulating small functionalities (e.g. format text in a human friendly way, http downlader by encapsulating libcurl), which are not suitable for a PR to the official vcpkg repository.

Now I fork vcpkg, treat local master branch as the main branch, i.e. merge my private libs to the local master branch and pull microsoft/vcpkg to the local master branch. The problem is tha

[2021-06-14 10:46] playgithub commented on #18421
After redoing everything including fork, the problem is solved.

[2021-06-14 10:46] #18421 closed

[2021-06-14 12:01] Neumann-A commented on #17557
add
[code]
to the portfile before `vcpkg_configure_make` and it should/will work.

[2021-06-14 12:08] autoantwort commented on #18437
1. Yes.
2. I always have a clean master branch that is in sync with vcpkg/master and always create new branches when I want to create a PR. Additionally I have a branch with local changes that I use in a project (or with private ports) and regularly merge master into this branch. But now you can create a own registry and use this feature instead: https://github.com/microsoft/vcpkg/blob/master/docs

[2021-06-14 12:09] autoantwort commented on #18434
Please update your vcpkg version with `git pull` and `./bootstrap-vcpkg.bat` and try again

[2021-06-14 13:05] Greisby opened #18441 "[mp3lame:x64-osx] build failure"
**Host Environment**
- OS: Mac OS Big Sur
- Compiler: Xcode 12.5
- vcpkg repository on a mounted samba share
- Macports installed

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install mp3lame`

**Failure logs**
-- Building x64-osx-dbg
… then waiting forever (I interrupted after the week-end).

**Additional context**
Waits forever for the deletion of a (non-existing!) file.
Last logs

[2021-06-14 13:05] SunBlack opened #18442 "[libusb] Compatibility to projects with imported targets"
Currently within PointCloudLibrary we have the problem (PointCloudLibrary/pcl#4653) that we have a `Findlibusb.cmake` that creates an imported target `libusb::libusb`, but when you build the PCl with vcpkg the script is not called so the imported target is not created.

The question now is how to work around this problem, and there are several ways:
1) Fix within the PCL: create the `libusb::libus

[2021-06-14 13:26] derreisende77 commented on #18434
missed the bootstrap cmd :(

[2021-06-14 13:26] #18434 closed

[2021-06-14 13:35] simon987 opened #18444 "[glib:arm64-linux] build failure"
**Host Environment**
- OS: linux arm64 (raspi 4B)
- Compiler: gcc (Ubuntu 9.3.0-17ubuntu1~20.04)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install glib`

**Failure logs**

[code]

**Additional context**

It seems to be a problem caused by meson, it fails at `Unhandled machine: aarch64`.

If I change the `scripts/cmake/vcpkg_configure_meson.cmake` like this, the package can be ins

[2021-06-14 14:48] cenit commented on #17557
and on windows? any idea, since you did a lot of debug of this problem?

[2021-06-14 14:57] Neumann-A commented on #17557
I don't now what happens on windows. If i run `vcpkg export <port> --nuget` on it it runs fine. I have seen some issues in other ports like boost as well which seems to be not getting exported into the binary cache while running  `vcpkg export <port> --nuget` doesn't yield an error.

[2021-06-14 14:58] mulderp opened #18446 "downloads/tools/ninja/1.10.1-linux/ninja: /lib64/libc.so.6: version `GLIBC_2.15' not found"
I am trying a fresh install on old machines of vcpkg with the bootstrap script.
There comes an error that latest Ninja version is unable to run ( see downloads/tools/ninja/1.10.1-linux/ninja: /lib64/libc.so.6: version `GLIBC_2.15' not found )

I then tried to bootstrap vcpkg with system binaries. This works fine and I get vcpkg binary.

However, when I then try to run vcpkg install sqlite3 I get t

[2021-06-14 14:59] Neumann-A commented on #17557
Ah maybe bumping nuget to 5.9.1 can help?

[2021-06-14 15:30] playgithub commented on #18437
I've tried to read it, the concepts are not intuitive for the simple functions.
I'll try `conan`.
Thanks all the same.

[2021-06-14 15:30] cenit commented on #17557
I will try updating nuget.
I experienced similar error on linux and windows for fontconfig when exporting to nuget, so I need to fix it on both OS

[2021-06-14 15:38] Neumann-A commented on #17557
I have currently the following error:

1. set an api key for nuget.
2.
[code]

[2021-06-14 15:40] playgithub commented on #18437
I've tried to read it, the concepts are not intuitive for the simple functions.
I'll try `conan`.
Thanks

[2021-06-14 15:40] #18437 closed

[2021-06-14 16:09] playgithub opened #18448 "[minizip] unresolved external symbols when linking `bzip2` functions"
**Describe the bug**
In `ports\minizip\portfile.cmake`:
[code]
For x64-windows, It patches files in `vcpkg/packages/minizip_x64-windows/include/minizip/`, the files in `installed` are not patched.

Results in link error
[code]

**Environment**
- OS: Windows
- Compiler: msvc

[2021-06-14 16:25] josbla89 opened #18449 "tiff:x86-uwp | BUILD_FAILED"
**Host Environment**
- OS: Windows 10 Home 2004
- Compiler: 2021-05-05-9f849c4c43e50d1b16186ae76681c27b0c1be9d9

**To Reproduce**
Steps to reproduce the behavior:
vcpkg install opencv[contrib]:x86-uwp --recurse

**Failure logs**

Computing installation plan...
The following packages will be built and installed:
    opencv[contrib,core,dnn,jpeg,png,quirc,tiff,webp]:x86-uwp -> 4.5.1
  * opencv4[cont

[2021-06-14 16:30] lijuncan opened #18450 "Error: Building package libusb:x64-linux failed with: BUILD_FAILED"
**Host Environment**
OS: Ubuntu 20.04
Compiler: gcc 9.3.0

**To Reproduce**
I'm trying to install the realsense software following these steps (https://github.com/IntelRealSense/librealsense). When I run ./vcpkg install realsense2 this error appears:

**Failure logs**
[code]

**Additional context**
Add any other context about the problem here, such as what you have already tried to resolve the iss

[2021-06-14 16:44] Conan42 commented on #18342
in the file autoconf-x64-linux-err.log:

autoreconf: Entering directory `.'
autoreconf: running: autopoint --force
Can't exec "autopoint": No such file or folder at /usr/share/autoconf/Autom4te/FileUtils.pm line 345.
autoreconf: failed to run autopoint: No such file or directory
autoreconf: autopoint is needed because this package uses Gettext

[2021-06-14 17:43] playgithub commented on #18416
Problem located
https://github.com/microsoft/vcpkg/issues/18448

[2021-06-14 17:45] playgithub commented on #18388
A file `vcpkg.disable-metrics` as a flag to disable temetry, `vcpkg.exe` has the ability of telemetry, though it can be opt-out, a backdoor may trigger it.

[2021-06-14 17:45] #18388 closed

[2021-06-14 18:15] ctapmex commented on #16579
One more things - X_VCPKG_NUGET_ID_PREFIX don`t working for download cached package.  -( Build is working, but it`s slow.

[2021-06-14 18:29] dg0yt commented on #18342
Install `autopoint`. Or...

(FTR I have two PRs which would add autopoint to vcpkg's gettext port for Linux: #18159, #17317.)

[2021-06-14 18:30] dg0yt commented on #18450
Install Ubuntu's `packaging-dev`.

[2021-06-14 18:30] timmeh87 commented on #18429
possibly relevant due to a similar detection:

https://github.com/microsoft/vcpkg/issues/8118

[2021-06-14 18:50] pgoodman commented on #14574
I am trying to use brotli, not using wasm/emscripten, but instead use asan. What I've discovered is that the `check_c_source_compiles` check in brotli's CMakeLists.txt for detecting emscripten support seems to always succeed. I tried manually patching in `#error 1` and also a string of random symbols into the call to `check_c_source_compiles` and neither of these caused the `check_c_source_compile

[2021-06-14 21:33] lijuncan commented on #18450
I am trying to install $ "sudo apt-get update -y", then I got the error 404 below:

vd3@vd3-virtual-machine:~/vcpkg$ sudo apt-get update -y
Hit:1 http://dl.google.com/linux/chrome/deb stable InRelease
Hit:2 http://us.archive.ubuntu.com/ubuntu focal InRelease
Get:3 http://us.archive.ubuntu.com/ubuntu focal-updates InRelease [114 kB]
Get:4 http://security.ubuntu.com/ubuntu focal-security InRelease [

[2021-06-14 21:33] timmeh87 opened #18454 "[New Port Request]<libsmb2>"
Library name: libsmb2

Library description: SMB2/3 Userspace Client

Source repository URL: https://github.com/sahlberg/libsmb2

Anything else that is useful to know when adding (such as optional features the library may have that should be included):
Depends on openssl

---

Hello, I want to make a pull request for this new port. I have almost finished making it, and I thiiiink I have figured it

[2021-06-14 22:05] ras0219 commented on #17726
Sorry for the delayed response; I don't know what you mean by the question.

[2021-06-14 22:28] timmeh87 commented on #18454
I made one change to make this work on windows..

[code]

[2021-06-15 00:36] cnSchwarzer commented on #17726
Instead of `HEAD` that may cause unexpected problems because of merging `dev` and `main`, can we provide an extra field that let user specify a branch's name, that vcpkg will use that branch's latest commit.
This will no longer require us to manually acquire commit hash.

[2021-06-15 01:17] morphogencc commented on #17382
@PhoebeHui NVIDIA Flex has come up again in my workflow; is it possible to re-open this issue?

[2021-06-15 01:59] PhoebeHui commented on #18396
@powel-jeh, thanks for reporting this issue!

otl has been updated to 40463 with correct hash in vcpkg, please get latest source and try again.

[2021-06-15 01:59] #18396 closed

[2021-06-15 02:18] PhoebeHui commented on #17382
Unfortunately, we can’t reopen this issue until a PR is opened.

[2021-06-15 02:28] JackBoosY commented on #18355
@westsuhanic  Try to install the latest would be okay.

[2021-06-15 02:35] JackBoosY commented on #18341
cc @ras0219-msft @ras0219

[2021-06-15 03:01] JackBoosY commented on #18450
[code]

[2021-06-15 03:04] walbourn commented on #18449
This is a bug for the upstream TIFF repo. They don't support building for the Universal Windows Platform. ``CreateFileA`` and ``CreateFileW`` are not supported for UWP. They need to use ``CreateFile2``.

Something like:

[code]

[code]

See [Microsoft Docs](https://docs.microsoft.com/en-us/uwp/win32-and-com/win32-and-com-for-uwp-apps)

[2021-06-15 03:08] JackBoosY commented on #18412
Can you please update your cmake to 3.20?

[2021-06-15 03:14] JackBoosY commented on #18426
Which triplet did you install? And please also run `./vcpkg integrate project`.

[2021-06-15 04:00] bt-ncarroll commented on #18341
Another update:

I tried to hack the exit code checking to bypass the failure code, but something else is failing in the cmake.exe process. If I override the exit code, I get `Invalid BUILD_INFO file for package: no such file or directory`

This appears to be due to the cmake.exe process not writing the BUILD_INFO file to the packages directory (failure is build.cpp, ~1466)?

I'm a bit out of my d

[2021-06-15 04:05] Naville opened #18455 "libxml2 build failure due to missing liblzma.pc in pkg-config"
**Host Environment**
- OS: Windows
- Compiler: 19.16.27040

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install libxml2`

**Failure logs**
[code]

[2021-06-15 04:08] Naville commented on #18455
The only vcpkg in environment variables is ``VCPKG_DEFAULT_TRIPLET =x64-windows`` which I dont think is related?

[2021-06-15 04:10] playgithub opened #18456 "What the role of folder `packages`?"
Found a bug related to it
https://github.com/microsoft/vcpkg/issues/18448

[2021-06-15 04:40] walbourn commented on #18391
I don't see any error in the config log. Is there additional error output here missing from your issue description?

FWIW, using VS 2019 16.10 I'm able to successfully run ``vcpkg install opencv4:x64-windows``.

[2021-06-15 05:40] JackBoosY commented on #18402
Can you provide the details?
We know there are some bugs in `upgrade`, but I must know which it is.

[2021-06-15 05:46] twindan commented on #18402
In this specific case, the build failure was my fault (I use TCC instead of CMD for my primary shell and it occasionally has compatibility problems with some build scripts due to esoteric differences in edge case handling).  Hence, the upgrade could have succeeded if I ran CMD first. The problem I had is that the upgrade process seems to uninstall all of the existing builds and then install the la

[2021-06-15 06:01] Greisby commented on #18441
I succeeded to install it the following way:
- Edit *buildtrees/mp3lame/x64-osx-dbg/libtool* while vcpkg is still configuring x64-osx-rel, and replace **lock_old_archive_extraction=yes** with **lock_old_archive_extraction=no**
- Do the same in *buildtrees/mp3lame/x64-osx-rel/libtool* while x64-osx-deb is building

So the solution is to find the way how to set this variable to no in the vcpkg packa

[2021-06-15 06:19] JackBoosY commented on #18402
Please track https://github.com/microsoft/vcpkg/issues/18402.

[2021-06-15 06:19] #18402 closed

[2021-06-15 06:19] Naville commented on #18455
I had to manually create and edit those files. now libxml2 build but the actual wrapper I intended to use, libxml++ fails with the following:

[code]

[2021-06-15 06:20] Naville commented on #18455
libxmlpp's log:

[code]

[2021-06-15 06:22] twindan commented on #18402
#18402 is this issue. Did you mean to include a different issue?

[2021-06-15 06:22] JackBoosY commented on #18441
@Neumann-A Should we also add an option `DISABLE_LOCK` to `vcpkg_*_make` to use `--disable-libtool-lock`? Or add an option `DISABLE_PARALLEL`?

[2021-06-15 06:22] Neumann-A commented on #18456
staging area. after post build checks the files from there will be moved from `packages/` to `installed/`. As such only files in the `CURRENT_PACKAGES_DIR` are allowed to be modified. Never modify in `CURRENT_INSTALLED_DIR` because it breaks everything (i.e. binary caching)

[2021-06-15 06:23] JonLiu1993 commented on #17441
Solved by #17335

[2021-06-15 06:25] Neumann-A commented on #18441
If it is need. But since the option can simply be passed be the OPTIONS parameter in `vcpkg_configure_make` why add another one? Furthermore the is the new triplet variable which can add those options to all ports if needed.

[2021-06-15 06:26] Neumann-A commented on #18448
that is intentional and correct as explained in #18456

[2021-06-15 06:26] Neumann-A commented on #18416
not really. Reopen this and close #18448

[2021-06-15 06:27] JonLiu1993 commented on #18093
Solved by #17335

[2021-06-15 06:29] #18456 closed

[2021-06-15 06:30] playgithub commented on #18448
But the installed files are not patched

[2021-06-15 06:33] playgithub commented on #18416
I think it's a bug of minizip port on Windows.
I've checked the files in folder `installed`, they are not patched according to bzip2, though files in folder `packages` are patched.

[2021-06-15 06:40] shinny-hongyan opened #18458 "vcpkg install openssl-windows:x64-windows failed (vcpkg version: tag:2020.11)"
**Describe the bug**
vcpkg install openssl-windows:x64-windows error.

**Environment**
- OS: [windows]
- Compiler: revision
- vcpkg version: tag 2020.11

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install openssl-windows:x64-windows
2. See error
[code]

and i got the error below:
`-- Downloading https://fossies.org/windows/misc/nasm-2.14.02-win32.zip... Failed. Status: 22;"HTTP r

[2021-06-15 06:44] JackBoosY commented on #18442
First, `Findlibusb.cmake` is not official.
The reason vcpkg will not call this script is that vcpkg always calls the wrapper first (if it exists).

In the PCL upstream, you can add this cmake directly and change the cmake code to use it. This will not affect the PCL in vcpkg, because we will patch it.
In vcpkg, we will choose whether to keep it in the next PCL update based on many factors.

[2021-06-15 06:44] Neumann-A commented on #18448
They don't need to. They will be copied. (and they are patched....according to thsi screenshot)
![image](https://user-images.githubusercontent.com/30894796/122005424-e6ce8180-cdb5-11eb-9cac-482837af7c26.png)

[2021-06-15 06:57] Naville commented on #18455
Google says I need to install extra components in VisualStudio to have that header. Not exactly developer friendly but fine.

My remaining issue is how do I reference this package?
Both find_package() and pkg-config with ``-DPKG_CONFIG_EXECUTABLE=vcpkg_root\downloads\tools\msys2\aaafe87dcead272e\usr\bin\pkg-config.exe`` fails

[2021-06-15 06:58] dg0yt commented on #18412
@JackBoosY Note that the errors is in building vcpkg-tool. It is fair to expect much lower versions of CMake to work for building the tool than for using the complete bootstrapped vcpkg. Or let bootstrapping download cmake first, and build the tool with that version.

[2021-06-15 07:02] JackBoosY commented on #18406
Confirmed.

[2021-06-15 07:02] playgithub commented on #18448
Sorry, you are right.

[2021-06-15 07:02] #18448 closed

[2021-06-15 07:05] Greisby commented on #17039
Happens also here.
The pblm is that the installation targets holds twice the target path:
*buildtrees/x264/src/14d026c3bd-bca2ebf740.clean/Makefile*:

*buildtrees/x264/install-x64-osx-dbg-out.log*:

*bindir*, *includedir* and *libdir* already contain *DESTDIR*.
It should therefore be empty.

[2021-06-15 07:07] playgithub commented on #18416
Alright, compiling succeeds, but linking fails.

[2021-06-15 07:13] Neumann-A commented on #18416
Two reasons:
a) no `find_dependency(BZip2)` in the `minizipConfig.cmake`
a) no linkage against the `BZip2` target in the `minizipTargets.cmake`

[2021-06-15 07:25] playgithub commented on #18416
I'm not so familiar with `cmake` and `vcpkg`. Hope someone to fix it.
I'm learning CMake now.
Thanks

[2021-06-15 07:26] shinny-hongyan commented on #18458
now i have find the reason:
as vcpkg used nasm 2.14 when install openssl-windows. but now https://fossies.org has not support this version, and the newest version is 2.15。
so finally , i update the vcpkg to tag 2021.05.12 .
this pr close .

[2021-06-15 07:26] #18458 closed

[2021-06-15 07:35] NancyLi1013 commented on #18429
Hi @DanL1234

Thanks for posting this issue. Could you please try to disable virus on your machine and rebuild this port?

[2021-06-15 07:41] NancyLi1013 commented on #18446
Hi @mulderp

Thanks for posting this issue. Seems `glibc `version is too low on your machine. Could you please try to upgrade `glibc`?

[2021-06-15 07:49] JackBoosY commented on #18402
Sorry, please track #4360 or https://github.com/microsoft/vcpkg/discussions/17922.

[2021-06-15 07:53] JackBoosY commented on #18441
@Neumann-A If this is a common issue, I think we have enough reasons to add it as an option.

[2021-06-15 07:53] Neumann-A commented on #18455
solution: delete your vcpkg folder. Start anew. You seem to have used an old vcpkg instance (liblzma.pc was added 7 months ago. and since I don't know what other old stuff you have it is better to delete the whole folder and start clean).

[2021-06-15 08:03] PhoebeHui commented on #18433
@YoungBlood01, it looks something wrong in windows sdk, it could not find the mt, could you reinstall/repair windows sdk and try again?

[code]

[2021-06-15 08:11] Naville commented on #18455
@Neumann-A I ran git pull prior of all those steps though. Is there anything else I could do? Since I'd rather avoid recompiling everything with Vcpkg if possible

[2021-06-15 08:12] Naville commented on #18455
Plus, this doesn't solve my question about how should I reference this package in CMake without pkg-config support

[2021-06-15 08:17] JackBoosY commented on #18412
@dg0yt make sence.

[2021-06-15 08:19] PhoebeHui commented on #13420
@mkckr0, currently we have vcpkg website https://vcpkg.io/en/packages.html which list all supported triplets for a port.

[2021-06-15 08:19] JackBoosY commented on #17039
@Greisby I remember that's by design. @Neumann-A right?

[2021-06-15 08:21] Neumann-A commented on #18455
No. Recompile you don't know what breakages you introduced by `git pull` in other ports. Also recompiling everything will not take longer than 48h (and i mean everything. vcpkg CI takes around 24h for the bigger triplets ~1300-1500 ports .)

https://cmake.org/cmake/help/latest/module/FindLibXml2.html

libxmlpp is another story. Would be using https://cmake.org/cmake/help/latest/module/FindPkgConfi

[2021-06-15 08:23] Naville commented on #18455
@Neumann-A To my best knowledge I tried that, it configured fine for LLVM base(I'm using Vcpkg to compile my LLVM fork), but failed to locate my in-tree module that requires XMLPP.
I'm currently using
[code]

and it works well on macOS so I doubt my CMakeLists is to blame here

[2021-06-15 08:29] mulderp commented on #18446
it is an old machine in a cluster - don't have a way to upgrade the machine.
However, there are system tools available, cmake, ninja etc on that
machine. I raise the issue, because it seems systembuild tool option is
incosistent between building vcpkg itself and using vcpkg install. Bulding
vcpkg itself works fine (e.g. Ninja v1.10.1 was initially required, but I
can skip that dependency). However

[2021-06-15 08:32] PhoebeHui commented on #4663
I agree, thank you parsa for your response! closing this issue now.

[2021-06-15 08:32] #4663 closed

[2021-06-15 08:34] powel-jeh opened #18461 "vcpkg_from_github with only HEAD_REF broke."
**Describe the bug**
It seems `vcpkg_from_github` with only `HEAD_REF` broke because the SHA512 padding code in `vcpkg_download_distfile` https://github.com/microsoft/vcpkg/blob/master/scripts/cmake/vcpkg_download_distfile.cmake#L83-L89 doesn't handle `vcpkg_download_distfile_SKIP_SHA512`.

**Environment**
- OS: Doesn't matter.

**To Reproduce**
Try to use `vcpkg_from_github` in a portfile with `H

[2021-06-15 08:36] NancyLi1013 commented on #18446
Thanks for your details. vcpkg will download tools if the version of the tools installed on your machine are lower than the ones required on vcpkg.

[2021-06-15 08:39] baimafeitu commented on #4981
I have the same problem. My windows version is: Win10 Home Edition, version number:19042.1052.  Visual Studio version is 2019 community. Thank you very much for your any advice!

[2021-06-15 08:39] JackBoosY commented on #18430
Can you please repair your Visual Studio using Visual Studio Installer then retry?

Thanks.

[2021-06-15 08:45] PhoebeHui commented on #18420
Closing in favor of https://github.com/microsoft/vcpkg/discussions/17905

[2021-06-15 08:45] #18420 closed

[2021-06-15 08:47] baimafeitu opened #18462 ""vcpkg integrate install" failed"
My environment is Win10 Home Edition(version number:19042.1052), 64bit and Visual Studio version is 2019 community

I run bootstrap-vcpkg.bat successfully and got a vcpkg.exe file.
Then run vcpkg integrate install failedly in admin cmd. The error log shows:

Failed to copy targets file to C:\Program Files <x86>\MSBuild\Microsoft.Cpp\v4.0\V140\ImportBefore\Default\vcpkg.system.props

How to fix it?

[2021-06-15 08:53] NancyLi1013 commented on #18391
Hi @steelONIONknight

Thanks for posting this issue. Could you please describe what problem you encountered in `opecv4`?

As @walbourn said above, we cannot found any error in the attachment. Thanks for your help to focus on this issue. @walbourn

[2021-06-15 08:59] bucurb commented on #9084
According to the [documentation ](https://docs.microsoft.com/en-us/cpp/build/reference/z7-zi-zi-debug-information-format?view=msvc-160)for /Z7 /Zi, it looks like there would be no difference between /Z7 and /Zi in terms of debugging information generated, it's just about where this information is stored. If using /Z7 the debug info is stored directly in the executable / library, while /Zi would pr

[2021-06-15 09:08] Naville commented on #18455
@Neumann-A I reconfigured vcpkg from scratch as intended. Previously I ran git pull in the vcpkg root which I assumed was the correct way to update vcpkg? Am I misunderstanding something here?

Nonetheless, I used ``-DVCPKG_TARGET_TRIPLET=x64-windows-static -Thost=x64 -A x64 -DPKG_CONFIG_EXECUTABLE=C:C:\Users\hanshezhang\vcpkg\downloads\tools\msys2\aa5af7b2aa7e90e8\mingw32\bin\i686-w64-mingw32-pkg

[2021-06-15 09:10] Neumann-A commented on #17039
`$(DESTDIR) => ${CURRENT_PACKAGES_DIR}` -> This is the staging area. everything has to go there
`$(libdir) => ${CURRENT_INSTALLED_DIR}` -> this is the final install location. Make should not install into here. This is required for ports hardcoding `${prefix}` into something.

SO the questing here is why is the path doubled. bindir, includedir and libdir shouldn't contain CURRENT_PACKAGES_DIR so so

[2021-06-15 09:11] Neumann-A commented on #18455
`DPKG_CONFIG_EXECUTABLE=C:C:\Users\hanshezhang\vcpkg\downloads\tools\msys2\aa5af7b2aa7e90e8\mingw32\bin\i686-w64-mingw32-pkg-config.exe`
`C:C:\Users`

Also posting the error logs could help.

[2021-06-15 09:13] PhoebeHui commented on #18415
@Apache-HB, could you  install atl related components via vs installer and try again?
For me, the headers located:
"C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Tools\MSVC\14.28.29910\atlmfc\include\atlbase.h"

[2021-06-15 09:18] Naville commented on #18455
That seems to be a bug of powershell, when using tab to autocomplete a path, that extra C: got automatically added. I removed it before actually executing the command. Below is the full log:

[code]

[2021-06-15 09:22] Naville commented on #18455
``"vcpkg\installed\x64-windows\lib\pkgconfig\libxml++-5.0.pc"`` exists though. I'm confused

[2021-06-15 09:23] Neumann-A commented on #18455
run:
[code]

[2021-06-15 09:40] PhoebeHui commented on #16955
@upupming, thanks for your response! do you use builtin-baseline? or the latest revision of the port? I still could repro the similar prpblem for gtkmm https://github.com/microsoft/vcpkg/issues/18351, protobuf https://github.com/microsoft/vcpkg/issues/17281 when using the builtin-baseline with old revision.

[2021-06-15 09:42] PhoebeHui commented on #18351
It looks same issue with https://github.com/microsoft/vcpkg/issues/16955.

[2021-06-15 09:59] upupming commented on #16955
@PhoebeHui I did use built in baseline and it succeed. Probably I should test again, I will test it on a CI and report again.

[2021-06-15 10:02] PhoebeHui commented on #18408
@SpriteOvO, thanks for reporting this issue! I will take a look.

[2021-06-15 10:28] donthamon opened #18463 "[<port name>] build failure"
**Host Environment**
- OS: [Windows]
- Compiler: latest

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install zeromq`

**Failure logs**
PS C:\workspace\src\vcpkg> ./vcpkg install zeromq
Computing installation plan...
The following packages will be built and installed:
    zeromq[core]:x86-windows -> 4.3.4
Detecting compiler hash for triplet x86-windows...
Could not locate cached arch

[2021-06-15 10:28] Cheney-W commented on #17393
This issue is caused by a conflict between the name of a macro defined inside source and the name of a structure member in Windows SDK, and we will submit an issue to the upstream for fixing this issue.

[2021-06-15 10:37] NancyLi1013 commented on #18395
Hi @Brooklyn2001

Thanks for posting this issue.

Since `libgnutls `doesn't support Windows platform. the current behavior is intended.

https://github.com/microsoft/vcpkg/blob/14418e1e48ff563382fbe970637425c52d109b16/ports/libgnutls/vcpkg.json#L7

[code]

[2021-06-15 10:44] donthamon commented on #18463
any help would be appreciated not sure if this is a bug for my system or what

[2021-06-15 10:46] Naville commented on #18455
Ah. So ``x64-windows-static`` is not the same as ``x64-windows``. Thanks !

[2021-06-15 10:46] #18455 closed

[2021-06-15 10:57] Greisby commented on #17039
I succeeded the first part of the installation, into packages, by adding the following to the portfile:
[code]
The files are installed at the right place, but then the vcpkg internals fails with the same double path problem.
[code]

So it seems that it is indeed designed to install to that strange double path, but to finally move the leaf folder at the right place.

So I rolled back and tried to u

[2021-06-15 11:12] JonLiu1993 commented on #18422
@Colon-D ,Thanks for posting this issue ,
It seems that you have not installed git. Run _apt install git._

[2021-06-15 11:21] dg0yt commented on #18422
No, not for Windows/MSVC.

[2021-06-15 11:29] Greisby commented on #17039
It seems to be an OS problem (at least /usr/bin/install).
I modified the Makefile by hand and replaced *install* with *mkdir -p*
The installation then succeeds.
I don't see any other reason than an issue with vcpkg being on a mounted samba share.

[2021-06-15 11:30] JonLiu1993 commented on #18422
I investigated and found that it seems to be possible to add
**ExternalProject_Add(
    GIT_REPOSITORY https://github.com/AAA.git
)**
Solve, do you have any suggestions

[2021-06-15 11:57] dg0yt commented on #18422
If you write a port for a software which needs git but doesn't find it, you should use `vcpkg_find_acquire_program` do let vcpkg get it, and pass that to the port's cmake build system. CMake's `FindGit` module would accept the value from `GIT_EXECUTABLE`.

References:
https://github.com/microsoft/vcpkg/blob/master/docs/maintainers/vcpkg_find_acquire_program.md
https://cmake.org/cmake/help/latest/m

[2021-06-15 12:10] autoantwort commented on #18463
C:\workspace\src\vcpkg\buildtrees\zeromq\install-x86-windows-dbg-out.log

Please attach the error logs

[2021-06-15 12:13] dg0yt commented on #18422
Note that CPM.cmake is doing "cmake package management" i.e. something similar to vcpkg. I would not be surprised if one tool breaks the other - It might build different configurations of libs which are already in the vcpkg installation, leading to subtle errors at build time, deployment or runtime.

[2021-06-15 12:50] DanL1234 commented on #18429
Hi Nancy,

I gave my src folder an exception within Bitdefender and rebuilt okay.
I also then had access to the files "a.exe" in both release and debug builds (they both were being flagged), so used https://www.fortiguard.com/faq/onlinescanner to test each individually. As expected, the files were shown as clean.
Finally, I reported both files to BitDefender as false-positives.

Cheers,
Dan

[2021-06-15 12:53] Chronophylos opened #18464 "[abseil][docker] build failure"
**Host Environment**
- OS: Alpine Linux in Docker
- Compiler: gcc 10.2.1

**To Reproduce**
Steps to reproduce the behavior:
build the following Dockerfile with docker

<details>
<summary>Dockerfile</summary>

[code]
</details>

<details>
<summary>x64-linux-musl.cmake</summary>

[code]
</details>

**Failure logs**

<details>
<summary>Docker build output</summary>

[code]
</details>

[2021-06-15 13:16] lijuncan commented on #18450
I got this error after running sudo apt-get install autoreconf libudev-dev:
.....
vd3@vd3-virtual-machine:~/vcpkg$ **sudo apt-get install autoreconf libudev-dev**
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package autoreconf
....
Do you think it's something to do with virtual machine environment? I used VMWare on Windows 10 to creat

[2021-06-15 14:11] donthamon commented on #18463
[1/108] cmd.exe /C "cd /D C:\workspace\src\vcpkg\buildtrees\zeromq\x86-windows-dbg && C:\workspace\src\vcpkg\downloads\tools\cmake-3.20.2-windows\cmake-3.20.2-windows-i386\bin\cmake.exe -E copy C:/workspace/src/vcpkg/buildtrees/zeromq/src/v4.3.4-ea6f146646.clean/builds/cmake/NSIS.template32.in C:/workspace/src/vcpkg/buildtrees/zeromq/x86-windows-dbg/NSIS.template.in"
[2/108] C:\PROGRA~2\MICROS~4\2

[2021-06-15 14:24] autoantwort commented on #18463
Ok thanks: So the error is:
[code]

[2021-06-15 14:26] autoantwort commented on #18463
When searching for that I find: https://github.com/zeromq/libzmq/issues/3949

[2021-06-15 14:27] Brooklyn2001 commented on #18395
It's strange. This is the same port from here https://github.com/ShiftMediaProject/gnutls?

[2021-06-15 14:36] donthamon commented on #18463
the error doesnt appear on another machine but this laptop is getting this error, thanks again for your help.

[2021-06-15 14:58] #18351 closed

[2021-06-15 15:01] #18461 closed

[2021-06-15 16:42] MichaelGoulding opened #18466 "Debugging with vcpkg as submodule results in a natvis error"
**Describe the bug**

Visual Studio finds the natvis file checked in under ports, but it's not a valid XML file.

I'm not using chromium, but Visual Studio finds the natvis file anyways.

**Environment**
- OS: Windows
- Compiler: VS 16.10

**To Reproduce**
Steps to reproduce the behavior:
1. Add vcpkg as a submodule to a repository.
2. Open the repository in "Folder mode"
3. Turn on natvis logging

[2021-06-15 17:14] #18419 closed

[2021-06-15 17:26] ankurverma85 opened #18467 "[libpq] libpq has a pthread-win32.cpp that conflicts with pthread library on windows"
**Describe the bug**
libpq optionally comes with its own static-implementations of pthread* apis
src\interfaces\libpq\pthread-win32.c (src\interfaces\libpq\Makefile)
that conflicts with libraries that are using pthread port.

This is a problem when linking libpq along with anything else that uses the pthread vcpkg port for pthread functions, using the static windows ports (*windows-static* )

A cl

[2021-06-15 18:46] #17972 closed

[2021-06-15 18:53] #18259 closed

[2021-06-15 19:24] borjacano97 opened #18468 "Cygwin-based CMake on PATH breaks building packages"
**Describe the bug**
`/vcpkg/scripts/detect_compiler` doesn't exists and always fails to install any library.

**Environment**
- OS: Windows
- Shell: CMD (although I have also used PowerShell and Git for Windows Shell with the same result)
- Compiler: Microsoft Visual Studio Community 2019 Version 16.10.1
- CMake version 3.20.0

**To Reproduce**
[code]

**Additional context**
My guess is that the

[2021-06-15 19:54] BillyONeal commented on #9084
This is technically true, but 'executable / binary' means '.obj' or '.lib', not something you ship to end user machines. When you build what you ship to customers (a DLL or EXE), the linker generates a PDB using the information from all the /Z7'd content.

The big problem with /Zi for vcpkg purposes is that it embeds a name of a PDB into the static library or .obj which cannot be renamed, or the l

[2021-06-15 20:21] Pr0curo commented on #18328
if you decide to go the cmake route, I made a minimal working example for your information (and my forgetful brain), please take a look at [the example](https://github.com/Pr0curo/gtkmm-4.0-simple-example) -- maybe this helps you.

[2021-06-15 20:31] nlogozzo commented on #18328
@Pr0curo Thank you for the example! That's definitely what I needed to get started. However, I decided to go with WinUI 3 instead. But thank you again. I feel good enough closing the issue having your example to give people as a reference!

[2021-06-15 20:31] #18328 closed

[2021-06-15 21:25] playgithub opened #18470 "[boost-system] build failure"
**Host Environment**
- OS: Windows
- Compiler: msvc

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Failure logs**
[code]

**Additional context**
triple file `x64-windows-cpp17.cmake`
[code]

BTW, many boost libs before this are installed successfully

[2021-06-15 21:53] morphogencc commented on #17382
I see -- it doesn't seem like it's being worked on if it's closed, so reading between the lines here, is the only way it's going to be added to vcpkg is if I do it myself and submit a PR?

[2021-06-15 22:34] autoantwort commented on #18468
Duplicate of #16448, there a solution is provided :)

[2021-06-15 23:59] #17635 closed

[2021-06-16 00:02] shanepowell commented on #18430
As asked I did a repair and tried again with the same result.

Not a surprise for me.
I think you misunderstand.

"Visual Studio 2019 Build Tools" is a install of visual studio (like Cummunity / Profressional / Enterprise) but with Build Tools install there is only command line, NO IDE.  So no devenv.exe.  It's not installed...

It's normally installed on build machines / CI machines where it's us

[2021-06-16 01:40] alberthdev commented on #18291
That PR seems to be merged, so I tried with the latest (14418e1e48ff563382fbe970637425c52d109b16) and no dice there. I tested by jumping to that commit, and then attempting to install bzip2. Same error as earlier:

[code]

Attached the GitHub Actions YAML used to test: [vcpkg.github_actions.failure.20210614.yml.txt](https://github.com/microsoft/vcpkg/files/6659595/vcpkg.github_actions.failure.2021

[2021-06-16 01:51] PhoebeHui commented on #17382
We're happy to answer any questions we can to support this effort, but for now we'd prefer to support you or other contributors than to take ownership ourselves. None of our core team is very familiar with NVIDIA Flex, so we feel you'll do a much better job than we could! so please consider making a PR for this.

[2021-06-16 02:06] PhoebeHui commented on #18462
@baimafeitu, do you install English language pack via vs installer? if not, could you install it and try again? BTW, could you also try to execute the command via powershell?

[2021-06-16 02:06] NancyLi1013 commented on #18395
It should be the same port. But currently, they are from different repositories.

There is also a PR #18029 that supports Windows.

[2021-06-16 03:10] NancyLi1013 commented on #18429
Glad to hear that. Please let me know if you still have other problems about this.

[2021-06-16 05:53] JackBoosY commented on #18406
Fixed by #18459.

[2021-06-16 05:53] #18406 closed

[2021-06-16 05:57] JackBoosY commented on #18430
@shanepowell  Since pcap's `sln` file needs and can only be upgraded with devenv, a complete Visual Studio is required to build it.

[2021-06-16 06:00] JackBoosY commented on #18450
`E: Unable to locate package autoreconf`
I think you should use `apt-get update` first.

[2021-06-16 06:16] JackBoosY commented on #18464
Please provide failure logs _/l/vcpkg/buildtrees/abseil/install-x64-linux-dbg-out.log_ and _/l/vcpkg/buildtrees/abseil/install-x64-linux-dbg-err.log_ first.

Thanks.

[2021-06-16 06:17] PhoebeHui commented on #18342
@Conan42, could you try above suggestion?

[2021-06-16 06:20] JackBoosY commented on #18291
Should be a vcpkg bug with permission or path.

[2021-06-16 06:27] ChanthMiao commented on #18406
Solved.

[2021-06-16 06:38] JackBoosY commented on #18416
Please test my changes in https://github.com/microsoft/vcpkg/pull/18472.

Thanks.

[2021-06-16 06:45] dg0yt commented on #18450
There is no Ubuntu package `autoreconf`. The tool is in package `autoconf`. Cf. https://packages.ubuntu.com/search?searchon=contents&keywords=autoreconf&mode=exactfilename&suite=hirsute&arch=any

[2021-06-16 06:47] baimafeitu commented on #18462
This problem is already sloved. I changed the directory of vcpkg. The previous path includes Chinese character. Thank you for your attention.

[2021-06-16 06:47] #18462 closed

[2021-06-16 06:55] PhoebeHui commented on #18291
I noticed that it point to new directory via VCPKG_DOWNLOADS in our pipeline run, see  https://github.com/microsoft/vcpkg/blob/master/scripts/azure-pipelines/azure-pipelines.yml#L18, may be you can try this as a workaround.

For further investigation, could you pass '--debug' option to './vcpkg install', it seems that failed to create downloads folder by some reason?

[code]

[2021-06-16 06:56] JackBoosY commented on #18442
My suggestion is to add an option `WITH_VCPKG_DEPENDENCY` to the upstream cmake like other libraries that use vcpkg to build dependencies, and choose different methods of finding and using libusb according to this option.

[2021-06-16 06:59] JackBoosY commented on #18467
Since the upstream doesn't provide a method to use the external pthreads, I think we can only avoid to install both libpq[pthread] and pthreads?

[2021-06-16 07:08] EajksEajks opened #18474 "How do I use vcpkg together with Visual Studio 2019 and CUDA 11.3.1 ?"
Hi

I was using cmake together with VStudio2019 and CUDA 11.3.1 and it worked fine. Because I would like to use additional C++ packages, I installed the vcpkg toolchain. Unfortunately, it doesn't find CUDA anymore!!! If I remove the vcpkg toolchain it finds it again. So what am I doing wrong? Any help is welcome.

The error message I get:
CMake Error at C:/Program Files (x86)/Microsoft Visual Stud

[2021-06-16 07:18] Cheney-W commented on #17393
I have submitted an issue https://github.com/xianyi/OpenBLAS/issues/3274 to upstream.

[2021-06-16 07:36] PhoebeHui commented on #18408
@SpriteOvO, I have submitted a PR #18475 to fix this issue, could you help test it?

[2021-06-16 07:48] NancyLi1013 commented on #18466
Hi @MichaelGoulding
Thanks for posting this issue. Could you please help provide your project sample?

Thanks.

[2021-06-16 07:51] NancyLi1013 commented on #18369
Please let me know if still have other concerns about this issue.

[2021-06-16 07:57] JackBoosY commented on #18423
First, vcpkg will find the latest Visual Studio on this machine and use it to build the port in Windows. In other words, any port in Windows will be built using the latest Visual Studio on your machine.

Secondly, if you have multiple versions of Visual Studio installed on your machine at the same time, if you want to choose to use a lower version of Visual Studio, you can add `set(VCPKG_PLATFORM_

[2021-06-16 08:01] ostepan2006 opened #18477 "[<port name>] build failure"
**Host Environment**
- OS:  Windows 10
- Compiler: VS 2017

**To Reproduce**
Steps to reproduce the behavior:
vcpkg install ^
          boost-algorithm boost-accumulators boost-atomic boost-container boost-date-time boost-exception boost-filesystem boost-graph boost-log ^
          boost-program-options boost-property-tree boost-ptr-container boost-regex boost-serialization boost-system boost-test

[2021-06-16 08:28] Chronophylos commented on #18464
I don't have those files

[2021-06-16 08:36] PhoebeHui commented on #18470
@playgithub, could you use './vcpkg install --host-triplet=x64-windows-cpp17 boost-system' instead?

See https://github.com/microsoft/vcpkg/blob/master/docs/users/host-dependencies.md#specifying-the-host-triplet

[2021-06-16 08:42] JonLiu1993 commented on #18468
@borjacano97 ,Thanks for posting this issue,
As @autoantwort  said, issue #16448 is the same as your issue, you can refer to the solution to try, if you have any problems, you can ping me at any time

[2021-06-16 08:54] bucurb commented on #9084
You're right about .libs not being shipped to end user machines. However, they get shipped to build agents and developers, and with the working from home and flaky internet connections, it makes sense to minimize the amount we need to download. This way we can get just the libs and if everything runs fine we never need to fetch the pdbs. If this were configurable we could have the choice that for

[2021-06-16 09:02] playgithub commented on #18470
I can't try blindly.
What's the different of `triplet` and `host triplet`, the concepts are confused, aren't they?

[2021-06-16 09:17] JackBoosY commented on #18464
@Chronophylos Please see you provided `Docker build output` log.

[2021-06-16 09:22] playgithub commented on #18416
It has passed all the checks, I'll test it.
Thanks

[2021-06-16 09:33] PhoebeHui commented on #18470
@playgithub, sorry for the confuse, let me clarify this. eg: boost-system, looking at https://github.com/microsoft/vcpkg/blob/master/ports/boost-system/vcpkg.json#L10, you will noticed that the host set to 'true' for port boost-build and boost-modular-build-helper, since we consume the port as a tool, so they set them to true. then we has 'host triplet' and 'target triplet' concept, the target tri

[2021-06-16 09:45] playgithub commented on #18470
Got it, thanks.
But why doesn't `x64-windows` as host triplet  for `boost-system` in this case  work, it should be independet of target triplet, right?

[2021-06-16 09:57] PhoebeHui commented on #4723
This shoud not a be a problem now, please get latest source and try again.

[2021-06-16 09:57] #4723 closed

[2021-06-16 09:59] PhoebeHui commented on #18474
@EajksEajks, could you provide us more information, like repro steps, repro code?

looks similar issue with https://github.com/microsoft/vcpkg/issues/14419

[2021-06-16 10:01] PhoebeHui commented on #18110
It looks permission issue:

[code]

[2021-06-16 10:02] JackBoosY commented on #18463
Can you please confirm `#define ZMQ_HAVE_IPC` exists in _VCPKG_ROOT/buildtrees/zeromq/x86-windows-dbg/platform.hpp_?
If not, please provide the configure logs in _VCPKG_ROOT/buildtrees/zeromq_ named `config-x86-windows-err.log` and `config-x86-windows-out.log`.

[2021-06-16 10:06] PhoebeHui commented on #16653
@BurningEnlightenment, could you try './vcpkg install boost-exception' in class mode and see if this issue still repro?

[2021-06-16 10:07] NancyLi1013 commented on #18477
Hi @ostepan2006

Thanks for posting this issue.
Could you please help provide the error log here _G:\Distrib\vcpkg\buildtrees\lapack\config-x64-windows-out.log_?

[code]

[2021-06-16 10:25] EajksEajks commented on #18474
Windows 10 Home 21H1
Reinstall MS VIsual Studio 2019 Community from scratch
Reinstall NVIDIA cuda_11.3.1_465.89_win10.exe
git clone https://github.com/microsoft/vcpkg.git
I tried with both the master branch and the 2021.05.12 tag -> same result.
.\bootstrap-vcpkg.bat
.\vcpkg.exe integrate install
.\vcpkg.exe install cli11:x64-windows pybind11:x64-windows spdlog:x64-windows cuda:x64-windows

In the

[2021-06-16 10:31] Conan42 commented on #18342
Well, I know nothing. I am exceeding. I installed Fontconfig on a 21.04 ubuntu and it will walk, and I do not know how, but I have other problem. I thought a utility like VCPKG could help me. To want to program in C ++ that this merit ...

[2021-06-16 10:31] PhoebeHui commented on #18428
@Schala, I want to confirm the last step, do you open the project that generate by CMake in above steps via VS2019? How do you use boost in your project?

If use it with cmake, you need to add the following code in your CMakLists.txt file:
[code]
if use it with msbuild:
You only need to set configuration to Debug x64 by default.

[2021-06-16 10:33] Neumann-A commented on #18467
I think the trick is to mangle the pthread symbols on windows. The pthread-win32 looks more like a mockup than a real pthread implementation.

[2021-06-16 10:37] Conan42 commented on #18342
My goal is to install OpenSceneGraph and Osgearth and I do not come there. I risk falling. I wanted to adapt my "Harpoon for Android" project in C ++ for all systems.

[2021-06-16 10:40] andrusenko-ag commented on #18304
Hi there. Just wondering, how long does it usually take to add new a port into vcpkg. I see that some requests are hanging for years. Is it feasible to add cucumber to vcpkg, in the nearest future or I should not wait for that?)

[2021-06-16 10:43] ned14 commented on #18110
Yes but I think it's falling back to attempting to write into `C:\` due to failing to write elsewhere earlier. In any case, it should not try writing into `C:\`, I know the Win32 API which find somewhere for a temp file still tries `C:\`, but that's been banned by Windows since about Vista. I'm not running vcpkg in any weird way here, non-manifest mode works fine over SMB, it's only manifest mode

[2021-06-16 11:02] tonygould opened #18478 "How do I change the triplet using manifest (with CMakePresets.json)"
I'm evaluating vcpkg, manifest mode, for use in a corporate environment. Also in the last few days I've started using CMakePresets.json, which is working great across Windows and lnux.

I have a number of acceptance tests. One of them is to see how making a fundamental change to compiler options will cause dependent packages to rebuild from source. It seems the way to do this in vcpkg is to use a

[2021-06-16 12:02] alberthdev commented on #18291
Reran in a fresh Docker environment, with the --debug option:

[vcpkg.docker.failure.20210616.debug.log.txt](https://github.com/microsoft/vcpkg/files/6662807/vcpkg.docker.failure.20210616.debug.log.txt)

I believe we're hitting a corner case where all of the required tools are already installed, so it never gets to the case where it would need to create the downloads directory.

[2021-06-16 12:31] upupming commented on #16955
@PhoebeHui [Here is](https://github.com/upupming/vcpkg-manifest-version-bug/runs/2838193838?check_suite_focus=true) a CI log, qt5 can be successfully installed (manifest mode). So I think this issue itself has been fixed. The other issue may be caused by different reasons?

[2021-06-16 12:36] yahuuu commented on #1681
Foooour years have passed. We still don't have an easy way to specify the version？⊙▽⊙"

[2021-06-16 12:44] manxorist opened #18480 "libopenmpt port has been in abysmal shape from the start"
@atkawa7 @alexkaratarakis @ras0219-msft @sagamusix

Even though I (libopenmpt upstream maintainer) have been initially positive about seeing libopenmpt packaged in vcpkg, I sadly have now changed my opinion after seeing this port completely unmaintained for 3 years. This is *REALLY VERY BAD*.

As time has shown, vcpkg is unable to properly maintain ports it contains. The port of libopenmpt include

[2021-06-16 13:25] AOjinnaka opened #18481 "[openssl] build failure"
**Host Environment**
- OS: Windows
- Compiler: 18363

**To Reproduce**
[code]

**Failure logs**
-Cut and past the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

**Additional context**
Add any other context about the problem here, such as what you have already tried to resolve the issue.

[2021-06-16 13:41] WangZP10969 opened #18482 "How to determine whether vtk[atlmfc] uses unicode or multi-character set？"
I am using vtk combined with mfc to display, when I use cmake to compile vtk, I need to set the character set to unicode, but when I use vcpkg, I did not find such a setting.
How can I confirm the type of character set currently in use?

Thank you very much.

[2021-06-16 14:41] ostepan2006 commented on #18477
Hi @NancyLi1013.
I would like slightly change issue describing.
The problem had been arising when I run those commands:

`vcpkg install geogram --triplet x64-windows`

or

`vcpkg install ceres[suitesparse,cxsparse] --triplet x64-windows`

File config-x64-windows-out.log had been attached.
[config-x64-windows-out.log](https://github.com/microsoft/vcpkg/files/6663805/config-x64-windows-out.log)

 Th

[2021-06-16 14:59] ekilmer opened #18483 "binarycaching: Allow setting NuGet network operations timeout"
****

**Is your feature request related to a problem? Please describe.**
While using the NuGet binarycaching feature for large packages like LLVM, I am running into network timeout issues while trying to push the package due to slow internet upload connection.

The default timeout for NuGet is 100 seconds, as documented here by usage of `HttpClient`: https://github.com/NuGet/NuGet.Client/blob/84d2

[2021-06-16 15:14] Neumann-A commented on #18478
Show your preset.
This one works for me:
[code]

[2021-06-16 15:17] Neumann-A opened #18484 "[GITHUB] Remove the "I have a question issue label""
Question are not issues and should be posted in the discussion section instead.
There answers can be upvoted etc.

(Or at least point people into the discussion section; I see again way to many question asked in the issues!)

[2021-06-16 15:35] ankurverma85 commented on #18467
I'm pretty sure, omitting pthread-win32 from libpq and linking with the pthread port should work.
I can't think of a valid reason why upstream won't accept such a change

[2021-06-16 15:59] Schala commented on #18428
I do. I open the .sln file, check that the config is x64 and Debug on "ALL_BUILD", and hit build. I currently only use Boost.Asio, a header-only component.

[2021-06-16 16:33] alteman commented on #18361
@NancyLi1013

your fix worked for me

[code]

[2021-06-16 18:25] Schala commented on #18427
Ah sorry, forgot to close this. I excluded vcpkg, cmake and ninja from Antimalware, and this has been running fine. Thanks for the hint!

[2021-06-16 18:56] MichaelGoulding commented on #18466
Here is the [repro](https://github.com/MichaelGoulding/vcpkg-ftxui-sample).

 With x64-Debug preset, setting a breakpoint and stepping an instruction results in the output above.

I'm not sure what the Visual Studio 2019 defaults are, but I have my Nativs setting as seen here:

![image](https://user-images.githubusercontent.com/18077959/122276588-ca0b7a00-ce99-11eb-9cf4-df31b372305d.png)

[2021-06-16 20:36] BillyONeal commented on #9084
Again though, vcpkg doesn't have a means in general to get the resulting PDB to have the right name, and it can't be renamed after creation. The default name is something like `vc142.pdb` which every library would stomp on.

It is more than a desire for a policy recommendation here, it's a hard requirement for how vcpkg deploys libs to users.

[2021-06-16 20:40] iskiselev commented on #16614
Thank you a lot, @BillyONeal. Sorry for a delay with testing it. I've confirmed that issue is fixed in vcpkg-tool master now (but download script in vcpkg repo still use older build, affected by the issue).

[2021-06-16 20:41] BillyONeal commented on #16614
No problem, thanks for confirming. I'll keep you posted for when the repo is updated here. (I'm working on fixing one more binary caching issue before we turn the release crank)

[2021-06-16 22:40] BillyONeal commented on #16614
( https://github.com/microsoft/vcpkg/pull/18233/ is probably going to be doing that update)

[2021-06-17 01:41] NancyLi1013 commented on #18361
Thanks for your test and reply @alteman . I will submit a PR to fix this later.

[2021-06-17 01:44] PhoebeHui commented on #18484
I agree, I'd like to remove the issue templete, @strega-nil, @ras0219-msft, what do you think about?

[2021-06-17 02:02] Cheney-W commented on #17393
This issue has been fixed in the upstream by https://github.com/xianyi/OpenBLAS/pull/3276.

[2021-06-17 02:05] PhoebeHui commented on #18304
We're happy to answer any questions we can to support this effort, but for now we'd prefer to support you or other contributors than to take ownership ourselves. None of our core team is very familiar with cucumber-cpp, so we feel you'll do a much better job than we could! please considering to make a PR for this.

[2021-06-17 02:38] morphogencc opened #18490 "Can I install opencv[cuda] with x64-windows-static triplet"
I created the following vcpkg.json file:

[code]

I'm building with the `x64-windows-static` triplet, and I want to build opencv with CUDA.  I got the following errors:

[code]

It looks like the issue is that I can't build `cudnn` with the `x64-windows-static` triplet -- but I don't want `cudnn`!  I only want the `cuda` feature -- is it possible to skip this package build somehow?

[2021-06-17 02:39] alexkaratarakis commented on #18480
Hi @manxorist ,

Given the issues raised on your library's vcpkg port, I think it's reasonable to remove the `libopenmpt` port until a satisfactory port is submitted. The current port (along with the comments in #2669) would be a great starting point for such a port, but it will still be available through `git` even after removal in the main branch.

For now, I have submitted a PR with the removal

[2021-06-17 02:48] JackBoosY commented on #18483
Can you please open a new PR to [vcpkg-tool](https://github.com/microsoft/vcpkg-tool/pulls)?

Thanks.

[2021-06-17 02:58] JackBoosY commented on #18480
Sorry for that!
We always hope that the owner or maintainers of the port will deal with the issues of the port in vcpkg, because they know the relevant informations better than us. And put the contact information in the field `maintainer` of CONTROL or manifest.
However, this is **rarely** done so far, leading to similar situations.
We are deeply sorry for this.

[2021-06-17 03:07] JackBoosY commented on #18490
cc @cenit

[2021-06-17 03:09] PhoebeHui commented on #18190
@huolingfei, please reopen this if it still be a problem for you.

[2021-06-17 03:09] #18190 closed

[2021-06-17 04:13] cenit commented on #18490
cudnn is a dependency for opencv[cuda].
I can try to see if it's possible to make it optional. It was not originally, i have to check if anything is changed

[2021-06-17 04:42] playgithub commented on #18416
@JackBoosY
I've tested, still the same probem.

[2021-06-17 05:57] NancyLi1013 commented on #18477
@ostepan2006

Thanks for your details. But I cannot reproduce this on my locale. As you can see, `lapack `can be found successfully.

`-- Found LAPACK: F:/new/vcpkg/installed/x64-windows/lib/lapack.lib;F:/new/vcpkg/installed/x64-windows/lib/openblas.lib
`

[2021-06-17 06:12] PhoebeHui commented on #18342
@Conan42, sorry for the confuse, I think you can reference https://github.com/microsoft/vcpkg/blob/master/scripts/azure-pipelines/linux/provision-image.sh#L9 to install the required package on linux platform directly, these also applied to our ci testing, so it should work when you install the project again.

[2021-06-17 06:16] PhoebeHui commented on #18415
@Apache-HB, does this still be a problem for you?

[2021-06-17 06:17] PhoebeHui commented on #18433
@YoungBlood01, does this still be a problem for you?

[2021-06-17 06:39] taor-163 commented on #18481
vcpkg update 或者 git pull
然后把openssl/vcpkg-cmake-wrapper.cmake内容复制到openssl/windows/vcpkg-cmake-wrapper.cmake

[2021-06-17 06:42] Neumann-A commented on #18480
Hmm can the port not simply be update and switched to vcpkg_configure_make. The stuff in `https://github.com/OpenMPT/openmpt/tree/master/build/autotools` looks like it should be the main buildsystem. The `configure.ac` looks like it is properly searching for dependencies so using that should be easy to setup. Maybe `vcpkg_configure_make` needs to be extended for out-of-tree `configure.ac` files

[2021-06-17 06:55] manxorist commented on #18480
No. The correct thing to do would be to update the vcpkg cmake build system with the comments I made in the pull request. We do not support Autotools for MSVC builds. If vcpkg wants to provide its own build system (which there are totally valid reasons for, see discussion in pull request), it should do so by using its own preferred build system, instead of redirecting to something that is not supp

[2021-06-17 07:00] taor-163 commented on #18481
openssl:x64-windows 不行
openssl:x64-windows-static 可以

[2021-06-17 07:02] mcmtroffaes commented on #18291
I've seen this also with libssh. Job without vcpkg/downloads (broken):

https://ci.appveyor.com/project/mcmtroffaes/ffmpeg-msvc-build/builds/39604214/job/bdsfn4vx34f58d26#L95

Job with vcpkg/downloads (fixed):

https://ci.appveyor.com/project/mcmtroffaes/ffmpeg-msvc-build/builds/39629978/job/2e28ivhaekgq8r1x?fullLog=true#L96

[2021-06-17 07:05] JonLiu1993 commented on #18481
@AOjinnaka ,Thanks for posting this issue ,Could you provide the complete log？
[code]

[2021-06-17 07:20] manxorist commented on #18480
Thanks, though I would still prefer is someone could just implement the changes I suggested and use a proper released version.

[2021-06-17 07:30] PhoebeHui commented on #18211
@ankurverma85, thanks for your PR!

[2021-06-17 07:43] taor-163 commented on #18481
Microsoft (R) Program Maintenance Utility Version 14.28.29915.0
Copyright (C) Microsoft Corporation.  All rights reserved.

Microsoft (R) Program Maintenance Utility Version 14.28.29915.0
Copyright (C) Microsoft Corporation.  All rights reserved.

Microsoft (R) Program Maintenance Utility Version 14.28.29915.0
Copyright (C) Microsoft Corporation.  All rights reserved.

crypto\bn\rsaz-x86_64.asm:1:

[2021-06-17 07:50] JonLiu1993 commented on #18481
@taor-163 ,Have you encountered the same error？

[2021-06-17 07:54] PhoebeHui commented on #18291
It looks a vcpkg bug, @ras0219 @ras0219-msft, could you please help have a look?

[2021-06-17 07:58] Neumann-A commented on #18480
I think you have a pretty damn buildsystem mess but that might be just my opinion. Autotools is already an abstraction and if you cannot support a native windows build with `<arch>-pc-mingw32` and using `compile cl.exe` as an compiler then something is wrong with your build scripts.

Now I am ok to remove the port since it is not vcpkgs responsibility to maintain its own buildsystem for a port. It

[2021-06-17 08:14] manxorist commented on #18480
I just do not have the time to test this nonsense which nobody except vcpkg would be using anyway. Supporting autotools on Windows with MSVC requires the user to install at least 2 build infrastructures in the first place. This would be an abomination of a build system, and solves no real world problem. To the contrary, it even introduces build system requirements alien to the platform at hand.

Y

[2021-06-17 08:16] Beyrea opened #18493 "Leveldb is installed, but the library is missing"
The leveldb library is installed, but only include/leveldb is included, there is no util
How should I add the util library?
![2~DEJ%C26 OZ)_$2{}0NNP5](https://user-images.githubusercontent.com/58060724/122358394-2ef0ce00-cf87-11eb-83cd-12210867d0b5.png)

[2021-06-17 08:17] taor-163 commented on #18481
yes, stdout is :

PS D:\vcpkg> .\vcpkg.exe install openssl:x64-windows
Computing installation plan...
The following packages will be built and installed:
    openssl[core]:x64-windows -> 1.1.1k#5
Detecting compiler hash for triplet x64-windows...
Could not locate cached archive: C:\Users\admin\AppData\Local\vcpkg\archives\c1\c1ffdd542e572dfacb759cf02f76432554b0ac67.zip
Starting package 1/1: openss

[2021-06-17 08:47] eskech commented on #8215
Sorry for the long delay on me getting back to you. I have not testet it in a long time. After the feature I needed was pushed into the 2019 version I have not been running the review version. So You could just close it if I was the only one that reported it.

[2021-06-17 08:51] xarthurx opened #18494 "[New Port Request] voro++"
**Library name:** Voro++

**Library description:**
Voro++ is a software library for carrying out three-dimensional computations of the Voronoi tessellation. A distinguishing feature of the Voro++ library is that it carries out cell-based calculations, computing the Voronoi cell for each particle individually. It is particularly well-suited for applications that rely on cell-based statistics, where

[2021-06-17 08:58] Neumann-A commented on #18480
Autotools is just a bunch of scripts. Nothing more. Every script needs some kind of interpreter. The only reason to say it is not native is that `bash` and probably `pkg-config` are not "common" (whatever that means) tools on windows. vcpkg provides all the tools to make such a build successful.

Link to comment?

Nobody is blackmailing anybody. vcpkg can work with `(cmake|meson|autotools|make|msb

[2021-06-17 09:02] manxorist commented on #18480
Implied by https://github.com/microsoft/vcpkg/pull/2669#discussion_r164761311 and suggesting how to proceed: https://github.com/microsoft/vcpkg/pull/2669#discussion_r164903514

[2021-06-17 09:06] manxorist commented on #18480
However it cannot do so ***properly***:

[2021-06-17 09:18] manxorist commented on #18480
And again you are demanding upstream to provide a solution that is only viable in the context of vcpkg.

[2021-06-17 09:26] Neumann-A commented on #18480
Even if it means using vcpkg_configure_msbuild which currently doesn't pass custom compiler flags.

That is a known issue. It has simply not yet been fixed because there are not that many msbuild ports which is why I proposed `vcpkg_configure_make` since your configure scripts looked like they would be able to handle that. (Because it also looks quite similar to what a `CMakeLists.txt` would look

[2021-06-17 09:30] manxorist commented on #18480
So we are back at vcpkg requesting upstream to implement vcpkg-specific solutions to be supported properly. You are arguing in circles here.

[2021-06-17 09:36] JonLiu1993 commented on #18282
@ghamarian ,pr #17975 Update arrow to 4.0.0. I tested arrow:x64-osx locally and it can be used successfully. You can update vcpkg and try again.This issue is temporarily closed. If you have any problems, you can reopen it.

[2021-06-17 09:36] #18282 closed

[2021-06-17 09:41] Pilipets opened #18496 "How do I integrate vcpkg for different toolsets?"
I installed all the necessary libs for x64-windows and x64-windows-v140(custom triplet with `set(VCPKG_PLATFORM_TOOLSET v140)`.

Now I want to use them in Visual Studio with both toolsets, but I wasn't able to integrate vcpkg with the v140 toolset.
The compilation, linking, includes works flawlessly for the v142(aka latest toolset) in the Visual Studio after `vcpkg integrate install`, but as soon

[2021-06-17 09:45] PhoebeHui commented on #8215
@eskech, thanks for your reply! we haven't got extra new issue for this, it's a very particular case, and I think it will not be supported for a long time, so closing this now.

[2021-06-17 09:45] #8215 closed

[2021-06-17 09:47] idealvin opened #18497 "Why not support xmake?"
As far as I know, [xmake](https://github.com/xmake-io/xmake) is much simpler than cmake, it just lacks the support of big companies. Does Microsoft consider cooperating with the author of xmake to build a package manager based on xmake?

[2021-06-17 09:47] JackBoosY commented on #18416
@playgithub It passed on my machine.

[2021-06-17 09:48] JackBoosY commented on #18481
@taor-163 Can you please provide the full log?

Thanks.

[2021-06-17 10:13] NancyLi1013 commented on #18466
Thanks for your information. I will try to build this on my local.

[2021-06-17 10:14] PhoebeHui commented on #18110
@strega-nil-ms, could you please help have a look?

[2021-06-17 10:15] PhoebeHui commented on #18380
@fan809583247, please reopen this issue with detail if it still be a question for you?

[2021-06-17 10:15] #18380 closed

[2021-06-17 10:28] #18497 closed

[2021-06-17 10:29] playgithub commented on #18416
The logs are exactly the same.
https://dev.azure.com/vcpkg/public/_build/results?buildId=55036&view=logs&jobId=c7e67a25-2047-5d01-7913-57de0573f534&j=c7e67a25-2047-5d01-7913-57de0573f534

[2021-06-17 10:33] traumedy opened #18499 "[tesseract:x64-windows] build failure "WebP::WebP not found""
**Host Environment**
- OS: Windows Version 10.0.19043.1055
- Compiler: Visual Studio 2019 Community

**To Reproduce**
[code]

**Failure logs**
[code]

**Additional context**
`libwebp` IS installed.

[config-x64-windows-out.log](https://github.com/microsoft/vcpkg/files/6669400/config-x64-windows-out.log)

[2021-06-17 10:33] PhoebeHui commented on #18496
Closing in favor of https://github.com/microsoft/vcpkg/issues/18336.

[2021-06-17 10:33] #18496 closed

[2021-06-17 10:47] traumedy opened #18500 "[tensorflow:x64-windows] build failure"
**Host Environment**
- OS: Windows Version 10.0.19043.1055
- Compiler: Visual Studio 2019 Community

**To Reproduce**
[code]

**Failure logs**
[code]
[build-x64-windows-dbg-err.log](https://github.com/microsoft/vcpkg/files/6669513/build-x64-windows-dbg-err.log)

[2021-06-17 10:48] DanL1234 commented on #18423
Hi Jack, thank you very much for your reply.

I have been digging away in the background and now have part of my answer:

**I believe I have found an issue in Vcpkg where different compilers are used within a single build of multiple dependencies**
(this statement may be worded better by those with more knowledge) .

In my ignorance of Vcpkg, I saw this "issue" and assumed that it was normal for d

[2021-06-17 10:49] DanL1234 commented on #18423
[config-x64-windows-out.log](https://github.com/microsoft/vcpkg/files/6669530/config-x64-windows-out.log)

[2021-06-17 11:01] leha-bot opened #18501 "[New Port Request] libcaca"
Library name: libcaca

Library description:
Library for converting image into ASCII art with simple painting API
Source repository URL: https://github.com/cacalabs/libcaca

Project homepage (if different from the source repository):
http://caca.zoy.org/wiki/libcaca
Anything else that is useful to know when adding (such as optional features the library may have that should be included):
It has two

[2021-06-17 11:24] yzw88 opened #18502 "[uwebsockets] update to <v19.2.0>"
Library name:  uNetworking/uWebSockets

New version number:

commit b7c82d791010bd4c9b45528846f95b9886e9f984

github address: https://github.com/uNetworking/uWebSockets

请问下，是否可以升级最新的uwebsocket呢？ 目前的uwebsocket不是release 版本呢？

[2021-06-17 11:26] taor-163 commented on #18481
https://github.com/taor-163/somefile/blob/master/build-x64-windows-rel-0-err.log

[2021-06-17 11:40] Pilipets commented on #18336
Hi, I have the same issue. Have anyone figured out a work-around solution?

I guess manual modification of linking/include directories might work, but it doesn’t look scalable.

[2021-06-17 11:51] playgithub commented on #18470
@PhoebeHui
By set host triplet to `x64-windows-cpp17`, it is installed successfully.
But why as a tool, it failed with triplet `x64-windows`.

For example, when doing cross compile for Linux on Windows, target triplet is `x64-linux`, then what host triplet should be for `boost-system`? Will `x64-windows` as  still host triplet failed?

[2021-06-17 12:09] kisan68 opened #18503 "[grpc] update to 1.35 or latest"
Library name: gRPC

New version number: 1.35

Other information that may be useful (release notes, etc...)

[2021-06-17 12:16] fh-igd-mueller-roemer opened #18504 "tiff:arm64-linux build failure"
**Host Environment**
- OS: Ubuntu 18.04 (inside a Docker container)
- Compiler: aarch64-linux-gnu-gcc (Ubuntu/Linaro 7.5.0-3ubuntu1~18.04) 7.5.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install tiff:arm64-linux`

**Failure logs**
- [console.log](https://github.com/microsoft/vcpkg/files/6670041/console.log)
- [config-arm64-linux-dbg-out.log](https://github.com/microsoft/vcpkg/fil

[2021-06-17 12:29] dcnieho opened #18507 "Multiple manifests"
I have a solution laid out like this:
\    (root, contains base_project)
\dependencies
\project_using_base

where \dependencies contains the dependencies of both base_project and project_using_base (some shared, some unique. There are some dependency headers that project_using_base doesn't use itself, but are needed by the headers of base_project, and thus indirectly needed to build project_using_

[2021-06-17 12:33] omartijn opened #18508 "Best way to support multi-arch builds on osx for ports that don't support it"
PR https://github.com/microsoft/vcpkg/pull/18156 adds support for setting multiple architectures in `VCPKG_OSX_ARCHITECTURES`. This works great for ports that use CMake themselves, but does not work for ports that don't.

The problem is mostly with ports using Autotools, since they tend to revolve around a `config.h` file which controls what is included and which options are enabled instead of loo

[2021-06-17 13:15] borjacano97 commented on #18468
Solved! I had CMake installed with cygwin and `cygwin64/bin` in the PATH. I just unistalled cmake from cygwin and runned the vcpkg install [anylib], which installed a portable version of cmake and the installed the library successfuly.
Thank you.
Closing the issue.

[2021-06-17 13:36] Colon-D commented on #18422
Hello again!

Thanks for the help.

I used @dg0yt 's solution of using `vcpkg_find_acquire_program`.

I also needed to install "joyshocklibrary", I did so by appending onto the end of the "CMakeLists.txt".
I am not sure if there is a better way but it appears to work.

The final "portfile.cmake" now looks like:
[code]

I tried for many hours today and yesterday to replace "JoyShockLibrary"'s usage

[2021-06-17 13:36] #18422 closed

[2021-06-17 14:51] dg0yt commented on #18422
CMake has unintuitive corners, but I don't think this is the problem here. Both vcpkg and CPM do some things with, in additition to, and different than CMake. Such differences are unintuitive even with CMake experience.

AFAIU CPM makes it convenient to use "vendored dependencies" but hard to opt out of them. It seems to be intrusive.

[2021-06-17 15:00] ostepan2006 commented on #18477
@NancyLi1013
Thanks for your reply. It is a shame that you can not reproduce error.
That is what can I found in config-x64-windows-out.log :
[code]
And what I can found in G:/Distrib/vcpkg/buildtrees/lapack/x64-windows-dbg/CMakeFiles/CMakeError.log:

[code]

Might this information be worth for the error debuging?
Thanks
[config-x64-windows-out.log](https://github.com/microsoft/vcpkg/files/6671193/

[2021-06-17 15:05] timmeh87 commented on #18507
In my opinion if you really want to use two manifest files then you should be directing the output to two different folders instead of constantly fighting to overwrite it. Seems like a lot of unnecessary churn. The extra cost would be storing all the libraries on your hard drive twice but in practice I think storage space is cheaper than time (waiting for constant rebuilds of different manifests i

[2021-06-17 15:52] Brouilles opened #18510 "assimp:x64-uwp build failure"
**Host Environment**
- OS: Windows 10
- Compiler: Visual Studio 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install assimp:x64-uwp`

**Failure logs**
[code]

[2021-06-17 15:53] Brouilles commented on #17732
I have updated vcpkg and it's working now.
Thanks.

[2021-06-17 15:53] #17732 closed

[2021-06-17 15:59] Brouilles commented on #18510
related to https://github.com/microsoft/vcpkg/issues/14015

[2021-06-17 16:00] tonygould commented on #18478
Apologies, after reading your post, I tried again with a bunch of different options, I just got this to work with simply `"cacheVariables": { "VCPKG_TARGET_TRIPLET": "x64-windows-static" }`. I was sure that this was what I tried yesterday. After trying to replicate the problem for 1-2 hours this afternoon, I have to say the most likely explanation is user error on my part. If something like this h

[2021-06-17 16:08] dg0yt commented on #18504
I can reproduce this issue.
tiff now uses `find_library(CMath_LIBRARY NAMES m)` to find libm. This happens to work on x64, but fails for (Ubuntu) arm64.

The error is fixed by adding `PATHS ${CMAKE_C_IMPLICIT_LINK_DIRECTORIES}` to `find_library`.

[2021-06-17 17:19] josbla89 commented on #18449
thanks i sussefully patched tiff

[2021-06-17 17:19] #18449 closed

[2021-06-17 17:34] timmeh87 commented on #15065
Hello, I am interested in submitting a port that requires fortran. I searched for "fortran support" and got here (I read the related issue as well)

I can compile it with intel oneAPI outside of vcpkg and I can also compile it on linux using whatever the default fortran compiler is. After I installed oneAPI and allowed it to integrate, the cmake files from the port picked it up right away and it '

[2021-06-17 18:05] Brouilles commented on #18510
But don't help so mush. If I disable and remove `irrlicht` it's `minizip`, etc...

[2021-06-17 18:05] timmeh87 opened #18513 "[New Port Request] <clipper>"
**Library name:**
"clipper" aka "Angus' C++ Polygon Clipping Library" aka "libpolyclipping"

**Library description:**
"An open source freeware library for clipping and offsetting lines and polygons."

**Source repository URL:**
http://sourceforge.net/projects/polyclipping/files/
https://github.com/brandon-kohn/clipper-lib (mirror)

**Project homepage (if different from the source repository):**
ht

[2021-06-17 18:45] ostepan2006 commented on #18477
@NancyLi1013 thanks for your replyes. But the above error had gone after I has updated VS 2017. A new error has asised. This one:
[code]
Should I commit a new issue? Thanks

[2021-06-17 18:54] timmeh87 opened #18514 "[New Port Request] <simplesockets>"
**Library name:**
"SimpleSockets" aka "clsocket"

**Library description:**
"SimpleSockets is a lightweight set of classes that allow developers to implement IP based network programs."

**Source repository URL:**
https://github.com/nyhnpya/ClSockets
https://github.com/DFHack/clsocket (SEE COMMENTS)

**Project homepage (if different from the source repository):**
http://sockets.carrierlabs.com/ (??

[2021-06-17 18:56] dg0yt commented on #18513
This library is available under its other popular name, `polyclipping`.

[2021-06-17 19:05] timmeh87 commented on #18513
Oh cool, thank you

[2021-06-17 19:05] #18513 closed

[2021-06-17 19:17] traumedy commented on #18499
Similar happens with port `vtk`:
[code]

[2021-06-17 19:51] RagnarDa opened #18515 "SDL2 for IOS fails"
Package: sdl2:x64-ios
Vcpkg version: 2021-05-05-unknownhash

Log: https://drive.google.com/file/d/1hVIUXo_nX5puH3AIR3j8EoSLGq45XXVa/view?usp=sharing

[2021-06-17 20:03] BillyONeal commented on #18480
vcpkg absolutely does not require that the build system be cmake, but it does require that the *results* are consistently *consumable* from cmake projects on different platforms; that's vcpkg's whole raison d'être. We patch upstream builds to fix this regularly, most often to make sure libs are placed in the right locations.

That doesn't mean we need a new cmake build system, but it may be diffic

[2021-06-17 20:12] #17136 closed

[2021-06-17 20:15] aizuon commented on #17139
Fixed via https://github.com/microsoft/vcpkg/pull/17153

[2021-06-17 20:15] #17139 closed

[2021-06-17 20:21] larshg commented on #18442
This seems like a cumbersome way to handle this. We could end up having special cases for all kinds of package managers?

If a PR for suggestion 2 is openened, wouldn't be the better solution? It would give more ways to use LIBUSB in downstream projects. Either by directly using the INCLUDE / LIBRARIES variables or by using the target defined, ie. libusb::libusb?

[2021-06-17 20:45] Schala commented on #18428
Alright, figured it out. I was missing the `target_include_directories` bit. I assumed since they were in my vcpkg include path that it was unnecessary.

[2021-06-17 20:45] #18428 closed

[2021-06-18 01:43] NancyLi1013 commented on #18477
For `cudnn`, this is intended. Currently, we need to download it manually from official sources. Please see https://github.com/microsoft/vcpkg/issues/17377.

So please download it and then rebuild.

[2021-06-18 01:43] alexkaratarakis commented on #18480
I agree, but there are still open questions about what the port should look like so the fixes can be more comfortably done in a new PR that can incubate for sufficient amount of time. The goal here is for someone to provide a port of satisfactory quality so libopenmpt maintainer(s) and libopenmpt users_that_use_vcpkg are happy.

[2021-06-18 02:01] idealvin opened #18518 "Feature request: support xmake packages (xrepo)."
### Discussed in https://github.com/microsoft/vcpkg/discussions/18498

<div type='discussions-op-text'>

<sup>Originally posted by **idealvin** June 17, 2021</sup>
As far as I know, [xmake](https://github.com/xmake-io/xmake) is much simpler than cmake, it just lacks the support of big companies. Does Microsoft consider cooperating with the author of xmake to build a package manager based on xmake?

[2021-06-18 02:02] idealvin commented on #18518
Google has bazel, and perhaps Microsoft may have a similar build tool.

xmake is a lightweight, powerful build tool, and the most important, it is really easy to learn. If Microsoft acquires xmake or something like that, and develops its own build tool based on xmake, lots of programmers will benefit from it.

[2021-06-18 02:10] traumedy opened #18519 "[New Port Request] TUIO 1.1 and 2.0"
Library name:
TUIO 1.1 and TUIO 2.0

Library description:
TUIO is an open framework that defines a common protocol and API for tangible multitouch surfaces. The TUIO protocol allows the transmission of an abstract description of interactive surfaces, including touch events and tangible object states. This protocol encodes control data from a tracker application (e.g. based on computer vision) and

[2021-06-18 02:14] NancyLi1013 commented on #18482
Hi @WangZP10969

Thanks for posting this issue

Seems `vtk `only sets `unicode `here:
https://github.com/Kitware/VTK/blob/master/Utilities/KWSys/vtksys/CMakeLists.txt#L915-L918

In vcpkg, I noticed that only msbuild and make set `unicode `

https://github.com/microsoft/vcpkg/blob/183a12585a95b36bfdda342eb6d302d3ab3ad466/scripts/buildsystems/msbuild/vcpkg.targets#L108

https://github.com/microsoft/

[2021-06-18 02:18] JackBoosY commented on #18416
I can confirm this issue was fixed.

[2021-06-18 02:18] #18416 closed

[2021-06-18 02:22] NancyLi1013 commented on #18466
@MichaelGoulding

Could you please help tell me on which function the breakpoint should be set? I noticed that there are many functions in main.cpp file. Since I'm not familiar with these codes, can you help provide the related screenshot here?

Thanks.

[2021-06-18 02:25] playgithub commented on #18416
The PR (https://github.com/microsoft/vcpkg/pull/18438) doesn't pass the tests in CI.
[code]

[2021-06-18 02:28] JackBoosY commented on #18423
Some ports (libraries) use cross-platform to build themselves on Windows, so it is reasonable to use different compilers for different ports.
But if this issue occurs on the master, it must be a bug.

[2021-06-18 02:37] NancyLi1013 commented on #18499
Hi @traumedy

Thanks for posting this issue.

Can you remove `libwebp `and update vcpkg to the latest to rebuild? I cannot reproduce this on my machine.

[2021-06-18 02:39] JackBoosY commented on #18481
@taor-163 Can you please also provide log _VCPKG_ROOT/buildtrees/openssl/x64-windows-static-dbg/crypto/bn/rsaz-x86_64.asm_?
Please pay attention to provide it by compressing the file and dragging the file to the comment box to prevent the content from being damaged.

[2021-06-18 02:51] JackBoosY commented on #18478
Maybe you should use the community triplet `x64-windows-static-md` instead.

[2021-06-18 02:56] JackBoosY commented on #18442
This can be accepted if the upstream libusb adds this method or cmake provides this method. Otherwise, other ports may also provide the same method and cannot achieve consistency.

[2021-06-18 02:59] JackBoosY commented on #18510
[code]
I remember the upstream uses some functions that doesn't support uwp applications.

[2021-06-18 03:02] JackBoosY commented on #18500
[code]

[2021-06-18 03:07] PhoebeHui commented on #18507
[code]

It look you need to resolve the dependency for B->A, then when you using B, then C1, C2 and C3 should be installed.

We have a same discussion https://github.com/microsoft/vcpkg/discussions/18122 for multi manifest file.

[2021-06-18 03:12] NancyLi1013 commented on #5573
Upstream issue https://github.com/SpartanJ/SOIL2/issues/48

[2021-06-18 03:18] MichaelGoulding commented on #18466
Any where is fine.  Just have natvis diagnostics turned on.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: NancyLi1013 ***@***.***>
Sent: Thursday, June 17, 2021 7:22:13 PM
To: microsoft/vcpkg ***@***.***>
Cc: Michael Goulding ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/vcpkg] Debugging with vcpkg as submodule results in a natvis error (#1846

[2021-06-18 03:23] luizfernandonb opened #18520 "Automatically set environment variables"
The vcpkg could automatically set some environment variables, such as `VCPKG_ROOT`, among others

This would help to avoid errors in CMake builds that use the `VCPKG_ROOT` variable to find the root folder of vcpkg to use libraries among others, as I or other people don't always remember to set this environment variable to the entire system

[2021-06-18 03:46] taor-163 commented on #18481
"vcpkg install openssl:x64-windows-static" is OK
https://github.com/taor-163/somefile/blob/master/x64-windows-static-dbg/rsaz-x86_64.asm

this error is "openssl:x64-windows"
https://github.com/taor-163/somefile/blob/master/x64-windows-rel/rsaz-x86_64.asm

VS is Microsoft Visual Studio\2019\Community\VC\Tools\MSVC\14.28.29910\bin\HostX64\x64\nmake.exe

[2021-06-18 05:04] hmoffatt opened #18521 "[fluidsynth] update to 2.2.1"
Library name: fluidsynth

New version number: 2.2.1

Other information that may be useful (release notes, etc...)
https://github.com/FluidSynth/fluidsynth/releases

Fixes various library and OS compatibility issues. Current version does not work properly on macOS 11.

[2021-06-18 05:09] dg0yt commented on #18520
What is the use case for setting this environment variable?
Vcpkg tool always passes `-DVCPKG_ROOT_DIR=...` when invoking the portfile scripts. So this is the canonical source for that information.

[2021-06-18 05:11] yzw88 commented on #18369
thanks

[2021-06-18 05:11] #18369 closed

[2021-06-18 05:35] dg0yt commented on #18442
I think this particular conflict is the usage of `find_package` with custom find modules. IMO this is more a legacy CMake approach which could cause a lot of trouble when integrating components which each had their own variant of FindXy. My POV on modern CMake is:
- Use `find_package` for CMake standard find modules, dependency-provided cmake config files. This is where vcpkg or other environments

[2021-06-18 05:39] traumedy commented on #18499
vcpkg was up to date (`git pull` and `bootstrap-vcpkg`), however, removed libwebp, removed buildtrees directory and tesseract (and vtk) compiles successfully now.

Closing issue.

Thank you for your time.

[2021-06-18 05:39] #18499 closed

[2021-06-18 06:01] traumedy commented on #18500
Same results when cloned to D:
[code]

[build-x64-windows-dbg-err.log](https://github.com/microsoft/vcpkg/files/6674923/build-x64-windows-dbg-err.log)

Possibly of note:  Immediately after build failure, if I try to remove the `buildtrees` directory I get in use/permission errors:
[code]

[2021-06-18 06:08] NancyLi1013 commented on #18466
I have reproduced this issue on my machine. Thanks for your help @MichaelGoulding

@vejmartin

Do you know what the file `chrome.natvis` is used for?
https://github.com/microsoft/vcpkg/blob/master/ports/chromium-base/res/tools/win/DebugVisualizers/chrome.natvis

Seems this is a empty file in vcpkg.

But I found this file here https://chromium.googlesource.com/chromium/src/tools/win/+/refs/heads/ma

[2021-06-18 06:14] JackBoosY commented on #18500
[code]

Parallel build needs to be turned off.
cc @jgehw

[2021-06-18 06:37] vejmartin commented on #18466
@NancyLi1013, the `chrome.natvis` file needs to exist in the source_path for `chromium-base` to successfully configure. It's used in [base/BUILD.gn](https://source.chromium.org/chromium/chromium/src/+/main:base/BUILD.gn?q=chrome.natvis&ss=chromium). It's part of the [tools/win](https://chromium.googlesource.com/chromium/src/tools/win) repository, and it should be fine to replace it with the origin

[2021-06-18 06:39] NancyLi1013 commented on #7532
C++ bindings will be moved to a new repo.

https://github.com/PortAudio/portaudio/issues/548

[2021-06-18 07:09] JackBoosY commented on #18441
The function `vcpkg_build_make` already have option `DISABLE_PARALLEL`.

@Greisby  Can you please modify _ports/mp3lame/portfile.cmake_ line 109
from
[code]
to
[code]

And try again? thanks.

[2021-06-18 07:11] JackBoosY commented on #18520
We have received such issues, and the answer is no.

vcpkg will never actively modify system configuration or environment variables.

[2021-06-18 07:23] PhoebeHui commented on #18518
@idealvin, thanks, I change the catagory and label in the discussion https://github.com/microsoft/vcpkg/discussions/18498, we will use it to track the suggestion.

[2021-06-18 07:23] #18518 closed

[2021-06-18 07:25] hhxdestiny opened #18523 "Can you increase the make progress display？"
Can you increase the make progress display, just like when pip installs the package, there is a progress bar display.

[2021-06-18 07:28] PhoebeHui commented on #18503
@kisan68, grpc has been upgrade to 1.37 in vcpkg, could you please get latest source and try again?

[2021-06-18 08:07] JackBoosY commented on #18481
cc @ras0219 @ras0219-msft

[2021-06-18 08:16] kisan68 commented on #18503
When I try  ".\vcpkg.exe search grpc", I can see that grpc is at version 1.33.1#3
Do I need to wait a while after the GitHub sync?

[2021-06-18 08:23] JonLiu1993 commented on #18503
You can run the command "git pull" to update vcpkg, if it still fails, please clone vcpkg again

[2021-06-18 08:29] tmamakov commented on #5732
Hello. The problem looks much more complicated. @vlarin provided a good local solution, but it is impossible to commit such changes.  Building numpy requires python, but which one? vcpkg directory has at least two copies of python, third one was installed by standart installation.
1. Is it possible to install python by vcpkg into the system and use it everywhere?
2. Could we use pip for vcpkg-pyth

[2021-06-18 08:33] NancyLi1013 commented on #18466
@vejmartin

Thanks for your quick response and suggestions.

For this point, I'm sorry, it belongs to debugger field in Visual Studio. I'm also not clear about this. So I'm not sure if there is a way to enable this operation.

@MichaelGoulding

According to the above information, it's clear that this is caused by an empty .natvis file. Since this is intended behavior in vcpkg. Seems you didn't use

[2021-06-18 08:37] mkaring opened #18527 "[libpq] build failure"
**Host Environment**
- OS: Windows
- Compiler: Visual Studio 2019 16.10.2
- Port files: 6e024e744e7717c06ddacd5089401109c6298553

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg\vcpkg.exe install libpq:x64-windows`

**Failure logs**
[code]
[install-x64-windows-RELEASE-err.log](https://github.com/microsoft/vcpkg/files/6675755/install-x64-windows-RELEASE-err.log)

[2021-06-18 08:57] manxorist commented on #18480
Well, that might be the goal, however I highly doubt that consistent results are achievable reliably with different build systems on different platforms, which is why (after this was explained to me in the original pull request), I agreed that cmake would probably be a better fit to support all platforms that vcpkg wants to support in an as consistent as possible fashion.

I even suggested that I

[2021-06-18 09:13] NancyLi1013 commented on #18144
Does this still exist on your machine now?

[2021-06-18 09:28] tonygould commented on #18478
hi Jack, I'm not sure why a community triplet would help when the official one doesn't work? Also the community triplet specifies md when I want mt. In any case I'm closing this issue because the original question I had was addressed by Alexander, and I now have a new issue, which I'll raise separately.

[2021-06-18 09:31] Neumann-A commented on #18480
If you don't want to use CMake use meson..... CMake is not alien to any platform... maybe you think so because it provides an abstraction about the build/target platform. On the other hand you are already using `premake` to generate the VS solutions  (How is `premake` different from `cmake` in this case?), so why not simply switch that correctly to cmake and also include the unix/osx case? Or make

[2021-06-18 09:49] tonygould opened #18531 "x64-windows-static not working in manifest mode"
**Describe the bug**
Adding `set(VCPKG_TARGET_TRIPLET "x64-windows-static")` to CMakeLists.txt affects dependencies but not the current project.

**Environment**
- windows
- visual studio 2019

**To Reproduce**
Based on https://github.com/microsoft/vcpkg/blob/master/docs/examples/versioning.getting-started.md

CMakeLists.txt

    cmake_minimum_required(VERSION 3.18)

    set(VCPKG_TARGET_TRIPLET "

[2021-06-18 09:56] nmoreaud commented on #18297
Did you find a solution?

[2021-06-18 10:00] JackBoosY commented on #18523
Duplicated to https://github.com/microsoft/vcpkg/issues/7918.

[2021-06-18 10:00] #18523 closed

[2021-06-18 10:13] SpriteOvO opened #18532 "Visual Studio prompt targeting wrong identification"
**Describe the bug**
When using `Visual Studio 16 2019 Win64` instead of `Ninja` as the CMake generator, `vcpkg` incorrectly identifies `Visual Studio prompt targeting` as `x86` instead of `x64`.

**Environment**
- OS: Windows
- Compiler: MSVC (VS Version Version 16.10.2)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a CMake project in VS.
2. Change the generator from `Ninja` to `Vi

[2021-06-18 10:18] SpriteOvO commented on #18532
BTW, you may need to try several times, it does not seem to be 100% reproducible.

[2021-06-18 10:24] ostepan2006 commented on #18477
@NancyLi1013 thanks a lot

[2021-06-18 10:29] manxorist commented on #18480
cmake is not the native build system on any platform. Thus it is alien on all of them. Cmake integration with pkg-config (using dependencies from and/or providing dependencies for pkg-config style projects) is still awkward and frowned upon by cmake, and cmake still tries to enforce its own way of package discovery (which is proprietary to cmake and alien to any platform). Now, I do understand the

[2021-06-18 10:31] PhoebeHui commented on #18527
[code]

@mkaring, I can't repro this issue locally, it built successfully for me.

looking at src\tools\msvc/Install.pm line 68 ~ line 77, it looks something wrong here. Could you also attach build-libpq-x64-windows-RELEASE-out.log?
[code]

[2021-06-18 10:37] tonygould commented on #18297
No. There is a bug in the documentation and/or vcpkg itself, in my opinion. A workaround is not to use the version / baseline, or to use a version that works (e.g. `"version>=": "7.1.3#4"`) or a more recent baseline (e.g. `"builtin-baseline": "b2544fd780b2e9a05d903314cbbd37268ba43d81"`). But this is missing the point -- the idea of versioning is to specify a minimum version and have the system fig

[2021-06-18 10:44] bionicbeagle commented on #16327
Thanks for working on this! I have tried using this vcpkg port with Visual Studio in manifest mode. The library builds fine and so does a simple test program except it looks like the linker does not include the generated libraries in the libs to scan, which results in unresolved symbols.

The following is the resulting output when building the examples/component/button.cpp example in a minimal C++

[2021-06-18 11:07] tonygould opened #18533 "Versioning fails to recognise baseline, and doesn't cope with specification of versioning for dependency"
**Describe the bug**
Following the steps at https://github.com/microsoft/vcpkg/blob/master/docs/examples/versioning.getting-started.md, configuration fails with errors on the baseline, and, if you delete the baseline, errors on the version specification  of `fmt`.

Either the "Getting started" example should work and there are bug(s) in the underlying vcpkg, or the example should be modified so th

[2021-06-18 11:07] tonygould commented on #18297
q3, q4 resolved, thanks. q1, q2 unresolved and have been reported separately at https://github.com/microsoft/vcpkg/issues/18533.

[2021-06-18 11:07] #18297 closed

[2021-06-18 11:11] basselin7u commented on #17286
Hello,
I had the same issue during the installation.
It is not a problem of writing rights, but a problem of space in the folder name.

[2021-06-18 11:14] DanielZint commented on #17286
Thank you for pointing that out @basselin7u !

[2021-06-18 11:18] Neumann-A commented on #18480
I don't think so. `FindPkgConfig` is totally fine and works.

It doesn't force you to use it...... If you mean the `find_package` approach which is just a redirection to/include of a `Find<Module>.cmake` or a `<Module>-Config.cmake`.  This is just proper modularization of the build script. If you don't want to use it don't use it and do whatever scripting you want ....
You can have `Fetch_Content`

[2021-06-18 11:39] manxorist commented on #18480
So cmake fails my requirements. Why should I use it then?

It matters because vcpkg would be using a configuration unsupported by upstream.

Like any other project on Windows when not using any of the package managers. Either include and link by hand, or reference the msbuild file.

Unless package managers start to provide security updates for all ports they distribute in a timely fashion (and vcp

[2021-06-18 11:47] kisan68 commented on #18503
Thank you. I tried a simple client-server example and it works.

[2021-06-18 11:47] #18503 closed

[2021-06-18 11:56] manxorist commented on #18480
My information is based on a talk by some either CMake developer or at least proponent who acknowledged bad integration with pkg-config in various aspects. I do not remember precise details, but if really needed I can try to dig up the talk in question (might have been a CppCon talk).

Even ignoring that, unless CMake natively without manual intervention generates the .pc files itself, its integra

[2021-06-18 12:18] Neumann-A commented on #18480
You haven't even defined your requirements..... But I can already say that your generated solutions don't even fulfill my build requirements and would require manual adjustment anyway.

It might be untested but it will work.... It is not unsupported because you are testing MinGW and switching to CL is just switching out the backend compiler (e.g. like switching from `g++` to `clang++`).

ah yes...

[2021-06-18 12:45] manxorist commented on #18480
This is ridiculous, I very much did:

You are free to ignore my arguments or assess that you personally do not care about them, but neither will invalidate them.

I have seen *WAY TOO MANY* projects that fail this very basic test. Now, I do understand that vcpkg's intention is to solve this problem, but it still needs to go a very long way to even be close.

So ... you could ... like ... contribut

[2021-06-18 12:50] nmoreaud commented on #18297
Yes, having to specify a commit ID as the baseline is very strange.
In my opinion, they are trying to mimic Linux distributions which have periodic releases. We could refer VCPKG repository version as: `"baseline": "2019-06"`. But in most package manager, the versions are not centralized this way, you can just pick the library version you want and have to deal with incompatibilities. I also saw th

[2021-06-18 12:54] SunBlack commented on #18442
Using plan `include` is bad style too. When you have e.g.:

[code]

it would really decrease readability when you have to write instead
[code]

There are some reasons why using `find_package` with own find scripts is better than using `include`:
- Just using `include` without creating a method within this include: Readability decreased as you need the knowledge which variables this include is proc

[2021-06-18 13:00] manxorist commented on #18480
To reiterate on the CLA problem:

I fully understand and support the CLA requirement for contributions to the vcpkg tool and infrastructure itself. I can totally see that Microsoft may intend to ship that as part of Visual Studio or Windows or some SDK and license it to paying customers under whatever conditions both parties see fit. I can understand that Microsoft does not want to be bound by eve

[2021-06-18 13:06] atkawa7 commented on #18480
+1 for this

[2021-06-18 13:24] dg0yt commented on #18442
The example sounds like Qt, but for that, my recommendation was "Use `find_package` for ... dependency-provided cmake config files".  Anyway, I do accept that there are good reasons for using custom find modules.

[2021-06-18 13:32] dg0yt commented on #18442
@SunBlack  wrote:

@JackBoosY  wrote:

To be honest, I find this policy a little bit inconsistent on the vcpkg side. When it is not acceptable to create non-standard targets, how can it be acceptable to create non-standard cache variables and interfer with lookup of custom find modules?
When consistency is the goal, wrappers make sense for standard CMake find modules, but are risky for other purpo

[2021-06-18 13:36] Neumann-A commented on #18480
The solution is pretty darn simple here: Split the ports directory out of the main vcpkg repository and remove the CLA requirement from the ports repository. Microsoft would not need the CLA for anything if the vcpkg repository would just link to the live online ports repository on Github.

Provide your own overlay-port or ports registry.....
https://github.com/microsoft/vcpkg/blob/master/docs/spe

[2021-06-18 13:44] luizfernandonb commented on #18520
But I could at least ask the user if he would like vcpkg to add as to environment variables or if that can't either, there could be an option the user would add during installation that would allow vcpkg to add to environment variables automatically

[2021-06-18 13:46] luizfernandonb commented on #18520
I was compiling a project using CMake in Visual Studio and the IDE was not finding the VCPKG_ROOT environment variable to replace it in CMakeLists.txt because it was not defined in the system environment variables

[2021-06-18 13:56] dg0yt commented on #18520
This was in "Manifest mode"? The VCPKG_ROOT *cmake* variable is pass from vcpkg tool to the portfile scripts. It is not passed magically to the the project mode (CMakeLists.txt).
In project mode

[2021-06-18 13:57] atkawa7 commented on #18480
Couldn't have said it better

[2021-06-18 13:58] dg0yt commented on #18520
(cont.) In project mode (vcpkg manifest mode), there is `VCPKG_INSTALLED_DIR` - which has a different meaning though.

[2021-06-18 14:00] SunBlack commented on #18442
I took indeed the example from Qt as I didn't had another example in our code where we have switch between different components (just replaced Qt by MyDependency to avoid the discussion that Qt isn't an library where you need an own find script) ;-).

Yep, that is the point. As libusb has no find script itself it is not clear, which properties/variables are allowed to defined or not.

[2021-06-18 16:17] xanderdunn opened #18536 "[tensorflow] update to 2.5.0"
Library name: tensorflow

New version number: 2.5.0
Released on 13 May 2021.

Release notes: https://github.com/tensorflow/tensorflow/releases/tag/v2.5.0

[2021-06-18 16:22] manxorist commented on #18480
Stop lying. We very much do not. We are not even using Github as our primary repository.

[2021-06-18 16:32] tonygould commented on #18297
Those are some good questions on the cppblog page. To answer the first one, what happens is that for every build configuration of every project, vcpkg copies the binaries from its cache into the build folder for that configuration. So if you build n configurations across m projects, n >= m, you will have (n+1) copies of each binary, including the cache. I believe that conan references binaries dir

[2021-06-18 16:38] manxorist commented on #18480
The GitHub Terms of Service are not even remotely similar to the terms in the Microsoft Contributor License Agreement. This claim is so obviously wrong, that I will not discuss anything any further with @Neumann-A as they are obviously not interested in any discussion based on actual facts.

[2021-06-18 16:40] xanderdunn opened #18537 "[arrow] Deprecated CMake Usage"
**Describe the bug**
`./vcpkg install arrow` with arrow 4.0.0 prints this usage text at the end:
[code]

When using that in CMakeLists.txt, cmake 3.20.1 prints this message and exits:
[code]

**Environment**
- OS: Ubuntu 18.04
- Compiler: GCC 10.3.0

**To Reproduce**
Steps to reproduce the behavior:
1. `./vcpkg install arrow`
2. Add ` find_package(arrow CONFIG REQUIRED)` to CMakeLists.txt
3. Attem

[2021-06-18 16:41] xanderdunn opened #18538 "[arrow] CMake Linker Usage?"
@ianmcook Thanks a lot for upgrading arrow to 4.0.0 in #17975.

I'm installing arrow 4.0.0 with `vcpkg install arrow[dataset,s3,parquet]`.

vcpkg prints this usage text after installation:
[code]

When I add `find_package(Arrow CONFIG REQUIRED)` to my CMakeLists.txt, the linker doesn't find the library at all:
[code]
Linker error:
[code]

I see the libs are at:
[code]

What is the expected usage o

[2021-06-18 16:48] playgithub commented on #18066
@JackBoosY
Maybe it is not a problem of port `wxcharts`,
because only after recent updates of `vcpkg` (i.e. git pull `vcpkg repo`), my project  can't run because debug version of app is trying to find release version of wx. One possible thing is that recent version is downloading `vcpkg.exe` instead of build it from source. I don't know if there is some policy for microsoft to make wx hard to use.

[2021-06-18 17:42] manxorist commented on #18480
Back to technical discussion.

I am trying to assess the implications of supporting CMake as a build system in libopenmpt upstream.

When libopenmpt starts to support CMake as an official build system, this will involve providing the files necessary for other CMake projects to be able to use `find_package`. Now, if Linux distributions do *not* switch to the CMake build system of libopenmpt, they w

[2021-06-18 17:43] ras0219-msft commented on #18480
I humbly request that further responses to this thread are restricted to just @manxorist or Microsoft Employees. Otherwise, I'll need to lock this thread and we can move this important discussion either to a new thread or email.

First, I want to sincerely apologize that your comments on the original Pull Request for `libopenmpt` were left unheard; our review process doesn't cover already-merged i

[2021-06-18 17:53] ras0219-msft commented on #18480
A perfect 10/10 library would provide the same integration from each buildsystem, yes. However, the majority of libraries with multiple buildsystems unfortunately don't do this. If they offer CMake and autotools, the autotools build almost universally will not provide CMake integration. Fortunately the reverse is reasonably common (CMake builds providing `.pc` files)

This is a shame, because it's

[2021-06-18 17:55] #18502 closed

[2021-06-18 17:57] #18361 closed

[2021-06-18 18:24] luizfernandonb commented on #18520
I didn't understand the "manifest mode", the project I have is not a solution in itself, it's a folder that only has CMakeLists.txt and the source code, pretty much that's all

[2021-06-18 18:42] Cazadorro opened #18540 "[opencv4] update to 4.5.2"
Library name: opencv4

New version number: upgrade from 4.5.1 -> 4.5.2

Other information that may be useful (release notes, etc...).  Opencv introduced a breaking change in 4.5.1 that ended up resulting in a bug that basically stopped the entire tracking module from working (literally doesn't build) if you used the "legacy API" (which also happened to be introduced in that version, and was a brea

[2021-06-18 18:46] dg0yt commented on #18520
What did you do make vcpkg available to this project (or all your projects)?
There are different way to use vcpkg, even on Windows.

[2021-06-18 18:58] xanderdunn opened #18541 "[matplotplusplus] .cmake file not found by CMake"
**Describe the bug**
CMake can't find matplotplusplus' .cmake file during configuration after installation with vcpkg.

**Environment**
- OS: Ubuntu 18.04
- Compiler: GCC 10.3.0
- cmake 3.20.1

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install matplotplusplus
2. Add to CMakeLists.txt: `find_package(Matplot++ CONFIG REQUIRED)`
3. Building with `cmake -DCMAKE_BUILD_TYPE=Debug -DCM

[2021-06-18 19:01] xanderdunn commented on #18541
@myd7349

[2021-06-18 19:38] xanderdunn commented on #18541
Maybe it's a case sensitivity issue? cmake is looking for:
[code]

But I'm finding these files:
[code]
Notice `Matplot++-config.cmake != matplot++-config.cmake`

[2021-06-18 19:39] xanderdunn commented on #18541
I can confirm that Cmake finds the library and builds as expected when I rename the file:
[code]

[2021-06-18 19:57] Colon-D commented on #18422
### Last update! I replaced the CPM dependency and added CMake targets.

I was able to replace the CPM dependency with Vcpkg.

I removed CPM by creating two patches.
The first patch removes both includes from the main "CMakeLists.txt" file. From what I can tell, the includes are only CPM stuff, nothing important (I hope 🙃).
The second patch removes the linking of the library in the subdirectory fi

[2021-06-18 20:48] xanderdunn opened #18542 "[matplotplusplus] Adding to CMakeLists.txt overrides my project's CXX standard"
**Describe the bug**
Installing matplotplusplus with vcpkg and adding it to my CMakeLists.txt as `find_package(Matplot++ CONFIG REQUIRED)` breaks my project's C++20 build requirement.

**Environment**
- OS: Ubuntu 18.04
- Compiler: GCC 10.3.0
- cmake 3.20.1

**To Reproduce**
Steps to reproduce the behavior:
1. `./vcpkg install matplotplusplus`
2. Rename the installed .cmake file so that cmake find

[2021-06-18 21:12] xanderdunn commented on #18542
It looks like this issue is not introduced by vcpkg, but that it is actually due to upstream Matplot++. When I build Matplot++ from their source I still have the same issue when adding it to my CMakeLists.txt. See alandefreitas/matplotplusplus#165

[2021-06-18 21:12] #18542 closed

[2021-06-18 22:10] GreyCat opened #18543 "Misleading message about exported nupkg file name"
**Describe the bug**

When attempting to do `vcpkg export` with overriding a `--nuget-version` with something shorter than 3 dot-separated numbers (as per semver standard), vcpkg silently fixes that to match "X.Y.Z" semver schema by adding zeroes, and then shows a very misleading message about a file generated, which uses whatever a user has passed on the command line rather than what vcpkg used i

[2021-06-19 00:41] ajcressman commented on #18541
Seconding this (and its solution).  Was just going to add an issue about it myself!

[2021-06-19 01:36] playgithub opened #18544 "[expat] need wide char support"
**Is your feature request related to a problem? Please describe.**
port `xlsxio[wide]` depends on wide char version of `expat`
https://github.com/microsoft/vcpkg/pull/18438#issuecomment-863877896

**Proposed solution**
Support char & wchar_t versions simultaneously.
Variable EXPAT_CHAR_TYPE in `CMakeLists.txt` seems related.

[2021-06-19 01:43] superlomo opened #18545 "Wangle build failed with command: .\vcpkg.exe install wangle:x64-windows"
Here is the log file
[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/6679795/install-x64-windows-dbg-out.log)

[2021-06-19 02:01] superlomo commented on #18545
no help to reinstall folly or fizz.

[2021-06-19 02:18] superlomo commented on #18545
here is the terminal window output
[code]

[2021-06-19 02:19] autoantwort commented on #18545
From the log:

(compiler file 'msc1.cpp', line 1603)
 To work around this problem, try simplifying or changing the program near the locations listed above.
If possible please provide a repro here: https://developercommunity.visualstudio.com
Please choose the Technical Support command on the Visual C++
 Help menu, or open the Technical Support help file for more information

 Maybe update or downgr

[2021-06-19 02:53] superlomo commented on #18545
OK, this seems to be a bug of lastest visual studio compiler.

[2021-06-19 02:53] #18545 closed

[2021-06-19 03:16] luizfernandonb commented on #18520
I only ran the vcpkg integrate install command the first time I used vcpkg and installed the packages I was going to use, the only thing I've done so far is this and it works perfectly in any Visual Studio project, but the environment variables are not defined

[2021-06-19 05:00] dg0yt commented on #18520
I see, you are using the [user-wide integration for msbuild](https://github.com/microsoft/vcpkg/blob/master/docs/users/integration.md#user-wide-for-msbuild-recommended-for-open-source-msbuild-projects). I can't say anything about msbuild.

For this project, you would probably need the [integration by cmake toolchain file](https://github.com/microsoft/vcpkg/blob/master/docs/users/integration.md#cma

[2021-06-19 08:51] zhthree3 opened #18548 "[<sowin>] creat a new port and build failure"
**Host Environment**
- OS: [Windows 10]
- Compiler: cmake version 3.20.4；vcpkg version 2021-05-05

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install sowin:x64-windows`

**Failure logs**
`-- Check size of LONG_PTR
-- Check size of LONG_PTR - done
CMake Error at CMakeLists.txt:279 (add_subdirectory):
  add_subdirectory given source "data" which is not an existing directory.

CMake E

[2021-06-19 12:08] Osyotr commented on #18531
Why would it? This triplet is created to reflect settings in your project and not to change them.
A warning would be cool, though.

[2021-06-19 14:03] #17917 closed

[2021-06-19 14:03] #18352 closed

[2021-06-19 14:29] manxorist commented on #18480
Thank you very very much for intervening here and for taking this discussion back on a more constructive path. Much appreciated!

Thanks!

Well, having comments on an already merged or already closed issues forgotten is only one side of the issue here. I guess in that regard, re-opening the issue would probably have helped to keep track.
As I said in https://github.com/microsoft/vcpkg/issues/503#i

[2021-06-19 14:33] manxorist commented on #18480
So far, this looks reasonably manageable, however, would this still be as easy to do when we consider the libopenmpt dependency graph? libopenmpt depends on zlib, ogg, vorbis, vorbisfile, and mpg123:

    libopenmpt -> zlib
    libopenmpt -> mpg123
    libopenmpt -> ogg
    libopenmpt -> vorbis
    libopenmpt -> vorbisfile
    vorbisfile -> ogg
    vorbisfile -> vorbis

Each of these libraries is

[2021-06-19 15:47] ArthurSonzogni commented on #16327
@bionicbeagle, I am not familiar with vcpkg. Maybe @myd7349 knows how to help you?

[2021-06-19 17:34] WangZP10969 commented on #18482
Thank you very much, it seems that VTK supports Unicode, so there is no need to set Unicode separately
https://gitlab.kitware.com/vtk/vtk/-/issues/18115

[2021-06-19 17:34] #18482 closed

[2021-06-19 19:17] tonygould commented on #18531
@Osyotr Thank you for your reply. I've clearly misunderstood how VCPKG_TARGET_TRIPLET works. Just to explain where I'm coming from, I first noticed this when I was building a large CMakePresets.json file, with different configs for msvc debug, msvc release, clang debug, gcc... etc (I've never used vcpkg in the old way of manually installing packages). My mindset was that each configuration in CMak

[2021-06-20 03:14] luizfernandonb commented on #18520
This integration I have already done, but the environment variable `VCPKG_ROOT` was not available for the system, so I created this issue

[2021-06-20 05:25] dg0yt commented on #18520
Again, the `VCPKG_ROOT` environment variable is a *user input*  to the vcpkg system. It is consumed, not produced by vcpkg.
Once you are using the vcpkg toolchain in cmake projects, use the *cmake variable* `VCPKG_INSTALLED_DIR` to find the root of the installed packages. (This works in classic mode as well as in manifest mode.)
Again, what is the use case for having to know the root in the user p

[2021-06-20 11:02] cenit commented on #18540
I can try to do it asap. Would you have time to help me, just in case?

[2021-06-20 11:10] cenit commented on #18490
I can try to work on it in the opencv 4.5.2update

[2021-06-20 12:15] Osyotr commented on #18531
@tonygould I'm probably wrong. After #9452 vcpkg sets `CMAKE_MSVC_RUNTIME_LIBRARY` to MT[d] for static triplets.
Perhaps you are using outdated CMake (<3.15)?

[2021-06-20 13:28] mulderp commented on #16182
i am runniing into a similar problem. wx base and custom dll is not found, when i copy those manually i get libpng jpeg tiiff dll not found

what would be the suitable approach to get a clean build?

[2021-06-20 14:03] tonygould commented on #18531
@Osyotr Thanks for digging that out; I'm on 3.20 with `cmake_minimum_required(VERSION 3.18)` in the toy example above. I'm a little confused now as to what the expected behaviour is-- i.e. whether the current project _should_ follow VCPKG_TARGET_TRIPLET or not.

[2021-06-20 14:24] tonygould commented on #18297
@nmoreaud

I agree on this. Again, conan is the alternative, and is kind of the opposite in that it's very mature, and does _everything_. In fact I think it does too much, conflates too many things, is over-complex, and despite seeming comprehensive, doesn't handle some basic scenarios (e.g. try getting google test with clang 11 on windows, or even clang 10 on linux). I think the vcpkg architectur

[2021-06-20 15:47] DanL1234 commented on #18423
Hi Jack, I'll have to leave it to you (or those with better understanding than mine) as I do not understand the topic well enough to say if this is a bug.

What I can say is that I can clone a fresh copy of vcpkg, bootstrap it, then update the x64-windows triplet's C / CXX flags to include "\openmp-", then when I call ".\vcpkg install mlpack:x64-windows" it quits with the error you see when it get

[2021-06-20 15:49] FreeCodfish95 opened #18555 "[simage:x86-windows] build failure"
**Host Environment**
- OS: [ Windows10]
- Compiler: MSVC2017 15.9.35

**To Reproduce**
Steps to reproduce the behavior:
'./vcpkg install simage:x86-windows'

**Failure logs**
[code]
......
[code]

[2021-06-20 15:50] FreeCodfish95 commented on #18555
MSVC15.9.35

[2021-06-20 17:25] liuhaowen478 opened #18556 "[ktx] CMake configure error"
**Describe the bug**
A clear and concise description of what the bug is.

**Environment**
- OS: Windows 10 Build 21390
- Compiler: Visual C++ 2019

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install ktx:x64-windows
2. In a Visual Studio CMake project,
[code]
3. Project ->Generate cache

**Expected behavior**
CMake configuration should succeed.

**Failure logs**
CMake outputs:
[co

[2021-06-20 17:47] Osyotr commented on #18531
@tonygould did you also set CMP0091 to NEW?

[2021-06-20 18:29] tungts1101 commented on #15130
As missing the visualizer header is quite cumbersome in visualizing data, should you recommend a proper way to install an older version of PCL with vcpkg?

[2021-06-20 18:47] lab313ru opened #18557 "[glib:x64-windows-static] build failure"
**Host Environment**
- OS: Windows 10 x64

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install gtk:x64-windows-static`

**Failure logs**
[code]

[2021-06-20 19:02] tonygould commented on #18531
@Osyotr Thanks, I found https://cmake.org/cmake/help/git-stage/policy/CMP0091.html and also https://cmake.org/cmake/help/git-stage/variable/CMAKE_MSVC_RUNTIME_LIBRARY.html ([stackoverflow](https://stackoverflow.com/a/56490614)).

If in my CMakeLists.txt, I add the following, then the current project builds static

    cmake_policy(SET CMP0091 NEW)
    set(CMAKE_MSVC_RUNTIME_LIBRARY "MultiThreaded$

[2021-06-20 20:33] luizfernandonb commented on #18520
Because the project in question accesses vcpkg's `lib` folder and takes some libraries from there, and it accesses it by calling `VCPKG_ROOT`, and when I did a PR to modify `CMakeLists.txt` I left it as it was so as not to confuse anyone

[2021-06-20 22:19] xarthurx commented on #18494
Is there a queue for new package request?
How long will it roughly take for adding the libs?

[2021-06-21 00:02] charleswri631 opened #18558 "What type of errors are the following two errors? Do I need to have visual studio installed or any other installation before installing this vcpkg???"
What type of errors are the following two errors? Do I need to have visual studio installed or any other installation before installing this vcpkg???

![vcpkg_ERROR](https://user-images.githubusercontent.com/65590698/122692318-4091da00-d202-11eb-8090-eadafa889730.png)

![vcpkg_ERROR_1](https://user-images.githubusercontent.com/65590698/122692319-44256100-d202-11eb-9cd0-126c23bc8366.png)

ANY IDEAS

[2021-06-21 00:27] Masahiro-Mizutani commented on #18144
My using computer is rental, and I am confirming to IT department if I can disable it. If I can, I will install again, so you can close this issue.

[2021-06-21 01:15] JonLiu1993 commented on #18548
@zhthree3 ,Thanks for posting this issue,Please provide the error log :
[code]

[2021-06-21 02:40] JackBoosY commented on #18442
According to our policy, we should not add the code for finding libusb to the wrapper, but export unofficial targets or adapt the `FindLibusb.cmake` provided by cmake.

[2021-06-21 02:48] #18478 closed

[2021-06-21 02:52] ffoxi opened #18559 "[New Port Request] telegram-bot-api"
Library name:

Library description:The Telegram Bot API provides an HTTP API for creating Telegram Bots.

Source repository URL:https://github.com/tdlib/telegram-bot-api

Project homepage (if different from the source repository):https://core.telegram.org/bots/api

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

The Bot AP

[2021-06-21 03:01] JackBoosY commented on #16182
You should use the executable in _VCPKG_ROOT/installed/TRIPLET/tools/wxwidgets_ instead.

[2021-06-21 03:01] nlogozzo opened #18560 "CMake Unable to open .lib file"
Hi all,
I'm trying to compile my program using cmake. However, I'm getting an issue: `Error LNK1104: cannot open file 'jsoncpp.lib'`. If I remove the jsoncpp line, I get the error with curl and then curlpp. So I think I'm doing something wrong with my cmake file. All of the packages are installed via vcpkg. Here is my cmake file:
[code]

[2021-06-21 03:01] RMLNZ opened #18561 "Trying to Build OpenCV 4.5.2 for GPU - Get Filename Has Invalid Characters Error in vcpkg"
**Describe the bug**
Trying to Build OpenCV 4.5.2 for GPU on Windows. Getting Filename Has Invalid Characters Error in vcpkg

**Environment**
- OS:Windows 2019 Server (fully patched)

**To Reproduce**
Steps to reproduce the behavior:

USING CMD PROMPT:

C:\vcpkg\vcpkg>.\vcpkg create opencvgpu https:\\github.com/opencv/opencv/archive/4.5.2.zip https:\\github.com/opencv/opencv-contrib/archive/refs/t

[2021-06-21 03:04] JackBoosY commented on #15130
We should update to 1.11.1.

[2021-06-21 03:10] JackBoosY commented on #18555
Please provide _D:\vcpkg\buildtrees\simage\config-x86-windows-dbg-out.log_.

Thanks.

[2021-06-21 03:14] PhoebeHui commented on #18533
@tonygould, thanks for reporting a seperate issue for this again!

@vicroms, could you consider to improve the docs for it?

[2021-06-21 03:37] RMLNZ opened #18562 "[opencv4] update to 4.5.2 to support feature GPU"
Library name: opencv

Library description: OpenCV computer vision library

Source repository URL: (including version)
https:\\github.com/opencv/opencv/archive/4.5.2.zip
https:\\github.com/opencv/opencv-contrib/archive/refs/tags/4.5.2.zip

Project homepage (if different from the source repository): opencv.org

Anything else that is useful to know when adding (such as optional features the library m

[2021-06-21 03:37] zhthree3 commented on #18548
CMakeOutput.log：
[config-x64-windows-out.log](https://github.com/microsoft/vcpkg/files/6683867/config-x64-windows-out.log)
CMakeError.log is empty.

[2021-06-21 05:11] yzw88 commented on #18502
thanks very much

[2021-06-21 05:43] NancyLi1013 commented on #18548
`sowin `is not in vcpkg now. Do you hope to add it in vcpkg or you just need help to solve the problems you encountered?

[2021-06-21 05:49] NancyLi1013 commented on #18548
[code]
These errors are caused by the same reason. Since the directories are pointed to the hyperlinks instead of being embedded to the `sowin `source codes. Namely, all these modules are third-party.

[2021-06-21 06:02] #15656 closed

[2021-06-21 06:03] #14989 closed

[2021-06-21 06:04] #13661 closed

[2021-06-21 06:04] Greisby commented on #18441
Hi, it did not change anything.

[2021-06-21 06:16] FreeCodfish95 commented on #18555
[1/2] cmd /c "cd .. && "C:/Program Files/CMake/bin/cmake.exe" "D:/vcpkg/buildtrees/simage/src/mage-1.8.0-17f988a113.clean" "-DSIMAGE_BUILD_SHARED_LIBS=ON" "-DSIMAGE_USE_AVIENC=ON" "-DSIMAGE_USE_GDIPLUS=ON" "-DCMAKE_DISABLE_FIND_PACKAGE_FLAC=ON" "-DCMAKE_DISABLE_FIND_PACKAGE_Jasper=ON" "-DCMAKE_DISABLE_FIND_PACKAGE_Doxygen=ON" "-DCMAKE_DISABLE_FIND_PACKAGE_ZLIB=ON" "-DCMAKE_DISABLE_FIND_PACKAGE_GIF

[2021-06-21 06:24] dg0yt commented on #18520
IIUC this means the project should use `${VCPKG_INSTALLED_DIR}/${VCPKG_TARGET_TRIPLET}/<debug?>/lib` (which must be correct) instead of `$ENV{VCPKG_ROOT}/installed/${VCPKG_TARGET_TRIPLET}/<debug?>/lib` (which happened to work for some people).
This still leaves room for trouble with handling debug vs. release. This can probably be avoided by relying on the vcpkg cmake toolchain's adjustment of `CM

[2021-06-21 06:31] FreeCodfish95 commented on #18555
Sorry,I cannot find the file _D:\vcpkg\buildtrees\simage\config-x86-windows-dbg-out.log_.
I only find
_D:\vcpkg\buildtrees\simage\config-x86-windows-out.log_ (I guess you need this file)

[1/2] cmd /c "cd .. && "C:/Program Files/CMake/bin/cmake.exe" "D:/vcpkg/buildtrees/simage/src/mage-1.8.0-17f988a113.clean" "-DSIMAGE_BUILD_SHARED_LIBS=ON" "-DSIMAGE_USE_AVIENC=ON" "-DSIMAGE_USE_GDIPLUS=ON" "-DCMA

[2021-06-21 06:42] PhoebeHui commented on #18415
@Apache-HB, please reopen this issue if the solution doesn't work for you.

[2021-06-21 06:42] #18415 closed

[2021-06-21 06:43] JackBoosY commented on #18555
[code]

[2021-06-21 06:44] PhoebeHui commented on #18433
@YoungBlood01, please reopen this issue if it still be a problem for you.

[2021-06-21 06:44] #18433 closed

[2021-06-21 06:54] JackBoosY commented on #18441
Due to parallel construction, there may be a problem that some files are used by multiple build threads or processes at the same time.
If it is disabled, this issue should not occur.
Not sure why.

[2021-06-21 07:00] cdeln opened #18566 "[New Port Request] enum-set"
Library name: enum-set

Library description: A library of type safe sets over fixed size collections of types or values, including methods for accessing, modifying, visiting and iterating over those.

Source repository URL: https://github.com/cdeln/cpp_enum_set

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features

[2021-06-21 07:03] PhoebeHui commented on #18543
@GreyCat, thanks for reporting this issue!

[2021-06-21 07:11] FreeCodfish95 commented on #18555
Thank you for your reply!
file _D:\vcpkg\buildtrees\simage\config-x86-windows-err.log_ is empty.
file _D:\vcpkg\buildtrees\simage\x86-windows-dbg\CMakeFiles\CMakeOutput.log_
The system is: Windows - 10.0.19041 - AMD64
Compiling the C compiler identification source file "CMakeCCompilerId.c" succeeded.
Compiler: C:/Program Files (x86)/Microsoft Visual Studio/2017/Community/VC/Tools/MSVC/14.16.27023/

[2021-06-21 07:36] JackBoosY commented on #18555
@FreeCodfish95  Can you please install Windows SDK 10 using Visual Studio Installer then try again?

Thanks.

[2021-06-21 07:37] Neumann-A commented on #18560
needs either to be one of those:
`target_link_libraries(NickvisionApplication5 PRIVATE jsoncpp_lib)` (only for triplets with VCPKG_LIBRARY_LINKAGE = dynmaic)
`target_link_libraries(NickvisionApplication5 PRIVATE jsoncpp_static)` (only for triplets with VCPKG_LIBRARY_LINKAGE = static)
`target_link_libraries(NickvisionApplication5 PRIVATE jsoncpp_object)`
depending on your triplet

Note: Such an err

[2021-06-21 07:57] JackBoosY commented on #18560
Please use the following cmake code instead:
For dynamic jsoncpp (triplet doesn't contains `static`):
[code]
For static jsoncpp:
[code]

[2021-06-21 08:02] JackBoosY commented on #18562
Does opencv4 in vcpkg not support GPU now?
cc @cenit

[2021-06-21 08:03] cenit commented on #18562
opencv[cuda] is well and alive. But the 4.5.2 update is still to-do (we are on 4.5.1 as of now)

[2021-06-21 08:06] JackBoosY commented on #18562
So I think we should wait for the official release then update opencv4 to 4.5.2.

[2021-06-21 08:18] JackBoosY commented on #18531
reproducing...

[2021-06-21 08:19] JackBoosY commented on #18423
@DanL1234 Can you provide me a sample project or sample modificiation for mlpack?

[2021-06-21 08:22] NancyLi1013 commented on #17286
@DanielZint

Thanks for your further investigation.
For the original issue, it seems to be clear that this is caused by space in path.

For the new issue you mentioned, you can open a new issue.

[2021-06-21 08:22] #17286 closed

[2021-06-21 08:54] JonLiu1993 commented on #18557
@lab313ru ,Thanks for posting this issue,
gilb currentlly only suppurts DYNAMIC build:
[code]

[2021-06-21 09:05] lab313ru commented on #18557
Is it possible to make it build static too?

[2021-06-21 09:11] JackBoosY commented on #18520
You can add environment variables by setting them manually, but we will not consider this feature so far.
Sorry.

[2021-06-21 09:12] JonLiu1993 commented on #18557
Someone mentioned the issue of Enable static builds on Windows using TLS callbacks in Upstream before, but it still hasn’t been successful for a long time.

Someone mentioned the [issue ](https://gitlab.gnome.org/GNOME/glib/-/merge_requests/1655)of _enable static builds on Windows using TLS callbacks_ in Upstream before, but it still hasn’t been successful for a long time.

[2021-06-21 09:15] NancyLi1013 commented on #18561
Hi @RMLNZ

Thanks for posting this issue.

Seems you use an incorrect command to build. There are two URLs contained in your command. Please run `.\vcpkg create --help` to see the usage of `create `command.

[2021-06-21 09:21] JackBoosY commented on #18555
No, you only need to install one of them.

[2021-06-21 09:28] FreeCodfish95 commented on #18555
@JackBoosY
CMakeError.log

Determining if files dlfcn.h exist failed with the following output:
Change Dir: D:/vcpkg/buildtrees/simage/x86-windows-dbg/CMakeFiles/CMakeTmp

Run Build Command(s):D:/vcpkg/downloads/tools/ninja/1.10.1-windows/ninja.exe cmTC_fe28f && [1/2] Building C object CMakeFiles\cmTC_fe28f.dir\HAVE_DLFCN_H.c.obj

FAILED: CMakeFiles/cmTC_fe28f.dir/HAVE_DLFCN_H.c.obj

C:\PROGRA~2\M

[2021-06-21 09:31] RMLNZ commented on #18561
Hi @NancyLi1013

I am following this advice:

https://vcpkg.io/en/docs/examples/packaging-zipfiles.html#create-the-manifest-file

and the command: .\vcpkg create zlib2 http://zlib.net/zlib-1.2.11.tar.gz zlib1211.tar.gz

There's a need to combine files from 2 sources for the opencv gpu enabled build - hence the attempt to use two URLs.

Please note that I logged another request for a GPU enabled ve

[2021-06-21 09:36] RMLNZ commented on #18562
Thanks so much @JackBoosY

Perhaps the descriptions could be clarified on vcpkg.io :)

<img width="658" alt="Capture" src="https://user-images.githubusercontent.com/8750005/122740777-6be6f880-d2d8-11eb-9380-b2fb6b882817.PNG">

[2021-06-21 09:36] NancyLi1013 commented on #18532
Hi @SpriteOvO

Thanks for posting this issue.

I also cannot reproduce this on my machine.

Have you tried to use the port in CMake project directly? Instead of installing it.

[2021-06-21 09:42] JonLiu1993 commented on #18558
@charleswri631 ,I did not reproduce your issue on powershell, but we must install visual studio in the preparation phase，You can refer to our official [documentation ](https://github.com/microsoft/vcpkg#quick-start-windows)to understand what needs to be prepared before using vcpkg

[2021-06-21 09:48] NancyLi1013 commented on #18561
Thanks for your above detailed information.

For `vcpkg create` command, currently it doesn't support the arguments like you used above.

For the description of opencv4, mostly we use the description from homepage, such as for opencv4, it is from [here](https://github.com/opencv/opencv/tree/4.5.2#opencv-open-source-computer-vision-library).  if you have other concerns, please open a new issue.

[2021-06-21 09:48] #18561 closed

[2021-06-21 10:14] NancyLi1013 commented on #18532
The output from my local:

[code]

[2021-06-21 10:16] ocornut commented on #18337
Apologies @NancyLi1013 for my late answer.
When I made the report my .exe said `2021-01-13-unknownhash` and git repo was January 29. I have now updated, .exe says `2021-05-05-9f849c4c43e50d1b16186ae76681c27b0c1be9d9` and git repo is June 18 08214e18eeb146542944067c35d77faca8962be5. I confirmed the same issue with that version now.

Thank you!

[2021-06-21 10:25] mulderp opened #18568 "[libpng] build failure"
**Host Environment**
- OS: Linux
- Compiler: g++

Steps to reproduce:
[code]

**Failure logs**
The log in tools/vcpkg/buildtrees/libpng/install-x64-linux-dbg-out.log shows

[code]

**Additional context**
The build was working earlier on another machine with #14 revision of libpng

[2021-06-21 10:31] ocornut commented on #15501
Hello,

Author of dear imgui here.

Reasons why we discourage building as DLL:
- dear imgui does not provide any backward or forward binary compatibility by design. Using DLL puts in a path where it becomes much more likely that you use a version of Dear ImGui that you didn't build yourself and trip on ABI changes.
- ideal use involve compile-time settings such as defining implicit conversion from

[2021-06-21 10:43] Chronophylos commented on #18464
Sorry for not answering.

Here are both log files:

<details><summary>/l/vcpkg/buildtrees/abseil/install-x64-linux-dbg-out.log</summary>

[code]
</details>

<details><summary>/l/vcpkg/buildtrees/abseil/install-x64-linux-dbg-err.log</summary>

[code]
</details>

[2021-06-21 10:47] mulderp commented on #16182
thanks, I see the dlls there, but I still get problems: The procedure entry point inflateValidate could not be located in the dynamic link library --> libpng16.dll
1) how to further debug this dependency problem?
2) Alternatively, maybe it would become easier to link the wxWidgets dlls statically? how can I try that?

[2021-06-21 11:12] dg0yt commented on #18562
FTR there is a "Feature List" link in the details for each port. However, some names and descriptions ask for improvement.

[2021-06-21 13:33] SpriteOvO commented on #18532
@NancyLi1013 Hi, thanks for your reply.

Sry, I didn't get your point. The official `OpenSSL` repository does not provide `CMakeLists.txt`, which is why I chose to install it from `vcpkg`. The warning doesn't seem to affect anything, it just appears in the output of the `install`, but obviously it shouldn't be there. If I comment out install commands, the warning no longer appears, but I can't use

[2021-06-21 13:44] SpriteOvO commented on #18532
@NancyLi1013 Hi, thanks for reply.

This warning only appears when installing from CMake, if I install it from Powershell, the warning does not appear. If I don't install it, I have no way to use the port.
In fact, the warning doesn't affect anything, it just appears in the output of the `install`, but obviously it shouldn't be there.

[2021-06-21 14:17] nlogozzo commented on #18560
@JackBoosY The jsoncpp is now fixed using
[code]
However curl and curlpp have the same issue unable to open the .lib file. I tried using the same example that you provided for jsoncpp for curl and curlpp, but it's not working.
Heres what I have currently:
[code]

[2021-06-21 14:24] nlogozzo commented on #18560
Fixed all issues
This is my final cmake file:
[code]

[2021-06-21 14:24] #18560 closed

[2021-06-21 14:27] dg0yt commented on #18560
Note that:

finds a named *package* (via a cmake config file or cmake find module). You need to look into the documentation for that software or find module to see what it provides, because:

will try to link to the named *libraries*. Packages provide the libraries in different ways:
- as (imported) targets
- as variable containing the actual library name or target name.

Example: https://cmake.or

[2021-06-21 14:29] Chronophylos commented on #18464
I found a solution. I was missing the `linux-headers` package

[2021-06-21 14:29] #18464 closed

[2021-06-21 14:53] seccpur opened #18571 "[<curl>] build failure"
**Host Environment**
- OS:  Windows 10
-Vcpkg version: 0.0.103

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install curl:x64-windows`

**Failure logs**
[code]

[2021-06-21 15:00] dg0yt commented on #18571
The failing package is libssh2, not curl.

I guess you need to update your vcpgk tool by re-running bootstrap.

[2021-06-21 15:45] zhthree3 commented on #18548
The reason why I need help is that I hope to be able to upload sowin to vcpkg. In fact, it's not just sowin. I hope to upload all the packages of coin3d to vcpkg. Sowin is my first attempt.

[2021-06-21 15:48] seccpur commented on #18571
@dg0yt : After updating vcpkg now works. Thanks

[2021-06-21 15:49] seccpur commented on #18571
@dg0yt : After updating vcpkg now works. Thanks

[2021-06-21 15:49] #18571 closed

[2021-06-21 16:32] strega-nil commented on #11006
@horenmar sorry I didn't see this, but this is where issues go for vcpkg-tool; could you explain how to use -#? We actually do allow people to run things on their own, we just don't _really_ support ctest very well. Afaik, we (vcpkg devs) all use vcpkg-test manually.

[2021-06-21 17:18] remz1337 opened #18573 "[Matplotplusplus] CMake can't find the package configuration file"
**Describe the bug**
Building my program with CMake throws this error:
[code]

**Environment**
- OS: Ubuntu 20.04 on WSL2 (Windows 10 x64)
- Compiler: gcc 9.3

**To Reproduce**
Steps to reproduce the behavior:
1. install matplotplusplus
2. call find_package in CMakeLists.txt
3. build project with CMake

**Expected behavior**
Build the program successfully

**Additional context**
I also have vcpkg

[2021-06-21 20:21] #18540 closed

[2021-06-21 20:29] #17472 closed

[2021-06-21 20:32] #17393 closed

[2021-06-21 21:02] mises-games opened #18576 "[New Port Request] ImGUI 1.83"
Library name: ImGUI 1.83

Library description: Immediate Interfaces

Source repository URL:  https://github.com/ocornut/imgui

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2021-06-21 21:02] mises-games commented on #18576
The port for the most recent stable ImGUI

[2021-06-21 21:14] autoantwort commented on #18576
Is is already there?

https://github.com/microsoft/vcpkg/blob/master/ports/imgui/vcpkg.json

[2021-06-21 21:15] serg06 commented on #332
Would be nice to have even the prebuilt option.

[2021-06-21 21:18] #18424 closed

[2021-06-21 21:23] #17841 closed

[2021-06-22 00:13] aizuon opened #18577 "[fmt] update to 8.0.0"
Library name: fmt

New version number: 8.0.0

Other information that may be useful (release notes, etc...)
https://github.com/fmtlib/fmt/releases/tag/8.0.0

[2021-06-22 00:34] PhoebeHui commented on #18481
Related to https://github.com/microsoft/vcpkg/issues/12771  https://github.com/microsoft/vcpkg/issues/9848

[2021-06-22 00:41] ras0219-msft commented on #18470
You're right that the command line in the original issue should have worked; the host triplet and target triplets should be independent.

To diagnose further, could you let us know:
1. The SHA of vcpkg you're using
2. The versions of the relevant boost libraries you have installed for each architecture (`vcpkg list`). Especially important is `boost-modular-build-helper:x64-windows`
3. The install

[2021-06-22 00:45] mises-games commented on #18576
Sorry

[2021-06-22 00:45] #18576 closed

[2021-06-22 00:47] mises-games opened #18578 "[sdl2] update to 2.0.15"
Library name: sdl2

New version number: 2.0.15

Other information that may be useful (release notes, etc...)

[2021-06-22 01:03] NancyLi1013 commented on #17841
@MFMokbel

`cpr `has been updated to 1.6.2, please update to the latest vcpkg to rebuild this port.

[2021-06-22 01:20] ras0219-msft commented on #18098
Hi @DanielGibson, could you confirm that my understanding of the situation is correct:

1. You want the game (dhewm3.exe) to use a real copy of openalsoft, provided by the system, vcpkg, or elsewhere
2. For the server, you are trying to reuse the system headers without linking the original upstream library and instead linking a custom implementation (stubs). I assume this is because you are seekin

[2021-06-22 01:29] JackBoosY commented on #18555
[code]
Seems the Window 10 SDK doesn't write the information to the register. Can you please re-install it using [this link](https://developer.microsoft.com/en-us/windows/downloads/windows-10-sdk/)?