[2020-08-21 08:31] fingerecho commented on #13051
非常感谢您，一开始我并没有注意到这个Warning , 没想到这却是问题的关键所在，谢谢，现在一切没有问题了，提示如下
Installing package jsoncpp[core]:x86-windows... done                                                                    Elapsed time for package jsoncpp:x86-windows: 10.89 s

[2020-08-21 08:33] JackBoosY commented on #13051
...我一开始就说过了。
vcpkg内部脚本要求解析编译器相关的配置，所以必须安装英文语言包。

[2020-08-21 08:37] fingerecho commented on #13051
对的，抱歉耽误您时间了，不过也让我吃一堑长一智，以后一定会注意每一个细节！

[2020-08-21 08:38] fingerecho commented on #13051
再次感谢您

[2020-08-21 08:40] Crazysiri commented on #13052
NO, but it is very very strange.
I made a demo just like you and it was ok.

this is one line in CMakeLists.txt:
    target_link_libraries(rs-save-to-disk PRIVATE realsense2::fw realsense2::usb realsense2::realsense2 realsense2::realsense-file OpenSSL::SSL OpenSSL::Crypto CURL::libcurl /usr/local/lib/libalibabacloud-oss-cpp-sdk.a jsoncpp_lib -lcurl -lcrypto  ${MOSQUITTO_LIBRARIES} )

and I put ${M

[2020-08-21 08:44] NancyLi1013 commented on #13053
Hi @foobra
Thanks for posting this issue.
Could you please try to remove `opessl `and try to rebuild this port?
I cannot reproduce this on my local.

[2020-08-21 08:44] spindensity opened #13054 "lapack-reference:x64-windows build failure"
**Host Environment**
- OS: `Windows 10 20H1`;
- Compiler: `MSVC 2019 16.7.1`.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Failure logs**
Console output:
[code]

**Additional context**
`Vcpkg` fails to install `lapack-reference:x64-windows` because `lapack.lib` has already been installed by `clapack:x64-windows` and is in conflict with `lapack-reference:x64-windows`.

[2020-08-21 08:52] foobra commented on #13053
I've ran `./vcpkg remove openssl`, and reinstall `openssl`, it just end with 12.19us, like use cache.
And build for libwebsockets generate same error

[2020-08-21 08:53] Voskrese commented on #13054
why do you need two libraries at the same time?

[2020-08-21 08:54] JonLiu1993 commented on #13024
./vcpkg install pcl:x64-windows

[2020-08-21 08:55] foobra commented on #13053
It's like openssl install failed, but vcpkg treat it as success.
./vcpkg install openssl --triplet x64-osx
Computing installation plan...
The following packages will be built and installed:
    openssl[core]:x64-osx
Detecting compiler hash for triplet x64-osx...
Starting package 1/1: openssl:x64-osx
Building package openssl[core]:x64-osx...
Could not locate cached archive: /Users/jtang/.cache/vcpk

[2020-08-21 09:11] valenotary opened #13055 "[box2d] update to <2.4>"
Library name: box2d

New version number: 2.4

Other information that may be useful (release notes, etc...)

[2020-08-21 16:08] longnguyen2004 opened #13063 "[sdl2] symbols aren't exported properly on mingw triplets"
**Host Environment**
- OS: Windows 10 2004
- Compiler: Clang 10 in llvm-mingw

I've noticed this problem when doing a full build of SDL2 and accessories with mingw triplets. sdl2pp complains about missing symbols during linking. A quick inspection of the import libraries reveals that the symbols aren't exported properly, due to [this patch](https://github.com/microsoft/vcpkg/blob/master/ports/sdl2

[2020-08-21 19:59] ASxa86 opened #13070 "[libpq:x64-linux] build failure"
**Host Environment**
- OS: CentOS 7
- Compiler: GCC 8.3.1 (devtoolset-8)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install libpq:x64-linux`

**Failure logs**
[code]
[build-x64-linux-dbg-err.log](https://github.com/microsoft/vcpkg/files/5110999/build-x64-linux-dbg-err.log)
[build-x64-linux-dbg-out.log](https://github.com/microsoft/vcpkg/files/5111008/build-x64-linux-dbg-out.log)

[2020-08-22 03:36] Cicas76 opened #13071 "[bzip2] build failure"
**Host Environment**
- OSX 10.15.6
- Version: 1.48.1
  Commit: 3dd905126b34dcd4de81fa624eb3a8cbe7485f13
  Date: 2020-08-19T17:09:41.484Z
  Electron: 7.3.2
  Chrome: 78.0.3904.130
  Node.js: 12.8.1
  V8: 7.8.279.23-electron.0
  OS: Darwin x64 19.6.0

**To Reproduce**
Steps to reproduce the behavior:
./vcpkg install boost-iostreams
or
./vcpkg install libarchive
or
./vcpkg install bzip2

**Failure lo

[2020-08-22 04:41] sumitkang opened #13073 "[<cairo>] build failure"
**Host Environment**
- OS:Windows
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
.\vcpkg install cairo:x64-windows

**Failure logs**
;"SSL connect error"
CMake Error at scripts/cmake/vcpkg_download_distfile.cmake:176 (message):

      Failed to download file.
      If you use a proxy, please set the HTTPS_PROXY and HTTP_PROXY environment
      variables to "https://user:pa

[2020-08-22 05:43] JunShuoMing opened #13075 "[ffmpeg] build failure(it seems that some command line size are too large for windows)"
Host Environment
    OS:Windows10
    Compiler: visual studio 2017

Steps to reproduce the behavior:
    vcpkg install ffmpeg

Failure logs:
Error: Building package ffmpeg:x86-windows failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `.\vcpkg update`, then
submit an issue at https://github.com/Microsoft/vcpkg/issues including:
  Package: ffmpeg:x86-windows
  Vcpkg vers

[2020-08-22 09:22] TheAshwanik opened #13077 "[opencv4] x64-windows - Failed to build"
**Host Environment**
- OS: x64-windows
vcpkg latest release.

**To Reproduce**
Steps to reproduce the behavior:
[code]
**Console output**
[code]

**Error in Logs**
[code]

**Additional context**
[code]

[2020-08-22 09:36] FranciscoPombal opened #13078 "[brotli] build failure on macOS 10.15 - "Could not find pkg-config.""
**Host Environment**

- OS: macOS 10.15 from GitHub Actions
- Compiler: whichever one is included in XCode 11.6
- `vcpkg` commit: f2a59715bfd1597588f2f2085767d866b92879a3

**To Reproduce**

`./vcpkg install brotli:x64-osx-release --clean-after-build --overlay-triplets=triplets_overlay`

(or any package that depends on `brotli`, like `qt5-tools`)

Contents of `triplets_overlay/x64-osx-release.cmake

[2020-08-22 11:07] fldx opened #13080 "[glib:x86-windows-static] build failure"
**Host Environment**
- OS: Windows
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install librsvg:x86-windows-static`

**Failure logs**
D:\DEV\vcpkg>vcpkg install librsvg:x86-windows-static
Computing installation plan...
The following packages will be built and installed:
  * cairo[core,gobject]:x86-windows-static
  * gdk-pixbuf[core]:x86-windows-static
  * glib[c

[2020-08-22 18:47] muha0143 opened #13082 "[New Port Request] OpenNN"
I can't find [`OpenNN`](https://www.opennn.net/) library, so if you can add it please do it

[2020-08-22 19:16] david-maus opened #13083 "[fmt:x64-windows] customized triplet build failure"
**Host Environment**
- OS: [Windows 10]
- Compiler: vs2015+win10 SDK

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg.exe install openimageio[opencolorio,pybind11,tools]:x64-windows`

**Failure logs**
[code]

**Additional context**
- I added `set(VCPKG_BUILD_TYPE release)` to x64-windows.cmake triplet

[2020-08-22 22:48] hamdy1999 opened #13088 "installing pcl package"
**Environment**
- OS: [Windows 10]

**To Reproduce**
Steps to reproduce the behavior:
1. vcpkg install pcl
2. See error
Error: Building package boost-throw-exception:x86-windows failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `.\vcpkg update`, then
submit an issue at https://github.com/Microsoft/vcpkg/issues including:
  Package: boost-throw-exception:x86-windows
  V

[2020-08-22 23:07] ThomsonTan opened #13089 "How do I reference ninja in vcpkg"
vcpkg includes a binary download of ninja.exe for its `vcpkg install`, is it possible to reference this ninja.exe in a project which depend on vcpkg (`cmake -G Ninja -DCMAKE_TOOLCHAIN_FILE=.../vcpkg.cmake`), without hard-code the path of ninja.exe with version number?

[2020-08-23 05:28] zhangdexin opened #13093 "How do I add new port of header only?"
I want to add new port of no CMakeLists.txt and header only?

[2020-08-23 07:41] linquize opened #13094 "vcpkg broken build due to unused variable syntax"
**Describe the bug**
vcpkg broken build since 5e164e3dd2b9fbbd68782f4c3c73242918b3c688

 ../src/vcpkg/commands.xvsinstances.cpp:31:16: error: left operand of comma operator has no effect [-Werror=unused-value]
    31 |         (void)(args, paths);
       |                ^~~~
 cc1plus: all warnings being treated as errors

**Environment**
- OS: Ubuntu 20.04
- Compiler: gcc 9.3

**To Reproduce**
St

[2020-08-23 10:51] fingerecho opened #13095 "[C:\Program Files (x86)\vcpkg\toolsrc\src\vcpkg\build.cpp(1032)] with message: no such file or directory"
**Host Environment**
- OS: windows10 Home
- Compiler: Microsoft Visual Studio 2019 [ Adding English pack]
-Terminal:   PowerShell

**To Reproduce**
Steps to reproduce the behavior:
`git clone .....`
`./bootstrap-vcpkg.bat`
`.\vcpkg.exe intergrate install`
`.\vcpkg.exe install drogon`
`.\vcpkg.exe install trantor:x86-windows`

**Failure logs**
PS C:\Program Files (x86)\vcpkg> .\vcpkg.exe install tr

[2020-08-23 11:22] jiri-otoupal opened #13096 "[Cygwin] It doesnt recognise compiler"
**Host Environment**
- OS: Windows 10
- Compiler: Cygwin

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg install berkeleydb:x64-windows`

**Failure logs**
[DEBUG]     Working Directory: C:/Users/jiri-/Downloads/vcpkg-master/buildtrees/detect_compiler/x64-windows-rel
[DEBUG]     Error code: 1
[DEBUG]     See logs for more information:
[DEBUG]       C/Users/jiri-/Downloads/vcpkg-master/bui

[2020-08-23 12:03] rkitover opened #13097 "`vcpkg remove` does not update the status database after package removal"
****

**Is your feature request related to a problem? Please describe.**
The `Status:` field of a package does not get updated from `install ok installed` immediately after its removal, a subsequent operation such as `list` is required for the database to be updated.

**Proposed solution**
It should get updated immediately on a `remove`.

**Additional context**
Here is the log from my terminal ill

[2020-08-23 17:09] MohiuddinM opened #13098 "[OpenCV] update to 4.4"
Library name: OpenCV

New version number: 4.4.0

[2020-08-23 17:23] patui opened #13099 "[FFmpeg] build failure，ERROR: libx264 not found"
CMD Run:

`D:\PublicLib\vcpkg>vcpkg install ffmpeg[gpl,nonfree,version3,mp3lame,fdk-aac,x264,x265,iconv,bzip2,zlib]:x64-windows`

My-Computer

[code]

RUN Result:

D:\PublicLib\vcpkg>vcpkg install ffmpeg[gpl,nonfree,version3,mp3lame,fdk-aac,x264,x265,iconv,bzip2,zlib]:x64-windows
Computing installation plan...
The following packages will be built and installed:
    ffmpeg[avcodec,avdevice,avfilter

[2020-08-23 19:55] ASxa86 opened #13101 "[osgearth:x64-linux] build failure"
**Host Environment**
- OS: Ubuntu 20.04
- Compiler: gcc v9.3.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install osgearth:x64-linux`

**Failure logs**
Starting package 89/43: osgearth:x64-linux
Building package osgearth[core]:x64-linux...
Could not locate cached archive: /home/aaron/.cache/vcpkg/archives/04/0498d77d66e2413c937182fc46f1a0bf7d9c8761.zip
-- Note: osgearth only suppo

[2020-08-23 20:28] remz1337 opened #13102 "[sqlitecpp] build failure"
**Describe the bug**
Adding the library as a dependency (without any usage in the code) prevents building the project

**Environment**
- OS: Windows 10
- Compiler: MSVC 2019

**To Reproduce**
Steps to reproduce the behavior:
1. Install package `./vcpkg install sqlitecpp`
2. Add package to CMakeList:
`find_package(SQLiteCpp CONFIG REQUIRED)`
`target_link_libraries(main PRIVATE SQLiteCpp)`

My progr

[2020-08-23 21:01] Luisrogo01 opened #13103 "bzip2 build failure"
**Host Environment**
- OS: Windows
- Compiler: 10

**To Reproduce**
Steps to reproduce the behavior:
.\vcpkg install bzip2

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
    bzip2[core]:x86-windows
Detecting compiler hash for triplet x86-windows...
Starting package 1/1: bzip2:x86-windows
Building package bzip2[core]:x86-windows...
Could not loc

[2020-08-24 00:55] Hoikas opened #13105 "[zlib] AppVeyor build failure"
**Host Environment**
- OS: AppVeyor Visual Studio 2017 Image
- Compiler: Visual Studio 2017

**To Reproduce**
Execute `./vcpkg install zlib` on the AppVeyor Visual Studio 2017 image.

**Failure logs**
[code]

**Additional context**
This works on my local machine with Visual Studio 2019. Here is an example [appveyor.yml file](https://github.com/Hoikas/PlasmaPrefix/blob/681287437d022a8fb9e4560c3a41a

[2020-08-24 01:31] PhoebeHui commented on #13099
Duplicated to https://github.com/microsoft/vcpkg/issues/12896.

[2020-08-24 01:31] #13099 closed

[2020-08-24 01:56] NancyLi1013 commented on #13080
Hi @fldx
Thanks for posting this issue.
glib currently only supports dynamic build. So the current behavior you met is expected.

Since it's duplicated to #10589, let's track this issue there.

[2020-08-24 01:56] #13080 closed

[2020-08-24 02:12] daemyung opened #13106 "[New Port Request] sltbench"
Library name: sltbench

Library description: C++ microbench framework

Source repository URL: https://github.com/ivafanas/sltbench

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2020-08-24 02:54] NancyLi1013 commented on #13071
Hi @Cicas76
Thanks for posting this issue.
I cannot reproduce this on my local machine.
Could you please provide the error log?

Thanks.

[2020-08-24 02:55] fingerecho commented on #13095
What is the situation?

[2020-08-24 03:00] JackBoosY commented on #9660
Fixed by #11800.

[2020-08-24 03:00] #9660 closed

[2020-08-24 03:07] JackBoosY commented on #12501
We still have some problems when printing this information in the pipeline, please wait for me to fix it.

[2020-08-24 03:19] JackBoosY commented on #13042
@showintime Does this issue resolved?

[2020-08-24 04:28] longnguyen2004 commented on #12636
Here's my results with MSVC:
Configure command: `PATH_SEPARATOR=";" AWK="busybox awk" SED="busybox sed" GREP="busybox grep" DIFF="busybox diff" PATCH="busybox patch" AR="lib.exe -verbose" CC="cl.exe -nologo" CXX="cl.exe -nologo" STRIP=":" RANLIB=":" RC="rc.exe" WINDRES="rc.exe" NM="dumpbin.exe -symbols -headers" DLLTOOL="link.exe -verbose -dll" ./configure --prefix=... --build=x86_64-pc-mingw32 --

[2020-08-24 04:46] showintime commented on #13042
thanks a lot,and i have installed osg by using `vcpkg_install_cmake(DISABLE_PARALLEL)`.

[2020-08-24 04:46] #13042 closed

[2020-08-24 05:15] ThomsonTan commented on #13089
@linquize search ninja executable looks slightly better than hard-code the path, but still doesn't looks like an idea solution. As vcpkg already downloads cmake and ninja, it will be great if there is a documented way to the projects using vcpkg to access them, like vcpkg export their path bases on some command line option. This could help CI build environment by saving the extra config of both to

[2020-08-24 05:37] JackBoosY commented on #12849
I think this is just a solution and we need to do more research on it.

[2020-08-24 05:47] JackBoosY commented on #13070
@Neumann-A Could you please take a look?

Thanks.

[2020-08-24 05:51] JackBoosY commented on #13097
@BillyONeal I think it's a vcpkg bug, or it's by design?

[2020-08-24 05:57] JackBoosY commented on #13105
Hi @Hoikas, thanks for reporting this issue!
Can you list the files in _VCPKG_ROOT/packages/zlib_x86-windows_?

Thanks.

[2020-08-24 05:57] JackBoosY commented on #13105
And please make sure your vcpkg is latest,

[2020-08-24 06:03] JackBoosY commented on #13089
We need to consider compatibility issues caused by different versions.

[2020-08-24 06:07] Hoikas commented on #13105
Each time CI is run, we always pull the latest commit from Microsoft/vcpkg/master. Here is a list of the files in VCPKG_ROOT/packages/zlib_x86-windows:

[code]

[2020-08-24 06:16] NancyLi1013 commented on #13013
@48d90782
Thanks for your reply.

I'm closing this issue for now.

[2020-08-24 06:16] #13013 closed

[2020-08-24 06:21] JackBoosY commented on #13105
@Neumann-A Could you please take a look?

Thanks.

[2020-08-24 06:23] PhoebeHui commented on #13096
@jiri-otoupal, could you attach failure log:

 C/Users/jiri-/Downloads/vcpkg-master/buildtrees/detect_compiler/config-x64-windows-rel-out.log
C/Users/jiri-/Downloads/vcpkg-master/buildtrees/detect_compiler/config-x64-windows-rel-err.log

I didn't repro this issue with msvc toolset, it built successfully for me.

[2020-08-24 06:24] TaylorDale commented on #11462
So is there a way to use the visualiser with an older version or something? Or is it literally not possible at all to use the visualiser with VCPKG PCL

[2020-08-24 06:27] PhoebeHui commented on #13075
I try to repro this with VS2017 on win10, however I can't repro.

Starting package 1/1: ffmpeg:x86-windows
Building package ffmpeg[avcodec,avdevice,avfilter,avformat,avresample,core,postproc,swresample,swscale]:x86-windows...
-- Downloading https://github.com/ffmpeg/ffmpeg/archive/n4.2.tar.gz...
-- Extracting source F:/vcpkg/clean/downloads/ffmpeg-ffmpeg-n4.2.tar.gz
-- Applying patch 0001-create-l

[2020-08-24 06:33] fingerecho commented on #13095
@NancyLi1013, 您这边是什么情况呢？

[2020-08-24 06:45] NancyLi1013 commented on #13095
Hi @fingerecho
Thanks for posting this issue.
For issue caused by `opnessl-windows`,

[2020-08-24 06:50] TaylorDale commented on #11601
Any way to use an older version in the meantime?

[2020-08-24 06:51] JackBoosY commented on #6054
I suspect that if we rename it, it will cause other problems.
If we make a copy and change the name, it may also cause the problem of missing configuration files.

[2020-08-24 06:58] JackBoosY commented on #12848
@dalboris Sorry for late, I completely forgot this issue.
In _FREETYPE_SOURCE_PATH/CMakeLists.txt_ line 179:
[code]

[2020-08-24 06:58] NancyLi1013 commented on #13103
Hi @Luisrogo01
Thanks for posting this issue.
Sorry, I cannot reproduce this on my local. It seems something to be related with `vcpkg_fixup_pkgconfig.cmake`.
Need further investigation.

Related issue #13105.

[2020-08-24 07:23] Neumann-A commented on #13105
@JackBoosY need output with `set(PORT_DEBUG ON)` to investigate this further

[2020-08-24 07:36] fingerecho commented on #13095
Thank you, I got it !

[2020-08-24 07:37] #13095 closed

[2020-08-24 07:37] JackBoosY commented on #13105
@Hoikas Please add `set(PORT_DEBUG ON)` to _VCPKG_ROOT/ports/zlib/portfile.cmake_ line 1, try again and provide the printed message.

Thanks.

[2020-08-24 07:41] Hoikas commented on #13105
[code]

[2020-08-24 07:51] JackBoosY commented on #8071
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2020-08-24 07:51] #8071 closed

[2020-08-24 07:52] JackBoosY commented on #8753
Hi @myd7349, does this issue still exist?

[2020-08-24 07:53] JackBoosY commented on #9392
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2020-08-24 07:53] #9392 closed

[2020-08-24 07:55] JackBoosY commented on #9597
Now, we have binary caching.
You can copy it to the new machine through the cache path prompted in the console, and then use it through the install command.

[2020-08-24 07:55] #9597 closed

[2020-08-24 07:58] JackBoosY commented on #10332
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2020-08-24 07:58] #10332 closed

[2020-08-24 07:59] JackBoosY commented on #10387
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2020-08-24 07:59] #10387 closed

[2020-08-24 08:01] JackBoosY commented on #10610
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2020-08-24 08:01] #10610 closed

[2020-08-24 08:04] JackBoosY commented on #11117
Hi @kreuzerkrieg, does this issue still exist?

[2020-08-24 08:04] JackBoosY commented on #11271
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2020-08-24 08:04] #11271 closed

[2020-08-24 08:05] JackBoosY commented on #11307
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2020-08-24 08:05] #11307 closed

[2020-08-24 08:09] JackBoosY commented on #11591
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2020-08-24 08:09] #11591 closed

[2020-08-24 08:10] longnguyen2004 commented on #12636
Here's my results with MSVC:
Configure command: `PATH_SEPARATOR=";" AWK="busybox awk" SED="busybox sed" GREP="busybox grep" DIFF="busybox diff" PATCH="busybox patch" AR="lib.exe -verbose" CC="cl.exe -nologo" CXX="cl.exe -nologo" STRIP=":" RANLIB=":" RC="rc.exe" WINDRES="rc.exe" NM="dumpbin.exe -symbols -headers" DLLTOOL="link.exe -verbose -dll" ./configure --prefix=... --build=x86_64-pc-mingw32 --

[2020-08-24 08:11] JackBoosY commented on #11674
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2020-08-24 08:11] #11674 closed

[2020-08-24 08:13] JackBoosY commented on #11948
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2020-08-24 08:13] #11948 closed

[2020-08-24 08:14] JackBoosY commented on #12057
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2020-08-24 08:14] #12057 closed

[2020-08-24 08:15] JackBoosY commented on #12148
Hi @H-angel, does this issue still exist?

[2020-08-24 08:16] JackBoosY commented on #12150
Hi @david-antiteum, does this issue still exist?

[2020-08-24 08:17] JackBoosY commented on #12479
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2020-08-24 08:17] #12479 closed

[2020-08-24 08:22] PhoebeHui commented on #13102
@remz1337, thanks for reporting this issue!

I have summited PR #13108 to fix this issue.

[2020-08-24 08:27] kreuzerkrieg commented on #11117
No idea, I'm not "there" anymore

[2020-08-24 08:27] #11117 closed

[2020-08-24 08:29] JonLiu1993 commented on #12809
Hi @dustinnieffenegger ,
I successfully installed drogon on windows10 64bit, for your question, My guess is that you're not linking zlib.lib to your project, or zlib is not properly compiled with drogon

[2020-08-24 08:33] DrGul opened #13109 "[x265] x265:x64-windows-rel build failure, cpu overload -> pc shutdown"
**Host Environment**
- OS: Windows 10
- Compiler: Some VS17 one

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg install x265:x64-windows`

**Failure logs**
[code]

**Additional context**
VCPKG starts several compilers and the CPU usage immediately shoots of to 100% when it's building x64-windows-release. Soon there after the computer shuts down. I suppose there could be some issue with

[2020-08-24 08:35] JackBoosY commented on #12558
Does this issue still exist?

[2020-08-24 08:36] JackBoosY commented on #12721
Fixed.

[2020-08-24 08:36] #12721 closed

[2020-08-24 08:36] JackBoosY commented on #12872
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2020-08-24 08:36] #12872 closed

[2020-08-24 08:36] NancyLi1013 commented on #13078
Hi @FranciscoPombal
Thanks for posting this issue.
Could you please place` x64-osx-release.cmake` in _vcpkg_root/triplets/_ directory and then try to rebuild this?

[2020-08-24 08:37] JackBoosY commented on #3899
We haven't been able to repro this; if more information comes up, or this issue appears again, please reopen.

[2020-08-24 08:37] #3899 closed

[2020-08-24 08:39] JackBoosY commented on #7951
This issue hasn’t been updated in a year; if it is still an issue, please reopen it.

[2020-08-24 08:39] #7951 closed

[2020-08-24 08:40] JackBoosY commented on #8282
This issue hasn’t been updated in a year; if it is still an issue, please reopen it.

[2020-08-24 08:40] #8282 closed

[2020-08-24 08:40] JackBoosY commented on #8333
We haven't been able to repro this; if more information comes up, or this issue appears again, please reopen.

[2020-08-24 08:40] #8333 closed

[2020-08-24 08:41] JackBoosY commented on #8334
We haven't been able to repro this; if more information comes up, or this issue appears again, please reopen.

[2020-08-24 08:41] #8334 closed

[2020-08-24 08:41] JackBoosY commented on #8910
We haven't been able to repro this; if more information comes up, or this issue appears again, please reopen.

[2020-08-24 08:41] #8910 closed

[2020-08-24 08:42] JackBoosY commented on #8915
Hi @Guoqifeng, does this issue still exist?

[2020-08-24 08:42] JackBoosY commented on #9355
We haven't been able to repro this; if more information comes up, or this issue appears again, please reopen.

[2020-08-24 08:42] #9355 closed

[2020-08-24 08:43] JackBoosY commented on #9399
We haven't been able to repro this; if more information comes up, or this issue appears again, please reopen.

[2020-08-24 08:43] #9399 closed

[2020-08-24 08:44] JackBoosY commented on #9818
Hi guys, does this issue still exist?

[2020-08-24 08:46] JackBoosY commented on #10204
We haven't been able to repro this; if more information comes up, or this issue appears again, please reopen.

[2020-08-24 08:46] #10204 closed

[2020-08-24 08:46] JackBoosY commented on #10534
We haven't been able to repro this; if more information comes up, or this issue appears again, please reopen.

[2020-08-24 08:47] JackBoosY commented on #10691
We haven't been able to repro this; if more information comes up, or this issue appears again, please reopen.

[2020-08-24 08:47] #10691 closed

[2020-08-24 08:47] NancyLi1013 commented on #13029
Hi @BengtGustafsson
Thanks for posting this issue.

Does the suggestion from @ASxa86 meet your demands?

[2020-08-24 08:47] Guoqifeng commented on #8915
I just reset my os system and it seems worked.

[2020-08-24 08:50] #8915 closed

[2020-08-24 09:03] PhoebeHui commented on #12320
@XiaohaiAlex, please reopen this issue if it still be an issue for you.

[2020-08-24 09:03] #12320 closed

[2020-08-24 09:09] PhoebeHui commented on #11283
@faserg1, thanks for the updates!

I think this is not vcpkg issue, please let us know if you expect vcpkg do something here.

[2020-08-24 09:09] #11283 closed

[2020-08-24 09:12] NancyLi1013 commented on #12891
I'm closing this issue for now since there seems no response.

Please feel free to reopen this if you still have the same problem.

[2020-08-24 09:12] #12891 closed

[2020-08-24 09:15] PhoebeHui commented on #12204
@acceleratxr, does this still be a problem for you?

[2020-08-24 09:17] NancyLi1013 commented on #8550
I'm closing issue for now since there is no response.

Please feel free to reopen this if it is still a problem for you.

[2020-08-24 09:17] #8550 closed

[2020-08-24 09:19] PhoebeHui commented on #12948
@FishHe, please reopen this issue if it's not answer you want.

[2020-08-24 09:19] #12948 closed

[2020-08-24 09:21] CiaranWelsh commented on #12558
Yes, I couldn't get it resolved but I ran out of time and decided to use git submodules instead. In general I really like vcpkg and would prefer to use it instead of git submodules but I can't afford to spend so much time getting the various new ports I need up and running. Thanks for your effort on this, I'm happy for you to close the issue.

[2020-08-24 09:21] JackBoosY commented on #13109
This proves that the compiler completely uses the resources of your computer.
If you don’t like it, you can replace `vcpkg_install_cmake()` to  `vcpkg_install_cmake(DISABLE_PARALLEL)` in _VCPKG_ROOT/ports/x265/portfile.cmake_ line 31 then try again.

[2020-08-24 09:25] NancyLi1013 commented on #11990
I'm closing this issue for now since there seems no response for a long time.

Please feel free to reopen this if it is still a problem for you.

[2020-08-24 09:25] daemyung opened #13110 "How do I find a shaderc package?"
I have installed shaderc but there is no instructions... Usually when I install one library, vcpkg give tips like below
[code]
However shaderc doesn't give any instruction. It's installed but there is no .cmake files.
Could you help how can I find shaderc library with vcpkg?

[2020-08-24 09:26] PhoebeHui commented on #11552
Currently, you can simply remove all boost components via

./vcpkg remove boost-uninstall --recurse

[2020-08-24 09:26] #11552 closed

[2020-08-24 09:40] jiri-otoupal commented on #13096
[config-x64-windows-rel-err.log](https://github.com/microsoft/vcpkg/files/5117008/config-x64-windows-rel-err.log)
[config-x64-windows-rel-out.log](https://github.com/microsoft/vcpkg/files/5117009/config-x64-windows-rel-out.log)

[2020-08-24 09:41] kafeg commented on #11727
Hey all! I had the same problem.

There is a dirty solution to fix crash inside fontconfig on `FcFileScanFontConfig`. You could use this CONTROL and portfile.cmake to replace your own files in fontconfig port and rebuild it. After that Qt5 GUI apps will work correctly:

CONTROL
[code]

portfile.cmake
[code]

As you could see, i downgraded fontconfig from 2.12 to 2.8.0 which could be used to build

[2020-08-24 09:44] NancyLi1013 commented on #13015
@Neumann-A
Thanks for your above information.

@cloudhan
https://vcpkgx.com/ is similar to https://vcpkg.info/.

In my opinion, both of them can work for users now.

[2020-08-24 09:44] #13015 closed

[2020-08-24 09:47] FranciscoPombal commented on #13078
@NancyLi1013

Same problem still. Here's the run: https://github.com/FranciscoPombal/qBittorrent/runs/1020771354

[2020-08-24 10:02] fingerecho commented on #13105
PS C:\Program Files (x86)\vcpkg> .\vcpkg.exe install drogon
Computing installation plan...
The following packages will be built and installed:
  * brotli[core]:x86-windows
    drogon[core]:x86-windows
  * libmariadb[core,openssl,zlib]:x86-windows
  * libpq[core,openssl,zlib]:x86-windows
  * sqlite3[core]:x86-windows
  * zlib[core]:x86-windows
Additional packages (*) will be modified to complete th

[2020-08-24 10:07] JunShuoMing commented on #13075
@PhoebeHui
I find that in my PC(windows10) if the command line size large than 16K, the parameter will not passed to programe correctly.
And it seems that it is a windows limitation(https://support.microsoft.com/en-us/help/830473/command-prompt-cmd-exe-command-line-string-limitation)

When gernerate "libavcodec/avcodec-58.def", the command line size is 22k:
`EXTERN_PREFIX="_" /e/codes/vcpkg/buildt

[2020-08-24 10:13] NancyLi1013 commented on #13078
Could you please try to run `brew install pkg-config` first before you build?

I can build it successfully on my local machine:

[code]

[2020-08-24 10:55] PhoebeHui commented on #13088
@hamdy1999, could you attach failure logs?

I can't repro this issue locally.

Building package pcl[core]:x86-windows...
-- Downloading https://github.com/PointCloudLibrary/pcl/archive/f9f214f34a38d5bb67441140703a681c5d299906.tar.gz...
-- Extracting source F:/vcpkg/clean/downloads/PointCloudLibrary-pcl-f9f214f34a38d5bb67441140703a681c5d299906.tar.gz
-- Applying patch pcl_utils.patch
-- Applying pa

[2020-08-24 11:24] diablodale commented on #11552
How can this be documented?
How can a user that wants to install, and then remove boost using vcpkg know this special uninstall procedure?
Can other defective uninstall procedures be disabled?

[2020-08-24 11:27] patui opened #13111 "[FFmpeg] Add New Feature(libass,libfreetype,fontconfig)"
Video player need  these Feature

libass
` "--enable-libass --enable-filter=subtitles"`

libfreetype
`  "--enable-filter=drawtext --enable-libfreetype --enable-muxer=ass --enable-demuxer=ass --enable-muxer=srt --enable-demuxer=srt --enable-muxer=webvtt --enable-demuxer=webvtt --enable-encoder=ass --enable-decoder=ass --enable-encoder=srt --enable-decoder=srt --enable-encoder=webvtt --enable-decode

[2020-08-24 11:27] DrGul commented on #13109
I suppose it's good that the resource are being put to work. However unfortunate when pc shuts down each time.

Thanks for the suggestion, resolved the issue.

[2020-08-24 11:27] #13109 closed

[2020-08-24 13:45] ASxa86 commented on #13070
I was able to get every port I needed to compile in Ubuntu 20.04, gcc v9.3.0 through my Hyper-V. I might try a fresh install of CentOS 7 (again) to verify I didn't screw something up.

[2020-08-24 13:53] DimRochette opened #13112 "[nanodbc] try to link with unixodbc from system"
****

**Issue**
On a WSL ubuntu 18.04 project using `nanodbc` don't link.

**Reproductibility**
- Have vcpkg installed with `nanodbc`.
- Have a sample project linking with `nanodbc`.

**Investigations**
- When installing component from vcpkg, it compile the dependency `unixodbc`.
- When a project link with `nanodbc` the project add a link `-lodbc` [nanodbc cmake](https://github.com/nanodbc/nanodbc

[2020-08-24 14:20] brazhenko opened #13113 "[protobuf:x86-atmos-md] build failure"
**Host Environment**
- Win10
- MSVC 19.15

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install --triplet x86-atmos-md protobuf`

**Failure logs**

         libprotobuf.dir\Debug\json_objectwriter.obj
         libprotobuf.dir\Debug\json_stream_parser.obj
         libprotobuf.dir\Debug\object_writer.obj
         libprotobuf.dir\Debug\proto_writer.obj
         libprotobuf.dir\Debug\pro

[2020-08-24 14:53] dalboris commented on #12848
Thanks @JackBoosY, this is useful, I'm now working on a FreeType patch. No worry about the delay, I was busy with other things anyway.

First notes:

1. It shouldn't be `option(CONFIG_INSTALL_PATH ...)` but `set(CONFIG_INSTALL_PATH ... CACHE PATH ...)`, since it's not a boolean option.

2. Instead of `lib/cmake/freetype`, I'm planning to use `${CMAKE_INSTALL_LIBDIR}/cmake/freetype`, since that's h

[2020-08-24 15:46] dalboris commented on #12848
OK, so I'm planning to submit to FreeType folks a change which modifies this:

[code]

into this:

[code]

This successfuly creates a `freetype-config-version.cmake` file in the CMake build dir at config time, and copy it to `<install_dir>/lib/cmake/freetype` at install time.

Note that I'm using `FT_CONFIG_INSTALL_PATH` instead of `CONFIG_INSTALL_PATH` to avoid polluting the global namespace. But

[2020-08-24 16:32] FranciscoPombal commented on #13078
@NancyLi1013 thanks, that fixed it.

[2020-08-24 16:32] #13078 closed

[2020-08-24 17:53] StarGate-One commented on #13075
@JunShuoMing the article you reference is not for Windows 10, but Windows 8.1 or older.
Though I may ask, are you running Windows 10 x86 (32-bit)? Thinking logically, Windows 10 x86 would have similar limitations on Command Line, PATH, number of Environment Variables etc as compared to Window 10 x64 (64-bit).

@PhoebeHui are the test machines being used by the team x86 or x64? I would guess they a

[2020-08-24 17:57] #13102 closed

[2020-08-24 18:19] #13055 closed

[2020-08-24 18:24] BillyONeal commented on #11488
That is correct, but vcpkg by default will use the latest version you have installed. The binary compatibility constraint requires that you use a linker and support .libs newer than the highest version of all the link inputs.

I believe you can get this to work by setting `VCPKG_PLATFORM_TOOLSET` to `v141` (as described in https://github.com/microsoft/vcpkg/blob/master/docs/users/triplets.md#vcpkg

[2020-08-24 19:28] studoot commented on #11488
And that's the default that I'd like to be able to change somehow, while still using the stock triplets (i.e. not using the VCPKG_PLATFORM_TOOLSET triplet file property).

On the other hand, triplets specifying toolset versions are probably an easier way forward.

Trouble is, the confusion of versions will still exist. Oh well.

[2020-08-24 19:32] #4320 closed

[2020-08-24 19:49] #12442 closed

[2020-08-24 19:51] BillyONeal commented on #11488
Triplets are the solution we have built for this problem; if you are running into this in a CI scenario or similar we have overlay triplets so that you don't need to edit the tree itself; I suspect any command line interface we could add would be more annoying than that.

[2020-08-24 19:55] BillyONeal commented on #10187
We have up till now not opened this can of worms because many of the package managers one might expect to provide these external dependencies (a) make system-wide edits, and/or (b) require elevated permissions (e.g. `sudo`) in order to do anything.

The error message could certainly be made clearer. I tagged `requires:discussion` so that we discuss whether a more concrete feature needs to be added

[2020-08-24 20:21] StarGate-One commented on #12442
Looks good to me - thanks for the hard work @strega-nil and @BillyONeal

[2020-08-24 21:13] BillyONeal commented on #13097
Seems like a bug to me.

[2020-08-24 21:15] vmiheer opened #13116 "[New Port Request] likwid"
Library name: likwid

Library description: Likwid is a simple to install and use toolsuite of command line applications for performance oriented programmers. It works for Intel, AMD, ARMv8 and POWER9 processors on the Linux operating system. There is support for ARMv7 and POWER8 but there is currently no test machine in our hands to test them properly.

Source repository URL: https://github.com/RR

[2020-08-24 21:17] BillyONeal commented on #13044
It seems a reasonable feature request.

[2020-08-24 23:07] patui commented on #13111
In addition, before the software upgrade, can you give a temporary solution, such as: how do I add these features myself, and how do I deal with such problems in the future?

[2020-08-24 23:58] davidebeatrici commented on #11727
@kafeg I confirm it works, thank you very much!

Please note that I had to link to the Brotli libraries:
[code]

Otherwise:
[code]

[2020-08-25 00:46] BillyONeal opened #13119 "[vcpkg] PR and CI system should be better about testing features"
Currently our CI system tests the default features of each port. That is good for finding most failures that are likely to happen, but there is still a fairly high likelihood of bugs slipping into features of each port that our CI doesn't find, because we only test defaults.

We wouldn't want to change to trying to test all features, first because some features are platforms specific so we'd get f

[2020-08-25 00:51] JackBoosY commented on #13119
One of the solutions: #12160.

[2020-08-25 00:57] zhangdexin commented on #13093
It work. I have other question, for CMakeLists.txt has include dir, How can do?
INCLUDE_DIRECTORIES(STSTEM third/msgpack/include/)

[2020-08-25 01:02] Hoikas commented on #13103
I just built the bzip2 package successfully on the AppVeyor image that is failing to build zlib in #13105.

[2020-08-25 01:04] NancyLi1013 commented on #13110
Hi @daemyung
Thanks for posting this issue.
Since there are no CMake Configs and Targets files for`shaderc `, we cannot find the port via `find_package()`.

You can use `find_library() `and `find_path()` to find `shaderc `.

[2020-08-25 01:07] JackBoosY commented on #13105
@Neumann-A  Any ideas?

[2020-08-25 01:07] Hoikas commented on #13105
@fingerecho The brotli package builds correctly on the AppVeyor Visual Studio 2017 image. Please open a new issue as this one is specifically about the build failure of zlib on AppVeyor's Visual Studio 2017 image.

[2020-08-25 01:10] daemyung commented on #13110
Thanks for your answer. Do you have a plan to make patch to support ```find_pacakge()```?

[2020-08-25 01:10] JackBoosY commented on #13109
@DrGul You should check your cooling system.

[2020-08-25 01:11] JackBoosY commented on #13070
I think our command line is not compatible with other versions of gcc, that caused this issue.

[2020-08-25 01:30] JackBoosY commented on #12848
@dalboris Oh sorry, I didn't view the history before. After check that PR, I think we may not use `CONFIG_INSTALL_PATH`.
Right! That macro already removed by PR #12405.

[2020-08-25 01:37] JackBoosY commented on #12848
You need to install `freetype-config-version.cmake` into the same folder of other installed cmake, such as `freetype-targets.cmake` or `freetype-config.cmake`.

[2020-08-25 02:01] BillyONeal commented on #13119
I don't think that's really a solution: that changes the set of features we install to be "all of them" which means we catch a bug where a feature doesn't build, but we now we miss the bug in the other direction where a build succeeds only when a non-default feature is selected. Given that we expect most customers to be using the default features rather than all features I don't think that's an im

[2020-08-25 02:02] NancyLi1013 commented on #13110
The upstream doesn't support this. If you have the demand, it might be better to file an issue on upstream.

Thanks.

[2020-08-25 02:03] JackBoosY commented on #13113
[code]
Could you provide your custom triplet files?

[2020-08-25 02:16] NancyLi1013 commented on #12959
@rsweeten
Sorry for the long delay.
I noticed you used GCC compiler. In this case, you should run `bootstrap-vcpkg.sh` instead of `bootstrap-vcpkg.bat`.
So could you please try to run `bootstrap-vcpkg.sh `?

[2020-08-25 02:28] FishHe opened #13120 "[opencv4] NVCUVID for ffmpeg."
Now the opencv port can not build ffmpeg with NVCUVID.

[2020-08-25 02:36] JackBoosY commented on #13119
@BillyONeal In any case, we need to ensure the quality of existing ports. I hope to solve through the following points:
- Ensure that the generated library can be used normally (test with some example code)
- Ensure that the built-in test feature passes
- Ensure that the features can be built normally
- Ensure that the generated cmake files can be used normally
- Ensure that the build environment

[2020-08-25 02:38] PhoebeHui commented on #13096
It seems the cygwin set up issue, not related to the port. I also installed cygwin and tried to build this port, Everything works.

What compiler version do you use? you might need set up the enviroment again.

Failures:
[code]
I don't use cygwin, has no work experience, I have vs2019 isntalled. share my config log:
[code]

[2020-08-25 02:39] JunShuoMing commented on #13075
@StarGate-One  @PhoebeHui
My compile PC is windows10 64bit(Chinese version). And I test the command line size limitation is 22k(I can't input more than 22k characters in a line on console).
Another PC is windows7 64bit(Chinese version) And I test the command line size limitation is 8k.
I don't have English version windows.
I had try diffrent code page(unicode 65001, Oem-US 437), the limitation is

[2020-08-25 02:43] daemyung commented on #13110
Thanks.

[2020-08-25 02:43] #13110 closed

[2020-08-25 02:56] fingerecho commented on #13105
Thank you!

[2020-08-25 03:10] angelaresjun opened #13121 "Building package curl:x86-windows failed with: BUILD_FAILED"
**Describe the bug**
Building package curl:x86-windows failed with: BUILD_FAILED

**Environment**
- OS:  Windows
- Compiler: VS2019

**To Reproduce**
vcpkg.exe install curl

**Expected behavior**
Installing package ... done

**Failure logs**
Please ensure you're using the latest portfiles with `.\vcpkg update`, then
submit an issue at https://github.com/Microsoft/vcpkg/issues including:
  Package:

[2020-08-25 03:17] JackBoosY commented on #13121
Hi @angelaresjun, thanks for reporting this issue!
Please provide failure log _F:\github\vcpkg\buildtrees\curl\install-x86-windows-dbg-out.log_.

Thanks.

[2020-08-25 03:18] nauq302 commented on #12275
Is this bug fixed? I'm still get
[code]

[2020-08-25 03:18] JackBoosY commented on #13120
cc @cenit

[2020-08-25 03:18] PhoebeHui commented on #13075
I use 64-bit os, @JunShuoMing, could you try to build ffmpeg via powershell, and see if this issue still exist?

[2020-08-25 03:40] FishHe commented on #12948
However, using '--editable' each time does not work for me. Vcpkg can't detect my changes on the source code.

[2020-08-25 03:43] JunShuoMing commented on #13075
@PhoebeHui
powershell still failed(seems the same reason)
`EXTERN_PREFIX="_" /e/codes/vcpkg/buildtrees/ffmpeg/src/n4.2-2f6d2343f6/compat/windows/makedef libavcodec/libavcodec.ver libavcodec/012v.o...... libavcodec/yuv4enc.o > libavcodec/avcodec-58.def`
`ln: 无法创建符号链接 'avcodec.dll': No such file or directory`
"libavcodec/avcodec-58.def" not generated.

[2020-08-25 03:58] JunShuoMing opened #13122 "[opencv]x64-windows build failure (error C2065: '_MM_PERM_ACBD': undeclared identifier)"
**Host Environment**
OS:Windows10 64bit Chinese
Compiler: visual studio 2017

**To Reproduce**
`./vcpkg install opencv:x64-windoes`
*note: x86 version can install correctly*

**Failure logs**
-- Using cached E:/codes/vcpkg/downloads/opencv-cache/tiny_dnn/adb1c512e09ca2c7a6faef36f9c53e59-v1.0.0a3.tar.gz
-- Configuring x64-windows
-- Building x64-windows-dbg
CMake Error at scripts/cmake/vcpkg_execut

[2020-08-25 03:59] aybe opened #13123 "[fluidsynth:x86-windows] build failure"
**Host Environment**
- OS: Microsoft Windows [Version 10.0.19041.450]
- Compiler: MSVC v142 - VS 2019 C++ x64/x86 build tools (v14.27)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install fluidsynth:x86-windows`

**Failure logs**
[install-x86-windows-rel-out.log](https://github.com/microsoft/vcpkg/files/5121273/install-x86-windows-rel-out.log)
[install-x86-windows-rel-out-1.log](htt

[2020-08-25 04:16] fingerecho opened #13124 "IPDB was not found , Buiding package failed.Why?"
**Describe the bug**
IPDB was not found , Buiding package failed.
**Environment**
- OS: Windows10
- Compiler: Visual Studio 2019

**To Reproduce**
Steps to reproduce the behavior:
1. git pull
2.bootstrap-vcpkg.bat
3. See infomation out-put.
4. ./vcpkg install drogon
Repro code when

**Expected behavior**
output:
[code]
-----------------------------------------------------------------------------

[2020-08-25 05:06] Neumann-A commented on #13105
The library search path for zlibd is missing /debug for some reason.

[2020-08-25 05:48] JackBoosY commented on #13123
[code]
Please make sure your antivirus software is turned off.

[2020-08-25 06:03] PhoebeHui commented on #11552
@diablodale, this is a temporary workaround, the future it would use 'vcpkg remove boost' to remove the all components.

See more discussions in https://github.com/microsoft/vcpkg/pull/12851.

[2020-08-25 06:11] brazhenko commented on #13113
@JackBoosY
[x86-windows-atmos-md.cmake.txt](https://github.com/microsoft/vcpkg/files/5121635/x86-windows-atmos-md.cmake.txt)

[2020-08-25 06:23] Malt-R0711 commented on #11989
Any news on that issue?

[2020-08-25 06:27] NancyLi1013 commented on #12939
Hi @linquize
Thanks for posting this issue.
I checked `libssh2` source codes and found that there are no any options for `openssl `,`wincng `,`mbedtls`, which is not different from `libssh`.

So it seems to be impossible to add these backends as features for `libssh2`.

Only `zlib `can be set as feature optional.

[2020-08-25 06:32] JackBoosY commented on #13113
Use your custom triple, but I cannot reproduce this problem. Did we miss something?

[2020-08-25 06:36] JackBoosY commented on #13124
`IPDB was not found` is not related to the drgon build failure.

[2020-08-25 06:46] JackBoosY commented on #13124
_C:/Program Files (x86)/vcpkg_
Can you clone vcpkg in a non-space path and try again?

[2020-08-25 07:21] Neumann-A commented on #13105
to be clear the following is wrong:
`-- [DEBUG] Search paths:'C:/Tools/vcpkg/packages/zlib_x86-windows-port-debug/lib' 'C:/tools/vcpkg/installed/x86-windows-port-debug/debug/lib'`

it should be:
`-- [DEBUG] Search paths:'C:/Tools/vcpkg/packages/zlib_x86-windows-port-debug/debug/lib' 'C:/tools/vcpkg/installed/x86-windows-port-debug/debug/lib'`

could you please post the contents of
`-- Fixing pkgco

[2020-08-25 07:24] Lekja00160612 commented on #9044
I installed the SDK but it does not seem to work

[2020-08-25 08:03] NancyLi1013 commented on #13122
Hi @JunShuoMing
Thanks for posting this issue.

`_MM_PERM_ACBD` is defined in C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\VC\Tools\MSVC\14.16.27023\include\zmmintrin.h at line 160

`_MM_PERM_ACBD = 0x27`

Could you please help confirm if you have this file on your local machine?

[2020-08-25 08:04] darkstar commented on #12094
I tried building a static glib version today. Got this error:
[code]

However, I know I have successfully built glib as static library by hand before, and there are even patches that allow this (like the one here: https://gitlab.gnome.org/GNOME/glib/-/issues/692)

It would be great to have one of those patches in vcpkg

[2020-08-25 08:23] PhoebeHui commented on #12948
That's strange, I double confirm again, it works for me, I installed the port with --editable before, uninstall the port, modify some changes in buildtree, reinstall it with --editable again, the changes still be there.

You can  see it use the source cached before.
PS F:\vcpkg\clean> ./vcpkg install openmvg:x64-windows --editable
Computing installation plan...
The following packages will be built

[2020-08-25 08:28] fingerecho commented on #13124
It's unbelievable! It goes well after I moved the directory to `c:/ProgramData/vcpkg`.
Thank you very much!
How can I join this project to be as a contributor?
What does it do about the IPDB?
Is the IPDB representing IP address DataBase or something like data table containers in CXX?

[2020-08-25 08:32] PhoebeHui commented on #12996
@stemuser027, let me know if you have any questions about installing freeglut via vcpkg.

[2020-08-25 08:33] JackBoosY commented on #13124
Submit PR, pass review and merge : )
See https://xmfbit.github.io/2017/08/21/debugging-with-ipdb/

[2020-08-25 08:34] fingerecho commented on #13124
Thanks.

[2020-08-25 08:40] Neumann-A opened #13127 "[gtest] pc files in lib/manual_link/pkgconfig are wrong"
see topic. The problem is that vcpkg_fixup_pkgconfig assume that pc files are located in lib/pkgconfig. Those pc files will not be discovered by pkgconfig since manua_link is not added to the PKG_CONFIG_PATH

[2020-08-25 08:41] Neumann-A opened #13128 "[benchmark] pc files incorrect due to missing fixup_pkgconfig."
see title

[2020-08-25 08:43] FishHe commented on #12948
It is true that making complete recompilation is working with '--editable'. However, recomputing the whole port is time consuming. To **incrementally** compile a port is what I really want.

[2020-08-25 08:45] NancyLi1013 commented on #9044
@Lekja00160612
Please help confirm if you met the same error as this issue.

[2020-08-25 09:02] PhoebeHui commented on #12948
@FishHe, you don't need to wait it start to build, end up the thread when it finished extracting source, it should be very quick, also you does't need to uninstall the port again, sorry for the confuse.

[2020-08-25 09:27] TheAshwanik commented on #13077
Thanks,
Any idea approximately when OpenCV 4.4 would be compatible ?

[2020-08-25 09:27] studoot commented on #11488
That was part of the puzzle that I'd missed. So, I can create a directory in my project that contains version specific triplets & overlay that directory when building & exporting the ports for my project (which I already have a script for).

OK - I can live with that.

[2020-08-25 09:56] OlafvdSpek opened #13130 "Starting package 13/8"
```Starting package 13/8: libmariadb:x86-windows```

`13/8` doesn't seem quite right.

[code]

[2020-08-25 11:35] commandus opened #13131 "[New Port Request] pbjson"
Can you please add https://github.com/yinqiwen/pbjson library?

[2020-08-25 11:40] Morten242 opened #13132 "[zstd] Expose the library version"
We want to limit which version of zstd is used to 1.3 or above and while 1.4 is provided by vcpkg it doesn't expose the version information though the zstd-config.cmake or similar, so it is always rejected.

I don't know if this a common thing for the *-config.cmake files, but I would like to have the version info in there so they can be used in version-specific find_package calls.

I also don't k

[2020-08-25 11:42] diablodale commented on #11552
hahaha, got it. I read the code in the PR you linked. Seems that is a clear way to document it. Works for me. 😉

[2020-08-25 11:47] SeanFarrow commented on #13033
If there were instructions on how to do this, I'm happy to help as it's something a project I'm working on needs to fully move to VCPKG as a packange manager.

[2020-08-25 12:11] dalboris commented on #12848
@JackBoosY Perfect, indeed `CONFIG_INSTALL_PATH` seems already removed, so no need to re-add it. I've submitted a patch to the FreeType project: https://savannah.nongnu.org/bugs/index.php?58935 . It basically adds:

[code]

Let me know if you'd also like to apply this patch in the vcpkg port, while we wait for the patch to be merged upstream and a new version of FreeType to be released.

[2020-08-25 12:47] Maju-Ketchup commented on #7281
GRPC is now at version 1.31.1 and this issue should be closed

[2020-08-25 13:28] Berrysoft opened #13133 "[qt5-webengine] build failure on Windows"
**Host Environment**
- OS: Windows 10
- Compiler: MSVC 19.27

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install qt5-webengine:x64-windows`

**Failure logs**
[code]

[package-build-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/5123976/package-build-x64-windows-dbg-out.log)

**Additional context**
I also tracked other build failures when using MSVC 19.28, while A

[2020-08-25 13:49] longnguyen2004 commented on #13033
It has something to do with [this PowerShell script](https://github.com/microsoft/vcpkg/blob/master/scripts/boost/generate-ports.ps1) I think

[2020-08-25 13:53] SeanFarrow commented on #13033
Ah… OK…, let me have a look at that and see what I can come up with!
Thanks,
Sean.

From: Long Nguyen <notifications@github.com>
Sent: 25 August 2020 14:50
To: microsoft/vcpkg <vcpkg@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Comment <comment@noreply.github.com>
Subject: Re: [microsoft/vcpkg] [boost] Update to 1.74.0 (#13033)

It has something to do with this PowerShell sc

[2020-08-25 14:21] longnguyen2004 commented on #13075
@JunShuoMing Could you provide us with the build log?

[2020-08-25 14:45] SeanFarrow commented on #13033
Ok, if you change all the references from 1.73 to 1.74 in the script you reference, change the PowerShell execution policy to unrestricted for the current session and have VCPKG somewhere on the path, you should be able to run the script and update the port locally.

There is a new header-only library with 1.74, Nowide, so I’m not sure how new libraries are handled as we might want a new installab

[2020-08-25 14:52] longnguyen2004 commented on #13033
It should be automatically handled by [this line](https://github.com/microsoft/vcpkg/blob/master/scripts/boost/generate-ports.ps1#L230)

[2020-08-25 15:15] SeanFarrow commented on #13033
Ok, can you try just changing the version references from 1.73 to 1.74 and let me know how that goes.

I can’t check this myself before the weekend unfortunately.
Thanks,
Sean.

From: Long Nguyen <notifications@github.com>
Sent: 25 August 2020 15:52
To: microsoft/vcpkg <vcpkg@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Comment <comment@noreply.github.com>
Subject: Re: [micr

[2020-08-25 15:38] longnguyen2004 commented on #13033
Alright I'll test it tomorrow

[2020-08-25 15:54] remz1337 opened #13134 "[cpp-taskflow] error with latest update to 2.5.0"
**Describe the bug**
My project (using CMake) is unable to find the library using the provided targets:
`find_package(cpp-taskflow CONFIG REQUIRED)`
`target_link_libraries(VRE PRIVATE Taskflow::Taskflow)`

**Environment**
- OS: Windows 10
- Compiler: MSVC 2019

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install cpp-taskflow
2. Add target to project

**Expected behavior**
Find tar

[2020-08-25 16:14] longnguyen2004 commented on #13130
Someone apparently counts already installed packages :)

[2020-08-25 16:15] linquize commented on #12939
There are options in libssh2 `src/CMakeLists.txt`, using `CRYPTO_BACKEND` variable.
[code]

[2020-08-25 16:51] Neumann-A commented on #13134
`find_package(cpp-taskflow CONFIG REQUIRED)`
is different from
`find_package(Cpp-Taskflow CONFIG REQUIRED)`
try with the previous upper case starting letters.

[2020-08-25 17:11] remz1337 commented on #13134
Tried all the package names I could think of (cpp-taskflow, Cpp-Taskflow, Cpp-taskflow, Taskflow, taskflow), but didn't work

[2020-08-25 17:22] Neumann-A commented on #13134
Confirmed. The Target path for the config is wrong which is why it isn't found. Need to be share/taskflow instead of share/cpp-taskflow. Maybe the port also requires renaming?

[2020-08-25 17:33] remz1337 commented on #13134
Pinging @mfornace for insights from [PR](https://github.com/microsoft/vcpkg/pull/12923)

[2020-08-25 17:48] ali-reza-zareian opened #13135 "openssl-windows:x86-windows build failure"
**Host Environment**
- OS: windows 10 x64
- Compiler: visual studio 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install openssl-windows:x86-windows`

**Failure logs**
warning: vcpkg appears to be in a Visual Studio prompt targeting x64 but is installing packages for x86-windows. Consider using --triplet x64-windows or --triplet x64-uwp.
The following packages will be built and

[2020-08-25 19:20] Neumann-A commented on #13133
`C:\Users\Berrysoft\Documents\GitHub\vcpkg` could be too long for qt5-webengine which uses deeply nested folders.

[2020-08-25 20:26] mfornace commented on #13134
The library was indeed renamed from cpp-taskflow to taskflow... (I did not try to address the name change when doing the PR). Let me look to see what the PR messed up (sorry).

[2020-08-25 20:49] mfornace commented on #13134
I started a new #13140 pull request completing the name change from cpp-taskflow to taskflow. It works for me locally.

Sorry about the issue, my use-case wasn't testing the target_link_libraries correctly. Hopefully the fix I implemented will work.

[2020-08-25 21:03] seanyen opened #13141 "Any new release plan?"
The latest release is `2020.06`. Would there be another one soon?

[2020-08-25 21:09] Hoikas commented on #13105
C:/tools/vcpkg/packages/zlib_x86-windows-port-debug/debug/lib/pkgconfig/zlib.pc:
[code]

I think this has something to do with the environment used by the AppVeyor build agent. When I RDP into the build machine, I can install zlib correctly from either cmd.exe or PowerShell Core 6. But, this level of manual intervention is unacceptable in CI.

[2020-08-25 21:23] Neumann-A commented on #13105
@Hoikas:

That clearly indicates that the string replacement failed or wasn't written to the file for some reason.
The relevant code is here:

https://github.com/microsoft/vcpkg/blob/6ed0bc982bf9bdca25439d538f7f272786a7af4d/scripts/cmake/vcpkg_fixup_pkgconfig.cmake#L302-L326

The only way to currently debug that is to add some `message()` into that (until #12877 is merged and --trace can be passed

[2020-08-25 21:42] raahilsha-z commented on #11601
I'm currently using VCPKG commit ecfc714b9adbdf8bf6b394dd6b46d9c56ca993ea (git checkout on VCPKG folder after clone). If you're using QT, you might need to grab the download files for QT from the [archive here](https://download.qt.io/new_archive/qt/5.11/5.11.2/submodules/) and manually place them inside the vcpkg/downloads folder. This commit lets me install pcl[openni2,qt,tools,cuda,opengl]:x64-w

[2020-08-25 21:49] #13094 closed

[2020-08-25 22:00] Hoikas commented on #13105
I just ran that PR with --trace-expand. Here is the [log](https://ci.appveyor.com/api/buildjobs/glth4r71bee8clwk/log).

[2020-08-25 22:06] Neumann-A commented on #13105
Issue is:
`string(REPLACE C:/tools/vcpkg/packages/zlib_x86-windows ${prefix} _contents prefix=C:/Tools/vcpkg/packages/zlib_x86-windows`
the substitution fails for both release and debug.

[2020-08-25 22:07] #12501 closed

[2020-08-25 22:08] #12796 closed

[2020-08-25 22:08] #13037 closed

[2020-08-25 23:38] conquerv opened #13145 "Building package libuuid:x64-windows failed with: BUILD_FAILED"
**Host Environment**
- OS: Windows 10
- Compiler: 6.2

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg install libuuid:x64-windows`

**Failure logs**
  Package: libuuid:x64-windows
  Vcpkg version: 2020.06.15-nohash

**Additional context**
Add any other context about the problem here, such as what you have already tried to resolve the issue.

[2020-08-26 00:53] fingerecho opened #13146 "A bug about URL resource cannot access."
****

**Is your feature request related to a problem? Please describe.**
./vcpkg.exe install boost
output as follows:
-- Downloading https://github.com/boostorg/compatibility/archive/boost-1.73.0.tar.gz...
-- Extracting source C:/ProgramData/vcpkg/vcpkg/downloads/boostorg-compatibility-boost-1.73.0.tar.gz
-- Using source at C:/ProgramData/vcpkg/vcpkg/buildtrees/boost-compatibility/src/ost-1.73.0-4

[2020-08-26 00:59] Voskrese commented on #13146
`wget -c https://raw.githubusercontent.com/boostorg/boost/boost-1.73.0/LICENSE_1_0.txt`

![2020-08-26_085905](https://user-images.githubusercontent.com/10104740/91242595-739e4500-e77a-11ea-8a92-ab0c4032545d.png)

[2020-08-26 01:45] JonLiu1993 commented on #13145
@conquerv ,Thanks for your issue
libuuid currently only supports unix platform , Target 'Windows' not supported by libuuid!

[2020-08-26 01:55] #12911 closed

[2020-08-26 02:19] JackBoosY commented on #12995
Since #13057 merged, I will continue to add this support.

[2020-08-26 02:21] JackBoosY commented on #11488
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2020-08-26 02:21] #11488 closed

[2020-08-26 02:26] JonLiu1993 commented on #12685
@BoIrelia ,
These two functions are configured by default by vcpkg, so you don’t need to care about this warning

[2020-08-26 02:40] #13124 closed

[2020-08-26 02:52] bc913 commented on #9848
@strega-nil I've followed the same steps as defined in [#12771 ](https://github.com/microsoft/vcpkg/issues/12771) but I've uninstalled VS 2017 and installed VS 2019.

Compiler: MSVC 19.27.29111 and MSBuild version: 16.7.0.37604

**git log -1** output:

[code]

[2020-08-26 02:53] JackBoosY commented on #13133
`ValueError: path is on drive , start on drive C:` It must be the same as Neumann said.

[2020-08-26 02:56] NancyLi1013 commented on #12939
Thanks for your information. I will try to add these features later.

[2020-08-26 03:16] cyh19910216 opened #13149 "[gdal] update to <3.1.2>"
Library name: gdal

New version number: 3.1.2

Other information that may be useful (release notes, etc...)
release notes: https://github.com/OSGeo/gdal/blob/v3.1.2/gdal/NEWS
GDAL: https://gdal.org/
GitHub: https://github.com/OSGeo/GDAL

[2020-08-26 03:23] zahera-fatima commented on #6415
I need help please tell how to install rapidjson through vspkg.

I done this but it didn't work.
![image](https://user-images.githubusercontent.com/55752747/91251682-6468c880-e775-11ea-90eb-6a86c26b87ba.png)

[2020-08-26 03:29] cyh19910216 opened #13150 "[proj] update to <7.1.0>"
Library name: proj

New version number: 7.1.0

Other information that may be useful (release notes, etc...)
release notes: https://proj.org/news.html
PROJ: https://proj.org/
GitHub: https://github.com/OSGeo/PROJ

[2020-08-26 03:31] LilyWangL commented on #13146
Thanks for posting this issue. Closed as duplicate of #13001 #12383.

[2020-08-26 03:31] #13146 closed

[2020-08-26 03:41] llduncangithub opened #13151 "[.\vcpkg.exe install vtk[all]:x64-windows] build failure"
**Host Environment**
- OS: [win10 ]
-

Vcpkg version: 2020.06.15-nohash

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg.exe install vtk[all]:x64-windows`

**Failure logs**
-Cut and past the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:72

[2020-08-26 03:47] sinfee opened #13152 "ocilib need update to 4.7.0"
ocilib has new version 4.7.0,please update it ,thanks.

[2020-08-26 04:04] bill-healey commented on #12911
Thanks, confirmed this PR resolves the issue.

[2020-08-26 04:25] isubasinghe commented on #3930
@Foadsf its better to have a central place to download windows packages still imo.

[2020-08-26 05:00] meastp commented on #12309
Hi @strega-nil - I have another related question:

My project (MSBuild, Windows-only) should build in 32bit and 64bit on both v141 and v142, but I need to exclude some of the dependencies based on the configuration (only v141 64bit needs all dependencies, while the rest only builds part of the solution and does not need to use/build all dependencies).

Ideally, this is what the `<platform-expressi

[2020-08-26 05:22] bill-healey opened #13153 "Missing pangolin_export.h"
**Describe the bug**
pangolin/platform.h includes pangolin_export.h however pangolin_export.h is not copied over when the package is built.

**Environment**
- OS: Windows 10
- Compiler: MSVC
- vcpkg: 2020.06.15-nohash
- VCPKG commit: 4a9b658141308ac0c7a26cd98c463466217ff162

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install pangolin
2. See error
Repro code when

**Expected behav

[2020-08-26 06:38] PhoebeHui commented on #13130
Confirmed, this is a vcpkg bug, @BillyONeal, could you help have a look?

[2020-08-26 07:19] meastp opened #13155 "How to use vcpkg and a manifest file with specific feature(s)/triplet?"
When asking a question please also include where you looked for an answer (so we can update the documentation if needed).

I'm investigating the new manifest feature (@strega-nil?), and have the following use case:

My example project `myproject` has three features: `client` `client-ext` (depends on client) and `server` (depends on both client and client-ext). Default should be `server` which buil

[2020-08-26 07:34] JackBoosY commented on #12995
Sadly, akss doesn't support latest libuvc, we need to wait for upstream fix it.
Here is modified akss and libuvc port files:
[ports.zip](https://github.com/microsoft/vcpkg/files/5128260/ports.zip)

[2020-08-26 07:51] ChrisNabold opened #13156 "error installing lapack Armadillo"
Building package lapack-reference:x64-windows failed with: BUILD_FAILED
.\vcpkg install armadillo
Computing installation plan...
The following packages will be built and installed:
    armadillo[core]:x64-windows
  * lapack[core]:x64-windows
  * lapack-reference[blas-select,core,noblas]:x64-windows
Additional packages (*) will be modified to complete this operation.
Detecting compiler hash for tri

[2020-08-26 07:54] ChrisNabold opened #13157 "Can not install sundials"
[C:\vcpkg].\vcpkg install sundials
Computing installation plan...
The following packages will be built and installed:
    sundials[core]:x64-windows
Detecting compiler hash for triplet x64-windows...
Starting package 1/1: sundials:x64-windows
Building package sundials[core]:x64-windows...
Could not locate cached archive: C:\Users\Chris\AppData\Local\vcpkg/archives\b5\b56f2cd4558030d349b3bac9f0630d

[2020-08-26 07:58] Berrysoft commented on #13133
Thanks! I moved the `vcpkg` folder to just `C:`, and it is still building🤣 I'll report later whether it is success.

[2020-08-26 07:59] LilyWangL commented on #13132
Thanks for posting this issue. Do you mean want use `find_package(zstd 1.4 CONFIG REQUIRED)` to find zstd or want install special version zstd?

[2020-08-26 08:05] LilyWangL commented on #7281
Thanks for posting this issue. GRPC has been updated to version 1.31.1, this issue has been fixed. So I am closing this issue for now.

[2020-08-26 08:05] #7281 closed

[2020-08-26 08:13] Morten242 commented on #13132
Yes, this is about specifying the version in find_package. Currently it will just say something to the effect of 'couldn't find zstd (requires version "1.4", found version "")'

[2020-08-26 08:25] NancyLi1013 commented on #12275
@nauq302
This bug still exists.
I only fixed CMakeLists.txt on my local, so the configure can be passed.

[2020-08-26 08:32] PhoebeHui opened #13159 "[CI pipeline] scripts/azure-pipelines/test-modified-ports.ps1 preinstall failed"
https://github.com/microsoft/vcpkg/blob/master/scripts/azure-pipelines/test-modified-ports.ps1#L101
It preinstall x86 tools for port protobuf, boost-build and sqlite3 in CI pipeline, the thread failed with WinHttpReceiveResponse() failed: 12152 when download powershell-core, that cause the 3 ports preinstall failed. however, it doesn't failed CI pipeline.

Related PR: https://github.com/microsoft/

[2020-08-26 08:35] PhoebeHui commented on #13159
Similar issue encountered before https://github.com/microsoft/vcpkg/pull/12918

[2020-08-26 08:44] Crazysiri commented on #12995
thanks, and Can I do something to complete this? like put  libuvc source to the folder and install it ?

[2020-08-26 08:47] JackBoosY commented on #12995
@Crazysiri In the zip package, I already added libuvc as a new port. So you can unzip that and put them into _VCPKG_ROOT/ports_, them use `./vcpkg install azure-kinect-sensor-sdk --editable`.

[2020-08-26 09:02] samsaga2 opened #13161 "[zlib] build failure"
I am trying to install zlib port with the last vcpkg version and I have errors. With an older vcpkg version I have no problems but I really need to update some ports.

Everytime I update vcpkg one thing or another is broken. I am really thinking to migrate to another system.

[code]

[code]

[2020-08-26 09:08] Neumann-A commented on #13161
D:\DEV\vcpkg\toolsrc\src\vcpkg\install.cpp(494)

versus

D:/dev/vcpkg/packages/zlib_x64-windows/debug/lib/pkgconfig/zlib.pc

duplicated of #13105
closed by #13144

[2020-08-26 09:21] soroush commented on #12906
Sorry, I thought the problem is solved, but then realized that vtk itself does not compile with vcpkg. All these changes require a review.

[2020-08-26 09:22] JonLiu1993 commented on #13149
Hi @cyh19910216 ,Thaks for your issue.
duplicated of [#9100 ](https://github.com/microsoft/vcpkg/pull/9100)

[2020-08-26 09:22] #13149 closed

[2020-08-26 09:33] NancyLi1013 commented on #13156
Hi @ChrisNabold
Thanks for posting this issue.
Could you please provide the error info from _C:\vcpkg\buildtrees\lapack-reference\install-x64-windows-dbg-out.log_?

[2020-08-26 09:36] NancyLi1013 commented on #13161
Hi @samsaga2
Thanks for posting this issue.

Let's track this issue there #13105.

@Neumann-A
Thanks for your information.

[2020-08-26 09:36] #13161 closed

[2020-08-26 09:52] LilyWangL commented on #13132
Related issue #12848

[2020-08-26 09:52] Neumann-A opened #13163 "[boost-modular-build-helpers] make build use a single codepath for all platforms"
Currently the codepaths for windows and the others platforms are seperated. While on windows the `boost_build` function does all the work for other platforms a `CMakelists.txt` is used to setup the boost build via  a custom command. It would be a nice improvement if all platforms would use the `CMakeLists.txt` approach since it allows access to the variables set in the cmake toolchain file which a

[2020-08-26 09:56] Crazysiri commented on #12995
new error:
is it the libuvc not correct?

[8/64] /usr/bin/c++  -DARCHITECTURE_x86_64=1 -DFMT_LOCALE -DSPDLOG_COMPILED_LIB -DSPDLOG_FMT_EXTERNAL -I/home/benebot/vcpkg/installed/x64-linux/share/inc -I/home/benebot/vcpkg/installed/x64-linux/share/pal/linux -I/home/benebot/vcpkg/buildtrees/azure-kinect-sensor-sdk/src/.0-alpha.0-b125ea5fc7/src/../include -Isrc/sdk/include -isystem /home/benebot/vcpkg/i

[2020-08-26 09:57] LilyWangL commented on #13132
I think this also need upstream export project-config-version.cmake.

[2020-08-26 09:59] JackBoosY commented on #12995
@Crazysiri Yes, that's what I said "doesn't support latest libuvc".

[2020-08-26 10:03] PhoebeHui commented on #13157
Currently sundials doesn't support x86-windows, x64-windows and arm64-windows.

See https://github.com/microsoft/vcpkg/blob/master/scripts/ci.baseline.txt#L1638

[2020-08-26 10:04] Crazysiri commented on #12995
can I use a correct version ? the version in the portfile.cmake is f3f6d8a646480fcbecc433a3a81066ddc24476e1,can I change it and ./vcpkg install libuvc --editable ? and which version support this?

[2020-08-26 10:05] Crazysiri commented on #12995
I mean the correct commit id.

[2020-08-26 10:06] hyq5436 commented on #12670
i have the same similar, and i solved it by add precompiled macro _CRT_STDIO_ISO_WIDE_SPECIFIERS

[2020-08-26 10:12] NancyLi1013 commented on #13101
Hi @ASxa86
Thanks for posting this issue.

It's duplicated to #11614. Let's track this issue there.

[2020-08-26 10:12] #13101 closed

[2020-08-26 11:34] jiri-otoupal commented on #13096
Cygwin is properly installed. Even the path to compiler is.
I will not reinstall my entire windows!

[2020-08-26 11:35] jiri-otoupal commented on #13096
I have installed visual studio 2019 too
and still vcpkg cant install anything

[2020-08-26 11:42] DarkWarrior703 opened #13166 "[brotli] build failure"
**Host Environment**
- OS: Windows
- Compiler: MS VC 2019

**To Reproduce**
Steps to reproduce the behavior:
./vcpkg install sfml

**Failure logs**
CMake Error at scripts/cmake/vcpkg_fixup_pkgconfig.cmake:232 (message):
  Library "brotlicommon" was not found! If it is a system library use the
  SYSTEM_LIBRARIES parameter for the vcpkg_fixup_pkgconfig call! Otherwise,
  correct the *.pc file
Call S

[2020-08-26 12:16] jiri-otoupal commented on #13096
Currently it throws this : [DEBUG] Feature flag 'binarycaching' unset
[DEBUG] Feature flag 'manifests' unset
[DEBUG] Feature flag 'compilertracking' unset
[DEBUG] Using vcpkg-root: C:\vcpkg
[DEBUG] Using installed-root: C:\vcpkg\installed
[DEBUG] Using buildtrees-root: C:\vcpkg\buildtrees
[DEBUG] Using downloads-root: C:\vcpkg\downloads
[DEBUG] Using packages-root: C:\vcpkg\packages
[DEBUG] Using

[2020-08-26 13:19] Reveares opened #13168 "[slikenet] link failure"
**Describe the bug**
Link slikenet to a program results in a failure.

**Environment**
- OS: Windows 10
- Compiler: Visual Studio 2019

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install slikenet
2. `#include "slikenet/peer.h"`
3. build

**Expected behavior**
Successfully linkage.

**Failure logs**
[code]

[2020-08-26 13:31] ChrisNabold commented on #13156
[install-x64-windows-dbg-out.zip](https://github.com/microsoft/vcpkg/files/5130103/install-x64-windows-dbg-out.zip)

[2020-08-26 13:32] ChrisNabold commented on #13156
https://github.com/microsoft/vcpkg/files/5130103/install-x64-windows-dbg-out.zip

[2020-08-26 13:38] Neumann-A commented on #13166
Without any further debug output I would assume it is the same issue as #13105

[2020-08-26 14:18] veronicagarciavazquez opened #13169 "gRPC: vcpkg and NuGet packages"
If we create a project in Visual Studio 2019 with NuGet packages Google.Protobuf (version 3.13.0) and Grpc.Core (version 2.30.0), can we overwrite \bin\x64\Debug\netcoreapp3.1\runtimes\win\native\grpc_csharp_ext.x64.dll with grpc_csharp_ext.dll (renamed as \grpc_csharp_ext.x64.dll) generated with vcpkg (grpc 1.29.1 and protobuf 3.12.3) and the triplet x64-windows? Which versions of vcpkg (grpc and

[2020-08-26 16:00] Berrysoft commented on #13133
It works! Thanks!

[2020-08-26 16:00] #13133 closed

[2020-08-26 16:52] Oen44 opened #13170 "[libarchive] update to 3.4.3"
Library name: libarchive

New version number: 3.4.3

https://github.com/libarchive/libarchive/commit/fc6563f5130d8a7ee1fc27c0e55baef35119f26c

[2020-08-26 17:19] StarGate-One commented on #12670
@hyq5436 where did you add this macro at?

[2020-08-26 17:23] ramsan1989 commented on #9967
@LilyWangL Still I face the same error.

PS C:\vcpkg> .\vcpkg install pthreads opencv[ffmpeg] --triplet x64-windows
Computing installation plan...
The following packages will be built and installed:
  * ffmpeg[avcodec,avdevice,avfilter,avformat,avresample,core,postproc,swresample,swscale]:x64-windows
  * libjpeg-turbo[core]:x64-windows
  * liblzma[core]:x64-windows
  * libpng[core]:x64-windows
  *

[2020-08-26 17:28] sfhacker commented on #13166
@DarkWarrior703 Probably your environment is broken or 'polluted'!

![image](https://user-images.githubusercontent.com/25817529/91336356-20c59b80-e815-11ea-94eb-1673694c12d5.png)

![image](https://user-images.githubusercontent.com/25817529/91336392-29b66d00-e815-11ea-9f82-59b041e25053.png)

[2020-08-26 17:31] sfhacker commented on #13166
We have faced no issues (at all) building brotli!

![image](https://user-images.githubusercontent.com/25817529/91336644-8f0a5e00-e815-11ea-832d-2a5162c63736.png)

Pardon my ignorance, but is brotli a dependency somewhere?

[2020-08-26 17:33] DarkWarrior703 commented on #13166
I think that brotli is a dependency for sfml. When I try to install sfml, vcpkg tries to install brotli.

[2020-08-26 17:38] sfhacker commented on #13135
Are we **STILL** having problems building OpenSSL?

![image](https://user-images.githubusercontent.com/25817529/91337450-b6155f80-e816-11ea-8117-aad3dc98db4d.png)

[2020-08-26 17:47] sfhacker commented on #13166
@DarkWarrior703 When I built sfml, it didn't ask for brotli at all! I may be wrong, but ....
Can someone confirm whether or not brotli is a dependency in this case?

[2020-08-26 17:49] junho103 opened #13171 "[fmt] build failure , install spdlog failure"
**Host Environment**
- OS: [Windows 10]
- Compiler: visual studio 2015

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install spdlog`

**Failure logs**
C:\Third-party\vcpkg\vcpkg>.\vcpkg.exe install spdlog
Computing installation plan...
The following packages will be built and installed:
  * fmt[core]:x86-windows
    spdlog[core]:x86-windows
Additional packages (*) will be modified to

[2020-08-26 18:07] sfhacker commented on #13157
We must confess that we are not familiar with this project (sundials) at all!
This is the very first time we have built it.

Environment: Windows 10 x64

![image](https://user-images.githubusercontent.com/25817529/91339894-7b152b00-e81a-11ea-9539-a0362686c6ef.png)

![image](https://user-images.githubusercontent.com/25817529/91340043-b0217d80-e81a-11ea-9580-04b21a6f803f.png)

Can someone confirm we

[2020-08-26 18:09] Neumann-A commented on #13166
[code]

sfml -> freetype -> brotli

[2020-08-26 18:20] ali-reza-zareian commented on #13135
This problem is made in Windows 10 with Visual Studio 2019 .It isn't about MinGW.

[2020-08-26 18:22] sfhacker commented on #13166
It seems that brotli is an indirect dependency.
@DarkWarrior703 Can you build sfml without freetype? Just for testing purposes.

[2020-08-26 18:59] sfhacker commented on #11959
@Herobr1ne Has this issue been addressed and/or fixed?
We have just built latest stable version with no issues at all.

![image](https://user-images.githubusercontent.com/25817529/91344985-0c3bd000-e822-11ea-9abc-403687285da9.png)

[2020-08-26 19:08] sfhacker commented on #13171
We have no idea what 'fmt' is but spdlog builds just fine!

![image](https://user-images.githubusercontent.com/25817529/91345634-02669c80-e823-11ea-9bad-d9f64d59776c.png)

![image](https://user-images.githubusercontent.com/25817529/91345691-190cf380-e823-11ea-8f0b-bb412d1470fa.png)

@junho103 Next time you post an issue on GitHub, try to be more 'professional' (<port name>)

[2020-08-26 19:23] BillyONeal opened #13172 "[gmp] Visual Studio 2019 version 16.7 breaks gmp:x64-uwp"
**Host Environment**
- OS: Windows
- Compiler: N/A

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg.exe install gmp:x64_uwp`

**Failure logs**
-Cut and past the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.
[build-x64-uwp-rel-out.log](https://github.com/microsoft/vcpkg/files/5132404/build-x64-uwp-rel-out.l

[2020-08-26 19:29] DarkWarrior703 commented on #13166
I think there's a problem with CMake because brotlicommon.lib file exists. I checked the directory. How to build a library without a dependency?

[2020-08-26 19:41] Neumann-A commented on #13166
I feel like I am being ignored:

[2020-08-26 19:42] Neumann-A commented on #13166
You can tryout PR #13144 which should solve the problem

[2020-08-26 19:47] DarkWarrior703 commented on #13166
I changed the name of the directory. Thank you.

[2020-08-26 19:47] sfhacker commented on #13166
@DarkWarrior703 I may be wrong, but ... I don't think it is CMake's fault, but either your broken environment or vcpkg!
CMake works like a charm on my PC. I use it every day to build dozens of projects.

![image](https://user-images.githubusercontent.com/25817529/91349170-44dea800-e828-11ea-90df-586584996682.png)

How familiar are you with building projects from source on Windows? A newbie?
If you

[2020-08-26 19:48] DarkWarrior703 commented on #13166
I solved the problem. It was from spaces in name. If your directory is "x y", it won't work, because of spaces. "xy" will work.

[2020-08-26 20:05] Herobr1ne commented on #11959
Fixxed

[2020-08-26 20:05] #11959 closed

[2020-08-26 22:24] evgeniy-rotar opened #13173 "jsonnet: command not found, but it's available via vcpkg search jsonnet"
Environment: Windows 10, WSL 2, Ubuntu

I tried to install jsonnet package via vcpkg. So the steps:

[code]

According logs:

[code]

Trying to call jsonnet, it says:

`jsonnet: command not found`

Trying to search:

`./vcpkg search jsonnet`

Result:

[code]

Where are I'm wrong?

[2020-08-26 22:38] StarGate-One commented on #13173
vcpkg is used to maintain source packages.
vcpkg would have installed the sources, headers, libraries and in debug builds the symbols to be consumed in downstream projects requiring the functionality in port jsonnet.

[2020-08-26 22:47] StarGate-One commented on #13171
@BillyONeal please change title to `[fmt] build failure`  as the actual problem the op is with `port fmt` as it is a prerequisite to install `port spdlog`.

@junho103 please attached the log file: `C:\Third-party\vcpkg\vcpkg\buildtrees\fmt\config-x86-windows-out.log`

[2020-08-26 23:48] evgeniy-rotar commented on #13173
As soon as I installed json port (via install jsonnet), may I somehow use `jsonnet [options]` command in terminal?

[2020-08-27 01:00] sfhacker commented on #11832
@emptyVoid Have you been able to resolve this issue?

We have just given it a try and this is what we got:

![image](https://user-images.githubusercontent.com/25817529/91371421-48882400-e854-11ea-9bbc-b75bb0d49ee4.png)

We are not familiar with this project (libmagic) so we do not know how to continue!

[2020-08-27 01:28] sfhacker commented on #13173
@evgeniy-rotar As soon as you install jsonnet, you should be able to use it straight away!

![image](https://user-images.githubusercontent.com/25817529/91372940-66578800-e858-11ea-982e-988e08f68420.png)

[2020-08-27 01:34] sfhacker commented on #13171
We didn't and we don't have fmt installed. However, we could build spdlog. How could this happen? Trying to answer my own question: a bundled fmt?

[2020-08-27 01:49] junho103 commented on #13171
@StarGate-One

Attach log file: **config-x86-windows-out.log**
------------------------------------------

[1/2] cmd /c "cd ../../x86-windows-dbg && "C:/Third-party/vcpkg/vcpkg/downloads/tools/cmake-3.17.2-windows/cmake-3.17.2-win32-x86/bin/cmake.exe" "C:/Third-party/vcpkg/vcpkg/buildtrees/fmt/src/8668ca3d05-7f40cec0ee.clean" "-DFMT_CMAKE_DIR=share/fmt" "-DFMT_TEST=OFF" "-DFMT_DOC=OFF" "-DCMAKE_MA

[2020-08-27 01:59] sfhacker commented on #13171
@junho103 Are you ok?
fmt project is a small one, so it should be straight forward to build and install.

![image](https://user-images.githubusercontent.com/25817529/91374852-7fface80-e85c-11ea-9146-fe165ded6139.png)

[2020-08-27 02:16] JackBoosY commented on #12995
@Crazysiri Fine, you need to change the repo to `microsoft`, and set the REF to `f3f6d8a646480fcbecc433a3a81066ddc24476e1`.

[2020-08-27 02:24] H-angel commented on #12148
Thank you for your help. I have solved the problem。Thanks.

[2020-08-27 02:24] #12148 closed

[2020-08-27 02:27] NancyLi1013 commented on #12906
Thanks for your reply @soroush .

@Neumann-A  Would you like to help review the changes mentioned above?

Thanks.

[2020-08-27 05:01] emptyVoid commented on #11832
Neither do I, sorry. I was just trying to use this port to test `vcpkg_acquire_msys`.

[2020-08-27 06:17] LilyWangL commented on #9967
@ramsan1989 Please provide the error log:
[code]

[2020-08-27 06:20] NancyLi1013 commented on #13166
Thanks for posting this issue.
Let's wait for the PR #13126 merged to fix this issue.

[2020-08-27 07:20] lgp8z opened #13177 "[<brotli>] build failure"
**Host Environment**
- OS: Win10
- Compiler: VS 2019

**To Reproduce**
Steps to reproduce the [behavior:](url
[copy-tool-dependencies-err.log](https://github.com/microsoft/vcpkg/files/5134689/copy-tool-dependencies-err.log)
)
`./vcpkg install brotli:x64-windows`

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
    brotli[core]:x64-windows
Detecti

[2020-08-27 07:45] NancyLi1013 commented on #13177
Hi @lgp8z
Thanks for posting this issue.
[code]

Duplicated to #12849. let's track this issue there.

[2020-08-27 07:45] #13177 closed

[2020-08-27 08:03] NancyLi1013 commented on #13171
Hi @junho103
Thanks for posting this issue.
I cannot reproduce this issue on my local with both Visual Studio 2017 and Visual Studio 2015(MSVC 19.11.25603.0).

[code]

Could you please do the steps as follows?

1) Check if you have installed Windows SDKs.

2) Check where rc.exe is located and add its path to environmment variable PATH.

3) Run developer command prompt in administrator mode.

Pleas

[2020-08-27 08:19] NancyLi1013 commented on #13135
Hi @ali-reza-zareian
Thanks for posting this issue.
It seems that there is something wrong when you download https://www.nasm.us/pub/nasm/releasebuilds/2.14.02/win32/nasm-2.14.02-win32.zip.

Could you please help confirm if you have access to this archive?

[2020-08-27 08:39] LilyWangL commented on #13168
Thanks for posting this issue. After investigation, I found when defining function symbols, `slikenet` was not export these function symbols.
For example:
[code]
So these function don't support external calls, this is not a bug of VCPKG. You can ask how to use `slikenet` on the official page of `slikenet`.
https://github.com/SLikeSoft/SLikeNet
https://www.slikesoft.com/

[2020-08-27 09:20] LilyWangL commented on #13073
Thanks for posting this issue. Did you install other ports failed?

[2020-08-27 09:26] HoodyGif commented on #1435
[F-Secure Freedome VPN Crack](https://twitcrack.com/f-secure-freedome-vpn-crack/) This software does not log your traffic. Block unwanted third-party tracking and block malicious sites. At the expense of your privacy, it also prevents advertisers from making money. No one can intercept your traffic, it is encrypted no matter if you are using public Wi-Fi, it is completely insecure. After installin

[2020-08-27 09:44] Neumann-A commented on #13173
vcpkg is not a system package manager as such you need to move to the directory where that executable is placed. (If it is installed. Normally vcpkg just install the library bits and not the tools. )

[2020-08-27 10:51] sfhacker commented on #11832
@emptyVoid Who has asked you to use this library (libmagic)? What do you need it for?

[2020-08-27 10:59] sfhacker commented on #13173
@Neumann-A Whenever you type: _make install_, that installs (or copies) everything: header files, library files, documentation and tools as well.
Having read dozens of issues here, among thousands, it seems that vcpkg, more often than not, gets confused about several points (e.g. dependencies, installation, compilation, and so on).
Another symptom could be that we (users) do not know how to use vc

[2020-08-27 11:02] sfhacker commented on #13171
There seems to be a lot of issues related to environment setup. What can we do to prevent this? A wiki? or .... documentation?

[2020-08-27 11:07] BasitJaved opened #13183 "Building package darknet:x64-windows failed with: BUILD_FAILED"
**Host Environment**
- OS: Windows 10
- Compiler: VS 2019

**To Reproduce**
PS C:\Users\b84145862\Yolo\vcpkg> .\vcpkg install darknet[opencv-base,cuda,cudnn]:x64-windows
Computing installation plan...
The following packages will be built and installed:
    darknet[core,cuda,cudnn,opencv-base]:x64-windows
Detecting compiler hash for triplet x64-windows...
Starting package 1/1: darknet:x64-windows
B

[2020-08-27 11:54] sumitkang commented on #13073
I only tried it out on this port only.

[2020-08-27 11:55] sumitkang commented on #13073
@LilyWangL  I only tried it out on this port only.

[2020-08-27 13:56] emptyVoid commented on #11832
I was testing the changes I had made to `vcpkg_acquire_msys` on all the port which directly or otherwise used it. That's all.

[2020-08-27 14:58] sfhacker commented on #11832
I came to know that libmagic is obsolete and no longer maintained!
Is it wise to continue using it?
Which ports, directly or otherwise, use libmagic?

[2020-08-27 15:19] benoit-fouletier opened #13184 "[python3:x86-windows] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: VS2015 Pro Update 3, Windows SDK 10.0.10586

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install python3`

**Failure logs**
[code]
Also see the attached log file: [build-x86-windows-rel-out.log](https://github.com/microsoft/vcpkg/files/5140719/build-x86-windows-rel-out.log)

**Additional context**
I'm trying to build Alembic, which h

[2020-08-27 16:05] daemyung opened #13185 "Lua instruction is wrong"
****

**Is your feature request related to a problem? Please describe.**
After installing lua, the instruction guide is below.

[code]

However when I type this instruction I got error message from CMake.

[code]

**Proposed solution**
The instruction should be like below.

[code]

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features

[2020-08-27 17:00] emptyVoid commented on #11832
You could probably ask the author of the port request in #7895.

[2020-08-27 18:38] StarGate-One commented on #12670
1. Ok I figured it out
    - I copied the CMakeLists.txt file and added the logic to add _CRT_STDIO_ISO_WIDE_SPECIFIERS for MSVC with version greater 1899 (same as in port mathgl)
    - then modiefied the  portfile.cmake to copy this new version of the CMakeLists.txt into the src directory after the extract/patches but before cmake starts the build process.
2. My only reservation is I do not know

[2020-08-27 18:40] sfhacker commented on #11832
#7895 has been closed for some time now .
So the question is: @emptyVoid Why/What do you need libmagic project for? Which other ports? Please, be specific. You are the one who have raised this issue!

[2020-08-27 19:05] StarGate-One commented on #13184
@benoit-fouletier I may\may not be able to assist with the issue.
1. Please attached the `C:\src\vcpkg\buildtrees\python3\build-x86-windows-rel-out.log`.
2. Port alembic does not need port python3, not directly, but is needed by one of the prerequisite dependencies to install alembic.
3. Below is the dependency tree required to install alembic starting at the bottom to the top:
`->vcpkg depend-inf

[2020-08-27 19:06] aybe commented on #13123
Thank you.

[2020-08-27 19:06] #13123 closed

[2020-08-27 19:30] ali-reza-zareian commented on #13135
Yes,I have.
I have to set proxy with netsh command.(netsh winhttp import proxy source=ie)
I still have problem with vcpkg however i set HTTP_PROXY and HTTPS_PROXY in environment system settings but it is about proxy settings.
thank you for your respond.

I think its a good feature that vcpkg has an option to set proxy like cURL command.
Example:
vcpkg install \<port name\> [-x proxyserver:port]
`v

[2020-08-27 19:30] #13135 closed

[2020-08-27 19:47] emptyVoid commented on #11832
Of course #7895 got closed as soon as the request was satisfied.
And could you, please, re-read my previous posts -- I've already told you twice how I stumbled upon this build issue.

[2020-08-27 20:17] Jean-Amaro commented on #12620
Is there any update on this issue?

[2020-08-27 20:40] cenit commented on #12620
Some work is in progress, but basic components are still missing for OpenCV 4.4

[2020-08-27 20:42] Jean-Amaro commented on #12620
Thanks, Stefano.

[2020-08-27 20:50] Reveares commented on #13168
Thanks for looking into this and sorry that I haven't looked deeper in this before posting the issue. I was sure the dll build and linked correctly, but this was probably with an older version.
I also tested the triplets `x64-windows-static-md`, `x64-windows-static`, `x86-windows-static-md` and `x86-windows-static`  which works fine.
Maybe it would be advisable to deactivate the triplets `x64-wind

[2020-08-27 20:50] cenit commented on #12620
https://github.com/microsoft/vcpkg/pull/13115
https://github.com/microsoft/vcpkg/pull/12612

[2020-08-27 20:57] cenit commented on #13120
Can you please post any error log?

[2020-08-27 21:18] benoit-fouletier commented on #13184
Dammit I can't believe I forgot to attach the log file, will do tomorrow! From the log it looked like the error came from a git command, sth like `git status HEAD > something/gitbranch.txt`... weird.
In the meantime I tried building from my computer at home, it went through just fine on the first try; I have VS2017 here though, not 2015.
Thanks for the clarification on the python req. I'm new to v

[2020-08-27 21:26] BrianPeek opened #13187 "sdl2[core]:x64-linux build failure"
**Host Environment**
- OS: Linux (WSL) Ubuntu [2.0.04.1 LTS] (seems to install and work just fine on Windows and OS X)
- Compiler: N/A (doesn't get that far)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install sdl2`

**Failure logs**
[code]

**Additional context**
This started happening after updating vcpkg from git.  If I manually install "glib" via vcpkg, I then get an error on n

[2020-08-27 21:36] BillyONeal commented on #13119
@dan-shaw @vicroms and I discussed this in person today and agree that it seems we should update the CI to do 2 passes:

* 1 pass that installs all the default features (identical to today)
* 1 pass that tries to install all the features (which @JackBoosY @LilyWangL @PhoebeHui and co. have been doing manually; the CI system should do that)

We can probably use @JackBoosY 's PR above as a starting

[2020-08-27 21:46] brukted opened #13188 "qt5-base build failure"
**Host Environment**
- OS: Windows
- Compiler: msvc 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install qt5-base`

**Failure logs**
[code]
[msys-pacman-x64-windows-out.log](https://github.com/microsoft/vcpkg/files/5138933/msys-pacman-x64-windows-out.log)
[msys-pacman-x64-windows-err.log](https://github.com/microsoft/vcpkg/files/5138934/msys-pacman-x64-windows-err.log)

[2020-08-27 21:47] BillyONeal commented on #12816
I vote with Nicole that we should pick one or the other, and given that we've already effectively chosen `-`, that argues to keep `-`.

[2020-08-27 21:49] BillyONeal commented on #12636
I know #13019 isn't exactly what you asked for here but I think we should merge something like that, and then if you still think that's too slow we can have a continued discussion. Unless we are able to completely eliminate the msys dependency from all ports I don't think it would be a good idea to not have a single source of truth for these unix-y tools.

[2020-08-27 22:00] strega-nil commented on #13155
I would say probably that the existing hack is, unfortunately, the best thing to do:

[code]

this is how we solve it in control files, anyways. I know this sucks, but we haven't yet done the engineering work to fix it.

[2020-08-27 22:15] BillyONeal commented on #12862
Ping @strega-nil we didn't know why this was requires:discussion today

[2020-08-27 23:10] stekyne opened #13189 "[portaudio] build failure"
**Host Environment**
- OS: Windows 10 v2004
- Compiler: VS2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install portaudio:x64-windows`

**Failure logs**
[code]

[code]

**Additional context**
This started failing about 6-7 days ago. Has been reproduced on multiple machines since. Not really sure why it's failing. Looks like an internal ninjia error? Maybe someone better versed c

[2020-08-28 01:24] NancyLi1013 commented on #13135
Hi @ali-reza-zareian
For proxy issue, there is already an issue to track this #7200.

Thanks for your proposal.

[2020-08-28 01:36] sfhacker commented on #11959
@Herobr1ne Are you sure this has been fixed? Someone has just reported a very similar (or same) issue!!! #13189

[2020-08-28 01:37] sfhacker commented on #13189
I'm not well versed but probably Ninja is the culprit here!
I haven't had any issues building it so far.

![image](https://user-images.githubusercontent.com/25817529/91511362-d4688180-e922-11ea-84f9-e3ce695052d9.png)

[2020-08-28 02:02] NancyLi1013 commented on #13151
Hi @llduncangithub
Thanks for posting this issue.
It's duplicated to #12883. Let's track this issue there.

Thanks.

[2020-08-28 02:02] #13151 closed

[2020-08-28 02:18] PhoebeHui commented on #13119
Many issues reported for features installing problems, we have encountered the following cases:

1. Features is broken when they has been added first time.
2. Features doesn't work on spicific platform.
3. Regressions: features is broken when upgrade the port, or other fixes cause the feature failed.

[2020-08-28 02:27] ada-rose-dev opened #13191 "rttr 0.9.6-1 build failure"
**Host Environment**
- OS: Windows 10
- Compiler: VS 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install rttr --triplet x64-windows`

**Failure logs**
[code]

**Additional context**
vcpkg on my machine is up-to-date.

[2020-08-28 02:30] uiemUI opened #13192 "Can remove the content of folder "packages" after installing a specific library successfully ?"
When asking a question please also include where you looked for an answer (so we can update the documentation if needed).

[2020-08-28 02:32] FishHe commented on #13120
When I cv::cudacodec::VideoReader, it breaks with no_cuda error.
I think there may be a new feature for opencv to enable:

**CONTROL**

`
Feature: nvcuvid
Build-Depends: cuda, ffmpeg
Description: GPU acceleration for video decomposition.
`

**portfile.cmake**

`
vcpkg_check_features(OUT_FEATURE_OPTIONS FEATURE_OPTIONS
 "ade"      WITH_ADE
 "contrib"  WITH_CONTRIB
 "cuda"     WITH_CUDA
 "cuda"

[2020-08-28 02:42] JunShuoMing commented on #13122
Hi @NancyLi1013
My zmmintrin.h is at C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\VC\Tools\MSVC\14.12.25827\include\zmmintrin.h, but no this(_MM_PERM_ACBD) define.
I had searched all files in this include directory, but can't find this define also.

[2020-08-28 02:55] NancyLi1013 commented on #13189
Hi @stekyne
Thanks for posting this issue.

This is caused by Ninja. If the version is equal or greater than 1.9.0, which will trigger this issue if we use ninja to build the ports on Windows.

Currently, there are several ports that will build fail due to this reason.
For the root cause of this kind of issue, please see https://github.com/microsoft/vcpkg/pull/10964#issuecomment-656362040.

Relate

[2020-08-28 03:04] LilyWangL commented on #13168
Thanks for your reply. Since 'slikenet' is a `only_static_library`, actually when installing 'slikenet:x64-windows' or 'slikenet:x86-windows' the user will get a static library.

[2020-08-28 03:09] LilyWangL commented on #13073
Please provide the all log on powershell when you installing `brotli`.

[2020-08-28 03:16] JonLiu1993 commented on #13183
@BasitJaved ,
I installed successfully on windows10, Visual Studio Enterprise 2017, can you provide the log: C:\Users\b84145862\Yolo\vcpkg\buildtrees\darknet\install-x64-windows-dbg-out.log

[2020-08-28 03:31] BillyONeal commented on #13119
@PhoebeHui Yes, I should clarify above. The idea is to automate the same testing you folks have been so helpfully providing, but without giving up the testing the existing CI system provides. We don't want to test just the default features, or just all features, we want to test both default and all features.

In general we can't test every possible combination because there are 2^N of those possib

[2020-08-28 04:10] TA-MEI opened #13193 "[freeglut] downloaded file hash is incorrect"
PS D:\Software\vcpkg> vcpkg install freeglut
Computing installation plan...
The following packages will be built and installed:
    freeglut[core]:x64-windows
Detecting compiler hash for triplet x64-windows...
Starting package 1/1: freeglut:x64-windows
Building package freeglut[core]:x64-windows...
Could not locate cached archive: C:\Users\MEI\AppData\Local\vcpkg/archives\52\5249350501ab0f81bf3e11

[2020-08-28 05:15] #9788 closed

[2020-08-28 05:20] #13012 closed

[2020-08-28 05:28] #12883 closed

[2020-08-28 05:31] BillyONeal commented on #13171
@sfhacker vcpkg's whole reason to exist is to eliminate such issues.

[2020-08-28 05:46] JonLiu1993 commented on #13193
Hi@TA-MEI,
I installed successfully on windows10, Visual Studio Enterprise 2017, I suggest you can modify the Expected hash to Actual hash in the porfile.cmake file and then reinstall.
Expected hash: [ aced4bbcd36269ce6f4ee1982e0f9e3fffbf18c94f785d3215ac9f4809b992e166c7ada496ed6174e13d77c0f7ef3ca4c57d8a282e96cbbe6ff086339ade3b08 ]
    Actual hash: [ c7f9d4c715479421640e484b2834e0a6868844b1e4986513

[2020-08-28 05:48] JackBoosY commented on #13188
msys? please make sure your vcpkg is latest.

[2020-08-28 06:03] meastp commented on #13155
@strega-nil thanks - as long as it works, it's okay as a temporary solution, no worries :)

However, my second question was/is:

When I'm in a terminal (powershell) at `C:\Repos\myproject` which contains this `vcpkg.json` file (containing your example above): **How do I invoke it to install dependencies for a specific and/or all triplets I need?**

[2020-08-28 06:16] U-v-U commented on #11679
[code]

Apply this patch onto the curl's `portfile.cmake` could fix the error.

[2020-08-28 06:33] shubulan opened #13194 "[bzip2:x86-windows] build failure"
**Host Environment**
- OS: Windows 10 professional 1909
- Compiler:  VS 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install pcl`

**Failure logs**
Error: Building package bzip2:x86-windows failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `.\vcpkg update`, then
submit an issue at https://github.com/Microsoft/vcpkg/issues including:
  Package: bzip2

[2020-08-28 06:35] JackBoosY commented on #13194
This because our `vcpkg_fixup_pkgconfig` has bug.
For workaround, please clone vcpkg to non-space path and try again.

Thanks.

[2020-08-28 06:38] JackBoosY commented on #13193
This may be a internal error of sourceforge, please make sure your vcpkg is latest.

[2020-08-28 06:50] longnguyen2004 commented on #12636
Sure, after all MSYS2 is a complete Unix environment, while BusyBox is simply a collection of common Unix tools. The main problem for me is that MSYS2 `make` is SLOW (~30min to build openssl compared to 5-6min in WSL2), if we can find out a way to use native `make` then it'd be great.

[2020-08-28 06:58] TA-MEI commented on #13193
@JackBoosY @JonLiu1993 thank you· I have install it successfully.

I modify  modify the Expected hash to Actual hash in the porfile.cmake file and then reinstall. But,

[code]

then I delet freeglut-3.2.1.tar.gz and install hash errors showed up then I modify the Expected hash to Actual hash in the porfile.cmake file  again.

[code]

work it ,thanks everyone

[2020-08-28 06:59] #13193 closed

[2020-08-28 07:10] LilyWangL commented on #13191
Thanks for posting this issue. Please provide the error log: `C:\dev\path\vcpkg\buildtrees\rttr\install-x64-windows-dbg-out.log`

[2020-08-28 07:11] LilyWangL commented on #12743
Thanks for posting this issue. Please reopen this issue if this is still a problem for you.

[2020-08-28 07:11] #12743 closed

[2020-08-28 07:14] LilyWangL commented on #12955
Pinging @jens1433 for response.

[2020-08-28 07:14] LilyWangL commented on #13026
Pinging @rekuniversalrobot for response.

[2020-08-28 07:39] benoit-fouletier commented on #13184
Here's the log file: [build-x86-windows-rel-out.log](https://github.com/microsoft/vcpkg/files/5140719/build-x86-windows-rel-out.log) (I've also edited my original post).

[2020-08-28 07:48] abratio opened #13196 "[folly] build successfully, but CMake project report error messages"
**Host Environment**
- OS: Windows
- Compiler: Visual Studio Community 2017

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install folly:x64-windows`
[code]
CMakelists.txt:
[code]
**Failure logs**
[code]
**Additional context**
git log of my vcpkg:
 99212d675 - (HEAD -> master, origin/master, origin/HEAD) [clapack]  Ignore check of lapack:x64-osx in the baseline (#13148)

[2020-08-28 07:51] CGQAQ opened #13197 "[portaudio:x86-windows] build failure"
**Host Environment**
- OS: Windows 2004
- Compiler: MSVC 19.27.29111.0
- Vcpkg version: 2020.06.15-nohash

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install portaudio`

**Failure logs**
[code]

### C:\bin\vcpkg\buildtrees\portaudio\config-x86-windows-out.log
[code]

[2020-08-28 07:54] Wangzefeng opened #13198 "Error: Building package minizip:x64-windows failed with: BUILD_FAILEDuild failure"
**Host Environment**
- OS: Windows
- Package: minizip:x64-windows
  Vcpkg version: 2020.06.15-nohash

**To Reproduce**
vcpkg install --recurse --triplet x64-windows assimp boost-system boost-filesystem ccd eigen3 fcl

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
    assimp[core]:x64-windows
  * boost-assert[core]:x64-windows
  * boost-build[co

[2020-08-28 07:54] NancyLi1013 commented on #13122
It seems that _MM_PERM_ACBD is not defined in `C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\VC\Tools\MSVC\14.12.25827\include\zmmintrin.h`. I also checked this file on my local machine.

The definition in _C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\VC\Tools\MSVC\14.16.27023\include\zmmintrin.h_ is like this:
[code]

Could you please try to install the toolset

[2020-08-28 08:10] JonLiu1993 commented on #13198
Hi @Wangzefeng,
I installed successfully on windows10, Visual Studio Enterprise 2017, can you provide us with:
C:\Software\vcpkg-master\buildtrees\minizip\copy-tool-dependencies-err.log?

[2020-08-28 08:19] JackBoosY commented on #13197
https://github.com/microsoft/vcpkg/blob/940d1dc707f817ac6c392e054b2775c4462dd525/scripts/ci.baseline.txt#L1362

[2020-08-28 08:28] NancyLi1013 commented on #13197
Duplicated to #13189. Let's track this issue there.

[2020-08-28 08:28] #13197 closed

[2020-08-28 08:30] NancyLi1013 commented on #13194
Duplicated to #13103. Let's track this issue there.

[2020-08-28 08:30] #13194 closed

[2020-08-28 08:37] JackBoosY commented on #13196
Confirmed.

[2020-08-28 08:42] Wangzefeng commented on #13198
[copy-tool-dependencies-err.log](https://github.com/microsoft/vcpkg/files/5141012/copy-tool-dependencies-err.log)

[2020-08-28 08:43] Wangzefeng commented on #13198
@JonLiu1993

[2020-08-28 08:49] Nemirtingas opened #13199 "Error while cross-compiling zlib on Linux for Windows"
**Describe the bug**
ZLIB triies to find libz but its named zlib.lib on Windows

**Environment**
- OS: Linux cross-compiling for Windows
- Compiler: Clang + LLVM 9

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg --debug --triplet x86-windows-release install zlib:x86-windows-release
2. See error
CMake Error at scripts/cmake/vcpkg_fixup_pkgconfig.cmake:232 (message):
  Library "z" was

[2020-08-28 09:13] PhoebeHui commented on #13192
@uiemUI, yes, you can remove the packages folders after the port installed successfully.

[2020-08-28 09:36] Herobr1ne commented on #11959
"remove PREFER_NINJA in portfile.cmake and install portaudio again"

After that it worked

[2020-08-28 09:37] LilyWangL commented on #13093
@zhangdexin Thanks for posting this issue. You can refer to `asio` and `autobahn`. All of them are header-only library.

[2020-08-28 09:49] NancyLi1013 commented on #13071
@Cicas76
Please help confirm if this is the same as that in #13103.

[2020-08-28 10:06] NancyLi1013 commented on #13187
Hi @BrianPeek
Thanks for posting this issue.
I try to reproduce this on my local with WSL Ubuntu 18.04 and I can build successfully.

[code]

[2020-08-28 10:12] NancyLi1013 commented on #13187
I also checked sdl2.pc, there is no `glib `in this file. So I don't know why this posts `glib-2.0 `not found.

[2020-08-28 10:24] PhoebeHui commented on #13184
@benoit-fouletier, what's windows sdk version do you install?

The defination for 'IO_REPARSE_TAG_APPEXECLINK' in c:\Program Files (x86)\Windows Kits\10\Include\10.0.17763.0\um\winnt.h line# 13295 for me, so you need to check the if windows sdk setup correctly.

BTW, I tried to build it with vs2015 update3, everything built successfully for me.

Building package python3[core]:x86-windows... done
I

[2020-08-28 10:26] brukted commented on #13188
@JackBoosY I have just updated vcpkg.

[2020-08-28 11:18] brazhenko commented on #13113
dont know why, no problem now. thanks

[2020-08-28 11:18] #13113 closed

[2020-08-28 11:21] TheMaverickProgrammer commented on #7787
same issue. glad someone has reported it

[2020-08-28 11:28] RajatGarg1 opened #13202 "Not able to install pcl through vcpkg"
I have installed ROS on y windows machine. I am using VS 2019 and VS code.  I have tried the way it is wriiten in the support to install ros. Now when I am trying to install pcl, it is showing error. screenshot is below.

![image](https://user-images.githubusercontent.com/62656238/91556020-51e7be00-e932-11ea-9a81-a522031beb4c.png)

[2020-08-28 11:32] sandunder opened #13203 "boost update to 1.74.0"
Library name:boost

New version number:1.74.0

thanks!😊

[2020-08-28 11:33] cenit commented on #13203
Duplicate of #13033

[2020-08-28 11:34] #13203 closed

[2020-08-28 14:05] Nemirtingas commented on #12454
I've sent a PR, it ignores the rc files when cross-compiling for Windows.

[2020-08-28 14:46] BasitJaved commented on #13183
[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/5142690/install-x64-windows-dbg-out.log)

[2020-08-28 14:46] BasitJaved commented on #13183
Log file you requested

[2020-08-28 15:53] brukted commented on #13188
[https://github.com/microsoft/vcpkg/issues/11438#issuecomment-631553975](url) this workaround fixes it temporarily.

[2020-08-28 15:53] #13188 closed

[2020-08-28 17:36] BrianPeek commented on #13187
I just blew away my vcpkg directory and re-cloned from github, bootstrapped, and tried again fresh.  Still getting the same error.  :(  That said, my sdl2.pc file is showing glib (and ibus, my 2nd error):

# sdl pkg-config source file

prefix=${pcfiledir}/../..
exec_prefix=${prefix}
libdir=${exec_prefix}/lib
includedir=${prefix}/include

[code]

[2020-08-28 17:52] ScSofts opened #13208 "[ gtk:x86-windows-static] build failure"
**Host Environment**
- OS: Windows 10 19041.450
- Compiler: Visual Studio 2017 Latest

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install gtk:x86-windows-static`

**Failure logs**
[code]
**Additional context**
###### I think this is just a small cmake problem.
Please help me as soon as possble.
Thank you.

[2020-08-28 18:15] ScSofts commented on #13208
Now I found that gtkmm has the same trouble.

[2020-08-28 19:29] BrianPeek commented on #13187
Upon further research, it appears the recent addition of this to the sdl2\portfile.cmake file has broken this for me:

[code]

Commenting out this addition allows sdl2 to build/install correctly.  @Sibras, it appears you made this update, any idea why this might break for me?

Thanks for any insight!

[2020-08-28 19:47] Neumann-A commented on #13199
unset this and instead add
`set(CMAKE_SYSTEM_NAME Windows)`
into your toolchain

within vcpkg and unset VCPKG_CMAKE_SYSTEM_NAME means Windows.

[2020-08-28 22:33] uiemUI opened #13210 "How to build opencv_python when installing opencv4 package by vcpkg ?"
The content of  "config-x64-windows-out.log" is "
[1/2] cmd /c "cd .. && "C:/INclude/vcpkg/downloads/tools/cmake-3.17.2-windows/cmake-3.17.2-win32-x86/bin/cmake.exe" "C:/INclude/vcpkg/buildtrees/opencv4/src/4.3.0-0c6047baf6.clean" "-DOPENCV_CUDA_FORCE_BUILTIN_CMAKE_MODULE=ON" "-DOpenCV_INSTALL_BINARIES_PREFIX=" "-DOPENCV_BIN_INSTALL_PATH=bin" "-DOPENCV_INCLUDE_INSTALL_PATH=include" "-DOPENCV_LIB_I

[2020-08-28 22:36] sfhacker commented on #13083
@david-maus Any news/update on this open issue?

[2020-08-28 22:39] sfhacker commented on #10419
@BasixKOR Any news/update on this long standing issue?

[2020-08-28 22:39] #12960 closed

[2020-08-28 22:43] BillyONeal commented on #10187
Just confirming what I described above: the way we handle binary dependencies like this is to direct the user to install the right thing on their system:

![image](https://user-images.githubusercontent.com/1544943/91620575-2c17e480-e945-11ea-8dde-bdc101772059.png)

Are you reporting a specific bug with the boost-python port not including a similar message?

[2020-08-28 22:45] BillyONeal commented on #11834
Closing this due to more than 30 days with no response. Please feel free to open another issue (or reopen this one if possible) at such time you can point out how we can repro the problem. Thanks!

[2020-08-28 22:45] #11834 closed

[2020-08-28 22:45] BillyONeal commented on #11456
@strega-nil Did you fix this already?

[2020-08-28 22:47] #8056 closed

[2020-08-28 22:47] BillyONeal commented on #5855
Closing because I don't care anymore :)

[2020-08-28 22:47] #5855 closed

[2020-08-28 23:32] DomClark opened #13211 "[New Port Request] lilv"
Library name:
lilv

Library description:
From the project homepage:

On LV2:

Source repository URL:
https://gitlab.com/lv2/lilv

Project homepage (if different from the source repository):
https://drobilla.net/software/lilv

Anything else that is useful to know when adding (such as optional features the library may have that should be included):
This library has four dependencies, lv2, serd, sord

[2020-08-29 00:08] strega-nil commented on #11456
Nope, I should be able to fix it by end of December though.

[2020-08-29 00:22] Nemirtingas opened #13212 "How do I use the cross-compiler libraries with cmake's find_library"
Hi,
It seems I missconfigured something. I build for MacOS and Windows on a Linux box.
I can successfuly build vcpkg ports for linux -> linux, linux -> macos, linux -> windows but when building my project, it can't find the libraries but it does find the includes.

After some research, it appears thats because of the cmake variables:
[code]

If I set them explicitly to
[code]

Then cmake can find

[2020-08-29 01:35] BillyONeal commented on #11456
Ah, not pushing you to take any action here; I just was looking at issues I filed and remember that you touched all the command line parsing things and wanted to double check. Thanks!

[2020-08-29 02:07] Sibras commented on #13187
SDLs cmake script is automatically detecting additional non vcpkg libraries that you have optionally installed in your wsl instance and is linking against them. Based on your pkgconfig file these appear to be 'dbus ibus libsndio'. Since these libs are not installed by default others are not able to reproduce it and vcpkg_fixup_pkgconfig has not been made aware of them.

Looking at the cmake script

[2020-08-29 02:26] BrianPeek commented on #13187
Got it.  Uninstalling libs for dbus, ibus, and libsndio fixed everything.  That said, I'm not entirely sure how they got there.  I truly appreciate the help and explanation of the issue, I learned something new.

Thank you!

[2020-08-29 02:26] #13187 closed

[2020-08-29 09:49] ianmanifacier opened #13214 "[OGRE3D] Update to the v2.2.3"
Hi,
OGRE3D v2.2.3 has been released since july 5 2020, a vcpkg search shows that the one available dates back from 2019-10-20
Best,

[2020-08-29 10:12] cpp-niel opened #13215 "[New Port Request] mfl"
Library name: mfl

Library description: A C++ library which computes the layout information for mathematical formulas provided in TeX-like syntax.

Source repository URL: https://github.com/cpp-niel/mfl

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

The library

[2020-08-29 11:17] MicSm opened #13216 "[<assimp>] build failure"
**Host Environment**
- OS: Windows 7 x64
- Compiler: VS 2017

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install assimp

**Failure logs**
-- Using cached D:/Program Files/vcpkg/downloads/zlib1211.tar.gz
-- Cleaning sources at D:/Program Files/vcpkg/buildtrees/zlib/src/1.2.11-63309e48e5.clean. Use --editable to skip cleaning for the packages you specify.
-- Extracting source D:/Prog

[2020-08-29 11:46] Krzmbrzl opened #13217 "Downloads from https://repo.msys2.org/ fail with "SSL connect error""
**Describe the bug**
It seems that many (all) downloads from `https://repo.msys2.org/` fail with `Status: 35;"SSL connect error"`

**Environment**
- OS: Windows 7
- Compiler: VS2019
- vcpkg version `2020.06.15-nohash`

**To Reproduce**
Steps to reproduce the behavior:
1. `./vcpkg install xxxx`

Where `xxx` can be one of
- brotli:x64-windows-static-md
- icu:x64-windows-static-md
and actually a few

[2020-08-29 12:14] Nemirtingas commented on #13212
I found the solution, I also need to set the VCPKG_CHAINLOAD: -DVCPKG_CHAINLOAD_TOOLCHAIN_FILE=/clang_windows_sdk/clang-cl-msvc.cmake.
Stil got issues with cross-compiling curl. Cross-compiling with vcpkg is a bit troublesome.

[2020-08-29 12:14] #13212 closed

[2020-08-29 13:03] nitish166 commented on #10824
PS C:\Users\TEMP\Downloads\vcpkg-master\vcpkg-master\toolsrc\windows-bootstrap\vcpkg> bootstrap-vcpkg.bat
bootstrap-vcpkg.bat : The term 'bootstrap-vcpkg.bat' is not recognized as the name of a cmdlet, function, script file, or operable program.
Check the spelling of the name, or if a path was included, verify that the path is correct and try again.
At line:1 char:1
+ bootstrap-vcpkg.bat
+ ~~~~~~~

[2020-08-29 13:04] nitish166 commented on #10824
Please check the above error and get back to me. Thank you!

[2020-08-29 13:11] nitish166 opened #13219 "I want to execute c++ program in Visual studio code!"
Hi there,

I want to execute c++ program in visual studio code. so I wrote the below code in vsc editor.

#include <bits/stdc++.h>
using namespace std;
int main()
{
  return 0;
}

**Error saying that :** <#include errors detected. Please update your includePath. Squiggles are disabled for this translation unit (C:\Users\TEMP\Desktop\hello.cpp)>

then i followed the following step for resolution:
_

[2020-08-29 13:18] linquize commented on #13219
`.\bootstrap-vcpkg.bat`
because you were in **powershell**, not **cmd**.

[2020-08-29 13:22] nitish166 commented on #13219
**Again error is coming** : C:\Users\TEMP\Downloads\vcpkg-master\vcpkg-master\toolsrc\windows-bootstrap\vcpkg>.\bootstrap-vcpkg.bat
'.\bootstrap-vcpkg.bat' is not recognized as an internal or external command,
operable program or batch file.

this time i executed the command in cmd :(

[2020-08-29 13:29] Reveares commented on #13219
You were in the folder `C:\Users\TEMP\Downloads\vcpkg-master\vcpkg-master\toolsrc\windows-bootstrap\vcpkg`,
instead you need to execute `.\bootstrap-vcpkg.bat` in `C:\Users\TEMP\Downloads\vcpkg-master\vcpkg-master`.

Also it is not advisable to `#include <bits/stdc++.h>`, see [here](https://stackoverflow.com/questions/25337300/include-bits-stdc-h-with-visual-studio-does-not-compile) why.

[2020-08-29 13:36] brukted opened #13220 "[qt5-base] build failure"
**Host Environment**
- OS: Windows
- Compiler: msvc 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install qt5-base --triplet x64-windows`

**Failure logs**
-- Figuring out qt target mkspec. Target arch x64
-- Target mkspec set to: win32-msvc
-- Host mkspec not set. Qt's own buildsystem will try to figure out the host system
-- Using cached F:/vcpkg/downloads/qtbase-everywhere-sr

[2020-08-29 13:42] nitish166 commented on #13219
Hi @Reveares thanks for your input! but still I'm facing issue. please find the below details.

**C++ Code:**
#include <iostream>
using namespace std;
int main()
{
  return 0;
}

CMD Error :  C:\Users\TEMP\Downloads\vcpkg-master\vcpkg-master>.\bootstrap-vcpkg.bat
& : File C:\Users\TEMP\Downloads\vcpkg-master\vcpkg-master\scripts\bootstrap.ps1 cannot be loaded. The file
C:\Users\TEMP\Downloads\vcpk

[2020-08-29 13:46] nitish166 commented on #13219
I have mentioned #include <iostream> in the above code. but it is not showing.

[2020-08-29 14:12] linquize commented on #13219
Are you using a user in Administrators group?
Are you using Windows 10?

[2020-08-29 14:27] nitish166 commented on #13219
No, I'm using the Administrators group which is by default I believe. and yes I'm using windows 10.

[2020-08-29 14:34] sfhacker commented on #13219
@nitish166 As far as I know, Visual Studio Code is just an editor, isn't it?
I have just compiled and run your code snippet without issues.

![image](https://user-images.githubusercontent.com/25817529/91639223-70e07000-ea58-11ea-983d-ec588666b3a2.png)

Let us know if you need further assistance.

[2020-08-29 14:46] nitish166 commented on #13219
Hi @sfhacker you're totally correct visual studio code is just an editor. I'm attaching the screen-shot please have a look.
![C++_Error](https://user-images.githubusercontent.com/22726452/91639433-1e8d5800-ea34-11ea-847a-af1d42877dc9.PNG)

FYI - I have installed c/c++ extension in visual studio code for executing the code as mentioned in the snipped.

[2020-08-29 14:57] sfhacker commented on #13219
There must be some path issues in/with your environment!
Can you try compiling via the command line first? If that works, then do the same from within VS Code.

![image](https://user-images.githubusercontent.com/25817529/91639674-9de25200-ea5b-11ea-82ad-82c049d77b13.png)

![image](https://user-images.githubusercontent.com/25817529/91639676-a20e6f80-ea5b-11ea-9b73-8530006febba.png)

[2020-08-29 17:01] Neumann-A commented on #13220
Error:
`BROTLI_ENC_DEBUG-NOTFOUND BROTLI_DEC_DEBUG-NOTFOUND BROTLI_COMMON_RELEASE-NOTFOUND`

please upgrade freetype by
[code]

[2020-08-29 17:21] ada-rose-dev commented on #13191
Thanks for the heads up! Log is attached.
[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/5145661/install-x64-windows-dbg-out.log)
[install-x86-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/5145662/install-x86-windows-dbg-out.log)

[2020-08-29 18:18] StarGate-One commented on #13208
1. Community triplets are not guaranteed to work with all ports
2. gtkmm fails because it has a dependency of gtk, so it will have all the same prerequisite dependencies (and most likely more) as gtk.
3. glib is the failing because it can only be compiled dynamically and you have specified a static compile.
4. Try building with either x86-windows (dynamic), x64-windows (dynamic) otherwise you will

[2020-08-29 18:24] StarGate-One commented on #13202
Warning: Different source is available for vcpkg (2020.6.15 -> 2020.2.4). **Use .\bootstrap-vcpkg.bat to update.**

The vcpkg.exe is out of date with the ports being installed.

Follow the boldface instructions and try to install pcl again.

[2020-08-29 18:33] StarGate-One commented on #13217
@Krzmbrzl have you tried again? I was able to successfully install brotli and icu without any SSL errors downloading the mingw or msys2 files. It is possible the servers were down for maintenance at the time. The servers seem to be sporatic on Saturdays/Sundays at any given time.
Attached logfile showing (18:00 GMT - 14:00 EDT):
[icu-brotli-test-clean-install.log](https://github.com/microsoft/vcpk

[2020-08-29 18:47] StarGate-One commented on #13219
@nitish166 - even though you have install Visual Studio Code, you still need a C/C++ compiler. Have you installed a compiler and developer kit for your system?

For Windows:
 - vcpkg needs Visual Studio 2015.3 or later, Windows SDK 8.1 or later and the English Language Pack to compile/link programs all within Visual Studio (the community edition is free https://visualstudio.microsoft.com/downloads

[2020-08-29 19:09] Krzmbrzl commented on #13217
@StarGate-One i just tried (installing icu) again but got the same error.

Note also that I was able to download the respective files via my browser so a server outage can't really be the origin of my problem, can it? :thinking:

[2020-08-29 21:14] StarGate-One commented on #13217
If you are able to download the files with your browser, but not with vcpkg, and you have deleted and cloned vcpkg package again with the same results, it could be some other software on the computer preventing the download with vcpkg?
Are you behind a corporate network, maybe there is firewall configuration issue, maybe a antivirus issue, a proxy server configuration preventing access to the inte

[2020-08-29 22:12] nazame opened #13223 "[gdal] static build not fully static - it still requires shared proj library"
When building gdal as a static library, it is not quite static. Applications will still need the shared proj library (proj.dll)

This should be be fixable by adding "PROJ_FLAGS=-DPROJ_STATIC -DPROJ_VERSION=5" to NMAKE_OPTIONS in the port file.

[2020-08-29 22:15] StarGate-One opened #13224 "[bzip2] Update to 1.0.8. #13178 - missing SHA512 hash check"
**Describe the bug**
bzip2 - latest update to 1.0.8 #13178 is missing the SHA512 hash check

**Environment**
- OS: [N/A]
- Compiler: N/A

**To Reproduce**
Steps to reproduce the behavior: N/A

**Expected behavior**
When file is downloaded it should have a SHA512 hash check before vcpkg begins processing to ensure the security and integrity of the file.

**Failure logs**
N/A

**Additional context**

[2020-08-29 23:05] endrift opened #13227 "[ffmpeg] libwebp support"
****

**Is your feature request related to a problem? Please describe.**
FFmpeg has WebP support when linked against libwebp, which is a separate port that vcpkg already ships.

**Proposed solution**
Add an ffmpeg[webp] option.

**Describe alternatives you've considered**
N/A

**Additional context**
Should be pretty simple to add, but I'm not sure if it should be a one-off PR or part of another "l

[2020-08-30 00:21] brukted commented on #13220
@Neumann-A Thanks!

[2020-08-30 00:21] #13220 closed

[2020-08-30 06:04] ChrisMGeo opened #13230 "I need to remake the project everytime I add vcpkg packages"
**Describe the bug**
Sorry if this seems to be an easy question, or if I'm not able to explain it correctly. I'm trying to integrate vcpkg to my VS2019 project, all I do is the following before creating a project.
[code]
The above works for my project, but when I want to add new libraries I need to remake the project and make sure to `integrate install` before creating it.

**Environment**
- OS: W

[2020-08-30 07:00] Krzmbrzl commented on #13217
I don't have any crazy firewall settings or other stuff that normally prevents downloads... What also speaks against this theory is that vcpkg was able to download from other sites just fine :thinking:

I'll have to check but normally none of this should be an issue in my casce

Good idea :+1:

And I am very grateful that you do! :)

[2020-08-30 09:29] traversaro commented on #10119
If I understand correctly, this issue should be fixed by https://github.com/microsoft/vcpkg/pull/13231 .

[2020-08-30 10:15] linquize commented on #13230
You only need to run `vcpkg integrate install` once only.
You do not need to run `vcpkg integrate install` after every `vcpkg install`.

[2020-08-30 15:12] matteoturini opened #13234 "[CMake] target nof found (SDL2)"
**Describe the bug**
SDL2 target was not found.

**Environment**
- OS: Ubuntu 20.04.1 LTS
- Compiler: CMake 3.16.3/Ninja

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install sdl2
2. git clone https://github.com/matteoturini/HackNSlash.git
3. cd HackNSlash
4. Use the CMake GUI to configure and generate builds
5. See the error

**Expected behavior**
No errors, and a proper compilati

[2020-08-30 15:13] matteoturini commented on #13234
CMakeLists.txt
[code]

[2020-08-30 15:13] matteoturini commented on #13234
CMakeCache.txt
[code]

[2020-08-30 16:05] ustchqf opened #13235 "[gtest] build failure"
**Host Environment**
- OS: [centos]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
./vcpkg install gtest

**Failure logs**
[code]

I have used the command "./vcpkg update"
The information about install-x64-linux-dbg-out.log is available.
[code]
So how can i slove the problem?

[2020-08-30 16:31] StarGate-One commented on #13234
At the bottom of vcpkg documentation for UNIX aka (Linux/osx): https://github.com/microsoft/vcpkg#quick-start-unix

[2020-08-30 16:37] StarGate-One commented on #13235
Reference vcpkg quick start for UNIX (aka Linux/osx): https://github.com/microsoft/vcpkg#quick-start-unix

From /home/qifeng/apps/Git/vcpkg/buildtrees/gtest/install-x64-linux-dbg-out.log:
`-- The C compiler identification is GNU 4.4.7`
`-- The CXX compiler identification is GNU 4.4.7`

[2020-08-30 17:03] nitish166 commented on #13219
Thank you all for your effort!

[2020-08-30 17:03] #13219 closed

[2020-08-30 17:23] 48d90782 opened #13236 "[sdl2[core]:x64-linux] build failure"
**Host Environment**
- OS: openSUSE, Ubuntu 20.04.1
- Compiler: gcc (SUSE Linux) 10.2.1 20200805, clang version 10.0.1
- Compiler: gcc (Ubuntu 9.3.0-10ubuntu2) 9.3.0, clang version 10.0.0-4ubuntu1

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install sdl2`

**Failure logs**
[code]
But dbus-1 installed:
[code]

[2020-08-30 18:18] ChrisMGeo commented on #13230
@linquize yes I do understand that now, and I should have made my question more clear, but my problem is that VS2019 doesn't recognize any additional libraries I added after creating the project unless I remake the project (forget the `integrate install` thing, you are right about that).

[2020-08-30 18:37] matteoturini commented on #13234
Still the same error.

[2020-08-30 19:05] Hoikas commented on #13216
This is caused by a bug in vcpkg with paths containing spaces - fixed by #13126. In the meantime, you can work around it by cloning vcpkg to a path without a space, eg `C:\vcpkg`.

[2020-08-30 19:30] brukted opened #13239 "[vcpkg upgrade] How do I upgrade packages of specific triplet ?"
I want  to upgrade packages I installed for a specific triplet (x64-windows). So far I have tried `` vcpkg upgrade --triplet x64-windows `` but It is the same as ``vcpkg upgrade`` .

[2020-08-30 20:30] HLXEasy commented on #8199
Any news on this? Tried to update Boost to 1.73 but this build issue is still the same. :-(

[2020-08-30 21:01] StarGate-One commented on #13234
I am no CMake expert, so I was going to see if I could figure out how what is happening , but the git repository in step 2 above is empty.

[2020-08-30 23:29] Haeri commented on #8045
*Bump*
Would be super cool to get at least linux or macos working. Unfortunately I can't even do a local workaround cause it aborts during the installation due to unsupported paltform

[2020-08-30 23:46] StarGate-One opened #13241 "[geotrans] update to 3.8"
Library name: geotrans

New version number: 3.8

Other information that may be useful (release notes, etc...)

- New homepage location: https://earth-info.nga.mil/GandG/update/index.php?action=home

- Release Notes: ftp://ftp.nga.mil/pub2/gandg/website/wgs84/apps/geotrans/current-version/docs/MSP_Geotrans_Release_Notes%203.8.pdf

- Documentation: ftp://ftp.nga.mil/pub2/gandg/website/wgs84/apps/geo

[2020-08-31 01:08] dmillard opened #13244 "[New Port Request] pagmo2"
Library name: pagmo2

Library description: A C++ platform to perform parallel computations of optimisation tasks (global and local) via the asynchronous generalized island model.

Source repository URL: https://github.com/esa/pagmo2

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that sho

[2020-08-31 01:57] zhaoliangcn opened #13245 "[nettle] build failure"
**Host Environment**
- OS: [windows10 2004]
- Compiler: visual studio 2017

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install nettle`

**Failure logs**
用于 .NET Framework 的 Microsoft (R) 生成引擎版本 15.9.21+g9802d43bc3
版权所有(C) Microsoft Corporation。保留所有权利。

生成启动时间为 2020/8/31 9:50:25。
     1>项目“E:\vcpkg\buildtrees\nettle\x86-windows-rel\eb52c3da41-e03f56976f.clean\SMP\libnettle.sln”在节点 1

[2020-08-31 01:59] NancyLi1013 commented on #12116
@ollp
why do you close this issue? I'm so sorry for the long delay. Since there is something wrong my local environment, which blocks me to verify this. I will try it again.

[2020-08-31 02:15] LilyWangL commented on #13026
Thanks for posting this issue. This issue has been fixed. So I am closing this issue for now.

[2020-08-31 02:15] #13026 closed

[2020-08-31 02:26] JackBoosY commented on #372
Added,

[2020-08-31 02:26] #372 closed

[2020-08-31 02:51] JackBoosY commented on #13217
All we can do is what @StarGate-One said.

[2020-08-31 02:56] JackBoosY commented on #13236
@Neumann-A Could you please take a look?

Thanks.

[2020-08-31 05:50] whidbey opened #13246 "vcpkg install protobuf failed at newsest version"
**Describe the bug**
simple runnin vcpkg install protobuf ,failed at Resource name: Arg_AccessViolationException

**Environment**
- OS: windows 7; [windows 10 also ,but ok when I installed vs2017 english pack ,and vs2019 english pack]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
1. git pull
2. bootstrap-vcpkg.bat
3. clean c:/vcpkg/downloads/
4. ./vcpkg install protobuf
5

[2020-08-31 06:24] whidbey commented on #13246
I used 2020.06 version Of vcpkg.
warning with ccessViolationException but can continue succeed.
here is my log

c:\vcpkg-2020.06>.\vcpkg install protobuf
Computing installation plan...
The following packages will be built and installed:
    protobuf[core]:x86-windows
Starting package 1/1: protobuf:x86-windows
Building package protobuf[core]:x86-windows...
A suitable version of git was not found (r

[2020-08-31 06:46] lazka commented on #13217
We don't support TLS <=1.1 on repo.msys2.org. Maybe that's the cause?

[2020-08-31 07:00] JackBoosY commented on #13246
Duplicate with issue #12849.

[2020-08-31 07:00] #13246 closed

[2020-08-31 07:05] cenit commented on #13239
Unfortunately you have to specify ports one by one, each one with its own triplet next to it, on the command line
If you want to contribute a better experience, I think that many people would be very happy :)

`./vcpkg upgrade bzip2:x64-windows libzip:x64-windows` ...

[2020-08-31 07:06] LilyWangL commented on #13208
The related issue: #3409

[2020-08-31 07:12] JackBoosY commented on #13245
Duplicate with #12240.

[2020-08-31 07:12] #13245 closed

[2020-08-31 07:39] Krzmbrzl commented on #13217
How would I check that?

[2020-08-31 07:40] Neumann-A commented on #13236
@JackBoosY: Seems like SDL has a dependency on dbus somewhere so that must be declared as a system libraries in `vcpkg_fixup_pkgconfig` for now

[2020-08-31 07:47] PhoebeHui commented on #13105
Duplicated to https://github.com/microsoft/vcpkg/issues/12709

[2020-08-31 07:47] #13105 closed

[2020-08-31 07:50] blackknifes opened #13247 "[New Port Request] <quickjs>"
Library name: quickjs

Library description: QuickJS is a small and embeddable Javascript engine. It supports the ES2020 specification including modules, asynchronous generators, proxies and BigInt.

Source repository URL:
https://github.com/horhof/quickjs.git (unoffical, official suggested)
https://github.com/mengmo/QuickJS-Windows-Build.git (unoffical mirror of support msvc compiler.)

Project ho

[2020-08-31 07:52] whidbey commented on #12849
hello, how resolve it finally? I am confused...

[2020-08-31 07:58] blackknifes commented on #12879
It's source code use gcc expanded feature.So it cannot be build by msvc, but could be build by clang-cl.
Need edit some code before build it on Windows (The code include some linux header and call some posix function, example unistd header file and gettimeofday function).

[2020-08-31 08:07] JackBoosY commented on #12849
@whidbey We are trying to reproduce this issue now.

[2020-08-31 08:09] mkckr0 opened #13248 "[boost-process:x64-windows] build failure"
**Host Environment**
- OS: Windows
- Compiler: Visual Studio 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install boost-process:x64-windows`

**Failure logs**
C:\dev\vcpkg\installed\x64-windows\include\boost\process\pipe.hpp(280): warning C4244: “参数”: 从“ptrdiff_t”转换到“int”，可能丢失数据
  C:\dev\vcpkg\installed\x64-windows\include\boost/process/pipe.hpp(261): note: 在编译 类 模板 成员函数“bool b

[2020-08-31 08:17] lgp8z commented on #8199
I can't install protobuf at all when this issue exists. What can i do next?

[2020-08-31 08:18] #13247 closed

[2020-08-31 08:26] dhalucario commented on #8199
So far the problem fix was always to TEMPORARILY disable your anti-virus. I know it's not a permanent solution but that's the only solution we have so far I guess.

[2020-08-31 08:28] PhoebeHui commented on #13230
@ChrisMGeo, could you give us more information? like repro steps and repro code.

I can't repro this issue locally with testing sqlite3.

[2020-08-31 08:31] NancyLi1013 commented on #13234
Hi @matteoturini
Thanks for posting this issue.
The CMakeLists.txt should be like this:

[code]
Could you please try to build your project again?

BTW, I try to get HackNSlash via `git clone https://github.com/matteoturini/HackNSlash.git`, the repository is empty too.

[2020-08-31 08:33] HLXEasy commented on #8199
Indeed, that's working as a quick fix. Thx!

[2020-08-31 08:36] NancyLi1013 commented on #13202
Hi @RajatGarg1
Thanks for posting this issue.
Please do as @StarGate-One suggested above. Run `\bootstrap-vcpkg.bat ` first, then try to rebuild.

[2020-08-31 08:37] Krzmbrzl commented on #13217
I just tried with my firewall and my antivirus disabled but the result stayed the same.
I also tried disabling TLS .1.0 and 1.1 following the instructions at http://www.sunlync.com/kb/index.php?View=entry&EntryID=623 but still no change.

Furthermore I tried with this minimal example:
[code]

and the error is the same in this minimal example.
I also tried the same snippet on my Linux machine (KDE

[2020-08-31 08:44] petersteneteg opened #13249 "[freetype] static link failure"
freetype depends on [brotli] but when building statically it only links link with brotlidec-static.lib and not the brotlicommon-static.lib leading to link errors.

[code]

The freetype FindBrotliDec file needs to be patched to handle this

[2020-08-31 08:46] Krzmbrzl commented on #13217
Okay interesting Detail: Trying to access https://msys2.org using Internet Explorer fails as well (it can only access the http page)

[2020-08-31 09:11] JackBoosY commented on #13217
@Krzmbrzl I can access that url on my machine.

[2020-08-31 09:11] Krzmbrzl commented on #13217
I think I know what the problem is: https://repo.msys2.org is using TLS1.3 but my Windows doesn't seem to support TLS > 1.2. After some research I don't think that Windows 7 supports TLS 1.3 at all and I assume Firefox can access the webpage due to custom/internal TLS 1.3 support.

As a workaround I replaced all occurrences of https://repo.msys2.org with http://repo.msys2.org in the vcpkg director

[2020-08-31 09:11] #13217 closed

[2020-08-31 09:17] Krzmbrzl commented on #13217
@JackBoosY do you think there's an easy way of detecting whether the connection failed due to an unsupported TLS version? If so it might be worth it to explicitly check for that and if this is the case vcpkg could provide an error message stating exactly what the problem is. That'd probably be clearer than "SSL connect error" :point_up:

[2020-08-31 09:19] petersteneteg opened #13253 "[assimp] static link failure"
The current port file applies a bunch of replacements to the assimp-config.cmake, problem is that assimp-config.cmake only has a include “include(${CMAKE_CURRENT_LIST_DIR}/assimpTargets.cmake)” hence the fixes does nothing

seems the port file was broken by this commit
https://github.com/microsoft/vcpkg/commit/94b7f9a6a8c527d7dbdb3b78a46f0874b79712a4#diff-d78ed4342bc7afa31f0e0d467408e094

in assim

[2020-08-31 09:22] PhoebeHui commented on #13248
@mkckr0, could you update

From
find_path(BOOST_PROCESS_INCLUDE_DIRS "boost/process.hpp")
target_include_directories(main PRIVATE ${BOOST_PROCESS_INCLUDE_DIRS})

To
find_package(Boost REQUIRED COMPONENTS filesystem)
target_link_libraries(main PRIVATE ${Boost_LIBRARIES})
target_include_directories(main PRIVATE ${Boost_INCLUDE_DIRS})

boost-process is header-only, it depends on filesytem, the usage

[2020-08-31 09:25] whidbey commented on #12849
ok,thanks. i will temply use vckpg of 202006 's version

[2020-08-31 09:29] JackBoosY commented on #13217
@Krzmbrzl Yes, I think I can do that.

[2020-08-31 09:47] Krzmbrzl commented on #13217
That'd be great, thank you! :)

[2020-08-31 10:02] PhoebeHui commented on #12709
Test with PR #13144, it works.

[2020-08-31 10:21] penumbra23 commented on #10231
Any progress on this? I'm getting the following error:

[code]

After inspecting the logs:
[code]

[2020-08-31 10:30] ollp commented on #12116
I reopen it for you, sorry but I am not using it any more. so when you are ready pls close it

[2020-08-31 10:42] RajatGarg1 commented on #13202
I tried this. First ran .\bootstrap-vcpkg.bat then build vcpkg.exe
Stilll such error is occuring

[2020-08-31 10:53] sfhacker commented on #12849
@whidbey We are also confused! Can you post here the issues you are facing at the moment so we can assist you?

[2020-08-31 12:29] mkckr0 commented on #13248
Thanks a lot. My problem has been resolved.

[2020-08-31 14:50] BasitJaved commented on #13183
kindly find the log file above... I tried with Visual Studio Enterprise 2017 still same issue

[2020-08-31 14:53] RameshKandukuriB opened #13256 "[hiredis] update to 1.0.0"
Library name: hiredis

New version number: 1.0.0

Other information that may be useful (release notes, etc...)
https://github.com/redis/hiredis/blob/v1.0.0/CHANGELOG.md

[2020-08-31 15:12] whidbey commented on #12849
on my win10, vcpkg install protobuf or protobuf:x64-windows-static ok
                      vcpkg install protobuf:x86-windows-static failed
on my win7,  vcpkg install any triplet failed;

Make Error at scripts/cmake/vcpkg_execute_required_process.cmake:83 (message):
    Command failed: C:/vcpkg/downloads/tools/powershell-core-6.2.1-windows/powershell.exe -noprofile -executionpolicy Bypass -nologo

[2020-08-31 15:51] fuomag9 opened #13259 "[openssl] build failure"
**Host Environment**
- OS: win10

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg install openssl:x86-windows`

**Failure logs**
[code]

[code]

[2020-08-31 16:08] evgeniy-rotar commented on #13173
Thanks everyone for replies and clarifications

[2020-08-31 16:08] #13173 closed

[2020-08-31 16:26] #13223 closed

[2020-08-31 16:35] 48d90782 opened #13261 "[python3:x64-linux] build failure"
**Host Environment**
- OS: `openSUSE Tumbleweed`
- Compiler: `gcc (SUSE Linux) 10.2.1 20200805 [revision dda1e9d08434def88ed86557d08b23251332c5aa]`

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install python3`

**Failure logs**
[code]

[2020-08-31 16:37] 48d90782 commented on #13261
Also, `boost[core]:x64-linux` cannot be build because of this issue.

[2020-08-31 16:45] sfhacker commented on #13259
Are we **STILL** having issues building OpenSSL?

[2020-08-31 17:52] strega-nil commented on #12862
@BillyONeal because we need to talk about versioning. This is less a "requires:discussion" and more of a "requires:deep-technical-discussion" haha

[2020-08-31 18:22] sfhacker commented on #13173
@evgeniy-rotar Can you post here how you fixed your issue? Cheers.

[2020-08-31 18:51] StarGate-One commented on #13202
@RajatGarg1 you many need to create a new vcpkg instance and try again.

[2020-08-31 19:23] StarGate-One commented on #13259
To use vcpkg on windows, you need Visual Studio with the Desktop development with C++ workload, Windows SDK 8.1 or later and the English language pack installed.

I believe `rc` is part of the Windows SDK.

[2020-08-31 22:01] PanScout opened #13262 "[gmp] x64-mingw-static build failure"
**Host Environment**
- OS: Windows 10
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install gmp:x64-mingw-static`

**Failure logs**
CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:83 (message):
    Command failed: msbuild C:/tools/vcpkg/buildtrees/gmp/x64-mingw-static-rel/adcc6b3cc4-2b6258d695.clean/SMP/libgmp.sln /p:Configuration=Release /p:Use

[2020-08-31 23:01] BillyONeal commented on #12862
OK, I'm dropping the tag (since that's the 'discuss in the Thursday meeting' tag) and assigning to Victor since it's his area. @vicroms we'll be looking on you to "drive" here.

[2020-09-01 00:11] #13170 closed

[2020-09-01 00:12] #13054 closed

[2020-09-01 00:57] #12159 closed

[2020-09-01 01:43] NancyLi1013 commented on #12116
Thanks for your reply. We can close it when this issue is solved.

[2020-09-01 01:52] JackBoosY commented on #12849
@whidbey Revert to the older version doesn't fix this issue, it will just ignore this error.

[2020-09-01 02:15] JackBoosY commented on #13261
I met a few related issues on opensuse. But sadly, I can't repro it on my ubuntu machine.

[2020-09-01 02:48] JackBoosY commented on #12849
Hi @whidbey @sfhacker Can you run the command mentioned in the error message and provide me with output?
Such as:
[code]

[2020-09-01 03:38] blackknifes opened #13265 "What to validate when post build validation?"
When asking a question please also include where you looked for an answer (so we can update the documentation if needed).
I try to build sqlite3 with VC-LTL, it throw a error:
![image](https://user-images.githubusercontent.com/9638801/91792109-57e9e180-ec47-11ea-9d0c-7ed3a45eb6b7.png)

[2020-09-01 04:32] whidbey commented on #12849
C:/vcpkg/downloads/tools/powershell-core-6.2.1-windows/powershell.exe -noprofile -executionpolicy Bypass -nologo -file C:/vcpkg/scripts/buildsystems/msbuild/applocal.ps1 -targetBinary C:/vcpkg/packages/protobuf_x86-windows-static/tools/protobuf/protoc.exe -installedDir C:/vcpkg/packages/protobuf_x86-windows-static/bin

runs ok ,and no logs.

before that, I copyed my c:/vcpkg-202006/installed/.....

[2020-09-01 04:36] whidbey commented on #12849
I rename package to protobuf_x64-windows-static to  protobuf_x64-windows-static______________
and remove protobuf from c:/vcpkg.
and run again

C:\Users\Administrator>C:/vcpkg/downloads/tools/powershell-core-6.2.1-windows/po
wershell.exe -noprofile -executionpolicy Bypass -nologo -file C:/vcpkg/scripts/b
uildsystems/msbuild/applocal.ps1 -targetBinary C:/vcpkg/packages/protobuf_x86-wi
ndows-static/

[2020-09-01 04:56] whidbey commented on #12849
then I run vcpkg install protobuf again:
thows crazy  erros :

CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:83 (message):
    Command failed: C:/vcpkg/downloads/tools/powershell-core-6.2.1-windows/power
shell.exe -noprofile -executionpolicy Bypass -nologo -file C:/vcpkg/scripts/buil
dsystems/msbuild/applocal.ps1 -targetBinary C:/vcpkg/packages/protobuf_x86-windo
ws/tools/proto

[2020-09-01 05:41] JackBoosY commented on #12849
Hi guys, can you test #13267 ?

Thanks.

[2020-09-01 05:59] Jimmy-Hu opened #13268 "[atkmm:x64-windows] build failure"
**Host Environment**
- OS: Windows 10 Version 2004
- Compiler: Microsoft Visual Studio 2019 Version 16.7.2

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install atkmm:x64-windows`

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
    atkmm[core]:x64-windows
Detecting compiler hash for triplet x64-windows...
Starting package 1/1: atkm

[2020-09-01 06:01] whidbey commented on #12849
trying clone your forks.. will show the result later

[2020-09-01 06:14] whidbey commented on #12849
c:\vcpkg_jackboosy\vcpkg>.\vcpkg install protobuf
Computing installation plan...
A suitable version of cmake was not found (required v3.17.2). Downloading portab
le cmake v3.17.2...
Extracting cmake...
A suitable version of 7zip was not found (required v18.1.0). Downloading portabl
e 7zip v18.1.0...
Extracting 7zip...
A suitable version of nuget was not found (required v5.5.1). Downloading portabl

[2020-09-01 06:18] Krzmbrzl opened #13269 "Does vcpkg store its installation path?"
I installed vcpkg in a directory on my C drive (I'm on Windows) but it turned out that I hadn't enough space left so after vcpkg had crashed on me, I moved the directory to my D drive and resumed the installation.

In my project that points to the vcpkg toolchains cmake file on the D drive, cmake now always references the directory on the C drive for the brotli library and as that directory no lon

[2020-09-01 06:19] JackBoosY commented on #12849
@whidbey can you try again? It seems that the nuget download is incomplete.

[2020-09-01 06:50] whidbey commented on #12849
-- Using source at C:/vcpkg_jackboosy/vcpkg/buildtrees/protobuf/src/a5c431386a-c
9deea9e31.clean
-- Configuring x86-windows
-- Building x86-windows-dbg
-- Building x86-windows-rel
CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:83 (message):
    Command failed: C:/vcpkg_jackboosy/vcpkg/downloads/tools/powershell-core-7.0
.3-windows/powershell.exe -noprofile -executionpolicy Bypas

[2020-09-01 06:51] whidbey commented on #12849
it's slow and after a long run.. thows error as above

[2020-09-01 06:54] whidbey commented on #12849
run alone the command as poweshell 6 shows:

c:\vcpkg_jackboosy\vcpkg>C:/vcpkg_jackboosy/vcpkg/downloads/tools/powershell-cor
e-7.0.3-windows/powershell.exe -noprofile -executionpolicy Bypass -nologo -file
C:/vcpkg_jackboosy/vcpkg/scripts/buildsystems/msbuild/applocal.ps1 -targetBinary
 C:/vcpkg_jackboosy/vcpkg/packages/protobuf_x86-windows/tools/protobuf/protoc.ex
e -installedDir C:/vcpkg_jackboo

[2020-09-01 06:57] JackBoosY commented on #12849
@whidbey
Please provide failure log _C:\vcpkg_jackboosy\vcpkg\buildtrees\protobuf\copy-tool-dependencies-err.log_.

[2020-09-01 06:58] 48d90782 commented on #13261
@JackBoosY I am on OpenSUSE, how can I help you to find the issue?

[2020-09-01 06:58] whidbey commented on #12849
Process terminated. Infinite recursion during resource lookup within System.Private.CoreLib.  This may be a bug in System.Private.CoreLib, or potentially in certain extensibility points such as assembly resolve events or CultureInfo names.  Resource name: Arg_AccessViolationException
   at System.Environment.FailFast(System.String)
   at System.SR.InternalGetResourceString(System.String)
   at Sys

[2020-09-01 06:58] whidbey commented on #12849
all the log is like this...

[2020-09-01 06:59] JackBoosY commented on #12849
It seems that updating the Powershell version cannot solve this problem, @ras0219-msft @ras0219 is there any other solution?

[2020-09-01 07:13] JackBoosY commented on #13261
Please list the files existing in _/home/valery/Cache/vcpkg/packages/python3_x64-linux_.

[2020-09-01 07:19] 48d90782 commented on #13261
[code]

[2020-09-01 07:25] bhwqy opened #13270 "[cuda:x64-windows] build failure"
I installed CUDA in `C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.2`. Then, it seems that vcpkg failed to find where cuda is and the installation failed. How can I solve this?

**Host Environment**
- OS: Windows 10
- Compiler: Visual Studio 2019
- CUDA: 10.2

**To Reproduce**
Steps to reproduce the behavior:
 1. `nvcc --version`

nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2

[2020-09-01 07:30] Krzmbrzl commented on #13269
Okay I searched again and this time I did find references to the old directory in the package-config (`*.pc`) files. Any idea how they might end up using the wrong path?

[2020-09-01 07:40] nauq302 opened #13271 "[SDL2PP] How do I build SDL2PP?"
I already installed sdl2pp successfully. But when I build with Cmake
[code]
it throw
[code]
I already set `-DCMAKE_TOOLCHAIN_FILE=...` in Cmake options. When I installed sdl2pp, it doesn't show me how to build with Cmake. Can anyone help? Thanks!

[2020-09-01 07:40] bhwqy commented on #13270
I find that nvcc is installed in another location by the command

`Get-Command nvcc

D:\Program Files (x86)\cuda\bin\nvcc.exe`

So is there any solution to this problem?

[2020-09-01 07:47] JackBoosY commented on #13261
Can you find `libpython3.8.a` in _/home/valery/Cache/vcpkg/buildtrees/python3_ ?

[2020-09-01 07:50] nokutu opened #13272 "[SOCI] SOCIConfig.cmake not found"
When installing SOCI, a cmake config file called `SOCI.cmake` is created inside the installed folder, but it should be `SOCIConfig.cmake` in order to be able to import it correctly.

[2020-09-01 07:52] Neumann-A commented on #13269
somebody missed the call to `vcpkg_fixup_pkgconfig()`. Not all ports with install pc files have yet been updated to call that function.
The same happens if a `vcpkg_fixup_cmake_targets()` call is missing.

Did you delete your cmake cache after moving vcpkg? Some things can only be set on the first configure call.

[2020-09-01 08:03] Krzmbrzl commented on #13269
I removed the entire vcpkg directory and cloned vcpkg from scratch but the problem persisted.

Explicitly setting `-DCMAKE_BUILD_TYPE=Release` solved the issue somehow. Using `Debug` results in the mentioned error (as does not explicitly setting the build type even though theoretically our project should use Release as a default)

[2020-09-01 08:13] Neumann-A commented on #13269
than you have to check the `*.pc` file in `debug/lib/pkgconfig`

[2020-09-01 08:18] Krzmbrzl commented on #13269
It has almost the exact same content:
[code]

[2020-09-01 08:22] 48d90782 commented on #13261
Sorry for the delay. Yep, it located in the `/home/valery/Cache/vcpkg/buildtrees/python3/src/v3.8.3-43b03f2bf0.clean-x64-linux-release`

[2020-09-01 08:24] Krzmbrzl commented on #13269
The same happens if a vcpkg_fixup_cmake_targets() call is missing.

But how can this still reference the old vcpkg directory (that no longer exists) when vcpkg has been completely deleted and cloned again? There were no files left over from the build on the C: drive in that case :eyes:

[2020-09-01 08:25] Neumann-A commented on #13269
ok I repeat myself:

this has nothing to do with vcpkg. The question here was: did you make a clean configure call of your project after moving it. (Meaning deleting the CMake cache. )

[2020-09-01 08:27] 48d90782 commented on #13261
And also in
[code]

[2020-09-01 08:28] bio-punk commented on #12433
I also have this problem when I use VS2015update3 with English-language-pack on Windows10(1909).

So, How can I find failure log of vcpkg?

[2020-09-01 08:28] Krzmbrzl commented on #13269
Yeah that as well. I tried removing all files in the build directory, removing the entire build directory and eventually removing the entire project directory (my project in this case - not vcpkg) and clone it again. The result stays the same.

[2020-09-01 08:29] Krzmbrzl commented on #13269
I just noticed though that it seems that `vcpkg` has been installed using
[code]
What exactly does this do and could this be responsible for old paths being used?

[2020-09-01 08:32] JackBoosY commented on #12433
@bio-punk please provide the message printed on console.

[2020-09-01 08:35] JackBoosY commented on #13261
https://github.com/microsoft/vcpkg/blob/a0536798eeb0786a4a27078c1b797ab7b6c41dd1/ports/python3/portfile.cmake#L180-L181
https://github.com/microsoft/vcpkg/blob/a0536798eeb0786a4a27078c1b797ab7b6c41dd1/ports/python3/portfile.cmake#L234-L235
These two places should be adapted to the situation you encounter.

[2020-09-01 08:37] bio-punk commented on #12433
ok, here is my Console when I try to install opencv3

![vcpkg](https://user-images.githubusercontent.com/9584268/91827424-6a791080-ec71-11ea-97a9-3ba8fb616674.JPG)

[code]

[2020-09-01 08:38] Krzmbrzl commented on #13269
And just to give all information - I used [this script](https://github.com/mumble-voip/mumble-releng-vcpkg/blob/master/Get-MumbleDeps.ps1) with a custom `$vcpkgdir` value to install the dependencies.

And this is my cmake call:
[code]

I also tried using  `-G "NMake Makefiles` but that didn't make a difference

[2020-09-01 08:41] JackBoosY commented on #13261
Please unzip and replace [this file](https://github.com/microsoft/vcpkg/files/5154934/portfile.zip) to _VCPKG_ROOT/ports/python3_ and try again.

[2020-09-01 08:43] JackBoosY commented on #13270
Please set this path to environment var `CUDA_PATH` and try again.

[2020-09-01 08:47] JackBoosY commented on #12849
@whidbey the workaround is update Visual Studio to the latest.

[2020-09-01 08:55] 48d90782 commented on #13261
Sorry, the same issue:
[code]

[2020-09-01 09:00] NancyLi1013 commented on #13272
Hi @nokutu
Thanks for posting this issue.

I checked the source code and found that there is already `SociConfig.cmake` file in _SOURTH_PATH/cmake_ directory.
But this file seems not to be the one that we need.

Currently, `SOCI.cmake` is the one that upstream supports. In fact, the file name have no effects on the usage.
If you would like to use `SOCIConfig.cmake`, it would be better to report th

[2020-09-01 09:06] JackBoosY commented on #13261
@bio-punk Does your Visual Studio installed in the default path? And please make sure you installed the English Language Package.

[2020-09-01 09:07] JackBoosY commented on #12433
@bio-punk Does your Visual Studio installed in the default path? And please make sure you installed the English Language Package.

[2020-09-01 09:08] bio-punk commented on #12433
No，VS install in D:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE

[2020-09-01 09:09] JackBoosY commented on #13261
@48d90782 Sorry, use [this one](https://github.com/microsoft/vcpkg/files/5155144/portfile.zip)

[2020-09-01 09:09] bio-punk commented on #12433
Does VS must install in C:\？

[2020-09-01 09:12] JackBoosY commented on #12433
@bio-punk
https://github.com/microsoft/vcpkg/blob/ea82e4650890001b6a3177781e0c6096c9e1ca54/toolsrc/src/vcpkg/visualstudio.cpp#L84

[2020-09-01 09:14] 48d90782 commented on #13261
It works 👍🏻  Thank you very much.

[2020-09-01 09:14] NancyLi1013 commented on #13268
Hi @Jimmy-Hu
Thanks for posting this issue.

[code]
It seems that the encoding format is not Unicode on your local. Please refer to this link to set.
https://stackoverflow.com/questions/56419639/what-does-beta-use-unicode-utf-8-for-worldwide-language-support-actually-do

[2020-09-01 09:16] 48d90782 commented on #13261
But also it need to be replaced in the `boost` package

[2020-09-01 09:17] bhwqy commented on #13270
Thank you, this fixes the bug.

[2020-09-01 09:17] #13270 closed

[2020-09-01 09:22] JackBoosY commented on #13261
@48d90782 Does this issue also exist on boost-python?

[2020-09-01 09:28] stekyne commented on #13189
@NancyLi1013 Should I attempt to patch this package to only emit static or dynamic per build so? Or what can be done right now?

[2020-09-01 09:41] david-antiteum commented on #12150
No idea, I give up and now I´m using the Qt installation. It mixes quite well with vcpkg.

[2020-09-01 09:43] blackknifes opened #13276 "[openssl] build failure"
**Host Environment**
- OS: [Windows 10]
- Compiler: vs 2019 msvc compiler

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install openssl:x86-windows`

**Failure logs**
Console:
[code]

copy-tool-dependencies-err.log:
[code]

[2020-09-01 09:43] JackBoosY commented on #12150
Fine, please open a new issue if this issue still exist.

[2020-09-01 09:43] #12150 closed

[2020-09-01 09:46] NancyLi1013 commented on #13276
Hi @blackknifes
Thanks for posting this issue.

Please provide `D:\lkq\repo\vcpkg\buildtrees\openssl-windows\copy-tool-dependencies-err.log`.

[2020-09-01 09:48] blackknifes commented on #13276
copy-tool-dependencies-err.log is following Console log;

[2020-09-01 09:52] NancyLi1013 commented on #13276
I see the error info now.

It's duplicated to #12849. Please try to update Visual Studio 2019 to the latest version and rebuild this.

[2020-09-01 09:52] #13276 closed

[2020-09-01 09:52] PhoebeHui commented on #13269
@Krzmbrzl, do you create symlik? what output does 'dir ./vcpkg/ports/ brotli' show?

[2020-09-01 09:53] PhoebeHui commented on #13269
BTW, VCPKG doesn't store the path, and I can't repro this issue locally.

[2020-09-01 09:54] 48d90782 commented on #13261
Yep, I can guess, that on openSUSE this issue will exist in the all python related packages.

[2020-09-01 09:57] JackBoosY commented on #13261
Because python3 and boost-python are constructed inconsistently, I don’t think so.

[2020-09-01 10:02] 48d90782 commented on #13261
Ok, sure. Here is the issue from `boost-python`:
[code]
I can make another issue for this

[2020-09-01 10:33] Krzmbrzl commented on #13269
No I haven't used any symlinks (nor other links)

[code]

[2020-09-01 10:43] JunShuoMing commented on #13122
Hi @NancyLi1013
I don't know where to install "toolset v14.15 or v14.16", but I add the define to file zmmintrin.h, and it opencv installed successful(I am not sure if it run without error).
Thanks

[2020-09-01 10:43] #13122 closed

[2020-09-01 11:13] 48d90782 opened #13277 "[boost-python[core]:x64-linux] build failure"
**Host Environment**
- OS: `openSUSE Tumbleweed`
- Compiler: `gcc (SUSE Linux) 10.2.1 20200825 [revision c0746a1beb1ba073c7981eb09f55b3d993b32e5c]`

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install boost-python`

**Failure logs**
[code]

**Additional context**
[install-x64-linux-dbg-out.log](https://github.com/microsoft/vcpkg/files/5155810/install-x64-linux-dbg-out.log)

[2020-09-01 11:14] 48d90782 commented on #13261
@JackBoosY #13277

[2020-09-01 11:27] 48d90782 commented on #13277
In addition: I have installed devel versions of python38 system-wise, but, the issue can be resolved by installing `conda` and activating `base` env.

[2020-09-01 11:36] whidbey commented on #12849
but i am using the newsest
 packa ge of vs

[2020-09-01 12:12] quickiwiki opened #13279 "sqlite-orm build failure"
**Host Environment**
- OS: Linux Ubuntu 18.04
- Compiler: The CXX compiler identification is GNU 8.4.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install sqlite-orm

create a basic project that uses sqlite-orm
add  to CmakeLists.txt

  find_package(SqliteOrm CONFIG REQUIRED)
     target_link_libraries(main PRIVATE sqlite_orm::sqlite_orm)

**Failure logs**
CMake Error at /home/user

[2020-09-01 12:20] sfhacker commented on #12849
@whidbey Are you still having issues building this small project (protobuf)?
Have you taken a look at this screenshot, posted about 20 days ago?
![image](https://user-images.githubusercontent.com/25817529/91850625-30276780-eca1-11ea-8dc2-a432e77a1423.png)

Have you tried other alternatives? It should not take more than 2 mins to build protobuf. It is pretty straight forward.

[2020-09-01 12:23] sfhacker commented on #13189
@stekyne Are you still having issues building portaudio?
Have you tried other alternatives?

![image](https://user-images.githubusercontent.com/25817529/91850918-b479ea80-eca1-11ea-9773-f8354eec9738.png)

[2020-09-01 12:46] stekyne commented on #13189
@sfhacker what alternatives?

[2020-09-01 12:47] meastp commented on #7318
@ceranco Please add `crashrpt` to the "ports that fail" list.

[2020-09-01 12:53] whidbey commented on #12849
yes  still Problem ，eachbuild take me 20minutes... and high
 cpu.  I try anothrr computer win10 and only vs
2019 with lastest update. the same result?.  cant figure out why now..

[2020-09-01 13:06] sfhacker commented on #13279
We do not use Linux, but tried anyway!

![image](https://user-images.githubusercontent.com/25817529/91854753-8a2b2b80-eca7-11ea-92bb-5a792eb9a026.png)

[2020-09-01 13:53] ceranco commented on #7318
@meastp I've added `crashrpt` to the list.

Since opening this issue I've stopped using C++ and `vcpkg`, so I'm not sure if the packages and problems I originally listed have been fixed or if anything changed.

@Rastaban If this problem is still being worked on, it might be better to close the current one and have someone that is actively using `vcpkg` open a new one, whatever you prefer.

[2020-09-01 13:56] sfhacker commented on #12849
@whidbey 20 mins plus is a lot! I didn't know vcpkg was so slow! You should try some other alternative.
@JackBoosY This issue seems quite hard to troubleshoot! How can we assist this user? Perhaps the user environment is broken somehow?

[2020-09-01 14:12] sfhacker commented on #13189
@stekyne How familiar are you with building projects like portaudio? Are you a newbie?
For example, is it mandatory to use Ninja? Can you use/try something else? That would be an alternative!
Let us know if you require further assistance.

[2020-09-01 14:32] stekyne commented on #13189
@sfhacker You do realise this is posted under the context of VCPKG right? I can build portaudio in isolation. The build is failing when used as a package.

[2020-09-01 14:32] whidbey commented on #12849
yes，i dont have a choice... currently just complile with c:/vcpkg-202006 version and copy to my c:/vcpkg

[2020-09-01 14:35] whidbey commented on #12849
plus , there is seems not only google protobuf,but others .. depends on lucky or not...
would you suggest install a clean windows 10 and visual studio ? I am sure there is something wrong as I have 3 computer....
the pc on my home works ok on x64 when vs 2019 upgrade to newest package... but no lucky for x86. and no lucky for the two other computer...

[2020-09-01 15:08] whidbey commented on #12849
reset the vs dont help

c:\vcpkg>vcpkg upgrade
All installed packages are up-to-date with the local portfiles.

c:\vcpkg>vcpkg install protobuf:x86-windows-static
Computing installation plan...
The following packages will be built and installed:
    protobuf[core]:x86-windows-static
Detecting compiler hash for triplet x86-windows-static...
Starting package 1/1: protobuf:x86-windows-static
Building

[2020-09-01 16:07] meastp commented on #7318
@ceranco Thanks - note that crashrpt does not build with `PREFER_NINJA` due to build errors with MFC/ATL/UNICODE which I haven't investigated thoroughly.

[2020-09-01 16:21] HideakiAtsuyo opened #13281 "configure failure"
**Host Environment**
- OS: Windows

**To Reproduce**
Steps to reproduce the behavior:

Install openssl: vpcpkg install openssl
build [DPP](https://github.com/yuhanun/DPP)(to make discord bot in c++ langage)

**Failure logs**

[code]
[CMakeOutput.log](https://github.com/microsoft/vcpkg/files/5157555/CMakeOutput.log)

[2020-09-01 16:26] Krzmbrzl commented on #13269
Okay I reinstalled vcpkg and all our packages again (manually and one package at a time in order to track down which package causes the wrong paths to be used) and for some reason it seems to be working just fine now.

My theory is that either a restart between the vcpkg installations was required or that a custom port file that we're using somehow messes things up (I have excluded it from my curr

[2020-09-01 16:26] #13269 closed

[2020-09-01 16:36] cjdb opened #13282 "Support a triplet that supports libc++abi"
****

**Is your feature request related to a problem? Please describe.**
There currently isn't a triplet that links against libc++abi, which makes it difficult to install packages for CI without a bespoke triplet.

**Proposed solution**
A triplet that links against libc++abi instead of the libstdc++ abi for GCC and Clang.

**Describe alternatives you've considered**
No alternatives considered (but

[2020-09-01 17:36] strega-nil opened #13283 "[vcpkg] Building with g++-6 fails due to linker errors"
[code]

[2020-09-01 17:37] strega-nil commented on #13283
cc @BillyONeal we need to start building with our supported compilers in CI

Also, I'll fix this once #13038 is merged

[2020-09-01 18:17] KyryloAntoshyn commented on #13183
I have the same issue
[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/5158094/install-x64-windows-dbg-out.log)

[2020-09-01 18:41] KyryloAntoshyn commented on #13183
It works with this cuDNN version (7): https://developer.nvidia.com/compute/machine-learning/cudnn/secure/7.6.5.32/Production/10.1_20191031/cudnn-10.1-windows10-x64-v7.6.5.32.zip

![image](https://user-images.githubusercontent.com/26432700/91892721-d3757e00-ec9b-11ea-890c-b78f76373d62.png)

@BasitJaved

[2020-09-01 19:24] fuomag9 commented on #13259
installing the language pack fixed it, what a strange requirement tho

[2020-09-01 19:24] #13259 closed

[2020-09-01 19:25] BillyONeal commented on #13265
The set of post build checks isn't contractual; we add to the set over time as we discover ports and projects that take action hostile to cohesive function of the overall catalog.

I believe most of these post build checks are located in https://github.com/microsoft/vcpkg/blob/master/toolsrc/src/vcpkg/postbuildlint.cpp

[2020-09-01 19:39] yhyu13 opened #13284 "[vcpkg] Support for building CMake targets with RelWithDebInfo and MinSizeRel configuration"
****

**Is your feature request related to a problem? Please describe.**
For libraries that support cmake build, vckpg only generate target for Debug and Release but ignores options that are RelWithDebInfo and MinSizeRel which is critical for application such as game engines. I am using vckpg to manage assimp (asset importer) and bullet3 (physics engine) with their debug build being 10~100 times s

[2020-09-01 20:57] Christsnatcher opened #13286 "[msys2] download components failure: SSL connect error"
**Host Environment**
- Windows 8.1 Home x64
- MSVC++ 14.27 _MSC_VER == 1927 (Visual Studio 2019 Version 16.7)

**To Reproduce**
Steps to reproduce the behavior:
vcpkg install [ffmpeg] (no triplet does work, and no additional feature does matter)

**Failure logs**
[code]

**Additional context**
Hello,

the issue here doesn't really seem to be a "port bug", because it affects all ports which need MS

[2020-09-01 21:17] gdxn96 commented on #13236
I am currently running into this exact issue also

[2020-09-01 21:18] #13224 closed

[2020-09-01 21:29] strega-nil commented on #12309
@studoot as for your first question, it's now been corrected slightly by putting the `vcpkg_installed` in a specific build directory. As for the second, we have not yet considered `vcpkg export` alongside manifest mode; not that it won't happen, but I don't think I personally feel comfortable defining how it should work.

[2020-09-01 21:32] 48d90782 commented on #13236
@gdxn96 You may install `anaconda` and activate `base` environment. And then execute `./vcpkg install sdl2` from it.

[2020-09-01 21:34] strega-nil commented on #9848
And you still have the same issue? have you tried deleting the downloads directory, rebootstrapping, and then running `./vcpkg install openssl:x64-windows` again?

[2020-09-01 21:41] strega-nil commented on #13155
`vcpkg install --feature-flags=manifests` will work, or if you want to install into a specific directory `vcpkg install --feature-flags=manifests --x-install-root=<install directory>`.

The triplet can be defined via the `--triplet <triplet>` flag, if you want specific features, you can use `--x-feature=blah --x-feature=foo`, and `--x-no-default-features` if you don't want the default features.

[

[2020-09-01 21:46] gdxn96 commented on #13236
Installed conda, activated base environment, ran again, same result @48d90782

[2020-09-01 21:47] jz-fb opened #13287 "zlib lacks zlib-config.cmake/zlibconfig.cmake which makes folly package unusable with x64-static using CMAKE"
###  Build Setup: win10/ latest version of VS and CMAKE/ packages obtained with x64-windows-static
###  In cmakelists.txt:
`set(CMAKE_TOOLCHAIN_FILE "../thirdparty/vcpkg/scripts/buildsystems/vcpkg.cmake") ` **<-- toolchain added**
`set(folly_DIR "${CMAKE_SOURCE_DIR}/../thirdparty/vcpkg/packages/folly_x64-windows-static/share/folly") `**<-- point to follyconfig.cmake for find_package() to use**

##

[2020-09-01 22:15] Neumann-A commented on #13287
title has it completely wrong. `FindZLIB.cmake` is supplied by CMake

seems like target `future_benchmark` is simply missing a `find_package(ZLIB)/find_dependency(ZLIB)` call before defining the targets.

Trying to build without folly_DIR

also looks suspicious.

(Note: looked into the portfile and seems like folly's portfile is doing some shenanigans with the `-config.cmake` which need a bit more

[2020-09-01 22:19] Neumann-A commented on #13287
also duplicate of #13196
closed by #13278

[2020-09-02 01:23] blackknifes commented on #13276
VS Version:  16.7.2
I has been updated, but it still show this error.

[2020-09-02 01:28] NancyLi1013 commented on #13287
Hi @jz-fb
Thanks for posting this issue.
Please try to rebuild this based on #13278.

[2020-09-02 01:28] #13287 closed

[2020-09-02 01:58] blackknifes commented on #13276
![image](https://user-images.githubusercontent.com/9638801/91923386-d0fa3f00-ed02-11ea-8a82-52d8762bdeef.png)
When I run powershell, it show the error log.

[2020-09-02 02:06] blackknifes commented on #12849
![image](https://user-images.githubusercontent.com/9638801/91923386-d0fa3f00-ed02-11ea-8a82-52d8762bdeef.png)
When I run powershell, it show the error log.

[2020-09-02 02:08] StarGate-One opened #13291 "[vcpkg_acquire_msys.cmake] missing download of gettext"
**Describe the bug**
[vcpkg_acquire_msys.cmake] missing download of gettext

**Environment**
- OS: [Microsoft Windows [Version 10.0.19041.450]]
- Compiler: Visual Studio  Version: 16.7.2  VS Tools Version: 14.27.29110

**To Reproduce**
Steps to reproduce the behavior:
1. `.\vcpkg.exe install libpq[core,icu,nls,openssl,xml,zlib]:x64-windows`
2. `Unknown packages were required for vcpkg_acquire_msys

[2020-09-02 02:11] showintime opened #13292 "[osgearth:x64-windows] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: Visual Studio 2019

Package: osgearth:x64-windows
  Vcpkg version: 2020.06.15-nohash

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install osgearth:x64-windows`

**Failure logs**
[code]
[code]

**Additional context**
i installed osgearth:x64-windows successfully 10 days ago,
yesterday,i run `.\vcpkg update`, then i run `git pull` and

[2020-09-02 02:12] PhoebeHui commented on #13192
@uiemUI, reopen this issue if it still be a question for you.

[2020-09-02 02:12] #13192 closed

[2020-09-02 02:13] NancyLi1013 commented on #13276
Hi @blackknifes
We need to do further investigation about this issue. Since the root cause is the same as that in #12849.
Let's track this issue there.

[2020-09-02 02:20] JackBoosY opened #13294 "[vcpkg] CMAKE_C_COMPILER and CMAKE_CXX_COMPILER are not set"
In `vcpkg-configure-cmake`, we doesn't set `CMAKE_C_COMPILER` or `CMAKE_CXX_COMPILER`, causes cmake to automatically acquire the compiler.
After llvm built clang++, when we set up and used `ninja` or `Visual Studio`, cmake obtained and detected `clang++`, which caused some parameters (such as /nologo /DWIN32 /D_WINDOWS) we set to destroy the detection process.
Example error:
[code]

[2020-09-02 02:23] JackBoosY commented on #13261
Let's make another PR to fix that.

[2020-09-02 02:35] NancyLi1013 commented on #13122
You can install it via Visual Studio Installer.
![Capture](https://user-images.githubusercontent.com/46708020/91925617-f473b880-ed07-11ea-8338-9bd3187aad34.PNG)

[2020-09-02 02:56] JunShuoMing commented on #13122
It seems that no this toolset version when vs2017 installed on windows7(I can see the options on vs2017 windows10 install)
![2017_install](https://user-images.githubusercontent.com/53216007/91926749-7f55b280-ed0a-11ea-829f-542fed73beed.PNG)

[2020-09-02 02:57] JackBoosY commented on #13286
See https://github.com/microsoft/vcpkg/issues/13217#issuecomment-683663095 for workaround.

[2020-09-02 03:02] NancyLi1013 commented on #13189
@stekyne
Currently, I have no any idea to fix this issue on source sides. But there are some workarounds that can avoid triggering this issue.

- Disable `PERFER_NINJA`
- Use `NINJA `that the version is less than 1.9.0.

[2020-09-02 03:04] JunShuoMing commented on #13075
console output log:

-- Building Release Options:  --extra-cflags=-MD --extra-cxxflags=-MD
-- Building ffmpeg for Release
CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:72 (message):
    Command failed: E:/codes/vcpkg/downloads/tools/msys2-20200812/msys64/usr/bin/bash.exe --noprofile --norc E:/codes/vcpkg/ports/ffmpeg\build.sh E:/codes/vcpkg/buildtrees/ffmpeg/x86-windows-rel E:/

[2020-09-02 03:15] showintime commented on #13042
Could you take a look at this?
https://github.com/microsoft/vcpkg/issues/13292

[2020-09-02 03:41] Voskrese commented on #13286
?
`powershell "[Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12; (New-Object System.Net.WebClient).DownloadFile('https://repo.msys2.org/msys/x86_64/bash-4.4.023-2-x86_64.pkg.tar.xz')"`

[2020-09-02 03:51] Voskrese commented on #13294
default set CC=cl CXX=cl ?

[2020-09-02 04:28] Christsnatcher commented on #13286
@JackBoosY : Thank you very much for linking me to this workaround!

@Voskrese  Both commands fails in PS for me (see output below), also I explicitly mentioned that ONLY TLS 1.3 would work, NOT 1.2.

[code]

[2020-09-02 04:35] Voskrese commented on #13286
TLS 1.2 work

![2020-09-02_123538](https://user-images.githubusercontent.com/10104740/91932467-d06ca300-ed18-11ea-95be-45c5e3447072.png)

[2020-09-02 04:38] linquize commented on #13286
if https:// fail,  use http:// as fallback. Since we verify file hash, transport layer security is less important.

[2020-09-02 06:11] JackBoosY commented on #13286
Hi guys, can you test if #13298 works?

[2020-09-02 07:03] JackBoosY commented on #12849
@blackknifes You should not call this script directly, because your environment has not been pre-set, and dumpbin cannot be found directly.

[2020-09-02 07:13] JackBoosY commented on #12849
@whidbey @blackknifes Can you use the command `dumpbin /DEPENDENTS PROTOC_EXE_PATH` in `Visual Studio Native Tools Command Prompt`? `PROTOC_EXE_PATH` should be the full path of `protoc.exe` in _VCPKG_ROOT/packages/protobuf-TRIPLET/tools/protobuf_.

[2020-09-02 07:19] NancyLi1013 commented on #13122
Could you please try to update Visual Studio 2017 to the latest version or use Visual Studio 2019 on Windows 7?

[2020-09-02 07:59] mkckr0 opened #13299 "[boost-filesystem:x64-windows-static] build failure"
**Host Environment**
- OS: Windows
- Compiler: Visual Studio 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install boost-filesystem:x64-windows-static`

**Failure logs**
[code]

**Additional context**
[code]
[code]
[code]

[2020-09-02 08:42] NancyLi1013 commented on #13202
![image](https://user-images.githubusercontent.com/46708020/91959112-cb205000-ed3a-11ea-8265-e224dc76f6ae.png)

It seems that `x86-windows` triplet is not detected in your Visual Studio.
Could you please try to build the triplet `x64-windows `? run `.\vcpkg install pcl:x64-windows`

[2020-09-02 08:43] LilyWangL commented on #13281
Thanks for posting this issue. Did you run commands `.\vcpkg.exe integrate install` and `.\vcpkg.exe integrate project` on your VCPKG before building this project?

[2020-09-02 08:43] Christsnatcher commented on #13286
@JackBoosY : Unfortunately it doesn't work, and it can't, since you didn't address the actual issue. Non-Windows 10 systems do NOT have TLS 1.3 implemented at all, so no matter if the version gets detected correctly, trying to connect still fails - obviously.

@Voskrese : You appaarently don't understand. TLS v1.2 does NOT work, just read the explanations on the site itself, ONLY TLS 1.3 does. You

[2020-09-02 08:52] zhongshan99 opened #13301 "[qt5-base] build failure"
Host Environment

OS: Windows 10  LTSC
Compiler: VS2019+MSVC

To Reproduce
Steps to reproduce the behavior:
./vcpkg install qt5-base:x64-windows

Failure logs
-- Installing: D:/C++/vcpkg/packages/qt5-base_x64-windows/share/qt5-base/copyright
-- Performing post-build validation
There should be no empty directories in D:\C++\vcpkg\packages\qt5-base_x64-windows
The following empty directories were fo

[2020-09-02 09:21] JackBoosY commented on #13286
@Christsnatcher Sorry, please pull the latest and try again, I forgot to modify some places.

[2020-09-02 09:23] Christsnatcher commented on #13286
Ah, no problem. We wrote at the same time, I edited my previous post to reflect that your fix is working perfectly fine, thank you so much- now on to merging! ;)

[2020-09-02 09:42] NancyLi1013 commented on #13156
[code]
I cannot reproduce this issue on my local with CMake 3.17.2 and 3.18.2.

Could you please try to update vcpkg to the latest version and rebuild this?

[2020-09-02 09:46] studoot commented on #12309
That's probably the best solution for `vcpkg_installed` with multiple triplets - thanks for that.

[2020-09-02 11:31] sfhacker commented on #13189
@NancyLi1013 This issue seems hard to troubleshoot, doesn't it? I have advised some alternatives/workarounds but ....
Perhaps we lack the knowledge and/or experience to try other things that will, for sure, work.

@stekyne Let us know if we can be of further assistance!

[2020-09-02 11:55] sfhacker commented on #12849
@JackBoosY How can we assist these users here? It is over 20 days and they are unable to succeed!
Perhaps their environment is broken somehow?

[2020-09-02 12:00] ricky001 opened #13303 "While running the vcvarsall.bat it stuck."
When running the vcvarsall.bat on jenkins node it will get stuck for hours and then we have to abort it manually. Also it didn't give any error also.

x86)\Microsoft Visual Studio\2017\Professional\VC\Auxiliary\Build\vcvars32.bat"
00:22:55 [Build] **********************************************************************
00:22:55 [ Build] ** Visual Studio 2017 Developer Command Prompt v15.8.5
00:22:55

[2020-09-02 14:25] stekyne commented on #13189
@NancyLi1013 Removing PREFER_NINJA seems to work that's good. Does VCPKG not install Ninja or does it only pull in the system version? If not, it does install portable versions of cmake etc, why not this as well? It seems like it would cause more issues if you can have this variable.

Anyways, I think this is the issue. I have Ninja 1.10 installed which I didn't realise. I will submit the PR to re

[2020-09-02 15:27] whidbey commented on #12849
Dump of file C:\vcpkg\installed\x86-windows\tools\protobuf\protoc.exe

File Type: EXECUTABLE IMAGE

  Image has the following dependencies:

    libprotoc.dll
    MSVCP140.dll
    VCRUNTIME140.dll
    api-ms-win-crt-runtime-l1-1-0.dll
    api-ms-win-crt-heap-l1-1-0.dll
    api-ms-win-crt-math-l1-1-0.dll
    api-ms-win-crt-stdio-l1-1-0.dll
    api-ms-win-crt-locale-l1-1-0.dll
    KERNEL32.dll

  Su

[2020-09-02 15:29] whidbey commented on #12849
C:\vcpkg\packages\protobuf_x86-windows-static\tools\protobuf

here it go for the x86-windows-static tools

C:\Program Files (x86)\Microsoft Visual Studio\2019\Community>dumpbin /dependents C:\vcpkg\packages\protobuf_x86-windows-static\tools\protobuf\protoc.exe
Microsoft (R) COFF/PE Dumper Version 14.27.29111.0
Copyright (C) Microsoft Corporation.  All rights reserved.

Dump of file C:\vcpkg\packag

[2020-09-02 16:06] gregzakh opened #13307 "Downloads obsolete packages while installind selected library"
First, it's so strange why **vcpkg** not finds **pwsh** (_PowerShell-core_) and some other utilities in PATH. Second, the follow command:

[code]
downloads a lot of obsolete packages but can not install **range-v3** at last. What are hell with **vcpkg**?

[2020-09-02 16:11] jmkerloch opened #13308 "How do VCPKG copy .dll to binary build directory"
I'm using VCPKG to get most of my external librairies and it works really well with CMake.
One of the feature i'm really glad exists is the ability for VCPKG to copy .dll to binary build directory.
Let's say that my application App need libcurl.
I'm linking with curl with :

[code]
After building the `libcurl.dll`  is available  in my application building directory.

I would like to implement this

[2020-09-02 16:33] ZYZ-HAHA opened #13310 "MyIssueSubmit"
Try deal error!

[2020-09-02 16:34] ZYZ-HAHA opened #13311 "MyIssue"
Package: boost-compatibility:x86-windows
  Vcpkg version: 2020.06.15-nohash

[2020-09-02 17:44] strega-nil commented on #11206
@linquize probably at some point? but it's not in the plans yet.

[2020-09-02 17:48] BillyONeal commented on #13284
For `RelWithDebInfo`, we currently have a post-build lint on plain release ensuring debug info is generated, at least in "PDB world (windows)". We encourage use of separate DWARF info as well on *nix. In such cases there's no reason to ever use a `RelWithDebInfo` build, because plain release has debugging info. Unfortunately, the Windows `RelWithDebInfo` settings CMake ships with are bad and don't

[2020-09-02 18:44] StarGate-One opened #13314 "[vcpkg search] "Warning: an error occurred while parsing 'superlu'""
**Describe the bug**
vcpkg search "Warning: an error occurred while parsing 'superlu'"

**Environment**
- OS: [Microsoft Windows [Version 10.0.19041.450]]
- Compiler: Visual Studio  Version: 16.7.2  VS Tools Version: 14.27.29110

**To Reproduce**
Steps to reproduce the behavior:
1. `.\vcpkg.exe search` or `.\vcpkg.exe search superlu`
2. Warning: an error occurred while parsing 'superlu'
Use '--deb

[2020-09-02 18:48] HideakiAtsuyo commented on #13281
Working thank you for this way

[2020-09-02 18:48] #13281 closed

[2020-09-02 19:25] cenit commented on #13294
Mostly, clang should go to tools and not bin folder?

[2020-09-02 19:30] cenit commented on #13284
What’s the problem in having as many config folder as necessary?
MinSizeRel/stuff might work as good as debug/stuff is working... Or am I missing something?!?

[2020-09-02 19:36] #13314 closed

[2020-09-02 19:45] BillyONeal commented on #13284
2 major things:

1. Our toolchain won't know how to look in there.
2. We wrap a lot of build systems that are not cmake and therefore have no such "minsizerel" or "relwithdebinfo" concept. The convention we've chosen was chosen to be a reasonable lowest-common-denominator among anything we might want to package.

I'm not saying we would never consider adding something like this, but I am saying we

[2020-09-02 20:10] akilaln opened #13317 "[OpenImageIO] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: VS2015

**To Reproduce**
Steps to reproduce the behavior:
Turned below options ON in portfile.cmake
[code]
`./vcpkg install openimageio`

**Failure logs**
-- Downloading https://www.python.org/ftp/python/3.8.3/python-3.8.3-embed-win32.zip...
-- Configuring x86-windows
CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:83 (message):

[2020-09-02 20:18] StarGate-One commented on #13291
I close ticket since I not know how to fix.

[2020-09-02 20:34] BillyONeal commented on #13294
Yeah, we shouldn't ever be finding a compiler in the "installed" directory. @Voskrese 's suggestion is probably the right fix.

[2020-09-02 20:36] BillyONeal commented on #13294
@cenit That also seems appropriate but I suspect it might require a more.... invasive modification of llvm's build than we would like. If that's possible it would be great!

[2020-09-02 21:33] ahaeber opened #13319 "[grpc] build gRPC with test code available"
****

**Is your feature request related to a problem? Please describe.**
Currently gRPC is built with [`-DgRPC_BUILD_TESTS=OFF`](https://github.com/microsoft/vcpkg/blob/master/ports/grpc/portfile.cmake#L47). Therefore gRPC support for testing (e.g., mocks) is unavailable.

**Proposed solution**
Change the setting to ON.

**Describe alternatives you've considered**
I've followed https://github.com/

[2020-09-03 01:43] NancyLi1013 commented on #13310
This seems to be an invalid issue. So I'm closing this issue for now.

[2020-09-03 01:43] #13310 closed

[2020-09-03 02:08] daramkun opened #13323 "Error on installing tiff with mozjpeg"
mozjpeg(libjpeg-turbo's fork) installed, tiff installing is fail.

[code]

[2020-09-03 02:12] NancyLi1013 commented on #13303
Hi @ricky001
Thanks for posting this issue.
Please see the related issue https://github.com/microsoft/vcpkg/issues/10468#issuecomment-620254095.

Could you please also update Visual Studio to the latest version and try it again?

[2020-09-03 02:22] PhoebeHui commented on #13172
Confirming with msbuild team, that mixing configurations with different application types is not supported, and this has never been supported, not sure why it works before, I will try to contact the project owner.

[2020-09-03 02:52] JackBoosY commented on #13301
Please provide `build-x64-windows-dbg-err.log`, `build-x64-windows-dbg-out.log`, `config-x64-windows-dbg-err.log`, `config-x64-windows-dbg-out.log` in  _D:/C++/vcpkg/buildtrees/qt5-base_.

[2020-09-03 03:06] LilyWangL commented on #13191
Thanks for your reply. This error has been fixed in PR #9252. Now `rttr` build depends on rapidjson which installed by VCPKG. Did you install the latest `rttr`? Now the version of `rttr` is 0.9.6-2. You can remove `[VCPKG_PATH]/buildtrees/rttr/src` and install `rttr` again.

[2020-09-03 03:17] JackBoosY commented on #13319
Thanks for pointing this out!

[2020-09-03 03:21] Jimmy-Hu commented on #13268
@NancyLi1013 Thank you for your reply. The error C4819 has been solved and I try to reinstall it again. However, there are still some errors happened in the install process. Do you have any idea to solve this problem? Any suggestions are welcome.

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
    atkmm[core]:x64-windows
Detecting compiler hash

[2020-09-03 04:36] ricky001 commented on #13303
Hello @NancyLi1013

As we are using 2017 VS.out of 10 builds it will fail 2-3 times but other 7-8 build will pass.

Regards,
Somya Chawla

[2020-09-03 04:46] dominique120 opened #13324 "[<icu>] build failure"
**Host Environment**
- OS: Windows 10 Enterprise
- Compiler: Visual Studio 2019 Enterprise 16.5.3
- VCPKG 2020-06

**To Reproduce**
vcpkg install libmysql
OR
vcpkg install icu

**Failure logs**
Output on the console:
[code]
 C:\vcpkg-2020.06\buildtrees\icu\msys-pacman-x86-windows-err.log:
[code]

**Additional context**
x64 version also fails. I get the error trying to install ```libmysql```
The la

[2020-09-03 06:06] showintime commented on #13292
@JackBoosY
I have reproduced the problem.
I recreated a new folder, build vcpkg, install osgearth,
however i recieved this problem again, amazing

-- Downloading https://github.com/gwaldron/osgearth/archive/90ad04f281cbc87ffc45bed847ebaaecb188e593.tar.gz...
-- Extracting source D:/zvcpkg/vcpkg/downloads/gwaldron-osgearth-90ad04f281cbc87ffc45bed847ebaaecb188e593.tar.gz
-- Applying patch RocksDB.pat

[2020-09-03 06:11] PhoebeHui commented on #13311
@ZYZ-HAHA, could you provide us more information? like the faulures logs.

[2020-09-03 06:14] NancyLi1013 commented on #13303
Thanks for your reply.
This seems to be a bug in `vcvarsall.bat`. Since this script is provided by Visual Studio, it would be better to report this issue to developer community if this is still a problem for you.

Before doing this, you can update Visual Studio 2017 to the latest version if possible.
And then verify if you will encounter the same issue.
I noticed you used v15.8.5, which is not lat

[2020-09-03 06:19] ricky001 commented on #13303
Hello @NancyLi1013

Yes we are using V 15.8.5.  I will be updating the VS version to 15.9.  Is that ok

Regards,
Somya Chawla

[2020-09-03 06:23] JackBoosY commented on #13292
@showintime Blocked build on the dependencies.

[2020-09-03 06:33] showintime commented on #13292
@JackBoosY What does "Blocked build on the dependencies." mean?

[2020-09-03 06:36] JackBoosY commented on #13292
@showintime Can you provide _D:\zvcpkg\vcpkg\buildtrees\osgearth\install-x64-windows-dbg-out.log_ ?

[2020-09-03 06:40] showintime commented on #13292
@JackBoosY
D:\zvcpkg\vcpkg\buildtrees\osgearth\install-x64-windows-dbg-out.log

[1/558] cmd.exe /C "cd /D D:\zvcpkg\vcpkg\buildtrees\osgearth\x64-windows-dbg\src\osgEarth && "C:\Program Files\CMake\bin\cmake.exe" -P D:/zvcpkg/vcpkg/buildtrees/osgearth/x64-windows-dbg/src/osgEarth/ConfigureShaders.cmake"
[2/558] cmd.exe /C "cd /D D:\zvcpkg\vcpkg\buildtrees\osgearth\x64-windows-dbg\src\osgEarth && D

[2020-09-03 06:42] showintime commented on #13292
@JackBoosY
[config-x64-windows-out.log](https://github.com/microsoft/vcpkg/files/5166661/config-x64-windows-out.log)
[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/5166663/install-x64-windows-dbg-out.log)
[patch-x64-windows-0-err.log](https://github.com/microsoft/vcpkg/files/5166664/patch-x64-windows-0-err.log)
[stdout-x64-windows.log](https://github.com/microsoft/vcpkg

[2020-09-03 06:42] JackBoosY commented on #12848
@dalboris we need to wait for upstream merge that changes.

[2020-09-03 06:44] LilyWangL commented on #13308
In `CMakeLists.txt`, these codes will install *.dll and *.lib to the correct directory.
[code]

[2020-09-03 06:47] showintime commented on #13292
**dir trees like:**
![image](https://user-images.githubusercontent.com/29477247/92080549-514c9d00-edf4-11ea-952e-1f9e313a4698.png)

[2020-09-03 06:53] JackBoosY commented on #12849
Maybe the dlls needed by powershell cannot be found in system32 which caused this issue, but we still cannot reproduce it.

For workaround. please unzip and replace [this file](https://github.com/microsoft/vcpkg/files/5166718/vcpkg_copy_tool_dependencies.zip) to _VCPKG_ROOT/scripts/cmake_, rebuild protobuf and copy all the files from _VCPKG_ROOT/packages/protobuf_TRIPLET/bin_ to _VCPKG_ROOT/instal

[2020-09-03 07:19] yhyu13 commented on #13284
@BillyONeal Thanks for answering

[2020-09-03 07:19] #13284 closed

[2020-09-03 07:20] showintime commented on #13292
@JackBoosY i have found the error in install-x64-windows-dbg-out.log line 250

[2020-09-03 07:25] JackBoosY commented on #13292
Do you mean this?
[code]

[2020-09-03 07:28] UnknownObject000 opened #13326 "[opengl] build failure"
**Host Environment**
- OS: Windows 10 Professional Workstation (Windows Feature Experience Pack 120.2212.31.0)
- Compiler: MSVC 16 (Visual Studio 2019)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install opencv4`

**Failure logs**
PS C:\Users\15819> vcpkg install opencv4
Your feedback is important to improve Vcpkg! Please take 3 minutes to complete our survey by running: vcpkg cont

[2020-09-03 07:29] showintime commented on #13292
@JackBoosY
some errors message in install-x64-windows-dbg-out.log line 254-258
[code]

[2020-09-03 07:33] jmkerloch commented on #13308
So this should be added in the library `CMakeLists.txt` ?
This is already available  :
[code]

But when I'm linking this library with
[code]

The dll from the library is not installed to the App build directory.

Thanks for your quick answer !

[2020-09-03 07:34] UnknownObject000 commented on #13326
I have Windows SDK 10.0.18362.0, but my SDK path is "D:\Windows Kits\10\Lib\10.0.18362.0\um\x86" insteadof "C:\Program Files (x86)\Windows Kits\10\Lib\10.0.18362.0\um\x86".

[2020-09-03 07:34] UnknownObject000 commented on #13326
What should I do to change the SDK path?

[2020-09-03 07:36] JackBoosY commented on #13292
Of course, I saw it on the first time. Can you clone vcpkg on other folder and reproduce this issue?

[2020-09-03 07:40] abcping123 opened #13327 "[x264:x64-windows] build failure"
**Host Environment**
- OS: Windows 10 v1903
- Compiler: Visual Studio 2017

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install x264:x64-windows`

It could not cofigure at first, and I find the cause in `vcpkg_configure_make.cmake (line 223)`:
`string(REPLACE ";$ENV{SystemRoot}\\System32;" ";${MSYS_ROOT}/usr/share/automake-1.16;${MSYS_ROOT}/usr/bin;$ENV{SystemRoot}\\System32;" NEWPA

[2020-09-03 07:41] showintime commented on #13292
@JackBoosY
Yes
i have try a new folder to clone vcpkg and install, but it doesnot work.

[2020-09-03 07:43] meastp commented on #13155
Thanks! I'm having problems with the toolset, though:
[code]
When I change from `"platform": "x64 & windows & v141"` to `"platform": "x64 & windows"` no error messages appear. I need to support VCPKG_PLATFORM_TOOLSET in the platform specification. Is this possible? How can I patch the vcpkg project locally to add support for this?

[2020-09-03 07:45] NancyLi1013 commented on #13279
Hi @quickiwiki
Thanks for posting this issue.
I submitted a PR #13328  to fix this issue.
Could you please help confirm if this can work for you?

[2020-09-03 07:48] abcping123 commented on #13327
By the way, environment variables in system setting contains exactly `C:\Windows\System32`, not `C:\Windows\system32`.

[2020-09-03 08:01] PhoebeHui commented on #13299
@mkckr0, could you update the runtime libarry from /MDd to /MTD and try again?

![image](https://user-images.githubusercontent.com/20694052/92087885-ac838d00-edfe-11ea-85a8-69b4014a1a59.png)

[2020-09-03 08:11] meastp commented on #12309
Could you please provide an example on how this is fixed? I don't understand, sorry...

When I run vcpkg in a folder with manifest and --triplet x64-windows, then run again with --triplet x86-windows, the `vcpkg_installed\x64-windows` is deleted.. ? How do I achieve installing dependencies for both triplets in a single step, please? :)

[2020-09-03 08:34] showintime commented on #13292
@JackBoosY
i have delete all file or dirs referenced to `vcpkg` except items below:
![image](https://user-images.githubusercontent.com/29477247/92090869-8f50bd80-ee02-11ea-84a5-ef0b76de8656.png)
and have check all environment variables referenced to `vcpkg`
and reboot my system
NOW i will try again!
i will tell you about it tomorrow!!!

[2020-09-03 09:10] JackBoosY commented on #13292
Confirmed.

[2020-09-03 09:11] showintime commented on #13292
@JackBoosY
by the way
i notice some dependencies are not required when using `./vcpkg install osgearth:x64-windows`
for example , in [config-x64-windows-out.log](https://github.com/microsoft/vcpkg/files/5166661/config-x64-windows-out.log) line 28 GLEW, but it doesnot exist in vcpkg install requested package, but vcpkg can search it

[2020-09-03 09:13] PhoebeHui commented on #13210
@uiemUI, the python module doesn't support now, see https://github.com/microsoft/vcpkg/blob/master/ports/opencv4/CONTROL.

[2020-09-03 09:13] showintime commented on #13292
YES
The only visual studio 2019 on my computer.

[2020-09-03 09:20] JonLiu1993 commented on #13216
Hi @MicSm ,
According to @Hoikas ’s suggestion, you can verify if it is feasible？

[2020-09-03 09:34] dalboris commented on #12848
@JackBoosY Thanks, waiting for upstream then. I've just sent them a reminder about this patch.

[2020-09-03 09:45] jeweg opened #13331 "[vulkan] SDK detection fails for official debian packages"
Hi, I'm having trouble with the vulkan port. That port doesn't provide anything, it checks if the Vulkan SDK is installed, and the way it does this is problematic and fails in completely valid cases.

The most common way to install the Vulkan SDK seems to be to place it under a common root dir and set (or have set
by sourcing a shipped script) the VULKAN_SDK environment variable. But this is not t

[2020-09-03 10:07] JackBoosY commented on #13292
This issue should be a source bug, see https://github.com/gwaldron/osgearth/issues/1455.

[2020-09-03 10:36] dalboris commented on #12848
Follow-up: the change is now merged upstream, so it should be available in the next version of FreeType.

See: https://git.savannah.gnu.org/cgit/freetype/freetype2.git/commit/?id=69353a19a197b0ab89b8382966c07f072fed8453