[2021-03-17 06:01] wangdaxian201 opened #16736 "about vcpkg install libmysql"
VCPKG install libmariadb:
Building package libmariadb:x64-osx failed with: BUILD_FAILED
And prompt:
CMake Error at scripts/cmake/vcpkg_download_distfile.cmake:184 (message):

Failed to download file.
If you use a proxy, please set the HTTPS_PROXY and HTTP_PROXY environment
variables to "https://user:password@your-proxy-ip-address:port/".

[2021-03-17 06:17] NancyLi1013 commented on #16732
Hi @a30f49

Thanks for posting this issue. I cannot reproduce this issue on my machine.

I noticed that there was already a related issue reported to upstream. But it seems it has no conclusion about it now.

Upstream issue https://github.com/microsoft/cpprestsdk/issues/717

[2021-03-17 06:18] PhoebeHui commented on #16735
@xorz57, could you please tell us why you want to remove this port from vcpkg?

[2021-03-17 06:24] NancyLi1013 commented on #16736
Hi @wangdaxian201

Thanks for posting this issue.

It seems that there is something wrong when downloading the file.

Could you please provide the specific filename here? Or post the full error log here.

[2021-03-17 06:25] JackBoosY commented on #16728
Can you please run command manually:
[code]

Thanks.

[2021-03-17 07:40] JackBoosY commented on #16734
cc @cenit

[2021-03-17 08:12] PhoebeHui commented on #14940
@jdx-john, have you try above suggestion? does it work for you?

[2021-03-17 09:27] shreeman1000 opened #16738 "[darknet] build failure"
**Host Environment**
- OS: [Windows 10]
-
**To Reproduce**
Steps to reproduce the behavior:
`..\vcpkg install darknet[full]:x64-windows`

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
  * bzip2[core]:x64-windows -> 1.0.8#1
  * cuda[core]:x64-windows -> 10.1#5
  * cudnn[core]:x64-windows -> 7.6#4
    darknet[core,cuda,cudnn,full,opencv-cuda,weig

[2021-03-17 10:00] SoftwareApe opened #16739 "Pre-fetch tools (e.g. CMake, ninja)"
****

**Is your feature request related to a problem? Please describe.**
On our CI Server I don't want to depend on unnecessary GitHub downloads. VCPKG on the first run will download the tools (e.g. CMake, ninja) that it needs to have to build it's packages. This is great for developers, but not so great for reliable CI builds.

Currently there's the option to use the system's binaries with the `V

[2021-03-17 10:21] PhoebeHui commented on #14251
@MrBolt2005, does this still be a problem for you?

[2021-03-17 10:51] NancyLi1013 commented on #14498
@traversaro
Thanks for your further investigation.
 Currently we can confirm that `jpegxr `has also been linked to `freeimage::FreeImage`, which can be verified via this in freeimage-target.cmake:

[code]

For the order linker, there seems no dependent relations between the link libraries. So this is not related with this point.

Now I don't know how to figure out why is not providing the required

[2021-03-17 11:08] #16739 closed

[2021-03-17 11:25] PhilLab opened #16741 "[opencv[ffmpeg]] build failure / wrong build"
**Host Environment**
- OS: [e.g. Windows/Linux etc...] Windows
- Compiler: Visual Studio 16.9.1

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install opencv[ffmpeg]:x64-windows`

**Failure logs**
-

**Additional context**
The build does not use OpenCV's prebuilt FFMPEG: https://github.com/opencv/opencv/tree/master/3rdparty/ffmpeg

Instead it tries to build ffmpeg on its own which is

[2021-03-17 12:19] xorz57 commented on #16735
Sure!
First I renamed the repository from forest to OpenDS.
Second, I need to fix my CMakeLists.txt and then I will make another pull request to include it in vcpkg.

[2021-03-17 14:38] NioGizer opened #16743 "issue with ./bootstrap-vcpkg.bat !"
hello every one
i am trying to install the vcpkg to use it with Visual Studio code and add some libraries for c/c++
i cannot get the " building vcpkg.exe" when i run the command " ./bootstrap-vcpkg.ba "
i get a " download for vcpkg.exe!?
i almost tried every thing like rebooting and reinstalling .....
here is a screen shoot for the installing process .
![image](https://user-images.githubuserconten

[2021-03-17 15:10] ChinaChenMingQuan opened #16744 "[Question] FFmpeg library, How to turn off GPL? I only need LGPL v3."
Command -> vcpkg install ffmpeg[version3]:x86-windows

Log:
Starting package 1/1: ffmpeg:x86-windows
Building package ffmpeg[avcodec,avdevice,avfilter,avformat,avresample,core,gpl,postproc,swresample,swscale,version3]:x86-windows.

Why is this so?
ffmpeg[avcodec,avdevice,avfilter,avformat,avresample,core,gpl,postproc,swresample,swscale,version3]???
ffmpeg[gpl]!!!???

[2021-03-17 15:37] shreeman1000 opened #16745 "How long does it usually take to build ' Building x64-windows-dbg' for the first time."

[2021-03-17 15:39] shreeman1000 commented on #16745
It has been running for 3 straight hours from
'-- Configuring x64-windows
-- Building x64-windows-dbg'
but hasnt moved forward

![image](https://user-images.githubusercontent.com/64922271/111495007-f6154300-8764-11eb-8ce2-4ee241846492.png)

cmake is also barely using memory 1/2 Mbps and no cpu

[2021-03-17 15:41] shreeman1000 commented on #16738
I just updated ms tools and somehow it worked maybe it was that or just because of restart i dont fully know but it worked.

[2021-03-17 15:41] #16738 closed

[2021-03-17 15:42] shreeman1000 commented on #16745
Powershell is not stuck, at least it doesnt seem to be -
![image](https://user-images.githubusercontent.com/64922271/111495535-7c318980-8765-11eb-9456-7c1d0b9ed417.png)

[2021-03-17 15:47] jdx-john opened #16746 "Problem with zlib dependency DLL on 32/64 bit build"
We are using prometheus-cpp build, which has several dependencies including zlib, zlib is the only one which produces a DLL rather than .lib: *zlib1.dll*
Our main solution has a load of different projects, most 32-bit, a few 64-bit and both depend on prometheus-cpp. Everything works fine, including automagically copying zlib1.dll into our build directory... until our software won't run when deploy

[2021-03-17 16:20] GiovanniDicanio opened #16747 "[WinReg] update to v4.0.0"
Library name: WinReg

New version number: v4.0.0

Other information that may be useful (release notes, etc...)
Library URL: https://github.com/GiovanniDicanio/WinReg

vcpkg description files (`CONTROL` and `portfile.cmake`) are in the attached .zip archive.
[winreg_vcpkg_files.zip](https://github.com/microsoft/vcpkg/files/6157945/winreg_vcpkg_files.zip)

[2021-03-17 16:50] shreeman1000 opened #16748 "[opencv4] build error"
**Host Environment**
- OS: [windows 10]

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg install darknet[full]:x64-windows`

**Failure logs**
CMake Error at scripts/cmake/vcpkg_execute_build_process.cmake:146 (message):
    Command failed: "C:/Program Files/CMake/bin/cmake.exe" --build . --config Debug --target install -- -v -j9
    Working Directory: D:/Deep_learning/yolo/vcpkg/buildtr

[2021-03-17 17:18] prizomil opened #16750 "seal:x86-windows"
Package: seal:x86-windows
  Vcpkg version: 2021-01-13-d67989bce1043b98092ac45996a8230a059a2d7e

vcpkg install seal:x86-windows
Computing installation plan...
The following packages will be built and installed:
    seal[core,ms-gsl,zlib,zstd]:x86-windows -> 3.6.2
Detecting compiler hash for triplet x86-windows...
Could not locate cached archive: C:\Users\Panos\AppData\Local\vcpkg\archives\fa\fa7aac

[2021-03-17 17:27] cenit commented on #16734
cudnn installation mismatch?
#16413 might be important to fix this issue

[2021-03-17 17:29] higurekon commented on #16734
Ah yes.

I have since found the fix and yes, my issue is a duplicate of #16413 and #16636

[2021-03-17 17:30] #16734 closed

[2021-03-17 17:52] cditto123 opened #16751 "protobuf:x86-windows build failure"
**Host Environment**
- OS: Windows
- Compiler: Visual C++ 2019 - 00435-60000-00000-AA199

**To Reproduce**
Steps to reproduce the behavior:
vcpkg install protobuf protobuf:x86-windows-static

**Failure logs**

-- Configuring x86-windows
-- Building x86-windows-dbg
-- Building x86-windows-rel
-- mt.exe has failed. This may be the result of anti-virus. Disabling anti-virus on the buildtree folder ma

[2021-03-17 17:53] StarGate-One commented on #16743
@NioGizer
- On Windows, vcpkg no longer builds the vcpkg binary from source, a prebuilt, compiled, linked binary `vcpkg.exe` is downloaded and put into the [vcpkg-root] directory.
- For all other supported platforms other than windows, vcpkg still builds the binary from source.
- If you still want to build the binary for Windows (or any other platform) from source, you will can download the source

[2021-03-17 18:22] StarGate-One commented on #16745
@shreeman1000
Port opencv can take hours, depending on features selected and the hardware it is built on (ie cpu, number of cores, memory available, disk drive type and speed, bus speed, etc).

[2021-03-17 18:26] StarGate-One commented on #16748
@shreeman1000 Please attach the aforementioned file to this issue for further review and/or troubleshooting.

[2021-03-17 18:30] StarGate-One commented on #16750
@prizomil  Please attach the aforementioned logs to this issue for further review and/or troubleshooting.

[2021-03-17 18:41] jdx-john opened #16752 "How do I specify a custom triplet in a solution-wide props file?"
I have created custom triplets x86/64-windows-custom. I have shown this works when set in Visual studio on a per-project basis, under the vcpkg project properties GUI section. It overrides the default triplets as expected.

I then removed this and and tried to add it to our main Custom.props file, which is used across our solution:
[code]
When I do this, it reverts to using the default triplets e.

[2021-03-17 18:51] jdx-john commented on #16752
Also, from vcppkg.targets, how come I never see any of these messages in my VC++ build output?

[code]

[2021-03-17 18:56] prizomil commented on #16750
[config-x86-windows-dbg-err.log](https://github.com/microsoft/vcpkg/files/6159000/config-x86-windows-dbg-err.log)
[config-x86-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/6159001/config-x86-windows-dbg-out.log)

[2021-03-17 19:03] lukedan commented on #16728
[code]

It seems that it's indeed picking up my MiniConda installation - probably related to the environment variables I've set (see the **Additional Context** in the issue description).

[2021-03-17 19:14] shreeman1000 commented on #16748
[Uploading install-x64-windows-dbg-out.log…]()

[2021-03-17 19:17] shreeman1000 commented on #16748
[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/6159142/install-x64-windows-dbg-out.log)

[2021-03-17 19:35] worm69 opened #16753 "How do I install a specific version of a lib"
How can i install a specific version of freeglut?
![imagem](https://user-images.githubusercontent.com/12191069/111527341-b98f1a80-8757-11eb-988a-fad44472cd8a.png)

[2021-03-17 19:35] meastp commented on #16615
@ras0219-msft Thank you for the explanation. So, you're saying that the first hash of the triplet_abi is computed from only the triplet file? Or could this be caused by multiple reasons? Would the difference in CMake versions 3.19.5 vs 3.19.2 contribute at all?

I would think being able to reuse the binary packages across machines is pretty important, so more documentation would help troubleshooti

[2021-03-17 19:35] ASxa86 opened #16754 "How do I use nuget caches on linux?"
I am attempting to take a nuget cache generated from an internet machine and load it into an artifactory nuget repository on an "air-gapped" network.

I have successfully gotten this to work on windows by running the following command in my project directory with a `vcpkg.json` manifest file:
`vcpkg.exe install --triplet=x64-windows --feature-flags=-compilertracking,manifests --binarysource=clear;

[2021-03-17 20:12] StarGate-One commented on #16750
From x86-windows-dbg-error.log:

From x86-windows-dbg-out.log:

[2021-03-17 20:16] StarGate-One commented on #16748
Looks like there are some unresolved symbols dealing with **cudnn**:

convolution_layer.cpp.obj : error LNK2019: unresolved external symbol cudnnGetConvolutionForwardAlgorithm referenced in function "public: __cdecl cv::dnn::cuda4dnn::csl::cudnn::ConvolutionAlgorithm<float>::ConvolutionAlgorithm<float>(class cv::dnn::cuda4dnn::csl::cudnn::Handle const &,class cv::dnn::cuda4dnn::csl::cudnn::Convolu

[2021-03-17 20:22] ASxa86 commented on #16754
So, I think I figured out my issue for anyone else who may come across this.

My problem was the use of `;` after `--binarysource=clear;`. On linux this was prematurely ending my command preventing any flags following it to be called.

[2021-03-17 22:04] #15774 closed

[2021-03-18 00:53] PhoebeHui commented on #16735
@xorz57, thanks for the information! I will submit a PR to remove this port.

[2021-03-18 01:30] gorlak opened #16756 "Docs: "manifest-root-dir" should be "manifest-root" in specifications/manifests.md"
Just a small documentation issue. The cmdline parameter to set the manifest root is misnamed in the spec. It ended up implemented as "manifest-root" / "x-manifest-root", without the "dir" suffix.

[2021-03-18 01:37] autoantwort opened #16757 "Add guide how to add/update an port to maintainer-guide.md"
I would say in 70% of the pull requests that is done wrong initially, because there is no real documentation.

So the documentation should contains the following:

### Adding/updating a port
1. Make you changes
2. Run `./vcpkg format-manifest ports/<port>/vcpkg.json` or `./vcpkg format-manifest ports/<port>/CONTROL`
2. Commit your changes
3. Run `./vcpkg x-add-version <port>`
4. `git add versions/

[2021-03-18 01:43] autoantwort commented on #16753
Have you found/read the [documentation](https://github.com/microsoft/vcpkg/blob/master/docs/examples/versioning.getting-started.md)?

[2021-03-18 02:13] NancyLi1013 commented on #16744
Hi @ChinaChenMingQuan

Thanks for posting this issue.

Since `ffmpeg `has many default features, it will be installed automatically when you build other features or only build ffmpeg itself.

You can remove default features from CONTROL file.
` Default-Features: avresample, avcodec, avformat, avdevice, avfilter, postproc, swresample, swscale`

Then you can build feature `version3 ` via .`\vcpkg in

[2021-03-18 02:35] JackBoosY commented on #16743
For Windows, due to signatures and other reasons, the bootstrap script will directly download the vcpkg binary instead of compiling it.

[2021-03-18 02:46] BookmanHan opened #16759 "[llvm] build failure"
**Host Environment**
- OS: Ubuntu 18.04
- Compiler: clang, gcc

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install llvm`

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
    llvm[clang,core,default-targets,disable-abi-breaking-checks,disable-assertions,disable-clang-static-analyzer,enable-rtti,lld,target-x86,tools]:x64-linux -> 11

[2021-03-18 03:01] kwiromeo commented on #13345
This does fix install for me as well

[2021-03-18 03:11] NancyLi1013 commented on #16757
Hi @autoantwort

Thanks for posting this issue.

Actually, there are some specifications about `format-manifest` and `x-add-version` in maintainer-guide.md.

Please see https://github.com/microsoft/vcpkg/blob/master/docs/maintainers/maintainer-guide.md#manifests

https://github.com/microsoft/vcpkg/blob/master/docs/maintainers/maintainer-guide.md#update-the-version-files-in-versions-of-any-modified

[2021-03-18 03:23] shreeman1000 commented on #16748
so what should i do to resolve this?

[2021-03-18 05:08] irenjie opened #16762 "[zlib:x64-windows] build failure"
**Host Environment**
- OS: windows10
- Compiler: cmake version 3.20.0-rc3

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg install zlib`

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
    zlib[core]:x64-windows -> 1.2.11#9
Detecting compiler hash for triplet x64-windows...
Could not locate cached archive: C:\Users\17398\AppData\Local\v

[2021-03-18 05:44] NancyLi1013 commented on #16759
Hi @BookmanHan

Thanks for posting this issue.

I can build it successfully with Ubuntu 18.04 gcc 10.0.0 on my machine.
Could you please provide the error from `/home/bookman/vcpkg/buildtrees/llvm/install-x64-linux-dbg-out.log
`?

[2021-03-18 05:58] JonLiu1993 commented on #16762
@irenjie ,CMake is not able to generate the project properly -
Check to make sure Visual Studio 2019 has the following installed:

- Desktop Development with C++
- One of the Windows SDKs, preferably the latest 19041
- English Language Pack

[2021-03-18 06:17] fabinshen commented on #15165
Hit the same issue.

[2021-03-18 06:39] ChinaChenMingQuan commented on #16744
@NancyLi1013.

Thanks, that's a great approach.

[2021-03-18 06:39] #16744 closed

[2021-03-18 06:42] hanseuljun opened #16764 "[fmt:arm64-uwp] Build failure"
**Host Environment**
- OS: Windows
- Compiler: ninja 1.10.2

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install fmt:arm64-uwp`

**Failure logs**
-Cut and past the appropriate build messages from the console output.
[code]
-Please attach any additional failure logs mentioned in the console output.
[config-arm64-uwp-out.log](https://github.com/microsoft/vcpkg/files/6161795/config-arm

[2021-03-18 06:44] JackBoosY commented on #16754
Nuget can only be used in Windows.

[2021-03-18 07:07] NancyLi1013 commented on #16741
Hi @PhilLab

Thanks for posting this issue.

1.  `The build does not use OpenCV's prebuilt FFMPEG: https://github.com/opencv/opencv/tree/master/3rdparty/ffmpeg`
  vcpkg recommends to use the port that provided in vcpkg instead of the vendor dependencies.
  Please see https://github.com/microsoft/vcpkg/blob/master/docs/maintainers/maintainer-guide.md#do-not-use-vendored-dependencies

 2.  Could you

[2021-03-18 07:32] JackBoosY commented on #16764
[code]

[2021-03-18 07:46] NancyLi1013 commented on #13078
@imikejackson

You're right, there is no need to install HomeBrew and GCC on macOS 10.15 or greater.

[2021-03-18 08:41] JackBoosY commented on #11601
Duplicated to #15130

[2021-03-18 08:41] #11601 closed

[2021-03-18 08:59] NancyLi1013 commented on #10611
Closing this issue for inactive thread. Please reopen this or open a new issue if this is still a problem for you.

[2021-03-18 08:59] #10611 closed

[2021-03-18 09:07] NancyLi1013 commented on #9817
@danieljo12

Have you tried with the latest VS2019 and vcpkg?

[2021-03-18 09:19] JackBoosY commented on #16746
Hi @jdx-john, thanks for reporting this issue!
I think you should use `X_VCPKG_APPLOCAL_DEPS_INSTALL ` to avoid this situation, please see https://github.com/microsoft/vcpkg/pull/16723.

[2021-03-18 09:21] JackBoosY commented on #16728
@lukedan Can you please uninstall Miniconda and try again?

[2021-03-18 09:23] JackBoosY commented on #16709
In this case, I think you can only use the same dependent library in vcpkg as much as possible. Vcpkg also supports building qt. Can you switch to using qt in vcpkg?

[2021-03-18 09:27] PhoebeHui commented on #13345
@kwiromeo, thanks for the information!

@cjdb, please reopen this issue if it still be a problem for you.

[2021-03-18 09:27] #13345 closed

[2021-03-18 09:37] yurybura commented on #16759
Dear @BookmanHan, could you try changes from this PR #16232 too?
Thank you.

[2021-03-18 09:51] soltkreig commented on #15256
I got the same problem. Anyone know how to solve this?

[2021-03-18 09:51] Cheney-W commented on #16750
This port currently only support !windows | (windows & static).

[2021-03-18 10:35] xarthurx opened #16769 "[New Port Request] polyscope"
Library name:
Polyscope

Library description:
Polyscope is a C++/Python viewer and user interface for 3D data, like meshes and point clouds. Scientists, engineers, artists, and hackers can use Polyscope to prototype algorithms—it is designed to easily integrate with existing codebases and popular libraries. The lofty objective of Polyscope is to offer a useful visual interface to your data via a s

[2021-03-18 10:46] JackBoosY commented on #16748
[code]

Missing link to `cudnn.lib`.

[2021-03-18 10:49] JonLiu1993 commented on #16641
Duplicate to #16748

[2021-03-18 10:49] #16641 closed

[2021-03-18 10:50] Krzmbrzl commented on #16709
We already build all of our dependencies via vcpkg (including Qt).

[2021-03-18 10:52] Krzmbrzl commented on #16709
I also wondered whether there is a way to obtain the directory of any given vcpkg package from within cmake (assuming the vcpkg toolchain file is loaded of course)? With something like that we could manually set the root dir as needed.

[2021-03-18 11:11] PhoebeHui commented on #16753
@worm69, could you please reference above docs and try again?

[2021-03-18 11:13] worm69 commented on #16753
THX @PhoebeHui @autoantwort i will try

[2021-03-18 13:06] JackBoosY commented on #16754
@ras0219 @ras0219-msft Can you please take a look?

Thanks.

[2021-03-18 13:09] JackBoosY commented on #16709
@ras0219 @ras0219-msft Do you have any ideas?

[2021-03-18 14:00] ASxa86 commented on #16754
I think I've got this working as expected. My issues was the use of a ';' in my call to '--binarysource=clear;nuget,Artifactory,read'.
I was able to resolve this by adding quotes '--binarysource="clear;nuget,Artifactory,read"'.

[2021-03-18 14:05] irenjie commented on #16762
Zlib build successful after I redownload Windows SDKs.Thinks

[2021-03-18 14:05] #16762 closed

[2021-03-18 14:08] playday3008 opened #16771 "[termcolor] update to 2.0.0"
Library name: termcolor

New version number: 2.0.0

Other information that may be useful (release notes, etc...)
https://github.com/ikalnytskyi/termcolor/releases

[2021-03-18 14:57] soltkreig opened #16772 "Building package ffmpeg:x64-windows failed with: BUILD_FAILED"
CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:105 (message):
    Command failed: C:/Users/Ruslan/vcpkg/downloads/tools/msys2/969c0913b9df89e1/usr/bin/bash.exe ./build.sh
    Working Directory: C:/Users/Ruslan/vcpkg/buildtrees/ffmpeg/x64-windows-dbg
    Error code: 1
    See logs for more information:
      C:\Users\Ruslan\vcpkg\buildtrees\ffmpeg\build-x64-windows-dbg-out.log

C

[2021-03-18 15:57] pastle-ptc commented on #16616
Hi @NancyLi1013

Now that everything has been approved, when does it get merged?  I noticed there's a bunch of Reviewed but still unmerged open PRs so wondered if I needed to do something more?

[2021-03-18 19:39] lukedan commented on #16728
I tried removing the reference to Miniconda from `PATH` and the `PYTHONHOME` environment variable, but the problem still persists. However, running the command you gave me earlier gives a different error:
[code]
- which is the same as the contents of dbg-err.log.

[2021-03-18 20:02] lukedan commented on #16728
Uninstalling Miniconda didn't help.

[2021-03-18 20:07] lukedan commented on #16728
I tried uninstalling the `python3` library in vcpkg and it didn't help either.

[2021-03-18 20:16] danieljo12 commented on #9817
Sorry i have had personal stuff going on... and i dont have a proper computer anymore so i cant really do much,,

[2021-03-18 20:16] #9817 closed

[2021-03-18 20:17] #16677 closed

[2021-03-18 20:19] #16756 closed

[2021-03-18 20:59] lukedan commented on #16728
Not sure if this is related: I'm having trouble finding Python3 as well. `find_package(Python3 CONFIG COMPONENTS Interpreter Development REQUIRED)` gives the following error:
[code]
I checked and these are the only files in `D:\Software\vcpkg\installed\x64-windows\share\python3`:
[code]

[2021-03-18 21:13] strega-nil opened #16773 "[ci] skip lists also skip host ports"
There are some ports which are host-only; these ports should be skipped on non-native triplets in CI. However, we have an issue where those skips for the target also become skips for the host.

In commands.ci.cpp, line 537, we need to check if the action is a host port or not.

[2021-03-18 22:49] lukedan commented on #16728
Update: completely deleting the `vcpkg` installation and re-cloning and re-installing seems to fix the issue. This seems to happen because I pulled the repo a while ago which broke quite a few packages. I still hope that there could be a solution to this breaking of packages when updating `vcpkg` though. Also the Python3 issue is still present (maybe I should open a separate issue?).

[2021-03-18 23:10] ultrasound1372 commented on #16448
This did not fix it, still a semicolon in the path that fails to resolve. Fresh clone from UTF-8, cp 65001.

[2021-03-19 00:27] frankhale commented on #16677
Thank you @ras0219 @NancyLi1013 !!!

[2021-03-19 01:34] NancyLi1013 commented on #9817
Thanks for your feedback @danieljo12. Please feel free to reopen this if it is still a problem for you in the future.

[2021-03-19 02:15] JackBoosY commented on #16754
Glad to see your issue was resolved.

[2021-03-19 02:15] #16754 closed

[2021-03-19 02:18] JackBoosY commented on #16728
@lukedan  BTW, did you install python3 manually?

[2021-03-19 02:27] JackBoosY commented on #16654
Yes, it's hard to solve.
See https://github.com/microsoft/vcpkg/issues/11756.

[2021-03-19 02:47] JackBoosY commented on #15130
Since the changes is huge, I think we should wait for the next release of pcl.

[2021-03-19 02:59] davidhunter22 commented on #9783
I'm pretty certain that is not sufficient. By default clang++ uses libstdc++ which is the GCC standard library. You need to pass the -stdlib=libc++ flag  to get it to use the Clang standard C++ library.
I have been using the Clang compiler with libstdc++ with no problems for a while.
If I pass the -stdlib=libc++ to my build I get link errors, also vcpkg does not rebuild any packages ( I am using a

[2021-03-19 03:04] zh1an opened #16780 "How do I run `.exe` built with QT Creator?"
When asking a question please also include where you looked for an answer (so we can update the documentation if needed).

I'm using **Qt5.15.1** built with `vcpkg`, and I use **Qt Creator** to built my application. It's compiled successfully, but When I tried to run my aplication from Qt Creator, it was failed.

![image](https://user-images.githubusercontent.com/30436038/111724967-206c1b00-88a1-1

[2021-03-19 03:09] NancyLi1013 commented on #16772
Hi @soltkreig

Thanks for posting this issue.

[code]
Do you build on cross-compiler? Please try to add the option `--enable-cross-compile` to rebuild.

[2021-03-19 03:14] zh1an commented on #16780
I'm solved this.

Just copy `<vcpkg_installed_dir>/plugins/platforms` to execution dir.

Maybe it's also set in qmake, so I have no need to copy it every new project.

[2021-03-19 03:45] shreeman1000 commented on #16748
I checked but i had installed cudnn as showing in the documentation by copy pasting the files in the correct directory cuda lib, include, bin so how should i resolve it?

[2021-03-19 06:07] JonLiu1993 commented on #16116
@Shreeshrii ,Is this still a problem for you？

[2021-03-19 06:23] #16780 closed

[2021-03-19 07:03] PhoebeHui commented on #16752
@ras0219-msft, any suggestions?

[2021-03-19 07:06] nakag2020 opened #16782 "[vcpkg uprade] Cannot continue update after build failure?"
**Describe the bug**
After a build failure, `.\vcpkg uprade` does not work, I suppose.

**Environment**
- OS: Windows
- Compiler: Visual Studio 2017

**Expected behavior**
The second time `.\vcpkg upgrade --no-dry-run` should restart downloading and updating.

**Additional context**
The console session:

[code]
Probably my network did not work temporarily. I can download https://sqlite.org/2021/sq

[2021-03-19 07:10] JonLiu1993 commented on #15705
@JoseAmancio5597851 ,Is this still a problem for you?

[2021-03-19 07:26] NancyLi1013 commented on #16782
Hi @nakag2020

Thanks for posting this issue.

[code]
This is not related with upgrade. Seems something wrong with your network.

You can try to build it again. If it still failed, please download it manually, and then copy the archive to _downloads_/ folder.

[2021-03-19 07:28] PhoebeHui commented on #16224
@IceCodeNew, please attach the above logs and reopen this issue if it still be a problem for you.

[2021-03-19 07:28] #16224 closed

[2021-03-19 07:33] NancyLi1013 commented on #13881
Hi @cbuchart and @RisingMichael

Sorry for the long delay.

The installing of `concave_hull.h` requires `qhull`. Currently, there seems something wrong with finding `qhull`. I will look into this issue in these days. Also will update the status here.

[2021-03-19 08:09] TaeZStkyoht commented on #16695
It is a very useful library.

[2021-03-19 08:13] JorgeRomeoInfaimon commented on #15130
Understood. Thanks for your hard work!

[2021-03-19 08:53] #16518 closed

[2021-03-19 09:37] #16607 closed

[2021-03-19 09:38] Shreeshrii commented on #16116
@JonLiu1993 Yes. It still fails. Please see https://github.com/Shreeshrii/tesseract/runs/2147039594?check_suite_focus=true

I am cloning vcpkg repo and building. I have tried with diff Xcode compilers.

Can you try building it without using the cached packages?

[2021-03-19 10:28] JackBoosY commented on #16678
Sorry for late, can you please provide failure log _X:\Big_Code\vcpkg\buildtrees\poco\config-x64-windows-out.log
_?

Thanks.

[2021-03-19 11:38] jwillemsen commented on #13947
https://github.com/macports/macports-ports uses a combination of email and github account, a bot can easily mention the maintainers in a new comment

[2021-03-19 12:24] cdecompilador commented on #16718
Here with the same error having VS2019 installed

[2021-03-19 13:26] sfhacker commented on #9817
There are dozens of reports about zlib. Issues get never fixed properly. Closed issues are reopened after some time.
zlib is such a tiny and simple project. It takes nothing to build and install from source. Indeed embarrassing!

[2021-03-19 14:14] JackBoosY commented on #16748
@shreeman1000 Can you please provide configure log _D:\Deep_learning\yolo\vcpkg\buildtrees\opencv4\config-x64-windows-dbg-out.log_  and _D:\Deep_learning\yolo\vcpkg\buildtrees\opencv4\config-x64-windows-dbg-err.log_ ?

[2021-03-19 14:16] shreeman1000 opened #16784 "[opencv4] build failure"
**Host Environment**
- OS: [windows 10]
- Compiler: VC2019 latest version

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install darknet[full]:x64-windows`

**Failure logs**
CMake Error at scripts/cmake/vcpkg_execute_build_process.cmake:146 (message):
    Command failed: "C:/Program Files/CMake/bin/cmake.exe" --build . --config Debug --target install -- -v -j9
    Working Directory: D

[2021-03-19 14:25] #16784 closed

[2021-03-19 14:29] shreeman1000 commented on #16748
[config-x64-windows-out.log](https://github.com/microsoft/vcpkg/files/6171796/config-x64-windows-out.log)

config-x64-windows-dbg-err.log file is empty and above is the config-x64-windows-dbg-out.log file

[2021-03-19 14:30] shreeman1000 commented on #16748
These files are not present in the folder opencv4 the ones present are-
[config-x64-windows-out.log](https://github.com/microsoft/vcpkg/files/6171811/config-x64-windows-out.log)
config-x64-windows-out.log attached above
and config-x64-windows-err.log which is empty

[2021-03-19 15:21] autoantwort commented on #16237
Works now

[2021-03-19 15:21] #16237 closed

[2021-03-19 15:36] johan-forsberg opened #16785 "Package soil fetches from a dead website."
Error: Building package soil:x86-windows failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `.\vcpkg update`, then
submit an issue at https://github.com/Microsoft/vcpkg/issues including:
  Package: soil:x86-windows
  Vcpkg version: 2021-01-13-d67989bce1043b98092ac45996a8230a059a2d7e

[2021-03-19 15:49] autoantwort commented on #16785
Is [this](https://github.com/littlstar/soil) the same library?

[2021-03-19 15:57] johan-forsberg commented on #16785
Yes, or a newer version. Is it available with vcpkg

[2021-03-19 16:50] #16720 closed

[2021-03-19 16:55] #16695 closed

[2021-03-19 16:55] #16747 closed

[2021-03-19 18:19] vkphd opened #16786 "[protobuf:x64-windows] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: MSVC 2017

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install protobuf:x64-windows`

**Failure logs**

CMake Error at scripts/cmake/vcpkg_execute_build_process.cmake:146 (message):
    Command failed: "C:/Program Files/CMake/bin/cmake.exe" --build . --config Debug --target install -- -v -j13
    Working Directory: C:/temp/vcpkg/buil

[2021-03-19 19:47] autoantwort commented on #16773
Is this also the reason why [here](https://dev.azure.com/vcpkg/public/_build/results?buildId=50659&view=logs&jobId=67167230-dc6a-522f-6bed-e189fa130338&j=a6e72ce0-e588-59fa-ea7b-9242eb853448&t=04a839e0-5dca-5a72-6942-c706553e040e) the mailio port was not build? (And now the pipeline in other PR fails)

[2021-03-19 19:58] autoantwort commented on #16773
Is this also the reason why in the mailio pr (#16696) the pipeline succeeded because the port was not tested but in reality the port does not build on uwp?

[2021-03-19 20:11] autoantwort commented on #16785
I just discovered that there is already a soil2 package

[2021-03-19 20:21] autoantwort commented on #16785
And i have found #13008

[2021-03-19 20:22] coryan opened #16790 "A bootstrapped vcpkg tool `version` command should match the downloaded version"
**Is your feature request related to a problem? Please describe.**

As I write this, the bootstrap script downloads version `2021-02-24-d67989bce1043b98092ac45996a8230a059a2d7e`:

https://github.com/microsoft/vcpkg/blob/9986c28da97f316fe3c79be0538af8f46a200796/scripts/bootstrap.sh#L279

However, once bootstrapped the `version` command reports:

[code]

That seems confusing to me.

**Proposed solut

[2021-03-19 21:06] smoked-herring opened #16793 "How do I use check_c_source_runs() with link dependencies?"
Hi!

I have a small C library which depends on TIFF library. I'd like to detect TIFF runtime (not compile-time) capabilities in my `CMakeLists.txt`. I use `check_c_source_runs()` and link the test against tiff like that:

[code]

The problem is that when I try to build and install my lib as a port (`vcpkg install mylib`), `check_c_source_runs()` fails as it cannot find `tiff.dll`. TIFF is installe

[2021-03-19 21:33] vkphd commented on #16786
A few comments: 1) The build location is in a local folder, 2) I have admin permissions, 3) this is a repeatable error.

[2021-03-19 21:34] vkphd commented on #16786
I have updated my Visual Studio to 2019 and this issue is resolved when using VS2019. However, I believe that it is a repeatable issue for me when using VS2017.

[2021-03-19 21:38] autoantwort commented on #16786
Strange, but it seems that you are not the only one: see [here](https://github.com/microsoft/vcpkg/issues/11075#issuecomment-622723979)

[2021-03-20 00:34] electron271 opened #16797 "[<port name>] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: Unknown

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install GTKmm`

**Failure logs**
  Package: expat:x86-windows
  Vcpkg version: 2020.11.12--unknownhash

[2021-03-20 00:34] #16797 closed

[2021-03-20 00:38] electron271 opened #16798 "GTKmm build failure"
**Host Environment**
- OS: Windows
- Compiler: CMake

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install GTKmm`

**Failure logs**
[code]

**Additional context**
I do not know what builder I was using, but close to the error, I found the word CMake a lot.

[2021-03-20 01:51] celadaris commented on #15333
hi, sorry for the delay as well. I'm not really sure I understand your latest post because i feel as though the information your asking for has already been presented from when i posted the video. Perhaps it was hard to understand because this is one of the very few times that ive ever tried to work out a code related problem with someone so my posts may not be very well thought out.

I'll try to

[2021-03-20 02:05] HungMingWu opened #16800 "How do I Combine manifest and cross compiling"
I try to use vcpkg  for embedded system.
So I have an experimental like this
Write `vcpkg.json`
[code]
Create my own triplet
[code]
Use cmake integrate vcpkg
[code]
My CMakefile.txt is
[code]
I met the following error

[code]

Without custom tripleet, it works well, the libfmt.a generate on `vcpkg_installed` directory

Could someone give me a help?

[2021-03-20 02:08] electron271 commented on #16798
So.. I ran again soon after a while.. it worked finally. I don't know what happened there

[2021-03-20 02:08] #16798 closed

[2021-03-20 03:00] levinli303 opened #16801 "Cannot use gettext in UWP application"
**Describe the bug**
When I try to use gettext in a UWP application, the application failed to start.

**Environment**
- OS: Windows 10 20H2
- Compiler: VS 2019

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install gettext:x64-uwp
2. Create a new project, UWP app, C++/CX
3. #include <intl.h> and use gettext somewhere in code
4. Build and run

**Expected behavior**
Should run withou

[2021-03-20 14:52] rrozema commented on #16311
I think this is caused by a buffer overrun in _freeze_importlib.c: The build log reports a weird return value -1073741515 when executing _freeze_importlib.exe, whereas the code only returns 0, 1 or 2.

       "C:\github\rrozema\domoticz\msbuild\vcpkg\buildtrees\python3\x86-windows-rel\v3.9.2-cc9ebdcfd9\PCbuild\_freeze_importlib.vcxproj" (Build target) (2:2) ->
       (_RebuildImportLib target) ->

[2021-03-20 17:36] electron271 opened #16803 "GTKmm update to 4.0"
Library name:
GTKmm
New version number:
4.0

[2021-03-20 23:45] electron271 commented on #16803
#16457

[2021-03-20 23:46] electron271 commented on #16803
#16457

[2021-03-20 23:52] electron271 commented on #16803
#13100 may resolve this issue when merged.

[2021-03-21 03:07] suifeng0000 opened #16808 "ethash"
Library name:

Library description:

Source repository URL:

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2021-03-21 03:08] suifeng0000 commented on #16808
https://codeload.github.com/chfast/ethash/zip/refs/heads/master

[2021-03-21 03:37] JoshuaKast opened #16809 "[vcpkg-gfortran] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: Microsoft (R) C/C++ Optimizing Compiler Version 19.28.29337 for x86

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install vcpkg-gfortran:x64-windows`

**Failure logs**
[code]

[code]

**Additional context**
[code]
* Have tried `.\vcpkg update` with no change
* We note that `msys-mingw-w64-x86_64-libiconv-1.16-1-any.pkg.tar.xz` does no

[2021-03-21 10:22] JackBoosY commented on #16311
@rrozema  According to your message, I think this is a upstream bug.
I will report it later.

[2021-03-21 13:20] HppZ opened #16811 "[protobuf] build failure"
Starting package 1/5: protobuf:x86-uwp
Building package protobuf[core]:x86-uwp...
-- Using community triplet x86-uwp. This triplet configuration is not guaranteed to succeed.
-- [COMMUNITY] Loading triplet configuration from: C:\Users\haopeng\Documents\UserName\code\opensource\vcpkg\triplets\community\x86-uwp.cmake
-- Using cached C:/Users/haopeng/Documents/UserName/code/opensource/vcpkg/downloads

[2021-03-21 14:13] ndcroos opened #16812 "[secp256k1-zkp] build failure: The port directory does not exist"
**Host Environment**
- OS: Debian 10
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install secp256k1-zkp`

**Failure logs**

Computing installation plan...
Error: while loading secp256k1-zkp:
The port directory (<my project directory>/vcpkg/ports/secp256k1-zkp) does not exist
Error: failed to load port from <my project directory>/vcpkg/ports/secp256k1-zkp
Note: U

[2021-03-21 16:09] autoantwort commented on #16811
Please install protobuf:x86-windows first.

Have you read the error message? :)

[2021-03-21 16:10] autoantwort commented on #16812
There is no port `secp256k1-zkp`

[2021-03-21 16:15] kcgen opened #16813 "[New Port Request] libmt32emu"
**Name**:  libmt32emu

**Description**: libmt32emu is a stand-alone C and C++ library within the MT-32 emulator Munt software package. It's used in several game packages including ScummVM and DOSBox Staging.

**Source URL**: https://github.com/munt/munt/tree/master/mt32emu (the library sub-project)

**Project homepage**: https://github.com/munt/munt

**Helpful information:**

Munt is a Cmake proje

[2021-03-21 16:19] lpiert opened #16814 "[boost-compatibility] build failure"
Package: boost-compatibility:x86-windows
  Vcpkg version: 2021-01-13-d67989bce1043b98092ac45996a8230a059a2d7e

[2021-03-21 17:25] autoantwort commented on #16813
Do you use specific versions or simply the master branch?

[2021-03-21 17:48] kcgen commented on #16813
Thanks @autoantwort!

We prefer to use the latest current release.

The authors release updated versions roughly three times a year, and use a backward-compatible versioned API scheme.

[2021-03-21 17:51] autoantwort commented on #16813
Ok, so the [latest release](https://github.com/munt/munt/releases) tag for `libmt32emu` is `libmt32emu_2_4_2`?

[2021-03-21 17:51] autoantwort commented on #16814
Without an error log it is hard to help

[2021-03-21 17:52] kcgen commented on #16813
Thanks for the clarification (I mentioned 2.4.0 above, but that's for the entire project).

Yes, `libmt32emu_2_4_2` for `libmt32emu`.

[2021-03-21 18:15] omartijn commented on #16637
Unless I'm misunderstanding something, the issue category "community triplet" is for issues where a community triplet doesn't work for some port. That's not the case here. Multi-arch triplets don't work _at all_, due to a bug in vcpkg.

I believe the issue category is therefore wrong. It's a vcpkg bug, not a triplet bug. Can this be changed?

[2021-03-21 18:39] ndcroos commented on #16812
Thanks, maybe it is an idea to request one.

[2021-03-21 18:39] #16812 closed

[2021-03-21 18:40] ndcroos opened #16817 "[New Port Request] secp256k1-zkp"
Library name: secp256k1-zkp

Library description: experimental fork of libsecp256k1 with support for pedersen commitments and range proofs.

Source repository URL: https://github.com/ElementsProject/secp256k1-zkp

[2021-03-21 23:53] JackBoosY commented on #16811
Should change to host port.

[2021-03-22 00:08] JackBoosY commented on #16786
[code]
Please clone vcpkg in non-system partition, close your anti-virus and try again.

Thanks.

[2021-03-22 00:17] JackBoosY commented on #16814
Please provide output in Powershell and provide the failure logs.

Thanks.

[2021-03-22 00:55] seckujdivad commented on #16797
Hi, did you manage to fix this? I have started getting the same error (on the same package and version) using the following: gtest
wxwidgets
glm
opengl
nlohmann-json
glew
--triplet
x86-windows

[2021-03-22 02:17] ahmedyarub commented on #16647
I could fix my problem with this commit:
https://github.com/microsoft/vcpkg/pull/15725/commits/cc88407a24dd8eb35678fb30c08a6011bdb5e6df

[2021-03-22 02:29] JonLiu1993 commented on #16116
@Shreeshrii ,I repo vcpkg on my local machine, and rebuilt Leptonica, it can be successfully built, I read your build log, it seems that it is related to your build environment

[2021-03-22 02:34] Shreeshrii commented on #16116
Thanks for checking @JonLiu1993 .
Which Xcode compiler did you use?

[2021-03-22 05:43] JackBoosY commented on #16801
Confirmed.

[2021-03-22 05:53] JackBoosY commented on #16809
`Status: 28;"Timeout was reached"`
Please use proxy to download these msys2 components.

Thanks.

[2021-03-22 06:48] JackBoosY commented on #16748
[code]

[2021-03-22 07:06] mak63-dev opened #16823 "CMAKE fatal error C1083: Cannot open include file: 'pthread.h'"
**Describe the bug**
Building code with CMAKE and the flag -pthread crashes with "fatal error C1083: Cannot open include file: 'pthread.h'"

The packages  'pthreads' and 'pthread' were installed with vcpkg and the fie 'pthread.h' is in the installation path

**Environment**
- OS: Windows 10
- Compiler: MSVC 19.28.29913.0

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install python3

[2021-03-22 07:54] mak63-dev commented on #16823
Actually the flag -pthread doesn't seem to be the cause, the crash occurs even without this flag explicitly

[2021-03-22 08:47] levinli303 commented on #16801
I tried to use libiconv only and it led to the  same error.

[2021-03-22 08:47] JonLiu1993 commented on #16116
@Shreeshrii ，I investigated my local machine, but it did not use xcodebuild：
Clang: 12.0 build 1200
Git: 2.24.3 => /Library/Developer/CommandLineTools/usr/bin/git
Curl: 7.64.1 => /usr/bin/curl
macOS: 11.1-x86_64
CLT: 12.3.0.0.1.1607026830
Xcode: N/A
XQuartz: 2.7.11 => /opt/X11

[2021-03-22 09:26] JackBoosY commented on #16793
Hi @smoked-herring, thanks for reporting this issue!
Since I can't repro this issue, can you provide me a minum sample project?

Thanks.

[2021-03-22 09:31] JackBoosY commented on #16823
`fatal error C1189: #error:  NOCXX11`

[2021-03-22 09:38] Shreeshrii commented on #16116
Thank you. Appreciate the investigation.
I am building in macOS 10.15 vm. I will try with clang and share results.

[2021-03-22 09:40] smoked-herring commented on #16793
Hi! Just install `sail` with a non-static triplet. It's crucial to install 0.9.0-pre11 to demonstrate the issue. For example:

[code]

What happens under the hood: SAIL checks for TIFF runtime capabilities with `check_c_source_runs()`. However, all calls to `check_c_source_runs()` fail with exit code `0xc0000135` because `tiff.dll` cannot be found.

[2021-03-22 10:01] shreeman1000 commented on #16748
I had build opencv4.5.1 (for trying to build darknet with cmake) too is this clashing with that or something?

[2021-03-22 13:07] JoshuaKast commented on #16809
There is no problem with my connection to any of these mirrors. I can access and download files from any of the mirrors that vcpkg has tried.

Problem is that the file the vcpkg requests, called "msys-mingw-w64-x86_64-libiconv-1.16-1-any.pkg.tar.xz" **does not exist on any mirror**. We now have a new version of this file, called "msys-mingw-w64-x86_64-libiconv-1.16-**2**-any.pkg.tar.xz".

[2021-03-22 13:43] JoshuaKast commented on #16809
Additionally note that I can install a package such as `libxml2` with no issue. It also depends on `libiconv`, but requests the correct version from the msys mirror.

[2021-03-22 13:54] mak63-dev commented on #16823
thanks

[2021-03-22 13:54] #16823 closed

[2021-03-22 14:25] fly2sky2018 commented on #12107
meet the same problem. how to use xInt....

1)Cmake erro at
Configuring done.
but can’t generate xInt lib and dll… Please Help ~ thx

Erro is below:

CMake Error at third-party/libstudxml.build/CMakeLists.txt:52 (add_library):
** Cannot find source file:**

** C:/xlnt-master/third-party/libstudxml/libstudxml/parser.cxx**

** Tried extensions .c .C .c++ .cc .cpp .cxx .cu .mpp .m .M .mm .h .hh .h++.

[2021-03-22 15:58] autoantwort opened #16826 "--only-downloads fails in manifest mode with boost"
**Describe the bug**
The downloading fails if you use `--only-downloads` and manifest mode

**Environment**
- OS: All
- Compiler: all

**To Reproduce**
Steps to reproduce the behavior:
1. create vcpkg.json file with dependency to boost-system
1. ./vcpkg install --feature-flags=manifests --only-downloads --downloads-root=vcpkg-downloads
2. See error

**Expected behavior**
Download as normal

**Fail

[2021-03-22 16:22] #16771 closed

[2021-03-22 16:34] autoantwort opened #16827 "Use download cache also for tools"
There is the option `--only-downloads` to download all files necessary to build the package. You can copy the complete dir to another machine that don't has internet as proposed in #16391. But if you only copy the compressed archives and not the files in `tools/*`, vcpkg tries to download these files again even though they are already there.
I propose that vcpkg should not download the archives fo

[2021-03-22 16:54] autoantwort opened #16828 "Copy cache results between binary sources"
For example, we have a network drive as binarysource and also the default source. If now a developer build the first time, the binary cache from the network drive is used. But if we now disconnects from the network, switches branches back and forth, he has to build the packages from source because the binary cache was not copied to the local drive.
****

**Is your feature request related to a prob

[2021-03-22 17:40] acgetchell opened #16829 "Specify triplet in manifest mode"
****

**Is your feature request related to a problem? Please describe.**
The package `cgal` requires `gmp`, which on Windows requires `yasm-tool:x86-windows`, even when building using `x64-windows`. The `vcpkg.json` file does not have an option to set this.

**Proposed solution**
A triplet attribute, e.g.
[code]

**Describe alternatives you've considered**
I have to build in classic mode, but it g

[2021-03-22 18:54] Thieum commented on #14985
3.5.1 is now available: https://github.com/libarchive/libarchive/releases/tag/3.5.1

[2021-03-22 19:13] Pospelove commented on #16829
@acgetchell
Hey! Just seen your issue and it seems that I have a workaround for you.

1. Create a [custom triplet.](https://github.com/skyrim-multiplayer/skyrim-platform/blob/ed5fd257af3bbeccdb54f567d42788ae07514ec6/overlay_triplets/x64-windows-sp.cmake) In my case I need to link everything statically except Chakracore.
[code]
2. Tell vcpkg where is your custom triplet located. In my case, I have

[2021-03-22 19:16] autoantwort commented on #16829
Maybe you want to set the [VCPKG_DEFAULT_HOST_TRIPLET](https://github.com/microsoft/vcpkg/blob/master/docs/users/config-environment.md#vcpkg_default_host_triplet) variable

[2021-03-22 19:26] autoantwort commented on #16829
But I think you depend on #16478

[2021-03-22 21:01] #16504 closed

[2021-03-22 21:56] wrobelda opened #16830 "[xmlsec] Add missing pkgconfig file"
**Is your feature request related to a problem? Please describe.**

xmlsec misses the pkgconfig file, which the upstream provides. This makes it problematic for software that doesn't use CMake. Moreover, if xmlsec was installed by the OS package manager (or Homebrew), it will get picked instead.

**Proposed solution**
Add the `xmlsec.pc` and `xmlsec-openssl.pc` to installed files.

[2021-03-22 22:11] acceleratxr commented on #14577
I'm getting this same error (PCRE) when trying to compile for Linux on Ubuntu WSL 20.04 using master HEAD.

[2021-03-22 22:19] #16252 closed

[2021-03-22 22:40] #16464 closed

[2021-03-22 22:52] #16529 closed

[2021-03-22 23:26] autoantwort opened #16831 "Write a guide for libary writers"
Libraries must support different thinks when they should be in vcpkg. @strega-nil you said a little bit about it in the cpp cast.
1. They should prefer cmake.
2. They must support out of source dependencies.
3. There must be an explicit way to enable/disable dependencies when they are optional.
4. They should respect `BUILD_SHARED_LIBS`
5. `vcpkg_fixup_cmake_targets` should be necessary

Maybe als

[2021-03-22 23:28] jamiehankins opened #16832 "[libusb] Use Visual Studio 2019 for Platform v142"
In the portfile.cmake file, there's this:
[code]
I changed it locally to 2019, and it seems to work fine. Is there a solid reason for forcing it to use the 2017 sln file?

[2021-03-22 23:46] strega-nil commented on #16831
@autoantwort This is one of those things that would be really nice, but isn't _really_ a vcpkg thing; it's more of a C++ community at large thing. I do wonder if we could contribute to it tho.

[2021-03-23 02:29] PhoebeHui commented on #14577
@acceleratxr, it may due to the patch appiled fail with master HEAD, you may need to patch the source manually by reference the exist patches. BTW, please open a new issue instead of commenting on a closed issue, we may miss the thread.

[2021-03-23 04:38] soltkreig commented on #16011
Did anyone solve this trouble? I can't install darknet on local machine

[2021-03-23 06:05] JonLiu1993 commented on #16581
@KillJoke ,Have you tried the advice I gave you?

[2021-03-23 06:08] JonLiu1993 commented on #16484
@acceleratxr ，Have you tried the advice @JackBoosY gave you?

[2021-03-23 06:36] JonLiu1993 commented on #16412
Hi @SyntheseyResine ，What you installed is not caffe2:x64-windows, caffe2 does not support caffe2:x84-windows, please use the command. ./vcpkg install caffe2:x64-windows

[2021-03-23 06:36] #16412 closed

[2021-03-23 06:43] JonLiu1993 commented on #16253
@Prince3141 ,Have you tried the advice that @JackBoosY  and I gave you? Has this problem been resolved?

[2021-03-23 06:44] #16417 closed

[2021-03-23 06:51] NancyLi1013 commented on #16832
Hi @jamiehankins

Thanks for posting this issue. I can also build it successfully with Visual Studio 2019.

@cenit
Could you please help confirm why you use 2017 instead of 2019 here?

Thanks.

[2021-03-23 06:52] JonLiu1993 commented on #16042
@thschneider-lgn ，Has this problem been solved?

[2021-03-23 06:53] #16042 closed

[2021-03-23 06:54] cenit commented on #16832
because MSVS_VERSION (a variable defined by the project) equal to 2019 was not resolving into anything back in time. Is it now?

[2021-03-23 06:55] JonLiu1993 commented on #16026
@IIFE ,I will close this issue, if you still have questions, please reopen the issue

[2021-03-23 06:55] #16026 closed

[2021-03-23 06:58] JonLiu1993 commented on #15923
@kgday ,I will close this issue, if you still have questions, please reopen the issue

[2021-03-23 06:58] #15923 closed

[2021-03-23 07:04] NancyLi1013 commented on #16736
@wangdaxian201

Is this still a problem for you? If yes, please provide the full error log here.

[2021-03-23 07:06] NancyLi1013 commented on #16640
@cdcseacave

Is this still a problem for you?

[2021-03-23 07:08] NancyLi1013 commented on #16571
Closing this issue for now. Please open a new issue if you still have the request to add Cuda Runtime api as a new port.

[2021-03-23 07:08] #16571 closed

[2021-03-23 07:14] NancyLi1013 commented on #13344
@deleeuwict

Is this still a problem for your after update to the latest version?

[2021-03-23 07:17] jamiehankins commented on #16832
@cenit it's used to select the correct project file. Maybe the 2019 one wasn't available before. It is now.

[2021-03-23 07:17] PhoebeHui commented on #16790
Related to https://github.com/microsoft/vcpkg/issues/16441, the VCPKG_BASE_VERSION also wrong on windows.

[2021-03-23 07:22] NancyLi1013 commented on #16832
@cenit and @jamiehankins Thanks for your clarification and information.
Seems the current version has supported Visual Studio 2019. So I think we can use 2019 now. I will create a PR to fix it later.

[2021-03-23 07:47] NancyLi1013 commented on #16832
@jamiehankins Sorry, I noticed your information just now. I have submitted a PR to fix this. Factually, we're glad to see that contributors can joining with us. So you can do this work if you would like next time.

[2021-03-23 08:12] JonLiu1993 commented on #15853
@bluetw ,Thanks for posting this issue. Please reopen this issue if it still be a problem for you.

[2021-03-23 08:12] #15853 closed

[2021-03-23 08:18] JonLiu1993 commented on #15842
@sambeebe ,Thanks for posting this issue. Please reopen this issue if it still be a problem for you.

[2021-03-23 08:18] #15842 closed

[2021-03-23 08:20] JonLiu1993 commented on #14251
@MrBolt2005 ,Thanks for posting this issue. Please reopen this issue if it still be a problem for you.

[2021-03-23 08:20] #14251 closed

[2021-03-23 08:26] JackBoosY commented on #16829
Yes, #16478 will solve this issue.

[2021-03-23 08:26] JonLiu1993 commented on #14362
@zliuchen ,does this still be a problem for you?

[2021-03-23 08:27] JonLiu1993 commented on #14690
@gwnet ,does this still be a problem for you?

[2021-03-23 08:47] PhoebeHui commented on #16826
Boost-uninstall is a empty package which doesn't depend on any ports, so in this case, it fail to download the source with --only-downloads in manifest mode.

@strega-nil, @vicroms, could you please take a look?

[2021-03-23 08:57] pengliaoye opened #16840 "[apr] provides CMake targets"
****

**Is your feature request related to a problem? Please describe.**
vcpkg install apr,
don't display find_package and target_link_libraries  cmake info

**Proposed solution**
support and display find_package  and target_link_libraries  config

**Describe alternatives you've considered**

**Additional context**.

[2021-03-23 09:26] PhoebeHui commented on #16800
@HungMingWu, could you add 'find_package(fmt CONFIG REQUIRED)' before 'target_link_libraries(CMakeTemplate
PRIVATE  fmt::fmt)' and try again?

[2021-03-23 09:30] pengliaoye commented on #16840
@JonLiu1993 also add apr_util package CMake targets

[2021-03-23 09:31] cdcseacave commented on #16640
yes, it is

[2021-03-23 09:33] cdcseacave commented on #16630
is really no one interested in using boost on arm64?

[2021-03-23 09:34] cdcseacave commented on #16580
any updates here pls?

[2021-03-23 09:34] JonLiu1993 commented on #16840
@pengliaoye ,Please reopen an issue. Regarding apr_util, this issue only solves apr

[2021-03-23 09:36] HungMingWu commented on #16800
Yes, I add the line in  the root CMakeLists.txt, so it works well at Windows and linux-x64 build

[2021-03-23 09:37] NancyLi1013 commented on #15818
@wmeister and @hgbutte

Please let me know if this is still a problem for you.

[2021-03-23 09:39] PhoebeHui commented on #16800
Good to know!

[2021-03-23 09:39] #16800 closed

[2021-03-23 09:58] PhoebeHui commented on #16637
@omartijn, sorry for misunderstand the issue, could you attach full failure log?

I'm not sure if it supports in vcpkg now, @vicroms, could you help confirm?

[2021-03-23 10:10] tfaehse commented on #16748
I seem to be facing the same issue, or at least something related. If there's anything I can test or provide you with, do not hesitate to ask. I'm trying to `vcpkg install darknet[full]:x64-windows`

- Windows 10, 5820K, GTX 1060 6GB
- Vcpkg version 2021-01-13-d67989bce1043b98092ac45996a8230a059a2d7e
- CUDA Toolkit 11.1
- cuDNN 8.0.5
- CUDA_PATH is set

cuDNN seems to work fine, I can use GPU acce

[2021-03-23 10:17] longnguyen2004 commented on #16663
Probably a problem with icu itself, but I haven't tried building icu statically before, I'll give it a try.

[2021-03-23 10:22] autoantwort commented on #16663
The problem is that icu does not detects that it is build with mingw and then uses `\` as path separator and calls `bash -c "gcc.exe ... ./out/tmp\icudt67l_dat.S"`. Then `./out/tmp\icudt67l_dat.S` gets to `./out/tmpicudt67l_dat.S`  because \ is a excape sequence in bash

[2021-03-23 10:29] autoantwort commented on #16630
Seems not, because x64 just works, but I have created an issue at boost-build

[2021-03-23 10:30] PhoebeHui commented on #15291
@xandox, could you help confirm if it still be a problem with vcpkg latest source? It should be fixed now.

[2021-03-23 10:33] xandox commented on #15291
Ok. I will check it out and let you know.

On Tue, 23 Mar 2021 at 11:30, Phoebe ***@***.***> wrote:

--
с Уважением Аржанников Илья

[2021-03-23 10:36] JackBoosY commented on #16809
@JoshuaKast  We can download it successfully:
[code]

@cenit Can you please take a look?

Thanks.

[2021-03-23 10:39] ctgeorge opened #16841 "[CGAL] build failure"
Hi,
I'm very new to installing this sort of stuff, but I'm having problems installing CGAL - I get the error messages
[code]
Additionally, attach any relevant sections from the log files above.

Thanks
Charles

[2021-03-23 11:31] hgbutte commented on #15818
@NancyLi1013

Now i understand the problem.
I haven't realized that it is looking for sqlpp11:x86-windows-static. Output isn't very verbose on this, just telling that it cannot find sqlpp11.
But thank you for your information. Problem solved so far.

[2021-03-23 12:29] cdcseacave commented on #16630
yes, I confirm that by removing that line it works on arm64

[2021-03-23 12:47] FrankBau opened #16844 "[protobuf:x64-windows] build failure - hangs in Building x64-windows-rel"
**Host Environment**
- OS: Microsoft Windows [Version 10.0.18363.1441]
- Compiler: Microsoft Visual Studio Community 2019 Version 16.9.2
- vcpkg commit: 2bc10eae2

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install protobuf:x64-windows`

**Failure logs**
-Cut and past the appropriate build messages from the console output.
The build hangs at the last line:
[code]

**Additional cont

[2021-03-23 14:02] aee11 commented on #16615
I also encountered the `error : corrupt patch at line 39` on the `libpq` `win_bison_flex.patch`. That file has LF line endings under `ports/libpq` but under the versioning directory `C:/vcpkg/buildtrees/versioning/versions/libpq/04f39fd5eb9744d0d5a649098fe92281028d30f1/patches/windows/win_bison_flex.patch` has CRLF endings.  I manually changed the patch's line endings under the `versions/libpq` fo

[2021-03-23 14:46] yurybura opened #16846 "[bzip2] build failure"
**Host Environment**
- OS: Ubuntu 16.04.7 LTS (WSL)
- Compiler: gcc (Ubuntu 7.5.0-3ubuntu1~16.04) 7.5.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install bzip2`

**Failure logs**
Starting package 1/1: bzip2:x64-linux
Building package bzip2[core]:x64-linux...
-- Fetching https://sourceware.org/git/bzip2.git...
CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:105 (

[2021-03-23 15:14] JoshuaKast commented on #16809
Installation appears to be working now for me on a separate installation of vcpkg.

Downloading of `mingw-w64-x86_64-libiconv-1.16-1-any.pkg.tar.xz` still fails from the `https://repo.msys2.org/` mirror. It succeeds from the `https://www2.futureware.at/` mirror. Perhaps the latter mirror was down when I was trying to load?

Nonetheless, if `mingw-w64-x86_64-libiconv-1.16-1-any.pkg.tar.xz` is not p

[2021-03-23 16:23] TheJCAB commented on #8163
I have also been struggling with the concept of integrating vcpkg as a toolchain file. It's... uncomfortable if nothing else. It would be great to see a good resolution to this question.

In my opinion, please either document how to accomplish vcpkg integration via find_package() or include() after project(), stating any resulting drawbacks or incompatibilities, or document the reasons why a toolc

[2021-03-23 16:55] acceleratxr commented on #16484
@JonLiu1993 @JackBoosY Yes I tried that. No difference.

[2021-03-23 17:43] jamiehankins commented on #16832
@NancyLi1013 oh, no problem at all. I get plenty of chances to submit PRs in my day job. I'm just happy it's getting fixed. 🙂

[2021-03-23 19:15] StarGate-One commented on #16846
@yurybura
- See https://github.com/microsoft/vcpkg/issues/14424 - this is a known issue due to the old version of git installed with Ubuntu 16.04 LTS.
- Upgrading git version to a newer version (I believe it has to be done manually) and it will be able to download the repo file just fine.

[2021-03-23 19:33] StarGate-One commented on #16809
- In addition to using the tools downloaded by `vcpkg_acquire_msys.cmake` it looks like vcpkg-gfortran has additional msys tools downloaded in `vcpkg_find_fortran.cmake` with the different version requested here: https://github.com/microsoft/vcpkg/blob/2bc10eae2fb0b8c7c098325c4e9d82aa5d0329d9/scripts/cmake/vcpkg_find_fortran.cmake#L56

[2021-03-23 19:45] autoantwort commented on #16663
Do you have reported it? Otherwise I will do it

[2021-03-23 20:37] autoantwort opened #16850 ""Total elapsed time" can not be right"
**Describe the bug**
When I run `./vcpkg install --triplet=x64-osx`, the `Total elapsed time`is 2.25 us. But the time is definitely longer than a second. When I run with `time`:
[code]

**Environment**
- OS: happens everwhere
- Compiler: is not important

**Expected behavior**
The `Total elapsed time` should display the real total elapsed time, not some "random" very short subtime

**Alternative S

[2021-03-23 20:39] autoantwort commented on #16850
For example, in a pipeline environment it would be interesting how long vcpkg waited on the `.vcpkg-root` file lock

[2021-03-23 21:41] #16832 closed

[2021-03-23 21:49] josuegomes opened #16851 "[boost-locale] ICU backend not built with icu feature (x64-linux)"
**Host Environment**
- OS: Ubuntu Linux 20.04.2 (x86_64)
- Compiler: g++ (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Failure logs**
config.log (attached) shows link errors while trying to detect ICU

[code]

Build output shows no errors:

[code]

[config.log](https://github.com/microsoft/vcpkg/files/6192911/config.log)

[2021-03-23 22:36] tupos commented on #12096
Hello I also ran into this problem when I compiled mathgl. I debugged the loop from the screenshot above and it also hangt after the loop but after some time in debugger I had a message that two threads exited. Therefore I commented
[code]
and after this the load of dll happens without any problems and the test program which links with `mathgl.dll` does not hang anymore.

I'm not sure what is happ

[2021-03-23 22:39] lukedan opened #16853 "[Python3] Cannot find Python3"
**Host Environment**
- OS: Windows 10 20H2
- Compiler: Microsoft (R) C/C++ Optimizing Compiler Version 19.28.29913 for x64

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install python3:x64-windows`

**Failure logs**

With `find_package(Python3 CONFIG COMPONENTS Development REQUIRED)`:

[code]

`CMakeOutput.log` mainly only contains feature-test results and does not contain anything u

[2021-03-23 22:41] lukedan commented on #16728
I've created a separate issue #16853 regarding the Python issue.

[2021-03-24 01:02] klalumiere commented on #16631
Hi ras0219-msft,

Thanks for the suggestion! :slightly_smiling_face: I knew about this feature flag, but I was worried it would be removed in a semi-near future, so I didn't want to depend on it. I like the suggestions you made in the pull request: I might use the feature flag for now and implement your suggestion soon.

[2021-03-24 01:13] yurybura commented on #16846
@StarGate-One Thank you.
Duplicate of https://github.com/microsoft/vcpkg/issues/14424

[2021-03-24 01:13] #16846 closed

[2021-03-24 01:45] longnguyen2004 commented on #16663
Yes please, I'm pretty busy currently.

[2021-03-24 01:50] zyplmn opened #16854 "[cfitsio] build failure"
**Host Environment**
- OS: Windows10
- Compiler: VS2017

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg.exe install pdal:x64-windows`

**Failure logs**
Build messages from the console output：
PS E:\vcpkg\vcpkg> .\vcpkg.exe install pdal:x64-windows
Computing installation plan...
The following packages will be built and installed:
  * cfitsio[core]:x64-windows -> 3.49
  * curl[core,non-h

[2021-03-24 02:07] JackBoosY commented on #16844
Hi @FrankBau, thanks for reporting this issue!
Can you please close your anti-virus and try again?

Thanks.

[2021-03-24 02:12] JackBoosY commented on #9475
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-03-24 02:12] #9475 closed

[2021-03-24 02:13] WGSGitH opened #16855 "[boost-compatibility] Build_failed"
cmd:

CMake Error at scripts/cmake/vcpkg_download_distfile.cmake:184 (message):

      Failed to download file.
      If you use a proxy, please set the HTTPS_PROXY and HTTP_PROXY environment
      variables to "https://user:password@your-proxy-ip-address:port/".

      If error with status 4 (Issue #15434),
      try setting "http://user:password@your-proxy-ip-address:port/".

      Otherwise, pl

[2021-03-24 02:15] JackBoosY commented on #13097
Duplicated to #10812.

[2021-03-24 02:15] #13097 closed

[2021-03-24 02:31] JackBoosY commented on #13169
See https://stackoverflow.com/questions/14711633/my-c-sharp-application-is-returning-0xe0434352-to-windows-task-scheduler-but-it

[2021-03-24 02:32] JackBoosY commented on #13649
Was this issue resolved?

[2021-03-24 02:33] JackBoosY commented on #13714
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-03-24 02:33] #13714 closed

[2021-03-24 02:33] JackBoosY commented on #14280
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-03-24 02:33] #14280 closed

[2021-03-24 02:34] JackBoosY commented on #14335
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-03-24 02:34] #14335 closed

[2021-03-24 02:39] JackBoosY commented on #15452
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-03-24 02:39] #15452 closed

[2021-03-24 02:40] JackBoosY commented on #15505
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-03-24 02:40] #15505 closed

[2021-03-24 02:45] wrobelda commented on #13649
Well, for the most part I did workaround my issues.

However, the current solution where `vcpkg_copy_tools()` copies to `tools\portname\bin` is IMHO needlessly complex. It requires passing a `--with-libX-prefix={CURRENT_INSTALLED_DIR}\tools\libX\bin\executable_name` for each `executable_name` that port `libY` needs from port `libX`. And that only works if the `libY`'s `configure` scripts had the f

[2021-03-24 02:46] JackBoosY commented on #15766
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-03-24 02:46] #15766 closed

[2021-03-24 02:48] JackBoosY commented on #13649
@wrobelda As you might guess, we use tools/port/bin to avoid binary conflicts.

[2021-03-24 02:50] JackBoosY commented on #15888
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-03-24 02:50] #15888 closed

[2021-03-24 02:53] JackBoosY commented on #15963
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-03-24 02:53] #15963 closed

[2021-03-24 02:54] JackBoosY commented on #16083
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-03-24 02:54] #16083 closed

[2021-03-24 02:55] JackBoosY commented on #16133
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-03-24 02:55] #16133 closed

[2021-03-24 02:57] JackBoosY commented on #16165
cc @ras0219 @ras0219-msft for response.

[2021-03-24 02:58] wrobelda commented on #13649
I still think it creates more problems than it solves. [You already have a guidelines for maintainers on handling any `\lib` naming conflicts](https://vcpkg.readthedocs.io/en/latest/maintainers/maintainer-guide/#place-conflicting-libs-in-a-manual-link-directory). Why not use the same approach to `\bin` tooling? Most ports don't come with tooling at all anyway, so it's less likely that tool executa

[2021-03-24 02:59] JackBoosY commented on #16182
Please see https://github.com/microsoft/vcpkg/pull/16723.

[2021-03-24 03:04] JackBoosY commented on #16326
cc @jwillemsen

[2021-03-24 03:06] JackBoosY commented on #16361
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-03-24 03:06] #16361 closed

[2021-03-24 03:06] JackBoosY commented on #16368
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-03-24 03:06] #16368 closed

[2021-03-24 03:13] NancyLi1013 commented on #15818
Thanks for your feedback @hgbutte.

Closing this issue for now. Please feel free to reopen this issue if it is still a problem for you @wmeister.

[2021-03-24 03:13] #15818 closed

[2021-03-24 06:08] NancyLi1013 commented on #16854
Hi @zyplmn

Thanks for posting this issue.
Could you please help check if you have downloaded `E:/vcpkg/vcpkg/downloads/cfitsio-3.49.tar.gz ` here? If so, please remove this file and try to rebuild this.

I can download it successfully on my machine.

[code]

[2021-03-24 06:24] NancyLi1013 commented on #16853
Hi @lukedan

Thanks for posting this issue.

Seems you didn't use python3 correctly.
The usage should be like this:

[code]
Since there is no *config.cmake file for python3, `CONFIG ` should not be added here.

[2021-03-24 06:35] PhoebeHui commented on #16855
@WGSGitH, could you reference the solution from https://github.com/microsoft/vcpkg/issues/13348?

BTW, could you attach full outputs from cmd?

[2021-03-24 06:45] FrankBau commented on #16844
Hi @JackBoosY,

disabled Acronis Ransomware Protection and all of Defender, rebooted. Same: still hanging.
Shorted the paths to:
PATH=C:\Windows;C:\Windows\System32;
set PSModulePath=
and retried. Same: still hanging.

state + call stack is
[code]

All cl, link and cvtres steps before finished.
[ninja_log.txt](https://github.com/microsoft/vcpkg/files/6194934/ninja_log.txt)
[install-x64-windows-rel

[2021-03-24 06:48] JackBoosY commented on #16844
@vicroms Can you please take a look?

Thanks.

[2021-03-24 06:50] JackBoosY commented on #16389
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-03-24 06:50] #16389 closed

[2021-03-24 06:52] JackBoosY commented on #16554
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-03-24 06:52] #16554 closed

[2021-03-24 06:53] JackBoosY commented on #16594
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-03-24 06:53] #16594 closed

[2021-03-24 06:55] JackBoosY commented on #16654
@ras0219 @ras0219-msft Should we remove this port since the dependencies has conflict?

[2021-03-24 07:35] PhoebeHui commented on #6444
PR https://github.com/microsoft/vcpkg/pull/16479 should address this issue.

[2021-03-24 07:37] NancyLi1013 commented on #16640
Sorry, I cannot reproduce this on my local.
[code]
Please provide the steps to reproduce. If possible, please also provide your project sample.

Here are my project:
CMakeLists.txt
[code]
main.cpp

[code]

[2021-03-24 07:53] cdcseacave commented on #16640
I can not reproduce it anymore with the latest code, maybe it was fixed, let's close this for now, thank you

[2021-03-24 07:53] #16640 closed

[2021-03-24 08:06] dg0yt commented on #13513
Alternative to a command line parameter, an environment variable would help, too.

[2021-03-24 08:07] dg0yt commented on #10683
Alternative to a command line parameter, an environment variable would help, too.

[2021-03-24 08:10] zyplmn commented on #16854
Thanks for your recommendation. Firstly, I check the file in E:/vcpkg/vcpkg/downloads, the cfitsio-3.49.tar.gz is Exist. However, if i removed cfitsio-3.49.tar.gz and install cfitsio, the error imformation would appear:

PS E:\vcpkg\vcpkg> .\vcpkg.exe install cfitsio --editable
Computing installation plan...
The following packages will be built and installed:
    cfitsio[core]:x86-windows -> 3.49

[2021-03-24 08:21] acgetchell commented on #16829
Setting `VCPKG_DEFAULT_HOST_TRIPLET` does not work, vcpkg still uninstalls x86-windows packages and attempts to install x64-windows ones, until it reaches gmp and fails.

https://ci.appveyor.com/project/acgetchell/cdt-plusplus/builds/38375679#L3658

[2021-03-24 08:25] JonLiu1993 commented on #16841
@ctgeorge ,Thanks for posting this issue. I cannot reproduce this issue on my machine.There are several related issues here about Detected outdated dynamic CRT in the following files, but they have not been resolved yet, so we wait for other related issues.[#717](https://github.com/microsoft/cpprestsdk/issues/717) #16732

[2021-03-24 08:30] autoantwort commented on #16829
You have to wait until #16478 gets merged, or you use the branch from the PR

[2021-03-24 09:24] PhoebeHui commented on #16851
This should be a port bug, I will take a look, thanks for reproting this issue!

[2021-03-24 10:19] NancyLi1013 commented on #16854
Seems there is something wrong with your network. In this case, you can download _http://heasarc.gsfc.nasa.gov/FTP/software/fitsio/c/cfitsio-3.49.tar.gz_ manually if have access to this file.

Then you can put this archive to _E:/vcpkg/vcpkg/downloads/_ folder.
At last, you can run `.\vcpkg.exe install cfitsio` to rebuild this port.

[2021-03-24 10:23] NancyLi1013 commented on #16854
If you still failed with the same error as before, please change hash `9836a4af3bbbfed1ea1b4c70b9d500ac485d7c3d8131eb8a25ee6ef6662f46ba52b5161c45c709ed9a601ff0e9ec36daa5650eaaf4f2cc7d6f4bb5640f10da15` as `a7b279c404e969d5b11d018694ec656a57914bbb360d868b2edbd35cbc831e3b7c85e51042115566846fd3a6dbabe5d53775a8cdb94718ec5007a473abb03447` in _E:/vcpkg/vcpkg/ports/bzip2/portfile.cmake_ and try to build `

[2021-03-24 10:59] PhoebeHui commented on #16851
@josuegomes, I have submitted a PR to fix this issue, could you help test?

However, it should still be an issue for detecting the failures, currently I'm not sure why it doesn't fail here.

[2021-03-24 11:03] autoantwort commented on #16663
I have created https://unicode-org.atlassian.net/browse/ICU-21554

[2021-03-24 11:05] omartijn commented on #16637
[config-universal-osx-rel-err.log](https://github.com/microsoft/vcpkg/files/6196528/config-universal-osx-rel-err.log)
[vcpkg.log](https://github.com/microsoft/vcpkg/files/6196529/vcpkg.log)

I added the output from running vcpkg, as well as the file containing additional information mentioned in the output.

Looking at the vcpkg it looks like the error is that the `detect_compiler` script is run w

[2021-03-24 11:15] rafalsk commented on #8199
seems like in the end it got me also:
https://stackoverflow.com/questions/66779031/vcpkg-auto-generated-patch-fails-to-apply-wrong-paths

[2021-03-24 11:52] josuegomes commented on #16851
Still getting the same error.
Tried now in a new directory.
See attached files.
[x64-linux.vcpkg_abi_info.txt](https://github.com/microsoft/vcpkg/files/6196850/x64-linux.vcpkg_abi_info.txt)
[config.log](https://github.com/microsoft/vcpkg/files/6196851/config.log)
[user-config.jam.txt](https://github.com/microsoft/vcpkg/files/6196861/user-config.jam.txt)

[2021-03-24 12:06] PhoebeHui commented on #16851
It may due to the indentation before 'lib dl ;', you can manually eidt the installed/x64-linux/share/boost-build/user-config.jam file, and confirm the fix.

[2021-03-24 12:55] zyplmn commented on #16854
Perfect answer !

[2021-03-24 13:08] zyplmn commented on #16854
Good answer !
As you said, There is the same error as before.  However，the change hash does not exist in _E:/vcpkg/vcpkg/ports/bzip2/portfile.cmake_. The right path of change hash exist in _E:/vcpkg/vcpkg/ports/cfitsio/portfile.cmake_. Then build cfitsio. Thanks a lot !

[2021-03-24 13:40] josuegomes commented on #16851
Thank you. I did right thing now and pulled the PR. Now it's building fine. The PR passed.

[2021-03-24 14:49] rwelch-vmware opened #16861 "[g3log] arm64-windows build failed"
Library name: g3log

Library description: logging framework

Source repository URL: https://github.com/KjellKod/g3log

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included):
FOR ARM64:
[code]
For ARM:
[code]

[2021-03-24 16:17] sandro97git opened #16862 "[mqtt-cpp] update to 9.0.0"
Library name: mqtt-cpp

New version number: 9.0.0

[2021-03-24 18:01] joefocusrite opened #16864 "[libsoundio] Add Linux support"
It would great if the port for libsoundio would support Linux.

Would it be as simple as `-DENABLE_ALSA=${VCPKG_TARGET_IS_LINUX}` in the [portfile](https://github.com/microsoft/vcpkg/blob/3166bcc15b156b57667d9e573fba9775ceef3eb1/ports/libsoundio/portfile.cmake#L17)?

Should it support options to allow different backends (e.g. ALSA, Jack, PulseAudio), or should it default to ALSA?

I'm happy to put

[2021-03-24 18:20] GiovanniDicanio opened #16866 "[WinReg] Update to v4.1.0"
Library name: WinReg

New version number: v4.1.0

Other information that may be useful (release notes, etc...)
URL: https://github.com/GiovanniDicanio/WinReg

Vckpg description files attached in .zip archive.
Thank you!
[winreg_vcpkg_files.zip](https://github.com/microsoft/vcpkg/files/6199622/winreg_vcpkg_files.zip)

[2021-03-24 18:29] KillJoke commented on #16581
Ty for trying to help but it didnt work, email notification came to spam so i didnt see your reply.
I am still not able to fix this problem.

[2021-03-24 18:31] KillJoke commented on #16581
Yes m firstly i installed wrong exe, but your advice actually worked,thanks a lot )

[2021-03-24 18:31] #16581 closed

[2021-03-24 18:52] lukedan commented on #16853
Aha! So that's what I've been missing. However, the issue with `pybind11` is still present: `pybind11` uses `FindPythonInterp` which cannot find the Python3 libraries installed by `vcpkg`.

[2021-03-24 19:00] lukedan commented on #16853
Update: Now I'm running into the error `fatal error LNK1104: cannot open file 'python39.lib'`.

[2021-03-24 19:02] lukedan commented on #16853
[An issue of the `pybind11` repository](https://github.com/pybind/pybind11/issues/2661) indicates that using `-DPYBIND11_FINDPYTHON=ON` can make `pybind11` use `FindPython2/3` instead of the deprecated `FindPythonInterp`.

[2021-03-24 19:11] lukedan commented on #16853
Also, I checked `vcpkg\installed\x64-windows\lib` and `python39.lib` **is** there.

[2021-03-24 19:49] #16692 closed

[2021-03-24 19:53] #16622 closed

[2021-03-24 19:57] #16538 closed

[2021-03-24 20:14] #16517 closed

[2021-03-24 20:19] #16862 closed

[2021-03-24 20:45] #16851 closed

[2021-03-24 21:00] Thieum opened #16868 "[libarchive] Should the default features include gpl-v2 lzo?"
the port of libarchive default features contain lzo:

[code]
https://github.com/microsoft/vcpkg/blob/master/ports/libarchive/CONTROL

lzo being [GPLv2 ](http://www.oberhumer.com/opensource/lzo/)and libarchive being [BSD](https://raw.githubusercontent.com/libarchive/libarchive/master/COPYING), Shouldn't lzo be an optional feature?

Otherwise it could come as a surprise when taking a dependency on l

[2021-03-24 21:40] kotori2 commented on #16331
There are some shell scripts on the internet tho.
https://github.com/TrueBitFoundation/wasm-ports/blob/master/openssl.sh
https://gist.github.com/ip6li/b01022c49ad10deb9aa21dda45dddc78
Not sure if these helps.

[2021-03-24 21:53] autoantwort commented on #16831
@strega-nil Yes, in general this is a c++ community thing. But I think there are some aspects that are special for vcpkg or more important than usual. And I think even for a general c++ library guideline (for buildsystems) vcpkg is a good place.

[2021-03-24 22:12] mathisloge commented on #13506
I'm using usually a cmake macro:
[code]

and call it with each executable like:
[code]

where `${ADDITIONAL_LIBARIES_PATHS}` points to directories like the vcpkg dir.

[2021-03-25 00:23] PhoebeHui commented on #11780
The boost-regex[icu]:x64-linux supported in vcpkg now, please get latest source and try again.

[2021-03-25 00:23] #11780 closed

[2021-03-25 02:02] NancyLi1013 commented on #16854
Sorry for my mistake. And thanks for your kindly reminder. It should be `cfitsio` instead of `bzip2`.

[2021-03-25 02:50] madeline-m opened #16869 "Error Installing CMake in Windows64"
**Describe the bug**

https://github.com/YDLIDAR/YDLidar-SDK/blob/master/doc/howto/how_to_build_and_install.md
We are following the instructions above and kept getting the error:
error while loading cmake, the port directory does not exist, error: failed to load port from C:\src\win64\vcpkg\portd\cmake
note: uploading vcpkg by rerunning bootstrap-vcpkg may resolve this failure

We made a directory

[2021-03-25 02:57] NancyLi1013 commented on #14393
@andreasxp

Sorry for the long delay. Seems your test results are right. I can get the same result with yours for binary cache with the latest vcpkg. Please see the doc to get more information about binary caching https://github.com/microsoft/vcpkg/blob/master/docs/users/binarycaching.md.

For the problem you encountered with `glfw3`, I think this is a port bug of `glfw3`. Since there is absolute

[2021-03-25 02:57] #14393 closed

[2021-03-25 03:21] PhoebeHui commented on #16868
I think https://github.com/microsoft/vcpkg/pull/16852/ declare how we set a feature as a default feature, I'm not sure if this would be one of the special conditions.

@ras0219-msft, @vicroms  could you help confirm?

[2021-03-25 03:58] JackBoosY commented on #16864
Sadly, we doesn't have a port named `ALSA`.

[2021-03-25 06:36] FrankBau commented on #16844
Tried to build pcl:x64-windows which recursively built many packages (like boost...) but finally got stuck at the end of
[code]
with the same call stack.
The issue is deterministic for the indicated packages, but does not affect others.

Is there a way to find out where in applocal.ps1 it hangs?

[2021-03-25 06:48] NancyLi1013 commented on #16869
Hi @madeline-m

Thanks for posting this issue.

Since cmake is listed in _scripts/test_port/cmake_, which is different from these ports in _ports/_ directory.
So It cannot be installed like this.

You can copy `cmake `folder in https://github.com/microsoft/vcpkg/tree/master/scripts/test_ports to [ports ](https://github.com/microsoft/vcpkg/tree/master/ports)folder, then try to rebuild.

[2021-03-25 07:06] NancyLi1013 commented on #16861
Hi @rwelch-vmware

Thanks for posting this issue.
Since `g3log` doesn't support `arm`, the current result is intend behavior.

I think we should add `supports `field for `g3log`.

[2021-03-25 07:53] NancyLi1013 commented on #16869
Just to make it clear, the port cmake provided by vcpkg in _test_ports/_ folder is used to test these ports in vcpkg.
I'm not clear about this document https://github.com/YDLIDAR/YDLidar-SDK/blob/master/doc/howto/how_to_build_and_install.md. But I think this is not the proper way to install cmake.

[2021-03-25 08:08] JackBoosY commented on #13649
cc @ras0219 @ras0219-msft

[2021-03-25 08:21] sundarsabapathi opened #16873 "[New Port Request] <FakeIt>"
Library name: FakeIt

Library description: FakeIt is a simple mocking framework for C++. It supports GCC, Clang and MS Visual C++.

Source repository URL: https://github.com/eranpeer/FakeIt

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2021-03-25 09:23] autoantwort opened #16874 "--editable does not work with manifest mode"
**Describe the bug**
`./vcpkg install --editable`
[code]
Even if you add the `--editable` argument, it cleans the sources.

**To Reproduce**
Steps to reproduce the behavior:
See description

**Expected behavior**
Respect the `--editable` argument

[2021-03-25 10:34] patrickn opened #16876 "[Pistache] update to HEAD"
Library name: Pistache

New version number: HEAD

Other information that may be useful (release notes, etc...)
The installed version is dated 2019-08-05 and there have been a lot of updates since then. Can this package be updated to the latest HEAD release.

And the package has been moved to a new repo at:  https://github.com/pistacheio/pistache (was at  https://github.com/oktal/pistache)

[2021-03-25 10:40] meastp commented on #16615
@ras0219-msft This solved neither my build issue with libpq (when I tried to remove autocrlf false) nor the first part of abi_info. Could you please point to where this hash is computed? I'd like to have debug output for a single package to try to pinpoint the difference...

Should I open a new issue?

[2021-03-25 11:31] i-Maker opened #16878 "[opencv3] build failure"
**Host Environment**
- OS: Windows10
- Compiler: mingw7.3

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg.exe install opencv3:x64-mingw-static`

**Failure logs**
PS C:\src\vcpkg> vcpkg.exe install opencv3:x64-mingw-static
Computing installation plan...
The following packages will be built and installed:
    opencv3[core,dnn,flann,jpeg,png,quirc,tiff,webp]:x64-mingw-static -> 3.4.13
Detec

[2021-03-25 14:49] autoantwort commented on #16139
You can close this issue

[2021-03-25 15:39] autoantwort opened #16880 "Check format of vcpkg.json file in x-add-version"
The `x-add-version` command already checks if there are vcpkg.json file changes that are not committed. I should also check if the vcpkg.json file is well formatted.
****

**Is your feature request related to a problem? Please describe.**
I use VS Code to edit the vcpkg.json files, but when I save a plugin formats the json file, but in an incompatible format to vcpkg (4 spaces indention). Often I

[2021-03-25 16:51] #16873 closed

[2021-03-25 18:55] mbraca commented on #16443
Yes, please!!

[2021-03-25 19:19] joefocusrite commented on #16864
It's included in most Linux distributions and will be automatically found by libsoundio (see [here](https://github.com/andrewrk/libsoundio/blob/a46b0f21c397cd095319f8c9feccf0f1e50e31ba/CMakeLists.txt#L82))

[2021-03-25 19:34] vicroms commented on #16868
I think it's ok to make `lzo` a non-default feature since the other dependencies already provide a reasonably good collection of compression algorithms. We would have to make sure that ports that depend on `libarchive` are not affected by the removal of these default feature.

[2021-03-25 19:36] #15966 closed

[2021-03-25 19:45] vicroms commented on #16011
Make sure that you have the latest portfiles by doing a `git pull`.
If the error persists try deleting the downloaded darknet sources in `{vcpkg-root}/downloads/`. As a last option you can overwrite the SHA by modifying `{vcpkg-root}/ports/darknet/portfile.cmake`.

[2021-03-25 19:45] vicroms commented on #15256
Make sure that you have the latest portfiles by doing a `git pull`.

If the error persists try deleting the downloaded darknet sources in `{vcpkg-root}/downloads/`. As a last option you can overwrite the SHA by modifying `{vcpkg-root}/ports/darknet/portfile.cmake`.

[2021-03-25 19:53] vicroms commented on #9783
@davidhunter22 how are you passing the compiler options?

I recommend creating a custom triplet file, e.g.: `x64-linux-clang-libcxx`, and using a CMake toolchain file to set the compiler and standard library. An advantage of using a custom triplet is that packages will be installed to `installed/{triplet-name}` so they won't collide with your existing packages.

[Read more about triplets](https://

[2021-03-25 20:06] #16813 closed

[2021-03-25 20:24] zvilius opened #16888 "msbuild AppLocalFromInstalled target fails: "-ExecutionPolicy" invalid argument on pwsh.exe"
**Describe the bug**
VS2019 (msbuild) project that uses vcpkg in manifest mode gets the following build error:
[code]
The project builds and links, but fails to run when launched from VS because it does not find fmt.dll / fmtd.dll from "fmt" provided by vcpkg.

**Environment**
- OS: Windows 10 Pro
- IDE: VS 2019 16.9.2
- vcpkg version 2021-01-13-d67989bce1043b98092ac45996a8230a059a2d7e

**To Repro

[2021-03-25 20:37] ionutcosminmihaipfa opened #16889 "[grpc:x86-android] build failure"
**Host Environment**
- OS: MacOS
- Compiler: Android NDK 23.0.7196353 or 21.1.6352462

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install grpc:x86-android`

**Failure logs**
[code]

[code]

[2021-03-25 21:49] Honeybunch commented on #3930
✋ I'd really like vcpkg in chocolatey and other package managers.
Rust, Dlang and other languages have a similar system. You install cargo or dub from your package manager and use those to interact with packages for the language ecosystem you're working in. I think it makes a lot of sense.

[2021-03-25 22:20] autoantwort commented on #16889
The problem is that it tries to execute a android binary on macOS. So we first have to compile for the host platform. This will be fixed by #16479

[2021-03-26 02:01] haikunzhang95 opened #16894 "[llvm:x64-windows] build failure"
**Host Environment**
- OS: windows 10 x64
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg install llvm[target-all,clang-tools-extra]:x64-windows `

**Failure logs**
Error: Building package llvm:x64-windows failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `.\vcpkg update`, then
submit an issue at https://github.com/Microsoft/vcpkg/issue

[2021-03-26 02:21] haikunzhang95 commented on #16894
My platform is: Windows 10 x64. Follow the "Building Halide with CMake", I install ''libpng:x64-windows'', '' libjpeg-turbo:x64-windows'', and '' llvm[target-all,clang-tools-extra]:x64-windows'' respectively. I successfully installed the first two, but there was a problem installing the last package. When the Windows PowerShell display“--Building x64-windows-dbg”, the cursor keeps blinking, and no

[2021-03-26 03:18] stuartZhang opened #16895 "[fontconfig] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: Microsoft (R) C/C++ Optimizing Compiler Version 19.00.24210 for x86

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install gtk`

**Failure logs**

Starting package 1/9: fontconfig:x86-windows
Building package fontconfig[core]:x86-windows...
-- Downloading https://gitlab.freedesktop.org/fontconfig/fontconfig/-/archive/844d8709a1f3ecab45

[2021-03-26 04:50] zkcrescent opened #16896 "[libodb-mysql] provides cmake targets should be updated"
****

*the provided targets not work*

when I installed libodb-mysql,  shows provided targets:

[code]

but it doesn't work when i use in my `CmakeLists`

[code]

I cheak vpckg odb share path `/vcpkg/installed/x64-osx/share/odb` and find cmake file `odb_mysqlConfig.cmake`, then i change my `CmakeLists` to

[code]

it shows
[code]
need help. thx.

**Additional context**
host ：macos catalina 10.15.1

[2021-03-26 09:31] orange-stone commented on #9634
how，I really appreciate it if you can  tell me

[2021-03-26 11:32] Neumann-A opened #16899 "Use/setup variable_watch for variables which should not be changed"
as a precaution vcpkg should setup
https://cmake.org/cmake/help/latest/command/variable_watch.html
for variables which should not be changed in portfiles or triplet.

[2021-03-26 12:17] zomgrolf opened #16902 "[opensubdiv] build failure"
**Host Environment**
- OS: Windows 10 Pro 20H2
- Compiler: 19.28.29913 (VS 16.9.2)

**To Reproduce**
Steps to reproduce the behavior:
Enable support for manifests and versions.
Use the following vcpkg.json manifest:
[code]
and the following triplet (`triplets\x64-windows-vs2019.cmake`):
[code]
`./vcpkg install --triplet=x64-windows-vs2019 --overlay-triplets=.\triplets`

**Failure logs**
[code]

**

[2021-03-26 12:26] Neumann-A opened #16903 "[vcpkg] update to cmake 3.20"
ToDo:

- export `CMAKE_<LANG>_BYTE_ORDER` from `vcpkg_internal_get_cmake_vars` and use in `vcpkg_configure_meson`

[2021-03-26 13:19] PhoebeHui commented on #16615
@meastp, I reopen this issue, so you don't need to open a new issue.

[2021-03-26 13:27] ionutcosminmihaipfa commented on #16889
Thank you, I mention that using the changes in the above mentioned PR, there is a linking error related to glibc for the x64-android triplet(It's reproducing on Windows/Linux/MacOS):
ld: error: undefined symbol: memcpy@GLIBC_2.2.5

clang++: error: linker command failed with exit code 1 (use -v to see invocation)

[2021-03-26 13:40] PhoebeHui commented on #16888
Confirmed, I can repro this issue locally.

[2021-03-26 13:44] PhoebeHui commented on #16894
@haikunzhang95, could you please try if https://github.com/microsoft/vcpkg/pull/16232 works for you?

[2021-03-26 14:16] autoantwort commented on #16889
Does this error happens before or after the current error? So is this PR an improvement or does it make the situation worse?

[2021-03-26 14:29] zvilius commented on #16888
I should add that I saw this issue using the "vcpkg integrate project" usage pattern as well.
I completely reinstalled vcpkg and switched to using "manifests" in an attempt to resolve it.
So I don't think this issue is specific to "manifests."

Thank you.
Mark Z.

[2021-03-26 14:59] ionutcosminmihaipfa commented on #16889
The PR is an improvement, it actually fixes the x86 which is now working and it gets the x64 passed the error coming from using the wrong protoc.

[2021-03-26 15:55] mathisloge opened #16906 "FindProj not working as expected"
so i've got a problem at #14628 .
Proj is currently at version 7.2.0 and it should be supported as stated in https://proj.org/development/cmake.html to use `find_package(PROJ REQUIRED)` however when i'm using it like that I'm getting the following error:
[code]
If I'm building proj without vcpgk this will work, so there have to be a bug in the portfile of proj?

[2021-03-26 15:59] LYP951018 commented on #15548
My workaround here:

It seems that Intel changed MKL's versioning strategy (mkl_version.h):

[code]

So I first changed `MKL_REQUIRED_VERSION` variable to `202000` defined at ports\intel-mkl\portfile.cmake

And then tried

[code]

[2021-03-26 17:38] LeonineKing1199 opened #16907 "[boost-json] Fails to build static library"
Boost.JSON by default is a compiled library yet boost-json treats it like a header-only target and does not create a `libboost_json.a`.

While `b2` should be capable of producing the library, Boost.JSON is built by a single TU including a `src.hpp` file which end-users then compile and link against.

[2021-03-26 17:53] JackBoosY commented on #16896
Thanks for point out this!

[2021-03-26 18:41] #16866 closed

[2021-03-26 19:04] lukedan commented on #16853
@NancyLi1013 Were you able to reproduce this issue?

[2021-03-26 19:55] #16168 closed

[2021-03-26 19:55] #16811 closed

[2021-03-26 20:19] ionutcosminmihaipfa commented on #16889
Should I create a separate issue for the GLIBC problem?

[2021-03-26 20:34] machineko commented on #13516
Any updates i have same issue on my system :?

[2021-03-26 20:55] talregev commented on #14157
I have simple workaround it for linux.
Just delete the zip:
`sudo apt purge zip` then the vcpkg will not find zip command and stop caching. it just more easy.

[2021-03-27 02:27] levinli303 commented on #16801
@JackBoosY  I tested with the commit before #11776 is merged and it was working.

[2021-03-27 02:57] davidebeatrici opened #16909 "Package installation succeeded even if copy of a few files failed due to low disk space"
[code]

[2021-03-27 03:12] i-Maker commented on #16878
how to build opencv3 debug x64-windows? now I only build release.

[2021-03-27 09:52] tats-u opened #16912 "[nowide] update to 11.1.1"
Library name: `nowide` (standalone version)

New version number: 11.1.1

Other information that may be useful (release notes, etc...)
https://github.com/boostorg/nowide/releases/tag/v11.1.1

[2021-03-27 11:04] cyraid commented on #11177
And what happens if the package author does not provide updates in a timely manner? Let's say we need a security fix from a library, but the author is not around to update it?

What is the current recommended way to handle updating libraries like this?

[2021-03-27 11:12] ArcticLampyrid commented on #11177
Just like any other package managers (Npm/Nuget/Maven), if the author does not update it, you need to fetch the package from a fork (usually in another id).
Currently we maintain package configs in vcpkg repo, but we are not maintaining the libraries' content (That's unrealistic, you know). If the author does not maintain the library and there is no 3th-party patches, we won't receive a security f

[2021-03-27 13:16] Markus87 opened #16917 "[wasm32-emscripten] Failed to fetch compiler version information / VCPKG_ENV_PASSTHROUGH for EMSDK PATH may not be enough"
****

**Is your feature request related to a problem? Please describe.**
For emsdk 1.39.8 and latest(2.0.16) the compiler detection in the toolchain file of emsdk fails. (tested with `vcpkg install zlib:wasm32-emscripten`)
[code]

**Proposed solution**
emsdk_env sets the following environment variables:
[code]
I think those should all be added in the `wasm32-emscripten.cmake`.
[code]

****

If nob

[2021-03-27 14:19] #9030 closed

[2021-03-27 15:50] ndcroos opened #16918 "[hidapi] Support for x64-linux"
I am trying to install the hidapi port on Linux Debian 10 for some project.

The output of ```uname -a``` is:
[code]
When I try to run:
[code]
I get the following output:
[code]

Could the hidapi:x64-linux combination be added to the hidapi port?

[2021-03-27 16:51] kuvaldini opened #16919 "[android] build failure linkage failure on android"
**Host Environment**
- OS: Android : Linux localhost 4.19.113-21033099 # 1 SMP PREEMPT Thu Mar 4 13:59:20 +07 2021 aarch64 Android
- Compiler: clang version 11.1.0 (https://github.com/termux/termux-packages 07320e6ed6e28aafc95d8af42d0da9a33bc3b79a)

**To Reproduce**
Steps to reproduce the behavior:
`./bootstrap-vcpkg.sh`

**Failure logs**
-Cut and past the appropriate build messages from the conso

[2021-03-27 17:58] autoantwort opened #16920 "Slowdown by vcpkg msbuild integration"
When we use vcpkg for our projects (solutions says 108 projects) our pipeline runs ~6 minutes longer (39 -> 45 minutes) while the vcpkg.json file is "empty" (no dependencies). Imo 6 minutes for doing nothing is quite long. It seems that vcpkg is called in 103 Projects, so it needs 3,5 Seconds per projects. When looking at the logs it seems that most of the time it waits for the file lock (~2.5 - 3

[2021-03-27 22:01] cyraid commented on #11177
No of course not that is definitely unrealistic. But take skis library. It is always evolving, and the last update on vcpkg says from 2020. Is it because it's tied to a specific git version? Or is that date meaning it's the last time the build script of that library was updated? Sorry for clouding up your roadmap.

[2021-03-27 23:37] davidebeatrici opened #16921 "[opengl] Fails on ARM64 Windows due to missing libraries in SDK"
https://github.com/microsoft/vcpkg/blob/9f6157af4e5b04ab3cc63150a20b1bad901a7d0b/ports/opengl/portfile.cmake#L5-L6

[code]

From https://developercommunity.visualstudio.com/t/cannot-link-opengl-programs-on-arm64/164107#T-N374601:

This is technically not an issue in the `opengl` port, but rather in the ports that depend on it. Example:
https://github.com/microsoft/vcpkg/blob/9f6157af4e5b04ab3cc631

[2021-03-27 23:47] davidebeatrici opened #16922 "[qt5] Cross-compilation for ARM64 fails"
[code]

From https://code.qt.io/cgit/qt/qtbase.git/tree/cmake/README.md:

host. This "host build" is needed because the process of building Qt involves the compilation of
intermediate code generator tools, that in turn are called to produce source code that needs to be
compiled into the final libraries. These tools are built using Qt itself and they need to run on the
machine you're building on, r

[2021-03-28 02:13] famouzkk opened #16923 "[nativefiledialog] use devel branch instead of master"
Please let us use devel branch instead of master, because devel branch do not throw mingw errors when crossbuilding.

[2021-03-28 03:13] zipzit opened #16924 "Unable to access library after `integrate install` and/or `integrate project` in Visual Studio / Win10"
**Describe the bug**
Visual Studio reports "cannot open source file "zmq.hpp"

**Environment**
- OS:
- Edition	Windows 10 Home, Version 20H2, Installed on ‎6/‎11/‎2020,  OS build 19042.870
- Experience Windows Feature Experience Pack 120.2212.551.0
- Processor	Intel(R) Core(TM) i7-3770 CPU @ 3.40GHz   3.40 GHz  Installed RAM	32.0 GB
- System type	64-bit operating system, x64-based processor
- Visu

[2021-03-28 05:18] craigscott-crascit commented on #14853
Let me clarify some things, since there appear to have been some erroneous claims so far. You should be able to use `include(GoogleTest)` independently of how you have made GTest available to the build. Whether you use CMake's built-in `FindGTest` module, use `find_package()` to obtain it from vcpkg or some existing pre-built location, or even building GTest directly as part of the main build (see

[2021-03-28 05:21] zipzit commented on #1254
Is it just me?  Its okay to have odd behavior.  Lots of software does that.  But goodness, can't you tell us that in the github repo readme file?  Its a few sentences.  And this 32 bit / 64 bit windows conversation clearly is not there now.

check for yourself.  https://github.com/microsoft/vcpkg      Can someone please add a few sentences to the windows quick start guide.   My recommendation:  pl

[2021-03-28 05:49] zipzit commented on #16924
oops.  I can't believe the default install on a 64 bit windows box installed the 32 bit windows library.  Big ouch.  It's certainly okay to have off standard behavior AS LONG AS YOU TELL US THAT IN THE INSTRUCTIONS.

Can we update the readme.md at https://github.com/microsoft/vcpkg ?
  - https://github.com/microsoft/vcpkg/blob/master/README.md
  - https://github.com/microsoft/vcpkg/blob/master/REA

[2021-03-28 05:50] suifeng0001 opened #16925 "ethash-0.5.0"
Library name:

Library description:

Source repository URL:https://codeload.github.com/chfast/ethash/tar.gz/v0.5.0

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2021-03-28 07:05] jade74-work opened #16926 "spdlog compile error in wstring"
Hi all.

I installed spdlog logs using vcpkg.
In this case, the following error occurs.
How do I fix it?

[code]

[code]

[2021-03-28 11:33] zipzit commented on #16924
One note:  With the fix mentioned above, I was able to preclude visible errors within Visual Studio  (i.e. the program was able to find the XXX.hpp file, no more squiggley red error lines.)    It turns out I was still unable to compile with the library, but that one is on me.  Apparently for C++ Unreal Game Engine programming, you are only able to use third party libraries via their own plugin sys

[2021-03-28 12:08] ZiniuLu opened #16929 "Error: Building package boost-exception:x64-windows failed with: BUILD_FAILED"
**Host Environment**
- OS: Windows 10
- Compiler: VS 2019 Community 16.9.2
- vcpkg version: 2021-01-13-d67989bce1043b98092ac45996a8230a059a2d7e

**To Reproduce**

- `./vcpkg install yasm-tool:x86-windows`     -- succeed
- `./vcpkg install cgal:x64-windows`    -- failed

**Prompt Text**
.
.
.
Building package boost-modular-build-helper[core]:x64-windows... done
Installing package boost-modular-buil

[2021-03-28 12:11] ZiniuLu commented on #16929
**Log Info**

from "E:\Code\vcpkg\buildtrees\boost-exception\build-x64-windows-rel-out.log"
.
.
.
 SUCCESS:  [ <relevant>address-model <relevant>architecture <relevant>archiveflags <relevant>debug-symbols <relevant>runtime-debugging <relevant>toolset <relevant>toolset-msvc:version <relevant>user-interface <relevant>windows-api ] { msvc%msvc.archive-libboost_exception-vc142-mt-x64-1_75.lib.STATIC_L

[2021-03-28 12:57] famouzkk commented on #16923
Fixed by using `./vcpkg install nativefiledialog --head --triplet x64-mingw-static`

[2021-03-28 12:57] #16923 closed

[2021-03-28 20:24] autoantwort commented on #16925
Duplicate of #16808

[2021-03-28 20:46] cramke commented on #13890
This worked for me, thanks! The issue was also related to anaconda.

[2021-03-28 20:51] jeremyong commented on #16924
Can we please consider changing the default for 64 bit windows to be 64 bit? Is there an issue someone can link to explaining the rationale? I'd be open to creating a PR that at the very minimum lets the user change the result, but my terminal is filled with C-c's followed immediately by `remove [pkg]` and `install [pkg]:x64-windows`

[2021-03-28 22:43] wrobelda commented on #16782
@NancyLi1013 whatever causes the port build error is irrelevant to this issue – the issue reported here is that once the port build actually fails, the `vcpkg upgrade` will not trigger build again and returns false positive. I have seen this behavior multiple times during the last month and can absolutely confirm that.

[2021-03-28 22:59] vlad-mal opened #16933 "Unable to load automake1.15-1.15.1-1-any.pkg.tar.xz file"
Starting package 1/1: icu:x86-windows-mega
Building package icu[core]:x86-windows-mega...
-- [OVERLAY] Loading triplet configuration from: D:\Cpp\Lib\mega\sdk\contrib\cmake\vcpkg_extra_triplets\x86-windows-mega.cmake
CMake Warning at scripts/cmake/vcpkg_common_functions.cmake:3 (message):
  vcpkg_common_functions has been removed and all values are automatically
  provided in all portfile.cmake in

[2021-03-29 02:11] #16925 closed

[2021-03-29 03:26] iskiselev commented on #16614
The issue was originally introduced by commit 0bb8780.
As a workaround before I changed C:\appd\agent-dotnet-vcpkg\toolsrc\windows-bootstrap\vcpkg.vcxproj (set VcpkgUseStdFilesystem=0 always and add _SILENCE_EXPERIMENTAL_FILESYSTEM_DEPRECATION_WARNING definition) - but now vcpkg is downloaded, not built.

[2021-03-29 03:37] iskiselev commented on #16614
The issue is now harder to workaround compare to what  was at https://github.com/microsoft/vcpkg/issues/13744#issuecomment-709866872, as pre-build vcpkg is downloading now

[2021-03-29 05:16] soumyamahunt opened #16934 "Dependabot support"
**Is your feature request related to a problem? Please describe.**
It is difficult to manage/update dependencies when other package manager support some way of automating it.

**Proposed solution**
Support dependabot, dependabot should be able to check manifest file and suggest dependencies update via PR.

[2021-03-29 07:53] cyraid commented on #1474
4 years? Hmm..

[2021-03-29 08:45] sundarsabapathi opened #16938 "[Catch2] update to 2.13.4"
Library name: Catch2

New version number: 2.13.4

https://github.com/catchorg/Catch2

[2021-03-29 09:09] roalz opened #16939 "[New Port Request] muparserx"
Library name: muparserx
Library description: muparserx is a library for parsing mathematical expressions (extended version of "muparser").
Source repository URL: https://github.com/beltoforion/muparserx
Website: https://beltoforion.de/en/muparserx

[2021-03-29 09:22] luncliff commented on #7713
@ras0219-msft, I think the issue can be closed. The current mainstream is using 5.4.2 (#16603)

[2021-03-29 09:28] ShiverZm opened #16941 "Error: Building package boost-regex:x86-windows failed with: BUILD_FAILED"
**Describe the bug**
Error: Building package boost-regex:x86-windows failed with: BUILD_FAILED

**Environment**
- OS: win10 19041
- Compiler: vs2015/vs2019

**To Reproduce**
Steps to reproduce the behavior:
1.  .\vcpkg install boost:x86-windows boost:x86-windows-static openssl:x86-windows openssl:x86-windows-static nlohmann-json:x86-windows nlohmann-json:x86-windows-static curl:x86-windows curl:x8

[2021-03-29 09:36] vadi2 commented on #7713
This issue is about providing 5.1, not 5.4. Existing applications using 5.1 cannot switch to 5.4 as it contains breaking changes.

[2021-03-29 09:42] luncliff commented on #7713
Oh... I see. Thanks for the pojnt :o

[2021-03-29 10:39] Neumann-A opened #16942 "[cmake|linux] build failure"
see https://dev.azure.com/vcpkg/public/_build/results?buildId=51173&view=logs&jobId=e43d08a3-46a6-5c05-c22b-b8b3a7ac1517&j=e43d08a3-46a6-5c05-c22b-b8b3a7ac1517&t=341b2070-72fd-5058-0746-f056592aaa91
probably reason:

`harfbuzz` build without `glib` feature.
`qt5-base` build with `glib` being available <- thinks harfbuzz was build with glib enabled and links it for harfbuzz (or even links it itself

[2021-03-29 12:07] Neumann-A commented on #16933
Looking at https://repo.msys2.org/msys/x86_64/ it looks like the tar was bumped to https://mirrors.sjtug.sjtu.edu.cn/msys2/msys/x86_64/automake1.15-1.15.1-2-any.pkg.tar.xz

[2021-03-29 12:12] Neumann-A commented on #16922
qt5-base is not yet setup for cross builds since host triplets were just recently added. You can try setting `VCPKG_QT_TARGET_MKSPEC` and `VCPKG_QT_HOST_TOOLS_ROOT`. To appropiate values but don't expect it to be successful.

[2021-03-29 14:50] Neumann-A commented on #11078
I think this behavior was fixed.

[2021-03-29 14:50] #11078 closed

[2021-03-29 14:52] Neumann-A commented on #12937
this was already fixed.

[2021-03-29 14:52] #12937 closed

[2021-03-29 15:03] traversaro commented on #11078
Unfortunately I am afraid the problem was reintroduced recently, see https://github.com/microsoft/vcpkg/issues/15836 . However it is tracked there, so probably there is no need to re-open this issue.

[2021-03-29 15:19] roalz commented on #10711
Sorry to bother in a closed issue, but I'm using vcpkg manifests and I can't find how to use the --head option with manifests.
I've also tried `vcpkg install --head` in the root manifest folder, but it seems the --head option is not used at all.

  Package: live555:x64-windows
  Vcpkg version: 2021-01-13-d67989bce1043b98092ac45996a8230a059a2d7e

[2021-03-29 15:20] upupming opened #16944 "How do I use CMake to install `version>=` manifests dependencies (enable --feature-flags=versions flag)"
Thanks for your hard work, I like vcpkg very much, it is so convenient.

I am using [the manifests feature](https://github.com/microsoft/vcpkg/blob/master/docs/users/manifests.md), and I have defined my `vcpkg.json` like this:

[code]

I use vcpkg as a submodule of my project, just the as the [STL](https://github.com/microsoft/STL) does, and this is my `CMakeLists.txt` file:

[code]

The first tim

[2021-03-29 15:20] roalz opened #16945 "[fastlz] update to 0.5.0"
Library name: fastlz
New version number: 0.5.0

[2021-03-29 15:37] upupming commented on #16944
After dive into the [vcpkg.cmake](https://github.com/microsoft/vcpkg/blob/master/scripts/buildsystems/vcpkg.cmake#L597) and the [manifests.md](https://github.com/microsoft/vcpkg/blob/master/docs/users/manifests.md), I realize all I need is:

[code]
Sorry to bother and have a nice day!

[2021-03-29 15:49] SGD9919 opened #16946 "libmariadb:x64-windows failed with: BUILD_FAILED"
I got this problem when I install libmariadb;
already download the last version of vcpkg;
I also readed the closed issues,and try them;
the problem still happened,the 10043.patch ,fix branch(not exist anymore);
I also regit all vcpkg;but it does not work on my computer
thoes were the procedure：
The following packages will be built and installed:
    libmariadb[core,openssl,zlib]:x64-windows -> 3.1

[2021-03-29 16:06] Frankyuz opened #16947 "Error while bulding libraries"
**Describe the bug**
Evertyrime I run this command I get this message, which is not supposed to happen.

**Environment**
- OS: Windows
- Compiler: VSC

**To Reproduce**
Steps to reproduce the behavior:
1.PS C:\dev\vcpkg> .\bootstrap-vcpkg.bat
2. See error
3. Repeat the same command line
4. Nothing

**Expected behavior**
It should have printed out all the libraries

**Failure logs**
Downloading htt

[2021-03-29 16:21] #16912 closed

[2021-03-29 16:36] SGD9919 commented on #16946
I found some error in libmariadb v3.1.10 in cmake/ConnectorName.cmake at line 25;
IF(CMAKE_SYSTEM_NAME MATCHES "Windows")
  SET(PLATFORM_NAME "win")
  SET(CONCAT_SIGN "")
  IF(IS64)
    SET(MACHINE_NAME "x64")
  ELSE()
    SET(MACHINE_NAME "32")
  END()
ENDIF()
please update to v3.1.12 to fix this
the new url is
https://github.com/mariadb-corporation/mariadb-connector-c

[2021-03-29 16:39] #16861 closed

[2021-03-29 16:45] #14134 closed

[2021-03-29 17:08] #16367 closed

[2021-03-29 17:17] #12995 closed

[2021-03-29 17:57] StarGate-One commented on #16947
`.\bootstrap-vcpkg.bat` downloads the vcpkg binary on windows, and downloads the source, builds, compiles and links the vcpkg binary on linux/osx.

From the [vcpkg-root] directory:

`.\vcpkg.exe search` will list all available ports
`.\vcpkg.exe list` will list all the ports you have installed

`.\vcpke.exe search  [something]` where something is say `boost`
Example:
`.\vcpkg.exe search boost` wil

[2021-03-29 17:58] BillyONeal commented on #16387
I don't believe our position has changed from https://github.com/microsoft/vcpkg/issues/15122 to which you linked.

[2021-03-29 18:07] Frankyuz commented on #16947
Oh I see, actually everything was correct right?

[2021-03-29 19:11] famouzkk opened #16949 "[sfml] SFML found but some of its dependencies are missing ( OpenAL) when crossbuilding with mingw"
OS: Linux x64
Target: Windows x64
Compiler: mingw-w64-gcc 10.2.0-2

Steps to reproduce the behavior:
In CMakeLists.txt
[code]

Run cmake with custom toolchain and triplet x64-mingw-static, it will produce(even when i have installed openal-soft:x64-mingw-static and aur package "mingw-w64-openal 1.20.1-1"):
[code]
toolchain file
[code]
The problem exists only when crossbuiling to windows and when us

[2021-03-29 19:47] electron271 opened #16950 "Visual studio and vcpkg not working with imgui"
**Describe the bug**
I installed imgui x64-windows-static, and whenever I try to open the demo window, I get this error:

![image](https://user-images.githubusercontent.com/66094410/112891303-9b9db000-909d-11eb-9d21-7ff67c717f5f.png)

**Environment**
- OS: Windows 10
- Compiler: MSBuild

**To Reproduce**
Steps to reproduce the behavior:
1. Command Prompt: vcpkg install imgui:x64-windows-static
2.

[2021-03-29 19:58] StarGate-One commented on #16924
@zipzit  /cc: @jeremyong @ras0219-msft @BillyONeal
Reference https://github.com/microsoft/vcpkg/issues/53#issuecomment-249276675 and other comments in #1254
- From my understanding (@ras0219 @BillyONeal can chime in and correct me if I am wrong) vcpkg defaults to x86-windows for windows to streamline the customer experience as it relates to Visual Studio as it also defaults to x86 on windows when

[2021-03-29 20:20] electron271 commented on #16950
actully, not really a issue for this repo

[2021-03-29 20:20] #16950 closed

[2021-03-29 20:27] wbuck commented on #11247
Yeah I'm currently also having this issue with `libuv` (I'm using the `vcpkg` manifest).

[2021-03-29 20:42] davidebeatrici commented on #16922
[code]

[2021-03-29 23:02] vicroms commented on #16445
Maybe something like `vcpkg integrate PATH` could be implemented.

[2021-03-29 23:29] vicroms commented on #16615
The relevant part of the code is [here](https://github.com/microsoft/vcpkg-tool/blob/main/src/vcpkg/build.cpp#L447-L481).

The `triplet_abi` entry is composed of `{triplet file hash}-{toolchain file hash}-{compiler info hash}`. There must be something that causes your triplet files to hash differently, it could be something hard to notice like a whitespace or an extra line skip.

[2021-03-29 23:29] upupming opened #16955 "[icu] Applying patch failed: error: corrupt patch at line 7"
**Host Environment**
- OS: Windows
- Compiler: msvc 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install qt5:x64-windows`

**Failure logs**

[code]

**Additional context**

`vcpkg.json`:

[code]

[2021-03-29 23:30] BillyONeal commented on #16614
@iskiselev Do you know folks to which the failure to handle `GetFinalPathNameByHandleW` could be reported? Ideally the bug would be fixed in Docker itself since this is an 'ordinary Windows API' breaking but we could try the 'fallback to `system_complete`' alternative...

[2021-03-29 23:53] iskiselev commented on #16614
@BillyONeal , no unfortunately I don't know who is responsible for it. I even don't know if it is on docker side or on Windows site.

[2021-03-29 23:56] BillyONeal commented on #16614
I'll ask around

[2021-03-30 01:00] PhoebeHui commented on #16944
Glad you have figured out the issue!

[2021-03-30 01:00] #16944 closed

[2021-03-30 01:02] #16139 closed

[2021-03-30 01:17] PhoebeHui commented on #16941
@ShiverZm, Could you double check if English language package installed by VS  installer?

Failures:
[code]

[2021-03-30 01:30] ankurverma85 commented on #16387
@BillyONeal , This is more about documenting why the position is what it is.
Most of us don't understand the reasoning behind that or the caveats around the inherent risks to make an informed decisions as to which of them apply.

A whitepaper by the vcpkg team on why it is what it is would help us understand it a better

[2021-03-30 01:44] zipzit commented on #16924
I'm (now) totally aware of the issue, but that does not begin to address my humble proposed interim fix.    Update the frigging readme file, particularly for the quickstart paragraph.  I get that code changes take time and argument and design and propogation and testing.  In the meantime, update the written instructions.

If you can't find translators for each of the languages provided, we underst

[2021-03-30 02:10] StarGate-One commented on #16924
- Reference https://github.com/microsoft/vcpkg/blob/master/docs/users/triplets.md#additional-remarks
- Unfortunately `everyone` who runs across an issue where there is existing documentation for their issue in the multitude `rtm` pages thinks the issue they had should be moved to be up front in the initial readme pages.
- `[vcpkg-root]\docs` contains a plethora of information, if I cannot find it

[2021-03-30 02:31] upupming commented on #16955
I an not sure if this problem is caused by this patch:

`fix_parallel_build_on_windows.patch`:

[code]

[2021-03-30 03:13] JackBoosY commented on #16909
Yeah.. you need to ensure you have enough space.

[2021-03-30 03:18] lukedan opened #16956 "[Python3] No target named `Python::Interpreter`; Build failure under Debug; Runtime error under Release"
**Host Environment**
- OS: Windows 10 20H2
- Compiler: Microsoft (R) C/C++ Optimizing Compiler Version 19.28.29913 for x64

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install python3:x64-windows`

**Failure logs**
Using the following CMake commands:
[code]

Project generation fails with the following output (Notice that `Python3_Interpreter_FOUND` is `TRUE`):
[code]

----------

Us

[2021-03-30 03:19] lukedan commented on #16853
Opened separate issue #16956.

[2021-03-30 03:19] #16853 closed

[2021-03-30 03:35] lukedan commented on #16956
Update: Adding the `/VERBOSE` flag gives:
[code]

[2021-03-30 03:37] davidebeatrici commented on #16909
Can't we check whether the operation failed?

[2021-03-30 03:40] JackBoosY commented on #1474
We hope contributors will add this port.

[2021-03-30 04:08] iskiselev commented on #16614
@BillyONeal, it would be great if vcpkg will implement fallback even if docker/windows will fix it. It is much longer wait until docker will be updated on build servers.

[2021-03-30 04:14] JackBoosY commented on #16955
cc @Neumann-A

[2021-03-30 04:20] JackBoosY commented on #16909
@davidebeatrici  Since multiple compilers have different prompts for insufficient disk space, it is difficult for us to extract logs and give warnings.

[2021-03-30 04:49] davidebeatrici commented on #16909
Oh, I see.

[2021-03-30 05:03] upupming commented on #16955
I manually deleted all CMake build files and `vcpkg\buildtrees\icu` files and reconfigure again, it seems this error is gone. It is really strange.

[2021-03-30 05:32] upupming commented on #16955
I manually created `./out/tmp` folder under `vcpkg\buildtrees\icu\x64-windows-dbg\data\out\tmp` and now it works.

[2021-03-30 05:57] #16909 closed

[2021-03-30 05:58] JackBoosY commented on #16955
Can you please make sure your vcpkg is latest?

[2021-03-30 06:03] upupming commented on #16955
@JackBoosY Thanks for your help.

Ok, I will use the lates vcpkg and test again.

I have installed both git bash & wsl2.

For the git bash, the version is:

[code]

For the wsl2 (ubuntu 20.04), the version is:

[code]

I cloned the `vcpkg` as a submodule using wsl2 git and call CMake in Windows VSCode Cmake Tool Build command. I am not sure if i should always clone `vcpkg` using git bash instead o

[2021-03-30 06:05] JackBoosY commented on #16955
Please use powershell instead of command line in Visual Studio then try again.

Thanks.

[2021-03-30 06:16] upupming commented on #16955
Did you mean run `.\vcpkg\vcpkg --feature-flags=manifests,versions install` from the powershell? This is okay, but it is useless. If I need to run cmake, Cmake will call vcpkg install again.

[2021-03-30 06:31] JackBoosY commented on #16906
We prefer you to use the following cmake code instead:
[code]

[2021-03-30 06:35] davidebeatrici commented on #16909
Please note that the files were all compiled successfully, it's the copy operation performed by vcpkg that failed.

[2021-03-30 06:46] NancyLi1013 commented on #16942
Related PR #16954

[2021-03-30 06:58] zhouhang95 opened #16958 "[szip] build failure"
**Host Environment**
- OS: x86
- Compiler: vs 2015

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install szip`

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
    szip[core]:x86-windows -> 2.1.1-6
Detecting compiler hash for triplet x86-windows...
Could not locate cached archive: C:\Users\zhouhang\AppData\Local\vcpkg\archives\8d\8d

[2021-03-30 07:15] John4266 opened #16960 "[cpr] update to 1.6.0"
Library name: CPR

New version number: 1.6.0

Other information that may be useful (release notes, etc...)
Port Github: https://github.com/whoshuu/cpr

The new version includes fixes for static buildings on windows.

[2021-03-30 07:17] JonLiu1993 commented on #16958
@zhouhang95 ,CMake is not able to generate the project properly -
Check to make sure Visual Studio 2015 has the following installed:

- Desktop Development with C++
- One of the Windows SDKs, preferably the latest 19041
- English Language Pack

[2021-03-30 07:25] mathisloge commented on #16906
This isn't quite the solution. Since proj has deprecated this and the project (mapnik) has a requirement on proj >=7.

I think that this should be fixed in vcpkg since the file itself is present but not working.

If this will not be fixed, I need to create a fix in the port of mapnik.

[2021-03-30 07:26] upupming commented on #16955
I have updated vcpkg to the latest version but still got this error:

[code]

[2021-03-30 07:33] Neumann-A commented on #16955
@JackBoosY: Please change the title. It is not a `qt5` issue it is an `icu` issue

[2021-03-30 08:05] MiguelEsteve commented on #16011
Does not work to me in any of the cases mentioned above.
Neither doing a git pull, nor overwritting the SHA. Stop using vcpkg.

[2021-03-30 08:13] NancyLi1013 commented on #16956
Hi @lukedan

Thanks for posting this issue again.
Could you please help provide your whole project sample? including main.cpp and CMakeLists.txt and other files.

Also I want to confirm why you need `Interpreter ` component of `Python3`.
Since the usage of python3 has been provided like this in vcpkg:

The package python3 is compatible with built-in CMake targets:

[code]
https://github.com/micros

[2021-03-30 08:26] meastp commented on #16615
@vicroms Thank you - this was useful info indeed! :)

By looking at the source code, I saw that the SHA1 algorithm is used, and tried powershell's `Get-FileHash` method, which made it easy to spot the difference. By changing from LF to CRLF in the triplet files, I got identical hashes both locally and in the Azure Pipelines Hosted Agent (`Get-FileHash -Path .\triplets\x64-windows-v141.cmake`).

Th

[2021-03-30 08:38] NancyLi1013 commented on #16929
Hi @ZiniuLu

Thanks for posting this issue.
Could you please help attach the log _E:\Code\vcpkg\buildtrees\boost-exception\build-x64-windows-rel-out.log_?

Please also help confirm if you have installed English package in Visual Studio 2019 Installer.

[2021-03-30 08:50] PhoebeHui commented on #16924
@zipzit, does the issue still repro when you installed the port with x64-windows?

[2021-03-30 08:51] ZiniuLu commented on #16929
[build-x64-windows-rel-out.log](https://github.com/microsoft/vcpkg/files/6227684/build-x64-windows-rel-out.log)

Hi @NancyLi1013

Thanks for your help!

Yep. I have installed the English package in VS 2019.

[2021-03-30 09:01] cosmin42 opened #16961 "[grpc:x64-android] build failure"
**Host Environment**
- OS: Windows 10, MacOS Big Sur, Ubuntu 20.04
- Compiler: Android NDK 21 or 23.0.7196353

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install grpc:x64-android`

**Failure logs**
[code]

[2021-03-30 09:14] PhoebeHui commented on #16920
I have no idea about this, @vicroms, could you please help take a look?

[2021-03-30 09:18] NancyLi1013 commented on #16895
Hi @stuartZhang

Thanks for posting this issue.

The failures from above build log:
[code]
But I cannot reproduce this on my machine.

[2021-03-30 09:21] NancyLi1013 commented on #16947
Hi @Frankyuz

Seems @StarGate-One has solved your question.

Please let me know if you have other concerns about this issue.

[2021-03-30 09:35] ionutcosminmihaipfa commented on #16751
This is working now with https://github.com/microsoft/vcpkg/pull/16479

[2021-03-30 09:39] NancyLi1013 commented on #16929
[code]
Seems that the path is not correct, since it contains some special characters.

[2021-03-30 10:13] PhoebeHui commented on #16902
@zomgrolf, thanks for reporting this issue! I have submitted a PR to fix this issue.

[2021-03-30 10:20] Neumann-A commented on #16955
probably same issue as in : https://github.com/microsoft/vcpkg/issues/16615#issuecomment-793892069 (linked solution)

[2021-03-30 10:38] ZiniuLu commented on #16929
Hello @NancyLi1013

Exactly this problem! These "special characters" as actually the username in chinese.

I've just created a new user account (which is in English) in the system and finally successfully installed the boost library!

Thanks again for your help!

[2021-03-30 10:41] #16929 closed

[2021-03-30 10:56] javi99 opened #16963 "[opencv4] Building package opencv4:x64-windows failed"
**Host Environment**
- OS: Windowa 10
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg install pthreads opencv[ffmpeg]`

**Failure logs**
[code]
Logs:
[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/6228455/install-x64-windows-dbg-out.log)

**Additional context**
Add any other context about the problem here, such as what you have already t

[2021-03-30 11:15] famouzkk opened #16964 "[imgui] mingw not linking to -limm32 and -ldwmapi"
OS: Linux
Target: Windows
Triplet: x64-mingw-static

ImGui in 1.82 reenabled ime functions by default in mingw (https://github.com/ocornut/imgui/commit/edf135c18de82aa4112ef561ecfc1ed824b8859b), now when we want to crosscompile using mingw, we are getting those errors:
[code]
Even if we specify `CMAKE_EXE_LINKER_FLAGS_INIT` in toolchain file with `-limm32 -ldwmapi` it still fails. When I revert to

[2021-03-30 11:35] zipzit commented on #16924
Check my comments above.  No, the package seems to be working in that my intellisense no longer reports a missing header file.  In my case, I'm using Unreal Game Engine and they have some sort of block in place from users adding any third party libraries.  This has to do with the plugin design system that controls the entire engine.  You have to add the libraries back in carefully organized plugin

[2021-03-30 12:19] #16958 closed

[2021-03-30 12:39] upupming commented on #16955
@Neumann-A After change the eol of `vcpkg\buildtrees\versioning\versions\icu\db2977707d68a8c04e0960b0965722f8e5bfda20\fix_parallel_build_on_windows.patch` fron CRLF to LF, the error is gone.

[2021-03-30 14:18] soumyamahunt commented on #16934
There is also feature request in dependabot repo regarding [this](https://github.com/dependabot/dependabot-core/issues/2027).

[2021-03-30 14:30] ShiverZm commented on #16941
thanks,it has been solved as you told me .

[2021-03-30 15:17] lukedan commented on #16956
The project can be found at https://github.com/lukedan/codepad. Regarding `Python::Interpreter`, it's a target provided by CMake (https://cmake.org/cmake/help/latest/module/FindPython3.html), and recommended by `pybind11` (https://pybind11.readthedocs.io/en/stable/compiling.html#findpython-mode).

[2021-03-30 15:20] rkp4s opened #16967 "How do I use versioning support with binary caching?"
I have been experimenting with binary caching support within vcpkg.  It seems like a promising feature for a development team to share binary packages.  Specifically, I have been trying to use Azure Artifacts as a shared binary cache where the packages are in the NuGet format.  These packages are then consumed by Visual Studio projects.  This set-up seemed to work well until I tried to couple it w

[2021-03-30 15:26] stuartZhang commented on #16895
@NancyLi1013 Is your dev box Linux/Unix? My dev box is Windows 10. I suspect the error originates from Windows-dedicated [SafeDllSearchMode](https://docs.microsoft.com/en-us/windows/win32/dlls/dynamic-link-library-search-order). Because the DLL files under the (C:/Windows/System32) directory are always loaded in higher priority, the unexpected DLL files are erroneously linked which have the same f

[2021-03-30 15:34] Neumann-A opened #16968 "[libpq] vcpkg-cmake-wrapper only fixes the target and misses the _LIBRARIES variable."
https://stackoverflow.com/questions/66839585/undefined-reference-when-linking-libpq-in-c-project

`PostgreSQL::PostgreSQL` target gets adjusted.

`PostgreSQL_LIBRARIES` does not -> fixing that is also required

[2021-03-30 16:14] strega-nil commented on #16874
@autoantwort `--editable` doesn't really work with manifest mode; we'd need to have real design work put in to support that, since it wasn't designed into the original.

[2021-03-30 17:17] #15563 closed

[2021-03-30 17:44] rkp4s commented on #16967
Update:  The second instance of the manifest in my previous comment should have looked like this
[code]
That looks more like the preferred syntax for what I'm trying to achieve (pinning a specific package version).  I've tried different incantations of this (e.g. different baselines), but they all seem to result in a cache miss with versioning.

[2021-03-30 17:45] lukedan commented on #16956
Update: In `include/python3.9/pyconfig.h:262`:

[code]

In `include/pybind11/detail/common.h:109`:

[code]

Perhaps `vcpkg` should define `Py_DEBUG` for debug builds?

[2021-03-30 17:47] lukedan commented on #16956
Related links:
- https://gitlab.kitware.com/paraview/paraview/-/issues/19488
- https://github.com/pybind/pybind11/issues/1295

[2021-03-30 18:02] lukedan commented on #16728
Closing since it's not descriptive of the root issue (vcpkg not updating correctly).

[2021-03-30 18:02] #16728 closed

[2021-03-30 18:22] Mr-Leshiy commented on #16445
As for me the best solution to do it during the bootstrap process, just to modify windows and linux scripts with the additional argument. The way to update vcpkg directly seems more complicated.

[2021-03-30 18:57] lukedan commented on #16956
I realized that there's another `python39.zip` inside the embedded zip version of Python and putting it inside the output directory fixes the issue under release. Given that `vcpkg` already copies dll files, it may be a good idea to also automatically copy the zip file as well.

[2021-03-30 20:02] trebahl opened #16970 "Using the vtk port"
The vtk includes are no longer directly in installed/<platform>/include but in a subdirectory thereof (vtk-9.0). This means that

#include <vtkSomething.h>

no longer finds the include when using VS integration. I would need to write

#include <vtk-9.0/vtkSomething.h>

but that would make the source code dependent on the vtk version, which is a bad thing.

The only solution I found is to add g:\de

[2021-03-30 20:51] japm48 commented on #7212
Hopefully will be fixed by #13100.

[2021-03-30 20:52] Neumann-A commented on #16970
Use CMake. It automatically adds the subdirectory if you link against a vtk target.

[2021-03-30 20:54] strega-nil opened #16972 "[vcpkg repo] Open github discussions?"
Should we open github discussions? What are the benefits and the drawbacks? cc @AugP

[2021-03-30 20:59] unixwitch commented on #16972
not everyone is on Discord or Slack (or wants to be on there) and there doesn't seem to be any mailing list or newsgroup for vcpkg, so having a forum for peer support seems like a good idea.

[2021-03-31 01:04] PhoebeHui commented on #16941
Good to know!

[2021-03-31 01:04] #16941 closed

[2021-03-31 01:22] paulgualambo opened #16973 "How do I ...download lib for ldap"
When asking a question please also include where you looked for an answer (so we can update the documentation if needed).

C:\src>.\vcpkg\vcpkg search ldap

If your library is not listed, please open an issue at and/or consider making a pull request:
    https://github.com/Microsoft/vcpkg/issues

[2021-03-31 02:47] NancyLi1013 commented on #16973
Hi @paulgualambo

Thanks for posting this issue.
Since `ldap `is not available in vcpkg now. You can open a new issue to track this or create a pull request to add this port if you have the demand for `ldap`.

Please let me know if have other questions about this issue.

[2021-03-31 05:11] prateek9623 opened #16974 "Conditional dependency"
Can we have a way to manage conditional dependency using Manifest file or some vcpkg specific function?

As most projects don't always require a complete build, so can we have a way to ignore dependency for ignored part of the project.

For e.g. Projects have test cases and they depend on some libraries like gtest. But, we don't always need to build them. In CMake, we can disable those test cases

[2021-03-31 06:02] SocketNet opened #16976 "Build FFmpeg Failure"
## Host Environment

OS: Ubuntu 20.04 LTS

Compiler: GCC 9.3.0

To Reproduce
Steps to reproduce the behavior:
./vcpkg install ffmpeg

compile with cmake using attached CMakeLists.txt

build on windows success

## Source Code

[code]

## CMakeLists.txt
[code]
Failure logs
[code]

[2021-03-31 06:10] JackBoosY commented on #16889
Is this issue solved?

[2021-03-31 06:15] PhoebeHui commented on #6444
@LinArcX, the PR has been merged, could you get vcpkg latest source and try again?

[2021-03-31 06:59] Neumann-A commented on #16974
Look into: port features in your manifest. You need to pass the features you want explicitly in your cmake build after that (but i forgot the variable name for that).

[2021-03-31 07:05] AugP commented on #16972
This sounds like a good idea to me as well, it would help us separate out questions or general discussion from future work.

[2021-03-31 08:41] javi99 commented on #16963
To give a little bit more of context, I am trying to build darknet in windows. To do so, I have followed this guide: https://medium.com/analytics-vidhya/installing-darknet-on-windows-462d84840e5a , and it crashes when trying to install opencv with vcpkg (as you can see). I have also tried to install darknet using cmake with this guide https://www.youtube.com/watch?v=y5txWv7MVag , but I have the sa

[2021-03-31 09:01] Neumann-A commented on #16972
I think an extra discussion place would be could. For example just recently #16974 was opened which could be discussed there instead. I agree with @Hoikas here that the Issues page has to many No-Issues/Questions and needs to be better cleaned up for real or fixable issues. I would also suggest a more strict issue policy which closes issues which don't have a repro or a clean description within a

[2021-03-31 09:30] upupming commented on #16955
@JackBoosY

I think this problem will only happen if you use manifest mode & run `CMake Build` from the VSCode command palette (which use a [child process](https://github.com/microsoft/vscode-cmake-tools/blob/develop/src/proc.ts#L5) of the extension to run cmake), if I just use powershell to execute `.\vcpkg.exe install` icu or qt, it did succeed.

[2021-03-31 09:44] NancyLi1013 commented on #16895
My dev box is Windows 10.

`error while loading shared libraries: ?: cannot open shared object file: No such file or directory`

Do you know which shared library cannot be found here?  If there is the same file name as what we want, can you try to disable the feature `SafeDllSearchMode`? Then rebuild this?

[2021-03-31 09:58] Ghabry opened #16981 "Is there a way to determine if a static or shared runtime is needed when using the toolchain file?"
Hello,

Is there a way to automatically set the correct C++ runtime linkage based on the VCPKG triplet when using the toolchain file?

Lets say I want to build my application using this cmake config command:

[code]

Because this is the static triplet my application must be built with MTd/MT.

CMake provides ``CMAKE_MSVC_RUNTIME_LIBRARY ``, so I could append this to my CMake line:

[code]
Problem

[2021-03-31 10:02] JackBoosY commented on #16955
@upupming  Thanks for your info.

[2021-03-31 10:17] JonLiu1993 commented on #16926
@jade74-work ,Thanks for posting this issue,I can successfully use spdlog by using the .cpp you provided locally. Can you provide your visual studio project interface?
[code]

[2021-03-31 10:20] PhoebeHui commented on #16274
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2021-03-31 10:20] #16274 closed

[2021-03-31 10:21] PhoebeHui commented on #16117
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2021-03-31 10:21] #16117 closed

[2021-03-31 10:21] PhoebeHui commented on #16079
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2021-03-31 10:21] #16079 closed

[2021-03-31 10:29] PhoebeHui commented on #16247
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2021-03-31 10:29] #16247 closed

[2021-03-31 10:29] Ghabry commented on #16981
I have now this code here to automatically configure it. Imo this just feels "dirty" compared to the possible one-liner in the previous comment.

[code]

[2021-03-31 10:30] PhoebeHui commented on #16333
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2021-03-31 10:30] #16333 closed

[2021-03-31 10:30] PhoebeHui commented on #16327
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2021-03-31 10:30] #16327 closed

[2021-03-31 10:31] PhoebeHui commented on #16452
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2021-03-31 10:31] #16452 closed

[2021-03-31 10:32] ianichitei opened #16982 "[New Port Request] bddisasm"
Library name: bddisasm

Library description: x86/x86_64 instruction decoder and emulator

Source repository URL: https://github.com/bitdefender/bddisasm

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

I've already prepared a port [here](https://github.com/ianichitei/vcpkg/tree/d94604ac43e16abed8614c3c7ad1589ecde3d818/port

[2021-03-31 10:36] NancyLi1013 commented on #16921
Hi @davidebeatrici

Thanks for posting this issue and also for your investigation.

Your suggestion sounds good. But it seems to be more complex to replace `opengl `with `angle`. For those libraries that depend on `opengl`, we need to add different dependencies according to different platforms. Besides this, we also need to change source codes.

In my opinion, we should respect the upstream librar

[2021-03-31 10:38] PhoebeHui commented on #15443
If you wish to add this port in the future, you can reopen this issue with a PR, but we're closing it for now.

[2021-03-31 10:38] #15443 closed

[2021-03-31 10:46] JonLiu1993 commented on #16963
@javi99 ,Thanks for posting this issue,There is an issue [here ](https://github.com/microsoft/vcpkg/issues/12756)that is the same as yours. You can refer to the solutions given to try. If you have any problems, you can contact me

[2021-03-31 10:50] PhoebeHui commented on #15899
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2021-03-31 10:50] #15899 closed

[2021-03-31 10:56] PhoebeHui commented on #15174
Thanks luncliff for making this possible!

[2021-03-31 10:56] #15174 closed

[2021-03-31 11:04] PhoebeHui commented on #16814
@lpiert, please reopen this issue with failure logs if it still be a problem for you.

[2021-03-31 11:04] #16814 closed

[2021-03-31 11:09] PhoebeHui commented on #16682
This issue has been fixed, appreciate your effort very much!

[2021-03-31 11:09] #16682 closed

[2021-03-31 11:11] #16855 closed

[2021-03-31 11:22] PhoebeHui commented on #15399
@walterdelavega, please reopen this issue if it still be a problem for you.

[2021-03-31 11:22] #15399 closed

[2021-03-31 11:31] upupming commented on #14156
@JackBoosY I got this bug, too when I build a QML project.

![image](https://user-images.githubusercontent.com/24741764/113137785-8f5d5280-9257-11eb-9665-40cc19553fdb.png)

It says `C:\Users\ming\projects\tooth-studio\build\Debug\qml\QtQuick.2\qtquick2plugind.dll` couldn't be found, but it exists there:

![image](https://user-images.githubusercontent.com/24741764/113137866-ab60f400-9257-11eb-927c-

[2021-03-31 12:27] upupming opened #16983 "[qt5] QML `qtquick2plugind.dll` cannot be loaded"
It seems QML is not working now. See this repo for reporduce: https://github.com/upupming/vcpkg-qt5-qml-bug

@JackBoosY I got this bug, too when I build a QML project (an empty QML project from Qt creator).

![image](https://user-images.githubusercontent.com/24741764/113137785-8f5d5280-9257-11eb-9665-40cc19553fdb.png)

It says `C:\Users\ming\projects\tooth-studio\build\Debug\qml\QtQuick.2\qtquick2

[2021-03-31 12:50] walterdelavega commented on #15399
Thanks for write me,
I solved this issue, the address location for access the package it was
very long, i change th location in the troy of system, it solved that
problem.
Best regards,

On Thu, Dec 31, 2020, 02:19 Jack·Boos·Yu ***@***.***> wrote:

[2021-03-31 12:55] Sibras commented on #16976
You also need to link against avutil (🤷 just the way ffmpeg works)

[2021-03-31 13:44] jade74-work commented on #16926
Thanks for your replay...

This problem has not been reproduced on other computers.
Let's check it again on the computer where the problem occurs.

I will leave a message again.

[2021-03-31 14:04] ViniDalvino commented on #16452
Why did the port request is unresolved ?

[2021-03-31 14:36] rubenwardy opened #16985 "[thor] build failure"
- Package: thor:x64-linux
- Vcpkg version: 2021-01-13-unknownhash

**Host Environment**
- OS: Linux Manjaro and Debian 4.19
- Compiler: GCC 10.2 and GCC 8.3.0

**To Reproduce**
Steps to reproduce the behavior:
`VCPKG_DEFAULT_TRIPLET=x64-linux ./vcpkg install sfml thor`

**Failure logs**

[code]

[install-x64-linux-dbg-out.log](https://github.com/microsoft/vcpkg/files/6237338/install-x64-linux-dbg-

[2021-03-31 15:01] smoked-herring opened #16986 "[dav1d] build failure (probably an issue in vcpkg_configure_meson?)"
**Host Environment**
- OS: Windows 7 x64
- Compiler: MSVC 2019 x64

**To Reproduce**
`vcpkg install dav1d --triplet x64-windows`

**Failure logs**
[code]

**Additional context**
0xc0000135 error code = "DLL not found" error. Looks like it fails to find some required DLL.

CC @atkawa7

[2021-03-31 15:14] upupming commented on #16983
It seems not related to vcpkg, the same problem will happen if using manually installed Qt & CMake

[2021-03-31 15:20] SocketNet commented on #16976
The clown is my own, I don't deserve vcpkg 😂

[2021-03-31 17:00] diablodale opened #16988 "[protobuf] Deprecation Warning for vcpkg_check_features()"
Minor warning of deprecated use of vcpkg_check_features() when building `protobuf` port.
Port continues to build successfully.

[code]

### Solution

Minor update to `ports/protobuf/portfile.cmake:16` to use the `FEATURES` keyword.
🙂

[2021-03-31 18:04] prateek9623 commented on #16974
cool, I had to just some more in https://vcpkg.readthedocs.io/en/latest/users/manifests/#cmake-integration, I don't know how did I miss that

[2021-03-31 18:04] #16974 closed

[2021-03-31 18:44] acceleratxr opened #16989 "Could NOT find ZLIB build failure with cmake"
**Host Environment**
- OS: Windows
- Compiler: MSVC 2019

**To Reproduce**
1. `./vcpkg install cpr:x64-windows-static`
Attempt to build cmake project that uses `find_package` on anything that relies on `zlib` (including zlib itself).
2. Execute one of the following commands. In this example, `find_package(cpr CONFIG REQUIRED)`
a. `cmake -G"Visual Studio 16 2019" -A x64 .`
b. `cmake -G"Visual Studi

[2021-03-31 19:11] #16902 closed

[2021-03-31 19:12] adelpit opened #16990 "[gdal:x64-osx] configuration failure: required file 'config.rpath' not found"
**Host Environment**
- OS: osx
- Compiler: n/a

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install gdal`

**Failure logs**
stdout logs
[code]

And the contents of `autoconf-x64-osx-err.log`
[code]

**Additional context**

If I add `execute_process(COMMAND touch ${SOURCE_PATH}/config.rpath)` immediately before `vcpkg_configure_make` then the configuration completes fine

[2021-03-31 20:04] Antosser commented on #16985
Same but with FFmpeg

[2021-03-31 20:16] rubenwardy commented on #16985
You may get similar error messages but for different causes. This probably won't be for the same reason

[2021-03-31 20:39] waych opened #16991 "[brotli] build failure when used with cargo-vcpkg"
**Host Environment**
- OS: debian, ubuntu-latest
- Compiler: rust toolchain nightly 1.53 + gcc 10.2.1 + ld.bfd 2.35.2

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Failure logs**
`cargo vcpkg -v build` succeeds without error.  The `cargo build ...` command fails on final link however with the following:

[code]

The failing link command is:
[code]

This is failing because the librar

[2021-03-31 21:29] #16642 closed

[2021-03-31 21:53] MikeCernea opened #16993 "[libLAS - arm64] build failure"
**Host Environment**
- OS: MacOS - building for iOS
- Compiler: AppleClang 12.0.0.12000032

**To Reproduce**
Steps to reproduce the behavior:
`sudo ./vcpkg install --triplet=arm64-osx liblas`

After fixing the dependencies:
 * libffi fix - replace ARM64 with arm64 in line 14 in ~/vcpkg/ports/libffi/CMakeLists.txt
 * proj4 fix - build proj4 for x64 and copy ~/vcpkg/installed/arm64-osx/tools/sqlite3

[2021-03-31 22:38] rkp4s commented on #16967
Perhaps, I'm going about this wrong.  Rather than install the package directly to the Azure Artifacts/NuGet server, a more declarative approach seems to work:

[code]

This explicitly installs sqlite3:x64-windows, exports the package in NuGet format, and publishes the package to the server.  Consumers can then just install the NuGet package.

So I've tried two different approaches for publishing a

[2021-04-01 00:58] amoxicilinaaa opened #16995 "error could not locate cached archive .\vcpkg install"
when using the command:  **.\vcpkg install --triplet x64-windows boost-asio boost-filesystem boost-iostreams boost-lockfree boost-system boost-variant cryptopp curl jsoncpp libmariadb luajit mpir pugixml**

this error appears to me, follow the image for a better interpretation. I would like a solution for him.

![erro could not locate](https://user-images.githubusercontent.com/38027045/113228816-2

[2021-04-01 01:22] kotori2 commented on #16331
It's not that hard tho
Change this line to `set(PLATFORM linux-generic64)`
https://github.com/microsoft/vcpkg/blob/13640c56717dec1bba16c6eb0815d3889dbe1c4d/ports/openssl/unix/CMakeLists.txt#L44
And add `no-engine` to line 160.

[2021-04-01 01:43] JackBoosY commented on #14156
Does #14594 fix this issue?

[2021-04-01 01:47] JackBoosY commented on #16741
Hi, does #16882 fix this issue?

[2021-04-01 01:47] JackBoosY commented on #13859
Hi, does #16882 fix this issue?

[2021-04-01 01:57] upupming commented on #14156
No, the DLLs are copied correctly, but still got this error.

[2021-04-01 02:06] JackBoosY commented on #16986
Can you cd to _D:/projects/git.vcpkg.sail/buildtrees/dav1d/x64-windows-dbg_ and manuanlly run command:
[code]

Thanks.

[2021-04-01 02:08] upupming commented on #16983
Sorry, I think the root cause is still the vcpkg copied DLLs. The DLLs are all copied, but the module cannot be loaded correctly.

Howerver, If I copy the built `vcpkg-qt5-qml-bug.exe` and `main.qml` to my Qt install library `C:\Qt\5.15.2\msvc2019_64\bin`, I can run it successfully:

![image](https://user-images.githubusercontent.com/24741764/113233586-2c5cd180-92d2-11eb-8d9f-3a4279c91084.png)

[2021-04-01 02:29] JackBoosY commented on #16983
cc @Neumann-A

[2021-04-01 02:42] PhoebeHui commented on #15476
@leesureel, thanks for reporting this issue!

We already have an exist PR https://github.com/microsoft/vcpkg/pull/15292 to upgrade it.

[2021-04-01 02:44] NancyLi1013 commented on #16995
Hi @amoxicilinaaa

Thanks for posting this issue.

Seems the URL https://strawberry.perl.bot/download/5.30.0.1/strawberry-perl-5.30.0.1-32bit.zip has broken now.

But another URL http://strawberryperl.com/download/5.30.0.1/strawberry-perl-5.30.0.1-32bit.zip can be available to access it.

So could you please remove the cache and download it again?
If it still failed, please try to download it manu

[2021-04-01 04:26] #16153 closed

[2021-04-01 06:28] mdsadiqueinam opened #16996 "[OpenXLSX] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: revision

**To Reproduce**
`./vcpkg create https://github.com/troldal/OpenXLSX/archive/refs/heads/master.zip`
`./vcpkg edit OpenXLSX (edited the version and name)`
`./vcpkg install OpenXLSX`

**Failure logs**
 Computing installation plan...
The following packages will be built and installed:
    openxlsx[core]:x86-windows -> 0.2.0-dev
Detecting com

[2021-04-01 06:30] NancyLi1013 commented on #16988
Hi @diablodale

Thanks for posting this issue.

Frankly speaking, this issue exists on many ports. Since `vcpkg_check_features()` has been updated recently. But we haven't implement the new requirement on those ports that use` vcpkg_check_features()` yet.

I will create a PR to fix this port. For other ports, we will fix this at the same time if there are other changes in those ports.

[2021-04-01 06:58] smoked-herring commented on #16986
It outputs

[code]

[2021-04-01 07:13] JackBoosY commented on #16981
https://github.com/microsoft/vcpkg/blob/13640c56717dec1bba16c6eb0815d3889dbe1c4d/triplets/x64-windows-static.cmake#L2
https://github.com/microsoft/vcpkg/blob/13640c56717dec1bba16c6eb0815d3889dbe1c4d/triplets/community/x64-windows-static-md.cmake#L2

[2021-04-01 07:18] JonLiu1993 commented on #16946
@SGD9919 ,Thanks for posting this issue,
I can successfully install libmariadb:x64 triplet locally, I will upgrade the libmariadb version to 3.1.12, you can wait for the merge and reinstall

[2021-04-01 07:36] upupming opened #16998 "How do I remove qt5"
As per #16983, the qt in vcpkg has a problem with QML. So I try to remove it.

The cli says it has been uninstalled, but `vcpkg list` still got qt5 listed, and the `C:\src\vcpkg\installed\x64-windows\bin` folder still has Qt's DLLs. In this way, the Qt DLLs will still be copied to my build directory. But I don't want to this DLLs to be copied by vcpkg. So, Could you please teach me how can I remov

[2021-04-01 07:38] Neumann-A commented on #16998
`vcpkg remove qt5-base:x64-windows`

[2021-04-01 07:39] NancyLi1013 commented on #16989
Hi @acceleratxr

Thanks for posting this issue.
Seems you didn't set `CMAKE_TOOLCHAIN_FILE` in your cmake command.

You can try to build via the command like this:
`cmake  -G "Visual Studio 16 2019" -DCMAKE_TOOLCHAIN_FILE=F:\tool\vcpkg\scripts\buildsystems\vcpkg.cmake -DVCPKG_TARGET_TRIPLET=x64-windows-static`

Since Visual Studio 2019 will build x64 by default. So it's unnecessary to add `-A x64`

[2021-04-01 07:41] Neumann-A commented on #16983
@JackBoosY This is a deployment problem. You have to figure out whats wrong with the deployment in example by yourself. I don't have time to debug this. It is probably easier to deploy a working qt.conf instead of all the dlls. (That also seems like the main difference to the example)
@upupming could you list the files (dlls) windeployqt deployed vs the files vcpkg deployed to see the difference?

[2021-04-01 07:45] #16998 closed

[2021-04-01 07:54] Neumann-A opened #16999 "[vcpkg/host-triplet] Make the host triplet selection better"
Problem: `x64-windows-static` is not a host triplet on `x64 & windows`
Observed while by trying to make qtbase depend on itself for the host.

vcpkg's selection of the host triplet is quite rudimentary in terms of the host triplet selection. This affects **all** custom triplets!

Suggestion:
Look into the target triplet (`VCPKG_SYSTEM_NAME` & `VCPKG_TARGET_ARCHITECTURE`) and compare the values aga

[2021-04-01 07:54] Foward-Fu opened #17000 "Error: Building package boost-compatibility:x86-windows failed with: BUILD_FAILED"
When I install pcl with using vcpkg , there are some questions.
Environment:Windows10
Failure logs:
D:\vcpkg>.\vcpkg install pcl
Computing installation plan...
The following packages will be built and installed:
  * boost-algorithm[core]:x86-windows -> 1.75.0
  * boost-align[core]:x86-windows -> 1.75.0
  * boost-any[core]:x86-windows -> 1.75.0
  * boost-array[core]:x86-windows -> 1.75.0
  * boost-

[2021-04-01 07:58] Neumann-A opened #17001 "[vcpkg/toolchain] Toolchain does not know about host triplets"
The following code is wrong considering the existence of host triplets:

https://github.com/microsoft/vcpkg/blob/13640c56717dec1bba16c6eb0815d3889dbe1c4d/scripts/buildsystems/vcpkg.cmake#L654-L660

the toolchain needs to know `VCPKG_HOST_TRIPLET` which will be set to `VCPKG_TARGET_TRIPLET` if not explicitly requested otherwise. This also needs to be forward to the manifest invocation in the toolch

[2021-04-01 08:05] NancyLi1013 commented on #16921
Since this issue is similar to #3278. Let's track this issue there. Thanks for your attention to this issue.

[2021-04-01 08:05] #16921 closed

[2021-04-01 08:14] NancyLi1013 commented on #16996
Hi @mdsadiqueinam

Thanks for posting this issue.

Seems `openxlsx ` is not available in vcpkg now. Please open a [new port request](https://github.com/microsoft/vcpkg/issues/new?assignees=&labels=new+port+request+-+consider+making+a+PR%21&template=request-a-new-port.md&title=%5BNew+Port+Request%5D+%3Clibrary+name+here%3E) if you want to add this port in vcpkg.

Also I cannot get the error info si

[2021-04-01 08:14] #16996 closed

[2021-04-01 08:16] Hoikas commented on #16999
FWIW, if you need a host triplet copy of python3 and vcpkg selection x64-windows-static instead of x64-windows, then the built python.exe will be unable to load extension modules.

[2021-04-01 08:19] SGD9919 commented on #16946
thankful

[2021-04-01 08:22] JonLiu1993 commented on #16946
@SGD9919 ,Sounds great, I will update libmariadb to the latest version and link to this issue

[2021-04-01 08:23] mdsadiqueinam opened #17002 "[New Port Request] OpenXLSX"
Library name: OpenXLSX

Library description: OpenXLSX is a C++ library for reading, writing, creating and modifying Microsoft Excel® files, with the .xlsx format.

Source repository URL: https://github.com/troldal/OpenXLSX

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be inc

[2021-04-01 08:26] PhoebeHui commented on #16990
@adelpit, I can't repro this issue locally. It may be a autoconf issue, what's the version of autoconf in you machine?

[code]

[code]

[2021-04-01 08:28] PhoebeHui commented on #17000
@Foward-Fu, could you try the solution provided in issue https://github.com/microsoft/vcpkg/issues/13348?

[2021-04-01 08:32] upupming commented on #16983
@Neumann-A Thanks for your advice, I have listed the difference of them below.

There are several observations:

1. when using windeploy, the DLL is copied to `QtQuick.2\qtquick2plugind.dll`; when using vcpkg, the DLL is copied to `qml\QtQuick.2\qtquick2plugind.dll`
2. The file size of windeploy's `qtquick2plugind.dll` is the same as that of `C:\Qt\5.15.2\msvc2019_64\qml\QtQuick.2`, both are 84.4K

[2021-04-01 08:33] xlabd commented on #13077
Can you please add a source for this, @cenit ?

[2021-04-01 08:48] Neumann-A commented on #16983
there are a few things which could be the problem:
a) the qt.conf is incorrect.
b) the extra folder structure, plugins and qml are probably not necessary or wrong. But depends on what the qt.conf says
c) I don't see the folder `plugin/qmltooling` which could also be the problem

[2021-04-01 08:53] cenit commented on #13077
opencv development. See for example https://github.com/opencv/opencv/issues/17496

[2021-04-01 10:03] autoantwort opened #17005 "[pangolin] build failure on linux"
**Host Environment**
- OS: Linux Pipeline #16994
- Compiler: idk
**To Reproduce**
Steps to reproduce the behavior:
Run the vcpkg pipeline

**Failure logs**
[code]
[code]

**Additional context**
Linux pipeline of  #16994

[2021-04-01 10:04] Jaroslavaskarmazinas opened #17006 "${CURRENT_PACKAGES_DIR}/debug/bin/*.exe)"
https://github.com/microsoft/vcpkg/blob/05392981d355f8c46fba32b21f33eeb46a8666f0/ports/pcl/portfile.cmake#L1-L78

[2021-04-01 10:04] Jaroslavaskarmazinas opened #17007 "${CURRENT_PACKAGES_DIR}/debug/bin/*.exe)"
https://github.com/microsoft/vcpkg/blob/05392981d355f8c46fba32b21f33eeb46a8666f0/ports/pcl/portfile.cmake#L1-L78

[2021-04-01 10:11] #17007 closed

[2021-04-01 10:22] autoantwort opened #17009 "[gnome libs] Move away from ftp.gnome.org"
The pipelines often fails with something like
[code]
We could switch to https://download.gnome.org/sources/ which is hopefully more stable

[2021-04-01 10:25] Ghabry commented on #16981
Did you forget to write some text? I only see cited code.

I know about ``VCPKG_CRT_LINKAGE`` but as explained above this variable is not available when using vcpkg as a ``CMAKE_TOOLCHAIN_FILE``.

[2021-04-01 10:28] Neumann-A commented on #17009
maybe after #13100 is merged.

[2021-04-01 10:37] autoantwort commented on #17009
That is an large PR. You already have updated gtk to https://download.gnome.org/sources/ . Since you updated all versions anyway, you could maybe also switch to https://download.gnome.org/sources/, but that doesn't make the pr smaller 🙈

[2021-04-01 10:40] Neumann-A commented on #17009
ah no. after #16959 is merged I will put #13100 out of draft and somebody else can take over. I don't intend to sink even more time in stuff I don't use ;)

[2021-04-01 10:42] Neumann-A commented on #16999
Isn't python handled by `vcpkg_find_acquire_program` any way ?

[2021-04-01 10:43] autoantwort commented on #17009
I feel you. But thank you for this incredible amount of work!

[2021-04-01 10:45] Neumann-A commented on #17009
[code]

the other url seems not to be better.

[2021-04-01 10:47] JonLiu1993 commented on #16985
@rubenwardy ,Thanks for posting this issue,
I can reproduce your problem locally, and I will submit pr to fix this bug later

[2021-04-01 10:51] autoantwort commented on #17009
Hm ok -.-
Another source is maybe https://gitlab.gnome.org/Archive/libcroco. Sometimes the libs have a github mirror, which is probably the most stable variant

[2021-04-01 11:01] autoantwort commented on #17009
Imho it is super annoying that currently nearly every pipeline fails if you do some work on the "base" ports because of this. Maybe we can ask the gnome mirror maintainers why there are so often timeouts. Or the pipeline should cache downloads

[2021-04-01 11:06] Neumann-A commented on #17009
at least the PR pipeline could use cached downloads. The real CI pipeline should download everything. This way contributors don't have to deal with downloading issues of unrelated ports and the amount of traffic vcpkg generates gets reduced. (CI probably gets rejected from downloading due to too many download requests considering that each CI downloads.)

[2021-04-01 11:16] NancyLi1013 commented on #17006
Hi @Jaroslavaskarmazinas

Thanks for posting this issue.

Could you please help describe this issue more clearly? What's the problem? What do you want us to do?

[2021-04-01 11:20] Foward-Fu commented on #17000
Thank you ,the solution can resolve my questions.I Set the HTTPS_PROXY and HTTP_PROXY environment.

[2021-04-01 11:20] #17000 closed

[2021-04-01 11:48] PhoebeHui commented on #17005
Noted this issue could repro when libuvc:x64-linux installed before pangolin:x64-linux.

[2021-04-01 12:25] cditto123 commented on #16751
There is definitely anti-virus.  An evil one at that.  I can’t disable it.  Only IT admin can and only temporarily.  I’ll try again when I can get access to non-network machine.  Thanks for the update.

From: NancyLi1013 ***@***.***>
Sent: Thursday, April 1, 2021 12:58 AM
To: microsoft/vcpkg ***@***.***>
Cc: Chuck Ditto ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/vcpkg] protobuf:x86

[2021-04-01 13:19] xandox commented on #15291
It works perfectly! Thank you very much!

[2021-04-01 13:19] #15291 closed

[2021-04-01 13:24] MehdiChinoune opened #17017 "Couldn't find GSL library on Windows with Ninja Generator."
**Describe the bug**

Trying to build a simple project using Ninja+vcpkg, It turns out that cmake fails to find GSL Library with Ninja Generator.

**Environment**
- OS: Windows 10 Pro 20H2 x64
- Compiler: MSVC 16.9

**To Reproduce**
[code]
[code]

**Expected behavior**

Get the same as Visual Studio Generator
[code]

**Failure logs**

[code]

[2021-04-01 13:25] xandox commented on #15291
Is there any information how this work?

[2021-04-01 13:33] Neumann-A commented on #17017
vs

Your architecture seems to be wrong.

[2021-04-01 13:38] MehdiChinoune commented on #17017
I don't know why cmake choose x86 with Ninja generator when using Powershell!
Sorry!

[2021-04-01 13:38] #17017 closed

[2021-04-01 14:33] tly000 commented on #16981
the script `/scripts/toolchains/windows.cmake` sets the value of `CMAKE_MSVC_RUNTIME_LIBRARY`. is this script also loaded by the toolchain file (i.e. `scripts/buildsystems/vcpkg.cmake`) ?

[2021-04-01 14:48] Ghabry commented on #16981
No, this is not loaded by the toolchain file.

This is actually the line I copy-pasted in my CMakeLists. Even chainloading this cmake file would not work because ``VCPKG_CRT_LINKAGE`` is unavailable. (is set somewhere else)

[2021-04-01 15:19] xandox commented on #15291
I found! https://github.com/microsoft/vcpkg/blob/master/docs/users/host-dependencies.md

[2021-04-01 15:32] Neumann-A commented on #16983
[code]
Looking at the files the vcpkg deployment is at least missing
[code]

[2021-04-01 15:35] upupming commented on #16983
@Neumann-A Thanks for the advance, I will try it.

[2021-04-01 15:36] Neumann-A commented on #16983
Reason:
[code]
vcpkg only deploys these if it detects linkage against Qt5Quick maybe it needs to be moved to also do so on Qt5Qml

[2021-04-01 16:15] tly000 commented on #16981
this is my hack to find the CRT linkage value:
[code]

[2021-04-01 16:15] Felipe21 commented on #10824
im having the exact same issue i ha e installed git on disk D  msvc on disk D and vcpkg on disk D
i made thse 3 steps but after all i got this error
Prueba la nueva tecnología PowerShell multiplataforma https://aka.ms/pscore6
i opened git and powershell as admin ( yes i tried both )
[code]

[2021-04-01 17:11] undefinedfunction commented on #12334
For anyone running into this error now, check your docker memory limits. I had 2GB RAM assigned in the docker settings (Settings > Resources > Advanced), updated that to 10GB and restarted docker and it worked.

I was getting this error on any flavour of Debian/Ubuntu I could try but got success on Debian:10

(OSX 11.2.3, 16gb 2019 MBP)

[2021-04-01 17:29] #16358 closed

[2021-04-01 17:32] #16988 closed

[2021-04-01 17:36] okravets opened #17028 "First release in 2021?"
When first release planned in 2021?
Thank you,
Olexandr

[2021-04-01 17:39] #16343 closed

[2021-04-01 17:39] #16236 closed

[2021-04-01 17:40] Ghabry commented on #16981
Thanks for that code this is more reliable than my version 👍

[2021-04-01 17:41] #15358 closed

[2021-04-01 18:10] davidebeatrici commented on #16921
No problem.

[2021-04-01 18:28] genevanmeter commented on #13859
For Linux I needed to change -DWITH_GTK=OFF to ON in ports/opencv4/portfile.cmake.  Not sure patch vcpkg to enable it if Linux is detected.

[2021-04-01 20:11] ionutcosminmihaipfa commented on #16889
Hi, yes for x86-android, for x64-android, I added a separate issue here: https://github.com/microsoft/vcpkg/issues/16961

[2021-04-01 20:15] ionutcosminmihaipfa commented on #16961
It seems like the problem is caused by these lines `__asm__(".symver memcpy,memcpy@GLIBC_2.2.5");` from wrap_memcpy.cc/wrap_memcpy.c under the grpc project in the sense that it compiles without them, but I'm not sure which compilation option I should change for that.

[2021-04-01 21:47] strega-nil commented on #17001
I think that this solution is not necessarily the right one. `find_program`, by spec, seems to search for programs in the target, not for the host. This is not necessarily how most people do use it, but we may consider instead adding something like `find_host_program`, similar to https://github.com/solrex/android-cmake/blob/master/android.toolchain.cmake#L1557. More research is needed.

[2021-04-01 21:52] strega-nil commented on #16972
Alright, the team has agreed to open discussions. I will look at opening up discussions with @AugP over the next week or so

[2021-04-01 21:52] ras0219-msft commented on #17006
Closing for now; please feel free to open a new issue with more details!

[2021-04-01 21:52] #17006 closed

[2021-04-01 21:54] #16947 closed

[2021-04-01 22:27] Neumann-A commented on #17001
According to https://cmake.org/cmake/help/latest/command/find_program.html it is not well defined. It searches paths for the host and the target according to the docs.
I believe the intention here is to have a similar logic to `find_library` and have people overwrite the variables in the toolchain if cross-compiling or define the `CMAKE_` variables controlling the behavior of `find_program`  (like

[2021-04-01 22:29] adelpit commented on #16116
I am seeing the same issue.  I was on native macos 10.15 when I first saw the issue.  I then upgraded to 11.2 and am still seeing it.

[2021-04-01 23:47] NickStrupat opened #17030 "[antlr4] Add cmake targets to port"
**Is your feature request related to a problem? Please describe.**
Consuming the antlr4 port is unusual because it doesn't provide cmake targets.

**Proposed solution**
Add the appropriate code to the portfile so the cmake targets are provided as usual. I am unsure how to do this as I am fairly new to portfile management.

[2021-04-02 00:13] rubenwardy opened #17031 "[luajit] build failure"
LuaJIT references a .bat file and MSVC, and so only builds on Windows

**Host Environment**
- OS: Manjaro Linux
- Compiler: GCC 10.2

**To Reproduce**

`./vcpkg install luajit`

**Failure logs**

[code]

Additional logs don't exist

**Additional context**
Add any other context about the problem here, such as what you have already tried to resolve the issue.

[2021-04-02 00:17] bterrier commented on #14389
Any news on this?
Is ther a way to make it work in the mean time?

[2021-04-02 01:31] PhoebeHui commented on #10824
@Felipe21, could you please report a new issue instead?

[2021-04-02 01:44] #14839 closed

[2021-04-02 02:49] JackBoosY commented on #16981
For official triplets, all dyanmic triplets use dynamic CRT linkage, and all static triplets use static CRT linkage.
- If you need to use dynamic CRT linkage in static build, you should use command `./vcpkg install PORT:x86-windows-static-md` or `./vcpkg install PORT:x64-windows-static-md`.
- If you need to use static CRT linkage in dynamic build, you should create a new triplet file in _VCPKG_ROO

[2021-04-02 02:53] JackBoosY commented on #16986
I found some dots in your vcpkg path, can you clone vcpkg again and try again in a path that only contains English or numbers?

Thanks.

[2021-04-02 03:39] PhoebeHui commented on #9580
Currently this feature is supported in vcpkg now.

[2021-04-02 03:39] #9580 closed

[2021-04-02 03:45] PhoebeHui commented on #13688
[code]
This issue should be fixed now, could you please try vcpkg latest source and see if it still be a problem for you?

[2021-04-02 03:46] PhoebeHui commented on #15165
@DiegoAvila123,  this issue should be fixed now, could you try vcpkg latest source and see if it still be a problem for you?

[2021-04-02 03:46] PhoebeHui commented on #15920
@saitakturk, this issue should be fixed now, could you please try vcpkg latest source and see if it still be a problem for you?

[2021-04-02 03:53] PhoebeHui commented on #8486
Currently, you can simply remove all boost components via './vcpkg remove boost-uninstall --recurse', see more discussions in PR #12851.

[2021-04-02 04:06] #16889 closed

[2021-04-02 04:30] xuhongxu96 opened #17033 "Indirectly referenced library will always be installed with default features"
**Describe the bug**
I have a libA referencing libB using manifest vcpkg.json:
[code]

 And libB references libzip[core]. libB's vcpkg.json (in my custom ports overlay) is:
[code]

When I use `vcpkg install --feature-flags=manifests` in libA's directory, it will install libzip with default features instead of [core].

For now, I have to workaround by changing my libA's vcpkg.json to:
[code]

**Env

[2021-04-02 05:11] upupming opened #17034 "How do I know how to use a port after installation?"
From the [installing-and-using-packages docs](https://github.com/microsoft/vcpkg/blob/f3221c0405b6f99c6eff113cb4ca8c81c3ad3a84/docs/examples/installing-and-using-packages.md), I know the usage of the package will be printed to console after successful installation:

[code]

However, when I have plenty of packages installed I will forget this usage, but I cannot get any information on how to use th

[2021-04-02 06:12] smoked-herring commented on #16986
The path is `D:/projects/git.vcpkg.sail` with only English letters. I tried a fresh install as well with no luck.

[2021-04-02 06:24] NancyLi1013 commented on #17028
Hi @vicroms

Are you clear something about the plan to release?

Thanks.

[2021-04-02 06:31] deltaprophet commented on #14280
I am facing same issue on windows 10. its already been 5+ hrs and its still not completed.
![image](https://user-images.githubusercontent.com/10917731/113387975-31f20000-9342-11eb-832e-7a8dec5a9869.png)

Library is still being built. Can you please suggest any other alternatives for installation?

[2021-04-02 06:31] NancyLi1013 commented on #17034
Hi @upupming

Thanks for posting this issue.

Currently there is only one way to know how to use a port via the usage or the printed message for those ports.

But now, we have a plan to implement this feature `vcpkg-usage` , please see more details here #16951.

[2021-04-02 06:34] mathisloge commented on #17034
just type `vcpkg install <yourpackage>` again, to see the usage info.

[2021-04-02 06:53] mdsadiqueinam opened #17035 "Vcpkg with code runner"
Vcpkg works perfectly with code runner in linux then it is not working with windows

[2021-04-02 07:26] JonLiu1993 commented on #17031
@rubenwardy ,As you know, luajit only supports windows at present. There have been attempts to add support for linux and osx before, but it has been suspended, you can refer to [it](https://github.com/microsoft/vcpkg/issues/11809).

[2021-04-02 07:31] NancyLi1013 commented on #17035
Hi @mdsadiqueinam

Thanks for posting this issue.

Currently, vcpkg doesn't support Code Runner. Please see https://github.com/microsoft/vcpkg/issues/10217#issuecomment-596839642.

Since duplicated to #10217. Let's track this issue #10217.

[2021-04-02 07:31] #17035 closed

[2021-04-02 07:52] NancyLi1013 commented on #16973
Please open a new issue [here ](https://github.com/microsoft/vcpkg/issues/new?assignees=&labels=new+port+request+-+consider+making+a+PR%21&template=request-a-new-port.md&title=%5BNew+Port+Request%5D+%3Clibrary+name+here%3E)

[2021-04-02 07:53] #16973 closed

[2021-04-02 07:56] rubenwardy commented on #17031
Oops, I forgot to check for duplicates

LuaJIT supports Linux and MacOS, the porting file is just incorrect

[2021-04-02 07:56] #17031 closed

[2021-04-02 07:56] pravic commented on #8486
How about other packages?

[2021-04-02 07:59] sainttelant opened #17036 "because it uses overrides and the `versions` feature flag is disabled."
Hi， everyone , i want to use vcpkg install the library of uwebsocket,  when i tried to install its older repo(version  v0.14.0 or 14.0.0), i changed the vcpkg.json file as the example displayed :
[code]
however, when i put  .\vcpkg install uwebsockets:x64-windows in the terminate, the error occurred as follows:
Computing installation plan...
Parsing manifest failed: F:\vcpkg-master\vcpkg-master\po

[2021-04-02 08:01] JackBoosY commented on #16986
cc @Neumann-A

[2021-04-02 08:10] sainttelant commented on #17036
@vicroms ,   could you please give me some guidances to install the library of uwebsockets, i wanne install the older version v0.14.0, i tried to add the overrides line as above in vcpkg.json, however, it didn' work, and then, i noticed you 've answered some similar questions, so i ask you for assistance if you don't mind , i will appreciate so much. Thank you in advance.

should i specifiy the "b

[2021-04-02 08:53] Neumann-A commented on #16986
@JackBoosY not a meson problem. It is a general problem of `vcpkg_find_acquire_program(PYTHON3)`.

[2021-04-02 09:09] rhuijben commented on #16906
The update to 8.0.0 won't fix the problem as far as I can't tell. The problem is that the proj project dropped the 4 from its name, while vcpkg aliases proj to proj4 as that was how it used to be called.

The library was called proj4 for 20 years as it was incompatible with proj 1.0-3.x, but since then a few new versions were released with a new major number, as the project started using *semver*.

[2021-04-02 09:10] JackBoosY commented on #15568
cc @strega-nil

[2021-04-02 09:56] JackBoosY commented on #16906
So we should add a cmake wrapper to avoid this.

[2021-04-02 10:59] rhuijben commented on #16906
Not sure... I would prefer vcpkg to switch the dependency the other way around... Use proj4 as legacy name and use proj going forward, but I'm not sure who's decision this would be.

I could create a patch for the name change, but I'm not sure if something like that would be accepted. I would say the decision on how the backing project is called is at the project itself, not the packaging system.

[2021-04-02 11:06] PhoebeHui commented on #8486
Currently it only works for boost, I reopen this issue for tracking the features request.

[2021-04-02 11:45] Ghabry commented on #16981
This is not what I meant. The installing of libraries through vcpkg works excellent.

It is about **consuming** the libraries.

When I invoke e.g.

[code]

then the resulting Visual Studio Project is configured as ``MD`` which is wrong (this is the shared runtime).

Is there any way to recommended way to automatically set this correctly based on the triplet?

[2021-04-02 12:56] autoantwort opened #17039 "[x264] build failure on osx pipeline"
**Host Environment**
- OS: macOS CI
- Compiler: unknown

**To Reproduce**
Steps to reproduce the behavior:
Run pipeline of #16577

**Failure logs**
https://dev.azure.com/vcpkg/public/_build/results?buildId=51429&view=logs&jobId=0a61404f-5c45-5632-e83c-408b7fcca1d6&j=2644860b-263e-5de8-c39e-3f62c017aad0&t=0c846259-ebdc-51ce-09bf-fc9ed3a241c7

install-x64-osx-dbg-err.log:
[code]

[2021-04-02 12:59] autoantwort opened #17040 "[gdal] build failure in osx pipeline"
**Host Environment**
- OS: macOS CI
- Compiler: unknown

**To Reproduce**
Steps to reproduce the behavior:
Run pipeline of #16577

**Failure logs**
https://dev.azure.com/vcpkg/public/_build/results?buildId=51429&view=logs&jobId=0a61404f-5c45-5632-e83c-408b7fcca1d6&j=2644860b-263e-5de8-c39e-3f62c017aad0&t=0c846259-ebdc-51ce-09bf-fc9ed3a241c7

autoconf-x64-osx-err.log:
[code]

[2021-04-02 13:27] PhoebeHui commented on #17033
We have discussed the similar behavior before, see PR https://github.com/microsoft/vcpkg/issues/11602, this seems intentional behavior, @strega-nil, could you help confirm this issue?

[2021-04-02 13:32] PhoebeHui commented on #17040
Duplicate of https://github.com/microsoft/vcpkg/issues/16990

[2021-04-02 13:32] #17040 closed

[2021-04-02 13:35] autoantwort opened #17041 "[gdcm] build failure in x86-windows pipeline"
**Host Environment**
- OS: Windows
- Compiler: unknown

**To Reproduce**
Steps to reproduce the behavior:
Run pipeline of #16577

**Failure logs**
https://dev.azure.com/vcpkg/public/_build/results?buildId=51429&view=logs&jobId=0a61404f-5c45-5632-e83c-408b7fcca1d6

install-x86-windows-rel-out.log
[code]

[2021-04-02 14:16] PhoebeHui commented on #16990
This issue affects 2 PRs(https://github.com/microsoft/vcpkg/pull/16577 and https://github.com/microsoft/vcpkg/pull/15787) now, I removed gettext in local test machine, however I still can't repro locally.

@vicroms, could you please take a look?

[2021-04-02 14:41] autoantwort opened #17042 "[gdal] build failure for osx on apple m1"
**Host Environment**
- OS: macOS 11
- Compiler: clang 12

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install --triplet=x64-osx  `

**Failure logs**
gdal/build-x64-osx-dbg-err.log:
[code]

**Additional context**
It is an mac with apple silicon (arm mac), but I build with target x64

[2021-04-02 14:45] upupming commented on #16983
@Neumann-A Just a question, could vcpkg call `windeployqt.exe` to copy Qt's DLL files instead of maintaining [an extra script](https://github.com/microsoft/vcpkg/blob/e013fa17ec560bbb97c74c277f1c4b52e49e63c2/ports/qt5-base/qtdeploy.ps1#L5)? I think this will make life easier 😄

[2021-04-02 14:48] gavella opened #17043 "[fastrtps] build failure on Linux"
**Host Environment**
- OS: Linux- Ubuntu 18.04.5 LTS
- Compiler: gcc (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install fastrtps:x64-linux`

**Failure logs**

sudo ./vcpkg install fastrtps:x64-linux
Computing installation plan...
The following packages will be built and installed:
  * fastcdr[core]:x64-linux -> 1.0.15
    fastrtps[core]:x64-linu

[2021-04-02 14:56] Neumann-A commented on #16983
I don't mind using windeployqt or macdeployqt or whatever. The only issue is it requires at least qt5-tools for the host to be installed. (I also didn't write the deployment scripts.)

[2021-04-02 14:58] PhoebeHui commented on #16844
@FrankBau, could you add 'DISABLE_PARALLEL_CONFIGURE' to vcpkg_configure_cmake, and see if this issue persist?
See similar port https://github.com/microsoft/vcpkg/blob/master/ports/libsquish/portfile.cmake

[2021-04-02 15:31] upupming commented on #16983
If I delete all files except the exe and qml file, and then run `windeployqt.exe`, the exe will also succeed to start.

So I think: The easiest workaround is that we can add an option to prevent vcpkg to copy these Qt DLL files. Then the user can use their own prefered deploy method. For example, I may write a VSCode task like this to run `windeployqt` on first successfully build:

[code]

[2021-04-02 15:41] Neumann-A commented on #16983
just set `VCPKG_APPLOCAL_DEPS` to off.

[2021-04-02 15:44] upupming commented on #16983
Can I just disable Qt, but keep copying others, such as opencv, sqlite's DLLs (Because vcpkg works well on these packages.)?

[2021-04-02 15:50] yurybura commented on #16894
@haikunzhang95 @PhoebeHui
I've tested your install command with #16232. The build has succeeded, but build directory takes ~157 GB on disk.
In default build not all targets are enabled to reduce used disk space.

[2021-04-02 16:06] kwiechen opened #17044 "libiconv build failure"
**Host Environment**
- OS: Windows
- Compiler: Visual Studio 16.9.3

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install libiconv:x86-windows and x64-windows

  Package: libiconv:x64-windows
  Vcpkg version: 2021-01-13-d67989bce1043b98092ac45996a8230a059a2d7e

**Failure logs**
[code]
-Please attach any additional failure logs mentioned in the console output.
[code]

**Additional con

[2021-04-02 16:13] dg0yt commented on #2353
Do you still see this issue?
IIUC, since https://github.com/microsoft/vcpkg/commit/0bbf4400e977b2db20f5acda1522ba5ecae1d789, there is an additional plain `find_program` which will look for programs in the `PATH`.
(However, I found that some scripts use the result from `vcpkg_find_acquire_program` to modify the `PATH` instead of using the precise tool path, leading to some strange side effects depe

[2021-04-02 17:17] TheJCAB opened #17046 "Failed download of vcpkg.exe ended up with an existing but invalid executable file"
**Describe the bug**
By mistake, I attempted to run bootstrap-vcpkg.bat on a computer with the network disconnected. This generated a vcpkg.exe file even though obviously without network it couldn't be downloaded. The file was not a valid executable, but it persisted even after connecting to the network, rendering vcpkg effectively unusable.

I recovered

**Environment**
- OS: Windows, recent insi

[2021-04-02 17:19] strega-nil commented on #17033
Yeah, this is intentional. In the "classic mode" world, it makes sense to always install default features, so that we don't have to keep rebuilding libraries. In "manifest mode", it can make sense to not do that, since we don't have an install-set that is not described by manifests.

[2021-04-02 18:18] strega-nil commented on #16972
Discussions are now open! Please introduce yourselves in the [pinned post](https://github.com/microsoft/vcpkg/discussions/17048) :)

[2021-04-02 18:18] #16972 closed

[2021-04-02 18:49] mathisloge commented on #16906
I would also prefer proj since proj itself deprecated that name.
https://proj.org/faq.html#what-happened-to-proj-4

[2021-04-02 19:23] yurybura commented on #12262
@PhoebeHui @JackBoosY
I've just checked this issue. This is default behavior for Clang and LLVM configs.
@psionic12
To solve this issue you should add in your CMakeLists.txt the following code:
[code]

[2021-04-02 19:53] #16868 closed

[2021-04-02 20:26] ras0219-msft commented on #16864
This seems fixed by #16891 -- thanks for the PR!

[2021-04-02 20:26] #16864 closed

[2021-04-02 21:01] #16269 closed

[2021-04-02 22:52] pravic commented on #2353
@dg0yt Can't check now since I don't have have Perl installed anymore. @jozefizso?

[2021-04-03 02:25] malkia commented on #11818
Using [/WHOLEARCHIVE](https://docs.microsoft.com/en-us/cpp/build/reference/wholearchive-include-all-library-object-files?view=msvc-160) when linking may show the issue.

Seems to be, when a .rc compiled .res file, gets in the .lib file, and if there are multiple like it (from other similar libs, like "embree" (in our case)) then /WHOLEARCHIVE would link on .obj file level, not .lib and now these s

[2021-04-03 03:44] nick42 commented on #4613
This is still an issue, for reference, but I've figured out a workaround.

The core issue which I had is that .pdb files are not copied with .lib files, so you get the dreaded "linking without debugging information" warnings. This is because vcpkg_copy_pdbs is kinda dumb, and only copies .pdb files for .dll's (not .lib's).

Workaround, as promised:

1. Add SKIP_CLEAN option to vcpkg_install_msbuil

[2021-04-03 03:52] Alive59 opened #17050 "Error: Building package boost-compatibility:x86-windows failed with: BUILD_FAILED"
Package: boost-compatibility:x86-windows
  Vcpkg version: 2021-01-13-d67989bce1043b98092ac45996a8230a059a2d7e

[2021-04-03 04:47] SamuelMarks opened #17052 "[nanogui] update to 16/10/2020 - also it's broken"
Library name: nanogui

New version number:

Other information that may be useful (release notes, etc...)

https://github.com/mitsuba-renderer/nanogui

---

The current version doesn't seem to install the headers anywhere, so it doesn't actually build.

### `CMakeLists.txt`
[code]

### `src/main.cpp`
https://raw.githubusercontent.com/mitsuba-renderer/nanogui/5555031/src/example2.cpp

### `shell`
[c

[2021-04-03 04:57] SamuelMarks opened #17053 "[fltk] Undefined symbols on macOS 11.1 (20C69)"
**Is your feature request related to a problem? Please describe.**

### `CMakeLists.txt`
[code]

### `src/main.cpp`
https://www.fltk.org/doc-1.3/basics.html
[code]

### `shell`
[code]

**Proposed solution**
Would be nice if the example would build

**Describe alternatives you've considered**
I'm trying other cross-platform GUI frameworks that vcpkg 'supports', e.g., see https://github.com/microsof

[2021-04-03 05:11] SamuelMarks opened #17054 "[libui] Undefined symbols on macOS 11.1 (20C69)"
**Is your feature request related to a problem? Please describe.**

### `CMakeLists.txt`
[code]

### `src/main.c`
https://raw.githubusercontent.com/andlabs/libui/d788d86/examples/drawtext/main.c but with `#include "../../ui.h"` replaced with `#include <ui.h>`

### `shell`
[code]

**Proposed solution**
Would be nice if the example would build

**Describe alternatives you've considered**
I'm trying

[2021-04-03 05:13] haikunzhang95 commented on #16894
@yurybura Thank you for your reply. Using such installation commands (**.\vcpkg install llvm[target-all,clang-tools-extra]:x64-windows**) takes too much time and takes up more disk space. I think the reason for the above error is that my network environment is too bad, and I've solved this problem now. Thank you again!

[2021-04-03 05:31] SamuelMarks opened #17055 "[nuklear] fatal error: 'malloc.h' file not found"
**Is your feature request related to a problem? Please describe.**

### `CMakeLists.txt`
[code]

### `src/main.c`
[code]

### `shell`
[code]

**Proposed solution**
Would be nice if the example would build

**Describe alternatives you've considered**
[code]
(but would need to be more careful, there is a list of macros on sourceforge lined up with where to find malloc, so I bunch of these checks are

[2021-04-03 05:57] SamuelMarks opened #17056 "[TGUI] Install fails without error on macOS 11.1 (20C69)"
**Is your feature request related to a problem? Please describe.**

### `CMakeLists.txt`
[code]

### `src/main.cpp`
First example at the top of https://tgui.eu/tutorials/0.9/sdl-backend/

### `shell`
[code]

**Proposed solution**
Would be nice if the example would build

**Describe alternatives you've considered**
I'm trying other cross-platform GUI frameworks that vcpkg 'supports', e.g., see the

[2021-04-03 10:19] autoantwort commented on #17050
Maybe solved by  #13348

Without filling out the issue template it is hard to help... :)

[2021-04-03 10:54] autoantwort opened #17057 "[libidn2] build failure on osx pipeline"
**Host Environment**
- OS: macOS CI
- Compiler: unknown

**To Reproduce**
Steps to reproduce the behavior:
Run pipeline of #17049

**Failure logs**
https://dev.azure.com/vcpkg/c1ee48cb-0df2-4ab3-8384-b1df5a79fe53/_apis/build/builds/51476/artifacts?artifactName=failure%20logs%20for%20x64-osx&api-version=6.0&%24format=zip

autoconf-x64-osx-err.log:
[code]

**Additional context**
It seems to be simil

[2021-04-03 11:01] autoantwort commented on #17005
Still an Issue in #17049, please have a look

[2021-04-03 11:08] SamuelMarks opened #17058 "[imgui] fatal error: 'imgui_impl_allegro5.h' file not found"
**Is your feature request related to a problem? Please describe.**

### `CMakeLists.txt`
[code]

### `src/main.cpp`
https://raw.githubusercontent.com/ocornut/imgui/6a161b8/examples/example_allegro5/main.cpp

Renamed the header to `#include <imgui.h>` and `#include <imgui_impl_allegro5.h>`. Also tried `#include "imgui_impl_allegro5.h"` for the latter…

### `shell`
[code]

**Proposed solution**
Woul

[2021-04-03 11:12] autoantwort commented on #17057
Maybe you have to run https://apple.stackexchange.com/questions/108513/cant-exec-glibtoolize-no-such-file-or-directory
on the build nodes

[2021-04-03 11:17] autoantwort commented on #16990
@adelpit I don't know autoconf, but does it help if you run `autoupdate` as suggested in the output?

[2021-04-03 11:17] FrankBau commented on #16844
Hi @PhoebeHui Phoebe, thank you for your suggestion, but unfortunately this didn't fix it. I understand that there must be something different on my developer machine, as there are no issues with vcpkg building on my other machine.

[2021-04-03 11:29] SamuelMarks opened #17059 "[glui] Interface doesn't update but render does"
**Is your feature request related to a problem? Please describe.**

### `CMakeLists.txt`
[code]

### `shell`
[code]

**Proposed solution**
Would be nice if the example would work properly. The up/down buttons work, the numerical input doesn't, the checkbox does, but none change visibly when interacted with.

It could be an issue with the framework, considering it hasn't been updated for a while an

[2021-04-03 11:42] #15920 closed

[2021-04-03 13:03] MoAlyousef commented on #17053
Hi
The [patch](https://github.com/microsoft/vcpkg/blob/master/ports/fltk/add-link-libraries.patch) should also add the system libs that FLTK depends on on macos.
For the moment, OP can add
[code]

[2021-04-03 14:42] JackBoosY commented on #16981
You need to choose the triplet to be used according to the custom project, not the other way around.

[2021-04-03 14:47] JackBoosY commented on #16844
Can you please make sure you have enough disk space?

[2021-04-03 14:51] Fedr opened #17061 "How do I link my program in Debug with Release packages?"
I would like to link my program in Debug configuration with Release version of vcpkg packages. Is it possible? In particular in
1. Visual Studio
2. Linux/Cmake

If yes, please suggest how.

[2021-04-03 15:30] FrankBau commented on #16844
no issue here:
[code]

[2021-04-03 17:55] Ghabry commented on #16981
Uhm okay this makes no sense to me. Imo the consumer of vcpkg is not responsible for this but the toolchain file.
But okay I will keep the hack and close that issue. Thanks

[2021-04-03 17:55] #16981 closed

[2021-04-03 22:44] kcgen opened #17069 "[libmt32emu] update to 2.5.0"
**Library name:** libmt32emu

**New version number:** 2.5.0 (tag)

**Other information:**
 - [release notes](https://github.com/munt/munt/blob/1f42d80d9a4f1b0d5a499b783b9c5808c24c1a3e/mt32emu/NEWS.txt)
 - 2.5.0 has been regression tested and confirmed good in DOSBox Staging
 - 2.5.0 supports a new bitwise ROM feature, which has been tested and is planned-for-use in DOSBox Staging.

Thank you, vcpk

[2021-04-04 00:25] SamuelMarks opened #17072 "[wxwidgets] error "No Target! You should use wx-config program for compilation flags!""
**Is your feature request related to a problem? Please describe.**

### `CMakeLists.txt`
[code]

### `shell`
[code]

**Proposed solution**

**Describe alternatives you've considered**
I'm trying other cross-platform GUI frameworks that vcpkg 'supports', e.g., see the trackbacks at https://github.com/microsoft/vcpkg/issues/17052

[2021-04-04 00:45] autoantwort commented on #17058
The include path to `..\..\backends` is missing, in the example it is done [here](https://github.com/ocornut/imgui/blob/master/examples/example_allegro5/example_allegro5.vcxproj#L93)

[2021-04-04 02:54] jade74-work commented on #16926
I am using 2020.11-1 with boost version issue.

Is there a way to update only splog and fmt to the latest version?

[2021-04-04 06:39] gvanem opened #17075 "[pthreads:x86-windows] build failure"
I needed to rebuild my `cairo` package since a failure during `vcpkg upgrade` deleted that and several others!
But ran into problems with the obviously dependant package `pthreads`.

**Host Environment**
- OS: Windows-10
- Compiler: MSVC-2019, 19.28.29912 for x86

**To Reproduce**
`vcpkg install cairo:x86-windows --debug`

**Failure logs**
All went well until building `x86-windows-dbg`. Here: [nma

[2021-04-04 09:02] yurybura commented on #12262
I've just updated usage files in #16232.

[2021-04-04 10:04] upupming commented on #16955
I have debugged over this for a time, and here are some insights.

The smallest example can be installed `opencv[cuda]` in global mode and manifest mode.

### Use the global mode

[code]

Installation successful, the file `buildtrees\zstd\src\7a785666b6-0a76fe52af.clean\CHANGELOG` says it is `v1.4.5`:

[code]

### Use the manifest mode

Using this configuration:

[code]

Installation failed when p

[2021-04-04 11:23] spindensity opened #17079 "[libmariadb] build failure with cmake 3.20.0"
# Host Environment

- OS: Windows 10 20H2;
- Compiler: MSVC 2019 16.9.3;
- CMake: 3.20.0.

# To Reproduce

1. Install CMake 3.20 ([official website](https://github.com/Kitware/CMake/releases/download/v3.20.0/cmake-3.20.0-windows-x86_64.zip)) and make sure the corresponding `cmake.exe` is in the `PATH` environment variable;
2. `vcpkg install libmariadb:x64-windows`

# Failure logs

## Console outpu

[2021-04-04 11:24] terrylyons opened #17080 "unittest-cpp bad config.cmake file"
**Describe the bug**
UTPP_INCLUDE_DIRS  is set to .../vcpkg/installed/include and does not include the triplet

Hi I am using your port of UnitTest++ (unittest-cpp) version 2. I have it installed for x64 and x86. When I find_package(UnitTest++ CONFIG REQUIRED) it succeeds; however it seems difficult to extract the path to the includes or library from the package so as to use it in cmake in a cross

[2021-04-04 12:53] icegull opened #17081 "[New Port Request] <Simd>"
Library name:
Simd
Library description:
The Simd Library is a free open source image processing and machine learning library, designed for C and C++ programmers. It provides many useful high performance algorithms for image processing such as: pixel format conversion, image scaling and filtration, extraction of statistic information from images, motion detection, object detection (HAAR and LBP cla

[2021-04-04 14:38] prateek9623 commented on #13607
@NancyLi1013 @PhoebeHui  any update on this?

[2021-04-04 15:08] prateek9623 opened #17087 "[mongo-cxx-driver] build failure for feature std-experimental"
- OS: Windows
- Compiler: Visual c++ 2019

Steps to reproduce the behavior:
`./vcpkg install mongo-cxx-driver[std-experimental]`

**Failure logs**
install message:
CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:108 (message):
    Command failed: ninja -v
    Working Directory: E:/vcpkg/buildtrees/mongo-cxx-driver/x64-windows-rel/vcpkg-parallel-configure
    Error code: 1
    See

[2021-04-04 17:04] MikeCernea opened #17090 "[gdal] build failure"
**Host Environment**
- OS: Windows
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install gdal`

**Failure logs**
the log file shows:
NMAKE : fatal error U1077: '"C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Tools\MSVC\14.28.29333\bin\HostX64\x64\link.EXE"' : return code '0xc0000005'

console shows:
Error: Building package gdal:x64-windows fail

[2021-04-04 17:47] Scopeuk commented on #5198
I have experienced this error as the default package has dynamic link scope it was necessary to add add_definitions(-DQSCINTILLA_DLL) to my project CMakeLists.txt to switch the library dependency to dynamic linking.

[2021-04-05 00:12] ericwilliamsneu commented on #14280
The latest version of the vcpkg PCL package seems to actually correctly
build, but now is missing some critical features due to an incompatibility
with a graphics framework. One thing I did do in order to attempt to
correct this was insure that Quick Edit and Insert Mode are turned off in
PowerShell.
------------------------------
*From:* Pawan Wagh ***@***.***>
*Sent:* Friday, April 2, 2021 1:31

[2021-04-05 03:16] sundarsabapathi opened #17091 "[boost-di] <Existing port boost-di is missing>"
****

**Existing port boost-di is missing.**
Last week i won't face this problem. Today I try to install today boost-di dependency but i face the below error messages:

Error: while loading boost-di:
The port directory (C:\Users\User\Libs\vcpkg\ports\boost-di) does not exist
Error: failed to load port from C:\Users\User\Libs\vcpkg\ports\boost-di
Note: Updating vcpkg by rerunning bootstrap-vcpkg ma