[2021-10-18 06:54] JackBoosY commented on #20794
We should select the detected dependencies based on the feature name, rather than automatically detect them.

[2021-10-18 09:08] JonLiu1993 commented on #20811
@oyvindln ,Could you please provide your CMakeLists? I will repo locally

[2021-10-18 09:51] NancyLi1013 commented on #20795
Hi @michaelkroener

Thanks for posting this issue.

Since package name `effolkronium-random` is different from `${PROJECT_NAME} `https://github.com/effolkronium/random/blob/master/CMakeLists.txt#L4.

Your proposal is correct. Thanks for figuring this out.

[2021-10-18 10:21] PhoebeHui commented on #14639
@strega-nil, do we need add above conclusion to https://github.com/microsoft/vcpkg/blob/master/docs/users/triplets.md#community-triplets?

[2021-10-18 10:38] JonLiu1993 commented on #20811
Do you mean that this patch shouldn't be deleted when the qwt version was upgraded last time?
[code]

[2021-10-18 11:01] JonLiu1993 commented on #20773
Confirmed

[2021-10-18 11:16] JonLiu1993 commented on #20789
Confirmed
cmake_minimum_required(VERSION 3.20)
[code]
cmake_minimum_required(VERSION 3.10)
[code]

[2021-10-18 11:17] FelixBer commented on #16956
This issue still persists.

To sum it up: Python links against python39(d).dll based on whether a "Release interpreter" or a "Debug Interpreter" is present (rather than build options). Since vcpkg only ships a Release interpreter, it tries to link against the release version of python39.dll even in debug builds, but this is not present because vcpkg has set up paths to debug libraries only. (The r

[2021-10-18 11:20] silverqx opened #20817 "[qt5-base] build failure with mysqlplugin for x64-windows-static"
**Host Environment**
- OS: Windows 21H1 19043.1288 latest stable
- Compiler: MSVC 16.11.5 latest stable

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install qt5-base[mysqlplugin]:x64-windows-static`

**Failure logs**
[config-x64-windows-static-dbg-err.log](https://github.com/microsoft/vcpkg/files/7364235/config-x64-windows-static-dbg-err.log)
[stdout-x64-windows-static.log](https://

[2021-10-18 11:28] silverqx commented on #20817
`qt5-base[postgresqlplugin]:x64-windows` triplet works good and also `qt5-base[postgresqlplugin]:x64-windows-static` builds without problem.

[2021-10-18 14:06] haptiq-darko opened #20821 "[opencascade] Missing RapidJSON support so one cannot export to glTF"
**Is your feature request related to a problem? Please describe.**
We want to be able to use opencascade to convert STEP files to glTF files. However, in order to do that, we need an opencascade with a `USE_RAPIDJSON` CMake cache var.

**Proposed solution**
Include `rapidjson` feature here https://github.com/microsoft/vcpkg/blob/master/ports/opencascade/portfile.cmake#L23 and add it to the port de

[2021-10-18 16:38] UnknownObject000 opened #20823 "[msmpi] build failure"
**Host Environment**
- OS: Windows 11 Professional Workstation Insider Preview (Build 22478.1012)
- Compiler: MSVC 14.2 (Visual Studio 2019)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install msmpi`

**Failure logs**
PS F:\vcpkg> vcpkg install msmpi
Computing installation plan...
The following packages will be built and installed:
    msmpi[core]:x86-windows -> 10.1.12498#2
Detect

[2021-10-18 19:21] strega-nil-ms commented on #20600
Importantly, this is backfilling versions, and we currently don't have a standard for backfill versions; we should consider how we want to do this. We don't want to change `ports` to have an older version, so this needs discussion. Perhaps we can add a `backfill-versions` branch?

[2021-10-18 20:37] Be-ing commented on #20810
Logs from a local build after running `brew install brotli`:
[config-x64-osx-min10.14-dbg-err.log](https://github.com/microsoft/vcpkg/files/7368310/config-x64-osx-min10.14-dbg-err.log)
[config-x64-osx-min10.14-dbg-out.log](https://github.com/microsoft/vcpkg/files/7368311/config-x64-osx-min10.14-dbg-out.log)
[config-x64-osx-min10.14-rel-err.log](https://github.com/microsoft/vcpkg/files/7368312/conf

[2021-10-18 20:38] Be-ing commented on #20810
The configure logs mention `unoffficial-brotlie` and `WrapBrotli`. So maybe the bug is in the vcpkg brotli package rather than qtbase.

[2021-10-18 20:52] Neumann-A commented on #20810
could you uncomment https://github.com/microsoft/vcpkg/blob/699c8779f1b0feb4ed3564716d1ed31f69663ea6/ports/qtbase/portfile.cmake#L220
and rerun configure (only configure; don't need build) and post the log somehow (probably rather large).
I assume something else than qt directly is pulling in the wrong brotli here

[2021-10-18 20:52] Be-ing commented on #16615
@JoergAtGithub seems to be [dealing with](https://github.com/mixxxdj/mixxx/pull/4432#issuecomment-946137200) the same or similar issue on Windows with vcpkg on GitHub Actions using CMake 3.21.3 but locally vcpkg uses the copy of CMake 3.21.1 that it downloads.

[2021-10-18 20:55] aggieNick02 opened #20830 "Manifests should install dependencies earlier in build process, before the `CustomBuild` target"
**Describe the bug**
Manifests should install dependencies before the `CustomBuild` target because their failure to do so means custom build tool items in a project cannot reliably use `vcpkg` installed dependencies.

This bug/issue is motivated by tools such as `grpc` and `protobuf`, which provide code generation tools to generate `.h`,`.cpp`.,`.py` files and more. A typical way to use them is to

[2021-10-18 21:22] #19580 closed

[2021-10-18 21:22] #20206 closed

[2021-10-18 21:22] #20614 closed

[2021-10-18 21:37] aggieNick02 commented on #20690
I've played enough that with the various things pointed out by @autoantwort in addition to setting `$(VcpkgManifestRoot)` manually in the vcxproj file allows me to do what I wanted. I have everything working now except for a corner case involving build order (manifests installing dependencies too late), and I've opened a bug for that at https://github.com/microsoft/vcpkg/issues/20830 . I think thi

[2021-10-18 21:37] #20690 closed

[2021-10-18 22:35] DanielAtCosmicDNA opened #20832 "Cannot find port, directory does not exist when installing `mpir:x64-windows`"
**Describe the bug**
When installing `mpir:x64-windows` with the command `.\vcpkg\vcpkg install mpir:x64-windows`
It is returning with `Cannot find port: Directory dos not exist`

**Environment**
- OS: Windows 10.0.22000
- Powershell 7.1.5

**To Reproduce**
Steps to reproduce the behavior:
1. `.\vcpkg\vcpkg install mpir:x64-windows`
2. See error

**Expected behavior**
The installation was supposed

[2021-10-18 22:53] wrobelda opened #20833 "[vcpkg_configure_make] a port fails to locate includes that are otherwise present"
**Describe the bug**
I stumbled upon a weirdest misbehavior so far experienced with vcpkg. Specifically, while working on #20426, I cannot get the port to go past the configure stage, which fails with:
[code]

Now, inspecting the `config.log` reveals:
[code]

The problem is, that the include file exists at the location. Moreover, with a vanilla upstream sourcecode, I can point `./configure` to the

[2021-10-18 23:06] Be-ing commented on #20810
https://gist.github.com/Be-ing/8b6303fd7a1d08b89cdfa2d318c202e6

[2021-10-18 23:58] vlovch01 opened #20834 "[openssl] build failure"
**Host Environment**
- OS: OSX
- Compiler:  AppleClang 12.0.5.12050022

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install x86-ios`

**Failure logs**
Build works fine, but the binary architecture type is
x86_64 in stead of i386

**Additional context**
![image](https://user-images.githubusercontent.com/5650073/137822113-f9afff96-4aee-4b57-9bec-496192a74063.png)

[2021-10-19 01:02] JackBoosY commented on #20788
Please pass -DVCPKG_TARGET_TRIPLET="x64-windows-static" and try again.

[2021-10-19 01:58] JackBoosY commented on #20788
@cjwijtmans In the `CMakeSettings.json`, click your configuration name first then click `Manage Configurations...`:
![image](https://user-images.githubusercontent.com/47264268/137831119-54b282b5-7731-46e4-9393-37a78e971295.png)
![image](https://user-images.githubusercontent.com/47264268/137831150-5a562621-ce96-4874-89d5-25974a1162f5.png)

[2021-10-19 02:12] JackBoosY commented on #20774
Invaild issue.

[2021-10-19 02:12] #20774 closed

[2021-10-19 04:03] dg0yt commented on #20817
@JackBoosY No, this is not a duplicate.

[2021-10-19 05:31] MehdiChinoune opened #20836 "[qwt] provides qt6 version"
****

**Is your feature request related to a problem? Please describe.**
Qwt is built against Qt5 on vcpkg.

**Proposed solution**
Rename the qwt to qwt-qt5 and build qwt against Qt6

**Describe alternatives you've considered**
Maybe make qt5 and qt6 as features (even they conflict)

**Additional context**
@Neumann-A any suggestions?

[2021-10-19 05:46] NancyLi1013 opened #20837 "[vcpkg] vcpkg crashed if there are the same fileds in vcpkg.json"
**Describe the bug**

If there are two fields that are typed as the same name by mistake in vcpkg.json, vcpkg will crash. the contents of vcpkg.json are like this:

[code]

**Environment**
- OS: [e.g. Windows/Linux etc...] Windows 10
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install glog or ./vcpkg format-manifest ./ports/glog/vcpkg.json
2. See error

**Exp

[2021-10-19 05:50] JackBoosY commented on #20817
Ah yes, this not.

[2021-10-19 05:51] JackBoosY commented on #19093
Please install `qt5-base[mysqlplugin]`.

[2021-10-19 05:51] #19093 closed

[2021-10-19 05:56] silverqx commented on #20817
This is a little different, the #19093 solves [mysqlplugin] feature is not available by vcpkg during install, this problem is about that qt5-base is not possible to build when [mysqlplugin] feature is enabled.

I need to that someone to try invoke `vcpkg install qt5-base[mysqlplugin]` and confirm that bug.

[2021-10-19 07:17] y43d commented on #20769
I tried this, still received the same error.

@PhoebeHui
I will do this now, here is my output:

(it's too long to post here, I made a paste)
[https://pastebin.com/B5Aeegu7](https://pastebin.com/B5Aeegu7)

[2021-10-19 07:26] JackBoosY commented on #20836
We should move `qwt` to `qwt-qt5` and suitable `qwt` with `qt6`.

[2021-10-19 08:44] JonLiu1993 commented on #19254
Closing this issue for no active thread for a long time. Please feel free to reopen this issue if it is still a problem for you.

[2021-10-19 08:44] #19254 closed

[2021-10-19 09:08] dg0yt commented on #20834
@PhoebeHui No, not for ios, and not for the buildsystem quirks in `ports/openssl/unix/CMakeLists.txt`

[2021-10-19 09:18] dg0yt commented on #20789
See also https://github.com/microsoft/vcpkg/issues/20756#issuecomment-944252561:
You basically don't want to let cpr build curl while another curl is installed and used in vcpkg.

It is still strange that `CURL::libcurl` already exists when cpr tries to create the alias. I suspect some `find_package(CURL)` in one of the other packages searched by cpr.

[2021-10-19 10:08] antoinebj commented on #19490
This is marked as requiring repro. Did anyone manage to make vcpkg work with a CI runner running under user privileges (not admin) from a recent fresh install? If not, then that gives us the repro.

[2021-10-19 10:40] Step245 opened #20843 "Packages from vcpkg are not visible in the cmake project"
Several packages (including uwebsockets) are installed for my Visual Studio 19 using VCPKG. When working in the WINDOWS console project, everything is fine, everything "#Include" sees, everything works. But I create a CMAKE C ++ project (I need a program for Linux and windows) and enter #include <uwebsockets / App.h> and others that were installed using VCPKG, the compiler does not see (cannot ope

[2021-10-19 11:34] wrobelda commented on #20833
@dg0yt thanks, that was it. It's a bit confusing, though. Does wrapping a whole option line even do anything to mitigate potential spaces in `${CURRENT_INSTALLED_DIR}`?

[2021-10-19 11:46] dg0yt commented on #20833
*The outer quotes are for CMake.* CMake and the maintainer functions do what is necessary to protect inner quotes (if possible).

The inner quotes used to go to bash, but this isn't portable enough for mingw on windows where you cross the between windows world (single command line) and the POSIX world (separate arguments).
Now all inner quotes are escaped, *always* constructing a single string tha

[2021-10-19 11:59] SpriteOvO commented on #20789
@PhoebeHui You are right, it may be a bug in `cpr`.

I copied some code from `cpr` to made the following smaller reproducible code.
It can reproduce the error message when `CMAKE_TOOLCHAIN_FILE` is not specified. (but the previous can't, which is a bit strange)
Anyway, I'll open an issue in the `cpr` repo and let them take a look.
Thank you for your help.

[code]

[2021-10-19 11:59] #20789 closed

[2021-10-19 12:35] cjwijtmans commented on #20788
I do not have this file. I created one but inside this file I do not get any JSON suggestions neither do I get a `Manage Configurations...` drop down. Is there a documentation on this somewhere?

[2021-10-19 13:20] cenit commented on #20476
can you please remove gpu drivers?
heap corruption looks like a driver is using memory it should not, and building the program overwrites it (because it's not system protected since it does not belong to the driver from the beginning)

[2021-10-19 15:19] holmescn opened #20844 "[android] Android NDK r23 and clang support"
I was trying to embed python into my Android App. So I need to build a bunch of C/C++ libraries besides the `libpython3.x.a`. Since Android NDK r21, the GCC toolchain is dropped and only clang as the default compiler. I have written some scripts to build some libraries and a little of patches. But in order to finish the project, I need more C/C++ libraries. So I switch to vcpkg. After some tests,

[2021-10-19 17:28] autoantwort commented on #20843
So you have set `CMAKE_TOOLCHAIN_FILE`, but do you also have done `find_package` for the packages you are using in CMake?

[2021-10-19 19:30] ajtruckle opened #20850 "Compiling with Visual Studio 64 bit"
Why is it that after I installed vcpkg fr the first time today, it can do a full compile in 32 bit but not 64 bit? For 64 bit it can't find the files.

I did call the integrate command.

[2021-10-19 19:37] ajtruckle commented on #20850
https://solarianprogrammer.com/2020/01/26/getting-started-gsl-gnu-scientific-library-windows-macos-linux/

[2021-10-19 20:16] ajtruckle commented on #20850
Hhhm. I gave up. 32 bit was fine. 64 bit was not - even after all that stuff downloaded.

Reverted to the trusted folder on my PC.

It would be nice if these libraries were in nuget packages as an alternative.

But I do not know why it did not work.

[2021-10-19 20:59] Be-ing commented on #16615
In general, this is good. Checking for a minimum required version of a tool and using the system's copy of the tool is appropriate in most cases. But it is not appropriate when the version of the tool is included in the cache key. IMO either vcpkg should unconditionally download its own copy of CMake or the CMake version should not be used in the cache key.

[2021-10-19 20:59] Be-ing commented on #16615
In general, this is good. Checking for a minimum required version of a tool and using the system's copy of the tool is appropriate in most cases. But it is not appropriate when the version of the tool is included in the cache key. IMO either vcpkg should unconditionally download its own copy of CMake or the CMake version should not be used in the cache key.

[2021-10-19 21:01] dg0yt commented on #20769
@apdams I think you simply missed the latest commit which added the vcpkg-cmake dependency to boost-regex.

[2021-10-20 01:30] #20795 closed

[2021-10-20 01:48] JackBoosY commented on #20833
@wrobelda Feel free to close this issue when it's resolved.

[2021-10-20 01:51] JackBoosY commented on #20476
Yes, that's seems like a gpu driver bug.

[2021-10-20 02:11] #19861 closed

[2021-10-20 03:07] PhoebeHui commented on #20769
@y43d, could you please execute './vcpkg remove boost-modular-build-helper:x64-windows --recurse', and get latest source via 'git pull' and try again, it should solve the problems.

[2021-10-20 06:29] y43d commented on #20769
@PhoebeHui I did that... looks like i'm still getting the error.
Here are debug logs again (you can see me run git pull in there also.)

https://pastebin.com/a2CVFwbh

[2021-10-20 06:41] JackBoosY commented on #17609
Confirmed, it was resolved by #20765.

Thanks @dg0yt!

[2021-10-20 06:49] y43d commented on #20769
Weird, but yes, it's there.
![image](https://user-images.githubusercontent.com/76844813/138042149-4eeaf3cb-b41a-4127-8b5d-541d393b5f92.png)

[2021-10-20 06:53] PhoebeHui commented on #20769
Could you try to execute './vcpkg remove vcpkg-cmake:x64-windows --recurse' and try again?

[2021-10-20 06:58] cenit commented on #12621
GTK is unsupported on "non-linux" systems by OpenCV, so the feature is not available when not running on linux

[2021-10-20 07:10] NancyLi1013 commented on #20810
@Be-ing

Could you please help test if the changes in PR #20849 from @Neumann-A can work for you?

Thanks.

[2021-10-20 07:19] HWiman-ICONIC opened #20858 "[OpenImageIO] Upgrade to 2.3.8.0"
There is a [new release ](https://github.com/OpenImageIO/oiio/releases/tag/v2.3.8.0)available with improved cmake build (and other fixes and features of course):

of date, and wholly unnecessary now that we correctly export a config file
OpenImageIOConfig.cmake and friends. #3098

Thanks!

[2021-10-20 09:23] PhoebeHui commented on #20483
@FabianLorenzo, see https://github.com/microsoft/vcpkg/blob/master/docs/users/integration.md#msbuild-integration-visual-studio for how it works in msbuild project.

[2021-10-20 09:43] dg0yt commented on #20483
@PhoebeHui What you reported for your local build - and what is covered by the pc file - is
`glib:/lib/glib-2.0/include/glibconfig.h`
and not
`glib:/include/glibconfig.h`
\-- unless the file lists cut away a part of the path.

[2021-10-20 09:54] JackBoosY commented on #18118
`FcWeightFromOpenTypeDouble` is used in _pangofc-fontmap.c_ line 1778, not 1780.
So I think pango was updated before, can you please confirm whether this issue still exist?

[2021-10-20 11:10] sfhacker commented on #20483
This issue seems particularly hard to troubleshoot!
It seems embarrassing the VS is unable to include simple files! Never heard/come across the same or similar issue before.
Perhaps we are new (or ignorant) to this sort of stuff?
Anyway, we will try to reproduce (if possible) this issue and report back.

[2021-10-20 11:49] FabianLorenzo commented on #20483
@PhoebeHui Here is the new source, still can't open the source files inside glib.h without manually including the paths

[code]

[2021-10-20 17:59] kcgen opened #20868 "[FluidSynth] update to 2.2.3"
Library name: fluidsynth

New version number: 2.2.3

Other information that may be useful (release notes, etc...)
https://github.com/FluidSynth/fluidsynth/releases

- FluidSynth previously did not build on macOS 10.5 and earlier
- FluidSynth previously did not build with CMake <3.7
- Applied several audio and soundfont  improvements/fixes
- There are no API changes.

[2021-10-20 18:36] domr001 opened #20870 "libxml2:x86-windows Build Faled"
**Describe the bug**
Error: Building package libxml2:x86-windows failed with: BUILD_FAILED
  Package: libxml2:x86-windows
  Vcpkg version: 2021-09-10-2059ef11aa6067e6f59b0d939c5d17e3c5c47d3e

**Environment**
- OS: [Windows 7 Pro]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install tesseract
2. See error
Repro code when
======================================
W

[2021-10-20 19:38] wrobelda opened #20874 "Potential vulnerability: SHA512 is checked at download time only, not at build time"
**Describe the bug**

I run into this issue accidentally a while ago, when I was working on a port. What I did at the time was updating the versions of a portfile (say, 5.81 -> 5.84), but _not_ the corresponding github tag, and followed by attempting to build  – both locally and in CI, after pushing it upstream and having PR draft open already. This has saved the source code tarball of an old 5.81

[2021-10-20 20:04] m-kuhn opened #20875 "[gdal] does not build for arm (32bit android versions arm-android and x86-android)"
**Host Environment**
- OS: Linux
- Compiler: r21e

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install gdal`

**Failure logs**
Does not build on arm

First line of the portfile disables support for arm (32bit)
https://github.com/microsoft/vcpkg/blob/master/ports/gdal/portfile.cmake#L1

Same happens for x86 (32bit), where the failure happens in cfitsio with

https://github.com/OSGeo/

[2021-10-20 20:06] m-kuhn commented on #20844
See also https://github.com/microsoft/vcpkg/pull/15605

[2021-10-20 20:11] yurybura commented on #20769
@y43d Please upload console output too to check installation plan? Like this:
[code]

[2021-10-20 23:47] dahubley opened #20884 "CUDA Runs before vcpkg in manifest mode"
We are using CUDA in Visual Studio 2019 with the NSight plugin. When we have .cu files in projects the vcpkg manifest check is not triggered by those files. If the library contains only .cu files it will not be triggered at all.

**Environment**
- Windows 10
- Visual Studio 16.10.4
- NSight 2021.2.1

**To Reproduce**
Steps to reproduce the behavior:
Place vpckg in manifest mode
Build project with

[2021-10-21 01:43] drink-crow opened #20886 "[boost-context] build failure on Apple M1 Clang 13, build taget arch x86_64"
**Host Environment**
- OS: [MacOS 11.6 ]
- Compiler: Apple clang version 13.0.0 (clang-1300.0.29.3)  Target: arm64-apple-darwin20.6.0 Thread model: posix

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install boost:x64-osx`

**Failure logs**
[code]
[install-x64-osx-dbg-out.log](https://github.com/microsoft/vcpkg/files/7385304/install-x64-osx-dbg-out.log)
**Additional context**
i try `

[2021-10-21 01:47] xiaoliang2121 opened #20887 "[mpfr] build failure"
**Host Environment**
- OS: [Linux]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install mpfr:x64-linux`

**Failure logs**
autoreconf: Entering directory `.'
autoreconf: configure.ac: not using Gettext
autoreconf: running: aclocal --force -I m4
aclocal: warning: couldn't open directory 'm4': No such file or directory
autoreconf: configure.ac: tracing
autoreconf:

[2021-10-21 02:30] PhoebeHui commented on #20769
Restored 39 packages from C:\Users\phila\AppData\Local\vcpkg\archives in 3.132 s. Use --debug to see more details.

It looks restore the packages from binary cache, so even these ports has been uninstalled. It's still use cache file. Could you clone a clean source and see if the issue repro?

1. git clone https://github.com/microsoft/vcpkg
2. cd vcpkg
3. ./bootstrap-vcpkg.bat
4. ./vcpkg install bo

[2021-10-21 02:49] xiaoliang2121 commented on #20887
不太熟悉这种的配置

[2021-10-21 03:39] sundarsabapathi opened #20888 "FakeIt update to 2.0.9"
Library name: FakeIt

New version number: 2.0.9

Github repo: https://github.com/eranpeer/FakeIt/releases

[2021-10-21 04:45] abdullahazab commented on #11601
having the same problem here in Poth the x86 and the x64 versions, I've noticed that the missing files are in the **buildtrees** folder , but you wouldn't just copy a file and it works the folder structure is not the same .

[2021-10-21 05:39] HuazyYang opened #20891 "[irrlicht:x64-linux] build failure"
**Host Environment**
- OS: Linux(disto: Ubuntu-16.04)
- Compiler: g++-7

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install irrlicht:x64-linux`

**Failure logs**
[code]
**Additional context**
The first time I enchant this error is when building assimp in WSL:Ubuntu-16.04, with vcpkg all set.

[2021-10-21 05:56] JonLiu1993 commented on #20891
@HuazyYang ,Could you please the error log:
[code]

[2021-10-21 06:12] PhoebeHui commented on #20850
Doubled confirmed with VS2022 prewiew 6, gsl:x64-windows built successfully, and the headers can be used normally.

[2021-10-21 07:30] NangiDev commented on #17177
Hey @Tradias
I am sorry I havn't had time.
We found a completelly different solution that is not related to this discussion at all, but I will try this at home as soon as possible for completeness of the discussion :)

[2021-10-21 07:34] PhoebeHui commented on #20769
@y43d, could you provide us the following build logs?
vcpkg\buildtrees\boost-regex\install-x86-windows-static-rel-out.log
vcpkg\buildtrees\boost-regex\x86-windows-static-rel\CMakeFiles\CMakeOutput.log
\vcpkg\buildtrees\boost-regex\x86-windows-static-rel\boost\config.log

[2021-10-21 08:14] PhoebeHui commented on #20707
@zachsucking, could you please try latest clean source with following steps?

git clone https://github.com/microsoft/vcpkg
cd vcpkg
./bootstrap-vcpkg.bat
./vcpkg install boost-regex:x64-windows

[2021-10-21 08:18] PhoebeHui commented on #20150
@JosephQu68, please reopen this issue if it still be a problem for you.

[2021-10-21 11:04] 2catycm opened #20897 "How do I install opencv4[contrib]:x64-windows?"
**Host Environment**
- OS: Windows11 22000.282
- Compiler: MSVC 2019
- Vcpkg package management program version 2021-09-10-2059ef11aa6067e6f59b0d939c5d17e3c5c47d3e

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install opencv4[contrib]:x64-windows --recurse`
In contrast,  doing this has no bug:
`./vcpkg install opencv4:x64-windows` and had succeeded. (because of having installed openc

[2021-10-21 11:09] JonLiu1993 commented on #20870
@domr001 ,Thanks for posting this issue.

Could you please try to download  https://gitlab.gnome.org//GNOME/libxml2/-/archive/b48e77cf4f
6fa0792c5f4b639707a2b0675e461b/libxml2-b48e77cf4f6fa0792c5f4b639707a2b0675e461b.tar.gz manually?

Then copy the archive file to vcpkg_root_path/downloads rebuild this.

[2021-10-21 11:59] 2catycm commented on #20897
I did some serching on this and found that it was a problem from opencv. And for manully installing OpenCV, the solution can be found here: [fatal error: boostdesc_bgm.i: No such file or directory
](https://github.com/opencv/opencv_contrib/issues/1301), which says to download the missing file that "proxy" or "curl" cannot download by browsers,  and then copy the files to the place.
Therefore, I tr

[2021-10-21 12:25] jdx-john opened #20898 "[boost-thread] vcpkg causes __pRawDllMain regression by auto-linking library in static builds"
I've been searching for ages to find out why MFC calls like `AfxGetResourceHandle` were suddenly failing in our DLLs, after we switched to vcpkg... the DLL uses no 3rd-party libs but with vpkg enabled the DLL size grew about 40Kb and these calls failed. We link to vcpkg ports statically, but to MFC as a shared DLL (Static-MD triplet.)

After some low-level digging, it turns out __pRawDllMain is be

[2021-10-21 12:32] bgoglin opened #20899 "hwloc update to 2.6 (it has native CMake support)"
Library name: hwloc
New version number: 2.6

Hello
I am the upstream maintainer of hwloc. I was told about this project and we had some users requesting native CMake support for building hwloc on Windows. So I took your CMakeLists.txt as a base, updated it to hwloc 2.6 and added some additional features. See https://github.com/open-mpi/hwloc/pull/484

Differences between your CMakeLists.txt and mi

[2021-10-21 12:48] Neumann-A commented on #20899
Is the CMakeLists.txt limited to windows or can it be used on all platforms? If it is limited to windows: Why is it limited?

[2021-10-21 13:00] bgoglin commented on #20899
It's only for Windows. For other platforms, autoconf works fine, duplicating everything in cmake would require a lot of work, and nobody requested it.

[2021-10-21 13:21] wrobelda commented on #9802
I am facing some peculiar issue that I cannot reproduce locally, see https://github.com/microsoft/vcpkg/pull/20426#issuecomment-946807357

Not having immediate access to build/config.log is a huge bummer.

[2021-10-21 13:55] #20897 closed

[2021-10-21 15:45] ArtiX-GP opened #20901 "poly2tri:x64-windows build failure"
**Host Environment**
- OS: Windows 10
- Compiler: ?

**To Reproduce**
Steps to reproduce the behavior in vcpkg folder:
`vcpkg install assimp:x64-windows `

**Failure logs**
[stdout-x64-windows.log](https://github.com/microsoft/vcpkg/files/7391096/stdout-x64-windows.log)

[2021-10-21 16:09] dg0yt commented on #9802
I don't think that walking entire trees of gdal or tensorflow is a good idea.
I would rather propose some unconditional or on-error tear-down hook for execute-process.
(I need `config.log`, too.)

[2021-10-21 16:54] McKillroy commented on #14604
There's a starter port as PR for Yojimbo here:
https://github.com/networkprotocol/yojimbo/pull/161
If we iron out the wrinkles it might work later, I think.

[2021-10-21 19:36] geraldcombs opened #20903 "[New Port Request] MIT Kerberos (krb5)"
Library name: krb5

Library description: MIT Kerberos Version 5, a network authentication system

Source repository URL: https://github.com/krb5/krb5

Project homepage (if different from the source repository): https://web.mit.edu/kerberos/

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

Windows build instructions can be

[2021-10-21 19:36] Neumann-A commented on #20899
So i get hwloc 2.5 to build nativ on windows for x64-windows-static. The x64-windows build fails with: `LINK : fatal error LNK1104: cannot open file '.libs/libhwloc.def'`. The reason for that is that somewhere hwloc is passing `--output-def` for that. Have to check how fontconfig solved shared libraries in the past.

[2021-10-21 22:42] Cheaterdev opened #20909 "[crossguid] update to latest"
Library name:
crossguid

New version number:
ca1bf4b810e2d188d04cb6286f957008ee1b7681

Other information that may be useful (release notes, etc...)
There is no official release because buildmachine failed to compile c++17 code.

[2021-10-22 02:07] HuazyYang commented on #20891
@JonLiu1993  The following content is `buildtrees/irrlicht/install-x64-linux-dbg-out.log` in my vcpkg source directory:
[code]

[2021-10-22 02:27] HuazyYang commented on #20891
@JonLiu1993 I think you can close this issue, . Sincerely thx for your help in time.

[2021-10-22 02:29] JackBoosY commented on #20522
@georgelyu  Can you please provide a mininum reproduce cmake code?

[2021-10-22 03:03] JackBoosY commented on #20898
As @Neumann-A said, all libraries containing function definitions in the system library should be placed in the _manual-link_ folder.

[2021-10-22 03:11] adrubesh commented on #20843
Same issue here. I cannot get this to work with CMake. `CMAKE_TOOLCHAIN_FILE` is set, I've ran `vcpkg integrate install` half a dozen times already thinking it would fix things. `find_package` just shows 'error cannot find package XYZ'

[2021-10-22 09:25] ghost opened #20927 "build failed：.\vcpkg install influxdb-cxx[boost] --recurse"
.\vcpkg install influxdb-cxx[boost] --recurse  build failed
`[1/2] cmd.exe /C "cd /D D:\Temp\vcpkg\vcpkg-Boost1_77\buildtrees\boost-chrono\src\ost-1.77.0-46124f816e.clean\build && D:\Temp\vcpkg\vcpkg-Boost1_77\installed\x64-windows\tools\boost-build\b2.exe toolset=msvc --user-config=D:/Temp/vcpkg/vcpkg-Boost1_77/buildtrees/boost-chrono/x64-windows-dbg/user-config.jam --stagedir=D:/Temp/vcpkg/vcpkg

[2021-10-22 10:31] david-antiteum opened #20930 "[libsquish] build failure in ARM (Apple M1)"
**Host Environment**
- OS: macOS ARM
- Compiler: Xcode 13.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install libsquish`

**Additional context**

libsquish uses by default SSE2 instructions by default. The portfile requires this for ARM builds:

[code]

Thanks,

[2021-10-22 12:47] MehdiChinoune opened #20933 "vcpkg_configure_qmake does not support Qt6 tools"
****

**Is your feature request related to a problem? Please describe.**
https://github.com/microsoft/vcpkg/blob/master/scripts/cmake/vcpkg_configure_qmake.cmake only search qmake in Qt5 directories.

**Proposed solution**
Update vcpkg_configure_qmake to use qmake from Qt6 if it is available

**Describe alternatives you've considered**

**Additional context**

[2021-10-22 21:45] SethBe opened #20942 "Lua port does not publish all required headers to use the published header lua.h"
The current package publishes lua.h, but does not include the full chain of headers required to include lua.h successfully.

Lua.h has a dependency on lua_State defined in lstate.h.
lstate.h requires lobject.h, ltm.h, lzio.h.
lobject.h requires  llimts.h
and finally lzio.h requires lmem.h.

Also lapi.h is a fairly commonly used header so I would love to have that added as well.

In short my ask is

[2021-10-23 11:30] silverqx opened #20945 "[libevent] install failure empty bin/ folder"
**Host Environment**
- OS: Linux

**To Reproduce**
It is only reproducible with `x64-linux-dynamic` triplet:
`./vcpkg install libevent:x64-linux-dynamic`

**Failure logs**
[code]

**Additional context**
I have temporary added to `libevent/portfile.cmake`:
[code]

This problem is specific to Linux only, on Windows and MSYS2 `bin/` folder contains `.dll` libs.
What would be the best solution to run

[2021-10-23 19:27] cgmb opened #20952 "[lapack-reference] Does not contain instructions for using cblas"
**Describe the bug**
The lapack-reference port does not contain working instructions for use of the cblas feature.

**Environment**
- OS: Windows
- Compiler: Microsoft Visual Studio 2019 Professional (14.29.30133)

**To Reproduce**

I created a minimal CMake project for one of the official cblas examples.
https://gist.github.com/cgmb/e2ec5f91a109bad62d739e63c3c185e3

Steps to reproduce the behavio

[2021-10-24 00:39] michaelkroener commented on #20942
Usually only 3 headers are public headers lua can be fully used without the other headers used to build lua only if you want to do more advanced stuff for example using the lua lexer manually do you actually need the other headers but in that case its usually enough to use something like minilua a single c file implementation of lua and including that in your tool or well building lua your self an

[2021-10-24 01:04] acgetchell commented on #16376
@NancyLi1013 Thanks for the suggestion. I don't need to build azure-sdk-for-cpp, but I did update my docker file to attempt to build my own project.

https://github.com/acgetchell/vcpkg-image/commit/242d9fe2269b3b52bcc3271a4e509fc7c6385937

The trouble is that there isn't a triplet defined for x64-linux-musl:

[code]

[2021-10-24 01:21] acgetchell opened #20958 "x64-linux-musl triplets build failure"
**Host Environment**
- OS: Alpine Linux 3.14.2
- Compiler: gcc-10

**To Reproduce**
Steps to reproduce the behavior:

1. git clone https://github.com/acgetchell/vcpkg-image
2. cd vcpkg-image
3. docker build -t vcpkg-image .

**Additional context**

The project uses vcpkg manifest mode, so `vcpkg install --feature-flags=manifests` is run before CMake so the error can be more easily seen.

**Failure

[2021-10-24 09:04] thxkiwi opened #20962 "[zeromq-libzmq] Built with /GL and /LTCG for static libraries"
/GL and /LTCG are known to be problematic.

The specifics of the issue I have are that
1. vcpkg is always using MSBUILD a specific location on C:
2. I'm building my actual library that uses vcpkg for dependencies using a different version of MSBUILD

Proposed solution is to not build with /GL and/or /LTCG when building static libraries. The msbuild triplet actually disables this but zeromq-libzmq

[2021-10-24 19:40] wrobelda opened #20966 "[icu] static build consumption failure on macOS and Linux"
**Host Environment**
- OS: Linux + macOS, static builds on Windows

**To Reproduce**
Steps to reproduce the behavior:
- checkout #20965
- `./vcpkg install "libical[rscale]"`

Works fine under Windows when compiled dynamically. Seems that somehow it fails to link to `stdc++`

**Failure logs**

macOS:
[code]

Linux:
[code]

[2021-10-24 23:36] ghost opened #20969 "[matplotcppcpp] build failure - Cannot link to openGL backend"
**Host Environment**
- OS: Windows 10
- Compiler: Visual Studio 16.11.3

Steps to reproduce the behavior:
`./vcpkg install matplotcppcpp[opengl]`

**Failure logs**
[code]

Build passed but the compiler could not find the correct symbols in the generated .lib file to link the openGL implementations.

[2021-10-25 15:41] isaactorz opened #20982 "Install fails when vcpkg is built with gcc-6"
**Describe the bug**
When attempting to install an arbitrary package, using an instance of vcpkg built with gcc-6.3, the install will fail after post-built validation. The error is `No such file or directory` while trying to remove the x64-linux.zip artifact.

This bug has been observed in Ubuntu 20.04 LTS, and in CI using the debian-stretch-slim image.

**Environment**
- OS: Ubuntu 20.04 LTS, and

[2021-10-25 15:46] fishnet37222 opened #20983 "[wxwidgets] build issue"
**Host Environment**
- OS: [Linux]
- Compiler: gcc 9.3.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install wxwidgets`

**Failure logs**
There are no failure logs.

**Additional context**
This is not technically a build failure since issuing the command above succeeds without any noticeable errors.  However, use it with CMake, the configure step fails with the message below:

[cod

[2021-10-25 23:23] cmikef opened #20991 "install opencv2[cuda * * * ] fails with error: Unsupported gpu architecture 'compute_30'"
**Describe the bug:**
When installing opencv2[cuda,eigen,ffmpeg,jasper,jpeg,openexr,opengl,png,qt,tiff,world] on windows 10 home with CUDA  11.4, installed,  the install fails with this message in the log file:

**Environment**
- OS: 10.0.19042 N/A Build 19042
- Visual Studio 2019
- Compiler: Version 19.29.30136
- install option: x64-windows
- cpu: R9 5900X,
- gpu: RTX 3080
- cuda version: V11.4.1

[2021-10-26 00:11] acgetchell opened #20993 "vcpkg fails to build on macOS 12.0.1 with XCode 13.1"
**Describe the bug**
`vcpkg` fails to build.

**Environment**
- OS: macOS 12.0.1
- Compiler: 13.0.0.13000029

**To Reproduce**
Steps to reproduce the behavior:

1. `git clone https://github.com/microsoft/vcpkg.git`
2. `cd vcpkg`
3. `./bootstrap-vcpkg.sh`

**Expected behavior**
Expect `vcpkg` to build.

**Failure logs**
[code]

**Additional context**
XCode Command Line tools were installed with `xc

[2021-10-26 07:38] yungteng opened #20998 "vcpkg can't install opencv2"
Hello, World,  Ｉcna't install opencv2 by vcpkg, the error log as the below, anyidea?

---------------------------------------------------------------------------------------------------
C:\src\vcpkg>vcpkg install opencv2 --triplet=x64-windows
Computing installation plan...
The following packages will be built and installed:
  * eigen3[core]:x64-windows -> 3.3.9#1
  * libjpeg-turbo[core]:x64-window

[2021-10-26 09:13] alwendya opened #21001 "[LibArchive] Builded library on Windows can't produce AES256/128 encrypted zip file"
I used VCPKG to build libarchive 3.5.2#1 with triplet x64-windows-static and the following addon :
- libarchive:x64-windows-static
- libarchive[bzip2]:x64-windows-static
- libarchive[libxml2]:x64-windows-static
- libarchive[lz4]:x64-windows-static
- libarchive[lzma]:x64-windows-static
- libarchive[lzo]:x64-windows-static
- libarchive[openssl]:x64-windows-static
- libarchive[zstd]:x64-windows-stati

[2021-10-26 14:18] NangiDev opened #21003 "[New Port Request] libsercomm"
Library name: libsercomm

Library description: A Multiplatform Serial Communications Library

Source repository URL: https://github.com/ingeniamc/sercomm

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

* Be build for at least windows x64, linux x64 and mac x64

----------------------------

If needed I could fork it. The

[2021-10-26 18:44] Sariaki opened #21006 "[zlib:x64-windows-static] build failure"
**Host Environment**
- OS: [Windows]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg install cpr`

**Failure logs**
CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:127 (message):
    Command failed: ninja -v
    Working Directory: D:/dev/vcpkg/buildtrees/zlib/x64-windows-static-rel/vcpkg-parallel-configure
    Error code: 1
    See logs for more inf

[2021-10-26 23:17] tusharb86 opened #21010 "[eastl] update to 3.18.00"
Library name: eastl

New version number: 3.18.00

Other information that may be useful (release notes, etc...)
https://github.com/electronicarts/EASTL/releases/tag/3.18.00

Thanks!

[2021-10-27 00:53] lanyizi opened #21011 "[EasyHook] allow static triplet"
EasyHook is a library that support function hooking (even from managed code, although it's not related with current issue which only deals with unmanaged case) and DLL injection, and it's available on vcpkg.

Currently vcpkg will refuse to install EasyHook under `static` triplets, it's explicitly disabled on the first line of port file (see below) and `vcpkg.json`:
https://github.com/microsoft/vcp

[2021-10-27 16:26] GiovanniDicanio opened #21021 "[WinReg] update to v4.1.2"
Library name: WinReg

New version number: v4.1.2

Other information that may be useful (release notes, etc...)
Library URL: https://github.com/GiovanniDicanio/WinReg

vcpkg description files (`CONTROL` and `portfile.cmake`) are in the attached .zip archive.
[winreg_vcpkg_files_v4.1.2.zip](https://github.com/microsoft/vcpkg/files/7427815/winreg_vcpkg_files_v4.1.2.zip)

[2021-10-28 09:49] ViksitAgarwal opened #21034 "having trouble pinning versions of tbb"
Here is my vcpkg.json

{
    "$schema": "https://raw.githubusercontent.com/microsoft/vcpkg/master/scripts/vcpkg.schema.json",
    "name": "main",
    "version": "0.1.0",
    "dependencies": [
      "gtest",
      "cpprestsdk",
      "tbb",
      "librabbitmq",
      "hiredis"
    ],
    "builtin-baseline":"9d892ff9270f2d2fe3b8e490471f0a7dfa78981e",
    "overrides": [
      { "name": "cpprestsdk",

[2021-10-28 13:34] Darkshadows9 opened #21038 "fontconfig:x64-windows build failure"
**Host Environment**
- OS: Windows 10 Pro 19042.1288
- Compiler: Unsure, I believe vcpkg is picking up Visual Studio 2019's default, but I do have GCC installed and on path.

**To Reproduce**
Steps to reproduce the behavior:
```vcpkg install gtk:x64-windows``` though ```vcpkg install fontconfig:x64-windows``` does the exact same thing.

**Failure logs**
[code]
[package-x64-windows-rel-out.log](htt

[2021-10-28 15:06] Darkshadows9 opened #21039 "[gtk] Allow selection of GTK3 in addition to GTK4"
****

**Is your feature request related to a problem? Please describe.**
As GTK3 is still actively supported and is the latest version the Glade editor supports, it would be nice if there was some way to select the latest version of it, as GTK4 does break compatibility majorly.

**Proposed solution**
I found what appears to me to be a good solution proposal described [here](https://github.com/micr

[2021-10-28 20:49] wrobelda opened #21043 "vcpkg ignores CMAKE_CXX_COMPILER_LAUNCHER"
**Describe the bug**
I added `-DCMAKE_CXX_COMPILER_LAUNCHER=ccache` to my cmake switches, hoping that vcpkg would pick it up to build own packages.

However, it seems that vcpkg ignores it completely. This is suboptimal, because the alternatives come down to spoofing the C/CXX compiler (https://ccache.dev/manual/4.4.2.html#_run_modes), which vcpkg detects as a compiler change, resulting in binary

[2021-10-28 21:55] Shatur opened #21044 "Windeployqt from vcpkg does not deploy all required libraries"
**Describe the bug**
Windeployqt from vcpkg (located at `tools\qt5\bin`) does not deploy the following required libraries:

* pcre2-16.dll
* zstd.dll
* harfbuzz.dll
* freetype.dll
* bz2.dll
* brotlidec.dll
* brotlicommon.dll

**Environment**
- OS: Windows 10
- Compiler: MSVC 19.28.29915 for x64

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install qt5-tools
2. Build any Qt applicat

[2021-10-29 09:19] bouffa opened #21053 "[New Port Request] qthttpserver"
Library name: qthttpserver

Library description: Simple Qt based Http server library with several essential features

Source repository URL: https://github.com/qt-labs/qthttpserver

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2021-10-29 11:20] wrobelda opened #21055 "[qt] fails to build on macOS 12 (Monterrey)"
**Host Environment**
- OS: macOS 12 (Monterrey)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install qt5-base`

**Failure logs**
[code]

[2021-10-29 12:54] cenit opened #21057 "nuget 5.10.0 does not respect the no_proxy env variable"
this nuget version is broken for servers not behind proxy (listed in no_proxy env variable), when a proxy is set (with http_proxy env variable)

https://github.com/NuGet/Home/issues/10902

https://github.com/NuGet/NuGet.Client/pull/4079

Upgrading to 5.11 fixes the issue, will be opening a PR soon with this *urgent* fix

[2021-10-29 16:01] cenit opened #21060 "[lapack-reference] build failure"
due to tool update (i assume) there is an error with gfortran-built libraries validation (tool checks for .lib but lapack-reference creates a .dll.a)

[code]

[2021-10-29 16:11] essial opened #21061 "[cairo] build failure"
**Host Environment**
- OS: macOS Monterey 12.0.1 (M1)
- Compiler: Apple clang version 13.0.0 (clang-1300.0.29.3)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install cairo`

**Failure logs**
[code]

**Additional context**
I'm guessing the build script is missing this for `APPLE`:
[code]

[2021-10-29 18:04] ivanstepanovftw commented on #20993
Please provide workaround… Intel affected as well.

[2021-10-29 18:17] ivanstepanovftw commented on #20993
@BillyONeal took your vcpkg branch. Thank you.

[2021-10-29 18:25] jmacey commented on #20993
I've just edited the scritps/bootstrap.sh file

#rm -rf "$baseBuildDir"
#mkdir -p "$buildDir"
#vcpkgExtractArchive "$tarballPath" "$srcBaseDir"

Then if you edit the buildtrees/_vcpkg/src/vcpkg-tool-2021-09-10/src/vcpkg.cpp

and add

#include <locale.h>
#include <clocale>

It will build

[2021-10-29 19:27] acgetchell commented on #20993
@jmacey Thanks for the workaround!

That gets me to having a new version of `vcpkg`, but now I have a failed install of `gmp`. I don't know if this is an artifact of the workaround, or a port breakage on the new version. I feel funny reporting a bug in a port build if I'm not using their updated build of `vcpkg`.

Anyhow, here's the error:

[code]

And:

[code]

[2021-10-29 19:42] autoantwort commented on #18799
We are already using a version with https://github.com/catchorg/Catch2/pull/1971

[2021-10-29 20:25] autoantwort commented on #21055
According to [their documentation](https://doc.qt.io/qt-5/macos.html) macOs 12 is not supported by Qt 5.15

[2021-10-30 00:26] thxkiwi commented on #20962
zeromq/libzmq merged have merged my PR to master.

https://github.com/zeromq/libzmq/pull/4290

Anything I can do to help update the port?

[2021-10-30 05:10] sweemer opened #21067 "[quantlib] update to 1.24"
Library name: QuantLib

New version number: 1.24

https://github.com/lballabio/QuantLib/releases/tag/QuantLib-v1.24

[2021-10-30 05:39] #20982 closed

[2021-10-30 05:39] #18615 closed

[2021-10-30 05:39] #20993 closed

[2021-10-30 05:40] #16850 closed

[2021-10-30 06:19] gnaggnoyil commented on #12457
@NancyLi1013 After cherry-picking PR #20439 based on current master(5bdb9d6) and removing `"supports": "uwp",` at `ports/mplack/vcpkg.json`, the build step of running `vcpkg install "armadillo[*]"` and then `vcpkg install "mlpack[*]"` succeeded. I personally consider this issue be solved. Thanks a lot for your development.

[2021-10-30 06:32] aminya commented on #20430
I also faced the issue when I ran cmake from make files. Directly calling cmake in bash does not have this issue. Very strange error

[2021-10-30 06:39] aminya commented on #20430
This affects building things inside WSL. I believe this is a very important bug.

[2021-10-30 06:55] Kuranes opened #21069 "[New Port Request] jpeg-xl"
Library name: jpeg-xl

Library description: next gen format of image

Source repository URL: https://github.com/libjxl/libjxl

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2021-10-30 06:58] Kuranes opened #21070 "[New Port Request] libvips"
Library name: libvips

Library description:
libvips is a demand-driven, horizontally threaded image processing library. Compared to similar libraries, libvips runs quickly and uses little memory.

Source repository URL:
https://github.com/libvips/libvips

Project homepage (if different from the source repository):
https://www.libvips.org/
Anything else that is useful to know when adding (such as o

[2021-10-30 06:59] aminya opened #21071 "[docopt] docopt targets are not called doctop::docopt for all platforms <2018-11-01#1>"
Library name: docopt

New version number: 2018-11-01#1

Other information that may be useful (release notes, etc...)

docopt uses target name `docopt` under Windows, and uses `docopt_s` under Linux. This make it hard to use as we have to do something like this:
[code]
This is not also consistent with most of the other libraries that follow a `::` naming convention

[2021-10-30 07:04] aminya opened #21072 "[openblas] 64bit build fails due to redefinition of BLASLONG <0.3.15>"
Library name: openblas

New version number: 0.3.15

Other information that may be useful (release notes, etc...)

OpenBlas fails to build on 64-bit windows, and requires a manual definition of `OS_WINNT` and `__64BIT__`. This is because `BLASLONG` is defined two times.

C:\proj\build\vcpkg_installed\x64-windows\include\openblas\openblas_config.h:55

C:\proj\build\vcpkg_installed\x64-windows\includ

[2021-10-30 07:19] dg0yt commented on #20430
You can easily workaround by putting `CLICOLOR_FORCE=0` in front of your `vcpkg` call.

[2021-10-30 07:48] yungteng commented on #20998
Please check below, Thanks.
----------------------------------------------------------------
[1/2] cmd /c "cd ../../x64-windows-dbg && "C:/Program
Files/CMake/bin/cmake.exe"
"C:/src/vcpkg/buildtrees/eigen3/src/3.3.9-c395fd9e7c.clean"
"-DBUILD_TESTING=OFF" "-DEIGEN_BUILD_PKGCONFIG=ON"
"-DCMAKE_MAKE_PROGRAM=C:/src/vcpkg/downloads/tools/ninja/1.10.2-windows/ninja.exe"
"-DBUILD_SHARED_LIBS=ON"
"-DVCPK

[2021-10-30 08:08] aminya commented on #20430
Did not work for me from inside a Makefile. It was time to switch to a better task runner like [Task.dev](https://taskfile.dev/#/). Fortunately, it works there without the need for setting env variables.

[2021-10-30 08:13] javibo590 opened #21074 "bzip2[core]:x64-windows - error en la instalacion"
Hola, estoy intentando instalar  rtabmap:x64-windows con VCPKG pero por mas que lo intento siempre obtengo el mismo error
Por favor, a ver si me pueden ayudar. Muchas gracias¡

D:\Proyectos\ROS\catkin_ws>vcpkg install rtabmap:x64-windows
Computing installation plan...
The following packages will be built and installed:
  * boost-bimap[core]:x64-windows
  * boost-circular-buffer[core]:x64-windows

[2021-10-30 08:23] rudi-lab commented on #19524
I had the same problem. Then I tried to set the vcpkg root directory and got:

`PS D:\Projects\test-vcpkg\test_vcpkg> .\vcpkg\vcpkg search sdl2 --vcpkg-root="D:\Projects\test-vcpkg\test_vcpkg\vcpkg" --debug
[DEBUG] Feature flag 'binarycaching' unset
[DEBUG] Feature flag 'manifests' unset
[DEBUG] Feature flag 'compilertracking' unset
[DEBUG] Feature flag 'registries' unset
[DEBUG] Feature flag 'ver

[2021-10-30 08:30] javibo590 opened #21075 "[bzip2:x64-windows] build failure"
**Host Environment**

    OS: Windows 10
    Compiler: Microsoft Visual Studio Community 2019 Version 16.6.5

**To Reproduce**
Steps to reproduce the behavior:
    vcpkg install bzip2:x64-windows

**Failure logs**
D:\Proyectos\ROS\catkin_ws>vcpkg install bzip2:x64-windows
Computing installation plan...
The following packages will be built and installed:
    bzip2[core]:x64-windows
Detecting compil

[2021-10-30 08:43] dg0yt commented on #20430
Also affects macOS.

[2021-10-30 09:20] dg0yt commented on #21071
Is `docopt` also used for static Windows triplets, and `docopt_s` also for dynamic Linux triplets`?  It sounds like suffix for static linkage.

[2021-10-30 09:24] m-kuhn commented on #20844
@holmescn are you working on a PR?
Would it make sense to rename this issue and remove the version r23 it seems to be generic for any ndk

[2021-10-30 09:58] chausner commented on #13371
For now, this issue should be fixed with the port update to 1.8.3: https://github.com/microsoft/vcpkg/pull/21041

[2021-10-30 10:37] alwendya commented on #21001
By the way, do you think there is a possibility to provide a temporary patch file ?
( I tried to create one by myself but I'm not a pro in GIT patch file and sadly, it's not working...)

[2021-10-30 10:41] giles45 opened #21077 "[abseil] build failure"
**Host Environment**
- OS: Windows Server 2019
- Compiler: MSVC 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install abseil:x86-windows`

**Failure logs**
Error: abseil[core] is only supported on '(x64 | arm64) & (linux | osx | windows)'

**Additional context**
This is a bug because Abseil is supported on 32-bit Windows. (See here https://abseil.io/docs/cpp/platforms/platforms)

[2021-10-30 13:59] Sariaki commented on #21006
I looked into my system path variable and couldn't find any paths to anything visual studio related, so i added `C:\Program Files (x86)\Windows Kits\10\Lib\10.0.19041.0\ucrt\x64;C:\Program Files (x86)\Microsoft Visual Studio\2019\Community;
`, rebooted and tried running vcpkg install zlib:x64-windows-static --debug with no success and the same error.
[error.txt](https://github.com/microsoft/vcpkg/

[2021-10-30 14:44] acgetchell opened #21080 "[gmp] build failure on macOS Monterey"
**Host Environment**
- OS: Mac 12.0.1
- Compiler: AppleClang 13.0.0.13000029

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install gmp`

**Failure logs**

[code]

**Additional context**
[autoconf-x64-osx-err.log](https://github.com/microsoft/vcpkg/files/7446868/autoconf-x64-osx-err.log)

[2021-10-30 15:14] xanather opened #21081 "Broken usage of aws-cpp-sdk v2"
Continuation of https://github.com/microsoft/vcpkg/issues/20252

On windows try:
.\vcpkg.exe install aws-sdk-cpp[cloudformation,ssm,s3,ec2]:x64-windows

The result:
[code]

https://github.com/microsoft/vcpkg/blob/master/ports/aws-checksums/vcpkg.json#L6

Why is windows not supported?

[2021-10-30 15:27] xanather commented on #21081
I just tried it by allowing aws-checksums on windows (manually edited the vcpkg.json file) and seems to have built fine.

[2021-10-30 15:29] acgetchell commented on #21080
The error seems to be down to not finding `libtool`:

[code]

https://stackoverflow.com/questions/53636130/possibly-undefined-macro-ac-prog-libtool

But libtool is installed locally.

[2021-10-30 15:30] xanather commented on #21081
https://github.com/microsoft/vcpkg/pull/21082 should fix this issue.

[2021-10-30 15:40] acgetchell commented on #21080
It turns out that if you use `homebrew` to install `libtool` it prefaces commands with "g":

[code]

So you can fix this by adding the following to `~./zshrc`:

[code]

[2021-10-30 16:03] WangZP10969 opened #21083 "[omplapp] build failure on “fcl[core] is only supported on 'static'“"
**Host Environment**
- OS: Windows10
- Compiler: VS2019

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Failure logs**

**Additional context**

[2021-10-30 16:25] dg0yt commented on #21081
Looks like a bad conversion from `!(arm & windows)` in #20033.

[2021-10-30 17:49] acgetchell commented on #20993
Fix documented here: https://github.com/microsoft/vcpkg/issues/21080

[2021-10-30 19:31] dg0yt commented on #19055
Fixed in bootstrapped version of vcpkg tool.

[2021-10-30 19:31] #19055 closed

[2021-10-30 19:34] dg0yt commented on #18631
Fixed by https://github.com/microsoft/vcpkg/pull/18961.

[2021-10-30 20:19] InfRandomness opened #21084 "[New Port Request] DPP"
Library name: DPP

Library description: Extremely lightweight C++ Discord library

Source repository URL: https://github.com/brainboxdotcc/DPP

Project homepage (if different from the source repository): https://dpp.dev/

[2021-10-30 20:40] cjwijtmans commented on #20788
This seemed to work for me.

[code]

but still has issues.

[code]

[2021-10-30 23:41] beached opened #21086 "[gumbo] build failure/missing cmake config"
**Host Environment**
- OS: all
- Compiler: all

Steps to reproduce the behaviour:
Neither find_package nor pkg_search_module work.  the upstream project installs a pkg config with a module named gumbo

**Additional context**
This make integrating with other packing or a manual installed version tedious and brittle.  [gumbo] should install a package config file as with upstream gumbo project

[2021-10-31 04:24] liubin3071 opened #21088 "[<port name>] build failure"
**Host Environment**
- OS: win 10
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Failure logs**
-Cut and past the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

**Additional context**
Add any other context about the problem here, such as what you have already tried to resolve the is

[2021-10-31 06:07] aminya commented on #21071
I don't think so. I just used what the CLI recommend as the cmake target. Anyways, these two should follow similar convention like other packages.

[2021-10-31 09:20] holmescn commented on #20844
@m-kuhn yes, I am working on this draft PR. It seems to be a generic patch for Android NDKs that are using clang as their main compiler. I have added as few as possible changes to make it work. But I could not test most ports.

[2021-10-31 09:30] m-kuhn commented on #20844
@holmescn happy to give your branch a try if you can send me a link to it

[2021-10-31 10:08] jmacey opened #21091 "[bullet3] build failure Mac M1 / arm64"
**Host Environment**
Mac M1 / arm64
Apple clang version 13.0.0 (clang-1300.0.29.3)
Target: arm64-apple-darwin21.1.0
Thread model: posix
InstalledDir: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin

**To Reproduce**
`./vcpkg install bullet3`

**Failure logs**
  package: bullet3[core]:arm64-osx -> 3.17#2
  vcpkg version: 2021-10-25-b4bff9afacafb0a234a8f20fd645

[2021-10-31 10:39] #20725 closed

[2021-10-31 12:55] dg0yt commented on #17607
Just had to remind myself that DLLs are usually not deployed for debug variants...

[2021-10-31 16:28] cjwijtmans commented on #20788
I have tried this in `settings.json`, it does not work.

[code]

[2021-10-31 17:11] InfRandomness commented on #21084
I am stuck up to that part where I am having this issue :

[code]
Can anyone enlighten me on this one?

[2021-10-31 18:07] dg0yt commented on #21084
Ask upstream. The `CMakeLists.txt` does not look very clean, building for windows "with precompiled packaged dependencies" including opus and sodium. Yes, precompiled... I wouldn't want to be the maintainer of such a port ;-)

[2021-10-31 18:16] InfRandomness commented on #21084
So, actually, what was happening that we either can not use neither opus or sodium, but if we use one, we have to use the other, and since I want voice support, I have to include both..

And.. uh.. I just want to be able to use a discord library via vcpkg but didn't find anything

[2021-10-31 20:06] plettplett commented on #13354
Hi,

Vcpkg installed latest dependencies for OIIO.

Rebuilt OIIO vcpkg 2.3.7.2#4

Builds OK -

C:\Users\chris\vcpkg>vcpkg install openimageio[core,gif,openjpeg,webp,libraw,webp]:x64-windows-static
Computing installation plan...
The following packages will be built and installed:
    openimageio[core,gif,libraw,openjpeg,webp]:x64-windows-static -> 2.3.7.2#4
Detecting compiler hash for triplet x64-w

[2021-10-31 20:12] plettplett commented on #13354
Hi,

I forgot to add that vcpkg cache folders were removed after editing libheif-config.cmake, and before re-installing openimageio.

Thank you,

[2021-10-31 23:54] cgolchert opened #21095 "[OpenVDB] Update to V9.0 (from 7.x)"
****

**Is your feature request related to a problem? Please describe.**
The openVDB port is now two full versions behind the current release.   NanoVDB has also been officially released as part of V9.0 to allow for GPU support.

**Proposed solution**
Update the vcpkg version would...well...make the library up-to-date.

**Describe alternatives you've considered**
Waiting so far hasn't gotten it up

[2021-11-01 01:58] JackBoosY commented on #21038
@Darkshadows9  I'm pretty sure your Windows 10 SDK has some problems.
Please re-install it.

[2021-11-01 02:10] JackBoosY commented on #21001
Yeah we can do that, but need the upstream approval first.

[2021-11-01 02:11] JackBoosY commented on #18631
Please keep this issue open until #18961 merged.

[2021-11-01 02:41] JackBoosY commented on #21055
cc @Neumann-A

[2021-11-01 02:49] JackBoosY commented on #21091
[code]
https://github.com/microsoft/vcpkg/blob/5bdb9d60123df20c247a1654e6a1def51d6c5140/ports/bullet3/portfile.cmake#L1

Bullet3 doesn't support arm and uwp currently.

[2021-11-01 07:00] jmacey commented on #21091
It will build fine under arm64 under Mac M1 this check fails under mac which it should not.  I guess either the vcpkg_fail_port_install function is reporting the wrong target or the function is using or instead of and for the checks.

[2021-11-01 07:03] al-cheb opened #21107 "[vcpkg] Running vcpkg where vcpkg-root must be detected by looking for .vcpkg-root fails with find_file_recursively_up(..., .vcpkg-root): Not a directory"
**Describe the bug**
After the PR https://github.com/microsoft/vcpkg/pull/20838 was merged installation, vcpkg is broken on macOS 10.15/11.

**Environment**
- OS: 11.6(20G165)

**To Reproduce**
Steps to reproduce the behavior:
https://github.com/actions/virtual-environments/blob/main/images/macos/provision/core/vcpkg.sh

[code]

**Expected behavior**
[code]

**Failure logs**
[code]

[2021-11-01 07:03] al-cheb commented on #21107
cc @BillyONeal

[2021-11-01 07:10] JackBoosY commented on #21091
@jmacey On arm64-windows build:
[code]

[2021-11-01 07:41] JackBoosY commented on #21060
This needs to add the ELF check functions in `cofffilereader.cpp`.

[2021-11-01 07:58] Cheney-W commented on #21072
Thanks for reporting this issue to us. Could you please provide us with following info:
1. The failure log.
2. The version of your VCPKG and Visual Studio.

[2021-11-01 08:08] dg0yt commented on #21060
I don't understand this point. How does the issue relate to linux?

What I see is using mingw naming conventions (`.dll.a`) instead of MSVC naming conventions (`.lib`) for import libs. Possibly due to:
[code]

[2021-11-01 08:11] JackBoosY commented on #21060
@dg0yt In the post check step, vcpkg will check the suffix of the library and the library file format. At this time, the code for checking the `.a` file format needs to be added.

[2021-11-01 08:18] javedali-dev commented on #8187
Hey, I'm installing this package using vcpkg. But not able to link to the CMake target. when I call `find_package(ocilib CONFIG REQUIRED)` it says,
[code]
anyone can give me the code that I can put into my cmake file to start consuming this library?
thanks.

[2021-11-01 08:20] jmacey commented on #21091
Works fine on mac (I guess there is an issue with UWP trying to include the intrinsics, however on mac this doesn't happen).  It all works fine (and I have several demos against it installed via vcpkg, I have also built it from source via the official github repo and all of the Demos work fine). The check is the issue it should check for UWP and fail not arm on mac.

➜  vcpkg git:(master) ✗ ./vcpk

[2021-11-01 08:21] jmacey commented on #21091
Obviously the above install is with my edited port file.

[2021-11-01 08:21] NancyLi1013 commented on #21077
Hi @giles45

Thanks for posting this issue.

Sorry for my confusion. The message is intended, since we add `supports `filed in vcpkg.json.

But it should support x86-windows. I will fix this soon.

[2021-11-01 08:23] JackBoosY commented on #21091
Yes I confirmed.

[2021-11-01 08:26] dg0yt commented on #21060
@JackBoosY AFAIK `.dll.a` import libs (and `.a` static libs) are *not usable by MSVC*, so they are not valid for windows triplets and don't need to be checked in detail.
The build happened to detect the error because no other `.lib` is present. But in fact there should be a check that no `.a` is present in (MSVC) windows triplet builds.

[2021-11-01 08:37] PhoebeHui commented on #21074
Closing in favor of https://github.com/microsoft/vcpkg/issues/21075

[2021-11-01 08:37] #21074 closed

[2021-11-01 08:40] PhoebeHui commented on #21075
@javibo590, could you get latest source via 'git pull' & 'bootstrap-vcpkg.bat' and try again? it looks your local is too old.

[2021-11-01 08:41] JackBoosY commented on #21060
@dg0yt Can `.dll.a` and `.a` be used in mingW? If yes, I think we still need to check.

[2021-11-01 09:04] PhoebeHui commented on #20962
@thxkiwi, thanks for reporting this issue to Upstream! could you create a patch for it? we're happy to accept the PR!

[2021-11-01 09:10] NancyLi1013 commented on #21061
Hi @essial  Thanks for posting this issue.

Does this happen when you use `cairo `in your project?
 If so, please help provide your project sample. Thansk.

[2021-11-01 09:22] aminya commented on #21072
Here is the build log. I only tested with CMake and Clang to build this project.

[code]

I am making a pull request to add the Blaze cmake file I used.

[2021-11-01 09:24] JonLiu1993 commented on #21088
@liubin3071 ,Thanks for posting this issue, currenty folly can't support x86-windows.

[2021-11-01 09:26] NancyLi1013 commented on #21071
Hi @aminya

Thanks for posting this issue.
`docopt` is for dynamic build, `docopt_s `is for static build, which is not related with platforms.

https://github.com/docopt/docopt.cpp/blob/6f5de76970be94a6f1e4556d1716593100e285d2/CMakeLists.txt#L37-L58

For the targets name, this is upstream behavior. If you have any doubts or requests, please report an issue to upstream.

[2021-11-01 09:34] NancyLi1013 commented on #21080
Hi @acgetchell

Thanks for posting this issue.

I can build this successfully on 12.0.5. I also installed `libtool ` `via brew install libtool`.

[code]

[2021-11-01 09:39] aminya commented on #21071
Conan somehow manages to use doctop::doctop for all platforms. That's what I also expected for vcpkg.
https://conan.io/center/docopt.cpp?tab=recipe

[2021-11-01 10:07] NancyLi1013 commented on #12457
Thanks for your test and above details. It's so great to hear the good news.

[2021-11-01 10:07] #12457 closed

[2021-11-01 10:44] miketimofeev commented on #21107
@BillyONeal @NancyLi1013 same for Ubuntu
[code]
https://github.visualstudio.com/virtual-environments/_build/results?buildId=118536&view=logs&j=011e1ec8-6569-5e69-4f06-baf193d1351e&t=5431112d-2b61-5a5f-7042-ef698f761043

[2021-11-01 10:58] JonLiu1993 commented on #20998
@yungteng ,Thanks for posting this issue,
Make sure Visual Studio has the following installed:

Desktop Development with C++
One of the Windows SDKs, preferably the latest
English Language Pack

[2021-11-01 11:26] dg0yt commented on #21060
Yes.

But then you are not dealing with COFF format or ELF format but with ar format.

[code]

And this check is not needed for (non-mingw) windows triplets. You don't want `.a` files there.

[2021-11-01 11:42] javibo590 commented on #21075
Thank you very much for the quick answer. unfortunately the error continues to occur.
The problem is not in the Zlib2 library. the problem occurs when trying - Acquiring MSYS Packages ... You cannot reproduce the problem because you already have the MSYS Packages installed. Thanks

[2021-11-01 11:56] javibo590 commented on #21075
I have checked Similar issue # 19204 and deleted msys2 directory from vcpkg / downloads / tools and rebuild again. the msys2 directory is generated correctly but later fails again at the same point. - Acquiring MSYS Packages ...

D:\Proyectos\ROS\catkin_ws>vcpkg install bzip2:x64-windows
Computing installation plan...
The following packages will be built and installed:
    bzip2[core]:x64-windows

[2021-11-01 12:43] #20843 closed

[2021-11-01 13:12] dg0yt commented on #21060
@cenit Where do you take this from?
- See above: .dll.a is an ar archive.
- We had some mingw builds (e.g. hdf5) naming mingw import libraries `.lib`, triggering "missing second linker"  member in vcpkg's policy check.

[2021-11-01 13:13] dg0yt commented on #21060
I don't dispute that. But was it building with MinGW gfortran before?

[2021-11-01 13:15] cenit commented on #21060
yes

[2021-11-01 13:17] cenit commented on #21060
https://stackoverflow.com/questions/55610732/cmake-dll-vs-dll-a-vs-a-what-library-should-i-specify-in-the-cmake-configur
https://stackoverflow.com/questions/2096519/from-mingw-static-library-a-to-visual-studio-static-library-lib/2139061#2139061
https://stackoverflow.com/questions/6422478/linking-a-lib-and-def-files/6480464#6480464

just trying to recover things from my mind.
I remember having prob

[2021-11-01 13:35] dg0yt commented on #21060
Okay. Accepting that .dll.a is compatible with MSVC.

[code]

Now in CI for lapack-reference[blas-select,core,noblas]:x64-windows, .lib and .dll.a exist side by side:
[code]

So your build with latest repo and tool doesn't create the .lib files?

[2021-11-01 14:24] sfhacker commented on #21075
@javibo590 Where can I download 'Zlib2 library'?
Are you mixing toolchains? If so, you are looking for trouble!
Try to stick to only one toolchain and see if that works fine.

[2021-11-01 15:56] sfhacker commented on #21060
We don't follow this open issue very well, but ... are we mixing toolchains here? Please, elaborate. Cheers,

[2021-11-01 16:51] uri247 opened #21115 "Cannot use cjson with cmake"
**Host Environment**
- OS: Windows
- Compiler: 16.11

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg.exe install --triplet=x64-windows-static cjson`

After you install, you cannot use the CMake.
The reason is that in line 45 there is:
`set(_IMPORT_PREFIX "${_IMPORT_PREFIX}")`

This is a regression. It means nothing. Any project that users cjson will fail in line 68 (won't be able to fi

[2021-11-01 16:53] plettplett commented on #14509
Hi Nancy,

I’m wondering if you could take a look at my message at : https://github.com/microsoft/vcpkg/issues/13354

Is this OK, or do I need to open a new case for my issue.

Please advise,

Thank you

Chris Spence
Digital Devoid, Inc.
7300 Biscayne Blvd, Suite 405
Miami, FL  33138

Tel: 305 757 1330

***@***.***
www.digitaldevoid.com

[2021-11-01 17:00] horenmar opened #21116 "[vcpkg-tool] Error message of the new pkgconfig check is not great"
**Describe the bug**
I tried installing `gtest` with up-to-date vcpkg-tool, and got this error message:
[code]

Apart from being annoyed that the current port cannot be installed with the current vcpkg-tool, I think the error message is not great. It is easy to read as "`pkgconfig` folders need to be under `lib` and `debug/lib` folders", while the check (going by the commit that added this check,

[2021-11-01 17:15] BillyONeal commented on #21116
Hmm... we did check that and it doesn't repro for me:

[code]

Any ideas what's different?

/cc @autoantwort

[2021-11-01 17:24] horenmar commented on #21116
Yeah, sorry for that.

I tried reproing it further, and couldn't. I did some further digging and I think that the problem is that I use vcpkg in manifest mode, and have specified older `builtin-baseline` than the tool is for, so what happens is that the new tool downloads older registry with older ports and then fails the build...

[2021-11-01 17:34] BillyONeal commented on #21116
Ah, that would do it, since there were bugfixes to this port. Maybe we should turn off new post-build-lint checks in manifest mode...

[2021-11-01 17:36] dg0yt commented on #21060
I found one less common item in the fortran setup:
https://github.com/microsoft/vcpkg/blob/5bdb9d60123df20c247a1654e6a1def51d6c5140/scripts/cmake/vcpkg_find_fortran.cmake#L123-L124
`CMAKE_GNUtoMS` means

(https://cmake.org/cmake/help/v3.22/prop_tgt/GNUtoMS.html#prop_tgt:GNUtoMS)

This is what is passed on to mingw fortran in lapack-reference.

This CMake feature relies on `lib.exe` from VS. Do you

[2021-11-01 17:39] horenmar commented on #21116
It would bring in bunch of complexity, but having a correspondence between baseline version and check addition would be the best of both worlds.

[2021-11-01 18:16] BillyONeal commented on #21107
What does `uname` say on your system?

https://github.com/microsoft/vcpkg/blob/5bdb9d60123df20c247a1654e6a1def51d6c5140/scripts/bootstrap.sh#L128

[2021-11-01 18:21] BillyONeal commented on #21107
Oh I see this isn't that it downloaded the linux binary on macos, it's that `find_file_recursively_up` no longer accepts a regular file as the starting path.

As a workaround for now you can manually set `VCPKG_ROOT`

[2021-11-01 18:48] al-cheb commented on #21107
Should it point to the `/usr/local/share/vcpkg`?

[2021-11-01 19:09] Sariaki commented on #21006
reinstalling the windows sdk 10.0.19041.0 has also not changed anything

[2021-11-01 19:18] shilewenuw commented on #21107
seems it's broken on Ubuntu:Hirsute as well. Temporary fix:
[code]

[2021-11-01 19:36] sfhacker commented on #21006
Are we STILL having issues with zlib? We haven't been able to reproduce this issue locally.
@Sariaki Most probably your environment is broken somehow!

[2021-11-01 19:49] GitMensch opened #21117 "[vcpkg upgrade] vcpkg has crashed (update on not installed packages)"
**To Reproduce**
Steps to reproduce the behavior:

[code]

[2021-11-01 20:40] soulmachine commented on #21107
I'm having the same issue on Ubuntu and Debian,

[code]

For now I cd to the `$VCPKG_ROOT` and execute `bootstrap-vcpkg.sh` manually to work around it.

[2021-11-01 21:27] GitMensch commented on #20870
@JonLiu1993 can you please edit the initial post adding ```  around the "window dump" to make it readable?

I see the same issue when trying to do this from Appveyor. Tried with the manual download there and got an SSL/TLS error (only happening with the libxml2 package, all other downloads worked fine).

[2021-11-01 21:36] #21083 closed

[2021-11-01 22:17] Bogfoot opened #21119 "find_file_recursively_up suddently causing problems"
When trying to use vcpkg in any way from any dir other than ~/vcpkg/ (it's installed in that dir, path to vcpkg is ~/vcpkg/vcpkg) I get this:

└[~]> ./vcpkg/vcpkg list
find_file_recursively_up(/home/bogfoot/vcpkg/vcpkg, .vcpkg-root): Not a directory

I just removed and reinstalled vcpkg and I keep getting this message. My .zshrc does not contain any lines which mention vcpkg.
In the meantime, I cr

[2021-11-01 22:20] BillyONeal commented on #21107
If that's where your `ports` are, yes.

That fix is suboptimal because it causes a build (it effectively downgrades the tool). Ideally you would use the manually setting `VCPKG_ROOT` temporary workaround.

[2021-11-01 22:21] BillyONeal commented on #21107
That should also work (and is why we didn't notice this before shipping the update)

[2021-11-01 22:22] Neumann-A commented on #21119
Hmm I also see this in GA:
`Cannot open assembly 'find_file_recursively_up(/home/runner/work/StochasticPhysics/StochasticPhysics/vcpkg/vcpkg,': No such file or directory.`

[2021-11-02 00:04] BillyONeal commented on #21119
Duplicate of #21107

[2021-11-02 00:04] #21119 closed

[2021-11-02 00:22] JonLiu1993 commented on #20123
@Bu-kyung ,please reopen this issue if this still be a problem for you.

[2021-11-02 00:22] #20123 closed

[2021-11-02 00:47] PhoebeHui commented on #21117
@GitMensch, confirmed, this issue could repro with latest vcpkg source, thanks for reporting this issue!

[2021-11-02 01:31] JackBoosY commented on #21088
folly does not officially support x86.

[2021-11-02 01:33] Darkshadows9 commented on #21038
Went ahead and uninstalled all of the SDK's before reinstalling only 10.0.19041.0 using the Visual Studio Installer. Same exact results trying to rebuild.

[2021-11-02 01:37] holmescn commented on #20844
@m-kuhn https://github.com/holmescn/vcpkg, branch fix-android-ndk-r23. Only Linux platform is tested, I am working on macOS. Windows is the last.

[2021-11-02 02:09] JonLiu1993 commented on #20870
@GitMensch ,When you manual download failed :
- The download link itself is invalid
- Network proxy problem

[2021-11-02 02:19] domr001 commented on #20870
Sorry - I didn't realize the dump was so big.
Still a newbie.
Tried adding " " before and after, but couldn't see any difference. Need to learn how to do it right 🤔

[2021-11-02 02:36] juandemanjon opened #21124 "[opentelemetry-cpp] Missing features"
There are missing OpenTelemetry features:
 * [otlp](https://github.com/open-telemetry/opentelemetry-cpp/blob/368f172fe00581dc09405a2c1f1e5ccfcb273040/CMakeLists.txt#L158)
 * [zpages](https://github.com/open-telemetry/opentelemetry-cpp/blob/368f172fe00581dc09405a2c1f1e5ccfcb273040/CMakeLists.txt#L167)

[OTLP exporter](https://github.com/open-telemetry/opentelemetry-cpp/blob/bfab71a53fda0ac2533c81de

[2021-11-02 02:45] PhoebeHui commented on #21107
Related to https://github.com/microsoft/vcpkg/issues/20125

[2021-11-02 02:53] PhoebeHui commented on #21075
@javibo590, could you execute 'git pull' & './bootstrap-vcpkg.bat' and see if this issue still repro?

[2021-11-02 02:55] PhoebeHui commented on #20707
@zachsucking, have you tried above steps?

[2021-11-02 03:02] JackBoosY commented on #21038
Can you please run the following command and provide the output?
1. Using cmd:
[code]

2. Using Visual Studio Developer Command Prompt:
[code]

[2021-11-02 03:14] PhoebeHui commented on #21006
@Sariaki, sorry for the late response, from your failure log, it looks the latest windows sdk version is 10.0.20348.0 in your machine, so reinstalling windows sdk 10.0.19041.0 doesn't work.

Could you install 10.0.20348.0 VS installer and try again? I double confirmed, zlib built successfully with it. Just for curious, why do you install multi windows sdks?

[code]

[2021-11-02 03:29] msclock opened #21125 "[ cgal ] build failure"
**Host Environment**
- OS: Ubuntu
- Compiler: g++ (Ubuntu 9.3.0-18ubuntu1) 9.3.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install cgal:x64-linux`

**Failure logs**

[code]

mpfr err file logs
[code]

**Additional context**
Run `vcpkg install mpfr:x64-linux` and get the error same.

[2021-11-02 03:40] msclock commented on #21125
Oh!!I figured it out.

Go to the [document](http://www.gnu.org/software/autoconf-archive/ax_pthread.html) and download the latest ax_pthread,m4 to path `/usr/share/aclocal/`.

[2021-11-02 03:40] #21125 closed

[2021-11-02 03:53] chuyanjuncn opened #21126 "[<osgEarth3.2 >] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: Visual studio 2015 with update3

**To Reproduce**
Steps to reproduce the behavior:
.\vcpkg install osgearth:x64-windows

**Failure logs**
Building x64-windows-dbg
CMake Error at scripts/cmake/vcpkg_execute_build_process.cmake:155 (message):
    Command failed: I:/vcpkg/downloads/tools/cmake-3.21.1-windows/cmake-3.21.1-windows-i386/bin/cmake.exe --b

[2021-11-02 05:07] dg0yt commented on #20870
@domr001 For short snippets, enclose in `~~~` (on separate lines). For longer logs, make attachments.

[2021-11-02 05:14] BillyONeal commented on #21116
https://github.com/microsoft/vcpkg-tool/pull/245 works to address this

[2021-11-02 05:54] GitMensch commented on #20870
@JonLiu1993 I've verified that I can download from another node (so the link itself is fine), but not from Appveyor, maybe it is a certificate problem, don't know.

[2021-11-02 06:05] JonLiu1993 commented on #20870
@GitMensch ,I may not be able to help you with the certificate issue, I am not very good at that

[2021-11-02 06:18] GitMensch commented on #20870
The only reasonable thing there would be to check if there's another place to download it from in the port file (changing to http doesn't make sense as it is routed to https automatically).

[2021-11-02 06:34] NancyLi1013 commented on #13214
Hi @ianmanifacier

Sorry for the late response. Do you mean`ogre-next` here? Since there is no port named `ogre3d `in vcpkg.

[2021-11-02 07:07] arsdever commented on #8444
@JackBoosY Hi. I'm facing a similar issue when trying to install the package in a docker image.

These errors show up in the terminal, I'm not sure if I can ignore them:
[code]
`bootstrap-x64-windows-out.log`
[code]
bootstrap-x64-windows-err.log
[code]

Docker image is based on servercore:ltsc2022
VisualStudio components installed:
- Microsoft.VisualStudio.Component.VC.Tools.x86.x64
- Microsoft.Vi

[2021-11-02 08:14] gaoshiping opened #21128 "[<sentencepiece>] build failure"
**Host Environment**
- OS: Windows 10 19042.1320
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install sentencepiece`

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
    sentencepiece[core]:x86-windows -> 0.1.95#1
Detecting compiler hash for triplet x86-windows...
Restored 0 packages from C:\Users\ShiPing Gao\A

[2021-11-02 08:47] cenit commented on #21060
ah yes that's the trick that was applied. Not that .dll.a were compatible, but that using the def file and a lib call (wrapped inside the CMAKE_GNUtoMS option) the lib appeared automagically.
Yes, somehow that's not working anymore. Something might have changed in CMake maybe? I was running with the latest update in that pipeline that failed.
Let me investigate it more.

[2021-11-02 08:48] cenit commented on #21060
@dg0yt thanks for helping me out diagnosing the issue

[2021-11-02 09:01] JackBoosY commented on #8444
@arsdever Both `ctype.h', `windbg.h` and `string.h` are provided by Windows 10 SDK. Please re-install the latest one.

Thanks.

[2021-11-02 09:29] GeorgeBarlow opened #21129 "[magnum] build failure - using arm64-osx"
**Host Environment**
- OS: macOS Monterey 12.0.1
- Compiler: Clang 13.0.0 arm64-apple-darwin21.1.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install --head magnum`

**Failure logs**
[code]

**Additional context**
Using an M1 Pro Mac, therefore using the arm64-osx triplet.

NOTE: USER ERROR IGNORE

[2021-11-02 09:42] #21129 closed

[2021-11-02 12:12] cenit commented on #21060
something very suspicious is going on
I cannot reproduce the issue anymore, not even on the "faulty" machine.
I don't know what happened during that run, unfortunately purging actions are very aggressive on that pipeline and so I cannot diagnose it more without reproducing the issue.

Closing the issue for now.
Thanks again @dg0yt for your time

[2021-11-02 12:12] arsdever commented on #8444
@JackBoosY did the trick. Thanks a lot.

[2021-11-02 14:04] CaeruleusAqua opened #21133 "[fcl] Update to 0.7.0 does not compile"
It seems that the doxygen usage is the problem, as it is generated in the source path.
There ist no flag to diable it in the cmake file.

See error below:

[code]

_Originally posted by @CaeruleusAqua in https://github.com/microsoft/vcpkg/issues/20917#issuecomment-957642129_

[2021-11-02 14:24] CaeruleusAqua commented on #21133
I created a quick patch:

[code]

[2021-11-02 15:52] dg0yt commented on #21133
`-DCMAKE_DISABLE_FIND_PACKAGE_Doxygen=1`

[2021-11-02 15:55] CaeruleusAqua commented on #21133
Good to know ;-)

[2021-11-02 15:58] sexjun opened #21134 "Error: while detecting compiler information:"
Please create a discussion in https://github.com/microsoft/vcpkg/discussions/new instead.

when i run command : `vcpkg install xxx` , i get error like below:
[code]

[2021-11-02 17:17] Sariaki commented on #21006
I tried looked into my visual studio installer and it said i only have the windows sdk 10.0.19041.0 installed, installing 10.0.20348.0 didn't change anything.
I'm beginning to suspect that this issue is somehow being caused by me installing and uninstalling visual studio 2022 a while back, since i remember using vcpkg at one point before.

[2021-11-02 18:51] calvinho-ms opened #21138 "[zipper] build failure"
**Host Environment**
- OS: Ubuntu 20.04
- Compiler: GNU 9.3.0

**To Reproduce**
Steps to reproduce the behavior:
./vcpkg --triplet x64-linux install zipper

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
    zipper[core]:x64-linux -> 1.0.3
Detecting compiler hash for triplet x64-linux...
Could not locate cached archive: /home/user/.cache/vcpkg/a

[2021-11-02 18:57] #21091 closed

[2021-11-02 18:58] #21003 closed

[2021-11-02 20:09] dg0yt commented on #21138
There is no port zipper here.

[2021-11-02 20:43] aminya commented on #21072
As I said I used vcpkg with its CMake toolchain. I used the standalone LLVM compiler.

Here is the version of vcpkg:
[code]
The clang version:
[code]
The CMake version:
[code]

The **UNUSED** visual studio version:
[code]

[2021-11-02 20:58] aminya commented on #21072
Here is the reproduction:
[openblas-issue.zip](https://github.com/microsoft/vcpkg/files/7463968/openblas-issue.zip)

You can invoke the bug by running this:
[code]

[2021-11-02 22:29] calvinho-ms opened #21141 "WIL-config.cmake should be named wil-config.cmake"
**Describe the bug**
According to [https://cmake.org/cmake/help/latest/command/find_package.html#search-procedure](https://cmake.org/cmake/help/latest/command/find_package.html#search-procedure), _"CMake searches for a file called \<lowercasePackageName\>-config.cmake or \<PackageName\>Config.cmake."_

Instead of naming the file WIL-config.cmake, I think it should be wil-config.cmake.

**Environme

[2021-11-02 22:33] calvinho-ms commented on #21141
Sorry the port is not here.

[2021-11-02 22:33] calvinho-ms commented on #21138
Sorry the port is not here.

[2021-11-02 22:33] #21138 closed

[2021-11-02 22:58] mprather opened #21142 "bootstrap compilation failure on RPi OS"
**Describe the bug**
As of 5bdb9d60123df20c247a1654e6a1def51d6c5140, the bootstrap compilation process fails on RPi OS.

**Environment**
- OS: Raspberry OS (Linux ci 5.10.17-v7+ #1414 SMP Fri Apr 30 13:18:35 BST 2021 armv7l GNU/Linux)
- Compiler: gcc 8.3.1

**To Reproduce**
Steps to reproduce the behavior:
1. clone vcpkg
2. run ./bootstrap-vcpkg.sh

Result:
the bootstrap is unable to complete comp

[2021-11-02 23:08] isaactorz commented on #20982
Confirm update has fixed this issue.

[2021-11-02 23:35] BillyONeal commented on #20982
Thanks!

[2021-11-03 00:49] bo-wu opened #21146 "[openblas:arm64-uwp\openblas:arm-uwp] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: MSVC 2019

**To Reproduce**
Steps to reproduce the behavior:
` .\vcpkg\vcpkg.exe install openblas:arm64-uwp`

**Failure logs**

Please ensure you're using the latest portfiles with `git pull` and `.\vcpkg update`, then
submit an issue at https://github.com/Microsoft/vcpkg/issues including:
  package: openblas[core]:arm64-uwp -> 0.3.15
  vcpkg versi

[2021-11-03 00:54] ITotalJustice opened #21148 "Failed to build sdl2:x64-linux on fedora"
**Describe the bug**
sdl2:x64-linux fails to build, this is using the latest vcpkg

**Environment**
- OS: [Linux]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install sdl2
2. See error
Repro code when

**Expected behavior**
A clear and concise description of what you expected to happen.

**Failure logs**
-(please attached failure logs)
[config-x64-linux-dbg-er

[2021-11-03 01:50] PhoebeHui commented on #21006
It looks your environment is broken, I suggest you uninstall all windows sdks, and only install the latest windows sdk that provided by VS installer and try again.

[2021-11-03 02:44] PhoebeHui commented on #21142
@BillyONeal, could you please take a look? I looks a vcpkg bug, however, I don't have that environment to double confirm this issue locally.

[2021-11-03 03:06] Cheney-W commented on #21126
Thanks for reporting this issue to us! Could you please provide us with the `I:\vcpkg\buildtrees\osgearth\install-x64-windows-dbg-out.log` file?

[2021-11-03 03:55] #20238 closed

[2021-11-03 03:57] moshilgc opened #21150 "[New Port Request] libgda"
Library name:   libgda
Library description:
     GNU Data Access (GDA) is an attempt to provide uniform access to different kinds of data sources (databases, information
servers, mail spools, etc). It is a complete architecture that provides all you need to access your data.
Source repository URL:
     https://github.com/GNOME/libgda/tree/LIBGDA_6.0
Project homepage (if different from the source r

[2021-11-03 04:14] bo-wu commented on #21146
Hello @Cheney-W ,

One more thing, the failure is not only on community-triplet arm64-uwp, but also same on the built-in triplet arm-uwp.

Thanks advance for solving the problem.

[2021-11-03 05:44] JackBoosY commented on #21038
I don’t know why your generated fc-cache depends on fontconfig-1.dll, we need more in-depth investigation.

[2021-11-03 06:03] JonLiu1993 commented on #21134
@sexjun ,Thanks for posting this issue, please provide the error log:
[code]

[2021-11-03 06:17] JackBoosY commented on #21141
Yes I confirmed.
According to the `https://cmake.org/cmake/help/latest/command/find_package.html#id6`:
[code]

[2021-11-03 06:22] BillyONeal commented on #21142
Yeah now that we are doing binary releases on all the main platforms building from source is going to get progressively more annoying.... which is half the point of wanting to do those binary releases (so that we can use real dependencies).

[2021-11-03 06:59] JackBoosY commented on #21038
@Neumann-A Can you please take a look?
I confirmed `fc-cache.exe` requires `fontconfig-1.dll` and this dll not exist in the executable path.
The meson config is in _fc-cache/meson.build_ line 10:
[code]
But I can't repro this issue.

[2021-11-03 07:08] JackBoosY commented on #20788
Close this issue as solved.

[2021-11-03 07:08] #20788 closed

[2021-11-03 07:58] #21057 closed

[2021-11-03 08:28] NancyLi1013 commented on #21148
Hi @ITotalJustice Thanks for posting this issue.

[code]
Seems you installed `x11 `on your machine. Could you please try to install `libxext-dev` to rebuild this?

Of course, we may consider adding `x11 `as a feature for `sdl2`.

[2021-11-03 08:53] JonLiu1993 commented on #20945
@silverqx ,I used the latest vcpkg to try to reproduce this error again. I was surprised to find that this problem seems to no longer exist in the latest vcpkg. Can you try it with the latest vcpkg locally?

[2021-11-03 09:20] creativegamer03 commented on #19524
So this problem only happens when vcpkg is on a non-NTFS drive. will there be an update/fix to support such just in case a particular case (like mine) happens?

[2021-11-03 09:29] Chaoses-Ib opened #21154 "[opencv2] build failure"
**Host Environment**
- OS: Windows 10 21H2
- Compiler: MSVC 19.29.30038.1

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Failure logs**
[code]
config-x64-windows-out.log:
[code]
OpenCVUtils.cmake:
[code]

**Additional context**
One solution (from opencv4/[OpenCVUtils.cmake](https://github.com/opencv/opencv/blob/c703f1eed6c3da4f14b37cc151e03463bb4ff54f/cmake/OpenCVUtils.cmake)):
[code

[2021-11-03 10:39] silverqx commented on #20945
For me still reproducible `./vcpkg install libevent:x64-linux-dynamic`:
[install.log.zip](https://github.com/microsoft/vcpkg/files/7466917/install.log.zip)

[2021-11-03 10:53] cczls1991 opened #21158 "[CGAL] build failure"
**Describe the bug**
A clear and concise description of what the bug is.

**Environment**
- OS: Windows

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install CGAL

  package: boost-config[core]:x86-windows -> 1.77.0#2
  vcpkg version: 2021-11-02-af04ebf6274fd6f7a941bff4662b3955c64f6f42
  vcpkg-tool version: 7375bb408 2021-11-03 (3 hours ago)

[2021-11-03 10:54] silverqx commented on #20945
Did you try dynamic linkage on linux? @JonLiu1993

[2021-11-03 10:56] ivanstepanovftw opened #21159 "Case sensentive hash check - "File does not have expected hash""
**Describe the bug**
Hash is the same, but vcpkg performing case sensetive hash check:
[code]

**Environment**
- Github Actions
- OS: windows, ubuntu, macos
- Compiler: windows clang, ubuntu gcc, macos clang
- Shell: bash

**To Reproduce**
Steps to reproduce the behavior:
1. Cache and restore vcpkg folders using `actions/cache@v2`:
[code]
2. Run CMake configuration.

**Expected behavior**
Case ins

[2021-11-03 10:58] JonLiu1993 commented on #20945
of course

[2021-11-03 11:12] silverqx commented on #20945
For me it even fails with `libevent[thread]` or with `libevent[thread,openssl]`, so all possible cases fail because of that empty /bin dir, of course tried on master, but we have a good PR so it will be ok after merge.

[2021-11-03 11:30] dg0yt commented on #20945
From install.log.zip:
[code]

This is not the fixed port version.

[2021-11-03 11:35] Neumann-A opened #21160 "[gtest] fails to build for release only triplets"
Missing check to not touch files in `debug/lib/pkgconfig` if only release is build.

[2021-11-03 12:02] ITotalJustice commented on #21148
Thank you, installed libxext fixed my issue!

For anyone else that comes across this that has this problem on fedora, the command is `dnf install libXext-devel`

[2021-11-03 12:05] silverqx commented on #20945
And that is correct, it is still reproducible on the vcpkg master and the proposing PR will fix it. 😂

[2021-11-03 12:50] sexjun commented on #21134
I reInstall vcpkg for sloving this question, and the log lost, the question was sloved by reinstall.

I was run `git pull --rebase` on the folder of vcpkg . I suspect it was the order that caused it.

tks for tring help me.

[2021-11-03 13:38] haptiq-darko opened #21161 "[opencascade] Bump version 7.5.0 -> 7.6.0"
There is an official 7.6.0 release. The current package is based on 7.5.0. We want to use the lates version of opencascade lib.

**Is your feature request related to a problem? Please describe.**
When we export OCCT shape to glTF we get bunch of unmerged primitves.

**Proposed solution**
OCCT 7.6.0 adds a functionality to merge primitives as well as many other [improvements and features](https://d

[2021-11-03 13:50] cenit commented on #21060
Reopening: I found the culprit
Visual Studio 2022 Preview.

Using that compiler revision, CMakeGNUtoMS is broken. Probably because here https://github.com/Kitware/CMake/blob/master/Modules/Platform/Windows-GNU.cmake VS 17 is still not considered at all...

[2021-11-03 14:42] robertobernabe opened #21163 "[vcpkg-tool] x-download Downloading files with extra headers (basic auth) returns error 2"
**Describe the bug**
Hi there! I need your help. We're getting strange download errors since we switched from latest release tag (2021.05) to the latest master in vcpkg. This applies only to Windows Server 2016. On newer Windows version this doesn't happen.

The crazy thing here...when i'm executing the curl command itself it works...but executed trough vcpkg (vcpkg x-download command) it fails.
I

[2021-11-03 14:45] holmescn commented on #20844
today upgrade to latest master branch:

1. VCPKG_DETECTED_CMAKE_HOST_SYSTEM_VERSION is added
2. changed to arg_BUILD_TRIPLET
3. changed to configure_env style
4. use string append instead of list append

[2021-11-03 15:40] Fedr opened #21164 "Mesa build failure"
**Host Environment**
- OS: Windows
- Compiler: Visual Studio 2019 16.11.2

**To Reproduce**
`vcpkg install mesa --triplet=x64-windows`

**Failure logs**
[code]

**Additional context**
Vcpkg folder after the failed installation weights 123Gb, is it ok? (More available disk space is still present).

[2021-11-03 15:51] cenit commented on #21060
Merge request on upstream cmake already finished:
https://gitlab.kitware.com/cmake/cmake/-/merge_requests/6695

will be merged soon!

[2021-11-03 15:58] yuriy-odonnell-epic commented on #17448
The [CMake issue](https://gitlab.kitware.com/cmake/cmake/-/issues/22743) was addressed after all. The dummy python alias (`AppInstallerPythonRedirector`) is explicitly banned. Theoretically, other store apps should work in the future CMake release.

[2021-11-03 17:37] beardbox opened #21169 "[<colmap>] build failure"
**Host Environment**
- OS: windows 10
- Compiler: visual studio 2019

**To Reproduce**
Steps to reproduce the behavior:
.\vcpkg install colmap[cuda,tests]:x64-windows

**Failure logs**
Error: Building package openblas:x64-windows failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `git pull` and `.\vcpkg update`, then
submit an issue at https://github.com/Microsoft/vcpkg

[2021-11-03 17:45] Darkshadows9 commented on #21038
If there's anything I can do to help the investigation, just let me know. 🙂

[2021-11-03 19:14] Neumann-A commented on #21038
the dep on fontconfig-1.dll is normal. The question is rather why it cannot find the dll. Normally meson should setup the path variable accordingly

[code]

[2021-11-03 19:33] Neumann-A commented on #21038
Check if `C:\vcpkg\buildtrees\fontconfig\x64-windows-rel\src` contains `fontconfig-1.dll`

[2021-11-03 21:41] fabiencastan opened #21176 "[polyclipping] build failure: windows release-only"
**Host Environment**
- OS: Windows
- Compiler: MSVC

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install --triplet x64-windows-release polyclipping`
Using the `triplets\community\x64-windows-release.cmake`

**Failure logs**
[code]

**Additional context**
https://github.com/microsoft/vcpkg/commit/d8b9fa9a535de1d3b4effe8fca5c18f573af88e8#r59364968

[2021-11-03 21:48] alexreinking commented on #19797
@JackBoosY - it looks like the Halide port is going to be updated in #20749... it would be nice to get this fixed at the same time. What is the agreed-upon resolution? Re-add `set(VCPKG_POLICY_EMPTY_PACKAGE enabled)` and set `-DHalide_INSTALL_PLUGINDIR=plugins/${PORT}`?

[2021-11-03 22:15] jeffkohn-swi commented on #21077
Please merge linked PR, I'm dead in the water until this is fixed since I need to use some libraries that depend on abseil.

[2021-11-04 01:29] Darkshadows9 commented on #21038
That directory does contain fontconfig-1.dll.

[2021-11-04 02:06] NancyLi1013 commented on #21148
Thanks for your information. I think we also need to fix this. I will submit a PR to add `x11` as feature and add some messages to reminder users to install these system libraries. So please keep this issue open until there is a PR fixing this.

[2021-11-04 02:52] #21134 closed

[2021-11-04 02:53] JackBoosY commented on #21163
Can't reproduce this issue using the following sample command:
[code]

[2021-11-04 02:56] JackBoosY commented on #21163
Can you please add `--x-cmake-args=--trace-expand` to the `x-download` command, run it and provide the output?

Thanks.

[2021-11-04 03:09] BillyONeal commented on #21163
Curl error 1 is "unsupported protocol" but the protocol is clearly https here..... does your server 2016 system have a proxy configured? We attempt to get curl to use the same proxy servers that WinHTTP would use by setting HTTP_PROXY and HTTPS_PROXY environment variables...

[2021-11-04 04:20] cjdb opened #21183 "[New Port Request] mdspan"
Library name: mdspan

Library description: A non-owning multi-dimensional array reference type.

Source repository URL: https://github.com/kokkos/mdspan

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2021-11-04 04:45] #21021 closed

[2021-11-04 05:53] NancyLi1013 commented on #21183
Related PR #21170

[2021-11-04 06:24] JonLiu1993 commented on #21158
@cczls1991 ,Thanks for your issue, could you explain your problem or provide a specific error log?

[2021-11-04 06:31] NancyLi1013 commented on #21169
Hi @beardbox

Thanks for posting this issue.

Could you please help provide the detailed error info or the error log here?

[2021-11-04 07:13] robertobernabe commented on #21163
@JackBoosY without adding any basic authentication headers it works. As soon as i add `--header="Authorization: Basic ******"` if fails - ONLY on Windows Server 2016! It works on Windows Server 2019/ Windows 10.

[2021-11-04 07:20] lewulewu opened #21185 "[sentencepiece]build failure"
Computing installation plan...
The following packages will be built and installed:
    sentencepiece[core]:x64-osx -> 0.1.95#1
Detecting compiler hash for triplet x64-osx...
Restored 0 packages from /Users/***/.cache/vcpkg/archives in 46.46 us. Use --debug to see more details.
Starting package 1/1: sentencepiece:x64-osx
Building package sentencepiece[core]:x64-osx...
-- Using cached google-sentenc

[2021-11-04 07:30] JonLiu1993 commented on #21185
@lewulewu ,Thanks for posting this issue,you have to install pkg-config via brew with brew install pkg-config as suggested in the error message ;)

[2021-11-04 07:34] JonLiu1993 commented on #21154
@Chaoses-Ib ,Thanks for posting this issue,I can install opencv2:x64-windows successfully, could you please re-clone a vcpkg in a non-C drive and try it
[code]

[2021-11-04 07:43] robertobernabe commented on #21163
I've found the root cause. `vcpkg x-download` relies on system-wide curl installation. Since curl is shipped starting on Windows 2019, and we are using Windows 2016 - lucky me.
After installing `curl` manually and adding it to the `PATH` env variable - it worked.
Unfortunately Windows Server 2016 ships with a curl alias in PowerShell - so that was the reason why it worked without passing in any he

[2021-11-04 07:44] nanhuayu opened #21186 "[python3:x64-mingw-dynamic] build failure"
**Host Environment**
- OS: Windows 10 21H1 19043.1288
- Compiler: visual studio 2019 Community: C/C++ Optimizing Compiler Version 19.29.30136 for x64

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install python3:x64-mingw-dynamic`

**Failure logs**
-Cut and past the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console

[2021-11-04 07:49] mirostauder opened #21187 "7zip - [tool] feature build missing?"
default 7zip build is [core] and builds only the 7zip.dll

I don't see a way to build the 7zip.exe - no [tool] feature is present

[2021-11-04 08:01] Chaoses-Ib commented on #21154
It is not a matter of C-drive, but of "++". Look at this line from ocv_include_directories in OpenCVUtils.cmake:
[code]
This is an incorrect way to match a path since many characters are used as meta characters in regular expressions, like `^.[]+()`. Many directory names can lead to an error, such as `[2021-11-4]project`, `project (temp)` and `C++ project`.

One solution is to do what opencv4 does

[2021-11-04 08:17] Stevenliu520 commented on #20543
I have same problem

[2021-11-04 09:01] JackBoosY commented on #21154
According to the cmake `https://cmake.org/cmake/help/latest/command/string.html#regex-specification`,  all special characters such as `+`, `.`, `^`, `?`, etc. should be prefixed with `\`.

Since this is a path and use cmake keyword `MATCHES`, I'm not sure whether it's a cmake bug.
I will report this to cmake later.

[2021-11-04 09:08] JackBoosY commented on #21154
Already report to cmake: https://gitlab.kitware.com/cmake/cmake/-/issues/22854.

[2021-11-04 09:09] NancyLi1013 commented on #21176
Hi @fabiencastan

Thanks for posting this issue. This has fixed by PR #21023. Please try to update to the latest vcpkg to rebuild this.

[2021-11-04 09:09] #21176 closed

[2021-11-04 09:14] NancyLi1013 commented on #21128
Hi @gaoshiping

Thanks for posting this issue. Since currently `sentencepiece ` only supports static CRT linkage. The problem you encountered is expected.

https://github.com/microsoft/vcpkg/blob/40a0fb232833dbc1b526394929f10b71627c2269/ports/sentencepiece/portfile.cmake#L1-L3

[2021-11-04 09:23] JackBoosY commented on #21154
Temporary solution:
Replace `if("${__abs_dir}" MATCHES "^${OpenCV_SOURCE_DIR}" OR "${__abs_dir}" MATCHES "^${OpenCV_BINARY_DIR}")` with the following code:
[code]

[2021-11-04 09:25] JackBoosY commented on #20543
@Stevenliu520 Please provide the failure log first.

[2021-11-04 10:10] Chaoses-Ib commented on #21154
The related issue in opencv: https://github.com/opencv/opencv/issues/6046
It was marked `wontfix` but in fact it was fixed in https://github.com/opencv/opencv/commit/b640e728777d92157d6d6d9b422d2c9d19423442

[2021-11-04 10:10] dg0yt commented on #21154
It is not a cmake bug. If you call `MATCHES`, you are responsible to provide a valid regular expression. A plain file path is not suitable and special regex characters must be escaped by the user.

[2021-11-04 10:12] fabiencastan commented on #21176
Thanks!

[2021-11-04 10:18] dg0yt commented on #20844
Don't you want to open a *draft* PR?

[2021-11-04 12:29] vishnucool220 opened #21189 "VCPKG fails to install on linux/Arm/V7 due Value too large for defined data type."
When i tried build my c++ program inside my docker. VCPKG fails to install. because of  `get_regular_files_recursive(/root/.cache/vcpkg/registries/git-trees/b79091461891cef2671af33c4ef236d517b12d55): Value too large for defined data type
`

**Environment**
- OS: Linux
- Compiler: GCC 10/G++ 10
-CMake: 3.21

**To Reproduce**
Steps to reproduce the behavior:
Run cmake project on arm/v7.

RUN cmake -

[2021-11-04 12:42] daiybh opened #21190 "[nanodbc] I want build it for win7, need pass a cmake param " -DNANODBC_DISABLE_ASYNC=1""
****

**Is your feature request related to a problem? Please describe.**

if use lastVersion builded , and can not run it on win7.
there is a  solution [link](https://github.com/nanodbc/nanodbc/issues/89#issuecomment-748075493)

**Proposed solution**
as the [link]() say ,just need pass  -DNANODBC_DISABLE_ASYNC=1 to CMake ,will be fixed it.

so I want to know:

1 when use `vcpkg install nanodbc:x86

[2021-11-04 17:46] #21133 closed

[2021-11-04 17:47] #21077 closed

[2021-11-04 18:25] m-kuhn commented on #20844
Great idea.
I failed to build libiconv for x64-android (works on the [branch listed above](https://github.com/opengisch/vcpkg/tree/configure_make)), a discussion related to this implementation would be much better located in the context of a PR.

[2021-11-04 18:51] AlexLeungZ opened #21195 "[vtk[core]:x64-linux] build failure"
**Host Environment**
- OS: Ubuntu 20.04.3 LTS on Windows 10 x86_64 (WSL)
- Compiler: g++ (Ubuntu 11.1.0-1ubuntu1~20.04) 11.1.0
- CMake version: cmake version 3.21.2

**To Reproduce**
Steps to reproduce the behavior:
`git clone https://github.com/microsoft/vcpkg`
`sudo ./vcpkg/bootstrap-vcpkg.sh`
`sudo vcpkg/vcpkg integrate install`
then hit build with vscode's cmake extension

**vcpkg.json**
[code

[2021-11-04 20:53] Neumann-A commented on #21160
closed by #21023

[2021-11-04 20:53] #21160 closed

[2021-11-04 21:14] craigstjean opened #21196 "[cppzmq] build failure - download hash matches but is wrong case"
**Host Environment**
- OS: Windows

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install cppzmq`

**Failure logs**

    Starting package 1/1: cppzmq:x86-windows
    Building package cppzmq[core]:x86-windows...
    CMake Error at scripts/cmake/vcpkg_download_distfile.cmake:73 (message):

    File does not have expected hash:

          File path: [ C:/tools/vcpkg/downloads/zeromq-cppz

[2021-11-05 02:35] holmescn commented on #20844
@dg0yt Yes, but, I cannot find how to make a draft PR. I remember that it was mentioned in the issue template but cannot find it. (shame)

[2021-11-05 02:42] JackBoosY commented on #21190
@daiybh Please download and uzip [this file](https://github.com/microsoft/vcpkg/files/7480117/nanodbc-custom.zip), put it to a custom folder, then use feature overlay-port.
See [document ](https://github.com/microsoft/vcpkg/blob/master/docs/specifications/ports-overlay.md)([chinese doc](https://www.cnblogs.com/vcpkg/p/15019942.html)).

[2021-11-05 02:42] holmescn commented on #20844
If you check the `config-x64-android-dbg-out.log` under `<VCPKG_ROOT>/buildtrees/libiconv`, and it said gcc not works, please set:

    export PATH=$ANDROID_NDK_HOME/toolchains/llvm/prebuilt/linux-x86_64/bin:$PATH

since I did not configure the PATH inside `vcpkg_configure_make.cmake`. If is shown other errors, please post your config-* files here. libiconv is fine here.

[2021-11-05 02:44] autoantwort commented on #21196
Would be fixed by #21157

[2021-11-05 02:58] autoantwort opened #21198 "`vcpkg_cmake_configure` does not change the cwd on windows"
While working on #21168 the following was detected:
It seems that `vcpkg_cmake_configure` does not change the cwd in contrast to `vcpkg_configure_cmake` on windows.
The line `file(MAKE_DIRECTORY generated)` generates the following error on windows but not on other platforms:
[code]

[2021-11-05 03:05] JackBoosY commented on #21198
@strega-nil-ms can you please take a look?

I met this error again.

[2021-11-05 05:45] JackBoosY commented on #13614
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-11-05 05:45] #13614 closed

[2021-11-05 05:48] JackBoosY commented on #19205
See https://github.com/microsoft/vcpkg/blob/bec883fef498206f05b20bc0a4ba241637657dba/docs/users/config-environment.md#vcpkg_max_concurrency.

[2021-11-05 05:48] JackBoosY commented on #19526
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-11-05 05:48] #19526 closed

[2021-11-05 05:49] JackBoosY commented on #19591
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-11-05 05:49] #19591 closed

[2021-11-05 05:49] JackBoosY commented on #19681
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-11-05 05:49] #19681 closed

[2021-11-05 05:51] JackBoosY commented on #19995
Anyway, please track the PR.

[2021-11-05 05:51] #19995 closed

[2021-11-05 05:52] JackBoosY commented on #20085
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-11-05 05:52] #20085 closed

[2021-11-05 05:53] JackBoosY commented on #20425
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-11-05 05:53] #20425 closed

[2021-11-05 05:58] JackBoosY commented on #20476
Anyway, I think this is not related to vcpkg.

[2021-11-05 05:58] #20476 closed

[2021-11-05 05:59] JackBoosY commented on #20482
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-11-05 05:59] #20482 closed

[2021-11-05 06:00] JackBoosY commented on #18118
We don't have enough information to solve this issue, unfortunately; if you have any more information to help us solve this, please reopen!

[2021-11-05 06:00] #18118 closed

[2021-11-05 06:01] JackBoosY commented on #19210
We don't have enough information to solve this issue, unfortunately; if you have any more information to help us solve this, please reopen!

[2021-11-05 06:01] #19210 closed

[2021-11-05 06:01] JackBoosY commented on #20323
We don't have enough information to solve this issue, unfortunately; if you have any more information to help us solve this, please reopen!

[2021-11-05 06:03] JackBoosY commented on #20696
Ping @Osyotr for response.

[2021-11-05 06:03] JackBoosY commented on #20712
We don't have enough information to solve this issue, unfortunately; if you have any more information to help us solve this, please reopen!

[2021-11-05 06:03] #20712 closed

[2021-11-05 06:06] JackBoosY commented on #11992
Now, the bootstrap script will download vcpkg pre-build binary instead.

[2021-11-05 06:06] #11992 closed

[2021-11-05 06:06] NancyLi1013 commented on #21195
Hi @AlexLeungZ

Thanks for posting this issue.

From install-x64-linux-dbg-out.log, we found this:

[code]

Seems  like a bug in `vtk`, <limits.h> is required.

please see https://discourse.vtk.org/t/compilation-error-include-limits-required-in-several-files/6496.

https://gitlab.kitware.com/vtk/vtk/-/merge_requests/7611

[2021-11-05 06:20] JackBoosY commented on #13516
We haven't been able to repro this; if more information comes up, or this issue appears again, please reopen.

[2021-11-05 06:20] #13516 closed

[2021-11-05 06:21] JackBoosY commented on #14424
We haven't been able to repro this; if more information comes up, or this issue appears again, please reopen.

[2021-11-05 06:21] #14424 closed

[2021-11-05 06:22] JackBoosY commented on #14431
We haven't been able to repro this; if more information comes up, or this issue appears again, please reopen.

[2021-11-05 06:22] #14431 closed

[2021-11-05 06:22] JackBoosY commented on #14902
We haven't been able to repro this; if more information comes up, or this issue appears again, please reopen.

[2021-11-05 06:22] #14902 closed

[2021-11-05 06:24] JackBoosY commented on #16046
We haven't been able to repro this; if more information comes up, or this issue appears again, please reopen.

[2021-11-05 06:24] #16046 closed

[2021-11-05 06:25] JackBoosY commented on #17039
We haven't been able to repro this; if more information comes up, or this issue appears again, please reopen.

[2021-11-05 06:25] #17039 closed

[2021-11-05 06:27] JackBoosY commented on #17514
Ping @strega-nil-ms for response.

[2021-11-05 06:29] JackBoosY commented on #18481
We haven't been able to repro this; if more information comes up, or this issue appears again, please reopen.

[2021-11-05 06:29] #18481 closed

[2021-11-05 06:31] JackBoosY commented on #19213
We haven't been able to repro this; if more information comes up, or this issue appears again, please reopen.

[2021-11-05 06:31] #19213 closed

[2021-11-05 06:33] JackBoosY commented on #20419
We haven't been able to repro this; if more information comes up, or this issue appears again, please reopen.

[2021-11-05 06:33] #20419 closed

[2021-11-05 06:40] dg0yt commented on #20844
One way to start a PR is the "Create new PR" button on the PR list, and then "Compare across forks". Note that there is also a help button. I can even give you the links for the two forks:

https://github.com/microsoft/vcpkg/compare/master...holmescn:fix-android-ndk-r23

https://github.com/microsoft/vcpkg/compare/master...opengisch:configure-make

Just remember to change the button state to "Creat

[2021-11-05 07:06] NancyLi1013 commented on #20823
Closing this issue for now, please feel free if it is still a problem for you.

[2021-11-05 07:06] #20823 closed

[2021-11-05 07:12] NancyLi1013 commented on #20514
Closing this issue for now, please feel free to reopen this issue if it is still a problem for you.

[2021-11-05 07:12] #20514 closed

[2021-11-05 07:20] robertobernabe commented on #21163
@BillyONeal You're right - it has nothing to do with the PowerShell alias.

For me, it looks like that curl gets only invoked if I pass in extra headers.

[2021-11-05 07:24] #19016 closed

[2021-11-05 07:39] NancyLi1013 commented on #20367
Do you use xcode 12 on your machine?

`../src/480391f31f-4c049f225c.clean/pango/pangofc-fontmap.c:2659:10: error: implicit declaration of function 'FcWeightToOpenTypeDouble' is invalid in C99 [-Werror,-Wimplicit-function-declaration]`

Seems like this is a known issue in xcode12.

https://trac.macports.org/ticket/61629

[2021-11-05 07:42] NancyLi1013 commented on #19669
Is this still a problem for your now? @SamuelMarks

[2021-11-05 07:45] AlexLeungZ commented on #21195
@NancyLi1013
where should I add those headers,
as every time I added the `#include <limits>` at those files, such as
/mnt/d/Git/GitHub/vtk-test/vcpkg/buildtrees/vtk/src/edd2e5233f-f32830fbf2.clean/Common/Core/vtkGenericDataArrayLookupHelper.h
It will just undo all my changes and gives out the same error

[2021-11-05 07:56] NancyLi1013 commented on #21071
Considering this is an upstream behavior. We prefer to expect the behavior designed by upstream. So please report this to upstream.

[2021-11-05 07:56] #21071 closed

[2021-11-05 08:03] NancyLi1013 commented on #20547
Sorry for the late response. I noticed you have tried to reinstalled SDK 10 and Visual Studio, but it still failed with the same error.

Sorry, I also have no idea about this. So you cannot install any ports on your machine, right?

May be you can try another suggestion like this. Uninstall Windows SDK 10 and Visual Studio at the same time and then install them again. please try to clone vcpkg to

[2021-11-05 08:09] NancyLi1013 commented on #18959
Closing this issue for now seems there is no any concern.

[2021-11-05 08:09] #18959 closed

[2021-11-05 08:11] #18155 closed

[2021-11-05 08:23] LowLevelMahn opened #21201 "[pcre] build failure"
**Host Environment**
Win10 x64/VS2019 (latest version as of 5.11.2021)
vcpkg git

**To Reproduce**
Steps to reproduce the behavior:
[code]
vcpkg tries to use the old pcre download-server: https://ftp.pcre.org/pub/pcre/pcre-8.45.zip

i first thought it was language pack related, but it even don't work with english language pack installed

**Failure logs**
[code]

so the server is not reachable as s

[2021-11-05 08:27] Osyotr commented on #20696
Closing as not really an issue.

[2021-11-05 08:27] #20696 closed

[2021-11-05 08:43] NancyLi1013 commented on #17582
Hi @deciobarrosjr

Sorry for the long delay. Could you please try to remove `pthreads `to rebuild this? If still failed, please try to use `find_package(pthreads REQUIRED)` to rebuild.

https://github.com/microsoft/vcpkg/blob/8acb35e27fc52c183e8f450346a073ea1bbce888/ports/libwebsockets/fix-build-error.patch#L10

[2021-11-05 08:47] NancyLi1013 commented on #21201
Hi @LowLevelMahn

Thanks for posting this issue.

Seems `pcre `server is broken now. https://ftp.pcre.org

[2021-11-05 08:48] NancyLi1013 commented on #21201
We might consider using https://sourceforge.net/projects/pcre/ to down source codes for `pcre`.

[2021-11-05 08:54] #9614 closed

[2021-11-05 09:01] xarthurx commented on #4930
@JackBoosY  May I ask where does it say it needs fortran?

https://gitlab.onelab.info/gmsh/gmsh/-/tree/gmsh_4_8_4
It seems this lib can be just build as a standard lib and linked?

[2021-11-05 09:01] xarthurx commented on #4930
Stable now is 4.8.4.

[2021-11-05 09:12] Cheney-W commented on #21154
https://github.com/opencv/opencv/commit/b640e728777d92157d6d6d9b422d2c9d19423442 does not fix this issue.

[2021-11-05 09:29] NancyLi1013 commented on #4930
You can create a PR to add this port if possible. @xarthurx

[2021-11-05 09:38] ThomasWilshaw commented on #20476
Okay, well thanks everyone for all your help :) I'll post back here if I fond a solution or have any meaningful updates in case anyone else has the same issue.

[2021-11-05 09:40] NancyLi1013 commented on #19619
Hi @ssh4net

Did you encounter the problem like this?

`F:\openimageoio\vcpkg\buildtrees\openimageio\src\a25d056cb0-36fa00c6d2\src\python\py_oiio.cpp(77): error C3861: 'ssize_t': identifier not found`

If yes, please open a new issue to report this problem. Since this is not the same issue with the original one.

@OlivierArgentieri

Sorry for the long delay. I will check this again on my machine a

[2021-11-05 09:48] Chaoses-Ib commented on #21154
Sorry, it should be https://github.com/opencv/opencv/commit/82aff110b7e53cb2ee9ecefc2c1f977c2b7efbf8, which changed
[code]
to
[code]

[2021-11-05 10:09] Cheney-W commented on #21154
Thanks for your reply! This issue was indeed fixed by the second change.

[2021-11-05 10:54] sfhacker commented on #21198
@JackBoosY Which (online) translator have you been using so far? We would like to try it out! [1]
Cheers.

[1] https://english-for-chinese.blogspot.com/2008/06/and-meet-problem.html

[2021-11-05 12:31] j-horner-c4x opened #21203 "Cannot find Powershell when building with VS 2019 and manifest file."
**Describe the bug**
Building with Visual Studio with `vcpkg` as a submodule and manifest `vcpkg.json` file fails with the error:
[code]

**Environment**
- OS: Windows 10 Pro, Version 20H2, OS build 19042.1288, Windows Feature Experience Pack 120.2212.3920.0
- Compiler: Visual Studio 2019 Professional 16.10.4
- Installed components:
    - Desktop development with C++
    - Linux development with C

[2021-11-05 13:10] LowLevelMahn commented on #21201
use wget -L "https://sourceforge.net/projects/pcre/files/pcre/8.45/pcre-8.45.zip" to download sourceforge files - there is a htpp redirect behind this filename

[2021-11-05 13:29] autoantwort commented on #20367
Yes I used xcode 12, I now use xcode 13 and get a new error:
[code]

[2021-11-05 13:33] j-horner-c4x commented on #21203
Doing the following did not fix the issue:

- Removing `vcpkg.json`
- Manually running `bootstrap-vcpkg.bat -disableMetrics` on a separate `vcpkg` copy and using that instead.

So far the only fix I've found is to remove the following from `CMakePresets.json`:
[code]

[2021-11-05 13:44] daiybh commented on #21190
Thanks. so need  custom a new port ,but can not pass it from  vcpkg.json.

[2021-11-05 13:44] #21190 closed

[2021-11-05 13:57] ycj1124 opened #21205 "Error: Building package libconfig:x64-windows failed with: BUILD_FAILED"
**Host Environment**
- OS: e.g. Windows
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install libconfig:x64-windows`

**Failure logs**
Error: Building package libconfig:x64-windows failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `git pull` and `.\vcpkg update`, then
submit an issue at https://github.com/Microsoft/vcpkg/issues includ

[2021-11-05 13:58] ycj1124 commented on #21205
![error](https://user-images.githubusercontent.com/55937464/140522085-0081c38a-c5d0-4452-a722-cdda2a01d52f.png)
the whole process is like this

[2021-11-05 15:58] Sariaki commented on #21006
this fixed it, thank you!

[2021-11-05 16:03] Fenrirthviti commented on #14902
No worries, it was replicable 100% on my system, so if it's still an issue and I end up having time to go back to that project I will follow up, I have just not had the time to devote to setting this build environment back up. Thanks everyone for their time and efforts.

[2021-11-05 17:03] autoantwort commented on #21205
Please attach the mentioned log files

[2021-11-05 18:27] BillyONeal commented on #21163
Ah, maybe the WinHTTP backend doesn't understand extra headers, that would do it

[2021-11-05 19:21] jerinphilip commented on #21201
This is also an issue with the pcre2 port, which relies on the FTP server.

[2021-11-05 19:55] Spejik opened #21210 "[New Port Request] Luau (Lua with types)"
Library name: Luau

Library description:
An extension to Lua, that adds types, and many more features that are listed on the Luau website.

Source repository URL:
https://github.com/Roblox/luau

Project homepage (if different from the source repository):
https://luau-lang.org/

Anything else that is useful to know when adding (such as optional features the library may have that should be included)

[2021-11-05 19:55] romainaugier opened #21211 "[New Port Request] Open Shading Language"
Library name: Open Shading Language

Library description: Open Shading Language (OSL) is a small but rich language for programmable shading in advanced renderers and other applications, ideal for describing materials, lights, displacement, and pattern generation.

Source repository URL: https://github.com/AcademySoftwareFoundation/OpenShadingLanguage

[2021-11-05 20:00] #21124 closed

[2021-11-05 20:03] #21183 closed

[2021-11-05 21:22] dg0yt commented on #21201
@jerinphilip For pcre2, there is #21193, merged 1 hour ago.

[2021-11-05 21:23] #21159 closed

[2021-11-05 21:23] #21196 closed

[2021-11-05 21:28] #16406 closed

[2021-11-05 21:29] #20945 closed

[2021-11-05 22:28] mprather opened #21218 "vcpkg should work on Alpine linux"
**Describe the bug**
With the recent change (commit 5bdb9d60123df20c247a1654e6a1def51d6c5140) that incorporates a pre-built binary that is downloaded during the bootstrap process, the overall user experience is clunky/inconsistent when using vcpkg on Alpine linux

**Environment**
- OS: Alpine linux
- Arch: x86_64

**To Reproduce**
Steps to reproduce the behavior:
1. clone vcpkg
2. run bootstrap.sh

[2021-11-05 22:30] Kophejn opened #21219 "[pcl] build failure (realsense2 grabber related)"
**Host Environment**
- OS: WIndows 10
- package: pcl[core]:x64-windows -> 1.12.0
- vcpkg version: 2021-11-02-af04ebf6274fd6f7a941bff4662b3955c64f6f42
- vcpkg-tool version: f688b48b9 2021-11-05
- Cmake version: 3.21.4

**To Reproduce**
Steps to reproduce the behavior:
(Before PCL, librealsense must be build to reproduce problem.)
`./vcpkg install realsense2`
`./vcpkg install pcl[core]`

**Failure l

[2021-11-05 22:33] mingshi2333 commented on #2793
thanks

[2021-11-05 23:09] #19923 closed

[2021-11-05 23:09] #19949 closed

[2021-11-05 23:09] #19950 closed

[2021-11-05 23:12] #19864 closed

[2021-11-05 23:34] #21081 closed

[2021-11-06 01:02] A01351361 opened #21221 "[cgal] build failure"
**Host Environment**
- OS: [e.g. Windows/Linux etc...]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install cgal`

**Failure logs**
[code]
**Additional context**
package: gmp[core]:x86-windows -> 6.2.1#7
  vcpkg version: 2021-11-02-af04ebf6274fd6f7a941bff4662b3955c64f6f42
  vcpkg-tool version: 66c39e113 2021-11-05 (62 minutes ago)

[2021-11-06 01:11] genisispig commented on #21201
Using #21193, I am experiencing the following error with pcre2 file hash mismatch:

[code]

[2021-11-06 01:58] ycj1124 commented on #21205
[config-x64-windows-out.log](https://github.com/microsoft/vcpkg/files/7489613/config-x64-windows-out.log)
[stdout-x64-windows.log](https://github.com/microsoft/vcpkg/files/7489614/stdout-x64-windows.log)
[stdout-x64-windows.log](https://github.com/microsoft/vcpkg/files/7489615/stdout-x64-windows.log)
[x64-windows.vcpkg_abi_info.txt](https://github.com/microsoft/vcpkg/files/7489616/x64-windows.vcpk

[2021-11-06 02:01] holmescn commented on #20844
@dg0yt Ok, the draft PR is published at #21222.
I even don't know GitHub has this kind of feature, shame.

[2021-11-06 02:12] weibingrong opened #21223 "[<pcl[cuda]:x64-windows-static>] build failure"
**Host Environment**
- OS: [e.g. Windows/Linux etc...]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install xxxx`

**Failure logs**
-Cut and past the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

**Additional context**
Add any other context about the problem here, such as what you

[2021-11-06 02:23] weibingrong commented on #21223
Host Environment

OS: [Win10]
Compiler: VS2019
To Reproduce
Steps to reproduce the behavior:
./vcpkg install pcl[cuda]:x64-windows-static

Failure logs
CMake Error at scripts/cmake/vcpkg_fixup_pkgconfig.cmake:78 (message):

  D:/0temp/vcpkg/downloads/tools/msys2/aa5af7b2aa7e90e8/mingw32/bin/pkg-config.exe
  --exists pcl_cuda_features-1.12 failed with error code: 1

      ENV{PKG_CONFIG_PATH}: "D:/

[2021-11-06 02:26] JackBoos commented on #21221
Please clone vcpkg in a non-space path and try again.

[2021-11-06 02:28] JackBoos commented on #21219
[code]

cc @raahilsha-z

[2021-11-06 02:28] autoantwort commented on #21205
Look strange. Seems that it produces a internal compiler error.

[2021-11-06 02:29] JackBoos commented on #21223
Does `pcl_cuda_common-1.12.pc` exists in _D:/0temp/vcpkg/installed/x64-windows-static/lib/pkgconfig_ ?
cc @raahilsha-z

[2021-11-06 02:30] JackBoos commented on #21218
Seems the extract command failed.

[2021-11-06 02:36] ycj1124 commented on #21205
Sir,is there any possible method to fix the problem?I just want to download the libconfig library and I have been stuck by the problem for days.thank you very much!

[2021-11-06 02:39] weibingrong commented on #21223
No, there is no pcl_cuda_common-1.12.pc in the whole vcpkg directory

[2021-11-06 03:00] mprather commented on #21218
The file is downloaded successfully.  Here's a comparison of the file that is downloaded vs the one that was installed using the native package manager

[code]

Note the downloaded version shows a different interpreter than the system installed file.

[2021-11-06 03:01] JackBoos commented on #21223
Please keep this issue open.

[2021-11-06 03:07] beached commented on #18118
Sorry, I put this info into another related issue.  I found that the issue is that framwork header paths are taking priority over the ones specified in cmake/vcpkg.  In the case here, I was able to fix the issue by uninstalling Mono/VS Mac which included FontConfig that was not compatible.  This was the source of the missing declarations.  I couldn't find a way to remove frameworks from the search

[2021-11-06 04:21] WangZP10969 commented on #17662
After testing, this problem still exists in the master branch, but qhull can be used in pcl normally by using the following recovery scheme (the test convex hull calculation function is normal)
https://github.com/microsoft/vcpkg/pull/18855#issuecomment-961480058

[2021-11-06 04:44] cgmb opened #21224 "[lapack-reference] Cannot disable blas-select on Linux"
**Describe the bug**
On Linux, `USE_OPTIMIZED_BLAS=ON` [appears to always be set](https://github.com/microsoft/vcpkg/blob/66c39e113a348a6ae80419fae5a629b951b00f1a/ports/lapack-reference/portfile.cmake#L61) when using an external Fortran compiler, but it should only be true when using the blas-select or noblas features.

**Environment**
- OS: Linux (Ubuntu 18.04)
- Compiler: gfortran

**To Reproduc

[2021-11-06 07:45] dannypike opened #21226 "Please give at least one example in the vcpkg toolchain script for CMake"
This comment:
[code]
isn't very helpful to those of us who aren't fluent in how to "examine the source".

I've tried to understand the script but it's pretty obscure and convoluted and none of the things that I believe should have been exported by appropriate `set()` commands appear are defined when I try to use them in my CMakeLists.txt.

So, please would you expand this comment, perhaps with an

[2021-11-06 08:03] dannypike opened #21228 "[libnoise] is missing its config.cmake"
**Describe the bug**
There is no `libnoise-config.cmake` file for this port, so `find_package()` cannot find it.

**Environment**
- OS: Windows
- Compiler: Visual Studio 2019

**To Reproduce**
Add `find_package(libnoise CONFIG REQUIRED)` to your CMakeLists.txt file.

**Failure logs**
[code]

**Additional context**
The same syntax works for other ports, e.g. `libpng`

[2021-11-06 08:03] dg0yt commented on #21226
This sentence appears in the documentation of `vcpkg_configure_make`, a function to be used in portfiles (CMake script mode) for building packages based on autotools or similar. It has no effect on user projects (CMake project mode), or on portfiles for building packages based on CMake.

But maybe you can name the variables you are expecting to be set from vcpkg's cmake toolchain file, `vcpkg.cmak

[2021-11-06 08:04] kuriboshi opened #21229 "vcpkg tool fails to build on FreeBSD"
**Describe the bug**
Compilation of the `vcpkg` tool fails.

**Environment**
- OS: FreeBSD 13.0
- Compiler: FreeBSD clang version 11.0.1

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone https://github.com/microsoft/vcpkg-tool`
2. `cd vcpkg-tool`
2. `mkdir build`
3. `cd build`
4. `cmake ..`
5. `make`

**Expected behavior**
I expect the compilation to be successful.

**Failure logs**

[2021-11-06 08:08] dannypike commented on #21226
I don't know the names, that's why I'm looking through the file. It just seems to be a strange thing for a comment to say, along the lines of:

[code]

:)

[2021-11-06 08:29] dg0yt commented on #21226
Again, you are commenting the documentation of a maintainer function for dealing with autotools. Either you are happy to have a package which just works as expected, or you already know the common options (`--prefix`, `--target`), or you will dive into a much stranger world of autotools options, build scripts, and patches. So it is more along the lines of
[code]

At least it would help to mark `co

[2021-11-06 08:32] dannypike commented on #21226
OK, thanks.

I was only looking at the file, because I'm trying to find a way to get Visual Studio + CMake to be able to locate the `libnoise` _vcpkg_ package, as per [this ticket](https://github.com/microsoft/vcpkg/discussions/21227).

[2021-11-06 08:32] #21226 closed

[2021-11-06 08:34] #21006 closed

[2021-11-06 08:55] dg0yt commented on #21228
For this to work, upstream (libnoise) must provide config files. vcpkg can't do that. (At best, vcpkg can add "unofficial" configs for convenience with complex dependencies.)

[2021-11-06 10:44] dannypike commented on #21228
Yes but I thought that the appropriate action is post problems for each port here, with the name of the package in brackets.

Is that wrong?

[2021-11-06 10:53] dg0yt commented on #21228
It is not wrong in general, and I didn't want to give that impression.

However, some issues are upstream issues (or design decisions).
I don't think that vcpkg promises that for *every* port in vcpkg, `find_package(port CONFIG REQUIRED)` should just work.

[2021-11-06 11:31] dannypike commented on #21228
Ah, OK. Thank you for the clarification. As you gave me an [alternative solution](https://github.com/microsoft/vcpkg/discussions/21227#discussioncomment-1598828) this isn't important, so I'll close it.

[2021-11-06 11:31] #21228 closed

[2021-11-06 12:10] facontidavide commented on #21201
Bewing affected by this (pcre2 is needed to build Qt5)

[2021-11-06 12:44] vibhug commented on #20547
@NancyLi1013
I have reinstalled both VS and SDK, nothing works.
It wasted several days of project, and put me under immense timeline pressures.
Finally i tried the NuGet package, and that helped me move ahead in project.
Suprisingly, i read somewhere that NuGet is deprecated in favor of vcpkg.  Whereas its NuGet that became my lifeline.
This VCPKG is still unsolved after ONE MONTH :-)

[2021-11-06 13:35] facontidavide opened #21233 "[libwebsockets] fails with triplet x64-mingw (static/dynamic)"
Building package libwebsockets[core]:x64-mingw-static...
-- Using community triplet x64-mingw-static. This triplet configuration is not guaranteed to succeed.
-- [COMMUNITY] Loading triplet configuration from: C:\dev\vcpkg\triplets\community\x64-mingw-static.cmake
-- Using cached warmcat-libwebsockets-8d605f0649ed1ab6d27a443c7688598ea21fdb75.tar.gz.
-- Cleaning sources at C:/dev/vcpkg/buildtrees/l

[2021-11-06 14:16] liubin3071 commented on #21088
vcpkg install rsocket:x64-windows

[2021-11-06 14:26] alex1701c commented on #19685
I ran into the same issue:

[vcpkg_issue.txt](https://github.com/microsoft/vcpkg/files/7490616/vcpkg_issue.txt)
[install-x64-linux-dbg-out.log](https://github.com/microsoft/vcpkg/files/7490617/install-x64-linux-dbg-out.log)

[2021-11-06 17:33] HappySeaFox opened #21234 "[openimageio] OpenImageIO Cmake rules are broken and the package is unusable"
**Describe the bug**

1. When I install `openimageio`, `vcpkg` prints
[code]

(1) is too confusing as `Modules` package doesn't exist. If I use the second approach in a client application, I see

[code]

**Environment**
- OS: Windows
- Compiler: MSVC 2019 x64

**To Reproduce**

**Expected behavior**

**Failure logs**

**Additional context**

[2021-11-06 17:35] HappySeaFox commented on #21234
Mention https://github.com/microsoft/vcpkg/issues/20784

[2021-11-06 18:11] dg0yt commented on #21234
(1) is broken autodetected usage information. Added to #20190.
(2) is a missing prefix before `/include`, in the installed cmake config. IIRC there have been similar issues with other prots recently

[2021-11-06 18:40] acgetchell commented on #21080
Hi @NancyLi1013

Do you mean Xcode 12.0.5? This is a macOS 12 issue, which means Xcode 13. Otherwise, macOS 12.0.5 isn't out yet (or you have some super-secret build. ;-)

[2021-11-06 19:45] dannypike opened #21235 "[libnoise] the FindLibNoise.cmake script did not find noiseutils.lib"
**Describe the bug**
The `FindLibNoise.cmake` script only finds `noise.lib`. It does not find `noiseutils.lib`.

**Environment**
- OS: Windows
- Compiler: Visual Studio 2019

**To Reproduce**
Use a CMakeLists.txt file something like this:
[code]
and it will show that it has only found noise.lib:

[code]

This appears to be because the person who ported this library assumed that the CMake `find_lib

[2021-11-06 23:22] autoantwort commented on #21234
(2) would be fixed by #20439 I think

[2021-11-07 02:44] Heming9 commented on #16091
I have the same issue can you tell me how to fix this problem?

[2021-11-07 04:52] ssh4net commented on #21201
Is this possible to do something with such critical ports to not remove all other built and working ports?
as result of pcre2 build failure this ports also removed :(

  * openimageio[core,ffmpeg,freetype,gif,libraw,opencolorio,opencv,openjpeg,tools,webp]:x64-windows
  * qt5-base[core]:x64-windows

[2021-11-07 06:54] Magicicesea opened #21237 "[libdisasm] build failure caused by CMake build failure"
**Host Environment**
- OS: Windows
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install breakpad:x64-uwp`

**Failure logs**
-Cut and past the appropriate build messages from the console output.
[code]
-Please attach any additional failure logs mentioned in the console output.
As mentioned in above debug log, details here: [install-x64-uwp-dbg-out.log](https://ra

[2021-11-07 07:23] Magicicesea commented on #21237
Also failed in latest release 2021.05.12. Please let me know the plan for fixing this.

[2021-11-07 09:07] wrobelda commented on #19685
@JackBoosY can you please have a look?

[2021-11-07 09:34] AlexLeungZ commented on #21195
[code]

I successfully installed vtk with this method:

1. After the first failed build with VCPKG, you should have a file called `Kitware-VTK-xxx.tar.gz` in path `.../vcpkg/downloads`, in my case it is `.../vcpkg/downloads/Kitware-VTK-2959413ff190bc6e3ff40f5b6c1342edd2e5233f.tar.gz`
2. `cd` into that directory
3. Unzip the .tar.gz file, `unpigz xvf Kitware-VTK-xxx.tar.gz` then `tar xvf Kitware-VT

[2021-11-07 12:15] plettplett opened #21238 "Windows 10 unresolved libheif externals when linking my app against openimageio static"
Hi,

Vcpkg installed latest dependencies for OIIO when building OIIO vcpkg 2.3.7.2#4

Build SUCCESS -

C:\Users\chris\vcpkg>vcpkg install openimageio[core,gif,openjpeg,webp,libraw,webp]:x64-windows-static
Computing installation plan...
The following packages will be built and installed:
openimageio[core,gif,libraw,openjpeg,webp]:x64-windows-static -> 2.3.7.2#4
Detecting compiler hash for triplet x

[2021-11-07 13:33] dg0yt commented on #19550
`aws-sdk-cpp[applicationcostprofiler]` builds successfully on Ubuntu 18.04. I guess this was fixed by the port update to 1.9.96 (#20033) on Sep 15.

[2021-11-07 14:40] AlexLeungZ opened #21241 "[pcl[vtk]:x64-linux] build failure"
Host Environment

x64-linux:
OS: Ubuntu 20.04.3 LTS on Windows 10 x86_64 (WSL)
Compiler: g++ (Ubuntu 11.1.0-1ubuntu1~20.04) 11.1.0
CMake version: cmake version 3.21.2

arm64-linux:
OS: Ubuntu 20.04.3 LTS
Compiler: g++ (Ubuntu 11.1.0-1ubuntu1~20.04) 11.1.0
CMake version: cmake version 3.22.0-rc2

**To Reproduce**
Steps to reproduce the behavior:
`git clone https://github.com/microsoft/vcpkg`
`sudo

[2021-11-07 15:59] dg0yt commented on #21241
FTR it fails here (install-x64-linux-dbg-out.log):
[code]

[2021-11-07 16:08] AlexLeungZ commented on #21241
How can I fix this, as this also happened on my arm64-linux

[2021-11-07 17:37] giles45 opened #21242 "[winpcap] build failure"
**Host Environment**
- OS: Windows
- Compiler: MSVC 2019

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg install winpcap:x86-windows`

**Failure logs**
Error: Failed to download from mirror set:
File does not have the expected hash:
             url : [ https://www.winpcap.org/misc/copyright.htm ]
       File path : [ C:\workspace\vcpkg\downloads\Wpcap_license.htm.14496.part ]
   Expecte

[2021-11-07 19:50] irissam commented on #21201
I was able to work around this issue by downloading the pcre-{VERSION}.zip file directly and placing it in the {VCPKG_ROOT}/downloads folder. When vcpkg sees the file already exists, it won't attempt to download it from the broken link (assuming the expected SHA2 matches).

[2021-11-07 19:56] Eddie-cz commented on #21201
Had to download .tar.gz distribution manually and change hash in port file, so vcpkg accepts it. Come on...

[2021-11-08 02:16] JackBoosY commented on #16091
@Heming9  Since our VS Code plugin is not done, please add vcpkg tool-chain to the cmake configration in VS Code.

[2021-11-08 02:18] JackBoosY commented on #19685
[code]
Lack of link to library lzma.

[2021-11-08 02:26] JackBoosY commented on #21229
You can directly use vcpkg pre-build binary instead of build it.

[2021-11-08 02:43] JackBoosY commented on #21205
[code]
Missing `-ldl`

[code]
Does you install both Visual Studio 2015 and Visual Studio 2019?

[2021-11-08 03:28] shelllet opened #21246 "[tensorflow-cc] build failure(BAZEL_VC/BAZEL_VS does not work when vs2019 and vs2022 exist on windows 11.)"
**Host Environment**
- OS: [e.g. Windows 11.]
- Compiler: msvc 2019

**To Reproduce**
Steps to reproduce the behavior:

install vs2019 and then install vs2022 rc,

add `tensorflow` to `vcpkg.json`

build

error log:
[code]
when i build tensorflow,
BAZEL awaly use Visual Studio 2022, even if i set BAZEL_VC BAZEL_VC_FULL_VERSION to vs 2019。

![image](https://user-images.githubusercontent.com/1672901

[2021-11-08 04:41] Pospelove commented on #19038
Any progress on this?

[2021-11-08 05:20] Heming9 commented on #16091
Thanks for your reply, I had tried adding vcpkg.make to the CMake configuration or the CMakeLists but it still occurs headers not found. For now, I‘m using third packages from vcpkg by including manually in CMakeLists and it compiles successfully. Looking forward to your VS Code plugin :D

[2021-11-08 05:55] AlexLeungZ commented on #21241
Here is the workaround to build it, only tested on x64-linux, arm64-linux is not yet been tested.
The method here is similar what I've done for the [vtk[core] fix](https://apt.kitware.com/ "vtk[core] fix")

1. After the first failed build with `VCPKG`, you should have a file called `PointCloudLibrary-pcl-xxx.tar.gz` in path `.../vcpkg/downloads`, in my case it is `.../vcpkg/downloads/PointCloudLib

[2021-11-08 06:26] JackBoosY commented on #16091
@Heming9  Did you install the ports using static triplet?

[2021-11-08 06:41] shelllet commented on #21246
After i tried many times, i found set `VCPKG_VISUAL_STUDIO_PATH` can resove this problem, now i don't know this is a bug.

[2021-11-08 07:18] PhoebeHui commented on #21218
Related to https://github.com/microsoft/vcpkg/issues/21142, another issue which related to https://github.com/microsoft/vcpkg/commit/5bdb9d60123df20c247a1654e6a1def51d6c5140.

cc @BillyONeal

[2021-11-08 07:44] JackBoosY commented on #21241
Sadly, I can't repro this issue on my local machine.

[2021-11-08 08:01] NancyLi1013 commented on #21195
I will create a PR to patch this to fix this problem later.

[2021-11-08 08:06] NancyLi1013 commented on #21080
clang version is 12.0.5, xcode 12.5.

[2021-11-08 08:19] NancyLi1013 commented on #20547
Sorry that I didn't help you solve the problem.

For NuGet, it is not deprecated in vcpkg, you can still use it.

https://github.com/microsoft/vcpkg/blob/master/docs/users/integration.md

https://devblogs.microsoft.com/cppblog/vcpkg-introducing-export-command/

[2021-11-08 08:22] AlexLeungZ commented on #21241
I tried to build them on both my wsl and the Xavier NX, which is arm64-linux machine, and they both fail on the same issue

[2021-11-08 08:26] JackBoosY commented on #21246
I think that's a bazel bug. `undname` exists in the following directory but bazel doesn't find them:
![MicrosoftTeams-image](https://user-images.githubusercontent.com/47264268/140708133-b57acb91-715c-4d83-9416-babeced71a9c.png)

Related: https://github.com/bazelbuild/bazel/issues/14232 https://github.com/bazelbuild/bazel/issues/10772

[2021-11-08 08:33] dg0yt commented on #21241
To reproduce it, you probably
- must not  have installed port libusb,
- must have installed system package libusb-dev (or similar)

[2021-11-08 08:39] JackBoosY commented on #21223
[code]

[2021-11-08 09:05] JonLiu1993 commented on #21221
@A01351361, please try @JackBoos's suggestion, if this problem is solved, please let me know, thank you.

[2021-11-08 09:34] NancyLi1013 commented on #21238
Hi @plettplett

Thanks for posting this issue. It's duplicated to #13354, let's move the attention to that issue #13354.

[2021-11-08 09:34] #21238 closed

[2021-11-08 09:39] Schroedingers-Cat commented on #21201
An alternative workaround is to reset the vcpkg submodule (if that's possible in your workflow) to commit 97b9c602fbb154687c723688496435a803412574

[2021-11-08 09:44] PhoebeHui commented on #21224
@cgmb,t thanks for reporting this issue! Could you help test linked PR and see if it works for you?

[2021-11-08 09:56] IgorKubeka opened #21255 "pcre2[core]:x64-windows -> 10.37#1 build failure"
Computing installation plan...
The following packages will be built and installed:
    pcre2[core]:x64-windows -> 10.37#1
Detecting compiler hash for triplet x64-windows...
Restored 0 packages from C:\Users\igor\AppData\Local\vcpkg\archives in 173.2 us. Use --debug to see more details.
Starting package 1/1: pcre2:x64-windows
Building package pcre2[core]:x64-windows...
-- Downloading https://github

[2021-11-08 10:58] j-horner-c4x commented on #21203
Setting `"generator": "Visual Studio 16 2019"` and `"architecture.strategy": "set"` also fails:
[build_fail_output.txt](https://github.com/microsoft/vcpkg/files/7496389/build_fail_output.txt)

[2021-11-08 11:17] JonLiu1993 commented on #21203
@j-horner-c4x ,Thanks posting this issue. I can't reproduce your problem locally based on your steps. Did I miss any step?
[code]

[2021-11-08 11:26] j-horner-c4x commented on #21203
Thanks for looking into this. It can't find the toolchain file so I think you might not have cloned the `vcpkg` submodule.
Try:
[code]
Sorry I should've been more explicit with that.

Also I think VS should select the `test-build` preset and set the C++ compiler automatically?
You might need to set the option to enable CMake Presets, described here: https://docs.microsoft.com/en-us/cpp/build/cmake

[2021-11-08 11:27] kuriboshi commented on #21229
As far as I know there are no pre-built executables for FreeBSD and compilation errors prevents anyone from providing one since commit d4a0cec3d3ad5eb0f41154bd0b0e9eafd86aff00.

[2021-11-08 11:29] JonLiu1993 commented on #21203
@j-horner-c4x ,Thanks for your help, I will reproduce your issue locally , thanks again

[2021-11-08 12:54] LOVELESSYI commented on #21223
I also meet this problem. But there is only "pcl_common-1.12.pc", not "pcl_cuda_common-1.12", in the folder you show.

[2021-11-08 13:00] al-cheb commented on #21107
@BillyONeal, Thank you for the fix. The issue with Ubuntu&macOS has been resolved for us.

[2021-11-08 13:00] #21107 closed

[2021-11-08 13:17] autoantwort commented on #16520
I now also often get the following error:
[code]

[2021-11-08 15:29] AlexLeungZ commented on #21241
[code]

vcpkg complains about bin in the folder, so `portfile.cmake` needs to be adjust

[2021-11-08 15:47] TaeZStkyoht commented on #15568
https://github.com/microsoft/vscode-cmake-tools/issues/443#issuecomment-963245609

[2021-11-08 16:16] sfhacker commented on #21223
[1] https://english-for-chinese.blogspot.com/2008/06/and-meet-problem.html

[2021-11-08 16:22] LOVELESSYI commented on #21223
Thank you for pointing out my problems in English expression！

[2021-11-08 17:09] raahilsha-z commented on #21223
I don't have a pcl_cuda_common in my installed pkgconfig directory (only cuda_features, cuda_sample_consensus, and cuda_segmentation). There's also no pcl_cuda_common.lib file, anyways.

Looking at the source code for PCL, however, pcl/cuda/common doesn't have any source files (headers only - https://github.com/PointCloudLibrary/pcl/tree/master/cuda/common). I don't think there's supposed to pcl_c

[2021-11-08 17:32] raahilsha-z commented on #21219
I don't use any RealSense devices anymore, but remember having some issues using them ~July 2019 with the pcl::RealSense2Grabber. Looking at one of my past repos, I just ended up using pcl::io::OpenNI2Grabber and using the rs2driver.dll to enable OpenNI2 support for the RealSense.

Another option you could try is to use the RealSense library's wrapper for PCL, instead of using PCL's wrapper for Re

[2021-11-08 18:19] RomanTruhanov opened #21260 "package: qtwebengine[core,default-features,geolocation,spellchecker,webchannel]:x64-windows -> 6.2.1"
Выпуск	Windows 11 Pro Insider Preview
Версия	Dev
Дата установки	‎04.‎11.‎2021
Сборка ОС	22494.1000
Взаимодействие	Windows Feature Experience Pack 1000.22494.1000.0

Visual Studio 2022 Dev Preview 7 (compiller version 17.0.0)

vcpkg-tool version: 66c39e113 2021-11-05 (3 days ago)

qt[core,default-features]:x64-windows -> 6.2.1

.\vcpkg.exe install qt

[install-x64-windows-dbg-err.log](https://githu

[2021-11-08 18:21] BillyONeal commented on #21218
To be clear, the status quo before was "bootstrap fails on Alpine because it tries to download cmake for glibc which can't run on Alpine, and also vcpkg looks for a nonexistent `linux-x64-muslc` triplet", and the behavior now is "bootstrap succeeds, but then trying to do anything useful fails because vcpkg tries to download a version of cmake unavailable on Alpine". In both cases Alpine is broken,

[2021-11-08 19:12] BillyONeal commented on #20958
This was resolved by not detecting a `-musl` suffix here. Alpine still is not completely functional, see https://github.com/microsoft/vcpkg/issues/21218

[2021-11-08 19:12] #20958 closed

[2021-11-08 19:13] BillyONeal commented on #7385
Closing this issue due to inactivity.

[2021-11-08 19:13] #7385 closed

[2021-11-08 19:13] BillyONeal commented on #13622
This looks like an upstream issue in `tesseract` rather than anything vcpkg is doing; you may wish to report upstream to them.

[2021-11-08 19:22] raahilsha-z commented on #21223
I just tried building static with cuda and get the same error as @weibingrong (Package 'pcl_cuda_common-1.12'... not found). As I mentioned above, though, this package shouldn't exist in the first place anyways.

[2021-11-08 20:29] BillyONeal commented on #17691
Because there is only one outstanding PR left I'm going to track this as that PR; closing this issue. See https://github.com/microsoft/vcpkg/pull/21173 for the last bit.

Thanks @strega-nil !

[2021-11-08 20:29] #17691 closed

[2021-11-08 23:20] jvbsl commented on #5078
Imho this is still an issue. Building is already slow as it is but then if it fails and can be patched, but the complete compilation just to get to the next error takes a whole lot of time. just building the already downloaded and extracted source with a portion already built would speed up troubleshooting by a lot.

[2021-11-09 01:12] NancyLi1013 commented on #21260
Hi @RomanTruhanov Thanks for posting this issue.
Duplicated to #20702. Let's track this issue there.

[2021-11-09 01:12] #21260 closed

[2021-11-09 02:34] JackBoosY commented on #16091
@Heming9 Please pass `-DVCPKG_TARGET_TRIPLET=x86-windows` or `-DVCPKG_TARGET_TRIPLET=x86-windows-static` to the cmake parameters.

[2021-11-09 02:44] BillyONeal commented on #21229
Can you make a PR with that patch against https://github.com/microsoft/vcpkg-tool ? You should get credit for fixing it!

[2021-11-09 02:48] JackBoosY commented on #15568
Related: https://github.com/microsoft/vcpkg/pull/11995.

[2021-11-09 04:05] mprather commented on #21218
Thanks for the taking the time to elaborate.

There is a "timing" issue present with bootstrap code mentioned in item 2. If all the prerequisites are in place, the bootstrap doesn't present the message about requiring `VCPKG_FORCE_SYSTEM_BINARIES`. For example...

[code]

In my test image, I had the latest version of cmake as provided with...

but I had forgotten to set the environment variable. W

[2021-11-09 05:02] #21201 closed

[2021-11-09 05:20] ycj1124 commented on #21205
at first ，I only installed vs2015 and vs2013 .but the vcpkg seemed to search vs2013 directly and ignore the vs2015.after that,I install vs2017 now and I have successfully install the libconfig library.is there any problem if I install multi version of visual studio? when I use the library,must I use the vs2017 rather than 2015? should I must install vs2019？

[2021-11-09 06:12] JackBoosY commented on #21205
@ycj1124 vcpkg requires Visual Studio version 2015 or higher, but we prefer to use at lest Visual Studio 2017. So you don't need to install Visual Studio 2019.

[2021-11-09 06:12] #21205 closed

[2021-11-09 06:17] ycj1124 commented on #21205
alright，thank you sir.

[2021-11-09 07:43] JackBoosY commented on #21241
In _source/CMakeLists.txt_ line 319:
[code]
In _source/cmake/Modules/FindOpenNI2.cmake_ line 36:
[code]

In _source/cmake/Modules/FindOpenNI.cmake_ line 46:
[code]

Option `WITH_LIBUSB` always be `OFF` since pcl was added in vcpkg 5 years ago (https://github.com/microsoft/vcpkg/pull/1283), and the system is not MacOS, so I'm confused why pcl need link to libusb and use libusb functions.

[2021-11-09 08:01] dg0yt commented on #21241
`WITH_LIBUSB` only controls direct calls to `find_package(libusb)` in pcl. But there might be unguarded calls from cmake packages used by pcl.

[2021-11-09 08:08] JackBoosY commented on #21241
Not likely, `libusb` doesn't in the dependency chain.

And I found other stuff interesting:
In _source/io/CMakeLists,txt_ line 78:
[code]
In _io/src/opennni_camera/openni_driver.cpp_
line 58:
[code]
line 362:
[code]

This proves that if `WITH_OPENNI` is enabled, libusb will become a mandatory dependency in non-Windows, which does not match the setting in `FindOpenNI[2].cmake`.

[2021-11-09 08:10] dg0yt commented on #21241
This is not a contradiction: If port `libusb` was in the dependency chain, pcl probably wouldn't pick up the system's libusb.

[2021-11-09 08:11] dg0yt commented on #21241
Even if upstream doesn't sufficiently express the dependencies, it can be solved on the vcpkg packaging side with features and dependencies.

[2021-11-09 08:12] JackBoosY commented on #21241
Yes, but let me report this to the upstream first.

[2021-11-09 08:41] HappySeaFox commented on #21234
Closing in favor of https://github.com/microsoft/vcpkg/pull/20439

[2021-11-09 08:41] #21234 closed

[2021-11-09 10:41] dannypike opened #21278 "Please make vcpkg remember what packages are still to be rebuilt, when one of them fails during an upgrade"
When I use ```vcpkg upgrade --no-dry-run```, I'm always nervous because one of the updated ports may fail the build. At that point ```vcpkg``` will have "forgotten" all of the ports that it removed while trying to upgrade everything.

So I'm left with a half-broken system and I have to remember all of the ports that I need to install in order to make my various projects build, which can be frustra

[2021-11-09 10:51] RDCH106 commented on #13881
⚠️ Still broken in release  [2021.05.12](https://github.com/microsoft/vcpkg/releases/tag/2021.05.12)
👀 Proposed [workaround solution](https://github.com/microsoft/vcpkg/pull/18855#issuecomment-961480058) in #17662

[2021-11-09 12:43] kelteseth commented on #15681
I can confirm the problem when using a `CMakePresets.json` with VSCode and MSVC2019&2022. Works with QtCreator and regular `CMakeLists.txt`.

[2021-11-09 12:49] SKNo commented on #21278
Hi
I use `vcpkg upgrade --no-dry-run --keep-going`
In the end, it gives a summary of successful and unsuccessful builds. It also forces to continue build process even if one package or triplet fails to be built.

[2021-11-09 13:26] niyue commented on #20430
It seems this should be resolved by the Vcpkg-tool 2021-11-02, however, I gave it a test and the problem still exist (at least in my testing setup), additionally, in my setup, I cannot workaround the issue even by setting the env var CLICOLOR_FORCE=0

I created a minimum env using docker for reproducing this issue. You can check it out here:
[vcpkg-cmake-port-marker.zip](https://github.com/microso

[2021-11-09 14:58] IshaanKarnik opened #21279 "[New Port Request] firebase-cpp-sdk"
Library name: firebase-cpp-sdk

Library description: The repository contains the Firebase C++ SDK source, with support for Android, iOS, and desktop platforms. It includes the following Firebase libraries:

1. AdMob
2. Google Analytics for Firebase
3. Firebase Authentication
4. Firebase Realtime Database
5. Firebase Dynamic Links
6. Cloud Firestore
7. Cloud Functions for Firebase
8. Firebase Invit

[2021-11-09 15:09] dannypike commented on #21278
Thank you. I didn't know about that option; it's not in the help text or the README. A quick search through the docs only finds it buried in the change list for on of the updates to the `install` command.

I suppose that's slightly better than being "...display[ed] in the bottom of a locked filing cabinet stuck in a disused lavatory with a sign on the door saying 'Beware of The Leopard'", but not

[2021-11-09 15:13] dannypike opened #21280 "Pleasse document the -keep-going option and any other ones."
Knowing about this hidden option before [reporting this](https://github.com/microsoft/vcpkg/issues/21278) would have saved me so much time and frustration when `upgrade` fails.

Please document the options. They're useless if I don't know about them.

Thanks.

[2021-11-09 15:35] SUQIGUANG commented on #13896
thanks , it works

[2021-11-09 15:37] dg0yt commented on #20430
@niyue Can you check if `CLICOLOR` is set in your environment?

IIUC the reference for these variables is https://bixense.com/clicolors/.

[2021-11-09 17:39] autoantwort commented on #21280
Or make it the default when upgrading

[2021-11-09 17:52] SamuelMarks commented on #19669
Hmm, my script just broke on vcpkg. Let me try just the regular `find_package` now and see if it can find it from vcpkg and brew

[2021-11-09 18:05] LOVELESSYI opened #21282 "[ pcl[cuda,opengl,openni2,pcap,qt,tools,vtk]:x64-windows ] build failure"
Thanks @JackBoosY  for fixing bug with "Package pcl_cuda_common-1.12 was not found" in https://github.com/PointCloudLibrary/pcl/issues/5025. But I got some new errors. I think the code to generate "libopenni2.pc" is probably missing as https://github.com/PointCloudLibrary/pcl/issues/5025, but I don't know where to modify it. Can anyone help me? Thanks a lot!

**Host Environment**
- OS: Windows

**

[2021-11-09 18:06] BillyONeal commented on #20430
Given that you're explicitly turning the environment variable off @niyue , that seems to be at least a different bug, unrelated to the `CLICOLOR_FORCE` one. Given the docker context I suspect what's actually happening is attempting to run cmake is failing completely with some form of error message that we don't know how to parse.

[2021-11-09 18:08] abique opened #21283 "[pcre2] build failure, invalid hash"
**Host Environment**
- Windows x64

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install pcre2`

**Failure logs**
[code]

[2021-11-09 18:31] dg0yt commented on #19669
Outside of vcpkg, `find_package(CURL CONFIG REQUIRED)` will only work if a curl config file is available. For curl, it should be safe to use
[code]
which will also use the find module from CMake. In any case, you will have to take care that either libraries and headers, or config files, are in the suitable search paths.

[2021-11-09 19:44] #21069 closed

[2021-11-09 19:51] #16402 closed

[2021-11-09 19:51] #18067 closed

[2021-11-09 20:30] chausner opened #21286 "Failing to build boost after update from 1.76 to 1.77"
**Describe the bug**
After updating my local repo and rebuilding, I ran into a situation where I couldn't build boost packages anymore because of a conflict with older boost versions that were still installed for a different triplet:
[code]

The bug appears to occur because
* boost 1.76 was still using vcpkg_configure_cmake while boost 1.77 uses vcpkg_cmake_configure
* Even though I was building f

[2021-11-09 20:36] autoantwort commented on #21286
Because x64-windows ist your host triplet, and boost-build is build for the host triplet.
To fix your problem you have to pass `--host-triplet=x86-windows` to vcpkg

[2021-11-09 20:47] chausner commented on #21286
@autoantwort So you would not consider this a bug in vcpkg or the ports at all? If this is expected behavior, I still think there could be better diagnostics or error messages at least. It took me quite a while to figure out what the problem was and how to workaround it. Also I do not quite understand yet why I would need to pass `--host-triplet=x86-windows` here if it was never needed for any oth

[2021-11-09 21:07] autoantwort commented on #21286
Yeah I think this is expected behavior.

The "problem" is that your error can only happen with boost and only if you use the classic mode and you install boost for a non host triplet >= 1.77 and have an existing installation for the host triplet with version < 1.77. Otherwise you can't get the error.

There are two ways for cmake builds (`vcpkg_configure_cmake`(deprecated) and `vcpkg_cmake_configu

[2021-11-09 21:12] chausner commented on #21286
@autoantwort Thank you for your explanation. Good to know this is an issue that is specific to the boost transition from 1.76 to 1.77 and should not happen with other ports. I opened this issue primarily because I thought it was a bug that vcpkg devs may want to fix.

If it is not considered a bug, feel free to close this issue then. I was able to find a workaround myself already, and @autoantwort

[2021-11-09 21:42] #20290 closed

[2021-11-09 21:52] julianxhokaxhiu commented on #19121
So it happened again, today: https://www.tortall.net/projects/yasm/snapshots/v1.3.0.6.g1962/yasm-1.3.0.6.g1962.exe

SSL Certificate invalid, certificate is expired ( set for today ). And no fallback is provided. I'm on the latest vcpkg master branch w/vcpkg.exe from November ( the one downloaded via the bootstrap script ).

[2021-11-09 22:30] Neumann-A opened #21292 "[vcpkg-tool] used vcvars needs to be included in the ABI"
I am using the following triplet: https://github.com/Neumann-A/my-vcpkg-triplets/blob/master/x64-windows-llvm.cmake

It is a triplet which uses `clang-cl` external of VS by setting `set(VCPKG_ENV_PASSTHROUGH_UNTRACKED "LLVMInstallDir;LLVMToolsVersion")` which means the compiler hashes will stay the same if upgrading from VS2019 to VS2022.
As such the version of the vcvars command vcpkg internally

[2021-11-09 22:52] niyue commented on #20430
@dg0yt

I disable it by setting it to `0` explicitly, both in the `docker-compose.yml` for the container and prepending `CLICOLOR_FORCE=0` to the `vcpkg install` command, but it doesn't help.
You can check out the attached archive for reproducing the issue.

[2021-11-09 22:52] niyue commented on #20430
@BillyONeal

It could be a different bug but the error message looks the same. I think it probably relates with running vcpkg inside `Makefile`. I tried running the same command inside `Makefile` or a shell script, and it will report such an error, but if I paste the same vcpkg install command and run it directly within bash, it will work.
@BillyONeal Do you think if I need to file another issue f

[2021-11-09 23:09] dg0yt commented on #20430
Please note the spelling:
Is `CLICOLOR` (!) set in your environment?
Not `CLICOLOR_FORCE`.

[2021-11-09 23:30] BillyONeal commented on #20430
That error message is emitted whenever cmake's output was funny for some reason. Please also respond to dg0yt.

[2021-11-10 00:27] niyue commented on #20430
@dg0yt

Sorry I didn't realize the difference initially. I tried setting `CLICOLOR=0` and it did work. Thanks for the help.

[code]

[2021-11-10 00:29] #21255 closed

[2021-11-10 01:08] rainey opened #21293 "[raylib] missing dependencies, asan/ubsan build errors in debug build"
**Describe the bug**
this might be two issues really:
 - raylib requires linkage to Threads::Threads, libglfw and (presumably only on linux) libdl and builds will fail when given only the suggested target_link_libraries line in CMakeLists.txt - I'm not sure if the threads dep is from raylib or glfw
 - with the above issue manually fixed, debug builds fail with asan and ubsan linker errors.

**Envi

[2021-11-10 02:09] SamuelMarks commented on #19669
@dg0yt Yeah that's what my hacky workaround one does:
https://github.com/offscale/libacquire/blob/master/cmake/FindCurlCustom.cmake

(but there has to be a better way)

[2021-11-10 02:50] JackBoosY commented on #21292
@BillyONeal what do you think about this?

[2021-11-10 02:51] JackBoosY commented on #21282
Will be fixed by #21276.

[2021-11-10 02:56] JonLiu1993 commented on #21283
@abique ,The issue have fixed by pr #21248 ,please git pull vcpkg and try again

[2021-11-10 02:56] #21283 closed

[2021-11-10 04:39] abique commented on #21283
Thanks! :)

[2021-11-10 04:48] kylinholmes opened #21295 "Why I need to install Python"
I have already installed Python3.8,
![image](https://user-images.githubusercontent.com/45586871/141051280-073cecb0-ec9e-4751-9f61-6ea672ece140.png)

Why it need to download another python3.10 while I trying to install `glad`

![image](https://user-images.githubusercontent.com/45586871/141051074-b95948e8-1143-4e49-a9da-ae452d2e7192.png)

And if there is another way to install it without python3.10?

[2021-11-10 06:15] judge2020 opened #21298 "[ffmpeg] build failure - expired certificate"
**Host Environment**
- OS: [Windows]
- Compiler: irrelevant

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install ffmpeg`

**Failure logs**
[code]

**Additional context**

The host www.tortall.net has an expired Let's Encrypt certificate, and thus fails TLS verification. More mirrors would be appreciated.

Temporarily fixable by going to the URL directly, bypassing the expired certif

[2021-11-10 06:41] archibate opened #21299 "[pcre2:x64-windows] build failure"
**Host Environment**
- OS: Windows
- Compiler: MSVC 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install pcre2:x64-windows`

**Failure logs**
-Cut and past the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.
[code]

**Additional context**
I also have got build failed for eigen3:x64-windows months ag

[2021-11-10 06:43] JonLiu1993 commented on #21299
@archibate ,The issue have fixed by pr #21248 ,please git pull vcpkg and try again

[2021-11-10 06:43] #21299 closed

[2021-11-10 06:48] archibate commented on #21299
⚡ amazing speed! Thank for this great package manager! Btw, does vcpkg have an 'offline' mode, that doesn't download but use cached packages instead? I have an open-source project with many dependencies and I feel like to provide a stable build environment via vcpkg, with `.zip` files (either binary or source) pre-downloaded and sticked to a tested version of dependencies, to prevent possible buil

[2021-11-10 06:52] JonLiu1993 commented on #21299
When you successfully instal a port, the ports that your package depends on will be cached in a specific directory. When you reinstall, you will get it directly from the specific directory instead of downloading it.

[2021-11-10 06:55] dg0yt commented on #21299
This answer is for the binary artifacts, on a particlar machine. There is also external artifact caching, and export. But it depends on using the same tool versions.

The source files are cached in the `downloads` folder. There is also explicit external "asset caching"  e.g. used in vcpkg CI.

[2021-11-10 07:00] dg0yt commented on #19669
Showing your code doesn't explain *why* you believe that a single `find_package(CURL REQUIRED)` is enough to find if curl is available or not. Which version of cmake, or which provider of curl, doesn't work in its prefered form of integration?

[2021-11-10 07:15] dg0yt commented on #13946
Work in progress now in #21275.

[2021-11-10 07:20] kogiokka commented on #9645
Always quote the names of packages with features on macOS or Linux like this, `vcpkg install 'sdl2-image[libjpeg-turbo]'`. Square brackets are part of Z shell's syntax. For example:
[code]

[2021-11-10 07:35] emptyVoid commented on #17448
Will this ever be fixed for older CMake versions? (I cannot upgrade CMake beyond 3.19)

[2021-11-10 09:06] PhoebeHui commented on #21286
I suggest you execute './vcpkg remove boost-uninstall:x64-windows --recurse' to remove all old components and reinstall required ports when upgrade boost since the mixed version may cause unexpected failures.

[2021-11-10 09:06] #21286 closed

[2021-11-10 09:19] NSLahore opened #21300 "libjpeg-turbo:x64-osx"
Error: Building package libjpeg-turbo:x64-osx failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `./vcpkg update`, then
submit an issue at https://github.com/Microsoft/vcpkg/issues including:
  Package: libjpeg-turbo:x64-osx
  Vcpkg version: 2021-05-05-unknownhash

[2021-11-10 09:33] NSLahore commented on #21300
@JonLiu1993 Can you figure this out I am getting error on this build while installing vcpkg in IntelliJ IDEA.

[2021-11-10 09:34] JonLiu1993 commented on #21300
@NSLahore ,Could you please provide your error log?

[2021-11-10 09:35] zhaofeng-shu33 commented on #5209
Need this also

[2021-11-10 09:38] NSLahore commented on #21300
@JonLiu1993
  CMake Error at scripts/cmake/vcpkg_find_acquire_program.cmake:535 (message):
  Could not find pkg-config.  Please install it via your package manager:

      brew install pkg-config
Call Stack (most recent call first):
  scripts/cmake/vcpkg_fixup_pkgconfig.cmake:112 (vcpkg_find_acquire_program)
  ports/libjpeg-turbo/portfile.cmake:80 (vcpkg_fixup_pkgconfig)
  scripts/ports.cmake:142

[2021-11-10 09:39] JonLiu1993 commented on #21300
@NSLahore ,Please use "brew install pkg-config" install  pkg-config first

[2021-11-10 09:45] #21300 closed

[2021-11-10 09:47] JackBoosY commented on #21282
Please test #21276 again.

Thanks.

[2021-11-10 09:51] JackBoosY commented on #21295
@kylinholmes  Maybe your python path is not added to the system environment `PATH`, so vcpkg can't find it from your system.

[2021-11-10 10:13] kylinholmes commented on #21295
@JackBoosY I looked my path, and python.exe just in it

[2021-11-10 10:14] wrobelda commented on #21278
This sounds like you could take advantage of the manifest mode: https://vcpkg.io/en/docs/users/manifests.html

[2021-11-10 10:26] wrobelda commented on #19685
@Neumann-A Mind having a look at it?

[2021-11-10 10:26] yuriy-odonnell-epic commented on #17448
@emptyVoid please CMake developers directly in their [issue tracker](https://gitlab.kitware.com/cmake/cmake/-/issues/22743).

[2021-11-10 10:47] emptyVoid commented on #17448
My question has nothing to do with CMake.

vcpkg @ 59a8a9c6248ed230b19028a44484ae5f06db697d worked flawlessly without requiring specific flavors of third-party utilities installed in the system (by downloading all the required tools by itself). I would stay with that revision if it worked with VS 2022, sadly it's unable to find VS with VCPKG_VISUAL_STUDIO_PATH and VCPKG_PLATFORM_TOOLSET specified

[2021-11-10 10:49] dannypike commented on #21278
@wrobelda Thank you for the suggestion but the problem is that I use `vcpkg` for several projects, both mine and also others'. So manifest mode won't really work.

What I want is for `vcpkg` to record the current setup in some way so that, if the upgrade fails, I will be able to restart it, e.g. when the failing project is fixed.

Using `--keep-going` is a significant help, but I would prefer `vcp

[2021-11-10 10:54] #18756 closed

[2021-11-10 10:59] Neumann-A commented on #19685
seems like it is mixing debug and release libs here:

`/usr/bin/ld: /home/user/projects/vcpkg/installed/x64-linux/lib/libtiff.a(tif_lzma.c.o):`
versus e.g.:
`/home/user/projects/vcpkg/installed/x64-linux/debug/lib/libQt5Network.a`

the second question would be why it is not using the setting of `TIFF_LIBS` etc. from qt5-imageformats.

[2021-11-10 15:11] joseangelmt opened #21308 "libe57:x64-windows build failure"
**Host Environment**
- OS: Windows 10
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install libe57:x64-windows`

**Failure logs**
[code]
**Additional context**
After analyzing stdout-x64-windows.log I found an error informing cmake was unable to found PowerShell Core.
Then I changed to PowerShell Core and **everything is working correctly**.

[2021-11-10 15:50] #21308 closed

[2021-11-10 17:07] j-horner-c4x commented on #21203
Also doesn't work with version 16.11.6. I also submitted a ticket to Visual Studio support which included some more diagnostics file. I've also added the build output files generated by CMake below.
[build_output.zip](https://github.com/microsoft/vcpkg/files/7514614/build_output.zip)
s.

[2021-11-10 17:42] pkeir commented on #1840
I think the redirection on that repology URL might have changed. Try here: https://repology.org/repository/vcpkg

[2021-11-10 18:11] BillyONeal commented on #21292
As I discussed with Neumann-A on Discord, I don't think this version number is any more relevant in the ABI hash than any other standard library change, and think if we really want to resolve this we need to include some form of fingerprint of the standard library itself.

[2021-11-10 18:55] #21154 closed

[2021-11-10 19:49] BillyONeal commented on #17448
We have never downloaded all required utilities if usable versions were present on the system. Powershell is a little different here because of the "powershell" vs "pwsh" thing of course.

Depending on the path by which you get to a place, our options are limited. If we are invoked via CMake integration with manifests (as in #21203 ) we have no opportunity to run first and download things. (That s

[2021-11-10 19:54] BillyONeal commented on #21203
Probably not, considering the copy of powershell attempted to be used here is from system32, not from the store.

The funny powershell path is probably coming from `find_program(Z_VCPKG_BUILTIN_POWERSHELL_PATH powershell REQUIRED) ` in:

https://github.com/microsoft/vcpkg/blob/de88cc55c4acd0cdd955e5bd4c412e1b9250f29e/scripts/buildsystems/vcpkg.cmake#L175-L198

Do you have a `C:\Windows\System32\po

[2021-11-10 19:59] BillyONeal commented on #17448
@emptyVoid  For now can you confirm that installing powershell-core on the system from https://github.com/PowerShell/PowerShell/releases/tag/v7.2.0 temporarily resolves the problem?

[2021-11-10 21:01] #20837 closed

[2021-11-10 21:20] univisionsrl opened #21310 "mlpack build failure"
**Host Environment**
- OS: Windows
- Compiler: VS2019

Steps to reproduce the behavior:
`.\vcpkg install mlpack --triplet=x64-windows`

**Failure logs**
-Error: `mlpack[core] is only supported on 'uwp'`

The install works with vcpkg-2021.05.12 but now there is the above error with the main branch.

[2021-11-10 22:09] tusharb86 commented on #21010
@JonLiu1993 @NancyLi1013 @BillyONeal - I was just using the eastl port as an example to teach a colleague about vcpkg and noticed that the commit hash of eastl was not updated in the `portfile.cmake` in #21014. The commit ref should be `e8bdd5531ed79c30ccef2fd71e070f5ab9f1222a`.

Here is what I see on the current 'master' branch:
https://github.com/microsoft/vcpkg/blob/master/ports/eastl/portfile.

[2021-11-10 22:11] BillyONeal commented on #21010
Yikes! Sorry for missing that!

[2021-11-10 23:07] msftradford commented on #8235
Hey @PhoebeHui, we just started running into this issue as well. Vcpkg could explicitly define a cereal-flavored namespace for cereal's rapidjson inside of rapidjson.h. This will ensure that it does not conflict with direct rapidjson usage in the same binary. Here is the patch that contains the fix which has been tested with the latest cereal portfile:

[code]

[2021-11-10 23:39] genisispig commented on #21310
mlpack also fails for me as armadillo is failing, see #20773, which is waiting on https://github.com/microsoft/vcpkg/pull/20439#issue-1011653790

[2021-11-11 01:12] tecandrew commented on #16638
Seeing this error, but in a Windows Container environment using https://hub.docker.com/_/microsoft-dotnet-framework-sdk as a base image.

it has the `Visual Studio Build Tools`, but vcpkg doesn't seem to see this as a valid compiler.

[2021-11-11 01:51] affonsoelias opened #21312 "[GTK ] build failure"
**Host Environment**
- OS: Windows 7
- Compiler:  19.27.29117  x86
- vcpkg version: 2021-11-02-af04ebf6274fd6f7a941bff4662b3955c64f6f42
- vcpkg-tool version: 66c39e113 2021-11-05 (5 days ago)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install gtk`

**Failure logs**
[code]
**Additional context**

the website https://pcre.org/ says the following:

You can check out the PCRE2 source

[2021-11-11 02:04] NancyLi1013 commented on #21310
Hi @univisionsrl

Thanks for posting this issue. The supports field is not correct. It should be "`!uwp`". I will fix this soon.
https://github.com/microsoft/vcpkg/blob/369878e686920f73ed14a0605b858c793f339773/ports/mlpack/vcpkg.json#L7

[2021-11-11 02:13] #21055 closed

[2021-11-11 02:18] obscurelyme opened #21313 "SDL2-mixer [x64-windows] with ["dynamic-load", "libvorbis", "mpg123"] not copying DLLs into build folder"
SDL2-mixer, I just cleaned out my configuration and reran cmake configure only to find that on windows SDL2-mixer isn't copying over the dependency DLLs into the build folder like it used to. If you remove the "dynamic-load" feature then both "libvorbis" and "mpg123" are copied over. Idk if that's intended or not, but it's seems unintuitive considering how Windows builds everything to be linked dy

[2021-11-11 02:36] JonLiu1993 commented on #21010
I am sorry to make this low-level mistake, I have submitted a new pr #21315  to fix it, thank you very much for your correction

[2021-11-11 03:04] SamuelMarks commented on #19669
What I'm thinking is a find_package for curl that works, and that ordinally prioritises:

  0. toolchain provided (e.g., vcpkg)
  1. package manager provided (e.g., brew, apt)
  2. OS provided (common search paths)

Is that unreasonable to expect?

[2021-11-11 03:12] NancyLi1013 commented on #20154
Duplicated to #20773, let's move the attention to #20773.

[2021-11-11 03:12] #20154 closed

[2021-11-11 03:15] Feng4710246 opened #21317 "workflow[core]:x86-windows -> 0.9.7 build failure"
**Host Environment**
- OS:  Windows 10
- Compiler: revision
    cmake-3.21.1-windows-i386 ; openssl-1.1.1l.tar.gz
    package: workflow[core]:x86-windows -> 0.9.7
   vcpkg version: 2021-11-02-af04ebf6274fd6f7a941bff4662b3955c64f6f42
   vcpkg-tool version: c32ccbb34 2021-11-10 (22 minutes ago)

**To Reproduce**
Steps to reproduce the behavior:
  .\bootstrap-vcpkg.bat   ...done
  .\vcpkg.exe install

[2021-11-11 04:34] ericfont commented on #19438
duplicate of #19293

[2021-11-11 04:37] ericfont commented on #19293
Catkin should be easily installable via `pip install catkin_tools`

And searching vcpkg repo shows that at least one other project uses pip install inside of its port (https://github.com/microsoft/vcpkg/blob/8ad33ead9075cd8d6d357e0b870ba8d501efe35c/ports/tensorflow-common/tensorflow-common.cmake#L54-L56)

I would like this serial package added to vcpkg too...

[2021-11-11 05:47] kylinholmes commented on #21295
@JackBoosY It worked somehow.

[2021-11-11 05:47] #21295 closed

[2021-11-11 06:17] JackBoosY commented on #21312
It seems the ftp server is down. We'd prefer to wait for some days.
For workaround, please download [this file](https://github.com/microsoft/vcpkg/files/7518187/pcre-8.45.zip) and put it into _VCPKG_ROOT/downloads_ then try again.

No, that's pcre2 repo and we already have it named `pcre2`.

[2021-11-11 06:43] emptyVoid commented on #17448
Yeah, I do realize that, but still that revision did download some newer PowerShell (at least I remember seeing it in the build log).

Depends on the install options: vcpkg is able to locate it only if I agree to add PS to PATH.

[2021-11-11 06:44] ericfont commented on #19293
well I started an attempt to create a port file, but couldn't seem to get catkin discoverabe by cmake after using pip install:

https://github.com/ericfont/vcpkg/commit/881a173a39629c6f027082e753535a963af65c67

Also it seems vcpkg wants the license to be in its own separate file, so I made a PR on the original library to move the license text to a LICENSE file: https://github.com/wjwwood/serial/pu

[2021-11-11 06:54] dg0yt commented on #19669
Not unreasonable from an abstract point of view. But in reality, you have to play by the rules of package search *as implemented* in `cmake`.  Don't ask me about about brew (`/usr/local`). But note that `apt` is managing the *OS provided* packages.

I still don't know "*why* you believe that a single `find_package(CURL REQUIRED)` is _not_ enough", i.e. the basic signature.

If the basic signature

[2021-11-11 07:06] JackBoosY commented on #13622
This issue was fixed by the upstream -> https://github.com/tesseract-ocr/tesseract/issues/2632.

[2021-11-11 07:38] LOVELESSYI commented on #21282
After updating the latest vcpkg,  deleting the comment in the https://github.com/PointCloudLibrary/pcl/issues/5025 and changing if(CMAKE_SYSTEM_NAME STREQUAL "Darwin") to if(NOT WIN32) in https://github.com/PointCloudLibrary/pcl/issues/5027, I still got  "Package libopenni2 was not found in the pkg-config search path".

Here is whole output:

`Computing installation plan...
The following packages

[2021-11-11 07:54] jwillemsen commented on #16551
This should be fixed in the upcoming ACE 7.0.5 release

[2021-11-11 08:25] JackBoosY commented on #21282
@LOVELESSYI  Please pull #21276 changes and try again.

[2021-11-11 08:27] JackBoosY commented on #21317
Which Visual Studio version did you install?

[2021-11-11 08:40] jwillemsen opened #21323 "[ace] No support for x64-windows-static-md"
**It looks ace doesn't support x64-windows-static-md yet

**Proposed solution**
Make use the MPC runtime library support, see https://github.com/DOCGroup/MPC/blob/2fb865ff5c429bcecbfb168b48952caaeb038700/docs/templates/vc10.txt#L137

This can be specified when running MPC, like done for UWP, see https://github.com/microsoft/vcpkg/blob/86b23850c376428633e8690b6983028da0c93683/ports/ace/portfile.cma

[2021-11-11 08:44] JackBoosY commented on #21313
That's expected.
vcpkg analyzes dependencies by calling `dumpbin`, but if dynamic-load is enabled, dumpbin will not be able to get them.

[2021-11-11 09:20] tan-wei commented on #16551
@jwillemsen Thanks. Great news!

[2021-11-11 09:21] jwillemsen commented on #16551
You should thank @mitza-oci, he sorted out the issue!

[2021-11-11 09:23] JackBoosY commented on #21198
According to cmake issue https://gitlab.kitware.com/cmake/cmake/-/issues/18811,
The reason why we got this error is `CMAKE_DISABLE_SOURCE_CHANGES` is enabled.
I will check the maintain history later.

[2021-11-11 09:25] JackBoosY commented on #21198
Additional. we can use option `DISABLE_PARALLEL_CONFIGURE` to `vcpkg_configure_cmake` / `vcpkg_cmake_configure` to avoid this.

[2021-11-11 09:34] JackBoosY commented on #21198
This option was introduced by PR https://github.com/microsoft/vcpkg/pull/12846.

[2021-11-11 09:41] NancyLi1013 commented on #21235
The current usage is broken. As you can see, if `noise `is found. `noiseutils` will not be searched again.

https://github.com/qknight/libnoise/blob/032caf6572707e3e3acd5e6a899a315d9ad78d8c/cmake/Modules/FindLibNoise.cmake#L48

This is a bug in upstream.

[2021-11-11 09:46] longhuan2018 opened #21324 "could not find any instance of visual studio"
Host Environment
OS: windows 10
Compiler:  vs2022  (Only this version is installed)

build port : osg

Only vs2022 is installed on my computer, but I also installed v142 (vs2019) and v141 (vs2017) toolset.
At this time, I want to use vs2019 to compile. Is there any way?
I modified the "triplets/x64-windows.cmake" file and added set (vcpkg_platform_toolset v142) in it
[code]
but at this time, "coul

[2021-11-11 09:55] longhuan2018 commented on #21324
The reason for this error is that vcpkg_cmake_configure  will set the - G "Visual Studio 16 2019" parameter of cmake according to the value of VCPKG_PLATFORM_TOOLSET.  Because vs2019 is not installed on my computer, cmake reports an error.

[2021-11-11 09:57] longhuan2018 commented on #21324
Setting the parameter of cmake to -G "Visual Studio 17 2022"  -DCMAKE_GENERATOR_TOOLSET=v142 will solve this problem.
[code]

[2021-11-11 10:00] longhuan2018 commented on #21324
Is there a way to compile both vs and ninja?

[2021-11-11 10:00] gvanem opened #21325 "[GDAL] Build failure: "not a git repository""
**Host Environment**
- OS: Windows-10
- Compiler: MSVC-2019. 19.29.30136 for x86

**To Reproduce**

`vcpkg.exe install gdal:x86-windows --debug`

**Failure logs**
[code]

**Additional context**

The gist of the error is `Failed to get HEAD: fatal: not a git repository: 'F:\gv\VC_project\VCPKG\.git'`.
True, my `VCPKG_ROOT` != the *Git-checkout root*. I fails to see why a `git show HEAD` (?) is impo

[2021-11-11 10:22] Jaime02 opened #21327 "PCL build failure"
**Host Environment**
- OS: Windows 11
- Compiler: MSVC ?

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install pcl`

**Failure logs**
[code]

This are the last lines of the log:

[code]

**Additional context**
It seems like PCL library has a terrible installer

[2021-11-11 10:25] Neumann-A commented on #21324
seems like there should be a triplet variable called `VCPKG_CMAKE_GENERATOR`?

[2021-11-11 10:36] LOVELESSYI commented on #21282
I'm not familiar with Github, and I'm not sure if you want me to do  like this. I first run
 `gh pr checkout 21276`
then
`.\vcpkg.exe install pcl[cuda,opengl,openni2,pcap,qt,tools,vtk]:x64-windows`
But I get the same error as above.

[2021-11-11 10:47] j-horner-c4x commented on #21203
It's odd. That file does exist on the problematic system but it's an empty file and has no extension. On the work system, that file doesn't exist (with or without the extension).

When I launch Powershell I believe its running this file:
`%SystemRoot%\system32\WindowsPowerShell\v1.0\powershell.exe`

My `PATHEXT`: `.COM;.EXE;.BAT;.CMD;.VBS;.VBE;.JS;.JSE;.WSF;.WSH;.MSC`

[2021-11-11 10:53] JonLiu1993 commented on #18756
Fix by #20918

[2021-11-11 11:15] dg0yt commented on #1840
Now the packages are listed on https://vcpkg.io/en/packages.html.

[2021-11-11 11:48] Neumann-A commented on #21312
Has PCRE2 the same API as PCRE? Maybe we can just replace the dependencies.

Also the pcre2 github says:

note the word "unofficial" here

[2021-11-11 13:27] aminya opened #21329 "Allow selecting an exact version of a port inside vcpkg.json instead of using overrides"
Currently, vcpkg only allows specifying the minimum version, and to give an exact version, a separate "override" entry should be used. This is very unintuitive and verbose.

**Is your feature request related to a problem? Please describe.**
Specifying an exact version is hard in the current manifest format

**Proposed solution**
Allow adding `version` entry, which follows the **exact** version.

*

[2021-11-11 14:28] kogiokka opened #21331 "[sdl2-image] JPEG and WEBP features do not work on Linux"
**Describe the bug**
SDL reports error when loading .jpg and .webp images. Both `sdl2-image[libjpeg-turbo]` and `sdl2-image[libwebp]` are installed.

**Environment**
- OS: Linux (Fedora 33)
- Compiler: GCC version 10.3.1 20210422

**To Reproduce**
Steps to reproduce the behavior:
1. `./vcpkg install sdl2 'sdl2-image[core,libjpeg-turbo,libwebp]'`
2. Compile and run the attached project: [SDL_image_

[2021-11-11 14:38] xarthurx opened #21332 "[New Port Request] AMGCL"
**Library name:**
AMGCL

**Library description:**
AMGCL is a header-only C++ library for solving large sparse linear systems with algebraic multigrid (AMG) method. AMG is one of the most effective iterative methods for solution of equation systems arising, for example, from discretizing PDEs on unstructured grids. The method can be used as a black-box solver for various computational problems, sin

[2021-11-11 14:59] maziarmzh opened #21333 "[New Port Request] Cinder"
Library name: Cinder

Library description: Cinder is a peer-reviewed, free, open source C++ library for creative coding.

Source repository URL: https://github.com/cinder/Cinder

Project homepage (if different from the source repository): https://libcinder.org/

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2021-11-11 16:04] mtnpke opened #21335 "[python3] Support building of C extension packages with interpreter"
When installing the Python3 interpreter with vcpkg, it cannot be used to compile C extension packages. It does not find the python.h include files and (on Windows/MSVC) the python39.lib file. Error message: "Cannot open include file: 'Python.h': No such file or directory".
****

**Is your feature request related to a problem? Please describe.**
Trying to install C extension packages fails, but in

[2021-11-11 16:10] JeanPhilippeKernel opened #21338 "Deal with Emscripten SDK older version (Example : Version sdk-fastcomp-1.38.11-64bit)"
****
 VCPKG fails to install Emscripten SDK older version (older than 2.0.32).
it does the right thing when is about to consume a newer version as it fetches CMake module from the `upstream/cmake/Module/Platform` directory.

but older versions use differents directories, for an example `sdk-fastcomp-1.38.11-64bit` uses `emscripten/1.38.11 ` .
That ones cause VCKPG to find and install CMake module.

[2021-11-11 16:23] oyvindln commented on #20811
I will see if I can sort something

[2021-11-11 16:29] dg0yt commented on #21325
It isn't. The git call is an attempt to provide the repo version for the error reporting hint:

Now please provide the revision in another way, provide the actual error message, and attach the log files mentioned in the error message.

[2021-11-11 16:55] Type1J commented on #392
Is there a list of which libraries are built statically and which are built dynamically?

[2021-11-11 17:27] obscurelyme commented on #21313
So if "dynamic-load" is specified, would that mean the user is meant to manually include any additional dependencies in their CMakeLists.txt?

[2021-11-11 17:59] BillyONeal commented on #21203
Hmmm that's sufficiently odd that I don't think we're going to look to add defenses for that unless we know the specific condition is common. I do note, however, that we do want to get powershell out of this business entirely, which would resolve the problem.

[2021-11-11 18:05] ericfont commented on #14943
I experienced this issue to when trying to build qt5-base via vcpkg on github's mac runner:

[code]

(I should note the windows build was successfull)

[2021-11-11 18:26] jparr721 opened #21340 "[qt] build failure"
**Host Environment**
- OS: Windows
- Compiler: MSVC 2019 (Latest)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install qt:x64-windows`

**Failure logs**
[code]

**Additional context**
I updated vcpkg by re-runnng the bootstrap script and saw no change. I tried manually adding the port folder and the items from the ports directory in this repository, this led to other errors.

I can

[2021-11-11 19:07] jparr721 commented on #21340
Out of frustration I deleted and re-added vcpkg to my computer and the error went away. I suspect this is due to vcpkg getting to a new version and getting the port folder. However, I am curious as to why when manually adding it, as well as its requisite files, from the repository didn't work? Is there more involved than simply adding the folder to `${VCPKG_ROOT}/ports/`? I'd like to avoid this in

[2021-11-11 19:34] #19511 closed

[2021-11-11 19:43] dg0yt commented on #21340
It is unclear what was wrong with your repository or environment. And now it is probably no longer possible to ask.

I think that a `git pull` might have been useful. Bootstrapping updates the tool, but it doesn't change repository state.

[2021-11-11 19:46] jparr721 commented on #21340
That makes sense, is this perhaps documented? It was very confusing at first.

[2021-11-11 20:28] dg0yt commented on #21340
Not sure about the documentation. I wish the error message wouldn't point in the wrong direction.

[2021-11-11 20:47] jparr721 commented on #21340
Sure thing, I'll close this for now then.

[2021-11-11 20:47] #21340 closed

[2021-11-11 21:38] #21067 closed

[2021-11-11 21:47] #21148 closed

[2021-11-11 21:56] BillyONeal commented on #17448
Makes sense.

If anyone wants to take a crack at designing the way ports like qt5-base should work without powershell and wants to start from my work-in-progress, here you go: https://github.com/BillyONeal/vcpkg-tool/tree/replace-powershell

I suspect we need to let ports create some kind of a marker file next to their DLLs that says 'if this DLL is applocally deployed, also applocal deploy these

[2021-11-11 21:56] BillyONeal commented on #17448
(I want to resolve this problem but don't expect I'll have time to look again before mid-December)

[2021-11-11 22:06] dg0yt commented on #17448
@BillyONeal Wrt to applocal.ps1 I would still suggest to try CMake first.

[2021-11-11 22:16] BillyONeal commented on #17448
When applocal.ps1 there is not necessarily any cmake available.

[2021-11-12 00:42] affonsoelias commented on #21312
I put the PCRE2 package as @JackBoosY directed. In C:\vcpkg\downloads. it worked but I got another error

.\vcpkg install gtk
Computing installation plan...
The following packages will be built and installed:
  * atk[core]:x86-windows -> 2.36.0#1
  * brotli[core]:x86-windows -> 1.0.9#2
  * bzip2[core]:x86-windows -> 1.0.8#2
  * cairo[core,fontconfig,freetype,gobject]:x86-windows -> 1.17.4#2
  * di

[2021-11-12 02:22] JackBoosY commented on #21282
@LOVELESSYI Can you please provide file _C:/vcpkg/packages/pcl_x64-windows/lib/pkgconfig/pcl_io-1.12.pc_ ?

[2021-11-12 02:28] JackBoosY commented on #21313
@obscurelyme Yes, vcpkg will build the dependencies but won't install them into the same dir.

[2021-11-12 02:30] LOVELESSYI commented on #21282
[code]

[2021-11-12 02:31] JackBoosY commented on #14943
That's means `VCPKG_OSX_DEPLOYMENT_TARGET` is not defined or empty.

[2021-11-12 02:34] treellama commented on #20930
I don't think upstream is going to fix this--the library hasn't been updated in years. Will vcpkg not accept patches to fix builds on community triplets?

[2021-11-12 02:40] JackBoosY commented on #21312
[code]
Please delete folder _C:/vcpkg/downloads/tools/python_ and try again.
That because python.exe dependencies are missing.

[2021-11-12 02:41] JackBoosY commented on #21282
Ah missing a space.

[2021-11-12 02:44] JackBoosY commented on #21282
Please pull my latest changes and try again.

[2021-11-12 02:45] JackBoosY commented on #21338
Can you provide a reproduce step?

Thanks.

[2021-11-12 02:47] JackBoosY commented on #20930
@treellama  For the source code changes, we should have the upstream approval.

[2021-11-12 02:50] treellama commented on #20930
Is there a policy for how to handle libraries which don't have upstream maintainers? Out of all the vcpkg ports this can't be the only one

[2021-11-12 03:05] JackBoosY commented on #21331
`Failed loading libwebp-4.dll: libwebp-4.dll: cannot open shared object file: No such file or directory`
In Linux triplet, weird.

[2021-11-12 03:08] longhuan2018 commented on #21324
VCPKG_CMAKE_GENERATOR Not valid in this case

[2021-11-12 03:34] longhuan2018 commented on #21324
My idea is to add a VCPKG_GENERATOR_TOOLSET to correctly generate the -G parameter of cmake.
vcpkg_configure_cmake.cmake
[code]

Add  VCPKG_GENERATOR_TOOLSET output in vcpkg-tool
vcpkgpaths.h
[code]
build.cpp
[code]
visualstudio.cpp
[code]

[2021-11-12 03:42] ericfont commented on #19293
I spent time trying to edit the cmake file and figure out how to get the python catkin thing working with vcpkg, but I gave up.  I wonder if removing the catkin dependency is eaiser, cause it is only used for the build configuration I think.

[2021-11-12 04:58] tan-wei commented on #16551
Thanks @mitza-oci. :-P

[2021-11-12 05:08] LOVELESSYI commented on #21282
Hello. After rebuilding, I still got the same error. Here's the new "pcl_io-1.12.pc". I can see a space has been added behind  "-lOpenNI2"
[code]

[2021-11-12 05:12] LOVELESSYI commented on #21282
And there is no file named "libopenni2.pc" in "C:\vcpkg"

[2021-11-12 05:37] obscurelyme commented on #21313
Sounds good. I'll go ahead and close.

[2021-11-12 05:37] #21313 closed

[2021-11-12 06:00] JackBoosY commented on #21282
@LOVELESSYI Please provide the output.

[2021-11-12 06:02] LOVELESSYI commented on #21282
`.\vcpkg.exe install pcl[cuda,opengl,openni2,pcap,qt,tools,vtk]:x64-windows`
[code]

[2021-11-12 06:06] NancyLi1013 commented on #17457
Thanks for the clarification from @cenit. Seems this issue is clear now, I agree with the opinions from @cenit. Sorry for my previous confusion.

[2021-11-12 06:06] #17457 closed

[2021-11-12 06:14] holmescn commented on #20844
The PR is dropped, but the branch will be maintained until someone finds an elegant method to support Android NDK r21+ that are based on the clang compiler. I will keep the branch upgrade to the latest branch from microsoft/vcpkg. It could be a reference for any successor. Thanks to anyone who reviewed the PR.

[2021-11-12 06:23] NancyLi1013 commented on #21324
Hi @longhuan2018

Thanks for posting this issue. It's duplicated to #7318, let's move attention to #7318.

[2021-11-12 06:23] #21324 closed

[2021-11-12 06:27] longhuan2018 commented on #7318
My idea is to add a VCPKG_GENERATOR_TOOLSET to correctly generate the -G parameter of cmake.
vcpkg_configure_cmake.cmake
[code]

Add  VCPKG_GENERATOR_TOOLSET output in vcpkg-tool
vcpkgpaths.h
[code]
build.cpp
[code]
visualstudio.cpp
[code]

[2021-11-12 06:33] RomanTruhanov commented on #21260
nope i am tested 3 version visual studio: 2019 (compiller version 16.11.6)  2022 current (compiller version 17.0.0) and 2022 Preview (compiller version 17.1.0 preview 1) debug building work fine but in release build failed.  Maybe it's build bug...

![image](https://user-images.githubusercontent.com/13104248/141421111-694c1493-b190-4ded-86c1-89a7bbd91b93.png)

full logs my qtwebengine buildtree

[

[2021-11-12 06:33] longhuan2018 commented on #7318
@ceranco  You can try this PR #21342,  Just add one more line to the  x64-windows.cmake file
[code]

[2021-11-12 06:54] JackBoosY commented on #21282
@LOVELESSYI  Please test again.

[2021-11-12 07:17] dannypike opened #21343 "[qt5] build failure on Windows"
**Host Environment**
- OS: Windows 10
- Compiler: VS 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install qt5`

**Failure logs**
[code]

I upgraded this morning and the build now fails. It was working a few days ago.

[2021-11-12 07:27] NancyLi1013 commented on #21260
@RomanTruhanov

Please move attention to #20702.

[2021-11-12 07:36] RomanTruhanov commented on #21260
yes im frist to use set(VCPKG_VISUAL_STUDIO_PATH "C:\\Program Files (x86)\\Microsoft Visual Studio\\2019\\Enterprise") and clean rebuilding... but not working