[2020-11-10 11:08] Neumann-A commented on #14490
That is simply a problem of not correctly setting it up. Use
[code]
to limit the amount of libraries it includes/tries to copies.

[2020-11-10 11:21] Shatur95 commented on #14490
I know about this, but most of the copied libraries had different names in my case and I would have a long list.
Not sure if manually setting this is a good idea.
What the problem with `applocal.ps1`?

[2020-11-10 11:31] DieterDorsch commented on #14486
i am sorry #12865 brings no solution
the error is the same
[install-arm-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/5516892/install-arm-windows-dbg-out.log)

[2020-11-10 11:36] abique commented on #14424
The buildbot used: git version 2.7.4

[2020-11-10 11:39] abique commented on #14424
The build server is using Ubuntu 16.04.3 LTS, and there is no newer git available from the package manager.

[2020-11-10 11:41] abique commented on #14424
This is strange I did the clone of the git repository manually and I could checkout the tag reference.
I'll try again from vcpkg.

[2020-11-10 11:46] abique commented on #14424
This command fails and is repoduceable: `/usr/bin/git fetch https://sourceware.org/git/bzip2.git 75a94bea3918e612b879d6a11ca64b8689526147 --depth 1 -n`

[2020-11-10 11:47] abique commented on #14424
This one also fails:
`/usr/bin/git fetch https://sourceware.org/git/bzip2.git 6a8690fc8d26c815e798c588f796eabe9d684cf0 --depth 1 -n
error: no such remote ref 6a8690fc8d26c815e798c588f796eabe9d684cf0`

[2020-11-10 13:44] nil-is-lin opened #14501 "When should I upgrade?"
vcpkg is now very actively maintained, which is very exciting. But this causes me to always get updates every time I run git pull & vcpkg upgrade. There are several libraries, such as vtk, opencascade, mlpack, qt5, that I have rebuild several times, can there be a hint to tell the user which updates are important and which can be left alone for now? Because it does take a lot of time for my comput

[2020-11-10 15:24] wrobelda commented on #14494
I suppose that in this case the [cmake-packages manpage](https://cmake.org/cmake/help/v3.6/manual/cmake-packages.7.html#using-packages) is quite misleading: even if it *does* make a point that the "Handling of `COMPONENTS` and `OPTIONAL_COMPONENTS` is defined by the package", the examples it uses that it is supported by the Qt itself :

[code]

This does work indeed.

[2020-11-10 15:29] #14494 closed

[2020-11-10 15:49] longnguyen2004 commented on #13749
Confirmed it's an error in the b2 options, will have a fix soon

[2020-11-10 15:51] longnguyen2004 commented on #14163
It's a bug in Boost.Build 1.73.0, please update to 1.74.0

[2020-11-10 16:14] thumpro commented on #14012
I will update as soon as I find time.

[2020-11-10 17:37] #8396 closed

[2020-11-10 18:23] StarGate-One commented on #14424
@abique cc: @NancyLi1013
Did some more research... Found a version of git 2.7.4 for windows portable...
1. So it does seem version git 2.7.4 does not work for either reference
    - >->git fetch https://sourceware.org/git/bzip2.git 6a8690fc8d26c815e798c588f796eabe9d684cf0 --depth 1 -n

    - >->git fetch https://sourceware.org/git/bzip2.git 75a94bea3918e612b879d6a11ca64b8689526147 --depth 1 -n

2.

[2020-11-10 19:22] tombadmanship opened #14506 "several libraries fail to download with identical errors"
**Describe the bug**
vcpkg install fails with this collection of 7 libraries.

bzip2:x64-windows-static
eigen3:x64-windows-static
libffi:x64-windows-static
pcre:x64-windows-static
protobuf:x64-windows-static
protobuf:x86-windows-static
zlib:x64-windows-static

**Environment**
Windows

**To Reproduce**
Steps to reproduce the behavior:
1. .\vcpkg install xxxx
2. See error

**Expected behavior**
I th

[2020-11-10 19:34] gracicot opened #14507 "CMAKE_FIND_USE_CMAKE_SYSTEM_PATH and CMAKE_FIND_USE_CMAKE_PATH to OFF blocks CMake from finding vcpkg packages"
**Describe the bug**
When setting `CMAKE_FIND_USE_CMAKE_SYSTEM_PATH` and `CMAKE_FIND_USE_CMAKE_PATH` to OFF, it cannot find packages installed by vcpkg. This was my attempt to block CMake from finding system provided libraries.

**Environment**
- OS: Linux Ubuntu 20.04 (docker)
- Compiler: GCC 10.0.1

**To Reproduce**
Steps to reproduce the behavior:
1. Have a simple manifest file installing a pac

[2020-11-10 20:22] luizfernandonb opened #14508 "Wrong version of OpenSSL was installed"
I recently installed OpenSSL via vcpkg, but it installed a different version than the one I had when I checked for the package, here is the version it should install:
![image](https://user-images.githubusercontent.com/42288418/98728881-d619e100-2378-11eb-8b09-1e9c97dcb38b.png)

Here is the version he installed:
![image](https://user-images.githubusercontent.com/42288418/98729034-0c576080-2379-11eb

[2020-11-10 20:42] StarGate-One commented on #14508
1. What do you get when you open a command prompt and end `where openssl`?
2. Unless you have added `[vcpkg-root]\installed\[triplet]\tools\openssl` to the windows environment variable path, windows will execute from the first place it finds an executable binary named openssl.
3. `cd [vcpkg-root]\installed\[triplet]\tools\openssl` and enter `.\openssl version` and what to you get?
4. Note: `openss

[2020-11-10 21:04] luizfernandonb commented on #14508
Thanks, I noticed that OpenSSL was also installed by MinGW Installation Manager when I typed `where openssl`, I removed it, but now when I type ʻopenssl`, an error appears on the console, is it normal?

[2020-11-10 21:35] plettplett opened #14509 "[openimageio:x64-linux ] build failure"
gcc (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0
[install-x64-linux-dbg-out.log](https://github.com/microsoft/vcpkg/files/5520273/install-x64-linux-dbg-out.log)
[install-x64-linux-dbg-out.log](https://github.com/microsoft/vcpkg/files/5520298/install-x64-linux-dbg-out.log)
[stdout-x64-linux.log](https://github.com/microsoft/vcpkg/files/5520299/stdout-x64-linux.log)

$ sudo ./vcpkg upgrade --no-dry-run

Err

[2020-11-10 21:57] Neumann-A commented on #14507
How are you setting `CMAKE_PREFIX_PATH`? (If you do a simple `set` there is your error)
Simply check if your `CMAKE_PREFIX_PATH` contains the vcpkg paths if not you messed something up (assuming you are using the toolchain vcpkg.cmake)

[2020-11-11 01:32] ivanovmp opened #14511 "[libvpx[core]:x64-windows] build failure"
**Host Environment**
- OS: Windows 10 Home Single Language (Russian) x64
- Compiler: Microsoft (R) C/C++ Optimizing Compiler Version 19.27.29110

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install libvpx[core]:x64-windows`

**Failure logs**
[code]

**Additional context**
As far as I know, if some `vcpkg` packages require some other packages, `vcpkg` manages to install them all in t

[2020-11-11 01:40] ivanovmp opened #14512 "Incorrect behaviour of package counter"
**Describe the bug**
A clear and concise description of what the bug is.

**Environment**
- OS: Windows 10 Home Single Language (Russian) x64
-Compiler: Microsoft (R) C/C++ Optimizing Compiler Version 19.27.29110

**To Reproduce**
Steps to reproduce the behavior:
1. Have some of undermentioned packages already installed.
2. `./vcpkg install boost:x86-windows boost:x64-windows zlib:x86-windows zlib

[2020-11-11 01:53] NancyLi1013 commented on #8396
Hi @lakinwecker

`netcdf-cxx4` has been updated to export cmake targets, please try to update vcpkg to the latest version to rebuild this port.

The usage is like this:
[code]

[2020-11-11 02:15] JackBoosY commented on #13614
@mok-cn 应该是dll没复制到你library或executable目录下，复制一下就好了。

[2020-11-11 02:35] JackBoosY commented on #14511
Now we have to manually install the dependencies of different triplet.

[2020-11-11 02:38] JackBoosY commented on #14512
Low priority。

[2020-11-11 02:59] PhoebeHui commented on #14512
Duplicated to https://github.com/microsoft/vcpkg/issues/13130.

[2020-11-11 02:59] #14512 closed

[2020-11-11 05:16] gracicot commented on #14507
@Neumann-A When I was not using vcpkg, I was setting `CMAKE_PREFIX_PATH` using a file that configured everything so that `find_package` would work out of the box. (of course, I used `list(APPEND ... ....)` for that)

Now that I'm trying to change to vcpkg, I expect not touching this variable at all. I also expect that it's possible enabling vcpkg in a way that CMake won't find packages, executable

[2020-11-11 05:48] gracicot commented on #14507
Uh, it seem my issue is only happening with boost. In the end it might only be a problem with this particular package. Sorry that I didn't researched the problem further before posting.

Here's the project that reproduce the issue:

**vcpkg.json**
[code]

**CMakeLists.txt**
[code]

**main.cpp**
[code]

Removing either `set(CMAKE_FIND_USE_CMAKE_SYSTEM_PATH OFF)` or `set(CMAKE_FIND_USE_CMAKE_PATH OF

[2020-11-11 06:10] PhoebeHui commented on #14508
@luizfernandonb, what error does it show in console?

For me:
F:\vcpkg\src\installed\x64-windows\tools\openssl>openssl.exe version
OpenSSL 1.1.1g  21 Apr 2020

[2020-11-11 06:24] PhoebeHui commented on #14501
@nil-is-lin, I think you can try following steps to avoid to rebuild all updated packages every time.

1. Git pull the latest source, and rebuild vcpkg if there has new change from vcpkg, this could make sure you get the latest feature every time.
2. Avoid to use 'vcpkg upgrade', since it will rebuild all updated ports, however, you may not need the latest revision for all these ports, you can onl

[2020-11-11 06:26] PhoebeHui commented on #14163
@x-bruce, boost has been upgrade to 1.74.0, could you get latest source and see if the issue still persist?

[2020-11-11 06:42] NancyLi1013 commented on #14393
Hi @andreasxp
Thanks for posting this issue.

Do you use the archive whose repo was deleted to debug?

Every time you install the port, it will create a new binary cache that is put in archive folder. But every archive should not be related with each other.

[2020-11-11 07:13] JonLiu1993 commented on #14492
Duplicated to [#4756 ](https://github.com/microsoft/vcpkg/issues/4756)

[2020-11-11 07:13] #14492 closed

[2020-11-11 07:21] FishHe opened #14513 "[New Port Request] AliceVison: for sfm and mvs"
https://github.com/alicevision/AliceVision is a more active project for sfm and mvs than openmvg and openmvs, and this project is widely used by many scholars and programmers. Is there any plan to import this lib?

[2020-11-11 07:28] zibingrong opened #14514 "[New Port Request] mariadb-connector-cpp"
Library name: mariadb-connector-cpp

Library description: This is a beta release of the MariaDB Connector/C++.

Source repository URL: https://github.com/mariadb-corporation/mariadb-connector-cpp

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2020-11-11 07:35] JonLiu1993 commented on #13479
I'm closing this issue for now since there is no response.

Please feel free to reopen this if it is still a problem for you.

[2020-11-11 07:35] #13479 closed

[2020-11-11 07:39] JonLiu1993 commented on #13651
I'm closing this issue for now since there is no response.

Please feel free to reopen this if it is still a problem for you.

[2020-11-11 07:39] #13651 closed

[2020-11-11 07:41] NancyLi1013 commented on #14506
Hi @tombadmanship

Thanks for posting this issue.

It seems that you didn't use the latest vcpkg.

Could you please try to use `git pull ` to update vcpkg to the latest version and then rebuild these ports?

[2020-11-11 07:56] dalle opened #14515 "Incorrect changelog for 2020.11"
It seems as the changelog for [release 2020.11](https://github.com/microsoft/vcpkg/releases/tag/2020.11) contains duplicate entries from changelog for [release 2020.07](https://github.com/microsoft/vcpkg/releases/tag/2020.07).
The 2020.11 changelog also doesn't include a lot of updated ports in the release.

[2020-11-11 08:05] pahgrobler opened #14516 "[simage] build failure"
**Host Environment**
- OS: [Windows 10 Pro]
- Compiler: Visual Studio Community 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install simage:x64-windows`

**Failure logs**
Error: Building package simage:x64-windows failed with: BUILD_FAILED

[config-x64-windows-out.log](https://github.com/microsoft/vcpkg/files/5522686/config-x64-windows-out.log)

[2020-11-11 08:17] NancyLi1013 commented on #14509
Hi @plettplett

Thanks for posting this issue.

[code]
It looks like the definition `-D-DOpenColorIO_STATIC ` is not correct.

Could you please try to update this and then rebuild the port?

_../src/cmake/modules/FindOpenColorCI.cmake_
[code]
Please refer to this doc
https://cmake.org/cmake/help/v3.18/command/target_compile_definitions.html#command:target_compile_definitions

[2020-11-11 08:35] nil-is-lin commented on #14501
Thank you very much for your advice. maybe it's a compromise to check the release tag and update it in my free time.

[2020-11-11 08:35] #14501 closed

[2020-11-11 08:35] NancyLi1013 commented on #14334
@CtrlAltWaverick

Could you please provide your test environment info?

OS:
Compiler:
Steps to reproduce:

Thanks.

[2020-11-11 08:37] NancyLi1013 commented on #14151
Closing this issue for no response here.

[2020-11-11 08:37] #14151 closed

[2020-11-11 08:40] zibingrong commented on #14470
@PhoebeHui It is work. Thank you very much.

[2020-11-11 08:45] abique commented on #14424
I can see a few solutions to this issue:

- Raise the minimum version requirement of git, and perform the necessary checks
- Use different checkout strategy depending on the git version
  - with recent git client, lightweight checkout
  - with older git client, full checkout then revision checkout
- Maybe the web interface to the git repository provides a way to download a tarball of a given revis

[2020-11-11 08:46] vicroms commented on #14515
Hi @dalle thanks for reporting, we are in process of migrating our CHANGELOG generator from TypeScript to PowerShell in order to publish it alongside the rest of our scripts.

Hopefully, in future releases we will be able to reduce the number of bugs in the generator.

[2020-11-11 08:46] #14515 closed

[2020-11-11 08:55] JonLiu1993 commented on #13183
@BasitJaved ，It seems from the log that your cuda version is not compatible, my cuda version is V11.0.221, I tried twice to install successfully. You can try to download the cuda version of @KyryloAntoshyn  or download my cuda version, please try again
[code]

[2020-11-11 09:09] JonLiu1993 commented on #14338
Duplicate to [#13565](https://github.com/microsoft/vcpkg/issues/13565)

[2020-11-11 09:09] #14338 closed

[2020-11-11 09:20] JonLiu1993 commented on #14390
@tapirnose ，Thanks for posting this issue,This question may be related to cudnn. What is the version of cudnn you installed?

[2020-11-11 09:36] Neumann-A commented on #14507
according to the `find_package` documentation you want to remove `set(CMAKE_FIND_USE_CMAKE_PATH OFF)`

[2020-11-11 10:06] NancyLi1013 commented on #14516
Hi @pahgrobler

Thanks for posting this issue.

[code]
Which version of CMake you used?

I cannot reproduce this on my machine.

[code]

[2020-11-11 10:35] PhoebeHui commented on #14114
@MrBolt2005, I reprod this issue with ./vcpkg install opencl[wdk]:x64-windows, the /vcpkg install opencl[core]:x64-windows built successfully.

I will take a look at the feature.

[2020-11-11 10:38] longnguyen2004 commented on #12385
I just noticed @Neumann-A's excellent PR #12936 which removed the hardcoded `cl.exe` and now x264 builds with x64-mingw-dynamic with some fixes. Thank you for the help, I'll make a PR for the fixes later.

[2020-11-11 10:51] Laro88 opened #14519 "[paho] update to 1.4 (Photon)"
Library name: Eclipse Paho

New version number: 1.4 (Photon)

The subscription callback includes the MQTT clientid who did the publish of the message is available in 1.4, hence the request.
link to paho on github [paho.mqtt.cpp](https://github.com/eclipse/paho.mqtt.cpp)

[2020-11-11 10:56] PhoebeHui commented on #14114
I noticed that WDK support has been removed from upstream https://github.com/KhronosGroup/OpenCL-ICD-Loader/commit/fe09ad1bd76b15e3c90f2ec3fa9df35b2535e76b, we may need to remove the feature.

From CMakeList.txt file, it looks to check the D3DJMT header files in windows kits. see

[code]

[2020-11-11 11:39] MathiasMagnus commented on #14114
Indeed, the ICD loader has removed it's dependence on the Windows Driver Kit. It got pulled in for a handful of typdefs, which are now borrowed a minimalistic self-contained header from the Vulkan SDK. This feature only needed removal, because MS SDKs are huuuge (Windows 10 SDK is multi GBs, and the WDK is huge as well). Selfhosting these definitions sort-of scrapes the issue under the rug and wil

[2020-11-11 11:39] luizfernandonb commented on #14508
![image](https://user-images.githubusercontent.com/42288418/98807361-4b2cfb00-23f9-11eb-8a39-447251fd7ecc.png)

'openssl' is not recognized as an internal command
or external, an operable program or a batch file.

[2020-11-11 11:43] MathiasMagnus commented on #14114
Just a heads-up, there is a massive revamp (and facelift) in the consumption of OpenCL packages which will touch upon all Khronos OpenCL libraries. The first PR opened on OpenCL-Headers is [under review](https://github.com/KhronosGroup/OpenCL-Headers/pull/107). It aims on being fully backwards compatible with the current Find Module scripts provided by CMake and hence are coupled with comprehensiv

[2020-11-11 12:07] jmelas opened #14520 "[snappy] Please do NOT build snappy using special processor instructions (BMI2, SSSE3)"
****

**Is your feature request related to a problem? Please describe.**
Compiling snappy using processor instructions available in building computer makes the produced programs undeployable to customers computers. Please never enable special instructions to vcpkg ports and make them optional if possible.

**Proposed solution**
SNAPPY_HAVE_BMI2, SNAPPY_HAVE_SSSE3 should be 0 while building

**Desc

[2020-11-11 12:53] pahgrobler commented on #14516
I used Cmake 3.19.0-rc1.

I changed it to 3.18.4.
_Problem solved !!!!_

Thank you very much for your help.

[2020-11-11 12:59] #14516 closed

[2020-11-11 13:02] sfhacker commented on #14508
Are we **STILL** having issues with OpenSSL?

[2020-11-11 13:44] gracicot commented on #14507
@Neumann-A Why is that? Is it because `CMAKE_FIND_USE_CMAKE_PATH` will disable find modules that are shipped with CMake and in the case I stated we need those find modules?

[2020-11-11 14:04] andreasxp commented on #14393
Hi @NancyLi1013, thanks for taking a look at this.

I'm not sure I understand the question. By "repo" do you mean a clone of vcpkg repo that was later deleted? Then yes, but I did not do this on purpose. Judging by the location of the cache folder `~/AppData/Local/vcpkg/archives` I assume there is only one archive per user and this archive is used by all vcpkg instances.

You said that every time

[2020-11-11 14:12] tapirnose commented on #14390
I have not yet heard of cudnn; how would I check its version or whether I have it installed at all?
It does not show up in the list of packages installed via vcpkg.

[2020-11-11 14:29] Neumann-A commented on #14507
@gracicot  disabling `CMAKE_FIND_USE_CMAKE_PATH` disables usage of `CMAKE_PREFIX_PATH` which vcpkg uses/sets. It is as simple as that. Please reread https://cmake.org/cmake/help/latest/command/find_package.html

[2020-11-11 14:33] gracicot commented on #14507
Hmm, you're right. I'll close this issue. Thanks. It seems in my examples I was assuming other things and I overlooked this.

[2020-11-11 14:33] #14507 closed

[2020-11-11 14:41] JoshAXP opened #14524 "[CURL] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: vcpkg install curl:x64-windows

**To Reproduce**
Steps to reproduce the behavior:
D:\Root\vcpkg>vcpkg install curl:x64-windows

**Failure logs**
D:\Root\vcpkg>vcpkg list
curl:x86-windows                                   7.73.0#1         A library for transferring data with URLs
curl[non-http]:x86-windows                                          En

[2020-11-11 15:53] vadi2 opened #14525 "[vcpkg] vcpkg requires dumpbin.exe with gcc on windows"
**Describe the bug**
Very similar to https://github.com/microsoft/vcpkg/issues/11467, but for GCC - `objdump` is not used an an error is given: `       | Neither dumpbin nor llvm-objdump could be found. Can not take care of dll dependencies.`

**Environment**
- OS: Windows
- Compiler: MinGW 8.1.0

**To Reproduce**
Steps to reproduce the behavior:
Build with vcpkg and mingw.

**Expected behavior**

[2020-11-11 15:53] vadi2 commented on #14525
Workaround for the time being is to use `-DVCPKG_APPLOCAL_DEPS=OFF`.

[2020-11-11 16:47] BaderEddineOuaich opened #14526 "[vcpkg.json] Keep built dependencies after switching configurations"
Using vcpkg.json in a Visual Studio 2019 version 16.8 Project.
i build x86-windows dependencies successfully. and i switch to other configuration x64-windows which results in deleting the previous one built binaries. now it will require a total rebuild when switching again to the previous configuration.
i suggest keeping the other configurations binaries at vcpkg_installed until the user call vcpk

[2020-11-11 16:57] BaderEddineOuaich commented on #14526
i was wrong about the 'total rebuild', its not rebuilding it from the sources again. i just find out that its only built once and cached in  `C:\Users\USER\AppData\Local\vcpkg\` which is great!
closing the issue.

[2020-11-11 16:57] #14526 closed

[2020-11-11 16:57] #14463 closed

[2020-11-11 16:58] strega-nil commented on #14458
@AntonioCS unfortunately, not really; however, if you're on the discord, you can ping me (@strega-nil) and I'll try to work with you on it :)

[2020-11-11 17:23] sfhacker commented on #14524
There seems to be dozens of open issues about cURL (and/or where cURL is mentioned).
Do not know what's going on!

I have had no issues building it from source on Windows 10 x64. It took a few mins on an old laptop.
Most probably your environment is broken somehow.

![image](https://user-images.githubusercontent.com/25817529/98843083-95b48300-249e-11eb-9453-cd7b0e17bddb.png)

Let us know if we can

[2020-11-11 17:28] sfhacker commented on #14525
Pardon my question: what is dumpbin needed for when building ports from source on MinGW?
We build large and complex projects from source on a regular basis and dumpbin has never been required!

[2020-11-11 17:35] vadi2 commented on #14525
dumpbin is not needed with mingw, it has its own objdump.

[2020-11-11 17:37] StarGate-One commented on #14424
@abique cc: @NancyLi1013 @JackBoosY @BillyONeal @strega-nil @Neumann-A @Voskrese @vicroms @ras0219-msft
- I think this would be something the Project Sponsors at Microsoft would need to discuss and decide on a direction to go.
- All your suggestions are viable solutions...
- Except mandating a new version of git only supporting lightweight checkout, although the easiest solution to implement, may

[2020-11-11 17:39] strega-nil commented on #14470
This seems to have been figured out! Thanks y'all, if you need any other help please don't hesitate to open another issue.

[2020-11-11 17:39] #14470 closed

[2020-11-11 17:50] #13500 closed

[2020-11-11 17:54] strega-nil commented on #14500
@OgreTransporter `format-manifest` _should_ replace the newlines... it's very odd that it doesn't.

[2020-11-11 18:12] StarGate-One commented on #14471
When you do a **`git pull`**, if any files are changed, added or deleted in the directory/folder **`[vcpkg-root]/toolsrc`** you need to bootstrap vcpkg again:
1, open cmd, powershell prompt or sh (ksh, csh, zsh, bash, etc) terminal window
2. `cd [vcpkg-root]`
3. On:
    - Windows `.\bootstrap-vcpkg.bat`
    - Linux `./bootstrap-vcpkg.sh`

[2020-11-11 18:16] StarGate-One commented on #14524
@JoshAXP Please attach the file `D:\Root\vcpkg\buildtrees\curl\install-x64-windows-dbg-out.log` to this issue in order for us to review.

[2020-11-11 18:54] Keithcat1 opened #14527 "Binaries that statically link SDL2:x64-windows-static-md are exporting symbols"
Statically linking SDL2 build using the x64-windows-static-md triplet causes "dumpbin /exports out.exe" to output exported C symbols from SDL2.
I think this is also stopping the linker from doing dead code removal because it thinks the symbols are required. Can this be fixed? Thanks.

[2020-11-11 18:58] AntonioCS commented on #14458
@strega-nil I am on the cpp slack #vcpkg channel, don't know about the one on discord, will investigate! Thanks

[2020-11-11 19:33] strega-nil commented on #14458
Yup! Sorry, not on the slack for Reasons.

[2020-11-11 20:08] dbonhaus commented on #9947
I no longer see any link errors as of vcpkg 2020.11 if I use find_package(VTK CONFIG REQUIRED). It doesn't work with lower case vtk. If I specify components in the find_package command, I see the link error again, but that seems like a VTK issue rather than a vcpkg issue.

[2020-11-11 21:00] Neumann-A commented on #14508
@luizfernandonb You have to go to `<vcpkgroot>/installed/<triplet>/tools/openssl` to execute openssl.exe built by vcpkg. vcpkg does not magically add the path to the PATH env variable. Please lern how windows/cmd does binary/executable lookup via PATH environment. StarGate-One clearly explained how to execute openssl.exe built by vcpkg.

@PhoebeHui Just close the issue. This has nothing to do with

[2020-11-11 21:29] strega-nil commented on #14424
I think that the solution to this is to stop using the ref of the tag, and just use the commit ref (which should work...)

[2020-11-11 21:39] abique commented on #14424
See https://github.com/microsoft/vcpkg/issues/14424#issuecomment-724881295 using the commit ref does not always work.

[2020-11-11 21:47] Neumann-A commented on #14424
Hmm does vcpkg not automatically get portable git from somewhere? I thought it would do that. Maybe just insert a version check and see if the system version is higher than the one within vcpkg? If not just use the version within vcpkg. (Just like Ninja/Meson etc.)
Also using an outdated git version is a security risk so somebody should probably update it.

[2020-11-11 22:06] BillyONeal commented on #14424
At this time git is one of our prerequisites; we assume the user's git works because that's how they got our repo in the first place, and I don't think we've had issues of this kind before.

[2020-11-11 22:10] JoshAXP commented on #14524
Thanks John,
Tried it on 3 diff machines, same result.

Did you run vcpkg install curl:x64-windows?

32bit version builds fine, but 64 bit only Part 1 (zlib) builds. Part 2/2 fails after applying patch 11
going to a line that says
configuring x64-windows...

What I found is even on an i7 with 16Gb the sys resources seem to get used up and not released, to the point where you cannot even start note

[2020-11-11 22:17] strega-nil commented on #14424
@abique we should not be fetching one commit; git servers _hate_ that.

[2020-11-11 22:21] sfhacker commented on #14525
That's good to know!

What is dumpbin doing in your MinGW environment then? Are you mixing environments and/or tools?

[2020-11-11 22:24] StarGate-One commented on #14424
To summarize:
- The issue is with a `git fetch`
- Where a repository is using a `lightweight framework` commit in tags/releases
- Where a repository is only allowing fetches on `advertised objects` (in this case only tags/releases)
- Which is not supported by older versions of git
- and fail for all versions of git when attempting to fetch `unadvertised objects`

[2020-11-11 22:27] sfhacker commented on #14524
There are some open issues about zlib.
There are also reported issues that vcpkg takes many hours to build a simple or small port.
No idea what's going on here.
As I said, on my old laptop it builds just fine.

Can you post the screenshot showing the error messages you get when building this port?

[2020-11-11 22:32] kamilz98 commented on #14471
I did the bootstrap and no more error shows. Thanks.

[2020-11-11 22:32] #14471 closed

[2020-11-11 22:50] JoshAXP commented on #14524
[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/5527161/install-x64-windows-dbg-out.log)
Here is the log file requested.

@sfhacker, The X86-windows version built perfectly ok, even though it took 8 hours, however the x64 windows build would only work by completing part 1, the zlib, Part 2/2 which comprises Curl[core, ssl, winssl, schannel etc] produced the following out

[2020-11-11 22:51] JoshAXP commented on #14524
BTW @SFhacker, I could not post a screenshot as I had copied the console text as above, but couldn't start paint to save the screenshot.

[2020-11-11 23:00] JoshAXP commented on #14524
@sfhacker, can you try running **vcpkg install curl:x64-windows** to see if you get the same issue? The console will produce  the above long list of log entries, but i would hope at some point it would end!
Note: I am trying to build the 64bit libraries for use in a C++ project. Can you **vcpkg list curl
![gnu-vcpkg-libs-installed](https://user-images.githubusercontent.com/74308519/98874204-b15564

[2020-11-11 23:02] JoshAXP commented on #14524
@sfhacker Sorry, just noticed (it's late here), yes of course you have the 64bit curl exe built. I have no idea what I need to do to fix this, as its the same failed result on 3 different machines!

[2020-11-11 23:17] StarGate-One commented on #14524
- The log file `D:\Root\vcpkg\buildtrees\curl\install-x64-windows-dbg-out.log` shows:

- Something else (most likely that antivirus scanner) is opening the file or scanning it - see https://docs.microsoft.com/en-us/cpp/error-messages/tool-errors/linker-tools-error-lnk1168?view=msvc-160
- You may need to either temporarily disable the antivirus and/or added path/file scan exemptions to the antiviru

[2020-11-11 23:19] #14263 closed

[2020-11-11 23:28] #14425 closed

[2020-11-11 23:46] JoshAXP commented on #14524
Thanks SG1 ! I'll give that a go. I tried re-running as-is, before I saw your informative answer... I'll try your suggestions and report back

[2020-11-12 00:14] JoshAXP commented on #14524
I navigated to the e:\root\vckpg where the vckpg is based.  cd'd to the buildtrees and saw the curl directory, executed your command to delete. But when I tried to run the install it gave a new error, I would guess the curl folder was important for something!
E:\root\vcpkg>vcpkg install curl x64-windows
Computing installation plan...
Error: while loading port `x64-windows`: Port definition not fou

[2020-11-12 00:15] JoshAXP commented on #14524
Apologies General Jack O'Neil, ... (I would never have guessed Jack would know about C++, Sam, yes). :)
 I was being dumb, forgot the : in curl:x64-windows

[2020-11-12 00:16] JoshAXP commented on #14524
Paused Kaspersky Scanning ... but it looks like its going to die in the same place as before. What I don't get is why the x86 libs had no problem running.

[2020-11-12 00:25] JoshAXP commented on #14524
What I have also noticed is that something rather toxic happens after the 64bit build has started, the machine grinds to a crawl, and after that nothing else will work the longer I leave the build process unattended. This has happened on 3 different windows 10 machines. I seem to be able to build 32bit libcurl, but not 64bit. Any ideas?

[2020-11-12 00:48] #14371 closed

[2020-11-12 01:10] StarGate-One commented on #14524
@JoshAXP I am at a loss at what else it could be 🤔
- The vcpkg instances on the different machines - were they all cloned from github or did you clone one on your network and clone and/or copy it to the rest? Maybe a corrupt clone from vcpkg if you cloned once to your network then either cloned/copied to the other machines, but if you cloned all `github.com/microsoft/vcpkg.git` then chances would

[2020-11-12 01:57] wrobelda opened #14531 "target_link_libraries(PRIVATE) in dependency chain leaking into the ports"
**Describe the bug**
We have this issue with many of the KDE's KF5 libraries. Specifically, the libraries declared as PRIVATE in target_link_libraries() by the libraries linked will somehow leak into the dependency chain and have vcpkg port fail with "target was not found" as if said libraries were linked in the main CMakeList itself.

I have [previously reported](https://invent.kde.org/frameworks

[2020-11-12 02:23] JonLiu1993 commented on #14390
@tapirnose ，I successfully build，my cuda version is v11，You can try to download and install this version of cudda, and then try again：[this]( https://developer.nvidia.com/compute/machine-learning/cudnn/secure/7.6.5.32/Production/10.1_20191031/cudnn-10.1-windows10-x64-v7.6.5.32.zip)

[2020-11-12 02:24] JoshAXP commented on #14524
I really appreciate your thoughts on this & well considered & helpful answers.
That’s a great suggestion, to run 64bit vcpkg, although it shouldn’t make a difference as you said. The bizarre thing is
of the 3 fails, one machine is a new windows build with nothing but office 2019 installed and a fresh download of VC2019.

I cloned from github each time, was your build from a previous working versio

[2020-11-12 02:35] PhoebeHui commented on #14508
@Neumann-A, thanks for your commnents!

@luizfernandonb, feel free to open an new issue if you encounter some problems in vcpkg.

[2020-11-12 02:35] #14508 closed

[2020-11-12 02:46] PhoebeHui commented on #10045
Folly has been upgrade to latest revision by PR https://github.com/microsoft/vcpkg/pull/13701, please get latest source and try again.

[2020-11-12 02:46] #10045 closed

[2020-11-12 02:56] JackBoosY commented on #9947
@dbonhaus thanks for the information.

[2020-11-12 03:06] JackBoosY commented on #13235
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2020-11-12 03:06] #13235 closed

[2020-11-12 03:15] PhoebeHui commented on #13093
@zhangdexin, please reopen this issue if it still be a question for you.

[2020-11-12 03:15] #13093 closed

[2020-11-12 03:20] JackBoosY commented on #13002
Will fix this soon.

[2020-11-12 05:57] vadi2 commented on #14525
I don't have dumpbin. That's why it's not found.

[2020-11-12 06:01] JackBoosY commented on #13415
We haven't been able to repro this; if more information comes up, or this issue appears again, please reopen.

[2020-11-12 06:01] #13415 closed

[2020-11-12 06:39] JonLiu1993 commented on #14519
@Laro88 ,Thanks for posting this issue,I found the latest version released on paho-mqtt github is 1.3.6, but did not find version 1.4, can you provide me with the link to the latest version?

[2020-11-12 06:44] JackBoosY commented on #13002
Oh, I tried to reproduce this issue but failed. Does this issue exists?

[2020-11-12 07:05] vadi2 commented on #12831
Same issue with building ANGLE in dynamic configuration as well:

[code]

[2020-11-12 07:34] Laro88 commented on #14519
Hi @JonLiu1993.
Apologies, just saw on Paho that there (finally) was a new release, but it actually seems to be a front for one subproject being 1.4
The underlying feature with the client seems not to be included yet.

[2020-11-12 07:34] #14519 closed

[2020-11-12 07:38] NancyLi1013 commented on #14498
Hi @PhilippPaetzold

Thanks for posting this issue.

Could you please help provide these contents in `main.cpp image-processing-tests.cpp` files?

Thanks.

[2020-11-12 07:42] chris-shenzhen-china opened #14532 "vcpkg install libmariadb:x64-windows-static failed, vcpkg install libmariadb:x64-windows everything is ok."
C:\vcpkg>vcpkg install libmariadb:x64-windows-static
Computing installation plan...
The following packages will be built and installed:
    libmariadb[core,openssl,zlib]:x64-windows-static
Detecting compiler hash for triplet x64-windows-static...
Starting package 1/1: libmariadb:x64-windows-static
Building package libmariadb[core,openssl,zlib]:x64-windows-static...
Could not locate cached archive:

[2020-11-12 07:46] NancyLi1013 commented on #14173
@chris-shenzhen-china

Could you please help confirm which version of CMake you used?

Thanks.

[2020-11-12 07:48] chris-shenzhen-china commented on #14173
C:\vcpkg&gt;cmake --version
cmake version 3.18.4

CMake suite maintained and supported by Kitware (kitware.com/cmake).

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "microsoft/vcpkg"                                                                                    <n

[2020-11-12 07:53] chris-shenzhen-china commented on #14173
I have already install libyuv ok,&nbsp;
The reason is maybe the&nbsp;network , I donwload the source from AWS server successfully, and then replace the download libyuv source, and then install ok.

anyway, thank you very much.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2020-11-12 08:04] NancyLi1013 commented on #14398
Hi @mctynp

Could you please help confirm it you can build mpg123 successfully after installing` yasm-tool:x86-windows`?

If not, please update `mpg123` to the latest version and try this again.

@tobylane

Thanks for your further investigation and above details.

[2020-11-12 08:43] NancyLi1013 commented on #14393
@andreasxp

You're right, that's what I mean for "repo".

For archive, it seems that every vcpkg instance has one binary cache for one port. If you have installed the port, then you remove it via `vcpkg remove portName`, then you reinstall the port, in this case, the port will not build again, just using the cached binary that has stored in archive.

Please see the example as follows:
[code]

But

[2020-11-12 08:49] PhoebeHui commented on #14524
@JoshAXP, could you try to add 'DISABLE_PARALLEL_CONFIGURE' under line https://github.com/microsoft/vcpkg/blob/67a9305c75f89c6a7e229c94d1800b598f0666b3/ports/curl/portfile.cmake#L107, and see if the issue persist?

For the possible reason for LNK1168, see https://docs.microsoft.com/en-us/cpp/error-messages/tool-errors/linker-tools-error-lnk1168?view=msvc-160

Failures:
[code]

[2020-11-12 08:50] JackBoosY commented on #14532
Please provide failure log _C:\vcpkg\buildtrees\libmariadb\config-x64-windows-static-out.log_.

Thanks.

[2020-11-12 08:52] chris-shenzhen-china commented on #14532
------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "microsoft/vcpkg"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020年11月12日(星期四) 下午4:51
收件人:&nbsp;"microsoft/vcpkg"<vcpkg@noreply.github.com&gt;

[2020-11-12 08:53] OgreTransporter commented on #14500
@strega-nil It did not work with my port #14485. I had to change the line ends by hand with Notepad++.

[2020-11-12 09:00] AntonioCS commented on #14458
@strega-nil Sure, can you share what the discord is? I google for c++ discord and many appear. Thanks

[2020-11-12 09:02] PhoebeHui commented on #12073
@CiaranWelsh, does this still be a problem for you? I just tried latest source on ubuntu 18.04 with gcc 7.5.0, it built successfully.

[2020-11-12 09:02] NancyLi1013 commented on #14173
Thanks for your update.

I'm closing this issue for now since you have solved your problem.

[2020-11-12 09:02] #14173 closed

[2020-11-12 09:09] NancyLi1013 commented on #13405
Closing this issue for now since there is no response.

Please feel free to reopen this if it is still a problem for you.

[2020-11-12 09:09] #13405 closed

[2020-11-12 09:16] michaelschollerer opened #14534 "Building vcpkg on RPi fails with out of memory. Add number of cores argument option to bootstrap script"
Hey guys,

one target of our multi plattform project is a RPi 3B. Thanks to all that working with vcpkg on RPi is already possible and mostly going well.

But we are facing one problem with building vcpkg from source on RPi using bootstrap.sh. As the ninja build spawns a lot of build processes in parallel by default, the device is running out of memory very quickly. This affects all multicore syst

[2020-11-12 09:26] NancyLi1013 commented on #14150
Hi @Redwolf223

Thanks for posting this issue.

Could you please try to use the suggestion from @Neumann-A ?

[2020-11-12 09:37] JackBoosY commented on #14531
I think the reason for this issue is the lack of `find_dependency(GuiAddons)` in the cmake file exported by some KF5 ports.
Can you check the `*config.cmake` file that depends on the KF5 port of GuiAddons exported? Their path should be _VCPKG_ROOT/installed/TRIPLET/share/PORT_NAME_.

[2020-11-12 09:41] JackBoosY commented on #14030
Hi @LouisClt Does this issue still exist?

[2020-11-12 09:45] JackBoosY commented on #13098
cc @cenit feel free to update OCV to 4.4 : )

[2020-11-12 09:48] cenit commented on #13098
@JackBoosY https://github.com/microsoft/vcpkg/pull/14118
Sorry for being almost absent. Too much work recently and got overwhelmed by deadlines.
Before #14118 i still hope #12785 can be finished and merged, so that in future we have automatic checks for OpenCV and its many features in CI!

[2020-11-12 09:51] sfhacker commented on #14524
@JoshAXP Just for comparison purposes, have you tried other package managers?

[2020-11-12 09:55] sfhacker commented on #14525
This is so confusing. There is an open issue where the user had mixed VS with MinGW. Obviously, it didn't work.

[2020-11-12 09:58] vadi2 commented on #14525
I'm not mixing VS with MinGW. I'm afraid it is you who is confused. Thanks for the help anyway!

[2020-11-12 09:58] JackBoosY commented on #14480
Please provide full logs _C:\Users\misc\Documents\vcpkg\buildtrees\ffmpeg\configure-x64-windows-static-rel-out.log_ and _C:\Users\misc\Documents\vcpkg\buildtrees\ffmpeg\build-x64-windows-static-rel-out.log_.

[2020-11-12 10:07] NancyLi1013 commented on #13171
Hi @junho103

Could you please help confirm if you have checked the above info?

[2020-11-12 10:22] pomer opened #14537 "[New Port Request] XLSX I/O"
Library name:
XLSX I/O
Library description:
XLSX I/O aims to provide a C library for reading and writing .xlsx files. The .xlsx file format is the native format used by Microsoft(R) Excel(TM) since version 2007.
Source repository URL:
https://github.com/brechtsanders/xlsxio
Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as option

[2020-11-12 10:42] Neumann-A commented on #14531
Ok let me deduce some things from your post

triplet = x64-linux ? -> VCPKG_LIBRARY_LINKAGE = static -> BUILD_SHARED_LIBS = FALSE

That is not how CMake works. If the library linkage is static private dependencies get transitively forwarded (since linkage against them is required until you build an executable / shared object). As such the targets are mentioned automatically in the INTERFACE_LINKED

[2020-11-12 10:47] Neumann-A commented on #14490
the trick is that POST regex can filter by paths/folders.

Limits the script to always depend on vcpkg. Your build script probably knows a lot more about your build then the simple assumptions vcpkg does.

[2020-11-12 10:54] Shatur95 commented on #14490
Where are Dll folders copied from? I didn't know about that. Will definitely try.

There is https://github.com/microsoft/vcpkg/pull/14243 that allows to pass `X_VCPKG_APPINSTALL_DEPS_INSTALL` at configure state and does all magic without any configuration from my side.
Of course, "native" CMake approach is better, but it just a bit hard to master :)

[2020-11-12 11:00] JoshAXP commented on #14524
@PHOEBE Thank you very much for the suggestion. I have added although my portfile must be different as in notepad++ the PREFER_NINJA line appears much earlier, around 60.

I attach the file.

[2020-11-12 12:04] chris-shenzhen-china commented on #14532
what should i do to install libmariadb:x64-windows-static?

[2020-11-12 12:35] JoshAXP commented on #14524
Dear all,
Thank you for being totally brilliant with excellent suggestions that eventually led me to success. In particular, @StarGate-One Gen Jack O'Neil, for the extensive help. I performed the following actions, but will need to isolate exactly which one led to success:
ran VCPKG from C: drive, instead of an external USB
Disabled Windows Search
Uninstalled Kaspersky Antivirus
Excluded the VCPKG

[2020-11-12 13:40] AlgirdasKartavicius commented on #12620
I got same issue:

Error: Building package opencv4:x64-windows failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `.\vcpkg update`, then
submit an issue at https://github.com/Microsoft/vcpkg/issues including:
  Package: opencv4:x64-windows
  Vcpkg version: 2020.06.15-nohash

[2020-11-12 14:05] RoguePointer80 opened #14542 "When uploading to Nuget, the SemVer version might be invalid"
**Describe the bug**
The current format is `<version>-<hash>`, but the hash might start with a leading 0, which is illegal syntax under SemVer 2.0.0.
For example, if the package is named `1.73.0-0eee625fae7ef2f8964954575ab351ff5916ae83`, it would be parsed as Version "1.73.0" and pre-release info "0eee625fae7ef2f8964954575ab351ff5916ae83", but the leading 0 is invalid here since this is not a nume

[2020-11-12 14:08] RoguePointer80 commented on #14542
I can provide a PR for this, but I'd like to know what you think about "pre-release info" vs "build metadata"

[2020-11-12 14:39] mcmtroffaes commented on #14511
Yes, it is annoying to have to manually install this dependency. I'm working on a patch to switch the libvpx build from yasm to nasm (this issue being one of the reasons).

[2020-11-12 14:53] tombadmanship commented on #14506
I'm sorry to say that this is not the issue. I re-pulled vcpkg and these ports still fail in the same way.

[2020-11-12 15:12] Jerry1104 opened #14543 "Error: Building package boost-compatibility:x64-windows failed with: BUILD_FAILE D"
D:\vcpkg>.\vcpkg install boost:x64-windows
Computing installation plan...
The following packages will be built and installed:
    boost[core]:x64-windows
  * boost-accumulators[core]:x64-windows
  * boost-algorithm[core]:x64-windows
  * boost-align[core]:x64-windows
  * boost-any[core]:x64-windows
  * boost-array[core]:x64-windows
  * boost-asio[core]:x64-windows
  * boost-assert[core]:x64-windows

[2020-11-12 15:23] klalumiere opened #14544 "Port aws-sdk-cpp has a non relocatable rpath, which becomes problematic when used with (remote) vcpkg binary caching"
**Describe the bug**
`aws-sdk-cpp` sets `CMAKE_INSTALL_RPATH_USE_LINK_PATH` to true in its **CMakeLists.txt** file. The consequence is that when we install it with vcpkg (with a triplet that uses dynamic libraries, like the triplet `x64-linux-dynamic` described [in the documentation](https://vcpkg.readthedocs.io/en/latest/examples/overlay-triplets-linux-dynamic/)), the `RPATH` of the installed lib

[2020-11-12 18:01] StarGate-One commented on #14524
@JoshAXP Glad you figured it out... Antivirus programs, can live with them, but you better not live without them LOL.
I am truly sorry for all the issues you have had, but it does build on the experience base.
Take care, and have a wonderful week.

[2020-11-12 18:09] ennorehling opened #14548 "[gettext] find_package(Intl) not setting Intl_LIBRARIES"
****

**Is your feature request related to a problem? Please describe.**
I've been trying to use libintl with my CMake based project in Visual Studio on Windows, and was frustrated by the fact that it didn't seem to set the Intl_LIBRARIES variable, so I did some digging.

**Proposed solution**
It seems that the FindIntl.cmake that's shipping with vcpkg's gettext package doesn't look for the correc

[2020-11-12 18:16] #14281 closed

[2020-11-12 18:22] #14532 closed

[2020-11-12 18:38] strega-nil commented on #14458
<https://www.includecpp.org>

[2020-11-12 18:39] strega-nil commented on #14500
@OgreTransporter that's really odd... Hopefully that doesn't happen again for you?

[2020-11-12 18:50] wrobelda commented on #14531
@Neumann-A It completely flew over my head that macOS builds are also static. Yet again, I stand corrected. I brought it up with upstream and we'll discuss there. Thanks.

[2020-11-12 18:50] #14531 closed

[2020-11-12 19:35] eltonhcchan opened #14550 "[openni2:x64-windows] build failure"
**Host Environment**
OS: Windows 10  Home Version 2004 OS build 19041.630
Package: openni2:x64-windows
Vcpkg version: 2020.11.09-nohash

**To Reproduce**
Steps to reproduce the behavior:
.\vcpkg install openni2:x64-windows

**Failure logs**
c:\src\vcpkg>vcpkg install openni2:x64-windows
Computing installation plan...
The following packages will be built and installed:
    openni2[core]:x64-windows

[2020-11-12 19:42] #14432 closed

[2020-11-12 20:33] #14459 closed

[2020-11-12 21:13] bin commented on #14432
Is this not able to be added?  I am aware of the environment variable, but it is difficult in cmake to detect the system before the call to `project()`.  Since vcpkg integrates with cmake by running on a call to `project()`, it is no good trying to do this after.  Having a manifest option to simply select the static triplet if possible would be very helpful.

[2020-11-12 21:38] StarGate-One commented on #14550
When you installed the Windows SDK, did you include the NETFXSDK as the file "cor.h" included within?
It would be found in `C:\Program Files (x86)\Windows Kits\NETFXSDK\<dot-net-version>\Include\um`.

[2020-11-12 21:45] strega-nil commented on #11193
I think that this is a better place for discussion of port unit tests; #72 should be closed as we _have_ CI/CD to make sure that the ports work.

[2020-11-12 21:45] strega-nil commented on #72
Closed as complete.

[2020-11-12 21:45] #72 closed

[2020-11-12 21:46] strega-nil commented on #7219
Closed as complete -- `--download-only` is now a thing.

[2020-11-12 21:46] #7219 closed

[2020-11-12 21:48] strega-nil commented on #9514
I think this should be correct now? @davidhunter22 can you try again and tell us if it is still broken? If it is, with a repro, I'll work on fixing it :)

[2020-11-12 21:49] StarGate-One commented on #14543
@Jerry1104
 - You may have a out of date or corrupt vcpkg clone, as vcpkg should have installed the ports starting with:
boost-uninstall
boost-vcpkg-helpers
boost-compatibility
...rest of boost ports
- I would try updating vcpkg as follows:
 1. open a cmd or powershell prompt
 2. `cd [vcpkg-root]`
 3. `git pull`
 4. `.\bootstrap-vcpkg.bat`
 5. `vcpkg upgrade` or `vcpkg update` to see which ports n

[2020-11-12 21:55] strega-nil commented on #13457
oh, this definitely seems like an issue. @JackBoosY could you open a PR to fix this?

[2020-11-12 21:57] strega-nil commented on #13490
This isn't really a thing we wish to support, unfortunately. The best thing to do is to use distinct vcpkg roots, but the same `overlay-ports`.

[2020-11-12 21:57] #13490 closed

[2020-11-12 21:58] strega-nil commented on #13661
I don't personally know anything about this; @ras0219 could you look at this?

[2020-11-12 22:02] andreasxp commented on #14393
@NancyLi1013 Unfortunately this has not been my experience. I reproduced this in completely new directories with an empty vcpkg archive:
* Directory 1:
[code]
* Directory 2:
[code]

As you can see, the second directory used the binary cache from the first directory, which is what caused my debugging problems in the first place.

[2020-11-12 22:22] strega-nil commented on #14525
@vadi2 If you would like, you can look into adding this feature; unfortunately, we do not have experience on the team with MinGW's stuff.

@sfhacker Please keep your comments on-topic.

[2020-11-12 22:25] #9952 closed

[2020-11-12 22:40] strega-nil commented on #14374
Needs input from Robert.

[2020-11-12 22:45] strega-nil commented on #10812
This is a vcpkg bug, but we'll need to fix other issues.

[2020-11-12 22:48] strega-nil commented on #10404
We probably want to turn off `VcpkgAutoLink` by default when in a C++/CLI project. However, I'm not really sure how to do that... I'll look into this.

[2020-11-13 01:31] #13294 closed

[2020-11-13 01:47] JoshAXP commented on #14524
Thanks SG1, no need to be sorry, its just what it is, a thorny problem. As for figuring it out, I am not sure I have, I got lucky on 1 PC, but trying to repeat the same steps on a clone laptop seems rather less successful so far. Uninstalled Kaspersky, put in the folder exception on win defender, disabled search. That alone was not enough.
So  even rebuilt vcpkg with the -x64 switch and Phoebe's D

[2020-11-13 01:49] mctynp commented on #14398
Installing ```yasm-tool:x86-windows``` did not resolve the issue (I'd already had that package installed), but pulling the updates to ```mpg123``` did resolve the issue.

Thank you for the fix!

[2020-11-13 01:49] #14398 closed

[2020-11-13 02:19] JackBoosY commented on #14532
Please update vcpkg using `git pull` and retry.

[2020-11-13 02:29] omcnoe commented on #14418
It would be nice if the vcpkg CMake toolchain file that runs `vcpkg install` could place the `vcpkg_installed` directory in the project source directory (which is where the same toolchain file configures CMake to expect to find `vcpkg_installed` when calling `find_package`), rather than the CMake build directory.

Currently it means you can't use the automatic install functionality unless you are

[2020-11-13 02:34] JoshAXP commented on #14524
It worked, but with a whopping 18min run time. Will try without the parallel config to see what difference that makes. VCPKG.EXE is 64bit
![curl-vcpkg64bit-without-parallel-config](https://user-images.githubusercontent.com/74308519/99021506-bccf8b00-2558-11eb-9bed-d96bccdd2b2c.jpg)

[2020-11-13 02:45] PhoebeHui commented on #14544
@klalumiere, thanks for reporting this issue! and very appreciate for your contribution!

[2020-11-13 02:48] PhoebeHui commented on #14434
@kem0o, please reopen this issue if it still be a problem for you.

[2020-11-13 02:48] #14434 closed

[2020-11-13 02:53] JonLiu1993 commented on #14550
@eltonhcchan ,Thanks for posting this issue. If you install successfully, you will find your cor.h file in this path:C:\Program Files (x86)\Windows Kits\NETFXSDK\<dot-net-version>\Include\um, if you don’t find it, you can reinstall and try

[2020-11-13 02:57] NancyLi1013 commented on #13930
Currently, `libmesh ` doesn't support windows. Duplicated to #11835. Let's track this issue there.

[2020-11-13 02:57] #13930 closed

[2020-11-13 02:58] PhoebeHui commented on #13781
@xingyewuyu, this is duplicated issue with https://github.com/microsoft/vcpkg/issues/13051, this should be resolved if the English lauguage package installed. Please reopen if the issue persist.

[2020-11-13 02:58] #13781 closed

[2020-11-13 03:05] PhoebeHui commented on #12907
@druidfund, please reopen this issue if it still be a problem for you.

[2020-11-13 03:05] #12907 closed

[2020-11-13 03:22] PhoebeHui commented on #9814
@Horoprime, could you provide us the repro code and repro steps?

[2020-11-13 05:04] Alvaroalloc commented on #4756
Did anyone find out how to do it?, or a solution will be merged to master?

[2020-11-13 05:48] curtisgray commented on #13354
Is there an update on this issue? I am having the very same issue: libheif static library is not chosen for linking.

[2020-11-13 05:59] PhoebeHui commented on #4756
PR https://github.com/microsoft/vcpkg/pull/13361 would address this issue.

[2020-11-13 06:05] PhoebeHui commented on #12633
@fangxu622, @demonstan, this issue should be fixed now, please get latest source and try again.

[2020-11-13 06:05] #12633 closed

[2020-11-13 06:25] playgithub opened #14553 "set default triplet per vcpkg-root"
## Demand
Suppose there are 2 vckpkg-roots
* `~/vcpkg/x86-windows` (for 32bit)
* `~/vcpkg/x64-windows` (for 64bit)

needs to set default triplet for each vcpkg-root

[2020-11-13 06:33] JonLiu1993 commented on #12267
@tikegami-mw ,Thanks for posting this issue. sentencepiece only support static library linkage, so you can build sentencepiece:x86-windows-static or sentencepiece:x64-windows-static

[2020-11-13 06:36] JackBoosY commented on #14553
Hmm... I think it's not needed. Can you explain why you need that?

[2020-11-13 06:47] NancyLi1013 commented on #14506
Could you please run `.\bootstrap-vcpkg.bat` then rebuild these ports?

Please make sure you have updated to the latest vcpkg 2020.11.12.

[2020-11-13 07:00] NancyLi1013 commented on #13782
Hi @SmartKangJohn

Thanks for posting this issue. Currently it is not supported. Requires upstream update to support VTK 9.0.
Duplicated to #11601.  Let's track this issue there.

[2020-11-13 07:00] #13782 closed

[2020-11-13 07:04] PhoebeHui commented on #14256
@traversaro, the official config name update to assimpConfig.cmake, so we may not change it to assimp-config.cmake

See https://github.com/assimp/assimp/blob/master/CMakeLists.txt#L406.

[2020-11-13 07:14] NancyLi1013 commented on #13354
Sorry for the long delay. I will investigate this issue again.

[2020-11-13 07:37] playgithub commented on #14553
Generally saving settings in vcpkg-root is better to saving setting in environment variables.
Practically e.g. I have an old pc that run Windows 32-bit, slow to build on it, I'll build 32-bit application on much faster computer that runs 64-bit Windows. In this case,  two vcpkg-root's is a good choice. Without proper default `triplet `, I may have to check/set/switch `triplet ` frequently, just no

[2020-11-13 07:48] JackBoosY commented on #14553
@strega-nil What do you think about.
I think we can completely use the binary cache function to solve this issue.

[2020-11-13 08:05] traversaro commented on #14256
I know, I was the one adding that line (see https://github.com/assimp/assimp/pull/3455). : )

Both `assimpConfig.cmake` and `assimp-config.cmake` for me are ok, as it means that the official way of finding the searching for assimp is:
[code]
The problem is that instead vcpkg is suggesting to use `find_package(Assimp REQUIRED)` that, is not compatible with the config file names `assimpConfig.cmake`

[2020-11-13 08:07] PhoebeHui commented on #14256
I will summit a PR to fix this, thanks for bringing this up!

[2020-11-13 08:21] Neumann-A commented on #13566
should probably be

`LIBS += -ld3d11 -ldxgi -ldxguid -luuid`

[2020-11-13 08:26] Neumann-A commented on #13566
@JackBoosY

You have to look into the response file `@C:\Users\vzay\AppData\Local\Temp\Qt5Guid.dll.1564.134140.jom` to get full cmd line call, switch to nmake ortake a peek into the makefile.

[2020-11-13 08:46] JackBoosY commented on #9947
Hi @martinken, can you please take a look?
We are not sure this issue is caused by vtk itself or vcpkg.

[2020-11-13 08:54] playgithub commented on #9673
need poppler

[2020-11-13 09:11] gvanem commented on #13914
I have the same issue. Why did you close it?

Here is the output from a `vcpkg install lapack:x86-windows-static --debug`:
[code]
I used a freshly built `vcpkg.exe` from today. And here is the [install-x86-windows-static-dbg-out.log](https://github.com/microsoft/vcpkg/files/5535811/install-x86-windows-static-dbg-out.log).

[2020-11-13 09:18] PhoebeHui commented on #13914
@gvanem, it's a different issue, please report a new issue instead.

[2020-11-13 10:02] Neumann-A commented on #9947
no it is not.....

`vtk-config.cmake` is the important one

due to its naming the config can be found via `find_package(VTK)` **AND** `find_packakge(vtk)` but this doesn't mean both are correct.  Internally VTKs config is probably using `PACKAGE_FIND_NAME` somewhere which is why lowercase vtk is not working. That said the correct way to find VTK is to always use uppercase VTK since that is used in

[2020-11-13 10:32] SmartKangJohn commented on #13782
thanks！

---Original---
From: "NancyLi1013"<notifications@github.com&gt;
Date: Fri, Nov 13, 2020 15:00 PM
To: "microsoft/vcpkg"<vcpkg@noreply.github.com&gt;;
Cc: "SmartKangJohn"<1019790285@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
Subject: Re: [microsoft/vcpkg] [PCL question] (#13782)

Hi @SmartKangJohn

Thanks for posting this issue. Currently it is not supported. Requires upstream upd

[2020-11-13 12:04] playgithub opened #14557 "poppler can not find freetype in vckpkg"
In `cmake-gui`
CMAKE_TOOLCHAIN_FILE is defined as path/to/vcpkg/scripts/buildsystems/vcpkg.cmake
cmake failed:

---
[code]

[2020-11-13 12:31] playgithub commented on #14557
solved by add `set(CMAKE_TOOLCHAIN_FILE /path/to/vcpkg/scripts/buildsystems/vcpkg.cmake)` as the first line in `CMakeLists.txt`

[2020-11-13 12:31] #14557 closed

[2020-11-13 13:06] playgithub opened #14559 "After vcpkg install curl, no .lib file, and cmake can not find it"
1. curl is installed
[code]
2. In `vcpkg\installed\x64-windows\bin` there is libcurl.dll
3. In `vcpkg\installed\x64-windows\include\curl` there are head files
4. But in `vcpkg\installed\x64-windows\lib`, search "curl", nothing

When configure cmake:
[code]
`set(CMAKE_TOOLCHAIN_FILE /path/to/vcpkg/scripts/buildsystems/vcpkg.cmake)` is the first line of `CMakeLists.txt`

CMakeLists.txt
[code]

[2020-11-13 13:17] eltonhcchan commented on #14550
it works after I reinstall NETFSDK. thx

[2020-11-13 13:17] #14550 closed

[2020-11-13 13:42] chris-shenzhen-china commented on #14532
I updated the vcpkg and install mariadb:windows-static, it works well, thanks then.

[2020-11-13 14:10] abique opened #14560 "[llvm] Cross-compilation is not supported"
**Host Environment**
- OS: Windows (x64)
- Compiler: Visual Studio 2019 16.8.1 (latest as of today)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg --triplet=arm64-windows-static install cairo freetype llvm[target-aarch64,tools,utils]`

**Failure logs**
[code]
[arm64-windows-static.vcpkg_abi_info.txt](https://github.com/microsoft/vcpkg/files/5537289/arm64-windows-static.vcpkg_abi_info.

[2020-11-13 14:13] SlySven opened #14561 "How do I tell whether your project is referring to minGW or mingw-w64"
I recently got into a heated discussion with another member of the project I code for who is setting up what is labelled as using a `x64-mingw-dynamic` triplet as a GitHub Action. As the people over at [Software in the Public Interest Inc.](http://mingw.org/Welcome_to_MinGW_org) strongly insist:

I am also aware that their software (which includes `MSYS`) only targets the 32 Bit Windows OS but can

[2020-11-13 14:17] abique commented on #14560
Hi @strega-nil, I saw that you are the last contributor to this package so I hope it is OK to raise your attention.

By the way, do you have plans to support llvm 11?

Regards,
Alexandre

[2020-11-13 14:41] playgithub commented on #14559
After deleting the build and run cmake agian, this error gone, but there are other errors, it looks for `clang-format` ...
It seems better to use `poppler` on Linux

[2020-11-13 14:41] #14559 closed

[2020-11-13 17:53] curtisgray commented on #13354
Thanks for looking into this, @NancyLi1013.

I found a work around. The preprocessor value `LIBHEIF_STATIC_BUILD` was not set during the `openimageio` install. So I did the following to work around the issue and fix the problem locally:

NOTE:  the `VCPKG_DEFAULT_TRIPLET` environment variable is set to `x64-windows-static` triplet configuration
1.  change the file: `vcpkg/installed/x64-windows-sta

[2020-11-13 18:19] #7017 closed

[2020-11-13 19:37] strega-nil commented on #14542
I don't believe this _is_ invalid syntax under the BNF, however it _does_ point to an invalid syntax... I'll post it here for ease of referral (translated to EBNF for ease of understanding):

[code]

Given that there will never be dots in a hash, we are going to ignore `pre_release`, and just look at `pre_release_identifier`. First, we should notice that it's either an `alphanumeric_identifier` or

[2020-11-13 19:50] strega-nil commented on #14418
@omcnoe That shouldn't be how it works. We should be using the same variable, `${_VCPKG_INSTALLED_DIR}`, for both things...

[2020-11-13 20:55] Neumann-A opened #14565 "[ignition-msgs1] cmake dev warning in portfile"
From one of my CI runs:

[code]

@traversaro: Please fix

https://github.com/microsoft/vcpkg/blob/783763162901f32e6d6270aede22519844b8e9ce/ports/ignition-msgs1/portfile.cmake#L33

should be `set(ENV{PATH} "${path_backup}")`

[2020-11-13 21:11] traversaro commented on #14565
This will be fixed by https://github.com/microsoft/vcpkg/pull/14464 .

[2020-11-13 21:20] strega-nil commented on #14553
The way we're planning on doing this is with `vcpkg-configuration.json`. It's not necessarily what we'd recommend, but it is a thing we will eventually support.

[2020-11-13 21:29] strega-nil commented on #14560
Unfortunately, it looks like the LLVM port doesn't support cross compilation... we currently have real trouble with cross-compiling ports that require tools to be built. We hope that we can add better support for this Soon (tm), but until then supporting cross compilation for LLVM would require quite a bit of work.

We don't generally update ports like LLVM without the community doing most of the

[2020-11-13 21:35] #10108 closed

[2020-11-13 21:38] abique commented on #14560
Thank you very much.

I understand the issue and I agree, it is likely a bug in LLVM build system and tools like tblgen should be built for the host and the target I suppose.

Maybe it would be a good idea to have a flag to indicate that it won't build using cross-compilation?

Thank you very much for looking into LLVM 11, I expect it will be quite straight forward on its own, but the packages usi

[2020-11-13 21:39] #13248 closed

[2020-11-13 21:39] tombadmanship commented on #14506
it seems to be that i don't have the utility to unzip .xz, but that utility to unzip .xz comes from a vcpkg install.

CMake Error: Problem extracting tar: C:/vcpkg/downloads/msys-mingw-w64-i686-pkg-config-0.29.2-1-any.pkg.tar.xz

[2020-11-13 21:41] #14114 closed

[2020-11-13 21:57] strega-nil commented on #14560
Thanks!

[2020-11-13 21:59] #12750 closed

[2020-11-13 23:46] #14553 closed

[2020-11-14 01:06] StarGate-One opened #14567 "[libarchive[bzip2,core,libxml2,lz4,lzma,lzo,openssl,zstd]:x64-windows and x64-linux] build failure after PR #14535"
**Host Environment**
- OS: Both Windows and Linux
         [Microsoft Windows [Version 10.0.19042.630]]
         [openSUSE Leap 15.2] on WSL2 and Hyper-V
- Compiler:
   - Windows
      - Visual Studio 2017 Version: 15.9.29  VS Tools Version: 14.16.27023
      - Visual Studio 2019 Version: 16.8.1  VS Tools Version: 14.28.29333
    - OpenSUSE
      - gcc (SUSE Linux) 9.3.1 20200406 [revision 6db837a

[2020-11-14 14:14] 0xECEAD opened #14568 "[libwebp] Do not enable SSE4 support with /arch:AVX"
The library source, in file [cmake/cpu.cmake:36](https://github.com/webmproject/libwebp/blob/master/cmake/cpu.cmake) sets **/arch:AVX** compiler flag to enable SSE4 support. It even has a comment stating it is intentional.
This 'ofcause enables the AVX instruction-set, resulting in a executable that will not run on a CPU without AVX.
e.q. function WebPDecode will crash with exception 0xC000001d 'I

[2020-11-14 14:40] sfhacker commented on #12267
![image](https://user-images.githubusercontent.com/25817529/99149646-7e1a0c00-26e3-11eb-8c65-2747b8140b96.png)

[2020-11-14 16:34] istanggsh opened #14569 "[vcpkg] build failure"
**Host Environment**
- OS: Ubuntu 20.04
- Compiler: GNU 9.3.0

**To Reproduce**
Steps to reproduce the behavior:
`./bootstrap-vcpkg.sh`

**Failure logs**
![屏幕截图 2020-11-15 003215](https://user-images.githubusercontent.com/65331757/99152028-51152b80-26da-11eb-88ad-ca10854a2d13.png)

[2020-11-14 16:39] rspotnitz opened #14570 "[SUNDIALS] Update to 5.5.0"
Presently version 3.1.1-2 is provided whereas the current version is 5.5.0; see
https://computing.llnl.gov/projects/sundials/sundials-software

Please consider providing the current version.
Thank you.

[2020-11-14 19:54] StarGate-One commented on #14567
Update:
- I created a vanilla clone of vcpkg from microsoft/vcpkg on both OpenSUSE and Windows to do this testing, thus eliminating any customizations done locally.
- I did some testing with triplets tested: x86-windows x86-windows-static x64-windows x64-windows-static x64-linux:
   - All these triplets install properly with core feature only
`->.\vcpkg.exe --debug --printmetrics install --x-use-a

[2020-11-14 20:25] StarGate-One commented on #14569
It looks like a `kill` command was issued to the g++ compiler PID?
As far as I know, others are more than welcome to correct me, vcpkg does not issue a `kill` command, so either some other process or someone issued a kill command to kill it. Maybe a virus scanner?

[2020-11-14 21:13] sfhacker commented on #14567
There are dozens of issues about libarchive!
Perhaps it is a regression or buggy VS compiler or ... broken environment?

Just built it from source and haven't come across any of the issues reported here.

![image](https://user-images.githubusercontent.com/25817529/99157062-19c66f00-271a-11eb-9b2a-3cb6d00646c6.png)

[2020-11-14 22:04] akshit-sharma commented on #8676
It seems to work now.

[2020-11-14 22:04] #8676 closed

[2020-11-15 00:54] chatyan opened #14573 "[New Port Request] <Pangolin>"
Library name: Pangolin

Library description: Pangolin is a lightweight portable rapid development library for managing OpenGL display / interaction and abstracting video input. At its heart is a simple OpenGl viewport manager which can help to modularise 3D visualisation without adding to its complexity, and offers an advanced but intuitive 3D navigation handler. Pangolin also provides a mechanism

[2020-11-15 01:25] 1d2d3d opened #14574 "Brotli compilation failure"
Hi! I'm getting a compile failure trying to install brotli using the latest vcpkg on Windows version 10.0.19041.
In an emscripten-enabled command shell, I issue:
    `vcpkg install brotli:wasm32-emscripten`
and get:
[code]
The install-wasm32-emscripten-dbg-err.log file contains:
   `ninja: error: unknown target 'install'`

[2020-11-15 01:35] istanggsh commented on #14569
Thanks. It looks like the system kill the compiler PID. I run the virtual machine on vmware and the memory I allocate is too small, so the compilation always fails. I reallocate a big memory, and it succeeds.

[2020-11-15 01:35] #14569 closed

[2020-11-15 06:36] PhilippPaetzold commented on #14498
Hi Nancy,
thank you for the quick response. I can not attach the full source code of these files, as its confidential. I will however create a minimal source code example reproducing the problem and attach it to this issue. Please give me a couple of days for this.

[2020-11-15 08:25] Matioupi commented on #14567
The failure is also appearing int the CI automatic checks for most pull requests at time.
It seems to get down to int64 type mapping not being done properly and the compilation fails because it hit

[code]

on config.h file

[2020-11-15 08:49] linquize opened #14577 "[poco] 1.10.1 cmake integration error"
**Host Environment**
- OS: Win 10 x64
- Compiler: VS2019.7

**To Reproduce**
Steps to reproduce the behavior:
Use poco 1.10.1 library from vcpkg with CMake integration + manifest mode

`vcpkg.json`
[code]

CMakeLists.txt
[code]

[code]

**Failure logs**
`PCRE` not found:
[code]

After replacing `PCRE` with `unofficial-pcre` in `PocoFoundationConfig.cmake`, it shows `EXPAT` not found:
[code]

After

[2020-11-15 10:20] Matioupi commented on #14567
it looks like CHECK_TYPE_SIZE macro is failing for all types... event 32 bytes types. I'm not getting a clue why it is so

[2020-11-15 11:06] Matioupi commented on #14567
The attached CMakeFileLists.txt solves the issue but I guess the fix is quite ugly.

I had to moved the

#
# Check for integer types
#
#

section right after INCLUDE(CheckTypeSize)
I also add to move
CHECK_FUNCTION_EXISTS_GLIBC(_get_timezone HAVE__GET_TIMEZONE)
earlier in the file
and modify the target lib for zstd according to static or shared builds

I have no real clue about what is happening.

[2020-11-15 11:18] linquize commented on #14567
In `C:\vcpkg\buildtrees\libarchive\x64-windows-dbg\CMakeFiles\CMakeError.log`,  some of the errors are

[code]

[2020-11-15 12:37] sfhacker commented on #14567
@linquize Are you on Windows or Linux?

I wonder where 'ndir.h' file comes from? I am unable to find in my Windows SDK folder.

I have also enabled zstd.

![image](https://user-images.githubusercontent.com/25817529/99185059-6f8f2b80-279b-11eb-9616-dc34793bbdea.png)

[2020-11-15 12:47] spikegee opened #14578 "vckpg integration with Visual Studio not supported for StaticLibrary projects"
****

**Is your feature request related to a problem? Please describe.**
The vcpkg integration in VisualStudio 2019 projects works fine for C++ Applications, I have access to #include installed through vcpkg.
However, for a Library project with the following property in the .vcxproj (I think this is the relevant difference with the Application case):
<ConfigurationType>StaticLibrary</Configuration

[2020-11-15 12:55] ericwilliamsneu commented on #14280
@JackBoosY I attempted to install the library on another machine with the intention of capturing the requested data, but unfortunately the problem shifted on this new machine. I was again required to hit enter to advance the process at certain points, but this time it would usually be after a build step, not a configure step. I'd watch the CPU usage on the machine skyrocket during the build as exp

[2020-11-15 13:24] Matioupi commented on #14567
I just proposed a PR to fix the issue : https://github.com/microsoft/vcpkg/pull/14579

[2020-11-15 19:10] StarGate-One commented on #14567
I can confirm **PR #14579 [libarchive] regression fix** corrects the ports mentioned in this issue.
Thank you very much @Matioupi 😊😊👍

[2020-11-15 22:28] code-wizard opened #14581 "bootstrap-vcpkg.bat build failure"
**Host Environment**
- OS: Windows 10 Insider Preview 20257.1 (fe_release)

**To Reproduce**
Steps to reproduce the behavior:

1. cd vcpkg
2.  $env:VCPKG_ROOT=$PWD
3.  .\bootstrap-vcpkg.bat

**Failure logs**

Building vcpkg.exe ...

Start-Process: D:\dev\AI\opencv\OpenCV\Week10\vcpkg\scripts\bootstrap.ps1:397
Line |
 397 |  …  $process = Start-Process -FilePath powershell.exe -ArgumentList $arg …

[2020-11-16 01:50] NancyLi1013 commented on #14573
Hi @chatyan

Thanks for posting this request.

`Pangolin `has been added to vcpkg now.

`https://github.com/microsoft/vcpkg/tree/master/ports/pangolin`

The repository URL is the same as the one that you provided above.

So I think this issue can be closed. Please let me know if you have other concerns about this port.

Thanks.

[2020-11-16 02:32] JackBoosY commented on #14567
Ops, sorry.

[2020-11-16 02:58] JackBoosY commented on #14567
I'm very interested in the invalidation of `CHECK_TYPE_SIZE`. My patch removed `CMAKE_PUSH_CHECK_STATE` and `CMAKE_POP_CHECK_STATE` simultaneously, so there should be no state leakage problems.

[2020-11-16 03:15] JackBoosY commented on #14567
I know, from the `CMakeError.log`: `LINK : fatal error LNK1104: cannot open file 'libzstd.lib'`.
This caused this issue.

[2020-11-16 04:11] playgithub opened #14584 "Any way to build on one machine, and use on another"
Building takes a lot of disk space.
Can I build on one machine, and use the binaries in vcpkg on another machine.

BTW, after successful `vcpkg install`, are the intermediate built files like `.obj` files useful for incremental building later.

Thanks

[2020-11-16 05:55] JackBoosY commented on #9947
@Neumann-A At least our usage is incorrect:
[code]

[2020-11-16 06:12] JackBoosY commented on #14249
Fixed in #14305.

[2020-11-16 06:12] #14249 closed

[2020-11-16 06:39] iHuahua commented on #13507
上次合master的时候，我也遇到了，当时说我本地有问题，我当时有其他事也就没有继续尝试了，你们的环境都没有问题吗？

[2020-11-16 06:45] JackBoosY commented on #14280
@ericwilliamsneu Can you provide the content before and after hang up in the install log?

[2020-11-16 08:00] swq123459 opened #14585 "[nlohmann-json] build failure"
**Host Environment**
- OS: [Windows]
- Compiler: vs2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install nlohmann-json`

**Failure logs**
❯ .\vcpkg.exe install nlohmann-json
Computing installation plan...
The following packages will be built and installed:
    nlohmann-json[core]:x86-windows
Detecting compiler hash for triplet x86-windows...
Starting package 1/1: nlohmann-json:x

[2020-11-16 08:14] HarvaneetKaur commented on #6107
Hi ,
I want to add the uhd port to vcpkg . Any clues how to add this !!
Since it does not contain any cmakelists.txt file , have problem in installing this .

Thanks

[2020-11-16 08:15] JonLiu1993 commented on #14568
@0xECEAD ,Thanks for posting this issue，Have you tested your ideas? Is it feasible?

[2020-11-16 08:17] PhoebeHui commented on #14577
@linquize, thanks for reporting this issue!

I will summit a PR to fix it.

[2020-11-16 08:22] PhoebeHui commented on #14543
@Jerry1104, have you try above steps? does this still be a problem for you?

[2020-11-16 08:31] JonLiu1993 commented on #14585
@swq123459 ,Thanks for posting this issue,you've set the HTTPS_PROXY? I believe that curl will use the HTTP_PROXY  and HTTPS_PROXY environment variable when downloading an https:// link like the one above.

[2020-11-16 09:44] JackBoosY commented on #6107
@HarvaneetKaur Please open a PR to add it, I'll give you some help.

Thanks.

[2020-11-16 09:59] NancyLi1013 commented on #13354
Hi @curtisgray

Are you willing to create a PR to fix this issue?

[2020-11-16 10:19] NancyLi1013 commented on #14581
Hi @code-wizard

Thanks for posting this issue.

Could you please check if you have installed Windows SDK in Visual Studio?

Please refer to this https://github.com/microsoft/vcpkg/issues/12416#issuecomment-658095357 to check other componetns.

[2020-11-16 10:25] PhoebeHui commented on #14561
I have no idea about this, @strega-nil, could you please take a look?

[2020-11-16 10:37] HarvaneetKaur opened #14590 "[New Port Request] <uhd>"
Library name: uhd

Library description:
ettus uhd
Source repository URL: https://github.com/EttusResearch/uhd

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2020-11-16 10:38] HarvaneetKaur commented on #6107
Hi @JackBoosY ,
https://github.com/microsoft/vcpkg/issues/14590
opened the new issue .

[2020-11-16 11:18] PhilippPaetzold commented on #14498
Hi Nancy,

sorry, it took me awhile. I wrote a minimal source code example:

[main.cpp]
[code]

[CMakeLists.txt]
[code]

I get errors during linking:
[code]

I think the issue is with the WebP library. Vcpgk seems to have installed alongside FreeImage:

[code]

Thank you so much for looking into it. I really appreciate your work on vcpkg and I think its one of the best package managers for C++!

[2020-11-16 11:22] 0xECEAD commented on #14568
The proposed patch works.

It still uses the SSE4 instructions, because they are included as intrinsics, (no harm done).
The compiler no longer emits AVX instructions, for code-optimization, only SSE2.

[2020-11-16 11:31] L0ric0 opened #14591 "[boost multiple libs] build failure"
**Host Environment**
- OS: Linux Debian Stable
- Compiler: gcc-8

**Affected Pkg**
 - boost-config
 - boost-preprocessor
 - boost-throw-exception

**To Reproduce**
Steps to reproduce the behavior:
1. define the boost libs as deps in the `vcpkg.json`
1. run `VCPKG_FEATURE_FLAGS=manifests vcpkg install` or install via cmake integration

**Failure logs**
Logs for `boost-throw-exception` are below sim

[2020-11-16 11:50] nduboys opened #14592 "osgearth:x64-windows build failure"
**Host Environment**
- OS: Windows 10
- Compiler: MSVC 2017

**To Reproduce**
Steps to reproduce the behavior:
vcpkg.exe install osgearth --triplet x64-windows

**Failure logs**
CMake Error at scripts/cmake/vcpkg_execute_build_process.cmake:142 (message):
    Command failed: C:/Nikoko/Dev/Others/vcpkg/downloads/tools/cmake-3.18.4-windows/cmake-3.18.4-win32-x86/bin/cmake.exe --build . --config Debu

[2020-11-16 12:18] LooShes opened #14593 "Error: Building package v8:x86-windows failed with: BUILD_FAILED"
**Host Environment**
- OS: Windows
- Compiler: MSVC

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install v8`

C:\Users\lusyv\OneDrive\Documents\Elevation\projects\vcpkg>vcpkg install v8
Computing installation plan...
The following packages will be built and installed:
    v8[core]:x86-windows
Detecting compiler hash for triplet x86-windows...
Starting package 1/1: v8:x86-windows
Bui

[2020-11-16 15:11] ohhmm opened #14595 "What is the binary executed in AppData?"
![image](https://user-images.githubusercontent.com/190779/99269151-b4b06d80-282e-11eb-869b-03ddc3923921.png)

[2020-11-16 16:15] TerensTare opened #14596 "mpg123:x64-windows build failure"
**Host Environment**
- OS: Windows 10
- Compiler: Visual Studio 2019 v16.8
- CMake v3.18
- VCPKG_FEATURE_FLAGS: manifests

**To Reproduce**
- Installed packages:
[code]

**Failure logs**
[code]

[2020-11-16 16:38] sfhacker commented on #14596
Are we still having issues building mpg123 from source?
@TerensTare Have you raised issues here before regarding the same port? Different ports?

[2020-11-16 16:40] TerensTare commented on #14596
I didn't have the problem with the port until I updated vcpkg today. As you can see from the log, there is a patch named `0001-fix-x86-build.patch` applied that I haven't looked at tbh.

[2020-11-16 17:37] strega-nil commented on #14561
This is really weird. I don't know anything about this... cc @ras0219-msft

[2020-11-16 17:49] #14567 closed

[2020-11-16 18:26] #14544 closed

[2020-11-16 18:28] #14256 closed

[2020-11-16 19:39] StarGate-One commented on #14567
Thank you everyone.
@JackBoosY @strega-nil - I do not see how anyone did anything incorrectly. The patch did make it through the CI pipeline (I checked to see if the pipeline just did libarchive or libarchive with all features and all features were selected) so I do not know why it would not work locally...
It is just one of those things.
Everyone do not get discouraged by it, use it as a learning

[2020-11-16 20:20] SlySven commented on #14561
If it helps to clarify things - you seem to be using the *modern*/*up-to-date* fork that is Mingw-w64 [Wikipedia article](https://en.wikipedia.org/wiki/Mingw-w64) (which targets both 32 and 64 bit Windows directly) rather than the original MinGW [Wikipedia article](https://en.wikipedia.org/wiki/MinGW) that only targets 32-bit Windows but which can run on 64-bit Windows because the latter has Windo

[2020-11-16 20:42] StarGate-One commented on #14595
This is where vcpkg stores default hash information about the port binaries created during installation of the port.
See https://vcpkg.readthedocs.io/en/latest/specifications/binarycaching/

[2020-11-16 20:56] StarGate-One commented on #14596
@TerensTare

You need to install port yasm-tool:x86-windows
From [vcpkg-root]:
`.\vcpkg install yasm-tool:x64-windows`
- vcpkg downloads, builds, installs and uses the yasm tool from source now instead of downloading the pre-compiled binary.
- Reason: there have been memory corruptions/segmentation issues with the pre-compiled binaries causing other port installations to fail.

[2020-11-16 20:59] StarGate-One commented on #14593
Please attach the log files for further review to aid in troubleshooting:
`C:\Users\lusyv\OneDrive\Documents\Elevation\projects\vcpkg\buildtrees\v8\generate-x86-windows-dbg-out.log`
`C:\Users\lusyv\OneDrive\Documents\Elevation\projects\vcpkg\buildtrees\v8\generate-x86-windows-dbg-err.log`

[2020-11-16 22:06] StarGate-One commented on #14592
@nduboys
1. Several of these in the logs...
c:\nikoko\dev\others\vcpkg\buildtrees\osgearth\src\18c0ed88a1-76bf0cae95.clean\src\osgearthdrivers\cache_leveldb\Tracker(23): fatal error C1083: Cannot open include file: '': No such file or directory
2. Confusing, but it seems this may be an upstream issue???
3. My suggestion would be someone to submit a PR to change the vcpkg portfile.cmake to referenc

[2020-11-16 23:37] code-wizard commented on #14581
@NancyLi1013 thanks for your reply.

I have installed the workloads and individual components from the link you referenced. Still no luck

![image](https://user-images.githubusercontent.com/9468927/99320881-2bf1fb80-2847-11eb-89c0-f19719a6d5a8.png)

![image](https://user-images.githubusercontent.com/9468927/99320949-52179b80-2847-11eb-8181-69392803b2d4.png)

[2020-11-16 23:51] Paul-Hubert opened #14598 "SDL2 build failure"
I'm not sure if I should add more information, please ask.

**Host Environment**
- OS: Arch Linux
- Compiler: gcc version 10.2.0
- Pacman fully updated, with tslib installed

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install sdl2`

**Failure logs**
[code]

[2020-11-17 01:21] playgithub commented on #4702
I have built project `poppler-cpp` successfully.

The dependents:

1. set TESTDATADIR in CMakeLists
`git clone git://git.freedesktop.org/git/poppler/test poppler-test.git`

2. `vckpg install freetype devil openjpeg libiconv`
BTW I installed some vcpkg's pkgs ahead, that might include other dependents, e.g. `gperf.exe`.

3. 'clang-format`
https://releases.llvm.org/download.html

[2020-11-17 01:24] PhoebeHui commented on #14255
The PR has been merged, thanks for reporting this issue!

[2020-11-17 01:24] #14255 closed

[2020-11-17 01:24] ras0219-msft opened #14599 "Vcpkg Contributors Survey"
We’ve been working as a team and a community for more than 4 years on vcpkg. Thanks to everyone who has contributed! As part of our ongoing efforts to improve the open source project experience, we’ve created a survey to better understand your individual experience of participating and contributing in this project.

We would appreciate your feedback so we can work to address shortcomings and misse

[2020-11-17 01:28] JackBoosY commented on #14590
I think this port can be built by cmake: https://files.ettus.com/manual/page_build_guide.html

[2020-11-17 01:44] JackBoosY commented on #4702
@playgithub Consider to open a PR to add it?

[2020-11-17 02:22] sotex opened #14600 "[HDF5] build failure(corss compile arm64)"
**Host Environment**
- OS: Linux (OpenSUSE 15.2 leap)
- Compiler: gcc-arm-8.3

**To Reproduce**
Steps to reproduce the behavior:

[code]
**Failure logs**

Because the compilation process will run the generated `H5detect` (arm64), but my local machine is `x86_ 64` Architecture, so it can not run, resulting in an error.

因为编译过程会运行生成的 `H5detect`(ARM64)，但我本机是 `x86_64` 平台的，所以无法运行，导致出错。

- /home/test/co

[2020-11-17 02:23] playgithub commented on #4702
@JackBoosY I'm learning it. Maybe later.

[2020-11-17 02:51] PhoebeHui commented on #14591
@strega-nil, does this a known issue? I didn't repro this issue on ubuntu 18.04 with './vcpkg install boost-predef --feature-flags=manifests'.

[2020-11-17 02:51] nefton opened #14601 "[tesseract] build failure"
**Host Environment**
- OS: [Windows 10 x64]
- Compiler: vc14

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install tesseract:x64-windows-static`

**Failure logs**
Starting package 3/9: zlib:x64-windows-static
Building package zlib[core]:x64-windows-static...
Could not locate cached archive: C:\Users\Maxim\AppData\Local\vcpkg\archives\ba\baca8a7dc018b7e5e2c2c90ee19b87e2b0d028ab.zip
--

[2020-11-17 02:53] HarvaneetKaur commented on #14590
yeah I tried it .. it worked but then I got the issue with the vcpkg_check_features .. actually this ports need boost for building and when I provide boost via vcpkg_check_features it shows the below issue :-
unknown feature: boost

This is how my portfile.cmake looks like :-

vcpkg_download_distfile(ARCHIVE
    URLS "https://github.com/EttusResearch/uhd/archive/master.zip"
    FILENAME "master.zi

[2020-11-17 02:56] #14601 closed

[2020-11-17 02:58] PhoebeHui commented on #14601
Duplicated to https://github.com/microsoft/vcpkg/issues/13103, this issue would be fixed by PR https://github.com/microsoft/vcpkg/pull/13126

[2020-11-17 04:04] playgithub opened #14602 "How to get the path of "vcpkg.cmake" in portfile.cmake"
In `protfile.cmake`
[code]

[2020-11-17 04:07] strega-nil commented on #14591
@L0ric0 could you paste the manifest that you used?

[2020-11-17 05:25] playgithub opened #14603 "Dependency too heavy"
I'm trying to port `poppler`
It depends on `clang-format`
`vcpkg install llvm[clang-tools-extra]`
`clang-format` is small, but for dependencies, it builds for hours
[code]

Installed successfully, `vcpkg-root\buildtrees\llvm` takes 102GB (109,870,017,874 bytes) 😭

Something like `vcpkg-root\downloads\tools` is better in the case, i.e. simply download `clang-foramt.exe` as a tool.

[2020-11-17 05:43] PhoebeHui commented on #13652
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now

[2020-11-17 05:43] #13652 closed

[2020-11-17 05:45] PhoebeHui commented on #13752
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-11-17 05:45] #13752 closed

[2020-11-17 05:45] PhoebeHui commented on #13817
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-11-17 05:46] #13817 closed

[2020-11-17 05:49] PhoebeHui commented on #13764
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-11-17 05:49] #13764 closed

[2020-11-17 05:50] PhoebeHui commented on #13396
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-11-17 05:50] #13396 closed

[2020-11-17 05:51] PhoebeHui commented on #13380
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-11-17 05:51] #13380 closed

[2020-11-17 05:51] PhoebeHui commented on #13367
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-11-17 05:51] #13367 closed

[2020-11-17 05:57] #13534 closed

[2020-11-17 05:58] JonLiu1993 commented on #14602
@playgithub ,Thanks for posting this issue, You can use the command _**./vcpkg integrate install**_ to view the specific location of your own vcpkg.cmake
![Capture](https://user-images.githubusercontent.com/63675417/99352044-e4b64a00-28dc-11eb-8b88-c41d33ce8f25.PNG)

[2020-11-17 05:59] PhoebeHui commented on #13494
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-11-17 05:59] #13494 closed

[2020-11-17 06:00] playgithub commented on #14602
When PR, it should be found dynamically

[2020-11-17 06:01] PhoebeHui commented on #13865
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-11-17 06:01] #13865 closed

[2020-11-17 06:02] PhoebeHui commented on #13631
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-11-17 06:02] #13631 closed

[2020-11-17 06:22] JackBoosY commented on #14590
The `vcpkg_check_features(key value)` provides `${FEATURE_OPTIONS}` is `-Dvalue=ON` or `-Dvalue=OFF`, so you need to write other code like:
[code]

[2020-11-17 06:45] JonLiu1993 commented on #14598
@jgilje,Can you look at this question? This looks very similar to the issue you solved before #13551, maybe you will give us some help, thank you

[2020-11-17 06:48] NancyLi1013 commented on #14581
@strega-nil

Could you please help take a look at this issue?

[2020-11-17 06:49] HarvaneetKaur commented on #14590
Now its saying this
the Cmakelists.txt is inside the host and have given that path but now its showing the below error .

CMake Error: The source directory "/vcpkg/buildtrees/uhd/src/master-304908991b.clean/host" does not exist.
Specify --help for usage, or press the help button on the CMake GUI.

[2020-11-17 06:54] JackBoosY commented on #14590
@HarvaneetKaur Could you please open a PR? I will help you on that PR.

[2020-11-17 06:59] nduboys commented on #14592
Hi

Yes, in fact the mast patch was done yesterday, 297e9c63a7964da1016a016b2528723165f6b929

It patches the last problems with TradingUtils include error.

How to process to ask a request to set port on this version ?

Regards

De : StarGate-One <notifications@github.com>
Envoyé : lundi 16 novembre 2020 23:07
À : microsoft/vcpkg <vcpkg@noreply.github.com>
Cc : nduboys <nicolas.duboys@yahoo.fr>; M

[2020-11-17 07:01] NancyLi1013 commented on #14596
Hi @TerensTare

Thanks for posting this issue.

Could you please try to rebuild this based on the workaround from @StarGate-One?

@StarGate-One

Thanks for your help.

[2020-11-17 07:03] TerensTare commented on #14596
@StarGate-One As you can see from the list of my installed ports, I already have installed `yasm-tool:x86-windows`

[2020-11-17 07:21] NancyLi1013 commented on #14595
Hi @ohhmm

Thanks for posting this issue.

Do you mean what is the binary stored in \AppData\Local\vcpkg\archives_ folder?

For binary cache, these references might be helpful to you.

https://github.com/microsoft/vcpkg/blob/master/docs/users/binarycaching.md
https://github.com/microsoft/vcpkg/blob/master/docs/specifications/binarycaching.md

Sorry, I don't understand what's you want to express fr

[2020-11-17 07:39] JonLiu1993 commented on #14568
@0xECEAD ,I tested your suggestion but there seems to be a problem
[code]

[2020-11-17 08:48] JackBoosY commented on #14603
Sorry for that but we hope that all binaries will be built, which also matches the behavior of open source.

[2020-11-17 08:55] SK83RJOSH opened #14604 "[New Port Request] Yojimbo"
**Library name:**
yojimbo

**Library description:**
yojimbo is a network library for client/server games written in C++.

**Source repository URL:**
https://github.com/networkprotocol/yojimbo
https://github.com/networkprotocol/netcode
https://github.com/networkprotocol/reliable

**Anything else that is useful to know when adding:**
- Static library
- Premake5 project
- Comprised of three Git Repos

[2020-11-17 08:58] playgithub commented on #14603
Give a hint warning about the size is helpful.
Then I can choose to download LLVM clang binary from the official site, and make `clang-format` be in PATH.
LLVM (with clang tools ...) installer is 172MB

[2020-11-17 09:12] NancyLi1013 commented on #14506
Could you please help provide the versions of Windows and CMake?

Please also copy the build process on the powershell console here.

Such as `./vcpkg install bzip2:x64-windows-static`

[code]

[2020-11-17 09:14] vadi2 opened #14606 "[hunspell] Built libraries are named 'liblibhunspell'"
****

**Is your feature request related to a problem? Please describe.**
The resulting dll's are named `liblibhunspell` instead of `libhunspell` as you'd expect.

**Proposed solution**
Rename to `libhunspell`.

**Additional context**
Add any other context or screenshots about the feature request here.

[code]

[2020-11-17 09:26] MCl57 opened #14607 "NPE in protobuf"
**Describe the bug**

When using protobufc, an NPE occurs.

## Debug:
### File:
vcpkg\buildtrees\protobuf\src\a5c431386a-c9deea9e31.clean\src\google\protobuf\compiler\subprocess.cc
### Row:
270
### Code:
[code]

**Environment**
Windows 10
## Version:
[code]
## VS
[code]

**To Reproduce**
Steps to reproduce the behavior:
call protobufc --grpc_out=outpath --plugin="protoc-gen-grpc=D:\~~~~invalid_pat

[2020-11-17 09:26] JackBoosY commented on #14602
The vcpkg tool chain can be automatically passed to `vcpkg_configure_cmake`. So you don't need to do that manually.

[2020-11-17 09:48] NancyLi1013 commented on #14592
Hi @nduboys

Thanks for posting this issue.

Seems upstream has solved this issue now. But there is no new release version for the latest changes.

So we need to make a patch to solve this issue.

@StarGate-One

Thanks for your further investigation about this issue and the above detailed information. It's so great. Really appreciate your help and efforts.

ping @jasonbeverage and @gwaldron, is it

[2020-11-17 09:55] playgithub commented on #14602
Thanks

[2020-11-17 09:55] #14602 closed

[2020-11-17 11:06] sfhacker commented on #14596
Some issues seem to be coming back again and again. See #10914

[2020-11-17 11:10] sfhacker commented on #14506
@tombadmanship Perhaps your environment is broken somehow. Try reinstalling it.

[2020-11-17 11:18] sfhacker commented on #6107
@HarvaneetKaur Have you opened a PR or another identical issue?

[2020-11-17 11:28] L0ric0 commented on #14591
here is the manifest:
[code]
`hdf5` and the boost feature to highfive where added after the report

[2020-11-17 11:32] HarvaneetKaur commented on #6107
have opened an issue .. for the addition of uhd port inside vcpkg

On Tue, Nov 17, 2020 at 4:48 PM John Sheppard <notifications@github.com>
wrote:

--

*DISCLAIMER*

THIS MESSAGE, TOGETHER WITH ANY ATTACHMENTS, IS
CONFIDENTIAL, IS INTENDED ONLY FOR THE USE OF THE ADDRESSEE(S), AND MAY
HAVE INFORMATION THAT IS COVERED BY LEGAL, PROFESSIONAL OR OTHER PRIVILEGE.
ANY OPINIONS EXPRESSED, IMPLIED, OR PR

[2020-11-17 11:51] jgilje commented on #14598
Yeah, it's a similar issue. I just tried on a relatively empty arch vm. It's possible to ignore TSLIB (a touchscreen library for unix platforms it seems) via configuration options, see my proposed patch below.

Also, a sidetrack to this specific issue but related, is that `libunwind` was detected on my local install, and this is not a configurable option. As the previous conversation in #13551 thi

[2020-11-17 12:02] dev-gb opened #14608 "How do I compile qt5 with built in third party libraries"
I would like to build QT5 .dlls without revealing third party libraries.

For example, the Official QT5 Core Dll has no additional dependencies.
The one built with VCPKG still needs dlls like zlib, zstd etc.

Is it possible to build QT without any dependencies to third party libraries?

[2020-11-17 12:29] spindensity opened #14609 "[grpc] build failure"
**Host Environment**
- OS: Windows 10 20H2 64bit;
- Compiler: MSVC 2019 16.8.1.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Failure logs**

[code]

**Additional context**

`grpc` could be built successfully with:

[code]

or:

[code]

`CMAKE_CXX_STANDARD` should be specified to `17` for building `grpc` when `abseil[cxx17]` has been already installed according to the code of  `grp

[2020-11-17 13:11] StarGate-One commented on #14592
@NancyLi1013 cc: @jasonbeverage @gwaldron
You are most welcome!!! I appreciate your hard work also

- To restate, we just need a PR to update osgearth portfile.cmake to use/reference commit https://github.com/gwaldron/osgearth/commit/90ad04f281cbc87ffc45bed847ebaaecb188e593
- The commit is a revised version of osgearth 3.0 commit https://github.com/gwaldron/osgearth/commit/43c6525f811d641b7333d5a2

[2020-11-17 13:23] StarGate-One commented on #14596
@TerensTare
I apologize, I did not see you had already installed `yasm-tool:x86-windows`, sometimes I get tunnel vision🤔
I remember having to fiddle around to finally get vcpkg to work, and in the end I have also installed these ports which may/may not help in your situation:
`vs-yasm:x86-windows`
`vs-yasm:x64-windows`
`yasm:x86-windows`

[2020-11-17 13:28] gwaldron commented on #14592
@NancyLi1013 thanks for the heads-up on this. The plan is to create a new stable release (3.1) by end of month-ish (Nov 2020). If there's anything we can do to help in the meantime please let us know.

[2020-11-17 13:29] TerensTare commented on #14596
No problem @StarGate-One , these kind of things happen to everybody.
I will retry your solution and reply right away. Thx again.

[2020-11-17 14:08] Neumann-A commented on #14608
General answer

https://vcpkg.readthedocs.io/en/latest/users/triplets/#per-port-customization

Build everything Qt depens on statically and build Qt itself dynamically.

[2020-11-17 14:28] 0xECEAD commented on #14568
Hi JonLiu,
you are right, the patch file is not correct, sorry.
I attached a new version.
and 'successful' build log.

[0007-fix-arm-build.patch.txt](https://github.com/microsoft/vcpkg/files/5554037/0007-fix-arm-build.patch.txt)

[stdout-x64-windows.log](https://github.com/microsoft/vcpkg/files/5554038/stdout-x64-windows.log)

Best regards,
Enceladus

[2020-11-17 15:17] fferri commented on #14283
Installing `powershell-core` fixed the issue for me.

[2020-11-17 15:20] fferri commented on #14283
No.

`if(_VCPKG_PWSH_PATH)` should be enough.

From the [CMake `if` documentation](https://cmake.org/cmake/help/latest/command/if.html):

[2020-11-17 17:18] #11165 closed

[2020-11-17 17:18] #12330 closed

[2020-11-17 17:19] #14548 closed

[2020-11-17 17:33] dllg opened #14610 "[zeromq] draft api feature"
****

**Is your feature request related to a problem? Please describe.**
Zeromq can be built with ENABLE_DRAFTS option. I want to be able to build using this flag to get extended functionality of the library.

**Proposed solution**
Add feature draft that sets ENABLE_DRAFTS option.

**Additional context**
See CMake file that contains the ENABLE_DRAFTS option: https://github.com/zeromq/libzmq/blob/d

[2020-11-17 17:34] dllg commented on #14610
This patch can be used:

[code]

[2020-11-17 17:42] dllg opened #14611 "[cppzmq] draft api feature"
****

**Is your feature request related to a problem? Please describe.**
cppzmq can be built with ENABLE_DRAFTS option. I want to be able to build using this flag to get extended functionality of the library.

**Proposed solution**
Add feature draft that sets ENABLE_DRAFTS option.

**Additional context**
See CMake file that contains the ENABLE_DRAFTS option: https://github.com/zeromq/cppzmq/blob/0

[2020-11-17 17:43] dllg commented on #14611
This patch can be used:
[code]

[2020-11-17 18:11] TerensTare commented on #14596
I fixed the error by adding "yasm" to the `dependecies` field of the manifest file. Sorry for bothering you for such a small thing.

[2020-11-17 18:11] #14596 closed

[2020-11-17 18:59] HarvaneetKaur commented on #14590
Hi @JackBoosY ,
What does this line means..
[sanity check] The serialized binary paragraph was different from the original binary paragraph.
I am getting this after the installation of uhd .. is it some kind of error !!

[2020-11-17 19:14] LouisClt commented on #14030
Sorry for my late reply.
I am still able to reproduce this problem on my environment.
curl -V
curl 7.73.0-DEV (Windows) libcurl/7.73.0-DEV Schannel zlib/1.2.11
Release-Date: [unreleased]
Protocols: dict file ftp ftps gopher http https imap imaps ldap mqtt pop3 pop3s rtsp smb smbs smtp smtps telnet tftp
Features: AsynchDNS IPv6 Kerberos Largefile NTLM SPNEGO SSL SSPI TrackMemory libz

As sfhacker p

[2020-11-17 19:45] htonus commented on #2793
`.\vcpkg.exe remove boost-uninstall --recurse`

[2020-11-17 20:38] O-Tom opened #14612 "[gdal] build failure for gdal 2.4.1 with x64-windows* triplets"
**Host Environment**
- OS: Windows 10 build 1607
- Compiler:  Visual C++ 2017 00370-20001-21499-AA108 / VisualStudio.15.Release/15.9.29+28307.1300

**To Reproduce**
Just install gdal with an 'out of the box' vcpkg git clone:
`.\vcpkg install gdal --triplet=x64-windows-static`

Fails the same way for either `x64-windows`, `x64-windows-static` or `w64-windows-static-md`.
**Works fine with the defaul

[2020-11-17 20:41] StarGate-One commented on #14596
No problem - we all have those days....

[2020-11-17 21:36] tombadmanship commented on #14506
I found the issue.

Luckily, .xz files are human readable, and the compression method of choice for the package I was using. In a log file was an error report for location settings. I was being geoblocked by a local firewall.

[2020-11-17 22:31] strega-nil commented on #14591
I'm looking into it; I think it's unlikely I'll be able to solve it, and it's probably _something_ to do with NFS.

[2020-11-18 02:18] StarGate-One opened #14617 "How do I change vcpkg source to include --editable even when a dependent port is not on command line?"
@JackBoosY cc: @strega-nil @ras0219-msft @ras0219
- How do I change vcpkg source to include --editable even when a dependent port is not on `vcpkg install` command line?
- When installing ports I always specfiy --editable on command line, but I have discovered when installing ports the `--editable` option only applies to ports on the command line, not any dependent ports that may need to be instal

[2020-11-18 02:27] qiuwei commented on #4836
@michadn I am now having the same problem. How did you fix it?

[2020-11-18 02:31] qiuwei commented on #4836
I realized now I should use

[code]
CMake works without any problem with this modification.

However, running make in the build directory gives the following error messages:
[code]

[2020-11-18 03:01] StarGate-One opened #14619 "[libpq] build failure x86-windows x64-windows with features core,icu,nls,openssl,xml,zlib"
**Host Environment**
- OS: [Microsoft Windows [Version 10.0.19042.630]]
- Compiler:
   - Visual Studio 2017 Version: 15.9.29  VS Tools Version: 14.16.27023
   - Visual Studio 2019 Version: 16.8.1  VS Tools Version: 14.28.29333

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone git@github.com:microsoft/vcpkg.git` includes PR #11776 with commit https://github.com/microsoft/vcpkg/commit

[2020-11-18 03:02] NancyLi1013 commented on #14592
@StarGate-One

Thanks for your attention. I also tried to update `osgearth `to the commit https://github.com/gwaldron/osgearth/commit/90ad04f281cbc87ffc45bed847ebaaecb188e593 as version 3.0 and found there were some other errors. So I gave up the update. If necessary, I will post the error info later.

Now there are two solutions to this issue:

- 1) Add `leveldb `and `rocksdb` to the dependency l

[2020-11-18 03:02] JackBoosY commented on #14590
Seems like your `CONTROL` or `vcpkg.js` has something wrong.

[2020-11-18 03:05] JackBoosY commented on #14283
@fferri #14317 should fixed this issue.

[2020-11-18 03:07] JackBoosY commented on #14619
cc @Neumann-A

[2020-11-18 03:13] NancyLi1013 commented on #4836
Hi @qiuwei

You also need to add this ` target_link_libraries(main PRIVATE unofficial::sqlite3::sqlite3)` to your CMakeLists.txt.

[2020-11-18 03:16] StarGate-One commented on #14619
After some further research
- The CI pipeline shows libpq passed with the PR #11776 with features core, openssl and zlib features (which I could duplicate)
- Adding any of the features icu, nls, xml the port build fails - something with of those ports may be incorrect for dynamic windows builds now?
- The libpq dependencies are as follows:

[2020-11-18 03:49] StarGate-One commented on #14592
@NancyLi1013
- I apologize - I did not know you tried to build already.
- No I have no further suggestions.
- I do not need the errors, it take so long to build all the dependencies on my laptop, I do not think I can help further.
- It does seem like a lot of time expended to fix, especially since a new version is coming out end of month.
- I was just trying to get @nduboys a working copy, quickly

[2020-11-18 04:37] HarvaneetKaur commented on #14590
Thank you @JackBoosY ,
Installed the uhd port successfully .. :)

[2020-11-18 05:12] shawn220a opened #14620 "[<port name>] build failure"
**Host Environment**
- OS: macOS
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install pdcurses`

**Failure logs**
./vcpkg install pdcurses
Computing installation plan...
The following packages will be built and installed:
    pdcurses[core]:x64-osx
Detecting compiler hash for triplet x64-osx...
Starting package 1/1: pdcurses:x64-osx
Building package pdcurses[cor

[2020-11-18 05:58] Neumann-A commented on #14619
Just the library names are wrong since the PR changed the names to the correct upstream names for windows. Just needs adjustment of the patches.

[2020-11-18 06:12] jeevankoiri10 commented on #9406
This is so bad about vcpkg. It doesn't support merging capability.

[2020-11-18 06:27] strega-nil commented on #14617
Hrm, this is definitely a thing we should do, then. I think adding `--no-clean-after-build`, perhaps? cc @ras0219, let's discuss this on Thursday.

[2020-11-18 06:29] strega-nil commented on #14581
I have... zero idea. I'll bring this up in the meeting.

[2020-11-18 06:42] NancyLi1013 commented on #14620
Hi @shawn220a

Thanks for posting this issue.

`pdcurses` only supports dynamic CRT linkage, so the current behavior you happened is intended. It also doesn't support uwp, linux, osx.

Please see this info in `scripts/ci.baseline.txt`
[code]

I will add the unsupported message to this port.

[2020-11-18 06:56] fawdlstty opened #14621 "How do I add the /arch:IA32 compilation option by default"
Many computers do not support AVX or AVX2, and the software will crash if such instructions are present in the code.But some projects, such as FFMPEG or NCNN, may require the AVX2 instruction set for acceleration.How do I specify `/arch` at compile time?

[2020-11-18 07:07] PhoebeHui commented on #14606
@vadi2, thanks for reporting this issue!

I have summited PR #14623 to fix this issue.

[2020-11-18 07:18] vadi2 commented on #14606
Thanks, you're awesome!

[2020-11-18 07:25] fawdlstty commented on #14621
The actual test found that not only the method starting with '_mm256_' could generate AVX instruction, but std standard library such as `std::function` could also generate AVX instruction, which caused great trouble for compatibility

[2020-11-18 07:25] PhoebeHui commented on #14584
@playgithub, yes, please reference
https://github.com/microsoft/vcpkg/blob/master/docs/users/binarycaching.md
https://github.com/microsoft/vcpkg/blob/master/docs/specifications/binarycaching.md

The intermediate built files doesn't need after the port installed, all required files have move to ./installed folder.

[2020-11-18 07:26] fawdlstty commented on #14621
![image](https://user-images.githubusercontent.com/7323999/99498400-590eed00-29b2-11eb-992d-45666d029d62.png)
![D~A{48 AN_NJ9PIUG~O@QSN](https://user-images.githubusercontent.com/7323999/99498431-66c47280-29b2-11eb-8c67-0f97b6b3690b.png)

[2020-11-18 07:33] #14584 closed

[2020-11-18 08:04] JonLiu1993 commented on #14598
@jgilje ,Thank you for your suggestions and help, I will try to modify according to the information you provided, thanks again

[2020-11-18 08:14] NancyLi1013 commented on #14592
@StarGate-One

Thanks for your details. You have done a lot for us.

For this issue, it only occurs when installing `leveldb ` or `rocksdb `. Otherwise, it will build successfully.

@nduboys

Please use the above suggestions to try this on your machine. We might consider to update `osgearth` to the next release.

[2020-11-18 08:17] NancyLi1013 commented on #14506
@tombadmanship
Could you please disable firewall on your local an then try to install this again?

[2020-11-18 08:22] NancyLi1013 commented on #14498
Thanks for your above info @PhilippPaetzold.

I will test this on my machine and update the status once finished.

[2020-11-18 08:30] PhoebeHui commented on #14524
@JoshAXP, feel free to share the results if you have. Closing this issue now.

[2020-11-18 08:30] #14524 closed

[2020-11-18 08:46] NancyLi1013 commented on #3695
Hi @carmangary

Thanks for posting this issue.

`zlibWrapper ` is one part of zstandard, but there is no CMakeLists.txt in this module. So it cannot be built with `zstd`.

[2020-11-18 08:49] PhoebeHui commented on #13696
@bitnick10, do you mean if the C++2a modules support when building vcpkg or building the port that vcpkg provided?

[2020-11-18 08:54] NancyLi1013 commented on #4178
Hi @kreuzerkrieg

Thanks for posting this issue.

There is no need to copy the dependencies to the destination folder. As long as you use the dependent packages correctly, they will be copied to the related folders automatically.

Please tell us in which case that you need to do like this if you still have questions about this issue.

Thanks.

[2020-11-18 09:09] swq123459 commented on #14585
- I don't modify the HTTPS_PROXY  setting
- When i download nlohmann-json-v3.9.1.zip to VCPKG_PATH/downloads to perform ".\vcpkg.exe install nlohmann-json", it alse fail with follow:

  .\vcpkg.exe install nlohmann-json
Computing installation plan...
The following packages will be built and installed:
    nlohmann-json[core]:x86-windows
Detecting compiler hash for triplet x86-windows...
Starting p

[2020-11-18 09:13] kreuzerkrieg commented on #4178
honestly? I dont remember why did I ask this question back then :)

[2020-11-18 09:13] #4178 closed

[2020-11-18 09:20] NancyLi1013 commented on #14498
Confirmed  this is a bug for `freeimage`. I will investigate and fix it later.

[2020-11-18 09:24] bitnick10 commented on #13696
@PhoebeHui I would like to use vcpkg with module like vcpkg install abclib:x64-module

[2020-11-18 10:02] NancyLi1013 commented on #14498
You can update these codes in `CMaeLists.txt`:

Update `find_package(WebP     REQUIRED)`   as `find_package(WebP  CONFIG    REQUIRED)`

Update `${WEBP_LIBRARIES}` as  `WebP::libwebpmux`

Please help confirm if this can work fine for you.

[2020-11-18 10:05] dadidag opened #14627 "Building curl with brotli-support (curl[brotli]) does not work: libcurl does not contain brotli"
**Describe the bug**
Try to build curl[brotli,tool] does result in libcurl.dll NOT containing brotli-support

**Environment**
- OS: Windows 10, Version 1903 Build 18632.1139
- Compiler: VS2017 15.9.27

**To Reproduce**

1. ./vcpkg install --recurse curl[brotli,tool,ssh,schannel,non-http,openssl,c-ares]
2. curl -V
curl 7.73.0-DEV (Windows) libcurl/7.73.0-DEV OpenSSL/1.1.1h (Schannel) zlib/1.2.11 c-

[2020-11-18 11:26] L0ric0 commented on #14591
ok it most definitely is nfs. I have build the boost-predef (with vcpkg install boost-predef) package on /tmp multiple times without getting an error (removing vcpkg/installed and ~/.cahce/vcpkg/archive/* before each run). Doing the same on the nfs filesystem produces the error mentioned in the issue description about 50% of the time.

The `nfs4` filesystem is mounted with the following options: `

[2020-11-18 12:16] Neumann-A opened #14630 "[qt5-location/CI] hash failure for patch"
[code]

[2020-11-18 12:54] O-Tom commented on #14612
What seems to be the same issue is already reported in #11818

[2020-11-18 13:36] gwaldron commented on #14592
@NancyLi1013

Both leveldb and rocksdb are OPTIONAL dependencies. In fact the vast majority of users will not need them. Currently it will build them if the dependencies are found. We could add another option to control their build, even when automatically found -- is that what you are suggesting?

We will add an option to build the docs as well. Thank you.

FYI the pending release currently exist

[2020-11-18 14:51] L0ric0 opened #14631 "[HighFive] unable to link against HighFive and HDF5 at the same time"
**Describe the bug**
I'm trying to link to the highfive and the hdf5 port at the same time. As highfive depends on hdf5 it adds the `../../vcpkg_installed/x64-linux/lib/libhdf5.a` library. Now when trying to link the hdf5 libraries `../../vcpkg_installed/x64-linux/debug/lib/libhdf5_debug.a` and `../../vcpkg_installed/x64-linux/debug/lib/libhdf5_cpp_debug.a` are added, which results in `multiple de

[2020-11-18 15:43] DBJDBJ commented on #14581
I have a simillar one ...

[code]

I have VS2019 installed and in use regularly .. WIN10 PRO machine

[2020-11-18 16:08] epiciskandar opened #14632 "cannot linking GDAL compiled from vcpkg"
**What am I doing?**
    trying using GDAL installed from vcpkg. the project is based on CMake.

**How GDAL being installed**
1. get vcpkg whole git repo
2. run ./bootstrap-vcpkg.sh
3. execute "./vcpkg install GDAL"

**What does the project look like**
to make question simple, I reproduced with a test project:
./
|--CMakeLists.txt  _(1)_
|--/build
|--/test
.....|--CMakeLists.txt  _(2)_
.....|--tes

[2020-11-18 18:03] tombadmanship commented on #14506
I meant to imply that the problem was solved. I unblocked and was able to install.

An error such as that would be helpful to have printed to screen.

[2020-11-18 18:25] strega-nil commented on #14581
@DBJDBJ could you run:

[code]

[2020-11-18 18:28] strega-nil commented on #14591
@L0ric0 it sounds like your NFS share is a bit broken... I'm not really sure how to work around that. We recommend not using vcpkg from a share, since a lot of problems like this end up happening.

[2020-11-18 18:53] JoshAXP commented on #14524
How do I load the solution to this problem?

[2020-11-18 19:08] JoshAXP commented on #14524
Sorry, I think I answered my own question.

Current status is that I have reported the issue to Kaspersky, including the MSFT linker error.

In the mean time I found uninstalling the Kaspersky antivirus by itself is not enough until you have rebooted twice!

However the following work around works:
Put the VCPKG folder in the windows antivirus exceptions folder. Same with Kaspersky.
This by itself

[2020-11-18 19:40] przole opened #14634 "[soci] update to 4.0.1"
Library name: soci

New version number: 4.0.1

https://github.com/SOCI/soci/releases/tag/4.0.1

[2020-11-18 19:48] pash-msft opened #14635 "[New Port Request] onnxruntime"
Library name :ONNX Runtime

Library description: ONNX Runtime is a cross-platform inferencing and training accelerator compatible with many popular ML/DNN frameworks, including PyTorch, TensorFlow/Keras, scikit-learn."

Source repository URL: https://github.com/microsoft/onnxruntime

Project homepage (if different from the source repository):aka.ms/onnxruntime

Anything else that is useful to know

[2020-11-18 20:07] socuwn opened #14636 "[opencascade] OpenCASCADE_INCLUDE_DIR at wrong location"
**Host Environment**
- OS: Windows
- Compiler: Visual Studio 2019

**To Reproduce**
`./vcpkg install opencascade:x64-windows`

**Log / CMake buildtime variables**
[code]

The header files are actually located in:
`D:/vcpkg/installed/x64-windows/include/opencascade`

**Context**
When including headers from opencascade they are not found.
After listing the CMake variables at buildtime I discovered t

[2020-11-18 20:44] Neumann-A commented on #14636
`OpenCASCADE_INSTALL_PREFIX` is wrong and needs to be fixed.

[2020-11-18 20:47] rouault opened #14637 "vcpkg master fails to build with VS2015 as found in AppVeyor image"
**Describe the bug**
A clear and concise description of what the bug is.

**Environment**
- OS: Windows
- Compiler: Visual Studio 2015 from "Visual Studio 2015" appveyor image

**To Reproduce**
bootstrap-vcpkg.bat

**Expected behavior**
It should compile

**Failure logs**

Extract from https://ci.appveyor.com/project/OSGeo/gdal/builds/36387800
[code]

[2020-11-18 20:59] socuwn commented on #14636
Yes, I think you're right
file: `OpenCASCADEConfig.cmake:24-31`
[code]

changing it to:
[code]
solves it

[2020-11-18 21:07] #14577 closed

[2020-11-18 21:08] #14570 closed

[2020-11-18 21:08] #14611 closed

[2020-11-18 21:09] #14487 closed

[2020-11-18 22:11] johnterickson opened #14638 "How does one pronounce vcpkg?"
* "V C P K G"?
* "V C pack"
* "V C package"
* "Vick pack" a la "nup keg" for nupkg

[2020-11-18 22:15] johnterickson commented on #14638
Seems to be "V C package" per
https://channel9.msdn.com/Events/Connect/2016/109
and
https://channel9.msdn.com/Shows/C9-GoingNative/GoingNative-54-Whats-New-In-Visual-Studio-2017-RC-and-Introduction-To-Vcpkg#time=13m34s

[2020-11-18 22:16] #14638 closed

[2020-11-18 22:27] strega-nil opened #14639 "[docs] Discuss and document what is and isn't an acceptable community triplet"

[2020-11-18 22:44] DBJDBJ commented on #14581
@strega-nil  IMHO there is no `vswhere.exe` on this machine.  VS is in `D:\PROD\programs\Microsoft Visual Studio\2019\Community`

[2020-11-18 23:13] DBJDBJ commented on #14581
@strega-nil I see what you mean by looking into `bootstrap.ps1`

[code]

Someone assumed it will be always over there ... I could not even find it on this machine. I had to [download it from GitHub](https://github.com/Microsoft/vswhere/releases). Then I changed that line to
[code]
That did the trick and vcpkg.exe was built. Just to be immediately quarantined by "Avast"m with the following message:

[2020-11-18 23:25] DBJDBJ commented on #14581
Now each time I run `d:\vcpkg\vcpkg.exe`, it goes through the command, and then "Avast" pops up a message (each time):

![image](https://user-images.githubusercontent.com/145155/99600320-7917ce00-29fd-11eb-9e2e-88eb453e11bf.png)

And the sequence of "infected files" is growing:

![image](https://user-images.githubusercontent.com/145155/99600393-a2d0f500-29fd-11eb-9fee-4885f3bea193.png)

[2020-11-18 23:45] #11927 closed

[2020-11-19 00:10] strega-nil commented on #14581
@DBJDBJ yeah, you'll need to tell avast not to touch vcpkg

[2020-11-19 00:12] code-wizard commented on #14581
Any update on my own issue?

On Wed, Nov 18, 2020 at 8:41 PM nicole mazzuca <notifications@github.com>
wrote:

--
Regards
Ebuka

[2020-11-19 00:31] strega-nil commented on #14581
@code-wizard I don't really understand your issue, but you could try to build with CMake? are you interested in trying?

[2020-11-19 00:45] code-wizard commented on #14581
@strega-nil my issue is that when I `\bootstrap-vcpkg.bat `  I get this error even though I have installed the required workloads and components and sure I would like to try building with CMake.

![image](https://user-images.githubusercontent.com/9468927/99605761-ecf8ad00-29e2-11eb-86c4-841a2eaf9d17.png)

Below is the content of  bootstrap-vcpkg.bat

@echo off
"C:\Program Files\PowerShell\7\pwsh.e

[2020-11-19 00:49] strega-nil commented on #14581
Yeah, it's something about DLLs or something, I don't really know.

alright, assuming you have cmake and the like, run the following:

[code]

and give the output.

[2020-11-19 00:56] code-wizard commented on #14581
Output for `cmake -DBUILD_TESTING=OFF -B build -S toolsrc`
`-- Building for: Visual Studio 15 2017
-- Selecting Windows SDK version 10.0.17763.0 to target Windows 10.0.20257.
-- The CXX compiler identification is MSVC 19.16.27044.0
-- Detecting CXX compiler ABI info
-- Detecting CXX compiler ABI info - done
-- Check for working CXX compiler: C:/Program Files (x86)/Microsoft Visual Studio/2017/Buil

[2020-11-19 01:02] code-wizard commented on #14581
vcpkg.exe was built successfully with cmake. Thanks for your help.

[2020-11-19 01:22] shawn220a commented on #14620
Thank you for the update. I am new to adding libraries and thought I had broke something.

[2020-11-19 01:47] NancyLi1013 commented on #14635
Hi @pash-msft

Thanks for posting this request.

It's duplicated to #14257. Let's track this issue there.

[2020-11-19 01:47] #14635 closed

[2020-11-19 01:48] curtisgray commented on #13354
@NancyLi1013, I've created PR #14641 to address this issue.

[2020-11-19 02:14] NancyLi1013 commented on #14630
Hi @Neumann-A

Thanks for posting this issue.

It seems that the hash value for the patch is varying.

[code]
https://dev.azure.com/vcpkg/public/_build/results?buildId=45549&view=logs&j=5dffab7c-3299-5a76-7b02-e037cd868fad&t=1294d155-2ef8-5412-c4b1-d5b95781dd72&l=3552

We need to continue to investigate it.

[2020-11-19 02:38] NancyLi1013 commented on #14592
Yes, this is my suggestion. In this case, we can consider to add `leveldb `and `rocksdb ` as features for `osgearth `if necessary.

Thanks for your help and support. It's so great.

[2020-11-19 02:39] PhoebeHui commented on #14630
The patches https://codereview.qt-project.org/gitweb?p=qt%2Fqtlocation.git;a=commitdiff_plain;h=6b2cf7e9d150b7be709fcd688c5045949cedc3d9;hp=7769ea903f87efc4ad55530a2749f104eddff2e4 has gone.

[2020-11-19 02:50] JackBoosY commented on #14585
We provide two workaround:

- use a proxy.
- Download [this file](https://github.com/microsoft/vcpkg/files/5564031/Downloads.zip) manually and unzip it to _VCPKG_ROOT_, then rerun install command. You should make sure the path is _VCPKG_ROOT/Downloads/nlohmann-json-v3.9.1/nlohmann_json.natvis_ etc., and make sure your vcpkg is latest.

[2020-11-19 03:10] JackBoosY commented on #14630
Is this patch https://code.qt.io/cgit/qt/qtlocation.git/commit/?h=6b2cf7e9d150b7be709fcd688c5045949cedc3d9 ?

[2020-11-19 03:23] StarGate-One commented on #14617
I think this would be a great idea, a flag to not delete sources regardless of what build method is use would be fantastic, if possible and the time/effort would not be too great.

[2020-11-19 05:24] HarvaneetKaur commented on #14590
Hi @JackBoosY ,
I want to install libboost-all-dev in uhd .. when I do apt-get install inside vcpkg for libboost-all-dev .. then uhd is installed inside vcpkg .. but when i Only do ./vcpkg install boost and the do ./vckg install uhd .. then uhd shows missing boost ..

Have given the build-depends : boost-devel, boost-chrono, boost-context, boost-conversion, boost-crc, boost-date-time, boost-filesy

[2020-11-19 05:48] DBJDBJ commented on #14581
Perhaps you need to test vcpkg with all the major AV?

And test the scripts with hardcoded paths before that.

I am not volunteering as a vcpkg beta tester. Or developer.

[2020-11-19 05:51] JackBoosY commented on #14590
After installing the boost component, you need to implement `find_package()`/ `find_path` / `target_include_directories` / `target_link_libraries` in `CMakeLists.txt` according to the console output.
Example:
[code]

[2020-11-19 05:57] DBJDBJ commented on #14581
Key issue is customer discovers and solves the major flaw in the major script but you comment the secondary issue. With the AV.

Primary: How is it possible that was left in the bootstrap PS1?

AV issue: it is up to the team to discuss this with the AV vendor not customers.

vcpkg: good plan. Implementation: alpha.

[2020-11-19 06:02] JonLiu1993 commented on #14568
Hi @0xECEAD ,Is your vcpkg the latest version? The patch 0007-fix-arm-build.patch already exists in the latest vcpkg, but in the patch, only _if (MSVC)_ is changed to _if (MSVC AND NOT (CMAKE_GENERATOR_PLATFORM MATCHES "^ARM"))_, I will follow the patch you provided I re-made the previous patch, but it still doesn't work, and the problem is the same. Can you check again? The following is the patch

[2020-11-19 06:31] JackBoosY commented on #14632
I can't repro it using your sample code:
[code]
Can you print the macro `${GDAL_LIBRARY}` and provide it to me?

Thanks.

[2020-11-19 06:32] CodeMan-P opened #14643 "log4cplus官方配置默认支持unicode,用vcpkg安装时默认不支持？"
这样安装不支持unicode,但是官方文档里是默认--with-wchar_t-support。
`vcpkg install log4cplus`
必须添加特征：
`vcpkg install log4cplus[unicode]`

当我使用最新版本vcpkg安装log4cplus后编译工程报错，查阅文档发现上述问题，旧版vcpkg也是默认支持unicode。
还有编译完成后缺失了‘U’后缀
之前是log4cplusU.lib
现在改成了log4cplus.lib

[2020-11-19 06:40] linquize commented on #14643
This port was updated 1 month ago to add an optional feature **unicode**

https://github.com/microsoft/vcpkg/commit/b1dea7104f38eae95284470af2833b628a4847bb

[2020-11-19 06:41] epiciskandar commented on #14632
with
[code]
got
[code]

with
[code]
got
[code]

[2020-11-19 06:48] JackBoosY commented on #14632
Does this issue related to #9068?

[2020-11-19 06:55] JackBoosY commented on #14627
Hi @dadidag, thanks for reporting this issue!
But I can't repro this:
[code]

[2020-11-19 07:08] CodeMan-P commented on #14643
我只是困惑添加“feature”为什么要修改默认的编译选项。😅

[2020-11-19 07:08] #14643 closed

[2020-11-19 07:10] traversaro opened #14645 "Difference between 2020.11 and 2020.11-1 releases"
I saw that two weeks ago two new release were tagged on vcpkg:
* 2020.11 ( https://github.com/microsoft/vcpkg/releases/tag/2020.11 )
* 2020.11-1 ( https://github.com/microsoft/vcpkg/releases/tag/2020.11-1 )

The two releases point to some different commits, and the 2020.11-1 is not in line with the naming used for releases in the past. I was wondering what are the differences between this two rele

[2020-11-19 07:16] JackBoosY commented on #14030
Because `non-http` is a default feature...
Please use this command `./vcpkg install curl[core,tool,openssl]`.

[2020-11-19 07:23] 0xECEAD commented on #14568
Hi JonLiu, thank you for testing/trying.
I just did a clean checkout, bootstrap-build vcpkg. Then I overwrite the `0007-fix-arm-build.patch` with my file `0007-fix-arm-build.patch.txt`. And install the libwebp-library. That all works without errors on my machine. See [console-my-patch.log](https://github.com/microsoft/vcpkg/files/5565029/console-my-patch.log).

When I do the same with your patch,

[2020-11-19 07:28] epiciskandar commented on #14632
probably yes, I will figue this out. this may take much time

[2020-11-19 07:30] NancyLi1013 commented on #14645
Hi @traversaro

Thanks for posting this issue.

I think this change may answer your question. Please refer to the details.
https://github.com/microsoft/vcpkg/compare/2020.11...2020.11-1

[2020-11-19 07:49] traversaro commented on #14645
Thanks @NancyLi1013 ! So this means that `2020.11` was the original release, while `2020.11-1` is a sort of a patch release, and so the latest release is `2020.11-1`? Is the naming convention for releases documented somewhere?
I am asking because when I render the vcpkg github repo, while `2020.11-1` is correctly listed as "Latest Release" in the left menu:
![releases_1](https://user-images.github

[2020-11-19 07:52] JackBoosY commented on #14632
Maybe #13449 could fix this issue.

[2020-11-19 08:22] dadidag commented on #14627
Good morning JackBoosY,
sorry to say, the mentioned file

does not exist after the build :-(

Does "VCPKG_ROOT/buildtrees/curl/config-x86-windows-static-out.log" help?
It contains some brotli related Cmake-warnings that possibly may help.

[config-x86-windows-static-out.log](https://github.com/microsoft/vcpkg/files/5565343/config-x86-windows-static-out.log)
If not, please let me know what I can do

[2020-11-19 08:27] JackBoosY commented on #14627
@dadidag can you please re-install port `brotli` then rebuild curl?

Thanks.

[2020-11-19 08:43] NancyLi1013 commented on #14637
Hi @rouault

Thanks for posting this issue.

@strega-nil

Could you please help take a look?

I can reproduce this on my machine with Visual Studio 2015 too.

[code]

[2020-11-19 08:56] LouisClt commented on #14030
Thank you for your answer.
I tested your command. It only compiles http/https. I guess this is normal as non-http is an inverted-feature ?
It activates HTTP-ONLY when it is not put.
In the control file :
Feature: non-http
Description: Enables protocols beyond HTTP/HTTPS/HTTP2

[2020-11-19 09:03] PhoebeHui commented on #14645
@vicroms, could you please help have a look?

[2020-11-19 09:19] JackBoosY commented on #14030
@LouisClt  Seems the description is wrong.
In `SOURCE/CMakeLists.txt`:
[code]
The wrong description caused you to use the wrong feature.

[2020-11-19 09:45] LouisClt commented on #14030
Thanks for your answer. Excuse me if I'm wrong but as I understand it :
In the libcurl portfile :

[code]
As we can see non-htp is an inverted feature bound to HTTP_ONLY.
According to the vcpkg doc (https://github.com/microsoft/vcpkg/blob/master/docs/maintainers/vcpkg_check_features.md ):

So, according to me, if non-http is specified, the flag -DHTTP_ONLY=OFF will be put, else -DHTTP_ONLY=ON.
But

[2020-11-19 09:59] JackBoosY commented on #14030
@LouisClt Yes, the description should be `enable all protocols except HTTP`.

[2020-11-19 10:57] PhoebeHui commented on #14631
@L0ric0, thanks for reporting this issue, I will take a look tomorrow.

[2020-11-19 11:09] przole opened #14652 "[protobuf] update to 3.14.0"
Library name: protobuf

New version number: 3.14.0

https://github.com/protocolbuffers/protobuf/releases/tag/v3.14.0

[2020-11-19 12:47] sjdavalle commented on #8529
Have you tried specifying the cross-compiler (`--cross-prefix`)?
This is how I'm cross-compiling ffmpeg for aarch64

[code]

[2020-11-19 14:14] dllg opened #14654 "[redis-plus-plus] Build using c++17 standard"
****

**Is your feature request related to a problem? Please describe.**
Redis-plus-plus is by default built using c++11 standard. When trying to use it in a Linux application built using C++17 I get link errors.

**Proposed solution**
Build redis-plus-plus using define flag REDIS_PLUS_PLUS_CXX_STANDARD=17.

[code]

**Additional context**
See CMakeLists.txt that contains REDIS_PLUS_PLUS_CXX_STANDA

[2020-11-19 18:52] strega-nil commented on #14581
@DBJDBJ I'm sorry that you don't like how we do things. We are in the middle of solving all of these problems, but I would like to get y'all working so you don't have to wait until we actually are done solving them, since they are problems that take a while to solve.

[2020-11-19 18:56] #14630 closed

[2020-11-19 19:39] malidiab commented on #14331
same problem in 7.1.2

[2020-11-19 20:06] bl-ue commented on #14331
@malidiab What version of quill are you using? [A workaround](https://github.com/odygrd/quill/commit/5a4dbedd2e59249719f0053b86f521c2b8cfca83) was added in quill 1.5.2.

[2020-11-19 20:12] Neumann-A commented on #14645
https://github.com/microsoft/vcpkg/pull/14377 has a changelog. Mainly powershell fix.

[2020-11-19 20:12] malidiab opened #14657 "Please update release notes for vcpkg 2020.11.01"
The same comment was used from 2020.6 in 2020.11 for [fmt] package

**vcpkg (2020.11.01)**
`(#12312) [fmt] Update to 7.0.2 + [spdlog] Update to 1.7.0 (by @kevinlul)`

**vcpkg (2020.06.16 - 2020.7.31)**
`(#12312) [fmt] Update to 7.0.2 + [spdlog] Update to 1.7.0 (by @kevinlul)`

in 2020.11 the update should :
`               [fmt] Update to 7.1.2 + [spdlog] Update to 1.8.0`

That last update of [fmt

[2020-11-19 20:31] tombadmanship commented on #7157
This solved a problem that I've been battling for two days. Thanks.

[2020-11-19 20:33] #14619 closed

[2020-11-19 20:34] #11056 closed

[2020-11-19 20:34] #14156 closed

[2020-11-19 20:38] vicroms commented on #14645
Hi @traversaro,

Indeed, `2020.11-1` is the latest release.  It patches a bug that affects non-Windows platforms.

I don't know why it appears second on the branches/releases list. But if I have to guess, I believe is because GitHub assumes that `-1` is a pre-release tag, under SemVer conventions, instead of a patch update. If that's the case, then in the future using `.##` instead of `-##` may av

[2020-11-19 20:48] strega-nil commented on #14637
Fixed by #14659

[2020-11-19 21:16] DBJDBJ commented on #14581
@strega-nil  that's perfectly fine. Just put that on top of the readme.  Until things are usable?

[2020-11-19 21:49] WenceyWang opened #14660 "[New Port Request] libvirt"
Library name: libvirt

Library description:  The libvirt project:   is a toolkit to manage virtualization platforms

Source repository URL: https://gitlab.com/libvirt/libvirt

Project homepage (if different from the source repository): https://libvirt.org/index.html

Anything else that is useful to know when adding (such as optional features the library may have that should be included):
Hyper-V s

[2020-11-19 21:56] Neumann-A commented on #442
in #9966 I had to add: `-c core.autocrlf=false` to `vcpkg_apply_patches`
complete command:
`COMMAND ${GIT} --work-tree=. --git-dir=.git -c core.autocrlf=false apply "${ABSOLUTE_PATCH}" --ignore-whitespace --whitespace=nowarn --verbose`

[2020-11-19 22:00] Neumann-A commented on #1626
Just leaving this here:
https://cmake.org/cmake/help/v3.19/prop_tgt/MAP_IMPORTED_CONFIG_CONFIG.html

[2020-11-19 22:02] traversaro commented on #14645
Perfect, thanks a lot!

[2020-11-19 22:04] Neumann-A commented on #2087
https://github.com/Neumann-A/my-vcpkg-triplets

has triplets for clang-cl (llvm) although not all ports are supporting clang-cl currently. For MSBuild ports you need to have the llvm extension installed.

[2020-11-19 22:05] #4567 closed

[2020-11-19 22:06] Neumann-A commented on #4567
https://github.com/Neumann-A/my-vcpkg-triplets
has a working llvm triplet although not all ports support switching to clang-cl

[2020-11-19 22:08] Neumann-A commented on #6537
closed since i reworked openssl to a single port in one PR.

[2020-11-19 22:08] #6537 closed

[2020-11-19 22:09] Neumann-A commented on #7179
@JackBoosY close?

[2020-11-19 22:47] strega-nil commented on #14581
@code-wizard from what we can tell, it's probably something like "powershell.exe is not the right kind of executable for your system"; it's unclear why that would be, but it's the only thing we can think of. There's probably more debugging that you could do, but given that the cmake build worked, I don't think you should be too concerned.

[2020-11-19 22:56] strega-nil commented on #14617
@StarGate-One , actually, after looking at the actual behavior, it seems I was wrong -- I think the existing behavior is such that we keep the source around; for example:

[code]

as you can see, the source code is still here. Is there anything else you need?

[2020-11-20 00:59] #14645 closed

[2020-11-20 02:06] StarGate-One commented on #14617
Hmm, I must be losing it 🤔😢 😒
I spent days trying to it so it would not delete the sources, nothing I tried worked, it kept deleting them. Now it seems I can reproduce it deleting the sources.
Thank you for taking a look, I apologize for wasting everyone's time.👍👍✔

[2020-11-20 02:06] #14617 closed

[2020-11-20 02:16] stevegbarry opened #14663 "nvtt[core]:x86-windows build failure"
**Host Environment**
- OS: Windows
- Compiler: VS2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install osgearth:x86-windows`

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
  * nvtt[core]:x86-windows
  * osg[core,plugins]:x86-windows
    osgearth[core]:x86-windows
Additional packages (*) will be modified to complete this opera

[2020-11-20 02:20] goldscurvy commented on #9704
I don't know if this is the place to say it but I was also having this problem. It worked when, instead of running vcpkg\bootstrap-vcpkg.bat, I ran powershell.exe -ExecutionPolicy Bypass .\vcpkg\scripts\bootstrap.ps1 directly. I don't know why the batch file wasn't working.

[2020-11-20 02:41] JonLiu1993 commented on #14654
@dllg ,Thanks for posting this issue，Can you provide the following steps for your reproduction? Your CMakelists and .cpp files, thank you！

[2020-11-20 02:44] JackBoosY commented on #13753
Fixed.

[2020-11-20 02:44] #13753 closed

[2020-11-20 02:52] #7179 closed

[2020-11-20 02:52] JackBoosY commented on #7179
Fixed.

[2020-11-20 03:06] MichaelSuen-thePointer opened #14664 "[Feature Request] Enable parallel installation of libaray"
Installation of boost is very slow, each of its sub-package is downloaded and built sequentially, which cause low cpu usage and low efficiency.

command line `vcpkg install boost`

**Proposed solution**
If vcpkg can enable package level parallel installation, use `vcpkg -j8` like `make -j8` to speed up package installaziton, it would be of great help

[2020-11-20 03:38] 1807220541 opened #14665 "[<port name>] build failure"
**Host Environment**
- OS: Windows10
- Compiler: Visual Studio 2019

**To Reproduce**
Steps to reproduce the behavior:
.\vcpkg install qt5

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
  * icu[core]:x86-windows
  * jasper[core]:x86-windows
  * libjpeg-turbo[core]:x86-windows
  * libpq[core,openssl,zlib]:x86-windows
  * libwebp[core,nearlossles

[2020-11-20 05:25] vadi2 commented on #7713
A year later we're using our own [Lua 5.1](https://github.com/Mudlet/Mudlet/tree/development/3rdparty/our-vcpkg-dependencies/lua) port, but an official version would still be nice - everything from [Wikipedia](https://en.wikipedia.org/wiki/Wikipedia:Lua) to [Roblox](https://roblox.github.io/luau/compatibility.html) uses it.

[2020-11-20 05:38] #14081 closed

[2020-11-20 05:44] NancyLi1013 commented on #14637
Hi @rouault

This issue should be fixed now. Please use `git pull `to update vcpkg to the latest commit and then rebuild this.

[2020-11-20 05:44] #14637 closed

[2020-11-20 05:47] vadi2 opened #14667 "[lua:x64-mingw-dynamic] vcpkg-built lua.exe doesn't work"
**Describe the bug**
Running `lua.exe` (REPL) that's built by vcpkg produces no output.

**Environment**
- OS: Windows 10
- Compiler: MinGW-w64 8.1.0

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install lua
2. run `lua.exe`

[code]

**Expected behavior**
Something along the lines of, adjusting for the Lua version:

[code]

**Additional information**
 `luac.exe` (compiler) works fi

[2020-11-20 05:55] spindensity opened #14668 "[gettext, libiconv] - Warning: Could not find a matching pdb file"
**Describe the bug**

No `pdb` files installed after building `gettext` or `libiconv` with the warning above.

**Environment**
- OS: Windows 10 64bit 20H2;
- Compiler: MSVC 2019 16.8.1.

**To Reproduce**

Steps to reproduce the behavior:

[code]

No `pdb` file installed with the warning:

[code]

But in `buildtrees` directory, there's a `pdb` file named `iconv.pdb` here.

[code]

Also, no `pdb` fi

[2020-11-20 05:56] omcnoe commented on #14418
Well, that is the experience that I had using vcpkg in manifest mode with vscode.

[2020-11-20 06:42] JackBoosY commented on #14665
Please update your vcpkg and try again.

Thanks.

[2020-11-20 06:43] JackBoosY commented on #14668
cc @Neumann-A, seems we don't install their pdbs now.

[2020-11-20 06:44] epiciskandar commented on #14632
yes, I'm already figued out that my issue is completely related to this. glad to see we have plan to solve this.

thank you for all these helping information, but when would this pr could be merged, it looks taking much time already.

[2020-11-20 06:50] JackBoosY commented on #14632
@epiciskandar As soon as possible.

[2020-11-20 07:01] JackBoosY commented on #14632
Please wait for #13449 merge.

[2020-11-20 07:09] PhoebeHui commented on #14667
@vadi2, I can't repro this issue with vs2017 on windows.

[code]

[2020-11-20 07:40] PhoebeHui commented on #14664
@MichaelSuen-thePointer, this is already supported, see https://github.com/microsoft/vcpkg/blob/4073d297e1b07b4ccbadd053680327bd13afd3d0/ports/boost-modular-build-helper/boost-modular-build.cmake#L197

You can enable it by setting NUMBER_OF_PROCESSORS environment variable.

[2020-11-20 07:44] ForeverCyril opened #14671 "'vcpkg integrate powershell' seems write the profile into wrong file."
**Describe the bug**

The `'vcpkg integrate powershell' add the content into '$HOME\Documents\PowerShell\Microsoft.PowerShell_profile.ps1'. But my `$PROFILE.CurrentUserCurrentHost` file was in `$HOME\Documents\WindowsPowerShell\Microsoft.PowerShell_profile.ps1` which I think is the default value due to I never change it.

**Environment**
- OS: window 20H2 (19042.630)
- Compiler: MSVC 2019

**To Re

[2020-11-20 08:13] PhoebeHui commented on #14631
It links to release libraries when build with debug configuration, which is wrong.

[2020-11-20 08:20] NancyLi1013 commented on #14595
@ohhmm
Please let me know if you still have other concerns about this issue.

[2020-11-20 08:27] PhoebeHui commented on #14621
@fawdlstty

We have VCPKG_CXX_FLAGS to set additional compiler flags to be used, we also have toolchains files to set default options,  is it what you looked for?

See
https://github.com/microsoft/vcpkg/blob/master/scripts/toolchains/windows.cmake
https://github.com/microsoft/vcpkg/blob/0fec1340eba828e95c489796eb0c7a4330120686/docs/users/triplets.md#vcpkg_cxx_flags

[2020-11-20 08:32] NancyLi1013 commented on #14671
@strega-nil

Could you please help take a look?

[2020-11-20 08:54] Neumann-A commented on #14668
hmm seems like `vcpkg_copy_pdbs()` needs the ability to strip versions from dlls.

[2020-11-20 09:09] swq123459 commented on #14585
this work for me

[2020-11-20 09:09] #14585 closed

[2020-11-20 09:23] dev-gb commented on #14608
I created my own tripplet.

[code]

The Build fails as soon as vcpk tries to build QT.
Tried to modify the QT portfile, which did not help me either.

[2020-11-20 09:26] Neumann-A commented on #14608
You cannot have different CRT linkage in one triplet.

[2020-11-20 09:57] PhilippPaetzold commented on #14498
Thank you @NancyLi1013. This is working for me.

[2020-11-20 10:06] fawdlstty commented on #14621
Change the VCPKG_CXX_FLAGS variable of port every time when install it?

[2020-11-20 10:14] ohhmm commented on #14595
![Uploading 99788509...]

[2020-11-20 10:16] ohhmm commented on #14595
It looks like vcpkg downloaded another binary version of vcpkg and tried to execute it. If it is so then downloaded binary should be signed.

[2020-11-20 11:31] L0ric0 commented on #14591
yup it was nfs. changing the `soft` mount option to `hard` fixed the issue.

Documenting this incompatibility somewhere would probably be nice.

[2020-11-20 11:38] Nemirtingas commented on #13457
According to #14552, I think I need to put the prepend in the triplet instead of the vcpkg source code. I don't know right now how to do it.

[2020-11-20 11:38] #13457 closed

[2020-11-20 11:57] L0ric0 commented on #14631
so this issue should be raised with the library developers?

[2020-11-20 13:20] PhilippPaetzold commented on #14498
I think I found the reason for the linker errors when building the other source code project.
In the other project I also link with OpenCV, which I also installed with vcpkg. If you use the small sample project and also add OpenCV as a dependency, it can be reproduced:

[code]

[2020-11-20 13:24] macrosea commented on #12059
make

[2020-11-20 14:19] sai-cartly opened #14672 "python3:x64-osx build failure"
**Host Environment**
- OS: macos Bigsur
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install socket-io-client:x64-osx`

**Failure logs**
clang: warning: -framework CoreFoundation: 'linker' input unused [-Wunused-command-line-argument]
Python/ast.c:3688:5: warning: code will never be executed [-Wunreachable-code]
    PyErr_SetString(PyExc_SystemError, "unhandled

[2020-11-20 15:31] SukruHan opened #14673 "DataFrame package"
Hi,

Can you make this->package [https://github.com/hosseinmoein/DataFrame] available from here as well?

[2020-11-20 16:47] spindensity opened #14675 "[qt5] update to 5.15.2"
- Library name: qt5;
- New version number: 5.15.2;
- Other information that may be useful (release notes, etc...): https://www.qt.io/blog/qt-5.15.2-released

[2020-11-20 17:16] DBJDBJ commented on #14581
@strega-nil

The test use case is "user has accidentally deleted `"C:\Program Files (x86)\Microsoft Visual Studio\Installer"`, what then?

The solution is perhaps simple: just include `vswhere.exe` with `vcpkg` ... That way `vcpkg` is decoupled from various weird and wonderful local VS installation issues.

HTH

[2020-11-20 17:42] strega-nil commented on #14581
@DBJDBJ if you're still interested in this issue, please open your own. This piggybacking kinda sucks.

[2020-11-20 17:44] #13741 closed

[2020-11-20 17:46] StarGate-One commented on #14667
I get the same results @PhoebeHui but using the 64-bit binary:

[2020-11-20 17:59] strega-nil commented on #14671
@ForeverCyril unfortunately, `vcpkg integrate powershell` is designed for powershell core. We don't generally support Windows PowerShell with the integration.

[2020-11-20 18:03] vadi2 commented on #14667
Hm, weird. I wouldn't know what the issue is then off the top of my head.

[2020-11-20 18:25] dllg commented on #14654
Sure, here's an example that fails linking with the errors:
[code]

CMakeLists.txt:
[code]

main.cpp:
[code]

[2020-11-20 18:29] #8664 closed

[2020-11-20 18:29] #11905 closed

[2020-11-20 18:29] #14632 closed

[2020-11-20 18:30] strega-nil commented on #14591
@L0ric0 yeah, good idea.

[2020-11-20 19:48] #14437 closed

[2020-11-20 19:53] #14609 closed

[2020-11-20 19:54] #14634 closed

[2020-11-20 19:54] #14610 closed

[2020-11-20 20:25] #14606 closed

[2020-11-20 21:16] StarGate-One opened #14679 "[libzippp] x64-windows build failure after liblzma use upstream CMakeLists.txt + Add pkgconfig. (#14615)"
**Issue**
[libzippp] x64-windows build failure after commit https://github.com/microsoft/vcpkg/commit/eb895b95aac6fd7485373702f29f508c42a180a0 [liblzma] use upstream CMakeLists.txt + Add pkgconfig. **(#14615)** on windows, linux (openSUSE Leap 15.2 on WSL2 and Hyper-V is fine)

**Host Environment**
- OS: Microsoft Windows [Version 10.0.19042.630]
- Compiler:
   - VS2017 Visual Studio 2017 Version:

[2020-11-20 21:25] #12271 closed

[2020-11-20 21:27] StarGate-One commented on #14679
@Neumann-A @strega-nil
I am sure this is an easy fix, most likely the configuration package name changed, but it sure eludes me on where to make the change 😢

[2020-11-20 21:42] dave-goodall opened #14680 "Bootstrap bat succeeds but when vcpkg.exe clicked on window opens/closes instantly"
**Describe the bug**
As title.The vcpkg.exe  is 1,425,920 bytes.

**Environment**
- Windows 10

**To Reproduce**
Steps to reproduce the behavior:
1. Just click on vcpkg.exe in explorer

**Expected behavior**
A window that opens and presents the vcpkg home page

**Failure logs**
There's a CHANGELOG.md in the vcpkg-master directory but on opening that it's just a list of updates for the package.  I

[2020-11-20 21:46] StarGate-One opened #14681 "[curl] x64-windows build failure with features brotli,c-ares,core,http2,mbedtls,non-http,openssl,schannel,ssh,ssl,sspi,tool,winssl after curl Fixes pkgconfig configuration file (#14350)"
**Issue**
curl[brotli,c-ares,core,http2,mbedtls,non-http,openssl,schannel,ssh,ssl,sspi,tool,winssl] build failure after commit https://github.com/microsoft/vcpkg/commit/878d7ea830412dcda31a4d4c6589fe9e0015fe5a [curl] Fixes pkgconfig configuration file (#14350)

**Host Environment**
- OS: [Microsoft Windows [Version 10.0.19042.630]
- Compiler:
   - VS2017 Visual Studio 2017 Version: 15.9.29 VS Tool

[2020-11-20 21:49] strega-nil commented on #14681
Looking into this

[2020-11-20 21:51] StarGate-One commented on #14679
- CI Pipeline appears to have just used a cached copy instead of recompiling...
- For some reason it did not pickup liblzma is a dependency of libzippp and try to recompile libzippp?
2020-11-20T02:14:57.7480814Z                      libxslt:x64-windows:       pass: 587f8ce8cf93e54055d9c96ef250b73a3c73e3d3
**2020-11-20T02:14:57.7485920Z                     libzippp:x64-windows:       pass: 6488d612

[2020-11-20 21:58] strega-nil commented on #14679
@StarGate-One also looking into this one, thank you @StarGate-One

[2020-11-20 21:58] Neumann-A commented on #14679
that is because lzma is not a default feature of libzip.

[2020-11-20 22:04] DBJDBJ opened #14682 "user has no "C:\Program Files (x86)\Microsoft Visual Studio\Installer" folder"
"My" test use case is "user has deleted "C:\Program Files (x86)\Microsoft Visual Studio\Installer", what then?

The bug: `bootstrap.ps1` assumes on each and every machines that folder does exist and `vswhere.exe` is in there.

The solution is perhaps simple: just include vswhere.exe with `vcpkg` ... That way `vcpkg` is decoupled from various weird and wonderful local VS installation issues.

boots

[2020-11-20 22:05] Neumann-A commented on #14679
That is the problem:
`E:/vcpkg_folders/liblzma/buildtrees/libzippp/src/32217e672c-26e2865e9c.clean/cmake/FindLIBZIP.cmake(53):  find_package(LibLZMA::LibLZMA REQUIRED )`

basically 90% of the `find_package` calls in `FindLIBZIP.cmake` are nonesense. Wonder if it worked before.

[2020-11-20 22:06] strega-nil commented on #14679
@Neumann-A exciting. I'll make sure to fix it.

[2020-11-20 22:12] bl-ue commented on #14331
@odygrd When the next version of fmt comes out, you may be able to revert the changes you made in https://github.com/odygrd/quill/commit/5a4dbedd2e59249719f0053b86f521c2b8cfca83, because of the following commits (see https://github.com/fmtlib/fmt/issues/2011):
- https://github.com/fmtlib/fmt/commit/6d14f7811516ff1a88aff6edbd8c46e607aa7f07
- https://github.com/fmtlib/fmt/commit/5555651ce02a28db8941

[2020-11-20 22:27] DBJDBJ opened #14684 "Me thinks vcpkg need to be tested for AV's throwing false positives about it"
Finally, my vcpkg.exe was built. Just to be immediately quarantined by "Avast", with the following message:

![avast](https://user-images.githubusercontent.com/145155/99599272-4967c680-29fb-11eb-9bee-de8cd438febb.png)

Now each time I run the `vcpkg.exe`, it goes through the command, and then "Avast" pops up a message (each time):

![avast](https://user-images.githubusercontent.com/145155/99600320

[2020-11-20 22:51] StarGate-One commented on #14679
@Neumann-A @strega-nil Thank you very much for your hard work, I am trying to learn this so I can make changes/patches and submit the PR instead of just creating issues.

- I think that is what is so confusing to me, port libzippp has `[vcpkg-root]\buildtrees\libzippp\src\32217e672c-26e2865e9c.clean\FindLIBZIP.cmake` and in turn looks like it has all the compression libraries in it for windows bui

[2020-11-20 23:01] strega-nil commented on #14679
@StarGate-One if you're interested, you can look into it; any questions you have should be asked on the #include<C++> discord, in the #vcpkg channel :)

[2020-11-20 23:08] Neumann-A commented on #14679
`--trace` or `--trace-expand` are the magic options for cmake / `vcpkg_configure_cmake` to get enough log info to debug such errors and see what is going on.

[2020-11-20 23:46] strega-nil commented on #14681
@StarGate-One this doesn't seem to be a real issue; I think it is caused by not updating the libraries after a git pull.

I recommend `./vcpkg x-set-installed` to remove all installed libraries, and then re-running the install.

However, when looking at this issue, I did find an issue with libpq: #14685

[2020-11-20 23:46] Hoikas commented on #14672
The python3 port has been updated since this post. Could you update vcpkg and try again?

[2020-11-20 23:57] iskiselev commented on #13744
Any chance that it will be fixed for docker? Should docker on windows case be moved to separate issue? There is small chance that it is actually the same issue.

[2020-11-21 00:14] StarGate-One commented on #14681
I am trying on a fresh clone and see what happens.
Normally I rename the buildtrees\[port-name] directory(ies) when a port install fails (the port and features ports) and I try again.
I failed do that this time as I was researching the libzippp issue at the same time.
Oh no, not a libpq also 😒
Never a dull moment and job security 👍😊

[2020-11-21 00:20] StarGate-One commented on #14681
@strega-nil  on this one, it still fails with the same issue, as fresh vanilla clone as of a few minutes ago, no previous ports installed.
The only ports installed before port curl failed was:
SYSTEM@ANDROMEDA 11/20/2020 19:16:55 D:\Git\vcpkg\vs2017-x64-v141
->vcpkg list

Console log about the same:
Starting package 11/35: curl:x64-windows
Building package curl[brotli,c-ares,core,http2,mbedtls,non

[2020-11-21 01:04] strega-nil commented on #14681
@StarGate-One that's really odd... it works completely fine on my machine. Can you try the clean install anyways?

Also, don't worry about renaming `buildtrees`, that gets cleaned, the concern is `installed`.

[2020-11-21 01:15] StarGate-One commented on #14679
@Neumann-A at the risk of sounding dumb, where would I put these options - I tried modifying/adding them to then end of the command line in vcpkg_build_cmake.cmake and vcpkg_configure_cmake.cmake with no results

@Neumann-A cc: @strega-nil

I think you are absolutely correct. I doubt it ever worked correctly. A dependents of libzippp.dll before the lzma commit today and it looks like zip.dll, no l

[2020-11-21 02:37] StarGate-One commented on #14681
- Well there goes my weekend that just wiped out every installed package I had been installing in a fresh clone/build 😢
- It seems x-set-installed rebuilds the ports specified on the command line (if installed) or installs them fresh - but the major point to live with it removed all 406 of the other installed ports not specified on the command line.

[2020-11-21 03:36] StarGate-One commented on #14681
@strega-nil FYI
- using the `x-set-installed` did **install port curl** with the desired **features correctly**
- there must be some processing difference how **`vcpkg install`** versus **`vcpkg x-set-installed`** works
- using **x-set-installed** is not a viable option for me:
   - I would need to **include 400+ ports on the command line** each time there is a **change/update**
   - leaves the lo

[2020-11-21 04:28] StarGate-One opened #14687 "[networkdirect-sdk] x86-windows x86-windows-static build failure"
**Host Environment**
- OS: [Microsoft Windows [Version 10.0.19042.630]]
- Compiler:
   - Visual Studio 2017 Version: 15.9.29  VS Tools Version: 14.16.27023
     Microsoft (R) C/C++ Optimizing Compiler Version 19.16.27044 for x86
   - Visual Studio 2019 Version: 16.8.2  VS Tools Version: 14.28.29333
     Microsoft (R) C/C++ Optimizing Compiler Version 19.28.29334 for x86

**To Reproduce**
Steps to

[2020-11-21 05:06] MichaelSuen-thePointer commented on #14664
@PhoebeHui The `-jX` option applied on `b2` will only enable parallel build of one single boost module right? The bottleneck is not build time of one single module, but the sequential installation of a tons of boost modules.

So if there are mutliple boost module to be installed, the whole process is still like:

download **m1**-> unpack **m1**-> parallel build **m1**-> install **m1**-> download *

[2020-11-21 06:44] StarGate-One commented on #14681
@PhoebeHui @Matioupi cc: @strega-nil
1. I do not know how to fix, but I figured out the problem is related to mbedtls with feature pthreads
2. If you install port mbedtls
   - with only feature **core** _curl builds fine with all features_
   - with both features **core, pthreads** _curl fails as described above_
3. Either method of install fails with same issue:
    - .\vcpkg.exe x-set-installed

[2020-11-21 07:25] Matioupi commented on #14681
Hello, this looks like the same kind or error message I had in adding "fix" cases for the libcurl.pc file. Still I missed testinf those features and adding the same kind of search & replace fix. Will take care of it today. (and maybe refactor a little bit to make it more generic)

[2020-11-21 08:51] vadi2 commented on #14684
This is unfortunately a false positive on the AV's side. Double-check that with https://www.virustotal.com/gui.

[2020-11-21 09:27] vadi2 opened #14689 "[zlib] x64-mingw-dynamic build failure"
**Host Environment**
- OS: Windows
- Compiler: Mingw-w64 8.1.0 as provided by [Github Actions](https://github.com/actions/virtual-environments/blob/main/images/win/Windows2019-Readme.md).

**To Reproduce**
`./vcpkg install zziplib`

**Failure logs**
[code]

[code]

[2020-11-21 10:10] Matioupi commented on #14681
Hello,

This commit : https://github.com/microsoft/vcpkg/issues/14681

Fixes the issue (only handle and tested for windows case at time, more work needed for other platforms).

I decided to remove the -loptimized / -ldebug that were in the package stage libcurl.pc. Maybe a better fix would be to add those in the vcpkg_fixup_pkgconfig calls at the end of the portfile.cmake

It also seems that the r

[2020-11-21 10:33] vicroms commented on #14680
Hi @dave-goodall

Vcpkg is a command line tool not a GUI application. You interact with it by running commands on a terminal.

[code]

Please refer to our README or our documentation to learn how to use vcpkg.

[2020-11-21 10:33] #14680 closed

[2020-11-21 10:40] vicroms commented on #14682
We plan on changing the behavior of our bootstrap script to download a pre-built and signed vcpkg binary (hopefully we can get to this soon). The option to build from code will still be available via our CMake project in `toolsrc/`.

This should fix this problem and hopefully our issues with AV software.

[2020-11-21 11:15] atimholt commented on #4890
What does the “target(s) were omitted” message mean? The google search “`vcpkg "target(s) were omitted"`” reveals a total of 31 (totally irrelevant) results on the entire internet. I thought it might make sense to ask here, just because it is an existing issue based on the same confusion that brought me here.

[2020-11-21 12:09] sfhacker commented on #14689
Are we still having issues building such a small and simple port (zlib)?
@vadi2 Have you contacted us before?
Perhaps your environment is broken somehow? Have you checked your toolchain is complete (i.e. windres)?

[2020-11-21 12:11] Neumann-A commented on #14679
in the `portfile` into the `vcpkg_configure_cmake` call as `OPTIONS` parameter

somewhere in the `portfile` there should be a
[code]

[2020-11-21 12:20] vadi2 commented on #14689
My toolchain is not broken, it can compile other things just fine.

Perhaps you could help by confirming if it works on your machine?

[2020-11-21 13:07] sfhacker commented on #14689
![image](https://user-images.githubusercontent.com/25817529/99878042-a4492a00-2c56-11eb-91c9-546bf0c7e6d3.png)

[2020-11-21 13:46] gwnet opened #14690 "How do I install wangle under proxy well?"
When asking a question please also include where you looked for an answer (so we can update the documentation if needed).
[DEBUG] CreateProcessW("C:\Program Files\CMake\bin\cmake.exe" -DPORT=boost-compatibility -DCURRENT_PORT_DIR=C:/Wayne/vcpkg/ports/boost-compatibility -DVCPKG_USE_HEAD_VERSION=0 -D_VCPKG_NO_DOWNLOADS=0 -D_VCPKG_DOWNLOAD_TOOL=BUILT_IN -D_VCPKG_EDITABLE=0 -DFEATURES=core -DALL_FEAT

[2020-11-21 15:30] longnguyen2004 opened #14692 "[pthreads] pthreads-win32 or winpthreads?"
****

**Is your feature request related to a problem? Please describe.**
Is pthreads-win32 still actively maintained? The last commit on sourceforge dates back to 2019, while winpthreads is still active and will continue to be so for the foreseeable future. Is it a good idea to switch to winpthreads?

[2020-11-21 16:19] StarGate-One commented on #14681
OK - I got the fix from commit https://github.com/Matioupi/vcpkg/commit/236dae55a2736be5fc1e7db7cba7c61ce4a9d77c PR First fix attempts for microsoft#14681 and got a new error😢 with zlib with brotlidec.lib and brotlicommon lib.
Unfortunately I would guess we end up fixing all the features.

**>-- CHECK_LIB_zlib D:/vcpkg_x64/vs2019/prod/packages/curl_x64-windows/lib/brotlicommon.lib D:/vcpkg_x64/vs2

[2020-11-21 16:20] StarGate-One commented on #14679
OK @Neumann-A I give it a try a little later. Thank you👍👍👍

[2020-11-21 17:19] DBJDBJ commented on #14581
I did.

[2020-11-21 17:24] Matioupi commented on #14681
More fix here : https://github.com/Matioupi/vcpkg/commit/fe90a39bf93404084a02a2888ed812eb9f183c78

[2020-11-21 17:25] DBJDBJ commented on #14682
@vicroms  that's great Victor Romero ... Truth to be told Avast should not throw this big bold error dialogues on `vcpkg.exe`, for civilians to get the heart attack.

[2020-11-21 17:25] #14682 closed

[2020-11-21 17:32] Matioupi commented on #14681
I just tested a linux build and get no errors with the specific features and build order that were used. Still the result libcurl.pc do not contain references to brotli libs even when they are present and the feature was activated. Not sure if this requires a specific fix or not.

[2020-11-21 17:39] Matioupi commented on #14681
Also, shouldn't the CONTROL section about brotli feature be changed from
[code]
to
[code]
in order to force brotli build when the feature is activated ? is there a rationale for not having it ?

[2020-11-21 17:54] juandent opened #14693 "how one can specify a branch that is not the master branch to download using vcpkg?"
I checked the help for vcpckg help topics and nothing seems to mention anything related to branches... I also checked the docs folder but none of the .md files mention branches

[2020-11-21 18:50] StarGate-One commented on #14681
@Matioupi
- The latest change to portfile.cmake fixes the issue - I was able to build/compile/link/install with these options without issue:
`curl[brotli,c-ares,http2,mbedtls,non-http,openssl,ssh,ssl,sspi,tool,winssl]` on both VS2017/VS2019 x64-windows
- The other questions, I am not sure about. There has been so many changes lately I am unable to keep up with what is/is not required in the `CONTR

[2020-11-21 20:25] kareemsayed commented on #3179
Can I ask what is the progress with this one?

I've been really needing this feature because with the ASSIMP library.
The loading times are really slow for me when in debug mode, so I wanted to use the release binaries while debugging my project.

[2020-11-21 21:52] ranjeethmahankali opened #14694 "Missing headers - OpenVDB/viewer"
**Describe the bug**
the `include/openvdb/viewer` folder is missing.

**Environment**
- Windows

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install openvdb:x64-windows-static

Everything is installed normally but the include director doesn't contain the `openvdb/viewer` folder.

**Expected behavior**
`openvdb/viewer` and the headers inside should be present

[2020-11-21 22:50] StarGate-One commented on #14679
It is going to take someone more experience than I to figure out how this can be fixed.

[2020-11-22 00:03] remoe opened #14695 "[osg] Please add WIN32_USE_MP define for faster windows build"
OSG windows build does not have a "WIN32_USE_MP" define.

https://github.com/openscenegraph/OpenSceneGraph/blob/50de0c25f70d251a000d7972d95e6c1d4249c7dd/CMakeLists.txt#L351

The build of osg take more than an hour on github actions.

[2020-11-22 00:10] giorgiozoppi commented on #7831
I am interested to port this https://www.gnupg.org/ftp/gcrypt/gnutls/v3.6/gnutls-3.6.15.tar.xz

[2020-11-22 00:31] giorgiozoppi commented on #7831
i created the files.

[2020-11-22 01:03] playgithub opened #14696 "How can `bootstrap-vcpkg.bat` build `vcpkg.exe x64`"
In `vcpkg-root\scripts\bootstrap.ps1`, there are some x64 stuff.

[2020-11-22 01:17] HoopDead commented on #13890
Hey @BillyONeal @JChatillon!

I just put new disc into my computer and the problem happened again - but this time I tried to follow advice given by Jerome. Clearing the HKEY_CURRENT_USER\Software\Microsoft\Command Processor\AutoRun (CURRENT USER, NOT LOCAL_MACHINE) and it is working! Thanks for your help.

[2020-11-22 01:19] HoopDead commented on #10958
@JChatillon

Your advice also worked for me but I had to clear AutoRun from HKEY_CURRENT_USER, not HKEY_LOCAL_MACHINE and I guess everyone in this issue have got the same problem as us.

[2020-11-22 01:23] playgithub opened #14697 "Workaround for huge dependecies that are not necessary"
When porting `poppler`, it depends on a small tool `clang-format.exe`.
`vcpkg install llvm[clang-tools-extra]` leads to 102GB in `vcpkg-root/buildtrees`.
A workaround is possible.

e.g. for x64
In official site, there are prebuilt binaries
`https://github.com/llvm/llvm-project/releases/download/llvmorg-11.0.0/LLVM-11.0.0-win64.exe`
in which `clang-format` can be extracted and executed alone.

Whil

[2020-11-22 02:13] Haeri opened #14698 "[New Port Request] MoltenVK"
Library name: MoltenVK

Library description: MoltenVK is a Vulkan Portability implementation. It layers a subset of the high-performance, industry-standard Vulkan graphics and compute API over Apple's Metal graphics framework, enabling Vulkan applications to run on iOS and macOS.

Source repository URL: https://github.com/KhronosGroup/MoltenVK

Project homepage (if different from the source reposi

[2020-11-22 03:08] StarGate-One commented on #14696
.\bootstrap-vcpkg.bat -win64

[2020-11-22 03:35] mkckr0 opened #14699 "[boost-program-option] build failure"
**Host Environment**
- OS: Windows 10 19042.630
- Compiler: VS 2019

**To Reproduce**
`./vcpkg install boost-program-option`

**Failure logs**
[code]

[2020-11-22 03:44] mkckr0 commented on #14699
"boost-program-opt..." is not "boost-program-option", but "boost-program-options". I make a fault.

[2020-11-22 03:44] #14699 closed

[2020-11-22 03:57] #14696 closed

[2020-11-22 06:01] Rdna123 opened #14700 "[New Port Request] Festival"
Library name:
Festival

Library description:
Festival offers a general framework for building speech synthesis systems as well as including examples of various modules. As a whole it offers full text to speech through a number APIs: from shell level, though a Scheme command interpreter, as a C++ library, and an Emacs interface. Festival is multi-lingual (currently English (US and UK) and Spanish a

[2020-11-22 06:03] Rdna123 opened #14701 "[New Port Request] speech_tools"
Library name:
speech_tools

Library description:
The Edinburgh speech tools system is a library of C++ classes, functions and utility programs that are frequently used in speech software. The system compiles to a single unix library .a file which can be linked with software. At present, C++ classes for several useful speech and language classes have been written, along with audio software and some

[2020-11-22 06:46] glassez opened #14702 "[libtorrent] update to 1.2.11"
Library name: libtorrent

New version number: 1.2.11

Other information that may be useful (release notes, etc...)
https://github.com/arvidn/libtorrent/releases/tag/v1.2.11

[2020-11-22 11:09] MFunction96 opened #14703 "[gmp:x64-windows] build failure"
**Host Environment**
- OS: Windows 10 Pro 20H2 (19042.630)
- Compiler: Visual Studio 2019 Version: 16.8.2 VS Tools Version: 14.28.29333

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install gmp:x64-windows`

**Failure logs**
[code]

**Additional context**

I noticed that the issue https://github.com/microsoft/vcpkg/issues/13642 mentioned some x64 packages built by x86 compiler/linker

[2020-11-22 12:23] yingshaoxo opened #14704 "[gtkmm] build failure"
**Host Environment**
- OS: Linux pop-os 5.4.0-7642-generic #46~1598628707~20.04~040157c-Ubuntu SMP Fri Aug 28 18:02:16 UTC  x86_64 x86_64 x86_64 GNU/Linux

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install gtkmm`

**Failure logs**
[code]

[2020-11-22 13:10] Nemirtingas opened #14705 "Update to cmake 3.18.4 broke windows cross-compilation with clang-cl"
**Describe the bug**
Since the update to cmake 3.18.4, I can't crosscompile for Windows with clang-cl

**Environment**
- OS: Linux Ubuntu 18.04
- Compiler: llvm + clang-cl 9

**Failure logs**
[code]

Using CMake version 3.17.2 works fine:
[code]

[2020-11-22 13:17] playgithub opened #14706 "How not to copy dll's to the folder of binary?"
Instead of copying dll's, I'd like to set the environment variable `PATH` to find the dll's.

[2020-11-22 13:42] playgithub opened #14707 "`vcpkg edit pkg_name` no permission"
## Problem
On Windows, using cmder
[code]
`vckpkg` is in test_user's home folder

## More info
I can edit the files of the port manually withou administrator priviledge.

[2020-11-22 13:42] Nemirtingas opened #14708 "[opengl] cross-compilation build failure"
**Host Environment**
- OS: Linux Ubuntu 18.04
- Compiler: llvm + clang-cl 9

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install glew`

**Failure logs**
[code]

**Additional context**
The file DOES exist but in a Linux path format (use / instead of \\)
`ll /clang_windows_sdk/winsdk/Lib/10.0.18362.0/um/x86/OpenGL32.Lib`

[2020-11-22 14:59] remoe opened #14709 "Why does have the tagged vcpkg a wrong version?"
**Describe the bug**
vcpkg get a wrong version when one checkout the 2020.11 tag. The

https://github.com/microsoft/vcpkg/blob/2020.11/toolsrc/VERSION.txt

contains:

"2020.06.15"

**Environment**
- OS: windows
- Compiler: VS2019

**To Reproduce**
Steps to reproduce the behavior:
1. git clone -b '2020.11' --single-branch --depth 1 https://github.com/microsoft/vcpkg
2. cat vcpkg/toolsrc/VERSION.txt

[2020-11-22 21:54] Reveares opened #14712 "[qt5] module "QtQuick.Dialogs" is not installed"
**Describe the bug**
While #14594 fixed a few bugs related to QML deployment I still get the error
[code]
when I do `import QtQuick.Dialogs 1.2` inside a QML file.

**To Reproduce**
Steps to reproduce the behavior:
1. `./vcpkg install qt5`
(`./vcpkg install qt5-declarative` should be enough in this case, but I tested with both to be sure)
2. `import QtQuick.Dialogs 1.2` inside a QML file.
3. Build

[2020-11-22 23:13] Nemirtingas commented on #14031
For my own use, I've made a openssl cross-compile branch that uses the openssl-cmake project: https://github.com/Nemirtingas/vcpkg/tree/openssl_crosscompile_fix
I don't know if it works everywhere. Why don't openssl team just support CMake ? That would be so easier for everyone. openssl is a pain to build.

[2020-11-23 02:01] yuntong613 opened #14713 "[poco:libmariadb] build dependency missing"
Used: master branch, WIN7 x64
cmd > vcpkg install poco[mariadb,netssl]
vcpkg can not build the PocoDataMySQL feature, how can i do?
[config-x86-windows-out.log](https://github.com/microsoft/vcpkg/files/5580832/config-x86-windows-out.log)

[2020-11-23 02:36] Hoikas commented on #14706
Pass `-DCMAKE_APPLOCAL_DEPS=OFF` to cmake.

[2020-11-23 02:37] #14706 closed

[2020-11-23 02:38] playgithub commented on #14706
Any way untouch cmake?

[2020-11-23 03:14] PhoebeHui commented on #14681
@StarGate-One, thanks for reporting this issue and figure out the repro steps!

@Matioupi, could you help summit the fix?

[2020-11-23 04:19] JackBoosY commented on #14713
Can you re-install libmariadb and try again?

Thanks.

[2020-11-23 04:21] JackBoosY commented on #14712
cc @Neumann-A

[2020-11-23 05:33] JackBoosY commented on #1653
Close this issue via #14243 merged.

[2020-11-23 05:33] #1653 closed

[2020-11-23 05:35] JackBoosY commented on #13744
@strega-nil Can you please take a look?

Thanks.

[2020-11-23 05:56] JackBoosY commented on #14697
Unless we provide the built binaries, we can only use dependencies. @strega-nil what do you think?

[2020-11-23 05:59] JackBoosY commented on #14705
Does the cmake 3.19.0 fixed this issue?

Seems related to https://github.com/Kitware/CMake/commit/08460462006d3d3a050317476fff4c8961da01c5

[2020-11-23 06:06] baby7305 commented on #13338
i have the same errors

[2020-11-23 06:08] pudding186 commented on #13338
U can pull tag branch

| |
Jackey
邮箱：pudding_186@163.com
|

Signature is customized by Netease Mail Master

On 11/23/2020 14:07, 学海拾贝 wrote:

i have the same errors

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-11-23 06:09] JackBoosY commented on #14705
Can you use https://github.com/microsoft/vcpkg/pull/14716 changes and try again?

Thanks.

[2020-11-23 06:10] Matioupi commented on #14681
@PhoebeHui : I opened a new PR with the proposed fix : Phoe https://github.com/microsoft/vcpkg/pull/14715

[2020-11-23 06:29] PhoebeHui commented on #14707
@playgithub, could you set the eidtor before execute the command?

eg:
set EDITOR=C:\Program Files (x86)\Notepad++\notepad++.exe

[2020-11-23 06:32] #14707 closed

[2020-11-23 07:01] NancyLi1013 commented on #4890
Hi @atimholt

If the package has more than 4 targets that need to link, it will only show four targets in the usage info. And the rests will be omitted.

Please refer to these codes here.
https://github.com/microsoft/vcpkg/blob/master/toolsrc/src/vcpkg/install.cpp#L731

[2020-11-23 07:33] odskinz488 opened #14717 "[New Port Request] gnutls"
Library name: GnuTLS

Library description: GnuTLS implements the TLS/SSL (Transport Layer Security aka Secure Sockets Layer) protocol.

Source repository URL: https://github.com/gnutls/gnutls

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2020-11-23 07:41] PhoebeHui commented on #14695
@remoe, thanks for reporting this issue!

I have summited  PR #14718 to enable the option.

[2020-11-23 07:44] NancyLi1013 commented on #14709
Hi @remoe

Thanks for posting this issue.

@strega-nil

Could you please help take a look? Is the version expected in tag 2020.11 and 2020.11-1 now? Or we need to update it?

[2020-11-23 07:51] JonLiu1993 commented on #14672
@sai-cartly ,Thanks for posting this issue,I have successfully installed socket-io-client: x64-osx in OSX environment following your steps. You can update your vcpkg and reinstall it. If there are still problems, please attach your error log. Thank you!

![Capture](https://user-images.githubusercontent.com/63675417/99938775-89d09700-2da3-11eb-8df5-9d32549a04ec.PNG)

[2020-11-23 08:08] PhoebeHui commented on #14692
I'm fine to switch to actively matained repo, however, I'm not sure if it's right thing for pthreads.

cc @cenit @atkawa7 @JamesOldfield who may know more about this port.

[2020-11-23 08:14] JackBoosY commented on #14708
https://github.com/microsoft/vcpkg/blob/42456b785a4508386f080ae8fad2642e056b747d/ports/opengl/portfile.cmake#L4-L11
This should be replaced by `file(TO_NATIVE_PATH <path> <out-var>)`

[2020-11-23 08:25] NancyLi1013 commented on #14704
Hi @yingshaoxo

Thanks for posting this issue.

`atkmm `only supports windows platform now.

[2020-11-23 08:29] yingshaoxo commented on #14704
But how can i use gtkmm under Linux if I can't build atkmm?

I just want to install gtkmm, then do some development with it under Linux.

Of course I love vcpkg, but how can I make it to work with this purpose?

[2020-11-23 08:37] JonLiu1993 commented on #14693
@juandent ,Thanks for posting this issue,When you first create a file and then use the command: _git clone https://github.com/microsoft/vcpkg_ to get the vcpkg library, and then enter the vcpkg folder and use the command git branch to find that the master branch is automatically created. When you need to You can use _git checkou -b "xxx"_ to create a new branch with your own dedicated work branch.

[2020-11-23 08:45] NancyLi1013 commented on #14703
Hi @MFunction96

Thanks for posting this issue.

Currently , you need to install `yasm-tool:x86-windows` manually, then you can continue building `gmp`.

Please refer to this comment https://github.com/microsoft/vcpkg/issues/14288#issuecomment-718969380, I think this may answer your question.

[2020-11-23 08:58] Nemirtingas commented on #14705
Hi, I'll try asap

[2020-11-23 08:58] NancyLi1013 commented on #14595
Sorry, it seems that the attachment is not provided successfully.

[2020-11-23 08:59] NancyLi1013 commented on #14573
Closing this issue since `Pangolin ` has been added and there is no response.

[2020-11-23 08:59] #14573 closed

[2020-11-23 09:04] bela-mervado commented on #13890
Yo

I had the same problem.. thanks
For me it was conemu, installed a while ago to have a console with ansi color escape codes.

thanks again
Béla

[2020-11-23 09:14] Nemirtingas commented on #14708
Does https://github.com/microsoft/vcpkg/blob/42456b785a4508386f080ae8fad2642e056b747d/ports/opengl/portfile.cmake#L39-L42 need to be replace as well ?

[2020-11-23 09:18] christophe-calmejane commented on #11927
@kevinlul (and others)
**VCPKG_CMAKE_SYSTEM_VERSION** can now be used in **android triplet files** to choose the **native API** to be used by the NDK (currently defaults to 21).

[2020-11-23 09:20] remoe commented on #14695
@PhoebeHui, ok thanks.

[2020-11-23 09:20] #14695 closed

[2020-11-23 09:20] JackBoosY commented on #14708
@Nemirtingas I think so.

[2020-11-23 09:23] Nemirtingas commented on #14708
Do I also need to call file(TO_NATIVE_PATH ...) or can I just use the Unix path separator `/` ? DESTINATION use the Unix separator and looks fine.

[2020-11-23 09:27] NancyLi1013 commented on #14704
@yingshaoxo

Since `atkmm `is one of required dependencies for `gtkmm`.  Without `atkmm `, `gtkmm` cannot be built on Linux in vcpkg.

I'm sorry, there are no ways to make it work on non Windows now.

[2020-11-23 09:27] JackBoosY commented on #14708
@Nemirtingas All path should be set as UNIX style, and if you are in Windows, it should be converted by `file(TO_NATIVE_PATH <path> <out-var>)`.

[2020-11-23 09:33] JackBoosY commented on #14684
Well, this issue can be solved by releasing binary version of vcpkg in the future.

[2020-11-23 09:48] Nemirtingas commented on #14708
Is it something like this that you want ? https://github.com/Nemirtingas/vcpkg/tree/opengl_port_fix

[2020-11-23 09:53] JackBoosY commented on #14708
@Nemirtingas Yes, does it work?

[2020-11-23 09:58] Nemirtingas commented on #14708
I must test on Windows but it works on Unix as TO_NATIVE_PATH doesn't change anything on Unix'es ;)

[2020-11-23 10:08] NancyLi1013 commented on #14663
Hi @stevegbarry

Thanks for posting this issue.

Of course, `nvtt `is an optional dependent for `osg`. But we still cannot remove it from the dependency lists for feature `plugin`.

We cannot make sure other users don't need this feature.

So we can update the dependency as `nvtt (!x86) `to solve this issue.

[2020-11-23 10:35] PhilippPaetzold opened #14725 "[New Port Request] backward"
Library name:
backward-cpp

Library description:
Print informative stacktraces on Windows/Linux/MacOS

Source repository URL:
https://github.com/bombela/backward-cpp

[2020-11-23 11:28] PhilippPaetzold commented on #14498
Hi @NancyLi1013,

should I open a new issue for this?

[2020-11-23 13:31] proTerm opened #14726 "[vcpkg] [libxml2] 1) after installationg, the package is not found 2) include folder doesnt contain all files"
**Describe the bug**
A clear and concise description of what the bug is.

**Environment**
- OS: Windows 10
- Compiler: Visual Studio 2017

**To Reproduce**
Steps to reproduce the behavior:
1)
1. `./vcpkg install libxml2 --triplet x64-windows-static`
2. See error
[code]
However,
[code]
2) Besides, there is no win32config.h in the include directory

**Expected behavior**
find_package to function and

[2020-11-23 13:49] playgithub opened #14727 "In Visual Studio Solution, how not to copy any dll's in vcpkg into binary's folder?"
By default, e.g. it'll copy all depending dll's into `path\to\vs_solution\x64\Debug`.
Any option to not copy the dll's?

[2020-11-23 15:55] akayami opened #14728 "Unable to compile vcpkg in linux (archlinux) using provided instructions"
**Describe the bug**
Unable to compile vcpkg in linux (archlinux) using provided instructions

**Environment**
- OS: Linux shark 5.9.8-arch1-1 #1 SMP PREEMPT Tue, 10 Nov 2020 22:44:11 +0000 x86_64 GNU/Linux
- Compiler: `-- The CXX compiler identification is GNU 6.5.0`

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout source code
2. ./vcpkg/bootstrap-vcpkg.sh

**Expected behavi

[2020-11-23 16:00] linquize commented on #14728
You said that you use gcc 10, but actually gcc 6 is picked

[2020-11-23 16:21] linquize commented on #14728
Could you run `g++ --version`? It may be different from `gcc --version`.

[2020-11-23 16:51] akayami commented on #14728
[code]

[2020-11-23 16:54] linquize commented on #14728
How do you install `g++-6`?

[2020-11-23 17:15] akayami commented on #14728
I'm using the official archlinux package manager.

https://wiki.archlinux.org/index.php/GNU_Compiler_Collection

So the command is
[code]

[2020-11-23 17:17] juandent commented on #14693
@JonLiu1993 thanks. however my question was on how to download a specific branch of the github project corresponding to the vcpkg.
For example I would like the dev branch for the project boost-di

[2020-11-23 17:20] Ou7law007 opened #14729 "How do I add vcpkg to Visual Studio 2019"
Hey,
I changed "use vcpkg" to no and the whole vcpkg option is gone from my project! It's still showing in other projects and also in newly created projects, but once its disabled, it's gone.
Deleting and reinstalling vcpkg (+ all the libraries that were installed) did not help. The only way is to make a new project and copy over all the source files to the new project (.cpp .h...)
Is that a bug?

[2020-11-23 18:40] yingshaoxo commented on #14704
@NancyLi1013

Thanks, I have figured it out.

This is a bug that just happened with vcpkg: https://github.com/microsoft/vcpkg/issues/9564

atkmm can be compiled independently.

[2020-11-23 18:41] strega-nil commented on #13696
@bitnick10 We don't have any concrete plans at this point, since modules are _such_ a new feature, and it's really not obvious at this point how they'll change tooling. Likely, we'll just follow existing build systems' support for modules.

Also, fwiw, your use of vcpkg with libraries that support modules probably won't be any different. This is mostly about interaction with your build system and

[2020-11-23 18:41] strega-nil commented on #14664
Hmm, in theory this is possible; let me ask the team about it :)

[2020-11-23 18:43] strega-nil commented on #13744
@iskiselev yeah, please open a new issue; the fact that it fails with std::filesystem and not std::experimental::filesystem is _really weird_, and probably requires a standard library maintainer to look into it.

[2020-11-23 18:45] strega-nil commented on #13744
@JackKenney Could you rerun with `--debug` on the vcpkg command line, so we can figure out where this error is happening?

[2020-11-23 18:50] #13487 closed

[2020-11-23 19:03] Andyloris opened #14731 "build failure"
**Host Environment**
- OS: Windows
- Compiler: Latest

**To Reproduce**
Steps to reproduce the behavior:
Just run bootstrap-vcpkg.bat

**Failure logs**
-Could not detect a Windows SDK / TargetPlatformVersion
-At C:\Users\Robert\Desktop\vcpkg-2020.11-1\vcpkg-2020.11-1\scripts\bootstrap.ps1:327 : 5
+     throw "Could not detect a Windows SDK / TargetPlatformVersion
    + CategoryInfo          : Oper

[2020-11-23 19:45] mortezaahmadi1 opened #14733 "[icu] build failure"
**Host Environment**
- OS:  Windows
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install icu:x64-windows`

**Failure logs**
-Cut and past the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

**Additional context**
-- Downloading http://download.icu-project.org/files/icu4c/61.1/icu4c-

[2020-11-23 21:20] sipsorcery opened #14735 "Manifest file not found with msbuild or Visual Studio"
**Describe the bug**
A clear and concise description of what the bug is.

**Environment**
- OS: Windows 10 Pro 10.0.19041
- Compiler: revision: Visual Studio Community 2019 v16.8.2
Microsoft (R) C/C++ Optimizing Compiler Version 19.28.29334 for x64
- vcpkg checked out form `master`commit ID  `097a31d4c3127f38a6fbf4002122550dd9d39b84`

**To Reproduce**
Steps to reproduce the behavior:
1. Create a n

[2020-11-23 22:59] strega-nil commented on #14709
@remoe yeah... we didn't do a good job updating the VERSION.txt. However, it's also not a thing that should be the same as the release tags. It's updated whenever we make updates to the tool, so it might be updated more or less frequently than those tags.

[2020-11-23 23:16] strega-nil commented on #14697
It seems likely that `poppler` shouldn't depend on clang-format..?

[2020-11-23 23:24] #13696 closed

[2020-11-23 23:26] #14681 closed

[2020-11-23 23:34] ZhilkinSerg commented on #14735
I suspect #12774 has something to do with that.

[2020-11-24 00:20] #10174 closed

[2020-11-24 01:27] JackBoosY commented on #4692
Now, we can manually set `VCPKG_QMAKE_USE_NMAKE` on _scripts/triplets.cmake_ to avoid this situation.

[2020-11-24 01:27] #4692 closed

[2020-11-24 01:32] NancyLi1013 commented on #14498
Sorry for the late response. I haven't investigate it yet.

I think you can open a new issue for this if it is a new problem for `freeimage`. If not, we can reopen this issue.

[2020-11-24 01:41] JackBoosY commented on #14735
@strega-nil Can you please take a look?

Thanks.

[2020-11-24 01:48] playgithub commented on #14697
I did a experiment on this, the result is obvious, if I no `clang-foramt.exe` in system path, camke configure failed, otherwise succeeded.
`poppler` generates C/C++ code dynamically, I don't known what it does with `clang-format`, if only formatting generated code, a patch to remove the dependcy is ok.

BTW, the official prebuilt LLVM installer is about 180M, and:

So use it and less patch is anot

[2020-11-24 01:53] NancyLi1013 commented on #14733
Hi @mortezaahmadi1

Thanks for posting this issue.

It seems that you didn't use the latest version to build.

`icu `has been updated to 67.1. Please use `git pull ` to update vcpkg to the latest version and then rebuild `icu`.

[2020-11-24 02:03] JonLiu1993 commented on #14731
Hi @Andyloris   thanks for posting this issue.
Could you help confirm whether you have installed Windows SDK in your visual studio?You can check this on your local and confirm whether there are Windows SDK.

`C:\Program Files (x86)\Windows Kits\`

If you don't install them before, you can open your Visual Studio Installer and enter Individual Components page to install. Generally, we install the l

[2020-11-24 02:05] NancyLi1013 commented on #14704
Thanks for your update. It's so great that you have found another way to use `gtkmm `on Linux. Also thanks for your help to pointing this out. It seems that you use `gtkmm `that is not provided by vcpkg.

The root cause of this issue is the same as that in #9564. So let's track this issue there and I'm closing this for now.

[2020-11-24 02:05] #14704 closed

[2020-11-24 02:12] JackBoosY commented on #14727
Without copy the dependencies, your program will not run or be debug successfully.

[2020-11-24 02:16] NancyLi1013 commented on #7831
@giorgiozoppi

You can create a pull request for `gnutls` if you are willing to do this work.

[2020-11-24 02:17] PhoebeHui commented on #14729
@Ou7law007, this is a VS bug, and already fixed in VS 16.8.2, could you upgrade vs and try again?

[2020-11-24 02:20] playgithub commented on #14727
@JackBoosY
The system path environemnt can be used to find the dll's.

[2020-11-24 02:21] JackBoosY commented on #14697
See https://github.com/freedesktop/poppler/blob/f4d640d7ad00b30797acce47299cf7a7a59ad505/CMakeLists.txt#L531-L536:
[code]

[2020-11-24 02:22] JackBoosY commented on #14697
@playgithub Patches are necessary in most cases, but we can reduce it's size.

[2020-11-24 02:32] JackBoosY commented on #14727
Usually, the program will find the folder where the program is located, the folder in the `PATH` and whether there are dependent libraries in the `system32` folder . Users use these dependent libraries and need to **publish** them at the same time, so I think it is doing well now.

[2020-11-24 02:33] playgithub commented on #14697
However without `clang-format` it'll be hard when debugging.

[2020-11-24 02:41] PhoebeHui commented on #14667
It looks you copied the lua files to C:\Users\username\Desktop\lua, right? do you copy the lua.dll as well?

[2020-11-24 02:49] JackBoosY commented on #14631
Since HighFive includes all the symbols of hdf5 in its binary during static build, the same multiple symbol errors will occur when using HighFive and hdf5 at the same time.

So we only have two solutions:
1. Do not use hdf5 in HighFive (if hdf5 is optional)
2. Use dynamic build

[2020-11-24 02:57] PhoebeHui commented on #14543
@Jerry1104, please reopen this issue if above solution doesn't work for you.

[2020-11-24 02:57] #14543 closed

[2020-11-24 03:00] playgithub commented on #14727
It's ok, just to see if it can be better.
It's useful to known the depent dll's when publishing. But it's not necessary when developing. After `vcpkg integrate install`,
`.lib` can be linked automatically, so why not `.dll` be found automatically. But in way dependt dll's become implicit.

Is it better to have an option of vcpkg in VS project  setting that contorls weather to copy depent dll's?
Or

[2020-11-24 03:01] PhoebeHui commented on #14621
I think you can add that options to toolchains at once for all ports, for specific port, you add use VCPKG_CXX_FLAGS in portfile.cmake file.

[2020-11-24 03:23] aa9bb opened #14737 "install nlohmann-json"
**Environment**
- OS: Window10 x64
- Compiler: vs2019

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install nlohmann-json
2. See error:

_Downloading https://github.com/nlohmann/json/raw/v3.9.1/CMakeLists.txt... Failed. Status: 6;"Couldn't resolve host name"
CMake Error at scripts/cmake/vcpkg_download_distfile.cmake:181 (message):

      Failed to download file.
      If you use a

[2020-11-24 05:38] JackBoosY commented on #14727
Maybe we can add a option to control this. @strega-nil Do you agree with it?

[2020-11-24 05:40] aberration213 opened #14738 "[vcpkg-gfortran:x64-windows] build failure"
**Host Environment**
- OS: Windows 10
- Vcpkg version: 2020.11.12-nohash

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install  vcpkg-gfortran[core]:x64-windows`

**Failure logs**
Starting package 1/6: vcpkg-gfortran:x64-windows
Building package vcpkg-gfortran[core]:x64-windows...
-- The Fortran compiler identification is unknown
-- No Fortran compiler found on the PATH. Using MinGW

[2020-11-24 05:54] fawdlstty commented on #14621
thanks

[2020-11-24 05:54] #14621 closed

[2020-11-24 06:04] yuntong613 commented on #14713
I remove all directories that the position of vcpkg installed file —— buildtrees,installed,packages,%localappdata%\vcpkg\archives

Then run the install cmd
    cmd > `vcpkg install poco[netssl,mariadb]`

PocoDataMySQL feature didn't work

[libmariadb-config-x86-windows-out.log](https://github.com/microsoft/vcpkg/files/5587691/libmariadb-config-x86-windows-out.log)
[poco-config-x86-windows-out.log]

[2020-11-24 06:27] JonLiu1993 commented on #14737
@aa9bb  ,Thanks for posting this issue,This issue duplicate to #14585

[2020-11-24 06:30] #14737 closed

[2020-11-24 06:39] NancyLi1013 commented on #14738
Hi @aberration213

Thanks for posting this issue.

Could you please try to remove `C:/dir/vcpkg/downloads/msys-gawk-5.1.0-1-x86_64.pkg.tar.xz` and `C:/dir/vcpkg/downloads/tools/msys2/1b7461e9cb3487d1.tmp` and rebuild this?

[2020-11-24 06:49] JackBoosY commented on #14713
@yuntong613  Can you provide the content in _VCPKG_ROOT/buildtrees/poco/src/hash.clean/CMakeLists.txt_ line 117-122?

On my machine it should be:
[code]
Note there is no `REQUIRED` on `find_package(libmysql)`, so this issue shouldn't happend.

[2020-11-24 06:52] spindensity opened #14739 "[openblas] update to 0.3.12"
Library name: openblas

New version number: [0.3.12](https://github.com/xianyi/OpenBLAS/releases/tag/v0.3.12)

Other information that may be useful (release notes, etc...):

Please update `openblas` to 0.3.12 because the old version does not work correctly on windows 20H1 and later since the bad implementation of `fmod` by Microsoft. The new version of `openblas` resets the fpu state before using

[2020-11-24 07:08] yuntong613 commented on #14713
The file on my machine is the same with yours,but the error would happen every time.

[CMakeLists.txt](https://github.com/microsoft/vcpkg/files/5587973/CMakeLists.txt)

[2020-11-24 07:22] epiciskandar opened #14740 "[gdal] link failure"
**Host Environment**
- OS: Linux CentOS 7.8
- Compiler: gcc8.2 / vcpkg latest(HEAD commit: 6e073f168652a551d8f29d19481ec67be3fccac8)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install gdal`

**Failure logs**
[code]

**Additional context**
the `buildtrees/gdal/build-x64-linux-dbg-err.log` file says lots of this error:
[code]

I have tried add `-pthread` at the `GDALmake.opt` line 6

[2020-11-24 07:37] LRFLEW opened #14741 "[duktape] pyyaml installation fails on macOS (does not block port installing)"
**Host Environment:**
- OS: macOS
- I'm using macOS 10.14.6 and its associated tools' versions (Xcode 11.3.1, Python 2.7.16), but it should apply to all (supported) macOS version.

**Steps To Reproduce:**
`./vcpkg install duktape`

**Failure Logs:**
Printed to the console:
[code]

**Additional context:**
This issue is fairly easy to trace back to its source. in `ports/duktape/portfile.cmake`, ther

[2020-11-24 07:39] PhilippPaetzold opened #14742 "[New Port Request] Ybalrid/kissnet"
Library name:
Ybalrid/kissnet

Library description:
A lightweight, header only, crossplatform C++17 socket library. Simple, intuitive to use.

Source repository URL:
https://github.com/Ybalrid/kissnet

Project homepage (if different from the source repository):
---

Anything else that is useful to know when adding (such as optional features the library may have that should be included):
---

[2020-11-24 07:41] JesseFarebro opened #14743 "[sdl2] don't specify -Wl,--no-undefined on INTERFACE_LINK_LIBRARIES"
****

**Is your feature request related to a problem? Please describe.**
When building SDL2 dynamically on Linux & macOS with a custom triplet SDL specifies `-Wl,--no-undefined` on `INTERFACE_LINK_INTERFACE_LIBRARIES`. This will get propagated to the downstream target causing undefined references even in cases where this should be allowed, e..g, libpython references from Pybind11.

**Proposed solu

[2020-11-24 07:44] PhilippPaetzold commented on #14498
Ok, Since I don't know if its related to FreeImage, I leave this issue open then. Thank you for your help.

[2020-11-24 08:00] davidxiaozhi commented on #14728
I also encountered this problem on mac 10.14

[2020-11-24 08:19] JackBoosY commented on #14713
Did you install libmysql manually before?

[2020-11-24 08:34] davidxiaozhi commented on #14728
@NancyLi1013  fix it  on #14744 , OVERLAY_TRIPLETS_ENV is defined twice in vcpkgcmdarguments.cpp:923 and vcpkgcmdarguments.cpp:925

[2020-11-24 08:36] NancyLi1013 commented on #14728
Hi @akayami and @davidxiaozhi

Thanks for posting this issue.

Could you please try to rebuild this after removing `constexpr StringLiteral VcpkgCmdArguments::OVERLAY_TRIPLETS_ENV` in vcpkgcmdarguments.cpp:925?

[2020-11-24 08:55] NancyLi1013 commented on #14738
Could you please also provide the error info in` C:\dir\vcpkg\buildtrees\vcpkg-gfortran\msys-x64-windows-22-err.log`?

[2020-11-24 08:57] remoe commented on #14709
@strega-nil ok, but when one build vcpkg it should be possible to verify the runtime by using "vcpkg version". It is currently not possible to check the version that is started at runtime.

[2020-11-24 09:22] JonLiu1993 commented on #14693
@juandent ,Sorry, it looks like I was mistaken. Let’s take your example. If you want to get the dev branch of boost-di, you need to modify the function vcpkg_from_github in the portfile.cmake file of boost-di, and change the master branch behind HEAD_REF The commit ID corresponding to the branch you need, so that's it.
[code]

[2020-11-24 09:36] hyperionplus opened #14746 "[New Port Request] gnutls"
Library name: GnuTLS

Library description: GnuTLS implements the TLS/SSL (Transport Layer Security aka Secure Sockets Layer) protocol.

Source repository URL: https://github.com/gnutls/gnutls

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2020-11-24 09:43] Neumann-A commented on #12226
Closing since there is a way to define overlays via cmake now and registries will also solve this.

[2020-11-24 09:43] #12226 closed

[2020-11-24 10:12] JonLiu1993 commented on #14690
@gwnet , We provide two workaround:
- use a proxy.
- Download [this file](https://github.com/microsoft/vcpkg/files/5589054/Downloads.zip) manually and unzip it to _VCPKG_ROOT_, then rerun install command. You should make sure the path is _VCPKG_ROOT/Downloads/nlohmann-json-v3.9.1/nlohmann_json.natvis_ etc., and make sure your vcpkg is latest.

[2020-11-24 10:41] Ou7law007 commented on #14729
I am using latest version.

![image](https://user-images.githubusercontent.com/64309267/100083514-e090ac00-2e49-11eb-8753-2adfc7007ce0.png)

[2020-11-24 11:07] sipsorcery opened #14748 "vcpkg help prints non-existing `import` command"
**Describe the bug**
When attempting to use the `vcpkg import` command an error message stating `invalid command: import` is received.

**Environment**
- OS: Windows 10 Pro 10.0.19041
- Compiler:  Visual Studio Community 2019 v16.8.2
Microsoft (R) C/C++ Optimizing Compiler Version 19.28.29334 for x64
 - vcpkg checked out form master commit ID 6e073f168652a551d8f29d19481ec67be3fccac8

**To Reproduc