[2022-01-06 09:16] #22285 closed

[2022-01-06 09:28] dg0yt commented on #22288
You might also try to fix the vcpkg port yourself if you need that port and prefer mingw.
The error you reported is introduced by a patch from vcpkg (should use `MSVC` instead of `WIN32`).

[2022-01-06 11:57] LilyWangLL commented on #22381
This issue will be closed in PR #22370.

[2022-01-06 12:30] BRKVings commented on #22041
@PhoebeHui
There are two types of output:
1. cmake3 version x.x.x
2. cmake version x.x.x

But the current code can't handle the first case
[code]

[2022-01-06 12:49] PhoebeHui commented on #22380
It looks an issue from boost-build, some boost components are header only, so they doesn't has this issue. @strega-nil, could  you help confirm?

Failures:
error: '"/nix/store/ci8zayp097bfrhzxbwq62wk8ksp1i2g8-gcc-wrapper-11.2.0/bin/g++" --version' returned an invalid $kind string 'g++ (GCC) 11.2.0

cc @yurybura

[2022-01-06 13:08] hzwar opened #22390 "[portmidi] build failure (download fails because project moved to GitHub)"
port midi moved to https://github.com/PortMidi/portmidi on 2022-01-04

**Failure logs**

[code]

[2022-01-06 13:19] sfhacker commented on #22288
Just built libwebsockets from source on Windows 10 x64. No issues at all.

![image](https://user-images.githubusercontent.com/25817529/148388572-e8045caf-80a7-4011-83b6-fd1fd1206e12.png)

How can we reproduce this issue locally?

Cheers.

[2022-01-06 14:11] sfhacker commented on #14012
This open issue is over a year old!

@patzf Can you post here the screenshot showing the error messages you get when building this port from source?
I'll see what I can do to assist you.

Cheers.

[2022-01-06 15:01] patzf commented on #22288
@sfhacker
Thanks for the effort.
I started off with a nearly "clean" Win 10 machine (64bit OS), and followed this guidr to bootstrap vcpkg:
https://nicedoc.io/Microsoft/vcpkg/docs/users/mingw.md#How-to-avoid-mixing-different-installations

In essence, the steps i did were:

- install Msys2
- in msys2 terminal run "pacman -S mingw-w64-x86_64-toolchain" and "pacman -S --needed git base-devel"
- open

[2022-01-06 15:10] dg0yt commented on #22288
That's easy with windows triplets which are CI tested and with a screenshot which hides the details. But it doesn't help the user.

[2022-01-06 15:11] dg0yt commented on #22288
And it is also manually with upstream sources.

[2022-01-06 15:33] sfhacker commented on #22288
@patzf Are you new to building projects from source on Windows?

Have you tried using/following this online guide? [1]

![image](https://user-images.githubusercontent.com/25817529/148407628-1693a57c-0049-426b-b946-8c2a2973019d.png)

[1] https://libwebsockets.org/lws-api-doc-master/html/md_README_8build.html

[2022-01-06 16:12] patzf commented on #22288
@sfhacker Yes, I am new to building libs from source - I will definitely check the link you refer to.

Anyhow, isn´t it THE purpose of a system like vckpg (and the libs provided by that system) to perfom the build process without manually tweaking sources / configs to "manually" build some single lib from source? Because even If I find a way to build that specific lib, I still have to figure out h

[2022-01-06 17:27] yurybura commented on #22380
@gracicot @PhoebeHui Please attach file /Users/myuser/Workspace/project/.vcpkg/buildtrees/boost-system/x64-osx-dbg/user-config.jam

[2022-01-06 18:22] gracicot commented on #22380
@yurybura The content of the file is this:
[code]

There is definitely a problem with `using clang :  : "/nix/store/ci8zayp097bfrhzxbwq62wk8ksp1i2g8-gcc-wrapper-11.2.0/bin/g++"`

[2022-01-06 19:45] morphogencc commented on #17570
Is there any movement on this issue or information I can provide?

[2022-01-06 19:57] pierrebizz commented on #21525
I think this issue is resolved by https://github.com/microsoft/vcpkg/pull/22091 and could be closed.

The build proceeds further but fails with:

`CMake Error at scripts/cmake/vcpkg_fixup_pkgconfig.cmake:78 (message):
  /bin/pkg-config --exists TAO_CosProperty_Serv failed with error code: 1

      ENV{PKG_CONFIG_PATH}: "/home/bizz/vcpkg/packages/ace_x64-linux/lib/pkgconfig:/home/bizz/vcpkg/package

[2022-01-06 21:15] Neumann-A commented on #22368
Why do you want to use the Makefile generator? Using Ninja is preferred inside vcpkg. You are not supposed to work with the files in the buildtree.

[2022-01-06 21:23] #22286 closed

[2022-01-06 21:35] yurybura commented on #22380
I think this is bug in boost-modular-build-helper. Build script should better convert CMake compiler to B2 toolset.

[2022-01-06 21:46] #21744 closed

[2022-01-06 21:55] #22232 closed

[2022-01-06 22:12] #21084 closed

[2022-01-06 22:51] gracicot commented on #22380
@yurybura it seem the problem resides here: https://github.com/microsoft/vcpkg/blob/98b9ea03f82b2588d5379c143ad2468bd986b167/ports/boost-modular-build-helper/CMakeLists.txt#L75

It always assumes clang on MacOS.

[2022-01-06 23:03] hartwork opened #22395 "uriparser update to 0.9.6 (security fixes)"
Library name: **uriparser**

New version number: **0.9.6**

Other information that may be useful (release notes, etc...) **see below**

---

Hi!

I found a vulnerable copy of uriparser 0.9.5 in here at [`ports/uriparser/portfile.cmake`](https://github.com/microsoft/vcpkg/blob/master/ports/uriparser/portfile.cmake). uriparser 0.9.6 with security fixes has been released, the [change log](https://git

[2022-01-07 02:29] BillyONeal commented on #21557
As far as I can see `sendfile64` only changes the type and behavior of the `offset` member, it doesn't enable copying more than 2 GiB in a single call.

I don't think it's arch dependent.

[2022-01-07 03:32] LilyWangLL commented on #22390
Thanks for posting this issue. Did you install the latest version of `portmidi` failed? Could you please provide more infomation of this issue? I can install latest portmidi succeed in CMake project, and I can download `portmidi` succeed from https://sourceforge.net/projects/portmedia/files/portmidi/.
[code]

[2022-01-07 03:53] BillyONeal commented on #21557
I was not able to test with this example because GCC 9.3 emits a ton of "-Wno-redundant-move" errors which causes that overlayed qt build to fail, but I still think the PR I submitted in the tool repo should fix the issue if you want to try building it yourself.

[2022-01-07 06:11] FrankXie05 commented on #22264
@MarcoCallari Sorry for the late reply, I think this is a bug, I will submit a pr to solve it immediately. :)

[2022-01-07 06:47] PhoebeHui commented on #22243
@kzq0717, does this still be a problem for you? boost-modular-build should exist after boost-modular-build-helper port installed, So in your case, the file can't be found by some reason, the quick solution is remove the old version and reinstall it.

[2022-01-07 07:14] changnet opened #22400 "no cmake toochain file(vcpkg.cmake) in vcpkg_installed dir when using Manifest Mode ?"
I used to use vcpkg in this way
[code]
a cmake toolchain file will be placed in `vcpkg_win_x64/scripts/buildsystems/vcpkg.cmake`.  If I copy `vcpkg_win_x64` to someone, he can still use a relative path to build my project(no need to install vcpkg at all).

Lately I try manifest mode, after install, only two dir in vcpkg_installed(vcpkg、x64-windows)，no `scripts\buildsystems\vcpkg.cmake`. Did I use

[2022-01-07 07:46] JackBoosY commented on #22400
Yes, because the list mode supports features such as version control, you need to use vcpkg_root, which means you need to use the toolchain file in vcpkg.

[2022-01-07 07:52] LilyWangLL commented on #22239
@flyingyizi Does this issue still exist?

[2022-01-07 07:53] LilyWangLL commented on #21901
@micking Does this issue resolved?

[2022-01-07 07:55] LilyWangLL commented on #17520
@Squareys Does this issue resolved?

[2022-01-07 08:49] hzwar commented on #22390
Thanks for checking so fast.
My mistake, I was on baseline 63e935d967a3410e26bf4a708efa39d8384d2bbb (December)
After adding
```find_package(Threads REQUIRED)``` (should that be implicit?)
and linking to PortMidi::portmidi everything configures and builds fine now. (tested on macOS and Win10)
Thanks!

[2022-01-07 09:10] LilyWangLL commented on #22390
This issue has been resolved, I an closing this issue for now.

[2022-01-07 09:10] #22390 closed

[2022-01-07 09:31] micking commented on #21901
the thing is that none of the SDK's install the ucrtbased.dll into a folder that is included in the computer's PATH.
So as a workaround I copied manually ucrtbased.dll to C:\WINDOWS\System32, now the build works

[2022-01-07 09:32] vishalvaza opened #22405 "Unable to install any package due to 7zip installation fails."
### Discussed in https://github.com/microsoft/vcpkg/discussions/22404

<div type='discussions-op-text'>

<sup>Originally posted by **vishalvaza** January  7, 2022</sup>
Here I tried to install any library i got following error message.

vcpkg install zyre
Computing installation plan...
The following packages will be built and installed:
  * czmq[core]:x86-windows -> 4.2.1
  * vcpkg-cmake[core]:x64

[2022-01-07 09:33] vishalvaza commented on #22405
Tried with different libraries but the error remains the same.

[2022-01-07 09:41] barenet97 opened #22406 "Build boost-parameter:x64-windows failed"
Please create a discussion in https://github.com/microsoft/vcpkg/discussions/new instead.

Error: Building package boost-parameter:x64-windows failed with: BUILD_FAILED

how to solve this

[2022-01-07 10:25] JackBoosY commented on #22406
Please provide the output and the logs mentioned in the output.

Thanks.

[2022-01-07 10:27] JackBoosY commented on #22405
Please unzip [this file](https://github.com/microsoft/vcpkg/files/7828185/7z1900-x64.zip), put it to _VCPKG_ROOT/downloads_ and try again.

Thanks.

[2022-01-07 11:13] Nemirtingas opened #22407 "[boost-thread] cross-compilation build failure"
Continuing #22232 #22274

**Host Environment**
- OS: Ubuntu 18.04
- Compiler: Clang-cl + llvm 9: cross-compiling on Linux for Windows.

**To Reproduce**
Steps to reproduce the behavior:
Docker image build steps are described here: https://github.com/Nemirtingas/windowscross_vcpkg/tree/msvc2019_win10.0.18362.0

Steps to reproduce the behavior:

[code]

**Failure logs**
[code]

[code]

**Additional

[2022-01-07 12:51] duzp commented on #22074
Visua lStudio Installer->installed version->modify-> Language package->add English package, can resolve this problem

[2022-01-07 13:52] Nemirtingas commented on #19202
Fixed by #22274

[2022-01-07 13:52] #19202 closed

[2022-01-07 14:21] dg0yt commented on #22266
This build fails because it uses the comiler for the msys system, for the mingw system.
Read: https://github.com/microsoft/vcpkg/blob/master/docs/users/mingw.md#using-mingw-w64-natively-on-windows

[2022-01-07 14:23] YuanZhijie commented on #21756
sry, can you share the solution from longhuan2018, I meet the same problem.

[2022-01-07 14:55] changnet commented on #22400
Is it possible to "install dependency libraries into separated directory like vcpkg export using vcpkg.json" ?
I use vcpkg to build dependency libraries and upload them to svn server.
It is much easier if a project's member use the same binary dependency libraries instead of compile their own.

If not, any plan to add this feature in the future ?

[2022-01-07 18:02] thomasgt opened #22408 "[nlohmann-json] Add port feature to control implicit conversions behaviour"
****

**Is your feature request related to a problem? Please describe.**
The nlohmann json library is gradually backtracking on providing implicit conversions to their types via `operator T()`. They've added a CMake option (`JSON_ImplicitConversions`) to control this behaviour. I think we should expose this option as a feature on the nlohmann-json port.

For context, here are some relevant issues

[2022-01-07 18:22] #22375 closed

[2022-01-07 21:39] Hoikas commented on #22345
Create your own registry with the different Python ports you are asking for.

[2022-01-07 21:56] yurybura commented on #22345
Python is just one example. The same problem is with any library using the semantic versions (https://semver.org/).

[2022-01-07 21:57] #20459 closed

[2022-01-07 21:57] #18538 closed

[2022-01-07 22:33] Nemirtingas commented on #17240
Fixed since https://github.com/protocolbuffers/protobuf/pull/8139

[2022-01-07 22:33] #17240 closed

[2022-01-07 22:57] #22395 closed

[2022-01-08 00:08] hartwork commented on #22395
Thanks!

[2022-01-08 07:13] Snoop05 opened #22413 "vcpkg integrate install: wrong path separator"
`C:\src\vcpkg>vcpkg integrate install`
`Error: Failed to copy file: C:\src\vcpkg\scripts\buildsystems\tmp\vcpkg.user.targets -> C:\Users\Administrator\AppData\Local\vcpkg/vcpkg.user.targets`

- OS: Windows 10 x64 build 19044.1415
- Compiler: VS 2022 v17.0.4 / MSVC v143
- Vcpkg package management program version 2021-12-09-724cea8b33cbf06c645f5095fa29773697da9761

Steps to reproduce the behavior:
1

[2022-01-08 07:51] asklar opened #22415 "[New Port Request] CppXaml"
Library name: CppXaml

Library description: Library that facilitates using the XAML UI framework in C++ Windows apps

Source repository URL: https://github.com/asklar/xaml-islands

Project homepage (if different from the source repository): https://asklar.github.io/xaml-islands

Anything else that is useful to know when adding (such as optional features the library may have that should be included

[2022-01-08 10:19] Zhaopudark commented on #21246
https://github.com/bazelbuild/bazel/issues/14232#issuecomment-1007946021

[2022-01-08 15:08] sornian opened #22422 "[V8] build failure"
**Host Environment**
- OS: Windows 10     Build 19043
- Compiler: Visual studio 2022 17.04

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install v8`

**Failure logs**
-Cut and paste the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.
[code]

**Additional context**
Add any other context about the problem h

[2022-01-08 15:56] FusionCarcass commented on #22413
I was just about to submit this issue as I'm having the same problem.

[code]

[2022-01-08 16:13] dg0yt commented on #20190
[code]
The Drogon config clearly provides target `Drogon::Drogon`. None of the other targets should be linked manually. They seem to come from Find modules installed but only conditionally used via `find_dependency(...)`. Maybe a hint how to improve the heuristic.

[2022-01-08 16:19] hmwill opened #22423 "[openblas] Build error for openblas:x64-linux on Intel Tiger Lake"
**Host Environment**
- OS: Ubuntu 20.4
- Compiler: GNU 9.3.0
- CPU: Intel 11th gen (Tiger Lake)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install openblas`

**Failure logs**
[code]

From `/home/hm/src/vcpkg/buildtrees/openblas/config-x64-linux-dbg-err.log`:

[code]

**Additional context**

- The problem appears to be that the CPU type Tiger Lake (`tigerlake`) is not supported yet

[2022-01-08 16:39] gary-desroches opened #22424 "bootstrap-vcpkg.sh gets stuck when building on Ubuntu 21.10 on Raspberry Pi 4B"
**Describe the bug**
The bootstrap script gets stuck when attempting to build vcpkg from source on Ubuntu 21 ARM64 Raspberry Pi 4B.

I let it run overnight, so I gave it enough time.

**Environment**
- OS: Ubuntu 21.10 ARM64 on a Raspberry Pi 4 Model B with 8GB of RAM
- Compiler: GCC 11.2.0

**To Reproduce**
Steps to reproduce the behavior:
1. wget -O vcpkg.tar.gz https://github.com/microsoft/vcpk

[2022-01-08 16:54] autoantwort commented on #22424
And if you rerun it sill stucks? PS: Use git clone for vcpkg or you will get errors later when you try to use versioning.

[2022-01-08 18:38] tsaichiayu opened #22428 "openni2 build fail"
I'm trying to install the openNI on my Macbook pro, and I got an error like this, it seems like some files are not exist anymore,
Does somebody know how to solve this?

[code]

[2022-01-08 18:56] OlivierArgentieri commented on #19619
@NancyLi1013

Sorry for my response time.

But i wanted to thank you for your investigations. Even if i don't watch often at this issue, this subject stills interest me because i still have not found a way to build OpenImageIO in python2 with vcpkg.

And thank you also @JackBoosY for the label update

[2022-01-08 19:11] hmwill commented on #22423
I realized that the error message above is due to gcc-9 not supporting Tiger Lake. After upgrading the compiler to gcc-10, however, the build now fails with the following error in `vcpkg/buildtrees/openblas/config-x64-linux-dbg-err.log`

[code]

Here's the corresponding `vcpkg/buildtrees/openblas/config-x64-linux-dbg-out.log`

[code]

[2022-01-08 19:32] h-barthwal opened #22429 "[New Port Request] lightstep-tracer-cpp [LightStep Tracer Library]"
Library name:
lightstep-tracer-cpp

Library description:
The Lightstep distributed tracing library for C++

Source repository URL:
https://github.com/lightstep/lightstep-tracer-cpp

Project homepage:
https://lightstep.com

Anything else that is useful to know when adding:
Supports grpc and http streaming which can be added as features.

[2022-01-08 19:35] jsnhsu opened #22430 "[New Port Request] wxSQLite3"
Library name: wxSQLite3

Library description: SQLite3 wrapper based on wxWidgets

Source repository URL: https://github.com/utelle/wxsqlite3

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2022-01-08 19:37] ZMathias opened #22431 "[severe bug] vcpkg can't find Visual Studio 2022 english instance, can't install any packages"
Fresh build of vcpkg and using Visual Studio 2022. vcpkg can't install any packages, because it fails to find a valid instance of Visual Studio, even though there is one at the exact path it says it couldn't find it.

- OS: [Windows 11 build 22000.376]
- Compiler: latest msvc toolchain v143

**Failure logs**
[code]

The IDE is at the exact location it tries to find it, and the devenv.exe is also t

[2022-01-08 20:04] TwoPizza9621536 commented on #22282
It does not look in the Visual Studio path, even if I add it to the path.

[2022-01-08 20:46] blueneogeo commented on #22413
Same problem here, I cannot install vcpkg

[2022-01-08 21:05] blueneogeo commented on #22413
Workaround:
`./vcpkg.exe integrate install` also does not work. However, adding the git repo directory to the Windows path does make `vcpkg.exe integrate install `work.

[2022-01-08 21:37] modtrek commented on #22413
Same issue.  Fresh Win 11 dev VM from MS with VS2022 and latest MSVC143.
`C:\vcpkg>.\vcpkg.exe integrate install
Error: Failed to copy file: C:\vcpkg\scripts\buildsystems\tmp\vcpkg.user.targets -> C:\Users\User\AppData\Local\vcpkg/vcpkg.user.targets`

[2022-01-08 22:51] fwannmacher opened #22434 "[sdl2-image:x64-uwp] build failure"
**Host Environment**
- OS: [Windows 10]
- Compiler: MSVC 19.30.30706.0

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg.exe install sdl2-image --triplet x64-uwp`

**Failure logs**
[code]
[code]

**Additional context**
While trying to install SDL2_image UWP I get error above.
[install-x64-uwp-dbg-out.log](https://github.com/microsoft/vcpkg/files/7834141/install-x64-uwp-dbg-out.log)

[2022-01-08 22:57] hmwill commented on #22423
Upgrading to the latest version 0.03.19 builds clean on my machine, see linked commit. I had to remove one patch, which no longer seems to apply.

[2022-01-08 23:40] Neumann-A opened #22436 "[readline-(osx|win32|unix)] remove platform dependent ports."
there should only be one readline port. (see how openssl does it.....)

[2022-01-09 03:00] gary-desroches commented on #22424
When I tried it again, it sat there for several minutes, then output this error.

FAILED: CMakeFiles/vcpkg-test.dir/src/vcpkg-test/commands.cpp.o
/usr/bin/c++ -DFMT_LOCALE -DVCPKG_BASE_VERSION=2999-12-31 -DVCPKG_VERSION=unknownhash -I/opt/vcpkg/buildtrees/_vcpkg/src/vcpkg-tool-2021-12-09/include -I_deps/fmt-src/include -O3 -DNDEBUG -std=c++17 -MD -MT CMakeFiles/vcpkg-test.dir/src/vcpkg-test/comman

[2022-01-09 05:38] morphogencc commented on #21991
I just tried this again with the latest commits of `vcpkg`, and I'm having the same issue.

A `vcpkg.json` with:

  "dependencies": [
      {
        "name": "websocketpp",
        "features": ["recommended"]
      }
    ]

fails (no feature `ssl` exists); and both `recommended` and the default featureset give me an error

[code]

Do you have any suggestions as to why this might be occurring?

[2022-01-09 05:51] autoantwort commented on #21991
Maybe run vcpkg with `--debug` and use the command line directly

[2022-01-09 06:05] dg0yt commented on #22436
Only 27 days ago: https://github.com/microsoft/vcpkg/pull/22000#issuecomment-992223797

[2022-01-09 06:08] dg0yt commented on #22424
Out-of-memory? Overheated?

[2022-01-09 06:12] morphogencc commented on #21991
Thanks!  I didn't realize there was a `debug` with so much useful information... it looks like `recommended` does in fact build with ssl, but a dependency I was using had the old `ssl` feature in its own vcpkg... Updating that seems to have resolved the issue!  Thanks!

[2022-01-09 06:12] #21991 closed

[2022-01-09 13:04] h-barthwal opened #22440 "[cppgraphqlgen] update to v4.1.0"
Library name: cppgraphqlgen

New version number: 4.1.0

The new version of cppgraphqlgen includes the latest GraphQL spec. Therefore, it will be nice if we can update the library.

[2022-01-09 17:27] dg0yt commented on #19669
One more remark:
CMake's `FindCURL.cmake` offers to ask for `COMPONENTS` but this is broken in vcpkg wrapper. Discovered while working on #22258. Fix cherry-picked to #22445.
However, there is no component `libcurl`. Cf. https://cmake.org/cmake/help/v3.21/module/FindCURL.html.

[2022-01-09 17:39] dg0yt commented on #16271
I assume this is fixed.

[2022-01-09 20:19] ssaue commented on #15087
I notice that this issue was closed in May 21, but I just came across the same problem now when installing the x64-windows triplet ("Please install yasm-tool:x86-windows first"). How is the fix meant to work? Is there remaining work in the mpg123 port?

Should a simple manifest file like the one below work with the x64-triplet or does it require me to manually install yasm-tool for x86-windows fir

[2022-01-09 20:29] Neumann-A opened #22447 "directx-headers missing pc files"
the cmake build does not generate pc files while the meson build does.

[2022-01-09 20:42] dg0yt commented on #15087
@ssaue Did you `git pull` to update the repository you use?

[2022-01-09 20:53] morphogencc opened #22448 "Allow vcpkg export with manifest-based projects"
****

**Is your feature request related to a problem? Please describe.**
I use manifests to track my dependencies and automatically build them in Visual Studio.  I've recently started doing Continuous Integration with GitHub Actions, and right now I build all dependencies using vcpkg in the Docker container:

[code]

However, even though my projects only directly use 3-5 dependencies, once *those*

[2022-01-09 20:55] ssaue commented on #15087
@dg0yt I'm not sure that I follow you. This is a repository that we host ourselves. I've just updated the manifest file to install the new dependencies (the audio libs, including mpg123) when i ran into the problem with mpg123 and yasm-tool.

[2022-01-10 00:17] BAZI-Ilyess opened #22449 "[libogg] Build error"
**Host Environment**
- Windows
I get this error message, any instructions plz.
Error: Building package libogg:x64-windows failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `git pull` and `.\vcpkg upd
ate`.
Then check for known issues at:
  https://github.com/microsoft/vcpkg/issues?q=is%3Aissue+is%3Aopen+in%3Atitle+li
bogg
You can submit a new issue at:
  https://github

[2022-01-10 01:33] FrankXie05 commented on #22449
@BAZI-Ilyess Thanks for posting this issue, Could you please provide the detail error log?

[2022-01-10 02:13] autoantwort commented on #22448
Maybe have a look at https://github.com/microsoft/vcpkg/blob/master/docs/users/binarycaching.md#github-packages

[2022-01-10 02:26] JackBoosY commented on #22400
Not too possible.
1. In the future, all functions in vcpkg will be migrated to _ports_.
2. All port records are stored in _versions_.

[2022-01-10 03:18] autoantwort commented on #21991
Is it a public port here that needs to be fixed?

[2022-01-10 04:11] JackBoosY commented on #22436
@dg0yt Now readline uses makefile in non-Windows.

[2022-01-10 04:13] JackBoosY commented on #22422
I've looked at the build scripts for v8, where the path to Visual Studio is fixed.
We can't do anything unless Visual Studio 2022 is supported upstream.

[2022-01-10 04:19] JackBoosY commented on #22424
I think so.

[2022-01-10 04:21] morphogencc commented on #22448
that looks really promising -- though it looks like that's just for restoring the package via NuGet and Github Packages, right?  I don't believe that example shows how the actually create the binary cache and push it to GitHub Packages.

[2022-01-10 04:33] PhoebeHui commented on #22413
I get vcpkg clean source and couldn't repro this issue locally.

[code]

[2022-01-10 04:55] dg0yt commented on #15087
@ssaue But at some point, you do use mpg123 from the vcpkg repository, right?

[2022-01-10 05:07] JackBoosY commented on #22413
Related [code](https://github.com/microsoft/vcpkg-tool/blob/5d329016ab5109460301441304298ed4938e4110/src/vcpkg/commands.integrate.cpp#L254-L264):
[code]

[2022-01-10 05:08] morphogencc commented on #21991
Fortunately not -- it was from a collaborator's repository.  Everything looks good on vcpkg as far as I know!

[2022-01-10 05:08] dg0yt commented on #22400
But you can try "asset caching".

[2022-01-10 05:20] #22037 closed

[2022-01-10 05:28] JackBoosY commented on #22447
The meson configure has pkgconfig code but the cmake configure doesn't.

[2022-01-10 05:53] Cheney-W commented on #22282
Could you please open the `x86 Native Tools Command Prompt for VS 2019` and run `set lib`, then send the output to us?

[2022-01-10 06:00] dg0yt commented on #22436
I know. Still, it would have been less work to just implement it in port `readline`, right from my first comment, before adding new names to the catalog.
And it seems we need a `vcpkg-pkgconfig-validate` as much as the submitted `vcpkg-cmake-validate`.

[2022-01-10 06:05] dg0yt commented on #22400
Sorry, I meant to say "artifact caching"/"Binary caching". ("Asset caching" is for sources.)
Here is the link: https://github.com/microsoft/vcpkg/blob/master/docs/users/binarycaching.md

[2022-01-10 06:21] Neumann-A commented on #22436
In the past vcpkg_fixup_pkgconfig had validation but it was removed since a lot of pc files contain system libs in Libs:. and vcpkg cannot guess all those for all cases.

[2022-01-10 07:03] dg0yt commented on #22436
No guessing needed. Builds a test project which consumes the pc file. It must break when there is `-lm` for x64-windows.

[2022-01-10 07:49] ssaue commented on #15087
@dg0yt Yes, but I haven't been able to install mpg123 yet. Hence my question. Vcpkg itself is (automatically) installed as part of the Cmake toolchain (CMakePresets.json).

[2022-01-10 07:52] elad8a commented on #22338
@JackBoosY Why did you mark this issue as requires:repro? have you not been able to reproduce this on a WSL installation on x64 windows ?

[2022-01-10 08:03] Neumann-A commented on #22436
#13126 was the pr removing the library checks.

[2022-01-10 08:10] xiaomi2077 commented on #22338
I have the same problem:(

[2022-01-10 08:15] JackBoosY commented on #22338
Did you install `x11proto-xext-dev` using apt yet?

[2022-01-10 08:18] elad8a commented on #22338
@JackBoosY Yes. The problem remains.

Did you try to reproduce it?

[2022-01-10 08:40] xiaomi2077 commented on #22338
sudo apt install libxext-dev @elad8a Have a try.

[2022-01-10 08:45] JonLiu1993 commented on #21736
Fix by #22419

[2022-01-10 09:25] Cheney-W commented on #22428
Could you please provide the full install command and the output on powershell?

[2022-01-10 09:28] ssaue commented on #15087
You pointed me in the right direction and it works for me now. Is has all to do with vcpkg version, which I naively thought would be updated. I will look into how I can use versioning to solve this in a robust way.

[2022-01-10 09:30] Cheney-W commented on #22431
Do you have the English package for VS installed? If not, please install the english package first. Thank you!

[2022-01-10 09:33] LilyWangLL commented on #21219
@Kophejn Does this issue still exist? Thanks raahilsha's reply.

[2022-01-10 09:56] JonLiu1993 commented on #22440
Fix by #22411

[2022-01-10 10:17] LilyWangLL commented on #21901
This issue has been resolved, I am closing this issue for now.

[2022-01-10 10:17] #21901 closed

[2022-01-10 10:24] elad8a commented on #22338
@xiaomi2077 thanks it helped me to bypass the cairo issue.

But I still fail to install opencv. it now fails to install gtk. it can't find something called xrandr.

[code]

I haven't been able to install it, Do you have any useful input?

[2022-01-10 10:30] xiaomi2077 commented on #22338
You can search the lib xrandr.
`sudo apt search xrandr`
![图片](https://user-images.githubusercontent.com/33375652/148751145-113622b1-d774-4920-8177-4a94d7508225.png)
libxrandr-dev is all we need. Just install it.
`sudo apt install libxrandr-dev`
Other similar problem can also apply the same solution. search and install.

[2022-01-10 10:56] JackBoosY commented on #22413
Can any one confirm that whether _C:\Users\User\AppData\Local\vcpkg_ exist?

Thanks.

[2022-01-10 11:18] modtrek commented on #22413
C:\Users\%USERNAME%\AppData\Local\vcpkg did not exist for me.  Manually created the directory and was able to run **vcpkg integrate install** successfully:

[code]

[2022-01-10 11:18] elad8a commented on #22338
@xiaomi2077 thanks!

To sum things up, I had to install the following packages as well:

[code]

[2022-01-10 12:01] LilyWangLL commented on #20036
Hi @morphogencc, sorry I am late, Could you use the attached file instead of _VCPKG_ROOT/ports/paho-mqttpp3_, install `paho-mqttpp3` again. If this workaround doesn't work, please tell me.

[2022-01-10 12:15] JackBoosY commented on #22413
Okay, thanks @modtrek !

[2022-01-10 12:35] Snoop05 commented on #22413
@JackBoosY thank you for linking source, i must have overlooked it before
i tried your change but unfortunately it didn't fix it as this wasn't the issue (but now the error at least doesn't attract attention on the inconsistency, preventing false suspicion like mine)

creating the directory indeed fixed it 👍
wonder why it failed at that task, should have no issues permission wise (or has it never

[2022-01-10 13:05] EricHier commented on #22101
Is there a way to fix this?

[2022-01-10 14:41] horenmar opened #22457 "Version schemes semver and relaxed are uncomparable"
**Describe the bug**

It is my understanding that version schemes `semver` and `relaxed` are comparable, in other words I can use `version>=` constraints for packages using these schemes.

However, when I try to do it with e.g. `fmt`, I get this error message:

[code]

**Environment**
- OS: Windows
- Compiler: N/A
- vcpkg version: Vcpkg package management program version 2021-12-09-724cea8b33cbf06

[2022-01-10 17:21] TwoPizza9621536 commented on #22282
Set lib env
[code]

[2022-01-10 19:31] faserg1 commented on #20472
Returned to this issue. @NancyLi1013
As I already said, there is no antivirus enabled on my machine. So I don't see the reason move to discussion.

I investigated the problem further - it occuors at the step in `build.ninja`, as I understood, generated by some tool (which one?)

Ninja contains somthing like that:
[code]

Is that ok? Maybe it should generated short or even related paths?

[2022-01-10 19:47] #21921 closed

[2022-01-10 19:47] #20718 closed

[2022-01-10 19:47] #21474 closed

[2022-01-10 19:47] #14850 closed

[2022-01-10 19:47] #16507 closed

[2022-01-10 20:59] #22440 closed

[2022-01-10 21:12] #21882 closed

[2022-01-10 21:15] #22434 closed

[2022-01-10 21:17] #22423 closed

[2022-01-10 21:45] keith6014 commented on #14389
Running into the same issue. Using latest vcpkg.

[2022-01-11 01:01] PhoebeHui commented on #21921
@SeanFarrow, you can execute the scripts with following command, it will update boost components automatically.
[code]

[2022-01-11 01:12] FrankXie05 commented on #21975
@avi-champ Are you still following up on this issue? Does the PR I submit address this issue?

[2022-01-11 01:34] WangZP10969 commented on #21694
I've bypassed this issue by including poisson.hpp directly and I think I can close this issue.
Thanks a lot for your advice and help.

[2022-01-11 01:34] #21694 closed

[2022-01-11 06:20] dg0yt commented on #14389
Yes. It does so when both `confgure` and `configure.ac` are present:

https://github.com/microsoft/vcpkg/blob/9f04533f307a8560cc1cc5c1fdee0d88d6d7d818/scripts/cmake/vcpkg_configure_make.cmake#L247-L253

[2022-01-11 06:24] JonLiu1993 commented on #22406
@barenet97 ,Thanks for posting this issue, could you please provide the detail error log?

[2022-01-11 06:58] JonLiu1993 commented on #22249
@lsqtzj ,Thanks for posting this issue, please use @lolo32's suggestion to try if it can be solved, if you still have problems, please reopen the issue

[2022-01-11 07:04] JackBoosY commented on #22413
Any way, I will add code to check whether this folder was created.

[2022-01-11 07:16] #22249 closed

[2022-01-11 07:23] dg0yt commented on #22436
However, these were pure script mode checks. I mean building a test project. Takes more CI build time, but should catch such errors quite reliably.

[2022-01-11 07:23] JackBoosY commented on #21694
Sorry but I still can't repro this issue, feel free to open it when you stuck again.

[2022-01-11 07:24] barenet97 commented on #22406
Problem has been solved,I used vcpkg to install the package.

Thank you guys trying to help me

[2022-01-11 07:36] wheezy1749 commented on #22405
Found this thread and thought I'd share. This was due to a permission problem under windows for me. I had downloaded it to C:/ initially and that messed everything up I guess. A fresh clone in my user directory and this issue went away.

[2022-01-11 08:05] JackBoosY commented on #14389
@dg0yt `SKIP_CONFIGURE` temporary can't be used now.

[2022-01-11 08:08] #22406 closed

[2022-01-11 08:12] Cheney-W commented on #22282
Thanks for your reply!
Could you please check if the msvcrt.lib file saved in the `C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Tools\MSVC\14.29.30133\lib\x86` folder.
If not, I think you should repair or re-install your VS first; If yes, please run `./vcpkg install v8 --debug` and send the stdout.*.log and the failure log to me. Thank you!

[2022-01-11 08:13] xgcssch commented on #21910
Hm. If that is true, then the requirement of `SeCreateSymbolicLinkPrivilege` violates this assumption and it is a port bug.

[2022-01-11 08:15] #22405 closed

[2022-01-11 08:39] dg0yt commented on #14389
"Can't  be used" == "defect"

[2022-01-11 08:42] JonLiu1993 commented on #22209
@m4xirq ,Is this still a problem for you?

[2022-01-11 08:48] #22209 closed

[2022-01-11 08:52] JonLiu1993 commented on #22194
@NiQ1, Thanks for posting this issue, Please reopen this issue if it still be a problem for you.

[2022-01-11 08:52] #22194 closed

[2022-01-11 08:57] JonLiu1993 commented on #22066
Thanks for posting this issue. Please reopen this issue if it still be a problem for you.

[2022-01-11 08:57] #22066 closed

[2022-01-11 09:07] JonLiu1993 commented on #22042
@horenmar ,Could you please provide a repro step?

[2022-01-11 09:38] SC-94 opened #22472 "[pcl] Build error"
**Host Environment**
- OS: Windows 11
- Compiler: Standard windows Visual C++  compiler
[install-x86-windows-rel-out.log](https://github.com/microsoft/vcpkg/files/7845287/install-x86-windows-rel-out.log)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install pcl`

**Failure logs**
-- Building x86-windows-dbg
-- Building x86-windows-rel
CMake Error at scripts/cmake/vcpkg_execute_build_

[2022-01-11 09:40] JonLiu1993 commented on #22030
Thanks for posting this issue. Please reopen this issue if it still be a problem for you.

[2022-01-11 09:40] #22030 closed

[2022-01-11 10:20] alliancebbbb opened #22474 "My project has an error when i make it"
Please create a discussion in https://github.com/microsoft/vcpkg/discussions/new instead.
Thanks for help!im green in libigl.so my question is also easy.
this is my question:
  When i configure and generate my project,it successed.but when i make it ,i got an error:its can  not find"tutorial_shared_path.h".how can i get it?and whats it function?

[2022-01-11 10:27] Neumann-A commented on #22436
requires symbol usage to detect stuff. And even that is not reliable. If you have already ports depending on the upstream pkgconfig stuff that is better than any arbitrary test.
In generally the only test needed is to see if the stuff in `Libs:` is existing.

[2022-01-11 10:37] Cheney-W commented on #10830
@aagarwl3
vcpkg.exe is now separate from vcpkg and no longer needs to be built locally, could you please use the latest vcpkg to install zlib again? Thank you!

[2022-01-11 10:40] baarmaley commented on #15376
I don't think doing it manually is the solution to the problem. :)

[2022-01-11 10:47] mkhon opened #22476 "vcpkg assumes cross-compiling when building for the same OS and ARCH"
****

**Is your feature request related to a problem? Please describe.**
vcpkg assumes cross-compiling when host triplet is not equal to target triplet

However, vcpkg triplet definitions are ARCH-OS-FLAVOR where FLAVOR is "release" (for release-only builds) or static/dynamic and their variations (static-md).

This leads to cross-compilation when for example -release flavor is built on host.

Exam

[2022-01-11 10:53] Neumann-A commented on #22476
this is by design. If you don't want to have this behavior explicitly pass `--host-triplet` and set it to the same value aus `--triplet`.

[2022-01-11 11:13] KitCarson03 opened #22478 "How do I install library on windows with mingw"
**Host Environment**
- OS: Windows 10
- Compiler: mingw-w64 gcc 11.2

**To Reproduce**
`./vcpkg install sdl2 --triplet=x64-mingw-dynamic (or static)`

**Failure logs**

`The following packages will be built and installed:
    sqlite3[core]:x64-mingw-static -> 3.37.0#1
  * vcpkg-cmake[core]:x64-windows -> 2021-12-20
  * vcpkg-cmake-config[core]:x64-windows -> 2021-12-28
Additional packages (*) will

[2022-01-11 11:18] vectoris opened #22479 "[<zstd>] update to <1.5.1>"
Library name: zstd

New version number: 1.5.1

Other information that may be useful (release notes, etc...)

[2022-01-11 11:18] dg0yt commented on #22478
You must also set the host triplet to mingw.

[2022-01-11 11:21] dg0yt commented on #22478
https://github.com/microsoft/vcpkg/blob/master/docs/users/mingw.md#using-mingw-w64-natively-on-windows

[2022-01-11 11:32] romainaugier opened #22480 "[OpenImageIO] Building with option ffmpeg does not enable ffmpeg with oiio"
**Describe the bug**
Hello,
Installing openimageio with the ffmpeg option does not configure it to use ffmpeg. I installed openimageio this way ;

./vcpkg install openimageio[ffmpeg,libraw,tools]:x64-windows

**Environment**
- OS : Windows x64 and Linux x64 (Ubuntu)
- Compiler : MSVC latest /GCC 9.3

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install openimageio[ffmpeg,libraw,too

[2022-01-11 11:36] dg0yt commented on #22436
The problem is that we sometimes/often don't have the ports (yet), or the feature combination isn't tested (yet), or the dependency is not used (yet) due to some cascaded skip, or whatever. When a problem appears in some consuming configuration, it is hard to track down the origin of the problem.

[2022-01-11 11:42] dg0yt commented on #22472
"Internal compiler error"

[2022-01-11 11:44] dg0yt commented on #22472
Maybe duplicate of: #19561

[2022-01-11 12:04] LilyWangLL commented on #22101
I have no idea how to fix it, @JackBoosY could you help take a look?

[2022-01-11 12:09] JonLiu1993 commented on #21984
@Blakjak88 ,Thanks for posting this issue, please git pull and try again, I can install mlpack[core]:x64-windows-static successfully in my local machine:
[code]
Please reopen this issue if it still be a problem for you.

[2022-01-11 12:09] #21984 closed

[2022-01-11 12:18] LilyWangLL commented on #22472
Yes, this issue is duplicate with #19561, I am closing this issue for now. Please pay attention of issue #19561.

[2022-01-11 12:18] #22472 closed

[2022-01-11 12:20] #21962 closed

[2022-01-11 12:26] JonLiu1993 commented on #21881
@blavatsky3 ,Thanks for posting this issue. Please reopen this issue if it still be a problem for you.

[2022-01-11 12:28] stan423321 opened #22481 "[glib] Build error under Linux (internal include path?)"
**Host Environment**
Xubuntu 21.10
[code]

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install glib`

**Failure logs**
[code]
 /home/stan/vcpkg/buildtrees/glib/package-x64-linux-dbg-out.log
[package-x64-linux-dbg-out.log](https://github.com/microsoft/vcpkg/files/7846365/package-x64-linux-dbg-out.log)
where seemingly most interesting line is
`cc1: error: /home/stan/vcpkg/installed/x6

[2022-01-11 12:32] Neumann-A commented on #22481
`/home/stan/vcpkg/installed/x64-linux/debug/lib/pkgconfig/../../../../include`

one `../` too many.

[2022-01-11 12:37] JonLiu1993 commented on #21768
@Balnian ,Thanks for posting this issue. Please reopen this issue if it still be a problem for you.

[2022-01-11 13:02] stan423321 commented on #22481
Is your WSL setup running Ubuntu 21.10? I would expect 20.04 (and unrelated distributions) to work slightly differently. Maybe that plays a role.

[2022-01-11 13:24] changnet commented on #22400
Thanks

But Binary caching still need to install vcpkg.
I may consider using `vcpkg export` or manually write cmake script at a off internet enviroment

[2022-01-11 13:24] #22400 closed

[2022-01-11 13:26] elad8a commented on #22481
@stan423321 same issue on WSL running ubuntu 20.04

[2022-01-11 13:37] sorokin opened #22482 "build failure: qtbase[core,gui,doubleconversion]:x64-windows-static"
**Host Environment**
- OS: Windows 10 2004
- Compiler: MSVC

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install qtbase[core,gui,doubleconversion]:x64-windows-static`

**Failure logs**
[code]

**Additional context**

Adding `pcre2` feature fixes the problem: `qtbase[core,gui,doubleconversion,pcre2]:x64-windows-static`.

I think it would be great if pcre2 is added automatically when

[2022-01-11 13:42] JonLiu1993 commented on #21514
@Sand2Silicon , Could you please provide the full configure log?

[2022-01-11 13:48] TwoPizza9621536 commented on #22282
I can confirm that msvcrt.lib is in the `C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Tools\MSVC\14.29.30133\lib\x86` folder
[stdout-x86-windows.log](https://github.com/microsoft/vcpkg/files/7846972/stdout-x86-windows.log)
[error.log](https://github.com/microsoft/vcpkg/files/7846973/error.log)
.

[2022-01-11 15:04] JonLiu1993 commented on #19974
@ignacio-alorre ,Thanks for posting this issue. Please reopen this issue if it still be a problem for you.

[2022-01-11 15:04] #19974 closed

[2022-01-11 15:23] ProgGrey commented on #22431
I had the same problem. Solution: download the latest vcpkg.exe from https://github.com/microsoft/vcpkg-tool/releases. Version 2021-12-09 seems to work fine.

[2022-01-11 15:47] JackBoosY commented on #22042
@horenmar For submodules, it should also be pre-downloaded in vcpkg using `vcpkg_from_git*` and rename the folder to _SOURCE_PATH_. If the patch is for a submodule, the patch should be added to the submodule's `vcpkg_from_git*` or `vcpkg_extract_source_archive_ex`.

[2022-01-11 15:51] JackBoosY commented on #22101
I will handle this tomorrow.

[2022-01-11 15:57] JackBoosY commented on #22481
I will dig deeper later.

[2022-01-11 16:29] JackBoosY commented on #22045
Very sorry for late, I will handle this first.

[2022-01-11 17:42] KitCarson03 commented on #22478
Solved. thanks. the problem was that i missed to set the environment variables

[code]

[2022-01-11 18:29] keith6014 opened #22486 "How do I select my registry when using manifest mode?"
In my project I have a vcpkg.json file which states my deps.
[code]

Lets assume "fmt" port is outated and I would like to use a newest port I create just now in ../vcpkg-registry.

How can I do that in manifest mode?

[2022-01-11 20:42] xavier2k6 commented on #22479
Duplicate of #22204

[2022-01-11 22:04] #21910 closed

[2022-01-11 22:56] #8478 closed

[2022-01-11 22:56] #13946 closed

[2022-01-11 22:56] #14182 closed

[2022-01-11 22:56] #17671 closed

[2022-01-12 01:37] HyeonJunKimAny commented on #22300
how did you solve this?

[2022-01-12 05:33] ssh4net opened #22495 "[boost-log:x64-windows] possible port degradation from 1.75 to 1.78"
**Describe the bug**
Installed boost-log:x64-windows generate compilation error in VS:
Error	LNK2038	mismatch detected for 'boost_log_abi': value 'v2_mt_nt62' doesn't match value 'v2_mt_nt6' in ****.obj	****	***\ImageUtils.obj	1

**Environment**
- OS: Windows 10 Pro
- Compiler: VS2019

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install boost-log:x64-windows
2. try to compile exis

[2022-01-12 06:27] #22479 closed

[2022-01-12 06:32] Semphriss opened #22496 "[boost-exception] build failure"
**Host Environment**
- OS: Ubuntu 20.04 LTS
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install boost-exception:wasm32-emscripten`

**Failure logs**
[code]

**Additional context**
This package worked well until a few days ago. It seems like it fails to parse the compiler version.

[2022-01-12 07:19] xgcssch commented on #21910
Confirmed. Works now!
Thanks much!

[2022-01-12 07:40] PhoebeHui commented on #22495
@ssh4net, thanks for reporting this issue! could you please share the repro code with us, or a project to help us repro this issue quickly?

[2022-01-12 07:58] JonLiu1993 commented on #20807
@NotoriousENG, ping for response

[2022-01-12 08:01] kafeg opened #22498 "[fontconfig] Build error on cross-compile from x64-osx host to arm64-osx target"
**Host Environment**
- OS: macOS Catalina x64-osx
- Compiler: clang / XCode 12.4

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install fontconfig:arm64-osx`

It generates binaries for wrong architecture.

[2022-01-12 08:02] moliqingwa commented on #18928
I have the same issue on Mac using Clion. Here's the variable printed:

VCPKG_MANIFEST_DIR=/Users/xxxxx/code/git/robotics/easySim
Z_VCPKG_HAS_MANIFEST_DIR=ON
VCPKG_MANIFEST_MODE=OFF

[2022-01-12 08:09] PhoebeHui commented on #22498
PR https://github.com/microsoft/vcpkg/pull/21772 would solve this issue.

[2022-01-12 08:29] JonLiu1993 commented on #17976
@SamuelMarks ,Is this problem solved? Did you try nancy's suggestion?

[2022-01-12 08:38] LilyWangLL commented on #20367
Hi @autoantwort, you can try the workaround from: https://github.com/microsoft/vcpkg/issues/18118#issuecomment-908913392.

[2022-01-12 09:15] Cheney-W commented on #22282
According to the error.log line 40, you are actually using VS2022 instead of VS2019.

Since the upstream (google/v8) doesn't support Visual Studio 2022 yet, you should use Visual Studio 2019 instead of Visual Studio 2022 to fix this issue, you could uninstall the VS2022 or add set(VCPKG_PLATFORM_TOOLSET v142) into the triplet file, for example: .\triplets\x86-windows.cmake
[code]

[2022-01-12 09:19] Cecil-Huang opened #22499 "[New Port Request] CLD2"
Library name:
Compact Language Detector 2

Library description:
CLD2 probabilistically detects over 80 languages in Unicode UTF-8 text, either plain text or HTML/XML.

Source repository URL:
https://github.com/CLD2Owners/cld2

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be

[2022-01-12 09:32] JonLiu1993 commented on #17514
@Huarkiou ,Does this problem still exist? could you try @strega-nil-ms 's suggestion？

[2022-01-12 10:02] Cheney-W commented on #22474
1. What's the command you use when installing libigl via vcpkg?
2. Could you describe in detail what you did in this part(When i configure and generate my project,it successed.but when i make it )?

[2022-01-12 10:04] LilyWangLL commented on #20367
@autoantwort Could you help test PR #22502 is useful for you? Because I can't reproduce this issue locally.

[2022-01-12 10:11] JonLiu1993 commented on #17529
@Erixar, According to [this ](https://github.com/microsoft/vcpkg/issues/14040#issuecomment-708850966)step, I can successfully install vtk 8.2.0 on the local machine.
[code]
Can you provide the source code involved in your error?
[code]

[2022-01-12 10:40] mark-whitelaw opened #22503 "libmicrohttpd update to 0.9.73"
Library name: libmicrohttpd

New version number: 0.9.73

Other information that may be useful (release notes, etc...)
The existing version (0.9.63) has been superseded with breaking changes, library calls no longer return an int but a MHD_Result

[2022-01-12 12:13] JonLiu1993 commented on #16653
@BurningEnlightenment , Sorry for reply you so late, Can you try './vcpkg install boost-exception' in classic mode and see if the problem persists?
In classic mode, when you use a vcpkg-installed library in a private project, you must first install the dependent library through the vcpkg install command before it can be used.

[2022-01-12 12:18] JonLiu1993 commented on #16271
@ywang2017 , This issue has been fixed by #17205, please git pull your vcpkg and try again

[2022-01-12 12:18] #16271 closed

[2022-01-12 12:24] JonLiu1993 commented on #16132
@derossm , Could you please provide the error log G:\dev\vcpkg\buildtrees\python3\build-x64-windows-dbg-out.log?

[2022-01-12 12:25] JonLiu1993 commented on #16132
@Hoikas ,Could you please take a look?

[2022-01-12 12:40] JonLiu1993 commented on #16132
@Hoikas ,Could you explain the reason for this?

[2022-01-12 12:54] JonLiu1993 commented on #16732
@a30f49 ,I successfully reinstalled cpprestsdk:x64-windows locally. From pr#12345, many people reported this error in upstream, which may be related to upstream
[code]

[2022-01-12 12:58] JonLiu1993 commented on #15738
@JoseAmancio5597851, Sorry reply you so late, Does this problem still exist? You can try to just install the English package and try again

[2022-01-12 13:05] JonLiu1993 commented on #13075
@JunShuoMing ,Is this issue solved now?

[2022-01-12 13:23] #22268 closed

[2022-01-12 13:31] autoantwort commented on #20367
I can't because the dependency pixman already does not build, but I think this will solve the issue. There are often problems on mac that c/c++11 is required but not enabled.

[2022-01-12 13:39] JonLiu1993 commented on #12339
@GAInTheHouse ,Sorry reply you so late,do you solve the problem finally?

[2022-01-12 13:51] alliancebbbb commented on #22474
sorry,its my fault and i got the solution.thanks for help

[2022-01-12 13:51] #22474 closed

[2022-01-12 15:40] Sand2Silicon commented on #21514
I can look into this today.

[2022-01-12 16:47] JackBoosY commented on #22486
1. Use versioning, see https://github.com/microsoft/vcpkg/blob/master/docs/users/versioning.md#version-constraints
2. Use overlay port, see https://github.com/microsoft/vcpkg/blob/master/docs/specifications/ports-overlay.md

[2022-01-12 17:16] JackBoosY commented on #22045
Can you provide the file list in _VCPKG_ROOT/packages/lapack-reference_x64-windows/debug/lib_ and _VCPKG_ROOT/packages/openblas_x64-windows/debug/lib_?
There must have something unexpected.

[2022-01-12 18:39] naveenmarni8 opened #22508 "[cuda] Build error"
**Host Environment**
- OS: [e.g. Windows/Linux etc...]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install xxxx`

**Failure logs**
-Cut and paste the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

**Additional context**
Add any other context about the problem here, such as what yo

[2022-01-12 19:32] #21642 closed

[2022-01-12 19:32] #21975 closed

[2022-01-12 20:00] #21646 closed

[2022-01-12 20:13] talregev commented on #20031
I think the same.
Also we have an example that already happen in opencv. we have new port for each major version.

[2022-01-12 20:16] Pentarctagon commented on #20367
It looks like I'm running into this issue as well when building on Github Actions using the `macos-11.0` build environment. The full build log is at https://github.com/Pentarctagon/wesnoth/runs/4794347009 under the "macOS Intel Release" section. The errors reported before the build stopped are:
[code]

[2022-01-12 20:53] autoantwort commented on #20367
@Pentarctagon can you test if #22502 fixes your error?

[2022-01-12 21:28] TwoPizza9621536 commented on #22282
It compiled, but do I have to keep patching the cmake file when a package does not support a tool chain?

[2022-01-12 22:12] sekcheong commented on #22341
It's on C drive

[2022-01-12 22:26] Pentarctagon commented on #20367
It does not.

[2022-01-12 23:30] wave1122 opened #22511 "[libxml2] Build error"
**Host Environment**
- OS: Windows 10 MingW
- Compiler: gcc 11

**To Reproduce**
Steps to reproduce the behavior:
` ./vcpkg install libxml2:x64-mingw-dynamic`

**Failure logs**
Error: Building package libxml2:x64-mingw-dynamic failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `git pull` and `.\vcpkg update`.
Then check for known issues at:
  https://github.com/microsof

[2022-01-12 23:58] Nemirtingas commented on #22407
Any news about this ?

[2022-01-13 00:17] SamuelMarks commented on #17976
@JonLiu1993 I think it was an OOM issue in Docker. Have you tried in Docker? - It was always working on the host machine.

[2022-01-13 00:27] Pentarctagon commented on #20367
To add to that, the build errors reported are the exact same, including the ones about being "invalid in C99" even with building vcpkg like:
[code]
so it looks like the change in #22502 did not end up getting applied to the pango build.

[2022-01-13 01:28] FrankXie05 commented on #22508
@naveenmarni8 Thanks for posting this issue, In the following path file, we provide the download method of cuda。And can you download it and try again? :)

- scripts/azure-pipelines/linux/provision-image.sh
https://github.com/microsoft/vcpkg/blob/a9ff505c5b8677af4c09a6e60860b1dde932fccc/scripts/azure-pipelines/linux/provision-image.sh

[2022-01-13 02:19] uuiid opened #22513 "[sqlpp11]update to 0.61"
Library name: sqlpp11

New version number: 0.61

Other information that may be useful (release notes, etc...)
Massive refactor and cleanup release
      The changes below require git/build rules to be changed.
I am expecting the result to be considerably simpler, though.
It will also be much simpler to make changes to the library or
individual connectors now (most of the misc changes below would
h

[2022-01-13 02:46] LilyWangLL commented on #20367
@Pentarctagon Thanks for your testing. Could you change `-Dc_std=c11` to `-Dc_std=gnu11` in portfile.cmake, and build pango again?

[2022-01-13 03:02] naveenmarni8 commented on #22508
I am using windows os, can you suggest me other link? By the way, I already downloaded two different versions of cuda from nvidia but no use.

[2022-01-13 03:43] JonLiu1993 commented on #17976
@SamuelMarks, I'm sorry, I'm not familiar with Docker. We don't have a docker test environment

[2022-01-13 03:52] JackBoosY commented on #22282
Since v8 uses gn files, you also have to modify the search Visual Studio part.

[2022-01-13 03:53] Pentarctagon commented on #20367
No change from the previous attempt.

[2022-01-13 03:58] LilyWangLL commented on #21842
Thanks for posting this issue. This issue hasn’t been updated in one month. Please reopen this issue if this is still a problem for you.

[2022-01-13 03:58] #21842 closed

[2022-01-13 04:12] LilyWangLL commented on #19152
Thanks for posting this issue. This issue hasn’t been updated in three months. Please reopen this issue if this is still a problem for you.

[2022-01-13 04:12] #19152 closed

[2022-01-13 04:14] LilyWangLL commented on #17520
Thanks for posting this issue. Please reopen this issue if this is still a problem for you.

[2022-01-13 04:14] #17520 closed

[2022-01-13 04:15] LilyWangLL commented on #16483
Thanks for posting this issue. This issue hasn’t been updated in five months. Please reopen this issue if this is still a problem for you.

[2022-01-13 04:15] #16483 closed

[2022-01-13 04:41] dg0yt commented on #22341
Make sure that there is no second set of MSYS2 tools, e.g. from git, in the PATH.
Attach `config.log` which is within the ...-rel or -dbg directory after a failed configure step.

[2022-01-13 05:35] FrankXie05 commented on #22508
@naveenmarni8 Can you explain which port you installed? Because the re-step download you provided is ‘xxxx ’

[2022-01-13 06:07] SamuelMarks commented on #17976
With same Dockerifle as above, but with the CMake version updated like so:
[code]

Still failing on b47d6ce6e32fb9efb76e6e7e5f9c849298f3557a with Docker 4.3.2 (72729) running Engine 20.10.11:
[code]

[2022-01-13 06:15] JackBoosY commented on #22368
Ping @diehard2 for response.

[2022-01-13 06:18] LilyWangLL commented on #20367
Is this error still exist?
`../src/791f5d46d9-22e3997ab4.clean/pango/pangofc-fontmap.c:2569:3: error: implicit declaration of function 'FcStrListFirst' is invalid in C99`
Could you please provide the new log file?

[2022-01-13 06:18] foobra opened #22515 "[freeglut] arm64-android build failure"
**Host Environment**
- OS: Mac
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install freeglut:arm64-android`

**Failure logs**

Computing installation plan...
The following packages will be built and installed:
    freeglut[core]:arm64-android -> 3.2.1#7
Detecting compiler hash for triplet arm64-android...
Restored 0 packages from /Users//.cache/vcpkg/archives in

[2022-01-13 06:19] JackBoosY commented on #22265
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2022-01-13 06:19] #22265 closed

[2022-01-13 06:20] JackBoosY commented on #22261
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2022-01-13 06:20] #22261 closed

[2022-01-13 06:21] JackBoosY commented on #22243
Ping for response.

[2022-01-13 06:22] JackBoosY commented on #22239
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2022-01-13 06:22] #22239 closed

[2022-01-13 06:23] JackBoosY commented on #22168
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2022-01-13 06:23] #22168 closed

[2022-01-13 06:24] JackBoosY commented on #22155
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2022-01-13 06:24] #22155 closed

[2022-01-13 06:25] JackBoosY commented on #22074
Is this issue resolved?

[2022-01-13 06:25] JackBoosY commented on #22068
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2022-01-13 06:25] #22068 closed

[2022-01-13 06:26] JackBoosY commented on #22043
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2022-01-13 06:26] #22043 closed

[2022-01-13 06:28] JackBoosY commented on #22039
Is this issue resolved?

[2022-01-13 06:28] JackBoosY commented on #21990
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2022-01-13 06:28] #21990 closed

[2022-01-13 06:29] JackBoosY commented on #21934
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2022-01-13 06:29] #21934 closed

[2022-01-13 06:30] JackBoosY commented on #21917
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2022-01-13 06:30] #21917 closed

[2022-01-13 06:36] Pentarctagon commented on #20367
The log is at https://github.com/Pentarctagon/wesnoth/runs/4799473865.

The errors specifically are:
[code]

Since this is in a CI environment, the replacement was done with sed:
[code]
The contents of the portfile before and after the replacement via sed can be seen in the "Build vcpkg" section.

[2022-01-13 07:03] LilyWangLL commented on #19217
Ping @cenit @Neumann-A, could you help take a look this issue? Thanks in advance.

[2022-01-13 07:07] JackBoosY commented on #22373
[code]
I think that's caused by the upstream bazel doesn't support Visual Studio 2022 now.

[2022-01-13 07:08] JackBoosY commented on #22373
Please track #21246 instead.

[2022-01-13 07:08] #22373 closed

[2022-01-13 07:09] Neumann-A commented on #19217
This is not a vcpkg issues. There needs to be a designer plugin to directly use it. Otherwise promoting the normal widgets is probably the way to go but I am not an expert in Qt Designer.

[2022-01-13 07:10] JackBoosY commented on #22323
Ping for response

[2022-01-13 07:14] JackBoosY commented on #19217
Thanks!
@jjjkkyz  So please report this to the upstream qt side.

[2022-01-13 07:14] #19217 closed

[2022-01-13 07:15] LilyWangLL commented on #21870
Thanks for posting this issue. This issue hasn’t been updated in one month. Please reopen this issue if this is still a problem for you.

[2022-01-13 07:15] #21870 closed

[2022-01-13 07:19] Neumann-A commented on #19217
More like asking on the VTK discourse probably

[2022-01-13 07:39] JackBoosY commented on #22163
Please provide file `config.log` in _VCPKG_ROOT/buildtrees/libpq/x64-linxu-dbg_?

Thanks.

[2022-01-13 07:59] LilyWangLL commented on #13506
Thanks for posting this issue. This issue hasn’t been updated for a long time. Please reopen this issue if this is still a problem for you.

[2022-01-13 07:59] #13506 closed

[2022-01-13 08:04] LilyWangLL commented on #12402
Ping @ras0219-msft, could you help take a look this issue?

[2022-01-13 08:06] yjshm opened #22517 "[zlib] Build error"
**Host Environment**
- OS: win10
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install curl`

**Failure logs**
![image](https://user-images.githubusercontent.com/20986362/149290230-713b1f68-b3c7-4127-8063-307017dfb705.png)

[code]

[2022-01-13 08:08] sbrosgol commented on #22039
I think that the latest pull fixed the build error.

On Thu, Jan 13, 2022 at 8:28 AM Jack·Boos·Yu ***@***.***>
wrote:

--
S.Brosgol

[2022-01-13 08:15] LilyWangLL commented on #11864
Thanks for posting this issue. This issue hasn’t been updated for a long time. Please reopen this issue if this is still a problem for you.

[2022-01-13 08:15] #11864 closed

[2022-01-13 08:32] #22039 closed

[2022-01-13 08:40] JackBoosY commented on #5317
Is this issue resolved?

[2022-01-13 08:41] JackBoosY commented on #6738
Is this issue resolved?

[2022-01-13 08:41] Cheney-W commented on #10314
Does this issue still occur with the latest vcpkg 2021-12-09-724cea8b33cbf06c645f5095fa29773697da9761 and VS2019?
Also, the link to the sample project above won't open, could you please provide a new one?

[2022-01-13 08:47] LilyWangLL commented on #21038
Ping @BillyONeal @ras0219-msft, could you please take a look this issue? Thanks in advance.

[2022-01-13 08:49] LilyWangLL commented on #19775
Ping @Tim-Mckinley for response.

[2022-01-13 08:51] daschuer commented on #22163
Does https://github.com/microsoft/vcpkg/pull/22516 make a difference?

[2022-01-13 08:57] Cheney-W commented on #9712
Could you please run `./vcpkg install sqlite3 --debug` and sent the powershell output log and the failure log to me if this issue still occurs?

[2022-01-13 09:09] Cheney-W commented on #8199
Thanks for posting this issue. This issue hasn’t been updated in five months. Please reopen this issue if this is still a problem for you.

[2022-01-13 09:09] #8199 closed

[2022-01-13 09:20] Cheney-W commented on #9366
Still can't reproduce this issue in the latest vcpkg, if this issue is still occur, could you please run `.\vcpkg install czmq[tool,draft,curl,lz4,httpd,uuid]:x86-windows-static --debug` and sent the output of PowerShell and the failure log to me? Thank you!

[2022-01-13 09:49] Cheney-W commented on #7114
Is this issue resolved?

[2022-01-13 10:03] JonLiu1993 commented on #19983
Fixed by pr #19413

[2022-01-13 10:09] LilyWangLL commented on #18676
Thanks for posting this issue. This issue hasn’t been updated for a long time. Please reopen this issue if this is still a problem for you.

[2022-01-13 10:09] #18676 closed

[2022-01-13 10:11] LilyWangLL commented on #18764
Thanks for posting this issue. This issue hasn’t been updated in four months. Please reopen this issue if this is still a problem for you.

[2022-01-13 10:11] #18764 closed

[2022-01-13 10:13] LilyWangLL commented on #18806
Ping @BillyONeal, could you please take a look this issue? Thanks in advance.

[2022-01-13 10:15] LilyWangLL commented on #18441
This issue hasn’t been updated in one month. If someone has new idea, please reopen this issue.

[2022-01-13 10:15] #18441 closed

[2022-01-13 10:18] stalek71 commented on #22045
![obraz](https://user-images.githubusercontent.com/6651025/149311415-33148219-af4f-4126-beee-3193d3d6ae77.png)

![obraz](https://user-images.githubusercontent.com/6651025/149311471-a07946f1-4dfb-4d56-99d8-bdeb2f9bae4d.png)

[2022-01-13 10:21] JackBoosY commented on #6973
Can you please provide the logs `install-x64-linux-dbg-out.log` and `config-x64-linux-dbg-out.log` in  _VCPKG_ROOT/buildtrees/boost-filesystem_?

Thanks.

[2022-01-13 10:33] LilyWangLL commented on #18532
Thanks for posting this issue. This issue hasn’t been updated for a long time. Please reopen this issue if this is still a problem for you. If this is a Visual Studio bug, you can submit a feedback to Visual Studio to report this issue.

[2022-01-13 10:33] #18532 closed

[2022-01-13 10:38] JackBoosY commented on #6973
[code]

Also please provide the command output: `nm packages/boost-filesystem_x64-linux/lib/libboost_filesystem.a`

[2022-01-13 11:44] JonLiu1993 commented on #17582
Thanks for posting this issue. This issue hasn’t been updated in four months. Please reopen this issue if this is still a problem for you.

[2022-01-13 11:45] JonLiu1993 commented on #17568
Thanks for posting this issue. This issue hasn’t been updated in four months. Please reopen this issue if this is still a problem for you.

[2022-01-13 11:51] Tizznt opened #22520 ""vcpkg remove" regularly fails with "error: directory not empty""
The bug: "vcpkg remove" regularly fails with "error: directory not empty"

Environment: Windows 7
Powershell 7.2.1
Visual Studio 2017

To Reproduce:
Steps to reproduce the behavior:
1. ./vcpkg remove xxbigpackage (e,g, Boost all)
2. See error:
Removal fails with error "directory not empty"

Expected behavior:
ALL of Boost is removed and reinstalled when doing for example  ./vcpkg upgrade

Solution

[2022-01-13 11:52] jpo234 opened #22521 "[wxwidgets] wxwidgets[core]:x64-windows -> 3.1.5#6 broken after latest changes"
**Describe the bug**
Install is broken after upgrade to wxwidgets[core]:x64-windows -> 3.1.5#6

**Environment**
- OS: Win10
- Compiler: Visual Studio 2019

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
wxWidgets can be used

**Failure logs**
`2>C:\src\vcpkg\installed\x64-windows\include\wx\setup.h(2,10): fatal error C1083: Cannot open include file: '../../debug/l

[2022-01-13 12:01] JonLiu1993 commented on #12334
@jamesalbert ,Could you try @undefinedfunction's suggestion to check your docker memory limits and configure the RAM to be bigger and see if it solves your problem? I don't have a docker test environment to reproduce this problem

[2022-01-13 12:36] LilyWangLL commented on #20507
@etolgad Does this issue still exist? If this issue still exist, according to Joachim's suggestion, you need check a conflicting Java (or Bazel) installation in the PATH but outside vcpkg.

[2022-01-13 12:39] LilyWangLL commented on #21044
Ping @Neumann-A, could you please take a look this issue? Thanks in advance.

[2022-01-13 12:41] etolgad commented on #20507
No, it doesn't exist anymore. I am not using vcpkg at the moment. Thank you all for helping.

[2022-01-13 12:55] mark-whitelaw commented on #22424
I had this problem, overcame it by adding a 1Gb swap file for the duration of the build

[2022-01-13 13:01] jpo234 commented on #22521
Did a clean reinstall of vcpkg, still messed up:

[code]

[2022-01-13 13:23] JackBoosY commented on #22424
So I confirmed that's a memory issue.

[2022-01-13 13:23] #22424 closed

[2022-01-13 13:25] JackBoosY commented on #22517
See the required Visual Studio components in https://github.com/microsoft/vcpkg-tool/pull/314.

[2022-01-13 13:30] LilyWangLL commented on #12469
Ping @strega-nil @BillyONeal, could you please take a look this issue? Thanks in advance. I can reproduce this issue locally.

[2022-01-13 13:31] JackBoosY commented on #21805
Ping @michaelsmosna-conti  for response.

[2022-01-13 13:33] jpo234 commented on #22521
Still broken in a new way. Generated setup.h now looks like this:

[code]

[2022-01-13 13:33] Eric-JH commented on #21756
The comment of longhuan2018 in the page.
https://github.com/microsoft/vcpkg/issues/20323#issuecomment-977471233

[2022-01-13 13:35] #12469 closed

[2022-01-13 13:38] JackBoosY commented on #21423
The not found one is `basic_string_view`, and the exist are `Vstring_view` and `AEBVCord`, so I assue that's a macro issue.

[2022-01-13 13:39] JackBoosY commented on #21423
Yes, that's it. You need to use the corresponding macro to use tf-cc.

[2022-01-13 13:41] JackBoosY commented on #21445
aws-sdk-cpp was updated to 1.9.160 in vcpkg, is this issue resolved?

[2022-01-13 13:45] JackBoosY commented on #21457
As the workaround, please copy the following dlls from _VCPKG_ROOT/installed/x64-windows/debug/lib_ to _VCPKG_ROOT/installed/x64-windows/tools/protobuf_:
1. libprotocd.dll
2. libprotobufd.dll

[2022-01-13 13:47] JonLiu1993 commented on #16311
@DanielLiamAnderson ,I've never been able to repro this issue
[code]

[2022-01-13 14:08] TwoPizza9621536 commented on #22282
Thanks

[2022-01-13 14:08] #22282 closed

[2022-01-13 14:18] JackBoosY commented on #21457
Also can you please provide the following logs since this is a protobuf-c issue:
_VCPKG_ROOT/buildtrees/protobuf-c/stdout-x64-windows.log_

[2022-01-13 14:19] IJkb commented on #22074
I am having a similar problem. "Could not locate a complete Visual Studio instance" although it is installed. I tried to use vcpkg to install catch2. English langauge package is already installed... Any other suggestions how to resolve this?

[2022-01-13 14:26] diehard2 commented on #22368
@Neumann-A , I don't particularly want to use the Makefile generator, but that option works and the Ninja option doesn't. I don't particularly want to spend time figuring out why, so I was hoping to just use the option that gets me a build.

Regardless of if this is the correct approach, its clearly incorrect behavior based on both the vcpkg documentation and the cmake allowable options. "Unix Mak

[2022-01-13 14:37] Neumann-A commented on #22368
show the log.... If ninja doesn't work there is probably a bug in the CMakeLists.txt which is just hidden by the Makefile generator.

[2022-01-13 14:58] Tim-Mckinley commented on #19775
Yes, the problem has been resolved. Thanks for your assistance.

[2022-01-13 14:58] #19775 closed

[2022-01-13 15:20] yanrez commented on #21457
I've resolved my issue by adding debug c runtime binaries into PATH in my triplet file

[2022-01-13 16:05] JackBoosY commented on #22074
@IJkb See https://github.com/microsoft/vcpkg-tool/pull/314.

[2022-01-13 16:07] JackBoosY commented on #21457
Fine, please reopen this issue if it still bother you.

[2022-01-13 16:07] #21457 closed

[2022-01-13 17:17] #22415 closed

[2022-01-13 17:24] kuelumbus commented on #22085
Please see colab to repo this (this includes the pixman-1.pc file)

[2022-01-13 17:30] JackBoosY commented on #22085
@kuelumbus Is your vcpkg latest? Does this issue still exist now?

[2022-01-13 17:49] JackBoosY commented on #22101
No difference with my logs except build order.
Can you please clone vcpkg to a non-system disk and try again?

Thanks.

[2022-01-13 17:54] JackBoosY commented on #22101
Note to myself:
this issue is caused by `sha256-586.obj` and `sha512-586.obj` were not introduced in the link progress.
can't repro this temporary and have no idea why it happened.

[2022-01-13 18:50] #22503 closed

[2022-01-13 20:47] BillyONeal commented on #21038
I don't think either of us are going to have much insight here.

[2022-01-13 21:07] Bardo91 commented on #19561
I have the same problem with MSVC2022. I solved it by changing the portfile.cmake. I have disabled the usage of opennurbs in the surface module.

- vcpkg Commit  b47d6ce6e32fb9efb76e6e7e5f9c849298f3557a

Changed https://github.com/microsoft/vcpkg/blob/b47d6ce6e32fb9efb76e6e7e5f9c849298f3557a/ports/pcl/portfile.cmake#L62
 to
BUILD_surface_on_nurbs=OFF

By disabling it, the error disappeared. So if

[2022-01-13 21:23] #22311 closed

[2022-01-13 21:54] BillyONeal commented on #22520
I think you just got lucky here or are getting "saved" by powershell being slower to do the delete than vcpkg. On Win10 we can engage POSIX delete support which fixes the issue another way but any kind of recursive delete on NT is hindered by NT being a delete-on-close universe, so if anything is held open in the directory by anyone deletion is likely to fail.

[2022-01-13 22:16] kevinchahine opened #22526 "[gtk] Build error"
**Host Environment**
- OS: [Linux Ubuntu 20.04]
- Compiler: gcc 9.3.0 "cc (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0"

**To Reproduce**
`./vcpkg install gtk:x64-linux`

**Failure logs**
Run-time dependency xrandr found: NO (tried pkgconfig and cmake)
../src/a0ae733b32-18e1e2c397.clean/meson.build:494:2: ERROR: Dependency "xrandr" not found, tried pkgconfig and cmake

Call Stack (most recent call first):

[2022-01-13 23:24] Mike4Online commented on #21445
Yes, this issue is resolved, thanks to a correction made to the s2n package; see https://github.com/microsoft/vcpkg/issues/21443

[2022-01-13 23:24] #21445 closed

[2022-01-14 00:23] duzp commented on #22074
I'm not sure, you can try installing another language package.

| |
duzp
|
|
***@***.***
|
On 1/13/2022 ***@***.***> wrote：

I am having a similar problem. "Could not locate a complete Visual Studio instance" although it is installed. I tried to use vcpkg to install catch2. English langauge package is already installed... Any other suggestions how to resolve this?

—
Reply to this email directly,

[2022-01-14 03:09] DougRogers opened #22528 "OpenImageIO produces link errors"
Linking the current version of OpenImageIO [2.3.10.1] produces link errors.

[code]

Windows. x64, Visual Studio 2019
Installed these projects:

vcpkg install openimageio[libraw,OpenJpeg,GIF]  --triplet x64-windows --recurse
vcpkg install opencv  --triplet x64-windows --recurse
vcpkg install tbb  --triplet x64-windows --recurse
vcpkg install lz4  --triplet x64-windows --recurse
vcpkg install dlib

[2022-01-14 03:12] JackBoosY commented on #22526
Can you confirm your vcpkg is latest?
The feature `x11-backend` is disabled now.

[2022-01-14 03:17] JackBoosY commented on #22085
@kuelumbus The ci log only contains the pkgconfig file which was fixed, I need the origin one in buildtrees.

[2022-01-14 03:54] MarkCallow commented on #22278
Please get this fixed quickly.

I've been unable to use vcpkg for almost 3 months. First due to a bug in the rewriting of the cmake files in the package I want to use, that caused configured builds to fail, and now because I can't run `vcpkg --upgrade` to get the fix for that. I'm ready to give up and find an alternate solution.

[2022-01-14 04:10] LilyWangLL commented on #20507
Thanks for your reply. This issue doesn't exist, so I am closing this issue for now.

[2022-01-14 04:10] #20507 closed

[2022-01-14 04:33] Erixar commented on #17529
Sorry, I've lost my old disk after an accident so I can't provide it .  XD
I'll close this issue later and thx for your helping.

[2022-01-14 04:33] #17529 closed

[2022-01-14 08:05] JackBoosY commented on #22243
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2022-01-14 08:05] #22243 closed

[2022-01-14 08:09] BaptRo commented on #17312
This bug still exist:
https://github.com/boostorg/multiprecision/pull/331

When cross compiling for windows ARM64 with `vs-professional-2019-16.10.3-msvc-14.29.30036-winsdk-10.0.19041.0` I get the following error:
```...\boost_1_78_0\boost/multiprecision/cpp_int/intel_intrinsics.hpp(118): error C3861: '_addcarry_u32': identifier not found```

[2022-01-14 08:18] JackBoosY commented on #22323
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2022-01-14 08:18] #22323 closed

[2022-01-14 08:21] JackBoosY commented on #21805
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2022-01-14 08:26] JackBoosY commented on #17976
Please provide the full log `install-x64-linux-dbg-out.log`.

Thanks.

[2022-01-14 08:32] JackBoosY commented on #17568
This should be fixed by remove the create symbol link code.

[2022-01-14 08:35] JackBoosY commented on #17514
Please check the Visual Studio components in https://github.com/microsoft/vcpkg-tool/pull/314, or repair your Visual Studio using Visual Studio Installer.

[2022-01-14 08:37] JackBoosY commented on #17121
Now we can directly download vcpkg binary instead of building vcpkg.

[2022-01-14 08:37] #17121 closed

[2022-01-14 08:44] LilyWangLL commented on #18806
This issue has been fixed in PR https://github.com/microsoft/vcpkg-tool/pull/107, so I am closing this issue for now.

[2022-01-14 08:44] #18806 closed

[2022-01-14 08:57] JackBoosY commented on #22249
[code]
As the error message said: you should only pick one of the ssl features.

[2022-01-14 09:15] Neumann-A commented on #22278
How about not using `vcpkg upgrade`?  Use `vcpkg list` to get a list of installed ports -> a bit of regex action to only get a list of installed ports -> create a new vcpkg dir -> use response file to install everything `vcpkg install @list-of-ports`.

 `vcpkg upgrade` is not really a supported command due to the issues it has.

[2022-01-14 09:19] AlexanderTaeschner commented on #22278
Is this the offical stance now? If yes, the command should be obsoleted.

[2022-01-14 09:51] ssh4net commented on #22495
Sorry, can't share code or project. And not skilled too much to make minimal possible from existing code that reproduce this bug.

But my coder gave me temporary fix for issue
compiling project with this option:
`-DBOOST_USE_WINAPI_VERSION=BOOST_WINAPI_VERSION_WIN7`

looks like this is a bug in Boost itself

[2022-01-14 10:23] ZMathias commented on #22431
Yes, I specified that in the title of the issue.

[2022-01-14 10:24] ZMathias commented on #22431
Tried it just now, it doesn't work sadly. The insanely weird thing is that it works on my laptop, that had the exact same Windows version installed.

[2022-01-14 10:59] hanyukang opened #22533 "bootstrap-vcpkg.sh build error on Raspberry Pi 64bit OS"
**Describe the bug**
bootstrap-vcpkg.sh build error on Raspberry Pi 64bit OS

**Environment**
- OS: Raspberry Pi 64bit

**To Reproduce**
Steps to reproduce the behavior:
1. ./bootstrap-vcpkg.sh
2. See error
[code]

[2022-01-14 11:08] Cheney-W commented on #22431
Could you please run the following command in the latest vcpkg and send the output of the Powershell to me? Thank you!
`.\vcpkg install zlib:x64-windows --debug`

[2022-01-14 11:10] autoantwort opened #22535 "vcpkg_configure_make should warn/error on unparsed arguments"
[code]
Works without a warning or error. It should print a warning or stops with an error because `OPTIOS` is an unknown argument.
Discovered in https://github.com/microsoft/vcpkg/pull/22421#issuecomment-1012959754

[2022-01-14 11:22] ZMathias commented on #22431
This is the output.
Note that I freshly installed vcpkg before this.
`PS C:\Users\zagon> vcpkg install zlib:x64-windows --debug
[DEBUG] Feature flag 'binarycaching' unset
[DEBUG] Feature flag 'manifests' unset
[DEBUG] Feature flag 'compilertracking' unset
[DEBUG] Feature flag 'registries' unset
[DEBUG] Feature flag 'versions' unset
[DEBUG] Using vcpkg-root: C:\Users\zagon\vcpkg
[DEBUG] Failed to o

[2022-01-14 11:47] Cheney-W commented on #5317
vcpkg_build_cmake has been removed from this port.
Tested this port in macOS with the latest vcpkg, it installed successfully.
![MicrosoftTeams-image](https://user-images.githubusercontent.com/38240633/149510458-f4fc85e7-e35d-40d2-9ab0-6656ac3a82bb.png)

Please reopen this issue if it's still in your side.

[2022-01-14 11:47] #5317 closed

[2022-01-14 11:50] sorokin opened #22536 "imgui[core,sdl2-renderer-binding] build failure"
**Host Environment**
- OS: Windows 10 2004
- Compiler: MSVC

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install imgui[core,sdl2-renderer-binding]`

**Failure logs**

[code]

**Additional context**

The current version of SDL2 in vcpkg is 2.0.16, but imgui requires SDL 2.0.17+. Perhaps this will be fixed by #22290.

[2022-01-14 12:21] LilyWangLL commented on #19124
@charles-sun0v0 Does this issue still exist? I can use manifest mode to install vtk succeed.
[code]

[2022-01-14 13:36] LilyWangLL commented on #19687
@adamgranthendry Thanks for posting this issue. `vtk` has been updated to version `9.0.3-pv5.9.1`, I can install succeed locally. Does this issue still exist?
[code]

[2022-01-14 13:40] michaelsmosna-conti commented on #21805
I pulled the test branch and still got an error:
C:\vcpkg>git status
On branch pr/21485
Your branch is up-to-date with 'github-desktop-lilywangll/dev/LilyWang/issue21365'.
nothing to commit, working directory clean

C:\vcpkg>vcpkg install protobuf
Computing installation plan...
The following packages will be built and installed:
  * protobuf[core]:x64-windows -> **3.19.1**
    protobuf[core]:x86-w

[2022-01-14 14:10] kuelumbus commented on #22085
That's the output. You can run the colab yourself and output the necessary files you need.

[code]

[2022-01-14 16:08] DougRogers commented on #22528
The link error occurs in both Debug and Release build.  I hope this can be resolved soon.

[2022-01-14 19:38] dg0yt commented on #21905
Another CI issue: Uploading artifacts for some ports fail regularly but more or less unnoticed, in particular port llvm:
[code]

Yes: almost 2 hour CI time.
Hitting every x64-windows CI run of my current curl PR (#22445). Note that this PR doesn't touch the llvm dependencies (only zlib, vcpkg-cmake, vcpkg-cmake-config). It is probably just another port needing curl and llvm transitively, and not f

[2022-01-14 19:49] dg0yt commented on #21905
It is port vcpkg-ci-opencv: It pulls in llvm via halide only for x64-windows.

[2022-01-14 23:42] ras0219-msft commented on #21905
https://docs.microsoft.com/en-us/troubleshoot/azure/general/request-body-large indicates it should fail with 4MB or higher, but then https://docs.microsoft.com/en-us/azure/storage/blobs/scalability-targets says:

Implying that not only is >4MB supported, it's encouraged to get higher performance?

From https://docs.microsoft.com/en-us/rest/api/storageservices/put-blob, it looks like the maximum up

[2022-01-14 23:56] BillyONeal commented on #21905
We already pass a high version value: https://github.com/microsoft/vcpkg-tool/blob/018d5684e78a856aee67789970633b23852836c9/src/vcpkg/base/downloads.cpp#L594-L598

[2022-01-14 23:58] BillyONeal commented on #21905
Or the actual Azure SDKs.

[2022-01-15 00:01] #22521 closed

[2022-01-15 00:17] SamuelMarks opened #22539 "[iconv] How to use with vcpkg? `vcpkg install iconv` then "Could not find a package configuration file""
Library name: iconv
CMake: https://cmake.org/cmake/help/latest/module/FindIconv.html

[code]

After running this on 371be89c1e3bc42c71ee325193daa083e3d75d8f:
[code]

NOTE: I am debugging this issue from Intl in vcpkg:
[code]

Which made me think the wrong libiconv was being found, so I'm trying to explicitly specify the vcpkg one.

[2022-01-15 00:44] gary-desroches commented on #22424
Thanks.  I can't believe I picked up the wrong Pi board from my shelf.  It had 1 GB of RAM and no swapfile.  The actual Pi 4 Model B builds vcpkg just fine.

[2022-01-15 01:27] MarkCallow commented on #22278
What is the equivalent command in "manifest mode"?

`vcpkg --help` needs to be updated to warn about the issues and describe the recommended alternative.

[2022-01-15 01:51] HenriMalahieude opened #22540 "[raylib] Error: Building package raylib:x86-windows failed with: BUILD_FAILED"
**Host Environment**
- OS: Windows
- Compiler: - VSC cl.exe

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install raylib`

**Failure logs**
Console Log
[code]

CMakeError.log
[code]

**Additional context**
I am new to installing raylib. I used the simple git clone, and then vcpkg set up. The last step, the build for Raylib, fails.
Apparently cmake and the other dependencies were down

[2022-01-15 02:19] DougRogers commented on #22528
I do not find that _OpenImageIO_Util_EXPORTS_ is set

[2022-01-15 05:54] dg0yt commented on #22539
I think you actually need [need](https://cmake.org/cmake/help/v3.21/module/FindIconv.html):

[code]

Another record for #20190. Sigh...

[2022-01-15 05:55] dg0yt commented on #22539
No, it is the most prominent example.

[2022-01-15 07:22] MFRSiam commented on #22278
i did a new vcpkg install, seems like it fixed it.

[2022-01-15 07:41] lunkyguy opened #22541 "[glib] Build error"
**Host Environment**
- OS: ubuntu20.04
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install opencv:x64-linux`

**Failure logs**
Call Stack (most recent call first):
  scripts/cmake/vcpkg_configure_meson.cmake:491 (vcpkg_execute_required_process)
  ports/glib/portfile.cmake:46 (vcpkg_configure_meson)
  scripts/ports.cmake:142 (include)

[2022-01-15 09:00] GreatV opened #22542 "[vxl:x64-windows] Build error"
**Host Environment**
- OS: Windows 10
- Compiler: MSVC2022

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install vxl:x64-windows`

**Failure logs**
[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/7874614/install-x64-windows-dbg-out.log)

**Additional context**
  package: vxl[core]:x64-windows -> 2.0.2#4
  vcpkg-tool version: 2021-12-09-724cea8b33cbf06c645f5

[2022-01-15 14:54] refaim opened #22544 "[gmime] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: Microsoft Visual Studio 2017
- vcpkg: master (bba8794b82a0f44b8709f294850a2c8e96b61415)

**To Reproduce**
Steps to reproduce the behavior:
- Clone https://github.com/refaim/VcpkgGmimeBuildFailure
- Run `msbuild /p:VcpkgEnableManifest=true test.vcxproj`

**Failure logs**
[code]
[build.log](https://github.com/microsoft/vcpkg/files/7875192/build.log)

[2022-01-15 14:56] JackBoosY commented on #22535
Yes, I'm starting to add this feature.

[2022-01-15 14:58] JackBoosY commented on #22540
Please check the Visual Studio components in https://github.com/microsoft/vcpkg-tool/pull/314.

Thanks.

[2022-01-15 14:58] JackBoosY commented on #22541
Please provide the output and the failure logs mentioned in the output first.

Thanks.

[2022-01-15 14:59] JackBoosY commented on #22542
[code]

[2022-01-15 16:48] DougRogers commented on #22528
Static build does not link, either.

[2022-01-15 18:31] SamuelMarks commented on #22539
@dg0yt Hmm I'm still getting:
[code]

(although my build did start working again… it's just finding the wrong iconv)

[2022-01-15 19:13] mice2100 commented on #22023
Error when install sdl2-mixer:
`vcpkg` install sdl2-mixer[mpg123]:x64-mingw-dynamic`

Log says:
C:/msys64/mingw64/bin/../lib/gcc/x86_64-w64-mingw32/11.2.0/../../../../x86_64-w64-mingw32/bin/ld.exe: CMakeFiles/SDL2_mixer.dir/music_mpg123.c.obj:music_mpg123.c:(.rdata$.refptr.mpg123_seek[.refptr.mpg123_seek]+0x0): undefined reference to `mpg123_seek'
C:/msys64/mingw64/bin/../lib/gcc/x86_64-w64-mingw3

[2022-01-15 19:15] SamuelMarks commented on #17976
I'm still thinking it's an OOM—or similar resource exhaustion—issue: [docker.log](https://github.com/microsoft/vcpkg/files/7875725/docker.log)

[2022-01-15 20:50] Neumann-A commented on #22539
What did you expect?

[code]

on osx/unix iconv is an empty port.

[2022-01-15 21:52] pierrebizz opened #22545 "Strange Codeset behavior in corba application depending on link options"
**Describe the bug**
The codesets are not the same if I link with TAO_Strategies or not

**Environment**
Linux - ubuntu wsl2
g++ (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0

ACE_TAO 7.0.5 static build from vcpkg

**To Reproduce**
Steps to reproduce the behavior:

In my application, I use the directive
`"-ORBSvcConfDirective", "static Resource_Factory \"-ORBNativeCharCodeSet 0x05010001\""
`
To manage the

[2022-01-15 21:57] DougRogers commented on #22528
OpenImageIO_Util.lib also needs to be linked in.

[2022-01-15 22:28] SamuelMarks commented on #22539
Ah gotcha, so it's as expected there. Still gotta do my MSVC testing, will continue there.
[offtopic]
Debugging the `install` and even explicitly checked `VCPKG_LIBRARY_LINKAGE` to install headers to `include` and to `bin` (as per vcpkg policy)… but it still is asking for those files to be recursively removed from those directories.
[/offtopic]

Shall I leave this issue open until #20190 closes?

[2022-01-16 06:09] Eric-JH opened #22547 "[icu] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: MSVC 2022

**To Reproduce**
`./vcpkg install ITK`

**Failure logs**
D:\Visual Studio\vcpkg>vcpkg install ITK
Computing installation plan...
The following packages will be built and installed:
  * icu[core]:x64-windows -> 69.1#16
  * icu[core]:x86-windows -> 69.1#16
    itk[core]:x86-windows -> 5.1.0#7
  * libjpeg-turbo[core]:x86-windows -> 2.1.2

[2022-01-16 07:37] dg0yt commented on #22547
[code]

Move vcpkg to a directory without spaces. Some packages don't handle spaces well.

[2022-01-16 09:03] yoavmil commented on #11601
Same problem here. Updating vcpkg didn't work for me.

[2022-01-16 11:33] Eric-JH commented on #22547
Yeah, your advice is quite useful. Thanks~

[2022-01-16 11:33] #22547 closed

[2022-01-16 16:03] OishikGuha opened #22548 ""Error: in triplet x64-windows: Unable to find a valid Visual Studio instance" even with a valid visual studio instance"
I am watching [this video](https://www.youtube.com/watch?v=IfRMV2MY9n0) about machine learning with a Yolo algorithm and in this video it says to install `vcpkg` (by the way, this is the [github repo](https://github.com/AlexeyAB/darknet#how-to-compile-on-windows-using-vcpkg) with those instructions)

and this is the error I got while using the ```.\vcpkg install darknet[opencv-base,cuda,cudnn]:x64

[2022-01-16 16:13] atopavirgil opened #22549 "[LIBTOMMATH] The static build library can not be included in a shared library in LINUX"
https://github.com/libtom/libtommath

The library build with VCPKG in Linux x64 can be included and works in another static library (as static library).
However if we try to create a shared library (which includes libtommath) we get this message:

libtommath.a(bn_mp_mul.o): relocation R_X86_64_PC32 against symbol `KARATSUBA_MUL_CUTOFF' can not be used when making a shared object; **recompile with

[2022-01-16 16:22] atopavirgil opened #22550 "[LIBTOMMATH] The static build library can not be included in a shared library in ANDROID"
https://github.com/libtom/libtommath

The static build libtommath can not be used in another shared Android library or linked in an executable (can be included in a static library, however ). Getting the error (for every function):

ld: error: (extra path)/vcpkg/installed/arm64-android/lib/libtommath.a(bn_mp_abs.o) is incompatible with aarch64linux
...

If the library is build as dynamic , the sam

[2022-01-16 17:31] kevinchahine commented on #22526
Yes vcpkg is latest

[2022-01-16 18:39] MarcelNehring commented on #22495
I saw this issue while looking for a solution for what looks like this exact problem.
This isn't really a **minimal** example but I hope it suffices to analyze the issue further.

Building this code fails for me as soon as I define `_WIN32_WINNT` to target Windows 8 or later.
As @ssh4net and the boost changelog already mentioned defining `BOOST_USE_WINAPI_VERSION` to `BOOST_WINAPI_VERSION_WIN7` al

[2022-01-16 18:54] hartwork opened #22551 "[expat] update to 2.4.7 (with security fixes)"
Library name: **expat**

New version number: ~**2.4.3**~ ~**2.4.4**~ **2.4.7**

Other information that may be useful (release notes, etc...) **below**

----

Hi!

[libexpat ~2.4.3~ ~2.4.4~ 2.4.7](https://github.com/libexpat/libexpat/releases/tag/R_2_4_7) with **security fixes** has been released, the upstream [change log](https://github.com/libexpat/libexpat/blob/R_2_4_7/expat/Changes) has more de

[2022-01-16 19:29] diehard2 opened #22552 "[arrow] Linker errors with arrow[parquet]"
Parquet libraries are not linking correctly.

**Environment**
- OS: CentOS 8
- Compiler: GCC 10/12

**To Reproduce**
The following Docker image will replicate the issue. Just cd into parque_test/build and run scl enable gcc-toolset-10 bash && cmake --build. It appears to not be linking to thrift, lz4, and brotli. The gcc 10 toolset is required due to an error build boost math with the base install

[2022-01-16 19:44] diehard2 opened #22553 "[boost-math] build failure with PCH error"
**Host Environment**
- OS: CentOS8
- Compiler: gcc 8.5

**To Reproduce**
Docker image that reproduces the error. Error "One or more PCH files were found but they were invalid". The suggested fix is turning off pch. I added it to the bjam options file, but it did not appear to be applied. This error does not occur if I use the developer toolkit with gcc-10, but since its the base developers toolkit

[2022-01-16 21:08] diehard2 commented on #22368
Sorry for the delay. The CMakeLists.txt calls

find_package(zstd MODULE REQUIRED)

and this in turn generates

#############################################
# Custom command for thirdparty/zstd/src/zstdBuild-stamp/zstdBuild-build

build thirdparty/zstd/src/zstdBuild-stamp/zstdBuild-build | ${cmake_ninja_workdir}thirdparty/zstd/src/zstdBuild-stamp/zstdBuild-build: CUSTOM_COMMAND thirdparty/zstd/src

[2022-01-16 21:54] sabrabano0 commented on #10406
i got this error too, this is my first time
C:\openMVG_MVS\vcpkg\scripts\bootstrap.ps1 : Downloading vcpkg.exe failed. Please check your internet connection, or
consider downloading a recent vcpkg.exe from https://github.com/microsoft/vcpkg-tool with a browser.
At line:1 char:4
+ & {& 'c:\openMVG_MVS\vcpkg\scripts\bootstrap.ps1' }
+    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryI

[2022-01-16 21:57] daschuer commented on #18764
I can confirm that the issue is solved now.

[2022-01-16 22:42] s0600204 opened #22564 "[mesa] build/acquisition failure"
**Host Environment**
- *OS*: Windows (specifically GitHub Actions' `windows-2016` and `windows-2019` images)
- *Compiler*: Not relevant, as the failure occurs before the compiler comes into play.

**To Reproduce**
[code]

**Failure logs**
[code]

**Additional context**
Downloading the `mesa-mesa-21.2.5.tar.gz` file manually to my own personal machine (which runs ArchLinux) and deriving a hash (`sh

[2022-01-17 00:16] JackBoosY commented on #22548
Please check the  required Visual Studio components in https://github.com/microsoft/vcpkg-tool/pull/314.

Thanks.

[2022-01-17 00:22] JackBoosY commented on #22023
@mice2100 Please open a new issue to report that.

[2022-01-17 00:23] JackBoosY commented on #17976
@SamuelMarks Yes that's a oom issue. Please reopen this if it still bother your.

[2022-01-17 00:23] #17976 closed

[2022-01-17 00:47] JackBoosY commented on #11601
@yoavmil Can you please provide the repro step?

[2022-01-17 00:51] JackBoosY commented on #22526
Can you please provide the logs in _VCPKG_ROOT\buildtrees\gtk\x86-windows-dbg\meson-logs_?

Thanks.

[2022-01-17 00:52] JackBoosY commented on #22368
Ah I saw this issue before.

[2022-01-17 01:26] JackBoosY commented on #22368
Can you please provide file `build.ninja` in your cmake binary dir?

[2022-01-17 01:47] diehard2 commented on #22368
attached
[build.ninja.txt](https://github.com/microsoft/vcpkg/files/7878486/build.ninja.txt)

[2022-01-17 01:48] JackBoosY commented on #22368
`${cmake_ninja_workdir}`

[2022-01-17 01:52] JackBoosY commented on #22368
Did you install ninja manullay? Can you confirm whether _VCPKG_ROOT/downloads/tools/ninja-1.10.2-linux/_ exists?

[2022-01-17 02:22] autoantwort opened #22568 "[openblas] Build error on x64-osx"
Package: openblas[core]:x64-osx -> 0.3.19
**Host Environment**
- Host: arm64-osx
- Compiler: AppleClang 13.0.0.13000029
-    vcpkg-tool version: 2999-12-31-unknownhash-debug
    vcpkg-scripts version: 4fff1e9cf 2022-01-17 (33 seconds ago)

**To Reproduce**
`vcpkg install `

**Failure logs**
[code]
<details><summary>/Users/leanderSchulten/git_projekte/Lichtsteuerung/vcpkg/buildtrees/openblas/config

[2022-01-17 02:24] autoantwort opened #22569 "[crossguid] Build error on x64-osx"
Package: crossguid[core]:x64-osx -> 2021-10-22#1
**Host Environment**
- Host: arm64-osx
- Compiler: AppleClang 13.0.0.13000029
-    vcpkg-tool version: 2999-12-31-unknownhash-debug
    vcpkg-scripts version: 4fff1e9cf 2022-01-17 (2 minutes ago)

**To Reproduce**
`vcpkg install `

**Failure logs**
[code]
<details><summary>/Users/leanderSchulten/git_projekte/Lichtsteuerung/vcpkg/buildtrees/crossguid

[2022-01-17 02:27] autoantwort opened #22570 "[dimcli] Build error on x64-osx"
Package: dimcli[core]:x64-osx -> 5.0.2#2
**Host Environment**
- Host: arm64-osx
- Compiler: AppleClang 13.0.0.13000029
-    vcpkg-tool version: 2999-12-31-unknownhash-debug
    vcpkg-scripts version: 4fff1e9cf 2022-01-17 (5 minutes ago)

**To Reproduce**
`vcpkg install `

**Failure logs**
[code]
<details><summary>/Users/leanderSchulten/git_projekte/Lichtsteuerung/vcpkg/buildtrees/dimcli/install-x6

[2022-01-17 02:30] autoantwort opened #22571 "Add support expressions"
winpcap, unrar, libdshowcapture, mdnsresponder, luajit, libxmp-lite, jemalloc, duilib, dlfcn-win32, devicenameresolver and detours only builds on windows. Add support expression and remove from ci.baseline.txt

[2022-01-17 02:31] JackBoosY commented on #22564
Confirmed, thanks for reporting this!

[2022-01-17 02:31] autoantwort opened #22572 "[elfutils] Build error on x64-osx"
Package: elfutils[core]:x64-osx -> 0.182#2
**Host Environment**
- Host: arm64-osx
- Compiler: AppleClang 13.0.0.13000029
-    vcpkg-tool version: 2999-12-31-unknownhash-debug
    vcpkg-scripts version: 4fff1e9cf 2022-01-17 (8 minutes ago)

**To Reproduce**
`vcpkg install `

**Failure logs**
[code]
<details><summary>/Users/leanderSchulten/git_projekte/Lichtsteuerung/vcpkg/buildtrees/elfutils/config

[2022-01-17 02:32] autoantwort opened #22574 "[gherkin-c] Build error on x64-osx"
Package: gherkin-c[core]:x64-osx -> 2019-10-07#2
**Host Environment**
- Host: arm64-osx
- Compiler: AppleClang 13.0.0.13000029
-    vcpkg-tool version: 2999-12-31-unknownhash-debug
    vcpkg-scripts version: 4fff1e9cf 2022-01-17 (10 minutes ago)

**To Reproduce**
`vcpkg install `

**Failure logs**
[code]
<details><summary>/Users/leanderSchulten/git_projekte/Lichtsteuerung/vcpkg/buildtrees/gherkin-

[2022-01-17 02:44] JackBoosY commented on #22570
[code]
This port doesn't support OSX.

[2022-01-17 02:48] autoantwort commented on #22570
I think this port simply requires c++11, but this is not enabled by default

[2022-01-17 02:48] autoantwort commented on #22570
So something like https://github.com/microsoft/vcpkg/pull/22452 is needed

[2022-01-17 02:56] diehard2 commented on #22368
I did not install it manually and that directory exists

[2022-01-17 02:57] autoantwort opened #22576 "[guetzli] Build error on x64-osx"
Package: guetzli[core]:x64-osx -> 2020-09-14#1
**Host Environment**
- Host: arm64-osx
- Compiler: AppleClang 13.0.0.13000029
-    vcpkg-tool version: 2999-12-31-unknownhash-debug
    vcpkg-scripts version: 4fff1e9cf 2022-01-17 (34 minutes ago)

**To Reproduce**
`vcpkg install `

**Failure logs**
[code]

c++11 must be enabled in the port
<details><summary>/Users/leanderSchulten/git_projekte/Lichtst

[2022-01-17 02:59] JackBoosY commented on #22570
No that doesn't work, nether 11 or 14.

[2022-01-17 03:02] JackBoosY commented on #22574
[code]

[2022-01-17 03:03] JackBoosY commented on #22368
I'll take a look.

[2022-01-17 03:05] autoantwort commented on #22570
But it does with c++17

[2022-01-17 03:23] JackBoosY commented on #22570
Build with this changes in _CMakeLists.txt_ line 84:
[code]
[code]

I think we'd better to wait for the upstream fix that.

[2022-01-17 03:39] autoantwort commented on #22570
`std::filesystem` is a c++17 feature. So set `CMAKE_CXX_STANDARD` to `17` and it builds without problems

[2022-01-17 03:48] LilyWangLL commented on #22569
Thanks for posting this issue. It's duplicated to #15594, let's track this issue there.

[2022-01-17 03:48] #22569 closed

[2022-01-17 04:28] Eric-JH opened #22579 "[itk] latest version"
I want to update my itk version from 5.1.0 to 5.3.0.  But it seems that vcpkg doesn't suppot this function. Is it feasible to update the port or I can do it by other ways?

[2022-01-17 05:13] Pentarctagon commented on #20367
Some further testing has the builds give the same "declaration of function is invalid in C99" with the current version of pango as well as the previous two (as listed at https://vcpkg.info/port/pango), though the errors aren't exactly the same. Earlier versions don't build since they refer to an ftp server that doesn't resolve anymore.

[2022-01-17 05:41] LilyWangLL commented on #22528
@DougRogers Why close it? Reopen this issue and I will fix it soon.

[2022-01-17 05:43] LilyWangLL commented on #21805
I will confirm and fix this issue soon.

[2022-01-17 06:00] dg0yt commented on #22368
[code]
...
[code]

FTR:
 - There is no port "nebula" in vcpkg.
 - The custom port builds zstd as a vendored dependency.
 - The nebula build seems to build the vendored zstd via explicit commands for Makefiles (`$(MAKE)`). This assumes that nebula itseld is build with `make`.

[2022-01-17 07:34] PhoebeHui commented on #22553
@diehard2, you are trying to pass C and C++ flag to boost-math to turn off PCH, right? and it doesn't work. Could you try [vcpkg_cxx_flags](https://github.com/microsoft/vcpkg/blob/master/docs/users/triplets.md#vcpkg_cxx_flags) and see if it works for you?

[2022-01-17 07:38] Eric-JH commented on #22579
I found relevant info in version part in documentation

[2022-01-17 07:38] #22579 closed

[2022-01-17 07:48] LilyWangLL commented on #20367
This looks like the header file for fontconfig is not included. @Pentarctagon Could you test PR[#22502](https://github.com/microsoft/vcpkg/pull/22502) again? Thanks very much.

[2022-01-17 07:58] FrankXie05 commented on #22298
@romainaugier Sorry for the late reply. I did not reproduce  locally.

[code]

 Make sure you are using the latest vcpkg library, you can run the command to update `.git pull `
 And the current build libraw on openimageio has a bug, see #15509.
 We will continue to push to solve  hope it can help you. :)

[2022-01-17 08:07] yoavmil commented on #11601
@JackBoosY Not much to it.
[code]

[2022-01-17 08:09] FrankXie05 commented on #18556
@liuhaowen478 Sorry for the late reply, Could you please provide your project files?

- CMakeLists.txt
- vcpkg.json

[2022-01-17 08:17] LilyWangLL commented on #22572
Thanks for posting issue. According to https://github.com/microsoft/vcpkg/pull/14771#issuecomment-734742987, `elfutils` does not support gnu extensions (-std=gnu99). It need a custom toolchain switching to gcc on apple could compile this correctly.

[2022-01-17 08:26] acse-mp3014 opened #22580 "Error: Building package openssl:x64-windows failed with: BUILD_FAILED"
### Host environment

- OS: Windows 7 Professional (64-bit version)
- Powershell version: 7.2.1
- C++ compiler: MinGW-w64

### Command used to reproduce

PS C:\vcpkg> `.\vcpkg.exe install boost:x64-windows`

### Logs from running command .\vpckg.exe install boost:x64-windows

**1.  Logs from Command launched & list of packages for installation**

![image](https://user-images.githubusercontent.com/

[2022-01-17 08:43] forallsunday opened #22581 "building lapack:x64-windows failed."
**Host Environment**
- OS: windows 10
- Compiler: vs 2015

**To Reproduce**
Steps to reproduce the behavior:
vcpkg install lapack:x64-windows

**Failure logs**
    config-x64-windows-out.log
[1/2] cmd /c "cd .. && "D:/Library/vcpkg/downloads/tools/cmake-3.21.1-windows/cmake-3.21.1-windows-i386/bin/cmake.exe" "D:/Library/vcpkg/ports/lapack" "-DCMAKE_PREFIX_PATH="D:/Library/vcpkg/packages/lapack_x64

[2022-01-17 08:47] Eric-JH opened #22582 "How do I use the versioning function"
According to the versioning part of vcpkg documentation, and I tried to reproduce the example given by [Getting started with versioning](https://github.com/microsoft/vcpkg/blob/master/docs/examples/versioning.getting-started.md). But I failed and I thought the error was caused by the wrong "builtin-baseline". Because it went well if I don't specify the version.
Here is the log.
[vcpkg-manifest-ins

[2022-01-17 08:51] Eric-JH commented on #22582
[CmakeVersionTest.zip](https://github.com/microsoft/vcpkg/files/7880391/CmakeVersionTest.zip)
This is the whole code which is same with [Getting started with versioning](https://github.com/microsoft/vcpkg/blob/master/docs/examples/versioning.getting-started.md)

[2022-01-17 10:16] romainaugier commented on #22298
Hello @FrankXie05 ! The error appears when I build my project, not when I install the libraries with vcpkg. You can have a look here if you want to reproduce the bug : https://github.com/romainaugier/OpenViewer, install openimageio with libraw and ffmpeg and it should happen when you compile the project.
I don't have a lot of time right now but I'll try to investigate too to find what could cause

[2022-01-17 10:21] FrankXie05 commented on #22298
@romainaugier Thanks for your reply, I will investigate and fix it as soon as possible.

[2022-01-17 10:29] PhoebeHui commented on #22495
@MarcelNehring, thanks for the example code! it seems Upstream by design issue, relate to https://github.com/boostorg/log/issues/172.

BOOST_USE_WINAPI_VERSION is defined to BOOST_WINAPI_VERSION_WIN7 by default, and _WIN32_WINNT and WINVER are defined in boost-winapi header[1], which value is BOOST_WINAPI_VERSION_WIN7[2], that cause conflicts when user define these two macros in their custom proje

[2022-01-17 10:41] wcchoi commented on #22533
saw the same error, using gcc-11 works for me

[2022-01-17 10:46] hajokirchhoff commented on #12289
Hi all, what is the status here (other than "other")? Any new plans or development?

My problem is with boost-serialization. I have a bug fix I need for my project and cannot wait until it is integrated in an official release (esp. since boost-serialization seems not to be actively maintained anymore).

I followed https://vcpkg.io/en/docs/examples/patching.html, created a patch and modified ./port

[2022-01-17 10:54] forallsunday commented on #22581
Now I can't build any project for cmake can't find compiler of vs2015 x64.
[code]
When I change the name of 'vcpkg' dir, things worked fine, seems cmake reading some configurations from vcpkg.

[2022-01-17 11:04] Cheney-W commented on #22542
Duplicate to https://github.com/microsoft/vcpkg/issues/20701

[2022-01-17 11:04] #22542 closed

[2022-01-17 12:55] autoantwort commented on #22572
Thank you for finding this out :)

[2022-01-17 12:55] #22572 closed

[2022-01-17 14:16] Kojoley commented on #22495
Do I understand correctly that you install boost-log via vcpkg, then in your code that uses boost-log you define `_WIN32_WINNT` to some value (and which differs from one boost-log would guess, or you had supplied to vcpkg explicitly) - you are getting a linkage error?

[2022-01-17 14:17] pierrebizz commented on #22545
I made a sample CMake project that reproduces the bug, and a sample Java client program that demonstrates the bug, but I seems that I can't add a zip file in attachment.

[2022-01-17 15:00] nurbles opened #22585 "vcpkg update vcpkg"
_If this has been asked before, sorry.  I was unable to guess any search terms that located the previous question(s)._

Are there any plans to ever have **vcpkg update itself** just like it can do with any other package?

I understood why this might not have been possible with the earliest releases, but after all this time I was shocked to discover that any vcpkg update remains a completely manual

[2022-01-17 15:12] atopavirgil commented on #22549
This is not a community-triplet issue (it may be for Android for which I added a sepparate issue). The main problem described here is that Building in Linux x64 which is an official supported configuration (not community) require changes in the PORT file ( adding -fPIC parameter). The sister library libtomcrypt has this parameter in port, libtommath it does not.
The Android problem may be differen

[2022-01-17 16:08] kevinchahine commented on #22526
Thank you for helping me solve this issue. I've attached meson-logs and 2 other log files that vcpkg suggested looking at.

[meson-log.txt](https://github.com/microsoft/vcpkg/files/7883263/meson-log.txt)
[config-x64-linux-dbg-out.log](https://github.com/microsoft/vcpkg/files/7883271/config-x64-linux-dbg-out.log)
[get-cmake-vars-x64-linux-dbg-err.log](https://github.com/microsoft/vcpkg/files/788327

[2022-01-17 16:42] DougRogers commented on #22528
I closed it because linking in OpenImageIO_Util.lib resolved the link error,

[2022-01-17 16:49] Pentarctagon commented on #20367
The build errors reported remain the same.

[2022-01-17 17:26] autoantwort opened #22589 "[libudis86] Build error on x64-osx"
Package: libudis86[core]:x64-osx -> 2018-01-28-56ff6c87#1
**Host Environment**
- Host: arm64-osx
- Compiler: AppleClang 13.0.0.13000029
-    vcpkg-tool version: 2999-12-31-unknownhash-debug
    vcpkg-scripts version: 4fff1e9cf 2022-01-17 (15 hours ago)

**To Reproduce**
`vcpkg install `

**Failure logs**
[code]
<details><summary>/Users/leanderSchulten/git_projekte/Lichtsteuerung/vcpkg/buildtrees/l

[2022-01-17 17:29] OishikGuha commented on #22548
@JackBoosY I will try it out, thanks for giving your time!

[2022-01-17 17:56] autoantwort opened #22590 "[meschach] Build error on x64-osx"
Package: meschach[core]:x64-osx -> 1.2b#4
**Host Environment**
- Host: arm64-osx
- Compiler: AppleClang 13.0.0.13000029
-    vcpkg-tool version: 2999-12-31-unknownhash-debug
    vcpkg-scripts version: 4fff1e9cf 2022-01-17 (15 hours ago)

**To Reproduce**
`vcpkg install `

**Failure logs**
[code]
<details><summary>/Users/leanderSchulten/git_projekte/Lichtsteuerung/vcpkg/buildtrees/meschach/install-

[2022-01-17 18:02] autoantwort opened #22591 "[msix] Build error on x64-osx"
Package: msix[core]:x64-osx -> 1.7#3
**Host Environment**
- Host: arm64-osx
- Compiler: AppleClang 13.0.0.13000029
-    vcpkg-tool version: 2999-12-31-unknownhash-debug
    vcpkg-scripts version: 4fff1e9cf 2022-01-17 (16 hours ago)

**To Reproduce**
`vcpkg install `

**Failure logs**
[code]
<details><summary>/Users/leanderSchulten/git_projekte/Lichtsteuerung/vcpkg/buildtrees/msix/config-x64-osx-db

[2022-01-17 18:03] autoantwort opened #22592 "[mygui] Build error on x64-osx"
Package: mygui[core]:x64-osx -> 3.4.1#2
**Host Environment**
- Host: arm64-osx
- Compiler: AppleClang 13.0.0.13000029
-    vcpkg-tool version: 2999-12-31-unknownhash-debug
    vcpkg-scripts version: 4fff1e9cf 2022-01-17 (16 hours ago)

**To Reproduce**
`vcpkg install `

**Failure logs**
[code]
<details><summary>/Users/leanderSchulten/git_projekte/Lichtsteuerung/vcpkg/buildtrees/mygui/install-x64-o

[2022-01-17 18:05] autoantwort opened #22593 "[libcanberra] Build error on x64-osx"
Package: libcanberra[core,defaults,null]:x64-osx -> 0.30#1
**Host Environment**
- Host: arm64-osx
- Compiler: AppleClang 13.0.0.13000029
-    vcpkg-tool version: 2999-12-31-unknownhash-debug
    vcpkg-scripts version: 4fff1e9cf 2022-01-17 (16 hours ago)

**To Reproduce**
`vcpkg install `

**Failure logs**
[code]
<details><summary>/Users/leanderSchulten/git_projekte/Lichtsteuerung/vcpkg/buildtrees/

[2022-01-17 18:51] j-warren-123 opened #22594 "[2021-05-05-9f849c4c43e50d1b16186ae76681c27b0c1be9d9] build failure"
**Host Environment**
- OS: Windows
- Compiler: VS2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install lapack`

**Failure logs**
[code]

**Additional context**
No download available - all mirrors failed

[2022-01-17 18:55] diehard2 commented on #22368
@dg0yt I'm attempting to build it as an internal package for vcpkg. It builds fine with cmake outside of vcpkg. Its being pulled in with the find_package command from cmake

[2022-01-17 18:56] autoantwort opened #22595 "[libmesh] Build error on x64-osx"
Package: libmesh[core]:x64-osx -> 1.5.0#2
**Host Environment**
- Host: arm64-osx
- Compiler: AppleClang 13.0.0.13000029
-    vcpkg-tool version: 2999-12-31-unknownhash-debug
    vcpkg-scripts version: 4fff1e9cf 2022-01-17 (16 hours ago)

**To Reproduce**
`vcpkg install `

**Failure logs**
[code]
<details><summary>/Users/leanderSchulten/git_projekte/Lichtsteuerung/vcpkg/buildtrees/libmesh/build-x64

[2022-01-17 19:00] diehard2 commented on #22553
Hi Phoebe, I'm in manifest mode and I attempted to alter the package directly. I'm using this in my cmake file to call vcpkg

set(CMAKE_TOOLCHAIN_FILE ${CMAKE_CURRENT_SOURCE_DIR}/vcpkg/scripts/buildsystems/vcpkg.cmake CACHE STRING "Vcpkg toolchain file")

I have a workaround using the redhat developer kits for gcc10/11, but not everyone is going to have root so I figured I would raise it here

[2022-01-17 19:07] Pentarctagon commented on #20367
Also as a side note, pango does build successfully on Windows and has for some time. So this is macOS-specific.

[2022-01-17 19:28] autoantwort opened #22597 "[ogre] Build error on x64-osx"
Package: ogre[assimp,core,freeimage,overlay,zziplib]:x64-osx -> 1.12.9#5
**Host Environment**
- Host: arm64-osx
- Compiler: AppleClang 13.0.0.13000029
-    vcpkg-tool version: 2999-12-31-unknownhash-debug
    vcpkg-scripts version: 4fff1e9cf 2022-01-17 (17 hours ago)

**To Reproduce**
`vcpkg install `

**Failure logs**
[code]
<details><summary>/Users/leanderSchulten/git_projekte/Lichtsteuerung/vcp

[2022-01-17 19:33] autoantwort opened #22599 "[libfreenect2] Build error on x64-osx"
Package: libfreenect2[core,opengl]:x64-osx -> 0.2.0#7
**Host Environment**
- Host: arm64-osx
- Compiler: AppleClang 13.0.0.13000029
-    vcpkg-tool version: 2999-12-31-unknownhash-debug
    vcpkg-scripts version: 4fff1e9cf 2022-01-17 (17 hours ago)

**To Reproduce**
`vcpkg install `

**Failure logs**
[code]
<details><summary>/Users/leanderSchulten/git_projekte/Lichtsteuerung/vcpkg/buildtrees/libfr

[2022-01-17 19:50] dg0yt commented on #22597
Possibly a literal `$(MAKE)` command, assuming `make` but now being build with `ninja` in ` `vcpkg_cmake_configure/build`.
cf. #22368

[2022-01-17 20:04] MarcelNehring commented on #22495
@Kojoley yes that is correct.

I have not tried it yet but you could probably install boost-log while setting `_WIN32_WINNT` to the desired value using `VCPKG_CXX_FLAGS` in a custom triplet and thus get a matching boost-log version that does not produce linker errors.

[2022-01-17 20:19] dg0yt commented on #22368
It is a vcpkg problem. It needs to support cmake (the configuration system) with make (the build tool) for ports that assume this combination. Maybe #22597 is just the same issue, but with a port that already is part of vcpkg. But in generally, ports avoid vendored dependencies, and for other part, you don't use `$(MAKE)` very often.

(My old superbuild uses cmake+`$(MAKE)` to parallelize everythi

[2022-01-17 20:21] Kojoley commented on #22495
Obviously vcpkg couldn't know which Windows version you want to target if you haven't tell that to it.
@PhoebeHui maybe a warning could be added when boost-log is installed telling that it will be built using a default `_WIN32_WINNT` value?

[2022-01-17 20:24] Neumann-A commented on #22368
Not really. Just means the buildsystem is not really cmake..... CMake build scripts should be agnostic to the generator otherwise using cmake is in itself absurd.

change to `${MAKE}` and do a `find_program` call ?

[2022-01-17 20:31] autoantwort opened #22601 "[pfring] Build error on x64-osx"
Package: pfring[core]:x64-osx -> 2019-10-17#3
**Host Environment**
- Host: arm64-osx
- Compiler: AppleClang 13.0.0.13000029
-    vcpkg-tool version: 2999-12-31-unknownhash-debug
    vcpkg-scripts version: 4fff1e9cf 2022-01-17 (18 hours ago)

**To Reproduce**
`vcpkg install `

**Failure logs**
[code]
<details><summary>/Users/leanderSchulten/git_projekte/Lichtsteuerung/vcpkg/buildtrees/pfring/build-

[2022-01-17 20:32] diehard2 commented on #22368
@Neumann-A  thanks, I'll try to do a patch that fixes those up. I suppose another alternative is calling cmake directly with the arguments for "Unix Makefiles"

[2022-01-17 20:51] yuanchen-zhu commented on #14498
I think this issue was closed by mistake. There are two issues here:

1. vcpkg freeimage does not declare WebP::libwebpmux as dependency and will cause linking issue when used. This issue doesn't seem to be fixed even in master.

2. vcpkg freeimage, when used together with OpenCV (and possibly other libraries), causes linking issues related to jxr.  This issue seems to have been fixed by the last

[2022-01-17 20:56] autoantwort opened #22602 "[sdformat9] Build error on x64-osx"
Package: sdformat9[core]:x64-osx -> 9.4.0#3
**Host Environment**
- Host: arm64-osx
- Compiler: AppleClang 13.0.0.13000029
-    vcpkg-tool version: 2999-12-31-unknownhash-debug
    vcpkg-scripts version: 4fff1e9cf 2022-01-17 (18 hours ago)

**To Reproduce**
`vcpkg install `

**Failure logs**
[code]
<details><summary>/Users/leanderSchulten/git_projekte/Lichtsteuerung/vcpkg/buildtrees/sdformat9/confi

[2022-01-17 21:02] autoantwort opened #22603 "[python3] Build failure [python3]:x64-osx on arm64-osx"
Package: python3[core]:x64-osx -> 3.10.1#4
**Host Environment**
- Host: arm64-osx
- Compiler: AppleClang 13.0.0.13000029
-    vcpkg-tool version: 2999-12-31-unknownhash-debug
    vcpkg-scripts version: 4fff1e9cf 2022-01-17 (19 hours ago)

**To Reproduce**
`vcpkg install `

**Failure logs**
[code]
<details><summary>/Users/leanderSchulten/git_projekte/Lichtsteuerung/vcpkg/buildtrees/python3/build-x6

[2022-01-17 22:48] snickler opened #22604 "vcpkg bootstrapper downloads x86 package on arm64"
**Describe the bug**
The `bootstrap-vcpkg.bat` script downloads the x86 vcpkg tool instead of the arm64 version of the tool when using an Arm64 version of Windows 10/11.

**Environment**
- OS: Windows 11 22533 Arm64
- Compiler: MSVC

**To Reproduce**
Steps to reproduce the behavior:
1. Call `bootstrap-vcpkg.bat`
2. Notice it downloads the default x64 vcpkg executable

`Downloading https://github.c

[2022-01-18 01:34] faysal247 opened #22606 "How do I ..."
Please create a discussion in https://github.com/microsoft/vcpkg/discussions/new instead.          I have wanted to build chat-bot for feature bot🍞 GIFT, and bot changes

[2022-01-18 01:40] forallsunday commented on #22581
The purpose to build lapack is to build ceres with suitesparse. I change the dependcy of lapack from lapack-referece to clapack, and I finally built the ceres[suitesparse] successfully.

[2022-01-18 02:03] applyinnovations commented on #22526
I believe I have a very similar issue with the latest vcpkg version (cloned 1 hour ago). I receive the following error during build:
[code]
I have attached my log files as well:
vcpkg\buildtrees\gtk\x86-windows-dbg\meson-logs
[meson-log.txt](https://github.com/microsoft/vcpkg/files/7885613/meson-log.txt)

vcpkg\buildtrees\gtk
[package-x86-windows-dbg-err.log](https://github.com/microsoft/vcpkg/fil

[2022-01-18 02:23] #22541 closed

[2022-01-18 02:50] Tarrowren commented on #332
https://github.com/microsoft/vcpkg/pull/18613#issuecomment-883230385

[code]
-- from https://bitbucket.org/chromiumembedded/cef/wiki/MasterBuildQuickStart.md

**Approximately 4 hours**!!!
Geez, I'd rather manage it manually.
@JackBoosY , Could you consider giving developers the option to use prebuilt binaries?

[2022-01-18 02:58] lunkyguy commented on #22541
I know the issue,I should read the errorlog and sudo apt-get install * what I need

[2022-01-18 03:25] JackBoosY commented on #22606
In fact, this should be handled by github itself.

[2022-01-18 03:35] JackBoosY commented on #11601
@yoavmil  Also please provide the failure logs?

[2022-01-18 03:36] JackBoosY commented on #22533
Please feel free to fix this in https://github.com/microsoft/vcpkg-tool.

Thanks.

[2022-01-18 03:38] JackBoosY commented on #22582
[code]
Please clone vcpkg instead of downloading vcpkg as a zip package.
vcplg needs the git records to implement the versioning feature.

[2022-01-18 03:41] LilyWangLL commented on #22581
This issue should be fixed by #21479.

[2022-01-18 03:43] JackBoosY commented on #14498
@yuanchen-zhu I will take a look.

[2022-01-18 03:48] JackBoosY commented on #332
@Tarrowren Maybe in the future, but now we only accept build with source.

[2022-01-18 04:56] dg0yt commented on #22368
This is overstretched. cmake doesn't only specific rules from generic rules. It also deals with configuration prior to deciding which generic rules to feed into the generation.

CMake does allow to choose different systems. vpckg limits this choice in two ways:
 - It always sets a generator.
 - It doesn't allow some common generators such as "Unix Makefiles".

There is no reason for these limitati

[2022-01-18 05:08] JackBoosY commented on #22594
This issue was fixed, please git pull vcpkg and try again.

Thanks.

[2022-01-18 05:57] JackBoosY commented on #22585
We recommand you to use `git pull` and rerun bootstrap script to update vcpkg, but it can be considered.

[2022-01-18 06:13] JackBoosY commented on #22597
PLATFORM_NAME and CONFIGURATION are not parsed.

[2022-01-18 06:53] dg0yt commented on #21905
Can we perhaps skip vcpkg-ci-opencv:x64-windows via CI baseline until the artifact upload is fixed?

[2022-01-18 07:46] PhoebeHui commented on #17312
@BaptRo, thanks for the information, currently vcpkg applies patch https://github.com/microsoft/vcpkg/blob/master/ports/boost-multiprecision/0001-Fix-selection-logic-in-intel_intrinsics.hpp.patch to fix the problem. Could you get latest source and try again?

[2022-01-18 07:54] BaptRo commented on #17312
After some [discussion](https://github.com/boostorg/multiprecision/issues/410) , it appears that this issue is fix on `develop` and should be released with `1.79` in the coming months.
Thank you for the patch link 👍

[2022-01-18 07:58] JackBoosY commented on #22545
cc @jwillemsen, do you have any ideas?

[2022-01-18 08:00] yoavmil commented on #11601
@JackBoosY, no failure logs. Just that the visualation header and dll doesn't exist.

[2022-01-18 08:08] JackBoosY commented on #22552
Is port `arrow[parquet]` instead of `Parquet [Arrow]`?

[2022-01-18 08:10] PhoebeHui commented on #22580
@acse-mp3014, could you try below workaround?

1. Download https://www.openssl.org/source/openssl-1.1.1m.tar.gz manually.
2. Rename it to openssl-1.1.1m.tar.gz and put it to vcpkg\downloads folder
3. ./vcpkg install openssl:x64-windows

[2022-01-18 08:17] JackBoosY commented on #22552
Confirmed, this issue exists in the latest master branch with the following code:
[code]
[code]

[2022-01-18 08:19] JackBoosY commented on #22552
cc @ianmcook @philjdf @@isaacbrodsky

[2022-01-18 08:38] dg0yt commented on #22368
No. It is not about *cmake* variables.

Here, it is intentionally using literal `$(MAKE)`, a *make* variable. `$(MAKE)` passes makeflags, in particular parallelism, to sub-makes. This ties the cmake build system to the "Unix Makefiles" generator.

What @Neumann-A proposes is to patch the package to call `make` directly instead of relying on `$(MAKE)` variable. This will work to some extent (no par

[2022-01-18 08:38] JackBoosY commented on #12334
Now in non-ARM Linux, vcpkg will download binary directly, can you please check whether this issue still exist?

[2022-01-18 08:39] JackBoosY commented on #17582
Ping for response.

[2022-01-18 08:52] dg0yt commented on #17582
FTR this cannot work. pthreads comes with a wrapper which is misimplemented as a Find module for the Pthreads4W prefix. It cannot properly interact with the `find_package` interface variables.

(I picked pthreads and libwebsockets into my vcpkg-cmake-validate test set. But this is work in progress. The pthreads wrapper is spread over three package names (but lacks `PThreads4W`!) and needs consolid

[2022-01-18 08:55] JackBoosY commented on #22045
Okay, I think we should wait for #21479 merge, then handle this issue if it still exist.

[2022-01-18 08:59] Eric-JH commented on #22582
Yeah. I cloned vcpkg and the problem was solved. And I still have a question about the builtin-baseline. I read the docs and didn't figure out the meaning. In my point of view, the builtin-baseline is the commited id. But I don't know how to set the proper builtin-baseline. For example, if I want to include the fmt with version >= 7.1.0, what's the builtin-baseline? Is that the commit id of fmt wi

[2022-01-18 09:04] JackBoosY commented on #11601
@yoavmil  Please git pull vcpkg, remove pcl and install pcl with feature `visualization`.
I can confirm the headers and dlls are exist.

[2022-01-18 09:09] JackBoosY commented on #22582
The content corresponding to the commit id of `builtin-baseline` must be greater than or equal to the version number you need.

[2022-01-18 09:17] evgc01 opened #22613 "[arrow] Build error"
**Host Environment**
- OS: Windows 10 Home (64 bits) Version 21H1 compilation 19043.1466
- Compiler: Microsoft Visual C++ 2022   00482-90000-00000-AA257

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install arrow`

**Additional context**

package: arrow[core,csv,filesystem,json,parquet]:x64-windows -> 6.0.1#1
    vcpkg-tool version: 2021-12-09-724cea8b33cbf06c645f5095fa29773697da9761

[2022-01-18 09:49] williamxin opened #22614 "[<libmariadb>] build failure please don't change the link lib name"
in vcpkg's old version, libmariadb works perfectly on windows,mac and linux, we can link libmariadb like this:
`find_package(unofficial-libmariadb CONFIG REQUIRED)
    target_link_libraries(main PRIVATE libmariadb mariadbclient)`

but now in the latest version, we have to do it on linux,mac like this:
`find_package(unofficial-libmariadb CONFIG REQUIRED)
    target_link_libraries(main PRIVATE unoff

[2022-01-18 11:50] williamxin commented on #22614
but why the windows version keep unchanged?

`PS C:\secure\Scoop\apps\windows-terminal\current> vcpkg install libmariadb
Computing installation plan...
The following packages are already installed:
    libmariadb[core,openssl,zlib]:x64-windows -> 3.1.12#2
Package libmariadb:x64-windows is already installed
Restored 0 packages from C:\Users\xinyong\AppData\Local\vcpkg\archives in 134 us. Use --debu

[2022-01-18 12:17] dg0yt commented on #22614
This is the old version, not the rectified version (3.1.15).

[2022-01-18 12:53] forallsunday opened #22616 "Error: Building package zlib:x86-windows failed with: BUILD_FAILED"
**Host Environment**
- OS:  windows 10
- Compiler:  vs2015

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install zlib:x64-windows`

**Failure logs**
-Cut and paste the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.
[code]

**Additional context**

[2022-01-18 13:08] yoavmil commented on #11601
Yep, my fault. needed to
`vcpkg install pcl[visualization]:x64-windows`
Wasn't aware of the options.

[2022-01-18 16:26] sfhacker commented on #22616
Are we **STILL** having issues with zlib?

[2022-01-18 16:41] sfhacker commented on #14498
This issue is over a year old and still impacting users!
Seems really hard to troubleshoot and fix.

How can we reproduce this issue locally?

Cheers.

[2022-01-18 16:53] pierrebizz commented on #22545
I entered it in https://github.com/DOCGroup/ACE_TAO/issues/1767 instead

[2022-01-18 16:53] #22545 closed

[2022-01-18 17:39] diehard2 commented on #22368
I agree with @dg0yt that if CMake has an option/generator that allows this to be used, vcpkg should let me use it. It would also make this much easier on me :D

[2022-01-18 19:21] CuriousUser commented on #22482
I have the same issue, help is needed, thank you.

[2022-01-18 20:15] #22381 closed

[2022-01-18 20:28] #22204 closed

[2022-01-18 20:32] #22380 closed

[2022-01-18 21:07] #22576 closed

[2022-01-18 21:07] #15594 closed

[2022-01-18 21:26] #22574 closed

[2022-01-18 23:45] #22564 closed

[2022-01-19 01:45] chris-shenzhen-china opened #22622 "could you please disable debug option of the package librdkafka[ENABLE_REFCNT_DEBUG]"
OS: linux
Issue:  so many debug info below.
could you please disable build option: ENABLE_REFCNT_DEBUG

REFCNT DEBUG: &(rkbuf->rkbuf_rkb)->rkb_refcnt 10 -1: 0x7ffff00114d8: rd_kafka_buf_destroy_final:73
REFCNT DEBUG: &(response)->rkbuf_refcnt 1 -1: 0x7fffd0001158: rd_kafka_buf_callback:497
REFCNT DEBUG: &(rkbuf->rkbuf_rkb)->rkb_refcnt 9 -1: 0x7ffff00114d8: rd_kafka_buf_destroy_final:73
REFCNT DEBU

[2022-01-19 01:59] autoantwort commented on #22616
I don't see an error in your logs

[2022-01-19 02:23] JackBoosY commented on #22613
Please git pull vcpkg, remove  and re-install snappy then try again.

Thanks.

[2022-01-19 02:24] JackBoosY commented on #22616
Please provide the output in your console or pwsh.

[2022-01-19 02:53] williamxin commented on #22614
ok, I see, thank you

I have another question, can you release a offline version? Many developers are in intranet, they cannot access internet, so it's very difficult to use vcpkg.

also, more developers in china cannot access github freely, we have to use proxy, but the proxy is not stable,  we often use decades of minutes to update vcpkg, can you solve this problem?

thank you!

[2022-01-19 03:03] JackBoosY commented on #22614
@williamxin We are recommand you to use the assetcaching feature, see https://github.com/microsoft/vcpkg/blob/master/docs/users/assetcaching.md

[2022-01-19 03:18] aggieNick02 commented on #12289
@hajokirchhoff Are you using per-project or sitewide vcpkg integration? Knowing that would be helpful.

It's been a few months since I dealt with most of this in my linked issue - https://github.com/microsoft/vcpkg/issues/20690 . But the gist of what I learned is that basically the issue you are commenting on should probably be closed.

What you are trying to do is (as far as I know/understand, I'

[2022-01-19 04:27] yuanchen-zhu opened #22623 "[azure-kinect-sensor-sdk] supports field should be "linux | windows""
The commit 66dc12b3fa1863bf60afe75f2cfdd41298e52ee5 changed the support field in vcpkg.json from "!oxs" to "linux & windows", but it won't work on any system since the correct field should be "linux | windows".

[2022-01-19 05:02] yuanchen-zhu commented on #14498
@sfhacker To reproduce it, use https://github.com/microsoft/vcpkg/issues/14498#issuecomment-727915447 and build under linux.

[2022-01-19 06:05] JonLiu1993 commented on #16097
@krisweiss, Is this problem solved? I can't reproduce this problem locally with the latest vcpkg version
[code]

[2022-01-19 06:52] lunkyguy opened #22625 "There is something wrong in my program while using vlfeat"
the error is locate in generic.c:1312
void *
vl_malloc (size_t n)
{
  return (vl_get_state()->malloc_func)(n) ;
  //return (memalign)(32,n) ;
}
interrupted by signal 11: SIGSEGV
it runs well in win10,however occur in ubuntu20.04lts

[2022-01-19 07:21] williamxin commented on #22614
@JackBoosY I have read your post on zhihu about vcpkg mirror, and I have solved my problem, thank you very much!

Now the download speed is VERY VERY VERY VERY fast!

vcpkg is great!

but still I have one more issue:

`vcpkg install jemalloc                            ✔  10053  15:14:30
Computing installation plan...
The following packages will be built and installed:
    jemalloc[core]:x64-lin

[2022-01-19 07:22] dg0yt commented on #22368
@diehard2 You may try the changes from #22626. Note that I updated the `vcpkg_cmake` port, not the legacy maintainer functions.

[2022-01-19 07:24] dg0yt commented on #22614
@williamxin This is no longer related to the original issue. Please create separate issues or discussions.

[2022-01-19 07:26] LilyWangLL commented on #22625
Thanks for posting this issue. Could you please provide a sample repro project?

[2022-01-19 07:27] williamxin opened #22627 "[<jemalloc>] build failure jemalloc cannot be installed on ubuntu"
**Host Environment**
- OS: Ubuntu20
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install jemalloc`

**Failure logs**
`vcpkg install jemalloc                            ✔  10053  15:14:30
Computing installation plan...
The following packages will be built and installed:
    jemalloc[core]:x64-linux -> 4.3.1#5
Detecting compiler hash for triplet x64-linux...
Re

[2022-01-19 07:42] williamxin opened #22628 "Display message shows it's downloading from github not from mirror when i am using vcpkg mirror"
****

**Is your feature request related to a problem? Please describe.**
I am using vcpkg mirror http://106.15.181.5/, when I install ports, it still displays downloading from github, not from your mirror

`Computing installation plan...
The following packages will be built and installed:
    protobuf[core]:x64-linux -> 3.18.0#1
Detecting compiler hash for triplet x64-linux...
Restored 0 packages

[2022-01-19 08:56] #22614 closed

[2022-01-19 09:07] JackBoosY commented on #22627
Please provide the following logs first:
/home/xinyong/github/vcpkg/buildtrees/jemalloc/config-x64-linux-dbg-out.log
/home/xinyong/github/vcpkg/buildtrees/jemalloc/config-x64-linux-dbg-err.log

Thanks.

[2022-01-19 09:20] JackBoosY commented on #22628
My mirror may not update the port in time, please file an issue at [gitee](https://gitee.com/jackboosy/vcpkg/issues) instead of here.

Thanks.

[2022-01-19 09:20] #22628 closed

[2022-01-19 09:36] CuriousUser opened #22632 "Build failure: qtbase:x64-windows"
**Host Environment**
- OS: Windows 10
- Compiler: MSVC

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg install qtbase`

**Failure logs**

[code]

**Additional context**
I tried the following commands:

As suggested in the error report:
-> "git pull" and ".\vcpkg update"

As suggested in #22584:
.\vcpkg install qtbase[core,gui,doubleconversion]:x64-windows-static
.\vcpkg install qtbase[

[2022-01-19 10:00] williamxin commented on #22628
ok

[2022-01-19 10:02] Neumann-A commented on #22632
Please provide:    `F:\Software\DEV\vcpkg\buildtrees\qtbase\install-x64-windows-rel-out.log`

It is a bit suspicious that only the release build fails.

[2022-01-19 10:03] williamxin commented on #22627
config-x64-linux-dbg-out.log

`-- The C compiler identification is GNU 9.3.0
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Check for working C compiler: /usr/bin/cc - skipped
-- Detecting C compile features
-- Detecting C compile features - done
-- CMAKE_C_COMPILER_ID: GNU
-- Configuring incomplete, errors occurred!
See also "/home/xinyong/github/vcpkg/buildtrees/jema

[2022-01-19 10:08] CuriousUser commented on #22632
[install-x64-windows-rel-out.log](https://github.com/microsoft/vcpkg/files/7896084/install-x64-windows-rel-out.log)

[2022-01-19 10:21] Neumann-A commented on #22632
`C:\Program Files (x86)\Windows Kits\10\include\10.0.17763.0\winrt\wrl\module.h(1427): error C2039: 'CheckForDuplicateEntries': is not a member of 'Microsoft::WRL::Details'`

[2022-01-19 10:22] hajokirchhoff commented on #12289
I am using the "manifests" feature with per-project integration. Sorry,
I confused "versions" with "manifests" and "classic vs. versioning"
should actually be "classic vs. manifest" mode.

I set these environment variables:

VCPKG_DEFAULT_BINARY_CACHE=C:\nobackup\vcpkg_binary_cache
VCPKG_DEFAULT_TRIPLET=x64-windows
VCPKG_FEATURE_FLAGS=manifests,binarycaching

and ran "vcpkg integrate install", but

[2022-01-19 10:24] Neumann-A commented on #22632
https://help.appveyor.com/discussions/problems/26088-checkforduplicateentries-is-not-a-member-of-microsoftwrldetails

Probably an issue with the Windows SDK. Not related with the port itself, so not my issues ;P

[2022-01-19 10:28] CuriousUser commented on #22632
And what is this Windows SDK?

[2022-01-19 10:40] PhoebeHui commented on #22623
@yuanchen-zhu, thanks for reporting this issue!

[2022-01-19 11:29] Neumann-A commented on #22632
Search engine (e.g. google)?
https://en.wikipedia.org/wiki/Microsoft_Windows_SDK

`C:\Program Files (x86)\Windows Kits\10\include\10.0.17763.0\` <- That is the Windows SDK installation .
It gets installed alongside Visual Studio unless you manually untick it. Remove that version and replace it with something newer (at least 10.0.18362.0 as indicated by the linked discussion in https://github.com/m

[2022-01-19 11:59] Cheney-W commented on #22431
Thanks for your reply!
Could you please send me the screenshot from your VS installer about the components and languages installed in VS2022 Community?

[2022-01-19 12:25] CuriousUser commented on #22632
Thank you, I'll try it and report back with the results

[2022-01-19 13:27] JackBoosY commented on #22627
I think your manually installed cmake version is too low, please update or remove it then try again.

[2022-01-19 13:38] JackBoosY commented on #14498
Reproducing...

[2022-01-19 13:38] Type1J commented on #332
It's worth noting that once it's built, it's built, and you only habe to rebuild it to make a newer version, which won't be often.

[2022-01-19 13:40] JackBoosY commented on #14498
Confirmed:
[code]

[2022-01-19 14:18] JackBoosY commented on #332
Compiling from source code can also ensure binary safety and correctness.

[2022-01-19 14:23] sfhacker commented on #22431
You can easily find out your VS instances by running a command line script:

![image](https://user-images.githubusercontent.com/25817529/150149231-b20934e1-b266-41d5-b90b-bd31fe286e73.png)

![image](https://user-images.githubusercontent.com/25817529/150149287-b1191451-285f-4bca-9b40-31f39be1effe.png)

[2022-01-19 14:28] JackBoosY commented on #22526
[code]
That's weird.
Can you please provide your current vcpkg version and the install output?

[2022-01-19 14:29] CuriousUser commented on #22632
The installation now has completed without any errors, now all is left is to verify the code that I wrote if it works properly.
Thank you so much for your help!

`Computing installation plan...
The following packages will be built and installed:
  * qtbase[brotli,concurrent,core,dbus,default-features,doubleconversion,freetype,gui,harfbuzz,icu,jpeg,network,openssl,pcre2,png,sql,sql-psql,sql-sqlite,

[2022-01-19 14:36] JackBoosY commented on #22632
We will discover whether this issue is about Windows SDK.

[2022-01-19 14:45] serg06 commented on #332
@Type1J If you Right Click -> Rebuild your project, won't that also completely rebuild CEF? I rebuild my project a lot so I am worried.

[2022-01-19 15:09] CuriousUser commented on #22632
I guess it is because Windows SDK was the only variable, still, further investigation is always good. Thank you again.

[2022-01-19 15:12] JackBoosY commented on #332
vcpkg will use the binary cache if your build environment and this port doesn't change in your computer. You will only need build ONCE.

[2022-01-19 15:20] Neumann-A commented on #22632
@JackBoosY  It is an SDK issues. It has been fixed in a newer version. It is not a vcpkg issue. Case closed, nothing to see here from a vcpkg perspective. General advice: Don't use old WinSDKs since you can select the WinAPI by a macro independent of the SDK version. (https://docs.microsoft.com/en-us/cpp/porting/modifying-winver-and-win32-winnt?view=msvc-170)

[2022-01-19 15:27] #22632 closed

[2022-01-19 16:44] ZMathias commented on #22431
![image](https://user-images.githubusercontent.com/78689074/150175414-7c3c017d-2833-454e-bed3-a312bb8613fa.png)

And for sfhackers' response, I searched system wide with "Everything" and couldn't find a single executable named "pkg-mgr.exe". Should this be included with a VS install? Or should this be something standalone?

[2022-01-19 17:09] #22496 closed

[2022-01-19 17:18] diehard2 commented on #22368
thanks @dg0yt. I'll try it this afternoon

[2022-01-19 18:08] strega-nil-ms commented on #12289
@hajokirchhoff when using `builtin-baseline`, we do:
1. get the baseline version from `versions/baseline.json`
2. get the port files from the git tree specified for the baseline version, in `versions/p-/port.json` (with `p-` and `port` replaced by the first letter of and the name of the port specifically)

The best way to solve this problem in the future is using overlays; add an `overlay-ports` d

[2022-01-19 20:54] diehard2 commented on #22368
@dg0yt sorry, I'm still new to vcpkg. I'm on your branch and can see the changes, but I'm not seeing how to hit the new functionality. This is my portfile.cmake (I'm not using the git functions because they don't work with submodules). I'm assuming I'm missing something easy.

find_program(GIT git)
set(GIT_URL "******")
set(GIT_REV "2a8e132e85a527603a3d6d4503ded117d5066eaf")
message(STATUS "port:

[2022-01-19 21:18] sfhacker commented on #22431
zlib is such a tiny and simple project. It takes one minute to be built from source!
There are DOZENS of reported issues about zlib. It is indeed embarrassing!

Perhaps there is a confusion between x86 & x64?
(C:\Program Files\Microsoft Visual Studio\2022\Community\VC\Tools/MSVC\14.30.30705\bin/HostX86/x86\dumpbin.exe)

There is no need for English language pack to build and install zlib!
 I'll as

[2022-01-19 21:22] ughstudios opened #22640 "[libxmlpp] Build error"
**Host Environment**
- OS: [e.g. Windows/Linux etc...]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install xxxx`

**Failure logs**
-Cut and paste the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

**Additional context**
Add any other context about the problem here, such as what yo

[2022-01-19 21:48] #22582 closed

[2022-01-19 22:15] Eric-JH opened #22641 "include ITK"
**Describe the bug**
I used vcpkg to manage the inclusion. In the CMakeLists.txt of my project, I included ITK. But the error occured. The content of CMakeLists is same as the example given by ITK docs.

**Environment**
- OS: Windows 10
- Compiler: msvc 2022

**Failure logs**
The log was given by MSVC
CMake Error at F:/Github/vcpkg/scripts/buildsystems/vcpkg.cmake:540 (_add_executable): Target "Te

[2022-01-19 23:58] sfhacker commented on #22431
My infrastructure team tell me the use this command line to install zlib on their CI environment.

 `pkg-mgr.exe --msvc-version=2022 install zlib`

![image](https://user-images.githubusercontent.com/25817529/150237229-46e4feda-195a-45b6-9a05-560617431eaf.png)

Can you have a go at it? You may need to update **_pkg-mgr_** tool.

I'll try to sort out this issue and report back.

[2022-01-20 01:50] lunkyguy commented on #22625
should I send my project via this email or post it on github?

At 2022-01-19 15:27:08, "LilyWangLL" ***@***.***> wrote:

Thanks for posting this issue. Could you please provide a sample repro project?

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Android.
You are receiving this because you authored the thread.Messag

[2022-01-20 02:56] lunkyguy commented on #22625
I put my code on this
[git@github.com:lunkyguy/vlfeat.git](url)

[2022-01-20 03:10] LilyWangLL commented on #22625
This link should be private, I can't access. If you can't provide repro codes, could you please provide the detail repro steps?

[2022-01-20 03:13] LilyWangLL commented on #20367
Sorry I have no idea why still failed. Could you provide your environment information and error log to upstream: https://gitlab.gnome.org/GNOME/pango/-/issues/657, you can comment there, maybe the manager of pango have more idea about this.

[2022-01-20 03:17] LilyWangLL commented on #22549
I will repro this issue locally and confirm it soon.

[2022-01-20 03:36] Calvin-LLC opened #22644 "[zlib] Restclient Build error"
**Host Environment**
- OS: [e.g. Windows/Linux etc...]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install restclient-cpp`

**Failure logs**
The following packages will be built and installed:
  * curl[core,non-http,schannel,ssl,sspi]:x86-windows -> 7.81.0
    restclient-cpp[core]:x86-windows -> 0.5.2#1
  * zlib[core]:x86-windows -> 1.2.11#13
Additional package

[2022-01-20 03:54] lunkyguy commented on #22625
This is my cmake project

从 Windows 版邮件发送

发件人: LilyWangLL
发送时间: 2022年1月20日 11:11
收件人: microsoft/vcpkg
抄送: zhouzl; Author
主题: Re: [microsoft/vcpkg] There is something wrong in my program whileusing vlfeat (Issue #22625)

I put my sample code on this https://github.com/lunkyguy/vlfeat
This link should be private, I can't access. If you can't provide repro codes, could you please provide the detail

[2022-01-20 04:28] JackBoosY commented on #22644
[code]
Please ensure you've installed the Windows SDK first.

[2022-01-20 05:02] dg0yt commented on #22368
The changes are not in the legacy function `vcpkg_configure_cmake`.
You need to install port `vcpkg-cmake` for your host triplet (in manifests, add a host dependency).
And then call the function prefixed with `vcpkg_cmake`, i.e. `vcpkg_cmake_configure` etc.

[2022-01-20 07:08] LilyWangLL commented on #22625
I will reproduce and confirm this issue soon.

[2022-01-20 07:09] chris-shenzhen-china opened #22646 "[New Port Request] <webrtc>"
Library name: webrtc

Library description: Build Custom Video Experiences

Source repository URL:   https://webrtc.googlesource.com/src/

Project homepage (if different from the source repository):  https://webrtc.org/?hl=en

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2022-01-20 07:35] BillyONeal commented on #22495
I don't think we need a specific-to-vcpkg answer here. Triplets already let you set `_WIN32_WINNT`.

[2022-01-20 07:35] Cheney-W commented on #22431
@ZMathias Thanks for your reply! I can confirm that you do have all VS related components installed.
To solve this problem, I want to confirm with you, after you execute `bootstrap-vcpkg.bat`, is vcpkg.exe generated by build or downloaded directly?

[2022-01-20 07:39] faysal247 commented on #22431
The bug packages

[2022-01-20 09:02] jwillemsen commented on #21525
See https://github.com/DOCGroup/ACE_TAO/releases/tag/ACE%2BTAO-7_0_6 for a new upstream release with several fixes related to this issue

[2022-01-20 09:16] lunkyguy commented on #22625
thank you very much!

[2022-01-20 10:16] hajokirchhoff commented on #12289
Yep, did that.

Question: what git repository do these files come from? "git-tree" for boost-serialization specifies an SHA-1 that is not part of the vcpkg git repository.

I am using MSBuild. Any idea how to do this with MSBuild?

Hm, I just found this: After modifiying the port files you have to run this command

vcpkg x-add-version

(https://vcpkg.io/en/docs/users/versioning.html#updating-the-v

[2022-01-20 11:00] williamxin commented on #22627
on my centos7
`cmake version 3.21.0-rc2

CMake suite maintained and supported by Kitware (kitware.com/cmake).`

on my ubuntu20
`cmake version 3.16.3

CMake suite maintained and supported by Kitware (kitware.com/cmake).`

I think the version is quite high

[2022-01-20 11:08] williamxin commented on #22627
on my mac, the cmake version is 3.22
jemalloc can not be installed either

`cmake version 3.22.1

CMake suite maintained and supported by Kitware (kitware.com/cmake).`

`Will@MacBook-Pro  ~/.vcpkg   master  vcpkg install jemalloc
Computing installation plan...
The following packages will be built and installed:
    jemalloc[core]:x64-osx -> 4.3.1#5
Detecting compiler hash for triplet x64-osx..

[2022-01-20 11:19] Deputation opened #22649 "Can't install vcpkg on new windows installations"
**Describe the bug**
VCPKG fails to run the 'vcpkg.exe integrate install' command on new windows installations.

This is what vcpkg outputs:
[code]

**Environment**
- OS: Windows 21h2 Pro N for Workstations (happened on multiple machines with fresh installs of VS2022 + Windows 21h2)

**To Reproduce**
Steps to reproduce the behavior:
1. Clone vcpkg as you normally would with the git clone command
2

[2022-01-20 11:36] dg0yt commented on #22627
Pointless.
When port jemalloc is build by vcpkg, vcpkg normally takes its own copy of CMake. It does so in daily CI, and fails:
https://dev.azure.com/vcpkg/public/_build/results?buildId=66017&view=logs&j=f79cfdd7-47a8-597f-8f57-dc3e21a8f2ad&t=da63cf11-1f12-503b-6d64-3b2fb713c172

In PR CI it is skipped:
[code]

[2022-01-20 12:23] PhoebeHui commented on #22010
If you wish to add this port in the future, you can reopen this issue and continue the PR, but we're closing it for now, consider making a pull request instead.

[2022-01-20 12:23] #22010 closed

[2022-01-20 12:33] LilyWangLL commented on #22640
Thanks for posting this issue. There are message in your error log:
[code]
This error should be C++ component missing in Visual Studio, you can check with the following picture.
![image](https://user-images.githubusercontent.com/94091114/150339233-bc8b25c2-e3a1-4be3-9675-ecf52ed7e178.png)

[2022-01-20 13:29] sfhacker commented on #22627
Some people and/or organisations publish releases without testing! That goes against best practices.

Avoid jemalloc cmake version. It is completely broken and it is old.

We do not use Linux or Mac but on Windows it works fine.

Just built jemalloc 5.2.1 from source. No issues at all.

![image](https://user-images.githubusercontent.com/25817529/150347910-5d891047-152a-4821-b23c-612af32eaf79.png)

[2022-01-20 13:30] Cheney-W commented on #22641
If you use the itk from vcpkg, please ensure that your project contains the following:
CMakeSettings.json:
[code]
CMakeLists.txt:
[code]

[2022-01-20 14:04] autoantwort commented on #22649
See https://github.com/microsoft/vcpkg/issues/22413#issuecomment-1008775631 for a workaround

[2022-01-20 14:44] Be-ing opened #22653 "[vamp-sdk] pkgconfig files not installed"
The vamp-sdk port uses its own CMake build system. There are pkgconfig files in the vamp-sdk sources but the CMakeLists.txt in the port does not configure or install these.

[2022-01-20 15:04] krisweiss commented on #16097
I'm terribly sorry for the late response.
I cannot reproduce the issue anymore with the latest vcpkg build so I'll close this issue.

Thank you for keeping track of the issue.

[2022-01-20 15:04] #16097 closed

[2022-01-20 16:19] Eric-JH commented on #22641
I'm sure of my cmake-toolchain is right. And the main problem is why i can't use the example in [ITK docs](https://itk.org/ItkSoftwareGuide.pdf). I proposed the issue in [ITK issues](https://github.com/InsightSoftwareConsortium/ITK/issues/3111). And they thought the error was caused by vcpkg.
I understand the usage of `target_link_libraries(TestDll PRIVATE ITKFFT ITKVTK ITKznz itksys)`. But I want

[2022-01-20 17:16] autoantwort opened #22654 "[ncurses] Build error on x64-osx"
Package: ncurses[core]:x64-osx -> 6.3
**Host Environment**
- Host: arm64-osx
- Compiler: AppleClang 13.0.0.13000029
-    vcpkg-tool version: 2999-12-31-unknownhash-debug
    vcpkg-scripts version: 4fff1e9cf 2022-01-17 (4 days ago)

**To Reproduce**
`vcpkg install `

**Failure logs**
[code]
<details><summary>/Users/leanderSchulten/git_projekte/Lichtsteuerung/vcpkg/buildtrees/ncurses/config-x64-osx-

[2022-01-20 18:19] olejniczak opened #22656 "[zlib] build failure, Failed to download file"
vcpkg is trying to download a file:

**mingw-w64-i686-pkg-config-0.29.2-1-any.pkg.tar.xz**

that does not exist on any mirror server.

There are:

_mingw-w64-i686-pkg-config-0.29.2-2-any.pkg.tar.zst 01-Oct-2020 11:12              281245
mingw-w64-i686-pkg-config-0.29.2-2-any.pkg.tar...> 01-Oct-2020 11:15                 438
mingw-w64-i686-pkg-config-0.29.2-3-any.pkg.tar.zst 29-Nov-2020 10:15

[2022-01-20 18:27] strega-nil-ms commented on #19087
On Unix, at least, we can pretty easily use `read_symlink` and manually retarget.

[2022-01-20 18:32] dg0yt commented on #20190
This is a friendly reminder. Actually I'm increasingly unhappy with how this vcpkg feature promotes bad practice.

[2022-01-20 19:25] strega-nil-ms opened #22658 "[osx] CMAKE_OSX_ARCHITECTURES is never set"
suddenly, building on x64-osx for arm64-osx failing to build the correct thing makes a lot of sense.

probably related to #16637

[2022-01-20 19:44] Pentarctagon commented on #20367
Is there a way to have vcpkg add in a build flag?  The `-H` option can be used to list out what is getting included when building a file.

[2022-01-20 19:47] autoantwort commented on #20367
You can set [VCPKG_CXX_FLAGS](https://github.com/microsoft/vcpkg/blob/master/docs/users/triplets.md#vcpkg_cxx_flags) in your tripelt

[2022-01-20 19:50] ZMathias commented on #22431
![image](https://user-images.githubusercontent.com/78689074/150411720-81b5b1f4-0a9d-4ec8-8716-28ad18452657.png)
I have the exact same output as you do.

[2022-01-20 19:53] ZMathias commented on #22431
![image](https://user-images.githubusercontent.com/78689074/150412040-16d4811a-8857-4856-9c5d-34b55b678374.png)

Well, I unplugged my ethernet cable while running the bootstrap. It seems it downloads the vcpkg.exe from the github repo.

[2022-01-20 20:25] SamuelMarks opened #22660 "[rhash] fails to be found with `find_package` or explicit `find_library`"
Library name: rhash

New version number: 9d2f4a59b30a8b0730096ad3b63eff859437d6db

Other information that may be useful (release notes, etc...)

Tried this and all the name variations in `find_package`:
[code]

Do I need to `include` this https://gitlab.kitware.com/traversaro/cmake/-/blob/add_cmake_install_cmakebasedir/Source/Modules/FindLibRHash.cmake?

[2022-01-20 20:39] kafeg commented on #16922
Confirm `VCPKG_QT_TARGET_MKSPEC` and `VCPKG_QT_HOST_TOOLS_ROOT` doesn't help. I help correct toolchain+rootfs for RasPi1 / RasPi3 and can build other vcpkg ports but when i trying to build qt5-base it alwayes tries to build for x86_64 and ignores mkspec like `linux-aarch64-g++` or similar. Just always configures qt for linux-g++`.

[2022-01-20 21:01] Pentarctagon commented on #20367
Based on the output from that, the issue is that on the Github Actions CI, it's instead using `/Library/Frameworks/Mono.framework/Headers/fontconfig/fontconfig.h` rather than the fontconfig vcpkg installed, which has the version defines set to:
[code]

[2022-01-20 21:49] #22154 closed

[2022-01-20 22:14] #21736 closed

[2022-01-20 22:25] diehard2 commented on #22368
Its getting closer. Currently cmake is telling me that I have an argument that is unused in the CMakeLists.txt, but it definitely is used and if I call cmake directly I don't et the warning, and everything builds without issue. The bigger issue is

gmake: *** No rule to make target 'install'.  Stop.

from

 Command failed: /usr/local/bin/cmake --build . --config Debug --target install -- VERBOSE=1

[2022-01-20 23:40] #14498 closed

[2022-01-20 23:53] #22623 closed

[2022-01-20 23:59] #22407 closed

[2022-01-21 00:02] faysal247 opened #22663 "How do I ... am bug am bot"
Please create a discussion in https://github.com/microsoft/vcpkg/discussions/new instead.

[2022-01-21 00:06] faysal247 opened #22666 "Bot"
### Discussed in https://github.com/microsoft/vcpkg/botbug/22665

<div type='discussions-op-text'>

<sup>Originally posted by **faysal247** January 21, 2022</sup>
Bot run in docs files storege </div>

[2022-01-21 00:12] diehard2 commented on #22368
okay, figured out to add vcpkg_cmake_build(). Not sure what's going on with not being able to find that argument yet

[2022-01-21 00:25] aggieNick02 commented on #12289
@hajokirchhoff  - my apologies, I wrote up a nice long explanation of what is going on yesterday. Either I didn't hit "Comment" or something went wrong when I did... sigh. I'll try to reconstruct the most important bits. Please excuse any typos/poor formatting.

The reason you are seeing different behavior between classsic vs manifest mode is that classic vcpkg mode (non-manifest) does not support

[2022-01-21 00:26] shanepowell opened #22667 "[otl] build failure due to download hash change"
**Host Environment**
- OS: Windows
- Compiler: vs2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install otl:x86-windows otl:x64-windows`

.\vcpkg.exe install otl:x86-windows otl:x64-windows
Computing installation plan...
The following packages will be built and installed:
    otl[core]:x64-windows -> 4.0.463
    otl[core]:x86-windows -> 4.0.463
Detecting compiler hash for triplet

[2022-01-21 00:36] strega-nil-ms commented on #22658
I am dumb, I missed it here:

[code]

[2022-01-21 00:36] #22658 closed

[2022-01-21 00:42] shanepowell commented on #22667
Comparing the original zip file with the matching hash and the new zip with with the new hash, only 2 bytes are different (zip header / zip footer).  The file contains of the zip file are the same (no changes).  So it's a minor change in the zip meta data for some reason.

[2022-01-21 02:30] autoantwort opened #22669 "CMake integration:`VCPKG_INSTALLED_DIR` is not documented."
cc @strega-nil-ms

From discord

[2022-01-21 02:30] JackBoosY commented on #22663
Please do NOT use vcpkg as your test site, make a test repo to do that.

[2022-01-21 02:30] #22663 closed

[2022-01-21 02:31] #22666 closed

[2022-01-21 02:39] JackBoosY commented on #22649
Yes, this issue was fixed but we need to wait for vcpkg new release.

[2022-01-21 02:40] JackBoosY commented on #22649
Please track #22413 instead.

[2022-01-21 02:40] #22649 closed

[2022-01-21 02:52] StephanTLavavej opened #22670 "vcpkg's VMSS might no longer need the unencrypted Git protocol"
vcpkg's Virtual Machine Scale Set scripts allow the unencrypted Git protocol through the firewall:

https://github.com/microsoft/vcpkg/blob/5fcea86177e7c81fa90e721bba2822649dd4b982/scripts/azure-pipelines/create-vmss-helpers.psm1#L274-L284

GitHub is disabling support for this: https://github.blog/2021-09-01-improving-git-protocol-security-github/

Unless some of vcpkg's ports are manually connect

[2022-01-21 02:54] JackBoosY commented on #22368
Does the CMakeLists.txt have `install` content?

[2022-01-21 03:09] Cheney-W commented on #10830
Please feel free to reopen this issue if you still encounter it. Thank you!

[2022-01-21 03:09] #10830 closed

[2022-01-21 03:11] Cheney-W commented on #10314
Please feel free to reopen this issue if you still encounter it. Thank you!

[2022-01-21 03:11] #10314 closed

[2022-01-21 03:12] Cheney-W commented on #9712
Please feel free to reopen this issue if you still encounter it. Thank you!

[2022-01-21 03:12] #9712 closed

[2022-01-21 03:14] Cheney-W commented on #9366
Please feel free to reopen this issue if you still encounter it. Thank you!

[2022-01-21 03:14] #9366 closed

[2022-01-21 03:15] Cheney-W commented on #7114
Please feel free to reopen this issue if you still encounter it. Thank you!

[2022-01-21 03:15] #7114 closed

[2022-01-21 03:16] Cheney-W commented on #6738
Please feel free to reopen this issue if you still encounter it. Thank you!

[2022-01-21 03:16] #6738 closed

[2022-01-21 03:31] JackBoosY commented on #22670
cc @BillyONeal

[2022-01-21 03:33] FrankXie05 commented on #16438
@JackBoosY @dg0yt Is there any new progress on the usage of lua?

[2022-01-21 04:13] JonLiu1993 commented on #22449
@BAZI-Ilyess , Could you please provide the detail error log?

[2022-01-21 04:17] JonLiu1993 commented on #12339
Thanks for posting this issue. Please reopen this issue if this is still a problem for you.

[2022-01-21 04:17] #12339 closed

[2022-01-21 04:51] dg0yt commented on #22368
Maybe you have an argument in `OPTIONS` which is only used in a particular configuration. We see this with `CMAKE_DEBUG_POSTFIX` which needs to be placed in `OPTIONS_DEBUG`.

[2022-01-21 05:47] JonLiu1993 commented on #20807
@NotoriousENG ,PR #21511 has been merged, please use the command "git pull" to get the latest vcpkg and try again

[2022-01-21 05:47] #20807 closed

[2022-01-21 05:53] JonLiu1993 commented on #20817
@jepessen ,Could you please help take a look?  The mysql feature was introduced by #15170

[2022-01-21 06:08] Cheney-W commented on #22431
The latest vcpkg.exe is now separate from vcpkg for ease of version control, so it will only be downloaded from the git repository instead of being a separate local build.

[2022-01-21 06:20] PhoebeHui commented on #18901
If you wish to add this port in the future, you can reopen this issue and continue the PR, but we're closing it for now, consider making a pull request instead.

[2022-01-21 06:20] #18901 closed

[2022-01-21 06:24] JackBoosY commented on #15469
Ping for response.

[2022-01-21 06:25] JackBoosY commented on #6973
Ping for response.

[2022-01-21 06:36] JackBoosY commented on #22660
We should export the unofficial targets in CMakeLists.txt

[2022-01-21 06:37] PhoebeHui commented on #18537
This issue has been fixed, please get latest source and try again.

[2022-01-21 06:37] #18537 closed

[2022-01-21 06:57] PhoebeHui commented on #10473
This issue has been fixed, please get latest source and try again.

[code]

[2022-01-21 06:57] #10473 closed

[2022-01-21 07:00] dg0yt commented on #22660
...or just document the usage with standard cmake commands, compatible with usage without vcpkg.

What is the error message with `find_library(LibRHash_LIBRARY RHash LibRHash librhash rhash REQUIRED)`?
Which triplet failed?
There is no reaons why this command shouldn't find `rhash:x64-windows:/debug/lib/rhash.lib`.

[2022-01-21 07:01] EulerSheep opened #22671 "[mpfr] Build error"
**Host Environment**
- OS: [e.g. Windows/Linux etc...]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install xxxx`

**Failure logs**
-Cut and paste the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

**Additional context**
Add any other context about the problem here, such as what yo

[2022-01-21 07:23] LilyWangLL commented on #21600
Thanks for posting this issue. It looks like a upstream bug, Could you report this issue on Upstream: https://github.com/Kitware/VTK?

[2022-01-21 07:26] LilyWangLL commented on #21680
Ping @Yoark, could you report this issue to upstream: https://github.com/xz-mirror/xz?

[2022-01-21 07:28] LilyWangLL commented on #21219
Thanks for posting this issue. Please reopen this issue if it still be a problem for you.

[2022-01-21 07:28] #21219 closed

[2022-01-21 07:30] JonLiu1993 commented on #20771
Fixed by #22135

[2022-01-21 07:31] LilyWangLL commented on #19124
Thanks for posting this issue. Please reopen this issue if it still be a problem for you.

[2022-01-21 07:31] #19124 closed

[2022-01-21 07:31] LilyWangLL commented on #19687
Thanks for posting this issue. Please reopen this issue if it still be a problem for you.

[2022-01-21 07:31] #19687 closed

[2022-01-21 07:35] ytukids opened #22677 "[snappy] build failure"
**Host Environment**
- OS: Centos7
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install srpc`

**Failure logs**
[code]
logs above in /vcpkg/buildtress/snappy/install-x64-linux-rel-out.log when I tried to  install srpc.

**Additional context**
[code]
logs above are logs on terminal

[2022-01-21 07:46] BenKey opened #22678 "rmlui build failure"
**Host Environment**
- OS: Windows 10 Pro 64-bit Version 21H2 build 19044.1466 with Windows Feature Experience Pack 120.2212.3920.0
- Compiler: Microsoft Visual Studio Community 2019 Version 16.11.9

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install rmlui[core,freetype,lua]`

**Failure logs**

[code]

**Log Files**

* [install-x64-windows-dbg-out.log](https://github.com/microsoft/

[2022-01-21 07:51] JackBoosY commented on #22671
-Cut and paste the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

[2022-01-21 07:53] JackBoosY commented on #20101
Does this issue resolved?

[2022-01-21 07:58] PhoebeHui commented on #22553
@diehard2, thanks for sharing the case and workaround which may help other user. you can try to add the flag in your triplets, it should work.

[2022-01-21 08:00] ilongshan opened #22679 "[x264] build failure"
**Describe the bug**
Cannot install x264 on Mac

**Environment**
- OS: Mac
- Compiler: Apple clang version 13.0.0 (clang-1300.0.29.3)

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install x264
2. See error
[code]
3. Content of config-arm64-osx-dbg-err.log
[code]

**Additional context**
The ./src/f21da01154-d285e80d59.clean/configure file lacks execute permission:
[code]

[2022-01-21 08:12] FrankXie05 commented on #22067
@spnda sorry for the late reply，I checked your `CMakeLists.txt` and found that about '`target_include_directories("./")'`, you should use relative paths to avoid such problems :
[code]
 Of course, your solution is to add between paths to the build. This problem can also be solved. :)

[2022-01-21 08:15] FrankXie05 commented on #20036
@morphogencc Are you still following this issue? Have you tested the workaround provided, please reply me。

[2022-01-21 08:48] abique opened #22680 "[harfbuzz] link dependency incorrectly set when VCPKG=release and CMAKE=debug"
**Describe the bug**
When building statically Qt6Widgets, `target_link_libraries(app Qt6::Widgets)` will fail.
[code]

Adding `vcpkg_installed/x64-linux/lib/libharfbuzz.a` to the link command fixes it.

**Environment**
- OS: Linux, x86_64, static build
- Compiler: gcc (GCC) 11.1.0

**To Reproduce**
[code]

[2022-01-21 08:52] Nemirtingas commented on #22646
Duplicate with #6205 and #12134 ?

[2022-01-21 09:01] abique commented on #22680
It seems to also happen on macos.

[2022-01-21 09:07] LilyWangLL commented on #21623
@danieljbarber I have submited a PR to update `zeromp` to latest commit. Could you help test PR #22681 resolve your issue?

[2022-01-21 09:40] LilyWangLL commented on #22679
Thanks for posting this issue. Could you provide the full log file?
`/Users/xxx/third_party/vcpkg/buildtrees/x264/config-arm64-osx-dbg-err.log`

[2022-01-21 10:02] abique commented on #22680
I've tried to add:
[code]

And it did not fix it so I now wonder if the problem lies in harbuzz instead.

[2022-01-21 10:02] JackBoosY commented on #22680
cc @Neumann-A

[2022-01-21 10:07] faserg1 commented on #20472
Well, I've found someonce, who have similar problem
https://github.com/mesonbuild/meson/issues/6710

[2022-01-21 10:16] Neumann-A commented on #22680
try chaniging:
[code]
to
`find_package(Qt6 COMPONENTS Core Gui Widgets Qml REQUIRED)`

Also please specify which features of qtbase you selected/build.

[2022-01-21 10:32] mbsysde99 commented on #2793
for 64 bits:
C:\Program Files\Git\vcpkg>vcpkg remove boost-uninstall:x64-windows --recurse

for 32 bits:
C:\Program Files\Git\vcpkg>vcpkg remove boost-uninstall:x86-windows --recurse

[2022-01-21 10:38] abique commented on #22680
This is how I select the features: https://github.com/free-audio/clap-examples/blob/main/vcpkg.json
I've tried what you've suggested, but the problem remains.

[2022-01-21 11:03] Neumann-A commented on #22680
This is the installation:
[code]
(you can remove the dependency on quickcontrols2)

Try linking `Qt6::Gui` and `Qt6::Widgets`... Never seen that error in Qt6 yet and the cmake test port which also uses Gui and Widgets works.

Maybe a log with --trace-expand can shed some light on what is happening here.

[2022-01-21 11:05] Cheney-W commented on #22677
What's the version of your cmake and compiler?

[2022-01-21 11:12] abique commented on #22680
I've done the suggested changes but the problem is still there.
How to use `--trace-expand` cmake does not seem to take it as an argument.

[2022-01-21 11:17] Neumann-A commented on #22680
https://cmake.org/cmake/help/latest/manual/cmake.1.html (search for it; cannot link it directly)

[2022-01-21 11:23] abique commented on #22680
[trace-err.log](https://github.com/microsoft/vcpkg/files/7912862/trace-err.log)
[trace-out.log](https://github.com/microsoft/vcpkg/files/7912869/trace-out.log)

OK it works when configuring but not when building, understood.

[2022-01-21 11:29] Cheney-W commented on #22677
Could you please try the fix method here: https://github.com/google/snappy/pull/128 ?

[2022-01-21 11:33] abique commented on #22680
I've found the issue.
If I run: `cmake --build --preset ninja-vcpkg-release --target clap-host` then it works.
The thing is that in my triplet overlay, I've forced release build, so I don't build everything in debug, but it seems that harfbuzz resolution looks at the current build type.

[2022-01-21 11:34] abique commented on #22680
I think the important bits are here:
[code]

[2022-01-21 11:36] Neumann-A commented on #22680
have you defined the CMAKE_BUILD_TYPE=Release ?

[2022-01-21 11:38] abique commented on #22680
Here for the overlay: https://github.com/free-audio/clap-examples/blob/main/vcpkg-overlay/triplets/x64-linux.cmake
Then I've use `Ninja Multi-Config` for the generator, so it does both Debug and Release right?

[2022-01-21 11:39] abique commented on #22680
From `builds/ninja-vcpkg/vcpkg_installed/x64-linux/share/harfbuzz/harfbuzzConfig.cmake`:

[code]

Do you think it is correct?

[2022-01-21 11:39] Neumann-A commented on #22680
........... the default configuration for Multi-config is always Debug...... either specify release or don't use multi config.

[2022-01-21 11:42] ytukids commented on #22677
cmake :3.22.0
gdb:10.1
gcc:11.1.0

[2022-01-21 11:45] abique commented on #22680
I've tried to pass the build type to release when configuring, but it did not fix building the debug configuration.

[2022-01-21 11:45] abique commented on #22680
It is only harfbuzz which has this issue, the other libraries seems to be fine.

[2022-01-21 11:50] Neumann-A commented on #22680
not a qt issue. It is an issue in the harfbuzz wrapper. The wrapper needs to use/set `IMPORTED_LOCATION_<CONFIG>` to support your case. In general multi config support in vcpkg is not really good.

[2022-01-21 11:53] abique commented on #22680
Should I use ninja with single config, and for debug build, use the config type release but set the actual cxxflags to debug?

[2022-01-21 11:54] OhMyAgnes opened #22682 "[<port name>] build failure"
**Host Environment**
- OS: [Windows 11]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install grpc`

**Failure logs**
[code]

**Additional context**
"C:\Program Files\vcpkg\vcpkg\buildtrees\grpc\config-x64-windows-out.log" is here:
[code]
I guess the bug is the quot in "-DPROTOBUF_PROTOC_EXECUTABLE="C:/Program Files/vcpkg/vcpkg/installed/x64-windows/tools/protobu

[2022-01-21 11:58] abique commented on #22680
If you know the solution, will you fix the wrapper?

[2022-01-21 12:04] Neumann-A commented on #22680
Knowing the solution and having time to fix it are two different shoes. So currently no.

You can have a look at https://gitlab.kitware.com/cmake/cmake/-/blob/master/Modules/FindJPEG.cmake#L110-L140 to see how it needs to be setup.

[2022-01-21 12:11] abique commented on #22680
By looking at the file history: https://github.com/microsoft/vcpkg/commits/master/ports/harfbuzz/harfbuzzConfig.cmake.in
Maybe one of its author would have the time to look into it?
@vejmartin @ebraminio @BillyONeal @JackBoosY

[2022-01-21 12:29] #22682 closed

[2022-01-21 13:23] mabu4ch opened #22686 "Directory named 'control' is mistaken as a 'CONTROL' file failing manifest mode of vcpkg"
**Describe the bug**
We wanted to add vcpkg to manage libraries in an existing project using the manifest mode with vcpkg.json.
We have added vcpkg.json to the root directory and use the -DCMAKE_TOOLCHAIN_FILE=vcpkginstall/.../vcpkg.cmake.
Running CMake results in following error message:

-- Running vcpkg install
Found both manifest and CONTROL file in port /Users/markus/Programming/vcpkgbug; ple

[2022-01-21 13:51] DeathCamel58 opened #22688 "[unrar] Add unrarConfig.cmake"
**Is your feature request related to a problem? Please describe.**
Although `unrar` builds fine, it doesn't have an `unrarConfig.cmake`, which leads to CMake not finding the library using `find_library`.

**Proposed solution**
Add an `unrarConfig.cmake`

[2022-01-21 14:08] LilyWangLL commented on #21625
@Gab-Menezes Thanks for posting this issue. This issue should be a upstream bug, could you report this issue on upstream: https://github.com/abseil/abseil-cpp?

[2022-01-21 16:32] L0ric0 opened #22689 "add -j buildflag as argument to bootstrap-vcpkg"
****

**Is your feature request related to a problem? Please describe.**
When building vcpkg on systems that have low memory compared to the number of cpu cores bootstraping takes several times longer due to swapping or fails due to OOM. This is due to the fact that the bootstraping process always spawns the maximum number of processes to build vcpkg.

**Proposed solution**
Adding a -j flag (which

[2022-01-21 16:33] yusuke-kadowaki commented on #21514
@JackBoosY @JonLiu1993
This is the configure log after clean installing ``grpc:x64-windows-static``.
If you cannot reproduce this, can you also provide your install and configure procedure?

[code]

[2022-01-21 16:39] ZMathias commented on #22431
One thing I am sure of is that it has something to do with the environment, sincr vcpkg works on my laptop with the same VS2022 instance and extensions installed. Any ideas?

[2022-01-21 17:00] embeddedmz commented on #20101
I don't think so, I will check it next week.

[2022-01-21 17:38] vadi2 opened #22690 "vcpkg goes into an infinite loop on setup"
Gist for the `cmake --trace-expand` output: https://gist.github.com/vadi2/e2d362c3dd45bbad3eb1a83ffe511222

Using the latest `vcpkg.cmake` downloaded today.

[2022-01-21 17:56] vadi2 commented on #22690
This is while running within Github Codespaces.

[2022-01-21 18:14] dg0yt commented on #22690
It starts searching for the vpkg root dir on `/workspaces/Housemaker/`, works its way up and live-locks on `/`...

Is there a file `/workspaces/Housemaker/.vcpkg-root`?

[2022-01-21 18:22] vadi2 commented on #22690
That is empty -

[code]

[2022-01-21 18:34] morphogencc commented on #20036
@FrankXie05 @LilyWangLL apologies, I haven't had a chance -- I'll get around to testing it this weekend.

[2022-01-21 19:07] SamuelMarks commented on #22660
@dg0yt / @JackBoosY
With `find_library(LibRHash_LIBRARY NAMES RHash LibRHash librhash rhash REQUIRED)`:
[code]

I've installed both x86 and x64 variants

With `find_package`:
[code]

[2022-01-21 19:10] #22604 closed

[2022-01-21 19:27] kevinchahine commented on #22526
vcpkg version:

[code]
vcpkg install output:

[code]

[2022-01-21 20:19] dg0yt commented on #22690
In particular, do not just use `vcpkg.cmake`. It interacts with other parts of the vcpkg tree.

[2022-01-21 20:48] mathisloge opened #22693 "[gdal] absolute file paths in vcpkg-cmake-wrapper.cmake"
When building gdal, the resulting `vcpkg-cmake-wrapper.cmake` has absolute paths in it.

[code]
will resolve to
[code]
which will fail if the binary cache is used across different CI systems.

\ping as maintainer of gdal @dg0yt

[2022-01-21 21:06] dg0yt commented on #22693
I see. It needs another round of substitutions if we want to keep it this way. Sorry for the inconvenience.

[2022-01-21 21:30] #22667 closed

[2022-01-21 21:56] dg0yt commented on #22654
I cannot reproduce this on my x64 MBA.

I do have the vcpkg pkgconfig dir instead of `none` here.

This points to an empty `PKG_CONFIG_LIBDIR`.

[2022-01-22 01:59] Gab-Menezes commented on #21625
Issue created https://github.com/abseil/abseil-cpp/issues/1098

[2022-01-22 04:27] morphogencc commented on #20036
@LilyWangLL I confirmed that paho-mqttpp3 was not working correctly with the current master branch of vcpkg before testing.

I deleted the folder in `ports/` as you requested, and then reinstalled the vcpkg from scratch.

Unfortunately it looks like I'm getting the same error -- return code -14 when I attempt to use a secure connection.

[2022-01-22 05:46] vadi2 commented on #22690
Thanks for the tip - I started out with the [modern-cpp-template](https://github.com/filipdutescu/modern-cpp-template) which [does this](https://github.com/filipdutescu/modern-cpp-template/blob/master/cmake/Vcpkg.cmake) ootb.

[2022-01-22 07:35] pythagoras9 commented on #18192
https://github.com/microsoft/vcpkg/pull/22697 @PhoebeHui

[2022-01-22 08:58] tueda opened #22699 "[New Port Request] Cuba"
Library name: Cuba

Library description: a library for multidimensional numerical integration

Source repository URL: none; tarballs available on the project homepage

Project homepage (if different from the source repository): http://www.feynarts.de/cuba/

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

This library imple

[2022-01-22 09:45] ankurvdev opened #22700 "[New Port Request] stduuid"
Library name: stduuid

Library description:
Cross platform UUID

Source repository URL:
https://github.com/mariusbancila/stduuid

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

There was an earlier attempt
https://github.com/microsoft/vcpkg/pull/16382

That was

[2022-01-22 15:19] dg0yt commented on #22689
You can set environment variable `VCPKG_MAX_CONCURRENCY` to the desired limit of parallel jobs. It is the same variable which is used when building ports.

[2022-01-22 16:36] dg0yt commented on #22690
Duplicate of #20125.

[2022-01-22 22:18] MarcelNehring commented on #22533
I don't think this problem is limited to RaspberryPi or 64bit but rather it depends on compiler and language version used.
You need to build with C++17 or newer and the following compiler versions or newer:
- gcc 8.4
- clang 7

MSVC 19 seems to build it even with C++14

See: https://godbolt.org/z/af4858W5P
Probably related: https://stackoverflow.com/q/48914772

[2022-01-22 22:47] kafeg commented on #16922
Finaly i found dirty solution and can cross-compile `qt5-base` without `opengl`, `fontconfig`, `harfbuzz`, `icu`. My current solution is enought for me to build cli-utility, but maybe it can be helpful to somebody as start point.

So what i did:
1. Built cross-toolchain: https://github.com/kafeg/dockerpi-toolchain
2. Patched `vcpkg` with this changes: https://github.com/ptyio/vcpkg/commits/ptyio (

[2022-01-23 06:02] dg0yt commented on #19527
This should be `x86_64-w64-mingw32-windres`, from Ubuntu package binutils-mingw-w64-x86-64.

[2022-01-23 07:39] ytukids commented on #22677
yes,thanks

[2022-01-23 07:39] ytukids commented on #22677
yes,it works. thanks!

[2022-01-23 08:39] abique opened #22712 "[Qt] Support for `-DQT_NAMESPACE=XXX`"
Hi,

Qt offers the option to put all the classes in a namespace.
For that we'd need to pass `-DQT_NAMESPACE=XXX`.

I haven't seen a way to parametrize a feature with a string. Did I miss something?

Two options:
1. Generate a random namespace based upon user+host+date
2. pick the namespace name from `QT_NAMESPACE` which would be defined in the triplet

What do you think is the right approach?

[2022-01-23 08:41] abique commented on #22712
@Neumann-A I ping you as you contributed to qtbase.

[2022-01-23 08:59] Neumann-A commented on #22712
Only option here is to use an overlay port and pass that option manually.

[2022-01-23 10:12] abique commented on #22712
@Neumann-A Thank you very much.
Pull request incoming.

[2022-01-23 14:21] dg0yt commented on #6045
Typo.

Now there is only "release" as single-config.

This is systematically broken by vcpkg for `INTERFACE_LINK_LIBRARIES` in the main config file, because debug variant is silently dropped (#22546).

Now there is only "release" as single-config.

**Additional problems:**

 - The find wrapper does not properly set the policies it needs.
 - The find wrapper sets `<Pkg>_LIBRARY` with `select_librar

[2022-01-23 17:45] SamuelMarks commented on #22660
@dg0yt / @JackBoosY the old https://gitlab.kitware.com/traversaro/cmake/-/blob/add_cmake_install_cmakebasedir/Source/Modules/FindLibRHash.cmake didn't work. Should I be trying with pkg-config next?

[2022-01-23 18:27] dg0yt commented on #22660
It is a simple library without dependencies or fancy names.

- `find_package(rhash CONFIG)` needs exported config. Which rhash doesn't provide. It won't use the Find module you linked.
- The Find module you linked is called `FindLibRHash.cmake`. If you place it in a location which is in `CMAKE_MODULE_PATH`, you can try to use it with`find_package(LibRHash)` .[!]

You can `set(CMAKE_FIND_DEBUG_MODE

[2022-01-23 21:34] johnco3 commented on #22495
I also have the above linkage issue.  Boost-Log frequently has porting issues that could easily be flushed out prior to pushing the port - I remember having to manually patch boost headers a few releases ago when I used to download the binaries & prebuilt headers from the boost.org website.  This was prior to making the switch to building boost using vcpkg & triplets - (in my case x64-windows).  I

[2022-01-23 22:44] SamuelMarks commented on #22660
Thanks it's working now. Weird that the explicit include didn't set the `_FOUND` var but after fixing my `CMAKE_MODULE_PATH` to the dir where I have that one (and other `Find*.cmake`) it worked.

I'll keep this issue open in case someone wants to expose targets for it to vcpkg

[2022-01-24 02:07] davidhunter22 commented on #11177
The VS 2022 road map https://docs.microsoft.com/en-us/visualstudio/productinfo/vs-roadmap in the C++ does not mention VCPKG at all. Has shipping it with VS in limbo?

[2022-01-24 03:06] ilongshan commented on #22679
[config-arm64-osx-dbg-err.log](https://github.com/microsoft/vcpkg/files/7922336/config-arm64-osx-dbg-err.log)

This is the full log file.

[2022-01-24 03:06] ilongshan commented on #22679
[config-arm64-osx-dbg-err.log](https://github.com/microsoft/vcpkg/files/7922336/config-arm64-osx-dbg-err.log)

@LilyWangLL This is the full log file.

[2022-01-24 03:15] JackBoosY commented on #22690
Please track #20125 instead.

[2022-01-24 03:15] #22690 closed

[2022-01-24 05:29] dg0yt commented on #22660
The `include` does just that. `find_package` sets interface variables which are used by Find modules and helper functions, in particular by  `FIND_PACKAGE_HANDLE_STANDARD_ARGS`.

The linked module also has a fragile hard-coded path to `FindPackageHandleStandardArgs.cmake`. Apart from that it has the most primitive form of `find_path` and ` find_library`.

[2022-01-24 06:40] dg0yt opened #22743 "[python3] vcpkg cmake wrappers must not used `find_dependency`"
**Describe the bug**
`find_dependency` must only be used in cmake package config files. The wrappers neither provides the interface variables nor the call stack for `return()`.

Affected ports:
[code]

Alternatives:
- plain `find_package`
- a future `vcpkg_find_dependency`

[2022-01-24 06:42] FrankXie05 commented on #22656
@olejniczak Sorry for the late reply, Looks like you can't download `[mingw ](https://mirrors.ustc.edu.cn/msys2/mingw/i686/mingw-w64-i686-pkg-config-0.29.2-1-any.pkg.tar.xz)`
Suggested solution：
1. Make sure you are using the latest vcpkg, you can use the command` git pull` or re-clone a vcpkg
2. Please unzip this [file ](https://github.com/microsoft/vcpkg/files/7141535/mingw-w64-x86_64-libiconv-1

[2022-01-24 07:09] JackBoosY commented on #22656
Both 0.29.2-1 or 0.29.2-2(in latest vcpkg) are not found, this should be updated to https://repo.msys2.org/mingw/i686/mingw-w64-i686-pkg-config-0.29.2-3-any.pkg.tar.zst

[2022-01-24 07:49] iknowican opened #22753 "[skyr-url] CMake targets aren't exported for debug builds"
**Describe the bug**
Example code of `skyr-url` can not be successfully built in debug mode with `vcpkg`. Release builds are fine, but the debug one fails because of only release library version is available to CMake, and, it leads to MSVCRT link type conflict. For some reasons `skyr-url-targets-release.cmake` is created without a debug version and picked instead of it.

**Environment**
- OS: Wind

[2022-01-24 08:13] JackBoosY commented on #22753
Confirmed, and the cmake file path is also incorrect.

[2022-01-24 09:23] Gab-Menezes opened #22763 "[New Port Request] braft"
Library name: braft

Library description: A library that implements consensus algorithms.

Source repository URL: https://github.com/baidu/braft

OBS: I wanted to try to do this port, but I never made one. So any resources, tips and help are welcomed.

[2022-01-24 09:30] Adela0814 commented on #22622
Can you provide the steps of reproduction? and gcc/cmake version.
You can try to change `-DENABLE_REFCNT_DEBUG=ON` to `OFF` in `vcpkg\ports\librdkafka\portfile.cmake`. then re-install librdkafka via vcpkg. I wonder if this can reduce your unnecessary log.

[2022-01-24 10:14] hajokirchhoff commented on #12289
First off all, thanks for your informative reply and the time you took
typing your answer again :)

Yes, that's the mistake I have been making. I thought the SHA-1 of the
repository was the same as "git rev-parse". It is not. And that is what
had been causing the cyclic dependencies in my case.

The problem I have with port overlay is that they are specific to either
a single project or a single m

[2022-01-24 14:03] helmesjo commented on #4481
I'm having similar issues with `cpprestsdk`. People mention manual linking of system libs as "solving the problem", but the information is available in the package itself (eg. when looking in the cmake export target file) so there is no reason one should have to do this step.
But is the ("true") solution still to link additional system libraries & specify defines manually when using vcpkg in Visua

[2022-01-24 15:32] GeneralAdmin commented on #22528
Hey! can you elaboreate in how you done it? I've the same issue

[2022-01-24 15:55] matus-z commented on #16917
Thanks, @Markus87 👍 This solution works for me.

[2022-01-24 17:05] DougRogers commented on #22528
Link in both these libs:

Release:
OpenImageIO.lib
OpenImageIO_Util.lib

Debug:
OpenImageIO_d.lib
OpenImageIO_Util_d.lib

[2022-01-24 17:22] fknfilewalker commented on #15313
@sfhacker How could you get it compile on windows, I just can't wrap my head around it?

[2022-01-24 17:58] aggieNick02 commented on #12289
repository was the same as "git rev-parse". It is not. And that is what
had been causing the cyclic dependencies in my case.

Right. Even having learned this once before, I also again thought it was the commit, and it took me a bit of digging when I saw your question before I found the docs explaining what it is. It is part of the "magic" that lets vcpkg reference an older version of the port, but

[2022-01-24 18:50] sfhacker commented on #15313
This open issue is OVER a YEAR old!
Anyway, @fknfilewalker Can you post here the steps to repro your issue? Can you also include the error(s) messages you are getting?

[2022-01-24 21:25] #22613 closed

[2022-01-24 21:37] danieljbarber commented on #21623
Hey there, I'm not super savvy with git. How do I pull that PR down locally
within vcpkg to try it out?

On Fri, Jan 21, 2022 at 4:07 AM LilyWangLL ***@***.***> wrote:

[2022-01-24 21:50] rschiefer opened #22777 "azure-iot-sdk-c linking fails during make"
**Host Environment**
- OS: Ubuntu 20.04.1 LTS (via WSL on Windows 10)
- Compiler: gcc 9.3.0

**To Reproduce**
Steps to reproduce the behavior:
1-`./vcpkg install azure-iot-sdk-c`
2-add the CMake targets to your CMakeLists.txt
[code]
3-run cmake
4-run make

**Failure logs**
[code]

**Additional context**
It looks like the vcpkg port includes parson and uhttp dependencies but they don't appear to be

[2022-01-24 21:59] danieljbarber commented on #21623
I was able to test this using Visual Studio 2019 Community Edition without
issues (16.11.9). I was able to install both x86 and x64 windows versions
of zeromq.

Best,

Daniel

On Fri, Jan 21, 2022 at 4:07 AM LilyWangLL ***@***.***> wrote:

[2022-01-24 22:44] Michael-LarsonAMN opened #22778 "[spdlog] build failure"
**Host Environment**
- OS: Windows 10
 Package: spdlog:x64-windows
 Vcpkg version: 2020.02.04-nohash

**To Reproduce**
Steps to reproduce the behavior:
$ vcpkg install --head spdlog –-triplet x64-windows

**Failure logs**
[code]
Here's the install-x64-windows-dbg-out.log:
[code]

[2022-01-24 22:58] #22753 closed

[2022-01-25 01:52] JackBoosY commented on #22196
It should be `CSRCompiler`.

[2022-01-25 04:31] Tarrowren opened #22779 "[boost-iostreams] Unresolvable external symbol"
**Describe the bug**

[code]

**Environment**

- OS: Windows 10
- Compiler: 21H2 19044.1466
- Kit: vs2019 release - amd64

**To Reproduce**
Steps to reproduce the behavior:

1. ./vcpkg install boost-iostreams:x64-windows-static
2.

[code]

[code]

3. build it

[2022-01-25 05:12] Gab-Menezes commented on #22763
Depends on https://github.com/microsoft/vcpkg/pull/22685, since braft needs brpc

[2022-01-25 05:58] JackBoosY commented on #4481
That's just a workaround, not a fix.

[2022-01-25 06:14] JackBoosY commented on #22613
Why close this? Is this resolved?

[2022-01-25 06:14] xengine-qyt opened #22780 "[<libmariadb[openssl]>] build failure"
**Host Environment**
- OS:Windows
- Compiler: 3.1.15

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install libmariadb[openssl]`

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
    libmariadb[core,openssl,schannel,ssl]:x64-windows -> 3.1.15
Detecting compiler hash for triplet x64-windows...
-- Automatically setting HTTP(S)_PROXY env

[2022-01-25 06:28] helmesjo commented on #4481
Agree, which was precisely what I wanted to clarify with my comment. While looking into how to _properly_ solve this I only found these kinds of workarounds, and no documentation on how to actually do it (until I found the tiny post I linked above, that support for msbuild will be added).

[2022-01-25 06:29] JackBoosY commented on #22780
[code]
You should only pick one ssl backend feature.
Please use `./vcpkg install libmariadb[core, openssl]` instead.

[2022-01-25 06:47] xengine-qyt commented on #22780
o thanks...

[2022-01-25 06:47] #22780 closed

[2022-01-25 08:35] JonLiu1993 commented on #22449
Thanks for posting this issue. Please reopen this issue if it still be a problem for you.

[2022-01-25 08:38] mathisloge commented on #22778
If possible, make a vcpkg update by using `git pull` in the root dir of vcpkg and also a `.\bootstrap.bat`

You have a quite old version `Vcpkg version: 2020.02.04-nohash` which is propably already fixed in the current versions

[2022-01-25 10:13] evgc01 commented on #22613
Hi, Jack.

The issue is fixed (sort of), as I described in my previous post.

Essentially, the problem was two dependencies (snappy and utf8proc) were
incorrectly installed by vckpg. Two descriptor files (libutf8proc.pc
and snappy.pc)
were absent.

I just compared the source packages installed by vcpkg with the ones
installed by MSYS2 , and found the differences. Then I copied those .pc
files, and

[2022-01-25 10:22] embeddedmz commented on #20101
I failed in installing qt6 :

[code]

[2022-01-25 12:21] fromasmtodisasm opened #22785 "How do I use cmake port scripts in my project?"
I want to write a cmake utility and form a port from it, I barely managed to understand how cmake-port does it, for some reason there is no documentation about such files as "vcpkg-port-config.cmake" anywhere, there is no information available in the documentation. But having this file, my cmake library can only be used in other portfile.cmake! And I want to specify this library in vcpkg.json as d

[2022-01-25 12:26] fromasmtodisasm commented on #22785
I have an engine from which I made a port. It worked out well, I can install it via vcpkg. But it turned out that the dependent project requires cmake scripts that the engine itself uses. I need to somehow distribute these setup scripts along with the engine or as a separate package so that the consumer (my game) can be configured correctly

[2022-01-25 12:28] fromasmtodisasm commented on #22785
The problem is that earlier both the engine and the game lived in the same repository, after trying to move the engine to a separate repository, everything broke

[2022-01-25 12:29] dg0yt commented on #22785
Keep it a discussion? #22784

[2022-01-25 12:33] fromasmtodisasm commented on #22785
I did not know where to write better, I wrote in two places at once, if it is more appropriate to resolve this issue here, then you can not leave that #22784

[2022-01-25 12:38] autoantwort commented on #22785
That is a bad idea. It only splits the discussion to multiple places. I have answered your discussion. Imho a discussion is better because it is a question and not a bug.

[2022-01-25 12:45] fromasmtodisasm commented on #22785
This is not a bug, right, most likely a missing feature, because I used conan a little, and there it was easy to form a tool "library" from cmake scripts, which could be easily used via include , perhaps you need to create a feature request in which to discuss this aspect. Perhaps this thread needs to be frozen or renamed in order to split the thread

[2022-01-25 15:49] PhoebeHui commented on #22779
@Tarrowren, thanks for reporting this issue, it seems miss the bzip2 libraries from the errors, could you please add the following code in your CMakeLists.txt and see if it works for you?

[code]

[2022-01-25 17:00] krausegk opened #22789 "[<vcpkg-gfortran>] build failure"
**Host Environment**
- OS: [e.g. Windows/Linux etc...] Windows10
- Compiler: revision MS C++ compiler

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install vcpkg-gfortran`

**Failure logs**
[DEBUG] Downloading https://mirrors.sjtug.sjtu.edu.cn/msys2/mingw/x86_64/mingw-w64-x86_64-gcc-fortran-10.2.0-1-any.pkg.tar.zst
Error: Failed to download from mirror set:
https://repo.msys2.org/min

[2022-01-25 17:50] gracicot opened #22790 "Support immutable vcpkg root and standard unix filesystem structure"
****

**Is your feature request related to a problem? Please describe.**

Right now vcpkg assumes that `/opt` or `/usr/bin` or wherever vcpkg is installed to be mutable. This is not a problem when you install it manually in `/opt/vcpkg` and set the permissions to your user, but this is a problem when packaging vcpkg.

This is especially a problem when trying to create a nix package for vcpkg, sinc

[2022-01-25 21:54] past-due commented on #17001
I just encountered this issue in a cross-build scenario.

In my case, the intent of the `find_program` call was to find a program able to run on the host/build machine, just as @Neumann-A specifies.

In fact, a quick audit of other `find_program` uses in this particular project found that all of them are intended to find a program to run *on the host*/build machine.

[2022-01-26 01:14] PhoebeHui commented on #22789
@krausegk, thanks for reporting this issue, it would be fixed by https://github.com/microsoft/vcpkg/pull/22786.

[2022-01-26 01:52] JackBoosY commented on #22785
Please track #22784.

[2022-01-26 01:52] #22785 closed

[2022-01-26 02:26] Tarrowren commented on #22779
It works, thanks! I'm too stupid😂

[2022-01-26 02:37] hecunxin opened #22793 "Error: Building package vcpkg-gfortran:x64-windows failed with: BUILD_FAILED"
Please create a discussion in https://github.com/microsoft/vcpkg/discussions/new instead.
Error: Building package vcpkg-gfortran:x64-windows failed with: BUILD_FAILED
Additional packages (*) will be modified to complete this operation.
Detecting compiler hash for triplet x64-windows...
Restored 0 packages from C:\Users\Zhouxin\AppData\Local\vcpkg\archives in 1.626 ms. Use --debug to see more detai

[2022-01-26 02:41] hecunxin commented on #22793
vcpkg install colmap[cuda,tests]:x64-windows
Computing installation plan...
The following packages will be built and installed:
  * ceres[core,lapack,suitesparse]:x64-windows -> 2.0.0#5
    colmap[core,cuda,tests]:x64-windows -> 3.6#2
  * cuda[core]:x64-windows -> 10.1#8
  * freeimage[core]:x64-windows -> 3.18.0#22
  * jxrlib[core]:x64-windows -> 2019.10.9#3
  * lapack[core]:x64-windows -> 3#2
  *

[2022-01-26 02:45] JackBoosY commented on #22793
Please track #22789.

[2022-01-26 02:45] #22793 closed

[2022-01-26 03:28] PhoebeHui commented on #22779
Good to know!

[2022-01-26 03:28] #22779 closed

[2022-01-26 04:57] #21525 closed

[2022-01-26 04:58] #22589 closed

[2022-01-26 06:29] #22482 closed

[2022-01-26 06:47] #22693 closed

[2022-01-26 06:50] Adela0814 commented on #19836
Fixed by #20069

[2022-01-26 06:50] #19836 closed

[2022-01-26 06:56] PhoebeHui commented on #22580
@acse-mp3014, please reopen this issue if it still be a problem for you.

[2022-01-26 06:56] #22580 closed

[2022-01-26 07:31] danoli3 commented on #7260
Yeah just add `Security.framework` to fix this

[2022-01-26 07:51] Adela0814 commented on #19786
@JamesC01 Have you tried PR #18328, does it solve your problem?

[2022-01-26 08:19] #19782 closed

[2022-01-26 08:28] dg0yt commented on #7260
Is it missing with cmake or pkg-config? Port curl has received significant work since this issue was closed more than one year ago.

[2022-01-26 08:54] nurozhikun opened #22797 "Package: opencv4:x64-windows ..."
.\vcpkg.exe install opencv4[contrib]:x64-windows

-- Extracting source D:/dev/vcpkg/downloads/opencv-opencv_contrib-4.5.1.tar.gz
-- Applying patch 0007-fix-hdf5.patch
-- Using source at D:/dev/vcpkg/buildtrees/opencv4/src/4.5.1-0a6ce0443d.clean
-- Downloading https://raw.githubusercontent.com/opencv/opencv_3rdparty/34e4206aef44d50e6bbcd0ab06354b52e7466d26/boostdesc_bgm.i -> opencv-cache/xfeatures2

[2022-01-26 08:54] KevinShu-AEUST commented on #22074
I have the same problem, I use VS CODE to compile, but now there is a problem with installing the egin3 pakage.

[2022-01-26 08:56] Adela0814 commented on #19642
Fixed in PR #19655

[2022-01-26 08:56] #19642 closed

[2022-01-26 08:58] JackBoosY commented on #22074
@KevinShu-AEUST Please see the required Visual Studio components in https://github.com/microsoft/vcpkg-tool/pull/314.

[2022-01-26 09:47] KevinShu-AEUST commented on #22074
sorry,I don't understand the solution for this post.

[2022-01-26 09:51] Adela0814 commented on #19550
@elmendorf Have you tried PR #20033, does it solve your problem?