[2022-04-26 20:15] atraczyk commented on #24272
I searched for tickets related to:
[code]
and found https://github.com/microsoft/vcpkg/issues/13890, so I checked `HKEY_LOCAL_MACHINE\Software\Microsoft\Command Processor\AutoRun` and I found `"C:\Program Files (x86)\clink\0.4.9\clink.bat" inject --autorun --profile ~\clink`. After removing that, everything works as expected.

[2022-04-26 21:04] Neumann-A commented on #24430
qtbase is a false positiv.

[2022-04-26 21:05] Neumann-A commented on #24428
Did you try https://cmake.org/cmake/help/latest/module/FindSQLite3.html instead?

[2022-04-26 21:11] venabled commented on #24428
I did, but it's in a cmake config for another port (proj) which I didn't write.

[2022-04-26 21:13] Neumann-A commented on #24428
cc @dg0yt

[2022-04-26 21:19] DeafMan1983 commented on #23958
Sorry I am busy yes.. I found
![image](https://user-images.githubusercontent.com/57066679/165394098-8f7b4920-2237-44b4-b566-7c943dd7ea6f.png)

Yes it is correctly.

[2022-04-27 01:18] JackBoosY commented on #23328
@FavorMylikes In vcpkg, mpir's source changes to github, please update your vcpkg and try again.

[2022-04-27 01:48] #24266 closed

[2022-04-27 02:26] #24303 closed

[2022-04-27 02:27] #24378 closed

[2022-04-27 02:46] Cheney-W commented on #24272
Thanks for your reply! I'm glad to know this issue has been solved.

[2022-04-27 02:46] #24272 closed

[2022-04-27 04:22] dg0yt commented on #24430
IMO `vcpkg_cmake_config_fixup` should be integrated, maybe via a dependency,  into vcpkg_cmake.
Is there a stand-alone usage?

[2022-04-27 04:31] JackBoosY commented on #24413
Please test my PR https://github.com/microsoft/vcpkg/pull/24436.

Thanks.

[2022-04-27 04:58] davidebeatrici commented on #20817
[code]

[2022-04-27 05:02] WangZP10969 opened #24437 "[qtbase] Build error"
**Host Environment**
- OS: Windows10
- Compiler: Visual Studio 2022 17.1.3
- package: qtbase[brotli,concurrent,core,dbus,default-features,doubleconversion,freetype,gui,harfbuzz,icu,jpeg,network,openssl,pcre2,png,sql,sql-psql,sql-sqlite,testlib,widgets,zstd]:x64-windows -> 6.3.0
    vcpkg-tool version: 2022-03-30-692785ac944e81417840c6de244fb3e18a4b35eb
    vcpkg-scripts version: 94c728df6 2022-04-

[2022-04-27 05:05] dg0yt commented on #24428
#### 1. Fix the sqlite3 build system

vcpkg has its own build system for sqlite3, so maybe it has its own bugs?
https://github.com/microsoft/vcpkg/blob/fb02a785618a1fbaced32b206171e09fd57d4622/ports/sqlite3/CMakeLists.txt#L128-L136

IMO these libraries should be `PRIVATE`, not `PUBLIC`. Then CMake act differently for downstream usage.

#### 2. (Un-)Guard downstream usage

The proj config follows t

[2022-04-27 06:15] silverqx commented on #20817
What is that? pls provide relevant info. @davidebeatrici

[2022-04-27 07:10] FrankXie05 commented on #24367
@nqf Could you please test the pull requestu #24385?
Reproduce the log：
[code]
Test log after applying：
[code]

[2022-04-27 07:52] FrankXie05 commented on #18612
@chrisdjali-wrld3d This issue has been fixed upstream, please update to the latest vcpkg and try building again. :)

Successful example：
**CMakeLists.txt:**
[code]
**log:**
[code]

[2022-04-27 08:07] Thomas1664 commented on #24430
Yes, these ports use `vcpkg_cmake_config_fixup` independently from `vcpkg_cmake_*`:
- gpgme
- libgwenhywfar
- libsmb2
- tomlplusplus

[2022-04-27 08:11] davidebeatrici commented on #20817
`qt5-base` failing to configure with the `mysqlplugin` feature enabled, triplet is `x64-windows-static-md`.

[2022-04-27 08:19] silverqx commented on #20817
I'm recognizing these unresolved symbols, I saw them somewhere during the upgrade from the 1.1 to 3 version, especially `EVP_default_properties_is_fips_enabled` and similar `EVP` functions but I'm shooting from the side so I can be wrong.

[2022-04-27 08:21] silverqx commented on #20817
But anyway, this looks like a different type of error from what I have experienced, of course, the general problem is the same unable to do the static build of qt5 with mysqlplugin.

[2022-04-27 08:25] Neumann-A commented on #20817
As i said, copy stuff from (starting from `${SSL_`):
https://github.com/microsoft/vcpkg/blob/fb02a785618a1fbaced32b206171e09fd57d4622/ports/qt5-base/portfile.cmake#L278-L279
over to:
https://github.com/microsoft/vcpkg/blob/fb02a785618a1fbaced32b206171e09fd57d4622/ports/qt5-base/portfile.cmake#L282-L283

[2022-04-27 08:26] justin-bj commented on #24109
Guys, any progress? Has the problem been solved?

[2022-04-27 08:28] silverqx commented on #20817
That could fix the problem @Neumann-A 👍, but who needs a static build 😁, this is not a critical issue it can be opened forever 😂

[2022-04-27 08:42] unnamed2 opened #24439 "[pcl] compile error “vtkSmartPointer.h”: No such file or directory"
**Describe the bug**
[code]
got fatal error C1083: “vtkSmartPointer.h”: No such file or directory

**Environment**
- OS: Windows11, 22000.613
- Compiler: VS2022(17.1.4)
- package pcl[vtk]

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install pcl[vtk]:x64-windows
2.
[code]
3. compile error

**Expected behavior**
build success

**Failure logs**
A:\vcpkg\installed\x64-windows\include\

[2022-04-27 09:02] unnamed2 commented on #24439
and the following is reported by my compiler while #include<pcl/io/pcd_io>
[code]
XD

[2022-04-27 09:05] niclar opened #24440 "[boost] accumulators is missing in the port"
boost accumulators is not bult / installed when building the boost port (boost 1.79). It should be.

[2022-04-27 09:19] pionex opened #24441 "[libharu] Build error when using dynamic lib triplet on Linux"
**Host Environment**
- OS: Ubuntu 22.04
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
Use dynamic lib triplet on Linux x64
`./vcpkg install libharu`

**Failure logs**
In file included from /home/perception/VagrantProjects/vcpkg/buildtrees/vtk/x64-linux-dbg/ThirdParty/libharu/vtk_libharu.h:24,
                 from /home/perception/VagrantProjects/vcpkg/buildtrees/vtk/src/

[2022-04-27 09:43] lukase commented on #20101
This batch file is not being deployed for me (vcpkg on commit 94c728df6, in a project using a manifest listing 'qtbase' and 'qttools' as dependency). Looks like windeployqt has been removed from the qttools package into qtbase. Qt version being built is 6.3.0

[2022-04-27 09:56] lukase opened #24442 "[qtbase] [qttools] windeployqt has been moved"
In Qt 6.3, windeployqt has been moved from the qttools package into qtbase. Therefore, vcpkg's windeployqt.debug.bat no longer gets deployed, which breaks the example code given in [#20101](https://github.com/microsoft/vcpkg/issues/20101#issuecomment-1077747306).

[2022-04-27 10:08] Cheney-W commented on #24439
About your repro step 2 and 3, did you do them in a cmake project or a visual studio empty project? Could you please provide me with your repro project?

[2022-04-27 10:36] Neumann-A commented on #24442
indicates otherwise so that windeployqt is still in qttools. Maybe the issue is that the wrapper no longer works because the path querying has changed. (using qtpaths.exe now if I read that correctly.)

[2022-04-27 10:38] Neumann-A commented on #24442
hmm ok release notes are inexact. It doesn't mention that change.

[2022-04-27 11:44] SchaichAlonso opened #24443 "[fribidi] update to 1.0.12"
Library name: fribidi

New version number: 1.0.12

Other information that may be useful (release notes, etc...)
https://github.com/fribidi/fribidi/releases/tag/v1.0.12

[2022-04-27 11:46] Neumann-A commented on #24437
[code]

simply retry?

[2022-04-27 13:08] WangZP10969 commented on #24437
Well, I've tried it a few times, and tried clearing all files and doing it again.
what could be affecting the process, the network or the hardware?

[2022-04-27 13:10] Neumann-A commented on #24442
Please try #24445

[2022-04-27 13:58] unnamed2 commented on #24439
@Cheney-W visual studio empty project，Creating a new console application and then replacing the contents of the generated cpp with the following line of code generates such an error.
[code]
I just tried the cmake project and found that the cmake project did not have such a problem.

[2022-04-27 14:03] Neumann-A commented on #24437
Try running  `git fetch https://code.qt.io/qt/qtbase.git 0668a36d2804b300010d874f5ff4073c25c2784c --depth 1 -n` outside vcpkg and see if that works. If not try `git clone https://code.qt.io/qt/qtbase.git`.
I would say if that doesn't work it is mostly about your network setup and not vcpkg itself.

[2022-04-27 14:06] unnamed2 commented on #24439
[Here's] (https://github.com/unnamed2/ConsoleApplication1) the project I created

[2022-04-27 15:58] WangZP10969 commented on #24437
Yes, I think you are right, I will try again.

[2022-04-27 16:01] AdelCraftZ opened #24446 "How to install a package globally (for all users)"
Is there a way to perform a system-wide package installation using vcpkg?

[2022-04-27 16:01] #24437 closed

[2022-04-27 16:39] ResearchDaniel opened #24447 "Mac: applocal.py post-build step fails if executable name contains parenthesis"
**Describe the bug**
Call to applocal.py causes an error after building an executable with a file name containing parenthesis. Might also be relevant if the executable contains spaces, but have not tested.

I think that the problem might be solved by adding qoutes in the call, "\\"$<TARGET_FILE:${target_name}>\\"", to the target file name (possibly also to the installed):
[code]
https://github.com

[2022-04-27 18:26] klalumiere opened #24449 "[qpid-proton] Cannot find dynamic library dependencies at runtime"
**Describe the bug**
On Linux, `qupid-proton` cannot find its dynamic libraries dependencies at runtime, like `libqpid-proton-proactor.so`.

**Environment**
- OS: Linux
- Compiler: clang version 10.0.0-4ubuntu1

**To Reproduce**
Steps to reproduce the behavior:
1. Add a dependency on `qpid-proton` in `vcpkg.json`:
[code]
2. Add a dependency on it in your `CMakeLists.txt` with `find_package(ProtonC

[2022-04-27 22:11] Neumann-A opened #24455 "[baseline|hash-library|czmq] File conflict"
[code]

[2022-04-27 22:35] yurybura commented on #24440
`.\vcpkg.exe install boost-accumulators:x64-windows` works fine.

[2022-04-27 22:58] ankurvdev commented on #24351
Thr triplet you're using seems to be
x64-windows

The problem is specific to

x64-windows-static-md

[2022-04-27 23:10] davidebeatrici commented on #20817
@Neumann-A Sorry, I missed your message. That's indeed the solution, thanks!

Please note that I also had to link to zlib:

[code]

Should I create a pull request?

[2022-04-28 01:12] #19601 closed

[2022-04-28 01:55] #23915 closed

[2022-04-28 01:59] #24367 closed

[2022-04-28 02:14] JackBoosY commented on #20817
@davidebeatrici Yes please.

[2022-04-28 02:55] guotaiyu opened #24457 "[boost-math] build failure: One or more PCH files were found, but they were invalid"
**Host Environment**
- OS: AlmaLinux v8.5
- Compiler: gcc 8.5.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install boost` or `./vcpkg install boost-math`

**Failure logs**
Last page in `install-x64-linux-dbg-out.log`:
![IMG_8924](https://user-images.githubusercontent.com/15621867/165667308-b9addb3c-6441-4f57-a3fc-2e5d5b03544c.jpg)

**Additional context**
Related/similar to [Issue

[2022-04-28 03:39] guotaiyu commented on #24457
Tested on Centos 7 too and had the same issue

[2022-04-28 03:44] kael0930 opened #24458 "[python3] Build error"
**Host Environment**
- OS: [e.g. Windows/Linux etc...]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install xxxx`

**Failure logs**
-Cut and paste the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

**Additional context**
Add any other context about the problem here, such as what yo

[2022-04-28 04:25] LiuZhexuan opened #24459 "[glog] Enable Custom Log Prefix Format"
According to https://github.com/google/glog, custom log prefix format can only be enabled at compile time by the WITH_CUSTOM_PREFIX flag.
Currently it is not supported in Vcpkg, hope this feature can be added.
Thanks!

[2022-04-28 04:29] vishwanath377 opened #24460 "CMake Error at C:/dev/cpp/vcpkg/scripts/buildsystems/vcpkg.cmake:850 (message):"
CMake Error at scripts/cmake/vcpkg_execute_build_process.cmake:158 (message):
    Command failed: "C:/Program Files/CMake/bin/cmake.exe" --build . --config Debug --target install -- -v -j9
    Working Directory: C:/dev/cpp/vcpkg/buildtrees/blend2d/x64-windows-dbg
    See logs for more information:
      C:\dev\cpp\vcpkg\buildtrees\blend2d\install-x64-windows-dbg-out.log

Call Stack (most recent ca

[2022-04-28 04:35] hmoffatt opened #24461 "[fluidynth] provide libraries"
****
**Is your feature request related to a problem? Please describe.**
The fluidsynth port provides the fluidsynth tool only, not libraries that can be linked by another application.

**Proposed solution**
Publish the library for use by applications.

[2022-04-28 05:07] Thomas1664 commented on #24455
Fixed in #24433

[2022-04-28 06:09] BillyONeal commented on #24455
Fixed in https://github.com/microsoft/vcpkg/pull/24434

[2022-04-28 06:09] #24455 closed

[2022-04-28 08:48] JackBoosY commented on #24446
Can you give an example of the scenario you need?

[2022-04-28 09:06] niclar commented on #24440
it was missing in my x64-linux  build for some reason

[2022-04-28 09:14] JackBoosY commented on #24440
This port does not have any supports field to constrain its applicability, and according to the following, installing boost in any triplet should install it.
https://github.com/microsoft/vcpkg/blob/a106de33bbee694e3be6243718aa2a549a692832/ports/boost/vcpkg.json#L8
Make sure your vcpkg is up to date and try again after remove boost-uninstall.
If the problem persists, please provide full output.

[2022-04-28 09:16] niclar commented on #24440
@JackBoosY thanks, but can you maybe confirm the accumulators installed includes are present in the ci builds ?

[2022-04-28 09:29] JackBoosY commented on #24440
@niclar See https://dev.azure.com/vcpkg/public/_build/results?buildId=71104&view=logs&j=7b75bd19-17d3-53d4-00fd-23f1a49a8ba4&t=a23dba4e-3a62-59dc-a73c-a7222676d7a4&l=7133

[2022-04-28 09:31] FrankXie05 commented on #24458
@kael0930 Thanks for posting this issue, could you please provide the error log？

[2022-04-28 10:09] dg0yt commented on #24447
I think what would be needed is the `VERBATIM` option to `add_custom_command`.

[2022-04-28 10:13] dg0yt commented on #24440
Nightly CI produces a file list which everyone can download. E.g.
https://dev.azure.com/vcpkg/public/_build/results?buildId=71377&view=artifacts&pathAsName=false&type=publishedArtifacts
[code]

[2022-04-28 10:22] LilyWangLL commented on #24460
Thanks for posting this issue. Please provide the error log files:
[code]

[2022-04-28 10:46] Cheney-W commented on #24439
Thanks for your reply! I could reproduce this issue in my side.

[2022-04-28 10:59] vishwanath377 commented on #24460
C:\dev\cpp\vcpkg\buildtrees\blend2d\install-x64-windows-dbg-out.log
[1/161] C:\PROGRA~2\MICROS~2\2017\COMMUN~1\VC\Tools\MSVC\1416~1.270\bin\Hostx64\x64\cl.exe   /TP  -IC:\dev\cpp\vcpkg\buildtrees\blend2d\src\23dc95ca7d-d2fcae6730.clean\3rdparty\asmjit\src /nologo /DWIN32 /D_WINDOWS /W3 /utf-8 /GR /EHsc /MP  /D_DEBUG /MDd /Z7 /Ob0 /Od /RTC1  -MP -GR- -GF -Zc:__cplusplus -Zc:inline -Zc:strictStrings

[2022-04-28 11:01] vishwanath377 commented on #24460
C:\dev\cpp\vcpkg\build\build\vcpkg-manifest-install.log

Detecting compiler hash for triplet x64-windows...
The following packages will be built and installed:
  * atlmfc[core]:x64-windows -> 0#1
    blend2d[core,futex,jit,logging,tls]:x64-windows -> 2022-02-19
    blosc[core]:x64-windows -> 1.18.1#4
  * boost-algorithm[core]:x64-windows -> 1.79.0
  * boost-align[core]:x64-windows -> 1.79.0
  * bo

[2022-04-28 11:02] vishwanath377 commented on #24460
I am getting an error while trying to configure cmake for the installation of osgearth.

[2022-04-28 11:28] niclar commented on #24440
many thanks guys, the issue is obviously on my end (corrupt tree or something). keep up the invaluable job with this project

[2022-04-28 11:28] #24440 closed

[2022-04-28 12:19] darkstar opened #24464 "[qt5-base] x64-windows build failure in VStudio, but works on command line"
**Host Environment**
- OS: Windows 10
- Compiler: Visual Studio 2022 (17.1.5)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install qt5-base:x64-windows`

**Failure logs**
[code]

**Additional context**
I Attached all relevant log files:
* [config-x64-windows-dbg-err.log](https://github.com/microsoft/vcpkg/files/8582573/config-x64-windows-dbg-err.log) from the buildtree
* [config-x64

[2022-04-28 12:34] mattpulver opened #24465 "[arrow] Request for cuda support"
Can `cuda` please be added to the supported packages available for arrow?
As of release 2022.04.12 they are:
[code]

[2022-04-28 19:08] vicroms commented on #19027
There are cases where ports require tools from other ports in order to build (sometimes even from themselves). So, we built the tools for the host and reuse them for other ports that need them.

It is unfortunate but right now you can't uninstall the host package without having to remove the target package. But we would gladly accept a PR that changes the tool to allow that.

[2022-04-28 19:16] witty-one commented on #19241
It's 2022 now, does anyone have a solution to this problem?

[2022-04-28 20:45] johnwason opened #24468 "[openssl] Unable to build arm64 iphonesimulator libraries"
**Describe the bug**
The openssl package currently is unable to build arm64 iphonesimulator libraries. The following triplet is working successfully with other packages:

[code]
However in XCode, an error is returned saying that libssl.a and libcrypto.a were built for iOS and not the simulator.

The problem is here, in `ports/openssl/unix/CMakeLists.txt`

[code]

Replacing with a block that checks

[2022-04-28 22:16] #19027 closed

[2022-04-28 22:31] #23452 closed

[2022-04-28 22:53] #24426 closed

[2022-04-28 23:00] #24443 closed

[2022-04-29 00:40] luiszun commented on #23461
I'm encountering this issue again today:

File does not have the expected hash:

`File does not have the expected hash:

               url : [ https://patch-diff.githubusercontent.com/raw/zeromq/libzmq/pull/4311.diff ]
         File path : [ /mnt/vss/_work/1/s/cmake-build/vcpkg-src/downloads/zeromq-libzmq-4311.diff.20939.part ]
     Expected hash : [ 2b04e0ce4743d27070ea832c45e2d8fa0091c755757937

[2022-04-29 01:49] Adela0814 commented on #24457
thanks for sharing the case and workaround which may help other user.

[2022-04-29 01:49] #24457 closed

[2022-04-29 02:17] luiszun commented on #23461
Thanks @FrankXie05.
Yes, I'm seeing that the environment tries to install 4.3.4#4, and the patch that addreses this is #5.
Thanks!

[2022-04-29 05:51] #18612 closed

[2022-04-29 05:55] FrankXie05 commented on #21904
Will  be fixed by #21112

[2022-04-29 06:13] TheSharpOwl opened #24472 "[aws-cpp-sdk] "AWS SDK for C++ is missing, please install it first" after installation"
**Describe the bug**
Inside `[VCPKG_LOCATION]\vcpkg\installed\x64-windows\share\AWSSDK\AWSSDKConfig.cmake` (for me I am using x64-windows build but I remember the same issue with static one). There are 2 problems:
1. These lines cannot find the header
[code]
which takes it directly to the next lines printing that:
[code]
2. These lines cannot find the lib file: (because I added the directory conta

[2022-04-29 06:35] hetfmt commented on #24093
I thought I had all the dependencies installed, but I missed the last on on the list ("libxkbcommon-x11-dev"). So now the build process seems to continue, but now it fails because I am running out of disk space (my Jetson is only equipped with a 64GB SD-card) :-(
I'll close the issue for now. I will see if I can another ("larger") SD-card and then try again. If the problem persists, I'll get back

[2022-04-29 06:35] #24093 closed

[2022-04-29 06:47] dg0yt commented on #18612
Find the error!

[2022-04-29 07:48] LilyWangLL commented on #24416
The better way to use English file path, use other languages may have some error, like this issue.

[2022-04-29 07:49] JackBoosY commented on #24472
cc @camarois

[2022-04-29 07:52] LilyWangLL commented on #24404
Sorry, I can't understand your means, could you provide an example or steps to reproduce this issue in detail?

[2022-04-29 07:54] LilyWangLL commented on #24460
Thanks for your reply, I can reproduce this issue with Visual Studio 2017. I will confirm the reason soon.

[2022-04-29 08:12] lowerfain opened #24473 "[boost-regex] Build error"
**Host Environment**
- OS: [e.g. Windows/Linux etc...]win10
- Compiler: revision :  visual studio2022

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg install boost-regex[core]:x64-windows`

**Failure logs**
[code]
[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/8589180/install-x64-windows-dbg-out.log)

**Additional context**
Add any other context about the prob

[2022-04-29 08:26] vishwanath377 commented on #24460
cmake -S osgearth -B build -G "Visual Studio 15 2017 Win64" -DCMAKE_BUILD_TYPE=RelWithDebInfo -DWIN32_USE_MP=ON -DCMAKE_INSTALL_PREFIX=[installroot] -DCMAKE_TOOLCHAIN_FILE=[vcpkgroot]\scripts\buildsystems\vcpkg.cmake

I also tried with visual studio 2022 .
I am getting an error that "Visual Studio 15 2017 Win64" cannot find any instance of visual studio

[2022-04-29 10:45] StEvUgnIn commented on #23705
I don't understand either.

[2022-04-29 11:18] vishwanath377 commented on #24460
D:\a\_work\1\s\src\vcpkg\build.cpp(986): open_for_write("C:\dev\cpp\vcpkg\buildtrees\yasm\stdout-x64-windows.log"): permission denied
-- Running vcpkg install - failed
CMake Error at C:/dev/cpp/vcpkg/scripts/buildsystems/vcpkg.cmake:850 (message):
  vcpkg install failed.  See logs for more information:
  C:\dev\cpp\vcpkg\build\build\vcpkg-manifest-install.log
Call Stack (most recent call first):

[2022-04-29 15:19] jasonbeverage commented on #24460
We just ran into this today as well.  It's an issue with this commit:  https://github.com/microsoft/vcpkg/commit/20ac8a66f4f8fef944bb1f7457232b429c697a16
Apparently this new version of blend2d doesn't build on VS2017 but builds fine on VS2019.

[2022-04-29 16:51] vishwanath377 commented on #24460
CMake Warning at scripts/cmake/vcpkg_configure_cmake.cmake:432 (message):
  The following variables are not used in CMakeLists.txt:

      BUILD_OSG_PLUGIN_DICOM
      BUILD_OSG_PLUGIN_DIRECTSHOW
      BUILD_OSG_PLUGIN_FBX
      BUILD_OSG_PLUGIN_INVENTOR
      BUILD_OSG_PLUGIN_OPENCASCADE
      BUILD_OSG_PLUGIN_QTKIT
      BUILD_OSG_PLUGIN_RESTHTTPDEVICE
      BUILD_OSG_PLUGIN_SVG
      BUILD_OSG_

[2022-04-29 16:53] jasonbeverage commented on #24460
I've opened a [PR](https://github.com/blend2d/blend2d/pull/142) with the blend2d project that will hopefully fix this issue

[2022-04-29 17:06] vishwanath377 commented on #24460
Thanks for the reply

[2022-04-29 17:06] vishwanath377 commented on #24460
Thanks

[2022-04-29 17:07] vishwanath377 commented on #24460
Can U give the solution for this problem

[2022-04-29 17:10] jasonbeverage commented on #24460
Those warnings are from the osg port, they are just warnings so they are harmless and you can ignore them.

[2022-04-29 18:58] redbaron opened #24474 "--feature-flags command line arg is not documented"
****

**Is your feature request related to a problem? Please describe.**
I was trying to disable manifest mode when invoking vcpkg in a dir with vcpkg.json and wasn't able to find any mentions of `--feature-flags` switch.

Setting `VCPKG_FEATURE_FLAGS=` didn't help either (I assume vcpkg treats present, but empty value as not present and defaults to builtin features).

I had to dig into source cod

[2022-04-29 19:11] redbaron opened #24475 "use of features in command mode is not documented"
****

**Is your feature request related to a problem? Please describe.**
I am trying to install package in the command mode and failing to find relevant documentation on how make use of features. Package installation [example](https://vcpkg.io/en/docs/examples/installing-and-using-packages.html) doesn't mention features at all.

with trial and error I was able to find that features are enabled wit

[2022-04-29 20:21] #20817 closed

[2022-04-29 20:38] redbaron commented on #24475
Found it, special feature `core` has same effect as `--x-no-default-features` in manifest mode.

[2022-04-29 20:51] yurybura commented on #24473
@lowerfain Actual Boost version is 1.79.0. Could you update and try again?

[2022-04-29 22:25] friendlyanon commented on #12349
This is an upstream issue. evpp does not support clients using CMake, because it does not export a CMake package.

As it is right now, you have to manually find the includes, the library files, and guess whether they are shred or static.

Judging by the lack of activity in the upstream repo and the lack of responses to https://github.com/Qihoo360/evpp/issues/280, I doubt this will be fixed, or any

[2022-04-30 00:13] beached opened #24478 "[daw-json-link] update to v2.14.0"
Library name: daw-json-link to release v2.14.0,
Also, it's two dependencies need to be upgraded prior/at the same time
daw-header-libraries to v2.46.0
daw-utf-range to v2.2.2

New version number:
[daw-header-libraries] v2.14.0
[daw-header-libraries] v2.46.0
[daw-utf-range] v2.2.2

Other information that may be useful (release notes, etc...)
BUGFIX:  with json_delayed and json_value_state

[2022-04-30 02:29] lowerfain commented on #24473
After I updated vcpkg, I used the command 'vcpkg install boost:x64-windows'. The following error occurs:
Computing installation plan...
The following packages will be built and installed:
    boost[core]:x64-windows -> 1.79.0
  * boost-accumulators[core]:x64-windows -> 1.79.0
  * boost-algorithm[core]:x64-windows -> 1.79.0
  * boost-align[core]:x64-windows -> 1.79.0
  * boost-any[core]:x64-windows

[2022-04-30 03:48] vishwanath377 commented on #24460
Those warnings are from the osg port, they are just warnings so they are harmless and you can ignore them.

I m not able to procced further. It is getting stuck .

CMake Deprecation Warning at scripts/cmake/vcpkg_check_features.cmake:178 (message):
  calling `vcpkg_check_features` without the `FEATURES` keyword has been
  deprecated.

      Please add the `FEATURES` keyword to the call.
Call Stack

[2022-04-30 07:30] talregev commented on #24021
@bradh352 #16584 is not a PR. Can you point to correct PR?

[2022-04-30 12:32] leeh8911 opened #24481 "[CAIRO] I cannot install cairo using vcpkg"
Hello! I have some trouble using vcpkg.

I want to install cairo, but my windows10 cannot install.

When I typed
[code]
then, my windows power shell print out below texts.

[code]

[2022-04-30 14:08] rHermes opened #24482 "[New Port Request] YaaZ/VulkanMemoryAllocator-Hpp"
Library name: YaaZ/VulkanMemoryAllocator-Hpp

Library description:  C++ bindings for VulkanMemoryAllocator

Source repository URL: https://github.com/YaaZ/VulkanMemoryAllocator-Hpp

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2022-04-30 19:39] r4nx opened #24484 "[FlatBuffers] Add BuildFlatBuffers.cmake to the distribution"
****

**Is your feature request related to a problem? Please describe.**
Unable to compile .fbs files from CMake when using FlatBuffers via vcpkg, as necessary convenience functions are in [BuildFlatBuffers.cmake](https://github.com/google/flatbuffers/blob/master/CMake/BuildFlatBuffers.cmake), which isn't included to the port distribution.

**Proposed solution**
Add BuildFlatBuffers.cmake to port

[2022-04-30 21:56] bradh352 commented on #24021
@talregev sorry, not vcpkg #, https://github.com/openssl/openssl/pull/16584

[2022-05-01 00:37] marekr opened #24489 "[wxwidgets] vcpkg-cmake-wrapper.cmake causes failure to link debug libraries if project is reconfigured"
So this is bug in `vcpkg-cmake-wrapper.cmake` that was introduced in vcpkg

in Findwxwidgets.cmake
[code]

1st time cache
- vcpkg-cmake-wrapper.cmakeinvokves
-- Debug libs, wxWidgets_USE_REL_AND_DBG is not set, nothing happens
-- Release libs, wxWidgets_USE_REL_AND_DBG is set true by the first if statement.
-- Debug libs get selected for a debug build because wxWidgets_USE_REL_AND_DBG is true at t

[2022-05-01 01:53] JLSed commented on #22074
mine got fixed after downloading the `C++ CMake tools for Windows` in visual studio installer

[2022-05-01 06:43] alexmargulis commented on #24420
I also get FreeImage related errors when trying to build colmap on Windows 10
[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/8598411/install-x64-windows-dbg-out.log)

[2022-05-01 07:14] PavelCurtis opened #24492 "[vcpkg-tool-[coscli]] incorrect hash in vcpkgTools.xml"
**Describe the bug**
The Windows version of the "coscli" tool is listed in "vcpkgTools.xml" with an incorrect hash code.  Any attempt to download this tool for Windows will therefore fail.

**Environment**
- OS: Windows

**To Reproduce**
I don't know when this tool will be reqiured.

[2022-05-01 10:32] Chaojimengnan opened #24495 "Building libpq:x64-windows failed"
**Host Environment**
- OS: Windows 11 x64
- Compiler: Visual studio 2022

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg install qttools:x64-windows`

**Failure logs**

**Terminal output**

[code]

**build-libpq-x64-windows-RELEASE-out.log**:

[code]

**build-libpq-x64-windows-RELEASE-err.log**

[code]

**Additional context**

I have installed Qt6 before using vcpkg and did not have prob

[2022-05-01 12:45] rHermes opened #24496 "[ktx] build failure"
**Host Environment**
- OS: Linux
- Compiler: revision

**To Reproduce**
I'm using the vcpkg.json:

[code]
and C++20 in cmake.

**Failure logs**
[code]

**Additional context**
[code]

This is a known error, which has been fixed, but hasn't been included in the latest version yet:
https://github.com/KhronosGroup/KTX-Software/issues/421

How do we go about fixing this, as they haven't relased a new v

[2022-05-01 19:38] hros opened #24500 "[mpfr] Build error"
**Host Environment**
- OS: Windows 11, WSL2, Ubuntu 22.04
- Compiler: g++ 11.2.0-19

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install mpfr`

**Failure logs**
CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:128 (message):
    Command failed: /usr/bin/autoreconf -vfi
    Working Directory: /home/user/.local/vcpkg/buildtrees/mpfr/src/mpfr-4-2533b4c96d.clean/
    Er

[2022-05-01 19:39] hros opened #24501 "[New Port Request] NTL"
Library name: NTL

Library description: A Library for doing Number Theory

Source repository URL: https://github.com/libntl/ntl

Project homepage (if different from the source repository): https://libntl.org/

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2022-05-01 19:45] kromych opened #24502 "[LuaJIT] build failure"
**Host Environment**
- OS: Ubuntu Linux 22.04
- Compiler:
[code]

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install luajit`

**Failure logs**
-Cut and paste the appropriate build messages from the console output.
[code]

**Additional context**
The portfile always uses the Windows batch file (as evidenced above), and has no logic for Linux

[2022-05-01 19:54] dg0yt commented on #24489
Reproduced in CI with #24499.

[2022-05-01 20:06] dg0yt commented on #21905
Oops, for all agents/riplets suddenly no cache downloads, and uploads fail with 403 Forbidden: https://dev.azure.com/vcpkg/public/_build?definitionId=27&_a=summary

[2022-05-01 23:18] BillyONeal commented on #21905
![image](https://user-images.githubusercontent.com/1544943/166168638-65707354-7964-45aa-9afb-753696c833a2.png)

SAS token expiry strikes again

[2022-05-01 23:26] BillyONeal commented on #21905
OK should be fixed 😅

[2022-05-02 03:26] vishwanath377 commented on #24460
Step 5 - Set up your runtime environment

You’ll need to make sure that the vcpkg dependencies and osgEarth are in your path:

set PATH=%PATH%;path\to\build\vcpkg_installed\x64-windows\bin
set PATH=%PATH%;path\to\build\vcpkg_installed\x64-windows\tools\osg
set PATH=%PATH%;[installroot]

How can we do this following step?

[2022-05-02 05:55] dg0yt commented on #21905
And a lot of curl output now: https://dev.azure.com/vcpkg/public/_build/results?buildId=71571&view=logs&j=7922e5c4-0103-5f8f-ad17-45ce9bb98e80&t=491b9f02-7edc-5990-cda1-511e95a3768e

[2022-05-02 06:15] playgithub opened #24504 "What's the diff for `VCPKG_DEFAULT_HOST_TRIPLET` and `VCPKG_DEFAULT_TRIPLET`?"
At https://vcpkg.io/en/docs/users/triplets.html, nothing about `VCPKG_DEFAULT_HOST_TRIPLET`.

[2022-05-02 06:41] dg0yt commented on #24504
(Please ask questions in "Discussions".)

These are environment variables, documented in [Environment and Configuraion](https://vcpkg.io/en/docs/users/config-environment.html#vcpkg_default_triplet), not CMake toolchain variables.

[2022-05-02 08:36] #24504 closed

[2022-05-02 08:38] playgithub commented on #24504
OK, the entry in `Issues` is a little misleading
![image](https://user-images.githubusercontent.com/3665590/166207415-2a6be65c-d20c-4751-98af-91164c48dd0b.png)

[2022-05-02 12:52] jasonbeverage commented on #24460
This is just telling you to set up your PATH environment variable on
windows to make sure the dlls that vcpkg installed can be found.

If you need help with osgearth I recommend opening an issue or discussion
on the osgearth GitHub repository and we can help you there.  That way we
can keep this issue related to blend2d.

On Sun, May 1, 2022, 11:26 PM vishwanath377 ***@***.***>
wrote:

[2022-05-02 14:46] ywang2017 commented on #23488
latest code still get same error. I need both debug and release, so VCPKG_BUILD_TYPE is not set.

replease

Building package apr[core]:x64-linux...
-- Installing port from location: /vcpkg/buildtrees/versioning_/versions/apr/b9e93acdaa680398eaed361f1df530096ded84ff
-- Downloading https://www.apache.org/dist/apr/apr-1.7.0.tar.bz2 -> apr-1.7.0.tar.bz2...
-- Extracting source /vcpkg/downloads/apr-1.7

[2022-05-02 16:16] daschuer commented on #24140
Can we reopen this issue, to issue a reasonable error message?
It took me quite a while to find this closed bug. A huge waste of time.

[2022-05-02 17:20] hugoam opened #24510 "[v8] Build failure in x64-windows (likely broken by PR #24066)"
**Host Environment**
- OS: Windows
- Compiler: Visual Studio 2019 Version 16.11

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install v8` (with default triplet set to x64-windows)

**Failure logs**
This will produce an error logged to `vcpkg\buildtrees\v8\generate-x64-windows-dbg-out.log` which looks like the following:
[code]

**Additional context**
It seems this is broken by PR htt

[2022-05-02 17:42] cedral commented on #16655
can you setup a pull request for your fix to the dbhelp port so those of us who want it can apply it to our own repo? or if you just using a port overlay can you zip it up and attach it here in this discussion? I am running into this myself and would sure like to not have to reinvent the wheel.

[2022-05-02 18:21] dg0yt commented on #23488
Your repo is not too old, but the port version is. The fix for this bug bumped the version to 1.7.0#8.

[2022-05-02 18:56] #24447 closed

[2022-05-03 05:51] talregev opened #24518 "[fontconfig] gperf dependency from vcpkg"
fontconfig require gperf.
It can be install from vcpkg.
My request is that gperf will be dependency of fontconfig. and able to detect it (add it to that PATH) and use it.
Thank in advance.

[2022-05-03 13:50] Hyunkil76 opened #24520 "[colmap] Build error"
**Host Environment**
- OS: Windows_64x
- Compiler: MSVC19
**To Reproduce**
Steps to reproduce the behavior:
.\vcpkg install colmap[cuda,tests]:x64-windows

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
    colmap[core,cuda,tests]:x64-windows -> 2022-03-14
Detecting compiler hash for triplet x64-windows...
Restored 0 packages from C:\Users\Hyunk

[2022-05-03 14:03] MathiasMagnus opened #24521 "[opencl] Submodule support for git clones"
****

**Is your feature request related to a problem? Please describe.**
I would like to simplify the OpenCL SDK port by using the new [OpenCL-SDK](https://github.com/KhronosGroup/OpenCL-SDK) repo which contains everything (and more) than the current `opencl` port. This repo references components as Git submodules. The `opencl` port still needs 3-4 git clones instead of just one, because submodule

[2022-05-03 14:43] Strox0 opened #24522 "[blas] build error"
blas x86 & x64 give a build error. I have tried reasearching it online to find a solution but I couldnt.
This is how the installation procces looks like, I dont know what could be wrong. I have reinstalled vcpkg that didnt help.

[code]

[2022-05-03 15:38] m-bruchovets commented on #22999
It seems upstream bug was fixed: https://github.com/bfgroup/b2/issues/136

[2022-05-03 16:32] Skuddo commented on #22533
@JackBoosY I got this issue today while trying to install on RPi3 b.2 with 8.3.1 arm-none-eabi.

[2022-05-03 18:42] scott-ish commented on #21352
I have the same issue when building for OSG win10 VS2017 x64. Is there a patch available for this?

[2022-05-03 21:52] AugP commented on #24481
Hello, if you re-run the install command, does the error persist? It looks like Cairo should work with x64-windows. It looks like the install failed when running the dumpbin.exe tool that ships with MSVC. I am not sure what went wrong, but I pinged others on the vcpkg team to take a look and reply to this.

[2022-05-04 02:29] #24415 closed

[2022-05-04 05:16] maponarooo opened #24527 "[libusb] Build error"
**Host Environment**
- OS: [e.g. Windows/Linux etc...]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install xxxx`

**Failure logs**
-Cut and paste the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

**Additional context**
Add any other context about the problem here, such as what yo

[2022-05-04 05:17] #24527 closed

[2022-05-04 06:02] leileigong opened #24530 "[boost-math] Build error : fatal error C1189: #error: Support for C++03 has been removed. The minimum requirement for this library is fully compliant C++11."
**Host Environment**
- OS: [Windows10]
- Compiler: VS2015

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg install  boost:x64-windows-static`

**Failure logs**
[code]

**Additional context**
detail log in `install-x64-windows-static-dbg-out.log`:
[code]

[2022-05-04 06:21] ChrisSchulte commented on #21352
Hi @scott-ish,
no patch for the moment as I opened an issue at collada-dom but without any response for the moment. Astonishingly I've no bug any more if I builld with Visual Studio 2019 on Win 10. Best way is as I stated in the opening message is to patch daeElement.cpp by adding #include <algorithm>.

[2022-05-04 07:22] ZZWang21 commented on #24520
same problem here. Any solutions?

[2022-05-04 08:22] meastp commented on #16655
@cedral : sure, this is my portfile.cmake:

[code]

Suggestions and corrections are welcome. :)

[2022-05-04 10:37] talregev opened #24533 "[nuspell] build failure on master."
nuspell build failure on master.
Please fix it.

[2022-05-04 11:22] xavier2k6 opened #24534 "[OpenSSL] update to 3.0.3"
Library name: OpenSSL

New version number: 3.0.3

Other information that may be useful (release notes, etc...)
https://www.openssl.org/source/
https://github.com/openssl/openssl/tags
https://www.openssl.org/news/secadv/20220503.txt
https://www.openssl.org/news/newslog.html

[2022-05-04 11:34] Neumann-A commented on #24533
CI runs fine so what is the error?

[2022-05-04 11:50] talregev commented on #24533
From master:
https://dev.azure.com/vcpkg/public/_build/results?buildId=71602&view=results
https://dev.azure.com/vcpkg/public/_build/results?buildId=71602&view=logs&j=878666d5-db33-5b27-9e7d-b0c7ee352005&t=d914c609-a9aa-5880-221f-cbd46db9069e

For example it fail on nuspell:x86-windows also for x64. test locally also fail.

[2022-05-04 12:07] Jure-BB commented on #14025
Is there any workaround for this issue?

[2022-05-04 12:27] Neumann-A commented on #24533
Yeah baseline issue. No reason to open up an extremely short unhelpful issue without also telling the error in detail.
Since you have been around long enough to know this, you earned my thumbs down for your main comment :P

Main CI is rarely completely clean, so having only 1-2 ports fail is already quite good. Having a title like: "[all ports] build failure on master" seems to indicate nothing bu

[2022-05-04 12:44] autoantwort commented on #14025
Should not happen anymore if you don't change your vcpkg.json file.

[2022-05-04 13:01] cgurps opened #24536 "[usd] Build Failure on Windows"
**Host Environment**
- OS: Windows
- Compiler: VS 2019 / VS 2022
- vcpkg version 2022.04.12

Good afternoon,

I'm currently working on an USD 22.05 port. The port works fine on Linux and macOS (x86/arm64), but I'm having a weird `CMake` bug. More precisely, in debug, `CMake` is generating a `cmake_install.cmake` that contains a typo:
[code]
which is the extraneous `"` at the end of `set`. Did you

[2022-05-04 13:18] #22840 closed

[2022-05-04 13:34] Jure-BB commented on #14025
For me, vcpkg install runs every time I run CMake configure in VS 2022 (17.2 preview 6). No changes made to vcpkg.json file.

[2022-05-04 13:55] Neumann-A commented on #23991
seems already be in Qt 6.3

[2022-05-04 13:55] #23991 closed

[2022-05-04 14:00] dg0yt commented on #24536
This is not portable. You must quote the entire cmake expression:
[code]

And this is also which breaks your build, with `Python3_EXECUTABLE` being empty:

[code]

[2022-05-04 14:05] cgurps commented on #24536
That was indeed the problem! Thanks a lot.

[2022-05-04 14:05] #24536 closed

[2022-05-04 15:48] venabled commented on #16019
Also for reference, 4.1.1 won't build on mac-osx arm64, their cmake tooling tries to optimize for an architecture that doesn't exist

[2022-05-04 16:04] autoantwort commented on #14025
Yes the issue is only fixed for msbuild (the original issue message is about msbuild). For cmake is will be fixed after https://github.com/microsoft/vcpkg-tool/pull/362 gets merged

[2022-05-04 18:57] talregev commented on #24533
Sorry, You are right. I was over dramatic. Should I change the title and you will remove the thumb down?

[2022-05-04 22:24] Kyle-Cooley opened #24540 "[hyperscan] update to 5.4.0"
Library name: hyperscan

New version number: 5.4.0

Other information that may be useful (release notes, etc...)
https://github.com/intel/hyperscan/releases/tag/v5.4.0

[2022-05-05 01:40] JonLiu1993 commented on #24500
@hros ,Thanks for posting this issue, could you please provide the error log:
[code]

[2022-05-05 01:51] johnco3 commented on #24522
I also get this error building python3:x64-windows right after installing a fresh copy of vcpkg and bootstrapping it.

PS C:\tools\vcpkg> .\vcpkg.exe install python3:x64-windows --debug

CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:128 (message):
    Command failed: msbuild C:/tools/vcpkg/buildtrees/python3/x64-windows-dbg/v3.10.2-a8de38632e.clean/PCbuild/pcbuild.proj /p:Confi

[2022-05-05 01:53] hros commented on #24500
@JonLiu1993, here are the logs

output of `autoconf-x64-linux-out.log`:
[code]

output of `autoconf-x64-linux-err.log`:
[code]

[2022-05-05 02:26] FrankXie05 commented on #24458
@kael0930  does the issue still occur?

[2022-05-05 02:27] FrankXie05 commented on #24458
We don't have enough information to solve this issue, unfortunately; if you have any more information to help us solve this, please reopen!

[2022-05-05 02:27] #24458 closed

[2022-05-05 02:29] JonLiu1993 commented on #24500
@hros I reproduced your issue locally, when I installed the autoconf-archive package according to the command prompt, the problem was solved, and mpfr could be installed successfully
[code]

[code]

[2022-05-05 02:39] JackBoosY commented on #22533
@Skuddo Can you please provide the output?

[2022-05-05 02:44] marekr commented on #24489
This is now fixed by the merged PR

[2022-05-05 02:44] #24489 closed

[2022-05-05 02:45] LilyWangLL commented on #24460
Fixed in PR #24508

[2022-05-05 02:45] #24460 closed

[2022-05-05 02:58] JackBoosY commented on #24495
Can you please confirm that you've installed the English Language package using Visual Studio Installer?

Thanks.

[2022-05-05 03:05] JackBoosY commented on #24530
This should be a boost compatibility issue with Visual Studio 2015, most likely an upstream bug.
But I suggest you to update Visual Studio to 2017, which can resolve this issue faster and easier.

[2022-05-05 03:11] FrankXie05 commented on #24464
@darkstar Thanks for posting this issue,
could you please provide the `CMakeSettings.json` in your Visual Studio? And please confirm if `_VCPKG_INSTALLED_DIR` is set to `D:/Devel/vcpkg/installed`, if not please set it and try again.

[2022-05-05 03:40] dg0yt commented on #23705
Maybe usage will become clearer when #24308 is merged.

[2022-05-05 06:21] JackBoosY commented on #24510
cc @Kwizatz
It should be a port bug.

[2022-05-05 06:44] JackBoosY commented on #24401
Please try `sudo apt-get autoconf automake libtool`.

[2022-05-05 06:51] FrankXie05 commented on #24492
@PavelCurtis Thanks for posting this issue. Yes, now the hash is wrong. Maybe upstream made a change. I'll update it.
This problem was caused by not adding the `coscli` test.
About what coscli is, you can refer to https://github.com/microsoft/vcpkg-tool/pull/476

[2022-05-05 07:00] FrankXie05 commented on #24522
@Strox0 Could you please provide the error log?
`C:\Program Files\vcpkg\buildtrees\blas\config-x64-windows-out.log`
@johnco3 This is not the same port issue, please open a new issue.

[2022-05-05 07:16] LilyWangLL commented on #24518
Thanks for posting this issue. Do you mean add `gperf` as a new port in vcpkg?

[2022-05-05 07:17] Chaojimengnan commented on #24495
Thanks for your reply, I didn't realize it was a language pack issue. The problem is finally solved,  thanks!!!

[2022-05-05 07:26] #24495 closed

[2022-05-05 07:29] hros commented on #24500
thanks @JonLiu1993
after installing `autoconf-archive` the packages in question (`flint` and its dependency `mpfr`) installed successfully

it would be helpful if `vcpkg` displayed (hopefully, higlighting) the `cmake` warning regarding the missing packages

[2022-05-05 07:42] JonLiu1993 commented on #24500
@hros ,Currently we have a warning about installing under linux:
[code]
In general, if you encounter errors involving the autoconf-archive package, you can try to install autoconf-archive to solve them

[2022-05-05 08:04] #24500 closed

[2022-05-05 08:34] hugoam commented on #24510
I guess probably @bold84 too as I am now 100% positive PR https://github.com/microsoft/vcpkg/pull/24066 broke this.
https://github.com/microsoft/vcpkg/commit/2ac61f87f69f0484b8044f95ab274038fbaf7bdd builds perfectly fine,

[2022-05-05 08:44] JackBoosY commented on #24510
cc @bold84

[2022-05-05 08:55] JackBoosY commented on #24140
Fixed by #24512.

[2022-05-05 08:55] #24140 closed

[2022-05-05 09:07] FrankXie05 commented on #24291
Please delete the cache before retry, this is the result of my query notation. Obviously, `openssl` has the required symbols in the exported `libcrypto.lib` and `libssl.lib`.

![image](https://user-images.githubusercontent.com/65999885/166892147-f117a397-bc92-47e9-9440-87320c431086.png)

![image](https://user-images.githubusercontent.com/65999885/166892586-341aa2ad-7ece-4651-b3ee-94144ec7ceaa.png)

[2022-05-05 09:14] Adela0814 commented on #24484
`BuildFlatBuffers.cmake` has been parsed when configuring. I'd like to confirm your request, could you please share your usage scenarios and reproduction steps?

[2022-05-05 09:39] JackBoosY commented on #24416
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2022-05-05 09:39] #24416 closed

[2022-05-05 09:50] daschuer opened #24548 "[vcpkg-tool] default-features are enabled for all dependencies even if not required."
I have create https://github.com/microsoft/vcpkg/pull/24539 to remove extra pointless dependencies form our target project.
Unfortunately it works only half way round. Installing vamp-sdk only, still pulls in the default libsndfile with all dependencies into the project. The target project needs to ship pointless libraries just to satisfy the linker. In this case the vamp-host can only handle wav

[2022-05-05 09:52] Neumann-A commented on #24548
No that is a design decisions. You need to be explicit about every dependency from which you don't want to have the defaults.

[2022-05-05 10:25] SchaichAlonso opened #24552 "[fontconfig] Enable tool command line options"
****

**Is your feature request related to a problem? Please describe.**
fontconfig bundles some tools, such as `fc-pattern`. All of these tools can take command line parameters, however they only support command line options if `getopt` is available... otherwise options like `--verbose` will just be interpreted as positional arguments, which in the case of `fc-patten` results in `fc-pattern` assu

[2022-05-05 10:34] daschuer commented on #24548
I think I am explicit with `./vcpkg install vamp-sdk`. I want to have the vamp-sdk, with all default features, but not 6 additional libraries, that are default when I ask explicit for libsndfile, but are useless here.

As vcpkg user I have not the knowledge to set all dependencies to just "core" to get the expected result. But If I need a feature of a dependent library directly, I will be able can

[2022-05-05 10:38] Neumann-A commented on #23746
@JackBoosY close this?

[2022-05-05 10:38] WangHHY19931001 opened #24554 "[v8] Build error"
windows10

vcpkg install v8
Computing installation plan...
The following packages will be built and installed:
    v8[core]:x86-windows -> 9.1.269.39#4
Detecting compiler hash for triplet x86-windows...
Restored 0 packages from C:\Users\CF\AppData\Local\vcpkg\archives in 210.1 us. Use --debug to see more details.
Starting package 1/1: v8:x86-windows
Building package v8[core]:x86-windows...
Conside

[2022-05-05 10:42] Neumann-A commented on #24548
#11602

[2022-05-05 11:53] daschuer commented on #24548
I have read trough the whole discussion of #11602, but there was not a single argument why the current behavior is favored over the proposed, except that "it is a design decision".

I think the given real live example shows impressive that we should revise the design decision.
Here is another one: https://github.com/microsoft/vcpkg/issues/12216

Do you have a real live counter example?

[2022-05-05 11:57] #24401 closed

[2022-05-05 11:57] minhaajk commented on #24401
@JackBoosY Thanks..the issue got resolved

[2022-05-05 12:07] voltagex opened #24556 "[sqlite3] Could not find a package configuration file provided by "unofficial-sqlite3" after installing sqlite3"
**Describe the bug**
[code]
Note that I'm reporting this using a GitHub Action but I also hit the same issue locally with another cmake project

**Environment**
- OS: Windows - windows-latest GitHub action with lukka's run-cmake/run-vcpkg tasks
- Compiler: VS2022

**To Reproduce**
Steps to reproduce the behavior:
Run the workflow in https://github.com/baxterworks-build/test-vcpkg-sqlite3/runs/6305

[2022-05-05 12:37] voltagex commented on #24556
@dg0yt via the `lukka/run-cmake@v10` action. I've just tried again locally and it works correctly - I'll open an issue with the author of that action. Apologies.

[2022-05-05 12:37] #24556 closed

[2022-05-05 13:22] FAKERINHEART opened #24557 "[grpc] update to 1.46.0"
Library name:grpc

New version number:1.46.0

Other information that may be useful (release notes, etc...)
https://github.com/grpc/grpc/releases/tag/v1.46.0

[2022-05-05 13:43] anluoma commented on #23875
Same here with Windows 11

[2022-05-05 13:54] JulZimmermann opened #24558 "How to ignore transient dependencies?"
Hello,

I want to use vcpkg in my multi-platform project. I want to use it for all my libraries on a windows system, but for Linux, I'd like to use the system package manager for "big" libraries like Boost or OpenSSL, and use vcpkg only for smaller (header only, or statically linked) libraries.

I understand, that it is possible to achieve this with the `platform` field of the dependencies in the

[2022-05-05 14:33] autoantwort commented on #24558
No this is not directly possible. You can write overlay ports that simply do nothing.

[2022-05-05 15:03] madig opened #24559 "[openssl] Static builds should maybe set `no-module` configure option"
****

**Is your feature request related to a problem? Please describe.**

OpenSSL 3.0 deprecated some old algorithms like RC2-40-CBC, which are still in use in some PKCS#12 certificates. Using them requires something like

[code]

at the start of your program; however, a static OpenSSL build (`no-shared`) will try to dynamically load e.g. legacy.so, which will not exist. To make the legacy provide

[2022-05-05 15:09] songlm2005 opened #24560 "[cfitsio] read data file failed"
Please create a discussion in https://github.com/microsoft/vcpkg/discussions/new instead.

[2022-05-05 15:18] songlm2005 commented on #24560
When I read the fits file with fitsio,
df2 = FITS(“F:/Julia-work/HEB200227305_HE-Evt.fits”)
the output information:ERROR: LoadError: BitArray (‘X’) columns not yet supported
Stacktrace:
[1] error(::String) at .\error.jl:33
[2] fits_get_col_info at C:\Users\hp.juliapro\JuliaPro_v1.4.0-1\packages\FITSIO\BavHZ\src\table.jl:44 [inlined]
[3] show(::Base.TTY, ::TableHDU) at C:\Users\hp.juliapro\JuliaPro

[2022-05-05 15:21] autoantwort commented on #24548
You are maybe interested in https://github.com/microsoft/vcpkg/issues/19173 or a similar behavior

[2022-05-05 15:59] daschuer commented on #24548
Yes, but I see no reason why such "--minimal-dependencies" feature is not the default. Do you?

[2022-05-05 16:30] EsbernTK opened #24562 "[yasm] Build error, cannot open tools\re2c\re2c.exe for writing"
I was trying to compile pycolmap as instructed in the github repo under Windows https://github.com/colmap/pycolmap
In the middle of installing python 3.10 it hung for 30 minutes and i had to restart the compile.
After this i got the error that the compile had gotten access denied for opening install-x64-windows-dbg-out.log
I figured out that re2c.exe had a handle on that file and two other files,

[2022-05-05 16:50] daschuer commented on #24548
I have also added a comment to your https://github.com/microsoft/vcpkg-tool/pull/177

[2022-05-05 17:23] SpenserCai opened #24564 "[cpp-httplib] update to v0.10.7"
https://github.com/yhirose/cpp-httplib/releases/tag/v0.10.7

[2022-05-05 17:53] ras0219-msft commented on #24481
From an x86 Visual Studio Developer Prompt, can you reproduce the issue by directly running the command?

[2022-05-05 18:00] #24449 closed

[2022-05-05 19:37] kalikin opened #24568 "[OpenSSL] update to 1.1.1o"
Library name: OpenSSL

New version number: 1.1.1o

Other information that may be useful (release notes, etc...)

https://www.openssl.org/
https://www.openssl.org/source/

[2022-05-05 20:35] #24540 closed

[2022-05-05 20:36] #24492 closed

[2022-05-05 20:47] #24533 closed

[2022-05-06 02:13] #24502 closed

[2022-05-06 02:14] #23746 closed

[2022-05-06 02:15] Adela0814 commented on #24213
@fabianvakhidi  ping~

[2022-05-06 02:17] Adela0814 commented on #23969
We don't have enough information to solve this issue, unfortunately; if you have any more information to help us solve this, please reopen!

[2022-05-06 02:17] #23969 closed

[2022-05-06 02:44] FrankXie05 commented on #24560
@songlm2005 This is not an issue with vcpkg, for `Julia` they are improving their features and you should submit an issue with them instead of vcpkg. I'm going to close it because we can't provide any help, sorry. :)
https://github.com/JuliaAstro/FITSIO.jl/issues

[2022-05-06 03:39] lunkyguy opened #24569 "There is a problem with darknet using cmake with CMAKE_TOOLCHAIN_FILE !"
while I am writing find_package(Darknet CONFIG REQUIRED) in my CMakeLists.txt,the compiler tells `find_package_handle_standard_args` (PThreads4W) does not match the name of the calling package (Darknet).

[2022-05-06 04:22] dg0yt commented on #24569
It as a problem with port pthreads, and should be resolved with #24308.

[2022-05-06 04:24] dg0yt commented on #24569
Note that you see a warning, i.e. a mild form of "problem".

[2022-05-06 06:35] Adela0814 commented on #22999
yes, I will update `boost-context` once the new version is released.

[2022-05-06 06:51] Adela0814 commented on #24496
Here's a new version [v4.1.0-rc1](https://github.com/KhronosGroup/KTX-Software/releases/tag/v4.1.0-rc1),  I will update to this version if no new version is released next week.

[2022-05-06 06:54] Adela0814 commented on #24446
@AdelCraftZ ping for response.

[2022-05-06 07:01] dg0yt commented on #24548
IMO there are competing perspectives and goals, e.g.
- Feature convenience (defaults) vs. feature control (minimal)
- Maintainer perspective (implementing options) vs. user perspective (consuming options)
- Single, well-defined installation (CI) vs. incremental installation/removal (interactive)

You cannot achieve them all equally well. I'm not enthusiastic about the current approach, but at leas

[2022-05-06 07:14] JackBoosY commented on #24548
For the dependencies:
[code]
We should use this method in order to avoid consuming resources as much as possible on the installation of unnecessary default features.

For install, installing default features without declaring feature `core` is by design:
- This is also what "default feature" means.
- This will significantly reduce the number of reinstallations of this port: other ports may rely on

[2022-05-06 07:44] daschuer commented on #24548
@JackBoosY Do you propose that the example vcpkg.json fragment above of a of port `a` shall automatically install only `port-name[core]` when it is installed by `./vcpkg install a`?
And `./vcpkg install port-name` will install port-name[defualt-features]?

[2022-05-06 07:59] LilyWangLL commented on #24518
If use port `gperf` as dependency of `fontconfig`, we can just use `find_program` to search `gperf` as the comment https://github.com/microsoft/vcpkg/issues/9243#issuecomment-568903159. But install port `gperf` need configure and build cmake, it will take more time than downloading the tools `gperf`.

[2022-05-06 07:59] JackBoosY commented on #24548
@daschuer If we set `"default-features": false` in manifest file, when installing the port, its dependency will not install the default features.
Such as:
[code]
`./vcpkg install a` will install `a[core, default-features]` and `b[core]`.

[2022-05-06 08:02] JackBoosY commented on #24473
Can you please remove `boost-uninstall` then try again?

Thanks.

[2022-05-06 08:06] daschuer commented on #24548
This is currently not the case unfortunately and the core part of this issue. (See my initial post).

Translated to the abstract example we have:
Current state:
`./vcpkg install a` will install `a[core, default-features] and b[core, default-features]`
and
`./vcpkg install b[core] a` will install `a[core, default-features] and b[core]`

[2022-05-06 08:11] JackBoosY commented on #24548
I will double confirm this with my team members later.

[2022-05-06 08:21] JackBoosY commented on #16655
@meastp Can you authorize me to open a PR with your modifications to fix this?

[2022-05-06 08:27] JackBoosY commented on #24287
Maybe a gfortran bug, @Neumann-A is it?

[2022-05-06 08:28] daschuer commented on #24548
@dg0yt

If we change to the proposed mode we have both. Those, don't care about features and just use the port name get the default features of the library, but also no known-unnecessary dependencies, saving HDD and CPU.

That's a fair point, for the current behavior and applies only if the new required feature is part of the default feature set.
It comes at a cost of HDD and CPU of the initial bu

[2022-05-06 08:32] darkstar commented on #24464
@FrankXie05
I do not have a CMakeSettings.json file anywhere. I have a CMakePresets.json in the project directory, is that what you mean?

Also I have not set `_VCPKG_INSTALLED_DIR` (I was not aware that I have to set that). I have, however, added the line `set(CMAKE_TOOLCHAIN_FILE "D:/Devel/vcpkg/scripts/buildsystems/vcpkg.cmake")` to the top of CMakeLists.txt, and that seems to set `_VCPKG_INSTA

[2022-05-06 08:35] rHermes commented on #24496
I've updated to this version myself, but some of the patches applied no longer works. I tried my hand at updating them, but CMake is not my forte, sadly :sweat:

[2022-05-06 08:42] sundarsabapathi opened #24572 "[POCO] update to 1.11.2"
Library name: POCO

New version number: 1.11.2

https://github.com/pocoproject/poco

[2022-05-06 08:43] sundarsabapathi opened #24573 "[Catch2] update to 2.13.9"
Library name: Catch2

New version number: 2.13.9

(https://github.com/catchorg/Catch2)

[2022-05-06 08:44] meastp commented on #16655
@JackBoosY sure, go ahead :) I would, however, confirm (with Microsoft) that the files from the versioned sdk folder(s):
- "$ENV{WindowsSdkDir}Lib\\${VCPKG_CMAKE_SYSTEM_VERSION}\\um\\${TRIPLET_SYSTEM_ARCH}\\dbghelp.lib"
- "$ENV{WindowsSdkDir}Include\\${VCPKG_CMAKE_SYSTEM_VERSION}\\um\\dbghelp.h"
are, in fact, compatible with the dll in:
- "$ENV{WindowsSdkDir}Debuggers\\${TRIPLET_SYSTEM_ARCH}\\dbgh

[2022-05-06 08:44] sundarsabapathi opened #24574 "[FakeIt] update to 2.1.1"
Library name: FakeIt

New version number: 2.1.1

https://github.com/eranpeer/FakeIt

[2022-05-06 08:49] talregev commented on #24518
In other hand, if a liux distro doesn't have gperf in their app manger, installing via vcpkg is prefer way.
Installing gperf via vcpkg is not taking much.

[2022-05-06 09:15] OkamiMks commented on #20430
Hi, I recently came across the same error.

**I managed to solve it by downloading the Cmake package again, at https://cmake.org/download/**

I hope it can help anyone who encounters this same error in the future <3

[2022-05-06 09:27] LilyWangLL commented on #24518
And `gperf` in vcpkg has some error on UWP.

[2022-05-06 09:35] cgurps opened #24575 "[tbb-2020_U3] build failure"
**Host Environment**
- OS: Windows 11
- Compiler: VS 2019

Good afternoon. I'm getting an error while building `TBB`:
[code]
 Have you ever encountered that? It seems to be related to the project SLN configuration

[2022-05-06 09:39] cgurps commented on #24575
I've tried nuking my `vcpkg` cache and the `buildtress` folder but without success.

[2022-05-06 09:44] talregev commented on #24518
fontconfig is compile on uwp?
also there isn't app manager can i stall gperf in uwp. so it will not matter for uwp

[2022-05-06 09:46] JackBoosY commented on #24575
Can you please provide the full log and repair your Visual Studio using Visual Studio Installer?

Thanks.

[2022-05-06 09:48] cgurps commented on #24575
Here's the full build log: [build-x64-windows-rel-out.log](https://github.com/microsoft/vcpkg/files/8639104/build-x64-windows-rel-out.log). I'm repairing my install right now.

[2022-05-06 09:50] daschuer commented on #24548
I think we have the issue of a missing definition if default-fearure.

For me the default features of a library is what upstream considers as default. They have anyway the power to add or remove dependencies without making them a feature.

Can you please clarify when this applies? Do you have a real live example when it has make your work easier?

[2022-05-06 09:51] cgurps commented on #24575
Repairing with Visual Studio Installer and rebuilding doesn't solve the issue.

[2022-05-06 09:51] cgurps commented on #24575
Looking at the environment variables, I only have one `PATH` which is under `System variables`

[2022-05-06 09:54] cgurps commented on #24575
So the repro is as followed:
- set `VCPKG_KEEP_ENV_VARS=PATH` in your env variables
- build the latest `tbb` version from `vcpkg`

[2022-05-06 09:56] JonLiu1993 commented on #24572
@sundarsabapathi, thanks for posting this question, pr #24425 has updated poco to latest version 1.11.2, please update your vcpkg with command "git pull" and use it

[2022-05-06 09:56] #24572 closed

[2022-05-06 10:04] BZandi opened #24576 "[python3 x64-osx-dbg] Build error"
**Host Environment**
- OS: macOS 10.15.7
- Compiler: revision

**To Reproduce**
I use a Vcpkg.json file (manifest mode) with the following content
[code]

The vcpkg folder is a submodule in my GitHub repo and is on the latest commit.

**Failure logs**
-- Downloading https://github.com/python/cpython/archive/v3.9.2.tar.gz -> python-cpython-v3.9.2.tar.gz...
-- Extracting source /Users/papillonmac/De

[2022-05-06 10:04] LilyWangLL commented on #24518
It is my mistake, `fonconfig` also build failed on UWP. We will dicussion this issue on our meeting and reply soon.

[2022-05-06 10:05] Cheney-W commented on #24554
Could you please provide us with following logs?
E:\vcpkg\buildtrees\v8\generate-x86-windows-dbg-out.log
E:\vcpkg\buildtrees\v8\generate-x86-windows-dbg-err.log

[2022-05-06 10:11] talregev commented on #24518
Thank you

[2022-05-06 12:14] github-monstrs opened #24579 "[cpr] update to 1.8.3"
Library name: cpr

New version number: 1.8.3

Other information that may be useful (release notes, etc...) - https://github.com/libcpr/cpr/releases/tag/1.8.3

[2022-05-06 12:29] dg0yt commented on #24464
This is not relevant for `vcpkg install qt5-base:x64-windows`.

Obviously, the command line stumbled over the ` ` in `Visual Studio`. Is vcpkg really meant to build/install in `C:/Program Files/Microsoft Visual Studio/2022/Community/Common7/IDE/build`? Is this path writable to an unprivileged user?

[2022-05-06 13:18] EsbernTK commented on #24562
Okay i have resolved the error and colmap is now compiling again.
I booted my pc into safe mode, and was luckily able to delete the re2c.exe, re2c.ilk and re2c.pdb files.
I restarted my pc into normal mode, and ran the command again, without copying the re2c files back into the directory
`.\vcpkg.exe install colmap --triplet=x64-windows --head`
It gave me this new error, and AVG freaked out again

[2022-05-06 13:25] wtdcode opened #24580 "[unicorn] update to 2.0.0rc7"
Library name: unicorn

New version number: 2.0.0rc7

Other information that may be useful (release notes, etc...)

Hello, I just notice vcpkg is maintaining unicorn port and I'm the maintainer of the unicorn for now. Unicorn2 has a few RC versions already and is it possible to pack one?

Thanks for your efforts on porting unicorn ;).

[2022-05-06 13:54] njk42 opened #24582 "[libusb] update to 1.0.26"
Library name: libusb

New version number: 1.0.26

Other information that may be useful (release notes, etc...)
https://github.com/libusb/libusb/releases/tag/v1.0.26
was released 10 April 2022

[2022-05-06 14:14] jaguardo opened #24583 "[gdal] build issue - many, initial issue -> not creating/installing liblzma or lzma dll files"
**Host Environment**
- OS: windows
- Compiler: msvc2019

**To Reproduce**
Steps to reproduce the behavior:
Multiple issues with the gdal build, but this issue was reproduced with:
`./vcpkg install gdal`
which caused some build errors (with curl and expat, addressed in comments below), however on a repeat of the command it DID complete the build.  However the issue with liblzma (no dll file) remain

[2022-05-06 15:59] darkstar commented on #24464
Actually I had to run MSVC as admin (right click -> run as admin) as otherwise the CMake configuration step would already fail very early, and for the couple other packages that this project requires before qt5-base, this worked out well.

Don't judge me, I'm new to all this cmake-and-vcpkg-in-visual-studio stuff ;-)

Also, it's only trying to open this file for read from that location ("cannot op

[2022-05-06 17:41] larshg commented on #24317
I'm having the same problem running VS2022 17.2.0 Preview 4.0. I have english language pack installed.

Running cl.exe -dumpversion / -dumpfullversion, results in the above listed errors as well.

cl : Command line warning D9002 : ignoring unknown option '-dumpversion'
cl : Command line error D8003 : missing source filename

[2022-05-06 18:37] Strox0 commented on #24522
The error log, (sorry for long reply time). I was able to install it on my laptop but I still need it on my other computer. The differences that I was able to notice between the two system is that on my laptop I still have VS 2019. And on a side note during the installation on the laptop the command line said multiple times that "This fuction should only be called once" I dont exactly remember but

[2022-05-06 18:41] Trider12 opened #24585 "Vcpkg can't find downloaded CMake on Linux when cloned to relatively unusual filesystems"
**Describe the bug**
Vcpkg successfully downloads and extracts CMake, but still fails to find the executable

**Environment**
- OS: Ubuntu 20.04.4 LTS x86_64
- Compiler: gcc 9.4.0-1ubuntu1~20.04.1 | clang 10.0.0-4ubuntu1

**To Reproduce**
`./vcpkg install sdl2`

**Failure logs**

Initially:
[code]
Running the command again after that:
[code]
Both files do exist:

`ls /media/sf_D_DRIVE/GitRepos/gem

[2022-05-06 18:44] #24564 closed

[2022-05-06 18:50] paulherman opened #24586 "[abseil] support cxx20"
****

**Is your feature request related to a problem? Please describe.**
Abseil provides polyfills when in C++20 mode for std::result_of. However, they're disabled without a new feature flag.

**Proposed solution**
Add a feature `cxx20`, similar to `cxx17` which sets `CMAKE_CXX_STANDARD` to `20`.

**Describe alternatives you've considered**
We could wire `CMAKE_CXX_STANDARD` from upstream, but not

[2022-05-06 22:12] #23248 closed

[2022-05-06 23:29] #24071 closed

[2022-05-06 23:41] #24478 closed

[2022-05-06 23:43] beached commented on #24478
thanks everyone

[2022-05-07 00:11] #24573 closed

[2022-05-07 00:17] #24095 closed

[2022-05-07 01:22] lowerfain commented on #24473
Thanks for your suggestion, I use `vcpkg remove boost-uninstall:x64-windows --recurse` and then `vcpkg install boost:x64-windows`. But the error still occurs. Do you have any other solutions? The log file is as follows:
[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/8644192/install-x64-windows-dbg-out.log)

[2022-05-07 01:23] lowerfain commented on #24473
Thanks for your suggestion, I use `vcpkg remove boost-uninstall:x64-windows --recurse` and then `vcpkg install boost:x64-windows`. But the error still occurs. Do you have any other solutions? The log file is as follows:
[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/8644197/install-x64-windows-dbg-out.log)

[2022-05-07 02:24] JackBoosY commented on #24585
I assume you manually installed cmake path wasn't added to environment `PATH`?

[2022-05-07 03:00] FrankXie05 commented on #24522
@Strox0
[code]
It seems that the source_path and installed_path are spliced in a path with spaces.
Don't use the system disk and try again

[2022-05-07 03:05] LilyWangLL commented on #24576
Thanks for posting this issue. Please provide the error log file:
[code]

[2022-05-07 04:39] #24579 closed

[2022-05-07 05:45] JackBoosY commented on #24575
@cgurps I can't repro this locally, can you please provide your environment `PATH` value?

[2022-05-07 05:49] yansong1221 opened #24591 "[libtorrent] Build error"
[code]

[2022-05-07 06:04] FrankXie05 commented on #24591
@yansong1221 Thanks for posting this issue, could you please provide the error log?
`F:\code\vcpkg\buildtrees\libtorrent\install-x64-windows-dbg-out.log`

[2022-05-07 06:11] LilyWangLL commented on #24481
Ping @leeh8911 for response.

[2022-05-07 06:14] LilyWangLL commented on #24342
`zookeeper` has been updated to version 3.5.6, due to it can not updated to latest version on vcpkg, I will close this issue temporarily.

[2022-05-07 06:14] #24342 closed

[2022-05-07 06:16] LilyWangLL commented on #24172
@Kennedy747 Does this issue has new updates?

[2022-05-07 06:16] LilyWangLL commented on #24171
Thanks for posting this issue. Please reopen this issue if it still be a problem for you.

[2022-05-07 06:16] #24171 closed

[2022-05-07 06:20] JackBoosY commented on #24560
I'm not familiar with cfitsio, can you please double confirm your data file runs successfully with the official build?

[2022-05-07 06:21] LilyWangLL commented on #23260
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2022-05-07 06:21] #23260 closed

[2022-05-07 06:22] yansong1221 opened #24593 "[crashpad] Build error"
PS F:\code\vcpkg> .\vcpkg.exe install crashpad:x64-windows
[code]

[2022-05-07 06:23] yansong1221 opened #24594 "[crashrpt] Build error"
PS F:\code\vcpkg> .\vcpkg.exe install crashrpt:x64-windows
[code]

[2022-05-07 06:30] yansong1221 commented on #24591
[1/167] C:\PROGRA~2\MICROS~2\2019\COMMUN~1\VC\Tools\MSVC\1429~1.301\bin\Hostx64\x64\cl.exe   /TP -DBOOST_ALL_NO_LIB -DBOOST_ASIO_ENABLE_CANCELIO -DBOOST_ASIO_HAS_STD_CHRONO -DBOOST_ASIO_NO_DEPRECATED -DBOOST_EXCEPTION_DISABLE -DOPENSSL_NO_SSL2 -DTORRENT_BUILDING_LIBRARY -DTORRENT_BUILDING_SHARED -DTORRENT_NO_DEPRECATE -DTORRENT_SSL_PEERS -DTORRENT_USE_ASSERTS -DTORRENT_USE_LIBCRYPTO -DTORRENT_USE_

[2022-05-07 06:34] Cheney-W commented on #24594
Could you please provide us with `F:\code\vcpkg\buildtrees\crashrpt\install-x64-windows-dbg-out.log`?

[2022-05-07 06:37] yansong1221 commented on #24594
用于 .NET Framework 的 Microsoft (R) 生成引擎版本 16.11.2+f32259642
版权所有(C) Microsoft Corporation。保留所有权利。

生成启动时间为 2022/5/7 14:36:38。
     1>节点 1 上的项目“F:\code\vcpkg\buildtrees\crashrpt\x64-windows-dbg\install.vcxproj”(默认目标)。
     1>项目“F:\code\vcpkg\buildtrees\crashrpt\x64-windows-dbg\install.vcxproj”(1)正在节点 1 上生成“F:\code\vcpkg\buildtrees\crashrpt\x64-windows-dbg\ZERO_CHECK.vcxproj”(2) (默认目标)。
     2>Prepar

[2022-05-07 06:40] huangrunqian commented on #24291
I tried to delete the whole vcpkg folder and restart everything:
`
git clone --single-branch -b master https://github.com/microsoft/vcpkg.git
cd vcpkg
git checkout a82c62d
git pull
bootstrap-vcpkg.bat
vcpkg.exe update
vcpkg.exe install openssl:x64-windows openssl-windows:x64-windows rapidjson:x64-windows re2:x64-windows boost-interprocess:x64-windows boost- stacktrace:x64-windows zlib:x64-windows

[2022-05-07 06:56] FrankXie05 commented on #24582
Duplicate to #24329

[2022-05-07 06:56] #24582 closed

[2022-05-07 06:58] Trider12 commented on #24585
@JackBoosY I have CMake 3.16.3 properly installed on my system.

[2022-05-07 07:01] songlm2005 commented on #24560
Thanks for your attention.
The fits file is the observation data of Chinese astronomy satellite Insight-HXMT. I could get the correct contents of the file use the C++ routine call CFITSIO lib directly.So I think the format of the file is in accord with FITSIO standard.

[2022-05-07 07:03] JackBoosY commented on #24560
Can you please provide a sample project to reproduce this issue?

Thanks.

[2022-05-07 07:07] JackBoosY commented on #24585
Can you please add extra option `--debug` to the install command, retry then provide the output?

[2022-05-07 07:07] Adela0814 commented on #24593
please provide the failure log `F:\code\vcpkg\buildtrees\crashpad\build-x64-windows-dbg-out.log`, thanks.

[2022-05-07 07:13] Trider12 commented on #24585
@JackBoosY `./vcpkg install sdl2 --debug`:
[code]

[2022-05-07 07:15] FrankXie05 commented on #24291
Is the error still the same? If not, please provide the error log:
`D:\github\vcpkg\buildtrees\openssl\build-x64-windows-rel-1-err.log`

[2022-05-07 07:20] Trider12 commented on #24585
@JackBoosY if I first delete the extracted CMake and then run `./vcpkg install sdl2 --debug`:
[code]

[2022-05-07 07:21] songlm2005 commented on #24560
for julia, the version is 1.4.1, FITSIO is v0.16.12 .

[2022-05-07 07:25] yansong1221 commented on #24593
ninja: Entering directory `F:/code/vcpkg/buildtrees/crashpad/x64-windows-dbg'
[1/158] CXX obj/client/common.settings.obj
FAILED: obj/client/common.settings.obj
ninja -t msvc -e environment.amd64 -- cl.exe /nologo /showIncludes -DCRASHPAD_ZLIB_SOURCE_EXTERNAL -I../src/86e8d5a126-0c0b83e4bb.clean -Igen -I../src/86e8d5a126-0c0b83e4bb.clean/third_party/mini_chromium/mini_chromium -I../src/86e8d5a126-0

[2022-05-07 07:26] huangrunqian commented on #24291
I used CMD for administrator to run the commands, and installed openssl successfully. However, now I got
error LNK2019: Unresolved external symbol SSL_get_peer_certificate
Still used dumpbin to check libssl.lib, there is no SSL_get_peer_certificate there.

[2022-05-07 07:30] huangrunqian commented on #24291
However, there is SSL_get1_peer_certificate and EVP_DigestSignUpdate now.

[2022-05-07 07:49] DeafMan1983 commented on #24171
Sorry I am very busy. Yes it is ok with SDL2? I am working hard with GLFW3 and GLEW,  Thank you for everything!

[2022-05-07 08:00] JackBoosY commented on #24560
@songlm2005 Please provide the complete sample project, including source code and data files, so that we can reproduce this issue.

[2022-05-07 08:21] voltagex opened #24597 "[sqlite3] Attempted update to 3.38.5 results in build failure"
****

**Is your feature request related to a problem? Please describe.**
I tried updating the SQLite3 port to the latest version

[code]

But the build fails with

[code]

**Proposed solution**
Someone who knows how vcpkg works to update it

**Describe alternatives you've considered**
Staying on the current version.

**Additional context**
Add any other context or screenshots about the feature req

[2022-05-07 08:46] JackBoosY commented on #24593
Please make sure you have the English language pack installed using the Visual Studio Installer.
And you may need to enable utf-8 in Control panel - Region - Region Settings:
![image](https://user-images.githubusercontent.com/47264268/167246767-a2a2f72c-24c8-4185-8812-898a2367be40.png)

[2022-05-07 08:50] JackBoosY commented on #24586
`abseil[cxx17]` was added before we released the policy, currently we do not accept adding c/cxx standard as a feature.
See https://github.com/microsoft/vcpkg/blob/master/docs/maintainers/maintainer-guide.md#do-not-use-features-to-control-alternatives-in-published-interfaces

[2022-05-07 08:51] JonLiu1993 commented on #24597
@voltagex, Thanks for posting this issue, the function 'vcpkg_cmake_configure' depends on vcpkg-cmake, please confirm if you have add
[code]
in the depenencies of vcpkg.json

[2022-05-07 09:14] yansong1221 commented on #24593
I operate according to the steps you described, and the problem still exists

[2022-05-07 09:18] voltagex commented on #24597
Hi @JonLiu1993, I didn't change it - it remains the same as https://github.com/microsoft/vcpkg/blob/master/ports/sqlite3/vcpkg.json#L10, so yes, it includes vcpkg-cmake as a dependency.

[2022-05-07 09:36] JonLiu1993 commented on #24597
@voltagex ,Could you pleasae git clone a new vcpkg and try again? I update sqlite3 on my local machine and successfully:
[code]

vcpkg.json:
[code]

portfile.cmake:
[code]

[2022-05-07 09:45] JackBoosY commented on #24591
Did you add extra options to your triplet file or made any changes in your vcpkg?

[2022-05-07 10:07] Cheney-W commented on #24562
Does this issue occur when the antivirus closed?

[2022-05-07 10:08] Strox0 commented on #24522
It fixed it, thank you. But its wierd beacuse i was able to install other packages with out a problem

[2022-05-07 10:16] Cheney-W commented on #24583
I can't reproduce this issue in my side with the latest vcpkg 2022-03-30-692785ac944e81417840c6de244fb3e18a4b35eb.
After run the command `./vcpkg install liblzma`, I could find the liblzma.dll file.
![image](https://user-images.githubusercontent.com/38240633/167249955-842d8d90-dafa-46d8-b49b-cbff029d70f2.png)

I think you could clone a new vcpkg and install this port again.

[2022-05-07 10:25] yansong1221 commented on #24591
I pulled the master without making any changes

[2022-05-07 10:36] huangrunqian commented on #24291
Maybe it's not the problem of the openssl lib... I cleaned my project and built from the start, everything seemed fine and I don't know why. So I'm just closing this issue.

[2022-05-07 10:36] #24291 closed

[2022-05-07 11:13] wention commented on #24593
still fault after fix encoding problem:
install args: .\vcpkg install crashpad:x86-windows
[code]

[2022-05-07 11:31] jaguardo commented on #24583
Thanks... I cloned clean, no other installs, except I did the ```./vcpkg install gdal``` and then `./vcpkg remove liblzma` I guess I could try a clean install and go right for liblzma and see if the gdal port caused an issue.

[2022-05-07 12:33] jaguardo commented on #24583
Looks like it is a gdal issue... I'll rename

[2022-05-07 12:39] MasterYC commented on #21186
if(NOT _VCPKG_MINGW_TOOLCHAIN)
set(_VCPKG_MINGW_TOOLCHAIN 1)
if(CMAKE_HOST_SYSTEM_NAME STREQUAL "Windows")
    set(CMAKE_CROSSCOMPILING OFF CACHE BOOL "")
endif()

# Need to override MinGW from VCPKG_CMAKE_SYSTEM_NAME
set(CMAKE_SYSTEM_NAME Windows CACHE STRING "" FORCE)

if(VCPKG_TARGET_ARCHITECTURE STREQUAL "x86")
   set(CMAKE_SYSTEM_PROCESSOR i686 CACHE STRING "")
elseif(VCPKG_TARGET_ARCHITECTUR

[2022-05-07 12:46] jaguardo commented on #24583
running `./vcpkg install gdal:x64-windows`

[code]
the file `install-x64-windows-dbg-err.log`
has the following line:
`ninja: error: manifest 'build.ninja' still dirty after 100 tries`
and `install-x64-windows-dbg-err.log`
has ~100 copies of:
[code]

[2022-05-07 13:17] jaguardo commented on #24583
I did a fresh vcpkg pull and
`vcpkg.exe install expat:x64-windows`
without issues, and a fresh pull with installing lzma and then expat, no issues.

then tried an expat install followed by gdal with the following:
[code]

same 100 tries, with the error:
[code]

[2022-05-07 14:00] larshg commented on #24317
For what I can gather it somehow sets it as a gcc compiler, but adding this to the user-config.jam:

[code]

[2022-05-07 14:06] larshg commented on #24317
Just noticed the first line in the originally posted log:
[1/2] cmd.exe /C "cd /D C:\projects\vcpkg\buildtrees\boost-exception\src\ost-1.79.0-1b4bdfb5ca.clean\build && C:\projects\vcpkg\installed\x64-windows\tools\boost-build\b2.exe toolset=**gcc**

[2022-05-07 14:17] coderc264 opened #24600 "[expat] Build error"
**Host Environment**
- OS: Windows 11 Home, 21H2
- Compiler: MSVC 19.31.31107.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install xpat:x64-windows`

**Failure logs**
PS C:\vcpkg-gis> .\vcpkg.exe install osg:x64-windows
Computing installation plan...
The following packages will be built and installed:
  * expat[core]:x64-windows -> 2.4.8#1
  * opengl-registry[core]:x64-windows ->

[2022-05-07 14:24] redbaron commented on #11621
Also worth mentioning, that despite what name suggests, values from these var end up in `CMAKE_*_FLAGS_INIT` not `CMAKE_*_FLAGS` as one might expect. As a consequence it is NOT setting final set of flags, but merely sets a default starting value for CMake to add to

[2022-05-07 15:12] BZandi commented on #24576
Thank you for your response.

You can reproduce the error on macOS 10.15 with the following commands:

[code]

Instead of calling ``python setup.py sdist bdist_wheel`` and create the python env you can also call the following

[code]

Attached you can find the log files.
[build-x64-osx-dbg-err.log](https://github.com/microsoft/vcpkg/files/8645440/build-x64-osx-dbg-err.log)
[build-x64-osx-dbg-out.l

[2022-05-07 16:40] dg0yt commented on #24583
It is not a gdal issue.

You are 20 ports away from gdal, and you see similar problems with different ports. Something seems to be wrong in your system. System clock?

[2022-05-07 16:49] SpenserCai opened #24602 "[New Port Request] <phlib>"
Library name:
phlib
Library description:
This is a core library of ProcessHacker, it has a lot of and very useful windows api wrappers
Source repository URL:
https://github.com/processhacker/processhacker/tree/master/phlib
Project homepage (if different from the source repository):
https://processhacker.sourceforge.io/
Anything else that is useful to know when adding (such as optional features the

[2022-05-07 16:56] SpenserCai opened #24603 "[protobuf] update to v3.20.1"
Library name:
protobuf
New version number:
v3.20.1
Other information that may be useful (release notes, etc...)

[2022-05-07 18:54] kcgen opened #24604 "[New Port Request] libslirp, C++/C bindings"
**Library name:** libslirp

**Library description:**  A general purpose TCP-IP emulator used by virtual machine hypervisors to provide virtual networking services.

**Source repository URL:**
 - C/C++ library: https://gitlab.freedesktop.org/slirp/libslirp
 - Rust bindings: https://gitlab.freedesktop.org/slirp/libslirp-rs

**Project homepage**: https://gitlab.freedesktop.org/slirp

`libslirp` is us

[2022-05-07 20:39] jaguardo commented on #24583
valid, was accomplished on a third/independent computer (windows)... the original error (lzmalib.dll not present) was duplicated on 2 computers with fresh pulls... but it looks like gdal pushed (https://github.com/microsoft/vcpkg/commit/3b8363dd8fb42d1a555f10f7fc0e1c3f49a815e2) a new update and on at least 1 fresh install of vcpkg and gdal, the issue was resolved.

[2022-05-07 20:39] #24583 closed

[2022-05-07 21:22] njakob opened #24605 "[nlohmann-json] Add JSON_DIAGNOSTICS support"
**Is your feature request related to a problem? Please describe.**
After discovering the [`JSON_DIAGNOSTICS`](https://json.nlohmann.me/api/macros/json_diagnostics/) option, I realized that the `nlohmann-json` port does not allow turning this feature on.

**Proposed solution**
Therefore, it would be great to add this option as a feature for the port (making it accessible through the manifest).

**D

[2022-05-08 01:07] MasterYC commented on #21186
how to solve？why not anyone can solve？

[2022-05-08 10:23] OlafvdSpek commented on #23666
@PhoebeHui Thoughts?

[2022-05-08 15:17] MichalDulski commented on #19609
Hi! I've stumbled upon the same problem as above when I was trying to run command
`F:\Dev\vcpkg\vcpkg.exe --triplet x64-windows install sfml`

I've run powershell as administrator.

Here I'm posting whole console output
`PS F:\Dev\OpenCL-SDK> F:\Dev\vcpkg\vcpkg.exe --triplet x64-windows install sfml
Computing installation plan...
The following packages will be built and installed:
  * openal-soft[

[2022-05-08 16:47] ZA0068 commented on #24289
So the tesseract training tools will work again now?

[2022-05-08 18:53] JacqueSatan opened #24613 "[bug] Cannot install/upgrade any package; unable to find Visual Studio instance"
I don't know why/when (at least several months ago) it started, I didn't do anything noticeable. I am unable to install or upgrade any package, no matter the triplet.

I tried to reinstall both vcpkg and Visual Studio, but no matter what I try to install, I get the following error:
[code]

**Environment**
- OS: Windows 11 22616.1
- Compiler: Visual Studio 17.2 Preview 6

**To Reproduce**
Steps to

[2022-05-08 21:06] brendanburkhart commented on #24603
Duplicate of https://github.com/microsoft/vcpkg/issues/24305

[2022-05-08 22:47] complexlogic opened #24616 "[taglib] build failure"
**Host Environment**
- OS: Windows 10 Pro 21H2 x64
- Compiler: Visual Studio 2022, MSVC v143

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install taglib --triplet=x64-windows`

**Failure logs**
[code]

**Additional context**
I built taglib a couple weeks ago with no issue. I'm trying to build again today on a different PC and I get the build failure as shown above. I did some invest

[2022-05-08 23:16] DeafMan1983 opened #24617 "[<libsass> from gtk and gtkmm ] build failure"
**Host Environment**
- OS: Window
- Compiler: VCPKG latest

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install libsass`

[code]

**Additional context**
From patch....log
[code]
And other logs look empty...

I tried to install gtk and gtkmm because libsass
`vcpkg install libsass:x64-windows --recurse`

Then it throws same "Build failed" Thanks

[2022-05-09 02:06] JackBoosY commented on #19609
@MichalDulski That's a different issue, please open a new issue and provide the logs.

[2022-05-09 02:27] JonLiu1993 commented on #24603
Duplicate of https://github.com/microsoft/vcpkg/issues/24305

[2022-05-09 02:27] #24603 closed

[2022-05-09 02:29] JackBoosY commented on #24522
Can you please modify _vcpkg_root/ports/blas/portfile.cmake_ line 4 from
[code]
to
[code]
and try again? And make sure your vcpkg is latest using `git pull`.

Thanks.

[2022-05-09 02:30] JonLiu1993 commented on #24597
@voltagex , Did you try what I suggested to you?

[2022-05-09 02:31] JackBoosY commented on #24613
Please check your Visual Studio components in https://github.com/microsoft/vcpkg-tool/pull/314, and please make sure you've installed the English language pack using Visual Studio Installer.

[2022-05-09 02:47] JackBoosY commented on #24593
@yansong1221
Can you please double check you've installed the English Language pack using Visual Studio Installer?
![image](https://user-images.githubusercontent.com/47264268/167331966-4854cb2a-44fd-46f5-b12a-0e27ecba84f3.png)

@wention Please remove port `zlib` then try again.

[2022-05-09 02:48] JackBoosY commented on #24591
Did you make any changes in vcpkg or Visual Studio before?

[2022-05-09 02:48] voltagex commented on #24597
I'll get back to this when I can - thanks for the info.

[2022-05-09 02:52] JackBoosY commented on #24585
[code]
Our required cmake version is 3.22.2, but which you installed is 3.16.3. So vcpkg will download it automaticly.

[2022-05-09 03:21] yansong1221 commented on #24591
NO

[2022-05-09 05:32] dg0yt commented on #24583
Your problems are entirely unrelated to the gdal port.

This ninja error is why I point at the system clock: Ninja relies on generated files being newer than the files' dependencies.

NB: Ninja is not used to build at port gdal at the moment. (But it will, with GDAL 3.5.)

[2022-05-09 05:34] hmoffatt commented on #24461
Sorry, I was wrong - the existing port does provide publish the libraries OK.

[2022-05-09 05:34] #24461 closed

[2022-05-09 05:36] hmoffatt opened #24619 "[fluidsynth] link to libsndfile"
****
The fluidsynth port should link to libsndfile in order to access sf3 sound fonts and support rendering to file. libsndfile is already in the vcpkg repository.

[2022-05-09 06:19] sundarsabapathi commented on #24574
Hi @FrankXie05 Any updates regarding this issue ?

[2022-05-09 06:34] JackBoosY commented on #24591
Based on the contents of the three issues you opened, it appears that your Visual Studio contains some extra settings globally. Can you use the Visual Studio Installer to repair Visual Studio and try again?

[2022-05-09 06:35] FrankXie05 commented on #24574
@sundarsabapathi

[2022-05-09 06:38] Adela0814 commented on #24496
@rHermes  please try the PR #24620

[2022-05-09 06:49] FrankXie05 commented on #24619
@hmoffatt Thanks for posting this issue, the port `fluidsynth` itself has already loaded `sf3`, why should it be linked to the port `libsndfile`? Can you elaborate? :)
https://github.com/FluidSynth/fluidsynth/blob/e63ea6698e15a6f3b6c9eeb5ceae76169bd5ba2d/src/config.cmake#L222

[2022-05-09 06:52] Adela0814 commented on #24289
@ZA0068  We need to wait for the PR #23101  to be merged into master

[2022-05-09 06:52] hmoffatt commented on #24619
@FrankXie05 it doesn't work. Fluidsynth can't load SF3 without libsndfile.

[code]

This is from the 2021.04.12 vcpkg release.

[2022-05-09 07:15] hmoffatt commented on #24619
It would be great if the fluidsynth port had a libsndfile feature. libsndfile only needs to be built with the external-libs feature and not the mpeg feature though else it brings in libmp3lame unnecessarily.

[2022-05-09 07:27] FrankXie05 commented on #24619
@hmoffatt `Fluidsynth` added `libsndfile` in a recent update, we shouldn't add some unnecessary files repeatedly.
https://github.com/FluidSynth/fluidsynth/blob/308cf737967f0ebd5fbdd4369ab31ffd29d75d4f/.azure/azure-pipelines-vcpkg.yml#L104
Related Pull Request: https://github.com/FluidSynth/fluidsynth/pull/892

[2022-05-09 07:34] LilyWangLL commented on #24600
Thanks for posting this issue. Do you install non-English language package for your Visual Studio? This issue should be same with the upstream issue: https://github.com/libexpat/libexpat/issues/418

[2022-05-09 07:34] JackBoosY commented on #24548
After some discussion, I confirm this behavor is by design for both install command and the dependency relationship.

[2022-05-09 07:44] coderc264 commented on #24600
Yes, i've installed the italian laguage package

[2022-05-09 07:56] JackBoosY commented on #24403
In _include/dcmtk/config/osconfig.h_:
[code]
Thoese macros are hardcoded. I will fix this issue after https://github.com/microsoft/vcpkg/pull/24076 have some conclusion.

[2022-05-09 08:20] hmoffatt commented on #24619
@FrankXie05 that PR is for Fluidsynth's release binaries (see also https://github.com/FluidSynth/fluidsynth/pull/282).

libsndfile has been supported as an optional extra since at least 2010 -- see the initial commit of their CMakeLists.txt here: https://github.com/FluidSynth/fluidsynth/commit/6624f6f2b78a5c16362d3ffa09743f1356e1cda0

and the SF3 support was merged in 2017: https://github.com/Flui

[2022-05-09 08:28] LilyWangLL commented on #24600
You can remove the Italian laguage package and install English package, then rebuild expat. According the comment https://github.com/libexpat/libexpat/issues/418#issuecomment-701367304, this won't fix inside of Expat. If you use English package install expat succeed, I think this issue could be closed.

[2022-05-09 08:30] FrankXie05 commented on #24619
@hmoffatt Thanks for the replies, we'd love to see user participation in improving port functionality, feel free to subbmit an issue or PR. I'm just not sure right now if this is a port bug, I'm verifying. :)

[2022-05-09 08:33] FrankXie05 commented on #24464
cc @Neumann-A Could you please take a look at this issue? Thanks in advance.

[2022-05-09 08:46] hmoffatt commented on #24619
Consider this a feature request rather than a bug! I'd be happy to submit a PR.

The change week just be to add the feature, an optional dependency on the libsndfile port, and change the cmake enable flags at build time.

[2022-05-09 08:47] fhwustc commented on #23875
A way works for me is updating Windows Powershell manually.
Run Windows Powershell as administrator, then input `iex "& { $(irm https://aka.ms/install-powershell.ps1) } -UseMSI"`, install the latest Windows Powershell then rerun `vcpkg install xxx`

[2022-05-09 08:59] Neumann-A commented on #24616
Logs? Be aware that all those changes are tested by CI.
It also helps to compare CMake configure lines from the Logs before and after that change.

For me it works as expected from a clean vcpkg.
[code]

[2022-05-09 09:07] FrankXie05 commented on #24616
Sorry, I didn't reproduce your problem locally, can you provide your error log? Could you please use the latest vcpkg and try again?
[code]
Try steps:
[code]

[2022-05-09 09:15] LilyWangLL commented on #24617
Thanks for posting this issue. Could you please provide the error log: **C:\vcpkg\buildtrees\libsass\get-cmake-vars-x64-windows-out.log**? Is this file also empty?

[2022-05-09 09:16] JackBoosY commented on #21482
If we want to use the system library in these cmake scripts, we should first unfilter the environment variable `PATH` when `VCPKG_FORCE_SYSTEM_BINARIES` is defined.

[2022-05-09 09:22] Neumann-A commented on #24616
also the `config-x64-windows-dbg-out.log` to compare how cmake was configured.

[2022-05-09 09:23] Trider12 commented on #24585
@JackBoosY please, reread the question and pay attention to the logs (especially the last lines of the logs, which indicate the problem). I can't use vcpkg due to CMake 3.22.2 extraction failure. This is a bug, not a question.

[2022-05-09 09:26] Neumann-A commented on #24464
@FrankXie05:

https://github.com/microsoft/vcpkg/issues/24464#issuecomment-1119565307(https://github.com/microsoft/vcpkg/issues/24464#issuecomment-1119565307) already said it. Don't build in paths with spaces; don't build in paths with regex characters; don't build in long paths at all.
I also don't know how the manifest msbuild integration selects the build dir.

You can try fixing the whitespace

[2022-05-09 09:39] coderc264 commented on #24600
No need to remove italian language pack, just add english and it works

[2022-05-09 09:46] JackBoosY commented on #24585
Oh sorry, obviously I misunderstood the meaning of this issue.

[2022-05-09 09:47] LilyWangLL commented on #24600
Since this issue has been resolved, so I am closing this issue for now.

[2022-05-09 09:47] #24600 closed

[2022-05-09 09:59] JackBoosY commented on #24317
Did you manually installed minGW in your system?

[2022-05-09 10:23] yansong1221 commented on #24591
These problems do not occur on one computer. I have tried to compile on other computers

[2022-05-09 12:02] jaguardo commented on #24583
yes, I agree... I did this on 3 different computers, the first 2 had the "lzma.dll missing" issue (but now I realize they did not have the ninja error, they failed but were evntually able to complete after an additional "install" command or 2).  Didn't realize the 3rd computers attempt at install had a unique/different way to fail, thanks.

[2022-05-09 12:09] Childhoo commented on #17639
I moved vcpkg to a folder which has shorter path and this solves the build failure. Not sure if this is also helpful for you.

[2022-05-09 12:11] Neumann-A commented on #17639
That was probably another issue and not related to this one.

[2022-05-09 12:47] scottpakula opened #24625 "[ffmpeg] allow for compiling with libopenmpt"
"libmodplug (which FFmpeg optionally uses for module playback) is based on the playback code of the original ModPlug Tracker. Its playback capabilities have been left pretty much untouched since the original code release over 20 years ago. "
https://trac.ffmpeg.org/ticket/5623

A port for libopenmpt already exists, but there isn't a feature that can be enabled/disabled when building ffmpeg using v

[2022-05-09 12:50] Trider12 commented on #24585
@JackBoosY yes, it does

`ls -ld /media/sf_D_DRIVE/GitRepos/gem/tools`
[code]
`members vboxsf`
[code]

[2022-05-09 13:29] coderc264 opened #24627 "[gdal] Build error"
**Host Environment**
- OS: Windows 11 Home, 21H2
- Compiler: MSVC 19.31.31107.0

**To Reproduce**
vcpkg.exe install osgearth:x64-windows

**Failure logs**
[code]

[2022-05-09 14:56] coderc264 opened #24628 "[poco] Build error"
**Host Environment**
- OS: Windows 11 Home, 21H2
- Compiler: MSVC 19.31.31107.0

**To Reproduce**
vcpkg.exe install poco:x64-windows --recurse

**Failure logs**
[code]
**Additional context**
Add any other context about the problem here, such as what you have already tried to resolve the issue.

[2022-05-09 15:37] complexlogic commented on #24616
I looked at the logs, the relevant error message was:
[code]
After some research I came across [this comment](https://github.com/ninja-build/ninja/issues/1599#issuecomment-617411613). It's an issue related to the system clock being out of sync. Apparently, Ninja has a problem with this for some reason.

I dual boot with Linux which uses UTC instead of local time for the system clock, and I also re

[2022-05-09 15:37] #24616 closed

[2022-05-09 16:25] darkstar commented on #24464
How can I tell the vcpkg where to build it? Especially since it seems to work when invoked from the command line, so maybe some setting in Visual Studio does something strange?

Can I just copy the command-line built package somewhere so that it gets picked up as "already built" from the Visual Studio build?

[2022-05-09 18:51] JacqueSatan commented on #24613
Everything is installed properly (English too), as everything worked without any problem before a certain Windows/Visual Studio update which I cannot remember sadly.

[2022-05-09 19:21] dg0yt commented on #24616
Ninja is designed for speed and simplicity. It is "relying on simple dependencies between file timestamps" i.e. it expects that generated files' timestamps are newer than their sources' timestamps.

[2022-05-09 20:06] AugP commented on #11177
I forgot to post here but I updated it in the last couple of weeks. We'll try to get more precise with our estimates for when feature work will land as we continue our planning process.

[2022-05-09 20:55] BillyONeal opened #24630 "[ignition-*] Upstreams are damaged"
/cc

* @traversaro
* @ahoarau
* @autoantwort

https://github.com/orgs/ignitionrobotics/repositories , the upstream for all these ports, reports that it has no repositories.

Individual repos are being redirected to @gazebosim .

We probably shouldn't just "fix the SHA and move on" ... what is the path forward for these libraries in our catalog?

Related: https://github.com/microsoft/vcpkg/pull/246

[2022-05-09 21:12] #16648 closed

[2022-05-09 21:33] #24534 closed

[2022-05-09 21:34] #24552 closed

[2022-05-09 21:41] #24574 closed

[2022-05-09 21:52] BillyONeal commented on #24630
If we don't get someone familiar with these changes upstream I think we should =skip these in `ci.baseline.txt` until a maintainer familiar with the situation is available. I'll prepare that if we have no response by the end of this week.

[2022-05-09 21:53] #24496 closed

[2022-05-09 22:44] hros opened #24631 "[liburing] Build error"
**Host Environment**
- OS: Linux - Ubuntu 22.04
- Compiler: gcc version 11.2.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install libunifex`

**Failure logs**
-Cut and paste the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.
[code]
error log:
[code]

**Additional context**
Add any other context about

[2022-05-09 23:12] #24283 closed

[2022-05-09 23:44] BillyONeal commented on #24518
Generally speaking, we want to just download stuff rather than building it wherever possible. Unless there is some patch we absolutely need that isn't available in a binary release, `fontconfig` should continue using gperf from `vcpkg_find_acquire_program`.

[2022-05-10 00:23] #22812 closed

[2022-05-10 01:00] Adela0814 commented on #24627
@coderc264 please provide the failure logs, thanks.
[code]

[2022-05-10 01:32] BenKey commented on #24413
@JackBoosY I do not know how to test this change.

[2022-05-10 01:47] LilyWangLL commented on #24630
I found the link of Ignition CMake on GitHub is https://github.com/ignitionrobotics/ign-cmake, should we change the upstream of Ignition CMake to this?

[2022-05-10 02:19] JackBoosY commented on #24591
All the three issues should be related to your compiler. I think you can close them now.

[2022-05-10 02:29] JackBoosY commented on #24628
Please provide the following logs first:
      C:\vcpkg-gis\buildtrees\poco\install-x64-windows-rel-out.log
      C:\vcpkg-gis\buildtrees\poco\install-x64-windows-rel-out-1.log

Thanks.

[2022-05-10 02:30] Cheney-W commented on #24520
Dup to https://github.com/microsoft/vcpkg/issues/24420.

[2022-05-10 02:30] #24520 closed

[2022-05-10 02:33] JackBoosY commented on #24413
@BenKey See `command line instructions` in my PR.

[2022-05-10 02:37] FrankXie05 commented on #24464
@darkstar
Open the cmake project -> right click `CMakeLists.txt` in the same directory as `main.cpp` -> CMake Setting for {project name} -> click Edit JSON in the upper right corner;\
Change to the following settings, `-DCMAKE_TOOLCHAIN_FILE` can be obtained by running the command` ./vcpkg integrate install` in powershell under the `vcpkg` directory.
[code]

[2022-05-10 02:40] LilyWangLL commented on #24631
Thanks for posting this issue. This is a upstream bug https://github.com/axboe/liburing/issues/320 and has been fixed in new release of `liburing`, I will submit a PR to update the version of `liburing`.

[2022-05-10 02:41] WangHHY19931001 commented on #24554
generate-x86-windows-dbg-out.log

ERROR at //build/config/win/visual_studio_version.gni:27:7: Script returned non-zero exit code.
      exec_script("../../vs_toolchain.py", [ "get_toolchain_dir" ], "scope")
      ^----------
Current dir: E:/vcpkg/buildtrees/v8/x86-windows-dbg/
Command: E:/vcpkg/downloads/tools/python/python-3.10.2-x86/python.exe E:/vcpkg/buildtrees/v8/src/a883683717-e774d37ef1.cle

[2022-05-10 02:42] WangHHY19931001 commented on #24554
generate-x86-windows-dbg-err.log

Traceback (most recent call last):
  File "E:\vcpkg\buildtrees\v8\src\a883683717-e774d37ef1.clean\build\vs_toolchain.py", line 573, in <module>
    sys.exit(main())
  File "E:\vcpkg\buildtrees\v8\src\a883683717-e774d37ef1.clean\build\vs_toolchain.py", line 569, in main
    return commands[sys.argv[1]](*sys.argv[2:])
  File "E:\vcpkg\buildtrees\v8\src\a883683717-e7

[2022-05-10 02:44] WangHHY19931001 commented on #24554
E:\vcpkg\buildtrees\v8>python -V
Python 3.9.5

E:\vcpkg\buildtrees\v8>where python
C:\Users\CF\miniconda3\python.exe
C:\Users\CF\AppData\Local\Microsoft\WindowsApps\python.exe

[2022-05-10 02:54] JackBoosY commented on #21186
Please modify
https://github.com/microsoft/vcpkg/blob/0d7603c4efc351da97b43c1952ba943e76f9b35f/ports/python3/portfile.cmake#L70
to
[code]
Then try again.

Thanks.

[2022-05-10 03:22] talregev commented on #24518
ok. but if it already install on vcpkg and not the system. Should `fontconfig` try to find it from vcpkg also?

[2022-05-10 04:41] MasterYC commented on #21186
thank you,but it can't resolve my problem,please give me another soulution
python3:x64-mingw-static，

-- Building x64-mingw-static-dbg
CMake Error at scripts/cmake/vcpkg_execute_build_process.cmake:158 (message):
&nbsp; &nbsp; Command failed: D:/Programming/vcpkg/downloads/tools/msys2/7e05e7aa09f1709f/usr/bin/make.exe -j 5 --trace -f Makefile all
&nbsp; &nbsp; Working Directory: D:/Programming/vcp

[2022-05-10 05:48] larshg commented on #24317
I don't have minGW installed no.

[2022-05-10 06:17] Cheney-W commented on #23528
This issue is currently tracked by tickets on the Develop Community: https://developercommunity.visualstudio.com/t/Internal-compiler-error-when-install-col/10035653

[2022-05-10 06:17] #23528 closed

[2022-05-10 06:30] dg0yt commented on #24518
`fontconfig` does `vcpkg_find_acquire_program(GPERF)`. This will find vcpkg's `gperf` if properly installed as a host tool.

[2022-05-10 06:47] chris-shenzhen-china commented on #24138
today， I brand new install vcpkg and vcpkg install icu:x64-linux, do not work, os: centos 7.9

[2022-05-10 06:48] JackBoosY commented on #24138
@chris-shenzhen-china Failure logs please?

[2022-05-10 06:53] MasterYC commented on #21186
this is the err.log

./../src/v3.10.2-c601936d22.clean/Objects/obmalloc.c: In function '_PyDebugAllocatorStats':
./../src/v3.10.2-c601936d22.clean/Objects/obmalloc.c:2872:30: warning: unknown conversion type character 'z' in format [-Wformat=]
 2872 |                   "%d %ss * %zd bytes each",
      |                              ^
./../src/v3.10.2-c601936d22.clean/Objects/obmalloc.c:2872:19: wa

[2022-05-10 06:55] JackBoosY commented on #21186
cc @dg0yt
Do you have any ideas?

[2022-05-10 07:10] talregev commented on #24518
`fontconfig` Don't find `gperf` when it install over vcpkg. Should we fix `gperf` port?

[2022-05-10 07:12] JackBoosY commented on #4435
This issue hasn’t been updated in 3 month, if it is still an issue, please reopen this issue.

[2022-05-10 07:12] #4435 closed

[2022-05-10 07:13] JackBoosY commented on #4437
This issue hasn’t been updated in 3 month, if it is still an issue, please reopen this issue.

[2022-05-10 07:13] #4437 closed

[2022-05-10 07:13] JackBoosY commented on #9783
This issue hasn’t been updated in 3 month, if it is still an issue, please reopen this issue.

[2022-05-10 07:13] #9783 closed

[2022-05-10 07:14] JackBoosY commented on #11282
This issue hasn’t been updated in 3 month, if it is still an issue, please reopen this issue.

[2022-05-10 07:14] #11282 closed

[2022-05-10 07:14] JackBoosY commented on #11391
This issue hasn’t been updated in 3 month, if it is still an issue, please reopen this issue.

[2022-05-10 07:14] #11391 closed

[2022-05-10 07:15] dg0yt commented on #24518
That's the point. Command line and manifest have the same power.
[code]

[2022-05-10 07:15] JackBoosY commented on #13726
This issue hasn’t been updated in 3 month, if it is still an issue, please reopen this issue.

[2022-05-10 07:15] #13726 closed

[2022-05-10 07:16] JackBoosY commented on #13834
This issue hasn’t been updated in 3 month, if it is still an issue, please reopen this issue.

[2022-05-10 07:16] #13834 closed

[2022-05-10 07:17] JackBoosY commented on #14012
This issue hasn’t been updated in 3 month, if it is still an issue, please reopen this issue.

[2022-05-10 07:17] #14012 closed

[2022-05-10 07:17] hmoffatt opened #24638 "[fluidsynth] enable sound drivers on Mac/Linux build"
****
**Is your feature request related to a problem? Please describe.**
On Mac and Linux, no sound drivers are compiled in. ALSA and CoreAudio are explicitly disabled in `fluidsynth/portfile.cmake`. The Windows drivers are not disabled though.

**Proposed solution**
Sound drivers should be available. On Mac this means enabling CoreAudio which does not require any additional dependencies.

On Linux

[2022-05-10 07:17] JackBoosY commented on #14409
This issue hasn’t been updated in 3 month, if it is still an issue, please reopen this issue.

[2022-05-10 07:17] #14409 closed

[2022-05-10 07:17] coderc264 commented on #24627
**install-x64-windows-dbg-out.log**

Included: nmake.opt
	cd port
	nmake /nologo /f makefile.vc
	call prev_dllbuild.bat

C:\vcpkg-gis\buildtrees\gdal\x64-windows-dbg\port>IF NOT EXIST dllbuild.prev (ECHO 1 ) 1>dllbuild.prev

C:\vcpkg-gis\buildtrees\gdal\x64-windows-dbg\port>SET /P PREV_DLLBUILD= 0<dllbuild.prev

C:\vcpkg-gis\buildtrees\gdal\x64-windows-dbg\port>IF NOT "1" == "1" (ECHO 1 ) 1>dllbui

[2022-05-10 07:18] JackBoosY commented on #14928
This issue hasn’t been updated in 3 month, if it is still an issue, please reopen this issue.

[2022-05-10 07:18] #14928 closed

[2022-05-10 07:18] JackBoosY commented on #14958
This issue hasn’t been updated in 3 month, if it is still an issue, please reopen this issue.

[2022-05-10 07:18] #14958 closed

[2022-05-10 07:19] JackBoosY commented on #15376
This issue hasn’t been updated in 3 month, if it is still an issue, please reopen this issue.

[2022-05-10 07:19] #15376 closed

[2022-05-10 07:19] JackBoosY commented on #15675
This issue hasn’t been updated in 3 month, if it is still an issue, please reopen this issue.

[2022-05-10 07:19] #15675 closed

[2022-05-10 07:21] JackBoosY commented on #16671
This issue hasn’t been updated in 3 month, if it is still an issue, please reopen this issue.

[2022-05-10 07:21] #16671 closed

[2022-05-10 07:21] JackBoosY commented on #16917
This issue hasn’t been updated in 3 month, if it is still an issue, please reopen this issue.

[2022-05-10 07:21] #16917 closed

[2022-05-10 07:22] JackBoosY commented on #16917
Please feel free to make a PR to fix that.

[2022-05-10 07:23] JackBoosY commented on #19515
This issue hasn’t been updated in 3 month, if it is still an issue, please reopen this issue.

[2022-05-10 07:23] #19515 closed

[2022-05-10 07:24] JackBoosY commented on #19650
This issue hasn’t been updated in 3 month, if it is still an issue, please reopen this issue.

[2022-05-10 07:24] #19650 closed

[2022-05-10 07:24] talregev commented on #24518
For example if I want to install it on x64-linux:
`vcpkg install gperf:host-x64-linux`?
Thank you for let me know.

[2022-05-10 07:25] JackBoosY commented on #21233
This issue hasn’t been updated in 3 month, if it is still an issue, please reopen this issue.

[2022-05-10 07:25] #21233 closed

[2022-05-10 07:26] FrankXie05 commented on #24255
Fixed by #24483

[2022-05-10 07:26] #24255 closed

[2022-05-10 07:27] JackBoosY commented on #21638
This issue hasn’t been updated in 3 month, if it is still an issue, please reopen this issue.

[2022-05-10 07:27] #21638 closed

[2022-05-10 07:27] dg0yt commented on #24518
@talregev I don't know your host and target triplets. The most common case for Linux is that both are `x64-linux` (i.e. native build).

[2022-05-10 07:27] JackBoosY commented on #21643
This issue hasn’t been updated in 3 month, if it is still an issue, please reopen this issue.

[2022-05-10 07:27] #21643 closed

[2022-05-10 07:28] JackBoosY commented on #21778
This issue hasn’t been updated in 3 month, if it is still an issue, please reopen this issue.

[2022-05-10 07:28] JackBoosY commented on #21787
This issue hasn’t been updated in 3 month, if it is still an issue, please reopen this issue.

[2022-05-10 07:28] #21787 closed

[2022-05-10 07:29] talregev commented on #24518
I want to learn the command line. If the above command line is correct, I can test it myself and close this issue.

[2022-05-10 07:29] JackBoosY commented on #21792
This issue hasn’t been updated in 3 month, if it is still an issue, please reopen this issue.

[2022-05-10 07:29] #21792 closed

[2022-05-10 07:30] coderc264 commented on #24628
[install-x64-windows-rel-out-1.log](https://github.com/microsoft/vcpkg/files/8659275/install-x64-windows-rel-out-1.log)

[2022-05-10 07:30] chris-shenzhen-china commented on #24138
***@***.*** vcpkg]# ./vcpkg install icu:x64-linux
Computing installation plan...
The following packages will be built and installed:
&nbsp; &nbsp; icu[core]:x64-linux -&gt; 71.1
Detecting compiler hash for triplet x64-linux...
Restored 0 packages from /root/.cache/vcpkg/archives in 16.67 us. Use --debug to see more details.
Starting package 1/1: icu:x64-linux
Building package icu[core]:x64-linux..

[2022-05-10 07:30] JackBoosY commented on #21892
This issue hasn’t been updated in 3 month, if it is still an issue, please reopen this issue.

[2022-05-10 07:30] #21892 closed

[2022-05-10 07:31] #21895 closed

[2022-05-10 07:31] #22132 closed

[2022-05-10 07:32] JackBoosY commented on #22186
This issue hasn’t been updated in 3 month, if it is still an issue, please reopen this issue.

[2022-05-10 07:32] #22186 closed

[2022-05-10 07:32] JackBoosY commented on #22207
We don't have enough information to solve this issue, unfortunately; if you have any more information to help us solve this, please reopen!

[2022-05-10 07:32] #22207 closed

[2022-05-10 07:33] JackBoosY commented on #22226
This issue hasn’t been updated in 3 month, if it is still an issue, please reopen this issue.

[2022-05-10 07:33] #22226 closed

[2022-05-10 07:33] JackBoosY commented on #22247
This issue hasn’t been updated in 3 month, if it is still an issue, please reopen this issue.

[2022-05-10 07:34] JackBoosY commented on #22257
This issue hasn’t been updated in 3 month, if it is still an issue, please reopen this issue.

[2022-05-10 07:34] #22257 closed

[2022-05-10 07:34] JackBoosY commented on #22262
This issue hasn’t been updated in 3 month, if it is still an issue, please reopen this issue.

[2022-05-10 07:34] #22262 closed

[2022-05-10 07:35] JackBoosY commented on #22266
This issue hasn’t been updated in 3 month, if it is still an issue, please reopen this issue.

[2022-05-10 07:35] #22266 closed

[2022-05-10 07:35] JackBoosY commented on #22267
This issue hasn’t been updated in 3 month, if it is still an issue, please reopen this issue.

[2022-05-10 07:35] #22267 closed

[2022-05-10 07:36] JackBoosY commented on #22288
This issue hasn’t been updated in 3 month, if it is still an issue, please reopen this issue.

[2022-05-10 07:36] #22288 closed

[2022-05-10 07:38] EsbernTK commented on #24562
The files do have handles on them even when antivirus is turned off. I also checked the "quarantined" files in my antivirus and there were none present.

[2022-05-10 07:46] JackBoosY commented on #22511
It's because you can't download the source code.
Please use proxy first.

Thanks.

[2022-05-10 07:46] #22511 closed

[2022-05-10 07:47] JackBoosY commented on #22515
This issue hasn’t been updated in 3 month, if it is still an issue, please reopen this issue.

[2022-05-10 07:47] #22515 closed

[2022-05-10 07:48] JackBoosY commented on #22550
This issue hasn’t been updated in 3 month, if it is still an issue, please reopen this issue.

[2022-05-10 07:48] #22550 closed

[2022-05-10 07:48] JackBoosY commented on #22568
This issue hasn’t been updated in 3 month, if it is still an issue, please reopen this issue.

[2022-05-10 07:48] #22568 closed

[2022-05-10 07:49] JackBoosY commented on #22592
This issue hasn’t been updated in 3 month, if it is still an issue, please reopen this issue.

[2022-05-10 07:49] #22592 closed

[2022-05-10 07:49] JackBoosY commented on #22593
This issue hasn’t been updated in 3 month, if it is still an issue, please reopen this issue.

[2022-05-10 07:49] #22593 closed

[2022-05-10 07:50] JackBoosY commented on #22679
This issue hasn’t been updated in 3 month, if it is still an issue, please reopen this issue.

[2022-05-10 07:51] JackBoosY commented on #22815
This issue hasn’t been updated in 3 month, if it is still an issue, please reopen this issue.

[2022-05-10 07:51] #22815 closed

[2022-05-10 07:52] JackBoosY commented on #22874
[code]
Did you install the C++ core features with Visual Studio Installer?

[2022-05-10 07:53] JackBoosY commented on #23008
You should use mingW triplet instead of arm-linux.

[2022-05-10 07:53] #23008 closed

[2022-05-10 07:55] JackBoosY commented on #23127
C:/Program Files (x86)/Microsoft Visual Studio/2019/Professional/VC/Tools/Llvm/bin/clang-cl.exe

[2022-05-10 07:55] #23127 closed

[2022-05-10 07:55] JackBoosY commented on #23140
This issue hasn’t been updated in 3 month, if it is still an issue, please reopen this issue.

[2022-05-10 07:55] #23140 closed

[2022-05-10 07:56] JackBoosY commented on #23165
This issue hasn’t been updated in 3 month, if it is still an issue, please reopen this issue.

[2022-05-10 07:56] #23165 closed

[2022-05-10 07:56] JackBoosY commented on #23169
This issue hasn’t been updated in 3 month, if it is still an issue, please reopen this issue.

[2022-05-10 07:56] #23169 closed

[2022-05-10 07:57] JackBoosY commented on #23251
This issue hasn’t been updated in 3 month, if it is still an issue, please reopen this issue.

[2022-05-10 07:57] #23251 closed

[2022-05-10 07:57] JackBoosY commented on #23301
This issue hasn’t been updated in 3 month, if it is still an issue, please reopen this issue.

[2022-05-10 07:58] JackBoosY commented on #23358
This issue hasn’t been updated in 3 month, if it is still an issue, please reopen this issue.

[2022-05-10 07:58] #23358 closed

[2022-05-10 08:01] krishna116 opened #24639 "Request add an option like --show-toolchain-file to vcpkg"
****

**Is your feature request related to a problem? Please describe.**
When user want to use vcpkg toolchain file,  the user should remember where it is, the user must explicitly provide the full-path-file-name. It is not very convenient, for example:
[code]

**Proposed solution**
if vcpkg can provide a option like "--show-toolchain-file" then it will be much better. for example:
[code]

Thanks.

[2022-05-10 08:10] JackBoosY commented on #24628
[code]
Please check your permssion and disk space.

Thanks.

[2022-05-10 08:12] Adela0814 commented on #24627
`fatal error C1085: Cannot write compiler generated file: 'C:\vcpkg-gis\buildtrees\gdal\x64-windows-dbg\ogr\ogrtriangle.obj': No space left on device`

Please check your disk space and try again.

[2022-05-10 08:13] sibiarunachalam opened #24640 "[Catch2] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: VS 2019 cmake

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install catch2`

**Failure logs**
[code]
Additionally, attach any relevant sections from the log files above.
        1 dir(s) moved.
Applied user-wide integration for this vcpkg root.

All MSBuild C++ projects can now #include any installed libraries.
Linking will be handled

[2022-05-10 08:24] JackBoosY commented on #24138
@chris-shenzhen-china Can you please provide your environment variable value `C_INCLUDE_PATH`?

@BillyONeal This issue has the same problem with #22812 but it's in other environment variables.
In this case it's `C_INCLUDE_PATH`.

[2022-05-10 08:52] rioki opened #24641 "Amend Documentation to suggest --toolchain over -DCMAKE_TOOLCHAIN_FILE"
****

**Is your feature request related to a problem? Please describe.**

I have no idea what the underlying cause is but I spent the better part of the morning trying to get my CMake and vcpkg build work on windows. While following the vcpkg documentation and other sources from the internet use -DCMAKE_TOOLCHAIN_FILE I had no success. By chance I stumbled over the --toolchain option and tried tha

[2022-05-10 08:56] hmoffatt commented on #24638
I am happy to submit a PR for this.

[2022-05-10 09:35] Cheney-W commented on #24640
Could you please provide us with `C:\jenkins-root-dir\workspace\tar_Development_nectar-cpp_PR-71\cosmos\libs\vcpkg\buildtrees\catch2\config-x86-windows-out.log`?

[2022-05-10 09:45] sibiarunachalam commented on #24640
Thanks for quick reply, attached the log.

**config-x86-windows-out.log**
`[1/2] cmd /c "cd .. && "C:/jenkins-root-dir/workspace/tar_Development_nectar-cpp_PR-71/cosmos/libs/vcpkg/downloads/tools/cmake-3.22.2-windows/cmake-3.22.2-windows-i386/bin/cmake.exe" "C:/jenkins-root-dir/workspace/tar_Development_nectar-cpp_PR-71/cosmos/libs/vcpkg/buildtrees/catch2/src/570e89786c-dc421bea1a.clean" "-G" "Nin

[2022-05-10 10:59] talregev commented on #24518
@dg0yt I am not sure how to install gperf as a host in the command line.
Also when I do these commands:
[code]
`fontconfig` not recognize `gperf` that install from vcpkg.
Can you check that  it working on your setup?
Thank you.

[2022-05-10 11:39] BenKey commented on #24413
@JackBoosY I have no idea what instructions you are referring to. I also do not know how to merge this pull reqest into my own fork.

[2022-05-10 13:18] traversaro commented on #24630
Pinging other users that could be interested in this discussion: @j-rivero @Ace314159 .

[2022-05-10 15:59] talregev commented on #24518
@dg0yt The error I get:
[code]

[2022-05-10 16:04] talregev commented on #24518
I change the commands:
[code]
I get the same error above.

[2022-05-10 18:00] autoantwort commented on #24641
Or we quote the parameter in all examples

[2022-05-10 18:11] BillyONeal commented on #24518
I see, I missed that wrinkle. I still think most customers would still be happier with needing to apt / dnf / etc. install that thing than they would be with us building it.

[2022-05-10 18:15] BillyONeal commented on #24630
It's not a "formal maintainer" kind of thing. More "people we know will care if this is broken and say something about major upstream changes", sort of thing, since the vcpkg team doesn't actually know how to validate that these things build anything that makes sense.

[2022-05-10 18:18] talregev commented on #24518
I feel differently. If there is a way to make us both happy without to much effort I will like that :)

[2022-05-10 18:19] talregev commented on #24518
I can do it manually with export PATH to relevant tool folder of vcpkg. (an hack).

[2022-05-10 19:58] traversaro commented on #24630
Yes, that is completely clear, I was just explaining that it was not clear to me how to specify that in the long term I am not be the best person to be the "people we know will care if this is broken and say something about major upstream changes" .

[2022-05-10 22:57] #24124 closed

[2022-05-11 01:05] #13933 closed

[2022-05-11 02:27] JackBoosY commented on #24413
[code]

[2022-05-11 02:46] JackBoosY commented on #24641
According to the `[official document](https://cmake.org/cmake/help/latest/manual/cmake-toolchains.7.html#id12)`, `-DCMAKE_TOOLCHAIN_FILE` should be same with `--toolchain`.
I agree we should add double quotes to this full value.

[2022-05-11 03:02] Cheney-W commented on #24554
This issue is an known issue in v8.
Currently v8 only support VS2017 and VS2019, if you just installed the VS2022, it will failed with above error.
Please make sure you installed VS2017 or VS2019 instead of installed V142 or V141 toolset in VS2022.

[2022-05-11 03:02] #24554 closed

[2022-05-11 04:04] dg0yt commented on #24641
Note that this parameter requires CMake 3.21. But for user projects, vcpkg supports CMake down to  3.7.2.

A general source of problems is that this parameter must be used on the very first run of CMake for a clean build directory, before the first `project` command

[2022-05-11 05:02] #24117 closed

[2022-05-11 05:55] Adela0814 commented on #24117
Unfortunately, I haven't been able to reproduce this problem. Has it been solved now？@derreisende77

[2022-05-11 06:11] Cheney-W commented on #24562
@BillyONeal
I can't reproduce this issue in my side. Could you please help take a look this issue?

[2022-05-11 06:16] panda-z commented on #22892
The package hdf5 is a dependency of vtk.

When local hdf5 is built with mpi support (hdf5[parallel]), vtk should be built with mpi feature (vtk[mpi]). Otherwise build error will occur.

Can we enable mpi for vtk (vtk[mpi]) automatically when hdf5 is built with mpi (hdf5[parallel]?

[2022-05-11 07:05] #24465 closed

[2022-05-11 07:15] rioki commented on #24641
To frame the problem:

It's not just quoting. The path is simple: "D:/repos/vcpkg/scripts/buildsystems/vcpkg.cmake" and normal path shenanigans should not have been at play. I tried the old and expansive version "-DCMAKE_TOOLCHAIN_FILE:FILEPATH=" and that also worked.

But the plain "-DCMAKE_TOOLCHAIN_FILE=" does not. This does not change with quotes or not or the direction of the slashes. IMHO th

[2022-05-11 07:35] JackBoosY commented on #24138
Can you please test my PR https://github.com/microsoft/vcpkg/pull/24653 whether it works?

Thanks.

[2022-05-11 07:39] JackBoosY commented on #22892
@panda-z Can you please provide the failure log to prof that `hdf5[parallel]` needs `vtk[mpi]`?

Thanks.

[2022-05-11 07:42] JackBoosY commented on #24641
@rioki Can you please also report this to the [upstream](https://gitlab.kitware.com/cmake/cmake/-/issues)?

[2022-05-11 07:45] BillyONeal commented on #24562
"open in system" means "opened by a driver" which typically means antivirus. Just turning it off doesn't necessarily unload the drivers etc.

They tend to hate whenever we build something then immediately use it

[2022-05-11 07:59] chris-shenzhen-china commented on #24138
&nbsp;
I have not tested any PR， how can I do it， could you have some info like step by step？

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "microsoft/vcpkg"                                                                                    ***@***.***&gt;;
发送时间:&nbsp

[2022-05-11 08:07] panda-z commented on #22892
@JackBoosY The error is same with OP's.

[code]

Build with vtk[mpi], then the above errors disappear.

[2022-05-11 08:49] Adela0814 commented on #24373
@elad8a Has your problem been solved？

[2022-05-11 08:50] rioki commented on #24641
I am still looking into the issue and tripple checking I am not the dummy. But once I isolated the issue I will do that.

[2022-05-11 08:52] Adela0814 commented on #23796
Close this issue because it's expected.

[2022-05-11 08:52] #23796 closed

[2022-05-11 09:06] JackBoosY commented on #24138
@chris-shenzhen-china Check my changes and modify it in your vcpkg, then try to install icu.

[2022-05-11 09:29] JackBoosY commented on #24613
Please repaire Visual Studio using Visual Studio Installer then try again.

Thanks.

[2022-05-11 09:58] Cheney-W commented on #24640
I can't reproduce this issue in my side with the latest vcpkg and VS2019.
I found your config-x86-windows-out.log have following setting:
`"-DVCPKG_PLATFORM_TOOLSET=v140"`

I'm not sure if you modified the ".\vcpkg\triplets\x86-windows.cmake" or you just installed the VS2015 in your computer, for fix this issue, I think you could clone a new vcpkg to install this port and install the VS2019 on you

[2022-05-11 10:44] tsunamistate opened #24654 "[sdl2] update to 2.0.22"
Library name: sdl2

New version number: 2.0.22, released April 25th 2022

Other information that may be useful (release notes, etc...)
Release notes: https://github.com/libsdl-org/SDL/releases/tag/release-2.0.22

[2022-05-11 11:22] dg0yt commented on #21186
I think we must either say `"supports": "!mingw"`, or make it an empty port, or fetch patches from https://github.com/msys2-contrib/cpython-mingw.
 - Upstream says "unsupported, looking for a maintainer":
   https://bugs.python.org/issue45538,
   https://github.com/python/cpython/issues/89701.
 - MSYS2 needs 139 patches today:
   https://github.com/msys2/MINGW-packages/tree/master/mingw-w64-python

[2022-05-11 13:18] MasterYC commented on #21186
I don‘t know what you mean

[2022-05-11 13:22] derreisende77 commented on #24117
No. I opened a ticket with the library creators. And I am going to open a ticket for weak cypher support option for openssl.

[2022-05-11 13:47] derreisende77 commented on #24117
BTW they released version 0.9.8 of PoDoFo. Also now available on github as they are migrating to it.

[2022-05-11 14:26] elad8a commented on #24373
@Adela0814 the code compiles. I don't understand if this is an actual issue other than the apparent name.

[2022-05-11 14:47] Luiz-Monad commented on #24139
currectly ? currently or correctly ? or both ?

I mean, the port file is using bazel, if I add some options to make the entire bazel target tensorflow-lite or tensorflow with android, I will probably work won't it ?
I'll will try that.

fingers crossed we don't get problems with the freaking libstdc++ from GNU versus LLVM used by Android.
Otherwise someone is going to have to learn how to create c

[2022-05-11 15:09] #7381 closed

[2022-05-11 15:13] #17001 closed

[2022-05-11 15:18] Luiz-Monad commented on #11177
I use port overlays with submodules, it would be nicer if ports could have their own repositories, then it would be as easy as updating your git submodules from the remote-url in the json manifest of the port.

[2022-05-11 15:27] Luiz-Monad commented on #12636
Or port it to CMake , muahahaa . autotools should die.  Now seriously.

I don't need OpenSSL anymore, but I used to work on that, I think I made my own CMakeLists with the specific files I needed at the time.

I'm only writing here to ask why do we need msys to build `tensorflow-common` ?  That entire port is a hot fire of a mess (I blame bazel for that).

[2022-05-11 15:56] Neumann-A opened #24656 "[boost-build] Use correct b2 version instead of boost version"
running `./b2 --version `

returns:
[code]

related:
https://repology.org/project/boost-build/related

[2022-05-11 17:33] j-rivero commented on #24630
Hello, @BillyONeal @traversaro: thanks for the ping and the past and present efforts to keep the Ignition (now Gazebo after the last rename) libraries. It would be great if we can keep ignition packages working although the Open Robotics internal resources to help with this effort are limited.

I'm going to ask for help into our public forum so maybe someone from the community can volunteer to hel

[2022-05-11 18:08] RyanPaulMcKenna opened #24657 "Add the linmath.h to the list of packages available"
****

**Is your feature request related to a problem? Please describe.**
I want to install linmath.h for use with glfw opengl library and it is not available. I think it should be added.

**Proposed solution**
I want linmath.h to added to the list of available packages.

**Describe alternatives you've considered**
I have not explored alternatives.

**Additional context**
not neccessary.

[2022-05-11 18:12] anuraghit opened #24658 "[libevent] Build error"
**Host Environment**
- OS: [e.g. Windows/Linux etc...]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install xxxx`

**Failure logs**
-Cut and paste the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

**Additional context**
Add any other context about the problem here, such as what yo

[2022-05-11 19:11] j-rivero commented on #24630
Awesome Akash! feel free to ping me anytime if we can help you in with any information or change needed. Thanks!

[2022-05-11 19:18] #23387 closed

[2022-05-11 20:04] BenKey commented on #24413
@JackBoosY There is no change. I ran the commands you provided. I still get an error.

The log file is as follows: [install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/8673074/install-x64-windows-dbg-out.log).

[2022-05-11 20:17] gracicot opened #24659 "[boost-system] Build error on arm64-osx with GCC (lol_add failed due to reached limit of 19 elements)"
**Host Environment**
- OS: MacOS
- Compiler: GCC 11.2 (nix)

**To Reproduce**
Steps to reproduce the behavior:
Create a manifest file containing the following:
[code]
A `main.cpp` file with the following content:
[code]
A CMakeLists file with the content:
[code]
For the environment, create those two nix files:
`vcpkg.nix`
[code]
`shell.nix`
[code]
Then, from a terminal in the directory where the f

[2022-05-11 20:23] traversaro commented on #24630
Thanks a lot @Ace314159 ! Feel free to ping me for any problem.

[2022-05-11 20:53] BillyONeal commented on #24630
OK, in light of the above I'm going to ensure https://github.com/microsoft/vcpkg/pull/24618 fixes all of them and run with that. Thanks folks!

[2022-05-11 20:53] #24630 closed

[2022-05-11 23:38] #24619 closed

[2022-05-11 23:39] #24331 closed

[2022-05-11 23:39] #24631 closed

[2022-05-12 01:36] JonLiu1993 commented on #24658
@anuraghit ,Thanks for posting this issue, please follow the template above to fill in your reproduction environment, reproduction steps and error log

[2022-05-12 02:15] umar456 opened #24662 "[cuDNN] build failure on x64-linux"
**Host Environment**
- Linux
- Compiler: GCC 12.1

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install cudnn`

**Failure logs**
[code]

**Additional context**
I was able to resolve this by adding `/usr/` in the portfile and FindCUDNN.cmake. I can create a PR if this is acceptable.

[2022-05-12 02:51] JackBoosY commented on #21186
Close this issue as not supported by the upstream.

[2022-05-12 02:51] #21186 closed

[2022-05-12 02:55] JackBoosY commented on #24413
It's hard to believe that because I tested it locally.
Can you please provide a sample project to reproduce this issue?

Thanks.

[2022-05-12 02:59] BenKey commented on #24413
@JackBoosY I ran the commands you provided. I then ran bootstrap-vcpkg.bat. Finally, I ran the following command.

`./vcpkg.exe install lua[core,cpp,tools] rmlui[core,freetype,lua] --triplet x64-windows`

The errors occur while building rmlui.

[2022-05-12 03:04] sibiarunachalam commented on #24640
Thank you for your valuable response.
We tried setting up new environment with VS2019 and build the project, it built successfully.

_Additional info:_
1. We had some stuff that related to VS2015 in the old build environment.
2. The old build environment doesn't work only after updating latest "built-baseline" from microsoft/vcpkg in vcpkg.json.

[2022-05-12 03:10] JackBoosY commented on #24413
I still can't reproduce the issue using a fresh clone in my branch,
It looks fine when building the 2 ports.
Can you please provide the install log in _VCPKG_ROOT/buildtrees/lua_?

Thanks.

[2022-05-12 03:45] esdandreu commented on #24576
I don't know if this might be relevant here. But I found an issue when building a python C++ extension worked on macOS when using `cmake` and `vcpkg` directly, but it failed when executing `cmake` (with `vcpkg` as a toolchain) through `pip`. This [run on github actions](https://github.com/esdandreu/python-extension-cpp/actions/runs/2304088913) shows it.
The error seems to be similar to the one pre

[2022-05-12 04:00] anuraghit commented on #24658
┌──(anu㉿ash)-[~/vcpkg]
└─$ ./vcpkg install libevent
Computing installation plan...
The following packages will be built and installed:
    libevent[core,thread]:x64-linux -> 2.1.12#6
Detecting compiler hash for triplet x64-linux...
Restored 0 packages from /home/anu/.cache/vcpkg/archives in 309.3 us. Use --debug to see more details.
Installing 1/1 libevent:x64-linux...
Building libevent[core,threa

[2022-05-12 04:08] anuraghit commented on #24658
also when I'm trying to run this libevent code(hello world).

error -
/usr/bin/ld: /tmp/ccK7l2DS.o: in function `main':
/home/anu/Documents/cpp/test.c:42: undefined reference to `event_base_new'
/usr/bin/ld: /home/anu/Documents/cpp/test.c:51: undefined reference to `evconnlistener_new_bind'
/usr/bin/ld: /home/anu/Documents/cpp/test.c:61: undefined reference to `event_new'
/usr/bin/ld: /home/anu/Do

[2022-05-12 04:12] anuraghit commented on #24658
also when I'm trying to run the hello world program for libevent.

error;-
/usr/bin/ld: /tmp/ccG7H8xG.o: in function `main':
/home/anu/Documents/cpp/test.c:42: undefined reference to `event_base_new'
/usr/bin/ld: /home/anu/Documents/cpp/test.c:51: undefined reference to `evconnlistener_new_bind'
/usr/bin/ld: /home/anu/Documents/cpp/test.c:61: undefined reference to `event_new'
/usr/bin/ld: /home/a

[2022-05-12 04:19] anuraghit commented on #24658
I'm getting this now.
how to config and compile it with my code.
also can you send me hello world program for libevent

──(anu㉿ash)-[~/vcpkg]
└─$ ./vcpkg install libevent
Computing installation plan...
The following packages are already installed:
    libevent[core,thread]:x64-linux -> 2.1.12#6
libevent:x64-linux is already installed
Restored 0 packages from /home/anu/.cache/vcpkg/archives in 1.64

[2022-05-12 04:28] talregev opened #24664 "[angle] build failure on master"
angle:arm64-windows failed with BUILD_FAILED
https://dev.azure.com/vcpkg/public/_build/results?buildId=71934&view=logs&j=84da4f4a-968a-5b5c-16e9-f444c845396d&t=80e5e0c8-bb3b-5216-9f3f-2618d4e9f3f4

[2022-05-12 04:43] aizuon opened #24665 "Frequency of updates to vcpkg-cmake port"
****

**Is your feature request related to a problem? Please describe.**
Yes. It is so frustrating to see updates to vcpkg-cmake port as a lot of ports that take a really long time to build depend on it.

**Proposed solution**
In my honest opinion, this port should have a rolling update schedule, maybe updated as the same time as vcpkg tool.

**Describe alternatives you've considered**
Updating po

[2022-05-12 05:09] gerard-ryan-immersaview opened #24666 "[gstreamer] update to 1.20.2"
Library name:
GStreamer

New version number:
* 1.20.2
* was released on 2 May 2022

Other information that may be useful (release notes, etc...)
* https://gstreamer.freedesktop.org/releases/1.20/#1.20.2

[2022-05-12 05:44] dg0yt commented on #20190
Added `shapelib`:
[code]

[code]

[2022-05-12 05:52] dg0yt commented on #20190
`shapelib` bonus fact:
#22633 added a patch file to fix the config, but didn't add it to the portfile.
Not detected in review.
Not detected in automated checks.
And IMO the patch is invalid because it makes assumptions about the desired package name. It must be unofficial until fixed upstream.

[2022-05-12 05:53] dg0yt commented on #16041
Still defect: https://github.com/microsoft/vcpkg/issues/20190#issuecomment-1124558011

[2022-05-12 06:11] Adela0814 commented on #24662
@cenit Can you help confirm if this change is reasonable?

[2022-05-12 06:21] Cheney-W commented on #24640
Thanks for your reply! I'm glad to know your issue has been solved.

[2022-05-12 06:21] #24640 closed

[2022-05-12 06:43] LilyWangLL commented on #24617
Sorry I am late, could you install `libsass` again on the new vcpkg? I can't repro this issue locally, since the error log is empty, I have no idea about why this port install failed. And could you please provide your environment information, which version of Visual Studio you use?

[2022-05-12 06:56] Neumann-A commented on #24665
That doesn't affect world rebuilds.

That was just done by moving `vcpkg-cmake-get-vars` out of it.

Consider pinning your vcpkg version If you don't like the constant updates and improvements.

[2022-05-12 06:58] Adela0814 commented on #24373
1. Input option `--debug` to `Additional Options`, you will get your current toolset in output box.
![image](https://user-images.githubusercontent.com/95600143/168007266-f99dca02-85e2-4dea-ad8a-d171e698ae43.png)
2. If you want to set a specific toolset, you need to add `set(VCPKG_PLATFORM_TOOLSET v143)` to `vcpkg\triplets\x64-windows.cmake`.

[2022-05-12 07:09] Adela0814 commented on #24373
I'm not sure if you have any other problems with your triplet. For example, `'static'` cannot be included
![image](https://user-images.githubusercontent.com/95600143/168011848-77d2fddf-f225-4de7-b078-07f4403a23bf.png)

You can try the existing triplet first.

[2022-05-12 07:18] Neumann-A opened #24669 "[vcpkg-tool] x-add-version --all crashes if there are uncommited ports in the tree."
[code]

didn't happen with the previous versions.
So either https://github.com/microsoft/vcpkg-tool/pull/489 or https://github.com/microsoft/vcpkg-tool/pull/526 broke it.

[2022-05-12 07:25] JackBoosY commented on #24665
We try our best to reduce the modification of ports like `vcpkg-cmake`, but every modification is necessary.
If the functions within it are split into a non-versioned state, dependencies are significantly reduced.

[2022-05-12 07:51] JonLiu1993 commented on #24658
This is cmake project code, If you have any problem please let me know

CMakeLists:
[code]
CMakeProject42.cpp
[code]
CMakeProject42.h
[code]

[2022-05-12 08:01] minnyres opened #24670 "[itpp] build ippp with lapack, blas and fftw"
****

**Is your feature request related to a problem? Please describe.**

Currently vcpkg does not build itpp with lapack, blas and fftw, and thus some basic functions like matrix inverse is not available.
For this simple [example about vectors and matrices ](http://itpp.sourceforge.net/4.3.1/vector_and_matrix.html), itpp will report the error "LAPACK library is needed to use inv() function".

**P

[2022-05-12 08:17] DeafMan1983 commented on #24617
Yes it happens before it has failed build and I have restarted Windows 10 and vcpkg has gone error. I am surprised. I don't understand why does vcpkg  build before failure and I have restarted then vcpkg build successful. That's why I can't reproduce. It is gone. Thanks for everything! Can we close issue, if you are trying to reproduce issue?

[2022-05-12 08:27] Chlorie opened #24671 "[Registry] Package resolution with custom registries"
**Describe the bug**
In the documentation for registries, the package resolution order is specified as searching for packages in custom registries first, and then the default registry. But when I tried it the one in the default registry was installed.

**Environment**
- OS: Windows

**To Reproduce**
Steps to reproduce the behavior:
1. Using these manifest files:
[code]
[code]
2. Run `vcpkg install

[2022-05-12 08:29] Chlorie commented on #24671
Also [this stackoverflow question](https://stackoverflow.com/questions/70813552/vcpkg-does-not-use-registry-defined-in-vcpkg-configuration-json) is about the same issue.

[2022-05-12 08:43] LilyWangLL commented on #24617
Yeah, thanks for your reply. I am closing this issue for now.

[2022-05-12 08:43] #24617 closed

[2022-05-12 08:53] LilyWangLL commented on #24669
I have reproduced this issue locally, if I create a new port, but I uncommit this port and use command `./vcpkg.exe x-add-version --all --overwrite-version`, vcpkg will crash and report internal error.
![image](https://user-images.githubusercontent.com/94091114/168031872-34306bd6-df74-4bea-ac86-7d3b001bbbd0.png)
cc @BillyONeal

[2022-05-12 09:07] talregev commented on #24664
Yes, I agree, if we can't reproduce it, we should close this issue, until the next problem. Thank you.

[2022-05-12 09:19] JackBoosY commented on #24671
I tried to reproduce this issue with your code, but I met some build problems:
[code]

[2022-05-12 09:21] JackBoosY commented on #24671
Also please provide the output, thanks.

[2022-05-12 09:49] BZandi commented on #24576
Thank you for posting your solution. I tried to include the following lines in my [GitHub Actions file](https://github.com/openPupil/PyPupilEXT/blob/0c5c7321326a2ece8d0e7695fa2fafaa3d70105c/.github/workflows/action.yml)

[code]

However, I receive the following error:

[code]

I wonder why this command works in [your yaml action file](https://github.com/esdandreu/python-extension-cpp/blob/main/.gi

[2022-05-12 09:51] JackBoosY commented on #23666
Currently no.

Can you please provide the build output in Visual Studio?

[2022-05-12 10:02] DeafMan1983 commented on #1254
Thank you for explanation! I have same problem. I ran vcpkg env --debug and It said triple is x86 that is why it has wrong architecture. Now I have to read many issue posts.

[2022-05-12 12:29] mattpulver opened #24678 "[arrow] cuda build failure"
**Host Environment**
- OS: all
- Compiler: all

**To Reproduce**
Compile code with the line
[code]

**Failure logs**
[code]

**Additional context**
https://github.com/microsoft/vcpkg/pull/24570#issuecomment-1124246043

[2022-05-12 12:49] paulio commented on #4745
Oh same problem again.
The following packages will be built and installed:
    opencv[contrib,core,default-features]:x86-uwp -> 4.5.5
  * opencv4[contrib,core,default-features,dnn,jpeg,png,quirc,tiff,webp]:x86-uwp -> 4.5.5#4
  * tiff[core,jpeg,lzma,zip]:x86-uwp -> 4.3.0#8
  ---------
error: building tiff:x86-uwp failed with: BUILD_FAILED

What's the workaround/fix?

[2022-05-12 13:22] anuraghit commented on #24658
actually, I'm asking for libevent sample code. not cmake...

[2022-05-12 14:11] coderc264 commented on #24627
it was a space problem, now it works, thanks

[2022-05-12 14:12] coderc264 commented on #24628
it was a space problem, now it works, thanks

[2022-05-12 14:28] hugoam commented on #24510
If this is not solved soonish, wouldn't it make sense to revert the PR that broke V8? As a reminder, that one: https://github.com/microsoft/vcpkg/pull/24066
It doesn't seem like updating one vcpkg port (Skia) is worth it if the cost is to break another port... Keeping this kind of broken state really hinders the interest of using vcpkg in general by a very significant factor

[2022-05-12 14:45] bold84 commented on #24510
The update to the new v8 version was necessary because the old version wasn't compatible with the new gn. I wasn't aware of such issues with v8 at that time.

@hugoam
The entitlement I sense in the way you write doesn't really motivate me to fix **your** problem "soonish".
So, if you want a quick solution, use the https://github.com/microsoft/vcpkg/commit/2ac61f87f69f0484b8044f95ab274038fbaf7bdd c

[2022-05-12 16:14] hugoam commented on #24510
I'm sorry, it's my mistake and I didn't actually want it to sound that way.
There was a rational thought in there, which was that it might be more desirable for most people using vcpkg if the PR was reverted until we know no ports are broken by it, and one argument is that having broken ports on master that previously worked is an objective drawback that makes vcpkg less usable. But it's an open s

[2022-05-12 17:19] ScottLangham opened #24682 "[brotli] "brotli_x86-windows-static/debug/share/unofficial-brotli' does not exist"
**Host Environment**
- OS: Windows
- Compiler: Visual Studio 16.11.13

**To Reproduce**
Steps to reproduce the behavior:
[code]
It also fails with the same error if I try to build with `.\vcpkg install cpprestsdk:x86-windows` which I believe is a supported triplet.

**Failure logs**
[code]

**Additional context**
It works on my colleagues machine. I haven't been able to work out what the differenc

[2022-05-12 17:31] andy-schmidt opened #24684 "[curl] update to 7.83.1"
Library name: curl

New version number: 7.83.1

This fixes 6 security vulnerabilities:
https://curl.se/docs/vuln-7.83.0.html

[2022-05-12 19:10] andy-schmidt opened #24685 "[libarchive] update to 3.6.1"
Library name: libarchive

New version number: 3.6.1

This release contains security fixes:
https://github.com/libarchive/libarchive/releases/tag/v3.6.1

[2022-05-12 19:20] jmschrack commented on #18449
For anyone else that runs into this, you need to create patch that fixes the compile errors.  Check out the tutorial: https://github.com/microsoft/vcpkg/blob/master/docs/examples/patching.md

Walbourn's fix is pretty easy to implement and worked for me.

When you edit the portfile.cmake for tiff, it's a different format than what is in that tutorial.  just search for _PATCHES_ and you'll find the

[2022-05-12 19:28] kzhdev commented on #21357
How to install a specific version in the command line? I just want to install a specific version of protobuf in vcpkg's root installed folder

[2022-05-12 19:31] autoantwort commented on #21357
You will need to use manifest mode

[2022-05-12 19:33] EVNII opened #24686 "[qtbase] build failure"
**Host Environment**
- OS: x64-windows
- Compiler: msvc

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install qtbase`

**Failure logs**
[code]
Log File: [install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/8682022/install-x64-windows-dbg-out.log)

[2022-05-12 19:53] HoLue commented on #21357
But how can I checkout a specific version in vcpkg?

[2022-05-12 19:55] autoantwort commented on #21357
You search the commit with the specific version and then do `git checkout ...`. But I really recommend using manifest mode

[2022-05-12 20:09] OlafvdSpek commented on #23666
[code]

[2022-05-12 20:17] HoLue commented on #21357
git checkout? I want to use a specific package version, e.g. OpenCV 4.5.3 !

[2022-05-12 20:34] OlafvdSpek commented on #23666
This doesn't look quite right:
[code]

[2022-05-12 22:13] dhrdlicka commented on #24604
vcpkg already has a libslirp port -- I submitted one a few months ago in #22394. Needs to be updated to 4.7.0 though.

[2022-05-12 22:17] kzhdev commented on #21357
If vcpkg supports versioning in manifest mode why can't it support in the command line mode?

[2022-05-12 22:57] Neumann-A commented on #24686
Error:
`LINK : fatal error LNK1168: cannot open Qt6\plugins\platforms\qdirect2dd.dll for writing`

Did you run out of HDD space?

[2022-05-12 23:12] Kappa971 commented on #24604
Does the new version work with MSVC?

[2022-05-12 23:34] #24662 closed

[2022-05-12 23:53] #24641 closed

[2022-05-13 00:06] #22480 closed

[2022-05-13 00:07] voltagex opened #24690 "[curl] update to 7.83.1"
Library name: curl

New version number: 7.83.1

https://curl.se/changes.html

https://daniel.haxx.se/blog/2022/05/11/curl-7-83-1-it-burns/

Contains security updates

[2022-05-13 00:09] #24684 closed

[2022-05-13 00:19] dhrdlicka commented on #24604
No, the upstream still only supports MinGW.

FWIW the main issues are just the usage of GCC syntax for struct packing and some quirky POSIX includes. That could technically be patched in the port, though raising the issue at the upstream is a still good idea nevertheless.

[2022-05-13 01:03] esdandreu commented on #24576
It seems that it is not finding your `vcpkg.json` file and therefore thinks that is in classic mode. It may be caused by the fact that you `vcpkg` folder is not in the root of the repository, it is inside the `3rdparty` folder. But I'm not sure. Do you have access to a `macOS` machine or are you debugging on github actions?

[2022-05-13 02:01] EVNII commented on #24686
I have 140 GB free memory left. I don't think I run out of. ( I will free more memory, and try again to see if this problem can be solved.)

[2022-05-13 02:02] EVNII commented on #24686
I have 140 GB free memory left. I don't think I run out of. ( I will free more memory, and try again to see if this problem can be solved.)

[2022-05-13 02:03] JonLiu1993 commented on #24690
@voltagex , Thanks for posting this issue, curl have updated to the latest version 7.83.1 by the pr #24690. please use command "git pull" get the latest version

[2022-05-13 02:03] #24690 closed

[2022-05-13 02:11] #24627 closed

[2022-05-13 02:13] Adela0814 commented on #24446
We don't have enough information to solve this issue, unfortunately; if you have any more information to help us solve this, please reopen!

[2022-05-13 02:13] #24446 closed

[2022-05-13 02:19] Adela0814 commented on #24558
Has your problem been solved? @JulZimmermann

[2022-05-13 02:20] Adela0814 commented on #24213
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2022-05-13 02:20] #24213 closed

[2022-05-13 02:21] Adela0814 commented on #24079
@WesleyAertsPXL  ping~

[2022-05-13 02:36] #16840 closed

[2022-05-13 03:08] aphage opened #24693 "-mfloat-abi=hard or -mfloat-abi=softfp on triple arm-linux ?"
[-mfloat-abi=hard or -mfloat-abi=softfp on triple arm-linux ?](https://github.com/microsoft/vcpkg/discussions/24692)

[2022-05-13 03:13] LilyWangLL commented on #24682
Thanks for posting this issue. Could you please remove the following files and directory and rebuild `brotli` again?
[code]
And please make sure the directory `D:/dev/vcpkg/packages/brotli_x86-windows-static/debug/share/unofficial-brotli` is not occupied by any process.

[2022-05-13 04:46] talregev commented on #24664
@Cheney-W We still have problem with angle on the master. it feel like random. always get an error in different triplets. Can you investigate it?
https://dev.azure.com/vcpkg/public/_build/results?buildId=72059&view=results

[2022-05-13 05:38] #24628 closed

[2022-05-13 05:44] JackBoosY commented on #23666
@OlafvdSpek Yes, I think that's why it failed.
Which powershell version do you use? Does it come from Windows Store?

[2022-05-13 05:49] Adela0814 commented on #24678
This header file is not installed in the upstream source， I think we should confirm with the upstream if it is necessary to install this.

[2022-05-13 06:03] Kappa971 commented on #24604
I will try to make a request on GitLab, thanks.

[2022-05-13 06:25] Adela0814 commented on #24678
https://github.com/apache/arrow/issues/13145

[2022-05-13 06:28] OlafvdSpek commented on #23666
No, it's the one that comes with W10: `%SystemRoot%\system32\WindowsPowerShell\v1.0\powershell.exe`

[2022-05-13 06:41] Cheney-W commented on #24686
I could install qtbase successfully with vcpkg 2022-05-05-67e17c1782801cf481be9ac0b3765dff3e4bdeb8 and VS2019 16.11.4.

[2022-05-13 06:48] Neumann-A commented on #24686
The other possibility is antivirus acting up.

[2022-05-13 06:59] Adela0814 commented on #24670
https://github.com/microsoft/vcpkg/pull/16385#discussion_r583250149 @ras0219  could you please help to confirm this?

[2022-05-13 07:17] JackBoosY commented on #23666
Should be the same issue with https://github.com/microsoft/vcpkg/issues/14339, please track that instead.

[2022-05-13 07:21] JackBoosY commented on #24693
cc @xieyubo Is it valuable?

[2022-05-13 07:23] JackBoosY commented on #23666
I don't think it's because the path contains parentheses, we should provide an absolute path to call applocal.ps1 instead of expecting pwsh.exe to be found.

[2022-05-13 07:28] Chlorie commented on #24671
@JackBoosY
I used some C++20 features so you might have to use a more recent version of Visual Studio for this, but it doesn't matter that much, since the `clu` part is building fine in my case. What's causing problem is the `imgui` port.

[code]
[code]

[code]

Note that it installed `imgui[core] 1.87` from the default registry and not `imgui 1.84.2#1` from my registry.

[2022-05-13 08:03] ResearchDaniel opened #24696 "Mac: Post-build step error caused by assumption of python 2 existence."
**Describe the bug**
Post-build step fails if python 2 is not installed on mac:
(https://github.com/microsoft/vcpkg/blob/6be82cfac67649a31d4c3eba56d2fafa9dc6736a/scripts/buildsystems/vcpkg.cmake#L598)

MacOS 12.3 removed default installation of python 2

Using the python executable from the setup fixed the problem for me, but it relies on ${PYTHON_EXECUTABLE} being set (e.g. through `find_package(

[2022-05-13 08:05] JackBoosY commented on #24671
I can confirm this is a registry bug. I can simply reproduce this using registry in classic mode.

[2022-05-13 08:05] JackBoosY commented on #24671
cc @BillyONeal @ras0219-msft

[2022-05-13 08:25] ScottLangham commented on #24682
I can try.
* The `tar.gz` file already does not exist
* I have deleted the `src` folder
* The `unofficial-brotli`  folder does not exist, so I presume it cannot be occupied by any process.

[2022-05-13 08:40] ScottLangham commented on #24682
I tried to ProcMon it. The only process that touches the folder `D:\dev\vcpkg\packages\brotli_x86-windows-static\debug\share\unofficial-brotli` is cmake. I presume that's immediately before the build fails because it doesn't exist. cmake runs with this command line:

`"D:\dev\vcpkg\downloads\tools\cmake-3.22.2-windows\cmake-3.22.2-windows-i386\bin\cmake.exe" -DALL_FEATURES= -DCURRENT_PORT_DIR=D:/d

[2022-05-13 08:40] stevefan1999-personal opened #24698 "[LLVM] build failure on x64-mingw-static"
**Host Environment**
- OS: Windows 11
- Compiler: latest MinGW

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install llvm:x64-mingw-static`

**Additional context**
The error comes from `llvm-tblgen` where the executable is missing a few DLLs, namely "libgcc_s_seh-1.dll", "libstdc++-6.dll" and "libwinpthread-1.dll", which is why TableGen exits immediately with the error code "0xC00001

[2022-05-13 08:45] stevefan1999-personal commented on #24698
Hmm, this looks like a false positive, I happened to have Anaconda installed and that also contained a MinGW toolchain, added to my PATH, and that MinGW also contained mentioned libraries. Closing this as a false positive due to environmental inconsistency.

[2022-05-13 08:45] #24698 closed

[2022-05-13 08:55] Adela0814 commented on #24569
@lunkyguy Have you tried this PR https://github.com/microsoft/vcpkg/pull/24308? Can this solve your problem？

[2022-05-13 09:32] LilyWangLL commented on #24682
[brotli.zip](https://github.com/microsoft/vcpkg/files/8685889/brotli.zip)
Could you use the portfile.cmake and vcpkg.json in this zip instead you locally files, and install `brotli` again? I changed the depracted function `vcpkg_fixup_cmake_targets`.

[2022-05-13 09:52] BZandi commented on #24576
Yes, I have a local macOS machine. In order to let vcpkg find the manifest file, I provided the path with ``vcpkg install --x-manifest-root=....``. Then, the pre-install of vcpkg worked.

However, unfortunately, this workaround did not solve the `` Building x64-osx-dbg`` error.

[2022-05-13 09:54] Kappa971 commented on #24604
The developer is willing to add support to Visual Studio, this is what he wrote:
"_Hello, I don't have an MSVC toolchain, contribution welcome!_".
Anyone who wants to contribute, @kcgen, @dhrdlicka or others, can do it here: https://gitlab.freedesktop.org/slirp/libslirp/-/issues/60

[2022-05-13 10:03] Cheney-W commented on #24664
I've checked that the files being compiled, the compilation options, and the final result are exactly the same as the VS bug found internally before.

[2022-05-13 10:31] ScottLangham commented on #24682
Hi, thanks, I've tried those new files. The output was a little bit different, but still ended in the same error with the same folder missing.

[code]

[2022-05-13 11:05] ScottLangham commented on #24682
I've been trying to compare my system with my colleagues (that works). We both deleted the `vcpkg` repo and got rid of the `%LOCALAPPDATA%\vcpkg`, cloned again and tried to run `.\vcpkg install brotli`.

I've attached our build out.log files. At the end where it says `-- Installing:`, the broken one installs `brotli.exe` from `debug\bin\brotli.exe`. On the working system its different and is from

[2022-05-13 11:24] dg0yt commented on #24682
It looks like the broken build lacks `ports\brotli\install.patch`.

[2022-05-13 11:26] dg0yt commented on #24682
... and this would be very strange, because the source dirname (6c62fc2c71-7c6c2710e9.clean) identifies the same configuration.

[2022-05-13 12:08] talregev commented on #24664
@Cheney-W Is it problem only in the CI?

[2022-05-13 12:30] zchrissirhcz commented on #10400
@LilyWangL Hi, I would like to add this port now. The previously mentioned "ncnn's CI often check failed for Linux build" is fixed, and it is also possible to choose its git tags which are stable(build success on all platforms) and format is united (e.g. 20200420).

 https://github.com/Tencent/ncnn/tags

[2022-05-13 12:34] zchrissirhcz commented on #10400
Actually, I just git cloned the latest vcpkg on my macOSX(Intel chip), running a `./vcpkg search ncnn` shows this port is outdated:
<img width="867" alt="image" src="https://user-images.githubusercontent.com/3831847/168283848-c1feb1f6-3439-46dd-902e-f6cd5e2ed5e7.png">

@JackBoosY  Hi, would you please help consider adding this port?

[2022-05-13 13:44] kcgen commented on #24604
@Kappa971 , thanks for sharing this issue with upstream.

@sthibaul , regarding not having an MSVC toolchain, the problem involves libslirp being written using GNU-specific extensions.  To make libslirp portable, these addon GNU-extensions need to be replace with standard C syntax language, be it C99 or C11 (or even C18).

That can be pursued 100% with Meson and GCC, simply by telling Meson that t

[2022-05-13 14:15] sthibaul commented on #24604
The only real problematic part I see is the use of the `typeof` extension (which to my opinion should have been in the standard for so long).
Do you have a use for the save-state part? We could simply disable that part under msvc. Otherwise, it won't be trivial to fix it not to use `typeof`.

[2022-05-13 14:41] EVNII commented on #24686
![image](https://user-images.githubusercontent.com/19518187/168307760-602b6757-bdaa-45b0-83c9-158615fe597f.png)
is there any other possibility? I have turned off the protection in Windows Security.

[2022-05-13 14:50] kcgen commented on #24604
That would work for us, as DOSBox Staging project doesn't use save-states.  Sounds like good first round of changes.

[2022-05-13 14:52] Neumann-A commented on #24686
How many logical cores do you have? maybe it is too fast for the FS to catch up.

[2022-05-13 15:14] EVNII commented on #24686
12 Logical Cores. i7 8750H

[2022-05-13 15:23] DougRogers opened #24699 "Breakpad build failure"
[code]
I deleted vcpkg and did a fresh install.
`vcpkg install breakpad  --triplet x64-windows`
[code]

[2022-05-13 15:31] DougRogers commented on #24699
[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/8689049/install-x64-windows-dbg-out.log)

[2022-05-13 15:32] DougRogers commented on #24699
fatal error C1083: Cannot open include file: 'atlbase.h': No such file or directory

[2022-05-13 15:33] robertkearns opened #24700 "vcpkg_extract_source_archive fails on macOS when build tree is open in the finder"
**Describe the bug**
When vcpkg is extracting the source on macOS the temporary extraction directory is checked to ensure only 1 file exists, and that it is a directory. If the build tree is opened in the finder the finder often creates a .DS_STORE file in the temp directory. This causes the build to fail, as a `.DS_STORE` file exists alongside the extracted source directory.

The build fails with

[2022-05-13 15:37] #24699 closed

[2022-05-13 18:29] Tezas-6174 opened #24703 "Error: Building package bzip2:x64-linux failed with: BUILD_FAILED"
I am using Ubuntu 20.04 LTS. I was installing the dependencies for Iroha 1 using vcpkg using the command ``./vcpkg/build_iroha_deps.sh $PWD/vcpkg-build``. But the process was interrupted by the error:

[code]

Please resolve this.

[2022-05-13 18:51] xiaozhuai opened #24704 "angle build failure"
**Host Environment**
- OS: win10 21h2
- Compiler: Visual Studio 17.2.0  MSVC 19.32.31328.0

**To Reproduce**
`./vcpkg install angle:x64-windows`

[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/8690160/install-x64-windows-dbg-out.log)

[2022-05-13 19:07] xieyubo commented on #24693
I think it depends on the compiler flag used by different packages. If packet doesn't specify, it depends on the compiler and whether you use cross compiling. If you don't use cross compiling, compiler will detect your host (target) by default. If you use cross compiling, it depends on your cross compiling tool. E.g. if your cross compiler is `gcc-arm-linux-gnueabihf` I think it uses `-mfloat-abi=

[2022-05-13 19:42] BillyONeal commented on #12595
Visual Studio build of vcpkg no longer exists.

[2022-05-13 19:42] #12595 closed

[2022-05-13 20:41] OlafvdSpek commented on #23666
Take 2, this time pwsh is available:
[code]

[2022-05-13 20:47] BenKey commented on #24413
@JackBoosY I think this is the log file you wanted.

[install-x64-windows-rel-out.log](https://github.com/microsoft/vcpkg/files/8691197/install-x64-windows-rel-out.log)

[2022-05-13 21:34] Kappa971 commented on #24604
Can you compile this build with MSVC?
[libslirp-msvc.zip](https://github.com/microsoft/vcpkg/files/8691461/libslirp-msvc.zip)

[2022-05-13 21:36] Neumann-A commented on #24704
vcpkg cannot do anything about an ICE (Error 1001). Upstream might have a workaround.

[2022-05-13 22:02] #24413 closed

[2022-05-13 22:07] redbaron commented on #17607
Also `vcpkg_copy_tool` helper is not working if one tried to create and use dynamic linux triplet. It copies binaries just fine, but doesn't update rpath, leaving them non functional.

[2022-05-13 23:50] #24314 closed

[2022-05-13 23:52] #24605 closed

[2022-05-13 23:52] #22162 closed

[2022-05-14 04:15] xiaozhuai commented on #24704
@Neumann-A Thanks. Should I report this to angle or Visual Studio? I succeed with vs 17.1.6 before. And Yesterday, I upgrade my vs to 17.2, it broken.

[2022-05-14 05:20] dg0yt commented on #24703
"ASAP" may sound impolite. Even more given that you didn't attempt to use an up-to-date version of vcpkg.

[2022-05-14 07:29] Thomas1664 opened #24709 "[github actions] PR bot suggests deprecated license identifiers"
**Describe the bug**
If a port doesn't provide a license field while its original license is `LGPL-2.1-only`, the bot suggests the deprecated identifier `LGPL-2.1`. I'm pretty sure this bug exists for the other `(L)GPL-*` identifiers as well.

e.g.: https://github.com/microsoft/vcpkg/pull/24706#pullrequestreview-972989616

[2022-05-14 08:07] Thomas1664 opened #24710 "[magnum-*] Features not available"
A call to `vcpkg_check_features` is missing.

[2022-05-14 08:29] dg0yt commented on #24709
FTR  the non-deprecated alternative is the strict `LGPL-2.1-only`, not the relaxed `LGPL-2.1-or-later`.

[2022-05-14 10:47] carlo-bramini commented on #23301
Still happen with current [0cf5b43](https://github.com/microsoft/vcpkg/commit/0cf5b4305ba811d069d3ce328261eeb54bf61c3a)

[2022-05-14 13:15] chcgjc commented on #22074
HELLO
can somebody tell me how to fix this Error: in triplet x64-windows: Unable to find a valid Visual Studio instance
Could not locate a complete Visual Studio instance in visual studio CODE?
this is the .\vcpkg\vcpkg install cpprestsdk cpprestsdk:x64-windows

PS> vcpkg install cpprestsdk cpprestsdk:x64-windows and what is the PS> in this ?

[2022-05-14 13:21] chcgjc commented on #22548
HELLO
os:window 7 x64
can somebody tell me how to fix this Error: in triplet x64-windows: Unable to find a valid Visual Studio instance
Could not locate a complete Visual Studio instance in visual studio CODE?
this is the .\vcpkg\vcpkg install cpprestsdk cpprestsdk:x64-windows

PS> vcpkg install cpprestsdk cpprestsdk:x64-windows and what is the PS> in this ?

[2022-05-14 13:51] k-128 opened #24711 "[zeromq] build failure on mingw"
**Host Environment**
- OS: Windows 10
- Compiler: gcc.exe, g++.exe (Rev10, Built by MSYS2 project) 11.3.0

<br />

**To Reproduce**
- `.\vcpkg.exe install zeromq:x86-mingw-static`
- `.\vcpkg.exe install zeromq:x86-mingw-dynamic`
- `.\vcpkg.exe install zeromq:x64-mingw-static`
- `.\vcpkg.exe install zeromq:x64-mingw-dynamic`

<br />

**Failure logs**
*Warning*

[code]

<br />

*Error*

[code]

<br

[2022-05-14 14:15] Tezas-6174 commented on #24703
Sorry for that, I will check it once by using the up-to-date version of vcpkg.

[2022-05-14 17:10] Trider12 commented on #24585
As a workaround I installed CMake `3.23.1`, however that did not solve the problem and vcpkg still failed to copy `x64-linux.vcpkg_abi_info.txt`:

`./vcpkg install sdl2 --debug`
[code]

[2022-05-14 18:35] BenKey opened #24713 "[cpuinfo] Build error"
# Host Environment

* **OS:** Windows 10 Pro Version 21H2 build 19044.1706 with Windows Feature Experience Pack 120.2212.4170.0
* **Compiler:** Microsoft Visual Studio Community 2022 Version 17.2.0
* **vcpkg-tool version:** 2022-05-05-67e17c1782801cf481be9ac0b3765dff3e4bdeb8
* **vcpkg-scripts version:** b9298e472 2022-05-13 (19 hours ago)

# To Reproduce

Steps to reproduce the behavior:

`./vcpkg

[2022-05-14 21:38] Kappa971 commented on #24604
@kcgen @dhrdlicka, now you can compile libslirp with MSVC (branch here: https://gitlab.freedesktop.org/slirp/libslirp/-/merge_requests/124).

There are two problems left:
1. this part of `meson.build` code:
[code]
   causes this error:
![Immagine_2022-05-13_164639](https://user-images.githubusercontent.com/62349018/168448708-2f80675a-c07f-44aa-b978-744d99378622.png)
I'm not an expert, maybe you ca

[2022-05-14 22:13] Neumann-A commented on #20434
@JackBoosY can be closed. Should be fixed since the port now sets CC

[2022-05-15 00:40] Dico200 commented on #23748
I get the same error in a CI run, if I run `git fetch origin <builtin-baseline-ref>` in the submodule folder before configuring cmake the issue is fixed.

[2022-05-15 02:27] #24658 closed

[2022-05-15 04:49] Kwizatz commented on #24510
Hi, so, last time I updated v8 I came across some reluctance to let the patches in, there was a heated discussion on whether a fix upstream was or wasn't the "correct" fix for an issue that was present on the version I was updating to, but already fixed on upstream/master.

In the end I had to wait for the version that had the fix was became the current stable and only then update. I was asked to

[2022-05-15 05:04] chuyanjuncn opened #24717 "[<osgEarth] update to <3.3>"
Library name:  osgEarth

New version number:  3.3

Other information that may be useful (release notes, etc...)

https://github.com/gwaldron/osgearth

https://github.com/gwaldron/osgearth/archive/refs/tags/osgearth-3.3.tar.gz

[2022-05-15 05:30] aphage commented on #24693
`./vcpkg install glog --triplet=arm-linux`

What compiler is the default?

[2022-05-15 08:17] dg0yt commented on #24717
I started working on that yesterday, but it is not trivial. Key problems:
- Not aware of static library linking order for OpenSceneGraph libs.
- Transitive dependencies not properly carried by OpenSceneGraph.
- Dependency on outdated LERC - patch done, but not tested.

Basically, I just went one step back and look at OpenSceneGraph now.

[2022-05-15 12:51] oofsamy commented on #23417
Hey, the workaround was mentioned in the issue I had with cpr, but I still have the same problem even when version pinning with the manifest file, I modified it for x64 but I don't believe that could be the reason why though, could it?

[code]

[2022-05-15 15:34] Chlumsky opened #24719 "[skia] Two build errors"
**Host Environment**
- OS: Windows 10
- Compiler: Visual Studio 2022
- Triplet: x64-windows-static

**To Reproduce**
vcpkg.json:
[code]
CMakeLists.txt:
[code]

main.cpp:
[code]

## Problem 1

vcpkg install fails if project is on a different drive (D:) than vcpkg directory (C:).

build-x64-windows-static-dbg-err.log:

[code]

Can be resolved by moving the project to the same drive.

## ~Problem 2~

[2022-05-15 17:40] markgomez opened #24721 "Ports in manifest mode fail to build using MSVC after updating to the 2022.05.10 release"
**Describe the bug**

I've been using the `2022.04.12` release as a submodule in manifest mode and it was working fine until I updated to the latest release (`2022.05.10` at the time of this writing). Many of the ports I've tried so far (not just the one listed in my example below) result in a `BUILD_FAILED` error when using MSVC.

<br>

**Environment**
- MSVC v142, 19.29.30145.0 (VS 2019) x64/x86

[2022-05-15 17:40] jgcodes2020 opened #24722 "gtkmm depends on missing stub libraries"
**Describe the bug**
A clear and concise description of what the bug is.

**Environment**
- OS: Windows 10 21H2
- Compiler: Microsoft(R) Optimizing Compiler version 19.32.31328 for x64
- In KVM under virt-manager

**To Reproduce**
Steps to reproduce the behavior:
1. `./vcpkg install gtkmm:x64-windows`
2. `git clone` this project ([jgcodes2020/tas-input-v2](https://github.com/jgcodes2020/tas-input-

[2022-05-15 19:53] nlm1997 opened #24723 "error: building jasper:x86-windows failed with: BUILD_FAILED"
**Host Environment**
- OS: Windows
- Compiler: g++

**To Reproduce**
Steps to reproduce the behavior:
`git clone https://github.com/Microsoft/vcpkg.git
cd vcpkg
.\bootstrap-vcpkg.sh
.\vcpkg integrate install
vcpkg install ogre`

**Additional context**
`error: building jasper:x86-windows failed with: BUILD_FAILED
Please ensure you're using the latest port files with `git pull` and `vcpkg update`.
T

[2022-05-15 21:30] Say-Y opened #24724 "[glew] Build error"
I'm making a buildable cross-platform(Windows, Android) engine on windows 10, 11.

**Host Environment**
- OS: Windows 11
- Compiler: ? (Visual Studio 2022)
- vcpkg version: (newest) revision 0cf5b4305ba811d069d3ce328261eeb54bf61c3a
- additional environmental variables: ANDROID_NDK_HOME: C:\Microsoft\AndroidNDK\android-ndk-r21e
![image](https://user-images.githubusercontent.com/38012319/168494946-a

[2022-05-16 01:54] JonLiu1993 commented on #24658
@anuraghit ,Have your problem solved?

[2022-05-16 02:43] JackBoosY commented on #24413
Can you please update your vcpkg using `git pull`, remove port `lua` then try again?

Thanks.

[2022-05-16 02:50] JackBoosY commented on #10400
@zchrissirhcz You can make a simple PR then I will help you to add this port.

[2022-05-16 03:00] JackBoosY commented on #23666
[code]
I think it's okay?

[2022-05-16 03:08] JackBoosY commented on #24585
@BillyONeal Do you have any ideas with this issue?

[2022-05-16 03:08] #20434 closed

[2022-05-16 03:10] Cheney-W commented on #22074
Thanks for posting this issue. Please reopen this issue if it still be a problem for you.

[2022-05-16 04:21] #24654 closed

[2022-05-16 05:51] Adela0814 commented on #24709
@BillyONeal Can you please take a look at this issue.

[2022-05-16 06:16] Cheney-W commented on #24664
I suspect that the cache is not cleared to cause.

[2022-05-16 06:42] JackBoosY commented on #24721
I can't repro this issue locally. It works fine in my machine.
`testCCompiler.c` should be generated by cmake function `CMakeTestCCompiler`.
This issue should related to your Visual Studio or disk.

[2022-05-16 06:43] LilyWangLL commented on #24682
@ScottLangham Could you also please provide the release log file **install-x86-windows-rel-out.log** on broken machine? I found the broken debug log doesn't have these message in the end of log.
[code]
This show the broken vcpkg doesn't do the following codes in _${SOURCE_PATH}/CMakeLists.txt_.
[code]

[2022-05-16 06:54] JackBoosY commented on #24710
- magnum : has `vcpkg_check_features`, and use `ALL_FEATURES`
- magnum-extras : doesn't have `vcpkg_check_features`, use `ALL_FEATURES` instead
- magnum-integration ： doesn't have `vcpkg_check_features`, use `ALL_FEATURES` instead
- magnum-plugins ： has `vcpkg_check_features`, and use `ALL_FEATURES`

So I think they are okay?

[2022-05-16 07:03] OlafvdSpek commented on #23666
It is after the initial build. But if then for whatever reason one of the DLLs goes missing (simulated by the delete), the other DLL gets 'cleaned up' and they don't get reinstalled.
[code]

[2022-05-16 07:13] JackBoosY commented on #23666
@OlafvdSpek Can you please provide the full output?

[2022-05-16 07:14] OlafvdSpek commented on #23666
I did, see the take 2 post from 2 days ago.

[2022-05-16 07:15] OlafvdSpek commented on #23666
Let me copy the relevant last part:
[code]

[2022-05-16 07:18] JackBoosY commented on #23666
[code]
I think the reason the missing library is not installed is that the build process is not enabled.

[2022-05-16 07:18] LilyWangLL commented on #24682
And did you install other ports have the same error, does this error only exist when instlling `brotli`?

[2022-05-16 07:22] OlafvdSpek commented on #23666
Is that a bug?

Sure

[2022-05-16 07:23] JackBoosY commented on #23666
I believe that's by design. Installing built libraries and dependencies are sequential, not side-by-side.

[2022-05-16 07:24] JonLiu1993 commented on #24704
@xiaozhuai ,Thanks for posting this issue, I can't repo this issue on my local machine:
[code]
Could you please install the Visual Studio with English lanage package and try again?

[2022-05-16 07:25] OlafvdSpek commented on #23666
I'm not sure what that implies.
But I also don't understand this part:
[code]

[2022-05-16 07:27] JackBoosY commented on #23666
Oh...
@BillyONeal Does incremental clean also clean up our installed dependencies?

[2022-05-16 07:34] JonLiu1993 commented on #24723
@Luseno64 ,Thanks for posting this issue, could you please provide your error log?

[2022-05-16 07:39] LilyWangLL commented on #24586
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2022-05-16 07:39] #24586 closed

[2022-05-16 08:04] Adela0814 commented on #24719
@bold84 Can you please take a look,

[2022-05-16 08:15] LilyWangLL commented on #24481
Ping @leeh8911 for response, could you please run the following command to reproduce this issue?

[2022-05-16 08:16] LilyWangLL commented on #24404
Ping @niclar for response.

[2022-05-16 08:18] LilyWangLL commented on #24172
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2022-05-16 08:18] #24172 closed

[2022-05-16 08:34] xiaozhuai commented on #24704
@JonLiu1993 I can suc build it on vs 17.1.6. Then I upgrade to 17.2, it broken.
I've switch to English language pack, here is the log.

[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/8698443/install-x64-windows-dbg-out.log)

[2022-05-16 08:35] JackBoosY commented on #24704
[code]

[2022-05-16 08:36] JackBoosY commented on #24704
This issue was fixed by Visual Studio 2022 dev branch but have not published yet.

[2022-05-16 08:43] JackBoosY commented on #24597
Can you please provide the full output?
Also please remove port `vcpkg-cmake` then try again.
If it doesn't help, please ensure you've installed `vcpkg-cmake` using vcpkg command `./vcpkg list vcpkg-cmake` and provide the output.

Thanks.

[2022-05-16 09:00] ScottLangham commented on #24682
`cpprest` is the first vcpkg I have ever tried, and it fails with this `brotli` error.

I have randomly picked some other packages to install and they appear to build successfully.

[2022-05-16 09:20] JackBoosY commented on #22892
I can confirm this issue can be reproduced using the following command:
[code]

[2022-05-16 09:25] bold84 commented on #24719
Yes, but I can't get to that before next weekend.

[2022-05-16 09:35] LilyWangLL commented on #24682
Yeah, the patches apply failed on your vcpkg, did you install git on your machine? Could you use command on vcpkg window?

[2022-05-16 09:38] LilyWangLL commented on #24682
Yeah, these patches applied failed on your vcpkg, did you install git on your machine?

[2022-05-16 10:07] ScottLangham commented on #24682
I've extracted the environment variables from the running cmake. The PATH variable has a different value to what's in my system environment variables. I'm new to cmake. I don't know where its getting its PATH env variable from.

[2022-05-16 10:37] dg0yt commented on #24682
In any case, this should trigger a vcpkg error immediately in the patching step, not in the build step. This is a vcpkg bug.

[2022-05-16 11:12] manugc opened #24727 "[aws-sdk-cpp] update to 1.9.257"
Library name: aws-sdk-cpp

New version number: 1.9.257

The latest changes bring interesting improvements

[2022-05-16 11:18] talregev commented on #24664
How we can clear the cache from the ci?

[2022-05-16 11:43] s2s-k opened #24728 "[gamenetworkingsockets] update to v1.4.0"
Library name: [GameNetworkingSockets](https://github.com/ValveSoftware/GameNetworkingSockets)

New version number: v1.4.0

https://github.com/ValveSoftware/GameNetworkingSockets/releases/tag/v1.4.0

[2022-05-16 12:49] JacqueSatan opened #24730 "Visual Studio doesn't detect Vcpkg"
**Describe the bug**
I used Visual Studio Community from early versions of 2019 until now, both Preview and Normal, and it never detected Vcpkg as it should do it. I always added the vcpkg include and library directories by hand in each of my projects.

I just saw that other users have a vcpkg category in their projects properties, which I didn't even know was a thing. I completely reinstalled Vis

[2022-05-16 13:36] Jagrutiti opened #24731 "[expat] Build error :x64-windows failed with: BUILD_FAILED"
**Host Environment**
- OS: Windows 11

**To Reproduce**
I was trying to build [Git  for Windows](https://github.com/git-for-windows/git/blob/HEAD/CONTRIBUTING.md#using-sdk-command-line) and executed the first command: `make MSVC=1 -j12` when I got this error.

**Failure logs**
[code]

**Additional context**
I have installed Visual Studio and CMake for Windows and Linux from the Visual Studio insta

[2022-05-16 14:32] BenKey commented on #24413
@JackBoosY I did that over the weekend. It works. Thanks.

[2022-05-16 15:03] knoxfighter opened #24732 "[ImGui] missing version 1.80"
Library name: imgui

Missing version number: 1.80

Other information that may be useful (release notes, etc...):
ImGui is already listed and up to date. BUT, version 1.80 is not tracked and we have to use that specific version.
Please add that version to the list of available versions.

[2022-05-16 15:31] I-love-study opened #24733 "[sqlpp11] "The following variables are not used in CMakeLists.txt: ENABLE_TESTS" while install"
**Host Environment**
- OS:  Windows 11 21H2
- Compiler: Visual Studio 2022 17.2.0

package: sqlpp11[core]:x64-windows -> 0.60#1
vcpkg-tool version: 2022-03-30-692785ac944e81417840c6de244fb3e18a4b35eb
vcpkg-scripts version: 5e7cbdcea 2022-05-15 (11 hours ago)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install sqlpp11:x64-windows`

**Failure logs**
[code]

**Additional context**
Add

[2022-05-16 16:56] Trider12 commented on #24585
So, I've finally found the cause of the issue - my `sf_D_DRIVE` mounted partition filesystem is `vboxsf`. I cloned `vcpkg` into a folder on an `ext4` partition and everything worked fine both with `CMake` `3.22.2` and `3.23.1`.

While I suspected from the start that this might cause some issues, I never thought it would actually cause any, because afaik `vcpkg` does not rely on symlinks or any oth

[2022-05-16 18:00] BillyONeal commented on #24585
That's at least something we can work with in terms of reproing the problem. We do currently try to copy over mode bits on Linux, in particular to copy the "executable" permission: https://github.com/microsoft/vcpkg-tool/blob/ed24ff3f274ab1b201c4fad4b95bd7e478435264/src/vcpkg/base/files.cpp#L2910

[2022-05-16 18:41] #23727 closed

[2022-05-16 18:44] #23287 closed

[2022-05-16 19:40] #24700 closed

[2022-05-16 20:42] BillyONeal commented on #24709
It isn't suggesting that you use that deprecated license, it is saying "this is the license I found". I'll see if I can clarify the message.

[2022-05-16 20:58] BillyONeal commented on #22892
That sounds like an accurate error message then. Unfortunately, as far as I know there's no good way to interrogate across port boundaries for such information. We could patch the error message in upstream to say something like "either remove the hdf5[parallel] feature, or enable the vtk[mpi] feature" ?

[2022-05-16 21:07] #24638 closed

[2022-05-16 21:22] Thomas1664 commented on #24710
Why do I find this in the logs?

[code]

[2022-05-17 00:49] JackBoosY commented on #22892
@BillyONeal Yeah, I'm trying to fix this issue.

[2022-05-17 00:56] JackBoosY commented on #24733
I confirm this option was removed, and it will be fixed by updating this port to the next release to reduce the modification.

[2022-05-17 01:30] Adela0814 commented on #24731
Please try the command `.\vcpkg.exe install expat`. Refer to [vcpkg#getting-started](https://github.com/microsoft/vcpkg#getting-started)

![image](https://user-images.githubusercontent.com/95600143/168708455-5d048733-c2ff-439a-88c5-b41dfbefdfb0.png)

Please make sure you have VS English pack and c++ desktop component. These may avoid the problems you encounter later
![image](https://user-images.gi

[2022-05-17 01:55] FrankXie05 commented on #24728
Fixed of #23043
Make sure you are using the latest vcpkg.

[2022-05-17 01:55] #24728 closed

[2022-05-17 02:08] Adela0814 commented on #24484
@r4nx ping~

[2022-05-17 02:16] JonLiu1993 commented on #24732
@knoxfighter, Thanks for posting this issue, vcpkg can't add the missing version temporarily, but we provide the overlay feature for users to add a specific version locally. For the specific usage method, please refer to [this](https://github.com/microsoft/vcpkg/blob/master/docs/specifications/ports-overlay.md). If you have any problems during use, you can ping me

[2022-05-17 03:16] Andor233 commented on #24439
Same here

[2022-05-17 03:24] sundarsabapathi opened #24742 "[Catch2 v2.13.7] build failure"
**Host Environment**
- OS: Windows 10 Pro
- Compiler: VS 2019 cmake

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install catch2 `

**Failure logs**
`Starting package 4/10: catch2:x86-windows
Building package catch2[core]:x86-windows...
-- Installing port from location: C:\Users\sunda\Source\Repos\nectar-cpp\cosmos\libs\vcpkg\buildtrees\versioning_\versions\catch2\900833643e0eb468d95

[2022-05-17 05:01] s2s-k commented on #24728
Lol. I thought library updates were independent of vcpkg update in no way. I thought it was taking information from some website, etc.

https://vcpkg.io/en/packages.html still shows version 1.3.0.

Okay, thank you. Updating vcpkg helped.

[2022-05-17 07:02] LilyWangLL commented on #24742
Thanks for posting this issue. This is `libwinpthread-git-8.0.0.5906.c9a21571-1` download failed, this is not a bug, this package has been removed by msys repo, I can't find it in https://repo.msys2.org/mingw/x86_64/. Did you use the old commit to download `catch2` v2.13.7?

[2022-05-17 07:43] Cheney-W commented on #24703
What is the result of using the latest vcpkg?

[2022-05-17 08:30] Cheney-W commented on #24730
Could you please check to see if your ${VSINSTALLDIR}\MSBuild\Microsoft\VC\v170\Microsoft.Cpp.Common.props file contains the following:
[code]
If not, I think you could open Powershell as administrator and run `.\vcpkg integrate install` again.

[2022-05-17 08:34] JackBoosY commented on #24682
Can you please add an extra option `--debug` to the install command then provide the output?

[2022-05-17 08:42] hihig2001 opened #24743 "[uvw] update to <2.12.1>"
Library name: uvw

New version number: 2.12.1

Other information that may be useful (release notes, etc...)
current vcpkg version is 2.7.0 and it is way behind from current version.
2.12.1 uses recent version of libuv which is 1.44

https://github.com/skypjack/uvw/tags

[2022-05-17 08:43] LilyWangLL commented on #24742
You can use [overlay ports](https://github.com/microsoft/vcpkg/blob/master/docs/specifications/ports-overlay.md) to install the specific versions of `catch2`. You can see the detail from the documentation.

[2022-05-17 08:43] hihig2001 opened #24744 "[libuv] update to <1.44.1>"
Library name: libuv

New version number: 1.44.1

Other information that may be useful (release notes, etc...)
it has been updated on March! :)

[2022-05-17 09:00] LilyWangLL commented on #24722
I verify this issue locally by tool depends.exe. I will double confirm this is a port bug on VCPKG or upstream.

[2022-05-17 09:00] sundarsabapathi commented on #24742
Thanks @LilyWangLL . I will check detail from the documentation.

[2022-05-17 09:21] LilyWangLL commented on #24722
I found the similar issue: https://github.com/lucasg/Dependencies/issues/119, according this comment, this issue should be a upstream issue, could you submit an issue to report this on [upstream](https://gitlab.gnome.org/GNOME/gtkmm)?

[2022-05-17 09:27] LilyWangLL commented on #24722
cc @Neumann-A

[2022-05-17 10:20] Neumann-A commented on #24722
I would say this is not related to the port and is such not a vcpkg issue. The "missing" dlls are all windows dlls...

[2022-05-17 10:39] redbaron opened #24748 "[binarycaching] cache is not invalidated on update"
**Describe the bug**

when toolchain file `include()` another file, obtain to the included files doesn't invalidate vcpkg binarycache and doesn't trigger rebuild

**Expected behavior**
included files are taken into account when calculating toolchain file hash

**Additional context**

`get_toolchain_cache` function just hashes the toolchain file content , which ignores any includes.  Hashing result

[2022-05-17 12:53] #24665 closed

[2022-05-17 13:03] ALittleDruid opened #24751 "[qtwebengine] Build err"
**Host Environment**
- OS: [Windows 11]
- Compiler: 14.31.31103 (visual studio 2022 17.1.6)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install qt[default-features]`

**Failure logs**
CMake Warning at ports/qtwebengine/portfile.cmake:88 (message):
  Buildtree path 'D:/vcpkg/buildtrees/qtwebengine' is too long.

  Consider passing --x-buildtrees-root=<shortpath> to vcpkg!

  Trying

[2022-05-17 13:32] Remotion opened #24752 "[New Port Request] CVC5 SMT Solver."
Library name:
cvc5

Library description:
cvc5 is an open-source automatic theorem prover for Satisfiability Modulo Theories (SMT) problems.

Source repository URL:
https://github.com/cvc5/cvc5

Project homepage (if different from the source repository):
https://cvc5.github.io/

Anything else that is useful to know when adding (such as optional features the library may have that should be included)

[2022-05-17 13:34] Remotion opened #24753 "[New Port Request] Cling C++ interpreter."
Library name:
Cling

Library description:
Cling C++ interpreter.

Source repository URL:
https://github.com/root-project/cling

Project homepage (if different from the source repository):
https://root.cern/cling/

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2022-05-17 13:51] FischLu commented on #24420
I have the same error from FreeImage

[2022-05-17 13:53] Neumann-A commented on #24751
Pass `--x-buildtrees-root=<shortpath>` to vcpkg. qtwebengine really needs short paths for building. If you don't need webengine install qt modules by names.

[2022-05-17 14:13] Neumann-A commented on #24748
Known, proposed solution is partly a duplicate of #19984

[2022-05-17 16:57] JacqueSatan commented on #24730
The file contains this property.

[2022-05-17 17:18] NekkoDroid commented on #21526
Is there any info/update on a fix to this issue (other than the workaround)?
It seems to still be a problem when I tested on my linux system.

[2022-05-17 19:14] Neumann-A commented on #24753
Since `cling` is a tool and not a library it is, in general, out of the scope of vcpkg. I might provide an overlay someday but it probably won't go into the main repo.

[2022-05-17 21:43] MarkH1994 opened #24760 "[mongo-cxx-driver] build failure"
**Host Environment**
- OS: Ubuntu 20.04
- Compiler: GCC 9.4.0 x86_64-linux-gnu

**The following code reproduces the problem:**
main.cpp
[code]

CMakeLists.txt
[code]

vcpkg.json
[code]

**Failure logs**
[code]

The code is compiled in VS Code, using CMake Tools. Upon request, I can add the terminal commands to compile the code similarly.

**Additional context**
First, I tried building the code usi

[2022-05-17 23:47] #24709 closed

[2022-05-18 00:44] StarGate-One opened #24765 "[curl] build failure "an FYI""
**Just an FYI Heads up**

**Host Environment**
- OS: Windows 11 Version [10.0.22000.675]
- Compiler: Visual Studio Community 2022 Version: [17.2.1]  VS Tools Version: [14.31.31103]
                   Microsoft (R) C/C++ Optimizing Compiler Version [19.31.31107] for x64

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install curl[core,non-http,schannel,ssl,sspi,winssl]:x64-windows`

**F

[2022-05-18 00:54] elms commented on #24765
I think this https://github.com/microsoft/vcpkg/compare/master...elms:fix/curl_ntlm?expand=1 will fix it. But really should apply the full patch from https://github.com/curl/curl/pull/8864

[2022-05-18 01:31] BillyONeal commented on #24765
https://github.com/microsoft/vcpkg/pull/24766

[2022-05-18 02:14] LilyWangLL commented on #24753
Thanks Neumann's help. Since tool `cling` can't be added to vcpkg for now, so I am closing this issue for now. If there are new updates about this tool, please reopen this issue.

[2022-05-18 02:14] #24753 closed

[2022-05-18 03:19] anuraghit commented on #24658
Ye 👍 thank you

[2022-05-18 05:03] xiaozhuai commented on #24704
I upgrade to Visual Studio LTSC 17.2.1 and still got the same problem.

[2022-05-18 05:24] dg0yt commented on #24742
You should use manifest mode. This mode decouples port version from vcpkg `HEAD`.

[2022-05-18 05:55] JackBoosY commented on #24723
We can't reproduce this issue locally.
Pleaes provide the output in your console and the failure logs mentioned in the ouput.

Thanks.

[2022-05-18 05:55] aminya commented on #23607
I am adding Mingw detection to project_options. My code invokes an external CMake process. Then in the current CMake process, I parse the CMakeCache.txt file to detect the compiler and its architecture.

However, I noticed that vcpkg doesn't respect `VCPKG_DEFAULT_TRIPLET` and `VCPKG_DEFAULT_HOST_TRIPLET`. It seems to be using `MinGW` variable and defaults to `dynamic` toolchain.
https://github.co

[2022-05-18 06:05] BillyONeal commented on #24704
This is a compiler bug which means it should be reported through Developer Community. https://developercommunity.visualstudio.com/search?space=62

I know of an internal bug reported about this but don't know how to point you folks to it. I know the compiler team is looking at it because it breaks all the webkit/chromium forks.

[2022-05-18 06:40] hihig2001 commented on #24743
https://github.com/skypjack/uvw/commit/6ed211328ecd0ea83b7a7742f9962f0b21c8642d

clang-cl compile error also has been fixed!

[2022-05-18 06:57] #24685 closed

[2022-05-18 07:22] LilyWangLL commented on #24765
Fixed by #24766

[2022-05-18 07:22] #24765 closed

[2022-05-18 07:34] OlafvdSpek commented on #23666
@BillyONeal It's a thing: https://github.com/dotnet/msbuild/issues/1054

[2022-05-18 07:43] Cheney-W commented on #24748
Thanks for Neumann's reply!
Close this issue as duplicate of https://github.com/microsoft/vcpkg/issues/19984.

[2022-05-18 07:57] sundarsabapathi commented on #24742
Thanks @dg0yt. Currently we are using vcpkg manifest mode in our project.

[2022-05-18 08:17] LilyWangLL commented on #18298
Fixed in #24047

[2022-05-18 08:17] #18298 closed

[2022-05-18 08:38] LilyWangLL commented on #20794
Thanks for posting this issue. Now lua and luajit don't conflict on windows, you can install sol2 when luajit has been installed vcpkg.

[2022-05-18 08:38] #20794 closed

[2022-05-18 08:42] LilyWangLL commented on #24742
Since this issue has been resolved, so I am closing this issue for now. Thanks for you all.

[2022-05-18 08:45] LilyWangLL commented on #24742
Can your project successfully use `catch2` v2.13.7？

[2022-05-18 08:49] sundarsabapathi commented on #24742
Yes @LilyWangLL. Thanks  @LilyWangLL  and @dg0yt.

[2022-05-18 08:49] #24742 closed

[2022-05-18 08:53] aminya commented on #17110
I hit the same issue after installing MinGW. `ninja` accepts `--version` as a command-line argument, but it doesn't accept `-v`.

[code]

I think wherever `ninja -v` is called should be replaced by `ninja --version`.

Blocks https://github.com/aminya/project_options/pull/126

[2022-05-18 09:01] larshg commented on #24317
I have updated to VS2022 17.3.0 Preview 1.0, deleted vcpkg directory and cloned anew and now it successfully install boost. Not entirely sure, which part fixed it though.

[2022-05-18 09:27] JackBoosY commented on #24760
Please use CONFIG mode instead:
[code]

[2022-05-18 09:28] #23391 closed

[2022-05-18 09:30] JackBoosY commented on #17110
`build.ninja` will be genereated by cmake in the configure process.

[2022-05-18 09:31] Adela0814 commented on #24420
This is a `glog `upstream bug.  please refer to: https://github.com/google/glog/issues/825

[2022-05-18 09:40] JackBoosY commented on #24721
No, that's by design.
To ensure compatibility, vcpkg will only download x86 binaries on x86/x64 systems.

[2022-05-18 09:56] Cheney-W commented on #24730
@BillyONeal Could you please help take a look this issue? Thank you!

[2022-05-18 10:17] #24751 closed

[2022-05-18 12:07] jiang6883 opened #24776 "[libyuv] Build error"
**Host Environment**
- OS: [e.g. Windows/Linux etc...]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install xxxx`

**Failure logs**
-Cut and paste the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

**Additional context**
Add any other context about the problem here, such as what yo

[2022-05-18 14:19] Aayush0612 opened #24779 "[New Port Request] <Servo>"
Library name : Servo

Library description : A official Arduino Library for controlling Servo motors via their chipsets.

Source repository URL : https://github.com/arduino-libraries/Servo

Project Docs : https://www.arduino.cc/reference/en/libraries/servo/

[2022-05-18 14:21] Jagrutiti commented on #24731
Installing _Desktop development with C++_ resolved the error. Thanks

[2022-05-18 14:37] ikulagin opened #24780 "[icu] Build error"
**Host Environment**
- OS: Linux (Ubuntu 20.04)
- Compiler: gcc version 9.3.0
- vcpkg-tool version: 2022-05-05-67e17c1782801cf481be9ac0b3765dff3e4bdeb8
- vcpkg-scripts version: 261ca0dd4 2022-05-18 (5 hours ago)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install icu:x64-linux`

**Failure logs**
[code]

`cat  /home/ikulagin/vcpkg/buildtrees/icu/config-x64-linux-dbg-out.log`:
[code]

[2022-05-18 17:05] jgcodes2020 commented on #24722
Should have closed this earlier.
The correct CMake command was:
[code]

And I had done:
[code]

[2022-05-18 17:11] dg0yt commented on #24780
`sudo apt-get install autoconf-archive`

[2022-05-18 18:44] #24780 closed

[2022-05-18 18:53] Neumann-A opened #24786 "[libgcrypt] wrong supports statement"
`libgcrypt` claims to be unsupported on windows.

according to the `configure.ac` however there is stuff like this:

[code]

indicating that windows is a supported target!

[2022-05-18 19:21] ikulagin commented on #21778
The issue is still there. Please, reopen this issue.