[2021-05-24 17:27] dg0yt commented on #18051
The dynamically generated information doesn't always represent canonical usage.
Some ports do have static information in a `usage` file, e.g. `fmt`. However, IIUC only the installed file name is standardized, not the name in the port recipe.

[2021-05-24 18:04] brad-anderson commented on #18082
This was caused by the cairo version update #17620

[2021-05-24 18:08] PhilippGrulich commented on #15783
What is the status with this?

[2021-05-24 18:12] HarrievG commented on #18097
closing in favor of
https://github.com/microsoft/vcpkg/issues/18098

[2021-05-24 18:12] #18097 closed

[2021-05-24 18:23] li3793 commented on #18095
thanks gvanem, turn out setting CMAKE_MODULE_PATH didn't help.

Finally figure it out, have to set CMAKE_PREFIX_PATH, something like

list(APPEND CMAKE_PREFIX_PATH "Absolute Path to azure-core-cpp cmake file")

after that, no more error.

[2021-05-24 18:23] #18095 closed

[2021-05-24 18:57] #17650 closed

[2021-05-24 20:08] brad-anderson commented on #16545
I don't believe this is fixed. Unfortunately I'm dealing with the cairo port getting all messed up recently so I haven't been able to give HEAD a proper test yet but there is nothing in the commit for #16546 that would have addressed this issue.

[2021-05-24 20:11] 36k-wild-monkey commented on #15351
Build v8 normally, but cmake in the project cannot find v8

[2021-05-24 20:21] Kwizatz commented on #15351
Well, are you properly setting CMAKE_TOOLCHAIN_FILE? are you setting cmake compiler architecture properly? are you disabling shared libraries?

it seems to be the case that your project is not finding v8 installed in vcpkg\installed\x86-windows-static as it should be the case. V8Config.cmake should be at vcpkg\installed\x86-windows-static\share\v8

[2021-05-24 21:40] brad-anderson opened #18102 "[cairo] unofficial-Cairo CMake target now missing"
The cairo port had and recommended the unofficial-Cairo CMake target but a recent unrelated pull request #13100 dropped this support resulting in broken builds for anyone using those targets (the io2d port within vcpkg itself still references the now missing target).

Support should be restored or new post-installation instructions added for those upgrading Cairo so they aren't left scratching the

[2021-05-24 21:53] salsal97 commented on #16376
@NancyLi1013 I'm trying the same thing on alpine:3.13.4 and it doesn't work for me. I am using the bootstrap script to install dependencies for azure-sdk-for-cpp. My Dockerfile looks like this -
[code]

[2021-05-24 22:21] 36k-wild-monkey commented on #15351
The problem of vs. Variables and caches do not take effect. You need to set the command line parameter -DVCPKG_TARGET_TRIPLET=x86-windows-static, but there are new problems, Could NOT find V8 (missing: V8_LIBRARY) (found version "9.0.257.17")

[2021-05-24 22:26] 36k-wild-monkey commented on #15351
D:\vcpkg\installed\x86-windows-static\lib There are only icu**.lib and zlib.lib in the directory of D:\vcpkg\installed\x86-windows-static\lib, but not v8**.lib

[2021-05-24 22:37] Kwizatz commented on #15351
That means v8 was not successfully built, if so then build it:

`vcpkg --triplet x86-windows-static install v8`

if there's errors... well that's a community triplet not officially supported, but it should work AFAIK.

Also having vcpkg on D instead of C might be an issue... or maybe it is not as long as VC itself is not installed on D.

[2021-05-24 22:41] #17680 closed

[2021-05-24 23:00] Kwizatz commented on #15351
Hi @JackBoosY yes, you can close this issue, I removed all installed versions of the SDK, did a repair install of VC, changed the installed SDK on console panel to add debug tools, ran a build and it worked.

Sorry about the delay, the build taking hours to complete is usually my deterrent 😁.

[2021-05-24 23:09] 36k-wild-monkey commented on #15351
### I have deleted and retried 3 times, but there is no v8**.lib
[code]

[2021-05-24 23:11] 36k-wild-monkey commented on #15351
But there are already successfully built libs in this directory `D:\vcpkg\buildtrees\v8\x86-windows-static-rel\obj`

[2021-05-24 23:19] sclel016 commented on #18023
Done, see new issue at  https://github.com/vcpkg/vcpkg.github.io/issues/50

[2021-05-24 23:24] Kwizatz commented on #15351
Why are you running vcpkg at C:\Users\vsq_k instead of D:\vcpkg? Is VCPKG_ROOT set to anything other than D:\vcpkg?

I am sorry, but these issues have more to do with your environment than any problems with the build script itself, I cannot guess at what your full environment is, and without any build error logs I am really running out of ideas here.

[2021-05-24 23:28] 36k-wild-monkey commented on #15351
The path environment variable is set, and vcpkg integrate install has been executed. There are no other settings. I will recompile and see.

[2021-05-25 00:16] NancyLi1013 commented on #17377
@albertseo1990
Please download `cudnn `manually. I think this issue can be closed now.

[2021-05-25 00:16] #17377 closed

[2021-05-25 00:35] strega-nil-ms commented on #17712
I agree with @christophe-calmejane here; we should only use git from the system if we get `VCPKG_FORCE_SYSTEM_BINARIES` set, imo. @ras0219, you have opinions?

[2021-05-25 00:38] strega-nil-ms commented on #18088
Yeah, this is incredibly outdated; in my opinion the answer is to just nuke it. This is extremely outdated and misleading on both sides.

[2021-05-25 00:41] #17688 closed

[2021-05-25 00:46] strega-nil-ms commented on #17852
This is intended; cmake cache generation is, by its nature, kind of where this all happens. You'll also get stuff like globs being recalculated. In general, unless you're changing variable values, you don't ever need to reconfigure (and if you are changing variable values, that might invalidate vcpkg's installed directory).

We do _not_ run on build, and this is the action that one _should_ take m

[2021-05-25 00:46] #17852 closed

[2021-05-25 00:55] NancyLi1013 commented on #17124
@Goru1890

[code]
The above error has been fixed in PR #18005. You can update vcpkg to try this again. Please let me know if this is still a problem for you.

[2021-05-25 01:19] JackBoosY commented on #18086
Can you please add option `--debug` to the install command and provide the output?
And please run `lib.exe` in Visual Studio Developer Command  Prompt for VS 2019 then provide the output.

Thanks.

[2021-05-25 01:22] Foxxiaohanghang commented on #18090
Thank u so mush!and this is the first time I question on github.I apologize for the wrong way of posting!
 and I tried the solutions,.However,after I replace '$$member(TARGET,0)' ，it comes with some new errors.
do u know how to slove these errors? thanks!

here is the CMakeList.txt

project(ribbon)
set(CMAKE_INCLUDE_CURRENT_DIR ON)
set(CMAKE_AUTOMOC ON)
find_package(Qt5Core)
find_package(Qt5Gui)
a

[2021-05-25 01:30] JackBoosY commented on #3409
@proTerm  As you can see, the upstream doesn't support static build for such a long time.
And some contributors are trying to support static but waiting for the upstream approval.

[2021-05-25 01:44] JackBoosY commented on #18094
Duplicated to #18086.

[2021-05-25 01:44] #18094 closed

[2021-05-25 01:46] JackBoosY commented on #18023
Close this issue since it was reported to github.io.

[2021-05-25 01:46] #18023 closed

[2021-05-25 01:48] JackBoosY commented on #16545
@brad-anderson Please ping me if this issue is still exist.

[2021-05-25 02:14] PhoebeHui commented on #18059
@boffman, could you attach full failure log? I can't repro this issue locally.

[code]

[2021-05-25 03:11] PhoebeHui commented on #18098
@DanielGibson, thanks for reporting this issue! we will take a look.

[2021-05-25 03:48] cenit commented on #17124
he didn't have that error but another one, which should have already been fixed days ago by https://github.com/microsoft/vcpkg/pull/17644

is it possible that he's still using an old vcpkg version?

please git pull

[2021-05-25 04:08] sonder-joker commented on #18071
Thanks for your help!I rebuild it successed!

[2021-05-25 04:08] #18071 closed

[2021-05-25 04:14] michael-schantin commented on #18086
[code]

[code]

[2021-05-25 04:18] playgithub commented on #18066
* When do cmake configure, wxWidgets_CONFIGURATION is `mswu` by default.
* In `FindwxWidgets.cmake`, there are some simliar values for configuration: `mswunivud mswunivd mswud mswd mswunivu mswuniv mswu msw qt qtd qtu qtud`

When I set `wxWidgets_CONFIGURATION` to `mswud` in `cmake-gui` and configure agian, it is reset to `mswu`.

---

To simplify:

[code]

When after cmake configure, the depdenci

[2021-05-25 06:23] JackBoosY commented on #18086
@michael-schantin Can you please make sure your vcpkg is latest?

[2021-05-25 06:37] 36k-wild-monkey commented on #15351
D:\vcpkg\ports\v8\vcpkg.json
[code]

Why only linux, not windows

[2021-05-25 06:39] PhoebeHui commented on #15542
Thanks @jgehw for the details!

@kuelite, does this solve your problem?

[2021-05-25 06:41] johnnyschneider commented on #18086
![image](https://user-images.githubusercontent.com/22988624/119450951-43300b00-bcfa-11eb-9c41-475a868d51b1.png)
Can confirm identical results. My vcpkg is up to date. See the attached log file for the --debug output
[logfile.txt](https://github.com/microsoft/vcpkg/files/6537061/logfile.txt)

[2021-05-25 07:07] JackBoosY commented on #18086
`[DEBUG]   icu|573735656792ac773132ea55ef7db373d5f5ca26`

My is: `[DEBUG]   icu|ff97e6e2f64d7663d3cd45434240c587ac9e7667`

[2021-05-25 07:08] Goru1890 commented on #17124
I always do a git pull before trying to install something with vcpkg.

[2021-05-25 07:08] JackBoosY commented on #18086
@ras0219 @ras0219-msft can you please take a look?

Thanks.

[2021-05-25 07:10] JackBoosY commented on #18086
Also, please provide _config.log_ in _buildtrees/icu/x64-windows-static_.

Thanks.

[2021-05-25 07:15] #18090 closed

[2021-05-25 07:15] johnnyschneider commented on #18086
![image](https://user-images.githubusercontent.com/22988624/119455326-1c280800-bcff-11eb-8426-1e587ce616c2.png)
There are several config.log files... can you specify which one?

[2021-05-25 07:26] JackBoosY commented on #18086
@johnnyschneider  _C:\dev\vcpkg\buildtrees\icu\x64-windows-static-dbg\config.log_.
Thanks.

[2021-05-25 07:27] johnnyschneider commented on #18086
[config.log](https://github.com/microsoft/vcpkg/files/6537319/config.log)
Attached

[2021-05-25 07:28] cenit commented on #17124
and also a vcpkg update && vcpkg upgrade ?

[2021-05-25 07:30] JackBoosY commented on #18086
@johnnyschneider  Please also provide _C:\dev\vcpkg\buildtrees\icu\config.log-x64-windows-static-dbg.log_ and _C:\dev\vcpkg\buildtrees\icu\config-x64-windows-static-dbg-out.log_.

[2021-05-25 07:33] Goru1890 commented on #17124
I didn't try that, I will try it.

[2021-05-25 07:49] PhoebeHui commented on #18098
@DanielGibson, it looks you're trying to use the headers from dynamic build in your own static build project, you need build openal-soft with static triplet and reference the headers from static build. eg: ./vcpkg install openal-soft:x64-windows-static.

Please reference https://github.com/microsoft/vcpkg/blob/master/docs/users/integration.md#triplet-selection to see details.

[2021-05-25 07:53] Goru1890 commented on #17124
![image](https://user-images.githubusercontent.com/35274844/119460574-1d792500-bd3f-11eb-8246-bd7ffff8a49e.png)

[2021-05-25 07:54] fldx opened #18105 "fontconfig:x64-linux failed with: BUILD_FAILED"
**Host Environment**
- OS: [Linux.]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:

`./vcpkg install cairo`

**Failure logs**
[code]

**Additional context**
Add any other context about the problem here, such as what you have already tried to resolve the issue.

[2021-05-25 08:13] stephanecharette commented on #18081
Why was the title changed to OpenCV?  Isn't the error with Darknet?

[2021-05-25 08:24] cenit commented on #17124
and if you try a darknet[cudnn, ...] installation you still have the same failure?

[2021-05-25 08:26] cenit commented on #18081
yes it's with darknet. But still, it's related to opencv! It seems that newer opencv versions moved a module that was available only with CUDA extensions also in the normal distribution, and so darknet is able to build also what it wasn't supposed to be able to.
I will investigate if that's the case and open a PR

[2021-05-25 08:27] cenit commented on #18081
in any case @JonLiu1993 please revert title change

[2021-05-25 08:29] johnnyschneider commented on #18086
[config.log-x64-windows-static-dbg.log](https://github.com/microsoft/vcpkg/files/6537702/config.log-x64-windows-static-dbg.log)
[config-x64-windows-static-dbg-out.log](https://github.com/microsoft/vcpkg/files/6537706/config-x64-windows-static-dbg-out.log)

[2021-05-25 08:50] JackBoosY commented on #18086
All configurations seem to differ only in paths. I think this issue is related to Visual Studio.

[2021-05-25 08:56] JackBoosY commented on #18105
[code]

[2021-05-25 09:21] fldx commented on #18105
./vcpkg install cairo
Computing installation plan...
The following packages will be built and installed:
    cairo[core,fontconfig,freetype]:x64-linux -> 1.17.4#1
  * fontconfig[core]:x64-linux -> 2.13.1#7
  * lzo[core]:x64-linux -> 2.10#6
  * pixman[core]:x64-linux -> 0.40.0
Additional packages (*) will be modified to complete this operation.
Detecting compiler hash for triplet x64-linux...
Could

[2021-05-25 09:32] fldx commented on #18105
`/home/dev/vcpkg/buildtrees/fontconfig/autoconf-x64-linux-err.log` 内容:

autoreconf: Entering directory `.'
autoreconf: running: autopoint --force
Can't exec "autopoint": 没有那个文件或目录 at /usr/share/autoconf/Autom4te/FileUtils.pm line 345.
autoreconf: failed to run autopoint: No such file or directory
autoreconf: autopoint is needed because this package uses Gettext

[2021-05-25 09:36] JackBoosY commented on #18105
Please install `autotool` using apt or yum.

[2021-05-25 09:37] fldx commented on #18105
安装 autopoint 后还有报错
./vcpkg install cairo
Computing installation plan...
The following packages will be built and installed:
    cairo[core,fontconfig,freetype]:x64-linux -> 1.17.4#1
  * fontconfig[core]:x64-linux -> 2.13.1#7
  * lzo[core]:x64-linux -> 2.10#6
  * pixman[core]:x64-linux -> 0.40.0
Additional packages (*) will be modified to complete this operation.
Detecting compiler hash for triplet

[2021-05-25 10:07] Goru1890 commented on #17124
Yes

[2021-05-25 10:10] cenit commented on #17124
can you please remove and reinstall cudnn

.\vcpkg remove cudnn
.\vcpkg install cudnn

and post full console logs about this process, and then verify if darknet still produces same error?

[2021-05-25 10:11] cenit commented on #17124
also please show output of this command

`dir F:\tool\vcpkg\installed\x64-windows\share\cudnn`

[2021-05-25 10:13] cenit commented on #17124
I just saw you have F:\tools\vcpkg and C:\vcpkg
are you sure you are not mixing two different vcpkg installations and having one updated and the other not? do you have any VCPKG_ROOT env variable defined?

[2021-05-25 10:19] dg0yt commented on #18105
Install the package which contains autopoint. On Ubuntu, autopoint is in package ... `autopoint`.

[2021-05-25 11:06] cenit commented on #18081
will be fixed upstream extremely soon, and I will open a PR with an update here just after the fix lands upstream

[2021-05-25 12:31] Ziriax opened #18107 "[libheif] Fix static linking"
**Is your feature request related to a problem? Please describe.**

When I created a DLL (Windows) and SO (Linux) that statically linked to `libheif` and `libde265`, I got a lot of linker errors on Windows, or `library not found` when running on Linux.

To fix this, I had to patch the `CMakeLists.txt` of both `libde265` and `libheif` as follows:

For `libde265`:

[code]

For `libheif`:
[code]

Wit

[2021-05-25 12:32] Ziriax commented on #18107
This could also fix #13354

[2021-05-25 12:33] Ziriax commented on #18107
[This is my fork](  https://github.com/Ziriax/vcpkg)

I also upgraded to newer versions in this fork

[2021-05-25 13:00] acromarcopolo commented on #18084
hi Nancy,
see below, should i submit a new issue?
now the error for  $ ./vcpkg install gtk  is:

...

-- Configuring x64-osx-rel

-- Generating configure for x64-osx

CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:105
(message):

    Command failed: /usr/local/bin/autoreconf -vfi

    Working Directory:
/Users/marcbauchet/Dropbox/projects/RandomBits/vcpkg/buildtrees/fontconfig/s

[2021-05-25 13:30] appumistri opened #18108 "Not able to install packages"
Hello,
I have installed vcpkg a week ago on my Mac M1 but unfortunately I'm not able to install any packages using vcpkg.

**Machine info:**
MacBook Pro (13-inch, M1, 2020)
Chip: M1
RAM: 8 GB

**Error log:**
[code]

Is there any existing solution for this?
Note: I already tried `./vcpkg update`

[2021-05-25 13:47] #18108 closed

[2021-05-25 13:47] appumistri commented on #18108
Created this issue here: https://github.com/aws/aws-sdk-cpp/issues/1659

[2021-05-25 13:48] ned14 opened #18109 "Add environment variables to override directories for buildtrees, installed, packages"
**Is your feature request related to a problem? Please describe.**

We are trialling vcpkg as a git submodule to replace cmake hunter. The source code lives on a Samba share, and is used by multiple build environments including Windows and Linux. We build by creating a local build directory on the target machine, and for cmake to use the source tree on the Samba share.

Right now, vcpkg appears to

[2021-05-25 14:32] #16735 closed

[2021-05-25 14:42] cloudhan commented on #17959
`cmake .. -DCMAKE_TOOLCHAIN_FILE=C:/vcpkg/scripts/buildsystems/vcpkg.cmake -DX_VCPKG_APPLOCAL_DEPS_INSTALL=ON -GNinja` works?

Are there any way to omit it just like MSBuild case?

[2021-05-25 14:48] ned14 opened #18110 "Manifest mode doesn't work when project source is on a network drive"
**Describe the bug**

In a build config where the build directory is local, but the source is on a network share, manifest build mode fails despite that non-manifest build mode works fine.

The cause is that the ninja build tool won't run off an UNC path, but vcpkg in manifest mode canonicalises DOS drive mapped shares into UNC paths in manifest mode, and then tries to run ninja from that UNC path

[2021-05-25 15:57] Kwizatz commented on #15351
The Windows port does not require pthread or glib. There is no functionality lost AFAIK.

[2021-05-25 15:58] jgehw commented on #17578
@mxy493 The error you're facing is something totally different (though the error message in the terminal looked quite similar). In case the utf-8 setting suggested by @JackBoosY didn't already solve your error, can you please check the file `D:/vcpkg/buildtrees/tensorflow-cc/.bzl/_bazel_mxy/hwfhzki5/external/local_execution_config_python/BUILD`? Does it contain any invalid paths? In particular is

[2021-05-25 16:13] jgehw commented on #17578
@mxy493 PS: the output `Active code page: 65001` seems to be generated by the Windows command `chcp`. What does `chcp` show when run in the terminal before calling `vcpkg`? In case it shows a different code page then 65001, could you try if setting `chcp 65001` before calling `vcpkg` solves the issue? (Just guessing: it could be that the default code page is something unsupported and when `bazel`

[2021-05-25 16:15] Goru1890 commented on #17124
I removed darknet, cudnn, and opencv3

And then I runned vcpkg install darknet[cudnn,cuda,opencv3-cuda]:x64-windows again

Now it works perfectly, thanks for your help.

[2021-05-25 20:29] cenit commented on #17124
please close issue :)

[2021-05-25 20:34] #16830 closed

[2021-05-25 21:36] akilaln opened #18113 "[OpenImageIO] Windows & Linux build with python 2.7 bindings"
I'm looking to build OpenImageIO for Windows & Linux (Centos) with python bindings. I noticed that build by default is setup to build for python 3.8.

How do I build for Python 2.7 ?
What is command for installing on Linux?

[2021-05-25 21:37] ras0219 commented on #17712
I think forcing our own copy of git would be ok if we do more to reduce its size

[2021-05-25 22:43] autoantwort commented on #17892
Fixed by  #17970

[2021-05-25 23:22] autoantwort commented on #17042
Works now on latest master

[2021-05-25 23:22] #17042 closed

[2021-05-26 01:03] fldx commented on #18105
dev@debian:~/vcpkg$ ./vcpkg install cairo
Computing installation plan...
The following packages will be built and installed:
    cairo[core,fontconfig,freetype]:x64-linux -> 1.17.4#1
  * fontconfig[core]:x64-linux -> 2.13.1#7
  * lzo[core]:x64-linux -> 2.10#6
  * pixman[core]:x64-linux -> 0.40.0
Additional packages (*) will be modified to complete this operation.
Detecting compiler hash for triple

[2021-05-26 01:11] fldx commented on #18105
我在这里`https://wiki.debian.org/AutoTools`找的`autotool`
root@debian:/# apt install autoconf autoheader automake autoproject autoreconf autoscan autotoolset autoupdate libtool
正在读取软件包列表... 完成
正在分析软件包的依赖关系树
正在读取状态信息... 完成
E: 无法定位软件包 autoheader
E: 无法定位软件包 autoreconf
E: 无法定位软件包 autoscan
E: 无法定位软件包 autotoolset
E: 无法定位软件包 autoupdate
root@debian:/#
依然没解决我的问题

[2021-05-26 01:24] fldx commented on #18105
我在这里`https://packages.debian.org/source/sid/dh-autoreconf`把`autoreconf`安装上了,能编译下去了

[2021-05-26 01:25] #18105 closed

[2021-05-26 01:27] fldx commented on #18105
谢谢大佬的帮助.

[2021-05-26 01:51] NancyLi1013 commented on #17124
Thanks for your help @cenit.

I'm closing this issue for now since this issue has been solved.

[2021-05-26 01:51] #17124 closed

[2021-05-26 02:47] NancyLi1013 commented on #18084
Have you solved the original problem via `brew install autoconf`?

On Linux, we generally use `apt-get `to install system libraries, on macOS, it might be `brew`.
Please post the error info here when you install `gtk`.

[2021-05-26 03:35] mxy493 commented on #17578
@jgehw I think my system's charset is GBK, and I have changed the charset of the terminal to UTF-8 by the registry.
And my user name is "mxy", there is no space in the middle.
[code]
@JackBoosY I didn't try the solution of change the windows charset, because it will cause many applications in my system garbled.

[2021-05-26 05:18] dg0yt commented on #18084
When it comes to port fontconfig, you might also need to install brew`s gettext.

[2021-05-26 05:33] playgithub commented on #18066
@JonLiu1993
I've tried the offical triplet: x64-windows, it has the problem.

[2021-05-26 06:02] unixwitch opened #18117 "disabling telemetry in CMake integration mode"
when using vcpkg with CMake integration (i.e., CMAKE_TOOLCHAIN_FILE) it's not very clear what the best method is to disable telemetry, and the documentation doesn't seem to cover this.

* bootstrapping vcpkg with `-disableMetrics` presumably disables telemetry when that version of vcpkg is used with CMake later, but if CMake causes vcpkg to bootstrap itself, telemetry will be enabled silently.
* `

[2021-05-26 06:19] PhoebeHui commented on #8377
Currently the usage file was provided for gdal, you can use it as following.

[code]

[2021-05-26 06:19] #8377 closed

[2021-05-26 06:23] dg0yt commented on #8377
For Linux, gdal is completely broken, #9068. I'm working on it, but there is no point in relying on pkgconfig or cmake files as long as there is no control about dependencies from the system used when building port gdal.

[2021-05-26 06:37] JackBoosY commented on #17959
@cloudhan No, because it's an experimental feature.

[2021-05-26 06:37] #17959 closed

[2021-05-26 06:56] JackBoosY commented on #18113
Does the upstream support python 2.7?

[2021-05-26 06:58] acromarcopolo opened #18118 "[pango] build failure"
**Host Environment**
- OS: macOS Big Sur 11.3.1
- Compiler: Apple clang version 12.0.5 (clang-1205.0.22.9)
Target: x86_64-apple-darwin20.4.0
Thread model: posix
InstalledDir: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install gtk`

**Failure logs**
[code]
[stdout-x64-osx.log](https://github.com/

[2021-05-26 06:59] acromarcopolo commented on #18084
still stuck.  so i filed https://github.com/microsoft/vcpkg/issues/18118

On Wed, May 26, 2021 at 7:18 AM Kai Pastor ***@***.***> wrote:

[2021-05-26 07:00] akilaln commented on #18113
Yes we are a CG studio and at this point we are forced to stick to python 2.7 until VFX platform upgrades to python3

[2021-05-26 07:15] NancyLi1013 commented on #18118
Hi @acromarcopolo
Thanks for posting this issue.
[code]

Can you try to install automake via `sudo apt-get install automake` or `brew install automake` and rebuild this?

[2021-05-26 07:27] NancyLi1013 commented on #18107
Hi @Ziriax
Thanks for posting this issue.

Can you provide the steps to repro this issue? Seems you didn't use official triplets to build.

If possible, you can submit a PR to fix this.

[2021-05-26 07:28] NancyLi1013 commented on #18084
Still stuck, but I think the original issue should be solved now.

[code]

[2021-05-26 07:39] NancyLi1013 commented on #16376
@strega-nil @strega-nil-ms Could you please help take a look?

[2021-05-26 08:22] mxy493 commented on #17578
@jgehw In fact, I don’t need to install tensorflow now. But in order to find out the cause, I tried to reproduce this problem today. But it takes up more than 60G of space, my computer does not have enough space😅So it build failed and failed to reproduce the previous problem.

[2021-05-26 08:31] galaxysailing opened #18121 "[New Port Request] cglm"
Library name: cglm

Library description: OpenGL Mathematics (glm) for C

Source repository URL:
https://github.com/recp/cglm

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2021-05-26 08:36] #15279 closed

[2021-05-26 08:42] PhoebeHui commented on #12290
PR https://github.com/microsoft/vcpkg-tool/pull/82 would improve this.

[2021-05-26 08:54] PhoebeHui commented on #10860
boost and mongo-c-driver has usage file, for mongo-cxx-driver, since it doesn't provide any cmake config and targets file, so it doesn't print any usage information. For manifest mode issue, we would use https://github.com/microsoft/vcpkg/issues/12290 to track the status.

[2021-05-26 08:54] #10860 closed

[2021-05-26 08:56] salsal97 commented on #16376
I was able to resolve this by including the required packages. Ref - https://github.com/salsal97/mystikos/blob/az_sdk_cpp/tests/azure-sdk-for-cpp/Dockerfile
Thank you!

[2021-05-26 08:57] PhoebeHui commented on #18110
@ned14, could you attach failure log config-x64-windows-out.log?

[2021-05-26 09:01] eRuaro commented on #18121
Hey! I'd like to contribute to this.

[2021-05-26 09:07] acromarcopolo commented on #18084
indeed, thanks.

[2021-05-26 09:07] #18084 closed

[2021-05-26 09:08] acromarcopolo commented on #18084
indeed, thanks.

[2021-05-26 09:20] PhoebeHui commented on #18121
Thanks @eRuaro! We're happy to accept a PR that support this!

[2021-05-26 09:35] Ziriax commented on #18107
Initially I just used the official triplets `x64-windows-static` and `x64-linux`. I was just experimenting with fully static linking on Linux, e.g. also statically linking the CRT library, so I tried these overlays.

I'll provide minimum example.

[2021-05-26 10:02] PhoebeHui commented on #18121
REF for a stable tag/commit to use, and SHA512 with the checksum of the downloaded zipfile (you can get this easily by setting it to 1, trying to install the package, and copying the checksum).

See https://github.com/microsoft/vcpkg/blob/master/docs/examples/packaging-github-repos.md for details.

[2021-05-26 10:31] PhoebeHui commented on #18007
@jdx-john, sorry for late response!

You can set VcpkgEnabled to false in https://github.com/microsoft/vcpkg/blob/master/scripts/buildsystems/msbuild/vcpkg.props#L18 by default, then every new msbuild project would not use vcpkg by default. Or you can set 'use vcpkg' to 'No' in your specific project property, but that only works in that project.
If your project is a cmake project, you can passing

[2021-05-26 10:40] eRuaro commented on #18121
Hey, @PhoebeHui, the package now appears when I use the `search` command. Installing the package brings out this error.
[code]

I don't get the instructions on how to check the proxy settings on windows. I tried doing the instructions on number `2` but my proxy setup is on `auto`. I'm not sure on what to input on the `address` and `port` on the manual proxy setup.

[2021-05-26 12:19] acromarcopolo commented on #18118
hi @NancyLi1013,  thanks for your quick feedback.
ok, `brew install automake` done.
`./vcpkg install gtk` (run in vcpkg folder) fails at the same location, also with `autoreconf` but different error code and log, please see attached files:
[stdout-x64-osx.log](https://github.com/microsoft/vcpkg/files/6546587/stdout-x64-osx.log)
[autoconf-x64-osx-err.log](https://github.com/microsoft/vcpkg/files/65

[2021-05-26 13:51] dariusheivazi opened #18126 "[arrow] update to <4.0.0>"
Library name: Apache Arrow

New version number: 4.0.0

[2021-05-26 14:16] Bengt commented on #18008
I ran vcpkg with the `--debug` flag and the relevant part seems to be this:

[code]

Sources:

<https://github.com/DFKI-Interactive-Machine-Learning/multisensor-pipeline/pull/46/checks?check_run_id=2675866910>
<https://github.com/DFKI-Interactive-Machine-Learning/multisensor-pipeline/pull/46/checks?check_run_id=2675866972>
<https://github.com/DFKI-Interactive-Machine-Learning/multisensor-pipeline/

[2021-05-26 15:27] longnguyen2004 commented on #18076
Please provide the log at `C:\Users\thebl\GitHub\vcpkg\buildtrees\libffi\install-x64-mingw-dynamic-dbg-out.log`

[2021-05-26 15:40] longnguyen2004 opened #18129 "[pthreads] Change to GitHub fork"
Library name: pthreads

New version number: v2.10.2.0/rolling (LESS THAN v3.0.0, see below)

Other information that may be useful (release notes, etc...)
The original pthread-win32 repo at SourceForge is no longer maintained, so multiple other forks have been created with many fixes. [GerHobbelt](https://github.com/GerHobbelt) has united the different forks and is currently maintaining it at https

[2021-05-26 15:47] StefAviator commented on #13688
I've implemented a fix based on the provided build script. I am setting the appropriate compiler options in user-config.jam and using the second part of the builder in boost-modular-build-helper. The provided command outputs .a boost library files which are 'arm' when checked with lipo.

I would appreciate to get some feedback. Anyone with an M1 to test it is also welcome. PR is here:

https://git

[2021-05-26 16:33] Ziriax commented on #18107
I've made a tiny demo the reproduces the problem in [this repository](https://github.com/Ziriax/heif-static-test)

See the `README.md` on how to run it, showing both the problem and the fix.

I only showed the problem on Windows for now, if needed I can try Linux and MacOS too.

[2021-05-26 16:48] dg0yt commented on #18129
- Looking at the new repo, isn't it actually declaring version 3.0.2?
  Source: `_ptw32.h` which is consulted to determine the cmake project version.
- How is it incompatible?

[2021-05-26 16:53] jgehw commented on #17578
@mxy493 That's quite important information - can you please share, what exactly you did to set UTF-8 via registry?

(Just guessing: I suppose because your system default is GBK, Windows automatically applies your registry changes to every terminal session you start (so code page 65001, i.e. UTF-8, is already active when you query it via `chcp`). Apparently the `bazel` build tool at some point caus

[2021-05-26 17:01] longnguyen2004 commented on #18129
From `README.md`

So the API is the same, but the ABI is different (which is not really a problem?)

About the version number, v3.0.2.0 was already there in the original repo (https://sourceforge.net/p/pthreads4w/code/ci/master/tree/_ptw32.h) but never got released, and this fork also doesn't have an official v3.0.2.0 either, so I think we should treat it as rolling.

[2021-05-26 21:00] ras0219-msft commented on #17676
With both #17845 and #17846 merged, is this issue resolved? Thanks so much for opening them!

[2021-05-26 21:20] cenit commented on #18081
fixed upstream. Tomorrow i will add a PR to update version here

[2021-05-26 21:23] Shnitzelil opened #18131 "Error while parsing manifest file"
**Describe the bug**
Using install with manifest file that include version with hyphenation and/or leading zeros result error.
The version is provided in the versions folder.

**Environment**
- OS: Windows
- Compiler: n/a

**To Reproduce**
Steps to reproduce the behavior:
1. create manifest file (vcpkg.json)
[code]
2. ./vcpkg install
3. The next error:
Errors occurred while parsing vcpkg.json

[2021-05-26 21:25] #18131 closed

[2021-05-26 21:54] #16062 closed

[2021-05-26 23:54] theblackwidower commented on #18076
[install-x64-mingw-dynamic-dbg-out.log](https://github.com/microsoft/vcpkg/files/6550202/install-x64-mingw-dynamic-dbg-out.log)

[2021-05-27 01:22] JonLiu1993 commented on #18126
Duplicate to #17635

[2021-05-27 01:22] #18126 closed

[2021-05-27 01:46] wrobelda commented on #13533
@BillyONeal this bit me again. https://github.com/microsoft/vcpkg/pull/16953 was showing CASCADE for windows static build, which I admittedly did not notice, nor did anyone else for that matter. It got merged and ended up causing all other PRs to fail, until fixed by https://github.com/microsoft/vcpkg/pull/18116.

[2021-05-27 02:27] JackBoosY commented on #18008
@BillyONeal Do we have any issues about permission issue in pipeline?

[2021-05-27 02:33] JackBoosY commented on #17578
Related: https://github.com/microsoft/vcpkg/issues/12865.

[2021-05-27 02:34] JackBoosY commented on #16602
Solved by #17616.

[2021-05-27 02:34] #16602 closed

[2021-05-27 02:34] JackBoosY commented on #11681
Solved by #17616.

[2021-05-27 02:34] #11681 closed

[2021-05-27 03:05] teacherpan opened #18141 "show 'Error: NuGet package creation failed' when run `.\vcpkg.exe integrate project`"
show 'Error: NuGet package creation failed' when run `.\vcpkg.exe integrate project`

**Environment**
- OS: windows10-64
- vcpkg:  2021-05-05-9f849c4c43e50d1b16186ae76681c27b0c1be9d9
- Microsoft Visual Studio Community 2017 : Version 15.9.36

**To Reproduce**
I try to install uWebSockets with vcpgk
Steps to reproduce the behavior:
0.  .\vcpkg.exe integrate install
1.  .\vcpkg.exe install uwebsocke

[2021-05-27 03:16] NancyLi1013 commented on #18118
Can you try to use the suggestion here https://stackoverflow.com/questions/18978252/error-libtool-library-used-but-libtool-is-undefined?

[2021-05-27 04:03] mxy493 commented on #17578
@jgehw I built successfully last night, and I think I found the reason.
I mistakenly wrote `chcp 65001>nul` as `chcp 65001>null` when modifying the registry.

<img width="608" alt="Snipaste_2021-05-27_11-59-06" src="https://user-images.githubusercontent.com/46776216/119763942-1428bd80-bee3-11eb-80c2-94ee2e7f0b59.png">

So it always write `Active code page: 65001` to the file named `null` every tim

[2021-05-27 04:21] longnguyen2004 commented on #18076
What's your current version of gcc? Maybe it's a bug in the older version.

[2021-05-27 04:59] xuhongxu96 opened #18142 "Lacks documentation for `VCPKG_POLICY_*` variables"
Lacks documentation for `VCPKG_POLICY_*` variables (or I didn't find any?), which may be useful when authoring portfiles.

[2021-05-27 05:25] akilaln commented on #18113
@JackBoosY - Do you have any updates on this?

[2021-05-27 05:37] JackBoosY commented on #18113
@akilaln  First, `pybind11` in vcpkg should add feature `python2` and `python3`, and oiio should also add feature `pybind11-3` and `pybind11-2`.

[2021-05-27 05:54] Masahiro-Mizutani opened #18144 "[COLMAP] build failure"
**Host Environment**
- OS: Windows10
- colmap:x64-windows
- Vcpkg version: 2021-05-05-9f849c4c43e50d1b16186ae76681c27b0c1be9d9

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg install colmap[cuda,tests]:x64-windows`

**Failure logs**
- Cut and past the appropriate build messages from the console output.

- Please attach any additional failure logs mentioned in the console output.
    -

[2021-05-27 05:59] abique commented on #17676
Yes.

[2021-05-27 05:59] #17676 closed

[2021-05-27 06:05] JonLiu1993 commented on #18074
@byxrolland , Thank you for posting this issue!.
Issue #15152 use new CMake build system to 2021.1.1, but the fix pr #16321 need Upstream fix or response,so Please waiting for official response. then i will update tbb to the latest version

[2021-05-27 06:42] NancyLi1013 commented on #18096
Hi @n-taka

Thanks for posting this issue. I submitted a PR #18146 to fix this issue. Can you please help test if this can work fine for you?

[2021-05-27 07:00] NancyLi1013 commented on #16376
@acgetchell
Can you refer to the docker file from @salsal97 to try this again?

[code]

[2021-05-27 07:57] lukcz opened #18147 "vcpkg_from_github does not work with AUTHORIZATION_TOKEN"
**Describe the bug**
vcpkg_from_github does not work with valid OAuth token specified by AUTHORIZATION_TOKEN parameter.

**Environment**
- Windows 10
- No proxy setup

**To Reproduce**
Steps to reproduce the behavior:
1. Prepare portfile.cmake which is going to use vcpkg_from_github and supply it with valid OAuth token, by using  AUTHORIZATION_TOKEN parameter, i.e.
[code]
2. Run: vcpkg install --o

[2021-05-27 08:29] JackBoosY commented on #18113
According to our policy, we can't add this feature, sorry for that.

[2021-05-27 08:32] JackBoosY commented on #18141
I think it's a bug.

[2021-05-27 08:44] l2x-huang opened #18149 "opencv3 conflicts"
**Host Environment**
- OS: Windows
- Compiler: arm64-android (ndk 22.1.7171670)

**To Reproduce**
Steps to reproduce the behavior:
1. set host environment.
[code]
2.  vpckg.json in project
[code]
3. compile
[code]

**Failure logs**
[code]

[2021-05-27 08:44] JackBoosY commented on #11602
here: https://github.com/microsoft/vcpkg-tool/blob/d37abb3e83a3a639931886b1e6c6bb56d180e756/src/vcpkg/dependencies.cpp#L189-L209
[code]
Automaticly set all the default features. And for `RequestType::USER_REQUESTED`, it always set to `request_type`.

[2021-05-27 08:50] PhoebeHui commented on #18147
@lukcz, I just created a private repo and test it, it works, how do you create your token in github? do you limit the permission, for me, I just select all items when generated the token.

[2021-05-27 08:54] dg0yt commented on #17607
I continued updating the findings in the initial post.  I just added `CMAKE_FIND_PROGRAM_PATH` behaviour which does not cover debug variants.

[2021-05-27 08:57] l2x-huang commented on #18149
when I run `vcpkg install opencv3:arm64-android`, it failed too.
[code]

[2021-05-27 09:11] mhandb opened #18150 "[sfml] Allow release-only build"
When doing a release only build with :
[code]
SFML will fail to install as it tries to copy files from the debug build.
Here is the cuplrit line in `ports/sfml/portfile.cmake`
[code]

[2021-05-27 09:12] dg0yt opened #18151 "[openmpi] find_package(MPI) doesn't work correctly for debug configuration"
**Describe the bug**

When trying to enable netcdf-c utilities with parallel hdf5 (work in progress), the following warning is issued to stderr:
[code]

I assume this is caused by the way how MPI is used with CMake. CMake's FindMPI.cmake relies on finding an `MPIEXEC_EXECUTABLE` via ` find_program`. But even for debug builds, `CMAKE_PROGRAM_PATH` doesn't guide cmake to look for the tool in `tools/

[2021-05-27 09:20] wanlizhu opened #18152 "[boost-integer] build failure and download failure"
**Host Environment**
- OS: Windows and macOS
- Compiler: MSVC, Clang
- Location: China mainland (`git://` works, `https://` failes)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install cgal`

**Failure logs**
Building package boost-integer[core]:x64-windows-static...
-- Downloading https://github.com/boostorg/integer/archive/boost-1.75.0.tar.gz -> boostorg-integer-boost-1.75.0.tar.g

[2021-05-27 09:40] lukcz commented on #18147
@PhoebeHui You were right - I had to authorize token (Enable SSO) - now it's working fine. Sorry for bothering You, and big thanks for a quick response!

[2021-05-27 09:44] n-taka commented on #18096
Hi @NancyLi1013

Thank you for quickly fixes the issue. I tested your PR, and it works fine for me.

[2021-05-27 10:00] PhoebeHui commented on #18147
Great!

[2021-05-27 10:00] #18147 closed

[2021-05-27 10:07] PhilippGrulich opened #18153 "[z3] Binary with dependency to source"
****
Hi,

for my usecase, I prebuilt binaries of Z3 and distribute them among my team members using `vspkg export`.
We now noticed that these binaries include references the actual source directory, which is not included in the export.
Consequently, some components of Z3 do not work as expected.

For instance, we are getting the following error because the `buildtree` is not present at this machin

[2021-05-27 10:13] 36k-wild-monkey commented on #15351
The cmake project cannot be compiled normally at all, and it still prompts that v8_library is missing

[2021-05-27 10:14] PhoebeHui commented on #18121
@eRuaro, see https://stackoverflow.com/questions/48473330/set-http-proxy-environment-variable-with-domain-user-and-pass-in-windows

[2021-05-27 10:14] NancyLi1013 commented on #18150
Hi @mhandb
Thanks for posting this issue.

Vcpkg will build debug type and release type by default. If you wants to build only release or debug, please modify portfile.cmake manually or use `--overlay-ports` to build.

For overlay-ports, please see https://github.com/microsoft/vcpkg/blob/master/docs/specifications/ports-overlay.md.

[2021-05-27 10:27] mhandb commented on #18150
Thanks, I will go with the ports overlays.
I understand that by default, vcpkg builds both, but it would be nice to support `set(VCPKG_BUILD_TYPE release)`
that can be added thanks to `--overlay-triplets`.

[2021-05-27 10:32] PhoebeHui commented on #8420
@Eldadc, see https://github.com/microsoft/vcpkg/blob/master/docs/examples/packaging-zipfiles.md for details. And please create a new issue if you have any questions for this.

[2021-05-27 10:32] #8420 closed

[2021-05-27 10:35] PhoebeHui commented on #8105
Hi @SoumenKunduTantra, @Perbudag, have you solve the issue finally?

[2021-05-27 10:51] eRuaro commented on #18121
Hey, @PhoebeHui I'm now able to download other libraries, but I still can't download cglm. I'm pretty new to CMake so I don't know if what I'm doing is right, I based the `portfile.cmake` file on the `rapidjson` library. I was able to install `rapidjson`, but not `cglm`. Any help would be really appreciated.

[code]

[2021-05-27 11:21] HaoxuanGuo commented on #18150
Hi @mhandb , can you explain it in more detail?

I met the same problem that a library which symbol is more than 65535 can not be compile in DEBUG mode. But when I add `set(VCPKG_BUILD_TYPE release)` into the port file, it is failed in due to
[code]
because of the check for
[code]

When the DEBUG is blocked by `set(VCPKG_BUILD_TYPE release)`, there are no files to be generated and this problem occ

[2021-05-27 12:04] stones314 commented on #11247
I have this problem with grpc.
I have made a CMakeLists.txt with this content:

------
cmake_minimum_required(VERSION 3.5.1)

project(grpcTest C CXX)

#Include vcpkg stuff so that we find installed gRPC things
set(CMAKE_TOOLCHAIN_FILE "C:/tools/vcpkg/scripts/buildsystems/vcpkg.cmake")

#Find gRPC:
find_package(grpc CONFIG REQUIRED)
--------
IT fails when it try to find the grpc package, complainin

[2021-05-27 12:13] mhandb commented on #18150
My use case is simpler, I do not need to deliver the debug build and want to speedup the ci pipelines for my project.

[2021-05-27 12:19] HaoxuanGuo commented on #18150
Sorry, my explanation may unclear. I just wonder how to modify the port file to build release mode only (skip debug mode) without errors. If just add `set(VCPKG_BUILD_TYPE release)` to skip debug build, it will throw an error because the number of binaries mismatch. Is there any method to avoid (block) this check?

[2021-05-27 12:49] soroush commented on #6191
Google took me here. Indeed a command-line option like `--verbose` would be very beneficial. It just needs to redirect stdout and stderr both to files and stdout stderr. I am not sure how `tee`-like features work on Windows, though it must be possible.

[2021-05-27 13:30] lukcz opened #18155 "How to force nuget packages to be restored when installing my vcpkg package?"
I am preparing a custom port for my own library, but it fails during installation. In the log file, I can see that it is missing NuGet packages which it has dependencies to. How I can force them to be restored during installation, when calling:
[code]
??

Error message:
[code]

In script vcpkg_install_msbuild.cmake I can see that build is called with "/t:Rebuild". In order to make it work it would

[2021-05-27 13:43] sandercox commented on #14932
As we've been experiencing this issue too I did a bit of digging to see if I could figure out where the issue is coming from. It seems that providing an argument with a `;` inside needs to be escaped due to how lists work in CMake.

When I change your triplet into the following, they build as fat binaries:
[code]

Note the quotes around the arguments, and the escaped `;` inside the quoted string.

[2021-05-27 13:48] lukcz commented on #18155
So I found a workaround by adding:
[code]

into arg_OPTIONS:

[code]
and I am wondering if it shouldn't be enabled by default?

[2021-05-27 14:20] sandercox commented on #14932
As having to escape these variables contradicts the statement in the triplets documentation: https://github.com/Microsoft/vcpkg/blob/master/docs/users/triplets.md#vcpkg_osx_architectures

I just opened a PR that fixes this within vcpkg. Then you can just use the following like you would have been able to in pure CMake.

[code]

[2021-05-27 15:34] theblackwidower commented on #18076
I was using MingW. I don't think I have gcc installed. Unless it came bundled with something.

[2021-05-27 15:42] wrobelda commented on #13518
This has been stale for a while and still a blocker for a whole bunch of the libraries I have lined up for inclusion into vcpkg. I understand that the latest is that that `gettext[tools]` would need to provide a wrapper for `gettext`, so that using `kf5i18n` as a dependency works, or I have to patch the `kf5i18n`'s CMake configs directly? I can get away with the latter, but obviously the former so

[2021-05-27 15:49] longnguyen2004 commented on #18076
mingw-w64 is a project that brings Windows support to GCC, so if you use a mingw-w64 toolchain, you're using GCC.
Can you run `x86_64-w64-mingw32-gcc.exe --version` and give me the version number?

[2021-05-27 16:21] stephanecharette commented on #18081
In the meantime, is there a way for me to get past this error locally?

[2021-05-27 16:22] sfhacker commented on #18150
@mhandb Are you ok?
@HaoxuanGuo What have you met? [1]

[1] https://english-for-chinese.blogspot.com/2008/06/and-meet-problem.html

[2021-05-27 16:25] stephanecharette commented on #18081
The thing I don't understand is I'm trying to use vcpkg in C:\src\vcpkg.  But the error message I'm getting is about C:\src\darknet, which should be unrelated.

My PWD:  C:\src\vcpkg

The error message:

The following EXEs were found in /bin or /debug/bin. EXEs are not valid distribution targets.

    C:/src/darknet/vcpkg/packages/darknet_x64-windows/bin/uselib_track.exe

The following EXEs were f

[2021-05-27 16:26] dg0yt commented on #13518
WRT to the headline, the tools are no longer missing. (They even build on Linux if you want.) But...
- The tools are in `tools/gettext/bin`.
- `FindGettext.cmake` uses plain `find_program`.
- `tools/gettext/bin` is neither in `ENV{PATH}` nor in `CMAKE_PROGRAM_PATH`.
- So `FindGettext.cmake` is bound to fail.

Basically, this is a recurring issue, not just affecting gettext[tools]. I suppose at lea

[2021-05-27 16:29] BillyONeal commented on #18008
This report is not about Azure Pipelines or the infrastructure maintained by us, it's about a user's GitHub Actions pool; there's little in common between those in terms if what is deployed on the machines.

That said, this doesn't look like a permissions problem -- the most likely cause of 'failed to open file for reading' is that the file doesn't exist in the first place. Given that this is a gi

[2021-05-27 16:34] wrobelda commented on #13518
OK, so as you noticed yourself, this is actually same recurring issue which I commented on before and you already linked to. Good job at summarizing everything in #17607. Let's hope that this is picked up by the core team eventually.

[2021-05-27 16:59] mhandb commented on #18150
@sfhacker Yes I am fine :-D, And you?

@HaoxuanGuo
To fix the port to make it build in release only, it depends on the ports itself.
For SFML I changed the ports so it checks if the file (.lib) exists before trying to copy it. Then if the debug build is not built.
It will not fail trying to copy it.

[2021-05-27 17:15] stephanecharette opened #18157 "cannot completely remove vcpkg once installed"
I had vcpkg installed in a certain directory.  I've made attempts to remove it from that location (such as running "vcpkg integrate remove").

I then git cloned vcpkg to a new location.  But somehow it still references the old location, which causes problems.  How should vcpkg be completely purged from a Win10 system?

The old directory was `c:\src\darknet\`.

The new directory is `c:\src\vcpkg\`.

[2021-05-27 17:26] david-antiteum opened #18158 "[aws-c-common] build failure On macOS 11.3 (arm64) with Apple clang version 12.0.5"
**Host Environment**
- OS: macOS 11.3 (arm64)
- Compiler: Apple clang version 12.0.5

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install aws-c-common`

The current port uses version  v0.4.56. The error has been fixed in version v.0.5.10:

https://github.com/awslabs/aws-c-common/commit/44b8caff9690701cf60ec9654cb40278b70d8c7e#diff-986b9fe7fd20a9fb07a89e12e3db15d4f82708a9df66f61fe02f

[2021-05-27 18:09] frivard-coveo commented on #17475
We have recently upgraded our CI servers to use the latest release of vcpkg-tool (as well as update to MSVC 16.10!).
And this error happened again today, giving me random build failures. That is really annoying, so I'm making a PR about this.

[2021-05-27 18:31] akilaln commented on #18113
@JackBoosY - Thanks for letting us use your changes. I pull your changes and ran the install like you suggested. The build completed without any errors but I don't see the `.pyd` file anywhere in the installed folder

[2021-05-27 18:46] acromarcopolo commented on #18118
you mean doing an `install libtool`?  ok so i did that, and seems like i am going a bit further:
[stdout-x64-osx.log](https://github.com/microsoft/vcpkg/files/6556092/stdout-x64-osx.log)
[package-x64-osx-dbg-out.log](https://github.com/microsoft/vcpkg/files/6556093/package-x64-osx-dbg-out.log)

so i checked that mysterious ninja, no idea what's it supposed to be/do but i noticed this difference:
[

[2021-05-27 20:19] Kwizatz commented on #15351
I found the problem, vcpkg_install_gn is NOT installing the targets, this seems to be true for any triplet.

Hi @JackBoosY , do you know if this is a known issue at the moment?

[2021-05-27 20:45] cenit commented on #18081
you still have the VCPKG_ROOT env variable enabled from the build.ps1 which you ran before (see chat we had on discord).
You didn't reset your powershell, so your active vcpkg is still the "deleted" one, no matter how many times you clone it.

vcpkg uses this env variable to select one preferred installation

[2021-05-27 20:55] PhilippGrulich opened #18160 "[Folly] Add support for arm triplet"
Folly is in general supported on Linux (x86-32, x86-64, and ARM).
However, the port is currently restricted to x86 thus we should enable also ARM support.

[2021-05-27 21:20] Neurochrom opened #18161 "integrate install doesn't work on static"
Visual Studio 2019 (16.9.4)
[code]

Accept the changes to the system.

 The console states:

 _All MSBuild C++ projects can now #include any installed libraries.
 Linking will be handled automatically.
 Installing new libraries will make them instantly available._

A  _vcpkg.system.props_ file is created in _C:\Program Files (x86)\MSBuild\Microsoft.Cpp\v4.0\v140\ImportBefore\Default_

[code]
The l

[2021-05-27 21:41] stephengtuggy opened #18162 "[gdk-pixbuf:x64-windows] build failure and virus detected"
**Host Environment**
- OS: Windows 10 Pro 20H2 VM, running under Proxmox VE 6.2 with Linux kernel 5.11.17-1-pve
- Compiler: Visual Studio 2019 Community Edition 16.9
- gdk-pixbuf version: 2.42.2

**To Reproduce**
Steps to reproduce the behavior:
- `git clone` vcpkg to your system, and run `.\bootstrap-vcpkg.bat`
- Create or `git clone` a project with a vcpkg.json that includes `"gtk"` as a depende

[2021-05-27 21:51] themaxdavitt opened #18163 "[boringssl] update to newer commit?"
Library name: `boringssl`

The [commit](https://github.com/google/boringssl/commit/5902657734e2a796a514731e0fd0e80081ae43dc) referenced in the [port](https://github.com/microsoft/vcpkg/blob/f8c167c9b6755185ac765882c1432e1f0adb7283/ports/boringssl/portfile.cmake#L26) is from over a year ago and I'm interested in getting it updated to something more recent.

However, according to their [README](http

[2021-05-27 22:07] Kwizatz opened #18164 "vcpkg_install_gn is NOT working"
**Describe the bug**

Ports calling vcpkg_install_gn are missing the target requested to be installed

**Environment**
- OS: Windows
- Compiler: 19.28.29915

**To Reproduce**
Steps to reproduce the behavior:
1. vcpkg --triplet x64-windows install crashpad
2. installed/x64-windows/lib or installed/x64-windows/debug/lib are missing all .lib files

**Expected behavior**
*.lib files are installed unde

[2021-05-27 22:10] Kwizatz commented on #15351
I've created an issue to track the problem reported by @36k-wild-monkey .
#18164 is a vcpkg issue, so please continue discussion over there, we've derailed this thread enough.

[2021-05-28 00:11] MichaelGoulding commented on #17475
I believe ran into this as well as both folders were present after I saw the error:
-- Using source at E:/vcpkg/buildtrees/c4core/src/deps/279dcee24f-d3432006da.clean
CMake Error at ports/c4core/portfile.cmake:50 (file):
  file RENAME failed to rename

    E:/vcpkg/buildtrees/c4core/src/deps/279dcee24f-d3432006da.clean

  to

    E:/vcpkg/buildtrees/c4core/src/4e0d4c0337-8aab8071b0.clean/ext/debug

[2021-05-28 01:53] naeco2008 commented on #16052
@autoantwort sorry to disturb you. I am porting my project to Apple Silicon. In order to do that, I built boost 1.68.0 with xcode12.5. The build looks fine. But when i consume this boost library in my project, I always get the below errors, which are very similar to that in the thread:

` Undefined symbols for architecture arm64:
  "_jump_fcontext", referenced from:
      boost::coroutines::detail

[2021-05-28 02:06] xilutian opened #18165 "oatpp update to 1.2.5"
Library name:

New version number:

Other information that may be useful (release notes, etc...)

[2021-05-28 02:16] NancyLi1013 commented on #18150
@mhandb
Seems you have solved your problems, right? You can close this issue if it is not a problem for you now.

@HaoxuanGuo
If you want to build only release, you can use the same way to build. But from your description, it seems you cannot build it successfully by default. So it may be related with the port itself. Your problem is different from this issue.

I also checked that `geant4` is not

[2021-05-28 02:20] ilongshan opened #18166 "[ffmpeg:x64-osx] build failure"
**Host Environment**
- OS: macOS Big Sur 11.2.3
- Compiler: Apple clang version 12.0.0 (clang-1200.0.32.29)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install ffmpeg[*]`

**Failure logs**
-Cut and past the appropriate build messages from the console output.
[code]
-Additional failure logs mentioned in the console output.
[build-x64-osx-rel-out.log](https://github.com/microsoft/vcp

[2021-05-28 02:28] JackBoosY commented on #15351
It's unknown issue.

[2021-05-28 02:35] JackBoosY commented on #11247
@stones314  Did you use vcpkg toolchain?

[2021-05-28 02:40] JackBoosY commented on #18161
Can you please also run `./vcpkg integrate project`?

[2021-05-28 02:42] JackBoosY commented on #18160
Folly only support x64 triplets and it should support arm now.
Can you double confirm this?

[2021-05-28 02:46] JackBoosY commented on #18113
@akilaln I don't much know about oiio, can you tell me which port the `.pdb` belongs to and what it does?

[2021-05-28 02:49] JackBoosY commented on #18164
Yeah...I saw the library was generated in `x64-windows-dbg` and `x64-windows-rel` but not install.

[2021-05-28 02:53] JackBoosY commented on #18164
cc @vejmartin.

[2021-05-28 03:11] l2x-huang commented on #18149
## To Reproduce
1. I compile opencv without libwebp.

my vcpkg.json
[code]

2.  In CMakeLists.txt, I wrote
[code]

## Failure logs
[code]

[2021-05-28 03:15] JackBoosY commented on #18166
[code]
Can you please remove libssh and install libssh again?

Thanks.

[2021-05-28 03:16] SoumenKunduTantra commented on #8105
Hi @PhoebeHui Thanks for your reply. My system was reinstalled with fresh OS of Windows 10. After that when I tried installing vcpkg it got installed properly without any error.

[2021-05-28 03:26] fallending commented on #17968
Any response?

[2021-05-28 03:28] ilongshan commented on #18166
#### Experiment 1

1.1 First remove libssh

[code]
1.2 Then install ffmpeg

[code]

From the log, we can see the libssh is first installed.

#### Experiment 2
2.1 First remove libssh
[code]

2.2 Then install libssh
[code]

2.3 Finally install ffmpeg
[code]

They all have the same error:
[code]

[2021-05-28 04:30] dg0yt commented on #11247
@stones314 When using vcpkg as a submodule, `vcpkg.cmake` must be included *before* the first call to `project()`. Cf. [README](https://github.com/microsoft/vcpkg#vcpkg-as-a-submodule).

[2021-05-28 04:46] kuelite commented on #15542
thank you in advance, i will take a look later

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年5月25日(星期二) 下午2:39
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [microsoft/vcpkg] [tensorflow[*]:x64-windows] build failure (#15542)

Thanks @jgehw for the details!

@kuelite, does this solve your problem?

—
You are receiving this because you

[2021-05-28 05:13] wanlizhu commented on #18152
I tried http proxy and vpn, doesn't work. But it is ok to download using git protocol, so can i mannually specific the protocol as git instead of https?

[2021-05-28 05:29] HaoxuanGuo commented on #18150
@sfhacker , thank you for you correction.

@sfhacker , @NancyLi1013 . OK. I will show my problems in details below.

I tried to build [geant4](https://geant4.web.cern.ch/) in vcpkg.

But due to it is not in the port registry, I have to [add a new package from a zip file](https://github.com/microsoft/vcpkg/blob/master/docs/examples/packaging-zipfiles.md). This library is too large to compile in DEB

[2021-05-28 05:32] HaoxuanGuo opened #18167 "How do I modify the port file to make is build in release only (skip debug)"
I tried to build [geant4](https://geant4.web.cern.ch/) in vcpkg.

But due to it is not in the port registry, I have to [add a new package from a zip file](https://github.com/microsoft/vcpkg/blob/master/docs/examples/packaging-zipfiles.md). This library is too large to compile in DEBUG (it has more than 65535 symbols). vcpkg build both in default that cause an error.

To fix this error, I tried mod

[2021-05-28 05:48] JackBoosY commented on #18166
cc @mcmtroffaes

[2021-05-28 05:54] JonLiu1993 commented on #18165
@xilutian ,Thanks for posting this issue,
currently the highest version of oatpp is 1.2.5.
Duplicate of #17599

[2021-05-28 05:54] #18165 closed

[2021-05-28 05:54] JackBoosY commented on #18152
@wanlizhu Curently not.

[2021-05-28 06:15] #18150 closed

[2021-05-28 06:18] cenit commented on #17934
@JackBoosY since you self-assigned this to yourself, may I ask you if you are working on a PR on this problem?
it would be wonderful.
i can try to help you but i cannot do it alone, because i am really overworked right now

[2021-05-28 06:30] PhilippGrulich commented on #18160
Yes.

[2021-05-28 06:35] vejmartin commented on #18164
@JackBoosY, thank you for the cc, I'll look into it.

[2021-05-28 07:00] stones314 commented on #11247
Thanks, it worked when I moved it before the project() call!

[2021-05-28 07:09] mcmtroffaes commented on #18166
I can confirm that I also have this down as a failure on both x64-osx and x64-linux on my own CI. Will have a look.

[2021-05-28 07:23] akilaln commented on #18113
It is the `OpenImageIO.pyd`, the python windows dll for OpenImageIO that is used for importing in Python. It was previously getting created inside of the `vcpkg\installed\x64-windows\lib` folder but I don't see it in the build I ran using your changes.

[2021-05-28 07:48] mcmtroffaes commented on #18166
@ilongshan Can you confirm that you get similar errors in ./buildtrees/ffmpeg/x64-osx-rel/ffbuild/config.log (or even better, post the file)? In particular, it should be complaining about gssapi. Will post a patch to disable gssapi in libssh: the generated .pc file does not seem to support it.

[code]

[2021-05-28 07:54] NancyLi1013 commented on #18144
Hi @Masahiro-Mizutani

Thanks for posting this issue.
`LINK : fatal error LNK1104: cannot open file 'src\base\database_cache_test.exe'`

Can you help confirm if `database_cache_test.exe` exists `C:\Users\miz13683\AppData\Local\vcpkg\buildtrees\colmap\x64-windows-dbg\src\base\` folder on your machine?

I got the different error from yours, so I need to investigate this further.

[2021-05-28 07:54] ilongshan commented on #18166
@mcmtroffaes  Yes, the errors are similar. Here is the config.log file:
[config.log](https://github.com/microsoft/vcpkg/files/6559220/config.log)

[2021-05-28 07:57] mcmtroffaes commented on #18166
@ilongshan Perfect, thanks so much for confirming. I think #18169 should fix it. Can you give it a try?

[2021-05-28 08:00] StefAviator commented on #13688
@david-antiteum Can you confirm that the boost components function on your Mac mini with M1 with this fix?

[2021-05-28 08:21] JackBoosY commented on #17934
Sadly, I don't have much time either. This issue is queued.

[2021-05-28 08:22] NancyLi1013 commented on #18162
Hi @stephengtuggy
Thanks for posting this issue.
Can you disable `Bitdefender` on your machine and rebuild this port?

[2021-05-28 08:22] ilongshan commented on #18166
OK. I am building the ffmpeg now, after the build process finishes, I will post the result here.

[2021-05-28 08:23] limarev opened #18170 "[fontconfig] Build failure on arm64-osx-dynamic"
Build qt5 via vcpkg failed, it's not clear why vcpkg can't install required libfontconfig library.

**Host Environment**
- OS: Apple m1 BigSur 11.04
- Compiler: Apple clang version 12.0.5

**To Reproduce**
[code]

**Failure logs**
[code]
[fc-cache-arm64-osx-dynamic-err.log](https://github.com/microsoft/vcpkg/files/6559357/fc-cache-arm64-osx-dynamic-err.log)
fc-cache-arm64-osx-dynamic-out.log is em

[2021-05-28 08:50] kafeg commented on #17472
I also trying to build it nativelly on Mac M1 and my output is the same to yours. From the `config-arm64-osx-dbg-err.log`:
[code]

There is `-arch x86_64` in buiild params.

[2021-05-28 08:51] Stannieman commented on #13688
@StefAviator is acutally my collegea and we just confirmed this is not the case.
But you have an M1 and probably it indeed compiles for ARM64 just fine. We are talking about cross compiling from an Intel box.

[2021-05-28 08:57] JackBoosY commented on #18113
@akilaln Please pull my latest changes and rebuild oiio.

Thanks.

[2021-05-28 08:58] StefAviator commented on #13688
So compiling on an arm64 system outputs arm64, but compiling on an x86 system for arm64 currently incorrectly outputs x86. The proper test for the fix would be to take code built with the boost libraries on a x86 machine and test it on a laptop with M1.

[2021-05-28 09:03] playgithub commented on #18066
@NancyLi1013
I also tried the offical wxWidgets sample: minial, with only one cpp file and one native CMakelists.txt. It got the same problem.
Sample in attachment.

[TestWxMinimal.zip](https://github.com/microsoft/vcpkg/files/6559650/TestWxMinimal.zip)

[2021-05-28 09:07] NancyLi1013 commented on #18118
Hi @acromarcopolo

This is not related with Ninja.
[code]
Can you try to remove `-Wimplicit-function-declaration` and  `-Werror=implicit` from meson.build in source codes and add `-Wno-error=implicit-function-declaration`. Then rebuild this?

Note: Before update changes, please use `vcpkg install pango --editable` to rebuild first.
[code]

[2021-05-28 09:13] xilutian commented on #18165
![image](https://user-images.githubusercontent.com/14370659/119960693-cf328300-bfd7-11eb-9826-7b911e96612c.png)
Why am I still searching for 1.2.0, and what should I do  ，Thanks

[2021-05-28 09:15] JonLiu1993 commented on #18165
@xilutian ,Please use the latest vcpkg

[2021-05-28 09:18] NancyLi1013 commented on #18066
Thanks for your information. I will try to build your project on my machine @playgithub.

[2021-05-28 09:21] xilutian commented on #18165
Can I just update Ports? Is there any command support

[2021-05-28 09:22] JonLiu1993 commented on #18165
Use the "git pull" command to update vcpkg to the latest version, if it is still not the latest version, please clone vcpkg again

[2021-05-28 09:23] xilutian commented on #18165
ok

[2021-05-28 09:25] acromarcopolo commented on #18118
Sorry I need clarification/confirmation:
- there are many "meson.build" files. Do you mean the one in my
~/gtk/source?  at least there,i found a piece of code like you present
- are you saying the order of operation is
1/ run vcpkg install pango --editable
2/ do the changes in meson.build
3/ run ./vcpkg install gtk again
or 2/ 1/ 3/ ?

On Fri, May 28, 2021 at 11:08 AM NancyLi1013 ***@***.***>
wrot

[2021-05-28 09:31] JackBoosY commented on #18151
For tools, I don’t think we need to use the debug version, because its performance is much lower, and it can’t help us to debug.

[2021-05-28 09:32] NancyLi1013 commented on #18118
[code]
Please make sure you can install pango successfully, then rebuild other ports.

[2021-05-28 09:41] autoantwort commented on #16052
Are you using the latest vcpkg master branch?

[2021-05-28 09:42] JackBoosY commented on #18167
Add `set(VCPKG_BUILD_TYPE "release")` to the triplet file in _VCPKG_ROOT/triplets_.

[2021-05-28 09:45] JackBoosY commented on #18170
cc @xandox @dg0yt @abique @Neumann-A

[2021-05-28 09:51] JackBoosY commented on #18170
Even `arm64-osx` is a community triplet, since Apple M1 macbook are more and more used, I will stare at this issue.

[2021-05-28 09:56] xandox commented on #18170
@limarev can I ask for other logs?

[2021-05-28 09:58] acromarcopolo commented on #18118
step 1/ fails:
[stdout-x64-osx.log](https://github.com/microsoft/vcpkg/files/6560096/stdout-x64-osx.log)
[package-x64-osx-dbg-out.log](https://github.com/microsoft/vcpkg/files/6560097/package-x64-osx-dbg-out.log)
(log ends with `ninja: build stopped: subcommand failed.`)

[2021-05-28 10:06] mcmtroffaes commented on #18166
Great, thanks! Btw something I just noticed: instead of ``ffmpeg[*]`` I recommend that you use ``ffmpeg[all]`` for the LGPL variant, ``ffmpeg[all-gpl]`` for the GPL variant, or ``ffmpeg[all-nonfree]`` for the non-redistributable variant. Because some features are not supported on osx, ``ffmpeg[*]`` is almost certain to fail. However libssh is one that is supposed to work.

Besides libssh, I've not

[2021-05-28 11:20] autoantwort opened #18172 "[fontconfig] build failure on x64-osx"
**Host Environment**
- OS: macOS 11
- Compiler: clang

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install`

**Failure logs**
vcpkg/buildtrees/fontconfig/build-x64-osx-dbg-err.log:
[code]

[2021-05-28 11:25] dg0yt commented on #18151
I can agree for gettext tools, moc and similar. But there are tools which carry lib path and linkage information:
- curl-config
- geos-config
- qmake

and probably this is true also for some or all MPI tools? `FindMPI.cmake` is non-trivial IIRC.

[2021-05-28 11:34] autoantwort commented on #18170
Please change `arm64-osx` to `arm64-osx-dynamic` in the title, for `arm64-osx` the build is successful

[2021-05-28 11:58] limarev commented on #18170
@xandox yep, you are welcome

[2021-05-28 12:08] HaoxuanGuo commented on #18167
@JackBoosY Thank you for your help.

[2021-05-28 12:09] #18167 closed

[2021-05-28 12:25] CaeruleusAqua opened #18173 "[orocos_kdl] add INCLUDE_DIRS as target property"
****

**Is your feature request related to a problem? Please describe.**
The Library is not usable by just doing:
[code]
because the include_directoy property of the traget ist missing
(it is saved in orocos_kdl_INCLUDE_DIRS)

**Proposed solution**
Add the property to the ococos-kdl target

[2021-05-28 12:39] lukcz opened #18174 "How to force vcpkg to install dependencies with --head parameter, when using in manifest mode?"
According to documentation of vcpkg_from_github:
[code]

I do not want to specify REF and SHA512 in my portfile.cmake. Instead I would like to build my library based on HEAD_REF  by adding --head when installing my dependency:
[code]

This works in user-wide mode, however when using vcpkg in manifest mode it is assumed that REF parameter is specified which results in package installation error:
[c

[2021-05-28 13:01] kafeg commented on #15741
Hey! Could you please re-test this issue? It works fine for me at 28.05.21, here is `universal cmake executable (x86_64 + arm64)`. For e.g.:

[code]

[2021-05-28 13:06] SamuelMarks commented on #17055
Sounds good, would be great to have a working nuklear via vcpkg (with no special instructions required)

[2021-05-28 13:26] limarev commented on #18170
@dg0yt seems you are right:
[code]

[code]

[2021-05-28 13:33] naeco2008 commented on #16052
Hi @autoantwort,

Sorry I didn't explain clearly. I am working on my own program which depends on boost. I built boost 1.68.0 with "-arch arm64". It looks the build is successful, and when linking my program, I encountered the above link errors. I'd like to check with you how you resolved this issue? Or does Boost 1.68.0 not fully support apple silicon, and I need to upgrade it to 1.75 or above? I

[2021-05-28 13:35] limarev commented on #18170
@autoantwort I changed the title, but for `arm64-osx` build is still unsuccessful: #17472

[2021-05-28 13:41] autoantwort commented on #16052
You have to add the options `abi=sysv binary-format=mach-o` when calling b2. Or simply use vcpkg ;)

[2021-05-28 13:44] naeco2008 commented on #16052
I already used abi=sysv binary-format=mach-o in my command line. The problem still exists

[2021-05-28 13:49] naeco2008 commented on #16052
The command line i used is:

[2021-05-28 13:49] dg0yt commented on #11247
Regarding the other cases of "CMake find_package cannot always find packages":
IIUC vcpkg's cmake wrappers will only be activated for dependencies explicitly declared in a `vcpkg.json` manifest in your project.
Without the wrappers, `find_package()` will not always find the vcpkg package.

[2021-05-28 13:54] naeco2008 commented on #16052
I just add `abi=sysv binary-format=mach-o` to the command line. Do i need to add them to `boost/libs/context/build/Jamfile.v2`? How?

[2021-05-28 13:58] naeco2008 commented on #16052
so vcpkg will always install the latest boost? Can i install boost 1.68.0?

[2021-05-28 14:09] autoantwort commented on #16052
Is maybe possible with versioning, but why do you want such an old version?

[2021-05-28 15:06] stephengtuggy commented on #18162
Hi @NancyLi1013 . Thanks for following up.

I could, but I am reluctant to do so, in case this is an actual virus. 10 antivirus engines flagging it seems like a pretty high number.

For now, I have worked around the issue by removing gtk as a dependency. This means that a couple of our .EXE's fail to build, but the main one succeeds.

[2021-05-28 15:09] limarev commented on #17472
@kafeg I have no portfile.cmake in qt5-base directory:

[code]

[2021-05-28 15:14] naeco2008 commented on #16052
The company aligned the boost version across the departments.
BTW, in your below image you showed the symbols for different library. what tool did you use to show the symbols in this way? It looks very clear.
![image](https://user-images.githubusercontent.com/29545231/120005310-4bde5500-c00a-11eb-97a5-ba135f8a2588.png)

[2021-05-28 15:16] kafeg commented on #17472
Check <vcpkg path>/ports/qt5-base/portfile.cmake please.

[2021-05-28 16:04] mcmtroffaes commented on #18166
That's absolutely fabulous. And thank you so much for confirming, I'm very glad to hear all ffmpeg features on osx are functional!

Not related to the PR, but for you to know: it's enough to specify only one of ``all``, ``all-gpl``, or ``all-nonfree``; there's never a case where you'd have to specify all three. The ``all-nonfree`` build has most features (but is not redistributable, nor is any bin

[2021-05-28 16:04] ilongshan commented on #18166
@mcmtroffaes Sorry to bother you again. There is a similar issue about intall ffmpeg with tensorflow. The libtensorflow has ben built and install with vcpkg:
[code]

But when I install ffmpeg with `./vcpkg install ffmpeg[all,all-gpl,all-nonfree,ssh,tensorflow]`, the similar error occurs:
[code]

It seems the same issue as libssh. Hope you can fix it also.

[2021-05-28 16:05] mcmtroffaes commented on #18166
Well, tensorflow is only supported on dynamic triplets, but x64-osx is static... so this failure is expected. That's why it is not included in the ``all-*`` builds on osx.

[2021-05-28 16:09] obsgolem opened #18177 "Does Vcpkg binary caching support reusing binaries with ABI compatible compilers?"
My project is looking to switch from a bespoke dependency management solution to Vcpkg.  We need to distribute a set of precompiled dependencies to our customers so that customers without internet access can build the project and also so that they don't have to rebuild the dependencies if necessary. Previously, it looks like `vcpkg export` could have fulfilled this need, but this isn't currently s

[2021-05-28 16:10] ilongshan commented on #18166
OK, I see. This build issue is resolved, and thanks very much for your help.

[2021-05-28 16:12] #18166 closed

[2021-05-28 16:23] mcmtroffaes commented on #18166
Sure, you're most welcome.

[2021-05-28 16:26] dg0yt commented on #18170
FTR, on my x64-linux machine, `fc-cache` runs 0.35 s and creates 1.2 MB in `packages/fontconfig_x64-linux/var/cache/fontconfig`. According to `fc-cache-x64-linux-out.log`, it processed mostly `/usr/share/fonts`.

[2021-05-28 16:27] Neurochrom commented on #18161
@JackBoosY
`./vcpkg integrate project`
[code]
Followed the instructions
[code]
Project builds fine afterwards.

[2021-05-28 16:30] Neurochrom commented on #18161
@JackBoosY
another workaround I used before is adding a vcpkg.props to the projects property sheets containing:
[code]
still it would be lovely if it could just work as documented

[2021-05-28 16:30] dg0yt commented on #18172
We see the error output, but we probably also need the command line where `fcfreetype.c` is compiled. This is in stdout.

[2021-05-28 17:15] akilaln commented on #18113
@JackBoosY - Really appreciate your quick turnaround. I was able to successfully build on Windows. Is it set to work on Linux as well?
Again, thanks for all the help so far

[2021-05-28 17:34] longnguyen2004 commented on #16218
Issue cleanup: Close as "unfixable"

[2021-05-28 17:47] ned14 commented on #18110
[code]

The key line above is `UNC paths are not supported.  Defaulting to Windows directory.`

[2021-05-28 18:20] #16907 closed

[2021-05-28 18:40] Neumann-A commented on #18170
If  the fontconfig version within vcpkg has problems with the fontconfig cache of the system trying to run an executable like the cmake test port will display gibberish. This was e.g. the case wenn the fontconfig version within vcpkg was not working with the fontconfig cache of Ubuntu 20.04. Setting FONTCONFIG_PATH to the path within vcpkg solves this issue.

Maybe vcpkg should add --rpath $ORIGIN

[2021-05-28 20:26] autoantwort commented on #18172
[build-x64-osx-dbg-out.log](https://github.com/microsoft/vcpkg/files/6563178/build-x64-osx-dbg-out.log)
[Uploading build-x64-osx-dbg-err.log…]()

[2021-05-28 22:01] a0174 commented on #7995
I found this thread [from a link here](https://github.com/microsoft/vcpkg/issues/10356) -- which closely resembles the error i'm getting `Error: Building package tensorflow-cc:x86-windows failed with: BUILD_FAILED` -- i'm not sure if it relates to #7995 though

[2021-05-29 01:35] jleaders opened #18179 "Project vcpkg settings missing from Visual Studio Project Properties"
One of my C++ vcxproj's (with a vcpkg.json) looks like this
![1ONIl](https://user-images.githubusercontent.com/2430917/120054174-44f01c00-bfe3-11eb-80e9-9732e351d986.png)

And another dependant project (with a vcpkg.json) looks like this. Note the missing option.

![5dLef](https://user-images.githubusercontent.com/2430917/120054178-46b9df80-bfe3-11eb-9f8e-b19fcfa849b3.png)

But I need to be able t

[2021-05-29 04:25] dg0yt commented on #18172
Hm, I cannot reprodoce this locally.

Can you re-install freetype? Port freetype's installed includes look okay. But your build seems to use a copy of freetype from brew: `/usr/local/include/ft2build.h` when it should use `installed/x64-osx/include/ft2build.h`. And `config.log`might help tracing why.

[2021-05-29 04:32] edwin-tn opened #18180 "[popsift] build failure on x64-windows"
**Host Environment**
- OS: [Windows 10]
- Compiler: Visual Studio 2017 Developer Command Prompt v15.9.36

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install popsift[apps] --triplet x64-windows`

**Failure logs**
Starting package 1/1: popsift:x64-windows
Building package popsift[apps,core]:x64-windows...
-- Using cached C:/vcpkg/downloads/alicevision-popsift-v0.9.tar.gz
-- Extractin

[2021-05-29 06:56] m-kuhn opened #18181 "[fontconfig] Cross compiling fails"
**Host Environment**
- OS: arm64-android built on ubuntu 18.04
- Compiler: ndk 21.3.6528147

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install fontconfig:arm64-android`

**Failure logs**

[code]

**Additional context**

fc-case is compiled for the build system, using `@CC_FOR_BUILD@` but `CFLAGS` which are prepared for cross compiling are specified. The cause is `build2.patch` whi

[2021-05-29 07:07] m-kuhn commented on #18181
CC @xandox this was added in https://github.com/microsoft/vcpkg/pull/17019/files#diff-0bc1e7dad8aa1da4370a11b88712eddf4e9cfb53ef157016910d2f120e03b7a1R10

[2021-05-29 07:43] dg0yt commented on #18181
[code]

Possibly affected ports:
- fontconfig
- gmp
- libassuan
- libgcrypt
- libgpg-error
- nettle

Possible solution:
- Cf. libgpg-error: Next to CC_FOR_BUILD is CFLAGS_FOR_BUILD. Maybe these variables should be used and populated with cmake config from the *host* triplet.

[2021-05-29 09:18] dg0yt commented on #18011
I will look into this now. I need port tiff fixes for gdal anyway.

[2021-05-29 10:59] autoantwort commented on #18172
Is there a way to reinstall freetype in manifest mode?
[config-x64-osx-dbg-out.log](https://github.com/microsoft/vcpkg/files/6564553/config-x64-osx-dbg-out.log)
[config-x64-osx-dbg-err.log](https://github.com/microsoft/vcpkg/files/6564554/config-x64-osx-dbg-err.log)
[config.log](https://github.com/microsoft/vcpkg/files/6564555/config.log)
[config.log-x64-osx-dbg.log](https://github.com/microsoft/v

[2021-05-29 13:11] limarev commented on #17472
Thank you, I found it. I tried your solution and `qt5-base[core]:arm64-osx` was installed successfully. Now building package `qt5-imageformats:arm64-osx` failed:
[code]
[config-arm64-osx-rel-err.log](https://github.com/microsoft/vcpkg/files/6564724/config-arm64-osx-rel-err.log)
[config-arm64-osx-rel-out.log](https://github.com/microsoft/vcpkg/files/6564725/config-arm64-osx-rel-out.log)

[2021-05-29 13:29] dg0yt commented on #18172
I have no idea.  You might probably remove `vcpkg_installed`, assuming that the binary packages are cached in a different location. This should rebuild what is outdated.

[2021-05-29 13:54] dg0yt commented on #18172
(And port fontconfig has issues with cross compiling, #18181. You are building for x64 on arm64.)

[2021-05-29 15:04] dg0yt commented on #17472
The libraries are right, but the build seems to target x86_64 instead of arm64:
[code]

[2021-05-29 15:42] kafeg commented on #17472
you can check all libs types by: `cd /Users/limarev/local/vcpkg/installed/arm64-osx/lib/; lipo -info *.a`

[2021-05-29 15:44] dg0yt commented on #17472
@kafeg Does that help when it reports "building for macOS-x86_64" when it is meant to target arm64-osx?

[2021-05-29 15:49] kafeg commented on #17472
no, just to check which libs exactly built for wrong platform.

[2021-05-29 16:47] vejmartin commented on #12908
This appears to have been fixed by 8054263f15c8400d6df5fff55fae97394e187368.

[2021-05-29 16:58] treellama commented on #16630
Even if I remove `--hash` from both CMakeLists.txt and boost-modular-build.cmake, it still shows up in build.ninja. Likewise, no amount of cxxflags I add to either of those files end up being used. Is there a layer of caching somewhere I'm missing? Do I have to build the entire boost metapackage?

[2021-05-29 17:17] treellama commented on #16630
Never mind, I found they are copied to installed/arch/share/boost-build and used from there. So it's necessary to remove and reinstall boost-modular-build-helper to get the new files in place.

I can confirm, removing --hash is not sufficient to get arm64 libraries generated.

[2021-05-29 17:50] treellama commented on #16630
Building off the universal binary link above, the following modification to ports/boost-modular-build-helper/CMakeLists.txt appears to build both x64 and arm64 binaries, depending on the target.

[code]

[2021-05-29 19:24] cjwijtmans commented on #17448
I have the same issue, failing to build brotli so it seems brotli specific. The annoying part is other packages that build just fine while detecting powershell(from the windows store).

[code]

[2021-05-29 19:35] cjwijtmans commented on #18157
did you run bootstrap in new directory.

[2021-05-29 19:39] stephanecharette commented on #18157
Yes I did.  @cenit tells me it is because I didn't exit from the powershell and start a new one.  Additionally, I think he's also made a change to the darknet package so this won't be an issue anymore.  I plan on going back to this project this weekend, will test things then.

[2021-05-29 19:43] Neumann-A commented on #17472
QMAKE_APPLE_DEVICE_ARCHS needs to be set for all qt5 ports not just qt5-base otherwise the mkspec resets it to x86_x64

[2021-05-29 20:03] wrobelda opened #18188 "[qt5-svg] build failure, /include empty or not preset"
**Host Environment**
- OS: Ubuntu ~~20.04~~ 18.04

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install qt5-svg`

**Failure logs**

[code]

[2021-05-29 20:47] NickStrupat commented on #10243
I've seen this issue while trying to consume a couple of ports (the other being `antlr4`).

Is there vcpkg documentation on how to add this to a port. Are the folks who successfully add these target file exports just CMake sorcerers?

[2021-05-29 21:39] Ou7law007 opened #18189 "LLVM lld-link : error : could not open ...\*.lib: invalid argument"
**Describe the bug**
could not open 'C:\Users\User\vcpkg\scripts\buildsystems\msbuild\..\..\..\installed\x64-windows-static\debug\lib\*.lib': invalid argument when "C++ Clang Compiler for Windows (11.0.0)" is installed and "LLVM (clang-cl)" is set.

After some digging I found out that the lld linker is unable to interpret vcpkg's output of libs.

Setting Use AutoLink to false DOES NOT fully fix th

[2021-05-29 22:35] NickStrupat commented on #1832
https://github.com/microsoft/vcpkg/issues/13696

[2021-05-30 00:56] huolingfei opened #18190 "boost-type-traits build failure"
**Host Environment**
- OS: Windows
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg\vcpkg.exe install boost-math:x86-windows boost-math:x64-windows`

**Failure logs**
-Cut and past the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.
Computing installation plan...
The following packages w

[2021-05-30 03:54] souris-dev opened #18191 "DOC: Unclear command line format in README"
*Issue:*

The Quick Start section for Windows in the README has a command format for installing x64 libraries, which goes like this in the README:

[code]

The part `package:x64-windows` might seem a little unclear to people using the tool for the first time as it is not explicit/clear that in this, `package` is to be substituted with the appropriate package name. The command formats before this o

[2021-05-30 07:28] saswatpp commented on #15309
This error still persists even after reinstalling intel MKL.

The error log in the file VCPKGROOT/buildtrees/arrayfire/config-x64-windows-out.log :
[code]

[2021-05-30 08:50] dg0yt commented on #10243
Providing cmake config files ("[port]-targets.cmake, [port]-targets-debug.cmake, [port]-targets-release.cmake" etc.) should generally be done by, or requested from, the upstream software project (assuming it is using cmake).

If cmake has a find module ("FindPort.cmake") and it doesn't work sufficiently for vcpkg, a port can install a file `share/port/vcpk-cmake-wrapper.cmake` which can execute ad

[2021-05-30 11:32] limarev commented on #17472
I add QMAKE_APPLE_DEVICE_ARCHS=arm64 to the CORE_OPTIONS in `qt5-imageformats/portfile.cmake`, but I got error in `config-arm64-osx-rel-err.log`: `ERROR: Assigning unknown variable 'QMAKE_APPLE_DEVICE_ARCHS' on command line` .
`qt5-imageformats/portfile.cmake`:
[code]

[code]

[config-arm64-osx-rel-err.log](https://github.com/microsoft/vcpkg/files/6566113/config-arm64-osx-rel-err.log)
[config-arm6

[2021-05-30 11:35] limarev commented on #17472
Here is the output:
`cd /Users/limarev/local/vcpkg/installed/arm64-osx/lib/; lipo -info *.a`
[code]

[2021-05-30 12:19] pythagoras9 opened #18192 "[libtorrent] update version from 1.2.13 to 2.0.3"
Library name: libtorrent

New version number: 2.0.3

-> BitTorrent v2 support

[2021-05-30 12:35] Neumann-A commented on #17472
Needs to be passed as OPTIONS not BUILD_OPTIONS. It needs to be before the --

[2021-05-30 12:43] antoinech13 opened #18193 "CCfits not working"
**Host Environment**
- OS: Windows/
- Compiler: Visual Studio 16 2019

**To Reproduce**
- i created c:\src\vcpkg
- open a cmd and execute cd c:\src\vcpkg
- git clone https://github.com/microsoft/vcpkg
- .\vcpkg\bootstrap-vcpkg.bat
- .\vcpkg\vcpkg install ccfits
- .\vcpkg\vcpkg integrate install
- last point, open a visual studio project and just #include "CCfits.h"

- VS will say that it don't arr

[2021-05-30 13:09] Neumann-A commented on #18188
That is an indicator that something is missing. Configure err and out log requiered for further debugging.

[2021-05-30 14:37] limarev commented on #17472
Ok, I passed it as you said:
[code]
Got this output:
[code]

[config-arm64-osx-rel-err.log](https://github.com/microsoft/vcpkg/files/6566361/config-arm64-osx-rel-err.log)
[config-arm64-osx-rel-out.log](https://github.com/microsoft/vcpkg/files/6566362/config-arm64-osx-rel-out.log)

[2021-05-30 16:16] #18157 closed

[2021-05-30 19:48] theblackwidower commented on #18076
`gcc (x86_64-posix-seh-rev0, Built by MinGW-W64 project) 8.1.0`

[2021-05-30 19:53] theblackwidower commented on #18076
`gcc (x86_64-posix-seh-rev0, Built by MinGW-W64 project) 8.1.0`
`gcc (GCC) 9.2.0`
`gcc.exe (GCC) 10.2.0`
`x86_64-w64-mingw32-gcc-8.1.0.exe (x86_64-posix-seh-rev0, Built by MinGW-W64 project) 8.1.0`
`gcc (GCC) 10.2.0`

I'm not sure exactly why I have so many installed, but here they are. By the way, it looks like there are separate compilers for C++. Don't know if they're different. Do you need tho

[2021-05-30 20:35] acgetchell opened #18195 "[catch2] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: Visual Studio 2019 with clang-cl 11.0.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install--feature-flags=manifests`

**Failure logs**
[code]
**Additional context**
Manifest file:

https://github.com/acgetchell/CDT-plusplus/blob/develop/vcpkg.json

Build log:

https://ci.appveyor.com/project/acgetchell/cdt-plusplus/builds/39388016

[2021-05-30 20:44] NickStrupat commented on #10243
Interesting. Thank you for the explanation and example.

I find that it greatly reduces the QoE of vcpkg when a package I want to consume needs more than a find_package and target_link_libraries call after adding it to a vcpkg.json.

Do you think it would be sensible to add a test to the package CI builds? That way, over time, packages would require proper targets to pass the CI build before merge

[2021-05-30 20:52] acgetchell commented on #18195
If I don't cache VCPKG_ROOT, then this problem doesn't happen.

https://github.com/acgetchell/CDT-plusplus/commit/1abbc1368f60d583420ae4c0413ef6739f24df32

[2021-05-30 21:56] Ascor8522 commented on #18191
Just got this exact issue moments ago.
Tho I have some experience with C and C++ on other platforms I'm pretty new to vcpkg.

I initially though one had to install a package named `package:x64-windows` to add x64 compilation support for Windows.

This issue saved me quite a bit of time 👍

[2021-05-31 00:01] Masahiro-Mizutani commented on #18144
Hi @NancyLi1013

Thank you for your early response. I have confirmed that there is the folder in my machine, and following are the contents.
[code]

[2021-05-31 01:45] TheCelebrimbor opened #18196 "[sqlcipher] build failure"
**Host Environment**
- OS: Windows
- Compiler: MSVC 2019 Toolset

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install sqlcipher:x64-windows-static-md`

**Failure logs**
[code]

Attached files below :

[pre-build-x64-windows-static-md-err.log](https://github.com/microsoft/vcpkg/files/6567290/pre-build-x64-windows-static-md-err.log)
[pre-build-x64-windows-static-md-out.log](https://gi

[2021-05-31 01:50] TheCelebrimbor commented on #18196
FYI, I have the same issue when not using community triplets and using `x64-windows-static`

[2021-05-31 01:57] longnguyen2004 commented on #18076
Nope, that's good enough.
Whatever it is, it seems to be a compiler bug, since my build with [llvm-mingw](https://github.com/mstorsjo/llvm-mingw) succeed without any problem.
Are you using [this package](https://community.chocolatey.org/packages/mingw) from Chocolatey?

[2021-05-31 01:59] JackBoosY commented on #18113
@akilaln Maybe, but I didn't test on Linux.

[2021-05-31 01:59] #18113 closed

[2021-05-31 02:18] JackBoosY commented on #18161
Also, we can set it here:

![image](https://user-images.githubusercontent.com/47264268/120130778-9a057b00-c1f9-11eb-8abc-52003d84962a.png)

[2021-05-31 02:18] #18161 closed

[2021-05-31 02:48] JackBoosY commented on #18188
Please provide the logs in _/home/cromo/vcpkg/buildtrees/qt5-svg_.

Thanks.

[2021-05-31 02:51] JackBoosY commented on #18177
I'd like @vicroms to answer this question.

[2021-05-31 03:07] JackBoosY commented on #18193
First, you should include `CCfits/CCfits.h` instead of `CCfits.h`.
Second, the library doesn't need to be added.
Last, it does have a bug with usage, but I didn't repro the link error on my machine.

[2021-05-31 03:17] playgithub opened #18198 "Why a cmake project build with error version of a lib in vcpkg?"
cmake configured as debug, but link to a release version of a lib in vcpkg.

case:
https://github.com/microsoft/vcpkg/issues/18066

[Sample project](https://github.com/microsoft/vcpkg/files/6559650/TestWxMinimal.zip)

[2021-05-31 05:05] dg0yt commented on #10243
@NickStrupat I don't want to make a general comment about testing in vcpkg. With regard to cmake config files, there is one related draft PR: https://github.com/microsoft/vcpkg/pull/15173.

[2021-05-31 05:41] PhoebeHui commented on #8105
Glad you got the issue fixed!

[2021-05-31 05:41] #8105 closed

[2021-05-31 05:45] NancyLi1013 commented on #12908
Thanks for your kindly reminder @vejmartin.

Have confirmed that this issue has been fixed by PR https://github.com/microsoft/vcpkg/pull/12884. Please update to the latest vcpkg via `git pull` and rebuild this port @grebenval.

[2021-05-31 05:45] #12908 closed

[2021-05-31 06:45] NancyLi1013 commented on #18144
Is there any antivirus installed on your machine? If yes, please disable it and try to rebuild this.

[2021-05-31 07:15] JackBoosY commented on #10243
For PR #15173, my goal is to test the properties of the generated targets to ensure that they can be used normally.

[2021-05-31 07:22] JackBoosY commented on #18162
As the tools commonly use network and disk behaviors, and the locally generated executable is not signed, it may be reported as a virus by the anti-virus.
I think that's reasonable and acceptable.

[2021-05-31 07:33] JackBoosY commented on #18153
Hi @PhilippGrulich, can you please test PR https://github.com/microsoft/vcpkg/pull/18104, and if this issue still exist, please provide a sample project to reproduce it.

Thanks.

[2021-05-31 07:37] NancyLi1013 commented on #18189
Hi @Ou7law007

Thanks for posting this issue. Since it's duplicated to #15623, let's track this issue there.

[2021-05-31 07:37] #18189 closed

[2021-05-31 07:43] JackBoosY commented on #18192
We should add a new port named `libtorrent2`.

[2021-05-31 08:07] Masahiro-Mizutani commented on #18144
Yes, I will try that.

[2021-05-31 08:33] PhoebeHui commented on #18190
@huolingfei, could you try the solution provided by https://github.com/microsoft/vcpkg/issues/13348#issue-692784879 and see if it works for you?

[2021-05-31 08:45] JackBoosY commented on #13533
@wrobelda This because `getopt-win32:x64-windows-static` is skipped:
[code]
In my opinion, `ci.baseline.txt` should be cleand to prevent this.

[2021-05-31 09:02] PhoebeHui commented on #14657
The correct inforrmation should be '(#14239) [fmt] Update to 7.1.0 (by @cngzhnp)' for 2020.11.01, I have upated this.
See https://github.com/microsoft/vcpkg/releases/tag/2020.11

[2021-05-31 09:02] #14657 closed

[2021-05-31 09:04] JackBoosY commented on #18180
Please make sure your vcpkg is latest.

Thanks.

[2021-05-31 09:16] PhoebeHui commented on #18174
@lukcz, could you try the the solution provided by https://github.com/microsoft/vcpkg/pull/16613#issuecomment-799801106 and see if it works for you?

[2021-05-31 09:17] PhoebeHui commented on #18174
Duplicated to https://github.com/microsoft/vcpkg/issues/16624.

[2021-05-31 09:17] #18174 closed

[2021-05-31 09:23] TheCelebrimbor opened #18204 "[boost] update to 1.76"
Library name: Boost

New version number: 1.76.0

Seems there are lots of breaking changes in 1.76.0. Need to retain the old port (1.75.0) maybe ?

[2021-05-31 09:27] kafeg commented on #16630
Hey @treellama! I tried your solution and it definitelly works and boost builds for `arm64`, but then `boost-locale` starts failing with
[code]

But I'm sure this is the separate problem.

Could you please create PR with your change?

[2021-05-31 09:29] JackBoosY commented on #18179
For msvc project, vcpkg will add extra option `vcpkg` to all project configuration pages.
But for cmake project, since the `sln` is generated by cmake and we always modify the configuration in CMakeLists.txt, we can only use vcpkg toolchain in vcpkg and skip add the option to the configuration pages.

[2021-05-31 09:31] sundarsabapathi opened #18205 "How do I manually update my poco portfile.cmake?"
I want to enable netssl and crypto components in poco portfile.cmake. I enabled vcpkg version feature in my project.

[2021-05-31 09:31] JackBoosY commented on #18180
Related: https://github.com/microsoft/vcpkg/issues/17940.

[2021-05-31 09:36] NancyLi1013 commented on #18162
@stephengtuggy
Currently, we need to disable the virus to rebuild. So I think it's necessary to disable Bitdefender on your machine.

[2021-05-31 09:38] NancyLi1013 commented on #18118
Can you try to add `#include <fontconfig/fontconfig.h>` to `../src/480391f31f-4c049f225c.clean/pango/pangofc-fontmap.c`?

Since `FcWeightFromOpenTypeDouble`, `FcStrListFirst`, `FcWeightToOpenTypeDouble` these functions are defined in `#include <fontconfig/fontconfig.h>`, but the header is not included in the file.

[2021-05-31 09:44] PhoebeHui commented on #18204
Closing in favor of https://github.com/microsoft/vcpkg/issues/17330, which we already have a PR https://github.com/microsoft/vcpkg/pull/17335 for this.

[2021-05-31 09:44] #18204 closed

[2021-05-31 10:17] NancyLi1013 commented on #18107
Thanks for your further investigation. Looking forward to your good news.

[2021-05-31 10:52] Neumann-A commented on #17472
Hmm ok. Then probably the `qt.conf` needs to be adjusted to support that or you need to add am explicit mkspec for arm-osx. The default mkspec qt/qmake uses is setup for x86_x64 builds and is set in the qt.conf.

[2021-05-31 11:57] Faaux opened #18208 "VCPKG reads through `subst`, but recommends `subst`."
**Bug**
vcpkg reads through `subst` due to `canonical` calls.

**Environment**
- OS: Windows

**To Reproduce**
Steps to reproduce the behavior:
1. Have a repo with a manifest and vcpkg as a submodule
2. `subst W: %PATH_TO_REPO%`
3. `W:`
4. `vcpkg\vcpkg.exe install`

VCPKG will read through subst and return a path to e.g. `C:\my\project\path\vcpkg`

**Expected behavior**
VCPKG does not read through

[2021-05-31 13:37] StefAviator commented on #13688
@david-aimsun could you kindly try out the PR (18124) and confirm if everything is still the same when you compile on your Mac with M1? Thanks.

[2021-05-31 14:06] treellama commented on #16630
I definitely did not try to build all of boost, just the modules our project needs. I can submit a PR but jamming cxxflags is not ideal, and ordinarily would break overriding of CXXFLAGS, but according to #11132 that is already broken :D

[2021-05-31 14:23] gdiObjects opened #18210 "[llvm[libunwind]:x86-windows-static / llvm[libunwind]:x64-windows-static] build failure"
**Host Environment**
- OS: [Windows 10]
- Compiler: Visual C++ 2019   00435-60000-00000-AA633, Microsoft Visual C++ 2019

**To Reproduce**
Steps to reproduce the behavior:
'.\vcpkg install llvm[libunwind]:x86-windows-static' / .\vcpkg install llvm[libunwind]:x64-windows-static

**Failure logs**
The following packages will be built and installed:
    llvm[clang,compiler-rt,core,default-options,defa

[2021-05-31 16:34] limarev commented on #17472
You were right!

- I found `qt.conf` in `${VCPKG_ROOT}/installed/arm64-osx/tools/qt5/bin`.

`qt.conf`:
[code]
- Then I added `QMAKE_APPLE_DEVICE_ARCHS = arm64` to `${VCPKG_ROOT}/installed/arm64-osx/tools/qt5/mkspecs/max-clang/qmake.conf`, but is has no effect.
`qmake.conf`:
[code]
- Then in `../common/macx.conf` I found out that `QMAKE_APPLE_DEVICE_ARCHS = x86_64` and changed it to `arm64`. Still

[2021-05-31 16:42] stephengtuggy commented on #18162
OK, will do

[2021-05-31 16:49] acse-ds2419 opened #18211 "[WSL2][python3:x64-linux] build failure"
**Host Environment**
- OS: Ubuntu 20.04 LTS through WSL2
- Compiler: -- The C compiler identification is GNU 9.3.0 -- The CXX compiler identification is Clang 10.0.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install boost`

**Failure logs**
[code]
**Additional context**
None

[2021-05-31 16:54] Neumann-A commented on #17472
if you are looking into the `qt.conf` way you might want to search for `qt_release.conf` or `qt_debug.conf`. Those are configured and used by `vcpkg_configure_qmake`.

[2021-05-31 17:03] jgehw commented on #7995
@a0174 can you please have a look at the end of file `C:\Users\<USER>\Desktop\vcpkg\buildtrees\tensorflow-cc\build-x64-windows-dbg-out.log`? There should be an error message, which is the cause. (For some strange reason I don't understand, the `bazel` build tool or the `vcpkg` wrapper exchanges `stdout` and `stderr`, so the error log you provided contains just the notification that something went

[2021-05-31 17:18] stephengtuggy commented on #18162
All right. With Bitdefender temporarily disabled, gdk-pixbuf builds successfully, but gtk itself fails. I guess that would be a separate issue.

Same results with the latest version of vcpkg from master.

[2021-05-31 17:26] stephengtuggy commented on #18162
I created a new branch in my repo for testing this issue: https://github.com/stephengtuggy/Vega-Strike-Engine-Source/tree/gdk-pixbuf-issue

[2021-05-31 18:19] mathisloge commented on #18205
for netssl you will need to install it with the feature flag.
`vcpkg install poco[netssl]`

[2021-05-31 19:48] wrobelda commented on #18188
Only config-err is non-empty, and reads:

[code]

[2021-05-31 19:55] Neumann-A commented on #18188
that will probably help since the error :

means it is missing mkspec files which normally get installed ;)

[2021-05-31 19:57] wrobelda commented on #18188
Yeah, that's what I figured. I had a similar issue before and there's definitely some deficiency somewhere in vcpkg that yields a false-positive port installation status in such scenario.

[2021-05-31 20:19] wrobelda commented on #18188
Yep, reinstalling everything helped. There's definitely a problem with vcpkg, such that it marks incomplete packages as installed successfully.

[2021-05-31 20:19] #18188 closed

[2021-05-31 22:07] shanepowell opened #18214 "[aws-sdk-cpp] update to 1.9.x"
Library name: aws-sdk-cpp

New version number: 1.9.x

Other information that may be useful (release notes, etc...)

[2021-05-31 22:35] akilaln commented on #18113
On Linux, it is failing while trying to build pybind11 with Python2
[code]

[2021-05-31 23:27] limarev opened #18215 "[tesseract:arm64-osx] build failure"
**Host Environment**
- OS: Apple m1 BigSur 11.04
- Compiler: Apple clang version 12.0.5

**To Reproduce**
[code]
**Failure logs**
[code]
**Additional context**
[config-arm64-osx-dbg-err.log](https://github.com/microsoft/vcpkg/files/6572508/config-arm64-osx-dbg-err.log)
[config-arm64-osx-dbg-out.log](https://github.com/microsoft/vcpkg/files/6572509/config-arm64-osx-dbg-out.log)

[2021-06-01 00:04] payentan opened #18216 "[protobuf[core]:x64-windows] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: MSVC 14.11.25503

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install grpc:x64-windows`

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
    grpc[codegen,core]:x64-windows -> 1.37.0#2
  * protobuf[core]:x64-windows -> 3.15.8#1
  * re2[core]:x64-windows -> 2020-10-01
  * upb[core]:x6

[2021-06-01 01:05] sundarsabapathi commented on #18205
I am using vcpkg in manifest mode. We cannot use "vcpkg install" is manifest mode is it right ?

[2021-06-01 01:18] sundarsabapathi commented on #18205
I manually update my poco portfil.cmake in /ports/poco/portfile.cmake  with the below lines
                      - -DENABLE_NETSSL=ON
                      - -DENABLE_CRYPTO=ON
I am using vcpkg in manifest mode while vcpkg installing POCO in manifest mode it always referring the portfile in the GitHub (https://github.com/Microsoft/vcpkg/blob/master/ports/poco/portfile.cmake) it won't consider my

[2021-06-01 01:44] NancyLi1013 commented on #18162
`ninja: fatal: CreateProcess: The parameter is incorrect.`

Seems to be related with Ninja. Please see https://github.com/ninja-build/ninja/issues/1402 and https://github.com/ninja-build/ninja/pull/1637

Can you please check which version of Ninja you used? From above error info, seems the command line is too long. Can you provide the full error info?

[2021-06-01 02:07] JackBoosY commented on #17472
@limarev @Neumann-A Can you please open a PR to fix that?
We are plaining to set `arm64-osx` to official triplet.

[2021-06-01 02:29] JackBoosY commented on #18211
[code]

[2021-06-01 02:33] JackBoosY commented on #18211
Can you please provide the logs in _home/dominic/dev/vcpkg/buildtrees/python3_?

Thanks.

[2021-06-01 05:14] dg0yt commented on #18205
In manifest mode, you need to request the feature for the dependency in the manifest file.
https://github.com/microsoft/vcpkg/blob/master/docs/users/manifests.md

[2021-06-01 06:03] gvanem opened #18217 "Negative elapsed time"
When after doing a very lengthy `vcpkg install qwt:x86-windows --debug` job,
which involves building Qt5 itself, vcpkg exits with this message:
[code]

1 hour 30 minutes is approx. `5 400 000 000 us`. I assume some signed overflow
is going on here to show      `-2 147 483 648 us`.

[2021-06-01 06:47] yzw88 opened #18218 "关于CMakeCache.txt的问题"
When asking a question please also include where you looked for an answer (so we can update the documentation if needed).
你好，请教一个问题，这边的项目使用了vcpkg来构建第三方依赖
win10 的clion远程编译 linux的项目。目前希望 自己在linux平台 手动去执行 cmake，make 去编译项目时，出现了一些错误。
  我的执行命令是：
  cmake -B ./build -S . -DCMAKE_TOOLCHAIN_FILE=/home/yezi/vcpkg/scripts/buildsystems/vcpkg.cmake

CMake Error at /home/devuser1/vcpkg/downloads/tools/cmake-3.20

[2021-06-01 06:48] sundarsabapathi commented on #18205
vcpkg.json
`{
    "name": "cosmos-versions",
    "version": "1.0.0",
    "builtin-baseline": "9d7244f2f6a4f6a34c4e0b3ecbf391323e379a43",
	"dependencies":
	[
	    {
            "name": "poco",
            "features": [ "netssl"]
        }
    ]
}`

I request the feature for the dependency in the manifest file. The following error are thrown while building poco using cmake

`Building package poco[co

[2021-06-01 07:08] NancyLi1013 commented on #18216
Hi @payentan
Thanks for posting this issue.
Can you help provide which version of Visual Studio you used?

`D:\tpe\task\vcpkg\buildtrees\protobuf\src\23fa7edd52-3ba2225d30.clean\src\google\protobuf\repeated_field.cc : fatal error C1126: automatic allocation exceeds 2G`

I cannot reproduce this issue with Visual Studio 2017 on my machine.

[2021-06-01 07:16] PhoebeHui commented on #18205
@sundarsabapathi, could you attach C:\Users\User\cosmos\libs\vcpkg\buildtrees\poco\config-x86-windows-out.log?

[2021-06-01 07:25] JonLiu1993 commented on #16443
Duplicate of #18004

[2021-06-01 07:25] #16443 closed

[2021-06-01 07:27] sundarsabapathi commented on #18205
Hi @PhoebeHui  I attached the output log
[config-x86-windows-out.log](https://github.com/microsoft/vcpkg/files/6574283/config-x86-windows-out.log)

[2021-06-01 07:29] payentan commented on #18216
Hi,

The version of Visual Studio is as follows. Thanks for your help.

Microsoft Visual Studio Community 2017
版本 15.3.5
VisualStudio.15.Release/15.3.5+26730.16
Microsoft .NET Framework
版本 4.8.03752

已安装的版本: Community

Visual Basic 2017   00369-60000-00001-AA905
Microsoft Visual Basic 2017

Visual C# 2017   00369-60000-00001-AA905
Microsoft Visual C# 2017

Visual C++ 2017   00369-60000-00001-AA905

[2021-06-01 07:49] NancyLi1013 commented on #18066
@playgithub

Seems you missed some files in your project sample. There is no sample.rc in TestWxMinimal.zip.

[2021-06-01 07:54] JackBoosY commented on #18217
Known bug.

[2021-06-01 08:04] PhoebeHui commented on #18205
@sundarsabapathi, could you unset '-DENABLE_NETSSL=ON -DENABLE_CRYPTO=ON' in your portfile.cmake, and see if the issue still repro? I tried  ./vcpkg install poco[netssl], and it install successfully for me.

[2021-06-01 08:09] PhoebeHui commented on #18218
@yzw88, what's components of boost do you use? you need link boost in your project.

See https://github.com/microsoft/vcpkg/blob/master/ports/boost/usage

[2021-06-01 08:11] sundarsabapathi commented on #18205
Sorry @PhoebeHui, This time I am not make any change in poco portfile.cmake . I defined through the manifest file only

[code]

Hi @PhoebeHui , What I actually try to do in my project is I want to enable netssl and crypto components in poco portfile.cmake. Because my projects needs netssl and crytpo components. So I manually update my poco portfile.cmake in /ports/poco/portfile.cmake with the belo

[2021-06-01 08:19] PhoebeHui commented on #18205
@sundarsabapathi, you don't need to set them on since when you install the netssl feature, it will enable netssl and crypto, see https://github.com/microsoft/vcpkg/blob/master/ports/poco/portfile.cmake#L30

[2021-06-01 08:24] PhoebeHui commented on #18205
I see,  the problem is openssl requried on non-windows platform, see https://github.com/microsoft/vcpkg/blob/master/ports/poco/vcpkg.json#L31

Failures:
[code]

[2021-06-01 08:26] PhoebeHui commented on #18205
Openssl removed from poco dependency via PR https://github.com/microsoft/vcpkg/pull/16526

[2021-06-01 08:30] sundarsabapathi commented on #18205
Sorry @PhonbeHui, I no need to enable netssl anywhere like this "-DENABLE_NETSSL=ON" is it right ?

[2021-06-01 08:46] sundarsabapathi commented on #18205
Sorry @PhoebeHui , In manifest mode if I execute this command "./vcpkg install poco[netssl]". It print the following error messages

**Error: 'install' requires 0 arguments, but 1 were provided.**. So only enable netssl  components through manifest file

If I run with the below manifests file
[code]

It enable the components while building using cmake '-DENABLE_NETSSL=ON -DENABLE_CRYPTO=ON' .

If

[2021-06-01 09:08] PhoebeHui commented on #18205
Right, installing the feature would enable it, so you need to depend on poco[netssl]. The first one is correct, and you don't need to pass '-DENABLE_NETSSL=ON -DENABLE_CRYPTO=ON' to cmake. The 2 options are in control of the feaure.

As a workaround, you can remove the platform from your port/poco/vcpkg.json, then it will install openssl and this issue should be sloved.

[2021-06-01 09:09] sundarsabapathi commented on #18205
Thanks @PhoebeHui

[2021-06-01 09:19] PhoebeHui commented on #18205
Glad to help!

[2021-06-01 09:19] #18205 closed

[2021-06-01 09:44] PhoebeHui commented on #15000
This issue has been fixed in master, please get latest source and try again.

[2021-06-01 09:44] #15000 closed

[2021-06-01 10:00] PhoebeHui commented on #15861
x265 dosen't support UWP in Upstream, please report an issue to Upstream instead.

[2021-06-01 10:00] #15861 closed

[2021-06-01 10:05] NancyLi1013 commented on #18216
Can you try to update Visual Studio 2017 to the latest version or install the latest version of Visual Studio 2019 to rebuild this?

Can you please also confirm if you used 32 bit or 64 bit computer?

[2021-06-01 10:30] NancyLi1013 commented on #18155
Hi @lukcz

Thanks for posting this issue.
Since you used a custom package to build, the package depends on a NuGet package. Currently, vcpkg only supports the dependencies in these situations:

- The dependent packages are provided by vcpkg.
- The dependent packages are embed in the source codes.
- The dependent packages have been downloaded to your local machine.

For your cases, you can use abov

[2021-06-01 10:38] ghamarian opened #18221 "mpfr build failure"
**Host Environment**
- OS: osx
- Compiler: apple Clang 12.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install mpfr`
[code]

**Additional context**
Add any other context about the problem here, such as what you have already tried to resolve the issue.

It was installed successfully with "Vcpkg package management program version 2020.06.15-unknownhash" version.

[2021-06-01 10:39] PhoebeHui commented on #15858
nvcodec doesn't support uwp, openssl and x264 passed with lastest source, please get latest source and try  './vcpkg install ffmpeg[openssl,x264] --triplet=x64-uwp' again.

[2021-06-01 10:39] #15858 closed

[2021-06-01 10:43] PhoebeHui commented on #16253
The vcpkg path 'C:/Users/prince brahmenia/temp/vcpkg' contains space, please clone vcpkg without space in path and try again.

[2021-06-01 10:43] #16253 closed

[2021-06-01 10:49] PhoebeHui commented on #13075
@JunShuoMing, do you solve the problem finally?

[2021-06-01 10:51] PhoebeHui commented on #18056
@acceleratxr, please reopen this issue and provide us the repro code if it still be a problem for you.

[2021-06-01 10:51] #18056 closed

[2021-06-01 10:54] PhoebeHui commented on #18059
@boffman, please reopen this issue with attaching the full failure logs if the issue persist.

[2021-06-01 10:54] #18059 closed

[2021-06-01 10:56] lukcz commented on #18155
Hi,
well restoring the custom package is one thing, but the second (even more important for me) is the integration of vcpkg with VS Project using the plugin (NuGet package) which is generated after calling:
[code]
In fact this plugin is just NuGet dependency which can be added into the project. Having prior defined additional NuGet package source (pointing to location where command "vcpkg integrat

[2021-06-01 10:57] ghamarian commented on #18221
My final intention is to install cgal, but looks like gmp and mpir have conflicts.

[2021-06-01 11:04] acromarcopolo commented on #18118
done, and also in `../src/480391f31f-4c049f225c/pango/pangofc-fontmap.c` (without the `.clean`) after a first fail.
`./vcpkg install pango --editable`  still fails:
[stdout-x64-osx.log](https://github.com/microsoft/vcpkg/files/6575743/stdout-x64-osx.log)
[package-x64-osx-dbg-out.log](https://github.com/microsoft/vcpkg/files/6575744/package-x64-osx-dbg-out.log)

[2021-06-01 11:17] ghamarian opened #18222 "arrayfire build failure"
**Host Environment**
- OS: OSX
- Compiler: apple clang or llvm clang

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install arrayfire`

**Failure logs**
[code]
**Additional context**
Add any other context about the problem here, such as what you have already tried to resolve the issue.

[2021-06-01 13:03] MFMokbel commented on #17841
Hello,

Any update on this request?

[2021-06-01 14:57] pfaco commented on #14025
This is happening to me with the following setup:
CMake with presets, where CMAKE_TOOLCHAIN_FILE is set to the vcpkg toolchain.
Whenever cmake runs again - either by calling "cmake --preset=x" or by modifying the CMakeLists file -- vcpkg also runs, even if none of the vcpkg files (vcpkg.json and vcpkg_configuration.json) are modified. I noticed that 90% of vcpkg run time is detecting compiler hash

[2021-06-01 15:09] playgithub commented on #18066
The ouput has shown the same problem as I do, see the line below,
[code]
For example, it uses `wxbase31u.lib` instead of `wxbase31ud.lib`, it is the problem.

[2021-06-01 15:10] playgithub commented on #18066
The output has shown the same problem as I do, see the line below,
[code]
For example, it uses `wxbase31u.lib` instead of `wxbase31ud.lib`, it is the problem.

[2021-06-01 17:10] copymark commented on #18066
Having the same problem. My app has \MTd in Debug but it takes the wxWidgets libraries from release that do have \MT as Runtime.

[2021-06-01 17:23] autoantwort commented on #14025
#16920 and #17429 are related

[2021-06-01 18:06] #15029 closed

[2021-06-01 18:07] #18096 closed

[2021-06-01 19:14] #15783 closed

[2021-06-01 20:37] pfaco commented on #16920
Is there any known workaround for this? This is the only downside since our adoption of vcpkg.

[2021-06-01 20:51] ras0219 commented on #16920
For CMake, you can explicitly disable the manifest install step via `-DVCPKG_MANIFEST_INSTALL=OFF` (https://github.com/microsoft/vcpkg/blob/master/docs/users/manifests.md#vcpkg_manifest_install).

As a workaround, could you try:
[code]

This should only run the install when the timestamp changes. If you try this out, please let us know if this workaround solves the problem to your satisfaction :)

[2021-06-01 21:07] XsongyangX opened #18228 "[New Port Request] Flex and bison"
Library name: Flex and bison

Library description: Compiler construction toolchain that builds LALR parsers with given context-free grammars. The parsers are generated in either C or C++.

Source repository URL: https://github.com/lexxmark/winflexbison

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the libra

[2021-06-01 21:10] XsongyangX commented on #18228
Duplicate to an existing issue that was closed before

[2021-06-01 21:10] #18228 closed

[2021-06-01 21:24] sekcheong opened #18229 "vtk build failure"
**Host Environment**
- OS: Windows
- Compiler: VS2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install vtk --triplet=x64-windows --recurse`

**Failure logs**
c:\src\vcpkg>vcpkg install vtk --triplet=x64-windows --recurse
Computing installation plan...
The following packages will be built and installed:
    vtk[core]:x64-windows -> 9.0.1#6
Detecting compiler hash for triplet x64-

[2021-06-01 22:09] pfaco commented on #16920
thanks @ras0219 it solved the problem here.

[2021-06-02 00:38] aggieNick02 opened #18231 "Docs at readthedocs.io seem broken?"
Going to the docs at https://vcpkg.readthedocs.io/ linked to from the github page goes to an unformatted table of contents with lots of broken links. I'm guessing this is known but couldn't find an issue for it recently.

Also, it gets a bit confusing when the docs are in two different places - both on github and readthedocs. Which one is authoritative?

[2021-06-02 01:31] NancyLi1013 commented on #9701
This port has been added to vcpkg via PR #18083. Please update to the latest vcpkg to use this port.

[2021-06-02 01:47] PhoebeHui commented on #18231
@aggieNick02, we would migrate documentation from readthedocs to vcpkg new website https://vcpkg.io/en/index.html which is available to view as a draft! We really appreciate any and all feedback. You can report new issues in https://github.com/vcpkg/vcpkg.github.io/issues.

[2021-06-02 01:53] JonLiu1993 commented on #17841
This pr has encountered some obstacles, I will deal with it

[2021-06-02 02:10] PhoebeHui commented on #17947
@SherryXTChen, do you solve the problem finally?

[2021-06-02 02:12] PhoebeHui commented on #18098
@DanielGibson, does this still be a question for you?

[2021-06-02 02:19] yzw88 commented on #18218
我这边问题已经解决了。a li ga tou

[2021-06-02 02:42] PhoebeHui commented on #4239
@pwm1234, we have improved most of the issue listed here, please report a new issue if these still be a question for you.

1. Yes, see https://github.com/microsoft/vcpkg/blob/master/docs/examples/packaging-github-repos.md, and currently opencv3 upgraded to 3.4.13 in vcpkg.
2. No, currently this is still not support.
3. We have --debug to print some debug information, however it can't replace the b

[2021-06-02 02:42] #4239 closed

[2021-06-02 03:04] EVNII commented on #18086
@JackBoosY I encounter a similar problem as well. But there is no error about `LIB.exe` in the file "build-x64-windows-static-dbg-err.log". The causing might be different. And some log file might be help attached:
[build-x64-windows-dbg-err.log](https://github.com/microsoft/vcpkg/files/6581698/build-x64-windows-dbg-err.log)
[build-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/6

[2021-06-02 03:16] DanielGibson commented on #18098
Oh right, yes it is.

Note that vcpkg is no part of *my* build process - I maintain a Doom3 source port, [dhewm3](https://github.com/dhewm/dhewm3/), and tell people that if they want to build it, they need some libs, including openal-soft, installed. I don't care if they build those libs manually or install them with their Linux/BSD distro package manager or vcpkg on brew.sh or whatever.
Telling t

[2021-06-02 03:36] SherryXTChen commented on #17947
@PhoebeHui yes I did. Thank you for your help!

[2021-06-02 03:36] xanderdunn commented on #17599
@autoantwort @JonLiu1993 When I attempt to link against liboatpp.a 1.2.5 built with vcpkg it fails with the following error:
[code]

"can not be used when making a shared object; recompile with -fPIC"

Does -fPIC need to be added to the port's compiler flags so that it's suitable for inclusion in shared libraries?

[2021-06-02 03:56] playgithub commented on #18198
as in #18066

[2021-06-02 03:56] #18198 closed

[2021-06-02 04:01] TheCelebrimbor opened #18232 "[sqlcipher] build failure x64-windows"
**Host Environment**
- OS: Windows 10
- Compiler: MSVC 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install xxxx`

**Failure logs**
[code]

[2021-06-02 05:40] PhoebeHui commented on #18218
Glad you got the issue solved, thanks for your response!

[2021-06-02 05:40] #18218 closed

[2021-06-02 05:40] PhoebeHui commented on #17947
Glad you got the issue solved, thanks for your response!

[2021-06-02 05:40] #17947 closed

[2021-06-02 05:49] PhoebeHui commented on #18098
@DanielGibson, thanks for your response, I would talk this in our meeting.

[2021-06-02 06:11] 36k-wild-monkey opened #18236 "add command `vcpkg rebuild` and `vcpkg build`"
****

**Is your feature request related to a problem? Please describe.**
Add new features
```vcpkg rebuild xxx:x86-windows``` xxx re-download and compile from the Internet
```vcpkg build xxx:x86-windows```  compile from source code modified by local buildtrees

**Proposed solution**
A clear and concise description of what you want to happen.
In the past, after modifying the source code of the buil

[2021-06-02 06:13] Ace314159 opened #18237 "[ompl] Cannot find lib files when using CMake"
**Describe the bug**
After doing `find_package` and successfully finding ompl, linking fails because it can't find `/lib/boost_serialization-vc140-mt.lib`

**Environment**
- OS: Windows 10
- Compiler: MSVC 2019

**To Reproduce**
Steps to reproduce the behavior:
1. `./vcpkg install ompl --triplet=x64-windows`
2. `find_package(ompl REQUIRED)`

**Expected behavior**
I expect to be able to link the li

[2021-06-02 06:27] PhoebeHui commented on #18236
@36k-wild-monkey, you can use the  './vcpkg build xxx:x86-windows --editable' to verify the local changes, could you try it and it should solve your problem.

[2021-06-02 06:27] NancyLi1013 commented on #18229
Hi @sekcheong

Thanks for posting this issue. Could you please help provide the error log from _C:\src\vcpkg\buildtrees\vtk\install-x64-windows-dbg-out.log_?

[2021-06-02 06:28] JackBoosY commented on #18222
Can you please provide failre log _/Users/amir/projects/github-code/alaki/vcpkg/buildtrees/arrayfire/install-x64-osx-dbg-err.log_?

Thanks.

[2021-06-02 06:32] 36k-wild-monkey commented on #18236
[code]

[2021-06-02 06:42] PhoebeHui commented on #18236
Sorry for the mistake, please use './vcpkg install xxx:x86-windows --editable' instead.

[2021-06-02 06:48] NancyLi1013 commented on #18155
@strega-nil Do you have any ideas about this issue?

[2021-06-02 07:09] 36k-wild-monkey commented on #18236
Thank you, it should be fine, it is being compiled

[2021-06-02 07:25] NancyLi1013 commented on #17703
[code]
*.dll files should be in /bin or /debug/bin folder. So please move these files to /bin or /debug/bin folder.
[code]

[code]
For this error, we can remove these directories if there are no any libs generated.
[code]

[2021-06-02 07:28] ghamarian commented on #18222
[config-x64-osx-dbg-err.log](https://github.com/microsoft/vcpkg/files/6582770/config-x64-osx-dbg-err.log)
[config-x64-osx-dbg-out.log](https://github.com/microsoft/vcpkg/files/6582771/config-x64-osx-dbg-out.log)
[config-x64-osx-rel-err.log](https://github.com/microsoft/vcpkg/files/6582772/config-x64-osx-rel-err.log)
[config-x64-osx-rel-out.log](https://github.com/microsoft/vcpkg/files/6582773/conf

[2021-06-02 07:33] ghamarian commented on #18221
[autoconf-x64-osx-err.log](https://github.com/microsoft/vcpkg/files/6582820/autoconf-x64-osx-err.log)
[autoconf-x64-osx-out.log](https://github.com/microsoft/vcpkg/files/6582821/autoconf-x64-osx-out.log)

[2021-06-02 08:10] JackBoosY commented on #18118
[code]
Try to use compiler option `c11`.

[2021-06-02 08:17] JackBoosY commented on #18232
[code]

In portfile.cmake:
[code]
That's because `TCLSH_CMD` is empty, which means _E:/CLIBS/vcpkg-master/installed/x64-windows/tools/tcl/bin/tclsh.exe_ doesn't exist.

Can you double confirm that?

And please close your anti-virus, rebuild tcl then build sqlcipher again.

Thanks.

[2021-06-02 08:20] payentan commented on #18216
Hi,
With Visual Studio 2019, I can build and install grpc now. Thanks.

[2021-06-02 08:20] #18216 closed

[2021-06-02 09:04] JackBoosY commented on #18221
Yes, mpir conflicts with gmp.

[2021-06-02 09:05] JonLiu1993 commented on #18221
@ghamarian ,Thanks for posting this issue.
This is duplicated with issue #243 .
You have to install autoconf-archive in order to fix this.

[2021-06-02 09:07] JackBoosY commented on #18222
`MKL_ThreadingLibrary_LINK_LIBRARY-NOTFOUND`

Since I can't install intel-mkl on my OSX machine, this issue can't be resolved temporary.

[2021-06-02 09:23] MehdiChinoune opened #18240 "[gsl] update to 2.7"
Library name: GNU Scientific Library

New version number: 2.7

Other information that may be useful (release notes, etc...)

[2021-06-02 09:30] ghamarian commented on #18221
Thanks, @JonLiu1993  `brew install autoconf-archive` resolved the issue.

[2021-06-02 09:35] #18221 closed

[2021-06-02 10:19] bmanga commented on #17750
I have noticed that emsdk has its own version is TestBigEndian.cmake. Should emscripten cmake files be chosen over cmake's default ones?

[2021-06-02 10:20] tly000 commented on #17211
for me zlib1.dll was missing, i copied it into the build folder to make sure its found...

[2021-06-02 10:30] kafeg commented on #17472
@JackBoosY there are a couple of very important related issues in port depends:
- https://github.com/microsoft/vcpkg/issues/15741
- `harfbuzz` still builds for x86_64 and this change doesn't help: https://github.com/microsoft/vcpkg/pull/17845

[2021-06-02 10:38] Osyotr commented on #9035
Bump

[2021-06-02 15:23] Fedr commented on #17061
Yes, it would be nice to get an answer.

[2021-06-02 16:57] HappySeaFox commented on #9741
#18244

[2021-06-02 17:31] aggieNick02 commented on #18231
Thanks for the info. The vcpkg.io page looks really nice!

Should the link from the main github page to https://vcpkg.readthedocs.io/ be removed since the readthedocs page seems broken? Should the readthedocs page be removed?

[2021-06-02 17:38] RDru opened #18245 ".\bootstrap-vcpkg.bat "Access is denied.""
**Describe the bug**
[code]

**Environment**
- OS: Windows 10 Pro 20H2
- Compiler: ?

**To Reproduce**

**Expected behavior**

**Failure logs**

**Additional context**
Tried both PowerShell and cmd run as administrator. I have not encountered any other network issue. Tried disabling firewall. Restarted the PC with firewall disable. Nothing worked yet.

[2021-06-02 17:58] jgehw commented on #17578
I think this issue can be closed now. First error is fixed via PR #18111 and second error needn't be address via vcpkg (was autorun misconfiguration on user machine).

[2021-06-02 18:20] timmeh87 opened #18247 "[matio (x64-linux)] build failure"
**Host Environment**
Windows10 20h2 / WSL2 / Ubuntu-18.04 (triplet = x64-linux)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install matio`

**Failure logs**

-Please attach any additional failure logs mentioned in the console output.

**Additional context**
Hello, it appears that the matio cmake build is totally broken on linux. During compilation, a header file directly complains

[2021-06-02 20:36] #17183 closed

[2021-06-02 20:37] 1a1a11a opened #18249 "error in using fbthrift"
I have installed fbthrift, but when I use it I got the following error

[code]

I don't find a cmake file for fbthrift, can you help me?

I have tried on macOSX, ubuntu18 and they all have the same problem.

[2021-06-02 20:42] #18164 closed

[2021-06-02 20:42] #17996 closed

[2021-06-02 21:29] timmeh87 commented on #18229
It seems you have filled up your drive, this is not a problem with VTK persay, other than VTK is very large

 fatal error C1085: Cannot write compiler generated file: 'C:\src\vcpkg\buildtrees\vtk\x64-windows-dbg\Common\ExecutionModel\CMakeFiles\CommonExecutionModel.dir\vtkSphereTree.cxx.obj': No space left on device

[2021-06-02 22:38] nlogozzo opened #18250 "[New Port Request] aegis.cpp"
Library name: aegis.cpp

Library description: Discord C++ library for interfacing with the API.

Source repository URL: https://github.com/zeroxs/aegis.cpp

Anything else that is useful to know when adding (such as optional features the library may have that should be included):
[code]

[2021-06-03 00:42] theblackwidower commented on #18076
Uh... possibly. Though I didn't actually tell it which compilers to use, I think it just auto-found them. I didn't even realize it was using a compiler on my system. I guess I should've realized that.

[2021-06-03 00:54] strega-nil-ms commented on #18086
I'll take a look at this tomorrow; I need access to a windows machine and I'm not at home right now.

[2021-06-03 01:49] NancyLi1013 commented on #17183
@Fedr
Please update to the latest vcpkg to rebuild `openssl`. `Blowfish `has been restored on Unix.

[2021-06-03 02:08] NancyLi1013 commented on #18229
@sekcheong Please free up some space on your machine and then rebuild this port.
@timmeh87 thanks for your help to post the error.

[2021-06-03 02:20] PhoebeHui commented on #18245
@RDru, does this issue repro when you launch PowerShell or cmd as administrator?

[2021-06-03 02:32] PhoebeHui commented on #9035
@Osyotr, could you create a new issue for your problem? it's a different issue with original one.

[2021-06-03 02:34] JonLiu1993 commented on #17599
@xanderdunn ,Have you tried adding -fPIC to the port's compiler flag? I investigated your idea is feasible

[2021-06-03 02:36] JackBoosY commented on #17578
We haven't been able to repro this; if more information comes up, or this issue appears again, please reopen.

[2021-06-03 02:36] #17578 closed

[2021-06-03 02:40] JackBoosY commented on #18247
Should add `#include <stdint.h>`.

[2021-06-03 02:47] JackBoosY commented on #18247
Mailio's cmake system has not been replaced. portfile.cmake is just to call rather than replace the entire cmake system. The contributor who added this port to vcpkg is not necessarily the user who uses the port or its author, so it is normal that some features are missing or have bugs.

We require all dependencies of the port to use vcpkg as much as possible, so sometimes we have to modify the cm

[2021-06-03 02:49] NancyLi1013 commented on #17759
@Coderx7
Sorry for the late response. Seems the problem has been fixed via #17230, which is related with `c-ares`. Can you try to update to the latest vcpkg to rebuild this? Also please remove c-ares:x64-windows-static first, then rebuild it. Or you can try to build drogon in a new vcpkg repo.

[code]

[2021-06-03 03:19] qqblack commented on #10221
But when I use `vcpkg install boost:x64-windows-static-md` (or `vcpkg install boost  --triplet=x64-windows-static-md`), it only changes the output directory. The `.lib` file still is `*-mt.lib`

<img width="561" alt="question1" src="https://user-images.githubusercontent.com/25791058/120581437-662a8f80-c45d-11eb-8d10-dabfaf9ce8ea.png">

[2021-06-03 03:28] qqblack opened #18255 "[Question]Boost RuntimeLibrary missmatch"
But when I use `vcpkg install boost:x64-windows-static-md` (or `vcpkg install boost  --triplet=x64-windows-static-md`), it only changes the output directory. The `.lib` file still is `*-mt.lib`. Why?how to solve it?

<img width="561" alt="question1" src="https://user-images.githubusercontent.com/25791058/120581437-662a8f80-c45d-11eb-8d10-dabfaf9ce8ea.png">

_Originally posted by @qqblack in https:

[2021-06-03 03:30] qqblack commented on #18255
The problem is same with [issue#10221](https://github.com/microsoft/vcpkg/issues/10221), which has been closed

But I cannot solve it as the instruction

[2021-06-03 03:51] sundarsabapathi opened #18256 "How do I disable NETSSL_WIN in poco portfile?"
Hi @JackBoosY, I followed your below suggestion

You should modify ports/poco/portfile.cmake line 28-35 from:

[code]
to:

[code]
To solve this issue.
And since overlay-port doesn't support custom version, I think you should fork vcpkg and commit this to your branch, set the builtin-baseline to your commit.

I fork vcpkg and commit the changes to my branch and after merge those changes in to maste

[2021-06-03 04:05] sundarsabapathi commented on #18256
Hi @JackBoosY, I suggest turning off the option of ENABLE_NETSSL_WIN，in poco\portfile.cmake by default. Because like my case any of the user can use both openssl and netssl from poco then they also face my problem.

[2021-06-03 04:33] stephengtuggy commented on #18162
@NancyLi1013 Thanks for the links.

I believe I am using Ninja version 1.10.2, but I will double check. I will also attach the full logs here when I get time.

Thanks

[2021-06-03 04:44] longnguyen2004 commented on #18076
It'll use whatever it finds on PATH, so make sure you have the correct one.

[2021-06-03 05:02] netpoetica commented on #1681
Is there absolutely no way to say `vcpkg install mylib 1.0.0`, is that not a thing that vcpkg can do? I cannot find any documentation about this web wide

[2021-06-03 05:58] meastp opened #18257 "VCPKG_FORCE_DOWNLOAD_BINARIES to be able to share binarycaching artifacts between dev machine and CI"
I'm using binarycaching to share binaries between my dev machine and CI (Azure Microsoft-Hosted Agent). As I do not control the exact versions in CI, I would like to be able to force vcpkg to download and use it's own downloaded versions of CMake and PowerShell, because they contribute to the calculated abi hash for binary packages, and even a difference in patch versions disables shareing between

[2021-06-03 06:13] JackBoosY commented on #18256
This also cancels the user's permission to use winssl.

[2021-06-03 06:16] NancyLi1013 commented on #18249
Hi @1a1a11a

Thanks for posting this issue. I was blocked to install `fbthrift `on all platforms.

Can you please help provide the files listed in _share/fbthrift_ folder? Please also provide the usage of `fbthrift `you used in your project. Such as CMakeLists.txt.

Thanks.

[2021-06-03 06:20] sundarsabapathi commented on #18256
Hi @JackBoosY, Any other alternative way to disable NETSSL_WIN.

[2021-06-03 06:25] JackBoosY commented on #18256
You should remove line 30 too:
[code]

[2021-06-03 06:47] sundarsabapathi commented on #18256
Sorry @JackBoosY still same problem. I fork vcpkg and commit the changes to my branch and after merge those changes in to master and use my latest commit ID as builtin-baseline.

My changes are present in the file ports/poco/portfile.cmake. But while it building poco using cmake it refers the portfile in this location "vcpkg\buildtrees\versioning\versions\poco\e9c709300900158cdfcad75965e85b04413c8

[2021-06-03 06:48] JackBoosY commented on #18256
@sundarsabapathi  Did you update the port-version in `CONTROL` or `vcpkg.json` them use `./vcpkg x-add-version poco` and commit changes first?

[2021-06-03 06:54] PhoebeHui commented on #18231
Thanks for pointing out this! I have submitted a PR to update it.

[2021-06-03 07:03] PhoebeHui commented on #18255
@qqblack, could you attach your failure logs?

[2021-06-03 07:11] sundarsabapathi commented on #18256
Sorry @JackBoosY , I forgot to update port-version . Now this portfile "vcpkg\buildtrees\versioning\versions\poco\e9c709300900158cdfcad75965e85b04413c8d5b\portfile.cmake" also updated. I have one doubt now I followed your suggestion to fork  vcpkg and commit the changes  and use my latest commit ID as builtin-baseline. The repository microsoft/vcpkg is updating every day then how I  update my loca

[2021-06-03 07:32] PhoebeHui commented on #18211
@acse-ds2419, I can't repro this issue with Ubuntu 20.04  through WSL, it built successfully for me, I suspect it would be AV causing the files to be temporarily unavailable. Does this issue repro after you rebuild the project?

[2021-06-03 07:42] JackBoosY commented on #18256
@sundarsabapathi  There is currently no good solution, I think the only way is to reset the changes, merge to master and re-make the changes.

[2021-06-03 07:45] PhoebeHui commented on #11110
@jiayuehua, does this still be a problem for you, I can't rero this issue with vcpkg latest source.

[2021-06-03 07:54] PhoebeHui commented on #15450
@remz1337, do you solve the issue finally?

[2021-06-03 08:01] sundarsabapathi commented on #18256
Thanks @JackBoosY , After updated the port-version it works as expected.

[2021-06-03 08:24] dg0yt commented on #18231
But docs at vcpkg.io are outdated as well.

[2021-06-03 08:25] #18256 closed

[2021-06-03 08:39] gvanem commented on #18217
I forgot to say I built `vcpkg` for 32-bit. That is probably related (the `sizeof(int)`)?

[2021-06-03 09:02] NancyLi1013 commented on #18249
After upgrading gcc version from 10.1.0 to 10.3.0, internal compiler error disappeared. See https://gcc.gnu.org/bugzilla/show_bug.cgi?id=95579

[code]
Now I can build `fbthrift ` successfully on Ubuntu 18.04 with gcc 10.3.

Confirmed this is bug for fbthrift. I will look into this and try to fix it soon.

[2021-06-03 09:09] JackBoosY commented on #18257
vcpkg only allows downloading tools and not generated binaries.
Is this what you want?

[2021-06-03 09:11] JackBoosY commented on #17061
For Visual Studio, there is no way to solve your question.
For cmake, you should implement find_library manually.

I don't know why you need to do this.

[2021-06-03 09:13] JackBoosY commented on #18217
@gvanem
[code]
[code]

[2021-06-03 09:44] dg0yt commented on #17061
@JackBoosY On Linux systems, it is fairly common to build projects in debug mode but link to release versions of 3rd-party components (unless you really want to debug into a particular component). That's probably the reason why it is soooooooo alien to vcpkg newbies that it builds both release and debug variants, significantly increasing build time and disk space. I would even say it is a barrier

[2021-06-03 09:58] JackBoosY commented on #17061
@ras0219 @ras0219-msft what do you think about this?

[2021-06-03 10:01] soroshsabz commented on #5120
related to https://github.com/dotnet/sdk/issues/18053#issue-910300340

[2021-06-03 10:02] sandercox commented on #18014
It's been a while when I was working with it but I don't think you can include files from the triplet files. Because I wanted these changes for all our platforms I was trying to combine the checks into a single file and include that from the triplet files.

Didn't get that to work back then but things might have changed since.

[2021-06-03 10:05] Fedr commented on #17061
Agree with @dg0yt . This was the primary reason of asking this question for Linux.

On Windows one can try this way:
![image](https://user-images.githubusercontent.com/3136125/120627101-0091cf80-c46c-11eb-9537-67296711883e.png)
But it is necessary to override macro ```_ITERATOR_DEBUG_LEVEL=0``` and still one can get errors from static library linking:
[code]

[2021-06-03 10:12] PhoebeHui commented on #18231
@dg0yt, we already have issue https://github.com/vcpkg/vcpkg.github.io/issues/48 to track the issue.

[2021-06-03 10:18] soroshsabz commented on #5120
related to https://github.com/microsoft/winget-cli/issues/674#issue-776023590

[2021-06-03 10:47] dg0yt commented on #18231
@PhoebeHui Sure. What is missing is some indication when this will be dealt with.

[2021-06-03 10:55] #18245 closed

[2021-06-03 10:57] RDru commented on #18245
Comodo Internet Security auto-containment was causing the issue.

[2021-06-03 11:47] soroshsabz commented on #5120
related to https://github.com/microsoft/winget-cli/issues/221#issue-621305863

[2021-06-03 12:02] procedural commented on #7827
Here's a Windows 10-themed 32-bit GTK program I wrote that you can use to see how and if the styling works for you: https://github.com/procedural/magicacsg_copy_layers_program

[2021-06-03 13:27] remz1337 commented on #15450
Unfortunately, no. I just tested with a fresh clone of the repo but still get the same error. I'm thinking it could be a permission issue since it's a shared compute cluster where I'm only a user and it happens for a few packages. Probably something to do with the install script of those specific packages (or a dependency).

Anyway, I know this is a very niche issue so I don't mind if you want to

[2021-06-03 16:47] meastp commented on #18257
It's the tools CMake and PowerShell specifically, yes. Those tools are part of the abi hash used in binary caching.

[2021-06-03 18:00] xandayn opened #18259 "[raylib] msys2/mingw64 build failure"
**Host Environment**
- OS: Windows (MinGW64)
- Compiler: gcc (Rev2, Built by MSYS2 project) 10.3.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install raylib:x64-mingw-dynamic`

**Failure logs**

C:/msys64/mingw64/bin/../lib/gcc/x86_64-w64-mingw32/10.3.0/../../../../x86_64-w64-mingw32/bin/ld.exe: cannot find -lubsan
collect2.exe: error: ld returned 1 exit status
ninja: build stoppe

[2021-06-03 18:59] aggieNick02 commented on #18231
Great, thanks so much!

[2021-06-03 19:43] #18191 closed

[2021-06-03 19:43] #18231 closed

[2021-06-03 19:55] le-michael opened #18261 "[glad] Installing glad[gl-api-46] gives header for OpenGL version1.0"
**Describe the bug**
I tried installing glad through vcpkg and was targeting `gl-api-46` on the features list. When I imported it into my project the header was only providing functions for OpenGL version 1.0. Looking at the header file that was installed by vcpkg I saw that it was version 1.0 when I was expecting to see version 4.6.

**Environment**
- OS: Windows
- Compiler: Visual Studio Communi

[2021-06-03 20:18] iharsh234 commented on #3968
I encountered same issue recently, I realized proxy setting were automatically applied on ethernet/Wifi connections in my windows setting, switching to another network worked for me.

[2021-06-03 23:08] jleaders commented on #16944
@upupming  Right, but set it to what value? No other package managers seem to require this, pip, cargo, bower, npm etc

[2021-06-03 23:50] friendlyanon opened #18262 "VCPKG_MANIFEST_FEATURES should skip empty list elements"
****

**Is your feature request related to a problem? Please describe.**
`VCPKG_MANIFEST_FEATURES` skipping empty list elements would improve usability in CI matrices where a feature comes from the `matrix` context and could be empty.

**Proposed solution**
The loop in `vcpkg.cmake` iterating over `VCPKG_MANIFEST_FEATURES` could only conditionally append the `--x-feature` arguments using an `if(NO

[2021-06-04 00:22] qqblack commented on #18255
The output of command `vcpkg install boost-filesystem:x86-windows-static-md`

The contents of `vcpkg_root\triplets\community\x86-windows-static-md.cmake` is

The `vcpkg_root\installed\x86-windows-static-md\lib“ directory is like below
![image](https://user-images.githubusercontent.com/25791058/120727677-bb25de80-c50d-11eb-80cd-08a08039e707.png)

I hope that it can be installed in `vcpkg_root\insta

[2021-06-04 00:30] qqblack commented on #18255
I don't want to change `triplet` or `library runtime` configure of my current project, which can influence some other libaries that used in this project.

I just want to change the libraries installed with vcpkg.

[2021-06-04 00:46] qqblack commented on #18255
Here is a demo to reproduce the problem

`VS project`, `C++ console`, the C++ code is as below
[code]

When the `triplet` of the project is `x86-windows`, everything is fine. But when you set `triplet` as `x86-windows-static`

![image](https://user-images.githubusercontent.com/25791058/120729127-f249bf00-c510-11eb-8068-d26a811ec3ed.png)

There would be many errors like below:

I don't want to chan

[2021-06-04 01:07] ankurverma85 commented on #18211
i can repro this on fedora 34 with GCC11 libstdc++11
The bin directory did not exist on my machine

[ankurv@trainwavelinux vcpkg.test.20210601]$ ./vcpkg install python3
Computing installation plan...
The following packages will be built and installed:
    python3[core]:x64-linux -> 3.9.5
Detecting compiler hash for triplet x64-linux...
Could not locate cached archive: /home/ankurv/.cache/vcpkg/arc

[2021-06-04 01:11] ankurverma85 commented on #18211
Here's the logs with --debug

[DEBUG] Feature flag 'binarycaching' unset
[DEBUG] Feature flag 'manifests' unset
[DEBUG] Feature flag 'compilertracking' unset
[DEBUG] Feature flag 'registries' unset
[DEBUG] Feature flag 'versions' unset
[DEBUG] BuiltinRegistry initialized with: ""
[DEBUG] Using vcpkg-root: /home/ankurv/vcpkg.test.20210601
[DEBUG] Using installed-root: /home/ankurv/vcpkg.test.202106

[2021-06-04 01:15] ankurverma85 commented on #18211
Heres' the directory contents of
packages/python3_x64-linux/tools

.:
python3

./python3:
bin  debug

./python3/bin:
2to3-3.9  idle3.9  pydoc3.9  python3.9  python3.9-config

./python3/debug:
bin

./python3/debug/bin:
2to3-3.9  idle3.9  pydoc3.9  python3.9  python3.9d  python3.9d-config

[2021-06-04 01:27] 1a1a11a commented on #18249
Hi @NancyLi1013,
    Thank you for getting back quickly! I was using gcc 10.3.0 so installation is fine, but I cannot find it with cmake, a simplified example is shown below. And there is no `share/` directory under vcpkg, should I check other places?

[code]

[2021-06-04 01:29] ankurverma85 commented on #18211
The following fix works BTW .

diff --git a/ports/python3/portfile.cmake b/ports/python3/portfile.cmake
index 3130bbfee..4ee2b825d 100644
--- a/ports/python3/portfile.cmake
+++ b/ports/python3/portfile.cmake
@@ -172,7 +172,6 @@ else()
     )
     vcpkg_install_make(ADD_BIN_TO_PATH INSTALL_TARGET altinstall)

-    file(COPY "${CURRENT_PACKAGES_DIR}/bin/" DESTINATION "${CURRENT_PACKAGES_DIR}/tools/$

[2021-06-04 02:25] NancyLi1013 commented on #18249
Thanks for your reply @1a1a11a.

It's unnecessary to check again. The *.cmake files are installed in _vcpkg_root_path/installed/share/${PORT}/_ folder. I have figured this out. So you don't need to provide the above information now.

I have submitted a PR #18264 to fix this issue. Can you please help test if this can work fine for you?

[2021-06-04 02:28] NancyLi1013 commented on #16982
Thanks for posting this request and also for your PR @ianichitei.
Closing this issue for now since this port has been added to vcpkg.

[2021-06-04 02:28] #16982 closed

[2021-06-04 02:53] 1a1a11a commented on #18249
Thank you for the quick fix!
On Ubuntu18.04 with gcc 10.3.0 and gcc 7.5.0, I am able to compile and find the library in cmake.
However, I am not able to compile on MacOSX (I can compile previously).

[code]

The detailed error attached
[code]

[2021-06-04 03:01] NancyLi1013 commented on #18249
Thanks for your instant response. I was blocked by the installation of `folly` on macOS.

[code]

So I'm not sure the result on my machine. Do you use the same project with Linux? Is there something in .cpp?

[2021-06-04 04:01] 1a1a11a commented on #18249
(after some re-tests) I am able to install `folly` on macOSX (same config as above), after a few trials, I am able to install fbthrift now.
I have taken a look of changed file, but with my limited knowledge of cmake, I don't see what could cause this. :(
In conclusion, the patch works! Thank you!

An irrelevant questions, the package from vcpkg is a little bit outdated and the repo I am compiling

[2021-06-04 05:49] NancyLi1013 commented on #18249
There are two ways to install a newer version.

-  You can open a new issue to post the package that you want to update in vcpkg.
- If possible, you can submit a PR to update the package to the new version.

[2021-06-04 05:57] m-kuhn commented on #9068
Would it help to build gdal through cmake, either by including it here or upstream?

CMakeLists exist https://github.com/miurahr/cmake4gdal (I don't know their quality)
An upstream issue exists https://github.com/OSGeo/gdal/issues/3234

[2021-06-04 06:06] dg0yt commented on #9068
@m-kuhn AFAICT this is all too fragile, in particlar if you want to pick gdal updates quickly. For the full history, there is also https://github.com/OSGeo/gdal/issues/664, and it references https://trac.osgeo.org/gdal/ticket/7080.

It is not too hard to build gdal cross-platform with autotools ... if you get the right configuration details from the dependencies.

[2021-06-04 06:21] m-kuhn commented on #9068
Thanks for the context, I wasn't aware of the trac and closed gh tickets. I'm very familiar with cross comipiling gdal. Not so much with the dependency discovery of vcpkg.

[2021-06-04 07:04] PhoebeHui commented on #15450
@remz1337, thanks for your response! It looks a permission issue and I don't think vcpkg could do something now, closing this issue now.

[2021-06-04 07:04] #15450 closed

[2021-06-04 07:18] NancyLi1013 commented on #18261
Hi @le-michael

Thanks for posting this issue.

I checked `include\glad\glad.h` on my local and found `APIs: gl=4.6`.

[code]
Have you used the latest vcpkg to build this?

[2021-06-04 08:29] qiuyudu commented on #17660
@PhoebeHui Thanks for your contribution. Sorry for my late reply.
I tried the steps you gave, the problem still perssist, but this time i noticed that my antivirus software Bitdenfender has removed the boost_math_tr1f-vc142-mt-x32-1_75.dll. I guess this must be the reason.

[2021-06-04 08:52] PhoebeHui commented on #18255
@qqblack, no matter x64-windows or x64-windows-static or x64-windows-static-md used, the libs names always changed with '-vc140-mt.lib'. See https://github.com/microsoft/vcpkg/blob/master/ports/boost-modular-build-helper/boost-modular-build.cmake#L38

So the thing here is the library runtime in vcpkg installed ports and your project. You need set the host triplet to x86-windows-static

![image](ht

[2021-06-04 09:05] jiayuehua commented on #11110
Work fine now.but now I am using a new computer and update vs regularly. I don't use my old computer and old vs version any more, so I can't reproduce it.

[2021-06-04 09:24] PhoebeHui commented on #17660
Yes, that's the common reason which may cause this issue, closing antivirus software should not block this port. thanks for your response!

[2021-06-04 09:24] #17660 closed

[2021-06-04 09:25] PhoebeHui commented on #11110
@jiayuehua, glad it works for you now, thanks for your response!

[2021-06-04 09:25] #11110 closed

[2021-06-04 10:22] PhoebeHui commented on #12862
@davidhunter22, does this still be a question for you? Currently we have docs related to versioning feature. And the vcpkg-tool has its own release process https://github.com/microsoft/vcpkg-tool/releases.

Here is docs related versioning feature:
https://github.com/microsoft/vcpkg/blob/master/docs/specifications/versioning.md
https://github.com/microsoft/vcpkg/blob/master/docs/users/versioning.im

[2021-06-04 10:41] andrusenko-ag opened #18266 "[grpc] no grpc++_reflection lib x64-windows-static"
**Describe the bug**
Building grpc for x64-windows-static triplet I found that there is no grpc++_reflection library, it only exists in grpc_x64-windows.
You can find gRPC with find_package() but can not link grpc++_reflection

**Environment**
- OS: Windows 10
- Compiler: MSVC 2019

**To Reproduce**
find_package(gRPC CONFIG REQUIRED)message(STATUS "Using gRPC ${gRPC_VERSION}")target_link_libraries

[2021-06-04 10:43] Osyotr commented on #18151
Hit me today with:
[code]

[2021-06-04 12:38] primemb opened #18267 "how to install cpr:x64-windows-static-md"
i installed cpr like this :
`.\vcpkg.exe install cpr:x64-windows-static-md`

this is my current packages :

[code]

and this my current vcpkg config :
![image](https://user-images.githubusercontent.com/3611284/120801630-a7529a80-c556-11eb-9dbb-2e519fd25b09.png)

but when I try to build it I get LNK2001 error  :

[code]

seems it looking for ibcurl.lib in my project folder instead of vckpg folders.

[2021-06-04 12:39] le-michael commented on #18261
Running `.\vcpkg.exe  version` I get
`Vcpkg package management program version 2021-01-13-d67989bce1043b98092ac45996a8230a059a2d7e`

[2021-06-04 12:57] hksdpc250 commented on #17312
It seems like this problem is solved by upstream, but only in the master branch just now.

Can we just apply this patch for arm64 before it release the boost 1.77?

[2021-06-04 13:47] qqblack commented on #18255
I changed the `Use static Libraries`, but it doesn't help.

![image](https://user-images.githubusercontent.com/25791058/120810825-f3fd9c00-c57d-11eb-9972-54c0941de67f.png)

I also changed the file `vcpkg_root/ports/boost-modular-build-helper/boost-modular-build.cmake` as below, it doesn't change anything neither.

![image](https://user-images.githubusercontent.com/25791058/120811096-345d1a00-c57e-

[2021-06-04 14:11] dg0yt opened #18268 "vcpkg-tool stumbles over outdated `vcpkg-lock.json`"
**Describe the bug**
While setting up local git registries from scratch, I run twice into the issue that vcpkg would refuse to install the newest local port with:
[code]

- In both cases, I really verified that the git registry is in a valid state.
- The SHA1 in the output was not an ancestor of the current HEAD, but represented an earlier state which still existed in the git repo.

I traced vcpkg

[2021-06-04 18:02] BenKey opened #18270 "[gettext] build failure"
[gettext] build failure

# Host Environment

- **OS:** Windows 10 Pro Version 21H1 build 19043.1023 with Windows Feature Experience Pack 120.2212.2020.0
- **Compiler:** Microsoft Visual Studio Community 2019 Version 16.10.0

# To Reproduce

Steps to reproduce the behavior:

[code]

# Failure logs

[code]

- [build-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/6600408/build-x64-

[2021-06-04 19:42] zcream commented on #17924
@PhoebeHui once I have frozen vcpkg, is there a way to update individual packages only ?
For example curl is at 7.77 at github but I am at 7.73
I only want to update curl and leave everything else untouched.

[2021-06-05 00:09] SeanFarrow commented on #17330
@PhoebeHui, Any ideas when this could be merged?
Thanks,
Sean.

[2021-06-05 01:15] luizfernandonb opened #18275 "vcpkg downloading MinGW 32bit on a 64bit system"
**Describe the bug**
I installed the `libwebsockets` library and when it came to installing the `pthread` library, vcpkg downloaded a 32-bit (i686) version of MinGW, so I set my VCPKG_DEFAULT_TRIPLET to 64-bit

**Environment**
- OS: Windows 10 21H1
- Compiler: Idk

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install libwebsockets
2. See vcpkg log

**Expected behavior**
MinGW to be

[2021-06-05 02:06] ras0219-msft commented on #18275
This is by design because the x86 version of MSYS2 will work on all windows systems (x86, x64, and arm64) instead of needing to separately test and evaluate the "native" versions. These packages are only used during the build process, so they are not affected by your target triplet.

Thanks for posting this issue!

[2021-06-05 02:07] ras0219-msft commented on #18268
Thanks for the bug report!

We should definitely be catching and retrying in that context.

[2021-06-05 02:09] ras0219-msft commented on #18257
Yes, we need a feature like this.

[2021-06-05 03:18] AaronVanCuren opened #18276 "libiconv:x64-windows build failure"
**Host Environment**
- OS: Windows
- Compiler: MINGW64 CMake

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install cairo --triplet x64-windows`

**Failure logs**
Error: Building package libiconv:x64-windows failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `.\vcpkg update`, then
submit an issue at https://github.com/Microsoft/vcpkg/issues including:
  Pac

[2021-06-05 03:47] luizfernandonb commented on #18275
Will the use of MinGW i686 generate an x86 library or does it not influence? Because if it does, it might be a mistake to use only the x86 version of MinGW

[2021-06-05 04:37] dg0yt commented on #18275
IIRC only `pkg-config` is always downloaded in 32 bit. As long as it is not added to the `PATH`, this seems to be work well enough, at least until either the pkg-config or pkgconf ports are merged and used.

[2021-06-05 04:43] playgithub commented on #18066
@NancyLi1013
2 weeks for the bug, will it be solved?

[2021-06-05 07:00] PJMonty opened #18280 "[New Port Request] wxwidgets 3.15"
Library name: wxwidgets 3.15

Library description: Cross-Platform GUI Library

Source repository URL: https://github.com/wxWidgets/wxWidgets

Project homepage (if different from the source repository): https://www.wxwidgets.org/

Anything else that is useful to know when adding (such as optional features the library may have that should be included): Current version in vcpkg is 3.14, but latest re

[2021-06-05 11:27] LiuZhexuan opened #18281 "Fail to link CoolProp"
**Describe the bug**
I have successfully downloaded and built CoolProp using vcpkg install coolprop. But when I tried to use this pkg, MSVC reported a LINK error saying that function PropsSI not found. It was built as dynamic lib.
Besides, I want to know how to static build this pkg using vcpkg?

**Environment**
- OS: WIN10
- Compiler: MSVS 2019

**To Reproduce**
Steps to reproduce the behavior:
1

[2021-06-05 14:33] autoantwort commented on #18280
It is already there?

[2021-06-05 14:34] autoantwort commented on #18276
Please attach the failure logs :)

[2021-06-05 14:38] autoantwort commented on #18249
They will be updated in #17335

[2021-06-05 15:14] ghamarian opened #18282 "arrow build failure"
**Host Environment**
- OS:  osx
- Compiler: clang 12

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install arrow`

**Failure logs**
Port installs fine but when I make a project against it I get the following error.
make[2]: *** No rule to make target `/Users/amir/projects/github-code/vcpkg/installed/x64 osx/debug/lib/libarrow_bundled_dependencies.a'
[code]

**Additional context**
I t

[2021-06-05 16:13] autoantwort commented on #18282
There is no `libarrow_bundled_dependencies.a`, there is only a `libarrow.a`

[2021-06-05 16:45] primemb commented on #18267
my bad it all work now

[2021-06-05 16:45] #18267 closed

[2021-06-05 20:34] ghamarian commented on #18282
Thanks for responding. I get the same error with or without it. I looked into `ArrowConfig.cmake` in `<path to vcpkg>/packages/arrow_x64-osx/share/arrow`
there is a code like this:
[code]

[2021-06-05 20:48] autoantwort commented on #18282
It seems that here:
 https://github.com/apache/arrow/blob/master/cpp/src/arrow/ArrowConfig.cmake.in#L75

`ARROW_BUNDLED_STATIC_LIBS` is True, but I can't find the code that sets it to true

[2021-06-05 21:04] autoantwort commented on #18282
Seems that it was already reported and fixed: https://github.com/apache/arrow/pull/9622
I will update the lib

[2021-06-05 21:33] BillyONeal commented on #16614
@iskiselev Can you try applying the changes from https://github.com/microsoft/vcpkg-tool/pull/88 and let me know if that works for you?

[2021-06-05 22:36] ghamarian commented on #18282
Oh! Thanks I missed it, so the vcpkg port does not work. I see there is a pull request for arrow version 4.0.0.

[2021-06-05 23:02] PJMonty commented on #18280
No.  The latest in vcpkg is 3.14:
![image](https://user-images.githubusercontent.com/20196069/120907552-5787d800-c617-11eb-9eff-d8ffaefc4cdb.png)
The latest release from the wxwidgets project is 3.15.

[2021-06-05 23:17] autoantwort commented on #18280
Yeah already included: https://github.com/microsoft/vcpkg/blob/master/ports/wxwidgets/vcpkg.json
Maybe you should update your vcpkg version (git pull)

[2021-06-06 02:32] playgithub opened #18286 "https for github is unavailable most of the time, can ssh be supported?"
**Problem**
In my country, `git clone` from github in `https` fails most of the time because of dns problems, it leads to `vcpkg install` failures.

**Proposed solution**
support for `ssh` for github, e.g. `git clone git@github.com:some-lib.git` works.

[2021-06-06 03:20] playgithub opened #18287 "[matplotplusplus] can not run the simplest official sample"
**Describe the bug**
A clear and concise description of what the bug is.

## Env
OS: Windows
matplotplusplus: 2021-04-11#2
Compiler: msvc

## Problem
[code]

## Errors
[code]

## Remarks

As the errors show, it needs `nodesoup`, which is not in `vcpkg`'s ports.

[2021-06-06 03:21] caseyuhrig opened #18288 "[zstd:x64-windows-static] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: revision
Vcpkg version: 2021-01-13-d67989bce1043b98092ac45996a8230a059a2d7e

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install zstd:x64-windows-static`

**Failure logs**
PS C:\Users\casey\Dropbox\source\vcpkg> .\vcpkg.exe install zstd:x64-windows-static
Computing installation plan...
The following packages will be built and install

[2021-06-06 07:29] alberthdev opened #18291 "vcpkg_from_git fails when downloads folder does not exist"
**Describe the bug**
vcpkg_from_git fails to run its `git init` test when the vcpkg\downloads folder does not exist.

**Environment**
- OS: Windows
- Compiler: MSVC 2019

**To Reproduce**
Steps to reproduce the behavior:
1. Setup an environment where all of the required tools needed for vcpkg are up to date and the latest. (GitHub Actions' environment is where I was able to have this kind of envir

[2021-06-06 09:33] RvanderLaan commented on #16331
Looks like this got fixed in https://github.com/microsoft/vcpkg/pull/17348 🎉

[2021-06-06 09:47] playgithub commented on #18066
I've ported a simple lib that using wxWidgets, `vcpkg install` succeeded<br>
When using the lib in an app, the release version works well, but the debug version get runtime error that it can't find `wxbase314u_vc_custom`

[2021-06-06 10:08] upsj opened #18292 "[rapidjson] port usage reports wrong variable"
****

**Is your feature request related to a problem? Please describe.**
RapidJSON provides its install path as `RapidJSON_INCLUDE_DIR(S)`, the port adds `RAPIDJSON_INCLUDE_DIRS` for backwards-compatibility with older versions. It seems like the usage output catches only the last variable being set:
[code]

**Proposed solution**
I am not certain what is the correct way to fix the usage message - i

[2021-06-06 11:36] acse-ds2419 commented on #18211
@JackBoosY here's the output with the debug flag set:
[code]

[2021-06-06 11:46] acse-ds2419 commented on #18211
@JackBoosY Here are all the log files in `vcpkg/buildtrees/python3`:
[buildtrees_python3_logs.tar.gz](https://github.com/microsoft/vcpkg/files/6604127/buildtrees_python3_logs.tar.gz)

[2021-06-06 11:52] acse-ds2419 commented on #18211
@PhoebeHui Here are the contents of that folder:
[code]

[2021-06-06 12:15] acse-ds2419 commented on #18211
Removing the line that @ankurverma85 helps insofar as the installation runs without throwing any exceptions, but then after installation, the bin folder `/home/dominic/dev/vcpkg/packages/python3_x64-linux/bin/` does not exist, which I think it should right?

[2021-06-06 12:30] playgithub commented on #18066
It seems that with `FindwxWidgets.cmake`, debug version can not be found.

[2021-06-06 13:00] jamecc opened #18294 "[jxrlib] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: Mingw 8

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install ogre-next  --triplet=x86-mingw-static`

**Failure logs**
D:/source/vcpkg/buildtrees/jxrlib/src/0dd9dbbdb4-4d68cbd583.clean/image/sys/windowsmediaphoto.h:249:43: error: size of array '__CT_ASSERT__strcodec1' is negative
 #define CT_ASSERT(exp, uniq) typedef char __CT_ASSERT_

[2021-06-06 14:05] Nightloewe commented on #17518
Yes, it worked without disabling antivirus software.

[2021-06-06 15:07] vlovch01 opened #18296 "How to build glog without gflags dependency?"
When adding option
        **-DWITH_GFLAGS=OFF**
to ../ports/glog/potfile.cmake in function **vcpkg_configure_cmake** does not work.
Gflags anyway a getting downloaded and build.

Please advice.
Thank you.

[2021-06-06 15:27] Semphriss commented on #16331
I'll retry ASAP!

[2021-06-06 16:15] tonygould opened #18297 "Trying out versioning Getting Started page. How do I find right argument for find_package for manifest dependencies"
Starting at https://github.com/microsoft/vcpkg/blob/master/docs/examples/versioning.getting-started.md, we have "zlib" in manifest but "find_package(ZLIB)" in CMake. Similarly if I have "nlohmann-json" in manifest, it's "find_package(nlohmann_json)" in CMake. Is the algorithm capitalisation or adding underscores or is there some metadata somewhere, or something else? Only way I could see to find t

[2021-06-06 18:21] talregev opened #18298 "[wxwidgets][Linux] libs without full path in wx-config, cause linkage errors."
wx-config write the libs name without full path:
Linker doesn't find  these libs.
![image](https://user-images.githubusercontent.com/7043539/120935775-0823d380-c70d-11eb-99bc-4c7ceddcb376.png)
[code]
old place / packages place:
![image](https://user-images.githubusercontent.com/7043539/120935643-6e5c2680-c70c-11eb-8cfd-c00860ade88d.png)
 `wx-config -> /home/tal/boinc/3rdParty/linux/vcpkg/packages/

[2021-06-06 19:56] Herobrinemen commented on #13503
idk Why But When i Run The Code It is Not Work
----------------------------------------------------------
./vcpkg : The term './vcpkg' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again.
At line:1 char:1
+ ./vcpkg integrate install
+ ~~~~~~~
    + CategoryInf

[2021-06-06 21:45] stephengtuggy commented on #18162
Okay. The second build failure, with gtk itself, produces the following output:

[code]

And it is indeed Ninja version 1.10.2.

From package-x64-windows-dbg-err.log:
[code]

From the second log snippet above, I would say that the problem is definitely that the command line is too long. Especially given that the same build process succeeds when I copy everything to a shorter path, `C:\a\vsenginesr

[2021-06-06 23:43] vlovch01 commented on #18296
Ok found it's in CONTROL file.
OMG!!!

[2021-06-06 23:43] #18296 closed

[2021-06-07 01:18] caseyuhrig commented on #18288
Spoke too soon, this is something on my and vcpkg got corrupted somehow.

[2021-06-07 01:18] #18288 closed

[2021-06-07 01:45] NancyLi1013 commented on #18261
Thanks for your feedback. I'm closing this issue for now since this issue has been solved now.

[2021-06-07 01:45] #18261 closed

[2021-06-07 01:51] NancyLi1013 commented on #18249
Thanks for your information @autoantwort.

[2021-06-07 01:52] JonLiu1993 commented on #18280
@PJMonty ,Thanks posting this issue,
the latest version of wxwidgets is [3.1.5](https://github.com/microsoft/vcpkg/blob/eed75c0ad57c9e41537f4006debca6cdd7021f25/ports/wxwidgets/vcpkg.json), please update your vcpkg version, if not, please clone vcpkg again.

[2021-06-07 01:52] #18280 closed

[2021-06-07 02:21] NancyLi1013 commented on #17518
Thanks for your feedback. I'm closing this issue since it cannot be reproduced now.

[2021-06-07 02:21] #17518 closed

[2021-06-07 02:23] Semphriss commented on #16331
I can confirm, it works! Thanks so much!

[2021-06-07 02:23] #16331 closed

[2021-06-07 02:30] PhoebeHui commented on #18255
@qqblack, you need to set the 'Host Triplet' to x86-windows-static, not the 'Triplet'.

[2021-06-07 02:34] #18257 closed

[2021-06-07 02:37] JackBoosY commented on #18162
@stephengtuggy Please use a path that does not contain spaces, dashes and other non-ASCII characters as much as possible to avoid other configurators or compilers from generating incorrect configuration files for this path.

[2021-06-07 02:49] stephengtuggy commented on #18162
@JackBoosY In order to do that on the CI side, we would have to rename our repo. I'm afraid that is out of the question at this point.

What I have been able to do, however, is to install vcpkg in `'${{ github.workspace }}/../vcpkg'`. This seems to solve the problem. All the dependencies build successfully when I do this.

[2021-06-07 04:09] NickStrupat opened #18303 "[llvm[clang-tools-extra]] Headers and libraries don't seem to be output"
****

**Is your feature request related to a problem? Please describe.**
When I install the LLVM port with the feature for `clang-tools-extra`, those headers and libraries do not show up in the installed directory.

**Proposed solution**
Fix the port package to build and output the appropriate headers and libraries for `clang-tools-extra`

**Describe alternatives you've considered**
I have tried i

[2021-06-07 04:23] xanderdunn commented on #17599
I wasn't specific about my usage in my above post. When I'm linking an executable in CMAKE against oatpp it works, but here I'm trying to link a shared library against oatpp and thus I see the above error.

Thanks @JonLiu1993. I added this to ports/oatpp/portfile.cmake:
[code]

Then I uninstalled and reinstalled:
[code]
This appears to have rebuilt oatpp, but I still get the error when linking a s

[2021-06-07 05:36] andrusenko-ag opened #18304 "[New Port Request] cucumber-cpp"
Please add this one to vcpkg

Library name:
cucumber-cpp

Source repository URL:
https://github.com/cucumber/cucumber-cpp

[2021-06-07 05:52] JonLiu1993 commented on #17599
@xanderdunn ,Please reopen an issue and describe your problem, we will solve your problem.

[2021-06-07 06:10] PhoebeHui commented on #17330
@SeanFarrow, currently it need to address the review suggestions firstly.

[2021-06-07 06:11] JackBoosY commented on #18270
Seems needs to link to glibc.
cc @Neumann-A @375gnu @past-due

[2021-06-07 06:13] SeanFarrow commented on #17330
@PhoebeHui  OK, do you have tome this week, or would you like some help?
Am I able to push to the PR, given I didn't author it?

[2021-06-07 06:19] PhoebeHui commented on #18303
@NickStrupat, the tolls are located to installed/[triplet]/tools directory, could you double check?

[2021-06-07 06:20] JackBoosY commented on #18281
Confirmed.

[2021-06-07 06:24] dg0yt commented on #18270
I think it is confusion between embedded getopt and port getopt-win32:
[code]

[2021-06-07 06:28] PhoebeHui commented on #17330
@SeanFarrow, thanks for your kindly help! feel free to review the PR https://github.com/microsoft/vcpkg/pull/17335, and ask the author if any help needed.

[2021-06-07 06:56] NancyLi1013 commented on #18286
Hi @strega-nil-ms, @ras0219-msft

Do we have a plan to support this?

[2021-06-07 06:57] JackBoosY commented on #18287
Confirmed.

[2021-06-07 07:03] PhoebeHui commented on #18297
@tonygould, thanks for your feedbacks!
I think the following 2 docs could help to solve the first 2questions.
https://cmake.org/cmake/help/latest/manual/cmake-packages.7.html
https://cmake.org/cmake/help/latest/command/find_package.html

For the latest 2 questions, sorry for the confuse, may be we can given a message about the baseline in the example?
https://github.com/microsoft/vcpkg/blob/master

[2021-06-07 07:23] JackBoosY commented on #18162
@stephengtuggy  Glad to hear that, so can I close this issue now?

[2021-06-07 07:25] PhoebeHui commented on #17512
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2021-06-07 07:25] #17512 closed

[2021-06-07 07:27] PhoebeHui commented on #17513
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2021-06-07 07:27] #17513 closed

[2021-06-07 07:29] PhoebeHui commented on #17497
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2021-06-07 07:29] #17497 closed

[2021-06-07 07:33] PhoebeHui commented on #17524
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2021-06-07 07:33] #17524 closed

[2021-06-07 07:35] PhoebeHui commented on #17602
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2021-06-07 07:35] #17602 closed

[2021-06-07 07:36] PhoebeHui commented on #17608
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2021-06-07 07:36] #17608 closed

[2021-06-07 07:41] PhoebeHui commented on #18121
@eRuaro, sorry for late response, do you figure out this? You need replace the SHA512 with 'Acutual hash' which given in command line.

[2021-06-07 07:49] PhoebeHui commented on #18210
@gdiObjects, see the error message, building libunwind with MSVC is not supported.

[2021-06-07 07:49] #18210 closed

[2021-06-07 07:53] NancyLi1013 commented on #18266
Hi @andrusenko-ag

Thanks for posting this issue.

Seems `grpc++_reflection` will be built when building the feature `codegen`. Please see these codes in CMakeLists.txt.
So could you please try to build `grpc[codegen]:x64-windows-static`?
[code]

[2021-06-07 07:55] JackBoosY commented on #16831
In fact, we have a feature `create` to create the port draft.

[2021-06-07 07:57] JackBoosY commented on #16809
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-06-07 07:57] #16809 closed

[2021-06-07 07:59] JackBoosY commented on #16786
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-06-07 07:59] #16786 closed

[2021-06-07 08:02] JackBoosY commented on #16751
Can you please Repair your Visual Studio using Visual Studio Installer?
And please use `powershell` instead of `cmd` on Windows.

[2021-06-07 08:02] JackBoosY commented on #16746
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-06-07 08:02] #16746 closed

[2021-06-07 08:03] JackBoosY commented on #16745
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-06-07 08:03] #16745 closed

[2021-06-07 08:03] JackBoosY commented on #16745
And we already have a feature issue about progress bar.

[2021-06-07 08:04] JackBoosY commented on #16698
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-06-07 08:04] #16698 closed

[2021-06-07 08:09] JackBoosY commented on #16557
@pratikpc  Yes, it should do that.

[2021-06-07 08:10] JackBoosY commented on #16547
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-06-07 08:10] #16547 closed

[2021-06-07 08:10] JackBoosY commented on #16547
Close this PR since #16420 merged.

[2021-06-07 08:12] aPSopt opened #18307 "VCPKG update failure on windows"
**Host Environment**
- OS: Win10 latest
- Compiler: msvs latest

Today I update vcpkg repo from github and do:
`vcpkg update`

And see the followed error:

[2021-06-07 08:21] NancyLi1013 commented on #18298
Hi @talregev
Thanks for posting this issue.

Seems `wxwidgets `is broken in vcpkg currently. Please see https://github.com/microsoft/vcpkg/blob/b2544fd780b2e9a05d903314cbbd37268ba43d81/scripts/ci.baseline.txt#L1683

So I wonder how do you build `wxwidgets `on Linux?

[2021-06-07 08:24] JackBoosY commented on #18270
After install `getopt-win32:x64-windows` first, I can completely reproduce this issue.

[2021-06-07 08:24] talregev commented on #18298
You need to install external packages in linux in order to compile `widgets` in Linux.
I will publish here the instruction how I am doing it.
Also, in our opensource project we use `wxwidgets` in windows of vcpkg, and compiling and working.

[2021-06-07 08:27] JackBoosY commented on #16432
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-06-07 08:27] #16432 closed

[2021-06-07 08:28] JackBoosY commented on #16384
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-06-07 08:28] #16384 closed

[2021-06-07 08:29] NancyLi1013 commented on #18298
Thanks for your so quick response. Yes, seems require `gtk `on Linux.

[code]

[2021-06-07 08:32] talregev commented on #18298
@NancyLi1013
`sudo apt install libgtk-3-dev` in ubuntu.
try it. if other things is needed I will happy to help.

[2021-06-07 08:33] talregev commented on #18298
gtk in vcpkg is version 4. (also for gtk is needed external packages and it ok).
maybe we can add ports: gtk2, gtk3, gtk4
like opencv ports?

[2021-06-07 08:46] JackBoosY commented on #18292
Yeah, we need to add macro `RapidJSON_INCLUDE_DIRS` to the usage file.

[2021-06-07 08:48] dg0yt commented on #17607
Friendly reminder...

[2021-06-07 08:50] NancyLi1013 commented on #18298
Thanks for your information. It seems that there are also other versions of `gtk `in `wxwidgets`. So can we depend on gtk4 in vcpkg to build `wxwifgets`?

Sounds good. You can open a new issue to post this request if you hope to add these ports.

[2021-06-07 08:51] talregev commented on #18298
Not yet, there serval issue in vcpkg I try to promote first.

[2021-06-07 08:53] talregev commented on #18298
I try to compile `wxwifgets` with gtk of vcpkg, it don't compile. it look only gtk3.

[2021-06-07 09:07] talregev commented on #18298
But my report it not about compilation of `wxwifgets` it about the flags inside `wx-config`
It more important for me.

[2021-06-07 09:24] JackBoosY commented on #18282
We need to update arrow to fix this issue.

[2021-06-07 09:27] JackBoosY commented on #18291
@strega-nil-ms Can you please take a look?

Thanks.

[2021-06-07 09:32] NancyLi1013 commented on #18298
Yes, have confirmed this is a bug in path of `wx-config`.

[2021-06-07 09:37] JackBoosY commented on #18066
@playgithub  `FindwxWidgets.cmake` should be provided by cmake.

[2021-06-07 09:39] JonLiu1993 commented on #17961
Resolved by #17937

[2021-06-07 09:39] #17961 closed

[2021-06-07 09:48] JackBoosY commented on #18307
`forest` was deleted by PR https://github.com/microsoft/vcpkg/pull/16836.
I think you should run `git pull` first then `bootstrap-vcpkg` second.

[2021-06-07 09:51] PhoebeHui commented on #18291
@alberthdev, what's the git revison in your machine? could you use the git that downloaded by vcpkg and see if this issue still repro?

[2021-06-07 09:54] talregev commented on #18298
@NancyLi1013 Thank you.

[2021-06-07 09:56] Coderx7 commented on #17759
@NancyLi1013 : Thanks a lot. on a brand new vcpkg repo, it built successfully, however, upon trying to build  a simple example such as :
[code]
it results in the following linker errors in both build modes:

Here is the dynamic build errors (/MD):
[code]
and  these are the errors when I use the static builds:
[code]

Whats wrong here?

[2021-06-07 10:21] NancyLi1013 commented on #17759
Seems there is no link to `ws2_32.lib` ,`Rpcrt4.lib` and `crypt32.lib` in your project.

[code]

Can you try to add the link libraries manually to your project?

[2021-06-07 11:28] Coderx7 commented on #17759
Thanks a lot, adding the `ws2_32.lib;crypt32.lib;Rpcrt4.lib;` fixed the issue for dynamic build (/MD) and the project builds fine now.
However, using the static build, it still fails with the following linker errors;
[code]

[2021-06-07 12:21] aPSopt commented on #18307
I exactly did this. or... are you mean I should pull clean vcpkg? I trying to avoid it because to much time will need for recompilation

[2021-06-07 12:47] playgithub commented on #18066
`FindwxWidgets.cmake` works, but found the wrong version (should be debug version instead of release version) on Windows

[2021-06-07 13:20] Neumann-A opened #18309 "[vcpkg] vcpkg.exe (classic mode) breaks if a manifest is found in parent directory."
Output with error: (since directory AllProjects contains vcpkg.json; removing/renaming it solves the issue)
[code]
Expected Output:
[code]

vcpkg should NEVER search parent directories for vcpkg.json in such a way that it breaks classic mode.

cc @strega-nil

[2021-06-07 14:35] autoantwort commented on #18307
The problem is that you are trying to install a package that does not exists

[2021-06-07 14:50] aPSopt commented on #18307
No, if you look at the initial message - I dont install package, I just do
`vcpkg update`

[2021-06-07 14:54] autoantwort commented on #18307
Sorry, to fix the problem you can properly do a `vcpkg remove forest`, because it seems to be currently installed and updating is not possible because it is gone. But yeah, a bug

[2021-06-07 15:05] tonygould commented on #18297
Thanks Phoebe! Apologies btw for putting all these issues in a single github issue; I probably should have split some of them out. Anyway in reply

q1 I don't see how the cmake documentation answers the specific question of how to know what to type into find_package. I go to https://vcpkg.io/en/packages.html, find "zlib", and put it in my vcpkg.json. How do I know that it should be "ZLIB" not "zli

[2021-06-07 15:17] tonygould commented on #18297
Re q3, q4, the problems I had yesterday were on linux. I just tried again with windows, to see if I could repro. This is what I got using the vcpkg.json file from https://github.com/microsoft/vcpkg/blob/master/docs/examples/versioning.getting-started.md. I.e.

    {
        "name": "versions-test",
        "version": "1.0.0",
        "dependencies": [
            {
                "name": "fmt",

[2021-06-07 15:23] aPSopt commented on #18307
Yes, your solution (delete forest) is fix the problem, thx!

[2021-06-07 16:01] dg0yt commented on #18297
`vcpkg install xy` may print usage information when port xy is installed successfully.

Basically, what to use is the domain of CMake, not of vcpkg. ZLIB is one of the many "Find modules" which come with CMake itself. Cf.
https://cmake.org/cmake/help/latest/manual/cmake-modules.7.html#find-modules

Traditionally CMake itself provides some "Find modules" (`find_package` Module Mode), In the past, m

[2021-06-07 16:13] anatoly-spb opened #18311 "[ncurses] Build failure on Windows with mingw"
**Host Environment**
- OS: Windows
- Compiler: mingw810_32, mingw810_64

**To Reproduce**
Steps to reproduce the behavior:
[code]
**Failure logs**
[code]

**Additional context**

The error occurs because of the following line in the ncurses receipt:
[code]
see https://github.com/microsoft/vcpkg/blob/master/ports/ncurses/portfile.cmake#L1

As a workaround we can comment this line in the receipt to

[2021-06-07 16:31] aizuon opened #18312 "[gamenetworkingsockets] update to 1.3.0"
Library name: gamenetworkingsockets

New version number: 1.3.0

https://github.com/ValveSoftware/GameNetworkingSockets/releases/tag/v1.3.0

[2021-06-07 16:31] NickStrupat commented on #18303
@PhoebeHui, I just checked and they're not there. My apologies, I should have specified that I'm using `vcpkg` in manifest mode. I don't see it in `vcpkg_installed/[triplet]/tools`. In fact, there is no `tools` sub-directory in there.

I also think I made a mistake in my understanding of these tools. I was hoping to use the language server implementation in `clangd` as a library. I didn't realize

[2021-06-07 16:42] dg0yt commented on #18298
The output should be like that, but the binary packages shall be relocatable. So `wx-config` must derive the full path from its current location. This is the "fixup" work which is done by maintainer functions for cmake config files and pc files, and achieved with individual patches for some `<port>-config` scripts. Note that there must be different `<port>-config` scripts for debug and release.

W

[2021-06-07 16:59] Osyotr commented on #18297
@dg0yt `vcpkg install xy` will work, but it doesn't look like good solution. We need something like `vcpkg port-usage zlib` which will just `cat vcpkg_installed/share/zlib/USAGE`

[2021-06-07 17:06] talregev commented on #18298
wx-config is a link to the binary. it nice that we have this link. it just needed to fix.
The binaries already go to their places, it just needed to fix the soft link files I show.

[2021-06-07 17:17] WenceyWang opened #18314 "[New Port Request] libvirt"
Library name: libvirt

Library description: The libvirt project: is a toolkit to manage virtualization platforms

Source repository URL: https://gitlab.com/libvirt/libvirt

Project homepage (if different from the source repository): https://libvirt.org/index.html

Anything else that is useful to know when adding (such as optional features the library may have that should be included):
Hyper-V supp

[2021-06-07 17:35] tonygould commented on #18297
Yes, that helps a lot!

    $ cat build/vcpkg_installed/x64-linux/share/zlib/usage
    The package zlib is compatible with built-in CMake targets:

    find_package(ZLIB REQUIRED)
    target_link_libraries(main PRIVATE ZLIB::ZLIB)

I imagine similar would work on Windows (it was trivial to get my linux test repos working on Windows earlier today). From a dumb user's point of view, if you included

[2021-06-07 17:47] iskiselev commented on #16614
@BillyONeal, can you advice me what I should do in my clone of microsoft/vcpkg repo to test  microsoft/vcpkg-tool#88 ?

[2021-06-07 19:18] dg0yt commented on #18297
I see, and I read your questions from a different perspective now.

I was pointing to what is available now. (You can call this command also for installed packages.)
For what is discussed, see https://github.com/microsoft/vcpkg-tool/pull/82. There are many packages which don't even have a usage file.

[2021-06-07 19:22] dg0yt commented on #18298
But *where* is that link which is not removed? Because it probably won't be restored from the cached binary artifact.

But it must work with binary caching: It must be possible to install the cached artifact to a different install tree.

[2021-06-07 19:24] dg0yt commented on #18314
As the original poster, you might actually re-open an existing issue instead of opening a new issue.
https://github.com/microsoft/vcpkg/issues?q=is%3Aissue+libvirt+is%3Aclosed

[2021-06-07 19:29] BillyONeal commented on #16614
Something like:

[code]

then get the resulting vcpkg.exe from that build dir and see if it works in your container etc.

(I would build it myself for you but I can't ship unsigned binaries and we aren't supposed to sign things that aren't landed)

[2021-06-07 20:13] nlogozzo opened #18321 "[New Port Request] discordpp"
Library name: discordpp

Library description: A Modularized C++ Library for the Discord API

Source repository URL: https://github.com/DiscordPP/discordpp

Anything else that is useful to know when adding (such as optional features the library may have that should be included):
Required dependencies are on source repository readme page. Optional plugins on page would be welcomed as well.

[2021-06-07 20:15] nlogozzo opened #18322 "[New Port Request] sleepy-discord"
Library name: sleepy-discord

Library description: C++ library for the Discord chat client

Source repository URL: https://github.com/yourWaifu/sleepy-discord

Anything else that is useful to know when adding (such as optional features the library may have that should be included):
- OpenSSL
- cpr
- Websocket++ or uWebSockets
(Also offers a development branch if you would like to include a sleepy-

[2021-06-07 20:33] talregev commented on #18298
The old place is where the binaries was, the (still there before clean), the should be is the place that they already there.

The binaries already in install folder, as I show in should be place.

[2021-06-07 21:02] talregev commented on #18298
`wx-config` is the soft link that needed to fix. (as shown in the picture).

[2021-06-07 21:14] cenit commented on #18309
is it related to https://github.com/microsoft/vcpkg/pull/18283?

[2021-06-07 21:17] Neumann-A commented on #18309
the error is totally different and i was on latest commit so I don't think so? It also never gets to that part of the code?

[2021-06-07 21:34] autoantwort commented on #18322
See #17604

[2021-06-07 21:34] autoantwort commented on #18322
duplicate of #14065

[2021-06-07 22:25] tomghuang commented on #12297
I've modified the CMake scripts in the latest v3.2.1 release, so we can use `BUILD_SHARED_LIBS` to control whether we're building a static or dynamic library. It's more aligned with the CMake recommendations and the vcpkg design, so we won't see any error in vcpkg, CMake, and the build process.

I'm preparing a pull request to update the port to Argtable3 v3.2.1, which should resolve most of the i

[2021-06-07 23:19] eRuaro commented on #18121
Sadly no. I'm still having the proxy error even if I have set it.

[2021-06-07 23:30] DrDevinRX opened #18324 "--disable-metrics causes bootstrap-vcpkg to throw"
**Describe the bug**

Using the bootstrap-vcpkg.bat with --disable-metrics causes the powershell script to throw.

[code]

**Environment**
- OS: Windows 10 Version 10.0.19042.985

**To Reproduce**
Steps to reproduce the behavior:
1. Run bootstrap-vcpkg.bat --disable-metrics

**Expected behavior**
bootstrap-vcpkg runs successfully and disables metrics

[2021-06-07 23:31] DrDevinRX commented on #18324
I should note running `bootstrap-vcpkg.bat` without any parameters works correctly

[2021-06-08 00:05] strega-nil-ms commented on #18324
The correct flag is `-disableMetrics` :)

[2021-06-08 00:05] #18324 closed

[2021-06-08 00:08] strega-nil-ms opened #18326 "[vcpkg-tool] Canonicalization Question"
We have had problems in the past with our "canonicalize everything" choice. We need to have a discussion about whether it works to do simple case-canonicalization, in order to keep substs, junctions, and soft links in all of the paths we use; this allows people to build packages with long paths, for example. Additionally, we've had issues with `canonical` not working in Docker, which this would fi

[2021-06-08 00:28] JonLiu1993 commented on #18322
duplicate of #14065

[2021-06-08 00:28] #18322 closed

[2021-06-08 01:57] NancyLi1013 commented on #17759
Please also add `Secur32.lib`, `shlwapi.lib` to the linkage.

[2021-06-08 02:24] myuanz opened #18327 "[clickhouse-cpp] update to 1.5.0"
Library name: clickhouse-cpp

New version number: 1.5.0

Other information that may be useful (release notes, etc...)

clickhouse-cpp: https://github.com/ClickHouse/clickhouse-cpp

[2021-06-08 02:43] #18307 closed

[2021-06-08 03:04] PhoebeHui commented on #8286
@korilin, does this still be a problem for you?

[2021-06-08 04:12] Coderx7 commented on #17759
Thanks a lot. that solved it all. Would it not be a better idea to also add these as dependencies in the drogon documentation or in the vcpkg package's dependencies for windows?

[2021-06-08 04:41] nlogozzo opened #18328 "How do I use Gtkmm4.0"
I installed Gtkmm4.0 via vcpkg using `vcpkg install gtkmm`. My triplet is `x86-windows` btw.
Now I'm following the documentation for gtkmm to create a simple application.

[code]
I get an error saying Gtk is not a namespace.

So then I try to include application.h instead: `#include <gtkmm-4.0/gtkmm/application.h>`
However, then I get the error saying Application is not a class name. I don't know

[2021-06-08 05:31] dg0yt commented on #17072
Does wx-config give the right, relocatable library paths? Cf. #18298

[2021-06-08 06:10] PhoebeHui commented on #18303
@NickStrupat, yes clangd is built as executable not as a library. BTW I just tried, and it has tools folder.

vcpkg.json
[code]

[2021-06-08 06:19] JackBoosY commented on #17759
Due to our imperfect integration for msbuild, this has led to this situation. For cmake integration, this problem does not exist.
See https://github.com/microsoft/vcpkg/discussions/17739.

[2021-06-08 06:19] #17759 closed

[2021-06-08 06:31] PhoebeHui commented on #8128
Looking at the info in .list files under installed\vcpkg\info, which record the heads/libs/dll/tools files for a port, AFAIK, these files will be used when export or remove a port. Please reopen this issue if it still be a question for you.

[2021-06-08 06:31] #8128 closed

[2021-06-08 06:45] PhoebeHui commented on #8982
The anti-virus software also cause some unknown issues, we haven't encountered this issue again. I think it's good to have this issue and a possiable solution here, we can search this kind of issue with 'anti-virus' in vcpkg, instead of adding a docs to vcpkg.

[2021-06-08 06:45] #8982 closed

[2021-06-08 07:19] JackBoosY commented on #17072
Will be fixed by PR https://github.com/microsoft/vcpkg/pull/17111.

[2021-06-08 07:45] PhoebeHui commented on #13163
cc @yurybura  @autoantwort @ras0219-msft, do you know more about this?

[2021-06-08 07:51] PhoebeHui commented on #10561
@manang, have you figured out this issue finally?

[2021-06-08 07:59] PhoebeHui commented on #10561
@manang, do you mind to provide us the steps you have tried? I will have a try and see if we can figure out this.

[2021-06-08 08:04] JonLiu1993 commented on #18327
@myuanz .Thanks for posting this issue,
I noticed that the link you provided is the ClickHouse/clickhouse-cpp repo link and not the real link of clickhouse-cpp. The link corresponding to clickhouse-cpp in the vcpkg library is https://github.com/artpaul/clickhouse-cpp, so I upgraded clickhouse-cpp to the latest version 1.2.2

[2021-06-08 08:09] dg0yt commented on #10561
In terms of cmake generators, are you refering to MSYS makefiles, MinGW makefiles or UNIX Makefiles?

[2021-06-08 08:10] myuanz commented on #18327
@JonLiu1993 . Hello, that repo gave the following statement:
[code]

`ClickHouse/clickhouse-cpp` is a fork from `artpaul/clickhouse-cpp`

[2021-06-08 08:11] PhoebeHui commented on #10748
@j20232, have you tried the above solution? do this still be a problem for you?

[2021-06-08 08:16] JonLiu1993 commented on #18327
Okay, I saw it. I resubmitted pr to upgrade it to 1.5.0

[2021-06-08 08:21] ATsahikian opened #18331 "[redis-plus-plus] update to 1.2.3"
Library name:
- redis-plus-plus

New version number:
- 1.2.3

Other information that may be useful (release notes, etc...)
- Rewrite cmake stuff with modern cmake
- Support reading from slaves in Redis Cluster mode.
- Support parsing reply to variant type.
- TLS support for Redis Sentinel
- More overloads for Lua scripting support.
- Bug fix: avoid throw exception in the destructor of Pipeline and

[2021-06-08 08:24] manang commented on #10561
ok, my problem is about 1 year and more ago.
I'm able to generate the nmakefile, so, I can compile the source code with nmake.
I launched
cmake <src_folder> -DCMAKE_TOOLCHAIN_FILE=<path_vcpkg_toolchain>
without the parameter -G.
the cmake file ignores CMAKE_TOOLCHAIN_FILE parameter
thanks

[2021-06-08 08:31] dg0yt commented on #10561
Note that CMAKE_TOOLCHAIN_FILE is only useful the first time you run cmake for a build directory. After this, most toolchain-related cmake cache variables are already set and will not be updaded unless you explicitly set or unset them. This is cmake behaviour.

[2021-06-08 08:55] #10561 closed

[2021-06-08 09:12] PhoebeHui commented on #11297
Duplicated to https://github.com/microsoft/vcpkg/issues/10178

[2021-06-08 09:12] #11297 closed

[2021-06-08 09:13] #10178 closed

[2021-06-08 09:16] PhoebeHui commented on #8534
@miseri, please reopen this issue if it still be a question for you.

[2021-06-08 09:16] #8534 closed

[2021-06-08 09:20] #8852 closed

[2021-06-08 09:30] PhoebeHui commented on #9344
@m17kea, does this still be a problem for you? have you tried the above solution?

[2021-06-08 09:47] PhoebeHui commented on #8165
Closing in favor of https://github.com/microsoft/vcpkg/issues/1626.

[2021-06-08 09:47] #8165 closed

[2021-06-08 10:46] adwodon opened #18334 "[zstd] Failing to build package in azure devops pipeline - corrupt patch"
**Host Environment**
- OS:Windows
- Compiler: MSBuild 1.187.0

**To Reproduce**
Steps to reproduce the behavior:
Running a pipeline on azure devops - visual studio solution with manifest.

**Failure logs**
[code]

**Additional context**
This is on our remote build machine, it seems to be an environmental issue as I can run either the msbuild command, or inner vcpkg command locally and it will succ

[2021-06-08 12:03] nlogozzo commented on #18328
When including `#include <gtkmm-4.0/gtkmm/application.h>` I get the build error
`1>D:\src\vcpkg\installed\x86-windows\include\gtkmm-4.0\gtkmm\application.h(5,10): fatal error C1083: Cannot open include file: 'gtkmmconfig.h': No such file or directory`

[2021-06-08 12:04] nlogozzo commented on #18328
When including `#include <gtkmm-4.0/gtkmm.h>` I get the build error
`1>D:\src\vcpkg\installed\x86-windows\include\gtkmm-4.0\gtkmm.h(100,10): fatal error C1083: Cannot open include file: 'glibmm.h': No such file or directory`

[2021-06-08 12:47] nlogozzo commented on #18328
@NancyLi1013 any idea?

[2021-06-08 12:51] yurybura commented on #13163
@Neumann-A I absolutely agree with you. What do you think about use original Boost's CMake files? Now every Boost library has own CMakeLists.txt.

[2021-06-08 12:58] yurybura commented on #18303
@NickStrupat After finish `.\vcpkg install llvm[clang-tools-extra]:x64-windows` you can find `.\installed\x64-windows\tools\llvm\clangd.exe`.

[2021-06-08 13:09] dg0yt commented on #18328
What is the usage information printed by `vcpkg install gtkmm` (if any)?

[2021-06-08 13:12] autoantwort commented on #13163
According to [this post](https://www.reddit.com/r/cpp/comments/nlhwee/latest_graph_of_boost_libraries_with_cmake/) 12 days ago not every boost lib has a CMakeLists.txt

[2021-06-08 13:15] nlogozzo commented on #18328
I don't remember. But it seemed to have installed fine, like I said all the files are there just the names don't match what it expects. Should I try to uninstall it and reinstall it?

[2021-06-08 13:16] pushrbx opened #18335 "[arrow] Zstd not being detected properly"
**Host Environment**
- OS: Linux 5.4.118-1-MANJARO (Arch variant)
- Compiler: gcc 10.2.0
- cmake version: 3.20.2

**To Reproduce**
Steps to reproduce the behavior:
- use the the following manifest in `vcpkg.json`:
[code]
- run `vcpkg install`

**Failure logs**
See attached:
[vcpkg-manifest-install.log](https://github.com/microsoft/vcpkg/files/6616654/vcpkg-manifest-install.log)
[config-x64-linux-d

[2021-06-08 13:27] nlogozzo commented on #18328
I removed the package and reinstalled it. This was the output
[code]

[2021-06-08 13:45] dg0yt commented on #18328
I didn't expect that the issue would go away. I just tried to understand where you take the include directory from. I suppose you should add something like `include\gtkmm-4.0\gtkmm` to your include path, and then use `include <gtkmm.h>`.

[2021-06-08 13:46] Bengt commented on #18008
Hi, @BillyONeal!

Please note, that your "us" (namely you / Microsoft) actually owns GitHub and its Actions feature.

Thank you for your hunch. The configuration of the VM environment for GitHub's pipelines is but way beyond my interests.

Yes, I think I would need to talk to GitHub's environment team more to clear up this issue. However, I found another package manager that actually works in GitH

[2021-06-08 13:46] #18008 closed

[2021-06-08 13:50] nlogozzo commented on #18328
I did that. However, gtkmm.h requires gdkmm.h so I have to include that folder, and then a bunch of other dependencies that gtkmm requires and I'm trying to find them all but it's not working out.

[2021-06-08 14:15] ocornut opened #18336 "Visual Studio integration only works when IDE version matches Toolchain version"
**Describe the bug**

I have variety of VS version installed. For this report I'll focus on VS 2015 Update 3 and VS 2019.

When project is setup to use v140 toolchain (VS2015): integration is available in VS2015.
Same project loaded in VS2019: the v140 toolchain is called, but vcpkg integration is not available.
Project needs upgrading to v142 toolchain (VS2019) to have vcpkg integration showing a

[2021-06-08 14:26] dg0yt commented on #18328
In general, these transitive dependencies can be resolved via pkg-config (pc files) or CMake config files.
I see `lib/pkgconfig/gtkmm-4.0.pc` in the log above.  From CMake, you can access this information via the functions provided by [FindPkgConfig](https://cmake.org/cmake/help/latest/module/FindPkgConfig.html), but it needs a `pkg-config` executable. (vcpkg downloads one for some maintainer func