[2020-08-08 08:47] OlafvdSpek commented on #12470
How is this not a bug?
I agree it might not be important but I don't get how it's not a bug.

[2020-08-08 10:04] psionic12 commented on #12389
Yes it does, and currently I use two machines for different operating system, I think it's acceptable to close this issue if no others occurs this problem.

[2020-08-08 10:09] QiuKejian opened #12813 "[vtk-dicom] find_package() can not find vtk-dicom"
When asking a question please also include where you looked for an answer (so we can update the documentation if needed).

I have keep running into the following error:
  [cmake]   Could not find a package configuration file provided by "vtkDICOM" with any
  [cmake]   of the following names:
  [cmake]
  [cmake]     vtkDICOMConfig.cmake
  [cmake]     vtkdicom-config.cmake

![image](https://user-ima

[2020-08-08 12:13] etheory opened #12814 "[llvm-10.0.0] build failure"
**Host Environment**
- OS: Windows 10 Home
- Compiler: Visual Studio Community 2019 - 16.7.0

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg.exe install llvm:x64-windows`

**Failure logs**
[code]

**Additional context**
Unsure how to solve this myself, but I've attached the following output for investigation:
[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/50

[2020-08-08 14:58] homedry opened #12815 "[libffi:x64-windows] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
Run 'vcpkg install libffi:x64-windows'

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
    libffi[core]:x64-windows
Detecting compiler hash for triplet x64-windows...
Starting package 1/1: libffi:x64-windows
Building package libffi[core]

[2020-08-08 15:30] ignacionr opened #12816 "Get our act together regarding _ underscores"
****

**Is your feature request related to a problem? Please describe.**
At some point back in 2017, you guys merged https://github.com/microsoft/vcpkg/pull/1773/commits/aef3577672b469ed915a7b0680d5e1ccf36347ed which explicitly allowed the use of '_' (underscore) as part of the package name. The code there was refactored into what is now:

https://github.com/microsoft/vcpkg/blob/master/toolsrc/src

[2020-08-08 16:10] StarGate-One commented on #12791
@LilyWangL Thank you very much! Have a wonderful weekend.

[2020-08-08 17:01] linquize opened #12817 "Visual Studio 2019 x64-Clang-Debug cannot Step Into most libraries"
Use Visual Studio 2019.6
Create a CMake project with vcpkg manifest mode.
Build the project and **Debug -> Start (F5)**
***x64-Clang-Debug*** cannot **Step Into (F11)** most below libraries, only **protobuf** can
***x64-Debug*** can **Step Into (F11)** all below libraries

CMakeSettings.json
[code]

vcpkg.json
[code]

CMakeLists.txt
[code]

main.cpp
[code]

[2020-08-08 20:02] strega-nil commented on #12470
It might be a "bug", but at worst it's chrono not supporting suspending VMs in the middle of execution. Given that it's just a helpful message...

[2020-08-08 20:16] Todd-Fulton opened #12819 "capnproto build fails with INTERNAL COMPILER ERROR"
Package: capnproto:x64-windows
  Vcpkg version: 2020.06.15-nohash

[code]

I believe this is the relevant section from the log file.

[code]

Before trying vcpkg I tried to compile version 0.8.0 as per the instructions on the site but I got the same problem with the same file (`compat/http.c++`), and probably the same line iirc in vs2019 community.

[2020-08-08 21:37] iiAndre opened #12820 "error with msys"
**Describe the bug**
when i try to install for example cpr i get this error :/
**Environment**
- OS: windows 10

**Failure logs**
error: mingw32: key "4A6129F4E4B84AE46ED7F635628F528CF3053E04" is unknown
error: key "4A6129F4E4B84AE46ED7F635628F528CF3053E04" could not be looked up remotely
error: msys: key "4A6129F4E4B84AE46ED7F635628F528CF3053E04" is unknown
error: key "4A6129F4E4B84AE46ED7F635628

[2020-08-08 21:38] FranciscoPombal opened #12821 "[boost-thread] release-only build failure on macOS 10.15"
**Host Environment**

- OS: macOS 10.15 from GitHub Actions
- Compiler: whichever one is included in XCode 11.6

**To Reproduce**

`./vcpkg install boost-thread:x64-osx-release --clean-after-build --overlay-triplets=triplets_overlay`

(or any package that depends on `boost-thread`, like `libtorrent`)

Contents of `triplets_overlay/x64-osx-release.cmake`:

[code]

**Failure logs**

Check out the ou

[2020-08-08 22:28] ignacionr opened #12822 "Let us use {fmt} as inspiration for refactoring base/strings.h"
****

**Is your feature request related to a problem? Please describe.**
https://github.com/microsoft/vcpkg/blob/master/toolsrc/include/vcpkg/base/strings.h
is somewhat chaotic; it could use 1) reorganization, 2) a check on correctness, 3) a check on performance and strategies.

**Proposed solution**
Use https://fmt.dev/latest/index.html as inspiration.

**Describe alternatives you've considered**

[2020-08-09 01:59] alberthdev commented on #4305
Confirming that adding -all directly to scripts\bootstrap.ps1 seems to fix the issue. I only have VS Tools 2019 installed, no full installs of VS anywhere. I'm not sure if this is a vswhere issue or just a patch we need to apply to vcpkg. I attached verbose bootstrap logs that could potentially provide some color.

[vcpkg_bootstrap.bad.log](https://github.com/microsoft/vcpkg/files/5046662/vcpkg_bo

[2020-08-09 02:11] patrolez opened #12823 "`vcpkg new` CLI command for new project initiation"
CLI as Command-line interface, not ~Common Language Infrastructure~.

****

**Is your feature request related to a problem? Please describe.**
I'm always frustrated when ... I have to every time create minimal "Hello World!" grade project with just CMakeLists.txt with basic filesystem organization and adjustments to make it working with `vcpkg`.

While using `dotnet` CLI I am glad to have `dotnet

[2020-08-09 06:11] vmiheer opened #12824 "[New Port Request] pdfium"
Library name: pdfium

Library description: Chromium pdf library

Source repository URL: https://pdfium.googlesource.com/pdfium/

[2020-08-09 08:33] DGQXP opened #12825 "[boost-compatibility] boost_LICENSE_1_0.txt download"
When asking a question please also include where you looked for an answer (so we can update the documentation if needed).
-- Using cached C:/dev/vcpkg/vcpkg-master/downloads/boostorg-compatibility-boost-1.73.0.tar.gz
-- Cleaning sources at C:/dev/vcpkg/vcpkg-master/buildtrees/boost-compatibility/src/ost-1.73.0-44642da97c.clean. Use --editable to skip cleaning for the packages you specify.
-- Extra

[2020-08-09 09:01] DGQXP commented on #12825
solved this problem

[2020-08-09 10:30] AlainMindana opened #12826 "[ffmpeg] build failure"
**Host Environment:**
- OS: Windows 10
- Compiler: revision

**To Reproduce:**
cd vcpkg
.\bootstrap-vcpkg.bat
.\vcpkg integrate install
.\vcpkg install ffmpeg:x64-windows

**Failure logs**

CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:72 (message):
    Command failed: C:/Users/Vins/Desktop/vcpkg/downloads/tools/msys2/msys64/usr/bin/bash.exe --noprofile --norc C:/Users/Vins/Des

[2020-08-09 10:54] Voskrese commented on #12826
![2020-08-09_185324](https://user-images.githubusercontent.com/10104740/89730504-c933db80-da71-11ea-9109-24fe760e5448.png)

[2020-08-09 10:56] Voskrese commented on #12826
![2020-08-09_185522](https://user-images.githubusercontent.com/10104740/89730534-0bf5b380-da72-11ea-8a71-54d100d51bf8.png)

[2020-08-09 11:05] Voskrese commented on #12820
describe all your actions, from the beginning of use vcpkg to the error

**all in detail !**

[2020-08-09 11:10] Voskrese commented on #12825
C:\Users\Nikolay\Desktop> `wget https://raw.githubusercontent.com/boostorg/boost/boost-1.73.0/LICENSE_1_0.txt`

C:\Users\Nikolay\Desktop> `vcpkg hash LICENSE_1_0.txt`

`d6078467835dba8932314c1c1e945569a64b065474d7aced27c9a7acc391d52e9f234138ed9f1aa9cd576f25f12f557e0b733c14891d42c16ecdc4a7bd4d60b8`

[2020-08-09 11:19] andyzimmerer commented on #11177
i don't know  the right terminal, Mac OS, json, or any app? I don't understand, the things make Siri with translator app shortcuts,json, and tools for the worker! I must go out in few minutes, maybe Siri do it or I must tomorrow wach agin

[2020-08-09 11:19] andyzimmerer commented on #11177
thank you

[2020-08-09 11:53] andyzimmerer commented on #12825
thank you

[2020-08-09 11:57] andyzimmerer commented on #12825
delete C:/dev/vcpkg/vcpkg-master/downloads/boost_LICENSE_1_0.txt and try again

[2020-08-09 15:36] acgetchell commented on #12676
Thanks for the fix!

[2020-08-09 17:57] virtualritz opened #12830 "[alembic] build failure"
**Host Environment**
- OS: macOS 10.15.6 (19G73)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install alembic`

**Failure logs**
[code]

**Additional context**
Log attached:
[install-x64-osx-dbg-out.log](https://github.com/microsoft/vcpkg/files/5048170/install-x64-osx-dbg-out.log)

[2020-08-09 18:26] gvcallen opened #12831 "[angle] x64-mingw-static build failure"
**Host Environment**
- OS: Windows
- Compiler: MinGW-8.1.0-x64

**To Reproduce**
Steps to reproduce the behavior:
vcpkg install angle:x64-mingw-static

**Failure logs**
vcpkg install angle:x64-mingw-static
Computing installation plan...
The following packages will be built and installed:
    angle[core]:x64-mingw-static
Detecting compiler hash for triplet x64-mingw-static...
Starting package 1/1:

[2020-08-09 18:36] gvcallen opened #12832 "[zlib:x64-mingw-static] build failure"
**Host Environment**
- OS: Windows
- Compiler: MinGW-8.1.0-x64

**To Reproduce**
Steps to reproduce the behavior:
vcpkg install zlib:x64-mingw-static

**Failure logs**
vcpkg install zlib:x64-mingw-static
Computing installation plan...
The following packages will be built and installed:
    zlib[core]:x64-mingw-static
Detecting compiler hash for triplet x64-mingw-static...
Starting package 1/1: zli

[2020-08-09 19:04] gvcallen opened #12833 "[tensorflow-cc] x64-mingw-static build failure"
**Host Environment**
- OS: Windows 10
- Compiler: MinGW-8.1.0-X64

**To Reproduce**
Steps to reproduce the behavior:
vcpkg install tensorflow-cc:x64-mingw-static

**Failure logs**
-- Warning: Building TensorFlow can take an hour or more.
CMake Error at scripts/cmake/vcpkg_execute_build_process.cmake:139 (message):
    Command failed: F:/Resources/Programming/DevTools/vcpkg/downloads/tools/msys2/ms

[2020-08-09 19:14] StarGate-One commented on #12823
Have you explored **`vcpkg create <pkg> <url> [archivename] create a new package`**?

[2020-08-09 19:22] StarGate-One commented on #12819
From experience in the past, you will need to open a support ticket with microsoft developer visual studio, per the instructions listed.

[2020-08-09 19:30] StarGate-One commented on #12815
Looks like `pkg-config.exe` is missing in your msys2 installation.
Try deleting or renaming the **`[vcpkg-root]\downloads\tools\msys2`** directory/folder and try again

[2020-08-09 19:31] patrolez commented on #12823
Nor <https://vcpkg.readthedocs.io/en/latest/specifications/manifests/>, nor <https://vcpkg.readthedocs.io/en/latest/examples/installing-and-using-packages/#cmake> indicates that it can be done this way.

I have tried to use that, but only new directory appeared in `vcpkg/ports/` which is not usable in terms of what I have had on my mind by introducing this topic.

`vcpkg create` it made for differ

[2020-08-09 19:38] StarGate-One commented on #12811
Have you tried **`vcpkg install port port port --only-downloads`** to download all the requested port packages and their dependencies then follow-up with **`vcpkg install port port port`** to actually install them?

[2020-08-09 19:59] StarGate-One commented on #12803
I do not see port a xrotor in vcpkg?
Please post the vcpkg command(s) and details involved.

[2020-08-09 20:12] #560 closed

[2020-08-09 20:15] StarGate-One opened #12834 "[vcpkg] upgrade action has no --x-use-aria2 option"
****

**Is your feature request related to a problem? Please describe.**
`vcpkg install port port port` allows you to use aria2c to download packages with `--x-use-aria2`
this option is not present in vcpkg upgrade action

**Proposed solution**
add `--x-use-aria2` to be used with vcpkg upgrade action

**Describe alternatives you've considered**
manually build scripts to vcpkg remove all upgraded p

[2020-08-09 20:19] joshuaxdmb commented on #12803
@StarGate-One perhaps this is the wrong place to post this, I wasn't sure. All Xrotor files and some information can be downloaded from here: http://web.mit.edu/drela/Public/web/xrotor/

[2020-08-09 20:53] StarGate-One commented on #12803
This github is for vcpkg, a c/c++ source code package manager and the sources that have been ported to be managed and installed with it.
If you are using msvc I suggesr seeking advice in one of the visual studio c/c++ developer forums.

[2020-08-09 21:45] Neumann-A commented on #12832
You need to adjust your `PATH` variable so that` find_program(PKGCONFIG pkg-config PATHS "bin" "/usr/bin" "/usr/local/bin")` does pickup the correct pkg-config.
Maybe VCPKG really requires a way to pass CMake variables via the cmd line.

[2020-08-09 21:46] Valakor commented on #12814
I believe I am seeing the same thing (I recently updated to VS 16.7.0). The culprit seems to be the following when compiling `RTDyldMemoryManager.cpp`:
`type_traits.h(181): error C2338: inconsistent behavior between llvm:: and std:: implementation of is_trivially_copyable`
[code]

[2020-08-09 21:48] Neumann-A commented on #12831
Qt will not be correctly configured for MinGW. Also unsure if you need angle for Qt with dynamic OpenGL.

[2020-08-09 21:50] Neumann-A commented on #12830
[code]

we all love `-Werror` don't we ?

[2020-08-09 21:52] Neumann-A commented on #12820
I think this is still an issue from the keyring update, so removing the cached msys version should solve it

[2020-08-10 02:17] NancyLi1013 commented on #10970
Hi @iwongdotcn
Thanks for posting this request.

tlx has been added to vcpkg now. Please try to update vcpkg to the latest version and use it.

[2020-08-10 02:20] PhoebeHui commented on #11818
@sphoto, it looks a different issue, could you report a seprate issue with repro steps and failures logs?

[2020-08-10 02:22] PhoebeHui commented on #12779
@OlafvdSpek, do you try the step that Voskrese provided? you can remove ./downloads/tools/msys2 folder and try to build it again.

[2020-08-10 02:24] PhoebeHui commented on #12815
@homedry, could you try the step that StarGate-One provided?

[2020-08-10 02:25] PhoebeHui commented on #12804
Duplicated to https://github.com/microsoft/vcpkg/issues/9964

[2020-08-10 02:25] #12804 closed

[2020-08-10 02:28] PhoebeHui commented on #12820
@iiAndre, could you remove ./downloads/tools/msys folder and try to build the port again?

[2020-08-10 02:37] PhoebeHui commented on #12821
Duplicated to https://github.com/microsoft/vcpkg/issues/8613

[2020-08-10 02:37] #12821 closed

[2020-08-10 03:20] JackBoosY commented on #12808
Please provide failure log _C:\Users\Jon\Documents\GitHub\vcpkg\buildtrees\opencv4\install-x64-windows-dbg-out.log_.

Thanks.

[2020-08-10 03:22] JackBoosY commented on #12823
Related: #9430

[2020-08-10 03:22] JackBoosY commented on #12811
You may need to use the argument `--only-downloads`.

[2020-08-10 03:46] AlainMindana commented on #12826
[build-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/5048980/build-x64-windows-dbg-out.log)

[2020-08-10 04:07] PhoebeHui commented on #12798
Duplicated to https://github.com/microsoft/vcpkg/issues/12830, which has build logs.

[2020-08-10 04:07] #12798 closed

[2020-08-10 05:55] JackBoosY commented on #12813
Confirmed.

[2020-08-10 06:04] PhoebeHui commented on #12803
@joshuaxdmb, please report an issue with repro steps to xrotor or https://developercommunity.visualstudio.com/ instead.

[2020-08-10 06:04] #12803 closed

[2020-08-10 06:07] JackBoosY commented on #12743
@quickiwiki
All tools installed in vcpkg are under _VCPKG_ROOT/downloads/tools_. and the cmake versions used on the different system are in [vcpkgTools.xml](https://github.com/microsoft/vcpkg/blob/master/scripts/vcpkgTools.xml).

[2020-08-10 07:05] JackBoosY commented on #12122
@Maju-Ketchup Could you open a PR to commit your changes?
That I can help you solve these problems.

[2020-08-10 07:10] NancyLi1013 commented on #12819
Hi @StarGate-One

Thanks for posting this issue.

This is a compiler bug on Visual Studio 2019. We have opened a bug to track this.

[2020-08-10 07:14] NancyLi1013 commented on #12822
Hi @ignacionr
Thanks for posting this issue.

@strega-nil
Could you please help take a look?

[2020-08-10 07:20] NancyLi1013 commented on #12812
Hi @MonySOEURN
Thanks for posting this issue.

Could you please help confirm if you have access to https://github.com/llvm/llvm-project/archive/llvmorg-10.0.0.tar.gz?

If yes, please download https://github.com/llvm/llvm-project/archive/llvmorg-10.0.0.tar.gz manually and place this archive to
_VCPKG_ROOT/downloads/_. Then try to rebuild this port.

[2020-08-10 07:23] gvcallen commented on #12831
Ah, what is the problem with its configuration?

As an aside, is there a way for me to install and setup "my own packages" into vcpkg? (in this case a personally-built Qt?)

[2020-08-10 07:28] Huang88888888Fei commented on #12811
@StarGate-One @JackBoosY Thank You! It does work! I think I should read a product manual before I use vcpkg. And if I want to learn more parameter usage, which document should I check? Thank you very much!

[2020-08-10 07:35] JackBoosY commented on #12811
@Huang88888888Fei Sadly, our documents are not complete and we will improve them in the future.

[2020-08-10 07:49] OlafvdSpek commented on #12779
I nuked the entire vcpkg directory and started from scratch..

[2020-08-10 07:50] Huang88888888Fei commented on #12811
Yeah, looking forward to it! Thank you again. I think I can close this issue.

[2020-08-10 07:52] NancyLi1013 commented on #12744
Sorry, this might be related with the path that CMakeLists.txt lists in.

If there is only one vcpkg instance on your machine, the path that `nlohmann_json` and` json5-parser `were installed should be the same. You can ignore this.

Could you please help confirm if `json5-parser-config.cmake` was in _C:/Users/jfilion/vcpkg/installed/x64-windows/share/json5-parser_?

Also please provide the log whe

[2020-08-10 07:53] JackBoosY commented on #12811
Please keep this issue open util we solve it.

[2020-08-10 07:54] JackBoosY commented on #12832
@Neumann-A Should we download pkgconfig automaticlly in `vcpkg_find_acquire_program`?

[2020-08-10 08:45] PhoebeHui commented on #12825
Double checked, the hash value is correct.

[2020-08-10 08:45] #12825 closed

[2020-08-10 08:48] DGQXP commented on #12825
thanks for your reply. It's my mistake, i already solved it. thanks again.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "microsoft/vcpkg"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020

[2020-08-10 08:51] JackBoosY commented on #9848
@bc913
_C:/Users/Román/Documents/Coding projects/TelegramWiper/td/vcpkg_
Please clone vcpkg in a path that does not contain non-ascii characters and spaces, then try again.

Thanks.

[2020-08-10 08:55] zzfnohell opened #12840 "[New Port Request] PJSIP (include PJSUA)"
Library name: PJSIP

Library description:

PJSIP is a free and open source multimedia communication library written in C language implementing standard based protocols such as SIP, SDP, RTP, STUN, TURN, and ICE. It combines signaling protocol (SIP) with rich multimedia framework and NAT traversal functionality into high level API that is portable and suitable for almost any type of systems ranging

[2020-08-10 09:04] NancyLi1013 commented on #12487
@jagrme00
Please let me know if this is still a problem for you now.

[2020-08-10 09:21] LilyWangL commented on #12826
@AlainMindana Thanks for posting this issue. I found this message in your log:
[code]
Could you please do as follow this log?

[2020-08-10 09:23] AlainMindana commented on #12826
Yes will do. Thank you.

[2020-08-10 09:37] NancyLi1013 commented on #12833
Hi @gvcallen
Thanks for posting this issue.

It seems that it is related with `bazel`.

[code]

Could you please refer to https://github.com/tensorflow/tensorflow/issues/30701?

[2020-08-10 10:26] samofoz commented on #11765
got this after the patches:

C:\vcpackage\vcpkg>vcpkg install ffmpeg[ffmpeg,x264]:x64-windows
Computing installation plan...
The following packages will be built and installed:
    ffmpeg[avresample,core,ffmpeg,gpl,x264]:x64-windows
  * x264[core]:x64-windows
Additional packages (*) will be modified to complete this operation.
Detecting compiler hash for triplet x64-windows...
Starting package 1/2

[2020-08-10 10:41] julianxhokaxhiu commented on #11765
@samofoz I'm currently using this patchset now https://github.com/julianxhokaxhiu/ffmpegCI/tree/master/patch

That post is "more or less" outdated now.

[2020-08-10 10:55] samofoz commented on #11765
Same problem with these patches:

C:\vcpackage\vcpkg>vcpkg install ffmpeg[ffmpeg,x264]:x64-windows --recurse
Computing installation plan...
The following packages will be rebuilt:
    ffmpeg[avresample,core,ffmpeg,gpl,x264]:x64-windows
The following packages will be built and installed:
  * x264[core]:x64-windows
Additional packages (*) will be modified to complete this operation.
Starting package

[2020-08-10 11:04] julianxhokaxhiu commented on #11765
You can't just update the x264 patch, you need also the one in `scripts/cmake` as the core issue is around how msys builds with make ( long story short, most of the software, including x264 thinks are building on Linux rather than on MINGW ). Update that and you'll get a valid build.

[2020-08-10 11:30] samofoz commented on #11765
Hi Julian,

I did copy both the patches. Check the logs carefully - the library is being compiled fine but the error seems to be during installation:

Library "x264" was not found! If it is a system library use the
SYSTEM_LIBRARIES parameter for the vcpkg_fixup_pkgconfig call! Otherwise,
correct the *.pc file

[2020-08-10 11:51] wagnrd opened #12842 "[New Port Request] Urho3D"
Library name: Urho3D

Library description: Cross-platform 2D and 3D game engine.

Source repository URL: https://github.com/urho3d/Urho3D

Project homepage (if different from the source repository): https://urho3d.github.io

Anything else that is useful to know when adding (such as optional features the library may have that should be included):
The versioning is a little bit weird. So the most re

[2020-08-10 12:18] patrolez commented on #12823
Hello. As @strega-nil was assigned I discovered a repo https://github.com/strega-nil/vcpkg-example which is the thing I was thinking about to be "generated" on anyone's local machine after using command like:
`vcpkg new --feature-flags=binarycaching,manifests --vcpkg-resolve-deps hello-world-fmt-example --ci-githubworkflow --cmake vcpkg-example`.

Where I assumed that:
1. `--feature-flags=binaryca

[2020-08-10 13:07] julianxhokaxhiu commented on #11765
I see, I'm personally building using `x86-windows-static` so it could be an issue regarding dynamic builds which I've never done before. I may check on that later but it's not under my targets atm. Sorry, can't help yet.

[2020-08-10 13:39] johnny-mueller opened #12844 ".\bootstrap-vcpkg.bat Error"
I proceed according to the following procedure:
[code]

I get the following error message after running the .bat file:
[code]

My installed packages from Visual studio installer:
Visual Studio Build Tools 2019 (16.7.0) incl. English lanuage packet
![grafik](https://user-images.githubusercontent.com/64581980/89788487-87616e80-db1f-11ea-8dbb-5c3f46af91a3.png)

Visual Studio Community 2019 (16.7.0) i

[2020-08-10 14:50] cristianadam commented on #12765
The problem has been fixed in 3.18.2 see https://gitlab.kitware.com/cmake/cmake/-/merge_requests/5094

[2020-08-10 15:25] virtualritz commented on #12830
So what is the solution? Why was this closed while this is still broken? Even if the breakage needs to be fixed upstream this should be kept open until it is.

[2020-08-10 16:14] ras0219 commented on #12636
For pieces that still require Msys, we can use a technique like in https://github.com/microsoft/vcpkg/pull/12626; download the packages directly and manually unpack them together instead of using `pacman`. Most (all?) of our observed msys instability comes from the package manager and silent updates, not from the actual binaries.

Obviously other solutions like busybox are fine too (and may be les

[2020-08-10 16:33] #12465 closed

[2020-08-10 16:44] strega-nil commented on #12816
The reason I don't want to allow both, at least personally, is then suddenly we have to deal with having both for names of projects -- should it be `directx-sdk` or `directx_sdk`? Rust had this exact issue, with their solution (<https://github.com/rust-lang/rfcs/blob/master/text/0940-hyphens-considered-harmful.md>) being to allow `-` in package names and convert them to underscores in Rust code (b

[2020-08-10 16:45] strega-nil commented on #12822
We can't. Package managers cannot, generally, have dependencies until such a point as we can ship binaries. We may reconsider, when vcpkg has a shipping binary that will allow us to bootstrap, but until that point this is unlikely to change.

[2020-08-10 17:04] strega-nil commented on #12823
@patrolez yeah, I like this! Would you be interested in working on it?

[2020-08-10 17:07] strega-nil commented on #12765
Oh, oof, fun.

[2020-08-10 17:09] strega-nil commented on #12834
@StarGate-One would you like to do this work? I can mentor you through it if you like.

[2020-08-10 18:25] rmillsTalon commented on #12832
Hi, I receiving this error too. The release check passed but not the debug. ...\vcpkg\packages\zlib_x86-windows\debug\lib\zlibd.lib does exist so maybe it is a problem in zlib.pc for debug?

Is there a workaround? I installed vcpkg less than an hour ago.

...
-- Fixing pkgconfig - release
-- Checking file: C:/dev/tools/vcpkg/packages/zlib_x86-windows/lib/pkgconfig/zlib.pc
-- Fixing pkgconfig - deb

[2020-08-10 20:31] dalboris opened #12847 "[harfbuzz] Missing INTERFACE_INCLUDE_DIRECTORIES for harfbuzz::harfbuzz target"
**Describe the bug**

Compiler complains that it cannot find `<hb.h>` despite installing harfbuzz with vcpkg, and linking to the target in CMake.

**Environment**
- OS: Windows 7 64bit
- Compiler: MSVC 2017 x64

**To Reproduce**

1. `vcpkg integrate install`
2. `vcpkg install freetype:x64-windows harfbuzz:x64-windows`

CMakeLists.txt:
[code]

main.cpp:
[code]

3. `cmake .. -G "Visual Studio 15 201

[2020-08-10 20:47] vejmartin commented on #12572
@ebraminio, I looked into updating `pango`, however, the `pango` port needs to be rewritten, as the configuration is now entirely covered by `meson`.

[2020-08-10 20:54] dalboris opened #12848 "Provide version string to ports that do not provide it in cmake"
Without using vcpkg, I usually have access library version in my CMakeLists, like so:

[code]

But, when using vcpkg, this doesn't seem to work. Here is an example with FreeType:

[code]

Output:

[code]

Is there any way to get those versions for packages installed and found with vcpkg?

[2020-08-10 20:59] dalboris commented on #12848
Note: as a workaround, I'm currently doing the following in my CMakeLists (finding and parsing freetype.h), which is a little bit convoluted:

[code]

[2020-08-10 21:32] Neumann-A commented on #12831
It doesn't know of mingw so another case must be added to pass mingw as a makespec.

You want to use `--overlay-ports=<pathtoyourportfolder>`. You probably also want to set env var `VCPKG_OVERLAY_PORTS`

[2020-08-10 21:33] dalboris commented on #12847
Here is a workaround that works for now (obviously, should be fine-tuned if you also need x32-windows, etc.)

[code]

[2020-08-10 22:37] StarGate-One commented on #12834
@strega-nil I am not sure I could take on a task of this scale with my limited knowledge of C/C++. I will think about it and let you know in a few days.

[2020-08-10 22:40] #12756 closed

[2020-08-10 23:05] #9851 closed

[2020-08-10 23:08] #12169 closed

[2020-08-11 00:12] PhoebeHui commented on #12779
That's fine, this issue has been fixed.

[2020-08-11 00:14] PhoebeHui commented on #12815
This issue has been fixed, if you try above steps, it should pass.

[2020-08-11 00:14] #12815 closed

[2020-08-11 00:15] PhoebeHui commented on #12820
This issue has been fixed, if you try above steps, it should pass.

[2020-08-11 00:15] #12820 closed

[2020-08-11 00:30] ignacionr commented on #12816
Thank you for the quick turnaround! By the way, do you guys have weekly meetings? Do you publish your conclusions somewhere?
I may have missed that info, don't mind RTFM as an answer.

[2020-08-11 00:48] PhoebeHui commented on #8613
The PR has been merged, pleasse get latest source and try agin.

[2020-08-11 00:48] #8613 closed

[2020-08-11 00:49] yuxiaoyang88 opened #12849 "[vcpkg_copy_tool_dependency] Call powershell function failed"
**Host Environment**
- OS: Win10
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg install protobuf:x64-windows`

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
    protobuf[core]:x64-windows
Detecting compiler hash for triplet x64-windows...
Starting package 1/1: protobuf:x64-windows
Building package protobuf[core]:

[2020-08-11 00:49] PhoebeHui commented on #7559
The PR has been merged, pleasse get latest source and try agin.

[2020-08-11 00:49] #7559 closed

[2020-08-11 00:54] #12561 closed

[2020-08-11 01:44] kapikantzari opened #12850 "[vxl:x64-osx] build failure"
**Host Environment**
- OS: MacOS

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install vxl`

**Failure logs**
`Starting package 12/12: vxl:x64-osx`
`Building package vxl[core]:x64-osx...`
`Could not locate cached archive:` `/Users/catherine/.cache/vcpkg/archives/c7/c78021fec5637ccdf298539ec08aca263050810c.zip`
`-- Downloading https://github.com/vxl/vxl/archive/dac1c7ed8e183e9c6de8b92

[2020-08-11 01:54] PhoebeHui commented on #12830
@virtualritz, it looks a source issue, could you report to https://github.com/alembic/alembic/issues instead?

I will add it to 'Supports' and with failure message in vcpkg.

[2020-08-11 02:29] JackBoosY commented on #12848
Because freetype doesn't provide its version.
Generally, the version is provided in `<PORT>-version.cmake`.

[2020-08-11 02:33] ignacionr commented on #12822
Oh! Zero dependencies is a lovely thing. I will go on and re-phrase this issue as the need to refactor the file and maybe borrow concepts from libraries such as {fmt}.

[2020-08-11 02:50] LilyWangL commented on #12844
Thanks for posting this issue. Could you install the following item and rerun `.\bootstrap-vcpkg.bat`?
![image](https://user-images.githubusercontent.com/47812810/89851949-52592880-dbc0-11ea-9efb-165bfb71222a.png)

[2020-08-11 03:00] JackBoosY commented on #12849
@yuxiaoyang88 I think this issue was fixed by my PR #12776, please update vcpkg and retry again.

Thanks.

[2020-08-11 03:11] andreabedini commented on #9026
Sad indeed. We had started with a build solution centered around vcpkg but might be pivoting away from it.

[2020-08-11 03:14] yuxiaoyang88 commented on #12849
----- 原始邮件 -----
发件人：Jack·Boos·Yu <notifications@github.com>
收件人：microsoft/vcpkg <vcpkg@noreply.github.com>
抄送人：于潇洋 <yuxiaoyang88@sina.com>,  Mention <mention@noreply.github.com>
主题：Re: [microsoft/vcpkg] [protobuf:x64-windows] build failure (#12849)
日期：2020年08月11日 11点00分

@yuxiaoyang88 I think this issue was fixed by my PR #12776, please update vcpkg and retry again.
Thanks.

—
You are receiving t

[2020-08-11 03:26] longnguyen2004 commented on #12636
One thing to note: The current busybox binary on [the site](https://frippery.org/busybox/) doesn't have `install`, so if someone wants to test it out, you should grab [the source](https://github.com/rmyorston/busybox-w32) and build it yourself

[2020-08-11 03:33] sumitkang opened #12852 "[zlib] build failure"
**Host Environment**
- OS: Windows
- Compiler: visual studio 2017

**To Reproduce**
Steps to reproduce the behavior:

.\vcpkg install ffmpeg

Error: Building package zlib:x86-windows failed with: BUILD_FAILED

log file
[config-x86-windows-out.log](https://github.com/microsoft/vcpkg/files/5054610/config-x86-windows-out.log)

[2020-08-11 05:11] johnny-mueller commented on #12844
My current installed packages from Visual studio installer:
Visual Studio Community 2019 (16.7.0) incl. English lanuage packet:
![grafik](https://user-images.githubusercontent.com/64581980/89859566-912bb600-dba1-11ea-91cf-402904fc2177.png)
@LilyWangL

Visual Studio Build Tools 2019 (16.7.0) incl. English lanuage packet
![grafik](https://user-images.githubusercontent.com/64581980/89859598-a6084980-

[2020-08-11 05:40] JackBoosY commented on #12849
@yuxiaoyang88 Could you provide log _D:\C\vcpkg\buildtrees\protobuf\copy-tool-dependencies-err.log_ ?

[2020-08-11 05:53] ebraminio commented on #12572
Ok, maybe you can pick up the patch? Hopefully that makes it work.

[2020-08-11 06:52] shazgames opened #12853 "[openssl:x64-windows openssl:x86-windows] build failure"
**Host Environment**
- OS: Windows
- Compiler: cmake version 3.15.3

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg.exe install openssl:x64-windows openssl:x86-windows`

**Failure logs**
CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:72 (message):
    Command failed: nmake -f makefile install_sw install_ssldirs
    Working Directory: C:/src/vcpkg/buildtrees/openssl-win

[2020-08-11 06:56] LilyWangL commented on #10597
Duplicate with #9392.

[2020-08-11 06:56] LilyWangL commented on #12844
Duplicate with #9392.

[2020-08-11 07:05] LilyWangL commented on #12852
Thanks for posting this issue. I cann't find error message in your config log, could you please provide the `stdout-x86-windows.log` and `install-x86-windows-dbg-out.log`?

[2020-08-11 07:08] MonySOEURN commented on #12812
Noted with Thanks,
I have successfully download it after I tried 3 times.

[2020-08-11 07:08] #12812 closed

[2020-08-11 07:19] NancyLi1013 commented on #12850
Hi @kapikantzari
Thanks for posting this issue.

I submitted a PR to update the patch.
Could you please help confirm if the new patch can woke fine?

[2020-08-11 07:19] johnny-mueller commented on #12844
@LilyWangL Is there at the moment a workaround or a solution for that issue?

[2020-08-11 07:23] shazgames commented on #12853
Fixed by using windows cmd. Error was due using git bash

[2020-08-11 07:23] #12853 closed

[2020-08-11 07:23] sumitkang commented on #12852
[stdout-x86-windows.log](https://github.com/microsoft/vcpkg/files/5055367/stdout-x86-windows.log)
[install-x86-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/5055369/install-x86-windows-dbg-out.log)

@LilyWangL  Thanks , i have uploaded the logs

[2020-08-11 07:34] longnguyen2004 commented on #12636
What ports are still using sh-based build systems in vcpkg? I wanna do a test on all of them to determine if it's viable to switch to busybox

[2020-08-11 07:34] OlafvdSpek commented on #12779
But existing instances don't recover automatically..

[2020-08-11 07:41] yuxiaoyang88 commented on #12849
----- 原始邮件 -----
发件人：Jack·Boos·Yu <notifications@github.com>
收件人：microsoft/vcpkg <vcpkg@noreply.github.com>
抄送人：于潇洋 <yuxiaoyang88@sina.com>,  Mention <mention@noreply.github.com>
主题：Re: [microsoft/vcpkg] [protobuf:x64-windows] build failure (#12849)
日期：2020年08月11日 13点41分

@yuxiaoyang88 Could you provide log D:\C\vcpkg\buildtrees\protobuf\copy-tool-dependencies-err.log ?

—
You are receiving this b

[2020-08-11 08:07] LilyWangL commented on #12844
We will confirm this issue soon.

[2020-08-11 08:13] JackBoosY commented on #12849
@yuxiaoyang88 Seems you didn't attch log in your comment?

[2020-08-11 08:16] JackBoosY commented on #12636
@longnguyen2004 You can find using the keyword `vcpkg_configure_make`,  `vcpkg_find_acquire_program(MSYS)` and `vcpkg_find_acquire_program(YASM)`.

[2020-08-11 08:16] yuxiaoyang88 commented on #12849
----- 原始邮件 -----
发件人：Jack·Boos·Yu <notifications@github.com>
收件人：microsoft/vcpkg <vcpkg@noreply.github.com>
抄送人：于潇洋 <yuxiaoyang88@sina.com>,  Mention <mention@noreply.github.com>
主题：Re: [microsoft/vcpkg] [protobuf:x64-windows] build failure (#12849)
日期：2020年08月11日 16点14分

@yuxiaoyang88 Seems you didn't attch log in your comment?

—
You are receiving this because you were mentioned.
Reply to this e

[2020-08-11 08:20] JackBoosY commented on #12849
[code]
@strega-nil @ras0219-msft can you please take a look? Our `applocal.ps1` seems have bugs,

[2020-08-11 08:27] micmatsch opened #12855 "[libpq:x86-windows-static] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: MS Visual Studio 2017

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install poco:x86-windows-static` fails at dependency `libpq:x86-windows-static`

**Failure logs**
[code]

Attached log: [build-libpq-x86-windows-static-RELEASE-out.log](https://github.com/microsoft/vcpkg/files/5055612/build-libpq-x86-windows-static-RELEASE-out.log)

R

[2020-08-11 08:28] yuxiaoyang88 commented on #12849
----- 原始邮件 -----
发件人：Jack·Boos·Yu <notifications@github.com>
收件人：microsoft/vcpkg <vcpkg@noreply.github.com>
抄送人：于潇洋 <yuxiaoyang88@sina.com>,  Mention <mention@noreply.github.com>
主题：Re: [microsoft/vcpkg] [protobuf:x64-windows] build failure (#12849)
日期：2020年08月11日 16点21分

FailFast:Infinite recursion during resource lookup within System.Private.CoreLib.  This may be a bug in System.Private.CoreLib,

[2020-08-11 08:32] LilyWangL commented on #12844
@johnny-mueller Could you please provide all output of ".\bootstrap-vcpkg.bat" with VCPKG? Thanks.

[2020-08-11 08:36] LilyWangL commented on #12852
Closed as duplicate of #12709.

[2020-08-11 08:36] #12852 closed

[2020-08-11 08:39] johnny-mueller commented on #12844
@LilyWangL
[code]

[2020-08-11 08:41] sumitkang commented on #12852
@LilyWangL  i am new to this forum so basically it ,means it would be fixed  soon ?

[2020-08-11 08:45] dalboris commented on #12848
What do you mean exactly by "freetype doesn't provide its version"? The version is in the freetype.h header, and the [FindFreetype](https://cmake.org/cmake/help/latest/module/FindFreetype.html) module built-in CMake provides a FREETYPE_VERSION. So I think the freetype-config.cmake file provided by vcpkg and any other config file provided by vcpkg) should also provide an easy way to get its version

[2020-08-11 08:52] JackBoosY commented on #12848
@dalboris That is provided by cmake instead of freetype. And `freetype-config.cmake` and other cmake files generated by freetype itself, that is what I said `freetype doesn't provide its version`.
So I think that's a upstream issue, could you report it to freetype?

Thanks.

[2020-08-11 08:54] LilyWangL commented on #12844
Thanks for your reply. You should not install vcpkg in _C:\Windows\System32\_. You will never ever have enough privileges to use a build-system. Install vcpkg to the root of any drive, but preferably not on _C:_. Also, don't put it in a path with spaces in it.

[2020-08-11 09:04] johnny-mueller commented on #12844
@LilyWangL Thanks for the advice. It works like a charm.

[2020-08-11 09:04] #12844 closed

[2020-08-11 09:13] NancyLi1013 commented on #12632
Hi @aspioupiou

In my opinion, this issue should be solved now. So I'm closing this issue for now.

For the issue that builds on Windows, we can track it here #11765.

[2020-08-11 09:13] #12632 closed

[2020-08-11 09:14] LilyWangL commented on #12852
The issue #12709 will confirm a workaround to fix this error, so please pay attention to the progress of issue #12709.

[2020-08-11 09:20] traversaro commented on #10119
Thanks, that is indeed a convenient feature. For some corner use cases (such as distributing a ready to use archive with vcpkg + some repo of custom ports) the file variant was more convenient, but the env variable can be used instead with some tricks. In any case, before closing this issue it could make sense to explicitly document that once you install a port from a overlay you need to always ke

[2020-08-11 09:20] dalboris commented on #12848
@JackBoosY I still don't understand what you mean by "That is provided by cmake instead of freetype". In my book, freetype does provide a version, and the built-in FindFreetype module of CMake just reads it. Here is content from [`freetype.h`](https://github.com/LuaDist/freetype/blob/8ea348e2a05d272f39aa851c3e8272acd3e80869/include/freetype/freetype.h#L3833):

[code]

The issue is specifically wit

[2020-08-11 09:28] dalboris commented on #12848
Note in case this was unclear: I want to have access to `FOOBAR_VERSION` in my CMakeLists.txt, not in my C/C++ code.

[2020-08-11 09:44] JackBoosY commented on #12848
FindFreetype.cmake -> https://github.com/Kitware/CMake/blob/master/Modules/FindFreetype.cmake
Export-related cmake codes:
_FREETYPE_SOURCE/CMakeList.txt_ line 566:
[code]
Usually, when using `install(EXPORT)`, we also need [write_basic_package_version_file](https://cmake.org/cmake/help/v3.4/module/CMakePackageConfigHelpers.html#generating-a-package-version-file) or reserve a `*-version.cmake.in` t

[2020-08-11 09:49] JackBoosY commented on #12848
Example:
- https://github.com/OSGeo/PROJ/blob/master/cmake/project-config-version.cmake.in
- https://github.com/uriparser/uriparser/blob/b047fc5db5b848b4d5a44dcb7ee91e4f1cba987f/CMakeLists.txt#L369

[2020-08-11 09:59] PhoebeHui commented on #12847
@dalboris, I thinkl this is expected, you need use #include <harfbuzz/hb.h> when you use harfbuzz headers. since all headers installed to ./include/harfbuzz folder.

[2020-08-11 10:04] dalboris commented on #12847
Hum... no, here is from the manual:

https://harfbuzz.github.io/ch03s03.html

[code]

I haven't seen a single source file using `<harfbuzz/hb.h>` instead.

[2020-08-11 10:21] GPSnoopy commented on #12832
@rmillsTalon I have the same issue with bzip2 on x64-windows-static.

[2020-08-11 10:34] dalboris commented on #12848
Oh, I see! So you're saying that the freetype-config.cmake file provided by vcpkg isn't actually generated/designed by vcpkg, but comes from freetype? (Question 1)

More specifically, are you saying that in freetype-2.10.2/CMakeLists.txt#L546, if instead of:

[code]

There was:

[code]
Then there would auto-magically be a `FREETYPE_VERSION_STRING` CMake variable available after finding the package

[2020-08-11 11:41] Neumann-A commented on #12636
PR #9966

[2020-08-11 12:08] FranciscoPombal commented on #8613
@PhoebeHui works fine now, thanks!

[2020-08-11 12:41] dalboris commented on #12848
FYI: I reported this upstream: https://savannah.nongnu.org/bugs/index.php?58935

[2020-08-11 13:31] linquize commented on #10597
No, it is not duplicate issue. The error is in powershell, not about compiler

[2020-08-11 13:33] linquize commented on #12636
Why related to #9966?

[2020-08-11 14:17] erikyuzwa commented on #4273
upvoting this if possible :+1:

[2020-08-11 14:50] strega-nil commented on #12822
Maybe it's a good plan for the future, but it's definitely not the first thing on our plate. if you would like to, I'd be interested in seeing the work!

[2020-08-11 16:35] jlfilion commented on #12744
Hi Nancy,
Sorry about the delayed response. Technically, I'm on vacation this week (stripping wallpaper upstairs :( ). I checked for the json5-parser-config.cmake file in that directory and it does exist. I'm also including the CMake log. The odd thing about that (at least to me) is that that log doesn't have anything about the json5 parser failing.

[CMakeOutput.log](https://github.com/microsoft/

[2020-08-11 19:35] andyzimmerer commented on #12855
[]()

[2020-08-11 19:50] ig-or commented on #12765
Will do this after they will officially release it. Lets wait a little bit.   Current release is 3.18.1

[2020-08-11 23:19] ignacionr commented on #12816
Today I found an interesting **argument against the use of ```-```**.

- One way of helping cmake find a package, is by setting an environment value with the name of the package and ```PATH``` appended.

- Environment variables **cannot** contain dashes (they follow C symbol rules). [related stack exchange question](https://unix.stackexchange.com/questions/23659/can-shell-variable-name-include-a-h

[2020-08-11 23:40] tetsuh commented on #8613
@PhoebeHui It works fine. Great.  Thank you.

[2020-08-11 23:49] dalboris commented on #12848
I actually realized that even when FreeType is installed via vcpkg, we can simply do `find_package(Freetype REQUIRED)` instead of `find_package(freetype CONFIG REQUIRED)`. This will use the built-in CMake FindFreetype module, but it will still find the vcpkg-installed FreeType, with the following differences:

- The imported target will be `Freetype::Freetype` instead of `freetype` (which I prefer

[2020-08-11 23:54] tetsuh commented on #12799
What about reopening and merging PR #12772 to fix this issue quickly ?
In my environment #12772 is working just fine, and a similar change was made for pcre in #12629.

[2020-08-12 02:07] davidhunter22 opened #12862 "Versioning policy"
Is there a versioning policy for VCPKG?

I notice that there are tags of the 2020.04 form but they seem to occur fairly randomly in that some months have one and some don't and when they appear during or sometimes after the month indicated by the tag is unclear.

So in general is there any policy around creating tags? There was an issue https://github.com/microsoft/vcpkg/issues/10569 that talked a

[2020-08-12 02:13] JackBoosY commented on #12765
I can't repro this issue after I installed cmake 3.18.1 on my machine.

[2020-08-12 03:07] JackBoosY commented on #12848
For questions:
1. Yes, freetype should provide it by itself.
2. `${PORT}_VERSION_STRING` is always provided by `*-config-version.cmake` or `Find*.cmake`. If you use `write_basic_package_version_file` in `CMakelists.txt`, cmake will automatically generate `*-config-version.cmake`.
3. So far, vcpkg does not provide this string, but I think for some ports that do not have this string, vcpkg should be

[2020-08-12 03:10] JackBoosY commented on #12848
Since freetype's CMakelists.txt is maintained by its official, we believe that the cmake files generated by itself are more **reasonable** and **stable** than using FindFreetype.cmake. This is why FindFreetype.cmake is deprecated.

[2020-08-12 03:48] qimenlang commented on #12832
delete vcpkg_fixup_pkgconfig

[2020-08-12 04:42] Taeyeong201 opened #12865 "[libepoxy:x64-windows] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: MSVC 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install libepoxy:x64-windows`

**Failure logs**
[code]

[config-x64-windows-dbg-err.log](https://github.com/microsoft/vcpkg/files/5060657/config-x64-windows-dbg-err.log)
[config-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/5060658/config-x64-windows-dbg-out.l

[2020-08-12 05:21] cgolchert commented on #12832
zlib error from trying to install openvdb[tools]

  CMake will not be able to correctly generate this project.
Call Stack (most recent call first):
  CMakeLists.txt:4 (project)

-- Configuring incomplete, errors occurred!
See also "C:/dev/vcpkg/buildtrees/zlib/x64-windows-rel/CMakeFiles/CMakeOutput.log".
See also "C:/dev/vcpkg/buildtrees/zlib/x64-windows-rel/CMakeFiles/CMakeError.log".
[2/2] cmd /

[2020-08-12 05:59] PhoebeHui commented on #11210
Duplicated to https://github.com/microsoft/vcpkg/issues/11525.

[2020-08-12 05:59] #11210 closed

[2020-08-12 06:21] NancyLi1013 commented on #9836
This issue might be fixed by upstream https://github.com/qhull/qhull/pull/76.

[2020-08-12 06:54] PhoebeHui commented on #12779
Sorry @OlafvdSpek, I will try to improve this.

[2020-08-12 07:08] JackBoosY commented on #10067
Please reopen this issue if it still bothers you.

[2020-08-12 07:08] #10067 closed

[2020-08-12 07:10] Voskrese commented on #12865
open `cmd.exe`
run `chcp`

?

[2020-08-12 07:11] JackBoosY commented on #12443
Finally I catched this issue,
That's because other ports (such as boringssl) will cause openssl-windows to skip the build, resulting in openssl.exe not being generated, which leads to this issue.

[2020-08-12 07:14] JackBoosY commented on #12443
Please remove libressl and boringssl and rerun again.

[2020-08-12 07:25] arkaprabha-majumdar opened #12868 "[python3] build failure"
Please help me with this. I'm unsure what to do.
![Screenshot from 2020-08-12 12-51-42](https://user-images.githubusercontent.com/57062313/89987041-029b5f80-dc9b-11ea-9c0d-2aedd90423f1.png)

[2020-08-12 07:48] longnguyen2004 commented on #12832
This was fixed in PR https://github.com/microsoft/vcpkg/pull/12753, please update vcpkg by using `git pull` and try again

[2020-08-12 07:56] PhoebeHui commented on #12847
@dalboris, right, double confrimed, this is a port bug, I will fix this issue.

Good catch! @dalboris.

[2020-08-12 08:32] Taeyeong201 commented on #12865
"chcp" output 949
But I type "chcp 65001".
I reinstalled vcpkg from scratch and installed libepoxy, but
I have the same error

[vcpkg_install_libepoxy_error.txt](https://github.com/microsoft/vcpkg/files/5061494/vcpkg_install_libepoxy_error.txt)

[2020-08-12 08:34] PhoebeHui commented on #12868
@arkaprabha-majumdar, could you try below steps:

1. Download https://github.com/python/cpython/archive/v3.8.3.tar.gz manually
2. Put it to ./vcpkg/downloads folder
3. Rename it to 'python-cpython-v3.8.3.tar.gz'
4. Try to install the port again

[2020-08-12 08:46] NancyLi1013 commented on #8870
Hi @str4d
I cannot reproduce this issue on my local with long path.
So I'm closing this issue for now. Please feel free to reopen this if it is still a problem for you.

[2020-08-12 08:46] #8870 closed

[2020-08-12 09:07] LilyWangL commented on #12865
Thanks for posting this issue. Do you install English language package on Visual Studio Installer? I found Korean warning in you install log.

[2020-08-12 09:10] PhoebeHui commented on #12847
@dalboris, thanks for reporting this issue!

I have summited PR #12871 to fix this issue.

[2020-08-12 09:19] TheVeryDarkness opened #12872 "How do I integrate PowerShell"
When asking a question please also include where you looked for an answer (so we can update the documentation if needed).

I can't integrate PowerShell, though I have installed one, whose version is exactly 6.2.1. It seems vcpkg can't find my PowerShell.

I wanna know how to specify the PowerShell path.

![QQ图片20200812171305](https://user-images.githubusercontent.com/50262419/89997886-5b7cef00-dcb

[2020-08-12 10:34] Taeyeong201 commented on #12865
I checked that the English language pack was installed,
I erased the Korean language pack and rebooted it.

And I tried installing vcpkg and libepoxy from the beginning, but it is the same error.
[vcpkg_install_libepoxy_error_2.txt](https://github.com/microsoft/vcpkg/files/5062020/vcpkg_install_libepoxy_error_2.txt)

I got a Unicode format warning on file "\vcpkg\toolsrc\src\vcpkg\export.prefab.cp

[2020-08-12 12:05] sfhacker commented on #12443
I may be wrong, but does PostgreSQL use BoringSSL?
Why vcpkg gets confused? There is no relationship between all three independent projects, as far as I can see!
I mean, if I have BoringSSL installed then I cannot install OpenSSL nor PostgreSQL?
Sorry, I have never had the need to use this project (vcpkg) to build different applications so I do not know how it works in detail.

[2020-08-12 12:47] sfhacker commented on #12849
Any news/update on this issue?

We have just downloaded master branch and built it from source under MinGW on Windows 10 x64.

![image](https://user-images.githubusercontent.com/25817529/90016724-ca713c80-dced-11ea-8549-d21024e1c5de.png)

[2020-08-12 12:47] dalboris commented on #12848
Thank you for your patience and answering my questions, everything seems clear now.

[2020-08-12 12:53] dalboris commented on #12847
@PhoebeHui Thanks a lot! I'm not familiar with vcpkg's inner workings but the PR does look great as far as I can tell :)

[2020-08-12 12:59] davidbun commented on #11601
Any update on this issue? Still no visualization folder in include files

[2020-08-12 13:03] sfhacker commented on #12855
Any news/update on this open issue?

We use MinGW to build many applications.

![image](https://user-images.githubusercontent.com/25817529/90018183-e1b12980-dcef-11ea-9d5b-5d851ce073fc.png)

[2020-08-12 13:29] MaximeEngel opened #12874 "[boost-math:x64-windows] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: MSVC 2017

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install boost-math:x64-windows`

**Failure logs**
[code]

[2020-08-12 14:09] Huang88888888Fei commented on #12443
I did not install these two things, only openssl and openssl-windows. The same error still occurs.

[2020-08-12 14:21] sfhacker commented on #12443
@Huang88888888Fei @shunshizhechang Have you tried building libpq **without** using vcpkg?
Let us know if we can be of any assistance.

[2020-08-12 14:55] jgehw commented on #7853
@Freeverc your comment is out of topic here because you cannot build the tensorflow-cc vcpkg. This issue however is about not being able to build VC projects using tensorflow-cc once the tensorflow-cc vcpkg has been successfully built. Concerning your issue, please check if it is a duplicate of #12506 which I solved via PR #12546

[2020-08-12 15:10] dalboris commented on #12848
I am trying to write a patch upstream for FreeType, using write_basic_package_version_file(). Does vcpkg care where is the freetype-config-version.cmake file generated?

When I run `mkdir build && cd build && cmake ..` on the current freetype source, I see that the following files are generated:

[code]

And if I add the following to the freetype2\CMakeLists.txt:

[code]

Then running cmake again

[2020-08-12 15:55] iiAndre commented on #12820
i will try thanks

[2020-08-12 15:59] iiAndre commented on #12820
downloading mingw64.db...
downloading mingw64.db.sig...
error: mingw64: key "4A6129F4E4B84AE46ED7F635628F528CF3053E04" is unknown
error: key "4A6129F4E4B84AE46ED7F635628F528CF3053E04" could not be looked up remotely
error: failed to update mingw64 (invalid or corrupted database (PGP signature))
downloading msys.db...
downloading msys.db.sig...
error: msys: key "4A6129F4E4B84AE46ED7F635628F528CF305

[2020-08-12 15:59] iiAndre commented on #12820
still got this

[2020-08-12 16:02] kapikantzari commented on #12850
Hi @NancyLi1013
Thanks for your reply.
vcpkg still gives me the same error message. Has the new patch been applied yet?

[2020-08-12 16:05] dalboris commented on #12848
Just adding a link to this helpful resource, for anyone reading this thread and as confused as I was about *-config-version.cmake:

https://cliutils.gitlab.io/modern-cmake/chapters/install/installing.html

[2020-08-12 17:20] strega-nil commented on #12862
This is definitely a thing we've been discussing; we don't have an answer yet. Hopefully once we have shipping binaries, we can discuss this further, but until that point it's likely that we won't have a good versioning story. That means probably by end-of-year. Unfortunately, this requires quite a lot of effort and time; we are currently working on it, however.

[2020-08-12 17:23] #12763 closed

[2020-08-12 17:54] davidhunter22 commented on #12862
Is it possible to at least carry on doing the monthly tags whenver you think the project is in a reasonable shape, with no gaurantees, in the mean time?

[2020-08-12 18:00] davidhunter22 commented on #12862
Note that I feel that versioning is more of an issue for vcpkg in it's current form than say NuGet. I generally don't care much what version of NuGet I am running as the versions of the libraries I use via NuGet are independent. If vcpkg evolves into this model eventually then I probably won't care so much about the version of vcpkg.exe that I am running either. In other words the tight coupling o

[2020-08-12 18:25] strega-nil commented on #12862
Quite. I'll see what I can do.

[2020-08-12 19:13] Neumann-A commented on #11601
Upstream progress is tracked in https://github.com/PointCloudLibrary/pcl/pull/4262
If you want updates subscribe to that PR or ask question there.

[2020-08-12 21:48] kingdevnl opened #12879 "[New Port Request] <QuickJS>"
Library name:
QuickJS
Library description:
QuickJS is a small and embeddable Javascript engine. It supports the ES2020 specification including modules, asynchronous generators, proxies and BigInt.

Source repository URL:
https://github.com/horhof/quickjs
Project homepage (if different from the source repository):
https://bellard.org/quickjs/
Anything else that is useful to know when adding (such a

[2020-08-12 22:16] Voskrese commented on #12448
in port file

`vcpkg_add_to_path($ENV{CUDA_PATH}/bin)` or `vcpkg_add_to_path($ENV{CUDA_PATH_V10_0}/bin)` or `...`

[code]

[2020-08-12 22:36] cgolchert commented on #12832
pretty sure it wasn't.

[zlib.txt](https://github.com/microsoft/vcpkg/files/5066262/zlib.txt)

[2020-08-12 23:12] cgolchert opened #12882 "boost-regex:x64-windows build failure"
**Host Environment**
Win10
VS2015 u3

**To Reproduce**
Steps to reproduce the behavior:
cause from -> `./vcpkg install boost-uuid`

**Failure logs**

Error: Building package boost-regex:x64-windows failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `.\vcpkg update`, then
submit an issue at https://github.com/Microsoft/vcpkg/issues including:
  Package: boost-regex:x64-w

[2020-08-13 00:59] byxrolland opened #12883 "[vtk] build failure"
**Host Environment**
- OS: [Windows]
- Compiler: cl

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install vcpkg install vtk[all]:x64-windows`

**Failure logs**
Console output:

[code]

In "C:\vcpkg\buildtrees\vtk\config-x64-windows-out.log":
[code]

[2020-08-13 01:45] NancyLi1013 commented on #12850
@NancyLi1013
Since this PR has not been merged yet to master.
You need to manually update the patch or rebuild this port based on PR #12854.

[2020-08-13 02:12] longnguyen2004 commented on #12832
@cgolchert Seems like you're missing `gdi32.lib` somehow, which is not what this issue is about. I recommend you to open another issue
@rmillsTalon Can you please test with latest vcpkg?

[2020-08-13 02:43] bc913 commented on #9848
I've been using C:/dev/vcpkg path and English Language pack is already installed but I've just cloned and followed the steps again anyways.

It still fails with the same errors. [#12771](https://github.com/microsoft/vcpkg/issues/12771)

Thanks

[2020-08-13 02:45] LilyWangL commented on #12865
Thanks for your reply. Could you try to tick a "Use Unicode UTF-8 for worldwide language support", box in "Region & Language" - "Administrative" - "Change system locale" - "Region Settings".
![image](https://user-images.githubusercontent.com/47812810/90088626-f7efd180-dd51-11ea-9350-6e4bab0383ae.png)
Then clone VCPKG and install libepoxy again. Thanks.

[2020-08-13 03:03] louga31 opened #12887 "[imgui:x64-windows] build failure"
**Host Environment**
- OS: Windows 10 Enterprise 2004
- Compiler: MSVC 14.27.29110
- Vcpkg version: 2020.06.15-nohash
- Vulkan SDK: 1.2.148.1

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install imgui[*]`

**Failure logs**
[code]

D:\vcpkg\buildtrees\imgui\install-x64-windows-dbg-out.log:
[code]

[2020-08-13 03:27] PhoebeHui commented on #12874
Duplicated to https://github.com/microsoft/vcpkg/issues/8199

[2020-08-13 03:27] #12874 closed

[2020-08-13 03:46] Taeyeong201 commented on #12865
Amazing!!!
from installing vcpkg to installing libepoxy, there was no warning, no error.
So I solved the problem.

Thanks a million.
Thanks a bunch.
I really appreciate it.
I can’t thank you enough.
I don’t have the words to thank you for this.

[2020-08-13 03:46] #12865 closed

[2020-08-13 05:00] FishHe opened #12888 "[lapack] build failure"
After #12805 ， the lapack can not be built.

[1/2] cmd /c "cd ../../x64-windows-static-md-dbg && "C:/Program Files/CMake/bin/cmake.exe" "D:/vcpkg/buildtrees/lapack-reference/src/v3.8.0-954f10683f.clean" "-DUSE_OPTIMIZED_BLAS=OFF" "-DCBLAS=OFF" "-DCMAKE_GNUtoMS=ON" "-DCMAKE_Fortran_COMPILER=D:/vcpkg/downloads/tools/msys2/msys64/mingw64/bin/gfortran.exe" "-DCMAKE_C_COMPILER=D:/vcpkg/downloads/tools/

[2020-08-13 05:29] Neumann-A commented on #12888
`"-DCMAKE_MAKE_PROGRAM=C:/Program Files (x86)/Microsoft Visual Studio/2019/Enterprise/Common7/IDE/CommonExtensions/Microsoft/CMake/Ninja/ninja.exe"` is the problem. It is not using ninja from vcpkg

[2020-08-13 05:47] JackBoosY commented on #12849
@sfhacker Please use this workaround: copy `libprotoc.dll` and `libprotobuf.dll` to _VCPKG_ROOT/installed/x64-windows/tools/protobuf_ manually, and try again.

[2020-08-13 05:48] JackBoosY commented on #12849
Please use powershell instead.

[2020-08-13 05:53] JackBoosY commented on #12443
It seems to be caused by other reasons, I need to investigate more deeply.

[2020-08-13 05:56] JackBoosY commented on #12148
Please use the following workaround:
https://github.com/microsoft/vcpkg/issues/12865#issuecomment-673216071

[2020-08-13 05:57] JackBoosY commented on #12848
@dalboris Just install it to `${CONFIG_INSTALL_PATH}`, which is the same as other cmake files.

[2020-08-13 05:59] NancyLi1013 commented on #11525
Hi all,
@xiaoxi-li @carnoxen @luojia65

Could you please try the workaround https://github.com/microsoft/vcpkg/issues/12865#issuecomment-673216071?

[2020-08-13 06:11] niitsuma commented on #12620
How to remove dependency cuda ( like gennto linux USE="-cuda" )
-without-cuda  resolves many problems in vision and machine learning codes

[2020-08-13 06:20] NancyLi1013 commented on #12744
Thanks for your update. It seems there is no any error in your build log.

Could you please provide the log generated by executing `cmake .. -DCMAKE_TOOLCHAIN_FILE=C:/Users/jfilion/vcpkg/scripts/buildsystems/vcpkg.cmake`?

The following logs are from my project:
[code]

[2020-08-13 06:27] NancyLi1013 commented on #12696
@zth1001

Does this issue still exist on your local?

[2020-08-13 06:38] NancyLi1013 commented on #12389
Considering this special case and I cannot reproduce it. So I'm closing this issue for now.

Please feel free to reopen it if anyone else also happens the same problem.

[2020-08-13 06:38] #12389 closed

[2020-08-13 06:42] PhoebeHui commented on #12868
@arkaprabha-majumdar, does the problem solve?

[2020-08-13 06:42] JackBoosY commented on #12883
`The VTK::IOParallelNetCDF module requires the disabled module VTK::mpi.`
@Neumann-A It seems that for conflicting features, we need to add warning messages to `portfile.cmake`.

[2020-08-13 06:44] JackBoosY commented on #12872
At present, the powershell used by vcpkg is downloaded by vcpkg itself, and the system or user installation is not accepted temporarily.
This is because we need to ensure that the powershell version is consistent with the ps1 script in vcpkg, so as to avoid execution failures caused by function changes.

[2020-08-13 06:47] PhoebeHui commented on #12882
@cgolchert, from your log, it looks fail with ''mt' is not recognized as an internal or external command,
operable program or batch file.' do you install windows sdk?

For me, open vs2015 x64 Native tools command:
C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC>where mt
C:\Program Files (x86)\Windows Kits\10\bin\x64\mt.exe
C:\Program Files (x86)\Windows Kits\10\bin\x86\mt.exe

It built succ

[2020-08-13 07:44] LilyWangL commented on #12660
Now `wxwidgets:x64-windows-static` can build successfully on the latest VCPKG, so I an closing this issue for now.

[2020-08-13 07:44] #12660 closed

[2020-08-13 07:51] NancyLi1013 commented on #12275
Sorry for the late reply.

After updating the CMakeLists.txt, the configure has passed. But there are some errors in building process.

[code]
Now I have no idea how to fix this. Can anyone give some suggestions?

[2020-08-13 07:54] micmatsch commented on #12855
The problem is still there. I am not exactly an expert with cpp build tools and installed vcpkg just a few days ago, so I am not sure if I am the right person to come up with a fix. I am currently using the dynamic x86-windows triplet and that works fine, so this is no an urgent issue for me.

The problem seems rather straightforward to me: The vidual studio linker fails because it is unable to de

[2020-08-13 08:01] NancyLi1013 commented on #12230
I'm closing this issue for now since there is no response.

Please feel free to reopen this if it is still a problem for you.

[2020-08-13 08:01] #12230 closed

[2020-08-13 08:42] Huang88888888Fei commented on #12443
Oh, thanks. But I would rather wait for you to fix this bug.

[2020-08-13 08:47] longnguyen2004 commented on #12636
I'll update this comment as I continue my testing
All autotools-based build systems require replacing `/bin/sh` with `sh`, as busybox doesn't recognize the former
All libtool-based build systems require modifications to the msys->w32 path conversion to prevent deadlock (`cmd //c echo "$1"` -> `cmd /c "echo $1"`)
| Libraries  | Build system type   | Result                   | Required patches/worka

[2020-08-13 09:04] Neumann-A commented on #12636
The PR is related because it adds a whole bunch of ports using autotools.

[2020-08-13 09:17] JackBoosY commented on #12814
Related: https://reviews.llvm.org/D57018

[2020-08-13 09:25] NancyLi1013 commented on #9765
@aslze
PCL will be updated via #10042. You can rebuild it based on this PR.

[2020-08-13 10:12] NancyLi1013 commented on #12887
Hi @louga31
Thanks for posting this issue.

Since you used` ./vcpkg install imgui[*]` to build, it will build with all features for `imgui`.

The features `metal-binding` and `osx-binding` are only supported on `osx`.

So you can use .`/vcpkg.exe install imgui[allegro5-binding,dx9-binding,dx10-binding,dx11-binding,dx12-binding,glfw-binding,glut-binding,marmalade-binding,opengl2-binding,opengl3-gle

[2020-08-13 10:58] sfhacker commented on #12849
@JackBoos Are you new to this project (i.e. vcpkg)? We are improving our troubleshooting skills, aren't we?
We build large projects from source (including protobuf) using MinGW and we haven't had any issues so far.

@yuxiaoyang88 Any news/update on this open issue?

[2020-08-13 11:27] yuxiaoyang88 commented on #12849
----- 原始邮件 -----
发件人：John Sheppard <notifications@github.com>
收件人：microsoft/vcpkg <vcpkg@noreply.github.com>
抄送人：于潇洋 <yuxiaoyang88@sina.com>,  Mention <mention@noreply.github.com>
主题：Re: [microsoft/vcpkg] [protobuf:x64-windows] build failure (#12849)
日期：2020年08月13日 18点59分

@JackBoos Are you new to this project (i.e. vcpkg)? We are improving our troubleshooting skills, aren't we?

We build large pr

[2020-08-13 11:56] louga31 commented on #12887
Hi @NancyLi1013

Thanks for the reply, did the install without `metal-binding` and `osx-binding` and it works well.
Tried with your pull request on my local vcpkg install and it works fine, the message is actually very useful when you don't check which features are included in imgui[*].

[2020-08-13 11:56] #12887 closed

[2020-08-13 12:28] aden4kost opened #12891 "Building package faild"
Building package gdal:x64-windows faild with: BUILD_FAILD
<img width="819" alt="BUILD_FAILD" src="https://user-images.githubusercontent.com/14982078/90134320-a8250080-dd79-11ea-96b9-5ccd1177790c.png">

[2020-08-13 14:29] rkcarroll opened #12892 "gfortran build failure (dependency of lapack"
After new pull today (08/13/2020), gfortran, a dependency of lapack, fails to build.

E:\Libs\vcpkg>vcpkg install ceres[eigensparse,lapack,tools]
Computing installation plan...
The following packages will be built and installed:
    ceres[core,eigensparse,lapack,tools]:x64-windows
  * lapack[core]:x64-windows
  * lapack-reference[blas-select,core,noblas]:x64-windows
  * vcpkg-gfortran[core]:x64-wi

[2020-08-13 14:36] sfhacker commented on #12849
@yuxiaoyang88 Have a look at this screenshot.

![image](https://user-images.githubusercontent.com/25817529/90147734-d92b2280-ddc5-11ea-82a7-1fa01362a75f.png)

How familiar are you with building projects from source on Windows? Have you tried some other alternatives?

Have fun!

[2020-08-13 14:53] JensAltst opened #12893 "[lapack-reference] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: x86-windows

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install lapack-reference`

**Failure logs**
**Console output**
[code]

<details>
  <summary>Expand config-x86-windows-out.log</summary>

[code]

</details>

**Additional context**
Happend to encounter this build fail while trying to install g2o. The Lapack-references installati

[2020-08-13 14:53] JensAltst opened #12894 "[lapack-reference] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: x86-windows

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install lapack-reference`

**Failure logs**
**Console output**
[code]

<details>
  <summary>Expand config-x86-windows-out.log</summary>

[code]

</details>

**Additional context**
Happend to encounter this build fail while trying to install g2o. The Lapack-references installati

[2020-08-13 14:54] #12893 closed

[2020-08-13 14:58] JensAltst commented on #12893
Sorry my browser got a 404 and sent the issue twice.

[2020-08-13 15:08] jlfilion commented on #12744
Sure. But it's not real interesting:

$ cmake .. -DCMAKE_TOOLCHAIN_FILE=C:/Users/jfilion/vcpkg/scripts/buildsystems/vcpkg.cmake
-- Selecting Windows SDK version 10.0.18362.0 to target Windows 10.0.18363.
CMake Error at fips/CMakeLists.txt:26 (find_package):
  Could not find a package configuration file provided by "json5-parser" with
  any of the following names:

    json5-parserConfig.cmake

[2020-08-13 15:17] dimdin commented on #12476
I have the same problem building boringssl.
I am using Build Tools 16.7.1 MSVC v142 (v14.27)

vcpkg install boringssl:x64-windows-static

Package: boringssl:x64-windows-static
  Vcpkg version: 2020.06.15-nohash

Last log entry is:

[416/434] C:\PROGRA~2\BUILDT~1\VC\Tools\MSVC\1427~1.291\bin\Hostx64\x64\cl.exe   /TP -DBORINGSSL_DISPATCH_TEST -DBORINGSSL_IMPLEMENTATION -DNOMINMAX -DWIN32_LEAN_AND_ME

[2020-08-13 15:19] Voskrese commented on #12888
@Neumann-A

add PREPEND path ?

`vcpkg_add_to_path(PREPEND ${NINJA_DIR}`

[2020-08-13 15:48] jagrme00 commented on #12487
@NancyLi1013 sorry for my delay. Currently I have some other topics which require more attention than this issue.
I'll try the suggestions within the next few days and I'll let you know my results.

Thanks for your help.

[2020-08-13 18:05] cgolchert commented on #12832
Is there a reason why a new install of VC2017 wouldn't install it?

I got sent to this thread because of another issue.

[2020-08-13 19:56] yay commented on #12760
Same issue on macOS Catalina 10.15.6.

[2020-08-13 20:02] Neumann-A commented on #12883
@JackBoosY: No it is just missing a `-DVTK_USE_MPI=ON` or similar somewhere in `vcpkg_configure_cmake`. But without a buildtree of VTK I can currently not check how it is named correctly.

[2020-08-13 20:15] Neumann-A commented on #12888
@Voskrese Won't help NINJA_DIR would still point to the first found NINJA instead of the vcpkg internal one (which is not even downloaded if it finds ninja from VS.)
#12895 solves it by introducing a version check for ninja

[2020-08-13 20:15] Neumann-A commented on #12892
duplicate of #12888

[2020-08-13 20:16] Neumann-A commented on #12894
duplicate of #12888

[2020-08-13 20:18] Neumann-A commented on #12892
Please remove your cached MSYS install and retry. Normally it is located in `downloads/tools/msys2`

[2020-08-13 20:32] #8473 closed

[2020-08-13 20:32] #11765 closed

[2020-08-13 20:33] yay commented on #12760
I created a related issue here: https://github.com/an-tao/drogon/issues/536

[2020-08-13 20:34] #11578 closed

[2020-08-13 20:44] Voskrese commented on #12888
I was talking about parameters in the configurator and installer

example
https://github.com/microsoft/vcpkg/blob/5bb91a9452c2155e8ccd69c88629af24507249d4/scripts/cmake/vcpkg_configure_cmake.cmake#L154

[2020-08-13 20:48] Neumann-A commented on #12888
doesn't matter because of line after that being:
`list(APPEND _csc_OPTIONS "-DCMAKE_MAKE_PROGRAM=${NINJA}")`

`vcpkg_add_to_path("${NINJA_PATH}") `  could be removed

[2020-08-13 20:53] Voskrese commented on #12888
why are these settings ignored then?
_after all, it is clearly stated here_ hmm

[code]

[2020-08-13 21:00] Neumann-A commented on #12888
because of how `vcpkg_find_acquire_program(NINJA)` works. It always uses the system ninja if it finds one unless it can find one in vcpkg search/download paths. Since there is a system one it will not download the internal one.

[2020-08-13 21:17] Voskrese commented on #12888
there is still such an option, I do not know how with the old version, but in 2019 so

`"C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\Common7\Tools\VsDevCmd.bat" -help`

`"C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\Common7\Tools\VsDevCmd.bat" -no_ext`

[code]

`where ninja`

**DEFAULT**

`"C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\Common7\

[2020-08-13 21:23] Voskrese commented on #12888
` [DEBUG:VsDevCmd.bat] calling "ext\cmake.bat"`

[code]

[2020-08-13 21:40] Voskrese commented on #12888
`set VSCMD_ARG_NO_EXT=1`

[code]

[2020-08-13 22:25] strega-nil commented on #12443
@shunshizhechang @Huang88888888Fei can you open `Optional Features` in settings? You may need to install the `OpenSSH Client` optional feature in Windows.

[2020-08-13 22:33] ivanovmp opened #12896 "[ffmpeg[x264]:x86-windows] build failure"
**Host Environment**
- OS: Windows 10 Home Single Language (Russian) x64
- Compiler: Microsoft (R) C/C++ Optimizing Compiler Version 19.27.29110

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install ffmpeg[x264]:x86-windows`

**Failure logs**
[code]
Contents of `C:\misc\vcpkg\buildtrees\ffmpeg\build-x86-windows-rel-out.log`:
[code]

**Additional context**
I have been waiting for seve

[2020-08-13 23:32] byxrolland commented on #12883
Also, when I try to install vtk along, there is another error that requires me to install it with [mpi].

[2020-08-14 02:07] Huang88888888Fei commented on #12443
Sadly, I had installed the OpenSSH Client. And the same error occur: Unable to determine OpenSSL version: The openssl.exe command wasn't found.

<img src="https://user-images.githubusercontent.com/38203112/90206221-b9bbe600-de15-11ea-9559-41576587b18a.png" width="100%" />

[2020-08-14 02:23] NancyLi1013 commented on #12891
Hi @aden4kost
Thanks for posting this issue.

This might be related with your network proxy.

Could you please check if you have access to http://download.osgeo.org/gdal/2.4.1/gdal241.zip?

If yes, please try to download http://download.osgeo.org/gdal/2.4.1/gdal241.zip manually and then put this archive to `vcpkg_root/downloads` directory.

After doing these steps, rebuild this port.

[2020-08-14 02:36] kapikantzari commented on #12850
Hi @NancyLi1013
Yes it has cleared the previous error. Many thanks for the help!

[2020-08-14 02:36] #12850 closed

[2020-08-14 02:39] nazame opened #12898 "[7zip] Add C Source For LzmaCompress & LzmaUncompress"
Currently the 7zip library does not pull in the C source code that includes the simple LzmaCompress and LzmaUncompress functions.

These functions make using the 7zip library for Lzma compression easy.

The should simply mean modifying the CMakeLists.txt in the 7zip port directory as follows:

First, the C/LzmaLib.c file can be added to the variable SRC_C
Then the following files can be added to t

[2020-08-14 03:08] PhoebeHui commented on #12896
cc @Sibras

[2020-08-14 03:08] cgolchert commented on #12882
Yes, Installed the latest win 10 sdk.

I've uninstalled 2015 and JUST installed 2017 since that one....

performed a git pull and a bootstrasp-vcpkg.bat

The original

Now dies at....

Error: Building package bzip2:x64-windows failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `.\vcpkg update`, then
submit an issue at https://github.com/Microsoft/vcpkg/issues including:

[2020-08-14 03:17] PhoebeHui commented on #12882
@cgolchert, could you attach the failure log for bzip2, do you build the port release only?

[2020-08-14 03:25] cgolchert commented on #12644
This was the Visual Studio team screwing things up.  I ended up nuking vs2015 and bumping to 2017..

on to other crap not working because of MS.

[2020-08-14 03:25] #12644 closed

[2020-08-14 03:58] cgolchert opened #12900 "Multiple build failures/gdi32.lib problem"
**Describe the bug**
I have been trying to update things and have had nothing but errors.

The latest I have had was problems building multiple ports.  All seem to result in not finding 'gdi32.lib

**Environment**
- OS: [Win10
- Visual Studio 2014 and now 2017

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install openvdb[tools]
2.  Many dependencies but right away it gets stuck at

[2020-08-14 04:06] cgolchert commented on #12882
[config-x64-windows-out.log](https://github.com/microsoft/vcpkg/files/5072591/config-x64-windows-out.log)

It is an issue of the process not finding 'gdi32.lib'..
![gdi](https://user-images.githubusercontent.com/5304167/90212597-62882800-ddb9-11ea-8ca8-161002c137ef.gif)

I just opened a ticket for that.  https://github.com/microsoft/vcpkg/issues/12900

.. can probably close this one.

[2020-08-14 05:19] cgolchert commented on #12882
Fixed the issue it was a win10 sdk problem from the VS team.

[2020-08-14 05:19] #12882 closed

[2020-08-14 05:19] cgolchert commented on #12900
This was a VS team screwed things up issue.

[2020-08-14 05:19] #12900 closed

[2020-08-14 06:25] arkaprabha-majumdar commented on #12868
It may solve the problem. I stopped the process. I'll try it out.

[2020-08-14 06:32] DaXdata opened #12901 "boost-fusion:x64-windows build failure"
**Host Environment**
- OS: Windows 10 [Version 10.0.17134.1610]
- Compiler: cmake 3.16.0, vcpkg 2020.06.15

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install boost-fusion:x64-windows`

**Failure logs**
PS D:\vcpkg> .\vcpkg install boost-fusion:x64-windows
Computing installation plan...
The following packages will be built and installed:
    boost-fusion[core]:x64-windows
Detecting

[2020-08-14 06:34] PhoebeHui commented on #12901
Duplicated to https://github.com/microsoft/vcpkg/issues/8199

[2020-08-14 06:34] #12901 closed

[2020-08-14 06:45] LilyWangL commented on #12894
Closed as duplicate of #12888.

[2020-08-14 06:45] #12894 closed

[2020-08-14 06:46] spindensity opened #12902 "lapack-reference:x64-windows build failure"
**Host Environment**
- OS: `Windows 10 20H1`;
- Compiler: `MSVC 2019 16.7.1`.

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg install lapack-reference:x64-windows`

**Failure logs**
Console output:
[code]

Log(`D:\Repository\vcpkg\buildtrees\lapack-reference\config-x64-windows-out.log`):
[code]

[2020-08-14 06:47] LilyWangL commented on #12826
Pinging @AlainMindana, does this issue resolve?

[2020-08-14 06:49] LilyWangL commented on #12521
Thanks for posting this issue. Please reopen this issue if this is still a problem for you.

[2020-08-14 06:49] #12521 closed

[2020-08-14 06:52] LilyWangL commented on #12902
Thanks for posting this issue. Closed as duplicate of #12888. This issue will be fixed in PR #12895.

[2020-08-14 06:52] #12902 closed

[2020-08-14 06:54] LilyWangL commented on #11069
Thanks for posting this issue. Please reopen this issue if this is still a problem for you.

[2020-08-14 06:54] #11069 closed

[2020-08-14 06:55] samofoz commented on #11765
New issue with latest vcpkg: ffmpeg[ffmpeg,x264] installation fails with "libx264 not found":

C:\vcpackage\vcpkg>vcpkg install ffmpeg[ffmpeg,x264]:x64-windows
Computing installation plan...
The following packages will be built and installed:
    ffmpeg[avresample,core,ffmpeg,gpl,x264]:x64-windows
  * x264[core]:x64-windows
Additional packages (*) will be modified to complete this operation.
Detec

[2020-08-14 06:56] LilyWangL commented on #6842
Thanks for posting this issue. Please reopen this issue if this is still a problem for you.

[2020-08-14 06:56] #6842 closed

[2020-08-14 06:56] LilyWangL commented on #4355
Thanks for posting this issue. Please reopen this issue if this is still a problem for you.

[2020-08-14 06:56] #4355 closed

[2020-08-14 07:00] emptyVoid commented on #11765
@samofoz, I would advice openning a new issue -- comments in the closed issues sometimes are being ignored.

[2020-08-14 07:05] samofoz opened #12904 "[ffmpeg[ffmpeg,x264]:x64-windows] build failure with latest vcpkg pull"
**Host Environment**
- OS: Windows
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
vcpkg install ffmpeg[ffmpeg,x264]:x64-windows

C:\vcpackage\vcpkg>vcpkg install ffmpeg[ffmpeg,x264]:x64-windows
Computing installation plan...
The following packages will be built and installed:
ffmpeg[avresample,core,ffmpeg,gpl,x264]:x64-windows

x264[core]:x64-windows
Additional packages (*

[2020-08-14 07:09] ivanovmp commented on #12896
#12904

[2020-08-14 07:11] PhoebeHui commented on #12904
Duplicated to https://github.com/microsoft/vcpkg/issues/12896

[2020-08-14 07:11] #12904 closed

[2020-08-14 07:17] FishHe opened #12905 "[openmvg] include error"
I use Vcpkg global integration. Other libs works fine.
When I include openMVG/robust_estimation/robust_estimator_ACRansac.hpp, the file "third_party/histogram/histogram.hpp" can't be found.

严重性	代码	说明	项目	文件	行	禁止显示状态
错误	C1083	无法打开包括文件: “third_party/histogram/histogram.hpp”: No such file or directory	MVRGlobalSFM	D:\vcpkg\installed\x64-windows-static-md\include\openMVG\robust_estimation\robust_estim

[2020-08-14 07:21] soroush opened #12906 "vtk build failure"
**Host Environment**
- OS: Windows
- Compiler: msvc 14.2

**To Reproduce**
Steps to reproduce the behaviour:
- `./vcpkg install vtk`
- Try to use it in two subdirectories, each one is a shared library having a public dependency on vtk. Dependency to vtk is declared as:
[code]

**Failure logs**
[code]

**Additional context**
-VTK itself compiles fine, though there are patches that promote its depen

[2020-08-14 07:31] druidfund opened #12907 "[libmysql] build failure"
**Host Environment**
[code]

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install libmysql`

**Failure logs**
install-x64-linux-dbg-out.log
[code]
**Additional context**
Add any other context about the problem here, such as what you have already tried to resolve the issue.

[2020-08-14 07:40] Neumann-A commented on #12906
Instead of
[code]

you could try changing it to:

[code]

[2020-08-14 07:40] NancyLi1013 commented on #12744
It seems that it didn't detect Visual Studio, since there is no any information about this from the log.

Even if it cannot find `json5-parser`, the error log will like this:

[code]

In my opinion, this should be related with your local environment instead of `json5-parser`.

Could you please try to build your project after disable the following codes?
[code]

[2020-08-14 07:41] Neumann-A commented on #12906
Also what is your `cmake_minimum_required()`?

[2020-08-14 08:17] soroush commented on #12906
It is 3.16.0

Changing the path to what you suggest, vtk itself fails to build:
[code]

[2020-08-14 08:26] Neumann-A commented on #12906
try
`add_library(LZ4::LZ4 INTERFACE IMPORTED)`
instead of
`add_library(LZ4::LZ4 UNKNOWN IMPORTED)`

[2020-08-14 08:36] LilyWangL commented on #12888
Waiting for PR #12895 merged, this issue will be fixed and closed.

[2020-08-14 08:44] LilyWangL commented on #12905
Waiting for PR #12895 merged, it fix `lapack-reference` build failed.

[2020-08-14 08:48] PhoebeHui commented on #12907
@druidfund, from your failure log, it seems a common issue when use mysql, see https://bugs.mysql.com/bug.php?id=61297, could you try the solution?

I can't repro this issue on unbuntu 18.04 with gcc 7.5.0. Not sure if it's due to the envirioment issue.
Starting package 23/23: libmysql:x64-linux
Building package libmysql[core]:x64-linux...
CMake Warning at ports/libmysql/portfile.cmake:8 (message)

[2020-08-14 09:18] emptyVoid commented on #12896
@Neumann-A, could you take a look at this one please? Looks like the renaming of `libx264` libraries in #11836 didn't go quite well with `ffmpeg`.

[2020-08-14 09:27] Neumann-A commented on #12896
custom configure script ...... try commenting line 4465 in the configure script
`-lx264)               echo libx264.lib ;;`
or change that to
`-lx264)               echo x264.lib ;;`

I was just following the name of the `*.pc` file in x264

[2020-08-14 09:45] soroush commented on #12906
Seems the problem with LZ4 is resolved. I am going to apply the same for other dependencies as well, will report here soon.

[2020-08-14 09:51] soroush commented on #12906
Sorry, couldn't figure out what to do with `hdf5::hdf5_hl-shared`, `taocpp::pegtl` targets. They differ from LZ4. Quick question: What is it with the uppercase LZ4::LZ4 and the lowercase version?

[2020-08-14 09:57] samofoz commented on #12896
Same problem after modifying C:\vcpackage\vcpkg\buildtrees\ffmpeg\src\n4.2-a4d149a5c6.clean\configure as per above.

[2020-08-14 10:21] FranciscoPombal commented on #12799
Fixed by https://github.com/microsoft/vcpkg/pull/12880.

[2020-08-14 10:21] #12799 closed

[2020-08-14 10:22] Neumann-A commented on #12906
uppercase LZ4::LZ4 is used by VTK internally while lowercase is the one actually exported by lz4.

You can do the same for hdf5. just need to apply that for hdf5::hdf5 and hdf5::hdf5_hl in all the cases

[2020-08-14 10:32] Sibras commented on #12896
libx264.lib is the default name on windows, changing that will break any user using x264 not just ffmpeg. This can be fixed by patching the ffmpeg side of things but I would recommend not changing lib names as that breaks all downstream users of x264.

[2020-08-14 10:36] Neumann-A commented on #12896
The default name for x264 in a shared build is libx264.dll.lib

[2020-08-14 11:21] sfhacker commented on #12443
@strega-nil This issue seems particularly hard to troubleshoot and we seem to confuse people! Out of curiosity, can you elaborate on the relationship between libpq and OpenSSH?

@Huang88888888Fei @shunshizhechang Have you tried some other alternatives to sort out your issue?

[2020-08-14 11:57] WinformsWizard commented on #10230
It is still happening for me, do I need to do something to apply the fix?
![gtkbug](https://user-images.githubusercontent.com/53128787/90247033-c6374300-de03-11ea-8c1d-0c50648cc69a.PNG)

[2020-08-14 12:19] grebenval opened #12908 "skia:x64-windows build failure"
**Host Environment**
- OS: Windows
- Compiler: Microsoft (R) C/C++ 19.27.29111

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install skia:x64-windows`

**Failure logs**
Error: Building package skia:x64-windows failed with: BUILD_FAILED

**Additional context**
[code]

[2020-08-14 14:01] rglbssw commented on #10230
Seems as if the patch was not applied already. The code would look a bit different, if it was.
Did you do a "vcpkg upgrade" after pulling?
If you tried the pull request before it was merged, especially if you did that before it contained the x86-windows patch, it is possible, that vcpk doesn't recognize the package as outdated. In this case you should vcpkg remove the package and vcpkg install it

[2020-08-14 14:36] jvdrhoof commented on #11752
Repeated on Ubuntu 18.04 with a newer Vcpkg version. Any update on this?

[code]

[2020-08-14 16:50] Perbudag commented on #8105
I had a similar problem, try moving the vcpkg folder to your Downloads or Documents folder.

[2020-08-14 16:55] #9225 closed

[2020-08-14 16:57] #12779 closed

[2020-08-14 18:49] Todd-Fulton commented on #12819
Thanks, since it's a bug with the compiler I'll close this here, unless someone wants it opened for tracking or whatnot.

[2020-08-14 22:31] dalboris commented on #12848
@JackBoosY I can't find mention of `${CONFIG_INSTALL_PATH}` in the cmake documentation or FreeType source. Did you mean something else? Also, by "install it to", do you mean that in addition to adding a `write_basic_package_version_file()`, I should also add a new `install()` command which copy the generated freetype-config-version.cmake from the build folder to another path?

Sorry for all these

[2020-08-14 23:05] bill-healey opened #12911 "[lapack] build failure - pkgconfig undefined prefix variable"
**Host Environment**
- OS: Windows 10
- vcpkg: 2020.06.15-nohash

**To Reproduce**
Steps to reproduce the behavior:
vcpkg.exe install lapack-reference[cblas] --triplet x64-windows

CMake Error at scripts/cmake/vcpkg_fixup_pkgconfig.cmake:84 (message):
  pkg-config error output:Variable 'prefix' not defined in
  '/D/git/vcpkg/packages/lapack-reference_x64-windows/lib/pkgconfig/cblas.pc'
Call Stack

[2020-08-14 23:27] strega-nil commented on #9848
Could you paste the output of `git log -1`?

[2020-08-14 23:40] StarGate-One commented on #12834
@strega-nil I looked through the build/install and upgrade code - at my stage of knowledge of C/C++ I do not believe I would be able to make these changes without considerable delay and the code to make these changes becoming stale at the rapid pace the vcpkg source has been changing the past few weeks.
So I would need to pass as by the time I was able to get something working, it would need rewor

[2020-08-15 00:49] llduncangithub opened #12912 "Error: Building package protobuf:x64-windows failed with: BUILD_FAILED"
**Host Environment**
- OS: Microsoft Windows [Version 10.0.18363.997]
- Compiler: Microsoft Visual Studio Enterprise 2019 Version 16.7.1 english version

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install protobuf[core]:x64-windows`

**Failure logs**
-Cut and past the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the con

[2020-08-15 01:15] BenKey commented on #12814
I am seeing this issue as well.

[2020-08-15 01:23] llduncangithub commented on #12912
OS: Microsoft Windows [Version 10.0.18363.997]
Compiler: Microsoft Visual Studio Enterprise 2019 Version 16.7.1 english version
[copy-tool-dependencies-err.log](https://github.com/microsoft/vcpkg/files/5077978/copy-tool-dependencies-err.log)

PS D:\src\vcpkg> .\vcpkg.exe install protobuf[core]:x64-windows
Computing installation plan...
The following packages will be built and installed:
    protob

[2020-08-15 04:12] HPDell opened #12913 "[New Port Request] QGIS"
Library name: QGIS

Library description: QGIS is a free, open source, cross platform (lin/win/mac) geographical information system (GIS)

Source repository URL: https://github.com/qgis/QGIS

Project homepage (if different from the source repository): http://qgis.org/

Anything else that is useful to know when adding (such as optional features the library may have that should be included):
Nothing

[2020-08-15 06:26] UnknownObject000 opened #12914 "[New Port Request] <OpenXLSX>"
Library name: OpenXLSX

Library description:  OpenXLSX is a C++ library for reading, writing, creating and modifying Microsoft Excel® files, with the .xlsx format.

Source repository URL:  https://github.com/troldal/OpenXLSX

Project homepage (if different from the source repository):  https://github.com/troldal/OpenXLSX

Anything else that is useful to know when adding (such as optional features

[2020-08-15 08:33] monocasual opened #12915 "[libsamplerate:x64-osx] build failure"
**Host Environment**
- OS: macOS 10.15.6
- Compiler: Xcode 11.6

**To Reproduce**
`./vcpkg install libsamplerate`

**Failure logs**
Console output:
[code]

Additional `install-x64-osx-dbg-out.log`:
[code]

**Additional context**
None.

[2020-08-15 10:56] Voskrese commented on #12911
/cc @Neumann-A

[2020-08-15 11:25] ulfllorenz opened #12917 "[New Port Request] minizip, maintained fork"
Library name: minizip fork (?)

Library description: This is a fork of the minizip library that adds a slew of other features and is reasonably maintained, both in contrast to the original minizip that seems to be stable enough to just hang there.

Source repository URL: https://github.com/nmoinvaz/minizip.git

Project homepage (if different from the source repository): https://github.com/nmoinvaz

[2020-08-15 11:32] sfhacker commented on #12912
There seems to be a lot of recurrent issues with protobuf & vcpkg.
We just downloaded protobuf master branch and built it from source. No issues at all.

![image](https://user-images.githubusercontent.com/25817529/90311481-980a4e00-df3e-11ea-81e6-f5af1c9efe22.png)

@llduncangithub Let us know if we can be of any assistance.

[2020-08-15 15:00] jozefizso commented on #9184
The website is no longer available.

![image](https://user-images.githubusercontent.com/287778/90315082-ce34d700-df18-11ea-96c7-af5b258ac7ed.png)

[2020-08-15 15:12] ashishvarman opened #12919 "openssl build failure on mingw"
**Host Environment**
- OS: Windows 10
- Compiler: gcc 7.3.0 (from mingw-w64 bundled with Qt 5.12.6)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install openssl:x64-mingw-dynamic`

**Failure logs**
E:\vcpkg-orig>vcpkg install openssl:x64-mingw-dynamic
Your feedback is important to improve Vcpkg! Please take 3 minutes to complete our survey by running: vcpkg contact --survey
Computin

[2020-08-15 16:12] jgehw opened #12922 "show-stopper: vcpkg screwing up cmake by removing semicolons"
`execute_process(COMMAND "C:/msys2/msys64/usr/bin/echo.exe" "hello; world; line 3" OUTPUT_VARIABLE MY_OUT)`
`message(STATUS "result ${MY_OUT}")`
should result in:
`"-- result hello; world; line 3"` (which is does when just running it in a minimalistic cmake project not using vcpkg)
but actually results in:
`"-- result hello  world  line 3"`
when this code is placed in a vcpkg cmake port file. No m

[2020-08-15 16:14] jgehw commented on #12922
This, BTW, is also the long-story-short root-cause behind #4320. I opened a new issue, because this is a bug, while #4320 is tracked as a feature.

[2020-08-15 16:30] jgehw commented on #12922
PS: I'm aware there is python available via `vcpkg_find_acquire_program(PYTHON3)` (why? maybe because others already stumbled across the broken `find_package(Python3)` cmake API?), but this is not only a dirty and partial (e.g. only working on linux with apt available, not other package managers such as yum) solution, but also insufficient because on Windows it installs embedded python, which is a

[2020-08-15 16:42] Neumann-A commented on #12922
`vcpkg_find_acquire_program(PYTHON3)` is for portfile usage not `cmakelists.txt`.
So the question here is do you soeak from usage within a portfile or usage within a project/cmakelists.txt?

[2020-08-15 18:12] jgehw commented on #12922
Yes, I speak from usage within a portfile. (Precisely, I'm currently improving the tensorflow-cc port, and while doing so, upgrading to recent v2.3, and, unfortunately, Google requires python with numpy being present to build tensorflow now.)

[2020-08-15 18:24] sfhacker commented on #12919
We have found no issues at all building it from source on MinGW!

![image](https://user-images.githubusercontent.com/25817529/90319048-17684380-df78-11ea-90a8-e9c33123192f.png)

Perhaps your environment is 'polluted' somehow! Have you tried some other alternatives?

[2020-08-15 18:59] Neumann-A commented on #12922
`find_package` does not work for obvious reasons in cmake script mode.....

about

`execute_process(COMMAND "C:/msys2/msys64/usr/bin/echo.exe" "hello; world; line 3" OUTPUT_VARIABLE MY_OUT)`

just needs escaping of the `;` for now. or try using `_execute_process` instead

[2020-08-15 21:06] jgehw commented on #12922
It took me half a day, but I finally found and fixed the root cause. The problem was the macro overriding cmake's execute_process(). It fixed it via PR #12926.

[2020-08-16 01:58] 2403772980ygy opened #12928 "[alembic] build failure"
**Host Environment**
- OS: Linux
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install alembic`

**Failure logs**
[install-x64-linux-dbg-out.log](https://github.com/microsoft/vcpkg/files/5079843/install-x64-linux-dbg-out.log)

**Additional context**
Note that the build fails with debug settings because of -Werror

[2020-08-16 08:50] druidfund commented on #12907
I use centos 8.2 in docker and install vcpkg in it, and has not tried to install libmysql in a physical environment。
for the solution in your reply, i google the key word 'make abi_update', and find nothing on how to run this....

[2020-08-16 08:55] linquize commented on #12693
Fixed in c771e7bd07c3137d43cdca96efcb954439133532

[2020-08-16 10:42] llduncangithub commented on #12912
delete vcpkg\buildtrees\protobuf ,and run install opencv:x64-windows，it's ok；

[2020-08-16 10:42] #12912 closed

[2020-08-16 11:06] linquize commented on #12388
https://github.com/microsoft/vcpkg/blob/895678db8f8bfc3c1988a118b3bb5a13ea4d5248/toolsrc/CMakeLists.txt#L100

Simply replace this line with `target_precompile_headers`

[2020-08-16 12:13] ZeeWanderer opened #12933 "[mimalloc] update to v1.6.4"
Library name: mimalloc

New version number: v.1.6.4

[2020-08-16 12:24] Christsnatcher opened #12934 "[fluidsynth x86 / x64] build failure"
**Host Environment**
- Windows 8.1 x64
- MSVC++ 14.25 Visual Studio 2019

**To Reproduce**
vcpkg install fluidsynth:x86-windows
or
vcpkg install fluidsynth:x64-windows

**Failure logs**
[code]

**Additional context**
It's exactly the same situation I described in https://github.com/microsoft/vcpkg/issues/9628 more than 6 months already, just introduced for this port with the latest update. CMake t

[2020-08-16 12:27] Christsnatcher opened #12935 "[libssh2 x86 / x64] build failure"
**Host Environment**
- Windows 8.1 x64
- MSVC++ 14.25 Visual Studio 2019

**To Reproduce**
vcpkg install libssh2:x86-windows
or
vcpkg install libssh2:x64-windows

**Failure logs**
[code]

**Additional context**
I'll only refer to

https://github.com/microsoft/vcpkg/issues/9628 and https://github.com/microsoft/vcpkg/issues/12934

as this is just another example of the general vcpkg bug / issue / pr

[2020-08-16 12:43] rkcarroll commented on #12892
I removed my cached MSYS and retried the install.  MSYS was pulled down, but the error persists.

Here is the output and the vcpkg\buildtrees\lapack-reference\config-x64-windows-out.log:
==================================
E:\Libs\vcpkg>vcpkg install lapack
Computing installation plan...
The following packages will be built and installed:
    lapack[core]:x64-windows
  * lapack-reference[blas-selec

[2020-08-16 12:54] linquize commented on #12935
What windows SDK version installed?

[2020-08-16 13:08] Neumann-A commented on #12892
Now the error is a duplicate of #12888
If you want a temporary workaround doing: `vcpkg fetch ninja` should be good enough until #12895 is merged

[2020-08-16 13:11] Neumann-A commented on #12922
even if that PR is merged `find_package(Python3)` is not going to work in portfiles since the module defines targets which is not allowed in script mode. (I know since I tried it.)

[2020-08-16 13:22] Christsnatcher commented on #12935
10.0.10150.0
10.0.10240.0
10.0.10586.0
8.1

But this doesn't matter. CMake uses by default the SDK to configure which corresponds to the OS if you don't override the value, while vcpkg instructs the compiler to target the latest SDK, which causes the build failures on the three ports I mentioned.

[2020-08-16 13:27] Neumann-A commented on #12888
temporary workaround until mentioned PR is merged:
use `vcpkg fetch ninja` before installing `lapack-reference`

[2020-08-16 13:34] Voskrese commented on #12935
`Windows Kits\8.1  error C2169`

[2020-08-16 13:37] Neumann-A opened #12937 "[vcpkg_fixup_pkgconfig] Remove the need to pass `--static` for static libraries"
Simply make the pc file agnostic how the library was built and always do the correct thing.
Related comment https://github.com/microsoft/vcpkg/pull/11836#discussion_r467920126
@ras0219 This separation probably has it roots in linux having both static and shared libraries available at the same time using the same pc file. vcpkg only builds one flavor so we don't care about those little details.

[2020-08-16 13:56] andyzimmerer opened #12938 "[New Port Request] <library name here>"
Library name:

Library description:

Source repository URL:

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2020-08-16 14:22] sfhacker commented on #12935
Just downloaded libssh2 and built it from source on Window 10 x64 // MinGW.
No issues at all.

![image](https://user-images.githubusercontent.com/25817529/90336409-1a6a3f00-e01f-11ea-831e-a23ac3a38ab2.png)

There is no need to specify/override anything!

I have read somewhere that we shouldn't install and/or mix several SDKs on the same PC.
Perhaps the OS version has nothing to do with the SDK ver

[2020-08-16 14:22] linquize commented on #12935
Why did vcpkg pick Win 8.1 SDK instead of Win 10 SDK?

[2020-08-16 14:23] sfhacker commented on #12938
Perhaps a malfunction? Not the first time?

[2020-08-16 14:41] Christsnatcher commented on #12935
@sfhacker : Of course it works on Windows 10, and it's not an issue of having multiple SDKs installed.
@linquize : CMake picks the Win 8.1 SDK if I don't override the SYSTEM_VERSION in the portfile, by default apparently as it corresponds to my OS. The compiler then targets the Win 10 SDK, which is the actual problem.
@Voskrese : It works as long as I specify an installed Win 10 SDK and OVERRIDE t

[2020-08-16 14:45] Voskrese commented on #12935
as far as I know, your compiler is recommended for windows 10

MSVC++  14.16 / Win8 ?

[2020-08-16 14:47] Christsnatcher commented on #12935
The compiler works perfectly fine on Win 8.1, never had any issues with it. And maybe I'm totally wrong here and there's nothing you guys can do actually as it's the default behavior of CMake / MSVC, don't know. But then I wonder why 99% of vcpkg ports build just fine?

[2020-08-16 14:49] Christsnatcher commented on #12935
I think I'll just make a test and uninstall the Win 8.1 SDK, let's see what CMake targets then by default. What do you mean?

[2020-08-16 15:08] Voskrese commented on #12935
https://www.google.com/search?client=firefox-b-d&q=_InterlockedAdd

https://developercommunity.visualstudio.com/content/problem/1139955/c-builds-with-windows-sdk-81-fail-after-upgrade-to.html

[2020-08-16 16:07] linquize opened #12939 "[libssh2] provide different crypto backends"
`libssh2` should provide different crypto backends, similar to existing `libssh` port.

- openssl (default backend)
- wincng (Windows only)
- mbedtls

also make `zlib` feature optional

[2020-08-16 16:26] Gigas002 commented on #10394
1.6.0 released, hope port is going to be updated soon.

[2020-08-16 16:28] Gigas002 opened #12940 "[libjpeg-turbo] update to 2.0.5"
Library name: libjpeg-turbo

New version number: 2.0.5

Other information that may be useful (release notes, etc...):
https://github.com/libjpeg-turbo/libjpeg-turbo

[2020-08-16 16:32] Gigas002 opened #12941 "[libhdfs3] update to 3.3.0"
Library name: libhdfs3

New version number: 3.3.0

Other information that may be useful (release notes, etc...):
vcpkg says the latest version is "2019-11-05", I suppose it's outdated, since the website says the latest version was released on 14.07.2020 (source code available here: https://hadoop.apache.org/releases.html)

[2020-08-16 16:38] Gigas002 opened #12942 "[mongo-cxx-driver] update to 3.6.0"
Library name: mongo-cxx-driver

New version number: 3.6.0

Other information that may be useful (release notes, etc...):
https://github.com/mongodb/mongo-cxx-driver/

[2020-08-16 16:46] Gigas002 opened #12943 "[New Port Request] <hdf4>"
Library name: hdf4

Source URL: https://support.hdfgroup.org/ftp/HDF/releases/

Anything else that is useful to know when adding (such as optional features the library may have that should be included):
Required for gdal's hdf4 support. HDF5 port already exists.

[2020-08-16 19:07] ashishvarman commented on #12919
It is heartening to know that the problem is most probably isolated to my environment as well and not the package or build system.
Unfortunately, the error messages or the debug log attached above offer no clues as to what exactly is wrong - to me at least. I am not well versed with build tools and have depended on IDEs till now.
As for alternatives, I tried different version of Qt (5.15.0) as wel

[2020-08-16 19:25] ashishvarman commented on #12919
just tried on an msys2 mingw installation - same error

[2020-08-16 20:04] Christsnatcher commented on #12935
Thank you so much, so finally I know it's neither a port bug nor a tool issue but just MS trying to push Win 10. Will do the changes suggested in the second article asap.

Also, just for information, I removed the Windows 8.1 SDK from my system and all CMake instances failed instantly as they actually are hardcoded to target the SDK version corresponding to the OS version by default.

Again, a big

[2020-08-16 20:29] sfhacker commented on #12919
I build large projects from source on a regular basis without issues!
Have you tried MinGW environment? It works very well. There is no need to use third party tools.

Have fun.

[2020-08-16 21:02] ashishvarman commented on #12919
I **am** using MinGW - that bundled with Qt.  I have also tried MSYS2.  Are you referring to http://win-builds.org/ ?

My prime need for using vcpkg is the richer set of libraries that are much easier to use - e.g. sqlite-modern-cpp or sqlitecpp instead of using sqlite3 directly and cpr instead of curl and openssl directly.

If nothing works out, most probably I will make a separate python exe tha

[2020-08-16 21:51] sfhacker commented on #12919
If you lack the skills to build simple projects from source, you can download binaries from different sources.
We have had no need for third party tools (a.k.a. vcpkg) so far. We build quite large projects from source with MinGW on Windows. No other tools or projects are required. No VS, no SDK, etc.
If you point me to the libraries/projects you need to use, I can build them for you and make them

[2020-08-16 21:52] sfhacker commented on #12919
You mentioned MinGW (Qt) and MSYS2. Can you post here the errors you are getting while using MinGW and MSYS2?

[2020-08-17 02:03] PhoebeHui commented on #12928
Duplicated to https://github.com/microsoft/vcpkg/issues/12830.

[2020-08-17 02:03] #12928 closed

[2020-08-17 02:03] NancyLi1013 commented on #12917
Hi @ulfllorenz

Thanks for posting this request. We have a port named minzip in vcpkg now.

Could you please help confirm if this can meet your demands?
https://github.com/microsoft/vcpkg/tree/master/ports/minizip

Thanks.

[2020-08-17 02:13] NancyLi1013 commented on #12938
Hi @andyzimmerer
Thanks for posting this issue.

Could you please provide the specific port name that you want to add in vcpkg?

Since I cannot get any valid information from above.

[2020-08-17 02:35] JackBoosY commented on #12476
@dimdin Could you provide the full log and Visual Studio version?

Thanks.

[2020-08-17 02:43] JackBoosY commented on #12443
@strega-nil The openssl.exe path is specified here:
https://github.com/microsoft/vcpkg/blob/8800ba999a2b17e5f169a44641c2b6fd0f908f4d/ports/libpq/portfile.cmake#L161-L165

But seems not working sometimes.

[2020-08-17 03:06] JackBoosY commented on #12888
Close this issue via #12895 merged.

[2020-08-17 03:06] #12888 closed

[2020-08-17 04:21] FishHe opened #12948 "How do I incrementally compile a port when using '--editable'."
I wanna change some codes in 'openmvg', and compile it many times.
Each time, I remove the port and reinstall it with '--editable'. Is there a more convenient way to do this?

[2020-08-17 05:25] spindensity opened #12949 "lapack-reference:x64-windows build failure"
**Host Environment**
- OS: `Windows 10 20H1`;
- Compiler: `MSVC 2019 16.7.1`.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Failure logs**
Console output:
[code]

**Additional context**
It's not the same as #12888. The error happened after pull request https://github.com/Jimmy-Hu/vcpkg/pull/285 had been merged.

[2020-08-17 06:14] Jimmy-Hu opened #12951 "[libpq:x64-windows] build failure"
**Host Environment**
- OS: Windows 10 Version 2004
- Compiler: Microsoft Visual Studio 2019 Version 16.7.1

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install 3fd[core]:x64-windows`

**Failure logs**
[code]

**Additional context**
Add any other context about the problem here, such as what you have already tried to resolve the issue.

[2020-08-17 06:27] PhoebeHui commented on #12797
@faserg1, does the feature meet your demands?

[2020-08-17 06:32] NancyLi1013 commented on #12935
Hi @Christsnatcher

Thanks for posting this issue. It seems that you have known what caused this problem.
Please let me know if this is still a problem for you. If not, I will close it.

@linquize @Voskrese @sfhacker
Thanks for joining the discussion about this issue.

[2020-08-17 06:41] PhoebeHui commented on #12948
@FishHe, you don't need to remove the port.

You only need to use '--editable' each time, it will use the source you modified.

[2020-08-17 06:57] JackBoosY commented on #12951
Confirmed.

[2020-08-17 06:58] JackBoosY commented on #12949
This issue should be fixed by PR #12569, could you please ensure your vcpkg is latest?

[2020-08-17 07:00] coderc264 opened #12952 "LNK1104 "sqlite3.lib""
**Describe the bug**
I've recently updated my vcpkg installation. Aftyer that i changed the find_package and target_link_libraries from "sqlite3" to "unofficial-sqlite3" the compiler works but the linker not. The problem is that the cmake insert 2 rows for the library sqlite3.lib
one with the full path and another only with the name "sqlite3.lib".

**Environment**
- OS: Windows-10.0.19041
- Compil

[2020-08-17 07:22] PhoebeHui commented on #12736
@57Hao, could you provide us the src file? I created a simple test.cpp which only include the 'boost/log/core.hpp', I can't repro this issue, from the log, it could find the log component successfully, so it should missing something here when using it.

A simple repro code which contains CMakeLists.txt and test.cpp file would help us repro this issue quickly.

[2020-08-17 07:43] JackBoosY commented on #12951
Could you update Visual Stdio 2019 to latest and try again?

Thanks.

[2020-08-17 07:44] PhoebeHui commented on #12952
@coderc264, I can't repro this issue.

Do you execute './vcpkg integrate install' before using it? you need pass the -DCMAKE_TOOLCHAIN_FILE in your project.

[2020-08-17 07:51] ulfllorenz commented on #12917
Well, not quite. The minizip port in vcpkg is the original one from the zlib developers, which lacks quite a few features; as far as I can discern, it only allows interfacing with bzip2.

[2020-08-17 08:02] LilyWangL commented on #10394
I will confirm and update this port soon.

[2020-08-17 08:02] Jimmy-Hu commented on #12951
Visual Studio 2019 version 16.7.1 is the latest version
https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes

[2020-08-17 08:03] LilyWangL commented on #12892
@rkcarroll Thanks for posting this issue. Now PR #12895 has been merged, does this issue still occur?

[2020-08-17 08:48] jagrme00 commented on #12487
My problems are solved now. The above mentioned approach https://github.com/microsoft/vcpkg/issues/12487#issuecomment-664813848 is working for me.
Thank you @NancyLi1013 for you help!

[2020-08-17 08:48] #12487 closed

[2020-08-17 08:53] NancyLi1013 commented on #12915
Hi @monocasual
Thanks for posting this issue.
Since `libsamplerate ` currently cannot build on osx. The results are as expected now.

Need to add support on osx in the future.

[2020-08-17 08:57] soroush commented on #12906
So, the following change resolved my issues.
Thanks

[code]

[2020-08-17 09:06] NancyLi1013 commented on #12487
Thanks for your update.

[2020-08-17 09:19] NancyLi1013 commented on #8550
@desowin
Please let me know if this is still a problem for you.

[2020-08-17 09:34] jens1433 opened #12955 "[brotli:x64-windows] build failure"
**Host Environment**
- OS: Windows 10 Pro 2004
- Compiler: VS 2019 16.7.1

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install cpprestsdk:x64-windows` or `vcpkg install brotli:x64-windows`

**Failure logs**
C:\dev\vcpkg>vcpkg install cpprestsdk:x64-windows
Computing installation plan...
The following packages will be built and installed:
  * brotli[core]:x64-windows
    cpprestsdk[b

[2020-08-17 10:12] andyzimmerer commented on #12938
Go

[2020-08-17 10:16] TechNyquist commented on #11752
Very same problem on CentOS Linux release 7.8.2003 (Core).
PR #9561 seems merged. @LilyWangL any news about this issue? Maybe even a workaround waiting for the fix? Thanks.

[2020-08-17 10:23] coderc264 commented on #12952
yes './vcpkg integrate install' and -DCMAKE_TOOLCHAIN_FILE. I have the same issue with CLion only after the new release that changed "sqlite3" with "unofficial-sqlite3"

[2020-08-17 10:25] Christsnatcher commented on #12935
Hello @NancyLi1013 ,

yes, know everything's clear regarding this matter. It's simply something non-Win 10 users have to live with principally. But, I found this interesting CMake issue on GitLab: https://gitlab.kitware.com/cmake/cmake/-/issues/17992

It basically describes exactly my problem, and the "solution" is implicitly given in "the SDK version selection picks an exact match if available an

[2020-08-17 10:35] dimdin commented on #12476
Thank you very much @JackBoosY for the great job.
I am using Visual Studio Build Tools to Build. Visual Studio Installer displays: _Visual Studio Build Tools 2019 (BuildTools) 16.7.1_
components: _MSVC v142 - VS 2019 C++ x64/x86 build tools (v14.27)
I am running: _.\vcpkg.exe install boringssl:x64-windows-static_
The log file is:
[install-x64-windows-static-dbg-out.log](https://github.com/microsof

[2020-08-17 11:12] albertziegenhagel commented on #12949
I just had the same issue with the most recent version of vcpkg.

The problem seems to be that OpenBLAS does not install the pkg-config file when pkg-config is not found during configure time. See https://github.com/xianyi/OpenBLAS/blob/efdd237a91646f0ce58815ef6507c04e393813a6/CMakeLists.txt#L392-L396.

I have opened a PR #12956 to address that issue.

[2020-08-17 11:16] spindensity commented on #12949
Vcpkg is the latest.

The problem is caused by `blas.pc` file not being installed.

[2020-08-17 11:31] ashishvarman commented on #12919
The errors are identical to the first I posted. Only the path of the tools being used differs in the log file according to the toolchain being used.  I am attaching the MSYS2 log file.

[install-x64-mingw-dynamic-dbg-out.msys64.log](https://github.com/microsoft/vcpkg/files/5083929/install-x64-mingw-dynamic-dbg-out.msys64.log)

Just saw that according to log message by @cristianadam , STL's mingw d

[2020-08-17 11:42] Brouilles commented on #12826
Same problem.

[2020-08-17 11:49] sfhacker commented on #12919
Perhaps I wasn't clear (enough)!
Can you follow these simple steps and report back you findings?

a) Configure .......
b) make all
c) make install

Example:

![image](https://user-images.githubusercontent.com/25817529/90393046-5c54bd00-e0d3-11ea-8f70-f05692491577.png)

Cheers.

[2020-08-17 13:08] tinglou opened #12957 "[New Port Request] aliyun-log"
Library name: aliyun-log

Library description: SDK for Aliyun SLS

Source repository URL: https://github.com/aliyun/aliyun-log-c-sdk

[2020-08-17 14:30] psionic12 opened #12958 "[protobuf] undefined reference to `google::protobuf::io::FileOutputStream::FileOutputStream(int, int)'"
**Describe the bug**
Even if linked with `protobuf::libprotobuf` and `protobuf::libprotoc`, build still failed due to references not found.

**Environment**
- OS: [Ubuntu 18.04]
- Compiler: Clang 6.0 Gcc 7.5.0

**To Reproduce**
CmakeList:
[code]
main.cpp:

[code]

**Expected behavior**
Apparently, no undefined-reference-error

**Failure logs**
Lots of undefined references error, such as:
undefined

[2020-08-17 14:49] psionic12 commented on #12958
If I build protobuf from the source using ./configure, ./make install, then it's will works, don't know why, just for you information

[2020-08-17 15:16] rkcarroll commented on #12892
I did a new pull this morning (08/17/2020) and got a clean install.  Thanks!!!

From: Lily <notifications@github.com>
Sent: Monday, August 17, 2020 3:03 AM
To: microsoft/vcpkg <vcpkg@noreply.github.com>
Cc: Kevin Carroll <rkcarroll@comcast.net>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/vcpkg] gfortran build failure (dependency of lapack (#12892)

@rkcarroll <https://github.com/

[2020-08-17 15:30] strega-nil commented on #12469
@StarGate-One fwiw, we do actually set `VSCMD_SKIP_SENDTELEMETRY` already, since we had issues with it taking way too long.

[2020-08-17 15:33] #3174 closed

[2020-08-17 16:18] rsweeten opened #12959 "[nlohmann-json] build failure"
**Host Environment**
- OS: Windows
- Compiler: VIsual Studio Build Tools 16.7.1
- vcpkg version: 2020.02 (master branch) and 2020.06 release tag,

**To Reproduce**
Steps to reproduce the behavior:
- cloned vcpkg
- ran bootstrap-vcpkg.bat in powershell
`./vcpkg install nlohmann-json`
- re: Warning: different source is available for vcpkg, I ran bootstrap-vcpkg.bat again. and ran `vcpkg install nloh

[2020-08-17 16:21] linquize commented on #12958
Put `protobuf::libprotoc` before `protobuf::libprotobuf`, because on linux they are static libraries by default.
The linker requires correct order of static libraries.
[code]

[2020-08-17 16:33] psionic12 commented on #12958
@linquize , it works, thanks a lot.
By the way, how can I know if vcpkg use static or dynamic libraries?

[2020-08-17 16:33] #12958 closed

[2020-08-17 17:46] Voskrese commented on #12949
cmake version?

[2020-08-17 17:49] spindensity commented on #12949
Both 3.17.2 and 3.18.1 have the same error.

[2020-08-17 17:50] Neumann-A opened #12960 "[bzip2] update to 1.0.8"
Library name: bzip2
New version number: 1.0.8

[2020-08-17 17:54] Voskrese commented on #12949
in port file or triplet str

`set(PORT_DEBUG ON)`

`vcpkg install lapack-reference --triplet x64-windows --debug`

log file attach

[2020-08-17 18:10] spindensity commented on #12949
## Console output

[code]

## Log files

[lapack-reference-logfiles.zip](https://github.com/microsoft/vcpkg/files/5086053/lapack-reference-logfiles.zip)

[2020-08-17 19:07] Voskrese commented on #12949
/cc @Neumann-A

path debug not

/D/Repository/vcpkg/packages/lapack-reference_x64-windows/**debug**/lib/pkgconfig

[2020-08-17 19:13] cgolchert opened #12962 "[New Port Request] Intel® Open Volume Kernel Library (Intel® Open VKL)"
Library name:
_Intel® Open Volume Kernel Library (Intel® Open VKL)_

Library description:
_Intel® Open Volume Kernel Library (Intel® Open VKL) is a collection of high-performance volume computation kernels, developed at Intel. The target users of Open VKL are graphics application engineers who want to improve the performance of their volume rendering applications by leveraging Open VKL’s performan

[2020-08-17 19:33] spindensity commented on #12949
`blas.pc` file does not exist.

![Snipaste_2020-08-18_03-31-37](https://user-images.githubusercontent.com/33576822/90436516-6a223680-e103-11ea-9b25-56ee57dd94c7.png)

[2020-08-17 19:38] Neumann-A commented on #12949
see #12956. The problem is probably openblas and not lapack. lapack just creates a symlink to/copy of openblas.pc file named blas.pc if and only if openblas.pc exists.

[2020-08-17 19:41] spindensity commented on #12949
Yes, that should be the root cause, `openblas.pc` file does not exist either.

![Snipaste_2020-08-18_03-40-51](https://user-images.githubusercontent.com/33576822/90437247-a1451780-e104-11ea-898a-de67f708727e.png)

[2020-08-17 19:50] cgolchert opened #12963 "[intel-mkl] Update from 2018.0.1 to 2020"
****

**Is your feature request related to a problem? Please describe.**
The project has included new features that are not present in the older version currently sitting in vcpkg.
The math kernel library here is at v2018.0.1 which is actually many versions behind.

**Proposed solution**
An update of the library to include the new features.

Here are the updates since the version in vcpkg
[updates

[2020-08-17 20:21] ashishvarman commented on #12919
Sorry for not understanding what you required and thanks once again for helping me.  Unfortunately, MinGW bundled with Qt doesn't have perl which is required for `Configure` above and there doesn't seem to be a way to install arbitrary packages.  My MSYS2 install also seems corrupted - keeps giving error about PGP keys when I try to search for perl `pacman -Ss perl`.  Will try with a fresh reinsta

[2020-08-17 21:32] hanst99 opened #12965 "fmt build failure – vcpkg_fixup_pkgconfig script is broken if path includes regex special characters"
**Host Environment**
- OS: Linux
- Compiler: g++ (v9.3)
**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install fmt` when vcpkg is on a path including the string "++".

**Failure logs**
<details>
<summary> Failure log </summary>

[code]

</details>

**Additional context**
This is observed with `fmt` but should happen with any package that uses the `vcpkg_fixup_pkgconfig` script on a pat

[2020-08-17 21:39] sfhacker commented on #12919
I am getting **frustated** with your current situation since nothing seems to work properly on your end!
Who told you to use MinGW from Qt? Who asked you to use MSYS2?
As far as we can see, neither of them are useful!
May I ask if you are junior employee? or perhaps a sophomore?

I took me 2 mins to build OpenSSL 1.1.1g from source without installing a single app or tool.
I am a bit lost now!!! Do

[2020-08-17 21:54] myirci commented on #4756
Hi, I also have a similar issue.
I can build wxWidgets (3.1.4) projects from VS 2019 using the installed libraries with  vcpkg (both with dynamic and static linking: x64-windows and x64-windows-static) but with cmake (3.18.1) I could not figure out how to do that. find_package always fails and complains about missing: wxWidgets_LIBRARIES.

Is there any progress on this issue?
Thanks!

[2020-08-17 22:16] dan-shaw commented on #9184
Closing this issue as the Slack invite is in the readme.

[2020-08-17 22:16] #9184 closed

[2020-08-17 22:26] aeleute opened #12966 "opencv4[cuda,]:x64-windows build failure: Unsupported gpu architecture 'compute_30'"
**Host Environment**
- OS: Windows 10
- Compiler:
    VisualStudio_Community_2019_1860751175.1597015676
    cmake-3.18.1-win64-x64

- trying to compile and install :
    cuda_11.0.3_451.82
    cudnn-11.0-windows-x64-v8.0.1.13
    opencv-4.4.0-vc14_vc15
    Yolo v4 , Darknet

**To Reproduce**
Steps to reproduce the behavior:
- used the following command to do compilation + install

- at the end o c

[2020-08-18 00:29] linquize commented on #12958
Linux default static, windows MSVC default dynamic

[2020-08-18 00:30] linquize commented on #12958
Read triplets/*.cmake

[2020-08-18 00:43] BillyONeal commented on #12849
Is that call stack being emitted by powershell?

[2020-08-18 01:06] NancyLi1013 commented on #3174
Hi @christianparpart
Now `expat `has supported uwp. Sorry for the long waiting.
Please update vcpkg to the latest version and try to use it.

But for `wxiwdgests`, it still cannot support uwp now.

[2020-08-18 01:11] NancyLi1013 commented on #11840
@jonverrier
Now `expat `has supported uwp.
Please update vcpkg to the latest version and rebuild it.

[2020-08-18 01:11] #11840 closed

[2020-08-18 01:11] yuxiaoyang88 commented on #12849
I think call stack is related with powershell.
If I run
D:/C/vcpkg/downloads/tools/powershell-core-6.2.1-windows/powershell.exe -noprofile -executionpolicy Bypass -nologo -file D:/C/vcpkg/scripts/buildsystems/msbuild/applocal.ps1 -targetBinary D:/C/vcpkg/packages/protobuf_x64-windows/tools/protobuf/protoc.exe -installedDir D:/C/vcpkg/packages/protobuf_x64-windows/bin
which is produced by vcpkg

Po

[2020-08-18 01:17] yuxiaoyang88 commented on #12849
My computer is latest Win10 2004 + PowerShell 7.0.3 + Terminal with no other setting

[2020-08-18 01:19] NancyLi1013 commented on #12935
@Christsnatcher thank you very much for your information and kindly reminder.

[2020-08-18 01:19] #12935 closed

[2020-08-18 01:23] NancyLi1013 commented on #9628
Closing this issue since it has been solved.
Please see comments here https://github.com/microsoft/vcpkg/issues/12935#issuecomment-674798858

[2020-08-18 01:23] #9628 closed

[2020-08-18 01:24] NancyLi1013 commented on #12934
Closing this issue since it has been solved.
Please see comments here https://github.com/microsoft/vcpkg/issues/12935#issuecomment-674798858.

[2020-08-18 01:24] #12934 closed

[2020-08-18 01:32] NancyLi1013 commented on #12938
Could you please provide these information for the new port?

[code]

[2020-08-18 01:53] PhoebeHui commented on #12952
@coderc264, could you double check the below files under .\installed\x64-windows\

Check if the libs, config and targets files installed correctly.
lib\sqlite3.lib
debug\lib\sqlite3.lib
share\unofficial-sqlite3\unofficial-sqlite3-config.cmake
share\unofficial-sqlite3\unofficial-sqlite3-targets-debug.cmake
share\unofficial-sqlite3\unofficial-sqlite3-targets-release.cmake

It should find the lib suc

[2020-08-18 02:25] JackBoosY commented on #12849
@yuxiaoyang88 Could you provide the dumpbin.exe 's full path?

[2020-08-18 02:30] JackBoosY commented on #12476
[code]

[2020-08-18 02:39] yuxiaoyang88 commented on #12849
I get four,not sure which one.
"E:\Program\Microsoft Visual Studio\2019\Community\VC\Tools\MSVC\14.27.29110\bin\Hostx64\x86\dumpbin.exe"
"E:\Program\Microsoft Visual Studio\2019\Community\VC\Tools\MSVC\14.27.29110\bin\Hostx64\x64\dumpbin.exe"
"E:\Program\Microsoft Visual Studio\2019\Community\VC\Tools\MSVC\14.27.29110\bin\Hostx86\x64\dumpbin.exe"
"E:\Program\Microsoft Visual Studio\2019\Community\

[2020-08-18 02:49] JackBoosY commented on #12476
Confirmed.

[2020-08-18 02:53] linquize commented on #12935
The problem is Win 8.1 SDK, not the running windows version

[2020-08-18 03:14] JackBoosY commented on #12476
Hi @ZdDroid, could you test my PR #12967?

Thanks.

[2020-08-18 04:41] christianparpart commented on #3174
Many thanks

[2020-08-18 05:14] dimdin commented on #12476
I applied the patch, and got:
[code]
Perhaps -wd4065 instead of /wx4065?

[2020-08-18 05:36] JackBoosY commented on #12476
@dimdin Oh sorry, you're right!

[2020-08-18 05:47] dimdin commented on #12476
It builds correctly. But I am trying to figure out how to run the test suite.
found an ssl/ssl_test.exe with 262 tests and all pass.
But I don't think that this is the extended go test suite.
The instructions of ssl/test/README.md guide me to run go test from the ssl/test/runner. Of course when I run it from the sources I am getting:
[code]
Is there some way to run the go test suite? Do I need to

[2020-08-18 06:23] JackBoosY commented on #12476
I...don't know, maybe we doesn't install that test file.

[2020-08-18 06:27] neurodot opened #12968 "fluidsynth build failure"
Error: Building package fluidsynth:x64-linux failed with: BUILD_FAILED

  Package: fluidsynth:x64-linux
  Vcpkg version: 2020.06.15-unknownhash

(My suggestion:  .exe  extension is not used on the unix ...)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install fluidsynth`

kamil@unuk:~/vcpkg$ ./vcpkg install fluidsynth
Computing installation plan...
The following packages will be bui

[2020-08-18 06:34] andyzimmerer commented on #12966
I dont know

[2020-08-18 06:35] andyzimmerer opened #12969 "[<port name>] update to <version>"
Library name:

New version number:

Other information that may be useful (release notes, etc...)

[2020-08-18 06:37] andyzimmerer commented on #12969
[]()

[2020-08-18 06:37] andyzimmerer commented on #12969
Cool

[2020-08-18 06:39] andyzimmerer commented on #12962
?

[2020-08-18 06:40] andyzimmerer opened #12970 "[<portname>] <short description of feature>"
****

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Proposed solution**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered if applicable.

[2020-08-18 06:47] dimdin commented on #12476
I found a way. I am describing it hear for futures searches.
[code]
I am running the go.exe from vcpkg.
The current directory is:
[code]
The folder name after src is random but you can find the correct one from its timestamp.
You need to make the following path by creating build/ssl/test folders.
[code]
And place there a copy of files:
[code]
from:
[code]
The commands to build and run are:
[code]

[2020-08-18 07:01] NancyLi1013 commented on #12959
Hi @rsweeten
Thanks for posting this issue.
It seems that you didn't run .`\bootstrap-vcpkg.bat` after you updated vcpkg to the version 6.15.
Since there are some changes for vcpkg  between these two versions. Please see here
https://github.com/microsoft/vcpkg/blob/master/scripts/ports.cmake#L9-L18

You can run `\bootstrap-vcpkg.bat` first, then try to install `nlohmann-json`.

[code]

[2020-08-18 07:03] LilyWangL commented on #11752
Thanks for your reply. I will confirm this issue soon.

[2020-08-18 07:03] JackBoosY commented on #12965
cc @Neumann-A

[2020-08-18 07:04] LilyWangL commented on #12826
Thanks for posting this issue. Please reopen this issue if this is still a problem for you.

[2020-08-18 07:04] #12826 closed

[2020-08-18 07:05] LilyWangL commented on #12892
Thanks for posting this issue. This issue has been fixed. So I am closing this issue for now.

[2020-08-18 07:05] #12892 closed

[2020-08-18 07:06] #12969 closed

[2020-08-18 07:06] #12970 closed

[2020-08-18 07:07] JackBoosY commented on #12476
@dimdin Fine, I will add it as a feature, but not by default.

[2020-08-18 07:10] coderc264 commented on #12952
I resolved the problem, i forgot to change "sqlite3" in to  "unofficial-sqlite3" it even in tests.
Thank you very much

[2020-08-18 07:10] #12952 closed

[2020-08-18 07:11] JackBoosY commented on #12750
needs also link with windows system lib Ws2_32.lib

[2020-08-18 07:21] PhoebeHui commented on #12907
@druidfund, From the comments from buildtrees/libmysql/src/a9fb86d137-bb23211420.clean/cmake/do_abi_check.cmake, could you try to replace the content in include/mysql/plugin_audit.h.pp with abi_check.out?

[code]

[2020-08-18 07:24] PhoebeHui commented on #12868
Feel free to reopen this issue if it still be a problem for you.

[2020-08-18 07:24] #12868 closed

[2020-08-18 07:25] JackBoosY commented on #12476
I think it already test it.
From _SOURCE/CMakeLists.txt_ l614:
[code]

[2020-08-18 07:35] LilyWangL commented on #12955
@jens1433 Thanks for posting this issue. I found the error message in your config log:
[code]
This error is duplicate with issue: #12607 #6324, could you try the solution in these issues?

[2020-08-18 07:39] JonLiu1993 commented on #12960
Hi @Neumann-A,
I searched the homepage of this port and the previous download address did not find version 1.0.8. Can you provide a link to version 1.0.8?

[2020-08-18 07:47] Neumann-A commented on #12960
@JonLiu1993 https://sourceware.org/bzip2/ also found on wikipedia

[2020-08-18 08:03] JonLiu1993 commented on #12941
Hi @Gigas002 ，
We currently only upgrade the version on the official github website. I will upgrade as soon as possible after github releases version 3.3.0. Thank you for your issue.

[2020-08-18 08:16] albertziegenhagel commented on #12883
I had the same problem when building `vtk[mpi]`. Just like @Neumann-A suggested, using `-DVTK_USE_MPI=YES` fixed it for me. See #12971.

Most probably one would need to pass the same argument in case of `vtl[all]` as well.

[2020-08-18 08:22] dimdin commented on #12476
I cannot believe it, it allready runs the tests when building!
The build problem is solved with your pull request. I am waiting for it to be merged into the master tree.
Thank you very much @JackBoosY

[2020-08-18 09:00] NancyLi1013 commented on #12968
Hi @neurodot
Thanks for posting this issue.
I have submitted a pull request to fix it.

[2020-08-18 10:10] LilyWangL commented on #12905
The related source issue: https://github.com/openMVG/openMVG/issues/1782

[2020-08-18 11:21] ashishvarman commented on #12919
Believe me - I am frustrated as well.

My employer makes engineering GUI software on windows using Visual C++.  I have fought for years for migrating from Microsoft / MFC and finally Qt with MinGW gave us the results we wanted as well as satisfying all the legal and corporate requirements.  Also, we had to select a toolchain and design a workflow that is **_easy_** for developers since attracting

[2020-08-18 11:26] oswjk commented on #12917
I have made a simple port for nmoinvaz/minizip privately because some package depends on the old minizip and some other depends on the fork. I named the port creatively to minizipfork because it doesn't really matter to us as the port is currently a private one :-)

I can share the private port if anyone wants to work with this, there's nothing secret in that. Probably the hardest part is to decid

[2020-08-18 11:35] cristianadam commented on #12919
Qt Installer comes with MinGW and Perl, as perl is required to build Qt itself.

The MinGW shipped with Qt Installer (GCC 7.3, or the latest 8.1) should be sufficient to build OpenSSL using vcpkg. It is not sufficient to build vcpkg itself.

[2020-08-18 12:04] cristianadam commented on #12919
I decided to give it a try.

1. I've build vcpkg with MSVC 2019 since MinGW 8.1 shipped with Qt doesn't have the necessary bits to build vcpkg itself
2. In a shell with MinGW 8.1 and perl I ran:
   $ vcpkg install openssl:x64-mingw-dynamic

I would expect the recipe that vcpkg has to see that it has perl and then it should simply compile OpenSSL with its perl build system.

But instead it download

[2020-08-18 12:26] cristianadam commented on #12919
Actually it's OpenSSL which is wrong here. It assumes MinGW is always MSYS2.

[code]
This explains why vcpkg is trying to use msys2.

I tried changing `vcpkg\buildtrees\openssl-unix\src\1.1.1g-bb2a9a5801.clean\Configurations\10-main.conf ` from `BASE_unix` to `BASE_windows`, but the makefile it produced is not compatible with `mingw32-make`.

I'll add a comment at https://github.com/openssl/openss

[2020-08-18 13:55] bettojanea opened #12980 "brotli:x64-windows build failure"
**Host Environment**
- OS: Windows 10
- Compiler: MSVC 19.27.29111.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install cpprestsdk cpprestsdk:x64-windows`

**Failure logs**
-Cut and past the appropriate build messages from the console output.
PS C:\dev\vcpkg>  .\vcpkg install cpprestsdk cpprestsdk:x64-windows
Computing installation plan...
The following packages will be built and

[2020-08-18 14:07] jgehw commented on #12922
I don't know what I'm doing differently, but in my case it's working in the portfile (current dev snapshot at https://github.com/jgehw/vcpkg/tree/fix-static-builds-and-more, tested for x64-windows)

[2020-08-18 14:29] BaderEddineOuaich commented on #12980
The same issue happened to me with an old windows sdk.
i solved it by downloading the latest windows sdk build using the visual studio installer.
it worth a shot in your case.

[2020-08-18 15:12] StarGate-One commented on #12951
Is the port decimal-for-cpp installed? If so, you need to remove decimal-for-cpp then try to install libpq - the include/decimal.h file installed with decimal-for-cpp is not compatible with libecpg portion of libpq,

[2020-08-18 15:43] jlfilion commented on #12744
Hi Nancy,

I'm done with my vacation now and I looked into your latest response. I think my problem has been resolved.

I noticed in the log that I sent you that cmake was looking for the compiler from the E: drive. That is very strange since my system does not have an E: drive. Just as an experiment, I opened a command prompt and typed "subst e: c:\" so that I would have an E: drive that was iden

[2020-08-18 16:23] #9132 closed

[2020-08-18 16:25] #12645 closed

[2020-08-18 17:25] ashishvarman commented on #12919
I see that @longnguyen2004 made a fix #12089 to issue #9749 but later deleted his branch because of some mess up.  Hopefully, when #9749 is fixed then this will be too.

[2020-08-18 17:39] ashishvarman commented on #12919
Unfortunately, it seems that the online installer does not install perl and installs the pre-built Qt binaries directly.  I couldn't find anything named perl in my C:\Qt directory nor anywhere else in my system. I also didn't find any mention of perl in the Qt Maintenance Tool
![image](https://user-images.githubusercontent.com/42205217/90546055-2d0f8000-e1a7-11ea-8070-ac8dd31637f4.png)

_Also, I s

[2020-08-18 17:51] longnguyen2004 commented on #12919
I've made another PR https://github.com/microsoft/vcpkg/pull/12544 and it has passed long ago. Maybe this is another problem, since I regularly tests with `x64-mingw-dynamic`. I'll try pulling latest master tomorrow and see if anything breaks

[2020-08-18 17:59] longnguyen2004 commented on #12919
And yes I'm also very frustrated with openssl's build system being completely dependent on MSYS2 perl, which is the main show stopper in my effort [moving away from MSYS2](https://github.com/microsoft/vcpkg/issues/12636). I've tried patching the build system but then it writes unescaped backslashes into the Makefiles and sources...

[2020-08-18 18:11] longnguyen2004 commented on #12919
For other maintainers:
I've read through the logs and found `x86_64-windows-gnu`, which comes from [this piece of code](https://github.com/microsoft/vcpkg/blob/master/ports/openssl-unix/CMakeLists.txt#L43). If `CMAKE_C_COMPILE_OPTIONS_TARGET` is empty, this will cause problems.

[2020-08-18 19:58] #7084 closed

[2020-08-18 19:58] #7544 closed

[2020-08-18 19:58] #9671 closed

[2020-08-18 22:57] kelseyfrancis opened #12984 "nugetconfig binary source ignores API key in config file"
**Is your feature request related to a problem? Please describe.**
For `nugetconfig` binary caching sources, vcpkg passes `-ApiKey AzureDevOps` as an option to the `nuget push` command, which overrides the API key specified in the nuget config file. This prevents pushing to corporate nuget repositories that require specific credentials.

**Proposed solution**
Remove `-ApiKey AzureDevOps` from the

[2020-08-18 23:11] #12578 closed

[2020-08-18 23:32] #12793 closed

[2020-08-18 23:37] dubois commented on #9722
I also am having this problem, noticed after `find -name <?>` stopped working in my repo. I've had no luck deleting the offending directories with bash, cmd, explorer, and so on.

[2020-08-18 23:40] #12898 closed

[2020-08-18 23:41] #12476 closed

[2020-08-18 23:45] #12760 closed

[2020-08-19 00:03] #12847 closed

[2020-08-19 01:43] BillyONeal commented on #12984
Giving this to Robert since it's related to binary caching

[2020-08-19 01:53] Jimmy-Hu commented on #12951
@StarGate-One Thank you for your reply. No, I already checked that the port decimal-for-cpp isn't installed.

[2020-08-19 02:19] longnguyen2004 commented on #12919
Please test #12986

[2020-08-19 02:32] JackBoosY commented on #12922
@strega-nil What do you think about?

[2020-08-19 03:01] NancyLi1013 commented on #12906
@soroush
Would you like to submit a pull request to fix this issue?

[2020-08-19 03:03] NancyLi1013 commented on #12819
Please keep this issue open until the compiler bug is solved.

[2020-08-19 03:11] JackBoosY commented on #9722
@klech86 @dubois Can you please open a new issue to report that?

Thanks.

[2020-08-19 03:22] NancyLi1013 commented on #9765
I'm closing this issue for now since it has been updated to 1.11.0.
Please update vcpkg to the latest version and rebuild it.

[2020-08-19 03:22] #9765 closed

[2020-08-19 03:52] MinghuiGao opened #12988 "realsense2:arm64-android build failed"
**Host Environment**
- OS: macOs 10.15.6 catalina
- Compiler: ndk-bundle-r21b

**To Reproduce**
`add the  triplet arm64-android by :`
[code]
ANDROID_NDK_HOME and VCPKG_ROOT are all set。

`./vcpkg install realsense2:arm64-android`

**Failure logs**
[code]
1.I try to use some old version ndk ,such as r16b ,r20 ,but not solve the problem. So I change back to r21b, and got the error message above.
2.

[2020-08-19 03:53] MinghuiGao commented on #12988
ANDROID_NDK_HOME and VCPKG_ROOT are all set。

[2020-08-19 05:30] veikai opened #12989 "[New Port Request] <NumCpp>"
Library name:NumCpp

Library description:A Templatized Header Only C++ Implementation of the Python NumPy Library

Source repository URL:https://github.com/dpilger26/NumCpp

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2020-08-19 05:37] JackBoosY commented on #12966
[code]
Could you update your cmake to 3.18.2 and try again?

Thanks.

[2020-08-19 05:49] Crazysiri opened #12990 "[libyuv] build failure"
**Host Environment**
  Package: libyuv:x64-linux
  Vcpkg version: 2020.06.15-unknownhash

Computing installation plan...
The following packages will be built and installed:
    libyuv[core]:x64-linux
Detecting compiler hash for triplet x64-linux...
Starting package 1/1: libyuv:x64-linux
Building package libyuv[core]:x64-linux...
Could not locate cached archive: /home/benebot/.cache/vcpkg/archives/

[2020-08-19 05:51] Crazysiri commented on #12990
gcc version 5.5.0 20171010 (Ubuntu 5.5.0-12ubuntu1~16.04)

[2020-08-19 05:54] NancyLi1013 commented on #12744
@jlfilion
Thanks for your above details. Factually, it doesn't matter if the compiler is in C: or E: driver, which was just the path that Visual Studio installed. Since it needs CL to compile the project. I'm glad to hear from the good news that you solved this problem.

So I'm closing this issue for now.

[2020-08-19 05:54] #12744 closed

[2020-08-19 05:55] fldx opened #12991 "zlib:x86-windows build failure"
**Host Environment**
- OS: Windows
- Compiler: 用于 x86 的 Microsoft (R) C/C++ 优化编译器 19.00.24215.1 版

**To Reproduce**
Steps to reproduce the behavior:
vcpkg install gtk:x86-windows

**Failure logs**
D:\develop\vcpkg>vcpkg install gtk:x86-windows
Computing installation plan...
The following packages will be built and installed:
  * atk[core]:x86-windows
  * brotli[core]:x86-windows
  * bzip2[core]:x8

[2020-08-19 06:13] NancyLi1013 commented on #12957
Hi @tinglou
Thanks for posting this request.
 There is a PR #12682 to add this port to vcpkg. Let's just wait for the PR merged.

[2020-08-19 06:21] showintime opened #12992 "Error: database corrupted"
Error: database corrupted. Package tiff:x64-windows is installed but dependency libjpeg-turbo:x64-windows is not.
so how to solve this problem?

[2020-08-19 06:25] JackBoosY commented on #12991
Please provide failure log _D:\develop\vcpkg\buildtrees\zlib\install-x86-windows-dbg-out.log_.

[2020-08-19 06:26] showintime commented on #12992
![image](https://user-images.githubusercontent.com/29477247/90599745-fb8ac900-e227-11ea-978c-0a610e2ff35e.png)

[2020-08-19 06:47] chrisgame1002 opened #12993 "[opencv4] Building package opencv4:x64-windows failed"
**Host Environment**
- OS: [Windows.10]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg install darknet[full]:x64-windows`

**Failure logs**
-- Using cached G:/vcpkg/downloads/opencv-cache/xfeatures2d/boostdesc/0ae0675534aa318d9668f2a179c2a052-boostdesc_lbgm.i
-- Using cached G:/vcpkg/downloads/opencv-cache/xfeatures2d/vgg/e8d0dcd54d1bcfdc29203d011a797179-vgg_gener

[2020-08-19 06:54] LilyWangL commented on #4756
I will confirm and fix this issue soon.

[2020-08-19 07:47] Crazysiri opened #12995 "[azure-kinect-sensor-sdk] build failure"
**Host Environment**
- OS: [Ubuntu]

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install azure-kinect-sensor-sdk`

**Failure logs**
[code]
**Additional context**
[code]

[2020-08-19 07:48] JackBoosY commented on #12993
cc @cenit

[2020-08-19 07:49] JackBoosY commented on #12995
Please provide failure log:
_/home/benebot/vcpkg/buildtrees/azure-kinect-sensor-sdk/config-x64-linux-dbg-out.log_
_/home/benebot/vcpkg/buildtrees/azure-kinect-sensor-sdk/config-x64-linux-dbg-err.log_

[2020-08-19 07:50] JackBoosY commented on #12993
Please provide failure log _G:\vcpkg\buildtrees\opencv4\config-x64-windows-out.log_.

[2020-08-19 07:50] Crazysiri commented on #12995
config-x64-linux-dbg-out.log:

-- The C compiler identification is GNU 5.5.0
-- The CXX compiler identification is GNU 5.5.0
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc - works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Detecting C compile features
-- Detecting C compile features - done
-- Check for working CXX compiler

[2020-08-19 07:51] Crazysiri commented on #12995
config-x64-linux-dbg-err.log:
CMake Error at /home/benebot/vcpkg/scripts/buildsystems/vcpkg.cmake:455 (_find_package):
  Could not find a package configuration file provided by "gtest" with any of
  the following names:

    gtestConfig.cmake
    gtest-config.cmake

  Add the installation prefix of "gtest" to CMAKE_PREFIX_PATH or set
  "gtest_DIR" to a directory containing one of the above files.

[2020-08-19 07:53] stemuser027 opened #12996 "[<port name>] build failure"
**Host Environment**
- OS: [e.g. Windows/Linux etc...] Windows
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install xxxx`

**Failure logs**
-Cut and past the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

**Additional context**
I am using Visual Studio 2017 and setup to use Opengl

[2020-08-19 07:56] chrisgame1002 commented on #12993
[config-x64-windows-out.log](https://github.com/microsoft/vcpkg/files/5094808/config-x64-windows-out.log)

[2020-08-19 07:56] JackBoosY commented on #12995
Could you remove `gtest` and rebuild `azure-kinect-sensor-sdk`?

Thanks.

[2020-08-19 08:00] JackBoosY commented on #12993
[code]

[2020-08-19 08:00] Crazysiri commented on #12995
I've tried it but it seems like not works.

benebot@benebot:~/vcpkg$ ./vcpkg remove gtest
The following packages will be removed:
    gtest:x64-linux
Removing package gtest:x64-linux...
Removing package gtest:x64-linux... done
benebot@benebot:~/vcpkg$ ./vcpkg install azure-kinect-sensor-sdk
Computing installation plan...
The following packages will be built and installed:
    azure-kinect-sensor-s

[2020-08-19 08:04] JackBoosY commented on #12995
Oh, sorry, x64-linux.

[2020-08-19 08:09] Crazysiri commented on #12995
you mean it's not supported for x64-linux,right? and when will it be supported?thanks @JackBoosY

[2020-08-19 08:19] JackBoosY commented on #12995
@Crazysiri Yeah, that's what I mean.

[2020-08-19 08:21] JackBoosY commented on #12995
Since we don't have `libuvc`, and this port depends on it, I can't support it now.

[2020-08-19 08:23] NancyLi1013 commented on #12992
Hi @showintime
Thanks for posting this issue.
Could you please remove tiff:x64-windows first, then install `libjpeg-turbo:x64-windows`?

Since `tiff ` depends on `libjpeg-turbo` to build.

[2020-08-19 08:27] Crazysiri commented on #12995
where to see support list ? thanks
and how about clone from the original git and cmake and make ? do you just mean vcpkg not support it or the sdk doesn't support it.

[2020-08-19 08:34] JackBoosY commented on #12995
In _SOUCE_PATH\extern\libuvc\CMakeLists.txt_:
[code]
Since this folder is a git link, vcpkg did not download it.

[2020-08-19 08:41] Crazysiri commented on #12995
could I build uvc myself and put it in some folder?and where's the folder

[2020-08-19 08:42] PhoebeHui commented on #12996
@stemuser027, could you provide more information? like the repro steps and repro code.

Do you install the freeglut by vcpkg and copy everything to msvc toolset forlder?

[2020-08-19 08:58] JackBoosY commented on #12995
@Crazysiri You may also need #12997, and modify _SOURCE_PATH/CMakeLists.txt_, change `find_package(gtest` to `find_package(GTest`.
Using command `./vcpkg install azure-kinect-sensor-sdk --editable`, put uvc source to _VCPKG_ROOT/buildtrees/azure-kinect-sensor-sdk/src/.0-alpha.0-30d96b3859/extern/libuvc/src_.

[2020-08-19 09:17] PhoebeHui commented on #12990
@Crazysiri, I can't repro this issue with gcc 7.5.0. Everything built successfully for me.

You can add  'set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -std=c++11")' in libyuv CMakeLists.txt file, however, we don't recommend to set the option, it may cause others unexpect failures.

[2020-08-19 09:22] Crazysiri commented on #12995
what's the SOURCE_PATH? the azure-kinect-sensor-sdk path?

[2020-08-19 09:27] JackBoosY commented on #12995
_SOURCE_PATH_ == _VCPKG_ROOT/buildtrees/azure-kinect-sensor-sdk/src/.0-alpha.0-30d96b3859_

[2020-08-19 09:37] nauq302 opened #12998 "SDL2 build failure"
**Host Environment**
- OS: Ubuntu 20.04
- Compiler: gcc 9
- Package: sdl2:x64-linux
- Vcpkg version: 2020.06.15-unknownhash

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install sdl2`

**Failure logs**
`CHECK_LIB_unwind-generic_RELEASE:CHECK_LIB_unwind-generic_RELEASE-NOTFOUND
CMake Error at scripts/cmake/vcpkg_fixup_pkgconfig.cmake:229 (message):
  Library "unwind-generic" was not f

[2020-08-19 09:42] #12992 closed

[2020-08-19 09:42] PhoebeHui commented on #12722
The PR has been merged, please get latest source and try again.

[2020-08-19 09:42] #12722 closed

[2020-08-19 09:47] JackBoosY commented on #12998
I can't repro it. `unwind` does not exists on my `sdl2.pc`.

@Neumann-A Could you please take a look?

Thanks.

[2020-08-19 09:48] showintime commented on #12992
Hi @NancyLi1013
Thanks  a lot, and I have solved it by using the way you told.
I have met this problem because i inited two vcpkg instances.

[2020-08-19 09:51] PhoebeHui commented on #12623
x264 has been added, however, it's broken on windows, the libsrt is still unavailable.

[2020-08-19 10:06] Crazysiri commented on #12995
ok , I'll try.thanks!

[2020-08-19 10:13] Crazysiri commented on #12990
maybe It's the version of gcc.
do I need to run './vcpkg install libyuv --editable'  before I add this in the CMakeLists.txt

[2020-08-19 10:39] JonLiu1993 commented on #12663
Relate to #12918

[2020-08-19 10:41] iuming opened #13001 "[boost-compatibility] LICENSE_1_0.txt download failed"
When asking a question please also include where you looked for an answer (so we can update the documentation if needed).
When I run `vcpkg install boost-compatibility` to install boost-compatibility, but it show this error, How can I solve it?
[code]

[2020-08-19 11:36] sfhacker commented on #12443
A couple of questions here:

a) Who should (normally) close issues?
b) This issue was resolved by the time it was closed?

Have fun.

[2020-08-19 12:01] BaderEddineOuaich commented on #13001
CMake uses cURL to download resources, which requires HTTP/HTTPS proxy to be setup.
check out  [how to configure proxy settings in linux](https://www.serverlab.ca/tutorials/linux/administration-linux/how-to-configure-proxy-on-ubuntu-18-04/)

[2020-08-19 12:12] cristianadam commented on #12919
https://github.com/janbar/openssl-cmake/ is a thing. I don't know if it's being packaged by vcpkg.

[2020-08-19 12:25] Aminah1992 commented on #12949
I have the same problem
  Package: lapack-reference:x64-windows
  Vcpkg version: 2020.06.15-nohash

Please any help?
vcpkg is the latest and there is no problem with openblas.

[2020-08-19 12:31] Voskrese commented on #12949
merge patch #12956
reinstall openblas

[2020-08-19 12:44] SeanFarrow commented on #5892
Is this now available? It's something I'm looking for.

[2020-08-19 13:44] rsweeten commented on #12959
Hi @NancyLi1013 , I did run it again after. however when I run it again and then check the version I still get the old version:

`vcpkg> vcpkg version
Vcpkg package management program version 2020.02.04-nohash`

[2020-08-19 13:53] cenit commented on #12993
It looks like ffmpeg module is outputting libraries with the optimized/debug keywords, while they are expected with the generator expression syntax?
Maybe a recent PR modified it?
I will look into it...

@chrisgame1002 please also do a git pull to update your vcpkg. Since from the logs CUDA 10.0 is detected and allowed, it means that your vcpkg is not up to date (minimum required now is 10.1)

[2020-08-19 14:35] stemuser027 commented on #12996
Thank you so much for you response. I got the information from

http://freeglut.sourceforge.net/index.php#download

under the section for "Stable Re;ease", I selected:
freeglut 3.2.1 [Released: 29 September 2019]

If this the correct location, or do you have a recommended repo for me go get the inormation

[2020-08-19 14:39] davidm1985 opened #13002 "[pcl[core,tools]] build failure"
**Host Environment**
- OS: Windows 10 Pro
- Vcpkg version 2020.06.15-nohash
- Package: pcl[core,tools]:x64-windows
- Visual Studio 2015

**To Reproduce**
Steps to reproduce the behavior:
vcpkg install pcl[core,tools]:x64-windows

**Failure logs**
[code]

[2020-08-19 14:51] chuah1 opened #13003 "[<port name>] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: Visual Studio 2015

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install  --triplet x64-windows brotli'

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
    brotli[core]:x64-windows
Detecting compiler hash for triplet x64-windows...
Starting package 1/1: brotli:x64-windows
Building p

[2020-08-19 15:30] ashishvarman commented on #12919
Using the PR #12986  by  @longnguyen2004 I was able to successfully build openssl as well as curl and cpr.  It does still pull in msys2 which was perhaps expected.

I suppose I have to wait till this PR is merged before marking this as closed?

P.S. I suppose now all of boost should also build.  I have built boost separately from vcpkg till now.

[2020-08-19 15:49] longnguyen2004 commented on #12919
I guess we'll have to wait for the update to boost 1.74, which fixes a few problems with mingw compilers in `boost-build`.
Also, openssl strictly requires Unix perl (which MSYS2 provides), and we can't use native Perl for that.

[2020-08-19 16:02] longnguyen2004 commented on #12422
Boost 1.74.0 has been released, so this should be unnecessary. Let's do the update instead xD

[2020-08-19 16:02] #12422 closed

[2020-08-19 16:02] Aminah1992 commented on #12949
Could you please clarify what do you mean by "merge patch". I am using Windows 10 and running these command on cmd.

Also this is the detail of the problem

CMake Error at scripts/cmake/vcpkg_fixup_pkgconfig.cmake:74 (message):
  pkg-config error output:Package blas was not found in the pkg-config search
  path.

  Perhaps you should add the directory containing `blas.pc'

  to the PKG_CONFIG_PATH

[2020-08-19 16:10] cenit commented on #12993
I can confirm that FFMPEG has been broken in a recent PR (my usual rant about port damaging might be applied also here).
Since ffmpeg feature is optional in opencv, CI didn't catch it when it happened.
If you try to build opencv[ffmpeg] you will experience it @JackBoosY
I am opening a PR with a suggested fix.

[2020-08-19 16:49] Voskrese commented on #12949
примени патч, указанный в сылке, что не понятного

[2020-08-19 18:26] Canvis-Me opened #13009 "qt5-webengine dependency qt5-tools:x64-windows build failure"
**Host Environment**
- OS: [Windows 1909 18363.1016]
- Compiler: MS Visual Studio 16.5

**To Reproduce**
Steps to reproduce the behavior:
A clean installation of qt5-webengine:x64-windows is fine(Clone the vcpkg main branch and build it first time). However, every time a I run a git pull command, vcpkg update and vcpkg upgrade --no-dry-run, it'll rebuild the qt5 pkg. Then it will fail to build qt5

[2020-08-19 19:26] Neumann-A commented on #13009
[code]

[2020-08-19 19:59] chuah1 commented on #13003
It turned out that there is some kind of network issue with the computer.  I was able to download the mingw-w64-i686-pkg-config-0.29.2-1-any.pkg.tar.xz file on a different computer and put it in the vcpkg\downloads folder.  Now vcpkg install runs fine.

[2020-08-19 19:59] #13003 closed

[2020-08-19 20:05] sandercox commented on #1653
Thanks for the inspiration on all of this. I think I have found a way to solve this by overloading the install command when VCPKG_APPINSTALL_DEPS is set to on (new feature flag)

Happy to hear your thoughts on this as I might have missed some edge cases.

[2020-08-19 20:11] Neumann-A opened #13012 "[expat] a few issues"
- requires a vcpkg-cmake-wrapper.cmake to correctly set debug **&** release versions in `EXPAT_LIBRARIES` due to how cmakes FindEXPAT module works.
 - library name changed from 2.2.7 from expat.lib to libexpat.lib in >2.2.9. This will break future work on make based ports expecting the name expat and thus leads to a lot of pain and patching. upstream need to get their stuff together here and shoul

[2020-08-19 21:00] 48d90782 opened #13013 "[drogon:x64-linux] build failure"
**Host Environment**
- OS: ArchLinux (kernel 5.8.1)
- Compiler: GCC 10.1.0, Clang 10.0.1

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install drogon`

[code]

[2020-08-19 21:09] Neumann-A commented on #13009
https://bugreports.qt.io/browse/QTBUG-83938

[2020-08-19 22:51] BillyONeal commented on #12443
@sfhacker It was closed automatically when the PR was merged because that PR had 'resolves XYZ' in a description somewhere, not due to direct action.

[2020-08-19 23:23] Neumann-A commented on #13009
[code]

[2020-08-20 00:02] byxrolland commented on #12883
I realized the error above was showing after I set `-DVTK_FORBID_DOWNLOADS=ON`. And I did that because my first built failed with the error:

[code]

[2020-08-20 00:20] byxrolland opened #13014 "[vtk-m:x64-windows] build failure, no supported version of OpenMP"
**Host Environment**
- OS: Windows
- Compiler: VS2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install vtk-m[cuda,double,mpi,omp,tbb]:x64-windows`

**Failure logs**
[code]

[2020-08-20 00:32] StarGate-One commented on #13001
Put this file in the [vcpkg-root]\downloads folder and try again.
[boost_LICENSE_1_0.txt](https://github.com/microsoft/vcpkg/files/5099992/boost_LICENSE_1_0.txt)

[2020-08-20 00:34] #4749 closed

[2020-08-20 00:51] fldx commented on #12991
[1/18] "D:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\bin\amd64_x86\cl.exe"   -DNO_FSEEKO -DZLIB_DLL -D_CRT_NONSTDC_NO_DEPRECATE -D_CRT_SECURE_NO_DEPRECATE -ID:\develop\vcpkg\buildtrees\zlib\src\1.2.11-63309e48e5.clean -I. /nologo /DWIN32 /D_WINDOWS /W3 /utf-8 /MP  /D_DEBUG /MDd /Z7 /Ob0 /Od /RTC1 /showIncludes /FoCMakeFiles\zlib.dir\compress.obj /FdCMakeFiles\zlib.dir\ /FS -c D:\develop\

[2020-08-20 01:00] iuming commented on #13001
It is cool! Thank you very much,Thanks to your help, I solved my problem.

At the same time,I also thank you for your reply, but I did not implement the countermeasures you proposed, thank you again!

[2020-08-20 01:05] Mike4Online commented on #11177
Would be good to have a place to comment on various items in the roadmap (besides here).

Regarding Manifests, I suggest adding a **license-url** value.  The URL would lead to the text of the license.  You could then generate a list of open source libraries and their licenses by parsing each of the **vcpkg.json** files in your local source folder.  in the Java world, this can be done with the [Lic

[2020-08-20 01:59] PhoebeHui commented on #10910
This issue has been fixed, please get latest source and try again.

[2020-08-20 01:59] #10910 closed

[2020-08-20 02:27] NancyLi1013 commented on #12959
Hi @rsweeten
Have you run `\bootstrap-vcpkg.bat` after you used `git pull ` to update vcpkg?

Do you meet the same error as before if you install packages?

[2020-08-20 02:29] #12963 closed

[2020-08-20 02:34] LilyWangL commented on #12294
Pinging @Camuvingian for response, does this issue still occur?

[2020-08-20 02:36] JackBoosY commented on #11907
We haven't been able to repro this; if more information comes up, or this issue appears again, please reopen.

[2020-08-20 02:36] #11907 closed

[2020-08-20 02:45] #12919 closed

[2020-08-20 02:45] #12968 closed

[2020-08-20 02:50] JackBoosY commented on #12443
No, this issue is not resolved, so I re-opened it.

[2020-08-20 02:56] cloudhan opened #13015 "An informative site of vcpkg ports"
This is not an issue anyway.

https://vcpkg.info/

It was mentioned in https://www.reddit.com/r/cpp/comments/ibjgqq/vcpkginfo/

And I think vcpkg might needs something like this someday in the future.

Feel free to close this issue.

[2020-08-20 02:56] JackBoosY commented on #12991
[code]

[2020-08-20 03:12] chrisgame1002 commented on #12993
@cenit I already git pull to update my vcpkg,but also have same problem

[2020-08-20 03:27] NancyLi1013 commented on #13015
Hi @cloudhan
Thanks for bringing this up.
It looks like great.

@BillyONeal
Do you know if we have any plan to do something like this?

Thanks.

[2020-08-20 03:28] iuming opened #13016 "How do I solve this problem?"
When asking a question please also include where you looked for an answer (so we can update the documentation if needed).
When I installed the library, this problem occurred, how can I solve it?
[code]

[2020-08-20 03:28] NancyLi1013 commented on #13013
Hi @48d90782
Thanks for posting this issue.

There is a PR #13007 to fix this issue now. Let's wait for the PR merged.

[2020-08-20 03:32] FishHe commented on #12993
Same problem.

[2020-08-20 03:34] fldx commented on #12991
问题解决了,谢谢

[2020-08-20 03:35] Voskrese commented on #13014
./vcpkg install vtk-m[cuda,double,mpi, ~omp~ ,tbb]:x64-windows

[2020-08-20 03:50] Canvis-Me commented on #13009
Thanks, I did install qtwebkit in vcpkg. Remove it, and the build for qt5-tools works well.

[2020-08-20 03:50] #13009 closed

[2020-08-20 04:42] #10141 closed

[2020-08-20 05:46] #12991 closed

[2020-08-20 05:50] NancyLi1013 commented on #12989
Hi @veikai
Thanks for posting this request.
`NumCpp `has been added to vcpkg via PR #12682.

Please try to update vcpkg to the latest version and use this port.

[2020-08-20 05:50] #12989 closed

[2020-08-20 05:59] NancyLi1013 commented on #13016
Duplicated to #8199.

[2020-08-20 05:59] #13016 closed

[2020-08-20 06:30] Crazysiri commented on #12990
thanks , it works.
1. ./vcpkg install libyuv --editable
2. cd /home/benebot/vcpkg/buildtrees/libyuv/src/ae219701b9-f5bb103642
3. vi CMakeLists.txt
4. add 'set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -std=c++11")' in libyuv CMakeLists.txt
5. ./vcpkg install libyuv --editable
6. done

[2020-08-20 06:30] #12990 closed

[2020-08-20 07:01] NancyLi1013 commented on #13001
Hi @iuming

Thanks for posting this issue.
It seems that you have solved this problem. Please let me know if you still have any concerns about this.

[2020-08-20 07:12] PhoebeHui commented on #13014
It seem the feature 'omp' doesn't support well in vtk-m, see https://gitlab.kitware.com/vtk/vtk-m/-/issues/139

I think we need to remove this feature.

[2020-08-20 07:12] Crazysiri commented on #12995
hi, there is new errors after I do all the thing you tell me . @JackBoosY

cat /home/benebot/vcpkg/buildtrees/azure-kinect-sensor-sdk/config-x64-linux-dbg-err.log

CMake Error: The following variables are used in this project, but they are set to NOTFOUND.
Please set them or make sure they are set and tested correctly in the CMake files:
LibUSB
    linked by target "k4a_usb_cmd" in directory /home

[2020-08-20 07:16] NancyLi1013 commented on #13012
Hi @Neumann-A

Thanks for posting this issue.

I also noticed that the issue you mentioned above on upstream. It seems like upstream also does some changes about the port output name.

So it might be better to fix this after there is a conclusion on upstream. What do you think about this?

[2020-08-20 07:27] JackBoosY commented on #12995
```Target "k4a_color" links to target "libuvc::libuvc" but the target was not found.```
This proves that libuvc was not configure correctly.

[2020-08-20 07:40] Crazysiri commented on #12995
here is the screenshots for the folder.  is it correct? what should I do  after put the source to the folder? thanks.
<img width="840" alt="截屏2020-08-20 下午3 38 36" src="https://user-images.githubusercontent.com/7479347/90730810-550ff800-e2fb-11ea-821c-f4b1db0a979f.png">

[2020-08-20 07:43] JackBoosY commented on #12995
I think it's becuase the libuvc version is incorrect, you may need to download it using [this url](https://github.com/microsoft/libuvc/tree/5fc483d596c63f1bcd36be35d512468c0b75c5f3).

[2020-08-20 07:44] JackBoosY commented on #11832
Should be fixed by PR #11836.

[2020-08-20 07:47] PhoebeHui commented on #13014
The CUDA feature also broken, I will disable it as well. Many CUDA issues Active in https://gitlab.kitware.com/vtk/vtk-m/-/issues?scope=all&utf8=%E2%9C%93&state=opened&search=CUDA, consider to test it when https://gitlab.kitware.com/vtk/vtk-m/-/issues/363 resolved, if everything test successfully, we can enable this feature.

Confirmed ./vcpkg install vtk-m[double,mpi,tbb]:x64-windows installed su

[2020-08-20 07:59] Camuvingian commented on #12294
I don’t know. The fix I put in place worked, so I moved on...

[2020-08-20 08:07] JackBoosY commented on #12119
Please track issue #10209.

[2020-08-20 08:07] #12119 closed

[2020-08-20 08:20] Crazysiri commented on #12995
I clone git from  https://github.com/microsoft/libuvc.git
then git checkout  5fc483d596c63f1bcd36be35d512468c0b75c5f3
then put the file to the path
I get the same issues

[2020-08-20 08:21] Crazysiri commented on #12995
after run './vcpkg install azure-kinect-sensor-sdk --editable' I get the same issues

[2020-08-20 08:34] gleblebedev opened #13021 "[xxhash] build failure"
**Host Environment**
- OS: Windows
- Compiler: VS 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install lz4:x64-uwp`

**Failure logs**
1>------ Build started: Project: xxhsum, Configuration: Debug x64 ------
1>LINK : fatal error LNK1181: cannot open input file 'Debug\xxhash.lib'
![image](https://user-images.githubusercontent.com/2943937/90744860-01d08200-e2c8-11ea-9423-d115f3987

[2020-08-20 08:37] Neumann-A commented on #13015
There is also `vcpkgx.com` mentioned by someone in the vcpkg slack and the reddit post

[2020-08-20 08:39] Neumann-A commented on #13014
CUDA probably requires to put the CUDA compiler nvcc actually on path like VTK does.

[2020-08-20 08:41] Neumann-A commented on #13014
And yeah the openMP issue is due to VS not supporting openMP well enough. Removing the feature seems overkill since I am free to configure another compiler on Windows which supports openmp 4.0. So testing this on Linux is **mandatory** before removing **any** features!

[2020-08-20 09:00] JackBoosY commented on #12995
I will give you a complete solution tomorrow.

[2020-08-20 09:01] Voskrese commented on #13014
icl intel support openmp 4+ ver, clang support ... windows

[2020-08-20 09:12] gleblebedev commented on #13021
It looks like Debug\xxhash.lib should be Debug\xxhash\xxhash.lib in generated project file.

[2020-08-20 09:14] LilyWangL commented on #12294
Could you use the latest vcpkg to install pcl? If this issue can not reproduce, I will close this issue.

[2020-08-20 09:55] LilyWangL commented on #13021
Thanks for posting this issue. Did you install `lz4:x64-uwp` failed on VCPKG? I can insall it successfully with the latest VCPKG.
![image](https://user-images.githubusercontent.com/47812810/90755864-3b2be080-e30e-11ea-8476-4e16ac3377c3.png)
If you use xxhash in your project failed, please provide a repro codes.

[2020-08-20 10:22] rsweeten commented on #12959
Hi @NancyLi1013 ,
Yes, I have run bootstrap-vcpkg.bat after git-pull and get the same error

[2020-08-20 10:38] PhoebeHui commented on #13014
@Neumann-A, thanks for pointing out this!

I test the omp feature on linux, it looks installed successfully, so removing the feature is not wise. Very appreciate for your information!

I think all features need to be test on windows and linux when they has been added, if it doesn't support on specific arch or platform, we should have related information or commnents in future. That will save time

[2020-08-20 10:45] TheAshwanik commented on #12993
@cenit , Hi again..
I downgraded CUDA to 10.2 and python to 3.7
It failed with

    **Command failed: ninja -v**

[code]

Complete logs here:

[config-x64-windows-out.log](https://github.com/AlexeyAB/darknet/files/5102410/config-x64-windows-out.log)
I thgt downgrading CUDA (as suggested by you [here](https://github.com/AlexeyAB/darknet/issues/4782#issuecomment-677348743) ) would solve build issues

[2020-08-20 11:02] longnguyen2004 commented on #12636
Phew, going through that list is quite tiring. Nevertheless, I've made it.
All my results are above.

[2020-08-20 11:06] FishHe commented on #12993
When I add feature ffmpeg:
Building package opencv4[contrib,core,cuda,dnn,eigen,ffmpeg,jasper,jpeg,openexr,opengl,openmp,png,sfm,tiff,webp]:x64-windows...
It also fails at
 -- Configuring x64-windows
CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:72 (message):
    Command failed: ninja -v
    Working Directory: D:/vcpkg/buildtrees/opencv4/x64-windows-rel/vcpkg-parallel-configure

[2020-08-20 11:18] Neumann-A commented on #12636
That is not a native windows build environment. You need to change it to use cl, link, lib and rc

[2020-08-20 11:21] longnguyen2004 commented on #12636
I'm gonna pick a few random ones and test with `cl`. I expect most of them to have similar results.

[2020-08-20 12:13] Aleksejus1 opened #13024 "Error: Building package pcl:x86-windows failed with: BUILD_FAILED"
Package: pcl:x86-windows
  Vcpkg version: 2020.06.15-nohash

Unable to successfully build pcl. All dependencies got built correctly, but pcl failed :(

[2020-08-20 12:38] emptyVoid commented on #11832
@JackBoosY, no the issue is still there:
[code]

[config-x64-windows-dbg-err.log](https://github.com/microsoft/vcpkg/files/5103028/config-x64-windows-dbg-err.log)
[config-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/5103029/config-x64-windows-dbg-out.log)

[2020-08-20 13:30] gleblebedev commented on #13021
@LilyWangL thank you for a quick reply.

I've tried to repro it on a fresh vcpkg clone and it works fine but when I run it from powershell script it doesnt even if at a first glance both do the same thing.

I need some time to investigate this but at this point it looks like not a vcpkg issue on itself.

[2020-08-20 13:30] #13021 closed

[2020-08-20 13:31] rekuniversalrobot opened #13026 "Command: vcpkg install cpprestsdk cpprestsdk:x64-windows gives Error: Building package brotli:x86-windows failed with: BUILD_FAILED"
I want to install Casablanka (C++ REST).
cmd command vcpkg install cpprestsdk cpprestsdk:x64-windows failed after steps as follow:
--------------------------------------------------------------------------
[...path missing due to privacy...]\vcpkg>vcpkg install cpprestsdk
Computing installation plan...
The following packages will be built and installed:
  * brotli[core]:x86-windows
    cpprestsdk[

[2020-08-20 14:32] Neumann-A opened #13027 "Discourage use of unofficial:: targets if a CMake findModule is available."
`unofficial::` targets are just an anoyance if there are CMake findModules available. The usage of the `unofficial::` is probably done because the corresponding findModules was not doing the right thing. So instead of fixing that a shortcut is used to get the desired behavior which basically requires patching a lot of downstream projects.
As such the use of `unofficial::` targets should be discour

[2020-08-20 14:45] cenit commented on #12993
^ as you can see above in the linked PR ([ffmpeg] fix cmake module #13004), I have already submitted a fix for this FFMPEG problem you are encountering.
Unfortunately a broken PR has been accepted and it broke opencv/darknet/many other ports using ffmpeg downstream...

[2020-08-20 14:47] cenit commented on #12993
You can already use my PR to shortcut the solution, otherwise wait for its merge. Nowadays my PR are extremely slow to get merged (I have many pending, some urgent like the one related to OpenCV+VTK9 but still waiting). I hope this one is faster...

[2020-08-20 14:47] BengtGustafsson opened #13029 "Is it possible to get rid of date/time top level directory inside exported zip files?"
I want each exported zip file to be identical for a given "vcpkg export --zip <packages>" command line. By default this is not true as a top directory including the date and time is prepended inside the zip file.

This prevents us from upgrading the used library versions without changing our cmakelists file for the using modules, which is painful.

(We have another system where you specify the nam

[2020-08-20 15:21] Sibras commented on #12896
Not with msvc compilation. Previously vcpkg output libx264.lib on windows up until the recent change. FFmpeg has been independently using libx264.lib for linking for years without any issue.

Mingw can output a "libx264.dll.a" lib that when converted to a msvc compatible file gets the ".dll.lib" extension but by default ffmpeg has always expected the msvc compiled "libx264.lib"

[2020-08-20 15:44] hanyukang opened #13030 "[google-breakpad] x64-linux. Build success but no symbol in lib"
**Describe the bug**
Build breakpad was successful, but can't find symbol in the static lib.

error : undefined reference to `google_breakpad::ExceptionHandler::ExceptionHandler(google_breakpad::MinidumpDescriptor const&, bool (*)(void*), bool (*)(google_breakpad::MinidumpDescriptor const&, void*, bool), void*, bool, int)'
error : undefined reference to `google_breakpad::ExceptionHandler::~Excepti

[2020-08-20 15:44] niitsuma opened #13031 "libfreenect2 LIBUSB_ERROR_NOT_FOUND"
I am trying to use
https://github.com/rjw57/freenect2-python
with vcpkg.

But
[Error] [Freenect2Impl] failed to open Kinect v2: @2:11 LIBUSB_ERROR_NOT_FOUND Entity not found

The following is I did
---------------------

 vcpkg.exe install libfreenect2:x64-windows

windows10 environment variable PKG_CONFIG_PATH set to
C:\vcpkg\installed\x64-windows\lib\pkgconfig

Edit line in
C:\vcpkg\installed\x6

[2020-08-20 15:47] cenit commented on #12796
any news here? Upgrade looks broken on any machine I try

[2020-08-20 16:01] Neumann-A commented on #12896
`libtool` will output `dll.lib` with native windows tools.

 I changed it because the *.pc file generated by the x264 buildsystem clearly states: `-lx264` Which on windows + autotools means searching for `x264.lib` or `x264.dll.lib`. Otherwise the pc file must be changed to read `-llibx264`. The correct way for ffmpeg to handle this is to not hardcode library names......and either use pkg-config o

[2020-08-20 16:18] TheAshwanik commented on #12993
And tried building everything from scratch in a clean enviornment.
The windows build process for darknet using vcpkg mentioned [here](https://github.com/AlexeyAB/darknet/#how-to-compile-on-windows-using-cmake)

I ran:
[code]
And then changed the 2 files in my environment.
https://github.com/microsoft/vcpkg/pull/13004/files#diff-d4dc1c0937a15714e65d2309b7100c71
and
https://github.com/microsoft/vcpk

[2020-08-20 16:23] foobra opened #13032 "[boringssl] x64-osx build failure"
**Host Environment**
- OS: MacOS 10.5
- Compiler: Xcode 11.6

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install boringssl --triplet x64-osx`

**Failure logs**
`clang: error: no such file or directory : '/wd4065'`

**Additional context**

[2020-08-20 16:42] longnguyen2004 opened #13033 "[boost] Update to 1.74.0"
Library name: boost

New version number: 1.74.0

Other information that may be useful (release notes, etc...)
There are some mingw related fixes in boost-build that I'd like to have

[2020-08-20 17:41] cenit commented on #12993
Can you upload the log? The PR should fix the ffmpeg error, I want to better understand what’s the problem now

[2020-08-20 18:06] TheAshwanik commented on #12993
[config-x64-windows-out.log](https://github.com/microsoft/vcpkg/files/5104713/config-x64-windows-out.log)

I can see some cmake errors.. so here are those logs as well

[CMakeOutput.log](https://github.com/microsoft/vcpkg/files/5104716/CMakeOutput.log)
[CMakeError.log](https://github.com/microsoft/vcpkg/files/5104717/CMakeError.log)

[2020-08-20 18:25] cenit commented on #12993
It looks like the patchset from #13004 was not correctly applied?

[2020-08-20 18:29] hartwork commented on #13012
Not exactly. 2.2.9 is back at where 2.2.7 was: The change in 2.2.8 was mistaken and reverted. The [dedicated change log entry of 2.2.9](https://github.com/libexpat/libexpat/blob/c092d40c300c6d219cb3b111932a824022265370/expat/Changes#L54-L59) explains in more detail. To make it visual:

| Version | Artifact |
| -- | --: |
| 2.2.7 | `libexpat.lib` |
| 2.2.8 | `expat.lib` |
| 2.2.9 | `libexpat.lib` |

[2020-08-20 20:06] Sibras commented on #12896
By default ffmpeg does use pkg-config to get x264 information. The pkgconfig file for x264 does in fact say x264 which is why ffmpeg then does an internal conversion that converts all instances of x264.lib to libx264.lib when using msvc. So your right, in that upstream x264 never output a valid pkgconfig.

So to correct that we can either change the lib name as you did or correct the pkgconfig fil

[2020-08-20 20:06] ASxa86 commented on #13029
if you mean the exported `vcpkg-export-<date time>.zip` file we simply change the name of the output using the `--output` flag.

`vcpkg export zlib:x64-windows --zip --output=vcpkg-export`

[2020-08-20 21:01] ZeroAbility commented on #11727
Recent `vcpkg upgrade --no-dry-run` to 5.15 and I am able to compile our project in up to date Debian 10 (Buster). I ran `sudo apt-get build-dep qt5-default` to address issues any dependencies in Debian. When I launch our project there is no text in the menus at the root or sub level. There are several Fontconfig errors and warnings similar to this report:

https://bbs.archlinux.org/viewtopic.php?

[2020-08-20 21:04] etheory opened #13035 "[x265] build failure"
**Host Environment**
- OS: Windows 10 Home
- Compiler: Visual Studio Community 2019 - 16.7.1

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg.exe install x265 --triplet=x64-windows`

**Failure logs**
[code]

Which makes no sense, since all other packages I've tried are installing correctly. There is nothing wrong with my Internet connection.

No logs were produced by this run.

**Additi

[2020-08-20 21:07] Neumann-A commented on #11727
That is probably due to fontconfig in vcpkg being outdated. should be fixed by #11776

[2020-08-20 21:13] alphaquant2 opened #13036 "[bzip2:x64-windows] build failure"
Hi I am sorry I could not install bzip2 package with this updated compiler version. However, with the previous version last year it worked.
would it be possible to have this problem fixed?
Best Regards
Jérôme Garcia

**Host Environment**
- Windows 10
- Compiler: version 2020.06.15-nohash

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install bzip2:x64-windows`

**Failure logs**
Starti

[2020-08-20 21:22] #12949 closed

[2020-08-20 21:33] Neumann-A commented on #13036
`math/C++/librairies` rename to `math/Cpp/librairies`
There was somewhere a PR fixing it but I was not able to directly find it

[2020-08-20 21:42] TheAshwanik commented on #12993
There were only 2 files changed in ffmpeg right ?
I think I did it correctly..But you may be right... I did try again a clean build with carefully changing the ffmpeg fix.. and this time surprisingly it failed with a different error...

[code]

[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/5105622/install-x64-windows-dbg-out.log)
[code]

[2020-08-20 22:05] rkitover opened #13037 "Allow upgrading to new revision of port."
****

**Is your feature request related to a problem? Please describe.**

Today I was trying to upgrade libvorbis and it failed, because it requires a new revision of libogg with `pkg-config` support.

It did not automatically upgrade libogg, see: #12666

When I tried to upgrade libogg manually, it did not allow me to do that either:

[code]

It seems that upgrades when just the revision of a port

[2020-08-20 22:40] StarGate-One opened #13039 "[vcpkg - bootstrap-vcpkg.sh] clang and gcc - Unknown escape sequence in PR #12976 updated sources"
**Describe the bug**
Unknown escape sequence warnings when running bootstrap-vcpkg.sh

**Environment**
- OS: [Linux - openSUSE 15.2 WSL2 and Hyper-V]
- Compiler: gcc (SUSE Linux) 9.3.1 20200406 [revision 6db837a5288ee3ca5ec504fbd5a765817e556ac2]

**To Reproduce**
Steps to reproduce the behavior:
1. >$ git pull
2. >$ ./bootstrap-vcpkg.sh --disableMetrics
-- The CXX compiler identification is GNU 9.

[2020-08-20 22:42] Voskrese commented on #13014
hmm...
https://docs.microsoft.com/ru-ru/cpp/parallel/openmp/openmp-simd?view=vs-2019

cl -openmp:experimental = 4 ? //test it someone

[2020-08-20 22:58] StarGate-One commented on #13039
Update, to rule out a corrupted fork and/or instance:
1. I deleted my fork copy of vcpkg and re-forked it again
2. I deleted the vcpkg instances from both the WSL2 and Hyper-V openSUSE linux machines
3. I re-cloned the vcpkg instance from my forked copy
4. I ran bootstrap-vcpkg.sh --disableMetrics on both **with same errors**.
5. My Windows instances of vcpkg (cloned from the same forked copy of v

[2020-08-20 23:05] simonouel opened #13041 "[<port name>] build failure"
**Host Environment**
- OS: Windows
- Compiler: ?

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install openimageio:x64-windows`

**Failure logs**
Add any other context about the problem here, such as what you have already tried to resolve the issue.
Building package x265[core]:x64-windows...
Could not locate cached archive: C:\Users\simono\AppData\Local\vcpkg/archives\27\27b91bdd30a5

[2020-08-20 23:18] StarGate-One commented on #13039
See https://github.com/microsoft/vcpkg/commit/680b2928a1b7173f7fcb420612f5536a192f9ca3#r41619715 this was brought up in the original PR #12976 by @qis but somehow was not corrected before these changes were committed to master???

[2020-08-20 23:45] qis commented on #13039
@StarGate-One Nah, I sneaked in that comment after reading those warnings when compiling `master`. It looked harmless and I was too lazy to create a PR. ^_^

[2020-08-21 00:11] StarGate-One commented on #13039
LOL - but I personally think with the introduction of the "new warnings" should have been caught and corrected before it was committed ^_^.

.

[2020-08-21 01:09] StarGate-One commented on #13041
Looks like there is a github mirror: https://github.com/videolan/x265 there is a 3.2 tag but there is a verison 3.4 tag - do not know if upgrading it to latest version would cause incompatibilities???

If you rename the `[vcpkg-root]\ports\x265\portfile.cmake` and put this file in its place, renaming it from `portfile.cmake.txt` to `portfile.cmake` it should download/install, but no guarantees as

[2020-08-21 01:12] showintime opened #13042 "Memory exhausted"
i try to install osg`vcpkg install install osg:x64-windows`,but it always exhausts memorys.
so how to limit memory and threads to vcpkg-compiler(MSVC Compiler)?

[2020-08-21 02:24] PhoebeHui commented on #13039
@StarGate-One, It's my fault, sorry for the mistake!

Fixed by PR https://github.com/microsoft/vcpkg/pull/13043

[2020-08-21 02:27] JonLiu1993 commented on #13036
Hi @alphaquant2 ,
Can your problem be solved according to @Neumann-A Neumann-A's suggestion? I can install it locally

[2020-08-21 02:35] JackBoosY commented on #12993
[code]

[2020-08-21 02:48] JackBoosY commented on #13027
I think it is not encouraged to **directly** use `unofficial::` better.

`FindABC.cmake` provided by cmake is not necessarily suitable for the port built in vcpkg, because as the port is updated, its header file name and library name may **change**, which is why cmake has always maintained `FindABC.cmake`. Unfortunately, the cmake in vcpkg will not be updated in time to update these cmake files.

[2020-08-21 03:00] westfly opened #13044 "[vcpkg search] highlight search result"
****

There's no highlight in search result, that make user confuse
[code]

[2020-08-21 03:12] JackBoosY commented on #13027
List:
<details>
- brotli
- libcroco
- librsvg
- libiconv
- tinyxml
- pixman
- nana
- libvpx
- parson
- sajson
- secp256k1
- glib
- cctz
- tinyxml
- concurrentqueue
- libuv
- gettext
- mathc
- tiny-aes-c
- tgc
- tiny-regex-c
- cello
- tiny-bignum-c
- mongoose
- sqlite3
- iniparser
- secp256k1
- concurrentqueue
- libsvm
- nativefiledialog
- kissfft
- http-parser
- breakpad
- tiny-aes-c
- tiny-bignum

[2020-08-21 03:12] JackBoosY commented on #13027
List:
<details>
- brotli
- libcroco
- librsvg
- libiconv
- tinyxml
- pixman
- nana
- libvpx
- parson
- sajson
- secp256k1
- glib
- cctz
- tinyxml
- concurrentqueue
- libuv
- gettext
- mathc
- tiny-aes-c
- tgc
- tiny-regex-c
- cello
- tiny-bignum-c
- mongoose
- sqlite3
- iniparser
- secp256k1
- concurrentqueue
- libsvm
- nativefiledialog
- kissfft
- http-parser
- breakpad
- tiny-aes-c
- tiny-bignum

[2020-08-21 03:21] NancyLi1013 commented on #13041
Hi @simonouel and @StarGate-One

Thanks for posting this issue.

It seems that the archive is not available now. We need to fix it later.

It's duplicated to #13035, so let's track this issue here.

[2020-08-21 03:21] #13041 closed

[2020-08-21 03:49] worrysprite opened #13046 "[New Port Request] kaguya"
Library name: kaguya

Library description: C++ binding to Lua

Source repository URL: https://github.com/satoren/kaguya

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2020-08-21 04:54] TheAshwanik commented on #12993
any help?

[2020-08-21 04:56] akilaln opened #13047 "[x265] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: VS2015

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install openimageio`

**Failure logs**
Starting package 70/80: x265:x86-windows
Building package x265[core]:x86-windows...
Could not locate cached archive: C:\Users\alakshminarayanan\AppData\Local\vcpkg/archives\f1\f1e716cb3dc26793b04bf0b0e0d145e433b420f9.zip
-- Downloading https://

[2020-08-21 04:58] FishHe commented on #12993
#13004 works fine. 👍 👍

[2020-08-21 05:07] akilaln commented on #13047
https://bitbucket.com/multicoreware/x265/get/3.2.tar.gz doesn't exist

[2020-08-21 05:13] TheAshwanik commented on #12993
Yes, but then I get a different error I mentioned [above](https://github.com/microsoft/vcpkg/issues/12993#issuecomment-677921121)?

[2020-08-21 05:38] JonLiu1993 commented on #13024
Hi @Aleksejus1 ,Thank you pr.
Can you update vcpkg and then provide the log？I installed it successfully in the local Windows 10 environment

[2020-08-21 05:45] PhoebeHui commented on #13039
The PR has been merged, please get latest source and try again.

[2020-08-21 05:45] #13039 closed

[2020-08-21 05:56] Aleksejus1 commented on #13024
@JonLiu1993 What sort of information can I provide that would be useful?

[2020-08-21 05:59] FishHe commented on #12993
I do not encounter this, for latest version of vcpkg with #13004 PR. I added these features to build :
opencv4[contrib,core,cuda,dnn,eigen,ffmpeg,jasper,jpeg,nonfree,openexr,opengl,openmp,png,sfm,tiff,webp]

Did you use the very clear environment?

`
Building package opencv[contrib,core,cuda,dnn,eigen,ffmpeg,jasper,jpeg,nonfree,openexr,opengl,openmp,png,sfm,tiff,webp]:x64-windows...
Could not loca

[2020-08-21 06:02] JonLiu1993 commented on #13024
@Aleksejus1 ,Can you provide your failure log?

[2020-08-21 06:10] Aleksejus1 commented on #13024
`C:\Programs\vcpkg>vcpkg update
Using local portfile versions. To update the local portfiles, use `git pull`.
No packages need updating.

C:\Programs\vcpkg>git pull
remote: Enumerating objects: 16, done.
remote: Counting objects: 100% (16/16), done.
remote: Compressing objects: 100% (2/2), done.
remote: Total 17 (delta 14), reused 14 (delta 14), pack-reused 1
Unpacking objects: 100% (17/17), done.

[2020-08-21 06:14] JonLiu1993 commented on #13024
@Aleksejus1 ，Can you provide the logs under this path？C:\Programs\vcpkg\buildtrees\pcl\install-x86-windows-dbg-out.log

[2020-08-21 06:20] Aleksejus1 commented on #13024
[install-x86-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/5107132/install-x86-windows-dbg-out.log)

[2020-08-21 06:38] JonLiu1993 commented on #13047
Thanks for posting this issue. Closed as duplicate of #13035

[2020-08-21 06:39] TheAshwanik commented on #12993
Yes I did on clean install...

Thanks for looking into this.

Did you or can you try this?
.\vcpkg install darknet[full]:x64-windows

does this work?

[2020-08-21 06:52] PhoebeHui commented on #13030
The exception handler in libbreakpad_client which does not build on non-windows now.

See commnents in https://github.com/microsoft/vcpkg/blob/master/ports/breakpad/CMakeLists.txt#L40, it seems the libbreakpad_client target does not work on non-windows.  I will take a look if it supports with latest source.

[2020-08-21 06:52] #13047 closed

[2020-08-21 06:53] JackBoosY commented on #13044
Is this necessary?

[2020-08-21 06:58] JackBoosY commented on #13032
Looks like there is no judgment there. Needs add `if (MSVC) ... endif()`.

[2020-08-21 06:59] JackBoosY commented on #13037
@BillyONeal What do you think about?

[2020-08-21 07:01] cenit commented on #12993
It works on my computer. I fear that some confusion happened during your cuda11 downgrade

[2020-08-21 07:03] JackBoosY commented on #12995
For some reason libusb cannot be found, I need to fix it first (Requied by this port).

[2020-08-21 07:07] Aleksejus1 commented on #13024
@JonLiu1993 Any news as to the solution?

[2020-08-21 07:09] TheAshwanik commented on #12993
Oh that's sad...
I am not sure what to try now.. I am losing sleep over this.. I got to get this working :)

In other option, I had built opencv with cmake and visual studio. everything buit fine.. But still cv2 module is not found when I try to import.  I set PATH etc, but still its giving me grief.

[2020-08-21 07:10] vistart opened #13049 "PowerShell 7 has been released for three months, and it is time to integrate into PowerShell 7 by default."
****

**Is your feature request related to a problem? Please describe.**

"PowerShell 7" has been released for three months, and I am using it. However, the 2020.06 version of vcpkg still uses PowerShell 6.2.1.

**Proposed solution**

It is integrated into PowerShell 7 by default。

**Describe alternatives you've considered**

Allows users to customize the version number of the integrated PowerShel

[2020-08-21 07:14] JackBoosY commented on #13049
It's hard to say.
The new version of powershell must be compatible with many ps1 scripts in vcpkg.

[2020-08-21 07:18] JonLiu1993 commented on #13024
Did you run the command 'vcpkg integrate install' after installing pcl? If not, You might try that.

[2020-08-21 07:25] LilyWangL commented on #12980
Thanks for posting this issue. Closed as duplicate of #12955.

[2020-08-21 07:25] #12980 closed

[2020-08-21 07:30] iuming opened #13050 "How do I setup intel-mkl in vcpkg successfully?"
When asking a question please also include where you looked for an answer (so we can update the documentation if needed).
I have successfully installed MKL (2020 Update 2), but it is on Disk E, and my vcpkg is on Disk F. Is this error caused by this reason? Still need to add some folders of MKL to the system environment variables? I don't know how to add it. According to the MKL installation manua

[2020-08-21 07:32] JackBoosY commented on #13042
You can modify _VCPKG_ROOT/ports/osg/portfile.cmake_ line 76 from
`vcpkg_install_cmake()`
to
`vcpkg_install_cmake(DISABLE_PARALLEL)`.

[2020-08-21 07:33] Aleksejus1 commented on #13024
@JonLiu1993 I tried doing that command now, but after runninc 'vcpkg install pcl' again, it failed to build with the same error.

[2020-08-21 07:37] JonLiu1993 commented on #13024
@Aleksejus1 ,Also make sure that the version installed is the same as the platform in visual studio (x32 vs x64). I get unresolved external symbol errors when I use the wrong one. By default unless otherwise specified, installed packages are x32, which you probably saw in the guide you linked anyway.

[2020-08-21 07:39] Aleksejus1 commented on #13024
@JonLiu1993 How could i install x64 version then?

[2020-08-21 07:42] fingerecho opened #13051 "Error: Building package jsoncpp:x86-windows failed with: BUILD_FAILED"
**Host Environment**
- OS: Windows
- Compiler: visual studio 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install jsoncpp`

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
    jsoncpp[core]:x86-windows
Warning: The following VS instances are excluded because the English language pack is unavailable.
    C:\Program Files (x86)\

[2020-08-21 07:43] fingerecho commented on #13051
-The content of buildtrees\jsoncpp\config-x86-windows-out.log:
[1/2] cmd /c "cd .. && "C:/Program Files (x86)/vcpkg/downloads/tools/cmake-3.17.2-windows/cmake-3.17.2-win32-x86/bin/cmake.exe" "C:/Program Files (x86)/vcpkg/buildtrees/jsoncpp/src/1.9.2-d01d7f5c9b.clean" "-DJSONCPP_WITH_CMAKE_PACKAGE=ON" "-DBUILD_STATIC_LIBS=OFF" "-DJSONCPP_WITH_PKGCONFIG_SUPPORT=OFF" "-DJSONCPP_WITH_POST_BUILD_UNITTE

[2020-08-21 07:43] JonLiu1993 commented on #13024
@Aleksejus1  .\vcpkg install pcl:x64-windows

[2020-08-21 07:44] JackBoosY commented on #13050
Modify _VCPKG_ROOT/ports/intel-mkl/portfile.cmake_ line 10, from
[code]
to
[code]

[2020-08-21 07:45] JackBoosY commented on #13051
`Please install the English language pack.`

[2020-08-21 07:46] LilyWangL commented on #13026
Thanks for posting this issue. I can not reproduce this issue locally with the latest VCPKG. Did you run command `.\bootstrap-vcpkg.bat` after running `git pull`?

[2020-08-21 07:48] fingerecho commented on #13051
Thank you

[2020-08-21 07:52] alphaquant2 commented on #13036
Hi, indeed in renaming the directory C++ into Cpp, it allowed the compilation to succeed. However as I have other programms working on the same C++ directory in other computers I am doing the move carefully on a test computer to see if the rest will fit. Thanks

[2020-08-21 07:54] Neumann-A commented on #13036
the relevant pr is #12964

[2020-08-21 07:55] fingerecho commented on #13051
The `kernel32.Lib` ,   C:\Program Files (x86)\Windows Kits\10\Lib\10.0.19041.0\um\x86\kernel32.Lib
I added   C:\Program Files (x86)\Windows Kits\10\Lib\10.0.19041.0\um\x86  to %PATH% enviroment

[2020-08-21 07:56] JackBoosY commented on #13051
More details?

[2020-08-21 08:01] fingerecho commented on #13051
Firstly, I git clone from github,  then I use  the .bat  shell to build ,  then  use the intergrate command,  then vcpkg install jsoncpp, but it spared too much  time, So I downloaded the resource to avoid wasting time,  I got some tips like ` Extracting source ` . However, I failed at the last step.

[2020-08-21 08:03] Crazysiri commented on #12995
ok，thanks .

[2020-08-21 08:03] JackBoosY commented on #13051
Did you use powershell? Can you provide output in the console?

[2020-08-21 08:04] fingerecho commented on #13051
No more.

[2020-08-21 08:05] fingerecho commented on #13051
Windows Terminal.  Manager mode.

[2020-08-21 08:06] iuming commented on #13050
Thank you very much, I have succeed install intel-mkl!

[2020-08-21 08:07] Crazysiri opened #13052 "[mosquitto 1.6.8#2] crash"
CMakeLists.txt:
find_package(mosquitto REQUIRED)
include_directories(PRVIATE ${MOSQUITTO_INCLUDE_DIRS})
    target_link_libraries(xx  PRVIATE  ${MOSQUITTO_LIBRARIES})

code:

    mosquitto_lib_init();

run and error occurs:

Process finished with exit code 139 (interrupted by signal 11: SIGSEGV)

what else info do you need?

[2020-08-21 08:07] JackBoosY commented on #13051
I strongly recommend that you use powershell instead of cmd or other console.
And please install Visual Studio English package first, then try to install jsoncpp again.

If you still encounter issues, please provide the complete information output by powershell.

Thanks.

[2020-08-21 08:08] fingerecho commented on #13051
Thank you.

[2020-08-21 08:08] #13050 closed

[2020-08-21 08:10] fingerecho commented on #13051
PS C:\Program Files (x86)\vcpkg> ./vcpkg install jsoncpp                                                                Your feedback is important to improve Vcpkg! Please take 3 minutes to complete our survey by running: vcpkg contact --survey                                                                                                                    Computing installation plan...

[2020-08-21 08:10] fingerecho commented on #13051
Now, this is powershell-output, the same as before.

[2020-08-21 08:11] Crazysiri commented on #13052
but I clone from  https://github.com/eclipse/mosquitto.git  && cd mosquitto  && make build && cd build &&  cmake .. && make  && make install.
then change CMakeLists.txt:
include_directories(PRVIATE /usr/local/include/)
target_link_libraries(xx PRVIATE /usr/local/lib/libmosquitto.so)

that is ok

[2020-08-21 08:13] #13051 closed

[2020-08-21 08:15] JackBoosY commented on #13051
`Warning: The following VS instances are excluded because the English language pack is unavailable.`
你装过英文语言包了吗？
![image](https://user-images.githubusercontent.com/47264268/90868534-8a831700-e3c9-11ea-93fa-938fa9466ade.png)

[2020-08-21 08:16] fingerecho commented on #13051
Sorry! I try again.

[2020-08-21 08:22] JackBoosY commented on #13052
Thanks for reporting this issue! ButI can't repro it.
Here is my code:
[code]
Do I forgot some thing?

[2020-08-21 08:25] foobra opened #13053 "[libwebsockets] x64-osx build failure"
**Host Environment**
- OS: macos 10.15
- Compiler: Xcode 11.6

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install libwebsockets --triplet x64-osx`

**Failure logs**
`
Git commit hash: 2020.06-448-gd48e2bd9d
zlib/miniz include dirs: /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.15.sdk/usr/include
zlib/miniz libraries: /usr/lib/libz.dyli

[2020-08-21 08:26] foobra commented on #13053
But when I ran `./vcpkg install openssl --triplet x64-osx`, it says I already installed it.
Computing installation plan...
The following packages are already installed:
    openssl[core]:x64-osx
Package openssl:x64-osx is already installed

Total elapsed time: 15.59 us

The package openssl is compatible with built-in CMake targets:

    find_package(OpenSSL REQUIRED)
    target_link_libraries(main