[2021-11-29 02:56] JackBoosY commented on #21666
[code]
Looks like your Visual Studio configuration has some problems.
Please provide _D:\ENV\vcpkg\buildtrees\blas\x64-windows-dbg\CMakeFiles\CMakeError.log_

[2021-11-29 02:59] JackBoosY commented on #21631
If it exists in the parent path of vcpkg, it shouldn't.

[2021-11-29 03:00] JackBoosY commented on #20101
Should we print a message to the user?

[2021-11-29 03:06] JackBoosY commented on #21545
In fact, cmake obviously finds the openssl you manually installed first, let me see how to avoid this.

[2021-11-29 03:07] JackBoosY commented on #21496
I will handle this issue today.

[2021-11-29 03:31] SamuelMarks commented on #21631
Okay well that's the confusing hiccup, see those commits and github action log output (all code is open-source)

[2021-11-29 05:24] zhangbowei commented on #21427
How do I use an unofficial triplet？

[2021-11-29 05:58] JackBoosY commented on #21688
Can you please also provide the _build-x64-windows-static-rel-*-out.log_ ?

Thanks.

[2021-11-29 05:58] wbaq opened #21739 "[jsoncpp] Build error"
**Host Environment**
- OS: [e.g. Windows/Linux etc...]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install xxxx`

**Failure logs**
-Cut and paste the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

**Additional context**
Add any other context about the problem here, such as what yo

[2021-11-29 06:05] zhangbowei opened #21740 "Error: boost cross compile"
question: boost can be cross-compiled manually，why vcpkg not support？

 vcpkg install boost:arm-linux

Computing installation plan...
Error: python3[core] is only supported on '!(arm | uwp)'

![image](https://user-images.githubusercontent.com/14348480/143816764-6466f303-2dc5-4125-bdc2-0793102e1ba6.png)

[2021-11-29 06:06] JackBoosY commented on #21427
I think this question is off topic.
You can found the official in folder _VCPKG_ROOT/triplets_, and the community triplets are in _VCPKG_ROOT/triplets/community_ which may have some issues and we can't guarantee that.
To use triplet, you shoud add `:TRIPLET_NAME` after ports or add extra options `--triplet=TRIPLET_NAME` to the install command line.
Such as:
[code]
or
[code]

[2021-11-29 06:14] eunwonki opened #21741 "[cuda] Build error command: ./vcpkg install pcl[core,cuda,opengl,qt,vtk]:x64-windows --recurse"
**Host Environment**
- OS: Windows10
- Compiler: VS 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install xxxx`

**Failure logs**
[code]

**Additional context**
Add any other context about the problem here, such as what you have already tried to resolve the issue.

[2021-11-29 06:26] JackBoosY commented on #21631
@BillyONeal Have we changed the rules for the manifest mode?

[2021-11-29 06:36] JackBoosY commented on #21496
In the test code:
[code]
So the include path should be _include/sigc++_.
In _SOURCE/CMakeLists.txt_ line 105:
[code]
Therefore, I think this is a upstream bug.

And for the config header `sigc++config.h`, it should be installed in _include_ directly since some other header directly include it without any path.

[2021-11-29 06:42] zhangbowei commented on #21427
D:\vcpkg (master -> origin)
λ .\vcpkg install eigen3 --triplet=arm64-windows
Computing installation plan...
The following packages will be built and installed:
    eigen3[core]:arm64-windows -> 3.3.9#1
Detecting compiler hash for triplet arm64-windows...
Error: Unsupported toolchain combination.
Target was arm64 but the chosen Visual Studio instance supports:
    x86, amd64, x86_amd64, amd64_x86
V

[2021-11-29 06:45] zhangbowei commented on #21427
![image](https://user-images.githubusercontent.com/14348480/143820814-3c0f236e-042d-4156-89b4-7134bf25d956.png)

[2021-11-29 06:49] JackBoosY commented on #21496
Let's wait for the upstream reply first.

[2021-11-29 07:03] #21741 closed

[2021-11-29 07:04] eunwonki commented on #21741
I resoved by this link (https://github.com/microsoft/vcpkg/issues/3609)
It was cuda path issue. I install cuda and set cuda path on that file

[2021-11-29 07:09] zhangbowei commented on #21658
If I want static compile OMPL in ubuntu18.04，what should I do ？
If I change the code which you change in the portfile.cmake, Could It run？

[2021-11-29 07:39] Osyotr commented on #21740
Related: #21528

[2021-11-29 07:51] zhangbowei commented on #21740
Yeah！
![image](https://user-images.githubusercontent.com/14348480/143828355-68043b19-383a-433c-af69-621cd1063ec1.png)

[2021-11-29 07:59] JackBoosY commented on #21427
Yeah I know what this issue is, the fact is:
1. we need a new toolchain to handle this.
2. we need a new triplet to use gcc in Windows.

So far, triplet for arm-linux is only available in Linux, which means we can only use community triplet `arm64-linux` and `arm-linux` **in Linux**.

[2021-11-29 08:03] sketch34 opened #21743 "[flatbuffers] Compiler detection inconsistent with other ports?"
**Is your feature request related to a problem? Please describe.**

Note: I'm using vcpkg in **manifest mode**.

When building on a CentOS box, the flatbuffers port is selecting an old GCC compiler. All other ports select the newer compiler. This is resulting in linker errors for the flatbuffers port. It appears that the compiler selection / detection logic in flatbuffers is inconsistent with how

[2021-11-29 08:07] JackBoosY commented on #21545
According to `FindOpenssl.cmake` provided by [cmake](https://github.com/Kitware/CMake/blob/master/Modules/FindOpenSSL.cmake#L147-L184).

We should always install vcpkg cmake wrapper and undefine `OPENSSL_ROOT_DIR` and set it to _VCPKG_ROOT/installed/TRIPLET_.

[2021-11-29 08:15] zhangbowei commented on #21427
So，what All I need to do is to patiently wait for u， Right？

[2021-11-29 08:25] JackBoosY commented on #21427
Unfortunately, we only guarantee the stability of the official triplets.
But I'm glad to see that other contributors can do this.

[2021-11-29 08:27] JackBoosY commented on #21658
@zhangbowei  Create a new triplet file `x64-linux-dynamic` in _VCPKG_ROOT/triplets/community_ and add the following code:
[code]
Build those port with extra option `--triplet=x64-linux-dynamic`.

[2021-11-29 08:42] zhangbowei commented on #21740
Error here:

I change the code in my local vcpkg directory Following https://github.com/microsoft/vcpkg/pull/21528/files
3 files （ports/python3/vcpkg.json   versions/baseline.json versions/p-/python3.json）

commit 203daf9844a128537c92b461c3dd7eef18c9c23a (grafted, HEAD -> master, origin/master, origin/HEAD)
Author: Rémy Tassoux <contact@rt2.fr>
Date:   Fri Nov 19 14:49:33 2021 +0100

test@ubuntu:~

[2021-11-29 08:42] zhangbowei commented on #21740
some errors here.

[2021-11-29 08:50] JonLiu1993 commented on #21739
@wbaq ,Thanks for posting this issue, could you please provide your Compiler, OS, Visual Studio version and detail error log?

[2021-11-29 08:53] JackBoosY commented on #21740
Please provide failure log _/home/test/package/vcpkg/installed/x64-linux/share/boost-build/boost-modular-build.cmake_.

Thanks.

[2021-11-29 08:54] JackBoosY commented on #21740
Did you installed boost before? If yes, please remove port `boost-uninstall` and try again.

Thanks.

[2021-11-29 08:55] zhangbowei commented on #21658
According to you，I add a  new triplet，Running `vcpkg install ompl  --triplet=x64-linux-dynamic`， And I got this error.

Starting package 1/70: boost-exception:x64-linux-dynamic
Building package boost-exception[core]:x64-linux-dynamic...
-- Using community triplet x64-linux-dynamic. This triplet configuration is not guaranteed to succeed.
-- [COMMUNITY] Loading triplet configuration from: /home/tes

[2021-11-29 08:59] JackBoosY commented on #21658
_/home/test/package/vcpkg/installed/x64-linux/share/boost-build/boost-modular-build.cmake_
This path is incorrect, and I can't reproduce this on my local machine.

Please remove `boost-uninstall:x64-linux` first and try again.

[2021-11-29 09:01] dg0yt commented on #21658
@JackBoosY This doesn't help to "static compile OMPL".

In order to build static ompl, the ompl source code needs to be patched.

[2021-11-29 09:03] JonLiu1993 commented on #21687
@IRISBFW ,Thanks for posting this issue, Hiredis offical currently not support windows platform

[2021-11-29 09:04] JackBoosY commented on #21658
@dg0yt According to the [upstream code](https://github.com/ompl/ompl/blob/main/src/ompl/CMakeLists.txt#L49-L54) and we do not change the build type in [portfile.cmake](https://github.com/microsoft/vcpkg/blob/master/ports/ompl/portfile.cmake), ompl can only be built as a dynamic library on Linux.

[2021-11-29 09:05] zhangbowei commented on #21740
![image](https://user-images.githubusercontent.com/14348480/143837851-75b586be-6085-41f9-b602-833a65322dcd.png)

ps: here is boost created by vcpkg install ompl (ompl depended on boost、eigen and cmake)

![image](https://user-images.githubusercontent.com/14348480/143838469-5317eb11-38ec-4fd5-9861-35629077c069.png)

[2021-11-29 09:05] JonLiu1993 commented on #21679
@00Awei ,Thanks for posting this issue, could you please provide the detail error log?

[2021-11-29 09:07] JackBoosY commented on #21740
See [my comment](https://github.com/microsoft/vcpkg/issues/21658#issuecomment-981416854).

[2021-11-29 09:14] Sousuke13 opened #21744 "[colmap] Build error"
**Host Environment**
- OS: Windows 11
- Compiler: Visual Studio 2019  v16.11.7

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install colmap:x64-windows-static

**Failure logs**
[code]
-Please attach any additional failure logs mentioned in the console output
[install-x64-windows-static-dbg-out.log](https://github.com/microsoft/vcpkg/files/7616997/install-x64-windows-static-dbg-out.lo

[2021-11-29 09:14] JackBoosY commented on #21740
And please don't mention different issues in one issue.

Thanks.

[2021-11-29 09:17] zhangbowei commented on #21740
there are two questions.
I want to  install ompl and boost   on   the  target ARM  in PC ubuntu

It will auto install boost，but My project need to use boost::xxx

[2021-11-29 09:25] zhangbowei commented on #21740
This is my source code.
[code]

[2021-11-29 09:28] JackBoosY commented on #21740
@zhangbowei Yes, this issue will be fixed by PR #21745.
Temporary, you can fix this manually by installing `boost-modular-build-helper:x64-linux` first, then install other ports in triplet `arm-linux`.

[2021-11-29 10:04] FrankXie05 commented on #21567
@xavier2k6  There is a bug in the version,whitch prevents the update,
(see https://sourceforge.net/p/sevenzip/discussion/45798/thread/871af62dc0/?limit=25#5649),
so we will update when the bug is resolved.

[2021-11-29 10:30] Raffaello opened #21746 "[x64-windows-static] SDL2-static not found"
**Describe the bug**
When generating CMAKE using SDL2-static as a target link library, is reported to be not found.

**Environment**
- OS: windows
- Compiler: CMAKE generation

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install sdl2 --triplet x64-windows
2. ./vcpkg install sdl2 --triplet x64-windows-static
[code]
2. Error when CMAKE is generating:
[code]

CMAKE settings just a de

[2021-11-29 10:32] JonLiu1993 commented on #21694
@WangZP10969 ,Thanks for posting this issue, can you install pcl[core,vtk] successfully with Visual Studio 2022?
and Could you please provide the detail error log?

[2021-11-29 10:37] Raffaello commented on #21746
OK i found the "issue" here, In CMAKE settings now, when using the {{lib}}-static (SDL2-static), it is required to change also the CMAKE `VCPKG_TARGET_TRIPLET` to `x64-windows-static` ...
This is a little bit annoying as it requires to have a "meta configuration" when using a static library too instead of just switches in cmake.
But anyway definitely not a bug as it works.

[2021-11-29 10:38] Raffaello commented on #21746
I am just wondering if using a mix of `x64-windows-static` and `x64-windows` triplets would be possible now... It looks it won't.

[2021-11-29 10:40] zhangbowei commented on #21740
I change my vckpg in the local directory following #21745.
And I run `vcpkg install boost-modular-build-helper:x64-linux`,then run `vcpkg install boost:arm-linux`
but I get this error

vcpkg install boost:arm-linux
.....
.....
Starting package 1/98: boost-regex:arm-linux
Building package boost-regex[core]:arm-linux...
-- Using community triplet arm-linux. This triplet configuration is not guarante

[2021-11-29 10:58] SchaichAlonso opened #21747 "[pango] update to 1.4.10"
Library name: pango

New version number: 1.4.10

See https://gitlab.gnome.org/GNOME/pango/-/blob/pango-1-48/NEWS for a list of chances

[2021-11-29 11:20] Raffaello commented on #21526
Besides isn't it an error?
shouldn't run "out of the box" just the "sdl2" core for linux without explicitly installing sdl[x11] package?

[2021-11-29 11:26] zhouhang95 opened #21749 "alembic Could not find a package configuration file provided by "Alembic" with any of the following names:"
**Describe the bug**
I also use vcpkg install other libs, likes: openvdb, cgmesh, openblas, boost. They work right.
but this lib, can not work.

**Environment**
- OS: Windows
- Compiler: vs2019

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install alembic:x64-windows
2. cmake -Bbuild
3. Boom!!!!

**Expected behavior**
A clear and concise description of what you expected to happen.

[2021-11-29 11:29] Raffaello opened #21750 "[x64-linux] SDL2 doesn't work, linking issues"
**Describe the bug**
if installing SDL2 for linux, the application won't compile.
It is forced to install sdl2[x11] along side SDL2 package and it is only a specific package for linux.

**Environment**
- OS: Linux
- Compiler: GCC

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install SDL2
2. See error
[code]

**Expected behavior**
when installing SDL2 package for linux should be imp

[2021-11-29 13:58] horenmar opened #21752 "[Documentation] Triplet docs should mention that none or all of VCPKG_lang_FLAGS have to be defined"
**Describe the bug**
Exactly what it says in the title. I am doing bunch of work with custom triplets, and my build failed about an hour in with error message that if either of `VCPKG_CXX_FLAGS` or `VCPKG_C_FLAGS` are defined, then the other flags have to be defined as well.

I would prefer to find this out from the documentation :smiley:

[2021-11-29 14:16] horenmar opened #21753 "[triplets] Handle VCPKG_lang_FLAGS being a list, not a string"
**Is your feature request related to a problem? Please describe.**

I am using custom triplet to, among other things, build our dependencies with hidden visibility for symbols. This works well enough if that is the only customization I want to make, but breaks if I have multiple ones (e.g. disabling RTTI).

This triplet file seems correct but will break during configuration:
[code]

As far as I ca

[2021-11-29 14:43] andrewderryfarrell opened #21754 "[exiv2] update to 27.5"
Library name:
Exiv2
New version number:
27.5
Other information that may be useful (release notes, etc...)

Release Information and download can be found here:
https://exiv2.org/download.html

The latest version of Exiv2 contains fixes for the following Security Vulnerabilities:
https://nvd.nist.gov/vuln/detail/CVE-2021-37615
https://nvd.nist.gov/vuln/detail/CVE-2021-34335
https://nvd.nist.gov/vuln

[2021-11-29 15:26] n4z4m3 commented on #21669
[install-x64-windows-dbg-err.log](https://github.com/microsoft/vcpkg/files/7619158/install-x64-windows-dbg-err.log)
[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/7619160/install-x64-windows-dbg-out.log)

[2021-11-29 15:51] cenit commented on #21740
[code]

can you please try the above lines and then re-run?

[2021-11-29 16:18] vladimir-voinea opened #21755 "armv7: get_regular_files_non_recursive(/vcpkg/triplets): Value too large for defined data type"
**Describe the bug**
I am getting an error when installing packages on armv7, using Docker multiarch build.

**Environment**
- OS: Docker multibuild via buildx, on armv7 target
- Compiler: revision

**To Reproduce**

Steps to reproduce the behavior:

In Dockerfile:

FROM ubuntu:20.10
ENV DEBIAN_FRONTEND noninteractive
RUN apt-get update && apt install -yy -q --no-install-recommends ca-certificates

[2021-11-29 16:26] Eric-JH opened #21756 "[lapack:reference:x64-windows] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: VS 2022 17.0

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg install eigen3:x64-windows`

**Failure logs**
[code]
**Additional context**
Add any other context about the problem here, such as what you have already tried to resolve the issue.

[2021-11-29 16:31] Eric-JH commented on #21756
There is no problem for installation of Eigen3 and metic.

[2021-11-29 16:35] daoshiming commented on #20707
I have the same problem.
Attach log:
[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/7619590/install-x64-windows-dbg-out.log)

[2021-11-29 16:38] BillyONeal commented on #21631
Not as far as I am aware. I confess to still not really understanding what the bug report is. @SamuelMarks The answer to 'has vcpkg changed in the last 24 hours' is usually 'yes'. Can you provide repro steps?

[code]

(build output follows) :)

[2021-11-29 16:43] #20241 closed

[2021-11-29 17:17] BillyONeal commented on #20483
I don't believe there are any concrete changes for this to change any time soon. The build system integration vcpkg offers as a base level is 'virtual sysroot', and if ports don't work with that universe, and the consuming build system doesn't have any scheme to reasonably declare such dependencies like CMake's `find_package`, there's not much `vcpkg` can reasonably provide here.

[2021-11-29 17:27] FabianLorenzo commented on #20483
@QwazyWabbitWOS TY already using a similar workaround

@BillyONeal Probably just remove the package to avoid problems, do the workaround or wait for changes then

[2021-11-29 17:28] BillyONeal commented on #20483
Break CMake customers because MSBuild doesn't work with the package? That doesn't seem like a correct tradeoff.

[2021-11-29 18:30] zzh-www opened #21757 "[flashlight-cuda] Build error"
**Host Environment**
- OS: Manjaro Linux x86_64
- Compiler: g++ (GCC) 11.1.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install flashlight-cuda`

**Failure logs**
-Cut and paste the appropriate build messages from the console output.
[code]
-Please attach any additional failure logs mentioned in the console output.
[code]
**Additional context**
Add any other context about the prob

[2021-11-29 18:46] zzh-www commented on #21757
i presume the wrong occurs because of $(nproc)
in my machine
echo $(nproc)
16
unfortunately
/usr/bin/cmake --build . --config Debug --target install -- -v -j17
how to fix it？

[2021-11-29 19:23] BillyONeal opened #21758 "tensorflow-osx is failing in CI"
This issue is tracking investigation as to why tensorflow and tensorflow-cc are broken on our MacOS CI machines. Consider a recent CI run: https://dev.azure.com/vcpkg/public/_build/results?buildId=63779

I was able to reproduce this locally, tensorflow fails with:

[code]

When I run

[code]

directly outside of vcpkg I indeed get build failures attempting to compile numpy. However, I got a warnin

[2021-11-29 20:31] #19925 closed

[2021-11-29 22:21] Meneleus opened #21760 "vcpkg installed libraries do not auto-link from command line"
I could have sworn this used to work, I re-staged my machine and reinstalled my packages. In particular I'm using https://github.com/grpc/grpc/tree/master/src/cpp instructions for Packaging systems. Projects run in the Visual Studio IDE 2019 work fine. However, using nmake to build the project fails to link. Is there any workaround? Do I need to manually link? I tried adding every single .lib but

[2021-11-29 22:29] cenit commented on #21758
what about adding also a --user option? the upgrade should happen in user folder and mask away system wide old pip...

[2021-11-29 23:06] horenmar opened #21762 "[Documentation] Bad link in vcpkg_cmake_configure documentation"
**Describe the bug**
One of the examples on the [`vcpkg_cmake_configure` documentation page](https://github.com/Microsoft/vcpkg/blob/master/docs/maintainers/ports/vcpkg-cmake/vcpkg_cmake_configure.md) is the OpenCV port, but the linked OpenCV port is empty because it has been split into multiple ports.

[2021-11-29 23:48] ocornut commented on #21530
I am not sure I understand how this would solve anything. Build files on the vcpkg repo would be equivalent to build files on imgui repo. It's a matter of whether some compile-time setting can be exposed to the end-user while benefiting from the service of a package manager.

Btw, in the case of SFML-imgui, that particular requirement that it wants `unsigned int` instead of `void*` is entirely unn

[2021-11-29 23:57] ocornut commented on #21530
Addendum:

Yes and no. That comment you relates to the DX12 backend,  because the DX12 backend **requires** ImTextureID to be 64-bits to compile, which would be lead to the same problem as reported here with the SFML backend. But in the case of the SFML backend there's an obvious fix available.

(Tangential, there was an unconclusive thread about trying to make Dear ImGui default `ImTextureID` to

[2021-11-30 00:00] BillyONeal commented on #21758
Maybe that's the right thing. (Words cannot describe how little I understand about pip :) )

[2021-11-30 00:22] Osyotr commented on #21567
@FrankXie05 I see no reason not to use use this version. The patch is simple and is verified by author. I've been using it to build latest beta for x64-linux.

[2021-11-30 01:08] autoantwort commented on #21755
Duplicate of #21189 :)

[2021-11-30 01:27] JackBoosY commented on #21743
Marked as port bug temporary.

[2021-11-30 01:51] yxnchen commented on #21696
I used the [versioning](https://vcpkg.io/en/docs/examples/versioning.getting-started.html) method to revert to a previous commit and reinstalled the packages. And the build passed.

The log shows that the installed version of hdf5 is 1.12.0. It looks like that the problem is related to the latest version of the hdf5 package.

[2021-11-30 02:08] sketch34 commented on #21743
@JackBoosY any workaround I can use for now?

[2021-11-30 02:23] holmescn commented on #21345
Almost there. When run
[code]
I found this line in the log
[code]
This seems to be the start point of the build process. The `ports.cmake` run in script mode with information collected from vcpkg command-line arguments and environment. As mentioned in the CMake documentation, the script mode just run the script file, no configure or generate step is performed. Then I read the `ports.cmake`, it jus

[2021-11-30 02:33] JackBoosY commented on #21011
So can this issue be closed by "fixed"?

[2021-11-30 02:49] JackBoosY commented on #21530
That's because we can provide configure files to the users to easily use imgui, and it can follow the "compile-time redefinition" required in imgui.
Believe me, if imgui wants users to directly use the source code instead of the binary, it will be the best choice to provide configuration files to import the configuration with one click. This is also the voice of so many users in PR ocornut/imgui#1

[2021-11-30 03:14] xuhancn opened #21766 "[cpprestsdk] build failure"
**Host Environment**
- OS: Win11
- Compiler: VS2017

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install cpprestsdk:x64-windows-static`

**Failure logs**
Error: Building package cpprestsdk:x64-windows-static failed with: BUILD_FAILED
submit an issue at https://github.com/Microsoft/vcpkg/issues including:
Package: cpprestsdk:x64-windows-static
Vcpkg version: 2021-05-05-9f849c4c43e50d

[2021-11-30 03:24] ilongshan opened #21767 "[x264]: x264[core] is only supported on '!arm'"
**Describe the bug**
x264 doesn't support Mac M1

**Environment**
- OS: [Mac]
- Compiler: Apple clang version 13.0.0 (clang-1300.0.29.3)

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install x264
2. See error

**Expected behavior**
Hope it supports Mac M1

[2021-11-30 03:47] sketch34 commented on #21743
I found a temporary workaround, passing `-DCMAKE_CXX_COMPILER:FILEPATH` in the OPTIONS of `vcpkg_configure_cmake()` inside the portfile.cmake:
[code]

[2021-11-30 04:51] dg0yt commented on #21345
In `vcpkg_configure_make`, the toolchain is used via `z_vcpkg_get_cmake_vars`, creating`VCPKG_DETECTED_...` variables.
However, I was wrong when I assumed that `vcpkg_configure_make` would generally use `VCPKG_DETECTED_CMAKE_C_COMPILER` etc. :disappointed: Unfortunately it is hard to improve the file, because it takes long in the CI, it was blocked by a script audit, and there is a new effort to m

[2021-11-30 05:20] sketch34 commented on #21743
Alternative workaround, just for reference in case it helps track down a proper fix:

1. Put a comment in submodules/vcpkg/ports/flatbuffers/portfile.cmake so vcpkg recomputes the hash and will trigger a flatbuffers rebuild.
1. Run:
[code]
1. Then you can use cmake normally, export CXX=g++ only needs to be present for the initial build of flatbuffers.

[2021-11-30 05:41] JackBoosY commented on #21760
Which triplet do you use?
Can you please provide a failure logs?

[2021-11-30 06:29] m-kuhn commented on #21345
I opened a PR against your branch which makes use of this

https://github.com/holmescn/vcpkg/pull/1

[2021-11-30 06:37] Balnian opened #21768 "Missing references to identifiers `staticcrt` and `native` in vcpkg/triplets/**"
Hi,
I'm the maintainer for [vcpkgx.com](vcpkgx.com) and recently I've found that both the `native` and `staticcrt` identifiers are never referenced in the triplets folder.

I'll be fair by acknowledging that `native` is at least kind of documented in the _predefined identifier expression_ in the [`supports` section of the manifest documentation](https://github.com/vasturiano/force-graph)
But `stat

[2021-11-30 07:45] zhangbowei commented on #21740
I get some errors，after do your commands.
[code]
PS: the number of packages `vcpkg install boost:arm-linux` is about 130，But when boost-python:arm-linux is installing，here are some errors.
all I change source code is

test@ubuntu:~$ vcpkg install boost:arm-linux
Computing installation plan...
The following packages will be built and installed:
    boost[core]:arm-linux -> 1.77.0#2
  * boost-parame

[2021-11-30 07:48] #20836 closed

[2021-11-30 07:57] dg0yt commented on #21740
[code]
You are leaving the supported sector.

[2021-11-30 08:14] JonLiu1993 commented on #21766
@xuhancn ,Thanks for posting this issue, could you please provide the detail error log?

[2021-11-30 08:22] JonLiu1993 commented on #21756
@Eric-JH ,Thanks for posting this issue, could you please provide the error log:
[code]

[2021-11-30 08:30] LilyWangLL commented on #21631
PS E:\Code> .\External\CppLib\vcpkg\vcpkg.exe install zlib
Error: 'install' requires 0 arguments, but 1 were provided.
Example:
  vcpkg install --triplet x64-windows

[2021-11-30 08:37] arsdever commented on #21524
Hi, @JonLiu1993. Wanted to know if there is any progress on this? Were you able to reproduce the issue (it has `requires:repro` label on it)?

[2021-11-30 08:41] JackBoosY commented on #21631
I guess this is by design and we won't rollback this changes.
And I think we should add this to our document to warning the users.

[2021-11-30 08:43] LilyWangLL commented on #21669
There is message in install-x64-windows-dbg-out.log
`./../src/c-69_1-src-86e71a956d.clean/source/install-sh -c icudtd69.dll`
This is correct message: `/usr/bin/install -c icudt69.dll /E/Code/External/CppLib/vcpkg/packages/icu_x64-windows/E/Code/External/CppLib/vcpkg/installed/x64-windows/lib`
It looks like use incorrect install.sh or executable. Did you clone new vcpkg after uninstalling Visual St

[2021-11-30 08:43] JackBoosY commented on #21768
Hmm... @BillyONeal can you please take a look?

Thanks.

[2021-11-30 09:05] JackBoosY commented on #21767
[code]

Seems there are many issues when using nasm to build x264 on arm triplet.

[2021-11-30 09:22] hros opened #21769 "xxhash update to 0.81"
please update xxhash (https://github.com/Cyan4973/xxHash) to version 0.81

additionally, please let me know how can choose a specific version when installing a port.  for example, if I want to build version 0.8 what would be the command parameters?

[2021-11-30 09:40] JonLiu1993 commented on #21755
@vladimir-voinea ,Thanks for posting this issue, this issue duplicate of #21189, temporarily close this issue, we will track it in issue #21189

[2021-11-30 09:40] #21755 closed

[2021-11-30 09:42] JackBoosY commented on #21740
Please provide _/home/test/package/vcpkg/buildtrees/boost-python/install-arm-linux-dbg-out.log_.

[2021-11-30 09:43] JackBoosY commented on #21743
I will look into it tomorrow.

[2021-11-30 09:48] JackBoosY commented on #21758
Should we temporary skip tensorflow in the failure triplets?
It only affect port `tensorflow`, `tensorflow-cc`, `tensorflow-common` and `ffmpeg[tensorflow]`.

[2021-11-30 10:00] zhangbowei commented on #21740
[1/2] cd /home/test/package/vcpkg/buildtrees/boost-python/src/ost-1.77.0-c2bb38e3f9.clean/build && /home/test/package/vcpkg/installed/x64-linux/tools/boost-build/b2 toolset=gcc --user-config=/home/test/package/vcpkg/buildtrees/boost-python/arm-linux-dbg/user-config.jam --stagedir=/home/test/package/vcpkg/buildtrees/boost-python/arm-linux-dbg/stage --build-dir=/home/test/package/vcpkg/buildtrees/bo

[2021-11-30 10:10] JonLiu1993 commented on #21757
@zzh-www ,Thanks for posting this issue, could you please provide the error log:
[code]

[2021-11-30 10:27] Osyotr commented on #21740
Jesus Christ dude, put your logs between three \``` backtics```

[2021-11-30 10:31] zhangbowei commented on #21740
[code]

[2021-11-30 10:45] JonLiu1993 commented on #21749
@zhouhang95 ,Thanks for posting this issue, could you please provide your main.cpp and CMakeLists.txt? I can't reproduce your issue locally
[code]

[2021-11-30 11:19] zhouhang95 commented on #21749
i use windows

[2021-11-30 11:39] lanyizi commented on #21011
I think yes, closing it now

[2021-11-30 11:39] #21011 closed

[2021-11-30 14:13] autoantwort commented on #21760
The auto-link functionality is only implemented for msbuild and not for nmake.

[2021-11-30 14:13] liukeyu1996 commented on #20323
好像不可以

[2021-11-30 14:14] zzh-www commented on #21757
[1/104] /usr/bin/c++ -DFL_BACKEND_CPU=0 -DFL_BACKEND_CUDA=1 -DFL_BACKEND_OPENCL=0 -DFL_BUILD_PROFILING=0 -DNO_CUDNN_DESTROY_HANDLE -DNO_NCCL_COMM_DESTROY_HANDLE -I/opt/vcpkg/buildtrees/flashlight-cuda/src/f7e2b796ad-c1bedb72d5.clean -I/opt/cuda/include -I/home/zzh/data/vcpkg/installed/x64-linux/include -isystem /opt/vcpkg/installed/x64-linux/include -isystem /opt/vcpkg/packages/arrayfire_x64-linux

[2021-11-30 14:15] zzh-www commented on #21757
sorry, it's my fault

[2021-11-30 15:15] n4z4m3 commented on #21669
@LilyWangLL I just tried to clone a new vcpkg and the only commands I did were the bootstrap and the install icu

I still get the same error.

New logs are attache
[install-x64-windows-dbg-err.log](https://github.com/microsoft/vcpkg/files/7626779/install-x64-windows-dbg-err.log)
[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/7626780/install-x64-windows-dbg-out.log)
d.

[2021-11-30 15:16] christophe-calmejane commented on #12001
I'm facing a more critical issue regarding the OpenSSL port:
When generating a cmake solution, only the `debug` path is found and configured, resulting in the debug version of openSSL being linked then the openSSL DLL being used, which require the `debug vc runtime` which we are not allowed to distribute.

See the cmake log:
[code]

ZLIB for example, correctly sets `debug` and `optimized` paths, s

[2021-11-30 15:33] Meneleus commented on #21760
We’ll that explains it then. I guess I’m just not remembering correctly. Thank you.

[2021-11-30 15:33] #21760 closed

[2021-11-30 16:14] BillyONeal commented on #21631
Even if this behavior change is intended, the diagnostic is terrible.

[2021-11-30 16:15] dg0yt commented on #12001
@christophe-calmejane #21641 is an extension of a test port that I created to verify vcpkg's interaction with CMake's find modules.
An earlier revision of that PR confirmed that something is wrong with OpenSSL when consumed in CMake 3.4.3 (but not in CMake 3.21): https://dev.azure.com/vcpkg/public/_build/results?buildId=63856&view=logs&j=3859ca13-59fe-57bd-13f9-449df7d191a6&t=03b21fcd-db83-5643-e9

[2021-11-30 16:55] SamuelMarks commented on #21631
Nope, I `cd`'d to the directory first. To be super explicit here are the two yaml files:

_works_
https://github.com/offscale/libacquire/blob/1cc1da3e1b2e123a925d0e4ace787e9fcfc95422/.github/workflows/github-actions.yml#L47
[code]

_fails_
https://github.com/offscale/libacquire/blob/8a219767393c2cafac998f9ea1126fb16de650db/.github/workflows/github-actions.yml#L47
[code]

[2021-11-30 16:55] SamuelMarks commented on #21631
Nope, I `cd`'d to the directory first. To be super explicit here are the two yaml files:

_works_
https://github.com/offscale/libacquire/blob/1cc1da3e1b2e123a925d0e4ace787e9fcfc95422/.github/workflows/github-actions.yml#L47
[code]

_fails_
https://github.com/offscale/libacquire/blob/8a219767393c2cafac998f9ea1126fb16de650db/.github/workflows/github-actions.yml#L47
[code]

[2021-11-30 17:36] RedstoneMedia commented on #21688
Ok theses are the output logs :
[build-x64-windows-static-rel-0-out.log](https://github.com/microsoft/vcpkg/files/7627656/build-x64-windows-static-rel-0-out.log)
[build-x64-windows-static-rel-1-out.log](https://github.com/microsoft/vcpkg/files/7627653/build-x64-windows-static-rel-1-out.log)

[2021-11-30 18:14] ras0219-msft commented on #21631
Ok, I'm able to repro the failure, but I'm unable to repro it working any other way in a previous version.

The notable conditions are:

1. If you are in a subdirectory of a directory containing a vcpkg.json
2. And you are inside a vcpkg instance (there exists `.vcpkg-root` in or above the CWD)

In your "success" yaml, you've placed the vcpkg instance outside the `vcpkg.json` containining director

[2021-11-30 18:16] #21747 closed

[2021-11-30 18:30] ras0219-msft commented on #21530
Thanks @ocornut, that makes a lot of sense and agreed that the best option would be for imgui-sfml to not need the compile time parameter at all.

@JackBoosY can you do some investigation into how difficult it would be to patch out this macro in the build of imgui-sfml?

[2021-11-30 20:04] ocornut commented on #21530
I think it's pretty much only reverting this:
https://github.com/eliasdaler/imgui-sfml/commit/e71bd249f52cc529b295e5bad4cff46a20885eca

[2021-11-30 20:31] mircomarahrens opened #21774 "[gtest] build failure: undefined reference to `pthread_getspecific`"
**Host Environment**
- OS: WSL2, `Ubuntu 20.04.3 LTS`
- Compiler: `gcc (Ubuntu 10.3.0-1ubuntu1~20.04) 10.3.0`

**Failure logs**
[code]

**Additional context**
[code]

[code]

[2021-11-30 20:36] mircomarahrens commented on #21774
It is working on Windows 10 (with MSVC) and Ubuntu 21.04 (same setup).

[2021-11-30 20:52] SamuelMarks commented on #21631
Yep that must be what happened. But yeah a nicer error message would be helpful. Something like:

[2021-11-30 21:57] ras0219-msft commented on #21758
Simply `--user` would not be enough; my understanding is that it would still modify the user's "global" version. The user would observe that their `pip` is now a different version after running `vcpkg install tensorflow`, which is just as unacceptable as `apt install xyz`.

If there is an option to bootstrap pip into a 100% private location for vcpkg, that could be interesting. Based on https://do

[2021-11-30 23:21] matthiakl opened #21776 "[sdl2-mixer] build failure with mpg123"
**Host Environment**
- OS: Windows 10
- Compiler: Visual Studio 2019

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg.exe install sdl2-mixer[core,libflac,libvorbis,mpg123,nativemidi]:x64-windows-static`

**Failure logs**
[code]
[code]
[install-x64-windows-static-dbg-out.log](https://github.com/microsoft/vcpkg/files/7629500/install-x64-windows-static-dbg-out.log)

**Additional context**

[2021-12-01 02:13] rockandsalt opened #21777 "[qtdeclarative] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: Visual studio 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install qtdeclarative`

**Failure logs**
[code]

[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/7630179/install-x64-windows-dbg-out.log)
[config-x64-windows-out.log](https://github.com/microsoft/vcpkg/files/7630185/config-x64-windows-out.log)

[2021-12-01 02:15] JackBoosY commented on #21740
[code]

[2021-12-01 02:22] JackBoosY commented on #20323
This issue should be fixed by https://github.com/microsoft/vcpkg/pull/21479.

[2021-12-01 02:23] holmescn commented on #21345
@dg0yt before anything moved into port, let's try to accomplish this:

1. add `set(VCPKG_ANDROID_API_LEVEL 23)` into `triplets/community/*-android.cmake` to specify the Android API version
2. parse `$ANDROID_NDK_HOME/source.properties` to detect Android NDK version in `toolchains/android.cmake`, then set specialized `ANDROID_PLATFORM` or `ANDROID_NATIVE_API_LEVEL` which is in PR #21465

the simple

[2021-12-01 02:28] holmescn commented on #21345
@m-kuhn thank you for your PR. But that branch will mark as a reference until we found the next solution.

[2021-12-01 02:44] zhangbowei commented on #21740
what should I do？
update my arm-linux-gcc （7.5.0 now）or do others？

[2021-12-01 02:47] BillyONeal commented on #11240
We no longer look for `AppModelUnlock`.

[2021-12-01 02:47] #11240 closed

[2021-12-01 03:02] LilyWangLL commented on #21669
@n4z4m3 Could you please use the attached file to install icu again? I did some fix in **portfile.cmake**
[icu.zip](https://github.com/microsoft/vcpkg/files/7630447/icu.zip)
.

[2021-12-01 03:02] JackBoosY commented on #21688
[code]
I think your Visual Studio is incomplete.
Can you please provide your Visual Studio version and the installed components?
Also please make sure you've installed the English Language Package using Visual Studio Installer.

Thanks.

[2021-12-01 03:25] charles-sun0v0 opened #21778 "[qt5-base] build failure: arm64-linux with dynamic linkage"
**Host Environment**
- OS:Ubuntu 18.04, arm64-linux
- Compiler:gcc 7.5

**To Reproduce**
Steps to reproduce the behavior:
1. Modify triplets so that qt5-base will be built as a dynamic linkage library:
[code]
2. install
`./vcpkg install qt5-base`

**Failure logs**
[build-arm64-linux-dbg-out.log](https://github.com/microsoft/vcpkg/files/7630541/build-arm64-linux-dbg-out.log)
 [build-arm64-linux-dbg

[2021-12-01 03:42] ilongshan opened #21779 "[qt]: qt build failure on Mac M1"
**Describe the bug**
qt doesn't support Mac M1

**Environment**
- OS: Mac
- Compiler: Apple clang version 13.0.0 (clang-1300.0.29.3)

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install qt
2. See error
Computing installation plan...
Error: x264[core] is only supported on '!arm'

**Expected behavior**
Hope it supports Mac M1

[2021-12-01 03:56] n4z4m3 commented on #21669
@LilyWangLL  Thank you, but that did not work. I tried crossing my fingers and everything.

New log files attached
[install-x64-windows-dbg-err.log](https://github.com/microsoft/vcpkg/files/7630666/install-x64-windows-dbg-err.log)
[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/7630668/install-x64-windows-dbg-out.log)
.

[2021-12-01 03:58] longhuan2018 commented on #20323
This problem affects too many ports. I think it may need to be repaired as soon as possible.

[2021-12-01 04:05] ilongshan commented on #21435
There seems no option to exclude qtwebengine when installing qt?

Is there any way to install qt without qtwebengine?

[2021-12-01 05:40] JackBoosY commented on #21779
Duplicated to #21767.

[2021-12-01 05:40] #21779 closed

[2021-12-01 05:43] JackBoosY commented on #21777
[code]
Your vcpkg path is too long, please clone vcpkg in disk root and try again.

Thanks.

[2021-12-01 05:52] JackBoosY commented on #21740
@zhangbowei For the boost issue, I think your vcpkg is outdated, please git pull and try again.

[2021-12-01 06:43] JackBoosY commented on #21746
I don't know why you need to use the sdl dynamic library and static library at the same time, which will obviously cause symbol conflict errors.

[2021-12-01 06:52] LilyWangLL commented on #21680
Thanks for posting this issue. There are message in install-x64-linux-dbg-out.log:
[code]
This error is because gcc version is low, you can upgrade gcc to higher version and install liblzma again.

[2021-12-01 07:01] m-kuhn commented on #21345
What is the next solution?
My PR takes care of
- the API version. By using `z_vcpkg_get_cmake_vars` this is the same as is used for other ports.
- the path for tools

[2021-12-01 07:31] nzqpeace opened #21781 "[opencv4:arm64-linux] build failure"
**Host Environment**
- OS: [Linux 5.4 Ubuntu 20.04.3 LTS]
- Compiler: aarch64-linux-gnu 7.5
- package: opencv4[core,dnn,jpeg,png,quirc,tiff,webp]:arm64-linux -> 4.5.3#3
- vcpkg-tool version: 2021-11-24-48b94a6946b8a70abd21529218927fd478d02b6c
- vcpkg-scripts version: 1b664707c 2021-11-30 (5 hours ago)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install opencv4:arm64-linux`

**Failu

[2021-12-01 07:47] LilyWangLL commented on #21669
@n4z4m3 Due to I can't reproduce this issue locally, could you remove folder [VCPKG_ROOT]/downloads/tools/msys2 and install again? Before installing icu, please use command `git pull` and `.\bootstrap-vcpkg.bat` to update vcpkg to latest version.

[2021-12-01 07:52] JackBoosY commented on #13566
I met this issue again.

After some investigation, I think this issue will repro if port `directxsdk` is installed first.
This should be because the dx library installed in vcpkg is **inconsistent** with the dx library in the Windows SDK, and vcpkg first uses the installed library in vcpkg.
It has been confirmed that these symbols do not exist in the `dxguid.lib` installed by vcpkg.
@BillyONeal  I

[2021-12-01 08:06] luyenbuuhuy opened #21785 "[rocksDB] update to <6.26.1>"
Library name: RocksDB

New version number: 6.26.1

Source: https://github.com/facebook/rocksdb/releases/tag/v6.26.1

[2021-12-01 08:09] JackBoosY commented on #13566
@walbourn Do you know the difference between the dxsdk downloaded from the our official website and the dxsdk in the Windows 10 SDK?

[2021-12-01 08:20] JackBoosY commented on #15130
I confirmed this feature is still not added, I will open a PR to add it.

[2021-12-01 08:20] JackBoosY commented on #21694
Ping @WangZP10969

[2021-12-01 08:22] JackBoosY commented on #21781
Yes, it's a port bug.
We need to install libdc1394 first if we want to use this feature.

[2021-12-01 08:24] BillyONeal commented on #13566
I observe directxsdk is explicitly deprecated in favor of the Windows SDK one and that port prints this message:

[2021-12-01 08:35] zhangbowei commented on #21740
But  The  Version is  vcpkg-scripts version: 945f540 2021-11-29 (6 hours ago)

As You see

**Error: Building package boost-python:arm-linux failed with: BUILD_FAILED**
Please ensure you're using the latest portfiles with `git pull` and `./vcpkg update`.
Then check for known issues at:
  https://github.com/microsoft/vcpkg/issues?q=is%3Aissue+is%3Aopen+in%3Atitle+boost-python
You can submit a new is

[2021-12-01 08:39] LIHU577 commented on #15843
So，we cann't use VA and vcpkg at same time，emmmmmm,     it’s not a good meesage......

[2021-12-01 08:43] JackBoosY commented on #15843
@LIHU577 Yeah... as I said in zhihu, we have not and cannot test the conflict between unofficial Visual Studio plugins (such as Intel plugins) and vcpkg.
Please also report this issue to Visual Assistant.

Thanks.

[2021-12-01 08:46] JackBoosY commented on #21740
It should be a support issue with python instead of boost.

[2021-12-01 08:48] zhangbowei opened #21787 "Error: Building package boost-python:arm-linux failed with: BUILD_FAILED"
**command**: `vcpkg install boost-python:arm-linux`
**vcpkg-scripts version**: 945f540 2021-11-29 (32 hours ago)
**arm-linux-gnueabihf-gcc --version**:  arm-linux-gnueabihf-gcc (Linaro GCC 7.5-2019.12) 7.5.0

test@ubuntu:~/package$ vcpkg install boost-python:arm-linux
Computing installation plan...
The following packages will be built and installed:
    boost-python[core,python3]:arm-linux -> 1.77

[2021-12-01 08:51] LilyWangLL commented on #21750
Thanks for posting this issue. Did you install sdl2 failed on Linux or use `find_package(SDL2 CONFIG REQUIRED)` to link sdl2 error? I can install sdl2 succeed on Linux and use `find_package(SDL2 CONFIG REQUIRED)` in sample repro project. Please provide detail steps and error log.

[2021-12-01 08:59] JackBoosY commented on #21435
You can pick single qt component port to build instead a "full" qt.

[2021-12-01 09:03] JackBoosY commented on #21753
Using cmake list to deal with CFLAGS or CXXFLAGS is a disaster.
Cmake will automatically splice the contents of the list or completely with semicolons according to the usage scenario, and this will cause the compiler to fail to recognize these flags.

[2021-12-01 09:06] PhoebeHui commented on #21740
@zhangbowei, could you report an issue to https://github.com/boostorg/python and confirm if Upstream supports arm-linux?

Failures:
[code]

[2021-12-01 09:08] JackBoosY commented on #13566
Obviously, qt5 did not process the code according to the version of dxsdk.
@Neumann-A Is there any qt document mentioned this issue?

[2021-12-01 09:20] JonLiu1993 commented on #21749
@zhouhang95 ,Currently alembic dosent't support window
[code]
I am curious why you can successfully install alembic on the windows platform?

[2021-12-01 09:24] JackBoosY commented on #21743
Comfirmed, but don't know why.

[2021-12-01 09:31] dg0yt commented on #21753
Note that these variables just mirror cmake flags which are also implemented as string, not list.

This is not possible. There is no way to know if a cmake variable is list, or a string which contains `;`.

[2021-12-01 09:33] dg0yt commented on #21749
x64-windows seems to be supported.

[2021-12-01 09:35] zhouhang95 commented on #21749
D:\vcpkg>vcpkg install alembic:x64-windows
Computing installation plan...
The following packages are already installed:
    alembic[core]:x64-windows -> 1.8.3
Package alembic:x64-windows is already installed
Restored 0 packages from C:\Users\zenus\AppData\Local\vcpkg\archives in 129.8 us. Use --debug to see more details.

Total elapsed time: 485.2 ms

The package alembic provides CMake targets:

[2021-12-01 09:35] xiaoyifang opened #21791 "[New Port Request] libao"
Library name: libao

Library description:
Libao is a cross-platform audio library that allows programs to output audio using a simple API on a wide variety of platforms. It currently supports:

Null output (handy for testing without a sound device)
WAV files
AU files
RAW files
OSS (Open Sound System, used on Linux and FreeBSD)
ALSA (Advanced Linux Sound Architecture)
aRts (Analog RealTime Synth, u

[2021-12-01 09:40] JonLiu1993 commented on #21524
@arsdever ,Could you find glx.h locally? and check the path is roght
[code]
I can install successfully in my local machine with x64-linux triplet:
[code]

[2021-12-01 09:40] Raffaello commented on #21746
No I don't. At the same time just wanting an option to let the user decide one or another and requires to regenerate CMAKE with a different triplet, didn't check it yet, but if  the `x64-windows-static` SDL2::SDL2 would be an alias for ``SDL2::SDL2-static` would be ok, no need to have a CMAKE option for SDL2-static eventually....

My other thought was on a general basis, mixing different library s

[2021-12-01 09:42] JonLiu1993 commented on #21749
I try again x64-windows seems to be supported. I will reproduce again your issue,

[2021-12-01 09:46] WangZP10969 commented on #21694
@JonLiu1993 Sorry for the late reply
I cannot compile pcl based on vs2022, as I mentioned before
https://github.com/microsoft/vcpkg/pull/18855#issuecomment-957211174
I just compiled it on vs2019 and used it on vs2022
For the problem of pcl::possion, this is a compilation problem, the symbols are missing in the lib

严重性	代码	说明	项目	文件	行	禁止显示状态
错误	LNK2019	无法解析的外部符号 "public: __cdecl pcl::Poisson<struct

[2021-12-01 09:46] xiaoyifang opened #21792 "vcpkg install with triplet take too much time."
**Describe the bug**
  `vcpkg.exe install lzo --triplet=x64-mingw-static`
vcpkg install takes too much time ,>14 mins.

**Environment**
- OS: Windows
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
1. vcpkg.exe install lzo  --triplet=x64-mingw-static
2. See error
no error,but takes too much time.

**Expected behavior**
take less time to install
**Failure logs**
-(please att

[2021-12-01 10:04] JackBoosY commented on #21694
Can you please also provide a simple code to repro this?

[2021-12-01 10:12] WangZP10969 commented on #21694
Okay, I will write one when I get home

[2021-12-01 10:27] holmescn commented on #21345
@m-kuhn since I have closed my PR #21222, I thought you can make a draft PR here. I think it is a good solution for `vcpkg_configure_make`.  The next solution I mean is that add some customization in triplet and use it inside most build systems not only the `vcpkg_configure_make`.

[2021-12-01 10:44] nzqpeace commented on #21781
Add a new feature `dc1394` which will not be added into `default-features` ？This will set option `WITH_1394=OFF` by default, and will not break the build stage.

[code]

[2021-12-01 11:16] Sunbreak commented on #12220
Is prebuilt binaries available now?

[2021-12-01 12:43] RDCH106 commented on #13881
Sorry, I don't understand you... What does it mean?

[2021-12-01 13:50] ensiform opened #21794 "[curl] update to <7.80.0>"
Library name: curl / libcurl

New version number: 7.80.0

https://github.com/curl/curl/releases/tag/curl-7_80_0

Released November 10, 2021

Changelog: https://curl.se/changes.html#7_80_0

[2021-12-01 13:59] Fedr commented on #15481
I have the same issue with GLAD on Windows 10 with the latest vcpkg:
[code]

The contents of install-x64-windows-meshrus-dbg-out.log:
[code]

Can I help you somehow with the reproduction of this issue?

[2021-12-01 14:36] MacNic commented on #11271
Hi,

I faced this issued also on a libraries using both C++ and CUDA and I stumbled on this issue from CMake : https://gitlab.kitware.com/cmake/cmake/-/merge_requests/3485

According to this post the issue was due to the way CMake treats MSVC runtime by default (going for /MD or /MDd).

Thus as vcpkg seems to update C_FLAGS and CXX_FLAGS to /MT in case x64-windows-static is used, it seems to leave

[2021-12-01 14:37] Shatur opened #21795 "Missing additional headers in Qwt"
**Describe the bug**
Starting from Qwt 6.2.0 it provides additional header aliases. For example, `QwtPlotItem` for `qwt_plot_item.h`.

**Environment**
- OS: Windows
- Compiler: MSVC 2019

**To Reproduce**
1. ./vcpkg install qwt
2. Header aliases such as `QwtPlotItem` will be missing.

**Expected behavior**
Additional headers such as `QwtPlotItem` should be in the `include/qwt` folder.

**Additiona

[2021-12-01 14:55] dg0yt commented on #21794
Already done, #21554.

[2021-12-01 14:58] dg0yt commented on #21792
Only 90 s here.

[2021-12-01 15:27] ensiform commented on #21794
Whoops, I still noticed 7.79 in port list on https://vcpkg.io/en/packages.html

[2021-12-01 15:29] #21794 closed

[2021-12-01 15:31] Spejik opened #21798 "[libhydrogen] update to 1.0"
Library name: libhydrogen

New version number: 1.0

Other information that may be useful (release notes, etc...)
The version number is only mentioned in a header file as major and minor macros, but the port in vcpkg wasn't updated since 2019-08-11, so it'd probably be good to update it.
https://github.com/jedisct1/libhydrogen

[2021-12-01 16:07] n4z4m3 commented on #21669
@LilyWangLL
Unfortunately your suggestion did not work.
However, I was able to get it to build by moving my VCPKG_ROOT to C:\vcpkg
Prior to that, it was in a subdirectory structure which I guess you can see in the log files. So somehow it does not like the subdirectory structure or maybe something at this directory structure is cached or stored in the environment. I did look at my PATH environment

[2021-12-01 16:19] snealbli commented on #4359
I am also having this problem, identical to https://github.com/microsoft/vcpkg/issues/4359#issuecomment-894114021

Is there a solution?

[2021-12-01 16:30] autoantwort opened #21800 "Diagnostics about vcpkg calling into other binaries don't differentiate between WinAPI Errors and application exit codes"
**Describe the bug**
While running vcpkg we got the following error message:
[code]
But the problem was not, that curl exited with code 2, but the `CreateProcessA` function failed and `GetLastError` returned `2` aka `ERROR_FILE_NOT_FOUND`. So the problem was that there was no curl on the path.

**Environment**
- OS: Windows

**To Reproduce**
Steps to reproduce the behavior:
1. Use a system without

[2021-12-01 18:01] Hoikas commented on #21758
FWIW, the python3 port installs a functioning interpreter that has pip available.

[2021-12-01 18:17] tlemo commented on #20430
FYI, I just submited a [PR](https://github.com/microsoft/vcpkg-tool/pull/290) to fix this.

[2021-12-01 18:19] Reveares commented on #21735
I tested it with the "x64-windows-static" triplet, which produces the same error. So this is not only a community triplet error. I changed the title accordingly. Other triplets were not tested by me but I guess every static build is broken.

[2021-12-01 19:41] xavier2k6 opened #21804 "[Qt] update Qt6 to <6.2.2>"
Library name: **Qt**

New version number: **6.2.2**

Other information that may be useful (release notes, etc...)
https://www.qt.io/blog/qt-6.2.2-released
https://code.qt.io/cgit/qt/qtreleasenotes.git/about/qt/6.2.2/release-note.md
https://download.qt.io/official_releases/qt/6.2/
https://wiki.qt.io/Qt_6.2_Release#Qt_6.2_release_plan

[2021-12-01 19:47] walbourn commented on #13566
**TL;DR:** The only good reason to keep using the legacy DirectX SDK is for Windows XP. This scenario is not supported by the modern Windows SDK (Windows 8 or later) and requires the Windows 7.1A SDK.

@JackBoosY - The legacy DirectX SDK was deprecated back in 2011 as a product and lives on as an 'end-of-life' release with numerous known issues. See [Microsoft Docs](https://docs.microsoft.com/en-u

[2021-12-01 20:09] michaelsmosna-conti opened #21805 "protobuf[core]:x64-windows 3.18.0 build failure"
**Host Environment**
- OS: Windows 10 21H1 (Build 19043.1348)
- Compiler: Microsoft (R) C/C++ Optimizing Compiler Version 19.00.23506 for x64

**To Reproduce**
Steps to reproduce the behavior:
 ./vcpkg install protobuf

**Failure logs**
[code]

[2021-12-01 20:18] BillyONeal commented on #21758
We have pip available, just not of the matching version for the numpy wheel tensorflow wants.

Forcing the user to build python to use tensorflow is probably overkill and probably isn't what they want, since that would give them a tensorflow that loads into their custom version of python, not necessarily the release copies.

[2021-12-01 20:21] BillyONeal commented on #13881
It means vcpkg does not really do 'releases'. The entries on the releases page are arbitrary and we don't expect people to use them in normal operation.

Releases may have made sense as a thing when the vcpkg binary (e.g. vcpkg.exe) had its code here, but that code now lives in https://github.com/microsoft/vcpkg-tool

[2021-12-01 20:21] arsdever commented on #21524
As already said, it's running on the `github` hosted `Ubuntu 20.04` build machine. I raised this question on [actions/virtual-environments repo](https://github.com/actions/virtual-environments/issues/4648)

[2021-12-01 20:25] cenit commented on #21758
i’d have thought that a pip dependency, host: true was expected along our journey….

[2021-12-01 20:26] cenit commented on #21758
(which means yes, building python to build tensorflow….)

[2021-12-01 20:27] rockandsalt commented on #21777
@JackBoosY, I moved vcpkg to `C:\vcpkg`,  It works now!! thank you for the hint

[2021-12-01 20:27] #21777 closed

[2021-12-01 20:31] BillyONeal commented on #21758
Unfortunately that says it uses the version of pip bootstrapped with that particular version of Python which is apparently too old here, since that would be the same version as the one that got automatically bootstrapped as when we got Python in the first place

[2021-12-01 20:32] BillyONeal commented on #21758
At this point I think a reasonable thing to do would be to print a warning like we do for apt and friends that tensorflow's build may fail without the user running that command first, just like we do for ports that have system dependencies on apt-get and friends...

[2021-12-01 20:41] RedstoneMedia commented on #21688
I have Visual Studio 2019 16.11.7 Installed.
The Installed Components are (apart from .net stuff):
![image](https://user-images.githubusercontent.com/34373974/144310619-fa3b488a-06d3-4342-be90-f965023d0485.png)

[2021-12-01 20:47] RedstoneMedia commented on #21688
Bruh I just tried to build again, after I installed the English language package (without chaining anything) and it worked. Why does the installed language package have anything to do with the build failing though, that is really confusing ?

[2021-12-01 23:00] BillyONeal commented on #21768
I'm not sure I understand what you mean by a triplet 'containing' the missing identifiers. The triplets don't contain the other identifiers either; they are synthesized from things vcpkg detects from the build environment most of the time, over here: https://github.com/microsoft/vcpkg-tool/blob/1b7edfa7196228006613d96657492e78d3e22043/src/vcpkg/platform-expression.cpp#L43

`staticcrt` should be on

[2021-12-02 00:11] xiaoyifang commented on #21792
install ffmpeg will cost 2 hours in my computer.
any solution to reduce the time.
would it better to offer some precompiled library as an option.

[2021-12-02 01:31] PhoebeHui commented on #20707
@daoshiming, it's a different issue, please report a new issue with failures logs and compiler version instead.

@zachsucking, please reopen this issue if the issue persist.

[2021-12-02 01:31] #20707 closed

[2021-12-02 01:56] meghanrjones opened #21806 "[gdal] build failure"
**Host Environment**
- OS: Windows Server 2019
- Compiler: Visual Studio Enterprise 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install gdal[core,tools]`

**Failure logs**
[code]
**Additional context**

The [gdal portfile](https://github.com/microsoft/vcpkg/blob/master/ports/gdal/portfile.cmake) includes `testepsg`, but that was removed from the default build for gdal in https

[2021-12-02 02:09] lijgame commented on #21669
Hey guys,

I ran into the same error earlier.
After spending hours on trying to figure out the issue, I finally found my issue caused by directory symbolic link.
In my case, my `vcpkg` folder is `d:\codes\vcpkg`, I created a symbolic link in C drive `c:\codes\vcpkg`.
The error happens when I try to install the package from c:\codes\vcpkg location.
Problem solved after I switched to native location

[2021-12-02 02:23] PhoebeHui commented on #21787
See https://github.com/microsoft/vcpkg/issues/21740#issuecomment-983433545

@zhangbowei, could you report an issue to https://github.com/boostorg/python and confirm if Upstream supports arm-linux?

Failures:
[code]

[2021-12-02 02:24] PhoebeHui commented on #21740
Closing in favor of https://github.com/microsoft/vcpkg/issues/21787.

[2021-12-02 02:24] #21740 closed

[2021-12-02 02:46] xuhancn commented on #21766
[1/25] C:\PROGRA~2\MICROS~1.0\VC\bin\amd64\cl.exe   /TP -DCPPREST_EXCLUDE_WEBSOCKETS=1 -DUNICODE -DWIN32 -D_NO_ASYNCRTIMP -D_NO_PPLXIMP -D_SCL_SECURE_NO_WARNINGS -D_UNICODE -D_WIN32_WINNT=0x0600 -D_WINSOCK_DEPRECATED_NO_WARNINGS -ID:\xu_git\vcpkg\buildtrees\cpprestsdk\src\ecb9e168c5-96a8d6ba89.clean\Release\include -ID:\xu_git\vcpkg\buildtrees\cpprestsdk\src\ecb9e168c5-96a8d6ba89.clean\Release\src

[2021-12-02 02:48] JackBoosY commented on #13566
@walbourn Thank you for your detailed explanation, I will report this issue to qt.

[2021-12-02 02:52] JackBoosY commented on #11271
Please note that the CRT linkage of all ports in vcpkg should be configured according to the configuration of the triplet, and should not be mandatory.

[2021-12-02 03:01] JackBoosY commented on #21669
Please note that vcpkg may have bugs on symbolic link.

[2021-12-02 03:06] LilyWangLL commented on #21805
Thanks for posting this issue. PR #21485 will upgrade protobuf to 3.19.1, waiting this PR merged, you can try install new version protobuf.

[2021-12-02 03:07] JackBoosY commented on #21688
@RedstoneMedia  Because we do some "magic“ 😆.

[2021-12-02 03:07] #21688 closed

[2021-12-02 03:08] PhoebeHui commented on #21229
This issue should be fixed in latest release.

[2021-12-02 03:08] #21229 closed

[2021-12-02 03:10] PhoebeHui commented on #17678
This issue should be fixed in latest release.

[2021-12-02 03:10] #17678 closed

[2021-12-02 03:11] #12621 closed

[2021-12-02 03:11] #20991 closed

[2021-12-02 03:11] #21116 closed

[2021-12-02 03:11] PhoebeHui commented on #17756
This issue should be fixed in latest release.

[2021-12-02 03:11] #17756 closed

[2021-12-02 03:22] #21682 closed

[2021-12-02 03:27] #21795 closed

[2021-12-02 03:50] nzqpeace commented on #21781
I pull a new request [#21808](https://github.com/microsoft/vcpkg/pull/21808) to port library dc1394, then we can set `feature dc1394` depend on package `libdc1394`.
[code]

[2021-12-02 04:52] Sodacooky commented on #21776
I went through the same problem like you (https://github.com/libsdl-org/SDL_mixer/issues/339).
They "have" fixed it but the problem still.

[2021-12-02 05:47] JackBoosY commented on #21694
I can't repro this issue when using changes in PR https://github.com/microsoft/vcpkg/pull/21788, can you confirm that?

And please use `find_package(PCL CONFIG REQUIRED)` instead.

[2021-12-02 06:03] JackBoosY commented on #21735
The target is `PkgConfig::GLIB2`, so v8 should use glib's pkgconfig file.
Can you please provide all the files in _VCPKG_ROOT/installed/x64-windows-static/share/v8_?

Thanks.

[2021-12-02 06:09] FrankXie05 commented on #21785
@luyenbuuhuy ,Thanks for posting this issue, this version has been update and merged, see  #21661

[2021-12-02 06:13] FrankXie05 commented on #21785
@luyenbuuhuy  Use the command: git pull to update, then you can use this version :)

[2021-12-02 06:13] #21785 closed

[2021-12-02 06:13] hudengjunai opened #21810 "[New Port Request] <Cachelot>"
Library name:Cachelot

Library description:a fast c++ cache library

Source repository URL:https://github.com/cachelot/cachelot

Project homepage (if different from the source repository):https://cachelot.io/index.html

Anything else that is useful to know when adding (such as optional features the library may have that should be included):https://cachelot.io/index.html

[2021-12-02 06:17] PhoebeHui commented on #21615
@nextquanta, please reopen this issue and provide us failure logs if it still be a problem for you.

[2021-12-02 06:17] #21615 closed

[2021-12-02 07:02] WangZP10969 commented on #21694
@JackBoosY  It didn't work after modifying find_package
I am using the master version earlier than PR #21788, I think I need to rebuild the test in this PR

Would you help me test pcl::ConvexHull by the way? In the previous version, I need to make changes https://github.com/microsoft/vcpkg/pull/18855#issuecomment-961480058 to be used normally
The test project file is as follows
[TEST.zip](https://

[2021-12-02 07:11] JackBoosY commented on #21766
[code]

[2021-12-02 07:14] JackBoosY commented on #21757
Needs include `limits` and enable feature `cxx11`.
Which gcc version did you install?

[2021-12-02 07:17] JackBoosY commented on #21744
[code]
Needs link to lcms.

[2021-12-02 07:22] JackBoosY commented on #15317
Is this issue still exist?

[2021-12-02 07:23] JackBoosY commented on #15451
Ping for response.
Did you run command `./vcpkg integrate install` first?

[2021-12-02 07:31] JackBoosY commented on #16097
@krisweiss Sorry for late, can you please report this to imgui?

Thanks.

[2021-12-02 07:32] JackBoosY commented on #16497
[code]

[2021-12-02 07:34] JackBoosY commented on #20124
Ping for response.

[2021-12-02 07:36] JackBoosY commented on #20701
[code]
Maybe a upstream bug?

[2021-12-02 07:37] JackBoosY commented on #20807
Ping for response.

[2021-12-02 07:38] arsdever commented on #21524
As the other thread hinted, some packages were missing from the build machine causing the package install process to fail. My issue with installing `angle` is resolved.

[2021-12-02 07:38] #21524 closed

[2021-12-02 07:42] JackBoosY commented on #21237
Sorry for late, breakpad needs to add `/wd4996` to the configure file.

[2021-12-02 07:50] JackBoosY commented on #21535
`"D:/vcpkgmanage/vcpkg/packages/influxdb-cxx_x64-windows/share/debug/lib/InfluxDB.lib"`

This path should not be absoulte path.

[2021-12-02 07:54] luyenbuuhuy commented on #21785
@FrankXie05: Thank you! :)

[2021-12-02 08:20] LilyWangLL commented on #21776
Due to sdl2-mixer depends on old version of mpg123, it doesn't support latest version of mpg123. I have submitted issue on upstream https://github.com/libsdl-org/SDL_mixer/issues/340. I will disable feature mpg123 temporarily, untill sdl2-mixer supports the latest version of mpg123.

[2021-12-02 08:24] PhoebeHui commented on #20453
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now, consider making a pull request instead.

[2021-12-02 08:24] #20453 closed

[2021-12-02 08:26] PhoebeHui commented on #20407
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now, consider making a pull request instead.

[2021-12-02 08:26] #20407 closed

[2021-12-02 08:27] PhoebeHui commented on #20335
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now, consider making a pull request instead.

[2021-12-02 08:27] #20335 closed

[2021-12-02 08:29] PhoebeHui commented on #19438
Closing in favor of https://github.com/microsoft/vcpkg/issues/19293.

[2021-12-02 08:29] #19438 closed

[2021-12-02 08:31] PhoebeHui commented on #20903
@anonymousr007, sorry for late response, I assigned this issue to you, we're happy to accept a PR for this！

[2021-12-02 08:39] PhoebeHui commented on #21070
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now, consider making a pull request instead.

[2021-12-02 08:39] #21070 closed

[2021-12-02 08:42] dg0yt commented on #16497
You probably need instructions how to resolve the problem?

`winhttp` is selected on windows as SSL backend by the default `ssl` feature.
`openssl` is a dependency of the `ssh` feature.
To resolve the conflict between the backends, you must explicitly build without the `ssl` feature in order to remove `winhttp`. This shouldn't disable ssl, but only the selection of a default backend. (Untested.)
[

[2021-12-02 08:47] PhoebeHui commented on #21053
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now, consider making a pull request instead.

[2021-12-02 08:47] #21053 closed

[2021-12-02 08:52] zhangbowei opened #21814 "How to use BOOST Library in ARM"
As title，which command should I use to install boost in ARM architecture？

[2021-12-02 08:52] PhoebeHui commented on #11950
Please reopen this issue and continue PR https://github.com/microsoft/vcpkg/pull/17423 If you wish to add this port in the future.

[2021-12-02 08:52] #11950 closed

[2021-12-02 08:53] PhoebeHui commented on #11744
Please reopen this issue and continue PR https://github.com/microsoft/vcpkg/pull/11746 If you wish to add this port in the future.

[2021-12-02 08:53] #11744 closed

[2021-12-02 08:57] PhoebeHui commented on #19597
Please reopen this issue and continue PR https://github.com/microsoft/vcpkg/pull/19802 If you wish to add this port in the future.

[2021-12-02 08:57] #19597 closed

[2021-12-02 09:00] zzh-www commented on #21757
╰─ gcc --version
gcc (GCC) 11.1.0
Copyright © 2021 Free Software Foundation, Inc.
本程序是自由软件；请参看源代码的版权声明。本软件没有任何担保；
包括没有适销性和某一专用目的下的适用性担保。

[2021-12-02 09:06] JackBoosY commented on #21237
After fix libdisasm, I got some compile errors about breakpad, and I found these issues were reported to the upstream: https://groups.google.com/g/google-breakpad-discuss/c/596WsrC4pLg/m/_ET2aiBJAQAJ
So, it seems that breakpad doesn's support uwp now?

[2021-12-02 09:08] LilyWangLL commented on #15481
I will confirm this issue soon.

[2021-12-02 09:13] FrankXie05 commented on #21766
@xuhancn
url: [set-C++11.zip](https://github.com/microsoft/vcpkg/files/7640561/set-C%2B%2B11.zip)
I think it's possible that VC2017 did not use C++11, so I appiled a patch to use it.
And I Successfully build it. Cna you try it?
If  fails, connect me in time. :)

[2021-12-02 09:15] JackBoosY commented on #21757
So the only reason is this source file doesn't include `limits` I think.

[2021-12-02 09:18] JackBoosY commented on #16497
Since libgit2 already has multiple conflicting features, here I can only suggest that you use `libgit2[core, feature1, feature2]` to build it.

[2021-12-02 09:23] JonLiu1993 commented on #21806
Confirmed

[2021-12-02 09:28] JackBoosY commented on #21757
Can you please download, unzip [this file](https://github.com/microsoft/vcpkg/files/7640697/flashlight-cuda.zip), replace _VCPKG_ROOT/ports/flashlight-cuda_ with it and try again?

Thanks.

[2021-12-02 09:33] zzh-www commented on #21757
thank you very much, i'll try it now

[2021-12-02 09:37] JackBoosY commented on #20701
So let's wait for the upstream reply first.

[2021-12-02 09:39] JackBoosY commented on #21694
Build succes with my changes.

[2021-12-02 09:47] JackBoosY commented on #21806
I saw testepsg still exists in the `makefile.vc`, no ideas why it wasn't build.

[2021-12-02 09:49] WangZP10969 commented on #21694
Thank you very much, I will test it today

[2021-12-02 10:05] Eric-JH commented on #21756
Computing installation plan...
The following packages will be built and installed:
    lapack-reference[blas-select,core,noblas]:x64-windows -> 3.8.0#6
Detecting compiler hash for triplet x64-windows...
Restored 0 packages from C:\Users\蒋晗\AppData\Local\vcpkg\archives in 263.4 us. Use --debug to see more details.
Starting package 1/1: lapack-reference:x64-windows
Building package lapack-reference[

[2021-12-02 10:07] Neumann-A commented on #21804
And I thought I would be finished with adding additional qt ports.

[2021-12-02 10:07] Eric-JH commented on #21756
[config-x64-windows-out.log](https://github.com/microsoft/vcpkg/files/7640980/config-x64-windows-out.log)

[2021-12-02 10:22] nullpunktTUD opened #21817 "[wxwidgets:x64-linux] -ldep_name set to not found when trying to generate build files using vcpkg toolchain file"
**Describe the bug**
When trying to generate the build files using the vcpkg toolchain file, an error occurs stating that the variable `-ldep_name` has been set to NOTFOUND. It is entirely unclear to me where that variable is set and why. The generic name makes me think that it's a bug.

**Environment**
- OS: Linux
- Compiler: GNU 9.3.0

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg

[2021-12-02 10:30] zzh-www commented on #21757
[install-x64-linux-dbg-out.log](https://github.com/microsoft/vcpkg/files/7641098/install-x64-linux-dbg-out.log)
it seems useful , but it still can not build. it has same erro in another source file?

[2021-12-02 10:55] horenmar commented on #21753
CMake strikes again I guess.

--------

Well, I would still like the documentation for triplets to be better.

[2021-12-02 10:55] #21753 closed

[2021-12-02 11:44] SergioMasson opened #21819 "Pixar USD not working when using vcpkg.json"
**Describe the bug**
Hey guys, I'm trying to setup a project to use vcpkg.json to configure Pixar USD library on a CMake project. This package seams to work fine when installed system wise using vcpkg. However, adding it to a  vcpkg.json makes the CMake project fail to configure. From the error message it seams pxrConfig.cmake is trying to find pxrTargets.cmake in the wrong folder.

It tries to fi

[2021-12-02 12:11] Reveares commented on #21735
copyright
[code]

V8Config.cmake
[code]

vcpkg_abi_info.txt
[code]

[2021-12-02 12:33] xuhancn commented on #21766
Still build failed：
--------------------------------------------------------
PS D:\xu_git\vcpkg> ./vcpkg install cpprestsdk:x64-windows-static
Computing installation plan...
The following packages will be built and installed:
    cpprestsdk[brotli,compression,core,default-features]:x64-windows-static -> 2.10.18
Detecting compiler hash for triplet x64-windows-static...
Restored 0 packages from C:\U

[2021-12-02 13:41] nullpunktTUD commented on #21817
By the way, this can also be reproduced with a minimal example app, so it has nothing to do with the additional dependencies mentioned in the output.

[2021-12-02 13:42] nullpunktTUD commented on #21817
I also just realized this appears to be the same issue as in issue #20983

[2021-12-02 15:23] n4z4m3 commented on #21669
@lijgame and @LilyWangLL It looks like the symbolic links are my problem as well. And it also explains why it just started recently for me. My C drive was getting full so I needed to move vcpkg to my D drive, but I really wanted to keep it so that it appeared like it was in the C drive so I used a symbolic link. I guess I need to find a new way to do this.

Any thoughts on the next steps? Do I clo

[2021-12-02 16:07] ianmcook opened #21821 "[arrow] Use vendored Thrift"
The `arrow` port depends on the `thrift` port. This introduces possible version incompatibilities and requires applying patches to the Arrow CMake scripts. Investigate whether we should instead use Arrow's vendored Thrift in the `arrow` port.

[2021-12-02 16:33] stijn-ucrowds commented on #21682
Thank you for the changes, I appreciate it.

[2021-12-02 16:37] stijnherfst commented on #21682
Thank you for fixing it, I appreciate it.

[2021-12-02 17:44] lijgame commented on #21669
I'm glad it works for you.
You can still use symbolic link, you just need to install packages from d drive.
I have no issues linking vcpkg libraries from c drive in my projects.

-Jiang

[2021-12-02 18:32] RubberDuckShobe commented on #21679
Hello, I'm having the same issue. Here's my vcpkg output and log files:
[code]
[install-x86-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/7644292/install-x86-windows-dbg-out.log)

[2021-12-02 18:56] dg0yt commented on #21679
@RubberDuckShobe We can't know if it is the same error because the initial post lacks the details.
[code]
The build picked `C:\Users\(USERNAME REDACTED)\AppData\Local\bin\NASM\nasm.exe`. This is under your control. Retry without this program in the path, or update it. Vcpkg should download 2.15.05 if there is no other nasm.

[2021-12-02 19:28] LindaMosep opened #21822 "[openssl] Build error"
**Host Environment**
- OS: [Windows

**Failure logs**
C:\test\vcpkg>vcpkg.exe install openssl:x64-windows openssl:x86-windows zlib:x64-windows zlib:x86-windows
Computing installation plan...
The following packages will be built and installed:
    openssl[core]:x64-windows -> 1.1.1l#4
    openssl[core]:x86-windows -> 1.1.1l#4
    zlib[core]:x64-windows -> 1.2.11#13
    zlib[core]:x86-windows -> 1.2

[2021-12-02 19:50] Yoark commented on #21680
Changed to gcc 9.2.0 (I am updating gcc version with lmod available in my cluster, is there anything extra need to be modified about gcc?)

I think the issue remains the same, error log remains the same.
[install-x64-linux-dbg-out.log](https://github.com/microsoft/vcpkg/files/7644733/install-x64-linux-dbg-out.log)

[2021-12-02 20:24] #21822 closed

[2021-12-02 21:58] BillyONeal commented on #21800
I renamed the bug to capture that the issue is really bad diagnostics rather than about the specific internal organization of the tool. (In case that function is ever renamed or similar if the bug is still valid it should survive)

[2021-12-02 22:09] supersickle opened #21823 "[nvtt] Build error"
**Host Environment**
- VirtualBox VM
- OS: Ubuntu 22.04 linux
- Compiler: gcc 11.2
- ~/vcpkg$ g++ -v
Using built-in specs.
COLLECT_GCC=g++
COLLECT_LTO_WRAPPER=/usr/lib/gcc/x86_64-linux-gnu/11/lto-wrapper
OFFLOAD_TARGET_NAMES=nvptx-none:amdgcn-amdhsa
OFFLOAD_TARGET_DEFAULT=1
Target: x86_64-linux-gnu
Configured with: ../src/configure -v --with-pkgversion='Ubuntu 11.2.0-12ubuntu1' --with-bugurl=file:

[2021-12-02 22:16] Neumann-A opened #21824 "[libyaml] Missing *.pc files"
libyaml has a cmake and an autotools upstream build. Unfortunally the cmake build does not install/configure the *.pc files so vcpkg has to do it itself.

[2021-12-02 22:47] n4z4m3 commented on #21669
@lijgame
Thanks. That is exactly how I am now using it. I do the package install from my D drive, but then point to the symbolic link location on the C drive in my software that utilizes the libraries.

[2021-12-02 23:23] supersickle commented on #21823
I also duplicated this failure on my 20.04 install on my laptop.  Similar error in nvtt.
System76
Pop_OS with Ubuntu 20.04 base
Intel x64 i7
intel graphics
nvidia tegra dev toolchain is installed on this system, but no nvidia hardware/graphics card

lspci
00:00.0 Host bridge: Intel Corporation Coffee Lake HOST and DRAM Controller (rev 0b)
00:02.0 VGA compatible controller: Intel Corporation UHD Gr

[2021-12-03 00:57] ras0219-msft commented on #12220
Yes, prebuilt binaries are now used when you run `.\bootstrap-vcpkg.bat`

[2021-12-03 01:09] ras0219-msft commented on #21758
I see. I think there should still be a potential path like:
[code]
https://docs.python.org/3/library/venv.html

[2021-12-03 01:28] FrankXie05 commented on #21766
@xuhancn could you please provide the detail error log?

[2021-12-03 01:47] PhoebeHui commented on #21814
On windows you can try below commands:
./vcpkg install boost:arm-windows: this is community supported triplet which not tested in CI pipeline.
./vcpkg install boost:arm64-windows:  this is official supported triplet.

[2021-12-03 02:28] JackBoosY commented on #21735
[code]
Should be
[code]

Can you please manually modify that and try again?

[2021-12-03 02:28] ras0219-msft commented on #20483
I think there are two reasonable fixes here:

*Option 1.* We remove the `glib-2.0` subdirectory: `/include/glib-2.0/glib.h` should become `/include/glib.h`.

Consequence: All users must `#include <glib.h>`.

*Option 2.* We patch every glib include to say `#include <glib-2.0/glib/blah.h>` and change the `.pc` file to include _both_ `/include` and `/include/glib-2.0` (and similar for CMake).

Conseq

[2021-12-03 02:32] 7Redacted opened #21827 "wxWidgets build failure - dlls only copied in release profile CMAKE builds, debug profile builds unable to run"
**Host Environment**
- OS: Windows 11
- Compiler: Visual Studio 2022 17.01, CMake 3.8

**To Reproduce**
Steps to reproduce the behavior:

First I installed wxWidgets to my project:

`> .\vcpkg\vcpkg install wxWidgets:x64-windows`

Next, wrote the following into my CMake file:

[code]
And finally, the following cpp file:

[code]
This compiles and runs when using an x64-Release profile, copying the

[2021-12-03 02:35] LilyWangLL commented on #21669
Hi @BillyONeal, could you help take a look this issue? Thanks.

[2021-12-03 03:02] #14873 closed

[2021-12-03 03:06] LilyWangLL commented on #21776
The upstream issue has been fixed, I will fix this issue soon.

[2021-12-03 03:06] #9050 closed

[2021-12-03 03:10] JonLiu1993 commented on #21769
Fix by #21761

[2021-12-03 03:10] #21769 closed

[2021-12-03 03:40] #20440 closed

[2021-12-03 03:53] #21798 closed

[2021-12-03 03:54] #21535 closed

[2021-12-03 03:58] #21806 closed

[2021-12-03 06:49] hros commented on #21769
Thanks

Please let me know the syntax for:
1. Installing a specific (older) version of a library
2. Creating a shared library (.so)

[2021-12-03 07:29] ras0219-msft commented on #21604
Yes, you're right. We decided to go ahead and push for a hotfix release instead, which occurred on 2021-11-24. See https://github.com/microsoft/vcpkg/commit/b3cfaaf1bba70febd07c2f672ae590dc5d914180 and https://github.com/microsoft/vcpkg-tool/releases/tag/2021-11-24

[2021-12-03 07:29] #21604 closed

[2021-12-03 07:53] lmdiazangulo opened #21833 "[mpfr] Build error"
**Host Environment**
- OS: x64 Ubuntu 20.04 (as WSL)
- Compiler: gcc version 9.3.0 (Ubuntu 9.3.0-17ubuntu1~20.04)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install mpfr`

**Failure logs**

 - Console output:

buildtrees/mpfr/autoconf-x64-linux-err.log

**Additional context**
Previously had an error that required to install the autoconf-archive package

[2021-12-03 08:26] PhoebeHui commented on #21749
@zhouhang95, could you provide us your CMakeLists.txt and main.cpp file to repro this issue? I create a minimal test code, everything works as expected. Could you get latest source via 'git pull' & 'bootstrap-vcpkg.bat' and try again?

The repro steps:
1. ./vcpkg install alembic:x64-windows
2. ./vcpkg integrate install
3. Create test code as following:

CMakeLists.txt
[code]

main.cpp
[code]

4. E

[2021-12-03 08:40] JonLiu1993 commented on #21769
@hros ,
1.How to install specific version?  you can refer this issue:#21357
2.Creating a shared library (.so)

I don't quite understand the meaning of your second question, Could you please describe your question in detail.

[2021-12-03 08:46] PhoebeHui commented on #21589
@NeedCf, please reopen this issue if it still be a problem for you.

[2021-12-03 08:46] #21589 closed

[2021-12-03 08:48] JackBoosY commented on #21746
@Raffaello The upstream does add the opposite target `SDL2::SDL2` / `SDL2::SDL2-static`. It's the upstream behavior so I think we shouldn't touch it.

In vcpkg, you can only build and use one triple at a time in one configuration.

[2021-12-03 08:50] hros commented on #21769
When building xxhash with vcpkg I only get static libraries (.a), whereas the default makefile in the xxhash project builds a shared library (.so)

[2021-12-03 08:53] LilyWangLL commented on #21750
@Raffaello Thanks for you detail reply. For this issue:
1. Since x11 can only be installed on UNIX, and the keyword `default feature` in manifest file doesn't support triplet expression. so it can't be add to default feature. And I think you should declare feature `x11` in the install command manually.
2. We confirmed this issue is a port bug and I will fix this issue soon.

[2021-12-03 09:19] Neumann-A opened #21834 "[taglib] pc file links wrongly against zlib on windows"
pc file contains: `-lz`. Do I need to say more?

[2021-12-03 09:30] JonLiu1993 commented on #21769
@hros ,If you want build builds a shared library (.so), you can create a cmake file named x64-linux-dynamic.cmake:
[code]
Then use ./vcpkg install x64-linux --dynamic to compile under linux

[2021-12-03 09:54] JackBoosY commented on #21746
So I think you should use overlay ports to achieve dynamic/static switching when using existing triplet.

[2021-12-03 09:56] JackBoosY commented on #21827
Can you please test my PR https://github.com/microsoft/vcpkg/pull/17111 whether it resolved this issue?

Thanks.

[2021-12-03 09:57] JonLiu1993 commented on #21821
I will submit pr to let arrow port use Thrift of vcpkg

[2021-12-03 09:57] JackBoosY commented on #21817
Can you please test #17111 whether it resolved this issue?

Thanks.

[2021-12-03 09:58] JackBoosY commented on #21817
And please track #20983 instead.

[2021-12-03 09:58] #21817 closed

[2021-12-03 09:58] JackBoosY commented on #21757
It should be a upstream bug, I will look into it later.

[2021-12-03 10:04] JackBoosY commented on #21038
@BillyONeal @ras0219-msft Can you please figure this out?

Thanks.

[2021-12-03 11:32] Raffaello commented on #21746
i see.

Not a problem, it looks like is not an helper using `vcpkg`,  I was using as a optional dependency manager to help CMAKE generating the "make files" as it shouldn't be strictly required to use with Cmake, but just as an helper eventually.

Basically, with the new static triplet, there is a lot of more work to accommodate the usage of vcpkg if wanting a switch among a static or dynamic 3rd

[2021-12-03 11:33] FabianLorenzo commented on #20483
@ras0219-msft they both seem like valid and sound options

[2021-12-03 11:51] Neumann-A commented on #20483
I consider these hacks instead of fixes because it doesn't change the fact that the msbuild integration is simply broken by design. Stuff like qt for example cannot be fixed with either of your "solutions". So a more general fix and overhaul of the msbuild integration is needed.

vcpkg needs to find another way to integrate into msbuild. One solution could be to generate props files from pc/cmake

[2021-12-03 12:21] FabianLorenzo commented on #20483
@Neumann-A I was called out already for proposing things outside the scope of the issue, that aside, your proposal seems good.

[2021-12-03 12:53] dovanbel opened #21835 "openimageio build failure"
**Host Environment**
- OS: Windows 10
- Compiler: MS Visual Studio 2019 Community edition

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install openimageio[pybind11]:x64-windows-static`

**Failure logs**
[code]
And here is the end of the log;

[code]

**Additional context**
Add any other context about the problem here, such as what you have already tried to resolve the issue.

[2021-12-03 13:17] zhouhang95 commented on #21749
@PhoebeHui
It's my problem.
I delete all vcpkg, reisntall it. It works.
But now new problem.

https://github.com/alembic/alembic
[code]
I need this flag is ON, but default is OFF.
How i turn this flag on?

[2021-12-03 13:27] WangZP10969 commented on #21694
I tried to compile only pcl, still the same result
[code]
I try to modify the effect of port.cmake on this pr

[2021-12-03 13:29] KnifeEdge opened #21837 "libusb canot be installed"
The download URL may be changed  !!!

Package: libusb:x64-windows
Vcpkg version: 2020.06.15-nohash

[2021-12-03 14:01] 7Redacted commented on #21827
Thanks for the suggestion @JackBoosY -- I pulled down your MR in my copy of the vcpkg repository, cleared out the CMake cache of my test project, and re-built.

I still appear to see the same problem: the dependency .dlls are copied over properly in a release build, but are not copied over for a debug build.

[2021-12-03 15:14] Chaojimengnan opened #21838 "[opencv4] Build error"
**Host Environment**
- OS: Windows 10
- Compiler: Visual Studio 2022

[code]

**To Reproduce**
Please forgive my English. I used VS and used the following `vcpkg.json` to help me add opencv package dependencies. When I don't use CUDA feature, it works fine, but when I add CUDA feature I get the error, I don't know why, here is my `vcpkg.json` content:

[code]

**Failure logs**

[code]

The followi

[2021-12-03 15:51] umarnurmatov commented on #21530
I have just the same linker error. I tried to run my programm using some previous versions of imgui / imgui-sfml (1.80 for imgui and 2.3 for imgui-sfml), but it also didn't work.
But when I tried to compilate mu programm via cmake (with versions 1.80 for imgui and 2.3 for imgui-sfml), it worked.

My enviroment:
- OS: Windows 10
- Compiler: MSVC 22 (x64)

[2021-12-03 19:15] shimondoodkin commented on #11283
retry.sh
[code]

usage:

./retry.sh "/mnt/c/vcpkg/vcpkg install opencv:x64-linux"

and let it work by itself

[2021-12-03 21:06] emastino opened #21842 "Build Error"
**Host Environment**
- OS: Windows 10
- Compiler: Visual Studio 2022 Community Edition

**To Reproduce**
Hello everybody,

I've ran into a seemingly not so unique situation where my antivirus software (Bitdefender) restricts the download of certain suspicious files when I use vcpkg to install omplapp. I am using PowerShell to run vcpkg . The installation of vcpkg seems to run smoothly but it is on

[2021-12-03 21:15] 7Redacted commented on #21827
@JackBoosY -- apologies for any confusion.

I didn't realize the PR changed the name of the port to unofficial-wxwidgets. I didn't previously update my cmake file to reference that instead of wxwidgets.

With your PR, this issue is resolved.

[2021-12-03 21:29] BillyONeal commented on #20483
@Neumann-A I believe that is a limitation of MSBuild as it currently exists and there isn't much vcpkg can do to affect that. It doesn't have a find_package-alike that can be used to determine when a target's properties are supposed to apply, and applying those properties unconditionally is functionally equivalent to the options @ras0219 indicated.

[2021-12-03 21:30] cenit commented on #21838
there is no cuda version compatible with vs2022 as of now, unfortunately

[2021-12-03 21:33] ras0219-msft commented on #20483
Another solution would be for MSBuild users to use pkgconfig -- though it requires effort for them to acquire the binary and add it to their build.

[2021-12-04 02:41] drelatgithub opened #21845 "[highfive] Eigen3 feature option"
****

**Is your feature request related to a problem? Please describe.**
[HighFive library](https://github.com/BlueBrain/HighFive) supports reading/writing Eigen3 matrices, but the highfive port is not providing this feature option.

Currently, the port file has already supported boost and xtensor feature options.

**Proposed solution**
Add Eigen3 feature option such that `highfive[eigen3]` is ava

[2021-12-04 05:38] Chaojimengnan commented on #21838
Thank you very much. I just started to use 2022 and just deleted VS2019, TT.

[2021-12-04 05:38] #21838 closed

[2021-12-04 07:00] holmescn commented on #21345
In `$VCPKG_ROOT/scripts/toolchains/android.cmake`, the `$ANDROID_NATIVE_API_LEVEL` was set to `$CMAKE_SYSTEM_VERSION`. Does anyone know that where did this variable set?

[2021-12-04 07:40] Sousuke13 commented on #21744
When installing colmap, lcms will be installed in vcpkg with the installation of freeimage, but if it is static, it will not be linked.

[2021-12-04 09:13] RubberDuckShobe commented on #21679
@dg0yt Thank you! I uninstalled NASM and it fixed the issue.

[2021-12-04 10:05] holmescn commented on #21345
Hi everyone followed this issue, the new PR is made, please review it and give me any feedback.

[2021-12-04 10:16] dg0yt commented on #21345
#21831 misses a mention here.

[2021-12-04 10:22] dg0yt commented on #21744
@Sousuke13 Libraw properly depends on lcms. This creates a static linkage dependency, but it is not carried to colmap. This maybe a colmap issue (not importing properly) or a libraw issue (not exporting properly).

[2021-12-04 10:44] holmescn commented on #21345
@dg0yt how can I test the PR locally?

[2021-12-04 11:04] dg0yt commented on #21345
@holmescn At the top of the PR is:

Now in your vcpkg clone, given `opengisch:fix-android-ndk-clang` you can do:
[code]

[2021-12-04 12:28] ivanstepanovftw opened #21849 "[<port name>] build failure"
**Host Environment**
- OS: linux, macos
- Compiler: Apple clang version 12.0.0 (clang-1200.0.32.29)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install xxxx`

**Failure logs**
-Cut and paste the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

**Additional context**
Add any other context about the probl

[2021-12-04 12:28] #21849 closed

[2021-12-04 12:29] EmielBoss opened #21850 "[faiss:x64-linux] BUILD_FAILED"
**Host Environment**
- OS: Linux 5.11.0-40-generic (Ubuntu 21.04)
- Compiler: G++ 10.3.0-1ubuntu1
- Vcpkg version: 2021-08-12-unknownhash
- Package: faiss:x64-linux

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install` (If I run `./vcpkg install faiss:x64-linux` I get `Error: 'install' requires 0 arguments, but 1 were provided.` for some reason.

**Failure logs**
[code]

**Additiona

[2021-12-04 12:43] ivanstepanovftw opened #21851 "[binarycaching] Pushing NuGet to GitHub failed"
**Describe the bug**
Linux and macOS builds too long, but Nuget caching is on. Reason: Pushing NuGet to GitHub failed
[code]

**Environment**
- CI: Github Actions
- OS: linux, macos
- Compiler: Apple clang version 12.0.0 (clang-1200.0.32.29)

**To Reproduce**
Steps to reproduce the behavior:

0. Set global environment `VCPKG_BINARY_SOURCES="clear;nuget,GitHub,readwrite"`
0. Bootstrap ```thirdparty

[2021-12-04 14:29] #21749 closed

[2021-12-04 17:40] QwazyWabbitWOS commented on #20483
Call me dense but I don't understand the reasons for the suggested solutions by @BillyONeal or @ras0219-msft. My VS projects affected by this issue already (and originally) specified `#include <glib.h>` and this is now problematic WRT vcpkg.

Vcpkg installs the packages. Vcpkg knows where it puts them. Why is it unable to inform VS where it put `glib` and any other similarly affected packages abou

[2021-12-04 22:08] fall-through opened #21861 "curl[tool] build failure"
**Host Environment**
- OS: Mac
- Compiler: VSCode (I've been typing this into terminal)

**To Reproduce**
Steps to reproduce the behavior:
vcpkg install curl[tool]

**Failure logs**
--- Applying patch 0001-Prevent-invalid-inclusions-when-HAVE_-is-set-to-0.patch
-- Applying patch add_debug_postfix_on_mingw.patch
-- Applying patch 0002-android-build-mingw.patch
-- Using source at /Users/autumnmilos/

[2021-12-04 22:20] fall-through commented on #21861
wow I see now reading my question home-brew was the issue and I got it to work. ! oops. should've read up

[2021-12-04 22:20] #21861 closed

[2021-12-04 22:22] gregorijk opened #21862 "[boost-exception] Build error"
Trying to build pcl library which requires boost. Build process break with one of the boost modules with the following error:

[code]

**Host Environment**
- OS: Windows
- Compiler: VS2022
- Vcpkg package management program version 2021-11-24-48b94a6946b8a70abd21529218927fd478d02b6c

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install boost`

[config-x64-windows-out.log](https://git

[2021-12-05 00:12] dg0yt commented on #21862
Can you verify that you build with latest version of vcpkg-cmake? This implies a `vckg remove vpckg-cmake` (NB: for the host triplet), which in turn implies rebuilding all ports which use it.
(The config log indicates that you use an older version which doesn't understand the `MAYBE_UNUSED_VARIABLES` parameter.)

[2021-12-05 03:10] theoractice commented on #19982
@JackBoosY @JonLiu1993
Any updates?
My system language is Chinese and I am using the Administrator account. Are these related?

[2021-12-05 05:44] cenit commented on #21837
git pull
./bootstrap-vcpkg.sh

then retry

[2021-12-05 07:33] Ace314159 opened #21863 "[ompl] Can't find_package ompl"
**Describe the bug**
Doing `find_package(ompl CONFIG REQUIRED)` results in an error

**Environment**
- OS: Windows 10.0.19042
- Compiler: MSVC 19.29.30040

**To Reproduce**
Steps to reproduce the behavior:
1. `./vcpkg install ompl:x64-windows`
2. Create CMakeLists.txt with only `find_package(ompl CONFIG REQUIRED)`
3. Run CMake
4. Error occurs

**Expected behavior**
No error should occur

**Failure

[2021-12-05 09:06] syys96 commented on #21850
Would you mind uploading the content of two log files?
      /home/emiel/Documents/dual_hierarchy_tsne/third_party/vcpkg/buildtrees/faiss/config-x64-linux-dbg-out.log
      /home/emiel/Documents/dual_hierarchy_tsne/third_party/vcpkg/buildtrees/faiss/config-x64-linux-dbg-err.log
It seems that the cmake command failed, the logs might tell more

[2021-12-05 11:41] xiaoxstz opened #21865 "As there is no import command, why does the export command exist?"
As there is no import command, why does the export command exist?

How to use the files exported?

[2021-12-05 12:29] Sousuke13 commented on #21744
@dg0yt  Thank you for your response. Or maybe there is a problem with the static linkage of FreeImage.

[2021-12-05 12:54] dg0yt commented on #21744
@Sousuke13 The build failed for colmap, freeimage didn't even start to build.

[2021-12-05 14:00] tats-u opened #21866 "[nowide] update to 11.1.3"
Library name: `nowide` (standalone Boost::nowide)

New version number: 11.1.3

Other information that may be useful (release notes, etc...)
<https://github.com/boostorg/nowide/releases/tag/v11.1.3>

[2021-12-05 14:59] IshaanKarnik opened #21868 "[New Port Request] licensecc"
Library name : licensecc

Library description : Copy protection, licensing library and license generator for Windows and Linux.

Source repository URL:
https://github.com/open-license-manager/licensecc
https://github.com/open-license-manager/lcc-license-generator

http://open-license-manager.github.io/licensecc/index.html

[2021-12-05 18:24] ocornut commented on #21530
You can build with `IMGUI_USER_CONFIG=xxx` pointing to your configuration file.

Adding a cmakefile for the core library only is meaningless, and adding a cmakefile to build backends is a too difficult problem to solve within the ecosystem, since there are no standard way to obtain/location package and users are obtaining those dependencies from a larger variety of sources than package-consumers t

[2021-12-05 21:00] eliasdaler commented on #21530
I think that the simplest way to solve this would be to just remove [this line](https://github.com/eliasdaler/imgui-sfml/blob/master/imconfig-SFML.h#L27) from the `imconfig-SFML.h`. Can anyone, please, check this with pre-built version of Dear ImGui on vcpkg?

I don't really care if `ImTextureID` is `void*` or something else at this point. I think that [these](https://github.com/eliasdaler/imgui-s

[2021-12-05 22:28] EmielBoss commented on #21850
Nevermind, I'm stupid. I only checked the `third_party/vcpkg/buildtrees/detect_compiler/` logs due to an earlier error. The logs you mentioned indicated a CUDA compiler error, which I fixed. Thanks for your input!

[2021-12-05 22:28] #21850 closed

[2021-12-05 23:18] BillyONeal commented on #20483
The problem is that the upstream project, `glib` does not install its headers in the normal header location (e.g. `include`), it installs headers in a versioned subdirectory (e.g. `include/glib-2.0`). Libraries usually do that because they want to take names that are likely to conflict with others, e.g. `<config.h>`. It is not generally safe to add the include paths for all such libraries everywhe

[2021-12-06 00:16] michaelkroener opened #21870 "Provide a way to get the debug/release library path for Nina Multi-Config builds when using CMake"
****

**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I'm trying to use Ninja Multi-Config builds that do not set an build type in the configuration step. Currently the method I know is to write a custom find module that extracts the debug and release binary directories based either on the include path or the release / debug library path.

**Proposed s

[2021-12-06 00:55] gregorijk commented on #21862
I did a clean pull to a new folder and the boost library compiled. As you suggested, it looks like there was some stale configuration left.

[2021-12-06 00:55] #21862 closed

[2021-12-06 01:55] JonLiu1993 commented on #21837
@KnifeEdge ,Thanks for posting this issue, please use command _git pull_ use the latest verision vcpkg and run _./bootstrap-vcpkg.sh_ then try again

[2021-12-06 01:58] JackBoosY commented on #21530
I will fix this issue today.

[2021-12-06 02:29] JackBoosY commented on #21746
If you have any other questions, please leave them here.

[2021-12-06 02:29] #21746 closed

[2021-12-06 02:34] JackBoosY commented on #21694
@WangZP10969 Which changes in the port.cmake?

[2021-12-06 02:49] JackBoosY commented on #19982
@strega-nil-ms Can you please take a look?

Thanks.

[2021-12-06 03:00] JackBoosY commented on #21863
Confirmed, missing include `CMakeFindDependencyMacro`.
Also, this is a upstream bug.

[2021-12-06 03:10] JackBoosY commented on #21842
Yeah, this issue is common.
1. Some ports will generate tools containing specific operations, and these tools are not signed since,the upstream does not provide a certificate and signature process, so it will lead to anti-virus misjudgment.
2. In the cmake configuration, some cmake code will generate some temporary executables (as you can see `cmTC_a0c62.exe`) to determine the CPU architecture and

[2021-12-06 05:08] dg0yt commented on #20483
Is there no manifest mode with VS?

[2021-12-06 05:15] dg0yt commented on #21870
This sounds like a variant of `z_vcpkg_find_configurations` which I am proposing for (find module) wrappers in #21783. You would still need to do a `select_library_configurations`.

[2021-12-06 05:50] JackBoosY commented on #21837
I checked the file and its hash is corrrect.

[2021-12-06 05:52] JackBoosY commented on #21834
I noticed you've made the changes in your branch, can you please create a PR to fix that?

Thanks.

[2021-12-06 05:58] JackBoosY commented on #20483
We have, also use manifest file `vcpkg.json`.

[2021-12-06 06:03] JackBoosY commented on #21835
Can you please provide the full log? The log content you provided is not enough.

Thanks.

[2021-12-06 06:12] dg0yt commented on #20483
In this case, it should be known if `glib` is a *direct* dependency.

[2021-12-06 06:14] dovanbel commented on #21835
[install-x64-windows-static-dbg-out.log](https://github.com/microsoft/vcpkg/files/7658410/install-x64-windows-static-dbg-out.log)

[2021-12-06 06:32] seccpur opened #21873 "TinyXML build failure"
**Host Environment**
- OS: windows 10
- Compiler: VC++ 2022

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install \tinyxml:x64-windows`

**Failure logs**
[code]
**Additional context**
Log file:
[config-x64-windows-out.log](https://github.com/microsoft/vcpkg/files/7658498/config-x64-windows-out.log)

[2021-12-06 06:34] JackBoosY commented on #20483
Yeah, I know that and discussed that with @BillyONeal, but it remains some other problems:
1. Even if we can use the dependencies in the manifest, the dependency on a single project (.vcxproj) is not exact, because the manifest is only for the solution(.sln) and not the project(.vcxproj).
2. If the user uses versioning, this may cause version mismatch issues.

[2021-12-06 06:38] JackBoosY commented on #21835
[code]

[2021-12-06 06:40] JackBoosY commented on #21835
Please track #19619.

[2021-12-06 06:40] #21835 closed

[2021-12-06 06:44] KnifeEdge commented on #21837
The problem has been solved,

yes,it has been solved. Thanks for your concern !

[2021-12-06 06:45] KnifeEdge commented on #21837
thanks,it has been solved.

[2021-12-06 06:50] #21837 closed

[2021-12-06 07:05] JackBoosY commented on #21873
See comments in https://github.com/microsoft/vcpkg/issues/21580.

We do need to improve `detect-compiler`'s error message.

[2021-12-06 07:07] JackBoosY commented on #21499
Hmm.. can you please provide a sample code to reproduce that?
cc @Sibras

[2021-12-06 07:13] JackBoosY commented on #21865
Yeah, since vcpkg cannot get the exported file's abi, so we can't determine whether the file is correct.
You can also use feature binarycaching instead of `import`.
See https://github.com/microsoft/vcpkg/blob/master/docs/specifications/binarycaching.md.

[2021-12-06 07:19] cityadmirer opened #21874 "[New Port Request] autodiff"
Library name:
autodiff
Library description:
A C++17 library that uses modern and advanced programming techniques to enable automatic computation of derivatives in an efficient, easy, and intuitive way.
Source repository URL:
https://github.com/autodiff/autodiff
Project homepage (if different from the source repository):
https://autodiff.github.io/
Anything else that is useful to know when adding (

[2021-12-06 07:27] itsmattkc commented on #21499
1. Install FFmpeg with the x264 feature enabled: `vcpkg install ffmpeg[x264]`
2. Compile the following simple program with the `vcpkg.cmake` toolchain file:

    <details>
    <summary>CMakeLists.txt</summary>

[code]
    </details>

    <details>
    <summary>main.c</summary>

[code]
    </details>

3. Run `x264test.exe`
4. Despite compiling FFmpeg with the x264 feature enabled, `Did NOT find lib

[2021-12-06 07:28] dg0yt commented on #21865
There is a blog post on the export feature:
https://devblogs.microsoft.com/cppblog/vcpkg-introducing-export-command/

So the export commands exist for being the binary artifacts to be used in a different environment, even without vcpkg.
However, not using the vcpkg toolchain also cuts away important features like the wrappers for cmake modules.

[2021-12-06 07:29] JonLiu1993 commented on #21679
@00Awei , Could you please provide the detail error log?

[2021-12-06 07:34] dovanbel commented on #21835
Thanks @JackBoosY

[2021-12-06 07:50] Sibras commented on #21499
I can reproduce the issue. One of ffmpegs internal self checks is failing and then silently overriding the enable-libx264 option (which it shouldn't do obviously). Seems to be some checks for old functionality that isn't even used anymore so Ill provide a PR to fix it.

[2021-12-06 08:41] PhoebeHui commented on #21749
@zhouhang95, you can enable it via './vcpkg install alembic[hdf5]:x64-windows'.

[2021-12-06 08:49] JackBoosY commented on #21851
@strega-nil-ms can you pleae take a look?

Thanks.

[2021-12-06 09:01] LilyWangLL commented on #21696
Hi @yxnchen, sorry I am late. It looks like hdf5 build failed with this error:
[code]
And it also appears in config-x64-windows-dbg-out.log: `-- Testing maximum decimal precision for C -`
I can install hdf5 succeed locally, and I found this file exists in directory: _VCPKG_root\buildtrees\hdf5\x64-windows-dbg_. And there is only one line in **pac_Cconftest.out**: `15;0;`

[2021-12-06 09:06] cityadmirer opened #21876 "[ensmallen] update to 2.18.1"
Library name:
ensmallen
New version number:
2.18.1
Other information that may be useful (release notes, etc...)
version 2.18.0 removed redundant template argument for C++20 compatibility

[2021-12-06 09:11] PhoebeHui commented on #19982
May fixed by https://github.com/microsoft/vcpkg/pull/21479.

[2021-12-06 09:12] JackBoosY commented on #19982
[code]
This is caused by the static library suffix generated by gfortan with `,a` instead of `.lib`.
Will be fixed by https://github.com/microsoft/vcpkg/pull/21479.

[2021-12-06 09:53] JonLiu1993 commented on #21876
@cityadmirer ,Currently the version of armadillo in vcpkg is 10.6.2, the latest version of armadillo is http://sourceforge.net/projects/arma/files/armadillo-10.7.4.tar.xz, could you provide a link to version 2.18.1?

[2021-12-06 09:58] cityadmirer commented on #21876
sorry,I confuesd <ensmallen> with <armadillo>

[2021-12-06 09:59] cityadmirer commented on #21876
sorry, i confused ensmallen with armadillo

[2021-12-06 10:02] Dariusz1989 opened #21877 "[mongo-cxx-driver] build failure"
**Host Environment**
- OS: Windows 10x64
- Compiler: vs 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install mongo-cxx-driver`

**Failure logs**
Call Stack (most recent call first):
  installed/x64-windows/share/vcpkg-cmake/vcpkg_cmake_configure.cmake:411 (vcpkg_execute_required_process)
  ports/mongo-cxx-driver/portfile.cmake:40 (vcpkg_cmake_configure)
  scripts/ports.cmake:14

[2021-12-06 11:22] louislau86 opened #21879 "Support source code managed by SVN"
There are many software tems managed their source code in private SVN server, is there any way to use vcpkg manage the dependency of there modules in SVN?

[2021-12-06 11:34] FabianLorenzo commented on #20483
@BillyONeal Great explanation, thank you.

[2021-12-06 11:55] Neumann-A commented on #20483
@BillyONeal:

it might be functionally the same but it does not require patching of all includes or the include installation path.
So upstream behavior is retained which makes updating the port easier.
vcpkg is simply wrong here and needs to correct its behavior.

vcpkg could provide that by introducing an extra property field..... where the ports to include are listed. MSBuild has probably a func

[2021-12-06 11:59] seccpur commented on #21873
The matter has been resolved after referring to this link[#21580](https://github.com/microsoft/vcpkg/issues/21580)

[2021-12-06 12:00] #21873 closed

[2021-12-06 12:29] rundheim commented on #21361
Latest release of assimp is now  v5.1.3

[2021-12-06 14:10] WangZP10969 commented on #21694
@JackBoosY

remove this two
1.fix-find-qhull.patch
2.file(REMOVE ${SOURCE_PATH}/cmake/Modules/FindQhull.cmake)

vcpkg_from_github(
    OUT_SOURCE_PATH SOURCE_PATH
    REPO PointCloudLibrary/pcl
    REF f36a69a5e89953708990c4669317f989d532cf08 # pcl-1.12.0
    SHA512 dbbd0adbb08949ddef2789e0021b6ca9727be33c7193d0bb135c61def09a42ed6a71333f06b6fad407010ecb4b73c19f087f7520386b92a008e90c254eafe422

[2021-12-06 15:02] WangZP10969 commented on #21694
The test is still the same result just now, the following is the test record

[code]

[2021-12-06 16:27] Osyotr commented on #21879
Since vcpkg is just a pretty wrapper around cmake's `execute_process`, you can write your own `vcpkg_from_svn` function!
Take this as an example: https://github.com/microsoft/vcpkg/blob/master/scripts/cmake/vcpkg_from_git.cmake

[2021-12-06 16:35] xingkong010 opened #21880 "[fontconfig] Build error"
Computing installation plan...
The following packages will be built and installed:
    fontconfig[core]:arm64-linux -> 2.13.94#4
Detecting compiler hash for triplet arm64-linux...
Restored 0 packages from /home/abab/.cache/vcpkg/archives in 5.37 us. Use --debug to see more details.
Starting package 1/1: fontconfig:arm64-linux
Building package fontconfig[core]:arm64-linux...
-- Using community trip

[2021-12-06 17:41] blavatsky3 opened #21881 "TrainedData for Ancient Egyptian Unicode: This may need to go through several evolutions"
****

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Proposed solution**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional

[2021-12-06 17:45] blavatsky3 commented on #21881
There would need to be new glyphs added.
A way to start perhaps would be to decide upon some important scripts eg Eber's Papyrus, Canopus Decree, Rosetta Stone,
and perhaps the Obelisks of Queen Hatshepsut in Karnak Temple Luxor, Egypt.
Base NEW ANCIENT EGYPTIAN UNICODE upon all these glyphs.

[2021-12-06 18:18] csw opened #21882 "[s2n] build failure"
**Host Environment**
- OS: Arch Linux
- Compiler: gcc 11.1.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install s2n`

**Failure logs**

[code]

Full log is in [install-x64-linux-dbg-out.log](https://github.com/microsoft/vcpkg/files/7662673/install-x64-linux-dbg-out.log), but because s2n is built with -Werror by default, it fails with
[code]

**Additional context**

I resolved this

[2021-12-06 18:19] Pitue opened #21883 "wxwidgets:x64-mingw-dynamic Build error; cant find wxrc.exe"
**Host Environment**
- OS: Windows 10
- Compiler: MSVC 19.29.30137

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install wxwidgets:x64-mingw-dynamic`

**Failure logs**

**Additional context**
wxrc.exe gets build with a version postfix ("wxrc-3.1.exe" in my case) so cmake cant find it...

[2021-12-06 19:09] csw opened #21884 "[aws-sdk-cpp] update to 1.9.159"
Library name: aws-sdk-cpp

New version number: 1.9.159

Other information that may be useful (release notes, etc...):

With gcc 11.1.0 on Arch Linux, the current 1.9.96 fails to build due to a gcc 11 compiler warning (the SDK is built with -Werror) which was fixed with https://github.com/aws/aws-sdk-cpp/pull/1506. (Getting to this point requires a fix for a similar issue with s2n, #21882.)

Also,

[2021-12-06 19:34] dg0yt commented on #20483
But I assume compiler and linker do run after vcpkg install. Isn't it possible to use a command file (aka response file) maintained by vcpkg?

[2021-12-06 20:41] dg0yt commented on #21882
A more elaboraed s2n update is waiting in #21484. It is only version 1.3.0. Stuck in review due to offering self-tests as feature.

[2021-12-06 21:02] BillyONeal commented on #20483
It needs to change MSBuild properties, not compiler response files, if you want any hope of the IDE behaving correctly.

[2021-12-06 21:02] Neumann-A commented on #20483
@BillyONeal

yeah that is life ;)

Just skimming through MSBild stuff an looking at `Microsoft.Cpp.DesignTime.targets` i think somebody knowledgeable with MSBuild could come up with proper solution for vcpkg.

[2021-12-06 21:08] BillyONeal commented on #20483
I think you could make a specific, locked-in-to-vcpkg, solution where we make the moral equivalent of our own pkgconfig-alike that is filled in *before* `vcpkg install` (and thus would be visible to `import` or at property parsing time) but I don't think you could make such a thing that would not break the IDE.

[2021-12-06 21:09] eliasdaler commented on #21530
Please ping me or create PR if it works okay for everyone and I'll merge it upstream
The thing that needs to be double-checked is that GCC/Clang/MSVC don't give any warnings about `void*` casts on `-Wall`, `-Wconversion` and things like these.

[2021-12-06 23:34] thxkiwi commented on #20962
@PhoebeHui the upstream project has merged their PR to master but have not released a new version (latest tag is still `v4.3.4`). I've inquired with upstream about their process for new tags/releases.

Is there a preferred vcpkg process for handling cases where an upstream project has made a new official release tag but their master is ahead of the latest tag (also the tag used by vcpkg)?

[2021-12-07 00:21] zhangjp0405 opened #21886 "[kf5i18n] build failure"
**Host Environment**
- OS: [e.g. Windows]
- Compiler: 5.88.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install kf5i18n:x64-windows`

**Failure logs**
-buildtrees\kf5i18n\src\v5.88.0-658d066571.clean\src\localedata\data/spatial_index_data.cpp(10): error C2131: expression did not evaluate to a constant

[2021-12-07 02:35] linuxaged opened #21888 "[crashpad] Build error"
Windows 10 Pro 21H1
Visual Studio Community 2022 (64-bit) Version 17.0.2
package: crashpad[core]:x64-windows -> 2020-03-18#1
vcpkg-tool version: 2021-11-24-48b94a6946b8a70abd21529218927fd478d02b6c
vcpkg-scripts version: 4c9b301c9 2021-12-06 (32 minutes ago)

[code]

[2021-12-07 02:39] JackBoosY commented on #21361
@rundheim Does 5.1.3 also include this bug fix?

[2021-12-07 02:42] cloudsnake opened #21889 "[New Port Request] HP-Socket"
Library name: HP-Socket

Library description:Server Based on IOCP/EPOLL communication model, combined with technology of memory pool, private heap etc., efficient memory management is implemented to support large scale and high concurrent communication scenarios.
Agent The Agent component is essentially a Multi-Client component that uses the same technical architecture as the Server component. An

[2021-12-07 02:43] JackBoosY commented on #21680
It should be a upstream bug.
The c language doesn't allow variables to be declared at the non-top of a function.
Please report this to the upstream first: https://github.com/xz-mirror/xz.

[2021-12-07 02:54] JackBoosY commented on #21888
[code]

[2021-12-07 03:00] JackBoosY commented on #21888
See the related question: https://magpcss.org/ceforum/viewtopic.php?f=6&t=14855.
Also please ensure you've installed the English Language Package using Visual Studio Installer.

Thanks.

[2021-12-07 03:08] JackBoosY commented on #21882
Will fix this issue after #21484 merge.

[2021-12-07 03:09] JackBoosY commented on #21879
Good idea!

[2021-12-07 04:06] xingkong010 commented on #21880
caiji@caiji-virtual-machine:~/crossCompile/vcpkg$ ./vcpkg install gperf:arm64-linux
Computing installation plan...
The following packages are already installed:
    gperf[core]:arm64-linux -> 3.1#2
Package gperf:arm64-linux is already installed
Restored 0 packages from /home/caiji/.cache/vcpkg/archives in 957 ns. Use --debug to see more details.

Total elapsed time: 29.73 ms

caiji@caiji-virtual-m

[2021-12-07 04:12] #21391 closed

[2021-12-07 04:34] xingkong010 opened #21892 "[fontconfig] Build error"
The following packages will be built and installed:
  * fontconfig[core]:arm64-linux -> 2.13.94#4
    osg[core]:arm64-linux -> 3.6.5#11
Additional packages (*) will be modified to complete this operation.
Detecting compiler hash for triplet arm64-linux...
Restored 0 packages from /home/caiji/.cache/vcpkg/archives in 50.17 us. Use --debug to see more details.
Starting package 1/2: fontconfig:arm64-

[2021-12-07 04:35] #21776 closed

[2021-12-07 04:36] #20811 closed

[2021-12-07 04:38] #21824 closed

[2021-12-07 04:45] #21237 closed

[2021-12-07 04:46] #21804 closed

[2021-12-07 04:46] #21834 closed

[2021-12-07 05:12] #21866 closed

[2021-12-07 05:26] dg0yt commented on #21680
IIRC this depends on the C standard version. Note the output:

[2021-12-07 05:28] #21876 closed

[2021-12-07 05:28] #21530 closed

[2021-12-07 05:51] #21863 closed

[2021-12-07 06:24] dg0yt commented on #21648
FTR, the accidental implicit dependency is now fixed by disabling lz4. Adding lz4 as a feature is to be done.

[2021-12-07 06:43] JackBoosY commented on #21530
@eliasdaler
Linux:
[code]
Windows:
[code]

OSX:
[code]

I didn't see any warnings. And I will open a PR to imgui-sfml later.

[2021-12-07 06:53] Osyotr commented on #21361
@JackBoosY doesn't seem like it. Nothing relevant in changelog.

[2021-12-07 06:57] LilyWangLL commented on #21880
@xingkong010 You need install gperf by command `sudo apt-get install gperf` on Linux

[2021-12-07 07:02] LilyWangLL commented on #21880
There should add a message to fontconfig's portfile.cmake, I will fix it soon.

[2021-12-07 07:06] linuxaged commented on #21888
@JackBoosY English Language Package has been installed.

Solved by convert all source files' encoding to utf8-bom.

[2021-12-07 07:08] JackBoosY commented on #21888
@linuxaged Windows also have a config to set the charset. See https://www.cnblogs.com/walker-world/p/9548852.html.

[2021-12-07 07:08] #21888 closed

[2021-12-07 07:24] JackBoosY commented on #21881
Sorry but I can't understand your description at all, can you please decribe your needs further?

Thanks.

[2021-12-07 07:27] JackBoosY commented on #20811
Can any one confirm this issue was fixed by #21832? I need to double confirm that.

Thanks.

[2021-12-07 07:35] dg0yt commented on #21880
The message won't be more visible than the current one:
[code]

To really improve the situation, vcpkg tool would need to recognize the situation, and print the message more prominently (no call stack, no instruction to open an issue.

[2021-12-07 07:38] JackBoosY commented on #21648
Yes, I think now we can close this issue.

If anyone needs feature `lz4`, please open a new issue!

[2021-12-07 07:38] #21648 closed

[2021-12-07 07:48] dg0yt commented on #21696
Don't look at CMakeError.log (unless you are familiar with it. Focus on vcpkg output:
[code]
Please make attachments, don't use copy-and-paste.

[2021-12-07 07:52] PhoebeHui commented on #20962
@thxkiwi, we prefer to use the official release version, and patch the port if it has essential fix, since the develop branch does not guarantee you will get a worked version, so we avoid to use it, however, some libraries doesn't has release process, or it has no release version for a long time and may not release in future, we will choose the latest commit in master.

For zeromq, let's wait for

[2021-12-07 09:33] PhoebeHui commented on #21562
This is intended behavior, see https://github.com/microsoft/vcpkg/issues/1338#issuecomment-313243813.

[2021-12-07 09:33] #21562 closed

[2021-12-07 10:03] PhoebeHui commented on #21642
This should be a port bug, the dependency should be added to *Config.cmake file before using it.

[2021-12-07 10:21] BengtGustafsson opened #21895 "When installing grpc for x64-windows-static-md we get x64-windows too."
**Describe the bug**
When installing grpc for x64-windows-static-md we get x64-windows too, including all dependencies. This doubles compile time and resulting size. In addition, the tools/grpc directory only exists in x64-windows, not in x64-windows-static-md.

If we install x86-windows-static-md we also get the same (64 bit) extra directory.

We also install leveldb and fmt which don't have this

[2021-12-07 10:32] FrankXie05 commented on #21886
@zhangjp0405 Thanks for posting this issue,
[code]
I think it is a port bug, you can go to upstream to submit a issue to deal with it :)

[2021-12-07 10:33] xarthurx commented on #4930
@NancyLi1013
PR here: https://github.com/microsoft/vcpkg/pull/21896

I'm really not good at this and never did one before.
This is what I can do currently, so if there are any issues, especially for build systems and the `features`, please let me know or you can edit it directly.

Thank you.

[2021-12-07 10:41] FrankHeimes commented on #15317
That depends - on whether or not the problems in `opencv_text`, `opencv_datasets`, `opencv_tracking`, and `opencv_stereo` I described above have been fixed or not.

[2021-12-07 11:16] eliasdaler commented on #21530
Fixed upstream. You can now upgrade ImGui-SFML to 2.5 and remove the patch in vcpkg's build recipe

[2021-12-07 12:19] Sibras commented on #21499
Should be fixed in current master now.

[2021-12-07 12:42] Reveares commented on #21735
Applying your fix results in more errors/warnings
[code]

So I changed the fix to the following
[code]

This leads to some weird output while configuring, but alteast it succeeds and builds successfully. Also updated my test repo which now works without problems.
[code]

[2021-12-07 14:10] bakyac7 commented on #6234
I am experiencing the same error here working on visual studio code, was your command something like this:

`vcpkg install curl[core,non-http,schannel,ssl,sspi]:x64-windows`

[2021-12-07 16:24] jbogard commented on #21057
I don't know where to raise this, but I also encountered this bug in the `dotnet nuget` tool (and related, `dotnet tool`). Updating to 5.11 for `nuget` fixed the plain `nuget install Foo` CLI way, but not `dotnet nuget`.

`dotnet nuget` shows `NuGet Command Line 6.0.0.278`. I'm .NET SDK version 6.0.100.

[2021-12-07 17:07] autoantwort commented on #21895
It is called host dependency. Tools for the host system are compiled for the host system, which is `x64-windows` by default. Pass `--host-triplet=x86-windows-static-md` to change the host triplet

[2021-12-07 17:21] jbogard commented on #21057
And confirmed it's still broken on SDKs `6.0.200-preview.21607.2` and `6.0.101`.

[2021-12-07 18:48] dg0yt commented on #21895
On the positive side, a host dependency means that it is really build (and cached) only once, even if you use it for 5 different target triplets.
Do you really need grpc:x64-windows-static-md, or is grpc:x64-windows good enough? In that case, you can `vcpkg install grpc:x64-windows` will install only that (changing the target triplet, not the host triplet).

[2021-12-07 18:49] renis1235 opened #21898 "[mongo-cxx-driver] Not working after last pull"
**Host Environment**
- OS: Windows

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install mongo-cxx-driver`

**Failure logs**
![image](https://user-images.githubusercontent.com/11201041/145088232-df9d5812-380a-44ab-8260-7e3eddf2461f.png)

I wanted to use the latest MongoDB driver on one of my applications and I am using vcpkg as a package manager. After pulling the latest and  install

[2021-12-07 18:50] dg0yt commented on #6234
@baykac7 How do you know it is the same error? It is not the same curl and vcpkg, two years later. Better open a new issue.

[2021-12-07 19:04] horenmar opened #21899 "[vcpkg-tool] Cycle detected error message is unhelpful"
**Is your feature request related to a problem? Please describe.**
Today I messed up my vcpkg.json a bit when trying to make one feature dependent on another, and got this error message:

[code]

This is not helpful to debugging the issue.

**Proposed solution**
Print out packages that are part of the detected cycle. This is relatively easy graph problem, if we do not want to spam too much output

[2021-12-07 21:54] micking opened #21901 "[libiconv] Build error"
**Host Environment**
- OS: Windows 10
- Compiler: 19.29.30137 for x64

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install libiconv:x64-windows`

**Failure logs**
CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:127 (message):
    Command failed: D:/dev/vcpkg/downloads/tools/msys2/803521c5733336c9/usr/bin/bash.exe --noprofile --norc --debug -c "V=1 CPP='compile cl.e

[2021-12-08 02:50] LilyWangLL commented on #21901
Thanks for posting this issue. Please also provide files:
[code]

[2021-12-08 03:17] yxnchen commented on #21696
In my case, there is no such file `pac_Cconftest.out` in directory `C:/dev/vcpkg/buildtrees/hdf5/x64-windows-dbg/`. By the way, the build succeeded after I installed an older version.

[2021-12-08 03:35] yxnchen commented on #21696
Hi, @dg0yt , I update vcpkg and reinstall the latest version of hdf5 again today. The build was passed and I can not reproduce the error log anymore.

[2021-12-08 06:25] connorjak opened #21904 "[rapidjson] update to current master (last update 2020-9-14)"
Library name: rapidjson

Many pull requests have been merged without a tagged release. Looks like it's already on rolling releases; it's time for another. There have been ~20 pull requests merged since the last vcpkg update: https://github.com/Tencent/rapidjson/pulls?q=is%3Apr+is%3Aclosed.

Issue thread for lack of version numbering: https://github.com/Tencent/rapidjson/issues/1919

[2021-12-08 06:27] connorjak commented on #21904
My specific need for this is the inclusion of https://github.com/Tencent/rapidjson/pull/1877

[2021-12-08 06:48] JackBoosY commented on #21499
Okay, if anyone meet this issue again, please ping me to reopen this issue!

[2021-12-08 06:48] #21499 closed

[2021-12-08 06:49] JackBoosY commented on #21735
Okay, we will make a PR to fix that later.

[2021-12-08 06:54] dg0yt opened #21905 "[vcpkg-ci] Current CI problems"
A collection of issues is currently occuring in vcpkg CI:

 - [ ] osx: Packages are rebuild and uploaded although they should have a cached artifact. [example](https://github.com/microsoft/vcpkg/pull/20443#issuecomment-987891758), [perhaps another](https://github.com/microsoft/vcpkg/pull/21584#issuecomment-987737666).
    The ABI hash of the unexpected package rebuilds is *unchanged*. CI really re

[2021-12-08 07:11] JonLiu1993 commented on #21756
@Eric-JH , Please provide the _install-x64-windows-dbg-out.log_ not _config-x64-windows-out.log_

for the error :
[code]
Could you please check your vcpkg.json file and confirm whether it depends on "vcpkg-cmake-config" port

[2021-12-08 07:19] JonLiu1993 commented on #21739
@wbaq ,Could you provide the above recurring information?

[2021-12-08 07:49] JackBoosY commented on #21905
For 2, we always meet it.
For 3, yeah, don't know why it passed. Maybe the upstream changed something? @Neumann-A

[2021-12-08 08:17] xgcssch opened #21910 "[getdns] Build error"
**Host Environment**
- OS: Windows
- Compiler: Version 19.29.30137 for x86

**To Reproduce**
Steps to reproduce the behavior:
- fresh vcpkg repo clone
- `vcpkg install getdns`

**Failure logs**
Tail of `C:\work\vcpkg>type C:\work\vcpkg\buildtrees\getdns\install-x86-windows-dbg-out.log`:
[code]
`C:\work\vcpkg>type C:\work\vcpkg\buildtrees\getdns\install-x86-windows-dbg-err.log`:
[code]
**Workaround

[2021-12-08 08:25] FrankXie05 commented on #21877
@Dariusz1989 According to your log information, I see that your libmongo version is 1.16.1,
[code]
But our latest supported version is 1.17.0. Please use the "git pull" command and rebuild again. :)

[2021-12-08 08:28] JonLiu1993 commented on #21649
@Blakjak88 ,Do you use the steps above to confirm whether the problem is resolved?

[2021-12-08 08:37] JonLiu1993 commented on #21628
@ilyak93, Has this problem been solved?

[2021-12-08 08:39] Dariusz1989 commented on #21877
@FrankXie05 see>
[code]
Sadly still does not work :- (

[2021-12-08 08:46] JackBoosY commented on #21088
Yeah, I confirm the `supports` is wrong.

[2021-12-08 08:49] FrankXie05 commented on #21877
@Dariusz1989 Can you provide me with the following file：
[code]

[2021-12-08 08:51] JonLiu1993 commented on #21566
@chanduv1 ,Could you please provide your Visual Studio version?

[2021-12-08 08:55] Dariusz1989 commented on #21877
Hope it helps :
[libmongoc-1.0-config.txt](https://github.com/microsoft/vcpkg/files/7674689/libmongoc-1.0-config.txt)
[config-x64-windows-out.log](https://github.com/microsoft/vcpkg/files/7674693/config-x64-windows-out.log)

[2021-12-08 08:58] jgehw commented on #21758
Thanks for the python venv ideas. I incorporated @ras0219-msft's suggestions in PR #21912.

[2021-12-08 08:58] linuxaged commented on #21888
there're still link errors:

[code]
it seems that crashpad built with MDd but my app built with MD, any idea?

[2021-12-08 09:02] JonLiu1993 commented on #21579
@Teles1 ,The error was caused by armadillo, which will be fixed by this PR #20439
[code]

[2021-12-08 09:02] FrankXie05 commented on #21877
@Dariusz1989
I see that the version in your source file is 1.16.1, which is the main cause of build failure, so you can re-clone a new vcpkg library and build. :)
[code]

[2021-12-08 09:03] jgehw commented on #21758
BTW: From https://github.com/microsoft/vcpkg#telemetry I read that vcpkg collects some statistics. How can I see how many (approx.) installs there are from "my" port, and if this is little or much compared to an average port? Can I also see how "my" port installs are distributed over triplets?

[2021-12-08 09:07] Dariusz1989 commented on #21877
Hey
Uuuuuuuuu I've no idea what to do :- D I only ever used git desktop/clion git/pycharm git :- D
So to reclone it...
Do I Delete my old vpkg folder & redownload vpkg & install all libs again from 0 ?
Or is there command I run from within vcpkg like git pull/git re-clone ?

[2021-12-08 09:11] JonLiu1993 commented on #21621
@ViksitAgarwal ,This issue has been resolved, temporarily close this issue, please feel free to reopen this issue if it is still a problem for you.

[2021-12-08 09:11] #21621 closed

[2021-12-08 09:11] jgehw commented on #21758
Now Linux CI is failing complaining venv package is missing:
[code]
I think this is error message @BillyONeal was referring to. Can one of the maintainers please install this package on CI (or instruct me how to do this, should I surprisingly have sufficient permission to do so)?

[2021-12-08 09:14] mircomarahrens commented on #21774
This does not seem to be a problem with the port. Maybe it is a problem with the version of cmake on my machine. Not sure about that. Anyway, after adding `target_link_libraries(... ${CMAKE_THREAD_LIBS_INIT})` to my target the build is running and execution is successful.

[2021-12-08 09:14] #21774 closed

[2021-12-08 09:14] JonLiu1993 commented on #21534
@MlovehebeE ,Has this problem been solved, have you confirmed that the above CMakeSettings.json is set correctly?

[2021-12-08 09:19] FrankXie05 commented on #21877
@Dariusz1989  You can delete the vcpkg folder (if you are not using it), or create a new folder, open “powershell” in the folder directory, and and run the following commands:
[code]
Then you can use the downloaded packages. :)

[2021-12-08 09:20] JackBoosY commented on #21533
Why close this?

[2021-12-08 09:21] JackBoosY commented on #21821
arrow should use `thrift` in vcpkg.

[2021-12-08 09:22] JonLiu1993 commented on #21532
@MlovehebeE ,Has this problem been sloved?

[2021-12-08 09:23] LilyWangLL commented on #21833
@lmdiazangulo Thanks for posting this issue. `autoconf-archive` and `texinfo` are missing which is why the error is there. You can see comment: https://github.com/microsoft/vcpkg/pull/13081#issuecomment-678739081
You can install `autoconf-archive` and `texinfo` to make mpfr build succeed, I will add message to mpfr'portfile.cmake in future.
Install `autoconf-archive`:
[code]
Install `texinfo`:
[co

[2021-12-08 09:26] JackBoosY commented on #21888
Yeah that's another port bug, can you please open a new issue to report that?

Thanks.

[2021-12-08 09:35] JackBoosY commented on #21877
Please note that if you download vcpkg instead of clone vcpkg, all version control in vcpkg will not work!
And if you met the network issue, please see https://gitee.com/jackboosy/vcpkg/issues/I44496.

[2021-12-08 09:37] LilyWangLL commented on #21735
@Reveares Due to v8 only depends on glib on UNIX, I think we could remove `pkg_check_modules(GLIB2 IMPORTED_TARGET)` on `WIN32`. So this fix should be:
[code]
Could you check this fix again?

[2021-12-08 09:47] JonLiu1993 commented on #21476
@cglong ,Have you find the usage in upstream?

[2021-12-08 09:55] Tarek-Hasan opened #21913 "[MyGUI] update to 3.4.1"
Library name: MyGUI

New version number: MyGUI 3.4.1

Other information that may be useful (release notes, etc...)
Released on 01 Mar 2021
https://github.com/MyGUI/mygui/releases

[2021-12-08 10:23] errcodex opened #21917 "Can TRIPLET be used with vcpkg.json"
Please create a discussion in https://github.com/microsoft/vcpkg/discussions/new instead.

`$.dependencies[0] (a dependency): must be lowercase alphanumeric+hyphens, split with periods, and not reserved`

I can fin'd a way to set TRIPLET in vcpkg.json, and I need to depend a static link static runtime(/MT) library, I may need to use dynamic/static libraries for different libraries, so I cannot set

[2021-12-08 10:26] Neumann-A commented on #21917
you don't set/use the triplet in vcpkg.json. If you need specific combinations of VCPKG_LIBRARY_LINKAGE you have to define a custom triplet for it.

[2021-12-08 10:39] MehdiChinoune commented on #21533
Because I don't like to have open issues won't be fixed sooner.

[2021-12-08 11:10] YeeeeRQ opened #21918 "[<qtinterfaceframework>] build failure"
**Host Environment**
- OS: Windows

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install qtinterfaceframework`

**Failure logs**
[code]

**Additional context**
[code]
[code]

[2021-12-08 11:28] Reveares commented on #21735
@LilyWangLL Yes your fix also works and avoids the weird configuring outputs. This also means `WIN32` doesn't need find_package for PkgConfig.

[code]

So the final fix seems to be to just remove `PkgConfig::GLIB2` from `WIN32` in the `vcpkg/ports/v8/V8Config-static.cmake` file.
Thanks for you help.

[2021-12-08 12:23] k82l0804 opened #21919 "[libuv] Build error for triplet arm64-uwp"
**Host Environment**
- OS: windows 10
- Compiler: visual studio 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install uwebsockets --triplet=arm64-uwp`

**Failure logs**
### console output:
[code]
### Error log: vcpkg/buildtrees/libuv/install-arm64-uwp-dbg-out.log
[code]
**Additional context**
Compile option /sdl- should fix some of the errors.
Compile flag _CRT_SECURE_NO_WARNING

[2021-12-08 13:10] lmdiazangulo commented on #21833
Thank you, this solved the problem for me.

[2021-12-08 15:34] Dariusz1989 commented on #21877
@FrankXie05 Thank you! Yup running it all from scratch worked. I think I initially downloaded zip from git & used that. So now with git clont seems to work... Thanks again!
I noticed that he install
-- Building x64-windows-dbg
-- Building x64-windows-rel
Is there a way to build releaseWithDebInfo option?

[2021-12-08 15:55] Dariusz1989 commented on #21877
Ok back with more issues...
I tried running
```vcpkg install mongo-cxx-driver[std-experimental]```
Here is my log:
[code]
My questions are.... :
1. Why its failing :- D
2. Why does he install boost ? I though he is meant to use std::experimental instead of boost?

More logs:
[code]

[2021-12-08 15:58] Dariusz1989 commented on #21877
vcpkg install mongo-cxx-driver[mnmlstc] Does not work either :- (

[2021-12-08 16:20] niclar opened #21921 "[boost] update to 1.78.0"
Library name: boost

New version number: 1.78

Other information that may be useful: https://www.boost.org/users/history/version_1_78_0.html

[2021-12-08 19:37] BillyONeal commented on #21758
At risk of getting off topic on this thread, I'm not sure if that's information we can recover from the statistics we collect. For example, user-controlled identifiers must be crypto hashed so that we don't inadvertently collect PII if someone creates their own port "my-social-security-number-is-555-55-5555", and we also can't keep more than a couple weeks of data. We can ask questions like "how m

[2021-12-08 19:46] BillyONeal commented on #21905
These both look like we have some kind of issue in how osx is talking to Azure Storage; the behavior of vcpkg right now during the "what should I build" analysis is to treat failures to get information about anything as "hash not present, please build it" Robert (@ras0219 / @ras0219-msft ) has been investigating off-and-on.

That one's new to me :(.

[2021-12-08 19:48] BillyONeal commented on #21905
That's an example where it was recorded as a failure correctly. Do you have an example where it was recorded as a failure? I observe we don't have a nightly CI with https://github.com/microsoft/vcpkg/pull/21818 in it yet which is a likely candidate to have broken that one.

[2021-12-08 20:02] dg0yt commented on #21905
Better look twice. E.g. x64-windows-static is green, but:
![Unbenannt](https://user-images.githubusercontent.com/13567791/145276169-af870154-c32d-433e-9cb6-c99604b02c3f.png)

[2021-12-08 20:05] dg0yt commented on #21905
Again, for long running CI tasks this might be mitigated by a time-to-live for negative cache results.

[2021-12-08 20:08] Neumann-A commented on #21918
Already known. The problem vcpkg_from_git does a shallow clone with depth 1 and now the commit id is no longer visible to vcpkg since the branch was pushed further.

[2021-12-08 20:10] Neumann-A commented on #21905
Hmm the CI in https://github.com/microsoft/vcpkg/pull/21925 also rebuilds stuff which is not qt related. (and i only touched qtbase and nothing more)

[2021-12-08 20:10] BillyONeal commented on #21905
This is in the "make the installation plan" step, not the "build the actual things" step

[2021-12-08 20:14] dg0yt commented on #21905
This is "the world changed" (due to parallel jobs) between making the installation plan (checking cache) and actually installing the package (not checking ATM).
And the installation plan could be determined without querying the cache at all...

[2021-12-08 20:19] dg0yt commented on #21905
qtbase triggers a lot of depending ports, and one of them pulls nghttp2 into the installation plan.

[2021-12-08 20:51] BillyONeal commented on #21905
Hmmmm... could the attempt to remove hashes that are in `master` be applying here?

[2021-12-08 20:57] BillyONeal commented on #21905
The thing that's really strange is that x64-windows reported correctly here

[2021-12-08 21:30] cglong commented on #21476
Hi @JonLiu1993, thank you for following up! After installing the package, we did get these instructions as @dg0yt mentioned:

    find_package(jsoncpp CONFIG REQUIRED)
    target_link_libraries(${library_name} jsoncpp_lib jsoncpp_object)

However, we're now receiving these errors. Do you happen to know what could be causing this?

     error LNK2019: unresolved external symbol "public: class Json:

[2021-12-09 01:59] JackBoosY commented on #21898
Did you use cmake project or msvc project?

[2021-12-09 02:07] JackBoosY commented on #21533
I think we should consider this issue. Please keep this issue open until we fix it.

[2021-12-09 02:07] errcodex commented on #21917
I can't find the option to set TRIPLET for each dependency in the [documentation](https://github.com/microsoft/vcpkg/blob/master/docs/users/manifests.md), I want to implement the following idea, how should I write?
`{
  "name": "LoganCore",
  "version-string": "0.1.0",
  "dependencies": [
    "openssl:x86-windows-static",
    "zlib:x86-windows"
  ]
}
`

[2021-12-09 02:17] JackBoosY commented on #21877
I can confirm that.

[2021-12-09 02:22] JackBoosY commented on #21877
[code]

[2021-12-09 02:47] JackBoosY commented on #21919
The upstream has not adapted the code to uwp, please report to the upstream first.

[2021-12-09 05:25] dg0yt commented on #21905
I don't think so. The installation plan contains everything what is to be installed, but not why (unfortunately). So when a port fails, the reason of installation doesn't make a difference.

[2021-12-09 06:08] PhoebeHui commented on #21918
@YeeeeRQ, could you get latest source via 'git pull', remove qtbase and rebuild qtinterfaceframework and see if this issue fixed?

[2021-12-09 06:43] LilyWangLL commented on #21696
Since this issue can't be reproduced, I am closing this issue for now. If you have any question, please open a new issue.

[2021-12-09 06:43] #21696 closed

[2021-12-09 06:44] JackBoosY commented on #21694
@WangZP10969 I can't repro your issue using the test project you provided.
And I found something interesting:
[code]
It seems that you use the binarycaching here, please use command:
[code]
Then try again.

[2021-12-09 06:50] JackBoosY commented on #21823
@supersickle It's a cuda bug, see https://stackoverflow.com/questions/65605972/cmake-unsupported-gnu-version-gcc-versions-later-than-8-are-not-supported.

[2021-12-09 07:01] Osyotr commented on #21917
https://github.com/microsoft/vcpkg/blob/master/docs/users/triplets.md#per-port-customization

[2021-12-09 07:02] JackBoosY commented on #21757
Can you please also report this to the upstream https://github.com/flashlight/flashlight?

Thanks.

[2021-12-09 07:14] percin opened #21934 "uninstall feature"
I installed vcpkg  and later figured out that I don't need it. How does one completely remove vcpkg and all installations/system changes made by it?

I recall seeing  about vcpkg where it said that you could just delete the vcpkg folder. Also "just delete the folder" being the solution seems implausible to me, since I would assume vcpkg changes some environment variables or other settings, as well

[2021-12-09 07:19] JackBoosY commented on #13566
Upstream issue: https://bugreports.qt.io/browse/QTBUG-99050.

[2021-12-09 07:25] FreePhoenix888 opened #21935 "Could not find a package configuration file"
**Describe the bug**
I want to install a local package and use it. Installation is successfull:
[code]
But I cannot use it in a project

**Environment**
- OS: [Linux. Ubuntu 20.04]
- Compiler: gcc 10.3.0

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone https://github.com/FreePhoenix888/linksplatform-interfaces-vcpkg.git && cd linksplatform-interfaces-vcpkg`
2. `~/vcpkg/vcpkg instal

[2021-12-09 07:26] Neumann-A commented on #13566
This wont be fixed. 5.15.2 was the last open source release. So unless vcpkg switches to the kde branch for qt5 or adds the patch itself nothing will happen.

[2021-12-09 07:27] Canvis-Me opened #21936 "cannot use qt6 qmake to build project"
When I try to use qt6 qmake to build, it shows:
Could not find qmake spec 'win32-msvc'.

Then adding `-spec D:\vcpkg\installed\x64-windows-static\share\Qt6\mkspecs\win32-msvc` to qmake, it shows:
Project ERROR: Could not find feature thread.

For `qmake -query`, it puts out:
QT_SYSROOT:
QT_INSTALL_PREFIX:D:/vcpkg/installed/x64-windows-static
QT_INSTALL_ARCHDATA:D:/vcpkg/installed/x64-windows-stati

[2021-12-09 07:28] JackBoosY commented on #21496
The upstream rejected my suggestion. I think we should fix this on the vcpkg side.

[2021-12-09 07:59] JackBoosY commented on #21934
Hi, sorry to hear that.
You can use the following steps:
1. `.\vcpkg integrate remove`
2. Remove folder `%localappdata%/vcpkg`
3. Remove vcpkg folder

[2021-12-09 08:01] JackBoosY commented on #21935
Can you provide the file list in _VCPKG_ROOT/packages/linksplatform-interfaces_*/share_?

[2021-12-09 08:01] JackBoosY commented on #21936
cc @Neumann-A

[2021-12-09 08:03] FreePhoenix888 commented on #21935
[linksplatform-interfaces_x64-linux.zip](https://github.com/microsoft/vcpkg/files/7683249/linksplatform-interfaces_x64-linux.zip)

[2021-12-09 08:10] Neumann-A commented on #21936
a) which feature set of qtbase the is the featuren concurrent which enables threads
b) which host triplet? QT_HOST_DATA looks wrong. Maybe qt.conf in the folder of qmake wasn't configured correctly.
c) by default -static triplets are not the native host triplets.

[2021-12-09 08:15] EternalSaga commented on #18061
I faced the same error in visual studio 2022.

[2021-12-09 08:19] silentHouse33011 commented on #21648
Ty

[2021-12-09 08:25] EternalSaga commented on #18066
The same errror when I was using visual studio 2022. The debug version try to link the release version wxwidgets and the debug version app cannot find the release dll when I was debugging.

[2021-12-09 08:32] Canvis-Me commented on #21936
a) I found QThread in 'x64-windows-static\include\Qt6\QtCore', maybe it's qt6 core function?
b) x64-windows-static? I install both x64-windows and x64-windows-static for qt6. Here's the content of `x64-windows-static\tools\Qt6\bin\qt.conf`:
[DevicePaths]
Prefix=./../../../
Headers=include/Qt6/
Libraries=lib
Plugins=Qt6/plugins
Qml2Imports=Qt6/qml
Documentation=doc/Qt6/
Binaries=bin
LibraryExecutab

[2021-12-09 08:34] renis1235 commented on #21898
I used a msvc project.

[2021-12-09 08:38] PhoebeHui commented on #20927
@darkspring2015, please reopen this issue if it still be a problem for you.

[2021-12-09 08:38] #20927 closed

[2021-12-09 08:58] JonLiu1993 commented on #21476
@cglong ,Thanks for your feedback, could you please provide your CMakeLists.txt and main.cpp to repo this issue? I created a cmake project using jsoncpp locally,  and it use  successfully.

The repro steps:

1. ./vcpkg install jsoncpp:x64-windows
2. ./vcpkg integrate install
3. create cmake project:

CMakeLists.txt:
[code]

main.cpp:
[code]
4.F:\test8\test\build> F:\test8\vcpkg\downloads\tools\cma

[2021-12-09 09:00] LilyWangLL commented on #21833
There should be message in portfile.cmake to remind user to install `autoconf-archive` and `texinfo`, I will submit a PR to fix it.

[2021-12-09 09:11] dg0yt commented on #21905
Maybe this is the only *native*  build for windows?

[2021-12-09 09:14] Neumann-A commented on #21936
Could you manually remove the additional `/` in `HostData=./../../..//share/Qt6` and see if it resolves the issue. If not try to set it to `HostData=share/Qt6`

The reason this is an issue is probably because you didn't do `vcpkg install qtbase --triplet=x64-windows-static --host-triplet=x64-windows-static` As such the qt.conf in x64-windows-static is invalid since the valid one is in x64-windows

[2021-12-09 09:33] Canvis-Me commented on #21936
Ok, it works fine when set it to `HostData=share/Qt6`.
Yeah, I installed qt6 as `vcpkg install qtbase:x64-windows`. I didn't consider host-triplet before.

[2021-12-09 09:35] WangZP10969 commented on #21694
@JackBoosY
Thank you very much for your tips, I only deleted the vcpkg folder, but did not clean up the cache in other locations.
I will test as soon as possible

[2021-12-09 09:59] JackBoosY commented on #13566
@Neumann-A  I'm afraid the latest qt version also have this issue.

[2021-12-09 10:03] JackBoosY commented on #21935
Add option `PACKAGE_NAME platform-interfaces` to `vcpkg_cmake_config_fixup`.

[2021-12-09 10:10] LilyWangLL commented on #21681
Thanks for posting this issue. Could you please provide the log files?
[code]

[2021-12-09 10:11] JackBoosY commented on #18066
@EternalSaga Try #17111.

[2021-12-09 10:12] JackBoosY commented on #21898
Can you please also provide a sample code?

Thanks.

[2021-12-09 10:14] MonocleSecurity commented on #21681
Hi @LilyWangLL. I don't have them available any more, but I am almost certain that this issue can be resolved as a duplicate because these two issues are describing the same problem and once they are resolved it will fix my issue:

https://github.com/microsoft/vcpkg/pull/20720
https://github.com/microsoft/vcpkg/pull/20722

[2021-12-09 10:17] renis1235 commented on #21898
Wherever I import it, it happens.
e.g
[code]

Thank you for taking a look at this.

[2021-12-09 10:25] FreePhoenix888 commented on #21935
Could not you provide an example or tell me where should I do that? [This page](https://github.com/Microsoft/vcpkg/blob/master/docs/maintainers/ports/vcpkg-cmake-config/vcpkg_cmake_config_fixup.md) does not answer on this question

[2021-12-09 10:45] leashi opened #21943 "[exiv2] Build error"
**Host Environment**
- OS: [Windows 7 x64.]
- Compiler: vs2017

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg.exe install exiv2[nls,png,unicode,video,xmp] --triplet x64-windows`

**Failure logs**
The following packages will be built and installed:
    exiv2[core,nls,png,unicode,video,xmp]:x64-windows -> 0.27.4#2
Detecting compiler hash for triplet x64-windows...
Restored 0 packages fr

[2021-12-09 10:46] ShellarFX commented on #21674
Thanks. I guess we can close this issue?

[2021-12-09 10:53] JonLiu1993 commented on #21221
@A01351361 ,Does this problem still exist?

[2021-12-09 10:54] JonLiu1993 commented on #21185
@lewulewu ，Does this problem still exist?

[2021-12-09 12:40] YeeeeRQ commented on #21918
Appreciate it.  I have successfully installed Qt.

[2021-12-09 13:52] nobyArdor opened #21945 "[New Port Request] libpg_query"
Library name: libpg_query

Library description:
   C library for accessing the PostgreSQL parser outside of the server.

   This library uses the actual PostgreSQL server source to parse SQL queries and return the internal PostgreSQL parse tree.

Source repository URL: https://github.com/pganalyze/libpg_query

Project homepage (if different from the source repository):

Anything else that is usefu

[2021-12-09 15:32] XiaoleiZ opened #21947 "[boost-math] Build error"
**Host Environment**
- OS: Linux
- Compiler: g++ (GCC) 8.3.1 20191121 (Red Hat 8.3.1-5)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install boost-math`

**Failure logs**
package: boost-math[core]:x64-linux -> 1.77.0
    vcpkg-tool version: 2021-11-24-48b94a6946b8a70abd21529218927fd478d02b6c
    vcpkg-scripts version: 14543ba18 2021-12-08 (16 hours ago)

[2021-12-09 17:26] dg0yt commented on #21905
IIUC `vcpkg ci` normally always returns success (except for the known osx issue). It is `analyze-test-results.ps1` which must create error output. It doesn't do so here because all errors are cascaded from the host triplet.
Maybe all host triplets errors should be considered errors? Host dependencies *must* work, or the depending port must be marked "skip" for the target.

[2021-12-09 17:51] xuhancn commented on #21766
I tried to repo issue and find it only build failed in Chinese language Visual Studio.
---------------------------------------------------------------------------
Microsoft Visual Studio Community 2017
版本 15.9.38
VisualStudio.15.Release/15.9.38+28307.1622
Microsoft .NET Framework
版本 4.8.04161

已安装的版本: Community

Visual C++ 2017   00369-60000-00001-AA144
Microsoft Visual C++ 2017

ASP.NET and Web T

[2021-12-09 18:27] rsantanaf opened #21950 "[tensorflow] Build error"
I need help here, I am trying to use vcpkg to install tensorflow and use it with visual studio 2022, this is the error I got

**Host Environment**
- OS:Windows
- Compiler: 19041.1348

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install tensorflow

**Failure logs**
-Starting local Bazel server and connecting to it...
[code]

[2021-12-09 22:20] #21343 closed

[2021-12-09 23:27] hmoffatt commented on #10038
Could you please add a note to the documentation at least, as proposed in the original report?

[2021-12-09 23:32] WangZP10969 commented on #21694
@JackBoosY

I tried to add the editable option, but only recompiled pcl, so I deleted all the files under C:\Users\WangZP\AppData\Local\vcpkg and C:\vcpkg and recompiled. During the cache retrieval of the installation, it was prompted that 0 installation packages were retrieved.

The result has not changed after the test. Are there any other caches that need to be deleted?

[2021-12-09 23:55] Balnian commented on #21768
To be more precise is that I'm parsing the name of all the cmake files under `triplets/**` because it's the closest thing to having a full list of identifiers used in the `supports`  field  and that can be programmatically scraped (for many reasons I would like to avoid parsing a C++ file to get the identifiers).

Just to help me understand how these identifiers can change in the future, lets say

[2021-12-09 23:57] PhoebeHui commented on #21918
@YeeeeRQ, thanks for your response! thanks @Neumann-A for fixing this issue!

[2021-12-09 23:57] #21918 closed

[2021-12-10 00:27] PhoebeHui commented on #21947
@XiaoleiZ, could you provide us full failure logs?

[2021-12-10 00:28] BillyONeal commented on #21768
OK, so you're assuming that you can take all the triplet names, separate by -s, and the resulting names will be all the identifiers? That's not generally going to be true and for things like staticcrt and native, cannot be true. You can't have a native "triplet" because whether it's native or not is a property of the "powers combined" of the host system and the triplet. You might be able to theore

[2021-12-10 00:30] BillyONeal commented on #21768
Also, can you back up a bit and describe why you want to evaluate these anyway? Perhaps we could just give you a command that dumps out a report with the information you need

[2021-12-10 00:47] BillyONeal commented on #21905
AHHHH yes, that's the trigger. This even more suggests we need to get out of this postprocessing business

[2021-12-10 01:00] #21884 closed

[2021-12-10 01:47] FrankXie05 commented on #21674
@ShellarFX  Yes, we can close it. :)

[2021-12-10 02:13] JackBoosY commented on #21935
Please provide _linksplatform-interfaces/portfile.cmake_.
I think the document already said: To use `PACKAGE_NAME` when the `*config.cmake` prefix is not `${PORT}`.

[2021-12-10 02:16] JackBoosY commented on #21936
Please keep this issue open until #21944 merge.

[2021-12-10 02:18] #19910 closed

[2021-12-10 02:19] #21936 closed

[2021-12-10 02:24] JackBoosY commented on #21766
Please make sure you've installed the English Language Package using Visual Studio Installer first.

[2021-12-10 02:29] xuhancn commented on #21766
You means try to install English Language Package to narrow down issue?

[2021-12-10 02:45] JackBoosY commented on #21766
@xuhancn  No, it may fix this issue.

[2021-12-10 02:54] JackBoosY commented on #20522
Since #20439 merged, can anyone test whether this issue is resolved?

Thanks.

[2021-12-10 02:54] JackBoosY commented on #20215
Close this issue via #20439 merged.

[2021-12-10 02:54] #20215 closed

[2021-12-10 02:55] JackBoosY commented on #20773
Close this issue via #20439 merged.

[2021-12-10 02:55] #20773 closed

[2021-12-10 02:56] JackBoosY commented on #21310
Close this issue via #20439 merged.

[2021-12-10 02:56] #21310 closed

[2021-12-10 02:56] JackBoosY commented on #21579
Close this issue via #20439 merged.

[2021-12-10 02:56] #21579 closed

[2021-12-10 03:00] JackBoosY commented on #21649
Close this issue via #20439 merged.
If you still meet this issue, please reopen!

[2021-12-10 03:00] #21649 closed

[2021-12-10 03:04] xehoth commented on #20522
The issue is solved. Thanks!

[2021-12-10 03:06] #20522 closed

[2021-12-10 05:01] #21735 closed

[2021-12-10 05:47] #21674 closed

[2021-12-10 06:08] IshaanKarnik opened #21956 "[New Port Request] timercpp"
Library name: timercpp

Library description:

Javascript like timer for c++ developers
This header only library has js equivalent setTimeout() and setInterval() for c++.

Source repository URL: https://github.com/99x/timercpp.git

[2021-12-10 06:35] JackBoosY commented on #21898
Confirmed.

[2021-12-10 06:46] zapcity opened #21957 "old vcpkg executable breaks upgrade process"
**Host Environment**
- OS: Windows 10
- Compiler: VS2022

**To Reproduce**
Steps to reproduce the behavior:

[code]
The above process starts removing packages. I then get the error: "**_Error: vcpkg was unable to detect the active compiler's information. See above for the CMake failure output._**" so I bootstrap and rerun upgrade process:
[code]
But it tells me installed packages are up-to-date. I

[2021-12-10 06:46] LilyWangLL commented on #21455
Hi @Obbart, thanks for your detail reply, this issue should be a upstream issue. According to this codes in `png++/config.hpp`, pngpp doesn't suopport OS alpine. You need submit an issue on https://www.nongnu.org/pngpp/.

[2021-12-10 07:12] k82l0804 commented on #21919
New to this.  How do I report upstream?

[2021-12-10 07:16] JackBoosY commented on #21298
Seems the upstream fixed the linkage.
Please try again.

[2021-12-10 07:16] #21298 closed

[2021-12-10 07:25] FreePhoenix888 commented on #21935
https://github.com/FreePhoenix888/linksplatform-interfaces-vcpkg/blob/main/ports/linksplatform-interfaces/portfile.cmake

[2021-12-10 07:32] LilyWangLL commented on #21943
Thanks for posting this issue. This build error will be fix in PR #21941.

[2021-12-10 07:34] Dariusz1989 commented on #21877
@JackBoosY thanks for info! I was wondering what the mnmlstc mode was... That makes sense thanks! Might be worth adding it as a comment to file info?
As to upstream bug.... uhhh, where how do I report it?

[2021-12-10 07:37] JackBoosY commented on #21877
@Dariusz1989 Upstream: http://mongocxx.org/reporting-bugs/

I think we shouldn't add comment for it, the users should figure out it by themselves.

[2021-12-10 07:38] JackBoosY commented on #21919
@k82l0804 https://github.com/libuv/libuv/issues

[2021-12-10 07:39] JackBoosY commented on #21935
@FreePhoenix888 Add the following code in line 20:
[code]

[2021-12-10 07:43] FreePhoenix888 commented on #21935
@JackBoosY I have already tried this, but... `Unknown CMake command "vcpkg_cmake_config_fixup".` :(
[code]

[2021-12-10 07:45] JackBoosY commented on #21935
@FreePhoenix888 Fine, this is a header only library,
Please modify 24-28 to:
[code]

[2021-12-10 07:55] JackBoosY commented on #21957
Please track https://github.com/microsoft/vcpkg/discussions/17922.

[2021-12-10 07:55] #21957 closed

[2021-12-10 07:55] JonLiu1993 commented on #20807
@NotoriousENG, Have you tried PR #21511, does it solve your problem?

[2021-12-10 07:57] FreePhoenix888 commented on #21935
The same error :(
https://github.com/FreePhoenix888/linksplatform-interfaces-vcpkg/commit/273309a2a132737172405002d6ad57876b51d304

[code]

[2021-12-10 07:59] JackBoosY commented on #21935
Sorry but I didn't find any errors in the log you provided?

[2021-12-10 08:07] FreePhoenix888 commented on #21935
I am sorry. It is my bad. I forgot to paste my error:
[code]

CMakeLists.txt:
[code]

[2021-12-10 08:22] JonLiu1993 commented on #20595
@felixt56 ,Could you test whether this pr #15233 can solve your problem?

[2021-12-10 08:29] Eric-JH commented on #21756
Sry for not reply in time. I have given up installing lapack:reference. I followed the solution given by longhuan2018 in [](https://github.com/microsoft/vcpkg/issues/20323) and it worked.

[2021-12-10 08:29] #21756 closed

[2021-12-10 08:40] PhoebeHui commented on #21642
@itsmattkc, I have submitted a PR to fix this issue, could you help confirm if it works for you?

[2021-12-10 08:48] JackBoosY commented on #21935
Use `find_package(platform-interfaces CONFIG REQUIRED)` in your CMakeLists.txt instead.

[2021-12-10 08:52] BTOdell opened #21961 "[lodepng] cannot open include file "lodepng.h""
**Host Environment**
- OS: Windows 10 21H1
- Compiler: VS2019 MSVC 16.11

**To Reproduce**
https://github.com/BTOdell/maze-bench-cpp/tree/5ca7cd97d897a5a693663f63ca64e7d75d238c9b

- vscode
- cmake
- manifest mode

**Failure logs**
[code]

**Additional context**
If I hardcode the include path at the end of the CMakeLists.txt file:
[code]
then it builds successfully.

I would expect the usage instru

[2021-12-10 08:57] matildelucchesi opened #21962 "[tmxparser] Build error"
**Host Environment**
- OS: [e.g. Windows/Linux etc...]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install xxxx`

**Failure logs**
Error: Building package tmxparser:x64-windows failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `git pull` and `.\vcpkg update`.
Then check for known issues at:
  https://github.com/microsoft/vcpkg/issue

[2021-12-10 09:10] JackBoosY commented on #21961
Please use `#include <lodepng.h>` instead.

[2021-12-10 09:11] JackBoosY commented on #21962
Please provide the failure log mentioned in the output message first.

Thanks.

[2021-12-10 09:11] dg0yt commented on #21961
It is present and failing.

The targets (lodepng, lodepng-c) should carry all what is needed but maybe they lack the include directories. Did you use it in the past? I think it must have been broken before the recent update. The update made the usage explicit based on what was auto-generated.

[2021-12-10 09:14] JackBoosY commented on #21961
Yes, the `INTERFACE_INCLUDE_DIRECTORIES` should exists in lodepng*-targets.cmake.

It's a port bug.

[2021-12-10 09:17] vserdyuk opened #21963 "Platform field of vcpkg.json manifest does not recognize "freebsd""
**Describe the bug**
Platform field of vcpkg.json manifest does not recognize "freebsd"

**Environment**
- OS: FreeBSD 13
- Compiler: FreeBSD clang version 11.0.1 (git@github.com:llvm/llvm-project.git llvmorg-11.0.1-0-g43ff75f2c3fe)

**To Reproduce**
Steps to reproduce the behavior:
1. create vcpkg.json with the following contents:
[code]
2. ./vcpkg install --triplet=x64-freebsd
3. See error
`Erro

[2021-12-10 10:02] xuhancn commented on #21766
@JackBoosY it works when change to English language package.
So, if I can understand that, vcpkg is not support Chinese language package offically?

[2021-12-10 10:10] FreePhoenix888 commented on #21935
@JackBoosY I am so inattentive...
You are right, but ...
[code]

[2021-12-10 10:26] xiaoliang2121 opened #21966 "libpq[core,openssl,zlib]:x64-windows build failure"
**Host Environment**
- OS: Windows
- Compiler: revision

**To Reproduce**
[code]

**Failure logs**

**Additional context**
Add any other context about the problem here, such as what you have already tried to resolve the issue.
[build-libpq-x64-windows-RELEASE-out.log](https://github.com/microsoft/vcpkg/files/7691997/build-libpq-x64-windows-RELEASE-out.log)

[2021-12-10 12:48] Squareys opened #21968 "[vcpkg] appdeploy.ps1 "Join-Path" InvalidArgument error when trying to install plugin dependencies"
**Describe the bug**
Powershell error when compiling projects using e.g. `magnum-plugins` port:
[code]

**Environment**
- OS: Windows
- Compiler: MSVC 19.29.30136.0

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install magnum-plugins
2. Set up basic cmake or VS project that uses Magnum::Trade from the `magnum` port (this triggers installation of plugins into a magnum/importers dire

[2021-12-10 14:50] zzh-www commented on #21757
ok, i report it in
[https://github.com/flashlight/flashlight/issues/797#issue-1076924253](url)

[2021-12-10 15:54] dg0yt commented on #21968
IIUC `Join-Path` should join an indefinite numer of paths, cf. example 7 of https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.management/join-path?view=powershell-7.2

[2021-12-10 16:04] dg0yt commented on #21968
This `Join-Path` feature may need PowerShell >=6.

[2021-12-10 16:41] WangZP10969 commented on #21694
I think there may be some reasons why PCL did not find QHull, so HAS_QHULL will not be set to ON, which also caused the Possion module to not be compiled.
QHull can be found by directly using PCL itself without adding Patch, but Possion has not yet been compiled
I think my situation may not be accidental. After all, this solution that directly uses PCL was provided by someone else, and some people

[2021-12-10 16:47] kafeg opened #21970 "[libuuid] Broken installation of vcpkg port libjpeg-turbo (affects libjpeg-turbo and it's deps like Jasper)"
https://github.com/microsoft/vcpkg/blob/5c54cc06554e450829d72013c4b9e4baae41529a/ports/libuuid/portfile.cmake#L32

Hey, there is a bug in the libuuid port which install debug part when I added `set(VCPKG_BUILD_TYPE release)` to my `triplets/x64-linux.cmake`.

The debug folder should not contain any files, but it does with libuuid port. And this affects to the other ports, like `jasper` and `libjpe

[2021-12-10 19:12] itsmattkc commented on #21642
@PhoebeHui That has fixed the issues with expat, imath, and pystring, however I still get the following error complaining about `sampleicc::sampleicc` and `utils::strings`:

[code]

As I mentioned before, simply removing those from `OpenColorIOTargets.cmake` entirely results in a successful link, so perhaps that should be added to your patch too?

[2021-12-10 21:11] BrendaMMaloff opened #21973 "[mlpack] Build error"
**Host Environment**
- OS: Windows
- Compiler: Visual Studio 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install mlpack --triplet=x64-windows`

**Failure logs**
From confid-x64-windows-out.log
[code]

Source file was:
[code]

From CMakeOutput.log
[code]

Source file was:
[code]

[2021-12-10 21:51] #13622 closed

[2021-12-10 22:01] #21833 closed

[2021-12-10 22:05] #21898 closed

[2021-12-10 22:06] #21845 closed

[2021-12-10 22:36] alejcabrera commented on #13403
set (PYTHON_VERSION_MAJOR 3)
set(PYTHON_VERSION_MINOR 7)
set(PYTHON_VERSION_PATCH 1)
Download the latest version of python-cpython-v3.7.1.tar.gz file to the downloads directory
Modify the scripts/cmake/vcpkg_download_distfile.cmake file. The purpose is to cancel the verification of whether the downloaded python-cpython-v3.7.1.tar.gz file is consistent with the server. We mainly use the function (t

[2021-12-10 22:44] sbrosgol opened #21974 "[python3] Build error"
**Host Environment**
- OS: MacOS 12
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install boost`

-- Downloading https://github.com/python/cpython/archive/v3.10.1.tar.gz -> python-cpython-v3.10.1.tar.gz...
[DEBUG] Feature flag 'binarycaching' unset
[DEBUG] Feature flag 'manifests' = off
[DEBUG] Feature flag 'compilertracking' unset
[DEBUG] Feature flag 'registrie

[2021-12-11 01:30] avi-champ opened #21975 "NCCL installation in vcpkg"
I am getting the following error and i am not able to fix it
[code]
nccl is installed in /usr/local/cuda-11.5/lib64 libnccl.so libnccl.so.2 libnccl.so.2.11.4 libnccl_static.a libvncclient.so.0 libvncclient.so.0.0.0

vcpkg install of nccl returns
[code]
I have inserted the above three lines in my CMakeLists.txt
[code]
but no success.

[2021-12-11 01:48] acceleratxr commented on #16484
It looks like adding ` -DVCPKG_TARGET_TRIPLET=x86-windows-static` was sufficient to get my build working. Thanks for the suggestion!

Also note using `./vcpkg integrate install` doesn't really work because I need this to function on a CI server, not just locally.

[2021-12-11 02:00] dfederm commented on #21974
This is due to my recent change. I missed this hash update and it wasn't caught in the PR gate.

I'll fix it in a few hours when I'm at a computer unless someone beats me to it

[2021-12-11 02:35] leashi opened #21976 "[fontconfig] Build error"
**Host Environment**
- OS: Windows 7 sp1 x64
- Compiler: VS2017  15.9.41

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg.exe install fontconfig --triplet x64-windows`

**Failure logs**
PS E:\vcpkg> .\vcpkg.exe install fontconfig --triplet x64-windows
Computing installation plan...
The following packages will be built and installed:
    fontconfig[core]:x64-windows -> 2.13.94#4
Detectin

[2021-12-11 03:17] autoantwort commented on #21905
I also have seen this when I run the `vcpkg ci` command locally on my MacBook

[2021-12-11 03:28] autoantwort commented on #21905
But it seems that I have this problem even with `vcpkg install`. Happened just now:
<details><summary>Log</summary>

[code]
</details>

Here for example the fontconfig port is build twice. The output `Stored binary cache: /Users/leanderSchulten/.cache/vcpkg/archives/30/30d109438f5ba021c97c7bde05fab1ffd0b21f3da2e3d4bec4ff0793c45ee6c7.zip` also it in both `install` runs.

[2021-12-11 03:57] acceleratxr commented on #16484
OK this partially works. If I sync to the official tags it doesnt' work, but if I sync to HEAD it works.

[2021-12-11 04:48] #21974 closed

[2021-12-11 05:33] dg0yt commented on #16484
In the current state of the repro, `CMAKE_TOOLCHAIN_FILE` is set too late. It must be done before the `project` command. And this implies that all vcpkg setup needs to go before the `project` command.

[2021-12-11 06:33] MehdiChinoune commented on #21533
When?

[2021-12-11 07:52] Canvis-Me opened #21981 "[qtwebengine] build failure"
- OS: Windows 10
- Compiler: visual studio community 2022

`.\vcpkg install qtwebengine[proprietary-codecs]:x64-windows`

**Failure logs**

My terminal emulator swallowed my error messages. Here are attached files.
[install-x64-windows-rel-out.log](https://github.com/microsoft/vcpkg/files/7696638/install-x64-windows-rel-out.log)
[install-x64-windows-rel-err.log](https://github.com/microsoft/vcpkg/

[2021-12-11 07:57] petercoin1 opened #21982 "[openssl] Build error"
**Host Environment**
- OS: [e.g. Windows/Linux etc...]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install xxxx`

**Failure logs**
-Cut and paste the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

**Additional context**
Add any other context about the problem here, such as what yo

[2021-12-11 07:58] petercoin1980 commented on #21982
including:
  package: openssl[core]:x86-windows -> 1.1.1l#4
    vcpkg-tool version: 2021-11-24-48b94a6946b8a70abd21529218927fd478d02b6c
    vcpkg-scripts version: 5c54cc065 2021-12-09 (27 hours ago)

[2021-12-11 10:38] EiEddie opened #21983 "[SDL2] Could not find a package configuration file"
**Describe the bug**
Could not find a package configuration file provided by "SDL2" with any of the following names:

I sure that I install the package SDL2, because:

[code]

**Environment**
- OS: Windows 10
- Compiler: gcc/g++ 8.1.0 (x86_64-posix-sjlj-rev0, Built by MinGW-W64 project)
- Builder: cmake 3.21.1

**To Reproduce**
Steps to reproduce the behavior:
- `cmake .. -G "MinGW Makefiles" -D C

[2021-12-11 11:14] Neumann-A commented on #21533
personally i think this is a setting the port itself needs to provide.
In qwt for example there is:
`CONFIG     += create_pc create_prl no_install_prl`
but only if
`contains(QWT_CONFIG, QwtPkgConfig)`
so for me it seems not like something `vcpkg_install_qmake` needs to support
(also Qt5 install pc files and is using vcpkg_install_qmake internally)

[2021-12-11 11:19] xbeheydt commented on #21566
Hello, I have exacly same problem. Problem when install `release`.
Versions :
- Windows 11 ver. 21H2 build 22000.348
-  vcpkg version 2021.12.01
-  VisualStudio ver. 17.0.2

[2021-12-11 12:44] Blakjak88 opened #21984 "[mlpack] Build error"
**Host Environment**
- OS: Windows 10
- Compiler: Visual Studio C++ 2022

**To Reproduce**
[config-x64-windows-static-out.log](https://github.com/microsoft/vcpkg/files/7696998/config-x64-windows-static-out.log)

Steps to reproduce the behavior:
`./vcpkg install mlpack`

**Failure logs**
  package: mlpack[core]:x64-windows-static -> 3.4.1#2
    vcpkg-tool version: 2021-11-24-48b94a6946b8a70abd21529

[2021-12-11 14:38] hex55 opened #21985 "["
**Host Environment**
- OS: [e.g. Windows/Linux etc...]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install xxxx`

**Failure logs**
-Cut and paste the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

**Additional context**
Add any other context about the problem here, such as what yo

[2021-12-11 16:55] PortalRising opened #21986 "[tiff] Build error"
**Host Environment**
- OS: Windows
- Compiler: CMake with Visual Studio 2022

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install tiff`

**Additional context**
I have installed this before but when I updated vcpkg, i get this error (in log file attached)
"
Error: Failed to download from mirror set:
https://download.osgeo.org/libtiff/tiff-4.3.0.tar.gz: WinHttpSendRequest() failed: 12

[2021-12-11 18:57] acceleratxr commented on #16484
Ah okay. I'll move that around. Thanks!

[2021-12-11 19:07] Locietta opened #21988 "[documentation] add integration hint about `cmake kits` with vscode cmake-tools extension"
**Is your feature request related to a problem? Please describe.**

Hi, I'm currently using vcpkg with vscode and cmake to build some cross-platfrom cmake projects.

So I'm trying to change the triplet according to toolchains. (e.g. need to change triplet to `x64-linux` for linux, or to `arm64-android` for android), and I don't find any convenient way to switch them in docs.

And since vcpkg curre

[2021-12-11 21:10] dg0yt commented on #21986
Check your network. https://download.osgeo.org/libtiff/ is online.

[2021-12-11 21:12] PortalRising commented on #21986
Thanks, must of had been shutdown or smth.

[2021-12-11 21:12] #21986 closed

[2021-12-11 21:25] acceleratxr opened #21990 "How do I force building a package"
In my project I have multiple triplet overlays as I need to specify custom build parameters. In the most recent version of vcpkg I am finding that when installing my packages it appears to be skipping the build process and instead downloading a pre-built binary package of the dependency instead. This is causing linker issues later on in my build since the downloaded binaries aren't compatible.

I

[2021-12-11 21:32] dg0yt commented on #21990
As an immediate workaround, use `--no-binarycaching`.

[2021-12-11 22:18] acceleratxr commented on #21990
That does appear to be building the packages now but i'm still getting the same linker errors as if it's still not respecting my triplet overlay.

FYI that flag doesn't appear to be documented anywhere.

[2021-12-11 22:30] acceleratxr commented on #21990
Oops, I figured out it was an issue on my end. The pathing was wrong (I had moved some things around in my cmake file and it was broken afterward). It's now respecting my triplet overlay.

It'd probably be helpful for vcpkg to exit with an error if an invalid triplet-overlay path is specified.

[2021-12-11 22:33] autoantwort commented on #21990
Because disabling binary caching does not help in cases like this, like in your case. I suggest using a new unique name to detect wrong overlay triplet paths, then the error would have been recognized earlier.

[2021-12-11 23:32] morphogencc opened #21991 "How to install websocketpp with ssl?"
I used to be able to install websocketpp with the feature `ssl`, but now when I search, I only see the main package `websocketpp` and one optional feature, `recommended`.  When I try to compile my project, I get the error:

[code]

How should I go about installing the ssl feature now?

[2021-12-12 00:22] elibroftw commented on #10896
The most useful things we find are always at the depths of the internet

[2021-12-12 00:43] autoantwort commented on #21991
Yeah there is no feature ssl. But a feature `recommended`, but it is enabled by default

[2021-12-12 02:58] morphogencc commented on #21991
Yes, but when I run my code it gives me a compilation error because it requires the feature `ssl` -- neither the default or `recommended` feature seems to satisfy this requirement.

[2021-12-12 03:05] autoantwort commented on #21991
Do you use a vcpkg.json file?

[2021-12-12 03:31] drywolf commented on #4359
Looks like the **temporary** fix done in #4573 no longer works ?
I am also getting the same error as mentioned by OP:

`1>lld-link : error : could not open 'C:\code\vcpkg\installed\\x64-windows\debug\lib\*.lib': invalid argument`

[2021-12-12 06:46] dg0yt commented on #10896
@elibroftw From `vcpkg help`:
[code]

[2021-12-12 14:13] MoeSzyslak98 opened #21994 "[caf] Build error"
**Host Environment**
- OS: Manjaro 2021.1
- Compiler: c++ 11.1.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install caf`

**Failure logs**
form vcpkg/buildtrees/caf/src/5c3cea9cb5-e41d5b113c.clean/libcaf_io/caf/io/network/receive_buffer.hpp:90:17: error: ‘numeric_limits’ is not a member of ‘std’
   90 |     return std::numeric_limits<size_t>::max();
      |                 ^~~~~~~

[2021-12-12 15:17] Neumann-A commented on #21981
`D:\vcpkg\buildtrees\qtwebengine\x64-windows-rel\` the path is too long

use `.\vcpkg install qtwebengine[proprietary-codecs]:x64-windows --x-buildtrees-root=D:\b\`

[2021-12-12 18:08] nlogozzo commented on #16184
Can confirm...this is still a thing!

[2021-12-12 19:10] quickiwiki opened #21996 "sqlite-orm build failure"
**Host Environment**
- OS: Windows/Linux
- Compiler: VS 2017/g++ (Ubuntu 8.4.0-1ubuntu1~18.04) 8.4.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install sqlite-orm`

**Failure logs**
[code]
**Additional context**
The previous version of the lib (e.g.: sqlite-orm:x64-linux 1.6) worked correctly

[2021-12-12 19:11] sylveon commented on #16184
I just gave up and avoid using dependencies which require DLLs. Not a good experience :/

[2021-12-12 20:43] JamMika opened #21997 "open62541 build failure on both x86 and x64"
**Host Environment**
- OS: Windows 10
- Compiler: Microsoft Visual C++ 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install open62541:x86-windows`
or
`./vcpkg install open62541:x64-windows`

**Failure logs**
CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:127 (message):
    Command failed: ninja -v
    Working Directory: D:/dev/C++/_vcpkg/vcpkg/buildtrees/open

[2021-12-12 21:49] Neumann-A commented on #21997
rename the folder to `cpp` instead of `C++`. Also that is an upstream issues not strictly a vcpkg issue.

[2021-12-12 22:24] trebconnell opened #21999 "--only-downloads doesn't download required msys for packages using vcpkg_fixup_pkgconfig"
**Describe the bug**
--only-downloads doesn't download msys for packages which use vcpkg_fixup_pkgconfig.  Then when I try to install with --no-downloads I get an error because msys is missing.

I tested with gtest and zstd, and they both reproduce this.

**Environment**
- OS: Windows
- Compiler: VS2022
package: gtest[core]:x86-windows -> 1.11.0#3
  vcpkg-tool version: 2021-12-09-724cea8b33cbf06c6

[2021-12-13 00:06] Osyotr commented on #21994
It's a common issue when compiling code that was written prior to GCC11 release. You can either create a patch for current version or update version of the library.
Similar: https://github.com/microsoft/vcpkg/commit/e14842c4462c5d3542b58dcc3de742139da06979

[2021-12-13 01:59] JonLiu1993 commented on #21985
@hex55 ,Please follow the template prompts to resubmit the issue. You need to provide your Visual Studio version, OS type, related ports, detailed error logs, steps to reproduce, etc. This issue is temporarily closed. thanks

[2021-12-13 01:59] #21985 closed

[2021-12-13 02:23] JackBoosY commented on #21766
@xuhancn vcpkg requires the English Lanugage package to do some magic things.

[2021-12-13 02:23] #21766 closed

[2021-12-13 02:25] JackBoosY commented on #21935
Which triplet do you use? Please add `-DVCPKG_TARGET_TRIPLET=${TRIPLET_WHICH_USED}` to the cmake command line.

[2021-12-13 02:36] JackBoosY commented on #21744
Please wait for #21937 merge.

[2021-12-13 02:42] #16484 closed

[2021-12-13 02:47] FrankXie05 commented on #21966
@xiaoliang2121 could you reinstall windows sdk via VS installer and try again? I can't repro this issue locally. :)

C:\Program Files (x86)\Microsoft Visual Studio\2019\Community>where rc.exe
C:\Program Files (x86)\Windows Kits\10\bin\10.0.19041.0\x64\rc.exe
C:\Program Files (x86)\Windows Kits\10\bin\x64\rc.exe

[2021-12-13 03:04] JackBoosY commented on #21984
This issue should be fixed before, can you please git pull, remove port `Armadillo` and try again?

Thanks.

[2021-12-13 03:07] JackBoosY commented on #21966
Please confirm you've installed the English Language Package using Visual Studio Installer first.

[2021-12-13 04:03] wlix commented on #21982
**Host Environment**
OS: Windows10 21H2 64bit Proffesional
Compiler: Visual Studio 2022 Compiler (maybe)

**To Reproduce**
Steps to reproduce the behavior:
./vcpkg install openssl:x64-windows

**Failure logs**
- console output and log:
[code]

**Additional context**
This problem likes [the previous nasm server issue](https://github.com/microsoft/vcpkg/issues/19796).

[2021-12-13 04:50] chriscp-cat opened #22001 "V8 Build Fail"
**Host Environment**
- OS: Windows

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install V8`

**Failure logs**
[code]

**Additional context**
not support VS2022

[2021-12-13 05:53] JackBoosY commented on #22001
According to your log, I think v8 doesn't support VS2022 officially, please report this to the upstream.

Thanks.

[2021-12-13 05:59] wlix commented on #21982
The same error occurred when I tried it in VS2019.

[code]

[2021-12-13 06:05] JackBoosY commented on #21973
Please provide the following **full** log:
config-x64-windows-out.log
config-x64-windows-err.log
CMakeOutput.log

[2021-12-13 06:06] JackBoosY commented on #21996
Can you please provide the following logs:
_buildtrees/sqlite-orm/config-x64-linux-dbg-out.log_
_buildtrees/sqlite-orm/install-x64-linux-dbg-out.log_

Thanks.

[2021-12-13 06:20] FreePhoenix888 commented on #21935
[code]

[2021-12-13 06:23] wlix commented on #21982
Sorry, my computer treated Strawberry Pearl as malware.

[2021-12-13 06:24] JackBoosY commented on #21935
`"CMAKE_TOOLCHAIN_FILE=~/vcpkg/scripts/buildsystems/vcpkg.cmake VCPKG_TARGET_TRIPLET=~/vcpkg/triplets/x64-linux.cmake"` should be 2 arguments:
[code]

[2021-12-13 06:25] dg0yt commented on #21935
You can try to use  `set(CMAKE_FIND_DEBUG_MODE 1`) before the `find_package` call to trace the package search.

[2021-12-13 06:25] FreePhoenix888 commented on #21935
[code]

[2021-12-13 06:26] xiaoxstz commented on #21865
## For Visual Studio
import `\scripts\buildsystems\msbuild\vcpkg.targets` to the project

For example, add `<Import Project="$(CpplibPath)\scripts\buildsystems\msbuild\vcpkg.targets" />` to the project file (`.vcxproj`)
  ![image](https://user-images.githubusercontent.com/81862747/145762255-bc16972e-5650-4842-9b5b-7a097648a6fc.png)

## For Cmake
specify the CMAKE_TOOLCHAIN_FILE variable when calli

[2021-12-13 06:27] #21865 closed

[2021-12-13 06:27] FreePhoenix888 commented on #21935
@dg0yt
[code]

[2021-12-13 06:29] JackBoosY commented on #21935
Maybe delete `CMakeCache` folder then try again?

[2021-12-13 06:32] dg0yt commented on #21935
@FreePhoenix888  It doesn't even try to look into vcpkg's installed packages...

[2021-12-13 06:35] FreePhoenix888 commented on #21935
Now it checks vcpkg folders (atfer deleting CMakeCache):
[code]

[2021-12-13 06:35] FreePhoenix888 commented on #21935
[code]

[2021-12-13 06:35] FreePhoenix888 commented on #21935
But `/home/freephoenix888/vcpkg/installed/x64-linux/` is empty

[2021-12-13 06:40] FreePhoenix888 commented on #21935
[code]

[2021-12-13 06:43] FreePhoenix888 commented on #21935
Now it works, give me a second

[2021-12-13 06:46] FreePhoenix888 commented on #21935
I can use `cmake .. -DCMAKE_TOOLCHAIN_FILE=~/vcpkg/scripts/buildsystems/vcpkg.cmake` so it does not even have to use `-DVCPKG_TARGET_TRIPLET=x64-linux`
@JackBoosY and @dg0yt thank you for your help :)

[2021-12-13 06:46] #21935 closed

[2021-12-13 06:49] quickiwiki commented on #21996
Thanks, this happens when I try to use sqlite-orm in a project. I may have submitted to the wrong category

cat ~/vcpkg/buildtrees/sqlite-orm/config-x64-linux-dbg-out.log
-- The C compiler identification is GNU 8.4.0
-- The CXX compiler identification is GNU 8.4.0
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Check for working C compiler: /usr/bin/cc - skipped
-- Dete

[2021-12-13 06:56] LilyWangLL commented on #15542
Ping @kuelite for response, does this issue still exist?

[2021-12-13 07:04] LilyWangLL commented on #21880
Duplicate to issue #15931.

[2021-12-13 07:04] #21880 closed

[2021-12-13 07:06] LilyWangLL commented on #21976
Thanks for posting this issue. Could you please provide the fail log file?

[2021-12-13 07:17] LilyWangLL commented on #21950
This issue is due todownload repository failed, duplicate to #21758, it will be fix in PR #21912.

[2021-12-13 07:17] #21950 closed

[2021-12-13 07:19] JackBoosY commented on #21996
Okay, can you also please provide a sample code to reproduce this?

Thanks.

[2021-12-13 07:20] PhoebeHui commented on #21997
@JamMika, could you try the suggestion provided by Neumann-A?

Falilures:
[code]

[2021-12-13 07:25] leashi commented on #21976
[fontconfig-log.zip](https://github.com/microsoft/vcpkg/files/7701744/fontconfig-log.zip)

[2021-12-13 07:25] leashi commented on #21976
[fontconfig-log.zip](https://github.com/microsoft/vcpkg/files/7701752/fontconfig-log.zip)

[2021-12-13 07:37] LilyWangLL commented on #21999
Because vcpkg doesn't support use external msys package, so use `--no-downloads` will appear this error.

[2021-12-13 07:37] CalebDu opened #22005 "i have a problem about find_package() in vscode (mac m1 pro)"
i use vcpkg install  glm. so i wanna test glm.
[code]

[code]

above code blocks are my cmake configuration in setting.json and cmakelist.txt. but when i execute "cmake -B build",  cannot find package glm
[code]

if i add `-DCMAKE_TOOLCHAIN_FILE=/opt/homebrew/Cellar/vcpkg/2021.05.12/libexec/scripts/buildsystems/vcpkg.cmake -DVCPKG_TARGET_TRIPLET=arm64-osx `arg, cannot find package either.
[code]
b

[2021-12-13 07:54] dg0yt commented on #21935
@FreePhoenix888 In any case, make sure to set `CMAKE_TOOLCHAIN_FILE`
- on the first run of cmake
- before reaching the `project`command.

[2021-12-13 08:12] PhoebeHui commented on #21994
@MoeSzyslak98, it looks an upstream issue with gcc11, could you report an issue to Upstream instead? it builts successfully with gcc 9.4.0 for me.

[2021-12-13 08:14] JackBoosY commented on #21669
Duplicated to https://github.com/microsoft/vcpkg/issues/19087.

[2021-12-13 08:14] #21669 closed

[2021-12-13 08:19] JackBoosY commented on #22005
Can you please delete cmake cache then try again?

[2021-12-13 08:28] PhoebeHui commented on #21982
@wlix, do you solve the problem?

[2021-12-13 08:37] MoeSzyslak98 commented on #21994
thanks for the comment, I try to do so.[Im a little bit noob tho].

[2021-12-13 08:54] Neumann-A commented on #21988
Personally I don't think this is on the vcpkg side. vcpkg already documents how to use the cmake toolchain file. How vs code implements setting cmake variables is also already documented so this is just info on how to put both together. That being said the consumption via presets in vs code is also different from the above way.
Also:
`"visualStudio": "8a215db0",` is as far as I remember dependent

[2021-12-13 09:05] CalebDu commented on #22005
Is the cmake cache that you mention in "build " folder? As my problem,  after delete former build folder, and execute `cmake -B build -DCMAKE_TOOLCHAIN_FILE=/opt/homebrew/Cellar/vcpkg/2021.05.12/libexec/scripts/buildsystems/vcpkg.cmake -DVCPKG_TARGET_TRIPLET=arm64-osx `, cmake can successfully  find package.
my problem is why blow configuration does not take effect. and why `cmake -B `successfuly

[2021-12-13 09:07] JackBoosY commented on #21988
Yeah, we should provide the VS Code plugin and it's on the road.

[2021-12-13 09:19] PhoebeHui commented on #21994
@MoeSzyslak98, we're happy to accept a PR for this issue.

[2021-12-13 09:20] PhoebeHui commented on #21642
@itsmattkc, thanks for your response, I will take look at this issue again.

[2021-12-13 09:21] Obbart commented on #21455
Hi @LilyWangLL, I will submit the issue to the code maintainer.
Thaks for your support.

[2021-12-13 09:21] #21455 closed

[2021-12-13 09:43] JackBoosY commented on #21975
Confirmed.

[2021-12-13 09:55] JackBoosY commented on #22005
I think that's a VS Code issue instead of vcpkg issue?
Please check the generated cmake command whether the 2 extra options are added.

[2021-12-13 10:25] CalebDu commented on #22005
i get the point. I should use cmake extension in vscode to generator build, rather than type command in shell manualy. The extension may help me add 2extra options automaticly.
thank for your reply@JackBoosY. i will close this issue.

[2021-12-13 10:26] #22005 closed

[2021-12-13 10:58] lidar-nevermore opened #22008 "Command failed"
**Host Environment**
- OS: [e.g. Windows/Linux etc...]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install xxxx`

**Failure logs**
-Cut and paste the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

**Additional context**
Add any other context about the problem here, such as what yo

[2021-12-13 11:00] Locietta commented on #21988
Thanks for the information about cmake presets, I will try that out sometime. Sounds like I missed something about cmake configs.

I actually copy the configuration auto-generated by vscode, and add some options on it. It just worked, but as Neumann suggests, it's not portable when sharing configs.

Sorry for the noise here, I'm going to close this issue.

[2021-12-13 11:00] #21988 closed

[2021-12-13 12:24] Brooklyn2001 commented on #18270
Have same error, when compile gettext with [tools}:
-- Configuring x64-windows-rel
-- Building x64-windows-rel
CMake Error at scripts/cmake/vcpkg_execute_build_process.cmake:155 (message):                                               Command failed: D:/dev/vcpkg/downloads/tools/msys2/803521c5733336c9/usr/bin/make.exe -j 7 --trace -f D:/dev/vcpkg/ports/gettext/Makefile all

[2021-12-13 12:40] vincent-nv commented on #17640
Hi I've the same problem impossible to find Qwt : the lib is in the vcpkg.json, is correctly built but no way to find it in my CMakeLists.txt :/

[2021-12-13 13:21] SKNo commented on #21973
Hi @BrendaMMaloff , @JackBoosY
I guess this is similar to what I reported here :
[#20154](https://github.com/microsoft/vcpkg/issues/20154)

[2021-12-13 14:04] Osyotr commented on #21525
@jwillemsen would you kindly take a look? Also, it seems that `wchar` feature is broken on linux.

[2021-12-13 14:14] jwillemsen commented on #21525
Looks something that could be caused by using parallel make heavily. Can you try to not use `-j9` as part of the make flags? Why is this a static build, would expect a shared library build by default.

[2021-12-13 14:27] skizzay opened #22010 "Port showing in vcpkg.info but not available in search/install"
**Describe the bug**
I can search vcpkg.info for package stduuid.  I see the package listing properly returned.  It even has a link to its vcpkg folder.  However, the link brings you to GitHub's 404 page.  Further, when I run vcpkg install stduuid or even vcpkg search stduuid, nothing comes back.  I've looked in my ports directory and don't see it.  When I searched the vcpkg github repo, I see two

[2021-12-13 14:33] Osyotr commented on #21525
@jwillemsen I think `-j9` is set by vcpkg and I have no way to change it. Static build is [default for linux ](https://github.com/microsoft/vcpkg/discussions/19127#discussioncomment-1049622). Dynamic build is also broken.

[2021-12-13 14:44] Neumann-A opened #22011 "[vcpkg_install_qmake] broken."
The script is simply broken with the current design.
`vcpkg_build_qmake` should call the `install` target.
The problem: the current installation points into `/installed/` instead of `/packages/` after makefile generation (qmake_all or `vcpkg_configure_qmake`).
Solution: do the same as qt5-base does for all its submodules.

[2021-12-13 14:58] jwillemsen commented on #21525
Looks some more work has to be done on the vcpkg packaging of ACE on Linux, maybe you can contribute some changes @Osyotr

[2021-12-13 15:40] dg0yt commented on #21525
You can set environment variable `VCPKG_MAX_CONCURRENCY`.
https://vcpkg.io/en/docs/users/config-environment.html#vcpkg_max_concurrency

[2021-12-13 15:41] Osyotr commented on #21525
Regarding `wchar` issue: it seems that resulting binaries do export wchar-versions of functions, but ace/config.h lacks `ACE_USES_WCHAR` macro

[2021-12-13 15:47] jwillemsen commented on #21525
When `uses_wchar` is set as MPC flag it should be added to the makefiles, when you don't use [MPC](https://github.com/DOCGroup/MPC) you should do that yourself

[2021-12-13 19:14] frivard-coveo commented on #20503
We have observed the same issue internally. Has this bug been prioritized for a fix soon?

[2021-12-13 19:21] Osyotr commented on #20503
For a workaround, use overlay-port feature.

[2021-12-13 19:26] #17262 closed

[2021-12-13 19:47] #21141 closed

[2021-12-13 19:55] #21943 closed

[2021-12-13 20:23] #21970 closed

[2021-12-13 21:22] Neumann-A commented on #22011
The problem reason why this is implemented in this way is because install rules in qmake are kind of funky.
Projects needs to setup:
[code]
in addition to fixing the makefiles to not directly install into `/installed/`

[2021-12-13 21:32] BrendaMMaloff commented on #21973
[config-x64-windows-out.log](https://github.com/microsoft/vcpkg/files/7707061/config-x64-windows-out.log)
[CMakeOutput.log](https://github.com/microsoft/vcpkg/files/7707064/CMakeOutput.log)
[CMakeError.log](https://github.com/microsoft/vcpkg/files/7707066/CMakeError.log)

Those are the files that I get when just using what I pulled from git and editing the vcpkg.json and changing "supports": "uwp"

[2021-12-13 21:39] autoantwort commented on #22010
vcpkg.info is not maintained by the vcpkg team, you can contact the maintainer [here](https://vcpkg.info/contact)

[2021-12-14 00:40] martinsah opened #22014 "vcpkg not integrating with VS2022"
**Describe the bug**
Visual Studio 2021 integration fails with boost

**Environment**
- OS: Edition	Windows 10 Pro
Version	20H2
Installed on	‎6/‎15/‎2021
OS build	19042.1348

- Compiler:
- Microsoft Visual Studio Community 2022 (2)
Version 17.0.2
VisualStudio.17.Release/17.0.2+31919.166
Microsoft .NET Framework
Version 4.8.04084

Installed Version: Community

Visual C++ 2022   00482-90000-00000-AA

[2021-12-14 00:48] martinsah commented on #22014
vcpkg is choosing the wrong triplet when integrating. The default for VS2022 is **x64** and vcpkg, per [issue 53 ](https://github.com/microsoft/vcpkg/issues/53) defaults to **x86** to "streamline the installation process" however it trips up newbies like me.

[2021-12-14 00:48] #22014 closed

[2021-12-14 01:02] PhoebeHui commented on #22010
@skizzay, the official webiste is https://vcpkg.io/en/index.html, you can check the availlable packages in https://vcpkg.io/en/packages.html.

The new port was added by https://github.com/microsoft/vcpkg/pull/16382. however it cause CI regressions, so it has been reverted by https://github.com/microsoft/vcpkg/pull/20161. you can create a [overlay ports](https://github.com/microsoft/vcpkg/blob/mast

[2021-12-14 01:35] trebconnell commented on #18334
I'm seeing this vcpkg latest installing opencv4[core] in Windows on devops pipelines...  I'm investigating and will report back if I discover anything.

Reproduced with commit hash: 633f3e0c130a466beadb1f0cbd3ae3c55859565a

[2021-12-14 01:46] #21758 closed

[2021-12-14 02:15] LilyWangLL commented on #21976
Thanks for your reply. Did you try installing the Proper Version of the .NET Framework? I found this messsage in your log: Error `code: Exit code 0xc0000135`. `0xc0000135` error can happens when you run a program that requires the .NET framework, but your computer doesn’t have the .NET framework or doesn’t install the .NET framework properly.

You can check if there is the .NET framework on your P

[2021-12-14 02:28] LilyWangLL commented on #22008
Thanks for posting this issue. This is a bug of Visual Studio 2022, if you need use pcl in your project, you can use low version of Visual Studio. We will fix this error in furture.

[2021-12-14 02:35] LilyWangLL commented on #22008
Closed this due to duplicate with #19561, please pay attention of #19561.

[2021-12-14 03:11] Jimmy-Hu commented on #12951
@JackBoosY Thank you for your reply.

After re-installing and updating to Visual Studio 2019 Version 16.11.7, the issue is resolved. Thank you so much.

[2021-12-14 03:11] #12951 closed

[2021-12-14 03:28] Canvis-Me commented on #21981
I got only 16G memory on my computer, it seemed not enough to build qtwebengine, for another error occur:

-- Building x64-windows-dbg
-- Restarting Build without parallelism because memory exceeded
CMake Error at scripts/cmake/vcpkg_execute_build_process.cmake:155 (message):
    Command failed: D:/vcpkg/downloads/tools/cmake-3.21.1-windows/cmake-3.21.1-windows-i
386/bin/cmake.exe --build . --conf

[2021-12-14 04:30] morphogencc commented on #21991
Yes, I do use a vcpkg.json manifest file

[2021-12-14 05:47] JackBoosY commented on #21973
@BrendaMMaloff  Please remove `vcpkg-cmake-config:x64-windows` then try again.

This issue was fixed.

[2021-12-14 05:56] xiaoliang2121 commented on #21966
ok, I will try later

[2021-12-14 06:01] JackBoosY commented on #21981
`fatal error C1060: compiler is out of heap space`
Maybe qt doesn't support VS2022 officially.

[2021-12-14 06:02] JonLiu1993 commented on #21566
@chanduv1 ,@xbeheydt ,Confirmed this is a compiler bug. We have filed a bug to track this issue,
[code]
This error is same as https://github.com/microsoft/vcpkg/issues/19561#issuecomment-898879852, so I close this issue and we will track it in issue #19561

[2021-12-14 06:02] #21566 closed

[2021-12-14 09:15] LilyWangLL commented on #21293
@rainey Sorrl I am late. I cann't reproduce this issue locally. I use `find_package(raylib CONFIG REQUIRED)` in my project, I can cmake and build project succeed. I found there is no `find_package(raylib CONFIG REQUIRED)` in your file **src/raylib/CMakeLists.brokendeps.txt**. If not use find_package, cmake project will failed with target link error.

This is my reproduce codes:
CMakeLists.txt
[cod

[2021-12-14 09:42] Anassatti opened #22019 "[cudnn] Build error"
**Host Environment**
- OS: [e.g. Windows/Linux etc...]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install xxxx`

**Failure logs**
-Cut and paste the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

**Additional context**
Add any other context about the problem here, such as what yo

[2021-12-14 09:53] LilyWangLL commented on #15481
@Fedr Since This is by design. VCPKG use `vcpkg_find_acquire_program(PYTHON3)` in glad's portfile.cmake, `vcpkg_find_acquire_program` will first use python which download be user.

[2021-12-14 09:55] petercoin1980 commented on #21982
still error on install rel step

---Original---
From: ***@***.***&gt;
Date: Mon, Dec 13, 2021 16:28 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [microsoft/vcpkg] [openssl] Build error (Issue #21982)

@wlix, do you solve the problem?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notificatio

[2021-12-14 11:54] Anassatti commented on #22019
Host Environment

OS: [Windows 11 Pro]
Compiler: revision
To Reproduce
Steps to reproduce the behavior:
.\vcpkg install darknet[opencv-base,cuda,cudnn]:x64-windows

Failure logs
Building package cudnn[core]:x64-windows...
-- Found CUDA V11.5.119
-- CUDNN_INCLUDE_DIR: CUDNN_INCLUDE_DIR-NOTFOUND
-- CUDNN_LIBRARY: CUDNN_LIBRARY-NOTFOUND
CMake Error at ports/cudnn/portfile.cmake:69 (message):
  Please