[2021-07-27 09:44] JonLiu1993 commented on #19151
This is the solution, you can refer to：https://github.com/microsoft/vcpkg/issues/16207#issuecomment-778684364

[2021-07-27 09:45] TawalMc commented on #18559
Hi. If I understand you want to port the telegram API to VCPKG ?

[2021-07-27 09:52] hjhj111 commented on #19151
thank you very much

[2021-07-27 09:53] JonLiu1993 commented on #19151
@hjhj111 ,Has the problem been solved?

[2021-07-27 09:54] hjhj111 commented on #19151
maybe, I will try later, the device is long away from me

[2021-07-27 09:55] JonLiu1993 commented on #19151
Please notify me if it can be resolved

[2021-07-27 10:27] JonLiu1993 commented on #19155
@crazyevent ,Thanks for posting this issue.
Are you behind a proxy?
If yes, have you followed the error message?

If you use a proxy, please check your proxy setting. Possible causes are:

You are actually using an HTTP proxy, but setting HTTPS_PROXY variable
to https://address:port. This is not correct, because https:// prefix
claims the proxy is an HTTPS proxy, while your proxy (v2ray, shadowsoc

[2021-07-27 10:45] PhoebeHui commented on #19153
@jdx-john, thanks for reporting this issue, I can repro this issue locally. However, It looks a source issue, I reported an issue to Upstream https://github.com/boostorg/regex/issues/145.

[2021-07-27 10:54] PhoebeHui commented on #19150
@shavesha, can you try to execute the './vcpkg x-add-version --all', submit the changes, and then update the baseline with current head, and see if it works for you?

[2021-07-27 11:27] #13649 closed

[2021-07-27 12:07] jdx-john commented on #18947
As I understand it, zlib is built from older source code which might not even be maintained any more(?)
I don't really know what an overlay port entails, but if the upstream library cannot be modified is this realistic?

[2021-07-27 13:20] otavio opened #19169 "[libarchive] segmentation fault inside Windows GitHub Actions runner"
**Host Environment**
- OS: Windows
- Compiler: vcpkg commit 5568f110b509a9fd90711978a7cb76bae75bb092 # 2021.05.12

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install libarchive:x86-windows`

**Failure logs**
https://github.com/OSSystems/compress-tools-rs/runs/3161186196#step:3:186

**Additional context**
It is very weird as vcpkg stars to comput its execution plan and dies. I tried

[2021-07-27 13:54] marekyggdrasil commented on #18929
For me no problem, I have linked my solution comment above. I'll take the liberty to close this issue and worst-case-scenario someone might re-open it. Thanks again for help!

[2021-07-27 13:54] #18929 closed

[2021-07-27 13:56] autoantwort commented on #19169
Duplicate of #18636, please update vcpkg or use cmake 3.20 :)

[2021-07-27 14:29] georgelyu opened #19170 "A linking error using flann[cuda]"
I tried to use `flann` with CUDA but I can't get the code compiled. I already installed `flann[cuda]` with vcpkg, and I made a demo code like:
[code]

CMakeLists.txt:
[code]

The build log:
[code]

I'm using Windows 10, Visual Studio 2019 and CUDA 11.3. I know this might not be a vcpkg issue exactly, but I can't find any other documents about this, so I appreciate any help with this, thanks!

[2021-07-27 14:55] otavio commented on #19169
In this case, it'd be nice to have a new release so we could use it. I updated to the latest stable release, and it failed. So now I am using master, but this is not very user-friendly...

Using master does fix it. Thanks for letting me know.

[2021-07-27 14:58] autoantwort commented on #19169
Yeah there are no real releases because you could tag every commit on the master branch as release

[2021-07-27 14:59] ffoxi commented on #18559
yes

[2021-07-27 15:00] cedral commented on #17395
Anatoly's last response is confusing because it is not about this issue.  I am experiencing the same problem that was initially reported. I added a few more messages. Note that it says it doesn't find the debug libraries and then assigns the debug libraries to the release library setting. It's really odd. I am finding that vcpkg works better on linux than it does on windows because I am having mul

[2021-07-27 15:17] ras0219-msft commented on #11602
I'm closing this issue because all behaviors described in this thread are by design. Please see the discussion above about the rationale.

If anyone feels that there is a not-by-design behavior given the explanation above (especially [1]), please open a new issue.

[1] https://github.com/microsoft/vcpkg/issues/11602#issuecomment-634963239

[2021-07-27 15:17] #11602 closed

[2021-07-27 16:02] jdx-john commented on #19153
I'm happy with the response upstream @PhoebeHui so I'll close this.

[2021-07-27 16:02] #19153 closed

[2021-07-27 17:56] #19155 closed

[2021-07-27 20:10] autoantwort opened #19173 "Add option `--minimal-dependencies`"
**Is your feature request related to a problem? Please describe.**
When I install qtbase with a target triplet != host triplet, it also installs qtbase with all default features for the host system (in manifest and classic mode), but the host dependency states that only qtbase[core] is needed. So I build one hour host dependencies that I will never need.

**Proposed solution**
For host dependencie

[2021-07-27 20:54] ras0219-msft commented on #17726
https://github.com/microsoft/vcpkg-tool/pull/99 is the feature you're looking for

[2021-07-27 22:50] #18962 closed

[2021-07-27 23:11] brycelelbach opened #19176 "`--no-binarycaching` isn't documented"
@BillyONeal tells me that `--no-binarycaching` is an option, but alas it doesn't appear to be documented.

[code]

[2021-07-27 23:20] #14534 closed

[2021-07-27 23:24] #17536 closed

[2021-07-27 23:25] #19003 closed

[2021-07-27 23:58] #18987 closed

[2021-07-28 00:04] #19078 closed

[2021-07-28 00:15] brycelelbach opened #19177 "`vcpkg install --head` fails in some environments due to GitHub API rate limits; vcpkg should allow us to provide GitHub credentials for authenticated GitHub API requests"
**Describe the bug**
We're running into issues when using `vcpkg install --head` anywhere within NVIDIA's corporate VPN, including personal developer workstations and our CI system.

The problem appears to be that `vcpkg install --head` will attempt to access `api.github.com` methods unauthenticated (e.g. without providing an authentication token/API key), which fails due to GitHub API rate limits

[2021-07-28 00:16] BillyONeal commented on #19177
https://github.com/microsoft/vcpkg/pull/19077/ may help

[2021-07-28 01:08] Henderz opened #19178 "[openmpi] build failure"
[build-x64-linux-dbg-err.log](https://github.com/microsoft/vcpkg/files/6889593/build-x64-linux-dbg-err.log)
[build-x64-linux-dbg-out.log](https://github.com/microsoft/vcpkg/files/6889594/build-x64-linux-dbg-out.log)
**Host Environment**
- OS: Ubuntu 20.04.2.0
- Compiler: gcc (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install openmpi`

**Failure

[2021-07-28 01:14] autoantwort commented on #19178
https://stackoverflow.com/questions/9066080/what-is-lnuma-and-what-program-uses-it-for-compilation

Seems that you have to install numa from your package manager

[2021-07-28 02:05] JackBoosY commented on #18947
@jdx-john  See [documentation](https://github.com/microsoft/vcpkg/blob/master/docs/specifications/ports-overlay.md).

[2021-07-28 02:42] #19176 closed

[2021-07-28 02:44] #19150 closed

[2021-07-28 02:45] JackBoosY commented on #19170
[code]

[2021-07-28 02:50] JackBoosY commented on #19170
Confirmed.

[2021-07-28 02:56] NancyLi1013 commented on #19177
Duplicated to #19078.

Since the changes in #19077 have been merged to vcpkg master branch now.
Could you please try to update vcpkg to the latest commit via `git pull` to rebuild this? @brycelelbach

[2021-07-28 02:57] JackBoosY commented on #19170
According to the source code in kdtree_cuda_3d_index.h:
[code]

This class and memeber function isn't declared as an export class / function.
So I think that's by design or there is something wrong with you provided code.

[2021-07-28 03:04] #3954 closed

[2021-07-28 03:04] JackBoosY commented on #19170
Upstream issue https://github.com/flann-lib/flann/issues/468

[2021-07-28 03:07] PhoebeHui commented on #15289
Closing in favor of https://github.com/microsoft/vcpkg/issues/3954

[2021-07-28 03:07] #15289 closed

[2021-07-28 03:09] JackBoosY commented on #19173
@ras0219-msft what do you think about this?

[2021-07-28 04:17] Henderz commented on #19178
Thank you @autoantwort! That did it.
I ran "apt-get install libnuma-dev"

[2021-07-28 04:17] #19178 closed

[2021-07-28 05:17] orgads commented on #11230
`fribidi` build still fails on arm64. See https://github.com/orgads/vcpkg-test/runs/3178635342?check_suite_focus=true

[2021-07-28 06:31] JonLiu1993 commented on #19169
@otavio ,Thanks for posting this issue,
good solutions and suggestions have been given above.

[2021-07-28 06:37] dg0yt commented on #17607
I feel that the problem with the current situation is not fully understood.
There should be:
- one pattern for installing release tools.
- one pattern for installing debug tools.
- a mechanism for adding the path of installed tools (dependencies) to the PATH when building a port.

With regard to the debug variant, I don't ask for more than having a place to install the debug variant of `curl-confi

[2021-07-28 06:47] jackzenko opened #19186 "SUFFIX setups are not working"
I wanted to add suffix to the DLLs for x64 build, so it can be differentiated from x86 version under same folder.
However following definitions are not working, no suffix was added to build target

VCPKG_TARGET_STATIC_LIBRARY_SUFFIX       static library suffix for target (same as CMAKE_STATIC_LIBRARY_SUFFIX)
VCPKG_TARGET_SHARED_LIBRARY_SUFFIX       shared library suffix for target (same as CMAKE_S

[2021-07-28 07:12] JackBoosY commented on #19186
`VCPKG_TARGET_STATIC_LIBRARY_SUFFIX`, `VCPKG_TARGET_SHARED_LIBRARY_SUFFIX` and `VCPKG_TARGET_IMPORT_LIBRARY_SUFFIX` are only used in `portfile.cmake` to get the specific file name, not to set it to change the build process. See
https://github.com/microsoft/vcpkg/blob/1257354a3ab0bebd8abe95281ca561537853578c/scripts/cmake/vcpkg_common_definitions.cmake#L7-L25

We respect the library name specified

[2021-07-28 07:23] NancyLi1013 commented on #19152
So you used the same integration with these two projects, right?

Could you please try to run `bootstrap-vcpkg.bat` and reintegrate the project?

If still the same problem, please try to remove integrate and reintegrate. Then restart VS.

[2021-07-28 07:55] ldm0 commented on #19121
I got the same issue.

[2021-07-28 08:09] jackzenko commented on #19186
is there a way to add prefix/suffix to generated libs so we can differentiate x86/x64 files?
for example:
icudt69.dll for 32 bit version
icudt69_x64.dll for 64 bit version

in addition, changing name isnt an issue, which can even done by hand. but setting libs to call correct dlls is a problem, after building icu 64 bits version by vcpkg, all files are generated with exact same name as 32 bits, ev

[2021-07-28 08:13] julianxhokaxhiu commented on #19121
Forgot to mention, there's a temporary workaround you can use to fix this error until it's fixed officially:

**Powershell:**
[code]

**Bash:**
[code]

[2021-07-28 08:18] #19085 closed

[2021-07-28 08:36] PhoebeHui commented on #7428
Duplicated to https://github.com/microsoft/vcpkg/issues/3042.

[2021-07-28 08:36] #7428 closed

[2021-07-28 08:36] #3042 closed

[2021-07-28 09:10] JackBoosY commented on #19186
@jackzenko  You can add a patch to modify the configure.ac / makefile in icu's source then use overlay-port feature to install the custom icu.

[2021-07-28 09:18] Neumann-A commented on #19186
Only CMake projects can be easily suffixed (via a custom toolchain). Everything else needs a lot more work.

[2021-07-28 09:30] m-kuhn opened #19189 "[linux] [gdal] nuget push fails"
**Describe the bug**
The gdal package cannot be pushed/cached on github packages.
Using the setup as described in https://github.com/microsoft/vcpkg/blob/master/docs/users/binarycaching.md#github-packages

**Environment**
- OS: Linux
- Github Actions

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install gdal
2. See error

[code]

[2021-07-28 09:35] m-kuhn commented on #19189
@dg0yt do you have an idea what could be going on here?

[2021-07-28 09:36] #17481 closed

[2021-07-28 09:40] #18634 closed

[2021-07-28 09:46] #18262 closed

[2021-07-28 09:48] #18014 closed

[2021-07-28 10:04] #17891 closed

[2021-07-28 10:09] PhoebeHui commented on #18559
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2021-07-28 10:09] #18559 closed

[2021-07-28 10:10] PhoebeHui commented on #18519
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2021-07-28 10:10] #18519 closed

[2021-07-28 10:10] PhoebeHui commented on #18566
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2021-07-28 10:10] #18566 closed

[2021-07-28 10:10] PhoebeHui commented on #18605
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2021-07-28 10:10] #18605 closed

[2021-07-28 10:11] #17712 closed

[2021-07-28 10:11] PhoebeHui commented on #18514
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now, consider making a pull request instead.

[2021-07-28 10:11] #18514 closed

[2021-07-28 10:12] TawalMc commented on #18559
Ok

On Wed, 28 Jul 2021, 11:10 am Phoebe, ***@***.***> wrote:

[2021-07-28 10:13] PhoebeHui commented on #18559
We can’t reopen this issue until a PR is opened, we're happy to answer any questions we can to support this effort, but for now we'd prefer to support your role as a maintainer than to take ownership ourselves. None of our core team is very familiar with telegram-bot-api , so I feel you'll do a much better job than we could! consider making a pull request.

[2021-07-28 10:17] PhoebeHui commented on #18494
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now, consider making a pull request instead, we're happy to answer any questions we can to support this effort, but for now we'd prefer to support your role as a maintainer than to take ownership ourselves. None of our core team is very familiar with voro++, so I feel you'll do a much better job than we

[2021-07-28 10:17] #18494 closed

[2021-07-28 10:19] PhoebeHui commented on #18314
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now, consider making a pull request instead, we're happy to answer any questions we can to support this effort, but for now we'd prefer to support your role as a maintainer than to take ownership ourselves. None of our core team is very familiar with libvirt , so I feel you'll do a much better job than

[2021-07-28 10:19] #18314 closed

[2021-07-28 10:19] #18304 closed

[2021-07-28 10:21] PhoebeHui commented on #18548
@zhthree3, please submit a PR for the port, and we can help reopen this issue, we're happy to answer any questions we can to support this effort, but for now we'd prefer to support your role as a maintainer than to take ownership ourselves. None of our core team is very familiar with sowin, so I feel you'll do a much better job than we could! consider making a pull request.

[2021-07-28 10:21] #18548 closed

[2021-07-28 10:35] TawalMc commented on #18559
Thanks I understand.  I don't think I'll reopen again the issue will read
more about the port of mysql c++ connector

On Wed, 28 Jul 2021, 11:13 am Phoebe, ***@***.***> wrote:

[2021-07-28 11:01] NeoxyCN opened #19198 "A linking error LNK2001"
I'm using Windows 10 Pro 2004. I successfully ran "vcpkg install glew" and "vcpkg install glfw3".
Then I ran "vcpkg integrate install"
I coding in Visual Studio 2017 Verison 15.9.36.
When I clicked "Local Windows Debugger", an error happened.

[code]
thx

[2021-07-28 11:02] NeoxyCN commented on #19198
I also ran "vcpkg integrate project".

[2021-07-28 11:13] joel-koch commented on #14124
We moved away from vcpkg, so I cannot, sorry.

[2021-07-28 11:41] autoantwort commented on #19198
When I google for your error I found https://stackoverflow.com/questions/49391509/unresolved-external-symbol-glewexperimental

Seems like you installed 32 bit apps but build 64 bit?
Then you need to install `vcpkg install glew glfw3 --triplet=x64-windows`

[2021-07-28 12:05] vadz commented on #19110
I guess we could move `pid_t` to the non-MSVC-case, i.e. append it with `mode_t` and `off_t` as it's indeed only needed under Unix.

But in fact I think we probably could avoid checking for it and defining it completely nowadays, I don't think there are any Unix systems not defining this type left, so we could simply drop all checks for it as I've just done in the PR mentioned above. If this doesn

[2021-07-28 12:07] otavio commented on #19169
Yes, using master did the trick, but it'd be good to make a release with this fix. Unfortunately, it is tough to figure out what is happening.

[2021-07-28 12:13] autoantwort commented on #19152
Maybe the same as #18337, there is also a workaround you could try

[2021-07-28 12:20] jdx-john commented on #19152
@NancyLi1013 yeah everything is the same - and other old projects work just fine. Reintegration etc don't help. It's only a throwaway test project so it's not really a problem but I am curious. I might look at the vcxproj file to see if something has got messed up. If I find anything I'll report back.

[2021-07-28 13:32] NeoxyCN commented on #19198
Thank you.
When I saw that answer, I realized that GLEW_STATIC should not be defined when target platform is dynamic.
If anyone who need static compilation, he shoud add glews.lib into additional library dictionary.

[2021-07-28 13:32] #19198 closed

[2021-07-28 13:36] Nemirtingas opened #19202 "[docker image] [boost-exception] build failure"
**Host Environment**
- OS: Linux cross-compiling for Windows.
- Compiler: clang 9 + clang-cl 9 + llvm 9

**To Reproduce**
Steps to reproduce the behavior:
Using docker image nemirtingas/windowscross_vcpkg:msvc2019_win10.0.18362.0

Custom triplet x86-windows-nemirtingas:
[code]

[code]

**Failure logs**
[code]

**Additional context**
user-config.jam seems to not be populated with the cmake's config

[2021-07-28 14:38] wrobelda commented on #17607
I just got affected by it: https://github.com/microsoft/vcpkg/pull/19203

[2021-07-28 15:59] dg0yt commented on #19189
I don't know much about NuGet.

[code]

`lib/pkgconfig/gdal.pc` shouldn't be a folder, and I also don't know what is meant by "framework" for Ubuntu.
Where does 'x64-linux.nuspec' come from?

[2021-07-28 16:06] FrankL117 opened #19204 "[eigen3] msys-pacman download corrupted"
**Describe the bug**
A clear and concise description of what the bug is.

**Environment**
- OS: Win10
- Compiler: vx2019

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install eigen3
2. See error
CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:72 (message):
    Command failed: C:/opt/ros/melodic/x64/tools/vcpkg/downloads/tools/msys2/msys64/usr/bin/bash.exe --noprof

[2021-07-28 16:08] Henderz opened #19205 "[onednn[core]:x64-linux] build failure"
**Host Environment**
- OS: [Ubuntu 20.04.2.0]
- Compiler: gcc (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install onednn[core]:x64-linux
[install-x64-linux-dbg-out.log](https://github.com/microsoft/vcpkg/files/6894758/install-x64-linux-dbg-out.log)
`

**Failure logs**
[code]

[2021-07-28 16:10] talregev commented on #18996
@JackBoosY @Neumann-A @dg0yt @autoantwort
Can you help? What should I do?
https://stackoverflow.com/questions/12871513/how-to-get-rid-of-win32-winnt-not-defined-warning/12871547

[2021-07-28 16:26] autoantwort commented on #18996
https://discourse.gnome.org/t/build-gtk3-with-meson-using-msys2-on-windows-fails/4015

[2021-07-28 16:29] autoantwort commented on #19205
Please provide the logs :)

[2021-07-28 17:18] Henderz commented on #19205
Sorry, I thought I did.
[install-x64-linux-dbg-out.log](https://github.com/microsoft/vcpkg/files/6895256/install-x64-linux-dbg-out.log)

[2021-07-28 17:22] autoantwort commented on #19205
from the log: `collect2: fatal error: ld terminated with signal 9 [Killed]`, after a few seconds of googling it seems that your system ran out of memory

[2021-07-28 17:25] Henderz commented on #19205
Oh.. that makes sense.. My system does freeze midway during the build and eventually when it recovers, I see this error.
But then I have a 32 GB RAM..
Is there something I can do to prevent this?

[2021-07-28 17:27] autoantwort commented on #19205
Hm, maybe restart your pc so that the initial memory usage is low. How many cores do you have?

[2021-07-28 17:30] Henderz commented on #19205
Thanks for binging my attention to the relavent error. I didn't think this line meant anything. I will google and try other solutions like increasing Swap disk or running "cargo run --release --verbose --jobs 1" whatever that does ;)

I have tried restarting and having this as the only frontend process running.
I have 12 cores - an AMD Ryzen 9 3900X.

[2021-07-28 17:52] dg0yt commented on #18996
Is static glib supported for mingw? It isn't for windows, according to #18557.

[2021-07-28 17:54] talregev commented on #18996
Can we solve it? I prefer to use static.

[2021-07-28 18:14] talregev commented on #18996
The same happen with dynamic:
`../src/glib-2-b84205c786.clean/meson.build:1697:2: ERROR: Entry _WIN32_WINNT not in configuration data.`
[glib.zip](https://github.com/microsoft/vcpkg/files/6895596/glib.zip)

[2021-07-28 18:15] dg0yt commented on #19205
12 core, 25 jobs, this isn't much average RAM per job. You may try to limit the job count via `VCPKG_MAX_CONCURRENCY`.

[2021-07-28 18:15] talregev commented on #18996
I guess we should define it somewhere `_WIN32_WINNT`

[2021-07-28 18:21] dg0yt commented on #18996
Oh, meson. AFAIU vcpkg doesn't set the right system for mingw. I created https://github.com/autoantwort/vcpkg/pull/1 to extend
 #18927. Waiting for @autoantwort.

[2021-07-28 18:22] talregev commented on #18996
I already use the fix of @autoantwort it after I merge it PR.

[2021-07-28 18:23] talregev commented on #18996
@dg0yt Seems that all test pass in #18927. What else is needed to do there?

[2021-07-28 18:26] autoantwort commented on #18996
Sorry, I didn't got an email about it. Good that you ping me and thank you for the real fix!

[2021-07-28 18:28] talregev commented on #18996
I will test it again with @autoantwort PR #18927.

[2021-07-28 18:43] talregev commented on #18996
Now we get some progress.
I have another error:
`../src/glib-2-b84205c786.clean/glib/meson.build:326:2: ERROR: Could not find Windows resource compiler`

[glib.zip](https://github.com/microsoft/vcpkg/files/6895748/glib.zip)

[2021-07-28 18:47] talregev commented on #18996
https://stackoverflow.com/questions/57436089/meson-can-not-find-windows-resource-compiler-on-linux

I have `x86_64-w64-mingw32-windres`

![image](https://user-images.githubusercontent.com/7043539/127378918-9357412c-bad2-4835-b0d3-d597c5434c89.png)

[2021-07-28 18:49] talregev commented on #18996
How I can define to meson that I have windows resource compiler?

[2021-07-28 18:54] autoantwort commented on #18996
Like in the stackoverflow question you probably have to set
[code]
in the `meson-cross-x64-mingw-*.log` file. That must be done by `vcpkg_configure_meson`. Instead of `windres` `rc` is currently set

[2021-07-28 18:55] talregev commented on #18996
Can you do it?

[2021-07-28 18:57] talregev commented on #18996
I think for `x64-mingw-*` triplet it should `x86_64-w64-mingw32-*`
For triplet `x86-mingw-*` triplet is should like you write: `i686-w64-mingw32-*`

[2021-07-28 19:04] ras0219-msft commented on #19177
We could also change `--head` to not use any github APIs and instead:
1. Switch over to `vcpkg_from_git()`
2. Just directly download `master.zip` instead of trying to identify+cache the precise commit

[2021-07-28 19:08] talregev commented on #18996
@autoantwort thanks that help!
https://mesonbuild.com/Windows-module.html
I define:
`export WINDRES=x86_64-w64-mingw32-windres`
like it written in the link.
I get some progress.
Now it missing
`fatal error: libintl.h: No such file or directory `
I will try to install this lib with vcpkg manually. it should add as a dependency.

[2021-07-28 19:09] talregev commented on #18996
https://stackoverflow.com/questions/11370684/what-is-libintl-h-and-where-can-i-get-it

[2021-07-28 19:11] talregev commented on #18996
I already have it:
![image](https://user-images.githubusercontent.com/7043539/127381938-d8015e4f-a476-4264-a019-9a7b7f14ebb4.png)

[2021-07-28 19:11] talregev commented on #18996
What should I do?

[2021-07-28 19:12] talregev commented on #18996
[glib.zip](https://github.com/microsoft/vcpkg/files/6895913/glib.zip)

[code]

[2021-07-28 19:17] autoantwort commented on #18996
Hm the path is added via `'-I"/home/tal/vcpkg/installed/x64-mingw-dynamic/include"'`.

[2021-07-28 19:18] autoantwort commented on #18996
Maybe the `"` are a problem

[2021-07-28 19:20] talregev commented on #18996
This is my path `/home/tal/vcpkg/installed/x64-mingw-dynamic/include`
![image](https://user-images.githubusercontent.com/7043539/127382893-89198527-3331-45f2-95b5-63c8005113d9.png)

Maybe it the problem. How I can remove it?

[2021-07-28 19:20] autoantwort commented on #18996
https://github.com/microsoft/vcpkg/blob/master/scripts/cmake/vcpkg_configure_meson.cmake#L124 Remove them there

[2021-07-28 19:21] autoantwort commented on #18996
And here:https://github.com/microsoft/vcpkg/blob/master/scripts/cmake/vcpkg_configure_meson.cmake#L128
Remove the `\"` at the beginning and at the end

[2021-07-28 19:22] talregev commented on #18996
ok. Should I bootstrap (compile vcpkg) after that?

[2021-07-28 19:22] autoantwort commented on #18996
No you don't have to

[2021-07-28 19:24] talregev commented on #18996
I only found the L128. I didn't find the L124. Did i Miss something?

[2021-07-28 19:25] autoantwort commented on #18996
Yeah it is a link to master, with my patch the line numbers are different, but you should find the right line

[2021-07-28 19:26] talregev commented on #18996
For me it on 128 and 132 lines

[2021-07-28 19:27] m-kuhn commented on #19189
same here

`vcpkg_installed/x64-linux/lib/pkgconfig/gdal.pc` is a file, I assume "framework" is nuget terminology.

Looks like a generated file

[code]

[2021-07-28 19:27] talregev commented on #18996
I remove and I testing now.

[2021-07-28 19:46] talregev commented on #18996
It help!
Can you remove it from your PR?
We also need to solve the `export WINDRES=x86_64-w64-mingw32-windres` in another PR.
it succussed on dynamic and fail on static.

[2021-07-28 19:46] talregev commented on #18996
[code]

[2021-07-28 19:55] autoantwort commented on #18996
Yes I will fix it

[2021-07-28 19:56] talregev commented on #18996
@autoantwort Thank you!

[2021-07-28 20:04] autoantwort commented on #18996
Can use unset WINDRES and undo the changes and test the updated PR?
Btw thank you for testing :)

[2021-07-28 20:05] talregev commented on #18996
I will! I will test it on CI.

[2021-07-28 20:10] talregev commented on #18996
It should with capital letter
I test it earlier and it didn't work: `export windres=x86_64-w64-mingw32-windres`
Can you change to capital letter? `WINDRES`
https://github.com/microsoft/vcpkg/pull/18927/commits/975674d7b02b4b1e162e8f7e63c12f4b9d52a826#diff-06c96eebcc929e5c160ad5c08c55ca09520a1b419eabb3841ac77e44991a6a35R282

[2021-07-28 20:22] ras0219-msft commented on #19177
#19077 doesn't really fix the primary issue, which is that public ports like `inja` will fail. #19077 would fix this issue for a private port that already has an auth token parameter in non-head mode.

[2021-07-28 20:31] talregev commented on #18996
it fail on the CI

[code]

[artifacts.zip](https://github.com/microsoft/vcpkg/files/6896283/artifacts.zip)

[2021-07-28 20:33] talregev commented on #18996
`../src/glib-2-b84205c786.clean/glib/meson.build:326:2: ERROR: Could not find Windows resource compiler`

[2021-07-28 20:43] talregev commented on #18996
@autoantwort
I found a typo:
you write "winres" should be `windres`
https://github.com/microsoft/vcpkg/commit/975674d7b02b4b1e162e8f7e63c12f4b9d52a826#diff-06c96eebcc929e5c160ad5c08c55ca09520a1b419eabb3841ac77e44991a6a35R282

[2021-07-28 21:35] leha-bot opened #19210 "[vcpkg] Crash then package upgrade fails (e.g. then "no space on device")"
**Describe the bug**
vcpkg crashes then cmake fails to upgrade port (e.g. "no space on device") without trace and don't save the pending updates list

**Environment**
- OS: Windows 8.1
- Compiler: MSVC 2019, v16.10

**To Reproduce**
Steps to reproduce the behavior:
0. (_maybe make an behavior then the estimated disk size is low (???)_)
1. ./vcpkg upgrade --no-dry-run
2. See error

**Expected behav

[2021-07-28 21:41] Baklap4 opened #19211 "[<libxmlpp>] libxml3 support"
****

**Is your feature request related to a problem? Please describe.**
Are there any plans in supporting libxml++3?

**Proposed solution**
Build it when wanted

[2021-07-28 21:57] KalgogSmash opened #19212 "[cfitsio] build failure"
**Host Environment**
- OS: [Windows 10 Pro]
- Compiler: 19.29.30037

**To Reproduce**

Steps to reproduce the behavior:
'vcpkg install cfitsio --triplet=x64-windows'

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
    cfitsio[core]:x64-windows -> 3.49#1
Detecting compiler hash for triplet x64-windows...
Could not locate cached archive: C:\Users\

[2021-07-28 22:17] Henderz commented on #19205
Thank you for you suggestion @dg0yt. I tried setting this to 8 in the vcpkg.cmake file with the following statement.
set(VCPKG_MAX_CONCURRENCY 8)

It didn't help. The system froze again for a long time before I force rebooted. Am I setting this correctly? Is there anything else I can try?

[2021-07-28 22:53] vikramswri opened #19213 "[python3] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: Visual Studio 2019 (v14.2)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install python3:x64-windows`

**Failure logs**
[code]
-Error log: [ensurepip-x64-windows-err.log](https://github.com/microsoft/vcpkg/files/6896855/ensurepip-x64-windows-err.log)

**Additional context**
-This issue occurred when attempting to install boost (64 bit

[2021-07-28 23:29] shilch opened #19214 "Linking fails on macOS Big Sur during bootstrap"
**Describe the bug**
When boostrapping `vcpkg` on macOS Big Sur the linking fails.

**Environment**
- OS: macOS Big Sur (11.5.1)
- Compiler: GNU 11.1.0 (automatically picked by the bootstrap script, there is also `Apple clang version 12.0.5 (clang-1205.0.22.11)` installed on the system as well as llvm 12.0.1 via brew)

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone https://github.

[2021-07-28 23:35] shilch commented on #19214
Grepping for the first undefined symbol from the log on `libvcpkglib.a`:
[code]

[2021-07-28 23:36] autoantwort commented on #19214
Do you have an arm mac?

[2021-07-28 23:37] shilch commented on #19214
Nope, Intel 64-bit.

[2021-07-28 23:49] shilch commented on #19214
Okay, I solved it. I had to run `brew uninstall binutils` (not unlink but uninstall) as per [this comment](https://github.com/openssl/openssl/issues/10709#issuecomment-589430851). It would be helpful if the bootstrap script could deal with binutils being installed.

[2021-07-29 01:40] NancyLi1013 commented on #19110
Thanks for looking into this problem and also for your help. @vadz  Sounds great!

[2021-07-29 02:19] JackBoosY commented on #14124
Okay. If anyone who meet this issue please ping me.

[2021-07-29 02:19] #14124 closed

[2021-07-29 02:28] shelman-zl opened #19215 "How do I add a compile parameter to support ssl when I compile the libevent?"
When asking a question please also include where you looked for an answer (so we can update the documentation if needed).
I wanna to compile the libevent, and it must support ssl, how can I add the compile the parameter?
I use: ./vcpkg install libevent, so I wanna compile to support ssl, I use ./vcpkg install libevent[ssl] does not work...

[2021-07-29 02:56] jjjkkyz opened #19217 "[VTK] How can I use QVTKWidget in QT Disigner?"
IN origin VTK installed, I will have QVTKWidget.dll in bin folder.
And I can put It into Qt designer plugins folder to import it.

But in vcpkg-builded vtk[core, qt], I can't find QVTKWidget.dll.
Although I still can use QVTKXXXXWidget, but it's not very convience.

So I am wonder is there any way to import QVTKWidget into Qt desinger？

[2021-07-29 03:07] JackBoosY commented on #19213
[code]

[2021-07-29 03:23] 9prady9 commented on #18952
This kind of eventually happened and our CI job fails running vcpkg command because Windows image now has CMake 3.21

@JackBoosY Any hints on the ETA for next vcpkg release ?

[2021-07-29 03:43] jayvdb opened #19218 "[New Port Request] sbp"
Library name: sbp

Library description: Swift Binary Protocol client libraries.  The Swift Navigation Binary Protocol (SBP) is used for communicating with Swift devices or with SBP data files, containing GNSS data.  These data files are part of the Google Smartphone Decimeter Challenge; c.f.
kaggle.com/c/google-smartphone-decimeter-challenge/discussion/238579

Source repository URL: https://github

[2021-07-29 03:49] cnSchwarzer commented on #17726
Yes, that's exactly the feature I'm looking forward! Thank you! Also thanks @strega-nil

[2021-07-29 03:49] #17726 closed

[2021-07-29 03:50] brycelelbach commented on #19177
I very much like the idea of not using GitHub APIs, that'd be much better from my end.

[2021-07-29 05:47] JonLiu1993 commented on #19169
Please wait for a stable version to be released

[2021-07-29 05:47] #19169 closed

[2021-07-29 05:53] PhoebeHui commented on #19211
@Baklap4, vcpkg has update libxmlpp to lastest version https://download.gnome.org/sources/libxml++/5.0/, does that match your requirements?

[2021-07-29 06:01] PhoebeHui commented on #19202
AFAIK, user-config.jam only configured for windows build.
See https://github.com/microsoft/vcpkg/blob/master/ports/boost-modular-build-helper/boost-modular-build.cmake#L323

[2021-07-29 06:24] dg0yt commented on #19189
Assuming that the warning do not matter.

Maybe the upload error is a size issue?
Unpacked size of gdal is 6.5 GB.
4.9 GB come from the more or less pointless and unstripped binaries in `packages/gdal_x64-linux/tools/gdal/debug/bin`.

[2021-07-29 06:28] #19214 closed

[2021-07-29 06:29] m-kuhn commented on #19189
It's a linux only issue, for mac and windows the package is pushed, I guess there's no considerable difference in size.

[2021-07-29 06:38] JonLiu1993 commented on #19210
@leha-bot ,Thanks for posting this issue.does your partition C: have free space? partition D?

[2021-07-29 06:57] dg0yt commented on #19189
Check, don't guess. Varying factors:
- System libraries
- Toolchain, flags, stripping.
- Linkage

[2021-07-29 07:05] JackBoosY commented on #18952
@9prady9 The update for cmake 3.21.0 is ready for merge now.

[2021-07-29 07:11] shelman-zl commented on #19215
@JonLiu1993 Hello, How can I add the "category:port-feature"? please give me the detail example, thank you.

[2021-07-29 07:23] Baklap4 commented on #19211
Sadly i can't quite port to libxmlpp 5 as of yet :( I've tried to add it yesterday, but got into a dependency hell with glibmm

[2021-07-29 07:38] JonLiu1993 commented on #19215
You can refer to it after I submit pr

[2021-07-29 07:46] PhoebeHui commented on #19211
@Baklap4, we recommend to use [overlay ports](https://github.com/microsoft/vcpkg/blob/master/docs/specifications/ports-overlay.md#3-proposed-solution) instead, you can change the libxmlpp to the version you want in your own ports.

[2021-07-29 08:09] georg-jung opened #19220 "[mozjpeg] update to latest commit 2021-07-21"
Library name: [mozjpeg](https://github.com/mozilla/mozjpeg)

New version number: newest release is [4.0.3](https://github.com/mozilla/mozjpeg/releases/tag/v4.0.3), which is newer then the version in vcpkg; latest commit from [2021-07-21](https://github.com/mozilla/mozjpeg/commit/512a7c3a51071981e4b314c9bc029f1daa3fb72b) has more improvements; the latest vcpkg version is already based on a commit,

[2021-07-29 08:52] Nemirtingas commented on #19202
Are you sure ? CMake manual says that @ONLY will replace all variables between %%, it doesn't mean it works only on Windows.
Some variables are populated like
@CURRENT_INSTALLED_DIR@
@VCPKG_PLATFORM_TOOLSET@

[2021-07-29 09:02] PhoebeHui commented on #19189
Failures:
[code]
I don't know more about this, the following links may help.

https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/422
https://stackoverflow.com/questions/16133923/400-vs-422-response-to-post-of-data
https://www.exai.com/blog/422-unprocessable-entity

[2021-07-29 09:10] NancyLi1013 commented on #19204
Hi @FrankL117

Thanks for posting this issue.

From msys-pacman-x64-windows-out.log
[code]
From msys-pacman-x64-windows-err.log

[code]

Could you please help check if `/var/cache/pacman/pkg/pkg-config-0.29.2-4-x86_64.pkg.tar.zst` exists on your machine? Please also check if you have the permission to access this file.

[2021-07-29 09:13] PhoebeHui commented on #19038
Related to https://github.com/NuGet/Home/issues/8580 and https://github.com/NuGet/Home/issues/10045.

It seems nuget issue on ubuntu, I'm not sure what should vcpkg do here, update the docs? @ras0219-msft @ras0219, could you please take a look?

[2021-07-29 09:13] NancyLi1013 commented on #19212
Hi @KalgogSmash

Thanks for posting this issue.

Could you please help check if you have installed `zlib:x64-windows `on your machine?
[code]

[2021-07-29 09:19] PhoebeHui commented on #19202
@Nemirtingas, sorry, I'm wrong, it also configured for linux and macOS via ports/boost-modular-build-helper/CMakeLists.txt, I missed that.

[2021-07-29 09:29] NancyLi1013 commented on #16171
Is this still a problem for you now? @seuwanglang

[2021-07-29 09:38] JackBoosY commented on #19217
cc @cenit @Neumann-A

[2021-07-29 09:41] JackBoosY commented on #19213
Can you clone a refresh vcpkg and try again?

Thanks.

[2021-07-29 09:51] PhoebeHui commented on #19140
@simon-winter, could you ask above question in https://github.com/microsoft/vcpkg/discussions/17272?

Closing in favor of https://github.com/microsoft/vcpkg/discussions/17272.

[2021-07-29 09:51] #19140 closed

[2021-07-29 09:51] NancyLi1013 commented on #17751
Related PR #18751.

[2021-07-29 09:53] Neumann-A commented on #6656
@JackBoosY:
 You can close https://gitlab.kitware.com/cmake/cmake/-/issues/22481.
 The vcpkg maintainer guidelines forbid messing with upstream naming as such I changed title of this issue to correctly reflect what needs to be done.

[2021-07-29 10:00] JackBoosY commented on #6656
@Neumann-A Any way, use `FindJPEG.cmake` will fail to find the debug library generated in vcpkg.
So I have an idea:
1. Export all the jpeg targets.
2. Add cmake wrapper to avoid use `FindJPEG.cmake` in vcpkg toolchain.

[2021-07-29 10:00] abaghiyan opened #19222 "[New Port Request] <pbrt-v4>"
Library name: pbrt, Version 4

Library description: Physically Based Rendering library contains many useful and efficient methods for 3D Geometry and Image Reconstruction for photorealistic computer graphics.

Source repository URL: https://github.com/mmp/pbrt-v4

Project homepage: https://pbrt.org/

Anything else that is useful to know when adding: Library has GPU support, so it would be great if

[2021-07-29 10:02] Neumann-A commented on #6656
Please no. Just fix the default `FindJPEG.cmake` which comes with CMake.

[2021-07-29 10:04] lsqtzj opened #19223 "Error: Building package libmysql:x64-windows failed with: BUILD_FAILED"
**Describe the bug**
A clear and concise description of what the bug is.

**Environment**
- OS: Windows 10
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install libmysql:x64-windows
2. See error
Repro code when

**Expected behavior**
vcpkg install libmysql:x64-windows
Computing installation plan...
warning: vcpkg appears to be in a Visual Studio prompt targetin

[2021-07-29 10:17] lsqtzj commented on #19223
copy /b mysql_system_tables.sql + mysql_system_tables_fix.sql D:\C++\vcpkg\buildtrees\libmysql\x64-windows-dbg\scripts\mysql_fix_privilege_tables.sql  Command syntax is incorrect
Needs to be changed to
copy /b mysql_system_tables.sql + mysql_system_tables_fix.sql "D:\C++\vcpkg\buildtrees\libmysql\x64-windows-dbg\scripts\mysql_fix_privilege_tables.sql"

[2021-07-29 10:24] #18336 closed

[2021-07-29 10:37] PhoebeHui commented on #1035
The original feature request was supported, for the multiple exported nuget packages usage issue, we would use
https://github.com/microsoft/vcpkg/discussions/19185 to track.

[2021-07-29 10:37] #1035 closed

[2021-07-29 10:42] shelman-zl commented on #19215
@JonLiu1993 thank you, I think I have solved this issue, I just modify the /ports/libevent/portfile.cmake file, as:
vcpkg_check_features(OUT_FEATURE_OPTIONS FEATURE_OPTIONS
    INVERTED_FEATURES
**_#    openssl EVENT__DISABLE_OPENSSL
#    thread  EVENT__DISABLE_THREAD_SUPPORT_**
)

I commented the openssl EVENT__DISABLE_OPENSSL and thread  EVENT__DISABLE_THREAD_SUPPORT, and add a define as: \
vcpk

[2021-07-29 10:45] shilch opened #19225 "Detect binutils on macOS during bootstrap"
On macOS during vcpkg bootstrap the linking fails if one has `binutils` installed via brew.
I think it would be helpful if the bootstrap script could deal with that.

****

**Is your feature request related to a problem? Please describe.**
#19214

**Proposed solution**
Don't use any of the `binutils` for compilation.
It looks like basically the issue is that the `ld` from `binutils` is used instea

[2021-07-29 10:54] keepitsimplejim opened #19226 "[qt5-base] build failure: qt5-base[core]:x64-linux -> 5.15.2"
**Host Environment**
- OS: x64-linux
- Compiler: gcc (GCC) 11.1.1 20210531 (Red Hat 11.1.1-3)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install --recurse qt5`
[code]
[config-x64-linux-dbg-err.log](https://github.com/microsoft/vcpkg/files/6899938/config-x64-linux-dbg-err.log)
[config-x64-linux-dbg-out.log](https://github.com/microsoft/vcpkg/files/6899940/config-x64-linux-dbg-out.l

[2021-07-29 10:55] lsqtzj commented on #19223
Directory name C++ has a special string, you can rename or move vcpkg to D:\

[2021-07-29 11:41] autoantwort commented on #19226
Try `apt-get install autopoint`

[2021-07-29 12:30] m-kuhn commented on #19189
Let me do some more checks

Also

- https://stackoverflow.com/questions/64322121/publishing-github-packages-returns-422-error
- https://github.community/t/gradle-maven-deploy-failing-with-422-unprocessable-entity/137299/3

Although capitTaliZation doesn't seem to be the issue here.

Not sure this qualifies as "question", it looks like an issue to me (which is not necessarily inside vcpkg)

[2021-07-29 12:57] Nemirtingas commented on #19202
The configuration of user-config.jam works when I cross-compile for MacOS, maybe its some issue with clang on Windows ?

[2021-07-29 13:03] smokhov opened #19228 "[libfreenect2] re-compile with OpenNI2 support"
****

**Is your feature request related to a problem? Please describe.**

The problem is by default the `vcpkg` version of libfreenect2 does not seem to include OpenNI2 support, whereas the default build of `libfreenect2` upstream includes it by default.

**Proposed solution**

Please re-build with the OpenNI2 support.

**Describe alternatives you've considered**

I am planning to have an OpenISS

[2021-07-29 14:18] m-kuhn commented on #19189
- "Original" package was 2.4GB
- After manually deleting tools (except gdal-config, even though I'm not sure that's still required), package size is down to 164MB

Manually pushing failed with a different message "Response status code does not indicate success: 409 (Conflict)" --> id changed and now it succeeds.

Not sure what to make from that. Apparently it succeeds to push. But I wonder where t

[2021-07-29 14:26] soroshsabz opened #19230 "[New Port Request] <7zip-cpp>"
Library name: 7zip-cpp

Library description: A fork of SevenZip++ for modern builds. Uses cmake to generate build files for desired Visual Studio version, see setup section for instructions.

Uses latest lzma1801 SDK

Source repository URL: https://github.com/getnamo/7zip-cpp

[2021-07-29 14:29] dg0yt commented on #19189
Thanks for checking @m-kuhn kuhn.

For consistency with other ports, I will add an optional `tool` features to gdal. However, I have to arrange this with other changes in my pipeline.

I agree to remove the debug variants of the tools (except for gdal-config). They are only kept for autotools projects, and I don't know why. (For `gettext[tools]`, I was just allowed to drop the debug variant for bu

[2021-07-29 15:00] FrankL117 commented on #19204
I was able to find this file and gave everyone permission to everything.  and now its this is logged as an error

CMD
`CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:72 (message):
    Command failed: C:/opt/ros/melodic/x64/tools/vcpkg/downloads/tools/msys2/msys64/usr/bin/bash.exe --noprofile --norc -c "pacman -S --noconfirm --needed pkg-config"
    Working Directory: C:/opt/ros/

[2021-07-29 15:02] ghost opened #19231 "Linking error with imgui[opengl3-glad-binding]"
**Describe the bug**
Trying to build an executable with `imgui[opengl3-glad-binding]` leads to a linking error. As you can see in the log snippet below, for some reason the linker is looking for `glew` symbols instead of `glad` symbols. `glew` and `imgui[opengl3-glew-binding]` packages are not even installed.

**Environment**
- OS: Ubuntu 21.04
- Compiler: GCC 11.1.0

**To Reproduce**
The minimal

[2021-07-29 15:09] ivanshilo opened #19232 "[grpc] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: MS VS 2017

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install grpc:x64-windows`

**Failure logs**
Building package grpc[codegen,core]:x64-windows...
-- Note: grpc only supports static library linkage. Building static library.
-- Using C:/grpc/vcpkg/downloads/grpc-grpc-44c40ac23023b7b3dd82744372c06817cc203898.tar.gz
-- Cleaning sour

[2021-07-29 15:23] GRSuggitt opened #19233 "Cannot build vcpkg in Docker"
I need the Azure SDK in a Docker container
The Azure SDK is installable using vcpkg

But as far as I can tell there is no way to simply install vcpkg (apt-get nstall vcpkg). It must be clones and built.

But building fails.

Here is the Dockerfile:

[code]

And the output from RUN ./vcpkg/bootstrap-vcpkg.sh is:

[code]

I think memory is not a problem. I am running DockerDesktop on a Windows machi

[2021-07-29 15:47] KalgogSmash commented on #19212
@NancyLi1013 yes, I confirmed ZLIB is installed:

C:\GDAL\vcpkg>vcpkg install zlib:x64-windows
Computing installation plan...
The following packages are already installed:
    zlib[core]:x64-windows -> 1.2.11#11
Package zlib:x64-windows is already installed

Total elapsed time: 831.2 us

[2021-07-29 17:40] skaarj1989 opened #19234 "[bullet3] find_package failure"
**Host Environment**
- OS: `Windows10` and `Ubuntu 20.04.1 LTS`
- Compiler: `Microsoft Visual C++ 2019`
- CMake: `3.16.3` and `3.21.1`

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install bullet3`

[code]

**Failure logs**
[code]

**Additional context**
Previous version (2.89-1) worked just fine.

[2021-07-29 17:45] autoantwort commented on #19233
gcc version is too old. You need I think at least gcc 7

[2021-07-29 17:50] Hoikas commented on #19123
Closed by #19157

[2021-07-29 17:50] #19123 closed

[2021-07-29 18:10] GRSuggitt commented on #19233
You are right - my base image - node:12 - is just too old. Changing to node:16 worked

[2021-07-29 18:10] #19233 closed

[2021-07-29 19:38] marcfischer123467 commented on #18449
I still have this issue.  https://github.com/microsoft/MixedReality-SpectatorView/issues/455
Could someone give me advice on how I would go about patching it?

[2021-07-29 19:48] Nemirtingas commented on #19202
For Linux/Unix builds, vcpkg configures the user-config.jam at
https://github.com/microsoft/vcpkg/blob/master/ports/boost-modular-build-helper/boost-modular-build.cmake#L111
and
https://github.com/microsoft/vcpkg/blob/master/ports/boost-modular-build-helper/boost-modular-build.cmake#L76

This step is not called on Windows case because of
https://github.com/microsoft/vcpkg/blob/master/ports/boost-m

[2021-07-29 21:25] ianmcook opened #19235 "[tensorflow-cc] build failure"
**Host Environment**
`x64-windows`

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install tensorflow-cc:x64-windows-static`

**Failure logs**
Install log shows this error:
[code]

`config-x64-windows-static-dbg-out.log` shows this:
[code]

**Additional context**
This seems to have been caused by this change to `scripts/cmake/vcpkg_find_acquire_program.cmake` on 2021-07-22 which update

[2021-07-29 22:04] keyvan136181 opened #19237 "The search result may be outdated. Run `git pull` to get the latest results."
Install PETSc library with vcpkg.

[2021-07-29 22:20] Nemirtingas commented on #19202
I successfully cross-compiled boost-thread and boost-exception, here are my changes:
https://github.com/Nemirtingas/vcpkg/commit/4ab844882c26d849b5d8ebda36511fec095246c4

Theses changes are not to be applied on vcpkg code as it will break boost compilation on Windows, but it can be used as a base idea to fix cross-compilation.

[2021-07-29 22:30] mathisloge commented on #19231
Have you defined `IMGUI_IMPL_OPENGL_LOADER_GLAD`  ? Make sure that `IMGUI_IMPL_OPENGL_LOADER_GLEW` isn't defined somewhere. The CMake wrapper don't add any compile definitions. So that should be on your side.

So if you haven't defined anything, imgui tries to detect the loader by itself. https://github.com/ocornut/imgui/blob/ad5d1a8429ea219d3d34e6a36a48918650402697/backends/imgui_impl_opengl3.h#L

[2021-07-29 22:40] mathisloge commented on #19231
And just to expand it a bit further:
You might get different results depending on the platform you are using. If some application has installed `libglew-dev` the headers are present in the global include dir of linux. So the line `#if __has_include(<GL/glew.h>)` resolves to true and therefore defines `IMGUI_IMPL_OPENGL_LOADER_GLEW` . But the libraries aren't present in the link defines and resulti

[2021-07-29 22:41] ivanshilo commented on #5383
I have spent quite a lot of time to find this:
in `ports\opencv4\portfile.cmake` it will activate freetype module only if ask for `opencv4[ovis]` feature.
`if(BUILD_opencv_ovis)
    string(APPEND DEPS_STRING "\nfind_dependency(Ogre)\nfind_dependency(Freetype)")
  endif()`

This is unfortunate because 'ovis' brings a lot of other libraries as dependecies which I absolutely do not need.
Is it possib

[2021-07-29 23:28] autoantwort commented on #19237
What is your question?

[2021-07-29 23:42] alexkaratarakis opened #19240 "[python3] build failure "pycore_byteswap.h: No such file or directory""
**Host Environment**
- OS: Ubuntu 20.04 64-bit
- Compiler:
[code]

**To Reproduce**
`./vcpkg install python3`

[code]

vcpkg commit hash: fa1bbe097b26678e3fd992173b62279c071c422b

[code]

Note: there is an existing ticket about python3 not building (https://github.com/microsoft/vcpkg/issues/19213) but that error seems different than the one in this ticket.

[install-x64-linux-dbg-err.log](https://

[2021-07-30 01:57] PhoebeHui opened #19241 "Visual Studio integration only works when IDE version matches Toolchain version"
### Discussed in https://github.com/microsoft/vcpkg/discussions/19224

<div type='discussions-op-text'>

<sup>Originally posted by **ocornut** June  8, 2021</sup>
**Describe the bug**

I have variety of VS version installed. For this report I'll focus on VS 2015 Update 3 and VS 2019.

When project is setup to use v140 toolchain (VS2015): integration is available in VS2015.
Same project loaded in V

[2021-07-30 02:00] NancyLi1013 commented on #19204
[code]
Could you please try to remove `msys2 `form `vcpkg_root/downloads` and then rebuild this?

_C:/opt/ros/melodic/x64/tools/vcpkg/downloads/tools/msys2_
_C:/opt/ros/melodic/x64/tools/vcpkg/downloads/_

Please refer to this issue https://github.com/microsoft/vcpkg/issues/11603

[2021-07-30 02:00] PhoebeHui commented on #19235
PR https://github.com/microsoft/vcpkg/pull/19165 would fix this issue.

[2021-07-30 02:06] ianmcook commented on #18538
Hi @xanderdunn, sorry I didn't see this earlier.

The CMake examples I have seen use `find_package(Arrow REQUIRED)`. Does that work? There's more info at https://arrow.apache.org/docs/cpp/build_system.html.

PS I just opened https://github.com/microsoft/vcpkg/pull/19229 to update the arrow port to 5.0.0.

[2021-07-30 02:21] JackBoosY commented on #6656
@Neumann-A  We can't patch `FindJPEG.cmake` in our side, the only way is add wrapper or copy the correct `FindJPEG.cmake` to _share/JPEG_.

[2021-07-30 02:29] PhoebeHui commented on #19232
@ivanshilo, thanks for reporting this issue! I can repro this issue locally.

[code]

[2021-07-30 02:31] NancyLi1013 commented on #19225
Hi @shilch

Thanks for posting this issue.

I install `binutils ` via `brew install binutils` on my machine, then run `./bootstrap-vcpkg.sh` successfully without any errors.

I noticed that you used `git checkout 2021.05.12` in #19214. Could you please try to update to the latest vcpkg to rebuild?

[2021-07-30 02:33] JackBoosY commented on #18670
Hi @powel-jeh, since #19157 was merged. can you please try again?

[2021-07-30 02:43] JackBoosY commented on #19240
Can you please provide the -out log?
I need to take a look at the gcc command line.

[2021-07-30 02:46] #19215 closed

[2021-07-30 02:53] liuchangji opened #19242 "Error: Building package libjpeg-turbo:x64-windows failed with: BUILD_FAILED How do I fix it?"
Environment

OS: Windows 10 x64
Compiler:  VS2015

see error
[code]

[2021-07-30 03:11] dg0yt commented on #6656
@JackBoosY Together with the issue's title, I assume @Neumann-A meant fixing *by adding a suitable wrapper*, not fixing the module files. It was meant to make clear that it is wrong to "avoid use FindJPEG.cmake".

[2021-07-30 03:12] PhoebeHui commented on #19232
@ivanshilo, could you remove upb:x64-windows and reinstall grpc again? I can't repro this issue with latest clean vcpkg source, and previous reproed with installed an old upb version.

[2021-07-30 03:31] dg0yt commented on #17607
One more point on `tools/debug/bin`:  For ports based autotools/`vcpkg_configure_make`, the debug variant of tools is always built and installed. Is this needed, or shall portfile maintainers try to avoid this?
For port gdal, with static linking as only option on linux, on-disk size is 6.5 GB, with 4.9 GB alone for the unstripped binaries in `tools/gdal/debug/bin`.

[2021-07-30 05:48] m-kuhn commented on #19189
For reference, this builds and pushes

https://github.com/opengisch/QField/commit/1ade71b196393973b3a6c9f87f0f9b23923f943d

[2021-07-30 06:11] PhoebeHui commented on #7334
@ThadHouse, do you have a chance to double confirm it?

[2021-07-30 06:13] ThadHouse commented on #7334
I'm so sorry I forgot to test. I have easier access to shares so I'll give it a quick try tomorrow.

[2021-07-30 06:23] Dylan-Davies commented on #19231
Yes, I have thought of this. Adding this define to my source doesn't change anything. But that's not a surprise since the linker errors are emited from `libimguid.a` not from my object file. There are `glew` headers in my `/usr/include/` directory and maybe they were picked up when `libimguid.a` was built, but that would be a vcpkg bug.

[2021-07-30 06:40] mathisloge commented on #19231
Oh yeah. I see. Sorry for the false info I gave. Actually that will be tricky now. Since the loader have to be known at compile time. I think there was somewhere a discussion to be able to add a custom imgui config file. But that's currently only possible with overlay ports. (would be know the fastest solution to your problem. Copy all sources from the imgui port, add a compile definition to the g

[2021-07-30 06:45] dg0yt commented on #19189
@m-kuhn IMO your change change confirms that nuget (upload) error is related to size.
We can work on the feature `tools` together. I can't really author non-trivial changes to the MSVC part of the portfile.

[2021-07-30 06:46] m-kuhn commented on #19189
I agree, good enough of an indicator

I'll create a PR with my patch above and a new feature added

[2021-07-30 07:07] mathisloge commented on #19231
Just to help you getting started with overlay ports:

General overlay ports:
https://github.com/microsoft/vcpkg/blob/master/docs/specifications/ports-overlay.md

If you are using manifests:
https://github.com/microsoft/vcpkg/blob/master/docs/users/manifests.md
add the path (could be relative to your projet root) to VCPKG_OVERLAY_PORTS and set the CMAKE_TOOLCHAIN_FILE

[2021-07-30 07:17] #12862 closed

[2021-07-30 07:17] JackBoosY commented on #16438
@pkeir  Can you please pull my latest changes and test again? And use the following code:
[code]

[2021-07-30 07:20] NancyLi1013 commented on #19231
@Dylan-Davies

You may try to solve the problem refer to this https://github.com/microsoft/vcpkg/issues/14753#issuecomment-782899582.

@mathisloge

Thanks for your help to look into this issue.

[2021-07-30 07:32] mathisloge commented on #14753
@JackBoosY https://github.com/ocornut/imgui/blob/ad5d1a8429ea219d3d34e6a36a48918650402697/backends/imgui_impl_opengl3.h#L68 this would led to the definition of the flags.

[2021-07-30 07:50] NancyLi1013 commented on #19223
Hi @lsqtzj

Thanks for posting this issue.

[code]
Could you please install English language pack and then rebuild this?

[2021-07-30 07:59] Dylan-Davies commented on #19231
Thanks for the suggestions. I have managed to make it work with an overlay port where I just added
[code]
as proposed in the other issue. Any reason why the problem shouldn't be solved just by adding the compile definitions for all backends like that?

BTW, in the related issues some users complain about unable to use multiple bindings side by side. Maybe it would be a good idea to provide separat

[2021-07-30 08:25] PhoebeHui commented on #9139
This is already supported, see https://github.com/microsoft/vcpkg/blob/master/docs/users/triplets.md#vcpkg_platform_toolset.

[2021-07-30 08:30] #9139 closed

[2021-07-30 08:30] JackBoosY commented on #14753
@mathisloge Therefore, these definitions should not be added to the compilation options, because they will be automatically defined.

[2021-07-30 08:33] JackBoosY commented on #19231
@Dylan-Davies Please see https://github.com/microsoft/vcpkg/issues/14753#issuecomment-889693559 and https://github.com/microsoft/vcpkg/issues/14753#issuecomment-889731841.

[2021-07-30 08:36] cwangbh commented on #15592
Dear all,

In my case, i do not have the whitespace in my path. However, i still cannot build the libiconv library. And is this related to the specified path `DESTDIR=/D/SmartMore/projects/self/2021_0401_PCB/static-test-kicad-gerberview-static/vcpkg/vcpkg/packages/libiconv_x64-windows-static` that i give when using the make.exe command
The error is shown as belows:
[code]

[2021-07-30 08:43] mathisloge commented on #14753
@JackBoosY  i think @Dylan-Davies has a point there (https://github.com/microsoft/vcpkg/issues/19231#issuecomment-889712512). Since these preprocessors would be evaluated at vcpkg-build time.
So we could at opengl targets (since it only affects opengl) which all specify the correct compile definitions.
e.g.
[code]

[2021-07-30 08:47] mathisloge commented on #14753
Just as a sidenode: if there is a loader defined beforehand, the detection would be disabled.
https://github.com/ocornut/imgui/blob/ad5d1a8429ea219d3d34e6a36a48918650402697/backends/imgui_impl_opengl3.h#L47

[2021-07-30 08:49] NancyLi1013 commented on #15592
Please provide the error info from  _D:\SmartMore\projects\self\2021_0401_PCB\static-test-kicad-gerberview-static\vcpkg\vcpkg\buildtrees\libiconv\install-x64-windows-static-dbg-out.log_
or
_D:\SmartMore\projects\self\2021_0401_PCB\static-test-kicad-gerberview-static\vcpkg\vcpkg\buildtrees\libiconv\install-x64-windows-static-dbg-err.log_.

[2021-07-30 09:05] JonLiu1993 commented on #19237
@keyvan136181 ,Thanks for posting this issue.
Could you describe your issue in detail, as well as the reproduction environment and reproduction steps? And provide a complete error log

[2021-07-30 09:14] cwangbh commented on #15592
@NancyLi1013  the file `\install-x64-windows-static-dbg-out.log`

[code]

and the file `install-x64-windows-static-dbg-err.log`
[code]

[2021-07-30 09:17] #8009 closed

[2021-07-30 09:19] JackBoosY commented on #19242
Please provide failure log _D:\vcpkg-master\buildtrees\libjpeg-turbo\config-x64-windows-out.log_.

Thanks.

[2021-07-30 09:20] #6572 closed

[2021-07-30 09:20] JackBoosY commented on #19234
This issue is related to the cmake version.

[2021-07-30 09:22] JackBoosY commented on #19210
[code]

[2021-07-30 09:25] JackBoosY commented on #19210
Related code in https://github.com/microsoft/vcpkg-tool/blob/main/include/vcpkg/base/files.h#L140-L143:
[code]

cc @BillyONeal

[2021-07-30 09:27] JackBoosY commented on #19151
Please provide the powershell version in your system.

Thanks.

[2021-07-30 09:29] NancyLi1013 commented on #19231
@Dylan-Davies

As you can see as follows:

If you have installed `glew `on your machine, namely checks `GL/glew.h`, it will not check other headers such as `glad/glad.h`.

We need to confirm with upstream if this is by design.
[code]

[2021-07-30 09:29] JackBoosY commented on #19151
https://github.com/microsoft/vcpkg/blob/fa1bbe097b26678e3fd992173b62279c071c422b/scripts/bootstrap.ps1#L33-L36

Please install Windows 10 SDK first.

[2021-07-30 09:32] mathisloge commented on #19231
@NancyLi1013  please see https://github.com/microsoft/vcpkg/issues/14753#issuecomment-889739471 and https://github.com/microsoft/vcpkg/issues/14753#issuecomment-889741206

[2021-07-30 09:37] Dylan-Davies commented on #19231
@NancyLi1013

Yes, my understanding is that if you don't want the bindings to be auto-detected, you are supposed to define one of the `IMGUI_IMPL_OPENGL_LOADER_*` macros before including `imgui_impl_opengl3.hpp`. This is what `target_compile_definitions` command that I cited accomplishes.

[2021-07-30 09:39] jdx-john opened #19249 "GDAL installed to wrong location?"
I added GDAL to my existing vcpkg setup. It built a load of dependencies and reports being successfully installed but initially I could't find it. I tested on two separate machines and got the same result:

![image](https://user-images.githubusercontent.com/1654627/127632311-cde5ee82-94eb-4e5e-88a7-6e68a69740c1.png)

I can see several of the dependencies listed now but no `gdal` folder. Looking ar

[2021-07-30 09:39] JackBoosY commented on #14753
@mathisloge Make sence, but we should wait for the upstream reply first.

[2021-07-30 09:43] BillyONeal commented on #19210
Which version is your vcpkg.exe?

[2021-07-30 09:45] jdx-john commented on #19249
I can't tell if this is intended - it seems a bit odd but it is possible - or a bug

[2021-07-30 09:48] PhoebeHui commented on #6387
@Neumann-A, I think we have improvements now, does it match your original request?

https://github.com/microsoft/vcpkg/blob/master/docs/maintainers/cmake-guidelines.md#cmake-versions-to-require
https://github.com/microsoft/vcpkg/blob/master/scripts/ports.cmake

[2021-07-30 09:54] JackBoosY commented on #19249
Can you provide the file list in _VCPKG_ROOT/packages/gdal_x64-linux/include_ ?

[2021-07-30 09:59] PhoebeHui commented on #2087
We recommend to create a custome triplet instead.
Related to https://github.com/microsoft/vcpkg/issues/12292.

[2021-07-30 09:59] #2087 closed

[2021-07-30 10:10] jdx-john commented on #19249
Not on Linux but I assume you mean my chosen triplet. It may be this is a special branch of GDAL, when I look in headers they seem to adopt the same flat approach in their own `#includes`

[code]

[2021-07-30 10:21] dg0yt commented on #19249
It is not "flattened" but simply the install tree layout, by install rules determined by GDAL, not vcpkg.
The source tree layout is for building GDAL.

Your include statement is not canonical use of GDAL:
You should use `#include <ogr_geometry.h>`. etc.
For reference, cf. https://gdal.org/tutorials/vector_api_tut.html

I think this is intentional, for convenience of Visual Studio users. (Disclaime

[2021-07-30 12:22] shilch commented on #19225
Hi @NancyLi1013, I just tried with the latest commit on master branch with the same issue.
You can find a recording here: https://asciinema.org/a/k5nP17v9KWzInGxOTL1UIEGsN

[2021-07-30 12:30] simon-winter opened #19251 "Building QT5 crashes with permission denied"
Hi there,

I install several ports from the public vcpkg ports and also 1 from a private registry.
These work.
Now i want to also install _qt5-base_ with vcpkg and get a  _permission denied_ error and don't know what to do.
i tried a _chmod 777 -R_ on the vcpkg dir, but that didnt help.

**Host Environment**
- OS: WSL, Ubuntu 20.04
- Compiler: GCC

**Failure logs**
[code]

[2021-07-30 12:50] Yamakaky opened #19252 "[SDL] enable hidapi"
****

**Is your feature request related to a problem? Please describe.**
Since a few versions, SDL uses HIDAPI for some game controller features, most notably access to the gyroscope and accelerometer data. This isn't included currently in vcpkg, so only the buttons and joysticks work.

**Proposed solution**
From [what I can see](https://github.com/libsdl-org/SDL/blob/main/cmake/sdlchecks.cmake#L1

[2021-07-30 13:35] FrankL117 commented on #19204
were back at the corrupted error message.

[Eigen3.errorLog.txt](https://github.com/microsoft/vcpkg/files/6907791/Eigen3.errorLog.txt)
[msys-pacman-x64-windows-err.log](https://github.com/microsoft/vcpkg/files/6907796/msys-pacman-x64-windows-err.log)
[msys-pacman-x64-windows-out.log](https://github.com/microsoft/vcpkg/files/6907797/msys-pacman-x64-windows-out.log)

[2021-07-30 15:18] xxkat opened #19253 "[New Port Request] VTIL-Core"
Library name:
`VTIL-Core
`
Library description:

Source repository URL:
_https://github.com/vtil-project/VTIL-Core_

Project homepage (if different from the source repository):
_https://vtil.org/_

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2021-07-30 15:29] vega0 opened #19254 "How do I install brotli through vcpkg?"
[code]

[2021-07-30 16:47] draveness opened #19255 "yaml-cpp update to 0.7.0"
Library name: yaml-cpp

New version number: 0.7.0

Other information that may be useful (release notes, etc...)

https://github.com/jbeder/yaml-cpp/releases/tag/yaml-cpp-0.7.0

[2021-07-30 17:46] PJBoy commented on #18760
Any plans for this issue? If it ends up being a "won't fix", then I'll be raising a bug on the readme file on the snippet quoted by Hemaolle

[2021-07-30 23:46] Hoikas opened #19260 "[ffmpeg] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: Visual Studio 16 2019 16.10

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install ffmpeg:x64-windows`

Only classic mode appears to be affected.

**Failure logs**
[code]

[2021-07-30 23:46] alexkaratarakis commented on #19240
Did a fresh run, here is the `-out` and `-err` logs:

[install-x64-linux-dbg-err.log](https://github.com/microsoft/vcpkg/files/6910349/install-x64-linux-dbg-err.log)
[install-x64-linux-dbg-out.log](https://github.com/microsoft/vcpkg/files/6910350/install-x64-linux-dbg-out.log)

[2021-07-31 00:49] liuchangji commented on #19242
Thank you for your reply!
The log is below.

[config-x64-windows-out.log](https://github.com/microsoft/vcpkg/files/6910433/config-x64-windows-out.log)

[2021-07-31 02:18] allaboutfuture commented on #18688
hi! Maria ,Do you solve your problem？I got the same error like you got。Can you tell me how to install yasm -tool，thx!

[2021-07-31 03:32] e9x opened #19261 "magnum:x64-windows build failure"
**Host Environment**
- OS: Windows 11
- Compiler: Not relevant; Nothing can be compiled

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install --head corrade:x64-windows magnum:x64-windows`

**Failure logs**
[code]

**Additional context**
As far as I can tell, git can't apply the patch 001-tools-path which is necessary for the port.
I am able to install magnum:x64-windows without the

[2021-07-31 06:24] draveness opened #19262 "ryml build failure"
**Host Environment**
- OS: macOS
- Compiler: clang

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install xxxx`

**Failure logs**

[code]

**Additional context**
Add any other context about the problem here, such as what you have already tried to resolve the issue.

[2021-07-31 07:43] vega0 opened #19263 "Got an error when installing boost-regex"
compile-c-c++ D:\workspace\cpp.licenses\src\cpprestsdk\vcpkg\buildtrees\boost-regex\x86-windows-rel\boost\build\64c60debac8240633333a6301148bbec\posix_api.obj
posix_api.cpp
compile-c-c++ D:\workspace\cpp.licenses\src\cpprestsdk\vcpkg\buildtrees\boost-regex\x86-windows-rel\boost\build\64c60debac8240633333a6301148bbec\cregex.obj
cregex.cpp
compile-c-c++ D:\workspace\cpp.licenses\src\cpprestsdk\vcpkg

[2021-07-31 08:59] Xingchen1224 commented on #18744
Download & rename the file works for me, specifically:
1. Download the zip file form https://github.com/NVIDIA/NVIDIAOpticalFlowSDK/archive/edb50da3cf849840d680249aa6dbef248ebce2ca.zip
2. **Copy** & **Rename** it to (YOUR_VCKPG_PATH)/downloads/opencv-cache/nvidia_optical_flow/a73cd48b18dcc0cc8933b30796074191-edb50da3cf849840d680249aa6dbef248ebce2ca.zip

[2021-07-31 12:05] sfhacker commented on #18688
Are we STILL having issues with yasm?

[2021-07-31 14:08] Be-ing commented on #19260
I encountered this on x64-linux.

[2021-07-31 14:46] HongGan opened #19266 "[Package: boost-config:x86-windows] build failure, lack of windows sdk"
**Host Environment**
- OS: [e.g. Windows/Linux etc...]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install xxxx`

**Failure logs**
-Cut and past the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

**Additional context**
Add any other context about the problem here, such as what you

[2021-07-31 14:50] autoantwort commented on #19266
Please fill out the issue template :)

[2021-07-31 14:59] autoantwort commented on #19260
Was changed in https://github.com/microsoft/vcpkg/pull/18839, but should work. Has the port the dependency to `vcpkg-cmake`?

[2021-07-31 15:01] autoantwort commented on #19260
I don't know classic mode that much, but maybe an old version of vcpkg-cmake was already installed, but ffmpeg needs the updated version of vcpkg-cmake. So maybe do a `vcpkg upgrade`

[2021-07-31 16:06] Be-ing commented on #19260
`vcpkg upgrade` fixed it, thanks.

[2021-07-31 16:13] Be-ing commented on #19260
I think the ffmpeg port should specify a minimum version for vcpkg-cmake?

[2021-07-31 16:26] MarkVabulas opened #19267 "Failure with vcpkg.json manifest file and azure-"
**Describe the bug**
When trying to use a vcpkg.json manifest file, it works with every library except the azure-* ones.  The vcpkg install works correctly from the command line.  It does NOT work when using the manifest file.  Adding "version>=" entry for each one does not solve the issue.  This issue was found by using the vcpkg integration with Visual Studio Manifest file.  The Manifest file wo

[2021-07-31 16:40] ThadHouse commented on #7334
I just double checked with the latest build, and yes this is still a problem. I get the same error.

[2021-07-31 17:07] kklobe commented on #18663
@NancyLi1013 since there has been no activity on this I am happy to submit a PR to properly update the installed `tweakme.h` as per the Homebrew example mentioned above. Please let me know if you have any concerns about this approach.

To clarify, `tweakme.h` modifications are not an upstream issue and are specifically intended for the local installation to customize the behavior, https://github.c

[2021-07-31 18:07] autoantwort commented on #19261
So the port builds normally, but you are requesting a port update :)

[2021-07-31 18:12] autoantwort commented on #19261
Ah it is already uses the latest release, but the latest release is one year old.

[2021-07-31 18:23] e9x commented on #19261
I am not requesting a port update because this is a bug. Building from the head branch should have worked.

[2021-07-31 18:30] svew opened #19271 "[libigl] Add new feature: CGAL"
libigl has a few features which can only be used with CGAL. It would be helpful to be able to install the version of libigl that turns the LIBIGL_WITH_CGAL flag on. Dependency would be on the CGAL library. Libigl specifies no particular version of CGAL

[2021-07-31 18:40] autoantwort commented on #19260
Seems that this is not possible

[2021-08-01 02:32] autoantwort commented on #16520
I don't know what you need, but I have created a small demo. I build a port with errors. Opens the package folder in the finder and move some folders up, "fix" the error (and have trouble with binary caching ;) ), build again and then get the `.DS_Store` error.

https://user-images.githubusercontent.com/41973254/127757149-7fe82d82-e810-4e15-b7c6-369c3685a044.mp4

[2021-08-01 03:25] alvarogalloc opened #19275 "[New Port Request] <ShaderConductor>"
Library name:
**Shader Conductor**

Library description:
**ShaderConductor is a tool designed for cross-compiling HLSL to other shading languages.**

Source repository URL:
https://github.com/microsoft/ShaderConductor

[2021-08-01 04:28] Fenrirthviti commented on #14902
I've validate that this error does not seem to occur locally with latest master of the vcpkg repo, but I will need additional time to test in CI to validate it's properly fixed there as well.

[2021-08-01 08:42] axelriet opened #19277 "Error: Building package cairo:x86-windows failed with: BUILD_FAILED"
Error: Building package cairo:x86-windows failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `.\vcpkg update`, then
submit an issue at https://github.com/Microsoft/vcpkg/issues including:
  Package: cairo:x86-windows
  Vcpkg version: 2021-05-05-9f849c4c43e50d1b16186ae76681c27b0c1be9d9

That is all I know.

[2021-08-01 08:51] MohamadHalwani commented on #15150
I'm facing the exact same issue, and nothing here solved the issue !
Any suggestions ?

[2021-08-01 12:15] autoantwort commented on #19277
Hi, please provide the logs :)

[2021-08-01 12:42] MarkVabulas commented on #19267
Everything installs correctly when I run:
"D:\vcpkg\scripts\buildsystems\msbuild\..\..\..\vcpkg.exe" install  --x-wait-for-lock --triplet "arm64-windows" --vcpkg-root "D:\vcpkg\scripts\buildsystems\msbuild\..\..\..\\" "--x-install-root=D:\Sample\vcpkg_installed\\" azure-core-cpp azure-identity-cpp azure-storage-blobs-cpp azure-storage-common-cpp azure-storage-files-datalake-cpp azure-storage-files

[2021-08-01 13:22] autoantwort opened #19278 "x-add-version does not recognize removed ports"
**Is your feature request related to a problem? Please describe.**
When you remove a port and run `x-add-version --all`, the port does not gets removed from the `baseline.json` file

**Proposed solution**
The entry in the `baseline.json` file should be removed

**Describe alternatives you've considered**
`vcpkg x-add-version portname` reports that the `portname` does not exist (yeah because it was

[2021-08-01 22:15] jedfrechette opened #19283 "[PoissonRecon] update to 13.72"
Library name: PoissonRecon

New version number: 13.72

Other information that may be useful (release notes, etc...)

It looks like upstream doesn't tag releases, but this is the relevant commit:

https://github.com/mkazhdan/PoissonRecon/commit/28934e8798422aca09e5a54bb439b0e193615582

[2021-08-02 01:42] NancyLi1013 commented on #18663
Thanks for your further investigation and clarification about this issue. It would be great if you want to submit a PR for this.

[2021-08-02 02:00] PhoebeHui commented on #19266
@HongGan, could you attach the full failure logs?

[2021-08-02 02:13] #4004 closed

[2021-08-02 02:16] #3898 closed

[2021-08-02 02:19] PhoebeHui commented on #3142
I agree with linquize, please try above suggestions.

[2021-08-02 02:19] #3142 closed

[2021-08-02 03:07] joker-charles opened #19289 "[boost] build failure"
**Host Environment**
- OS: Windows
- Compiler: 用于 x64 的 Microsoft (R) C/C++ 优化编译器 19.29.30040 版
版权所有(C) Microsoft Corporation。保留所有权利。

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install boost opencv`

**Failure logs**
-Cut and past the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

**Additional contex

[2021-08-02 05:43] #4383 closed

[2021-08-02 05:44] PhoebeHui commented on #7334
@ThadHouse, thanks for confirm this problem!

[2021-08-02 05:46] #7334 closed

[2021-08-02 05:50] JackBoosY commented on #19242
Please ensure you've installed the English Lanuage Package using Visual Studio Installer first.

[2021-08-02 05:50] NancyLi1013 commented on #15592
Could you please try to update vcpkg to the latest via `git pull` to rebuild this?

[2021-08-02 05:52] JackBoosY commented on #15497
Why did you close this PR? It's not resolved yet.

[2021-08-02 05:53] PhoebeHui commented on #19263
@vega0, do you install windows sdk? if not, please install it via installer and try again, please also install the English language pack via installer.

[2021-08-02 05:58] liupeiqiHN opened #19292 "When updating package, please download first and then removing"
Due to the China Great Firewall affect internet speed, Github download speed is slow ( <50k/s is very common ), and downloads failure often happens. So this cause a problem, when I want to update all outdated packages `vcpkg upgrade --no-dry-run`, vcpkg will remove all outdated packages first and then download the newest packages from GitHub, but if the download failure, this upgrade process will

[2021-08-02 06:00] IshaanKarnik opened #19293 "[New Port Request] wjwwood/serial (Serial Communication Library)"
Library name: wjwwood/serial (Serial Communication Library)

Library description: This is a cross-platform library for interfacing with RS-232 serial like ports written in C++. It provides a modern C++ interface with a workflow designed to look and feel like PySerial, but with the speed and control provided by C++.

Source repository URL: https://github.com/wjwwood/serial.git

Project homepage : h

[2021-08-02 06:14] JackBoosY commented on #15150
@MohamadHalwani See https://github.com/microsoft/vcpkg/issues/16486#issuecomment-789374352

[2021-08-02 06:29] PhoebeHui commented on #19289
@joker-charles, could you get vcpkg latest source via 'git pull' and 'bootstrap-vcpkg.bat' and try again?

[2021-08-02 06:34] NancyLi1013 commented on #19235
Hi @ianmcook

Since PR #19165 has been merged, this issue should be fixed now. Please update to the latest vcpkg via `git pull` to rebuild this.

[2021-08-02 06:34] #19235 closed

[2021-08-02 06:35] JackBoosY commented on #19260
[code]
Please bootstrap again.

[2021-08-02 06:38] JackBoosY commented on #19251
As your title said, I believed that you should set the account / folder permission.

[2021-08-02 06:41] NancyLi1013 commented on #19277
Hi @axelriet

Thanks for posting this issue.

Please provide the detailed error info. Also, please update to the latest vcpkg via `git pull `to rebuild this.

[2021-08-02 06:46] JackBoosY commented on #19240
[code]

`pycore_byteswap.h` does exist in `./../src/v3.9.6-574082bd8a.clean/Include/internal`, but there is no `cfield.c` in my log. Why?

[2021-08-02 06:54] JackBoosY commented on #19240
Can you please also provide the config logs?

[2021-08-02 06:55] joker-charles commented on #19289
This package(Python3) must use MSVC v141 -VS 2017 C++ to build .and if use MSVC v142 -VS2019 It will be build failure。

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

发件人: ***@***.***>
发送时间: 2021年8月2日 14:29
收件人: ***@***.***>
抄送: Joker ***@***.***>; ***@***.***>
主题: Re: [microsoft/vcpkg] [<port name>] build failure (#19289)

@joker-charles<https://github.com/joker-charles>, c

[2021-08-02 06:57] NancyLi1013 commented on #19261
Hi @e9x

Thanks for posting this issue.

Since this is caused by using `--head` instead of the stable version in vcpkg. We cannot make sure if this can work fine on unstable git commit.

If you have the request to the new changes on master, you can use [overlay-ports](https://github.com/microsoft/vcpkg/blob/master/docs/specifications/ports-overlay.md) to update the patch on your local.

[2021-08-02 07:05] joker-charles commented on #19289
It seem to I am in China, soI have difficulty downloading files on github，so boost-pool was build failed。And I found another reson to build boost-python failure。because python3 can only be built by vs2017(MSVC v141 VS2017 C++tooset)。So when I only have VS2019, it failed to build。

[2021-08-02 07:06] NancyLi1013 commented on #19252
Hi @Yamakaky

Thanks for posting this issue.

You can submit a PR for this issue if you are interested in this. Please let me know what guidance you need from us.

[2021-08-02 07:14] sycamore27 opened #19295 "Error: Building package boost-build:x64-windows failed with: BUILD_FAILED"
C:\src\vcpkg\vcpkg>vcpkg install pcl --triplet=x64-windows
Computing installation plan...
The following packages will be built and installed:
  * boost-algorithm[core]:x64-windows -> 1.76.0
  * boost-align[core]:x64-windows -> 1.76.0
  * boost-any[core]:x64-windows -> 1.76.0
  * boost-asio[core]:x64-windows -> 1.76.0
  * boost-atomic[core]:x64-windows -> 1.76.0
  * boost-bimap[core]:x64-windows ->

[2021-08-02 07:30] PhoebeHui commented on #19289
@joker-charles, could you report a seperate issue with full failure logs for boost-python?

That's true, it happens occasionally, it works when you retry sometimes, here is a workaround for solving the download issue in China: https://zhuanlan.zhihu.com/p/383683670, you can have a try.
BTW, we have blogs https://www.cnblogs.com/vcpkg/ to introduce some features in vcpkg, Hope it helps.

[2021-08-02 07:32] sycamore27 commented on #19295
I'm on windows 10 and Visual Studio 2019, and I have updated the vcpkg to the latest. Sincerely ask for help, thanks!

[2021-08-02 07:43] JackBoosY commented on #18887
@libboze  Can you please provide a sample project (contains some code) to reproduce this issue?

[2021-08-02 07:50] JackBoosY commented on #18887
cc @jgehw do you know why?

[2021-08-02 08:17] JonLiu1993 commented on #18004
Wait for pr #19272 merged

[2021-08-02 08:20] JonLiu1993 commented on #19156
Wait for pr #19272 merged

[2021-08-02 08:22] NancyLi1013 commented on #18688
@allaboutfuture

This is not related with `yasm-tool`. You need to solve the environment problem. Have you tried to reinstall Windows SDK and then rebuild this?

[2021-08-02 08:22] JackBoosY commented on #16483
If you use the module mode in `find_package`, according to the cmake [docs](https://cmake.org/cmake/help/latest/module/FindGLEW.html), you should use `find_package(GLEW REQUIRED)`, please note the upper-case.
And, the var `GLEW_FOUND` is set to `ON` when glew was found.

[2021-08-02 08:25] JackBoosY commented on #13518
Okay, please reopen this issue if it's not resolved.

[2021-08-02 08:25] #13518 closed

[2021-08-02 08:27] JackBoosY commented on #17055
ping @SamuelMarks for response.

[2021-08-02 08:30] williamxin commented on #15497
now i can compile lua project, the problem might have been fixed

[2021-08-02 08:31] joker-charles commented on #19289
I can't reproduce this build failed.It's weird.

@joker-charles<https://github.com/joker-charles>, could you report a seperate issue with full failure logs for boost-python?

It seem to I am in China, so I have difficulty downloading files on github

That's true, it happens occasionally, it works when you retry sometimes, here is a workaround for solving the download issue in China: https://zhuanl

[2021-08-02 08:36] PhoebeHui commented on #19289
@joker-charles, so can we close this issue now? you can create a new issue if the issue reproduce.

[2021-08-02 08:38] joker-charles commented on #19289
okay ,just close this issue.

[2021-08-02 08:40] PhoebeHui commented on #19289
Thanks!

[2021-08-02 08:40] #19289 closed

[2021-08-02 08:40] simon-winter commented on #19251
i compeltly wiped my wsl and i am retrying.
- running vcpkg command with sudo
- chown -R 777 ./vcpkg

it fails first and tells me to install `pkg-config` via apt-get (is this a special package which should be normally installed together with vcpkg? why do i have to still install dependencies by hand here?)

when i do that it fails with the next package permission issue:
![image](https://user-image

[2021-08-02 08:53] NancyLi1013 commented on #19204
The same error as before. Have you tried to remove `msys2`?

[2021-08-02 09:01] alexkaratarakis commented on #19240
Here are the config logs from the same run as the previously attached logs:

[config.log-x64-linux-dbg.log](https://github.com/microsoft/vcpkg/files/6915681/config.log-x64-linux-dbg.log)
[config.log-x64-linux-rel.log](https://github.com/microsoft/vcpkg/files/6915682/config.log-x64-linux-rel.log)
[config-x64-linux-dbg-err.log](https://github.com/microsoft/vcpkg/files/6915683/config-x64-linux-dbg-er

[2021-08-02 09:05] simon-winter commented on #19251
i get this error for qt5, at5-base and qt5[essentials]

[2021-08-02 09:05] NancyLi1013 commented on #19225
Thanks for the feedback. The same error as here https://github.com/microsoft/vcpkg/issues/19214#issue-955308443.

[2021-08-02 09:07] srgbtl commented on #19295
The same issue on GitHub actions environment with random ports:

[code]

[code]

Vcpkg version: 2021-07-21-244f69e78da4f97034328b4d290db262d748d4c7

[2021-08-02 09:25] JackBoosY commented on #19292
Well, I have a personal mirror, please see https://zhuanlan.zhihu.com/p/383683670.

[2021-08-02 09:29] srgbtl commented on #19295
Seems like the issue is not related to vcpkg but to GitHub. Had a few failures with setting up of GitHub Actions Jobs and the same problem reported (TIMEOUT):
[code]

[2021-08-02 09:38] PhoebeHui commented on #19267
@MarkVabulas, thanks for reporting this issue! I have submitted a PR to fix this issue.

[2021-08-02 09:41] JackBoosY commented on #19240
Maybe related:
[code]

My is:
[code]

[2021-08-02 09:42] mathisloge commented on #14753
anyone pinged upstream? 😄

[2021-08-02 09:51] JackBoosY commented on #14753
@dg0yt what do you think about since you are the contributor.

[2021-08-02 09:57] JackBoosY commented on #19251
Duplcated to https://github.com/microsoft/vcpkg/issues/17475.

[2021-08-02 09:57] #19251 closed

[2021-08-02 10:02] PhoebeHui commented on #19055
@dg0yt, the 'native' is used to 'supports' filed, not the 'platform' field.

See [supports](https://github.com/microsoft/vcpkg/blob/master/docs/maintainers/manifest-files.md#supports) and [platform](https://github.com/microsoft/vcpkg/blob/master/docs/users/manifests.md#platform-field).

[2021-08-02 10:05] JackBoosY commented on #18760
If the upstream behavior causes the header file to be installed in _gtk-4.0_, this is by design and conflicts with the example code provided by the upstream.
If this is caused by vcpkg, we need to fix this issue.

[2021-08-02 10:09] JackBoosY commented on #6656
@dg0yt See the upstream code https://gitlab.kitware.com/cmake/cmake/-/blob/master/Modules/FindJPEG.cmake#L61-64:
[code]
The suffix `d` is mandatory and we cannot fix it in any way.

[2021-08-02 10:12] #19278 closed

[2021-08-02 10:15] JonLiu1993 commented on #19254
@vega0 ,Thanks for posting this issue,
Make sure Visual Studio  has the following installed:

Desktop Development with C++
One of the Windows SDKs, preferably the latest
English Language Pack

[2021-08-02 10:16] Neumann-A commented on #6656
@JackBoosY
Just like expat:
https://github.com/microsoft/vcpkg/blob/master/ports/expat/vcpkg-cmake-wrapper.cmake

do the `find_library` call with the "vcpkg correct names" before the `find_package` call.

(feels like speaking to a wall which I really don't get)

[2021-08-02 10:19] PhoebeHui commented on #6656
I would help follow up this issue and continue the PR https://github.com/microsoft/vcpkg/pull/18742/

[2021-08-02 10:23] dg0yt commented on #6656
@JackBoosY You fix this by calling `find_library(JPEG_LIBRARY_DEBUG ...)` in the wrapper with custom parameters. This creates a cache variable `JPEG_LIBRARY_DEBUG`, and the following call in the pristine cmake find module is a no-op. This is what cmake cache variables were created for.

[2021-08-02 10:25] dg0yt commented on #14753
@JackBoosY Contributor of what?

[2021-08-02 10:32] SamuelMarks commented on #17055
### vcpkg
@ 261c458a:
[code]

### `CMakeList.txt`
[code]

### build
Then in an empty build directory, one level below that `CMakeLists.txt`:
[code]

---

### vcpkg dir debugging

@JackBoosY

[code]

[2021-08-02 10:35] dg0yt commented on #18760
IIUC the problem is (convenience in) Visual Studio:
How to add `include/gtk-4.0` to the search path when not using cmake or pkgconfig?
This is what needs to be fixed by vcpkg when vcpkg promises "you can now create a New non-CMake Project (or open an existing one). All installed libraries are immediately ready to be #include'd and used in your project without additional configuration."

[2021-08-02 10:46] dg0yt commented on #19055
@PhoebeHui AFAIU `native` *is* a "platform expression".

I see (and saw before) that documentation of `platform` is quite thin, and that documentation of `supports` is explicitly referring to "platform expressions".

In addition, [the user documentation of `supports`](https://github.com/microsoft/vcpkg/blob/master/docs/users/manifests.md#supports) explicitly states that it
  "uses the same platfor

[2021-08-02 11:33] simon-winter commented on #17475
Note to the apove mentioned ticket i opened: For me it crashes a 100% times at the same package (angle).
I tried using vcpkg install and also manifest mdoe, it doesnt work

[2021-08-02 11:59] autoantwort commented on #19295
@sycamore27, could you try the solution in [#13348 (comment)](https://github.com/microsoft/vcpkg/issues/13348#issue-692784879)?

[2021-08-02 12:00] autoantwort commented on #13348
Can you maybe pin this issue? It seems that this is a major problem.

[2021-08-02 12:08] sfhacker commented on #17055
@SamuelMarks Have you contacted us before?
It looks like we are going round in circles.
We use Windows. Just built allegro & nuklear from source. No issues at all.

[2021-08-02 12:22] debapritam22 opened #19301 "[New Port Request] Shark"
Library name: Shark
Library description: Shark is a fast, modular, general open-source C++ machine learning library.

Source repository URL: https://github.com/Shark-ML/Shark

Project homepage (if different from the source repository): http://www.shark-ml.org/

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2021-08-02 12:24] debapritam22 opened #19302 "[New Port Request] plotcpp"
Library name:plotcpp

Library description: This is a thin C++ wrapper for gnuplot program, it was made to simplify ploting data from C++ programms in binary format. Now it supprot only a small subset of gnuplot functionality, but allows to pass any gnuplot command as string.

Source repository URL:https://github.com/Kolkir/plotcpp

Project homepage (if different from the source repository): NA

An

[2021-08-02 12:25] debapritam22 opened #19303 "[New Port Request] pytorch"
Library name: pytorch

Library description:
PyTorch is a Python package that provides two high-level features:

Source repository URL: https://github.com/pytorch/pytorch

Project homepage (if different from the source repository): https://pytorch.org/

Anything else that is useful to know when adding (such as optional features the library may have that should be included): NA

[2021-08-02 13:09] Stannieman commented on #13688
Indeed seems to work now, perfect!

[2021-08-02 13:10] #13688 closed

[2021-08-02 13:52] rg-software opened #19306 "How do I share dependencies between solutions"
It is recommended to use manifest mode by default, so I am trying to play with it.

Suppose I develop a static library `MyLib` that uses Boost.  I define `"boost"` as its dependency in the manifest. Then I have a project `MyProj` that uses `MyLib`. I include its header like `#include <MyLib/myheader.h>` and immediately get a compilation error because `myheader.h` happens to use Boost, and of cours

[2021-08-02 14:53] autoantwort commented on #19306
Is MyProj in the same solution as MyLib? We use a single manifest for all projects inside a solution. If you use vcpkg to depend on MyLib you can add boost as a dependency in the port files vcpkg.json

[2021-08-02 14:54] rg-software commented on #19306
No, unfortunately. I know I can share the same manifest within the same `sln`, but the issue arises is I create a library that is later used in several other solutions.

[2021-08-02 15:03] Thieum commented on #18074
TBB 2021.3.0 is available: https://github.com/oneapi-src/oneTBB/releases/tag/v2021.3.0

[2021-08-02 15:21] Neumann-A commented on #19306
MSBuild does not have any kind of external dependency lookup. Either you use vcpkg in the whole tree or you just start and use CMake which takes care of this for you.

[2021-08-02 15:21] autoantwort commented on #19306
Are the solutions in the same git? And how do you distribute MyLib so that you can use the lib in other solutions?

[2021-08-02 15:38] rg-software commented on #19306
@Neumann-A, Right, but the question is what is "tree". In case of vcpkg it seemingly means "everything under the same `sln` file", which is quite restrictive.

@autoantwort, I am flexible in my setup, but currently what I do is this. I have some homemade libraries I use in several projects. I keep them under `%MY_LIBS%` path. When I want to use a library, I simply add `%MY_LIBS% to the include and

[2021-08-02 15:45] aizuon commented on #19303
Related PR: https://github.com/microsoft/vcpkg/pull/17199

[2021-08-02 16:36] #19302 closed

[2021-08-02 16:37] debapritam22 commented on #19302
Not required.

[2021-08-02 17:27] orosmatthew opened #19309 "[New Port Request] reactphysics3d"
Library name: ReactPhysics3D

Library description: ReactPhysics3D is an open source C++ physics engine library that can be used in 3D simulations and games.

Source repository URL: https://github.com/DanielChappuis/reactphysics3d

Project homepage: https://www.reactphysics3d.com/

[2021-08-02 17:39] autoantwort commented on #16520
This is especially annoying when you build for example qtbase for 25 minutes and then there is a .DS_Store file and you can wait another 25 minutes ...

[2021-08-02 18:37] BillyONeal commented on #16520
Right, the question is "why does this happen to you but we have not been able to make it happen ourselves." I agree with you that it's an important problem, I'm only worried about hiding other types of behavior we can't support (like mucking around in the packages tree manually before/during install).

I see, if finder is open to a directory and it's deleted, finder remains open to the now gone di

[2021-08-02 19:23] autoantwort commented on #16520
Have you tried it locally?

I thought of simply removing the .DS_Store files (finder needs some seconds (>30?) to recreate the files. When I remove them with `rm` they never come back) or ignoring them. I don't think that this can break anything or enable stuff that should not be possible.

Like in the video I can even leave the folder and so you don't see that folder anymore and you get this beha

[2021-08-02 19:35] BillyONeal commented on #16520
Yep, never had this happen. But also never opened finder into packages land.

I mean, that's the status quo. It isn't like the packages tree is usable after things are mapped into installed.

[2021-08-02 19:52] autoantwort commented on #16520
Yeah ok then this can not happen :D

Can we not simply skip `.DS_Store` files in `get_files_impl`?

[2021-08-02 20:10] libbooze commented on #18887
My failures were in "large real" project so I can not just easily reduce it to the example project. I believe @jgehw will agree with me that problem is in missing exported symbols.
As mentioned before my problems exactly match the problems mentioned in medium [link](https://medium.com/vitrox-publication/deep-learning-frameworks-tensorflow-build-from-source-on-windows-python-c-cpu-gpu-d3aa4d0772d8)

[2021-08-02 20:43] autoantwort commented on #17009
The ci now caches the downloads

[2021-08-02 20:43] #17009 closed

[2021-08-02 22:12] artificial-jamesirei opened #19313 "opencv4:arm-uwp build failure"
**Host Environment**
- OS: Windows 10

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install opencv4:arm-uwp`

**Failure logs**
`-- Using C:/dev/vcpkg/downloads/opencv-cache/tiny_dnn/adb1c512e09ca2c7a6faef36f9c53e59-v1.0.0a3.tar.gz
-- Found external ninja('1.10.2').
-- Configuring arm-uwp
-- Building arm-uwp-dbg
CMake Error at scripts/cmake/vcpkg_execute_build_process.cmake:155 (messa

[2021-08-02 22:28] BillyONeal commented on #16520
It needs to be a bit more than that because sometimes we pass whole directories to tools (e.g. 7z / zip / unzip / tar) but that's mostly it.

[2021-08-02 22:57] alexkaratarakis commented on #19240
My glibc is 2.31:
[code]
(this is ubuntu 20.04's default package)

Also, according to: https://man7.org/linux/man-pages/man3/makedev.3.html

[code]

What is your version of glibc?

[2021-08-02 23:57] #19026 closed

[2021-08-03 00:01] s0600204 opened #19316 "[openal-soft] Incorrect prefix in .pc file"
**Current problem**
The `prefix` line written to the `openal.pc` file is incorrect. It currently looks something like:
[code]
(Exact text will differ depending on triplet, and the location of where vcpkg is building things.)

**Proposed solution**
Based on other .pc files exported by vcpkg, it should read:
[code]

**Describe alternatives you've considered**
I'm currently employing a workaround (se

[2021-08-03 00:01] s0600204 opened #19317 "[enet, libsodium, miniupnpc] Lack .pc files"
**Problem, described**
These projects all support pkg-config upstream (in that they have the ability to generate a .pc file), but `vcpkg`'s port of them does not export the .pc files

* [enet](https://github.com/microsoft/vcpkg/tree/master/ports/enet)
* [libsodium](https://github.com/microsoft/vcpkg/tree/master/ports/libsodium)
* [miniupnpc](https://github.com/microsoft/vcpkg/tree/master/ports/min

[2021-08-03 00:46] JackBoosY commented on #16906
And I've made a patch to fix this, see https://github.com/microsoft/vcpkg/pull/19298/commits/864a20b07ffb49c84b7df680cfac958c913d2819.

[2021-08-03 00:48] JackBoosY commented on #19240
@alexkaratarakis
[code]

[2021-08-03 00:49] JackBoosY commented on #14753
Sorry for ping the wrong guy.

[2021-08-03 00:49] JackBoosY commented on #14753
cc @ocornut, the imgui owner.

[2021-08-03 00:51] JackBoosY commented on #6656
@dg0yt So since libjpeg expoted the targets, why not to use them. I think they are more safe than the `FindJPEG.cmake`.

[2021-08-03 00:55] NancyLi1013 commented on #19117
Hi @vadi2

Could you please try to update vcpkg to the latest to rebuild this? Seems @dg0yt has fixed this issue by PR #19164.

[2021-08-03 01:45] cwangbh commented on #15592
Thanks for your advice, but the same problem occurs. Is there any way that i can avoid specifying the `DESTDIR` in the following command:

[code]

[install-x64-windows-static-dbg-out.log](https://github.com/microsoft/vcpkg/files/6920465/install-x64-windows-static-dbg-out.log)
[install-x64-windows-static-dbg-err.log](https://github.com/microsoft/vcpkg/files/6920467/install-x64-windows-static-dbg-er

[2021-08-03 01:53] NancyLi1013 commented on #19316
Hi @s0600204

Thanks for posting this issue.

Needs to add `vcpkg_fixup_pkgconfig()` to fix the paths in .pc files. I will submit a PR to fix this later.

[2021-08-03 01:55] JackBoosY commented on #18887
I checked the source code, the upstream doesn't export them either, so is it by design?

[2021-08-03 03:07] JackBoosY commented on #17055
Delete @sfhacker comment since this is of no use to deal with this issue.

[2021-08-03 04:23] dg0yt commented on #16906
@JackBoosY In case of misunderstanding: This refers to the port name in vcpkg. It does not refer to exported cmake target names!

[2021-08-03 04:34] dg0yt commented on #6656
I'm not sure which exported targets you are refering to.
This issue is about cmake's `FindJPEG.cmake` module. vcpkg claims to support cmake down to version 3.1 in user projects. So vcpkg must ensure that `find_package(JPEG)' provides the right configuration.
**You must not ask for user projects to change.** Behaviour with vcpkg must be the same as without vcpkg, only that libs, definitions, includ

[2021-08-03 06:15] dg0yt commented on #15592
@cwangbh I think your issue is unrelated to the topic of this issue, "whitespace in path", and analysis will take an entirely different direction. (What is in your path? What is in your config.log?) IMO it would be more helpful to have this in a separate issue, with a descriptive title.

[2021-08-03 06:57] mathisloge commented on #16906
It also refers to the export name (PROJ4) won't be used anymore. So we definitely need PROJ. But the above quoted comment wasn't meant to add a lower case target. Only the (from proj itself exported target) PROJ

[2021-08-03 07:37] #19306 closed

[2021-08-03 07:38] libbooze commented on #18887
It is probably by "bug", not by design, from what I saw TF does not have any CI for Debug Windows build.
As mentioned in first comment I am not the first to notice this. https://github.com/tensorflow/tensorflow/issues/23542

[2021-08-03 07:44] PhoebeHui commented on #19111
@hjhj111, please reopen this issue if this still be a problem for you.

[2021-08-03 07:44] #19111 closed

[2021-08-03 07:46] PhoebeHui commented on #19232
@ivanshilo, the problem should be resolved by above solution, Please reopen if it doesn't works for you.

[2021-08-03 07:46] #19232 closed

[2021-08-03 07:49] szabolcshorvath-craft commented on #19237
I have the same problem. OS: Windows 10 x64. Steps to reproduce and further environment details below. Where can one find the complete error logs? I'd be most happy to provide one, but you didn't say which file you wanted to see. (It looks like a warning or note but not an error, by the way.)

<pre>
C:\Users\szabolcs\vcpkg>git status
On branch master
Your branch is up to date with 'origin/master'.

[2021-08-03 07:50] #18726 closed

[2021-08-03 07:58] sycamore27 commented on #19295
Thank you very much for your reply! It does seem to be an issue related to the process of downloading on the GitHub. Because I am in China, the download error is caused by the network. After switching the network, I can download normally. Thank you again for your help.

[2021-08-03 08:21] OpenCDR opened #19324 "[New Port Request] <Spinnaker SDK>"
Library name:Spinnaker SDK

Library description:Camera Development Kit from FLIR

Source repository URL:https://flir.app.boxcn.net/v/SpinnakerSDK/folder/73503062578

Project homepage (if different from the source repository):https://www.flir.com/support-center/iis/machine-vision/downloads/spinnaker-sdk-flycapture-and-firmware-download/

[2021-08-03 08:28] PhoebeHui commented on #19295
@srgbtl, yes, we have increased the timeouts for downloads in vcpkg tool, the next release should include the improvements.

@sycamore27, see https://github.com/microsoft/vcpkg/issues/19289#issuecomment-890792856 as well.

[2021-08-03 08:55] #19295 closed

[2021-08-03 09:11] NancyLi1013 commented on #16282
Since `bzip2 `has updated the URL as https://sourceware.org/pub/bzip2 instead of https://sourceware.org/git/bzip2.git.

`vcpkg_from_git` has also been refactored. So this issue should not exist now. Please try to update vcpkg to the latest via `git pull` to rebuild `bzip2`.

[2021-08-03 09:11] #16282 closed

[2021-08-03 09:12] autoantwort commented on #19237
Yeah it is a warning, but we don't check anything. If we don't want to display the warning we have to do a git fetch for every search but this is way to expensive.

[2021-08-03 09:16] #14282 closed

[2021-08-03 09:17] mathisloge commented on #19324
There aren't any sources in the provided links. Just installers. Are anywhere the sources to build from?

[2021-08-03 09:39] PhoebeHui commented on #10829
@emrsmsrli, does this issue still repro with latest VCPKG?

[2021-08-03 09:59] #18862 closed

[2021-08-03 10:00] #18822 closed

[2021-08-03 10:01] #18819 closed

[2021-08-03 10:07] PhoebeHui commented on #18734
@Hanqer, we have increased the timeouts for downloads in vcpkg tool, the next release should include the improvements.
Please also see a workaround in https://github.com/microsoft/vcpkg/issues/19289#issuecomment-890792856.

[2021-08-03 10:07] #18734 closed

[2021-08-03 10:09] #18684 closed

[2021-08-03 10:15] NancyLi1013 commented on #18648
Please refer to [this](https://stackoverflow.com/questions/37937984/git-refusing-to-merge-unrelated-histories-on-rebase).

Is this still a problem for you now? @IvaOsi

[2021-08-03 10:15] PhoebeHui commented on #16751
@cditto123, does this still be a problem for you?

[2021-08-03 10:16] NancyLi1013 commented on #18609
Closing this issue for now since there is no active thread for a long time. Please feel free to reopen this issue if it is still a problem for you.

[2021-08-03 10:16] #18609 closed

[2021-08-03 10:18] PhoebeHui commented on #16681
@LiuPeiqi-CNHN, does this still be a problem for you?

[2021-08-03 10:55] corbt commented on #18222
I'm also facing this issue -- happy to share logs and help with any debugging.

[2021-08-03 10:56] szabolcshorvath-craft commented on #19237
In that case (prohibite cost of checks), it would be feasible to check that *only once a week* or another period that matches the average frequency of changes in the repository. (Additionally, an ls-remote operation might be more cheap than a fetch but I'm not an expert in git TBH.)
Another alternative would be to give users the choice of opting out of seeing that message, as it would not be unrea

[2021-08-03 11:00] OpenCDR commented on #19324
No, this is the only way to get the development Kit.

[2021-08-03 11:04] jayvdb commented on #19218
I see submodules were raised at https://github.com/microsoft/vcpkg/issues/18250#issuecomment-875265221

`vcpkg_from_git` uses `git fetch ..` + `git archive ..` so that can not be enhanced to support submodules, as `git archive` excludes submodules that have been fetched.

https://github.com/microsoft/vcpkg/blob/289b391/ports/v8/portfile.cmake sort of does submodules, but doesnt take advantage of t

[2021-08-03 11:07] gvanem opened #19331 "Generating a PDF from docs/*.md"
I've been struggling creating a single `VCPKG.PDF` from all `docs/*.md` files with little success.
First trying with Pandoc (latest v2.14.1), but it does not follow and convert internal links like:
[code]
to a sensible link and content. This was my command:
[code]
I assume some Pandoc filter is required for this. But I'm not so into this. Anybody?

Then a tip in https://github.com/microsoft/vcpkg/

[2021-08-03 11:12] autoantwort commented on #19237
Yeah changes happens every few hours. So if the last git pull is one hour old, the result is maybe outdated again. But yeah once a week is properly enough. The problem was that people often requested new versions of libs that were already there but they have not updated their vcpkg instance.

ls-remote needed 2 seconds for me. Not optimal.

Can you then not simply ignore the message.

But maybe on

[2021-08-03 11:19] IvaOsi commented on #18648
No, just update vcpkg

[2021-08-03 11:24] cditto123 commented on #16751
I was unable to resolve the issue in my build environment; however, I found a alternative build strategy that did work so I haven’t revisited it.

From: Phoebe ***@***.***>
Sent: Tuesday, August 3, 2021 5:16 AM
To: microsoft/vcpkg ***@***.***>
Cc: Chuck Ditto ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/vcpkg] protobuf:x86-windows build failure (#16751)

@cditto123<https://github.com

[2021-08-03 11:27] autoantwort opened #19332 "./bootstrap-vcpkg.sh on mac selects wrong compiler"
**Describe the bug**
When I run `./bootstrap-vcpkg.sh` I get the following error:
[code]
I can workaround this by passing the option `-allowAppleClang` to the script, but it should autoselect clang on arm macs or on macOS >= 10.15(?)

**Environment**
- OS: macOS 11 with Apple M1

**Expected behavior**
It should simply compile vcpkg

[2021-08-03 12:15] gvanem commented on #19292
The `upgrade` command is broken for me too (I have a 100 MBit/s line in Norway). Before a `vcpkg upgrade --no-dry-run`, I had
63 packages. After that broken upgrade a `vcpkg list` shows only 49 packages installed.

**PS**.  Why do we have to specify `--no-dry-run`? This hints on a `--dry-run` option was specified somehow. I did not.

[2021-08-03 12:21] larshg opened #19333 "Older VCPKG fails to install packages"
**Describe the bug**
VCPKG failes to install packages and exits with code 1.

**Environment**
- OS: [e.g. Windows/Linux etc...] Windows x64
- Compiler: VS2019

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout older version, ie. 2021.05.12.
2. .\vcpkg install boost flann eigen3 qhull vtk[qt,opengl] gtest benchmark --triplet x86-windows-rel --clean-after-build;

**Expected behavior**
Pa

[2021-08-03 12:35] ivanshilo opened #19334 "current opencv[ffmpeg] feature makes the whole opencv library to be GPL licensed?"
FFmpeg uses LGPL license by default which is pretty permissive when it comes to building a commercial software that uses ffmpeg as its part.
This gives a good summary:
https://www.ffmpeg.org/legal.html
This is helpfull for whoever is going to take care of this issue, it provides a list of parts in ffmpeg which require GPL license:
https://chromium.googlesource.com/chromium/third_party/ffmpeg/+/ref

[2021-08-03 13:39] autoantwort commented on #19333
Duplicate of #18636. Update your vcpkg version or use cmake 3.20.x

[2021-08-03 13:41] sfhacker commented on #16751
It seems there are STILL unresolved issues with this protobuf in general.
Just built protobuf from source on Windows (x64, sorry no x86 available). No issues at all.
How can I reproduce this issue locally? My antivirus is enabled at the moment.

[2021-08-03 13:50] larshg commented on #19333
Thanks @autoantwort. I dont know why didnt find those issues. Anyway, I'll try it out.

[2021-08-03 13:52] HongGan commented on #19266
There is the GitCMD information：
D:\src\vcpkg>vcpkg install pcl
Computing installation plan...
The following packages will be built and installed:
  * boost-algorithm[core]:x86-windows -> 1.76.0
  * boost-align[core]:x86-windows -> 1.76.0
  * boost-any[core]:x86-windows -> 1.76.0
  * boost-asio[core]:x86-windows -> 1.76.0
  * boost-atomic[core]:x86-windows -> 1.76.0
  * boost-bimap[core]:x86-windo

[2021-08-03 13:53] HongGan commented on #19266
It‘s logs information：
Building the B2 engine..
Call_If_Exists "bin\VCVARS32.BAT"
###
### Using 'msvc' toolset.
###

D:\src\vcpkg\packages\boost-build_x64-windows\tools\boost-build\src\engine>cl /nologo /MP /MT /TP /Feb2 /wd4996 /O2 /GL   -DNDEBUG  builtins.cpp class.cpp command.cpp compile.cpp constants.cpp cwd.cpp debug.cpp debugger.cpp execcmd.cpp execnt.cpp filent.cpp filesys.cpp frames.cpp fu

[2021-08-03 13:56] autoantwort commented on #19266
Have you installed the windows SDK?

[2021-08-03 13:56] HongGan commented on #19266
err log：  File Not Found

[2021-08-03 14:02] HongGan commented on #19266
Windows 10 SDK(10.016299.0)  it's ok? Windows 10 SDK(10.0.17134.0) ect?

[2021-08-03 14:02] HongGan commented on #19266
oh, I havan't   Windows 10 SDK(10.016299.0)  it's ok? or Windows 10 SDK(10.0.17134.0) ect?

[2021-08-03 14:33] sauntheninja2 commented on #15333
I have the same problem anyone found a solution yet seems like i will have to instead use cmake to build the project

[2021-08-03 14:38] HongGan commented on #19266
I have try to installed the windows SDK, but it's still not work, I want to reinstall VS 2019，What components do I need to install？

[2021-08-03 14:48] SchaichAlonso opened #19337 "[gettext] build failure"
**Host Environment**
- OS: Windows 10 Build 19041.110
- Compiler: MSVC 2019 19.29.30038.1

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Failure logs**
[code]

[build-x86-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/6924915/build-x86-windows-dbg-out.log)
[cmake-vars-x86-windows-rel.cmake.log](https://github.com/microsoft/vcpkg/files/6924916/cmake-vars-x86-windows-rel

[2021-08-03 15:23] traversaro commented on #15333
If you refer just to the include problems, I guess that when using a non-CMake build system, a possible workaround is to pass `<vcpkg_dir>/installed/x64-windows/include/OGRE` as additional include path explicitly (change `x64-windows` with your triplet if you are using another triplet).

[2021-08-03 16:20] Nokimochi1 opened #19340 "I cant isntall anything with vcpkg allways returns failed with: BUILD_FAILED"
**Host Environment**
- OS: Windows
- Compiler: I have whole visual studio installed

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install anything`

**Failure logs**
Building package sqlite3[core]:x86-windows...
-- Downloading https://sqlite.org/2021/sqlite-amalgamation-3350500.zip -> sqlite-amalgamation-3350500.zip...
-- Extracting source C:/important/vcpkg/downloads/sqlite-amalgama

[2021-08-03 16:59] jdx-john opened #19341 "Not sure if static builds are using static libs"
We use a .props file in our vcpkg-enabled builds:

[code]
We were building without `VcpkgUseStatic` but I added this and re-ran our build. I can see seemingly as many DLLs are being copied as previously in the `AppLocalFromInstalled` step in the msbuild logs. And I see this:

I am not sure if it should explicitly mention static building or not, I not it should append `-static` to the triplet name

[2021-08-03 17:41] vadi2 opened #19342 "[gettext:x64-windows] build failure"
**Host Environment**
- OS: Windows
- Compiler: Mingw-w64 8.1.0
- vcpkg: a863c848

**Failure logs**
[build-log.txt](https://github.com/microsoft/vcpkg/files/6926062/build-log.txt)

[2021-08-03 17:41] vadi2 commented on #19117
@NancyLi1013 thanks for the ping - it does look like it works now using a863c848! There's a new error with gettext now, I've filed separately it as https://github.com/microsoft/vcpkg/issues/19342.

@dg0yt you're right, back then libiconv was not being built. It works now for me without changing the environment - thanks for that improvement

[2021-08-03 17:41] #19117 closed

[2021-08-03 18:02] talregev commented on #17897
It happen to me.
I am using fdroid docker image file. I guess the gcc there is old.
How I install a new one?
Can we open the issue?

[2021-08-03 18:28] talregev commented on #17897
I found how to install g++ 9 on Debian:
I am trying this answer to see if it help.
https://stackoverflow.com/questions/61590804/how-to-install-gcc-9-on-debianlatest-docker

[2021-08-03 18:36] autoantwort commented on #19340
Please provide the logs :)

[2021-08-03 18:37] autoantwort commented on #19341
Afaik this only works if you not use a custom triplet name. If you use a custom triplet name you have to add `-static` yourself

[2021-08-03 18:39] talregev commented on #17897
Also this for `>>`
https://stackoverflow.com/questions/11301650/how-to-escape-indicator-characters-i-e-or-in-yaml

[2021-08-03 19:00] talregev commented on #17897
Didn't help. from here alternative to append to file:
https://stackoverflow.com/questions/6207573/how-to-append-output-to-the-end-of-a-text-file

[2021-08-03 19:34] jgehw commented on #18887
I wasn't aware of these C++ linking issues because I'm only using the C API on Windows, which is working fine, and because another vcpkg user, I was in contact with, apparently used the C++ API via static linking.

According to the upstream thread @libbooze mentioned, there doesn't seem to be an easy fix.

I strongly disagree with removal of the vcpkg tensorflow Windows ports because the C version

[2021-08-03 19:56] jdx-john commented on #19341
Can anyone confirm @autoantwort is correct? I can't really see how vcpkg even knows it's a custom triplet and I figured it was a simple shortcut `if(VcPckUseStatic)triplet = triplet+"-static"` but it's an easy workaround. I could try building with my explicit static triplet by name tomorrow, but it takes a while to build :)

[2021-08-03 20:05] libbooze commented on #18887
My apologies, I had no idea that vcpkg supports static linking... or C libraries.

As for static linking: don't you then again run into the problem for Debug builds since MSVC can not handle pdbs over around 6GB? Or the mentioned vcpkg user only uses TF in Release builds?

In any case I agree the issue exists for current dll ports and something needs to be done to make cause of this clear.

[2021-08-03 20:13] Jezhan opened #19344 "[New Port Request] mstelemetry"
Library name: mstelemetry

Library description: vcpkg for the 1DS library

Source repository URL: https://github.com/microsoft/cpp_client_telemetry

Project homepage (if different from the source repository): Same as above

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2021-08-03 20:13] Jezhan commented on #19344
It appears that there is documentation for vcpkg but when I try to run 'vcpkg install mstelemetry' the port does not exist.

[2021-08-03 20:17] larshg commented on #19333
Thanks for the help. It indeed solved the issue using cmake 3.20.5.

[2021-08-03 20:17] #19333 closed

[2021-08-03 20:29] autoantwort commented on #19341
https://github.com/microsoft/vcpkg/blob/b7f99c3c4b32c0b31b73701e92bb42fbea0c83cb/scripts/buildsystems/msbuild/vcpkg.targets#L15-L16

[2021-08-03 20:34] jdx-john commented on #19341
Oh, hang on my msbuild script is very minimal but is that saying in L16 to _only_ use the result of L15 _if_ the triplet is empty, e.g. default? I missed that!

[2021-08-03 20:39] autoantwort commented on #19341
Yeah. So instead of doing `<VcpkgUseStatic>true</VcpkgUseStatic>` in your property sheet do ` <VcpkgTriplet>$(VcpkgPlatformTarget)-$(VcpkgOSTarget)-vs2019-static</VcpkgTriplet> ` or something like that.

[2021-08-03 20:44] jdx-john commented on #19341
Many thanks. Yeah we just need to explicitly set our triplet name.

I'll close as it seems to be pretty clear. I do wonder if this functionality is ideal (or if the documentation in VS could be improved). I quite like the idea of specifying triplet but still being able to toggle -static personally.

[2021-08-03 20:44] #19341 closed

[2021-08-03 21:31] Neumann-A opened #19346 "[libvpx] Missing vcpkg_fixup_pkgconfing"
libvpx install invalid pc files.

Found due to:
[code]

[2021-08-04 00:06] #19267 closed

[2021-08-04 01:39] NancyLi1013 commented on #18648
Thanks for your feedback. Closing this issue for now.

[2021-08-04 01:39] #18648 closed

[2021-08-04 02:08] JackBoosY commented on #19292
For this part issue, we already have the same one.

[2021-08-04 02:17] JackBoosY commented on #19342
Can you please provide the failure logs:
_D:\a\Mudlet\Mudlet\3rdparty\vcpkg\buildtrees\gettext\build-x64-windows-rel-out.log_
_D:\a\Mudlet\Mudlet\3rdparty\vcpkg\buildtrees\gettext\build-x64-windows-rel-err.log_

Thanks.

[2021-08-04 02:20] JackBoosY commented on #19337
[code]

[2021-08-04 02:21] JackBoosY commented on #19337
cc @dg0yt I also noticed I couldn't build gettext on my machine successfully, can you please take a look?

[2021-08-04 02:45] NancyLi1013 commented on #19332
Hi @autoantwort

Thanks for posting this issue.

vcpkg will choose `gcc `as the default compiler to build on Unix platform. So if you want to use `clang `compiler, you need to pass the option `-allowAppleClang` to build.

[2021-08-04 02:50] PhoebeHui commented on #19331
@gvanem, I haven't used pandoc before, I have no idea why it doesn't work here.

I know a simple way to same the .md file to .pdf, however, I'm not sure if it matches your requirements:
Open the .md file with Chrome -> Print -> Destination: Save as PDF -> Save

[2021-08-04 02:51] #19331 closed

[2021-08-04 02:57] PhoebeHui commented on #19266
@HongGan, it looks you need reinstall windows SDK, could you reinstall it via VS installer?

For me the missing headers locate in "C:\Program Files (x86)\Windows Kits\10\Include\10.0.19041.0\ucrt\corecrt.h".

[2021-08-04 03:06] PhoebeHui commented on #18756
We have an exist PR https://github.com/microsoft/vcpkg/pull/17575 to update it.

[2021-08-04 03:44] hudengjunai opened #19350 "[redis_plus_plus] async redis-cluster support need to add"
****

**Upgrade redis_plus_plus to 1.3.0 version .**
I am using sw/redis-plus-plus. and I have async redis-cluster client request.
But the current vcpkg only support redis_plus_plus[cxx17] 1.2.3 version. the lastest features I want to use is 1.3.0 version .
So I recommend upgrade the port package version to 1.3.0

[2021-08-04 04:16] talregev commented on #17897
In fdroid docker image when installing g++, it install g++ v6.
I try to modify it without success. If someone know how to do it, that will be great.

[2021-08-04 05:09] dg0yt commented on #19346
I wonder if there shouldn't be general checks for absolute paths (`packages`, `installed`) in any installed .pc and .cmake files.

[2021-08-04 05:38] dg0yt commented on #19337
@JackBoosY I saw this yesterday and already looked at the logs. (Thanks for posting them all @SchaichAlonso) But I don't have an idea. I'm not even sure if we need to look at the changes to port gettext or the changes to `scripts`.
I don't have MSVC, but I can dig through build logs. Unfortunately, CI doesn't provide logs of successful builds.

[2021-08-04 05:43] talregev commented on #17897
I found a way to compile vcpkg inside Debian docker image inside fdroid ci.
Install clang-7
https://gitlab.com/fdroid/fdroiddata/-/blob/master/metadata/org.musicpd.yml#L298

[2021-08-04 05:45] talregev commented on #17897
@JackBoosY
But I have a problem on a post build in openssl android, with clean. It try to delete `armv6-android.zip` and fail the ci.
I think this ticket can be close and we need to open a new one.
[code]

[2021-08-04 05:47] JackBoosY commented on #19337
@dg0yt Here is my log when building genttext[tools]:x64-windows:
[gettext.zip](https://github.com/microsoft/vcpkg/files/6928878/gettext.zip)

[2021-08-04 05:56] dg0yt commented on #19337
Successful PR CI runs: 20210719.30 for #18159, merged 10 days ago.

In [https://dev.azure.com/vcpkg/public/_build?definitionId=29](CI runs for master), it failed yesterday (a863c848), but succeeded on Saturday (261c458a). So this is the set of changes to look at.

[2021-08-04 06:08] NancyLi1013 commented on #19346
Why do you think it doesn't need to check the absolute paths?

[2021-08-04 06:09] dg0yt commented on #19337
The mentioned set includes one PR by me: #19164. @JackBoosY Can you try with this change reverted?

The point is: There is no CI run for this PR which actually rebuild gettext. Note the portfile doesn't  use `vcpkg_build_make` directly, but only `vcpkg_install_make`. Does ABI/CI look at recursive usage? If not, then there is a significant CI gap.

[2021-08-04 06:13] dg0yt commented on #19346
Maybe I am misunderstood. To make it clear: All installed pc and cmake files should be checked for absolute paths (containing "packages" or "installed", and error shall be thrown if a match is found.

[2021-08-04 06:15] talregev commented on #17897
Maybe the Debian image is missing the `zip` package?

[2021-08-04 06:26] Nameisedith opened #19352 "Error: Building package boost-config:x86-windows failed with: BUILD_FAILED"
I want to use vcptk to intall pcl,but  I have some trouble during installation.Please help me solve these.

C:\vcptk\vcpkg-master>.\vcpkg install pcl
Computing installation plan...
The following packages will be built and installed:
  * boost-algorithm[core]:x86-windows -> 1.76.0
  * boost-align[core]:x86-windows -> 1.76.0
  * boost-any[core]:x86-windows -> 1.76.0
  * boost-array[core]:x86-windows

[2021-08-04 06:30] NancyLi1013 commented on #19346
Currently, there is no way to checked automatically. So we need to add vcpkg_fixup_pkgconfig() or
`vcpkg_fixup_cmake_targets()` to fix the path in .pc files and .cmake files.

[2021-08-04 06:32] Nameisedith commented on #19352
My system is Win10 x64.I try to install pclx64，but  failed.

C:\vcptk\vcpkg-master>.\vcpkg isntall pcl:x64-windows
invalid command: isntall
Commands:
  vcpkg search [pat]              Search for packages available to be built
  vcpkg install <pkg>...          Install a package
  vcpkg remove <pkg>...           Uninstall a package
  vcpkg remove --outdated         Uninstall all out-of-date packages

[2021-08-04 06:36] dg0yt commented on #19337
@JackBoosY Note that the original report does not include feature tools, and this is a significant difference for gettext. Let's focus on core first.

[2021-08-04 06:41] JackBoosY commented on #19337
@dg0yt I think the core should be good in master branch, only the feature tool was broken.

[2021-08-04 06:44] JackBoosY commented on #17897
@talregev Can you provide the original error info?

[2021-08-04 06:45] talregev commented on #17897
@JackBoosY Can I send you a link to gitlab ci?

[2021-08-04 06:48] talregev commented on #17897
https://gitlab.com/tal.regev/fdroiddata/-/jobs/1475472268

[2021-08-04 06:49] PhoebeHui commented on #19352
@Nameisedith, could you try if the solution provided in https://github.com/microsoft/vcpkg/issues/13348#issue-692784879 works for you?
We have increased the timeouts for downloads in vcpkg tool, the next release should include the improvements.

   invalid command: isntall

It should be .\vcpkg install pcl:x64-windows

[2021-08-04 06:53] jasjuang opened #19353 "[mpfr] x64-windows build failure"
**Host Environment**
- OS: Windows 10
- Compiler: Visual Studio 2019

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg install mpfr`

**Failure logs**
[code]

build-x64-windows-dbg-err.log
[code]

build-x64-windows-dbg-out.log
[code]

[2021-08-04 06:56] JackBoosY commented on #17897
@talregev That should be a port bug instead of a vcpkg bug, can you please open a new issue to report that?

[2021-08-04 06:56] dg0yt commented on #19337
@JackBoosY gettext[core]:x86-windows fails in master: https://dev.azure.com/vcpkg/c1ee48cb-0df2-4ab3-8384-b1df5a79fe53/_apis/build/builds/57078/logs/85

I am confused by the messages from libtool:
[code]
etc. Why doesn't it pick iconv.lib from vcpkg? Is libtool perhaps looking for mingw's libiconv.dll.a instead?

[2021-08-04 06:57] talregev commented on #17897
It not port bug, because when we compile the same on ubuntu it not happen.
It vcpkg on different os bug. (maybe also I compile it with clang?).

[2021-08-04 07:22] JackBoosY commented on #19337
@dg0yt  Now I can confirm your PR https://github.com/microsoft/vcpkg/pull/19164 breaks gettext[tools] build.
So I think my PR https://github.com/microsoft/vcpkg/pull/19325 need to fix this issue also.

BTW, since it takes a lot of time to build gettext[tools], I personally object to depending on it.

[2021-08-04 07:22] Cheney-W commented on #8160
Verified on the latest VCPKG 2021-07-26-9425cf5f512f242c0bcbabac31f08832825aee81 , the installation step will hung instead of fail with a message about .vcpkg-root not being found.

[2021-08-04 07:25] JackBoosY commented on #17897
In any case, the error log you provided is completely inconsistent with the original error information of this issue, so please open a new issue.

[2021-08-04 07:32] dg0yt commented on #19337
@JackBoosY Most ports don't need gettext[tools].

WRT to #19164: Which `MAKE` is found without that change, and which with the change? The PR is so simple and should have made a difference at all, or break in CI.

[2021-08-04 07:33] talregev commented on #17897
I agree. I already suggest how to solve it.
You should update your documentation.
https://github.com/microsoft/vcpkg#quick-start-unix
It should g++ > 9
also clang > 5 or 7. (not sure for the c++17 inside it).

[2021-08-04 07:51] JackBoosY commented on #17897
I think we should fix using gcc to build vcpkg, not clang.
cc @BillyONeal

[2021-08-04 07:53] JackBoosY commented on #19337
@dg0yt  Anyway, I'm fixing this issue in https://github.com/microsoft/vcpkg/pull/19325, please see my changes.

[2021-08-04 07:57] talregev commented on #17897
You can change to gcc > 9 for ubuntu
and debian gcc 9 and 10 are still in testing. So other option for them is clang.
What do you say?

[2021-08-04 08:05] JackBoosY commented on #18222
@corbt  Can you provide a list (contains related path) of related files after installing mkl?

[2021-08-04 08:10] Neumann-A commented on #19346
The point is there should be a check either in the vcpkg binary or in `ports.cmake` which checks for pc and/or cmake files and checks if `vcpkg_fixup_cmake_targets` or `vcpkg_fixup_pkgconfig` was called or reads the pc files itself for absolute paths. In general nearly all files need to be checkd for absolute paths not only pc and cmake files.

[2021-08-04 08:12] PhoebeHui commented on #19334
It seems that opencv4 only requires feature ffmpeg[avcodec,avdevice,avformat,swresample,swscale] by default, see https://github.com/opencv/opencv/blob/master/CMakeLists.txt#L1369, so we can update opencv4 to depend on these features instead. cc @cenit

However, ffmpeg default feature 'postproc' depends on ffmpeg[gpl], so the gpl would be installed(Related issue#https://github.com/microsoft/vcpkg/i

[2021-08-04 08:16] PhoebeHui commented on #19352
@Nameisedith, has the problem been solved?

[2021-08-04 08:26] PhoebeHui commented on #19263
@vega0, has the problem been solved?

[2021-08-04 08:35] JonLiu1993 commented on #19340
@Nokimochi1 ,Thanks for posting this issue,Could you please provide the logs:
[code]

[2021-08-04 08:51] JackBoosY commented on #18270
@dg0yt I met this issue again when using my changes in https://github.com/microsoft/vcpkg/pull/19325, and I didn't find any code use `optarg_a`, also, I didn't install `getopt-win32`.

[2021-08-04 08:51] davidchisnall opened #19356 "[binarycaching] Provide an option to use an alternative to zip on *NIX systems"
**Is your feature request related to a problem? Please describe.**

`zip` is not part of POSIX and so is not included in the base install of most *NIX systems.  `pax` is mandated by POSIX and `tar` is typically installed as a non-standard extension.  There's a message interleaved with other output while building that zip isn't installed and so caches can't be used.

**Proposed solution**

Provide

[2021-08-04 08:55] mcmtroffaes commented on #19334
I agree that the way to go forward for opencv is to specify ffmpeg only with the required features and with default-features equal to false as suggested.

Regardless, I think it would make sense to remove postproc from the ffmpeg default features, to get the most flexible license by default, and only use the more restrictive licensing if the user explicitly asks for it. Currently the only way to g

[2021-08-04 08:58] dg0yt commented on #18270
@JackBoosY This issue was: there is a "installed/x64-windows/include/getopt.h" while building gettext.

[2021-08-04 09:13] JackBoosY commented on #18270
@dg0yt  Sorry, I forgot suffix `-win32`.

[2021-08-04 09:53] PhoebeHui commented on #19334
Thanks @mcmtroffaes for confirming this! I have submitted a PR to update it.

[2021-08-04 09:59] ulfllorenz opened #19359 "[curl] build failure or rather configuration problem"
**Describe the bug**
It is surprisingly difficult to build curl on Windows _without_ the default non-http feature.

* "vcpkg.exe install curl" installs curl[core,non-http,schannel,ssl,sspi,winssl], due to "non-http" being default. Fine so far.
* "vcpkg.exe install curl[core,ssl]" also installs the non-http feature, which is a bit surprising, because I explicitly want to disable it.
* "vcpkg.exe in

[2021-08-04 10:13] dg0yt commented on #19359
Thanks for reporting! Feature `winssl` seems to miss `"default-dependencies": false`. I can pick this up for #18971.

[2021-08-04 10:27] Cheney-W commented on #8150
Closed because this issue has been fixed by PR: https://github.com/microsoft/vcpkg/pull/8410

[2021-08-04 10:27] #8150 closed

[2021-08-04 11:53] sfhacker commented on #18270
Just built gettext from source on Windows. No issues at all.

![image](https://user-images.githubusercontent.com/25817529/128175908-644ca1d1-b84f-4d28-90f0-aaeef5217c34.png)

[1] https://english-for-chinese.blogspot.com/2008/06/and-meet-problem.html

[2021-08-04 11:57] ulfllorenz commented on #19359
Another question: It may not fit here perfectly, but this is the fundamental reason I am playing around with curl: What is the status of issue https://github.com/microsoft/vcpkg/issues/17919?

[2021-08-04 12:06] autoantwort commented on #19332
Yeah I know, but that must be the default on arm macs. Or do you think that getting this error as default behavior is a good thing?

Btw this is not a question, it is a vcpkg-bug ;)

[2021-08-04 12:17] dg0yt commented on #19359
It is better to ask there, assuming that relevant people are subscribed there.

[2021-08-04 12:39] mathisloge commented on #18823
@JonLiu1993 this could be closed https://github.com/microsoft/vcpkg/pull/18991

[2021-08-04 14:09] jdx-john commented on #16049
@BullyWiiPlaza isn't this the same as #10221? They mention using a special -md triplet which would be simpler?

[2021-08-04 14:15] jdx-john opened #19362 "Naming confusion for boost libs?"
When we built boost manually against VS2017 (v141) using CMake we got libraries named such as:

However now we build using vcpkg with VS2019 (v142) we get the library named like:

It seems strange that it is named "v140" and odd that it misses all the extra information from the library like the version number (1.76 IIRC). Is it just the way whoever build the port set it up? Maybe it's considered b

[2021-08-04 14:20] jdx-john commented on #19362
Thanks @mathisloge I can confirm the *DLL* seems to have the full name (boost_atomic-vc142-mt-x32-1_76.dll for me) but the .lib does not.
So I suspect a very minor issue in CMake scripts perhaps?

[2021-08-04 14:37] emrsmsrli commented on #10829
@PhoebeHui I can confirm vcpkg successfully builds with the same config I had at the time this issue is created. You can find the logs here: https://app.travis-ci.com/github/emrsmsrli/gameboi/jobs/529087800
Don't mind the build job failing, that's on my end. Thanks for the efforts!

[2021-08-04 14:41] Kicer86 commented on #19342
gettext also fails for me:
[code]

I see no additional errors in logs (out attached, err is empty).
[build-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/6932087/build-x64-windows-dbg-out.log)

[2021-08-04 14:57] dg0yt commented on #19342
@Kicer86 It fails for everyone on windows on the moment. For activity, see #19337.

[2021-08-04 15:21] jgehw commented on #18887
Microsoft sadly indeed didn't remove the 4GB limit on x64 Windows from the internals of .pdb files, and even more annoying, from .lib files. While there was an easy work-around for the .pdb files (I reduced the size of the .pdb file below 4GB by limiting some debug features using `/DEBUG:FASTLINK` instead of `/DEBUG:FULL`), it was more painful to work around the 4GB limit on .lib files: I needed t

[2021-08-04 15:40] jgehw commented on #18500
I wouldn't say so: this error arose from parallel *manual* cleanup while no all build processes had been killed before.

The build error was caused by:
`CreateProcessW("git" init C:/vcpkg/buildtrees/tensorflow/.bzl/yvfmeljr/external/io_bazel_rules_go): The system cannot find the file specified.`

Seems that `git` is not in the `PATH` environment variable.

[2021-08-04 16:13] sfhacker commented on #19342
Just built gettext from source on Windows 10 x64. No issues at all.

![image](https://user-images.githubusercontent.com/25817529/128216335-b5962f2f-b0e2-4aac-b073-c0541572169a.png)

What is 'Mudlet'? Is it a dependency of gettext?

[2021-08-04 17:34] vadi2 commented on #19342
@JackBoosY

[build-log.txt](https://github.com/microsoft/vcpkg/files/6933344/build-log.txt)
[err-log.txt](https://github.com/microsoft/vcpkg/files/6933345/err-log.txt)

[2021-08-04 20:05] Nokimochi1 commented on #19340
nevermind my issue was with Visual Studio wrong language and it didnt want to install my bad guys sorry!

[2021-08-04 20:05] #19340 closed

[2021-08-04 20:56] Osyotr commented on #19362
See https://github.com/microsoft/vcpkg/commit/b2b2c9136918ed3ef85961c5c2885b9562d07d1d
@ras0219-msft would you kindly elaborate?

[2021-08-04 21:57] Hoikas commented on #17292
This doesn't seem to actually enable -fPIC on linux. See [discussion](https://github.com/microsoft/vcpkg/pull/19273#issuecomment-891456072) in #19273.

[2021-08-04 22:24] EvanAW opened #19367 "[openimageio] update to 2.2.17"
Library name: OpenImageIO

New version number: 2.2.17

Other information that may be useful (release notes, etc...)

https://github.com/OpenImageIO/oiio/releases/tag/v2.2.17.0

This update has fixes for building against fmt 8.0.0 which might be necessary once https://github.com/microsoft/vcpkg/issues/18577 lands.

[2021-08-05 00:12] hYdos opened #19368 "Cmake Fails to link project due to vcpkg building libs with old C++ Standards"
**Describe the bug**
The title of this issue explains it all

**Environment**
- OS: Linux (Manjaro x64)
- Compiler: gcc version 11.1.0 (GCC)

**To Reproduce**
Steps to reproduce the behavior:
1. clone https://github.com/VelocityRa/binviz
1. ./vcpkg install --feature-flags=manifests
2. Use cmake (In my case, through CLion) to build the project
3. See error when linking

**Expected behavior**
A buil

[2021-08-05 00:54] autoantwort commented on #19367
I can do it in #19272

[2021-08-05 01:36] JonLiu1993 commented on #19367
We have an exist PR #19272  to update it.

[2021-08-05 01:51] PhoebeHui commented on #19362
See https://github.com/microsoft/vcpkg/issues/601#issuecomment-276220946.

[2021-08-05 01:51] #19362 closed

[2021-08-05 02:17] PhoebeHui commented on #17541
@cosmin42, please reopen this issue and if it still be a problem for you.

[2021-08-05 02:17] #17541 closed

[2021-08-05 02:19] PhoebeHui commented on #17133
@ponco0e, please reopen this issue if it still be a problem for you.

[2021-08-05 02:19] #17133 closed

[2021-08-05 02:37] seccpur opened #19372 "opencv3[ffmpeg] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: VC++ 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install opencv3[ffmpeg]:x64-windows`

**Failure logs**
`PS D:\repos\vcpkg> .\vcpkg install opencv3[ffmpeg]:x64-windows
Computing installation plan...
The following packages will be built and installed:
    opencv3[core,dnn,ffmpeg,flann,jpeg,png,quirc,tiff,webp]:x64-windows -> 3.4

[2021-08-05 02:47] JackBoosY commented on #19342
Duplicated to https://github.com/microsoft/vcpkg/issues/19337.

[2021-08-05 02:47] #19342 closed

[2021-08-05 03:10] JackBoosY commented on #19356
I think we can accept this.

[2021-08-05 03:10] #19356 closed

[2021-08-05 03:14] JackBoosY commented on #19353
`/usr/bin/perl: bad interpreter: No such file or directory`
Ah, same reason with https://github.com/microsoft/vcpkg/issues/19337. Will be fixed by https://github.com/microsoft/vcpkg/pull/19325.

[2021-08-05 05:45] JonLiu1993 commented on #18823
Thanks for your reminder.

[2021-08-05 05:45] #18823 closed

[2021-08-05 06:25] dg0yt commented on #16416
IIUC you need to link additional libraries. Even if you cannot use cmake or pkgconfig, you may have a look at the pkgconfig file or cmake config files for your installed port curl to get an idea which ones are needed.

[2021-08-05 06:30] dg0yt commented on #14030
I don't think the current state of *open and "category:port-bug" and not "depends:upstream-changes" properly reflects the state: It is not a bug in the port itself, and it does depend on upstream changes (or patching).

Anyway, in #18971 I moved WinLDAP support to a separate, non-default feature now, and documented the missing LDAPS support in the description.

[2021-08-05 06:38] JackBoosY commented on #19237
That's just a notice.

[2021-08-05 06:56] dg0yt commented on #19237
IMO recommending a "git pull" is too intrusive. I would prefer to have a `--online` option. which could be used (and recommeded) safely.

[2021-08-05 07:01] ulfllorenz commented on #17919
Then asking here: I have a question: What is the status of this issue? I see that it is closed, but there are no associated commits or closing remarks.

We have the same problem here where our Linux package of curl drags in the libldap by default. I can disable non-HTTP parts and solve this problem by choosing "vcpkg install curl[core,ssl]", however, we also use the cpr package for the actual inte

[2021-08-05 07:04] ulfllorenz commented on #17919
Screw the second paragraph. We also use an old state of vcpkg and while testing the old and the current state, I seem to have mixed things up.

[2021-08-05 07:23] dg0yt commented on #17919
@ulfllorenz With #18971, curl should no longer request any LDAP dependencies except for WinLDAP (new non-default feature "winldap").

[2021-08-05 07:52] JackBoosY commented on #14030
@dg0yt I think we should simply remove this feature until the upstream fix it.

[2021-08-05 08:13] NancyLi1013 commented on #19359
Could you please provide what the detailed error you encountered for `curl[core,ssl]`?

[2021-08-05 08:15] NancyLi1013 commented on #19359
For #17919, it's duplicated to #14030, so you can focus on the status of #14030.

[2021-08-05 08:38] ulfllorenz commented on #19359
Thanks for the reply regarding the issue status. Regarding the detailed error, there is no error per se. I want to install curl

*  with ssl
*  http only (i.e., without "non-http")

Normally, you would install "curl[core,ssl]", but that expands to "curl[...,non-http,...]", which is not what I want. And the reason is that the intermediate feature winssl erroneously enables the default features (one

[2021-08-05 08:54] dg0yt commented on #19359
@NancyLi1013 Look:

[code]

[2021-08-05 08:56] dg0yt commented on #19359
@NancyLi1013 No, these issue are different: #14030 is missing LDAPS with WinLDAP. #17919 is uncontrolled system dependencies with OpenLDAP.

[2021-08-05 09:09] dg0yt commented on #14030
With #18971, LDAP is *removed from the default features*. I think this is good enough: opt-in when desired, and see the limitations in the feature's  description.

[2021-08-05 09:18] talregev commented on #17897
@JackBoosY Please remain this issue open until you modify the readme.

[2021-08-05 09:57] talregev commented on #17897
I was thinking about open a ticket.
But I can only re-confirm the bug only on gitlab ci on fdroid.
I try to do it local on my wsl Debian. They using Debian 9, wsl is Debian 10, and on the wsl is not happening.
Also, it will be hard for me to provide a necessary logs, and they also are going to switch to Debian 10 somewhere in the future.
@JackBoosY What do you think?

[2021-08-05 09:59] JackBoosY commented on #17897
@talregev  If it happens again, we should keep this PR open until we fix it.

[2021-08-05 10:02] #19316 closed

[2021-08-05 10:05] #18854 closed

[2021-08-05 10:07] SamuelMarks opened #19378 "Convert all CONTROL to vcpkg.json"
****

**Is your feature request related to a problem? Please describe.**
@JackBoosY was telling me in https://github.com/microsoft/vcpkg/pull/18895#discussion_r683305599 that `vcpkg.json` is preferred over `CONTROL` files for all new ports.

**Proposed solution**
I can write a script to automatically convert `CONTROL` files to `vcpkg.json` files. I'll write + open-source it in any language—do you

[2021-08-05 10:08] talregev commented on #17897
There are 2 bugs we talking here.
1. Ticket bug. that always happen, and the solution is to modify readme, and explain we need gcc > 7 with c++17.
2. The mysterious remove zip file that happen on openssl android ports (maybe on other ports too).
It always happen in the fdroid ci. Didn't happen on my local wsl.

[2021-08-05 10:08] talregev commented on #17897
I was talking about bug number 2 here.

[2021-08-05 10:12] #19262 closed

[2021-08-05 10:20] PhoebeHui commented on #19378
I like the idea, I think we prefer vcpkg.json for all new ports, and for all exist ports, we prefer to wait for each port to slowly change. It would be help if there is a script to do this.

@dan-shaw @ras0219-msft, what do you think?

[2021-08-05 10:27] JonLiu1993 commented on #19372
@seccpur ,Thanks for posting this issue,please provide the error log:
[code]

[2021-08-05 10:29] JonLiu1993 commented on #19156
Duplicate to #19367

[2021-08-05 10:29] #19156 closed

[2021-08-05 10:30] jdx-john opened #19379 "cpprest: Lots of linker errors using -static-md"
I switched from -static to -static-md to solve this problem:

This is our custom triplet:
[code]

But now I see the following issues with cpprest and libcrypto. Many other ports are being used without issues so I am not sure if there could be a port-specific issue. Or is it possible our custom triplet could be to blame (the last 3 lines are added to existing x86-windows-static-md)?
We were previou

[2021-08-05 10:32] NancyLi1013 commented on #19368
Hi @hYdos

Thanks for posting this issue.

I tried to build your project on my local without any errors. Have you installed `g++` on your machine?

[2021-08-05 10:58] jdx-john opened #19380 "How do I export from one machine and integrate on another?"
I have read about *export* (https://devblogs.microsoft.com/cppblog/vcpkg-introducing-export-command/) but I do not wish to have developers install a .nuget. I want them to use vcpkg mirroring our build-server, but not have to build everything themselves. This way their setup better mirrors the build machine.

Reading https://vcpkg.readthedocs.io/en/latest/users/integration/#export-command it menti

[2021-08-05 10:59] hYdos commented on #19368
I do indeed have g++ on my machine.

[2021-08-05 11:04] autoantwort commented on #19378
In general there is `vcpkg format-manifest --all --convert-control` to convert all CONTROL files to vcpkg.json

[2021-08-05 11:05] autoantwort commented on #19378
947 ports still uses CONTROL files.

[2021-08-05 11:24] autoantwort commented on #19237
The --online option should then simply open the webbrowser and search on vcpkg.io?

If they have not changed it no. They have to update the site manually... WTF

[2021-08-05 11:25] jdx-john commented on #19380
Looking a bit more, it seems export works similarly to install, you have to specify each port and triplet. I really just want to create an export of everything I have installed in one go - is this not supported?

[2021-08-05 12:23] SamuelMarks commented on #19378
#12471 gotcha

Want this extended with those added features I mentioned above?

Also would you accept a PR that applied just the command as is—to the entire tree—but with all the open PR port names blacklisted?

[2021-08-05 12:37] jdx-john commented on #19379
I was trying to inspect my library file, so I did:

The result file is large but I searched for some missing symbol names in the errors and saw the following:
[code]

I don't really know what this is telling me though. The .lib file is about 170MB (the non-static version is 200KB) so it seems there must be a lot of stuff in there!

[2021-08-05 12:42] NekoooooOoi opened #19382 "[boost-exception]msvc.write-setup-script C:\Program Files\CMake\vcpkg\buildtrees\boost-exception\x86-windows-rel\boost\standalone\msvc\4c43e23ab5ea979f4503513265cfdf27\msvc-setup.bat The system cannot find the path specified."
**Host Environment**
- OS: Windows
- Compiler: Visual Studio 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install boost`

**Failure logs**
Could not locate cached archive: C:\Users\王峥宇\AppData\Local\vcpkg\archives\32\32369fe7853f9a1cd2d89b75a6daeabf91e40231ea379bb4e8d2f2deea89af5d.zip
Could not locate cached archive: C:\Users\王峥宇\AppData\Local\vcpkg\archives\03\036c991f79315d3f

[2021-08-05 12:47] NekoooooOoi commented on #19382
I've already read the issue at 'https://github.com/microsoft/vcpkg/issues/14154', and I've tried some of the solutions suggested by @PhoebeHui  like installing the boost-build by 'vcpkg install boost-build' and install English language package. However, they didn't work.

[2021-08-05 12:49] NekoooooOoi commented on #19382
Also, I've tried to  exit my anti-virus software, it didn't work either....

[2021-08-05 12:52] seccpur commented on #19372
Somehow the log was missing. I tried a second installation in the hope of generating the error and the log, but the installation completed without error this time.

`PS D:\repos\vcpkg> ./vcpkg install opencv3[ffmpeg]:x64-windows
Computing installation plan...
The following packages will be built and installed:
    opencv3[core,dnn,ffmpeg,flann,jpeg,png,quirc,tiff,webp]:x64-windows -> 3.4.13
Warnin

[2021-08-05 13:25] jdx-john commented on #19379
OK so I only just twigged all those missing symbols are WinAPI functions - I had thought they were part of cpprest library initially.

So I am building my project (a DLL) with _Multi-threaded DLL (/MD)_ and it's saying it cannot find WinAPI symbols that are referenced in external lib cpprest. Is it plausible cpprest is _not_ building /MD i.e. `VCPKG_CRT_LINKAGE dynamic` is being ignored?

[2021-08-05 13:54] Osyotr commented on #19378
Please have mercy on reviewers.

[2021-08-05 14:41] Be-ing commented on #18008
@sfhacker I am [rewriting PortAudio's CMake build system](https://github.com/PortAudio/portaudio/pull/461) and [getting it building with JACK on Windows & MinGW](https://github.com/PortAudio/portaudio/pull/618). I also added an option to automatically download the ASIO SDK. I have a [port](https://github.com/PortAudio/portaudio/pull/618) using my prerelease branch which you would be welcome to use

[2021-08-05 15:47] JohannYellow opened #19383 "[cairo ] build failure"
**Host Environment**
- Windows 10 x64
- Compiler: gcc (i686-posix-dwarf-rev0, Built by MinGW-W64 project) 8.1.0

**To Reproduce**
Steps to reproduce the behavior:
.\vcpkg.exe install cairo --triplet x64-windows

**Failure logs**
Error: Building package brotli:x64-windows failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `.\vcpkg update`, then
submit an issue at https:/

[2021-08-05 17:47] corbt commented on #18222
Hey Jack, I'm not sure if this is what you're asking for, but here's all the files in my MKL directory:

[code]

[2021-08-05 20:36] jdx-john commented on #19379
OK I think I have this one figured out:
- https://stackoverflow.com/questions/49732029/how-to-use-static-build-of-cpprest-sdk-generated-by-vcpkg
- https://github.com/Microsoft/vcpkg/issues/996
- https://github.com/microsoft/cpprestsdk/issues/344

I had to explicitly add crypt32.lib & winhttp.lib to my project. No idea why our previous version of cpprest did not need us to do this, but it seems to

[2021-08-05 21:15] strega-nil-ms commented on #19055
Hmm, this looks like a bug in vcpkg; lemme take a look.

[2021-08-05 21:59] strega-nil-ms commented on #19055
Mmh, I see it; fixed in https://github.com/microsoft/vcpkg-tool/pull/147

[2021-08-05 22:20] Be-ing opened #19387 "vcpkg stuck in manifest mode, refuses to install packages manually"
**Describe the bug**
I used manifest mode locally as a test for one project. Then I switched back to a branch I was working on for packaging a new port. However when I tried to use `vcpkg install`, I got an error:
[code]

I tried re-bootstrapping, deleting the whole vcpkg Git repository and recloning it, `rm -rf ~/.vcpkg ~/.cache/vcpkg`, but none of those worked. I don't know where the broken stat

[2021-08-05 23:05] InfRandomness opened #19388 "How do I use Catch::Catch2WithMain ?"
I was checking the catch2's documentation about their cmake integration (https://github.com/catchorg/Catch2/blob/devel/docs/cmake-integration.md#cmake-targets);

They seem to advise people who don't need a custom main() function to use Catch2::Catch2WithMain, so that's what I went with.
Only, I seem to have troubles with trying to do so when using catch2 through vcpkg,
my configuration is :
[code]

[2021-08-06 00:25] Alilux opened #19389 "Embedded"
#
## **Describe the bug**
### A clear and concise description of what the bug is.

- ~~_****_~~

1. 1.

- [ ]
___
``

**Environment**
- OS: [e.g. Windows/Linux etc...]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install xxxx
2. See error
Repro code when

**Expected behavior**
A clear and concise description of what you expected to happen.

**Failure logs**
-(

[2021-08-06 01:39] alexkaratarakis commented on #19240
To check for environment issues, I tried:

[code]

This dockerfile builds fine (and it also uses glibc 2.31).

Then, on the failing machine, I tried a new triplet with no previous builds and it builds correctly.

Therefore, something in the existing triplet is causing this package to fail. Fresh rebuild of everything solves the problem.

Thanks for the help!

[2021-08-06 01:39] #19240 closed

[2021-08-06 01:41] PhoebeHui commented on #19055
@strega-nil-ms, thanks for fix this issue!

[2021-08-06 01:42] jayvdb opened #19390 "[New Port Request] libserialport"
Library name: libserialport

Library description: libserialport is a minimal, cross-platform shared library written in C that is intended to take care of the OS-specific details when writing software that uses serial ports.

It is widely available in *nux distros; c.f https://repology.org/project/libserialport/versions

Source repository URL: git://sigrok.org/libserialport

Project homepage (if di

[2021-08-06 01:43] NancyLi1013 commented on #18854
Hi @furkanxdgs4

This issue should be solved now. Please update to the latest vcpkg to rebuild this.

[2021-08-06 01:48] Be-ing opened #19391 "add command to download sources without installing"
****

**Is your feature request related to a problem? Please describe.**
Many other package managers such as Flatpak and Linux distribution package managers do not provide build machines with network access to prevent tampering with source code. vcpkg could be used in such settings if the sources could be downloaded separately from building them.

This would be nice for packaging Flatpaks for appl

[2021-08-06 01:50] PhoebeHui commented on #19382
@NekoooooOoi, the Chinese characters cause this issue, see https://github.com/microsoft/vcpkg/issues/15201#issuecomment-750804866.

Duplicated to https://github.com/microsoft/vcpkg/issues/15201.

[2021-08-06 01:50] #19382 closed

[2021-08-06 01:53] PhoebeHui commented on #14154
The Chinese characters cause this issue, see https://github.com/microsoft/vcpkg/issues/15201。

[2021-08-06 02:14] JackBoosY commented on #19237
@autoantwort  Yes, it is always up to date only in our master branch.

[2021-08-06 02:16] Nameisedith commented on #19352
Thanks for your advice.Your advice helped me&nbsp; solve this problem sucessfully.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "microsoft/vcpkg"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年8月4日(

[2021-08-06 02:20] JackBoosY commented on #19240
As you can see, we don't fit docker too much.

[2021-08-06 02:21] autoantwort commented on #19237
you mean in the vcpkg repo? The vcpkg.io repo is definitely not up to date. For example vcpkg.io still shows the old version for FreeRDP which was updated in #18242

[2021-08-06 02:22] autoantwort commented on #19391
There is `vcpkg install --only-downloads`

[2021-08-06 02:24] Be-ing commented on #19391
Oh, hah, I didn't know about that.

[2021-08-06 02:24] #19391 closed

[2021-08-06 02:25] NancyLi1013 commented on #19388
Hi @InfRandomness

Thanks for posting this issue.

Currently, there is no `Catch2WithMain` provided in vcpkg. As you can see here:
https://github.com/catchorg/Catch2/blob/v2.13.6/CMakeLists.txt#L109

`Catch2WithMain `is generated only in static build. We need to support this.

[2021-08-06 02:28] Be-ing opened #19392 "[ffmpeg] build failure fetching yasm"
**Host Environment**
- OS: Windows
- Compiler: MSVC

**To Reproduce**
`./vcpkg install ffmpeg`

**Failure logs**
[code]

**Additional context**
It seems something is wrong with the SSL certificate for https://tortall.net/ I get a warning from Firefox when I go to that website.

I tried hacking around this by installing yasm from Chocolatey but vcpkg did not find it and tried to download anyway.

[2021-08-06 02:32] JackBoosY commented on #19379
Note all symbols have `__imp__` prefix, that's not correct.

[2021-08-06 02:34] JackBoosY commented on #19379
https://docs.microsoft.com/en-us/windows/win32/api/dpapi/nf-dpapi-cryptprotectmemory, you should link with system libs such as `Crypt32.lib`.

[2021-08-06 02:35] JackBoosY commented on #19237
@autoantwort Yes, in vcpkg.io, we are not updated synchronously.

[2021-08-06 02:47] #19352 closed

[2021-08-06 02:52] PhoebeHui commented on #10829
@emrsmsrli, thanks for your reply!

[2021-08-06 02:52] #10829 closed

[2021-08-06 02:53] JackBoosY commented on #19380
We don't support export muti targets now.
And you should use feature binarycaching, see [documentation](https://github.com/microsoft/vcpkg/blob/master/docs/specifications/binarycaching.md).

[2021-08-06 02:55] JonLiu1993 commented on #19372
@seccpur ,Thanks for posting this issue,I will close this issue for now, if you have new issue, you can reopen it

[2021-08-06 02:55] #19372 closed

[2021-08-06 02:56] JackBoosY commented on #17897
[code]
For this, I really don't know who did this.

[2021-08-06 02:56] PhoebeHui commented on #19387
@Be-ing, since you are in manifest mode, so could you try './vcpkg install' instead? it would install the ports configured in your vcpkg.json file.

[2021-08-06 03:08] NancyLi1013 commented on #19392
Hi @Be-ing

Thanks for posting this issue.

Since it's duplicated to #19121. Let's track this issue there.

[2021-08-06 03:08] #19392 closed

[2021-08-06 04:10] NekoooooOoi commented on #19382
@PhoebeHui It works! Thanks for your help.

[2021-08-06 04:52] talregev commented on #17897
Can you take a look on openssl port and tell me where is the line that create `armv6-android.zip` then remove?

[2021-08-06 05:37] talregev commented on #17897
Also I notice there is an `openssl-unix`. For what reason there is this port?

[2021-08-06 06:02] talregev commented on #17897
This error also happen in different port `expat:armv6-android`. My guess is that is something connected to this image. and nor from vcpkg.
Just update the documantion:
gcc >=7 with c++17
https://gcc.gnu.org/projects/cxx-status.html#cxx17

[2021-08-06 06:11] acgetchell opened #19394 "[mpfr] build failure"
**Host Environment**
- OS: Windows
- Compiler: Visual Studio 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install mpfr`

**Failure logs**

[code]

https://ci.appveyor.com/project/acgetchell/cdt-plusplus#L577

**Additional context**

This was working 3 days ago from a cached copy:

https://ci.appveyor.com/project/acgetchell/cdt-plusplus/builds/40229707#L1453

[2021-08-06 06:18] dg0yt commented on #19394
Duplicate of #19353?

[2021-08-06 07:21] cenit commented on #19387
is there any vcpkg.json file anywhere? that tricks vcpkg into manifest mode..,

[2021-08-06 07:37] JonLiu1993 commented on #19394
@acgetchell ,This issue Duplicate of #19353,will be fixed by #19361

[2021-08-06 07:37] #19394 closed

[2021-08-06 07:47] HoLue opened #19395 "tensorflow-cc:x64-windows"
[msys-pacman-x64-windows-err.log](https://github.com/microsoft/vcpkg/files/6944024/msys-pacman-x64-windows-err.log)
[msys-pacman-x64-windows-out.log](https://github.com/microsoft/vcpkg/files/6944025/msys-pacman-x64-windows-out.log)
**Host Environment**
- Windows 10
- Compiler: ?
Microsoft Visual Studio Community 2019
Version 16.10.1
VisualStudio.16.Release/16.10.1+31402.337
Microsoft .NET Framewor

[2021-08-06 07:54] owolff commented on #14081
FYI: We fixed the issue upstream as well. The fix will also be cherry picked to Qt 5.15.

[2021-08-06 07:55] JackBoosY commented on #18450
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-08-06 07:55] #18450 closed

[2021-08-06 08:00] JackBoosY commented on #18442
Generally, many ports contain internal Find modules, and when building these ports using vcpkg, these modules will be used **by default** unless there are some path problems.
So if something goes wrong, we need to add a patch to fix it.

[2021-08-06 08:00] #18442 closed

[2021-08-06 08:01] JackBoosY commented on #18430
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-08-06 08:01] #18430 closed

[2021-08-06 08:03] JackBoosY commented on #18349
We don't have enough information to solve this issue, unfortunately; if you have any more information to help us solve this, please reopen!

[2021-08-06 08:03] #18349 closed

[2021-08-06 08:04] JackBoosY commented on #18339
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-08-06 08:04] #18339 closed

[2021-08-06 08:05] JackBoosY commented on #18266
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-08-06 08:05] #18266 closed

[2021-08-06 08:08] #18162 closed

[2021-08-06 08:09] JackBoosY commented on #18160
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-08-06 08:09] #18160 closed

[2021-08-06 08:11] JackBoosY commented on #18152
Now, I have an unofficial mirror in China, please see https://gitee.com/jackboosy/vcpkg/issues/I44496.

[2021-08-06 08:11] #18152 closed

[2021-08-06 08:14] #18117 closed

[2021-08-06 08:17] JackBoosY commented on #18051
Will be partly fixed by https://github.com/microsoft/vcpkg-tool/pull/82. But our webset still don't show the usage since you need to install the port before use it.

[2021-08-06 08:20] JackBoosY commented on #17968
That's related to the toolchain, I prefer @alcroito @psfrolov to have a reply.

[2021-08-06 08:22] #17743 closed

[2021-08-06 08:24] JackBoosY commented on #17703
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-08-06 08:24] #17703 closed

[2021-08-06 08:25] #17697 closed

[2021-08-06 08:27] JackBoosY commented on #17665
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-08-06 08:27] #17665 closed

[2021-08-06 08:28] JackBoosY commented on #17630
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-08-06 08:28] #17630 closed

[2021-08-06 08:30] JackBoosY commented on #17607
Maybe we should write a document about that.

[2021-08-06 08:30] JonLiu1993 commented on #19389
@Alilux ,Thanks for posting this issue,could you please provide your environment, reproduce step,failure logs?thanks

[2021-08-06 08:31] JackBoosY commented on #17694
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-08-06 08:31] #17694 closed

[2021-08-06 08:33] JackBoosY commented on #17545
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-08-06 08:33] #17545 closed

[2021-08-06 08:35] JackBoosY commented on #17545
BTW, you can use overlay-triplet. See [documentation](https://github.com/microsoft/vcpkg/blob/master/docs/examples/overlay-triplets-linux-dynamic.md).

[2021-08-06 08:36] #19387 closed

[2021-08-06 08:39] #19211 closed

[2021-08-06 08:40] jdx-john commented on #19379
Indeed this seems to resolve it _but_ I am scratching my head how we were using cpprest before. I guess we must have somehow got it to statically link to those system libraries and still built our project with /MD. Might be we bodged our old CMake build for cpprest, might just be vcpkg uses different settings. I'm glad to finally figure it out :)

[2021-08-06 08:46] JonLiu1993 commented on #19383
@JohannYellow ,Thanks for posting this issue,Could you please provide the error log?

[2021-08-06 08:46] NancyLi1013 commented on #18588
Please feel free to reopen this issue if it is still a problem for you.

[2021-08-06 08:46] #18588 closed

[2021-08-06 08:50] NancyLi1013 commented on #18585
Closing this issue for now based on the above comments. Please feel free to reopen this issue if it is still a problem for you.

[2021-08-06 08:50] #18585 closed

[2021-08-06 08:52] NancyLi1013 commented on #18558
Closing this issue for now. Please feel free to reopen this issue if it is still a problem for you.

[2021-08-06 08:52] #18558 closed

[2021-08-06 08:57] szabolcshorvath-craft commented on #4359
Why is this issue closed? It's mid 2021 and still I get the same message:

Environment:
Windows10, VS2019, C++, newly created Command Line Application project, Platform Toolset: llvm (clang-cl), vcpkg integration installed

Even though this issue may have been solved already, it's not clear for me, what to do to resolve this error.
Or should I open another issue for this?

[2021-08-06 09:02] JohannYellow commented on #19383
Hi Jon,
thank you for getting back to me.  I'm relatively new to this so forgive me
for any stupid questions.

If by "error log" you mean the output in Powershell - here is it below:

PS C:\programs\vcpkg>
PS C:\programs\vcpkg> .\vcpkg.exe install cairo --triplet x64-windows
Computing installation plan...
The following packages will be built and installed:
  * brotli[core]:x64-windows -> 1.0.9#1

[2021-08-06 09:06] PhoebeHui commented on #17108
@SamuelMarks, allegrao5 doesn't provide cmake config and targets file officially, so please use find_path() and find_library() instead.
See [installing-and-using-packages](https://github.com/microsoft/vcpkg/blob/master/docs/examples/installing-and-using-packages.md#handling-libraries-without-native-cmake-support). Please also submit a request to Upstream.

[2021-08-06 09:10] NancyLi1013 commented on #18510
Closing this issue since `irrlicht` doesn't support uwp on upstream.

[2021-08-06 09:10] #18510 closed

[2021-08-06 09:12] #18467 closed

[2021-08-06 09:13] #18947 closed

[2021-08-06 09:14] JonLiu1993 commented on #19383
Hi @JohannYellow .

Seems duplicated of #15681, let's track this issue there.

[2021-08-06 09:14] #19383 closed

[2021-08-06 09:15] JackBoosY commented on #17555
I think this issue is same with https://github.com/microsoft/vcpkg/issues/19027, please track that issue.

[2021-08-06 09:15] #17555 closed

[2021-08-06 09:16] jdx-john commented on #19380
@JackBoosY it seems this might be what we want but after reading that page and the more up to date https://github.com/microsoft/vcpkg/blob/master/docs/users/binarycaching.md I don't see how to _use_ the cached files.
My goal is for developers to use vcpkg locally; I read that vcpkg has binary caching on by default, so I checked in `%LOCALAPPDATA%\vcpkg\archives`:

![image](https://user-images.gith

[2021-08-06 09:24] #18865 closed

[2021-08-06 09:26] #16920 closed

[2021-08-06 09:27] Osyotr commented on #19380
Well, you use them the same way you generate them.
I.e. pass `--binarysource=\\<BUILD-SERVER\vcpkg_cache\,r` to vcpkg

[2021-08-06 09:27] Neumann-A commented on #4359
old integration installed? Remove it and reinstall it. This issue was also mainly for the  toolset called `LLVM` which was installed by LLVM itself. The `ClangCL` toolset which gets installed by VS itself is probably not handled correctly.

you may be able to adjust the check in https://github.com/microsoft/vcpkg/blob/5742e878fc71b4fcb9c019b50f1f887f22db58df/scripts/buildsystems/msbuild/vcpkg.prop

[2021-08-06 09:30] NancyLi1013 commented on #18896
Since there are also other ports have the same cases with `intel-mkl`. And there is also the information described in portfile.cmake:
 `# Due to the complexity involved, this package doesn't install MKL. It instead verifies that MKL is installed.`

So I think it's unnecessary to mention this in description field.

[2021-08-06 09:31] jdx-john commented on #19380
@Osyotr so I would still need to run `vcpkg install [...] --binarysource=\\<BUILD-SERVER\vcpkg_cache\,r` for each package on my dev-box, and then `vcpkg integrate install` as normal? I had figured I could just _use_ the binary cache as a single blob if I misunderstood that, it would explain my confusion :)

[2021-08-06 09:33] JackBoosY commented on #19379
@jdx-john Did you use msbuild project?

[2021-08-06 09:34] PhoebeHui commented on #16751
@cditto123, thanks for your reply.

[2021-08-06 09:34] #16751 closed

[2021-08-06 09:35] JackBoosY commented on #18222
We should add a cmake wrapper to `intel-mkl` to add `MKLROOT` to environment.

[2021-08-06 09:36] #16557 closed

[2021-08-06 09:37] #8964 closed

[2021-08-06 09:42] JackBoosY commented on #17897
Can you please provide the file list when unzip `armv6-android.zip` ?

[2021-08-06 09:45] talregev commented on #17897
Not sure I can. and I think this zip is not exist anyway. (it not find it).
I will try to output the log of this weird case.
(it not my repo, and it CI, so make a little harder to make things).
I will try to do it next week and give you a full report from what I learn.

[2021-08-06 09:54] JackBoosY commented on #19332
gcc bug, see https://github.com/iains/gcc-darwin-arm64/issues/35.

[2021-08-06 09:56] Osyotr commented on #19380
Yep. When you run `vcpkg install my_lib --binarysource=...,r` it will just copy files from remote folder if they exist, otherwise it will build the library.

[2021-08-06 09:56] JackBoosY commented on #17897
@talregev Also, please open a new issue to report that.

[2021-08-06 09:57] #19380 closed

[2021-08-06 09:57] talregev commented on #17897
ok. I will do it next week.

[2021-08-06 09:59] NancyLi1013 commented on #19261
Closing this issue for now, please feel free to reopen this issue if you have any problems when using overlay-ports.

[2021-08-06 09:59] #19261 closed

[2021-08-06 10:01] szabolcshorvath-craft commented on #4359
Thank you for the quick response! It's a new integration because a recent upgrade of vcpkg deleted all my previously installed packages, so I've decided to make a clean start over. But just to be sure, now I've reinstalled the integration and the problem still remains. Indeed, I'm using the LLVM platform toolset installed by VS itself. Also thank you for the tip, I will look into if I could adjust

[2021-08-06 10:07] PhoebeHui commented on #19313
@artificial-jamesirei, thanks for reporting this issue! It should be a port bug, I will take a look.

[2021-08-06 10:15] autoantwort commented on #18896
But nobody reads the portfile.cmake. And why should you as normal user?

[2021-08-06 10:17] autoantwort commented on #19332
Yeah, but until then vcpkg bootstrap fails

[2021-08-06 10:27] PhoebeHui commented on #18896
I think adding the information to description field is fine. @NancyLi1013, could you please submit a PR to add that information?

[2021-08-06 10:45] ZnoozeJooze opened #19411 "[gettext:x64-windows] build failure"
**Host Environment**
- Windows 10
- First run vcpkg update + git pull

**To Reproduce**
`./vcpkg install gtk`

**Failure logs**
Building package gettext[core]:x64-windows...
-- Using D:/repositories/ui1000_devel/3rd_party/vcpkg/downloads/gettext-0.21.tar.gz
-- Cleaning sources at D:/repositories/ui1000_devel/3rd_party/vcpkg/buildtrees/gettext/src/0.21-d3cbdc875d.clean. Use --editable to skip clean

[2021-08-06 10:46] Neumann-A commented on #19378
I think the idea is to convert on port update. Simply because it otherwise invalidates users binary caches only due to a change from `CONTROL` to `vcpkg.json`.

[2021-08-06 10:54] dg0yt commented on #19411
Duplicate of #19337. Patch waiting to be merged.

[2021-08-06 11:25] SamuelMarks commented on #19378
Hey it's the guy from the JSON project! - Cool

RE: Updating just on port update. Can't the binary cache invalidation become conditional on a functional change to the CONTROL/vcpkg.json file rather than a mere change? - Fixing a typo or adding tags shouldn't invalidate the cache… right?

[2021-08-06 11:29] IIFE opened #19412 "Trying to determine if vcpkg manifest mode is suitable for some use cases I have"
Hi,

I'm trying to determine if vcpkg manifest mode is suitable for a use case I have.

I've got a monolith Visual Studio solution with many projects. The solution is for a Windows application comprised of several DLLs and static libraries.

The way I've used vcpkg is installing the dependencies I need with `--overlay-triplets` so that I can install a DLL or static lib dependency, depending on how

[2021-08-06 13:25] Neumann-A commented on #19317
If the ports are switched to their native buildsystem they most likely will automatically generate the .pc files so this should be the task.

[2021-08-06 15:32] jdx-john opened #19415 "How can I cache binaries to a new location without rebuilding?"
Thanks to help here, I have now successfully enabled binary-caching (https://github.com/microsoft/vcpkg/issues/19380) and it looks great.

However, I had already built most of my ports without it. When I re-ran `vcpkg install` for every port/triplet we use and passed `--binarysource=files,c:\vcpkg_cache,readwrite` only the ones which got built appear there. All those which were already built did n

[2021-08-06 15:57] autoantwort commented on #19415
Simply copying should work

[2021-08-06 16:09] Be-ing commented on #19121
Thank you for the workaround @julianxhokaxhiu.

[2021-08-06 17:18] Baklap4 opened #19416 "librsvg - cmake module debug mode appends a suffix"
I'm trying to get a native Windows build working in which we depend on `librsvg-2`. It's correctly installed through [vcpkg](https://github.com/microsoft/vcpkg). We usually build with cmake and have made a custom module to find this library. This works great in the unix world, but not within Windows and targeting either a Debug build or a Release build (from visual studio). This is due to the fact

[2021-08-06 17:43] strega-nil-ms opened #19417 "[libmagic:x64-windows] Build failure due to "libtool could not find a file being linked against!""
It looks like #19164 caused this regression

[2021-08-06 18:49] Baklap4 opened #19419 "[fontconfig] build failure on windows 10"
**Host Environment**
- OS: Windows 10
- Compiler: 2021-07-26-9425cf5f512f242c0bcbabac31f08832825aee81
- vcpkg repo revision: 5742e878fc71b4fcb9c019b50f1f887f22db58df

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install fontconfig`

**Failure logs**
Powershell logs:
[code]
build-x64-windows-dbg-err.log
[code]
[build-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/69

[2021-08-06 19:25] BillyONeal commented on #17897
We added CI testing that it should work all the way back to GCC 7. https://github.com/microsoft/vcpkg-tool/pull/122/files#diff-cc214df161ca5fc74d96213dce0e5c58201f97b8aad43a451f5c4e27c7cd8a30R43

To clarify, is the problem that:

* They have a recent enough version of gcc to build vcpkg, but not a recent enough version of clang to build vcpkg.
* bootstrap.sh tries clang before gcc, and so chooses

[2021-08-06 19:27] BillyONeal commented on #17897
Ah wait I reread this and understand now, the problem is that for some reason gcc-6 is being selected, but the testing we added was for 7.

[2021-08-06 20:42] Yamakaky commented on #19252
PR opened.This was easier than thought since SDL use a bundled hidapi version.

[2021-08-07 01:59] libbooze commented on #18887
@jgehw  thank you for making the pull request.
I wish TF people fixed this, but will probably [not happen](https://github.com/tensorflow/tensorflow/issues/50744).
Also not sure if you are right person to report this to, but I think 2.**5** is incompatible with Eigen 3.3.9 (at least IIRC on my machine it was broken since both Eigen and TF specialized std::hash for same type), so if there are any pl

[2021-08-07 02:06] Be-ing opened #19424 "manifest mode checks binary cache before vcpkg_installed for new CMake build directory"
**Describe the bug**
I am not sure if this is a bug or by design, so I am opening this issue to clarify. I tried caching the `vcpkg_installed` directory on GitHub Actions using vcpkg in manifest mode. I have a step in the GitHub Actions workflow to run `vcpkg install` before the CMake configure step. With `vcpkg install`, it first searches `vcpkg_installed`, then the binary cache. However running

[2021-08-07 03:45] pisiiki opened #19425 "How do I select the vs toolchain when installing a package?"
I have been trying today to build v142 and v143 versions of some packages without success. Is there a simple way to handle this? ie: via parameters to vcpkg install / cmake?

[2021-08-07 03:48] Be-ing opened #19426 "SSH and HTTPS binary cache sources"
****

**Is your feature request related to a problem? Please describe.**
Currently binary caching can only use two types of sources, local files and NuGet servers. The NuGet server software only runs on Windows which limits options for projects to host their own vcpkg binary cache server.

**Proposed solution**
Allow specifying HTTPS and SSH servers in VCPKG_BINARY_SOURCES. SSH could be used for r

[2021-08-07 05:03] Be-ing opened #19427 "set size limit for binary cache"
**Is your feature request related to a problem? Please describe.**
vcpkg adds to the binary cache continually without evicting old packages.

**Proposed solution**
Implement some way to specify the maximum cache size with an environment variable. I am not sure what the best way to do this would be. Setting a single size would not be sufficient because multiple cache sources can be specified in VCP

[2021-08-07 06:42] Be-ing opened #19431 "ARM/x64 macOS universal binary triplet"
****

**Is your feature request related to a problem? Please describe.**
Apple has switched CPU architectures again, this time to ARM.

**Proposed solution**
Add a new triplet arm64-x64-osx (or some similar name) for ARM/x64 universal binaries

**Describe alternatives you've considered**
Make separate builds for x64-osx and arm64-osx

**Additional context**
https://cmake.org/cmake/help/latest/vari

[2021-08-07 07:35] jgehw commented on #18887
@libbooze thanks for reporting the TF 2.5 / Eigen 3.3.9 incompatibility. Do you know if this is fixed in TF 2.6(-rc*)? (My plan was to skip 2.5 and update to 2.6 soon.)

[2021-08-07 08:03] heretic13 opened #19432 "[New Port Request] jerryscript"
Library name:
jerryscript

Library description:
JerryScript is a lightweight JavaScript engine for resource-constrained devices such as microcontrollers.

Source repository URL:
https://github.com/jerryscript-project/jerryscript
Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should b

[2021-08-07 10:44] Squareys commented on #17520
@NancyLi1013 Hey, sorry, somehow I missed the @ there.

The plugins are not meant to be used statically through vcpkg. Instead the .dll files are copied during the DLL dependency search after CMake configure with the `magnum_deploy.ps` script.

Head builds should be fine, but I'm currently experiencing some issues here aswell (a patch on the magnum port is not applying, but the affected code hasn'

[2021-08-07 12:08] Squareys commented on #17520
I fixed the build of magnum/magnum-plugins in https://github.com/microsoft/vcpkg/pull/19435

[2021-08-07 12:46] libbooze commented on #18887
Sorry, did not try.
Here is where I think they specify eigen versions:
https://github.com/tensorflow/tensorflow/commits/master/third_party/eigen3/workspace.bzl

I am not an really following Eigen macros policy, but is seems TF went from unreleased 3.4 to unreleased 3.3 (https://github.com/tensorflow/tensorflow/commits/master/third_party/eigen3/workspace.bzl)

 this is what they used in March:

htt

[2021-08-07 13:31] talregev commented on #17897
@BillyONeal
Do you want support gcc 6 with vcpkg?

[2021-08-07 13:34] talregev commented on #17897
In the system by default there is no gcc on Debian. if you install build-essential or gcc or g++ it will install gcc 6.
In gcc 6 there isn't full c++17 needed for compile vcpkg.
Are you want to remove these compilation from vcpkg to support gcc 6 or you want to update documentation that you support gcc 7 and above?

[2021-08-07 14:12] SamuelMarks opened #19436 "[vcpkg-tool] HTTPS client integration"
****

**Is your feature request related to a problem? Please describe.**
I started https://github.com/microsoft/vcpkg-tool/pull/149 to help resolve #19378. But there is not HTTPS client in [vcpkg-tool](https://github.com/microsoft/vcpkg-tool). (system calls to a `curl` executable don't count)

**Proposed solution**
We could depend on _[libcurl](https://curl.se/libcurl)_. But I assume you've alread

[2021-08-07 14:48] #19337 closed

[2021-08-07 14:48] #19353 closed

[2021-08-07 18:30] ThinkalVB opened #19438 "[New Port Request] <serial>"
Library name: serial

Library description: This is a cross-platform library for interfacing with rs-232 serial like ports written in C++.

Source repository URL: https://github.com/wjwwood/serial

Project homepage (if different from the source repository): http://wjwwood.github.io/serial/

It doesn't have any dependencies. Support C Make and Make build systems. It's pretty popular with 105 watcher

[2021-08-08 02:31] Be-ing opened #19442 "option to reduce reproducibility constraints for binary caching"
**Is your feature request related to a problem? Please describe.**
vcpkg's binary caching features aims for reproducible builds, which is good in general. However it limits the usefulness of the feature. According to https://vcpkg.readthedocs.io/en/latest/users/binarycaching/#implementation-notes-internal-details-subject-to-change-without-notice vcpkg considers all these when calculating a cache k

[2021-08-08 06:32] Hoikas commented on #19442
microsoft/vcpkg-tool#110

[2021-08-08 07:40] Be-ing commented on #19442
Closing as duplicate of https://github.com/microsoft/vcpkg/issues/16631

[2021-08-08 07:40] #19442 closed

[2021-08-08 09:51] vadi2 commented on #17375
gettext now builds as of 57bd7102. Thank you!

[2021-08-08 09:51] #17375 closed

[2021-08-08 11:31] 9cvele3 opened #19445 "[New Port Request] libb64"
Library name: libb64

Library description: libb64 is a library of ANSI C routines for fast encoding/decoding data into and from a base64-encoded format.

Source repository URL:
https://github.com/libb64/libb64

Project homepage (if different from the source repository):
http://libb64.sourceforge.net/

[2021-08-08 13:18] redpandamonium opened #19448 "[value-ptr-lite] Package config naming differs from package name"
**Describe the bug**
When installing the value-ptr-lite package vcpkg suggests the following usage:
[code]

This results in CMake not being able to find the config, because of a naming conflict. The config is found at `vcpkg_installed/<arch-os>/share/value-ptr-lite/value_ptr-lite-config.cmake` which conflicts with the name of its parent directory (which has the package name). So whichever version

[2021-08-08 13:38] cenit commented on #19426
there are many nuget servers running as a container on linux if you need a fast alternative.

look for example at BaGet

[2021-08-08 13:39] cenit commented on #19411
#19361 is merged, this issue can be closed

[2021-08-08 15:29] Be-ing commented on #19426
BaGet is an option but it requires the .NET SDK which is not packaged in many Linux distributions. I know Microsoft has their own APT repository for it, but I think many people would be uncomfortable running third party binary packages on their server.

[2021-08-08 16:23] WangHHY19931001 commented on #17485
[DEBUG] Feature flag 'binarycaching' unset
[DEBUG] Feature flag 'manifests' unset
[DEBUG] Feature flag 'compilertracking' unset
[DEBUG] Feature flag 'registries' unset
[DEBUG] Feature flag 'versions' unset
[DEBUG] BuiltinRegistry initialized with: ""
[DEBUG] Using vcpkg-root: D:\vcpkg
[DEBUG] Using installed-root: D:\vcpkg\installed
[DEBUG] BuiltinRegistry initialized with: ""
[DEBUG] Using buildt

[2021-08-08 16:58] trojanfoe opened #19449 "lua[cpp]:x64-uwp build failure"
**Host Environment**
- OS: Windows 10 20H2
- Compiler: 19.29.30040

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install lua[cpp]:x64-uwp`

**Failure logs**
[code]

[2021-08-08 18:38] Neumann-A commented on #19425
Please read: https://vcpkg.io/en/docs/users/triplets.html (`VCPKG_PLATFORM_TOOLSET` / `VCPKG_VISUAL_STUDIO_PATH`)

[2021-08-09 01:06] pierrejoye opened #19451 "[libgd] update to 2.3.x and later"
Library name: libgd

New version number: 2.3.x

Good morning :)

Thanks for the great work here!

We are the libGd teams and finally cleaning up the building scripts to only rely on CMake and autoconf.

I see that libgd is already in the list of available packages but it seems stuck to 2.2.x.

What would be the process to add our own registry, anything else than https://devblogs.microsoft.com/cppb

[2021-08-09 01:47] JonLiu1993 commented on #19411
@ZnoozeJooze ,Thanks for posting this issue,pr #19361 is merged,please update your vcpkg and try again

[2021-08-09 01:47] #19411 closed

[2021-08-09 02:20] JackBoosY commented on #17485
[code]

[2021-08-09 02:28] JackBoosY commented on #19431
Yes, we are planing to do that.

[2021-08-09 02:29] #19427 closed

[2021-08-09 02:48] JackBoosY commented on #17485
Since the original issue has been resolved, close this now.

[2021-08-09 02:48] #17485 closed

[2021-08-09 02:50] JackBoosY commented on #19419
Can you please update vcpkg to latest and try again?

[2021-08-09 05:59] dg0yt commented on #17607
*There must be a specification.* The current state is too vague in order to determine what is a valid bug and what isn't.

As long as this is open, it doesn't even make sense to start contributing improvements because they are prone to lengthy pointless discussions.

[2021-08-09 06:24] #19431 closed

[2021-08-09 07:00] vadi2 commented on #17374
I install both `automake autoconf` via brew now, but the `  Can't exec "aclocal": No such file or directory at /usr/local/Cellar/autoconf/2.71/share/autoconf/Autom4te/FileUtils.pm line 274.` error still persists. This seems like an issue in brew's autoconf... does it really work for vcpkg?

[2021-08-09 07:18] JackBoosY commented on #17374
@vadi2 Can you please provide the failure logs?

[2021-08-09 07:22] JackBoosY commented on #18500
@traumedy Can you please remove folder _C:/vcpkg/buildtrees/tensorflow_ and try again?

[2021-08-09 07:29] vadi2 commented on #17374
[autoconf-x64-osx-err.log](https://github.com/microsoft/vcpkg/files/6952690/autoconf-x64-osx-err.log)
[autoconf-x64-osx-out.log](https://github.com/microsoft/vcpkg/files/6952691/autoconf-x64-osx-out.log)

[2021-08-09 07:38] NancyLi1013 commented on #19417
Closing this issue for now since it has been fixed by PR #19361.

[2021-08-09 07:38] #19417 closed

[2021-08-09 07:38] PhoebeHui commented on #19425
@pisiiki, we have PR https://github.com/microsoft/vcpkg/pull/19088/ and https://github.com/microsoft/vcpkg/pull/18955 to fully support VS2022.

As a workaround, could you add 'set(VCPKG_PLATFORM_TOOLSET v143)' to your triplet file and try again?

[2021-08-09 07:38] #19425 closed

[2021-08-09 07:41] JackBoosY commented on #17374
@vadi2 Please re-install `automake` in your pipeline.

Thanks.

[2021-08-09 07:41] dg0yt commented on #17374
@vadi2 Your CI is broken. "(macOS) Install non-vcpkg dependencies" comes after "Restore from cache and run vcpkg".

[2021-08-09 09:02] JonLiu1993 commented on #19419
@Baklap4 ,Thanks for posting this issue,please updaye your vcpkg to latest

[2021-08-09 09:08] NancyLi1013 commented on #19448
Hi @redpandamonium

Thanks for posting this issue. I have submitted a PR #19457 to fix this issue. It should be fine.

[2021-08-09 09:12] redpandamonium commented on #19448
Thanks! Looks good.

[2021-08-09 09:18] Baklap4 commented on #19419
It seems the latest master resolves this problem. When was this problem resolved? I did try a couple of times since i've noticed this (before filing this issue)

[2021-08-09 09:24] JackBoosY commented on #17055
Use the following cmake instead:
[code]

Change `main.c`:
`#include "../../nuklear.h"` to `#include "nuklear.h"`.

Result:
[code]

freetype has a port bug in its cmake wrapper, will fix later.

[2021-08-09 09:29] JonLiu1993 commented on #19451
@pierrejoye ,Thanks for posting this issue,you can refer [[New port]](https://github.com/microsoft/vcpkg/pulls?q=is%3Apr+label%3Acategory%3Anew-port+is%3Aclosed) label submit a pr add your registry to vcpkg.

[2021-08-09 09:41] JackBoosY commented on #19419
@Baklap4 Fixed by #19361.

[2021-08-09 09:41] #19419 closed

[2021-08-09 09:50] JackBoosY commented on #19424
@strega-nil-ms Can you please take a look?

Thanks.

[2021-08-09 09:56] JackBoosY commented on #19415
According to our [docs](https://github.com/microsoft/vcpkg/blob/master/docs/users/binarycaching.md), you have 2 ways:
1. upload the caches to your CI system, see [here](https://github.com/microsoft/vcpkg/blob/master/docs/users/binarycaching.md#ci-examples).
2. copy them to the other machine, add `--binarysource=<files,ABS_PATH_TO_CACHES>` to the install command or set the environment `VCPKG_BINARY

[2021-08-09 09:58] PhoebeHui commented on #19416
@Baklap4, thanks reporting this issue! I have submitted a PR to fix this issue.

[2021-08-09 10:02] JackBoosY commented on #19412
Using the manifest mode will only build the dependencies declared in `vcpkg.json`, and **isolate** the installed files from the classic mode (install command line).
However, using only the manifest mode does not allow specific ports to build on non-generic triplets. You still need to use overlay-port to declare to build these ports (build static).

[2021-08-09 10:04] jdx-john commented on #19415
Thanks @JackBoosY I hadn't realised the files were stable to simply copy around the way hashing was performed. That seems easy though a small shame you cannot AFAIK 'regenerate' your cache in a new location. e.g. I've been using the default file location, then changed it after half the ports were built so I have some things in each location.

I will simply rationalise them to a single location. Ma

[2021-08-09 10:12] Baklap4 commented on #19416
@PhoebeHui PR is looking good and it seems to resolve my problem after changing my FindLibRSVG cmake to
[code]

[2021-08-09 10:13] powel-jeh commented on #18670
ya, works.

[2021-08-09 10:13] #18670 closed

[2021-08-09 10:31] NancyLi1013 commented on #19036
@WangHHY19931001

Could you please try to update vcpkg to the latest via `git pull` to rebuild this? Since PR #19296 has added the path to look for `mkl `in oneapi.

[2021-08-09 10:43] PhoebeHui commented on #18177
Closing in favor of https://github.com/microsoft/vcpkg/issues/16631.

[2021-08-09 10:43] #18177 closed

[2021-08-09 12:35] jdx-john commented on #19415
Well that didn't work.

I copied everything over to my local machine, but when I passed this path to `vcpkg install` I got this for every single project:

My thought was the hashing must be different for some reason. In the docs (https://vcpkg.readthedocs.io/en/stable/users/binarycaching/#implementation-notes-internal-details-subject-to-change-without-notice) it says how hashes are generated.

I l

[2021-08-09 13:03] jdx-john commented on #19415
I tried to search for "triplet_abi" and couldn't find it in code, but did find a similar discussion in #16615 about a different part of this field.
Notable, in https://github.com/microsoft/vcpkg/issues/16615#issuecomment-809792184 @vicroms said:

I have VS2019 installed on both machines so how can I check what compiler info it is hashing?

[2021-08-09 13:26] SamuelMarks commented on #17055
@ 57bd7102:

[code]

I'll debug tomorrow getting some weirdness… I'm probably on the wrong vcpkg fork/branch or something

---

But I've got to say your CMakeList.txt file is pretty huge to get a working nuklear example. I think #17108 need to be addressed (and maybe a contrib to allegro wouldn't go amiss…)

& thanks

[2021-08-09 13:27] SamuelMarks commented on #17055
@ 57bd7102:

[code]

I'll debug tomorrow getting some weirdness… I'm probably on the wrong vcpkg fork/branch or something

---

But I've got to say your CMakeList.txt file is pretty huge to get a working nuklear example. I think #17108 need to be addressed (and maybe a contrib to allegro wouldn't go amiss…)

& thanks

[2021-08-09 14:01] Baklap4 opened #19463 "[SDL2] Debug not copied over as dll"
Within windows-x64 and building + running our application in debug a lot of dll's are copied over from their install location to the build root. Except that this doesn't happen for `SDL2d.dll`. Is this a bug on my side or on vcpkg's side? I also have to rename the `SDL2d.dll` to `SDL2.dll` for it to be able to work. Upstream they do use the d suffix as shown here: https://github.com/libsdl-org/SDL

[2021-08-09 15:12] hjhj111 commented on #19151
I generate vcpkg.exe in win10 and copy it to win7 , it worked!  Is this reasonable?

[2021-08-09 15:52] Baklap4 commented on #19463
I took a look into the `vcpkg.cmake` and found the script: `applocal.ps1` which is registered as a `POST_BUILD` process.
[code]
It basicly copies the `*.dll` from the install dir to the build dir (where the exe lives). However it doesn't do so for SDL2 it seems. It does for non-debug builds though.

This is our `FindSDL2.cmake` module

[code]

[2021-08-09 15:56] #19416 closed

[2021-08-09 15:59] #19448 closed

[2021-08-09 16:01] ianmcook commented on #18537
I suspect that this was resolved by https://github.com/microsoft/vcpkg/pull/19014 and the fix was preserved in the update to arrow 5.0.0 (https://github.com/microsoft/vcpkg/pull/19229). @xanderdunn please let us know if the problem persists for you.

[2021-08-09 16:26] srgbtl opened #19467 "How do I need to setup custom registry from private repo"
I set up a custom registry in a private repo.
In the repo with sources, I added vcpkg-configuration.json to enable using ports from the custom registry.

On local environment it works great: during cmake configure I am prompted to select a credential source and then ports building is proceeded as with public ports.

But in the CI environment configuration fails with the following error:
[code]

Fr

[2021-08-09 16:39] ocornut commented on #14753
Hello, I posted an answer at https://github.com/ocornut/imgui/issues/4390

[2021-08-09 18:17] strega-nil-ms commented on #19424
This is intentional. The `vcpkg_installed` directory for CMake is in the generated build directory, so that vcpkg doesn't step on itself when configuring for different triplets.

[2021-08-09 18:17] #19424 closed

[2021-08-09 18:50] BillyONeal commented on #17897
That's what our readme says and we didn't consciously decide to drop support for it, so we want it to work, hence my PR fixing it and adding testing for it. https://github.com/microsoft/vcpkg-tool/pull/150

That's what I mean by "default compiler" -- if you install a compiler out of their repos, you get gcc6 unless you jump through hoops.

We don't need full '17, we need std::filesystem or std::ex

[2021-08-09 18:56] talregev commented on #17897
Ok. I will wait for your PR. Can you mention this issue that your PR will fix? Thank you.

[2021-08-09 19:01] srgbtl commented on #19467
Same error if repo is cloned in a separate step and X_VCPKG_REGISTRIES_CACHE is used to provide vcpkg path to it.

[2021-08-09 19:11] BillyONeal commented on #17897
It already says that

[2021-08-09 20:05] talregev commented on #17897
If you type on your PR (the first msg) Fix #17897. It also mark your PR as fixing the PR. also show in the right.

[2021-08-09 20:08] talregev commented on #17897
Example from this PR:
https://github.com/microsoft/vcpkg/pull/19461
![image](https://user-images.githubusercontent.com/7043539/128767673-eed2cdd2-c0a7-4504-beac-6b62e321234a.png)

[2021-08-09 20:26] BillyONeal commented on #17897
That doesn't work when the fix is in a different repo

[2021-08-09 20:55] talregev commented on #17897
ok.

[2021-08-09 21:08] BillyONeal commented on #17897
I'm pretty sure it's intentional, to prevent accidentally modifying one repo when making a change to another repo.

[2021-08-09 21:10] talregev commented on #17897
ok. But Usually when you put a link to different repo, it show you and you know how it look like. you don't just give a number.
I think it will be helpful as the current Fix mention.
And thank you for the information.

[2021-08-09 22:50] BillyONeal commented on #17897
Reopening because this needs a tool release.

[2021-08-09 22:50] BillyONeal commented on #17897
Apparently it does close across repos if the author has permissions O_O

[2021-08-09 23:34] kjohnsen opened #19471 "[Armadillo ]update to >=10.5.2"
Library name: Armadillo

New version number: [10.6.2](http://arma.sourceforge.net/download.html)

We've hit a roadblock creating Python bindings for [our project](https://github.com/stanley-rozell/lds-ctrl-est) since I need CARMA to convert between Armadillo and NumPy, yet CARMA [requires at least Armadillo 10.5.2](https://carma.readthedocs.io/en/latest/introduction.html#requirements).

[2021-08-10 00:30] #16906 closed

[2021-08-10 00:44] #17951 closed

[2021-08-10 02:35] Cheney-W commented on #9109
This issue current disappears in the latest vcpkg(2021-08-03-1a6d67b8150e94b7f473c6ab1c0cfd), it's due to the camke version used in vcpkg(3.20.2) is large than the version of cygwin(3.20.0), If set the cmake version used by vcpkg to 3.20.0, this issue will appear again.

[2021-08-10 03:09] Cheney-W commented on #8578
This issue still occurs in the latest vcpkg(2021-08-03-1a6d67b8150e94b7f473c6ab1c0cfd).

[2021-08-10 03:13] Cheney-W commented on #8546
I can't reproduce this issue in the latest vcpkg(2021-08-03-1a6d67b8150e94b7f473c6ab1c0cfd) with the command: .`\vcpkg.exe upgrade --no-dry-run`

[2021-08-10 04:20] dg0yt commented on #19463
Does your project really link to `SDL2d.dll`? I don't see a `find_library` call for this name, but I also don't know the import library name. The shown cmake code will find `SDL2main.lib` (MSVC) or `SDL2main.dll.a` (mingw). If this is not found in the debug path, it will be taken from the release path.

[2021-08-10 05:42] PhoebeHui commented on #18537
@ianmcook, thanks for fixing this issue!

Currently, it looks provide correct cmake targets:
[code]

[2021-08-10 06:19] angelfor3v3r opened #19473 "Keystone build failure (static/mixed/dynamic CRT/CMake)."
**Host Environment**
- OS: Windows
- Compiler: MSVC/MSBuild

**Failure logs**
[code]

**Additional context**
I'm using a custom triplet file like so:
[code]

Inside my project's CMake file:
[code]

And for building:
[code]