[2017-06-30 12:36] Voskrese commented on #1372
@twMr7
mklink /D "c:\mklink" "d:\mkfolder"
[code]

[2017-06-30 13:16] KindDragon commented on #513
Maybe force Qt to build as the dynamic library, until we fix this?

[2017-06-30 13:19] bagong commented on #513
It would be nice to update qt to 5.9.1 which was released today. It's a major task mainly, I think, because build time is so crazily long. Maybe it could be done if people work together? I think effort should go into that challenge, and there either fix static or add that fake static option...

[2017-06-30 14:27] Voskrese commented on #1375
`vcpkg install msmpi --debug`

-> vcpkg\downloads\
msmpisdk.msi
MSMpiSetup.exe

`type ...\vcpkg\ports\msmpi\portfile.cmake`
1.
https://download.microsoft.com/download/B/2/E/B2EB83FE-98C2-4156-834A-E1711E6884FB/msmpisdk.msi
2.
https://download.microsoft.com/download/B/2/E/B2EB83FE-98C2-4156-834A-E1711E6884FB/MSMpiSetup.exe

[2017-06-30 15:55] Retik commented on #513
The problem is just with configuration and dependency resolution. I don't think it would be hard to fix if somebody knew what they were doing.

[2017-06-30 16:34] #1070 closed

[2017-06-30 17:06] twMr7 commented on #1372
yes, both symbolic link or junction will do, but how to make the link from portfile.cmake?

[2017-07-01 01:51] ras0219-msft commented on #1372
I think in this case we should probably just install the files to both directories. This does unfortunately double the number of installed files, but in the larger scheme of things Eigen isn't _that_ big of a library.

[2017-07-01 04:16] GitYangYang opened #1378 "There is a mistake in intergration document"
There is a careless mistake  in  vcpkg/docs/users/integration.md ：
Mistake  Place:
[code]

$(Configuration)  should be used for Debug or Release
$(Platform) : Win32 or x64

## The right usage:
[code]

[2017-07-01 06:52] linuxaged opened #1379 "Can not find FFmpeg by find_package"
packages have been installed:

    C:\Users\bugki>vcpkg list
    ffmpeg:x64-windows          3.2.4-3          a library to decode, encode, transcode, mux, demu...
    glew:x86-windows            2.0.0-1          The OpenGL Extension Wrangler Library (GLEW) is a...
    glfw3:x86-windows           3.2.1-1          GLFW is a free, Open Source, multi-platform libra...
    zlib:x64-windows            1

[2017-07-01 07:13] twMr7 commented on #1372
Installing to both directories is ok to workaround the problem now.

However, please consider to implement some feature like `alternatives` command on Linux.  Maintaining the symbolic links is a approach not only solve the installation problem, but we can also get to install different version of the same library.

[2017-07-02 05:42] jasjuang opened #1382 "Does vcpkg_from_github supports checking out a particular commit from a particular branch?"
Currently `vcpkg install ceres` compiles but when we use `find_package(Ceres REQUIRED)` in our own code there will be cmake errors as indicated in the comments in #1250. According to the comments, this error should be fixed in newer ceres commits. However, the problem is when I do `vcpkg install ceres --head` there is a compilation error related to suitesparse and I am trying to debug and figure o

[2017-07-02 05:51] jasjuang commented on #1379
If you look into the original source https://github.com/FFmpeg/FFmpeg there is no CMakeLists in there. Which FFmpeg were you using originally that supports cmake?

[2017-07-02 05:53] jasjuang commented on #1378
Thanks for spotting it. Could you please submit a PR?

[2017-07-02 06:02] atkawa7 commented on #1382
@jasjuang I think it does. For example I usually do this when the latest stable version does not compile
[code]

[2017-07-02 06:08] jasjuang commented on #1382
@atkawa7 I tried something like

[code]

58bacda is the latest commit as indicated in here https://github.com/ceres-solver/ceres-solver/commits/master

but when I do a `vcpkg install ceres` I get an error like

[code]

Am I doing it right?

[2017-07-02 06:10] atkawa7 commented on #1382
@jasjuang I am sorry I didn't explain correctly. The / sign means or in this case

[2017-07-02 06:12] jasjuang commented on #1382
If I change it to

[code]

same error occurs. What am I doing wrong?

[2017-07-02 06:13] atkawa7 commented on #1382
The reason the ref is wrong. I think it should 58bacdacae143780005757c485a0b319e1aea637

[2017-07-02 06:14] jasjuang commented on #1382
@atkawa7 You are right it needs the full ref. Thanks for your help!

[2017-07-02 06:14] #1382 closed

[2017-07-02 10:39] linuxaged commented on #1379
@jasjuang Got it! FFmpeg is not supported, so I need to  use `find_path` and `find_library`  instead of `find_package`. Thanks!

    # To find and use ffmpeg
    find_path( AVCODEC_INCLUDE_DIR libavcodec/avcodec.h )
    find_library( AVCODEC_LIBRARY libavcodec )
    target_include_directories( v2t PRIVATE ${AVCODEC_INCLUDE_DIR} )
    target_link_libraries( v2t ${AVCODEC_LIBRARY} )

[2017-07-02 14:24] sq2500 opened #1383 "Building package cairomm:x64-windows failed with: BUILD_FAILED"
Using
Visual Studio 2017 Version 15.0.26621.2.
Microsoft Windows [Version 10.0.16232.1000]

vcpkg install cairo:x64-windows finished successfully
There was no output in .\vcpkg\buildtrees\cairomm\package-x64-windows-rel-err.log

Attached output of .\vcpkg\buildtrees\cairomm\package-x64-windows-rel-out.log
[1/25] D:\dt\vs17pv\VC\Tools\MSVC\14.11.25415\bin\Hostx64\x64\cl.exe   /TP -Dcairomm_1_0_EXPO

[2017-07-02 15:16] sq2500 opened #1384 "Rebuild option, include header dependencies scan, file hash/checksum"
## Rebuild option for rebuilding libraries
To make it easier recompiling libraries due to Windows 10 insider, Visual Studio 2017, SDK updates

## Dependencies are specified in port files
- scan of include headers would provide possible quicker dependency resolution with source-level issues
- some library builds take rather long before failing

## File hash/checksum requires continuous editing to k

[2017-07-03 12:57] #1379 closed

[2017-07-03 15:54] twMr7 commented on #1372
Please review attached portfile.cmake, I'll make a PR if the changes are ok.
[portfile.zip](https://github.com/Microsoft/vcpkg/files/1120014/portfile.zip)

Changes:
1. Copy additional Eigen directory into include directory
2. Update Eigen to version 3.3.4

I did try to make a symbolic link once:
[code]
but the symbolic link become regular directory after installing to `installed` directory, so I f

[2017-07-03 15:55] LeonineKing1199 opened #1386 "Eigen3 not found by CMake's "find_package""
I just downloaded Eigen3 and when I use:
[code]

I receive the following:
[code]

[2017-07-03 16:06] traversaro commented on #1386
Are you using the CMake vcpkg's toolchain as described in https://github.com/Microsoft/vcpkg/blob/master/docs/examples/using-sqlite.md#cmake or some other method to let CMake discover packages installed by vcpkg?

[2017-07-03 20:19] LeonineKing1199 commented on #1386
Welp, turns out I'm a total noob XD

Omg, I feel so stupid now :P

I thought for some reason that changing the CMake project configs in VS 2017 was global so I didn't even check. I was also compiling in x86 mode when I had only downloaded x64 code.

Boy, is my face red. Thanks for the heads up!

[2017-07-03 20:19] #1386 closed

[2017-07-03 21:15] #1378 closed

[2017-07-03 23:45] oldmud0 commented on #513
I unfortunately have the same problem.

[2017-07-04 02:09] ras0219-msft commented on #513
In b3363294 I've added a "fail fast" error message to at least save new users the pain of building for 20+ minutes just to have it fail at the end.

[2017-07-04 02:18] oldmud0 commented on #513
That is very disappointing. I have tried to convince my the leader of the GPLv3 project I contribute to, to stop using static builds, but he does it anyway for end-user convenience and now wants me to do it for him. Now I have no choice but to confront him on it, or switch back to manual builds.

[2017-07-04 05:29] inlmouse commented on #1362
Thx, it works.

[2017-07-04 05:29] #1362 closed

[2017-07-04 13:44] OlafvdSpek commented on #543
Thanks a lot!

[2017-07-05 03:03] #739 closed

[2017-07-05 07:53] KindDragon commented on #1129
Can be closed

[2017-07-05 14:35] zabulus commented on #1035
Maybe it's worth mention.
There is project CoApp that allows to place built libraries and include headers to nuget package and provides convenient way to integrate packages to projects. It has many different pivot points for configuration in which library could be built similar to triplets.
Currently project is somewhat abandoned, but still functional. Plenty of nuget packages built using it are p

[2017-07-05 15:40] UnaNancyOwen commented on #1257
PCL 1.8.1 RC1 has been released.
I updated the PCL port to PCL 1.8.1 RC1 from PCL 1.8.0.
Please review it.

I will update this port to PCL 1.8.1 from PCL 1.8.1 RC when PCL 1.8.1 is officially released.
I think that this port ready to merge at that time.
Thanks,

[2017-07-05 15:58] yamcenutzer commented on #1035
that was dead years ago. Is it alive again?

[2017-07-05 16:50] jasjuang commented on #1284
@Fleischner  I finally resolved the ceres compilation issue for head after working with the ceres maintainer and the next problem I encountered immediately is this Eigen base folder problem. As you mentioned in Ceres when they include Eigen it is included like `#include <Eigen\Dense>` instead of `#include <eigen3\Eigen\Dense>`. Do you think we can simply alter the installation of Eigen by simply r

[2017-07-05 17:03] traversaro commented on #1284
@jasjuang I fail to see the role of `CeresConfig.cmake` file. That file should be **generated** by Ceres and then executed by any third party library calling `find_package(Ceres)`, so I don't understand why it should be executed when configuring the ceres port.

[2017-07-05 18:01] jasjuang commented on #1284
@traversaro I am exactly trying to solve the cmake error problem when using ceres in my own project. If I build Ceres, Eigen, Glog, GFlags from source `find_package(Ceres)` works without a problem, but if I install Ceres, Eigen, Glog, GFlags by vcpkg `find_package(Ceres)` will show a Eigen not found problem because of this base folder issue.

I am confused why `${EIGEN_INCLUDE_DIR}` is specified d

[2017-07-05 20:06] atkawa7 commented on #621
@traversaro see #1393

[2017-07-05 22:25] ras0219-msft commented on #1338
Sorry for taking so long to respond, and thank you for bringing up this issue!

We're definitely aware of the various issues around boost here (#369, #392, #601, #694). The essence of the problem (and solution) is:

So, the current intended behavior is for downstream projects is to _leave all boost settings at their defaults_. Then, you use the Vcpkg triplet to choose what settings you want for bo

[2017-07-05 22:28] ras0219-msft commented on #1383
Thanks for reporting this issue!

I'm not able to reproduce it locally. Could you let us know what version of CMake you're using?

[2017-07-05 22:31] ras0219-msft commented on #1374
We'll need to add a policy for this; `VCPKG_POLICY_ALLOW_OBSOLETE_MSVCRT` is almost what we need, but that only disables the check for msvcrt, not newer CRTs.

[2017-07-05 23:37] sq2500 commented on #1383
Thanks for Your quick reply, sorry for the omission

cmake version 3.9.20170703-g8d9c9, cmake version 3.9.20170704-g4f180
git version 2.13.1.windows.2
Vcpkg package management program version 0.0.81
Microsoft Visual Studio 2017 Version 15.0.26621.2 (Preview 3)
Microsoft Windows [Version 10.0.16232.1000]

Has been able to build cairo:x64-windows

[2017-07-06 02:09] Maktm opened #1395 "Folly Package Failure"
I'm using Windows 7 Ultimate and have successfully installed vcpkg with no errors. I've also managed to install curl & folly-x64 successfully without any issues. But when attempting to install folly-x86 using either one of the following commands: `.\vcpkg install folly` `.\vcpkg install folly:x86-windows` I get the following error output:

        ..\vcpkg > .\vcpkg.exe install folly:x86-windows

[2017-07-06 02:25] atkawa7 commented on #1395
@Maktm Yes folly supports x64 only
see [https://github.com/facebook/folly/blob/master/CMakeLists.txt#L29](https://github.com/facebook/folly/blob/master/CMakeLists.txt#L29)

[2017-07-06 02:30] #1395 closed

[2017-07-06 07:46] traversaro commented on #1284
@jasjuang Ok. So ceres itself is compiling fine, while your downstream project is not?
This is strange, because both should use the same logic contained in the `FindEigen.cmake`, as the `CeresConfig.cmake` is not saving the `EIGEN_INCLUDE_DIR` passed at Ceres configure time, as this would render the ceres installation not relocatable.

Are you compiling your downstream project using the vcpkg tool

[2017-07-06 09:32] zabulus commented on #1035
@yamcenutzer no further development AFAIK, but already released stuff still works and integrates with recent product versions (VS, nuget).
I mentioned it because I think some design decisions from there could be borrowed and/or reused for the export feature of vcpkg

[2017-07-06 10:11] ras0219-msft commented on #1035
@zabulus CoApp was a good experiment to see what C++ would look like if it was packaged directly into NuGet like C# is. We actually _have_ reused a lot of the techniques that CoApp originally pioneered for our NuGet export!

However, CoApp has some drawbacks when applied to open source software, many of which stem from a binaries-first mindset. I've had the great fortune to chat with @fearthecowbo

[2017-07-06 10:13] jozefizso commented on #1035
The CoApp is not maintained anymore.

vcpkg makes much more usable NuGet packages. It just needs to improve how packages are named and versioned, so we have more descriptive packages referenced in our source code and stored in our NuGet Gallery.

[2017-07-06 10:14] ras0219-msft commented on #1035
@jozefizso You're absolutely right that we need to add the ability to substitute the nuspec information.

While it isn't anywhere near as convenient as supplying it up-front, I've had great success using the NuGet Package Explorer[1] to modify the metadata from pre-created NuGet packages, which should hopefully work for the "upload to the NuGet Gallery" case.

[1] https://github.com/NuGetPackageEx

[2017-07-06 10:16] jozefizso commented on #1035
Yes, we can manually update .nuspec file, but it's less conventien then having

[code]

And this would work much nicely with build scripts :)

[2017-07-06 13:03] paul-michalik opened #1397 "Include vcpkg.exe in the repo"
Unless I missed some important information, I see no possibility how to differentiate between updates to the vcpkg source code and changes to the "content", i.e. the portfiles and such.  This causes that uin my automation scripts I always need to call bootstrap-vcpkg which builds the executable from source. It would help a lot if you either (a) check in a compatible self-contained ``vcpkg.exe`` bi

[2017-07-06 14:35] KindDragon commented on #1284
BTW Ceres should be fixed in PR #1390

[2017-07-06 14:47] cenit commented on #1338
Dear Robert,
thank you very much for your answer. At first I really struggled to understand it: for me, static linking is broken, but for you it is working.
So I read with much more attention your suggestion and found an interesting difference: in my CMakeLists.txt, I am used to use
[code]
to request static linking, which is NOT working with vcpkg without my PR (which, to be honest, imho, keeps th

[2017-07-06 14:59] traversaro commented on #1284
Yes, indeed https://github.com/Microsoft/vcpkg/pull/1390/commits/11a98b78e07fd5b5bcef8cce3d1258ebdd6858d4#diff-fb6fec59a13ccffba5ec0e80174503e8L66 was clearly a problem for any downstream project using ceres , as `find_package(Eigen)` (rather than `find_package(Eigen3)`) was used in `CeresConfig.cmake`.

[2017-07-06 17:16] KindDragon commented on #1284
JFYI Ceres FindEigen.cmake call inside `find_package(Eigen3 NO_MODULE)`

[2017-07-06 18:24] Voskrese opened #1398 "Port request: libfreenect2"
https://github.com/OpenKinect/libfreenect2/blob/master/README.md#windows--visual-studio

libusb-1.0, TurboJPEG, GLFW3, OpenCL (optional), CUDA (optional, Nvidia only), OpenNI2 (optional)

`E:\tools\vcpkg\buildtrees\libfreenect2\build>cmake .. -DCMAKE_BUILD_TYPE=Release -DCMAKE_PREFIX_PATH="E:/tools/vcpkg/installed/x86-windows" -G "Visual Studio 14 2015" -DLibUSB_LIBRARY="E:\tools\vcpkg\installed\x

[2017-07-06 20:16] jasjuang commented on #1284
@KindDragon I checked the ceres part in PR #1390 and yes if you keep the `FindEigen.cmake` that comes with Ceres then it could potentially solve it (will test further tonight), but weren't you worried that this `FindEigen.cmake` can affect other packages that use Eigen as mentioned in #1250?

@traversaro Yes ceres itself is compiling fine, while my downstream project is not.

[2017-07-06 20:32] KindDragon commented on #1284
@jasjuang If I understand correct, it only affects libraries that use `find_package(Eigen)`, but everyone who uses `find_package(Eigen)` already should have it own FindEigen.cmake. So probably they should be fine

[2017-07-06 20:53] jasjuang commented on #1284
@KindDragon Yes but that's precisely where the problem is. Whoever that is still using `find_package(Eigen)` instead of `find_package(Eigen3)` are using the old eigen that doesn't have cmake config files, which means they will have their own FindEigen.cmake to use `find_package(Eigen)` in module mode. If we keep the FindEigen.cmake from ceres, that means there will be two FindEigen.cmake attemptin

[2017-07-06 23:33] ras0219-msft opened #1400 "[gtk] Fails to build in x64-windows-static -- cannot find CAIRO"
Vcpkg version 7a87e919256fac941a1509b9c67b41c5298f26ac
gtk version 3.22.15
cairo version 1.15.4-3

[code]

Builds successfully in x86-windows.

[2017-07-06 23:38] ras0219-msft opened #1401 "[gdal] Fails to build in x64-windows-static -- cannot open input file libmysql.lib"
Vcpkg version 7a87e919256fac941a1509b9c67b41c5298f26ac
gdal version 1.11.3-3
libmysql version 5.7.17-1
[code]

Builds successfully in x86-windows.

[2017-07-06 23:42] ras0219-msft opened #1402 "[libxslt] Fails to build in x64-windows-static --"
Vcpkg version 7a87e919256fac941a1509b9c67b41c5298f26ac
libxslt version 1.1.29
liblzma version 5.2.3-1
Note: `libxslt` does not list `liblzma` in `Build-Depends`
[code]

Builds successfully in x86-windows.

[2017-07-07 00:06] ras0219-msft opened #1403 "[opencv] Fails to build in x64-windows-static -- unresolved external lzma_code via tiff"
Vcpkg version 7a87e919256fac941a1509b9c67b41c5298f26ac
opencv version 3.2.0-1
tiff version 4.0.8
liblzma version 5.2.3-1
Note: opencv indirectly depends on liblzma via tiff.
Note: opencv does not currently build statically, so this is attempting to link an opencv DLL that contains static implementations of all dependencies.
[code]

Builds successfully in x86-windows

[2017-07-07 01:45] Voskrese commented on #1398
+OpenCL_LIBRARY=OpenCL.lib [KhronosGroup]

`
E:\tools\vcpkg\buildtrees\OpenCL\build\libfreenect2\build>cmake .. -DCMAKE_BUILD_TYPE=Release -DCMAKE_PREFIX_PATH="E:/tools/vcpkg/installed/x86-windows" -G "Visual Studio 14 2015" -DLibUSB_LIBRARY="E:\tools\vcpkg\installed\x86-windows\lib\libusb-1.0.lib" -DENABLE_CUDA=OFF -DOpenCL_LIBRARY="E:\tools\vcpkg\buildtrees\OpenCL\build\OpenCL.lib" -DOpenCL_INCL

[2017-07-07 01:46] Voskrese opened #1404 "Port request: [OpenCL] KhronosGroup"
`git clone https://github.com/KhronosGroup/OpenCL-ICD-Loader OpenCL`

`git clone https://github.com/KhronosGroup/OpenCL-Headers.git OpenCL/inc/CL`

`copy OpenCL\inc\CL\opencl22\CL\* OpenCL\inc\CL`

`md OpenCL\build && cd OpenCL\build`

`E:\tools\vcpkg\buildtrees\OpenCL\build\cmake .. -G "NMake Makefiles" -DCMAKE_BUILD_TYPE=Release -DCMAKE_PREFIX_PATH="E:/tools/vcpkg/installed/x86-windows" -DBUILD6

[2017-07-07 12:06] inlmouse opened #1405 "Port request: faiss(Fair AI Similarity Search)"
[Faiss](https://github.com/facebookresearch/faiss) is a library for efficient similarity search and clustering of dense vectors.

[2017-07-07 23:04] KindDragon opened #1407 "CMake Warning CMP0003"
CMake produce following warning in vcpkg.cmake:
[code]

What to do with it?

[2017-07-08 00:39] #687 closed

[2017-07-08 00:52] #1353 closed

[2017-07-08 05:25] ivannp opened #1409 "semicolons missing from protobuf header file?!"
installed protobuf. tried to build a project. failed with a lots of errors in port.h (a protobuf header).  Looking at the file, I see:

#ifdef _MSC_VER
typedef signed __int8  int8
typedef __int16 int16
typedef __int32 int32

Obviously ';' missing at the end of these lines.

The [GitHub version of the file](https://github.com/google/protobuf/blob/master/src/google/protobuf/stubs/port.h) does have s

[2017-07-08 05:32] atkawa7 commented on #1409
@ivannp See [`https://github.com/Microsoft/vcpkg/blob/master/ports/protobuf/portfile.cmake#L91-L93`](https://github.com/Microsoft/vcpkg/blob/master/ports/protobuf/portfile.cmake#L91-L93)

It should be

[code]
With those semi colons

@ras0219-msft  It seems you forgot quotes in your last protobuf commit

[2017-07-08 06:12] #1409 closed

[2017-07-08 15:13] twMr7 commented on #1372
I think I better take two steps, the PR #1413 fix this issue only, since the missing CMakeLists.txt problem is likely to happen in version 3.3.3 only.

I will make another PR to update eigen3 to version 3.3.4 without checking for the existence of CMakeLists.txt.

[2017-07-08 15:17] UnaNancyOwen commented on #1374
@ras0219-msft How to use <code>VCPKG_POLICY_ALLOW_OBSOLETE_MSVCRT</code>?

[2017-07-08 21:57] MikeGitb opened #1415 "Installing qt5:x64-windows fails"
Trying to install qt5:x64-windows results in the following error:

[code]

For some reason github doesn't allow me to upload the log files. Here is the content of `build-x64-windows-rel-err.log`:
[code]

Here is the last line of `build-x64-windows-rel-out.log`:

[code]

[2017-07-09 05:44] #1372 closed

[2017-07-09 05:44] GingerbreadFred opened #1417 "Error installing zlib after installing Universal Windows workload in VS"
I have recently installed the universal windows workload in visual studio. I went to use vcpkg to build boost for UWP and started hitting some errors. I then removed all boost packages (I was previously using x64 and x86 perfectly well) and have found that I am unable to build boost for any platform. The output I get from vcpkg is

C:\Work\vcpkg [master ≡]> .\vcpkg.exe install boost:x64-windows
Th

[2017-07-09 06:15] GingerbreadFred commented on #1417
And as is the way with these things I figured the issue out almost straight away. Installing the UWP workload removed the c++ windows sdk installing that extra component fixed this issue. Apologies for any time wasted. I'll attempt to repro and get in touch with the visual studio team

[2017-07-09 06:15] #1417 closed

[2017-07-09 14:07] KindDragon opened #1419 "VTK port link to Release dependencies in Debug configuration"
expat.lib, zlib.lib and others
[code]

[2017-07-10 00:50] blaquee opened #1421 "Port Request: capstone library"
Would be great to have capstone disassembler library included: https://github.com/aquynh/capstone

[2017-07-10 00:53] blaquee opened #1422 "Port Request: Keystone-engine"
Would be great to have keystone-engine readily available: https://github.com/keystone-engine/keystone

Thanks!

[2017-07-10 03:59] Maktm opened #1423 "Specify local file with `vcpkg create'"
Hi,

Is it possible to provide a local file to the `vcpkg create` command and then possibly change the target URL in the future when I upload the project to a global URL?

Thanks

[2017-07-10 13:28] linuxaged opened #1425 "Link error 1104: can not open file glfw3dll.lib"
Platform: Windows 10, Visual Studio 2017, CMake GUI 3.8.2

The vcpkg cmake toolchain has been selected when config my [project](https://github.com/linuxaged/v2t/tree/master/src)

glfw3 has been installed:

	D:\download>vcpkg list
	ffmpeg:x64-windows          3.2.4-3          a library to decode, encode, transcode, mux, demu...
	glfw3:x64-windows           3.2.1-1          GLFW is a free, Open Sour

[2017-07-10 14:56] FrankHeimes opened #1426 "Wrong hash for package ninja-win.zip while installing boost"
Attempted to install boost. Had to specify proxy variables HTTP_PROXY and HTTPS_PROXY.
After that, download of zlib succeeded but download of bzip2 failed.
See messages.

[code]

[2017-07-10 15:59] Voskrese commented on #1425
glfw3dll.lib -> glfw3.lib

[2017-07-10 18:24] Voskrese opened #1428 "Port request: [win-iconv] iconv.lib"
`git clone https://github.com/win-iconv/win-iconv`
`cd win-iconv`
`cmake . -G "Visual Studio 14 2015" -DCMAKE_BUILD_TYPE=Release -DCMAKE_PREFIX_PATH="E:/tools/vcpkg/installed/x86-windows" -DCMAKE_TOOLCHAIN_FILE="E:/tools/vcpkg/scripts/buildsystems/vcpkg.cmake"`
`cmake --build . --config Release`

C:\temp\win-iconv>`ls Release`
`VCRUNTIME140.dll  iconv.dll  iconv.exp  iconv.lib  win_iconv.exe`

[2017-07-10 20:37] KindDragon commented on #1428
https://github.com/Microsoft/vcpkg/tree/master/ports/libiconv

[2017-07-10 21:36] ras0219-msft commented on #1426
Hi @FrankHeimes, most likely there was a hiccup during the download of Ninja which resulted in an incomplete file on the disk.

Could you try simply deleting the file (`downloads\ninja-win.zip`) and re-running the install?

[2017-07-10 21:40] Voskrese commented on #1428
@KindDragon только эта библиотека не работает с этим проектом. я так понимаю нужен именно win_iconv. Но я еще в полной мере не разобрался

https://github.com/sakurai-youhei/pymssql/blob/proto/openssl1.1.0/README_building_and_developing.rst
https://github.com/ramiro/freetds/releases

[2017-07-10 21:55] Voskrese commented on #1426
@ras0219-msft поторопился с выводами, действительно hash не менялся

`wget https://github.com/ninja-build/ninja/releases/download/v1.7.2/ninja-win.zip`
`SHA512SUM ninja-win.zip`
cccab9281b274c564f9ad77a2115be1f19be67d7b2ee14a55d1db1b27f3b68db8e76076e4f804b61eb8e573e26a8ecc9985675a8dcf03fd7a77b7f57234f1393 *ninja-win.zip

[2017-07-10 22:05] KindDragon commented on #1428
I think they tried only with `win_iconv`, you should try with `libiconv`

[2017-07-10 22:09] Voskrese commented on #1428
@KindDragon попробую переименовть libiconv в iconv

[2017-07-10 22:15] MikeGitb opened #1429 "Port request: clara"
Would be great to have a command line parsing library like [clara](https://github.com/philsquared/Clara). Or is there already one in vcpkg that I have overlooked?

[2017-07-10 22:19] ras0219-msft commented on #1429
We have recently expanded the capability of `search` to look inside descriptions, which might be useful if you're just looking for _a_ command line parsing library:
[code]

So, `dimcli`, `gflags`, `libpopt`, and `tclap` might be worth looking into.

[2017-07-11 00:07] #1166 closed

[2017-07-11 00:08] #1103 closed

[2017-07-11 01:06] jasjuang commented on #1425
`target_link_libraries( v2t PRIVATE glfw3 )` should solve it

[2017-07-11 01:53] linuxaged commented on #1425
use `glfw3` give the same error:

    2>LINK : fatal error LNK1104: 无法打开文件“glfw3.lib”

actually, there is no `glfw3.lib` in `vcpkg\installed\x64-windows\debug\lib` but `glfw3dll.lib`

[2017-07-11 02:06] Voskrese commented on #1425
@linuxaged
E:\tools\vcpkg\packages\glfw_x86-windows>`ls lib`
cmake  **glfw3.lib**  pkgconfig

vcpkg install glfw3

[2017-07-11 02:34] linuxaged commented on #1425
Both 32bit and 64bit glfw3 are installed:

	D:\workspace\vcpkg\packages\glfw3_x86-windows>vcpkg list
	ffmpeg:x64-windows          3.2.4-3          a library to decode, encode, transcode, mux, demu...
	glfw3:x64-windows           3.2.1-1          GLFW is a free, Open Source, multi-platform libra...
	glfw3:x86-windows           3.2.1-1          GLFW is a free, Open Source, multi-platform libra...
	l

[2017-07-11 02:56] Voskrese commented on #1425
glfw3.pc
[code]
`set PKG_CONFIG_EXECUTABLE=E:\tools\Bin\pkg-config.exe`

`set PKG_CONFIG_PATH=E:\tools\vcpkg\installed\x86-windows\lib\pkgconfig;E:\tools\gstreamer\1.0\x86\lib\pkgconfig;E:\tools\vala-0.12.0\lib\pkgconfig`

[2017-07-11 03:51] atkawa7 commented on #1343
@ras0219-msft Could you close this ?

[2017-07-11 03:52] atkawa7 commented on #1057
@ras0219-msft could you close this?

[2017-07-11 03:53] atkawa7 commented on #1135
@ras0219-msft Could you close this?

[2017-07-11 04:04] Voskrese opened #1430 "port bug: [VTK] VTK+QT"
`vcpkg install vtk`

error
[code]

исправление, пример для x86-windows
edit `E:\tools\vcpkg\installed\x86-windows\share\cmake\Qt5Core\Qt5CoreConfigExtras.cmake`

Qt5CoreConfigExtras, line 95
было
~set_property(TARGET Qt5::Core PROPERTY INTERFACE_COMPILE_FEATURES cxx_decltype)~
стало
[code]

взято отсюда https://bugreports.qt.io/browse/QTBUG-54666

build ok

[code]

[code]

[2017-07-11 04:04] linuxaged commented on #1425
fix by using `find_library`

	find_path( GLFW3_INCLUDE_DIR GLFW/glfw3.h )
	find_library( GLFW3_LIBRARY glfw3dll )
	target_include_directories( v2t PRIVATE ${GLFW3_INCLUDE_DIR} )
	target_link_libraries( v2t PRIVATE ${GLFW3_LIBRARY} )

[2017-07-11 04:13] jasjuang commented on #1425
I tried and you are right there is a problem. `find_package` should've work. I can submit a pull request later tonight to fix this

[2017-07-11 04:50] jasjuang commented on #1425
Actually nothing needs to be fixed. You just need to do `find_package(glfw3 REQUIRED)` and `target_link_libraries(${PROJECT_NAME} glfw)` then it should work. Note: glfw not glfw3 in target_link_libraries.

[2017-07-11 05:57] #1425 closed

[2017-07-11 09:01] bjude opened #1431 "VsCode cmake-tools plugin hangs when using the vcpkg toolchain file"
The configure step (of cmake) hangs when using the cmake-tools pluging for VsCode.

I have setup vcpkg and installed it. The following lines were added to my vscode user settings in order for the cmake tool to find my toolchain file.
[code]

After running cmake with some extra flags for verbosity i could see that it hanging on the getWindowsSdk.ps1 script. More details can be found [here](https://

[2017-07-11 10:30] #1343 closed

[2017-07-11 10:31] #1057 closed

[2017-07-11 10:31] #1135 closed

[2017-07-11 13:12] atkawa7 commented on #16
@ras0219-msft Could you close this?

[2017-07-11 13:13] atkawa7 commented on #863
@ras0219-msft Could you close this?

[2017-07-11 13:13] atkawa7 commented on #958
@ras0219-msft Could you close this?

[2017-07-11 13:13] atkawa7 commented on #977
@ras0219-msft Could you close this?

[2017-07-11 13:13] atkawa7 commented on #982
@ras0219-msft Could you close this?

[2017-07-11 13:14] atkawa7 commented on #10
@ras0219-msft Could you close this?

[2017-07-11 13:15] atkawa7 commented on #582
@ras0219-msft Could you close this?

[2017-07-11 13:15] atkawa7 commented on #543
@ras0219-msft Could you close this?

[2017-07-11 13:16] atkawa7 commented on #1319
@ras0219-msft Could you close this?

[2017-07-11 13:21] sedapsfognik commented on #982
Hello, guys! Problem fixed. Thank you!

[2017-07-11 13:21] #982 closed

[2017-07-11 13:21] atkawa7 commented on #621
@ras0219-msft Could you close this?

[2017-07-11 13:33] ajaspe commented on #582
By my side, rtmidi port is nicely integrated and working OK.

Thank you!
Alberto

2017-07-11 15:15 GMT+02:00 atkawa7 <notifications@github.com>:

--
*Alberto Jaspe*
http://albertojaspe.net

[2017-07-11 14:03] #621 closed

[2017-07-11 14:03] traversaro commented on #621
Thanks a lot @atkawa7 !

[2017-07-11 14:21] #1319 closed

[2017-07-11 14:25] KindDragon commented on #318
@ras0219-msft Can be closed

[2017-07-11 15:41] KindDragon commented on #506
@ras0219-msft can be closed

[2017-07-11 18:13] #506 closed

[2017-07-11 18:14] #318 closed

[2017-07-11 18:14] #582 closed

[2017-07-11 18:15] #543 closed

[2017-07-11 18:16] #977 closed

[2017-07-11 18:38] Voskrese commented on #1428
пока закрою) что то не ладится со сборкой

[2017-07-11 18:38] #1428 closed

[2017-07-11 20:31] #10 closed

[2017-07-11 20:31] #958 closed

[2017-07-11 20:31] #863 closed

[2017-07-11 20:32] #16 closed

[2017-07-11 20:36] ras0219-msft commented on #1423
We don't currently support local files as arguments to `vcpkg create`, however you could edit the resulting portfile to directly unpack a local archive:
[code]
Note that the extract source archive command does invalidation based on the name of the file, so if you're updating the file in place you probably want to also purge the sources on every run.
[code]
When you upload your project to a global

[2017-07-11 20:38] ras0219-msft commented on #1431
Thanks for such a detailed issue report!

I'd be happy to merge a PR if you'd make one, or I can make the change myself (I'll do that locally for testing now).

[2017-07-11 21:10] #1431 closed

[2017-07-11 21:10] ras0219-msft commented on #1431
I was unable to use the cmake-tools extension locally to fully reproduce the issue, but it didn't introduce any regressions so I've merged the change.

Thanks again for reporting this issue!

[2017-07-11 21:21] ras0219-msft opened #1433 "[opencv] Hidden dependency on FLANN"
From https://github.com/Microsoft/vcpkg/pull/1205#issuecomment-308566621

[2017-07-11 21:25] ras0219-msft opened #1434 "[vcpkg] Enable finer-grained portfile sections"
From https://github.com/Microsoft/vcpkg/pull/1205#issuecomment-308566621:

This is widely done by all other package systems. See Homebrew, Pacman, Apt, and Gentoo for examples.

[2017-07-11 21:39] #1433 closed

[2017-07-11 21:45] ras0219-msft commented on #1407
Could you give me a bit more context (or ideally a repro) to better understand the situation?

[2017-07-11 21:52] KindDragon commented on #1407
Sorry, I tried to use vcpkg with our big CMake project and CMake produce this warning in vcpkg.cmake

[2017-07-11 21:58] ras0219-msft commented on #1407
1>   because target "eaglecv_alignment" links to some libraries for which the
1>   linker must search:
1>
1>     boost, pcl, opencv, vtk, draco, Boost, grpc, spdlog, pcl, opencv

This makes me think that your `find_package()` directives aren't resolving correctly. However, if your project still appears to work fine, then I think it should be safe to disable this warning with either OLD or NEW.

[2017-07-11 22:01] KindDragon commented on #1407
Ok. Thank you

[2017-07-11 22:01] #1407 closed

[2017-07-11 23:06] jasjuang opened #1435 "Suggestion: Automatically add the bin folder that contains the dll files to PATH environment variable"
Currently I still need to manually add the bin folder (`c:\vcpkg\installed\x64-windows\bin`) that contains the dll files to PATH environment variable in order to execute my program successfully. In order to make the entire process more automated, is it possible to add the bin folder to PATH environment variable automatically? For example, during the process of the initial bootstrap?

[2017-07-11 23:16] ras0219-msft commented on #1435
Ideally, you shouldn't need to add the bin folder to the PATH environment variable -- all required DLLs should be copied into the output folder of your build. This avoids several issues with using the DLLs in-situ (for example, upgrades couldn't take place while the program is executing).

Could you go into more detail about how/why the app-local copying doesn't work for you?

[2017-07-11 23:21] jasjuang opened #1436 "Toolchain file vcpkg.cmake cannot support libraries from x64-windows and x64-windows-static at the same time"
My `VCPKG_DEFAULT_TRIPLET` environmental variable is x64-windows.

For my project, it is required to use glew statically and the rest like glfw and glm dynamically. Hence I installed glew with x64-windows-static and glfw, glm with x64-windows.

The problem is when I specify `-DCMAKE_TOOLCHAIN_FILE=C:\vcpkg\scripts\buildsystems\vcpkg.cmake` flag when I build my project it is unable to glew.

If I s

[2017-07-11 23:28] ras0219-msft commented on #1436
Yes! This is exactly the use case for alternate triplets[1].

This is as simple as creating a file in `triplets\`:
[code]
This will also correctly build glew with dynamic _CRT_ linkage.

Then, you simply use
[code]
and `-DVCPKG_TARGET_TRIPLET=x64-windows-jasjuang` (or the environment variable if you'd like to always use this triplet).

[1] https://vcpkg.readthedocs.io/en/latest/users/triplets/

[2017-07-11 23:28] jasjuang commented on #1435
@ras0219-msft It worked but that's even more manual friction for development. For app-local copying approach I think upgrades couldn't take place either if the program is executing. Could you elaborate more on the disadvantages a little bit more? What kind of big disadvantage does it have that will outweigh the reduced friction of development?

[2017-07-11 23:36] Voskrese commented on #1257
@UnaNancyOwen примените исправление и проверьте у себя https://github.com/Microsoft/vcpkg/issues/1430
у меня на shared x86 у меня VTK скомпилировался с поддержкой QT
если все ок, пожно оформлять патчем, к сожалению я сам еще не разобрался с git

[2017-07-11 23:47] jasjuang commented on #1436
@ras0219-msft works like magic but there is one small problem. The environment variable doesn't seem to work. I tried setting the environment variable `VCPKG_TARGET_TRIPLET` to `x64-windows-jasjuang` and `VCPKG_DEFAULT_TRIPLET` to `x64-windows-jasjuang` but non of them have any effect. Only adding `-DVCPKG_TARGET_TRIPLET=x64-windows-jasjuang` in the cmake arguments works. Can you let me know what

[2017-07-11 23:49] ras0219-msft commented on #1435
Could you go into more detail about how this causes more friction? It should be performed automatically as part of your builds and have zero workflow impact -- if it impacts your workflow, we should fix that!

Since the application has its own copy of all DLLs, the "sources" in Vcpkg can be upgraded while the application is executing. Additionally, after the upgrade of the Vcpkg versions, your app

[2017-07-12 00:04] ras0219-msft commented on #1436
The environment variable `VCPKG_TARGET_TRIPLET` shouldn't affect anything (by design).

I also realized made a mistake in my post above -- we don't allow environment variables like `VCPKG_DEFAULT_TRIPLET` to affect the triplet selection for a project because it _needs_ to switch based on the target architecture and platform. It's conceivable we could do something like have `VCPKG_DEFAULT_X86_WINDO

[2017-07-12 00:24] jasjuang commented on #1436
The initial cache is a great alternative. Thanks!

[2017-07-12 00:24] #1436 closed

[2017-07-12 00:34] brucechase opened #1437 "Port Request: facebook's folly"
Port Request: folly  -- for use in a number of other libraries

[2017-07-12 00:39] atkawa7 commented on #1437
@brucechase Its already there

[2017-07-12 00:41] brucechase commented on #1437
hmmm... tried to install and it did not... must have the wrong name

[2017-07-12 00:44] atkawa7 commented on #1437
[https://github.com/Microsoft/vcpkg/blob/master/ports/folly/portfile.cmake](https://github.com/Microsoft/vcpkg/blob/master/ports/folly/portfile.cmake)

[2017-07-12 00:53] atkawa7 commented on #1437
@ras0219-msft Could you close this?

[2017-07-12 00:55] #1437 closed

[2017-07-12 00:56] brucechase commented on #1437
closed...

On Tue, Jul 11, 2017 at 8:53 PM, atkawa7 <notifications@github.com> wrote:

--

--------------------------------------------------
Bruce  Chase
413 Inglewood Drive
Westerville, OH 43081

(614) 638-8094 (cell)
(614) 890-0006 (home)

[2017-07-12 01:18] brucechase commented on #1437
had to update vcpkg in order to pull a number of new libraries... that was
the problem

On Tue, Jul 11, 2017 at 8:56 PM, Bruce Chase <bruce.r.chase@gmail.com>
wrote:

--

--------------------------------------------------
Bruce  Chase
413 Inglewood Drive
Westerville, OH 43081

(614) 638-8094 (cell)
(614) 890-0006 (home)

[2017-07-12 06:12] jasjuang commented on #1435
@ras0219-msft Thanks a lot for the explanation. I thought I had to copy the dlls from vcpkg manually into my local project bin folder. How is it performed automatically? Is there a custom command from vcpkg I can call to copy the dlls into my local project bin folder? Or do I have to figure out some combination of cmake commands to make it happen?

[2017-07-12 07:47] bagong commented on #1435
May I join in here, as this is an interesting issue coming up again and again if I understand correctly. The initial misunderstanding of of what "app-local copying" actually means shows nicely that there is some functionality involved here that many of us (including me) seem not to be aware of. I still have no good answer to the following questions, and wonder how vcpkg can give us some additional

[2017-07-12 09:30] lstrcat opened #1438 "Building package boost:x86-windows failed with: BUILD_FAILED"
Package: boost:x86-windows
Vcpkg version: 0.0.81-df3f73d8256e549ad43efd0a84cd3691d91c9c10

![image](https://user-images.githubusercontent.com/1246297/28111334-b8426bb8-6727-11e7-8bda-e304df1628c7.png)

[2017-07-12 11:37] KindDragon commented on #1419
/cc @albertziegenhagel

[2017-07-12 11:40] KindDragon commented on #1438
Please attach `build-x86-windows-rel-out.log` and  `build-x86-windows-rel-err.log` files.

[2017-07-12 15:56] usernameiwantedwasalreadytaken opened #1442 "Building simple Qt application after installation"
I've installed the qt5 module and I'm trying to build a simple project with just one file:

[code]

Visual Studio can compile fine, but gives me the following error when linking:

[code]

Any ideas how I might solve this?

P.S.: With a Debug build I've got many more linking errors...

Thanks in advance.

[2017-07-12 17:01] FrankHeimes commented on #1426
Turns out that my vcpkg installation cannot verify the certificate for github.com. That "new" hash was one computed for an empty zip file. I'll probably have to update the trusted certificates for github.com (and presumably other servers) on my PC.
Any quick tip for me on how to do this?

[2017-07-12 19:32] ras0219-msft commented on #1435
The app-local copying process is performed by `scripts\buildsystems\msbuild\applocal.ps1`[1]. It uses dumpbin to walk the full closure of all dependencies and copies every DLL from Vcpkg that's used. This means it actually does the right thing if you use a header-only boost library; your executable won't have any symbols into the DLL (since it isn't used), so it won't be listed by dumpbin and won'

[2017-07-12 20:40] jasjuang commented on #1435
@ras0219-msft Thanks for the detailed explanation. I looked into my bin folder again and realized that some of the dlls from vcpkg did get copied over but some of them did not. For example, boost dlls did not get copied over. Does that mean there is some bug in the portfile of boost? I can track down the rest if that is the case.

[2017-07-12 21:13] ras0219-msft commented on #1435
This is actually the desired behavior, if you aren't actually using those DLLs! Large parts of boost are actually header-only and don't require the runtimes. By analyzing your binary via dumpbin, we should be able to discover the "true" runtime requirements and make your application slimmer 😄!

However, if your application fails to run because it's missing pieces of boost, then that's probably a b

[2017-07-12 22:06] jasjuang commented on #1435
@ras0219-msft I use dumpbin to check my application and it shows something like

[code]

But my project is clearly using boost functions and when I attempt to execute it, it fails because it wasn't able to find the boost dlls. Does that mean there are bugs in dumpbin?

[2017-07-12 22:33] ras0219-msft commented on #1435
Hmm, while technically possible I highly doubt dumpbin is incorrect here. Are the calls to boost inside `my_lib.dll`? Dumpbin will only show the direct dependents.

Otherwise, is it possible to reduce this down to a dozen-line cpp file?

[2017-07-12 22:49] jasjuang commented on #1435
@ras0219-msft Yes the calls to boost is inside my_lib.dll. You are also right that it seems like dumpbin only show direct dependencies.

But, my_lib also has dependencies to gflags and tinyxml2 as well. gflags and tinyxml2 are also not shown in dumpbin but the dlls actually got copied over to my project bin folder by vcpkg. Is vcpkg purely relying on the info from dumpbin to decide which dlls to c

[2017-07-12 22:53] atkawa7 commented on #1435
@ras0219-msft @jasjuang @bagong Could you guys help me understand app local behavior. Are they any documentations online where I could learn this ? I remember @ras0219-msft  was talking about using it in Linux in #57

[2017-07-12 23:09] ras0219-msft commented on #1435
@atkawa7 It's somewhat buried, but the Dynamic-Link Library Search Order[1] article on MSDN describes the precise method the loader uses to search for DLLs. One of the locations it looks in is the folder containing the executable, which means you can deploy all your dependencies within that folder ("app-locally") and they'll be found at load time.

@jasjuang Vcpkg looks _recursively_ at dumpbin's

[2017-07-12 23:19] atkawa7 commented on #1435
@ras0219-msft  Thanks for the lead. So if we to port `vcpkg` to `linux` how would you mimic the same behavior

[2017-07-12 23:36] ras0219-msft commented on #1435
One way is to output a wrapper executor script that runs the program like:
[code]
This should add the script directory to the loader search path.

Alternatively, you might be able to use rpath [1] to bake the executable directory into the application binary. Specifically, in the recommendations section:

[1] https://cmake.org/Wiki/CMake_RPATH_handling

[2017-07-12 23:52] atkawa7 commented on #1435
@ras0219-msft I have been thinking about helping port vcpkg to Linux. However there are currently many dependencies on Windows. The one thing that is frustrating is the wstring/string issue. Since most of the functions on Windows work with wchars which is not the same with the Linux counter parts.  What are yout thoughts on defaulting to wstring on windows then string on Linux. Something like

[co

[2017-07-13 00:02] jasjuang commented on #1435
@ras0219-msft Here is the result after I run `powershell C:\dev\vcpkg\scripts\buildsystems\msbuild\applocal.ps1 mytest.exe -installedDir C:\dev\vcpkg\installed\x64-windows\debug\bin -verbose`

[code]

For some reason it is expecting my_lib.dll to be in the vcpkg bin folder but it is actually not. I think that's the reason why it wasn't able to find the indirect dependencies

[2017-07-13 00:09] ras0219-msft opened #1449 "[vcpkg] Improving cross-platform compatibility of codebase"
From https://github.com/Microsoft/vcpkg/issues/1435#issuecomment-314929968:

This is what we did in cpprestsdk and I believe it was a mistake; it makes it _extremely_ easy to accidentally use `std::string` or `std::wstring` instead of `CustomString`, which will compile fine on your current platform but break everything else.

I think there are two possible alternatives that alleviate this:
1. Full

[2017-07-13 00:12] ras0219-msft commented on #1435
@atkawa7 To avoid straying too far in this thread, I've opened #1449 to track any questions about making the codebase more cross-platform.

@jasjuang Thanks a bunch! I think you're exactly right -- we appear to have a bug where we aren't properly recursing through non-vcpkg dependencies. I'll try to reduce that down and get a fix, this is a big help!

[2017-07-13 00:15] atkawa7 commented on #1435
@ras0219-msft Thanks

[2017-07-13 00:17] jasjuang commented on #1435
@ras0219-msft Thanks, look forward to the fix!

[2017-07-13 00:28] atkawa7 commented on #1449
@ras0219-msft Thanks for creating the issue. Another question what is the project structure going to look like.  Are all system depended functions going to remain in  `vcpkg_system.cpp` or we would have to separate them like `support/windows/vcpkg_system.cpp` and `support/linux/vcpkg_system.cpp` like what they do with [`https://github.com/llvm-mirror/llvm/tree/master/lib/Support`](https://github.c

[2017-07-13 01:17] lstrcat commented on #1438
this is patch-x86-windows-0-err.log
`Checking patch boost/range/has_range_iterator.hpp...
error: while searching for:
            T,?
            BOOST_DEDUCED_TYPENAME ::boost::enable_if<?
                BOOST_DEDUCED_TYPENAME mpl::eval_if<is_const<T>,?
                    has_type<range_const_iterator<?
                                BOOST_DEDUCED_TYPENAME remove_const<T>::type> >,?

[2017-07-13 04:30] Voskrese opened #1451 "Port request: [VLC-Qt] Qt port bug for vcpkg"
`git clone https://github.com/vlc-qt/vlc-qt && cd vlc-qt`
`git submodule update --init --recursive`
`md build && cd build`
win32 or win64
`wget http://get.videolan.org/vlc/2.2.6/win32/vlc-2.2.6-win32.7z`
`7z x vlc-2.2.6-win32.7z`

LIBVLC_VERSION=0x020206
prefix ...\vlc-2.2.6\sdk\include
prefix ...\vlc-2.2.6\sdk\lib
STATIC=OFF or STATIC=ON\ **Qt=STATIC** !

fail\error
`set VLC_PLUGIN_PATH=prefix ..

[2017-07-13 04:44] Voskrese commented on #1451
`tree /F`

[code]

[2017-07-13 09:47] bagong commented on #1435
This was an extremely instructive thread for me, a model for the merits of open source development :smile:. Thank you all for your great attitude and competence!

[2017-07-13 10:53] Voskrese commented on #1398
перенесу в закрытые

[2017-07-13 10:53] Voskrese commented on #1398
перенесу в закрытые

[2017-07-13 10:53] #1398 closed

[2017-07-13 10:55] Voskrese commented on #1404
пока закрою

[2017-07-13 10:55] #1404 closed

[2017-07-13 10:56] Voskrese commented on #1430
скорее всего баг в порте Qt, не правильно расположение файлов и папок

[2017-07-13 10:56] #1430 closed

[2017-07-13 11:03] Voskrese commented on #1451
порт особо в принципе не нужен, только как частный случай. закрою

[2017-07-13 11:03] #1451 closed

[2017-07-13 11:43] Voskrese opened #1454 "Port request: [libssh] 0.7.5"
https://www.libssh.org/
https://red.libssh.org/attachments/download/218/libssh-0.7.5.tar.xz

depens: openssl, zlib
openssl ~1.1~ 1.0

`cmake -G"Visual Studio 14 2015" -DCMAKE_PREFIX_PATH="E:\tools\vcpkg\packages\zlib_x86-windows" .. -DWITH_STATIC_LIB=ON -DWITH_SSH1=ON -DWITH_SERVER=ON -DLIB_SUFFIX=32 -DOPENSSL_ROOT_DIR="E:\tools\openssl-1.0.2l-vs2017" -DCMAKE_INSTALL_PREFIX=../_Rel`

[code]

`cmak

[2017-07-13 12:36] usernameiwantedwasalreadytaken commented on #1449
How about using the same technique as [boost::nowide](http://cppcms.com/files/nowide/html/)? It may help with option 2...

[2017-07-13 16:10] a-andre commented on #440
See #862.

[2017-07-13 18:38] paul-michalik commented on #1338
Sorry but this IS an issue. By renaming the boost static libraries the many years lasting convention is broken and all tools on this planet break. So please remove the renaming section.

[2017-07-13 20:31] Orvid opened #1456 "Libevent has an undeclared dependency on OpenSSL"
The libevent port has a dependency on OpenSSL, but the `CONTROL` file doesn't declare that.

[2017-07-13 21:30] FabienPean opened #1457 "vcpkg_from_github lack of documentation"
**EDIT**
By chance, my problem is explained in issue #1206. From my point of view, the documentation is not sufficient and/or confusing. Personally, on repository where the master is the stable branch without any tag, it would seem natural to use the HEAD by default and fall back to the specified commit if it did not work. Anyway this behavior should be explained in detail in the documentation to

[2017-07-13 22:56] jasjuang commented on #1457
See #1382, you can do `REF <commit-number>` if that repo doesn't have any release.

[2017-07-13 23:06] #1400 closed

[2017-07-13 23:58] #1456 closed

[2017-07-13 23:58] ras0219-msft commented on #1456
Thanks for reporting this! I've pushed the fix to master.

[2017-07-14 00:47] #1435 closed

[2017-07-14 00:48] ras0219-msft commented on #1435
@jasjuang Alright, pushed the fix to master. Could you confirm that this resolves the issue?

Thanks again for reporting it and engaging in the back-and-forth 👍!

[2017-07-14 00:54] jasjuang commented on #1435
@ras0219-msft Works like magic, this is such an amazing change!

[2017-07-14 00:59] ras0219-msft commented on #1449
Yeah, boost::nowide is exactly along the lines of option 2.

@atkawa7 I would prefer to keep both implementations side-by-side in a single file for now. The reason I would see to add platform specific files is if we need to add APIs used across the codebase that aren't available everywhere, though this would need serious justification.

Example:

I can't think of any situation currently where it w

[2017-07-14 01:27] jack17529 opened #1458 "vcpkg can install both the versions of a library."
From vcpkg one should be able to install both the stable version and also the developing version of a library.

[2017-07-14 06:18] paul-michalik commented on #1449
A note on porting to Linux: are you sure this makes sense? Instead of heaving some sort of compromise, why not having something which works **perfectly** on Windows? I suggest instead to investigate support for cross-compilation scenarios on Windows for other target platforms. As far as I can tell this would be a unique feature for a "brewing" package manager and **extremely** useful.

[2017-07-14 11:23] usernameiwantedwasalreadytaken commented on #1449
@paul-michalik I think it does make a lot of sense. See #57.

[2017-07-14 14:02] cenit commented on #1338
I am waiting on Robert. My pull request was closed, so I don't have big hopes on it being fixed soon

[2017-07-14 14:41] laserallan opened #1459 "How to approach libraries not natively supporting dynamic build"
I'm working on a port for a library that builds static by default and has no cmake setting for making it build dll's. What is the preferred approach for those libraries, patch them to build dll's or just provide the pull request building static libraries only?

[2017-07-14 14:49] atkawa7 commented on #1459
@laserallan I think you can PR just static build or just dynamic depending on what the library supports using `VCPKG_LIBRARY_LINKAGE` in your portfile

[2017-07-14 15:01] dada2048 commented on #1434
Allowing the install command to *start* at a certain stage would be very useful too. Rebuilding a large library every time you tweak a small detail of the install step can make developing a port a bit painful.

[2017-07-14 15:20] bagong commented on #1459
I am aware of two cases, where the opposite is the case: dynamic library linkage works, static fails/is not supported. In one case (qt5) an attempt to build static is aborted:
[code]
In the second (ffmpeg), "fake" dynamic libraries are built to the folders in the static triplet:
[code]
The second approach has the advantage that a build expecting ffmpeg libraries in the static folder can still succ

[2017-07-14 15:26] laserallan commented on #1459
Cool, it's a pretty small library with zero dependencies so I think the second approach is preferred. It will work but it will be linked statically.

[2017-07-14 15:28] muemart commented on #1459
Does the file explicitly not support dll's, or is it just hardcoded to static? Quite a few ports patch the buildsystems to support building dlls, if it isn't too much trouble. For libraries using CMake, you can use the [WINDOWS_EXPORT_ALL_SYMBOLS](https://cmake.org/cmake/help/v3.9/prop_tgt/WINDOWS_EXPORT_ALL_SYMBOLS.html#prop_tgt:WINDOWS_EXPORT_ALL_SYMBOLS) property to export all symbols, if they

[2017-07-14 15:30] laserallan commented on #1459
That sounds interesting. It's hard coded I'll see how nasty a patch would look introducing that. If it's not too bad it might be a better approach and I'll see if I can get them to adopt it for the library.

[2017-07-14 15:32] paul-michalik commented on #1449
#57 is not a justification... It's just an opinion which may be subject to discussion. Still, I believe that a brewing package manager capable of serving various target platforms from Windows would be very valuable.

[2017-07-14 18:06] atkawa7 commented on #1449
@ras0219-msft Just wondering. How do you deal with `__interface`. It seems when I replace it with `class + public:` or `struct` I get so many errors ` method with override specifier 'override' did not override any base class` in `vcpkg_dependencies.cpp` related to `class AdjacencyProvider`

[2017-07-14 19:32] Voskrese commented on #1456
там не зависимость, а дополнительная библиотека с поддержкой ssl, тобишь получается два файла
рано закрыли))

[2017-07-14 19:37] ras0219-msft commented on #1449
@paul-michalik Sorry, I think I wasn't clear in naming this issue.

This is not representing official support from Vcpkg for running on Linux. This issue is intended to represent that we're willing to work with anyone who wants to attempt it -- which @atkawa7 has indicated he'd like to :).

I firmly believe that making the codebase more cross-platform (and therefore accessible to more compilers an

[2017-07-14 19:44] ras0219-msft commented on #1456
For reproducibility reasons, we'd prefer to either always have the library available (and list it in the CONTROL file) or to completely disable the extra component.

In this case, since openssl isn't too onerous to build, I felt it would be better to require it by default. We can make it optional once we have Feature Packages.

[2017-07-14 19:50] Voskrese commented on #1456
@ras0219-msft а где флаги компиляции в порте для поддержки ssl ? я по сути это и хотел сказать
или я что то просмотрел и недоглядел

[2017-07-14 19:56] ras0219-msft commented on #1456
It looks like they guard it with `EVENT__DISABLE_OPENSSL`, so you could add `-DEVENT__DISABLE_OPENSSL=1` to the cmake options line in the portfile to disable use of openssl.

[2017-07-14 20:05] Voskrese commented on #1456
@ras0219-msft странно что она не собралась сразу с поддержкой ssl, раз по умолчанию ssl включен
я почему заострил внимание на фикс, собирал проект и как раз не хватало библиотеки event_openssl.lib
хотя Libevent был установлен в vcpkg
неужели так повлиял контрол файл или это у меня небыло openssl при сборке Libevent

[2017-07-14 20:12] Voskrese commented on #1456
действительно, проверил параметры -L
`cmake . -L`

[code]
EVENT__DISABLE_OPENSSL:BOOL=OFF

[2017-07-14 20:46] ras0219-msft commented on #1456
Right, you need to set `-DEVENT__DISABLE_OPENSSL=ON` if you want to remove openssl.

[2017-07-14 20:52] Voskrese commented on #1456
@ras0219-msft я про другое) про ON и OFF вы уже давно подсказали
для меня было удивительно почему сразу не собралось с поддержкой SSL
ну да ладно, главное что все работает)

[2017-07-14 21:12] atkawa7 commented on #1449
@ras0219-msft Another question. Just wondering with these lines in `vcpkg_system.cpp` why  vcpkg uses environment to get architecture? And not using macros such as those defined here [`Architectures`](https://sourceforge.net/p/predef/wiki/Architectures/).
[code]
See [https://github.com/Microsoft/vcpkg/blob/master/toolsrc/src/vcpkg_System.cpp#L26-L43](https://github.com/Microsoft/vcpkg/blob/master/

[2017-07-14 21:14] JunielKatarn commented on #502
This is very confusing with multiple Visual Studio / VC installations.

Where exactly is the integration happening?
How exatly does MSBuild load vcpkg.user.targets?

[2017-07-14 21:20] ras0219-msft commented on #1449
The host that vcpkg was built for doesn't _necessarily_ map to the true host architecture. Bootstrap always builds for x86, for example.

[2017-07-14 21:31] atkawa7 commented on #1449
Thanks @ras0219-msft

[2017-07-14 21:37] atkawa7 commented on #1449
So would you recommend using something like on linux

[code]

[2017-07-14 23:46] paercebal opened #1463 "set(VCPKG_PLATFORM_TOOLSET v140) fails despite having both VS2015 and VS2017"
I'm trying to compile zlib for VS2015, and it fails because the `findVisualStudioInstallationInstances.ps1` script finds only VS2017.

## Details:

- I have both VS2015 and VS2017 installed (and able to compile C++ projects)
- My vcpkg version is: `Vcpkg package management program version 0.0.81-6950aeb6378adb47ff467a79d58ae8d4b5abe9cb`
- I created a triplet `rbr-x64-vs2015` with the following con

[2017-07-15 09:23] paul-michalik commented on #1456
Excuse me, but what is the point of communicating in Russian here..? I guess it's Russian, at least my translator believes so.

[2017-07-15 23:41] Voskrese commented on #1266
@bagong я сам сейчас разбираюсь и очень многие моменты не ясны, но то что pkg-config работает в среде windows это я подтверждаю. а вот поиск пакетов cmake не могу настроить вне окружения vkpkg
к тому же не яно с интеграцией Qt

https://man.openbsd.org/pkg-config.1
`set PKG_CONFIG_EXECUTABLE=E:\tools\Bin\pkg-config.exe`
`set PKG_CONFIG_PATH=E:\tools\vcpkg\installed\x86-windows\lib\pkgconfig;E:\tool

[2017-07-16 10:11] caiqi opened #1465 "build opencv with contrib"
when building opencv following this https://github.com/Microsoft/vcpkg/pull/862, uncommenting the lines, it throws this error:

vcpkg\buildtrees\opencv\src\opencv_contrib-3.2.0\modules\tracking\src\gtrUtils.hpp(7): fatal error C1083: Cannot open include file: 'opencv2/datasets/track_alov.hpp': No such file or directory (compiling source file \vcpkg\buildtrees\opencv\src\opencv_contrib-3.2.0\module

[2017-07-16 10:21] MikeGitb commented on #1415
Is there any additional information I can provide to help you?

[2017-07-16 11:35] caiqi commented on #1465
Manually copying dataset/include/opencv2/dataset into tracking/include/opencv2 solves this problem.

[2017-07-16 13:07] bagong commented on #1415
Are these files empty?

[code]

Maybe something went wrong on the extractions of the source-files?

[2017-07-17 03:56] Zedonboy opened #1467 "Building package openssl:x86-windows failed with: BUILD_FAILED"
[code]
Gentlemen can please help me out,
I tried manuovering by downloading some strawberry file, made sure they bear the same with the Yet-to-be-downloaded one. i think thats the bestt shot i gave to it.

[2017-07-17 06:18] bagong commented on #1467
While it doesn't explain the hash-mismatch, I'd try first to see what happens if you work with vcpkg installed to a location, the path name of which does *not* contain spaces...

[2017-07-17 07:04] crazyks opened #1468 "Mismatching hash of the downloaded nuget when AppVeyor build"
We get a "Mismatching hash of the downloaded nuget" error when running a AppVeyor CI build.

Error message is:
Mismatching hash of the downloaded nuget
At C:\projects\guetzli\vcpkg\scripts\fetchDependency.ps1:214 char:9
         throw [System.IO.FileNotFoundException] ("Mismatching hash of ...
[code]

[2017-07-17 07:41] albertziegenhagel commented on #1463
I don't think that the `findVisualStudioInstallationInstances.ps1` script is the problem here, since it is used to find VS2017 only. For VS2015 the environment varibale `VS140COMNTOOLS` is used.

You can have a look at the function `find_toolset_instances` at https://github.com/Microsoft/vcpkg/blob/4c33195759bfc2b3bde8628a6617f46040721330/toolsrc/src/VcpkgPaths.cpp#L272 to see how the detection wo

[2017-07-17 16:25] jasjuang commented on #1468
Awesome to see someone attempting to get AppVeyor in vcpkg!

[2017-07-18 01:41] JunielKatarn opened #1472 "Can't build folly on x64-uwp. (libevent fails to build)"
Package `folly` fails to build apparently due to one if its dependencies (`libevent`).

* Machine setup: Windows 10 Creators Update x64, en-us. Previously installed packages such as boost, cpprestsdk and beast (x64, windows and uwp) successfully.
* Steps to reproduce
  * Run `vcpkg install folly:x64-uwp`
  * The installation will fail with the following:
[code]
* Package versions:
  * folly `v2017

[2017-07-18 03:59] linuxaged opened #1473 "Get runtime error: can not find libpng16.dll"
My project was linked with libpng by:

	#
	# libpng
	#
	find_path( LIBPNG_INCLUDE_DIR libpng16/png.h )
	find_library( LIBPNG_LIBRARY libpng16 )
	target_include_directories( v2t PRIVATE ${LIBPNG_INCLUDE_DIR} )
	target_link_libraries( v2t PRIVATE ${LIBPNG_LIBRARY} )

the libpng16.dl is located in `D:\workspace\vcpkg\installed\x64-windows\bin`,
and libpng16d.dll is in `D:\workspace\vcpkg\installed\x6

[2017-07-18 04:18] linuxaged commented on #1473
fix by

	find_package( png REQUIRED )
	target_link_libraries( v2t PRIVATE ${PNG_LIBRARY} )

[2017-07-18 04:18] #1473 closed

[2017-07-18 07:42] traversaro commented on #485
Relevant flang issue on Windows support: https://github.com/flang-compiler/flang/issues/143 .

[2017-07-18 08:33] traversaro opened #1474 "Add gstreamer"
It would be great to have a port of the gstreamer library ( https://gstreamer.freedesktop.org/ ).

Debian package : https://packages.debian.org/source/sid/gstreamer1.0 .
Homebrew formula : https://github.com/Homebrew/homebrew-core/blob/master/Formula/gstreamer.rb .

[2017-07-18 13:49] FrankHeimes opened #1478 "Cannot build VTK static lib because qt5 does not support static libs"
VTK has a dependency on qt5. Building a static lib for VTK fails because qt5 currently does not support static libs:
[code]
I succeeded (as far as I can tell) to remove the qt5 dependency by these two changes:
1. Removed the `qt5` entry in `vcpkg\ports\vtk\CONTROL`
2. Modified `-DVTK_Group_Qt=OFF` in `vcpkg\ports\vtk\portfile.cmake`

But now the build fails with different errors. According to `vcp

[2017-07-18 14:14] martinmoene opened #1479 "Request to add gsl-lite, C++98 Guideline Support Library (GSL)"
I'd like to have gsl-lite added, a single-file header-only version of ISO C++ Guideline Support Library (GSL) for C++98, C++11 and later.

A PR is underway.

Thanks,
Martin

[2017-07-18 17:40] destenson opened #1481 "Enable multiple package versions side-by-side."
This sounds like it might be tricky, but it's much needed for many projects that rely on a specific version of a library. Take Boost, for example, its public APIs can change significantly from version to version and many projects find a version that works for them & stick with it. And as of now, those projects are alienated from participating in this vcpkg ecosystem.

[2017-07-18 18:16] Zedonboy opened #1482 "Error: Building package boost:x86-windows failed with: BUILD_FAILED"
I everyone i know this maybe crazy, i had an issue and am here to right how i solved it. well this is for those who might have the same issue
here is the issue
[code]
1. check the file that produce the error, which in this is vcpkg_download_distfile line 82
2. open it with any text editor, mine is sublime, so i went to line 82 it reads
[code]
3. so i have to change few things, i downloaded boost_1

[2017-07-18 18:19] #1482 closed

[2017-07-18 19:09] #1479 closed

[2017-07-18 19:11] ras0219-msft commented on #1472
Thanks for opening this issue!

It's possible that libevent doesn't support UWP at all. Could you contribute your experience to https://github.com/libevent/libevent/issues/520 so the author can look at adding support?

[2017-07-18 19:29] ras0219-msft commented on #1468
It looks like you're downloading the latest[1] instead of the 3.5.0 stable that we expect[2].

[1] https://dist.nuget.org/win-x86-commandline/latest/nuget.exe
[2] https://dist.nuget.org/win-x86-commandline/v3.5.0/nuget.exe

[2017-07-18 19:42] jtravs opened #1483 "[boost] cmake and Visual Studio 2017 cannot find static boost libraries"
I have installed boost with
```.\vcpkg.exe --triplet x64-windows-static install boost```

In my CMakeLists.txt I have used
[code]

If I run cmake at the command line in powershell this works fine. But If I try to open this as a cmake project in Visual Studio 2017, I get the message:
[code]

Note that I have added
[code]
too CMakeSettings.json

Does anyone know what I'm doing wrong, or how to fix t

[2017-07-18 19:49] bagong commented on #1481
I think the way offered to use older version is to move back in git history, which means working with older versions of all libraries in the project. Mixing versions of different history levels is more involved but possible, if the versions combine ;). I know of no way to control versioning e.g. as part of defining a "triplet". I think that option is avoided for now, as you say it leads to conside

[2017-07-19 04:23] Voskrese commented on #725
depens: `WpdPack_4_1_2, flex.exe, bison.exe`

[code]
`cmake -DPACKET_DLL_DIR="../../WpdPack" -G"Visual Studio 15 2017" ..`
[code]

build ok

[2017-07-19 07:46] FrankHeimes opened #1488 "VTK build fails because it creates an unexpected bin directory."
VTK has always created a bin directory to store some additional tools that might be needed in particular cases (i.e. H5detect.exe, H5make_libsettings.exe, lproj.exe, vtkEncodeString*.exe, vtkHashSource*.exe, vtkParseOGLExt*.exe).
It seems that the bin folders to store these tools are created even though the tools themselves are not built.
The vcpkg build complains about these orphan bin folders an

[2017-07-19 07:51] martinmoene opened #1489 "Ports: request for feedback on several single-file header-only libraries"
Hi,

I've a couple of single file header-only libraries that may or may not be of interest to vcpkg. Before I'd plunge in, I'd like to hear if there's interest in one or more of the following. Please specify.

- [x] [any-lite](https://github.com/martinmoene/any-lite) - PR 26-May-2019
A single-file header-only C++17-like any, a type-safe container for single values of any type for C++98, C++11 and

[2017-07-19 08:17] Voskrese commented on #1489
если они участвуют в каких либо проектах, почему бы и нет. тем более если существует у какой либо библиотеки зависимость. кому надо, тот установит, были бы портированы заголовки  ))

If they participate in any projects, why not. even more so if you have any library dependency.

[2017-07-19 08:27] martinmoene opened #1490 "ng"
sorry, touched wrong keys.

[2017-07-19 08:27] #1490 closed

[2017-07-19 12:26] usernameiwantedwasalreadytaken opened #1491 "Add Armadillo"
It would be great if we had [armadillo](http://arma.sourceforge.net/).

[Github code here](https://github.com/conradsnicta/armadillo-code)

[2017-07-19 12:27] usernameiwantedwasalreadytaken opened #1492 "Add pystring"
It would be great if we had [pystring](https://github.com/imageworks/pystring).

[2017-07-19 14:24] Voskrese commented on #1491
как пример
`git clone https://github.com/conradsnicta/armadillo-code`
`edit armadillo-code/include/armadillo_bits/config.hpp`

добавить строки и естественно сохранить
[code]
`md armadillo-code/build && cd armadillo-code/build`
`cmake .. -DCMAKE_PREFIX_PATH="E:/tools/vcpkg/installed/x86-windows" -G"Visual Studio 15 2017" -DCMAKE_CONFIGURATION_TYPES="Release" -L -DCMAKE_INSTALL_PREFIX:PATH="../_Rel"

[2017-07-19 16:22] usernameiwantedwasalreadytaken commented on #1375
To me, this error happened because the version of the mpiexec program installed at `C:\Program Files\Microsoft MPI\Bin\mpiexec.exe` was inferior to 8.0.

Downloading and installing the new mpiexe from both links above (sent by Voskrese) solved the issue.

[2017-07-19 16:30] usernameiwantedwasalreadytaken commented on #1491
Installing dependencies:

[code]

Configuring (with no changes to `armadillo-code/include/armadillo_bits/config.hpp`):

[code]

Building:

[code]

Works.

P.S.: We would still miss SuperLU and Arpack support. I think to add [SuperLU](http://crd-legacy.lbl.gov/~xiaoye/SuperLU/#superlu) to vcpkg would not be difficult, though. And [Arpack](http://www.caam.rice.edu/software/ARPACK/) is (in my opinion

[2017-07-19 16:45] usernameiwantedwasalreadytaken commented on #1491
As for SuperLU,

[code]

Works too.

But specifying `-DBUILD_SHARED_LIBS=TRUE` on the CMake command line to build a dynamic library doesn't work.

[2017-07-19 16:52] usernameiwantedwasalreadytaken commented on #1491
Building as a dynamic library works if we use openblas:

[code]

But before we need to manually patch `SRC\CMakeLists.txt` changing line 236 from this:

[code]

into this:

[code]

[2017-07-19 17:14] crazyks commented on #1468
@ras0219-msft Thanks for your reply, I did use the latest one. I will changed it to v3.5.0.

[2017-07-19 17:14] #1468 closed

[2017-07-20 00:38] JunielKatarn opened #1493 "ChakraCore fails to install in x64/UWP"
Machine:
* Windows 10 Creators Update
* Visual Studio 2017
* Other packages install fine (beast, gtest) on both windows and uwp.

Issued command:
[code]

Output:
[code]

[2017-07-20 05:09] Maktm opened #1495 "Addition of Proxygen"
[Proxygen](https://github.com/facebook/proxygen) is a set of HTTP libraries in C++. It would make a fine addition to the already existing, short list of networking libraries available on vcpkg.

[2017-07-20 07:37] lazylazypig commented on #294
@willyd Hi, which compiler is in your toolchain VS2015 or VS2017? Thanks

[2017-07-20 15:06] wolfPeterYang opened #1496 "ctype.h: No such file or directory"
Hi, it is strange that I can Compile vcpkg.exe on one PC, but can't on another

they are all Win 7 with VS2015 update3.

I checked the error,  the file was in perl.

anyone met the issue before?
`
D:\gitlibs>git clone https://github.com/microsoft/vcpkg.git
Cloning into 'vcpkg'...
remote: Counting objects: 19670, done.
remote: Compressing objects: 100% (32/32), done.
remote: Total 19670 (delta 7),

[2017-07-20 16:38] cloudhan opened #1497 "Unable to include opencv header with default build setting"
With the latest port file (3.2.0-2, no problem with 3.2.0-1), I am unable to include opencv with the default build setting.

Here is a minimal code for test
[code]

and it leads to following error.
[code]

Where the submodule `features2d` depends on `flann` which is disabled explicitly.

[2017-07-20 16:46] xoviat opened #1498 "port request: vtk with openvr"
vtk is already a package but openvr is not enabled.

[2017-07-20 16:54] usernameiwantedwasalreadytaken commented on #1442
This error happens because vcpkg is linking to `Qt5AxServer.lib` which is an ActiveX library from Qt. I wonder if this was needed since, for this example, the code was not using anything from ActiveX...

[2017-07-20 17:04] usernameiwantedwasalreadytaken commented on #1442
So, if I delete `Qt5AxServer.lib` from `<vcpkg>\installed\*\lib` everything works.

[2017-07-20 18:34] jasjuang commented on #1498
I actually looked into porting openvr but the problem is it doesn't even have proper CMakeLists. It doesn't install headers, and it doesn't install config.cmake files. Were you able to build VTK from source with openvr installed? If you are able to please let me know how you did it then I might be able to make a port.

[2017-07-20 19:05] xoviat commented on #1498
AFAIK the following variables need to be set (using the HEAD vtk):

[code]

[2017-07-20 19:10] xoviat commented on #1498
Actually part of the reason for this request is that VTK+OpenVR has proved difficult for me to set up.

[2017-07-20 19:20] xoviat commented on #1498
Yeah, the key is to add these lines to CMakelists.txt from HEAD:

[code]

Then you need to enable the module.

[2017-07-20 20:40] atkawa7 commented on #1492
see  #1501

[2017-07-20 21:14] JunielKatarn commented on #1472
Hi. I've just confirmed that folly does not yet support UWP. I don't know about libevent.

That said, isn't there a way to warn/fail on VCPKG when trying to build an unsupported triplet?

[2017-07-20 23:24] theZMan commented on #1426
I had the same problem - ninja-win.zip was a 0 byte download.

The solution for me was that I had only set my HTTP_PROXY and I had to set HTTPS_PROXY too.

[2017-07-21 02:05] atkawa7 commented on #1429
see #1502

[2017-07-21 02:20] ras0219-msft commented on #1472
There is a way that we currently use, however we'd like to make it better in the future!

For now, we try to add checks at the beginning of the portfile to fail before trying to build the port. For example: a42da34a. However, this will build all its dependencies first before running the check, which wastes time if you really only care about the final library.

In the future, we'd like to add the a

[2017-07-21 02:20] #1472 closed

[2017-07-21 02:59] wolfPeterYang commented on #1496
I got it.

It is because I didn't install all visual studio c++ components on that computer

[2017-07-21 02:59] #1496 closed

[2017-07-21 03:43] MikeGitb commented on #1429
Thanks!

[2017-07-21 03:43] #1429 closed

[2017-07-21 22:54] jasjuang opened #1507 "portfile.cmake does not recognize some environmental variables"
I am testing out porting caffe to vcpkg. It requires opencv and my opencv is built from source instead of from vcpkg because I need the cuda functionalities. The problem is caffe fails to compile through vcpkg because of the below error

[code]

Which indicates that the environmental variable `OpenCV_DIR` is not set. However when I do a `echo %OpenCV_DIR%` in the terminal it shows the correct path

[2017-07-21 23:05] ras0219-msft commented on #1507
We run builds inside a specially prepared clean environment to maximize consistency. You can enter this environment directly using `vcpkg env`, which will drop you into a shell.

Could you modify the opencv port inside Vcpkg to build with cuda instead? That's where we'd like to be in the future once feature packages land.

[2017-07-22 00:36] jasjuang commented on #1507
I tried dropping into `vcpkg env` and tried something like `setx` but it doesn't work. Is there any place I can set environmental variables?

Not everyone will have NVIDIA GPU in their computer so building with cuda might not work for some people. Is it possible to specify an optional flag? I also need opencv_contrib too.

[2017-07-22 00:36] jack17529 opened #1508 "Update not working."
Both GSL and folly have changed there structures , folly now has detail directory and thus changes in namespaces. Whereas GSL has changed many files including gsl folder. But still there is no updates for both when I try `vcpkg update` , I am very sorry but it is very bad for me if nothing is done here.

Please help me.

[2017-07-22 01:45] atkawa7 commented on #1508
@jack17529 I was confused at first but now I understand what you are alluding to. vcpkg does not update when code in some repository changes. Someone has to manually update the portfile to the latest versions. In this case no one has volunteered just yet. If you want the latest version you could change the version in your portfile and see if it works. If it works you might consider a PR. I am sure

[2017-07-22 07:23] Voskrese commented on #1454
@atkawa7 красавчик, спасибо за порт, закрываю просьбу

[2017-07-22 07:23] #1454 closed

[2017-07-22 08:42] saedrna opened #1513 "How to handle submodules in git, when create a new port?"
I would like to port [openMVG](https://github.com/openMVG/openMVG), a widely used photogrammetry library, and currently almost all the deps are in vcpkg. However, when release the code, openMVG doesn't package all the submodules in a folder named "dependencies".

So my question is, is it possible to use command like `git clone url --recursive` rather than download a package to initialize the port?

[2017-07-22 10:58] Voskrese commented on #1513
@saedrna hmm..
https://ci.appveyor.com/project/pmoulon/openmvg/build/job/r9f4lnpjm53lqxnr
`git submodule update --init --recursive`
`git clone --recursive https://github.com/openMVG/openMVG.git openMVG`

[2017-07-22 11:32] saedrna commented on #1513
@Voskrese

The following are all included in vcpkg
[code]

And we could just use the internal deps of Coin-Or tools and Lemon by openmvg ?

[2017-07-22 14:37] bagong commented on #1513
This is a general problem. Internal dependencies can use different versions than the ones current in vcpkg...

[2017-07-22 22:36] atkawa7 opened #1514 "vcpkg fails to build glog with cmake 3.8 msvc 2017"
[logs.zip](https://github.com/Microsoft/vcpkg/files/1167702/logs.zip)

[2017-07-23 06:29] Voskrese opened #1515 "The concept of library restructuring and the addition of a profile"
Простите за перевода ;) возможны не точности понимания
+ ;) **Sorry for the translation;) may not be accurate understanding**

Концепция реструктуризации библиотек и добавление профайла

на сегодняшний момент используется структура каталогов и линковки

[code]
+ предложение

[code]

Обновление библиотек предлагаю сделать на выбор, одиночное, только допустим Qt5 5.8 -> 5.9, либо со всеми зависимост

[2017-07-23 09:43] Voskrese opened #1516 "folly x64-windows-static fail"
log error

[code]

triplets v140

[2017-07-23 11:08] paercebal commented on #1463
After verification, debugging, and fooling around, Visual Studio 2015 is installed on my system, and is found by VCPKG. The problem comes from elsewhere (see details).

I can reproduce the issue simply by copy-pasting a standard triplet file, naming the copy with a specific name, and using it for zlib.

The exact steps to reproduce, when, starting from scratch, are:

- `git clone https://github.co

[2017-07-23 16:32] jasjuang commented on #1514
are you able to build glog from source with msvc 2017?

[2017-07-23 16:35] atkawa7 commented on #1514
@jasjuang Using source it works but fails with vcpkg

[2017-07-23 16:44] jasjuang commented on #1514
I checked the log, the compilation error doesn't seem to be vcpkg specific. I wonder if vcpkg alters any compilation flag when compiling things. I am still on msvc 2015 because I am still waiting for the next cuda to support msvc 2017.

[2017-07-23 17:30] cloudhan commented on #1497
flann as an external dep is not a good idea... will add a lot adhoc patch and the upstream might change the embedded flann module

[2017-07-23 18:49] Voskrese commented on #1516
upgrade vcpkg, ok

[2017-07-23 18:49] #1516 closed

[2017-07-24 06:45] akihiroy opened #1519 "LibRaw cannot find lcms package"
LibRaw can build with lcms library if it's installed. But it does not work in vcpkg.

LibRaw detects lcms by FindLCMS2.cmake. It expects lcms2.lib, but lcms in vcpkg generates lcms.lib.

Could you rename lcms package to lcms2? I think lcms usually means lcms ver 1.x.

[2017-07-24 07:03] paercebal commented on #1463
I'm dumb.

The problem is clearly this:

scripts\ports.cmake (https://github.com/Microsoft/vcpkg/blob/master/scripts/ports.cmake#L35):

`string(REGEX REPLACE "([^-]*)-([^-]*)" "\\1" TRIPLET_SYSTEM_ARCH ${TARGET_TRIPLET})`

If we already  have:

`set(VCPKG_TARGET_ARCHITECTURE x64)`

in our triplet, then I guess (again, I'm not CMake fluent) we could replace the regular expression above with:

`set(

[2017-07-24 11:54] Voskrese opened #1520 "Qt5 Windows Static - Fail"
Сам еще не проверял, использую внешнюю сборку, процесс сборки Qt очень долгий )) ошибка появилась недавно, возможно из за изменений

https://github.com/Microsoft/vcpkg/commit/9467c1bd81c655b060aa9df5aeb0047b87e93058#diff-261ad181c16e17acae7baf8fb2b321d9

здесь описывается что JOM падает при многопоточности, надо выставить либо один процесс либо использовать NMAKE
возможно так же, что обновление JO

[2017-07-24 13:19] Voskrese commented on #1516
так для сведения, динамическая библиотека собралась, правда с танцами и бубном)

[2017-07-24 14:07] daef opened #1521 "Problem with bitdefender and vcpkg (access to vcpkg.exe denied)"
I had troubles compiling vcpkg on a co-workers machine:
The linker said it had no access to toolsrc\Release\vcpkg.exe

After half an hour of headbanging we found that his bitdefender supposedly found "gen.variant.razy.206573" in the binary and locked access to the *PATH* toolsrc\Release\vcpkg.exe from there on. (We couldn't manually create a file with that name in that place, even after completely

[2017-07-24 16:17] usernameiwantedwasalreadytaken commented on #1492
Ok.

[2017-07-24 16:17] #1492 closed

[2017-07-24 17:53] #1351 closed

[2017-07-24 18:05] ras0219-msft commented on #1513
You can use a second argument to `vcpkg_extract_source_archive()`[1] to specify where a given archive should be extracted -- this means you can download each of the submodules and unpack them into the appropriate locations if they're truly needed.

However, as you've pointed out, most of the submodules are already available in Vcpkg. In this case, I would recommend doing the minimum required to sa

[2017-07-24 22:46] juandent opened #1522 "Why does boost 1.64-5 not create libboost-filesystem-XXXXX.lib?"
Hi,
I am happy to use vcpkg.exe but find someting strange in using boost. I am wondering why some libraries only appear as boost_xxxxx.lib while a few also defined libboost_xxxxx.lib.

In particular, one lib that is not compiled with the lib prefix is filesystem-xxxxx.lib. Why is this? If I compile the filesystem library using the b2 program, the libfilesystem-xxx.lib gets constructed.

Is there a

[2017-07-24 22:49] atkawa7 commented on #1522
see  #1338

[2017-07-25 00:40] Mixaill commented on #1508
We need in upstream monitoring. Something like:
* Anitya: https://github.com/release-monitoring/anitya
* Repology: https://repology.org
* Debian watch: https://wiki.debian.org/debian/watch

[2017-07-25 01:34] jmin911 opened #1527 "Beast v84: Bad hash"
Run ".\vcpkg install beast:x86-windows-static"

Error:
CMake Error at scripts/cmake/vcpkg_download_distfile.cmake:47 (message):

  File does not have expected hash:

          File path: [ C:/src/vcpkg/downloads/vinniefalco-Beast-32902fad8b7c57be27b96e00ed6ec82748732133.tar.gz ]
      Expected hash: [ 55d1ccff105f997ab7b607528980161baf22aff56109e368a6232f3cfe1fbbf3f060e2b88d68f00728e75b951b60291b8

[2017-07-25 03:28] Voskrese commented on #1516
здесь мелкие исправления для успешной сборки, сам добавить код в vcpkg не могу) боюсь испортить основной код
https://github.com/Microsoft/vcpkg/pull/1075#issuecomment-317529359

[2017-07-25 03:36] Voskrese commented on #1516
добавить в -> `CMakeLists.txt`
`set(FOLLY_LINK_LIBRARIES`

`  shlwapi.lib`

[2017-07-25 04:28] Voskrese commented on #1516
STATIC build ok

[code]
/TP -DGOOGLE_GLOG_DLL_DECL=""
`HostX64\x64\cl.exe   /TP -DGOOGLE_GLOG_DLL_DECL="" -DWIN32_LEAN_AND_MEAN -D_CRT_NONSTDC_NO_WARNINGS -D_CRT_SECURE_NO_WARNINGS -D_HAS_AUTO_PTR_ETC=1 -D_SCL_SECURE_NO_WARNINGS -D_STL_EXTRA_DISABLED_WARNINGS="4774 4987" -IE:\tools\vcpkg\buildtrees\folly\src\folly-3a4a9694164306e5279fd1df1689af1bcdeb4a89 -I. -IE:\tools\vcpkg\installed\x64-windows-

[2017-07-25 06:34] daef commented on #1521
Also see virustotal - I just uploaded my local build: https://www.virustotal.com/en/file/7d756f7c343e5ff2a90c631a5984c805e35a2913f2228fd9604d163db1217f17/analysis/1500964387/

[2017-07-25 07:29] Voskrese commented on #1516
затеял все это для сборки hhvm от facebook, там зависимостей ... уххх...

[2017-07-25 07:49] Voskrese commented on #1522
?
`cd ..vcpkg\installed\x64-windows-static\lib`
`mklink boost_filesystem-vc141-mt-1_64.lib libboost_filesystem-vc141-mt-1_64.lib `

[2017-07-25 08:34] AeolusLau opened #1530 "FFmpeg can not find zlib, so png support failed."
My env is latest version of windows 10, VS2015, cmake 3.8.2.
I installed zlib by vcpkg first, then I installed ffmpeg. No error occurred.
Then I use ffmpeg to open some kinds of images, BMP, JPEG and WEBP are all OK, but PNG is failed.
The reason is that FFmpeg needs zlib to support PNG, but when building FFmpeg, it can not find zlib, which has already been installed.
Is this a bug, or do I miss s

[2017-07-25 09:54] Mixaill commented on #508
fixed by #1388 @ras0219-msft

[2017-07-25 13:50] juandent commented on #1522
Got it! I had not built using

`vcpkg install boost:x86-windows-static`

Thanks,
Juan

[2017-07-25 13:50] #1522 closed

[2017-07-25 14:37] safrizal commented on #1402
only for static build, x64/x86-windows-static failed.

[2017-07-25 15:56] Mixaill opened #1536 "vcpkg_extract_source_archive: support .7z archives"
Needed for #560

[2017-07-25 16:45] ras0219-msft commented on #1521
Is it possible that your co-worker's machine is compromised? Malware could easily intercept the compilation step and inject its own payload into the binary as it's written out.

Obviously, we don't intend for any malware to be in the binary -- you can see the entire source code inside the `toolsrc\` directory.

Could you upload the successfully compiled vcpkg from your machine (instead of your co-

[2017-07-25 16:55] #508 closed

[2017-07-25 17:05] jasjuang commented on #1527
@vinniefalco should be able to help you

[2017-07-25 17:18] Mixaill commented on #1221
Superseded by #1526 @ras0219-msft

[2017-07-25 17:27] vinniefalco commented on #1527
Investigating...

[2017-07-25 17:31] vinniefalco commented on #1527
I cannot reproduce the problem. I am using the tip of the vcpkg **master** branch:
[code]

The output of `vcpkg install beast` is as follows:
[code]

Please try removing and reinstalling your package, after clearing any cached items.

[2017-07-25 17:36] NauticalMile64 opened #1537 "cuda:x64-windows build fails"
This is just after pulling and updating vcpkg as per the instructions. Curiously, CMake tells me to download and install from nvidia myself. Am I missing something here? These are the cuda libraries right? Working on Windows 7 atm.

[code]

[2017-07-25 17:37] #1221 closed

[2017-07-25 17:40] ras0219-msft commented on #1527
@vinniefalco @jmin911

Just to add a bit of clarity: we cache downloads (even incorrect ones) inside `downloads\`. If you've previously successfully or unsuccessfully downloaded the archive, it won't re-download it unless you explicitly delete it.

[2017-07-25 17:41] jasjuang commented on #1527
@vinniefalco I think he is having trouble with building the static version. `vcpkg install beast:x86-windows-static`

[2017-07-25 17:42] ras0219-msft commented on #1527
@vinniefalco I'm able to reproduce this issue. Make sure you delete the downloaded file and re-try!

  File does not have expected hash:

          File path: [ C:/src/vcpkg/downloads/vinniefalco-Beast-1bc30cb6e4ce0fd2e288b2cd74d18f857801cbc7.tar.gz ]
      Expected hash: [ c3d6b99273c2b2acdd366547119e78c25f788dabfae11f533aea8d31d03383b46516398370103b01e3b9bb0bb3921c981299cd3591107845630181b48e3b0

[2017-07-25 17:43] jasjuang commented on #1537
`vcpkg install cuda` is special. It only checks whether you have cuda installed for dependency purposes for other libraries. You still have to install cuda with the usual way.

[2017-07-25 17:43] vinniefalco commented on #1527
Beast is header-only so I'm not sure what the "static version" means

[2017-07-25 17:44] ras0219-msft commented on #1527
Since I'm getting the same hash as @jmin911, I'll push a portfile update to correct this.

[2017-07-25 17:48] ras0219-msft commented on #1527
@jmin911 Should be fixed by 4ae13d40

@vinniefalco You may need to run
[code]
if it complains about mismatching hashes.

[2017-07-25 17:48] #1527 closed

[2017-07-25 17:52] NauticalMile64 commented on #1537
That's interesting behavior. Perhaps the output message could be a little more clear about that?

[2017-07-25 18:00] Mixaill commented on #1521
0/62 from my machine https://www.virustotal.com/en/file/c7dd5df965510d299628e367bd17276605c4e6f61f84b29c9d9df5505ac15d23/analysis/1501005250/

You can be really compromised.

[2017-07-25 19:40] Voskrese commented on #1515
нет реакции, значит нет интереса, закрываю ))

[2017-07-25 19:40] #1515 closed

[2017-07-25 23:55] atkawa7 opened #1540 "Multiple License"
Just wondering how does vcpkg support  ports  with multiple licenses

[2017-07-26 00:10] atkawa7 commented on #1369
@jumpinjackie See #1541

[2017-07-26 05:07] atkawa7 commented on #1536
@Mixaill I know you want support for 7z. Just wondering have tried using the repos snapshots at SF. If not you could try this instead
[code]

[2017-07-26 06:26] Voskrese opened #1542 "Control [Version] Depens"
Вопрос, возможно ли выставить в CONTROL или portfile.cmake, при сборке библиотеки версию [Build-Depends] к примеру OpenSSL [=> 1.1.0+], либо наоборот [=<1.0.2-] если версия не подходит, то установка прекращается

как подсунуть ту или иную версию библиотеки, это другой вопрос

[2017-07-26 09:24] Voskrese opened #1543 "[new] port request: wangle"
+ depens folly ! ...
`https://github.com/Microsoft/vcpkg/pull/1075#issuecomment-317529359`

`git clone https://github.com/facebook/wangle`
`cd wangle`
`edit CMakeLists.txt`

[code]
[code]

patch `https://github.com/facebook/wangle/issues/98`
edit wangle\concurrent\NamedThreadFactory.h

`cmake . -L -DCMAKE_INSTALL_PREFIX:PATH="../_Rel" -Wno-dev -DCMAKE_PREFIX_PATH="E:/tools/vcpkg/installed/x64-wind

[2017-07-26 09:55] sdcb commented on #1520
Is this duplicated by: https://github.com/Microsoft/vcpkg/issues/513

[2017-07-26 10:00] Voskrese commented on #1520
@sdcb ???

 https://github.com/Kitware/fletch/blob/e6a31469326985c92d3c8f64b459f37216076885/CMake/External_Qt.cmake#L95

[2017-07-26 12:35] yaoyu opened #1544 "osg,qt5,libpng build failed(win10 + vs2015u3)"
PS D:\Develop\GitOthers\vcpkg> ./vcpkg install libpng
The following packages will be built and installed:
    libpng:x64-windows
Building package libpng:x64-windows...
-- CURRENT_INSTALLED_DIR=D:/Develop/GitOthers/vcpkg/installed/x64-windows
-- DOWNLOADS=D:/Develop/GitOthers/vcpkg/downloads
-- CURRENT_PACKAGES_DIR=D:/Develop/GitOthers/vcpkg/packages/libpng_x64-windows
-- CURRENT_BUILDTREES_DIR=D:/

[2017-07-26 12:35] yaoyu commented on #1544
CMake Error at D:/Develop/GitOthers/vcpkg/downloads/cmake-3.9.0-win32-x86/share/cmake-3.9/Modules/CMakeTestCCompiler.cmake:51 (message):
  The C compiler "C:/Program Files (x86)/Microsoft Visual Studio
  14.0/VC/bin/amd64/cl.exe" is not able to compile a simple test program.

  It fails with the following output:

   Change Dir: D:/Develop/GitOthers/vcpkg/buildtrees/openjpeg/x64-windows-rel/CMakeF

[2017-07-26 13:01] Voskrese commented on #1544
cmake-3.9.0 + ninja = fail
https://github.com/Microsoft/vcpkg/pull/1526

3.8.2 ok

[2017-07-26 13:52] bouffa commented on #1433
the opencv_flann module is mandatory to build some other opencv modules and it cannot be replaced with the external FLANN package. Disabling the opencv_flann module will disable most of opencv modules

[2017-07-26 14:03] Voskrese commented on #1137
[new] port request: `libtesseract `+ `leptonica`

[2017-07-26 14:07] KindDragon commented on #1137
@Voskrese Why you reopen this issue? We already have issue #465 about Tesseract, just vote for it

[2017-07-26 14:10] zabulus commented on #1544
Using latest vcpkg version:
[code]
As I said in linked issue, there is issue with environment CMake works at.

[2017-07-26 14:11] Voskrese commented on #1137
@KindDragon а ну ок) запамятовал, подумал что нет открытых

[2017-07-26 14:11] #1137 closed

[2017-07-26 14:13] Voskrese commented on #1137
@KindDragon как на счет `leptonica` ? это обособленная библиотека

[2017-07-26 14:16] Voskrese commented on #1544
@zabulus все что нас окружает и есть среда, но от этого проблема не уходит и каждый будет сталкиваться с ней. есть решение? я лично не нашел

[2017-07-26 14:40] alexkaratarakis commented on #1537
That's right. CUDA is pretty big, so issuing an automatic download is undesirable plus an unattended installation would be problematic, so you need to manually install it.

[2017-07-26 14:40] #1537 closed

[2017-07-26 17:35] ousttrue opened #1545 "[alembic] depend on hdf5"

[2017-07-26 18:23] ras0219-msft commented on #1544
I'm not able to reproduce this issue; CMake 3.9.0 and Ninja are building libpng fine on my machine.

Perhaps it is an issue with CMake 3.9.0 + Ninja + VS 2015? Could you try installing VS 2017 community and confirm that you still hit this issue?

[2017-07-26 18:26] ras0219-msft commented on #1540
In the end, it is always up to the user to correctly obey the license(s).

However, we make a best effort attempt to provide all the material they need inside the share folder, ideally as a file named copyright.

Therefore, I think we should
- Always install the more permissive license as `copyright` (if it is obvious)
- Make the other license available as an alternative file; perhaps `copyright.G

[2017-07-26 18:32] Voskrese commented on #1544
@ras0219-msft у меня стоит 2015 и 2017, через env консоли пробыал, ошибки те же. у меня догадки на счет /UNICODE

[2017-07-26 18:40] ras0219-msft commented on #1544
Aha! So perhaps CMake 3.9 has moved where it puts some temporary files and they now end up on paths that contain Unicode (which didn't happen under 3.8)?

Can you get the contents of the failing build.ninja file and check if it contains Unicode?

[2017-07-26 22:05] cenit commented on #1483
see #1338, I have the same problem, but at least a non-optimal fix is possible. They closed my pull request that fixed it and almost forgot that open issue of mine...

[2017-07-26 22:24] paercebal commented on #1463
Working on the solution above.

I've launched the install of two identical versions of VCPKG, one vanilla, and one with the fix above. I'll let it go through the night, and if tomorrow the diff is coherent (i.e. the only difference is the fixed version accepting the "different" triplet), I'll send a patch.

If there something else I should do to make sure this fix breaks nothing, I'm interested.

[2017-07-26 22:26] paercebal commented on #1463
BTW: Should I rename this issue, into something like: "Using triplet not following implicit format (e.g. abc-x64) fails on zlib and some other libraries"?

[2017-07-26 22:31] ras0219-msft commented on #1463
The one issue that will remain is that our qualified dependencies still unfortunately depend on the triplet name [1]. This is a bit tricky to fix, since we need to "run" the triplet file in order to discover the architecture settings. We already run it per-port, but there's a chicken-and-egg issue between dependency analysis to figure out what ports we need and running the files to figure out the

[2017-07-27 00:19] ras0219-msft commented on #1035
Thanks everyone for your suggestions! I've just pushed 06597edfb which adds `--nuget-id=...` and `--nuget-version=...`.

Example:
[code]

[2017-07-27 03:24] tzbo opened #1548 "[gflags] failed"
[code]

[2017-07-27 06:30] zabulus commented on #1402
I have dynamic build successful for both x86/x64.
But static fails because following:
[code]
As you can see port tries to build .dll library, that is not a user expects, it should be static build with .lib files only.

[2017-07-27 08:22] jaxanc opened #1549 "Error: Building package openssl:x86-windows failed with: BUILD_FAILED"
Can't seem to install openssl. Build exits with the following logs.

//---------------------------------------------------------------------------------------------------
The following packages will be built and installed:
    openssl:x86-windows
Building package openssl:x86-windows...
-- CURRENT_INSTALLED_DIR=E:/Develop/vcpkg/installed/x86-windows
-- DOWNLOADS=E:/Develop/vcpkg/downloads
-- CURREN

[2017-07-27 08:33] stekyne opened #1550 "More defensive coding against overwriting env variables accidentally"
I recently ran into an issue with VCPKG and a project whereby it was partially finding files and sometimes not at all (it seemed to depend on which package I was trying to install). I eventually found the issue however and it was due to me setting the cmake_prefix_path with my own libs.

The fix involved appending this path instead, which I assume was to not overwrite whatever vcpkg.cmake had done

[2017-07-27 10:01] apattnaik0721013 opened #1551 "Fix the vcpkg installation for qt5 libraries with triplet support"
with vcpkg (0.0.81-5), it failed to install qt5 with triplet format.
i tried the following to install qt5:
vcpkg.exe install qt5:x86-windows-v140

[2017-07-27 10:03] Voskrese commented on #1544
@ras0219-msft **gflags**
[code]

[code]
`del CMakeCache.txt`

[code]

[2017-07-27 10:04] Voskrese commented on #1544
`del CMakeCache.txt`
[code]
[code]

[2017-07-27 10:28] #1551 closed

[2017-07-27 10:28] apattnaik0721013 commented on #1551
need to check port for qt5 for dynamic support

[2017-07-27 10:53] Voskrese commented on #1544
--trace or --trace-expand

`cmake . -L -GNinja --trace -Wno-dev`

[code]

[2017-07-27 11:01] Voskrese commented on #1544
@ras0219-msft **build.ninja** не смогу проверить, он не формируется из за выше указанной ошибки ))

[2017-07-27 11:12] Voskrese commented on #1544
@ras0219-msft  оказывается можно принудительно использовать якобы не поддерживаемый компилятор

`cmake . -L -GNinja --trace -Wno-dev -DCMAKE_CL_64=1 -DMSVC14=1 -DC_TEST_WAS_RUN=0 -DCMAKE_C_COMPILER_FORCED=ON -DCMAKE_CXX_COMPILER_FORCED=ON`

в этом случае конфигурация создается

[2017-07-27 11:27] Voskrese commented on #1544
error
 [GFLAGS_]INTTYPES_FORMAT to either C99, BSD, or VC7 and try again.
[code]

[2017-07-27 11:51] Voskrese commented on #1551
???
 vcpkg.exe install qt5:x86-windows-**v140**

 vcpkg.exe install qt5:x86-windows or  vcpkg.exe install qt5:x86-windows-static

[2017-07-27 13:19] atkawa7 commented on #1548
@tzbo Try downgrading to cmake 3.8.2 and if there are any issues

[2017-07-27 14:39] Voskrese commented on #1544
@ras0219-msft во как, проблема старая оказывается и известная, только вот почему вылезла на cmake 3.9 - https://github.com/ninja-build/ninja/issues/613
в общем если по умолчанию язык консоли не chcp 65001 = UTF-8 ... ?, а возможно другой, то .... ? ninja не правильно или ему подают в неправильном формате заголовки
`chcp 866`; `chcp 1251` - fail
`chcp 65001` - work

[2017-07-27 14:46] Voskrese commented on #1548
@tzbo попробуйте в консоли сменить кодировку, если поможет отпишитесь о результатах

`chcp 65001`
`vcpkg install gflags`

[2017-07-27 17:53] ras0219-msft commented on #1549
Thanks for reporting this!

It looks like we couldn't find PERL. Looking earlier in the log...

I'm not sure what could cause this issue. Some suggest it might be caused by FAT32[1]; could you confirm that your E:\ drive is NTFS formatted?

[1] https://community.amd.com/thread/167645

[2017-07-27 18:20] #1497 closed

[2017-07-27 22:03] bigdimboom opened #1552 "opencv:x64-uwp has issue"
Error: Building package opencv:x64-uwp failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `.\vcpkg update`, then
submit an issue at https://github.com/Microsoft/vcpkg/issues including:
  Package: opencv:x64-uwp
  Vcpkg version: 0.0.81-59792e9e463d3781c7b95d96c49e24e1f9b7f154

[2017-07-28 07:17] paul-michalik commented on #1483
Everybody who uses Boost has this problem. It is beyond my understanding why this isn't fixed. It forces me to maintain my own fork of vcpkg in which the unlucky renaming is removed.

[2017-07-28 11:11] paercebal commented on #1463
I've tested the fix on *all* the packages (but ogre, which fails on my machine because the install uses too much memory), and it revealed quite a few packages broken by this bug.

For some reason, zlib was not one of them in my tests.

As my disk is almost full, I will remove the packages and try again with zlib. I expect: without the fix, it fails, with the fix, it succeeds.

[2017-07-28 17:21] #1519 closed

[2017-07-28 18:28] muemart commented on #1338
AFAIU, the issue is how CMake's FindBoost works.
When libraries want to use boost, most of them just write `find_package(Boost)`, but this by default only finds the dynamic libraries. This is bad for vcpkg, because boost might have been build statically, and then boost doesn't get found. The workaround used then is to rename the boost libraries to always have the dynamic names. The solution for us

[2017-07-28 18:47] ras0219-msft commented on #1338
I've just pushed 63454f61 which should fix this problem by unsetting `Boost_USE_STATIC_LIBS` when calling `find_package(Boost)` and using the Vcpkg toolchain file. You'll properly get a static version of Boost if you use the `-static` triplets and a dynamic version if you use the non-static triplets.

Whenever you're not using Vcpkg, your projects will (of course) be completely unaffected.

[2017-07-28 18:47] #1338 closed

[2017-07-28 18:49] ras0219-msft commented on #694
@hkaiser I've pushed 63454f61 which will override the `Boost_USE_STATIC_LIBS` setting when using Vcpkg, so you should be able to remove your Vcpkg-specific handling of that macro (you can always set it to ON and everything will work fine).

@chwarr I believe this could make Bond easier as well.

[2017-07-28 18:50] MikeGitb commented on #1415
Sorry for the delay. No, those files do exist,  are not empty and contain actually a lot of classes.

[2017-07-28 20:00] hkaiser commented on #694
@ras0219-msft thanks, I'll have a look for the next release of HPX. For the current version I'll leave things as is, though.

[2017-07-28 20:54] bigdimboom opened #1565 "libpng-uwp build error"
Call Stack (most recent call first):
  scripts/cmake/vcpkg_install_cmake.cmake:49 (vcpkg_execute_required_process)
  ports/libpng/portfile.cmake:47 (vcpkg_install_cmake)
  scripts/ports.cmake:72 (include)

Error: Building package libpng:x64-uwp failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `.\vcpkg update`, then
submit an issue at https://github.com/Microsoft/vcpkg

[2017-07-28 22:15] willyd commented on #294
VS2015

[2017-07-28 23:39] ras0219-msft commented on #1565
Hi @bigdimboom, thanks for reporting this issue!

Could you post the log files associated with the failure? The full paths should have been printed to the console during the failure.

[2017-07-28 23:48] ras0219-msft commented on #1565
I was able to reproduce an issue with libpng and it should be fixed in the latest master (4735040f). Please also try out this version and let us know if your issue still appears!

[2017-07-29 00:06] #983 closed

[2017-07-29 00:33] ras0219-msft commented on #1550
We might be able to use the `CMAKE_SYSTEM_XYZ` variables, which would be cleaner since they're intended to be owned by the "system" instead of the project.

[2017-07-29 00:34] #1545 closed

[2017-07-29 00:34] ras0219-msft commented on #1545
Fixed by #1546.

[2017-07-29 00:35] ras0219-msft commented on #1543
@Voskrese, I noticed you've previously mentioned that you weren't comfortable enough with git to make a Pull Request to submit libraries. Would a full Vcpkg "How to submit a new library using git" tutorial be useful for you?

[2017-07-29 03:33] Voskrese commented on #1543
@ras0219-msft Sorry for machine translation, if the meaning is lost from the source
я не то что не разобрался с git) хотя и это так же есть) я самостоятельно не могу оформить порт. но предлагаю сделать порт, кто обладает знаниями в cmake, потому что библиотека формируется удачно
на счет отправить, как я понял собранную библиотеку? если это так, то на этот счет есть предложение, на nuget открыть св

[2017-07-29 04:08] Voskrese commented on #1542
допустим как организовано здесь

https://github.com/nghttp2/nghttp2/blob/master/CMakeLists.txt
[code]
https://github.com/Microsoft/vcpkg/pull/1062#issuecomment-314892497
`-- Could NOT find Spdylay (missing:  SPDYLAY_LIBRARY SPDYLAY_INCLUDE_DIR) (Required is at least version "1.3.2")`

`find_package(Libevent 2.0.8 COMPONENTS libevent openssl)`
`-- Could NOT find Libevent: Found unsuitable version "

[2017-07-29 19:12] jtravs commented on #1338
Note that this fix does not seem to solve https://github.com/Microsoft/vcpkg/issues/1483

[2017-07-29 19:42] NauticalMile64 opened #1570 "Can't load glfw3 with find_package in CMake"
I'm trying to build a target for ([this project](https://github.com/louis-langholtz/PlayRho)) using CMake. Command line installation verification:

[code]

According to the final comment in issue #1425 the `find_package` method should be able to load `glfw3`. In addition, the [official glfw website also gives this as the preferred linking method]( http://www.glfw.org/docs/latest/build_guide.html#b

[2017-07-29 23:38] jasjuang commented on #1570
Did you input the vcpkg toolchain file when you are cmaking the downstream project?

[2017-07-29 23:45] NauticalMile64 commented on #1570
`CMAKE_TOOLCHAIN_FILE` is set to the full file path of the `vcpkg.cmake` file.

[2017-07-29 23:56] jasjuang commented on #1570
Hmm this is very bizarre. Are you able to reproduce this problem with a minimal repository?

To answer you last question, `Findglfw3.cmake` is not necessary because `find_package` should be able to find glfw3 automatically through glfw3Config.cmake via config mode. See more details [here](https://cmake.org/cmake/help/v3.0/command/find_package.html)

[2017-07-30 00:52] NauticalMile64 commented on #1570
I just tried to load `zlib` and `metis` in a similar way. It couldn't find either of them (although `zlib` has a `FindZLIB.cmake` so it used the search method in that file before failing).

I just wrote:
[code]
At the top of my `vcpkg.cmake` file. The message was not printed when I `configure`d. So I guess it's not reading the `CMAKE_TOOLCHAIN_FILE` variable.

I even re-installed CMake earlier tod

[2017-07-30 01:02] jasjuang commented on #1570
I always used it on the command line. `cmake -A x64 -DCMAKE_TOOLCHAIN_FILE=/path/to/vcpkg.cmake`

[2017-07-30 03:04] Voskrese commented on #1542
снова забежал впереди паровоза) вроде как есть, но нужно протестировать

[2017-07-30 03:04] #1542 closed

[2017-07-30 06:30] Voskrese commented on #1520
видимо проблема решена) закрываю

[2017-07-30 06:30] #1520 closed

[2017-07-30 08:36] paul-michalik commented on #1338
@muemart The standard `findBoost` finds the Boost static libraries on Windows **iff** they stick with the expected naming convention. The same applies to the Boost auto-linking feature. You can't break the naming convention and expect that things keep working. My proposal is just not to rename the products of the bjam build at all. In my fork of [vcpkg](https://github.com/paul-michalik/vcpkg) I ha

[2017-07-30 08:42] paul-michalik commented on #1338
One more note: I'd consider a flawless build and deployment of Boost libraries a super-high priority feature, since this will very likely be the first dependency every developer will test. If that doesn't work out of the box, chances are that vcpkg won't make it into the toolbox at all... which I'd consider a pity.

[2017-07-30 18:25] jasjuang opened #1572 "Flann failed to build on cmake 3.9 because of FindHDF5.cmake related error"
I am on vs2015 and cmake 3.9. I am unable to build flann successfully because of FindHDF5.cmake related error. I suspect it's similar to the problem related to #1545. @ousttrue could you please help me look into this. I am trying to test #1283 and flann is one of the prerequisite. Below is the error log

[code]

[2017-07-31 03:03] ousttrue commented on #1572
ok. I try to build ``vcpkg install flann`` and get same error.

error message

[code]

is problem.

I comment out ``find_package(HDF5)`` of ``flann-1.9.1/cmake/flann_utils.cmake`` , then I successfully build flann.

[2017-07-31 03:40] alexbryant opened #1573 "Trouble installing cpprestsdk: openssl build fails"
Error: Building package openssl:x86-windows failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `.\vcpkg update`, then
submit an issue at https://github.com/Microsoft/vcpkg/issues including:
  Package: openssl:x86-windows
  Vcpkg version: 0.0.81-285c28000ad0460f62a3e7895311b975042b4be5

I tried checking for updates but it was already the most updated version of vcpkg

[2017-07-31 05:37] alexbryant commented on #1189
Hi, I am having the same issue only it seems the old strawberry perl site is down. Is there another safe source for downloading it?

[2017-07-31 05:50] atkawa7 commented on #1189
@alexbryant Try https://web.archive.org/web/20170614020009/http://strawberryperl.com/download/5.24.1.1/strawberry-perl-5.24.1.1-32bit-portable.zip

[2017-07-31 06:51] muemart commented on #1338
The problem is that the following CMake file will *not* find the libboost_... libraries.
[code]
But this is how most projects use it. That's bad for vcpkg, because boost might be built statically in the current triplet. Even worse, users can write custom triplets where one library is static and another one dynamic, so build systems can't be patched to look for the static boost libraries, because t

[2017-07-31 07:22] yaoyu commented on #1544
On my computer, I replace CMake3.9 with CMake3.8.2, it works fine!

[2017-07-31 08:09] yaoyu opened #1574 "ilmbase"
ports\ilmbase\portfile.cmake error
    FILENAME "ilmbase-${ILM_VERSION}.zip"
should be
    FILENAME "ilmbase-${ILM_VERSION}.tar.gz"

[2017-07-31 08:13] yaoyu opened #1575 "openexr cmake file error"
ports\openexr\portfile.cmake error
	FILENAME "openexr-${ILM_VERSION}.zip"
should be
	FILENAME "openexr-${ILM_VERSION}.tar.gz"

[2017-07-31 08:45] yaoyu commented on #1573
change cmake3.9.0 to cmake3.8.2

[2017-07-31 08:46] yaoyu commented on #1565
change cmake3.9.0 to cmake3.8.2

[2017-07-31 14:00] jumpinjackie opened #1576 "libpng build failed (windows 7)"
OS: Windows 7 SP1 (64-bit)
VS: VS2017 Update 2
Package: libpng (1.6.31)
Vcpkg version: 0.0.81-8b49289b77472ba078dfa0d08dcd77a903e2c1ca

Building `libpng:x86-windows` and `libpng:x64-windows` both fail at the package phase. The static triplets (`x86-windows-static`, `x64-windows-static`) build and install without issues.

This is the output I get when in build `libpng:x86-windows` (`x64-windows` ou

[2017-07-31 14:52] atkawa7 commented on #1576
@jumpinjackie Try downgrading to cmake 3.8.2

[2017-07-31 16:46] atkawa7 commented on #1467
@ruckus-dj The error says it all `Couldn't resolve host name`. The reason is the perl site is down. Try archive.org instead.

[2017-07-31 18:06] ras0219-msft commented on #1576
Thanks for sending so much information!

From the logs:

Does building it a second time reproduce the error reliably?

[2017-07-31 18:24] ras0219-msft commented on #1573
Thank you for reporting this issue!

It's most likely due to the strawberry perl website being down; we're investigating alternatives.

[2017-07-31 18:25] ras0219-msft commented on #1570
CMake unfortunately doesn't respond well to changing the toolchain file after it has been configured the first time. Please try deleting the build directory and specifying it on the command line!

[2017-07-31 18:28] ras0219-msft commented on #1573
I've pushed c22ab980 which should resolve the issue. Please try updating to that version and rebuilding!

[2017-07-31 18:29] ras0219-msft commented on #1467
Thanks for reporting this issue!

I've pushed c22ab980 which uses msys2 to obtain perl instead of strawberryperl, which should fix this issue. Please try updating and rebuilding!

[2017-07-31 18:34] ras0219-msft commented on #1338
@paul-michalik You're absolutely right that Boost is a top priority! We need it to work well with every part of the vcpkg experience (MSBuild, CMake, and other libraries inside vcpkg).

With the change I've made in 63454f6, the following CMake works for both `x86-windows` and `x64-windows-static`:
[code]

In each of the four cases, the type of boost will be determined by the triplet (i.e. it will

[2017-07-31 19:03] paul-michalik commented on #1338
@ras0219-msft, @muemart: For the dummy project, this is exactly the behavior I'd expect, if the Boost default (= use dynamic libraries) is defined. I'd also expect CMake to throw an error, if only static libraries are present on Windows and Boost_USE_STATIC_LIBS = OFF . This is documented and well known feature.

@ras0219-msft Hm, but this assumes that users are using the vcpkg.cmake toolchain fil

[2017-07-31 20:14] cenit commented on #1338
not sure that bypassing explicit requests in the CMakeLists.txt is appropriate, are we sure about not causing bigger problems elsewhere?

[2017-07-31 20:27] paul-michalik commented on #731
@ras0219-msft: Have you made progress on this? I have run into similar issues when trying to build Qt *.dlls with the dependencies built as *.libs. I've defined a custom triplet which "prefers" libs but resorts to dlls when necessary. In my case qtbase/config.test fail in cases of transitive dependencies, e.g. test -> libpng -> zlib. My simple mind is unable to comprehend how could the Qt team let

[2017-07-31 21:52] ras0219-msft commented on #1338
@paul-michalik If our toolchain doesn't support custom triplets, that's a serious bug we need to fix. However, in my tests, it appears to work fine:
[code]

The logic behind our integration as a toolchain file is that we believe vcpkg is best viewed as part of the "target system" that you're "cross compiling for". Each triplet matches a different target system type.

@cenit As far as we can tell,

[2017-07-31 21:54] ras0219-msft commented on #1483
@jtravs This _should_ work exactly as you've set everything up. Anything preventing this is a bug that we should fix.

One thing to check: did you make sure to clear the VS build tree and reconfigure after adding the toolchain file? Unfortunately, CMake doesn't clear everything that needs clearing after the toolchain file is changed.

[2017-07-31 22:29] jasjuang commented on #1572
@ousttrue Is there a way to solve this through modifying the port file?

[2017-08-01 00:33] chwarr commented on #694
Thanks, @ras0219-msft. I'll try it out with the next release of Bond.

[2017-08-01 01:18] ArseniyShestakov commented on #1549
I have similar problem and my drive D is NTFS formatted. Log files mentioned are empty.

[code]

[2017-08-01 01:51] yaoyu opened #1577 "vcpkg error raised by download uncomplete"
Sometimes file download not completed, but part file saved to the disk, then in the next step, vcpkg will raise error in cmake.
Vcpkg need remove uncompleted file, and download again.

[2017-08-01 02:01] JunielKatarn commented on #1573
@ras0219 The issue doesn't seem to be resolved by that commit.

[2017-08-01 02:42] ousttrue commented on #1572
@jasjuang ``CMakeLists.txt`` of flann has no option for hdf5. ``find_hd5()`` is top level.

[2017-08-01 03:13] ArseniyShestakov commented on #1573
@yaoyu I tried to downgrade CMake from 3.9 to 3.8.2 too. Didn't work.

[2017-08-01 04:14] ArseniyShestakov commented on #1573
Problem is that MinGW that vcpkg install doesn't include Perl by default. As temporary solution you can download [perl-mingw](https://sourceforge.net/projects/perl-mingw) and put it into ```\vcpkg\downloads\tools\msys2\msys64\usr```.

Proper fix would be better though.

[2017-08-01 04:31] ArseniyShestakov commented on #1573
Also there 5 another ports depend on Strawberry Perl: libvpx, openblas, openssl-uwp, qca, qt5.

[2017-08-01 07:03] jasjuang commented on #1572
@ousttrue Got it. Do you know how to solve it?

[2017-08-01 07:40] ruckus-dj commented on #1467
Now error looks so
[code]
out and err logs are empty.

[2017-08-01 07:46] ruckus-dj commented on #1467
Installed perl in msys2. Now seems to work fine.

[2017-08-01 08:20] ruckus-dj commented on #1467
Now bzip2 build fails
[code]
err.log
[code]
" ═х єфрхЄё эрщЄш єърчрээ√щ Їрщы." == File not found (Windows dont like russian)

[2017-08-01 11:28] jtravs commented on #1483
@ras0219-msft Yes, that worked finally. Thank you!

[2017-08-01 11:28] #1483 closed

[2017-08-01 12:16] shemanaev commented on #1415
Same problem with qt5:x64-windows using MSVC 2017.

<details>
  <summary>Console output</summary>
  <pre>
  <code>
C:\src\vcpkg>vcpkg install qt5
The following packages will be built and installed:
    qt5:x86-windows
Building package qt5:x86-windows...
-- CURRENT_INSTALLED_DIR=C:/src/vcpkg/installed/x86-windows
-- DOWNLOADS=C:/src/vcpkg/downloads
-- CURRENT_PACKAGES_DIR=C:/src/vcpkg/packages/qt5_

[2017-08-01 14:00] ruckus-dj commented on #1467
#1548 helped.

[2017-08-01 14:51] bigdimboom commented on #1565
![image](https://user-images.githubusercontent.com/6119906/28831384-6d79059e-76a7-11e7-8934-5881bb3e65c1.png)

[2017-08-01 14:53] bigdimboom commented on #1552
![image](https://user-images.githubusercontent.com/6119906/28831482-ab9c5a92-76a7-11e7-8213-7a57fa919d3e.png)

[2017-08-01 15:01] jumpinjackie commented on #1576
@ras0219-msft This is strange, the build failure is erratic (some attempts pass, some attempts fail), but the error is at least consistent (error c101008d with `mt.exe`) in the `package-<triplet>-<config>-out.log` file

[2017-08-01 15:04] jumpinjackie commented on #1576
@atkawa7 I tried "downgrading" cmake by deleting the contents of the downloaded 3.9.0 install directory and unzipping the 3.8.2 files into that directory. Still the same `mt.exe` error in the package phase. Also tried with cmake 3.8.0.

[2017-08-01 15:09] atkawa7 commented on #1576
@jumpinjackie Do you have anti malware?
It could be related to this
https://stackoverflow.com/questions/40843447/unsure-why-im-getting-error-msb6006-mt-exe-exited-with-code-31-on-first-build
https://stackoverflow.com/questions/16680717/error-msb6006-mt-exe-exited-with-code-31

[2017-08-01 15:14] jumpinjackie commented on #1576
@atkawa7 I do have MS security essentials running, but I never had to whitelist the vcpkg clone dir in the past. I guess I'll whitelist the vcpkg clone dir and see how it goes.

[2017-08-01 15:55] amigo421 opened #1578 "[libVLC] any chance to add libVLC into the repository?"
the request to add cross-platform video playback package - VideoLAN (aka VLC)
http://git.videolan.org/git/vlc.git

the repository includes the player itself, but only SDK in the request, libVLC.
which mostly consists from lib, include and plugins folders (and some files from src)

note: in case of positive decision to add the library, pay your attention that for successful usage this lib, it needs

[2017-08-01 16:40] Voskrese commented on #1578
@amigo421 https://github.com/sunqueen/vlc-2.2.6.32-2015
`-G"Visual Studio 14 2015" -T"v120"`, как то так

[2017-08-01 16:47] jumpinjackie commented on #1576
Ok, after whitelisting the vcpkg clone dir and doing at least 5 repeated install/uninstalls of the affected triplets, I can no longer reproduce the `mt.exe` error.

Guess nothing practical can be done here besides whitelisting the vcpkg clone dir in MSSE/[your AV software]

[2017-08-01 16:47] #1576 closed

[2017-08-01 17:07] atkawa7 commented on #1576
@ras0219-msft Just wondering if vcpkg has a list of FAQ.  This would be a good candidate to add to the list.

[2017-08-01 17:42] ousttrue commented on #1572
@jasjuang I think that There is a need to modify ``flann-1.9.1/CMakeLists.txt``.　
Patch is required.

How to create patch is here.

* https://github.com/Microsoft/vcpkg/blob/master/docs/examples/patching-libpng.md#patching-the-code-to-improve-compatibility

[2017-08-01 20:25] Voskrese opened #1579 "[FAIL] msgpack"
[code]

[code]

`cd E:/tools/vcpkg/buildtrees/msgpack/x64-windows-static-dbg`

`cmake . -L`

[code]

**gtest depens ?**

[code]

`cmake . -L -DMSGPACK_BUILD_TESTS:BOOL=OFF -DMSGPACK_BUILD_EXAMPLES:BOOL=OFF`

E:\tools\vcpkg\buildtrees\msgpack\x64-windows-static-dbg>`ninja`
_ninja: no work to do._

[2017-08-01 23:03] ArseniyShestakov opened #1584 "Qt binaries in tools directory missing libraries"
Currently building of my Qt application failing since uic.exe won't start due to missing libraries. I checked both x86 and x64 builds and in both cases ```installed\{arch}-windows\tools\qt5``` directory only contain executables.

I successfully installed following libraries and built my project after copying all libraries required:
From: ```\vcpkg\installed\x86-windows\bin```
Into: ```\vcpkg\insta

[2017-08-01 23:07] ras0219-msft commented on #1467
@ruckus-dj Thanks for reporting that installing perl in msys2 fixed it -- I made a mistake in the portfile in the "install perl" command, which worked on my machine because it was already there. I've fixed it in master!

[2017-08-02 00:26] ras0219-msft commented on #1573
Thanks, I think I've corrected all the fallout issues due to this.

`vcpkg_find_acquire_program(PERL)` should now properly dispatch to Msys2, installing perl if it isn't present. This should fix all of the above mentioned portfiles as well.

[2017-08-02 00:31] NauticalMile64 commented on #1570
Ok the command-line specification with a clean build directory was the key. I used:`cmake -A x64 -DCMAKE_TOOLCHAIN_FILE=%VCPKG_CMAKE% -DCMAKE_VS_PLATFORM_TOOLSET=v140 --build ../..`

The reason I was trying to get away from this is I have to set a lot (~10 or so) CMake flags during the build process, and make sure the project builds with different combinations of selected flags. This is a hassle w

[2017-08-02 00:31] #1570 closed

[2017-08-02 00:55] ras0219-msft commented on #1570
Unsolicited suggestion 😄: you might find CMake's "provide a cache file" functionality useful (the -C option)[1]. It _is_ a bit tricky to set up, though; you have to author the file with a bunch of "set" commands. Alternatively, you might try just putting the full command line in a batch file.

[1] https://cmake.org/cmake/help/v3.9/manual/cmake.1.html

[2017-08-02 01:01] NauticalMile64 commented on #1570
@ras0219-msft Great idea. I'll make use of that chache file option at some point.

[2017-08-02 01:12] ArseniyShestakov commented on #1573
@ras0219-msft I could confirm it's works now. I made clean install on Windows 10 VM and openssl build passed fine.

[2017-08-02 04:01] UnaNancyOwen commented on #1572
@jasjuang @ousttrue I think that character code is this cause.
Please execute the following command to set character code to UTF-8, before install FLANN port.
[code]
This work was not necessary previously.
I don't know why it is necessary to change charactor code to UTF-8.
(@ras0219-msft may know.)

[2017-08-02 06:33] jasjuang commented on #1572
@UnaNancyOwen Unfortunately `chcp 65001` does nothing for me. It still fails to compile.

[2017-08-02 09:34] UnaNancyOwen commented on #1572
@jasjuang Which version of vcpkg are you using?
I confirmed that it will be successfully installed using the latest vcpkg (f8ee92bacefaa95347b6c1eec5fda4dcf4666fe4).
![2017-08-02_18h26_25](https://user-images.githubusercontent.com/816705/28867320-a390b49c-77b0-11e7-9b32-8afc2f5b0b8e.png)
I defined the custom triplet (x86-windows-v140.cmake) for Visual Studio 2015.
[code]

[2017-08-02 10:02] codicodi commented on #1573
opessl:x86-windows builds fine for me to, but openssl:x64-windows doesn't seem to work.
`Can't open perl script "cryptoperlasm/x86_64-xlate.pl": No such file or directory`
The file is `crypto/perlasm/x86_64-xlate.pl` Looks like path separator issue

[2017-08-02 10:07] codicodi commented on #1573
According to https://github.com/openssl/openssl/issues/264 msvc build with msys perl is not supported :(

[2017-08-02 14:48] jasjuang commented on #1572
@UnaNancyOwen I am on the latest vcpkg but I was trying to build the 64 bit version, which is `x64-windows`

[2017-08-02 14:59] UnaNancyOwen commented on #1572
@jasjuang The x64 triplet install was also successful.
![2017-08-02_23h56_34](https://user-images.githubusercontent.com/816705/28879971-8b73b9c6-77de-11e7-8b03-9efa588388b6.png)

[2017-08-02 15:06] jasjuang commented on #1572
@UnaNancyOwen That's weird, but @ousttrue also confirmed that he can reproduce the error. Are you on cmake 3.9?

[2017-08-02 15:10] UnaNancyOwen commented on #1572
@jasjuang Yes, I'm using the CMake 3.9.0 (vcpkg/downloads/cmake-3.9.0-win32-x86) that downloaded and installed by vcpkg.

[2017-08-02 15:20] atkawa7 commented on #1572
@jasjuang @UnaNancyOwen Just wondering. Does vcpkg prefer the bundled one over  locally installed cmake?

[2017-08-02 15:24] UnaNancyOwen commented on #1572
@jasjuang @atkawa7 I tried using local CMake 3.9.0, but FLANN port install was also successful.

[2017-08-02 16:13] KindDragon commented on #1572
Try remove `vcpkg\buildtrees\flann` before installing it

[2017-08-02 16:19] UnaNancyOwen commented on #1572
@KindDragon I tried it, but install was successful.

[2017-08-02 16:22] jasjuang commented on #1572
I tried removing  vcpkg\buildtrees\flann and install it but the
installation is still unsuccessful. I even tried switching to windows
powershell and rerun bootstrap-vcpkg.bat, but it still fails to compile for
me

On Wed, Aug 2, 2017 at 9:19 AM, Tsukasa Sugiura <notifications@github.com>
wrote:

[2017-08-02 20:44] ko1 opened #1587 "openssl:x64-windows build fails"
* I'm using Windows 10 (Microsoft Windows [Version 10.0.15063] cmd.exe says)
* I'm using Japanese locale.
* `vcpkg install openssl` (x86) successes.
* `vcpkg install openssl:x64-windows` fails (see below)

[code]

[2017-08-02 21:36] ras0219-msft commented on #1587
Thanks for reporting this issue!

This was due to some trouble with our perl installation, which should be fixed in the current master.

[2017-08-02 21:36] #1587 closed

[2017-08-02 21:39] ras0219-msft commented on #1573
Ugh. Thanks for pointing that out, @codicodi.

Since the strawberry perl website appears to be back up, I'll restore using it as an immediate fix. In the longer term, we'll look at:
- Whether ActivePerl's license is compatible with Vcpkg's usage
- Improving openssl's build to support msys2 perl (it works in 32-bit, so it shouldn't be _that_ hard)
- Mirroring strawberryperl
- Rewriting openssl's bu

[2017-08-02 21:39] #1573 closed

[2017-08-02 21:43] KindDragon commented on #1572
Error for me too (only with CMake 3.9):
[code]

[2017-08-02 21:48] ras0219-msft commented on #1572
It seems like we should probably intercept the call to `find_package(HDF5)` inside our toolchain file and just "do the right thing" if the cmake version is 2.9. This would properly fix all of the portfiles and any user code. Something like [1].

[1] https://github.com/Microsoft/vcpkg/blob/6f112cf9611cabbe5641cc6ce0bd13d0144f50be/scripts/buildsystems/vcpkg.cmake#L141-L146

[2017-08-02 21:53] KindDragon commented on #1572
Changes in FindHDF5.cmake between CMake 3.8 and 3.9 https://gist.github.com/KindDragon/3cd8bd383ce3d145690335758b389b4c

[2017-08-02 23:20] #1574 closed

[2017-08-02 23:20] #1575 closed

[2017-08-02 23:32] samwise commented on #407
I am also unable to build openssl. I have attached the relevant logs. I am actually just looking for curl but unfortunately the curl build pull in all sorts of things (msys2? really?)

[open-ssl-build-log.tar.gz](https://github.com/Microsoft/vcpkg/files/1195556/open-ssl-build-log.tar.gz)

[2017-08-03 00:04] ras0219-msft commented on #407
We had some trouble with the strawberry perl website over the last few days and were attempting to fix the issue.

Everything should be resolved on the latest master (d26e890b31c35e3). Could you try pulling that version and re-running install?

[2017-08-03 00:56] ko1 commented on #1587
remove buildtree directory and retry works fine!
Thank you.

(Note: there is a file NUL in build directory so that ...)

[2017-08-03 06:29] Voskrese commented on #1579
edit portfile.cmake
add
[code]
? ok

[2017-08-03 06:29] #1579 closed

[2017-08-03 10:40] samwise commented on #407
Thanks, after updating everything worked.

[2017-08-03 11:47] #1584 closed

[2017-08-03 16:19] captainnumerica opened #1590 "poco:x86-windows-static - pkg build failure"
**Error: Building package poco:x86-windows-static failed with: BUILD_FAILED**
Please ensure you're using the latest portfiles with `.\vcpkg update`, then submit an issue at https://github.com/Microsoft/vcpkg/issues including:
  **Package: poco:x86-windows-static**
  **Vcpkg version: 0.0.81-f31dd7dcaf174d32275673632dbca2df0eed44f1**

---

[package-x86-windows-static-rel.zip](https://github.com/Micr

[2017-08-03 17:05] rupengzhang opened #1591 "Vcpkg problems when i run C:\vcpkg>.\bootstrap-vcpkg.bat"
I have a problem about install vcpkg. I cloned the Vcpke,then i started to run C:\vcpkg>.\bootstrap-vcpkg.bat,there were problems happened.

3> .. \ src \ vcpkg_System.cpp (208): error C2664: "DWORD GetEnvironmentVariableW (LPCWSTR, LPWSTR, DWORD)": Can not get parameter 2 from "cons
       T wchar_t * "to" LPWSTR "[C: \ vcpkg \ toolsrc \ vcpkglib \ vcpkglib.vcxproj]
         .. \ src \ vcpkg_Syst

[2017-08-03 21:11] stekyne opened #1592 "CMake 3.9 required?"
Additional packages (*) will be installed to complete this operation.
Building package eigen3:x64-windows...

Download cmake
**No suitable version of cmake was found (requires 3.9.0 or higher). Download portable version?
[Y] Yes  [N] No  [A] Always Allow Downloads  [?] Help (default is "Y"):**

It seems that CMake 3.9 is required now? That's kind of broken my appveyor build (their images have 3.8.

[2017-08-03 23:44] cmpute commented on #1481
I think the proposal is brilliant. Just like PyPI where I can do `pip install numpy=1.10`, I think it should be great to have an option to install certain version of packages, that's quite a useful feature if we have `pkg install <pkg>[=<version]` or sth like that.

[2017-08-04 01:14] ras0219-msft commented on #731
@paul-michalik I unfortunately have not.

Thanks for pinging that it's still a problem, I'll make sure it's on my "todo" list (hopefully soon!).

[2017-08-04 01:17] ras0219-msft commented on #1592
Thanks for reporting this!

The best immediate workaround is to create a file `downloads/AlwaysAllowDownloads` [1] which will automatically accept any prompts.

I think there're strong arguments that we should
- Automatically do this if we detect we're in AppVeyor (downside is inconsistency)
- Never prompt (downside is less transparency)
however we haven't taken action on either of those yet.

[1]

[2017-08-04 01:21] ras0219-msft commented on #1591
I see, it looks like we somehow tried to use the 7.1 SDK -- we should fix this.

The Windows 8.1 desktop SDK is the latest supported SDK for building Windows 8, Windows 7, Windows Vista applications and it's what we currently require. Could you try installing the Windows 8.1 SDK and rebuilding vcpkg?

https://developer.microsoft.com/en-us/windows/downloads/windows-8-1-sdk

[2017-08-04 01:38] ras0219-msft commented on #1552
Hi, thanks for reporting this issue!

I'm unable to reproduce the problem locally; could you attach the package-x64-uwp-rel-*.log files mentioned in the error message?

[2017-08-04 03:18] feicong opened #1593 "vcpkg install failed on unzip source code"
```vcpkg install lz4```

[code]

extract-err.log:
[code]

```vcpkg install rapidjson```, the same error will be generated

extract-err.log:
[code]

but .tar.gz source code install will done. eg:```vcpkg install sqlite3```.

[2017-08-04 06:20] paul-michalik commented on #731
We are investigating this ourselves, will report progress. I guess vcpkg portfiles did everything right, it appears to be a Qt issue...

[2017-08-04 08:46] stekyne commented on #1592
Ah great stuff, I've added that line and it's working normally now. That really had me stumped. The prompt doesn't appear in the appveyor log and locally I had all the packages downloaded so I wasn't installing them regularly.

Both options seem OK to me, I'd probably prefer the second one.

[2017-08-04 08:46] #1592 closed

[2017-08-04 09:36] codicodi commented on #1573
It kinda works, but I noticed that it creates `NUL` file in the buildtree (probably as part of mentioned pipe problems...).

Perl is needed for some scripts to translate assembly files from AT&T to Intels syntax, so I don't think we can get rid of it easily.

No idea about licenses, but looks like only the most recent version is availible for free, so the download would break quite often.

[2017-08-04 12:47] samwise opened #1594 "failure building boost (c1060)"
Running

[code]
on a docker container. Output is:

[code]

Log snippet:

[code]

[2017-08-04 13:08] dalebrubaker opened #1595 ""DLLs should not be present in a static build" error installing grpc"
Window 10 Pro
,\vcpkg install grpc
Error below requested that I file this issue.

-- Package x86-windows-dbg done
-- Installing: D:/GitFoss/vcpkg/packages/grpc_x86-windows/share/grpc/copyright
-- Performing post-build validation
DLLs should not be present in a static build, but the following DLLs were found:

    D:/GitFoss/vcpkg/packages/grpc_x86-windows/tools/grpc/zlib1.dll
    D:/GitFoss/vcpkg/

[2017-08-04 13:23] codicodi commented on #1595
`> Vcpkg version: 0.0.81-b33632943c51a53c61fbbfe38b4f23c1767dc602`

That's fairly old build. I suspect you pulled https://github.com/Microsoft/vcpkg/commit/4267c86b1f7cfe20e88fe7a1eaaa4caaca8c5d77 which requires `vcpkg.exe` to be rebuilt.
I'd recommend you run `git pull` once more (just to be sure) and then rebuild vcpkg with `.\bootstrap-vcpkg.bat`

[2017-08-04 13:45] samwise commented on #1594
This is likely a problem with the docker container not having access to enough memory. Closing it for now.

[2017-08-04 13:45] #1594 closed

[2017-08-04 18:53] ras0219-msft commented on #1579
I think #1596 should perhaps fix this.

[2017-08-04 22:35] NauticalMile64 opened #1597 "Linking against glfw in CMake when lib may have been installed using vcpkg"
I am trying to figure out how to load and link against `glfw` when the package might have been loaded in one of two ways:

[code]

I inserted the `glfw` argument as suggested by @jasjuang  in issue #1425, but the build doesn't pass anymore on linux (see [report here](https://travis-ci.org/louis-langholtz/PlayRho/jobs/261177788)). It reports `cannot find -lglfw`.

How can I change this code so it c

[2017-08-04 23:01] jasjuang commented on #1597
It's lower case `find_package(glfw3)`. I don't think `find_package(GLFW3)` works with vcpkg.

Also I suggest you to use `target_include_directories` instead of `include_directories`. I believe `include_directories` is soon going to be depreciated.

[2017-08-05 07:24] feicong opened #1599 "powelshell suspended on vcpkg install openssl."
I am trying to install openssl use the following command:
[code]

powelshell will suspended. output like this:
[code]

suspended with message `-- [download 0% complete]`, Is there any solution? thx.

[code]

[2017-08-05 07:30] feicong commented on #1599
`perl` installed from https://www.perl.org.

`nasm` downloaded from www.nasm.us and in `PATH` environment variable .

download & buildtree dir was cleaned, but the problem is still exists.

[2017-08-05 17:28] Voskrese commented on #431
https://github.com/Microsoft/vcpkg/pull/1098#issuecomment-320438120

[2017-08-05 17:35] NauticalMile64 commented on #1597
@jasjuang Thanks for your suggestions.

Uppercase library names are working (for `glew` also) but I'll keep this in mind if there are any other problems in the future. I guess this is really a CMake issue (or my misunderstanding of CMake). I'll close this issue, but I've also [posted a question on SO about this](https://stackoverflow.com/q/45524666/1542146) if you have time to take a look.

[2017-08-05 17:35] #1597 closed

[2017-08-05 22:08] dalebrubaker commented on #1595
Yes, that fixed it, thank you.

[2017-08-05 22:08] #1595 closed

[2017-08-07 07:39] daef commented on #1521
Sorry for the delay, I completely forgot about this issue.

That's what I did with virustotal the day after the first finding. That's where the 9/63 came from.

Now I just deleted my vcpkg.exe and re-ran bootstrap-vcpkg.bat: [0/63] (https://www.virustotal.com/en/file/5ac504bb2bd0a54fa69680050ba572514d76567ef9a07a06fe77b68beaf9e605/analysis/1502091258/)

Bitdefenders homepage doesn't seem to tell m

[2017-08-07 14:56] #1375 closed

[2017-08-07 15:33] gaaguile opened #1605 "Error: Building package msmpi:x64-windows failed with: BUILD_FAILED"
Hi, I have this issue while installing the VTK package, it seems there is a newer version.

CMake Error at ports/msmpi/portfile.cmake:28 (message):
    The version of the installed MSMPI redistributable packages does not match the version to be installed
    Expected version: 8.0.12438.0
    Found version: 7.1.12437.25

Call Stack (most recent call first):
  scripts/ports.cmake:72 (include)
Error:

[2017-08-07 15:43] alexkaratarakis commented on #1605
It appears you have msmpi version 7.1 installed. The portfile for msmpi checks your installed version of the msmpi runtime (we can't do unatteded installation for that, only for the SDK).

Therefore, you need to update it.
Also, the message above states that "Expected version is 8.0" but a few minutes ago I merged an update that updates the msmpi version to 8.1. So, I recommend you do a `git pull`

[2017-08-07 21:16] neilsh-msft opened #1606 "Support OpenBLAS 2.20 and x64-UWP"
OpenBLAS 0.2.20 has been released.  The build process now uses SED and AWK.  Also UWP is now supported.  A couple issues is that SED and AWK aren't discoverable with the current vcpkg.  However sed and awk are installed with git but not made part of the default path.  Also to build UWP binaries, non-UWP helper executables must be built first which are used during the UWP build process.

[2017-08-07 23:29] ras0219-msft commented on #1599
Thanks for reporting this issue!

To maximize reproducibility, we use specific versions of perl and nasm from inside the Vcpkg directory and ignore any versions installed on the system -- this is why you're seeing attempts to download even after you installed some other versions system-wide.

The best fix would be to enable vcpkg to download its specific versions. Are you perhaps using a proxy? Yo

[2017-08-08 00:04] gaaguile commented on #1605
Thank you Alex,
I followed you instructions and VTK is installed and running in my VS 2017 project.

[2017-08-08 00:14] #1605 closed

[2017-08-08 05:18] feicong commented on #1599
thx a lot. this problem is solved.

[2017-08-08 05:18] #1599 closed

[2017-08-08 05:58] feicong opened #1608 "vcpkg install lua & vcpkg install luajit conflictted."
after `vcpkg install luajit`, exec `vcpkg install lua` will generate the following error:
[code]

[code]

[2017-08-08 06:06] jasjuang opened #1609 "Need help on building OpenCV with CUDA"
I am on vs2015, x64-windows. I am attempting to build OpenCV with CUDA by simply changing the `-DWITH_CUDA=OFF` to `-DWITH_CUDA=ON`. In the end I get a compilation error,

[code]

But the problem is I am unable to reproduce this when building from source with the same cmake options. The module opencv_cudafeatures2d compiles successfully. The whole thing compiles successfully. I browsed through the

[2017-08-08 06:15] fxconfig opened #1610 "cpp-redis portfile.cmake has an error"
there's no such cmkelist file in port/cpp-redis/tacopie/

`The following packages will be built and installed:
    cpp-redis:x86-windows-static
Building package cpp-redis:x86-windows-static...
-- CURRENT_INSTALLED_DIR=D:/gitt/vcpkg/installed/x86-windows-static
-- DOWNLOADS=D:/gitt/vcpkg/downloads
-- CURRENT_PACKAGES_DIR=D:/gitt/vcpkg/packages/cpp-redis_x86-windows-static
-- CURRENT_BUILDTREES_DIR=

[2017-08-08 08:21] ad34 commented on #1201
does this actually means that we can't compile uWebSockets with thread safe support on windows?

[2017-08-08 09:37] jaxanc commented on #1549
Thanks for the help. Yes, you were right. My E drive was formatted to extFAT. After switching to another drive running NTFS the issue went away.

[2017-08-08 16:43] jasjuang opened #1615 "opencv fails to build with opencv_contrib enabled"
I followed #862 to uncomment the opencv_contrib part in the port file to build opencv, but I encounter the below config error

[code]

It seems to have problem with ceres and gflags, but I have both ceres and gflags installed.

[2017-08-08 18:38] jasjuang commented on #1615
This actually got solved with the latest 3.3.0 release. Will submit a PR later

[2017-08-08 18:38] #1615 closed

[2017-08-08 19:05] juandent opened #1616 "what is the magic behind this tool?"
Hi,

How can all the include files for all installed packages appear in VStudio 2017? Is the include path extended to include the folder within vcpkg? How are the correct libraries selected automatically? Some #pragma comment(lib, "xxxx")? Is the library path also extended to include the libraries within vcpkg?

I just need to know how it works to use it well.

Regards,
Juan Dent

[2017-08-08 19:36] killvxk opened #1618 "msgpack cmake error with ninja"
in file ports\msgpack\portfile.cmake.

the line PREFER_NINJA is not necessary at all.

[2017-08-08 21:32] ras0219-msft commented on #1616
Our `integrate install` command effectively adds an MSBuild targets file[1] to all projects built inside VS 2015 or 2017. This file adds the appropriate include path and adds all "regular" libraries to your link line. The linker then determines the libraries that are used by your binary and only pulls in references to those libraries. By "regular" libraries, I mean libraries that do not override a

[2017-08-08 22:51] #1610 closed

[2017-08-08 22:51] ras0219-msft commented on #1610
Thanks for reporting this issue!

It should be fixed in the latest master.

[2017-08-08 23:52] yamcenutzer commented on #308
Unfortunately, the way yaml-cpp is built here seems not correct.
simple two-liners will havve unresolved externals.

Currently yaml-cpp seems only to be usable as static lib with dynamic rt.

[2017-08-09 09:57] daef commented on #1201
Nope. This means that UWS_THREADSAFE is not needed on windows to get thread safety.

[2017-08-09 12:40] yamcenutzer opened #1621 "yaml-cpp not usable"
the way yaml-cpp is built it is not usable.
the default seems to create a shared lib, but that has unresolved externals when used.

I only ever got ot use yaml-cpp by building it as a static lib with dynamic runtime and using it that way.

[2017-08-09 12:49] codicodi commented on #1618
I wasn't able to reproduce any problems with Ninja generator. Could you specify what errors you've got?

[2017-08-09 12:53] codicodi commented on #1621
Sounds like a problem with import macros. I'll look into it

[2017-08-09 14:46] yamcenutzer commented on #1621
I don't know, it seems yaml-cpp can't be built as a dll on windows (unless the issue was silently resolved over there, but not that I know of).

Right now, in vcpkg,  I've changed the default target triplet to:
[code]
That way, it's built as static lib with dynamic runtime and remains usaeable

[2017-08-09 14:58] codicodi commented on #1621
I was able to reproduce linker errors and they all seem to be related to incorrect import declarations.
Could you checkout #1622 and see if it fixes your issue?
If not, could you show code that can't be linked correctly?

[2017-08-09 15:25] yamcenutzer commented on #1621
Does it work for you?

the simple test is to have a 2-liner in your code:
[code]
It doesn't do anything for me. Still the same unresolved external

[2017-08-09 16:07] codicodi commented on #1621
Well, for current port it fails for me with:
`foo.obj : error LNK2001: unresolved external symbol "public: static class std::basic_string<char,struct std::char_traits<char>,class std::allocator<char> > YAML::detail::node_data::empty_scalar" (?empty_scalar@node_data@detail@YAML@@2V?$basic_string@DU?$char_traits@D@std@@V?$allocator@D@2@@std@@A)`
With  #1622 applied it seems to works fine.

[2017-08-09 16:40] yamcenutzer commented on #1621
then I porobably didn't manage to get your build .
Anyway, are you intending to PR this to the 'original' repo, because, imho that is missing there too:
https://github.com/jbeder/yaml-cpp/issues/461

[2017-08-09 17:23] alexkaratarakis commented on #1621
@yamcenutzer The fix was merged, so you can try it by pulling the latest version.

[2017-08-09 17:44] yamcenutzer commented on #1621
Thx,
works here too now.

[2017-08-09 20:44] #1616 closed

[2017-08-09 20:47] juandent opened #1624 "Why is HowardHinnant Date library not included in vcpkg?"
**https://github.com/HowardHinnant/date** is a superb addition to the chronos library in std. I have no doubt that it should be among vcpkg's packages.

Best regards,
Juan Dent

[2017-08-09 21:14] cenit commented on #1320
@ras0219-msft sorry to disturb, any news on this problem?

[2017-08-09 22:16] ras0219-msft commented on #1624
We'd love to accept a PR for this library!

[2017-08-09 22:17] juandent commented on #1624
ok, with pleasure. ... what is the procedure?

[2017-08-09 22:17] ras0219-msft commented on #1608
Unfortunately, this is the desired behavior as I understand it -- luajit and lua both provide the same headers (and perhaps even the same functions), so you can't use them both from the same application.

[2017-08-09 22:18] atkawa7 commented on #1624
@juandent see https://github.com/Microsoft/vcpkg/blob/master/docs/examples/packaging-zlib.md

[2017-08-09 23:06] juandent commented on #1624
I created the port with:

for which I got:

-- Generated CONTROL: C:\Users\Juan Dent\C++ Development\Source Components\vcpkg-master\ports\date\CONTROL

Now when I try to build, with:

I get these messages:

-- DOWNLOADS=C:/Users/Juan Dent/C++ Development/Source Components/vcpkg-master/downloads
-- CURRENT_PACKAGES_DIR=C:/Users/Juan Dent/C++ Development/Source Components/vcpkg-master/packages/date_

[2017-08-09 23:52] atkawa7 commented on #1624
@juandent  vcpkg `create` is expecting archive url i.e [`https://github.com/HowardHinnant/date/archive/v2.2.zip`](https://github.com/HowardHinnant/date/archive/v2.2.zip)
[`https://github.com/HowardHinnant/date/archive/v2.2.tar.gz`](https://github.com/HowardHinnant/date/archive/v2.2.tar.gz) but you gave it this instead `https://github.com/HowardHinnant/date.git` .

Should have been

`vcpkg.exe crea

[2017-08-10 02:08] feicong commented on #1608
maybe you can put their header files in separate directories, eg: luajit -> include/luajit/xxx.h, lua -> include/lua/xxx.h.

[2017-08-10 02:08] #1608 closed

[2017-08-10 02:13] alexkaratarakis commented on #1608
@feicong The problem with that is that any library that depends on these headers need to have its #include directives modified.

[2017-08-10 07:10] killvxk commented on #1618
in log file::

  Run Build Command:"B:/vcpkg/downloads/tools/ninja/ninja-1.7.2/ninja.exe"
  "cmTC_1787c"

  ninja: error: build.ninja:30: loading 'rules.ninja':

[2017-08-10 12:47] yamcenutzer commented on #1621
Sorry, that was too fast,
The fix gets you past the errors on the 2-liner above, but if you start using it you still get a lot of warnings about linkage (it does compile though):
[code]

[2017-08-10 15:22] albertziegenhagel commented on #1419
This should be fixed by the PR #1601

[2017-08-10 15:25] albertziegenhagel commented on #1488
This should be fixed by the PR #1601, although untested since it is blocked by #1478

[2017-08-10 16:06] albertziegenhagel opened #1626 "Handling release and debug builds"
Currently the tool-chain file adds both `installed/<triplet>/debug` and `installed/<triplet>` to the `CMAKE_PREFIX_PATH` for Debug builds but only `installed/<triplet>` for release builds.

Because of this it is possible that a debug build silently picks up a release library if for some reason the debug library could not be found.
An example for this is the `FindGLEW.cmake` script, that is distrib

[2017-08-10 16:18] codicodi commented on #1626
We can also simply tell cmake to ignore `installed/<triplet>/lib` by adding it to `CMAKE_IGNORE_PATH` in debug builds.

[2017-08-10 16:21] albertziegenhagel commented on #1326
This should be fixed by the PR #1601

[2017-08-10 16:28] albertziegenhagel commented on #1626
Cool, I wasn't aware of that feature! That would make things very easy.

[2017-08-10 16:38] albertziegenhagel opened #1627 "VTK: enable VTK_USE_SYSTEM_<library> for all 3rd-party dependencies"
Currently the VTK port builds and distributes an own version for some of its 3rd-party dependencies.

These should be transitioned to use libraries build by vcpkg via the `VTK_USE_SYSTEM_<library>` option. The following libraries are still build by VTK:

- [ ] GL2PS
- [ ] JPEG
- [ ] LIBHARU
- [ ] LIBPROJ4
- [ ] LIBRARIES
- [ ] LZ4 (already available in VCPKG)
- [ ] NETCDFCPP (uses an old, deprecat

[2017-08-10 20:03] albertziegenhagel commented on #1627
JPEG, LIBPROJ4 and LZ4 will be enabled by #1601.

Enabling OGGTHEORA depends on #1547.

[2017-08-10 20:38] ian-wevr opened #1628 "Error: Building package openssl:x64-uwp failed with: BUILD_FAILED"
Performed "vcpkg update", then "vcpkg --triplet x64-uwp install openssl".
Please see the attached logs. Let me know if there's any more information I can provide.

[make-openssl-x64-uwp-err.log.txt](https://github.com/Microsoft/vcpkg/files/1216307/make-openssl-x64-uwp-err.log.txt)
[make-openssl-x64-uwp-out.log.txt](https://github.com/Microsoft/vcpkg/files/1216308/make-openssl-x64-uwp-out.log.txt)

[2017-08-10 20:52] #1488 closed

[2017-08-10 20:55] alexkaratarakis commented on #1627
#1547 has been merged, so oggtheora can now be depended on.

[2017-08-10 20:57] alexkaratarakis commented on #1419
#1601 is now merged, let me know if that resolves the issue.

[2017-08-10 20:58] alexkaratarakis commented on #1488
#1601 is now merged.

[2017-08-10 21:07] jasjuang commented on #1572
@ras0219-msft @KindDragon  with the newly merged PCL I am eager to see this fixed, however I am unsure what should be added in vcpkg.cmake in order to fix this, could you give me some hints?

[2017-08-10 21:20] alexkaratarakis commented on #1572
@atkawa7 The downloaded copy is preferred over the system installed one. You can see the order here:
https://github.com/Microsoft/vcpkg/blob/master/toolsrc/src/VcpkgPaths.cpp#L107

[2017-08-11 00:10] #1419 closed

[2017-08-11 07:51] t-sharp opened #1631 "Error: Building package libepoxy:x86-windows failed with: BUILD_FAILED"
I performed ".\vcpkg update" and then ".\vcpkg install gtk". The output was:

Please see the attached logs. Let me know if there's any more information I can provide.
[config-x86-windows-rel-err.log.txt](https://github.com/Microsoft/vcpkg/files/1217165/config-x86-windows-rel-err.log.txt)
[config-x86-windows-rel-out.log.txt](https://github.com/Microsoft/vcpkg/files/1217166/config-x86-windows-rel-ou

[2017-08-11 09:28] albertziegenhagel commented on #1627
OGGTHEORA will be enabled by #1632

[2017-08-11 11:17] albertziegenhagel commented on #1572
Have you tried passing `-DHDF5_NO_FIND_PACKAGE_CONFIG_FILE=ON` to cmake? This will disable using the hdf5-config.cmake completely in the FindHDF5 module.

Besides that CMake 3.10 will include a FindHDF5.cmake with some fixes that are especially relevant on Windows. See the merge requests [1] and [2]. I think the commit [3] is the one that fixes the problems you are facing. Maybe you can just copy

[2017-08-11 13:56] codicodi commented on #1621
I wouldn't worry too much about those. The standard library classes are defined identically in your application and in yaml-cpp, so you should be fine and the warning can be disabled.
The warning would matter if you used different version of the standard library than yaml-cpp, but mixing stdlib versions (or modes: debug/release) is a very bad idea anyway.

[2017-08-11 22:21] jasjuang commented on #1572
@albertziegenhagel `-DHDF5_NO_FIND_PACKAGE_CONFIG_FILE=ON` works like magic. I will submit a PR shortly

[2017-08-12 05:58] jasjuang opened #1637 "libtheora compilation error with newest cmake 3.9.1 and git 2.14.1"
I am not able to compile libtheora (vcpkg install libtheora ) with the newest cmake 3.9.1 and git 2.14.1. The error message is

err.log
[code]

out.log
[code]

I was able to compile this with my old setup, cmake 3.9.0 and git 2.11. I am still trying to figure out why ninja is causing trouble. Can someone give me some help?

EDIT: If I comment out the PREFER_NINJA in the portfile it compiles, but I

[2017-08-12 08:18] paercebal opened #1638 "Adding support for customized Project configurations?"
For now, VCPKG only supports 'Debug' and 'Release' configurations, which means other configurations do not profit from the automatic include, linking, and binaries copying to the output directory at compilation time.

I propose to add a partial support based on configuration name prefix, instead of strict configuration name.

## Pre-requisite

The pre-requisite is the following: It is possible to

[2017-08-12 15:04] UnaNancyOwen commented on #1257
PCL port has been merged. Please close this issue.
If you found problems, Please open new issues.
Thanks,

[2017-08-12 15:49] jasjuang commented on #1257
Thanks a lot for the great work. I will report back if there issue with the port.

[2017-08-12 15:49] #1257 closed

[2017-08-14 02:16] #1572 closed

[2017-08-14 02:32] mcgoo commented on #719
I think this has recently started causing my builds on AppVeyor to fail. A workaround is to `echo yes > %VCPKG_ROOT%\Downloads\AlwaysAllowDownloads` to agree to the downloads in advance and skip the prompt. Maybe a command line option to disable interactive prompts, like `vcpkg install --yes <pkgname>` would be useful?

[2017-08-14 02:45] willyd commented on #1403
@ras0219-msft Is this still a bug? I was able to build opencv with x64-windows-static by only commenting out those lines https://github.com/Microsoft/vcpkg/blob/master/ports/opencv/portfile.cmake#L1-L4. Of course I had to add lzma to the list of dependencies of my executable, but other than that no problem.

[2017-08-14 07:36] pravic opened #1642 "Links to project source repository in CONTROL?"
Currently port description (ports\name\CONTROL) contains only project name, version and its short description.

So it is hard to find out where this repository lives (especially if its name is not unique), and we have to dig into portfile.cmake to find the exact link to the port.

Wouldn't it be better to add an URL of the repository in CONTROL file? For example, Rust crates [contain](http://doc.c

[2017-08-14 07:39] pravic commented on #1642
For example, in [ports/plog](../tree/master/ports/plog) we can have the following:
[code]

[2017-08-14 07:52] albertziegenhagel commented on #1536
`vcpkg_extract_source_archive` uses cmakes `-E tar xf <filename>` command line option to extract archives. This should include support for `*.7z` (just tested it here and it works fine).

Could you tell us, what the error message is that you are seeing?

[2017-08-14 12:08] OlafvdSpek opened #1643 "Expected dependency downloaded path..."
[code]

[2017-08-14 12:11] codicodi commented on #1643
You probably need to rerun bootstrap

[2017-08-14 12:19] OlafvdSpek commented on #1643
Right..
It'd be nice if vcpkg could detect that.

[2017-08-14 14:14] God-Staff opened #1644 "error with cmake"
The error is happened while me install bzip2 and boost!
I'am not know cmake's Grammar rules。So...you know it!

CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:43 (message):
    Command failed: D:/Tools/Cmake/bin/cmake.exe;D:/ThridLibraryPackages/buildtrees/bzip2/src/bzip2-1.0.6;-DBUILD_SHARED_LIBS=ON;-DVCPKG_TARGET_TRIPLET=x86-windows;-DCMAKE_CXX_FLAGS= /DWIN32 /D_WINDOWS /W3 /ut

[2017-08-14 14:58] atkawa7 commented on #1644
@God-Staff Could you upload the logs as well

[2017-08-14 17:40] vmaks commented on #1644
I have exactly the same issue.
I have Windows 10 x64 and Visual Studio 2017 (with VS 2015 as well).
I can't install any package.
Could you help me?
Thanks in advance!

[code]

[2017-08-14 17:42] atkawa7 commented on #1644
@vmaks Could you rerun bootstrap?

[2017-08-14 17:47] vmaks commented on #1644
@atkawa7 I rerun a bootstrap, but it doesn't help.

I rerun the bootstrap with the following script:
```C:\src\vcpkg> .\bootstrap-vcpkg.bat```

[2017-08-14 17:48] atkawa7 commented on #1644
@vmaks Could you upload the logs as well?

[2017-08-14 17:49] vmaks commented on #1644
@atkawa7 yes, I added my log files below.

config-x86-windows-rel-err.log
[code]

config-x86-windows-rel-out.log

[code]

[2017-08-14 18:01] atkawa7 commented on #1644
@vmaks Could you comment this ` PREFER_NINJA` in you portfile. Its this line
https://github.com/Microsoft/vcpkg/blob/master/ports/sqlite3/portfile.cmake#L17

[2017-08-14 22:48] #1643 closed

[2017-08-15 07:59] vmaks commented on #1644
@atkawa7 yes, it helps. Thank you very much!

However, I have the same issue with libpng, liblzma, libjpeg-turbo, tiff.
Could you fix the issue with "PREFER_NINJA" completely?

Could you also tell how to compile libraries with help of Visual Studio 2015 compiler in Visual Studio 2017. How to change the compiler in vcpkg?

[2017-08-15 08:07] OlafvdSpek commented on #1643
@ras0219-msft Did you intend to close this?

[2017-08-15 18:56] #1206 closed

[2017-08-15 20:00] atkawa7 commented on #1627
@albertziegenhagel See #1647 #1646

[2017-08-15 20:39] ras0219-msft commented on #1320
Thanks for bumping this back up, but unfortunately no (solid) progress has been made.

The trouble with removing the debug suffix is that it becomes effectively impossible for multiconfiguration generators like VS to function correctly (they need to be able to see both libraries and distinguish between them).

It looks like we might be able to modify the fltk port to create a `FLTKConfig.cmake` fi

[2017-08-15 20:40] Mixaill opened #1648 "vcpkg: crash in vcpkg::System::cmd_execute_clean"
Windows 10 15063.540
MSVS 2017 15.3, v140 toolset, 8.1 target platform
Vcpkg git master 45fcdbc

Only in "Release" configuration, 32-bit and 64-bit

---

https://github.com/Microsoft/vcpkg/blob/master/toolsrc/src/vcpkg_System.cpp#L120
[code]

call stack
[code]
---

.exe, .pdb and .dmp in attach: [**dump.zip (Release x86)**](https://github.com/Microsoft/vcpkg/files/1226328/dump.zip)

[2017-08-15 20:42] martin-s commented on #1644
Create another triplet for your architecture, platform, complier and use it: `vcpkg install <port>:<triplet>`

[2017-08-15 20:46] ras0219-msft commented on #1644
Here's the documentation on triplets (including how to specify the compiler): https://github.com/Microsoft/vcpkg/blob/master/docs/users/triplets.md

[2017-08-15 20:47] martin-s commented on #1638
What about other schemes of configurations? For example, RelWithDebInfo and others cmake provides...

[2017-08-15 20:47] ras0219-msft commented on #1643
I did, but only because I assumed the primary issue was resolved. I'd be happy to reopen if there's still a problem!

On a larger scope, we do need to improve tool/repo version mismatch detection, but I don't think this is the issue for tracking that.

[2017-08-15 20:50] ras0219-msft commented on #1638
@martin-s The `VcpkgConfiguration` variable is initialized with your solution configuration by default[1], but you can override it inside your MSBuild.

So, you could add:
[code]
to your project file's globals section and we'll see and match against "Release".

[1] https://github.com/Microsoft/vcpkg/blob/45fcdbc7f26a80ba37baa48f403d20a1e1063bf2/scripts/buildsystems/msbuild/vcpkg.targets#L38

[2017-08-15 21:07] paercebal commented on #1638
@ras0219-msft Is your solution what you recommend for all the cases (including the ones I describe)?

_(i.e. I didn't realize this was a possible solution, even in my case. I find your solution actually better than the "hack" in my pull requests, or the hacks I tried at home - I actually went through a few hacks to produce similar results, after failing to find a way to do it cleanly)._

If yes, i

[2017-08-15 21:18] albertziegenhagel commented on #1627
Great! Thanks! I will update the VTK port as soon as the PRs are merged.

[2017-08-15 21:45] alexkaratarakis commented on #719
@alexhultman @mcgoo
f4d11d7c9ea98007af88684db12de351b83bd976 removes download prompts.
There were many issues around these prompts plus one of the goals of `vcpkg` is to be as script-friendly as possible (e.g. for CI builds) so we decided to remove them.

[2017-08-16 02:51] #1618 closed

[2017-08-16 12:46] KindDragon opened #1651 "Script that check new version of ports from GitHub"
JFYI https://gist.github.com/KindDragon/0312346f8d2cc70d52d12e5c69188d73

Script result: https://gist.github.com/KindDragon/97a424b03a56ccb4cc74e44f5072bd93

[2017-08-16 13:59] albertziegenhagel opened #1652 "Missing include in libharu"
The `libharu` port does not install a header `hpdf_config.h` that is referenced in `hpdf.h`.

This header is configured and put into the directories for `${CURRENT_BUILDTREES_DIR}/${TARGET_TRIPLET}-rel\include` and `${CURRENT_BUILDTREES_DIR}/${TARGET_TRIPLET}-deb`. The problem is that the release and the debug version are different: The debug version defines the macro `LIBHPDF_DEBUG` while the rel

[2017-08-16 14:04] albertziegenhagel commented on #1627
I could not enable `libharu` or `gl2ps` for VTK.

`libharu` is blocked by #1652.

`gl2ps` is blocked because VTK actually uses a modified version of gl2ps (they introduced a function called `gl2psTextOptColorBL` which is not available in the original version of gl2ps). I will open an issue for that on the VTK issue tracker and ask them how to resolve that.

[2017-08-16 14:09] atkawa7 commented on #1652
@albertziegenhagel My assumption was this would pick it up.

https://github.com/Microsoft/vcpkg/blob/master/ports/libharu/portfile.cmake#L37

I will look at it

[2017-08-16 14:12] albertziegenhagel commented on #1652
I think you can not use `CMAKE_BINARY_DIR` in the portfile. You should use either `${CURRENT_BUILDTREES_DIR}/${TARGET_TRIPLET}-rel` or `${CURRENT_BUILDTREES_DIR}/${TARGET_TRIPLET}-dbg` (don't know whether there are shorter variables defined for that).

Nevertheless the issue with the `LIBHPDP_DEBUG` macro remains.

[2017-08-16 14:13] Mixaill commented on #1652
`${CMAKE_BINARY_DIR}` for portfile points to `vcpkg.exe` location

[2017-08-16 14:17] ArseniyShestakov opened #1653 "CMake: provide option to deploy DLLs on install() like VCPKG_APPLOCAL_DEPS"
While Vcpkg copy all dependency DLLs include one for Qt properly it's there is no option to do that for install. Such option would be very useful for most of projects using CMake that create their installers using CPack+NSIS.

Of course I can simply copy DLLs and Qt plugins from output directory to install directory, but this would be very ugly hack that will likely to break at any moment. Another

[2017-08-16 14:23] ArseniyShestakov commented on #1653
And yeah I seen mentioning of qtdeploy.ps1 script in other issues, but I still wish windeployqt would work.

[2017-08-16 14:36] ArseniyShestakov opened #1654 "Qt: windeployqt don't work from CMake install scripts"
I'm aware that ```windeployqt``` is pretty broken and this is why Vcpkg has own ```qtdeploy.ps1```, but I still wish this issues to be fixed one day. There basically few problems with using it:

- First of all there are different binary in debug directory version of libs and I find no good way to find it using ```find_program``` and no matter what paths I specify it's normal tool found. Might be t

[2017-08-16 14:43] ArseniyShestakov commented on #1654
Just in case here is some CMake script example:
[code]

[2017-08-16 17:40] alexkaratarakis commented on #1651
Wow, this is great! 💯

[2017-08-16 21:45] LeonineKing1199 commented on #1653
You know what's funny, I made an issue exactly like this but then closed it.

When you CMake install something, it's ideally going to be in the users `/usr/bin`, `/usr/lib`, what have you.

Basically, your user should've already had all dependent DLLs/`.so`s installed so linking to them should be left as an exercise to the consumer, in my opinion.

[2017-08-16 22:01] ArseniyShestakov commented on #1653
@LeonineKing1199 I seen your issue and even thought to mention it, but after decide that don't make any sense. Basically what you talking about is deployment on Linux. It's my primary platform and on Linux you just prepare your binaries for package manager to come and pack them for you or install them appropriately. Also there are solution for standalone apps such as snap or flatpack that do every

[2017-08-17 01:08] atkawa7 commented on #1652
@albertziegenhagel  what are you thoughts on disabling it

[2017-08-17 01:13] atkawa7 commented on #1652
@albertziegenhagel see #1658

[2017-08-17 01:18] atkawa7 commented on #1627
@albertziegenhagel I think they didn't introduce. It already exists here
http://gitlab.onelab.info/gl2ps/gl2ps/blob/master/gl2ps.c#L6209-6215

[2017-08-17 03:08] 276585877 opened #1659 "chromiumembedded/cef is not exist"

[2017-08-17 04:08] zieckey opened #1660 "Failed to install gflags"
ENV：
1. vcpkg version bd7cd7f56d5d9fdfeb1f57810a2ea77bf4d7e31a
1. Windows 10 professional, simplified Chinese locale
2. cmake: 3.9.1 c:/Program Files/CMake/
3. git:  2.14.1.windows.1
4. Installed VS
	- Microsoft Visual Studio Community 2017 15.2 (26430.16) Release
	- Microsoft Visual Studio Community 2015 Version 14.0.25431.01 Update 3
5. I have successfully installed `libevent:x86-windows` and `l

[2017-08-17 07:19] albertziegenhagel commented on #1652
I had a quick look into what that macro actually controls and it seems that it really just enables some more debug output, so I think it is more indented to be used when developing libharu itself.

So just disabling it seems to be the right thing to do in my opinion.

[2017-08-17 07:31] albertziegenhagel commented on #1627
You are right. So it seems that VTK actually uses a mixed version.

They have `gl2psTextOptColorBL` from gl2ps > 1.4.0, but at the same time they have `gl2psAddPolyPrimitive` taking the arguments of gl2ps 1.3.9.

The version macros in the `gl2ps.h` distributed with VTK actually say it's 1.3.9, so I assume they started with 1.3.9 and then applied some of the patches manually, diverging from the act

[2017-08-17 10:20] fcharlie commented on #1660
rollback cmake to 3.8.2, cmake 3.9.x  create ninja project failed

[2017-08-17 15:06] icedream2linxi commented on #1609
When using "-Xcompiler utf-8", you can reproduce the problem.

[code]

**tt.cu**
[code]

[2017-08-18 02:43] ivannp opened #1661 "Add Blitz++"

[2017-08-18 05:40] zieckey commented on #1660
Thanks @fcharlie
When I rollback cmake to 3.8.2, vcpkg will automatically try to install cmake 3.9.1 itself.

[2017-08-18 06:04] fcharlie commented on #1660
@zieckey rename `cmake-3.8.2-win32-x86` to `cmake-3.9.1-win32-x86`

[2017-08-18 08:02] zieckey commented on #1660
I used cmake-3.8.2-win64-x64.msi to install cmake. I cannot rename it to `cmake-3.9.1-win64-x64.msi`

[2017-08-18 08:12] fcharlie commented on #1660
@zieckey Please download https://cmake.org/files/v3.8/cmake-3.8.2-win32-x86.zip, unpack to vcpkg root `downloads` after rename `cmake-3.8.2-win32-x86` to `cmake-3.9.1-win32-x86` 。

[2017-08-18 10:50] 276585877 opened #1662 "install llvm error"
Call Stack (most recent call first):
  scripts/cmake/vcpkg_configure_cmake.cmake:170 (vcpkg_execute_required_process

  ports/llvm/portfile.cmake:19 (vcpkg_configure_cmake)
  scripts/ports.cmake:72 (include)

Error: Building package llvm:x86-windows failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `.\vcpkg update`, then
submit an issue at https://github.com/Microsoft/

[2017-08-18 11:13] traversaro commented on #233
Relevant: @albertziegenhagel pushed a port for MUMPS (a key dependency of IPOPT) in his own form of vcpkg, see https://github.com/Microsoft/vcpkg/pull/1098#issuecomment-321012602.   This port requires the amazing Fortran support in vcpkg introduced by : https://github.com/Microsoft/vcpkg/pull/1098 .

[2017-08-18 16:07] KindDragon commented on #1662
Please add log files

[2017-08-19 15:38] kwach opened #1665 "libraw (needed by freeimage) failed to compile (BUILD_FAILED)"
* I'm using Windows 10 Home
* Repro steps:
`vcpkg install freeimage`
* Expected: package and deps installs just fine
* Actual outcome: `libraw` failed to install

Error details:
* Package: libraw:x86-windows
* Vcpkg version: 0.0.83-45d9d68a5825c78d71d8508ff9554d2552049138

[code]

Logfile say:
[code]

Note: dbg built just fine.

I'm using:
Microsoft Visual Studio Community 2017
Version 15.3.1
Visu

[2017-08-19 20:30] Mixaill commented on #1665
@kwach fixed in #1666

[2017-08-20 01:56] ras0219-msft commented on #1665
Fixed in #1666.

[2017-08-20 01:56] #1665 closed

[2017-08-20 13:10] kwach opened #1669 "freeimage dependecy jxrlib fails to compile due to hash mismatch"
* Repro step: `vcpkg.exe install freeimage` or `vcpkg.exe install jxrlib:x86-windows`
* Result: ixrlib fails
* Error:

[code]

Retried twice removing downloads without success.

[2017-08-20 17:45] jasjuang commented on #1609
@icedream2linxi Thanks a lot for identifying the problem. I am able to reproduce it with your code. Now I just have to figure out a way to turn off "-Xcompiler utf-8" when compiling. Problem is I have no idea how to adjust the compilation flags in vcpkg. Can @ras0219-msft @KindDragon give me some pointers?

[2017-08-20 18:09] jasjuang commented on #1669
if you update the hash in the portfile to the actual hash, does jxrlib compile?

[2017-08-20 18:11] jasjuang commented on #1660
if you comment out the prefer_ninja in the gflags port file, does it compile?

[2017-08-20 20:35] kwach commented on #1669
Yes

[2017-08-20 21:12] jasjuang commented on #1669
feel free to submit your first PR to fix this!

[2017-08-20 23:58] codicodi commented on #1669
That hash was correct just a month or two ago. We should probably look for more stable mirror.

[2017-08-21 01:53] ras0219-msft commented on #1660
As suggested by @fcharlie, `chcp 65001` in the console you're running Vcpkg from is the best way to work around this issue.

Unfortunately, cmake+ninja has some trouble with non-English codepages on Windows, though I'm not sure where in the stack the true problem lies. We should probably fix this in the tool itself by setting the codepage before performing any build.

[2017-08-21 01:59] fcharlie commented on #1660
@ras0219-msft Ninja run on Windows Codepage 936 is success, but **cmake 3.9 invoke ninja** is failed !

cmake 3.8 is ok. cmake 3.9.x is stupid

https://github.com/fstudio/clangbuilder/blob/908c21f7d179a17d05469c48395fcb92f2f32e46/bin/ClangbuilderTarget.ps1#L239

My Clangbuilder PS Function (Start-Process convert encoding, .Net System.Diagnostics.Process  )

[code]

[code]

[2017-08-21 02:05] ras0219-msft commented on #1609
This is _probably_ being percolated from the `/utf-8` we pass into our base compiler flags[1]. The ideal fix would be to patch the sources to be pure utf-8 (or better, ascii). However, if that won't work, it should be possible to override the charset.

Here're the relevant docs:
https://docs.microsoft.com/en-us/cpp/build/reference/utf-8-set-source-and-executable-character-sets-to-utf-8

[1] https:

[2017-08-21 02:10] zieckey commented on #1660
@fcharlie  I follow your advice, it works. Thanks.

[2017-08-21 02:45] fcharlie commented on #1644
@vmaks Can you tell me your console Codepage?

[2017-08-21 02:52] 276585877 commented on #1662
openssl also error
CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:43 (message):
    Command failed: C:/Program Files (x86)/Microsoft Visual Studio 14.0/VC/bin/a
md64/nmake.exe;-f;ms\ntdll.mak;install
    Working Directory: D:/vcpkg/buildtrees/openssl/x86-windows-rel/openssl-1.0.2
l
    See logs for more information:
      D:\vcpkg\buildtrees\openssl\build-x86-windows-rel-1-out.l

[2017-08-21 05:45] 276585877 commented on #1662
llvm log :
CMake Error at D:/vcpkg-master/downloads/cmake-3.9.1-win32-x86/share/cmake-3.8/Modules/CMakeTestCCompiler.cmake:51 (message):
  The C compiler "C:/Program Files (x86)/Microsoft Visual Studio
  14.0/VC/bin/amd64_x86/cl.exe" is not able to compile a simple test program.

  It fails with the following output:

   Change Dir: D:/vcpkg-master/buildtrees/llvm/x86-windows-rel/CMakeFiles/CMakeT

[2017-08-21 06:14] flcker opened #1673 "fail to install libpng"
Package: libpng:x86-windows
  Vcpkg version: 0.0.83-

[2017-08-21 08:12] 276585877 opened #1674 "openssl error"
why choose C:\Program Files (x86)\Windows Kits\10\include\10.0.10586.0 ?

C:\Program Files (x86)\Windows Kits\10\include\10.0.10586.0\um\winnt.h(34): fatal error C1083: 无法打开包括文件: “ctype.h”: No such file or directory
d:\vcpkg-master\buildtrees\openssl\x86-windows-rel\openssl-1.0.2l\crypto\cryptlib.h(62): fatal error C1083: 无法打开包括文件: “stdlib.h”: No such file or directory
	cl /Fotmp32dll\cpt_err.obj

[2017-08-21 10:28] stekyne commented on #1659
http://opensource.spotify.com/cefbuilds/index.html

Not sure that's something could be added. It takes a long time to build it. Try one of those builds.

[2017-08-21 20:43] Mixaill commented on #1660
Link to CMake's bugtracker https://gitlab.kitware.com/cmake/cmake/issues/17191

[2017-08-21 21:09] #1669 closed

[2017-08-21 21:20] jasjuang commented on #1609
@ras0219-msft I don't think it's appropriate to patch the source, because CUDA is actually installed separately by it's own installer.

I manually remove the `/utf-8` in vcpkg_configure_cmake.cmake and it actually compiles. But I am unable to patch it in the opencv portfile. I tried

[code]

but it didn't work. Could you give me some pointers on how to remove the utf-8 flag in the opencv portfile?

[2017-08-21 21:58] KindDragon commented on #1609
Try to do same for C compiler `CMAKE_C_FLAGS`

[2017-08-21 22:06] jasjuang commented on #1609
@KindDragon I added that line too but it didn't work unfortunately

[2017-08-22 09:45] arthur-tacca commented on #1481
Not only older versions of libraries, but *fewer* libraries because more get added over time.

[2017-08-22 19:31] #1652 closed

[2017-08-22 21:06] Sleepyowl opened #1681 "How to specify a version of a library"
I cannot find any documentation on installing a specific version of a library.

Boost 1.65 breaks my build and I need to fall back to 1.64.

Is there a smart way to do that?

Currently I just `git reset` vcpkg to the commit right before boost version bump, but that's ugly.

[2017-08-22 21:43] ras0219-msft commented on #1681
Vcpkg's approach to accessing previous versions is exactly what you've done; either using `git reset` to freeze yourself to the set of library versions you need or using `git checkout <sha> -- ports/boost` to pull a specific version of a specific port forward.

You might also find the `vcpkg export` command useful if you only need the old set of libraries for a single project and you'd otherwise l

[2017-08-22 23:36] #1513 closed

[2017-08-22 23:39] ras0219-msft commented on #1514
@atkawa7 Could you confirm that this issue still reproduces on the latest master?

[2017-08-22 23:53] ras0219-msft commented on #1521
I'm not sure, however you might try contacting your antivirus provider (Bitdefender?).

Since this isn't a vcpkg issue, I'll close this.

[2017-08-22 23:53] #1521 closed

[2017-08-23 00:02] ras0219-msft commented on #1590
Thanks for posting your issue and sorry for the delay!

It looks like cmake is picking up the Anaconda copy of zlib from your machine. I'm not sure how this is possible, since we clear out the environment for building.

Could you run `vcpkg env --triplet x86-windows-static --debug` to get a shell inside the build environment and then run `set | findstr "Anaconda"`? (use `exit` to get out of the bu

[2017-08-23 00:05] ras0219-msft commented on #1593
Thanks for reporting this issue! Could you confirm it still reproduces with the latest Vcpkg since we've updated to CMake 3.9? (687ea82f)

[2017-08-23 00:06] ras0219-msft commented on #1606
Fixes in #1607, thanks for sending us a PR!

[2017-08-23 00:06] #1606 closed

[2017-08-23 00:06] #1621 closed

[2017-08-23 00:12] Mixaill commented on #1660
@zieckey @fcharlie please test #1682

[2017-08-23 00:15] ras0219-msft commented on #1626
The reason we add both paths is to support Multi-Configuration generators like Visual Studio.

When using a multi-configuration generator, CMake supports doing the following:
[code]
This is unfortunately (still) widely used in the built-in CMake Modules, especially in older CMake versions.

More generally, if we don't add both paths to the search list, it is _impossible_ for any libraries supporte

[2017-08-23 01:50] atkawa7 commented on #1514
@ras0219 @jasjuang I am still having the same problem
[glog.zip](https://github.com/Microsoft/vcpkg/files/1243882/glog.zip)

[2017-08-23 01:58] fcharlie commented on #1660
@Mixaill I test it.

[2017-08-23 06:39] albertziegenhagel commented on #1626
I think you have an inconsistency already. First of all I think there are two different use cases: the first is what happens while vcpkg is building a package, the second is when a user is building an own project using packages build by vcpkg.

In the first case multi-configuration generators do not really matter, because after configuring, vcpkg always builds only one configuration. So if vcpkg c

[2017-08-23 08:26] fishfreetaken opened #1683 "Launching powershell failed or was denied when trying to fetch git version 2.14.1."
~\Documents\GitHub\vcpkg [master ≡]> .\vcpkg install sdl2 curl
The following packages will be built and installed:
    curl:x86-windows
  * libssh2:x86-windows
  * openssl:x86-windows
    sdl2:x86-windows
  * zlib:x86-windows
Additional packages (*) will be installed to complete this operation.
Building package sdl2:x86-windows...
Launching powershell failed or was denied when trying to fetch git

[2017-08-23 09:15] daef commented on #1521
I don't use antivirus software - and my colleague that uses bitdefender already contacted them. Sorry for the disruption :)

[2017-08-23 09:52] thierryba opened #1684 "building bzip2:x86-windows-static out of the box just fails"
I'm using visual studio 2015 express.
in config-x86-windows-static-rel.log, I can see

CMake Error at C:/github/vcpkg/scripts/buildsystems/vcpkg.cmake:32 (message):
  Unable to determine target architecture.
Call Stack (most recent call first):
  C:/github/vcpkg/downloads/cmake-3.9.1-win32-x86/share/cmake-3.9/Modules/CMakeDetermineSystem.cmake:94 (include)
  CMakeLists.txt:2 (project)

CMake Error

[2017-08-23 10:02] thierryba commented on #1684
ah it seems it is just because I had set CL=/MP to make my other builds fast.. And cmake does not like that..

[2017-08-23 10:11] thierryba commented on #1684
For the record it is not the only package that just fails like that.

[2017-08-23 14:06] randomVariable2 opened #1685 "hdf5:x86-uwp failing"
vcpkg version is version 0.0.84.

[code]

And in config-x86-uwp-rel-err.log:
[code]

[2017-08-23 14:31] HaochengLIU commented on #1637
There is a CMake [issue](https://gitlab.kitware.com/cmake/cmake/issues/17191) now. Add `chcp 65001` to local consol(using UTF-8 encoding) should be a work around solution.

[2017-08-23 16:28] alexkaratarakis commented on #1683
Installing latest git on your machine ([link](https://git-scm.com/download/win)) will avoid this issue altogether.

However, if you wish to investigate:
1) Open cmd (not powershell) in your vcpkg root.
2) Run:
`powershell -NoProfile -ExecutionPolicy Bypass -Command "scripts\fetchDependency.ps1 git"`

[2017-08-23 16:32] alexkaratarakis commented on #1673
Please try the latest version (0.0.84) and post the output of the failure so we can investigate.

[2017-08-23 16:40] alexkaratarakis commented on #1684
This might have something to do with the Express edition.
Does the default (x86-windows) work for you?

[2017-08-23 17:24] thierryba commented on #1684
Hi. No the non static one does not work either. It semés To be a problem
with and cmake based package.

Le 23 août 2017 6:40 PM, "Alexander Karatarakis" <notifications@github.com>
a écrit :

[2017-08-23 19:03] yamcenutzer commented on #1621
I see you closed this.
So it is the expected behaviour, that parsing a node effectively disables emitting?

[2017-08-23 20:19] thierryba commented on #1684
hmm I just tried something I had found on another GitHub issue and it worked: I commented PREFER_NINJA in the portfile.cmake. Is that a known issue?
And, is there a way to globally disable the PREFER_NINJA option?

[2017-08-23 20:26] Mixaill commented on #1684
It's probably #1660 bug. Do you use non-English Microsoft Visual Studio?

[2017-08-24 00:22] ras0219-msft commented on #1626
This is definitely true (unfortunately). However, I reason that because it's _in the user's project_, it's hopefully something they control and could change.

We could switch based on inside-vcpkg versus outside-vcpkg, but it really doesn't feel like this is the right solution since it should really affect both cases. As an aside, the fact that we pretend VS is a single configuration generator is

[2017-08-24 01:23] ras0219-msft commented on #1627
Completely agree, we shouldn't do that. Every checked-in library should work with every other checked-in library.

Another option would be to patch our copy of gl2ps exactly how VTK is patching it (assuming it is using the function definition from ~master). This approach might preclude us from updating to 1.4.0 however, which could be problematic if `gl2ps` is used outside VTK (I don't know the an

[2017-08-24 01:34] ras0219-msft commented on #1628
Hi @ian-wevr, thanks for posting your issue and sorry for the delay!

We've seen this issue before with certain versions of the Windows SDK. Could you update to the latest Vcpkg version, then run `.\scripts\getWindowsSDK.ps1 -verbose` and post the results?

[2017-08-24 01:39] ras0219-msft commented on #1674
Thanks for posting your issue!

By default, we pick the latest Windows SDK version installed on your machine. In this case, it looks like we've accidentally selected one which doesn't have the Desktop C++ component installed.

The easiest way to fix this is by launching the VS2017 installer and making sure that the optional "Windows SDK (10.0.xyz) for Desktop C++" component is selected in the righ

[2017-08-24 01:41] ras0219-msft commented on #1638
While the solution I've posted would work for your cases, I think that your proposed change will make for a better "by-default" experience. In parallel though, we _should_ improve the FAQ and I'd be delighted if you added that section to your PR.

[2017-08-24 01:42] ras0219-msft commented on #1644
@fcharlie I think this is most likely due to the codepage issue as well, so I'll close this as a duplicate for now. We can open a new issue if this is still a problem after we fix our codepage handling.

[2017-08-24 01:42] #1644 closed

[2017-08-24 01:44] ras0219-msft commented on #1631
Hi @t-sharp, thanks for posting your issue and sorry for the delay!

This is probably due to the codepage handling regression in CMake 3.9.0 (#1660). Could you try running `chcp 65001` in your console before invoking Vcpkg?

[2017-08-24 01:55] ras0219-msft commented on #1654
I see; you're right that this is a difficult and different case than normal.

Normally, we assume that tools are "identical" between debug and release and therefore always deduplicate to the release versions. They run out-of-process so the usual CRT restrictions don't apply.

However, since windeployqt.exe is actually trying to deploy DLLs it's not totally immune to debug vs release.

This _might_

[2017-08-24 01:56] fcharlie commented on #1660
@bradking Thanks, @ras0219-msft  Now ,Your need create a patch to fix `CMakeDetermineCompilerId.cmake`, not need rebuild cmake, or wait cmake 3.9.2.

https://gitlab.kitware.com/brad.king/cmake/commit/de9840d1b89481132ee128715506f6aee9d0277c

[2017-08-24 02:00] ras0219-msft commented on #1660
I think in parallel with the upstream CMake fix, we should look at just _always_ using `chcp 65001` internally. This will further improve build consistency between machines, ensuring that everyone is able to reproduce any errors easily.

[2017-08-24 02:01] ian-wevr commented on #1628
All good, vcpkg has already saved me hours of time, so if I have to muddle through the builds for a few projects by hand I still come out ahead!

10.0.16257.0

However, when I originally posted this I believe I was using Creator's Update (15063) SDK -- not 100% positive, but it was definitely a release version SDK. I was also using Visual Studio 15.2 and build tools 15.2 should that matter.

I jus

[2017-08-24 02:17] ArseniyShestakov commented on #1654
I can't give any useful feedback on ```qtdeploy.ps1``` since I didn't tried to integrate it. I would still prefer to not maintain Vcpkg specific code in our CMakeLists.txt since ```windeployqt``` (if working) should also be usable if someone decide to build our project with MinGW.

So I understand it's very low-priority issue, but Vcpkg would be a bit better if this eventually fixed.

[2017-08-24 05:17] ras0219-msft commented on #1628
Ok, I've pushed some changes in 1081778b which _might_ improve this situation[1]. Basically, instead of hardcoding a fixed number of versions, we'll just add the available ones, which should handle SDK upgrades much better in the future.

Could you pull this version and try once again? You shouldn't need to re-bootstrap vcpkg.

[1] https://github.com/Microsoft/vcpkg/blob/1081778b849da6c6412379b50c

[2017-08-24 06:33] t-sharp commented on #1631
Hello @ras0219-msft, your suggestion was to run `chcp 65001` before invoking Vcpkg and your suggestion worked. I successfully built gtk. Thank you for your help. Have a nice day!

[2017-08-24 07:07] thierryba commented on #1684
I'm using an english Visual Studio. I tried the workaround with no luck.

[2017-08-24 07:30] thierryba commented on #1684
For the record I've just tried to build openssl and it fails as well but this time in the logs I can see:

'cl' is not recognised as an internal or external command.

So it seems it has big problems finding the compiler...

[2017-08-24 07:44] thierryba commented on #1684
aha, I think I found something and it seems indeed related to having an express edition.
when I tried vcpkg env --debug I've seen that it tries to call vcvarsall amd64_x86 but that does not work on express. So I patched the code to call it with x86 and suddenly openssl builds fine as does bzip2.

Anything else you'd need from me?

[2017-08-24 08:19] icedream2linxi commented on #1609
I have also seen this error, did not appear again after building it again.

[2017-08-24 09:30] Mixaill commented on #1684
Working on it.

[2017-08-24 09:38] thierryba commented on #1684
Thanks a lot. I love vcpkg. It Will simplify a lot our build process on
windows.

Le 24 août 2017 11:30 AM, "Mikhail Paulyshka" <notifications@github.com> a
écrit :

[2017-08-24 09:53] Aqdus01 opened #1688 "opencv 3.2.0 installation Errors on ubuntu 16.04"
Hi
I am new user of Ubuntu.  I am installing cuda8.0.,  cudnn5.1,  opencv3.2.0, torch, lua and other dependencies on system for deep learning applications. While installing openCV3.2 i got this error. I don't know why is it so I am asking your help to solve that problem.

 Configuring incomplete, errors occurred!
See also "/home/chaudhary/opencv-3.2.0/build/CMakeFiles/CMakeOutput.log".
See also "/

[2017-08-24 09:57] arthur-tacca opened #1689 "Error while building openssl: 'rc' is not recognized as an internal or external command"
I ran this command:

     vcpkg install --triplet x64-windows openssl

But the build failed with this output:

    The following packages will be built and installed:
        openssl:x64-windows
    Building package openssl:x64-windows...
    -- CURRENT_INSTALLED_DIR=C:/vcpkg/installed/x64-windows
    -- DOWNLOADS=C:/vcpkg/downloads
    -- CURRENT_PACKAGES_DIR=C:/vcpkg/packages/openssl_x64-windows

[2017-08-24 10:28] Mixaill commented on #1684
Pleasy try to rebuild vcpkg.exe from #1690

[2017-08-24 10:41] Mixaill commented on #1688
Looks like OpenCV bugtracker is the most suitable place for this bugreport 😉

https://github.com/opencv/opencv/issues

[2017-08-24 10:43] Aqdus01 commented on #1688
Sure I check there as well.  But if you have seen the errors can you guide me ?

[2017-08-24 11:00] Mixaill commented on #1688
It's a HUGE offtopic for vcpkg but try to set up `-DWITH_V4L=OFF` flag for cmake

[2017-08-24 11:08] Aqdus01 commented on #1688
i have done with it  (-DWITH_V4L=OFF)
 but still i am having errors like ..
Performing Test HAVE_CXX_WNO_UNNAMED_TYPE_TEMPLATE_ARGS - Failed
-- Performing Test HAVE_C_WNO_UNNAMED_TYPE_TEMPLATE_ARGS
-- Performing Test HAVE_C_WNO_UNNAMED_TYPE_TEMPLATE_ARGS - Failed
Performing Test HAVE_CXX_WSTRICT_PROTOTYPES - Failed

-- Checking for module 'gtk+-3.0'
--   Found gtk+-3.0, version 3.18.9
-- Checking

[2017-08-24 11:13] Aqdus01 commented on #1688
Thanks for prompt answers, I am also looking at said forum but still could not find solution

[2017-08-24 11:31] ras0219-msft commented on #1688
Closing as off topic, please seek further help in the opencv mailing list and issue tracker!

[2017-08-24 11:31] #1688 closed

[2017-08-24 11:32] Mixaill commented on #1688
There is no errors in this log. It's only misssing optional dependencies and compiler features.

[2017-08-24 11:34] Aqdus01 commented on #1688
https://github.com/opencv/opencv/issues/8372
I have pasted here full error report. How can i make it workable :(

[2017-08-24 12:09] Mixaill commented on #1660
@ras0219-msft This will also fix various display problems, such as non-English text corruption (for example, in private ports).

[2017-08-24 12:13] lazyhamster opened #1691 "Problem with MSYS2"
I'm trying to install ffmpeg package but it keeps failing.

Judging by the log files problem is with MSYS2 updating, GPG doesn't check signatures properly.

Log files are attached (changed extension cause GitHub refuses to accept .log extension).
[build-x86-windows-rel-err.log.txt](https://github.com/Microsoft/vcpkg/files/1248747/build-x86-windows-rel-err.log.txt)
[build-x86-windows-rel-out.log.tx

[2017-08-24 13:32] vmaks commented on #1644
@fcharlie Excuse me for delay with answer.
Could you tell me how to check console Codepage?

[2017-08-24 13:43] fcharlie commented on #1644
@vmaks Open Console, type `chcp`, will show console codepage

[2017-08-24 13:47] vmaks commented on #1644
Console Codepage:
```Active code page: 866```

[2017-08-24 13:48] Mixaill commented on #1644
execute
[code]
and try to install port

[2017-08-24 14:20] paulsapps commented on #1449
I think you are just after the string "x86" or x64" here?

[2017-08-24 15:11] vmaks commented on #1644
@Mixaill yes, it works, thank you very much!

[2017-08-24 15:40] ad34 opened #1694 "generate pdb file"
Sorry to post an issue, but I cannot find how to generate .pdb files with vcpkg. is it possible? I m using openssl in my project and warnings when my project is linked

2>libeay32.lib(cryptlib.obj) : warning LNK4099: PDB 'lib.pdb' was not found with 'libeay32.lib(cryptlib.obj)' or at '***\lib.pdb'; linking object as if no debug info

[2017-08-24 18:59] manncyam opened #1696 "libjpeg-turbo:x64-windows"
While trying to install opencv
[code]
I got an error due to
Error: Building package libjpeg-turbo:x64-windows failed with: BUILD_FAILED
Package: libjpeg-turbo:x64-windows
Vcpkg version: 0.0.84-a3e607c8f1b759fee75ef5dd7b420ef7df48da1a

[2017-08-24 19:10] alexkaratarakis commented on #1648
@Mixaill
Please try the branch CreateProcess and see if it works for you.
https://github.com/Microsoft/vcpkg/tree/CreateProcess

[2017-08-24 20:11] Mixaill commented on #1696
-Try to execute `chcp 65001` before `vcpkg` command
-Attach logs from `[VCPKG_DIRECTORY]/buildtrees/opencv`

[2017-08-24 20:33] Mixaill commented on #1648
@alexkaratarakis Thanks, it works.

[2017-08-24 21:16] alexkaratarakis commented on #1648
Merged in master (26c8cb56afe89bf72e50b4490189a58de1d3f7cd).

[2017-08-24 21:16] #1648 closed

[2017-08-25 00:11] ian-wevr commented on #565
I would also find this useful, but for my case x64.

[2017-08-25 00:12] ian-wevr commented on #1628
Great, looks like it works!

[2017-08-25 03:58] fishfreetaken commented on #1683
Thanks! I update my git and it works!
but when building libuv x64, get a building error like this:

Error: Building package libuv:x64-windows failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `.\vcpkg update`, then
submit an issue at https://github.com/Microsoft/vcpkg/issues including:
  Package: libuv:x64-windows
  Vcpkg version: 0.0.84-unknownhash

[2017-08-25 08:01] thierryba commented on #1684
works like a charm.

[2017-08-25 08:31] thierryba opened #1700 "Failing to build zeromq as static lib with dynamic CRT"
Hi,

For smaller libs, what I'm currently using is static libs but linked against the dynamic CRT (MD/MDd).
So I tried ti create a triplet like that:
set(VCPKG_TARGET_ARCHITECTURE x86)
set(VCPKG_CRT_LINKAGE dynamic)
set(VCPKG_LIBRARY_LINKAGE static)

but then if I try to build zeromq, it fails saying that the lib has "invalid art linkage". The lib is linked against MT/MTd.

Is it possible at all t

[2017-08-25 08:56] thierryba commented on #1700
For the record it seems to work fine for simple things like lib or bzip2... So it must be specific to zeromq.

[2017-08-25 11:53] cenit opened #1701 "[freeglut] static linking is not working"
Machine: Windows 10 Creators Update, fully up to date, vcpkg at the latest commit, VS 15.3.2 (very latest release)
I installed freeglut (both dynamic and static) and in fact if I do a .\vcpkg.exe list I have
[code]
Using CMake, if I ask for
[code]
using the static x86 triplet
[code]
it fails saying that it cannot find the GLUT_glut_LIBRARY, while it works ok for the dynamic linking.

I think that

[2017-08-25 17:35] jasjuang commented on #1609
@icedream2linxi I tried rebuilding it 3 times and still see the error... What did you change before building it again?

[2017-08-25 19:23] designfusionjb opened #1704 "cannot install opencv"
Command:
c:\vcpkg> .\vcpkg.exe install opencv

Produces error:
Contains invalid characters. Only alphanumeric lowercase ASCII characters and dashes are allowed

Other packages install without any error.

[2017-08-25 20:37] lazyhamster opened #1705 "jxrlib does not build because of hash mismatch (again)"
I'm trying to build freeimage and one of the dependencies - jxrlib - failed to build.
Error message indicates SHA512 hash mismatch of the downloaded archive.

I've found issues #1669 with the same problem.
However in my case downloaded file has same hash as it was before the fix for #1669.

When I change hash in portfile.cmake build completes without successfully.

Could maybe somebody else try to

[2017-08-25 22:35] ras0219-msft commented on #1705
I get the same hash listed as your "actual" hash.

[2017-08-26 00:35] #1631 closed

[2017-08-26 00:35] #1660 closed

[2017-08-26 00:36] alexkaratarakis commented on #1631
Please report if the latest master fixes things for you.

[2017-08-26 00:36] alexkaratarakis commented on #1644
Please report if the latest master fixes things for you.

[2017-08-26 00:36] alexkaratarakis commented on #1660
Please report if the latest master fixes things for you.

[2017-08-26 00:41] jasjuang commented on #1637
Solved by commit 67b9475

[2017-08-26 00:41] #1637 closed

[2017-08-26 01:18] alexkaratarakis commented on #1704
Please try running:
`.\vcpkg.exe install opencv --debug`

[2017-08-26 02:04] atkawa7 commented on #1514
@jasjuang @ras0219-msft Finally found the problem.  Try installing  `ctemplate` first and then `glog` causes the error or vice versa. The error is caused by both projects using similar definitions and headers. See this line.

https://github.com/OlafvdSpek/ctemplate/blob/master/src/windows/config.h#L19

[code]

and  on this https://github.com/google/glog/blob/master/src/windows/config.h#L4

[code]

[2017-08-26 02:16] jasjuang commented on #1514
Wow that's a measure blunder by google. They even mentioned in their coding guide https://google.github.io/styleguide/cppguide.html that macros should be avoided whenever possible.

Maybe you can file an issue on both glog and ctemplate to ask them to fix it?

[2017-08-26 03:28] icedream2linxi commented on #1609
I manually remove the /utf-8 in vcpkg_configure_cmake.cmake.

[2017-08-26 03:37] icedream2linxi commented on #1609
Building environment:
OS: Windows 10 Enterprise Version 1703 x64  Enlish
Code Page: 936
VS: Visual Studio Enterprise 2015 Version 14.0.25431.01 Update 3 English
CUDA: Version 8.0.60
vcpkg: 57d078e8d1c5f5284d88e79600aa61fa06530ac4
cmake: 3.9.1-win32-x86

[2017-08-26 05:00] feicong commented on #1593
·vcpkg install lz4· new version download xxx.tar.gz instead of xxx.zip, it runs ok now.

 but `vcpkg install rapidjson:x86-windows-static` still returns the same error message.

[2017-08-26 06:06] t-sharp commented on #1631
Hello @alexkaratarakis, yes; the latest master fixed this issue for me. Thank you and have a nice weekend.

[2017-08-26 07:38] #1684 closed

[2017-08-26 07:40] ras0219-msft commented on #1696
This should be fixed in the latest master. Please let us know if you still experience the problem!

[2017-08-26 13:37] icedream2linxi commented on #1609
Today, I rebuilding it 2 times. No error. 😿

[config-x64-windows-dbg-out.txt](https://github.com/Microsoft/vcpkg/files/1253686/config-x64-windows-dbg-out.txt)
[config-x64-windows-rel-out.txt](https://github.com/Microsoft/vcpkg/files/1253687/config-x64-windows-rel-out.txt)

[2017-08-26 14:37] icedream2linxi commented on #1609
I building it on another computer. No error.

[config-x64-windows-dbg-out.txt](https://github.com/Microsoft/vcpkg/files/1253735/config-x64-windows-dbg-out.txt)
[config-x64-windows-rel-out.txt](https://github.com/Microsoft/vcpkg/files/1253736/config-x64-windows-rel-out.txt)