[2020-02-26 04:52] timautry commented on #10199
@PhoebeHui

To follow-up, I tested the download of **wordnet[core,dbfiles]** with and without using the **--x-use-aria2** vcpkg install options, on a clean, just cloned and fresh compiled vcpkg, here is the result:

1. **using --x-use-arias2** and as stated by @curoky, as follows:
    - the 3 log files are created but are subsequently deleted before the install process completes. Maybe the process

[2020-02-26 05:27] timautry commented on #10219
@akilisosa

vcpkg does NOT modify system environment variables, such as PATH.
That said:
  - it requires one to know where the vcpkg instance was installed
  - the current directory must be the **_vcpkg-root_** location (as vcpkg would not be able to find it's files and directory structure). In other words, vcpkg was not designed to execute from just any directory/folder on the installed machine

[2020-02-26 05:31] timautry commented on #10217
@pablanche vcpkg is not designed to work with VS CODE or CODE RUNNER plugin to VS CODE.
Prerequisites:

Windows 10, 8.1, 7, Linux, or MacOS
Visual Studio 2015 Update 3 or newer (on Windows)
Git
gcc >= 7 or equivalent clang (on Linux)
Optional: CMake 3.12.4

[2020-02-26 05:35] JackBoosY commented on #9585
@jubaer-ad
[code]

[2020-02-26 06:14] hotbroker commented on #10193
well,if i do it in this way,I know how it works。but I remove & install this lib  after changing source code , didnt the vcpkge will release a new package of source code again?

so eventually it may not work,I tested this on zlib

[2020-02-26 06:59] LilyWangL commented on #10186
Thanks for posting this issue. Port entt has been updated to v3.3.0, you can update vcpkg and rebuild it.

[2020-02-26 06:59] #10186 closed

[2020-02-26 07:31] FullyArticulate opened #10220 "zlib build failure"
**Host Environment**
- OS: Windows 10.0.18363
- Compiler: VS Community 2017 15.9.20

**To Reproduce**
.\vcpkg.exe install zlib

**Failure logs**
`PS C:\dev\vcpkg> .\vcpkg.exe install zlib
Computing installation plan...
The following packages will be built and installed:
    zlib[core]:x86-windows
Starting package 1/1: zlib:x86-windows
Building package zlib[core]:x86-windows...
-- Using cached C:/d

[2020-02-26 07:58] nareshn2003 opened #10221 "Boost RuntimeLibrary missmatch"
Hi

I am trying to build 64bit dll in my project and using boost static lib to my project using CMake , it builds project fine but compilers gives me this error.

1>boost_thread-vc140-mt-gd.lib(tss_pe.obj) : error LNK2038: mismatch detected for 'RuntimeLibrary': value 'MTd_StaticDebug' doesn't match value 'MDd_DynamicDebug' in 1obj
1>boost_thread-vc140-mt-gd.lib(thread.obj) : error LNK2038: mismat

[2020-02-26 08:06] aronyu79 commented on #9917
I have the same failure with x64-uwp

[2020-02-26 08:10] JackBoosY commented on #10193
@hotbroker You may need to patch to complete these tasks, and use the patch in `portfile.cmake`.
Since I'm not sure if this feature is officially supported, I recommend against using it as a feature.

[2020-02-26 08:21] NancyLi1013 commented on #9949
It might be something wrong with your network.
Please put the attachment (yasm-1.3.0.6.g1962.exe) to _c:/vcpkg/vcpkg/downloads/_  folder and try to build it again.

[yasm.zip](https://github.com/microsoft/vcpkg/files/4254232/yasm.zip)

[2020-02-26 08:23] PhoebeHui commented on #10213
@beckylum0216, thanks for reporting this issue!

Could you find bullet with following code instead? I will update the usage.
find_package(Bullet CONFIG REQUIRED)

[2020-02-26 08:29] JackBoosY commented on #10217
@strega-nil Any plain to support VS Code?

[2020-02-26 08:48] NancyLi1013 commented on #10200
@Voskrese

Thanks for your update and info.
If the new version for `jom `is released, please feel free to reopen this or open a new issue.

[2020-02-26 08:48] #10200 closed

[2020-02-26 09:04] itayzafrir opened #10223 "[gtk] update to <3.24.14>"
Library name:
gtk

New version number:
3.24.14

Other information that may be useful (release notes, etc...)
Please update to the latest 3.24.14 release (https://github.com/GNOME/gtk/releases)

[2020-02-26 09:04] Neumann-A commented on #10209
@JackBoosY : Since I don't have an OSx system I can not say a lot about this error. But according to the error message:
`Sorry, "rcc" can not be run on this version of macOS. Qt requires macOS 10.15.0 or later, you have macOS 10.14.4.`

I qmake/configure somehow detects the wrong SDK version while building.
On the other hand the logic I implemented within the portfile detected 10.15:
`-- Detected

[2020-02-26 09:06] #10223 closed

[2020-02-26 09:07] itayzafrir opened #10224 "[gtk] update to <3.24.14>"
Library name:
gtk

New version number:
3.24.14

Other information that may be useful (release notes, etc...)
Please update to the latest 3.24.14 release (https://github.com/GNOME/gtk/releases)

[2020-02-26 09:12] hotbroker commented on #10193
老铁，你是中国人啊？哈。按你那么说的，我要去修改cmake了

[2020-02-26 09:13] aronyu79 opened #10225 "libcurl build failure"
**Host Environment**
- OS: Windows 10
- Compiler: MSVC

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install curl:x64-uwp`

**Failure logs**
Computing installation plan...
Warning: qualifier has changed meaning recently:
   windows
Warning: qualifier has changed meaning recently:
   windows
The following packages will be built and installed:
    curl[core,non-http,ssl,winssl]:x64-uwp

[2020-02-26 09:19] aronyu79 commented on #10225
also tried .\vcpkg install curl[core,openssl]:x64-uwp which builds openssl-windows

[2020-02-26 09:20] JackBoosY commented on #10193
@hotbroker 个人的修改我建议打patch，基准目录是VCPKG_PATH/buildtrees/curl/url-*，以此为基准用`git init .`来打补丁，然后把补丁放到VCPKG_PATH/ports/curl里面。
以后如果更新版本也没关系，直接revert `portfile.cmake`然后`git pull`，最后把补丁加到`portfile.cmake`里面就行了。
不过有可能更新导致你打补丁的文件修改了，从而使补丁失效。这时候你得重新打一次。

[2020-02-26 09:20] #10193 closed

[2020-02-26 09:22] hotbroker commented on #10193
目前看应该是只能改这里了。暂时先这样吧，谢谢了。cmake还不是很会看，里面有些变量都不知道哪 来。

[2020-02-26 10:10] theoractice commented on #10139
Today I gave it another try:
`vcpkg install opencv[contrib,ffmpeg]`
And I encounted the same failure notice as in #10195:
[code]
However the build process continued and succeeded at last.
I am not using Administrator privilege to run the build command so that may not be the cause.

[2020-02-26 10:38] NancyLi1013 commented on #10145
Hi @ZMZ91
Does this issue exist on your local?
Please let me know if you have any other questions about this.

[2020-02-26 10:59] ThorThorsen commented on #10209
Thanks for you comment, it gave me enough clues to figure it out.

In "portfile.cmake" the command "xcrun --show-sdk-version" is executed to determine the macOS sdk version. The QMAKE_MACOSX_DEPLOYMENT_TARGET environment variable is set with this value.

However, this command only returns the macOS sdk version number, which is not necessarily the version of the currently installed OS. In my case i

[2020-02-26 11:28] Frank-Dz opened #10227 "Error: Timeout problem."
Whenever I try to install some packages. Vcpkg can not successfully download the package. I am using a VPN via clash. Is there a method to allow us to modify the proxy or other network settings?

Best,
Frank

[2020-02-26 11:38] cenit commented on #10114
Maybe I found a connection between ports that require folder created manually that otherwise fail. Maybe.

It seems they are all those that are still outputting a warning message about missing ABI infos that fail. May it help you, @ras0219-msft ?

[2020-02-26 11:59] PhoebeHui commented on #10206
@supertransformer, thanks for your updates, could you add the failure message? the vedio is not clear.

[2020-02-26 12:07] eix128 opened #10228 "[sqlite , sqlcipher and OpenCL-HPP ] adding to port"
it can be good if you can add
OpenCLTM API C++ bindings (cl.hpp and cl2.hpp)
https://github.com/KhronosGroup/OpenCL-CLHPP

sqlcipher
https://github.com/sqlcipher/sqlcipher

sqlite
https://github.com/sqlite/sqlite

FOR sqlcipher how to windows:
https://tribal1012.tistory.com/267

[2020-02-26 12:37] akilisosa commented on #10219
@timautry
Thank you so much! I realize if I had a better understanding of the command line I wouldn't have run into this problem. All those commands worked. I saw three or four other posts similar to this one. Maybe it would be helpful to include information about this in the readme file.

[2020-02-26 12:37] PhoebeHui commented on #10199
@timautry, very appreciate for helping diagnose this issue!

Confirmed, it should be a vcpkg bug.
PS E:\vcpkg\clean\vcpkg> ./vcpkg install nlohmann-json --x-use-aria2
Computing installation plan...
The following packages will be built and installed:
    nlohmann-json[core]:x86-windows
Starting package 1/1: nlohmann-json:x86-windows
Building package nlohmann-json[core]:x86-windows...
A suitable ver

[2020-02-26 12:42] akilisosa commented on #10219
I see that the actual problem is that I didn't read the documentation thoroughly enough because you do have an examples page that goes over this.  My mistake.

[2020-02-26 12:45] PhoebeHui commented on #10135
Great to hear that!

[2020-02-26 12:45] #10135 closed

[2020-02-26 13:09] eix128 opened #10229 "vcpkg install boost-compute doesnt work on linux"
Hi , i have tried to used boost-compute on linux.
cmake cant find the library even i install on linux with command :

vcpkg install boost-compute

but same library works on windows nice.
There is some configuration problem on linux i think.

I had to manually install boost-compute with github to solve the issue on linux.

[2020-02-26 13:56] rglbssw opened #10230 "libffi:x86-windows crashes since update to version 3.3 on february 7th"
**Describe the bug**
I install gtkmm:x86-windows for use in an application. everything worked fine. But with commit 7d4227f02e445b0a29f8c1ce3258b57d60b71cfe libffi was upgraded to version 3.3. Since then my application crashes on every mouse click when returning from libffi assembler code (see debugger screenshot under "Failure Logs" below).
I assume, it has to do with the target x86-windows. The

[2020-02-26 14:15] itayzafrir commented on #10230
I'm also having a similar issue but with GTK:

OS: Windows 10 x64
GTK: 3.22.2-2

Everything works fine in a release build, but when running a **debug** build I get a runtime error as soon as the application starts up.
The error is in function `ffi_call_win64` which is called from `ffi_call_int`.

Screenshot:
![Capture](https://user-images.githubusercontent.com/30868205/75352887-24528700-58b3-11ea-

[2020-02-26 14:23] timautry commented on #10219
@akilisosa - thank you for the feedback. I am just someone who volunteers to help when I see issues I have experienced in the past few month. I am in no way able to make decide how vcpkg is documented, enhanced and/or maintained. I will cc this to those I have seen who do most of the trouble shooting, maintenance and enhancing :)
cc: @JackBoosY @NancyLi1013 @PhoebeHui

[2020-02-26 14:25] timautry commented on #10199
You are welcome @PhoebeHui. Thanks for all the hard work everyone is doing :)

[2020-02-26 14:33] timautry commented on #10192
You are most welcome @NancyLi1013 :)

[2020-02-26 14:56] eix128 opened #10231 "[portaudio] build failure"
**Host Environment**
- OS: Windows 10 x64
- Compiler: MSVC

**To Reproduce**
Steps to reproduce the behavior:
vcpkg install portaudio:x64-windows-static
vcpkg install portaudio:x64-windows
vcpkg install portaudio:x86-windows
tried with cmake params:
-DCMAKE_TOOLCHAIN_FILE="D:/repo/vcpkg/scripts/buildsystems/vcpkg.cmake" -DCMAKE_BUILD_TYPE=Release -DCMAKE_CL_64=1 -DVCPKG_TARGET_TRIPLET=x64-windows-

[2020-02-26 15:24] Noemata commented on #10072
Progress?

[2020-02-26 15:54] pablanche commented on #10217
Thanks for the clarification timautry.
If I may clarify, VS CODE is more of an editor, so there should be no conflict there. CODE RUNNER is compiling and running the code through gcc (I have gcc 9.2.1). I also have Git 2.20.1. So I am still puzzled.

[2020-02-26 16:48] timautry commented on #10231
@eix128

Several ways to go here,

1. There should be a copy of the files created in the _vcpkg-root_/packages directory/folder as follows:
- D:\repo\vcpkg\packages\portaudio_x64-windows
- D:\repo\vcpkg\packages\portaudio_x64-windows-static
- D:\repo\vcpkg\packages\portaudio_x86-windows

You can copy them back to their original locations based on the hierarchy found within each package directory/f

[2020-02-26 17:09] timautry commented on #10217
@pablanche
cc:  @strega-nil  @JackBoosY

vcpkg has built-in integration processes as follows:
 - on windows Visual Studio:
   - vcpkg integrate install - for system wide integration for all projects
   - vcpkg integrate project - which creates a nupkg to integrate vcpkg into project individually
 - on linux/macOS, cygwin, mingw:
   - vcpkg integrate bash - creates a script in the home directory ex

[2020-02-26 17:52] mikhael4ever commented on #10024
Hello, @JackBoosY, what i need to change ?

I have changed red by green one #10043  in files chanded:

`CONTROL and md.patch from C:\vcpkg\ports\libmariadb`

But nothing changed, same error:

[code]

[2020-02-26 18:27] AjitDingankar commented on #10218
Thanks, Nancy! Tried your suggestion, and it went past boost-thread but got similar problems with
boost-phoenix now; so will retry similar approach.

[code]

[2020-02-26 18:52] Frank-Dz opened #10232 "[zlib:x64-windows] build failure"
**Host Environment**
- OS: Windows
- Compiler: VS15.3 x64

Steps to reproduce the behavior:
`./vcpkg.exe install zlib:x64-windows `

**Failure logs**

Computing installation plan...
The following packages will be built and installed:
    zlib[core]:x64-windows
Starting package 1/1: zlib:x64-windows
Building package zlib[core]:x64-windows...
-- Using cached C:/local/vcpkg/downloads/zlib1211.tar.gz

[2020-02-26 19:13] mikhael4ever commented on #10024
I downloaded all again and now i get this error, when i try to install it again:

[code]

[2020-02-26 19:27] OlafvdSpek commented on #10024
@mikhael4ever What's the error / problem?

[2020-02-26 19:40] mikhael4ever commented on #10024
Hello,

Whats that mean ?

`The package cryptopp:x64-windows provides CMake targets:

    find_package(cryptopp CONFIG REQUIRED)
    target_link_libraries(main PRIVATE cryptopp-static)

The package pugixml:x64-windows provides CMake targets:

    find_package(pugixml CONFIG REQUIRED)
    target_link_libraries(main PRIVATE pugixml)`

[2020-02-26 19:42] OlafvdSpek commented on #10024
It explains how you can use those packages if you're using cmake.

[2020-02-26 19:48] mikhael4ever commented on #10024
Oh, ok ty!

I get this one:

[code]

Do you know how can i do that:

`CMake projects should use: "-DCMAKE_TOOLCHAIN_FILE=C:/vcpkg/scripts/buildsystems/vcpkg.cmake"`

[2020-02-26 21:19] AjitDingankar commented on #10218
Went through similar exercise for boost-spirit, but it doesn't work for that case! :-(
The errors are shown below:
[code]

[2020-02-26 21:28] Mikea15 opened #10233 "How do I import PhysX into a cmake project?"
I'm trying to find out what is missing from the config files, but I can't seem to build successfully with PhysX, with a cmake project.

Using a VS Solution works fine tho.

Anyone managed to include/use find_package and link_targets?

Cheers.

[2020-02-26 21:34] Lunodzo commented on #9328
@ujjwaltirkey me too here, @pbipin can you help please
![image](https://user-images.githubusercontent.com/22165685/75390170-d7919f00-58f8-11ea-982e-cf3c8b815d2c.png)

[2020-02-26 21:36] drescherjm commented on #9328
Try running it from a Visual Studio command prompt. Which version of Visual Studio do you have installed?

[2020-02-26 21:58] strega-nil commented on #7540
Hey @mediabuff, you should be able to update vcpkg and use cpprestsdk now thanks to @BillyONeal and @JackBoosY 😄

[2020-02-26 21:58] #7540 closed

[2020-02-27 02:42] JackBoosY commented on #10024
@mikebmcl That's not a error, it's a usage message.
For integration, please see [documentation](https://github.com/microsoft/vcpkg/blob/master/docs/users/integration.md).

[2020-02-27 02:42] JackBoosY commented on #10024
Close this issue via #10177 merged.

[2020-02-27 02:42] #10024 closed

[2020-02-27 02:56] JackBoosY commented on #9328
@Lunodzo Please use powershell to build vcpkg.

[2020-02-27 03:02] JackBoosY commented on #10225
[code]

[2020-02-27 03:23] Frank-Dz commented on #10227
This problem has been solved by setting up a reasonable proxy for git.

[2020-02-27 03:23] #10227 closed

[2020-02-27 03:27] NancyLi1013 commented on #10218
Hi @AjitDingankar

Could you please try to use `powershell `to build this?

[2020-02-27 03:57] Charles-one commented on #4355
cd /Library/Developer/CommandLineTools/Packages/
no  macOS_SDK_headers_for_macOS_10.14.pkg  file

[2020-02-27 04:43] JackBoosY commented on #10233
PhysX does not support exporting cmake files.
Therefore, you need to use `find_path` and` find_library` to use this port.

[2020-02-27 04:54] LilyWangL commented on #10072
Hi, @Noemata, thanks for posting this issue. The port abseil doesn't support target UWP. And opencv[contrib] doesn't depends on abseil.

[code]

[2020-02-27 05:16] NancyLi1013 commented on #10232
Hi @Frank-Dz
Thanks for posting this issue.
Could you please update your Visual Studio to the latest version and try to build it again?

[2020-02-27 05:19] Frank-Dz commented on #10232
Yep. Now I successfully installed vcpkg with vs17. Yet all the materials I read told me that vcpkg can support vs15.3 and vs17. But it didn't work well for vs15.3. Is there something wrong?

Best,
Frank

[2020-02-27 05:55] NancyLi1013 commented on #10232
Please help confirm if you have installed English language pack in Visusal Studio 15.3.

Thanks.

[2020-02-27 05:56] Frank-Dz commented on #10232
Sure.

[2020-02-27 06:10] NancyLi1013 commented on #10220
Hi @FullyArticulate

Thanks for posting this issue.
I cannot reproduce this issue on my local.
The problem maybe here.

` The C compiler identification is unknown`
Could you please try to run cmake as Admin and then try to build it again?

[2020-02-27 06:44] JackBoosY commented on #10225
Hi @aronyu79, thanks for reporting this issue.
Since curl some features doesn't support uwp, please use command `./vcpkg install curl[core]:x64-uwp` to build curl.

Thanks.

[2020-02-27 06:52] JackBoosY commented on #10193
cmake自带一些变量，如果不是`VCPKG_`开头的或者在source中搜不到，可以去cmake官网搜一下。

[2020-02-27 06:53] ZMZ91 commented on #10145
Thank you @NancyLi1013 and @Neumann-A for the responses. When I use following to find simdjson
[code]
It failed when set CMAKE_BUILD_TYPE to debug, but succeeded when set CMAKE_BUILD_TYPE to release.
So I really doubt that the lib under debug is not available. And is there any way that vcpkg controls using different CMAKE_BUILD_TYPE for a specific package? Cause you know it may be not a good solut

[2020-02-27 07:11] PhoebeHui commented on #10169
@ayermolo, thanks for reporting this issue!

Could you provide us repro code and repro steps?

[2020-02-27 07:22] mikhael4ever commented on #10024
ok, ty, ill check it right now! :D

[2020-02-27 07:41] FullyArticulate commented on #10220
I tried it as root with the same results.

I had a co-installed older version of cmake which I removed, then re-cloned vcpkg and built. vcpkg installed a portable cmake, and I got the same result.

I then installed the latest cmake (3.17), re-cloned vcpkg and built. No more portable cmake installed, but the same result.

I did notice a warning towards the top of the config-x64-windows-out.log:

cm

[2020-02-27 08:14] aronyu79 commented on #10225
Hi Jack! Thanks for clarifying. I am not totally sure what I am doing but if I want curl with openssl I did manage to point out the openssl-uwp package in the CONTROL file. This seems to default to the openssl package if I don't change it. Any comments? will core use openssl-uwp?

[2020-02-27 08:34] LilyWangL commented on #10181
Hi @kreuzerkrieg, thanks for posting this issue. I can't reproduce this issue locally. I installed hyperscan successfully on Linux 18.04.2 with the latest VCPKG. My gcc version is 7.4.0. Did you do some changes before building hyperscan?

[2020-02-27 08:37] LilyWangL commented on #10149
@DA40 I can't repro this issue, from your log, it failed with following failure, there is a similar issue #9554, could you double check if you have similar permission issue?
[code]

[2020-02-27 08:45] Pospelove commented on #8748
It also can be reproduced with x86-windows triplet.

[2020-02-27 08:46] xarthurx commented on #8811
Will this issue be fixed any longer?

[2020-02-27 08:51] LilyWangL commented on #10142
Hi @mediabuff, thanks for posting this issue. Could you please provide the reproduce steps and error log?

[2020-02-27 09:20] LilyWangL commented on #10195
@RollingIsland, it seems you solved the issue, feel free reopen this issue if it still be a problem for you.

[2020-02-27 09:20] #10195 closed

[2020-02-27 09:34] NancyLi1013 commented on #10145
@ZMZ91 thanks for your update.
Could you please post the error info when you build debug type?

[2020-02-27 09:37] kreuzerkrieg commented on #10181
it is dev machine, things definitely were done to it, like installing stuff which may affect the behavior. Worth to mention there is gcc/7/8/9 install and clang from ubuntu stock version to clang 11 devel

[2020-02-27 10:20] aronyu79 commented on #10225
We put up a PR here, what do you think?
https://github.com/microsoft/vcpkg/pull/10235

[2020-02-27 10:27] NancyLi1013 commented on #10232
Sorry, I am not sure what happened on your VS 2015 update3.
So I have no idea about this.

[2020-02-27 10:35] #10232 closed

[2020-02-27 10:42] beckylum0216 commented on #10213
Updated CMake with the new configuration. It now works.

[2020-02-27 10:42] #10213 closed

[2020-02-27 11:02] kreuzerkrieg commented on #10181
The same behavior is confirmed on "clean" machine
dpkg install log available [here](https://1drv.ms/u/s!AvKB-sqTwjdHhp9bXyP3kaaN9fjdUA?e=pjZuLA)
Date of interest from 24 Feb and later
I bet on gcc 9.2

[2020-02-27 12:13] EvgenyVRN opened #10237 "[New Port Request] PythonQt"
Library name: PythonQt

Library description: PythonQt is a dynamic Python binding for the Qt framework. It offers an easy way to embed the Python scripting language into your C++ Qt applications.
The focus of PythonQt is on embedding Python into an existing C++ application, not on writing the whole application completely in Python.
If you are looking for a simple way to embed Python objects into y

[2020-02-27 12:58] BenKey commented on #8748
I found the blocked by upstream conclusion to be unsatisfactory. I found a solution in my fork but I did not do a pull request because of the aforementioned blocked by upstream conclusion. It turns out that all you need to do is define the preprocessor symbol WINDOWS_IGNORE_PACKING_MISMATCH while building the project.

I did this in [commit de00bf0f7f921c5ca589b13a96c0389ef843f033](https://github.

[2020-02-27 13:03] elviiix opened #10238 "[7zip] Version info resource not included and problem with static lib"
1) CMakeLists.txt for 7zip doesn't include rc file, so resulting dll lacks VERSION resource. resource.rc should be added.

diff --git a/ports/7zip/CMakeLists.txt b/ports/7zip/CMakeLists.txt
index 7e93a3bf0..eca6aa3aa 100644
--- a/ports/7zip/CMakeLists.txt
+++ b/ports/7zip/CMakeLists.txt
@@ -311,6 +311,7 @@ add_library(7zip
     ${SRC_CRYPTO}
     ${SRC_C}
     CPP/7zip/Archive/Archive2.def
+    CP

[2020-02-27 13:13] PhoebeHui commented on #10229
@eix128, I checked that boost-compute only extract the source and install the headers to share folder in vcpkg, so there is no library on windows and Linux.

[2020-02-27 13:16] ZMZ91 commented on #10145
@NancyLi1013 please check the log below
[code]

[2020-02-27 13:20] PhoebeHui commented on #9982
@dharminec, feel free to reopen this issue if it still be a problem for you.

[2020-02-27 13:20] #9982 closed

[2020-02-27 13:30] eix128 commented on #10229
so how to use it on linux ?
it works fine on windows

[2020-02-27 13:32] eix128 opened #10239 "[New Port Request] whereami"
Library name:

Library description: Getting binary or exe's path that works on many platforms

Windows
Linux
Mac
iOS
Android
QNX Neutrino
FreeBSD
NetBSD
DragonFly BSD
SunOS

Source repository URL:

https://github.com/gpakosz/whereami

[2020-02-27 14:02] olafurw commented on #1254
At least put it as a part of your bootstrap flow. Ask the question what default you want or print out a help message about this.

This was not a nice thing to discover an hour after installing and setting up a project.

[2020-02-27 14:33] Christsnatcher commented on #8748
@BenKey:

I would definitely appreciate a proper solution for this issue, thank you very much!

[2020-02-27 15:37] Frank-Dz opened #10240 "[qt5:MSYS2] build failure"
When I tried to install QT5 via VCPKG. I always met such a problem.

`
-- Using source at C:/local/vcpkg/buildtrees/icu/src/c-65_1-src-702c9cff96
-- Acquiring MSYS2...
-- Using cached C:/local/vcpkg/downloads/msys2-base-x86_64-20181211.tar.xz
gpg: /etc/pacman.d/gnupg/trustdb.gpg: trustdb created
gpg: no ultimately trusted keys found
gpg: starting migration from earlier GnuPG versions
gpg: porting

[2020-02-27 17:01] AjitDingankar commented on #10218
Same error in powershell:

[code]

[2020-02-27 17:39] Voskrese commented on #10240
as a temporary option. start the terminal
`...\vcpkg\downloads\tools\msys2\msys64\msys2.exe`

enter in the terminal
`pacman -Syyuu --noconfirm --needed --overwrite '*'
`

try again
`vcpkg install icu:x64-windows
`

[2020-02-27 18:11] Voskrese commented on #10237
CMake-ified version of PythonQt
https://github.com/commontk/PythonQt/tree/patched-10

[2020-02-27 18:57] atkawa7 commented on #5717
@DanAlbert FYI

[2020-02-27 19:27] DA40 commented on #10149
The root of my C drive is write protected, so if that's where vcpkg is creating files, it explains my build failure.  Why doesn't it use the folder assigned to the TEMP environment variable?

[2020-02-27 20:12] ayermolo opened #10243 "[jemalloc] Generate cmake target files."
For other projects in share folder [port]-targets.cmake, [port]-targets-debug.cmake, [port]-targets-release.cmake are created. This allows for user projects that use vcpkgs ports to use find_package to link against instaled ports. For jemalloc these files are not generated. It would be very useful if this was enabled, and simplify cmake files on user side.

[2020-02-28 01:15] Noemata commented on #10072
So I guess the question then is why the uwp build of gRPC regressed to non-existent?  Previously even an ARM build of gRPC was supported for UWP.  What happened?  gRPC has become an essential library given Microsoft is recommending it for many use cases in place of Microsoft equivalent technology that is being deprecated.  Please get this to build!  It's critically important.

[2020-02-28 01:17] KotaAoyama opened #10245 "[io2d:x64-osx] build failure"
**Host Environment**
- OS: Mac
- Compiler: C++17

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install io2d`

**Failure logs**
[code]
**Additional context**
Add any other context about the problem here, such as what you have already tried to resolve the issue.

[2020-02-28 01:58] Frank-Dz commented on #10240
Thanks! Tried but still have this problem:
`
low. Less than 1 bytes/sec transferred the last 10 seconds
error: failed retrieving file 'mingw32.db' from sourceforge.net : Connection timed out after 10001 milliseconds
error: failed retrieving file 'mingw32.db' from www2.futureware.at : Operation too slow. Less than 1 bytes/sec transferred the last 10 seconds
error: failed retrieving file 'mingw32.db

[2020-02-28 02:22] Frank-Dz commented on #10240
`
# pacman -Syyuu --noconfirm --needed --overwrite '*'
`
Full logs:
`
# pacman -Syyuu --noconfirm --needed --overwrite '*'
:: Synchronizing package databases...
error: failed retrieving file 'mingw32.db' from repo.msys2.org : Operation too slow. Less than 1 bytes/sec transferred the last 10 seconds
error: failed retrieving file 'mingw32.db' from sourceforge.net : Operation too slow. Less than 1 by

[2020-02-28 03:10] define-private-public opened #10247 "How to build .so objects specfically for Linux"
I made a C#/Nuget project that uses some native C libraries (`libsndfile`, `portaudio`, `libflac`, etc) that are all cross platform.  I want to use vcpkg to possibly make managing these native libraries a little easier.

I tried out vcpkg.  when it installed/build `portaudio`, I was able to find a `.so` object for it, but for `libsndfile`, `libflac`, `libogg`, `libvorbis`, none of their shared obj

[2020-02-28 04:21] Frank-Dz commented on #10240
It does solve the problem. Yet, the downloading time is quite slow though I have set up the VPN.
`
# pacman -Syyuu --disable-download-timeout --noconfirm --needed --overwrite '*'
:: Synchronizing package databases...
 mingw32                    0.0   B  0.00B/s 00:00 [---------------------]   0%
`
Is there a solution to this problem?
Many thanks for you kind help and guidance!

Best,
Frank

[2020-02-28 05:34] SeekingMeaning opened #10248 "Split into separate repository for portfiles?"
## For example, this is how Homebrew does it:

`brew`

`brew install llvm`

`/usr/local/Homebrew`

`/usr/local/Homebrew/Library/Taps/homebrew/homebrew-core/Formula/llvm.rb`

`/usr/local/Cellar/llvm/9.0.1/bin`

`/usr/local/bin`

- https://github.com/Homebrew/brew
- https://github.com/Homebrew/homebrew-core

## How vcpkg currently works:

`vcpkg`

`vcpkg install llvm`

`VCPKG_ROOT`

`VCPKG_ROOT\port

[2020-02-28 05:37] huargovfx commented on #10033
I am having a similar issue with windows 7 and MSVC 2015, it builds for a while and later stops, it shows as half installed only. I can't get openimageio built because of this.

[2020-02-28 06:17] Frank-Dz commented on #10240
Well solved by setting
`
export http_proxy=http://www-myproxy.example.com:8080
export https_proxy=$http_proxy
export ftp_proxy=$http_proxy
`
before the command:

pacman -Syyuu --disable-download-timeout --noconfirm --needed --overwrite '*'

Thanks again for your great work and kind help!

Best,
Frank

[2020-02-28 06:38] JackBoosY commented on #10225
Well, I was wrong.

Thanks for that PR.

[2020-02-28 06:51] JackBoosY commented on #8811
@xarthurx Fixing... we have lots of issues need to resolved.

[2020-02-28 07:11] LilyWangL commented on #10072
Due to grpc update to version 1.27.1, it adds new dependency adseil, adseil doesn't suport target UWP. The related PR: #9963. If you want build grpc on UWP, you can modify grpc to verison 1.26.0 and rebuild it.

[2020-02-28 07:32] JackBoosY commented on #10225
Please keep this issue open before #10235 merged.

[2020-02-28 08:12] Frank-Dz commented on #10240
Sorry. I made a mistake, it did not work:
When I set msys2 up according to your guidance. When I go back to run vcpkg install icu:x64-windows. If always need to reinstall the msys2:

![image](https://user-images.githubusercontent.com/55009565/75522449-fbfa9200-5a44-11ea-9e8e-64e1f4ea2e62.png)

Best,
Frank

[2020-02-28 08:17] Frank-Dz commented on #10240
Plus, I successfully get key and run the command in msys2.exe as an administrator.

On 02/28/2020 01:39, Voskrese wrote:

as a temporary option. start the terminal
...\vcpkg\downloads\tools\msys2\msys64\msys2.exe

enter in the terminal
pacman -Syyuu --noconfirm --needed --overwrite '*'

try again
vcpkg install icu:x64-windows

—
You are receiving this because you authored the thread.
Reply to this

[2020-02-28 09:31] Neumann-A opened #10249 "[osg] windows-static builds of dependent ports fail (e.g. osg-qt)"
Reason: CMake dependent ports will always assume shared build on windows.
From `include/osg/Export`
[code]

Since CMake findModule for OSG will not automatically pass `OSG_LIBRARY_STATIC` linkage against OSG will fail in static builds on windows. As such `if defined( OSG_LIBRARY_STATIC )` should be changed to `if TRUE` for static windows builds

[2020-02-28 09:41] NancyLi1013 commented on #10218
@AjitDingankar
Could you please help confirm if you have permission to rename these files?
Since I noticed vcpkg was cloned in _C:/Users/adingank/git/_.
Please also try to remove this file and build again.
`C:/Users/adingank/git/vcpkg/downloads/boostorg-spirit-boost-1.72.0.tar.gz`

[2020-02-28 09:55] su-lmstack opened #10250 "vcpkg安装 其他库文件时报错"
vs版本：2015
windows版本：win10

**1) 报错如下：**
[code]

**2) install-x86-windows-dbg-out.log文档部分错误相关内容:**
[code]
请问该如何处理？

[2020-02-28 10:04] LilyWangL commented on #10224
PR #9154

[2020-02-28 11:07] JackBoosY commented on #10250
Hi @su-lmstack, 你能尝试在Visual Studio Installer中安装英文语言包后重试吗？

谢谢。

[2020-02-28 13:14] Noemata commented on #10072
There is a v1.27.1 gRPC nuget package for UWP.  It builds for both Debug and Release, except the Release build crashes.  The debug build is working.  So it must be possible to create a UWP version of gRPC.  Also, there is no obvious reason abseil couldn't be compiled for UWP since it is mostly a set of algorithms with no system specific code in the library ....  I just spent 10 minutes getting abs

[2020-02-28 13:21] Noemata commented on #10072
Here is a screenshot of my vcpkg packages folder:

![image](https://user-images.githubusercontent.com/6632315/75551904-2f1c3180-5a03-11ea-9c97-a25dd9e2db25.png)

As you can see abseil was built for uwp.  So there is no reason this can't be done for gRPC.

[2020-02-28 13:25] Noemata commented on #10072
If I can do this for one library without much expertise, surely the team working on vcpkg can sort this out!  All it takes is more than a trivial effort.  Yes, I too was able to easily spot the !uwp exclusion in the gRPC build setup.  That was not the problem!!!

[2020-02-28 13:48] Noemata opened #10254 "building gRPC for UWP, communication problem with the vcpkg team."
**Describe the bug**
Unable to communicate with the vcpkg team the urgency of getting gRPC build for UWP.

I have had many days of back and forth dialog related to building gRPC for UWP.  I'm noticing that this is getting only cursory attention at this stage.  Not sure why.

In the vcpkg build setup for gRPC there is an exclusion for uwp related to the abseil library.  I had identified that it sho

[2020-02-28 13:48] elgonzo commented on #1254
Yeah, it's kinda funny. We are writing the year 2020, and vcpkg still defaults to 32-bit builds.

Looks like Microsoft is secretly mourning the bygone era of Windows XP/NT ;-P

[2020-02-28 14:29] Frank-Dz opened #10255 "Is there a way to specify *.exe in \vcpkg\downloads\tools\?"
Recently, there is a problem bothering me.
One pkg needs to use one tool: msys2.exe to install something. And the setting in VCPKG is to download a zipped file of msys2, extract it and use it. Yet this method needs to apply a key from a key server for msys2. I tried to make it (with key updated and set proxy up) and wait for VCPKG to use it in \downloads\tools. However, when I run my command in Po

[2020-02-28 14:38] Frank-Dz commented on #10255
This is the details:
I wonder why it doesn't directly check the folder downloads\tools but to check the zipped uninstalled pkg first?

![image](https://user-images.githubusercontent.com/55009565/75557431-f324b300-5a7a-11ea-8c7a-6b90bf062c06.png)

Log:
./vcpkg install icu:x64-windows
Computing installation plan...
The following packages will be built and installed:
    icu[core]:x64-windows
Startin

[2020-02-28 14:58] Pospelove commented on #8748
@BenKey Cool. Will be glad to see your PR.

[2020-02-28 15:03] Frank-Dz commented on #10240
This is the details:
I wonder why it doesn't directly check the folder downloads\tools but to check the zipped uninstalled pkg first?

![image](https://user-images.githubusercontent.com/55009565/75557431-f324b300-5a7a-11ea-8c7a-6b90bf062c06.png)

Log:
./vcpkg install icu:x64-windows
Computing installation plan...
The following packages will be built and installed:
    icu[core]:x64-windows
Startin

[2020-02-28 15:36] BenKey commented on #8748
Then I will do that this weekend.
*-- *

*Ciao,*
*Ben Key*
*Email: bkey76@gmail.com <bkey76@gmail.com>*
*Website: https://sullivanandkey.com/ <https://sullivanandkey.com/>*
*-- *

On Fri, Feb 28, 2020 at 8:58 AM Leonid Pospelov <notifications@github.com>
wrote:

[2020-02-28 15:55] Voskrese commented on #10240
you an individual problem, update all the build tools and check your folder permissions

CMake Error - Can't unlink already

as an option try

delete folder
C:/local/vcpkg/buildtrees/**icu**
C:/local/vcpkg/downloads/tools/**msys2**

try again
`vcpkg install icu:x64-windows `

[2020-02-28 16:55] AjitDingankar commented on #10218
Just confirmed that I can rename the above file manually.
[code]
However, I'm confused by the fact that the original script tried to use the rename command to move the file from TEMP to the parent directory src.

[2020-02-28 17:00] AjitDingankar commented on #10218
Built after removing
[code]
and got the same error as before.

[2020-02-28 18:36] Pospelove opened #10256 "[Catch2] find_package doesn't work"
**Describe the bug**

`find_package(Catch2 REQUIRED)` was working on 101452334cf0f1ba5329fd07f8b8f37f81fa2fc1 but doesn't work on 81965f6b3f7e99c3018f914cb8a15c2c02adcd4c.

**Environment**
- OS: Windows

**To Reproduce**
1. `vcpkg install Catch2:x86-windows`
2. Call `find_package`:

[code]

**Expected behavior**
No CMake error raised.

**Failure logs**
[code]

[2020-02-28 19:00] RameshKandukuriB opened #10257 "[<port name>] build failure"
**Host Environment**
- OS: [Windows10], on Azure clean node.
- Compiler: VS2017

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install gtest:x64-windows-static` on azure failed, however succeeded locally.

**Failure logs**

2020-02-28T18:45:14.4881664Z -- Building x64-windows-static-dbg
2020-02-28T18:45:14.4882086Z CMake Error at scripts/cmake/vcpkg_execute_build_process.cmake:136 (me

[2020-02-28 19:01] timautry commented on #10248
@SeekingMeaning  how does this fork version work?

- Cloned, compiled/linked on Windows 10 x64, VS 2019, the version of vcpkg mentioned from https://github.com/SeekingMeaning/vcpkg-no-ports.
- There are no instructions other than the original vcpkg instructions in this fork on how one is suppose to use it?

[2020-02-28 19:24] timautry commented on #10254
@Noemata

- Realize most of the work on vcpkg is/has been done by volunteers who donate their time to this and other projects, not to mention this is in addition to their day-to-day professional occupations.
- By chance one has built a solution to the issue one is experiencing, then may I suggest one make a pull request on the port(s) affected, make the required changes, have it pass current regre

[2020-02-28 19:46] timautry commented on #10255
@Frank-Dz

I am no expert, but I would try.
 - create a test instance of vcpkg - I have 4 instances named vs2017.prod vs2017.test vs2019.prod and vs2019.test, This way I can experiment with vcpkg without corrupting my good prod ones used for day-to-day programming 👍
 - to put my version of msys2 where vcpkg looks for it, like you have already done.
 - create a msys2-base-x86-64-20181211.tar.gz fro

[2020-02-28 20:23] Pospelove commented on #10256
Fixed by removing CMake cache

[2020-02-28 20:23] #10256 closed

[2020-02-28 20:26] Noemata commented on #10254
Noted.  I didn't realize this was a volunteer effort.  I thought Microsoft had some investment in this.  Not sure why Microsoft would be promoting tooling that is susceptible to major regressions?  The lib in question was previously available for UWP using vcpkg.  You can imagine how problematic it is to use tooling that can break unexpectedly while you're progressing a project along.   Not a good

[2020-02-28 20:32] armitagemderivitec commented on #9927
I solved this by adding the following to my Dockerfile:
[code]

[2020-02-28 20:33] Noemata commented on #10254
Microsoft, please remove the following link from your docs website and place it somewhere more obviously associated with volunteer efforts with no association to the company:

https://docs.microsoft.com/en-us/cpp/build/vcpkg?view=vs-2019

It's misleading to have vcpkg in what outwardly looks like official documentation given this is not really an official tool that is supported in a professional m

[2020-02-29 00:18] cbomfim opened #10259 "Error when trying to install cpprestsdk"
I'm trying to install cpprestsdk. I follow all steps from https://docs.microsoft.com/en-us/cpp/build/vcpkg?view=vs-2019. When I run "vcpkg install cpprestsdk" got an error as follow:

Error: Building package boost-atomic:x86-windows failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `.\vcpkg update`, then
submit an issue at https://github.com/Microsoft/vcpkg/issues incl

[2020-02-29 03:25] timautry commented on #10259
Hi @cbomfim

It seems you may not have a Windows SDK installed, at the log is showing vcpkg cannot find "mt.exe", included with the Windows SDK.

vcpkg needs the following installed to work properly on windows:
- Run the Visual Studio Installer:
   - Under the Workloads tab make sure the **"Desktop development with C++"** is checked.
   - Under Individual Components tab scroll almost to the end an

[2020-02-29 03:29] timautry commented on #10257
Hi @RameshKandukuriB

Please attach the **D:\a\1\s\vcpkg\buildtrees\gtest\install-x64-windows-static-dbg-out.log** as those troubleshooting the issue will need to review it.

Thank you

[2020-02-29 03:30] Frank-Dz commented on #10240
Thanks! I tried but did not make it. Maybe I have something wrong at some steps.
I finally solve the problem by manually set a sha512 following:
[https://github.com/microsoft/vcpkg/issues/10255](https://github.com/microsoft/vcpkg/issues/10255)
Now msys2 successfully works for me.

Thank you again for your kind help and guidance~

Best,
Frank

[2020-02-29 03:30] #10240 closed

[2020-02-29 03:32] Frank-Dz commented on #10255
WOW!!!!
Thank you very much! It works for me!!!
Thank you very much for providing me with such detailed instructions. Your work is great!
====================log======================
PS C:\local\vcpkg2> ./vcpkg install icu:x64-windows
Computing installation plan...
The following packages will be built and installed:
    icu[core]:x64-windows
Starting package 1/1: icu:x64-windows
Building package

[2020-02-29 03:47] timautry commented on #10255
@Frank-Dz

Glad you got it to work as you needed it 🥇

You are more than welcome, I just try to help the best I can in my spare time.

Note: I would save the changed vcpkg_root\scripts\cmake\vcpkg_acquire_msys.cmake, the tar.gz file of your msys2 installation and the instructions, in case there is a change to vcpkg_acquire_msys.cmake file in the future or you need to update your msys2 installation

[2020-02-29 03:55] Lsz-20 opened #10261 "[mpir] build failure~"
- win10
- VS2017
I'm trying to install OpenMVS with vcpkg，there seems something wrong when i install the mpir
I am a beginner，and there are some problems····so I want to ask for some help
（1）report an error
`Starting package 2/64: mpir:x64-windows
Building package mpir[core]:x64-windows...
-- Downloading https://github.com/wbhart/mpir/archive/mpir-3.0.0.tar.gz...
-- Using source at F:/Opencv/vcpkg

[2020-02-29 03:57] Frank-Dz commented on #10255
Yep! Many thanks for you kind help and guidance! Plus, after reading your Bio. I was deeply moved! I express my greatest respect and thanks to you.

I am not sure if you are still working on the design and development of VCPKG. I do hope that tools like VCPKG will work well for more people on the Windows platform.
In fact, many users from China and other countries can not use VCPKG smoothly due to

[2020-02-29 03:57] #10255 closed

[2020-02-29 04:14] timautry commented on #10220
@FullyArticulate
I was researching this issue on the internet by searching google for the phrase **cl.exe is not able to compile a simple test program** using Visual Studio and CLion.

I found several, but one that could be the issue "https://intellij-support.jetbrains.com/hc/en-us/community/posts/360006862480-Error-The-C-compiler-is-not-able-to-compile-a-simple-test-program" asking the developer

[2020-02-29 07:10] Voskrese commented on #10240
that is, you did not download the distribution because of the weak Internet, you decided to change the hash of the file in the settings. and that solved your problem?

hmm... )))

[2020-02-29 07:11] su-lmstack commented on #10250
@JackBoosY 我安装了，但还是不行

[2020-02-29 07:53] Frank-Dz commented on #10240
Yep. All pkgs well installed!
And I am using them.

Best,
Frank

On 02/29/2020 15:10, Voskrese wrote:

that is, you did not download the distribution because of the weak Internet, you decided to change the hash of the file in the settings. and that solved your problem?

hmm... )))

—
You are receiving this because you modified the open/close state.
Reply to this email directly, view it on GitHub,

[2020-02-29 07:58] Frank-Dz commented on #10240
I downloaded the .tar.xz file, extract it and set the setting of msys2. And make it as a .tar.xz.
Then we let vcpkg use this modified msys2 pck.

That's it.

On 02/29/2020 15:10, Voskrese wrote:

that is, you did not download the distribution because of the weak Internet, you decided to change the hash of the file in the settings. and that solved your problem?

hmm... )))

—
You are receiving this

[2020-02-29 13:42] linquize commented on #10247
See also #10174

[2020-02-29 14:02] AMS21 opened #10263 "[doctest] update to 2.3.7"
Library name: doctest

New version number: 2.3.7

Other information that may be useful (release notes, etc...)
https://github.com/onqtam/doctest/blob/master/CHANGELOG.md#237-2020-02-24

[2020-02-29 14:20] xianglli opened #10264 "[double-conversion] build failure"
**Host Environment**
- OS: [e.g. Windows/Linux etc...]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install xxxx`

**Failure logs**
-Cut and past the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

**Additional context**
Add any other context about the problem here, such as what you

[2020-02-29 15:28] Toxe commented on #10147
I am closing this since my PR has been merged and the issue is fixed now.

[2020-02-29 15:28] #10147 closed

[2020-02-29 16:24] FullyArticulate commented on #10220
Windows 10 SD is installed, v10.1.17763.132, installed 2/25/20.

I ran the test you suggested, and then repaired the SDK, and ran it again. Both before and after:

`C:\dev\vcpkg>.\vcpkg.exe env
Microsoft Windows [Version 10.0.18363.657]
(c) 2019 Microsoft Corporation. All rights reserved.

C:\dev\vcpkg>where rc.exe
C:\Program Files (x86)\Windows Kits\10\bin\10.0.17763.0\x64\rc.exe

C:\dev\vcpkg>wh

[2020-02-29 20:38] RameshKandukuriB commented on #10257
This is space issue on the machine, closed.

[2020-02-29 20:38] #10257 closed

[2020-02-29 21:52] idcrook commented on #9918
@matjam I encountered this too, and have identified somewhat of a workaround

[code]

[2020-02-29 22:16] past-due opened #10266 "[openal-soft] macOS builds have no backends defined (thus, no audio output)"
**Describe the bug**
The vcpkg port currently defines no suitable backends for macOS builds. Thus, while macOS builds compile without errors, they do not function properly. (No devices detected, no audio output.)

**Environment**
- OS: macOS

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install openal-soft
2. Link to an application, attempt to open a device / output audio

PR forth

[2020-03-01 00:55] #10261 closed

[2020-03-01 02:52] Frank-Dz commented on #10255
@timautry

Hi~ But I still wonder why VCPKG checks the downloaded .tar.xz or .tar.gz files firstly?
If it works in such a way, does that mean I can not delete these .tar.xz or .tar.gz files to save my
disk space?

Thanks!

Best,
Frank

[2020-03-01 03:29] moregion commented on #10093
Hi.
The problem have been solved.

Thanks for your reply！

------------------------------------------------------------------
发件人：Jack·Boos·Yu <notifications@github.com>
发送时间：2020年2月17日(星期一) 21:55
收件人：microsoft/vcpkg <vcpkg@noreply.github.com>
抄　送：moregion <sham_bhala@aliyun.com>; Mention <mention@noreply.github.com>
主　题：Re: [microsoft/vcpkg] Error: Building package boost-test:x64-windows failed w

[2020-03-01 05:57] Lsz-20 opened #10269 "[bzip2] build failure"
**Host Environment**
- Windows10
- VS2017
something wrong when I using OpenMVS···
**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install vcpkg install zlib boost-iostreams boost-program-options boost-system boost-serialization eigen3 ceres opencv cgal[core] glew glfw3

**Failure logs**
[code]
**Additional context**
I download from https://github.com/past-due/bzip2-mirror/releases/downl

[2020-03-01 09:16] quantotto opened #10270 "grpc patch to solve infinite loop in debug trace"
I am using Ubuntu 18.04 along with grpc 1.27.1 from vcpkg.

On Ubuntu, grpc might exhibit infinite loop. This issue is documented for 1.24.3 here: https://github.com/grpc/grpc/issues/20757 and it is still relevant for 1.27.1

The above thread also includes a patch for src/core/debug/trace.cc file.

I've updated my private ports/grpc with this patch and interested in submitting Pull request. Any ob

[2020-03-01 09:27] kdschlosser commented on #9582
I appreciate the work on this... and here is the but... There is a slew of build options available. what is accounted for is a very small amount.

I do not know how vcpkg works with respect to building dependencies. this is some of the dependencies that curl can have and the dependencies of the dependencies. it is kind of a twisted mess actually.

[code]

some are optional and others are not. beca

[2020-03-01 10:20] dlxdlxdlx commented on #5579
any solution?
···
Error: Building package opencv4:x86-windows failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `.\vcpkg update`, then
submit an issue at https://github.com/Microsoft/vcpkg/issues including:
  Package: opencv4:x86-windows
  Vcpkg version: 2020.01.17-nohash

Additionally, attach any relevant sections from the log files above.

C:\Users\typer\Downloads\vc

[2020-03-01 11:06] atkawa7 commented on #5717
@manang @Voskrese @ras0219-msft Checkout #10271

[2020-03-01 20:25] rcurtin opened #10273 "[mlpack] update to 3.2.2"
Library name: mlpack

New version number: 3.2.2

Other information that may be useful (release notes, etc...): https://github.com/mlpack/mlpack/blob/master/HISTORY.md#mlpack-322

I saw @kereslas did the last update. :+1:

[2020-03-01 20:28] timautry commented on #10255
I am not sure why the "items in the tools" folder/directory are that way, most likely checking it has the correct tools to work with, but it can be changed as done with msys2.
The "old" downloads files can be deleted, like a new version is downloaded - my downloads folder is about 7.5 gb and I have not cleaned it up in several months.
A big space saver is the buildtrees folder, you can delete anyt

[2020-03-01 21:08] cbomfim commented on #10259
Hi Tim,

thank you for your help. I could pass through the point where I got the error. Not finished yet because some actions are taking too long to finish. Right now I am waiting mora then 2 hours performing "Build x86-windows-rel".

Thanks a lot,

Carlos Bomfim

[2020-03-01 22:27] feliwir commented on #10230
Having the same issue here when using Gtk

[2020-03-01 22:51] #10233 closed

[2020-03-02 01:28] PhoebeHui commented on #10254
@Noemata, sorry for my late reply.

Related issue https://github.com/microsoft/vcpkg/issues/10072.
It seems that grpc adding dependency from revision 1.27.1(PR https://github.com/microsoft/vcpkg/pull/9963), however, adseil doesn't suport target UWP. so this is failed. I will help confirm.

@timautry, thanks for you comments!

[2020-03-02 02:09] JackBoosY commented on #9927
@armitagemderivitec Please keep this issue open before we resolve it.

Thanks.

[2020-03-02 02:15] JackBoosY commented on #5790
Hi @jk-jeon, thanks for reporting this issue.
I've fixed it in #10159, please update vcpkg and rebuild celero.

Thanks.

[2020-03-02 02:15] #5790 closed

[2020-03-02 02:16] mschofie commented on #10091
I repro the same error on a Windows 10 host environment. It looks like the wrong clang `--target` command-line is being built into the `user-config.jam`. Clang wants `--target=<value>` but `--target= <value>` is being passed (i.e. extra space after the `=`). It looks like [`ports/boost-modular-build-helper/CMakeLists.txt`](https://github.com/microsoft/vcpkg/blob/c3ac3b24ffbc1c6e4fb759c8cd8e7a5aff9

[2020-03-02 02:26] JackBoosY commented on #10143
Hi @yes89929, thanks for reporting this issue.
I've added linux support in #10163, please update vcpkg and rebuild pcl[pcal].

Thanks.

[2020-03-02 02:26] #10143 closed

[2020-03-02 02:29] JackBoosY commented on #9918
@idcrook Yep, that works. But I think we need to wait upstream to fix this source issue, and then we will update the assimp version to resolve this issue.

[2020-03-02 02:34] #10093 closed

[2020-03-02 02:45] JackBoosY commented on #9582
@kdschlosser I will take a look.

[2020-03-02 02:49] JackBoosY commented on #10269
Please download `https://github.com/past-due/bzip2-mirror/releases/download/v1.0.6/bzip2-1.0.6.tar.gz` manually use proxy and put it into _VCPKG_PATH/downloads_, then rebuild bzip2.

Thanks.

[2020-03-02 03:14] Lsz-20 commented on #10269
I have download this package,and I have try it put it into VCPKG_PATH / downloads/temp or VCPKG_PATH / downloads,but it still show me errors,here are the followings（when i Put into VCPKG_PATH / downloads）：

Starting package 3/54: bzip2:x64-windows
Building package bzip2[core]:x64-windows...
-- Using cached F:/Opencv/vcpkg/downloads/bzip2-1.0.6.tar.gz
CMake Error at scripts/cmake/vcpkg_download_dis

[2020-03-02 03:23] JackBoosY commented on #10255
@Frank-Dz
vcpkg will first check the download file according to the url in `portfile.cmake` (**Yes**: use the downloaded file in downloads, **no**: download source), and determine whether the port has been updated and corrected according to the version number (**Yes**: use the downloaded file to restart Extract, **no**: use the decompressed source in buildtrees directly), then build the port.

I a

[2020-03-02 03:35] JackBoosY commented on #10269
It seems that the source you downloaded is not the same as the one provided by the official website. Please use another URL to download it and replace it into _downloads_.

Well, use [this url](https://github.com/microsoft/vcpkg/files/4273303/bzip2-1.0.6.tar.gz).

[2020-03-02 03:54] Lsz-20 commented on #10269
It also didn't work and show the same error (′⌒`)
CMake Error at scripts/cmake/vcpkg_download_distfile.cmake:99 (message):

  File does not have expected hash:

          File path: [ F:/Opencv/vcpkg/downloads/bzip2-1.0.6.tar.gz ]
      Expected hash: [ 00ace5438cfa0c577e5f578d8a808613187eff5217c35164ffe044fbafdfec9e98f4192c02a7d67e01e5a5ccced630583ad1003c37697219b0f147343a3fdd12 ]
        Actual

[2020-03-02 03:57] Frank-Dz commented on #10255
Thanks! My 'buildtrees' is more than 40GB... I just clear it. And I feel so good!
Thank you for your help!

Best,
Frank

[2020-03-02 03:59] Frank-Dz commented on #10255
That's great! Thank you! It is really good news for the community in China to learn and use VCPKG.

Best,
Frank

[2020-03-02 04:24] JackBoosY commented on #10269
Use [this](https://github.com/microsoft/vcpkg/files/4273414/bzip2-1.0.6.tar.gz)?

Seems like your network has problem, the downloaded file is corrupted.

[2020-03-02 04:41] Lsz-20 commented on #10269
Neither of those will succeed, I will try to download it using someone else's network

[2020-03-02 06:05] JackBoosY commented on #10269
Please modify _VCPKG_PATH/ports/bzip2/portfile.cmake_ and change hash `00ace5438cfa0c577e5f578d8a808613187eff5217c35164ffe044fbafdfec9e98f4192c02a7d67e01e5a5ccced630583ad1003c37697219b0f147343a3fdd12 ` to `cf83e1357eefb8bdf1542850d66d8007d620e4050b5715dc83f4a921d36ce9ce47d0d13c5d85f2b0ff8318d2877eec2f63b931bd47417a81a538327af927da3e ` and try to build bzip2 again.

Thanks.

[2020-03-02 06:10] Lsz-20 commented on #10269
Thanks for your help.there must be something wrong with my network,I can use others' network to download right bzip2.I'll try your new suggestion.
Thanks!!(*^__^*)

[2020-03-02 06:23] JackBoosY commented on #9582
In this case, you need change curl feature `nghttp2` depdenecy to `libxml2[nghhtp2]`(if it's exist).

Same as above. vcpkg will automatically detect the features that need to be installed and join the list to install, I think it is not necessary to execute multiple installation commands.

All port dependencies point to the libraries installed in vcpkg, so recursively guarantee that the port's depe

[2020-03-02 06:45] LilyWangL commented on #10250
@su-lmstack 能提供一下安装完英文语言包之后安装失败的完整日志 install-x86-windows-dbg-out.log吗？

谢谢。

[2020-03-02 07:41] su-lmstack commented on #10250
该问题可能为vs2015版本的bug，更新至2017后，安装成功。

[2020-03-02 07:41] #10250 closed

[2020-03-02 08:34] #10269 closed

[2020-03-02 09:10] su-lmstack commented on #10250
你好，

&nbsp; &nbsp; &nbsp;抱歉，我的文件没有拷贝。已经被覆盖了。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Lily"<notifications@github.com&gt;;
发送时间:&nbsp;2020年3月2日(星期一) 下午2:45
收件人:&nbsp;"microsoft/vcpkg"<vcpkg@noreply.github.com&gt;;
抄送:&nbsp;"~曙光~"<523334079@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
主题:&nbsp;Re: [microsoft/vcpkg] vcpkg安装 其他库文件时报错 (#10250)

@su-lmstack 能提供一下安装完英文语言包之

[2020-03-02 09:18] NancyLi1013 commented on #10264
Hi @xianglli

Thanks for posting this issue.
Could you please help confirm if you have access to  `https://github.com/google/double-conversion/archive/v3.1.5.tar.gz`?

If yes, please download `https://github.com/google/double-conversion/archive/v3.1.5.tar.gz` manually and put it into `VCPKG_PATH/downloads`, then rebuild `double-conversion`.

[2020-03-02 09:25] NancyLi1013 commented on #10259
Hi @cbomfim
Thanks for posting this issue.
Could you help confirm if this issue still exist on your local now?

@timautry
Thanks for your help and above info.

[2020-03-02 11:23] Squareys commented on #10089
@LilyWangL I am unsure how the label "vcpkg feature" fits here... This is probably more of a regression (installing ports with `--head` did work properly before!).

[2020-03-02 11:41] cbomfim commented on #10259
Hi Nancy,

yes, the issue was solved. I got both lib, x86 and x64. Thanks for helping again

Carlos Henrique de Morais Bomfim

[2020-03-02 11:41] #10259 closed

[2020-03-02 11:58] PhoebeHui commented on #10229
@eix128, would you like to give an example that how you used on windows, since there is only headers for this librariy, I'm curious about that. I think you might manually install boost-compute with github to solve this issue temporarily.

[2020-03-02 12:19] PhoebeHui commented on #10247
@linquize, thanks for your comments!

@define-private-public, have you try the solution that linquize provided? does the issue solved?

[2020-03-02 12:33] LilyWangL commented on #10270
@quantotto Thanks for posting this issue. Do you have interesting to submit a pull request to fix this issue?

[2020-03-02 13:16] kereslas commented on #10273
Actually, there is an open PR for this (#10070). It upgrades ensmallen and mlpack.

[2020-03-02 13:21] rcurtin commented on #10273
Ah, sorry!  I didn't check there.  Should I close this issue then?  Or I guess we can close it when #10070 is merged?

[2020-03-02 13:35] kereslas commented on #10273
Maybe someone can set it as "Linked pull requests" so it will be automatically closed when PR is closed.

[2020-03-02 13:49] FrayxRulez commented on #9971
Any update on this? I actually depend on OpenSSL for UWP.

[2020-03-02 13:56] how0723 opened #10277 "azmq can not be used"
**Describe the bug**
azmq can not be used.
my code is
[code]
**Environment**
- OS: win10 1909 64 bit
- Compiler: msvc141

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install xxxx
2. See error
Repro code when

**Expected behavior**
A clear and concise description of what you expected to happen.

**Failure logs**
[code]

[2020-03-02 14:00] how0723 commented on #10277
I guess it must be header include error.

[2020-03-02 14:03] zhangfuwen commented on #10173
[config-x64-osx-rel-out.log](https://github.com/microsoft/vcpkg/files/4275759/config-x64-osx-rel-out.log)

@JackBoosY Hi, sorry for late reply. Attached above is the log.

[2020-03-02 14:25] quantotto commented on #10270
Yep, @LilyWangL  I'll do that. Just wanted to verify. Thanks!

[2020-03-02 14:29] define-private-public commented on #10247
Sorry, been a bit slow with trying that out.  It's on my TODO list.  I'll be sure to report back once I've tried it.

[2020-03-02 14:54] danieljo12 commented on #9817
Ive updated vcpkg and ive tried installing curl using "vcpkg.exe install curl" and it still returns with BUILD_FAILED error

[2020-03-02 14:55] danieljo12 commented on #9817
Also yes i have ninja.exe
located:
C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\Common7\IDE\CommonExtensions\Microsoft\CMake\Ninja

[2020-03-02 15:16] quantotto commented on #10270
submitted https://github.com/microsoft/vcpkg/pull/10278

[2020-03-02 15:18] lazyhamster opened #10279 "Can not install new ports."
**Describe the bug**
New feature for recording stdout output during build prevents installation of any new port.

Build routine tries to create output file stdout-[triplet-name].log in buildtrees/[port-name] folder. But if this folder does not exists (e.g. port was never installed before) then process fails. And library installation process fails too.

If I manually create empty folder [port-name]

[2020-03-02 16:48] timautry commented on #10279
@lazyhamster I had this issue also, you may wish to try the following (fixed for me):
- cd _vcpkg-root_ (E:\Work\Libraries\vcpkg)
- git pull (this will update vcpkg scripts, code and ports)
- run the .\bootstrap.bat or ./bootstrap.sh as applicable (recompiles and links vcpkg to use new scripts and implement new code)
- vcpkg install freetype

As a general rule, when I do a "git pull" and I see the

[2020-03-02 17:17] Toxe commented on #5204
@izzyreal Does this problem still happen for you? It should be fixed by now and this issue can probably be closed.

[2020-03-02 17:51] izzyreal commented on #5204
@Toxe I'm not working on the related project anymore, but I'm fine closing this.

[2020-03-02 17:51] #5204 closed

[2020-03-02 18:50] Nemoon opened #10282 "Using vcpkg gives compilation errors in Visual Studio 2015"
I am trying to compile (by porting) some code in Windows 10 that was originally developed for Linux.

The code depends on 2 external libraries: `cppkafka `and `librdkafka`.

I saw that `vcpkg` is able to get the libraries, compile them, and then make them automatically available in Visual Studio 2015 (through the `vcpkg integrate install` command).

I see that the `vcpkg` compiles the dependencies

[2020-03-02 19:10] strega-nil commented on #4962
Can we see if this works now @jm130794 ? I think that #9780 should have fixed it maybe?

[2020-03-02 20:12] strega-nil commented on #9927
Currently working on it!

[2020-03-02 23:48] PranavDhulipala opened #10286 "Pangolin build failure"
**Host Environment**
- OS: Windows
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install pangolin:x64-windows --head`

**Failure logs**
[code]
**Additional context**
Copied this in the portfile to fix the problem
[code]

[2020-03-03 01:54] NancyLi1013 commented on #9969
Hi @mhangaard

Thanks for posting this issue and your patience.
This issue should be fixed now. Please update vcpkg and build it agian.

[2020-03-03 01:54] #9969 closed

[2020-03-03 03:11] JackBoosY commented on #10173
Could you also provide _/Users/dean/Projects/CLionProjects/vcpkg/buildtrees/qt5-imageformats/config-x64-osx-rel-err.log_ ?

Thanks.

[2020-03-03 03:14] JackBoosY commented on #4962
Hi @jm130794, thanks for reporting this issue.
This issue should fixed in #9780, please update vcpkg and rebuild boost-regex[icu].

Thanks.

[2020-03-03 03:14] #4962 closed

[2020-03-03 03:22] LilyWangL commented on #9971
Related issue #10072 #10254.
We are confirming this issue. And we will fix this issue soon.

[2020-03-03 03:41] JackBoosY commented on #10286
Adding `--head` to the build command will build with the **latest commit id** of the current repo as the source, which will cause some incompatibility issues with vcpkg not being fixed. If you wish to use the official version, please wait for this port to be updated.
If you wish to use --head, use one of the following two steps:
- Add ```if(VCPKG_LIBRARY_LINKAGE STREQUAL "static")
        file(REM

[2020-03-03 04:57] define-private-public commented on #10247
That seemed to do the trick for me.  Thanks!

Though I would prefer if I could specify something like `--build-dynamic` as an option on the `install` command, or if there was some other environment variable I could set.

[2020-03-03 05:31] PhoebeHui commented on #10273
@kereslas, thanks for the comments!

@rcurtin, I will close this issue when the PR is merged.

[2020-03-03 07:03] JackBoosY commented on #10279
Relate to [this changes](https://github.com/microsoft/vcpkg/commit/0ebb462870b7ec2bf41949a1a4eb777b90674406#diff-7c78ff08e66ca1729315028943b36e19).

[2020-03-03 07:05] JackBoosY commented on #10279
Duplicate with #10089.

[2020-03-03 07:05] #10279 closed

[2020-03-03 07:15] LilyWangL commented on #10089
@Squareys This is a VCPKG bug. Jack will fix it in pull request.

[2020-03-03 07:29] NancyLi1013 commented on #10277
Hi @how0723

Thanks for posting this issue.
Since these headers don't support `boost `1.70 in current `azmq`.
I will update `azmq `to fix this issue.

[2020-03-03 08:10] IIFE opened #10289 "gRPC appears to only link against static CRT"
****

**Is your feature request related to a problem? Please describe.**
the gRPC port appears to build gRPC against static CRT using the following option:
`-DgRPC_MSVC_STATIC_RUNTIME=${gRPC_MSVC_STATIC_RUNTIME}`

This is problematic when consuming the gRPC libraries in a solution that only relies on the dynamic CRT.

In my triplet override I am specifying `set(VCPKG_CRT_LINKAGE dynamic)`, however

[2020-03-03 08:12] kdschlosser commented on #9582
The only way I can think about compiling deps that have a diferent set of options then the installed version would be a sandbox environment.

Is there an option to have openssl compiled using JOM?

[2020-03-03 08:46] IIFE commented on #10289
Strangely, which I run `dumpbin /DIRECTIVES grpc.lib` it shows `/DEFAULTLIB:MSVCRT`. What does the `-DgRPC_MSVC_STATIC_RUNTIME=${gRPC_MSVC_STATIC_RUNTIME}` option actually do, as I think I'm getting confused by it.

[2020-03-03 09:17] IIFE commented on #10289
Furthermore, any reason gRPC is only built as static lib. Following option in port file appears to indicate so:
`vcpkg_check_linkage(ONLY_STATIC_LIBRARY)`

[2020-03-03 11:29] Noemata commented on #10254
Just to be clear, it's not adseil, presumable that was a typo for abseil, and it is possible to build abseil for UWP as shown by the screenshot above.  The abseil exclusion should never have been added.  I'm guessing someone rushed this through not realizing it was straightforward to build abseil for UWP.

Hopefully, vcpkg build targets will be maintained across library releases.  I would rather s

[2020-03-03 12:21] rcurtin commented on #10273
@PhoebeHui awesome, thank you so much! :+1:

[2020-03-03 13:08] daef opened #10292 "usockets activate ssl again"
Library name: usockets

according to [this](https://github.com/microsoft/vcpkg/blob/master/ports/usockets/CMakeLists.txt#L6) ssl is [deactivated](https://github.com/microsoft/vcpkg/blob/master/ports/usockets/portfile.cmake#L15) because of an [closed issue](https://github.com/microsoft/vcpkg/issues/4267) .

[2020-03-03 13:40] brunotl opened #10293 "[geographiclib] update to 1.50.1"
Library name: GeographicLib

New version number: 1.50.1

Other information that may be useful (release notes, etc...)

https://geographiclib.sourceforge.io/

version 1.50.1 is version update to support the WMM2020 magnetic model expected to be available 2019-12-10.

[2020-03-03 13:44] eix128 opened #10294 "[New Port Request] <SoapySDR>"
Library name:
SoapySDR

Library description:

SoapySDR is general software defined radio.
That works universally accross all RF platforms.
Hacker RF , LimeSDR , Ettus etc....

Source repository URL:

https://github.com/pothosware/SoapySDR

Project homepage (if different from the source repository):

https://github.com/pothosware/SoapySDR/wiki

[2020-03-03 14:16] pdc-tstream commented on #9036
I was able to fix by adding the following to ports/glib/CMakeLists.txt :

`set(ENV{SDKROOT} ${CMAKE_OSX_SYSROOT})
`

just before

[code]

I do not know vcpkg well enough to suggest a correct solution.

[2020-03-03 15:46] sotex opened #10296 "[New Port Request] <S2 Geometry Library>"
Library name:
S2 Geometry Library

Library description:
![s2hierarchy](https://s2geometry.io/devguide/img/s2hierarchy.gif)
A unique feature of the S2 library is that unlike traditional geographic information systems, which represent data as flat two-dimensional projections (similar to an atlas), the S2 library represents all data on a three-dimensional sphere (similar to a globe). This makes it po

[2020-03-03 16:27] josuegomes commented on #9756
Port author here. Magick++ is built and included in the port. I manually test the build with a Magick++ based application. See attached.
[gm.zip](https://github.com/microsoft/vcpkg/files/4282419/gm.zip)

[2020-03-03 16:40] yamcenutzer commented on #9764
./vcpkg install boost seems to work on Ubuntu 19.10 (gcc 9.2.1) but not on Centos7 (using gcc8 or gcc7)

[2020-03-03 16:41] yamcenutzer commented on #9764
vcpkg on centos is anyway broken, since you can't bootstrap...

[2020-03-03 19:44] BillyONeal opened #10297 "vcpkg should work in Visual Studio Code the same way it works in Visual Studio"
**Is your feature request related to a problem? Please describe.**
Intellisense in Visual Studio understands which libraries are provided by vcpkg, and displays accurate intellisense information and similar resulting from this information. Unfortunately, VS Code (and/or the C++ extension for VS Code) don't look for the same signals. This was reported by @SuperWig over here: https://github.com/micr

[2020-03-03 20:20] SuperWig commented on #10297
Wouldn't that be the CMakeTools extension  - https://github.com/microsoft/vscode-cmake-tools - and not the C++ one?

[2020-03-03 20:33] BillyONeal commented on #10297
I don't know. There's some overlap here. The CMake extension is the thing that would do cmake processing but it's the C++ extension that actually consumes the resulting header / define / configuration information.

[2020-03-03 21:10] PranavDhulipala commented on #10286
thanks for the response.

[2020-03-03 21:10] #10286 closed

[2020-03-03 23:58] Simran-B commented on #3391
`vcpkg install qt5-base:x64-windows` hangs after reporting a successful compilation and installation, not making any apparent progress even after more than 2 hours when I try to build a Docker image. See https://github.com/moby/moby/issues/40266#issuecomment-594229962 for details.

[2020-03-04 00:27] jabra98 opened #10298 "How do I minimize the amount of shared libraries?"
Hello, is there a way to reduce the amount of shared libraries generated/needed when installing a package like Qt5? I usually had to provide three .dlls to get everything running (QtCore, QtGui, QtWidgets) when I downloaded the binaries directly. Now after building it and trying to link it dynamically (using the x64-windows triplet), my binary folder gets filled with loads of other .dlls which see

[2020-03-04 00:29] jbar98 commented on #10221
Try the x64-windows-static-md triplet when installing the boost libs

[2020-03-04 01:19] huang-lijin opened #10299 "[tesseract] Running tesseract.exe failed"
**Host Environment**
- OS: windows7 x64
- Compiler: vs2015

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install tesseract`

**Failure logs**
The installation shows that the installation is successful, and the installation of lib and exe files is successful. But when I use testeract.exe to identify the text, I make an error. When I enter vs debugging, I find that it is "__m128i packe

[2020-03-04 01:27] ayermolo commented on #10169
@PhoebeHui Sorry for late reply. Tried it, and it also seems to work.

[2020-03-04 01:56] JackBoosY commented on #10089
Hi guys, I've fixed this issue in #10287, please update vcpkg and retry again.

Thanks.

[2020-03-04 01:56] #10089 closed

[2020-03-04 02:19] JackBoosY commented on #9582
@kdschlosser Not yet, but you can open a PR to add support with jom.

[2020-03-04 02:21] Lsz-20 opened #10300 "[cgal]Failed to download"
Starting package 6/11: cgal:x64-windows
Building package cgal[core]:x64-windows...
-- Downloading https://github.com/CGAL/cgal/archive/releases/CGAL-4.14.tar.gz...
-- Downloading https://github.com/CGAL/cgal/archive/releases/CGAL-4.14.tar.gz... Failed. Status: 18;"Transferred a partial file"
CMake Error at scripts/cmake/vcpkg_download_distfile.cmake:175 (message):

      Failed to download file.

[2020-03-04 02:44] JackBoosY commented on #9756
@josuegomes So, that's expected?

[2020-03-04 02:48] JackBoosY commented on #9764
Close this issue via #9780 merged.

[2020-03-04 02:48] #9764 closed

[2020-03-04 02:50] JackBoosY commented on #10199
I think my PR #10287 should fixed this issue.

[2020-03-04 02:53] JackBoosY commented on #9764
@yamcenutzer Please see #9927 #9955.

[2020-03-04 03:03] PhoebeHui commented on #10199
@JackBoosY, the PR doesn't fix this issue, it should be a different issue that due to --x-use-aria2 used.

[2020-03-04 05:11] PhoebeHui commented on #10169
@ayermolo, thanks for the updates!

I will draft a PR for this.

[2020-03-04 05:35] nareshn2003 commented on #10221
Thanks .,. it working now.

[2020-03-04 05:35] #10221 closed

[2020-03-04 05:50] cenit commented on #10114
#10287 might fix also this one. Closing after a check

[2020-03-04 05:52] NancyLi1013 commented on #10300
Hi @Lsz-20

Thanks for posting this issue.

Please download https://github.com/CGAL/cgal/archive/releases/CGAL-4.14.tar.gz manually use proxy and put it into VCPKG_PATH/downloads, then rebuild `cgal`.

BTW, `cgal` has been updated to 5.0.2. You can try to update vcpkg and rebuild this port.

[2020-03-04 07:41] sampper commented on #10188
I have a problem with openvc4[cuda] too, although mine is with x64-windows but I think the problem is the same.

-- Configuring x64-windows
CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:72 (message):
    Command failed: ninja -v
    Working Directory: C:/src/alt_vcpkg/vcpkg/buildtrees/opencv4/x64-windows-rel/vcpkg-parallel-configure
    Error code: 1
    See logs for more infor

[2020-03-04 08:06] Lsz-20 commented on #10300
Thanks for your advice,I download https://github.com/CGAL/cgal/archive/releases/CGAL-4.14.tar.gz manually use proxy but it still show me the same fault···

[2020-03-04 08:13] JackBoosY commented on #10298
Usually, we use `feature` to separate the port's dependencies, and only use the command `.\vcpkg install ${PORT}[core]` to build will use only the minimum dependencies (required).
In qt5, this situation becomes complicated.

@Neumann-A

[2020-03-04 08:23] Neumann-A commented on #10298
in qt5 there are no dependency features yet and vcpkg is build qt with everything enabled. We could provide features in the future but for the time being lets focus on getting qt updated first.
If you want to minimize the dependencies yourself you need to modify the portfile of qt5-base with the configure option you would like qt5-base being build with.

[2020-03-04 08:32] sampper commented on #10188
I downgraded cmake to release version  --     CMake: 3.16.4 from rc1  CMake: 3.17.0-rc1.

Now the Extra dependency Threads::Threads is gone and building is started correctly.

[config-x64-windows-out.log](https://github.com/microsoft/vcpkg/files/4286144/config-x64-windows-out.log)

[2020-03-04 08:49] josuegomes commented on #9756
OP's problem is something else. It's likely a static/dynamic mismatch. Since Magick++ is already included this issue can be closed.

[2020-03-04 09:02] JackBoosY commented on #9971
Fixing in #10301.

[2020-03-04 09:36] jbar98 commented on #10298
Can you tell me what would be needed to change in that portfile?

[2020-03-04 10:21] LilyWangL commented on #10149
@DA40 Sorrt I am late. Could you please try to clone VCPKG to other drives and install port again?

[2020-03-04 10:24] DA40 commented on #10149
I've been able to install cairo by making the root of the C drive writeable. It would be better if VCPKG didn't try to create files there.

[2020-03-04 10:57] LilyWangL commented on #10299
@huang-lijin Thanks for posting this issue. Do you install tesseract failed? If install failed, please attach the log file `install-triplet-dbg-out.log`.

[2020-03-04 11:05] LilyWangL commented on #10149
When VCPKG installing port, it will create install files on directory _vcpkg/_. It need directory _vcpkg/_ is writeable. This issue has been fixed, so I am closing this issue for now.

[2020-03-04 11:05] #10149 closed

[2020-03-04 11:12] NancyLi1013 commented on #10300
Could you try to update vcpkg and build the new version 5.0.2?
Please help confirm if this version is the same issue.

[2020-03-04 11:53] huang-lijin commented on #10299
@LilyWangL I succeeded in installing Tesseract, but an error occurred when I ran tesseract.exe。When I enter vs debugging, I find that it is "__m128i packed1 = _mm_loadl_epi64" function error

[2020-03-04 11:55] PhoebeHui commented on #10282
@Nemoon, thanks for reporting this issue!

Could you please provide us the repro steps and repro code?

[2020-03-04 12:30] PhoebeHui commented on #10247
@define-private-public,  we have a docs about this, you can reference https://github.com/microsoft/vcpkg/blob/4d551ff4b3cea2f387b02ed69486a23b1be2fd73/docs/examples/overlay-triplets-linux-dynamic.md, let me know if you have any questions about this.

[2020-03-04 12:48] LilyWangL commented on #10245
@KotaAoyama Thanks for posting this issue. Due to `std::get` introduced in masOS 10.14, so installing io2d need masOS 10.14 or higher version.

[2020-03-04 12:48] YgabrielsY commented on #6476
Thanks for coming back at me, no the problem doesn't persist anymore!

[2020-03-04 12:48] #6476 closed

[2020-03-04 13:04] PhoebeHui commented on #10238
@elviiix, thanks for reporting this issue.

I will take a look at this issue.

[2020-03-04 13:23] LilyWangL commented on #10299
@huang-lijin If you have any question about using tesseract.exe, you can submit an issue on tesseract's source page: https://github.com/tesseract-ocr/tesseract/issues. There are more tesseract's contributors, they are more familiar with tesseract.

Thanks.

[2020-03-04 13:26] JackBoosY commented on #9756
@josuegomes Thanks for reply.

[2020-03-04 13:30] JackBoosY commented on #10249
I will fix them after #10082 merged.

[2020-03-04 13:38] JackBoosY commented on #10139
@theoractice There may be some problems there, which is why this message is displayed : )

So, does this issue resolved?

[2020-03-04 13:41] JackBoosY commented on #4834
I still cannot reproduce this issue, can anyone give me another sample code?

Thanks.

[2020-03-04 13:42] JackBoosY commented on #10095
Fixing...

[2020-03-04 13:46] cenit commented on #10188
Can you please open an issue upstream also to CMake?

[2020-03-04 13:55] GeneralAdmin commented on #10095
Perfect! I will try it again tomorrow!

[2020-03-04 14:46] PhoebeHui commented on #10152
@Sangguk-Cha, does this still be a problem for you?

[2020-03-04 14:47] PhoebeHui commented on #10185
@cgarmstr, does this still be a problem for you?

[2020-03-04 15:08] PhoebeHui commented on #9977
@dljjqy, sorry for my late reply.

Does this still be a problem for you? I can't repro this issue with latest vcpkg and vs2017.

PS F:\vcpkg\src> ./vcpkg install boost-math:x86-windows
Computing installation plan...
The following packages will be built and installed:
    boost-math[core]:x86-windows
Starting package 1/1: boost-math:x86-windows
Building package boost-math[core]:x86-windows...
-- Us

[2020-03-04 15:23] theoractice commented on #10139
The answer is NO. Recently I reinstalled Win10 and vcpkg, This time the following command
`vcpkg install opencv[ffmpeg,contrib]`
never succeeded.

[2020-03-04 23:15] define-private-public commented on #10247
@PhoebeHui thanks!  that works wonders.  I have it now working how I want it for Linux and Windows (I think I can manage OS X myself).  I don't have any more questions on how to use this, so I'll go and close this ticket.

Thanks again!

[2020-03-04 23:15] #10247 closed

[2020-03-05 00:30] Lsz-20 commented on #10300
Thanks for your help，I have deal it well now.O(∩_∩)O

[2020-03-05 00:30] #10300 closed

[2020-03-05 00:50] PhoebeHui commented on #10266
@past-due, thanks for your contribution!

The PR has been merged, so close this issue.

[2020-03-05 00:50] #10266 closed

[2020-03-05 00:56] PhoebeHui commented on #8795
@thierleft, the PR has been merged, please get latest vcpkg source and try again.

[2020-03-05 00:56] #8795 closed

[2020-03-05 00:59] GeneralAdmin commented on #10095
Do you think there is any way to get around the issue and install old version for example?

[2020-03-05 01:10] PhoebeHui commented on #9928
@mbeutel, feel free to summit a PR for this.

[2020-03-05 01:10] #9928 closed

[2020-03-05 01:13] huang-lijin commented on #10299
I know how to use testeract, I have used the official download of EXE file. However, I failed when I tried to use the EXE file created through ". / vcpkg install testeract: x64-windows-static".

[2020-03-05 01:40] mbeutel commented on #9928
Thanks; I just didn't have time yet. Next week, hopefully.

[2020-03-05 02:02] LilyWangL commented on #10263
Thanks for posting this issue. Port doctest has been updated to version 2.3.7, you can update vcpkg and rebuild it.

[2020-03-05 02:02] #10263 closed

[2020-03-05 02:05] LilyWangL commented on #10181
Thanks for posting this issue. This issue has been fixed, so I am closing this issue for now.

[2020-03-05 02:05] #10181 closed

[2020-03-05 02:17] JackBoosY commented on #10292
Hi @daef, thanks for reporting this issue!
I've added these features in #10303, please update vcpkg and rebuild usockets[ssl].

Thanks.

[2020-03-05 02:17] #10292 closed

[2020-03-05 02:25] JackBoosY commented on #8718
Hi everyone, I've fixed this issue in #9899, please update vcpkg and rebuild vtk.

Thanks.

[2020-03-05 02:25] #8718 closed

[2020-03-05 02:41] JackBoosY commented on #10095
@GeneralAdmin If the code has not changed much, I think the patch can be applied to the old version.

[2020-03-05 03:52] LeeGDavis commented on #6125
Not sure if this is the correct place for this, however...
@stephen-webb running your fork I get the following error on log4cxx on window with the `x64-windows` triplet.

[code]

[2020-03-05 04:07] stephen-webb commented on #6125
Just edit you copy of ports/log4cxx/portFile.cmake and replace the hash
with the actual hash. The retry the "vcpkg install log4cxx".

As the git master changes, the hash will change. I have not been updating
my vcpkg fork every time I commit to my log4cxx fork (and do not plan to
start doing that).

Regards
Stephen Webb

On Thu, Mar 5, 2020 at 2:52 PM Lee Davis <notifications@github.com> wrote:

[2020-03-05 04:09] LeeGDavis commented on #6125
Thanks @stephen-webb, sounds good!

[2020-03-05 04:25] JackBoosY commented on #10095
After some works, I found this issue should fixed in the latest version in vcpkg.
@GeneralAdmin Could you check this?

The workaround is here:
[#2002](https://github.com/PointCloudLibrary/pcl/issues/2002)
You can follow this to resolve it in version 1.9.1.

[2020-03-05 05:57] estradjm opened #10310 "[New Port Request] TFT-eSPI"
Library name: TFT-eSPI

Library description:
Arduino and PlatformIO IDE compatible TFT library optimised for the STM32, ESP8266 and ESP32 that supports different driver chips

Source repository URL:
git@github.com:Bodmer/TFT_eSPI.git

Project homepage (if different from the source repository):
https://github.com/Bodmer/TFT_eSPI

Anything else that is useful to know when adding (such as optional fe

[2020-03-05 07:09] LilyWangL commented on #10299
Could you please provide the command and repro steps which can use the EXE file to reproduce the function error? Thanks.

[2020-03-05 07:30] huang-lijin commented on #10299
[tesseract.zip](https://github.com/microsoft/vcpkg/files/4291502/tesseract.zip)
error for "tesseract.exe 111.tif out"

[2020-03-05 07:37] LeeGDavis commented on #6125
@stephen-webb making the hash correction allows the build to continue and it appears successful, however it looks like it is not able to find this package in cmake with find_package.  I imagine the cmake files are not being copied to some particular location expected by the CMAKE_TOOLCHAIN_FILE?  I'm new to vcpkg, so trying to get my head wrapped around all this.

[2020-03-05 07:50] LilyWangL commented on #10289
Thanks for posting this issue. Due to grpc has problems with exporting symbols, it only support static build. You can get more information from: #539 #535

[2020-03-05 07:52] IIFE commented on #10289
@LilyWangL Thanks for your reply.

OK that's no problem if it builds as a static lib. However, I just want to confirm my understanding. gRPC is built as a static lib, however it's linked against the dynamic CRT, correct?

Thanks.

[2020-03-05 08:33] Nemoon commented on #10282
Hello,
Fortunately, I was able to fix those errors regarding cppkafka library by changing the Visual Studio version from 2015 to 2017.
Thanks anyways! :)

[2020-03-05 08:33] #10282 closed

[2020-03-05 09:15] PhoebeHui commented on #10282
Great, thanks for your updates!

[2020-03-05 09:16] shalinsirwani opened #10312 "atk build failure"
**Host Environment**
- OS: [Windows]
- Compiler: vs142

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install atk`

**Failure logs**

Call Stack (most recent call first):
  scripts/cmake/vcpkg_install_cmake.cmake:24 (vcpkg_build_cmake)
  ports/atk/portfile.cmake:27 (vcpkg_install_cmake)
  scripts/ports.cmake:71 (include)

Error: Building package atk:x86-windows failed with: BUILD_FAIL

[2020-03-05 09:21] LilyWangL commented on #10194
@timzimm Sorry I am late. Could you please provide the codes which you want to use in your project?

[2020-03-05 09:38] NancyLi1013 commented on #10312
Hi @shalinsirwani
Thanks for posting this issue.
Could you please post the fail log?
BTW, I noticed that you used old version vcpkg. Could you please try to update vcpkg(2020.02.04) and build it again?

[2020-03-05 09:50] LilyWangL commented on #10289
If you build grpc:x86-windows, you will get a static lib and it's linked the dynamic CRT.

[2020-03-05 09:50] stephen-webb commented on #6125
What type of system are you using?

Have you read https://vcpkg.readthedocs.io/en/latest/users/integration/ ?

On Thu, Mar 5, 2020 at 6:37 PM Lee Davis <notifications@github.com> wrote:

[2020-03-05 10:07] MaverickTse commented on #5727
This is still a problem. repo.msys2.org is inaccesible from Hong Kong, Japan, Germany, San Francisco, etc...
Is it possible to use sourceforge as the default download source?

[2020-03-05 10:16] IIFE commented on #10289
Thanks for the confirmation.

[2020-03-05 10:16] #10289 closed

[2020-03-05 10:18] shalinsirwani commented on #10312
i downloaded vcpkg today

[2020-03-05 10:45] wuzangsama opened #10313 "[New Port Request] eXosip2"
Library name: eXosip2

Library description:
eXosip is a library that hides the complexity of using the SIP protocol for mutlimedia session establishement. This protocol is mainly to be used by VoIP telephony applications (endpoints or conference server) but might be also usefull for any application that wish to establish sessions like multiplayer games.

Source repository URL:
http://git.savannah.

[2020-03-05 11:21] JackBoosY commented on #5727
@MaverickTse That's msys official site... Just wait for fix would be okay.

[2020-03-05 11:37] MaverickTse commented on #5727
The situation has been over a year but MSYS2 side seems ignoring the problem. See:
https://github.com/msys2/MSYS2-packages/issues/1098

While i can change vcpkg_acquire_msys.cmake to use China's mirror for my own use, others probably would run into the same issue.... and the version of msys2 is old

[2020-03-05 11:38] NancyLi1013 commented on #10312
Please see above info.
You can use `git pull `to update vcpkg and use `vcpkg version` to check if the version is latest.

If there is still the same error, please provide the failure logs.

Thanks.

[2020-03-05 12:45] yamcenutzer commented on #9764
boost would now build if you could get bootsrap to build (but you need patch that first, i.e. #9955 isn't agreed upon yet )

[2020-03-05 12:49] teshanshanuka opened #10314 "libpng16.dll zlib.dll not found in Windows 10 Visual Studio 2019"
I am trying to run the [pcl visualizer example](http://pointclouds.org/documentation/tutorials/pcl_visualizer.php) code in Visual Studio 2019. The code builds successfully. But when I try to run, it gives me the error `The code execution cannot proceed because zlib.dll was not found...` even though I have `zlib:x64-windows` which I installed using `vcpkg`.

The errors occur when I try to create a

[2020-03-05 13:43] eitanhs opened #10316 "bond - please support building with DBOND_ENABLE_GRPC=TRUE"
****

**Is your feature request related to a problem? Please describe.**
Currently editing the portfile manually and speciying DBOND_ENABLE_GRPC=TRUE breaks the build

[code]

From bond documentation it seems that in order to build it requires some 'choco' packages:
activeperl golang ninja yasm
I'm not familiar with cmake so i'm not sure how and if it can be automated but since there's already a p

[2020-03-05 14:02] yamcenutzer commented on #9764
Even after enabling bootstrap e.g. by using the patch in 9955:
still can't install boost on centos7 due to failing python3 install
What's the point?

Give up Centos7  or revert back to state of 12-2019, where everything worked.

[2020-03-05 16:35] cenit commented on #9764
Exactly my point in the comment of the PR itself. Unfortunately it seems that now "boost-python" has been fixed, but in reality it is still depending on a broken python3, which makes impossible to do a "./vcpkg install boost" on linux successfully

[2020-03-05 16:45] LeeGDavis commented on #6125
@stephen-webb I did read through that integration and believe I have it correct, but wouldn't put it past me to miss something here...
Machine:
aws ami of Windows Server 2016
MSVC 19.24.28316.0
CMake 3.16

We pass in the Tool chain and default triplet to cmake when we call it.
Example: `cmake foo/bar -A x64 -DCMAKE_TOOLCHAIN_FILE=C:\vcpkg\scripts\buildsystems\vcpkg.cmake -DVCPKG_TARGET_TRIPLET=x64

[2020-03-05 16:50] LeeGDavis commented on #6125
@stephen-webb looking through the generated code it appears that there is no `log4cxxConfig.cmake`, but `log4cxx-targets.cmake` this might just be a naming convention issue?

[2020-03-05 17:18] chwarr commented on #10316
Those additional packages are needed to build gRPC from source only. However, in vcpkg, it would be possible to depend on the gRPC port--which already handles building gRPC. I expect that some changes to Bond's CMakeLists.txt would be needed to consume a pre-compiled gRPC library instead of building from source.

If you're interested in contributing this to Bond, we'd be happy to have such a PR.

[2020-03-05 18:33] Toxe commented on #7332
I am closing this, as this has been fixed and no longer a problem.

[2020-03-05 18:33] #7332 closed

[2020-03-05 20:51] strega-nil commented on #9927
Not being in the office and having access to a windows or linux machine is making diagnosing this much harder.

[2020-03-05 21:48] danperks commented on #1681
Trying to make a Crow project but, being that it's no longer maintained, I need Boost pre-1.70. Seems like a simple enough feature to have.

[2020-03-05 22:05] kevinlul opened #10318 "[sdl2-mixer] build failure on pre-Catalina macOS"
**Host Environment**
- OS: macOS 10.14.6
- Compiler: Apple clang version 11.0.0 (clang-1100.0.33.17)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install sdl2-mixer[libflac,libogg,mpg123]`

**Failure logs**
The key issue seems to be that `os/availability.h` either does not exist or is marked with `API_UNAVAILABLE` in older Xcode SDKs.

**Additional context**
Regression appears to be

[2020-03-05 23:04] Xenoxax opened #10320 "[osg] build failure"
**Host Environment**
- OS: Windows 10.0.18363
- Compiler: MSVC 19.24.28316.0
Windows SDK version 10.0.18362.0
Environment variable VCPKG_DEFAULT_TRIPLET=x64-windows

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install osg`

Building package osg[core]:x64-windows...
-- Downloading https://github.com/openscenegraph/OpenSceneGraph/archive/OpenSceneGraph-3.6.4.tar.gz...
-- Extracting so

[2020-03-05 23:42] #10095 closed

[2020-03-06 00:05] strega-nil commented on #9927
I'm getting an error while trying to build the docker image; are there any other docker images that might work?

[2020-03-06 00:58] PhoebeHui commented on #10254
@Noemata, the PR has been merged, please get vcpkg latest source and try again. Let me know if you have any issue about this.

[2020-03-06 00:58] #10254 closed

[2020-03-06 01:02] PhoebeHui commented on #10072
@Noemata, PR https://github.com/microsoft/vcpkg/pull/10301 has add abseil to support uwp, so this issue should be solved. Please get vcpkg latest and try again.

[2020-03-06 01:02] #10072 closed

[2020-03-06 01:28] stephen-webb commented on #6125
Yes, it is a naming problem. I will do a PR to fix the CMakeLists.txt.

Meanwhile you could try renaming log4cxx-targets.cmake to
log4cxxConfig.cmake

On Fri, Mar 6, 2020 at 3:50 AM Lee Davis <notifications@github.com> wrote:

[2020-03-06 02:58] compass00 commented on #9416
You can "cd jni" fold, then  "make -C libmupdf generate" , build again. I had same problem. I solved with this.

[2020-03-06 03:04] ZhengzhongSun opened #10321 "vc[ffmpeg] build failure"
**Host Environment**
- OS: [Windows 10 Pro]
  Package: ffmpeg:x64-windows
  Vcpkg version: 2020.02.04-nohash

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install ffmpeg:x64-windows`

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
    ffmpeg[avresample,core]:x64-windows
Starting package 1/1: ffmpeg:x64-windows
Building package ffmp

[2020-03-06 03:33] stephen-webb commented on #6125
After renaming, the following cmake code can by used to compile and link
find_package(log4cxx)
add_executable( myApplication ...)
target_include_directories(myApplication PRIVATE
$<TARGET_PROPERTY:log4cxx::log4cxx,INTERFACE_INCLUDE_DIRECTORIES>)
target_link_libraries( myApplication PRIVATE
$<TARGET_PROPERTY:log4cxx::log4cxx,IMPORTED_IMPLIB_RELEASE>)

On Fri, Mar 6, 2020 at 12:28 PM Stephen Webb <s

[2020-03-06 03:59] shalinsirwani commented on #10312
in this version of vcpkg "2020.02.04" problems solves.
thank you.
closing thread..:)

[2020-03-06 03:59] #10312 closed

[2020-03-06 04:06] LeeGDavis commented on #6125
Changing the name to `config` worked and I ran into another linking issue with vcpkg on another static lib I need to resolve first, but the "default" find_package seemed to work without error atm.  I'll test those other options shortly. Thanks again @stephen-webb!

[2020-03-06 04:12] akizminet commented on #5727
I have the same problem. [repo.msys2.org](repo.msys2.org) has died.

[2020-03-06 04:19] JackBoosY commented on #9971
Hi @Noemata @FrayxRulez, thanks for reporting this issue.
I've fixed it in #10301, please update vcpkg and rebuild grpc.

Thanks.

[2020-03-06 04:19] #9971 closed

[2020-03-06 04:25] bogdanlytvynovskyi opened #10322 "MSYS2 acquisition failed"
**Describe the bug**
When doing fresh build from vcpkg anything that requires msys2, build will fail due to repo.msys2.org being down

**Environment**
- OS: Windows
- Compiler: NA

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install ffmpeg
2. See error

**Expected behavior**
I would expect for msys retrieval code target mirrors in case repo.msys2.org is down

msys2 issue reported

[2020-03-06 04:30] JackBoosY commented on #8281
Hi @gdiObjects, thanks for reporting this issue.
I'v fixed it in #10105, please update vcpkg and rebuild sdl1.

Thanks.

[2020-03-06 04:30] #8281 closed

[2020-03-06 06:45] NancyLi1013 commented on #10277
The PR has been merged. This issue should be fixed now.
Please try to update vcpkg and build this port again.

[2020-03-06 06:45] #10277 closed

[2020-03-06 06:50] NancyLi1013 commented on #10264
@xianglli
Does this issue still exist on your local now?

[2020-03-06 07:27] JackBoosY commented on #5727
Since this issue  lasts too long, please track #10322.

Thanks.

[2020-03-06 07:27] #5727 closed

[2020-03-06 07:31] LilyWangL commented on #9988
@pudding186 Sorry I am late.
Thans for posting issue. Did you install libncurses5-dev before installing libmysql? Could you please attach the error log file: install-x64-linux-dbg-out.log?

[2020-03-06 08:32] shalinsirwani opened #10323 "[New Port Request] <gdl>"
Library name:

Library description:

Source repository URL: https://gitlab.gnome.org/GNOME/gdl

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2020-03-06 09:12] JackBoosY commented on #10322
Related: [#1098](https://github.com/msys2/MSYS2-packages/issues/1098)

[2020-03-06 09:20] wuzangsama opened #10324 "[New Port Request] jrtplib"
Library name: jrtplib

Library description: a C++ implementation of the RTP(Real-time Transport Protocol)

Source repository URL:
https://github.com/j0r1/JRTPLIB

Project homepage (if different from the source repository):
https://github.com/j0r1/JRTPLIB

Anything else that is useful to know when adding (such as optional features the library may have that should be included):
maybe should rely on

[2020-03-06 09:56] pudding186 commented on #9988
thanks for your reply,i'm sure that install libncurses5-dev has installed and please check attached file

At 2020-03-06 15:31:25, "Lily" <notifications@github.com> wrote:

@pudding186 Sorry I am late.
Thans for posting issue. Did you install libncurses5-dev before installing libmysql? Could you please attach the error log file: install-x64-linux-dbg-out.log?

—
You are receiving this because you w

[2020-03-06 10:41] JordiGR-TheBreachStudios commented on #9549
Hi,

I'm facing the same problem. I found out that any access to https://raw.githubusercontent.com is blocked by our corporate network, for security reasons.
Could the boost-compatibility package be built without needing to download the file https://raw.githubusercontent.com/boostorg/boost/boost-1.72.0/LICENSE_1_0.txt?
Any manual modification to some config file is not an option, since the solutio

[2020-03-06 13:33] jepessen opened #10327 "[osgearth:x64-linux] build failure in linux 64 bit: maybe problems with OpenSSL"
**Host Environment**
- OS: Kubuntu 19.10 64 bit
- Compiler: gcc 9.2.1

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install osgearth`

**Failure logs**
[failure.txt](https://github.com/microsoft/vcpkg/files/4298536/failure.txt)

**Additional context**
It seems that it does not find some symbol related to openssl, or something like that.

[2020-03-06 13:34] eix128 opened #10328 "Any command for downloading all the repo"
Is there any way to download all the ports to offline disk ?
So that i can use it without internet.

We have big disks , size doesnt matter.
Sometimes we need to work offline machines.

I just need to filter by :
linux-x86 , linux-x64 , windows-x64 , windows-x86 , ARM Win/Linux , RiscV Win/Linux also

[2020-03-06 14:21] jepessen commented on #10320
I've had a similar issue. The problem seems to be that some osg examples, like `osgmovie`, need `sdl1` package installed in order to work, while osg checks only for `sdl2`.

Can you run `vcpkg install sdl1:x64-windows` and then re-run `vcpkg install osg:x64-windows`?

[2020-03-06 15:40] Xenoxax commented on #10320
Seems like installing sdl1 allows osg to compile. It looks like the code was written to support one or the other, but I'm guessing that's not the case?

[2020-03-06 15:47] Nemoon opened #10329 "vcpkg manager and Visual Studio 2017 (vc141) compilation"
Hello!

I have used `vcpkg` to compile `cppkafka` static library in Windows 10, and everything worked perfectly, I have the headers and the library files available.

On the other hand, I am using Visual Studio 2017 to compile my project together with the `cppkafka` static library. I read in https://docs.microsoft.com/en-us/cpp/porting/binary-compat-2015-2017?view=vs-2019 that the toolset version f

[2020-03-06 15:51] Voskrese commented on #10322
copy
https://github.com/msys2/MSYS2-packages/tree/master/pacman-mirrors

to
...\vcpkg\downloads\tools\msys2\msys64\etc\pacman.d

[2020-03-06 16:12] Voskrese commented on #10296
release https://github.com/google/s2geometry/archive/v0.9.0.tar.gz

build ok, win x64

`Build-Depends: gtest, glog, gflags, openssl
`
dynamic
[code]

static
[code]

[2020-03-06 16:56] jepessen commented on #10320
It should be. I'm not an expert of SDL so I don't know if it's a matter of only configuring the `osgmovie` example project for using `sdl2` instead of `sdl1`, or also some code must change, but I've noticed in the log that it was something related to some `sdl` missing header, so I've tried. I was not able to check and make a PR because I was busy with personal stuff.

[2020-03-06 16:57] #10329 closed

[2020-03-06 17:57] L4ZZA opened #10331 "boost-test bringing wrong libs [Visual studio 2019]"
****
I'm trying to install boost-test through vcpkg and include it to Visual Studio 2019, but there is no way to specify the microsoft compiler version and by default vcpkg installs vc140 which is for VS 2015.

Either add an option to choose which compiler to support or download the latest by default.
(see error below)
[code]

Similar to #8989  but I'm not using CMake

[2020-03-06 18:15] vejmartin commented on #357
The Skia port is now (https://github.com/microsoft/vcpkg/commit/e368f0f4ce1cc23513d5aaf44bb7f294c1cd355e) available for macOS and Windows (x64). Linux and the other targets supported by Skia might work with the port as it now, but they haven't been tested.

[2020-03-06 20:01] bogdanlytvynovskyi commented on #10322
@JackBoosY  - it seems that vcpkg_acquire_msys.cmake has support for mirrors. Following patch did a trick for me. Would you kindly take care of creating proper PR for this?
[msys2_mirror.txt](https://github.com/microsoft/vcpkg/files/4300204/msys2_mirror.txt)

[2020-03-06 20:10] LeeGDavis commented on #6125
@stephen-webb so far that looks good.   I'm running into a separate issue with jsoncpp finding headers in nested directories, so once that is resolved there could be something else, but I will keep you posted.

[2020-03-06 21:07] aholzinger opened #10332 "How do I specify the include files location in portfile.cmake?"
I'm trying to write a portfile for a library, let's call it _the_library_ which is built with cmake. The include hierarchy for using this  library is:

With the standard _portfile.cmake_ approach the _${VCPKG_ROOT_DIR}/installed/${TARGET_TRIPLET}/include_ directory after installation looks like this (listing only the new directories, not those of already previously installed libraries):

This is n

[2020-03-06 23:58] jabra98 opened #10334 "Is it possible to disable the post build script"
Hello, is there a way to disable the post build script on windows?
That is the execution of the vcpkg/scripts/buildsystems/msbuild/applocal.ps1

[2020-03-07 03:42] FullyArticulate commented on #10220
I uninstalled Visual Studio Community 2017, and installed VSC 2019. Now it works just fine. I'm not sure if it was a unique-to-me, or specific to VSC2017 issue, but VSC 2019 fixed it.

[2020-03-07 04:03] MaverickTse commented on #10322
The one reason that I'm reluctant to make a PR is that any "mirror" hardcoded in the cmake script is going to receive increased traffic, and I cannot tell if any mirror is more reliable than others (Personal server is out, China server... may not be comfortable for everyone).

Also the pacman -Syu command will also access the default repo.msys2.org.

In addition, running pacman -Syu from a 2018 ar

[2020-03-07 04:21] bogdanlytvynovskyi commented on #10322
This is the reason mirrors exist, unless I am missing something. Working is better than non working IMO.

Yes it does, and then resorts to other mirrors.

Not sure specifically about this concern. I took exactly same version as currently used and it worked pretty well for me

[2020-03-07 04:35] LeeGDavis commented on #6125
@stephen-webb Ran into another problem while working through a separate issue.  I tried the triplet `x64-windows-static` (was using `x64-windows` previously) and got the following exception:

[code]

[2020-03-07 11:11] bbblanccc opened #10336 "[expat] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: Cmake

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg.exe install expat`

**Failure logs**
[code]

**Additional context**
I tried `cmake.exe -E tar zxvf libexpat-libexpat-R_2_2_7.tar.gz` and failed again. Seems like the tar.gz archive contains error or packed just for linux.

[2020-03-07 12:21] timzimm commented on #10194
Sure. Here is a minimal example. It is essentially the first example in the FFTW documentation:
[code]
As you can see, the provided target only links against the single threaded version of the library.
To my understanding there should be something like a "fftw3_omp" target that links against libfftw3_omp and the openmp runtime. Note that the libraries were build:
[code]

[2020-03-07 13:30] linquize commented on #10299
What kind of error at `_mm_loadl_epi64`?
Memory address misalignment issue?
What CPU did you use?

[2020-03-07 13:33] linquize commented on #10328
Not yet.

When you build a package, some tools (binaries) are downloaded, and the source code of the libraries are downloaded, but not the binaries of the libraries.

[2020-03-07 14:02] linquize commented on #10336
Can you `git pull` latest vcpkg and try again?
Visual Studio version?
CMake is not a compiler.

[2020-03-07 14:26] linquize opened #10337 "[zopfli] update to 1.0.3"
Library name: zopfli

New version number: 1.0.3

[2020-03-07 14:27] longhuan2018 opened #10338 "[qt5-imageformats] build failure"
**Host Environment**
- OS: windows 10
- Compiler: vs2017

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install qt5[latest]:x64-windows`

**Failure logs**
[code]

[2020-03-07 14:36] longhuan2018 commented on #10338
I found that after compiling libwebp, 4 library files will be generated, namely webp.lib, webpdemux.lib, webpdecoder.lib, libwebpmux.lib, and the WebPNewInternal method is in the libwebpmux.lib library file.
But in the portfile.cmake file of qt5-imageformats, only webp and webpdemux are referenced.
[code]
I think this is the cause of the problem，When I added a reference to the libwebpmux library,

[2020-03-07 15:52] kreuzerkrieg opened #10339 "[avro-c] build failure"
- OS:  Linux
- Compiler: GCC9.2.1
Steps to reproduce the behavior:
`./vcpkg install avro-c`
-Cut and past the appropriate build messages from the console output.
-- The C compiler identification is GNU 9.2.1
-- The CXX compiler identification is GNU 9.2.1
-- Check for working C compiler: /usr/lib/ccache/cc
-- Check for working C compiler: /usr/lib/ccache/cc -- works
-- Detecting C compiler ABI inf

[2020-03-07 16:14] linquize commented on #10314
Such problem only exists in **Debug** build.
**Release** build has no problem.

[2020-03-07 17:34] Garvit13 opened #10341 "bash: .vcpkg: command not found Trying to install Vcpkg for Vs code"
So, when I tried to install the Vcpkg for VS code I downloaded the repo and opened the bootstrap-vcpkg.bat a cmd window gets opened and it's just like a new window and gets closed in a sec. Then when I type the command vcpkg in Bash, I get the error...

bash: .vcpkg: command not found...in bash

 and...

.\vcpkg: The term '.\vcpkg' is not recognized as the name of a cmdlet, function, script file,

[2020-03-07 18:24] timautry commented on #10341
@Garvit13
- I assume you are using a Linux distro as you mention **bash**
- cd to the _vcpkg-root_ folder/directory where git put the vcpkg source and components
- at the command line run **./bootstrap-vcpkg.sh** to compile and link _vcpkg_
- then **./vcpkg integrate install** to integrate vcpkg into the linux development environment
- and then **./vcpkg integrate bash** to add vcpkg shell command

[2020-03-07 18:59] olafurw opened #10343 "[stlab] Complains about missing Boost header files"
**Host Environment**
- OS: WSL Ubuntu 18.04
- Compiler: gcc 7.4.0 (also tried clang 9)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install stlab`
Then when you run cmake, it complains about missing boost header files, even though there is no marked boost dependency on windows or linux. Only boost variant on osx.

**Failure logs**
[code]

**Additional context**
My best guess is if I

[2020-03-07 19:20] FelixPetriconi commented on #10343
I have never used this packaging system. I know that it exists :-)
The point is, that you need boost only for the unit tests and on Mac, because clang on Mac still does not have std::optional support. On VS it is not needed.
If something complains that boost is missing, then it is a mistake.
I can look into it later. The upcoming ACCU conference and recently the Corona implications require all my

[2020-03-07 19:27] olafurw commented on #10343
It's all good. I'm able to work around it for now. Have fun at ACCU.

[2020-03-07 22:10] barcharcraz opened #10344 "qt5[latest] update to 5.14.1"
Library name:
qt5[latest]
New version number:
5.14.1

[2020-03-07 22:43] stephen-webb commented on #6125
I have updated my vcpkg fork from https://github.com/microsoft/vcpkg.git.

It fixed a strange problem I had (and itno longer checks the hash when
using the head of a git repository)

On Sat, Mar 7, 2020 at 3:35 PM Lee Davis <notifications@github.com> wrote:

[2020-03-08 03:13] LeeGDavis commented on #6125
Tried that fork just now and got what appears to be the same error, however a lot more output from the config-x64-windows-static-out.log:
[code]

C:\vcpkg\buildtrees\log4cxx\config-x64-windows-static-out.log
[config-x64-windows-static-out.log](https://github.com/microsoft/vcpkg/files/4302770/config-x64-windows-static-out.log)

[2020-03-08 04:49] Chingyat opened #10345 "How do I enable auto-completion for powershell on Linux"
Hi. I am using vcpkg on **Linux** and my shell is **Powershell** 7.0.0. I want to enable auto-completion of commands, but `./vcpkg integrate powershell` did not seem to work on Linux. Is there a way to  enable
auto-completion for Powershell on Linux?

[2020-03-08 06:54] bbblanccc commented on #10336
The vcpkg is already latest 2020.02.04-nohash, VS is Community 2019 ver 16.4.5.

The PowerShell said:

[code]
Thanks for correcting, I suggest the compiler is gcc (mingw).

[2020-03-08 08:04] li-wu commented on #10145
Any update for this issue?

[2020-03-08 08:57] Flame12220 opened #10347 "[New Port Request] <11Zip>"
Library name: 11Zip

Library description: It is a zip library for C++

Source repository URL: https://github.com/Sygmei/11Zip

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2020-03-08 09:36] linquize commented on #10336
What is the content of `D:\CDH\vcpkg\buildtrees\expat\extract-err.log`

[2020-03-08 09:36] linquize commented on #10336
What is the content of `D:\CDH\vcpkg\buildtrees\expat\extract-err.log`?

[2020-03-08 09:41] bbblanccc commented on #10336
It's just :
[code]

[2020-03-08 10:11] stephen-webb commented on #6125
I have changed the portfile.cmake  to allow static build in my vcpkg fork.
The patch is as follows:

diff --git a/ports/log4cxx/portfile.cmake b/ports/log4cxx/portfile.cmake
index 1216eec2c..59e2a5c83 100644
--- a/ports/log4cxx/portfile.cmake
+++ b/ports/log4cxx/portfile.cmake
@@ -10,7 +10,7 @@ vcpkg_from_github(
 vcpkg_configure_cmake(
     SOURCE_PATH ${SOURCE_PATH}
     OPTIONS
-        -DLOG4C

[2020-03-08 10:25] linquize commented on #10336
Did you enable Windows 10 **Developer Mode**?
This tar file has symbolic links inside (`README.md` is a symbolic link).

[2020-03-08 11:07] cenit commented on #10321
#9818
We were able to fix the issue removing the downloads\tools\msys2 folder and then restarting the build. Might be problematic now since the msys2 website for redownloading is down and the PR to fix the issue is still pending

[2020-03-08 13:50] linquize commented on #10336
What is your Windows 10 version?

[2020-03-08 14:01] linquize commented on #10336
Can you delete `downloads` directory and try again?

[2020-03-08 14:15] tajuddinkhandaker commented on #4689
When I call cmake in linux terminal (HW arch i386) it finds gladConfig.cmake or glad-config.cmake. But glad is already downloaded and installed using vcpkg in packages directory where in respective share folder contains config files. I could not find the reason why the following change in CMakelists.txt shows error while executing cmake.

[code]

[2020-03-08 14:15] luketrevorrow commented on #9660
Also getting the same issue - I will try the static building of SFML like @esduran has done.

[2020-03-08 14:38] linquize opened #10349 "[vcpkg] Support building vcpkg.exe with mingw"
Currently, `bootstrap-vcpkg.bat` requires Visual Studio installed to build `vcpkg.exe`.
It would be nice to support building `vcpkg.exe` with mingw without Visual Studio installed.
Detect `g++` present in `%PATH%`.

[2020-03-08 14:49] Noemata opened #10350 "grpc:x64-uwp build failure"
**Host Environment**
- OS: Windows 1909 (OS Build 18363.628)
- Compiler: VS2019 Version 16.3.9

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg install grpc:x64-uwp --recurse`

**Failure logs**
Building package abseil[core]:x64-uwp...
-- Note: abseil only supports static library linkage. Building static library.
-- Downloading https://github.com/abseil/abseil-cpp/archive/06f0e767d13d4d6

[2020-03-08 16:00] LeeGDavis commented on #6125
@stephen-webb I just ran this through and got a new error, I'm going to be out for most of the day today, but will try and have a look at your config this evening, if not Monday.

[code]

[install-x64-windows-static-dbg-out.log](https://github.com/microsoft/vcpkg/files/4303462/install-x64-windows-static-dbg-out.log)
[config-x64-windows-static-out.log](https://github.com/microsoft/vcpkg/files/43034

[2020-03-08 17:31] FullyArticulate commented on #10220
I've reopened this because I want to make sure it's seen by vcpkg maintainers--it's possibly a root cause for many "it doesn't work at all" issues under Windows.

The issue was *NOT* VSC 2017 vs 2019. It was in fact a case sensitive filesystem on Windows.

I had used WSL to create my base development directory long ago. By default, WSL turns on case sensitivity for any directories it creates. When

[2020-03-08 18:19] Voskrese opened #10352 "[New Port Request] openvkl"
Library name: openvkl

Library description: Intel(R) Open Volume Kernel Library

Source repository URL: https://github.com/openvkl/openvkl

**deps**
embree3 **(ispc)** , glfw3, tbb, [ospcommon](https://github.com/ospray/ospcommon)

**[tools]** ispc - src [ [https://github.com/ispc/ispc](https://github.com/ispc/ispc) ] prebuilt [ [https://sourceforge.net/projects/ispcmirror/files/v1.12.0/](https://

[2020-03-08 18:23] Voskrese commented on #10352
[code]

`cmake.exe . -LA
`

[code]

[2020-03-08 18:29] Voskrese opened #10353 "[embree3 ] ISPC, AVX512SKX"
add feature

[code]

**[tools]** ispc - src [ [https://github.com/ispc/ispc](https://github.com/ispc/ispc) ] prebuilt [ [https://sourceforge.net/projects/ispcmirror/files/v1.12.0/](https://sourceforge.net/projects/ispcmirror/files/v1.12.0/) ]

:((

[code]

[2020-03-08 18:41] Noemata commented on #10350
I noticed this being part of the build: ninja -v

If I used the artifacts generated from the above and built things directly with CMAKE, abseil could build.  I don't understand the build process well enough to figure out how to remove the usage of "ninja", it doesn't look like its needed.

[2020-03-08 18:53] Voskrese commented on #10353
`-DEMBREE_ISA_AVX512SKX=ON
`
**default this option is turned OFF.**

[2020-03-08 19:21] Noemata commented on #10350
Note: I did try installing ninja (no go).  And I also removed the "PREFER_NINJA" in ports/abseil/portfile.cmake

Am completely mystified where PREFER_NINJA may be coming from, or why it's not used when it's on my system.

[2020-03-08 19:23] ylluminate commented on #10322
After a fresh install from downloading and installing from a nightly installer build, where do you put the mirror list so that `pacman -Syu` works again?

Out of the box this simply fails and doesn't try to pull from mirrors for me...

[2020-03-08 19:49] RageLog opened #10356 "[tensorflow] build failure"
- OS:windows
- Compiler: x64-x86
Error: Building package tensorflow-cc:x64-windows-static failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `.\vcpkg update`, then
submit an issue at https://github.com/Microsoft/vcpkg/issues including:
  Package: tensorflow-cc:x64-windows-static
  Vcpkg version: 2019.09.12-nohash

all tensorflow pkg gave to me same error.

[2020-03-08 23:16] Noemata commented on #10350
Didn't realize this gets installed by default:

C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\Common7\IDE\CommonExtensions\Microsoft\CMake\Ninja>

So I'm even more mystified why the ninja command fails.

[2020-03-08 23:18] blakat360 opened #10359 "intelrealsense2 build failure"
**Host Environment**
- OS: windows
- Compiler: visual studio 16 2019
-vcpkg version: 2020.02.04-nohash

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install realsense2`
also tried
`./vcpkg install realsense2:x64-windows`
and
`./vcpkg install realsense2:x64-windows-static`

**Failure logs**
all the logs look very similar to this

Error: Building package realsense2:x64-windows-static f

[2020-03-08 23:22] MaverickTse commented on #10322
At lease the 20190524 xz version works for me. Tested with building icu:x64-windows. The older 2018 version has problem with mirror however.
I'd refrain from using nightly... can be too buggy for an important infrastructure

[2020-03-08 23:29] MaverickTse commented on #10322
There is a PKGBUILD package in the github msys2 repo that handles mirror:

https://github.com/msys2/MSYS2-packages/tree/master/pacman-mirrors

[2020-03-08 23:30] Noemata commented on #10350
When navigating to this working artifact directory: D:\vcpkg\buildtrees\abseil\x64-uwp-rel\vcpkg-parallel-configure

And executing ninja, you get the same results as portions of the above.

  CMake will not be able to correctly generate this project.
Call Stack (most recent call first):
  CMakeLists.txt:33 (project)

-- Configuring incomplete, errors occurred!
See also "D:/vcpkg/buildtrees/abseil/

[2020-03-08 23:36] Noemata commented on #10350
Yet CMAKE is able to gen the abseil lib when run against the VCPKG CMakeLists.txt in this location:

D:\vcpkg\buildtrees\abseil\src\4e0fc8bc74-c40446395f

[2020-03-09 01:10] huang-lijin commented on #10299
My CPU is Intel Pentium G3220.

[2020-03-09 01:15] huang-lijin commented on #10299
My CPU is Intel Pentium G3220.
Yes, the error is memory address misalignment issue.
I find some data, some people say it is the Instruction set error.
buy my CPU is support SSE4. So I don't know why.

[2020-03-09 02:25] NancyLi1013 commented on #9665
@MaxKruse
Thanks for your efforts on this issue.
Since the new PR has been merged. I close it now.

[2020-03-09 02:25] #9665 closed

[2020-03-09 02:29] stephen-webb commented on #6125
It seems that linking log4cxx statically on Windows is going to be very
difficult. Are you sure you need to link statically?

On Mon, Mar 9, 2020 at 3:00 AM Lee Davis <notifications@github.com> wrote:

[2020-03-09 02:55] NancyLi1013 commented on #9883
Hi @igchor
Thanks for posting this issue.
This port has been updated to 1.8 now.
Please try to update vcpkg and use it.

[2020-03-09 02:55] #9883 closed

[2020-03-09 03:30] LeeGDavis commented on #6125
Yes, as far as I understand.  This is a custom app that ships as a single executable with the exception of libcef.  I thought things were being statically linked until we ran into a problem with boost linking and it seemed the issue was we were not setup with the right `static` triplet, but in doing so uncovered the issues above.

To provide a little more context. This is a pre-existing applicatio

[2020-03-09 03:39] ashriram commented on #10173
It seems to be related to this
" /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/clang++ -stdlib=libc++ -headerpad_max_install_names  -arch x86_64 -Wl,-syslibroot,/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.15.sdk -mmacosx-version-min=10.15 -Wl,-rpath,@executable_path/../Frameworks -o jasper main.o   -L/Users/a

[2020-03-09 04:17] stephen-webb commented on #6125
OK, I think I have it worked out. I have updated my fork of log4cxx with
the changes

On Mon, Mar 9, 2020 at 2:30 PM Lee Davis <notifications@github.com> wrote:

[2020-03-09 04:19] stephen-webb commented on #6125
Note that you must define LOG4CXX_STATIC when compiling any file that
includes a log4cxx header file.

[2020-03-09 04:29] stephen-webb commented on #6125
You will also need to include apr-1
find_library(APR_LIBRARIES NAMES apr-1)

On Mon, Mar 9, 2020 at 3:19 PM Stephen Webb <swebb2066@gmail.com> wrote:

[2020-03-09 04:32] LeeGDavis commented on #6125
Ohh, missed that last one. I will kick this off right now and let you know.  Thanks again @stephen-webb!

[2020-03-09 04:50] NancyLi1013 commented on #10341
Hi @Garvit13

Thanks for posting this issue.
Please help confirm if you do as the following steps on Windows platform:
[code]
Only when running `.\bootstrap-vcpkg.bat` successfully, then execuate ` ./vcpkg xxx `.

@timautry Thanks for your above info for this issue.

[2020-03-09 04:57] ashriram commented on #10173
Done running configuration tests.

Configure summary:

Further Image Formats:
  JasPer ................................. no
  MNG .................................... no
  TIFF ................................... yes
    Using system libtiff ................. yes
  WEBP ................................... yes
    Using system libwebp ................. yes

ERROR: Feature 'jasper' was enabled, but

[2020-03-09 05:01] LeeGDavis commented on #6125
Oddly ran into the hash issue again.  I am running off of master.
[code]

[2020-03-09 05:36] stephen-webb commented on #6125
Not odd, as I am not updating my vcpkg fork every time I commit to my
log4cxx fork.

I have added another commit to handle the 2.2.7 version of expat used by
vcpkg.

[2020-03-09 05:39] LeeGDavis commented on #6125
NP, I can deal with that hash on my end!

[2020-03-09 06:14] LeeGDavis commented on #6125
I think I need to update my cmake config from log4cxx::log4cxx to just log4cxx in target_include_directories and target_link_libraries.  Going to kick this off and will check in the am. I feel like I can almost see the light.

[code]

[2020-03-09 07:27] ZhengzhongSun commented on #10321
Thanks! This solution works for me.

[2020-03-09 07:27] #10321 closed

[2020-03-09 08:34] NancyLi1013 commented on #10336
Hi @bbblanccc
Thanks for posting this issue.
I cannot reproduce this issue on my local.
Could you please refer to #6059 to try it again?

@linquize
Thanks for your above guides for this issue.

[2020-03-09 08:49] bbblanccc commented on #10336
Really sorry for not responding, and thanks for your help 🤝  @linquize. The problem is caused by locale settings (UTF-8) and is solved!
@NancyLi1013 I've changed the encoding of win and the problem was solved, thanks a lot! 👍

[2020-03-09 09:12] PhoebeHui commented on #10220
@FullyArticulate, for the issue that you encountered before, it's not specific to VSC2017 issue, it should be relate to VS setting up.

For the case sensitivity issue, thanks for bring up this!
Do you share the folder that created by WSL? if so, this might be expected for me, since the folder should be controlled by WSL, you might need to clone vcpkg by windows. I don't have rich experience of usi

[2020-03-09 09:23] PhoebeHui commented on #10356
Duplicated to https://github.com/microsoft/vcpkg/issues/7995, also has Upstream issue https://github.com/tensorflow/tensorflow/issues/32228 to track.

[2020-03-09 09:23] #10356 closed

[2020-03-09 10:13] brunok2017 opened #10360 "itk:x86-windows build failure"
**Host Environment**
- OS: [Windows 10]
- Compiler: vs2017

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install itk:x86-windows'

**Failure logs**
CMake Error at scripts/cmake/vcpkg_execute_build_process.cmake:136 (message):
    Command failed: D:/vcpkg/vcpkg/downloads/tools/cmake-3.14.0-windows/cmake-3.14.0-win32-x86/bin/cmake.exe --build . --config Debug --target install -- -v

[2020-03-09 11:59] LilyWangL commented on #10345
@Chingyat Thanks for posting this issue. You can install bash-completion by command `yum -y install bash-completion` or `sudo apt-get install bash-completion`.

[2020-03-09 12:02] NancyLi1013 commented on #10336
@bbblanccc
Thanks for your instant feedback.
Since this issue is solved now. I close it.

[2020-03-09 12:02] #10336 closed

[2020-03-09 12:08] NancyLi1013 commented on #10360
Duplicated to #9891. Let's track this issue here.

[2020-03-09 12:08] #10360 closed

[2020-03-09 12:22] LilyWangL commented on #10359
@blakat360 Thanks for posting this issue. Please attach the install log file: _[VCPKG_path]/buildtrees/realsense2/install-x86-windows-dbg-out.log_

[2020-03-09 12:36] NancyLi1013 commented on #10192
@grimgort
Does this issue still exist now?

[2020-03-09 13:20] LilyWangL commented on #10327
This port depends on gdal. Due to gdal build failed on Linux, the related issue: #8943 #6680 #9068. Waiting for gdal build fixed, need test this port again.

[2020-03-09 13:27] NancyLi1013 commented on #5051
Hi @gocarlos
Thanks for posting this issue.
Sorry for the late reply.
`rocksdb `has been updated. Could you please update vcpkg and try to build it again?

[2020-03-09 13:51] FSund opened #10361 "realsense2[openni2] build failure"
**Host Environment**
- OS: Windows 10.0.18363
- Compiler: MSVC v142

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install realsense2[openni2]`

I have `VCPKG_DEFAULT_TRIPLET = x64-windows`

**Failure logs**
[code]

[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/4306960/install-x64-windows-dbg-out.log)
[install-x64-windows-rel-out.log](https://github.com/mi

[2020-03-09 14:27] Nemoon opened #10362 "vcpkg library files and Visual Studio 2017 compiler version"
Hello!

I have used `vcpkg` to compile `cppkafka` static library in Windows 10, and everything worked perfectly, I have the headers and the library files available.

On the other hand, I am using Visual Studio 2017 (version 15.9.20) to compile my project together with the `cppkafka` static library. I read in https://docs.microsoft.com/en-us/cpp/porting/binary-compat-2015-2017?view=vs-2019 that the

[2020-03-09 14:39] armitagemderivitec commented on #9927
Hi @strega-nil,

Try this:
[code]

With the CMake/Ninja section it will work, without it will not.

Thanks

Mike

[2020-03-09 15:06] yurybura commented on #10331
@L4ZZA, please check your project settings. To correct this error, you need to go into your `Project Properties` then into `C/C++`, then `Code Generation`, and check the value of `Runtime Library`. Try to build with selected  `Multithreaded Debug DLL` for Debug configuration.

[2020-03-09 15:15] Chingyat commented on #10345
@LilyWangL  I am not using bash. I am using PowerShell.

[2020-03-09 15:17] Chingyat commented on #10345
@LilyWangL  You mean PowerShell can take advantage of bash-completion to complete the commands?

[2020-03-09 15:24] Voskrese opened #10363 "[New Port Request] ospray"
Library name: ospray

Library description: An Open, Scalable, Portable, Ray Tracing Based Rendering Engine for High-Fidelity Visualization

Source repository URL: https://github.com/ospray/ospray

Project homepage (if different from the source repository): http://ospray.org/

**deps**
[embree (ispc)](https://github.com/microsoft/vcpkg/issues/10353), tbb, glfw3, [openvkl](https://github.com/microso

[2020-03-09 15:26] yurybura commented on #10331
Remark about library names:
VCPKG builds Boost libraries with latest available version of VS (VS2019 in your example). After build VCPKG renames all libs from *-vc142* to *-vc140*. It is safe because starting from VS2015 CRT version hasn't been changed and built binaries must be binary compatible. More information:
https://docs.microsoft.com/en-us/cpp/c-runtime-library/crt-library-features

[2020-03-09 16:21] FullyArticulate commented on #10220
Hi Phoebe,

You can reproduce it be creating a directory within WSL in the DOS filesystem. For example, in WSL: "mkdir /mnt/c/test" will create C:\test.

At that point, whether you git clone in windows or WSL doesn't matter--that C:\test directory is now marked as case sensitive, and all of its children will inherit that setting.

I was explicitly cloning vcpkg, bootstrapping, and installing all w

[2020-03-09 16:24] LeeGDavis opened #10364 "After specifying CMAKE_TOOLCHAIN_FILE linking standard libraries odbc32 or mswsock fail"
Window Server 2016
MSVC 19.24.28316.0
CMAKE 3.16.x
Triplet: x64-windows-static

Migrating some libs to vcpkg and after setting the `CMAKE_TOOLCHAIN_FILE` it appears linking standard libraries odbc32 or mswsock among others fail, where they were working previously...

[code]

[2020-03-09 16:43] LeeGDavis commented on #10364
This could be an issue with us using CEF and what they call standard libs not getting picked up...

[2020-03-09 16:55] teshanshanuka commented on #10314
@linquize *Debug* build of vcpkg? Or PCL? How do I build the *release* version?

[2020-03-09 18:44] traversaro opened #10365 "icu port on Windows creates in its buildtree files with names that cannot be deleted from command line with Powershell or Git Bash"
**Describe the bug**
icu port on Windows creates in its buildtree files with names that cannot be deleted from command line with Powershell or Git Bash

**Environment**
- OS: Windows
- Compiler: VS2019

**To Reproduce**
On Git Bash:
[code]
This will fail with the following message:
[code]
If you check, it seems that those directories contain a  file named `C:`.
Deleting the folder is also impossib

[2020-03-09 19:33] LeeGDavis commented on #6125
@stephen-webb That appears to work!!!

I'm running into a new issue, but I think it has nothing to do with your changes above and have opened https://github.com/microsoft/vcpkg/issues/10364.  It's as if It can't find some libs it should be able to just locate in windows, by adding to target_link_libraries

[code]

[2020-03-09 21:22] manvscode commented on #9947
I am having this issue after updating several packages including VTK.

[2020-03-09 21:54] stephen-webb commented on #6125
You need to add system libraries to your executable target. For example, to
link log4cxx test executables, I had to add
set(APR_SYSTEM_LIBS ws2_32 mswsock rpcrt4)
...
target_link_libraries(${testName} PRIVATE log4cxx ${APR_UTIL_LIBRARIES}
${XMLLIB_LIBRARIES} ${APR_LIBRARIES} ${APR_SYSTEM_LIBS})

Linking statically is hard because you need to know all the dependencies of
all your dependencies!

On

[2020-03-09 22:01] LeeGDavis commented on #6125
Goodness, yes, it appears so.  I'll keep you posted if we run into any other issues with log4cxx port, but all changes seem to be good!  The only thing I have is a fork with the updated hash atm.

[2020-03-10 00:17] strega-nil commented on #10217
Code Runner is not currently a supported way of building with vcpkg; we may add support eventually, but more likely it should be added by the community (or added to Code Runner). However, we do have features hopefully coming down the pipeline which will make life a lot easier for community members adding that support.

[2020-03-10 01:24] JackBoosY commented on #10350
Related: #10366 #10005

[2020-03-10 02:04] JackBoosY commented on #9660
I'm digging deeper into this issue, which may be caused by the fact that the symbols are not reused.

[2020-03-10 02:11] JackBoosY commented on #357
Close this issue via #10083 merged.

[2020-03-10 02:11] #357 closed

[2020-03-10 02:31] PhoebeHui commented on #10169
@ayermolo, the PR has been merged, could you get latest source and try to build again?

[2020-03-10 02:44] JackBoosY commented on #10362
Yep, I can confirm that's a bug.

[2020-03-10 02:52] linquize commented on #10314
I mean the sample program in Release config, it uses Release build of the libraries.
Visual Studio has a combo box on toolbar to choose config:  x64-Debug,  x64-Release

[2020-03-10 03:13] LeeGDavis commented on #6125
I think I misunderstood at first, I thought this was another lib that was creating this dependency issue.  This is making more sense.

Now after adding the `APR_SYSTEM_LIBS` to the target_link_libraries, I receive the same issue.  These seem like standard libs that I shouldn't have to search for...  Simply adding them as a target link library I thought would be enough?  I've also tried adding thos

[2020-03-10 03:17] LeeGDavis commented on #10364
This is related to another in-progress port log4cxx, getting all the transitive (If that is the right word...) dependencies when statically linking

[2020-03-10 03:17] #10364 closed

[2020-03-10 04:51] teshanshanuka commented on #10314
@linquize Got it. Runs in **Release** without a problem. But it still is a bug right?

[2020-03-10 05:15] linquize commented on #10314
I think there is a problem in debug, regarding the handling of dll filenames having `d` suffix

[2020-03-10 05:39] linquize commented on #10314
In Debug config, dll filename has `d.dll` suffix. This should be specially handled in debug config.

[2020-03-10 06:35] JackBoosY commented on #10332
In general, all header files need to be archived in _include_. In order to resolve the conflict with the header files of other ports, we want to install the directory as _include/$<port>_, and create sub-folders according to the directory structure in source.

[2020-03-10 06:38] NancyLi1013 commented on #10328
Hi @eix128
Thanks for posting this issue.
Currently, there is no command to meet your demand, except for downloading these ports manually.

Maybe you can clone this [commit](https://github.com/JackBoos/vcpkg/commit/f18021e479500f5782234cd538e218b7cad642c1
) to use `./vcpkg install *` to download all the ports.

Note: This way is only adapted to Windows platform. Also this is not an official commit

[2020-03-10 06:59] JackBoosY commented on #10338
@Neumann-A Could you please have a look?

Thanks.

[2020-03-10 07:28] NancyLi1013 commented on #10145
Sorry for the late reply.
@ZMZ91 , @li-wu
Could you please help confirm if this issue only exists on Mac?

[2020-03-10 07:35] cenit commented on #10114
#10287 closed one issue, another is still persistent

This is what happens in case a build has to be restarted: again a problem related to this untested tee mechanism that has been inserted in vcpkg too quickly

[code]

[2020-03-10 07:39] JackBoosY commented on #9947
In _IO\CityGML\CMakeLists.txt_:
[code]
I think this is caused by the incorrect use of pugixml.

[2020-03-10 08:00] Neumann-A commented on #10338
@JackBoosY: This is already fixed in #10009

[2020-03-10 09:05] JackBoosY commented on #9947
@dbonhaus @manvscode
Could you add `find_dependency(pugixml CONFIG)` to _VCPKG_PATH/installed/TRIPLET/share/VTK/VTKConfig.cmake_ line 110?

If it works, I will open a PR to fix it.

[2020-03-10 09:46] RamanKutseika commented on #9947
Hello @JackBoosY.
I having the same issue @manvscode described.
Adding `find_dependency(pugixml CONFIG)` doesn't seem to work.
![изображение](https://user-images.githubusercontent.com/57134112/76299984-0599ba80-62cd-11ea-9d3c-0b710bc87d54.png)

[2020-03-10 10:00] Voskrese opened #10369 "[NINJA] update to 1.10"
tools name: NINJA

New version number: The last Ninja release is **v1.10.0, released 28 Jan 2020**

https://github.com/ninja-build/ninja/releases

[The big new feature will be the new dyndep binding to support Fortran and C++20 modules](https://groups.google.com/forum/#!msg/ninja-build/piOltAhywFA/zPfkrTtRCwAJ)

[2020-03-10 10:18] JackBoosY commented on #9947
@RamadanAhmed Sorry, we should include `CMakeFindDependencyMacro.cmake` first:
[code]

[2020-03-10 10:31] longhuan2018 commented on #10338
Ok, then i will close this issue

[2020-03-10 11:34] JackBoosY commented on #10338
Please keep this issue open before #10009 merged.

[2020-03-10 11:35] RamanKutseika commented on #9947
@JackBoosY after applying suggested changes the pugixml.lib is still missing unfortunately.

[2020-03-10 11:38] linquize commented on #10314
Please notice below `vtk\..\..\` paths, there are both release `.lib` and debug `.lib` pairs of the same libraries passed to linker

From `C:\vcpkg\buildtrees\pcl\install-x64-windows-dbg-out.log`,

[code]

[2020-03-10 12:13] kreuzerkrieg opened #10370 "[libmysql] build failure"
- OS: Ubuntu 18.04
- Compiler: GCC 9.2.1

Steps to reproduce the behavior:
`./vcpkg install libmysql`

[2020-03-10 14:45] JackBoosY commented on #10370
It can be seen from the error message: there is a conflict between libmysql and libmariadb.
If you wish to install libmysql, please remove libmariadb and try again.

Thanks.

[2020-03-10 14:51] kreuzerkrieg commented on #10370
Oh... I got the message as there is a dependency between the two, so they both have to have some specific version.
So, there is no way to install both?

[2020-03-10 15:23] jonndoe47pp opened #10371 "7zip-cpp"
Library name:
7zip-cpp
Library description:
Wrapper for 7Zip library
Source repository URL:
https://github.com/keithjjones/7zip-cpp
Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2020-03-10 15:31] pablanche commented on #10217
Thanks for your feed back. Looking forward to have vcpkg  supported.

[2020-03-10 17:55] jasjuang commented on #9947
Just ran into the same problem.

What solved it temporarily for me is adding these two lines at the end of the installed `VTKConfig.cmake`

[code]

Look forward to the proper fix.

[2020-03-10 18:51] jasjuang opened #10373 "VTK links to both release and debug version of lz4, lzma, glew, jpeg, tiff, hdf5 in debug version"
**Environment**
- OS: Windows 10
- Compiler: VS 2017

**To Reproduce**
Please see below minimal CMakeLists
[code]

mycpp.cpp is as simple as
[code]

Right-click project --> properties --> additional dependencies shows

[code]

What's even worse is when I link to PCL like the below,

[code]

Right-click project --> properties --> additional dependencies shows

[code]

and it's causing the same prog

[2020-03-10 19:06] strega-nil commented on #10349
This seems reasonable, but I think it should be as part of a build system rewrite -- the current bootstrap scripts seem very difficult to maintain.

[2020-03-10 19:59] strega-nil commented on #9927
Ah, I see... The issue is that amazonlinux doesn't contain `which`, and we depend on `which` to find the system-installed versions of programs. Dang.

[2020-03-10 20:08] dbonhaus commented on #9947
I no longer see link errors involving pugixml, but I see two new ones:
1>vtkIOCore-8.2.lib(vtkLZMADataCompressor.cxx.obj) : error LNK2019: unresolved external symbol __imp_lzma_easy_buffer_encode referenced in function "protected: virtual unsigned __int64 __cdecl vtkLZMADataCompressor::CompressBuffer(unsigned char const *,unsigned __int64,unsigned char *,unsigned __int64)" (?CompressBuffer@vtkLZMA

[2020-03-10 20:08] #10322 closed

[2020-03-10 20:17] PranavDhulipala opened #10374 "Error in linkage after installation of pangolin using vcpkg."
I am trying to compile orbslam2 (https://github.com/raulmur/ORB_SLAM2) on windows which has a dependency on
 pangolin which i installed using `vcpkg install pangolin:x64-windows ` and  for some reason i get the following errors.

[error.txt](https://github.com/microsoft/vcpkg/files/4314590/error.txt)

any help with the same is appreciated.
Edit: i think for some reason pangolin is being compiled i

[2020-03-10 20:38] LeeGDavis commented on #6125
@stephen-webb the solution file generated by cmake seems there is a weird reference in the linker command line.  This could simply be my ignorance in build solution terminology.  However it is failing on `ws2_32::@<0000022A016FDDA0>.lib" "mswsock::@<0000022A016FDDA0>.lib" "rpcrt4::@<0000022A016FDDA0>.lib" "odbc32.lib::@<0000022A016FDDA0>.lib`:

[code]

[2020-03-10 20:49] matjam commented on #9918
ah that's a much nicer workaround than I was able to do. Thanks!

[2020-03-10 21:12] armitagemderivitec commented on #9927
Brilliant @strega-nil , thanks for fixing!

[2020-03-10 21:18] LeeGDavis commented on #6125
Also the file `c:\vcpkg\buildtrees\log4cxx\x64-windows-static-rel\CMakeFiles\Export\share\cmake\log4cxx\log4cxxConfig.cmake` contains these references in the `INTERFACE_LINK_LIBRARIES`

[2020-03-10 21:38] stephen-webb commented on #6125
Sorry, I do not know - it is a cmake/microsoft internals thing that
generates the command line.

On Wed, Mar 11, 2020 at 8:18 AM Lee Davis <notifications@github.com> wrote:

[2020-03-10 21:56] manvscode commented on #9947
@JackBoosY @RamanKutseika @dbonhaus  I can confirm that adding these lines to VTKConfig.cmake, at 110, will fix the problem:

    include(CMakeFindDependencyMacro)
    find_dependency(pugixml REQUIRED)

I tested both linking debug and release binaries.  I do not see any problems with liblzma.

[2020-03-10 22:08] Toxe commented on #10370
No, not that I know of.

[2020-03-10 22:18] Toxe commented on #10318
Can you use another compiler or do you _have_ to use AppleClang?

[2020-03-10 22:39] feliwir commented on #10230
Any updates on this? This is a complete blocker for debugging my application

[2020-03-10 22:41] LeeGDavis commented on #6125
@stephen-webb if we alter the file, `C:\vcpkg\installed\x64-windows-static\share\cmake\log4cxx\log4cxxConfig.cmake` `INTERFACE_LINK_LIBRARIES` it seems to resolve the static linking issue.

Original:
[code]
set_target_properties(log4cxx PROPERTIES
  INTERFACE_COMPILE_DEFINITIONS "LOG4CXX_STATIC"
  INTERFACE_INCLUDE_DIRECTORIES "${_IMPORT_PREFIX}/include;${_IMPORT_PREFIX}/include"
  INTERFACE_LINK_

[2020-03-10 23:00] LeeGDavis commented on #8798
Is there a workaround for this?

[2020-03-10 23:36] strega-nil commented on #7903
I'm not sure this is still an issue that needs solving? If someone still has this issue, please ping me and open a new issue.

[2020-03-11 01:28] PhoebeHui commented on #10041
@RubyNova, the PR has been merged, please get the latest source and try again.

@capnkenny, thanks for your contribution!

[2020-03-11 01:28] #10041 closed

[2020-03-11 01:31] PhoebeHui commented on #10273
@rcurtin, the PR has been merged, please get vcpkg latest source and try again.

[2020-03-11 01:31] #10273 closed

[2020-03-11 01:34] rcurtin commented on #10273
Thanks! :tada:

[2020-03-11 01:41] PhoebeHui commented on #10013
@traversaro, thanks for the information! the PR has been merged, please get vcpkg latest source and try again.

[2020-03-11 01:41] #10013 closed

[2020-03-11 02:10] NancyLi1013 commented on #10096
Hi @spykermj
Thanks for posting this issue.
This issue should be fixed now. Please try to update vcpkg and build it again.

[2020-03-11 02:10] #10096 closed

[2020-03-11 02:36] kevinlul commented on #10318
I don't see the relevance, but in general you can change the compiler by setting the `CC` and `CXX` environment variables. However, Apple Clang is the platform compiler for macOS.

[2020-03-11 02:39] LilyWangL commented on #9811
Thanks for posting this issue. This issue has been fixed, so I am closing this issue for now.

[2020-03-11 02:39] #9811 closed

[2020-03-11 02:39] LilyWangL commented on #10121
Thanks for posting this issue. This issue has been fixed, so I am closing this issue for now.

[2020-03-11 02:39] #10121 closed

[2020-03-11 02:41] LilyWangL commented on #9989
Thanks for posting this issue. This issue has been fixed, so I am closing this issue for now.

[2020-03-11 02:41] #9989 closed

[2020-03-11 02:44] smadurange opened #10376 "x86-linux-static vcpkg package for wxwidgets"
Library name: wxwidgets

Library description: Cross-platform GUI tool kit

Source repository URL: https://github.com/wxWidgets/wxWidgets

[2020-03-11 02:52] ZMZ91 commented on #10145
Thanks @NancyLi1013 for your reply. The error I pasted doesn't happens during loading cmake but during building my project. To reproduce the issue, you may write a little project with following code and check the log when building
[code]

[2020-03-11 02:55] NancyLi1013 commented on #10230
Hi all,
Sorry for the late reply. I will check this issue later.
Could you please help confirm if this can work well before `libffi `updaed to 3.3?

[2020-03-11 03:02] NancyLi1013 commented on #10376
Hi @smadurange
Thanks for posting this request.
`wxwidgests `has been added to vcpkg.
Could you please help confirm if[ this port](https://github.com/microsoft/vcpkg/tree/master/ports/wxwidgets) is the one you wanted?

[2020-03-11 03:10] smadurange commented on #10376
Thanks for the quick reply. I was looking for a 32-bit linux static lib port of wxwidgets. Currently available ports are:

[code]

[2020-03-11 03:16] LeeGDavis commented on #6125
We've rewritten `log4cxxConfig.cmake` as part of our build scripts as a workaround for now. It is not ideal, but not entirely sure how to address that one at this point...

[2020-03-11 03:44] PhoebeHui commented on #6213
@shihaonan369, the PR has been merged, please get vcpkg latest source and try again.

[2020-03-11 03:44] #6213 closed

[2020-03-11 04:06] #10370 closed

[2020-03-11 04:09] NancyLi1013 commented on #10145
@ZMZ91
Thanks for your update. I will try this later with the above code.

[2020-03-11 04:57] NancyLi1013 commented on #10145
I have added the code you provided above to my project. It can be built successfully without any error.
The build result from my local is as follows:
[code]
My project like this:
main.c
[code]
CMakeLists.txt
[code]

[2020-03-11 05:06] NancyLi1013 commented on #10376
Since vcpkg currently only supports` x64-linux`(In fact, this triplet is built as static).
As for `x86-linux`, it is not available in vcpkg for all ports.
So this issue may be not a new port request. It might be a port feature or vcpkg feature.

[2020-03-11 06:25] feliwir commented on #10230
@NancyLi1013 how can i install the older library version?

[2020-03-11 06:47] JackBoosY commented on #9336
Hi Everyone,
I've fixed this issue in #10044, please update vcpkg and rebuild hiredis.

Thanks.

[2020-03-11 06:47] #9336 closed

[2020-03-11 07:03] JackBoosY commented on #9947
@RamanKutseika Port `pugixml` gererated debug library named `pugixml.lib`, so I guess no fault here.

[2020-03-11 07:08] JackBoosY commented on #9947
@dbonhaus
lzma library should be imported with path _${VTK_INSTALL_PREFIX}/lib/lzma.lib_ and _${VTK_INSTALL_PREFIX}/debug/lib/lzmad.lib_, you can find them in _share\vtk\Modules\vtklzma.cmake_

And `VTK_INSTALL_PREFIX` was set in `VTKConfig,cmake` line 13:
[code]

[2020-03-11 08:28] PhoebeHui commented on #10343
@olafurw, thanks for reporting this issue.

We will take a look at this issue.

[2020-03-11 08:43] hailIulius opened #10381 "[angle:x64-linux] build failure"
**Host Environment**
- OS: [e.g. Windows/Linux etc...]
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 18.04.3 LTS
Release:        18.04
Codename:       bionic
- Compiler: revision
gcc version 7.4.0 (Ubuntu 7.4.0-1ubuntu1~18.04.1)

**To Reproduce**
Steps to reproduce the behavior:
vcpkg install --triplet x64-linux xerces-c xalan-c cli11 catch2 qt5-base

  The following

[2020-03-11 08:46] JackBoosY commented on #10217
@pablanche Please keep this issue open before we support them.

[2020-03-11 08:55] NancyLi1013 commented on #10230
You can use `git checkout commit id` to checkout a new branch to the commit that the older library version was updated.

[2020-03-11 09:17] hub-wll opened #10382 "Error: Building package libepoxy:x64-windows failed with: BUILD_FAILED"
Please ensure you're using the latest portfiles with `.\vcpkg update`, then
submit an issue at https://github.com/Microsoft/vcpkg/issues including:
  Package: libepoxy:x64-windows
  Vcpkg version: 2020.02.04-nohash

how to deal with this problem?

[2020-03-11 09:32] Toxe commented on #10318
True, I was just asking to give you a workaround just in case.

[2020-03-11 09:58] theoractice commented on #10139
After the newest VS2019 update, the failure odds seems to have decreased a lot, but it still happens. Anyway, this issue is more likely to be VS related. I think I can close this issue now.

[2020-03-11 09:58] #10139 closed

[2020-03-11 10:02] NancyLi1013 commented on #10122
@BullyWiiPlaza
Sorry for the late reply.

It seems that the CRT linkage type doesn't match.
Could you please check if you have set it correctly？
In this case, `/MT` might be suitable. since you need to static linkage.

[2020-03-11 10:43] aholzinger commented on #10332
That's exactly the reason I'm asking. If a library project (not yet supported by vcpkg) with its CMakeLists.txt doesn't respect this, how can I fix it in portfile.cmake?

[2020-03-11 11:09] itayzafrir commented on #10230
If you don't need to debug libffi then you can use the release build of it. That's what I did for now, just copied the release version and overwrote it in my app's output directory

[2020-03-11 11:28] timautry opened #10383 "[libcpuid and stormlib] build failure x64-windows /include is empty or not present"
**Host Environment**
- OS: [Microsoft Windows Version 1909 (OS Build 18363.719)]
- Compiler: Visual Studio
   - VS 2017 v15.9.21 VS Tools Version 14.16.27023
   - VS 2019 v16.4.6   VS Tools Version 14.24.28314

**To Reproduce**
- Steps to reproduce the behavior:
`.\vcpkg install libcpuid[core] stormlib[core]`
Computing installation plan...
The following packages will be built and installed:
    li

[2020-03-11 11:56] timautry opened #10384 "[mlpack] build failure x64-windows CMake Error portfile.cmake:43(file) file must be called with at least two arguments"
**Host Environment**
- OS: [Microsoft Windows Version 1909 (OS Build 18363.719)]
- Compiler: Visual Studio
   - VS 2017 v15.9.21 VS Tools Version 14.16.27023
   - VS 2019 v16.4.6 VS Tools Version 14.24.28314

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg install mlpack[core,tools]`
Computing installation plan...
The following packages will be built and installed:
    mlpack[core,tools

[2020-03-11 12:24] PhoebeHui commented on #10314
@teshanshanuka, thanks for reporting this issue!

I try to repro this issue, however, it failed with fatal error LNK1104: cannot open file 'pugixml.lib', could you provide us the repro code?

[2020-03-11 12:41] linquize commented on #10314
@PhoebeHui what command did you type?

[2020-03-11 13:57] yavin87 opened #10387 "[python3:x86-windows-static] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg.exe install boost:x86-windows-static`

**Failure logs**
Powershell output:

[build-x86-windows-static-rel-out.log](https://github.com/microsoft/vcpkg/files/4318622/build-x86-windows-static-rel-out.log)

**Additional context**
Tried updating

[2020-03-11 14:23] DimitarVel opened #10388 "Vcpkg buildfail on hdf5:x64-windows"
Here is the error log i get in stdout-x64-windows.log

-- Using cached C:/vcpkg/downloads/CMake-hdf5-1.10.5.tar.gz
-- Extracting source C:/vcpkg/downloads/CMake-hdf5-1.10.5.tar.gz
-- Applying patch hdf5_config.patch
-- Applying patch fix-generate.patch
-- Using source at C:/vcpkg/buildtrees/hdf5/src/hdf5-368e55e917
-- Configuring x64-windows-dbg
-- Configuring x64-windows-rel
-- Building x64-windo

[2020-03-11 14:33] PhoebeHui commented on #10314
I tried the turorial in http://pointclouds.org/documentation/tutorials/pcl_visualizer.php.

[2020-03-11 14:40] rglbssw commented on #10230
This may be helpful in your actual painful situation. But it will not help to fix the general problem.
So please - in addition to this work around - follow Nancy's advice. If your application does not depend on newly added or modified packages it is not too hard. I myself did the following:
- clone a new copy of vcpkg
- create a new local branch from a commit before the commit commented "[libffi]

[2020-03-11 15:04] smcv opened #10389 "[glib] Build using Meson"
**Is your feature request related to a problem? Please describe.**
* The vcpkg GLib port is stuck at a version that is no longer supported, and in particular does not receive security fixes.
* The GLib maintainers are frustrated when downstream distributions use a rewrite of GLib's own build system, which is likely to have bugs that GLib's own build system does not, or incompatibilities with GLib'

[2020-03-11 15:06] smcv commented on #5718
Using GLib's Meson build system (#10389) would probably fix this.

[2020-03-11 15:08] yamcenutzer commented on #9764
BTW, On Centos 8 gcc is 8.2.1 whereas on cent07 with devtoolset-8 gcc is 8.3.1-3
On Centos 8 you can bootstrap without applying any patches (noexept seems to work), however,
building python3 still fails.

I only got boost to install completely (incl python...wahtever) on ubuntu 19.10 with gcc 9.2...

[2020-03-11 15:39] linquize commented on #10314
See also #10373

[2020-03-11 15:41] linquize commented on #10314
@PhoebeHui Your step 6: Debug build or Release build?

[2020-03-11 15:45] linquize commented on #10388
1. Can you post the content of `C:\vcpkg\buildtrees\hdf5\install-x64-windows-dbg-out.log`?
2. What version of cmake are you using? It seems you are using your own cmake, not the one downloaded by vcpkg.

[2020-03-11 16:04] chrisfromwork commented on #9132
Is there any progress/update on this bug?

[2020-03-11 16:10] garethsb-sony commented on #10332
Or the user could add `include/the_library` to their include path as well as `include` and then write `#include <the_library/header.h>` and `#include <a/header.h>`?

[2020-03-11 16:15] #10012 closed

[2020-03-11 16:17] linquize commented on #10381
Did you `apt-get install libx11-dev` before building angle?

[2020-03-11 16:22] linquize commented on #10387
Why doesn't python3 depends on pthreads on Windows?

[2020-03-11 16:23] linquize commented on #10383
@timautry Can you build with VS2019 again?

[2020-03-11 16:27] linquize commented on #10382
After `git pull` the latest vcpkg repository, run `bootstrap-vcpkg.bat` again to build vcpkg.
Then `vcpkg install libepoxy:x64-windows`

[2020-03-11 16:30] aholzinger commented on #10332
Yes, that's how I do it now, i.e. in a non CMake Visual Studio project I just set the vcpkg/include directory plus the vcpkg/include/nmos-cpp directory as additional include paths and the same for the lib directories. Then one can use nmos-cpp as if the project would be part of the nmos-cpp project.

With nmos-cpp and the vcpkg files from "my" nmos-cpp fork the outer CmakeLists.txt "adds" the nmos

[2020-03-11 16:34] Mik-pe commented on #9068
I stumbled upon a problem which I find related to this.

We tried to build proj4 with dynamic linking (since gdal 2.4.1 at least seems to want libproj.so at runtime rather than compile-time linking with it, so it seemed like a first step to build it)

I used the steps at https://github.com/microsoft/vcpkg/blob/master/docs/examples/overlay-triplets-linux-dynamic.md#overriding-default-triplets

I bu

[2020-03-11 16:54] linquize commented on #10374
What cmake version did you use? It seems you were not using the cmake downloaded by vcpkg.

[2020-03-11 17:26] strega-nil commented on #10245
Hey, thank you for the issue! However, macOS 10.13 and previous are not supported by Apple, and we don't wish to add this kind of warning for every kind of unsupported operating system (nor do we wish to fix the existing issue).

Thanks so much! Sorry I couldn't be more helpful.

[2020-03-11 17:26] #10245 closed

[2020-03-11 17:33] garethsb-sony commented on #10332
**nmos-cpp** project is effectively a package of several smaller co-developed libraries or modules like `nmos`, `mdns` and so on (plus some extensions to existing libs like **boost** and **cpprestsdk**). Adding an extra project directory might solve very basic filename conflicts with other 'ports', but any such conflict is likely to indicate greater conflicts in C++ symbol names, which simple file

[2020-03-11 17:38] PranavDhulipala commented on #10374
using cmake version 3.16.3

[2020-03-11 17:43] PranavDhulipala commented on #10374
@linquize i have two installations of cmake at C:\opt\python27amd64\Scripts\cmake.exe which uses cmake version 3.16.3 and
C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\Common7\IDE\CommonExtensions\Microsoft\CMake\CMake\bin\cmake.exe which uses cmake version 3.15.19101501-MSVC_2

[2020-03-11 18:09] aholzinger commented on #10332
I see two issues here:

- nmos-cpp doesn't export only one include directory, but more than one
- some of the sub-include directories use names of other common libraries like boost or cpprestsdk

I don't see conflicts in C++ symbol names, because if they would be existing, these errors would already pop-up when building nmos-cpp in the classical way, because boost, cpprestsdk and so on are all alr

[2020-03-11 18:39] timautry commented on #10383
@linquize  - works fine on both x64-linux instances but fails on all x64-windows instances
cc: @NancyLi1013

- vcpkg was up-to-date as of the time of this posting
- none of the commits to vcpkg today has not:
  - updated either port
  - updated any of the vcpkg source files or scripts.

The _builds for both work fine_ until **Performing post-build validation** sequence on both ports
 - failure occ

[2020-03-11 19:02] timautry commented on #10383
@linquize
cc: @NancyLi1013

Added to the end of each libcpuid and stormlib portfile.cmake:

**# Allow empty include directory**
**set(VCPKG_POLICY_EMPTY_INCLUDE_FOLDER enabled)**

They now build/install and **pass post-build validation**.

I guess changes need to be made to the portfile.cmake on each port (libcpuid and stormlib), to add this code, so it only affects windows, as linux builds fine w

[2020-03-11 20:17] timautry commented on #10384
@NancyLi1013 - let me clarify... if I change the mlpack portfile.cmake (see below) then mlpack builds, installs along with all the tools and completes normally.
- The **_BOLD ITALICS_** is commented out
- The **BOLD** I copied from the previous portfile.cmake

vcpkg_from_github(
    OUT_SOURCE_PATH SOURCE_PATH
    REPO mlpack/mlpack
    REF a8af4882af5e163ae8c8023653c66c8914ac1c22 # 3.2.2
    SHA5

[2020-03-11 21:50] timautry opened #10393 "[cppgraphqlgen] build failure x64-windows with VS 2017"
**Host Environment**
- OS: [Microsoft Windows Version 1909 (OS Build 18363.719)]
- Compiler: VS 2017 v15.9.21 VS Tools Version 14.16.27023

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg install cppgraphqlgen`

**Failure logs**
- Cut and past the appropriate build messages from the console output.
Computing installation plan...
The following packages will be built and installed:
    cp

[2020-03-11 23:41] KotaAoyama commented on #10245
I appreciate your help. I'm sorry.

[2020-03-11 23:54] strega-nil commented on #10245
That's okay, don't worry about it! :)

[2020-03-12 00:05] PhoebeHui commented on #10314
I use the debug configuration.

[2020-03-12 01:42] NancyLi1013 commented on #10384
Hi @timautry
Thanks for posting this issue and your detail description about this.
I will check if this can work well later.

[2020-03-12 01:46] PhoebeHui commented on #10362
@Nemoon, thanks for reporting this issue, I will take a look.

[2020-03-12 02:18] JackBoosY commented on #10345
vcpkg currently only supports powershell integration in windows, and will support powershell on other platforms in the future

[2020-03-12 02:25] NancyLi1013 commented on #10374
Hi @PranavDhulipala
Thanks for posting this issue.
Could you please help confim if you used `pangolin `in this way?
[code]

[2020-03-12 02:31] PhoebeHui commented on #10373
Relate to https://github.com/microsoft/vcpkg/issues/9211

[2020-03-12 02:33] JackBoosY commented on #9980
Openssl part will fix in #10366.

[2020-03-12 02:44] JackBoosY commented on #10387
`pthreads` also support Windows, and it will generate `pthreadVC3.lib` / `pthreadVCE3.lib` / `pthreadVSE3.lib`. You can have a try using command `.\vcpkg install pthreads`.

And I can successfully install `python3:x86-windows-static` on my machine.
So I suggest you remove pthreads first, then try to rebuild `python3:x86-windows-static`.

Thanks.

[2020-03-12 02:47] LilyWangL commented on #10382
Thanks for posting this issue. Please provide the error log.

[2020-03-12 04:03] JackBoosY commented on #10381
It looks like we should add a warning message to angle's portfile.cmake.

[2020-03-12 04:05] JackBoosY commented on #9132
@strega-nil Could you have a look?

[2020-03-12 04:11] JackBoosY commented on #10139
@theoractice Sorry for that, I still can't repro it. I think it may be due to conflicts caused by some libraries already installed in the system.

[2020-03-12 04:29] NancyLi1013 commented on #10393
Hi @timautry
Thanks for posting this issue.
I can build this port succesffully with VS 2017.
[code]
Could you please try to remove `auto `and build it again?

[2020-03-12 05:37] linquize commented on #10381
For angle, please `apt-get install -y libx11-dev mesa-common-dev libxi-dev libxext-dev`

[2020-03-12 06:11] teshanshanuka commented on #10314
@PhoebeHui I tried similar steps. Built in x64 debug mode and got the `libpng16` not found error first. Then when I used a downloaded `libpng16.dll`, it gave me `zlib` not found. Switched to x64 release model and the problems went away

[2020-03-12 06:57] linquize commented on #10381
For angle: `apt-get install -y libx11-dev mesa-common-dev libxi-dev libxext-dev`
For icu: `apt-get install -y make`
For libpq: `apt-get install -y bison flex`
For qt5-base: `apt-get install -y libgl1-mesa-dev libglu1-mesa-dev`

[2020-03-12 07:06] PhoebeHui commented on #9764
@cenit, @yamcenutzer, thanks for bring this up.

However, I tried to build boost-python and boost on ubuntu 18.04 with latest clean vcpkg source, all built successfully for me.

I don't have centos environment, could you create a new issue for tracking the problem?

./vcpkg install boost-python
Building package python3[core]:x64-linux... done
Installing package python3[core]:x64-linux...
Installin

[2020-03-12 07:30] HWiman opened #10394 "[libgeotiff:x64-windows] update to <1.5.1>"
Library name: libgeotiff

New version number: 1.5.1

Other information that may be useful (release notes, etc...)
https://github.com/OSGeo/libgeotiff

vcpkg rocks! Keep up the good work!

[2020-03-12 08:05] LilyWangL commented on #10334
@jabra98 Thanks for posting this issue. Do you mean you want to disable the script applocal.ps1?

[2020-03-12 08:06] LilyWangL commented on #10231
Ping @eix128

[2020-03-12 08:08] LilyWangL commented on #10081
Ping @WangHHY19931001

[2020-03-12 08:43] DimitarVel commented on #10388
C:\vcpkg\buildtrees\hdf5\install-x64-windows-dbg-out.log

[2020-03-12 08:45] Noemata commented on #9980
Tried it.  Looks good.  Looking forward to seeing this in the main repo.  Thank you very much for getting this resolved.  It's a huge relief.

[2020-03-12 08:46] DimitarVel commented on #10388
[1/321] C:\PROGRA~2\MICROS~1\2019\COMMUN~1\VC\Tools\MSVC\1424~1.283\bin\Hostx64\x64\cl.exe   -D_BIND_TO_CURRENT_VCLIBS_VERSION=1 -D_CONSOLE -D_CRT_SECURE_NO_WARNINGS -IC:\vcpkg\installed\x64-windows\include -IC:\vcpkg\buildtrees\hdf5\src\hdf5-368e55e917\hdf5-1.10.5\src -I. /DWIN32 /D_WINDOWS /W3 /utf-8 /MP  /D_DEBUG /MDd /Z7 /Ob0 /Od /RTC1 /showIncludes /Fosrc\CMakeFiles\H5make_libsettings.dir\H5m

[2020-03-12 08:47] cenit commented on #9764
I cannot build it (python3) in ubuntu 18.04 nor on macOS

[2020-03-12 08:49] Noemata commented on #9980
Note: pulled from here for a working grpc-uwp build: https://github.com/ras0219-msft/vcpkg/tree/dev/roschuma/grpc

[2020-03-12 08:59] martinboers opened #10396 "[berkeleydb] Build fails on x64-linux"
Host:
- OS: Linux x64
- Compiler: gcc (Debian 8.3.0-6) 8.3.0

It seems that the port assumes a Windows host. I don't know how to fix this.

Steps to reproduce the behavior:
`./vcpkg install berkeleydb`

- Console output.
[code]

- Top of `vcpkg/buildtrees/berkeleydb/install-x64-linux-dbg-out.log`:

[code]

[2020-03-12 10:00] NancyLi1013 commented on #9795
Hi @Omegastick

Thanks for posting this issue.
Sorry for the late reply first.

I try to build it on Ubuntu 18.04 with gcc 7.5.0 and I cannot reproduce it.
Could you help check if you installed these libs on your local machine?
[code]

[2020-03-12 10:16] NancyLi1013 commented on #10320
Hi all,

Thanks for posting this issue.

It seems that there is something wrong with `sdl2 `when building `osg`. The origin cause is that it
cannot find `SDL/SDL.h`. Since this include file is from `sdl1`.

`C:\dev-tools\vcpkg\buildtrees\osg\src\raph-3.6.4-9780889fab\examples\osgmovie\osgmovie.cpp(694,10): fatal error C1083: Cannot open include file: 'SDL/SDL.h': No such file or directory [C:\dev-

[2020-03-12 10:28] LilyWangL commented on #10045
The new version build failed due to a compiler bug in MSVC 19.22.27905, this will be fixed in newer releases. The related source issue: https://github.com/facebook/folly/issues/1324

[2020-03-12 10:38] soroush-rabiei commented on #5090
I have same problem:

```configure: error: Error! Cross compiling but no --with-cross-build option specified - please supply the path to an executable ICU's build root```

**vcpkg version**: 2020.02.04-nohash
**msvc version**: 14.0 (VS 2015)

[Uploading configure-x64-windows-dbg-err.log…]()

[2020-03-12 10:42] z6833 commented on #10045
Do you mean that I should update my visiual studio ? Or updating the `vcpkg`?

[2020-03-12 10:43] LilyWangL commented on #10142
Ping @mediabuff

[2020-03-12 11:15] Omegastick commented on #9795
I also can't reproduce it anymore. Closing this.

[2020-03-12 11:15] #9795 closed

[2020-03-12 12:28] rglbssw commented on #10230
Here are two minimal example applications to reproduce the behavior. One is for gtk, the other one is for gtkmm. The msvs vcxproj... and props files provided with the two examples allow you to test debug and release builds  for 32 and 64 bit windows. You should unpack the two zip files to the directory where your vcpkg directory resides. this will lead to a directory layout like that:

- GtkmmSamp

[2020-03-12 12:28] NancyLi1013 commented on #10381
@hailIulius

Could you please help confirm if this can be solved by installing `libx11-dev`?

[2020-03-12 12:35] linquize commented on #10396
Currently, this port only supports win32/win64. Not support other platforms including uwp yet.

[2020-03-12 12:42] linquize commented on #10396
Moreover, `add_definitions(-DWIN32 -D_WINDOWS)` is not necessary. They are defined automatically on Windows.

[2020-03-12 12:42] jabra98 commented on #10334
Yes. For now I've just commented everything out and it works for the time being

[2020-03-12 12:47] NancyLi1013 commented on #10230
@rglbssw

Thanks for your update and detail information about this issue.
I will try to reproduce according to the projects you provided above.

[2020-03-12 12:51] linquize commented on #10396
For Linux,
[code]

After configure, it produces some header files:
- `clib_port.h`
- `db.h`
- `db_config.h`
- `db_cxx.h`
- `db_int.h`

Output libraries: `.libs/libdb-4.8.a`, `.libs/libdb-4.8.so`
When installing header files, remember to copy `build_unix/*.h`

[2020-03-12 12:54] linquize commented on #10381
not just `libx11-dev` but also `mesa-common-dev`, `libxi-dev`, `libxext-dev`

[2020-03-12 12:58] PhoebeHui commented on #9764
@cenit, do you use wsl?

[2020-03-12 12:59] martinboers commented on #10396
Right, I can also do that outside vcpkg, and in both cases I lose the benefit of using vcpkg.

No worries, for this project I will push on without vcpkg (for this package, at least), and perhaps someone smarter than me will update the portfile for this package to suit all platforms.

[2020-03-12 13:11] BaldurMar commented on #9955
Same problem on Centos 7 - devtoolset-7 - gcc 7.3.1
MarcKLohr's work-around worked for me

[2020-03-12 13:21] LilyWangL commented on #10388
@DimitarVel Could you remove the directory _C:/vcpkg/buildtrees/boost-math/src_ and install hdf5 again? And the port hdf5 doesn't depends on boost-math.

[2020-03-12 13:38] DimitarVel commented on #10388
@LilyWangL I get errors for both boost-math and hdf5. I tried to delete the src folders of both and retry but that did not fix it. I also tried git pull && vcpkg update but that didnt work either.

The error message is as follows:

`
file RENAME failed to rename

    C:/vcpkg/buildtrees/boost-math/src/TEMP/math-boost-1.72.0

  to

    C:/vcpkg/buildtrees/boost-math/src/ost-1.72.0-2786b6df16

  bec

[2020-03-12 13:48] how0723 opened #10400 "[New Port Request] <ncnn>"
Library name: ncnn

Library description: ncnn is a high-performance neural network inference framework optimized for the mobile platform

Source repository URL: https://github.com/Tencent/ncnn

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2020-03-12 13:49] LilyWangL commented on #10318
I try to install other ports's feature, and get the same error: `zsh: no matches found: port[feature]`. Could you please confirm this? @strega-nil

[2020-03-12 13:50] linquize opened #10401 "Mention MSVC requirements in FAQ doc"
Let's mention some MSVC requirements in FAQ doc
- Currently on Windows, MSVC must be installed in order to build `vcpkg.exe`
- The necessary Visual Studio C++ features to select
- Visual Studio English language pack, recently there are issues reported regarding this

[2020-03-12 14:02] Toxe commented on #10318
@LilyWangL That is because your shell is interpreting the `[]` as a wildcard. I am using zsh as well, try putting it into quotes, like: `vcpkg install "sdl2-mixer[libflac,libogg,mpg123]"`

[2020-03-12 14:14] linquize commented on #10400
core: no dependencies
feature opencv: depends on opencv

[2020-03-12 14:21] linquize commented on #10400
core: no dependencies
feature tools: depends on protobuf, opencv

[2020-03-12 14:23] linquize commented on #10400
core: no dependencies
feature tools: depends on protobuf, opencv

List of tools:

    caffe model convert tool: depends on protobuf
    onnx model convert tool: depends on protobuf
    quantize tools: depends on opencv

[2020-03-12 14:30] PhoebeHui commented on #6700
I don't think it could be a problem now,  it support to build python3 on unix with commit https://github.com/microsoft/vcpkg/commit/fe3e544fa57c0dc37190a1e06353e1a4b15c9ecd#diff-1cc3d0044b3426b7a8f0db86989a3561, feel free to reopen if it still be a problem for you.

[2020-03-12 14:30] #6700 closed

[2020-03-12 14:35] DimitarVel commented on #10388
I solved it by downloading the following version of boost-math:
https://codeload.github.com/boostorg/math/tar.gz/boost-1.72.0
then moved it to the /downloads/ folder and renamed it too "boostorg--math-boost-1.72.0.tar.gz"

[2020-03-12 14:35] #10388 closed

[2020-03-12 15:11] PhoebeHui commented on #10383
@timautry, I can't repro this issue with latest vcpkg source, could you get lastest source, also remove the stormlib and libcpuid soource under buildtrees, and try to build them again?

PS E:\vcpkg\clean\vcpkg> ./vcpkg install stormlib[core]:x64-windows
Computing installation plan...
The following packages will be built and installed:
    stormlib[core]:x64-windows
Starting package 1/1: stormlib:x

[2020-03-12 15:43] #10383 closed

[2020-03-12 15:43] #10393 closed

[2020-03-12 15:46] #10029 closed

[2020-03-12 15:52] PhoebeHui commented on #10361
@FSund, thanks for reporting this issue!

I will summit a PR for fixing this issue.

[2020-03-12 16:27] tzehetner opened #10404 "User-wide integration breaks linking of C++/CLI projects in Visual Studio"
**Environment**
- OS: Windows 10
- Compiler: Visual Studio 2019 16.4.6 C++/CLI Compiler

**To Reproduce**
1. .\vcpkg.exe install grpc:x86-windows
2. Open Visual Studio 2019
3. Create a new project > "CLR Class Library (.NET Core)" (C++/CLI support must be installed via the Visual Studio installer, if project type is not available)
4. Include the std::array header file anywhere in the project: `#in

[2020-03-12 19:47] strega-nil commented on #9132
I have no idea where to even start; could you put in the ACLs for `C:\tools\vcpkg`?

[2020-03-12 19:54] strega-nil commented on #10318
hmm... on the one hand, I'm not sure if we should support pre-Catalina macOS. I don't think Apple supports previous versions of macOS. On the other hand, I can see that someone might want this to be a feature; it may make sense to make this a default feature, as opposed to _always_ working.

@kevinlul If you'd like to change this, I'd be happy to merge a PR that makes native MIDI support a default

[2020-03-12 21:27] PranavDhulipala commented on #10374
@NancyLi1013 yup i did everything you mentioned. I figured out the reason for my problem it has something to do with this https://github.com/microsoft/vcpkg/pull/6393 . So i did a `catkin_make -DCMAKE_BUILD_TYPE=Release` which fixed my problem. Thanks for your help. :)

[2020-03-12 21:27] #10374 closed

[2020-03-12 22:30] kevinlul commented on #10318
Apple generally supports the last three released major versions. As of writing, 10.13 High Sierra has extended support until September. Thus, Homebrew tests the most recent three versions and ships bottles for those. I can look more in-depth into how this can be patched but in the meantime I've locally reverted the PR that introduced the regression for my uses.

[2020-03-12 22:32] strega-nil commented on #10318
Hmm, good to know. Thanks @kevinlul, it's really hard to figure out exactly what macOS versions are supported.

[2020-03-13 00:23] PhoebeHui commented on #9764
I also tried to build python3 with wsl, it built successfully for me.

@cenit, could you creat a new issue for the failures?

[2020-03-13 02:00] NancyLi1013 commented on #9830
Hi @valenotary

This port has been updated to 2.6.0. Please try to update vcpkg and rebuild it.

[2020-03-13 02:00] #9830 closed

[2020-03-13 02:16] NancyLi1013 commented on #10384
@timautry

I have confirmed that this is a bug. Why do you close this issue now?

[2020-03-13 02:17] PhoebeHui commented on #10362
@Nemoon, the lib renames to vc140, see the [background](https://github.com/microsoft/vcpkg/issues/601#issuecomment-276220946) why it renamed.

[2020-03-13 02:26] PhoebeHui commented on #10331
@yurybura, thanks for your comments!

@L4ZZA, does this still be a problem for you?

[2020-03-13 02:43] NancyLi1013 commented on #9849
This issue has not been fixed. Why do you close it?

[2020-03-13 02:48] NancyLi1013 commented on #10264
Please feel free to reopen it if this is still a problem for you.

[2020-03-13 02:48] #10264 closed

[2020-03-13 03:16] NancyLi1013 commented on #10384
I have checked the source code. Since `BUILD_TOOLS` does not exist in `mlpack `source code. Even though we pass its value to `BUILD_TESTS `and  `BUILD_CLI_EXECUTABLES`. In fact, the values of these two options  are not updated via `vcpkg_check_features()` and `${FEATURE_OPTIONS}`.

So the *.exe files should not be genrated in this way.

In my opinion, there is no need to use `BUILD_TOOLS` here.

W

[2020-03-13 05:24] PhoebeHui commented on #10384
Sorry, it's my fault, I updated mlpack recently, I tested the features, and all passed, however, I forget to update the changes.

@NancyLi1013, could you summit a fix for this?

[2020-03-13 07:23] Noemata commented on #9980
Any chance this can get folding into master today?

[2020-03-13 07:28] LilyWangL commented on #10045
This issue need wait the Visual Studio newer releases.

[2020-03-13 07:33] nisha1729 opened #10406 "Error with .\bootstrap-vcpkg.bat"
I'm trying to install this package and when I run .\bootstrap-vcpkg.bat, I get the following error:
[code]
Windows 10, Power Shell (5.1.18362.628)

Could someone tell me what I'm missing? Thanks!

[2020-03-13 08:00] NancyLi1013 commented on #9822
Hi @ruhrie

Sorry for the late reply first.

I noticed that you only installed `angle`, but you didn't used it in this test case.
Since you built it on Windows platform with` Compiler: clang-9`, cl 14.24.28314, which is especial.
I can built it successfully with vs2017 15.9.21.

[2020-03-13 08:21] NancyLi1013 commented on #10406
Hi @nisha1729

Thanks for posting this issue.
Could you please help provide the steps to reproduce? Is vcpkg the latest version(2020.02.04) ?

[2020-03-13 08:25] nisha1729 commented on #10406
Hi @NancyLi1013 ,

I followed the instructions given:
[code]

[2020-03-13 08:35] JackBoosY commented on #9980
@Noemata
The CI test system still has some issues that need to be dealt with(#10390). Once these issues are dealt with, we will restart the #10366 test, and the tests will merge into main branch.

[2020-03-13 08:41] gk017 opened #10407 "[cppgraphqlgen] build failure"
**Host Environment**
- OS: Linux
- Compiler:
gernot@Io:~/Development/vcpkg$ gcc -v
Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/usr/lib/gcc/x86_64-linux-gnu/8/lto-wrapper
OFFLOAD_TARGET_NAMES=nvptx-none
OFFLOAD_TARGET_DEFAULT=1
Target: x86_64-linux-gnu
Configured with: ../src/configure -v --with-pkgversion='Ubuntu 8.3.0-26ubuntu1~18.04' --with-bugurl=file:///usr/share/doc/gcc-8/READM

[2020-03-13 08:48] parikshit-ai commented on #7903
I am still getting the same issue

The property 'instance' cannot be found on this object. Verify that the property exists.
At C:\vcpkg\scripts\bootstrap.ps1:78 char:31
+         foreach ($instance in $asXml.instances.instance)
+                               ~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (:) [], PropertyNotFoundException
    + FullyQualifiedErrorId : Proper

[2020-03-13 09:03] NancyLi1013 commented on #10218
@AjitDingankar
Sorry for the late reply.
I am also not sure what happended to your environment.
Could you please try to clone vcpkg to another directory that is not in `C:/` and try to build this again?

[2020-03-13 09:04] Noemata commented on #9980
Thank you for the update.

[2020-03-13 09:06] JackBoosY commented on #10404
These not found symbols are in the library `ws2_32.lib` provided by Windows. Since vcpkg does not actively add these system libraries to the import library list, you need to manually add it to the list.

Thanks.

[2020-03-13 09:50] LilyWangL commented on #10365
@traversaro Thanks for posting issue. I reproduced this issue on my vmware. I found:
1. The powershell remove the directory failed due to file icu-config is a read-only file.

2. And git bash remove the directory failed due to the directory name has a special symbol.

I try to use powershell and git bash to remove other ports source directory, and I remove successfully. I think the files generated

[2020-03-13 09:53] traversaro commented on #10365
To clarify, i reported the issue because "deleting buildtrees" is document as a way to save space: https://github.com/microsoft/vcpkg/blob/2020.01/docs/about/faq.md#how-can-i-remove-temporary-files .

[2020-03-13 10:02] LilyWangL commented on #10334
You can use `set(VCPKG_POLICY_EMPTY_PACKAGE enabled)` to disable the post-build check. See more information from: https://github.com/microsoft/vcpkg/issues/7109#issuecomment-508233035

[2020-03-13 10:05] soroush-rabiei opened #10410 "Release-only pre-built binary package?"
I have a proprietary SDK which is basically a set of DLL, LIB and header files. I would like to pack it as a vcpkg package. So far I've made a `CMakeList.txt` that simply copies those binaries and header files in corresponding locations.

The problem is that the vendor of this SDK does not provide any debug builds, so I tried to disable debug build in `profile.cmake`:

[code]

Though vcpkg still c

[2020-03-13 10:17] NancyLi1013 commented on #9817
@danieljo12
Could you try to clone vcpkg to another directory that is not in `c:\` and  build it agian?

[2020-03-13 10:28] NancyLi1013 commented on #7210
Hi @MoAlyousef

Sorry for the late reply.

Could  you please help confirm where `cmake` is installed in your local?

I tried to install different `cmake `versions in differnet directories and the results are different.
In older to make sure that there is no need to download `cmake `again, you can install it to `C:/` directory. If the version is more that `3.14` (It is the version that vcpkg provid

[2020-03-13 10:36] NancyLi1013 commented on #5523
Hi @foopoiuyt

Sorry for the late reply.

I noticed that you downloaded `cmake 3.12.4`. vcpkg has updated it as `3.14` now. Please try to update vcpkg to the latest version.

Could you please help confirm where cmake is installed and which version is installed  in your local ?
In older to make sure that there is no need to download cmake again, you can install it to C:/ directory. If the version i

[2020-03-13 10:38] NancyLi1013 commented on #2839
Please feel free to reopen it if this is still a problem for you.

Thanks.

[2020-03-13 10:38] #2839 closed

[2020-03-13 10:59] LilyWangL commented on #9988
Duplicate with issue: #5046

[2020-03-13 11:20] L4ZZA commented on #10331
@yurybura Apologies, I don't think I've been clear with my issue.
On vcpkg boost it's on it latest version which at the moment is 1.72.0 (see image below)
![image](https://user-images.githubusercontent.com/17835185/76615165-60bfed00-6519-11ea-88eb-71da9df81c5e.png)
Our application is x64 and uses VisualStudio 2019 latest compiler [ vc142 ]
Installing boost-test, which is all I need right now, usin

[2020-03-13 11:35] NancyLi1013 commented on #10406
This is not related to the directory that you installed.
Is this your first time to clone vcpkg or not?

You can try `git pull`  to update vcpkg to the latest version and then run `.\bootstrap-vcpkg.bat`. If there is no any update, it is already the latest.
If still error, please post the full error log.

[2020-03-13 11:49] eix128 opened #10411 "[New Port Request] <remill>"
Library name:
Remill

Library description:
Remill is a static binary translator that translates machine code instructions into LLVM bitcode. It translates x86 and amd64 machine code (including AVX and AVX512) into LLVM bitcode. AArch64 support is underway.

Remill focuses on accurately lifting instructions. It is meant to be used as a library for other tools, e.g. McSema.

Source repository URL:
h

[2020-03-13 11:53] eix128 opened #10412 "[New Port Request] <xed>"
Library name:
XED

Library description:
The X86 Encoder Decoder (XED), is a software library (and associated headers) for encoding and decoding X86 (IA32 and Intel64) instructions. The decoder takes sequences of 1-15 bytes along with machine mode information and produces a data structure describing the opcode, operands, and flags. The encoder takes a similar data structure and produces a sequence

[2020-03-13 11:56] shalinsirwani opened #10413 "[New Port Request] <libvisio>"
Library name:libvisio

Library description:

Source repository URL:https://github.com/LibreOffice/libvisio

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2020-03-13 12:04] PhoebeHui commented on #10331
@L4ZZA, it builds with vc142, after the libs generate, vcpkg renames the lib to vc140  when install it.
See [backgroud](https://github.com/microsoft/vcpkg/issues/601#issuecomment-276220946)

[2020-03-13 12:43] L4ZZA commented on #10331
I'm confident the general assumption is that:
- vc140 is for vs2015,
- vc141 for 2017
- and vc142 for 2019
so having vcpkg to rename the output files to earlier version can only create confusion if any issue arises during setup of the vs project.
In my opinion there shouldn't be any extra clever logic from vcpkg and that process should be done by each dev with that [issue](https://github.com/micro

[2020-03-13 12:45] L4ZZA commented on #10331
In my case this was actually the issue and not the _vc version_
`1>boost_unit_test_framework-vc140-mt-gd.lib(junit_log_formatter.obj) : error LNK2038: mismatch detected for 'RuntimeLibrary': value 'MTd_StaticDebug' doesn't match value 'MDd_DynamicDebug' in boost_example_nuget.obj`
I fixed it by setting _C/C++ -> Code Generation -> Runtime Library_ to `Multi-threaded Debug (/MTd)`

[2020-03-13 13:05] MoAlyousef commented on #7210
Thank you for your reply. I’m currently not in front of my windows machine, but CMake isn’t in C:\. However its path is in the environment PATH. I’m facing this issue also on Linux and Mac OS, I have cmake installed in a system PATH.
The other issue is that if I use my system cmake to install a library, it adds the config file to /usr/share, while the vcpkg downloaded cmake doesn’t seem to be able

[2020-03-13 13:11] nisha1729 commented on #10406
There is no update, so it must be the latest. Yes, it is my first time. Error is still the same:
`\

`

[2020-03-13 13:16] eix128 opened #10415 "[New Port Request] <intel pin>"
Library name:
intel pin , pin tools
Library description:
Pin is a dynamic binary instrumentation framework for the IA-32, x86-64 and MIC instruction-set architectures that enables the creation of dynamic program analysis tools. Some tools built with Pin are Intel® VTune™ Amplifier, Intel® Inspector, Intel® Advisor and Intel® Software Development Emulator (Intel® SDE). The tools created using Pin,

[2020-03-13 14:28] realnc commented on #5718
I haven't used vcpkg for a long time (since the bug report, actually, due to the bug.) So I have no interest in this bug. Feel free to close this.

[2020-03-13 15:30] ruhrie commented on #9822
So I went ahead and tried to build against cl (19.24.28316) and I achieved the same result. My problem is not actually building the binary, but rather executing it.

Glfw does not link against libegl at compile time, but instead opens the dll (or so) at runtime via a call to LoadLibraryA (or dlopen). Whether compiled with clang or cl, the resultant executable needs to be able to find the library.

[2020-03-13 15:33] ruhrie commented on #9822
Another clarification, angle is there to provide the gles and egl contexts. The flags I gave to glfw specify that is needs to look for those libraries and make the appropriate calls. Although my program here doesn't explicitly use angle, glfw will create calls to it instead.

[2020-03-13 15:34] tzehetner commented on #10404
Thanks for your reply.

Of course I understand, that I could add them, but it's an empty project that doesn't use anything from ws2_32.lib.

The thing is, that activating user-wide integration breaks compilation of C++/CLI projects, that don't even use packages from vcpkg. The empty C++/CLI project doesn't reference the grpc package and therefore shouldn't require ws2_32.lib.

For me this looks li

[2020-03-13 16:00] ruhrie commented on #9822
I also just noticed that I didn't mention that I installed glfw from vcpkg as well. My apologies.

[2020-03-13 17:20] strega-nil commented on #7903
@parikshit-ai Could you post the output of the following (in a regular command prompt): `"C:\Program Files (x86)\Microsoft Visual Studio\Installer\vswhere.exe" -format json`

[2020-03-13 17:58] AjitDingankar commented on #10218
I don't understand; ALL my files are under C: on the Windows laptop which only has one disk!

[2020-03-13 20:14] #9927 closed

[2020-03-13 20:35] strega-nil commented on #10376
We will accept PRs to add this triplet as a community triplet to vcpkg. Thanks for the issue!

https://github.com/microsoft/vcpkg/blob/master/docs/users/triplets.md

[2020-03-13 21:15] ayermolo commented on #10169
@PhoebeHui yep works with latest. Thanks!

[2020-03-13 21:15] #10169 closed

[2020-03-13 21:16] ayermolo commented on #10243
@NancyLi1013 Hi. Any update on this? Would it be possible to do?

[2020-03-14 07:27] WeskerPower commented on #9660
`Assertion failed: g.FrameScopeActive && "Forgot to call ImGui::NewFrame()?", file C:\vcpkg\buildtrees\imgui\src\v1.73-a85d24b4b8\imgui.cpp, line 4161
Assertion failed: ImGui::GetCurrentContext() != 0 && "Missing dear imgui context. Refer to examples app!", file C:\vcpkg\buildtrees\imgui\src\v1.73-a85d24b4b8\imgui_demo.cpp, line 197
`

imgui-sfml
code : https://github.com/eliasdaler/imgui-sfml/blo

[2020-03-14 08:31] ZMZ91 commented on #10145
hi @NancyLi1013, your steps are not enough. After cmake commands, you need to run `make` to generate executable files for your project.

[2020-03-14 09:00] mobilEKG opened #10417 "[libimobiledevice] build failure"
**Host Environment**
- OS: Windows
- Compiler: Visual Studio 2019

**To Reproduce**
Steps to reproduce the behavior:
Install the package successfully: `./vcpkg install libimobiledevice:x64-windows`
When put `find_package(libimobiledevice REQUIRED)` in `CMakeLists.txt`, it fails:
[code]

**Failure logs**
[code]

**Additional context**
Normally after install, `%vcpkg_root%\installed\x64-windows\shar

[2020-03-14 16:45] Asif1405 opened #10418 "CMake Error at C:/Program Files/CMake/share/cmake-3.16/Modules/FindPackageHandleStandardArgs.cmake:146 (message)"
I am trying to use cmake to compile darknet for YOLO V3. But getting following error:
CMake Error at C:/Program Files/CMake/share/cmake-3.16/Modules/FindPackageHandleStandardArgs.cmake:146 (message): Could NOT find PThreads_windows (missing: PThreads_windows_LIBRARY PThreads_windows_INCLUDE_DIR) Call Stack (most recent call first): C:/Program Files/CMake/share/cmake-3.16/Modules/FindPackageHandleS

[2020-03-14 20:46] BasixKOR opened #10419 "[fmt] build failure on MinGW"
**Host Environment**
- OS: Windows 10 x64 1909
- Compiler: (MinGW.org GCC-8.2.0-5) 8.2.0

**To Reproduce**
Firstly install fmt: `./vcpkg install fmt:x64-windows`

Add configuration to CMakeLists.txt:
[code]

**Failure logs**
[code]

**Additional context**
After I removed these line in `%VCPKGDIR%\share\fmt\fmt-config-version.cmake` it passed the build, but failed to run with these error message: `

[2020-03-15 05:05] linquize commented on #10419
If you use gcc in your project, You should `./vcpkg install fmt:x64-mingw`

[2020-03-15 05:21] linquize commented on #10418
How did you install darknet?
`vcpkg install darknet:x64-windows`?
What compiler did you use?

[2020-03-15 05:23] linquize commented on #10410
Did you read https://vcpkg.readthedocs.io/en/latest/about/faq/ ?

[2020-03-15 05:37] linquize commented on #1350
**cppan** relies on its own server to fetch the library definitions. Every time you wish to improve a library, you have to submit requests to cppan server. Also, cppan long term commitment, and reliablity are not guaranteed.

**vcpkg** library definitions are in one git repository, and git the repository can be cloned for offline use. The repository is hosted on github so it is more reliable.
You

[2020-03-15 05:41] linquize commented on #1350
**cppan** is obsolete, now it is migrated to **sw**.

[2020-03-15 05:47] linquize commented on #2940
Is it still valid with the latest vcpkg?

[2020-03-15 05:48] linquize commented on #3292
Is it still valid with the latest vcpkg?

[2020-03-15 06:19] linquize commented on #3142
Official ninja.exe is 64-bit only.
On Windows, `vcpkg` no longer downloads `ninja`. To use ninja, use the binary from Visual Studio, or download your own copy.

[2020-03-15 09:36] VelocityRa opened #10421 "[freerdp] Included FreeRDP headers can't find other FreeRDP headers"
FreeRDP built fine, then I imported it to my project with
[code]
and when including any file, ie.
[code]
I get compile errors when _that_ file tries to include `<winpr/platform.h>`.
Similar case for any other file in the project.

Those files **do** exist in my installation's `include/` but they are of course in `freerdp2/freerdp/*`.
Probably some include paths are not set correctly by vpckg?

I'm

[2020-03-15 10:37] egorpugin commented on #1350
Yes, this should be renamed to `Why not SW?`. SW is cppan v.2.
For reference: https://github.com/SoftwareNetwork/sw

[2020-03-15 11:34] traversaro opened #10422 "[gts] build failure when using CMake 3.17-rc3 on x64-windows"
**Host Environment**
- OS: Windows
- Compiler: Visual Studio 2019 16.4

**To Reproduce**
Install CMake 3.17 rc3 . Then install vcpkg commit https://github.com/microsoft/vcpkg/commit/ecff0166637f958b0272d10f5f308c83e25d4acb, and try to install `gts:x64-windows`
`./vcpkg install gts:x64-windows`

**Failure logs**
Failure on console:
[code]
The relevant error from `C:\gts-issue\vcpkg-latest-cmake\bui

[2020-03-15 12:28] linquize commented on #10421
`find_package(FreeRDP CONFIG REQUIRED)` will cause

[code]

[2020-03-15 12:53] MathiasMagnus commented on #3292
The issue is most likely linked to the cmake-tools extension anyway, so feel free to close the issue. I've not had to update portfiles in a while (I ported largely abandoned projects), but will reopen if the issue persists.

[2020-03-15 12:53] #3292 closed

[2020-03-15 12:56] eitanhs commented on #10316
Opened PR https://github.com/microsoft/vcpkg/pull/10319/

[2020-03-15 13:02] DropJor4 opened #10423 "[curlpp] build failure"
I install curlpp in my terminal in the folder vcpkg and then it indicates this,

Computing installation plan...
The following packages will be built and installed:
    curlpp[core]:x86-windows
Starting package 1/1: curlpp:x86-windows
Building package curlpp[core]:x86-windows...
-- Using cached D:/accountmap/Desktop/vcpkg-master/vcpkg-master/downloads/jpbarrette-curlpp-8810334c830faa3b38bcd94f5b1ab

[2020-03-15 13:06] linquize commented on #10422
3.14.0: OK
3.15.7: OK
3.16.5: Error
3.17.0-rc3: Error

[2020-03-15 13:21] linquize commented on #10423
Can you post the content of `D:\accountmap\Desktop\vcpkg-master\vcpkg-master\buildtrees\curlpp\config-x86-windows-out.log`?

[2020-03-15 13:23] linquize commented on #10423
Could you change the title of the issue, for example: "[curlpp] build failure"?

[2020-03-15 13:26] xarthurx opened #10424 "[New Port Request] ortools"
Library name: ortools

Library description:
OR-Tools is an open source software suite for optimization, tuned for tackling the world's toughest problems in vehicle routing, flows, integer and linear programming, and constraint programming.

After modeling your problem in the programming language of your choice, you can use any of a half dozen solvers to solve it: commercial solvers such as Gurobi

[2020-03-15 13:28] DropJor4 commented on #10423
No I can not in the folder config-x86-windows-out.log

[2020-03-15 13:37] DropJor4 commented on #10423
But can i fix this?

[2020-03-15 13:41] DropJor4 commented on #10423
This is my config-x86-windows-out.log!

[1/2] cmd /c "cd .. && "D:/accountmap/Desktop/vcpkg-master/vcpkg-master/downloads/tools/cmake-3.14.0-windows/cmake-3.14.0-win32-x86/bin/cmake.exe" "D:/accountmap/Desktop/vcpkg-master/vcpkg-master/buildtrees/curlpp/src/95a4f05eb9-6c154942c9" "-DCMAKE_MAKE_PROGRAM=D:/accountmap/Desktop/vcpkg-master/vcpkg-master/downloads/tools/ninja/ninja-1.8.2/ninja.exe" "-DB

[2020-03-15 13:45] traversaro commented on #10422
Related PR that would update the internal CMake version to 3.16, breaking this port even when no CMake is installed: https://github.com/microsoft/vcpkg/pull/9531 .

[2020-03-15 14:06] linquize commented on #10424
Blocker: create new port **cbc** first.
https://github.com/coin-or/Cbc

[2020-03-15 14:08] linquize opened #10425 "[New Port Request] cbc"
Library name: cbc

Library description: COIN-OR Branch-and-Cut solver

Source repository URL: https://github.com/coin-or/Cbc

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included): ortools depends on this.

[2020-03-15 14:09] linquize commented on #10424
Blocker: ortools has dependency **cbc**. So create new port **cbc** first. See #10425

[2020-03-15 14:20] BasixKOR commented on #10419
Oh, my mistake 😂 Thank you!

[2020-03-15 15:26] linquize commented on #10423
Why did you have `ninja` in `downloads/tools`?
Is your VS2017 properly installed with MSVC features?

[2020-03-15 15:49] BasixKOR commented on #10419
[code]
Just tried MinGW (x86 and x64 and both failed with this error. Any ideas?

[2020-03-15 17:11] DropJor4 commented on #10423
What is MSVC?

[2020-03-15 17:25] VelocityRa commented on #10421
Huh? Works fine for me. Maybe you forgot to set `VCPKG_DEFAULT_TRIPLET`?

[2020-03-15 17:32] VelocityRa commented on #10421
Btw, with the following I can get this to work with:
[code]
(obviously not a long term solution)

[2020-03-15 17:51] VelocityRa commented on #10421
Never mind, was fixed by https://github.com/microsoft/vcpkg/pull/9944.

[2020-03-15 17:51] #10421 closed

[2020-03-15 18:22] Voskrese commented on #10425
the port is not mine
did not test the port

[cbc.zip](https://github.com/microsoft/vcpkg/files/4334795/cbc.zip)

[2020-03-15 19:14] DropJor4 commented on #10423
How do I install that exactly?

[2020-03-15 19:28] DropJor4 commented on #10423
Yes I installed VS2017 correct

[2020-03-15 23:24] NikBomb commented on #9660
I am having the same issue, I will try to resort to manual build...

[2020-03-15 23:51] linquize commented on #10421
Is it really fixed? the commit is one month ago.
And I tested yesterday master.

[2020-03-16 00:18] linquize commented on #10423
Strange,  C++ compiler was not detected by cmake.

[2020-03-16 00:18] linquize commented on #10423
Do you also has gcc?

[2020-03-16 00:19] linquize commented on #10423
Do you also have gcc or clang installed?

[2020-03-16 01:34] VelocityRa commented on #10421
I tested yesterday's master too and it works.

[2020-03-16 02:36] JackBoosY commented on #10332
You need to confirm if the port uses dependent ports in vcpkg. I think that if the port's built-in dependencies are used, their header files will be exported.
You can also delete duplicate header files in `portfile.cmake`, such as:
[code]

[2020-03-16 02:40] JackBoosY commented on #10404
@strega-nil Could you please have a look?

Thanks.

[2020-03-16 02:43] JackBoosY commented on #9116
Please keep this issue open before we resolve it.

[2020-03-16 02:43] JackBoosY commented on #9851
Please keep this issue open before we resolve it.

[2020-03-16 03:07] NancyLi1013 commented on #10406
Could you please help provide the following information?
-  Windows 10 version (The specific version)
-  Visual Studio version (The specofic version)
-  Windows SDK version (Which version you have installed)

[2020-03-16 05:12] JackBoosY commented on #10173
confirmed.