[2021-12-14 12:44] dg0yt commented on #22019
https://developer.nvidia.com/rdp/cudnn-download ) and extract the zip into
your CUDA_TOOLKIT_ROOT (C:/Program Files/NVIDIA GPU Computing
Toolkit/CUDA/v11.5). (For example: tar.exe -xvf
cudnn-11.2-windows-x64-v8.1.1.33.zip --strip 1 --directory "C:/Program
Files/NVIDIA GPU Computing Toolkit/CUDA/v11.5"

[2021-12-14 13:11] Canvis-Me commented on #21981
Finally built it with vs2019.

[2021-12-14 13:11] #21981 closed

[2021-12-14 13:53] sharkwouter opened #22023 "CMake can't link to libmpg123 when building with sdl2-mixer"
I have 2 projects which are based on sdl2 which use sdl2-mixer and produce automatic builds for Windows. Since this issue #21776 this hasn't worked. A fix has been applied which makes sdl2-mixer build again with libmpg123 support, but my builds, which were working before, are still not working. I changed nothing.

Here is a link to the build: https://github.com/JoseTomasTocino/freegemas/runs/45206

[2021-12-14 13:56] sharkwouter commented on #22023
I can reproduce this on Windows 10 as well when I use the same code and and commands on a clean vcpkg.

[2021-12-14 14:37] Neumann-A commented on #21981
cannot do anything but setting VCPKG_CONCURRENCY to 1 and wait a week for it to build. If it runs out while linking there is probably no solution to that problem except upgrading the hardware.

[2021-12-14 14:41] #21982 closed

[2021-12-14 15:41] 00Awei commented on #21679
Thanks a lot for your attention, I have solved the problem.

[2021-12-14 15:44] 00Awei commented on #21679
Thanks a lot for your attention, I have solved the problem.

[2021-12-14 16:34] Dariusz1989 commented on #21877
Yo
Waiting for mongo people to look in to it >
https://jira.mongodb.org/browse/CXX-2419#add-comment

[2021-12-14 18:47] #21961 closed

[2021-12-14 18:47] #21913 closed

[2021-12-14 18:49] #21443 closed

[2021-12-14 22:02] BrendaMMaloff commented on #21973
Thank you so much for all of your help. I got it building now.

[2021-12-14 22:02] #21973 closed

[2021-12-15 00:15] #19554 closed

[2021-12-15 01:28] autoantwort commented on #21800
@BillyONeal What do you think about wrapping the `int` return/exit code into an `ExpectedS` that can hold the failure message of the winapi

[2021-12-15 02:18] JackBoosY commented on #21164
Please remove the python path in the environment `PATH` which you manually installed then try again.
You can also use extra option `--clean-after-build` in the install command, and you may need to remove folder _VCPKG_ROOT/buildtrees_ / _VCPKG_ROOT/packages_, that's no harm for vcpkg.

[2021-12-15 02:45] #21679 closed

[2021-12-15 03:08] JonLiu1993 commented on #21221
Thanks for posting this issue. Please reopen this issue if it still be a problem for you.

[2021-12-15 03:08] #21221 closed

[2021-12-15 03:10] JonLiu1993 commented on #21185
Thanks for posting this issue. Please reopen this issue if it still be a problem for you

[2021-12-15 03:10] #21185 closed

[2021-12-15 06:35] JonLiu1993 commented on #16551
@tan-wei ,Thanks for posting this issue, This issue has been fixed by #21322, please 'git pull' your vcpkg and try again, I am closing this issue for now

[2021-12-15 06:35] #16551 closed

[2021-12-15 06:46] MehdiChinoune opened #22029 "gsl is reported to have version 7.1 by cmake"
**Describe the bug**
CMake is reporting that gsl have "7.1" version instead of "2.7.1", that does not happen in other platforms

**Environment**
- OS: Windows
- Compiler: MSVC 2022
- cmake: `cmake version 3.21.21080301-MSVC_2`

**To Reproduce**
A simple cmake project with `find_package(GSL)`
[code]

**Expected behavior**
Report version to be `2.7.1`

**Failure logs**
[code]

**Additional context**

[2021-12-15 06:47] JonLiu1993 commented on #15019
@adili36 ,Thanks for posting this issue. Please reopen this issue if it still be a problem for you.

[2021-12-15 06:47] #15019 closed

[2021-12-15 06:49] Fedr commented on #21164
Thanks @JackBoosY, after removing manually installed `python` from the `PATH` the package is installed correctly:
[code]

[2021-12-15 06:54] #21164 closed

[2021-12-15 07:10] Birght-lab opened #22030 "Error: Building package eigen3:x64-windows failed with: BUILD_FAILED"
**Host Environment**
- OS: [e.g. Windows/Linux etc...]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install xxxx`

**Failure logs**
-Cut and paste the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

**Additional context**
Add any other context about the problem here, such as what yo

[2021-12-15 07:23] JackBoosY commented on #21870
Currently, vcpkg only supports single configuration.
Since the user project will only generate one configuration at a time, and the configuration provided by the port is multi-configuration, adding multi-configuration is not that important to me.

[2021-12-15 07:24] JackBoosY commented on #21996
Ping @quickiwiki  for response.

[2021-12-15 07:54] JonLiu1993 commented on #12267
@tikegami-mw ,
Since currently `sentencepiece ` only supports static CRT linkage. The problem you encountered is expected.

https://github.com/microsoft/vcpkg/blob/40a0fb232833dbc1b526394929f10b71627c2269/ports/sentencepiece/portfile.cmake#L1-L3

[2021-12-15 07:54] JonLiu1993 commented on #12267
Closing this issue since it is intended behavior.

[2021-12-15 07:54] #12267 closed

[2021-12-15 07:58] JackBoosY commented on #22030
Please provide the output in your console and the failure log in the contents first.

Thanks.

[2021-12-15 08:16] JackBoosY commented on #22029
According to the [`FindGSL.cmake`](https://github.com/Kitware/CMake/blob/master/Modules/FindGSL.cmake#L124-L146) which provided by cmake:
[code]
I think this is a cmake issue.
So please report this to cmake: https://gitlab.kitware.com/cmake/cmake/-/issues

Thanks.

[2021-12-15 09:43] JamMika commented on #21997
Thank you. The suggestion from Neumann worked well.
For your information I have sent the ticket to open62541 project as well, they can fix CMakeLists issue with ++.

[2021-12-15 09:43] #21997 closed

[2021-12-15 11:31] leashi commented on #21976
I found, has nothing to do with .Net framework. Python 3.9 and above do not support Windows 7, and python 3.10 is used in vcpkg.

[2021-12-15 11:39] leashi commented on #21976
hi,!
Thanks for your reply.
I found, has nothing to do with .Net framework. Python 3.9 and above do not support Windows 7, and python 3.10 is used in vcpkg.

***@***.***

From: LilyWangLL
Date: 2021-12-14 10:15
To: microsoft/vcpkg
CC: leashi; Author
Subject: Re: [microsoft/vcpkg] [fontconfig] Build error (Issue #21976)
Thanks for your reply. Did you try installing the Proper Version of the .NET Fr

[2021-12-15 13:31] christospliakos opened #22033 "[New Port Request] gnugraph"
Library name: gnugraph

Library description: A header only interface to gnuplot.exe, to plot 2D and 3D graphs from C++ code.

Source repository URL: https://github.com/AnyarInc/gnugraph

Project homepage (if different from the source repository): N/A

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2021-12-15 13:35] lidar-nevermore commented on #19561
I also got this error when using MSVC2022 and MSVC2015. I finally get through it by changing to MSVC2019

[2021-12-15 14:32] xavier2k6 opened #22035 "[OpenSSL] update to <1.1.1m>"
Library name: OpenSSL

New version number: 1.1.1**m**

Other information that may be useful (release notes, etc...)
https://www.openssl.org/source/
https://github.com/openssl/openssl/tags
https://www.openssl.org/news/newslog.html
https://www.openssl.org/news/cl111.txt

[2021-12-15 14:34] xavier2k6 commented on #20031
OpenSSL 3.0.1 out now:

https://www.openssl.org/news/cl30.txt
https://www.openssl.org/news/newslog.html
https://www.openssl.org/
https://www.openssl.org/source/
https://github.com/openssl/openssl/tags

[2021-12-15 16:01] XiaoleiZ commented on #21947
This is the output log file
[code]

[2021-12-15 16:48] XiaoleiZ commented on #21947
I have figured out it needs more memory to finish the installation. Problem has been solved. Thank you!

[2021-12-15 16:48] #21947 closed

[2021-12-15 17:08] horenmar opened #22037 "vcpkg does not ignore $-prefixed keys in features object"
**Describe the bug**
I tried to introduce comment inside of the "features" field of package's `vcpkg.json`. This causes error:

[code]

**Environment**
- vcpkg: Vcpkg package management program version 2021-12-09-724cea8b33cbf06c645f5095fa29773697da9761

**To Reproduce**
Create package `repro` with this `vcpkg.json`:
[code]

2. ```vcpkg install repro --overlay-ports={path to port repro}```

**Expe

[2021-12-15 18:05] Sand2Silicon commented on #21514
This is correct. The final syntax I believe I used is:
vcpkg install --recurse grpc[codegen]:x64-windows-static

However this requires:
1) Knowing the bracket-syntax "[FOO]" denotes a "feature", which can be listed as a parameter to 'vcpkg install'.
2) Knowing that GRPC Reflection is related to "CODEGEN"

Neither of these are obvious if you are using GRPC and by extension VCPKG both for the first

[2021-12-15 18:19] sbrosgol opened #22039 "[fribidi] Build error"
**Host Environment**
- OS: MacOS 12.1
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg.exe upgrade --no-dry-run`

**Failure logs**
CMake Error at scripts/cmake/vcpkg_configure_make.cmake:600 (message):
  fribidi requires autoconf from the system package manager (example: "sudo
  apt-get install autoconf")
Call Stack (most recent call first):
  ports/fribidi/portfile

[2021-12-15 18:58] demberto opened #22040 "[Openssl] Could not find PowerShell Core"
**Host Environment**
- OS: Windows 10 21H2 64-bit
- Compiler: VS 2022

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install boost`

**Failure logs**
[code]

**Additional context**

I have already **PowerShell 7** installed (`v7.1.5`) as well as `Windows Terminal`. `git pull` says everything up-to-date.

Inspecting the `scripts/cmake/vcpkg_copy_tool_dependencies.cmake` script showed:

[2021-12-15 19:13] Sand2Silicon opened #22041 "'vcpkg install' fails with "Found 0 sets of cmake version .*" in CentOS7 within WSL2"
**Description**
After running `bootstrap-vcpkg.sh` for the first time, `vcpkg install <packagename>` fails with an error:

**Error message:**
[code]

**Environment**
CentOS-7 running in WSL2 on Windows 10 Pro for Workstations
cmake3 installed from yum repo.
GCC - The RH SCL versions: devtoolset-8 and devtoolset-10 were tested.

[code]

**Steps to reproduce**
1. First I added to /etc/wsl.conf the l

[2021-12-15 19:24] horenmar opened #22042 "[portfile helpers] Undeprecate vcpkg_apply_patches"
I understand that using `vcpkg_from_git(hub)` is preferred, but I have at least two private packages for which I cannot use it for different reasons*, and instead I have to call into `git` manually like this

[code]

This then means that if I also need to patch the checkout, I am forced to use `vcpkg_apply_patches`, and this adds a multiline deprecation warning to the build output.

\* For the rec

[2021-12-15 19:36] Hawk2811 opened #22043 "How do I use vcpkg with GNU Makefiles"
There is no guide to using vcpkg with Makefiles only with CMake and Visual Studio but I wanted to use vcpkg with VSCode and GNU Makefile or NMake

[2021-12-15 19:38] pierrebizz commented on #21525
@jwillemsen

Actually, it's the static configuration that is broken; I don't think it's related to vcpkg
uname -a
Linux VM-Ubuntu20 5.11.0-43-generic #47-20.04.2-Ubuntu SMP Mon Dec 13 11:06:56 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

I downloaded the file ACE+TAO-src-7.0.5.tar.gz
tar xzf ACE+TAO-src-7.0.5.tar.gz
cd ACE_wrappers
export ACE_ROOT=`pwd`
export TAO_ROOT=$ACE_ROOT/TAO
cd $TAO_ROOT
perl

[2021-12-15 19:54] jwillemsen commented on #21525
That are all warnings you list

[2021-12-15 20:47] Emmetv15 opened #22044 "[gmp] Build error"
**Host Environment**
- OS: Windows
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg install gmp`

**Failure logs**

Starting package 3/3: gmp:x86-windows
Building package gmp[core]:x86-windows...
-- Downloading https://github.com/ShiftMediaProject/gmp/archive/0018c44e8dfcc3b64b43e0aea4b3f419f0b65fd0.tar.gz -> ShiftMediaProject-gmp-0018c44e8dfcc3b64b43e0aea4b3f419f0b65

[2021-12-15 21:06] pierrebizz commented on #21525
Well it is kind of an error: since TAO_IDL_EXE is not built, TAO won't be built

[2021-12-15 21:28] stalek71 opened #22045 "[lapack] Build error"
**Host Environment**
- OS: Windows 11, Windows Server 2022
- Compiler: MSVC 19.30.30706 for x64 (installed as a part of the latest VS 2022).

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install lapack[core]:x64-windows`

**Failure logs**
[code]

**Additional context**
The configuration is the same: clear system with latest VS 2022, VCPKG and git.

[2021-12-15 22:24] pierrebizz commented on #21525
I had the same kind of error on CentOs 9 with the static configuration

[2021-12-15 22:32] Sand2Silicon commented on #22041
**UPDATE:**
Looking through my notes I previously followed these instructions to alias `cmake` to `cmake3` using update-alternatives.
https://stackoverflow.com/questions/48831131/cmake-on-linux-centos-7-how-to-force-the-system-to-use-cmake3

_(the original unaliased /usr/bin/cmake is version 2.8.12.2)_
[code]

**Next Steps**
Just now I installed another cmake package which got priority in $PATH an

[2021-12-15 23:34] Osyotr commented on #22039
dude
`fribidi requires autoconf from the system package manager (example: "sudo
apt-get install autoconf")`

[2021-12-15 23:37] PhoebeHui commented on #21947
Good to know, thanks for your response!

[2021-12-16 01:12] PhoebeHui commented on #21994
@MoeSzyslak98, could you help confirm if PR #22046 works for you?

[2021-12-16 01:21] autoantwort commented on #22043
I think you add the include folder to the include path and link the libs manually. I think nearly is using plain makefiles so that it is unlikely that there will be a guide, but you can create a PR that

[2021-12-16 02:13] yusuke-kadowaki commented on #21514
@Sand2Silicon
Yeah totally agree that current requirement for users is confusing. I think I can figure this out and make a PR in a moment.

[2021-12-16 02:13] LilyWangLL commented on #22044
Thanks for posting this issue. Please provide the error log file: `C:\vcpkg\buildtrees\gmp\build-x86-windows-rel-out.log`

[2021-12-16 02:29] Hawk2811 commented on #22043
How?

[2021-12-16 02:40] autoantwort commented on #22043
How do you normally add include paths? If you don't know that, I really suggest using cmake.

[2021-12-16 02:45] Hawk2811 commented on #22043
I fumble all over using cmake because when I put the default compiler like LLVM-mingw it uses MSVC anyway

[2021-12-16 03:01] autoantwort commented on #22043
Normally you simply pass the compiler to cmake in the configure step `-DCMAKE_C_COMPILER=C:/.../clang -DCMAKE_CXX_COMPILER=C:/.../clang++`

[2021-12-16 03:04] PhoebeHui commented on #22040
Duplicated of https://github.com/microsoft/vcpkg/issues/15681.

[2021-12-16 03:06] Hawk2811 commented on #22043
ok I'll try here if there's any problem I'll send it here

[2021-12-16 04:53] demberto commented on #22040
Yes mine is ms store version. Guess i need to reinstall an msi version

[2021-12-16 05:41] JackBoosY commented on #22037
cc @strega-nil-ms

[2021-12-16 05:43] LilyWangLL commented on #21901
Ping @micking

[2021-12-16 05:43] LilyWangLL commented on #21881
Ping @blavatsky3

[2021-12-16 06:16] dg0yt commented on #21901
config.log should be more useful.
[code]

[2021-12-16 07:22] yuqilol opened #22047 "Error: Building package lapack:x64-windows failed with: BUILD_FAILED"
**Host Environment**
- OS: [e.g. Windows/Linux etc...]
- Compiler: Visual Studio 2022

**To Reproduce**
Steps to reproduce the behavior:
 vcpkg install opencv4 ceres ceres[suitesparse] lapack suitesparse --triplet x64-windows

**Failure logs**
Please ensure you're using the latest portfiles with `git pull` and `.\vcpkg update`.
Then check for known issues at:
  https://github.com/microsoft/vcpkg/i

[2021-12-16 07:28] jwillemsen commented on #21525
I get the impression not all output is there, can you attach a full build log, maybe parallel make is messing up the output

[2021-12-16 09:06] PhoebeHui commented on #22041
It looks a vcpkg bug, however, I don't have the environment to repro this issue. Anybody who know more about this issue?

[2021-12-16 09:16] LilyWangLL commented on #22023
@sharkwouter Could you test PR #22049 is useful for you? Thanks.

[2021-12-16 09:26] FrankXie05 commented on #22035
@xavier2k6 Thanks for posting this issue. The latest version update has not yet been resolved, we will contact the user to let the update continue. :)
Related PR: #20428

[2021-12-16 09:51] JackBoosY commented on #22042
I think we should add new features to vcpkg_from_git(hub) to support the features you need instead of re-enable `vcpkg_apply_patches`.
Can you please provide a repro step?

Thanks.

[2021-12-16 09:51] JackBoosY commented on #22045
Can you please confirm your vcpkg is latest?

Thanks.

[2021-12-16 10:13] stalek71 commented on #22045
Yes, it's in the latest version (taken yesterday)

[2021-12-16 11:31] sharkwouter commented on #22023
Done, it does fix this issue

[2021-12-16 11:31] quickiwiki commented on #21996
Yes, sorry @JackBoosY I'll provide soon the sample project

[2021-12-16 14:04] Sand2Silicon commented on #22041
FWIW, I think a  **CentOS-7** environment is the important part (**RHEL-7** might be able to repro too). I'm working in a WSL2 container but don't believe that is a factor here.

[2021-12-16 14:31] csw opened #22051 "[elfutils] Builds shared libraries when static are requested, vice versa"
****

**Is your feature request related to a problem? Please describe.**
When I build elfutils with vcpkg on Linux, I need a static library, but I get shared libraries only (e.g. libdw.so). All the other libraries I use vcpkg for are static. If I build elfutils from source outside of vcpkg, it builds both static and shared libraries. From looking at [the portfile](https://github.com/microsoft/vcpk

[2021-12-16 14:45] stalek71 commented on #22045
The same issue is on a new virtual machine based on Win 10 Pro.
I attached log files to this message

[CMakeError.log](https://github.com/microsoft/vcpkg/files/7728212/CMakeError.log)
[config-x64-windows-out.log](https://github.com/microsoft/vcpkg/files/7728213/config-x64-windows-out.log)
[CMakeOutput.log](https://github.com/microsoft/vcpkg/files/7728214/CMakeOutput.log)

[2021-12-16 15:51] bertox94 opened #22052 "[boost-build] Error: Building package boost-build:x86-windows-static-xp failed with: BUILD_FAILED"
**Host Environment**
- OS: Windows 10
- Compiler:
       clang version 12.0.0
       Target: i686-pc-windows-msvc
       Thread model: posix
       InstalledDir: C:\Program Files (x86)\Microsoft Visual Studio\2019\Professional\VC\Tools\Llvm\bin

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg.exe install boost-build:x86-windows-static-xp`

**Failure logs**
CMake Error at scripts/cmake/v

[2021-12-16 16:36] Emmetv15 commented on #22044
[build-x86-windows-rel-out.log](https://github.com/microsoft/vcpkg/files/7728951/build-x86-windows-rel-out.log)

[2021-12-16 16:38] Emmetv15 commented on #22044
[build-x64-windows-rel-out.log](https://github.com/microsoft/vcpkg/files/7728971/build-x64-windows-rel-out.log)
for x64 aswell, same thing

[2021-12-16 16:55] Emmetv15 commented on #22044
![image](https://user-images.githubusercontent.com/36600912/146413411-3ec260b2-1f62-453d-b480-fa435a79ecaa.png)
![image](https://user-images.githubusercontent.com/36600912/146414773-17ff3527-cbb3-4e0d-a89f-699a91b5efd6.png)

[2021-12-16 16:56] Emmetv15 commented on #22044
![image](https://user-images.githubusercontent.com/36600912/146414897-06ecc877-cfc4-4785-98ba-13db98c3ac19.png)

[2021-12-16 17:00] #14225 closed

[2021-12-16 17:15] dave-juicelabs opened #22053 "[boost-smart-ptr] Unable to download from mirror set"
**Host Environment**
- OS: Windows
- Compiler: Visual Studio 2019

**Failure logs**
[code]

[2021-12-16 17:43] Emmetv15 commented on #22044
i fixed it by installing the windows 10 SDK from vs2022 and uninstalling from vs build tools 2019

[2021-12-16 17:54] pierrebizz commented on #21525
bizz@covid-xix:~$ tar xzf ACE+TAO-7.0.5.tar.gz
bizz@covid-xix:~$ cd ACE_wrappers/
bizz@covid-xix:~/ACE_wrappers$ export ACE_ROOT=`pwd`
bizz@covid-xix:~/ACE_wrappers$ export TAO_ROOT=$ACE_ROOT/TAO
bizz@covid-xix:~/ACE_wrappers$ env | grep "ROOT"
ACE_ROOT=/home/bizz/ACE_wrappers
TAO_ROOT=/home/bizz/ACE_wrappers/TAO
bizz@covid-xix:~/ACE_wrappers$ cd ace/
bizz@covid-xix:~/ACE_wrappers/ace$ ln -s confi

[2021-12-16 19:14] jwillemsen commented on #21525
Looks static compilation has a basic problem. We currently don't have daily build/tests in a static configuration due to the huge disk space needs. Feel free to open a PR on ACE/TAO to resolve this or see https://github.com/DOCGroup/ACE_TAO/wiki/ACE-and-TAO-Commercial-support

[2021-12-16 19:47] Osyotr commented on #21525
@jwillemsen dynamic build is also broken. In fact, I was initially building with unofficial `x64-linux-dynamic` triplet but re-checked with static triplet so that the issue would not receive `community triplet` badge.

[2021-12-16 20:00] MehdiChinoune commented on #22029
reported upstream https://gitlab.kitware.com/cmake/cmake/-/issues/23017

[2021-12-16 20:00] #22029 closed

[2021-12-16 20:16] Neumann-A commented on #22051
Yeah somehow somebody (probably me) messed up in the portfile:

[code]

[2021-12-16 20:25] csw opened #22054 "[civetweb] add option for larger thread stacks"
****

**Is your feature request related to a problem? Please describe.**

Worker threads in my application run out of stack space easily, in particular when generating a stacktrace with libdw from elfutils. This is because civetweb creates its threads with only 100 KB stacks by default, compared to the default stack size of 2 MB. In the past, I've dealt with this by building civetweb outside of vc

[2021-12-17 00:21] cloudsnake opened #22057 "[poco：mysql] Build error"
**Host Environment**
- OS: Windows
- Compiler: VS 2022

**To Reproduce**
Steps to reproduce the behavior:
./vcpkg install poco[mysql]:x64-windows-static

**Failure logs**
-Cut and paste the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

**Additional context**
-- Using source at D:/dev/vcpkg/buildtrees/poco/src/f788bc

[2021-12-17 00:54] PhoebeHui commented on #22053
@dave-juicelabs, I can't repro this issue locally, could you try the below workaround if the issue persist?

1. Download https://github.com/boostorg/smart_ptr/archive/boost-1.77.0.tar.gz manually
2. Rename it to boostorg-smart_ptr-boost-1.77.0.tar.gz
3. Put it to vcpkg/downloads
4. ./vcpkg install boost-smart-ptr:x64-windows-static

[2021-12-17 00:59] PhoebeHui commented on #22052
Failures;
[code]

[2021-12-17 01:16] PhoebeHui commented on #22040
Closing in favor of https://github.com/microsoft/vcpkg/issues/15681.

[2021-12-17 01:16] #22040 closed

[2021-12-17 01:30] rainey commented on #21293
No worries - thank you for following up - this is not too urgent.  I was able to reproduce this state on a second system, and created a repo for more easily duplicating it:

[code]
Building Debug
[code]
Release:
[code]

[2021-12-17 01:35] rainey commented on #21293
It seems I can get the Release config to build successfully by adding `find_package(glfw3 CONFIG REQUIRED)` and `glfw` to target_link_libraries, but I still get asan/ubsan errors in the debug build.

[2021-12-17 02:56] LilyWangLL commented on #22044
This issue has been resolved, so I am closing this issue for now.

[2021-12-17 02:56] #22044 closed

[2021-12-17 03:01] JackBoosY commented on #22047
Please provide the failure logs mentiond in the output.

Thanks.

[2021-12-17 06:20] #21497 closed

[2021-12-17 06:29] JackBoosY commented on #21787
Since #21528 was merged, is this issue still exist?

[2021-12-17 06:45] #21364 closed

[2021-12-17 06:56] #22051 closed

[2021-12-17 06:59] thehans commented on #20689
I was also having issues getting pkg-config to work in my own project, even though it is used to build various vcpkg-provided dependencies which my project depends on.

I ended up installing pkgconf, which is technically a different project than `pkg-config`, but still meant to be compatible.
The only issue is that the exe filename provided is `pkgconf.exe` instead of `pkg-config.exe`, and since c

[2021-12-17 07:03] #21994 closed

[2021-12-17 07:04] JackBoosY commented on #20689
@thehans Yes, for pkgconfig, vcpkg still need to handle something and provides the usage in output and toolchain.

[2021-12-17 07:17] #21886 closed

[2021-12-17 07:18] zhangjp0405 commented on #21886
Thank you

[2021-12-17 07:30] #21658 closed

[2021-12-17 07:31] JackBoosY commented on #4930
Close this issue via #21896 merged.

[2021-12-17 07:31] #4930 closed

[2021-12-17 10:39] Tarek-Hasan opened #22063 "[7-Zip] update to 21.06"
Library name: 7-Zip

New version number: 21.06

Other information that may be useful (release notes, etc...)
Released on 24 Nov 2021
https://www.7-zip.org/download.html
mirror: https://sourceforge.net/projects/sevenzip/files/7-Zip/21.06/

[2021-12-17 11:23] xavier2k6 commented on #22063
Duplicate of #21567

[2021-12-17 11:52] varpande commented on #10296
Hi. is there any update on this @LilyWangL ? There is a duplicate issue on this here #21706.

[2021-12-17 12:49] ivanstepanovftw commented on #21851
Still unresolved. GitHub Actions is timing out: 30+ minutes only CMake configuration.
Is there any workaround? Remove all github packages? Thanks.

[2021-12-17 12:53] ivanstepanovftw commented on #21851
Please see attached logs from macOS machine. This was second run: [logs_macos.txt](https://github.com/microsoft/vcpkg/files/7735229/logs_macos.txt)

[2021-12-17 12:56] gracicot opened #22064 "[boost-asio] Add package option to enable io_uring support"
****

**Is your feature request related to a problem? Please describe.**

The next boost asio (version 1.78) has an option for enabling io_uring. It must be compiled with `BOOST_ASIO_HAS_IO_URING` and `BOOST_ASIO_DISABLE_EPOLL`

**Proposed solution**
An installation option to enable uring

**Describe alternatives you've considered**
The two options could also be enabled/disabled to selectively ena

[2021-12-17 13:01] rainey commented on #21293
I've tested the same steps as above on an older debian system, and it does not have the libasan/libubsan link errors. It's not clear why they're present in the two arch-linux based systems I've tried. With the debian system, I do still need to add glfw manually to CMakeLists.txt.

[2021-12-17 14:30] dave-juicelabs commented on #22053
It appears this was just a small downtime for Github. It came back shortly after submitting this issue.

[2021-12-17 14:30] #22053 closed

[2021-12-17 15:49] csw commented on #21882
Just verified that this is still a problem with the 1.3.0 update. The upstream issue is https://github.com/aws/s2n-tls/issues/2989; pending a fix for that, I think `-DUNSAFE_TREAT_WARNINGS_AS_ERRORS=OFF` will be required to make it build with gcc 11.

[2021-12-17 17:07] #15130 closed

[2021-12-17 17:43] prizrak56 opened #22066 "[sqlite3] Build error"
**Host Environment**
- OS: [e.g. Windows/Linux etc...]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install xxxx`

**Failure logs**
-Cut and paste the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

**Additional context**
Add any other context about the problem here, such as what yo

[2021-12-17 17:44] prizrak56 commented on #22066
Error: Building package sqlite3:x64-windows failed with: BUILD_FAILED

[2021-12-17 17:44] prizrak56 commented on #22066
Please ensure you're using the latest portfiles with `git pull` and `.\vcpkg update`.
Then check for known issues at:
  https://github.com/microsoft/vcpkg/issues?q=is%3Aissue+is%3Aopen+in%3Atitle+sqlite3
You can submit a new issue at:
  https://github.com/microsoft/vcpkg/issues/new?template=report-package-build-failure.md&title=[sqlite3]+Build+error
including:
  package: sqlite3[core]:x64-windows

[2021-12-17 17:45] spnda opened #22067 "[vk-bootstrap] Missing import target when building on Linux"
**Host Environment**
- OS: x86_64 Linux 5.8.0-43-generic
- Compiler: g++-11 (Ubuntu 11.1.0-1ubuntu1~20.04)

**To Reproduce**
This happens when trying to configure a cmake project depending on `vk-bootstrap` while on Linux.
[code]

Steps to reproduce the behavior:
`./vcpkg install vk-bootstrap`
`mkdir build && cd build`
`cmake ..`

**Failure logs**
[code]

**Additional context**
I know I made the `

[2021-12-17 18:15] Tarek-Hasan commented on #22063
Feel free to delete this issue.

[2021-12-17 18:15] pierrebizz commented on #21525
I went back in time today, and the last build that worked was 6.5.12. The problem with the static build starts at 7.0.0.

My expertise with the build file generation is too low to find the reason however

[2021-12-17 18:39] #22023 closed

[2021-12-17 19:06] thxkiwi opened #22068 "How do I get details on how VCPKG_VISUAL_STUDIO_PATH is used?"
I have created the discussion https://github.com/microsoft/vcpkg/discussions/20961

and not got any community or vcpkg team response in two months so I'm trying to contact the vcpkg team directly, here.

The overall issue I have is that I need to control where vcpkg finds the compiler/toolchain to use and am running into issues. If there is work that needs to be done I'm happy to contribute my tim

[2021-12-17 19:50] autoantwort commented on #21905
The binary cache sometimes randomly fail because the unzipping randomly fails with:
[code]

[2021-12-17 20:18] Neumann-A commented on #20689
@thehans Then your `cmake` version is lower than 3.22. 3.22 added `pkgconf` as a search name.

[2021-12-17 20:25] Neumann-A commented on #22068
https://github.com/microsoft/vcpkg/blob/master/docs/users/triplets.md#vcpkg_visual_studio_path

the code for the selection itself is in vcpkg-tool.

probably you did not install the English language pack.
https://github.com/microsoft/vcpkg/blob/50fd3d9957195575849a49fa591e645f1d8e7156/README.md?plain=1#L70

[2021-12-17 20:49] yurybura commented on #22064
Boost.Asio is header only library. You can add these defines in your application.

[2021-12-17 21:14] thxkiwi commented on #22068
@Neumann-A are you or any of the team able to say specifically what it is that vcpkg looks for to determine whether `VCPKG_VISUAL_STUDIO_PATH` is _valid_ in the eyes of vcpkg?

I'll start grokking... but again if anyone can answer this question directly would be greatly appreciated since it isn't called out in the standard vcpkg documentation.

I thought that by default the VS installer(s) select

[2021-12-17 21:29] Neumann-A commented on #22068
The complete selection code is in:
https://github.com/microsoft/vcpkg-tool/blob/main/src/vcpkg/visualstudio.cpp

[2021-12-17 21:56] Neumann-A commented on #22068
Try setting `VS160COMNTOOLS` in your environment if it is not set and vswhere is not installed at `const Path vswhere_exe = program_files_32_bit / "Microsoft Visual Studio" / "Installer" / "vswhere.exe";`. From your example it should probably be pointing to: `D:\Program Files\Microsoft Visual Studio\2019\BuildTools\Common7\Tools`
and make sure you have
[code]
dumpbin and some other sub folders are

[2021-12-18 02:36] yanrez commented on #21457
I am hitting same problem when building on the remote build server which doesn't have debug c runtime. Doesn't repro locally where I have full Visual Studio studio with debug c runtime installed.

cmd.exe /C "cd /D D:\dbs\sh\idsv\1217_172628\cmd\0\temp\buildtrees\grpc\src\2180080eb4-87c05d756b.clean && D:\dbs\sh\idsv\1217_172628\cmd\0\vcpkg_installed\x64-windows\x64-windows\tools\protobuf\protoc.e

[2021-12-18 04:07] pauljurczak opened #22072 "Unresolved external symbol main referenced in function WinMain"
**Describe the bug**
I described this issue in https://stackoverflow.com/questions/70269013/using-vcpkg-with-visual-studio-2022-produces-a-bogus-unresolved-external-symbol

I have an MFC C++ project, which builds and runs just fine with Visual Studio 2022 on Windows 10. The project doesn't use Qt at all. After I installed Qt 6.2.1 with vcpkg, project stopped building with this linker error:
[code]

[2021-12-18 06:34] #16681 closed

[2021-12-18 07:20] Ssspade opened #22074 "vcpkg install error:in triplet x64-windows: Unable to find a valid Visual Studio instance Could not locate a complete Visual Studio instance"
**Describe the bug**
A clear and concise description of what the bug is.
When using vcpkg install, an error occurred: in triplet x64-windows: Unable to find a valid Visual Studio instance
Could not locate a complete Visual Studio instance

**Environment**
- OS: Windows10,x86_64
- Compiler: Visual Studio Code

**To Reproduce**
Steps to reproduce the behavior:
1.  .\vcpkg install thrift
2. See error

[2021-12-18 11:59] xjsxujingsong opened #22076 "[folly] build failure"
**Host Environment**
- OS: Windows
- Compiler: vs2017

**To Reproduce**
Steps to reproduce the behavior:
.\vcpkg\vcpkg install folly:x64-windows-static

**Failure logs**
vcpkg\buildtrees\folly\x64-windows-dbg\CMakeFiles\CMakeTmp\CheckIncludeFile.c(1): fatal error C1083: Cannot open include file: 'pthread.h': No such file or directory
ninja: build stopped: subcommand failed.
vcpkg\buildtrees\folly\

[2021-12-18 12:58] trueqbit opened #22077 "[msbuild] triplet installation folder is wrong since tag 2021.12.01"
**Describe the bug**
_scripts\buildsystems\msbuild\vcpkg.targets_ creates the the triplet installation folder variable `_ZVcpkgCurrentInstalledDir` in a wrong way - the resulting path contains two path separators, which Windows 11 doesn't recognize as a correct path.

**Environment**
- OS: Windows 11

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install libxml2:x64-windows
2. ./vcp

[2021-12-18 13:12] sccoouut opened #22078 "[yara] CMake support"
**Describe the bug**
yara has not feature to be used with CMake or I just do something wrong?

**Environment**
- OS: Windows 10
- Compiler: MSVC

**To Reproduce**
I tried to build executable using yara. I installed yara package, but I can't find it with find_package.
`find_package(yara REQUIRED)`
`find_package(libyara REQUIRED)`

**Expected behavior**
Package is ready to be used.

**Failure logs**

[2021-12-18 13:19] Cook21 commented on #12059
I have the same issue too.

[2021-12-18 14:10] dg0yt opened #22080 "vcpkg tool syntax for `,` operator"
The `supports` field in manifests has a `,` operator. I would expect to put this operator directly after the preceeding expression, e.g.
[code]

However, vcpkg tool 2021-12-09-724cea8b33cbf06c645f5095fa29773697da9761 expects a space before (and after) the comma:
[code]

I would prefer if the tool accepted (`x-add-version`) and write (`format-manifest`) the variant *without* leading space.

[2021-12-18 14:10] cloudsnake commented on #22057
thanks!
libmysql is ok!
but
./vcpkg install poco[mysql]:x64-windows-static
no error,no build PocoDataMysqlmt.lib file!

[2021-12-18 14:55] #22078 closed

[2021-12-18 16:20] gemsofgem opened #22083 "[tensorflow] build failure"
**Host Environment**
- OS: [e.g. Windows/Linux etc...] Windows 11 Pro 64 bit
- Compiler: revision MS VS2022 C++

**To Reproduce**
Steps to reproduce the behavior:
./vcpkg install tensorflow:x64-windows

**Failure logs**
Error: Building package tensorflow:x64-windows failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `git pull` and `.\vcpkg update`, then
submit an issue

[2021-12-18 16:37] kuelumbus opened #22085 "cairo build failure on ubuntu"
**Host Environment**
- OS: Ubuntu on Github Actions
- Compiler: cc

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install cairo:x64-linux`

I believe `vcpkg_installed/x64-linux/debug/lib/pkgconfig/../../../../include/pixman-1` must be `vcpkg_installed/x64-linux/debug/lib/pkgconfig/../../../include/pixman-1`.
[code]

<details>
  <summary>Full log</summary>

[code]
</details>

[2021-12-18 17:48] IfremerUnderwater commented on #20231
Really sorry for the delay in my answer I was in long mission and couldn't test. With this mod it works perfectly, thank you very much for your help @NancyLi1013

[2021-12-18 17:48] #20231 closed

[2021-12-18 18:25] rrodrigueznt commented on #22074
Hi! I'm facing the same issue in a similar environment, trying to install any package. Some comments:

1. Visual Studio Code is not a compiler. It is an editor that accepts a lot of extensions, enabling among many other features compiling and debugging.
2. I don't know if Visual Studio Code could be considered "a complete Visual Studio instance" as the error message reads.
3. Messages available fr

[2021-12-18 19:34] shiena opened #22088 "[sqlcipher] update to 4.5.0"
Library name: sqlcipher

New version number: 4.5.0

Other information that may be useful (release notes, etc...)
https://www.zetetic.net/blog/2021/10/28/sqlcipher-4.5.0-release/

[2021-12-18 19:42] quickiwiki commented on #21996
@JackBoosY please take a look https://github.com/quickiwiki/test_sqlite_orm

[2021-12-18 19:54] yurybura commented on #9049
@PhoebeHui Could you check and close this issue?

[2021-12-18 19:56] yurybura commented on #9087
@PhoebeHui Could you check and close this issue?

[2021-12-18 19:58] yurybura commented on #4623
@PhoebeHui Could you check and close this issue?

[2021-12-18 20:06] yurybura commented on #2024
@PhoebeHui Could you check and close this issue?

[2021-12-18 20:09] yurybura commented on #15493
I've been tested this issue. Build has been succeeded.
@PhoebeHui Could you check and close this issue?

[2021-12-18 20:34] thehans commented on #20689
@Neumann-A I'm just using whatever cmake is bundled with VS2019 and VS2022 respectively.

[2021-12-19 07:41] hudengjunai opened #22094 "[New Port Request] <coz>"
Library name:coz

Library description:causual profiler

Source repository URL: https://github.com/plasma-umass/coz

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2021-12-19 11:28] xiaoliang2121 commented on #21966
After a few days, I compiled it again according to the original method and found that there was no problem

[2021-12-19 16:27] Ilmu011 commented on #19561
@lidar-nevermore  How exactly did you do this? I tried to make a custom triplet file for pcl specifically targeting MSVC2019 (v142). The vcpkg installation worked, but when I try to compile my program I get dozens of "unresolved external symbol" errors (I made sure everything is running on 64bit, same as the pcl installation)

[2021-12-19 17:30] qisumi opened #22097 "[LuaBridge] update to 3.x"
Library name: LuaBridge

New version number: 3.x

LuaBridge 3.x is also a header-only library, which can be easily introduced into vcpkg.
https://github.com/kunitoki/LuaBridge3

[2021-12-19 19:19] FTamas77 commented on #879
My Visual Studio 2022 says:

Severity	Code	Description	Project	File	Line	Suppression State
Error		CMake Error at sourceApp/CMakeLists.txt:1 (add_executable):
  Cannot find source file:

    sourceCode.cpp

  Tried extensions .c .C .c++ .cc .cpp .cxx .cu .mpp .m .M .mm .ixx .cppm .h
  .hh .h++ .hm .hpp .hxx .in .txx .f .F .for .f77 .f90 .f95 .f03 .hip .ispc		D:\Devel\Demo\sourceApp/CMakeLists.txt	1

[2021-12-20 00:48] nick-botticelli opened #22101 "OpenSSL (1.1.1l#4) build failure"
**Host Environment**
- OS: Windows 11 22000.376 (Intel x86-64)
- Compiler: Visual Studio 2022 (latest version as of this issue)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install openssl` (both x86 and x64 triplets)

**Failure logs**
Console output:

[code]

-Please attach any additional failure logs mentioned in the console output.
Any files that were empty were not included:
[bu

[2021-12-20 00:53] nick-botticelli commented on #21822
I am getting similar/same build error, did you find a solution?

[2021-12-20 00:59] LindaMosep commented on #21822
Yes. Watch this video. https://www.youtube.com/watch?v=0g4vXXe3_sk

20 Ara 2021 Pzt 03:53 tarihinde nick-botticelli ***@***.***>
şunu yazdı:

[2021-12-20 01:02] scrumptious-couscous commented on #19561
@Ilmu011 I uninstalled VS 2022 and installed VS 2019 from https://visualstudio.microsoft.com/vs/older-downloads/, and it worked.

[2021-12-20 01:04] DeanXi opened #22102 "Got error [find_file_recursively_up(E:\TOOLS\vcpkg\vcpkg.exe, .vcpkg-root): �������� ]while running vcpkg.exe -search"
First time to use vcpkg,  after executing vcpkg.exe search --debug I got the output：

[DEBUG] Feature flag 'binarycaching' unset
[DEBUG] Feature flag 'manifests' unset
[DEBUG] Feature flag 'compilertracking' unset
[DEBUG] Feature flag 'registries' unset
[DEBUG] Feature flag 'versions' unset
find_file_recursively_up(E:\TOOLS\vcpkg\vcpkg.exe, .vcpkg-root): ��������
[DEBUG] D:\a_work\1\s\src\vcpkg\vc

[2021-12-20 01:07] gracicot commented on #22064
@yurybura As far as I know changing options would change the interface requirement for boost asio, which would apply to all packages using it. Simply using a define because it's header only don't cut it. If you have a dependency that use boost asio and you define those keyword in your project, you'll have ODR violation. The package manager should take care of that.

[2021-12-20 01:08] nick-botticelli commented on #21822
I am having a bit of trouble understanding what you did to fix the issue. I see in the video they execute the command `vcpkg.exe install openssl:x64-windows openssl:x86-windows zlib:x64-windows zlib:x86-windows` however this results in the same build error.

[2021-12-20 02:09] chengjzh commented on #5761
So what's the solution for this

[2021-12-20 02:41] #21966 closed

[2021-12-20 02:57] JackBoosY commented on #22072
Can you provide the file list in _VCPKG_ROOT/installed/TRIPLET/lib_?

Thanks.

[2021-12-20 02:59] JackBoosY commented on #22080
Although the inclusion of spaces before the comma does not affect the parsing results, it is obvious that this approach is not a strict standard.

[2021-12-20 03:02] JackBoosY commented on #22102
How did you get vcpkg? Clone or directly download the zip package?
Please confirm `.vcpkg-root` exists in the vcpkg root dir, also please clone vcpkg in non-system path to avoid the permission issues.

[2021-12-20 03:04] JackBoosY commented on #22083
Can you please provide all logs in _VCPKG_ROOT/buildtrees/tensorflow_ first?

Thanks.

[2021-12-20 03:10] JackBoosY commented on #22068
Please note that variables like `VCPKG_VISUAL_STUDIO_PATH` are read-only, and modifications to them in the triplet file or portfile.cmake will not take effect.
As @Neumann-A said, `VCPKG_VISUAL_STUDIO_PATH` is got according to `vswhere`.

[2021-12-20 05:04] milmillin opened #22104 "[lapack-reference] build failure - gfortran broken"
**Host Environment**
- OS: Windows x64
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install lapack:x64-windows`

**Failure logs**
[code]

**`config-x64-windows-out.log`**
[code]

I tried bumping CMake to 3.22.1 mentioned in #21456 but that didn't help. I think it has something to do with my `gfortran`. Any help is appreciated.

[2021-12-20 05:42] pauljurczak commented on #22072
Here is the list:
[code]

[2021-12-20 05:54] JonLiu1993 commented on #22066
@prizrak56 ,Thanks for posting this issue,Cou you please provide the detail error log?

[2021-12-20 06:22] PhoebeHui commented on #22063
Closing in favor of https://github.com/microsoft/vcpkg/issues/21567.

[2021-12-20 06:22] #22063 closed

[2021-12-20 06:28] PhoebeHui commented on #15493
@yurybura, thanks for testing this issue! double confirmed, it builds successfully now.

[code]

[2021-12-20 06:28] #15493 closed

[2021-12-20 06:30] JackBoosY commented on #22104
Will be fixed by #19413.

[2021-12-20 06:31] JackBoosY commented on #22072
@Neumann-A
This file should be put into folder _manual-link_.

[2021-12-20 07:08] DeanXi commented on #22102
Thank you for your reply.
I downloaded the ZIP package and ran bootstrap.bat, the script program downloaded vcpkg.exe.
I checked the vcpkg root, .vcpkg-root exists but empty.
The path that vcpkg unziped in is non-system path, which is output in the error log

p.s : My OS is windows10 installed in macbook.

[2021-12-20 07:11] JackBoosY commented on #21514
I tried to reproduce this issue but failed.
1. This issue seems not related to the `codegen` feature.
2. According to the _examples/cpp/route_guide/CMakeLists.txt_ line 70:
[code]
`route_guide_client` does link to `${_REFLECTION}` which was found in _examples/cpp/cmake/common.cmake_ line 105:
[code]
And grpc is found in line 114 which using _VCPKG_ROOT/installed/x64-windows-static/share/grpc/gRPCC

[2021-12-20 07:32] JackBoosY commented on #22102
@DeanXi Please clone vcpkg instead of downloading vcpkg because the downloaded version cannot enable version control.

[2021-12-20 08:12] LilyWangLL commented on #22085
@kuelumbus Did you use manifest mode of VCPKG? Could you please provide your vcpkg.json?

I think so, the path of pixman-1's include is incorrect.

[2021-12-20 08:35] JonLiu1993 commented on #22097
@qisumi , 'https://github.com/kunitoki/LuaBridge3' This is not the official repo and we shouldn't accept this.
Vcpkg use the official  repo https://github.com/vinniefalco/LuaBridge. which doesn't provide 3.0 version

[2021-12-20 08:37] #22097 closed

[2021-12-20 08:38] JackBoosY commented on #21996
@quickiwiki The repo you provided is not exists anymore, can you please provide it again?

Thanks.

[2021-12-20 08:44] JackBoosY commented on #21457
@BillyONeal Can you please take a look at this issue?

Thanks.

[2021-12-20 08:44] LilyWangLL commented on #22101
There are error in **build-x86-windows-rel-1-out.log**:
[code]

[2021-12-20 09:02] bertox94 commented on #22052
Hello, anybody here?

[2021-12-20 09:40] huyluyen opened #22112 "[CPR] update to 1.7.2"
Library name: cpr

New version number: 1.7.2

Reference link: https://github.com/libcpr/cpr/releases/tag/1.7.2

[2021-12-20 09:58] pml07 commented on #21628
@JonLiu1993 , hello, I have the same problem with Windows SDKs 10.0.17763.0
and I also tried to update vcpkg, but it didn't work

`Computing installation plan...
The following packages will be built and installed:
    realsense2[core]:x86-windows -> 2.49.0#3
Detecting compiler hash for triplet x86-windows...
Restored 0 packages from C:\Users\s1976\AppData\Local\vcpkg\archives in 185.8 us. Use --de

[2021-12-20 10:44] waruqi commented on #18297
We can also try xmake, it has better package management.

Recently I am also making xmake support the vcpkg manifest mode, but I have encountered many problems. For example, the vcpkg installed by homebrew cannot find any specified baselines. Similar to this issue, I don't know how to solve it.

[2021-12-20 12:36] yurybura commented on #22064
The Boost packages are compatible with built-in CMake targets:
[code]
vcpkg doesn't provide any other exported CMake target.

Due to boost-asio doesn't have binary files I think you can simply build your own application like this:
[code]

If other vcpkg package will use io_uring during the build this package must define have similar CMake code in `portfile.cmake`.

[2021-12-20 12:40] liu-zw commented on #702
I have set env like this
[code]
but it doesn`t work.

[2021-12-20 13:35] autoantwort commented on #21905
When using `WEXITSTATUS` the process returned 127, which seems to mean `Command not found`, which does not make sense because it only happens randomly

[2021-12-20 14:01] ugvfpdcuwfnh commented on #21246
I have the same error , I install VS2022 and bazel 4.2.2 .
Is there any solution except uninstalling VS 2022 ?

[2021-12-20 14:23] gemsofgem commented on #22083
Thanks for your interest in the issue. Sorry, but I don't know how to attach a file in this text box. I had to add the long text below in the "build-x64-windows-dbg-err.log" file.

Starting local Bazel server and connecting to it...
INFO: Options provided by the client:
  Inherited 'common' options: --isatty=0 --terminal_columns=80
INFO: Reading rc options for 'build' from z:\swlibrary\vcpkg\build

[2021-12-20 14:44] kuelumbus commented on #22085
I am using the manifest mode. The content of the vcpkg.json is
[code]

[2021-12-20 14:52] ranjeethmahankali opened #22114 "[pngpp] build failure"
**Host Environment**
- OS: Windows
- Compiler: MSVC

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install pngpp`

**Failure logs**
[code]

[2021-12-20 15:27] autoantwort commented on #19984
The question is if you always want this. Maybe one changes the env var `SOME_BASE_DIR` to switch between versions of something, then you want different hashes. Maybe we should add something like `set(VCPKG_IGNORE_FOR_HASH "$ENV{SOME_BASE_DIR}")` so that the value(s) of `VCPKG_IGNORE_FOR_HASH` are removed from the value of every variable so that they are not included in the hash.
Or we don't includ

[2021-12-20 15:58] yusuke-kadowaki commented on #21514
@JackBoosY
I can confirm and reproduce this with the steps below. Did you forget to put the `DVCPKG_TARGET_TRIPLET=x64-windows-static` by any chance?

[code]

This should cause a whole bunch of errors like below.
[code]

BTW, I'm having the same error with host:x64-windows, target:x86-windows, which is my usecase.

[2021-12-20 16:21] #20524 closed

[2021-12-20 16:29] #22077 closed

[2021-12-20 16:34] #22088 closed

[2021-12-20 16:35] #18311 closed

[2021-12-20 17:31] josepguardia opened #22122 "[MPFR] assertion failed: size_s1 >= m"
After installing mpfr it doesn't seem to work well.

This simple program:
`
#include <iostream>
#include <gmp.h>
#include <mpfr.h>

int main() {
    std::cout << "hello " << mpfr_get_version() << std::endl;

    mpfr_prec_t p = 100;

    mpfr_t r;
    mpfr_init2(r, p);
    mpfr_set_str(r, "0.00000000001", 10, MPFR_RNDD);

    mpfr_printf("Value is: %.25Rf\n", r);

    mpfr_clear(r);

    return 0;

[2021-12-20 22:14] kuelumbus commented on #22085
I think this has something to do with cmake. Cairo compiles for cmake@3.21.1 works but it fails for cmake@3.22.1.

[2021-12-20 22:59] quickiwiki commented on #21996
@JackBoosY Sorry, could you please try now?

[2021-12-21 00:15] cykim277 opened #22126 "[fftw3] Build error"
**Host Environment**
- OS: [e.g. Windows/Linux etc...]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install xxxx`

**Failure logs**
-Cut and paste the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

**Additional context**
Add any other context about the problem here, such as what yo

[2021-12-21 00:15] #22126 closed

[2021-12-21 01:18] waruqi opened #22127 "[zlib] build failure"
I am making xmake to support vcpkg manifest mode. but it will report errors when I am testing zlib package. https://github.com/xmake-io/xmake/issues/1928

**Host Environment**
- OS: Linux
- Compiler: gcc (Ubuntu 10.3.0-1ubuntu1) 10.3.0
Copyright (C) 2020 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY

[2021-12-21 01:45] JonLiu1993 commented on #21628
@pml07 ,Could you please provide your error log:
[code]

[2021-12-21 01:51] Cook21 opened #22128 "header files not found"
**Describe the bug**
I was able to build my projects on Fedora with the DNF, but after I switch to MacOS and vcpkg, one of my projects failed: https://github.com/Cook21/GAMES101-Assignments/tree/main/Assignment0, it told me

when I run the `make` command.
**Environment**
- OS: MacOS 12.1
- Compiler: Apple clang version 13.0.0

**To Reproduce**
Add these lines to `CMakeLists.txt`:
[code]
Create `vc

[2021-12-21 02:02] LilyWangLL commented on #22057
Waitting for PR #22062 merged, this issue will be closed.

[2021-12-21 02:10] JackBoosY commented on #22083
[code]
Plesa track https://github.com/microsoft/vcpkg/issues/21246 instead.

[2021-12-21 02:10] #22083 closed

[2021-12-21 02:19] JackBoosY commented on #21996
[code]

[2021-12-21 02:24] JackBoosY commented on #21996
Confirmed.

[2021-12-21 03:03] LilyWangLL commented on #22114
Thanks for posting this issue. Could you please try to download the attached file manually and put the archive file into _VCPKG_ROOT/downloads_ folder, then rebuild this?
[png++-0.2.10.tar.gz](https://github.com/microsoft/vcpkg/files/7749253/png%2B%2B-0.2.10.tar.gz)
This error due to your proxy didn't set correct, you need use proxy to download those files:
[code]

[2021-12-21 03:06] JonLiu1993 commented on #21666
@Divint3 ，Could you please provide detail log:
[code]

[2021-12-21 03:19] Divint3 commented on #21666
sorry,here's not have such file
Only CmakeOutput.log

here's file

[code]
and I search a file from openblas named CMakeerror.log

[code]

[2021-12-21 03:22] Divint3 commented on #21666
last file is from `D:\ENV\vcpkg\buildtrees\openblas\x64-windows-dbg\CMakeFiles`
this one is from `D:\ENV\vcpkg\buildtrees\openblas\x64-windows-rel\CMakeFiles`
[code]

[2021-12-21 03:23] waruqi opened #22129 "`Device or resource busy` when calling `vcpkg install` for manifest mode one by one"
**Describe the bug**
I am making xmake to support vcpkg manifest mode. but it will report errors when it is calling vcpkg install multiple packages. https://github.com/xmake-io/xmake/issues/1928

I have made sure to call the vcpkg install command serially and install the packages one by one. There should be no parallel vcpkg tasks running at the same time to access the file lock.

**Environment**

[2021-12-21 03:52] waruqi opened #22131 "Couldn't find explicitly specified baseline for homebrew/vcpkg"
**Describe the bug**
I am making xmake to support vcpkg manifest mode. but it will report errors about baseline when it call `vcpkg install` from homebrew/vcpkg. https://github.com/xmake-io/xmake/issues/1928

The vcpkg installed by brew does not have a git repository history, and it seems that the baseline cannot be found, but a baseline must be set in vcpkg.json, otherwise other errors will be re

[2021-12-21 04:37] autoantwort commented on #22131
Yeah you can't use the brew version of vcpkg. For manifest mode vcpkg must be cloned with git. brew is also not officially supported

[2021-12-21 04:44] autoantwort commented on #22129
You should call vcpkg with `--x-wait-for-lock`

[2021-12-21 04:54] dg0yt commented on #22127
This is an old port version of 1.2.11. The current port version should be reported as ` ... 1.2.11#13`.

[2021-12-21 04:55] dg0yt commented on #22127
Perhaps this config implies port version 0?
[code]

[2021-12-21 05:08] dg0yt commented on #22131
This version is old.

[2021-12-21 05:18] waruqi commented on #22129
oh, it works, thanks!

[2021-12-21 05:18] #22129 closed

[2021-12-21 05:24] waruqi commented on #22127
well, I set to `1.2.11#10` and it works. But why shouldn't 1.2.11 be the latest patch version? we have to find the latest patch version 1.2.11#13 from other sites by ourself.

[2021-12-21 05:25] #22127 closed

[2021-12-21 05:27] waruqi commented on #22131
If it is not an officially supported version, I think it should be removed from homebrew or updated to the latest officially supported version. Otherwise, this will cause a lot of trouble. After all, brew has a large number of users. Users are habitual to install vcpkg from brew first. If they are on macOS

[2021-12-21 05:33] #22131 closed

[2021-12-21 05:59] JonLiu1993 commented on #21158
@cczls1991 ,please reopen this issue if it still be a problem for you.

[2021-12-21 05:59] #21158 closed

[2021-12-21 06:06] LilyWangLL commented on #21646
Sorry I am late. The latest version of `netcdf-c` is 4.8.1#1, could you use `git pull` to update vcpkg and reinstall the new version of `netcdf-c`? I can install `netcdf-c` succeed locally.

[2021-12-21 06:25] dg0yt commented on #21198
For parallel configure to work, offscale-libetcd-cpp must be patched. Cf. https://github.com/microsoft/vcpkg/pull/22124#issuecomment-998507322.

[2021-12-21 06:28] dg0yt commented on #22131
You cannot use features that are not in the packaged version. This is the same for other brew packages.

[2021-12-21 06:46] JackBoosY commented on #22122
I confirmed `size_s1` is `0`:
[code]

[2021-12-21 06:52] dg0yt commented on #20190
CC @ras0219-msft @strega-nil-ms

[2021-12-21 07:10] LilyWangLL commented on #22128
Thanks for posting this issue. The include path of `eigen3` is _VCPKG_ROOT/installed/TRIPLET/include/eigen3_, so this should be `#include <Eigen/Core>` in **main.cpp**. You can use the following codes in **CMakeLists.txt**, and needn't set `include_directories`
[code]

[2021-12-21 07:27] JackBoosY commented on #22122
After some debugging, the different between debug and release is `mpn_lshift(a, 0 + 2, 2, 1)` returned different values `18446744073618895986` (debug) and `13107199999806695700` (release) in _src/getstr.c_ line 2800.

I have less knowledge with mpfr and gmp, can you send this to the upstream?

Thanks.

[2021-12-21 07:29] SeanFarrow commented on #21921
I'd be happy to do this if I can work out how to call the generate-ports script. How do I pass in an empty array of libraries? Or should we look to rewrite the script to make the parameter optional?

[2021-12-21 07:35] JackBoosY commented on #21996
No, this issue is not fixed in the latest master (commit ID: 115c6f64a340eac5bc5509bf884a7f350c9e6aa8).
Can you please report this to the upstream?

Thanks.

[2021-12-21 07:40] FrankXie05 commented on #22067
@spnda Thanks for posting this issue. Could you please provide this file:
[code]

[2021-12-21 07:45] zimmermann6 commented on #22122
with mpfr 4.1.0 under x86_64 Linux, if I add the following lines around the mpn_lshift command at line 2800:
[code]
I get:
[code]
The value a has two limbs, the least significant is 18446744073618895986 and the most significant is 13107199999999999999.

[2021-12-21 08:01] Cook21 commented on #22128
It works, thanks!

[2021-12-21 08:01] #22128 closed

[2021-12-21 08:25] bertox94 commented on #22052
Hi,
I solved this by adding the following triplets and toolchain files:
[triplets.zip](https://github.com/microsoft/vcpkg/files/7750715/triplets.zip)
But I have a new issue on boost-exception.
Opening new issue...

[2021-12-21 08:31] bertox94 opened #22132 "[boost-exception] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: clang -v
       clang version 12.0.0
       Target: i686-pc-windows-msvc
       Thread model: posix
       InstalledDir: C:\Program Files (x86)\Microsoft Visual Studio\2019\Professional\VC\Tools\Llvm\bin

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg.exe install boost-exception:x86-windows-xp-llvm`

**Failure logs**
CMake Error at scri

[2021-12-21 08:33] Cook21 commented on #22128
@LilyWangLL This raises a concern for me, what if I have to include header files with the same name from two different libraries?

[2021-12-21 08:41] pml07 commented on #21628
@JonLiu1993 I find there is not the file named buildtrees in C:\Users\s1976\vcpkg
after I command

[code]

[2021-12-21 08:48] spnda commented on #22067
I have worked around this for now but this is the older version `src/carbon/CMakeLists.txt` which still targets `vk-bootstrap` from vcpkg:

https://github.com/spnda/krypton_engine/blob/8cc5b89fa92780cc95b5f834951916731e222beb/src/carbon/CMakeLists.txt

[2021-12-21 08:49] josepguardia commented on #22122
As it is commented here:

https://sympa.inria.fr/sympa/arc/mpfr/2021-12/msg00007.html

Maybe the solution could be changing the dependency of MPFR from GMP to MPIR.

[2021-12-21 09:12] JackBoosY commented on #21514
Can you please provide the full configure log?

[2021-12-21 09:45] pml07 commented on #21628
@JonLiu1993 , here's the contents of error log

[code]

[2021-12-21 09:47] JonLiu1993 commented on #21628
@pml07 ,Please install Visual Studio English Language Package using Visual Studio Installer first.

Thanks.

[2021-12-21 10:05] pml07 commented on #21628
@JonLiu1993 , it's solved!!
Thanks a lot~~

[2021-12-21 10:12] FrankXie05 commented on #22067
We should fix this issue completely.

[2021-12-21 10:54] Cook21 commented on #22128
OK, I think I know how to deal with this, just add:
`include_directories(${VCPKG_INSTALLED_DIR}/${VCPKG_TARGET_TRIPLET}/include)`
and I can use `#include <eigen3/Eigen/Core>` as a uniform format with other scenarios

[2021-12-21 12:16] GJC1979 commented on #21646
I have got the same error with the latest version:

 D:\vcpkg> .\vcpkg install netcdf-c
Computing installation plan...
The following packages will be built and installed:
    netcdf-c[core,dap,hdf5,nczarr,netcdf-4,platform-default-features]:x64-windows -> 4.8.1#1
Detecting compiler hash for triplet x64-windows...
Restored 0 packages from C:\Users\Gustavo\AppData\Local\vcpkg\archives in 588.5 us. U

[2021-12-21 12:39] qdin opened #22139 "AWS storage support for binary caching"
****

**Is your feature request related to a problem? Please describe.**
Binary caching is wonderful (thank you!), and the ability to use external storage is great, but I build my software using vcpkg on AWS instances, so it would be great to have an AWS-based storage solution.
Currently binary caching supports NuGet and Google Cloud storage, while there is zero mention of using AWS S3 or CodeArti

[2021-12-21 13:35] liupeiqiHN opened #22140 "[MNN] build error"
**Describe the bug**
MNN:x64-windows-static install failed.

**Environment**
- OS: win11
- Compiler: VS2022

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install MNN:x64-windows-static
2. See error: install-x64-windows-static-dbg-out.log
[code]

if I add `set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} /std:c++17")`, another error occur, maybe MNN update to latest v1.2.0 will fix this erro

[2021-12-21 14:00] habanr commented on #21514
I've exactly the same problem. Library grpc++_reflection.lib an grpcpp_channelz.lib are missing x86-windows grpc package.

[2021-12-21 14:39] tatatupi opened #22142 "[highfive] CMake config files missing"
**Host Environment**
- OS: Windows 10
- Compiler: MSVC 2019 16.11.16 x64

**To Reproduce**
`./vcpkg install highfive:x64-windows`

**Failure logs**
- Version 2.3 generated cmake config files properly, in the vcpkg/installed/x64-windows/share/HighFive folder:
![image](https://user-images.githubusercontent.com/16545413/146947190-c7e26c2c-9d44-43b7-ba09-1fff7a307392.png)

- Current version (2.3#1) do

[2021-12-21 15:23] kuelumbus commented on #22085
I can repo this in
https://colab.research.google.com/drive/1O4bG-FvXpTmGUaWxG-rcMilNUP7l7ZiJ?usp=sharing

[2021-12-21 15:48] huangqinjin opened #22143 "tls12-download.exe failed with error 0x00002EFE"
[code]

`tls12-download.exe` failed to download `vcpkg.exe`. But using following powershell command it is successful.
[code]

I don't understand how my company IT department configure the network. They are quite conservative, as not long ago, I could not even `git clone` repo from github. Any suggestions to troubleshoot?

[2021-12-21 16:42] ranjeethmahankali commented on #22114
It works. Today it also works normally without that downloading the file manually. Not sure what changed.

[2021-12-21 16:42] #22114 closed

[2021-12-21 17:14] yusuke-kadowaki commented on #21514
@Sand2Silicon Can you do this please? I can't take time for this for a few weeks because of holidays.

[2021-12-21 18:34] Robomate opened #22144 "PCL installation - Error: Building package pcl:x86-windows failed with: BUILD_FAILED"
OS: Win11

-- Building x86-windows-dbg
-- Building x86-windows-rel
CMake Error at scripts/cmake/vcpkg_execute_build_process.cmake:155 (message):
    Command failed: C:/Users/rfg/vcpkg/downloads/tools/cmake-3.21.1-windows/cmake-3.21.1-windows-i386/bin/cmake.exe --build . --config Release --target install -- -v -j17
    Working Directory: C:/Users/rfg/vcpkg/buildtrees/pcl/x86-windows-rel
    See log

[2021-12-21 18:48] autoantwort commented on #22144
(compiler file 'd:\a01\_work\3\s\src\vctools\Compiler\Utc\src\p2\main.c', line 217)
 To work around this problem, try simplifying or changing the program near the locations listed above.
If possible please provide a repro here: https://developercommunity.visualstudio.com
Please choose the Technical Support command on the Visual C++
 Help menu, or open the Technical Support help file for more infor

[2021-12-21 18:48] vkaytsanov opened #22145 "Upgrade option"
****
I just decided to upgrade my packages with `./vcpkg.exe upgrade --no-dry-run` and I lost all my ports, just because of a some dependency that can't build of `assimp`.

**Proposed solution**
Make the upgrade iterative, a.k.a remove port -> upgrade -> next port

[2021-12-21 18:53] autoantwort commented on #22145
Use `--keep-going`, duplicate of #17922 and possible fix in https://github.com/microsoft/vcpkg-tool/pull/308

[2021-12-21 19:06] #22145 closed

[2021-12-21 21:24] lmdiazangulo opened #22148 "Error compiling gmp under ubuntu 18.04: Host path separator (:) in path; this is unsupported."
**Host Environment**
- OS: Ubuntu 18.04.6 LTS
- Compiler: gcc (Ubuntu 10.3.0-1ubuntu1-18.04-1) 10.3.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install gmp`

**Failure logs**

[2021-12-21 21:26] yurybura commented on #22132
Please upload log file `C:\Users\alt\vcpkg-master\buildtrees\boost-exception\config-x86-windows-xp-llvm-out.log`.

[2021-12-21 22:02] autoantwort commented on #22148
What is your current PATH?

[2021-12-21 23:54] gemsofgem commented on #22083
Thanks for your reply.
However, I cannot figure out what the solution is proposed to fix the issue. Is it as below?

Update TensorFlow to 2.7.

Update Bazel to 4.2.2 (latest 4.x), hopefully fixing Windows 11 issues like #21246.

If this is the solution proposed, I don't know how to upgrade tensorflow in vcpkg.  As far s I am aware, it is done automatically done by the command

vcpkg install tensor

[2021-12-22 00:47] PhoebeHui commented on #22139
Related to https://github.com/microsoft/vcpkg-tool/pull/293

[2021-12-22 02:15] yuqilol commented on #22047
i am white,sorry.

[2021-12-22 02:15] yuqilol commented on #22047
Computing installation plan...
The following packages will be built and installed:
    ceres[core,lapack,suitesparse]:x64-windows -> 2.0.0#5
    lapack[core]:x64-windows -> 3#2
  * libjpeg-turbo[core]:x64-windows -> 2.0.6#2
  * liblzma[core]:x64-windows -> 5.2.5#4
  * libpng[core]:x64-windows -> 1.6.37#16
  * libwebp[core,nearlossless,simd,unicode]:x64-windows -> 1.2.1
  * metis[core]:x64-windows

[2021-12-22 02:16] yuqilol commented on #22047
is that?

[2021-12-22 02:18] JackBoosY commented on #22083
I'm not sure whether tf and bazel supports Visual Studio 2022 now.

[2021-12-22 02:19] JackBoosY commented on #22143
Please track https://github.com/microsoft/vcpkg/issues/21163 instead.

[2021-12-22 02:21] LilyWangLL commented on #22144
Thanks for posting this issue. This is a bug of Visual Studio.
Closed this due to duplicate with #19561, please pay attention of #19561.

[2021-12-22 02:21] #22144 closed

[2021-12-22 02:22] JackBoosY commented on #22047
Please also provide full log _D:\pycharm\pycharmproject\OpenSfM-main\opensfm\vcpkg\buildtrees\lapack\config-x64-windows-out.log_.
Just drag this file to the edit box then comment.

[2021-12-22 02:39] huangqinjin commented on #22143
@JackBoosY not the same case as #21163 I think. The problem there is about http headers and curl, but here is tls12-download.exe and nothing about headers.

[2021-12-22 02:52] LilyWangLL commented on #22076
Thanks for posting this issue. Did you install the latest version of folly? I cann't reproduce this issue locally. Could you please provide the log files?

[2021-12-22 04:12] #21968 closed

[2021-12-22 04:18] #22112 closed

[2021-12-22 07:46] lmdiazangulo commented on #22148
I had this:

I have removed the intel compiler sources and now it seems to be working. Thanks!

[2021-12-22 08:59] bertox94 commented on #22132
Had to do some changes, because other libraries were failing. So my intention is, **use clang-cl and link with libc++**.
Starting from the master version I only created this triplet file: [x86-windows-static.zip](https://github.com/microsoft/vcpkg/files/7761330/x86-windows-static.zip)

**The command failing now is**: .\vcpkg install boost-exception:x86-windows-static
**with this error**:
CMake Err

[2021-12-22 09:01] #22148 closed

[2021-12-22 09:31] longhuan2018 opened #22154 "[flann] openmvg build failure while flann with hdf5 feature"
**Host Environment**
- OS:  Windows 10
- Compiler:  VS 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install flann[hdf5]:x64-windows openmvg:x64-windows`

**Failure logs**
[code]

[2021-12-22 09:35] longhuan2018 commented on #22154
I found that this is caused by the lack of `find_package(hdf5 REQUIRED)` in the `flann-config.cmake` file

[2021-12-22 10:43] gurachan commented on #4359
this still an issue until this day .. xD omg..

[2021-12-22 13:30] booka24 opened #22155 "MPI executes only one process"
Hello

Just started to work with MPI
everything is installed and works fine
And my first code was Hello World
But in console were executed only one process and shows size = 1 only !
What's wrong?

[2021-12-22 15:33] JackBoosY commented on #21666
[code]
I think you should install more components in Visual Studio Installer.

[2021-12-22 15:34] JackBoosY commented on #21851
[code]

[2021-12-22 15:46] JackBoosY commented on #22143
According to the [msdn doc](https://docs.microsoft.com/en-us/windows/win32/winhttp/error-messages):
[code]

[2021-12-22 15:47] JackBoosY commented on #22143
I can't repro this issue using [2021-12-09 release](https://github.com/microsoft/vcpkg-tool/releases/download/2021-12-09/tls12-download.exe).
Can you please try the latest executable again?

Thanks.

[2021-12-22 15:52] JackBoosY commented on #22155
Which triplet did you use?

[2021-12-22 16:01] booka24 commented on #22155
64x-windows

[2021-12-22 16:06] JackBoosY commented on #22155
In x64-windows, port `mpi` is `msmpi`. vcpkg only unzip the official package and get the include path.
So I think it's a usage issue.
Please report it to https://github.com/microsoft/Microsoft-MPI/issues instead.

Thanks.

[2021-12-22 16:11] SuperWig opened #22162 "[entt] Include natvis files"
The library provides natvis files and an option to add them to the entt target, it would be nice to include them with the installation.

[2021-12-22 16:12] JackBoosY commented on #22122
@josepguardia That's avoid this issue, not fix this issue.
The question is why the debug version is correct but release version has this issue.

[2021-12-22 18:00] ilongshan commented on #21767
Is there any update that can be shared?

[2021-12-22 18:02] Yuhta opened #22163 "[libpq] Adding "-flto" to VCPKG_C_FLAGS causing libpq fail to compile"
**Host Environment**
- OS: Linux 3.10.0-1160.15.2.el7.x86_64 #1 SMP Wed Feb 3 15:06:38 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
- Compiler: g++ (GCC) 10.3.0
- CMake: 3.20.0

**To Reproduce**
vcpkg.json:
[code]
vcpkg as a git submodule, included `scripts/buildsystems/vcpkg.cmake` in CMakeLists.txt.

**Failure logs**
[code]

config-x64-linux-dbg-err.log:
[code]

[2021-12-22 20:28] XapaJIaMnu commented on #20244
Is QT Linguist part of the qttools port? It's not detected for me from a 3rd party cmake project:
[code]
A bit reminiscent of: https://github.com/microsoft/vcpkg/issues/2834
At any rate, i'd also be interested in a qt linguist only package.

[2021-12-22 21:03] Legonois opened #22164 "[GLFW3] build failure"
**Host Environment**
- OS: Windows 11 Professional
- Compiler: Not sure what to put here

**To Reproduce**
Steps to reproduce the behavior:
 .\vcpkg install GLFW3

**Failure logs**

**Additional context**
I have repaired my Visual Studio 2022 Community Edition instance and made sure I had the English Language Pack

I have also added a system variable called "VCPKG_VISUAL_STUDIO_PATH" that contains

[2021-12-22 21:09] Legonois commented on #22164
This might help. I found the debug command and I hope this helps understand the problem

 ".\vcpkg install GLFW3 --debug" is the command that I ran

PS C:\Users\#####\source\weird stuff for VS\vcpkg-2021.05.12> .\vcpkg install GLFW3 --debug
[DEBUG] Feature flag 'binarycaching' unset
[DEBUG] Feature flag 'manifests' unset
[DEBUG] Feature flag 'compilertracking' unset
[DEBUG] Feature flag 'registrie

[2021-12-22 22:53] Neumann-A commented on #20244
Yes it is

probably doing something wrong or somebody is manipulating `CMAKE_PREFIX_PATH`

[code]

That will not happen unless upstream changes qttools and extracts that as a standalone module.

[2021-12-23 01:42] yuqilol commented on #22047
[1/2] cmd /c "cd ../../x64-windows-dbg && "D:/pycharm/pycharmproject/OpenSfM-main/opensfm/vcpkg/downloads/tools/cmake-3.21.1-windows/cmake-3.21.1-windows-i386/bin/cmake.exe" "D:/pycharm/pycharmproject/OpenSfM-main/opensfm/vcpkg/ports/lapack" "-DCMAKE_PREFIX_PATH="D:/pycharm/pycharmproject/OpenSfM-main/opensfm/vcpkg/packages/lapack_x64-windows"" "-DBUILD_SHARED_LIBS=ON" "-DVCPKG_CHAINLOAD_TOOLCHAIN

[2021-12-23 01:57] JackBoosY commented on #22047
I can't repro that.
Can you please add extra option `--x-cmake-args=--trace-expand` to the install command and provide the output?

Thanks.

[2021-12-23 03:16] ilongshan commented on #21767
Using "brew install x264" can install x264. I am not sure how they make it work,but hope vcpkg can support x264 soon as homebrew.

[2021-12-23 03:37] JackBoosY commented on #21767
We doesn't have a arm-mac, can you please add option `--allow-unsupported` to the install command and try again?

Thanks.

[2021-12-23 03:52] #22142 closed

[2021-12-23 03:53] #22057 closed

[2021-12-23 03:56] Legonois commented on #22164
I have uninstalled everything with Visual Studio 2022, and reinstalled it with the C++ Desktop Development package, along with the Windows 10 and Windows 11 SDK. I saw somewhere that installing that fixed it, but I am still getting the same error

[2021-12-23 06:19] oovm opened #22167 "[icu] Build error"
**Host Environment**
- OS: Windows
- Compiler: MINGW64 gcc6.2

**To Reproduce**

[code]

**Failure logs**

- `output`

[code]

- `build-x64-windows-dbg-err.log`

[code]

- `build-x64-windows-dbg-out.log`

very long(245kb), last few logs:

[code]

**Additional context**

This is a windows computer with chinese system, the default code is CP936.

- `uchar.cpp`

https://github.com/unicode-org/icu/blo

[2021-12-23 06:29] JonLiu1993 commented on #21739
Thanks for posting this issue. Please reopen this issue if it still be a problem for you.

[2021-12-23 06:29] #21739 closed

[2021-12-23 06:35] JackBoosY commented on #21823
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-12-23 06:35] #21823 closed

[2021-12-23 06:41] XapaJIaMnu commented on #20244
@Neumann-A  thanks for the explanation. I used github workflow with vcpkg 50fd3d995. My package built successfully when using qt5-base and qt5-tools as opposed to when using the qt6 counterparts where some of the QT components could not be found. I will try to experiment outside of a VM when I get the chance and file issues if necessary.

[2021-12-23 06:51] Cheney-W commented on #22164
Could you please run `.\bootstrap-vcpkg.bat` in the vcpkg folder and try to install this port again?

[2021-12-23 06:54] JonLiu1993 commented on #21476
@cglong ,Is this problem solved?

[2021-12-23 06:55] Legonois commented on #22164
It did not work

PS C:\Users\wesle\source\weird stuff for VS\vcpkg-2021.05.12> .\bootstrap-vcpkg.bat
Downloading https://github.com/microsoft/vcpkg-tool/releases/download/2021-05-05-9f849c4c43e50d1b16186ae76681c27b0c1be9d9/vcpkg.exe -> C:\Users\wesle\source\weird stuff for VS\vcpkg-2021.05.12\vcpkg.exe
Done.

Telemetry

vcpkg collects usage data in order to help us improve your experience.
The dat

[2021-12-23 06:59] JackBoosY commented on #22167
[code]
Obviously this option is invalid.

[2021-12-23 07:02] JonLiu1993 commented on #21628
@ilyak93 ,Is this problem solved?

[2021-12-23 07:02] Cheney-W commented on #22164
Sorry, it's my mistake. You should git pull the latest vcpkg and run this script for getting the latest vcpkg.exe 2021-12-09-724cea8b33cbf06c645f5095fa29773697da9761.
Also, could you find the vcvarsall.bat file in your computer?

[2021-12-23 07:15] PhoebeHui commented on #22163
@Yuhta, it seems the directory where ninja.exe is located to your path has not set correctly. could you reference https://stackoverflow.com/questions/38658014/ninja-not-found-by-cmake and see if it's helpful? BTW, I can't repro this issue locally.

Failures:
[code]

[2021-12-23 07:26] ksh7393 opened #22168 "[openssl] Build error"
**Host Environment**
- OS: Windows 10 version 20H2(OS Build 19042.1348)
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install openssl:x64-windows`

**Failure logs**
C:\src\vcpkg\vcpkg>.\vcpkg install openssl:x64-windows
Computing installation plan...
The following packages will be built and installed:
    openssl[core]:x64-windows -> 1.1.1l#4
  * vcpkg-cmake[core

[2021-12-23 07:50] JackBoosY commented on #22168
Please use proxy or directly download `[this file](https://strawberryperl.com/download/5.32.1.1/strawberry-perl-5.32.1.1-32bit.zip)` and put it to _VCPKG_ROOT/downloads_ then try again.

Please note this file is huge.

[2021-12-23 08:00] JackBoosY commented on #22167
Which Visual Studio version do you use?

[2021-12-23 08:19] ksh7393 commented on #22168
Can you please provide some details on how to use proxy?

[2021-12-23 08:20] Cheney-W commented on #22140
I tried to reproduce this issue with latest vcpkg 2021-12-09-724cea8b33cbf06c645f5095fa29773697da9761 and VS2019, VS2022 and VS2022 Preview, but I always could install mnn:x64-windows-static successfully.
According to your failure log, at first I suspected that the issue might be affected by abseil:x64-windows-static, but I installed this port and then reinstalled mnn and I still couldn't reproduc

[2021-12-23 08:22] JonLiu1993 commented on #21534
@MlovehebeE ,please reopen this issue if it still be a problem for you.

[2021-12-23 08:22] #21534 closed

[2021-12-23 08:54] yuqilol commented on #22047
D:/pycharm/pycharmproject/OpenSfM-main/opensfm/vcpkg/scripts/cmake/z_vcpkg_prettify_command_line.cmake(33):  set(pretty_command ninja -v PARENT_SCOPE )
D:/pycharm/pycharmproject/OpenSfM-main/opensfm/vcpkg/scripts/cmake/vcpkg_execute_required_process.cmake(127):  message(FATAL_ERROR   Command failed: ninja -v
   Working Directory: D:/pycharm/pycharmproject/OpenSfM-main/opensfm/vcpkg/buildtrees/lapa

[2021-12-23 09:13] oovm commented on #22167
I just figured out that vcpkg is not using gcc in the path variable.

I am using `Visual Studio community 2022 (17.0.4)` + `[CPP Desktop Development]` + `[.Net Desktop Development]`

with `[English Language Pack]` + `[Chinese Language Pack]`

[2021-12-23 10:23] JackBoosY commented on #22167
Did you install other version of Visual Studio?

[2021-12-23 10:26] oovm commented on #22167
There used to be 2017 and 2019, but I should have uninstalled it. Now only 2022 installed.

[2021-12-23 10:42] JackBoosY commented on #22167
Can you please provide the following **full** log ?
_D:\Rust\vcpkg\buildtrees\icu\config-x64-windows-dbg-out.log_
_D:\Rust\vcpkg\buildtrees\icu\config-x64-windows-dbg-err.log_

The workaround is set utf-8 locale in Windows settings.
![image](https://user-images.githubusercontent.com/47264268/147229072-77bab586-4e5e-4d77-b465-94c6a8eb34b6.png)

[2021-12-23 10:47] abhinavdayal opened #22172 "[onednn] Build error"
**Host Environment**
- OS: [Ubuntu 20.04]
- Compiler: revision: gcc (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install onednn`

**Failure logs**
[code]

[code]
LOGS
[code]
Additionally, attach any relevant sections from the log files above.

**Additional context**
I could not find a way out.

[2021-12-23 10:53] JackBoosY commented on #22172
Please provide the output and the log mentioned in the output.

Thanks.

[2021-12-23 11:06] qdin commented on #14498
@9prady9 Did you ever solve this problem?

Basically, I'm seeing something similar:
To successfully link freeimage statically (I'm on Ubuntu 18.04), in addition to the cmake usage requirements of freeimage,
I need to also call find_package(WebP CONFIG REQUIRED) and then link WebP::libwebpmux and -fopenmp.

Thanks!

[2021-12-23 11:09] k06a opened #22173 "[boolinq] update to 3.0.3"
Library name: boolinq

New version number: 3.0.3

Git tag 3.0.3 was added: https://github.com/k06a/boolinq/tree/3.0.3
Users asked to upgrade, but I am not familiar with vcpkg: https://github.com/k06a/boolinq/issues/49

[2021-12-23 11:14] k06a commented on #22173
Requesting the help of @JonLiu1993

[2021-12-23 11:24] 9prady9 commented on #14498
Sorry, I am missing the context. Did I report similar issue in the past ?

I have faced some issues with vcpkg on linux. It has been a while though. Can't recollect now.

[2021-12-23 11:32] oovm commented on #22167
[icu.zip](https://github.com/microsoft/vcpkg/files/7769037/icu.zip)

[2021-12-23 11:36] Cheney-W commented on #21910
I tried to install the getdns port with the latest `vcpkg version 2021-12-09-724cea8b33cbf06c645f5095fa29773697da9761` and VS2019, and I could install it successfully. Does this issue still occur in your side?

[2021-12-23 11:44] abhinavdayal commented on #22172
I resolved it by setting export VCPKG_MAX_CONCURRENCY=4

I have 6 cores on my system.

[2021-12-23 11:49] qdin commented on #14498
Sorry, didn't reference your original reply: https://github.com/microsoft/vcpkg/issues/14498#issuecomment-824792872

I'm seeing similar errors (with GOMP, etc) to what you have in the error.log file you posted.

[2021-12-23 12:10] SchaichAlonso opened #22174 "[pango] update to 1.50.3"
Library name: pango

New version number: 1.50.3

See https://gitlab.gnome.org/GNOME/pango/-/blob/1.50.3/NEWS for a list of changes

[2021-12-23 12:27] SchaichAlonso opened #22175 "[pangomm] update to 1.50.0"
Library name: pangomm

New version number: 1.50.0

See https://gitlab.gnome.org/GNOME/pangomm/-/blob/2.50.0/NEWS for a list of changes

[2021-12-23 12:32] huangqinjin commented on #22143
I tried the latest tls12-download.exe and got same error. I think this problem is specific to my company environment. But I don't understand why `Invoke-WebRequest` is working.

[2021-12-23 13:20] JackBoosY commented on #22167
[code]
I can confirm your Visual Studio is broken, please repair your Visual Studio Using Visual Studio Installer.

Thanks.

[2021-12-23 13:22] JackBoosY commented on #22172
collect2: fatal error: ld terminated with signal 9 [Killed]
It seems that your memory is full.
I'm glad that you resolved this issue.

[2021-12-23 13:22] #22172 closed

[2021-12-23 13:24] JackBoosY commented on #22143
You can directly download vcpkg binary using [the Chinese mirror](https://gitee.com/jackboosy/vcpkg-tool/releases).

[2021-12-23 13:38] JackBoosY commented on #22047
@yuqilol Use command:
[code]

[2021-12-23 13:40] JackBoosY commented on #22168
@ksh7393 It's in the message:
[code]

[2021-12-23 13:48] huangqinjin commented on #22143
In fact my company is in Singapore. And the problem is not only `tls12-download.exe`, `vcpkg x-download` that download all packages has same error.

[2021-12-23 13:58] JackBoosY commented on #22143
@huangqinjin So you can use the bootstrap scripts to download vcpkg.

[2021-12-23 14:16] 9prady9 commented on #14498
That is alright. I couldn't see all the conversations on GitHub mobile. I will check over the weekend and let you know.

[2021-12-23 14:21] ivanstepanovftw commented on #21851
Thank you, but I was talking about caching, not compiling.

[2021-12-23 14:22] kreuzerkrieg opened #22178 "vcpkg with CLion"
Documentation problem

it is stated here https://github.com/microsoft/vcpkg#vcpkg-with-clion
[code]
This part, `Unfortunately, you'll have to add this to each profile.` is not true, you have a way to solve it using standar cmake approach by adding PreLoad.cmake file and adding the following line to it
`set(CMAKE_TOOLCHAIN_FILE ~/Development/vcpkg/scripts/buildsystems/vcpkg.cmake CACHE INTERNAL ""

[2021-12-23 14:23] JackBoosY commented on #21851
@ivanstepanovftw Yeah I know.

[2021-12-23 14:23] ivanstepanovftw commented on #21851
You should be interested in
[code]

[2021-12-23 14:26] ivanstepanovftw commented on #21851
Our github package does not have `boost-log:x64-osx-lgpl`
![image](https://user-images.githubusercontent.com/8203898/147253658-aa8a5aba-2db6-43f6-8997-e132263eee46.png)

[2021-12-23 14:55] Yuhta commented on #22163
The build seems having failed before that, it is complaining about "zlib library not found".  The same setting was working when I use a toolchain with gcc 9 and cmake 3.16, but failed when I upgrade the toolchain to gcc 10 and cmake 3.20.

[2021-12-23 14:58] yurybura commented on #11132
@PhoebeHui This issue has been fixed already. Could you close it?

[2021-12-23 15:29] thomaswillecomme commented on #3483
Hello ! This issue is still present.
makes the build to fail on windows (for two days on our CI/CD as we cleared cache)
here using the wget on linux gives some hints
[code]

[2021-12-23 17:22] ShiverZm commented on #22102
i met the same problem, i clone twice but the same result.

[2021-12-23 17:47] JackBoosY commented on #22102
I think this isuse is same with https://github.com/microsoft/vcpkg/issues/19524.

Did you clone or download vcpkg in an external disk?

[2021-12-23 18:12] ShiverZm commented on #22102
i just use it by putting the vcpkg to C dist like "C:/vcpkg"   ,which can solved this problem.

[2021-12-23 18:55] Yuhta commented on #22163
I find out the reason, cmake is not picking up the correct gcc that I put on `PATH` (seems it ignores `PATH` entirely), I need to set `CC` in order to change the compiler.

[2021-12-23 20:02] Yuhta commented on #22163
Actually it's very confusing, after I set `CC`, it works.  I have a custom triplet:

[code]

As soon as I add `-flto`, the same issue ("zlib library not found") showing up again:

[code]

[2021-12-23 20:15] Yuhta commented on #22163
I suspect the underlying issue is one invocation of compiler failed (with `-flto`), but vcpkg hide the root cause.

[2021-12-23 20:45] Tremoneck commented on #21335
This is a regression, with a66098ad1a9ec72de9fd4d63ecce8bd23d6b6d74 it was working correctly.
After resetting the python version to 3.9.6 it works again, while leaving all other commits which have landed in the mean time alone.

[2021-12-23 20:51] dg0yt commented on #22167
If you want to build with mingw, you must use mingw triplets.

[2021-12-23 21:08] Yuhta commented on #22163
This does not work either:

[code]

[2021-12-23 21:25] autoantwort commented on #20341
Hm seems to work now

[2021-12-24 00:54] Legonois commented on #22164
I pulled the latest version and it works!! Thanks!

[2021-12-24 00:54] #22164 closed

[2021-12-24 00:54] DeanXi commented on #22102
no，just ran bootstrap.bat

[2021-12-24 00:56] DeanXi commented on #22102
Thank you so much, it works!!

[2021-12-24 00:59] NaturalJ0 opened #22183 "[openssl] Build error"
**Host Environment**
- OS: CentOS Stream 9
- Linux version 5.14.0-30.el9.x86_64 (mockbuild@x86-06.stream.rdu2.redhat.com) (gcc (GCC) 11.2.1 20211019 (Red Hat 11.2.1-6), GNU ld version 2.35.2-13.el9) #1 SMP PREEMPT Mon Dec 13 19:24:41 UTC 2021
- Compiler: gcc version 11.2.1 20211019 (Red Hat 11.2.1-6) (GCC)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install openssl`

**Failure logs

[2021-12-24 01:30] JackBoosY commented on #22102
Duplicated to https://github.com/microsoft/vcpkg/issues/19524.

[2021-12-24 01:30] #22102 closed

[2021-12-24 01:38] JackBoosY commented on #22183
[code]
It looks like openssl used the perl which you installed manually, and it missing some components.
So you have 2 choice:
1. Remove perl from the system.
2. Install the `File::Compare` module.

Thanks.

[2021-12-24 01:45] LesleyLai commented on #15527
Draco updated to 1.5.0 and reworked its `find_package` support in [this PR](https://github.com/google/draco/pull/775). Probably that will fix the issue once vcpkg supports Draco 1.5.0

[2021-12-24 02:10] yuqilol commented on #22047
i use that and the result is that:

[2021-12-24 02:13] yuqilol commented on #22047
Computing installation plan...
The following packages will be built and installed:
    ceres[core,lapack,suitesparse]:x64-windows -> 2.0.0#5
    lapack[core]:x64-windows -> 3#2
  * libjpeg-turbo[core]:x64-windows -> 2.0.6#3
  * liblzma[core]:x64-windows -> 5.2.5#4
  * libpng[core]:x64-windows -> 1.6.37#16
  * libwebp[core,nearlossless,simd,unicode]:x64-windows -> 1.2.1
  * metis[core]:x64-windows

[2021-12-24 02:17] Divint3 commented on #21666
thanks I will close this issue

[2021-12-24 02:17] #21666 closed

[2021-12-24 02:53] oovm commented on #22167
I successfully build icu_x64 and icu_x86 in my home desktop with VS2019.

And also no problem on Azure CI.

However, this computer was reinstalled in 2019 and it still unsuccessful. Maybe this computer is really faulty. I should reinstall the entire OS.

Thank you for your help anyway.

[2021-12-24 02:53] #22167 closed

[2021-12-24 03:24] JackBoosY commented on #15527
@LesleyLai  No it wasn't.
The draco-config.cmake still can't be used in Windows.

[2021-12-24 03:45] liupeiqiHN commented on #22140
Install failed even I  remove all MNN and its dependencies.
This issue only occur when installing mnn.
I can install MNN if I clone a new vcpkg.
Windows SDK: 10.0.19041.0

[2021-12-24 03:54] nlogozzo opened #22185 "[gtkmm] update to 4.4.0"
Library name: GTKmm

New version number: 4.4.0

Other information that may be useful (release notes, etc...)
https://download.gnome.org/sources/gtkmm/4.4/

[2021-12-24 03:58] AbhishekSharma-SEG opened #22186 "[mp3Lame] : x86 build Failing certification test in UWP, because ImageHasSafeExceptionHandlers is set to false"
in x86, mp3Lame Failing certification test in UWP version because of ImageHasSafeExceptionHandlers Flag set to false

need to update  patch  00001-msvc-upgrade-solution-up-to-vc11, and set ImageHasSafeExceptionHandlers to true

[2021-12-24 04:22] JackBoosY commented on #15527
I opened a PR to the upstream to fix this issue: https://github.com/google/draco/pull/787
Let's see what happened.

[2021-12-24 04:22] AbhishekSharma-SEG commented on #22186
I have an open pr,u can check, with the same fix  #22188

[2021-12-24 04:41] LesleyLai commented on #15527
Thank you for doing this!

[2021-12-24 06:18] NaturalJ0 commented on #22183
Install the File::Compare module.
It works.
Thanks a lot!

[2021-12-24 06:18] #22183 closed

[2021-12-24 06:26] LilyWangLL commented on #22039
@sbrosgol Does this issue resolve? Thanks @Osyotr's response.

[2021-12-24 06:29] LilyWangLL commented on #22019
@Anassatti Does this issue resolve?

[2021-12-24 06:41] liupeiqiHN commented on #22140
I upgrade MNN success, I don't know why, maybe uninstall abseil will help? but it doesn't make sense.

[2021-12-24 06:41] #22140 closed

[2021-12-24 06:48] PhoebeHui commented on #11132
@yurybura, thank you for confirming this issue!

[2021-12-24 06:48] #11132 closed

[2021-12-24 06:57] JackBoosY commented on #21976
@leashi Yes, python 3.9 has dropped support with Windows 7, and we should add feature `depreciate-win7` to fontconfig to avoid this.

[2021-12-24 07:50] ajmuela commented on #12824
Hi @PhoebeHui, could this port be added?

[2021-12-24 08:58] PhoebeHui commented on #12824
@ajmuela, we're happy to answer any questions we can to support this effort, but for now we'd prefer to support you or other contributors than to take ownership ourselves. None of our core team is very familiar with pdfium, so we feel you'll do a much better job than we could! we can help reopen this issue if you or other contributors have a PR for it. Sorry for that.

[2021-12-24 09:11] Anassatti commented on #22019
Yes, thank you.

[2021-12-24 09:19] ivanstepanovftw commented on #21851
Managed to pass `--debug` option and retrieve some information:

[code]

[2021-12-24 09:28] LilyWangLL commented on #21646
@GJC1979 I found this error is due to install `msmpi` before installing `netcdf-c`. Could you use the attached files instead of _VCPKG_ROOT/ports/netcdf-c_ and install `netcdf-c` again? This is a upstream bug. If you can use the attached files install `netcdf-c` succeed, could you please submit an issue on [upstream](https://github.com/Unidata/netcdf-c)?
[netcdf-c.zip](https://github.com/microsoft

[2021-12-24 09:54] ajmuela commented on #12824
@PhoebeHui thanks for the prompt reply! Message understood.

Unfortunately, I don't have any PR ready for it, nor am I too familiar with the requirements to create a new port. Would you be so kind to point me to a particular entry-point in the doc and/or any good existing example I could use as a reference to create one?

[2021-12-24 10:11] ivanstepanovftw commented on #21851
I guess I found solution
[code]

My Setup NuGet Credentials step now:
[code]

[2021-12-24 10:20] #14694 closed

[2021-12-24 11:22] dg0yt commented on #19524
@strega-nil-ms Can't you test with a non-NTFS drive (SD card, USB stick with exFAT)?

[2021-12-24 11:27] PhoebeHui commented on #12824
@ajmuela, you can reference the following docs, let me know if you have any questions about it.

[packaging-github-repos.md](https://github.com/microsoft/vcpkg/blob/master/docs/examples/packaging-github-repos.md) or https://vcpkg.io/en/docs/examples/packaging-github-repos.html
[packaging-zipfiles.md](https://github.com/microsoft/vcpkg/blob/master/docs/examples/packaging-zipfiles.md) or https://vcp

[2021-12-24 20:59] ilyak93 commented on #21628
@JonLiu1993, tho I don't remember what I did eventually.

[2021-12-25 01:59] LilyWangLL commented on #22019
This issue has been resolved, I am closing this issue for now.

[2021-12-25 01:59] #22019 closed

[2021-12-25 04:51] jing-yao opened #22193 "[bzip2] Build error"
**Host Environment**
- OS: [win10]
- Compiler:  vs2022

**To Reproduce**
Steps to reproduce the behavior:
.\vcpkg install colmap[cuda,tests]:x64-windows

**Failure logs**
Error: Building package bzip2:x64-windows failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `git pull` and `.\vcpkg update`.
Then check for known issues at:
  https://github.com/microsoft/vcpkg/issues

[2021-12-25 07:30] NiQ1 opened #22194 "ffmpeg[all-gpl]:x64-windows Build of dependency "TensorFlow" fails"
[code]

[2021-12-25 07:47] #21628 closed

[2021-12-25 11:45] JackBoosY commented on #22193
Please provide the full output and the log mentioned in the output.

Thanks.

[2021-12-25 11:46] JackBoosY commented on #22194
Please provide the following logs:
_C:\Users\user\Code\vcpkg\buildtrees\tensorflow\build-x64-windows-dbg-out.log_
_C:\Users\user\Code\vcpkg\buildtrees\tensorflow\build-x64-windows-dbg-err.log_

Thanks.

[2021-12-25 13:29] MrROBUST commented on #14955
Just checked the @bwrsandman port localy with [this example](https://github.com/pr0g/sdl-bgfx-imgui-starter) and it works perfectly for VS2022!
I think it worth to update vcpkg_from_github REFs add the amagamated cmake options:
-DBGFX_AMALGAMATED=On
-DBX_AMALGAMATED=On

[2021-12-25 13:39] xjsxujingsong commented on #22076
Hi Sorry for the late reply.
Here are the logs:

[CMakeError.log](https://github.com/microsoft/vcpkg/files/7775877/CMakeError.log)
[CMakeOutput.log](https://github.com/microsoft/vcpkg/files/7775878/CMakeOutput.log)
[config-x64-windows-static-out.log](https://github.com/microsoft/vcpkg/files/7775879/config-x64-windows-static-out.log)

[2021-12-25 14:55] blood-rogue opened #22196 "[openh264]: build failure"
**Host Environment**
- OS: Windows 10
- Compiler: VS 2022

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install openh264`

**Failure logs**
[code]
[package-x86-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/7775970/package-x86-windows-dbg-out.log)

[2021-12-25 15:35] JackBoosY commented on #22196
[code]
Please provide log _config-x86-windows-dbg-out.log_ and _config-x86-windows-dbg-err.log_.

Thanks.

[2021-12-25 15:44] JackBoosY commented on #22196
cc @Neumann-A  Do you know why? `csr` doesn't in the source.

[2021-12-25 17:55] fukaiuri opened #22197 "Meet an error when I install COLMAP with vcpkg"
[code]

[2021-12-25 19:54] JackBoosY commented on #22197
Seems same with https://github.com/microsoft/vcpkg/issues/22047.

[2021-12-25 21:37] mjmucha opened #22203 "[New Port Request] Zeb"
Library name: zep

Library description: Zep is a simple embeddable editor, with a rendering agnostic design and optional Vim mode. Out of the box Zep can draw to a Qt Widget or an an ImGui window - useful for embedding in a game engine.

Source repository URL: https://github.com/Rezonality/zep

Project homepage (if different from the source repository): N/A

Anything else that is useful to know wh

[2021-12-25 21:53] xavier2k6 opened #22204 "[zstd] update to <1.5.1>"
Library name: zstd (zstandard)

New version number: 1.5.1

Other information that may be useful (release notes, etc...)
https://github.com/facebook/zstd/releases

[2021-12-26 02:41] autoantwort opened #22206 "[mpg123] Build error on arm64-osx"
Package: mpg123[core]:arm64-osx -> 1.29.2#1
**Host Environment**
- Host: arm64-osx
- Compiler: AppleClang 13.0.0.13000029
-    vcpkg-tool version: 2999-12-31-unknownhash-debug
    vcpkg-scripts version: fb18c46cc 2021-12-24 (2 days ago)

**To Reproduce**
`vcpkg install `

**Failure logs**
[code]
<details><summary>/Users/leanderSchulten/git_projekte/Lichtsteuerung/vcpkg/buildtrees/mpg123/install-ar

[2021-12-26 02:43] autoantwort opened #22207 "[x264] Build error on x64-osx"
Package: x264[core]:x64-osx -> 164-5db6aa6cab1b146#2
**Host Environment**
- Host: arm64-osx
- Compiler: AppleClang 13.0.0.13000029
-    vcpkg-tool version: 2999-12-31-unknownhash-debug
    vcpkg-scripts version: fb18c46cc 2021-12-24 (2 days ago)

**To Reproduce**
`vcpkg install `

**Failure logs**
[code]
<details><summary>/Users/leanderSchulten/git_projekte/Lichtsteuerung/vcpkg/buildtrees/x264/con

[2021-12-26 03:09] GreatV opened #22208 "[mlpack] Build error"
**Host Environment**
- OS: Windows10
- Compiler: MSVC 2022

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install  mlpack[core,tools]:x64-windows`

**Failure logs**
[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/7776498/install-x64-windows-dbg-out.log)

**Additional context**
 - package: mlpack[core,tools]:x64-windows -> 3.4.1#4
 - vcpkg-tool version: 2021-

[2021-12-26 03:25] jing-yao commented on #22193
i tried to bulid COLMAP using `.\vcpkg install colmap[cuda,tests]:x64-windows`, my output is:

The following packages will be built and installed:
  * assimp[core]:x64-windows -> 5.0.1#5
  * blas[core]:x64-windows -> 1#1
  * boost-accumulators[core]:x64-windows -> 1.77.0
  * boost-algorithm[core]:x64-windows -> 1.77.0
  * boost-align[core]:x64-windows -> 1.77.0
  * boost-any[core]:x64-windows -> 1

[2021-12-26 03:47] JackBoosY commented on #22193
Can you please provide _C:\Users\49091\vcpkg\buildtrees\bzip2\config-x64-windows-out.log_?

Thanks.

[2021-12-26 05:56] JackBoosY commented on #22047
Confirmed.
I can reproduce  this issue in Visual Studio 2022.

[2021-12-26 05:57] JackBoosY commented on #22197
Please track 22047.

[2021-12-26 05:57] #22197 closed

[2021-12-26 05:58] JackBoosY commented on #22208
[code]
Please remove `boost-uninstall` then try again.

Thanks.

[2021-12-26 06:09] m4xirq opened #22209 "[poco] Build error"
**Host Environment**
- OS: [e.g. Windows/Linux etc...]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install xxxx`

**Failure logs**
-Cut and paste the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

**Additional context**
Add any other context about the problem here, such as what yo

[2021-12-26 06:23] JackBoosY commented on #22047
Reason:
[code]

[2021-12-26 06:28] GreatV commented on #22208
I solved this problem by using

[code]

[2021-12-26 06:43] JackBoosY commented on #22047
This issue was resolved by cmake in commit https://github.com/Kitware/CMake/commit/bbc9a27e5f9d9cfa613a0dbe2f4b9c26f8f0e9ac.

[2021-12-26 06:49] JackBoosY commented on #22208
Please keep this issue open untill we fix it totally.

[2021-12-26 06:51] JackBoosY commented on #22209
Please:
-Cut and paste the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

[2021-12-26 09:33] jing-yao commented on #22193
[1/2] cmd /c "cd .. && "C:/Users/49091/vcpkg/downloads/tools/cmake-3.21.1-windows/cmake-3.21.1-windows-i386/bin/cmake.exe" "C:/Users/49091/vcpkg/buildtrees/bzip2/src/bzip2-1-336d4794a3.clean" "-DCMAKE_MAKE_PROGRAM=C:/Program Files/Microsoft Visual Studio/2022/Community/Common7/IDE/CommonExtensions/Microsoft/CMake/Ninja/ninja.exe" "-DBUILD_SHARED_LIBS=ON" "-DVCPKG_CHAINLOAD_TOOLCHAIN_FILE=C:/Users/

[2021-12-26 09:35] jing-yao commented on #22193
`系统找不到指定的文件`  means `The system cannot find the specified file‘

[2021-12-26 09:56] mkhon commented on #18270
I will re-submit #22202 - it was accidentally closed

[2021-12-26 13:49] JackBoosY commented on #22193
[code]
Please make sure you've installed the English Language Package using Visual Studio Installer, and installed the required c++ Visual Studio Components.

[2021-12-26 13:53] JackBoosY commented on #22206
Can you please also provide the configure log?

Thanks.

[2021-12-26 15:33] jing-yao commented on #22193
Thank you very much！！The problem has been solved

[2021-12-26 15:40] autoantwort commented on #22206
<details><summary>vcpkg/buildtrees/x264/config-arm64-osx-dbg-out.log</summary>

[code]
</details>

[2021-12-26 15:42] autoantwort commented on #22206
@JackBoosY Do you think https://github.com/microsoft/vcpkg-tool/pull/311 should also attach the configure logs always automatically

[2021-12-26 16:32] JackBoosY commented on #20547
See https://github.com/microsoft/vcpkg/pull/22214.

[2021-12-26 16:32] #20547 closed

[2021-12-26 16:33] JackBoosY commented on #18688
Please see https://github.com/microsoft/vcpkg/pull/22214.

[2021-12-26 16:33] #18688 closed

[2021-12-26 16:36] #22193 closed

[2021-12-26 16:39] JackBoosY commented on #22206
[code]

That's hard to say:
If we enable this feature by default, it will hurt all CI users.
If we disable this feature by default, it won't work.

[2021-12-26 19:37] wrosecrans commented on #11060
Did this issue ever get looked into?  I am confused why the ticket was closed.  It's listed as "requires repro," but the repro attempt says that it only found a python inside the vcpkg path E:/0423/vcpkg/installed/... which is exactly the issue that was reported.  I think it was actually reproduced, just misunderstood what was being reproduced.  Using the vcpkg toolchain file breaks finding any Py

[2021-12-26 20:52] sergei-zykov opened #22215 "How do I use getopt-win32 package"
Hello.

Suppose, I've got getopt-win32 installed. There are other packages installed and worked, so it isn't an issue of integration.

Then I've added it to cmake

[code]
It doesn't work:

[code]

[2021-12-26 22:09] Osyotr commented on #22215
For packages that don't provide cmake config you should manually search for includes and libraries.
https://github.com/microsoft/vcpkg/blob/master/docs/examples/installing-and-using-packages.md#handling-libraries-without-native-cmake-support

[2021-12-26 22:28] mcDandy commented on #13566
reproducable on windows 11 with wisual studio 17.1 and ninja 1.10.2

[2021-12-26 22:58] sergei-zykov commented on #22215
Still don't understand. There's no readme file with exact lines to add in cmake.
Post install message of getopt package doesn't clarify how to modify existing cmake project as well.

[2021-12-26 23:04] #22215 closed

[2021-12-26 23:28] autoantwort commented on #22206
I don't know why it should hurt all CI users? It only creates a file with a ready to copy issue body

[2021-12-27 01:37] JackBoosY commented on #22206
At least we should provide the option to disable it, because CI users don't need it and this will increase disk usage.

[2021-12-27 02:50] autoantwort commented on #22206
If I have an error in the ci I would like to report this as well. And all the other files are 15 MB in size (without downloads) while the issue body file is 19 KB small

[2021-12-27 03:13] zhuwei07 opened #22217 "[windows] vcpkg.exe install packages failed"
.\vcpkg.exe install yaml-cpp:x86-windows
Computing installation plan...
The following packages will be built and installed:
  * vcpkg-cmake[core]:x64-windows -> 2021-12-05
  * vcpkg-cmake-config[core]:x64-windows -> 2021-12-01
    yaml-cpp[core]:x86-windows -> 0.7.0#1
Additional packages (*) will be modified to complete this operation.
Error: in triplet x64-windows: Unable to find a valid Visual S

[2021-12-27 03:15] zhuwei07 commented on #22217
Do I have to install vs in dir of C:\\ ?

[2021-12-27 03:16] jing-yao commented on #22047
I meet the same problem and i removed the cmake-3.21.1 ,then update cmake to 3.22.1, but the problem is still happened.
Computing installation plan...
The following packages will be built and installed:
  * ceres[core,lapack,suitesparse]:x64-windows -> 2.0.0#5
  * cgal[core,qt]:x64-windows -> 5.3
    colmap[core,cuda,tests]:x64-windows -> 3.6#1
  * cuda[core]:x64-windows -> 10.1#8
  * double-conve

[2021-12-27 03:19] jing-yao commented on #22047
here is my C:\Users\49091\vcpkg\buildtrees\lapack\config-x64-windows-out .
[1/2] cmd /c "cd ../../x64-windows-dbg && "C:/Users/49091/vcpkg/downloads/tools/cmake-3.22.1-windows/bin/cmake.exe" "C:/Users/49091/vcpkg/ports/lapack" "-DCMAKE_PREFIX_PATH="C:/Users/49091/vcpkg/packages/lapack_x64-windows"" "-DBUILD_SHARED_LIBS=ON" "-DVCPKG_CHAINLOAD_TOOLCHAIN_FILE=C:/Users/49091/vcpkg/scripts/toolchains/w

[2021-12-27 03:20] jing-yao commented on #22047
here is my C:\Users\49091\vcpkg\buildtrees\lapack\config-x64-windows-out .

- [ ] [1/2] cmd /c "cd ../../x64-windows-dbg && "C:/Users/49091/vcpkg/downloads/tools/cmake-3.22.1-windows/bin/cmake.exe" "C:/Users/49091/vcpkg/ports/lapack" "-DCMAKE_PREFIX_PATH="C:/Users/49091/vcpkg/packages/lapack_x64-windows"" "-DBUILD_SHARED_LIBS=ON" "-DVCPKG_CHAINLOAD_TOOLCHAIN_FILE=C:/Users/49091/vcpkg/scripts/toolc

[2021-12-27 03:20] jing-yao commented on #22047
[config-x64-windows-out.log](https://github.com/microsoft/vcpkg/files/7778180/config-x64-windows-out.log)

[2021-12-27 03:21] JackBoosY commented on #22047
[code]
Please note you should also remove _VCPKG_ROOT/tools/downloads/cmake-3.21.1-*_.

[2021-12-27 03:36] jing-yao commented on #22047
![image](https://user-images.githubusercontent.com/72078493/147431795-2cffb858-083f-4ef1-8b73-1a47d56d4980.png)
Is it clear?

[2021-12-27 03:40] JackBoosY commented on #22047
Can you please provide the file list in _VCPKG_ROOT/tools/downloads_?

[2021-12-27 04:13] m4xirq commented on #22209
this is log file

[1/2] "C:/Program Files/CMake/bin/cmake.exe" -S "C:/vcpkg/buildtrees/poco/src/f788bc88ea-8dae82f74a.clean" -B "../../x86-windows-dbg" "-DENABLE_PDF=OFF" "-DENABLE_NETSSL=ON" "-DENABLE_NETSSL_WIN=ON" "-DENABLE_CRYPTO=ON" "-DENABLE_DATA_SQLITE=OFF" "-DENABLE_DATA_POSTGRESQL=OFF" "-DPOCO_UNBUNDLED=ON" "-DPOCO_STATIC=0" "-DPOCO_MT=0" "-DENABLE_TESTS=OFF" "-DENABLE_ENCODINGS=ON" "-DEN

[2021-12-27 05:07] JackBoosY commented on #22209
Did you installed openssl manually before?

[2021-12-27 05:38] jing-yao commented on #22047
![image](https://user-images.githubusercontent.com/72078493/147438158-1f893b8e-ef51-4e65-95df-7973b8f063a5.png)

[2021-12-27 05:47] zhuce30hao opened #22219 "win10.19044.1415+vs2022 Community install openMVG 2.0 error"
windows ver:win10 2022 ltsc 19044.1415
vcpkg ver:2021-11-24-48b94a6946b8a70abd21529218927fd478d02b6c
vs ver:vs2022 Community+win10 SDK 10.0.19041.0
run "vcpkg install openmvg[core,openmp]:x64-windows"(see https://github.com/openMVG/openMVG/blob/develop/BUILD.md)

return:
`Vcpkg package management program version 2021-11-24-48b94a6946b8a70abd21529218927fd478d02b6c

See LICENSE.txt for license infor

[2021-12-27 05:58] zhuce30hao commented on #22219
just install the english language package

[2021-12-27 05:58] #22219 closed

[2021-12-27 06:56] JackBoosY commented on #22217
See https://github.com/microsoft/vcpkg/pull/22214

[2021-12-27 07:11] PhoebeHui commented on #11781
Double confirmed with latest source, this issue still can't be reproed, please create a new issue with full failure logs if it occurs again.

[2021-12-27 07:11] #11781 closed

[2021-12-27 07:23] m-kuhn opened #22220 "Print depend-info also if a package is not available for the target triplet"
****

**Is your feature request related to a problem? Please describe.**
I am trying to find out why a port fails to build when one of the dependencies is not available for the target triplet.

E.g; since updating vcpkg, the build fails with "libgcrypt[core] is only supported on 'linux | osx'"

To debug, I'd like to know how my build depends on this package:

[code]

Result:
Instead of the depende

[2021-12-27 07:49] PhoebeHui commented on #5097
This issue should be fixed by https://github.com/microsoft/vcpkg/blob/master/ports/boost-python/b2-options.cmake.

[2021-12-27 08:01] PhoebeHui commented on #9049
Thanks for reminding me to close this issue!

[2021-12-27 08:01] #9049 closed

[2021-12-27 08:43] m-kuhn opened #22221 "[libspatialite] build failure on x64-osx"
**Host Environment**
- OS: macOS monterey 12.1
- Compiler: AppleClang 13.0.0.13000029

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install libspatialite`

**Failure logs**

<details><summary>buildtrees/libspatialite/build-x64-osx-dbg-err.log</summary>

[code]
</details>

<details><summary>buildtrees/libspatialite/build-x64-osx-dbg-out.log </summary>

[code]
</details>

<details><sum

[2021-12-27 08:46] JackBoosY commented on #22220
This was fixed in the latest vcpkg release, but not published.

[2021-12-27 09:44] nil-is-lin opened #22222 "How do I install “Qt5 PrintSupport”?"
I have installed qt5 with the command,  `./vcpkg.exe install qt5:x64-windows`, it runs well.
However, it thow

 Target "XXX" links to target "Qt5::PrintSupport" but the target
  was not found.  Perhaps a find_package() call is missing for an IMPORTED
  target, or an ALIAS target is missing?		F:/workspace/vcpkg/scripts/buildsystems/vcpkg.cmake	540

If `target_link_libraries(${PROJECT_NAME} PRIVATE

[2021-12-27 09:48] JackBoosY commented on #22222
cc @Neumann-A

[2021-12-27 09:50] yuqilol commented on #22047
![image](https://user-images.githubusercontent.com/52739016/147459433-f6eb993b-d965-4409-9ced-6c9371f6f05e.png)

[2021-12-27 09:51] yuqilol commented on #22047
is that?and use command vcpkg install lapack-reference:x64-windows?

[2021-12-27 09:58] PhoebeHui commented on #2024
I have confirmed this not be a problem now, however, the imported target shoud be updated in CMakeLists.txt.
See https://cmake.org/cmake/help/latest/module/FindBoost.html

[code]

[2021-12-27 09:58] #2024 closed

[2021-12-27 10:08] JackBoosY commented on #22047
Yes, but it seems that doesn't resolve this issue.

[2021-12-27 10:22] ilongshan commented on #21767
With "--allow-unsupported", it still cannot compiled on arm-mac. Wait for #22182. Thanks

[2021-12-27 14:49] xgcssch commented on #21910
Issue is still there.

Digging a little bit deeper, i discovered that `COPYING` in not present in the the `src` directory.
Examining the zipped tar archive in the `download` folder shows the file is there, but it is stored as a link to the `LICENSE` file in the same directory.
Extracting the file with a local 7Zip Version leads to an error "Cannot create symbolic link - a required right is missing

[2021-12-27 16:38] Neumann-A commented on #22222
@JackBoosY Check the file list and see if you can figure it out?

@nil-is-lin You are probably missing the correct `find_package` call as the error says. (It should already be installed... but if you are not explicitly importing it it will not be found since you never searched for it.)

[2021-12-27 16:52] m-kuhn opened #22226 "[botan] does not build for android (arm)"
**Host Environment**
- OS: Linux building for arm64-android
- Compiler: ndk/21.4.7075529

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install botan:arm64-android`

**Failure logs**
<details><summary>buildtrees/botan/configure-arm64-android-rel-out.log</summary>

[code]
</details>

**Additional context**
Add any other context about the problem here, such as what you have already trie

[2021-12-27 17:01] dg0yt commented on #22221
@m-kuhn You should provide config.log... / config...out.log.

[2021-12-27 17:10] m-kuhn commented on #22221
@dg0yt updated

[2021-12-27 17:38] jacobkahn opened #22228 "[halide] downstream usage failure post-install"
Seems like some assets required by `HalideConfig.cmake` are missing.

A symptom of https://github.com/microsoft/vcpkg/issues/19797.

**Host Environment**
- OS: x86-linux
- Compiler: gcc 9.3.0

**To Reproduce**
[code]

Then in a downstream project, run
[code]

**Failure logs**

[code]

cc @alexreinking

[2021-12-27 17:40] alexreinking commented on #22228
This is actually the _same_ issue. @JackBoosY can we please determine an acceptable resolution for the plugin placement question so I can open a PR and patch this up?

[2021-12-27 17:40] jacobkahn commented on #19797
@JackBoosY any updates here? This is also causing https://github.com/microsoft/vcpkg/issues/22228 which makes automating things downstream with the package impossible.

[2021-12-27 23:56] physixtential opened #22229 "tbb/task.h deprecated, build failure"
I found reference to a similar issue in the past couple years, but it seems those issues were resolved. This occurred today using the latest versions of OpenVDB cloned today, and the latest version of TBB from vcpkg which is: tbb:x64-windows 2020_U3#6

**Host Environment**
- OS: Windows x64
- Compiler: Microsoft (R) C/C++ Optimizing Compiler Version 19.30.30706 for x64

**To Reproduce**
Steps to r

[2021-12-28 02:48] Semphriss commented on #22039
Same issue here, and I have two issues with that solution:

Firstly, a minor detail: this message instructs to use `apt` while the issue is on macOS. Now, I know what the equivalent for macOS is, but I would expect vcpkg to give me the appropriate error message for my OS. (This is less a technical issue and more of a UX problem.)

Secondly, why would building certain packages require specific addi

[2021-12-28 03:36] Semphriss commented on #22039
I have tried this solution, and after installing `autoconf`, Fribidi requires `aclocal`, which I can't find in brew.

By this comment, it sounds like it should be obvious that users are expected to install those tools manually; if so, then should it be documented in the steps to install vcpkg? It feels counter-intuitive for me to do this have to look at what my dependencies depend on, or even to h

[2021-12-28 07:21] nil-is-lin commented on #22222
@Neumann-A  Thank you for your answer. Sure, I believe it already be installed.
Maybe the keyword “PRIVATE” made this error?

[2021-12-28 07:32] FrankXie05 commented on #22229
@physixtential Thanks for posting this issue, the TBB version update is still going on, we will continue to promote this process, and I will try to reproduce your problem locally.  see #19909 :)

[2021-12-28 07:41] physixtential commented on #22229
@FrankXie05 that's good news. Thank you. In the meantime, do you have temporary advice for getting around this? I assume the answer is to just use some older version of tbb. Is there a particularly recommended one?

[2021-12-28 07:50] Nemirtingas opened #22232 "[boost-exception] cross-compilation build failure"
**Host Environment**
- OS: Linux, Ubuntu 18
- Compiler: Clang-cl/LLVM 9

**To Reproduce**
Docker image build steps are described here: https://github.com/Nemirtingas/windowscross_vcpkg/tree/msvc2019_win10.0.18362.0

Steps to reproduce the behavior:
[code]

**Failure logs**
[code]

**Additional context**
Boost is wrongly configured when building with something else than MSVC. I fixed the build with

[2021-12-28 08:51] dg0yt commented on #22222
Installing in vcpkg is not the same importing in your CMake project. In your CMake project, you need a proper `find_package` call to create a `Qt5::PrintSupport` target before you can use this target with `target_link_libraries`. See Qt5 and CMake documentation.

[2021-12-28 09:00] dg0yt commented on #22221
I was not able to reproduce the issue on macOS 11.6 (Apple clang 13.0.0). And it builds in vcpkg CI on osx.

Given `config.log`, there should be `PROJ_NEW` defined in `<build>/src/headers/spatialite/gaiaconfig.h` and `HAVE_PROJ_H` defined in `<build>/config.h>` (and no `OMIT_PROJ`).
As a result, `<source>/src/gaiageo/gg_transform.c` should include `proj.h` which declares the functions the compiler

[2021-12-28 09:16] kkzi opened #22233 "[New Port Request] minio-cpp"
Library name: minio-cpp

Library description: MinIO C++ Client SDK for Amazon S3 Compatible Cloud Storage

Source repository URL:  https://github.com/minio/minio-cpp

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2021-12-28 09:35] Neumann-A commented on #22222
`find_package(Qt5 COMPONENTS Core Widgets Gui PrintSupport)`.... really not an issue related to vcpkg

[2021-12-28 09:59] nil-is-lin commented on #22222
[code]
I missed the last line of the code. I'm sorry for wasting everyone's time.

[2021-12-28 09:59] #22222 closed

[2021-12-28 10:20] PhoebeHui commented on #9087
I confirmed this issue with VS2019+clang-cl 12, it builds fine with the repro code.

[code]

[2021-12-28 10:20] #9087 closed

[2021-12-28 14:04] abique opened #22237 "[qtdeclarative] build failure"
**Host Environment**
- OS: Windows
- Compiler: Visual Studio 2022

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install qtdeclarative`

**Failure logs**
[code]

[2021-12-28 14:06] abique commented on #22237
This can be reproduced by following the build instructions here: https://github.com/free-audio/clap-plugins

[2021-12-28 14:08] abique commented on #22237
Maybe a duplicate of https://github.com/microsoft/vcpkg/issues/21777 ?

[2021-12-28 15:07] JackBoosY commented on #22232
Can you please provide the logs in _VCPKG_ROOT/buildtrees/boost-exception_?

Thanks.

[2021-12-28 15:08] JackBoosY commented on #22237
Yes, your path is too long, please pick a shorter path and try again.

[2021-12-28 15:09] abique commented on #22237
I've followed https://docs.microsoft.com/en-us/windows/win32/fileio/maximum-file-path-limitation?tabs=powershell and it did not solve the issue.

Is there no other options to prevent this?

[2021-12-28 15:15] abique commented on #22237
Also it some of the path processing could be done in userland: `../../../../../../src/59fd92a178-d20d45a346.clean/src/quickdialogs2/quickdialogs2quickimpl/qtquickdialogs2quickimplforeign_p.h`.
I suspect that if some of those `..` were simplified before sending super long path to the kernel it'd solve a bunch of problems.
Alternatively, it could use canonical path?

[2021-12-28 15:26] abique commented on #22237
Seems related to the issue: https://bugreports.qt.io/browse/QTBUG-16443

[2021-12-28 15:48] abique commented on #22237
After reading again the windows documentation, it seems that applications manifest must also include:
[code]
So maybe cmake/ninja needs to support it as well?

[2021-12-28 17:49] JackBoosY commented on #22237
[code]
So the file path should be:
_C:\dev\clap-plugins\vcpkg\buildtrees\qtdeclarative\x64-windows-rel\include\QtQuickDialogs2QuickImpl\6.2.2\QtQuickDialogs2QuickImpl\private/../../../../../../src/59fd92a178-d20d45a346.clean/src/quickdialogs2/quickdialogs2quickimpl/qtquickdialogs2quickimplforeign_p.h_
The length is 266, however `MAX_PATH` is 260.

[2021-12-28 17:49] JackBoosY commented on #22237
No, we should only follow the official configuration.

[2021-12-28 17:53] Nemirtingas commented on #22232
Hi,

I've filled the base issue infos like how to reproduce and errors, here are the build logs:
[boost-exception.tar.gz](https://github.com/microsoft/vcpkg/files/7785842/boost-exception.tar.gz)

[2021-12-28 18:23] physixtential commented on #22229
@FrankXie05 I just realized this morning that I accidentally submitted this issue to vcpkg. I meant to submit to openvdb directly, as the issue is really that their instructions tell us to clone openvdb, and vcpkg install a list of things, which doesn't work because it gets the most recent ones from your manager. What they need to do until they get up to date is recommend that we install openvdb d

[2021-12-28 20:18] flyingyizi opened #22239 "[fontconfig] Build fail on x86-windows"
**Host Environment**
- OS: Windows 10   fontconfig[core]:x86-windows
- Compiler: Microsoft Visual Studio 2022 Community
- vcpkg port:  latest
-
**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg install fontconfig`

**Failure logs**
...
CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:127 (message):
    Command failed: C:/tools/vcpkg/downloads/tools/ninja/1.10.2-windows/ni

[2021-12-28 21:20] abique commented on #22237
@JackBoosY thank you for your investigation.

Do you know why `Computer\HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\FileSystem\LongPathsEnabled` did not fix it?

[2021-12-28 21:55] Neumann-A opened #22240 "[embree3] wrong fatal error"
https://github.com/microsoft/vcpkg/blob/2689f785c9dbc02d714e2c3824a42c80ac58a8f8/ports/embree3/portfile.cmake#L21

seems wrong. There is an `/ARCH:AVX512` flag in VS. The question is rather if embree3 supports it with VS. In my opinion it should be at least reduced to a warning.

[2021-12-28 21:56] strega-nil-ms commented on #22037
Needs a release.

[2021-12-28 22:24] Nemirtingas commented on #22232
Will you take a look even if its a "community-triplet" ? Its really only 2 lines to modify to handle clang-cl compilation.

[2021-12-28 23:02] #22174 closed

[2021-12-28 23:02] #22175 closed

[2021-12-28 23:03] #22173 closed

[2021-12-28 23:03] #21767 closed

[2021-12-28 23:04] #22185 closed

[2021-12-28 23:04] #17165 closed

[2021-12-28 23:05] #22208 closed

[2021-12-29 00:05] BillyONeal commented on #21457
vcpkg needs Visual Studio for the compilers which won't create a system in this configuration so I'm not sure how practical supporting something like that is

[2021-12-29 00:39] Cook21 opened #22241 "[New Port Request] libomp[OpenMP]"
Library name:
libomp

Library description:
OpenMP subproject of LLVM

Source repository URL:
https://github.com/llvm/llvm-project/tree/main/openmp

Project homepage:
https://openmp.llvm.org

Anything else that is useful to know when adding:
The toolchain that shipped with MacOS doesn't contain the OpenMP library, In order to use it, I have to run `brew install libomp`. Wish I can add it into `vcpk

[2021-12-29 01:21] FrankXie05 commented on #22229
@physixtential If you want to use the latest one, you can certainly submit an issue to openvdb, and we will continue to promote this update process. And you can use the following command to use openVDB provided by vcpkg. :)

- git clone https://github.com/microsoft/vcpkg
- .\bootstrap-vcpkg.bat
- .\vcpkg.exe install openvdb

[2021-12-29 01:48] zhuwei07 commented on #22217
I can't solve the problem by installed the packages you list

[2021-12-29 01:49] zhuwei07 commented on #22217
vcpkg.exe install yaml-cpp --debug
[DEBUG] Feature flag 'binarycaching' unset
[DEBUG] Feature flag 'manifests' unset
[DEBUG] Feature flag 'compilertracking' unset
[DEBUG] Feature flag 'registries' unset
[DEBUG] Feature flag 'versions' unset
[DEBUG] Using vcpkg-root: C:\dev\vcpkg
[DEBUG] Failed to open: C:\dev\vcpkg\vcpkg-bundle.json
[DEBUG] Bundle config: readonly=0, usegitregistry=0, embeddedsha=

[2021-12-29 01:55] zhuwei07 commented on #22217
@JackBoosY this problem has bothered me for a long time

below is the result of vswhere.exe

<?xml version="1.0"?>
<instances>
  <instance>
    <instanceId>bd204dce</instanceId>
    <installDate>2021-12-28T15:14:02Z</installDate>
    <installationName>VisualStudio/17.0.4+32014.148</installationName>
    <installationPath>D:\Program Files (x86)\Microsoft Visual Studio\2022\Professional</installatio

[2021-12-29 02:11] PhoebeHui commented on #5097
The fix doesn't work, it still depends on python310.dll.

![image](https://user-images.githubusercontent.com/20694052/147620807-7ce0cba1-18e6-4bf1-930d-d25ced60fd3d.png)

[2021-12-29 03:10] kzq0717 opened #22243 "[boost-regex] build failure"
install boost:x64-windows  appear quesion
![2021-12-29_110935](https://user-images.githubusercontent.com/51390506/147623775-2b87e70f-3b51-4e2f-9fc1-8d375184e9f6.png)

[2021-12-29 04:00] yudaichen commented on #21615
**OS: Windows 10

./vcpkg install boost:x64-windows**

Starting package 1/23: python3:x64-windows
Building package python3[core]:x64-windows...
-- Using cached python-cpython-v3.10.1.tar.gz.
-- Cleaning sources at E:/development/zz/vcpkg/vcpkg/buildtrees/python3/src/v3.10.1-157716e946.clean. Use --editable to skip cleaning for the packages you specify.
-- Extracting source E:/development/zz/vcpkg/

[2021-12-29 04:05] JackBoosY commented on #22237
@abique I'm not sure about that. Sorry.

[2021-12-29 04:07] JackBoosY commented on #22232
[code]
The toolchain should be fixed.

[2021-12-29 04:51] JackBoosY commented on #22217
Please check the following Visual Studio components in Visual Studio Installer:
[code]

[2021-12-29 05:58] zhuwei07 commented on #22217
I'm sure I have installed:
 - Visual Studio Build tools:
      * MSVC v143 - VS 2022 C++ x64/x86 build tools (for Visual Studio 2022)
    - MSBuild
    - Windows SDK
    - English language Pack

But, how to check fellows:
    - Windows Universal C Runtime
    - C++ Build Tools core features

[2021-12-29 06:02] JackBoosY commented on #22217
![image](https://user-images.githubusercontent.com/47264268/147632024-8b15cc1f-4306-4981-a7c5-0b4e91c9e1e8.png)

[2021-12-29 06:03] zhuwei07 commented on #22217
I have installed it

[2021-12-29 06:04] JackBoosY commented on #22217
Please note that vcpkg will choose the newer Visual Studio.

Can you make sure whether this path is exist: _D:\Program Files (x86)\Microsoft Visual Studio\2019\Professional\VC\Auxiliary/Build\vcvarsall.bat_

[2021-12-29 06:06] zhuwei07 commented on #22217
I have installed the newest vs2022
And
D:\Program Files (x86)\Microsoft Visual Studio\2022\Professional\VC\Auxiliary\Build has vcvarsall.bat

[2021-12-29 06:08] PhoebeHui commented on #21615
@yudaichen, please create a new issue with full failure logs instead.

[2021-12-29 06:09] JackBoosY commented on #22217
I think your Visual Studio is broken, please repair it using Visual Studio Installer.

[2021-12-29 06:35] JackBoosY commented on #22240
Confirmed, Visual Studio 2017 or later supports `/ARCH:AVX512`.
But this is written in the [upstream configure](https://github.com/embree/embree/blob/master/CMakeLists.txt#L201-L203):
[code]
I will report this to the upstream laster.

[2021-12-29 06:37] PhoebeHui commented on #22243
@kzq0717, could you execute './vcpkg remove boost-uninstall:x64-windows --recurse' and try again?

[2021-12-29 06:49] zhuwei07 commented on #22217
It still doesn't work after repairing

[2021-12-29 07:15] Cheney-W commented on #22217
@zhuwei07 What's the version of your VCPKG? If you are not using the latest vcpkg, I suggest trying it.

[2021-12-29 07:17] JackBoosY commented on #22217
And please double confirm you've installed the English language pack.

[2021-12-29 07:47] PhoebeHui commented on #22163
@Yuhta, sorry for my late response, could you provide the failure log /apps/home/gongchul/dse_poc/filesvc/vcpkg/buildtrees/libpq/config-x64-linux-dbg-out.log? It seems a compiler issue, I can't repro this issue with gcc 9.4.0.

[2021-12-29 07:52] zhuwei07 commented on #22217
![image](https://user-images.githubusercontent.com/29033368/147639271-2acecbef-e1ce-4207-8fc0-b55cd4f3b77f.png)
![image](https://user-images.githubusercontent.com/29033368/147639306-27e46e19-13d0-41e6-b526-8a8ddd91c044.png)
![image](https://user-images.githubusercontent.com/29033368/147639366-b2787cf4-7f64-46d5-9761-a07001345ce9.png)
![image](https://user-images.githubusercontent.com/29033368/1476

[2021-12-29 07:53] zhuwei07 commented on #22217
![image](https://user-images.githubusercontent.com/29033368/147639489-95e2b1a7-d8f6-4f74-bbf1-128d2f645ae3.png)

[2021-12-29 07:55] JackBoosY commented on #22217
Please git pull vcpkg and rerun bootstrap script then try agian.

[2021-12-29 07:56] zhuwei07 commented on #22217
I have got the latest vcpkg.
when I update the vcpkg, the problem happened.

[2021-12-29 07:57] zhuwei07 commented on #22217
![image](https://user-images.githubusercontent.com/29033368/147639855-0b9e3504-151b-440d-bec1-8ea778d1eb85.png)

[2021-12-29 07:58] JackBoosY commented on #22217
Can you please use powershell instead?

[2021-12-29 07:59] Cheney-W commented on #22207
Could you please use this command to install port: `vcpkg install --triplet=arm64-osx` ?
If this issue still exists, you can add `--disable-asm` into the vcpkg_configure_make() function in portfile.cmake of x264.

[2021-12-29 08:00] zhuwei07 commented on #22217
![image](https://user-images.githubusercontent.com/29033368/147640143-78c40d9d-ae41-458b-8254-6b5aeea92995.png)

[2021-12-29 08:04] JackBoosY commented on #22217
cc @BillyONeal do you know why?

[2021-12-29 08:27] Nemirtingas commented on #22232
The toolchain does not ship cmd.exe because its on Ubuntu, not Windows. And cmd.exe is called only because the wrong b2 configuration is loaded because of https://github.com/Nemirtingas/vcpkg/commit/32043f59ba1be4b0830615bdac3fe95f767f8862#diff-6114a1d0526c9e9e3477ac321abfe1c9005f46441b01c5b1f5821f64f231721e
If its clang-win, cmd.exe is not called and everything compiles fine.

[2021-12-29 08:31] PhoebeHui commented on #21034
@ViksitAgarwal, sorry for my late response, I take a look at the history off tbb, the tbb repo changed, so it causes hash changed  for older version, related to https://github.com/microsoft/vcpkg/pull/10456. I suggest you use more newer version instead, or you use an [overlay port](https://github.com/microsoft/vcpkg/blob/master/docs/specifications/ports-overlay.md) instead.

[2021-12-29 08:41] PhoebeHui commented on #20430
The latest release already included the fix.

[2021-12-29 08:41] #20430 closed

[2021-12-29 08:44] JonLiu1993 commented on #22066
@prizrak56 ,Cou you please provide the detail error log?

[2021-12-29 08:45] PhoebeHui commented on #21631
The latest release should include the fix.

[2021-12-29 08:45] #21631 closed

[2021-12-29 08:48] PhoebeHui commented on #21814
@zhangbowei, please reopen this issue if it still be a question for you.

[2021-12-29 08:48] #21814 closed

[2021-12-29 08:50] #18731 closed

[2021-12-29 09:05] PhoebeHui commented on #21211
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now, consider making a pull request instead.

[2021-12-29 09:05] #21211 closed

[2021-12-29 09:05] PhoebeHui commented on #21210
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now, consider making a pull request instead.

[2021-12-29 09:05] #21210 closed

[2021-12-29 09:05] PhoebeHui commented on #21150
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now, consider making a pull request instead.

[2021-12-29 09:05] #21150 closed

[2021-12-29 09:06] PhoebeHui commented on #21698
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now, consider making a pull request instead.

[2021-12-29 09:06] #21698 closed

[2021-12-29 09:10] PhoebeHui commented on #21279
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now, consider making a pull request instead.

[2021-12-29 09:10] #21279 closed

[2021-12-29 09:11] PhoebeHui commented on #21685
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now, consider making a pull request instead.

[2021-12-29 09:11] #21685 closed

[2021-12-29 09:11] PhoebeHui commented on #21678
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now, consider making a pull request instead.

[2021-12-29 09:11] #21678 closed

[2021-12-29 09:12] PhoebeHui commented on #21332
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now, consider making a pull request instead.

[2021-12-29 09:12] #21332 closed

[2021-12-29 09:14] PhoebeHui commented on #21333
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now, consider making a pull request instead.

[2021-12-29 09:14] #21333 closed

[2021-12-29 09:28] PhoebeHui commented on #21495
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now, consider making a pull request instead.

[2021-12-29 09:28] #21495 closed

[2021-12-29 09:50] zhuwei07 commented on #22217
I installed to the default path, it works!!!

[2021-12-29 09:54] PhoebeHui commented on #17477
@jseward, https://github.com/PlayFab/gsdk/pull/70 has been merged, we're happy to accept a PR for this.

[2021-12-29 09:59] PhoebeHui commented on #15008
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now, consider making a pull request instead.

[2021-12-29 09:59] #15008 closed

[2021-12-29 10:08] PhoebeHui commented on #20446
@ssrlive, could you please sumbit a PR for this?

[2021-12-29 10:14] PhoebeHui commented on #20942
@SethBe, please reopen this issue if it still be a question for you.

[2021-12-29 10:14] #20942 closed

[2021-12-29 10:33] JackBoosY commented on #22217
Of couse it works, but the problem is the non-default path doesn't work.

[2021-12-29 10:52] bartvbl commented on #11247
For anyone landing here from google having a similar issue: I was using the -DCMAKE_TOOLCHAIN_FILE= command line parameter before, which did not work despite the packages having been installed using the correct architecture triplets. Instead specifying the toolchain before the project() call as listed in @stones314 's comment solved my problems.

[2021-12-29 11:02] yurybura commented on #5097
@PhoebeHui Have you defined BOOST_DEBUG_PYTHON before build?

[2021-12-29 11:11] PhoebeHui commented on #15562
@jgbradley1, please reopen this issue if it still bother you.

[2021-12-29 11:11] #15562 closed

[2021-12-29 11:41] PhoebeHui commented on #5097
@yurybura, thank you! I forget that, after I define BOOST_DEBUG_PYTHON, it links to python3 debug libs.

![image](https://user-images.githubusercontent.com/20694052/147658690-16c6115a-26c4-4a3c-afde-780ce8895595.png)

[2021-12-29 11:41] #5097 closed

[2021-12-29 11:48] PhoebeHui commented on #16956
@ssrlive, you need define 'BOOST_DEBUG_PYTHON' before build boost-python, then it will link to python3 debug libs correctly.

The issue fixed by https://github.com/microsoft/vcpkg/pull/15352.

[2021-12-29 12:10] LilyWangLL commented on #22239
Thanks for posting this issue. I can't reproduce this issue locally with Visual Studio 2022. I found this eror message in your log:
[code]
According to comment https://github.com/microsoft/vcpkg/pull/21026#issuecomment-954613467, that's a pixman bug, you can try the workaround: https://github.com/microsoft/vcpkg/issues/17956#issuecomment-841861734.

[2021-12-29 12:16] LilyWangLL commented on #21901
Thanks for the help of dg0yt. The error message: `ucrtbased.dll: cannot open shared object file: No such file or directory`, did you install **Windows 10 SDK 10.0.19041.0** in Visual Studio Installer?
![image](https://user-images.githubusercontent.com/94091114/147661233-0877eb82-f159-455d-8939-84603345cf7f.png)

[2021-12-29 13:00] LilyWangLL commented on #22076
Thanks for your reply. There are message in config-x64-windows-static-out.log:
[code]
The reason is your _VCPKG_ROOT_ path have **++** in _C:/code/C++/vcpkg_, you can create a new directory which doesn't contain character. I will confirm if this issue is a bug or by design soon.

[2021-12-29 14:21] dg0yt commented on #11247
@bartvbl  `-DCMAKE_TOOLCHAIN_FILE=` work as can be expected from cmake: *before the first `project()` call*. If you forget it on the first call to cmake, you have to restart from an empyt build dir.

[2021-12-29 14:24] bartvbl commented on #11247
@dg0yt Thanks, I cleared the cache between every run because I just don't trust it to not cause lingering errors. Maybe there's something weird with my setup, but for some reason the command line parameter did nothing, while inserting the call before the project() call inside CMakeLists.txt worked as expected.

[2021-12-29 14:27] faming-wang opened #22247 "[libpq] x64-osx-dynamic build error"
**Host Environment**
- OS: macOS  12.0.1
- Compiler: Apple clang version 13.0.0 (clang-1300.0.29.3)

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg install libpq:x64-osx-dynamic`

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
    libpq[bonjour,core,openssl,zlib]:x64-osx-dynamic -> 12.9#1
Detecting compiler hash for triplet x64-osx-dyn

[2021-12-29 14:30] faming-wang commented on #22247
The following packages are already installed: openssl[core]:x64-osx-dynamic -> 1.1.1l#4

[2021-12-29 14:44] dg0yt commented on #11247
@bartvbl Well, There is an automated test which relies on the `-DCMAKE_TOOLCHAIN_FILE=` behaviour.
There are various reasons for `find_package` to fail, even in this issue. I intentionally wrote "restart from an empty build dir" because people sometimes meant different things by "clearing the cache".
`CMAKE_TOOLCHAIN_FILE` is a user option. IMO it doesn't belong into project files.

[2021-12-29 15:16] abique commented on #22237
What do you think, shall we close this ticket as won't fix, or do we investigate why long paths are not working?

[2021-12-29 15:48] Yuhta commented on #22163
@PhoebeHui Looks normal to me:
[code]

[2021-12-29 17:38] lsqtzj opened #22249 "[libmariadb] Build error"
**Host Environment**
- OS: [e.g. Windows/Linux etc...]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
vcpkg install libmysql:x64-windows
vcpkg install libmariadb[core]:x64-windows
![image](https://user-images.githubusercontent.com/4635861/147688956-c5b7dba3-0f48-4e9f-939b-02f18bba905c.png)

**Failure logs**
-Cut and paste the appropriate build messages from the console out

[2021-12-29 19:20] #20868 closed

[2021-12-29 19:21] strega-nil-ms commented on #22080
Needs a merge to close.

[2021-12-29 19:31] Neumann-A commented on #22237
close. The solution to this is to pass: `--x-buildtrees-root=<someshortpath>` to vcpkg

[2021-12-29 19:41] strega-nil-ms commented on #20190
This is fair enough; I'll bring it up in the new year at the PR meeting.

[2021-12-29 19:44] strega-nil-ms commented on #21198
Yeah, this is not a bug (as @dg0yt points out) - offscale-libetcd-cpp cannot use parallel configure.

[2021-12-29 20:05] dg0yt commented on #22249
Your sceenshot doesn't show the error message. And probably it has information for you.

[2021-12-29 20:11] dg0yt commented on #21198
It is a bug because it affects the working directory of `execute_process`, and a patch is pending in #22124.

[2021-12-29 20:14] strega-nil-ms commented on #21198
mmh, okay, thanks! reopening

[2021-12-29 21:24] Nemirtingas commented on #22232
So, I guess you won't take any further look at it ?

[2021-12-29 22:57] strega-nil-ms commented on #19524
@dg0yt I don't own a windows machine

[2021-12-29 23:43] strega-nil-ms commented on #17514
I'm so sorry, I missed this because I went out of office for a month; @Huarkiou if you're still around, can you run `"C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\Auxiliary\Build\vcvarsall.bat"`, and then run `cl`?

[2021-12-30 02:46] LilyWangLL commented on #22249
@lsqtzj Thanks for posting this issue. Could you please provide the error log?

[2021-12-30 04:32] #22237 closed

[2021-12-30 04:41] JackBoosY commented on #22232
But the triplet you used is `x86-windows-clangcl`?

[2021-12-30 04:59] cgolchert commented on #21095
Can anyone that understands how version number work explain why this shouldn't have been closed?

Updating it to 8.2 doesn't cover the request for a 9.0 update.

[2021-12-30 05:05] cgolchert opened #22255 "OpenVDB update to 9.0"
Library name: OpenVDB

New version number:  -----> **9.0** <-----

Other information that may be useful (release notes, etc...)

#21095

For some reason the previous request was closed because a keyword in the 8.2.0 notes triggered a closure.

[2021-12-30 05:40] dg0yt commented on #19524
@strega-nil-ms But I assume there is at least one vcpkg team member who has got all of Windows, Visual Studio, and a cheap USB stick?

[2021-12-30 05:59] s-naveen opened #22257 "[flatbuffers] build error"
package: flatbuffers[core]:wasm32-emscripten -> 2.0.0#2
vcpkg version: 95d4d067f 2021-12-29 (9 hours ago)
vcpkg-tool version: 2021-11-15-ec76affcc987efbf172b7da0b05df711b48fa535

`Starting package 1/3: flatbuffers:wasm32-emscripten
Building package flatbuffers[core]:wasm32-emscripten...
-- Using community triplet wasm32-emscripten. This triplet configuration is not guaranteed to succeed.
-- [COMMU

[2021-12-30 06:09] JonLiu1993 commented on #21095
@cgolchert ,The latest version of openvdb currently released is the rolled back version 8.2.0, but in fact its latest version is the last released version 9.0. We are going to submit a new pr to upgrade the version to 9.0.

[2021-12-30 07:03] PhoebeHui commented on #19775
@Tim-Mckinley, do you solve the problem finally? could you please try vcpkg latest source and see if the issue still repro? boost has been upgraded to 1.77.0, I still can't repro this issue locally.

[2021-12-30 07:45] PhoebeHui commented on #9038
I can't repro this issue with latest source. @yezilaoda, please create a new issue with full repro code if this still be a problem for you.

[2021-12-30 07:45] #9038 closed

[2021-12-30 07:45] Nemirtingas commented on #22232
Yes, its my custom triplet to cross-compile a Windows library/executable on Ubuntu.

[2021-12-30 07:57] cgolchert commented on #21095
I'm not following what you mean...  It IS v9.0 with the incorrect versioning number in vcpkg?

The fact that a request for v9 being closed BECAUSE of 8.2.0 was how the closure was worded.

[2021-12-30 07:58] holmescn commented on #18941
When the PR #21847 merged, this issue could be closed.

[2021-12-30 08:03] JonLiu1993 commented on #21095
Sorry to make you confused, I mean we will submit a new pr to upgrade openvdb to version 9.0 soon

[2021-12-30 08:32] ViksitAgarwal opened #22259 "compiler errors on gcc x64-linux cpprestsdk - vcpkg_installed/x64-linux/include/cpprest/asyncrt_utils.h:575:30: error: ‘utc_now’ was not declared in this scope"
**Describe the bug**
getting compiler on gcc x64-linux when using dependency cpprestsdk through vcpkg while it compiles fine on Windows with MSVC.

when vcpkg_installed/x64-linux/include/cpprest/json.h:18 is included, it causes the below compiler error
vcpkg_installed/x64-linux/include/cpprest/asyncrt_utils.h:575:30: error: ‘utc_now’ was not declared in this scope

Also noticed __cdecl in header f

[2021-12-30 08:50] m-kuhn commented on #18941
Tested, confirmed

[2021-12-30 09:19] 1647606255 opened #22261 "vcpkg install libmysql:x64-windows fail!"
[code]

[2021-12-30 09:40] Cheney-W commented on #21910
Does this issue occur when you clone vcpkg in a new disk, such as E:\ of F:\?
It is possible that the problem is with the file access rights of the system disk.

[2021-12-30 11:07] vinc17fr commented on #22122
Maybe an optimization bug in the compiler (this would not be the first time that an optimization bug affects MPFR). You could try to rebuild with and without optimizations, and compare.

[2021-12-30 11:08] PhoebeHui commented on #22163
@Yuhta, thanks for your response, I setup a machine with gcc 10.3.0 installed, I can't repro this issue with latest source.

[code]
[code]

[code]

[2021-12-30 11:14] PhoebeHui commented on #22261
@1647606255, could you please provide the failure logs?
D:\DevelopmentTool\vcpkg-master\buildtrees\libmysql\install-x64-windows-dbg-out.log
D:\DevelopmentTool\vcpkg-master\buildtrees\libmysql\install-x64-windows-dbg-out-1.log

[2021-12-30 11:17] 1647606255 commented on #22261
[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/7792651/install-x64-windows-dbg-out.log)
[install-x64-windows-dbg-out-1.log](https://github.com/microsoft/vcpkg/files/7792652/install-x64-windows-dbg-out-1.log)

[2021-12-30 12:02] guajingmiyu opened #22262 "[opus] build failure on Raspberry Pi 4B"
Host Environment
- OS: Raspberry OS 5.10 32bit
- Compiler: arm-linux-gnueabihf

To Reproduce
Steps to reproduce the behavior:
`./vcpkg install opus`

Failure logs
[code]
Additionally, attach any relevant sections from the log files above.
**Additional context**
Add any other context about the problem here, such as what you have already tried to resolve the issue.

[2021-12-30 12:07] JackBoosY commented on #22232
Now we only have a tool chain from Windows to Linux, but no tool chain from Linux to Windows.

[2021-12-30 12:10] guajingmiyu commented on #22262
it is log file
[install-arm-linux-dbg-out.log](https://github.com/microsoft/vcpkg/files/7792830/install-arm-linux-dbg-out.log)

[2021-12-30 12:14] Nemirtingas commented on #22232
Yes. Still I think boost's B2 should be configured to use clang-win when using clang instead of always configure boost for MSVC, no matter the OS.

[2021-12-30 13:51] ViksitAgarwal commented on #22259
I have made numerous changes to my code using preprocessor to handle wstring and string conversions in case of Linux before calling json.h functions.  I am no longer seeing the compiler error.  Will update if I see the error again, my changes to compile on Linux are still in progress.  Sorry for the trouble if it was a false alarm.

[2021-12-30 13:51] #22259 closed

[2021-12-30 14:12] JackBoosY commented on #22232
It is in the judgment `if(MSVC)`, so I think it does not matter, we should change the code in another condition.

[2021-12-30 15:03] Nemirtingas commented on #22232
MSVC is also set when using clang as a compiler.

[2021-12-30 15:19] Nemirtingas commented on #22232
MSVC is still set when using clang-cl: https://cmake.org/cmake/help/latest/variable/MSVC.html
It seems to me that is the expected behavior. But when using clang, you have some differences:
When using MSVC
[code]

When using Clang-cl:
[code]

I dumped all CMake variables using the following CMakeLists.txt:
[code]

[2021-12-30 15:36] JackBoosY commented on #22232
I'm not familiar with clang-cl, but we can't use Visual Studio in Linux anyway, can we?

[2021-12-30 15:39] Nemirtingas commented on #22232
There is Visual Studio Code that should work on Linux. It depends on what you want to achieve.

[2021-12-30 16:08] Yuhta commented on #22163
My compiler is not built with system zlib, could that be the reason?

[code]

[2021-12-30 16:30] JackBoosY commented on #19797
I'm not sure about that.
I think we cannot effectively solve this problem before we solve `rpath`.
Any other suggestions here?

[2021-12-30 16:30] JackBoosY commented on #22047
Will fix this issue after #21456 merge.

[2021-12-30 16:32] JackBoosY commented on #22178
Can you please correct our document?

Thanks.

[2021-12-30 16:33] JackBoosY commented on #14498
I will try to fix this issue in these days.

[2021-12-30 16:38] JackBoosY commented on #22232
Visual Studio Code is different with Visual Studio since it doesn't contain the compiler.
If we use `clang-cl`, it is assumed that `cl` must exist, right?

[2021-12-30 16:40] Nemirtingas commented on #22232
No, cl is not mandatory, clang-cl is the frontend that accepts the same parameters as cl so users don't have to change their compilation options. Like lld-link that accept the same parameters as link.exe, llvm-rc, and so one.

[2021-12-30 16:45] DougRogers opened #22263 "[OpenImageIO] update to 2.3.10.1"
Library name: OpenImageIO v2.2.10.0

New version number:  2.3.10.1

Several important crash bugs have been fixed.

[2021-12-30 17:45] #21198 closed

[2021-12-30 18:15] JackBoosY commented on #20543
We don't have enough information to solve this issue, unfortunately; if you have any more information to help us solve this, please reopen!

[2021-12-30 18:15] #20543 closed

[2021-12-30 18:15] JackBoosY commented on #21338
We don't have enough information to solve this issue, unfortunately; if you have any more information to help us solve this, please reopen!

[2021-12-30 18:15] #21338 closed

[2021-12-30 18:16] JackBoosY commented on #21590
We don't have enough information to solve this issue, unfortunately; if you have any more information to help us solve this, please reopen!

[2021-12-30 18:18] JackBoosY commented on #19170
Sorry but the upstream has no response for 1 year, I will continue to handle this issue when the upstream reply.

[2021-12-30 18:18] #19170 closed

[2021-12-30 18:19] JackBoosY commented on #19205
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-12-30 18:19] #19205 closed

[2021-12-30 18:20] JackBoosY commented on #21039
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-12-30 18:26] JackBoosY commented on #21312
The pcre part was resolved, and for the python part, please track https://github.com/microsoft/vcpkg/issues/21312.

[2021-12-30 18:26] #21312 closed

[2021-12-30 18:27] JackBoosY commented on #21435
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-12-30 18:27] #21435 closed

[2021-12-30 18:28] JackBoosY commented on #21492
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-12-30 18:28] #21492 closed

[2021-12-30 18:28] #21996 closed

[2021-12-30 18:29] JackBoosY commented on #21551
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-12-30 18:29] #21551 closed

[2021-12-30 18:29] JackBoosY commented on #21645
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-12-30 18:29] #21645 closed

[2021-12-30 19:30] MarcoCallari opened #22264 "CMake not able to find MathGL"
**Describe the bug**
find_package does not find the MathGL library. I have installed the package mathgl:x64-windows. I have other packages installed with vcpkg and none of them cause any trouble.

**Environment**
- OS: Windows 10
- Compiler: MSVC 19.29.30138
-CMake version 3.22.0
-Commit 95d4d067f05b36225b292bf1c3156a7a20c913c0 of the vcpkg repo

**To Reproduce**
Steps to reproduce the behavior:
1

[2021-12-30 19:40] fmonett commented on #19868
I had a similar issue in an unrelated project, this is caused by strsafe.h being included before shlwapi.h. strsafe.h #define s some function names to make them unusable (becauuse they are unsafe). It causes conflict with the definitions in shlwapi.h The solution that worked in my case was to make sure strsafe.h is included after shlwapi.h!

That being said, I think the bug is more with the code f

[2021-12-30 20:00] BillyONeal commented on #21095
It got closed because in the PR https://github.com/microsoft/vcpkg/pull/22184 the author said "fix #21095" which caused GitHub to automatically close it when that PR was merged.

[2021-12-30 21:26] elad8a opened #22265 "installed directory is not created when multiple projects have the same path"
I use manifest files (vcpkg.json) with Visual Studio 2022 solution that contains multiple projects.

I would like all the libraries that are installed automatically to be located in the same directory **for all projects in the solution**.
So I changed the "Installed Directory" property to point to the desired location:

![image](https://user-images.githubusercontent.com/17446835/147788829-3a78132f

[2021-12-30 23:38] ghost opened #22266 "[curl] Unable to install curl-x86 by installing libcpr/cpr."
**Host Environment**
- OS: Windows
- Compiler: ```gcc/g++ - cc/c++ under the GCC toolchain v10.2.0``` ```clang/clang++ under the LLVM compiler infrastructure 6.0.0```

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg install cpr`

**Failure logs**
[code]

[code]

**Additional context**
No portfile updates. Checked with ```git pull``` and ```vcpkg update```.

[2021-12-31 02:20] autoantwort commented on #22265
That is the default, so resetting the value to the default should work (Only works if you only have one manifest file, multiple manifest files can not share the installation dir).

[2021-12-31 02:22] Yourbee commented on #17662
I use the PCL-1.11.1-AllInOne package. When I include <pcl/surface/convex_hull.h>, the compiled program will need vtk'dll, but now the PCL of vcpkg does not have vtk. I don't know if the two are related.

[2021-12-31 03:18] LilyWangLL commented on #17520
Thanks for Squareys' reply and fix. @sbrkopac According to the comment in magnum-plugins's portfile.cmake and Squareys' reply,  plugins are "Modules" that cannot be linked as libraries, but are meant to be [loaded at runtime]. (https://doc.magnum.graphics/magnum/plugins.html#plugins-loading).
[code]

[2021-12-31 03:30] JackBoosY commented on #17662
@Yourbee Can you please provide the failure logs?

[2021-12-31 03:35] JackBoosY commented on #22266
I wonder you should use triplet `x86-mingw-dynamic` instead?

[2021-12-31 03:42] Cheney-W commented on #22261
`LINK : fatal error LNK1104: cannot open file 'runtime_output_directory\conf_to_src.exe'`
I can't reproduce this issue in my side, I used VS2019 16.11.8 and vcpkg: 2021-12-09-724cea8b33cbf06c645f5095fa29773697da9761.
Also, the latest version of libmysql is 8.0.20#5, could you please update your vcpkg and re-install this port with following command:
`.\vcpkg.exe install libmysql:x64-windows --debug

[2021-12-31 03:49] PhoebeHui commented on #22261
I noticed the failure in your machine. Could you add DISABLE_PARALLEL to https://github.com/microsoft/vcpkg/blob/master/ports/libmysql/portfile.cmake#L68 and try again?

Failure:
[code]

[2021-12-31 04:04] johnwason opened #22267 "[libiconv] Build error"
**Host Environment**
- OS: Ubuntu 20.04
- Compiler: Android ndk 23.1.7779620

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install --triplet=x64-android boost-locale`

**Failure logs**
[code]

[code]

[code]

[2021-12-31 04:35] qisumi opened #22268 "[FTXUI] error LNK2019"
Library name:[FTXUI](https://github.com/ArthurSonzogni/FTXUI)

New version number:0.11

Now when using vcpkg with ftxui in Visual Studio 2022, there will be some linking error.

Environment: Windows11 x64 VisualStudio2022

More Details
[code]

[2021-12-31 05:49] cgolchert commented on #21095
Cool.  I meant "explain why it got closed."  That is what happens when you are tired and edit only have the sentence. :)

[2021-12-31 06:03] PhoebeHui commented on #22163
@Yuhta, I installed the pkgs which based on https://github.com/microsoft/vcpkg/blob/master/scripts/azure-pipelines/linux/provision-image.sh, could you help confirm?

[2021-12-31 06:12] 1647606255 commented on #22261
Add  -DISABLE_PARALLEL=OFF
it is ok now ! Thanks!

[2021-12-31 06:16] qisumi commented on #22268
it works well when using CMake in Visual Studio

[2021-12-31 06:22] JonLiu1993 commented on #22255
@cgolchert ,The issue #21095 has been reopened, this issue is repeated, so I will close it

[2021-12-31 06:22] #22255 closed

[2021-12-31 06:28] JonLiu1993 commented on #21532
Thanks for posting this issue. Please reopen this issue if it still be a problem for you.

[2021-12-31 06:28] #21532 closed

[2021-12-31 06:32] JackBoosY commented on #22232
I'm very confused. `MSVC` means that cl.exe was selected using clang-cl, but this is not necessarily the case here?
`WIN32` should include `MSVC`, not the other way around.

[2021-12-31 06:33] JonLiu1993 commented on #21476
Thanks for posting this issue. Please reopen this issue if it still be a problem for you.

[2021-12-31 06:33] #21476 closed

[2021-12-31 06:36] JonLiu1993 commented on #16497
Thanks for posting this issue. Please reopen this issue if it still be a problem for you.

[2021-12-31 06:36] #16497 closed

[2021-12-31 06:41] dg0yt commented on #22261
Note that this means that vcpkg already retried building without parallelism.

`DISABLE_PARALLEL` was meant to be used literally as an option to `vcpkg_cmake_install`. (But all it would change is that vcpkg would build that port immediately without parallelism - but it already tried that before.)

[2021-12-31 06:43] Nemirtingas commented on #22232
MSVC means the compiler is cl.exe or another compiler that emulates cl.exe's behavior. WIN32 can be defined but not MSVC when you build with MinGW for example. Clang-cl is the clang compiler but its can handle cl.exe's options format (like /H- and such) while clang.exe can also build for Windows but can't handle cl.exe's options.

[2021-12-31 06:47] dg0yt commented on #22267
The android setup needs updates. Cf. #21847.

[2021-12-31 06:50] JonLiu1993 commented on #20858
Duplicate of #22263

[2021-12-31 06:50] #20858 closed

[2021-12-31 06:58] JackBoosY commented on #22232
So https://github.com/microsoft/vcpkg/blob/1085a57da0725c19e19586025438e8c16f34c890/ports/boost-modular-build-helper/CMakeLists.txt#L54-L74
Should be:
[code]
right?

[2021-12-31 07:19] Henderz commented on #19205
Yes, Thank you. Although I don't recall now what I did to get the build, I'm sure it was your observation that RAM would be split between different threads and limiting concurrency were key in solving it. Thank you! :-)

[2021-12-31 07:23] LilyWangLL commented on #22268
Thanks for posting this issue. I can use FTXUI well in CMake project. Could you please provide a sample project to reproduce the error?

[2021-12-31 07:30] Nemirtingas commented on #22232
No, because when you cross-compile for Windows, CMake sets WIN32 too, because its not the host arch that is checked, its the target arch.
https://cmake.org/cmake/help/latest/variable/WIN32.html

You can't target clang for Windows according to clang.jam:
[code]
So you will have to explicitly use clang-win.jam.

[code]

[2021-12-31 07:50] dg0yt commented on #19205
Last not least, `VCPKG_MAX_CONCURRENCY` is an environment variable.

[2021-12-31 07:59] dg0yt commented on #22232
Is there a `MSVC` with `CMAKE_CXX_COMPILER_FRONTEND_VARIANT STREQUAL "GNU"`?

[2021-12-31 08:02] qisumi commented on #22268
Yes it work well in CMake project, maybe there is some wrong in project setting.
I'm working on solving it.

[2021-12-31 08:28] FrankXie05 commented on #22264
@MarcoCallari Could you please provide your CMakeLists.txt?

[2021-12-31 08:41] LilyWangLL commented on #22268
Thanks for your reply. If you need any help, please comment there.

[2021-12-31 08:47] JackBoosY commented on #22232
@Nemirtingas Can you please make a PR to commit that?

Thanks.

[2021-12-31 08:54] JackBoosY commented on #22265
Maybe set an absolute path?

[2021-12-31 08:56] Nemirtingas commented on #22232
I just tested that, it doesn't seem to have MSVC set when using Clang on Windows with GNU frontend (clang.exe and clang++.exe as compilers):
[code]

With clang-cl.exe as C and CXX compilers:
[code]

So I believe it should be:
[code]

??

[2021-12-31 09:02] PhoebeHui commented on #21034
Please reopen this issue if it still be a question for you.

[2021-12-31 09:02] #21034 closed

[2021-12-31 09:07] PhoebeHui commented on #17041
We haven't see this issue again, close this issue.

[2021-12-31 09:07] #17041 closed

[2021-12-31 09:10] elad8a commented on #22265
@autoantwort @JackBoosY  why multiple manifest files can not share the installation dir? What is the proper way to reduce the space overhead of the installation dir? I have multiple copies of the same solution, and within each solution each project has its own installation dir. The amount of space it takes is enormous compared to what it used to be before using manifest files.

[2021-12-31 09:15] Raffaello opened #22273 "[libmt32emu] add a CMake config file to esay integrate in a CMake project"
****

**Is your feature request related to a problem? Please describe.**
I have notice that the libmt32emu does not have a CMake config file, but it looks like it should come with one:
https://github.com/munt/munt/blob/master/mt32emu/cmake/MT32EmuConfig.cmake.in

**Proposed solution**
like all other vcpkg managed dependencies, would be nice to have a cmake to easily include the library in a CMake

[2021-12-31 09:15] Raffaello commented on #16813
it looks like that the CMake config file of libmt32emu is not present after install with vcpkg,
I have created this issue: https://github.com/microsoft/vcpkg/issues/22273 to report it as it looks like to me that a cmake config file should be shipped to.

[2021-12-31 09:30] Nemirtingas commented on #22232
Ok, I made a Draft PR for now: https://github.com/microsoft/vcpkg/pull/22274. So we can check its content before trying to merge it.

[2021-12-31 09:53] JackBoosY commented on #22261
The reserved memory is too small that even vcpkg use no parallel build command, your spare memory still down to zero.

[2021-12-31 09:53] PhoebeHui commented on #22261
Yes, https://github.com/microsoft/vcpkg/blob/master/scripts/cmake/vcpkg_execute_build_process.cmake#L86-L108.

[2021-12-31 10:04] kreuzerkrieg commented on #22178
https://github.com/microsoft/vcpkg/pull/22275

[2021-12-31 12:14] xjsxujingsong commented on #22076
hi @LilyWangLL Thanks, it worked using a new directory.

[2021-12-31 13:46] autoantwort commented on #22265
Because the manifest file describes what should be in the installation dir. If you have different manifest files and a shared installation dir, each install would remove the stuff from the previous install.

Use only one manifest file at the root of the solution.

[2021-12-31 15:37] MarcoCallari commented on #22264
Sure thing. The minimal reproducible example is:
CMakeLists.txt
[code]

Where main.cpp is simply
[code]

[2021-12-31 16:00] Yuhta commented on #22163
@PhoebeHui The compiler is configured by another team in my firm, it will take some time for me to get a gcc `--with-system-zlib` to test on it.  In the meantime if you have time, can you try test the build with a gcc without `--with-system-zlib` and see if you get the same error?

[2021-12-31 16:55] acaiberii commented on #22266
Nope.

[code]
-- Configuring x86-mingw-dynamic
-- Building x86-mingw-dynamic-dbg
CMake Error at scripts/cmake/vcpkg_execute_build_process.cmake:155 (message):
    Command failed: "C:/Program Files/CMake/bin/cmake.exe" --build . --config Debug --target install -- -v -j9
    Working Directory: C:/Users/*****/OneDrive/Documents/vcpkg/buildtrees/zlib/x86-mingw-dynamic-dbg
    See logs for more informa

[2021-12-31 17:32] Hoikas commented on #22273
Version 2.5.3 (which is what is used by vcpkg) does not have CMake configs. Upstream needs to release a new version for us to have the config.

[2021-12-31 21:03] dstanfor350 commented on #4359
I found if in the build toolbar I had "Debug" **"x32"** I get the lld-link error.  Changing the "**x32"** to **'x64"** the error is gone, all is good.  If you really want to build x32, I suppose, out of luck for now.

[2021-12-31 22:22] oyvindln commented on #20811
Seems to solve it for me at least.

[2022-01-01 00:14] k06a opened #22276 "[boolinq] update to 3.0.4"
Library name: boolinq

New version number: 3.0.4

Git tag 3.0.4 was added: https://github.com/k06a/boolinq/releases/tag/3.0.4

[2022-01-01 03:51] JackBoosY commented on #22266
Please provide _ C:\Users\*****\OneDrive\Documents\vcpkg\buildtrees\zlib\install-x86-mingw-dynamic-dbg-out.log_.

[2022-01-01 04:15] oracleoftroy opened #22277 "[pffft] Support building for non-static triplets"
I typically build with x64-windows. Many ports don't support dynamic linking and will issue a warning in that case. Pffft accomplishes this with `vcpkg_check_linkage(ONLY_STATIC_LIBRARY)` at the top of portfile.cmake.

But the pffft port also adds `"supports": "static"` to its vcpkg.json file, which had the effect of completely preventing building on any non-static triplets. Removing this line see

[2022-01-01 08:38] MarkCallow opened #22278 "[vcpkg upgrade][vcpkg-tool-meson[core]] build failure "vcpkg-tool-meson[core] is only supported on 'native'""
**Host Environment**
- OS: macOS 12.1 (Monterey)
- Compiler: Xcode 13.2.1 / Apple clang version 13.0.0 (clang-1300.0.29.30)

**To Reproduce**
Steps to reproduce the behavior:
`git pull` # to update to tip of tree `master`. I'm at commit 1085a57da0725c19e19586025438e8c16f34c890
`./bootstrap-vcpkg.sh`
`./vcpkg upgrade`

I did the bootstrap-vcpkg because on my first attempt at `./vcpkg-upgrade` I got

[2022-01-01 09:14] LilyWangLL commented on #22076
If upstream has new change of this issue, I will reopen this issue.

[2022-01-01 11:53] Shreeshrii commented on #16019
Tesseract 5.0.0 has been released. Please update vcpkg to use the new version.

[2022-01-01 11:56] eladmaimoni opened #22279 "How do I specify an alternative to vcpkg_installed directory via CMakePresets.json?"
I tried to use VCPKG_INSTALL_OPTIONS in the following manner but it fails:

[code]

I get the following error message:

`[CMake] Error: --x-install-root specified multiple times`

So how do I specify an alternative to vcpkg_installed directory via CMakePresets.json?

[2022-01-01 12:13] xjsxujingsong commented on #22076
BTW, it seems to be caused by folly because other libraries required by folly can be installed and used successfully, like fmt or curl.

[2022-01-01 12:18] dg0yt commented on #22076
[code]

Don't use `+` in your directory names. Folly stumbles over `C++` because it uses a raw filesystem paths as regular expressions. `+` has a special meaning.

[2022-01-01 14:27] jpdante opened #22280 "[hidapi] build failure "Imported target includes non-existent path""
**Host Environment**
- OS: Windows 10 Pro - Build 19044.1415
- Compiler: Clang 12.0.0 (MSVC CLI) for MSVC 16.11.31729.503 (Visual Studio Comunity 2019 Release - amd64)

**To Reproduce**
Steps to reproduce the behavior:
1. `./vcpkg install hidapi:x64-windows`
2. Try to build a project with hidapi

**Failure logs**
[code]

**Additional context**
I went into the vcpkg folder and tried to check the hi

[2022-01-01 17:05] DougRogers commented on #22263
This is an important update.  There is no workaround for the crash bugs.  I hope this can be addressed expeditiously.

[2022-01-01 17:33] TwoPizza9621536 opened #22282 "[v8] build failure"
**Host Environment**
- OS: Windows 11 Insider Build 22523
- Compiler: VS2019 v16.11.8

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install v8`

**Failure logs**
[code]

C:\dev\vcpkg\buildtrees\v8\generate-x86-windows-dbg-out.log
[code]

C:\dev\vcpkg\buildtrees\v8\generate-x86-windows-dbg-err.log
[code]

**Additional context**
Similar to #15939 and #15351 but vcpkg and VS 2019 are in

[2022-01-01 18:44] acaiberii commented on #22266
[code]

[2022-01-01 19:07] bmarques1995 opened #22284 "[New Port Request] <msdf-atlas-gen>"
Library name: msdf-atlas-gen

Library description: This is a utility for generating compact font atlases using MSDFgen.

The atlas generator loads a subset of glyphs from a TTF or OTF font file, generates a distance field for each of them, and tightly packs them into an atlas bitmap (example below). The finished atlas and/or its layout metadata can be exported as an Artery Font file, a plain image

[2022-01-01 19:08] elad8a commented on #22279
I found an undocumented (?) option:

"VCPKG_INSTALLED_DIR" : "${sourceDir}/packages"

[2022-01-01 19:08] bmarques1995 opened #22285 "[eigen3] update to <3.4.0>"
Library name: eigen3

New version number: 3.4.0

Other information that may be useful (release notes, etc...)

[2022-01-01 19:56] xgcssch commented on #21910
I attached a new USB drive, did a fresh format with NTFS and tested it:
same result as before.

It must have to do with my account, as running elevated with admin privileges let the compile coplete without errors.
But this is no option on our company systems.

User at home is a standard windows local user account created with the Windows UI. At work it's a domain user with restricted rights.
Here

[2022-01-01 22:29] bmarques1995 opened #22286 "[GLFW3] update to <3.3.6>"
Library name: GLFW

New version number: 3.3.6

Other information that may be useful (release notes, etc...)

[2022-01-02 02:21] arvinkx commented on #18449
@friederwC @chwazy Would you happen to know how to get past this issue? Trying to remove the entries with tiff doesn't work anymore due to opencv4 requiring it. I get the message `Package opencv4 does not have a tiff feature`. I've included the resulting log below when the tiff library is included:
[code]

[2022-01-02 05:48] LedLoaf opened #22287 "No suitable Visual Studio instances were found"
Hello,

I recently deleted Visual Studio 2019 and installed Visual Studio 2022.

When I use vcpkg I get this error message "No suitable Visual Studio instances were found". I'm assuming it is looking for 2019, how can I redirect where it is looking? I did a quick search for similar problems and I found nothing of use.

Any help would be appreciated!

[2022-01-02 06:08] LedLoaf commented on #22287
One of the searched threads said installing 142.29 fixed it for him. It doesn't work for me.

[2022-01-02 06:48] Aradon267 commented on #7367
I added the 'vcpkg.exe'(with the full path) file to my PATH variable but I still can't use it everywhere and the libraries that I downloaded at the regular folder can't be used anywhere..
That's what I've put in the system and user variables:
![image](https://user-images.githubusercontent.com/86805354/147868363-e1f8ba23-b39e-4891-82a5-810768d37c3a.png)
When on a different folder and using a comman

[2022-01-02 08:36] JackBoosY commented on #22266
[code]
Hmm... the gcc uses `_wopen` on Windows.

[2022-01-02 08:38] JackBoosY commented on #22287
See https://github.com/microsoft/vcpkg-tool/pull/314.

[2022-01-02 08:39] chwazy commented on #18449
@arvinkx in my case I had to use an older version of vcpkg to match the other resources needed to build the Spector View package.
The script building the package was pulling the latest version of vcpkg.
I chose a version of vcpkg by date to match the other resources release date, but I can't remember with version it was.

[2022-01-02 08:39] JackBoosY commented on #22282
[code]
Please install the latest Windows 10 SDK first.

[2022-01-02 08:40] JackBoosY commented on #22278
cc @Neumann-A

[2022-01-02 09:19] patzf opened #22288 "[libwebsockets] Build error: fails with triplet x64-mingw"
**Host Environment**
- OS: WIN10
- Compiler: Target: MinGw64 (gcc version 11.2.0 (Rev5, Built by MSYS2 project))
-  Target: x86_64-w64-mingw32
- Vcpkg package management program version 2021-12-09-724cea8b33cbf06c645f5095fa29773697da9761

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install libwebsockets`

**Failure logs**
CMake Error at C:/install/msys64/home/myusr/vcpkg/scripts/bui

[2022-01-02 11:47] OlafvdSpek opened #22289 "404: manifest.md"
Could be a bug in MSVC itself, not sure. https://github.com/microsoft/vcpkg/blob/master/docs/users/manifests.md works.
[code]

[2022-01-02 12:12] MFRSiam commented on #22278
+1 this , i was just trying to update my installed packages using vcpkg upgrade then
```Error: vcpkg-tool-meson[core] is only supported on 'native'```
showed
![image](https://user-images.githubusercontent.com/12758535/147875306-5cf9a3fa-a951-4aac-b37e-17fbaec4cf4b.png)

[2022-01-02 12:47] Neumann-A commented on #22278
Vcpkg-tool-meson is a host tool only so native is correct. Either a port is missing a host: true for the dependency or there is a bug in vcpkg upgrade

[2022-01-02 14:35] jz315 opened #22290 "[SDL2] update to <2.0.18>"
Library name: SDL2

New version number: 2.0.18

Other information that may be useful (release notes, etc...)
https://www.libsdl.org/download-2.0.php

[2022-01-02 15:38] Roy-Fokker opened #22291 "[FTXUI] update to <0.11>"
Library name: Functional Terminal (X) User interface

New version number: 0.11

Other information that may be useful (release notes, etc...)
[Release notes](https://github.com/ArthurSonzogni/FTXUI/releases/tag/v0.11)

[2022-01-02 16:41] equeim opened #22294 "[New Port Request] libpsl"
Library name: libpsl

Library description: C library to handle the Public Suffix List

Source repository URL: https://github.com/rockdaboot/libpsl

Anything else that is useful to know when adding (such as optional features the library may have that should be included):
It can use either libicu, libidn2 or libidn as dependency, although it seems that most Linux distributuions build is with libidn2

[2022-01-02 17:05] kotori2 opened #22296 "[sqlcipher] Linux/macOS support"
**Is your feature request related to a problem? Please describe.**
It seems that Linux and macOS support was dropped. Maybe it's related to static linking.
https://github.com/microsoft/vcpkg/blob/1085a57da0725c19e19586025438e8c16f34c890/ports/sqlcipher/portfile.cmake#L3

**Proposed solution**
Add macOS and Linux support.

**Describe alternatives you've considered**
Simply removing it won't work.
[

[2022-01-02 18:00] orion160 opened #22297 "Update vulkan headers"
Vulkan headers are outdated to current sdk version.

Also in vulkan hpp it is lacking of VULKAN_HPP_NO_CONSTRUCTORS.

[2022-01-02 19:34] xavier2k6 commented on #21567
@FrankXie05 @Osyotr 7-zip 21.07 was released so no need for patch etc.

https://sourceforge.net/p/sevenzip/discussion/45797/thread/0a7b47970b/

[2022-01-02 19:34] arvinkx commented on #18449
@chwazy Thanks for the help, I tried some older versions of vcpkg by commenting out the links in the powershell scripts and pulled in various versions from 2019 - 2020 and wasn't able to build successfully. I get different errors depending on what version pulled in but mostly when trying to update after running `bootstrap-vcpkg.bat` I get the error:

[code]

[2022-01-02 19:42] romainaugier opened #22298 "[LibRaw] : Linking error when building a project using libraw, undefined reference to lcms functions"
Hello,

I'm encoutering a linking error when building a project using openimageio and libraw. There are undefined reference to functions that belong to the lcms library.

- Ubuntu 20.04.2 LTS
- G++ (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0

I have installed openimageio this way :

`./vcpkg install openimageio[ffmpeg,libraw]:x64-linux`

using this commit id : `1085a57da0725c19e19586025438e8c16f34c890`

[2022-01-02 20:26] TwoPizza9621536 commented on #22282
Installed the latest Windows 10 sdk still the same error.
[generate-x86-windows-dbg-err.log](https://github.com/microsoft/vcpkg/files/7799742/generate-x86-windows-dbg-err.log)
[generate-x86-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/7799743/generate-x86-windows-dbg-out.log)
stalled the latest Windows 10 SDK
![image](https://user-images.githubusercontent.com/47703212/147888533-cc

[2022-01-03 00:38] co-dev10 opened #22300 "Vcpkg forces "ninja" without having ninja installed"
Hello,
I trief to use vcpkg, but it always tries to use "ninja -v", without even having ninja installed.

**Host Environment**
- OS: Windows
- Compiler: MSVC

**To Reproduce**
`git clone https://github.com/Microsoft/vcpkg.git`
`cd vcpkg`
`./vcpkg install libmariadb`

**Failure logs**
[code]

`Additionally, attach any relevant sections from the log files above.`

**Additional context**
I dont found

[2022-01-03 00:42] #22300 closed

[2022-01-03 02:14] vadi2 commented on #17374
Thanks, fixed now.

[2022-01-03 02:19] vadi2 opened #22301 "[hunspell] build failure autopoint: archive.dir.tar.xz: No such file or directory"
**Host Environment**
- OS: Windows
- Compiler: MinGW

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install hunspell`

**Failure logs**
[code]

[2022-01-03 05:49] dg0yt commented on #22301
Does git for Windows come with (an incomplete) `autopoint` 0.19.8.1? :eyes:

[2022-01-03 09:01] IshaanKarnik opened #22302 "[New Port Request] licensecc"
Library name: Licensecc

Library description: Copy protection, licensing library and license generator for Windows and Linux.

Source repository URL: https://github.com/open-license-manager/licensecc

Project homepage (if different from the source repository): http://open-license-manager.github.io/licensecc/index.html

[2022-01-03 09:10] vadi2 commented on #22301
I'm building in GitHub actions, if it helps - here's the list of software: https://github.com/actions/virtual-environments/blob/main/images/win/Windows2019-Readme.md

[2022-01-03 13:53] ahojnnes commented on #15192
@dweckmann Can you check whether the above fixes your issue. Thanks.

[2022-01-03 14:51] IronsDu opened #22307 "Can't specify folly version in manifest.json"
**Describe the bug**
Can't specify the folly version

**Environment**
Windows 10、Visual Studio 2019

**To Reproduce**

**Expected behavior**
We can specify folly version in my manifest.json

**Failure logs**
[code]

[code]

**Additional context**
I want override folly version in my project manifest.json:
[code]

[2022-01-03 14:55] dweckmann commented on #15192
seems to be good now ! thanks

[2022-01-03 17:33] dbenson2000 opened #22309 "vcpkg binarycache sharing CI->developer workstation"
One of the stated goals in the binarycaching documentation is to allow sharing of generated artifacts from a CI server to developer workstations, but getting all the versions to match up is challenging, and vcpkg --debug doesn't provide enough details to troubleshoot the differences.

I would like to see vcpkg --debug provide more details around what is hidden under triplet_abi to make it easier f

[2022-01-03 18:55] strega-nil-ms commented on #19524
@dg0yt oh, sure; poke @BillyONeal ?

[2022-01-03 18:59] #22289 closed

[2022-01-03 20:10] SlySven commented on #22301
Is https://www.gnu.org/software/gnulib/manual/html_node/gettextize-and-autopoint.html relevant?

[2022-01-03 21:17] BillyONeal commented on #19524
I don't have an easy way to test this at the moment because I'm both under COVID quarantine and my "beefy" laptop which could reasonably run VMs broke on my trip :(. When the laptop broke I ordered parts to make my home desktop workstation-ish; those parts are supposed to be delivered today but who knows. Worst case I get out of "COVID jail" on Wednesday and should be able to use my work workstati

[2022-01-03 21:18] BillyONeal commented on #19524
(I do have a cheap USB stick but given that this isn't super urgent I would rather just wait to run it in a VM I already have with an extra throwaway disk formatted as exFAT)

[2022-01-03 21:24] #20587 closed

[2022-01-03 21:33] BillyONeal commented on #20811
Thanks!

[2022-01-03 22:50] equeim opened #22311 "[icu] ICU port adds -lm in pkgconfig files for debug MSVC builds"
**Describe the bug**
When ICU is built for Windows (MSVC) target with debug variant, its configure script adds -lm library to Libs.private property of pkgconfig files. As as I know, this library does not exist in MSVC toolchain. It is not used with dynamic linking, but static linking with pkgconfig results in linking error.

**Environment**
- OS: Windows
- Compiler: MSVC 19.29.30138

**To Reproduc

[2022-01-03 23:31] #22291 closed

[2022-01-04 00:31] autoantwort commented on #22309
The last part of the triplet_abi is different, that means that a different compiler was detected

[2022-01-04 00:33] autoantwort commented on #22309
You could run vcpkg with `--debug` so see something like
[code]
so that you can check what exactly is different.

[2022-01-04 00:55] PhoebeHui commented on #22302
Duplicated of https://github.com/microsoft/vcpkg/issues/22302

[2022-01-04 00:55] #22302 closed

[2022-01-04 01:50] PhoebeHui commented on #19524
Hope you are safe! @BillyONeal

[2022-01-04 03:19] FrankXie05 commented on #22285
@bmarques1995  This issue fix by #19665

[2022-01-04 04:02] p0las commented on #13403
@alejcabrera facing the same issue. did you solve it by any chance?

[2022-01-04 04:02] huangqinjin commented on #22143
Done more tests in my environment.

| URL |  pwsh |  vcpkg |  aria2 | curl | cmake |
|----|--------|---------|--------|------|--------|
| 1 |  :heavy_check_mark: | :x: | :x: | :x: | :x: |
| 2 |  :heavy_check_mark: | :x: | :x: | :x: | :x: |
| 3 |  :heavy_check_mark: | :heavy_check_mark: | :heavy_check_mark: | :heavy_check_mark: | :heavy_check_mark: |

1. https://www.7-zip.org/a/7z1900-src.7z
2. htt

[2022-01-04 04:02] #22143 closed

[2022-01-04 04:06] holmescn commented on #15376
I am meetting the same issue. but this is an error of [vcpkg-tool](https://github.com/microsoft/vcpkg-tool). There are some errors there and I am trying to fix them.

[2022-01-04 04:30] holmescn opened #22318 "[vcpkg-tool] duplicated export plan when doing export with prefab for protobuf"
This is a bug of [vcpkg-tool](https://github.com/microsoft/vcpkg-tool). When doing:
[code]
it found the compiled protobuf versions but do export twice. And since the first time is done, the second time caused an error:
[code]

**Environment**
- OS: Ubuntu 20.04
- Compiler: clang 12 in Android NDK r23

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install protobuf:arm-android protobu

[2022-01-04 04:46] dg0yt commented on #22301
At least it indicates that env `AUTOPOINT` might be used to enforce vcpkg's installation of `autopoint`.

[2022-01-04 05:10] cjdb opened #22319 "[glfw3] build failure"
**Host Environment**
- OS: Ubuntu 20.04
- Compiler: GCC 11 and GCC 12

**To Reproduce**
Steps to reproduce the behavior:
1. Clone `https://github.com/cjdb/project_template.git`.
   1. Either clone vcpkg inside `project_template` or create a symlink to an existing vcpkg checkout.
   2. Copy `../project_template/config/vcpkg/gcc_libstdcxx.cmake` to `project_template/vcpkg/scripts/toolchains/gcc_libs

[2022-01-04 05:36] cjdb commented on #22319
Clobbering `vcpkg` and recloning seemed to fix the issue. Wonder why a simple `git pull` didn't?

[2022-01-04 05:36] #22319 closed

[2022-01-04 06:42] PhoebeHui commented on #22232
Reference https://gitlab.kitware.com/cmake/cmake/-/issues/19724

[2022-01-04 10:27] OgreTransporter commented on #22083
I have tried many different things to build TF directly (without vcpkg) with VS2022, but have had no success so far. VS2019 is working well.

[2022-01-04 10:29] PhoebeHui commented on #22311
@equeim, thanks for reporting this issue, I will take a look.

[2022-01-04 10:58] caleberi opened #22323 "[cunit] Build error"
**Host Environment**
- OS: Windows
- Compiler: C:/Program Files (x86)/Microsoft Visual Studio/2017/BuildTools/VC/Tools/MSVC/14.16.27023/bin/Hostx64/x86/cl.exe

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install cunit`

**Failure logs**
-Cut and paste the appropriate build messages from the console output.
[code]

-Please attach any additional failure logs mentioned in the console o

[2022-01-04 11:56] OgreTransporter commented on #21246
I hope this information can help you. I build TF without vcpkg directly with bazel. VS2022 does not work. VS2019 works. I also installed both VS in parallel. However, I had to set `BAZEL_VC` global before building and run bazel as administrator.

[code]

I am not a fan of bazel. A build process in CMake is much easier to debug, plus it's easier to switch compilers.

[2022-01-04 12:11] Eric-JH commented on #19561
Has anybody gotten a solution except installing MSVC2019

[2022-01-04 12:30] JackBoosY commented on #21910
vcpkg will never use permissions beyond ordinary users, which means that this problem cannot be solved from the root cause.

[2022-01-04 15:10] equeim commented on #22311
Here is log of passed test for libm in debug build:
[code]

And log of failed test for libm in release build:
[code]

[2022-01-04 15:42] JackBoosY commented on #22282
[code]

`msvcrt.lib` should in Visual Studio path.

[2022-01-04 15:43] JackBoosY commented on #22278
Ah...yes that's a vcpkg bug.

[2022-01-04 15:46] JackBoosY commented on #22279
You can only set the installed path using `--x-install-root`, not `VCPKG_INSTALLED_DIR`.

[2022-01-04 15:57] elad8a commented on #22279
@JackBoosY can you provide us with a working example of **how** to use` --x-install-root`?

[2022-01-04 16:22] JackBoosY commented on #14498
Can anyone test my PR https://github.com/microsoft/vcpkg/pull/22336 whether it works plz?

[2022-01-04 16:49] eladmaimoni opened #22338 "[WSL] opencv fails to install on ubuntu - fails to compile cairo"
steps to reproduce:

`vcpkg install opencv`

[code]

[2022-01-04 17:04] JackBoosY commented on #22338
Please provide the full output and the logs mentioned in the ouput, also please provide your system version and build tool version.

[2022-01-04 17:37] sekcheong opened #22341 "vcpkg msys install requires admin (privileged) mode to copy files to non privileged folders"
**Describe the bug**
When build libiconv vcpkg

**Environment**
- OS: Windows
- Compiler: VC2019

**To Reproduce**
Steps to reproduce the behavior:
0. Make sure the user doesn't have admin access in Windows 10
1. ./vcpkg install libiconv:x64-windows
2. See error, vckpg -> cmake -> bash ->sh
Repro code when

**Expected behavior**
vcpkg should not require privileged access to install non privileged

[2022-01-04 18:01] dg0yt commented on #22279
The vcpkg CMake toolchain file already passes the `--x-install-root` parameter to the vcpkg tool when dealing with the manifest:

https://github.com/microsoft/vcpkg/blob/abf52dd1adb482e21fb89d1125d4fed6b79dfc07/scripts/buildsystems/vcpkg.cmake#L492-L506

This does indeed change the value of `_VCPKG_INSTALLED_DIR` which is used as value for  `--x-install-root`.

But I assume it is not intented to b

[2022-01-04 18:10] dbenson2000 commented on #22309
The output of vcpkg --debug is quite verbose, I was able to get the compiler versions to match, but this exposes a different issue with nuget.

[code]

Running nuget manually  gets much further
[code]

[2022-01-04 18:24] alejcabrera commented on #13403
It didn't work for me, so I used Hoikas solution.
https://github.com/microsoft/vcpkg/issues/13403#issuecomment-690376518

unfortunately like this I get an outdated version of oiio, but so far so good.

[2022-01-04 19:12] elad8a commented on #22338
environment is WSL on Windows 10 x64.

vcpkg version:
[code]

Full Output:

[code]

**Note that I did installed libx11-dev libxft-dev with apt**

This is the build log for cairo:

[code]

And the meson-log.txt:

/home/eladm/vcpkg/buildtrees/cairo/x64-linux-dbg/meson-logs/meson-log.txt
[code]

[2022-01-04 20:20] yurybura opened #22345 "[vcpkg] Support various port upgrade strategies"
**Problem**
Certain ports have ABI guarantees depending on the port version. But vcpkg does not provide different versions of ports at the same time (with a few exceptions).

For instance Python has forward- and backwards-compatible across a minor release [1]:

**Proposed solution**
vcpkg should provide different version for API incompatible versions (e.g. Python 3.7, 3.8, 3.9, etc.) in the same t

[2022-01-04 20:24] #18270 closed

[2022-01-04 21:38] autoantwort commented on #22345
You should be able to use [version overwrites](https://github.com/microsoft/vcpkg/blob/master/docs/examples/versioning.getting-started.md#overrides) to do that.

[2022-01-04 21:42] yurybura commented on #22345
Please provide me an example how to build boost-python37, boost-python38, boost-python39, boost-python310 at the same time using version overwrites.

[2022-01-04 21:43] autoantwort commented on #22345
Ah ok, but how do you use boost-python37, boost-python38, boost-python39, boost-python310 in the same project without odr violations?

[2022-01-04 21:50] yurybura commented on #22345
Yes, I mean in the same port/project. For example in Boost.Python I need features python27, python37, python38, etc.

For instance I develop a Python extension (mylib.pyd) using Boost.Python. My extension users may use different Python versions. I have to build .pyd for every supported Python version (mylib37.pyd + boost-python37, mylib38.pyd + boost-python38, etc.).

[2022-01-04 21:57] autoantwort commented on #22345
But then you build your extension for python27, then for python37, then for python38, ... and not for all python versions at the same time in the same build.

[2022-01-04 21:59] yurybura commented on #22345
Now I can build boost-python[python2,python3] at the same time. I don't need ALL versions in the same time, only major versions.

[2022-01-04 22:29] lolo32 commented on #22249
Hi @lsqtzj,

I just have the same error, and the solution is in the error message.
I got it after some upgrade, maybe another options in the past.

Here is my error:
[code]
The error came from `Only one SSL backend must be selected.`, and after checked, it tried to compile it with these 3 backend: `openssl,schannel,ssl`.

After left only one (either openssl or schannel or ssl), it compiled like a

[2022-01-04 22:36] autoantwort commented on #22345
Then you have to create custom python3.9, python 3.8, ... ports like the python2 port. It is not possible to install a port twice because they would overwrite each other because they write files to the same folder.

[2022-01-04 23:31] #22233 closed

[2022-01-05 00:18] davidmatson opened #22353 "[sqlite3] update to <3.37.1>"
Library name: sqlite3

New version number: 3.37.1

Other information that may be useful (release notes, etc...)
https://sqlite.org/releaselog/3_37_1.html

[2022-01-05 01:49] JackBoosY commented on #22338
[code]

[2022-01-05 03:56] #22280 closed

[2022-01-05 03:58] #22276 closed

[2022-01-05 04:09] #22263 closed

[2022-01-05 04:14] JonLiu1993 commented on #22290
@jz315 , This issue will be fixed by #21848

[2022-01-05 05:27] diehard2 opened #22368 "VCPKG forcing Ninja"
No matter how I structure my portfile.cmake Ninja is being chose by  vcpkg_configure_cmake.

**Environment**
- OS: Linux
- Compiler: gcc 11.2
- Latest VCPKG latest revision

`

	 find_program(GIT git)
	 set(GIT_URL "xxxxxxxxxxx")
	 set(GIT_REV "2a8e132e85a527603a3d6d4503ded117d5066eaf")
	 message(STATUS "port: ${PORT}")
	 make_directory( ${CURRENT_BUILDTREES_DIR}/src/${PORT})
	 set(SOURCE_PATH ${C

[2022-01-05 06:51] JackBoosY commented on #22368
If your repo has makefiles, you may use `vcpkg_*_make` instead.

[2022-01-05 08:00] balahv opened #22372 "[zlib] <Botan>"
Hello.
Botan have compressing support disabled in default configuration.
To enable it need put option --with-zlib.
I tried make patch. Its working. But may be u will do it better.
Thank you
[botan[zlib].patch.txt](https://github.com/microsoft/vcpkg/files/7813018/botan.zlib.patch.txt)
.

[2022-01-05 08:39] Osyotr commented on #22279
I'm using `"VCPKG_INSTALLED_DIR": "${sourceParentDir}/vcpkg_installed"` to make sure the folder won't be removed by rsync.
@dg0yt build dir is OK only for multiconfig generators. Otherwise you end up with two copies of vcpkg_installed folder.

[2022-01-05 09:16] LilyWangLL commented on #22323
Thanks for posting this issue. Did you install CMake tools in Visual Studio Installer? If not, please install `cunit` again after installing this.
![image](https://user-images.githubusercontent.com/94091114/148192117-b44af445-4d18-46c5-bb1d-31bfcf430778.png)

[2022-01-05 09:29] elad8a commented on #22338
@JackBoosY As I indicated, I did installed Xorg dependencies using the exact command you mentioned. The problem remains.

[2022-01-05 10:42] Cheney-W commented on #22341
Dose this issue occur when the vcpkg saved in a Non-c drive?

[2022-01-05 11:36] jayantySrikrishna opened #22373 "[tensorflow-cc] Build error with vcpkg"
**Host Environment**
- OS: Windows 10 - 64 bit
- Compiler: vs2022

Steps to reproduce the behavior:
`./vcpkg install tensorflow-cc:x64-windows`

**Failure logs**
Repository rule def_file_filter_configure defined at:
[code]
More Info:
    package: tensorflow-cc[core]:x64-windows -> 2.7.0#1
    vcpkg-tool version: 2021-11-24-48b94a6946b8a70abd21529218927fd478d02b6c
    vcpkg-scripts version: b934807

[2022-01-05 12:11] gracicot opened #22375 "[openssl] update to 1.1.1m"
Library name: openssl

New version number: 1.1.1m

Fixes openssl/openssl#16407

https://www.openssl.org/news/changelog.html#openssl-111

Avoid loading of a dynamic engine twice.

_Bernd Edlinger_

Prioritise DANE TLSA issuer certs over peer certs

_Viktor Dukhovni_

Fixed random API for MacOS prior to 10.12

These MacOS versions don't support the CommonCrypto APIs

_Lenny Primak_

[2022-01-05 12:13] yurybura commented on #22345
I cannot agree. Right now Python2 and Python3 files don't replace each other. Of course I can create custom ports, but better to have this functionality in vcpkg from the box.

[2022-01-05 12:17] autoantwort commented on #22345
Because this are two independent ports.

[2022-01-05 12:29] balahv opened #22377 "[New Port Request] <JPCRE2>"
Library name: JPCRE2

Library description: C++ wrapper for PCRE2 library

Source repository URL: https://github.com/jpcre2/jpcre2

[2022-01-05 13:29] yurybura commented on #22345
I cannot agree again. Python2 and Python3 are the same project even though they have independent ports in vcpkg. Having independent ports in vcpkg is a workaround for limiting the current design.

[2022-01-05 13:52] diehard2 commented on #22368
Thanks for the suggestion @JackBoosY , but it only has makefiles

[2022-01-05 16:32] gracicot opened #22380 "[boost-system] build failure in nix environment (gcc on macos)"
**Host Environment**
- OS: Darwin
- Compiler: gcc-11
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `curl -L https://nixos.org/nix/install | sh`
2. Create those three nix files in an empty directory:
`default.nix`:
[code]
`vcpkg-tool.nix`:
[code]
`vcpkg.nix`:
[code]
3. In the directory with the three file, run `nix-shell --pure`
4. run `vcpkg install boost-system`

**Failure logs**
[

[2022-01-05 16:32] sphoto opened #22381 "[gdal] Build error using latest port 3.4.0#6"
**Host Environment**
- OS: Windows 10 21H1
- Compiler: VS2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install gdal[core,hdf5,netcdf,postgresql,mysql-libmariadb,libspatialite,supported-default-features]:x64-windows-static-md`

**Failure logs**
Error: Building package gdal:x64-windows-static-md failed with: BUILD_FAILED

`link /nologo /dll /INCLUDE:OSRValidate  /INCLUDE:OGR_G_Get

[2022-01-05 17:35] dg0yt commented on #22381
@sphoto Did it work for you in the past?

libspatialite should come with a pkg-config file now, so we might import libspatialite dependencies like implemented for hdf5 and netcdf-c.

[2022-01-05 18:02] dg0yt commented on #22279
AFAICT rsync is not used in vcpkg.

AFAICT it is not related to the generator. The two copies come from `vcpkg install` being used manually in the source directory, in addition to the automated call at CMake runtime.

[2022-01-05 18:48] sphoto commented on #22381
No, I did never use vcpkg to build gdal.

[2022-01-05 19:05] Osyotr commented on #22279
There are two configure presets in our `CMakePresets.json`: x64-windows-debug and x64-windows-release. But use Ninja generator (_not_ multiconfig, as Visual Studio doesn't support it yet). The respective output folders are:
`_project_folder_/out/build/x64-windows-debug`
`_project_folder_/out/build/x64-windows-release`
By default, each of these folders will contain a copy of `vcpkg_installed` which

[2022-01-05 19:49] dg0yt commented on #22381
For static linkage, we must use the rttopo libs when they are used by spatialite. I test a fix in #22370 now. I cannot build windows triplets locally.

[2022-01-05 20:35] sphoto commented on #22381
I'll try your latest fix and let you if it works.

[2022-01-05 21:03] sphoto commented on #22381
[#9566c](https://github.com/microsoft/vcpkg/commit/9566c29a795317f27d9889147b283f4ed2a7eddc) works perfectly well. I could build gdal statically with spatialite support. Thank you.

[2022-01-05 21:39] patzf commented on #14012
@thumpro : did you ever resolve that issue? I think I ran into the same problem although your issues dates back a year!

[2022-01-05 23:13] BillyONeal commented on #19524
Luckily it was just a phone notification that I *might* have been near a COVID person, I didn't get COVID myself :). Sorry, I got parts yesterday but forgot about this item. Trying now...

[2022-01-06 00:49] BillyONeal commented on #19524
![image](https://user-images.githubusercontent.com/1544943/148310375-6ad31a18-90b4-42da-b799-dde42616e5ea.png)

Looks like this is still unhappy on exFAT. I don't think this is actually the same bug @creativegamer03 was talking about, since that should have been fixed by https://github.com/microsoft/vcpkg-tool/pull/244, but it is the bug that was dupe'd into this one.

[2022-01-06 01:02] JonLiu1993 commented on #22035
Duplicate to #22375

[2022-01-06 01:02] #22035 closed

[2022-01-06 01:28] BillyONeal commented on #19524
This problem is https://github.com/microsoft/STL/issues/233

[2022-01-06 01:34] BillyONeal commented on #19524
Unfortunately it doesn't look like that problem is easy to workaround without vcpkg entirely reimplementing `std::filesystem::symlink_status` itself. That's doable, particularly given that vcpkg doesn't care about full fidelity behavior, but given that there's already pending changes that will fix it in the standard library I would prefer to just let that happen unless this is extremely urgent:?

[2022-01-06 01:57] BillyONeal commented on #21800
That seems a reasonable interim solution to me

[2022-01-06 02:17] autoantwort commented on #22345
True

[2022-01-06 02:43] #22297 closed

[2022-01-06 02:50] longnguyen2004 commented on #14012
We decided on falling back to libwinpthreads for mingw-w64 targets. Is there any problems with that?

[2022-01-06 08:24] patzf commented on #14012
@longnguyen2004 : Thanks for the reply. To be honest, I am rather lost with https://github.com/microsoft/vcpkg/issues/22288, and somehow it seems to me that this issue could be related, but really I do not know. Could you shortly cross-check and give some feedback if you see a relation?

[2022-01-06 08:33] JackBoosY commented on #22228
So please track #19797.

[2022-01-06 08:33] #22228 closed

[2022-01-06 08:56] dg0yt commented on #14012
It is not related. Port libwebsocket is not ready for building with mingw. There are more showstoppers in the portfile.

[2022-01-06 08:57] dg0yt commented on #22288
AFAICT port libwebsockets is not ready for building with mingw. There are more showstoppers in the portfile.

[2022-01-06 09:08] patzf commented on #22288
@dg0yt : Thanks for your input! So it seems that on Windows OS, I have to go with MS VisualStudio / MS Build tools / Windows SDK to build libwebsockets, right?
I checked this (https://libwebsockets.org/git/libwebsockets/tree/READMEs/README.build-windows.md) on the web, but it´s more a rant against the Win OS than the attempt getting the lib compilable with FOSS on Windows...