[2020-12-25 20:37] erl987 commented on #15225
Ok, thanks for the time. I'll try with an older revision.

Please decide if this issue should stay open or not.

[2020-12-25 20:55] cjdb commented on #15260
Thanks @NancyLi1013! Looks like it's working again. Both options work, but I'll go with the former since it's probably more robust.

[2020-12-25 20:55] #15260 closed

[2020-12-25 23:32] StarGate-One commented on #15300
- VS Code is _**not**_ Visual Studio - you need to download/install Visual Studio to use vcpkg on Windows or use msys2, but vcpkg integrates with Visual Studio on windows well.
- You may need to register, but the Community edition is free.
https://visualstudio.microsoft.com/thank-you-downloading-visual-studio/?sku=Community&rel=16
- From within the Visual Studio Installer the minimum needs to be i

[2020-12-26 03:21] playgithub commented on #15232
It has been fixed in develop, the commit https://github.com/boostorg/build/commit/ab341585995464332733d2852a50f9696867e711

Need a patch for 1.74.0, thanks.

[2020-12-26 08:10] indifferen opened #15309 "[ arrayfire[cuda] ] BUILD_FAILED"
-- Configuring x64-windows
CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:108 (message):
    Command failed: ninja -v
    Working Directory: D:/src/vcpkg/buildtrees/arrayfire/x64-windows-rel/vcpkg-parallel-configure
    Error code: 1
    See logs for more information:
      D:\src\vcpkg\buildtrees\arrayfire\config-x64-windows-out.log

Call Stack (most recent call first):
  scrip

[2020-12-26 08:21] June-Han opened #15310 "BUILD FAILED: installing realsense2"
I have attempted to install realsense2 using  ```vcpkg install realsense2``` command however,
[code]
I have pulled the latest version from github.
I do have windows sdk installed.
I have also attached the log below for reference if needed. Any help would be greatly appreciated.
[install-x86-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/5742842/install-x86-windows-dbg-out.log)

[2020-12-26 09:03] handicraftsman commented on #7212
Win32 isn't the only platform Gtk and vcpkg target. Gtk is mostly used (and has full feature support) on Linux desktops, while vcpkg definitely supports this OS.
And while gtk3 can be found in every single distro at the moment, gtk4 seems to be only available in fedora and probay arch. Ubuntu 20.04 will probably never include it.
Flatpaks and snaps allow gtk4 apps on any distro without depending o

[2020-12-26 09:08] handicraftsman commented on #7212
You could just block installing it on win32 until the bug is fixed.

[2020-12-26 10:06] linquize opened #15311 "[libxml2] Build the tools: xmllint, xmlcatalog"
libxml2 has tools: `xmllint`, `xmlcatalog`
Let's build them and install to `tools/libxml2`

[2020-12-26 10:28] Zingam opened #15312 "[freetype] build failure"
C:\SDKs\vcpkg>.\vcpkg.exe install freetype  --triplet x64-windows
Computing installation plan...
The following packages will be built and installed:
  * brotli[core]:x64-windows -> 1.0.9
  * bzip2[core]:x64-windows -> 1.0.8#1
    freetype[brotli,bzip2,core,png,zlib]:x64-windows -> 2.10.2#7
  * libpng[core]:x64-windows -> 1.6.37#14
  * zlib[core]:x64-windows -> 1.2.11#9
Additional packages (*) will

[2020-12-26 10:43] Hendiadyoin1 commented on #15304
Was able to fix the issue by replacing the "COPYING.LIB" with the "LICNENSES" folder referen e, which actually exists

[2020-12-26 10:58] tueda opened #15313 "[New Port Request] GiNaC"
Library name: GiNaC

Library description: A C++ library providing an extensive set of algebraic capabilities that are needed for computer algebra systems (symbolic operations on polynomials, mathematical functions, vectors and matrices etc.).

Source repository URL: https://www.ginac.de/ginac.git/

Project homepage (if different from the source repository): https://www.ginac.de/

Anything else tha

[2020-12-26 11:08] Zingam commented on #15312
This maybe related: https://github.com/microsoft/vcpkg/issues/14574

[2020-12-26 12:15] Hendiadyoin1 opened #15315 "[New Port Request] libcint"
Library name:  libcint

Library description:
libcint is an open source library for analytical Gaussian integrals.
It provides C/Fortran API to evaluate one-electron / two-electron
integrals for Cartesian / real-spheric / spinor Gaussian type functions.

Source repository URL:
https://github.com/sunqm/libcint

[2020-12-26 12:51] linquize opened #15316 "[glib] glib-2.0.pc should have version number"
[glib] `glib-2.0.pc` should have version number

Expected:
[code]

Actual:
[code]

[2020-12-26 12:53] linquize commented on #15316
Possible fix:
add `set(VERSION)` before `configure_file(glib-2.0.pc.in)`

[2020-12-26 12:53] Hendiadyoin1 commented on #15315
WIP CONTROL File:
[code]
WIP portfile.cmake:
[code]
Problems:
- encountering a lot of syntax errors
TODO:
- add REF and SHA256 tags for installation without --head
- readd Prefer ninja line

[2020-12-26 12:58] Hendiadyoin1 commented on #15315
Corresponding Issue in the libraries repo: [link](https://github.com/sunqm/libcint/issues/49)

[2020-12-26 13:43] linquize commented on #15297
Current problems include:
- xmllint tool required, comes from libxml2 #15311
- gnutls port not exist, and gnutls is not ready for MSVC
- portablexdr (needed on Windows-only) port not exist, and some patching required for MSVC
- glib *.pc bug #15316

[2020-12-26 14:36] tschoonj commented on #15248
Hi @NancyLi1013

The output log shows the following lines:

[code]

Note that this doesn't make the build fail: it will just proceed without trying to build the Cairo drivers.

I applied the following diff:

[code]

Many thanks for looking into this!

[2020-12-26 15:07] ohhmm commented on #14595
Please, do answer this before closing.
I am blocked to use the vcpkg.
I need to know was it intended vcpkg algorithm or malicious activity.

[2020-12-26 15:16] linquize commented on #15315
A lot of complex number problem in MSVC.

[2020-12-26 16:24] FrankHeimes opened #15317 "[opencv4[contrib]] build failure"
**Host Environment**
- OS: Windows 10 Enterprise 1909
- Compiler: Visual Studio 2019, Version 16.8.3

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg install --recurse opencv4[contrib]:x64-windows`

**Error message**
[code]
**Failure logs**
[opencv4contribFail.log](https://github.com/microsoft/vcpkg/files/5743335/opencv4contribFail.log)

[2020-12-26 17:11] StarGate-One commented on #14595
- The binaries are **_NOT_ executed**, they are stored there until they are needed again by vcpkg.
- The binaries are a **_copy of the binaries_** made of the **ports** one has installed with vcpkg.

NOTE: The PC has other issues if the binaries in `%LOCALAPPDATA%\vcpkg\archives` or `%APPDATA%\vcpkg\archives` directories are being executed.
To permanently disable binarycaching:
1. Set the environm

[2020-12-26 17:16] StarGate-One commented on #15309
**>D:\src\vcpkg\buildtrees\arrayfire\config-x64-windows-out.log**

Please drag & drop the aforementioned file to the box below to attach to this issue.

[2020-12-26 17:33] StarGate-One commented on #15310
- The `install-x86-windows-dbg-out.log` shows:

- In the Visual Studio Installer, make sure these are installed in the `Desktop development with C++` workload
![image](https://user-images.githubusercontent.com/68293825/103156308-6bc8ce80-4775-11eb-9e1b-110ad142c729.png)
- The `atlstr.h` file should be located in `C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Tools\MSVC\14.27.291

[2020-12-26 19:59] BenStigsen opened #15318 "Raylib update to 3.5.0"
Library name: Raylib

New version number: 3.5.0

[2020-12-26 20:11] Michael1249 opened #15319 "[New Port Request] <Cista++>"
Library name: Cista++

Library description: Cista++ is a simple, open source (MIT license) C++17 compatible way of (de-)serializing C++ data structures.

Source repository URL: https://github.com/felixguendling/cista

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included)

[2020-12-26 20:54] RodneyYourAreGoodAtThis commented on #7367
I run ./bootstrap-vcpkg.bat but it keeps telling me that it cannot find VS code; VS code is clearly installed and i have been struggling with it as one does. Please help.

[2020-12-26 21:44] Kicer86 opened #15320 "vcpkg export preserves orignal file locations in cmake files"
**Describe the bug**
vcpkg export generates package with absolute paths.

**Environment**
- OS: Windows

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg export <any_package> --raw --output=c:\exported_package

in c:\exported_package you can find many cmake an pc files containing original, full paths to files.
This makes package quite useless as it cannot be shared (unless other users

[2020-12-26 23:33] vmiheer opened #15321 "Question about static linking"
1. Does it make sense to automatically set `MSVC_RUNTIME_LIBRARY` if chosen triplet is `*-windows-static`
[code]

2. Should `vcpkg install` show additional information about how to use in cmake if triplet is `*-windows-static`?

I think below update to message would be really helpful.

[code]

[2020-12-27 02:30] wangyang1701 opened #15323 "[ OpenSSL ]Win10 Install OpenSSL with vcpkg<Error: Building package openssl:x64-windows-static failed with: BUILD_FAILED>"
**Host Environment**
- OS: [e.g. Windows 10]
- Compiler:  VS2019

**To Reproduce**
Steps to reproduce the behavior:
Steps can be found at https://substrate.dev/docs/en/knowledgebase/getting-started/windows-users

**Failure logs**
-Cut and past the appropriate build messages from the console output.

                            **C:\Tools\vcpkg>.\vcpkg.exe install openssl:x64-windows-static

[2020-12-27 04:46] Freshhand-j opened #15324 "[gdal:x64-windows] build failure"
**Host Environment**
- OS: Windows10
- Compiler: VS2019

**To Reproduce**
`./vcpkg install osgearth:x64-windows`

**Failure logs**
build-x64-windows-dbg-err
[code]
**Additional context**
[code]

[2020-12-27 05:28] linquize opened #15325 "Add tar to vcpkg_acquire_msys"
****
Some libraries configure script may need `tar`.

**Proposed solution**
Make `vcpkg_acquire_msys()` download `tar` when `PACKAGES tar` is specified

[2020-12-27 06:19] #15270 closed

[2020-12-27 06:43] #15280 closed

[2020-12-27 07:41] June-Han commented on #15310
I checked and C++ MFC is the issue.  After updating installations, I was able to install it successfully. Thanks for the help!

[2020-12-27 07:41] #15310 closed

[2020-12-27 10:52] one-thunder commented on #13827
Any info on when this will be resolved?

[2020-12-27 11:40] #15300 closed

[2020-12-27 11:47] traversaro opened #15326 "[glib] glib-2.0 .pc file contains non-existing include directory"
**Describe the bug**
The file `installed/x64-linux/debug/lib/pkgconfig/glib-2.0.pc` contains a reference to a non-existing include directory.

**Environment**
- OS: Linux
- Compiler: Not Relevant

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install gts:x64-linux
2. Inspect the file `installed/x64-linux/debug/lib/pkgconfig/glib-2.0.pc` . It contains a reference to ` -I"${includedir

[2020-12-27 12:03] one-thunder opened #15327 "How do I use mpir library, really?"
I was following docs and made a simple CMake based solution.

Project **A** - Shared library
Project **B** - Executable

For Project A I successfully used 2 dependencies, `zlib` and `yaml-cpp` which works great as follows:
[code]

So when I installed mpir, first I noticed the absence of a short usage sample printed at the end, and when trying different variations of the above code with changed nam

[2020-12-27 12:48] linquize commented on #15327
[code]

[2020-12-27 12:58] one-thunder commented on #15327
It worked, thanks, any docs on how vcpkg generates `MPIR_INCLUDE_DIR` this variables internally?

[2020-12-27 13:01] #15327 closed

[2020-12-27 13:58] linquize commented on #15327
Create a usage file `ports/mpir/usage` and write the hints.
After `vcpkg install mpir`, it will print the usage file.

[2020-12-27 15:54] Gigas002 commented on #15008
DLL builds on windows for both x86 and x64 in Debug/Release without any problems as is from source, just pull and build. Different projects for building are located in this directory: https://github.com/ermig1979/Simd/tree/master/prj.
Static windows build require you to change project's output type to `Static Library` and uncomment `#define SIMD_STATIC` in `simd/src/Simd/SimdConfig.h`. After that

[2020-12-27 16:01] davidbun opened #15328 "How do I add "src" folder to opencv or pcl libraries"
Recently I updated VCPKG to the newest one and now I cannot find the "src" folder under opencv or pcl libraries
How can I build the all the libraries in such a way that I will bring the source cpp files as well?
Thx in advance

[2020-12-27 17:05] traversaro commented on #289
I think this is solved now that https://github.com/microsoft/vcpkg/pull/14240 is merged.

[2020-12-27 17:35] Milerius opened #15329 "[boost-build] build failure on linux with clang and libc++"
**Host Environment**
- OS: Ubuntu 20.04
- Compiler: clang-11

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Failure logs**

[code]

**Additional context**
- Works with gcc

[2020-12-27 17:47] luisgj2805 opened #15330 "[ glib:x64-osx] build failure"
Error: Building package glib:x64-osx failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `./vcpkg update`, then
submit an issue at https://github.com/Microsoft/vcpkg/issues including:
  Package: glib:x64-osx
  Vcpkg version: 2020.11.12-unknownhash

[2020-12-27 23:21] kevinlul opened #15332 "Error installing any port: Unexpected format of powershell-core version string"
**Describe the bug**
All port build attempts fail due to Powershell Core not responding as expected to the `--version` flag. Removing an installed port is not affected.

**Environment**
- OS: Windows
- Compiler: MSVC v142

**To Reproduce**
Any port works and the error is not affected by debug flags or the choice of Windows shell. I will demonstrate with freetype in Git Bash.
[code]

**Expected beh

[2020-12-28 01:19] StarGate-One commented on #15332
- Looks like vcpkg is finding the wrong pwsh in `"USER_HOME\.dotnet\tools\pwsh.exe"`
- vcpkg should be using powershell-core in which it downloads/installs in the `[vcpkg-root]\downloads\tools` directory
https://github.com/microsoft/vcpkg/blob/4a678aa329c0a6323d7334fdf3ad37d571600d27/scripts/vcpkgTools.xml#L136-L142
- Modify the PATH environment used with vcpkg to not have `"USER_HOME\.dotnet\tool

[2020-12-28 01:58] celadaris opened #15333 "[ogre] Cannot open include file"
****

**Is your feature request related to a problem? Please describe.**
when downloading ogre with vcpkg
`./vcpkg install ogre`
 all of the header files are not correctly included, they are all included with quotations "" rather than with brackets <> and the location of the header files are not accurate either.

for example:
a header in Ogre.h will have this by default
`#include "OgreAnimation.h"

[2020-12-28 02:27] JackBoosY commented on #13945
@Milerius Blocked by the upstream. Although we can fix this issue in vcpkg, the fix requires upstream approval.

[2020-12-28 02:34] JackBoosY commented on #289
@traversaro Yes, thanks!

[2020-12-28 02:34] #289 closed

[2020-12-28 02:36] JackBoosY commented on #15324
Known issue. Should be the Visual Studio Linker bug.

[2020-12-28 02:40] NancyLi1013 commented on #14509
You can find the file here https://github.com/OpenImageIO/oiio/blob/master/src/cmake/modules/FindOpenColorIO.cmake, which is listed in _source_path/src/cmake/modules_ folder.

Please let me know if above suggestion can work fine for you.

Thanks.

[2020-12-28 02:42] JackBoosY commented on #15302
[code]

Did you installed the anti-virus?

[2020-12-28 02:52] JackBoosY commented on #15321
Since vcpkg will automatically set the specified CRT linkage based on the triplet, the cmake configuration file generated by the port contains this information.

See triplet:
https://github.com/microsoft/vcpkg/blob/4a678aa329c0a6323d7334fdf3ad37d571600d27/triplets/x64-windows-static.cmake#L2
setting:
https://github.com/microsoft/vcpkg/blob/4a678aa329c0a6323d7334fdf3ad37d571600d27/scripts/toolchain

[2020-12-28 02:54] JackBoosY commented on #15328
@davidbun Why do you need to do this? Does src refer to your own code?
I think you should use the `integrate` feature. See [documentation](https://github.com/microsoft/vcpkg/blob/master/docs/users/integration.md).

[2020-12-28 02:58] JackBoosY commented on #15332
cc @vicroms

[2020-12-28 03:07] longnguyen2004 commented on #15329
Can you try adding `-std=c++11` to `CXXFLAGS` and try again?

[2020-12-28 03:15] PhoebeHui commented on #15225
Based on https://github.com/microsoft/vcpkg/pull/14510#issuecomment-750808136, I think we will not do any changes about it in vcpkg, so I would close this issue now.

[2020-12-28 03:15] #15225 closed

[2020-12-28 03:22] zulc22 opened #15335 "sdl2-mixer[opusfile,libflac,libmodplug,libvorbis,mpg123] build failure"
**Host Environment**
- OS: Windows 10 20H2 (en-US)
- Visual Studio 2019, 2017 build tools, 2005, .NET 2003
Other packages work fine -- don't know what the "Compiler: revision" means in the context of this template.

[code]
[install-x86-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/5745765/install-x86-windows-dbg-out.log)

[2020-12-28 03:23] zulc22 commented on #15335
the other sdl2-mixer features i've tried work fine on my system as well, right now opusfile is the only exception i can find.

[2020-12-28 04:57] ShinNoNoir commented on #15268
Update: Removing `zlib` (and having it installed again when rebuilding `libpng`) fixed it.

[2020-12-28 04:57] #15268 closed

[2020-12-28 05:43] JonLiu1993 commented on #15312
See #8975
The rational behind vcpkg downloading it's own version of powershell is it uses specific commands and/or command syntax that may/may not be found in an older/newer version.

[2020-12-28 05:55] JonLiu1993 commented on #15312
See #8975
The rational behind vcpkg downloading it's own version of powershell is it uses specific commands and/or command syntax that may/may not be found in an older/newer version.

[2020-12-28 06:35] JonLiu1993 commented on #15317
@FrankHeimes ,Thanks for posting this issue,I can build opencv4: x64-windows normally on my machine,
Update cmake and other build tools.
Try to compile the latest (master) version and feedback please.
Thank you!

[2020-12-28 06:49] JackBoosY commented on #15311
@linquize Do you have official documentation about these 2 tools?

[2020-12-28 07:09] PhoebeHui commented on #15232
@playgithub, does the fix works for you? have you tried that?

I try to apply the patch, it solves the issue that you mentioned, however, it cause post-build valiadation failed when build with boost-exception

[code]

[2020-12-28 07:12] Zingam commented on #15312
@JonLiu1993 So vcpkg fails to download and install PowerShell?

I had a few libraries installed a while ago. I decided to upgrade them. I did: git pull then run upgrade. The build failed and the libraries got delisted vcpkg list didn't show them any longer. I cleaned up vcpkg and then I tried installing freetype.

[2020-12-28 07:15] Zingam opened #15339 "How do I use "cppwinrt"?"
How am I supposed to use cppwinrt? I doesn't seem to integrate into MSVC automatically and I don't see any instructions if I should use find_package?

[2020-12-28 07:33] FrankHeimes commented on #15317
@JonLiu1993
Thanks for helping me.

I can do that, too. However, the problem arises as soon as I add the `[contrib]` modules. Are you sure, you tried to build `opencv4[contrib]:x64-windows` (as opposed to just `opencv4:x64-windows`)?

The error logs I added state pretty clear that one of the contrib modules is likely missing a `find_package(lz4)` call.

[2020-12-28 07:35] JonLiu1993 commented on #15323
@wangyang1701 ,Thanks for posting this issue,Seems your network couldn't download the source package, please set a proxy then try again.

Thanks.

[2020-12-28 07:36] JackBoosY commented on #15335
[code]
[code]

[2020-12-28 07:45] JackBoosY commented on #15335
Confirmed.

[2020-12-28 08:12] NancyLi1013 commented on #15320
Hi @Kicer86

Thanks for posting this issue.

Could you please help provide which packages that you installed contain origional, full paths?

I tried to export `zlib ` as an example and found no absolute path in the files. So I think it might be related with the ports.

[2020-12-28 08:24] Brooklyn2001 commented on #15086
Confirm this bug

jom 1.1.3 - empower your cores

Project MESSAGE: D:\dev\vcpkg\buildtrees\qt5-webengine\src\5.15.1-8798b27a4c.clean\src\3rdparty\gn\build\gen.py --no-last-commit-position --out-path D:/dev/vcpkg/buildtrees/qt5-webengine/x64-windows-rel/src/3rdparty/gn/out/Release --cc "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Tools\MSVC\14.28.29333\bin\Hostx64\x64\cl.exe" -

[2020-12-28 08:26] NancyLi1013 commented on #15303
Hi @ankurverma85

Thanks for posting this issue.

Would you like to make a PR to implement this?

[2020-12-28 08:56] PhoebeHui commented on #15339
@Zingam, cppwinrt is header only, if you install winddows sdk, it should contains the headers. In vcpkg, it only check the header file in portfile.cmake. https://github.com/microsoft/vcpkg/blob/master/ports/cppwinrt/portfile.cmake#L1. You can incude the headers #include <winrt/base.h> directly.

[2020-12-28 08:57] PhoebeHui commented on #15309
@indifferen, could you provide the failure log D:\src\vcpkg\buildtrees\arrayfire\config-x64-windows-out.log

[2020-12-28 08:58] davidbun commented on #15328
I would like to see the original source files of the library
I have several libraries that I have "src" folder under "builtrees\port" and some libraries that does not have the src folder inside
Some time looking on the source can explain me in details what is done and why

[2020-12-28 09:04] davidbun commented on #15328
I have to say, that I fixed the problem by deleting vcpkg folder from users\MyName\Local\AppData
Why does it help?
What did I do that made opencv and pcl libraries missing "src" folder under their "builtrees\port" location?
Just want to know to prevent the same behavior next time
Just to note, both libraries are fully compiled, linked and work well with my code - I just could not see the source co

[2020-12-28 09:05] JonLiu1993 commented on #15317
@FrankHeimes ,I updated the vcpkg library and rebuilt it again, it was indeed successful：
[code]

[2020-12-28 09:17] JonLiu1993 commented on #15312
@Zingam ,You re-create a folder, then re-git clone vcpkg and try again. I tried again just now, and it can still build normally on my machine.
[code]

[2020-12-28 09:20] JackBoosY commented on #15328
@davidbun Oh I see, that's because you've enabled the `binarycaching` feature.
When you installed this port last time, vcpkg archived the files generated by this port, so if the port has not been changed during the next installation, the cache will be installed directly without building.

And you can use many ways to disable it, such as delete the cache folders(_%LOCALAPPDATA%/vcpkg_).

See [docum

[2020-12-28 09:21] JackBoosY commented on #15086
cc @Neumann-A

[2020-12-28 09:32] Freshhand-j commented on #15324
How can I fix this..

[2020-12-28 09:50] JackBoosY commented on #15335
Since mixer's dependency `opus` have been updated to 1.3.1, and the current mixer's requires opus version is 0.10, some opus functions used by some mixers have been deprecated, so we should upgrade the mixer.

[2020-12-28 09:52] JackBoosY commented on #15335
But for now, the latest mixer doesn't support the latest opus.

[2020-12-28 09:54] JackBoosY commented on #15324
@Freshhand-j  There is currently no solution.
We cannot reproduce this issue stably, nor can we provide a minimal reproducible solution to the linker team.

[2020-12-28 09:56] JackBoosY commented on #15283
Trying to reproduce now...

[2020-12-28 10:00] Freshhand-j commented on #15324
Ok, thank you

[2020-12-28 10:06] Cheney-W commented on #15324
@Freshhand-j
Since I can't reproduce this issue in my side, in order to investigate this issue, could you please do as below:
1. Open the x64 Native Tools Command Prompt for VS 2019
2. Pushd D:\src\vcpkg\buildtrees\gdal\x64-windows-dbg
3. Run the last command in the D:\src\vcpkg\buildtrees\gdal\build-x64-windows-dbg-out.log. This command should be a link command, the format of this command should

[2020-12-28 10:06] PhoebeHui commented on #15324
@Freshhand-j, we've seen this issue on CI testing Intermittently, however we can't repro on local machine, we considered the issue caused since linker crashed, Could you also provide the following information with us for helping repro this issue?

Execute the command below, and attach the output here, we want to confirm if it affected by others ports.
./vcpkg list x64-windows

[2020-12-28 10:17] Kicer86 commented on #15320
Hi

Try exiv2 (another one is dlib, but it is heavy to build):
vcpkg.exe export exiv2  --raw --output=c:\exported

and then:
[code]

Another issue is this:
[code]

as **packages** dir is not included in export.

[2020-12-28 10:23] JonLiu1993 commented on #15330
@luisgj2805 ,Thanks for posting this issue，Can you provide a complete build process and error log? Thank you

[2020-12-28 10:54] Freshhand-j commented on #15324
I really want to help you, but just now I re-ran the `vcpkg install osgearth:x64-windows` command and successfully installed the gdal:x64-windows. I didn't make any changes to the last time I made an error, but just restarted the computer the next day. The last time I made an error, I also restarted the computer, but the error did not disappear.This time it was a sudden success.If I need to do wha

[2020-12-28 10:55] Freshhand-j commented on #15324
PS D:\src\vcpkg> vcpkg list x64-windows
boost-accumulators:x64-windows                     1.75.0           Boost accumulators module
boost-algorithm:x64-windows                        1.75.0           Boost algorithm module
boost-align:x64-windows                            1.75.0           Boost align module
boost-any:x64-windows                              1.75.0           Boost any module
boo

[2020-12-28 11:17] linquize commented on #15311
http://xmlsoft.org/xmllint.html

http://www.xmlsoft.org/xmlcatalog_man.html

[2020-12-28 11:18] Zingam commented on #15339
@PhoebeHui If that is so then the current package doesn't work with C++20 in MSVC 16.8.

[2020-12-28 11:28] Zingam commented on #15312
I noticed that you run your test in PS terminal. I run your command in Windows Terminal PowerShell 7.1 shell too and it succeeded. When it previously failed I used Command Prompt:

PS C:\SDKs\vcpkg> ./vcpkg install freetype --triplet x64-windows
Computing installation plan...
The following packages will be built and installed:
  * brotli[core]:x64-windows -> 1.0.9
  * bzip2[core]:x64-windows -> 1.

[2020-12-28 11:42] DJm00n commented on #15278
Please also fix minor issue with copyright line in resource:
![image](https://user-images.githubusercontent.com/1285934/103211948-37d6e000-4912-11eb-818a-af0d1d7a1b4b.png)
I didn't had such issue when building manually via CMake.
![image](https://user-images.githubusercontent.com/1285934/103212013-6a80d880-4912-11eb-984b-e0250de43e69.png)

[2020-12-28 12:07] davidbun commented on #15328
I did not enabled binarycaching
Or at least did not wanted to enable it
I will read what does it mean and probably will decide if it is good for me or no
But can you kindly let me know how to disable it (if I really made it enabled)?
Thx a lot in advance

[2020-12-28 12:28] DJm00n commented on #15278
I investigated this encoding issue a bit.
It is because vcpkg [adding `-c65001` into `CMAKE_RC_FLAGS`](https://github.com/microsoft/vcpkg/blob/master/scripts/toolchains/windows.cmake#L24) but `src\main\windows\version.rc` file is in CP1252. Just need patch it and convert to UTF-8.

[2020-12-28 12:55] pengguanjun commented on #15302
@JackBoosY
Thx, I don't have any anti-virus.
I turned off the firewall, try again, but error again.
Now my firewall status:
![image](https://user-images.githubusercontent.com/29192658/103215621-dd0fa980-494e-11eb-95eb-9c43aecc1e50.png)

I got more log information.
[code]
[CMakeError.log](https://github.com/microsoft/vcpkg/files/5747335/CMakeError.log)
[CMakeOutput.log](https://github.com/microsoft

[2020-12-28 13:05] sphoto commented on #15324
@Freshhand-j: add the log file to the issue, can be found under **D:\src\vcpkg\buildtrees\gdal\build-x64-windows-dbg-out.log**

[2020-12-28 13:31] pengguanjun commented on #15302
By learning the issue, I try to adjust the CMakeLists.txt in the dir of 'D:\work\install\OpenMVS\vcpkg\vcpkg\buildtrees\openblas\src\0f4b439adf-917c2f6847.clean'

[issue related](https://github.com/microsoft/vcpkg/issues/7819)

##added information 2020/12/28
message("CMAKE_SIZEOF_VOID_P is ${CMAKE_SIZEOF_VOID_P}")
the cmakelists.txt
[CMakeLists.txt](https://github.com/microsoft/vcpkg/files/5747426

[2020-12-28 13:34] plettplett commented on #14509
Hi,

OK< got it. Thanks for pointing that out. I’m now working on OSX, so when back on Linux I will send you an update.

Thanks again

Chris Spence
Digital Devoid, Inc.
7300 Biscayne Blvd, Suite 405
Miami, FL  33138

Tel: 305 757 1330

chris@digitaldevoid.com
www.digitaldevoid.com

[2020-12-28 14:06] pengguanjun commented on #15302
I clean vcpkg, try to build again to avoid the cache influence.
Downloading ,I will check it tomorrow.

[code]

[2020-12-28 14:09] pengguanjun commented on #15302
In the vcpkg dir, I don't have the vcpkg\downloads\tools\**cmake-3.14.0-windows**.
Maybe, it is a cause.
![image](https://user-images.githubusercontent.com/29192658/103219629-35e43f80-4959-11eb-94cb-399919ce2440.png)

[2020-12-28 15:32] pengguanjun opened #15345 "Failed! | boost-regex:x64-windows"
Host Environment

[code]

To Reproduce
Steps to reproduce the behavior:
` .\vcpkg.exe install boost-regex:x64-windows`

download over:
D:\work\install\vcpkg\buildtrees\boost-regex\src\ost-1.75.0-88393e9f87.clean
![image](https://user-images.githubusercontent.com/29192658/103224784-56b19280-4963-11eb-91e8-8c06e78ed66d.png)

Error happened:
[code]

[2020-12-28 15:34] pengguanjun commented on #15345
[build-x64-windows-rel-out.log](https://github.com/microsoft/vcpkg/files/5747856/build-x64-windows-rel-out.log)
[CMakeLists.txt](https://github.com/microsoft/vcpkg/files/5747857/CMakeLists.txt)

[2020-12-28 15:59] pengguanjun commented on #15345
I had solved it by the way:
I'm at C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\bin\amd64 and ran commands: copy "C:\Program Files (x86)\Windows Kits\10\bin\10.0.17763.0\x64\rc.exe" and copy "C:\Program Files (x86)\Windows Kits\10\bin\10.0.17763.0\x64\rcdll.dll" to fix this in Visual Studio 2017

![image](https://user-images.githubusercontent.com/29192658/103227025-5ff12e00-4968-11eb-890

[2020-12-28 16:15] pengguanjun opened #15346 "[ eigen3 ]Eigen3:x64-windows build failed! |"
Host Environment

[code]

To Reproduce
Steps to reproduce the behavior:
.\vcpkg\vcpkg\vcpkg.exe  install eigen3:x64-windows

[code]

[config-x64-windows-out.log](https://github.com/microsoft/vcpkg/files/5747977/config-x64-windows-out.log)
[code]

[CMakeError.log](https://github.com/microsoft/vcpkg/files/5747982/CMakeError.log)
[CMakeOutput.log](https://github.com/microsoft/vcpkg/files/5747983/CMak

[2020-12-28 16:37] soufianekhiat opened #15347 "How do I disable vcpkg for a given project"
Ref issue:
https://github.com/microsoft/vcpkg/issues/281

I would like to disable vcpkg integration only for a given project in a solution.
I tried to add:
[code]
On top of the project after:
`<Project DefaultTargets="Build" ToolsVersion="16.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">`
Nevertheless it's still visible on the project setting:
![image](https://user-images.githubus

[2020-12-28 17:29] ankurverma85 commented on #15303
Unfortunately i dont think i have enough skill to implement this

[2020-12-28 19:26] #13172 closed

[2020-12-28 19:53] matt6801 opened #15348 "pcl[cuda]:x64-windows build failure"
**Host Environment**
- OS: Windows 10 Enterprise (10.0.18362 Build 18362)
- Compiler: Microsoft (R) C/C++ Optimizing Compiler Version 19.15.26730 for x64; NVIDIA (R) Cuda compiler driver 10.0.130
- Package: pcl:x64-windows
- Vcpkg version: 2020.11.12-nohash

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install pcl[cuda]:x64-windows`
OR
`./vcpkg install pcl[core,cuda,opengl,tools,vtk]

[2020-12-28 20:18] #15288 closed

[2020-12-28 20:23] #15273 closed

[2020-12-28 20:29] sandro97git opened #15349 "[paho-mqtt] wrong include path"
****

**Is your feature request related to a problem? Please describe.**
If I link to the target `eclipse-paho-mqtt-c::paho-mqtt3as` the header files can't be found. The `INTERFACE_INCLUDE_DIRECTORIES` point to `/home/sandro/vcpkg/installed/x64-linux/include` whereas the headers are located in `/home/sandro/vcpkg/installed/x64-linux/include/paho-mqtt`.

I want an to inlcude the header files with `

[2020-12-28 21:18] BillyONeal commented on #15347
Is this a UI bug or are you actually seeing that project use vcpkg?

[2020-12-28 21:19] BillyONeal commented on #15339
@Zingam cppwinrt was moved out of its own distribution channels and into the Windows SDK, so if you're using an update to date Windows SDK the parts should be there.

[2020-12-28 21:19] #15217 closed

[2020-12-28 21:40] klalumiere opened #15350 "[boost-python] `python39_d.dll` not found when `BOOST_DEBUG_PYTHON` is defined in a custom triplet"
**Is your feature request related to a problem? Please describe.**
As a workaround to #5097, I decided to define `BOOST_DEBUG_PYTHON` in our custom triplet, which is [the official way to use Python Debug libraries with Boost](https://www.boost.org/doc/libs/1_75_0/libs/python/doc/html/building/python_debugging_builds.html) (this could be seen as a fix to #5097, but I'm going to let the author of th

[2020-12-28 21:41] heretic13 opened #15351 "[v8] x86-windows / x86-windows-static build failure"
**Host Environment**
- OS: Windows 10 20H2 (19042.685), x64
- Compiler: VS2019 16.8.3

**To Reproduce**
Steps to reproduce the behavior:
vcpkg.exe install v8:x86-windows-static
or
vcpkg.exe install v8

**Failure logs**
[code]

**Additional context**
none

[2020-12-28 21:43] heretic13 commented on #15351
[generate-x86-windows-static-dbg-err.log](https://github.com/microsoft/vcpkg/files/5748838/generate-x86-windows-static-dbg-err.log)
[generate-x86-windows-static-dbg-out.log](https://github.com/microsoft/vcpkg/files/5748839/generate-x86-windows-static-dbg-out.log)

[2020-12-28 21:45] heretic13 commented on #15351
Computing installation plan...
The following packages will be built and installed:
    v8[core]:x86-windows -> 8.6.395.17
Detecting compiler hash for triplet x86-windows...
Could not locate cached archive: C:\Users\sunhe\AppData\Local\vcpkg\archives\a7\a76d1a3509a51a4e6a3c730677d6bd88e2dac91e.zip
Starting package 1/1: v8:x86-windows
Building package v8[core]:x86-windows...
-- Using msys root at D:

[2020-12-28 22:02] StarGate-One commented on #15351
Did follow the instructions within the `generate-<triplet>-dbg-err.log`?
It is telling you to install the Windows SDK version 10.0.19041.0 with the "Debugging Tools for Windows" feature.

- From the Visual Studio Installer and click **Modify**:
![image](https://user-images.githubusercontent.com/68293825/103245066-fc95da80-492c-11eb-91c0-853ffdd077ca.png)
- After the Visual Studio Installer complet

[2020-12-28 23:01] BillyONeal commented on #15332
@kevinlul What version of pwsh is it finding?

@StarGate-One It intentionally does not use that one if it can find a matching version from the system to avoid an unnecessary download. The problem is that the version detection itself is blowing up.

[2020-12-28 23:07] BillyONeal commented on #15332
@kevinlul Can you see if the PR fixes your problem?

[2020-12-28 23:28] StarGate-One commented on #15332
@BillyONeal
- See this link, https://docs.microsoft.com/en-us/powershell/scripting/install/installing-powershell-core-on-windows?view=powershell-7.1#install-as-a-net-global-tool
- It seems the OP has an `install as a net global tool` version installed and vcpkg is finding it

[2020-12-28 23:29] BillyONeal commented on #15332
@StarGate-One Yes, it's a globally installed tool, and that's fine. What's not fine is that whatever version in play here is too old to understand --version.

[2020-12-28 23:34] BillyONeal commented on #13827
@one-thunder It's reported upstream as https://github.com/wbhart/mpir/issues/286

[2020-12-29 00:04] neil3d opened #15356 "[embree3:x64-osx] build failure"
**Host Environment**
- OS: [MacOS Big Sur, 11.1]
- Compiler: AppleClang 12.0.0.12000032

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install embree3`

**Failure logs**
- vcpkg/buildtrees/embree3/config-x64-osx-dbg-err.log
[code]

- vcpkg/buildtrees/embree3/config-x64-osx-dbg-out.log
[code]
**Additional context**
I make sure that TBB is installed:
[code]

[2020-12-29 01:13] wangyang1701 commented on #15323
it works now, thanks a lot

[2020-12-29 01:22] vicroms commented on #15291
@xandox

Thanks for reporting and working on this issue!
I think the changes on PR #15254 are fine.

I'd like to investigate the manifest issue a bit more thoroughly, I'll prepare an environment where I can reproduce the issue.

[2020-12-29 01:23] JonLiu1993 commented on #15323
@wangyang1701 ，I will close this issue, if you have a problem, you can reopen it

[2020-12-29 01:23] #15323 closed

[2020-12-29 01:49] JackBoosY commented on #15328
@davidbun Because it's enabled automaticlly, please add an environment variable `VCPKG_FEATURE_FLAGS` and set it to `-binarycaching`.

[2020-12-29 01:57] vicroms commented on #15291
For the manifest issue, we need to be able to declare cross-triplet dependencies.
An easy repro on Windows using classic mode is to use `x-set-installed` (which manifest mode uses internally):

[code]

Note that in classic mode this can be solved like this:

[code]

[2020-12-29 01:57] JackBoosY commented on #15302
There are several possibilities here, but they have nothing to do with cmake:
1. _D:\software\CMake\bin\cmake.exe_ cannot be accessed.
2. _C:\PROGRA~2\MICROS~1.0\VC\bin\amd64\link.exe_ cannot be accessed.
3. _D:\work\install\OpenMVS\vcpkg\vcpkg\buildtrees\openblas\x64-windows-dbg\CMakeFiles\CMakeTmp\CMakeFiles\cmTC_f4710.dir\testCCompiler.c.obj_ does not exist.

Can you confirm that and run comman

[2020-12-29 02:00] JackBoosY commented on #15302
If you are worried about cmake, please uninstall the manually installed cmake and try again.

[2020-12-29 02:17] JackBoosY commented on #9564
Hi @jon-ryan, can you please update vcpkg and try again? This issue should be fixed.

Thanks.

[2020-12-29 02:27] playgithub commented on #15232
@PhoebeHui

Not yet, I'm very busy now.

[2020-12-29 02:48] NancyLi1013 commented on #15356
Hi @neil3d

Thanks for posting this issue.

Could you please update

` FIND_PACKAGE(TBB REQUIRED tbb)`

as

` FIND_PACKAGE(TBB CONFIG REQUIRED tbb)`?

https://github.com/embree/embree/blob/master/common/tasking/CMakeLists.txt#L13

[2020-12-29 02:48] JackBoosY commented on #15311
@linquize  Do you have build documentation?

[2020-12-29 02:49] NancyLi1013 commented on #15356
Hi @neil3d

Thanks for posting this issue.

Could you please update

` FIND_PACKAGE(TBB REQUIRED tbb)`

as

` FIND_PACKAGE(TBB CONFIG REQUIRED tbb)`?

https://github.com/embree/embree/blob/master/common/tasking/CMakeLists.txt#L13

[2020-12-29 03:05] JackBoosY commented on #15351
@Kwizatz Can you please take a look?

Thanks.

[2020-12-29 03:12] PhoebeHui commented on #15345
@pengguanjun, thanks for sharing the solution. I would recommand to reinstall or repair the windows sdk instead.
Anyway, good to know it works for you.

[2020-12-29 03:12] #15345 closed

[2020-12-29 03:19] JackBoosY commented on #15348
Please ensure your vcpkg is latest, remove `boost-uninstall` and rebuild pcl.

Thanks.

[2020-12-29 03:26] Kwizatz commented on #15351
Until recently you had to install the SDK from its standalone installer:

https://developer.microsoft.com/en-us/windows/downloads/windows-10-sdk/

though that page seems to imply that you can install it from the VS2019 installer.

Try installing the from the standalone SDK (winsdksetup.exe), otherwise, make sure you have installed the x86 version of the SDK and not just the x64 SDK.

[2020-12-29 03:59] BillyONeal opened #15357 "[hdf5] vcpkg's hdf5 should provide hdf5 in a manner CMake's builtin findhdf5.cmake can understand, or use vcpkg_cmake_wrapper.cmake"
CMake 3.19.x comes with an updated FindHDF5 which now provides targets; @ras0219 / @ras0219-msft indicated as part of the review of https://github.com/microsoft/vcpkg/pull/14716 that we should be providing a drop-in compatible interface with cmake's builtins here.

We should make sure we provide a `vcpkg_cmake_wrapper.cmake` which provides all of the variables and targets CMake's builtin FindHDF5.

[2020-12-29 04:17] iuming opened #15358 "[ceres] Build failure on Linux"
Hello,
    When I install ceres, It has occured this error.Please help me!
[code]

[2020-12-29 04:35] kevinlul commented on #15332
[code]
[code]
In my vcpkg downloads there's a copy of Powershell 6.2.1 and Powershell 7.0.3

[2020-12-29 04:39] Fenrirthviti commented on #14902
@strega-nil Just wanted to check in, I should be available pretty much any time at the above alias. Thanks!

[2020-12-29 04:54] Kwizatz commented on #15351
It is working for me with the standalone installer, it may be a problem related to the installation path, GN may be looking at the standalone location and not into the VS location of the files at all, I'll keep that in mind for the next update.

[2020-12-29 05:54] JackBoosY commented on #15332
@kevinlul Does this issue resolved?

[2020-12-29 05:56] kevinlul commented on #15332
It is resolved as I replied on the PR. I just provided the information requested in case it's useful for other reasons 👀

[2020-12-29 06:00] #15332 closed

[2020-12-29 06:04] JackBoosY commented on #15351
@Kwizatz I think this error message should be reported in portfile.cmake instead of failure logs.

[2020-12-29 06:20] JonLiu1993 commented on #15346
@pengguanjun ,it looks something wrong in Visual Studio setup.
1. Do you install English language pack? if not, please installed it and try again see #13051 (comment),
2. If the issue persist, please check if the windows sdk installed, see #12607
3. If it still be an issue for you, could you repair or reinstall VS, and try again?
[code]

[2020-12-29 06:28] JackBoosY commented on #15283
Using CMakeLists:
[code]

Only this warning message was captured:
[code]

This is consistent with the current state: libraw does not depend on `openmp` or `gomp`.

So can you please provide the pkgconfig file _VCPKG_ROOT/packages/libraw/lib/pkgconfig/libraw.pc_ and _VCPKG_ROOT/packages/libraw/lib/pkgconfig/libraw_r.pc_ ?

Thanks.

[2020-12-29 06:45] JonLiu1993 commented on #15330
Duplicate to #9012

[2020-12-29 07:01] amirahathifah commented on #10916
same with me , being blocked by avg

[2020-12-29 07:06] NancyLi1013 commented on #15356
It seems that there are no debug libs generated. But I am not sure if it is related with this.

I can build `embree3 `successfully on my machine.

[2020-12-29 07:14] JackBoosY commented on #15255
@Neumann-A What do you think about?

[2020-12-29 07:36] iuming commented on #15358
I found that there is no lib folder under this directory, but lib64. How can I modify it to install it correctly?
`'/home/liuming/Reconstruction/polatory/vcpkg/packages/ceres_x64-linux/debug/lib/cmake/Ceres'
  does not exist.`

[2020-12-29 07:39] JackBoosY commented on #15358
Test succesfully locally:
[code]

[2020-12-29 07:40] JackBoosY commented on #15358
Please provide your system version and gcc version.

Thanks.

[2020-12-29 07:50] heretic13 commented on #15351
By default, installing VS 2019 with SDK does not provide an SDK with support for "Debugging Tools for Windows".
Manual install / reinstall SDK only. Poorly. I don't know the problem is vcpkg or Visual Studio installer.

[2020-12-29 07:56] JackBoosY commented on #15351
@heretic13 Ahh I see. There is a known issue about Windows SDK:
When there is no administrator authority, the path of the Windows SDK cannot be written to the registry. And there is no prompt message during installation.
So the compiler cannot find it through the registry.

Please download the Windows SDK separately and install it with administrator permission.

[2020-12-29 08:01] iuming commented on #15358
[code]
Thank you Jack, I am sure the vcpkg is the latest!

[2020-12-29 08:13] PhoebeHui commented on #15326
@traversaro, thanks for bringing this up!

I have submitted PR #15360 to fix this issue.

[2020-12-29 08:25] JackBoosY commented on #10113
Since libpq use msvc to build itself, this should be a port bug.

[2020-12-29 08:40] JackBoosY commented on #15358
@iuming Can you provide a list of files in _/home/liuming/Reconstruction/polatory/vcpkg/packages/ceres_x64-linux_?

[2020-12-29 08:41] traversaro commented on #15326
Thanks @PhoebeHui for providing the fix!

[2020-12-29 08:42] heretic13 commented on #15351
If you make Modify SDK, then the SDK installation does not work
![image](https://user-images.githubusercontent.com/11976009/103271277-d1fa5f00-49ca-11eb-997f-228a17333a92.png)
[Windows_Software_Development_Kit___Windows_10.0.19041.1_20201229113731.log](https://github.com/microsoft/vcpkg/files/5750068/Windows_Software_Development_Kit___Windows_10.0.19041.1_20201229113731.log)

[2020-12-29 08:48] JackBoosY commented on #15351
@heretic13 Have you uninstalled all the Windows SDKs installed using the Visual Studio installer?

[2020-12-29 08:56] iuming commented on #15358
@JackBoosY
[code]

[2020-12-29 08:58] JackBoosY commented on #15358
Another new issue about different Linux system versions.

Fine, I will take a look later.

[2020-12-29 09:05] JackBoosY commented on #15358
In _ceres_sources/CMakeLists.txt_ line 195:
[code]
Will fix now.

[2020-12-29 09:09] JonLiu1993 commented on #15349
@sandro97git ,Thanks for posting this issue,I created a project under linux environment to link paho-mqtt, and it was not successful, but your problem did not reproduce. Can you provide the CMakeLists.txt and .CPP files you tested? I want to verify your issue before modifying this issue, thank you,

[2020-12-29 09:14] iuming commented on #15358
@JackBoosY Sorry, I didn't find the `ceres_sources` folder. Is that the `ceres_x64-linux` folder? But I didn't find the `CMakeLists.txt` file here.

[2020-12-29 09:18] heretic13 commented on #15351
No. It was version 10.0.19041.1 installed via VS Installer. I deleted it.

I still have SDK 10.0.17763.0 installed via VS Installer.
There I checked the "Debugging tools for Windows" checkbox.

I cleaned the "buildtrees" folder and removed the previously installed dependency components - icu, zlib.

I ran the build and it failed again.

[generate-x86-windows-static-dbg-err.log](https://github.com/

[2020-12-29 09:25] JackBoosY commented on #15358
@iuming It's _home/usr/work/vcpkg/buildtrees/ceres/src/2.0.0-e041eed1b2.clean_.

[2020-12-29 10:00] PhoebeHui commented on #15351
@heretic13, could you reinstall sdk 10.0.17763.0, and see if the issue persist? Please open x64 Native tools command tool and execute the command: 'set include', could you attach the output here?

[2020-12-29 10:01] mr-c opened #15364 "[simde] update to 0.7.0"
Library name: simde

New version number: 0.7.0

Other information that may be useful (release notes, etc...)

Repository is now https://github.com/simd-everywhere/simde (redirected from https://github.com/nemequ/simde )

Release notes: https://github.com/simd-everywhere/simde/releases/tag/v0.7.0

Thanks!

[2020-12-29 10:35] indifferen commented on #15309
i rerun it one linux.
I think something wrong with mkl, I set the MKLROOT. And then:

-- Building x64-linux-dbg
CMake Error at scripts/cmake/vcpkg_execute_build_process.cmake:145 (message):
    Command failed: /home/xuhuan/vcpkg/downloads/tools/cmake-3.18.4-linux/cmake-3.18.4-Linux-x86_64/bin/cmake --build . --config Debug --target install -- -v -j37

now there is no out.log, i only got vcpkg/buil

[2020-12-29 10:36] FrankHeimes commented on #15317
@JonLiu1993
Thanks again for testing.

I forgot to mention that I changed the library linkage in the `x64-windows.cmake` triplet to `set(VCPKG_LIBRARY_LINKAGE static)`, because I need static libraries with dynamic CRT linkage.

However, if I run `.\vcpkg install --recurse 'opencv4[contrib]:x64-windows-static'` instead _without_ any modification to the `vcpkg` files, the initially reported error oc

[2020-12-29 10:38] irinazheltisheva opened #15367 "«Lt;port name»gt;» сбой сборки"
**Host Environment**
- OS: [e.g. Windows/Linux etc...]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install xxxx`

**Failure logs**
-Cut and past the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

**Additional context**
Add any other context about the problem here, such as what you

[2020-12-29 10:41] Markus87 commented on #15255
On "Problem 4 - wrong libraries are linked":
If it really uses `/usr/bin/ld` it would be the wrong linker.
Tried fix "Problem 2 - clang.exe is not in path" by adding the path just for testing, still looks like it is not using the specified linker `LD='H:/DevTools/android-ndk/toolchains/llvm/prebuilt/windows-x86_64/bin/aarch64-linux-android-ld.exe `

[2020-12-29 11:24] heretic13 commented on #15351
The situation is as follows.
The installation script tries to copy the file "C:\Program Files (x86)\ Windows Kits\10\Debuggers\x86\api-ms-win-downlevel-kernel32-l2-1-0.dll" which is not in sdk 10.0.17763.0 with support for "Debugging tools for Windows".

This file "pi-ms-win-downlevel-kernel32-l2-1-0.dll" appeared only after I downloaded and manually installed SDK 10.0.19041.1 with support for "De

[2020-12-29 11:28] Milerius commented on #15329
I won't do that because I'm using c++20.

[2020-12-29 12:02] heretic13 commented on #15351
Compilation successful!

[2020-12-29 13:03] linquize commented on #15311
https://github.com/GNOME/libxml2/blob/79301d3d5e553d46fc3201f48dcec3a93068c5a2/CMakeLists.txt#L516

Simply build xmllint.c into xmllint executable, and xmlcatalog.c into xmlcatalog executable

[2020-12-29 13:21] Kwizatz commented on #15351
Agreed, current report comes from upstream GN, so not sure how to trap it from the portfile other that running the same check independently from cmake.

[2020-12-29 13:33] michealowen opened #15368 "can't find source file in VS2019"
I use vcpkg successfully build sfml, and i run command ".\vcpkg.exe integrate install". But when i include the headers in my project, the IDE shows "SFML/Window.hpp: No such file or directory".
here is my CMakeLists.txt

[CMakeLists.txt](https://github.com/microsoft/vcpkg/files/5750866/CMakeLists.txt)

I added "SET(CMAKE_TOOLCHAIN_FILE "F:/owen/cpp_workspace/vcpkg/vcpkg-master/scripts/buildsystems

[2020-12-29 13:46] wiedziorek opened #15369 "[openimageio:x86-windows] build failure"
**Host Environment**
- Windows 10 Pro. My machine is using the en-us locale.
- Visual Studio 2019 16.8.3
- Windows SDK 10.0.19041

**To Reproduce**
- Steps to reproduce the behavior:
`.\vcpkg install openimageio[pybind11]`

**Failure logs**
CMake Error at scripts/cmake/vcpkg_execute_build_process.cmake:145 (message):
    Command failed: C:/Users/Kamil/Downloads/vcpkg-master/downloads/tools/cmake-3

[2020-12-29 13:49] pengguanjun commented on #15346
@JonLiu1993
Thanks, I get it, it works good.

[code]
![image](https://user-images.githubusercontent.com/29192658/103288326-9938a500-4a1f-11eb-9b0b-31893cb427d3.png)
![image](https://user-images.githubusercontent.com/29192658/103288339-9f2e8600-4a1f-11eb-8f5f-3b4c0683f925.png)

[2020-12-29 13:59] pengguanjun commented on #15302
Thanks, I get it, it works good.

[more details](https://github.com/microsoft/vcpkg/issues/15346)

[code]

[2020-12-29 14:07] pengguanjun opened #15370 "Failed to download file | boost-math:x64-windows"
Host Environment

[code]
To Reproduce
Steps to reproduce the behavior:
`.\vcpkg.exe install boost-math:x64-windows`

I don't know how to act this:
` If you use a proxy, please set the HTTPS_PROXY and HTTP_PROXY environment`

[code]

[2020-12-29 14:19] longnguyen2004 commented on #15329
Maybe b2 was expecting gcc instead of clang, if adding the flag works then we might need to tweak the argument to `bootstrap.sh`.

[2020-12-29 14:47] sandro97git commented on #15349
[code]
[code]

[2020-12-29 16:47] strega-nil commented on #14902
@Fenrirthviti sorry, it's been christmas in the US, so I've been out of the office with my family 😄

I'll ping you in the new year if that's okay?

[2020-12-29 18:01] narasimhan11102 commented on #7367
![image](https://user-images.githubusercontent.com/76741184/103304065-a197dc80-4a2d-11eb-800c-283ba0cf6fe8.png)
Hi @Const-me
When I run the bootstrap command I get this error but I have already installed VS code. Can you please help me in resolving this issue?

[2020-12-29 18:07] narasimhan11102 commented on #10406
@NancyLi1013
Hello,
When I try to run the bootstrap command in cmd I get an error stating that VS has not been installed, but I have already installed VS CODE earlier
![image](https://user-images.githubusercontent.com/76741184/103304501-cd679200-4a2e-11eb-8c7c-e41a63e59a54.png)

[2020-12-29 18:22] narasimhan11102 commented on #11222
When I try to run the bootstrap command in cmd I get an error stating that VS has not been installed, but I have already installed VS CODE earlier
image
Can u please help me resolve this issue!
![image](https://user-images.githubusercontent.com/76741184/103305319-d3f70900-4a30-11eb-92b1-999698dbf401.png)

[2020-12-29 18:24] narasimhan11102 commented on #4079
@PhoebeHui
When I try to run the bootstrap command in cmd I get an error stating that VS has not been installed, but I have already installed VS CODE earlier

Can u please help me resolve this issue!
![image](https://user-images.githubusercontent.com/76741184/103305476-3d771780-4a31-11eb-887a-1d150e1c5c68.png)

[2020-12-29 18:28] Fenrirthviti commented on #14902
No worries at all, speak then!

[2020-12-29 18:38] vicroms commented on #7367
@narasimhan11102

You need to install the Visual Studio C++ compiler.
Visual Studio and Visual Studio Code are different products.

[2020-12-29 19:15] Nikmeh922 commented on #4663
Thank you. This helped a lot!!!

[2020-12-29 19:20] parsa commented on #4663
This issue has been long solved for me, and I don't think the follow-ups describe the same issue. If my opinion as the person who opened this issue counts, this issue can be closed.

[2020-12-29 20:38] soufianekhiat commented on #15347
It's not seem to be an UI Bug but he really load the wrong API.
Until I switch with the UI to "No".

Tested with Halide builded by myself vs the one from vcpkg (older version).
With:
[code]
Visual Studio still use the version from vcpkg.

[2020-12-29 20:49] baarmaley opened #15376 "Prefab export: invalid Java package name"
**Describe the bug**
if the name package contains a '-' character (eg "boost-endian") then the generated package name will be wrong in AndroidManifest.xml

[code]

https://docs.oracle.com/javase/tutorial/java/package/namingpkgs.html

**Environment**

- OS: Ubuntu 20.04.1 LTS
- Compiler: gcc 9.3.0

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install boost-endian:arm-android boost-e

[2020-12-29 20:57] BillyONeal opened #15377 "[antlr4,python3] Conflicting ports"
Repro:

[code]

results in output like:

[code]

This is why the python3 port currently fails in our ci.

This is because Python wants to use a header named "token.h", and Antlr installs a Token.h. I got a preprocessed python file from both environments and diffed them to get this result; the broken build is on the left and the working one is on the right:

![image](https://user-images.githubuserc

[2020-12-29 21:00] BillyONeal commented on #15377
This regression was probably caused by building the python interpreter added in https://github.com/microsoft/vcpkg/pull/14891 ; the right fix is probably to patch Python's build scripts to put its own include directories in front of vcpkg's include directories.

[2020-12-29 21:13] Hoikas commented on #15377
In the python3 port, the python_vcpkg.props.in file is used to massage the python build system into something we can use. It currently has this snippet:
[code]

Would inverting that to:
[code]

be sufficient? I'm not certain what the fully expanded value of `AdditionalIncludeDirectories` is. :/

[2020-12-29 21:17] BillyONeal commented on #15377
@Hoikas Yes, that's what I landed on. (I first tried adding PySrcDir\Include in front but after seeing that we never hydrate PySrcDir\externals decided that was a better fix)

[2020-12-29 21:21] Hoikas commented on #15377
Right, I discovered as part of #14891 that the vendored dependencies (and worse, the in-repo vendored dependencies) caused non-determinant failures similar to this one. Thanks for sniffing this out!

[2020-12-29 21:22] BillyONeal commented on #15377
@Hoikas What vendored dependencies? As far as I can tell they're all supposed to come from $/externals but we never hydrate that.

[2020-12-29 21:26] Hoikas commented on #15377
Python has an in-repo copy of zlib and expat, but that's all untangled by the patches.

[2020-12-29 23:49] dulsi opened #15380 "[New Port Request] LibGamerzilla"
Library name: libgamerzilla

Library description:
Gamerzilla is trophy/achievement system for games. It integrates with a
hubzilla plugin to display your results online. Games can either connect
directly to hubzilla or connect to a game launcher with using this
library.

Source repository URL: https://github.com/dulsi/libgamerzilla

Project homepage (if different from the source repository): http:

[2020-12-29 23:59] #15132 closed

[2020-12-30 00:03] #14835 closed

[2020-12-30 00:07] #13955 closed

[2020-12-30 00:08] #15318 closed

[2020-12-30 00:09] #15350 closed

[2020-12-30 00:09] BillyONeal opened #15381 "vcpkg federation stabilization"
Currently we make concurrent edits to the tool, to scripts, and to the ports tree, but as we do federation, we lose the ability to make such edits. We need to arrive at a solution to allow us to detect problematic behavior, and potentially make improvements to the portfile authoring experience.

This issue contains a list of potential changes we would want to make; we'll revisit this issue when de

[2020-12-30 00:10] BillyONeal commented on #15381
/cc @strega-nil @vicroms @ras0219 @ras0219-msft

[2020-12-30 00:34] #15377 closed

[2020-12-30 01:00] JackBoosY commented on #15367
Invalid issue.

[2020-12-30 01:00] #15367 closed

[2020-12-30 01:32] #15346 closed

[2020-12-30 01:42] NancyLi1013 commented on #11222
@narasimhan11102

Currently, vcpkg only supports Visual Studio. So you need to install Visual Studio instead of Visual Studio Code.

Also we recommend to use powershell instead of cmd to build vcpkg.

So could you please install Visual Studio with English package to try this again?

[2020-12-30 01:43] NancyLi1013 commented on #10406
@narasimhan11102

Please see the comments here https://github.com/microsoft/vcpkg/issues/11222#issuecomment-752298079.

Thanks.

[2020-12-30 02:02] tihohod opened #15382 "expat build failure"
**Host Environment**
- OS: [Windows]
- Compiler: Visual Studio 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install expat`

**Failure logs**
D:\HLDI_new\Watson\vcpkg>vcpkg owns expat
 expat:x64-windows-static: x64-windows-static/debug/lib/libexpatdMD.lib
 expat:x64-windows-static: x64-windows-static/lib/libexpatMD.lib

**Additional context**
Tried to use expat in my project, bu

[2020-12-30 02:02] JackBoosY commented on #15351
@Kwizatz Example:
https://github.com/microsoft/vcpkg/blob/b7c476bade673002cac838043b29c40bb46e1b85/ports/winsock2/portfile.cmake#L1-L11

[2020-12-30 02:12] Kwizatz commented on #15351
@JackBoosY Thanks, that helps.

[2020-12-30 02:18] #15302 closed

[2020-12-30 02:24] PhoebeHui commented on #4079
@narasimhan11102, looks you have got the answer from PR https://github.com/microsoft/vcpkg/issues/11222. I recommand to report a new issue instead if you have other issue again, since we may miss the thread which in a closed issue.

[2020-12-30 02:29] iuming commented on #15358
@JackBoosY Sorry, this problem occurred after pulling your updated content.
[code]

[2020-12-30 02:37] PhoebeHui commented on #15370
@pengguanjun, If you use a proxy, please set the HTTPS_PROXY and HTTP_PROXY environment variables to "https://user:password@your-proxy-ip-address:port/"

http://cmake.3232098.n2.nabble.com/ExternalProject-Add-and-proxy-td7591815.html

[2020-12-30 02:41] JackBoosY commented on #15358
@iuming  You should clone my repo https://github.com/JackBoosY/vcpkg.git
switch to my branch `dev/jack/15358` and try again.

[2020-12-30 02:42] PhoebeHui commented on #15339
@Zingam, please reopen this issue if it still be a question for you.

[2020-12-30 02:42] #15339 closed

[2020-12-30 03:21] NancyLi1013 commented on #15368
Hi @michealowen

Thanks for posting this issue.

Could you please try to update the usage of  `sfml `as follows and then rebuild your project?

[code]

[2020-12-30 04:02] iuming commented on #15358
@JackBoosY I'm clone your repo, but it has this issue.
[code]

[2020-12-30 04:32] narasimhan11102 commented on #11222
But then how do I get the libraries for visual studio code ?

[2020-12-30 05:05] celadaris commented on #15333
I was able to get it running from building the source code in [this](https://youtu.be/5Hi24WnbU-s) helpful guide! It's a long process so if you could get vcpkg to work for ogre it would be cool but I'll be able to work on it on the meantime, so no rush! :)

[2020-12-30 05:22] Math1021 commented on #13914
I met the same mistake，and this is my failure logs:

[1203/3685] cmd.exe /C "D:\Softwares\Libs\vcpkg\downloads\tools\msys2\1b7461e9cb3487d1\mingw64\bin\gfortran.exe -cpp -Dlapack_EXPORTS  -mabi=ms -m64 -g -JSRC -E D:/Softwares/Libs/vcpkg/buildtrees/lapack-reference/src/v3.8.0-954f10683f.clean/SRC/cpteqr.f -o SRC/CMakeFiles/lapack.dir/cpteqr.f-pp.f && D:\Softwares\Libs\vcpkg\downloads\tools\cmake-3

[2020-12-30 05:36] JackBoosY commented on #15358
@iuming Can you please provide _/home/liuming/vcpkg/buildtrees/ceres/install-x64-linux-dbg-out.log_?

[2020-12-30 05:50] JackBoosY commented on #15382
I think it's just the library name wrong.

[2020-12-30 05:53] JackBoosY commented on #15382
vcpkg will automatically detect the CRT linkage of the library after the build, so you don’t need to worry about that.

[2020-12-30 05:54] JackBoosY commented on #15376
Lack of android knowledge, @vicroms can you please take a look?

Thanks.

[2020-12-30 06:04] PhoebeHui commented on #15232
@playgithub, I have submitted PR #https://github.com/microsoft/vcpkg/pull/15385 to fix this issue.

[2020-12-30 06:09] JackBoosY commented on #15369
Can you please provide your Visual Studio version (16.*.*)?

[2020-12-30 06:14] PhoebeHui commented on #13914
@Math1021, please report a new issue with full failure log instead.

[2020-12-30 06:15] JonLiu1993 commented on #15309
@indifferen ,You can reinstall the latest version of MKL in the windows environment by following the steps below：

1. You need to register/subscribe on the website, download and install Intel MKL, and then install it in vcpkg
![image](https://user-images.githubusercontent.com/63675417/103333493-152aff80-4aa9-11eb-9908-c76141f9fc10.png)

2. Register and log in
![image](https://user-images.githubuse

[2020-12-30 06:15] iuming commented on #15358
@JackBoosY thanks！
[install-x64-linux-dbg-out.log](https://github.com/microsoft/vcpkg/files/5753200/install-x64-linux-dbg-out.log)

[2020-12-30 06:22] PhoebeHui commented on #10410
@soroush-rabiei, please reopen this issue if the issue persist.

[2020-12-30 06:22] #10410 closed

[2020-12-30 06:27] PhoebeHui commented on #11667
@Nelarius, Could you try to remove the python localy, and use the one that vcpkg download instead? and see if the issue persist?

[2020-12-30 06:27] JackBoosY commented on #15358
[code]
Killed by some other programs?

[2020-12-30 06:32] #15309 closed

[2020-12-30 06:34] NancyLi1013 commented on #15320
Hi @Kicer86

For exiv2.pc, it is a port bug for `exiv2`. we can add `vcpkg_fixup_pkgconfig()` to fix the path.

For libcharset.la and libiconv.la, it should be a port bug for `libiconv`. I'm investigating how to fix it now.

[2020-12-30 06:45] PhoebeHui commented on #12204
@acceleratxr, please reopen this issue if it still be a problem for you.

[2020-12-30 06:45] #12204 closed

[2020-12-30 06:46] PhoebeHui commented on #13096
@jiri-otoupal, please reopen this issue if it still be a problem for you.

[2020-12-30 06:46] #13096 closed

[2020-12-30 06:53] iuming commented on #15358
It has not been shut down by other programs. I have tried several times. After restarting, the same error will still occur if I only run this command.

[2020-12-30 06:55] michealowen commented on #15368
I added "target_link_libraries(SimpleNES sfml-window sfml-graphics sfml-audio)" and now it worked. Thanks for your advice.

[2020-12-30 06:57] JackBoosY commented on #15358
Out of memory? I guess.

[2020-12-30 07:01] JackBoosY commented on #15369
Confirmed.

[2020-12-30 07:12] PhoebeHui commented on #10612
@christophe-calmejane, Sorry for my late response.

This is mostly like a Upstream issue, vcpkg only execute bootstrap.sh, see https://github.com/microsoft/vcpkg/blob/master/ports/boost-build/portfile.cmake#L63, without setting any additional flags on osx, could you report an issue to boost build instead?

[2020-12-30 07:14] NancyLi1013 commented on #15368
Since this issue has been solved, I'm closing this issue for now.

[2020-12-30 07:14] #15368 closed

[2020-12-30 07:21] NancyLi1013 commented on #15279
@mikepricedev

Please let me know if the above suggestion can work for you.

[2020-12-30 07:25] NancyLi1013 commented on #14709
I think @strega-nil has answered the question. Closing this issue for now.

[2020-12-30 07:25] #14709 closed

[2020-12-30 07:40] JackBoosY commented on #15369
This should be a upstream bug.
The definition of `copysign` conflicts with the definition in the Windows SDK ucrt component (_ucrt\corecrt_math.h_).

[2020-12-30 07:42] NancyLi1013 commented on #13898
Closing this issue for no response. Please feel free to reopen this if it is still a problem for you.

[2020-12-30 07:42] #13898 closed

[2020-12-30 07:45] NancyLi1013 commented on #13344
Hi @deleeuwict

Could you please try to update to the latest vcpkg and rebuild this port?

[2020-12-30 07:46] NancyLi1013 commented on #13171
@junho103 Please feel feel to reopen this issue if it is still a problem for you.

[2020-12-30 07:46] #13171 closed

[2020-12-30 07:48] FrankHeimes commented on #15317
I found that the modules `opencv_text`, `opencv_datasets`, `opencv_tracking`, and `opencv_stereo` are all affected by the `lz4` dependency problem.

So after adding `-DBUILD_opencv_text=OFF -DBUILD_opencv_datasets=OFF -DBUILD_opencv_tracking=OFF -DBUILD_opencv_stereo=OFF` to `ports\opencv4\portfile.cmake`, the configuration `opencv4[contrib]:x64-windows-static` builds without errors, too.

[2020-12-30 07:49] NancyLi1013 commented on #9936
@krishna116

Please feel free to reopen this issue if it is still a problem for you.

[2020-12-30 07:49] #9936 closed

[2020-12-30 07:51] gsegria opened #15386 "msvcp140、vcruntime140"
I develop windows tool with vs2019 and vcpkg on my desktop A. (build using a  Static Library and MT to generate tool.exe)
When i execute tool.exe is no problem no my desktop A.
But i execute tool.exe on desktop B , tool.exe cannot work and show msvcp140.dll, vcruntime140.dll...
The desktop A has install vs2019.
The desktop B doesn't install vs2019.

I don't install vs2019 or MS dll package on desk

[2020-12-30 07:51] NancyLi1013 commented on #13029
@BengtGustafsson

Please feel free to reopen this issue if it is still a problem for you.

[2020-12-30 07:51] #13029 closed

[2020-12-30 07:54] JonLiu1993 commented on #15317
cc @JackBoosY ,Please take a look

[2020-12-30 07:57] JackBoosY commented on #15369
Python officially fixed this issuein https://github.com/python/cpython/commit/9cc9e277254023c0ca08e1a9e379fd89475ca9c2 by removing the macro definition `copysign`.

[2020-12-30 08:04] JackBoosY commented on #15386
cc @vicroms

[2020-12-30 08:08] NancyLi1013 commented on #10480
Sorry for the long delay.

It seems that the original issue has been solved.
Please open a new issue if you have other concerns @Darkcacok.

[2020-12-30 08:08] #10480 closed

[2020-12-30 08:08] Zingam commented on #15339
@PhoebeHui If this is a "deprecated" feature/port in VCPKG is it possible to mark it as such or hint the user to use an up-to-date method. The current method seems to be to install a NuGet package but that's not trivial with CMake. There is a feature in CMake to install NuGet packages but MSBuild doesn't support anything but C# so it doesn't work for C++.
https://cmake.org/cmake/help/latest/prop_t

[2020-12-30 08:27] JackBoosY commented on #15317
@FrankHeimes
1. You should use community triplet `x64-windows-static-md` instead.
2. Feture `contrib` depends on `tesseract`, `tesseract` depends on `libarchive`, and `libarchive` depends on `lz4`.
3. We need to find out who introduced the target `lz4::lz4`, its cmake configuration file must be missing `find_dependency(lz4)`.

[2020-12-30 08:28] NancyLi1013 commented on #10958
@R-Maggio

Please help confirm if this is still a problem for you after trying the above advice.

[2020-12-30 08:44] NancyLi1013 commented on #11054
Sorry for the long delay.

@Amine74

Could you please try to update vcpkg to the latest version to rebuild?  Please also try to build this on another disk.

[2020-12-30 08:46] NancyLi1013 commented on #15320
@Neumann-A

Could you please help take a look the path issue in `libiconv`?

Currently, libcharset.la and libiconv.la contains absolute path.

[2020-12-30 09:01] JackBoosY commented on #15311
Since libxml2 officially added cmake support this year, I will update it after the next new version is released.

But now, we can completely modify our CMakeLists according to the official CMakeLists.txt.

[2020-12-30 09:05] wiedziorek commented on #15369
Hi JackBoosY, thank you for your reply :)

I am using:
Visual Studio 2019 16.8.3
Windows SDK 10.0.19041

[2020-12-30 09:15] SuperWig opened #15388 "[New Port Request] raylib-cpp"
Library name:
raylib-cpp

Library description:
C++ wrapper library for raylib. Provides object-oriented wrappers around raylib's struct interfaces

Source repository URL:
https://github.com/robloach/raylib-cpp

[2020-12-30 09:19] FrankHeimes commented on #15317
@JackBoosY Thanks for the hint! That triplet didn't exist last time I checked.

[2020-12-30 10:19] deleeuwict commented on #13344
Hi,

Could you tell me the procedure of upgrading vckpkg without losing my installation?

[2020-12-30 11:04] ALittleDruid opened #15391 "tensorflow with cmake target_link_libraries error"
tensorflow build success

use tensorflow with cmake project
    find_package(tensorflow CONFIG REQUIRED)
    target_link_libraries(CMakeConsole PRIVATE tensorflow::tensorflow)

configure error

cmake message is

1> [CMake] -- Configuring done
1> [CMake] CMake Error in CMakeConsole/CMakeLists.txt:
1> [CMake]   Imported target "tensorflow::tensorflow" includes non-existent path
1> [CMake]
1> [CMake]

[2020-12-30 11:18] ccaza opened #15392 "mingw64 build error"
My compile toochan is mysy2 mingw64 .

# config cmake .
   cd toolsrc && cmake -G "MinGW Makefiles" -B build  -S .  -DCMAKE_BUILD_TYPE=Release
# build vcpkg
   cmake --build build

# get some  errors :
     .......
     ../include/vcpkg/base/files.h:49:17: note:   candidate expects 1 argument, 2 provided

# fix it at file src/vcpkg/commands.edit.cpp

 bfore  - line 212 :   candidate_paths.push_bac

[2020-12-30 11:38] jon-ryan commented on #9564
@JackBoosY Yes, this issue is fixed. Thank you.

[2020-12-30 12:06] traversaro commented on #15333
Hi @celadaris ! How are you consuming OGRE? When OGRE is used from a project with a CMake build system, if I recall correctly the `OGRE` include directories are passed to the compiler, so the `#include "OgreAnimation.h"` works fine.

[2020-12-30 12:10] ALittleDruid commented on #15391
tensorflow-cc has same issues
1> [CMake] -- Configuring done
1> [CMake] CMake Error in CMakeConsole/CMakeLists.txt:
1> [CMake]   Imported target "tensorflow_cc::tensorflow_cc" includes non-existent path
1> [CMake]
1> [CMake]     "/x64-windows/include/tensorflow-external"
1> [CMake]
1> [CMake]   in its INTERFACE_INCLUDE_DIRECTORIES.  Possible reasons include:
1> [CMake]
1> [CMake]   * The path was

[2020-12-30 13:04] Markus87 commented on #15255
Just to make sure that it is even possible to build libraries for android using msys2 I installed it and tried to build gettext.
Using the basic example from: https://developer.android.com/ndk/guides/other_build_systems
[code]

It seems to work, but I overlooked the dependency to iconv, so it´s failing for that reason:
[code]
So a port without any additional dependencies will be better to try to g

[2020-12-30 13:40] lovely-error commented on #15199
Yeah, the first thing I tried is bold `vcpkg search + vcpkg install`, and indeed the desired package has been found, but my installation diverges from your example right here ...

The only thing I see is `zsh: no matches found: llvm[mlir]`. I am on osx 10.15.6(Catalina).
Hope this brings more context.

[2020-12-30 13:42] lovely-error commented on #15199
Oh, nevermind. This one explains a lot!
https://github.com/microsoft/vcpkg/issues/9000

[2020-12-30 13:42] #15199 closed

[2020-12-30 14:49] pengguanjun commented on #15370
@PhoebeHui
Thx, I use win system only, maybe I will try your method in linux of cloud server.
I solved it in this way:
I got the file name in dir of C:\vcpkg\downloads\temp, and downloaded it by web to https://github.com/boostorg/math/archive/boost-1.75.0.tar.gz.
And I tried to rename pkgs manually. After rename step, I replaced it in dir of C:\vcpkg\downloads.
It worked, but silly and slow.

[2020-12-30 15:51] vicroms commented on #15386
Hi @gsegria

You need those files in your second computer because you're linking the CRT runtime dynamically in your program. The `x86-windows` and `x64-windows` triplets do that by default.

Those files are part of the **VC++ 2015 Redistributable** package; and are absolutely needed to run your program. But, you don't need to install the complete Visual Studio in your second computer to get them.

[2020-12-30 16:00] wirusoal commented on #15370
The same problem occurs when loading this link through a browser. The download is interrupted.

[2020-12-30 18:12] Olernov opened #15395 "[libarchive] build failure"
**Host Environment**
- OS: Windows 10 Home
- Compiler: MS Visual Studio Platform Toolset v120

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install libarchive:x86-windows-v120`

**Failure logs**
[code]
**Additional context**
[CMakeError.log](https://github.com/microsoft/vcpkg/files/5755204/CMakeError.log)
[install-x86-windows-v120-dbg-out.log](https://github.com/microsoft/vcpkg/files

[2020-12-30 18:39] #15326 closed

[2020-12-30 18:40] #10113 closed

[2020-12-30 18:41] #15216 closed

[2020-12-30 18:42] #15208 closed

[2020-12-30 18:43] #15364 closed

[2020-12-30 19:38] R-Maggio commented on #10958
@JChatillon, @NancyLi1013

Thanks, it also worked for me.

[2020-12-30 20:51] mikepricedev commented on #15279
@NancyLi1013
Thank you so much for taking a look.  Before I go further I realized I am making an assumption that I haven't found any specific documentation.  Does vcpkg support projects use vcpkg.json that have submodules that also use vcpkg.json?  I'm using the following technique to add my submodules to my root project's CMakeLists.txt.
[code]

In my case, Frozen is a dep of the `sub_project` ma

[2020-12-30 21:51] BillyONeal commented on #15339
@Zingam The current method is to install a current Windows SDK, not a NuGet package. It normally comes with your compiler https://developer.microsoft.com/en-US/windows/downloads/windows-10-sdk/

[2020-12-30 22:10] Neumann-A commented on #15320
@NancyLi1013 those files are generated and used by libtool. I have not yet figured out a way to make them relativ but i also have not found a dependency/consumer on those files yet to even test making them relative. As such just leave them be until somebody comes up with an issue/testcase concerning the consumption on those files.

[2020-12-30 23:38] Spejik opened #15397 "[Brotli] build failure"
**Host Environment**
- OS: Debian 10
- Compiler: Probably gcc or g++

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install pngwriter`

**Failure logs**
-Cut and paste the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.
https://pastebin.com/Fe8Jx7V2

**Additional context**
Add any other context about the p

[2020-12-31 01:09] otavio commented on #15024
We fixed this doing dynamic linking. I am closing this issue as I am not affected by this anymore and seems too specific.

Thanks for all the help @NancyLi1013

[2020-12-31 01:09] #15024 closed

[2020-12-31 01:13] walterdelavega opened #15399 "Error: Building package protobuf:x64-windows failed with: BUILD_FAILED"
I can´t install opencv using vcpkg, i have this message:
Building package protobuf:x64-windows failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `.\vcpkg update`, then
submit an issue at https://github.com/Microsoft/vcpkg/issues including:
  Package: protobuf:x64-windows
  Vcpkg version: 2020.02.04-nohash-external

Thanks for your help!

[2020-12-31 01:19] JackBoosY commented on #15399
More information please?
Can you provide the failure logs?

[2020-12-31 01:35] Hoikas commented on #15397
[code]

[2020-12-31 01:54] walterdelavega commented on #15399
Thanks for your answerer, this is error log:
CMake Error at scripts/cmake/vcpkg_execute_build_process.cmake:136 (message):
    Command failed: C:/Users/walte/OneDrive/Documents/c++/visualStudio_projectsVega/libc_vega/instaladorBibiotecas/vcpkg-master/downloads/tools/cmake-3.14.0-windows/cmake-3.14.0-win32-x86/bin/cmake.exe --build . --config Debug --target install -- -v
    Working Directory: C:/U

[2020-12-31 02:04] PhoebeHui commented on #15316
@linquize, thanks for reporting this issue! the PR has been merged. Please get latest source and try again.

[2020-12-31 02:04] #15316 closed

[2020-12-31 02:25] #9564 closed

[2020-12-31 02:39] JackBoosY commented on #15399
_C:\Users\walte\OneDrive\Documents\c++\visualStudio_projectsVega\libc_vega\instaladorBibiotecas\vcpkg-master\buildtrees\x64-windows-dbg\CMakeFiles/libprotobuf-lite.dir/C_/Users/walte/OneDrive/Documents/c++/visualStudio_projectsVega/libc_vega/instaladorBibiotecas_
The path is too long, pleaes clone vcpkg in root dir.

[2020-12-31 02:50] NancyLi1013 commented on #15333
@traversaro

Thanks for your focus on this issue.

I also tried to build the project on my local. If I used `#include "OgreAnimation.h"`, which can be compiled successfully.

But if I used #include "OGRE/OgreAnimation.h", which posted C1083 error.

To my confusion, all the headers are installed to _include/OGRE/_ folder and the include path also points to _include/OGRE_ in OGREConfig.cmake:

`get_

[2020-12-31 02:55] NancyLi1013 commented on #15320
@Neumann-A

Thank you so much for your investigation and above details. I also have no idea about the path problem now.

@Kicer86

Could you please help describe what the specific problem when you use these files?

[2020-12-31 03:06] walterdelavega commented on #15399
Thank you so much, i will try, i just installed in the c:\ file program\opencv
nthen i was setting visual studio, now it are working good, but i am not sure if it is this correct way, for build my project in c++, using visual studio, because i need use opencv library for use in c++.

clone vcpkg in root dir. you mind, i need clone in C:\program Files?
Thank you so much!

[2020-12-31 03:08] celadaris commented on #15333
i'm going to re-install it and try and provide better details soon...

[2020-12-31 03:10] NancyLi1013 commented on #15397
Hi @Spejik

Thanks for posting this issue.

Could you please try to install pkg-config via `sudo apt-get install pkg-config` and rebuild this port?

@Hoikas

Thanks for your help.

[2020-12-31 04:22] celadaris commented on #15333
perhaps i gave a bad example by specifically mentioning `#include "OgreAnimation.h"` but i have multiple other header files that cannot be opened when trying to use ogre in a very simple manner (which is what is shown in the video). But then after i recorded, i try to manually fix the header files and then more header files show up as errors... the code I've written up is supposed to simply open a

[2020-12-31 05:47] JackBoosY commented on #15399
@walterdelavega Please do not use the path contains empty space, because although vcpkg supports paths with spaces, some ports do not. And don't clone vcpkg in a path that contains non-ascii codes for the same reason as above.

[2020-12-31 06:27] JackBoosY commented on #15369
The upstream is trying to fix this issue now.

[2020-12-31 06:37] #14836 closed

[2020-12-31 06:41] #15232 closed

[2020-12-31 06:41] noam-c commented on #15335
@JackBoosY Is the cause the same for the other libraries? I'm unable to install even without opus (i.e. just `sdl2-mixer[mpg123]`). I get some of the same linker errors shown in your log.

[code]

[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/5756609/install-x64-windows-dbg-out.log)

I'm reproing this issue on Windows 8.1, on commit 5c262f63ec509a733dd67db71c0959e8842e

[2020-12-31 06:45] NancyLi1013 commented on #15333
Hi @celadaris

Thanks for your test and the video.

Have you tried to update the headers like this?

[code]

[2020-12-31 06:46] gsegria commented on #15386
Yes, I don't want to distribute or install any kind of DLL with my application.
vcpkg , how to configuration and build x86-windows-static or x64-windows-static , after link to my project with static lib?

[2020-12-31 06:51] celadaris commented on #15333
yes, here is a pic..
in the meantime I tried running `./vcpkg install ogre:x64-windows` and no luck with that either

![Capture](https://user-images.githubusercontent.com/12479149/103398357-fd339a00-4b01-11eb-9caa-06d83c8a82be.PNG)

[2020-12-31 06:59] NancyLi1013 commented on #15333
It's so weird. I can build successfully if I included the headers without `OGRE`.

[2020-12-31 07:01] PhoebeHui commented on #14700
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-12-31 07:01] #14700 closed

[2020-12-31 07:01] PhoebeHui commented on #14701
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-12-31 07:01] #14701 closed

[2020-12-31 07:02] PhoebeHui commented on #14725
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-12-31 07:02] #14725 closed

[2020-12-31 07:02] PhoebeHui commented on #14742
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-12-31 07:02] #14742 closed

[2020-12-31 07:02] PhoebeHui commented on #14604
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-12-31 07:02] #14604 closed

[2020-12-31 07:06] celadaris commented on #15333
it's okay, thanks for your time! i have notifications turned on so I'll be around.

[2020-12-31 07:14] PhoebeHui commented on #14513
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-12-31 07:14] #14513 closed

[2020-12-31 07:15] JackBoosY commented on #15335
@noam-c Same issue, but only related to sdl2-mixer, not sdl2.

[2020-12-31 07:22] PhoebeHui commented on #14015
Related to https://github.com/microsoft/vcpkg/issues/15011

[2020-12-31 07:27] PhoebeHui commented on #15205
Related to https://github.com/microsoft/vcpkg/issues/15011

[2020-12-31 07:33] PhoebeHui commented on #13216
@MicSm, this issue has been fixed, please get latest source and try again.

[2020-12-31 07:33] #13216 closed

[2020-12-31 07:37] PhoebeHui commented on #15012
Duplicated to issue https://github.com/microsoft/vcpkg/issues/14015.

[2020-12-31 07:37] #15012 closed

[2020-12-31 07:56] PhoebeHui commented on #14757
@WilliamZkl, please reopen this issue if it still be a problem for you.

[2020-12-31 07:56] #14757 closed

[2020-12-31 07:57] shauser67 commented on #15011
It looks like you are trying to compile Irrlicht/COpenGLDriver.cpp with a C++ compiler, but you have to use an ObjC compiler instead:

[Getting error while using ObjC class include in .cpp file (unqualified-id @class)](https://stackoverflow.com/questions/46001065/getting-error-while-using-objc-class-include-in-cpp-file-unqualified-id-class)
[
iOS build error: expected unqualified-id @class NSStrin

[2020-12-31 07:58] NancyLi1013 commented on #15211
@chuyanjuncn Please feel free to reopen this issue if it is still a problem for you.

[2020-12-31 07:58] #15211 closed

[2020-12-31 08:13] JackBoosY commented on #7385
Sorry for late.
Should be same issue with #15358. Can you please try my changes?

Thanks.

[2020-12-31 08:13] PhoebeHui commented on #15096
You can also reference https://github.com/microsoft/vcpkg/issues/15309#issuecomment-752341675.

[2020-12-31 08:13] #15096 closed

[2020-12-31 08:17] JackBoosY commented on #15392
I think anyway, you have to use `bootstrap-vcpkg` script to build vcpkg instead of calling CMakeLists.txt in _toolsrc_ directly.

[2020-12-31 08:22] PhoebeHui commented on #15074
@innovativebureau, does this still be a problem for you? Have you try the solution that StarGate-One provided?

[2020-12-31 08:27] NancyLi1013 commented on #15205
Seems `assimp `is optional dependency of ogre. we can disable it via this option `OGRE_BUILD_PLUGIN_ASSIMP`.

I will try to fix it soon.

[2020-12-31 10:15] Suryavarman commented on #15205
[Macosx 10.15][Clang 12]
I have build Ogre with this CMake options:
[code]

[2020-12-31 11:04] jjYBdx4IL opened #15403 "[wxWidgets] non-static builds are missing regex and scintilla .lib"
**Host Environment**
- OS: win10 amd64
- Compiler: latest MSVC 2019

**To Reproduce**
Steps to reproduce the behavior:
any non-static x64/x86 install

**Failure logs**
<pre>
$ cd vcpkg/installed
$ find . -wholename '*lib*regex*'
./x64-windows-static/debug/lib/wxregexud.lib
./x64-windows-static/lib/wxregexu.lib
./x86-windows-static/debug/lib/wxregexud.lib
./x86-windows-static/lib/wxregexu.lib

$ fi

[2020-12-31 12:30] ALittleDruid commented on #15399
clone vcpkg in C:\vcpkg

[2020-12-31 15:42] Kicer86 commented on #15320
@NancyLi1013 frankly speaking I just found it invalid but it is not an issue for me. I guess pkg-config would complain but I did not test it.

So I believe @Neumann-A is right here

[2020-12-31 15:54] Spejik commented on #15397
@NancyLi1013 Oh, I didn't notice that. I installed it and now it works. Thanks

[2020-12-31 15:54] #15397 closed

[2020-12-31 17:20] celadaris commented on #15333
I also should have mentioned that on the build i did with cmake from the source code, it also works without `OGRE` the pic i provided earlier was using vcpkg.

[2020-12-31 19:05] #10827 closed

[2020-12-31 19:05] #15239 closed

[2020-12-31 21:28] Hoikas commented on #15386
If you absolutely need dynamic CRT but cannot install the runtime package on the user's machine, try [InstallRequiredSystemLibraries](https://cmake.org/cmake/help/latest/module/InstallRequiredSystemLibraries.html).

[2020-12-31 23:03] BillyONeal commented on #15122
After some discussion we decided that it would be OK to add PR validation / testing / etc. for this if someone wants to make the initial edits to `ci.baseline.txt` etc. and add the triplet in our build scripts at `$/scripts/azure-pipelines`, we would accept such a PR.

However, we will nonetheless leave the triplet in community status because we are still strongly recommending against shipping wit

[2021-01-01 01:49] tihohod opened #15405 "How do I properly link iconv library to my project."
I am trying to build my project on windows with msvc using the iconv library from the vcpkg repository. I found that both debug and release configurations of my program has the debug version of this library in their linker input lists. I looked at the value of the Iconv_LIBRARY variable returned from find_package. It contains only one path - to the debug version of the iconv library:

find_package

[2021-01-01 03:20] draveness opened #15406 "prometheus-cpp update to v0.11.0"
Library name: prometheus-cpp

New version number: v0.11.0

Other information that may be useful (release notes, etc...)

https://github.com/jupp0r/prometheus-cpp

[2021-01-01 04:24] ArcticLampyrid commented on #11177
Actually I prefer to fetch config from a remote url provided by package author.
Since vcpkg are actually distributed (all package source are served by package author's repository), why not make it more distributed?

[2021-01-01 08:01] draveness opened #15407 "simdjson update to v0.7.1"
Library name: simdjson

New version number: v0.7.1

Other information that may be useful (release notes, etc...)

[2021-01-01 09:17] JACK-HAI commented on #12266
Could you tell me the DNS address ?

[2021-01-01 09:17] JACK-HAI commented on #12266
Could you tell me the DNS address ?

[2021-01-01 09:20] zd1176630227 commented on #12266
114.114.114.114

---Original---
From: "JACK-HAI"<notifications@github.com&gt;
Date: Fri, Jan 1, 2021 17:18 PM
To: "microsoft/vcpkg"<vcpkg@noreply.github.com&gt;;
Cc: "Author"<author@noreply.github.com&gt;;"zd1176630227"<1176630227@qq.com&gt;;
Subject: Re: [microsoft/vcpkg] mlpack:x64-windows (#12266)

Could you tell me the DNS address ?

—
You are receiving this because you authored the thread.
Re

[2021-01-01 10:10] heretic13 opened #15408 "[chakracore] build failure (Linux)"
**Host Environment**
- OS: Ubuntu 20.04

**To Reproduce**
Steps to reproduce the behavior:
[build.txt](https://github.com/microsoft/vcpkg/files/5758797/build.txt)

Officially ChakraCore supports build on Linux

[2021-01-01 10:21] soumyamahunt opened #15409 "Incorrect triplet configuration for Project Reunion sample app"
**Describe the bug**
The [Project Reunion Hello World](https://github.com/microsoft/Project-Reunion-Samples/tree/main/HelloWorld/reunioncppdesktopsampleapp) sample shows a C++ sample that demonstrates some [ProjectReunion](https://github.com/microsoft/ProjectReunion) APIs. Using vcpkg for this project, the `VcpkgOSTarget` is incorrectly detected as `uwp` instead of `windows`.

**Environment**
- OS

[2021-01-01 12:22] longnguyen2004 commented on #12832
@JackBoosY I think this is resolved, I can't repro this

[2021-01-01 13:26] sfhacker commented on #12832
zlib is such a small and simple project that it shouldn't take several months to be built from source.
Most probably the user environment is broken or polluted somehow!
In any case, no user can afford such amount of time.

[2021-01-01 14:24] ankurverma85 commented on #15122
Thanks a lot for the consideration.

I submitted a PR mostly replicating the x64-windows-static infrastructure
https://github.com/microsoft/vcpkg/pull/15411
However I might need some help taking this through

I'd appreciate if someone from the  maintainer-team can monitor that and pitch in.

[2021-01-01 17:23] wivach opened #15412 ".\vcpkg install darknet[full]:x64-windows build failure"
**Host Environment**
- OS: [Windows 10]
- Compiler: 2020.11.12-nohash

**To Reproduce**
Steps to reproduce the behavior:
.\vcpkg install darknet[full]:x64-windows

(base) PS C:\Users\XXXX\vcpkg> .\vcpkg install darknet[full]:x64-windows
Computing installation plan...
The following packages will be built and installed:
    darknet[core,cuda,cudnn,full,opencv-cuda,weights,weights-train]:x64-windows

[2021-01-01 19:31] thunduaga opened #15413 "[openimageio:x64-linux] build failure"
**Host Environment**
- OS: Kali Linux on WSL2
- Compiler: GNU 10.2.1

**To Reproduce**
Steps to reproduce the behavior:
`sudo ./vcpkg install openimageio[libraw,opencolorio,ffmpeg,freetype,opencv,gif,webp,openjpeg,pybind11,tools]`

**Failure logs**

[config-x64-linux-dbg-out.log](https://github.com/microsoft/vcpkg/files/5759320/config-x64-linux-dbg-out.log)
[config-x64-linux-dbg-err.log](https://g

[2021-01-01 21:17] 0x7FFFFFFFFFFFFFFF opened #15414 "Improve the output after installed a package"
****

**Is your feature request related to a problem? Please describe.**
This feature request is actually very lightweight. Right now when you installed a package, vcpkg outputs this when it completed.
[code]
Quite often you need to change the `main` part to your project name.  Considering cmake already provided the variable `${PROJECT_NAME}`, why not change `target_link_libraries(main PRIVATE cpr

[2021-01-02 00:50] kuelite opened #15415 "vtk x64-windows-static build failure"
**Host Environment**
- OS: windows10
- Compiler: msvc142

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install vtk:x64-windows-static

**Failure logs**
-CMake Error at scripts/cmake/vcpkg_execute_build_process.cmake:142 (message):
    Command failed: "C:/Program Files/CMake/bin/cmake.exe" --build . --config Release --target install -- -v -j13
    Working Directory: C:/src/vcpkg/build

[2021-01-02 02:50] XsongyangX opened #15417 "How do I update vcpkg itself?"
I looked at the FAQ of "readthedocs" and I can't find a clear way of updating vcpkg itself. Can someone tell me the procedure?

[2021-01-02 06:59] VegeHime commented on #15417
git pull & run bootstrap-vcpkg.bat (on Windows)

[2021-01-02 09:31] vicroms commented on #15415
Please attach the contents of `C:\src\vcpkg\buildtrees\vtk\install-x64-windows-static-rel-out.log`.

[2021-01-02 10:00] tosone opened #15418 "[New Port Request] HElib"
Library name:

HElib

Library description:

HElib is an open-source software library that implements homomorphic encryption. It supports the BGV scheme with bootstrapping and the Approximate Number CKKS scheme. HElib also includes optimizations for efficient homomorphic evaluation, focusing on effective use of ciphertext packing techniques and on the Gentry-Halevi-Smart optimizations.

Source repo

[2021-01-02 11:46] jjYBdx4IL commented on #1131
Microsoft recommends /MD. Why would anyone use /MT just because they wanna include boost or wxwidgets libs directly into their .exe output? Kinda strange to discourage static-md because the static-md is exactly what MS seems to recommend.

[2021-01-02 13:16] aymanawadallah-AAA opened #15420 "Building package sfml:x86-windows failed with: BUILD_FAILED"
**Host Environment**
- OS: windows 10
- Compiler: 2020.11.12-nohash

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install sfml:x86-windows`

**Failure logs**
-- Building x86-windows-dbg
-- Restarting Build without parallelism because memory exceeded
CMake Error at scripts/cmake/vcpkg_execute_build_process.cmake:145 (message):
    Command failed: C:/Dev/vcpkg/downloads/tools/cmake-3.1

[2021-01-02 15:11] aguinet opened #15422 "hidapi build failure: static build ships an import library"
**Host Environment**
- OS: Windows
- Compiler: Microsoft (R) C/C++ Optimizing Compiler Version 19.28.29335 (VS2019)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install hidapi --triplet x64-windows-static`

**Failure logs**
There isn't a failure log per se, as the build succeeds. The problem is that the resulting `hidapi.lib` is an import library, and not a static libraries (aka an

[2021-01-02 16:22] danmartinez opened #15423 "openssl install hangs (openssl:x86-windows)"
**Host Environment**
Windows 10 Pro 1909 (10.0.18363)
CMake 2020.11.12

**To Reproduce**
`./vcpkg install openssl`

**Expected outcome**
OpenSSL package installs.

**Actual Outcome**
The build process reaches `Build x86-windows-dbg done` then completely stops.  No CPU activity.

**Additional context**
Attempted this on two different machines with identical results.  (The second machine was a compl

[2021-01-02 17:42] talregev commented on #15417
Can you add the answer to the main readme file in the repo?

[2021-01-02 19:56] XsongyangX commented on #15417
Once added to the readme and faqs docs, close the issue

[2021-01-02 22:43] japhib opened #15426 "[New Port Request] bgfx"
Library name: bgfx

Library description: Cross-platform rendering library

Source repository URL: https://github.com/bkaradzic/bgfx

I just started using vcpkg and it is awesome. Really makes package management easy. I don't own (or even contribute to) bgfx but it's an awesome library, and fairly widely used, so I'd love to see it included in vcpkg. Thanks.

[2021-01-03 03:57] softempire commented on #8442
Can you point me the document for "CMake targets" you mentioned here?

[2021-01-03 08:41] zhaofeng-shu33 commented on #8442
[code]

[2021-01-03 09:58] #14858 closed

[2021-01-03 10:02] Kakiking opened #15428 "SDL2 build failure"
**Host Environment**
- OS: Kubuntu 20.04 LTS
- Compiler: gcc version 9.3.0

**To Reproduce**
Steps to reproduce the behavior:
`sudo ./vcpkg install sdl2`

**Failure logs**
[code]
config-x64-linux-dbg-out.log:
[code]
config-x64-linux-dbg-err.log:
[code]
vcpkg/buildtrees/sdl2/x64-linux-dbg/CmakeFiles/CMakeOutput.log:
[CMakeOutput.log](https://github.com/microsoft/vcpkg/files/5761430/CMakeOutput.log)

[2021-01-03 11:31] aizuon opened #15429 "[pangolin] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: msvc-14.2

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install pangolin:x64-windows-static`

**Failure logs**
[install-x64-windows-static-dbg-out.log](https://github.com/microsoft/vcpkg/files/5761516/install-x64-windows-static-dbg-out.log)

**Additional context**
Looks like a linking issue

[2021-01-03 11:37] printempts opened #15430 "[New Port Request] mpfi"
Library name: mpfi

Library description: a multiple-precision interval arithmetic library based on mpfr

Project Filelist for MPFI: https://gforge.inria.fr/frs/?group_id=157

I just started using vcpkg and it is awesome. Really makes package management easy. I don't own (or even contribute to) mpfi but it's an awesome library, and fairly widely used, so I'd love to see it included in vcpkg. Many t

[2021-01-03 11:50] longnguyen2004 opened #15431 "[wil] Use upstream CMakeLists.txt"
****

**Is your feature request related to a problem? Please describe.**
Like before, having targets to import is much better than adding include directories by hand.

**Proposed solution**
Switch to upstream CMakeLists.txt

[2021-01-03 12:52] spaxio opened #15432 "[New Port Request] lunasvg"
Library name: lunasvg

Library description: a standalone c++ library to create, animate, manipulate and render SVG files.

Source repository URL: https://github.com/sammycage/lunasvg

[2021-01-03 15:10] Holzhaus opened #15433 "[CMake] find_package() won't find packages installed via vcpkg"
Apparently it's not as straightforward to use vcpkg-installed dependencies in a CMake project as the documentation suggests. I can't get `find_package` detect a vcpkg-installed dependency, it always fails with an error message like this:

[code]

For demonstration purposes I've set up a minimal example repository here: https://github.com/Holzhaus/vcpkg-cmake-example

Here's the complete CMakeLists

[2021-01-03 15:48] kuelite commented on #15415
I checked the file C:\src\vcpkg\buildtrees\vtk\install-x64-windows-static-rel-out.log
and found out the reason of failure.  Thats because my driver C was no space :) and caused I/O failed.
the part of the log file as follows:

[1469/2944] cmd.exe /C "cd . && C:\PROGRA~2\MICROS~1\2019\ENTERP~1\VC\Tools\MSVC\1428~1.293\bin\Hostx64\x64\lib.exe  /machine:x64 /nologo /out:lib\vtkmetaio-9.0.lib Utilitie

[2021-01-03 16:02] #15415 closed

[2021-01-03 19:29] thunduaga commented on #15413
Additional information:

in the original config-x64-linux-dbg-err.log file at the end it shows:

` CMake Error at /mnt/c/kali/vcpkg/downloads/tools/cmake-3.19.2-linux/cmake-3.19.2-Linux-x86_64/share/cmake-3.19/Modules/FindPackageHandleStandardArgs.cmake:218 (message):
  Could NOT find PythonLibs (missing: PYTHON_LIBRARIES PYTHON_INCLUDE_DIRS)`

even though in config-x64-linux-dbg-out.log it shows:

[2021-01-04 02:06] JackBoosY commented on #15417
Any project on github uses `git pull` to pull the latest changes, so I don't think it needs to be added to the document.

[2021-01-04 02:10] JackBoosY commented on #15399
Hi @walterdelavega, is this issue resolved?

[2021-01-04 02:32] JackBoosY commented on #15433
For static triplet, you also need to add `-DVCPKG_TARGET_TRIPLET=x64-windows-static` to cmake.

See [documentation](https://github.com/microsoft/vcpkg/blob/master/docs/users/integration.md#with-cmake).

[2021-01-04 02:35] JackBoosY commented on #15428
[code]
Can you please install `libxext-dev` using command `sudo apt-get install libxext-dev` and try again?

Thanks.

[2021-01-04 02:36] JackBoosY commented on #15423
Same issue with #12849.

[2021-01-04 02:36] #15423 closed

[2021-01-04 02:38] JackBoosY commented on #12266
@zd1176630227 Use proxy or VPN or SS can solve this issue.

[2021-01-04 02:54] JackBoosY commented on #12832
@sfhacker Yeah I know that, see #13402.

[2021-01-04 02:54] #12832 closed

[2021-01-04 03:07] JackBoosY commented on #15414
Because a project may contain many targets, and `PROJECT_NAME` only refers to one of them.

[2021-01-04 03:10] JackBoosY commented on #15413
[code]

This shouldn't happend. the oiio should use vcpkg internal python instead of system.

[2021-01-04 03:11] JackBoosY commented on #15413
Can you please update system inside python or remove it then retry?

Thanks.

[2021-01-04 03:57] cnSchwarzer opened #15434 "HTTP(S) proxy won't work under windows platform"
**Describe the bug**
There's no way to use proxy smoothly, even i tried:
[code]
The vcpkg says:
[code]
Seems the curl won't use windows proxy.
Isn't there any way for you to use another download tool on Windows for simple proxy setting like
`vcpkg --proxy=https://127.0.0.1:10809` ?

**Environment**
- OS: Windows
- Compiler: Visual Studio 2019 MSVC

**To Reproduce**
Steps to reproduce the behavior:

[2021-01-04 04:10] cnSchwarzer commented on #15434
It seems after setting the following:
[code]
which use HTTP not HTTPS works for me, so i think it is better to change the description of proxy setting instructions for more compatibility.

[2021-01-04 04:14] thunduaga commented on #15413
Sorry, I'm not quite sure what you mean by "update system inside python", may I please have more details for those instructions?

as a note I don't currently have anything modifying PYTHONPATH or PATH outside the defaults for my .bashrc

Thank you for looking into this,

[2021-01-04 04:39] longnguyen2004 commented on #13402
If we can redirect `find_file` and `find_path`, we can use `NO_DEFAULT_PATH` then add only the paths we need. Can we do it?

[2021-01-04 05:41] JackBoosY commented on #15413
@thunduaga Sorry for the confusion
[code]
I've confirmed that the python found in oiio is in the system.
So there are two solutions temporary:
1. Upgrade python in your system
2. Uninstall python in your system

[2021-01-04 05:42] PhoebeHui commented on #15408
@heretic13, this is not support in vcpkg now.

[2021-01-04 05:43] JackBoosY commented on #13402
@longnguyen2004 Yes I guess. But this may cause other problems.

[2021-01-04 06:19] NancyLi1013 commented on #15412
Hi @wivach

Thanks for posting this issue.

It's duplicated to #15256, Let's track this issue there.

[2021-01-04 06:19] #15412 closed

[2021-01-04 06:32] 0x7FFFFFFFFFFFFFFF commented on #15414
Yes, but `main` also only refers to one of them and is a fixed literal. Maybe  `PROJECT_NAME` is a little bit useful than `main`?

[2021-01-04 06:49] JonLiu1993 commented on #15406
@draveness , Thanks for posting this issue,I noticed that the latest version of prometheus-cpp has been v0.11.0, you can update the latest vcpkg and try to build and use, I will close this issue

[2021-01-04 06:49] #15406 closed

[2021-01-04 06:52] JackBoosY commented on #15414
@0x7FFFFFFFFFFFFFFF We will have a discuss later.

[2021-01-04 08:23] JackBoosY commented on #15413
This issue should be solved after the python usage issue is completely solved.
Related: #15404.

[2021-01-04 08:36] belkiss commented on #15347
https://github.com/microsoft/vcpkg/blob/50ea8c0ab7aca3bb9245bba7fc877ad2f2a4464c/scripts/buildsystems/msbuild/vcpkg-general.xml#L16

I think you confused the property Name and DisplayName. So in the vcxproj you need to write `<VcpkgEnabled>false</VcpkgEnabled>`

[2021-01-04 09:16] NancyLi1013 commented on #15405
Hi @tihohod

Thanks for posting this issue.

Could you please try to use `libiconv `as the follows?

[code]

[2021-01-04 09:27] NancyLi1013 commented on #15429
Hi @aizuon

Thanks for posting this issue.

It seems like you installed `ffmpge[avcodec,mp3lame,snappy] `on your machine.

If you remove ffmpge:x64-windows-static, then try to rebuild `pangolin:x64-windows-static`, which can be built successfully.

[2021-01-04 09:29] JackBoosY commented on #15403
`wxregex` is indeed generated during non-static build, but due to upstream rules, these built-in libraries will not be installed during dynamic build.

See https://github.com/wxWidgets/wxWidgets/blob/b58ee58a7bf7a954a34680d3765f42fffd962860/build/cmake/functions.cmake#L510-L512

If you still think that's a bug, please report it to the upstream.

Thanks.

[2021-01-04 09:30] NancyLi1013 commented on #15429
I'm trying to reproduce this on my local with these features for `ffmpeg`.
Will update the results here once done.

[2021-01-04 10:48] gansaihua opened #15439 "[New Port Request] iguana"
Library name: iguana

Library description: universal serialization engine

Source repository URL: https://github.com/qicosmos/iguana

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2021-01-04 10:49] gansaihua opened #15440 "[New Port Request] ormpp"
Library name: ormpp

Library description: modern C++ ORM, C++17, support mysql, postgresql,sqlite

Source repository URL: https://github.com/qicosmos/ormpp

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2021-01-04 11:17] proTerm commented on #15275
@JackBoosY couldnt quite understand your answer: what port has been updated?
How do you enable all cpu cores? I would have suggested that vcpkg does it by default?
Are these compile times "normal" ?
What does the missing cache mean?

[2021-01-04 11:27] proTerm opened #15441 "Ports based on rust ?"
Is it planned to have ports written in `rust` ? So far, only` c/c++` projects have been ported with `vcpkg` ?

For example, [librsvg](https://github.com/microsoft/vcpkg/tree/master/ports/librsvg) has been ported, but it represents the last version written in `c`, before `librsvg` had been translated into `rust`. So right now, `vcpkg` offers only an **old version** of the package, while with the ne

[2021-01-04 12:14] fzy139 commented on #13766
Thx @neilyoung! But there is a question, the built opencv cannot read jpeg images in this way. How can I solve this?

I have tried installed libjpeg and libjpeg-turbo before building.

[2021-01-04 12:42] aizuon commented on #15429
Thanks, would it be possible to fix this issue so that ffmpeg with specified features and pangolin can be installed at the same time? Would installing pangolin first and then ffmpeg circumvent this error? FFMPEG is a library i regularly use, so its not something i can give up on. Thank you for your response again.

[2021-01-04 13:02] cnSchwarzer commented on #15434
#15435

[2021-01-04 13:06] dweckmann commented on #15192
Just a small thing: where is the x64-linux-dynamic community triplet ?

[2021-01-04 13:09] dweckmann commented on #15192
Another thing, it still doesn't work with cmake 3.19.2

[2021-01-04 13:11] aguinet commented on #15422
Thanks @PhoebeHui for the quick pull request on this !!

[2021-01-04 13:55] Prometheus88 opened #15442 "[vcpkg] Build failure on MacOS"
**Host Environment**
- OS: [Mojave 10.14.6.]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./bootstrap-vcpkg.sh`

**Failure logs**
FAILED: CMakeFiles/vcpkglib.dir/src/vcpkg/base/chrono.cpp.o
/usr/local/bin/g++-10 -DVCPKG_USE_STD_FILESYSTEM=1 -I../include -O3 -DNDEBUG -isysroot /Library/Developer/CommandLineTools/SDKs/MacOSX10.14.sdk -include /Users/DorisMac/vcpkg/toolsrc

[2021-01-04 14:07] cnSchwarzer opened #15443 "[New Port Request] timercpp"
Library name:
timercpp

Library description:
A clean Timer implementing Javascript's `setTimeout()` and `setInterval()` functions. Also very useful for people finding C#'s Timer alternative in C++.

Source repository URL:
https://github.com/99x/timercpp

[2021-01-04 14:42] matt6801 commented on #15348
Sorry, no easy solution to this one : )  Vcpkg and every package within it, including boost, was installed in the context of the same few hours from the sources pointed to by vcpkg.

[2021-01-04 16:01] cnSchwarzer commented on #15443
Also, check Issue 3 for more compatibility.

[2021-01-04 16:32] nurbles opened #15446 "[vcpkg] Add command to print complete port description"
I have searched the command line reference and FAQ and not found any way to have the `vcpkg search [pkg]` command to list the FULL text of the package description.  Many are quite short, but many others end with '...' after about 63 columns, regardless of how wide my terminal may be (using **Windows Terminal v 1.4.3243.0**)

If this option exists, what is it?

If not, please consider adding it, be

[2021-01-04 17:33] soufianekhiat commented on #15347
[Fixed]
My bad thanks.

[2021-01-04 17:33] #15347 closed

[2021-01-04 18:02] dweckmann opened #15447 "[PCL:x64-windows] build failure with [cuda] feature since BOOST 1.75.0"
**Host Environment**
- OS: Windows 10
- Compiler: Microsoft (R) C/C++ Optimizing Compiler Version 19.28.29335 for x64

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install pcl[cuda]`

**Failure logs**
- [install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/5766095/install-x64-windows-dbg-out.log)

**Additional context**
It was building fine using boost 1.74, and

[2021-01-04 19:01] tsnl opened #15448 "[llvm] find_package(llvm ...) fails on Windows"
Hello!

When using vcpkg as a git submodule with the CMake build tool, bootstrapping vcpkg and installing `llvm` 11.0.0 succeeds, but `find_package` does not work. It looks like `vcpkg` successfully installed the package, but did not configure CMake correctly.

**Environment**
- OS: Windows 10 (64 bit)
- Compiler: Visual Studio Community 2019 (MSVC 19.28.29334.0)
- CMake: 3.19.1

_Note:_
- I've te

[2021-01-04 19:54] StarGate-One commented on #15447
PCL was fixed to recognize boost 1.75.
vcpkg needs to be patched/fixed to include the changes.
See https://github.com/PointCloudLibrary/pcl/issues/4537 and commit https://github.com/PointCloudLibrary/pcl/commit/8f667b508d7afb4e23ea5d43207cc319d69598b2

[2021-01-04 21:33] BillyONeal commented on #15441
One of the things vcpkg is "selling" is the ability to change the compiler used for everything; including other languages is not categorically out of order but certainly isn't something we're intending to support soon. It seems like we should just remove the `librsvg` port, changing it to say "please go install this one from cargo" or similar?

[2021-01-04 21:40] XsongyangX commented on #15417
But bootstrapping is not for any github project

[2021-01-04 21:47] tihohod commented on #15405
Unfortunately, this does not make a difference.
![InkedCapture_LI](https://user-images.githubusercontent.com/29049312/103582771-93473600-4eef-11eb-92a3-a0fb27d39e37.jpg)

[2021-01-04 22:33] remz1337 opened #15450 "[cppitertool] build failure on CentOS 7"
**Host Environment**
- OS: CentOS 7
- Compiler: Gcc 9.3.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install cppitertools`

**Failure logs**
CMake Error at cmake_install.cmake:46 (file):
  file INSTALL cannot copy file
  "/project/6000253/remz1337/source/vcpkg/buildtrees/cppitertools/src/bb5c89f5f6-22c9aa306d.clean/./dropwhile.hpp"
  to
  "/project/6000253/remz1337/source/vcpkg/pa

[2021-01-04 22:37] remz1337 commented on #15450
Hello @strega-nil, @Roy-Fokker, could you please have a look at this? I tried to update the port the head of the master branch of the cppitertools repo since I saw there have been some changes there but still get the issue. Thank you

[2021-01-05 00:25] cnSchwarzer commented on #15443
Need to put `stop()` in separate timercpp.cpp

[2021-01-05 00:40] cnSchwarzer opened #15451 "[ixwebsocket] build failure"
**Host Environment**
- OS: Windows 10 20H2
- Compiler: VS 2019 Latest

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install ixwebsocket`
Create a project using the library
Build

**Failure logs**
Translated:
Cannot resolve symbol (无法解析的外部符号) CertOpenStore...... etc..

**Additional context**
Add `#pragma comment(lib, "crypt32.lib")` to the source solves the issue.
Seems missing the de

[2021-01-05 01:45] jmoguillansky-gpsw opened #15452 "vcpkg integrate install implementation"
I have a question regarding vcpkg integrate install:
Can you please clarify what it means when it says "Linking will be handled automatically"?
What is the internal logic?
Does it add the library as a linker arg to all projects globally?
Does it add the library search path globally?

[2021-01-05 01:51] NancyLi1013 commented on #15405
Have you tried debug type? Please help me confirm if you have set `VCPKG_TARGET_TRIPLET` as `x64-windows-static` and also set
`CMAKE_TOOLCHAIN_FILE` as `vcpkg_root\\vcpkg\\scripts\\buildsystems\\vcpkg.cmake`?

Sorry, I can build this successfully on my local.

Please provide your project case and post the detailed error if you still meet this problem.

Thanks.

[2021-01-05 01:55] JackBoosY commented on #15452
For cmake project, vcpkg will generate the vcpkg toolchain for use in custom cmake projects.
For msvc project, according to the configuration (x64/x86), vcpkg will automatically add _VCPKG_ROOT/installed/TRIPLET/include_ to the `Include Directories` and add all libraries in the _VCPKG_ROOT/installed/TRIPLET/lib_ / _VCPKG_ROOT/installed/TRIPLET/debug/lib_ to the `Additional Dependencies`.

[2021-01-05 02:03] JackBoosY commented on #15442
I strongly recommend that you use `git clone https://github.com/microsoft/vcpkg.git` to download vcpkg and use `git pull` to update vcpkg to the latest.
Because vcpkg in brew may not be the latest, this issue may have been fixed on the master branch.

Thanks.

[2021-01-05 02:08] JackBoosY commented on #15446
I think we should add a `detail` option to vcpkg.

[2021-01-05 02:08] JackBoosY commented on #15446
And you can see the description in _VCPKG_ROOT/port/PORT_NAME/CONTROL_ or _VCPKG_ROOT/port/PORT_NAME/vcpkg.json_.

[2021-01-05 02:16] JackBoosY commented on #15450
Hi @remz1337, thanks for reporting this issue!
Does _/project/6000253/remz1337/source/vcpkg/buildtrees/cppitertools/src/bb5c89f5f6-22c9aa306d.clean/./dropwhile.hpp_ exist?

[2021-01-05 02:29] jmoguillansky-gpsw commented on #15452
"add all libraries in the VCPKG_ROOT/installed/TRIPLET/lib": this adds all libraries as linker args for all MSVC projects?
This seems a bit dangerous:
1) not all projects require linking against the library.
Linking against unnecessary libs slows down link time and adds unnecessary dependencies.
If you're building a shared library, it will load unnecessary additional libs at runtime?

From my pers

[2021-01-05 02:37] JackBoosY commented on #15417
@XsongyangX  If there are major changes to vcpkg, an error will be reported when installing any port: you must rebuild vcpkg first using bootstrap.

[2021-01-05 02:45] JonLiu1993 commented on #15451
@cnSchwarzer ,Thanks for posting this issue,The port you need to use is xiwebsocket? I think what you need is ixwebsocket, did you write it wrong?

[2021-01-05 02:54] JackBoosY commented on #15452
@jmoguillansky-gpsw I partly agree with you. vcpkg is currently not perfect for the integrated msvc project.
However, adding unneeded libraries to additional dependencies will not cause build problems, nor will they cause usage problems.

Since vcpkg does not currently provide a file list for each installed port, we cannot know what the library corresponding to the included header file should be w

[2021-01-05 03:18] JackBoosY commented on #15192
Sorry, my memory of `x64-linux-dynamic` is confused.

[2021-01-05 03:47] cnSchwarzer commented on #15451
You're right, sorry for that ^_^

[2021-01-05 06:24] talregev commented on #15417
It not good enough. I didn't remember I needed to do git pull to update vcpkg itself.
First I searched in main readme file how to do it, then  I searched in google how to do it.
Until I got it here. It take me some time. And it not the first issue that open about it.
It confusing. Even it not confusing, why not to put this vital information on the readme file?

Also I will add a feature request th

[2021-01-05 06:31] dweckmann commented on #15447
Thanks for spotting this. The easiest way seems to include the patch.

[2021-01-05 06:37] JonLiu1993 commented on #15451
@cnSchwarzer ,I just reproduced on my local computer that this port does have a bug, but it is not the problem you reported. I changed the 30th line share/${port} of portfile.cmake to share/${PORT} and it can be used normally. Build, you can try

[2021-01-05 06:37] JonLiu1993 commented on #15451
Rebuild started...
1>------ Rebuild All started: Project: ZERO_CHECK, Configuration: Debug Win32 ------
1>Checking Build System
2>------ Rebuild All started: Project: test, Configuration: Debug Win32 ------
2>Building Custom Rule C:/Users/vzhli17/source/repos/CMakeProject20/CMakeProject20/CMakeLists.txt
2>CMakeProject20.cpp
2>test.vcxproj -> C:\Users\vzhli17\source\repos\CMakeProject20\out\build\x

[2021-01-05 06:48] jmoguillansky-gpsw commented on #15452
@JackBoosY we shouldn't infer which lib to link against based on the header files.  The user should define this either explicitly, or indirectly via some higher-level mechanism like pkg-config or cmake toolchains.
I think this current logic can very quickly cause problems.  Suppose the user installs 100 packages using vcpkg and then does vcpkg integrate install.  All MSVC projects will automatical

[2021-01-05 06:49] JackBoosY commented on #15417
cc @vicroms

[2021-01-05 07:36] JackBoosY commented on #15452
@jmoguillansky-gpsw  Even if it try to link many unnecessary libraries, these libraries are still not used when the program is running.

[2021-01-05 07:43] jmoguillansky-gpsw commented on #15452
What about if they're shared libs (e.g. DLLs)?

[2021-01-05 07:53] JackBoosY commented on #15452
@jmoguillansky-gpsw
When using shared libraries, in order to determine the address of the function to be used during linking, we will use their supporting static library (only containing exported variables/function symbols). If the shared library is not generated when the corresponding static library is built, then there is another method: use `.def` files.

If neither the static library nor the `

[2021-01-05 08:03] cnSchwarzer commented on #15451
@JonLiu1993
Hi, please try reproduce with following steps again, sorry. Since I am not using cmake but msbuild, I'm not sure if you successfully fixed.

1.`./vcpkg install ixwebsocket[ssl]:x64-windows`
2.Create a new "C++ Console Application (C++, Windows, Console)" project with VS2019.
3.**Switch target to Debug, x64**
4.Replace `main.cpp` with following code.
[code]
5.Try Build the project, On m

[2021-01-05 08:24] emmedve1 opened #15456 "x64-windows-static/boost-build: Applying fix_options.patch fails"
As of `2020.11-1-407-g63de431b4`:

[2021-01-05 08:29] NancyLi1013 commented on #15448
Hi @tsnl

Thanks for posting this issue.

[code]
Could you please help provide what it is in  `CMakeLists.txt:67 (find_package)`?

[2021-01-05 08:35] julian-zhuang opened #15458 "Show detailed download, configuration and compilation process"
Is it possible to display the detailed download, configuration, and compilation process? I thought it was dead and the console remained unchanged for a long time. In fact, it did not die.
such as
Configuring x64-windows
Configuring x64-windows-dbg
Configuring x64-windows-rel

[2021-01-05 08:44] jgbradley1 opened #15459 "How do I pass configure options for dependencies in the manifest file?"
In a manifest file, is there a *simple* way to override or pass custom cmake options to a dependency?

As an example, I would like to declare [OpenCV](https://github.com/opencv/opencv) as a dependency in my project. The build system in OpenCV is modular so when building from source you can enable/disable specific modules to build smaller binaries.

I would like to build OpenCV with the following c

[2021-01-05 08:50] dweckmann commented on #15447
Unfortunately, the mentioned patch is not enough. I'm still having the issue

[2021-01-05 09:53] proTerm commented on #15441
Why other languages could be a problem? Especially `rust`'s integration can be seamless. I compiled rust `librsvg` on `Windows` with (almost no) problems. That is to say, `rust` could be just added and integrated, without bringing any substantial problems. I would only encourage `vcpkg` to accelerate its integration.

[2021-01-05 10:00] JonLiu1993 commented on #15451
@cnSchwarzer ,I confirmed your suggestion locally, it is feasible, it seems that there are two bugs in this port, I will solve them together.

[2021-01-05 10:18] dweckmann commented on #15447
Well, just tried with cmake 3.18.3, as suggested by the upstream, still the same result. Sorry, I don't have the time to look further right now. I will switch to the "old" boost 1.74 by my side until this is fixed.

[2021-01-05 11:08] cnSchwarzer opened #15461 "[v8] build failure"
**Host Environment**
- OS: Windows 10 20H2
- Compiler:  Visual Studio 2019 16.8 MSVC 14 (Latest) x64

**To Reproduce**
Steps to reproduce the behavior:
1. `./vcpkg install v8:x64-windows`
2. Create `C++ Console Application` on VS2019, switch target to Debug, x64.
3. Replace with the following expected working code:
[code]
However, `#include <v8.h>` won't work, as v8 installed into `include/v8.h`,

[2021-01-05 12:34] nurbles commented on #15446
To clarify for those of us who only rarely use vcpkg, both of the places referenced where one may "see the description" are (or are not) available **WITHOUT** installing the package?

I am interested in this because my nearly 40 years of experience with all sorts of software packages (on both Windows and Linux) has shown that few completely and cleanly _remove_ themselves after having been install

[2021-01-05 13:06] hollypa opened #15462 "How do I ...if I want to build release only?"
I want to build release only, how do I.

Thanks.

[2021-01-05 13:17] dweckmann commented on #15462
https://stackoverflow.com/questions/52578975/getting-vcpkg-to-build-only-release-version

[2021-01-05 13:28] dweckmann opened #15463 "[minc]:x64-linux-dynamic build failure"
**Host Environment**
- OS: Ubuntu 20.04 LTS
- Compiler: gcc (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install minc`

**Failure logs**
[config-x64-linux-dbg-err.log](https://github.com/microsoft/vcpkg/files/5770356/config-x64-linux-dbg-err.log)
[config-x64-linux-dbg-out.log](https://github.com/microsoft/vcpkg/files/5770358/config-x64-linux-dbg-

[2021-01-05 13:53] Prometheus88 commented on #15442
Have done that.

I ran` rm -r vcpkg `and then` git clone https://github.com/microsoft/vcpkg.git `
just for good measurement git pull (which stated that already everything is up to date) and then
`git clone https://github.com/microsoft/vcpkg.git`

and then
`./bootstrap-vcpkg.sh`

however, i get the exact same error as in the OP.

[2021-01-05 14:31] kuelite opened #15464 "Found both manifest and CONTROL file in ......"
****

**Is your feature request related to a problem? Please describe.**
the problem is : when i used .\vcpkg search, messages such as "Found both manifest and CONTROL  file in ......  ; please rename one or the other" , So i couldnt stand it and had to rename all the CONTROL files with anothor filename and remain all the
vcpkg.json files.

I hope to fix the annoying problem ,Thank you!

PS E:\src

[2021-01-05 14:34] remz1337 commented on #15450
The file does exists at this location: vcpkg/buildtrees/cppitertools/src/b9d808694c-497269dbee.clean/dropwhile.hpp
which should be equivalent, but might be something to investigate (why is there a "." in the filepath cmake is using?)

[2021-01-05 15:10] tihohod commented on #15405
Yes, I set both VCPKG_TARGET_TRIPLET and CMAKE_TOOLCHAIN_FILE.
cmake . -B build -G"Visual Studio 16 2019" -Ax64 -DVCPKG_TARGET_TRIPLET=x64-windows-static -DCMAKE_CL_64=1

-- VCPKG CMAKE_TOOLCHAIN_FILE = D:\HLDI_new\Watson\vcpkg/scripts/buildsystems/vcpkg.cmake

[2021-01-05 15:38] okayabc opened #15465 "How do I solve this : This projec t doesn't contain the Configuration and Platform combination of Debug|Win32?"
Currently i use cmake to build cpprest in the powershell.

First, i type this command to download the necessary file:
.\vcpkg.exe install --triplet x86-windows zlib openssl boost-system boost-date-time boost-regex boost-interprocess websocketpp brotli

then i type this command to generate sln file:
cmake ../Release -A x86 -DCMAKE_TOOLCHAIN_FILE=i:\cpprest\cpprest\vcpkg\scripts\buildsystems\vcpkg.c

[2021-01-05 17:46] tsnl commented on #15448
Hi @NancyLi1013

Thanks for taking the time to help. I really appreciate it.

The `CMakeLists.txt` and all referenced files are found at `https://github.com/tsnl/pdm`, on the `vcpkg-integration` branch.

Here's the latest [CMakeLists.txt](https://github.com/microsoft/vcpkg/files/5771731/CMakeLists.txt) for your reference.

Please let me know if you need anything else.

[2021-01-05 20:05] #13241 closed

[2021-01-05 20:10] #15256 closed

[2021-01-05 20:39] #15434 closed

[2021-01-05 20:40] #15407 closed

[2021-01-05 20:42] #15422 closed

[2021-01-05 20:44] #15431 closed

[2021-01-05 20:51] remz1337 commented on #15450
I deployed CentOS 7 on my Windows machine through WSL and it seems to work fine there. There must be something different on the remote cluster where I'm trying to build my project.

I tested with a few other ports and here are the results:

- cxxopts 👍 (Success)
- fast-cpp-csv-parser 👍(Success)
- edlib 👍 (Success)
- cityhash 👍 (Success)
- taskflow 👎 (Failure)
- sqlitecpp 👎 (Failure)

They all fail

[2021-01-05 21:05] thunduaga commented on #15413
As a note, I have both python 3.8 and python 2.7 installed on my system.

I tried renaming both python executables in /usr/bin such that vcpkg wouldn't see them.

`$sudo mv /usr/bin/python /usr/bin/python_old`
`$sudo mv /usr/bin/python2.7 /usr/bin/python2.7_old`

then re-ran my original vcpkg command:

`$sudo ./vcpkg install openimageio[libraw,opencolorio,ffmpeg,freetype,opencv,gif,webp,openjpeg,p

[2021-01-05 21:39] #9026 closed

[2021-01-05 22:37] pwoods-al opened #15469 "Missing buildsystem integration file applocal.py after using export on macOS (x64-osx)"
**Describe the bug**
When using `vcpkg --export --raw` on macOS with ports built for the `x64-osx` triplet, the CMake build that consumes the exported vcpkg artifacts fails as it is unable to find `applocal.py`. The corresponding `applocal.ps1` file on Windows is exported properly to the export directory.

Build failure excerpt:
[code]

This happens when linking against gRPC, it may not apply to a

[2021-01-05 23:30] ikoruk commented on #8203
Having the same issue, any updates?

[2021-01-06 01:34] okayabc commented on #15465
Btw, x64 can work correctly.

.\vcpkg.exe install --triplet x64-windows zlib openssl boost-system boost-date-time boost-regex boost-interprocess websocketpp brotli
cmake ../Release -A x64 -DCMAKE_TOOLCHAIN_FILE=i:\cpprest\cpprest\vcpkg\scripts\buildsystems\vcpkg.cmake

.\vcpkg.exe install --triplet x86-windows zlib openssl boost-system boost-date-time boost-regex boost-interprocess websocketpp bro

[2021-01-06 01:37] PhoebeHui commented on #15456
@emmedve1, I can't repro this issue locally, the patch applied successfully.

What errors does patch-x64-windows-static-0-err.log show?

[2021-01-06 01:37] cnSchwarzer commented on #15443
However, the detached thread may cause read access violation (this->clear) after the Timer instance being destructed, a more reliable implementation is needed, I will fork the repo and make some changes.

[2021-01-06 02:09] PhoebeHui commented on #15464
@kuelite, it looks the source messed up, could you get latest clean source and try again?

[2021-01-06 02:17] JackBoosY commented on #15442
@strega-nil Can you please take a look?

Thanks.

[2021-01-06 02:22] JackBoosY commented on #15304
Close this issue via #15314 merged.

[2021-01-06 02:22] #15304 closed

[2021-01-06 02:22] draveness commented on #15088
is there any updates here :)

[2021-01-06 02:33] JonLiu1993 commented on #15088
@draveness ,I will update next

[2021-01-06 02:53] JackBoosY commented on #15461
Should be a port bug, @Kwizatz can you please take a look?

Thanks.

[2021-01-06 02:54] JackBoosY commented on #15459
Due to my lack of knowledge of manifest, let us ask @strega-nil to answer this question.

[2021-01-06 03:09] JackBoosY commented on #13859
@cenit Ping for response.

[2021-01-06 03:11] JackBoosY commented on #13169
@vicroms Can you please take a look?

Thanks.

[2021-01-06 03:17] JackBoosY commented on #14419
@mrchipset Sorry for late, can you provide us a reproduce step?

Thanks.

[2021-01-06 03:31] Kwizatz commented on #15461
@cnSchwarzer Are you configuring your project with CMake? If so, post your CMakeLists.txt file, if not, look for a file named V8Config.cmake somewhere under the installed folder, it may give you some hints on what flags to use.

[2021-01-06 03:36] Kwizatz commented on #15461
Also you may want to look at #13500 for some example usage of the configuration script.

[2021-01-06 03:38] cnSchwarzer commented on #15461
@Kwizatz No, I am not using cmake, I'm using vcpkg directly from vcxproj/msbuild.
Is that mean that the integration of this developing method cannot automatically does these jobs? (Copy snapshot_blob.bin, add `E:\vcpkg\installed\x64-windows\include\include` to include paths, and add compiler flag)
By the way, i think a port should not put include files in a folder named `include`, could we rename

[2021-01-06 03:40] cnSchwarzer commented on #15461
@Kwizatz This type of project.
![image](https://user-images.githubusercontent.com/29846655/103726448-e74b3b00-5013-11eb-9123-e0bfc311fa26.png)

[2021-01-06 03:52] Kwizatz commented on #15461
Correct, using cmake's find_package(V8)  should provide you with a set of variables to add to your include path, library path, and snapshot location so you can automate all with CMake.

I don't know if vcpkg supports something else TBH.

The include path issue can be worked around by adding the path to the include path in the project settings for the compiler, again, CMake does this for you. The p

[2021-01-06 03:58] Kwizatz commented on #15461
Right, that type of project requires you to set everything manually 😕

[2021-01-06 04:00] cnSchwarzer commented on #15461
@Kwizatz Thanks, it seems that I need to learn how to use cmake ^_^. This issue is solved now?

[2021-01-06 04:06] cnSchwarzer commented on #15443
https://github.com/cnSchwarzer/TimerCpp
My implementation solved read access violation, please take a look.
However it uses `boost.thread` as dependency.

[2021-01-06 04:16] Kwizatz commented on #15461
No problem. 👍
Yes I think that may be too complicated, though I am not sure how well integrated VS is with CMake and vcpkg. I usually generate the solution and project files directly with CMake and then open the solution file with VS.

[2021-01-06 04:29] #15461 closed

[2021-01-06 05:42] JackBoosY commented on #15461
Thanks @Kwizatz !

[2021-01-06 07:16] NancyLi1013 commented on #12819
Hi @Todd-Fulton

It seems that this issue has been fixed.

Could you please update VS2019 to the latest version and also update vcpkg to the latest version to rebuild this port?

I can build `capnproto` successfully with Visual Studio Enterprise 2019 16.8.3.

[2021-01-06 08:05] NancyLi1013 commented on #15462
Duplicated to #10683.

[2021-01-06 08:05] #15462 closed

[2021-01-06 08:56] leesureel opened #15476 "[ GDAL ] GDAL Update to 3.2.1"
When asking a question please also include where you looked for an answer (so we can update the documentation if needed).
the version of GDAL lib is too old,please update it

[2021-01-06 09:45] NancyLi1013 commented on #15465
Hi @okayabc

Thanks for posting this issue.

It seems that` cmake -A x86` cannot be supported by Visual Studio. This issue also exists on Visual Studio 2019.

You can remove `-A x86` or update it as  `-G "Visual Studio 14 2015"` or `-DCMAKE_GENERATOR_PLATFORM=WIN32` to build x86 architecture.

[2021-01-06 09:59] XhstormR commented on #10349
I have same error:
[code]

[2021-01-06 09:59] JackBoosY commented on #14607
Sorry for late, I will investigate later.

[2021-01-06 10:05] NancyLi1013 commented on #15448
It seems that you installed `llvm:x86-windows`. But you build your project with x64.

Could you please check this?

Also the install path should be _C:/Users/tsnl/Pandemonium/pdm.vcpkg/dev/vcpkg/installed/x86-windows_.

[code]

[2021-01-06 10:21] okayabc commented on #15465
Thank you, i have used -DCMAKE_GENERATOR_PLATFORM=WIN32 and tested it is useful!

[2021-01-06 10:21] #15465 closed

[2021-01-06 10:31] NancyLi1013 commented on #15405
If you want to build only release type, please set `cmake_build_type=release`.

[2021-01-06 13:57] Holzhaus opened #15477 "Check Available Disk Space after packaging failure"
**Is your feature request related to a problem? Please describe.**
When the disk space runs full, builds will randomly fail. The error logs might not give a clear indication that low disk space is the cause of this failure. When using vcpkg to build dependencies on CI (e.g. GitHub Actions), the low disk space won't be apparent and might lead to people trying to debug the portfile unnecessarily.

*

[2021-01-06 15:42] andrewderryfarrell opened #15479 "[opencv4] arm64-windows build failure"
**Host Environment**
- OS: Windows 10 Pro 20H2
- Compiler: Visual Studio 2019, Version 16.8.3

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install opencv4[core]:arm64-windows`

**Failure logs**
-- Configuring arm64-windows
-- Building arm64-windows-dbg
CMake Error at scripts/cmake/vcpkg_execute_build_process.cmake:145 (message):
    Command failed: C:/vcpkg/downloads/tools/cmake-3.1

[2021-01-06 15:45] kuelite commented on #15464
@PhoebeHui  ，No，I didnt  get latest clean source and try again.  how can i do ?  just re-compiled VTK and GSL once more that i compiled a few days ago?

[2021-01-06 15:47] emmedve1 commented on #15456
Hello @PhoebeHui,

Said log file is empty:

Cheers,

[2021-01-06 15:54] emmedve1 commented on #15456
For reference, here's the non-static triplet build:

[code]

[2021-01-06 15:58] tiaoyuedexin opened #15480 "How do I install OpenVR with vxpkg"
When I installed OpenVR with VCPKG，I Always fails to install it. Show such a problem :
CMake Error at scripts/cmake/vcpkg_check_linkage.cmake:45 (message):
  Refusing to build unexpected dynamic library against the static CRT.  If
  this is desired, please configure your triplet to directly request this
  configuration.
Call Stack (most recent call first):
  ports/openvr/portfile.cmake:2 (vcpkg_ch

[2021-01-06 16:29] Kakiking commented on #15428
[code]

[2021-01-06 16:30] Kakiking commented on #15428
If I try to compile with `g++ main.cpp -lSDL2` it can't find it either, do I need to add the vcpkg folder to PATH?

[2021-01-06 16:48] Krophil opened #15481 "[glad] build failure"
**Host Environment**
- OS: Windows 7
- Compiler: cmake 3.19.2
- Vcpkg version: 2020.11.12-nohash

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install glad:x64-windows`

**Failure logs**
[code]

Content of C:\vcpkg\buildtrees\glad\install-x64-windows-dbg-out.log :
[code]

The fact that I still use Windows 7 can be the real issue...

[2021-01-06 16:56] tsnl commented on #15448
Hello,

It looks like CMake's new Visual Studio 2019 Generators require an extra flag (`-A`) to specify the architecture, otherwise defaulting to x86. Previous generators included the architecture in the generator name.
[code]

[2021-01-06 17:38] strega-nil commented on #15442
@Prometheus88 we don't support macOS earlier than latest, and it seems like perhaps brew doesn't either? it seems like this is an issue with g++10 on macOS 10.14; I don't think there's something we can do about it.

Perhaps try the following:

[code]

and see what happens; additionally, if that works, please upload `/usr/local/Cellar/gcc/10.2.0_1/lib/gcc/10/gcc/x86_64-apple-darwin18/10.2.0/include

[2021-01-06 17:56] StarGate-One commented on #15479
Arm configuration(s) is/are not supported according to the message from the compiler.
You may need to install the C++ Arm components in Visual Studio
1. Open the Visual Studio Installer
2. Select `Individual Components` from the menu
3. Scroll down and check all items with `ARM` in the description - the list is long, so keep scrolling/checking items with `ARM` until you reach the bottom.
![image](

[2021-01-06 18:05] thunduaga commented on #15413
After updating to the newest version of vcpkg (reinstalled) all of the warnings are gone, but this one error still keeps me up at night. Seems like the complaint is in building the pybind11 portion. Note that the system python is currently 3.9.1

Also, quick thank you to you guys for wrangling these issues, I looked over the other related tickets, much appreciated.

**Command**
`sudo ./vcpkg insta

[2021-01-06 18:14] StarGate-One commented on #15464
1. cd [vcpkg-root]
2. `git pull`
3. `.\bootstrap-vcpkg.bat` on Windows or `./bootstrap-vcpkg.sh` on Linux
4. `vcpkg search [search term]`
5. If the above steps fail - delete/recreate vcpkg instance - **NOTE** _This will delete all ports already installed!!!_
6. `vcpkg list >..\list.txt` (Create a list of installed ports in the directory above [vcpkg-root])
7. `cd ..` (to move up a directory)
8. `r

[2021-01-06 18:15] reynoldsbd commented on #14466
(Disclaimer: I work for MS, but not on vcpkg. I just happen to be hitting a similar issue)

Be sure not to confuse triplet and toolchain files. _Triplet_ files are for configuring vcpkg's behavior via setting `VCPKG_*` variables, whereas *toolchain* files are for configuring CMake itself via `CMAKE_*` variables.

In some cases, vcpkg is smart enough to automatically set certain toolchain variables

[2021-01-06 18:18] ThomsonTan opened #15483 "[vcpkg upgrade] vcpkg tries to upgrade Linux package when running on Windows?"
**Describe the bug**
I have installed some packages for both Windows and Linux in the same location (run `vcpkg install` for Linux under WSL) which is very convenient. But when I update vcpkg and tries to run `vcpkg install` on Windows, it seems trying to upgrade the Linux packages too then failed.

[code]

**Environment**
- OS: [Windows 20H2]
- Compiler: Visual Studio 2019

**To Reproduce**
Steps

[2021-01-06 18:42] andrewderryfarrell commented on #15479
@StarGate-One
Thanks for the suggestion. I verified that my VS2019 has the ARM64 build tools for the latest version, 14.28. It appears that is the version that vcpkg is using for opencv as well. I can also successfully build other packages such as boost for arm64-windows which makes me believe I have the required build tools. Are you saying that you can successfully build opencv for arm64-windows

[2021-01-06 18:57] StarGate-One commented on #15479
- This may indeed an ARM bug with opencv4, maybe @cenit could take a moment to see something we cannot?
- No, I have not tried compiling it, as I do not need any of the opencv ports, and they take so long to compile/link/install. I was just responding based on the error in the log file.

[2021-01-06 22:46] cedral opened #15487 "Visual Studio integration allow specifying alternate relative location for vcpkg install"
****

**Is your feature request related to a problem? Please describe.**
We maintain multiple versions of our product on the same build system and vcpkg integrate install appears to fall short on that because there is no obvious way to tie a specific branch to a specific hash of the vcpkg repo. I can do this with source control using a git submodule but vcpkg integrate install which is necessary t

[2021-01-06 22:59] Journeyman-dev commented on #13761
Same issue I posted on simdjson repository: https://github.com/simdjson/simdjson/issues/1375

[2021-01-07 00:52] JackBoosY commented on #15480
Temporary, you can build openvr: x64-windows instead.

[2021-01-07 01:07] ZeroAbility opened #15488 "[icu] --clean-after-build option removes needed files for dependents"
**Describe the bug**
Specifying `--clean-after-build` removes files other dependents may need in order to build properly.

**Environment**
- OS: Windows 10
- Compiler: MSVC 2019

**To Reproduce**
Steps to reproduce the behavior:
1. `./vcpkg install qt5-base:<triplet> --clean-after-build`
2. `qt5-base` fails to build until `icu` is removed and then installed without the `--clean-after-build` flag

[2021-01-07 02:29] JackBoosY commented on #15428
@Kakiking We don't need to do that.
I think we should add some warning message.

[2021-01-07 02:29] JonLiu1993 commented on #13761
@AntonioCS @Journeyman-dev ,Today I will submit a solution to pr

[2021-01-07 02:30] luizfernandonb opened #15489 "[soundtouch] build failure"
**Host Environment**
- OS: `Windows 10 20H2 19042.685`
- Compiler: `CMake 3.19.2`
- Vcpkg version: `2020.11.12-nohash`

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg install soundtouch`

**Failure logs**
[1/2] cmd /c "cd ../../x64-windows-dbg && "C:/Program Files/CMake/bin/cmake.exe" "F:/vcpkg-master/buildtrees/soundtouch/src/undtouch-2-ed25d761b4.clean" "-DCMAKE_MAKE_PROGRAM=F:/vcpkg-m

[2021-01-07 02:36] NancyLi1013 commented on #14466
Sorry, I'm also not clear about this.

@vicroms Could you please help comment something here?

[2021-01-07 02:38] luizfernandonb commented on #15489
i don't know what happened, but i reinstalled the SDK of Windows 10 and worked 🤔

[2021-01-07 02:38] #15489 closed

[2021-01-07 02:43] JackBoosY commented on #15479
cc @cenit

[2021-01-07 02:44] JackBoosY commented on #15483
Hmm...I think that's a vcpkg bug.

[2021-01-07 02:49] StarGate-One commented on #15488
1. `--clean-after-build` deletes all `[vcpkg-root]\buildtrees\[port]\[triplet]-[dbg/rel]` folders and files  (leaving the logs) and all `[vcpkg-root]\packages\[port]_[triplet]` folders and files upon completion of **_each_** port built.
2. If the mumble script needs any of the files within the forementioned directories/sub-folders, then do not include the `--clean-after-build` parameter when invok

[2021-01-07 02:54] thunduaga commented on #15413
I excluded pybind11 from the build.
Initially the results were essentially the same as when I tried this in my [first comment](https://github.com/microsoft/vcpkg/issues/15413#issuecomment-753665233).
Logs show undefined reference to GOMP stuff.

[code]

Using the native/vanilla Windows Power Shell instead of kali / bash through WSL, I successfully ran the command:
`PS C:\kali\vcpkg> .\vcpkg instal

[2021-01-07 02:56] NancyLi1013 commented on #15448
@tsnl

Thanks for your details.

vcpkg will install x86-windows by default if you don't set triplet for the port you install. So If you want to install llvm:x64-windows, you need to set the triplet when installing. Such as `.\vcpkg install x64-windows`.

For building project via cmake, you can use `cmake -G "Visual Studio 16 2019"` or `cmake -A x64` to build x64 architecture.

[2021-01-07 03:14] JackBoosY commented on #15413
I will handle this PR today.

[2021-01-07 03:45] ZeroAbility commented on #15488
We were working around this issue by installing `icu` before installing `qt5-base` without the option, as you described. If you can't reproduce the error with other ports that require it, then it might be related to the `qt5-base` port. We could continue working around the issue. Obviously, keeping Qt component files around after the libraries are built uses a lot of space and it would be nice to

[2021-01-07 04:31] StarGate-One commented on #15488
Tomorrow I will look at the mumble powershell script handling the vcpkg, ports and features installation to see if I can spot something.

I did see during my cursory look that each port is being installed with a vcpkg install for each port.

It is possible a prerequisite port is being installed with default/core only features then later on the same prerequisite port is required needing an optional

[2021-01-07 04:32] ventsin opened #15490 "[fontconfig] build failure"
**Host Environment**
- OS: Linux Manjaro
- Compiler: g++

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install fontconfig`

**Failure logs**
[code]

The mentioned log files are attached.
[autoconf-x64-linux-err.log](https://github.com/microsoft/vcpkg/files/5779601/autoconf-x64-linux-err.log)
[autoconf-x64-linux-out.log](https://github.com/microsoft/vcpkg/files/5779602/autoconf-x64-li

[2021-01-07 05:35] tsnl commented on #15448
@NancyLi1013

Got it. Your help is deeply appreciated, hope you have a great rest of your day.

[2021-01-07 05:35] #15448 closed

[2021-01-07 06:42] JackBoosY commented on #12297
It's a cmake bug: https://gitlab.kitware.com/cmake/cmake/-/issues/21571
Will be fixed by update cmake to the next version.

[2021-01-07 06:51] NancyLi1013 commented on #15490
Hi @ventsin

Thanks for posting this issue.

[code]
Could you please try to install `automake `to rebuild this?

[2021-01-07 07:29] NancyLi1013 commented on #15481
Hi @Krophil

Thanks for posting this issue.

Sorry, I cannot reproduce this on my local. I'm also not sure what happened from above information.

Could you please hep provide `config-x64-windows-out.log`?

[2021-01-07 07:56] draveness opened #15492 "[New Port Request] fast_float"
Library name: fast_float

Library description:Fast and exact implementation of the C++ from_chars functions for float and double types: 4x faster than strtod

Source repository URL: https://github.com/fastfloat/fast_float

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be incl

[2021-01-07 08:00] Neumann-A commented on #15303
2.13.93 is more of a beta release and not a stable version release. As such vcpkg needs to wait for 2.13.4 or 2.14.0 (whatever comes first).
And trying to reproduce the issue the failure seems to occur in pthreads?

[2021-01-07 08:07] ventsin commented on #15490
Thanks for the quick reply. With `automake` I managed to complete the install but I haven't been able to build with this package.
This is the output from make:
[code]

It was generated with this CMakeLists.txt:
[code]

I'm by no means an experienced CMake user, but this CMakeLists.txt worked perfectly in Visual Studio on my Windows machine, so I don't think it's the problem. But then again, I woul

[2021-01-07 08:12] playgithub opened #15493 "[boost-exception] Failed to build in C++17"
OS: Windows
Build tools: VS2019 build tools
vcpkg git commit: 9ddc917
triplet: x64-windows-cpp17

The PR (https://github.com/microsoft/vcpkg/pull/15385) tris to fix the problem, which has been merged to master, but it seems not to work.

*x64-windows-cpp17.cmake*
[code]

*console log*
[code]

*D:\vcpkg\buildtrees\boost-exception\build-x64-windows-cpp17-rel-out.log*
[code]

[2021-01-07 08:37] Neumann-A opened #15494 "[libLAS] Features not being checked in the portfile"
portfile seems to be at least missing a `vcpkg_check_features` call.
The configure call is also using
[code]
but the variables `CMAKE_DISABLE_FIND_PACKAGE_X ` are actually never set within the portfile.

[2021-01-07 09:01] Krophil commented on #15481
[config-x64-windows-out.log](https://github.com/microsoft/vcpkg/files/5780540/config-x64-windows-out.log)
Hi @NancyLi1013
There it is. Sorry, I'm not sure it helps much...

[2021-01-07 09:29] JackBoosY commented on #14607
Hi @MCl57, does this issue still exists?
The command should miss some option:
[code]

[2021-01-07 09:32] JackBoosY commented on #15413
@Hoikas  Did you know why oiio couldn't find python3 in vcpkg _download/tools_ folder?
Although #15221 was merged, this issue still exist.

[2021-01-07 09:36] JackBoosY commented on #15450
@remz1337 Did you use WSL in this scene?

[2021-01-07 09:43] NancyLi1013 commented on #15490
Could you please also provide the content in calc.cpp?

I can build this successfully.
[code]

[2021-01-07 09:53] JackBoosY commented on #15275
vcpkg will compare the status of the port when it is installed with the status of the current port to determine which port should be updated (According to the `portfile.cmake` / patches / `CONTROL` / `vcpkg.json` and other tool-related cmakes).

vcpkg will also automatically obtain the number of cpu cores and use all cores.

I think there is no problem with the current compile time. Cross compilin

[2021-01-07 09:53] simon-p-r opened #15496 "Cannot find libssh2"
**Host Environment**
- OS:  Windows 10
- Compiler: Visual Studio 2015, 2017 and 2019

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Failure logs**
[code]

**Additional context**
I had this issue before, see #2233

[2021-01-07 09:54] NancyLi1013 commented on #15490
You may need to add `find_library(UUID_LIBRARIES NAMES uuid libuuid) `to your CMakeLists.txt. Since `libuuid `is required by `fontconfig `on linux platform.

[2021-01-07 09:58] NancyLi1013 commented on #15481
Could you please also attach _install-x64-windows-dbg-out.log_? Or please help confirm if you have provided the full log in install-x64-windows-dbg-out.log.

Thanks.

[2021-01-07 10:09] ventsin commented on #15490
calc.cpp for now is just a small nana test:
[code]
I tried adding `uuid` as you suggested but the error remains the same. ;(

[2021-01-07 10:19] NancyLi1013 commented on #15496
Hi @simon-p-r

Thanks for posting this issue.

Could you please help confirm if you have set `CMAKE_TOOLCHAIN_FILE `and `VCPKG_TARGET_TRIPLET`?

[2021-01-07 10:46] williamxin opened #15497 "[lua] cmake can not return on linux, while compiling, the cpu usage is 100%, and the task will never end"
**Describe the bug**
when i use lua
cmake can not return on linux, while compiling, the cpu usage is 100%, and the task will never end

**Environment**
- OS: Ubuntu20
- Compiler: cmake 3.16

**To Reproduce**
vcpkg install lua
cmake .. "-DCMAKE_TOOLCHAIN_FILE=~/.vcpkg/scripts/buildsystems/vcpkg.cmake"

**Expected behavior**
compile complete successfully

**Failure logs**
-not any logs

**Additional

[2021-01-07 10:48] Krophil commented on #15481
Yes, sorry it was the same content. Here it is to confirm.
[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/5781118/install-x64-windows-dbg-out.log)

[2021-01-07 10:48] simon-p-r commented on #15496
I reinstalled vcpkg and it is working, problem was with ```VCPKG_TARGET_TRIPLET```.  However I am getting ```WinHttpSendRequest() failed: 12029``` errors when downloading tools, I have manually downloaded for now

[2021-01-07 10:48] #15496 closed

[2021-01-07 11:44] Luke-Filewalker opened #15498 "[glslang] update to 11.1.0"
Library name: glslang

New version number: 11.1.0 or whatever version that is included in the current sdk

In the version currently included with vcpkg, the KHR implementation for ray tracing is not present, please update to newer version.

[2021-01-07 11:48] Hoikas commented on #15413
@JackBoosY It looks like oiio does the same thing as cppcms and uses `find_program()`, so #15221 wouldn't fix it. I will prepare a PR.

[2021-01-07 12:18] polelf opened #15499 "ogre toolchain_fixes.patch mistake"
**Host Environment**
- OS: Windows
- Compiler: visual studio 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install ogre`

in file ports/ogre/toolchain_fixes.patch:

--- a/CMake/Packages/FindZZip.cmake
+++ b/CMake/Packages/FindZZip.cmake
@@ -39,12 +39,12 @@ use_pkgconfig(ZZip_PKGC zziplib)

 findpkg_framework(ZZip)

-find_path(ZZip_INCLUDE_DIR NAMES zzip/zzip.h HINTS ${ZZip_INC_S

[2021-01-07 12:26] Neumann-A commented on #15086
should be fixed in #14678

[2021-01-07 12:27] MCl57 commented on #14607
Hi @JackBoosY,
yes, the issue still exist.
You can use any protobuffer file. I am sending a sample file.

.\protoc.exe example.proto --grpc_out=outpath --plugin="protoc-gen-grpc=F:\vcpkg\installed\x64-windows\tools\grpc\grpc_cpp_plugin.exe"

content of file **example.proto**
`syntax = "proto3";

option java_multiple_files = true;
option java_package = "de.xxx.grpc";

message StatusRequest {
}

mes

[2021-01-07 13:03] Neumann-A commented on #485
Since Intel OneAPI is freely available now and includes the intel fortran compiler ifort we should try to switch from gfortran to ifort if it is possible to install Intel OneAPI on the CI machines.  This should in theory cleanly resolve the CRT problems.

[2021-01-07 13:14] polelf opened #15501 "imgui:x86-windows should be shared library"
imgui:x86-windows should be shared library not static library

[2021-01-07 14:50] dweckmann opened #15502 "VTK - ITK - HDF5 Conflicts and are unusable together"
**Describe the bug**

Using both VTK and ITK in a project leads to strange problem around hdf5 when calling FindPackage(ITK ...):

[code]

**Environment**
- OS: Windows 10
- Compiler: Microsoft (R) C/C++ Optimizing Compiler Version 19.28.29335 for x64

**To Reproduce**
Steps to reproduce the behavior:
1. use cmake
[code]

**Additional context**

The error message come from hdf5, but this seems to

[2021-01-07 14:59] remz1337 commented on #15450
Sorry for the confusion. To clarify, I tested all these ports on 3 environments: my Windows 10 machine, a virtualized CentOS7 through WSL2 on my Windows 10 machine and a remote compute cluster running CentOS7.

- Windows 10: No issues
- CentOS7 through WSL2: No issues
- CentOS7 on compute cluster: Some ports fail (results in previous comment)

So I think it's has something to do with that specific

[2021-01-07 15:04] Taylor-Philip commented on #3825
I think that a part of the problem may be, that under Windows 7 64-bit Enterprise at least, one cannot " install C++ features from Visual Studio Installer".  It is necessary to first "" install the Visual Studio [2019 Enterprise] Installer" and then modify its configuration to support C++ (and any others features that do not come supported out of the box).

Philip Taylor

[2021-01-07 15:28] Neumann-A commented on #15502
`add_library(hdf5::hdf5 ALIAS hdf5::hdf5-(static|shared))`
needs to be replaced with a
`add_library(hdf5::hdf5 INTERFACE IMPORTED)`
and setting the INTERFACE_LINK_PROPERTIES to link against one of the hdf5 targets instead of promoting the targets to global scope. Same for LZ4 and PEGTL

[2021-01-07 15:29] Overlordff opened #15503 "[sqlite-orm] Update to 1.6"
Library name: sqlite-orm
https://github.com/fnc12/sqlite_orm

New version number: 1.6
https://github.com/fnc12/sqlite_orm/releases/tag/1.6

[2021-01-07 16:33] dweckmann commented on #15502
Thanks, I will test that. Should I do A PR for that ?

[2021-01-07 16:45] lemire commented on #13761
The simdjson library definitively support Microsoft Visual Studio Community 2019 under a 64-bit Windows.

Here is the relevant code in our CMake build...

[code]

[2021-01-07 17:20] DietmarSchulz opened #15505 "vcpkg install opencv[contrib] does not work neither for x86 nor for x64"
[code]

[2021-01-07 17:47] ZeroAbility commented on #15488
It appears our script might have been installing `icu` individually as expected. We were also doing the same thing with `mdnsresponder`. I have revised the script and am testing it now.

[2021-01-07 18:13] strega-nil commented on #15459
@jgbradley1 unfortunately, we don't have the full stuff worked out for this. However, yes, your understanding is correct; you should be using the `overlay-ports` feature.

I would recommend placing all ports that you want to override into a directory, maybe called `overlay-ports` in the root of your repository. Then, once you've done this, add the following to your `CMakeLists.txt`, before the `pr

[2021-01-07 18:32] Prometheus88 commented on #15442
Hey! Thanks both for reaching out to me!

I got it working! I ran `brew upgrade-reset` and afterwards I removed gcc via `brew uninstall gcc `

When i use now clang instead of gcc, it works just fine.

However, i am still not able to install vcpkg as it is, as you already mentioned, not supported for my OS version that i am currently using, but that's fine. I also get now the message that tells me

[2021-01-07 18:32] #15442 closed

[2021-01-07 21:06] StarGate-One commented on #15505
- **opencv3** is already **_installed_**, so vcpkg will **not** install _opencv, opencv2 or opencv4_ until **opencv3** is **_removed_**.

- vcpkg at present allows only one opencv port installed at a time:
  Either opencv **OR** opencv2 **OR** opencv3 **OR** opencv4.

[2021-01-07 21:25] BillyONeal commented on #15441
Because there's no msvc or gcc rust compiler, for example, so it is not seamless.

There is some precedent for it (we have 1 or 2 ports that depend on gfortran on macos for example) but it isn't a first class experience.

[2021-01-07 21:31] DietmarSchulz commented on #15505
Thanks, that helped!

Does that also apply to opencv3[cuda]:x64-windows?

Thanks in advance!

Regards

Dietmar

Von: StarGate-One <notifications@github.com>
Gesendet: Donnerstag, 7. Januar 2021 22:07
An: microsoft/vcpkg <vcpkg@noreply.github.com>
Cc: DietmarSchulz <dietmar@schulzi-family.de>; Author <author@noreply.github.com>
Betreff: Re: [microsoft/vcpkg] vcpkg install opencv[contrib] does not w

[2021-01-07 21:35] StarGate-One commented on #15488
@ZeroAbility
- I wrote a cmd/bat windows batch file to run x64-windows-static-md 2 different ways, 2 different vcpkg instances
  - Option 1 runs the port installs in the order from the `get_mumble_dependencies.ps1` powershell scripts
  - Option 2 run the port installs from one command line entry
  - Both use the --clean-after-build and --debug options
  - Neither failed install on any port
  - Bot

[2021-01-07 21:36] DietmarSchulz commented on #15505
No, it doesn’t:

vcpkg install opencv3[cuda]:x64-windows --recurse

Computing installation plan...

The following packages will be rebuilt:

    opencv3[contrib,core,cuda,dnn,ffmpeg,flann,jpeg,opengl,png,tiff,webp]:x64-windows -> 3.4.10#4

Starting package 1/2: opencv3:x64-windows

Removing package opencv3:x64-windows...

Removing package opencv3:x64-windows... done

Elapsed time for package openc

[2021-01-07 21:42] BillyONeal commented on #15122
@ankurverma85 Thanks for your PR :)

[2021-01-07 21:50] StarGate-One commented on #15505
Yes, regardless of the features selected only 1 opencv**X** port can be installed.

If you `vcpkg install opencv3[contrib,core,cuda,dnn,ffmpeg,flann,jpeg,opengl,png,tiff,webp]:x64-windows` then
`vcpkg install opencv3[contrib,core,png,tiff,webp]:x64-windows` will fail.

[2021-01-07 21:58] Taylor-Philip opened #15508 "[fontconfig] build failure on Windows 7"
**Host Environment**
- OS: Windows 7 64-bit Enterprise
- Compiler: revision — not known, whatever the default "bootstrap-vcpkg.bat" invoked.

**To Reproduce**
Steps to reproduce the behaviour:
vcpkg update
vcpkg install --triplet=x64-windows-static fontconfig freetype harfbuzz[icu,graphite2]

**Failure logs**
[code]
"O:\vcpkg-master\buildtrees\fontconfig\autoconf-x64-windows-static-err.log" ->
[co

[2021-01-07 22:00] Hoikas commented on #15413
This was a "fun" one to work on... Three pull requests: #15506, #15507, and #15509.

[2021-01-07 22:43] Neumann-A commented on #15502
if you have it fixed why not?

[2021-01-07 22:43] StarGate-One commented on #15483
- I think sharing an instance between platforms is bad business looking for trouble, but ....
- Is it a bug or is it because vcpkg thinks these were cross-compiled?
- How would/should vcpkg know when a port/triplet was compiled from windows or WSL or macOS in a case of a vcpkg shared instance on a say a network drive (or in this case the same file system between WSL and Windows).
- I created a tes

[2021-01-07 22:51] Neumann-A commented on #15508
seems like `vcpkg_acquire_msys` needs to acquire msys tar. Strange that it does not create problems before. Is this a windows 7 issue?

[2021-01-07 23:04] NauhWuun opened #15511 "hope support libsnark"
Library name: libsnark

Library description: a C++ library for zkSNARK proofs

Source repository URL: https://github.com/scipr-lab/libsnark

Project homepage (if different from the source repository): https://github.com/scipr-lab/libsnark

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2021-01-07 23:06] Neumann-A commented on #15381
- Better crosscompiling strategy/design? (Requires at least #15424)

probably with a global escape hatch like VCPKG_NO_NINJA or defining the cmake generator globally in the triplet.

[2021-01-07 23:09] Neumann-A commented on #15490
#15144 should close your linkage issue

[2021-01-07 23:37] StarGate-One commented on #15508
- I have fontconfig installed on Windows 10 with two different instances using VS2017 and VS2019?
- The OP OS is Windows 7 x64 Ent... Wonder if that causing the issue?
- I did a test using a new/vanilla vcpkg instance 01/07/2021 at 18:15 EST (GMT -5) x64-windows triplet with all packages installed without a `tar` issue!
- See attached log with `--debug` option
[test.zip](https://github.com/microso

[2021-01-08 00:01] StarGate-One commented on #15508
I tried again using `x64-windows-static triplet` - no issues
[test.zip](https://github.com/microsoft/vcpkg/files/5784473/test.zip)

[2021-01-08 02:20] JackBoosY commented on #15450
I've no idea... @vicroms can you please take a look?

Thanks.

[2021-01-08 02:41] JackBoosY commented on #15381
Related #15173.

[2021-01-08 02:41] ZeroAbility commented on #15488
@StarGate-One

I appreciate the help. I have submitted a PR for the revised script that installs all packages as an array param to the powershell function, as you suggested.

That seems like a lot of potential pitfalls when people already have a partial prerequisite installed and have to remove that and possibly other packages in order to satisfy the requirements of both needed dependents. A lot o

[2021-01-08 02:42] JackBoosY commented on #15381
Will be resolved in the near future.

[2021-01-08 02:50] JackBoosY commented on #15501
Nope, according to the official documentation, imgui should be used as a header-only library, because all its symbols must be usable in custom projects (all symbols are not decleared as export in all platform).
At present, in vcpkg, imgui is only built as a static library for the same reason as above. The static library can export all symbols.

[2021-01-08 03:50] polelf commented on #15501
ogre component ogreBites ogreOverlay both use imgui
static imgui library cause ogreBites.dll ogreOverlay.dll two ImGuiIO instances  to be generated

[2021-01-08 04:03] polelf commented on #15501
ogre component ogreBites ogreOverlay both use imgui
static imgui library cause ogreBites.dll ogreOverlay.dll two ImGuiIO instances to be generated but ogre engine just need one ImGuiIO

[2021-01-08 05:02] draveness opened #15515 "prometheus-cpp update to 0.11.0"
Library name: prometheus-cpp

New version number: 0.11.0

Other information that may be useful (release notes, etc...)

[2021-01-08 05:44] JonLiu1993 commented on #15515
@draveness ,Thanks for posting this issue,I noticed that the latest version of prometheus-cpp has been v0.11.0, you can update the latest vcpkg and try to build and use

[2021-01-08 05:58] JackBoosY commented on #15497
Confirmed. Thanks for reporting this issue!

[2021-01-08 06:11] JonLiu1993 commented on #15515
Duplicate to #15406

[2021-01-08 06:11] #15515 closed

[2021-01-08 06:15] BillyONeal commented on #14995
Note that while we can provide a pre-built `vcpkg.exe`, the cloning of the git repo can't be avoided in the general case because the ports tree lives in there too.

[2021-01-08 06:21] mrchipset commented on #14419
1. First, when the intel MKL is installed, it will install an integration tool to visual studio. Then we can configure the C++ project with MKL support conveniently.
2. But when I follow the official vcpkg install document. And integrated the vcpkg to visual studio 2019. The MKL support tab has been disappeared from project property window.
3. I have tried re-install the Intel Math Kernel library,

[2021-01-08 06:59] NancyLi1013 commented on #15481
Sorry, I cannot get any conclusion why you build failed according to current information.

Could you please try to comment out `PREFER_NINJA` in `vcpkg_configure_cmake() `to rebuild this port?

[2021-01-08 07:14] ssylvan opened #15518 "Documentation lists git as a pre-requisite. It does not seem to be."
**Describe the bug**
Documentation bug: it lists git as a pre-requisite. But if you download vcpkg from github, and run the rest of the steps it still seems to work fine without git installed.

**Environment**
- OS: Windows 10

**To Reproduce**
Steps to reproduce the behavior:
1. Download vcpkg from github (do not use git clone). Make sure git is not installed.
2. Run bootstrap, install some lib (

[2021-01-08 08:22] JackBoosY commented on #15501
cc @ras0219 @ras0219-msft

[2021-01-08 08:41] JackBoosY commented on #14419
@ras0219 @ras0219-msft Can you please take a look?

Thanks.

[2021-01-08 09:02] JackBoosY commented on #15499
Hi @polelf,
When I use:
[code]

No errors occur here.
Can you provide a sample project to repro it?

Thanks.

[2021-01-08 09:16] JackBoosY commented on #14607
Debug:
[code]
Release:
[code]

No error occurred.

[2021-01-08 10:41] Taylor-Philip commented on #15508
Two questions, if I may ? Should I have replaced "[<port name>]" with something more meaningful in the thread subject, and if so, how would I go about ascertaining the correct replacement; and how should I ascertain the answer to "Compiler: revision" ?

[2021-01-08 10:42] polelf commented on #15499
to build ogre samples Browser

polelf@tom.com

From: Jack·Boos·Yu
Date: 2021-01-08 17:02
To: microsoft/vcpkg
CC: qiujun; Mention
Subject: Re: [microsoft/vcpkg] ogre toolchain_fixes.patch mistake (#15499)
Hi @polelf,
When I use:
add_executable (CMakeProject2 "CMakeProject2.cpp" "CMakeProject2.h")
find_package(OGRE CONFIG REQUIRED)
target_link_libraries(CMakeProject2 PRIVATE OgreMain OgreBites OgreP

[2021-01-08 11:02] albertziegenhagel commented on #15065
One problem that might come up with Intel Fortran in the future is 32-bit support. From the documentation:

So while `ifort` still supports 32-bit targets at the moment, we do not know when this "future release" will happen. Additionally I do not know whether Intel plans to eventually replace `ifort` by `ifx`.

But for the moment `ifort` could be a good path forward. My question would be whether w

[2021-01-08 11:40] danielebosetti opened #15523 "[sanity check] fails due to "different serialized paragraph", but paragraphs are actually identical"
**Describe the bug**
I tried packaging a library using "vcpkg create try-ppeureka https://github.com/shadowxiali/ppeureka/archive/0.0.2.tar.gz", and then edited the portfile.
Then I ran "vcpkg install try-ppeureka", which failed with this log:

`[sanity check] The serialized binary paragraph was different from the original binary paragraph.
Please open an issue at https://github.com/microsoft/vcpk

[2021-01-08 11:41] danielebosetti commented on #15523
Note, not sure why vcpkg complains about a "different serialized paragraph"? These seems to be identical

[2021-01-08 11:42] danielebosetti commented on #15523
My vcpkg.json is
`{
  "name": "try-ppeureka",
  "version-string": "0.0.1",
  "homepage": "",
  "description": "",
  "dependencies": [],

  "default-features": [],
  "features": [
  ]
}`

[2021-01-08 11:51] cmaughan opened #15524 "[yoga] <add .cmake configuration for paths and libs>"
****

**Is your feature request related to a problem? Please describe.**
vcpkg install yoga does not return any CMake package instructions; so it is hard to link to the libraries or get the headers

**Proposed solution**
Add the usual CMake/find_package support

**Describe alternatives you've considered**
Is there a clean way to get the paths to the library or headers that have been installed?

**

[2021-01-08 11:57] danielebosetti commented on #15523
(update) the installation succeeds after I edited the vcpkg.json file to be:

{
  "name": "ppeureka",
  "version-string": "0.0.1",
  "homepage": "asd",
  "description": "asd",
  "dependencies": [],

  "default-features": [],
  "features": [
    {
      "name": "test",
      "description": "asd",
      "dependencies": []
    }
  ]
}

[2021-01-08 13:03] dgengin opened #15525 "External code being injected into binary"
**Describe the bug**
The binaries built using GitHub Actions are around 600KB bigger than my local buids. Upon inspection of the binaries, I saw a bunch of javascript code injected into it.

The artifacts are built using a Windows-2019 image and use vcpkg to fetch sfml and physfs. Although I override the port with a custom one in some actions, I don't do this in all and all of the artifacts that a

[2021-01-08 13:52] Neumann-A commented on #15065
I pushed a `x64-windows-ifort` triplet to PR #15053.
One thing i noticed is that we need to install a vcpkg-cmake-wrapper.cmake for blas and probably for lapack to force the BLAS|LAPACK_VENDOR so that cmake is not picking up the now provided mkl libraries by acciedent.

[2021-01-08 15:24] O-Tom opened #15526 "[gdal:x64-windows-static] missing geos dependencies"
**Host Environment**
- OS: Windows 10 build 1607
- Compiler: Visual C++ 2017 00370-20001-21499-AA108 / VisualStudio.15.Release/15.9.29+28307.1300

**To Reproduce**
Steps to reproduce the behavior:
- `.\vcpkg install gdal --triplet=x64-windows-static`
- Write a basic program using gdal and compile/link with cmake.

Linking fails with missing symbols errors from the geos library.
Manually adding the

[2021-01-08 15:24] MrROBUST opened #15527 "[draco] Can't link drakodec.lib with target_link_libraries, usage file missing"
Hello, after installing this library in vcpkg, it doesn't show how to use it.

I am trying to use the [draco] decoding support of the [tinygltf] library with this simple program example (main.cpp):

CMakeLists.txt

The project is built by Cmake using the vcpkg toolkit. Building with the Visual Studio 2019 compilers generates some linkage errors:

It looks like Draco header files can be found autom

[2021-01-08 16:28] lemire commented on #13761
Ping @myd7349

[2021-01-08 16:44] kuelite opened #15528 "[qwt:x64-windows] build failure"
**Host Environment**
- OS: Windows10
- Compiler: MSVC142

**To Reproduce**
Steps to reproduce the behavior:
.\vcpkg install qwt:x64-windows

**Failure logs**
Starting package 1/20: freetype:x64-windows
Building package freetype[brotli,bzip2,core,png,zlib]:x64-windows...
-- Trying auto-select mirror...
-- Using cached I:/src/vcpkg/downloads/freetype-2.10.4.tar.xz
-- Skipping hash check for I:/src/v

[2021-01-08 18:16] Straubm opened #15532 "HttpSendRequest fails with error code 12029"
Hi there,
this is my first post here, so greetings to all.

Since a few days, out of the blue, I'm getting a HttpSendRequest error 12029 when installing a package. That's from Windows 10 cmd.
The URL works in the browser though.

I did not change anything AFAIK. Might be there was a WIndows update meanwhile.

Any ideas?

[2021-01-08 18:46] #10349 closed

[2021-01-08 18:57] morphogencc commented on #7877
Just ran into the same problem still -- it's be great if vcpkg could just add `vcpkg\installed\x64-windows\include\bullet` to the include path, which would likely solve the problem.

[2021-01-08 19:00] wolfpld opened #15534 "Failed builds result in silent removal of packages to be upgraded"
Duplicate of #13892, as expected, as there was no proper fix for the original issue, due to lack of interest in understanding the core problem here.

[code]

Left with broken environment and unable to easily redo the upgrade operation...

[2021-01-08 19:55] #15122 closed

[2021-01-08 20:02] StarGate-One commented on #15488
You are most welcome!

[2021-01-08 20:07] Neumann-A commented on #15065
hmm having underscore issues with ifort due to intel not adding trailing underscores to fortran libraries on windows. https://community.intel.com/t5/Intel-Fortran-Compiler/Intel-Fortran-External-Library-Linking-Issue/m-p/1181668/highlight/true#M148897

[2021-01-08 20:10] StarGate-One commented on #15508
`<port name>` should be the port that has failed, in this case **fontconfig**.
`revision` should be the information, make/version of the C/C++ compiler this port build failed on.
We can only guess it is either one that runs on windows, but the list is quit long, but the one used to compile vcpkg could be different than the one used to build fontconfig.
You are the developer, you should know whose

[2021-01-08 20:12] StarGate-One commented on #14679
Thank you everyone.

[2021-01-08 20:12] #14679 closed

[2021-01-08 20:20] Taylor-Philip commented on #15508
Ah, thank you for that, StarGate One.  In fact, I am not the developer at all, just a humble mortal who was interested in trying out "<a href="https://tectonic-typesetting.github.io/en-US/">The Tectonic Typesetting System</a>".  Unfortunately there is no ready-built Windows version, so I was simply attempting to follow the <a href="https://tectonic-typesetting.github.io/en-US/install.html">instruc

[2021-01-08 22:10] shubhamr2511 opened #15535 "[mlpack[tools]:x64-windows] build failure"
**Host Environment**
- OS: Windows 10 Pro
- Compiler: MinGW-w64 8.1.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install mlpack[tools]:x64-windows`

**Failure logs**

Starting package 164/164: mlpack:x64-windows
Building package mlpack[core,tools]:x64-windows...
-- Downloading https://github.com/mlpack/mlpack/archive/7ae9ddda86c1751b6509ceb48b27d182feaae439.tar.gz...
-- Extracting

[2021-01-08 22:27] StarGate-One commented on #15534
@wolfpld To be honest I stopped using vcpkg upgrade about 3-4 months ago.
It is problematic and seems to have been forgotten functionality in the zest to add new features.
- There is no help documentation `vcpkg help upgrade` give Error: unknown topic upgrade
- When it fails there is no recovery, except manual methods
- The option to download with aria2c does not exist
- The option of --editable

[2021-01-08 22:36] StarGate-One commented on #15535
Please attach the file `C:\Users\Shubham\vcpkg\vcpkg\buildtrees\mlpack\install-x64-windows-rel-out.log` to this issue in the dashed box below the write tab and above the comment button

[2021-01-08 22:48] StarGate-One commented on #15532
Cause
This problem occurs because Windows is not configured to use TLS 1.2 or 1.3 protocol and the hosted site has disabled support for TLS 1.0 and 1.1 in their on-premises environment (TLS 1.0 and 1.1 are nearing end-of-life, not to mention a security risk and many hosting sites have started disabling/phasing it out).

Error "12029" is a WinHTTP error code that indicates that a socket connection

[2021-01-08 22:56] dennisameling commented on #1653
For anyone reading this: the first line needs to be `set(X_VCPKG_APPLOCAL_DEPS_INSTALL ON)`, with the `X_` in front of it (experimental feature). See the relevant PR for details: https://github.com/microsoft/vcpkg/pull/14243

Can confirm this works - https://github.com/git-for-windows/git/pull/2971 🎉

Thanks @sandercox!

[2021-01-08 22:57] StarGate-One commented on #15528
Is ZLIB and LIBPNG for x64-windows installed?
If they are installed try removing them and reinstalling...

[2021-01-08 23:04] lemire commented on #13761
@JonLiu1993 Posted an issue downstream regarding the port.

https://github.com/simdjson/simdjson/issues/1383

It seems that provided CMake instructions are incorrect.

The following works for me:

[code]

The provided instructions do not make sense to me. For example, `simdjson::simdjson-source` does not get installed (nor should it), so I do not see how you could establish a dependency with this

[2021-01-08 23:13] jgbradley1 commented on #15459
Thanks @strega-nil . I think having the ability to pass additional configuration parameters to a library build is a feature many users will want for multiple use cases.

As of right now, vcpkg must assume that a single library's default behavior will build support across all platforms and hardware devices out of the box when that is very much not the case. A good example is building a library with

[2021-01-08 23:13] #15459 closed

[2021-01-08 23:23] Neumann-A commented on #13761
@lemire That is an automatically generated usage extracted from the provided targets in the simdjson-config.cmake. As it seems simdjson exports a lot of targets which are unnecessary to be exported or even unuseable if exported. The only reason they are getting exported is because of the misuse of targets in simdjson and cmake giving and error otherwise.

[2021-01-08 23:35] shubhamr2511 commented on #15535
[install-x64-windows-rel-out.log](https://github.com/microsoft/vcpkg/files/5789760/install-x64-windows-rel-out.log)

[2021-01-08 23:52] StarGate-One commented on #15525
- I found a lot of text (many language), and maybe javascript in port brotli
- the code is in the obj, lib, dll and exe files under the buildtrees\brotli\[triplet]-[dbg or rel] build directories
- found none in the sources unless it is obfuscated in some way?
- Port SFML (and many others) use port brotli, but I build everything dynamic so it is only in my brotli files..

[2021-01-09 00:10] Fechulo opened #15536 "[cpprestsdk] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: Visual Studio 2019 (I'm not sure that's what you're looking for)

**To Reproduce**
Steps to reproduce the behavior:
`.vcpkg install cpprestsdk`

**Failure logs**
[code]

**Additional context**
I'm not sure whether this is the right place to post, but any help would be appreciated. I'm trying to implement a simple websocket client using the cpprest

[2021-01-09 00:36] lemire commented on #13761
@Neumann-A Ah. Let us see what we can do about that.

[2021-01-09 00:41] StarGate-One commented on #15535
(compiler file 'd:\A01\_work\3\s\src\vctools\Compiler\Utc\src\p2\main.c', line 212)
 To work around this problem, try simplifying or changing the program near the locations listed above.
If possible please provide a repro here: https://developercommunity.visualstudio.com
Please choose the Technical Support command on the Visual C++
 Help menu, or open the Technical Support help file for more infor

[2021-01-09 00:48] kuelite commented on #15528
It works! Thank you!
I did install ZLIB and LIBPNG for x64-windows, but why missing?

[2021-01-09 02:40] longnguyen2004 commented on #15535
If you want to use a Mingw-w64 toolchain, you need to use the `x64-mingw-statc` or `x64-mingw-dynamic` triplet, not `x64-windows`

[2021-01-09 02:47] longnguyen2004 commented on #14928
I'll take a look at it.

[2021-01-09 03:26] playgithub opened #15539 "What about supports for auto checking for different C++ standards?"
some package in vcpkg repo doesn't support C++ 17 well, it can block the job.
What about let auto checking on github check for different C/C++ standards.

[2021-01-09 03:42] longnguyen2004 commented on #10419
@BasixKOR I can't repro this currently, seems this has been fixed at some point.
[code]
Inspection with `nm` also shows that `fmt::v7::vprint(fmt::v7::basic_string_view<char>, fmt::v7::format_args)` (`_ZN3fmt2v76vprintENS0_17basic_string_viewIcEENS0_11format_argsE`) is present.

[2021-01-09 03:49] longnguyen2004 commented on #9749
Issue cleanup: This has been fixed a while ago by me.

[2021-01-09 07:38] #15464 closed

[2021-01-09 08:27] Straubm commented on #15532
TLS 1.1, TLS 1.2, TLS 1.3 both are enabled for winhttp (at least now). I checked the relevant registry keys.

Still no luck.

Btw, the mirror site/file is https://github.com/Kitware/CMake/releases/download/v3.19.2/cmake-3.19.2-win32-x86.zip

But then, thanks for your help anyways.

Von: StarGate-One <notifications@github.com>
Gesendet: 08 January 2021 23:49
An: microsoft/vcpkg <vcpkg@noreply.githu

[2021-01-09 08:28] Straubm commented on #15532
Ah, on more question. Which IP ports are used for the connection?

Von: StarGate-One <notifications@github.com>
Gesendet: 08 January 2021 23:49
An: microsoft/vcpkg <vcpkg@noreply.github.com>
Cc: Martin Straub <Develop@worldinone.at>; Author <author@noreply.github.com>
Betreff: Re: [microsoft/vcpkg] HttpSendRequest fails with error code 12029 (#15532)

HttpSendRequest error 12029

Cause
This proble

[2021-01-09 10:53] dgengin commented on #15525
Yes, it appears to be in the brotlicommon project. there's a big array in dictionary.c which is including all that javascrript. It starts with this text: "timedownlifeleftbackco".
I also found the same text in most major browsers which also use it. It's a bit annoying having such an increase in the size of the binary for this. I guess I'll have to live with it, as most project won't bother to unde

[2021-01-09 11:50] albertziegenhagel commented on #15065
When I had support for `ifort` in my first tries to add fortran support to vcpkg, I added the flags `-names:lowercase` [1] and `-assume:underscore` [2] to the fortran compile options. Maybe this can solve the problems you are seeing?

[1] https://software.intel.com/content/www/us/en/develop/documentation/fortran-compiler-oneapi-dev-guide-and-reference/top/compiler-reference/compiler-options/compil

[2021-01-09 11:56] faserg1 commented on #12275
CMakeLists.txt for GTK is writed for win32 only... I'll try to fix this in my next PR on the road to build gtkmm for Linux.

[2021-01-09 12:07] Straubm commented on #15532
I'm closing the issue. Obviously vcpkg is not involved. After downloading one or two files manually, package installation miraculously worked. I'm suspecting it's the virus protection (Bitdefender). Not so much that it would block something (there would be an alert/report), I feel it's more of a timing issue. Why that should lead to error 12029 I cannot conceive.

[2021-01-09 12:07] #15532 closed

[2021-01-09 12:46] shubhamr2511 commented on #15535
@longnguyen2004 thanks!

[2021-01-09 12:49] Neumann-A commented on #15065
I tried different settings but the problem is iforts defeault mangling on Windows. Adding the lowercase and underscore flags the error building Lapack is:
[code]

ETIME is a Fortran library function and is not exported as etime_ in the fortran libraries intel ships. There everything is uppercase without any trailing underscore. Intel seems to make the built fortran libraries on windows incompatibl

[2021-01-09 15:05] traversaro commented on #15250
By inspecting the log, the error seems to be:

I guess this is due to this bug in CMake 3.19.0 and 3.19.1 : https://gitlab.kitware.com/cmake/cmake/-/issues/21529 . I did not checked, but I guessed probably it should be fixed by using CMake 3.19.2 .

[2021-01-09 15:25] traversaro commented on #15011
I do not know if it related, but the homebrew's Formula of irrlicht has two macOS-specific patches to the 1.8.4 codebase, one of which is related to the `source/Irrlicht/MacOSX/CIrrDeviceMacOSX.m` source code, perhaps it could make sense to try to use them also in the vcpkg port of irrlicht.

[2021-01-09 15:26] traversaro commented on #15011
Furthermore, the homebrew formula is using the included Xcode build system (https://github.com/Homebrew/homebrew-core/blob/HEAD/Formula/irrlicht.rb#L40), while the vcpkg port is using a custom CMake build system.

[2021-01-09 15:46] draveness commented on #15515
sorry, forget already raise the issue

[2021-01-09 16:12] #15528 closed

[2021-01-09 16:49] kuelite opened #15542 "[tensorflow[*]:x64-windows] build failure"
**Host Environment**
- OS: Windows10
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
.\vcpkg install  tensorflow[*]:x64-windows

**Failure logs**

PS C:\Users\mmd> cd I:\src\vcpkg
PS I:\src\vcpkg> .\vcpkg install  tensorflow[*]:x64-windows
Computing installation plan...
The following packages will be built and installed:
    tensorflow[core]:x64-windows -> 2.3.1
Detecting c

[2021-01-09 19:59] Neumann-A commented on #15065
@albertziegenhagel ok got it to work in that PR needed to add a small preprocessor patch for lapack.

[2021-01-09 20:39] strega-nil commented on #15459
@jgbradley1 for what it's worth, that's what features are for.

[2021-01-09 21:11] faserg1 commented on #12275
Tried to build with make, and run into several problems: there must be `atk-bridge-2.0`, that is delivers separately of ATK package we have.

[2021-01-09 22:26] Luke-Filewalker commented on #15501
The reason why there are two instances is probably because of the situation JackBoosY explained. The imgui instances used in the dlls are not exported, therefore each ogre dll does not know of the other one and creates a new one. The only fix for this is to make them static or somehow export/pass the imgui data between them.

[2021-01-09 22:28] vmiheer opened #15544 "[liblzma] build failure"
**Host Environment**
- OS: Linux
- Compiler: gcc version 10.2.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install liblzma`

**Failure logs**
[code]
**Additional context**
Add any other context about the problem here, such as what you have already tried to resolve the issue.

[2021-01-09 22:31] vmiheer commented on #15544
[buildtree.tar.gz](https://github.com/microsoft/vcpkg/files/5791927/buildtree.tar.gz)

[2021-01-09 22:35] aholzinger opened #15545 "[boost-system] Need to define BOOST_SYSTEM_USE_UTF8"
****

**Is your feature request related to a problem? Please describe.**
On Windows Boost.System error messages are scrambled on non latin 128 bit Windows systems. On a german system an invalid handle value error message without defining BOOST_SYSTEM_USE_UTF8 looks like this "Das angegebene Dateihandle ist ung³ltig" while it should look like this "Das angegebene Dateihandle ist ungültig". This is

[2021-01-09 22:41] vmiheer commented on #15544
This prevents installing `boost-iostreams`.

[2021-01-09 22:47] morphogencc opened #15546 "[paho-mqtt] update to 1.3.8"
Library name: paho-mqtt

New version number: 1.3.8

Other information that may be useful (release notes, etc...):
Current version is 1.3.1 (last updated August 6 2019); the newest release was 14 days ago.  The current build on vcpkg does not support static builds using the `x64-windows-static` triplet; there was an error with the core library that the author claims to have fixed.

https://github.c

[2021-01-09 22:48] morphogencc opened #15547 "[paho-mqttpp3] update to 1.2.0"
**Library name:** paho-mqttpp3

**New version number:** 1.2

**Other information that may be useful (release notes, etc...):**

Current version is 1.1 (released Oct 2019); the latest 1.2 release was released in Dec 2020.

https://github.com/eclipse/paho.mqtt.cpp/releases/tag/v1.2.0

[2021-01-09 23:24] Neumann-A opened #15548 "[intel-mkl] not detecting intel mkl from Intel oneAPI"
OneAPI MKL is located in
`Program Files (x86)/Intel/oneAPI/mkl/latest`

and not
`Program Files (x86)/IntelSWTools/compilers_and_libraries/windows`

[2021-01-10 00:42] StarGate-One commented on #15548
Similar - same software, directory changed - different platform(s) `[intel-mkl:x64-linux] build failure` #15204

[2021-01-10 00:47] vicroms commented on #9749
Thanks @longnguyen2004 for fixing this issue

[2021-01-10 00:47] #9749 closed

[2021-01-10 01:20] byliut opened #15550 "Error: Building package boost-build:x86-windows failed with: BUILD_FAILED"
When asking a question please also include where you looked for an answer (so we can update the documentation if needed).
operating system: windows 10 2004
when i execute "vcpkg install pcl", it shows like that:
C:\dev\vcpkg\vcpkg>vcpkg  install pcl
Computing installation plan...
The following packages will be built and installed:
  * boost-algorithm[core]:x86-windows -> 1.75.0
  * boost-align[cor

[2021-01-10 03:22] longnguyen2004 opened #15551 "[mpg123] Use CMake build system"
****

**Is your feature request related to a problem? Please describe.**
The `mpg123` library supports building with CMake using the CMakeLists.txt inside `ports/cmake`

**Proposed solution**
Use the CMake build system.

[2021-01-10 05:09] polelf commented on #15501
to build ogre samples Browser ImguiDemo, You will find all the problems

[2021-01-10 06:13] Voskrese commented on #15548
ENV = INTEL_ROOT

`Program Files (x86)/Intel/oneAPI/mkl/latest`

or

`Program Files (x86)/IntelSWTools/compilers_and_libraries/windows`

?

[2021-01-10 06:53] soumyamahunt commented on #15339
What about msbuild?? When I switch to using vcpkg port instead of nuget package I get linking errors. Is the cppwinrt port only for cmake??

[2021-01-10 07:31] valenotary opened #15552 "[entt] update to <3.6>"
Library name: entt

New version number: 3.6

https://github.com/skypjack/entt/releases/tag/v3.6.0 <-- just linking to the new release

[2021-01-10 08:56] glassez opened #15553 "[libtorrent] update to 1.2.12"
Library name: libtorrent

New version number: 1.2.12

Other information that may be useful (release notes, etc...)
https://github.com/arvidn/libtorrent/releases/tag/v1.2.12

[2021-01-10 09:04] lebdron commented on #12381
Seems to be fixed in https://github.com/microsoft/vcpkg/pull/12950 , should the issue be closed?

[2021-01-10 09:29] Zingam commented on #15339
@soumyamahunt I find the situation a bit confusing. I read somewhere that "Project Reunion" components will be delivered as NuGet packages. Then it is clear that MSBbuild doesn't support C++ properly. I use CMake because I don't want to support multiple build systems for my cross-platform project. Updates to cppwinrt are delivered via NuGet packages. The latest VS version and the included Windows

[2021-01-10 13:26] traversaro commented on #15011
Another useful reference is patch https://sourceforge.net/p/irrlicht/patches/320/ by @shybovycha that provides a CMake build script for irrlicht that seems to support macOS as well.

[2021-01-10 15:30] mikedld opened #15555 "[sqlite-orm] CMake fails to find package on macOS/Linux"
**Describe the bug**
Package builds and installs fine, but then CMake configuration fails when looking for SqliteOrm package.

**Environment**
- OS: macOS / Linux
- Compiler: Apple clang version 12.0.0 (clang-1200.0.32.28) / gcc (Gentoo 10.2.0-r4 p5) 10.2.0
- CMake: 3.19.2

**To Reproduce**
Steps to reproduce the behavior:
1. Create CMakeLists.txt
[code]
2. Create vcpkg.json
[code]
3. Try configur

[2021-01-10 17:10] sommmyyyy commented on #1820
@macsinus how to set variable value for https_proxy?

[2021-01-10 17:17] sommmyyyy opened #15556 "Error: Building package msmpi:x86-windows failed with: BUILD_FAILED"
C:\Users\Som\Downloads\vcpkg-master\vcpkg-master>vcpkg install msmpi
Computing installation plan...
The following packages will be built and installed:
    msmpi[core]:x86-windows -> 10.1
Detecting compiler hash for triplet x86-windows...
Could not locate cached archive: C:\Users\Som\AppData\Local\vcpkg\archives\74\74d859824bfe9fb2047577beffbf528b6fd38f21.zip
Starting package 1/1: msmpi:x86-window

[2021-01-10 17:19] sommmyyyy commented on #15556
No other package is downloading as well. I tried to google it and the solutions didnt work. What can be done? Why is this happening?

[2021-01-10 18:16] #15556 closed

[2021-01-10 19:00] luca-schlecker opened #15557 "[New Port Request] palsigslot"
Library creator: [Pierre-Antoine Lacaze](https://github.com/palacaze)

Library name: palsigslot

Library description: A header-only, thread safe implementation of signal-slots for C++.

Source repository URL: https://github.com/palacaze/sigslot

[2021-01-10 19:18] Neumann-A commented on #15065
@BillyONeal Will Intel oneAPI be installed on the azure to update MKL in the future? If yes we could also install the intel compilers along with it and switch from gfortran to ifort and ask the user to install ifort if he needs it. The necessary CI scripts can be found in: https://github.com/oneapi-src/oneapi-ci

[2021-01-10 19:30] Starl1ght opened #15559 "Can we get a roadmap update?"
Currently the [roadmap](https://github.com/microsoft/vcpkg/wiki/Roadmap) is kinda outdated, with many features are being still being planned for Dec 20.

Can you update it with current realistic dates?

[2021-01-10 19:36] Pospelove commented on #12381
I think there is no real need to test this so closing this for now.

[2021-01-10 19:36] #12381 closed

[2021-01-10 20:53] heckj opened #15560 "[openssl] port is hard-coded to compile to x86_64, doesn't support arm64 for Apple M1 chip macs"
**Describe the bug**
I installed vcpkg package port openssl with the requested triplet 'arm64-osx' to get an arm64 native openssl library:
`./vcpkg install openssl --triplet arm64-osx`

The resulting binary for the library reports that it's x86_64, even though it's labelled arm64:
[code]

**Environment**
- OS: macOS 11.1 (BigSur) w/ M1 chip MacBook Pro
- Compiler: Xcode 12 (clang)

**To Reproduce*

[2021-01-10 21:24] heckj commented on #15560
Digging around for a potential resolution, upstream OpenSSL version 1.1.1i includes a new target from this OpenSSL PR: https://github.com/openssl/openssl/pull/12369 that enables a new configuration target : `darwin64-arm64-cc`

[2021-01-10 21:32] mikedld commented on #14280
For me, downloading of Strawberry Perl (OpenSSL's build dependency) is going way too slow and that's what is causing OpenSSL build to take a long time. I ended up downloading (with axel in 50 threads) and caching Strawberry Perl's ZIP file manually, and then copying it into downloads/ subdirectory before vcpkg starts downloading it on its own. Not sure why the speed is that low, but it might make

[2021-01-10 22:02] jgbradley1 opened #15562 "Allow custom configure options in manifest"
**Is your feature request related to a problem?**
A lot of times, it is simpler for a developer to download and build a library from the original git repo due to the need to customize the library build. In this context, I would like to propose an expansion to the list of possible definitions in the manifest to allow for custom configuration of libraries. A good example is building opencv from sour

[2021-01-10 22:43] ned14 opened #15563 "Whether vcpkg will now accept LLFIO or not?"
Historically, LLFIO did not operate a formal release process other than "whatever master branch currently is", and so was unsuitable for distribution by vcpkg.

Seeing as a user asked (https://github.com/ned14/llfio/issues/69), and that as of Nov 2020 LLFIO does now issue formal versioned releases with prebuilt binaries (https://github.com/ned14/llfio/releases), would this situation have changed?

[2021-01-10 23:57] StarGate-One commented on #15550
- Delete file `C:/dev/vcpkg/vcpkg/downloads/boost-1.75.0.beta1-boostcpp.jam` and try again. Possible it became corrupt.
- Verified current file hash for `boost-1.75.0.beta1-boostcpp.jam` is `8cf929fa4a602342c859a6bbd5f9dda783ac29431d951bcf6cae4cb14377c1b3aed90bacd902b0f7d1807591cf5e1a244cf8fc3c6cc6e0a4056db145b58f51df`

[2021-01-11 01:06] zulc22 commented on #15335
is there any possible workaround for now? vcpkg is the only way i can stand to install libraries when using visual studio. i'd really prefer not to compile the libs myself and spend 3 hours debugging include and library directory configurations in the terribly sorted properties window

[2021-01-11 02:42] FishHe commented on #10424
OR-Tools is useful, why not import?

[2021-01-11 02:47] PhoebeHui commented on #15456
It's weird, do you install git locally? what revision do you install?

[2021-01-11 02:59] JonLiu1993 commented on #13702
Relate to #7372

[2021-01-11 03:01] JackBoosY commented on #14280
@mikedld  We tend to use github repo, but because some ports do not provide mirrors to github, or the version on github is too low compared to the official website, this caused this problem.

[2021-01-11 03:04] JonLiu1993 commented on #13702
Relate to #14755,libtorrent-2.0 shouldn't be considered as update for this port.  Should add another port for it (aka libtorrent2) and keep this one for 1.2.x.

[2021-01-11 03:04] #13702 closed

[2021-01-11 03:09] PhoebeHui commented on #15550
@byliut, could you try the solution provided by StarGate-One?

[2021-01-11 03:10] mikedld commented on #14280
I get that @JackBoosY, just thought you might be able to mirror it (or find an existing faster mirror)...

[2021-01-11 03:11] JackBoosY commented on #15563
@ned14 We accept adding ports that do not provide a release version, it can use a more stable commit version.

Feel free to open a PR to add LLFIO, and I will help you.

Thanks.

[2021-01-11 03:23] PhoebeHui commented on #10424
@FishHe, if you're interest in adding this port to vcpkg, please create a PR firstly, we would help reopen this issue, currently this is not usual scenario we're working on now, but we accept PRs for supporting new port.

[2021-01-11 05:28] MrROBUST opened #15566 "[New Port Request] V-EZ"
Library name: V-EZ

Library description: V-EZ is an open source, cross-platform (Windows and Linux) wrapper intended to alleviate the inherent complexity and application responsibility of using the Vulkan API.

Source repository URL: https://github.com/GPUOpen-LibrariesAndSDKs/V-EZ

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such

[2021-01-11 05:41] JackBoosY commented on #15551
@longnguyen2004 Does the upsteam support cmake now?
I couldn't find `CMakeLists.txt` in latest [upstream](https://sourceforge.net/projects/mpg123/).

[2021-01-11 05:46] JackBoosY commented on #15539
Hmm... How can we do that?
@BillyONeal Do you have any suggestions?

[2021-01-11 05:47] longnguyen2004 commented on #15551
It's inside the `ports/cmake` folder.
[code]

[2021-01-11 05:49] JackBoosY commented on #15526
GDAL can be built successfully without linking with `geos.lib`/`geosd.lib`, so I don’t think this library is needed when using GDAL. This issue may be caused by the lack of linking to `geos_c.lib`/`geos_cd.lib` when using gdal.

Can you provide the failure logs?

@Neumann-A What do you think about?

[2021-01-11 05:56] JackBoosY commented on #15551
Oh I see, thanks for notice!

[2021-01-11 06:00] JackBoosY commented on #15548
Will be fixed in #15233.

[2021-01-11 06:14] PhoebeHui commented on #15524
@cmaughan, could you also report this issue to Upstream as well? it's better to support this officially.