[2021-07-09 01:06] BillyONeal commented on #18726
Hmmm... I'm not sure how I feel about that. Installing trusted root certs is certainly not OK since it would be a machine wide modification. Perhaps someone who understands the context for this port can contact upstream and get them to fix their server?

[2021-07-09 02:22] JackBoosY commented on #18868
Can you provide more information such as a example?

vcpkg only do the following steps when integrating msbuild:
1. Add _VCPKG_ROOT/installed/TRIPLET/include_ to the `Additional Include Directories`,
2. Add _VCPKG_ROOT/installed/TRIPLET/debug/lib_ or _VCPKG_ROOT/installed/TRIPLET/lib_ to `Additional Dependencies` (depending on different configurations)
3. Priority to build dependencies in manifest

[2021-07-09 02:27] PhoebeHui commented on #18851
@jdx-john, for cmake project, projects configured with the Vcpkg toolchain file will have the appropriate Vcpkg folders added to the cmake search paths. This makes all libraries available to be found through find_package(), find_path(), and find_library().

For msbuild project: 'vcpkg integrate install' this will implicitly add Include Directories, Link Directories, and Link Libraries for all pack

[2021-07-09 03:04] PhoebeHui commented on #18342
@Conan42, thanks for your response.

[2021-07-09 03:04] #18342 closed

[2021-07-09 06:13] JonLiu1993 commented on #18872
Duplicate of #18734

[2021-07-09 06:13] #18872 closed

[2021-07-09 06:15] NancyLi1013 commented on #18869
Hi @jdx-john

Thanks for posting this issue.

In manifest mode, the installed directory will be changed to `<manifest-root>/vcpkg_installed` by default. If want to change the install path, you can pass `--x-install-root=<path>
` .

Please see https://github.com/microsoft/vcpkg/blob/master/docs/users/manifests.md#--x-install-rootpath

[2021-07-09 06:17] #17118 closed

[2021-07-09 06:50] JackBoosY commented on #18865
According to the [document](https://github.com/microsoft/vcpkg/blob/master/docs/users/manifests.md#platform-field), the `platform` field only declare the supported platform, not the target triplet.
If you need to use the custom triplet:
1. with command line, please add `--triplet=YOUR_CUSTOM_TRIPLET`. See [document](https://github.com/microsoft/vcpkg/blob/master/docs/users/manifests.md#--triplettr

[2021-07-09 06:53] NancyLi1013 commented on #18854
You can provide a simple sample, just includes the functions that have problems.

[2021-07-09 07:40] JackBoosY commented on #18467
@ankurverma85  Can you please report this to the upstream first?

[2021-07-09 07:45] abique commented on #18726
No you don't have to install it machine wide.
You can pass some arguments to curl to specify the location of the root certificates.

[2021-07-09 08:01] NancyLi1013 commented on #14015
Hi all,

`assimp `has supported osx now, please update to the latest vcpkg to rebuild this port.

Thanks.

[2021-07-09 08:01] #14015 closed

[2021-07-09 08:30] jdx-john commented on #18865
@JackBoosY those things are clear but does this mean if I am using a manifest file, I can only specify one triplet in each run? When specifying ports on the commandline I can do e.g.:
[code]
But with manifest I'd have to run it twice:
[code]
This was raised, then closed, #7432, without explanation.

The other thing I was curious about was, I _cannot_ explicitly specify the manifest file _name_, on

[2021-07-09 08:32] jdx-john commented on #18869
@NancyLi1013 thanks I actually found this workaround last night but you posted before I could update :)
Is this behaviour a bug, or intended functionality?

[2021-07-09 08:32] JackBoosY commented on #7936
Hi @kakyoism, sorry for late.
I can't repro this issue in the latest version, can you confirm that?

Thanks.

[2021-07-09 08:33] JackBoosY commented on #15348
@pmdifran Can you please provide _C:\PMD_Working\Dev\Projects\pcl_CUDA\vcpkg\buildtrees\pcl\install-x64-windows-dbg-out.log_?

[2021-07-09 08:33] JackBoosY commented on #15348
@matt6801  Does this issue resolved?

[2021-07-09 08:36] NancyLi1013 commented on #15205
Hi all,

Now `irrlicht `and `assimp `can be built on osx. Could you please try to update to the latest vcpkg to rebuild `ogre`?

I was blocked by our test environment like this:

[code]

[2021-07-09 08:43] JackBoosY commented on #18865
cc @strega-nil-ms

[2021-07-09 08:49] NancyLi1013 commented on #18775
Hi @iqHpi

Thanks for posting this issue.

Sorry for the delay. Do you want to see what version here?

[2021-07-09 09:03] iqHpi commented on #18775
This is what I got when I build FFmpeg without vcpkg. ![avcodec-58_old](https://user-images.githubusercontent.com/7165058/125053274-bdf49000-e0c6-11eb-86e9-ce174946e771.PNG)

[2021-07-09 09:11] iqHpi commented on #18775
This is what I get when I build FFmpeg without vcpkg.
![avcodec-58_old](https://user-images.githubusercontent.com/7165058/125054234-d1542b00-e0c7-11eb-884d-3227cc4437a3.PNG)

I need to see the DLL file version as marked in red. Thanks. @NancyLi1013

[2021-07-09 09:17] xavier2k6 opened #18878 "[gsutil] update to 4.65"
Library name: gsutil

New version number: 4.65

Other information that may be useful (release notes, etc...)

`scripts/vcpkgTools.xml`

ref.:
https://storage.googleapis.com/pub/gsutil_4.65.ReleaseNotes.txt

[2021-07-09 09:18] JackBoosY commented on #18775
In `avcodecres.rc`:
[code]

I can confirm these rc files doesn't be used in the build process.
cc @mcmtroffaes

[2021-07-09 09:20] xavier2k6 opened #18879 "[CMake] update to 3.20.5"
Library name: CMake (Kitware)

New version number: 3.20.5

Other information that may be useful (release notes, etc...)

ref.:
`scripts/vcpkgTools.xml`

[2021-07-09 09:20] JonLiu1993 commented on #13879
@Blakjak88 ,Thansk for posting this issue.
I have submitted pr to upgrade ensmallen to the latest version 2.17.0. When pr is merged, you can update vcpkg to test.

[2021-07-09 09:20] tedyyu commented on #18830
Some updates:

This problem can only be reproduced on my side when you install `xalan-c` after `xerces-c[icu]`. I think it's reasonable behavior, as libxerces-c.so with ICU has some ICU related symbols, but xalan-c has no means to know that without extra inputs, usually in cmake it's `cmake -Dtranscoder=icu`, see also [build instructions](https://apache.github.io/xalan-c/build.html) from apache.

[2021-07-09 09:43] JackBoosY commented on #17055
Hi guys, can you please test my PR https://github.com/microsoft/vcpkg/pull/18881?

[2021-07-09 09:59] JackBoosY commented on #18879
I think we should wait for 3.21 release.

[2021-07-09 10:05] xavier2k6 commented on #18879
I thought alright with the small update & that 3.21 isn't that far away was a bit trivial.

Will I close?

[2021-07-09 10:20] Neumann-A commented on #18879
Also vote for 3.21 release. Otherwise all binary caches get invalidated.

[2021-07-09 10:28] Neumann-A opened #18882 "[CI] Update Linux CI to Ubuntu 20.04 LTS"
Reason:
Qt6.2 cannot be build with gcc 7.5 used as a default within 18.04 due to constexpr constrains (Officially requires 9 but 8 also seems to work.)

Alternative:
 Add another Linux CI with 20.04.

[2021-07-09 10:45] dg0yt commented on #18882
FTR, gcc-8 is available for 18.04. (https://packages.ubuntu.com/source/bionic/gcc-8)

[2021-07-09 10:47] Neumann-A commented on #18882
Yeah but it needs to be setup as the default compiler.

[2021-07-09 10:51] mcmtroffaes commented on #18775
It looks like windres isn't provided by the msys2 build environment set up by the ffmpeg portfile. Maybe installing binutils environment will fix this?

[2021-07-09 11:05] Erxl opened #18884 "[llvm] build failure"
**Host Environment**
- OS: Windows
- Compiler: Microsoft (R) C/C++ Optimizing Compiler Version 19.29.30130.2 for x64

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install llvm:x64-windows`

**Failure logs**
-Cut and past the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

[install-x64-windows-dbg-out.log

[2021-07-09 11:13] xavier2k6 commented on #18879
👍

I will close/await CMake 3.21 Release.

[2021-07-09 11:13] #18879 closed

[2021-07-09 11:29] furkanxdgs4 commented on #18854
I don't know how much it can help because it's a unresolved external function issue but here's the very basic example.
'''
#include <libqhullcpp/Qhull.h>
void CalculateVoronoi(){
	orgQhull::Qhull x;
	x.runQhull("", 0, 0, nullptr, "");
}
'''
When you include and call the function, linker will give the unresolved external function.

[2021-07-09 11:33] dg0yt commented on #18775
Does this use libtool? It might need two environment variables: WINDRES and RC. Cf. vcpkg_configure_make.

[2021-07-09 11:52] mcmtroffaes commented on #18775
I'm honestly not sure but I suspect not since it doesn't use automake (which vcpkg_configure_make more or less assumes). But I can see in the configure script that that the mingw build checks for windres, but the win32/win64 build does not. I'm hoping it's just a matter of adding binutils to msys and adding a line to the configure script to check for windres also on win32/win64.

[2021-07-09 14:08] fawdlstty opened #18885 "unable to execute any vcpkg commands"
**Describe the bug**
I was unable to execute any VCPKG commands

**Environment**
- OS: win10 20h2 (19042.1052)
- Compiler: vs2019 16.10.2

**To Reproduce**
Steps to reproduce the behavior:
1. any vcpkg command such as `vcpkg list`
2. See error
[code]

**Expected behavior**
run

**Failure logs**
no more logs

**Additional context**
no more

[2021-07-09 14:12] fawdlstty commented on #18885
I cleaned the buildtrees folder due to lack of disk space. Is that the reason?

[2021-07-09 15:00] tijon1 commented on #18833
Turns out Urho3D use their own fork of SDL. It's located at [https://github.com/urho3d/SDL-mirror](https://github.com/urho3d/SDL-mirror).
I also tried adding the changes from the #18880 pull request to my Vcpkg and it didn't help at all.
Same errors when compiling the same project.

[2021-07-09 15:02] jdx-john opened #18886 "Why is `search` so slow?"
I am routinely finding `vcpkg search` to take >10s, sometimes nearer 30s. Is this normal and is there a reason why it is so slow?
I was under the impression search only looked at the local ports list, though that may be totally wrong.

[2021-07-09 17:14] #17652 closed

[2021-07-09 17:26] pmdifran commented on #15348
@JackBoosY I gave it another try today - its installed fine! Thanks for getting back to me.

It worked with running command prompt regularly, and as admin.

[2021-07-09 19:10] libbooze opened #18887 "[tensorflow] Remove tensorflow packet on Windows"
Tensorflow on Windows is unusable, without users manually hacking the produced libraries.

https://github.com/tensorflow/tensorflow/issues/23542
https://stackoverflow.com/questions/62954634/tensorflow-2-3-unresolved-external-symbols-in-machine-generated-files-when-build

This is confusing since "ok" installed packets fail during link phase because missing exported symbols.

Regardless of "who shou

[2021-07-09 19:25] Erxl opened #18888 "[boost:x64-windows] build failure"
**Host Environment**
- OS: Windows
- Compiler: Microsoft (R) C/C++ Optimizing Compiler Version 19.29.30130.2 for x64

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install boost:x64-windows`

**Failure logs**
-Cut and past the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

**Additional context**
Add any

[2021-07-09 19:45] mathisloge commented on #18888
Are you behind a proxy?
If yes, have you followed the error message?
[code]

[2021-07-09 19:50] thespivey opened #18890 "vcpkg does not consider supported architectures when selecting a Visual Studio instance"
On machines that have multiple versions of Visual Studio installed (Community + Enterprise), with x86/x64 tools in both but ARM tools only installed in the Enterprise instance, vcpkg will select the Community edition for an arm build and then fail.

[code]

Removing the x86/x64 tools from the Community install will cause vcpkg to select the Enterprise edition instead and build successfully.

[2021-07-09 20:37] BillyONeal commented on #18882
Closing as a  duplicate of https://github.com/microsoft/vcpkg/issues/13624

[2021-07-09 20:37] #18882 closed

[2021-07-09 20:51] autoantwort commented on #18886
Are you using a custom registry or only the default one?

[2021-07-09 20:53] autoantwort commented on #18885
maybe delete and clone vcpkg again. But probably you will run into disk space issues again

[2021-07-09 21:35] BillyONeal commented on #13624
I'm working on this now

[2021-07-09 23:31] lalilulelost opened #18893 "How can I add a package such as `imgui[glfw-binding]` as a dependency to my project's `vcpkg.json` manifest?"
I know manifest mode is currently in beta, but I've been trying it out for my Visual Studio 2019 MSBuild project (on Windows 10 21H1). The latest `git tag` in my vcpkg install folder is `2021.05.12`.

The `vcpkg.json` manifest file with all the dependencies for my project looks like this:

[code]

Upon running `vcpkg install` inside the project folder, I get this error:
[code]
The name `imgui[glfw

[2021-07-09 23:54] jdx-john commented on #18886
I'm not sure I understand the question so I assume the default, it's basically a stock installation

[2021-07-10 00:12] MrAviator93 commented on #18808
Was just curious to ask, if you have looked at it in more detail, maybe could provide some tips?

[2021-07-10 01:11] bobluoluo opened #18894 "[New Port Request] <Mediapipe c++>"
Library name: mediapipe

Library description: Cross-platform, customizable ML solutions for live and streaming media

Source repository URL: https://github.com/google/mediapipe

Project homepage (if different from the source repository): https://google.github.io/mediapipe/

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2021-07-10 05:02] dg0yt commented on #18885
You can clean the `buildtrees` before starting to build a large package if disk storage is limited.
On "Database is corrupted" you need to clean `packages` and `installed`. They must stay in sync. The caching of binary artifacts should restore the directories quickly on next install.

[2021-07-10 05:06] rogerfraser opened #18896 "[intel-mkl] build failure using GitHub Actions (MSBuild based project)"
**Host Environment**
- OS: Windows via GitHub Action ([msvc_build.yml](https://github.com/rogerfraser/DynAdjust/blob/master/.github/workflows/msvc_build.yml))
[code]

- Compiler: MSBuild (supplied by GitHub Actions virtual environments)
[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Failure logs**
- See full log [here](https://github.com/rogerfraser/DynAdjust/runs/3034571347?c

[2021-07-10 08:26] Nemirtingas commented on #13457
I didn't notice until now but #17336 actually fixes this issue, thanks a lot, now I don't have to patch everytime there's an update.

[2021-07-10 10:54] cocaocla opened #18900 "[boost-regex]error including"
Error: Building package boost-regex:x86-windows failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `.\vcpkg update`, then
submit an issue at https://github.com/Microsoft/vcpkg/issues including:
  Package: boost-regex:x86-windows
  Vcpkg version: 2021-05-05-e8977e69d9a3fb462d9ad42013d83a7682706659

Additionally, attach any relevant sections from the log files above.

upd

[2021-07-10 11:33] zjmnssy opened #18901 "etcd-cpp-apiv3:x64-windows build failure"
**Host Environment**
- OS: windows 10
- Compiler: Vcpkg version: 2021-05-05-e8977e69d9a3fb462d9ad42013d83a7682706659

**To Reproduce**
Steps to reproduce the behavior:
vcpkg install etcd-cpp-apiv3:x64-windows

**Failure logs**
D:\third_party\vcpkg>vcpkg install etcd-cpp-apiv3:x64-windows
Computing installation plan...
The following packages will be built and installed:
    etcd-cpp-apiv3[core]:x64

[2021-07-10 11:44] dg0yt commented on #18901
There is no `etcd-cpp-apiv3` in https://github.com/microsoft/vcpkg. But you can check the build log as suggested in the output:
[code]

[2021-07-10 12:17] zjmnssy commented on #18901
[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/6795233/install-x64-windows-dbg-out.log)

[2021-07-10 12:32] ninepillars opened #18902 "[<simage] build failure"
**Host Environment**
- OS: [e.g. Windows 10]
- Compiler: visual studio 2019 test in msvc 2015 compiler and msvc 2019 compiler, have the same issure
[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/6795258/install-x64-windows-dbg-out.log)

**To Reproduce**
Steps to reproduce the behavior:
D:\Projects>vcpkg install simage:x64-windows
Computing installation plan...
The follo

[2021-07-10 12:34] mathisloge commented on #18902
could you provide the log file? (G:\GNU\vcpkg\buildtrees\simage\install-x64-windows-dbg-out.log)

[2021-07-10 12:37] mathisloge commented on #18900
could you attach the build err log file?

[2021-07-10 12:40] mathisloge commented on #18893
Manifest dependency features are listed as followed:
see https://github.com/microsoft/vcpkg/blob/master/docs/users/manifests.md for more information

[code]

[2021-07-10 12:45] ninepillars commented on #18902
I've done that with the attachment...OK I paste the text here:

[1/21] "G:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Tools\MSVC\14.29.30037\bin\Hostx64\x64\cl.exe"   -DHAVE_CONFIG_H -DSIMAGE_DEBUG=1 -DSIMAGE_INTERNAL -DSIMAGE_MAKE_DLL -D_CRT_NONSTDC_NO_DEPRECATE -D_CRT_SECURE_NO_DEPRECATE -D_CRT_SECURE_NO_WARNINGS -D_USE_MATH_DEFINES -Dsimage_EXPORTS -I. -IG:\GNU\vcpkg\buildtre

[2021-07-10 12:47] mathisloge commented on #18902
oh yeah, sorry didn't saw the attachment there.

[2021-07-10 12:49] gamelaster commented on #18801
Hi @PhoebeHui ,

the unofficial config works perfectly! Thanks.

[2021-07-10 12:51] mathisloge commented on #18902
mhm. couldn't reproduce with windows-x64.
have you pulled the latest changes with `git pull` and upgraded the ports?

[2021-07-10 12:53] mathisloge commented on #18901
`Cannot open include file: 'boost/asio/io_context.hpp' `
have you installed `boost-asio``?

[2021-07-10 13:20] ninepillars commented on #18902
yes, I just update my vcpkg with git pull today.

[2021-07-10 14:28] zjmnssy commented on #18901
i will check later, but i use vcpkg to build, i think it will aotu download and install the dependence

[2021-07-10 14:48] lalilulelost commented on #18893
Thank you very much! I wasn't aware that names listed with square brackets were _features_, will read the documentation more carefully next time, hahah. I'm still having trouble getting the project to build, but as far as adding `<name>[<feature>]` dependencies, the issue is solved, I can run `vcpkg install` successfully.

[2021-07-10 14:48] #18893 closed

[2021-07-10 15:18] acgetchell opened #18903 "Failed to take the filesystem lock on /opt/src/vcpkg/.vcpkg-root after vcpkg install --feature-flags=manifests"
**Describe the bug**
`vcpkg install --feature-flags=manifests` fails to work due to a lock

**Environment**
- OS:Linux
- Compiler: gcc 9.2.1

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install feature-flags=manifests
2. Failed to take the filesystem lock on /opt/src/vcpkg/.vcpkg-root

**Expected behavior**
Expect vcpkg to build and install packages

**Failure logs**
https://lgtm.

[2021-07-10 17:23] mans0987 opened #18904 "[New Port Request] GTSAM"
Library name: GTSAM

Library description:
GTSAM 4.0 is a BSD-licensed C++ library that implements sensor fusion for robotics and computer vision applications, including SLAM (Simultaneous Localization and Mapping), VO (Visual Odometry), and SFM (Structure from Motion). It uses factor graphs and Bayes networks as the underlying computing paradigm rather than sparse matrices to optimize for the most

[2021-07-10 19:57] autoantwort commented on #18903
Then another vcpkg process is running that is holding the lock

[2021-07-10 19:59] autoantwort commented on #18896
What is the question?
[code]

[2021-07-10 20:02] autoantwort commented on #18886
Ok hm, yeah maybe your file system is slow, because it reads 1500 files every time you search. How fast is for example `grep -r zlib ports`

[2021-07-10 21:05] Neumann-A commented on #18896
https://github.com/oneapi-src/oneapi-ci

[2021-07-11 01:26] autoantwort commented on #18337
You can workaround this issue by adding the `vcpkg.targets` file as a property sheet.

[2021-07-11 02:15] ninepillars commented on #18902
OK, it's done, by using windows SDK 10. it seems this update is not support windows SDK 8.1 any more...

[2021-07-11 05:49] #16895 closed

[2021-07-11 07:26] Kicer86 opened #18907 "[harfbuzz] build failure"
**Host Environment**
- OS: Windows
- Compiler: gcc.exe (Rev5, Built by MSYS2 project) 10.3.0

**To Reproduce**
Steps to reproduce the behavior:
vcpkg.exe install harfbuzz:x64-mingw-dynamic

**Failure logs**
Output:

[code]

C:\vcpkg\buildtrees\harfbuzz\config-x64-mingw-dynamic-dbg-out.log:
[code]

[2021-07-11 07:28] Kicer86 commented on #18907
I am aware that `x64-mingw-dynamic` triplet comes from community, yet I hope this issue could be easily fixed.

[2021-07-11 13:10] xavier2k6 opened #18912 "[zstd] update to 1.5.0"
Library name: zstd

New version number: 1.5.0

Other information that may be useful (release notes, etc...)

ref.:
https://github.com/facebook/zstd/releases

[2021-07-11 14:11] liubin3071 opened #18913 "[New Port Request] <EventBus>"
Library name:EventBus

Library description:

Source repository URL:https://github.com/gelldur/EventBus

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2021-07-11 22:23] rogerfraser commented on #18896
Thanks @autoantwort.

As this yaml is for a Windows-based workflow using MSBuild, the expected behaviour (as per [docs](https://github.com/microsoft/vcpkg/blob/master/docs/examples/installing-and-using-packages.md)) is:
- vcpkg automatically downloads and builds intel-mkl using VC20xx (via `vcpkg install intel-mkl ...`)
- vcpkg automatically adds intel-mkl include directories, link directories and

[2021-07-11 23:16] autoantwort commented on #18896
The first line of the file `ports/intel-mkl/portfile.cmake` says:
[code]

But the descriptions should definitely mention that.

[2021-07-12 00:47] Masahiro-Mizutani commented on #18144
I have disable antivirus and tried to install again but I could not install. From following log file, I accessed to  https://repo.msys2.org/mingw/x86_64/ but there was no file of `mingw-w64-x86_64-libiconv-1.16-1-any.pkg.tar.xz`. I may need setup HTTP(S)_PROXY pointed out in the log file but I think it is strange that there is no file of  `mingw-w64-x86_64-libiconv-1.16-1-any.pkg.tar.xz`.

[code]

[2021-07-12 01:40] rogerfraser commented on #18896
Thanks @autoantwort. If there is no future plan for this package to install MKL, I'm happy for this issue to be closed.

Yes, a description that notifyies users of vcpkg ports that aren't automatically installed would be very beneficial for future users.

Thanks again.

[2021-07-12 01:43] JonLiu1993 commented on #18900
@cocaocla ,Thanks for posting this issue, could you please attach the build err log file?

[2021-07-12 01:59] NancyLi1013 commented on #18869
This is intended behavior. If you don't pass the argument, it will be installed to the default directory `<manifest-root>/vcpkg_installed `. This is optional, which depends on your requirement.

[2021-07-12 02:02] drink-crow commented on #18888
I have same problem. i use proxy clash with tun mode but i can install other package example freetype. also can download package in firefox with proxy

[2021-07-12 02:03] NancyLi1013 commented on #18833
Thanks for your feedback. Yes, `Urho3D` use the embedded `SDL`. For me the changes can work on my machine. But it seems to be not reasonable. I will try to fix it in another way.

[2021-07-12 02:15] PhoebeHui commented on #18901
@zjmnssy, it seems boost-asio has been installed but the version is too old, you need execute './vcpkg remove boost-uninstall --recurse', and install boost-asio again.

[2021-07-12 02:22] zjmnssy commented on #18901
when i use 'vcpkg install etcd-cpp-apiv3:x64-windows' it will auto install boost, but i found it will not install boost-asio, does boost-asio need i manual to install?
![2021-07-12_101547](https://user-images.githubusercontent.com/21244667/125221322-a43b8e80-e2fa-11eb-9bc6-296b82d73c43.jpg)

[2021-07-12 02:29] #15348 closed

[2021-07-12 02:34] zjmnssy commented on #18901
i clean vcpkg , then install etcd-cpp-apiv3:x64-windows, but it out a new error that not appeared, the buildtrees\etcd-cpp-apiv3\config-x64-windows-out.log like blow:

[config-x64-windows-out.log](https://github.com/microsoft/vcpkg/files/6798237/config-x64-windows-out.log)

it look like pthread.h - not found, but i have install pthread module in VS install path.

[2021-07-12 02:58] zjmnssy commented on #18901
ok, it build success,  i first install boost manual, then install etcd-cpp-apiv3:x64-windows. but at the build result output, i only find DLL and include files , not found lib files.

[2021-07-12 03:11] JackBoosY commented on #18903
Can you please provide the output with command `ps aux | grep vcpkg`?

[2021-07-12 03:26] Masahiro-Mizutani commented on #18144
I try to install and the package can be installed. I think my proxy server is out of service just installig.

[2021-07-12 03:52] drink-crow commented on #18888
I repair this problem. It seem that update vcpkg by `git pull` but not run `.\bootstrap-vcpkg.bat` again cause this problem. I run  `.\bootstrap-vcpkg.bat` and install go ahead

[2021-07-12 04:14] SamuelMarks commented on #17055
@JackBoosY

### `CMakeLists.txt`
[code]

### `src/main.c`
[code]

### `sh`
@ bcb1c2a0
[code]

On macOS 11.4 (20F71) with Apple clang version 12.0.5 (clang-1205.0.22.11)

[2021-07-12 05:40] PhoebeHui commented on #18888
@Erxl, could you try above suggestions and see if it works for you?

[2021-07-12 05:57] NancyLi1013 commented on #18884
Hi @Erxl

Thanks for posting this issue.

`C:\Program Files\vcpkg\buildtrees\llvm\src\org-12.0.0-511e760473.clean\llvm\include\llvm\DebugInfo\PDB\DIA\DIASupport.h(25): fatal error C1083: Cannot open include file: 'atlbase.h': No such file or directory`

Since `atlbase.h` is listed in this directory.
`C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Tools\MSVC\14.23.28105\atlmfc\in

[2021-07-12 06:09] JackBoosY commented on #17055
@SamuelMarks  For those demos, you also need to install the extra dependencies such as allegro5, find and use them in your CMakeLists.

[2021-07-12 06:18] SamuelMarks commented on #17055
I have a bunch of issues about allegro5 installing. For one, there's no help message after `vcpkg install`. Secondly, should it not be a `FEATURE` of nuklear?

[2021-07-12 06:36] JackBoosY commented on #17055
@SamuelMarks No, since they are demo codes, nuklear core does not rely on them, so the feature demo only provides installation of these codes instead of guaranteeing that they can run successfully without adding custom codes.

[2021-07-12 06:38] PhoebeHui commented on #18901
@zjmnssy, I didn't find a etcd-cpp-apiv3 port in vcpkg, I'm not sure what's happning, glad it build successfully for you now.
Do you consider to submit a PR for the port?

[2021-07-12 06:55] JackBoosY commented on #18890
@vicroms what do you think about?

[2021-07-12 06:59] NancyLi1013 commented on #18896
Hi @rogerfraser

Thanks for posting this issue.

For `interl-mkl`, vcpkg just detects if `MKL `is installed. So you need to install `MKL `manually, then rebuild this.

[2021-07-12 07:42] abique commented on #15006
@BillyONeal I think there are new options today with `dlmopen` and `RTLD_DEEPBIND`. But I'm not a shared object expert.

[2021-07-12 08:21] JonLiu1993 commented on #18902
@ninepillars ,It seems that this issue has been resolved, if you have other issues, you can reopen the issue.

[2021-07-12 08:21] #18902 closed

[2021-07-12 08:26] JonLiu1993 commented on #18885
@fawdlstty ,Have you tried the suggestions provided by the two above? Is this issue still a hindrance to you?

[2021-07-12 08:35] JonLiu1993 commented on #18886
@jdx-john ,This issue has nothing to do with vcpkg. I use vcpkg search locally, the default search is less than 5S, and the specified port search is less than 2s. This may be related to your local equipment. I will close this issue and reopen it if you have new information

[2021-07-12 08:35] #18886 closed

[2021-07-12 09:12] jdx-john commented on #18886
If you are expecting it to take several seconds, it's maybe not that bad on my PC - I had expected it would be virtually instant, iterating a list of ports?
Thanks for the input.

[2021-07-12 09:14] jdx-john commented on #18869
Thanks @NancyLi1013 I'll close this then. I will remind that `--x-manifest-root` is not documented on the command-line, in case anyone thinks it is worth addressing.

[2021-07-12 09:14] #18869 closed

[2021-07-12 09:31] fawdlstty commented on #18885
I successfully solved the problem through the advice of dg0yt, but I am not sure whether this issue needs to be closed.  Because this problem seems to affect usage.

[2021-07-12 09:48] JonLiu1993 commented on #18886
Yes,So don’t worry too much about this

[2021-07-12 09:52] JonLiu1993 commented on #18885
If this issue has been resolved, I will close this issue. If you have other issues, please reopen an issue. Thank you

[2021-07-12 09:52] #18885 closed

[2021-07-12 10:01] NancyLi1013 commented on #18808
I will look into this issue soon.

[2021-07-12 10:32] PhoebeHui commented on #18321
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2021-07-12 10:32] #18321 closed

[2021-07-12 10:32] PhoebeHui commented on #18354
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2021-07-12 10:32] #18354 closed

[2021-07-12 10:33] PhoebeHui commented on #18401
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2021-07-12 10:33] #18401 closed

[2021-07-12 10:33] PhoebeHui commented on #18372
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2021-07-12 10:33] #18372 closed

[2021-07-12 10:39] NancyLi1013 commented on #18869
Thanks for your kindly reminder. Yes, there are many options that are not documented on the command-line. we might need to improve this in the future.

[2021-07-12 12:29] zjmnssy commented on #18901
@PhoebeHui
you can copy
https://github.com/etcd-cpp-apiv3/etcd-cpp-apiv3/tree/master/vcpkg/etcd-cpp-apiv3
into your vcpkg/ports
then, you can begin build

[2021-07-12 13:35] SamuelMarks commented on #17055
@JackBoosY How do you suggest I test nuklear? - I'm always including the full workflow to recreate my build. - So just tell me what to change.

[2021-07-12 13:44] zhaoweny commented on #18356
FYI, mbed TLS 3.0 [released](https://github.com/ARMmbed/mbedtls/releases/tag/v3.0.0) with proper CMake find_package support.

[2021-07-12 16:15] h3x1fy opened #18918 "u can update cpr in vcpkg?"
When asking a question please also include where you looked for an answer (so we can update the documentation if needed).

[2021-07-12 16:20] yajokboy opened #18919 "Cannot download package"
I try to download any package via install command but it can not

Example display (I try to using Power shell and command prompt that same answer)
PS C:\> vcpkg install grpc:x64-windows
Computing installation plan...
PS C:\>

[2021-07-12 16:54] sighingnow commented on #18901
The original error has been fixed after adding `boost-asio` to the dependency list.

[2021-07-12 17:50] brad-anderson commented on #16545
@JackBoosY I've confirmed this is still an issue.

[2021-07-12 18:05] autoantwort commented on #18919
Duplicate of #18636: Don't use cmake 21, use cmake 20.x

[2021-07-12 18:09] zjmnssy commented on #18901
i found a other problem, after build success, i use the output DLL files, but exe always load dll failed, it said not found the module, so does the build dll is not available？

[2021-07-12 19:51] #18918 closed

[2021-07-13 00:15] PhoebeHui commented on #18851
@jdx-john, does this still be a question for you?

[2021-07-13 00:37] NancyLi1013 commented on #18919
Hi @yajokboy

Thanks for posting this issue.
Could you please help confirm if you encountered the same problem as #18636? If yes, please try to use cmake 3.20.x to rebuild.

https://github.com/microsoft/vcpkg/issues/18636#issuecomment-868555508

[2021-07-13 00:51] PhoebeHui commented on #18237
See https://github.com/microsoft/vcpkg/pull/18908#issuecomment-878693222

[2021-07-13 01:32] yajokboy commented on #18919
Hi @NancyLi1013 I try to down version to 3.20.5 that worked , thank you

[2021-07-13 01:33] #18919 closed

[2021-07-13 01:51] pik314 opened #18925 "[colmap] build failure"
**Host Environment**
- OS: Windows Server 2019 standard
- Compiler:  Compiler Version 19.00.24215.1 for x86

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install colmap[cuda-redist]:x64-windows`

**Failure logs**
-- Using HTTP(S)_PROXY in environment variables.
Could not locate cached archive: C:\Users\XXXX28\AppData\Local\vcpkg\archives\7f\7f3224a2d3ff4d5db2056d7a1255ed9949fbe31bfb0

[2021-07-13 02:31] PhoebeHui commented on #18717
@Pilipets, could you try above steps?

[2021-07-13 02:40] zjmnssy commented on #18901
i let the dll and exe at the same directory, but also load failed, then i use dll analyse exe to see what in the dll files, the dll file can't be open , said it a invalid dll file. @sighingnow

[2021-07-13 06:06] JackBoosY commented on #16545
Will be fixed by https://github.com/microsoft/vcpkg/pull/17111.

[2021-07-13 06:17] vejmartin commented on #11132
Possibly fixed by https://github.com/microsoft/vcpkg/pull/18529.

[2021-07-13 06:35] vejmartin commented on #16630
Possibly fixed by: https://github.com/microsoft/vcpkg/pull/18529.

[2021-07-13 06:44] JackBoosY commented on #17055
@SamuelMarks
In CMakeLists.txt:
[code]

Also, you need to copy the related .c file from the share/demo/demo folder.
Sadly, some syntax is not allowed in Visual Studio.

[2021-07-13 07:14] vejmartin commented on #18466
@NancyLi1013, I've replaced the empty file with the original in https://github.com/microsoft/vcpkg/pull/18194.

[2021-07-13 08:07] NancyLi1013 commented on #18925
Hi @pik314

Thanks for posting this issue.

Could you please help provide the full log on your machine when you run `./vcpkg install colmap[cuda-redist]:x64-windows`?

[code]

[2021-07-13 08:28] Pilipets commented on #18717
Alright, I updated vcpkg, tried on the clean project, and it worked. Let me see where the problem comes from on another project.

[2021-07-13 08:36] jdx-john commented on #18851
I can see how it adds include/library paths, I don't understand how projects are able to automatically find and link .lib files, which need to be explicitly specified at link time? Even using Nuget you have to tell each project its dependencies, this seems so smooth it's like magic :)

[2021-07-13 08:44] TheVeryDarkness opened #18926 "[vcpkg upgrade] Why I can't upgrade vcpkg"
Nothing happened when I tried to upgrade.
[code]
As you can see, there are a lot of packages that can be upgraded

[2021-07-13 09:10] PhoebeHui commented on #18851
For cmake project, we have cmake targets file, which defines the libs that need to be linked explicitly when use find_package. but these doesn't provide any native cmake targets file, the libs can't be find automatically, you need to explicitly define the libs via find_library, then it can be find automatically.

For msbuild project, [vcpkg.targets](https://github.com/microsoft/vcpkg/blob/master/s

[2021-07-13 10:28] PhoebeHui commented on #18926
AFAIK, 'vcpkg upgrade' currently has some bugs, and does not support manifest mode currently.
It failed here since boost is a special port, the dependency structure is different to others, we add a workaround to vcpkg which  execute './vcpkg remove boost-uninstall --recurse' to remove the old one, then reinstall it manually again.

[2021-07-13 11:08] TheVeryDarkness commented on #18926
I've run that command, and those packages are uninstalled, but it seems I can't install boost now.
[code]

[2021-07-13 11:14] Pilipets commented on #18717
Yes, it worked after git pull + .\bootstrap-vcpkg.bat.

However, another concern I have relates to moving the project with installed packages to another PC machine for building.
I can't delete the packages.config if the packages folder in the project is missing - is it expected behaviour?

![image](https://user-images.githubusercontent.com/22419519/125442387-40d274a9-c0b1-4118-a898-871b27ffc4f4.pn

[2021-07-13 12:19] fishnet37222 opened #18928 "CMake fails to find vcpkg.json file"
**Describe the bug**
When using vcpkg with CMake, CMake fails to find the "vcpkg.json" file.

**Environment**
- OS: Windows
- Compiler: Visual Studio 2019
- CMake: 3.19.2

**To Reproduce**
Steps to reproduce the behavior:
1. Create a CMake project
2. Place a vcpkg.json file in the project's root directory
3. Build the project

**Expected behavior**
Any dependencies defined in the manifest will be

[2021-07-13 14:56] marekyggdrasil opened #18929 "vcpkg keeps keeps trying different package of different name than indicated"
**Describe the bug**

I have tried to install `secp256k1-zkp` but there is no such port (which is ok, not subject of this issue). Later I tried to install `mio` and it keeps trying to install `secp256k1-zkp`.

[code]

however, it let's me `search` for `mio`

[code]

**Environment**
- OS: Linux, Debian 10
- Compiler: CMake-3.21.0-rc3

**To Reproduce**
Steps to reproduce the behavior:

1. `./vcpkg i

[2021-07-13 16:00] DukeVengeance opened #18931 "[cmark] update to 0.30.0"
Library name: cmark

New version number: 0.30.0

https://github.com/commonmark/cmark

[2021-07-13 17:42] autoantwort commented on #18929
I don't know if it was fixed, but normally vcpkg crashes with cmake 21. Maybe it triggers undefined behavior and wants to install random packages. Can you maybe try it with cmake 20?

[2021-07-13 17:45] autoantwort commented on #18907
Would be fixed by #18927 :)

[2021-07-13 18:49] autoantwort opened #18932 "[qtbase] mingw build failure"
**Host Environment**
- OS: linux windows cross build
- Compiler: mingw (gcc 10)

**Failure logs**
[code]

<details>
<summary>config-x64-linux-windows-static-dbg-err.log</summary>

[code]
</details>

<details><summary>config-x64-linux-windows-static-dbg-out.log</summary>

[code]
</details>

<details><summary>CMakeOutput.log</summary>

[code]
</details>

<details><summary>CMakeError.log</summary>

[

[2021-07-13 19:12] Neumann-A commented on #18932
probably need to figure out why
`QT_FEATURE_openssl_linked = "OFF"` is set
although
`list(APPEND FEATURE_NET_OPTIONS -DINPUT_openssl=linked)`
is passed via configure

[2021-07-13 19:38] ras0219-msft commented on #18480
Sorry for the long time to get back!

First, I've opened #18933 which I believe addresses all the comments you made on the initial PR, along with a bunch of other "goodness" changes. Once you're happy with the CMakeLists.txt there, I'll open a PR into the upstream libopenmpt repo (CMakeLists.txt into the root?).

Ubuntu missing the config files for your dependencies is definitely an issue; when bu

[2021-07-13 19:48] JosipNizetic opened #18934 "[fmt] build failure"
**Host Environment**
- OS: MacOs Big Surr 11.4
- Compiler:  The CXX compiler identification is AppleClang 11.0.0.11000033

**To Reproduce**
Steps to reproduce the behavior:
./vcpkg install fmt:x64-osx

**Failure logs**
Josi-4266:vcpkg Josip$ ./vcpkg install fmt:x64-osx
Computing installation plan...
The following packages will be built and installed:
    fmt[core]:x64-osx -> 7.1.3#5
Detecting comp

[2021-07-13 19:52] Neumann-A commented on #18932
As discussed on discord the problem is probably the casing of `Ws2_32` and `Crypt32` which need to be lowercase for mingw. This is already fixed upstream in 6.2 As such if anybody needs this before 6.2 hits vcpkg please open up a PR to fix the case in `<qtbase_src_root>/cmake/FindWrapOpenSLL.cmake`

[2021-07-13 20:06] #18832 closed

[2021-07-13 20:08] autoantwort commented on #18934
You have to install `pkg-config` via brew with `brew install pkg-config` as suggested in the error message ;)

[2021-07-13 20:15] #13879 closed

[2021-07-13 20:27] ekilmer commented on #18483
This issue requires a bump to the vcpkg tool and a documentation update for `nugettimeout` to be closed.

[2021-07-13 21:13] JosipNizetic commented on #18934
Yes that  was right direction. I gave up too easy:-)

I needed to used following three lines

[code]
to be able o use

`  brew install pkg-config`

Now it works..

Thank you very much

[2021-07-13 21:13] #18934 closed

[2021-07-13 21:27] strega-nil-ms commented on #18865
@jdx-john we do not support multiple triplets with manifest mode, since we don't think it's a useful feature. The only way one can do this is with "host triplets". Basically, your "target" triplet is used for libraries and the like, while your "host" triplet is used for binaries and tools.

Manifest mode is more for "one-tree-per-build", which means that you only _need_ one triplet.

[2021-07-13 21:37] lanyizi commented on #7676
Besides static build, it's also desirable to have a dynamic version of EasyHook that is available when using static triplets.
Injected DLLs often needs to be self-contained (it should not reference any 3rd party DLLs) because the dependencies of injected DLL is usually not inside the target process's DLL search path. Linking to (the dynamic version of) EasyHook will be fine, because EasyHook will

[2021-07-13 21:38] jaysonpowers opened #18935 "installing any build failure windows 11 and windows 10"
On OS Windows 11 dev build, and Windows 10 latest
Compiler: VS 2019 latest community
CMake: latest

tested on fltk and glm, glew, glad

git clone https://github.com/microsoft/vcpkg
.\vcpkg\bootstrap-vcpkg.bat
`C:\dev>.\vcpkg\vcpkg install fltk

Computing installation plan...
NOTHING
C:\dev>`

Nothing happens.

Checked using Windows Terminal - Powershell
and Vanilla command prompt.

A search shows

[2021-07-14 00:58] BillyONeal opened #18936 "[ogdf] build failure when 'python' resolves to python3"
**Host Environment**
- OS: Ubuntu 20.04
- Compiler: GCC 9

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install ogdf`

**Failure logs**

[code]

[code]

**Additional context**
All the python scripts in this port say "/usr/bin/env python"

[2021-07-14 01:12] BillyONeal opened #18937 "[bde] build failure when python is python3"
**Host Environment**
- OS: Ubuntu 20.04
- Compiler: GCC 9

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install bde`

**Failure logs**
[code]

[code]

**Additional context**
Ubuntu 20.04 contains no out of the box way to make python mean python2.

[2021-07-14 01:27] autoantwort commented on #18935
Duplicate of #18636: Don't use cmake 21, use cmake 20.x :)

[2021-07-14 01:39] marekyggdrasil commented on #18929
@autoantwort thank you for your suggestion! To be honest I don't really want to mess with my environment on that machine as I am still learning to setup those things and I am worried I might break it. Just out of curiosity, does `vcpkg` store some sort of state somewhere? While I run `./vcpkg install mio` it has to somehow remember that previously I attempted to install `secp256k1-zkp`.

Actually

[2021-07-14 01:53] PhoebeHui commented on #18926
@TheVeryDarkness, could you execute 'git pull' and bootstrap-vcpkg.bat to get vcpkg latest source, and try again?

[2021-07-14 02:12] PhoebeHui commented on #18851
@jdx-john, does that answer your questions?

[2021-07-14 02:19] JackBoosY commented on #18483
Yes, waiting for the next release publish.

[2021-07-14 02:30] JackBoosY commented on #18928
Please note that the manifest file must be placed in the same level directory as the top-level `CMakeLists.txt`.
Once vcpkg detects its existence, it will automatically turn on manifest mode.
And also, please make sure your vcpkg is latest and rerun bootstrap again.

[2021-07-14 02:31] NancyLi1013 commented on #18935
Hi @jaysonpowers

Thanks for posting this issue. Could you please help confirm if you used cmake 3.21?

[2021-07-14 02:34] PhoebeHui commented on #18717
I can't repro this issue, I removed the packages folder and delete the packages.config successfully, were you able to repro this issue stably?

[2021-07-14 02:39] fishnet37222 commented on #18928
The manifest file is at the same level directory as the top-level `CMakeLists.txt`.  I made sure I have the latest vcpkg and ran the bootstrap batch file again.  The issue still remains.

I've attached a sample project that reproduces the issue.
[Minesweeper.zip](https://github.com/microsoft/vcpkg/files/6813131/Minesweeper.zip)

[2021-07-14 02:41] PhoebeHui commented on #10229
@eix128, please provide us above information if it still be a problem for you.

[2021-07-14 02:41] #10229 closed

[2021-07-14 02:41] NancyLi1013 commented on #18929
@marekyggdrasil
`secp256k1-zkp` is not in vcpkg.  You might have installed it on your machine before. But you removed the files on `ports/secp256k1-zkp`. So it will fail to find the port when you install other ports in vcpkg lists. You can run `./vcpkg remove secp256k1-zkp`, then try to rebuild other ports.

[2021-07-14 02:45] JackBoosY commented on #18928
I can't repro this issue on the same directory locally, can you provide the Visual Studio version?

[2021-07-14 02:45] JackBoosY commented on #18928
cc @strega-nil-ms

[2021-07-14 02:50] fishnet37222 commented on #18928
Microsoft Visual Studio Professional 2019
Version 16.10.3
VisualStudio.16.Release/16.10.3+31424.327
Microsoft .NET Framework
Version 4.8.04161

Installed Version: Professional

Visual C++ 2019   00435-60000-00000-AA402
Microsoft Visual C++ 2019

I created the project using JetBrains CLion, but the issue occurs with VSCode and Visual Studio itself.  The issue does not occur when I use vcpkg with an

[2021-07-14 02:50] SamuelMarks commented on #17055
After a `./vcpkg install nuklear allegro5` and removing + recreating the build dir `cmake ..` gave me:
[code]

PS: Your allegro dance… not sure if this is assumed knowledge for everyone using `vcpkg`?

[2021-07-14 02:53] PhoebeHui commented on #3414
I think we need to update the docs https://github.com/microsoft/vcpkg/blob/master/CONTRIBUTING.md#legal, and give a guildline about signing the CLA.

[2021-07-14 02:57] JackBoosY commented on #18928
@fishnet37222  Can you also please provide the cmake version?

[2021-07-14 03:02] fishnet37222 commented on #18928
The version of CMake that CLion uses is 3.19.2.  When I try with VSCode, the version of CMake being used is 3.20.5.

[2021-07-14 03:17] PhoebeHui commented on #18928
@fishnet37222, as a workaround, could you pass -DVCPKG_MANIFEST_DIR="C:/Users/Dave/CLionProjects/Minesweeper" and see if it works for you?

See https://github.com/microsoft/vcpkg/blob/master/scripts/buildsystems/vcpkg.cmake#L53, I suspect it doesn't get CMAKE_SOURCE_DIR correctly.

[2021-07-14 03:33] fishnet37222 commented on #18928
Passing that variable to CMake gets rid of the error and allows the dependencies to be downloaded and installed.

[2021-07-14 06:00] JonLiu1993 commented on #18778
@jfm535 ,Has this issue been solved?

[2021-07-14 06:06] JackBoosY commented on #18887
Sorry for late, can you please provide a sample project to reproduce this bug?

[2021-07-14 06:24] PhoebeHui commented on #5489
This issue shoud be fixed, please get latest source and try again.

[2021-07-14 06:24] #5489 closed

[2021-07-14 06:40] iskiselev opened #18939 "[boost-filesystem] compiled package fails to resolve file exists on alpine"
**Describe the bug**
After build of boost-filesystem, it can't resolve if file exists or not with not implemented exception

**Environment**
- OS: Alpine 3.11

**Additional context**
Looks like package fail, as despite Alpine defines enough to pass through test for BOOST_FILESYSTEM_HAS_STATX_SYSCALL (https://github.com/boostorg/filesystem/blob/f15a0e9b90910c74eb6ee3c15442be518a2e89fc/CMakeLists.tx

[2021-07-14 06:41] jfm535 commented on #18778
yes it has

[2021-07-14 07:07] iskiselev commented on #18939
Looks like in 1.76, this config is not yet in cmake - it is in https://github.com/boostorg/filesystem/blob/boost-1.76.0/build/Jamfile.v2#L56  Is there any easy way to change it there - or the easiest way will be apply patch?

[2021-07-14 07:50] #18778 closed

[2021-07-14 07:52] mathisloge opened #18941 "[icu:arm-android] build failure"
**Host Environment**
- OS: Windows 10 -> Android
- cmake: 3.18.1
- Android Studio:
[code]

**To Reproduce**

It's my first time building something for android.
I've used the vcpkg-android.cmake example from the docs and modified it to work with android studio.
https://github.com/mathisloge/tangram-es/blob/vcpkg-example/cmake/vcpkg_android.cmake

Root cmake project: https://github.com/mathisloge/ta

[2021-07-14 08:17] JackBoosY commented on #18270
[code]
Should add the generated file `getopt.h` path to this command line.

[2021-07-14 09:37] PhoebeHui commented on #9938
@mikebdp2, please submit a PR for etc2comp firstly.

[2021-07-14 09:37] #9938 closed

[2021-07-14 09:39] SamuelMarks opened #18943 "How do I build DLLs from vcpkg into `CPack`ed installer?"
I'm using `cpack -G WIX -C Debug` on my [SamuelMarks/cmake-example-with-vcpkg](https://github.com/SamuelMarks/cmake-example-with-vcpkg). Which produces a nice installer, but it doesn't copy/install `zlibd1.dll` (from `vcpkg`).

How is this meant to work?

[2021-07-14 10:45] NancyLi1013 commented on #18808
@MrAviator93
I submitted a PR #18944 to fix this issue. Could you please help test if this PR can work fine for you?

[2021-07-14 10:59] strega-nil-ms commented on #18928
@fishnet37222 could you `message(STATUS "${CMAKE_SOURCE_DIR}")` in your CMake file, above the project() line? I wanna see what's going on.

[2021-07-14 11:30] fishnet37222 commented on #18928
I get the following output when I add that line.  I did modify the line slightly to make it more obvious.

[code]

[2021-07-14 11:42] jdx-john commented on #18865
Thanks @strega-nil I was confused about host/target triplets the other week but decided it wasn't something I needed to know :)

We can't be the only team who build the same solution twice with different configurations? e.g. we build Solution.sln twice, once for Release | x86 and once Release | x64. Or, many people must have a solution which has some x86 and some x64 projects - so it's likely you

[2021-07-14 11:43] Erixar opened #18946 "[opencv] build failure about libjpeg-turbo:x86-windows"
**Host Environment**
- OS: [Windows]

I'm tring to install opencv by vcpkg,and got some problem when building libjpeg-turbo:x86-windows

F:\Git\vcpkg>vcpkg install opencv
Computing installation plan...
The following packages will be built and installed:
  * libjpeg-turbo[core]:x86-windows -> 2.0.6
  * liblzma[core]:x86-windows -> 5.2.5#2
  * libpng[core]:x86-windows -> 1.6.37#15
  * libwebp[core,n

[2021-07-14 11:46] autoantwort commented on #18865
We have the same problem. We set the install dir to `$(VcpkgRoot)installed$(VcpkgTriplet)` as a solution

[2021-07-14 11:51] libboze commented on #18887
@JackBoosY
5 days including weekend is what I consider fast.

So now back to how to reproduce:
As I wrote: install the TF packet, integrate with VS(to make it easy to use it), write some toy program that uses TF and it will fail with linker errors.
In particular try to use
SessionOptions::SessionOptions or any other items patched in medium link bellow.
You will get linker errors.

This is expected

[2021-07-14 12:13] jdx-john opened #18947 "How do I handle having dependencies on both 32 & 64 bit versions of a DLL when the file-name is the same for both?"
Our software has dozens of .EXE components which, with their DLL dependencies, get installed into a `BIN` folder on the user's PC. These are a mix of x86 & x64 binaries and in at least one case we have the same vcpkg package a dependency of x86 and x64 modules. So far we noticed it with `zlib1.dll` but there will likely be others.
vcpkg copies the required DLLs into our build directory but both 32

[2021-07-14 12:19] jdx-john commented on #18865
Am I correct that when building with manifest, it wipes the target directory unlike when building explicit targets?
My main use for manifest is to make it easier for us to pre-build all the dependencies, maybe I would be best explicitly building packages and put this in a script. I feel I'm fighting manifests a bit just using it as a list of packages to build.

[2021-07-14 12:40] mathisloge commented on #18941
This might be related to
https://github.com/microsoft/vcpkg/pull/15605 and https://github.com/microsoft/vcpkg/issues/15255

[2021-07-14 12:52] libboze commented on #18887
Just double checked, unfortunately I made a mistake, in my original post i said I am using 2.4 package, I was using 2.3 package.
2.3 package is indeed missing exported symbols, TF2.4 seems to be fine.
Apologies for false alarm.

[2021-07-14 13:44] Pilipets commented on #18717
You need to move the project to another machine - where the path to the extension becomes invalid.
Anyway, thanks - I will create another issue in case of stable reproductions.

[2021-07-14 13:44] #18717 closed

[2021-07-14 14:06] jdx-john opened #18948 ""Error: invalid triplet: x64-windows" when using custom triplet and --overlay-triplet"
I have created a custom triplet in a separate directory:

`C:\github\microsoft>vcpkg\vcpkg install magic-enum --overlay-triplets=c:\triplets --triplet=x64-windows-vs2019
`
[code]

I get the error in the title:

 This seems to suggest that it is for some reason using default x64 triplet in part. If I run from inside vcpkg directory it builds but I do see installed\x64-windows directory created.

Is

[2021-07-14 14:21] libboze commented on #18887
Ah I was right originally, vcpkg tensorflow is still broken.
So reopening.
For context(not that it matters I feel) I am using vcpkg without integration, just having this in my FindTensorflow file:
`include(D:/vcpkg/installed/x64-windows/share/tensorflow-cc/tensorflow-cc-config.cmake)`
As for version here it is:

./vcpkg.exe list

tensorflow-cc:x64-windows                          2.4.1

[2021-07-14 14:26] #18686 closed

[2021-07-14 15:00] autoantwort commented on #18948
That's strange, are there files in vcpkg/triplets?

[2021-07-14 15:10] jdx-john commented on #18948
Yes all the normal ones. OK If I forget my custom triplet:

I am guessing you have to run vcpkg in it's own directory for it to find the default triplets, whereas --overlay-triplets explicitly sets them. This might be intended functionality, but my bigger concern is why x64-windows is being built at all. It _seems_ that in installed\x64-windows I only have some tools and helper files, so possibly

[2021-07-14 15:57] jaysonpowers commented on #18935
Yes, I was using CMake 3.21, I'll go ahead and install 3.20, thanks!

[2021-07-14 16:08] autoantwort commented on #18948
Yeah `x64-windows` is the "host" triplet. If you for example build boost, you need the b2 executable, but not for your target platform, but for your host platform

[2021-07-14 16:10] jaysonpowers commented on #18935
It's working fine now, thank you very much!

[2021-07-14 16:10] #18935 closed

[2021-07-14 16:11] dg0yt commented on #18948
The host triplet is also used for some pure cmake helper scripts such as the one providing `vcpkg_cmake_configure`.

[2021-07-14 16:47] strega-nil-ms commented on #18865
@jdx-john yeah, manifests is really _not_ about "just being a list of packages to install". If that's what you want, you're better off using a response file and classic mode. Manifest mode is about installing the packages you need for your current project and configuration, the same way other language package managers (like cargo) work.

The experience in CMake is likely better, since I was the on

[2021-07-14 16:50] strega-nil-ms commented on #18928
@fishnet37222 are you listing the right source directory? The screenshot you attached is not of the directory that that CMake is showing.

[2021-07-14 16:55] jdx-john commented on #18948
I've set my custom triplet to be release-only, but it's building x64-windows-dbg as well as x64-windows-rel for these required parts. But this clears up one part of my question.

So then how can I use overlay-triplets as I wish? Can I separately specify host and target triplet overlay-paths or whatever? I want my custom triplets to be in my own repository but I don't want to copy vcpkg's own tripl

[2021-07-14 16:57] Kicer86 opened #18950 "[qtbase] build failure"
**Host Environment**
- OS: Windows
- Compiler: gcc.exe (Rev5, Built by MSYS2 project) 10.3.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install qtbase:x64-mingw-dynamic`

**Additional context**
qtbase depends on `libb2` on !windows platoforms.
Yet with x64-mingw-dynamic triplet `vcpkg` tries to install `libb2` which fails (`libb2` builds on windows are disabled with `vcpkg_fail_po

[2021-07-14 17:00] jdx-john commented on #18865
OK I think we'll either use a simple script or look into response files (I hadn't seen those). We have a pretty giant solution so prefer our vcpkg dependencies are prebuilt in one place. Manifests sound like not the best fit here.

Thanks for clarifying.

[2021-07-14 19:05] MrAviator93 commented on #18808
You are right, if I remove #define SIGC_DLL 1 then for static build it builds and works just fine.
So as I understand the fix will be merged now in master and it will be possible to pull the fixed one?

[2021-07-14 19:46] #13624 closed

[2021-07-14 20:32] xavier2k6 opened #18952 "[CMake] update to 3.21.0"
Library name: CMake from Kitware

New version number: 3.21.0

Other information that may be useful (release notes, etc...)

ref.:
`scripts/vcpkgTools.xml`
https://cmake.org/download/#:~:text=Latest%20Release
https://cmake.org/cmake/help/v3.21/release/3.21.html#cmake-3-21-release-notes

[2021-07-14 20:58] cenit commented on #18947
yes, in the triplet you can set specific ports to be static (or dynamic in a static triplet).

good question yours also. Is the “single architecture” way impossible/not desired for you?

[2021-07-14 21:37] jdx-john commented on #18947
@cenit it is a large, very old legacy codebase so not really :) Certainly not within the scope of work I am doing.
I am wondering if ports should emit architecture-specific DLL file-names as a rule, or some are just kind enough to do so. If I find a package which doesn't observe this (such as zlib) what can I do?

[2021-07-14 23:26] TheVeryDarkness commented on #18926
@PhoebeHui I've done that, and now git is on 6809996808414cf7b5ea631ca0660093c0c5b102, while vcpkg's version is still 2021-05-05-e8977e69d9a3fb462d9ad42013d83a7682706659, and I can't install boost, either. Is vcpkg the lastest version?

[2021-07-15 01:42] NancyLi1013 commented on #16680
These documents have been updated in vcpkg now via #18838.

[2021-07-15 01:42] #16680 closed

[2021-07-15 02:18] PhoebeHui commented on #18928
@fishnet37222, could you add 'message(STATUS "${CMAKE_SOURCE_DIR}")' in your cmake file, and execute the cmake commands without passing  '-DVCPKG_MANIFEST_DIR', I think Nicole wants to confirm if CMAKE_SOURCE_DIR gets correctly when it failed at the beginning.

The above looks like another instance and is different source diretory from original problem.

[2021-07-15 02:40] JonLiu1993 commented on #18946
@Erixar ,Thanks for posting this issue.
--mt=CMAKE_MT-NOTFOUND
Please re-install Windows SDK and try again.

Thanks.

[2021-07-15 02:40] PhoebeHui commented on #18926
@TheVeryDarkness, what's the Visual studio version do you use? could you execute './vcpkg install boost-math --debug', and provide us the output?

[2021-07-15 02:41] fishnet37222 commented on #18928
I guess you can close this issue now.  I just did another `git pull` in the vcpkg folder and ran the bootstrap file again.  I then deleted the CMake cache and reconfigured the project.  All the dependencies started building and installing as expected.  I don't know what changed, but something must have because clearing the cache wasn't resolving the issue earlier.

[2021-07-15 02:41] #18928 closed

[2021-07-15 02:51] JackBoosY commented on #18791
Fixed by https://github.com/microsoft/vcpkg/pull/18838.

[2021-07-15 02:51] #18791 closed

[2021-07-15 02:51] JackBoosY commented on #18791
Fixed by https://github.com/microsoft/vcpkg/pull/18838.

[2021-07-15 03:04] PhoebeHui commented on #18900
@cocaocla, please reopen this issue and attach full failure logs if it still be a problem for you.

[2021-07-15 03:04] #18900 closed

[2021-07-15 03:06] #18851 closed

[2021-07-15 03:11] PhoebeHui commented on #18878
Closing in favor of https://github.com/microsoft/vcpkg/issues/18815

[2021-07-15 03:11] #18878 closed

[2021-07-15 03:11] PhoebeHui commented on #18853
Closing in favor of https://github.com/microsoft/vcpkg/issues/18815

[2021-07-15 03:11] #18853 closed

[2021-07-15 03:13] JackBoosY commented on #18947
If you use install command, please modify _ports/zlib/portfile.cmake_ and add these code to `vcpkg_configure_cmake`:
[code]

[2021-07-15 03:16] NancyLi1013 commented on #18948
@jdx-john
Is this custom triplet listed in _C:\triplets\x64-windows-vs2019.cmake_? Do you use overlay-triplets on your own repo? If possible, could you please help tell us what special for your repo?

I can build successfully on my machine with` .\vcpkg.exe install magic-enum --overlay-triplets=F:\custom-triplets --triplet=x64-windows-vs2019`.

`x64-windows-vs2019.cmake` is in _F:\custom-triplets\

[2021-07-15 03:17] #17194 closed

[2021-07-15 04:07] dg0yt commented on #18926
This typically indicates a known issue with CMake 3.21. Install CMake 3.20.

[2021-07-15 04:23] dg0yt commented on #18947
Please remember that Windows is just one target OS.
I would propose to use separate directories for different architectures. This is what is normaly used on Linux, macOS and Android.

For each port modified like this, extra care must be taken to verify cmake wrappers, pc files,  and `...-config` scripts. It is hard enough to have them handle debug postfix right, and now I see a release postfix pro

[2021-07-15 06:11] PhoebeHui commented on #17971
This generally since something wrong in VS setting, we can't get relate environment correctly, I think we don't have any plan to improve this currently.

[2021-07-15 06:11] #17971 closed

[2021-07-15 06:13] PhoebeHui commented on #18716
@arunabh42, does this still be a problem for you? have you try above suggestion?

[2021-07-15 06:17] #18007 closed

[2021-07-15 06:23] PhoebeHui commented on #18291
@alberthdev, the fix has been merged, please get latest source and try again.

[2021-07-15 06:23] #18291 closed

[2021-07-15 06:39] PhoebeHui commented on #16888
This should be fixed now.

[2021-07-15 06:39] #16888 closed

[2021-07-15 06:43] PhoebeHui commented on #4078
@gera710, boost has been upgrade to 1.76 in vcpkg, please try latest source and open a new issue if still be a problem for you.

[2021-07-15 06:43] #4078 closed

[2021-07-15 07:10] cenit commented on #18952
https://github.com/microsoft/vcpkg-tool/pull/107

a new vcpkg-tool is also mandatory for cmake 3.21
fixes already landed there, I hope it can be released soon to unblock pipelines that are already using cmake 3.21

[2021-07-15 08:52] jdx-john commented on #18947
Thanks @JackBoosY / @dg0yt for the tip regarding `-DCMAKE_..._POSTFIX` I'll test that. Is this the sort of change that you might want pushing as a PR or is it for me locally? I don't know iof vcpkg has rules on lib/DLL naming that some projects are missing, or I'm a corner case and nobody else needs these changes.

[2021-07-15 10:15] cenit commented on #18947
The CMAKE_<CONFIG>_POSTFIX is explicitly unallowed on vcpkg. So the hint was intended as a suggestion for you to use, in an overlay port maybe of the official one

[2021-07-15 10:25] shavesha opened #18959 "Why is find_package for gtest saying that the version is incompartible?"
I am using Visual Studio Code for my C++ project. I have added

[code]
to my ``settings.json`` file.

This is my manifest file

[code]
this is how I am including the features in the main cmake file
[code]
And my cmake file that requires GTest library - the relevants parts at least
[code]
When I run the Cmake build command it finds GTest but fails to complete the process. Here is the log

[code]

W

[2021-07-15 12:20] Erixar commented on #18946
I've re-installed Windows 10 SDK(10.0.19041.0) by Visual Studio, and looks like nothing happened.

F:\Git\vcpkg>vcpkg install opencv
Computing installation plan...
The following packages will be built and installed:
  * libjpeg-turbo[core]:x86-windows -> 2.0.6
  * liblzma[core]:x86-windows -> 5.2.5#2
  * libpng[core]:x86-windows -> 1.6.37#15
  * libwebp[core,nearlossless,simd,unicode]:x86-windows

[2021-07-15 13:26] Neumann-A commented on #18959
means you are building for 32 bit and not 64 bit

[2021-07-15 13:54] cenit commented on #18959
add `"VCPKG_TARGET_TRIPLET": "x64-windows"`

[2021-07-15 14:05] Neumann-A commented on #18959
probably not what is wanted:

but "VCPKG_TARGET_TRIPLET": "x86-mingw-dynamic" could be what is wanted

[2021-07-15 14:08] ras0219-msft commented on #18726
As a workaround, you can always predownload the file yourself into the downloads folder ahead of time using curl's insecure mode.

[2021-07-15 14:08] cenit commented on #18959
you are right, i was fooled by `vcpkg_installed/x64-windows/share/GTest/GTestConfig.cmake` (the x64-windows triplet in which vcpkg found the dependency)

[2021-07-15 14:10] cenit commented on #18959
so it looks like anyway that the manifest mode worked out of the box without any specific triplet by the user in x64-windows mode, but then vcpkg didn't select the same triplet when building the master project. Is it right?

[2021-07-15 14:15] ras0219-msft commented on #18623
Let us know if this doesn't resolve your issue!

[2021-07-15 14:15] #18623 closed

[2021-07-15 14:19] ras0219-msft commented on #18959
I believe it's that we cannot detect the "correct" triplet when the user is using mingw. We automatically fell back to x64-windows, but they really wanted an x86-mingw variant.

[2021-07-15 14:24] Thieum opened #18960 "Warn or fail when vcpkg-configuration.json has a double entry between default and the other registries"
When configuring my vcpkg-configuration.json this way:

[code]

I was able to search for a package, but not install it, without much explanation about why it would fail.

It would be helpful to have a warning or an error in case of misconfiguration.

### Discussed in https://github.com/microsoft/vcpkg/discussions/18852

<div type='discussions-op-text'>

<sup>Originally posted by **Thieum** July  7

[2021-07-15 15:03] DanielDelaporus opened #18962 "[alembic] Installing in debug only or in release only is not enable on this version of the port"
****

**Is your feature request related to a problem? Please describe.**
The issue concerns this file (https://github.com/microsoft/vcpkg/blob/master/ports/alembic/portfile.cmake)

Whenever I try to install alembic using vcpkg while using a homemade "release only" triplet, I noticed that there was no test to check the VCPKG_BUILD_TYPE in this port. Therefore the build fails because it tries to use

[2021-07-15 15:35] pik314 commented on #18925
Hi, Thank you for responding. Below is the full log of the command

.\vcpkg install colmap [cuda,tests]:x64-windows

in Windows server 2019 . I have replaced my user name on the machine with XXXXXX. Proxy settings are correctand I am not using Fiddler.

Thank you for looking into this.

========================================
[vcpkg_install_colmap_error.txt](https://github.com/microsoft/vcpkg/fil

[2021-07-15 15:36] pik314 commented on #18925
Closed by mistake. Sorry.

[2021-07-15 15:52] pik314 commented on #18925
It seems the issue is with libjpeg-turbo. Below is the log of the install command for jpeg-turbo
[vcpkg_install_jpeg-turbo.txt](https://github.com/microsoft/vcpkg/files/6824538/vcpkg_install_jpeg-turbo.txt)

[2021-07-15 16:16] PPPHUB opened #18965 "Why can't I get any responses when I want to install some package?"
![QQ截图20210716001314](https://user-images.githubusercontent.com/79923293/125821773-2656b8e6-6617-4d05-87a9-3a2fbf24d7b2.png)
It always like this no matter which package I was installing

[2021-07-15 16:48] PPPHUB commented on #18965
problem was fixed by changed the cmake from 3.21 to 3.20

[2021-07-15 16:48] #18965 closed

[2021-07-15 19:48] BillyONeal opened #18967 "vcpkg command port-name should be consistent across commands"
The pull request series:

* https://github.com/microsoft/vcpkg-tool/pull/56
* https://github.com/microsoft/vcpkg-tool/pull/62
* https://github.com/microsoft/vcpkg-tool/pull/55
* https://github.com/microsoft/vcpkg-tool/pull/93

opened a lot of internal discussion among the vcpkg maintainers. Some maintainers want to make sure registry-ish commands always respect registry behavior, some value not br

[2021-07-15 20:31] CodedByATool opened #18968 "Installing mpg123 creates an mpg123-config.cmake file for x64-windows but not x64-linux. Should it?"
I'm making a simple cmake project that uses mpg123. I'd like this stub to work the same on both linux (ubuntu) and windows (10):

[code]

The toolchain file is set correctly for vcpkg, _other_ vcpkg installed packages are being found fine and are setting variables for both linux and windows builds.

When this is run on windows10 after installing the mpg123 x64-windows triplet with vcpkg it picks u

[2021-07-15 21:52] #16876 closed

[2021-07-15 22:38] vicroms commented on #18533
Hi @tonygould

I opened #18969 to fix the documentation issue with the Getting Started guide.

For your second issue:

[code]
It has to do with how [versioning schemes]() are implemented in vcpkg.

From `versions/f-/fmt.json`:
[code]

[2021-07-15 23:20] vicroms commented on #18533
The second part of the issue is a bit more complicated.

[code]
The issue lies in that by design we do not compare between versions that use different [version schemes](https://github.com/microsoft/vcpkg/blob/master/docs/users/versioning.md#version-schemes) (even if the conversion from one to the other seems obvious).

From `versions/f-/fmt.json`:

[code]

We can see that `version-string` was used

[2021-07-16 01:47] IronsDu commented on #18623
@ras0219-msft :  I don't know whether this resolve my issue. But @JackBoosY Help me resolve my issue.

Thank you.

[2021-07-16 01:48] PhoebeHui commented on #18533
@vicroms, could you help confirm if there is bug here? both 7.1.2 and 7.1.3 are scheme string, however, they still failed to compare.

vcpkg.json
[code]

[code]

[2021-07-16 02:08] JackBoosY commented on #18947
Yeah, that's only a workaround.

[2021-07-16 02:13] JonLiu1993 commented on #16926
@jade74-work,Pr #18041 has been merged, please update vcpkg to the latest version and use

[2021-07-16 02:13] #16926 closed

[2021-07-16 02:15] NancyLi1013 commented on #18925
[code]
Could you please help confirm if you have access to `https://www.nasm.us/pub/nasm/releasebuilds/2.15.05/win32/nasm-2.15.05-win32.zip` or `https://fossies.org/windows/misc/nasm-2.15.05-win32.zip`?

If yes, please download it manually, and put this archive to _C:/Projects/colmap/vcpkg/downloads_ folder. Then try to rebuild this.

[2021-07-16 02:16] JonLiu1993 commented on #15498
Sloved by #15719

[2021-07-16 02:16] #15498 closed

[2021-07-16 04:41] evpobr commented on #18968
CMake buildsystem is new for mpg123 and tested (more or less) on Windows platform only. On other platfroms it uses Autotools.

[2021-07-16 05:32] dg0yt commented on #18967
I  miss a mention of `vcpkg-configuration.json`.
It's not clear to me if the design covers the case where `vcpkg-configuration.json` in an otherwise pristine vpkg root denominates a custom git registry as default registry, and the user wants to do maintain that custom git repository. IMO command should apply to the *default* git registry but this isn't the case at the moment.

FTR, my current work

[2021-07-16 07:48] #15811 closed

[2021-07-16 08:02] traversaro commented on #485
For what regards CRT problems, I recently noticed that msys2 now provides ucrt-based builds on top of the already existing `MINGW64` builds: https://packages.msys2.org/package/mingw-w64-ucrt-x86_64-gcc-fortran?repo=ucrt64 . If people are still interested in this, a possible strategy may be to switch the `vcpkg-gfortran` port (added in https://github.com/microsoft/vcpkg/pull/12805) to use the ucrt

[2021-07-16 08:44] JonLiu1993 commented on #18946
@Erixar, have you installed the English package  in Visual Studio?

[2021-07-16 09:09] davidhunter22 commented on #18952
Can I second the request for a new vcpkg-tool release. Not having the commit https://github.com/microsoft/vcpkg-tool/commit/8b1c04b3b8e50db93d0245e761f3d8ebeb400309 means anyone using vcpkg migrating to CMake 3.21 will face doom and gloom. See https://gitlab.kitware.com/cmake/cmake/-/issues/22371 and https://gitlab.kitware.com/cmake/cmake/-/issues/22422 for at least two reports of the problem

[2021-07-16 09:27] JackBoosY commented on #18968
Yes, maybe we should support cmake to build mpg123 on Linux.
@evpobr What do you think about this?

[2021-07-16 09:32] JackBoosY commented on #18952
@davidhunter22 We will release the next version in a few days.

[2021-07-16 09:51] evpobr commented on #18968
Sorry, i'm buzy now.

[2021-07-16 10:11] Erixar commented on #18946
Yes, already installed

[2021-07-16 10:43] cenit commented on #18946
c++ workload in vs installer is enabled?

[2021-07-16 10:55] koprok commented on #18833
Hi all,
I am the creator of the Urho3D package in Vcpkg and I am currently happily using it. I have described how to use it here:
https://github.com/urho3d/Urho3D/issues/2810#issuecomment-881356375
I hope this helps.

[2021-07-16 11:49] Erixar commented on #18946
Looks like that's the problem, I've tried to print Hello World and cl.exe do not work well. I'll re-install Visual Studio and try again. thanks

[2021-07-16 12:07] autoantwort commented on #18967
Can we specify what `<command>` is. I assume it is only `edit`, `x-add-version` and `format-manifest`? So "registry management" commands. Why should these look at a existing `vcpkg.json` file?

With https://github.com/microsoft/vcpkg-tool/pull/93 it would be possible to simply be in the dir of the custom registry or setting it with `--x-registry-root`.

[2021-07-16 12:11] harrynull commented on #18118
I also had this issue but for what it worth it is because I didn't install freetype2.

[2021-07-16 17:28] vicroms commented on #18533
@PhoebeHui

It is not a bug, is intended by design. We cannot sort using `version-string`. It may seem obvious when the strings are `"7.1.2"` and `"7.1.3"`, but what if those were `"apple"` and `"orange"` instead? To get sorting behavior packages must use the other versioning schemes.

The only kind of sort behavior that is implemented with `version-string` is when the base version string is the s

[2021-07-16 17:41] Type1J commented on #1843
@rkitover Yes, it's still broken. I've been using workarounds presented in this thread, but they break every time that I update vcpkg. I may just remove wxWidgets and use my own abstractions.

[2021-07-16 19:03] #18776 closed

[2021-07-16 19:55] #18423 closed

[2021-07-16 19:56] rkitover commented on #1843
@Type1J I was commenting on the premature closure. I am using these workarounds as well, and I've expanded on them, if you want to take a look at my stuff it's here:

https://github.com/visualboyadvance-m/visualboyadvance-m/blob/master/src/wx/CMakeLists.txt#L92

This has been generally working for me, more or less.

[2021-07-16 20:25] BillyONeal commented on #18967
That's covered by the "Otherwise, if there exists a vcpkg.json file in a directory above this one," line, since to be meaningful a vcpkg-configuration.json needs an associated vcpkg.json. (At least, that is the intent)

We're choosing 'error' as the resolution right now because we could not arrive at a set of behavior that actually made everyone happy, and want to find out from actual customers wh

[2021-07-17 00:52] snnn commented on #18952
It will affect a lot of github users. The latest Windows 2019 image provided by github actions works fine, because it uses cmake 3.20.5. (see https://github.com/actions/virtual-environments/blob/releases/win19/20210711/images/win/Windows2019-Readme.md).

But once they regenerate the image, vcpkg will crash. Usually they update the image weekly.

[2021-07-17 03:31] byxrolland opened #18984 "[hdf5] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: VC++

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install hdf5:x64-windows`

**Failure logs**
-Cut and past the appropriate build messages from the console output.
[code]
-Please attach any additional failure logs mentioned in the console output.
[code]
**Additional context**
This build failure happened firstly when I upgrade
[code]

[2021-07-17 04:32] SamuelMarks commented on #17055
@vicroms / @JackBoosY I see you've closed this issue and merged it in. Do you have a working example `CMakeLists.txt` + `main.c` for me to work with on macOS et al.?

[2021-07-17 04:40] stfzy commented on #1808
how to export all packages

[2021-07-17 05:48] henriblMSFT opened #18986 "How do I enable spectre mitigation"
We are using BinSkim to scan our assembly for any issues, one of the issue is flagged is that our assembly does not have spectre mitigation.

Our assembly depends on the yara port which we build this way:
[code]

Ultimately we depend on the following lib packages:
- jansson.lib
- libcrypto.lib
- libssl.lib
- libyara.lib

Is it possible to enable spectre mitigation when building those static librar

[2021-07-17 08:47] #18859 closed

[2021-07-17 09:37] Ryan-rsm-McKenzie opened #18987 "VCPkg does not support the v143 MSVC toolset"
**Describe the bug**
VCPkg does not support the v143 MSVC toolset. It seems to stem from a missing entry in this hard-coded list:
https://github.com/microsoft/vcpkg-tool/blob/3be6b75f6972aa72ca34afce39168094432ea300/src/vcpkg/visualstudio.cpp#L15-L18
And subsequently a missing case here:
https://github.com/microsoft/vcpkg-tool/blob/main/src/vcpkg/visualstudio.cpp#L252-L266

**Environment**
- OS: W

[2021-07-17 10:50] branchesgit opened #18988 "vcpkg install [package] error"
-- Building x86-windows-dbg
CMake Error at scripts/cmake/vcpkg_execute_build_process.cmake:155 (message):
    Command failed: "D:/Program Files/CMake/bin/cmake.exe" --build . --config Debug --target install -- -v -j17
    Working Directory: D:/vc_tools/vcpkg/buildtrees/zlib/x86-windows-dbg
    See logs for more information:
      D:\vc_tools\vcpkg\buildtrees\zlib\install-x86-windows-dbg-out.log

[2021-07-17 10:55] BullyWiiPlaza commented on #10911
Here's the respective pull request: https://github.com/microsoft/vcpkg/pull/18989

[2021-07-17 14:15] syheliel commented on #11110
I meet this question in Ubuntu, and I find that it is caused by hard link. use `ln -s your_vcpkg_path /usr/bin/vcpkg` rather than the version without `-s` can solve it.

[2021-07-17 14:37] tan-wei commented on #18718
Met the same issue when update CMake to 3.21.0

[2021-07-17 21:15] autoantwort commented on #18988
When reporting an issue please always provide the log files :

D:\vc_tools\vcpkg\buildtrees\zlib\install-x86-windows-dbg-out.log
D:\vc_tools\vcpkg\buildtrees\zlib\install-x86-windows-dbg-err.log

Thanks :)

[2021-07-17 22:06] autoantwort commented on #18967
I disagree. Imo we should really split the behavior of finding ports in two groups, "registry management" and "user" commands. For `x-add-version` it makes no sense to search outside of the current registry that you want to edit. Also I don't want that `format-manifest` searches for a `vcpkg-configuration.json` and then tries to format some files somewhere. When my cwd is inside a custom registry

[2021-07-18 05:57] Erxl commented on #18888
I have compiled successfully, but I don't know why

[2021-07-18 06:42] Erxl opened #18992 "[icu:x64-windows] build failure"
**Host Environment**
- OS: Windows
- Compiler: Microsoft (R) C/C++ Optimizing Compiler Version 19.29.30130.2 for x64

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install icu:x64-windows`

**Failure logs**

[code]

**Additional context**
Add any other context about the problem here, such as what you have already tried to resolve the issue.
[install-x64-windows-dbg-err.log](https://gi

[2021-07-18 07:09] m-kuhn opened #18993 "x-add-version check in ci"
When creating a pull request for a port update it is required to run the x-add-version command.
Failing to run and commit this (or doing it at the wrong point in time) blocks a pull request. This is prone to happen for newcomers (it happened to me more than once).

At the moment, this check is mostly done manually by repository maintainers. The good thing of that is, that there is a social aspect

[2021-07-18 07:52] talregev commented on #18076
It also fail on Linux mingw:
[code]

I can provide logs

[2021-07-18 07:55] talregev commented on #18076
[code]

[2021-07-18 07:57] talregev commented on #18076
libffi buildtrees logs:
[libffi.zip](https://github.com/microsoft/vcpkg/files/6835841/libffi.zip)

[2021-07-18 08:06] longnguyen2004 commented on #18076
I can confirm it's the same error, however it seems to be a compiler/assembler bug. I can't reproduce it with llvm-mingw.
What version of gcc are you using? If it's fairly recent, I'll have a look at it.

[2021-07-18 08:09] talregev commented on #18076
I am using gitlab ci with ubuntu docker image.
then I install these packages:

[code]

I can share the yaml for this ci.

[2021-07-18 08:13] longnguyen2004 commented on #18076
What version of Ubuntu are you using? I'll try to track down the gcc version.

[2021-07-18 08:14] talregev commented on #18076
https://hub.docker.com/_/ubuntu

I will try to do gcc --version

[2021-07-18 08:17] talregev commented on #18076
it more interesting to know:
[code]

[2021-07-18 08:17] longnguyen2004 commented on #18076
Nevermind, I found the culprit. There's a PR fixing this bug upstream (see https://github.com/libffi/libffi/pull/580) but the version in vcpkg doesn't have the fix. I'll make a PR to update it.

[2021-07-18 08:18] talregev commented on #18076
from the ci:

[code]

[2021-07-18 08:18] talregev commented on #18076
Thank you!

[2021-07-18 09:08] longnguyen2004 commented on #18076
@theblackwidower @talregev Please test #18995

[2021-07-18 09:27] lghosth commented on #18850
Thanks for your help, but I have installed autoconf.
[code]
And then I try to install gmp agian, but it still doesn't work.

[2021-07-18 10:31] talregev opened #18996 "[glib:x64-mingw-static] build failure"
**Host Environment**
- OS: ubuntu
- Compiler: gcc 9.3, x86_64-w64-mingw32-gcc 9.3-win32

**To Reproduce**

`./vcpkg install glib --triplet=x64-mingw-static`

**Failure logs**

[code]
[glib.zip](https://github.com/microsoft/vcpkg/files/6836046/glib.zip)

**Additional context**
Add any other context about the problem here, such as what you have already tried to resolve the issue.

[2021-07-18 10:32] talregev commented on #18076
@longnguyen2004 can you take a look on another issue? glib mingw: https://github.com/microsoft/vcpkg/issues/18996

[2021-07-18 10:34] talregev commented on #18996
[meson-log.txt](https://github.com/microsoft/vcpkg/files/6836052/meson-log.txt)

[2021-07-18 10:53] longnguyen2004 commented on #18996
I'm not familiar with meson, so maybe someone else can have a look at this.

[2021-07-18 10:54] talregev commented on #18996
ok. Thank you for your time that you take a look!

[2021-07-18 11:20] autoantwort commented on #18996
Would be fixed by https://github.com/microsoft/vcpkg/pull/18927

[2021-07-18 11:21] talregev commented on #18996
I will check it now.

[2021-07-18 11:35] talregev commented on #18996
I checkout your PR https://github.com/microsoft/vcpkg/pull/18927
[code]
I got the same error:
[glib.zip](https://github.com/microsoft/vcpkg/files/6836178/glib.zip)

[2021-07-18 12:57] tonygould commented on #18533
Thanks for the explanations. It would be great if this were added to the FAQs.

[2021-07-18 13:22] dg0yt commented on #18850
The osx machines in CI install a few packages more that just autoconf:
https://github.com/microsoft/vcpkg/blob/master/scripts/azure-pipelines/osx/configuration/vagrant-box-configuration.json

On Ubuntu, aclocal belongs to automake.

[2021-07-18 13:25] dg0yt commented on #18992
Citing above output:

[code]

[2021-07-18 13:32] dg0yt commented on #18993
Note that there is a basic check, at the end of the x86-windows job. However on Github, the message just says "PowerShell exited with code '1'." (e.g. current state at https://github.com/microsoft/vcpkg/pull/18971/checks?check_run_id=3084308351).

[2021-07-18 13:46] talregev commented on #18996
@autoantwort Can you verify on your end:

[code]

[2021-07-18 13:58] Chris45215 commented on #11601
Is there some solution that doesn't involve going down a rabbit hole of compiling components (and their sub-components and dependencies) myself? And/or, can actual instructions on how to install the visualizer components after installing PCL via vcpkg be added to the official instructions (which are the top google result) at https://pointclouds.org/downloads/?

For the official instructions to con

[2021-07-18 14:17] autoantwort commented on #18996
In your code you are not using my patch. You have to merge my patch into `libffi-v3.4.2`

[2021-07-18 14:24] talregev commented on #18996
This is not my branch. Maybe if we can create a test branch that will merge both the changes.
I am also try opposite:
I clone https://github.com/longnguyen2004/vcpkg first. then install all the dependencies of glib.
then switch to your branch build from scratch vcpkg, then `vcpkg install glib`. I got the same error.

[2021-07-18 14:37] longnguyen2004 commented on #18996
You can do
[code]

[2021-07-18 14:38] talregev commented on #18996
ok. I will try it. Can you try it also on yours end?

[2021-07-18 14:59] talregev commented on #18996
I merge both branches, I am still getting the same errors:
[artifacts.zip](https://github.com/microsoft/vcpkg/files/6836483/artifacts.zip)

[2021-07-18 15:24] autoantwort commented on #18993
If you click on "View on azure" you get
[code]
But yeah this can be approved.

Normally the pull request template already states that you have to run `x-add-version` and commit the result, but nobody seems to read it.

[2021-07-18 15:26] autoantwort commented on #18992
Yeah it is an white space issue, there is a white space in `Program Files`

[2021-07-18 15:27] autoantwort commented on #18996
I can test it one our university gitlab is up again

[2021-07-18 15:40] talregev commented on #18996
ok.

[2021-07-18 16:27] dg0yt commented on #18993
You still need to click on the failed job.

The template is hard to understand for outsiders, and the particularities of the the git-tree reference are hard to understand, too. So a newcomer choose between submitting without fully understanding, and not submitting at all.

IMO, handling the `versions` directory, and perhaps even incrementing the port-version, is more a task for the actual merge in

[2021-07-18 17:16] m-kuhn commented on #18993
Even for those who know how it works it's easy to forget or do wrong.
Contributor time should be treated with care. For creating more pull requests, doing other work or enjoy leisure time.
The less clicks and typing required for a pull request to get merged and the shorter the number of times it needs to be revisited, the happier the contributor is and the more likely he'll contribute again.

[2021-07-18 17:28] iqHpi commented on #18775
Hi. Any update?

[2021-07-18 17:55] jakoch commented on #18943
Hey!
Copying the dependencies automatically is still experimental, but you can try setting `X_VCPKG_APPLOCAL_DEPS_INSTALL` to ON.
That should copy dependencies into the install target directory for executables.

Add to `CMakeLists.txt`:
[code]

Referencing: https://github.com/Microsoft/vcpkg/issues/1653 + https://github.com/microsoft/vcpkg/issues/16557

[2021-07-18 22:25] autoantwort commented on #18993
Maybe we should create a page with instructions how to update(/create) a port. The current maintainer guide is imho currently very user unfriendly. Also maybe change the current Pull Request Template to a Checklist.
An yeah a auto suggestion for that would be cool (when there is some way to turn it off).

[2021-07-19 00:28] SmartPolarBear commented on #18987
Same issue.

[2021-07-19 02:02] JackBoosY commented on #18833
Please don't close this issue until I fixed it.

[2021-07-19 02:11] JackBoosY commented on #1843
Maybe fixed by https://github.com/microsoft/vcpkg/pull/17111

[2021-07-19 02:15] PhoebeHui commented on #18533
@vicroms, thanks for your explainations! It's already mentioned in https://github.com/microsoft/vcpkg/blob/master/docs/specifications/versioning.md#version-string. sorry I missed that.

[2021-07-19 03:19] ZgblKylin opened #18999 "[osg-qt] protobuf denpendency is redundant"
****

**Is your feature request related to a problem? Please describe.**
osg-qt DOES NOT depends on protobuf at all.

**Proposed solution**
Simply remove `protobuf` from `Build-Depends` session in `CONTROL` file, then everything works well as before.

**Describe alternatives you've considered**
N/A

**Additional context**
`./vcpkg x-add-version --all` changed nothing because osg-qt is a simple wra

[2021-07-19 03:48] SamuelMarks commented on #18943
Thanks I added that but it didn't copy the DLLs over. Is it CPack compatible?

[2021-07-19 03:49] ZgblKylin commented on #18999
fix: Add `Port-Version` field, `./vcpkg x-add-version --all` changed version baseline correctly now

[2021-07-19 04:19] dg0yt commented on #18943
CPack relies on CMake install comands and additional staging directories. I have no ideas if this works with vcpkg's staging, install, and applocal install. For cross-platform deployment of DLLs without vcpkg, I normally use CMake's BundleUtilities. IIUC parts of these functions now even became part of the `file` command (https://cmake.org/cmake/help/latest/command/file.html#get-runtime-dependenci

[2021-07-19 04:25] SamuelMarks commented on #18943
@dg0yt Yes I tried that approach https://gitlab.kitware.com/cmake/cmake/-/issues/22431 https://gitlab.kitware.com/cmake/cmake/-/issues/22006

[2021-07-19 05:45] JackBoosY commented on #18943
Did you run cmake install command?

[2021-07-19 06:33] JackBoosY commented on #17055
@SamuelMarks See my comment https://github.com/microsoft/vcpkg/issues/17055#issuecomment-878823501.

[2021-07-19 06:38] SamuelMarks commented on #17055
@JackBoosY Yes I responded to that https://github.com/microsoft/vcpkg/issues/17055#issuecomment-879544031

[2021-07-19 06:38] MehdiChinoune opened #19003 "[qwt] update to 6.2.0"
Library name: Qt Widgets for Technical Applications (Qwt)

New version number: 6.2.0

Other information that may be useful (release notes, etc...)

https://sourceforge.net/p/qwt/news/2021/07/qwt-620/

[2021-07-19 07:10] dg0yt commented on #18943
CPack *is* running cmake install.

- Note that the wrapper for zlib is missing, https://github.com/microsoft/vcpkg/pull/18914, which may cause some strange effects.
- If not using a multi-config generator, don't let `CMAKE_BUILD_TYPE` be unset, or there will be strange effects.

[2021-07-19 07:55] strega-nil-ms commented on #18718
This should be fixed by #18983 ; can you try updating your git repository and re-bootstrap?

[2021-07-19 07:57] PhoebeHui commented on #15681
@skywalkerisnull, does this still be a problem with latest vcpkg source?

[2021-07-19 08:00] JackBoosY commented on #17055
Can you please provide the files in _VCPKG_ROOT/packages/allegro5_TRIPLET/lib_ and _VCPKG_ROOT/packages/allegro5_TRIPLET/debug/lib_ ?

[2021-07-19 08:15] #18718 closed

[2021-07-19 08:37] JackBoosY commented on #18986
Please replace _VCPKG_ROOT/ports/yara/CMakeLists.txt_ line 5 from:
[code]
to
[code]

Then rebuild yara.

[2021-07-19 09:29] ionutvmi commented on #18760
Writing this here in case part of these steps might help someone in the future.

I attempted to run this over the weekend as an exercise on how to use vcpkg with visual studio and an external library and somehow I picked gtk.
I am not a C++ dev, just trying this out to see how difficult it is.

In the console I ran the following:
[code]

I created a visual studio c++ empty project and added the fo

[2021-07-19 09:40] PhoebeHui commented on #18987
@Ryan-rsm-McKenzie, thanks for bringing this up!

This is not supported yet, we would work for it recently.

[2021-07-19 09:47] PhoebeHui commented on #18960
@ras0219-msft, @vicroms, could you please take a look? I'm not sure where the 2 commits come from?

[2021-07-19 10:06] NancyLi1013 commented on #18854
[code]

[2021-07-19 10:12] JonLiu1993 commented on #18992
@Erxl ,Please move the path to one without
  whitespaces! The required tools do not handle whitespaces correctly and the
  build will most likely fail

[2021-07-19 10:18] JonLiu1993 commented on #18946
@Erixar ,Is this problem solved?

[2021-07-19 10:18] PhoebeHui commented on #18960
Ah, @Thieum, so csvhelper is a custom port in your local, we don't have that port in vcpkg now, the error should expect for me.

Could you follow https://github.com/microsoft/vcpkg/blob/master/docs/maintainers/registries.md#adding-a-new-version, and see if it works for you?

[2021-07-19 10:41] PhoebeHui commented on #18926
@TheVeryDarkness , the crash issue has been fixed in vcpkg latest release, please 'git pull' & 'bootstrap-vcpkg.bat' and try again.

[2021-07-19 11:26] mknigh23 opened #19004 "How to get documentation in Qt Assistant?"
When building qt5, Qt Assistant builds, but the documentation is empty and the qt.qch file is unavailable.  Am I meant to use an undocumented command-line argument to build the documents or is it simply missing?

![qt5_assistant](https://user-images.githubusercontent.com/8951806/126153117-f06a5a58-f72d-4055-93c1-8c44fea20a6d.png)

If the file is a separate download, could you please advise where?

[2021-07-19 11:35] Erixar commented on #18946
yes,yes. I don't know what happened, but everything goes well. thanks for your help and sorry to let you know that so late.

[2021-07-19 11:55] Neumann-A commented on #19004
The title is wrong.
The question should be: How to get documentation in Qt Assistant?
According to the maintainer guidelines documentation is disabled by default. (see https://github.com/microsoft/vcpkg/blob/master/docs/maintainers/maintainer-guide.md#do-not-build-testsdocsexamples-by-default)
Please feel free to add it as a feature if you need it.

[2021-07-19 11:55] Neumann-A commented on #19003
This update would allow switching qwt to Qt6 instead of Qt5.

[2021-07-19 12:01] cenit commented on #18946
please close the issue if the problem is gone

[2021-07-19 12:14] mknigh23 commented on #19004
I stand corrected.
I would have thought the help documentation - as opposed to examples - a necessity, as it is unavailable online, making it extremely difficult to identify new concepts, classes and function parameters.
You mention adding it, should I need it, but as this is my first contact with vcpkg, I have absolutely no idea how to do so.  I used the command-line "./vcpkg install cgal[qt5]:x6

[2021-07-19 12:21] MehdiChinoune commented on #19003
That would force some to use Qt6!
Maybe It should be splitted to qwt-qt5 and qwt-qt6.

[2021-07-19 12:54] #18946 closed

[2021-07-19 13:10] StefAviator commented on #13688
This is now fixed by a recent merge [#18529](https://github.com/microsoft/vcpkg/pull/18529). I can confirm arm64-osx/ios builds produce arm64 libraries.

@david-antiteum Feel free to confirm it works on your system with M1 but I do believe it will.

[2021-07-19 13:48] autoantwort commented on #16520
Because I opened the `buildtree` folder in the finder to see the error logs

[2021-07-19 13:53] pik314 commented on #18925
This fixed this particular problem. Thank you! The first URL was blocked by the company firewall, but the second one wasn't and I was able to download the zip file. Atfer that the installation proceeded without problems.

[2021-07-19 13:53] #18925 closed

[2021-07-19 14:04] #18850 closed

[2021-07-19 14:07] david-antiteum commented on #13688
@StefAviator Probably. I have found the error on my side. gcc 12.0.5 is the version in macOS Monterey (and 12.0.0 the one used in Big Sur). Not sure why the patch version is important but ... anyway, close the case, my issue is a different one now.

[2021-07-19 14:47] StefAviator commented on #13688
@david-antiteum Yes you have 12.0.5 and it specifies gcc should be 12.0.0, that is why you are getting the error. The fix I was going to do is to set the user-config to

Then it will use whatever version gcc is on your system. However if you use the latest vcpkg (clone again or git pull) then you should not have any more errors and just see it work and produce arm64 libraries since it doesn't use

[2021-07-19 15:19] atopavirgil opened #19006 "BOOST libconv cross-compile Windows to Android fails to build (Package: libiconv:arm64-android)"
Using triplet:
[code]
NDK:  android-ndk-r21e

[code]

[2021-07-19 15:32] atopavirgil opened #19007 "PCRE (pcre-8.45.zip) package fails to build cross compile from Windows to Android (Package: pcre:arm64-android) - during POCO build"
Triplet:
[code]

NDK:  android-ndk-r21e

(strtoq and stroul undefined ?)
[code]

[code]

Log:
[code]

[2021-07-19 16:11] Aristonm opened #19008 "[gmp] build failure"
FAILURE:     vcpkg.exe install cgal:x64-windows

**Host Environment**
- OS: Windows
- Compiler: revision
Microsoft Visual Studio Community 2017
Version 15.9.4
VisualStudio.15.Release/15.9.4+28307.222
Visual C++ 2017   00369-60000-00001-AA251
Microsoft Visual C++ 2017
Application Insights Tools for Visual Studio Package   8.14.11009.1

**To Reproduce**
Steps to reproduce the behavior:
vcpkg install

[2021-07-19 16:12] talregev commented on #18996
Thank you for the fix. Now I got another error:
`../src/glib-2-b84205c786.clean/meson.build:1697:2: ERROR: Entry _WIN32_WINNT not in configuration data.`
[artifacts.zip](https://github.com/microsoft/vcpkg/files/6842435/artifacts.zip)

[2021-07-19 17:43] henriblMSFT commented on #18986
Should I submit a PR to update the port file or is there a mechanism to make this optional?

[2021-07-19 18:23] Thieum commented on #18960
@PhoebeHui Yes, those are custom packages in a private registry.

I managed to fix my error, following the answer I got in the mentioned discussion. And It works now.

My issue is more of a feature request, regarding a minimal self-validation around the vcpkg-configuration.json file. In my case, I would have like a warning or an error regarding the fact that I had the same registry as default, and

[2021-07-19 18:32] vicroms commented on #18890
@JackBoosY
I'll take a look at the issue this week

[2021-07-19 18:54] BillyONeal commented on #16520
You would need to be opening the `packages` folder to see the behavior above, and you would need to be doing so during the build (because we already delete recursive on any packages folder that is about to be used for install).

[2021-07-19 19:05] autoantwort commented on #16520
Yeah I open the file tree, then you also see the packages folder and it maybe also create files there. But I definitely get this error from time to time when I open the vcpkg folder in finder.
Or I get errors like this:
[code]

[2021-07-19 19:34] #18076 closed

[2021-07-19 19:44] BillyONeal commented on #18967
And that is why the first option to try is the 'are we in a registry, if so assume the operation targets that registry' check.

It may be that some commands return an error depending on the path by which they find the thing they are talking about; that doesn't mean that the same name on the same command line to the same tool should denote a different entity.

It wouldn't do that under the proposed

[2021-07-19 19:50] BillyONeal commented on #18993
This would require the CI infrasatructure to be able to write back to GitHub; a capability it does not currently have. The example you quote uses GitHub Actions, rather than Azure Pipelines, but VMs of sufficient size to build the vcpkg catalog in a reasonable amount of time are not available in Actions, so I think we either need Actions to gain the virtual machine scale set management feature we

[2021-07-19 20:11] BillyONeal commented on #16520
To be clear: I'm not saying that we shouldn't skip these. But I am saying that anything that is messing with a packages tree in the window between when it is produced by a build and when we install it is a serious problem, and we need to have a firm understanding of why that is happening. For example, correct function of binary caching assumes that a given packages tree is only a function of input

[2021-07-19 20:53] jonestheman commented on #18760
i am facing the same issue with the gtk4 integration. With gtk it was really easy as there was no nested directory structure for the version. Is is planned to have multiple versions of the same library installed for a vcpkg root? With the new option to specify an install dir I think it is not necessary, and the includes should be provided as before.

I am glad you opened this thread as I thought s

[2021-07-19 21:01] jherico commented on #14534
I'm currently fighting with this as well, although I'm trying to work around it by temporarily adding a USB flash drive as swap space, although it is terribly slow.

[2021-07-19 22:00] talregev commented on #18076
Thank you!

[2021-07-19 22:04] aliaksei135 opened #19009 "[simdjson] update to 0.9.6"
Library name: simdjson

New version number: 0.9.6

Release [here](https://github.com/simdjson/simdjson/releases/tag/v0.9.6)

[2021-07-19 23:21] vicroms commented on #17055
@SamuelMarks

Sorry for closing the issue prematurely. GitHub automatically closes issues when a related PR is merged.

The remaining issue here is that Allegro needs to be linked manually, not all libraries offer easy CMake integration `find_package(<pkg name>)` and it is mostly responsibility of the upstream library authors to add them.

In some cases, a contributor will add an unofficial target

[2021-07-20 00:10] JonLiu1993 commented on #19009
Fix by #18479

[2021-07-20 00:29] JackBoosY commented on #18854
Because the function `qh_memcheck` isn't exported in the source (.h / .def).
I think it's a upstream bug.

[2021-07-20 00:31] #19009 closed

[2021-07-20 00:36] JackBoosY commented on #18986
@henriblMSFT  Yes please, you need to add a feature named `spectre`, and I will give you help.

[2021-07-20 01:06] taoyeh opened #19012 "vcpkg boost-build:x64-windows failed with: BUILD_FAILED"
When asking a question please also include where you looked for an answer (so we can update the documentation if needed).
[code]

[2021-07-20 01:10] JackBoosY commented on #19012
Please provide the following logs:
D:\vcpkg-master\buildtrees\boost-build\bootstrap-x64-windows-out.log
D:\vcpkg-master\buildtrees\boost-build\bootstrap-x64-windows-err.log

[2021-07-20 01:12] taoyeh commented on #19012
D:\vcpkg-master\buildtrees\boost-build\bootstrap-x64-windows-out.log

[code]

D:\vcpkg-master\buildtrees\boost-build\bootstrap-x64-windows-err.log

File Not Found

[2021-07-20 01:13] JackBoosY commented on #18992
It is usually not a good choice to use a path with spaces in cross-compilation.

[2021-07-20 01:31] PhoebeHui commented on #19012
@taoyeh, do you install English language pack? if not, could you install it via VS installer and try again?

[2021-07-20 01:32] henriblMSFT commented on #18986
Could you point me to documentation on how to add features or a sample pull request that added a feature?

[2021-07-20 01:34] taoyeh commented on #19012
I have  install English language pack .  I  am trying the stable version

[2021-07-20 01:36] #18988 closed

[2021-07-20 01:37] branchesgit commented on #18988
try it some times, and pass

[2021-07-20 01:40] JackBoosY commented on #18844
[code]
My is
[code]
Please notice the zip name is not the same.
Did you modify this port's portfile.cmake?

[2021-07-20 01:44] taoyeh commented on #19012
I have use stable version but have the problem

[code]
bootstrap-x64-windows-err.log

[code]
bootstrap-x64-windows-out.log
[code]

my via VS is 2019

[2021-07-20 01:53] JackBoosY commented on #18986
@henriblMSFT Please see [doc](https://github.com/microsoft/vcpkg/blob/master/docs/maintainers/maintainer-guide.md) and [example](https://github.com/microsoft/vcpkg/pull/18964/files).

[2021-07-20 01:54] PhoebeHui commented on #19012
@taoyeh, do you install windows sdk? if not, could you install it via VS installer, the ctype.h file located in "C:\Program Files (x86)\Windows Kits\10\Include\10.0.19041.0\ucrt\ctype.h" for me.

[2021-07-20 02:57] PhoebeHui commented on #19012
@taoyeh, does the issue solved?

[2021-07-20 03:04] taoyeh commented on #19012
I installed windows sdk and solved the problem, I really appreciate your help

[2021-07-20 03:04] #19012 closed

[2021-07-20 05:16] m-kuhn commented on #18993
or you could have both cis involved for different tasks, but I can understand if this is not an option.

[2021-07-20 05:24] dg0yt commented on #18844
@JackBoosY Isn't this the hash of *all* dependencies, including compiler binary and (actually installed) ports? If yes, there are many more reasons for the zip name to change. (And even ununsed files in the port's directory are taken into account.)

[2021-07-20 05:47] PhoebeHui commented on #19012
Glad to know that! BTW, we have blog https://www.cnblogs.com/vcpkg/ for Chinese users, it may be help when try to use vcpkg.

[2021-07-20 05:51] #18890 closed

[2021-07-20 06:38] JackBoosY commented on #14326
arrow uses grpc which have dependency absl.
Should add extra code in cmake files.

[2021-07-20 07:49] JackBoosY commented on #18844
@dg0yt Yes, maybe some related files are changed.

[2021-07-20 08:21] david-antiteum commented on #13688
@StefAviator No need for a user-config.jam file, as you say, installing Vcpkg again solves my problem. Thanks.

[2021-07-20 08:30] JackBoosY commented on #18640
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-07-20 08:30] #18640 closed

[2021-07-20 09:11] JackBoosY commented on #18558
It looks like you are using Visual Studio 2013, but vcpkg requires at least Visual Studio 2015.
This error is caused by a mismatch between MT/MD and VCPKG CRT linkage.

[2021-07-20 09:12] JackBoosY commented on #18557
See related PR: https://github.com/microsoft/vcpkg/pull/16980.
The upstream doesn't support static build.

[2021-07-20 09:31] #6753 closed

[2021-07-20 09:56] fzhoucn opened #19016 "[pcl] update to <1.12.0>"
Library name: PCL ( Point Cloud Library ）

New version number: 1.12.0

Other information that may be useful (release notes, etc...)

[2021-07-20 09:59] j0801 opened #19017 "[ libmesh] update to latest version"
Library name: libmesh:x64-windows
 New version number:  2021-07-16-3be6b75f6972aa72ca34afce39168094432ea300

Other information that may be useful (release notes, etc...)

[2021-07-20 10:14] PhoebeHui commented on #19016
We aleady have PR https://github.com/microsoft/vcpkg/pull/18855 to upgrade it.

[2021-07-20 10:23] PhoebeHui commented on #15705
@JoseAmancio5597851, please reopen this issue with full failure logs if it still be an issue for you.

[2021-07-20 10:23] #15705 closed

[2021-07-20 10:25] PhoebeHui commented on #16620
@jubrane, please provide us full failure logs if it still be a problem for you.

[2021-07-20 10:25] #16620 closed

[2021-07-20 10:26] PhoebeHui commented on #15231
@beranos, please provide us full failure logs if it still be a problem for you.

[2021-07-20 10:26] #15231 closed

[2021-07-20 10:31] PhoebeHui commented on #18620
@WANFULEI, please submit a PR for the new port firstly, and reopen this issue if it still be a problem for you.

[2021-07-20 10:31] #18620 closed

[2021-07-20 10:33] PhoebeHui commented on #15981
@mathijs727, please reopen this issue and provide the repro code if it still be a problem for you.

[2021-07-20 10:33] #15981 closed

[2021-07-20 10:34] PhoebeHui commented on #15016
@yu-zhui, please reopen this issue if it still be a problem for you.

[2021-07-20 10:34] #15016 closed

[2021-07-20 11:54] manxorist commented on #18480
Thanks for working on that!

I guess non-toplevel CMakeLists.txt will probably just get confusing for pathnames, so I think directly in the root should be fine.

Please note that we are not using git as our primary VCS. See <https://github.com/OpenMPT/openmpt/blob/master/doc/contributing.md#contributing-via-github> for the implications on contributing.

With (1.), we would need to explicitly docum

[2021-07-20 12:21] Aristonm commented on #19008
Resolved: apparently just: vcpkg.exe install cgal

[2021-07-20 12:45] rouisibra commented on #18987
Doesn't VS 2022 supports VS 2019 projects? I think that the script just needs to allow VS 2022 preview and that's it.

[2021-07-20 13:36] upupming opened #19021 "Access violation in manifest mode when updating CMake to version 3.21"
**Describe the bug**

I use vcpkg in my repo for a long time: https://github.com/upupming/volume-rendering, everything works well but it fails in the last commit. I didn't change anything related to vcpkg, but the vcpkg install is reporting the error. It recommends I look into the `vcpkg-manifest-install.log` file, but the `vcpkg-manifest-install.log` file is empty, which is quite confusing. Could

[2021-07-20 14:02] pkvamme opened #19022 "Build failure in vcpkg-tool"
**Describe the bug**
Unable to bootstrap vcpkg due to bug in vcpkg-tool

**Environment**
- OS: Ubuntu Bionic from docker repository
- Compiler: g++ 7.5.0
- vcpkg hash: 111220b3cf

**To Reproduce**
git clone https://github.com/microsoft/vcpkg.git
./bootstrap-vcpkg.sh -disableMetrics

**Expected behavior**
vcpkg built and installed,

**Failure logs**
[code]

**Additional context**
See (vcpkg-tool)/s

[2021-07-20 14:38] cnSchwarzer opened #19024 "vcpkg upgrade is a dangerous command"
****

**Is your feature request related to a problem? Please describe.**
When we use `vcpkg upgrade` to do a global dependencies upgrade, we can only pray for everything download smoothly. Otherwise, we lost everything.

**Proposed solution**
Before upgrade or do anything manipulating installed list, save it, backup it to prevent lossing. Or write better upgrading code like `apt upgrade` won't lea

[2021-07-20 15:06] AnticliMaxtic opened #19025 "[New Port Request] sdbus-c++"
Library name:
sdbus-c++

Library description:
(From README.md)
sdbus-c++ is a high-level C++ D-Bus library for Linux designed to provide expressive, easy-to-use API in modern C++. It adds another layer of abstraction on top of sd-bus, a nice, fresh C D-Bus implementation by systemd.

Source repository URL:
https://github.com/Kistler-Group/sdbus-cpp/

Anything else that is useful to know when addin

[2021-07-20 15:31] atopavirgil opened #19026 "[Poco] update to < 1.11.0 >"
Library name: Poco

New version number: Release: 1.11.0

https://pocoproject.org  - New release is 1.11.0

[2021-07-20 15:40] jumpinjackie opened #19027 "[host triplet]: Always insists on building/installing dependencies for x64-windows even if not using x64-windows triplet"
**Describe the bug**

When wanting to `vcpkg install grpc` for any windows triplet that is not `x64-windows`. The installation plan still insists on installing certain dependencies of `grpc` for `x64-windows`

This also manifests when doing a `vcpkg export` for said triplet as well, with dependencies for `x64-windows` coming along for the ride

**Environment**
- OS: Windows
- Compiler: MSVC 2019
-

[2021-07-20 16:57] longnguyen2004 commented on #19027
This is due to `grpc` having a host dependency on itself, and the default host triplet is `x64-windows`
Add `--host-triplet=x64-windows-static` to the vcpkg command

[2021-07-20 18:08] jacobkahn commented on #19022
+1

I see the same on:
[code]

Also with
[code]
that the vcpkg build properly finds along with `-lstdc++fs`:
[code]

A slightly fuller trace:
[code]

[2021-07-20 18:50] arunabh42 commented on #18716
Yes, it works.

On Thu, 15 Jul, 2021, 11:43 am Phoebe, ***@***.***> wrote:

[2021-07-20 18:56] BillyONeal commented on #18993
Yeah, we're really wary of increasing the number of things that need to be up/working in order to make progress.

[2021-07-20 18:58] strega-nil-ms commented on #11546
I don't think it would be possible to do this as of right now; we could deprecate and do this on our triplets, but users may be relying on this behavior in their own custom triplets.

[2021-07-20 20:10] henriblMSFT commented on #18986
@JackBoosY create a draft PR and tested locally. Do features trickle down? If I was to implement the same feature in jansson would calling `vcpkg install yara[spectre]:x64-windows-static` also enable that feature on jansson or would I need to first install jansson with spectre feature
[code]

[2021-07-20 21:21] Neumann-A opened #19030 "[vcpkg.cmake] find_package override not correctly reseting vars."
The code:
https://github.com/microsoft/vcpkg/blob/1c20782ea44a8c07be931a8b8286044ec175cddc/scripts/buildsystems/vcpkg.cmake#L800-L806
is not correctly unsetting undefined variables. Line 804 should be `unset` instead of `set`

[2021-07-20 21:35] Neumann-A commented on #19030
More leakage of the override:
`z_vcpkg_find_package_ARGN;z_vcpkg_find_package_lowercase_package_name;z_vcpkg_find_package_package_name;z_vcpkg_find_package_vcpkg_cmake_wrapper_path`

[2021-07-20 23:58] jumpinjackie commented on #19027
Thanks for the explanation @longnguyen2004

I guess my main concern is when using `vcpkg export` where libs for the host triplet (`x64-windows`) are also included and I am very conscious about the final size of the vcpkg export archive being bloated up with libs for a triplet I'm not targeting/consuming. Is this intended behaviour as well?

[2021-07-21 01:34] #18716 closed

[2021-07-21 01:43] #19008 closed

[2021-07-21 02:00] PhoebeHui commented on #19024
Duplicated to issue https://github.com/microsoft/vcpkg/issues/4360, https://github.com/microsoft/vcpkg/discussions/17922

[2021-07-21 02:00] #19024 closed

[2021-07-21 02:14] PhoebeHui commented on #17995
For the vcpkg upgrade issue, we already have issue https://github.com/microsoft/vcpkg/issues/11482#issuecomment-631850698 to track.

[2021-07-21 02:14] #17995 closed

[2021-07-21 02:17] PhoebeHui commented on #12029
Closing in favor of https://github.com/microsoft/vcpkg/issues/11482.

[2021-07-21 02:17] #12029 closed

[2021-07-21 02:24] PhoebeHui commented on #9037
@DougStoker  @mellery451, this should be fixed, please open a new issue if it still be a problem for you.

[2021-07-21 02:24] #9037 closed

[2021-07-21 02:25] BillyONeal commented on #19022
Sorry, probably my fault. :( Validating fix now.

[2021-07-21 02:41] JackBoosY commented on #15969
We don't have enough information to solve this issue, unfortunately; if you have any more information to help us solve this, please reopen!

[2021-07-21 02:41] #15969 closed

[2021-07-21 02:42] JackBoosY commented on #16678
We don't have enough information to solve this issue, unfortunately; if you have any more information to help us solve this, please reopen!

[2021-07-21 02:42] #16678 closed

[2021-07-21 02:43] JackBoosY commented on #17207
We don't have enough information to solve this issue, unfortunately; if you have any more information to help us solve this, please reopen!

[2021-07-21 02:43] #17207 closed

[2021-07-21 02:44] JackBoosY commented on #17485
We don't have enough information to solve this issue, unfortunately; if you have any more information to help us solve this, please reopen!

[2021-07-21 02:44] JackBoosY commented on #17591
We don't have enough information to solve this issue, unfortunately; if you have any more information to help us solve this, please reopen!

[2021-07-21 02:44] #17591 closed

[2021-07-21 02:45] JackBoosY commented on #17847
We don't have enough information to solve this issue, unfortunately; if you have any more information to help us solve this, please reopen!

[2021-07-21 02:45] #17847 closed

[2021-07-21 02:45] JackBoosY commented on #18153
We don't have enough information to solve this issue, unfortunately; if you have any more information to help us solve this, please reopen!

[2021-07-21 02:45] #18153 closed

[2021-07-21 02:46] JackBoosY commented on #18426
We don't have enough information to solve this issue, unfortunately; if you have any more information to help us solve this, please reopen!

[2021-07-21 02:46] #18426 closed

[2021-07-21 02:46] NancyLi1013 commented on #18391
Closing this issue for now since there is no response for a long time. Please provide output information on the command windows and the related log if this is still a problem for you.

[2021-07-21 02:46] #18391 closed

[2021-07-21 02:47] JackBoosY commented on #18749
@ludekvodicka Ping for response.

[2021-07-21 02:47] JackBoosY commented on #18868
@davidhunter22  Ping for response.

[2021-07-21 02:48] BillyONeal commented on #19022
GCC 7 doesn't have `std::filesystem`, and the normal VMs you get with Azure Pipelines have installed GCC 10 on them. That's why we missed this. In my PR I added explicit testing of GCC 7.

[2021-07-21 02:48] JackBoosY commented on #18903
Ping @acgetchell for response.

[2021-07-21 02:50] JackBoosY commented on #10949
Hi guys, has this issue been solved?

[2021-07-21 02:50] NancyLi1013 commented on #19021
Hi @upupming
Thanks for posting this issue.

Seems ninja wasn't found. What's the last commit you used?
[code]

[2021-07-21 02:50] JackBoosY commented on #11247
We haven't been able to repro this; if more information comes up, or this issue appears again, please reopen.

[2021-07-21 02:50] #11247 closed

[2021-07-21 02:52] JackBoosY commented on #11873
We haven't been able to repro this; if more information comes up, or this issue appears again, please reopen.

[2021-07-21 02:52] #11873 closed

[2021-07-21 02:53] JackBoosY commented on #11992
Hi guys, does this issue resolved?

[2021-07-21 02:53] JackBoosY commented on #12998
We haven't been able to repro this; if more information comes up, or this issue appears again, please reopen.

[2021-07-21 02:53] #12998 closed

[2021-07-21 02:55] JackBoosY commented on #13120
@cenit  Any ideas?

[2021-07-21 02:55] JackBoosY commented on #13455
cc @BillyONeal

[2021-07-21 02:57] JackBoosY commented on #14431
Hi @ASxa86 does this issue still exist?

[2021-07-21 02:58] JackBoosY commented on #14607
Okay, if anyone have any more information to help us solve this, please ping me.

[2021-07-21 02:58] #14607 closed

[2021-07-21 02:59] NancyLi1013 commented on #18884
Please feel free to reopen this issue if it is still a problem for you after you installed ATL components.

[2021-07-21 02:59] #18884 closed

[2021-07-21 02:59] JackBoosY commented on #14902
Does this issue resolved?

[2021-07-21 02:59] JackBoosY commented on #14964
We haven't been able to repro this; if more information comes up, or this issue appears again, please reopen.

[2021-07-21 02:59] #14964 closed

[2021-07-21 03:01] JackBoosY commented on #15499
We haven't been able to repro this; if more information comes up, or this issue appears again, please reopen.

[2021-07-21 03:01] #15499 closed

[2021-07-21 03:02] JackBoosY commented on #15604
We haven't been able to repro this; if more information comes up, or this issue appears again, please reopen.

[2021-07-21 03:02] #15604 closed

[2021-07-21 03:04] JackBoosY commented on #15703
We haven't been able to repro this; if more information comes up, or this issue appears again, please reopen.

[2021-07-21 03:04] #15703 closed

[2021-07-21 03:04] NancyLi1013 commented on #14418
Please feel free to reopen this issue if it is still a problem for you.

[2021-07-21 03:04] #14418 closed

[2021-07-21 03:10] upupming commented on #19021
@NancyLi1013 Thanks for the help!

Actually, I have installed Ninja and the `ninia --version` outputs this:

![image](https://user-images.githubusercontent.com/24741764/126424341-1cfd3e71-4f3e-4f9e-8184-5b2b4432c8a1.png)
![image](https://user-images.githubusercontent.com/24741764/126424313-922db46c-d526-440f-992b-be64712e3bf8.png)

I believe this is not a Ninja problem, because I have some experie

[2021-07-21 03:58] BillyONeal commented on #13455
It looks like this is where we're trying to detect whether to use std::filesystem vs. std::experimental::filesystem and it think's we're on Windows for some reason

[2021-07-21 04:39] orgads commented on #18718
Do you plan to publish a new release with this fix soon?

[2021-07-21 04:52] orgads commented on #11230
I see that meson is already at 0.58. Can this be closed then?

[2021-07-21 05:09] upupming commented on #19021
I have reproduced this error on my PC, it seems to be caused by the **CMake 3.21 update**. Seems GitHub updated their built-in CMake recently, which is not compatible with the lastest Vcpkg. I have to downgrade the CMake manually.

[2021-07-21 05:41] JackBoosY commented on #16793
@HappySeaFox  Sorry for the long delay, port `sail` now doesn't contain any content about `check_c_source_runs`, can you double confirm that?

Thanks.

[2021-07-21 05:44] JackBoosY commented on #16844
We haven't been able to repro this; if more information comes up, or this issue appears again, please reopen.

[2021-07-21 05:44] #16844 closed

[2021-07-21 05:45] JackBoosY commented on #17039
cc @strega-nil-ms

[2021-07-21 06:01] ludekvodicka commented on #18749
I believe it's already fixed.  I already worked on this with someone else.

[2021-07-21 06:02] longhuan2018 commented on #18527
The bug has been fixed in version 13.2.
Install.pm file of libpq version 12.2
[code]

Install.pm file of libpq version 13.2
[code]
So we can fix this problem by adding the following contents in ports/libpq/patches/windows/install.patch
[code]

[2021-07-21 06:02] JackBoosY commented on #17374
Sorry for late, does this issue still exist?

[2021-07-21 06:02] JackBoosY commented on #17402
@SamuelMarks  Any news?

[2021-07-21 06:03] JackBoosY commented on #17762
@BillyONeal what do you think about this?

[2021-07-21 06:04] JackBoosY commented on #17897
We haven't been able to repro this; if more information comes up, or this issue appears again, please reopen.

[2021-07-21 06:04] JackBoosY commented on #17940
@cenit ping for reply.

[2021-07-21 06:05] JackBoosY commented on #18086
@AndreMeyerRMC  Hi, since vcpkg published the latest release, does this issue still exist?

[2021-07-21 06:06] JackBoosY commented on #18180
We haven't been able to repro this; if more information comes up, or this issue appears again, please reopen.

[2021-07-21 06:06] #18180 closed

[2021-07-21 06:06] JackBoosY commented on #18355
@westsuhanic Any news?

[2021-07-21 06:07] JackBoosY commented on #18463
@donthamon Ping for response.

[2021-07-21 06:07] JackBoosY commented on #18481
Ping @taor-163  for response.

[2021-07-21 06:08] JackBoosY commented on #18764
Ping @vicroms

[2021-07-21 06:11] HappySeaFox commented on #16793
@JackBoosY I confirm. Sail doesn't use check_c_source_runs in master because of this issue.

[2021-07-21 06:13] JackBoosY commented on #18749
Okay, please reopen this PR when it happened again.

[2021-07-21 06:13] #18749 closed

[2021-07-21 06:20] JackBoosY commented on #16793
[code]
output:
[code]

No error occurred.

[2021-07-21 06:21] SamuelMarks commented on #17402
Looks like it's working now

[2021-07-21 06:21] #17402 closed

[2021-07-21 06:25] NancyLi1013 commented on #19021
cc @BillyONeal, @strega-nil Could you please help take a look?

[2021-07-21 06:34] #13169 closed

[2021-07-21 06:34] NancyLi1013 commented on #18984
Hi @byxrolland
Thanks for posting this issue.

I cannot reproduce this on my local.
Could you please also provide `C:\vcpkg\buildtrees\hdf5\config-x64-windows-dbg-out.log`?

[2021-07-21 06:36] JackBoosY commented on #15501
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-07-21 06:36] #15501 closed

[2021-07-21 06:40] JackBoosY commented on #16326
We hope your question was answered to your satisfaction; if it wasn't, you can reopen with more info.

[2021-07-21 06:40] #16326 closed

[2021-07-21 06:41] JackBoosY commented on #16326
Please note that the author of the port in vcpkg is not necessarily the owner of the upstream.

[2021-07-21 06:44] cenit commented on #13120
might require a ffmpeg feature and not just base ffmpeg to work? @mcmtroffaes might be more helpful

[2021-07-21 06:46] cenit commented on #17940
didn't reply because the screenshot was clear enough

the user needs to update cuda to at least v10.2

[2021-07-21 06:50] m-kuhn commented on #18993
One option would be to add a bot user on github and use that for interaction through the github api [1].

Improving the documentation would be valuable, but I think some tooling and automation could help even more to increase contributor satisfaction and reduce maintenance effort.
An alternative would be to remove the check from the development process itself and push a new commit from the CI afte

[2021-07-21 06:52] jwillemsen commented on #16326
A major rework of the ACE port file is not something I have spare time for, see https://github.com/DOCGroup/ACE_TAO/wiki/ACE-and-TAO-Commercial-support for the commercial support options for ACE/TAO, including @RemedyIT, the company I work for. Anyone can open a PR on the ACE port file here at vcpkg, contributions are welcome

[2021-07-21 06:57] HappySeaFox commented on #16793
@JackBoosY Please see https://github.com/microsoft/vcpkg/issues/16793#issuecomment-803917918 . The issue is in a port installation procedure.

[2021-07-21 07:46] JackBoosY commented on #16793
@HappySeaFox
[code]

[2021-07-21 08:05] dg0yt commented on #17609
I can reproduce this with mingw.

I would try to patch `base.h` to ignore absl string_view.h. But I would propose to deal with this after merging #17698, perhaps together with updating to a newer version of gdal etc.

[2021-07-21 08:10] jjjkkyz opened #19035 "[VTK] CMake usage printed by vcpkg is wrong"
**Describe the bug**
vtk can't be correct used in cmakelist

**Environment**
- OS: Windows
- Compiler: MSVC2019
**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install vtk:x64-windows
2. See error
I use vtk in cmakelist as vcpkg told me in below:
The package vtk:x64-windows provides CMake targets:

[code]
but i got a error in my complier:

[code]

Next, I just use the last find_packge

[2021-07-21 08:10] NancyLi1013 commented on #18688
Sorry for the long delay.

`--mt=CMAKE_MT-NOTFOUND`

Could you please reinstall Windows SDK and then try to rebuild this? @marianaiv

[2021-07-21 08:12] NancyLi1013 commented on #18948
@jdx-john

Is this still a problem for you now?

[2021-07-21 08:21] #18948 closed

[2021-07-21 08:28] WangHHY19931001 opened #19036 "How do I install intel-mkl with intel oneapi"
I want use vcpkg install intel-mkl, but it not work

use cmd:
vcpkg install intel-mkl:x64-windows intel-mkl:x64-windows-static

It tall me to visit https://registrationcenter.intel.com/en/products/download/3178/ to down MKL

but this page can't get MKL

intel tell me to install oneapi, it include MKL,. So I down and install ,but vcpkg still can't install, please tall me how to do

[2021-07-21 08:44] HappySeaFox commented on #16793
I prepared a special branch `feature/vcpkg-test-check-c-source-runs` in the SAIL repo with just a single commit to simplify testing.

To use it, apply the patch [check-c-source-runs-branch.txt](https://github.com/microsoft/vcpkg/files/6854028/check-c-source-runs-branch.txt) in your local vcpkg repository. Then reinstall  SAIL:

[code]

Go to `buildtrees/sail` and inspect `x64-windows-dbg/CMakeFile

[2021-07-21 08:57] Pospelove opened #19038 "[binary caching] Failed to push some of the ports to NuGet on Ubuntu"
## UPDATE: Easy way to reproduce is here https://github.com/Pospelove/vcpkg-nuget-issue

**Describe the bug**
Failed to push some of the ports to NuGet after building (binary caching).

Failed ports:
* boost-regex
* boost-math
* boost-serialization
* mongo-cxx-driver
* sqlite3
* chakracore (overlay port copied from https://github.com/microsoft/vcpkg/pull/18476)

[code]

**Environment**
- OS: Ubunt

[2021-07-21 08:58] davidhunter22 commented on #18868
After some digging I discovered that  "vcpkg integrate install" works as follows
1) Microsoft.Cpp.Common.props does an <Import> of $(LOCALAPPDATA)\vcpkg\vcpkg.user if it exists
2) $(LOCALAPPDATA)\vcpkg\vcpkg.user.props imports C:\vcpkg\scripts\buildsystems\msbuild\vcpkg.props if it exists ( I believe this file is created when you run vcpkg integrate install and points the generated file will conta

[2021-07-21 09:48] JackBoosY commented on #16793
I need to understand the usage scenarios of this function first, and I have opened an issue upstream: https://gitlab.kitware.com/cmake/cmake/-/issues/22452.
Let's wait for the upstream reply first.

[2021-07-21 10:29] NancyLi1013 commented on #16405
Closing this issue for now, since the changes has been merged to vcpkg master branch.

Currently, the result is like this:

[code]

[2021-07-21 10:29] #16405 closed

[2021-07-21 11:01] autoantwort commented on #19021
Please do `git pull` and run the `bootstrap-vcpkg.sh` script again and test again, that was a bug in the vcpkg tool.

[2021-07-21 11:20] sondretordal opened #19041 "[cctag] Building package cctag failes with: BUILD_FAILED"
**Host Environment**
- OS: Windows 10
- Compiler: Visual Studio 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install cctag[apps] --triplet x64-windows` or
`./vcpkg install cctag[apps] --triplet x86-windows`

Both fails

**Failure logs**

**CMD output: x86-windows:**
c:\vcpkg>vcpkg install cctag[apps] --triplet x86-windows
Computing installation plan...
The following packages wi

[2021-07-21 11:25] westsuhanic commented on #18355
The solution was to get another machine, reinstall windows and do it again.
That worked.

On Wed, Jul 21, 2021 at 2:06 AM Jack·Boos·Yu ***@***.***>
wrote:

[2021-07-21 11:55] HappySeaFox commented on #16793
@JackBoosY

For example, I'd like to detect a feature in a vcpkg library that can be detected in runtime only. For example, if `libtiff` can actually read some specific input file. This cannot be done in compile time. That's why we need to compile and **run** a test for that.

BTW, vcpkg already copies dependent DLLs for client application using `objdump`. Can this mechanism be reused for tests ex

[2021-07-21 12:46] tan-wei commented on #17663
Confirmed. Thanks very much!

[2021-07-21 12:54] sfhacker commented on #18355
Are we STILL having issues with zlib? It's becoming embarrassing!

[2021-07-21 12:57] Dom1n1cB opened #19042 "[New Port Request] Mini-XML"
Library name: Mini-XML

Library description: Mini-XML is a tiny XML library that you can use to read and write XML and XML-like data files in your application without requiring large non-standard libraries.

Source repository URL: https://github.com/michaelrsweet/mxml

Project homepage (if different from the source repository): https://www.msweet.org/mxml/

Anything else that is useful to know whe

[2021-07-21 13:04] SamyGr commented on #19041
Hi @sondretordal,
I have found a way to fix this issue in two steps. It seems to work for the x86 version, not tested with the x64 version.

### Modify CMakeLists
- After one build fails, open the file ```.\vcpkg\buildtrees\cctag\src\v1.0.0-67692c294b\CMakeLists.txt```
- Add **math_c99** to **BOOST_REQUIRED_COMPONENTS** (L113) like this:
[code]
### Modify Bresenham.cpp
- Open the file ```.\vcpkg\b

[2021-07-21 13:21] EVNII commented on #18086
@JackBoosY I just tried to install it by `.\vcpkg.exe install icu:x64-windows-static` just now, and the issue still exist.

[2021-07-21 13:26] upupming commented on #19021
@autoantwort Thanks for your info. After the update, the CI still failed. So could you please help how can I fix this?

[2021-07-21 13:28] autoantwort commented on #19021
Failed with the same error? Can you try cmake 3.20?

[2021-07-21 13:47] upupming commented on #19021
Yes, failed with the same error. And if I use CMake 3.20, everything is okay.

Please see the following CI logs:

- CMake 3.20, passed： https://github.com/upupming/vscode-qt-vcpkg-template/runs/3121053880
- CMake 3.21, errored： https://github.com/upupming/vscode-qt-vcpkg-template/runs/3123835487

[2021-07-21 13:51] autoantwort commented on #19021
It is still downloading an old release: https://github.com/upupming/vscode-qt-vcpkg-template/runs/3123835487#step:7:115

[2021-07-21 15:42] mcmtroffaes commented on #13120
Hypothetically, if opencv4 uses ffmpeg for cuvid acceleration (I don't know if that's the case), it would need at least ``ffmpeg[core,avcodec,nvcodec]``. I'm not sure how to reproduce the problem however...

[2021-07-21 16:17] Fenrirthviti commented on #14902
Nobody ever reached out to me regarding this issue, I have still been waiting. I have not tested in some time as I have not had time, but as far as I know this is still an issue.

[2021-07-21 16:38] dg0yt commented on #14902
@JackBoosY  Did you actually use manifest mode when trying to reproduce the issue?
 `Protobuf_PROTOC_EXECUTABLE: F:/vcpkg/installed/x86-windows/tools/protobuf/protoc.exe` indicates a classic mode installation. Manifest mode should use a path which contains `vcpkg_installed` (as found in the comments by @Fenrirthviti).

[2021-07-21 16:56] aizuon opened #19044 "[spdlog] update to 1.9.0"
Library name: spdlog

New version number: 1.9.0

Other information that may be useful (release notes, etc...)

https://github.com/gabime/spdlog/releases/tag/v1.9.0

[2021-07-21 16:56] upupming commented on #19021
@autoantwort Thanks for point out this! Now after update the vcpkg tool, the CI passes on using CMake 3.21: https://github.com/upupming/vscode-qt-vcpkg-template/runs/3124743234?check_suite_focus=true

[2021-07-21 16:56] #19021 closed

[2021-07-21 17:09] dg0yt commented on #17609
The following fixed the build:
https://github.com/dg0yt/vcpkg/pull/16/files
(Based on #17698. But I'm reluctant to update that PR unless necessary.)

[2021-07-21 17:38] TheMaverickProgrammer commented on #16678
Can you not read?

There's nothing to be solved. This case of mine shows strong evidence that a lock file or package list file is needed for vcpkg in the same way node has a dependency list so to identify module version conflicts instead of failing like my scenario did with no relevant information. Through trial and error I had to identify the packages were the wrong versioning. That could be enti

[2021-07-21 18:44] BillyONeal commented on #19022
Reopening until I finish turning release crank (it's building now)

[2021-07-21 19:18] BillyONeal commented on #18993
I'm not saying that wouldn't be nice, I'm saying I don't know of a way to do that that doesn't cause the 'more things need to be working for us to make any progress' problem.

This is unacceptable because half the commits in the history would be broken. (And also, the version database edits aren't completely automatable)

[2021-07-21 19:22] BillyONeal commented on #17762
Without an understanding of where the ; is coming from I don't believe there's much we can do about this.

[2021-07-21 19:58] EricBarrett opened #19046 "[libpq:x64-windows] build failure"
**Host Environment**
- OS: Windows

**To Reproduce**
`vcpkg install libpq:x64-windows`
Computing installation plan...
The following packages will be built and installed:
    libpq[core,openssl,zlib]:x64-windows -> 12.2#17
Detecting compiler hash for triplet x64-windows...
Could not locate cached archive: C:\Users\ErcBert\AppData\Local\vcpkg\archives\ae\ae46ffeabf4ca7382caf7bb100997c7a46375836b9307

[2021-07-21 20:27] Neumann-A commented on #19035
Change title to: `[VTK] CMake usage printed by vcpkg is wrong` (vcpkg should really check what it prints and if it makes sense to even print something if there are that many targets and folders... here it printed the folder structure partly as usage)

` find_package(vtk CONFIG REQUIRED)` (or uppercase VTK) is correct but what targets you want from vtk depends on what you want to use.

[2021-07-21 20:28] Neumann-A commented on #19038
Do you have more than one NuGet binary cache for vcpkg on Github?

[2021-07-21 20:47] EricBarrett commented on #19046
Guess I really should have tried uninstalling and reinstalling vcpkg before raising this issue

[2021-07-21 20:47] #19046 closed

[2021-07-21 21:31] #19022 closed

[2021-07-22 01:23] Pospelove commented on #19038
No.

[2021-07-22 01:40] JonLiu1993 commented on #19036
@WangHHY19931001 ,Thanks for posting this issue.
You can reference [#15309 (comment)](https://github.com/microsoft/vcpkg/issues/15309#issuecomment-752341675) to install intel-mkl

[2021-07-22 02:06] PhoebeHui commented on #18888
@Erxl, glad it works for you now, it may due to the changes https://github.com/microsoft/vcpkg-tool/pull/49 in latest source.

[2021-07-22 02:06] #18888 closed

[2021-07-22 02:09] PhoebeHui commented on #18926
@TheVeryDarkness, please reopen this issue if it still be a problem for you.

[2021-07-22 02:09] #18926 closed

[2021-07-22 02:10] #18355 closed

[2021-07-22 02:22] #18045 closed

[2021-07-22 02:24] NancyLi1013 commented on #19044
Related PR https://github.com/microsoft/vcpkg/pull/18512

[2021-07-22 02:28] SeheeLee opened #19050 "[icu] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: visual studio 2017

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg.exe install qt5`

**Failure logs**
[code]
[build-x86-windows-dbg-err.log](https://github.com/microsoft/vcpkg/files/6859635/build-x86-windows-dbg-err.log)
[build-x86-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/6859636/build-x86-windows-dbg-out.log)

**Ad

[2021-07-22 02:51] JackBoosY commented on #16793
The workaround is add the dll path to environment `PATH` to avoid this issue:
portfile.cmake
[code]
tiff.cmake
[code]

But since this is only detecting dependencies and not building the port, I need upstream to confirm the rationality of the workaround.

[2021-07-22 02:56] #16475 closed

[2021-07-22 03:01] JackBoosY commented on #19050
[code]

[2021-07-22 03:02] JackBoosY commented on #19050
Duplicated to #18086.

[2021-07-22 03:02] #19050 closed

[2021-07-22 03:09] PhoebeHui commented on #8231
I think it has a good support  in vcpkg.json now, I change the name to '3FD', and it reports the following useful information, so I would mark this solved, @Neumann-A, what do you think?

[code]

[2021-07-22 03:14] #8170 closed

[2021-07-22 06:13] JackBoosY commented on #14902
Ping @strega-nil-ms

[2021-07-22 06:16] JackBoosY commented on #16678
@TheMaverickProgrammer
The execution failure of ninja -v does not necessarily mean that ninja cannot be called. We must check the error log to locate this issue:
X:\Big_Code\vcpkg\buildtrees\poco\config-x64-windows-out.log

[2021-07-22 06:35] dg0yt opened #19055 "vcpkg tool fails for `native` platform condition on dependency"
**Describe the bug**
When the keyword `native` is used in platform expressions of a port or feature dependency, calling vcpkg install fails with
[code]

Note that according to `git grep "native"`, no current port uses `native`. But it is documented: https://github.com/microsoft/vcpkg/blob/master/docs/maintainers/manifest-files.md#supports

**Environment**
- OS: Linux, Windows

**To Reproduce**
Ste

[2021-07-22 06:43] dg0yt opened #19057 "vcpkg tool crashes for `format-manifest` on directory path"
**Describe the bug**
When calling `vcpkg format-manifest` with a path to a directory, it crashes.

**Environment**
- OS: Linux (Ubuntu 18.04).

**To Reproduce**
Steps to reproduce the behavior:
1. `./vcpkg format-manifest ports`
Result:
[code]

**Expected behavior**
Either report a proper error message, or apply the operation to `vcpkg.json` / `CONTROL` in that directory.

[2021-07-22 07:49] JackBoosY commented on #18868
@davidhunter22  Can you provide a scenario to prove that the integration of msbuild destroys the compilation environment?

[2021-07-22 07:50] #8103 closed

[2021-07-22 07:52] #485 closed

[2021-07-22 07:55] JackBoosY commented on #19057
`std::bad_alloc`
Can you provide the complete input path?
How many bytes does this path have? Are there spaces? If there is a space, do you enclose it in double quotes?
And can you provide dmp files?

[2021-07-22 08:00] PhoebeHui commented on #252
I think https://github.com/microsoft/vcpkg-tool/pull/49 has implemented this, @ras0219-msft, please reopen this issue if i'm wrong.

[2021-07-22 08:00] #252 closed

[2021-07-22 08:04] PhoebeHui commented on #248
I think '--clean-after-build' has already implemented the origianl plan.

[2021-07-22 08:04] #248 closed

[2021-07-22 08:05] JackBoosY commented on #19038
Maybe related to https://github.com/microsoft/vcpkg/issues/15289.

[2021-07-22 08:06] #164 closed

[2021-07-22 08:10] Pospelove commented on #19038
@JackBoosY I could create a sample repo with a minimal reproducible example if it helps.

[2021-07-22 08:12] #495 closed

[2021-07-22 08:13] #565 closed

[2021-07-22 08:17] dg0yt commented on #19057
It is really just `./vcpkg format-manifest ports`.

I thought I had seen this also on Windows, but I can reproduce it only on my Ubuntu 18.04 now. I will update the initial post.

[2021-07-22 08:19] dg0yt commented on #19057
The vcpkg root / working directory is `/home/dg0yt/Projekte/vcpkg/vcpkg`.

[2021-07-22 08:20] ZR233 opened #19063 "[New Port Request] <hackrf>"
Library name:libhackrf

Library description:This repository contains host software (Linux/Windows) for HackRF, a project to produce a low cost, open source software radio platform.

Source repository URL: https://github.com/mossmann/hackrf/tree/master/host

Project homepage (if different from the source repository):https://hackrf.readthedocs.io/en/latest/

Anything else that is useful to know when

[2021-07-22 08:21] PhoebeHui commented on #19055
@dg0yt, thanks for reporting this issue!

This issue can be reproed locally, @strega-nil @strega-nil-ms, could you please take a look?

[2021-07-22 08:26] PhoebeHui commented on #19057
I tried below commands, both works.
[code]

[2021-07-22 08:34] JackBoosY commented on #19057
[code]

Please make sure your vcpkg is latest, and check whether your memory is enough.

[2021-07-22 08:34] JackBoosY commented on #19038
@Pospelove  Yes please.

[2021-07-22 08:52] JackBoosY commented on #4401
Hi guys, does this issue still exist?

[2021-07-22 08:53] dg0yt commented on #19057
You didn't test what I reported: a directory argument, such as `/home/usr/work/vcpkg/ports/arrow` or `ports/arrow`. I know it is not a valid argument ATM, but still the tool shouldn't crash. After all, this is how I stumbled over the bug.

[2021-07-22 08:55] #1952 closed

[2021-07-22 08:56] NancyLi1013 commented on #16773
Seems https://github.com/microsoft/vcpkg-tool/pull/34 and https://github.com/microsoft/vcpkg-tool/pull/72 have solved this issue. Also the changes have been merged to vcpkg master branch. So closing this issue for now.

[2021-07-22 08:56] #16773 closed

[2021-07-22 08:58] #2974 closed

[2021-07-22 08:58] playgithub commented on #18066
@JackBoosY
If it is solved, please close it.
I'm not using vcpkg now, because of https://github.com/microsoft/vcpkg/commit/aa60b7efa56a83ead743718941d8b320ef4a05af

[2021-07-22 09:01] PhoebeHui commented on #5411
AFAIK, vcpkg doesn't support parallel downloading, for one package, vcpkg builds it in parallel, however, it can't build several packages togather.

[2021-07-22 09:02] #5411 closed

[2021-07-22 09:06] #7918 closed

[2021-07-22 09:10] PhoebeHui commented on #19057
Sorry, I missed that information. It doesn't crash on windows 10.

[code]

[2021-07-22 09:11] JackBoosY commented on #19057
[code]

vcpkg didn't crash, it just reported this error message.

[2021-07-22 09:15] #7289 closed

[2021-07-22 09:15] #18052 closed

[2021-07-22 09:17] #7441 closed

[2021-07-22 09:21] #16445 closed

[2021-07-22 09:23] PhoebeHui commented on #4339
@willkara, please reopen this issue if it still be a problem for you.

[2021-07-22 09:23] #4339 closed

[2021-07-22 09:26] #7932 closed

[2021-07-22 09:32] PhoebeHui commented on #3324
Closing in favor of https://github.com/microsoft/vcpkg/issues/14031

[2021-07-22 09:32] #3324 closed

[2021-07-22 09:38] #18821 closed

[2021-07-22 09:39] AndreMeyerRMC commented on #18086
@JackBoosY The issue still persists:

Error: Building package icu:x86-windows failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `.\vcpkg update`, then
submit an issue at https://github.com/Microsoft/vcpkg/issues including:
  Package: icu:x86-windows
  Vcpkg version: 2021-07-21-244f69e78da4f97034328b4d290db262d748d4c7

Von: Jack·Boos·Yu ***@***.***>
Gesendet: Mittwoch,

[2021-07-22 10:00] NancyLi1013 commented on #18483
The changes in PR https://github.com/microsoft/vcpkg-tool/pull/95 have been merged to vcpkg master branch now. Currently, vcpkg.exe has been upgraded to 2021-07-21 in vcpkg. Please see https://github.com/microsoft/vcpkg/blob/c69096659f49e2b1aca532ea5c2f8c135182519b/scripts/bootstrap.ps1#L48
Seems there  is only a documentation for nugettimeout that needs to be done.

[2021-07-22 10:11] NancyLi1013 commented on #17436
The changes in microsoft/vcpkg-tool#23 have been released to new version in vcpkg master branch now.

@david-antiteum Could you please update to the latest vcpkg via `git pull` and run `.\bootstrap-vcpkg.sh` to try again?

[2021-07-22 10:20] PhoebeHui commented on #870
@rossbrower, please reopen this issue if it still be problem for you.

[VcpkgInstalledDirectory (Installed Directory)](https://github.com/microsoft/vcpkg/blob/master/docs/users/manifests.md#vcpkginstalleddirectory-installed-directory)

[2021-07-22 10:20] #870 closed

[2021-07-22 10:23] NancyLi1013 commented on #17325
This should be fixed in vcpkg now, since a new vcpkg tool 2021-07-21 has been released. Please update to the latest vcpkg via `git pull` and run` .\bootstrap-vcpkg.bat` to rebuild.

[2021-07-22 10:23] #17325 closed

[2021-07-22 10:27] PhoebeHui commented on #766
You can also set [VCPKG_VISUAL_STUDIO_PATH](https://github.com/microsoft/vcpkg/blob/master/docs/users/triplets.md#vcpkg_visual_studio_path) in triplet.

[2021-07-22 10:27] #766 closed

[2021-07-22 10:50] sondretordal commented on #19041
Hi Samy,

Thanks for the fix, Tried it now and it works perfectly when building x86
and x64. So I guess this will be included in the official VCPKG package of
CCTag soon.

On Wed, Jul 21, 2021 at 3:04 PM Samy ***@***.***> wrote:

[2021-07-22 11:09] AndreMeyerRMC commented on #18086
@JackBoosY: building only x64-windows works.

[2021-07-22 11:42] autoantwort commented on #19057
`std::bad_alloc` is normally only called when you are out of memory. Are you running a low memory system? Maybe restart the computer helps to reduce the memory usage.

[2021-07-22 12:08] srgbtl opened #19078 "[vcpkg_from_github] Not able to download private GitHub repo with vcpkg_from_github and VCPKG_USE_HEAD_VERSION"
**Describe the bug**
In case VCPKG_USE_HEAD_VERSION is enabled and private GitHub repo is specified in vcpkg_from_github - downloading fails with the following error: "Failed. Status: 22;"HTTP response code said error""
During the investigation, it appears that AUTHORIZATION_TOKEN is not passed to the vcpkg_download_distfile() command which retrieves VCPKG_HEAD_VERSION.

**Environment**
- OS: Wind

[2021-07-22 17:09] dg0yt commented on #19057
No, the machine is healthy and strong. (Only that vcpkg builds eat disk space quickly.)

I cannot reproduce it with a build of the current HEAD of vcpkg-tool. I guess it was fixed with https://github.com/microsoft/vcpkg-tool/pull/109 which significantly changed the file reading code.

[2021-07-22 17:09] #19057 closed

[2021-07-22 19:07] rouisibra opened #19080 "vcpkg packages build failure with Visual Studio 2022 + MSVC v142"
**Host Environment**
- OS: Windows 10 21H1
- Compiler: MSVC v142
- Visual Studio 2022 preview 2.1

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install glfw3`

**Failure logs**
.\vcpkg.exe install glfw3
Computing installation plan...
The following packages will be built and installed:
    glfw3[core]:x86-windows -> 3.3.4
No suitable Visual Studio instances were found

[2021-07-22 19:46] acgetchell commented on #18903
I just got to this and It started working again 2 days ago, so thanks for your attention!

https://lgtm.com/projects/g/acgetchell/CDT-plusplus/logs/languages/lang:cpp

[2021-07-22 19:46] #18903 closed

[2021-07-22 19:51] ctapmex commented on #16579
can we hope to handle X_VCPKG_NUGET_ID_PREFIX when searching the cache?

[2021-07-22 20:01] fsinnes commented on #5277
@rcmpayne I need some help with this same issue, i'm using VS 2019

[2021-07-22 20:11] rouisibra commented on #19080
Fixed by installing MSVC v142 `v14.29` instead of `latest`

[2021-07-22 20:11] #19080 closed

[2021-07-22 20:31] Hoikas opened #19081 "[openssl] windows static consumer link broken."
Consuming static triplets of openssl is broken on Windows after #18042.

**Environment**
- OS: Windows 10
- Compiler: MSVC 16.10.3

**To Reproduce**
Steps to reproduce the behavior:
1. Try to build a project against static openssl.

**Expected behavior**
For it to work like before #18042.

**Failure logs**
[code]

**Additional context**
PR in progress.

[2021-07-22 20:41] #18527 closed

[2021-07-22 20:42] #17729 closed

[2021-07-22 20:45] #14326 closed

[2021-07-22 20:45] #18677 closed

[2021-07-22 20:58] #18999 closed

[2021-07-22 21:52] #18833 closed

[2021-07-22 22:00] #18237 closed

[2021-07-22 22:01] LedLoaf opened #19085 "How do I default x86 & x64 and statics of everything by default?"
Is there a way I can do this instead of typing 4 separate configurations for each library?

vcpkg install foo:x86-windows foo:x64-windows foo:x86-windows-static foo:x64-windows-static

Is there any way to just make this default the same way it always does x86 if you just type vcpkg install foo? Doing that for each library was annoying, because I had recently formatted at the time.

I've searched a

[2021-07-22 22:10] BillyONeal commented on #18987
Reopening until we do a binary release to pick up the fix.

[2021-07-22 22:50] #18815 closed

[2021-07-23 00:08] byxrolland commented on #18984
Here's the log you required:
[code]

[2021-07-23 00:33] Hoikas commented on #19038
This is the same issue I mentioned to @ras0219-msft in discord a few months ago. I saw it with the physx and python3 ports on macOS and Linux.

[2021-07-23 01:46] BillyONeal opened #19087 "vcpkg install installs symlinks incorrectly"
See the place where we copy symlinks on install:

https://github.com/microsoft/vcpkg-tool/blob/f6c8e328d9fd32be36d27e1c3036ef1ec1521148/src/vcpkg/install.cpp#L134-L150

We use std::copy_symlink. However, it is likely that the symlink points into the packages tree, meaning that a correct copy would need to retarget the symlink to point to its new relative location.

Most binary cache sources can't

[2021-07-23 01:50] NancyLi1013 commented on #14408
pcapplusplus has been added to vcpkg now, please update to the latest vcpkg via `git pull` and try to use this port.

[2021-07-23 01:52] NancyLi1013 commented on #7447
pcapplusplus has been added to vcpkg now, please update to the latest vcpkg via git pull and try to use this port.

[2021-07-23 01:53] NancyLi1013 commented on #12478
`pcapplusplus `has been added to vcpkg now, please update to the latest vcpkg via git pull and try to use this port.

[2021-07-23 02:45] JackBoosY commented on #10825
@leha-bot Yes please.

[2021-07-23 02:46] JackBoosY commented on #10911
Close this issue via #18989 merged.

[2021-07-23 02:46] #10911 closed

[2021-07-23 02:52] #18680 closed

[2021-07-23 02:55] #18286 closed

[2021-07-23 02:57] JackBoosY commented on #16579
@ctapmex  Since this issue was resolved, can you please open a new issue to request that?

[2021-07-23 02:57] #16579 closed

[2021-07-23 02:58] #16828 closed

[2021-07-23 02:59] #16827 closed

[2021-07-23 03:57] WangHHY19931001 commented on #19036
![image](https://user-images.githubusercontent.com/6965518/126735761-1b48c796-c454-44c5-9832-38d8f3c5e4f7.png)
it not work

[2021-07-23 04:04] ZgblKylin opened #19093 "[qt5] No mysqlplugin feature, qt5[all] cannot build"
**Describe the bug**
Port `qt5[all]` depends on a feature called `mysqlplugin`, but there's not such feature in port `qt5`

**Environment**
- OS: Windows 11
- Compiler: 14.29.30037

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install qt5[all]
2. See error

**Expected behavior**
`./vcpkg install qt5[all]` should work properly.

**Failure logs**
[code]

**Additional context**
Threre

[2021-07-23 04:37] ctapmex opened #19095 "Use X_VCPKG_NUGET_ID_PREFIX for download packages"
In #16579
A new option X_VCPKG_NUGET_ID_PREFIX was added in the #16579 , which allows you to put the same artifacts from different repositories of the same account into the cache.
For complete happiness, it is not enough that X_VCPKG_NUGET_ID_PREFIX is used to load artifacts from the cache. Otherwise, every time you run the build, you have to rebuild all the dependencies. Which does not speed up t

[2021-07-23 04:44] #18732 closed

[2021-07-23 04:57] byxrolland commented on #18984
I did an upgrade of vcpkg today. The problem went away. Thanks.

[2021-07-23 04:57] #18984 closed

[2021-07-23 05:10] #18504 closed

[2021-07-23 05:11] #18408 closed

[2021-07-23 05:46] NancyLi1013 commented on #19044
Hi @aizuon

`Spdlog `has been updated to 1.9.0 in vcpkg now. Please try to update to the latest vcpkg and rebuild this port.

[2021-07-23 05:46] #19044 closed

[2021-07-23 05:57] PhoebeHui commented on #19081
@Hoikas, thanks for reporting this issue and working a PR for this!

We have PR https://github.com/microsoft/vcpkg/pull/18475 to fix the same issue, currently it has been merged, please get latest source and try again.

[2021-07-23 05:57] #19081 closed

[2021-07-23 05:58] #15408 closed

[2021-07-23 06:19] PhoebeHui commented on #2663
Closing in favor of https://github.com/microsoft/vcpkg/discussions/17922 and https://github.com/microsoft/vcpkg/discussions/17787.

2 features request here:
1. vcpkg upgrade: if one of the packages fails, it should be continue or retry upgrade. Duplicated to https://github.com/microsoft/vcpkg/discussions/17922
2. vcpkg list:  Print installed libraries in a suitable way for vcpkg install. Duplicate

[2021-07-23 06:19] #2663 closed

[2021-07-23 06:20] JackBoosY commented on #19093
cc @Neumann-A

[2021-07-23 06:27] NancyLi1013 commented on #18669
Closing this issue for now since there is no active thread in a long time. Please feel free to reopen this issue if it is still a problem for you.

[2021-07-23 06:27] #18669 closed

[2021-07-23 06:31] NancyLi1013 commented on #19085
Hi @LedLoaf

Thanks for posting this issue.

Currently, there is no ways to support this. vcpkg will install x86-windows on Windows platform, x64-linux on Linux platform and x64-osx on macOS platform by default.

So you can use `vcpkg install foo` without typing the specific triplet on the above conditions.

But if you want to install the same port with different triplets by default, this is not s

[2021-07-23 06:48] kelteseth opened #19096 "ffmpeg build failure"
**Host Environment**
- OS: Windows
- Compiler: MSVC 2019 16.10

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install ffmpeg ` 32 bit

**Failure logs**
[code]

**Additional context**

When I click on the link, I get a certificate error. HTTP works fine but is insecure...
![image](https://user-images.githubusercontent.com/1071536/126746579-8a058a38-76e0-4129-b9e4-a3f3c12b059b.png)

[2021-07-23 06:58] kelteseth commented on #19096
I contacted the webmaster to update the certificate.

[2021-07-23 07:14] dg0yt commented on #19085
You can also set the default triplet via an environment variable.
The tool also support "response files" which may collect any list of parameters, for reuse.
If you depend on a particular set of libraries, you might also create a single overlay port with those libraries as dependencies. When you build this port, it will trigger all builds as needed.

[2021-07-23 07:19] #16048 closed

[2021-07-23 07:28] #16080 closed

[2021-07-23 07:31] #16287 closed

[2021-07-23 07:34] #16566 closed

[2021-07-23 07:53] BurningEnlightenment commented on #16653
I'm sorry, but I don't know what that means 😅

[2021-07-23 07:54] hjhj111 opened #19102 "boost-exception build failure"
Building package boost-exception[core]:x86-windows...
-- Using E:/vcpkg/downloads/boostorg-exception-boost-1.76.0.tar.gz
-- Cleaning sources at E:/vcpkg/buildtrees/boost-exception/src/ost-1.76.0-5e68eb1a52.clean. Use --editable to skip cleaning for the packages you specify.
-- Extracting source E:/vcpkg/downloads/boostorg-exception-boost-1.76.0.tar.gz
-- Using source at E:/vcpkg/buildtrees/boost-e

[2021-07-23 08:06] BurningEnlightenment commented on #16653
I can confirm that my repro instructions still produce the issue with an updated environment:
- Host: Windows 10 Pro 20H2 OS build 19042.1110
- Microsoft Visual Studio Enterprise 2019 Version 16.10.4
- VM: Linux 5.12.13-arch1-2 SMP PREEMPT Fri, 25 Jun 2021 22:56:51 +0000 x86_64 GNU/Linux
- Compiler: gcc version 11.1.0 (GCC)
- vcpkg-tool version 2021-07-21-unknownhash
- vcpkg: cdd51899f6ae3736bfbe9

[2021-07-23 08:42] JackBoosY commented on #17537
I can confirm this issue was resolved after openblas update.

[2021-07-23 08:53] JackBoosY commented on #17537
Close by accident.

[2021-07-23 08:53] JackBoosY commented on #17261
I can confirm this issue was resolved after openblas update.

[2021-07-23 08:53] #17261 closed

[2021-07-23 09:05] JackBoosY commented on #19096
It's not a vcpkg bug, the upstream should update their certificate.

[2021-07-23 09:05] #19096 closed

[2021-07-23 09:11] JonLiu1993 commented on #19102
@hjhj111 ,Thanks for posting this issue,Could you please provide the error log?
[code]

[2021-07-23 09:32] hjhj111 commented on #19102
notice: found boost-build.jam at E:/vcpkg/installed/x64-windows/tools/boost-build/boost-build.jam
notice: loading B2 from E:/vcpkg/installed/x64-windows/tools/boost-build/src/kernel/bootstrap.jam
notice: Site configuration files will be ignored due to the
notice: --ignore-site-config command-line option.
notice: Loading explicitly specified user configuration file:
    E:\vcpkg\buildtrees\boost-ex

[2021-07-23 09:57] PhoebeHui commented on #18533
The PR has been merged, please reference latest docs.

[2021-07-23 09:57] #18533 closed

[2021-07-23 10:42] PhoebeHui commented on #19102
The Chinese characters cause this issue, closing in favor of https://github.com/microsoft/vcpkg/issues/15201.

[2021-07-23 10:42] #19102 closed

[2021-07-23 10:45] #19095 closed

[2021-07-23 12:16] alexsmn commented on #19027
Seems to be the same as https://github.com/microsoft/vcpkg/issues/17555

[2021-07-23 13:25] HappySeaFox commented on #16793
This approach basically means that we need to patch every port that uses `check_c_source_runs` and I don't like it.

What about copying DLLs with objdump like vcpkg already does for client applications? However, there might be a problem with that. AFAIK, `check_c_source_runs` executes a new instance of `cmake` with its own arguments. A possible solution could be passing all the CLI arguments from

[2021-07-23 15:17] levinli303 commented on #16801
@JackBoosY

I could see that in libiconv, it used GetModuleFileName to get the path and then used strchr to find the path separator.
GetModuleFileName mapped to GetModuleFileNameW but strchr is ANSI, which caused the failure in DLL initialization

[2021-07-23 16:46] dg0yt commented on #16793
"Copying DLLs" works only for native Windows builds. It doesn't help for Linux, or for cross builds.

[2021-07-23 16:56] HappySeaFox commented on #16793
@dg0yt Correct me if I'm wrong, but vcpkg uses static linking on Linux triplets. This means that this issue doesn't exist  under Linux.

[2021-07-23 17:12] dg0yt commented on #16793
You are right that vcpkg decided not to add dynamic triplets to the master repository (guess why). This doesn't mean dynamic triplets would not exist or be used. So you are wrong when you say that the issue doesn't exist on Linux.

[2021-07-23 17:18] HappySeaFox commented on #16793
@dg0yt

We can discuss when they're added. Using RPATH or anything else, for example.

[2021-07-23 18:36] strega-nil-ms commented on #14902
I'm looking at this rn

[2021-07-23 18:50] strega-nil-ms commented on #14902
Hmm, it seems that I can't repro it; `git rev-parse HEAD`: `c79e8b4c624104fefa3dd81ec7cf6499cc9d030e` of the cockatrice repo works for me. Is there any more information?

(the vcpkg repo is at `dc9e8e1497ee60f65c21928eca5eb5fd5cce69f3`)

[2021-07-23 18:54] LedLoaf commented on #19085
Hey,

Thank you guys. Can any of you explain what a triplet is? I see it in the options ect and it seems to do with the different platforms?

So still a little bit confused after reading that thread. So just to clarify: vcpkg install foo --triplet=x64-windows and that's going to get me the x86 and x64 and so I'm assuming I might have to do the same thing for static or are those acquired as well? O

[2021-07-23 19:43] dg0yt commented on #9068
This issue should be fixed now.

[2021-07-23 19:46] dg0yt commented on #8943
This issue should be fixed now.

[2021-07-23 19:50] dg0yt commented on #16005
"As of 2018, libLAS has been replaced by the PDAL project and it is in hibernation or maintenance mode."
https://liblas.org/

[2021-07-23 19:54] dg0yt commented on #10327
Port gdal has finally received fixes for Linux.

[2021-07-23 19:57] dg0yt commented on #6502
Port gdal has received an updated wrapper.

[2021-07-23 20:21] Lishen1 opened #19106 "opencv4 error: The following files are already installed"
**Describe the bug**
Starting package 1/1: opencv4:arm64-android
Building package opencv4[core,dnn,jpeg,png,quirc,tiff,webp]:arm64-android...
Building package opencv4[core,dnn,jpeg,png,quirc,tiff,webp]:arm64-android... done
Installing package opencv4[core,dnn,jpeg,png,quirc,tiff,webp]:arm64-android...
The following files are already installed in D:/dev/iot/vcpkg/installed/arm64-android and are in

[2021-07-23 20:35] #18483 closed

[2021-07-23 20:42] LedLoaf commented on #19085
So, I figured a way to kind of do it. I've never programmed with PowerScript before but it works for me.

`function Get-NewLib{

param([string]$lib)

$x86 = ":x86-windows"
$x64 = ":x64-windows"
$x86s = ":x86-windows-static"
$x64s = ":x64-windows-static"
$plat = "$lib$x86 $lib$x86s $lib$x64 $lib$x64s"
$Command = ("vcpkg install $plat")
Invoke-Expression -command ($Command)

}`

In powershell:  Get-

[2021-07-24 04:58] Blakjak88 opened #19110 "wxWidgets conflict with boost::process"
**Describe the bug**
I have wxWidgets 3.1.5#2  installed with x64-windows-static triplet and boost-process 1.76.0 with the same triplet.

The header setup.h in wxWidgets defines pid_t as an int.

In boost-process file child-handle.hpp this is typedef to a DWORD_. This causes a compile error when using both wxWidgets and boost-process in the same application.

Workaround is to #undef pid_t where bo

[2021-07-24 05:41] Pospelove commented on #19038
@JackBoosY

It's finally out:
https://github.com/Pospelove/vcpkg-nuget-issue

This is a very minimal repo. The only things it contains are vcpkg submodule, manifest, and a workflow file.

It's based on GitHub Actions because of the [original example](https://github.com/microsoft/vcpkg/blob/f7c83acf486c572d7b1ebe5894dc83bca4f5faef/docs/users/binarycaching.md#github-packages). Please let me know if

[2021-07-24 06:10] hjhj111 opened #19111 "Building package boost-regex:x64-windows failed with: BUILD_FAILED"
notice: found boost-build.jam at E:/vcpkg/installed/x64-windows/tools/boost-build/boost-build.jam
notice: loading B2 from E:/vcpkg/installed/x64-windows/tools/boost-build/src/kernel/bootstrap.jam
notice: Site configuration files will be ignored due to the
notice: --ignore-site-config command-line option.
notice: Loading explicitly specified user configuration file:
    E:\vcpkg\buildtrees\boost-re

[2021-07-24 09:54] MidnQP commented on #8574
@fishnet37222 Another point for **everyone** to keep in concern is...

Because some packages like `curl[tool]` has the _Release_ libraries named to `libcurl.lib`, but the _Debug_ lib is named `libcurl-d.lib`. Similarly, `zlibd.lib`. So, change **Linker > General > Additional Library dependency**  accordingly.

[2021-07-24 10:02] Timmmm opened #19112 "Document triplets better"
None of the introduction documentation describes the triplets feature of vcpkg. But unfortunately by default (on my system at least) vcpkg seems to use `windows-x86` and CMake uses `windows-x64`. That leads to confusing ` Could not find a package configuration file` CMake errors.

I only found the solution from [this random comment](https://github.com/microsoft/vcpkg/issues/11247#issuecomment-6257

[2021-07-24 10:10] Timmmm commented on #53
Not on my system. At least, not with CMake:

[code]

Has that changed?

[2021-07-24 11:39] m-kuhn commented on #9068
Thanks for taking care @dg0yt much appreciated!

[2021-07-24 14:09] leha-bot opened #19114 "[vcpkg-tool] Feature request: CMake install() support?"
**Describe the bug**
It would be very convenient, if vcpkg-tool will provide logic for `cmake --install` action. It could be something like this:
[code]

**Environment**
- OS: any
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://GitHub.com/Microsoft/vcpkg-tool
2. cmake -S . -B build
3. cmake --build build
4. cmake --install build --prefix install

**Expe

[2021-07-24 20:47] BlueAmulet commented on #15794
Still running into this problem, finding bzhi instructions in code that uses snappy from vcpkg.

[2021-07-25 02:10] ras0219-msft commented on #19078
As a workaround, you can also try using `vcpkg_from_git()` and the auth suggestions from https://github.com/microsoft/vcpkg/discussions/17272

[2021-07-25 02:42] Edord99 commented on #19027
- [ ] 1888

[2021-07-25 06:40] vadi2 commented on #17374
Yes - and it's an issue because it's blocking an update to the latest vcpkg, which is one of the solutions for fixing the `3221225477` error that occurs with CMake v3.21.

Using commit d417ae59d6e9aa20d9f812b5deb966645c54687d gives the following error logs (thank you for showing them inline now):

[code]

[2021-07-25 06:46] vadi2 commented on #17374
Seems like it is related to https://github.com/microsoft/vcpkg/issues/13518? `gettext` is being built by vcpkg right before `hunspell`, but it's tools are not being found.

[2021-07-25 07:34] dg0yt commented on #17374
The gettext tools are installed by the `tools` feature of port gettext, and obviously you would want to install them for the host.
With https://github.com/microsoft/vcpkg/pull/18159 merged 11 hours ago, there is also a cmake wrapper, and kf5i18n can serve as an example how to add the dependency to vcpkg.json.

[2021-07-25 07:43] dg0yt commented on #17374
Okay, hunspell has the right dependency. But still, the tools are not automatically added to the path.

[2021-07-25 07:51] vadi2 commented on #17374
hunspell installs fine in the November 2020 version of vcpkg - something to keep in mind is that this is a regression.

[2021-07-25 08:01] dg0yt commented on #17374
Oh, the last minute changes to #18159 seem to have disabled the tools for linux again. I need to stop allowing edits by maintainers.

[2021-07-25 08:08] dg0yt commented on #17374
Actually, no. #18159 adds building the tools for linux. So your issue is likely to be fixed in HEAD of master.

[2021-07-25 08:12] dg0yt commented on #13518
#18159 was merged, so maybe this resolved?

[2021-07-25 10:00] mathisloge opened #19116 "[GDAL] find package error"
@dg0yt this might be more related to you.

[code]

In the end, it is this line `_find_package(${ARGS})`  in vcpkg-cmake-wrapper.cmake.

If I comment it out, it all works fine and all libraries are discovered.

PS: I couldn't figured it out why it complainted. If I add a `message(FATAL_ERROR ${GDAL_LIBRARY})` before `_find_package` I'm getting the path of the libraries.
contents of `GDAL_LIBRARY`
[

[2021-07-25 12:33] vadi2 opened #19117 "[libiconv:x64-mingw-dynamic] build failure"
**Host Environment**
- OS: Windows
- Compiler: Mingw-w64 8.1.0
- vcpkg: 7d2541c69cc2f9099a118de1a80f59e29c5de15d

**Failure logs**
[code]

[2021-07-25 12:35] vadi2 commented on #17374
Using commit 7d2541c69cc2f9099a118de1a80f59e29c5de15d - on Windows a new transient dependency is introduced and it breaks the build first (https://github.com/microsoft/vcpkg/issues/19117). On macOS hunspell fails:

[code]

On Ubuntu it works now, that is a step forward thanks 👍 all logs can be [found here](https://github.com/Mudlet/Mudlet/pull/5331/checks).

[2021-07-25 12:54] dg0yt commented on #19116
I just found two issues with wrapper (while working on kealib) and know how to resolve them:
- GDAL_LIBRARY must be set as a cache variable before calling pristine FindGDAL.cmake.
  Solves your issue.
- The wrapper must not touch target GDAL::GDAL on a second call to `find_package(GDAL)`.
  Solves errors from `target_link_libraries(GDAL::GDAL ...)` in the wrapper on the second call because the imp

[2021-07-25 13:34] dg0yt commented on #17374
You really need a few more packages via brew for macOS: the missing aclocal is probably part of `automake`.
(Full CI configuration: https://github.com/microsoft/vcpkg/blob/master/scripts/azure-pipelines/osx/configuration/vagrant-box-configuration.json)

[2021-07-25 15:00] ras0219-msft commented on #19114
Thanks for opening this issue!

What purpose do you intend this to server? The vcpkglib library is not intended for use outside the vcpkg repository -- it is only a library at all in order to share the object files between the test binaries and the vcpkg executable.

Additionally, the vcpkg executable is not currently suitable to be installed anywhere except into the root of a git clone of `https:

[2021-07-25 15:56] xvitaly commented on #19114
I'm a Fedora maintainer. I need installation support and correct library handling to comply with Fedora packaging guidelines. `vcpkg` can be installed from Fedora repositories.

I want to split `vcpkg` (tool) and `vcpkg-common` (database) to a separate packages. End users will be able to easily install vcpkg and then use it to download/build packages.

[2021-07-25 18:31] ethanbergstrom commented on #5120
@soroshsabz I have a basic OneGet provider for OneGet out on PowerShell gallery, though to be honest, with present state of how difficult it is to get WinGet to even install correctly on Windows Server, I don't plan on iterating on it until installing WinGet itself is easier.

[2021-07-25 20:44] dg0yt commented on #19117
TLDNR: Don't use mingw32-make.

The error doesn't occur in msys2. However, my msys2 installation uses `/usr/bin/make` which assume an `sh` shell.
Your logs show `C:/ProgramData/chocolatey/lib/mingw/tools/install/mingw64/bin/mingw32-make` which assumes Windows' `cmd` shell. I guess this is the source of the problem, and here is the explanation AFAIU:

Crossing the border between the mingw world (ma

[2021-07-25 21:23] julianxhokaxhiu opened #19121 "[ffmpeg] build failure due to yasm cannot be accessed"
Hi,

I noticed that vcpkg fetches `yasm` from this link: https://www.tortall.net/projects/yasm/snapshots/v1.3.0.6.g1962/yasm-1.3.0.6.g1962.exe which doesn't work at the moment because the website has a broken SSL certificate.

Is it possible to change it to this one instead?
https://github.com/yasm/yasm/releases/download/v1.3.0/yasm-1.3.0-win32.exe

At least we would avoid relying on a website whi

[2021-07-25 21:41] sfhacker commented on #19117
@vadi2 Have you contacted us before? (2019? 2020?)
We have been using MinGW for ages. No problem building libiconv from source on Windows 10 x64 at all.

[2021-07-25 21:50] dupuysylvain opened #19122 "[libsndfile] build failure"
Hi,

i have a problem installing libsndfile. It seam that a link is not working :

https://gitlab.xiph.org/xiph/ogg/-/archive/v1.3.5/ogg-v1.3.5.tar.gz: WinHttpSendRequest() failed: 12002

**Host Environment**
- OS: Windows 10
- Compiler: 19.29.30038.1

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install libsndfile`

**Failure logs**

[code]

[2021-07-25 22:26] ankurverma85 commented on #19122
looks related to
https://github.com/microsoft/vcpkg/pull/18546/files
The gitlab url seems to be down.
Switching back to github should probably work

[2021-07-25 22:32] ankurverma85 commented on #19122
Could potentially be a service outage on xiph.org but in the meantime the following patch works

[code]

[2021-07-26 01:24] Hoikas opened #19123 "X_VCPKG_APPLOCAL_DEPS_INSTALL Regression"
X_VCPKG_APPLOCAL_DEPS_INSTALL does not function as intended if the project CMake includes a `DESTINATION`. Meaning that dependencies are properly deployed in the case of `install(TARGETS foo)` but not in the case of `install(TARGETS foo DESTINATION bar)`.

**Environment**
- OS: Windows 10
- Compiler: Visual Studio 2017, 2019

**To Reproduce**
- [Correct behavior](https://github.com/Hoikas/vcpkg-py

[2021-07-26 01:54] Ace314159 commented on #17184
I think this was fixed by #18908

[2021-07-26 01:55] JonLiu1993 commented on #14739
@spindensity ,Openblas has been updated to the latest version, please update vcpkg to use

[2021-07-26 01:55] #14739 closed

[2021-07-26 02:00] JackBoosY commented on #9068
Closed this issue via #17698 merged.
Thanks for @dg0yt hard work!

[2021-07-26 02:00] #9068 closed

[2021-07-26 02:29] JackBoosY commented on #17374
So should we update to the latest to fix this issue?

[2021-07-26 02:30] JackBoosY commented on #8943
Please reopen this issue if it still exist.

[2021-07-26 02:30] #8943 closed

[2021-07-26 02:34] JackBoosY commented on #17184
Since ompl feature `app` has been moved to a new port `omplapp`, can you confirm whether this issue was resolved?

[2021-07-26 02:41] JackBoosY commented on #13518
Ping @wrobelda for response.

[2021-07-26 03:00] JackBoosY commented on #19123
@Hoikas  Can you explain more?
I can't see any different from you provided CI results.

[2021-07-26 03:03] charles-sun0v0 opened #19124 "[vtk[qt]] build failure, version 8.1.0 in manifest mode"
**Host Environment**
- Windows10
- Compiler: VS2019

**To Reproduce**
in manifest mode with json blow:
[code]

**Failure logs**

[code]
I have updated vcpkg but it didn't work

[2021-07-26 03:04] JackBoosY commented on #19124
Please provide failure log _D:\workspace\opensrc\vcpkg\buildtrees\vtk\install-x64-windows-dbg-out.log_.

Thanks.

[2021-07-26 03:09] charles-sun0v0 commented on #19124
[code]

[2021-07-26 03:10] Hoikas commented on #19123
The dependency DLLs are not installed in the [incorrect behavior](https://github.com/Hoikas/vcpkg-python3-test/actions/runs/1065794877) result.

[2021-07-26 04:13] dg0yt commented on #17374
@JackBoosY The issue here is fixed now: Port hunspell already was complete (updating PATH), and the recent merge of #18159 added the missing tools for Linux. (The new issues in the last comments are not related to hunspell, but to missing autoconf/automake (macos) and unsuitable mingw32-make (mingw).)

[2021-07-26 05:40] #17374 closed

[2021-07-26 05:49] NancyLi1013 commented on #11623
Hi @leezu

The feature dynamic arch for `openblas  `has been supported in vcpkg via PR #15238 now. Please update to the latest vcpkg and try to rebuild `openblas`.

[2021-07-26 05:49] #11623 closed

[2021-07-26 06:03] JonLiu1993 commented on #19036
@WangHHY19931001,It seems that you don’t have permission to download. Can you try to download using a proxy?

[2021-07-26 06:08] dg0yt opened #19125 "[szip,libaec] Replace szip with new port libaec"
Library name: libaec - Adaptive Entropy Coding library

Library description: Libaec provides fast lossless compression of 1 up to 32 bit wide
signed or unsigned integers (samples). The library achieves best
results for low entropy data as often encountered in space imaging
instrument data or numerical model output from weather or climate
simulations. While floating point representations are not di

[2021-07-26 06:31] JackBoosY commented on #15625
You can add option `--clean-after-build` to `install` command to remove _buildtrees_, _packages_ and _downloads_ after build.

[2021-07-26 06:34] JackBoosY commented on #15623
We should rename `UseLldLink` to avoid the name conflict.

[2021-07-26 06:38] PhoebeHui commented on #6656
Related to https://github.com/microsoft/vcpkg/issues/15731

[2021-07-26 06:41] JackBoosY commented on #15562
For existing corresponding features, you can set these features to enable or disable. See [documentation](https://github.com/microsoft/vcpkg/blob/master/docs/users/manifests.md#features-and-default-features-fields).
For those who don't, you can use overlay-port to solve this issue. See [documentation](https://github.com/microsoft/vcpkg/blob/master/docs/specifications/ports-overlay.md).

[2021-07-26 06:42] JackBoosY commented on #15458
Duplicated to https://github.com/microsoft/vcpkg/discussions/19067.

[2021-07-26 06:42] #15458 closed

[2021-07-26 06:44] dg0yt commented on #19124
The error seems to be related to NetCDF. VTK 8.1 is out of vcpkg CI since 2020-05. Apart from a number of corrections to the netcdf-c, hdf5 and szip ports, at least HDF5 has been updated from 1.10 to 1.12.0 after the VTK update. Maybe the manifest would need to use more overrides together with the downgrade of VTK 8.1.

[2021-07-26 06:45] #15006 closed

[2021-07-26 06:52] JackBoosY commented on #14873
I strongly doubt the need to add this feature.
The pre-compiled binary downloaded manually by the user has a different version/different configuration from the vcpkg in most cases, so other errors may occur.

[2021-07-26 06:55] JackBoosY commented on #14773
Duplicated to https://github.com/microsoft/vcpkg/discussions/17450.

[2021-07-26 06:55] #14773 closed

[2021-07-26 06:59] #14727 closed

[2021-07-26 07:00] #14664 closed

[2021-07-26 07:03] #14458 closed

[2021-07-26 07:04] #14423 closed

[2021-07-26 07:17] JackBoosY commented on #6656
Upstraem PR https://gitlab.kitware.com/cmake/cmake/-/merge_requests/1974.

[2021-07-26 07:23] JackBoosY commented on #19124
But I can't repro it on my machine, why?

[2021-07-26 07:25] JackBoosY commented on #14124
I noticed that both info and error are now printed, can you double confirm this?

[2021-07-26 07:26] #13854 closed

[2021-07-26 07:28] #13567 closed

[2021-07-26 07:45] abaghiyan opened #19134 "[New Port Request] - CamOdoCal"
Library name: CamOdoCal

Library description: CamOdoCal is a C++ library supports the following tasks:

- Intrinsic calibration of a generic camera.
- Extrinsic self-calibration of a multi-camera rig for which odometry data is provided.
- Extrinsic infrastructure-based calibration of a multi-camera rig for which a map generated from task 2 is provided.

Source repository URL: https://github.com/he

[2021-07-26 07:51] PhoebeHui commented on #10825
Related to https://github.com/microsoft/vcpkg/issues/7790

Related https://github.com/microsoft/vcpkg/pull/12318#issuecomment-655782037

[2021-07-26 07:54] NancyLi1013 commented on #14847
Hi @HappySeaFox

This issue should be fixed via PR https://github.com/microsoft/vcpkg/pull/15735. Please update to the latest vcpkg and rebuild this port.

[2021-07-26 07:54] #14847 closed

[2021-07-26 08:24] JonLiu1993 commented on #19122
Are you behind a proxy?
If yes, have you followed the error message?

  If you use a proxy, please check your proxy setting. Possible causes are:

  1. You are actually using an HTTP proxy, but setting HTTPS_PROXY variable
     to `https://address:port`. This is not correct, because `https://` prefix
     claims the proxy is an HTTPS proxy, while your proxy (v2ray, shadowsocksr
     , etc..) is an

[2021-07-26 08:32] JackBoosY commented on #13420
Now, we have vcpkg official website, so remove label vcpkg feature.

[2021-07-26 08:32] #13420 closed

[2021-07-26 08:34] PhoebeHui commented on #19112
@Timmmm, thanks for your feedback! We would impove the docs.

[2021-07-26 08:35] #13351 closed

[2021-07-26 08:36] #13282 closed

[2021-07-26 08:37] #13239 closed

[2021-07-26 08:38] PhoebeHui commented on #19111
@hjhj111, It can't find the compiler on your machine, do you install visual sudio with toolset? if so, could you provide us the version you installed?

Failures:
[code]

[2021-07-26 08:39] #13155 closed

[2021-07-26 08:40] #13089 closed

[2021-07-26 08:44] JackBoosY commented on #12033
Already implemented.

[2021-07-26 08:44] #12033 closed

[2021-07-26 08:45] simon-winter opened #19140 "How do I use a private registry hosted in Azure"
Hello,
i am trying to setup a private registry for our private company libs. These lay in Azure repos.
After setting up the registry there aswell and trying to build with cmake, the process hangs at:
[code]
and never continues.

I guess its because vcpkg has no authentication and i couldn't find on how to provide a token/login credentials to vcpkg.

I'm Cross-compiling from VS 2019 to a WSL2 distr

[2021-07-26 08:46] #11119 closed

[2021-07-26 08:48] #11006 closed

[2021-07-26 08:49] #10554 closed

[2021-07-26 08:51] JackBoosY commented on #10000
I think we should not do this because it will break the dependencies stored in vcpkg and cause the lack of these dependencies when building other ports in the future.

[2021-07-26 08:56] JackBoosY commented on #9722
@LukaszMendakiewicz  If you want vcpkg to "embed" your project, I think you should use the manifest mode. See [documentation](https://github.com/microsoft/vcpkg/blob/master/docs/users/manifests.md).

[2021-07-26 08:56] Neumann-A commented on #19125
Needs XOR features so that a metaport for `szip-api` can be created

[2021-07-26 08:58] #9495 closed

[2021-07-26 09:02] JackBoosY commented on #8999
Ping @strega-nil-ms for response.

[2021-07-26 09:02] #8422 closed

[2021-07-26 09:04] #8269 closed

[2021-07-26 09:12] dg0yt commented on #6656
I would like to note that `libjpeg-turbo` is just one (compatible) implementation of the library to be found by `FindJPEG.cmake`.

[2021-07-26 09:14] dg0yt commented on #19125
AFAIU libaec uses different binary names. Most uses of szip are via HDF5, so the XOR could be implemented there.
(I want to remove szip from default features anyway, given it is special usage terms.)

[2021-07-26 09:17] JackBoosY commented on #19123
Confirmed.

[2021-07-26 09:19] JackBoosY commented on #19123
cc @strega-nil-ms

[2021-07-26 09:21] JackBoosY commented on #18670
Related: https://github.com/microsoft/vcpkg/issues/19123

[2021-07-26 09:24] Neumann-A commented on #19125
If I remember correctly if you configure HDF5 without any flags yourself it will always include ZLIB and SZIP.
As such removing it from the defaults is unexpected for users.

[2021-07-26 09:27] JackBoosY commented on #13649
Replied by @ras0219-msft :

[2021-07-26 09:34] SchaichAlonso commented on #18755
After having removed my former vcpkg directory and cloned/bootstrapped vpkg from scratch. I can now build/install pango,  and also execute the now-bundled ```tools\pango\pango-view``` demo application.

I noticed, though, that in the clean clone of the current vcpkg master, in order to install ```pango:x86-windows```, I need to install a number of x64-windows variants of pango's dependencies. I th

[2021-07-26 09:34] #18755 closed

[2021-07-26 09:36] Neumann-A commented on #18755
use `--host-triplet=x86-windows` in the `vcpkg install` command

[2021-07-26 09:41] vadi2 commented on #17374
Just to note, the hunspell port did not require that tooling as of Nov 2020. Is it intended that it is now a required outside dependency?

[2021-07-26 09:43] vadi2 commented on #19117
This is a port regression and I don't see how your explanation matches with the fact that everything works in the November 2020 version of vcpkg. Could you explain this?

[2021-07-26 09:45] NancyLi1013 commented on #19085
I think [this ](https://github.com/microsoft/vcpkg/blob/master/docs/users/triplets.md) doc can help you know what a triplet is.

[2021-07-26 10:01] #18109 closed

[2021-07-26 10:01] simon-winter commented on #19140
Update:
i tried using vcpkg_from_git() instead and also set the "port-version" to 0 in the 3rd codesnipped above.
Additionally i used the git config credentials with a pat like:
`config --global http.https://dev.azure.com/myCompany/xx/_git/*.extraheader "AUTHORIZATION: bearer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"`

it still hangs on fetching baseline

[2021-07-26 10:02] #16070 closed

[2021-07-26 10:06] dg0yt commented on #17374
AFAICS port hunspell was build with a custom cmake build system (from vcpkg) in Nov 2020. Today the port uses the original build system.
History: https://github.com/microsoft/vcpkg/commits/master/ports/hunspell

[2021-07-26 10:12] dg0yt commented on #19117
@vaid2 Can you verify that you are really using the same mingw environment as in Nov 2020? Do you have old logs?

[2021-07-26 10:23] dg0yt commented on #19117
The other thing is [mixing different installations of MinGW](https://github.com/microsoft/vcpkg/blob/master/docs/users/mingw.md#how-to-avoid-mixing-different-installations). This is hard enough to avoid as long as vcpkg downloads some MSYS2 packages, and I ran into issues with missing quotes / argument passing because of that. Now your installation adds some MinGW in `C:/ProgramData/chocolatey/lib

[2021-07-26 10:24] NancyLi1013 commented on #16300
@Chronial

Could you please help confirm if the feature `X_VCPKG_ASSET_SOURCES` can meet your demands?  You can refer to [this ](https://github.com/microsoft/vcpkg/blob/master/docs/users/assetcaching.md)doc to know more about this feature.

[2021-07-26 10:30] #16165 closed

[2021-07-26 10:46] PhoebeHui commented on #19140
@simon-winter, can you try the method provided in https://github.com/microsoft/vcpkg/discussions/17272 and see if it works for you? BTW, you should use vcpkg_from_git() instead. vcpkg_from_github used for these ports from github.

[2021-07-26 10:47] Chronial commented on #16300
The doc you linked to makes no explicit mention of the tools used by vcpkg, but I assume they fall under the umbrella term of "assets"?

As far as I understand that documentation, vcpkg only supports using a azure blob storage as storage location? No local folders, no network shares? If that is the case than X_VCPKG_ASSET_SOURCES does not really meet my demands. Of the three goals listed in my fir

[2021-07-26 11:15] simon-winter commented on #19140
the `git config --global` i tried without success

[2021-07-26 11:16] simon-winter commented on #19140
Sorry msistake with the closing.

i tried the github config --global solution without success and now try the environment variable one, but the later requreis me to make atleast the registry public. is it not possible with a private registry at all?

[2021-07-26 11:20] shavesha opened #19150 "How do I query for the baseline in vcpkg-configuration.json?"
I have manages to create a vcpkg-registry and it installs the dependencies. The tutorial I am following is here [Bring Your Own Libraries to Vcpkg](https://devblogs.microsoft.com/cppblog/registries-bring-your-own-libraries-to-vcpkg/). However the ```vcpkg-configuraion.json``` used as an example does not have a baseline field. When I run it I get the error
[code]
So my question is how can i get get

[2021-07-26 11:40] hjhj111 opened #19151 "generate vcpkg.exe with .bat failed in win7"
![Uploading IMG_20210726_193805.jpg…](picture)

[2021-07-26 11:41] hjhj111 commented on #19151
![Uploading IMG_20210726_193805.jpg…](try again)

[2021-07-26 11:44] hjhj111 commented on #19151
方法调用失败，因为[system.string]不包含名为“isNullOrWiteSpace"的方法
bootstrap.ps1:33 字符：38

[2021-07-26 12:14] vadi2 commented on #19117
I'm using Github Actions to build my workflow and using the 4b222f8 version of vcpkg, libiconv builds fine today, here is proof - https://github.com/Mudlet/Mudlet/runs/3157601579?check_suite_focus=true. As soon as I switch to latest mater, libiconv breaks when built with the same environment - https://github.com/Mudlet/Mudlet/runs/3154982670?check_suite_focus=true.

The only variable that changes

[2021-07-26 12:16] vadi2 commented on #17374
Makes sense 👍

[2021-07-26 12:19] simon-winter commented on #19140
i tried the bottom solution of your link by adding a valid PAT to my permanent env variables in the WSL distri and then passing it to vcpkg upon resolving the lib location :

[code]

The registry i made public for now. VCPKG now successfully fetches the custom registry, but crashes upon installation:

[code]

[2021-07-26 12:38] dg0yt commented on #19117
AFAICS the "proof" *just doesn't build libiconv in vcpkg*. So your setup which happened to work in November (for a more simple configuration) now breaks (for a more complex configuration).
Note that this fragile passing of C string definitions happens not only for libiconv. Some packages use this to pass the version string to the windows resource compiler. Since ports need frequent updates, it is

[2021-07-26 13:38] dupuysylvain commented on #19122
Hey, i retried today and it's work fine. Thanks for your help !

[2021-07-26 13:40] #19122 closed

[2021-07-26 13:58] vadi2 commented on #19117
My setup is still working now... using vcpkg from 2020. See the links provided, both of them are within the last few days.

Really, the only variable that is changing is not my compiler, or the setup, or the date, but the vcpkg version. This port does not build anymore when using recent vcpkg.

[2021-07-26 14:07] simon-winter commented on #19140
ok this seems to be my fault , because our lib was not ready for a complete cmake install.
But i still ahve to use a public registry. Is there no waya of pasing argumets in the vcpkg-configuration to reach a registry with a set of credentials?

[2021-07-26 14:13] dg0yt commented on #19117
@vadi2 Can point me to the line were [vcpkg from 2020](https://github.com/Mudlet/Mudlet/runs/3157601579?check_suite_focus=true) builds libiconv:x64-mingw-dynamic?

[2021-07-26 14:22] sfhacker commented on #19117
@vadi2 You have been facing issues with vcpkg for, at least, a couple of years!
Some users are fond of a salad of several toolchains!
What is this 'chocolatey'? What do we need it for?
As I said, libiconv builds fine under MinGW.
Most probably your environment is either broken or polluted.

[2021-07-26 15:13] jdx-john opened #19152 "Older solution doesn't work with vcpkg, no host-triplet option"
I've recently rebuilt vcpkg and new VS2019 projects work fine with vcpkg, and give me options like this:
![image](https://user-images.githubusercontent.com/1654627/127012944-c022e414-5a05-4505-b784-2c5fbc1b7850.png)

However when I opened an older VS2019 project I used to use for vcpkg testing, none of my includes to vcpkg headers were found. In the project settings, I noticed the "host triplet" o

[2021-07-26 15:14] ROBYER1 commented on #18744
Just had to do this to, can this not actually be fixed in the build pipeline at least? It was a bit obscure for such an automated setup that I had to go do all that myself to fix it for every install I do.

[2021-07-26 15:21] jdx-john opened #19153 "Boost regex compile error"
I am getting this problem, initially in an existing code-base so I created a brand-new Console project to test:

[code]

I'm building on VS2019, using default v142 libraries and C++17. Many other ports work fine, including using boost. It seems specific to regex could there be an issue? Using boost 1.76 (latest).

[2021-07-26 15:22] Fenrirthviti commented on #14902
I will revisit this when time allows this week and update as soon as I can.

[2021-07-26 16:41] strega-nil-ms commented on #8999
We are doing work on this, but it hasn't come to completion yet. Pre-10.15, we expect that people will set up their compilers to do the right thing. We don't ship binaries on macOS for this exact reason.

[2021-07-26 16:44] strega-nil-ms commented on #19114
We expect that, in the near future, vcpkg will support installation apart from the registry. Given that this is true, I'm not super against this going in - especially if we could add CPack support. @xvitaly I'd like to discuss with you what you might need from us on this front, if you're up for it?

[2021-07-26 17:11] crazyevent opened #19154 "[freetype] build failure"
**Host Environment**
- OS: Windows 10 19042.1110
- Compiler: Visual Studio 2019 Enterprise 16.10.4

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install qt5` or `./vcpkg install freetype`

**Failure logs**

[code]

Additionally, attach any relevant sections from the log files above.

-Cut and past the appropriate build messages from the console output.
-Please attach any additional f

[2021-07-26 17:14] autoantwort commented on #19154
Thank you for reporting the issue, but can you please add the log files

-Please attach any additional failure logs mentioned in the console output.

[2021-07-26 17:51] crazyevent opened #19155 "[openssl] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: Visual Studio 2019 Enterprise

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install openssl`

**Failure logs**
[code]

**Additional context**
It cause by incorrect urls, maybe it was deleted by openssl.org, and github url is https://github.com/openssl/openssl/archive/refs/tags/OpenSSL_1_1_1k.zip

[2021-07-26 17:59] #18808 closed

[2021-07-26 18:07] #16801 closed

[2021-07-26 18:11] #19116 closed

[2021-07-26 18:18] dg0yt commented on #19117
Two things are strange in the failure log:
1. From vcpkg, the failed `make` command is `C:/ProgramData/chocolatey/bin/make.exe`, i.e. vcpkg doesn't use the make which it downloads from msys:
[code]

I guess the selection of this tool is due to
a) how chocolatey add itself to the PATH, and how it install shims, plus
b) how `vcpkg_configure_make` prepends compilers dirs to PATH, plus
c) how `vcpkg_b

[2021-07-26 19:18] 375gnu commented on #19121
I have the same issue with `x86-windows` triplet.

[2021-07-26 19:50] jedfrechette opened #19156 "[openimageio] update to 2.2.16"
Library name: OpenImageIO

New version number: 2.2.16

Other information that may be useful (release notes, etc...)

https://github.com/OpenImageIO/oiio/releases/tag/v2.2.16.0

[2021-07-26 20:11] dg0yt commented on #19125
As such removing it from the defaults is unexpected for users.

SZIP is on, but usage of the encoder defaults to off in HDF5's CMakeLists.txt. This the legally safe default.
But vcpkg activates the encoder together with the (default!) szip feature. This is worrying.

With this background alone, there would three options:
1. szip off,
2. szip decode-only,
3. szip encoding-enabled.

With libaec as a

[2021-07-26 21:11] Hoikas commented on #19123
[Fixed run](https://github.com/Hoikas/vcpkg-python3-test/actions/runs/1068915902) with #19158

[2021-07-26 22:36] autoantwort commented on #18993
I think it is was kind of done in #19115

[2021-07-26 22:40] autoantwort commented on #18967
I think I misunderstood your search description. I thought when a port is not found in the current "level", it continuous searching in the next one. But if I now understand correctly we stop searching on the other "levels" when we found one of the port sources (for example a custom registry).

[2021-07-26 22:53] autoantwort commented on #18967
https://github.com/microsoft/vcpkg-tool/pull/93 then already partly implements this behavior for `x-add-version`, `civerifyportversions`, `create` and `format-manifest` and it would be very easy (one liner) to do it also for `edit`, `portsdiff`, `autocomplete`. The only think it currently doesn't respect are vcpkg.json files (so creating an error except for `edit` and `autocomplete`).
Should `inst

[2021-07-27 00:06] cyh19910216 commented on #18744
I successed. It's not so smart. I thought it could download files automatically.

[2021-07-27 01:15] WangZP10969 commented on #17184
Thank you, I will try it later.

[2021-07-27 01:26] NancyLi1013 commented on #19152
Hi @jdx-john

Thanks for posting this issue.
Could you please try to integrate your project again? Please also check if the libraries required for old project are listed in the same repo with the libraries required for new project.

[2021-07-27 01:37] #19114 closed

[2021-07-27 01:49] JackBoosY commented on #19154
Please re-install zlib first.

[2021-07-27 01:52] #2721 closed

[2021-07-27 02:49] NancyLi1013 commented on #18656
Closing this issue for now, please feel free to reopen this issue if it is still a problem for you.

[2021-07-27 02:49] #18656 closed

[2021-07-27 03:39] BillyONeal commented on #18967
Right, if we enter any of the bullets and find no match we don't continue elsewhere under this proposal.

[2021-07-27 05:07] WangZP10969 commented on #17184
@JackBoosY  @Ace314159 It seems to be working properly, thank you very much.
![image](https://user-images.githubusercontent.com/47802547/127098607-f488065d-0188-404f-9d9d-f17db8b8ae78.png)

[2021-07-27 05:07] #17184 closed

[2021-07-27 05:56] m-kuhn commented on #19038
gdal is also affected

[2021-07-27 07:27] NancyLi1013 commented on #19110
Hi @Blakjak88

Thanks for posting this issue.

This seems like upstream bug.

According to this issue https://trac.wxwidgets.org/ticket/18150, `pid_t` should only be used on Unix. But we can found the related codes here:

`pid_t` is added to `${SYSTYPES}`, but there is no check if `<sys/types.h>` is defined in _build/cmake/setup.cmake_

[code]
https://github.com/wxWidgets/wxWidgets/blob/95f1b262a4

[2021-07-27 07:43] #19154 closed

[2021-07-27 08:22] WangHHY19931001 commented on #19036
I try to down using proxy, but not work, intel tall me "We are unable to find registrations/downloads matching this request"，may be my user can't down it.
 i can down oneapi base, mkl inclued in it,but vcpkg can't use mkl in oneapi base

[2021-07-27 08:30] wrobelda commented on #19121
The official website actually links to non-https snapshots page: https://yasm.tortall.net/Download.html

[2021-07-27 08:32] jdx-john commented on #19152
@NancyLi1013 reintegrating was what I tried first (and re-starting VS). The libraries used are ones we are already using in other projects against the same triplet.

[2021-07-27 08:58] JonLiu1993 commented on #19151
@hjhj111 ,Your screenshot upload failed. I can’t see any information. Can you describe your problem again?

[2021-07-27 09:18] hjhj111 commented on #19151
the method isNullOrWiteSpace is not  of system.string

[2021-07-27 09:22] NancyLi1013 commented on #18929
@marekyggdrasil

Is this still a problem for you?

[2021-07-27 09:36] JonLiu1993 commented on #19151
Please describe your problem in detail, provide environment configuration, and reproduce steps.

[2021-07-27 09:39] hjhj111 commented on #19151
win7旗舰版，strightly run bootstrap.bat, and it give the output :方法调用失败，因为[system.string]不包含名为“isNullOrWiteSpace"的方法 bootstrap.ps1:33 字符：38