[2020-02-05 16:37] mbeutel opened #9928 "Are ports for CMake script libraries acceptable?"
Would you accept PRs with portfiles for libraries that solely consist of CMake script files?

An example would be [YCM](https://github.com/robotology/ycm/). This can be used as a CMake package, i.e. with `find_package(YCM)`, but the config file only modifies `CMAKE_MODULE_PATH` to make YCM's CMake modules (e.g. [InstallBasicPackageFiles](http://robotology.github.io/ycm/gh-pages/git-master/module/I

[2020-02-05 16:44] timautry commented on #9921
The experts (@JackBoosY @PhoebeHui  @LilyWangL  @Neumann-A as I see them contribute a lot to this overall project) would know more about this than me, but my thoughts would be if vcpkg is not installed in the same location on each PC, then it would seem logical to assume (I hate assuming) one  after porting to another PC, would need to delete the nupkg for vcpkg in the project and add the nupkg fo

[2020-02-05 16:47] FrankHeimes commented on #9920
I found a problem and a workaround. I'm using Visual Studio 2019, Version 16.4.4, which has an unresolved configuration issue for `Debug|x64`, see: [com-objects-fail-to-register-on-x64](https://developercommunity.visualstudio.com/content/problem/903206/com-objects-fail-to-register-on-x64.html)

When installed on a virgin Windows 10 system, the Visual Studio setup does not install the debug version

[2020-02-05 16:59] rkitover commented on #9916
I am getting this as well.

[2020-02-05 17:27] cdcseacave commented on #9818
I had the same problem, but simply retrying succeeded:
Windows 10 x64 + Visual Studio 2019 + today's master: no error in the log files as far as I saw
[code]

[2020-02-05 18:23] romanpastu commented on #9848
@JackBoosY . Visual Studio Build Tools 2017 15.9.19
Windows 10 PRO V 1909, SO compilation 18363.592

Note: During the download of the packages, none of them was being downloaded, I had to download them manually and place them in the Downloads folder

[2020-02-06 02:13] JackBoosY commented on #9848
@ras0219-msft Can you have a look?

[2020-02-06 02:16] JackBoosY commented on #9818
@ras0219-msft Can you have a look?

[2020-02-06 02:19] JackBoosY commented on #9784
Confirmed.

[2020-02-06 02:47] JackBoosY commented on #9918
It seems that update break my #6593 changes.

[2020-02-06 02:47] li-wu opened #9935 "[New Port Request] toml11"
Library name:
toml11

Library description:
toml11 is a C++11 header-only toml parser/encoder depending only on C++ standard library.
compatible to the latest version of TOML v0.5.0 after version 2.0.0.

Source repository URL:
https://github.com/ToruNiina/toml11

Project homepage (if different from the source repository):
N/A

Anything else that is useful to know when adding (such as optional featu

[2020-02-06 03:11] krishna116 opened #9936 "Could not load a pixbuf from /org/gtk/libgtk/theme/Adwaita/assets/check-symbolic.svg."
**Describe the bug**
When build and run a gtkmm application, show error message, the full error message is here:
(002-check-button.exe:9464): Gtk-WARNING **: Could not load a pixbuf from /org/gtk/libgtk/theme/Adwaita/assets/check-symbolic.svg.
This may indicate that pixbuf loaders or the mime database could not be found.

**Environment**
- OS: win10 x64
- Compiler: vs2019 community.

**To Reproduc

[2020-02-06 03:21] JackBoosY commented on #9908
I wonder if clapack supports uwp.

[2020-02-06 03:22] krishna116 commented on #9936
I have two question:
1, I don't know why this file path is used (/org/gtk/libgtk/theme/Adwaita/assets/check-symbolic.svg)
2, does it have no ability to load svg-files, as issue #8015 said?

[2020-02-06 03:53] NancyLi1013 commented on #5690
Hi @SRLut3t1um thanks for posting this issue.
`Libssh `has been updated to 0.9.3.
Please try to update vcpkg and use this port.

[2020-02-06 03:53] #5690 closed

[2020-02-06 03:57] NancyLi1013 commented on #7784
Hi @linquize sorry for waiting for so long time.
The PR has been merged.
Please try to update vcpkg and rebuild this port.

[2020-02-06 03:57] #7784 closed

[2020-02-06 04:05] NancyLi1013 commented on #9417
Hi @allwrighty10
`libssh `has been updated to 0.9.3.
Could you please try to update vcpkg and rebuild this port?

[2020-02-06 06:36] PhoebeHui commented on #9924
@kreuzerkrieg, @Berrysoft, thanks for reporting this issue.

However, I tried twice but still can't repro this issue, could you get latest source and see if this issue still repro? we merged a fix in vcpkg, the vcpkg revision should be '2020.02.04'.

[2020-02-06 07:05] kreuzerkrieg commented on #9924
Happens on latest master (just rebased).
The exact repo - you have to have installed package in `installed` folder.
For example, I'm working on `farmhash`, it works and the package got installed. Then I switch to master. The `farmash` disappears from `ports` folder, but the installation artifact left under `installed` folder. Now try to install any package, I've tried `openssl` and it will exhibit

[2020-02-06 07:09] mikebdp2 opened #9938 "[google/etc2comp] vcpkg math-related build failure"
**Host Environment**
- OS: Linux Mint 19.3
- Compiler: c++ 4.8 or 7 ?

**To Reproduce**
Steps to reproduce the behavior:
use https://github.com/daleglass/athena-builder, which finally executes
`--vcpkg-root /home/owner/Athena/vcpkg/20693e10 install --triplet x64-linux hifi-client-deps`

**Failure logs**
[install-x64-linux-dbg-out.log](https://github.com/microsoft/vcpkg/files/4163651/install-x64-li

[2020-02-06 07:13] FrankHeimes opened #9939 "harfbuzz fails to install hb-glib.h for some configurations"
I built `harfbuzz` successfully on Windows 10, 1903 (see output below).
Since I need static libraries, I changed `VCPKG_LIBRARY_LINKAGE` to `static` in the `x64-windows` and `x86-windows` triplets.

Everything is installed as expected, except for `hb-glib.h`. That file is only installed into the `x86-windows-static` and `x64-windows-static` branches, but not into the `x86-windows` and `x64-windows

[2020-02-06 07:57] itayzafrir opened #9940 "gRPC update to 1.27.0"
Library name:

New version number:
1.27.0

Other information that may be useful (release notes, etc...)
gRPC v1.27.0 has been released, please provide an update. Thank you.

[2020-02-06 08:23] PhoebeHui commented on #9926
@phuongtran7, the issue that you report should be fixed now, currently, it failed with https://github.com/microsoft/vcpkg/issues/9916, could you get latest source and see if this still repro?

[2020-02-06 08:49] armitagemderivitec commented on #9927
Hi @PhoebeHui  @LilyWangL,

I debugged this last night and have updated the issue with more clarity and a temporary fix via a text replace in the tools.cpp.

[2020-02-06 08:53] bbares commented on #9924
I have the same issue using the latest master. Both install and upgrade fail with the same error  "We could not find a CONTROL file for". Since it doesn't tell you what is missing it is very hard to even try the work around suggested by kreuzerkrieg.

[2020-02-06 09:48] JackBoosY commented on #9924
Do you rebuild vcpkg after pull from master?

[2020-02-06 09:50] LilyWangL commented on #9927
Hi @armitagemderivitec, thanks for posting this issue. I can't reproduce this issue on my Linux. Could you please provide your temporary fix steps? Thanks!

[2020-02-06 09:51] Berrysoft commented on #9924
Yes. I tried several debug and release but they all produce the same error.

I couldn't find which package caused the problem, so I removed the code to report this error.

[2020-02-06 09:57] Qv2ray-dev commented on #9940
Please update this ASAP since gRPC 1.26 has a serious bug preventing users start the application.

Possible related bugs:
https://github.com/grpc/grpc/issues/21609
https://github.com/grpc/grpc/issues/21633
https://github.com/grpc/grpc/issues/21280
https://github.com/grpc/grpc/issues/21213
https://github.com/grpc/grpc/issues/21273
https://github.com/grpc/grpc/issues/21507
https://github.com/grpc/gr

[2020-02-06 10:01] JackBoosY commented on #9918
I think that's a source bug.
Because assimp's `config.cmake`, `targets.cmake` and `targets-debug/release.cmake` are generated using `configure_file` instead of using cmake function `export`, dependencies are not added to the import list.

[2020-02-06 10:10] JackBoosY commented on #9924
It seems that #8601 is causing this issue.

[2020-02-06 10:16] armitagemderivitec commented on #9927
Hi @LilyWangL,

The fix is as follows which was included above:

[code]

which just replaces `get_path(paths, GitProvider())` with `{"git", "0"}` which makes it like think the `useSystemBinaries` flag was passed in the bootstrap.

Are you passing the `useSystemBinaries` on bootstrap?

[2020-02-06 10:18] stinos commented on #9921
Not very logical to me actually, as it serisouly reduces usability since it makes it way too hard to share code and have it in version control. But I tested it and yes that's basically how it works (unless I missed something). Could be circumvented by using msbuild variables/manually changing package names and whatnot, but that's really not so ideal.

[2020-02-06 10:55] OlafvdSpek commented on #9916
Me too, on two different Windows systems.

[2020-02-06 12:10] PhoebeHui commented on #9924
The error emited from https://github.com/microsoft/vcpkg/blob/master/toolsrc/src/vcpkg/dependencies.cpp#L268, it seems that ipv.spec().to_string() empty here.

[2020-02-06 12:12] Noemata commented on #9908
Based on the link provided above, it looks like this issue can be resolved.

[2020-02-06 12:26] eix128 opened #9943 "vcpkg install libpng "Computing installation plan..." then nothing happens"
**Describe the bug**
A clear and concise description of what the bug is.

**Environment**
- OS: Windows
- Compiler: msvc

**To Reproduce**
Steps to reproduce the behavior:
D:\repo\vcpkg>vcpkg install libpng
Computing installation plan...

D:\repo\vcpkg>

**Expected behavior**
The program does nothing.
It says "Computing installation plan..."

**Failure logs**
-(please attached failure logs)

**Add

[2020-02-06 12:33] JackBoosY commented on #9908
@Noemata Not so simple, after trying to use arithchk generated by x86-windows, the error is:
[code]

[2020-02-06 12:44] JackBoosY commented on #9924
@kreuzerkrieg @Berrysoft @bbares
Can you provide the name of the port that caused this result?
Thanks.

[2020-02-06 12:59] kreuzerkrieg commented on #9924
any port will do, you have to emulate switching between different branches. for the sake of repro you may do following

call `./vcpkg install anypackage`
wait for the package to install
delete the port from `ports` folder
call `./vcpkg install anyotherpackage`
you will get

We could not find a CONTROL file for

for example

[code]

[2020-02-06 13:18] JackBoosY commented on #9924
@kreuzerkrieg Does this result after switching to an earlier branch or the latest branch?

[2020-02-06 13:30] JackBoosY commented on #9924
@kreuzerkrieg Thanks for your sample, now I can repro it.

[2020-02-06 13:31] phuongtran7 commented on #9926
@PhoebeHui, Thank you so much for the info. I can confirm that this issue is already fix with the latest git pull. And as you mentioned it currently failed at #9916. However, I can just reinstall them later manually. by using `vcpkg install` just like @timautry mentioned.

[2020-02-06 13:32] #9926 closed

[2020-02-06 13:51] JackBoosY commented on #9924
@ras0219-msft
In
https://github.com/microsoft/vcpkg/blob/6f2fba24dc5ceb339464e205eb8e7b2afcc31efa/toolsrc/src/vcpkg/dependencies.cpp#L897
This line will traverse all installed ports according to the contents of the `status` file to obtain port information. However, the installed ports are not necessarily related to the ports that need to be installed.
Therefore, when the ports folder of the instal

[2020-02-06 13:55] PhoebeHui commented on #9924
Added the repro steps, glfw3 just as a exzample, it could be any new/delete ports.
1. https://github.com/microsoft/vcpkg
2. .\bootstrap-vcpkg.bat
3. git checkout -b vcpkgtest
4. ./vcpkg install glfw3
5. del ports\glfw3 folder
6.  git checkout master
7. ./vcpkg install glfw3

PS F:\vcpkg\src> git checkout master
Previous HEAD position was 586bee9bc... [RESTinio] updated to v.0.6.3 (#9858)
Switched

[2020-02-06 14:01] JackBoosY commented on #9921
@ras0219-msft What do you think?

[2020-02-06 14:38] timautry commented on #9921
@stinos - I agree, not so ideal :(
Most software designs are with a corporate mindset, meaning the PCs are setup identical following some kind of standards devised by the corporation or in case of purchased software the software vendor.

Unfortunately that usually does not cater too well to open source projects which are shared among corporations having different standards, freelancers, hobbyists,

[2020-02-06 14:57] Rita-ritally opened #9945 "Error: Building package boost-regex:x64-windows failed with: BUILD_FAILED"
I'm on windows 10 and Visual Studio 2017, I was trying to install the whole boost package with vcpkg install boost:x64-windows and it was fine in the beginning then when building the regex library it failed.
There is no space in my vcpkg root. I try to reinstall VS2017 but no use.I have already changed VS2017 language from chinese to English

 `PS E:\lastdesign\Facial_Details_Synthesis\src\proxyEs

[2020-02-06 15:01] rkitover commented on #9916
Just wanted to point out that as a temporary workaround, you can read the list of new packages from `upgrade` **without** `--no-dry-run`, and then pass the packages to first `remove` and then `install`. This works fine for me.

[2020-02-06 15:36] armitagemderivitec commented on #9927
@LilyWangL if you are familiar with docker you can create the exact image of the server I am using with the following commands:

[code]
then in that shell:

git clone https://github.com/Microsoft/vcpkg.git
cd vcpkg
./bootstrap-vcpkg.sh
./vcpkg integrate install
./vcpkg install boost
See error

Although the sed solution allowed me to continue I'm now hitting an error on any package with a patch:
[c

[2020-02-06 15:38] dbonhaus opened #9947 "[vtk] link error when linking agains vtk:x64-windows-static"
On Windows 10 using CMake 3.16.0 with Visual Studio 17, I get the following link error when building against vtk:x64-windows-static:
LINK : fatal error LNK1104: cannot open file 'pugixml.lib'
 A sample CMakeLists file is attached. The source file contains an empty main method.

[CMakeLists.txt](https://github.com/microsoft/vcpkg/files/4165911/CMakeLists.txt)

[2020-02-06 15:50] Gerhard-Herbert opened #9948 "bootstrap-vcpkg should not rebuild vcpkg if nothing has changed"
****

**bootstrap-vcpkg always rebuilds vcpg executable**
Port updates and source-code  of vcpkg are in the same repository. Our build-system is updating the repository regularly and sometimes vcpkg is not working anymore. It seems like vcpkg source-code has changed and a rebuild is needed. Therefore we added the bootstrap-vcpkg script to the build. This solved the out-of-date problem but now vcpk

[2020-02-06 16:29] Noemata commented on #9908
Perhaps I'm misunderstanding this, but you wouldn't be able to use x86 artifacts in an x64 build?  Looking at the log above, it looks like you also had file locks or permission issues preventing access to file content needed for the build.

Just one example:
ould not use a link to copy "C:\Program Files (x86)\Microsoft SDKs\Windows Kits\10\ExtensionSDKs\Microsoft.VCLibs\14.0\.\AppX\Debug\ARM64\Mic

[2020-02-06 17:10] fawdlstty opened #9949 "[ffmpeg] Build failure"
**Host Environment**
- OS: win10
- Compiler: vs2019community 16.4.4

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg install ffmpeg[ffmpeg,ffplay,nonfree,avresample]:x86-windows-static`

**Failure logs**
[code]

**Additional context**
build-x86-windows-static-rel-out.log:
[code]

[2020-02-06 17:46] nick42 opened #9950 "poco build failure"
**Host Environment**
- OS: Windows 2008r2
- Compiler: VS2019 (16.4.4)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install poco`

**Failure logs**
-- Configuring x86-windows
-- Building x86-windows-dbg
CMake Error at scripts/cmake/vcpkg_execute_build_process.cmake:136 (message):
    Command failed: C:/Users/Nick/Source/Repos/vcpkg/downloads/tools/cmake-3.14.
0-windows/cmake-3.14.0-w

[2020-02-06 18:06] nick42 commented on #9950
Update:

After digging into the .vcxproj file and doing some manual examination of the build config, the issue appears to be that the build system is picking up an old installation of OpenSSL on the system (under Program Files (x86)), rather than referencing the one under the vcpkg build tree. This is happening because of inclusion paths in the library link path for the project.

This is a pretty

[2020-02-06 18:06] #9950 closed

[2020-02-06 18:29] #9890 closed

[2020-02-06 18:34] malkia commented on #3345
Why was this and this https://github.com/microsoft/vcpkg/issues/6551 closed?
I'm having the same issue:

Please talk to Symantec in order to resolve this.

![image](https://user-images.githubusercontent.com/51738/73967183-47010980-48cc-11ea-877a-7dad6a87bbfe.png)

[2020-02-06 18:35] malkia commented on #3345
The hash: is 9036AC26B53D36CBFE21B68ECCB0E9C94F42ACC0327858D32A5F99E898820B21
The name: SONAR.Heur.RGC!g403
File size: 275456

(e.g. just to make copy+paste easier)

[2020-02-06 18:39] jyapayne commented on #9321
Same problem. On 10.14.6

[2020-02-06 19:11] kreuzerkrieg opened #9951 "vcpkg_from_git does not work"
Ubuntu 18.04

1) The below code does not work
[code]

I can `git clone` it, but for some reason `vcpkg` gives me

2) the above failure states that there is a log at .../vcpkg/buildtrees/gsasl/git-init-x64-linux-out.log
however no log created

[2020-02-06 20:41] ftpronk commented on #9890
Probably not the safest of ideas to redefine CMake commands, no matter where..

The `OpenEXR` guys seemed to be interested in solving that upstream.  Perhaps that can be discussed with them?

[2020-02-06 20:42] oschakravarthi commented on #8344
Hi, It is still failing. Have you release 2.1?

[2020-02-06 21:21] Neumann-A opened #9952 "[freetype] (Linux) Wrong INTERFACE_LINK_LIBRARIES in config"
[code]
entry: /mnt/d/xlinux/installed/x64-linux/debug/lib/libz.a missing generator expression for debug/release. Links only debug

[2020-02-06 22:10] ras0219-msft commented on #9924
Thanks for working out a repro; I'll look at getting this fixed as soon as possible.

[2020-02-06 23:20] linuxaged opened #9954 "ITK build failed"
failed to build ITK  due to hdf5 related link errors:
[code]

**Environment**
- OS: Windows 10 Pro latest
- Compiler: VS2019 latest
- vcpkg version: 2020.01.17-nohash

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install itk

[2020-02-06 23:39] ras0219-msft commented on #9924
Ok, so the immediate "workaround" is that you can always `vcpkg remove` packages, even ones that aren't backed by ports on disk.

In the longer term, we should be able to enable limited `install` functionality as long as we avoid the unbacked package (because we can't reinstall it!). However, it's a nontrivial code change to enable that capability, and I hope this workaround should be sufficient t

[2020-02-06 23:40] #9924 closed

[2020-02-07 00:04] yamcenutzer opened #9955 "bootstrap failed to build on Centos (devtoolset-7, 8)"
**Describe the bug**
after commit :
e62d13612 ("[vcpkg] Add Supports: field. Use contents of triplets instead of names for dependency resolution. (#8601)", 2020-02-03)

**Environment**
- OS: Centos 7
- Compiler: Gcc 7, gcc 8 (devtoolset-7, devtoolset-8)

**To Reproduce**
Steps to reproduce the behavior:
1. ./bootstrap-vcpkg.sh
2. See error below, example is for devtoolset-8 (gcc8.3.1), same happen

[2020-02-07 00:55] soapdog commented on #9817
Failing here as well on a Surface Pro X with VS2019 and the C++ workload installed.

[2020-02-07 01:10] soapdog commented on #9712
Still failing, apparently it is a ninja bug. I don't think ninja runs under x86.

[2020-02-07 01:48] fawdlstty commented on #9949
`vcpkg install x264:x86-windows-static` failed、
`vcpkg install nlohmann-json:x86-windows-static` failed、
……
What's happening?

[2020-02-07 01:56] BenKey opened #9956 "The "vcpkg env" command fails with a CMake Error"
The "vcpkg env" command fails with the following error.

[code]

I see that scripts/get_triplet_environment.cmake was recently added in a pull request but there is no such file in master.

**Environment**
- OS: Windows 10 Pro 1909 build 18363.628 64-bit
- Compiler: Visual Studio 2019 Community

**To Reproduce**
1. Sync your fork to upstream.
2. ./vcpkg env
3. See error

**Expected behavior**
This

[2020-02-07 02:06] BenKey commented on #9956
Curious. I rebuilt vcpkg by running bootstrap-vcpkg.bat again and now the vcpkg env command works as expected.

And I just figured out what is going on. The file scripts/get_triplet_environment.cmake was recently removed, not added. My old vcpkg.exe still referenced it.

[2020-02-07 02:06] #9956 closed

[2020-02-07 02:19] NancyLi1013 commented on #9817
@danieljo12 thanks for posting this issue.
Could you please update vcpkg to the latest version and rebuild this?

@soapdog could you please provide your failure log about this?

[2020-02-07 04:13] bbares commented on #9924
Well that was a disaster. After getting the latest code and building it. I ran vcpkg upgrade. It told me the offending package and how to remove it. I ran the command suggested. It removed the package. I run vcpkg upgrade again and it says it will upgrade a bunch of packages. I run it again with --no-dry-run and it proceeds to purge 217 of 218 packages.

[2020-02-07 04:26] PhoebeHui commented on #9954
Duplicated to https://github.com/microsoft/vcpkg/issues/9891.

[2020-02-07 04:26] #9954 closed

[2020-02-07 05:46] JackBoosY commented on #9908
@Noemata The tool `arithchk` is only used to generate code.
In _SOURCE/F2CLIBS/libf2c/CMakeLists.txt_:
[code]
I was looking where I copied the files.

[2020-02-07 06:01] NancyLi1013 commented on #6310
@jbmartens
Could you please help confirm if the issue you encountered is the same as that before?
In my opinion, the old issue is caused by installing python2 and python3 in the same time.
And now this issue has been fixed.
As for the issue you encountered, it seems that it is related with Visual Studio ToolSet version.
Please double check about this.
If it is still a problem for you, please open

[2020-02-07 06:08] NancyLi1013 commented on #9951
Hi @kreuzerkrieg thanks for posting this issue.
Could you please help confirm which port you used?

[2020-02-07 06:10] NancyLi1013 commented on #9893
Hi @anion155 thanks for posting this issue and also for your PR.
Since the PR has been merged. I close this issue now.

[2020-02-07 06:10] #9893 closed

[2020-02-07 06:52] JackBoosY commented on #9939
Hi @FrankHeimes, thanks for reporting this issue.
I think you should modify `x86-windows-static.cmake` and `x64-windows-static.cmake` and set `VCPKG_CRT_LINKAGE` to `dynamic` instead of `x64-windows.cmake` and `x86-windows.cmake`.

In _SOURCE/CMakeLists.txt_
line 286:
[code]

line 753:
[code]

So if `HB_HAVE_GLIB` is `TRUE`, `SKIP_INSTALL_HEADERS` and `SKIP_INSTALL_ALL` are both `FALSE`, this head

[2020-02-07 06:54] PhoebeHui commented on #9943
@eix128, could you get vcpkg latest source and see if this issue still repro, we merged a fix, might addressed this issue.

[2020-02-07 06:57] JackBoosY commented on #9947
Confirmed.

[2020-02-07 08:00] NancyLi1013 commented on #9951
I try
[code]
and
[code]
Both of them can work.
So `vcpkg_from_git()` should work normally.
Please check your code again.

[2020-02-07 08:09] JackBoosY commented on #9947
After changing `LINK_PRIVATE` to `LINK_PUBLIC` in _SOURCE/IO/CityGML/CMakeLists.txt_ line 7, it works.

[2020-02-07 08:11] FrankHeimes commented on #9939
Hi @JackBoosY, thank you for your explanation.

No, that won't work for us. We are OK to ship the matching CRT redistributables with our products but don't want to manage the installation of dozens of DLLs generated from numerous vcpkg packages. Therefore, we build every third-party-library as static libraries, most of which with dynamic CRT linkage. For very few products, we need to avoid dynamic

[2020-02-07 08:37] PhoebeHui commented on #9945
@Rita-ritally, could you get a clean source and try to build again? I can't repro this issue locally.

Starting package 28/28: boost-regex:x86-windows
Building package boost-regex[core]:x86-windows...
-- Downloading https://github.com/boostorg/regex/archive/boost-1.72.0.tar.gz...
-- Extracting source F:/VCPKG/src/downloads/boostorg-regex-boost-1.72.0.tar.gz
-- Using source at F:/VCPKG/src/buildtre

[2020-02-07 08:40] JackBoosY commented on #9939
@FrankHeimes Nope, `glib` is a feature of harfbuzz, so this header file is not installed in all cases.
So, I guess you need to install harfbuzz using `./vcpkg install harfbuzz[glib]`.

[2020-02-07 08:46] Rita-ritally commented on #9945
Do you mean I delete the source of  vcpkg/downloads/boostorg-regex and build again?

[2020-02-07 08:48] Rita-ritally commented on #9945
https://github.com/microsoft/vcpkg/issues/9945#issuecomment-583288695 @PhoebeHui

[2020-02-07 08:49] Rita-ritally commented on #9945
@PhoebeHui  Do you mean I delete the source of vcpkg/downloads/boostorg-regex and build again?

[2020-02-07 08:50] PhoebeHui commented on #9938
@mikebdp2, it looks we don't have etc2comp port yet, would you like to summit a PR firstly?

[2020-02-07 10:02] Lecanyu opened #9959 "[G2O] update to <Nov 23, 2019>"
Library name: g2o: A General Framework for Graph Optimization

New version number: The newest github repository (Nov 23, 2019)

Please update this library since current vcpkg will install a version in 20170730_git-5 which is deprecated and it doesn't support some important features like auto_ptr in non-linear optimization.

[2020-02-07 10:26] FrankHeimes commented on #9939
I see. vcpkg did not install that feature because it says `harfbuzz[glib] (!(windows&static))` in the `CONTROL` file of `pango` and I was attempting to build static libraries. So I think I have to specify the `harfbuzz[glib]` packet explicitly.

Thanks, @JackBoosY

_off-topic_
I have the impression that more and more vcpkg contributors start to phase out support for static libraries and going so f

[2020-02-07 10:26] #9939 closed

[2020-02-07 10:27] kreuzerkrieg commented on #9951
Odd, today it just worked
Thanks for your assistance

[2020-02-07 10:27] #9951 closed

[2020-02-07 10:40] linquize commented on #7784
Tried libssh 0.9.3 on Windows and Linux

DllMain: ssh_init failed

[2020-02-07 11:24] #9326 closed

[2020-02-07 11:24] needfulthing commented on #3345
This wouldn't be a topic if the "-disableMetrics" parameter would do what it should. Closing this ticket is just other words for "We don't care about your problem and/or your privacy" from Microsoft. Best solution is not to use this piece of crappy spyware at all >:(

[2020-02-07 11:28] sayurin commented on #9119
merged, so close this.

[2020-02-07 11:28] #9119 closed

[2020-02-07 11:38] needfulthing opened #9962 "disableMetrics flag does not work"
**Describe the bug**
See subject

**Environment**
- OS: Windows 10
- Cloned from repo 01/25/20

**To Reproduce**
Steps to reproduce the behavior:
0. AV program installed...
1. Install with "bootstrap-vcpkg.bat -disableMetrics"
2. Install any package.
3. Watch AV heuristics alarming over vcpkg.exe...

**Expected behavior**
No hidden connections with Microsoft. No data transfer.

**Additional contex

[2020-02-07 11:42] TheGrandNagus opened #9964 "Poco update 1.10.0"
Poco 1.10.0 has been released. It would be awsome if you could update to this version.

Some notes:

Version 1.10.0 is not on the master branch but has its own branch (poco-1.10.0-release).

Updating the CONTROL and portfile.cmake will not suffice. The patches also do need adjustment.

[2020-02-07 13:26] Neumann-A commented on #9962
alternative options:
run `vcpkg` with option `--no-sendmetrics`
maybe delete `vcpkgmetricsuploader.exe` from `scripts/`

[2020-02-07 13:59] thakur-d-ani opened #9967 "Error: Building package ffmpeg:x64-windows failed with: BUILD_FAILED"
**Describe the bug**

installing opencv

**Environment**
- OS: [e.g. Windows :- 10

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install pthreads opencv[ffmpeg]

**Expected behavior**
Installing package ffmpeg:x64-windows..  done

**Failure logs**
-Steps to reproduce the behavior:
1. ./vcpkg install pthreads opencv[ffmpeg]
PS G:\program\vcpkg-master\vcpkg-master> .\vcpkg install pt

[2020-02-07 15:32] mhangaard opened #9969 "[shogun:x64-linux] cmake and build failure"
**Host Environment**
- OS: Linux
- `$ cmake --version`
[code]

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install shogun`
Go to `project` folder.
CMakeLists:
[code]
and then
[code]

**Failure logs**
[code]

**Additional context**
In `vcpkg/installed/x64-linux/share/shogun/ShogunConfig.cmake`, line 31 says:
[code]
and there is no such file, but actually `${PACKAGE_PREFIX_DIR}/share/

[2020-02-07 15:45] MikeGitb commented on #3345
Do you have any reason to believe that it doesn't? I only had a quick look at the bootstrap script and IIRC it at least passes the flag to the build.

[2020-02-07 15:47] MikeGitb commented on #9962
Are you sure it doesn't work (as opposed to some problem with the AV heuristics?)

[2020-02-07 17:05] malkia commented on #3345
Fair point, trying it out now (just saw the option).

[2020-02-07 18:12] BullyWiiPlaza commented on #1254
The default is still 32-bit. Any plans on re-opening this issue or making another issue to request the change in defaults? We almost always need 64-bit these days so it should be the default.

[2020-02-07 18:32] Noemata opened #9971 "grpc:x64-uwp build failure"
**Host Environment**
- OS: Windows 1909 (OS Build 18363.628)
- Compiler: VS2019 Version 16.3.9

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg install grpc:x64-uwp --recurse`

**Failure logs**
Building package openssl-windows[core]:x64-uwp...
CMake Error at scripts/cmake/vcpkg_fail_port_install.cmake:89 (message):
  openssl-windows is only for Windows Desktop

  Target 'UWP' not suppor

[2020-02-07 18:51] needfulthing commented on #3345
Well yes, I did use the parameter with the batch as described in the doc. AV was still triggered. See my first post above. Despite all this I think it is very bad practice not to ask the user in a simple dialog before activating the metrics. Without the notice from AV I would have never recognized the tiny comment regarding the metrics at the end of the installation.

[2020-02-07 19:27] MikeGitb commented on #3345
But that's different from saying the switch doesn't work. It might be just as well that your AV triggers regardless of whether vcpkg is uploading anything.

[2020-02-07 21:56] Noemata opened #9973 "ffmpeg[gpl]:ARM-uwp build failure"
**Host Environment**
- OS: Windows 1909 (OS Build 18363.628)
- Compiler: VS2019 Version 16.3.9

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg install ffmpeg[gpl]:ARM-uwp --recurse`

**Failure logs**
CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:72 (message):
    Command failed: D:/vcpkg/downloads/tools/msys2/msys64/usr/bin/bash.exe --noprofile --norc D:/vcpkg/ports

[2020-02-08 01:41] #9894 closed

[2020-02-08 02:01] Foadsf commented on #3930
@degski Let's put the question this way, can vcpkg update itself? if yes, you probably don't need chocolatey that much. Otherwise, it would really be helpfull. Plus installing via choco or homebrew is easier than cloning the git repo and compiling IMHO.

[2020-02-08 03:43] BryanTriana commented on #9660
I am also getting the same error when using ImGui for SFML using vcpkg.

![Screenshot (11)](https://user-images.githubusercontent.com/26044298/74078659-1d92cb80-49fb-11ea-9be0-672083ecbf04.png)
![Screenshot (10)](https://user-images.githubusercontent.com/26044298/74078660-1ec3f880-49fb-11ea-9f8b-2f04c4e4a6e1.png)

Any idea if it gets fixed if both of them are installed manually?

[2020-02-08 04:06] JackBoosY commented on #9947
Hi @dbonhaus, thanks for reporting this issue!
I've fixed it in #9958, please update vcpkg and rebuild vtk.

Thanks.

[2020-02-08 05:02] NancyLi1013 commented on #7784
@linquize thanks for your feedback.
If there is something wrong different from that before, please open a new issue.

Thanks.

[2020-02-08 05:07] NancyLi1013 commented on #9872
Hi @ahura24 thanks for posting this issue.
This issue has been fixed now. Please try to update vcpkg and rebuild this port.

[2020-02-08 05:07] #9872 closed

[2020-02-08 05:11] NancyLi1013 commented on #9834
Hi @zhuman thanks for posting this issue.
`Fluidsynth` has been updated to 2.1.0.
Please try to update vcpkg and rebuild this port.

[2020-02-08 05:11] #9834 closed

[2020-02-08 05:13] JackBoosY commented on #9939
@FrankHeimes Yes, we will ensure that every dependent library is built and installed. And support for static builds is what we strive for.

[2020-02-08 05:52] jesta88 opened #9976 "[mimalloc] update to v1.4.0"
Library name: mimalloc

New version number: v1.4.0

The `fix-cmake.patch` makes it real hard (to me) to update this repo, which is now multiple versions ahead of the June 2019 version currently available in vcpkg (pre 1.0.0).

[2020-02-08 09:05] dljjqy opened #9977 "Error: Building package boost-math:x86-windows failed with: BUILD_FAILED"
Package: boost-math:x86-windows
Vcpkg version: 2020.02.04-nohash

[2020-02-08 11:54] zhuman commented on #9834
Thanks a lot Nancy!! :-)

[2020-02-08 15:42] Noemata commented on #4824
This no longer works. :-(

[2020-02-08 15:45] Noemata opened #9980 "Grpc previously was building for UWP, is there a check for regressions?"
Based on the remarks here:

https://github.com/Microsoft/vcpkg/issues/4824

It appears Grpc was building for UWP.  Is there a check for regressions on platform support?  Or is UWP support somehow special?

[2020-02-08 15:57] traversaro commented on #9928
Some CMake-only ports already exists in vcpkg, as for example  `ECM` (https://github.com/KDE/extra-cmake-modules), see https://github.com/microsoft/vcpkg/tree/master/ports/ecm and https://github.com/microsoft/vcpkg/pull/877 . As `ecm` was one of the source of inspiration for the creation of `YCM` , I think it can make sense to have a port for it.

[2020-02-08 16:01] traversaro commented on #9928
More related to the YCM port, I would suggest to create  it using the offline tarball, otherwise you could make the vcpkg port of ycm vulnerable to any outage in 3rd party repositories, see https://github.com/robotology/ycm/issues/105 .

[2020-02-08 16:25] Alex5956 commented on #6289
https://github.com/ras0219-msft/vcpkg/tree/dev/roschuma/boost ==> page not found now

we wait

[2020-02-08 16:56] KungFuJesus3 opened #9981 "[Boost] Can't link boost::gregorian::greg_month"
**Host Environment**
- OS: Windows 10
- Compiler: MSVC++ 14.23

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install Boost`
`cd $MyProjectDir`
`mkdir build`
`cd build`
`cmake -G "Visual Studio 16 2019" -A x64 ..`
`cmake --build .`

**Failure logs**
[code]

** problematic C++ code **
[code]

**My CMakeLists.txt**
[code]

[2020-02-08 18:18] KungFuJesus3 commented on #9981
Ok, I solved it. New to cmake... The issue was that I didn't specify required `COMPONENTS date_time`.
I tried to do it before but then I did `COMPONENTS asio date_time` not knowing that asio is header only (thus, giving error that asio is not found and also some warnings about finding date_time and all Boost 1.72 modules in general). I wish that there would be an info about it in `port/boost-asio`

[2020-02-08 18:18] #9981 closed

[2020-02-08 18:37] Alex5956 commented on #5572
donwload vs 2015 => https://stackoverflow.com/questions/44290672/how-to-download-visual-studio-community-edition-2015-not-2017

[2020-02-08 20:50] dharminec opened #9982 "vcpkg installation issue"
I am trying to install vcpkg using the instruction on https://github.com/NordicPlayground/vcpkg
I have Visual studio 2019 community versing installed on my system. Still, i am getting the following error.

PS C:\Users\dpr0910\Downloads\vcpkg> .\bootstrap-vcpkg.bat
The property 'instance' cannot be found on this object. Verify that the property exists.
At C:\Users\dpr0910\Downloads\vcpkg\scripts\bo

[2020-02-08 23:02] cenit commented on #9764
Issue still open 20 days after, and it is valid also on Mac.
For any user of vcpkg not on Windows, installing boost is very troublesome...

[2020-02-08 23:17] YoraiLevi opened #9983 "posh-vcpkg hides powershell in explorer"
**Describe the bug**
The posh-vcpkg script create a folder named powershell that hides the powershell.exe console from explorer.exe's path

**Environment**
- OS: Window s10 pro

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg integrate powershell
`

`in explorer.exe (file manager) type powershell`
you're directed to "C:\Users\{YourUserHere}\Documents\PowerShell" rather than a powershell

[2020-02-09 00:15] timautry commented on #9982
Run the Visual Studio Installer:
Under the Workloads tab make sure the "Desktop development with C++" is checked.
Under the Language packs tab make sure "English" is checked.
If you needed to check either one or both, then click the Modify button and wait for the installer to complete.
Also, https://github.com/NordicPlayground/vcpkg appears to be a fork of about 8 months old - you may wish to clon

[2020-02-09 00:41] timautry commented on #9962
.\bootstrap-vcpkg.bat -verbose -disableMetrics -win64 -withVSPath "'%VCPKG_VISUAL_STUDIO_PATH%'"
I can confirm all 4 of these options, including "-disableMetrics" works as advertised.
Check your profile's TEMP/TMP directory will have a folder called vcpkg, containing the metrics executable and tons of files from each of your port installations when its working, when not, the vcpkg folder will not

[2020-02-09 01:18] danilogr commented on #1254
New vcpkg, I just spent an hour waiting for `boost` and `opencv` to build... Imagine how "happy" I was to find out that everything was x86 ....

[2020-02-09 03:40] ldicker83 opened #9984 "The release build of SDL2-ttf depends on the debug build of SDL2"
The title basically says it all. The Release builds (both x86 and x64) rely on the debug build of SDL2 (SDL2d.dll not found).

EDIT:
Forgot to mention that I came across #6152 which appears to correct the issue in SDL2-image (I don't see it in that package) but it still appears in SDL2-ttf.

[2020-02-09 03:40] ldicker83 opened #9985 "The release build of SDL2-mixer depends on the debug build of SDL2"
The title basically says it all. The Release builds (both x86 and x64) rely on the debug build of SDL2 (SDL2d.dll not found).

EDIT:
Forgot to mention that I came across #6152 which appears to correct the issue in SDL2-image (I don't see it in that package) but it still appears in SDL2-mixer.

[2020-02-09 09:55] pudding186 opened #9988 "libmysql build failure on centos7"
**Host Environment**
- OS: [CentOS Linux release 7.2.1511 (Core)]
- Compiler: gcc 9.1.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install libmysql:x64-linux`

**Failure logs**
Working Directory: /root/work/vcpkg/buildtrees/libmysql/x64-linux-dbg
    See logs for more information:
      /root/work/vcpkg/buildtrees/libmysql/install-x64-linux-dbg-out.log

Call Stack (most recent cal

[2020-02-09 11:00] odin-loki opened #9989 "fltk:x64-linux build failure"
**Host Environment**
- OS: Windows 10 Pro 1903, Ubuntu WSL 1804.2019.521.0
- Compiler: GNU 8.3.0

Latest Portfiles.

**To Reproduce**
Steps to reproduce the behavior:

./vcpkg install fltk:x64-linux

**Failure logs**

Computing installation plan...
The following packages will be built and installed:
    fltk[core]:x64-linux
Starting package 1/1: fltk:x64-linux
Building package fltk[core]:x64-linux

[2020-02-09 11:25] odin-loki opened #9990 "wxwidgets[core]:x64-linux build failure"
**Host Environment**
- OS: Windows 10 Pro 1903, Ubuntu WSL 1804.2019.521.0
- Compiler: GNU 8.3

**To Reproduce**
Steps to reproduce the behavior:
./vcpkg install wxwidgets:x64-linux

**Failure logs**

Computing installation plan...
The following packages will be built and installed:
    wxwidgets[core]:x64-linux
Starting package 1/1: wxwidgets:x64-linux
Building package wxwidgets[core]:x64-linux..

[2020-02-09 11:40] odin-loki opened #9991 "libepoxy:x64-linux build failure"
**Host Environment**
- OS: Windows 10 Pro 1903, Ubuntu WSL
- Compiler: GNU 8.3

**To Reproduce**
Steps to reproduce the behavior:
./vcpkg  gtk:x64-linux

**Failure logs**

Starting package 16/17: libepoxy:x64-linux
Building package libepoxy[core]:x64-linux...
-- Note: libepoxy only supports dynamic library linkage. Building dynamic library.
-- Using cached /mnt/c/vcpkg/downloads/anholt-libepoxy-1.

[2020-02-09 15:11] davidhunter22 opened #9993 "[range-v3] update to 0.10.0"
Library name: range-v3

New version number: 0.10.0

Other information that may be useful (release notes, etc...)
https://github.com/ericniebler/range-v3/releases/tag/0.10.0

[2020-02-09 15:14] thienphuoc commented on #5687
Hi @Alximik90  I have same the problem !

Here is my fix :

[2020-02-09 15:24] xarthurx opened #9994 "dynamic or static? CRT and Library linking"
I've been reading threads, issues, and posts for a while about the c-runtime and the library linking, but I'm still confused about how to set up these two parameters when using mixed triplet, as `vcpkg` provides separate settings for the two variables.
[code]

(I'm using Visual Studio under Windows OS)
What I've understood so far (simplified):
1. CRT Linkage is related to the `Md/Mt` settings, and

[2020-02-09 17:10] esduran commented on #9660
@BryanTriana I ended up statically building SFML from source and then building ImGUI-SFML from source as well. That has been working with zero issues thus far.

[2020-02-09 17:42] nanoric opened #9995 "[RelWithDbgInfo] Dependencies DLL are not copied to target directory (gtest @ release)"
**Describe the bug**
1. Dll not coppied.
2. Dll link error.

**Environment**
- OS: tested Windows 10 1909 and Windows Server 2019 1809
- Compiler: tested Visual Studio 2019 16.4.4 and Visual Studio 2019 16.4.2
- vcpkg version: f7fb56decd9d03cf79a1d23f44daa3a23560b995

**To Reproduce**
Steps to reproduce the behavior:
[code]
Create new folder, create CMakeLists.txt, type with following(most of them

[2020-02-09 19:41] ras0219-msft commented on #9995
Thanks for reporting this issue!

The issue is definitely that main.exe is linking the debug versions of the library. Are you using Ninja or MSBuild as the underlying generator?

[2020-02-09 23:16] timautry commented on #9995
@nanoric @ras0219-msft

I think the issue might be the same one discovered a while back with freeglut where both the release and debug versions linked to the debug libraries.

- It seems MSVC does not recognize the NDEBUG macro unless steps have been taken to define it locally.
- Native MSVC uses the _DEBUG macro to differentiate between DEBUG and RELEASE builds.
- A work around fix was created by

[2020-02-10 01:48] NancyLi1013 commented on #1661
Hi @ivannp and @slayoo thanks for posting this request.
`Blitz `has been added to vcpkg. Please update vcpkg and try to use it.

[2020-02-10 01:48] #1661 closed

[2020-02-10 02:10] fawdlstty commented on #9949
run `vcpkg install x264:x86-windows-static` log:
[code]

run failed command:
[code]

[2020-02-10 02:11] fawdlstty commented on #9949
It looks like my environment configuration problem, but I'm not sure exactly where it is. Do I have the latest version of vs2017community and vs2019community installed

[2020-02-10 02:19] nanoric commented on #9995
It seems i'm using Ninja(Is'nt it the default one?):
[code]

[2020-02-10 02:43] JackBoosY commented on #9980
I confirmed, checking if it is a problem with vcpkg or `CONTROL`...

[2020-02-10 02:47] NancyLi1013 commented on #9949
Hi @fawdlstty thanks for posting this issue.
Could you please try to remove `msys2 `from `D:/GitHub/vcpkg/downloads/tools/msys2` and try to build it again?
Also we suggest use English package in Visual Studio.

[2020-02-10 02:55] nanoric commented on #9995
When I switch configuration from "RelWithDbgInfo"(default) to "Release", it works.

[2020-02-10 03:09] KerouichaReda opened #9998 "[nlohmann-json] build failure"
**Host Environment**
- OS: Windows
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
vcpkg.exe install nlohmann-json:x64-windows

**Failure logs**
  Package: nlohmann-json:x64-windows
  Vcpkg version: 2020.02.04-nohash

[2020-02-10 03:12] #9998 closed

[2020-02-10 06:41] fawdlstty commented on #9949
Let me describe the situation: both of my visual studio versions contain English language packages, and I also installed ffmpeg with VCPKG a few months ago.I updated VCPKG and recompiled it these days, both of these projects failed.Recent changes to the computer include: updating visual studio, updating VCPKG

[2020-02-10 07:02] ZeroAbility commented on #6106
A port PR may be forthcoming depending on the results of this PR with ZeroC:

https://github.com/zeroc-ice/ice/pull/706

[2020-02-10 07:04] rkitover opened #10000 "add `vcpkg remove --force-depends <package>`"
It should be possible to remove a package without anything that depends on it if you intend to immediately reinstall it or rebuild it in any other way.

`vcpkg remove --force-depends <some-package>` would remove just the package and not any of its dependencies.

[2020-02-10 07:12] slayoo commented on #1661
Thank you!
I've added a reference to the wiki:
https://github.com/blitzpp/blitz/wiki/Package-availability

[2020-02-10 07:17] slayoo commented on #1661
@citibeth, @pguio, @papadop, @toddrme2178, @David-A-Blankenship, @AnderOne
Good news!

[2020-02-10 08:06] fawdlstty commented on #9949
[code]

[2020-02-10 08:08] fawdlstty commented on #9949
x264:x86-windows-static has install success

[2020-02-10 09:06] niklaskorz commented on #6205
This should be easier to accomplish once #8963 is merged, right? It adds the relevant cmake scripts required to integrate other GN projects into vcpkg.

[2020-02-10 09:33] NancyLi1013 commented on #9949
Thanks for your update.
As for the issue on `ffmpeg`, I will fix it later.
If you need to use it now, please add this code to` portfile.cmake` and build it agiain.
[code]

[2020-02-10 09:53] Neumann-A commented on #9980
This build error?:
https://github.com/microsoft/vcpkg/pull/8566#issuecomment-556976713

[2020-02-10 11:04] linquize commented on #10000
What is the difference between `vcpkg remove --recurse <package>` and your idea ?

[2020-02-10 11:07] rkitover commented on #10000
`--recurse` will also remove packages that depend on the listed package, while `--force-depends` would remove only the listed package and break any packages that depend on it, until it is reinstalled or provided in some other way.

[2020-02-10 11:17] linquize commented on #10000
Do you want to save time: Avoid recompile all other packages?

[2020-02-10 11:27] rkitover commented on #10000
Sure, for example, wxwidgets depends on libtiff, if I'm just reinstalling libtiff I don't want to recompile wxwidgets, which is very big.

There are various reasons why someone may want to do this. They may just be upgrading a package, or recompiling it with different options flags, etc..

[2020-02-10 12:21] JackBoosY opened #10006 "[libusbmuxd] UWP build failure"
**Host Environment**
- OS: Windows
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install libusbmuxd:x64-uwp`

**Failure logs**
strdup is deprecated, needs to add macro `_CRT_SECURE_NO_WARNINGS`.

After #9986 merge, I will fix the libusbmuxd uwp build.

[2020-02-10 13:31] philjdf commented on #9838
Consuming Arrow seems to be more manual than we'd like. ParquetSharp's `Find*.cmake` files might be of use to you https://github.com/G-Research/ParquetSharp/tree/master/cmake but it would be nice not to need these.

How do we go about fixing this stuff? Ideally we don't want to have to maintain a lot of patching in the Arrow port to rename the dependencies Arrow looks for.

By the way, Arrow has r

[2020-02-10 15:50] GPSnoopy commented on #9838
@philjdf is correct. Whoever manages to patch ParquetSharp such that it builds from vcpkg cmake toolchain without needing custom `Find*.cmake` file will have done a great service in proving that vcpkg is a bit closer to being self-consistent and well behaved. Smaller projects are easy, but arrow dependencies are numerous, making the whole exercise less academic.

Every time we tried, it ended up i

[2020-02-10 16:11] rouault opened #10011 "vcpkg no longer builds on MSVC 2015"
**Describe the bug**
vcpkg no longer builds on MSVC 2015, presumably due to a33044c18637d3df6de93128d33dae1fb5ba575c

**Environment**
- OS: Windows
- Compiler: MSVC 2015 from AppVeyor

**To Reproduce**
- git clone https://github.com/microsoft/vcpkg
- cd vcpkg
- bootstrap-vcpkg.bat

**Failure logs**
See https://ci.appveyor.com/project/OSGeo/gdal/builds/30695343/job/souj2w5dyjpldy1d
[code]

[2020-02-10 17:15] linquize opened #10012 "libssh 0.9.3 not work due to missing threading in mbedtls"
**Describe the bug**
with libssh 0.9.3 in vcpkg
`./vcpkg install libssh`

Then write a program to call libssh. When it runs, libssh shows error to stderr.

Windows: `DllMain: ssh_init failed!`
Linux: `Error in auto_init()`

**Environment**
- OS: Windows and Linux
- Compiler: Windows: MSVC2019, Linux: gcc 9

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install libssh
2. Then write a

[2020-02-10 20:34] traversaro opened #10013 "[fcl] update to 0.6.0"
Library name:
* fcl ( flexible-collision-library)

New version number:
* 0.6.0

Other information that may be useful (release notes, etc...):
* https://github.com/flexible-collision-library/fcl/issues/331
* https://github.com/flexible-collision-library/fcl/releases/tag/v0.6.0

As this release has several breaking changes, probably it is important to check if ports that depend on fcl (as `ompl`) wo

[2020-02-10 21:30] traversaro opened #10015 "[New Port Request] Dynamic Animation and Robotics Toolkit (DART)"
Library name: Dynamic Animation and Robotics Toolkit (DART)

Library description: DART (Dynamic Animation and Robotics Toolkit) is a collaborative, cross-platform, open source library that provides data structures and algorithms for kinematic and dynamic applications in robotics and computer animation.

Source repository URL: https://github.com/dartsim/dart

Project homepage (if different from the

[2020-02-10 22:15] degski commented on #9920
@FrankHeimes Wouldn't it be simpler to install a VS19 (x86/x64) redistributable c-runtime explicitely from https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads ?

[2020-02-11 00:31] jafrado commented on #8486
Any progress on this issue?

[2020-02-11 01:21] JackBoosY commented on #9995
vcpkg does not handle the issue of RelWithDbgInfo temporarily.

[2020-02-11 02:12] PhoebeHui commented on #9928
@mbeutel, we're happy to accpets the PR, could you please summit a PR this?

[2020-02-11 02:51] liquidmonkeyCH commented on #9336
Sorry,I’m in home now.
Can I give it to you after work?
发送自 Windows 10 版邮件应用

发件人: Jack·Boos·Yu
发送时间: 2020年2月1日 13:20
主题: Re: [microsoft/vcpkg] [hiredis] build failure (#9336)

@RameshKandukuriB Could you provide failure log D:\a\1\s\vcpkg\buildtrees\hiredis\install-x64-windows-static-dbg-out.log?
Thanks.
—
You are receiving this because you were mentioned.
Reply to this email directly, view it on

[2020-02-11 04:01] scially opened #10017 "vcpkg install gdal error"
**Describe the bug**
vcpkg install gdal   error
**Environment**
- OS:
![图片](https://user-images.githubusercontent.com/22127608/74210246-d9871b80-4cc5-11ea-9fd6-cab7f6aa338f.png)
- Compiler: visual studio 2017

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install gdal
2. See error
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Failur

[2020-02-11 07:53] axayjain commented on #3262
Got same problem in ubuntu. dnn library is missing from "/usr/include/opencv2/"

[2020-02-11 08:37] JackBoosY commented on #9336
@liquidmonkeyCH That's okay, thanks.

[2020-02-11 09:05] JackBoosY commented on #10011
Confirmed.

[2020-02-11 09:07] FrankHeimes commented on #9920
No, that doesn't help. It's a problem with the _debug_ DLLs that are not included in the C++ redistributables.

The `VC_redist.x64.exe` setup contains these files: `api_ms_win_*, concrt140.dll, mfc140.dll, mfc140???.dll, mfc140u.dll, mfcm140.dll, mfcm140u.dll, msvcp140.dll, msvcp140_1.dll, msvcp140_2.dll, msvcp140_codecvt_ids.dll, ucrtbase.dll, vcamp140.dll, vccorlib140.dll, vcomp140.dll, vcruntim

[2020-02-11 09:16] PhoebeHui commented on #4928
mlpack and fann are avaliable in vcpkg, only openNN remains, so close this issue and reactive https://github.com/microsoft/vcpkg/issues/5062 to track openNN status.

[2020-02-11 09:16] #4928 closed

[2020-02-11 09:16] PhoebeHui commented on #5062
Reopen this for tracking opennn status.

[2020-02-11 12:23] linquize commented on #7784
New issue #10012

[2020-02-11 12:41] kenr opened #10023 "Not able to compile vcpkg on Azure DevOps Microsoft hosted agent"
**Describe the bug**
vcpkg does not compile on Azure DevOps Microsoft hosted agent.

**Environment**
- OS: Windows / Azure DevOps Microsoft hosted agent [windows-latest](https://github.com/actions/virtual-environments/blob/master/images/win/Windows2019-Readme.md)
- Compiler: VisualStudio/16.4.4+29728.190

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout master branch of vcpkg
2. Invok

[2020-02-11 13:09] RameshKandukuriB commented on #9336
hiredis[core] static passing the build, whereas the hiredis[ssl]  static failed. Sorry I don't have the previous log file now, however I will get one for the [ssl].

[2020-02-11 13:11] OlafvdSpek opened #10024 "[libmariadb] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: MSVC 16.5.0 preview 2

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install libmariadb`

**Failure logs**
[code]

[2020-02-11 14:22] yamcenutzer commented on #10011
this happens after commit:
a33044c18637d3df6de93128d33dae1fb5ba575c

[2020-02-11 14:42] takacsd commented on #9838
Actually, I don't see any other solution than patching arrow. (And adding cmake config for zstd.)
Is there some sed like functionality implemented in vcpkg?
We can also try to convince them to change the naming of the targets.

I changed the target names to match the vcpkg ones and now I can use arrow without any problems.

[2020-02-11 18:40] dbonhaus commented on #9947
Somehow I am still getting the same error. I updated my local copy of vcpkg, made sure that the relevant change was there, then reinstalled VTK (vtk:x64-windows-static) from scratch. I then deleted the cache for my sample project and reconfigured and rebuilt it, but I'm still getting the pugixml link error.

[2020-02-11 19:29] acgetchell commented on #9916
Also seeing same bug. As it uninstalls `CGAL`, my workaround is to simply reinstall it.

[2020-02-11 20:46] jafrado opened #10027 "[<vtk>] build failure with QTOpenGLWidget"
**Host Environment**
- OS: Windows 10
- Compiler: VS 2019 (MSVC 19.24.28314.0)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install vtk[opengl]`

**Failure logs**
-Unable to build/link any application which uses QVTKOpenGLWidget
-Sample application which exhibits the problem here: https://github.com/jafrado/QVTKOpenGLWidget

**Additional context**
I already have a fix for this issue

[2020-02-12 00:47] timautry opened #10029 "[vxl] build failure"
**Host Environment**
- OS: [Windows 10 Pro Version 1909 (OS Build 18363.657) ]
- Compiler: VS 2017 v15.9.19 and VS2019 v16.4.4

**To Reproduce**
Steps to reproduce the behavior:
.\vcpkg.exe install vxl[core,core_imaging]:x64-windows

Building package vxl[core,core_imaging]:x64-windows...
CMake Warning at ports/vxl/portfile.cmake:8 (message):
  Can't build VXL CORE_IMAGING features with non built-i

[2020-02-12 00:54] PhoebeHui commented on #9959
@Lecanyu, thanks for reporting this issue, g2o has updated to latest revision.

[2020-02-12 00:54] #9959 closed

[2020-02-12 01:32] PhoebeHui commented on #9850
@timautry, the PR has been merged.

[2020-02-12 01:32] #9850 closed

[2020-02-12 01:46] #10017 closed

[2020-02-12 01:49] LilyWangL commented on #9940
Thanks for posting this issue. This issue has been fixed, so I am closing this issue for now.

[2020-02-12 01:49] #9940 closed

[2020-02-12 01:49] timautry commented on #9850
Thank you!

[2020-02-12 02:33] oracleoftroy commented on #9920
I've also been having problems getting icu to build and I am not forcing a static build (and the log correctly reports it was trying to build the shared library. I tried @FrankHeimes trick of copying the dlls, but that didn't work for me (in fact, it caused my build to fail faster). I also tried deleting all icu related downloads and build folders, with no avail. I always run bootstrap-vcpkg.bat w

[2020-02-12 03:00] LilyWangL commented on #9991
[code]
@odin-loki Does you install xorg-macros before installing libepoxy?

[2020-02-12 03:06] JackBoosY commented on #9947
@dbonhaus Could you provide failure log?

[2020-02-12 05:13] JackBoosY commented on #9594
Close this issue via #8543 merged.

[2020-02-12 05:13] #9594 closed

[2020-02-12 05:15] JackBoosY commented on #8416
Hi @janholt, thanks for reporting this issue!
I've fixed it in #8543, please update vcpkg and rebuild openimageio.

Thanks.

[2020-02-12 05:15] #8416 closed

[2020-02-12 05:17] JackBoosY commented on #9377
Close this issue via #8543 merged.

[2020-02-12 05:17] #9377 closed

[2020-02-12 05:18] JackBoosY commented on #9857
I'ved fixed this issue, please update vcpkg and rebuild openimageio.

Thanks.

[2020-02-12 05:18] #9857 closed

[2020-02-12 06:11] LilyWangL commented on #10029
Related issue #3911

[2020-02-12 06:30] Moustafa1337 opened #10031 "Error: Building package libmariadb:x64-windows failed with: BUILD_FAILED"
Windows 10 version 1909 (Build 18363.476)
Visual Studio Community 2019

`./vcpkg install boost-iostreams:x64-windows boost-asio:x64-windows boost-system:x64-windows boost-filesystem:x64-windows boost-variant:x64-windows boost-lockfree:x64-windows luajit:x64-windows libmariadb:x64-windows pugixml:x64-windows mpir:x64-windows cryptopp:x64-windows
`

`C:\Windows\system32>cd /d E:\

E:\>git clone http

[2020-02-12 08:28] LilyWangL commented on #9990
Duplicate with issue #7931.

[2020-02-12 08:28] #9990 closed

[2020-02-12 08:58] PhoebeHui commented on #9982
@timautry, thanks for the comments!

@dharminec, have you try the solution that timautry provided? does the issue solve?

[2020-02-12 08:59] manugc opened #10033 "[openssl-windows] Static build fail"
**Host Environment**
- OS: Windows 10
- Compiler: MSVC 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install openssl-windows:x86-windows-static`

**Failure logs**
All logs are correct.

**Additional context**
When finished building in the installed folder, only debug with the html folder appears. Do not copy the necessary files

[2020-02-12 10:04] Lewis123d opened #10034 "[libpq & libpqxx] Requires debug/release postfix string on x64-windows"
vcpkg version:  2020.02.04-nohash
execute cmd: install libpqxx:x64-windows and succeed
output files includes
debug:
libpq.pdb/dll/lib
libpqxxd.pdb/dll/lib
other dependency files, ex: libcrypto,libssl .etc

release:
libpq.pdb/dll/lib
libpqxx.pdb/dll/lib
other dependency files, ex: libcrypto,libssl .etc

How to modify portfile.cmake, CMakeList.txt or other config files and vcpkg will output followin

[2020-02-12 10:10] LilyWangL commented on #9825
Ping @gustavomagni

[2020-02-12 10:25] gustavomagni commented on #9825
Hello,

Here is the log!

[1/251] cmd.exe /C "cd /D C:\Instalacoes\vcpkg-master\buildtrees\qpid-proton\x86-windows-dbg\c && C:\Instalacoes\vcpkg-master\downloads\tools\python\python-3.7.3-x86\python.exe C:/Instalacoes/vcpkg-master/buildtrees/qpid-proton/src/3e8ccb3f49-ab06f3cbfc/scripts/env.py PYTHONPATH=C:/Instalacoes/vcpkg-master/buildtrees/qpid-proton/src/3e8ccb3f49-ab06f3cbfc/tools/python C:/I

[2020-02-12 12:17] kenr commented on #10023
@PhoebeHui are you not able to reproduce it?

[2020-02-12 12:19] PhoebeHui commented on #10023
@kenr, thanks for reporting this issue.

However, I can't repro this issue with latest vcpkg and visual studio 16.4.5 and 16.5 preview 2.

[2020-02-12 13:52] kenr commented on #10023
@PhoebeHui Sorry, my mistake! I was using an old fork of vcpkg, using master from Microsoft it compiles. I guess this is the same as issue #9982

[2020-02-12 13:52] #10023 closed

[2020-02-12 14:18] timautry commented on #9594
Thank you for the hard work!

[2020-02-12 14:38] mjl5007 opened #10038 "VCPKG_OSX_DEPLOYMENT_TARGET does not affect non-CMake-based ports"
****

**Is your feature request related to a problem? Please describe.**
When building non-CMake-based ports on macOS (e.g. `openssl-unix` which is built with `make`), setting `VCPKG_OSX_DEPLOYMENT_TARGET` in a triplet file has no effect on the build. That is, the port is built without the `-mmacosx-version-min` compiler flag, which results in targeting the macOS version of the building machine ra

[2020-02-12 14:39] dbonhaus commented on #9947
The error message is not very informative:
"LINK : fatal error LNK1104: cannot open file 'pugixml.lib'"

The problem seems to be that pugixml.lib is in the project properties, but without an absolute path. I uploaded a snapshot of the linker properties in Visual Studio. Let me know if there is another log file that might be more informative and I will provide it.

![vtktest_libs](https://user-imag

[2020-02-12 18:50] traversaro opened #10039 "tinyxml2 port ships malformed pkg-config .pc on x64-linux"
**Describe the bug**
tinyxml2 port ships malformed pkg-config .pc, in particular the file `installed/x64-linux/debug/lib/pkgconfig/tinyxml2.pc` is malformed, as it references to the include directory `/home/straversaro/src/vcpkg/packages/tinyxml2_x64-linux/debug/include` that do not actually contain any include.
[code]

**Environment**
- OS: Ubuntu 18.04
- Compiler: revision

**To Reproduce**
Step

[2020-02-12 18:51] traversaro commented on #10039
cc @j-rivero

[2020-02-12 23:08] RubyNova opened #10041 "[Freetype] Removal of Harfbuzz causes Ubuntu build failure on linking of project using Freetype."
**Describe the bug**
While Freetype itself builds fine, linkage into an actual project causes a build failure. Specifically, it is looking for harfbuzz-related objects, which naturally cannot be found as of #9888 .

**Environment**
- OS: Linux (Ubuntu 18.04)
- Compiler: vcpkg dependencies - g++8, linking project - Clang 8.0.1

**To Reproduce**
Steps to reproduce the behavior:
1. Set up a Ubuntu in

[2020-02-12 23:10] tannergooding commented on #10041
Looking at https://github.com/microsoft/vcpkg/pull/9706 vs https://github.com/microsoft/vcpkg/pull/9888, there are various lines that were explicitly excluding harfbuzz before which weren't added back in 9888.

[2020-02-12 23:11] Christsnatcher commented on #9916
I'm also having the same issue on Windows 8.1 x64 with the latest Visual Studio 2019 build installed. Yesterday I set up an entirely "fresh" vcpkg installation hoping this would resolve the issue, but unfortunately without success. Please fix this - critical - bug as soon as possible, thank you very much!

[2020-02-12 23:15] Christsnatcher commented on #8748
Just wanted to mention that it's still impossible to build mhook. And being forced to uninstall the current SDK isn't something I would call a valid solution, sorry. I would be very grateful if this issue could be fixed properly.

[2020-02-13 00:28] JackBoosY commented on #9825
Could you provide log `C:\Instalacoes\vpkg\buildtrees\qpid-proton\config-x86-windows-dbg-out.log`?

[2020-02-13 00:46] odin-loki commented on #9991
No. I did and it seemed ok. Missed that message.
________________________________
From: Lily <notifications@github.com>
Sent: Wednesday, February 12, 2020 2:00:53 PM
To: microsoft/vcpkg <vcpkg@noreply.github.com>
Cc: Odin <odin.loch@outlook.com.au>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/vcpkg] libepoxy:x64-linux build failure (#9991)

configure.ac:36: error: must install xor

[2020-02-13 01:04] PhoebeHui commented on #10041
@tannergooding, thanks for reporting this issue.

PR#9888 remove harfbuzz feature from freetype, due to we already have port harfbuzz which depend on freetype. If not remove that feature, then freetype depend on harfbuzz, harfbuzz depend on freetype, it become circle, and will fail with issue https://github.com/microsoft/vcpkg/issues/9850.

The solution here might need to add 'harfbuzz' to the pro

[2020-02-13 01:09] tannergooding commented on #10041
Sure, but I was pointing out that prior to #9706 (which added the optional support for harfbuzz) FreeType was built with the following two options (always): https://github.com/microsoft/vcpkg/pull/9706/files#diff-8921d681f7afa53cf4fb11cc2d46aab8L35-L36

After 9706, you could optionally enable it; but that caused the issue reported in https://github.com/microsoft/vcpkg/issues/9850 (and no issue if

[2020-02-13 01:17] PhoebeHui commented on #10041
@tannergooding, thanks for clarifying this.

However, I checked the freetype which already disabled harfbuzz by default.  I'm not  sure why it still build here.

option(FT_WITH_HARFBUZZ "Improve auto-hinting of OpenType fonts." OFF)

[2020-02-13 01:23] JackBoosY commented on #10024
Confirmed.

[2020-02-13 01:48] JackBoosY commented on #9336
Confirmed, fixed and testing...

[2020-02-13 01:53] JSoet commented on #1681
Just adding another voice to this - just found out about vcpkg and was seriously considering using it, as we need to add some new libraries to our project and our existing method doesn't work that well.... but as I was reading through the documentation I was wondering how to specify a specific version and am surprised to see that that's not supported. Not being able to support specific versions ba

[2020-02-13 02:29] PhoebeHui commented on #10031
Duplicated to https://github.com/microsoft/vcpkg/issues/10024.

[2020-02-13 02:29] #10031 closed

[2020-02-13 02:39] capnkenny commented on #10041
@PhoebeHui I was able to test your suggestion on our CI build and found that it succeeded when we included `-DCMAKE_DISABLE_FIND_PACKAGE_HarfBuzz=TRUE` as well as the line you suggested as listed here:
https://github.com/capnkenny/vcpkg/blob/master/ports/freetype/portfile.cmake#L41

Please note that based on the implementation from above, this was only needed for Ubuntu x64 and x86 as the current

[2020-02-13 03:34] z6833 opened #10045 "[folly] update to latest"
Library name: folly:x64-windows

New version number: latest

Other information that may be useful (release notes, etc...):
Hello, thanks for your help of updating `fizz` #9724 .  I want to install project `mvfst` on windows7, and it relies on `fizz` and `folly` . I have installed updated version of `fizz` by vcpkg , and it works . But it still has problems of `folly` . I installed it by commands `

[2020-02-13 03:37] NancyLi1013 commented on #9993
Hi @davidhunter22
Thanks for posting this issue.
`range-v3` has been updated in PR #9986.
Please try to update vcpkg and use this port.

[2020-02-13 03:37] #9993 closed

[2020-02-13 04:44] odin-loki opened #10046 "sdl2[vulkan]:x64-linux build failure"
**Host Environment**
- OS: Windows 10 Pro 1903, Ubuntu WSL 1804.2019521.0
- Compiler: GNU 8.3

**To Reproduce**
Steps to reproduce the behavior:
./vcpkg install sdl2[vulkan]:x64-linux sdl2-gfx:x64-linux sdl2-image:x64-linux sdl2-image[libjpeg-turbo]:x64-linux sdl2-image[tiff]:x64-linux sdl2-image[libwebp]:x64-linux sdl2-mixer:x64-linux sdl2-mixer[dynamic-load]:x64-linux sdl2-mixer[libflac]:x64-lin

[2020-02-13 04:47] odin-loki commented on #10046
Fixed it by setting this:
export VULKAN_SDK=~/vulkan/1.1.xx.y/x86_64
export PATH=$VULKAN_SDK/bin:$PATH
export LD_LIBRARY_PATH=$VULKAN_SDK/lib:$LD_LIBRARY_PATH
export VK_LAYER_PATH=$VULKAN_SDK/etc/vulkan/explicit_layer.d

[2020-02-13 04:51] odin-loki commented on #10046
Listing the Enviroment Variables such as:

printenv VULKAN_SDK
/home/dev/vulkan/1.1.xx.y/x86_64

And then attempting installation will give the same error message.

[2020-02-13 04:53] odin-loki commented on #10046
I used the packaged SDK.

[2020-02-13 05:00] PhoebeHui commented on #10041
@capnkenny, thanks for trying out this!

Would you like to summit a PR? I think only adding '-DCMAKE_DISABLE_FIND_PACKAGE_HarfBuzz=TRUE' that should work.

[2020-02-13 05:47] Voskrese commented on #10046
https://github.com/microsoft/vcpkg/blob/5deea3b975fe62990973d73a102de818d83ba20c/ports/vulkan/portfile.cmake#L7
`set(VULKAN_INCLUDE "${VULKAN_DIR}/include/vulkan/")`

` ls /home/dev/vulkan/1.1.xx.y/x86_64/include/vulkan/`
?

[2020-02-13 06:07] kiokju opened #10047 "[librtmp] build failure"
**Host Environment**
- OS: [ Windows]
- Compiler: revision 2020.02.04

**To Reproduce**
`./vcpkg install librtmp:x64-windows`

**Failure logs**
-CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:72 (message):
    Command failed: C:/msys64/usr/bin/git.exe fetch https://git.ffmpeg.org/rtmpdump c5f04a58fc2aeea6296ca7c44ee4734c18401aa3 --depth 1 -n
    Working Directory: D:/programs/vc

[2020-02-13 07:29] odin-loki commented on #10046
Vulkan-sdk package is meant to do it.
________________________________
From: Voskrese <notifications@github.com>
Sent: Thursday, February 13, 2020 4:47:28 PM
To: microsoft/vcpkg <vcpkg@noreply.github.com>
Cc: Odin <odin.loch@outlook.com.au>; Author <author@noreply.github.com>
Subject: Re: [microsoft/vcpkg] sdl2[vulkan]:x64-linux build failure (#10046)

https://github.com/microsoft/vcpkg/blob/5deea

[2020-02-13 08:54] xarthurx opened #10048 "[vcpkg upgrade] build failure"
**Host Environment**
- OS: Windows
- Compiler: MS Visual C

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg upgrade --no-dry-run`

**Failure logs**

[code]
**Additional context**
When using `vcpkg upgrade --no-dry-run` to update packages, vcpkg will remove all old ones, but not install new ones with the value `Value was null`.
I have to re-install all the package one by one manually...

[2020-02-13 10:18] Neumann-A commented on #10034
From https://github.com/microsoft/vcpkg/blob/master/docs/maintainers/maintainer-guide.md

This means that if the upstream library has different names in release and debug (libx versus libxd), then the debug library should not be renamed to libx. Vice versa, if the upstream library has the same name in release and debug, we should not introduce a new name.

[2020-02-13 10:44] OlafvdSpek commented on #9916
Put your dependencies in a `vcpkg-install.txt` file and you can simply reinstall everything from scratch whenever needed.

[2020-02-13 10:48] Lewis123d commented on #10034
For my case, I want to separate two different libraries into debug and release(even x64 and x86 .etc).
Now libpqxx meet my requirement.
Please see this file: ports/libpqxx/CMakeLists.txt
line 4: set(CMAKE_DEBUG_POSTFIX "d")

BUT libpq does NOT.
No matter debug or release mode, the library name is always the same: libpq.pdb/dll/lib.
So, is there any solutions to figure out it?

[2020-02-13 11:25] capnkenny commented on #10041
Sure thing!

I'll test only including the one line first, then I'll submit a PR with the change.

[2020-02-13 11:32] Neumann-A commented on #10034
use folders instead of names...e.g.
`x86/rel/` vs `x86/dbg/` or
`x64/rel/` vs `x64/dbg/`

vcpkg also uses different folders to separate debug/release libraries. e.g. `/lib` vs `/debug/lib `

[2020-02-13 12:11] cbruegg commented on #6227
This is still a problem :/

[2020-02-13 12:27] NancyLi1013 commented on #10047
Hi @kiokju thanks for posting this issue.
Could you please provide the log here` D:\programs\vcpkg\buildtrees\librtmp\git-fetch-x64-windows-err.log` ?
It seems that there is something wrong with git on your local.
Could you check and try it again?

[2020-02-13 12:36] PhoebeHui commented on #10048
Duplicated to https://github.com/microsoft/vcpkg/issues/9916.

[2020-02-13 12:36] #10048 closed

[2020-02-13 13:04] JackBoosY commented on #9947
@dbonhaus
Did you create this project yourself? vcpkg will add _VCPKG_PATH/installed/TRIPLET/lib_ / _VCPKG_PATH/installed/TRIPLET/debug/lib_ to the path `LIB_PATH` and try to link all static libraries in this path, so `pugixml.lib` should not be added by vcpkg.

[2020-02-13 13:08] JackBoosY commented on #9843
@ras0219-msft Could you take a look?

[2020-02-13 13:11] zirahvi commented on #9688
This particular feature badly undermines the trust in this otherwise great tool.

It gives the impression that either the argument doesn't have any effect, or that the user has accidentally somehow managed to failed to type the parameter name (even when copy-pasting) correctly, because it doesn't seem to have any effect.

I had to actually read through the bootstrap script to be sure that it reall

[2020-02-13 13:26] kreuzerkrieg commented on #9843
Guys, can the complete log help here?

[2020-02-13 13:30] YURSHAT opened #10053 "libmariadb build failure - Applying patch failed!!"
**Environment**
- OS: Windows 7 Ultimate SP1 (OS Build 7601) x64
- Compiler: VC 2017 v15.9.18 Toolset v141

**To Reproduce**
Steps to reproduce the behavior:
1. .`/vcpkg install libmariadb`
2. See error
`Error: Building package libmariadb:x86-windows failed with: BUILD_FAILED`

**Failure logs**
[failure.log](https://github.com/microsoft/vcpkg/files/4198543/failure.log)

[2020-02-13 13:38] FixVCPkgYouBrokeItAfterJan2020 opened #10054 "You broke libssh win32"
After release 2020 January, someone, broke win32 libssh. vcpkg-master and git clone of current code both have a broken libssh on win32. Old code chose openssl as dependency which also has libcrypt - this works. New vcpkg libssh win 32 port chooses mblts(don't think I'm spelling this thrash library correctly or do I care) threads - this is broken.

The problem is inside of crypto_thread_init is bro

[2020-02-13 14:34] PhoebeHui commented on #10053
Duplicated to https://github.com/microsoft/vcpkg/issues/10024.

[2020-02-13 14:34] #10053 closed

[2020-02-13 15:27] kreuzerkrieg opened #10058 "bazel build system"
Is Bazel supported by vcpkg ports?

[2020-02-13 16:03] timautry commented on #10054
- If one has an issue with the new port version of libssh, one needs to direct a message to the maintainers at https://www.libssh.org. They would be responsible for the new changes to libssh.
- The maintainers/volunteers working with vcpkg just create the necessary scripts to integrate the ports (like libssh) into vcpkg for the various platforms supported.
- Each portfile.cmake has the location of

[2020-02-13 16:04] linquize commented on #10054
See #10012

[2020-02-13 18:52] dbonhaus commented on #9947
No, the project was generated by CMake (3.16.0).

[2020-02-13 20:06] saurayi opened #10059 "vcpkg.exe is not being created"
**Describe the bug**
vcpkg.exe is not being create when I execute bootstrap-vcpkg.bat

**Environment**
- OS: Windows

**Expected behavior**
Create vcpkg.exe

**Failure logs**
Nothing...

[2020-02-13 20:55] mschofie commented on #9874
The `ports/openssl-unix/CMakeLists.txt` file checks the `CMAKE_SYSTEM_NAME` to see if it's `Android` and if so, it sets `PLATFORM` to be `android`. The `PLATFORM` value is passed to `Configure`, which is invalid - as per the output from @jomof's comment it should be, say, `android-arm` (i.e. the ABI is suffixed). It looks like adding more logic to set `PLATFORM` to be ABI-specific might help... Pl

[2020-02-13 22:36] jafrado commented on #10027
Add pull request https://github.com/microsoft/vcpkg/pull/10060 with fixes.

[2020-02-13 23:35] vicroms commented on #10059
Hi @saurayi

Please attach the output of `bootstrap-vcpkg.bat` and elaborate more on your environment.

We've had similar reports in the past and the usual cause is the antivirus software quarantining `vcpkg.exe`.  Do you know if that is the case for you?

[2020-02-13 23:39] taadams1 commented on #10024
I am experiencing the same issue with the x64 package
`$ .\\vcpkg install libmariadb:x64-windows
Computing installation plan...
The following packages will be built and installed:
    libmariadb[core]:x64-windows
Starting package 1/1: libmariadb:x64-windows
Building package libmariadb[core]:x64-windows...
-- Using cached C:/Users/admin/otclient_test/vcpkg/downloads/MariaDB-mariadb-connector-c-8e9c

[2020-02-13 23:40] vicroms commented on #10058
If I recall correctly the `tensorflow-cc` port uses Bazel.

[2020-02-14 00:33] kiokju commented on #10047
[git-fetch-x64-windows-err.log](https://github.com/microsoft/vcpkg/files/4202074/git-fetch-x64-windows-err.log)

[2020-02-14 02:12] #9688 closed

[2020-02-14 02:47] LilyWangL commented on #6227
@cbruegg If this issue is still exist, could you open a new issue to submit this problem?

[2020-02-14 04:11] JackBoosY commented on #8757
Hi @jasjuang, I've fixed it in #8763, please update vcpkg and rebuild proj4.

Thanks.

[2020-02-14 04:11] #8757 closed

[2020-02-14 04:16] JackBoosY commented on #9843
Yes, we are locating the issue with your log.

[2020-02-14 04:24] JackBoosY commented on #10024
@taadams1 Could you try my PR #10043 changes?

[2020-02-14 06:21] Lewis123d commented on #10034
Hi @NancyLi1013
Is any solution to meet my requirement?

[2020-02-14 06:38] davmar88 opened #10065 "[fstream] New port request"
Good day

When I do a search on vcpkg for fstream, it is not listed at all. This is for linux

command: ./vcpkg search fstream

[2020-02-14 06:42] Mike-Devel commented on #9688
Thanks

[2020-02-14 06:45] Mike-Devel commented on #9994
This is really not vcpkg specific. CRT linking should generally be consistent between all parts of your program unless the library interfaces have been carefully designed  to allow mixing.
Compiling some libraries into shared libs and some into static should work in principle, but there can always be library specific reasons, why a particular combination doesn't work.

[2020-02-14 06:45] jtarango opened #10066 "[mpfr] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install mpfr`

**Failure logs**
[code]
**Additional context**
Add any other context about the problem here, such as what you have already tried to resolve the issue.

[2020-02-14 06:53] BlueeABC opened #10067 "[libpq/libpqxx] Is possible to built-in openssl and zlib?"
Is possible to built-in openssl and zlib that I can just only link these two libraries, libpq and libpqxx?

my environment is Windows and VS2017

[2020-02-14 07:12] NancyLi1013 commented on #10047
Could you please check if you have added `C:/msys64/usr/bin` and `git `to Path ?
Please also confirm if git can work normally on your local.
I can build this port successfully on my local.

[2020-02-14 08:21] zirahvi commented on #9688
That was fast. Thanks!

[2020-02-14 08:43] Rhvarrier commented on #4663
This issue is still present in 2020.01 version

[2020-02-14 09:46] philjdf commented on #9838
Getting everything to agree what everything is called seems hard. It would be nice if there were strong Vcpkg guidelines on the right way of doing stuff. Last time I checked it was still missing that.

Re your comment about sed. Is your thinking to just make it easy for each port to have local names for dependencies in vcpkg? E.g. what it wants to call `Brotli::` is actually `unofficial::brotli::`

[2020-02-14 10:14] PhoebeHui commented on #10058
It used as a program see https://github.com/microsoft/vcpkg/blob/5deea3b975fe62990973d73a102de818d83ba20c/scripts/cmake/vcpkg_find_acquire_program.cmake#L272

and https://github.com/microsoft/vcpkg/blob/73e55002f1e3e8093431bc1b506d907396bfbf2f/ports/tensorflow-cc/portfile.cmake#L21

[2020-02-14 11:43] Noemata opened #10072 "grpc:x64-uwp build failure"
**Host Environment**
- OS: Windows 1909 (OS Build 18363.628)
- Compiler: VS2019 Version 16.4.5

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg install grpc:x64-uwp --recurse`

**Failure logs**
CMake Error at scripts/cmake/vcpkg_fail_port_install.cmake:93 (message):
  Target 'UWP' not supported by abseil!

Call Stack (most recent call first):
  ports/abseil/portfile.cmake:1 (vcpkg_fail_

[2020-02-14 12:15] Noemata commented on #10072
Just noticed this, building .\vcpkg install opencv[contrib]:x64-uwp --recurse , succeeds to build abseil !

[2020-02-14 12:40] JackBoosY commented on #9947
Confimed.

[2020-02-14 12:48] pwilkin commented on #5828
I just tried to do it and it's not that easy, since the build for WebEngine requires Flex, Bison and GPerf and only GPerf has a package in vcpkg.

[2020-02-14 12:51] Neumann-A commented on #5828
but you can use vcpkg_find_acquire_program for those...
I did it in #9860 but qt webengine still fails due to not finding an include file which strangely exists. (Don't understand whats going on here)

[2020-02-14 13:13] JackBoosY commented on #10067
Hi @BlueeABC, thanks for reporting this issue.
`libpq` and `libpqxx` already have feature `openssl, zlib`, and we want the dependent libraries of each port to use the ones in vcpkg to ensure that the versions match.

[2020-02-14 14:08] pwilkin commented on #5828
True, I adapted your changes, but my compile now breaks due to some new "compatibility breaking" mechanism introduced in the new VS2019 (error C3848 while compiling chromium/third_party/sfntly/src/cpp/src/sfntly/font.cc). Do you know where to disable specific VS compiler errors for qmake?

[2020-02-14 14:28] Neumann-A commented on #5828
it fails due to missing `const` specifiers. That needs to be patched in the source and probably can not be fixed by a compiler switch.

[2020-02-14 14:35] isanych commented on #5828
Here extract from my python script patching one of previous versions for vs2019 (linux change for lto support):
[code]

[2020-02-14 15:17] boyd1982 opened #10074 "boost-compatibility:x86-windows buid failures"
Package: boost-compatibility:x86-windows
Vcpkg version: 2020.02.04-nohash

[2020-02-14 16:03] rkcarroll commented on #9916
I am also having this issue.  As of 2/14/2020, did a new pull, update, upgrade --no-dry-run.  It removes boost (and others), although they still show up in "list".  Fixing is a tedious process.

Latest error message:
Starting package 107/212: boost-modular-build-helper:x64-windows
Building package boost-modular-build-helper[core]:x64-windows...
CMake Error: Error processing file: E:/Libs/vcpkg/scr

[2020-02-14 16:06] rkcarroll commented on #9916
Sorry, disregard previous comment.  Looks like running the bootstrap script fixed the issue (for now).

[2020-02-14 16:57] takacsd commented on #9838
I was actually thinking patching arrow with sed instead of maintaining patches, but your idea is much cleaner.
If we could define such binding that would be ideal. I actually tried to use cmake's [alias targets](https://cmake.org/cmake/help/v3.10/manual/cmake-buildsystem.7.html#alias-targets), but it gave me strange errors and I couldn't make it work. (But I'm also not a cmake expert).

[2020-02-14 17:55] aerworker opened #10075 "[harfbuzz] build failure"
[install-x86-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/4205960/install-x86-windows-dbg-out.log)
**Host Environment**
- OS: Windows 7
- Compiler: 19.00.24215.1 for x86

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg.exe install harfbuzz[icu] --triplet x86-windows --recurse`

**Failure logs**
[code]
[config-x86-windows-out.log](https://github.com/microsoft/vcpkg/files/4

[2020-02-14 18:25] timautry commented on #10067
Yes, just use the following:
->vcpkg install libpq[openssl,zlib] openssl openssl-windows zlib libpqxx
Computing installation plan...
The following packages will be built and installed:
    libpq[core,openssl,zlib]:x64-windows
    libpqxx[core]:x64-windows
    openssl[core]:x64-windows
    openssl-windows[core]:x64-windows
    zlib[core]:x64-windows

Note: My default triplet is x64-windows, you may

[2020-02-14 18:46] pwilkin commented on #5828
Got to the point you mentioned. It's probably related to this:

https://bugreports.qt.io/browse/QTBUG-65677

[2020-02-14 18:50] timautry commented on #10075
See https://github.com/harfbuzz/harfbuzz/issues/1990 and https://github.com/harfbuzz/harfbuzz/issues/1993

It is an issue with a missing semi-colon on line 53 of hb-icu.cc
- #define HB_ICU_STMT(S) do { S } while (0)
 should read
- #define HB_ICU_STMT(S) do { S; } while (0)

Later versions of harfbuzz have this issue resolved as vcpkg is using v2.5.3 and the github/harfbuzz latest is v.2.6.4

[2020-02-14 19:24] timautry commented on #10066
@jtarango
- Based on the error that was output, it states the CMakeCache.txt and the files in the CMakeFiles directory/folder were created using an older version of Visual Studio 2017 and/or CMake.
- Anyway I would try to rename the **"_vcpkg-root_\buildtrees\mpfr"** directory/folder to **"_vcpkg-root_\buildtrees\mpfr.old"** _(or delete it, your choice)_ and try the **_.\vcpkg.exe install mpfr_**

[2020-02-14 22:29] blemidon opened #10078 "[mongo-c-driver:x64-linux-dynamic] build failure"
**Host Environment**
- OS: CentOS Linux release 8.1.1911 (Core)
- Compiler: g++ (GCC) 8.3.1 20190507 (Red Hat 8.3.1-4)

**To Reproduce**
`./vcpkg install mongo-c-driver:x64-linux-dynamic --overlay-triplets=custom-triplets`

**Failure logs**
Building package mongo-c-driver[core]:x64-linux-dynamic... done
Installing package mongo-c-driver[core]:x64-linux-dynamic...
The following files are already in

[2020-02-14 23:39] linquize commented on #10074
What problem?

[2020-02-15 01:15] guigallo opened #10079 "[libmariadb] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: Vcpkg version: 2020.02.04-nohash

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg install libmariadb:x64-windows`

**Failure logs**

The following packages will be built and installed:
    libmariadb[core]:x64-windows
Starting package 1/1: libmariadb:x64-windows
Building package libmariadb[core]:x64-windows...
-- Using cached C:/git/vcpkg/

[2020-02-15 04:29] WangHHY19931001 opened #10081 "have bug, can't install cpprestsdk"
system：windows 10
opt：use cmd run "vcpkg install cpprestsdk"
return:
Starting package 1/47: boost-build:x86-windows
Building package boost-build[core]:x86-windows...
-- Using cached C:/vcpkg/downloads/boostorg-build-boost-1.72.0.tar.gz
-- Using source at C:/vcpkg/buildtrees/boost-build/src/ost-1.72.0-fa8b817276
-- Using cached C:/vcpkg/downloads/boost_LICENSE_1_0.txt
-- Downloading https://raw.git

[2020-02-15 09:42] li-wu commented on #9955
I encountered the same problem as above.

[2020-02-15 10:16] boyd1982 commented on #10074
already settled！ seems to be network problem.

Thank you for the quick response!!

Bo
| |
许博
|
|

|
签名由网易邮箱大师定制
On 2/15/2020 07:39，linquize<notifications@github.com> wrote：

What problem?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-02-15 11:14] PhoebeHui commented on #10079
Duplicated to https://github.com/microsoft/vcpkg/issues/10024

[2020-02-15 11:14] #10079 closed

[2020-02-15 11:45] PhoebeHui commented on #10074
@boyd1982, it looks the issue solved? can I close this issue?

[2020-02-15 12:11] boyd1982 commented on #10074
sure,thank you!

| |
许博
邮箱：xubosuper@163.com
|

签名由 网易邮箱大师 定制

On 02/15/2020 19:45, Phoebe wrote:

@boyd1982, it looks the issue solved? can I close this issue?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-02-15 12:23] 375gnu opened #10084 "[glew] incorrect library name in installed cmake helpers with triplet x86-mingw"
**Describe the bug**
CMake helpers installed by the package (`$vcpkg/installed/$triplet/share/glew/glew-targets-{release,debug}.cmake`) have incorrect library name in *some* cases, at least when it's built for x86-mingw: glew32.a/glew32d.a instead of libglew32.a/libglew32d.a

**Environment**
- OS: GNU/Linux, I suppose the same on Windows
- Compiler: i686-w64-mingw32-gcc (GCC) 8.3-win32 20191201

*

[2020-02-15 12:54] mserg71 opened #10085 "Could not compile vcpkg using Visual Studio 2015 Update 3"
Compilation errors (in parse.h) raised during compilation of vcpkg from master branch

**Environment**
- OS: Windows 10
- Compiler: Microsoft Visual C++ 2015 (Microsoft Visual Studio Community 2015 Version 14.0.25425.01 Update 3)

**Steps to reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/Microsoft/vcpkg
2. cd vcpkg
3. bootstrap-vcpkg.bat

**Expected behavior**
vcpkg s

[2020-02-15 13:01] patrikhuber opened #10086 "Suitable version of powershell-core was not found even though vcpkg is launched from pwsh"
**Describe the bug**
I launched vcpkg from my powershell 6.2.4. When I launch vcpkg, it complains of missing powershell...:

[code]

Even though I am literally **running** vcpkg from pwsh 6.2.4.

**Environment**
- OS: Windows 10, pwsh 6.2.4 64bit, installed from .MSI
- vcpkg updated today (`git pull`) and ran `.\bootstrap_vcpkg.bat`

[2020-02-15 13:45] motz61 opened #10087 "architecture triplets"
Is available architecture triplets on freebsd?

 `root@freebsd:~/vcpkg # ./vcpkg install sdl2 curl
Error: invalid triplet: x64-freebsd
Available architecture triplets
VCPKG built-in triplets:
  arm-uwp
  arm64-windows
  x64-linux
  x64-osx
  x64-uwp
  x64-windows-static
  x64-windows
  x86-windows

VCPKG community triplets:
  arm-mingw
  arm-windows
  arm64-mingw
  arm64-uwp
  x64-mingw
  x64-wind

[2020-02-15 14:13] motz61 commented on #10087
I haven't read https://github.com/microsoft/vcpkg/blob/master/docs/users/triplets.md :(

[2020-02-15 14:13] #10087 closed

[2020-02-15 14:17] linquize commented on #10085
See #10011

[2020-02-15 15:40] kreuzerkrieg commented on #9843
here you go
https://1drv.ms/u/s!AvKB-sqTwjdHhp9T2GqAIDQwVrkHtw?e=NWCLF0

Let me know when I can remove the share

[2020-02-15 16:13] linquize commented on #10059
Which vcpkg commit were used?
Visual Studio version?

[2020-02-15 16:33] timautry commented on #10086
@patrikhuber  See #8975 and #9606 - vcpkg uses its own version of powershell installed in the _vcpkg-root_/downloads/powershell - not the one(s) in the PATH environment variable.

[2020-02-15 16:47] patrikhuber commented on #8975
A bit annoying that vcpkg can't use the system powershell, if its version is high enough. For example I've got 6.2.4-64, only for vcpkg to install its own local 6.2.1-32.......

[2020-02-15 16:49] patrikhuber commented on #9606
I'll leave my comment here as well, since this issue is still open:

A bit annoying that vcpkg can't use the system powershell, if its version is high enough. For example I've got 6.2.4-64, only for vcpkg to install its own local 6.2.1-32... It doesn't use a lot of space, but still.

[2020-02-15 16:49] patrikhuber commented on #10086
@timautry Thanks for linking to those! I've left a comment there.

[2020-02-15 16:49] #10086 closed

[2020-02-15 16:55] timautry commented on #10081
@WangHHY19931001
- The URL could be blocked somehow by:
   - the site the URL is on was down temporarily
   - a corporate firewall
   - by your ISP
   - a firewall and/or proxy configuration on your laptop/pc
- You should be able to access the URL **https://raw.githubusercontent.com/boostorg/boost/boost-1.72.0/boostcpp.jam** from an internet browser.

[2020-02-15 17:03] tannergooding opened #10089 "Installing a port using --head fails if that port hasn't been previously installed"
**Describe the bug**
Running `.\vcpkg.exe install {port} --head` for a port which has never been previously installed (and therefore the `buildtrees/{port}` folder does not exist) fails.

**Environment**
- OS: Windows
- VCPKG: 1be75a28bfce2084bb0b59ec92a6853f13d7be66

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone https://github.com/microsoft/vcpkg vcpkg_repro`
2. `cd vcpkg_repro`

[2020-02-15 20:34] vyushin opened #10090 "Does openssl installing during 1 hour?"
Maybe I did something wrong?
I cloned the repository. Then ran:
[code]
output:
[code]

[2020-02-15 20:58] geiseri opened #10091 "boost-exception:x64-android build failure"
**Host Environment**
- Arch Linux
- Compiler: Android NDK 21.0.6113669 (clang)

**To Reproduce**
Steps to reproduce the behavior:
- Create a triplet file with the below contents:

[code]
- Then run: `./vcpkg --triplet x64-android install boost-exception`

**Failure logs**

[code]
The associated error log below:
[error.log](https://github.com/microsoft/vcpkg/files/4208988/error.log)

I think it mig

[2020-02-15 21:27] DanRStevens commented on #9984
I came across #5948, (merged after #6152), which appears to fix the problem for the other SDL2 packages.

Does updating `vcpkg` fix the problem?

[2020-02-15 21:28] DanRStevens commented on #9985
Setting reference to related issue #9984.

It looks like PR #5948 may have solved this problem.

[2020-02-15 23:15] timautry commented on #10090
It depends on what hardware (cpu, memory, motherboard, disk drives, etc.) is used, what anti-virus/other software installed/running and the version of visual studio  installed - as I have noticed 2019 is a little faster than 2017... ...

I only installed the x64-windows versions and it took a total of 3.553/3.552 minutes for vs2017/vs2019 respectively:

**SYSTEM@ANDROMEDA 02/15/2020 18:10:20 D:\Gi

[2020-02-15 23:33] timautry commented on #10090
**Update:**
I installed openssl openssl-unix x64-linux triplet on a OpenSUSE Leap 15.1 linux running in a microsoft virtual machine (on top of Windows 10 Pro) with 4 virtual processors and 8 GB of memory and it took 1.83 minutes for the test environment and 1.81 for the production environment, but the test environment had to download the source first, where the source was already available to prod

[2020-02-16 00:05] timautry commented on #10012
Instructions on how to configure mbedtls for use with libssh are detailed here:
**https://tls.mbed.org/kb/compiling-and-building/how-do-i-configure-mbedtls**

[2020-02-16 01:12] vyushin commented on #10090
My system:
* Windows 10 Pro
* 4 CPU 2.00 GHz, 12 Gb memory, SSD
* Visual Studio Build Tools 2017 (maybe there aren't necessary tools but I don't know which one)

[2020-02-16 01:20] moregion opened #10093 "Error: Building package boost-test:x64-windows failed with: BUILD_FAILED"
Error: Building package boost-test:x64-windows failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `.\vcpkg update`, then
submit an issue at https://github.com/Microsoft/vcpkg/issues including:
  Package: boost-test:x64-windows
  Vcpkg version: 2020.02.04-nohash

[2020-02-16 01:28] timautry commented on #10090
My system is also Windows 10 Pro, x64, full installs of VS2017 and VS2019 community, but has a moderate upgrade in the hardware category, Intel I9, 8 core, additional memory and NVMe SSD drives.
I would guess hardware makes a big difference.

[2020-02-16 02:48] moregion commented on #10093
C:\dev\vcpkg>.\vcpkg update
Using local portfile versions. To update the local portfiles, use `git pull`.
No packages need updating.

C:\dev\vcpkg>git pull
Already up to date.

[2020-02-16 03:11] Voskrese commented on #10091
clang++: **error**: no such file or directory: 'x86_64-none-linux-android21'

API - android21 - 21 ?

[2020-02-16 04:21] JackBoosY commented on #9606
@ras0219-msft Could you take a look?

[2020-02-16 05:02] linquize opened #10094 "editorconfig"
****
Add `.editorconfig` to the repository root. This allows all `portfile.cmake` files to have consistent indentation and end of line styles.

[2020-02-16 11:49] GeneralAdmin opened #10095 "pcl:x64-windows build failure"
*****************************Host Environment************************************
- OS: [Windows 10]
- Compiler: VS 2017

*****************************************To Reproduce*****************************************
Steps to reproduce the behavior:
.\vcpkg install pcl:x64-windows

**************************** When I type the command I get *******************************
[code]
*******************

[2020-02-16 12:35] linquize commented on #10095
Please post the content of file `C:\toolchain\vcpkg\buildtrees\pcl\install-x64-windows-dbg-out.log`

[2020-02-16 12:50] GeneralAdmin commented on #10095
I have uploaded the whole folder to google drive as in the ticket.

This file content is:

[1/445] C:\PROGRA~2\MICROS~2\2017\ENTERP~1\VC\Tools\MSVC\1411~1.255\bin\Hostx64\x64\cl.exe   /TP -DBOOST_LIB_DIAGNOSTIC -DPCL_BUILT_WITH_VTK -DvtkDomainsChemistry_AUTOINIT=1(vtkDomainsChemistryOpenGL2) -DvtkIOExport_AUTOINIT=2(vtkIOExportOpenGL2,vtkIOExportPDF) -DvtkRenderingContext2D_AUTOINIT=1(vtkRendering

[2020-02-16 14:13] JackBoosY commented on #9843
Seems related to https://reviews.llvm.org/D54978

[2020-02-16 15:08] spykermj opened #10096 "[liblemon] build failure"
**Host Environment**
- OS: MacOS Catalina
- Compiler: revision (as provided by XCode 11.3.1)

**To Reproduce**
Steps to reproduce the behavior:
`brew install doxygen`
`./vcpkg install liblemon`

**Failure logs**

There should be no empty directories in /REDACTED/vcpkg/packages/liblemon_x64-osx
The following empty directories were found:

    /REDACTED/vcpkg/packages/liblemon_x64-osx/share/doc/lemo

[2020-02-16 15:33] gisfromscratch opened #10097 "[arrow] update to 0.16.* containing the csv implementations e.g. TableReader"
Library name: arrow

New version number: 0.16.*

I was not able to find the csv implementations for the TableReader like mentioned [here](https://arrow.apache.org/docs/cpp/csv.html), but I can see this on the master branch of version 0.16.*. See [reader.cc](https://github.com/apache/arrow/blob/master/cpp/src/arrow/csv/reader.cc)

Please update this arrow port.

[2020-02-16 18:30] marshfolx commented on #4339
you may need to check your project property and see if it is x64.

vcpkg build x86-windows in default as same as a c++ console project in vs, but your default qt version in qt vs tool option may be x64, then your qt project is set to x64 :-).

just switch you qt vs tool option and create a new project.

[2020-02-16 18:38] geiseri commented on #10091
Yes, I am using 21.0.6113669 from Android Studio.

[2020-02-16 20:17] GeneralAdmin commented on #10095
I got a similar error in the X86 version.

[2020-02-16 20:22] tannergooding opened #10098 "[glad] Support for building GLES specific headers should be added"
Glad supports generating bindings for a multitude of specs, profiles, and apis and by default, it just builds `gl=latest, profile=compatibility`.
Support should also be added for generating the `gles=latest` APIs and for targeting the `core` profile.

**Proposed solution**
Glad should be updated to have a `gles` feature.
I'm unsure how you would expose functionality such that `gl=latest` could be

[2020-02-16 22:21] Mikhail2017 opened #10099 "[pangolin] build failure"
**Host Environment**
- OS: Ubuntu 18.04
- Compiler: gcc 7.4.0

**To Reproduce**
`./vcpkg install pangolin:x64-linux`

**Failure logs**
Look at an attachment
[install-x64-linux-dbg-out.log](https://github.com/microsoft/vcpkg/files/4211074/install-x64-linux-dbg-out.log)

[2020-02-17 01:48] #10074 closed

[2020-02-17 03:04] fawdlstty opened #10100 "[boost-function] build failure"
**Host Environment**
- OS: Win7 x64
- Compiler: vs2017

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg install boost-function:x86-windows-static`

**Failure logs**
[code]

**Additional context**
none

[2020-02-17 03:12] fawdlstty commented on #10100
Due to unstable access to github on the Chinese network, it is easy to fail, and often fails when running 'vcpkg install boost:x86-windows-static' to install a package.This error message will be prompted after rerun

[2020-02-17 06:54] kreuzerkrieg commented on #9843
Affirmative
After removing `libz3-dev` package the `llvm` port was installedsuccessfully

[2020-02-17 06:54] #9843 closed

[2020-02-17 07:34] JackBoosY commented on #8281
[code]

[2020-02-17 07:36] fawdlstty commented on #10100
After recursively removing the dependencies a dozen times, I can reinstall boost.
Recurrence process:
Update VCPKG, then 'VCPKG upgrade --no-dry-run', which will report "param is null" or something similar (no screenshots, this error message can not be found), the installation will stop, at this point run 'VCPKG install boost:x86-windows-static' this error.
I will make another issue when I get the

[2020-02-17 07:36] #10100 closed

[2020-02-17 10:38] RollingIsland opened #10103 "[opencv4] build failure"
**Host Environment**
- OS: Windows

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg install opencv4[contrib,nonfree,cuda]:x64-windows`

**Failure logs**
-- Downloading https://github.com/tiny-dnn/tiny-dnn/archive/v1.0.0a3.tar.gz... Failed. Status: 18;"Transferred a partial file"
CMake Error at scripts/cmake/vcpkg_download_distfile.cmake:175 (message):

      Failed to download file.

[2020-02-17 13:51] JackBoosY commented on #10099
Confirmed.

[2020-02-17 13:55] JackBoosY commented on #10093
Hi @moregion, thanks for reporting this issue!
Could you provide failure logs?

Thanks.

[2020-02-17 16:20] gdiObjects opened #10107 "[openssl-windows[core]:x86-windows-static] build failure"
**Host Environment**
- OS: [Windows.]
- Compiler: Visual Studio 2019 community

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg upgrade --no-dry-run`

**Failure logs**
**Starting package 12/22: openssl-windows:x86-windows-static
Building package openssl-windows[core]:x86-windows-static...
Error: Triplet file x86-windows-static.cmake not found**

**Additional context**
Add any other cont

[2020-02-17 16:22] linquize commented on #10107
Did you recompile vcpkg.exe?

[2020-02-17 16:29] jtarango commented on #10066
Tried the items above and the recommendations did not work.
Below are the output logs from trying to run cmake from the GUI.

The visual studio version is visual studio enterprise 2017 16.9.20. I have the Intel 2020 C++ compiler  installed to optimize the microarchitecture acceleration.

**Logs**
Selecting Windows SDK version 10.0.17763.0 to target Windows 10.0.18363.
CMake Error at CMakeLists.txt

[2020-02-17 16:34] linquize opened #10108 "[poco] Make more optional features"
To reduce compilation time of poco core (mainly Foundation, Util, XML, JSON, Net),
poco core should not depend on `libpq`, `libpng`, `sqlite3`.

`postgresql` already depends on `libpqxx` (`libpqxx` depends on `libpq`)
`pdf` feature already depends on `libharu` (`libharu` depends on `libpng`)

Make `sqlite` an optional feature.

[2020-02-17 16:39] linquize commented on #10107
No error for me 1be75a28bfce2084bb0b59ec92a6853f13d7be66

[2020-02-17 16:40] linquize commented on #10107
vcpkg install openssl-windows:x86-windows-static

No error for me 1be75a2

[2020-02-17 16:49] gdiObjects commented on #10107
I do a git pull, then I update --no-dry-run to update all used packages.
please instruct on how to update|recompile vcpkg

[2020-02-17 16:54] gdiObjects commented on #10107
found the command [.\bootstrap-vcpkg.bat]

[2020-02-17 16:57] linquize opened #10109 "Automatically fill vcpkg version with git hash"
`vcpkg version` will show

`Vcpkg package management program version 2020.02.04-nohash`

or

`Vcpkg package management program version 2020.02.04-unknownhash`

I suggest to fill `nohash` with git hash (7-10 chars) if `git` is installed and the directory is under a git repository.

Currently `bootstrap.ps1` defines `VCPKG_VERSION` `-nohash`

[2020-02-17 17:26] jtarango commented on #10066
The way I had to resolve was to point the CMAKE GUI to the location. Is this expected behavior? What command line limitations are there of the current packaging system?

![mpfrBug](https://user-images.githubusercontent.com/41123949/74675006-d67da680-516f-11ea-8f6f-16214674b3a3.png)

[2020-02-17 17:49] vanturman commented on #9549
@yihongyishui i am facing the same problem with you. Have you solved this problem of vcpkg when installing folly?

[2020-02-17 18:21] timautry commented on #10066
One of the vcpkg experts @PhoebeHui @NancyLi1013 @JackBoosY will need to take a look.

- I notice you are using the release candidate of CMake 3.17 and you mentioned you've got the intel c/c++ compiler - I'm not sure how vcpkg reacts with either of those.

- VCPKG works with the current 3.16.4 of CMake and MSVC on windows and gcc, on linux but that's the limit of my knowledge.

[2020-02-17 21:57] RameshKandukuriB commented on #10107
SSL failing
Call Stack (most recent call first):
  scripts/cmake/vcpkg_build_cmake.cmake:91 (vcpkg_execute_build_process)
  scripts/cmake/vcpkg_install_cmake.cmake:24 (vcpkg_build_cmake)
  ports/hiredis/portfile.cmake:27 (vcpkg_install_cmake)
  scripts/ports.cmake:94 (include)

[2020-02-17 21:59] RameshKandukuriB commented on #9336
SSL failing:
Call Stack (most recent call first):
  scripts/cmake/vcpkg_build_cmake.cmake:91 (vcpkg_execute_build_process)
  scripts/cmake/vcpkg_install_cmake.cmake:24 (vcpkg_build_cmake)
  ports/hiredis/portfile.cmake:27 (vcpkg_install_cmake)
  scripts/ports.cmake:94 (include)

[2020-02-17 23:22] linquize commented on #10107
@RameshKandukuriB what command did you enter?

[2020-02-18 00:36] MaxKruse commented on #9665
I have messaged the maintainer, as seen in the above PR. would be great to re-open this issue until its resolved. @NancyLi1013

[2020-02-18 01:00] PhoebeHui commented on #10090
@timautry, thanks for taking a look at this questions!

@vyushin, does this still be a problem for you?

[2020-02-18 01:02] PhoebeHui commented on #10075
@timautry, thanks for the helpful information! I will have a look at this issue.

[2020-02-18 01:12] vyushin commented on #10090
@PhoebeHui, maybe installation time depending hardware but this seems strange for me when we speak about 4CPU, 12 Gb RAM and SSD. I don't undersund wy installation time was longer as expect.

[2020-02-18 01:15] NancyLi1013 commented on #6027
Hi @ywj11407 thanks for posting this request.
`zookeeper` has been added to vcpkg via merged PR #7000.
Please update vcpkg and try to use it.

[2020-02-18 01:15] #6027 closed

[2020-02-18 01:55] NancyLi1013 commented on #9665
Hi @MaxKruse
thanks for your update.
I'm sorry about this mistake.
I also noticed the new PR you submitted. Let's track this issue together util it is solved.

[2020-02-18 01:55] theoractice commented on #10103
`.\vcpkg install opencv4[contrib]` fails in my case.

[2020-02-18 02:09] JackBoosY commented on #9336
@RameshKandukuriB Did you use #10044 changes?

[2020-02-18 02:27] PhoebeHui commented on #10107
@gdiObjects, from your logs, it seems that you need recompile vcpkg by executing ".\bootstrap-vcpkg.bat".

Currenty x86-windows-static move to [triplets/community](https://github.com/microsoft/vcpkg/tree/master/triplets/community).

[2020-02-18 02:31] PhoebeHui commented on #10058
@kreuzerkrieg, does this still be a problem for you?

[2020-02-18 02:45] gdiObjects commented on #10107
Thanks! I figured it out earlier and was successful.

[2020-02-18 03:03] vanturman commented on #9586
@z6833 i am facing the same problem with you. Have you solved this problem of vcpkg when installing folly?

[2020-02-18 05:55] kreuzerkrieg commented on #10058
Nope. I think I can handle it. Thanks for the assistance

[2020-02-18 05:55] #10058 closed

[2020-02-18 06:53] PhoebeHui commented on #10107
Great!

[2020-02-18 06:53] #10107 closed

[2020-02-18 07:26] JackBoosY commented on #10066
[code]

[2020-02-18 08:52] NancyLi1013 commented on #10066
@jtarango thanks for posting this issue.

Could you please help confirm if you used Visual Studio 2017?
I noticed that you selected Windows SDK version 10.0.17763.0 to target Windows 10.0.18363.
It seems that Windows 10.0.18363 is not supported on Visual Studio 2017.

[Windows 10 development targeting Windows 10, version 1903 (or later) requires Visual Studio 2017 (or later). This SDK will not be

[2020-02-18 09:16] MarcKLohr commented on #9955
Same behaviour with a fresh CentOS installation with devtoolset-8.

I manage to compile by removing **noexcept** keyword of default constructors in file packagespec.h :

`PackageSpec() noexcept = default;` **to** `PackageSpec() = default; (line 22)`
`FullPackageSpec() noexcept = default;` **to** `FullPackageSpec() = default; (line 99)`

With this workaround, it's compiling in Linux (CentOS)  and W

[2020-02-18 09:45] PhoebeHui commented on #10090
@vyushin, it seems that affectd by the hardware, I get 2 VMs and try to install openssl, and given the time cost:

 .\vcpkg.exe install openssl:x64-windows openssl:x86-windows
2 CPU and 8G RAM -- cost 1.5hr
8 CPU and 32G RAM-- cost 30min

[2020-02-18 09:48] PhoebeHui commented on #10059
@saurayi, does this still be a problem for you? could yu please provide more information?

[2020-02-18 10:20] PhoebeHui commented on #10103
@RollingIsland, you can download tiny-dnn archive manullay and put it to downloads\opencv-cache\tiny_dnn\ and rename it to db1c512e09ca2c7a6faef36f9c53e59-v1.0.0a3.tar.gz

For me, it located to
"E:\VCPKG\src\downloads\opencv-cache\tiny_dnn\adb1c512e09ca2c7a6faef36f9c53e59-v1.0.0a3.tar.gz"

.\vcpkg install opencv4[contrib,nonfree,cuda]:x64-windows installed successfully for me. @theoractice, if ope

[2020-02-18 10:48] cenit commented on #9916
Still having the "Value was null" problem (even with a fresh rebuilt vcpkg).
Isn't this considered high priority for a fix? Not being able to upgrade (and also outputting the error after having removed all the libraries,  so in an undesired state) is a major inconvenience...

[2020-02-18 10:58] RollingIsland commented on #10103
@PhoebeHui  Thanks for your quick reply! Your solution worked!

[2020-02-18 10:58] #10103 closed

[2020-02-18 11:20] PhoebeHui commented on #10066
@jtarango, for me, it seems that related to the cmake generator, the failure log you provided using ninja, the CMake GUI used Visual studio.

Could you comment out 'PREFER_NINJA' in  [portfile.cmake](https://github.com/microsoft/vcpkg/blob/726c11148105a97aef39bec024fdb7c140b1b154/ports/mpfr/portfile.cmake#L18) file and try to build mpfr again?

[2020-02-18 11:21] cenit commented on #9764
Still no solution in sight.

```./vcpkg install boost```

is broken on any non-windows system...

[2020-02-18 11:32] PhoebeHui commented on #9819
@jonathansty, it seems the issue solved for you, I tried to repro this issue, however, it installed successfully for me, please reopen this issue if you see this issus again.

Starting package 2/2: rttr:x64-windows
Building package rttr[core]:x64-windows...
-- Downloading https://github.com/rttrorg/rttr/archive/v0.9.6.tar.gz...
-- Extracting source F:/vcpkg/downloads/rttrorg-rttr-v0.9.6.tar.gz
--

[2020-02-18 11:32] #9819 closed

[2020-02-18 11:41] PhoebeHui commented on #9943
@eix128, I can't repro this issue, please reopen this issue if it still be a problem for you.

[2020-02-18 11:41] #9943 closed

[2020-02-18 12:00] elviiix opened #10113 "[libpq] lack of pdb files in package for static library linkage"
When building libpq with static library linkage pdb files aren't copied into output lib directory that results in warning on linking. (if you don't have that pdb avaiable in build path on the same computer).

Changing in
ports\libpq\patches\windows\minimize_install.patch
+ "$conf\\", "libpgcommon\\libpgcommon.lib",
to
+		"$conf\\", "libpgcommon\\libpgcommon.lib", "libpgcommon\\libpgcommon.pdb", "l

[2020-02-18 12:12] yurybura commented on #9764
@cenit I've fixed it in #9780, but review is delayed without any comment.

[2020-02-18 12:25] PhoebeHui commented on #9776
@christianparpart, does this still be a problem for you?

[2020-02-18 12:40] PhoebeHui commented on #9715
@aymenaymenaymen, does this still be a problem for you?

[2020-02-18 12:44] PhoebeHui commented on #9710
Glad to hear that works for you!

[2020-02-18 12:44] #9710 closed

[2020-02-18 13:05] cenit commented on #9764
@yurybura let's hope for the best

[2020-02-18 13:07] PhoebeHui commented on #7748
@pwm1234, reopen this issue if it still be a problem for you.

[2020-02-18 13:07] #7748 closed

[2020-02-18 13:28] LilyWangL commented on #10097
Hi @gisfromscratch, thanks for posting this issue, the port arrow has been updated to version 0.16.0. I can find the code which you want in new source. You can update the vcpkg and rebuild arrow.
The related PR: #9922.

[2020-02-18 13:32] cenit opened #10114 "#10063 is not very robust"
**Describe the bug**
When installing ports that still have no abi keys (due to dependencies that have not been updated in a long time, which it might be better to forcefully trigger to rebuild now due to this issue), the build fails immediately with this message (example):
[code]

Also, in case a build has to be restarted: again a problem related to this "untested" tee mechanism

[code]

**Environ

[2020-02-18 13:33] JackBoosY opened #10115 "[brotli] build failure on arm64-uwp"
**Host Environment**
- OS: Windows
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install brotli:arm64-uwp`

**Failure logs**
Macro `_CRT_SECURE_NO_WARNINGS` is missing, deprecated functions reported by logs.

[2020-02-18 13:54] RameshKandukuriB commented on #10107
.\bootstrap-vcpkg.bat
vcpkg install hiredis[ssl]:x64-windows --recurse

[2020-02-18 14:23] linquize commented on #10114
Are you using WSL?

[2020-02-18 15:03] Noemata commented on #10072
Any word on progress?

[2020-02-18 15:15] josevqzmdz commented on #5302
jeez man, you're the kind of people that make this world spin. thank you so much

[2020-02-18 16:18] lanksheard commented on #9920
After trying the suggestions, I found out there is more wrong with this machine that I hadn't noticed. Other thins were building incorrectly, or not building. I tried reinstalling VS2019 which didn't help.
Thanks for all your help.
 -- doug

[2020-02-18 16:19] #9920 closed

[2020-02-18 16:24] malytomas commented on #9784
I would like to add that the build is failing on windows too:

[code]

Package: gts:x64-windows
Vcpkg version: 2020.02.04-nohash

[2020-02-18 16:50] traversaro opened #10119 "Impossible to install successfully new ports after a custom port has been installed"
**Describe the bug**
With the current `master` branch (commit https://github.com/microsoft/vcpkg/commit/1be75a28bfce2084bb0b59ec92a6853f13d7be66) the use of custom ports at some point prevents to install any further non-custom port from vcpkg.

**Environment**
- OS: Windows
- Compiler: VS2019

**To Reproduce**
[code]
The last command will fail with the following error:
[code]

**Expected behavior*

[2020-02-18 16:50] traversaro commented on #10119
cc @pattacini

[2020-02-18 17:01] traversaro commented on #10119
At a first glance, this seems to be related to https://github.com/microsoft/vcpkg/pull/9895, fyi @ras0219-msft

[2020-02-18 17:06] mjl5007 opened #10120 "Inconsistent parsing of triplet names between qualified port names and `--triplet` option"
**Describe the bug**
I created a custom triplet `x64-osx-10.14` which sets the deployment target explicitly to macOS 10.14. When I attempt to build/install a port using this triplet in the qualified name of the port, I get an error:

[code]

However, using the `--triplet` option instead works fine:
[code]

**Environment**
- OS: macOS 10.14.6 (18G3020)
- Compiler: `vcpkg` itself built with `gcc-8 (

[2020-02-18 17:54] BullyWiiPlaza opened #10121 "[CLI11] update to 1.9.0"
Library name: CLI11
New version number: 1.9.0
Release notes: https://github.com/CLIUtils/CLI11/releases/tag/v1.9.0

I tried to implement the update but failed so I'd appreciate if it gets done by someone else.

[2020-02-18 18:07] patrick-i-mosher commented on #9955
Same issue, MarcKLohr's work-around worked for me in CentOS 7.

[2020-02-18 18:10] BullyWiiPlaza opened #10122 "Visual Studio will not use the static Boost libraries (build system: CMake)"
**Describe the bug**
If I install the static `Boost` libraries via `vcpkg install Boost:x64-windows-static` and set the `CMake` variable `Boost_USE_STATIC_LIBS` to `ON`, `Visual Studio` still does not link against the static libraries in the `C:/vcpkg/installed/x64-windows-static` directory. Instead, it looks for `Boost` inside the `C:/vcpkg/installed//x64-windows` directory.

**Environment**
- OS

[2020-02-18 18:14] marcospy commented on #10085
Same issue here, I've successfully compiled with VS2015 using the latest (2020.01) release.

[2020-02-18 18:49] cenit commented on #10114
yes it happened on WSL, but does not seem related to that. Is it?

[2020-02-18 18:51] cenit opened #10124 "[zstd] build failure"
**Host Environment**
- OS: Windows
- Compiler: VS 2017 latest

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install zstd:x64-windows`

**Failure logs**
[code]

Edit: retrying the procedure, the error became the following:

[code]

antivirus is disabled on vcpkg folder

[2020-02-18 21:06] vicroms commented on #10085
I opened a PR to solve this issue, the code changes required are actually quite simple but we are experiencing problems with our CI infrastructure which will delay merging the PR.

You can manually edit the sources to replicate the changes in PR #10126. Just add the missing constructors for TextRowCol:

https://github.com/microsoft/vcpkg/blob/e130ff1c69407c79832db2ee538f13c093679b52/toolsrc/includ

[2020-02-18 22:50] yamcenutzer commented on #9955
The question remains: why does it compile in Ubnutu with gcc 8 ?

[2020-02-19 00:03] vicroms commented on #10119
Looks like after the changes in #9895 you have to specify the `--overlay-ports` location on each install command 😟

[2020-02-19 02:40] NancyLi1013 commented on #2670
Hi all,

Thanks for joining in the discussion about this issue.
`protobuf `has been updated. Please try to update vcpkg and rebuild it.

The usage like this:
[code]
Please open an issue if you have any other problems about this.

[2020-02-19 02:40] #2670 closed

[2020-02-19 03:13] NancyLi1013 commented on #7609
Hi @fbergmann
Do you have any other questions about this?

[2020-02-19 03:16] NancyLi1013 commented on #10047
Does this issue exist now?

[2020-02-19 03:25] NancyLi1013 commented on #9817
@danieljo12

Please help confirm if you have access to `C:/PROGRA2/MICROS1/2019/COMMUN1/Common7/IDE/COMMON1/MICROS~1/CMake/Ninja/ninja.exe`.

[code]

[2020-02-19 04:35] kiokju commented on #10047
No. It is same.

(And I checked  added git execute path "C:/msys64/usr/bin").

[2020-02-19 04:35] PhoebeHui commented on #10090
@vyushin, I checked it already build openssl in parallel in vcpkg, let me know if you expect vcpkg should do something here.

[2020-02-19 05:48] NancyLi1013 commented on #10047
I'm not sure what happened on your local git.
Could you try to use the git that vcpkg provides?

If vcpkg cannot detect a suitable git version, it will download it that vcpkg provides.

[code]

[2020-02-19 05:54] NancyLi1013 commented on #3556
Hi @pankit7

Thanks for posting this issue.
Could you please provide portfile.cmake and CONTROL files for this port?

[2020-02-19 06:32] kiokju commented on #10047
I re-install MSYS2. and work fine!!

Thanks.

[2020-02-19 06:40] NancyLi1013 commented on #6582
Personally, this is a workaround issue. We can remove Win8.1 SDK from Visual Studio in Win 7 to fix this issue.
Please feel free to reopen if you have any concern or good suggestion about this issue.

[2020-02-19 06:40] #6582 closed

[2020-02-19 06:54] NancyLi1013 commented on #10047
Thanks for your update.

[2020-02-19 06:54] #10047 closed

[2020-02-19 06:55] vinimarco opened #10130 "[pcl] build failure"
I Keep having the following problem try to install pcl library although i have the latest version of vcpkg

**Host Environment**
- OS: Windows 10

**Failure logs**
Error: Building package pcl:x64-windows-static failed with: BUILD_FAILED Please ensure you're using the latest portfiles with `.\vcpkg update`, then submit an issue at https://github.com/Microsoft/vcpkg/issues including:   Package: pcl:

[2020-02-19 08:38] zydxhs commented on #9955
I encountered the same problem as above.

[2020-02-19 09:07] LilyWangL commented on #9991
Thanks for posting this issue. This issue has been fixed, so I am closing this issue for now.

[2020-02-19 09:07] #9991 closed

[2020-02-19 09:11] LilyWangL commented on #9687
Thanks for posting this issue. I can't repro this issue, please reopen this issue if it still be a problem for you.

[2020-02-19 09:17] LilyWangL commented on #7829
Thanks for posting this issue. This issue has been fixed, so I am closing this issue for now.

[2020-02-19 09:17] #7829 closed

[2020-02-19 09:19] NancyLi1013 commented on #10119
Hi @traversaro
Can this work for you after add `--overlay-ports`?

[2020-02-19 09:21] LilyWangL commented on #8644
Thanks for posting this issue. This issue has been fixed, so I am closing this issue for now.

[2020-02-19 09:21] #8644 closed

[2020-02-19 09:27] LilyWangL commented on #7183
@odin-loki, thanks for posting this issue. You can create cmake project and link the vcpkg's library on Linux. Could you provide a simple repro project?

[2020-02-19 09:28] LilyWangL commented on #6832
Thanks for posting this issue. This issue has been fixed, so I am closing this issue for now.

[2020-02-19 09:28] #6832 closed

[2020-02-19 09:30] LilyWangL commented on #6268
Thanks for posting this issue. Please reopen this issue if it still be a problem for you.

[2020-02-19 09:30] #6268 closed

[2020-02-19 09:33] LilyWangL commented on #7420
Thanks for posting this issue. Please reopen this issue if it still be a problem for you.

[2020-02-19 09:33] #7420 closed

[2020-02-19 09:34] LilyWangL commented on #7010
Thanks for posting this issue. Please reopen this issue if it still be a problem for you.

[2020-02-19 09:34] #7010 closed

[2020-02-19 09:35] FrankHeimes commented on #9920
I updated our build agents several times without reinstalling Windows itself. I found it most feasible to uninstall as much as possible and then let the Visual Studio installer (re)install everything necessary.
To do so, I uninstall these items in the order listed before installing a new major Visual Studio version:
1. Microsoft Visual Studio Installer
2. Visual Studio Enterprise 2015
3. Visual St

[2020-02-19 09:37] LilyWangL commented on #5897
Thanks for posting this issue. Please reopen this issue if it still be a problem for you.

[2020-02-19 09:37] #5897 closed

[2020-02-19 09:40] LilyWangL commented on #5738
Thanks for posting this issue. Please reopen this issue if it still be a problem for you.

[2020-02-19 09:40] #5738 closed

[2020-02-19 09:43] LilyWangL commented on #4885
Thanks for posting this issue. Please reopen this issue if it still be a problem for you.

[2020-02-19 09:43] #4885 closed

[2020-02-19 10:37] PhoebeHui commented on #9945
@Rita-ritally, sorry for my late reply.

Could you try the following steps and see if the issue still occur?
./vcpkg remove boost-modular-build-helper --recurse
./vcpkg remove boost-build --recurse
./vcpkg install boost-regex

[2020-02-19 10:42] PhoebeHui commented on #9612
@jonohribar, sorry for my late reply.

Could you try the following steps and see if this issue still occur?
1. Delete replace_environment_variable.patch
2. Go to .\vcpkg\ports\openni2 , and execute 'git checkout replace_environment_variable.patch'
3. Remove openni2 source under buildtreev
4. ./vcpkg install openni2:x64-windows

[2020-02-19 10:46] PhoebeHui commented on #9549
@vanturman, does it fail with vcpkg_download_distfile step for you? could you double confirm if you can download https://raw.githubusercontent.com/boostorg/boost/boost-1.71.0/LICENSE_1_0.txt

[2020-02-19 10:50] PhoebeHui commented on #9368
@bxac, could you get vcpkg latest source and try again? please let me know if it still be a problem for you.

[2020-02-19 11:04] traversaro commented on #10119
Hi @NancyLi1013, what you mean by "this"?  Specifying `--overlay-ports` for every install command, as @vicroms suggested?
To be honest it seems quite a big drawback the need to explicitly mention all the `--overlay-ports` that **you have used in the past** for every execution, especially if you have a lot of them. However I don't pay for `vcpkg`,  so I am not in a position to complain. : )

Jokes

[2020-02-19 11:31] PhoebeHui commented on #6447
@thohemp, please make sure install English lauguage package, and reopen this issue if it still be a problem for you.

[2020-02-19 11:31] #6447 closed

[2020-02-19 11:33] eix128 opened #10133 "ESP32 Microcontroller package manager support ?"
Hi , is there any plan to make vcpkg for microcontroller package manager ?
Like ESP32-IDF or Arduino ?

[2020-02-19 11:51] tibdev12 opened #10135 "[openal-soft:x64-windows] build failure"
**Host Environment**
- OS: Windows 7

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install openal-soft:x64-windows`

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
    openal-soft[core]:x64-windows
Starting package 1/1: openal-soft:x64-windows
Building package openal-soft[core]:x64-windows...
-- Using cached D:/Vcpkg/vcpkg/download

[2020-02-19 12:01] PhoebeHui commented on #7326
@hongqimei, you can also reference https://github.com/microsoft/vcpkg/issues/9704#issuecomment-576414004 if you still have this issue.

[2020-02-19 12:01] #7326 closed

[2020-02-19 12:08] traversaro commented on #10119
To provide an additional data point, I just come across another repo containing instructions are broken by this change: https://github.com/qis/toolchains#compiler .

[2020-02-19 13:01] PhoebeHui commented on #10059
@saurayi, you can reference https://github.com/microsoft/vcpkg/issues/9704#issuecomment-576414004, please reopen this issue and provide failure logs if it still be a problem for you.

[2020-02-19 13:01] #10059 closed

[2020-02-19 13:05] davidhunter22 commented on #4067
Actually I think the bulk install is the most useful part. Given a list of installed triplets in a file like the vcpkg-install.txt mentioned by  OlafvdSpek it would be nice to do
vcpkg install vcpkg-install.txt
The format of this file could just be the existing output of "vcpkg list" and ignore the comment at the end. For bonus points it could then check that the installed version of each packaged

[2020-02-19 13:05] bxac commented on #9368
Now it start compilation successfully, but fails in the middle:

[code]

[2020-02-19 13:07] bxac commented on #9368
[build-x64-windows-rel-out.log](https://github.com/microsoft/vcpkg/files/4225203/build-x64-windows-rel-out.log)

    See logs for more information:
      C:\vcpkg\buildtrees\boost-serialization\build-x64-windows-rel-out.log

[2020-02-19 13:15] yihongyishui commented on #9549
"vcpkg\ports\opengl\portfile.cmake"

[code]
reviewed：

[code]

[2020-02-19 13:17] yihongyishui commented on #9549
Just try it again. but rewriten a file @vanturman
 "vcpkg\ports\opengl\portfile.cmake"

[code]
修改为：

[code]

[2020-02-19 13:25] JackBoosY commented on #5715
@zhulika When you use unofficial triplets, you have to solve the build issues yourself.

What does it mean?

Data security is not guaranteed by the CRT linkage, and security-related code is generated as dynamic libraries. Unless your computer is under control, I don't think any Trojan has the ability to replace these libraries.

[2020-02-19 13:28] JackBoosY commented on #6113
The installed root is always related to the selected triples because it changes.
And vcpkg toolchain provides the selected triples to find the correct installation root directory.

[2020-02-19 13:32] JackBoosY commented on #6895
I think that is a port bug.

We provide both the debug and release libraries by default, because engineers need to perform in-depth debugging.
And we provide a way to generate only debug or release libraries: add `set(VCPKG_BUILD_TYPE debug)` or add `set(VCPKG_BUILD_TYPE release)` to the triplet file.

[2020-02-19 13:33] JackBoosY commented on #7253
If this issue is still not resolved, please reopen it.

[2020-02-19 13:33] #7253 closed

[2020-02-19 13:34] eix128 opened #10136 "[MIPP] Cross platform SIMD Lib for C++"
It would be good to add MIPP Library to vcpkg as a port.
You can checkout the lib.

https://github.com/aff3ct/MIPP

Its so insane simd lib.Even used on 5G

https://ppopp18.sigplan.org/details/WPMVP2018/7/MIPP-a-Portable-C-SIMD-Wrapper-and-its-use-for-Error-Correction-Coding-in-5G-Stand

[2020-02-19 13:35] JackBoosY commented on #7939
If this issue is still not resolved, please reopen it.

[2020-02-19 13:35] #7939 closed

[2020-02-19 13:36] JackBoosY commented on #8064
If this issue is still not resolved, please reopen it.

[2020-02-19 13:36] #8064 closed

[2020-02-19 13:41] #9612 closed

[2020-02-19 13:41] JackBoosY commented on #8071
Yes, if there is no built-in `Find<PORT>.cmake`, the vcpkg toolchain will preferentially use the generated ports in vcpkg. Because we need to ensure that the ports that are dependent on when building a port are always provided by vcpkg.

So, I think you need to add a `Find<PORT>.cmake` and use non-`CONFIG` mode to find dependencies.

[2020-02-19 13:41] jonohribar commented on #9612
That did it!

[2020-02-19 13:42] JackBoosY commented on #8325
If this issue is still not resolved, please reopen it.

[2020-02-19 13:42] #8325 closed

[2020-02-19 13:42] JackBoosY commented on #8479
If this issue is still not resolved, please reopen it.

[2020-02-19 13:42] #8479 closed

[2020-02-19 13:42] PhoebeHui commented on #9368
@bxac, I can't repro this issue, boost-serialization build successfully for me.

From your log, it failed with 'fatal error C1083: Cannot open include file: 'boost/core/nvp.hpp': No such file or directory', could you remove boost-core:x64-windows, and rebuild it, you can check if nvp.hpp located to C:\vcpkg\installed\x64-windows\include\boost\core?

[2020-02-19 13:44] JackBoosY commented on #8823
If this issue is still not resolved, please reopen it.

[2020-02-19 13:44] #8823 closed

[2020-02-19 13:46] JackBoosY commented on #8900
If this issue is still not resolved, please reopen it.

[2020-02-19 13:46] #8900 closed

[2020-02-19 13:47] JackBoosY commented on #9095
If this issue is still not resolved, please reopen it.

[2020-02-19 13:47] #9095 closed

[2020-02-19 13:47] JackBoosY commented on #9338
If this issue is still not resolved, please reopen it.

[2020-02-19 13:47] #9338 closed

[2020-02-19 13:55] JackBoosY commented on #9489
That's a good idea!
I think we need a management module and provide multi-version support for each compilation method. (It needs to support cmake at least)

So, please track issue #7923.

Thanks.

[2020-02-19 13:55] #9489 closed

[2020-02-19 13:57] JackBoosY commented on #9582
@kdschlosser I've already removed feature `non-http` with curl.
Please update vcpkg and try again.

Thanks.

[2020-02-19 13:57] #9582 closed

[2020-02-19 13:58] PhoebeHui commented on #7822
@singlis, does this still be a problem for you? BTW, boost currently upgrade to 1_72_0.

[2020-02-19 13:59] JackBoosY commented on #9597
@xahon Please see documentation [here](https://github.com/microsoft/vcpkg/blob/master/docs/specifications/export-command.md).

Thanks.

[2020-02-19 14:03] JackBoosY commented on #9790
If this issue is still not resolved, please reopen it.

[2020-02-19 14:03] #9790 closed

[2020-02-19 14:04] JackBoosY commented on #9869
If this issue is still not resolved, please reopen it.

[2020-02-19 14:04] #9869 closed

[2020-02-19 14:05] JackBoosY commented on #9900
If this issue is still not resolved, please reopen it.

[2020-02-19 14:05] #9900 closed

[2020-02-19 14:06] JackBoosY commented on #10067
Hi @BlueeABC, does this issue resolved?

[2020-02-19 14:07] JackBoosY commented on #6105
If this issue is still not resolved, please reopen it.

[2020-02-19 14:07] #6105 closed

[2020-02-19 14:07] eix128 opened #10137 "dynamorio cross platform dynamic instrumentation to port"
Again ,
It will be good if you add dynamorio lib to

https://github.com/DynamoRIO/dynamorio

Its used so much for reverse engineers.

[2020-02-19 14:10] eix128 opened #10138 "Panda Qemu Lib for analyzing Binaries.Adding to port"
Panda also used very much for analysing malware or reverse engineering.
I just compiled the library with WSL on Windows.
I dont know how to compile for Windows native.

https://github.com/panda-re/panda

Checkout example work done on panda qemu
https://adalogics.com/blog/Building-a-custom-malware-sandbox-with-PANDA-Part-1

[2020-02-19 14:13] PhoebeHui commented on #5257
@sgrebnov, feel free to summit a PR if you want.

[2020-02-19 14:13] #5257 closed

[2020-02-19 14:23] PhoebeHui commented on #10124
@cenit, could you double check if  folder C:/src/vcpkg/packages/zstd_x64-windows open? if so, please close it and try to build it again and see if the issue occur.

I can't repro this issue, zstd:x64-windows build successfully for me.

[2020-02-19 14:27] theoractice opened #10139 "[opencv4[contrib]] build failure"
**Host Environment**
- OS: Win10
- Compiler: VS2019

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg install opencv4[contrib] --recurse`

**Failure logs**
[code]
[install-x86-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/4225532/install-x86-windows-dbg-out.log)

[2020-02-19 14:28] bxac commented on #9368
Yes, now it rebuilds successfully, thank you!

[2020-02-19 14:28] JackBoosY commented on #7043
@Neumann-A I think your answer captures the point.
When different libraries (A, B, C ...) depend on the same library (Z), it is likely that these libraries (A, B, C ...) need different features of the dependent library (Z), and These features are not enabled by default. This will cause the dependent library (Z) to be rebuilt. If the dependent library (Z) is large, a lot of time is wasted.
So I sug

[2020-02-19 14:29] #9368 closed

[2020-02-19 14:37] JackBoosY commented on #7960
If this issue is still not resolved, please reopen it.

[2020-02-19 14:37] #7960 closed

[2020-02-19 14:41] JackBoosY commented on #8041
vcpkg's support for `RelWithDebInfo` is not good.

@ras0219-msft  Do we need to support it?

[2020-02-19 14:45] JackBoosY commented on #8283
Hi @giorgk Does this issue still bother you?

[2020-02-19 14:45] JackBoosY commented on #8333
Hi @gottagogottagoGxj, does this issue still bother you?

[2020-02-19 14:46] JackBoosY commented on #8334
@ras0219-msft Can you take a look?

[2020-02-19 14:49] PhoebeHui commented on #6476
@YgabrielsY, does this still be a problem for you, could you get latest souce and try again?

I can't repro this issue with WSL Ubuntu 18.04:

Computing installation plan...
The following packages will be built and installed:
    ogre[core]:x64-linux
Starting package 1/1: ogre:x64-linux
Building package ogre[core]:x64-linux...
ogre currently requires the following library from the system package m

[2020-02-19 14:51] JackBoosY commented on #8555
If this issue is still not resolved, please reopen it.

[2020-02-19 14:51] #8555 closed

[2020-02-19 14:52] JackBoosY commented on #8821
If this issue is still not resolved, please reopen it.

[2020-02-19 14:52] #8821 closed

[2020-02-19 14:54] giorgk commented on #8283
@JackBoosY
No, all is good.
Generally I have found that there are other libraries that get stuck when the antivirus is running.
So I try always to remember to deactivate it before compiling anything.

[2020-02-19 14:54] JackBoosY commented on #8870
Needs to add a long path prompt to glib (like qt5).

[2020-02-19 14:57] JackBoosY commented on #8915
@ras0219-msft Can you take a look?

Thanks.

[2020-02-19 14:59] JackBoosY commented on #9285
If this issue is still not resolved, please reopen it.

[2020-02-19 14:59] #9285 closed

[2020-02-19 14:59] JackBoosY commented on #9345
If this issue is still not resolved, please reopen it.

[2020-02-19 14:59] #9345 closed

[2020-02-19 15:00] JackBoosY commented on #9391
If this issue is still not resolved, please reopen it.

[2020-02-19 15:00] #9391 closed

[2020-02-19 15:04] PhoebeHui commented on #9554
@simonbjork, it seems you solved the issue, feel free reopen this issue if it still be a problem for you.

[2020-02-19 15:04] #9554 closed

[2020-02-19 15:05] JackBoosY commented on #9514
I don't think vcpkg supports clang very well.
@ras0219-msft What do you think?

[2020-02-19 15:06] JackBoosY commented on #9719
If this issue is still not resolved, please reopen it.

[2020-02-19 15:06] #9719 closed

[2020-02-19 15:08] JackBoosY commented on #3524
If this issue is still not resolved, please reopen it.

[2020-02-19 15:08] #3524 closed

[2020-02-19 15:15] JackBoosY commented on #5790
This is indeed a port bug and I will fix it in the near future.

[2020-02-19 17:45] gnaggnoyil commented on #6268
@LilyWangL I'm sorry, but I don't think it is a common practice to use `find_path` and `find_library` directly instead of using a `find_package` configuration file to find `libpqxx`, nor it follows upstream's intention. Please reopen this issue and keep it open until a `find_package` configuration file can be installed though VcPkg.

[2020-02-19 17:47] singlis commented on #7822
Hi @PhoebeHui, I was not able to reproduce this error using 1_72. Thank you for looking into this.

[2020-02-19 20:25] algobot76 opened #10141 "[sqlite-orm] cannot find package"
**Host Environment**
- OS: mac 10.15
- Compiler: clang 11

**To Reproduce**
Steps to reproduce the behavior:

- Run `./vcpkg install sqlite-orm`
- Add `find_package(sqlite_orm CONFIG REQUIRED)` to `CMakeLists.txt`
- Run cmake

**Failure logs**
[code]

[2020-02-19 21:02] jtarango commented on #10066
I used visual studio 2017 enterprise and for my system I almost all of the latest SDKs supported to accelerate the code with the Intel compiler. I use this configuration because I can get 10-1000x faster code to the microarchitecture.

I will try out the PERFER_NINJA and get back to you.

[2020-02-19 21:06] jtarango commented on #10066
Removing... PERFER_NINJA; I have the same failure.

(base) C:\Users\jtarango>cd C:\vcpkg
(base) C:\vcpkg>vcpkg.exe install mpfr
The following packages will be built and installed:
    mpfr[core]:x64-windows
Starting package 1/1: mpfr:x64-windows
Building package mpfr[core]:x64-windows...
-- Using cached C:/vcpkg/downloads/mpfr-4.0.1.tar.xz
-- Configuring x64-windows
CMake Error at scripts/cmake/vc

[2020-02-19 21:40] RameshKandukuriB commented on #9336
No, I pulled the latest vcpkg. I guess #10044 still in progress, when will it be integrated?

[2020-02-19 22:05] cenit commented on #10124
Nothing was open apart from powershell to install libraries.
It's obvious it's a filesystem issue unrelated to zstd, the problem for me is that vcpkg is becoming damaged in its own internals, not just portfiles. Broken logs via tee, unreleased filesystem locks, etc, these at least were not there. Now they joined us, adding some more stress to this product which is already borderline to becoming ab

[2020-02-19 22:22] cenit commented on #10139
LINK : fatal error LNK1168: cannot open bin\opencv_imgprocd.dll for writing

I also have spurious filesystem issues, unrelated to ports. May be related to something else?

[2020-02-19 22:29] odin-loki commented on #7183
Hello,

The issue here was a warning message in a Visusl Studio asking for a remote linux connection when using the Linux Subsystem. Visual Studio uses the Subsystem automatically OR the Linux Remote Connection.
________________________________
From: Lily <notifications@github.com>
Sent: Wednesday, February 19, 2020 8:27:53 PM
To: microsoft/vcpkg <vcpkg@noreply.github.com>
Cc: Odin <odin.loch@outl

[2020-02-19 23:02] mediabuff opened #10142 "Angle port Cannot open include file: 'glext_explicit_context_autogen.inc' not found"
Windows 10

[2020-02-19 23:29] gisfromscratch commented on #10097
@LilyWangL The arrow/csv folder is not included into the build. Just the src folder contains the header files and CMakeLists. When I take a look after rebuild I only see the following folders:

[code]

Would you be so kind and include the csv folder to the current build file?

[2020-02-20 00:24] PhoebeHui commented on #7822
Great!

[2020-02-20 00:24] #7822 closed

[2020-02-20 00:42] PhoebeHui commented on #10124
I have no idea about this issue. We usually see this error when the folder opened or used by other program, and can't empty it .

@ras0219-msft, could you help take a look?

[2020-02-20 00:49] PhoebeHui commented on #10066
@jtarango, from your log, it seems the you also need to update vcpkg revision by 'git pull', also the mpfr has updated to 4.0.2 in vcpkg, could you get latets source and try again?

[2020-02-20 00:51] #10011 closed

[2020-02-20 00:51] #10085 closed

[2020-02-20 02:39] jtarango commented on #10066
Sequence
git reset --hard
git pull origin HEAD
bootstrap-vcpkg.bat
vcpkg integrate install
vcpkg install mpfr

Output
(base) C:\vcpkg>vcpkg.exe install mpfr
Computing installation plan...
Error: Cannot find definition for package `mpfr`.

(base) C:\vcpkg>vcpkg.exe update
Using local portfile versions. To update the local portfiles, use `git pull`.
No packages need updating.

(base) C:\vcpkg>git pu

[2020-02-20 02:41] JackBoosY commented on #7996
Hi @ASxa86, thanks for reporting this issue!
I've fixed it, please update vcpkg and rebuild osg.

Thanks.

[2020-02-20 02:41] #7996 closed

[2020-02-20 02:42] JackBoosY commented on #8184
Hi @ccliuyang, I've fixed it, please update vcpkg and rebuild osg.

Thanks.

[2020-02-20 02:42] #8184 closed

[2020-02-20 02:44] JackBoosY commented on #9189
Hi @CJCombrink, thanks for reporting this issue!
I've fixed this issue in #8060, please update vcpkg and rebuild osg.

Thanks.

[2020-02-20 02:44] #9189 closed

[2020-02-20 02:52] #8283 closed

[2020-02-20 02:56] JackBoosY commented on #9336
@RameshKandukuriB I'm just waiting for baseline fix, please use that.

[2020-02-20 03:00] PhoebeHui commented on #10066
@jtarango, thanks for your updates! could you attach 'C:\vcpkg\buildtrees\mpfr\config-x64-windows-out.log' file?

[2020-02-20 03:15] PhoebeHui commented on #3434
@sanxiyn, thanks for your suggestion.

After talked with team before, the triplet already contains the platform, we can search everything by the platform name, so it's not neccessary to add this lable now.

[2020-02-20 03:15] #3434 closed

[2020-02-20 03:29] PhoebeHui commented on #7295
@whozcraig, does this still be a problem for you? btw, boost upgrade to 1_72_0 currently.

[2020-02-20 03:39] jtarango commented on #10066
[config-x64-windows-out.log](https://github.com/microsoft/vcpkg/files/4228676/config-x64-windows-out.log)
[stdout-x64-windows.log](https://github.com/microsoft/vcpkg/files/4228677/stdout-x64-windows.log)

[2020-02-20 03:42] JackBoosY commented on #7137
Hi @billwang2001, thanks for reporting this issue!
This issue should be fixed in some PRs, please update vcpkg and rebuild gtkmm.

Thanks.

[2020-02-20 03:42] #7137 closed

[2020-02-20 04:01] PhoebeHui commented on #10066
@jtarango, I noticed that you use C:/Anaconda3/Library/bin/cmake.exe, where your CMake GUI isntalled? I asked this since sometimes the cmake included by others pkg or program has something wrong when using it. if so, could you make sure it used cmake that you installed and try again?

The failures here is:

Check for working C compiler: C:/Program Files (x86)/Microsoft Visual Studio/2017/Enterpris

[2020-02-20 04:30] capnkenny commented on #10098
Based off of testing with glad's generator, it appears that the portfile uses a specification to follow instead of manipulating the API field. Also, with that said, if the specification is removed, glad will automatically pull the latest version of GL by default.

A proposed solution to this would be to break out the APIs into their own "features" (ie. `gles2` would invoke `gles2=latest` in the ge

[2020-02-20 05:14] theoractice commented on #10139
@cenit

What's weird about this problem is that it doesn't happen every time. If I build with `--recurse` option then the failure odds seems to increase a lot, but still not 100%...

[2020-02-20 05:31] NancyLi1013 commented on #3963
Hi @ja3067

Thanks for posting this issue.
So sorry for the late reply.

Do you still encounter this problem now?  `CUDA `has been updated. Could you please update vcpkg and rebuild this port?

[2020-02-20 06:09] yezilaoda commented on #9916
me too . win10

[2020-02-20 06:19] LilyWangL commented on #7167
@ishaantantra Does this issue still occur?

[2020-02-20 07:02] ishaantantra commented on #7167
The issue was resolved.

[2020-02-20 07:05] HWiman commented on #6489
Turning off "Beta: Use Unicode UTF-8.." indeed solves the problem. I had no idea were to find it, but it is explained here: https://stackoverflow.com/questions/56419639/what-does-beta-use-unicode-utf-8-for-worldwide-language-support-actually-do

[2020-02-20 07:06] yes89929 opened #10143 "[pcl[pcap]] build failure"
**Host Environment**
- OS: Ubuntu 18.04
- Compiler:

**To Reproduce**
Steps to reproduce the behavior:
`sudo ./vcpkg install pcl[pcap]`

**Failure logs**
[code]

**Additional context**
In installing pcl with pcap using vcpkg on ubuntu.
vcpkg try to install winpcap, not libpcap.

[2020-02-20 07:08] DDoSolitary opened #10144 "[libssh] ssh_init failure"
****

**Is your feature request related to a problem? Please describe.**
Currently, libssh links with mbedtls by default. However, when compiling with mbedtls, libssh requires that either MBEDTLS_THREADING_ALT is enabled or threading is not supported, otherwise the `crypto_thread_init` function, which is indirectly called by `ssh_init`, returns an error.

src/threads/mbedtls.c:
[code]

However:

-

[2020-02-20 07:14] DDoSolitary commented on #10144
I just noticed this portion of code in `crypto_thread_init`:

[code]

It seems that we can enable `MBEDTLS_THREADING_PTHREAD` for the mbedtls port, which will make libssh happy and keep threading support enabled. This approach seems to be more ideal.

[2020-02-20 08:47] NancyLi1013 commented on #6311
Hi @goodguysoft

Thanks for posting this issue.
So sorry for late reply.
Is this still a problem for you now?

[2020-02-20 09:00] esride-jts commented on #10097
@LilyWangL
I updated arrow from a pre 0.16 version on my business developer laptop and now the folder is missing, too. As far as I can judge it, there must be a modifcation of the make files so that csv Folder is not integrated into the build. Would you be so kind  and tell us how to go back to an old Version of arrow like vcpkg downgrade --version=0.14.0.

[2020-02-20 09:00] goodguysoft commented on #6311
Hi, thanks you for your reply. No, it is not a problem for me personally already, but as I see, this command actually doesn't work already, so may be developers have to remove it from documentation to not confuse new and inexperienced `vspkg` users.

[2020-02-20 09:19] NancyLi1013 commented on #6216
Hi @art-in

Thanks for posting this issue.
So sorry for the late reply.

Could you please help confirm if this is still a problem for you now?
`vcpkg` has been updated. Could you please update vcpkg and try it again?

Also, since I cannot see the content in your main.cpp file. So I don't know if you have included <sqlite3.h>.

As for vcpkg version, you can refer to [CHANGELOG.md
](https://github.c

[2020-02-20 09:39] art-in commented on #6216
No, sorry, that was a long time ago. I decided not use `vcpkg` and simply wrap project into docker container with ubuntu packages instead.

[2020-02-20 09:43] ZMZ91 opened #10145 "Invalid link library for port simdjson found by find_library."
**Describe the bug**
With cmake function find_library, it returns an invalid path for libsimdjson.a.

**Environment**
- OS: Mac OS

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install simdjson
2. in my project CMakeLists.txt, add
[code]
got output
[code]
3. compile project and got linker failures
4. change the last line of CMakeLists.txt to
[code]
5. compile project and it succeed

[2020-02-20 10:36] Neumann-A commented on #10145
debug vs release version

What is your `CMAKE_BUILD_TYPE`?

What does the error say?

[2020-02-20 10:37] #7167 closed

[2020-02-20 11:14] PhoebeHui commented on #10135
@tibdev12, thanks for reporting this issue.

However, I can't repro this issue with vs2017 15.9.20 and windows sdk 17763.0 on windows 7
What's compiler version do you use?

PS D:\vcpkg> ./vcpkg install openal-soft:x64-windows
Computing installation plan...
The following packages will be built and installed:
    openal-soft[core]:x64-windows
Starting package 1/1: openal-soft:x64-windows
Building pa

[2020-02-20 11:26] Neumann-A commented on #9802
another example from the buildtree: meson.log

[2020-02-20 11:27] PhoebeHui commented on #10120
Confirmed, this issue repoed. It's not related to platform. @mjl5007, thanks for reporting this issue.

[2020-02-20 11:50] tibdev12 commented on #10135
@PhoebeHui
Thanks for you reply. What do you mean version compiler?

Visual Studio 2017, version 15.8.4
Vcpkg version 2020.02.04-nohash
Windows 10 SDK 10.0.17134.0

[2020-02-20 11:51] TheAifam5 commented on #3963
https://gitlab.kitware.com/cmake/cmake/issues/18237

[2020-02-20 11:52] vanturman commented on #9549
Thanks a lot，it works for me!

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Jihao Liu"<notifications@github.com&gt;;
发送时间:&nbsp;2020年2月19日(星期三) 晚上9:17
收件人:&nbsp;"microsoft/vcpkg"<vcpkg@noreply.github.com&gt;;
抄送:&nbsp;""<handong.yang@foxmail.com&gt;;"Mention"<mention@noreply.github.com&gt;;
主题:&nbsp;Re: [microsoft/vcpkg] [boost-compatibility] build failure (#9549)

Just try it a

[2020-02-20 12:11] PhoebeHui commented on #9549
@yihongyishui, thanks for your updates!

I'm not clear the relationship between the build failures and solution, however, it's good to know that works for you, @vanturman.

[2020-02-20 12:18] Rita-ritally commented on #9945
@PhoebeHui  it doesn't work......
`PS C:\Users\Rita_悦> cd E:\lastdesign\vcpkg
PS E:\lastdesign\vcpkg> ./vcpkg remove boost-modular-build-helper --recurse
The following packages will be removed:
    boost-modular-build-helper:x64-windows
Removing package boost-modular-build-helper:x64-windows...
Removing package boost-modular-build-helper:x64-windows... done
Purging package boost-modular-build-help

[2020-02-20 12:21] Rita-ritally commented on #9945
@PhoebeHui  I think my visual studio settings may have some problems, but i don't know the specific

[2020-02-20 12:59] PhoebeHui commented on #9945
@Rita-ritally, thanks for your updates!

Could you also attach failure log E:\lastdesign\vcpkg\buildtrees\boost-regex\build-x64-windows-rel-out.log?

[2020-02-20 13:01] NancyLi1013 commented on #6311
Thanks for your reply and suggestion about this issue.
We will go further investigation about this command.

Thanks again.

[2020-02-20 13:01] #6311 closed

[2020-02-20 13:08] PhoebeHui commented on #10135
@tibdev12, from the failures, it seems that you used windows sdk 10.0.16299.0, it seems compiler issue  or windows sdk issue, could you upgrade visual studio and install windows sdk by vs installer, then try to build again?

[2020-02-20 13:14] NancyLi1013 commented on #6216
Thanks for your update.

Please open a new issue if you have other problems when using vcpkg.

[2020-02-20 13:14] #6216 closed

[2020-02-20 13:19] PhoebeHui commented on #10114
I tried to install opencv4[contrib,core,dnn,ffmpeg,jpeg,opengl,png,tiff,webp]:x64-linux with WSL, however, I didn't repro this issue. It built successfully for me.

[2020-02-20 13:22] NancyLi1013 commented on #2839
Hi @vanepp

Thanks for posting this issue.
Sorry for the late reply.
`libgit2, libssh2 and opnessl` have been updated.
I cannot reproduce this on my local.
Could you please update vcpkg and try to build them again?

[2020-02-20 13:45] Toxe commented on #5204
Hello, I have the same problem.

[code]

And the contents of `buildtrees/libmysql/config-x64-osx-dbg-err.log`:

[code]

[2020-02-20 14:04] JackBoosY commented on #3823
Hi @gnu-lorien, thanks for reporting this issue!
By default, vcpkg only provides official static build triplets in `Linux` / `OSX`. If you want to build dynamic libraries, please change `VCPKG_LIBRARY_LINKAGE` in _VCPKG_PATH/triplets/x64-osx.cmake_ to `dynaimc`.

Thanks.

[2020-02-20 14:47] linquize commented on #10144
See #10012

[2020-02-20 14:53] #10090 closed

[2020-02-20 15:08] Rita-ritally commented on #9945
@PhoebeHui
here is my failure log
[build-x64-windows-rel-out.log](https://github.com/microsoft/vcpkg/files/4231448/build-x64-windows-rel-out.log)

[2020-02-20 15:10] Rita-ritally commented on #9945
@PhoebeHui thank you for your reply
this is my failure log
[build-x64-windows-rel-out.log](https://github.com/microsoft/vcpkg/files/4231457/build-x64-windows-rel-out.log)

[2020-02-20 15:40] DDoSolitary commented on #10144
Sorry, didn't notice that there's an existing issue about this.

[2020-02-20 15:40] #10144 closed

[2020-02-20 16:33] ASxa86 commented on #7996
Great! I'll give it a shot later this evening. Thank you.

[2020-02-20 16:52] acgetchell commented on #9916
Had to remove AppVeyor caching because then packages are upgraded, and this fails. Also confirmed on Ubuntu 18.04 that I just rebuilt my project on.

[2020-02-20 17:00] cenit commented on #9916
@acgetchell exactly. This problem has huge problems for automated ci for downstream projects. I don't want to delete cache

[2020-02-20 18:09] anttijuu commented on #9018
**Doesn't work** if done like this from nlohmann::json directory:
[code]
And then this fails from application directory:

[code]

Resulting in errors that nlohmann_json was found but could not be used:

  Could not find a configuration file for package "nlohmann_json" that is
  compatible with requested version "3.7.0".

**However**, when using Ninja build, everything is OK -- first the nlohmann::

[2020-02-20 19:31] Toxe opened #10147 "[hyperscan] Unable to compile, dependency "boost-crc" is missing"
**Host Environment**
- OS: Mac
- Compiler: MacPorts Clang 9

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install hyperscan`

**Failure logs**
[code]

**Additional context**
Hyperscan is missing `boost-crc` as dependency in its `CONTROL` file. When compiling I get an error message saying that the file `boost/crc.hpp` cannot be found.

**How to fix**
Simply add `boost-crc` to the Hype

[2020-02-20 19:35] Toxe commented on #10147
Added pull request: #10148

[2020-02-20 19:43] Toxe commented on #7278
Issue has been resolved.

[2020-02-20 19:43] #7278 closed

[2020-02-20 19:44] Toxe commented on #7279
Issue has been resolved.

[2020-02-20 19:44] #7279 closed

[2020-02-20 19:49] DA40 opened #10149 "[cairo:x64-windows] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: MSVC/14.24.28314
- Vcpkg version: 2020.02.04-nohash

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install gtk:x64-windows`

**Failure logs**
Starting package 15/22: cairo:x64-windows
Building package cairo[core]:x64-windows...
-- Downloading https://www.cairographics.org/releases/cairo-1.16.0.tar.xz...
-- Extracting source C:/Dev/vcpk

[2020-02-20 20:58] timautry opened #10150 "geotrans - CONTROL file updated to version 3.8 but portfile.cmake still downloads 3.7"
**Describe the bug**
geotrans - The CONTROL file makes reference to version 3.8 but the _vcpkg-root_\ports\geotrans\portfile.cmake still contains logic to download version 3.7.

**Environment**
- OS: ALL
- Compiler: ALL

**To Reproduce**
Steps to reproduce the behavior:
- N/A

**Expected behavior**
Either the CONTROL file needs to be updated to version 3.7-2 (as other issues were addressed in the

[2020-02-20 22:02] rkitover commented on #10000
In my own experiments I found an issue that will complicate implementing this.

If a dependency of a package is removed, the core considers the database corrupted.

For example, I get this message:

[code]

This would need to be fixed to allow at the very least reinstalling the missing dependency.

[2020-02-20 22:12] rkitover commented on #10000
Even better if vcpkg could operate normally with missing dependencies and just print a loud warning or something.

[2020-02-20 23:59] uecasm commented on #1035
I second what scramsby said.  Although having said that, unless I'm missing something it looks like the way that `VcpkgRoot` is defined will prevent anyone ever using more than one vcpkg nuget file in a single project anyway -- which seems like a serious bug.

[2020-02-21 00:29] Sangguk-Cha opened #10152 "[qt5:x64-windows / atlmfc:x64-windows] build failed"
**Describe the bug**
When I installed qt5, the package atlfmc:x64-windows has error.

**Environment**
- OS: Windows
- Compiler: MSVC++ 14.16 _MSC_VER == 1916

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install qt5:x64-windows / atlemc:x64-windows
2. See error
Error : Building package atlfmc:x64-windows failed with : BUILD_FAILED
Please ensure you're using the latest portfiles wit

[2020-02-21 00:45] timautry commented on #10150
[geotrans-3.8-upgrade-files.zip](https://github.com/microsoft/vcpkg/files/4233694/geotrans-3.8-upgrade-files.zip)
- See attached file named geotrans-3.8-upgrade-files.zip:
  - includes updated files:
     - CONTROL
     - CMakeFiles.txt
     - portfile.cmake
  - has necessary changes to download/install port GEOTRANS 3.8
 - I only tested it against VS2017 and VS2019 dynamic builds only
- Hopes thi

[2020-02-21 01:43] JackBoosY commented on #8910
@mawdis2 Could you update vcpkg and try again?
Is there anything special about your environment?

[2020-02-21 01:44] JackBoosY commented on #9392
@embeddedRSA Could you update vcpkg and try again?

Thanks.

[2020-02-21 02:17] Derimax3 commented on #10053
-- Extracting source C:/Users/Adorius Black/vcpkg/downloads/MariaDB-mariadb-connector-c-8e9c3116105d9a998a60991b7f4ba910d454d4b1.tar.gz
-- Applying patch md.patch
CMake Error at scripts/cmake/vcpkg_apply_patches.cmake:50 (message):
  Applying patch failed.  Patch needs to be updated to work with source being
  used by vcpkg!
Call Stack (most recent call first):
  scripts/cmake/vcpkg_extract_source

[2020-02-21 03:08] sarbjit-longia opened #10153 "FFmpeg build on macos expose library vdpau which does not exist for macos"
**Describe the bug**
Installed FFmpeg using vcpkg and while using it the build failed as library vdpau is not found. On investigation found following problematic line in FindFFMpeg.cmake

if(UNIX)
     list(APPEND FFMPEG_PLATFORM_DEPENDENT_LIBS -pthread -lvdpau -lX11)
endif()

**Environment**
- OS: osx
- Compiler: clang

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install ffmpeg
2

[2020-02-21 04:36] PhoebeHui commented on #9962
@timautry, thanks for your Comments!

Confirmed that .\bootstrap-vcpkg.bat -disableMetrics also works as expected for me. I'm not sure what vcpkg could do here.

@needfulthing, do you mind to close this issue?

[2020-02-21 05:31] jtarango commented on #10066
Deleted repo, reinstalled VS2017 with all packages, and moved cmake up in the path tree. The result is the same.

[setup.log](https://github.com/microsoft/vcpkg/files/4234419/setup.log)

[mpfr.log](https://github.com/microsoft/vcpkg/files/4234423/mpfr.log)

[config-x64-windows-static-out.log](https://github.com/microsoft/vcpkg/files/4234425/config-x64-windows-static-out.log)

[2020-02-21 05:51] c72578 commented on #10147
Remark:
`#include <boost/crc.hpp>` is used here in the source:
https://github.com/intel/hyperscan/blob/v5.1.0/tools/hsbench/engine_hyperscan.cpp#L56

[2020-02-21 06:48] linuxaged commented on #7269
Got error `ninja: error: 'C:/workspace/vcpkg/installed/x86-windows/lib/dcmtkssl_d.lib', needed by 'bin/dcmtlsd.dll', missing and no known rule to make it`

[2020-02-21 07:02] Voskrese commented on #7269
`_d.lib` = debug

`C:/workspace/vcpkg/installed/x86-windows/debug/lib/...`

[2020-02-21 09:12] NancyLi1013 commented on #10145
@ZMZ91

Thanks for posting this issue.
As @Neumann-A pointed above, please check the build type and provide the error info.

BTW, you can use this to find `simdjson`.
[code]

[2020-02-21 09:18] LilyWangL commented on #10149
@DA40 thanks for posting this issue. Could you provide the error log `config-x64-windows-out.log`?

[2020-02-21 09:20] NancyLi1013 commented on #10141
Hi @algobot76

Thanks for posting this issue.

Since `sqlite-orm` does not provide an exported cmake file now.
So we cannot use `find_package(sqlite_orm CONFIG REQUIRED)` to find this library.
Maybe you can use `find_path()` and `find_library()` to find it.

[2020-02-21 09:33] wallhided commented on #9927
use param for installing
`export VCPKG_FORCE_SYSTEM_BINARIES=ON`
and then error with git disappear

[2020-02-21 09:38] DA40 commented on #10149
Hi Lily,

That log file is attached at the end of my bug report.

Regards,

Keith MacDonald

From: Lily <notifications@github.com>
Sent: 21 February 2020 09:18
To: microsoft/vcpkg <vcpkg@noreply.github.com>
Cc: DA40 <keithmac66@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/vcpkg] [cairo:x64-windows] build failure (#10149)

@DA40<https://github.com/DA40> thanks for post

[2020-02-21 09:51] martinboers opened #10156 "[protobuf] Handle cross-compilation on Linux host"
When cross-compiling on an x64-linux host using a custom triplet, the `protoc` binary is not copied from the x64-linux installation directory.

The `portfile.cmake` file already handles cross-compilation on a Windows host (thank you!). This behaviour should be replicated to handle cross-compilation on a Linux host.

I can't think of any feasible alternatives.

[2020-02-21 10:33] PhoebeHui commented on #10152
@Sangguk-Cha, do you install ATL/MFC component? if not, could you installed it by visual studio installer? I can't repro this issue, it built successfully for me.

![image](https://user-images.githubusercontent.com/20694052/75026801-83da1c80-54d8-11ea-86ce-82c91a3cb8e0.png)

[2020-02-21 10:57] needfulthing commented on #9962
Very strange, can it be that if I first installed without the -disableMetrics and then ran the batch again with the parameter, it does not work? I will try again and if you're right, I'll close the ticket.

[2020-02-21 11:38] martinboers opened #10157 "[grpc] Turn off codegen for additional arm architectures"
At present `portfile.cmake` turns off `gRPC_BUILD_CODEGEN` based (partly) on the following:

[code]

I propose that this be extended to other ARM architectures, e.g. armel, armhf, arm32v7, ... which will help when cross-compiling grpc for these architectures.

Perhaps the condition in `portfile.cmake` could be changed to:

[code]

... but perhaps there are ARM architectures for which the grpc code

[2020-02-21 12:30] JackBoosY commented on #10130
Duplicate with #10095.

[2020-02-21 12:30] #10130 closed

[2020-02-21 13:27] JackBoosY commented on #5790
After modifying `WIN32` to `_WIN32` and `#ifdef CELERO_STATIC` to `#if 1`, the example code builds successfully.
I used the official sample code on the github [homepage](https://github.com/DigitalInBlue/Celero#using-the-code).

I did not meet the link error you mentioned.

[2020-02-21 13:37] JackBoosY commented on #10139
Hi @theoractice, thanks for reporting this issue!
Could you add `DISABLE_PARALLEL_CONFIGURE` to `vcpkg_configure_cmake` in _VCPKG_PATH/ports/opencv4/portfile.cmake_ and try again?

Thanks.

[2020-02-21 13:38] JackBoosY commented on #3460
Hi @elmewo, thanks for reporting this issue!
Since qt5 has been updated to 5.12.5, can you update vcpkg and repro this issue?

Thanks.

[2020-02-21 13:58] JackBoosY commented on #10143
Confirmed.

[2020-02-21 14:26] theoractice commented on #10139
@JackBoosY Building always fails after I set the `DISABLE_PARALLEL_CONFIGURE`:
[code]
I don't have any antivirus software installed on my machine, even Windows Defender is also disabled.

[2020-02-21 14:28] JackBoosY commented on #10143
Confirmed.

[2020-02-21 14:30] RonWuYi opened #10160 "[New Port Request] tsduck"
Library name:
tsduck

Library description:
TSDuck is an extensible toolkit for MPEG/DVB transport streams.

Source repository URL:
https://github.com/tsduck/tsduck

Project homepage (if different from the source repository):
https://tsduck.io/

Anything else that is useful to know when adding (such as optional features the library may have that should be included):
N/A

[2020-02-21 14:33] JackBoosY commented on #10153
Confirmed, we need to disable `vdpau` using param `--disable-vdpau`.

[2020-02-21 15:19] JackBoosY commented on #4028
Since hdf5 officially exported namespace `hdf5::`, I think we should use `hdf5::hdf5-shared hdf5::hdf5_hl-shared` or `hdf5::hdf5-static hdf5::hdf5_hl-static`.

[2020-02-21 17:37] ghost opened #10166 "What is the proper syntax for VCPKG_ENV_PASSTHROUGH?"
What is the proper syntax for **VCPKG_ENV_PASSTHROUGH** in vcpkg triplets on Windows x64?
- I found information here "https://devblogs.microsoft.com/cppblog/vcpkg-2019-07-update/" but it does not give the syntax.
- I also found a discussions here "https://github.com/Microsoft/vcpkg/issues/3712", "https://github.com/microsoft/vcpkg/issues/7127" and "https://github.com/microsoft/vcpkg/issues/7328"
-

[2020-02-21 21:34] ayermolo opened #10169 "[Folly] linking folly and gflag"
I am building folly using vcpkg and trying to link against it in VS 2017 project.
The Visual Solution can't find gflags_shared.lib.
Poking around looks like in folly-targets.cmake it lists: gflag_shared.
The gflags project itself builds, also using vcpkg, gflag.lib and gflag_debug.lib

Probably ports/folly/portfile.cmake can be modified to fix it up? This should do the trick:
string(REPLACE "gflag

[2020-02-22 01:11] traumedy opened #10171 "[freeglut] build failure"
**Host Environment**
- Windows 10
- Visual Studio 2017 19.16.27035
- vcpkg 2020.02.04-nohash

**To Reproduce**
`vcpkg install freeglut:x64-windows`
`vcpkg install freeglut:x86-windows`

**Failure logs**
[code]

[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/4238627/install-x64-windows-dbg-out.log)
[install-x64-windows-dbg-out-1.log](https://github.com/microsoft/vcpkg/fi

[2020-02-22 02:39] JackBoosY commented on #10139
@theoractice Could you remove `DISABLE_PARALLEL_CONFIGURE`, go to _VCPKG_PATH/buildtrees/opencv4/x86-windows-dbg/_ and run the following command using cmd:
[code]

[2020-02-22 02:54] past-due opened #10172 "[openal-soft] Update to 1.20.1"
Library name: OpenAL-soft

New version number: 1.20.1

Numerous important changes / fixes:

Source: https://github.com/kcat/openal-soft/blob/711c05613eceeda0e02a6c16080f725ff60cb33f/ChangeLog

[2020-02-22 06:00] theoractice commented on #10139
@JackBoosY
[code]
I think basically it says cannot open file “opengl32.lib”, however the opengl lib is there. I tried to reinstall opengl and this error still exists.

[2020-02-22 06:18] zhangfuwen opened #10173 "[qt5:x64-osx] build failure"
**Host Environment**
- OS: [MacOS Catalina 10.15.3]
- Compiler: Apple clang version 11.0.0 (clang-1100.0.33.17)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install qt5:x64-osx`

**Failure logs**
-Cut and past the appropriate build messages from the console output.
[code]
-Please attach any additional failure logs mentioned in the console output.

**Additional context**
Add any othe

[2020-02-22 07:08] yihongyishui commented on #9549
It is possible because the vcpkg is not installed in the system disk.

[2020-02-22 08:59] bleze opened #10174 "[tesseract] Add port for creating dynamic library instead of command line"
Installing tesseract will produce the command line version static linked with library. It would be nice to be able to build the dynamic link library of tesseract to be used from another application.
I know it's possible with CMake but that defeats the purpose of vcpkg.

[2020-02-22 11:13] linquize commented on #10174
modify `triplets/x64-linux.cmake`
change `VCPKG_LIBRARY_LINKAGE` to `dynamic`

[2020-02-22 11:14] linquize commented on #10174
To customize for own use,
modify `triplets/x64-linux.cmake`
change `VCPKG_LIBRARY_LINKAGE` to `dynamic`

[2020-02-22 19:04] cecilios opened #10176 "[glib] BUILD_FAILED trying to install FluidSynth"
**Host Environment**
- OS: Windows 10 Home, version 1903, OS Build 18362.657
- Compiler: I don't know what vcpkg is using. I only installed MS Visual Studio.

**To Reproduce**
`./vcpkg install fluidsynth:x64-windows-static`

**Failure logs**
**********************************************************************
** Visual Studio 2019 Developer Command Prompt v16.4.4
** Copyright (c) 2019 Microsoft

[2020-02-22 19:23] cenit commented on #10114
[code]

happening also on my Mac. This is clearly something unrelated to wsl, windows, ...
Judging from recent rise in filesystem issues, I think some damage might have been done inside Vcpkg

[2020-02-22 19:43] kreuzerkrieg opened #10177 "[libmariadb:x64-linux] build failure"
Starting package 1/12: libmariadb:x64-linux
Building package libmariadb[core]:x64-linux...
-- Using cached /home/user/Development/vcpkg/downloads/MariaDB-mariadb-connector-c-8e9c3116105d9a998a60991b7f4ba910d454d4b1.tar.gz
-- Extracting source /home/user/Development/vcpkg/downloads/MariaDB-mariadb-connector-c-8e9c3116105d9a998a60991b7f4ba910d454d4b1.tar.gz
-- Applying patch md.patch
CMake Error at

[2020-02-22 23:19] rkitover opened #10178 "binary packages support"
I wrote a prototype for supporting binary packages in vcpkg in PowerShell:

https://github.com/rkitover/vcpkg-binpkg-prototype/

What do you guys think? Would it be worthwhile to work on this in the core?

[2020-02-23 04:13] dargonforce opened #10179 "icu build failure"
**Host Environment**
- OS: Windows 10
- Compiler:

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install icu:x64-windows`

**Failure logs**
[log.txt](https://github.com/microsoft/vcpkg/files/4240587/log.txt)

**Additional context**
None

[2020-02-23 06:20] clouds56 opened #10180 "[ffmpeg] Which FindFFMPEG.cmake should I use"
**Is your feature request related to a problem? Please describe.**
I'm using vcpkg for ffmpeg on macOS to build [obs-studio](https://github.com/obsproject/obs-studio).
The obs-studio set CMAKE_MODULE_PATH to its cmake folder, which contains FindFFmpeg.cmake.
Since in vcpkg-cmake-wrapper.cmake, the FindFFMPEG.cmake provided by vcpkg would take the lowest priority,
[code]
The project won't compile s

[2020-02-23 08:46] kreuzerkrieg opened #10181 "[hyperscan:x64-linux] build failure"
The build fails with inability to detect avx2/sse
/home/user/Development/vcpkg/buildtrees/hyperscan/config-x64-linux-dbg-out.log contains following

config-x64-linux-dbg-err.log contains

I've tried to build the original library `master` branch and it works as expected

[2020-02-23 09:35] AlainMindana commented on #5579
@LarryIII  what code did you typed in the Windows Powershell.exe? Many thanks

[2020-02-23 09:47] AlainMindana commented on #5579
@LarryIII what command did you used to install FFMPEG in Windows Powershell

[2020-02-23 09:54] MarkIngramUK commented on #6832
@LilyWangL , is it not a requirement that all packages support `find_package`?

[2020-02-23 11:05] jayeshbadwaik commented on #10089
I can confirm this bug on linux as well.

[2020-02-23 11:39] cenit commented on #10114
also on Mac, I can confirm that creating the buildtrees/opencv4 folder manually before the installation is enough to bypass the problem

[2020-02-23 12:27] mikhael4ever commented on #8444
same here Error: Building package libmariadb:x64-windows failed with: BUILD_FAILED

[2020-02-23 12:56] cenit commented on #10114
in fact, I can't see any place in  #10063 where it's make sure that the folder exists before opening the file in it

[2020-02-23 14:07] stephenanthonylewis opened #10183 "[<port name>] update to <version>"
Library name:

New version number:

Other information that may be useful (release notes, etc...)

[2020-02-23 14:23] stephenanthonylewis opened #10184 "[<port name>] build failure"
**Host Environment**
- OS: [e.g. Windows/Linux etc...]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install xxxx`

**Failure logs**
-Cut and past the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

**Additional context**
Add any other context about the problem here, such as what you

[2020-02-23 14:27] mikhael4ever commented on #10024
same here Error: Building package libmariadb:x64-windows failed with: BUILD_FAILED

[2020-02-23 15:06] cgarmstr opened #10185 "[cgal] build failure"
**Host Environment**
- OS: [Windows 10]
- Compiler: Microsoft Visual Studio Community 2019
Version 16.4.5

**To Reproduce**
Steps to reproduce the behavior:

PS C:\Users\cecil\vcpkg> .\vcpkg update
Using local portfile versions. To update the local portfiles, use `git pull`.
No packages need updating.
PS C:\Users\cecil\vcpkg> .\vcpkg.exe install cgal
Computing installation plan...
The following pa

[2020-02-23 15:42] DragonStorm97 opened #10186 "entt update to v3.3.0"
Library name: entt

New version number: v3.3.0

Other information that may be useful (release notes, etc...):  https://github.com/skypjack/entt

[2020-02-23 16:47] Raffaello opened #10187 "should vcpkg have interoperability with other pkg managers?"
**external dependency to "install" boost (boost-python) required: numpy, failed**

I have just look around a little in some other issues, 1 here for eg:
https://github.com/microsoft/vcpkg/issues/78

nothing about to clarify my "user" thought about `vcpkg`:

Should not vcpkg, doing some other "meta-pacakage" management too? for eg, like in this case, `numpy` lib is required to install `boost-python

[2020-02-23 18:51] rkitover commented on #9916
I was trying to diagnose this issue and I made a tool to help me repeatedly reproduce the error:

https://github.com/rkitover/vcpkg-binpkg-prototype/

this is still a work in progress, and I need to check a few things for accuracy, but I may start using this.

But anyway, with this you can make a package of the outdated package, and when the failed upgrade operation deletes it, you can reinstall i

[2020-02-23 23:17] ja3067 commented on #3963
This is no longer a problem. vcpkg is now able to find CUDA without any issues. Thanks for the update!

[2020-02-23 23:17] #3963 closed

[2020-02-24 01:19] nicolas-gervais opened #10188 "Error: Building package opencv4:x86-windows failed with: BUILD_FAILED"
**Host Environment**
- OS: Windows
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg install pthreads opencv[cuda,ffmpeg]`

**Failure logs**
[code]

[2020-02-24 01:27] PhoebeHui commented on #10177
Duplicated to https://github.com/microsoft/vcpkg/issues/10177.

[2020-02-24 01:27] #10177 closed

[2020-02-24 01:43] PhoebeHui commented on #10184
It seems that you create a invalid bug. If not, please reopen this issue and fill the related information.

[2020-02-24 01:43] #10184 closed

[2020-02-24 01:44] PhoebeHui commented on #10183
It seems that you create an invalid bug. If not, please reopen this issue and fill the related information.

[2020-02-24 01:44] #10183 closed

[2020-02-24 03:01] pourounas opened #10189 "[libmysql:x64-osx] Building package libmysql:x64-osx failed with: BUILD_FAILED"
**Host Environment**
- OS: x64-osx
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install libmysql
[config-x64-osx-dbg-err.log](https://github.com/microsoft/vcpkg/files/4242991/config-x64-osx-dbg-err.log)
[config-x64-osx-dbg-out.log](https://github.com/microsoft/vcpkg/files/4242994/config-x64-osx-dbg-out.log)

**Failure logs**
-- Configuring x64-osx-dbg
CMake Erro

[2020-02-24 03:04] JackBoosY commented on #10173
Hi @zhangfuwen, thanks for reporting this issue.
Please provide failure log _/Users/dean/Projects/CLionProjects/vcpkg/buildtrees/qt5-imageformats/config-x64-osx-rel-out.log_.

Thanks.

[2020-02-24 03:10] JackBoosY commented on #10024
Hi @mikhael4ever, could you use #10043 changes?

[2020-02-24 03:28] haimingZZ commented on #9172
I have met the same question. I can build open3d with vcpkg, but some linking problems happens when using open3d in VS2017.

Please add open3d, can't be more appreciate!!!

[2020-02-24 03:50] how0723 opened #10190 "[New Port Request] <brpc>"
Library name: brpc

Library description: Industrial-grade RPC framework used throughout Baidu, with 1,000,000+ instances and thousands kinds of services, called "baidu-rpc" inside Baidu.

Source repository URL: https://github.com/apache/incubator-brpc

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the librar

[2020-02-24 05:22] kreuzerkrieg commented on #10177
???
THIS IS #10177 !!!

[2020-02-24 06:27] NancyLi1013 commented on #10176
Hi @cecilios

Thanks for posting this issue.
Since `glib ` doesn't support static build for Windows.
The issue you encountered is intended.
Please refer to the detail info here #3409.

[2020-02-24 06:27] #10176 closed

[2020-02-24 06:48] NancyLi1013 commented on #10171
Hi @traumedy

Thanks for posting this issue.
Could you please remove `freeglut `source codes from `buildtrees `and try to build it again?
or clone vcpkg to a clean environment and then build it?

[2020-02-24 06:58] PhoebeHui commented on #10177
Sorry, it's my fault. Updated.

[2020-02-24 09:06] grimgort opened #10192 "zlib build failure"
hello .
i have no admin right

[config-x86-windows-out.log](https://github.com/microsoft/vcpkg/files/4243678/config-x86-windows-out.log)

./vcpkg.exe install zlib
Computing installation plan...
The following packages will be built and installed:
    zlib[core]:x86-windows
Starting package 1/1: zlib:x86-windows
Building package zlib[core]:x86-windows...
Warning: The following VS instances are exclu

[2020-02-24 09:16] cecilios commented on #10176
Ok, thank you for the quick answer!

[2020-02-24 09:32] NancyLi1013 commented on #10122
Hi @BullyWiiPlaza

Thanks for posting this issue.
Could you please try to set `VCPKG_TARGET_TRIPLET` as `x64-windows-static` and then build it again?

[2020-02-24 09:40] hotbroker opened #10193 "How do I undefine a MACRO"
here is piece of code in libcurl:
[code]
i would like to un define USE_SOCKETPAIR ,how do i do that .i know there r some config inside port directory from vcpkg,but i just dont know how to do that .I would appreciate that if someone can help me out

[2020-02-24 09:47] timzimm opened #10194 "[fftw3] OpenMP enabled targets missing?"
Hello everybody,

I've built fftw3 with openmp support on a Linux machine and everything went smoothly, i.e. all the libs (including fftw3_omp) exist after the installation. However, it seems like there is no dedicated cmake target for fftw3 with openmp but only the non-threaded lib targets get exported as FFTW3::fftw3. Going through FFTW3LibraryDepends.cmake in $VCPKG_ROOT/installed/x64-linux/sha

[2020-02-24 09:59] aPSopt commented on #9916
me too :(
win10, msvs - last version

[2020-02-24 10:13] bleze commented on #10174
@linquize, thanks! However it does not make a difference when I try it.
I'm building x64 on Win10, where the triplet is already set to dynamic. I changed it for the linux file anyways, but still I do not get the tesseract dll

[2020-02-24 10:28] PhoebeHui commented on #10185
@cgarmstr, could you work around this issue as following steps:

1. Download https://github.com/CGAL/cgal/archive/releases/CGAL-5.0.1.tar.gz manually.
2. Rename it to CGAL-cgal-releases-CGAL-5.0.1.tar.gz, and put it to .\vcpkg\downloads\
3. Try to build again.

[2020-02-24 10:39] RollingIsland opened #10195 "[opencv3]build failure"
**Host Environment**
- OS: Windows 10

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg install opencv3[nonfree,contrib,cuda]:x64-windows`

**Failure logs**
The following packages will be built and installed:
    opencv3[contrib,core,cuda,dnn,flann,jpeg,nonfree,opengl,png,tiff,webp]:x64-windows
Starting package 1/1: opencv3:x64-windows
Building package opencv3[contrib,core,cuda,dnn,flann

[2020-02-24 12:19] PhoebeHui commented on #10179
@dargonforce, could you try following steps:
1. Download http://repo.msys2.org/distrib/x86_64/msys2-base-x86_64-20181211.tar.xz manually
2. Put it to .\VCPKG\downloads\msys2-base-x86_64-20181211.tar.xz
3. Try to build again.

[2020-02-24 13:29] tibdev12 commented on #10135
@PhoebeHui
What i have done:
- upgrade VS to the newest version
- remove all SDK from C:\Program Files\Windows Kits\
- install SDK, just newest version by VS installer
- reinstall vcpkg

And it works! Thank you for your suggestion. I think we can close this thread.

[2020-02-24 13:30] dargonforce commented on #10179
the build is working normally now, must have been a short outage from repo.msys2.org, thanks

[2020-02-24 13:30] #10179 closed

[2020-02-24 13:48] linquize commented on #10174
Windows vcpkg default triplets (x86-windows, x64-windows)  are dynamic
x86-windows-static,  x64-windows-static are static

[2020-02-24 13:49] akamrecs opened #10198 "[New Port Request] <Caffe>"
Library name: Caffe

Library description: Caffe, a fast open framework for deep learning.

Source repository URL: https://github.com/BVLC/caffe

Project homepage: http://caffe.berkeleyvision.org/

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2020-02-24 13:53] bleze commented on #10174
But, then it should work without changing any files? But it does not. Tesseract lib is linked static into command line exe. The dependencies like Leptonica is dynamic.

[2020-02-24 14:07] RollingIsland commented on #10195
Solved. The solution is to run Windows PowerShell as Administrator.

[2020-02-24 14:41] NancyLi1013 commented on #10189
Hi @pourounas

Thanks for posting this issue.
It's duplicated to #5204.

[2020-02-24 14:41] #10189 closed

[2020-02-24 16:18] linquize commented on #10192
Please post the content of your `D:\ftarroux\Logiciel\vcpkg\buildtrees\zlib\config-x86-windows-out.log`

[2020-02-24 16:39] traversaro commented on #10198
Related issue: https://github.com/microsoft/vcpkg/issues/8093 .

[2020-02-24 17:06] timautry commented on #10192
vcpkg needs the following installed to function:
- Desktop development with C++
- English Language Pack
- Windows SDK

vcpkg is telling you to install the **English Language Pack:**

Computing installation plan...
The following packages will be built and installed:
zlib[core]:x86-windows
Starting package 1/1: zlib:x86-windows
Building package zlib[core]:x86-windows...
**Warning: The following VS i

[2020-02-24 17:11] curoky opened #10199 "vcpkg fails to download files using --x-use-aria2 when destination folder/directory does not previously exist"
when var `vcpkg_download_distfile_FILENAME` contains '/', the following path will not exist.

1. download-${vcpkg_download_distfile_FILENAME}-detailed.log
2. download-${vcpkg_download_distfile_FILENAME}-out.log
3. download-${vcpkg_download_distfile_FILENAME}-err.log

https://github.com/microsoft/vcpkg/blob/ef60f1d9b97fab6fcc61651936196866bb6553d0/scripts/cmake/vcpkg_download_distfile.cmake#L126-L1

[2020-02-24 17:36] Voskrese opened #10200 "[jom] update to 1.1.4"
jom 1.1.4, the parallel make tool.

_Other information that may be useful (release notes, etc...)_
https://github.com/qt-labs/jom/blob/master/changelog.txt

https://github.com/qt-labs/jom/commits/master

deps - Qt5

`
vcpkg env --triplet x64-windows`

`cmake E:\tools\vcpkg\downloads\tools\jom\jom-1.1.4 -G "NMake Makefiles" -DCMAKE_PREFIX_PATH="E:\tools\Qt\Qt5.14.0\5.14.0\msvc2017_64" -DCMAKE_INSTA

[2020-02-24 20:25] traumedy commented on #10171
I deleted the entire builtrees directory and rebuilt freeglut and it does in fact build fine now.

[2020-02-24 20:25] #10171 closed

[2020-02-24 21:41] Pospelove opened #10203 "[New Port Request] KWSys"
**Library name:**

KWSys

**Library description:**

KWSys is the Kitware System Library.  It provides platform-independent
APIs to many common system features that are implemented differently on
every platform.  This library is intended to be shared among many
projects at the source level, so it has a configurable namespace.

**Source repository URL:**

https://gitlab.kitware.com/utils/kwsys

[2020-02-24 22:39] ras0219-msft commented on #9916
Thanks everyone for identifying this regression so quickly and providing awesome repro steps!

It should be fixed on master via PR #10202.

[2020-02-24 22:39] #9916 closed

[2020-02-24 23:37] cgarmstr commented on #10185
CGAL installed ok when I followed your suggestion.

However when I try and build the Triangulation_2 example at https://doc.cgal.org/latest/Manual/windows.html
![image](https://user-images.githubusercontent.com/7409913/75200302-43d79b80-575d-11ea-91ef-11e15cc1a95b.png)

This is a copy of the error message produced:
[error-msg.txt](https://github.com/microsoft/vcpkg/files/4247350/error-msg.txt)

He

[2020-02-24 23:38] cgarmstr commented on #10185
Sorry - I doidn't mean to close the issue.

[2020-02-25 00:06] AmmarAlbakri opened #10204 "Error: Building package libiconv:x86-windows failed with: BUILD_FAILED"
[code]

[2020-02-25 00:48] PhoebeHui commented on #10185
@cgarmstr, do you execute './vcpkg integarte install' after install cgal?

[2020-02-25 05:47] cenit commented on #10188
Could you please post the content of the file `C:\Users\Nicolas\Documents\vcpkg\buildtrees\opencv4\config-x86-windows-out.log`?

[2020-02-25 06:38] crackedmind commented on #10172
But it's alreay 1.20.1 since February 10
https://github.com/microsoft/vcpkg/blob/master/ports/openal-soft/CONTROL#L2

[2020-02-25 08:19] SSouper opened #10206 "Invalid option value: '-Source'"
**Describe the bug**
Upon running vcpkg install whatever after bootstrapping, it goes ahead and downloads whatever it needs but it fails extracting 7zip with this error message:

`Failed to extract 'C:\Users\redacted\vcpkg\downloads\7-zip.commandline.18.1.0.nupkg' with message:
Invalid option value: '-Source C:\Users\redacted\vcpkg\downloads'
NuGet.CommandLine.CommandLineException: Invalid option

[2020-02-25 08:49] nirzaf commented on #9949
"If you need to use it now, please add this code to portfile.cmake and build it agiain."
May I know Where to add that code please?

[2020-02-25 08:50] nirzaf commented on #9949
"If you need to use it now, please add this code to portfile.cmake and build it again."
May I know where to add that code, please?

[2020-02-25 09:08] nirzaf commented on #9949
![image](https://user-images.githubusercontent.com/18024930/75231766-0f56f480-57dc-11ea-84db-c1ad39ae016b.png)

I have added those lines inside the file following file  "vcpkg\ports\ffmpeg\portfile.cmake" at end of the namespace as shown in the above screenshot, still that problem exists, may I know have I done it correctly or something wrong in the approach?

![image](https://user-images.githubus

[2020-02-25 09:10] LilyWangL commented on #10172
Thanks for posting this issue. Port openal-soft has been updated to version 1.20.1 in PR #9986, you can update vcpkg and build it.

[2020-02-25 09:10] #10172 closed

[2020-02-25 09:37] NancyLi1013 commented on #9949
Hi @nirzaf

Since the path you build contains spaces.
Please try to clone vcpkg to a directory without spaces and build it again.

[2020-02-25 10:04] NancyLi1013 commented on #10192
Hi @grimgort

Thanks for posting this issue.
As @timautry said above, please install English language pack in Visual Studio first. Then try to build it again.

@linquize @timautry thanks for your above info.

[2020-02-25 10:33] nirzaf commented on #9949
Thanks for your response, but still I got the same output
![image](https://user-images.githubusercontent.com/18024930/75239237-5ea32200-57e8-11ea-9d5e-e96aa1e3a8bc.png)

[2020-02-25 10:52] jubaer-ad commented on #5579
Having the same problem with powershell command ".\vcpkg install pthreads opencv[cuda,ffmpeg]".
Log:
PS C:\Users\JuBaer AD\vcpkg> .\vcpkg install pthreads opencv[cuda,ffmpeg]
Computing installation plan...
The following packages will be built and installed:
  * cuda[core]:x64-windows
  * ffmpeg[avresample,core]:x64-windows
  * hdf5[core,szip,zlib]:x64-windows
  * libjpeg-turbo[core]:x64-windows

[2020-02-25 11:19] QuintusOostendorp opened #10209 "[qt5-base[core]:x64-osx] build failure"
**Host Environment**
- OS: macOS 10.14.4
- Compiler: Apple clang version 11.0.0 (clang-1100.0.33.17)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install qt5`

**Failure logs**

**Console output:**
[code]
**Contents of the build error log:**
[code]
**Additional context**
I did update vcpkg to the latest version and I've also installed the latest version of Xcode and the CLI tools.

[2020-02-25 11:44] zaskar9 commented on #8463
Better yet: skip version 9.0.1 and directly go to version 10.0.0! Final tag will be tomorrow (February 26, 2020).

[2020-02-25 11:47] NancyLi1013 commented on #9949
Please check if you have access to this URL first.
`https://www.tortall.net/projects/yasm/snapshots/v1.3.0.6.g1962/yasm-1.3.0.6.g1962.exe`

[2020-02-25 12:21] PhoebeHui commented on #10199
@curoky, thanks for reporting this issue!

I think the the file name should not contain the '/' here, I have updated nlohmann-json to use vcpkg_from_github.

[2020-02-25 12:34] NancyLi1013 commented on #10200
Hi @Voskrese

Thanks for posting this issue.
It seems that there is no released version 1.1.4 for jom now.
Besides this, the url you provided above is not the same as that vcpkg used now.

[2020-02-25 12:58] PhoebeHui commented on #10206
@supertransformer, I can't repro this issue with latest vcpkg source, could you get vcpkg clean source and see if this issue still occur?

PS E:\vcpkg\clean\vcpkg> ./vcpkg install nlohmann-json
Computing installation plan...
The following packages will be built and installed:
    nlohmann-json[core]:x86-windows
Starting package 1/1: nlohmann-json:x86-windows
Building package nlohmann-json[core]:x8

[2020-02-25 13:07] BullyWiiPlaza commented on #10122
Thank you. That seems to get me one step closer to solving the problem. When I modify my `CMakeSettings.json` file to include the following entry:

[code]

It compiles successfully but fails during linking:
`Error	LNK2005	"private: static class std::locale::_Locimp * __cdecl std::locale::_Getgloballocale(void)" (?_Getgloballocale@locale@std@@CAPEAV_Locimp@12@XZ) already defined in msvcprt.lib(MSVC

[2020-02-25 13:12] curoky commented on #10199
@PhoebeHui Great! That sloved my problem.
But there are still some incorrect file names, maybe need doing some change in `vcpkg_download_distfile`.

[code]

[2020-02-25 13:17] supertransformer commented on #10206
@PhoebeHui I got a clean source and [this](https://www.youtube.com/watch?v=Duz_CqFbNyU) is what happened.

[2020-02-25 13:36] JackBoosY commented on #10193
I checked the source code and did not define `HAVE_SOCKETPAIR` anywhere. This macro should not be enabled.

[2020-02-25 13:45] JackBoosY commented on #10204
Please provide failure log _C:\Users\lenovo\vcpkg\buildtrees\libiconv\install-x86-windows-dbg-out.log_.

Thanks.

[2020-02-25 14:22] ocornut opened #10212 "How do I apply 'vcpkg integrate' to e.g. v140 toolchain with v142 installed?"
Hello,

I have installed VS 2019 (v142) along with the 2015 and 2017 toolchains (v140 and v141) which are available in the VS 2019 installer.
(The reason is I am developing a free software which aims for high compatibility with many toolchains, I am testing dozen of compilers down to VS 2010 etc., so even though I am using the VS 2019 IDE I need to use older compilers on an daily basis.)

When I u

[2020-02-25 14:38] AmmarAlbakri commented on #10204
[1/7] C:\PROGRA~2\MICROS~3\2019\PROFES~1\VC\Tools\MSVC\1424~1.283\bin\Hostx64\x86\cl.exe   -DBUILDING_DLL=1 -DBUILDING_LIBCHARSET=1 -DBUILDING_LIBICONV=1 -DENABLE_RELOCATABLE=1 -DINSTALLDIR="\" -DLIBDIR=\"" -DIN_LIBRARY=1 -DLIBDIR="" -DNO_XMALLOC=1 -D_CRT_SECURE_NO_WARNINGS -Dlibcharset_EXPORTS -IC:\Users\lenovo\vcpkg\buildtrees\libiconv\src\1.16-de9101a181 -I. /DWIN32 /D_WINDOWS /W3 /utf-8 /MP  /

[2020-02-25 14:43] JackBoosY commented on #5884
Please reopen this issue if it still bother you.

[2020-02-25 14:43] #5884 closed

[2020-02-25 15:28] Voskrese commented on #10200
Hi @NancyLi1013
I suggest compiling the utility separately and uploading it here

https://github.com/microsoft/vcpkg/releases

![2020-02-25_232202](https://user-images.githubusercontent.com/10104740/75261755-7f8a6800-5826-11ea-867f-91884578d437.png)

[2020-02-25 15:58] hotbroker commented on #10193
u r right,but this is NOT what I care( FYI,source code will implement Curl_socketpair by it own,  instead calling API)

I just want to know if it is ok to remove the "socketpair system",controled by the "**USE_SOCKETPAIR** "

[2020-02-25 16:13] beckylum0216 opened #10213 "[bullet3] build failure"
**Host Environment**
- OS: Windows
- Compiler: msvc v14.2

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install bullet3`

**Failure logs**
[code]

[2020-02-25 16:20] cenit commented on #10114
I can reproduce the problem also on Windows. And with other ports too (example: libwebp)

[2020-02-25 16:55] christophe-calmejane commented on #10038
I'm having the exact same issue with openssl on macOS. My application is crashing on previous macOS version (I built using 10.15) because I'm unable to use VCPKG_OSX_DEPLOYMENT_TARGET to force openssl to build targetting a previous version of macOS.
I'll try @mjl5007 solution though, as I already have setup a custom triplet file.

Like it's said in the Triplets documentation, a triplet is used to

[2020-02-25 17:59] timautry commented on #10212
@ocornut
 - ".\vcpkg.exe integrate install" is system wide and user wide for the PC/Laptop
 - ".\vcpkg.exe integrate project" is the route I took, having a vcpkg instance setup for each version of visual studio and forcing each version to use the native toolset, compiler, link, etc for that version.
 - The initial setup required much thought, attention to detail, to make it versatile yet easy to w

[2020-02-25 18:06] Voskrese commented on #10200
just in case, may be useful to someone

[jom-1.1.4.zip](https://github.com/microsoft/vcpkg/files/4251352/jom-1.1.4.zip)

@NancyLi1013  close or let it be open for discussion?

[2020-02-25 18:39] timautry commented on #10199
- It would be helpful to explain exactly what type of problem being encountered by posting the exact output from the screen and logs from the port giving the problem?

- On a new vcpkg instance vcpkg will create the directories/folders/files within the vcpkg instance provided it has permissions to do so.

- The userid running the vcpkg scripts MUST have FULL control to the directories/folders and

[2020-02-25 19:17] timautry commented on #9916
@ras0219-msft @PhoebeHui
Thank you for fixing this!! I appreciate the hard work, and I don't know if this is a problem or not?
- In the past before this last vcpkg code upgrade, vcpkg would show the ports needing to be upgraded without any symbol preceding them
-  Only the ports needing to be rebuilt due to the upgrades would be shown with an asterisk preceding it
- In the example below, llvm and

[2020-02-25 22:19] #10115 closed

[2020-02-25 22:19] strega-nil commented on #10115
Fixed by #10116 :) Thanks Jack!

[2020-02-25 23:59] pablanche opened #10217 "[vcpkg] Support Code Runner"
I installed the C++ boost library using vcpg.
Now all the  squiggles marks have disappeared in my VS Code document. So the path should be OK.
However, when I run my cpp code in VS Code using Code Runner (0.9.16), I have the following message:
[code]
How should I configure  Code Runner (or else) so it finds the correct path?

[2020-02-26 00:22] AjitDingankar opened #10218 "[thread] build failure on x64-windows"
**Host Environment**
- OS: Windows
- Compiler: Microsoft (R) C/C++ Optimizing Compiler Version 19.24.28316 for x86

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install boost:x64-windows`

**Failure logs**
Starting package 67/148: boost-thread:x64-windows
Building package boost-thread[core]:x64-windows...
-- Using cached C:/Users/adingank/git/vcpkg/downloads/boostorg-thread-boost-1.7

[2020-02-26 02:07] JackBoosY commented on #10193
@hotbroker That's okay, but that's personal customization.
You need to modify source code in _VCPKG_PATH/buildtrees/curl/src/url_*_.
Just change `#ifndef HAVE_SOCKETPAIR` to `#if 0` will solve your issue. I guess.

[2020-02-26 02:12] JackBoosY commented on #10209
@Neumann-A Could you take a look?

Thanks.

[2020-02-26 02:28] curoky commented on #10199
@timautry   Yeah, in most cases, the parent directory will be created correctly. But the function `_execute_process ` which `vcpkg_download_distfile` used don't do it on follow args.
- `-l`
- `OUTPUT_FILE`
- `ERROR_FILE`

https://github.com/microsoft/vcpkg/blob/ef60f1d9b97fab6fcc61651936196866bb6553d0/scripts/cmake/vcpkg_download_distfile.cmake#L126-L135

In fact, cmake thinks these args are files

[2020-02-26 02:32] JackBoosY commented on #10204
`viet_comp_table` is defined in _vietcomb.h_, and this header included in _cp1258.h_ line 25, it shouldn't happend.

So I guess the reason is here:
[code]

Please provide your cmake version, remove _C:\Users\lenovo\vcpkg\buildtrees\libiconv\src\1.16-de9101a181_ and try to rebuild libiconv.

Thanks.

[2020-02-26 02:58] nirzaf commented on #9949
@NancyLi1013  I download it separately, when I click it, it was popping a window & disappeared within a fraction of second, moreover that link doesn't work always
in this [link](https://yadi.sk/d/usSwLO4lGvDFHg), you are able to download that file

[2020-02-26 02:58] curoky commented on #10199
Maybe in windows, `_execute_process` will create parent directory, I am not sure, because they have different implementations.

https://github.com/Kitware/CMake/blob/master/Source/kwsys/ProcessWin32.c#L1804-L1829

[2020-02-26 03:21] NancyLi1013 commented on #10218
Hi @AjitDingankar

Thanks for posting this issue.
Could you please try to remove _C:/Users/adingank/git/vcpkg/buildtrees/boost-thread_ and build it again?

[2020-02-26 03:23] akilisosa opened #10219 "add cmd to the instructions"
****

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I believe the documentation for vcpkg needs to be updated. I worked through the instructions in gitbash and powershell on a windows 10 computer, everything went well until the end when i was trying to run vcpkg as a command, and it w

[2020-02-26 04:02] timautry commented on #10199
@PhoebeHui **See additional comments, there is an issue with vcpkg install _PORT_ --x-use-aria2**

@curoky
- Are you running vcpkg using the option to download with ARIA2 instead of the default methods?
- I ask as the code snippets being posted appear to be dealing with the option to download using ARIA2 by using the --x-use-aria2 on the vcpkg install command?

If ARIA2 is not being used, then the

[2020-02-26 04:06] curoky commented on #10199
@timautry Yeah, I use `--x-use-aria2` to install package.

[2020-02-26 04:07] jubaer-ad commented on #9585
Hi @JackBoosY I am getting the same error as follows:
PS C:\vcpkg\vcpkg-master> .\vcpkg install pthreads opencv[cuda,ffmpeg]
Computing installation plan...
The following packages will be built and installed:
    opencv[core,cuda,dnn,ffmpeg,jpeg,opengl,png,tiff,webp]:x64-windows
  * opencv4[contrib,core,cuda,dnn,ffmpeg,jpeg,opengl,png,tiff,webp]:x64-windows
    pthreads[core]:x64-windows
Additional