[2021-03-01 07:48] paveb85394 opened #16469 "Visual studio auto install"
is there anyway in visual studio to make it automatically check if a pkg is installed if not install it from visual studio when it is opened or even at build time?

[2021-03-01 09:03] NancyLi1013 commented on #16448
Hi @ultrasound1372

Thanks for posting this issue.

It seems that the path is incorrect here.

[code]
It seems that you used CMD to install the ports, could you please use PowerShell to try it again?

[2021-03-01 09:18] Neumann-A commented on #16467
probably related
https://gitlab.com/gnutls/gnutls/-/issues/1033
https://gitlab.com/gnutls/libtasn1/-/issues/28
vcpkg just respects the cmake toolchain nothing more. The setting of VCPKG_C(XX)_FLAGS in the port is in this case also wrong since it does not respect user settings and is not configuration aware.

[2021-03-01 09:20] Neumann-A commented on #14225
No i dont have an osx machine so even if I do the changes I cannot test them. Somebody who needs these changes should do them and open up an PR for it.

[2021-03-01 09:22] soumyamahunt commented on #15087
This could be fixed if manifest supports defining triplet for dependencies explicitly.

[2021-03-01 09:22] Neumann-A commented on #5480
@JackBoosY. No need to CC me. vcpkg needs to first figure out how to deal with system libraries on a port basis. Until then there is nothing to do here. Newer Linux distros probably need/use `libgvnd` instead of `mesa` since it is vendor neutral.

[2021-03-01 09:25] #15694 closed

[2021-03-01 09:37] Neumann-A commented on #16466
this is due to vcpkg not setting `CMAKE_INCLUDE_PATH` in the toolchain file.

[2021-03-01 09:40] JackBoosY commented on #16466
@Neumann-A I think so.
And you can link to `websockets_shared` or `websockets_static` directly instead.

[2021-03-01 10:07] alexreinking opened #16474 "[hiredis] include path is broken"
****

**Is your feature request related to a problem? Please describe.**
The `hiredis::hiredis` imported target (on `x64-linux`, at least) sets up the include paths to be the vcpkg install prefix (ie. `installed/x64-linux`), rather than `installed/x64-linux/include`, so builds using it fail to `#include <hiredis/hiredis.h>`.

**Proposed solution**
Fix the include paths with a patch or appropriate

[2021-03-01 10:09] PhoebeHui commented on #16441
@StarGate-One, thanks for reporting this issue!

As 2021-02-24-d67989bce1043b98092ac45996a8230a059a2d7e released, the version should be
[code]

However it shows wrong version with 'vcpkg version' command, this should be a vcpkg bug. @ras0219-msft, could you please take a look?

[code]

[2021-03-01 10:18] Cheney-W commented on #16405
Thanks for your change!

[2021-03-01 10:26] meastp opened #16475 "Is there an MSBuild variable to add a triplet overlay path like VCPK_OVERLAY_TRIPLETS?"
I have looked in the documentation, but couldn't find an MSBuild variable/property to add a triplet overlay path.

Does this exist? If not, this is a feature request... :)

In combination with the manifests feature it would be useful to keep custom triplets in the project source repo, and not have to modify global environment variables like VCPKG_OVERLAY_TRIPLETS but instead keep the configuration

[2021-03-01 10:30] NancyLi1013 commented on #16435
Hi @autoantwort

Thanks for posting this issue.

Currently, we don't support cross compile. So please build this port on Windows with `x64-windows` or Linux` x64-linux`.

[2021-03-01 11:28] vignesh-arbadev commented on #3823
Yes, it resolved for me.

[2021-03-01 11:47] kuriboshi commented on #16456
If it's an upstream bug it looks more like a documentation bug.  I think the `ENABLE_NETSSL` and `ENABLE_NETSSL_WIN` are mutually exclusive on Windows and it seems that the latter takes precedence over the former.  I need to investigate this some more.  NetSSL_OpenSSL and NetSSL_Win have a different API (mentioned in `NetSSL_Win/doc/README.txt`).  As it is now there is no way for the `poco` port i

[2021-03-01 14:32] SoftwareApe opened #16476 "Failed to take the filesystem lock on /home/USER/vcpkg/.vcpkg-root, need to pkill curl to unlock"
**Describe the bug**
When running vcpkg install it works (exit code 0). When running it again, it says:

`Failed to take the filesystem lock on /home/USER/vcpkg/.vcpkg-root`

**Environment**
- OS: Ubuntu 18.04
- Corporate Proxy

**To Reproduce**
Have an install only install local overlay ports and a corporate proxy blocking access to the outside internet. However vcpkg shouldn't need internet acce

[2021-03-01 14:47] kzhdev commented on #16466
I can't link websockets_shared, websockets_static directly. I have to set the lib path manually in the CMakeList.txt to make it work.

[2021-03-01 16:26] strega-nil commented on #16463
Hmm, right; the issue is that these deprecation warnings are only meant to be followed for people who are writing ports, not for people who are installing ports... @ras0219, any ideas?

[2021-03-01 16:40] #16276 closed

[2021-03-01 16:42] strega-nil commented on #16405
The change hasn't been merged yet to the vcpkg repo, so I think we shouldn't close it yet.

[2021-03-01 16:44] strega-nil commented on #15087
@soumyamahunt that is not a feature that we are interested in supporting, since we don't think it's useful enough to outweigh the downsides. However, with the new host ports feature, we should now be able to support mpg123 on x64-windows.

[2021-03-01 17:03] terrylyons commented on #16454
With version 18 of cmake there is no error in the cmake. I have built the binaries in windows and Linux successfully several times. Sadly It builds without vcpckg integration disabled and loops with it.

Terry

On 1 Mar 2021, at 06:52, Jack·Boos·Yu <notifications@github.com> wrote:

﻿

1> CMake Error at extern/CMakeLists.txt:16 (FetchContent_MakeAvailable):
1>   Unknown CMake command "FetchContent

[2021-03-01 20:31] Neumann-A commented on #16457
closed by #13100

[2021-03-01 20:43] StarGate-One commented on #16463
@strega-nil
- In one respect, I was writing a port, a local one, one that is no longer maintained in vcpkg (which is beside the point), I was just getting a head start on converting my local ports over to use the new scripts, but yes the message first popped up after updating vcpkg with a `git pull` and then doing a `vcpkg remove` then `vcpkg install` of the ports changed, as it installed the 2 vc

[2021-03-01 21:50] tlestang opened #16481 "[sundials] CMake targets file references non-existing dll file"
Hi there, first of all thank you for your work on vcpkg!

I'm trying to use the [SUNDIALS](https://computing.llnl.gov/projects/sundials) library on Windows 10, which was straightforward to install using vcpkg (sundials 5.5.0)
[code]

However CMake's `find_package` fails to find SUNDIALS. If I use the following simple `CMakeLists.txt`:
[code]
the configure step fails with the following output:
[cod

[2021-03-01 21:57] adammpolak commented on #16329
@JackBoosY if #14750  also solves the issue of https://github.com/microsoft/vcpkg/issues/12995#issuecomment-678080450 cannot find USB then I think it might.

I will try to install it again once the PR is merged. Will it be as easy as re-installing vcpkg from gitclone?

[2021-03-01 22:10] strega-nil commented on #16463
@StarGate-One the point of these ports is that the user _should never_ be installing these on their own; they are only used as helpers. The whole point of them is that ports like this are supposed to replace the scripts tree for certain scripts. Therefore, the only "useful" way to use them is as a host port, since it's a tool.

[2021-03-01 22:25] StarGate-One commented on #16463
@strega-nil
1. We did not install them, vcpkg did on both Windows and then both Linux installs on WSL2 and Hyper-V... A total of 8 vcpkg instances.
2. We did try to install the x86-windows which failed, when vcpkg could not find the x64-windows it did install.
3. Since we have local ports, which are not in the ports provided on the vcpkg repo (and never will since they are proprietary), we should

[2021-03-01 22:26] errata-c opened #16483 "Calls to find_dependency with package name 'glew' fail."
**Describe the bug**
Calls to `find_dependency` with package name `glew` fail even when the library is installed.

**Environment**
- OS: Windows 10 64 bit, OS build 19042.804
- Compiler: MSVC 19.28.29337.0
- Vcpkg package management program version 2021-01-13-d67989bce1043b98092ac45996a8230a059a2d7e

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install glew:x64-windows
2. call `fin

[2021-03-01 22:50] ultrasound1372 commented on #16448
Attempted to do it from powershell with `.\vcpkg install portaudio:x64-windows`, same result. I have no idea how this happened, as I did a complete re-clone and started fresh and it still did this.

[2021-03-01 22:57] acceleratxr commented on #13614
Hi,

I'm having the same problem when including `poco` as a depedency to my project. My CMakeLists.txt file has the following:

[code]

When running cmake on Linux it generates without issue. However, on Windows I get the following output errors.

[code]

[2021-03-01 22:57] StarGate-One commented on #16463
Additional Information, it appears there are 3 ports already using the new cmake scripts:

[2021-03-01 22:59] acceleratxr opened #16484 "[poco] build failure, Could NOT find ZLIB"
**Host Environment**
- OS: Windows
- Compiler: MSVC2019

**To Reproduce**
Create a cmake file with the following...
[code]

**Failure logs**
[code]

[2021-03-01 23:17] m-kuhn opened #16485 "How do I use Qt in github workflows"
I have an application I would like to build in a ci, preferably github workflows. Among the dependencies is Qt.

I have tried to build it and it failed with qt5-declarative. I could go on and open an issue for this error, hopefully fix it and then live with the cached build until the next version update of qt.

Now I'm not particularly keen to burn cpu cycles and maintain this build, so before doi

[2021-03-01 23:17] StarGate-One commented on #16463
There is an additional deprecation about FEATURES keyword now:

  calling `vcpkg_check_features` without the `FEATURES` keyword has been
  deprecated.

We do set the environment variable `VCPKG_FEATURE_FLAGS` to **turn off** all the features we are not using:
`VCPKG_FEATURE_FLAGS=-binarycaching,-compilertracking,-manifests,-registries,-versions`
Does this mean to change our scripts to somehow othe

[2021-03-01 23:23] strega-nil commented on #16463
@StarGate-One alright, I'll answer your questions one at a time:

1. Yeah, correct
2. Don't try to install these yourself, they're just helper ports to be depended upon by other ports
3. Yes, you should switch to the new scripts if you have the time; you should depend on the `vcpkg-cmake` port as a host dependency (i.e., in `"dependencies"` of your vcpkg.json, you'd put `{ "name": "vcpkg-cmake", "

[2021-03-02 00:05] ranjeethmahankali opened #16486 "[qt5-base] Feature 'xcb' was enabled, but the pre-condition 'features.thread && libs.xcb && tests.xcb_syslibs && features.xkbcommon-x11' failed."
[code]
Also I keep seeing this message:
[code]
Even though libxkbcommon-x11-dev is installed.

[2021-03-02 00:07] StarGate-One commented on #16463
@strega-nil Thanks,
We figured out the problem with the new scripts not found, we had to add the dependencies for them in the vcpkg.json file:
https://github.com/microsoft/vcpkg/blob/a44feca8c4167c9e2b7ff1d877053bc2a9ea8e9b/ports/fmt/vcpkg.json#L7-L16

Now we need to figure out how to convert:

vcpkg_fixup_cmake_targets(CONFIG_PATH share/cmake/rapidstring TARGET_PATH share/unofficial-rapidstring)

[2021-03-02 00:09] strega-nil commented on #16463
@StarGate-One I say leave it open until we merge #16480

[2021-03-02 00:18] autoantwort commented on #16469
Yes, see [here](https://github.com/microsoft/vcpkg/blob/master/docs/users/manifests.md#msbuild-integration)

[2021-03-02 00:28] #16427 closed

[2021-03-02 00:52] ranjeethmahankali commented on #16486
Also, I already tried installing everything listed in the issue #15150
https://github.com/microsoft/vcpkg/issues/15150
I still get the error.

[2021-03-02 01:18] Cheney-W commented on #16405
I have tested your change by locally building the vcpkg.exe and then I could see the utf-8 error occured. I think you have solved this issue as expected(We should fail on a file that isn't UTF-8).
![image](https://user-images.githubusercontent.com/38240633/109581706-bda42100-7b37-11eb-9d2e-4df3314c2477.png)

[2021-03-02 01:45] wrobelda commented on #16467
OK, so my understanding now is that this is more of a bad practice on the upstream side.

Yeah, but this is the only way to get it to compile right now with vcpkg on platforms that are currently supported by the upstream (i.e. unaffected by the issues you linked to). I'd suggest that they stay as is and get revisited once the relevant fixes are provided upstream.

[2021-03-02 02:00] JackBoosY commented on #16466
Ops, sorry. websockets doesn't export its header path in cmake configure files.

[2021-03-02 02:22] JackBoosY commented on #16329
@adammpolak Yep. And you can pull #14750 changes to test it also.

[2021-03-02 02:24] JackBoosY commented on #13614
@acceleratxr You should also add `-DVCPKG_TARGET_TRIPLET=x86-windows-static` to cmake.

[2021-03-02 02:30] JackBoosY commented on #16486
Please see required packages in https://github.com/microsoft/vcpkg/blob/master/scripts/azure-pipelines/linux/provision-image.sh#L18-L19.

[2021-03-02 02:30] JackBoosY commented on #16486
Related: https://github.com/microsoft/vcpkg/pull/16280

[2021-03-02 02:31] JackBoosY commented on #16486
Related: https://github.com/microsoft/vcpkg/pull/16280

[2021-03-02 02:36] JackBoosY commented on #16476
@ras0219 @ras0219-msft Can you please take a look?

Thanks.

[2021-03-02 02:37] JackBoosY commented on #16484
Please also add `-DVCPKG_TARGET_TRIPLET=x86-windows-static` to cmake options.

[2021-03-02 03:37] bpoebiapl commented on #16351
If MRPT is ported to vcpkg, many people will be able to more easily access the powerful features of mrpt.
Sincerely hope that this port can be done successfully.

[2021-03-02 06:08] NancyLi1013 commented on #16376
@acgetchell

I'm so sorry, we only have Ubuntu Linux system environment. So I don't know the status on Alpine Linux 3.13.

Also, would you like to check what your docker environment is special?

@XJ-0461

Thanks for your help to investigating this issue.

[2021-03-02 06:13] davidsummers commented on #16241
Thanks for the information.  It was unclear from reading the documentation.

I thought VCPKG was stand-alone and it seems that sometimes it is not.

That is fine, I just didn't know until now.

[2021-03-02 06:36] JackBoosY commented on #16485
Please open a new issue to report the `qt5-declarative` build failure.

You can use two ways:
1. Build once and use the export command to export these packages, and then import the stored binary with the general command import during the CI process. See [documentation](https://github.com/microsoft/vcpkg/blob/master/docs/specifications/export-command.md).
2. Use the binary cache, automatically use

[2021-03-02 07:24] JackBoosY commented on #16456
According to the option name in cmake, it is reasonable for this feature to be named netssl. I think the upstream has not done special treatment for names.
There are only a few things about netssl:
1.
[code]
2.
[code]
3.
[code]
4.
[code]
5.
[code]
According to the above code, I don’t think netssl conflicts with openssl.

[2021-03-02 07:40] JackBoosY commented on #16454
Confirmed with Visual Studio 2019.

[2021-03-02 07:40] JonLiu1993 commented on #16437
Hi @jimellert ,I have updated the mongoose port to the latest version 7.1.0. I see your problem. I think it can be achieved by adding features, but I did not find the MG_ENABLE_CALLBACK_USERDATA options in the source. Is this a problem when using this port?

[2021-03-02 07:56] JonLiu1993 commented on #16439
Solved by #14131

[2021-03-02 07:56] #16439 closed

[2021-03-02 08:11] m-kuhn commented on #16485
Thanks for the reply @JackBoosY

I am currently preparing a clean repository with reproducible steps to open a report. Once that's working, point 2. becomes interesting.
Point 1. could be interesting as a short term solution until the github workflow is fixed. I'm hesitating to introduce manual steps because of the maintenance burden. I am also not completely sure how to import it (but that's more

[2021-03-02 08:11] JackBoosY commented on #14753
@MrSimbax According to the code in _exmaples/example_glfw_opengl3/main/cpp_ line 83-99:
[code]
Does this confirm that these features are in conflict?

[2021-03-02 08:47] JackBoosY commented on #16485
@m-kuhn Sorry but no, vcpkg only provides the build method and download address, and does not provide the source code and binary of the third-party library

[2021-03-02 09:02] NancyLi1013 commented on #16481
Hi @tlestang

Thanks for posting this issue.

Since the original files listed in `debug/lib/sundials_generic.dll` or `lib/sundials_generic.dll` have been moved to `debug/bin` and` /bin` folders. This can be solved by this changes without moving .dll files in portfile.cmake.

[code]

But there are still some new problems in the usage.

[code]

I have checked that all these features are disabled in

[2021-03-02 09:07] HppZ commented on #16430
@JackBoosY

[2021-03-02 09:09] NancyLi1013 commented on #16448
Could you please try to use `git pull` to update vcpkg to the latest version and run `.\bootstrap-vcpkg.bat`, then rebuild this? @ultrasound1372

[2021-03-02 09:11] m-kuhn commented on #16485
Does it make sense to open a new discussion with respect to this?

I assume there must have been similar discussion before somewhere but can't find anything.

[2021-03-02 09:14] #16485 closed

[2021-03-02 09:15] JackBoosY commented on #16485
@m-kuhn  For qt5-declarative issue, please open a new one.
For binary cache, that's vcpkg policy. Sorry.

[2021-03-02 09:21] m-kuhn commented on #16485
On it, build takes ~1.5 hours to fail  when the log is there I'll open it.

Nothing to be sorry about.

I can understand that Microsoft has such a policy, but if I'm not wrong the vcpkg system itself would technically allow for this with binary caching. And builds are passing on a CI (azure) so it seems there is just a little gap. This can be done from this repository under MS or a forked one.

My

[2021-03-02 09:34] m-kuhn opened #16495 "[qt5-declarative] build failure on github workflows"
**Host Environment**
- OS: [Windows Server 2019](https://github.com/actions/virtual-environments/blob/win19/20210219.1/images/win/Windows2019-Readme.md#microsoft-windows-server-2019-datacenter)
- Compiler: [16.8.31005.135](https://github.com/actions/virtual-environments/blob/win19/20210219.1/images/win/Windows2019-Readme.md#visual-studio-enterprise-2019)

**To Reproduce**
Steps to reproduce the be

[2021-03-02 09:34] rtoumazet commented on #16276
Thanks a lot to everyone involved 👍

[2021-03-02 09:35] m-kuhn commented on #16485
And here we go with the issue report: https://github.com/microsoft/vcpkg/issues/16495

[2021-03-02 09:43] NancyLi1013 commented on #16481
I opened an issue to upstream https://github.com/LLNL/sundials/issues/60

[2021-03-02 09:47] JackBoosY commented on #16495
Can you please provide full failure logs?
_V:\buildtrees\qt5-declarative\package-build-x64-windows-dbg-out.log_
_V:\buildtrees\qt5-declarative\package-build-x64-windows-dbg-err.log_

Thanks.

[2021-03-02 09:50] m-kuhn commented on #16495
More logs coming soon, build running here: https://github.com/m-kuhn/qt-for-vcpkg/runs/2011946737?check_suite_focus=true

[2021-03-02 10:22] Cheney-W commented on #16432
Thanks for reporting this issue to us!
In order to investigate this issue, could you please provide us with your ProjectName.vcxproj file? Through this file, we may find out why the delelate task is triggered.

[2021-03-02 10:39] Deputation opened #16497 "[libgit2[ssh]:x64-windows and libgit2[ssh]:x86-windows] build failure"
**Host Environment**
- OS: Windows 10 x64 20h2
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install libgit2[ssh]:x64-windows`
`./vcpkg install libgit2[ssh]:x86-windows`

**Failure logs**
[code]

[2021-03-02 10:42] trojanfoe commented on #16432
Hi there, I have tried to checkout the previous commit showing the error but I have been unable to get it working.  I therefore created a test project to try and reproduce the issue but of course this works perfectly and the dll is being copied into `$(TargetDir)` as expected.
Sorry to waste your time on this :|

[2021-03-02 11:03] annie14dec opened #16498 "Error: Building package cudnn:x86-windows failed with BUILD_FAILED"
Package: cudnn:x86-windows
 Vcpkg version: 2021-01-13-d67989bce1043b98092ac45996a8230a059a2d7e

Please help!

[2021-03-02 11:10] m-kuhn commented on #16495
This seems conclusive:

[code]

https://github.com/m-kuhn/qt-for-vcpkg/runs/2011946737?check_suite_focus=true#step:8:1169

I'll try to cleanup some space by removing build folders

[2021-03-02 11:14] m-kuhn commented on #16495
(as a side effect, I hope this helps as an illustration why prebuilt packages would be desirable, this could free up development resources for other tasks)

[2021-03-02 11:21] trojanfoe commented on #16432
@Cheney-W I have managed to reproduce the issue.
[MyProject.vcxproj.txt](https://github.com/microsoft/vcpkg/files/6068208/MyProject.vcxproj.txt)

[2021-03-02 11:44] trojanfoe commented on #16432
After initial build I see the following references to `pugixml` in the output window:
[code]
and running the `.exe` from File Explorer works fine.

Then hit `F5` and I see:

[code]

and an error dialog.

[2021-03-02 12:04] kuriboshi commented on #16456
I agree on the name netssl since that's the terminology that Poco uses.

However, both the NetSSL_OpenSSL and NetSSL_Win directories contain header files which have the same name for both OpenSSL and Win.  See for example NetSSL_{OpenSSL,Win}/include/Poco/Net/Context.h.  They are different and only one of them gets installed.  Which one?  Is it deterministic?  I don't know.  In my project I got th

[2021-03-02 13:39] SoftwareApe commented on #16476
@JackBoosY I found out how to fix it locally. I forked and made a PR, starting from the last tag that I'm using as a base branch. I couldn't find the file in master. So maybe something changed here.

[2021-03-02 13:40] adammpolak commented on #16329
Sorry for triple checking, but this means I test by cloning this repo: https://github.com/fran6co/vcpkg/tree/azure_linux ?

Or how do I checkout this update locally (I don't want to provide wrong feedback on the fix working)

[2021-03-02 13:44] SoftwareApe commented on #16476
@JackBoosY I'm wondering a bit though that this curl call is called even though I build with `-disableMetrics`. It seems something here doesn't work.

[2021-03-02 14:01] adammpolak commented on #16329
@JackBoosY I:

- cloned https://github.com/fran6co/vcpkg/
- checked out azure_linux
- ran `bash bootstrap-vcpkg.sh`
- ran `./vcpkg install azure-kinect-sensor-sdk`
- Was able to get through dependencies then run into this issue: `Could not find a package configuration file provided by "libuvc" with any of the following names` ...

Full `vcpkg/buildtrees/azure-kinect-sensor-sdk/config-x64-osx-dbg-e

[2021-03-02 17:11] jimellert commented on #16437
Hi Jon,

Thanks for the update.

It looks like version 7.1 has eliminated the need for MG_ENABLE_CALLBACK_USERDATA, so we’re good there.

I’m having trouble with mongoose and am working with cesanta to get it fixed.  I would imagine there’s yet another version coming soon.

Jim

From: JonLiu1993 <notifications@github.com>
Sent: Monday, March 1, 2021 11:41 PM
To: microsoft/vcpkg <vcpkg@noreply.gith

[2021-03-02 17:13] adammpolak commented on #16363
@cenit It seems like running bash bootstrap-vcpkg.sh did not set $VCPKG_ROOT which was the issue.

When I use `-DCMAKE_TOOLCHAIN_FILE=PATH_TO_VCPKG/scripts/buildsystems/vcpkg.cmake` the library is found.

[2021-03-02 17:13] #16363 closed

[2021-03-02 17:14] cenit commented on #16363
bootstrap does not set that env variable. Is it written somewhere that it should? in that case it has to be fixed

[2021-03-02 17:49] m-kuhn commented on #16495
Moving the build to the C: drive with more space fixes the build.

[2021-03-02 17:49] #16495 closed

[2021-03-02 17:55] tlestang commented on #16481
Thank you @NancyLi1013 !
As mentionned in [LLNL/sundials#60](https://github.com/LLNL/sundials/issues/60), it is expected that these targets are not found since sundials[core] isn't compiled with these features enabled. So that's not really a problem I think.
To add support for KLU, we could just add a new feature, i.e. `sundials[klu]`.

[2021-03-02 18:12] homandiy commented on #4417
My code to show the path:

[code]

Now, run your code to find the path on the console:

[code]

Copy the icons from: C:\msys64\mingw64\share\icons
to YOUR path: C:\Users\ YOUR ACCOUNT \AppData\Local\icons

ICONS FIXED!

[2021-03-02 21:05] Thieum commented on #2640
It would prevent multiple versions of the same dependency in the dependency graph, for a project that would install different exports.

Consider libpng depending on zlib. If I install another export from another lib that depends on zlib, or an export of zlib by itself, they could conflict with one another.

Without this possibility, the only safe way to handle exports a a consumer is to consume on

[2021-03-02 21:59] #16425 closed

[2021-03-02 22:01] ras0219-msft commented on #8964
Hi @aspioupiou, how are you using vcpkg with CircleCI? What documentation are you following?

[2021-03-02 22:15] ultrasound1372 commented on #16448
Same error, only the line number is now 51. How did a semicolon start showing up in that anyway? And I suppose I should rename this, this occurs with more than just portaudio, somebody recommended I try with sqlite3 and same result. @NancyLi1013

[2021-03-02 22:21] acgetchell commented on #16376
Thanks for all of the feedback!

My Dockerfile is here: https://github.com/acgetchell/vcpkg-image/tree/alpine

As is, @XJ-0461 docker file is sufficient to run `bootstrap-vcpkg.sh`, but `vcpkg install` itself doesn't work because there's no triplet for `x64-linux-musl`.

Just as a note, the Dockerfile from [the blog post](1) no longer works:

[code]

[1]:https://devblogs.microsoft.com/cppblog/usin

[2021-03-02 22:49] acgetchell commented on #16376
My current Dockerfile, based off of @XJ-0461 , is [here](1).

Unfortunately, it can't actually run `vcpkg install`, because there's no `x64-linux-musl` triplet.

The original [blogpost](3) [Dockerfile](2) is based off an old version of `vcpkg` and had a workaround, but it doesn't work anymore.

https://gist.github.com/acgetchell/173bec317f724c5a91a6651a3a41ea78

[1]:https://github.com/acgetchell/v

[2021-03-03 00:32] autoantwort opened #16504 "Wrong host triplet for arm macs"
**Describe the bug**
Use the `arm64-osx` triplet as host triplet on arm Apple Computers

**Environment**
- OS: macOS with Apple M1

**To Reproduce**
Steps to reproduce the behavior:
Install port with `host` dependencies

**Expected behavior**
Use the `arm64-osx` triplet as host triplet on arm devices

The responsible code can be found [here](https://github.com/microsoft/vcpkg-tool/blob/8027bea90b4

[2021-03-03 01:03] #16463 closed

[2021-03-03 01:52] acgetchell commented on #16376
I made an image based on Ubuntu which can run `vcpkg install` here:

https://hub.docker.com/repository/docker/acgetchell/vcpkg-image

It's almost twice the size of the Alpine image (241.18MB vs. 134.61MB), and according to image scans by SNYK, has more security vulnerabilities (none serious, however).

[2021-03-03 01:57] JonLiu1993 commented on #16437
@jimellert ,Okay, that sounds great, I will update the latest version in time

[2021-03-03 02:06] adammpolak commented on #16363
I guess I thought it was implied @cenit when it said it would "set things up" (was the gist I got but clearly it was more granular. I should not have assumed that paths would be set but that is usually what happens when I install packages so I thought that is what it did).

I am sure it was user error, thank you!

[2021-03-03 02:08] FishHe opened #16505 "[opencv and tinyxml2]: error LNK2005"
Environment:
VS2019
x64-windows-static-md
[code]

[2021-03-03 02:19] PhoebeHui commented on #16486
@ranjeethmahankali, could you please try the following command, I encountered this issue before, and solved by executing the following commands.

[code]

[2021-03-03 02:34] JackBoosY commented on #16495
@m-kuhn Please note qt5 doesn't support long path and will take huge space.

[2021-03-03 02:43] JackBoosY commented on #16329
At least #14750 fixed the issue about libusb, I will try to support OSX after that merged.

[2021-03-03 02:55] adammpolak commented on #16329
Thank you @JackBoosY !

[2021-03-03 03:11] NancyLi1013 commented on #16481
@tlestang

If you need `KLU `support, you should add new port KLU first. Since `KLU `is not in vcpkg now.
The problem may be solved if these features are supported.
But I'm still in flavor of that the current usage is not reasonable. If `KLU `is disabled, the target `SUNDIALS::KLU` should not be showed in the current usage.

[2021-03-03 03:49] Capone68 commented on #15323
I have the exact same error, I have disabled the proxy. To try again will I need to uninstall anything before trying again please? Im' new at this, but thanks would appreciate any suggestion and direction.

Resolving deltas: 100% (65545/65545), done.
Updating files: 100% (7280/7280), done.
PS C:\Tools> cd vcpkg
PS C:\Tools\vcpkg> .\bootstrap-vcpkg.bat
Downloading https://github.com/microsoft/vcpkg

[2021-03-03 04:00] acgetchell opened #16506 "[gmp][Docker] build failure"
**Host Environment**
- OS: Ubuntu 20.04
- Compiler: gcc version 10.2.0 (Ubuntu 10.2.0-5ubuntu1~20.04)

**To Reproduce**
Steps to reproduce the behavior:
Use the following Docker file:
[code]

Where `acgetchell/vcpkg-image` comes from:

https://hub.docker.com/r/acgetchell/vcpkg-image/dockerfile

**Failure logs**
[code]

**Additional context**

I was able to build GMP 2 days ago using my old Dockerf

[2021-03-03 04:16] Capone68 commented on #15323
I'm also using windows 10 wsl and visual studio complier 2019. following substrate getting started with windows guidelines, I not sure how to set the proxy if i am supposed to. I did manually enter in the ip address and port via control panel, network Lan setting which stopped my internet connection. I have then cleared the proxy settings to get the connection back. when re-entering the code to re

[2021-03-03 04:20] acgetchell commented on #16506
I tried using the following Dockerfile to get a good image:
[code]
Then, at the command line of the container:

[code]
Then, from the log files I get:

[code]
So `gmp` apparently has a hard dependence on CMake 3.17.

[2021-03-03 04:43] Eahom commented on #15858
Update vcpkg and rebuild, the question also existed.

[2021-03-03 04:43] Eahom commented on #15858
Update vcpkg and rebuild, the question also existed.

[2021-03-03 05:51] NancyLi1013 commented on #16498
Hi @annie14dec

Thanks for posting this issue.

Since currently, cudnn only supports `x64 `architecture, please try to build `cudnn:x64-windows`.

[2021-03-03 06:23] m-kuhn commented on #16495
For future reference

- Currently there are [~12GB of space on drive D: (default build drive) and ~85GB of space on drive C: (writable as well)](https://github.com/m-kuhn/qt-for-vcpkg/runs/2019697487?check_suite_focus=true#step:2:1).
- [Long paths are enabled](https://github.com/m-kuhn/qt-for-vcpkg/runs/2019697487?check_suite_focus=true#step:3:1)
- We can build in a folder like `C:\src`

[2021-03-03 06:31] duanqn opened #16507 "[boost-fiber] New feature boost-fiber[numa]"
Library name:
Boost fiber (maybe name it boost-fiber[numa] ?)
Library description:
This is the boost-fiber library compiled with some additional flags to support non-uniform memory addressing.
Source repository URL:
https://github.com/boostorg/fiber
Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library m

[2021-03-03 06:34] duanqn commented on #16507
https://www.boost.org/doc/libs/1_75_0/libs/fiber/doc/html/fiber/numa.html#:~:text=NUMA%20support%20in%20Boost.Fiber%20Because%20only%20a%20subset,systems,%20Boost.Fiber%20provides%20only%20a%20minimalistic%20NUMA%20API.
I think the resulting dynamic library is called libboost_fiber_numa.so . I have a CMakeLists.txt that asks for
[code]
But I can't supply the fiber_numa package with the current vcp

[2021-03-03 07:07] acgetchell commented on #16506
I can resolve the issue by doing the following:

[code]

But the CMake > 3.16 is surprising.

[2021-03-03 07:11] aspioupiou commented on #8964
Hi @ras0219-msft, we switched from CircleCI to a self-hosted gitlab instance so this setup is not in production anymore. Globally, we always embed `vcpkg` inside the project directory as a submodule, meaning each CI build builds vcpkg in the project directory.
If using CircleCI + caching, cache keys overlap

[2021-03-03 07:15] Neumann-A commented on #16506
The version vcpkg internally uses and normally downloads is 3.19.2.

[2021-03-03 07:18] acgetchell commented on #16506
Ah, okay, I did `./bootstrap-vcpkg.sh -useSystemBinaries` and set `VCPKG_FORCE_SYSTEM_BINARIES=1`.

[2021-03-03 07:18] Cheney-W commented on #16432
@trojanfoe Thanks for your reply! I have some questions need confirm with you:
1. Does this issue occur in a new console application project?
2. Does this issue only occur in your current MyProject project?
3. I saw there are 2 custombuildsteps in your vcxproj file, are this you expected?
4. Could you please provide me with the ProcessContent.py file?

[2021-03-03 07:23] JonLiu1993 commented on #16465
Hi @StarGate-One ,As you said I Update include files path

[2021-03-03 07:26] JackBoosY commented on #16506
It seems that gmp uses cmake in the system.

[2021-03-03 07:39] duanqn opened #16509 "[New Port Request] onnxruntime (CPU version)"
Library name:
onnxruntime
Library description:
ONNX Runtime is a cross-platform inference and training machine-learning accelerator compatible with deep learning frameworks, PyTorch and TensorFlow/Keras, as well as classical machine learning libraries such as scikit-learn, and more.
Source repository URL:
https://github.com/Microsoft/onnxruntime
Project homepage (if different from the source repos

[2021-03-03 08:12] NancyLi1013 commented on #16448
The error info from here:
[code]
https://github.com/microsoft/vcpkg/blob/master/scripts/ports.cmake#L50-L52

Seems there are something wrong with `${CURRENT_PORT_DIR}`.

Could you please print the value of `${CURRENT_PORT_DIR}`?

[2021-03-03 08:26] trojanfoe commented on #16432
@Cheney-W

1. No, it's works perfectly.
2. Yes, when I change to the triplet x64-windows.  I am currently using x64-windows-static-md and everything works fine.
3. There is actually only one, which might have been misconfigured at the time of posting the project file (The Output field was missing so it wasn't running).
4. It's attached, but it's nothing special.

[ProcessContent.py.txt](https://gi

[2021-03-03 09:02] NancyLi1013 commented on #16474
Hi @alexreinking

Thanks for posting this issue.

I submit a PR to fix this issue. Could you please help test if this can work for you?

Thanks.

[2021-03-03 09:04] NancyLi1013 commented on #16438
Hi @pkeir

Thanks for posting this issue.

Could you please help test if this PR #15921 can work fine for you?

Thanks.

[2021-03-03 09:27] NancyLi1013 commented on #16252
@Dejauxvue

Thanks for figuring this issue out.

Would you like to submit a pull request to upstream?

[2021-03-03 09:37] pkeir commented on #16438
Hi @NancyLi1013,

Alas, the behaviour is unchanged. I cloned from `JackBoosY/vcpkg`, then `git checkout dev/jack/15497` and a fresh bootstrap. I then tried with just lua installed, and then also with lua[cpp], but still it hangs.

[2021-03-03 09:44] Dejauxvue commented on #16252
sure, I hope everything is in line with your conventions
and I can only test on windows Visual Studio 2019

[2021-03-03 09:53] tlestang commented on #16481
Sorry I should have mentionned that `KLU` is a component of suitesparse, which is already available through vcpkg.
I just opened a PR adding a `klu` feature to the sundials port (#16514).

Oh yes indeed, good point.

[2021-03-03 10:01] PhoebeHui commented on #7207
Hi All, appreciate your effort very much!

@Farjad3253, please report a new issue if it still be  a problem for you, it's a different issue, close this issue now.

[2021-03-03 10:01] #7207 closed

[2021-03-03 11:59] JackBoosY commented on #16438
@pkeir Please provide the failure logs.

Thanks.

[2021-03-03 12:15] VasudhaSahu opened #16516 "[Podofo] Update to 0.9.7"
Library name:  Podofo

Latest version: 0.9.7

Portfiles and other necessary updates required to get an updated podofo version binaries.

[2021-03-03 14:25] Cheney-W commented on #16483
@errata-c
Thanks for reporting this issue to us. About the Step #2: call find_dependency(glew) in a package config file, could you please provide us with a demo repro(cmake project)?

[2021-03-03 14:52] pkeir commented on #16438
@JackBoosY As requested:

[CMakeOutput.log](https://github.com/microsoft/vcpkg/files/6076746/CMakeOutput.log)

[2021-03-03 15:38] ultrasound1372 commented on #16448
Where is that variable coming from and how do I get it to print?

[2021-03-03 15:42] apodtele commented on #16418
Microsoft describes [malloc](https://docs.microsoft.com/en-us/cpp/c-runtime-library/reference/malloc) with 16-byte (128-bit) alignment on Windows x64. Are you sure??? Why did you mention HeapAlloc elsewhere?

[2021-03-03 16:33] jimellert commented on #16437
Hi Jon, I have a question…

I did a git pull from my vcpkg dir,   then vcpkg update.   But I don’t see mongoose 7.1.   Do I need to do something else?

It shows the following:

C:\Projects\github\microsoft\vcpkg>vcpkg update

Using local portfile versions. To update the local portfiles, use `git pull`.

The following packages differ from their port versions:

    gtest:x64-windows-static         1

[2021-03-03 17:30] errata-c commented on #16483
Ok, I have a minimal [reproduction here](https://github.com/errata-c/find_dependency-glew.git), fails to build on my system.

[2021-03-03 17:48] acgetchell commented on #16506
This issue was caused by `-useSystemBinaries` with an older version of CMake. Since `vcpkg` downloads a recent version itself, I deem this to be user error, which I fixed:

https://hub.docker.com/r/acgetchell/cdt-image/dockerfile

[2021-03-03 17:48] #16506 closed

[2021-03-03 17:48] Tastaturtaste opened #16517 "[argparse] "present" method to check for optional arguments not available in vcpkg version"
****

**Is your feature request related to a problem? Please describe.**
The argparse library provides a method to get a std::optional when querying a optional argument without default values. This method is not present in the version I get from vcpkg, which makes dealing with optional arguments cumbersome.

**Proposed solution**
I would like an update to the argparse version such that I can use t

[2021-03-03 17:53] strega-nil commented on #16504
@autoantwort could you try the tool from https://github.com/microsoft/vcpkg-tool/pull/23?

[2021-03-03 18:06] autoantwort commented on #16504
Yes that works now. (But) it will also change the default triplet, but I think it is a good idea to make the `arm64-osx` triplet the default triplet on arm macs. But you should definitely consider to make `arm64-osx` an official triplet.

[2021-03-03 18:32] strega-nil commented on #16504
We want to make it official, but we need to add testing for it.

[2021-03-03 18:55] jakoch commented on #9295
Yes.. this is very confusing.

`x64-linux` with `set(VCPKG_LIBRARY_LINKAGE static)` is basically `x64-linux-static` and should be renamed.

While `x64-linux-dynamic.cmake` is this (referencing [docs]( https://vcpkg.readthedocs.io/en/latest/examples/overlay-triplets-linux-dynamic/)):
[code]

[2021-03-03 19:04] salmamoh01 opened #16518 "does vcpkg include std_lib_facilities header file?"

[2021-03-03 20:30] autoantwort opened #16520 "macOS: Ignore .DS_Store files"
**Describe the bug**
For example when I install the package `icu`, I get the following error:
[code]

**Environment**
- OS: macOS

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install icu

**Expected behavior**
The package should install without problems

**Additional context**
That happens not only with this package

[2021-03-03 20:31] autoantwort commented on #16520
What I tried: Delete the package/icu and the buildtree/icu folder and build with `--binarysource=clear`, the error does not go away

[2021-03-03 21:01] w-Yuan opened #16521 "[boost-locale:x64-android] build failure"
Package: boost-locale:x64-android
  Vcpkg version: 2020.06.15-nohash

CMake Error at installed/x64-android/share/boost-build/boost-modular-build.cmake:149 (message):
  **No libraries were produced.  This indicates a failure while building the boost library.**
Call Stack (most recent call first):
  ports/boost-locale/portfile.cmake:14 (boost_modular_build)
  scripts/ports.cmake:135 (include)

Let m

[2021-03-03 22:20] Edurd987 commented on #3842
Which command from the console can install the English Language Pack for Visual Studio 2019

[2021-03-04 01:18] jwtowner commented on #16418
You're right, this issue actually doesn't exist in libpng or with malloc. False alarm on my end caused by third-party middleware hooking the HeapAlloc function that I was unaware of, that did not provide the 16-byte alignment guarantee. My apologies for not having noticed it sooner. Closing this issue.

[2021-03-04 01:18] #16418 closed

[2021-03-04 01:34] JonLiu1993 commented on #16437
@jimellert ,At present, my update has not been merged to master, so you cannot get the latest version. Please wait for this pr to be merged and you will get the latest version by git pull

[2021-03-04 01:39] JonLiu1993 commented on #16516
Duplicate of #16358

[2021-03-04 01:39] #16516 closed

[2021-03-04 01:54] Cheney-W commented on #16518
This header file is only made up for teaching purposes. It is not an official header file, so it is not used in vcpkg.

[2021-03-04 02:12] pengliaoye commented on #10852
hi, can you build this

[2021-03-04 02:56] JackBoosY commented on #16520
It seems to be a recovery file created by osx, @strega-nil can you please take a look？

Thanks.

[2021-03-04 05:12] pengguoqing opened #16524 "[New Port Request] <MPV>"
Library name:
mpv

Library description:
Media player plugin

Source repository URL:
https://github.com/mpv-player/mpv

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included):
Develop player in windows

[2021-03-04 05:50] PhoebeHui commented on #16224
@IceCodeNew, could you attach the failure log C:\vcpkg\buildtrees\brotli\config-x64-windows-static-out.log?

[2021-03-04 05:57] NancyLi1013 commented on #16448
You can add  `message("CURRENT_PORT_DIR:${CURRENT_PORT_DIR}")` before these codes and then rerun `./vcpkg install portaudio:x64-windows`.

[code]

[2021-03-04 06:12] JackBoosY commented on #16438
@pkeir Can you please provide me a sample project to repro this issue?

Thanks.

[2021-03-04 06:34] JackBoosY commented on #16476
Will be fixed by https://github.com/microsoft/vcpkg-tool/pull/22.

[2021-03-04 07:16] NancyLi1013 commented on #16039
Thanks for your update. It might be related with PowerShell version. Since you have solved this issue by updating PowerShell version, I'm closing this issue for now.

[2021-03-04 07:16] #16039 closed

[2021-03-04 07:23] JackBoosY commented on #16456
Sadly, according to our [policy](https://github.com/microsoft/vcpkg/blob/master/docs/maintainers/maintainer-guide.md#do-not-use-features-to-implement-alternatives), since these two features are in conflict, I have to disable them.
If you need to use one of them, please use the overlay-port implementation. Please see [documentation](https://github.com/microsoft/vcpkg/blob/master/docs/specifications

[2021-03-04 07:34] NancyLi1013 commented on #15818
@wmeister
Please provide your project sample.

@hgbutte
It seems that you use a static library in your project.
For cmake project, you need to add `-DVCPKG_TARGET_TRIPLET=x86-windows-static` to cmake command.

For msbuild project, you need to add this to your project.

[code]
Please see https://devblogs.microsoft.com/cppblog/vcpkg-updates-static-linking-is-now-available/

Also please use `sqlpp11

[2021-03-04 07:35] NancyLi1013 commented on #16171
@seuwanglang

Please let me know if this is still a problem for you.

[2021-03-04 07:37] NancyLi1013 commented on #15817
@BadHomer

Please let me know if you still have this problem.

[2021-03-04 08:03] VasudhaSahu commented on #16516
Thanks Team!

[2021-03-04 08:06] PhoebeHui commented on #16432
I can't repro this issue, could you attach full log from build output?

[2021-03-04 08:07] NancyLi1013 commented on #5573
Hi @Jacob-Tate

Thanks for posting this issue.

Currently, soil2 `failed ` to build on uwp are due to these errors:

[code]
So you can report a new issue to upstream to support uwp in vcpkg.

[2021-03-04 08:10] JackBoosY commented on #16259
I think that's a common issue. Will be fixed in `vcpkg-cmake-config` and `vcpkg_fixup_cmake_targets`.

[2021-03-04 08:40] Faaux opened #16528 "[Azure-Kinect-Sensor-SDK] update to 1.41"
Library name:
Azure-Kinect-Sensor-SDK

New version number:
1.41

Tagged Repo: https://github.com/microsoft/Azure-Kinect-Sensor-SDK/tree/v1.4.1

[2021-03-04 08:52] PhoebeHui commented on #16464
@wrobelda, could you try ./vcpkg install nettle:arm64-osx instead? Currently it's a community triplet, see more information in PR https://github.com/microsoft/vcpkg/pull/12259

[2021-03-04 08:54] PhoebeHui commented on #16424
We do plan to make this an official triplet, however we do not want to add it to the official list until we have support in CI.

[2021-03-04 08:57] PhoebeHui commented on #16170
@petulka8s, please reopen this issue if it still be a problem for you.

[2021-03-04 08:57] #16170 closed

[2021-03-04 08:58] NancyLi1013 commented on #11623
Related PR https://github.com/microsoft/vcpkg/pull/15238

[2021-03-04 09:01] NancyLi1013 commented on #11150
@jamal

Can this issue be solved after trying to use the above way from @JackBoosY ?

[2021-03-04 09:29] pkeir commented on #16438
No problem. There are only two files involved: an empty `test.cpp`, and a `CMakeLists.txt` file containing the code given on my initial post above. Create a `build` subdirectory and from there: `cmake -DCMAKE_TOOLCHAIN_FILE=$VCPKG_ROOT/scripts/buildsystems/vcpkg.cmake ..`.

[2021-03-04 09:36] luncliff commented on #16509
Probably #14903 ?

[2021-03-04 09:59] PhoebeHui commented on #11684
I think we can close this issue now, see the package federation in vcpkg https://github.com/microsoft/vcpkg/blob/master/docs/specifications/registries.md
https://github.com/microsoft/vcpkg/blob/master/docs/specifications/registries-2.md

[2021-03-04 10:12] autoantwort commented on #16520
That are files created by the Finder so save the "view" settings (e.g. in this folder sort the files by size). [Wikipedia](https://en.wikipedia.org/wiki/.DS_Store)

[2021-03-04 10:13] PhoebeHui commented on #7183
@odin-loki, does this still be a problem for you?

[2021-03-04 10:22] odin-loki commented on #7183
No.
________________________________
From: Phoebe <notifications@github.com>
Sent: Thursday, March 4, 2021 9:13:48 PM
To: microsoft/vcpkg <vcpkg@noreply.github.com>
Cc: Odin <odin.loch@outlook.com.au>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/vcpkg] Does Anyone else have integration issues? (#7183)

@odin-loki<https://github.com/odin-loki>, does this still be a problem for you?

[2021-03-04 10:28] PhoebeHui commented on #7183
Thanks for your quick response!

[2021-03-04 10:28] #7183 closed

[2021-03-04 10:29] PhoebeHui commented on #12073
@CiaranWelsh, please reopen this issue if it still be a problem for you.

[2021-03-04 10:29] #12073 closed

[2021-03-04 10:35] PhoebeHui commented on #9814
@Horoprime, please reopen this issue with repro code and repro steps if it still be an issue for you.

[2021-03-04 10:35] #9814 closed

[2021-03-04 10:59] duanqn commented on #16509
@luncliff  You're right. Let me close this issue.

[2021-03-04 10:59] #16509 closed

[2021-03-04 11:32] HppZ opened #16529 "uwp app using libxml2 can't launch."
**Describe the bug**
uwp app using libxml2 can't launch.
I have libxml2:x64-uwp 2.9.10#2 installed using vcpkg.
repo to reproduce the bug: https://github.com/HppZ/libxml2-uwp

**Environment**
- OS: [Windows 19042.844]
- Compiler: vs2019 16.8.6

**To Reproduce**
Steps to reproduce the behavior:
1.  vcpkg install libxml2 --triplet=x64-uwp
2. run the libxml2-uwp app and it **can't** launch.
https://g

[2021-03-04 12:07] HppZ commented on #16529
@JackBoosY PLEASE help.

[2021-03-04 14:19] TonyXiang8787 commented on #15698
@JackBoosY @JonLiu1993 Thanks for the reply. I have read the [documentation](https://github.com/microsoft/vcpkg/blob/master/docs/maintainers/vcpkg_configure_cmake.md#options) you referred. If I understand correctly, this is a way to specify a build option when you create a port.

But after the port has been created (without a build option), how can I pass an additional build option at install time

[2021-03-04 15:23] christophe-calmejane opened #16531 "[New Port Request] XQuilla"
**Library name:**
XQuilla

**Library description:**
XQilla is an XQuery∞ and XPath 2∞ library and command line utility written in C++, implemented on top of the Xerces-C∞ library. It is made available under the terms of the Apache License v2.

**Source repository URL:**
https://sourceforge.net/p/xqilla/xqilla/ci/default/tree/
(hg clone http://hg.code.sf.net/p/xqilla/xqilla xqilla-xqilla)

**Projec

[2021-03-04 16:04] eessmann opened #16532 "[New Port Request] Fastor"
**Library name:**
Fastor

**Library description:**
Fastor is a high performance tensor (fixed multi-dimensional array) library for modern C++

**Source repository URL:**
https://github.com/romeric/Fastor

**Project homepage (if different from the source repository):**

**Anything else that is useful to know when adding (such as optional features the library may have that should be included):**
Fas

[2021-03-04 16:59] tlestang opened #16535 "vcpkg install can't find the versions database file"
Hi there,

I've been experimenting with setting my own vcpkg registry at [sundials-vcpkg-registry](https://github.com/pybamm-team/sundials-vcpkg-registry), following the instructions on this blog post ([Registries: Bring your own libraries to vcpkg](https://devblogs.microsoft.com/cppblog/registries-bring-your-own-libraries-to-vcpkg/)) . Everything went relatively smoothly.

Until I can't install m

[2021-03-04 19:10] vicroms commented on #16535
I made a small test with your registry, and there is a path error.

Your registry has:
[code]

But it should be:
[code]

[2021-03-04 20:27] SergioMasson commented on #16362
After using this project for a while, I have noticed that I was misusing  the IMPORTED_IMPLIB target property. It supose to only received a single value, and I`m setting all libs from the physx sdk. I have created a physx-config file where I create a IMPORTED target for each physx lib file and it worked! I have no idea why it was working without before using vcpkg.

[2021-03-04 22:11] tlestang commented on #16535
Thanks so much for taking the time @vicroms ! It would certainly have taken me a long time to find that problem...

[2021-03-04 22:11] #16535 closed

[2021-03-04 22:16] fishnet37222 opened #16538 "CMake cannot find target "unofficial::sqlite3::sqlite3" when using port poco[sqlite3]"
**Describe the bug**
I'm using a manifest to specify the dependencies for my CMake project.  One of the dependencies is "poco[sqlite3]" specified using the correct manifest syntax.  In my CMakeLists.txt file, I've used the usual `find_package()` and `target_link_libraries()` commands to find and link to "poco[sqlite3]".  When I configure the project, I get the following error from CMake:  `Target

[2021-03-04 22:17] HideakiAtsuyo opened #16539 "[zlib] build failure using MinGW"
**Host Environment**
- OS: Windows 10
- Compiler: CMake from MinGW

**To Reproduce**
Steps to reproduce the behavior:

- Clone vcpkg
- Use the bootstrap bat file
- vcpkg install zlib

**Failure logs**
[code]
**Additional context**
Nothing more

[2021-03-04 22:51] g-e-o-m-e-t-r-i-c opened #16540 "Are there the graphics.h and iostream.h libraries? I can't seem to find them."
![image](https://user-images.githubusercontent.com/79387351/110041483-187b8980-7d7f-11eb-8da0-9c9b82cc4a75.png)

[2021-03-04 22:54] #16540 closed

[2021-03-04 23:11] IceflowRE commented on #11684
https://vcpkg.readthedocs.io/en/latest/about/faq/#why-not-conan

The FAQ is still wrong.

[2021-03-04 23:25] fishnet37222 commented on #16538
I can verify that this issue also occurs on Windows.
![2021-03-04_18-24-39](https://user-images.githubusercontent.com/1977106/110044352-fd752f00-7d16-11eb-8302-9700ffcbb392.png)

[2021-03-04 23:52] PhoebeHui commented on #11684
@IceflowRE, thanks for the information!

[2021-03-05 00:11] g-e-o-m-e-t-r-i-c opened #16541 "Are graphics.h and iostream.h included?"
When asking a question please also include where you looked for an answer (so we can update the documentation if needed).

[2021-03-05 00:18] ilia-glushchenko opened #16542 "[Crashpad] Does not expose handler exe target"
****

**Is your feature request related to a problem? Please describe.**
Hello everyone. Good day to you.
If I understand correctly there is no easy way to get access to crashpad_handler executable target with the current version crashpadConfig file. Or at least I don't see one. This is really frustrating if you want to configure a build system to ship the handler with the build without some `find

[2021-03-05 00:26] #11684 closed

[2021-03-05 00:35] duanqn commented on #16539
Just trying to help -- do you have ninja installed? https://ninja-build.org/

[2021-03-05 00:38] brad-anderson opened #16543 "[wxWidgets] Using static triplet fails because of missing png.lib"
**Describe the bug**
The cmake wrapper for wxWidgets expects libpng to always be called `png.lib` but it is not on static triplets so it fails to find the library to link when you try to use wxWidgets.

**Environment**
- OS: Windows
- Compiler: cl.exe 19.28.29910

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install wxwidgets:x64-windows-static
2. Try to use wxWidgets from your own

[2021-03-05 00:54] PhoebeHui commented on #15733
@sundayleemeng, please reopen this issue with failure logs if it still be a problem for you.

[2021-03-05 00:54] #15733 closed

[2021-03-05 00:57] HideakiAtsuyo commented on #16539
I don't have ninja at all i just removed my vcpkg because i corrupted it when i removed all files/folders with size(0) so i cloned it again and now it looks broken, before it was perfect...

And i'm french that's why i think :)

[2021-03-05 00:57] PhoebeHui commented on #15535
@shubhamr2511, please reopen this issue if it still be problem for you.

[2021-03-05 00:57] #15535 closed

[2021-03-05 01:07] PhoebeHui commented on #14883
Building vcpkg.exe is not a problem now, with latest source, it will downlaod the latest release version of vcpkg on windows, we don't need build it again. Please reopen this issue if I misunderstand someting here.

[2021-03-05 01:07] #14883 closed

[2021-03-05 01:11] brad-anderson opened #16545 "[wxWidgets] static triplet only debug/release library mixup"
**Describe the bug**
When using wxWidgets supplied by vcpkg through CMake in a statically linked debug configuration project, the linker gets supplied with the release versions of the wxwidgets libraries instead of the debug versions.

**Environment**
- OS: Windows
- Compiler: cl.exe 19.28.29910

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install wxwidgets:x64-windows-static
2. U

[2021-03-05 01:17] duanqn commented on #16539
@HideakiAtsuyo I think you need to install Ninja. This "Command failed: ninja -v" in the log shows that vcpkg is trying to use Ninja as the build system.

And maybe install the English language pack :)

[2021-03-05 01:24] PhoebeHui commented on #14693
@juandent, does this still be a problem for you? if you want use the dev branch, you need to change the REF which the commitid from dev branch, then you can install the port, it will fail, and vcpkg would give the right SHA512, replace it with right one. It will use the correct source in dev branch. Please reopen this if it still be a problem for you.

[2021-03-05 01:24] #14693 closed

[2021-03-05 01:57] JackBoosY commented on #16543
In `libpng-targets.cmake`:
[code]

In `libpng-targets-debug.cmake`:
[code]

So I don't think that have some problems.
And also, I can't repro this issue.

Can you please make sure your vcpkg is latest?

Thanks.

[2021-03-05 02:03] JackBoosY commented on #16545
Confirmed.

[2021-03-05 02:05] JackBoosY commented on #16543
Oh I know that, that's a usage issue.
in `vcpkg-cmake-wrapper.cmake`:
[code]

[2021-03-05 02:14] HideakiAtsuyo commented on #16539
1) The language pack isn't a problem at all i'm sure about it ;)
2) Ninja is downloaded automatically, and doesn't work at all:

$ ./ninja.exe
ninja: error: loading 'build.ninja': The specified file can't be found :)

[2021-03-05 02:25] brad-anderson commented on #16543
Yes, my vcpkg is at the latest. Yes, it's an issue with the way wxWidgets references libpng (the library name isn't the same between static and dynamic builds of it so you can't use it for both).

Alternatively the wrapper could be updated to change the libpng library name conditional on linkage but that's doesn't seem necessary when there is a perfectly good CMake PNG::PNG target to use (and is w

[2021-03-05 02:28] HideakiAtsuyo commented on #16539
I have an interesting error:

When i run ninja from the folder itself it's working, when i use it in a different path `ninja: error: loading 'build.ninja': The specified file can't be found :)`

[2021-03-05 02:37] JackBoosY commented on #16543
@brad-anderson  Fixing...

[2021-03-05 02:53] JackBoosY commented on #16545
Seems like `FindwxWidgets.cmake` doesn't find the debug libraries correctly.

[2021-03-05 03:29] brad-anderson commented on #16545
Some context, FindwxWidgets.cmake had never worked with vcpkg and only recently was made to work (see #4756). That change made it finally work but for reasons I haven't quite teased out it fails for the static triplets.

I'd love to get some proper CMake targets for wxWidgets but FindwxWidgets.cmake is >1k lines so I think most people, like myself, haven't found the time/courage to tackle it.

[2021-03-05 04:23] JackBoosY commented on #16545
Will be fixed in #16546.

[2021-03-05 06:34] wasphin opened #16547 "Python 3.9.2 cannot run on windows 7"
In commit f9763b717eba12be38ea750406fe2a22a7ff00f6, python upgraded to 3.9.2, which does not work under Windows 7, this make all ports which require python fail to build.

So does Windows 7 still the supported OS as the README said?

[2021-03-05 07:58] asbe commented on #5732
I have Python 3.8 on the system and vcpkg insists on installing 3.9. I need to build boost-python with numpy for 3.8 - but this fails.  I tried to resolve it by changing user-config.jam (in vcpkg\buildtrees\boost-python\x64-windows-rel\user-config.jam) but this is overwritten with 3.9. Is this the incorrect way of hinting which Python to use?

[2021-03-05 08:14] christophe-calmejane commented on #16531
Looks like there was a request for that a long time ago (#12313) I don't know why it didn't show in the search results.
Anyway, this port would be a nice addition with minimal support as this library is not evolving much.

[2021-03-05 08:26] PhoebeHui commented on #14940
@jdx-john, does this still be a question for you?

[2021-03-05 08:43] JackBoosY commented on #16529
I can't repro your issue on my local machine:
![image](https://user-images.githubusercontent.com/47264268/110090084-daf41c00-7dd1-11eb-989d-dd64f613a899.png)

[2021-03-05 08:43] PhoebeHui commented on #15279
From [manifests.md](https://github.com/microsoft/vcpkg/blob/master/docs/users/manifests.md#command-line-interface), when invoked from any subdirectory of the directory containing vcpkg.json, vcpkg install with no package arguments will install all manifest dependencies into <directory containing vcpkg.json>/vcpkg_installed/.

[2021-03-05 08:44] JonLiu1993 commented on #16539
Hi @HideakiAtsuyo ,Thanks for posting this issue,Please send the error log
[code]
and @duanqn Thanks for your help!

I have two suggestions for this problem：

1. Please choose a non-C drive and try to recreate vcpkg
2. If the Visual Studio you installed is a non-English package, please install the English package

[2021-03-05 08:57] Cheney-W commented on #16541
Sorry, I don't quite understand what you mean. Do you want to ask whether vcpkg can provide these two header files or whether vcpkg uses these two header files when developing vcpkg?

[2021-03-05 09:00] PhoebeHui commented on #14808
The pistache currrently only support linux on official, please report an issue to Upstream instead.

[2021-03-05 09:00] #14808 closed

[2021-03-05 09:01] g-e-o-m-e-t-r-i-c commented on #16541
I was asking whether vcpkg can provide these two header files. Thank you!

[2021-03-05 09:07] NancyLi1013 commented on #16538
Hi @fishnet37222

Thanks for posting this issue.

Since it still uses `SQLite3 `instead of `unofficial-sqlite3` in Data/SQLite/cmake/PocoDataSQLiteConfig.cmake.

So just need to update the package name.

[code]

I have submitted a PR #16549 to fix it. It should work now.

[2021-03-05 09:18] PhoebeHui commented on #14731
This should not be a problem now, we download vcpkg.exe rather than building it in bootstrap on windows now.

[2021-03-05 09:18] #14731 closed

[2021-03-05 09:28] PhoebeHui commented on #15653
@TigerCipher, does this still be a problem for you?

[2021-03-05 09:30] HppZ commented on #16529
I was on master branch.
show I use the latest tag in production env?

[2021-03-05 09:31] JackBoosY commented on #16529
@HppZ I'm on latest master too.
Can you provide me the full logs?

[2021-03-05 09:34] PhoebeHui commented on #15312
Duplicated this issue to https://github.com/microsoft/vcpkg/issues/15681.

[2021-03-05 09:34] #15312 closed

[2021-03-05 09:39] #15653 closed

[2021-03-05 09:52] PhoebeHui commented on #13198
Duplicated to https://github.com/microsoft/vcpkg/issues/12849.

[2021-03-05 09:52] #13198 closed

[2021-03-05 10:02] NancyLi1013 commented on #16547
Hi @wasphin

Thanks for posting this issue.

Since Python 3.9 has dropped support of Windows 7. So you cannot run Python 3.9.2 on Windows 7.

Please see the document here https://docs.python.org/3/using/windows.html#

For the description in README:
[code]
Most ports support Windows 7, currently only those ports requiring Python 3 cannot work on Windows 7.

[2021-03-05 10:17] tan-wei opened #16551 "[ace:x86-windows] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: MSVC 16.8.5

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install ace[ssl,tao,wchar,xml,zlib]`

**Failure logs**
[code]

**Additional context**
 - Package: ace:x86-windows
 - Vcpkg version: 2021-01-13-d67989bce1043b98092ac45996a8230a059a2d7e

[2021-03-05 10:21] PhoebeHui commented on #13183
@BasitJaved, please reopen this issue if it still be a problem for you.

[2021-03-05 10:21] #13183 closed

[2021-03-05 10:32] PhoebeHui commented on #16174
@llduncangithub, please try above suggestion and reopen this issue if the issue persist.

[2021-03-05 10:32] #16174 closed

[2021-03-05 10:50] HppZ commented on #16529
[libxml2.zip](https://github.com/microsoft/vcpkg/files/6089992/libxml2.zip)

[2021-03-05 10:53] Cheney-W commented on #16483
Thnanks for your reply. I could reproduce this issue in my side, and I'm trying to fix it.
BTW, If you have any suggestions to fix this issue, please let me know. Thank you!

[2021-03-05 10:59] HppZ commented on #16529
BTW, I was on master (c47216ac7904b09187c119c7e4d010dcf993e3d5).

[2021-03-05 11:03] HppZ commented on #16529
Vcpkg package management program version 2021-01-13-d67989bce1043b98092ac45996a8230a059a2d7e
new log: [libxml2.zip](https://github.com/microsoft/vcpkg/files/6090058/libxml2.zip)

[2021-03-05 11:51] PhoebeHui commented on #7946
Pango has new revision, duplicate of https://github.com/microsoft/vcpkg/issues/15576

[2021-03-05 11:51] #7946 closed

[2021-03-05 12:52] wasphin commented on #16547
Some ports like `harfbuzz` only required python to run build tools, the version of python may not matter much, this kind of build failure is irrational. An option to use extern tools may be useful.

By now, I just make a link from python 3.8.8 to 3.9.2 to work around this.
[code]

Maybe we can make this more clear in the README?

[2021-03-05 13:41] HideakiAtsuyo commented on #16539
[config-x86-windows-out.log](https://github.com/microsoft/vcpkg/files/6090787/config-x86-windows-out.log)

1) I can't my others drives are used for other things and before it was working i just removed vcpkg to reinstall it because i removed all "0" file/folder size!
2) Again it's a useless thing i installed it and it doesn't change anything, not surprised tbh.. 👍

[2021-03-05 14:18] mheyman commented on #10199
Had the same problem today. Fixed it by forcing the creation of the directories used in the download:

    --- vcpkg_download_distfile.cmake       2020-11-10 10:44:43.549282900 -0500
    +++ /home/heymamd1/downloads/vcpkg_download_distfile.cmake      2021-03-05 09:16:46.403287700 -0500
    @@ -127,10 +127,15 @@
                 if(vcpkg_download_distfile_HEADERS)
                     foreach(heade

[2021-03-05 15:40] tlestang opened #16554 "How do I find a port's dependency in its portfile ?"
Hi there,

I'm adding a feature to the [current port for sundials](https://github.com/microsoft/vcpkg/tree/master/ports/sundials), which would allow the build of sundials with the "KLU" solver enabled. In practice this makes the build dependent on another library, SuiteSparse, which provides the KLU solver. Thankfully, SuiteSparse is already [available through vcpkg](https://github.com/microsoft/v

[2021-03-05 15:45] duanqn commented on #16539
@HideakiAtsuyo Personally I don't think using C: is a problem. The error log you posted says that VS failed to compile a test program. Can you check your VS installation and see if it can compile simple, hello-world level programs?
If it's not working, try fixing it with the VS installer. You can also send feedbacks in [Visual Studio](https://developercommunity.visualstudio.com/report?space=8&entr

[2021-03-05 15:54] HideakiAtsuyo commented on #16539
Yes i can otherwhise I would have said that my visual studio was broken......

By the way when you clone vcpkg then install anything with it it's supposed to work! Because before it was just:

1) Clone https://github.com/microsoft/vcpkg
2) Use the bootstrap file
3) ENJOY VCPKG

I never had a problem with this famous "ninja" that I didn't know existed before [this message](https://github.com/micros

[2021-03-05 16:10] duanqn commented on #16539
Hmmmm so after you re-installed vcpkg, do you encounter errors like this when you install other packages with vcpkg? Or is it just zlib? I think this might help clarify the situation a bit.

I feel that this is getting beyond my knowledge. Might be a good idea to wait for the maintainers to respond.

[2021-03-05 16:15] fishnet37222 opened #16555 "[libmysql] CMake warning about ncurses requirement on Linux"
**Host Environment**
- OS: [Linux Mint]
- Compiler: gcc 9.3.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install poco[mysql]`

**Warning logs**
[code]

**Additional context**
I already have libncurses5-dev installed as shown below:
[code]

The package seems to build fine otherwise.

[2021-03-05 16:27] HideakiAtsuyo commented on #16539
cpr, boost-build, curl, zlib, bzip2 and prolly a lot more will have the same issue for me

[2021-03-05 16:38] xCuri0 commented on #13614
To anyone having the problem try using ```zlib:x64-windows```

[2021-03-05 16:48] ilia-glushchenko opened #16556 "[geos] update to 3.9.0"
Library name: geos

New version number: 3.9.0

They fixed a few sketchy memory leaks. Nice to have those.

[2021-03-05 16:56] errata-c commented on #16483
I've managed to fix this issue on my end, but using a method I'm not sure is reliable.
It seems the issue is in the `vcpkg-cmake-wrapper.cmake` file, inside that file there is a call to `_find_package` using the uppercase name `GLEW`. This explains why it always reported found with the upper case name. The way I fixed it was using the `${PACKAGE_NAME}` variable defined in the `find_package` functi

[2021-03-05 18:20] wrobelda commented on #16464
@PhoebeHui just did, fails with the same error:

[code]

[2021-03-05 18:22] fishnet37222 opened #16557 "CMake projects on Windows do not copy DLLs to output folder."
**Describe the bug**
When using vcpkg to pull in dependencies as DLLs, the resulting DLLs are not copied into the output folder.

**Environment**
- OS: [Windows]
- Compiler: Microsoft (R) C/C++ Optimizing Compiler Version 19.28.29910 for x64

**To Reproduce**
Steps to reproduce the behavior:
1. Open the repository at [https://github.com/fishnet37222/HelloWorld.git](url) in either Visual Studio or

[2021-03-05 19:57] #16467 closed

[2021-03-05 21:34] DSMitten opened #16565 "vcpkg provides arm64-windows in my list of triplets but then doesn't actually build arm64-windows."
When I check the triplets that are available on my machine, I see this:
[code]
But when I try to install something using arm64-windows, I see this:
[code]

I'm currently on commit `ec6fe06e8`

I'm building on 64-bit Windows 10 Pro 20H2 19042.804 with an Intel Core i7-6700 CPU.

[2021-03-05 22:13] HideakiAtsuyo commented on #16539
It's an emergency i can't even compile any program that require the modules that i need without vcpkg it's so long to download everything manually..

[2021-03-05 22:39] ranjeethmahankali commented on #16486
Sorrty for the delayed reply... the command suggested by @PhoebeHui fixed my issue. Thanks!

[2021-03-05 22:39] #16486 closed

[2021-03-05 23:06] DSMitten opened #16566 "vcpkg bootstrap logs to stderr if it downloads cmake or ninja"
**Describe the bug**
I'm running vcpkg in Azure DevOps with a Microsoft-Hosted agent. vcpkg is a submodule of my team's repo, so we don't use the preinstalled instance on the agent machine - we use the submodule.

When building on the Windows agent, bootstrap succeeds with no errors.
When building on the Mac & Linux agent, bootstrap succeeds but first logs the following:
[code]

The problem is tha

[2021-03-05 23:07] DSMitten commented on #16566
[pipeline-log.txt](https://github.com/microsoft/vcpkg/files/6094030/pipeline-log.txt)

Attaching log file from my team's ADO pipeline.

[2021-03-05 23:28] vicroms commented on #16541
Hi @g-e-o-m-e-t-r-i-c ,

The `iostream.h` header is part of the standard library headers, there is no need to use vcpkg to acquire it. In modern C++ you include `#include <iostream>` (without the `.h`). The other one, `graphics.h`, isn't a standard header. Most likely you are referring to the [very antiquated header included with the Borland compiler](https://stackoverflow.com/questions/7860569/ho

[2021-03-05 23:28] #16541 closed

[2021-03-05 23:40] vicroms commented on #11684
@IceflowRE I also think that the FAQ is due for an update, both vcpkg and Conan have changed a lot since the document was originally written.

[2021-03-06 02:46] DSMitten commented on #16565
It turns out the problem was that I didn't have Visual Studio ARM compiler features installed.  I was confused because the error seemed to indicate that it was a vcpkg config problem, not a missing Visual Studio feature problem.  Either way, I'm unblocked now.  It would be good if vcpkg could provide a more helpful error message in this case, even asking the question "Are the correct compilers for

[2021-03-06 04:04] human-0 opened #16569 "Separate include files for Debug and Release"
Currently, the header files are the same in Debug and Release mode. This is a problem in libraries such as GLAD, which have different include files. During build time, different headers are used (in `buildtrees\...\x64-windows-dbg\include` and `buildtrees\...\x64-windows-rel\include`, but only the release headers are available in `x64-windows\include`. This makes it impossible to access the debug

[2021-03-06 05:16] shawncao opened #16570 "find_package not working while CMAKE_TOOLCHAIN_FILE specified"
First time to try vcpkg - just followed basic tutorial to install google-cloud-cpp, here are my steps and question at last

1. install vcpkg
2. install google-cloud-cpp with vcpkg it shows
[code]
3. add `find_package(google_cloud_cpp_storage CONFIG REQUIRED)` to my cmake file
4. run cmake with toolchain parameter `cmake .. -DCMAKE_TOOLCHAIN_FILE:STRING=/home/shawncao/vcpkg/scripts/buildsystems/vcp

[2021-03-06 05:55] shawncao commented on #16570
most likely problem is with CMake cache, I need to clean up the cache files.

[2021-03-06 05:55] #16570 closed

[2021-03-06 06:40] HppZ commented on #16529
I think maybe your local binary is OK so that you can't repro this issue.

[2021-03-06 06:44] Pospelove commented on #9538
In 2021 you can just specify `CMAKE_TOOLCHAIN_FILE` and see that vcpkg bootstraps and installs everything automatically during the project files generation stage. This mechanism works better than I ever could imagine. Really nice job.

[2021-03-06 06:44] #9538 closed

[2021-03-06 07:52] HppZ commented on #16529
building libxml2:x64-uwp succeed on tags/2020.11-1, but apps using it can't pass WACK test.
build libxml2:x86-uwp failed on on tags/2020.11-1.
https://github.com/microsoft/vcpkg/pull/368

[2021-03-06 08:29] JackBoosY commented on #16529
@HppZ No, I use the latest generated libxml2.

[2021-03-06 08:30] HppZ commented on #16529
that is strange.

[2021-03-06 08:31] JackBoosY commented on #16529
Please provide more information in Debug->Windows->Output.

[2021-03-06 08:33] HppZ commented on #16529
https://github.com/microsoft/vcpkg/pull/15787

[2021-03-06 08:34] HppZ commented on #16529
Can I contact you personally? my email: haopengzi@outlook.com

[2021-03-06 08:36] HppZ commented on #16529
check this output: https://github.com/microsoft/vcpkg/pull/15787#issuecomment-791884690

[2021-03-06 08:38] Goru1890 opened #16571 "Is the CUDA ToolKit - Cuda Runtime api available?"
Is the CUDA ToolKit - Cuda Runtime api available on vcpkg?
I  need the [cuda runtime API lib](https://docs.nvidia.com/cuda/cuda-runtime-api/index.html)

[2021-03-06 09:44] HppZ commented on #16529
vcpkg install libxml2 --triplet=x64-uwp
on vcpkg master commit c47216ac7904b09187c119c7e4d010dcf993e3d5
binaries:
[x64-uwp.zip](https://github.com/microsoft/vcpkg/files/6095115/x64-uwp.zip)

[2021-03-06 09:56] HppZ commented on #16529
![image](https://user-images.githubusercontent.com/12285582/110202635-0ac02400-7ea5-11eb-8385-a2336d9b1c02.png)

[2021-03-06 15:52] matteoturini opened #16574 "Add how to do pkg-config integration"
****

**Is your feature request related to a problem? Please describe.**
No.

**Proposed solution**
Make it so in the docs, it specifies you can set PKG_CONFIG_PATH to ```$(VCPKG_ROOT)\installed\triplet\lib\pkgconfig;$(VCPKG_ROOT)\installed\triplet\debug\lib\pkgconfig``` to integrate Vcpkg and Makefiles

[2021-03-06 22:09] wrobelda commented on #13518
@strega-nil can you please re-open this? Unfortunately this issue wasn't fixed by #11776. Please see https://github.com/microsoft/vcpkg/pull/13532 for ongoing discussion.

[2021-03-07 02:30] HideakiAtsuyo commented on #16539
Btw errors are only when i want to install packages, when i use the bootstrap file i don't have any error

[2021-03-07 03:04] PazerOP opened #16579 "GitHub Packages broken with multiple repos in 1 org"
**Describe the bug**
Attempting to use github packages integration, with the same package(s), from two separate repositories within the same organization will cause package upload failures.

I set up GitHub Packages + binarycaching with GitHub actions in one of my repos (https://github.com/PazerOP?tab=packages&repo_name=stuff), and was very happy with how it worked. I then tried to integrate it wi

[2021-03-07 04:35] S0nathan commented on #16253
Exactly the same error log, and my understanding is too low for the syntax provided in the error message and the reply here.

[2021-03-07 10:45] cdcseacave opened #16580 "[boost-iostreams] build fails to include zstd"
**Host Environment**
- OS: Ubuntu 20.04 (works on Windows)
- Compiler: gcc

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install boost-iostreams`

**Failure**
The port builds fine, but only zlib and bzip2 are considered during compilation, even though for ex zstd is installed already with vcpkg and it seems to be listed as dependency in the port script. When trying to use some functi

[2021-03-07 12:34] sailor239 commented on #15256
Hi, I encountered the same issue. May I ask how was this issue solved?

[2021-03-07 13:24] vvojtas commented on #15256
This commit seems to reverse the hash change:
https://github.com/JonLiu1993/vcpkg/commit/a528e6ac1f239dbbae281e3a59ad3696bb4a8ee5#diff-4ff1b978633c585d806f107f18e6bdca8afffa929b0349a3101e09ec42f259b5

But they seem to be fix things here:
https://github.com/microsoft/vcpkg/issues/16011

[2021-03-07 13:49] KillJoke opened #16581 "Error: Building package msmpi:x86-windows failed with: BUILD_FAILED"
PS D:\DEV\vcpkg> .\vcpkg install msmpi
Computing installation plan...
The following packages will be built and installed:
    msmpi[core]:x86-windows -> 10.1
Detecting compiler hash for triplet x86-windows...
Could not locate cached archive: C:\Users\TUF\AppData\Local\vcpkg\archives\de\dee58b67601d83664c05216e1e858e6bcca798da.zip
Starting package 1/1: msmpi:x86-windows
Building package msmpi[core]

[2021-03-07 14:55] Mr-Leshiy opened #16582 "vcpkg_install cmake function"
I looking how to simplify the build process of the c++ applications, so here it is my suggestion.
In my opinion, building some c++ package it is convenient when all dependencies installing automatically. And with such tool as vcpkg and cmake it is possible do it in the very simple way, just adding the following function.

[code]
Generally it is possible to improve it and make it more general and s

[2021-03-07 15:23] heydojo commented on #16094
Never assume. 👍
I tried again today with the latest master and with some changes to the port file it did eventually build. In four hours.

[2021-03-07 15:23] #16094 closed

[2021-03-07 17:15] PiterRudyy opened #16584 "Error when running "vcpkg install tgbot-cpp" on windows"
Windows 10 19042
Vcpkg package management program version 2021-01-13-d67989bce1043b98092ac45996a8230a059a2d7e

[code]

[stdout-x86-windows.log](https://github.com/microsoft/vcpkg/files/6097582/stdout-x86-windows.log)
[config-x86-windows-out.log](https://github.com/microsoft/vcpkg/files/6097583/config-x86-windows-out.log)

[2021-03-07 18:06] ghesketh opened #16585 "[tiff] allow zstd support"
**Issue**
libtiff already supports zstd compression codec, but the existing "tiff" port explicitly disallows it

**Solution**
- Add `Feature: zstd` to `CONTROL`
- Remove `-Dzstd=OFF` from `portfile.make`

I am happy to make a PR, but the contribution guidelines urge creating an issue first.

[2021-03-07 23:22] walenty500 opened #16586 "[flashlight-cpu/onednn] build fail"
**Host Environment**

    OS: Ubuntu 18.04
    Compiler: gcc

**To Reproduce**

Steps to reproduce the behavior:
`./vcpkg install flashlight-cpu`

**Failure logs**

[code]

Previously had problems with the same build, but with MLK (had to change MLK_REQUIRED_VERSION at ports/intel-mkl/portfile.cmake from 20200000 to 202101)

When doing ./vcpkg update :

`Using local portfile versions. To update th

[2021-03-08 02:13] JackBoosY commented on #16585
@ghesketh  Please make a PR and I will help you.

[2021-03-08 02:34] JackBoosY commented on #16539
[code]

Can you please provide full failure log _ C:\Dev\vcpkg\buildtrees\zlib\config-x86-windows-out.log_?

Thanks.

[2021-03-08 03:23] PhoebeHui commented on #16565
@DSMitten, I tried latest source, it has more useful message now.
[code]

[2021-03-08 03:52] HideakiAtsuyo commented on #16539
[config-x86-windows-out.log](https://github.com/microsoft/vcpkg/files/6098816/config-x86-windows-out.log)

[2021-03-08 04:02] HppZ commented on #16529
vcpkg install libxml2 --triplet=x86-uwp
c47216ac7904b09187c119c7e4d010dcf993e3d5
[App5.zip](https://github.com/microsoft/vcpkg/files/6098842/App5.zip)

[2021-03-08 05:43] NancyLi1013 commented on #16555
Hi @fishnet37222

Thanks for posting this issue.

This is expected. Since we added this message on Linux for `libmysql`. Adding this message is just to reminder users when installing this port. You can ignore this information if you have installed the library.

Please see

[code]

https://github.com/microsoft/vcpkg/blob/master/ports/libmysql/portfile.cmake#L7-L9

[2021-03-08 06:15] JackBoosY commented on #16566
cc @ras0219 @ras0219-msft

[2021-03-08 06:58] NancyLi1013 commented on #16571
Hi @Goru1890

Thanks for posting this issue.

Currently, there is only CUDA driver in vcpkg. Please see https://github.com/microsoft/vcpkg/tree/master/ports/cuda

You can request to add a new port for CUDA runtime API if you are required this.

[2021-03-08 06:59] JackBoosY commented on #16584
Please make sure you have installed the required Visual Studio components.

Thanks.

[2021-03-08 07:29] PhoebeHui commented on #16580
@cdcseacave, could you provide us the repro code?

[2021-03-08 07:43] PhoebeHui commented on #16141
@fl0kng, does this issue still persist with vcpkg clean source?

[2021-03-08 07:45] fl0kng commented on #16141
yes, same issue.

[2021-03-08 07:46] Goru1890 opened #16588 "[New Port Request] <Cuda runtime API>"
Library name: Cuda Runtime API

Library description: I find this library specialy useful to handle cuda errors in my project.

Source repository URL: https://developer.nvidia.com/cuda-downloads

Project homepage (if different from the source repository): https://docs.nvidia.com/cuda/cuda-runtime-api/index.html

Anything else that is useful to know when adding (such as optional features the library

[2021-03-08 07:46] NancyLi1013 commented on #16557
Hi @fishnet37222

Thanks for posting this issue.

It seems that the link you provided above are wrong. Since I clicked them and both of them are directed to https://github.com/microsoft/vcpkg/issues/url.

Could you please help provide your project sample and attach your result here?

[2021-03-08 07:46] 370rokas opened #16589 "curl:x86-windows, curl:x64-windows build failure"
**Host Environment**
- OS: Windows
- Compiler: cmake v3.19.2

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install curl[*]:x64-windows` or `./vcpkg install curl[*]:x32-windows`

**Failure logs**
-Cut and past the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

[code]

**Additional context**
Add any other

[2021-03-08 07:53] PhoebeHui commented on #16469
@paveb85394, please reopen this issue if it still be a question for you.

[2021-03-08 07:53] #16469 closed

[2021-03-08 07:58] PhoebeHui commented on #15665
This should not be a problem now, please get latest source and try again.

[2021-03-08 07:58] #15665 closed

[2021-03-08 07:58] JackBoosY commented on #16557
Please see feature `X_VCPKG_APPINSTALL_DEPS_INSTALL `.
Related: https://github.com/microsoft/vcpkg/pull/14243

[2021-03-08 08:00] JackBoosY commented on #16539
[code]

Please install the required Visual Studio components.

Thanks.

[2021-03-08 08:01] fishnet37222 commented on #16557
I've attached the two projects as requested.

[HelloWorld.zip](https://github.com/microsoft/vcpkg/files/6099756/HelloWorld.zip)
[vcpkg-test.zip](https://github.com/microsoft/vcpkg/files/6099757/vcpkg-test.zip)

[2021-03-08 08:11] JackBoosY commented on #16586
Please check if the memory and hard disk are free.

Thanks.

[2021-03-08 08:17] JackBoosY commented on #16554
1. You can view the dependencies from CONTROL or vcpkg.json.
2. Modify the source code and add code to find these directories or files (make a patch to appy it).

[2021-03-08 08:33] cdcseacave commented on #16580
https://github.com/cdcseacave/openMVS/tree/develop

[2021-03-08 09:08] JonLiu1993 commented on #16581
@KillJoke ,Thanks for posting this issue,Please install this exe first and then reinstall：
[code]

[2021-03-08 09:17] PiterRudyy commented on #16584
I have installed Visual Studio

[2021-03-08 09:28] JackBoosY commented on #16584
Oh sorry, it seems that your path contains non-ASCII characters, please clone vcpkg and try again in a path that does not contain non-ASCII characters or spaces.

Thanks.

[2021-03-08 09:37] jdx-john commented on #14940
@PhoebeHui how would I do this?

[2021-03-08 10:11] socuwn commented on #14636
This issue is back again after upgrade to OCC 7.5.0,
#15997

[2021-03-08 10:41] PhoebeHui commented on #14940
If you create a cmake project via visual studio, you can update it by editting the CMakeSettings.json file:

![image](https://user-images.githubusercontent.com/20694052/110310502-97054f00-803d-11eb-8acf-f780ca87f0c8.png)

[2021-03-08 11:09] jdx-john opened #16594 "How do I build on one machine and distribute built files to integrate on another?"
Building a lot of dependencies can take a long time, so pre-building vcpkg dependencies on one machine would sometimes be useful.

What I would like is something like the following workflow:

1. Developer installs vcpkg locally.
2. Developer copies required files from <build-server> to their local machine
3. Developer runs `vcpkg integrate install`

How feasible is this, which folders would they n

[2021-03-08 11:27] autoantwort commented on #16594
See the [documentation](https://github.com/microsoft/vcpkg/blob/master/docs/users/binarycaching.md)

[2021-03-08 11:31] autoantwort commented on #16589
You try to install a feature for macOS on windows, that does not work.
I think you want to install `./vcpkg install curl:x64-windows`

[2021-03-08 11:32] autoantwort commented on #16582
I think you are searching for the [manifest mode](https://github.com/microsoft/vcpkg/blob/master/docs/users/manifests.md).

[2021-03-08 11:34] jdx-john commented on #16594
I can't make head nor tail of that :) Most of the discussion seems to be about CI and so on, I don't see any explanation what I should copy to my local box and how I should use it.

[2021-03-08 11:38] jdx-john commented on #16594
I think export might be easier (https://devblogs.microsoft.com/cppblog/vcpkg-introducing-export-command/)
Developers can presumably run vcpkg in parallel if they are adding a new library dependency.

[2021-03-08 11:43] autoantwort commented on #16594
If you have a shared network drive, you could use `binarycache` `files,<path>[,<rw>] | Adds a custom file-based location`.

[2021-03-08 11:46] jdx-john commented on #16594
Yeah that's a good point.

[2021-03-08 12:28] #16589 closed

[2021-03-08 14:25] omartijn commented on #8203
For me the following change makes it not fail and create a working bundle:

[code]

It's probably not the cleanest solution, we basically don't do anything if we cannot find the library in the expected location. The assumption made here is that that means that the library didn't originate in vcpkg. This seems to work in practice, but there may be some corner-cases.

[2021-03-08 14:26] Mr-Leshiy commented on #16582
Yes, thank you !!! It is look like that it is what I mean.
I close this issue.

[2021-03-08 14:26] #16582 closed

[2021-03-08 14:31] ADerSchreiber opened #16597 "[darknet] build failure"
**Host Environment**
- OS: Windows 10 Home
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg install darknet[opencv-base,cuda,cudnn]:x64-windows`

**Failure logs**
CMake Error: Problem with archive_write_header(): Can't create '\\?\D:\OneFolder\AnotherFolder\vcpkg\downloads\tools\msys2\969c0913b9df89e1.tmp\usr\bin\gawk.exe'
CMake Error: Current file: usr/bin/gawk.exe

[2021-03-08 14:32] Mr-Leshiy opened #16598 "How do I vcpkg in the manifest mode choose the compiler ?"
I am working on the Linux system, so I have the following question.
Does the vcpkg build the package, that are provided in the ```vcpkg.json``` manifest file, builds with the same compiler which are specified for the project during the cmake build process via the ```CC``` and the ```CXX``` env. vars.
Here is the command line for the cmake:
[code]

[2021-03-08 15:37] JackBoosY commented on #16542
Hi @ilia-glushchenko, sorry for late.
I think you should use `find_program` to find crashpad executable, and use feature `X_VCPKG_APPINSTALL_DEPS_INSTALL` to copy it.
See https://github.com/microsoft/vcpkg/pull/14243.

[2021-03-08 15:37] autoantwort commented on #16597
Please attach D:\OneFolder\AnotherFolder\vcpkg\buildtrees\ffmpeg\msys-x64-windows-6-err.log

[2021-03-08 15:38] JackBoosY commented on #15698
@TonyXiang8787 For example, see:
https://github.com/microsoft/vcpkg/blob/1d415e8dc3afef0ae85b4d00ea56013b2f26bb46/ports/libiconv/portfile.cmake#L24-L36

[2021-03-08 15:41] ilia-glushchenko commented on #16542
Okay. Thanks for the reply.

[2021-03-08 15:47] DSMitten commented on #16565
That's a much more helpful message. Thanks for following up!

[2021-03-08 15:47] #16565 closed

[2021-03-08 16:00] ilia-glushchenko opened #16599 "[kinectsdk1] Outdated Kinect SDK Setup.exe hash"
**Is your feature request related to a problem? Please describe.**
It looks like Kinect SDK Setup.exe was updated.
It no longer matches the SHA512 hash sum in the port file (see `\vcpkg\ports\kinectsdk1\portfile.cmake:9`).
New hash you get while installing the port: `ee8a0f70c86aad80fe214108e315e4550a90ed39f278ce00a7137532174ee5bf3bdeb1d0b499fc5ffdb5e176adecfd68963ee3731e1d2f00d69d32d1b8a3c555`.
C

[2021-03-08 17:48] HideakiAtsuyo commented on #16539
Dynamic:

[code]

Static:

[code]

[2021-03-08 18:07] bieging opened #16600 "[brotli] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
vcpkg install irrlicht zlib curl[winssl] openal-soft libvorbis libogg sqlite3 freetype luajit gmp jsoncpp --triplet x64-windows

Installation command from Minetest project

**Failure logs**
[code]
[config-x64-windows-out.log](https://github.com/microsoft/vcpkg/files/6103265/config-x64-wind

[2021-03-08 18:08] bieging commented on #16600
[config-x64-windows-out.log](https://github.com/microsoft/vcpkg/files/6103277/config-x64-windows-out.log)

[2021-03-08 18:09] Neumann-A commented on #16598
Since vcpkg ist not creating its own environment on linux it or more precise cmake should be able to pick up those env variables. You can always check the build logs to make sure it does.

[2021-03-08 18:14] PiterRudyy commented on #16584
Thanks, now it is working. I created C:\devcpp and clone here.

[2021-03-08 18:14] #16584 closed

[2021-03-08 18:56] BullyWiiPlaza opened #16601 "[New Port Request] plusaes"
Library name: plusaes

Library description: Header only C++ AES cipher library

Source repository URL: https://github.com/kkAyataka/plusaes

Project homepage (if different from the source repository): -

Anything else that is useful to know when adding (such as optional features the library may have that should be included):
No, it's a simple header only library.

[2021-03-08 19:30] SergeiDelov opened #16602 "x64-dynamic-linux build problem for geos (Geometry Engine Open Source)"
When attempted to build Linux packages as dynamic libraries (see https://github.com/microsoft/vcpkg/blob/master/docs/examples/overlay-triplets-linux-dynamic.md) got the following log:
[code]
Both
[code]
and
[code]
contains:
[code]
Please advise/fix.
PS
I use the following command line:
[code]

[2021-03-08 20:00] townsend2010 opened #16604 "[vcpkg.cmake] Binaries are missing in many manifest-based installs"
**Describe the bug**
When using manifest-based installs in a project, `find_package()` does not find any associated binaries in named dependencies.

**Environment**
- OS: Any
- Compiler: Any

**To Reproduce**
Steps to reproduce the behavior:
1. Define a vcpkg.json such as:
[code]
2. Create a CMakeFiles.txt that has the following:
[code]
3. Run cmake and observe in CMakeCache.txt the following line

[2021-03-08 20:44] #16604 closed

[2021-03-09 01:50] PhoebeHui commented on #15895
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2021-03-09 01:50] #15895 closed

[2021-03-09 01:50] PhoebeHui commented on #15952
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2021-03-09 01:50] #15952 closed

[2021-03-09 01:52] PhoebeHui commented on #15847
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2021-03-09 01:52] #15847 closed

[2021-03-09 02:04] PhoebeHui commented on #13743
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2021-03-09 02:04] #13743 closed

[2021-03-09 02:07] #15972 closed

[2021-03-09 02:09] PhoebeHui commented on #15864
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2021-03-09 02:09] #15864 closed

[2021-03-09 02:12] shelllet opened #16607 "[New Port Request] winsparkle"
Library name:winsparkle

Library description: WinSparkle is a plug-and-forget software update library for Windows applications. It is heavily inspired by the Sparkle framework for OS X written by Andy Matuschak and others, to the point of sharing the same updates format (appcasts) and having very similar user interface.

Source repository URL:https://github.com/vslavik/winsparkle

Project homepage

[2021-03-09 02:13] PhoebeHui commented on #15959
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2021-03-09 02:13] #15959 closed

[2021-03-09 02:15] PhoebeHui commented on #16024
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2021-03-09 02:15] #16024 closed

[2021-03-09 02:18] PhoebeHui commented on #15982
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2021-03-09 02:18] #15982 closed

[2021-03-09 02:19] PhoebeHui commented on #16025
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2021-03-09 02:19] #16025 closed

[2021-03-09 02:30] #16542 closed

[2021-03-09 02:36] JackBoosY commented on #16542
@ilia-glushchenko Please reopen this issue if you have other questions.

[2021-03-09 02:38] PhoebeHui commented on #16054
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2021-03-09 02:38] #16054 closed

[2021-03-09 02:40] JackBoosY commented on #16539
@HideakiAtsuyo Once you have selected a triplet, you need to use it to build all the ports, please use command `./vcpkg install cpr:x86-mingw-dynamic`.

[2021-03-09 02:43] PhoebeHui commented on #16074
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2021-03-09 02:43] #16074 closed

[2021-03-09 02:47] #16066 closed

[2021-03-09 03:04] icegull opened #16608 "How do I install static boost 1.75 lib with vs2019(v142) compiled?"
Today what I do, pull the newest vcpkg repo and get the newest vcpkg.exe:
1. Add "set(VCPKG_PLATFORM_TOOLSET v142)" into "vcpkg\triplets\community\x64-windows-static-md.cmake"
2. ".\vcpkg.exe install boost:x64-windows-static-md"
3. I get vc140 lib like "vcpkg\installed\x64-windows-static-md\lib\boost_atomic-vc140-mt.lib"
4. I link boost lib into a project and check it with depenency, I do see "vcr

[2021-03-09 03:17] JonLiu1993 commented on #16599
Hi @ilia-glushchenko ,Thanks for posting this issue,I saw that SHA512 is correct after git pull in vcpkg, please update vcpkg and try again

[2021-03-09 03:18] aggieNick02 opened #16609 "Documentation issues for vcpkg_install_msbuild"
In
https://github.com/microsoft/vcpkg/blob/master/docs/maintainers/vcpkg_install_msbuild.md

the first line says the latest version of the doc lives in the vcpkg repo. Clicking the link for that takes you to a 404.

Then there are two examples listed for projects that use vcpkg_install_msbuild - xalan-c and libimobiledevice - neither uses vcpkg_install_msbuild afaict.

[2021-03-09 05:44] NancyLi1013 commented on #16597
Hi @ADerSchreiber

Thanks for posting this issue.

[code]

Could you please try to install vcpkg to another driver?

Please see the details here https://github.com/microsoft/vcpkg/issues/14300#issuecomment-719396447

[2021-03-09 06:23] NancyLi1013 commented on #16608
Hi @icegull

Thanks for posting this issue.

The library name is not related with toolset version. Since it will be renamed as '-vc140'. Please see the code in _/scripts/buildsystems/vcpkg.cmake_

[code]
https://github.com/microsoft/vcpkg/blob/master/scripts/buildsystems/vcpkg.cmake#L818-L822

Also you can get the details here to know why vcpkg do like this:

https://github.com/microsoft/vcpkg/iss

[2021-03-09 06:27] longli0 opened #16614 "vcpkg.exe failed in Windows container says "Error getting canonicalization""
**Describe the bug**
vcpkg.exe failed to build packages in Windows container says "Error getting canonicalization"

**Environment**
- OS: Windows 10 Version 20H2 (OS Build 19042.804)
- Compiler: VS BuildTools 16 +  'Microsoft.VisualStudio.Component.VC.Tools.x86.x64' + 'Microsoft.VisualStudio.Component.VC.v141.x86.x64', download link: https://aka.ms/vs/16/release/vs_buildtools.exe
- Docker for Wind

[2021-03-09 06:36] NancyLi1013 commented on #16557
@fishnet37222

Have you tried the above suggestions from @JackBoosY ?

[2021-03-09 06:37] NancyLi1013 commented on #16555
Closing this issue for intend behavior. Please feel free to reopen this if it is still a problem for you.

Thanks.

[2021-03-09 06:37] #16555 closed

[2021-03-09 06:45] fishnet37222 commented on #16557
Is there any documentation on how to use what @JackBoosY was referring to?

[2021-03-09 06:46] NancyLi1013 commented on #16547
Hi @wasphin

Thanks for your details. Since someone has added a feature `deprecated-win7-support` for `python3 `to support python 3.9 on Windows 7. Please see https://github.com/microsoft/vcpkg/pull/16420

In this case, users can still use python3 on Windows 7 via `python3[deprecated-win7-support]`.

[2021-03-09 06:51] NancyLi1013 commented on #15805
@ludekvodicka

Is this sill a problem for you?

[2021-03-09 07:06] Yourbee commented on #13890
thanks,
it fixed my vcpkg install and cmder problem for uninstalling conda.

[2021-03-09 07:07] JonLiu1993 commented on #16600
@bieging ,Thanks for posting this issue
CMake is not able to generate the project properly -
Check to make sure Visual Studio 2019 has the following installed:

Desktop Development with C++
One of the Windows SDKs, preferably the latest 19041
English Language Pack

[2021-03-09 07:24] NancyLi1013 commented on #16557
Currently there is no any documentation about this feature. Since it is experimental.

I think you may set `X_VCPKG_APPLOCAL_DEPS_INSTALL ` as `ON ` to rebuild vcpkg and verify if this can work.

`option(X_VCPKG_APPLOCAL_DEPS_INSTALL "(experimental) Automatically copy dependencies into the install target directory for executables." OFF)`
https://github.com/microsoft/vcpkg/blob/master/scripts/build

[2021-03-09 07:51] NancyLi1013 commented on #14890
Hi @robmikh @driver1998 @isanych

Would you like to help update `angle `to the latest? I checked the latest source codes and found there were a lot of changes. Since I'm not familiar with this port. So could anyone help?

Thanks in advance.

[2021-03-09 07:57] JonLiu1993 commented on #16556
Solved by #16572

[2021-03-09 08:07] meastp opened #16615 "Struggling with differences in abi_info and build failures with binarycaching"
I am trying to use vcpkg for building in Azure Pipelines (CI, Microsoft Hosted Agent windows-2019 and vs2017-win2016) and to be able to reuse the binary packages produced on my dev machine.

Everything except two packages compile successfully in Azure, but the binary package hashes are different. The two packages that fail (libpq and ocilib, with an error about corrupt patch) does compile successf

[2021-03-09 08:55] #16598 closed

[2021-03-09 09:22] icegull commented on #16608
Thank you very much. More clear for me.

[2021-03-09 09:55] meastp commented on #16615
btw, this is the message i get for building libpq (both v141 and v142):
[code]

the message for ocilib is more or less equal. I can't see how the patch is corrupt. (And, as I mentioned, this only happens in the microsoft hosted azure pipeline)

[2021-03-09 10:00] PhoebeHui commented on #16615
@meastp, do you install git locally, if so, what's revision do you use?

[2021-03-09 10:07] meastp commented on #16615
@PhoebeHui

locally: 99dc49dae7e170c3be63dd097230007f3bb73c4f

I also download the latest revision in Azure.

[2021-03-09 10:07] ADerSchreiber commented on #16597
Thanks, this seems to have been the issue, D:\ was exFAT. Build is now in progress on an NTFS-Partition. I assume this taking 3+ hours in total is to be expected? Went fairly quickly until it arrived at _Building x64-windows-dbg_, which I could understand taking more time than building the release.
![building_dbg](https://user-images.githubusercontent.com/79848228/110447280-5bf82f80-80c0-11eb-8010

[2021-03-09 10:11] pastle-ptc opened #16616 "[libxslt] update to 1.1.34"
Library name:
libxslt

New version number:
1.1.34

Other information that may be useful (release notes, etc...):
This would resolve CVE-2019-18197 and CVE-2019-5815.

[2021-03-09 10:13] pastle-ptc commented on #16616
I've already created a branch to do this.  I'm happy to push my branch and create a pull request, etc, if you'd like.

[2021-03-09 10:14] PhoebeHui commented on #16615
@meastp, could you manualy update the EOL of 'ports/libpq/patches/windows/openssl_exe_path.patch' file to LF, and see if the patch could apply successfully?

[2021-03-09 10:47] RisingMichael commented on #13881
I've encountered this problem too. Somehow concave_hull.h is not installed with the rest of the pcl library.
Any news on this?

[2021-03-09 10:58] PhoebeHui commented on #16616
@pastle-ptc, could you please submmit a PR for this? we're happy to accept the PR!

[2021-03-09 11:07] pastle-ptc commented on #16616
I tried to push my branch to this repo but I don't have permission.  Do I need to go through the Contributor License Agreement bit to get push access for branches?  Or do I need to fork it into my own repository and then submit a pull request?  I've not submitted to an open source project before..!

[2021-03-09 11:15] PhoebeHui commented on #16616
@pastle-ptc, you need fork vcpkg into your own repo and then create a PR for this.

[2021-03-09 11:35] pastle-ptc commented on #16616
Ok, I'll do that now - thanks!

[2021-03-09 11:39] PhoebeHui commented on #13787
It has been added to https://github.com/microsoft/vcpkg/blob/master/docs/users/manifests.md.

[2021-03-09 11:39] #13787 closed

[2021-03-09 11:43] PhoebeHui commented on #16297
Also see relate docs https://github.com/microsoft/vcpkg/blob/master/docs/users/manifests.md, please reopen this issue if it still be a question for you.

[2021-03-09 11:43] #16297 closed

[2021-03-09 11:55] PhoebeHui commented on #15964
@Gladaed, please reopen this issue if it still be a problem for you.

[2021-03-09 11:55] #15964 closed

[2021-03-09 11:57] ADerSchreiber commented on #16597
Nevermind, executing the command anew with

.\vcpkg install darknet[opencv-base,cuda,cudnn]:x64-windows

instead of

.\vcpkg install darknet[full]:x64-windows

did not throw an error. Issue can be closed.

[2021-03-09 11:57] #16597 closed

[2021-03-09 12:00] Krzmbrzl opened #16618 "[vcpkg upgrade] Upgrade deletes existing packages and then aborts"
**Describe the bug**
When updating my local vcpkg installation the steps I usually perform are
1. `git pull`
2. `vcpg upgrade --no-dry-run`

In these cases vcpkg figures out that there are packages that need an upgrade. It then proceed by removing the old packages. However when it comes to actually downloading and building the new packages (at least I assume that this is what would happen next), t

[2021-03-09 12:01] meastp commented on #16615
@PhoebeHui I opened all windows patch files in notepad++ (which shows line endings), and when comparing the patches with the source files they apply to, I see differences in line endings in multiple patch files. Not sure if this is a problem for all the files:

- openssl_exe_path.patch (as you noticed, the patch is consistently crlf, the source is consistently lf)
- msgfmt.patch (the Install.pm fi

[2021-03-09 12:02] PhoebeHui commented on #15889
You can also try overlay ports see https://github.com/microsoft/vcpkg/blob/master/docs/specifications/ports-overlay.md or create a custom repo.

[2021-03-09 12:06] PhoebeHui commented on #16615
@meastp, I can't repro this issue locally, so could you help confirm if these patches could apply successfully when update all EOL from CRLF to LF in your machine?

[2021-03-09 12:08] meastp commented on #16615
@PhoebeHui I could never reproduce this locally - it only happens on the Microsoft hosted azure pipeline agent. I'm not sure why...

[2021-03-09 12:22] meastp commented on #16615
@PhoebeHui could this be a git (global) setting on the agent that handles crlf/lf differently than on our local machines?

[2021-03-09 12:49] PhoebeHui commented on #16615
It may be relate to the git gloable setting, @strega-nil, do you know more about this?

Relate to https://github.com/microsoft/vcpkg/blob/master/scripts/cmake/z_vcpkg_apply_patches.cmake#L48

[2021-03-09 13:05] esride-jts commented on #10097
@NancyLi1013  works like a charm. Let me try this again using my other workstation.

[2021-03-09 13:09] fauder opened #16619 "[opencascade] Include samples ?"
**Is your feature request related to a problem? Please describe.**
Maybe add the samples in the original opencascade codebase as a feature ? Using opencascade via vcpkg instead of compiling it myself currently means I don't have access to sample/tutorial projects, which are quite handy as this library is not the easiest to get up and running when starting a new project.

**Proposed solution**
I do

[2021-03-09 13:22] meastp commented on #16615
I have added the following git config to my pipeline yaml script:
before:
[code]
after:
[code]
We will se if this makes a difference

[2021-03-09 14:02] bieging commented on #16600
@JonLiu1993

I updated the Windows SDK to the latest version and brotli installed correctly, but the package gmp still failed. See cmd log
 below.

**Failure Logs**
C:\Users\andre\Downloads\vcpkg\vcpkg>vcpkg install irrlicht zlib curl[winssl] openal-soft libvorbis libogg sqlite3 freetype luajit gmp jsoncpp --triplet x64-windows
Computing installation plan...
The following packages are already inst

[2021-03-09 14:10] wasphin commented on #16547
Hi, @NancyLi1013

Thanks for the information, `python3[deprecated-win7-support]` has been successfully built under windows 7, but how to use the `python3[deprecated-win7-support]` to build `harfbuzz` in my case? If I understand right, `python3[deprecated-win7-support]` just build python 3.9.2, which can work under windows 7.

I think the title may have misled others, what I want is not to make pyt

[2021-03-09 14:27] jubrane opened #16620 "Unable to install Xerces-c"
Error: Building package xerces-c:x86-windows failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `.\vcpkg update`, then
submit an issue at https://github.com/Microsoft/vcpkg/issues including:
  Package: xerces-c:x86-windows
  Vcpkg version: 2021-01-13-d67989bce1043b98092ac45996a8230a059a2d7e

[2021-03-09 16:19] draveness opened #16622 "[New Port Request] influxdb-cxx"
Library name: influxdb-cxx

Library description:

Source repository URL: https://github.com/offa/influxdb-cxx

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2021-03-09 16:30] errata-c commented on #16483
In that case the fix could just be a simple `set(${PACKAGE_NAME}_FOUND ${GLEW_FOUND} PARENT_SCOPE)` right after the _find_package call.

[2021-03-09 16:48] meastp commented on #16615
@PhoebeHui The core.autocrlf false did work for libpq. The failure with ocilib is an entirely different issue. Thank you for helping me with this! :)

Could you please explain the differences in the first part of triplet_abi so I can perhaps fix it/consolidate and reuse the binary packages between CI and my dev machine? :)

[2021-03-09 17:18] HideakiAtsuyo commented on #16539
Result:

[code]

[2021-03-09 17:50] jdx-john opened #16623 "[magic-enum] build failure"
I'm on a clean install of vcpkg on a network drive (setting up our build machine which has no internet). I'm running `vcpkg install magic-enum --only-downloads` as my first action after bootstrapping

If I'm not compiling, why is it even trying to detect the compiler anyway? I am doing this on a PC which already has vcplkg working just fine, so I definitely have VS 2019 present and correct

[2021-03-09 18:03] PazerOP opened #16624 "[manifests] Simultaneous support for normal and head-only dependencies"
****

**Is your feature request related to a problem? Please describe.**
After a brief discussion on the #include-cpp discord with @strega-nil about https://github.com/microsoft/vcpkg/pull/16613 and https://github.com/microsoft/vcpkg-tool/pull/24, she suggested I create this issue.

As mentioned in #16613, I am developing a library of shared code for use in personal projects, and I really do want

[2021-03-09 18:16] strega-nil commented on #16624
I am personally of the opinion that the solution given is the correct solution. Adding requires:discussion so that we can discuss it on Thursday.

[2021-03-09 18:18] PazerOP commented on #16624
@strega-nil Do you mean the existing PRs I submitted, or the manifest json proposed solution?

[2021-03-09 19:59] kliffgomel commented on #13875
there is still no solution ..
lack of a solution deprives ffmpeg of support for 10 and 12 bit hevc encoding

[2021-03-09 20:52] Krzmbrzl opened #16629 "[mdnsresponder] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: MSVC (VS2019)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install  mdnsresponder:x64-windows-static-md`

**Failure logs**
[code]
[code]

**Additional context**
It seems like the debug build succeeded and only the release build fails.

[2021-03-09 20:54] cdcseacave opened #16630 "[boost] linking failure on Mac M1 arm64-osx"
**Host Environment**
- OS: MacOS arm64-osx
- Compiler: clang 12

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install boost`
followed by trying to link to boost in any app.

**Failure logs**
Many error of this type:
[code]

[2021-03-09 22:56] walenty500 commented on #16586
Thank you for the reply!

As it turned out the problem was with my memory size. I had only 8GB of RAM and 2GB of swap, so i changed the swapfile's size to 8GB, and after this didn't work i resized it to 16GB and it worked...

Until I ran out of hard disk space...

I will try to build flashlight using docker probably.

Once again, thank you for the reply and have a nice day.

[2021-03-09 22:56] #16586 closed

[2021-03-09 23:38] acgetchell commented on #16614
This also happens on macOS:

[code]

[2021-03-10 00:10] PhoebeHui commented on #15959
See https://github.com/microsoft/vcpkg/blob/master/docs/examples/packaging-github-repos.md, let me know if you have any questions about that.

[2021-03-10 01:29] klalumiere opened #16631 "[vcpkg] Possibility to control the compiler hash for binary caching"
****

**Is your feature request related to a problem? Please describe.**

This issue describes the context and motivation of a pull request I am about to open.

Binary caching uses hashes to make as likely as possible that, if cached binaries are used, they have compatible ABI. One of those hashes comes from the compiler. Actually, the whole compiler binary file is hashed:

[code]

This of course

[2021-03-10 01:47] PhoebeHui commented on #16615
From https://github.com/microsoft/vcpkg-tool/blob/main/src/vcpkg/build.cpp#L444, the differences in the first part of triplet_abi seems due to the triplet_entry.hash is different.

@ras0219-msft, could you please take a look at the abi info?

[2021-03-10 01:52] JackBoosY commented on #16586
Maybe we should pick this error message and notice user in the output.

[2021-03-10 02:14] JonLiu1993 commented on #14739
Solved by #15238

[2021-03-10 02:35] JonLiu1993 commented on #16620
Hi @jubrane ,Thanks for posting this issue,Please attach the error logs.

[2021-03-10 02:39] NancyLi1013 commented on #16616
Hi @pastle-ptc

Thanks for updating this port. I have reviewed your PR and post some suggestions. You can see the details here #16617.

[2021-03-10 02:43] NancyLi1013 commented on #16608
Please let me know if you still have other problems for this.

[2021-03-10 02:46] JackBoosY commented on #9475
Even with vcpkg support, there will be problems when building ports.

[2021-03-10 02:56] Krantz-XRF commented on #8798
@PhoebeHui Yes I have that option configured in my VIsual Studio CMake Settings page. Without that option, CMake cannot find even the `Boost::headers` target. It is with `-DVCPKG_TARGET_TRIPLET=x64-windows-static` that CMake still cannot find other Boost targets.

However, since this issue was opened nearly 2 years ago, I am not quite sure whether it could be reproduced with the latest port files.

[2021-03-10 02:57] NancyLi1013 commented on #16597
Thanks for your feedback @ADerSchreiber.

For the problem you encountered, it is a bug, I will fix this soon.

[code]

[2021-03-10 04:03] LeeGDavis commented on #8798
The timing of your response was truly bizarre.  I just knocked the dust off this app today and in the process of working through the bugs with an update.

Yes, I'm using the x64-windows-static target triplet, but I have a bunch of junk in my cmake config from a previous workaround that is clouding the issue.  Regardless, I should be able to report back over the next few days with what we find, now

[2021-03-10 04:42] raul-physna opened #16634 "assimp:x64-linux build failure"
**Host Environment**
- Ubuntu 18.04
- g++ 10.2.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install assimp`

**Failure logs**
Starting package 4/11: irrlicht:x64-linux
Building package irrlicht[core]:x64-linux...
-- Trying auto-select mirror...
-- Downloading https://sourceforge.net/projects/irrlicht/files/Irrlicht%20SDK/1.8/1.8.4/irrlicht-1.8.4.zip/download -> irrlicht-1.8.4.zip.

[2021-03-10 06:14] NancyLi1013 commented on #16614
@strega-nil
Do we have any plan to fix this problem?

[2021-03-10 06:17] PhoebeHui commented on #8798
[code]

@Krantz-XRF. I created a project to test filesystem, it find the boost relate libs and headers correctly, could you tell us which components still be a problem for you?

@LeeGDavis, apologies for the delay in responding.

[2021-03-10 06:39] NancyLi1013 commented on #16448
@ultrasound1372

Are there any spaces in the path?

[2021-03-10 06:58] JonLiu1993 commented on #15032
Solved by #16526

[2021-03-10 07:01] NancyLi1013 commented on #16634
Hi @raul-physna

Thanks for posting this issue.

[code]
Seems you missed <GL/gl.h> on your machine.

Could you please try to run `sudo apt-get install libglfw3-dev libgl1-mesa-dev libglu1-mesa-dev` and then rebuild `assimp`?

[2021-03-10 07:16] Krzmbrzl commented on #16629
I was able to fix the build failure by installing the Windows MFC C++ classes.
Ref: https://stackoverflow.com/questions/3566018/cannot-open-include-file-afxres-h-in-vc2010-express

Is this something that one is just expected to have installed when using vcpkg on Windows? If so: Do you think you could integrate a check for it, telling the user that they'll have to install that?

Note also that in a

[2021-03-10 07:40] cdcseacave commented on #16630
I don't think that helps, as I forgot to say in the above description that I set the environment variable `export VCPKG_DEFAULT_TRIPLET=arm64-osx`

[2021-03-10 08:08] icegull commented on #16608
No. Thanks for your kindly reply. We can close it now.

[2021-03-10 08:09] JackBoosY commented on #16529
Confirmed.

[2021-03-10 08:22] cdcseacave commented on #16630
I have just removed boost and installed it again with explicit triplet command line parameter as suggested, but nothing changed. It is reported that boost is installed for arm64, but the errors are the same as above when trying to link:
[code]
and
[code]

[2021-03-10 08:23] IlTeo285 opened #16636 "cudnn support for 8.x"
With the new RTX 30x0 GPU family it is necessary to use **CUDA 11.x + cudnn 8.x**
Currently, building opencv4 with the cuda backend fails due to the cudnn port being referenced to cudnn 7.6

I can build opencv4 modyfing (quickly and dirty) the cudnn port with these major changes:

- downloading the package from [https://anaconda.org/conda-forge/cudnn/8.1.0.77/download/win-64/cudnn-8.1.0.77-h3e0f4f

[2021-03-10 08:25] NancyLi1013 commented on #10958
Closing this issue for now since inactive. Also there is no need to build vcpkg when run `.\bootstrap-vcpkg.bat` now, you can download vcpkg.exe directly. Please try to update vcpkg to the latest version and rebuild this if it is still a problem for you.

[2021-03-10 08:25] #10958 closed

[2021-03-10 08:33] NancyLi1013 commented on #11075
Closing this issue for now since there seems inactive for a long time. Please feel free to reopen this issue if it is still a problem for you.

[2021-03-10 08:33] #11075 closed

[2021-03-10 08:34] NancyLi1013 commented on #11150
Closing this issue for now since there seems inactive for a long time. Please feel free to reopen this issue if it is still a problem for you.

[2021-03-10 08:34] #11150 closed

[2021-03-10 08:43] PhoebeHui commented on #16580
This should be a port bug, from https://github.com/microsoft/vcpkg/blob/master/ports/boost-modular-build-helper/boost-modular-build.cmake, it only add the zstd library to boost on windows.

cc @yurybura

[2021-03-10 08:48] PhoebeHui commented on #14418
@omcnoe, does this still be a question for you?

[2021-03-10 08:56] NancyLi1013 commented on #13456
Closing this issue for now. Since this is due to custom triplet, which is not supported in vcpkg now.

You can use the above solution you provided or `overlay `to implement this.

[2021-03-10 08:56] #13456 closed

[2021-03-10 09:00] NancyLi1013 commented on #15020
@dweckmann

Is this still a problem for you now?

[2021-03-10 09:11] NancyLi1013 commented on #15333
@celadaris @@

Sorry for the long delay.

Could you please help provide your whole project sample here? Have you tried cmake project? Does it work normally?
I will try to reproduce this on my machine and confirm if this is a bug.

[2021-03-10 09:14] NancyLi1013 commented on #15817
Closing this issue for inactive. Please feel free to reopen this if it is still a problem for you.

[2021-03-10 09:14] #15817 closed

[2021-03-10 09:23] NancyLi1013 commented on #15896
Seems upstream support Linux https://github.com/pmem/pmdk#building-pmdk-on-linux-or-freebsd

We will try to add the support.

[2021-03-10 09:31] PhoebeHui commented on #6005
VCPKG determines the setting of VCPKG_PLATFORM_TOOLSET from the environment see [vcpkg_platform_toolset](https://github.com/microsoft/vcpkg/blob/master/docs/users/triplets.md#vcpkg_platform_toolset)

I will take a look at the git issue.

[2021-03-10 09:39] NancyLi1013 commented on #16099
You can update portfile.cmake as follows or use overlay to implement this. Please feel free to reopen this if it is still a problem for you.

[code]

[2021-03-10 09:39] #16099 closed

[2021-03-10 09:44] NancyLi1013 commented on #16498
[code]

Closing this issue for now. Since this is intend behavior.

[2021-03-10 09:44] #16498 closed

[2021-03-10 09:47] NancyLi1013 commented on #16391
@jdx-john

You can open a new issue for `versioning` if you have any questions about this.

[2021-03-10 09:49] #16608 closed

[2021-03-10 10:17] NancyLi1013 commented on #16116
@Shreeshrii

From https://github.com/Shreeshrii/tesseract/runs/1861772983?check_suite_focus=true#step:11:1, we get the error like this:
[code]
It seems that this is related with your test environment, maybe Xcode version, please see https://github.com/Shreeshrii/tesseract/runs/1861772983?check_suite_focus=true#step:11:1

https://developer.apple.com/forums/thread/661030

https://developer.apple.com

[2021-03-10 10:19] NancyLi1013 commented on #15843
Closing this issue for now since there is no active thread.

Please feel free to reopen this if it is still a problem for you.

[2021-03-10 10:19] #15843 closed

[2021-03-10 10:22] omartijn opened #16637 "[arm64-osx] Multi-arch triplets result in a CMake error"
**Describe the bug**
Setting multiple architectures in triplet file results in an error.

**Environment**
- OS: macOS Big Sur
- Compiler: Apple clang version 12.0.0 (clang-1200.0.32.29)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new triplet file, copied from `triplets/community/arm64-osx.cmake`
2. Change the last line (containing `VCPKG_OSX_ARCHITECTURES`) to contain both archs

[2021-03-10 10:36] #16599 closed

[2021-03-10 10:52] autoantwort commented on #16630
Ok can reproduce this. boost build creates x86_64 binaries even if you pass `address-model=64 architecture=arm` to it. An solution could be to pass `cxxflags="-arch arm64"` to the boost build tool.

[2021-03-10 11:01] autoantwort commented on #16630
As a quickfix add `"cxxflags=-arch arm64"` in `vcpkg/ports/boost-modular-build-helper/CMakeLists.txt:184`

[2021-03-10 11:15] JackBoosY commented on #13875
Do you know what additional libraries are needed to enable these options?

[2021-03-10 11:37] #16281 closed

[2021-03-10 12:10] autoantwort commented on #16630
Ok strange. So your new file looks like:
[code]
What errors you get now?

[2021-03-10 12:17] cdcseacave commented on #16630
yes, here is the error file:
[code]

[2021-03-10 13:06] Shreeshrii commented on #16116
Thanks for investigating this.

Which xcode version do you recommend that I use?

Are you able to build tesseract with the latest version of vcpkg and ports? Or should I be using an older commit?

[2021-03-10 14:13] andyzhshg opened #16638 "How do I ...No suitable Visual Studio instances were found"
When asking a question please also include where you looked for an answer (so we can update the documentation if needed).

I have visual studio 2019 installed.

vcpkg returns this error when I try to install any library.

[code]

[2021-03-10 14:24] HaoChenga opened #16639 "Error: Building package opencv[eigen,ffmpeg,webp,contrib,nonFree,cuda]:x64-windows failed with: BUILD_FAILED, when installing OMPL"
I'm sorry to trouble you. When I was building OpenCV, I met two problems. One was why it appeared "-- Restarting Build without parallelism because memory exceeded", and how it could be solved.
Second question, why it appeared "LINK: fatal error LNK1104: cannot open file 'bin\opencv_highguid.dll"
Looking forward to the answer, thanks!

-- Restarting Build without parallelism because memory exceeded

[2021-03-10 14:26] HaoChenga commented on #16639
[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/6116518/install-x64-windows-dbg-out.log)
[install-x64-windows-dbg-out-1.log](https://github.com/microsoft/vcpkg/files/6116521/install-x64-windows-dbg-out-1.log)

[2021-03-10 14:51] Shreeshrii commented on #16116
@NancyLi1013 I have tried with multiple Xcode versions. Still not able to build leptonica on osx.

See https://github.com/Shreeshrii/tesseract/actions/workflows/vcpkg-4.11.yml

and

https://github.com/Shreeshrii/tesseract/runs/2077177621?check_suite_focus=true#step:7:1

[2021-03-10 15:06] cdcseacave opened #16640 "[png] link to debug version"
**Host Environment**
- OS: MacOS M1
- Compiler: cland 12

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install png`

**Failure logs**
Building an app in RelWithDebInfo depending on `png` links to the debug version of libpng instead of release as all the other vcpkg libs:
[code]

[2021-03-10 15:36] hendra24 opened #16641 ".\vcpkg install darknet[full]:x64-windows build opencv4 failure"
**Host Environment**
- OS: Windows
- Compiler: revision

I am using GTX 1650 Max Q and CUDA 10.2 , CUDN 8.1.1. , Visual studio community 2019

**To Reproduce**
for install yolov4

Steps to reproduce the behavior:
`./vcpkg install darknet[full]:x64`

**Failure logs**
[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/6116998/install-x64-windows-dbg-out.log)

[2021-03-10 15:43] MikeGitb commented on #6404
Please reopen - I'd also be interested in that feature.

[2021-03-10 15:55] ultrasound1372 commented on #16448
No, other than the semicolon the path is as it is supposed to be, C:\tools\vcpkg. My system is using cp1252 for character encoding but the file system is Unicode anyway. Again, is no one else receiving this? It just started happening on my system out of the blue and no amount of updates or redownloads fixed it.

[2021-03-10 17:24] al-cheb opened #16642 "[zstd] update to 1.4.9"
Library name:
zstd

New version number:
1.4.9

Other information that may be useful (release notes, etc...)
Request from the customer - https://github.com/actions/virtual-environments/issues/2858

[2021-03-10 19:03] mark-harsch opened #16644 "[boost-json] CMake integration not working"
**Describe the bug**
I want to use the boost-json library only and try to integrate it into my CMakeLists.txt as described by the package itself after proper installation through vcpkg

Statement after installation:
[code]
How I apply it:
[code]
However I get errors reported by CMake (see error log section).
For other libraries like cpr or cpprestsdk the integration was already possible (and cpr i

[2021-03-10 19:14] StarGate-One commented on #16600
1. `vcpkg install yasm-tool:x86-windows`
2. `vcpkg install irrlicht openal-soft libvorbis libogg sqlite3 luajit gmp jsoncpp --triplet x64-windows`

[2021-03-10 20:01] #16474 closed

[2021-03-10 20:02] #16437 closed

[2021-03-10 20:08] raul-physna commented on #16634
Hi @NancyLi1013 , thank you for the guidance! Running the apt-get statements fixed the issue and I'm able to compile `assimp` successfully now.

[2021-03-10 20:08] #16634 closed

[2021-03-10 20:15] #16052 closed

[2021-03-10 20:17] ras0219-msft commented on #16504
As a workaround, you can set `VCPKG_HOST_TRIPLET` as an environment variable or pass `--host-triplet=` on the command line to change which triplet to use as the host.

[2021-03-10 20:29] #15668 closed

[2021-03-10 20:35] aggieNick02 commented on #16609
Thanks for fixing. There was another issue in here (the two examples listed for using vcpkg_install_msbuild) that no longer use vckpg_install_msbuild. Should I file a separate issue for that?

[2021-03-10 21:27] StarGate-One opened #16645 "[openjpeg] build failure x64-windows with features (jp3d,jpip,jpwl,mj2) on VS 2019 latest update 16.9.1"
**Host Environment**
- OS: [Microsoft Windows [Version 10.0.19042.867]]
- Compiler:
Visual Studio 2019 Community Edition [Version 16.9.1]
Visual Studio Toolset [Version 14.28.29910]
Microsoft (R) C/C++ Optimizing Compiler [Version 19.28.29912 for x64]

**To Reproduce**
Steps to reproduce the behavior:
1. Default triplet `VCPKG_DEFAULT_TRIPLET = x64-windows`
2. PS D:\2019\test>`vcpkg install openjp

[2021-03-10 21:32] bieging commented on #16600
@StarGate-One it worked now, thanks!

[2021-03-10 21:52] StarGate-One commented on #16600
@bieging You are most welcome! Glad it works for you now.👍👏

[2021-03-10 22:19] strega-nil commented on #16614
@longli0 could you run `dir C:\code\vcpkg` in your docker?

[2021-03-10 23:25] HideakiAtsuyo commented on #16539
Btw the logs

[install-x86-mingw-dynamic-dbg-out.log](https://github.com/microsoft/vcpkg/files/6119410/install-x86-mingw-dynamic-dbg-out.log)

[2021-03-11 00:01] vicroms commented on #16539
@HideakiAtsuyo

Since `zlib` builds successfully I suggest to close this issue and create a new one **OpenSSL fails to build on x86-mingw-dynamic** and attach the relevant logs.

[2021-03-11 00:24] robmikh commented on #14890
Unfortunately I no longer use ANGLE for my cross-platform projects (I've moved onto [wgpu](https://github.com/gfx-rs/wgpu)), so I don't have a good way to validate a potential port update. I can't make promises about my schedule and when I may have time for this, but having a good way to validate changes would help me or whomever picks this up.

[2021-03-11 01:58] HideakiAtsuyo opened #16647 "[OpenSSL] build failure"
A kind of suite of https://github.com/microsoft/vcpkg/issues/16539 =>(https://github.com/microsoft/vcpkg/issues/16539#issuecomment-794186324)

**Host Environment**
- OS: Windows 10
- Compiler: CMake from MinGW

**To Reproduce**
Steps to reproduce the behavior:

- Clone vcpkg
- Use the bootstrap bat file
- vcpkg install zlib

**Failure logs**

`./vcpkg install cpr:x86-mingw-dynamic` =>
[code]
**Add

[2021-03-11 01:59] HideakiAtsuyo commented on #16539
👍

[2021-03-11 01:59] #16539 closed

[2021-03-11 02:32] longli0 commented on #16614
Sure, here is the output.
[code]

[2021-03-11 02:44] NancyLi1013 commented on #16448
Could you please try to update your system as Unicode encoding and rebuild again?

[2021-03-11 03:25] PhoebeHui commented on #16644
@mark-harsch, boost-json is header only, it depends on boost-container, could you try the following code instead?

[code]

[2021-03-11 05:10] LeeGDavis commented on #8798
@PhoebeHui this appears to be working fine.  There's a number of other issues we are working through, but as far as boost x64-windows-static is concerned it has no problem finding everything.

[code]

And no worries about the delay in responding.  I was just getting at that I hadn't run this app in a year, applied some updates, run it,  and get an error, then see your comment about an hour after t

[2021-03-11 05:31] marekr opened #16648 "[opencascade] Linking against wrong freetype build type"
Opencascade is currently linking agaisnt "freetype.dll" instead of "freetyped.dll" for debug libraries.

![image](https://user-images.githubusercontent.com/1838013/110740492-24dd6780-8201-11eb-9b4f-c27ff88cec04.png)

Just leaving the footnote here, I will probably try and submit a PR for it later

[2021-03-11 05:46] NancyLi1013 commented on #16640
Hi @cdcseacave
Thanks for posting this issue.

Could you please provide your project sample? Have you tried debug type and release type?

Note: You may be install `libpng `instead of `png`.

[2021-03-11 06:07] NancyLi1013 commented on #16639
Hi @HaoChenga

Thanks for posting this issue.

For your first question:

`- Restarting Build without parallelism because memory exceeded`

I'm not sure what the root cause of this problem is. There are also someone else encountering the same problem.
Could you please help confirm if you have installed security software on your machine? Please see the details here https://github.com/microsoft/vcpkg

[2021-03-11 06:15] PhoebeHui commented on #8798
@LeeGDavis, good to know it works currently, thanks for your quick response!

[2021-03-11 06:20] Krantz-XRF commented on #8798
Sorry, I guess I don't have my old project files at hand. Based on the response from @LeeGDavis, I guess we can safely skip my part and call this issue solved.

[2021-03-11 06:38] JonLiu1993 commented on #16638
Hi @andyzhshg ,Thanks for posting this issue ，Is the Visual Studio you installed in English? If not, please install the English version and try again

[2021-03-11 06:54] NancyLi1013 commented on #16636
Hi @IlTeo285

Thanks for posting this issue.

It seems that you have further investigation about this. Would you like to create a pull request to update `cudnn`?

[2021-03-11 07:09] NancyLi1013 commented on #16171
Closing this issue since there is no active thread now. Please reopen this if it is still a problem for you.

[2021-03-11 07:11] Neumann-A commented on #16645
@StarGate-One: Please report upstream:
the code states:
[code]

[2021-03-11 07:13] PhoebeHui commented on #8798
@Krantz-XRF, thanks for your updates! close this issue now.

[2021-03-11 07:13] #8798 closed

[2021-03-11 07:53] NancyLi1013 commented on #16645
It seems that `openjepg `has dropped `lrintf `. We can see that upstream has renamed `lrintf `as `opj_lrintf` in `openjp2` module.

But it still uses `lrintf ` in `openmj2 `module.

As @Neumann-A suggested, we should report this to upstream.

`ITK `also fixed the same issue for openjpeg embedded in `itk`. https://github.com/InsightSoftwareConsortium/ITK/issues/1967

[2021-03-11 07:56] seuwanglang commented on #16171
hello @NancyLi1013  i have not install lapack which is i am installing

[2021-03-11 07:58] NancyLi1013 commented on #14890
@robmikh

Thanks for your response. It doesn't matter even though you have no enough time to do this. Can you give some advice on the new version update? Maybe I can try to do some work.

[2021-03-11 08:20] dweckmann commented on #15020
not really, I could live with it ;)

[2021-03-11 08:22] IlTeo285 commented on #16636
Hi @NancyLi1013,

I'm no so skilled in CMake but I'm gonna try

[2021-03-11 08:39] NancyLi1013 commented on #15020
Thanks for your response. Now I'm closing this issue. Please open a new issue if you have other questions.

[2021-03-11 08:39] #15020 closed

[2021-03-11 08:52] seuwanglang commented on #16171
hello @NancyLi1013   this is cmake error log
Determining if the function sgemm_ exists failed with the following output:
Change Dir: F:/setup/vcpkg/vcpkg/buildtrees/lapack/x64-windows-dbg/CMakeFiles/CMakeTmp

Run Build Command(s):C:/Program Files (x86)/MSBuild/14.0/bin/MSBuild.exe cmTC_58f8d.vcxproj /p:Configuration=Debug /p:Platform=x64 /p:VisualStudioVersion=14.0 /v:m && Microsoft (R) 生成引擎版本 14.

[2021-03-11 08:59] seuwanglang commented on #16171
hello ，i still do not know how to fix the error。please tell me if you receive the message，this is the error log
Determining if the function sgemm_ exists failed with the following output:
Change Dir: F:/setup/vcpkg/vcpkg/buildtrees/lapack/x64-windows-dbg/CMakeFiles/CMakeTmp

Run Build Command(s):C:/Program Files (x86)/MSBuild/14.0/bin/MSBuild.exe cmTC_58f8d.vcxproj /p:Configuration=Debug /p:Platfo

[2021-03-11 09:19] JonLiu1993 commented on #16648
Hi @marekr ,Thanks for posting this issue,

[2021-03-11 09:36] #15695 closed

[2021-03-11 09:56] NancyLi1013 commented on #15896
Since pmdk use `make` to build on Linux. But I failed to build it in vcpkg.

Seems `vcpkg_configure_make() vcpkg_build_make() vcpkg_install_make()` cannot be applied to `pmdk`. I'm not familiar with `make`. So currently, I have no idea how to build it successfully.

Note: I tried to build it manually with `make` and it cannot be built and installed successfully.

[2021-03-11 10:14] NancyLi1013 commented on #16171
@seuwanglang

Could you please install English package via Visual Studio Installer first and rebuild this on a clean environment?

[2021-03-11 10:20] PhoebeHui commented on #16244
@abhinavr93, do you configure the toolchain file?
See https://github.com/microsoft/vcpkg/blob/master/README.md#visual-studio-code-with-cmake-tools

[2021-03-11 10:42] JonLiu1993 commented on #16641
Hi @hendra24 ,Thanks for posting this issue,I cannot reproduce your problem locally. I found out that "unresolved external symbol cudnnGetConvolutionForwardAlgorithm referenced in function" is related to CUDN and cuda version. Please upgrade to the latest version and try again

[2021-03-11 10:52] PhoebeHui commented on #10401
This should not be a problem now, currently we download the vcpkg.exe instead.
For English language pack, it has been mentioned in https://github.com/microsoft/vcpkg#quick-start-windows.

[2021-03-11 10:52] #10401 closed

[2021-03-11 11:12] PhoebeHui commented on #579
Related docs has been added to https://github.com/microsoft/vcpkg/blob/master/docs/users/integration.md#with-msbuild.

Please report a new issue if it's not relate to this topic.

[2021-03-11 11:12] #579 closed

[2021-03-11 11:15] PhoebeHui commented on #442
This sholud not be a problem now, currently core.autocrlf=false has configured to vcpkg_apply_patches.

[2021-03-11 11:15] #442 closed

[2021-03-11 12:44] BurningEnlightenment opened #16653 "[boost-exception] build failure in manifest mode on VS remote machine"
**Host Environment**
- Host: Windows 10 Pro 20H2 OS build 19042.867
- Microsoft Visual Studio Enterprise 2019 Version 16.9.1
- VM: Linux 5.10.16-arch1-1 #1 SMP PREEMPT Sat, 13 Feb 2021 20:50:18 +0000 x86_64 GNU/Linux
- Compiler: gcc version 10.2.0 (GCC)
- vcpkg-tool version 2021-01-13-unknownhash
- vcpkg: 801084007159e0b1b4c95134e754d876e688ebed
- standard x64-linux triplet

**To Reproduce**
1. Do

[2021-03-11 12:45] Xofuu opened #16654 "[flint:x86-windows] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install flint

**Failure logs**
[code]
**Additional context**
I didn't know what to put in the "Compiler" section. Basically, I downloaded vcpkg from GitHub, unzipped it in my Documents folder and run the Bootstrap to install it. Then, I tried to install the Flint library, for thi

[2021-03-11 13:00] HaoChenga commented on #16639
Thank you for your answer. It worked well after the security software was turned off.

[2021-03-11 13:00] #16639 closed

[2021-03-11 13:17] andyzhshg commented on #16638
Thanks for replying.

Yes, my installation is in English. But my windows system is in Chinese. The Visual Studio installer is in Chinese, but I didn't install Chinese language pack, I choose to install English language pack only.

[2021-03-11 13:44] andyzhshg commented on #16638
I solved this problem by uninstall and then reinstall Visual Studio.

[2021-03-11 13:44] #16638 closed

[2021-03-11 13:53] meastp opened #16655 "[dbghelp and crashrpt] dbghelp not respecting VCPKG_CMAKE_SYSTEM_VERSION for headers and lib"
**Describe the bug**
I had problems building crashrpt. The problem was erroneous macro definitions in the headers in recent Windows SDK versions, which is a known problem. The fix is to revert to an older version.

Even though I have a custom triplet with `set(VCPKG_CMAKE_SYSTEM_VERSION 10.0.17134.0)`) I get the following from the build log of dbghelp (with my added debug output):

[code]

Even th

[2021-03-11 16:11] fawdlstty commented on #11285
I'm having the same problem and can't access skia.googlesource.com. I wonder if there is any other way to solve it?

[2021-03-11 17:29] jmoguillansky-gpsw commented on #16122
Hi,
I tested latest vcpkg, seems that shaderc shared lib is no longer built?

[2021-03-11 17:31] jmoguillansky-gpsw opened #16658 "shaderc missing shared library"
**Describe the bug**
As a follow up to this issue: https://github.com/microsoft/vcpkg/issues/16122, seems that shaderc shared library is no longer built?

**Environment**
- OS: Windows
- Compiler: MSVC 2019

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install shaderc:x64-windows
2. See error
-- Note: shaderc only supports static library linkage. Building static library."

**Expect

[2021-03-11 18:45] BillyONeal commented on #16614
Hi there!

The `std::experimental::filesystem` implementation of `canonical` is incorrect, it doesn't resolve symlinks or other filesystem behavior. It does the equivalent of `std::filesystem::system_complete`:

https://github.com/microsoft/STL/blob/194efde4bdc7d3e73984e266b983aed334288f2a/stl/inc/experimental/filesystem#L1874-L1890

Compare with the `std::` one which opens the file and gets the f

[2021-03-11 18:46] BillyONeal commented on #16614
@strega-nil: It might make sense for vcpkg's purposes to try `canonical`, then fall back to `system_complete` if the file exists but `canonical` failed?

[2021-03-11 18:48] strega-nil commented on #16614
@BillyONeal I'm okay with that.

[2021-03-11 18:50] BillyONeal commented on #16614
@strega-nil We're trying to prevent a symlink in the path causing our resulting builds to be broken should the symlink change. And on case insensitive systems we're trying to get the actual case. If we don't fix this up `vcpkg_fixup_pkgconfig` can give wrong answers since it uses exact match :(

[2021-03-11 18:51] StarGate-One commented on #16645
@NancyLi1013 /cc @Neumann-A
1. So the openjpeg is only supporting openjp2.
2. I would agree we probably need to upgrade openjpeg to v3.4.0, with feature jp2 and leave out the other features jp3d, jpip, jpwl and mj2.
3. Unless we go through and make changes like mentioned in ITK PR https://github.com/InsightSoftwareConsortium/ITK/pull/2388
4. But I am confused, as the port with these features still

[2021-03-11 18:52] strega-nil commented on #16614
hmm, I'm trying to think of when a build would break if a symlink changed...

[2021-03-11 19:27] mark-harsch commented on #16644
@PhoebeHui: Thanks for your fast reply. As I understood the [documentation](https://www.boost.org/doc/libs/1_75_0/libs/json/doc/html/json/overview.html), header-only is just an option but maybe my understanding here is wrong (using boost the first time).

I managed to get it working as followed:
Usage in Code:
[code]
CMakeLists.txt
[code]
Strangely it even works without adding the two statements i

[2021-03-11 20:05] Neumann-A commented on #16645
seemingly yes. VS updates sometimes add missing intrinsics.

Personally I would just patch the #ifdef to include a `_MSC_VER` version check.

[2021-03-11 20:14] #15429 closed

[2021-03-11 20:16] #16262 closed

[2021-03-11 20:17] #16528 closed

[2021-03-11 20:24] #15553 closed

[2021-03-11 20:42] #14746 closed

[2021-03-11 20:55] StarGate-One commented on #16645
I created a patch by doing what ITK did:
`diff --git a/src/lib/openmj2/opj_includes.h b/src/lib/openmj2/opj_includes.h`
`index 340e8a9..11bb0e4 100644`
`--- a/src/lib/openmj2/opj_includes.h`
`+++ b/src/lib/openmj2/opj_includes.h`
`@@ -93,7 +93,7 @@ Most compilers implement their own version of this keyword ...`
 ` `
` /* MSVC and Borland C do not have lrintf */`
` #if defined(_MSC_VER) || defined(

[2021-03-11 22:17] grandmaster789 opened #16662 "[indicators] update to 2.0"
Library name: indicators

New version number: 2.0

Other information that may be useful (release notes, etc...)

(specifically for me this would fix an issue with regards to a missing inline statement that leads to duplicate symbols during linking)

https://github.com/p-ranav/indicators/releases/tag/v2.0

[2021-03-11 23:17] autoantwort opened #16663 "[icu] mingw build failure"
**Host Environment**
- OS: MinGW
- Compiler: gcc

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install icu --triplet=x64-mingw-static`

**Failure logs**
[code]

`buildtrees\icu\make-build-x64-mingw-static-rel-err.log`:
[code]

**Additional context**
With `ports\icu\mingw-remove-version-from-link-flags.patch`
[code]

[2021-03-11 23:18] autoantwort commented on #16663
Without the updated patch you get errors that for example `-licudt` is not found because the lib name is `libsicudt`

[2021-03-11 23:27] ras0219-msft commented on #16624
Have you considered `FetchContent()`? https://cmake.org/cmake/help/latest/module/FetchContent.html

I think this will do more along the lines of what you want: several unversioned, experimental pieces. You'll still need to `union` the set of external dependencies yourself into each repo's `vcpkg.json`.

[2021-03-11 23:55] StarGate-One commented on #16655
@meastp
Have you tried the latest WinSDK?

- For me, It builds, compiles, installs fine both the debug and release but with a newer Windows SDK using the x64-windows triplet with these environment variables set:
`VCPKG_CRT_LINKAGE                   dynamic`
`VCPKG_DEFAULT_TRIPLET              x64-windows`
`VCPKG_LIBRARY_LINKAGE             dynamic`
`VCPKG_PLATFORM_TOOLSET         v142`
`VCPKG_TARG

[2021-03-12 00:03] StarGate-One commented on #16654
@Xofuu

-Both ports `gmp` and `mpir` cannot be installed on the same vcpkg instance at the `same time`.
-Either `gmp` or `mpir` can be installed but not both.

[2021-03-12 01:09] ultrasound1372 commented on #16448
How do I do that without breaking legacy apps that need to use ANSI? Shouldn't this program be using Unicode anyway?

[2021-03-12 01:25] jmoguillansky-gpsw commented on #6045
I think this approach will lead to a lot of problems.
I understand that currently there's different triplets: "x64-windows" and "x64-windows-static".
The first issue is: won't there be a lot of duplicate files in these two locations?
For example, the include files and data files, etc. can be the same regardless of static or shared configuration.

Second: some libraries might support static build,

[2021-03-12 01:54] NancyLi1013 commented on #15429
@aizuon

Since this PR has been merged now, you can update vcpkg to the latest version to rebuild this. Please feel free to reopen this issue if you are still bothered by the same problem.

[2021-03-12 03:17] NancyLi1013 commented on #16658
Hi @jmoguillansky-gpsw

Thanks for posting this issue.
Currently `shaderc` only supports static build. Please see

[code]
https://github.com/microsoft/vcpkg/blob/master/ports/shaderc/portfile.cmake#L1-L2

Generally, vcpkg supports both static and dynamic builds. But for some ports, they only support static or dynamic build, which is related with the ports themselves.

So the current behavior is ex

[2021-03-12 03:27] jmoguillansky-gpsw commented on #16658
Hi, I saw that comment.  Shaderc upstream supports shared library build.  Its not a shaderc issue.  In the most recent commit vcpkg disabled shaderc shared library build.  Its a vcpkg issue

[2021-03-12 05:37] aizuon commented on #15429
Happy to say it's fixed now. I actually forgot this issue existed. I apologize for making the pull request wait a really long time... Thank you for this fix!

![image](https://user-images.githubusercontent.com/44760523/110897062-cce05700-830d-11eb-95b0-553f15c6ea02.png)

[2021-03-12 05:51] NancyLi1013 commented on #15429
I'm so glad to hear the good news. Thanks for your feedback @aizuon.

[2021-03-12 05:53] seuwanglang commented on #16171
thank you。 i will try

At 2021-03-11 18:14:37, "NancyLi1013" ***@***.***> wrote:

@seuwanglang

Could you please install English package via Visual Studio Installer first and rebuild this on a clean environment?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-03-12 06:24] meastp commented on #16655
@StarGate-One The error happens while building with the Microsoft Hosted Pipelines in Azure, where the installed SDK has a version that contains this error. I would like to avoid installing a new SDK on every run (when building with the Hosted pipelines, you get a fresh agent every time and it would be a waste to use that time on installing a new SDK, imho).

For now, I have modified `dbghelp` to

[2021-03-12 07:23] NancyLi1013 commented on #16655
Hi @meastp

Thanks for posting this issue.
I cannot reproduce this issue on my machine.

I used Windows SDK `10.0.19041.0` with VS 2019 16.9.1.

[2021-03-12 07:24] Neumann-A commented on #6045
doesn't matter. Also the VS integration won't work otherwise due to requiring `#define SOMEAPI __declspec(dllimport)` in the main header of some libraries quite often.

So if someone wants to use libabc which is shared-only, and libxyz which is static only, then they need to
reference two different prefix targets: installed/x64-windows and installed/x64-windows-static, and this will be a messy con

[2021-03-12 07:50] meastp commented on #16655
@NancyLi1013 If you have access to Azure Pipelines, you can create a pipeline using the Microsoft Hosted Agent with VS2019, download vcpkg (or use the one included) and build crashrpt. It will fail.

If you want to reproduce this and need me to make an azure-pipelines.yaml file, I can make one.

My point is that one should be able to pick any Windows 10 SDK version which is installed on the system

[2021-03-12 08:21] PhoebeHui commented on #16653
@strega-nil, could you help have a look?

[2021-03-12 09:04] meastp commented on #16475
I solved this using

[code]

So there is no urgent need for a specialized property for this.

[2021-03-12 09:07] Muratcol opened #16669 "How do I install gRPC with vcpkg"
Hello,

Basically, I'm just trying to install grpc and protobuf with vcpkg in a docker container.
This is my `Dockerfile`
[code]

However, build failing at this step.  `./vcpkg install grpc && \`
This is the error message:
[code]

Do you have any advice?

[2021-03-12 09:08] meastp commented on #16615
@ras0219-msft perhaps the parts making up (at least the first part of) `triplet_abi` could be printed as text as well (like the cmake version and powershell version is)? I'm really interested in keeping the same binary package between CI and dev machine(s) (and making sure all have identical abi_triplets when possible).

[2021-03-12 09:30] meastp commented on #16655
As [described in the included software page](https://github.com/actions/virtual-environments/blob/main/images/win/Windows2019-Readme.md) the windows-vs2019 agent has:

and has all the following Windows 10 SDK components [installed](https://github.com/actions/virtual-environments/blob/main/images/win/Windows2019-Readme.md#workloads-components-and-extensions):

Package | Version
-- | --
Microsoft.Vi

[2021-03-12 09:58] PhoebeHui commented on #16644
@mark-harsch, the 2 statements is required if you want to use the headers installed by vcpkg directly, it will emit error without it when build the project. However, if you use the port which depends on boost, then you may don't need to add the statements, since the port will handle the dependency port.

[2021-03-12 10:30] NancyLi1013 commented on #16655
@meastp

I double confirmed with installing Windows 10 SDK 10.0.17134.0, aslo with the latest windows sdk 10.0.19041.0 installed on local machine:

vcpkg will pick the latest one you installed on your machine by default. After setting VCPKG_CMAKE_SYSTEM_VERSION it will pick up the version you set. So I think this is not a vcpkg issue.

For the error build on Windows 10 SDK 10.0.17134.0, this is du

[2021-03-12 10:45] meastp commented on #16655
@NancyLi1013 How did you set the VCPKG_CMAKE_SYSTEM_VERSION? If you see the output in the first post, setting VCPKG_CMAKE_SYSTEM_VERSION did not change the path from the function (in portfile.cmake) `vcpkg_get_windows_sdk(WINDOWS_SDK)`

Can you confirm that the output for LIBFILEPATH, HEADERPATH etc. is NOT `C:\Program Files (x86)\Windows Kits\10\Debuggers`C:\Program Files (x86)\Windows Kits\10\De

[2021-03-12 13:09] autoantwort commented on #16669
Before that line should be a path to the error log. With the error log it is much easier to help.

[2021-03-12 13:26] Muratcol commented on #16669
Sorry, this is the full error message:
[code]

[2021-03-12 13:28] autoantwort commented on #16669
**sudo apt-get install pkg-config**

Have you tried what the error message said?

[2021-03-12 14:24] meastp commented on #16655
@NancyLi1013 Ok, I've made a repro of this issue:

Look at the `azure-pipelines.yml` file in https://github.com/meastp/vcpkg (the master branch) - if you run this in Azure Pipelines it will fail, even with a custom triplet with VCPKG_CMAKE_SYSTEM_VERSION set to 10.0.17134.0.

I have an Azure Pipelines build on this repo, but it has to be private to get 1 free hosted pipeline build, unfortunately.

[2021-03-12 14:48] JackBoosY commented on #16609
@aggieNick02  Yes please.

[2021-03-12 15:01] Xofuu commented on #16654
Hi StarGate-One, thanks for your reply. I'm aware of this, because they share the same headers files "gmp.h" and "gmpxx.h" but the issue is more about the dependencies on Flint I guess. By default, if one checks the official documentation about Flint, we only need either gmp with mpfr OR mpir with mpfr. However, mpfr depends on gmp according to vcpkg and ultimately, Flint depends on gmp, mpfr and

[2021-03-12 15:17] JackBoosY commented on #13875
When enable these options on Windows and without adding other libs, I got these link errors:
[code]

[2021-03-12 15:21] StarGate-One commented on #16655
@meastp I understand, slows down the pipeline process. I should have paid closer attention to where it was running.
I try to help where I can, and have to skip the pipeline issues as I do not have a subscription.
I can only see the pipelines dealing with the PRs, but I can not initiate or update them.
Hope you get it figured out and have a wonderful weekend.

[2021-03-12 15:35] StarGate-One commented on #16654
@Xofuu  /cc: @JonLiu1993
I see what you mean... verified this needs to be fixed...
From an update-to-date clean vanilla vcpkg clone as of Friday 2021-03-21 at 15:30 UTC this is what I get:

As you can see, flint[core] has dependencies of ports gmp, mpfr, mpir and vs-yasm, but as we know both ports gmp and mpir check to see if the other is installed, in other words:
- gmp checks to see if mpir is i

[2021-03-12 15:42] JackBoosY commented on #16600
@StarGate-One  Can you please open a PR to notice the user to install `yasm-tool:x86-windows` first?

Thanks.

[2021-03-12 16:17] JackBoosY commented on #16475
Please keep this issue open until we fix it by adding a feature.

[2021-03-12 16:32] LeeGDavis commented on #8798
One other point I should add, when working with VS2019, you need at least cmake 3.17.x, else you will have issue populating `Boost_LIBRARIES`.  We updated to 3.19.6 for the record too.

[2021-03-12 17:42] Krzmbrzl opened #16671 "[qt5-declarative]: Post-build validation fail with --x-install-root"
**Describe the bug**
I have my vcpkg tree on a different drive. Let's just say it's on `S:\vcpkg`. In there I already have all dependencies of the `qt5-declarative` package (using the same triplet `x64-windows-static-md`).

Now I run the following command in a vcpkg tree on a different drive (faster but less capacity - thus the idea is to build it there but store the final result on S):
[code]

Th

[2021-03-12 19:05] #16644 closed

[2021-03-12 20:16] ArneDJ opened #16673 "[sdl2-mixer[mpg123]:x64-windows] build failure"
**Host Environment**
- OS: Windows
- Compiler: Visual Studio 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install sdl2-mixer[mpg123]:x64-windows`

**Failure logs**
`Computing installation plan...`
`The following packages will be built and installed:`
    `sdl2-mixer[core,mpg123,nativemidi]:x64-windows -> 2.0.4#10`
`Detecting compiler hash for triplet x64-windows...`
`Could not

[2021-03-12 20:25] StarGate-One commented on #16600
@JackBoosY
I guess we need to reopen the issue, so we have issue tracking to PR #16674 ?
I hope this is something like you are looking for?
It is a start, for review/suggestions.
I went ahead and updated all three ports using the yasm-tool:x86-windows, ports gmp, mpg123 and nettle.

[2021-03-12 20:30] ras0219-msft commented on #3712
`VCPKG_ENV_PASSTHROUGH` has been implemented: https://github.com/Microsoft/vcpkg/blob/master/docs/users/triplets.md#vcpkg_env_passthrough

[2021-03-12 20:30] #3712 closed

[2021-03-12 20:43] ArneDJ commented on #16673
Fixed by following:
https://github.com/microsoft/vcpkg/issues/16067

[2021-03-12 20:43] #16673 closed

[2021-03-12 22:12] Neumann-A commented on #16671
typically means that it is not picking up required dependencies and not building anything at all.

[2021-03-12 22:35] bitmeal opened #16676 "[uwebsockets] build failure - [usockets] dependency version mismatch"
**Host Environment**
- OS: Windows10
- Compiler: msvc 19.26.28806
- VCPKG: 2021-01-13-d67989bce1043b98092ac45996a8230a059a2d7e

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install uwebsockets`
[code]
[code]
**point CMake to toolchain when calling**; *omitted from example*
`cmake && nmake all`

**Failure logs**
[code]
**Additional context**
Compatible version of [uwebsockets] and its

[2021-03-13 00:21] frankhale commented on #16673
WOW, you got it installed okay? I cannot build sdl2-mixer with mpg123 support because it's complaining about unresolved symbols. You didn't have this issue? I'll file a new issue.

[code]

[2021-03-13 00:23] frankhale opened #16677 "sdl2-mixer[mpg123] build failure"
**Host Environment**
- OS: [e.g. Windows/Linux etc...]
- Compiler: revision

Windows 10
Visual Studio 2019

**To Reproduce**
Steps to reproduce the behavior:

`vcpkg install sdl-mixer[mpg123]`

**Failure logs**
-Cut and past the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

[code]

**Additional context**
Add any oth

[2021-03-13 02:31] TheMaverickProgrammer opened #16678 "[poco:x64-windows 1.10.1#3] build failure"
- OS: Windows 10

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install poco:x64-windows`

**Failure logs**
[code]

**Additional context**
This makes no sense. My friend and I both have the same visual studio toolchain installed. Our cmake is both 3.19.6. We are both on the same architecture. We are both on the same vcpkg version `2021-01-13-d67989bce1043b98092ac45996a8230a059a2d7e`

[2021-03-13 02:45] TheMaverickProgrammer commented on #16678
BOTH expat and pcre libraries are dependencies that needed to be upgraded to their latest versions. There is a STRONG need for vcpkg lock files to help determine what versions needs to be upgraded.

[2021-03-13 02:49] frankhale commented on #16677
I can get it to install when I specify `dynamic-load` but then it still won't work.

[2021-03-13 02:59] JackBoosY commented on #11285
@fawdlstty  May be you need a proxy.

[2021-03-13 03:49] frankhale commented on #16677
When installing with `dynamic-load` everything is fine except when I build my project none of the feature  DLL's are copied over for SDL_Mixer to my projects build directory. If I manually copy them over then my project works and has the proper SDL_Mixer support. Is there something special I need to do in my Visual Studio project to tell it to include the libmpg123.dll or libogg or flac?

[2021-03-13 05:20] jafristr commented on #11247
Is this issue still open? I'm seeing it on both of the PCs I've tried with every tutorial I've tried:
The packages I've tried: sqlite3, grpc, raylib.

My environment:
* OS: Windows
* Compilers available on system: both PCs have both VS2017 and 2019 (but I didn't even get to the point of opening the builds with them)
* vcpkg "2020.11" (I've also tried the latest, March 12, 2021)
* cmake version 3.1

[2021-03-13 05:32] jafristr commented on #11247
Ah, sqlite3 was the triplet thing. Guess that's a vote for clearer docs. This tutorial https://vcpkg.readthedocs.io/en/latest/examples/installing-and-using-packages/ says you _can_ choose different targets but it doesn't say it won't work if you don't.

[2021-03-13 05:33] ahmedyarub commented on #16647
Same problem with x64-android after the latest update. I'm getting this error:

I have libssl.so and libssl.a, but no libssl.dll.a in that folder.

[2021-03-13 05:35] ahmedyarub commented on #16407
This broke Android build and some others https://github.com/microsoft/vcpkg/issues/16647

[2021-03-13 05:49] davidhunter22 commented on #9514
Hi, sorry to take so long. Yes I can confirm this is fixed, did a few more experiments to try to break things as well but all looks good.

[2021-03-13 06:42] HideakiAtsuyo commented on #16647
You think we can choose a precise version of openssl to avoid this?

[2021-03-13 06:51] aggieNick02 opened #16680 "Documentation for vcpkg_install_msbuild list two example ports that use it, but those ports no longer do"
https://github.com/microsoft/vcpkg/blob/master/docs/maintainers/vcpkg_install_msbuild.md

This documentation lists `xalan-c` and `libimobiledevice` at the end as examples of ports that use the command. But neither port uses the command anymore. These examples should be removed and, ideally, a current one added.

[2021-03-13 07:11] liupeiqiHN opened #16681 "[libarchive] cmake can't find libarchive's dependencies"
**Describe the bug**
I install newest vcpkg and I can't find libarchiveConfig.cmake after I installed libarchive:x64-windows-static. So when I cmake OpenCV, a lot of error jump out. Because OpenCV need tesseract, and tesseract need libarchive (I remember tesseract don't need libarchive before a month ago?), but cmake can't find libarchive's dependencies(lzma,lzo,openssl,etc....).

**Environment**

[2021-03-13 07:26] Krzmbrzl commented on #16671
But ir compiled for > 3h. So it mudt have done _something_. During that time I also saw various instances of jom, qmake and c++ compiler in the task manager.

So I think it'd be odd if it didn't build anything :thinking:

[2021-03-13 07:36] ahmedyarub commented on #16647
I'm still trying to understand whether this happened to an OpenSSL change, or due to a change in vcpkg itselft.
Besides, how do I add a previous version as a dependency for Android while using the latest version for all the other triplets?

[2021-03-13 07:38] HideakiAtsuyo commented on #16647
RIP this sad moment will make me cry for a long time... Let's wait a fix..

[2021-03-13 08:54] joefocusrite opened #16682 "[websocketpp] Add feature to build without boost"
The [websocketpp](https://github.com/zaphoyd/websocketpp) library supports building with Boost ASIO (boost-asio), or standalone ASIO (asio), or no ASIO to use a custom transport system.

The current port only supports Boost, which can add long build times to projects that don't already depend on Boost.

I have had a stab in #16675, but I could do with some help! The CI build fails on x86_windows b

[2021-03-13 10:26] ArneDJ commented on #16677
I have the same issue, I can get it to work by manually copy pasting the libmpg123.dll file to the executable directory but that's a pretty dirty hack.

[2021-03-13 12:11] Muratcol commented on #16669
How silly I am... I think I was so tired yesterday. It's worked right now. Thank you so much.

[2021-03-13 12:12] #16669 closed

[2021-03-13 13:22] fawdlstty commented on #11285
Yes, I have try to use, but the results are very poor, I still can't install Skia 😢

[2021-03-13 15:52] longnguyen2004 commented on #16647
@HideakiAtsuyo I'm not 100% certain, but it might be due to the toolchain, which is based on MinGW. Please switch to a toolchain that uses Mingw-w64 and try again.

[2021-03-13 15:57] longnguyen2004 commented on #16417
Not all build systems handle spaces in paths properly, so it's best to put `vcpkg` in a path without spaces.

[2021-03-13 15:58] longnguyen2004 commented on #16218
@StarGate-One Yes, a lot of build systems still can't handle spaces in paths properly.

[2021-03-13 19:51] StarGate-One commented on #16682
@joefocusrite I had the same issue the other day.
I was given this information to fix the issue on my local vcpkg instance fix branch, which I pushed up to my git fork then over to microsoft/vcpkg PR:

[2021-03-13 20:12] StarGate-One commented on #16677
Just wondering, has command `vcpkg integrate install` been run to integrate vcpkg into visual studio?

[2021-03-13 20:15] frankhale commented on #16677
Yes it has been ran. I am having no issues with any other DLLs. The SDL2_Mixer.dll gets copied but none of it's feature DLLs like mpg123, flac, ogg, etc... If I manually copy those to my build directory SDL2_Mixer will work with those formats.

[2021-03-13 23:46] raavann opened #16686 "Error: Building package llvm:x64-windows failed with: BUILD_FAILED"
Error: Building package llvm:x64-windows failed with: BUILD_FAILED

  Package: llvm:x64-windows
  Vcpkg version: 2021-01-13-d67989bce1043b98092ac45996a8230a059a2d7e

Vcpkg is up to date.

[2021-03-14 01:03] LegalizeAdulthood opened #16687 "[cgal] build failure with a manifest"
**Host Environment**
- Windows 10
- Compiler: VS 2019

**To Reproduce**
Steps to reproduce the behavior:
With the following manifest file:
[code]
and the following CMakeLists.txt in a source directory:
[code]
Then configure a CMake build using vcpkg as the toolchain:
`cmake -DCMAKE_TOOLCHAIN_FILE:FILEPATH=<path to vcpkg>/scripts/buildsystems/vcpkg.cmake <path to source>`
When vcpkg attempts to bui

[2021-03-14 01:07] LegalizeAdulthood commented on #16687
Attempting `vcpkg install cgal` seems to be able to build gmp without errors:
[code]

[2021-03-14 01:23] LegalizeAdulthood commented on #16687
`vcpkg install cgal:x64-windows` also builds gmp without difficulty.

[2021-03-14 02:48] #9514 closed

[2021-03-14 06:14] hunt978 opened #16688 "[jasper] build failure"
**Host Environment**
- OS: Microsoft Windows [Version 10.0.18363.1440]
- Compiler: MSVC-2019 version 14.28.29910 x86

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install jasper`

**Failure logs**
-Cut and past the appropriate build messages from the console output.
[code]
-Please attach any additional failure logs mentioned in the console output.
[code]

x64-windows:

[code]

**Addi

[2021-03-14 06:45] GabeMillikan opened #16689 "wxwidgets:x86-windows-static build failure"
**Host Environment**
- OS: Windows 8.1
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg install wxwidgets:x86-windows-static`

**Failure logs**
[code]

[2021-03-14 08:01] PengGuoqing1993 opened #16690 "[New Port Request] <libopenshot>"
Library name:
Libopenshot

Library description:
Video process, video effect

Source repository URL:
https://github.com/OpenShot/libopenshot

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included):
It is easy to develop video editor

[2021-03-14 09:48] L-Sun opened #16691 "[New Port Request] ut"
Library name: ut

Library description: UT: C++20 μ(micro)/Unit Testing Framework

Source repository URL: https://github.com/boost-ext/ut

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included):
In the READNE of this repository:

[Optional] CMake integration

This project

[2021-03-14 11:24] L-Sun opened #16692 "[asio] update to 1.18.1"
Library name: asio

New version number: 1.18.1

Other information that may be useful (release notes, etc...)

- Enabled support for UNIX domain sockets on Windows. From Windows 10, UNIX domain sockets (a.k.a "local" sockets) are supported on Windows, with the exception of the connect_pair function (which will fail with an operation_not_supported error).

- Added executor-converting construction an

[2021-03-14 12:00] autoantwort commented on #15774
Only you can reopen it, I can't

[2021-03-14 12:46] karastojko opened #16695 "[New Port Request] <mailio>"
Library name: mailio

Library description: "mailio is a cross platform C++ library for MIME format and SMTP, POP3 and IMAP protocols. It is based on the standard C++ 17 and Boost library."

Source repository URL: https://github.com/karastojko/mailio

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library

[2021-03-14 15:01] HideakiAtsuyo commented on #16647
Basically i'm supposed to completely install MinGW + things installed by MinGW and install MinGW x64 ?

[2021-03-14 15:39] DMotorygin opened #16698 "[harfbuzz] Build x64-windows failure"
**Host Environment**
- OS: Windows 10
- Compiler: visual studio 2017

**To Reproduce**
Steps to reproduce the behavior:
vcpkg install qt5-base

**Failure logs**
[code]
**Additional context**
Vcpkg version: 2021-01-13-d67989bce1043b98092ac45996a8230a059a2d7e

[2021-03-14 15:53] longnguyen2004 commented on #16647
No, you just need a toolchain that uses Mingw-w64 (try one of these: [mingw-builds](https://sourceforge.net/projects/mingw-w64/files/Toolchains%20targetting%20Win32/Personal%20Builds/mingw-builds/8.1.0/threads-posix/dwarf/i686-8.1.0-release-posix-dwarf-rt_v6-rev0.7z/download), [WinLibs](http://winlibs.com/), [llvm-mingw](https://github.com/mstorsjo/llvm-mingw/releases)). Download one of them, add

[2021-03-14 16:50] HideakiAtsuyo commented on #16647
`vcpkg install cpr:x86-mingw-dynamic` =>
[code]

[config-x86-mingw-dynamic-out.log](https://github.com/microsoft/vcpkg/files/6137121/config-x86-mingw-dynamic-out.log)

[2021-03-14 18:06] frankhale commented on #4481
I'm using Visual Studio 2019 and was able to resolve these symbols by adding bcrypt.lib to the linker input.

[2021-03-14 19:29] sme-ek commented on #16042
having a similar issue in CLion.

CMakeLists.txt contains:
[code]
when i try to reload CMakeList.txt:
[code]

[2021-03-14 20:21] xarthurx opened #16699 "ixwebsocket wired install location"
**Describe the bug**
installing `ixwebsocket` (without any additional label) gives output of:
[code]

Notice the word `share` in the above `cmd` output.

I tried different ways to find the package but in vain.
After some debug, it seems like the default `.cmake` file is located in the wrong location, a folder one level up:

Here is a screenshot of `vcpkg\installed\x64-windows\share`:
![image](http

[2021-03-14 23:52] ahmedyarub commented on #16647
I reverted to the i version and had the same error. Looks like something is broken in vcpkg.

[2021-03-15 00:43] PhoebeHui commented on #15774
@autoantwort, thanks for the PR! I have reopened this issue.

[2021-03-15 02:36] DougRogers opened #16702 "fmt build failure"
Windows x64/  VS 2019 Community

**To Reproduce**
Steps to reproduce the behavior:
vcpkg install fmt --triplet x64-windows
[code]

[2021-03-15 02:45] JackBoosY commented on #16698
[code]
Please use `powershell` instead of `cmd`.

Thanks.

[2021-03-15 02:45] #16689 closed

[2021-03-15 04:33] longnguyen2004 commented on #16647
@ahmedyarub Seems like your problem is different from @HideakiAtsuyo, you should open a separate issue.

[2021-03-15 05:29] longnguyen2004 commented on #16647
@HideakiAtsuyo Mine is working fine, try removing all the remnants of the old toolchain and try again

<details>
    <summary>Command line output:</summary>

[code]
</details>

[2021-03-15 05:45] longnguyen2004 opened #16704 "vcpkg upgrade only upgrade specific triplets"
****

**Is your feature request related to a problem? Please describe.**
I use a variety of different compilers to test the various ports. I'd like to have `vcpkg upgrade` only upgrades ports of a specific triplet, using the `--triplet` flag.

**Proposed solution**
Add `--triplet` option to `vcpkg upgrade`

[2021-03-15 05:57] NancyLi1013 commented on #16448
Currently, the only way I have known is to change the system local.

You can tick a "Use Unicode UTF-8 for worldwide language support", box in "Region & Language" - "Administrative" - "Change system locale" - "Region Settings".

Please see the details here https://github.com/microsoft/vcpkg/issues/12865#issuecomment-673216071

[2021-03-15 06:12] Cheney-W commented on #16688
@hunt978
Thanks for reporting this issue to us!
I tried to reproduce this issue in my side with the latest vcpkg, VS2019 16.9.1 and Windows SDK 10.0.19041.0, but I could install this port successfully.
According to the error message you provided before, I think you could try to install a high version of the Windows SDK, such as: 10.0.18362.0 or 10.0.19041.0.

[2021-03-15 06:53] luncliff commented on #9344
In short, this is a side effect of implicit `CC` and `CXX` usage.

When we run `vcpkg install`, it will invoke CMake and it will select `CC` and `CXX`. At this moment, the compiler will select the standard library that it prefers.

Therefore, if `c++` is selected, it will be `libc++`.
On the other hand, `g++`, will use `libstdc++`.

As a result, the standard library of `installed` packages and you

[2021-03-15 07:26] PhoebeHui commented on #16687
This issue will be fixed by PR https://github.com/microsoft/vcpkg/pull/16478

[2021-03-15 07:28] JonLiu1993 commented on #16676
@bitmeal ,Thanks for posting this issue,After the pr submitted by @Phantomouse, please git pull the latest version and rebuild it

[2021-03-15 07:32] meastp commented on #16655
@StarGate-One Thanks. As I mentioned, I have changed dbghelp locally (in a private vcpkg-registry), to actually use `VCPKG_CMAKE_SYSTEM_VERSION`, but I think this is the right behaviour and thus I reported this as a bug.

For me with the CI agent administered by Microsoft - and anyone with a CI agent administered by a third party - the installed SDK can vary and change without notice, so the dbghe

[2021-03-15 07:47] hunt978 commented on #16688
@Cheney-W
Thanks ! Problem was solved after upgrading Windows SDK to 10.0.19041.0.
Issue could be closed.

[2021-03-15 07:53] NancyLi1013 commented on #16483
@errata-c Thanks for looking into this issue.

I think the key point we discuss here is why we use `GLEW `here instead of how to fix it. As you can see here https://github.com/microsoft/vcpkg/pull/7967#issue-312273877.

@Neumann-A
Could you please help comment something here?

Thanks.

[2021-03-15 07:58] Cheney-W commented on #16688
Thanks for your reply!

[2021-03-15 07:58] #16688 closed

[2021-03-15 08:11] Neumann-A commented on #16483
Just do:
`set(glew_FOUND ${GLEW_FOUND})` in the cmake wrapper?

[2021-03-15 08:45] jeremy-meldcx opened #16707 "Cannot find https://github.com/boostorg/process/archive/boost-1.75.0.tar.gz"
Package: boost-process:x64-windows-static
Vcpkg version: 2021-01-13-d67989bce1043b98092ac45996a8230a059a2d7e

When executing `vcpkg.exe install --triplet=x64-windows-static boost`
I get the following error:

[code]

[2021-03-15 09:09] JonLiu1993 commented on #16042
Hi @sme-ek  ,This issue is opened for libconfig. If the port involved in your question is not libconfig, please reopen an issue, thank you

[2021-03-15 09:44] NancyLi1013 commented on #16686
Hi @raavann

Thanks for posting this issue.

Could you please help provide the detailed error info?

[2021-03-15 09:46] NancyLi1013 commented on #16699
Hi @xarthurx

Thanks for posting this issue.

I will fix this soon.

[2021-03-15 09:47] Krzmbrzl opened #16709 "[OpenSSL] Explicitly set OPENSSL_ROOT_DIR"
**Is your feature request related to a problem? Please describe.**

We have received reports from users on macOS and on Windows that are using vcpkg to install our dependencies. One of these is OpenSSL. However it can happen that cmake doesn't link to vcpkg's OpenSSL version but uses a system version instead (as well?).
This will then create link conflicts with the version packaged in vcpkg due to

[2021-03-15 10:33] #16686 closed

[2021-03-15 10:34] Cheney-W commented on #16681
@LiuPeiqi-CNHN
Thanks for reporting this issue to us!
In order to investigate this issue, could you please provide us with your cmake project which could reproduce this issue?
BTW, please make sure you have do the following step when you run your cmake project:
https://github.com/microsoft/vcpkg/blob/master/docs/users/integration.md#with-cmake
We are looking forward to your reply.

[2021-03-15 10:34] raavann commented on #16686
Hie.
There was a 2 dollar signs in my path which somehow converted to 4 dollar signs... However I chnaged the name of directory and it works fine now.

[2021-03-15 10:39] JonLiu1993 commented on #16702
@DougRogers ,Thanks for posting this issue,This is because the vcpkg path contains capital letters. Are there any uppercase characters in the path of your vcpkg inventory?

[2021-03-15 10:44] PhoebeHui commented on #16707
@jeremy-meldcx, could you download the source from https://github.com/boostorg/process/archive/boost-1.75.0.tar.gz manually?
put it to downloads folder and rename it to 'boostorg-process-boost-1.75.0.tar.gz', then try again?

Similar issue https://github.com/microsoft/vcpkg/issues/13348

[2021-03-15 10:48] jeremy-meldcx commented on #16707
I will try again. I already tried to manually download using the link before reporting the issue but the link does not work at that time. Now it works! I will get back with the result.

[2021-03-15 10:50] jasonkofo opened #16712 "[icu] BUILD_FAILURE when building icu x64-windows-dbg on Windows 10"
My apologies if there is already a closed issue associated with this

When I attempt to install icu:x64-windows using vcpkg, I get the following error

[code]

The error log shows this
[code]

I am pretty sure that adding the cross compilation option ought to fix this issue, but I cannot quite find where I am supposed to do this.

[2021-03-15 10:50] NancyLi1013 commented on #16551
Hi @tan-wei

Thanks for posting this issue.

The following libs are missing in `/lib `folder.

[code]

[2021-03-15 10:53] tan-wei commented on #16551
Waiting for the PR is merged. Thanks.

[2021-03-15 11:00] jeremy-meldcx commented on #16707
Successfully installed boost using vcpkg command. I did not need to manually download. The source link was the real issue after all.

[2021-03-15 11:00] #16707 closed

[2021-03-15 11:19] JackBoosY commented on #16702
[code]

Please re-install `fmt`.

Thanks.

[2021-03-15 11:23] autoantwort commented on #16712
I think #16577 will fix that.

[2021-03-15 11:32] BrentG-1849260 opened #16713 "protobuf:x64-windows build failure"
**Host Environment**
- OS: Windows 10
- Compiler: MSVC 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install protobuf protobuf:x64-windows`

**Failure logs**
Console:
[code]
config-x64-windows-out.log:
[code]

**Additional context**
vcpkg/downloads contains ninja-win-1.10.1.zip, I don't see why `ninja -v` is causing a problem. I also tried pip-installing ninja, which didn't help

[2021-03-15 11:53] LiuPeiqi-CNHN commented on #16681
I use this powershell script to build opencv:

`function BuildForWindows($platform, $vcpkgPath, $runMsbuild) {

    #$ErrorActionPreference = "Stop"

    $buildDirectory = "build_win_${platform}_static"
    mkdir $buildDirectory -Force -ErrorAction Stop | Out-Null
    cd $buildDirectory
    pwd

    if ($platform -eq "x64") {
        $msbuildPlatform = "x64"
        $msmfFlag = "ON"
    } else {

[2021-03-15 12:18] jwillemsen commented on #16551
This is very likely because of lack for zlib on windows as part of MPC. Did make a PR for MPC with a similar approach as we use for xercesc/openssl, extend the github actions we use to also test this, see https://github.com/DOCGroup/MPC/pull/128. When that works I can merge it and it will be part of a future ACE version

[2021-03-15 12:26] PhilippPaetzold commented on #14498
Hi @NancyLi1013, is there any update about this issue?

[2021-03-15 12:50] SZenglein commented on #16702
Why update vcpkg when there has not been a commit in the last four days? Anyway, I also experience this issue.

[2021-03-15 13:11] soumyamahunt opened #16715 "[msbuild]DLLs aren't copied to output folder for MSIX packaged app"
**Describe the bug**
When using `vcpkg` with `msbuild`, DLLs are copied to only the project output folder but not the [MSIX](https://github.com/microsoft/msix-packaging) packaging project output folder.

**Environment**
- OS: Windows
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
1. Create a sample console application project in visual studio and use any package that produ

[2021-03-15 13:22] jwillemsen commented on #16551
It is not zlib, it looks in a debug build we get some additional libraries which are not there in a release build. This looks to be related to the executables we link.

At that moment a /IMPLIB commandline option is used but the `d` postfix is not added there. This is something that needs structural work for which I lack free time, see https://www.dre.vanderbilt.edu/~schmidt/commercial-support.htm

[2021-03-15 13:33] jwillemsen commented on #16551
In a release build we get tao_cosnaming.lib twice, once for the exe, once for the shared library, they overwrite each other when copied

In debug mode we get `tao_cosnaming.lib` for the exe but `tao_cosnamingd.lib` for the shared library so there is a difference amount of shared libraries

[2021-03-15 14:59] Another-Ghost opened #16717 "openal-soft build failure"
**Host Environment**
- OS: Windows
- Compiler: 2021-01-13-768d8f95c9e752603d2c5901c7a7c7fbdb08af35

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install openal-soft`

**Failure logs**
PS C:\src\vcpkg> vcpkg install openal-soft
Computing installation plan...
The following packages will be built and installed:
    openal-soft[core]:x86-windows -> 1.21.1
Detecting compiler hash for trip

[2021-03-15 15:01] Another-Ghost commented on #16717
I've installed vs 2019 and work fine with installing the other packages.

[2021-03-15 15:21] DougRogers commented on #16702
I updated vckpg using .\bootstrap-vcpkg.bat

Same error:
[code]

[2021-03-15 16:38] HideakiAtsuyo commented on #16647
https://i.imgur.com/WzGUEJd.png

`vcpkg install cpr:x86-mingw-dynamic` =>

[code]

[2021-03-15 16:47] sfhacker commented on #16702
Are we still having issues with fmt?

[2021-03-15 16:51] sfhacker commented on #16713
Are we still having issues with protobuf?

[2021-03-15 18:01] #16676 closed

[2021-03-15 20:18] errata-c commented on #16483
That will work for the lower case name. The cmake docs say that names in find_package calls will be treated as case-insensitive (https://cmake.org/cmake/help/latest/command/find_package.html#search-procedure). In order to support this, without changing anything else in the cmake wrapper, I recommend adding `set(${PACKAGE_NAME}_FOUND ${GLEW_FOUND})`. This guarantees the right name is reported back,

[2021-03-15 20:22] Neumann-A commented on #16483
that is incorrect. This only applies to `<lowercasepackagename>-config.cmake`. Everything else will be case sensitive.
So the question here is does glew install its own config as  `glew-config.cmake`.

[2021-03-15 20:36] errata-c commented on #16483
You can try it yourself, call find_package with a random set of upper and lower case letters for a package name. It works, I just tried it since you made me doubt myself. While yes, the config file can only be one of two forms, the find_package function is much more lenient. The docs I just linked say: "In all cases the <name> is treated as case-insensitive and corresponds to any of the names spec

[2021-03-15 20:37] Neumann-A commented on #16483
Platform? Probably Windows or WSL

[2021-03-15 20:51] errata-c commented on #16483
Okay, I've tried it on Windows 10, and Ubuntu 5.8.0. Works on both.

[2021-03-15 21:12] Chris45215 commented on #9432
I have encountered the same problem, but only with VS2019 and not VS2017, with VCPKG version 2020.11.03, Visual Studio Community 2019 version 16.7.4, and Visual Studio Community 2017 version 15.9.14. I have used the Integrate command in both Powershell and command line, and in both administrator mode and non-administrator mode for both.

I tested it all again when following the video tutorial at h

[2021-03-15 21:30] thecodedoctorr opened #16718 "How do I get passed this error: "No suitable Visual Studio instances were found""
So I am installing vcpkg on windows to use it with vs code. I noticed that my installation doesn't go as planned.
When I first try to bootstrap it, it says its done and it looks fine.  However, from what I've seen on tutorials, my installation is way too quick (2 to 3 seconds).
In the output, for bootstraping and installing, I don't get any errors. commands (search, list, help) work fine but when

[2021-03-15 21:33] errata-c commented on #16483
Sorry, I misinterpreted what you meant by "This only applies to <lowercasepackagename>-config.cmake. Everything else will be case sensitive." I assumed you were talking about the naming required for package config files themselves. After reading the CMake source (https://github.com/Kitware/CMake/blob/master/Source/cmFindPackageCommand.cxx lines 625 to 629) I see what you mean. It just so happens t

[2021-03-15 21:36] Neumann-A commented on #16483
you mean: `set(${CMAKE_FIND_PACKAGE_NAME}_FOUND ${GLEW_FOUND})`

[2021-03-15 21:42] errata-c commented on #16483
Well the cmake wrapper calls the actual find_package function internally, which changes the CMAKE_FIND_PACKAGE_NAME variable. The PACKAGE_NAME variable defined by vcpkg itself is still valid at that point.

[2021-03-15 22:19] #16662 closed

[2021-03-15 22:21] #16645 closed

[2021-03-15 22:47] #8203 closed

[2021-03-15 22:52] vicroms commented on #16718
Do you have **Visual Studio** installed on your PC?

Recently we changed bootstrap to download an executable file instead of building the tool from source. That's why it is so fast now.

[2021-03-15 22:57] #16699 closed

[2021-03-16 00:56] #14830 closed

[2021-03-16 00:56] #15508 closed

[2021-03-16 00:59] glebm opened #16720 "[collada-dom:x64-windows-static] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: VS 2019

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg install collada-dom:x64-windows-static`

**Failure logs**

[code]

**Additional context**

Only the static version fails, `vcpkg install collada-dom:x64-windows` installs successfully.

[2021-03-16 02:08] HideakiAtsuyo commented on #16647
https://github.com/microsoft/vcpkg/issues/16647#issuecomment-798930674

......

[2021-03-16 02:18] HideakiAtsuyo commented on #16647
https://github.com/microsoft/vcpkg/issues/16647#issuecomment-798930674
...

[2021-03-16 02:20] HideakiAtsuyo commented on #16647
And the result(because it's magic fr) doesn't change at all.

[install-x86-mingw-dynamic-dbg-out.log](https://github.com/microsoft/vcpkg/files/6145619/install-x86-mingw-dynamic-dbg-out.log)

`vcpkg install cpr:x86-mingw-dynamic` =>
[code]

[2021-03-16 03:12] HideakiAtsuyo commented on #16647
I'm also curious about the Ninja issue here: https://github.com/microsoft/vcpkg/issues/16647#issuecomment-798939926

So i opened an issue on Ninja repo https://github.com/ninja-build/ninja/issues/1929

[2021-03-16 03:25] JackBoosY commented on #16712
Duplicated to #16424.

[2021-03-16 03:25] #16712 closed

[2021-03-16 03:27] longnguyen2004 commented on #16647
Use the Win32 version on WinLibs https://github.com/brechtsanders/winlibs_mingw/releases/download/10.2.0-11.0.0-8.0.0-r8/winlibs-i686-posix-dwarf-gcc-10.2.0-mingw-w64-8.0.0-r8.7z

[2021-03-16 03:50] HideakiAtsuyo commented on #16647
`vcpkg install cpr:x86-mingw-dynamic` =>
[code]

Nice this issue can be closed now :)

[2021-03-16 03:50] #16647 closed

[2021-03-16 04:37] longnguyen2004 commented on #16647
You're welcome :)
The mingw world can be a bit of a pain for beginners, especially the differences between MinGW (old) and Mingw-w64 (new). Avoid the first and go with the second, since everyone else assumes you're using a Mingw-w64 based toolchain.

[2021-03-16 06:39] NancyLi1013 commented on #16717
Hi @Another-Ghost

Thanks for posting this issue.

Could you please help check if you have installed Desktop development with C++ and Build Tools for Visual Studio 2019?

 Please try to add `PREFER_NINJA` to `vcpkg_configure_cmake()` and rebuild this.

[2021-03-16 06:49] JackBoosY opened #16721 "[X_VCPKG_APPLOCAL_DEPS_INSTALL] Install dependency failure using unexptected powershell version"
**Describe the bug**
When using feature `X_VCPKG_APPLOCAL_DEPS_INSTALL`, _VCPKG_ROOT/scripts/buildsystems/msbuild/applocal.ps1_ reports an error and the dependent dynamic library is not installed

**Environment**
- OS: Windows 10
- Powershell: 10.0.19041.546
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
1. Add one port as custom project's dependency.
2. Set `X_VCPKG_APPLO

[2021-03-16 07:03] NancyLi1013 commented on #9432
@Chris45215

I can find `SDL2/SDL.h` with Visual Studio 2019 16.9.1 in cmake project.

Please open a new issue if you still have this problem.

[2021-03-16 07:41] Cheney-W commented on #16715
Duplicated to https://github.com/microsoft/vcpkg/issues/16184

[2021-03-16 07:41] #16715 closed

[2021-03-16 07:46] NancyLi1013 commented on #14498
Hi @PhilippPaetzold

Sorry for the long delay.

Now I can reproduce this problem with your project sample. I will try to look into `jxrlib`, but I'm not sure if I can figure out this.   I will try to do that anyway according to the above information from @traversaro.

[2021-03-16 07:54] traversaro commented on #14498
As mentioned in https://github.com/microsoft/vcpkg/issues/14498#issuecomment-778075186, I think it should just a matter of adding the missing files to the build. If you have any doubt @NancyLi1013 feel free to ping me in this issue.

[2021-03-16 08:15] JackBoosY commented on #12849
Maybe fixed by #16722.

[2021-03-16 09:36] NancyLi1013 commented on #14498
@traversaro Thanks for your help.

I noticed that https://github.com/4creators/jxrlib/blob/master/image/sys/strcodec.c
https://github.com/4creators/jxrlib/blob/master/image/decode/strdec.c
these two files have been added to `jpegxr `. And `jpegxr `also is linked to `jxrglue`. So I think it's unnecessary to add the files to
`jxrglue `to compile.

https://github.com/microsoft/vcpkg/blob/master/ports

[2021-03-16 09:49] traversaro commented on #14498
I think the policy make sense for ports that provide the CMake-based build system themself. In this case, the CMakeLists.txt is part of the port, so the author of the CMakeLists.txt (me) was indeed explicitly using and totally intentionally.

[2021-03-16 10:07] traversaro commented on #14498
Good catch! So we probably need to understand why `jpegxr` is not linked in this case, or if it is linked why is not providing the required symbols. Could it be simply a problem of order in which the static libraries are passed to the linker (similar to https://osrf-migration.github.io/ignition-gh-pages/#!/ignitionrobotics/ign-msgs/pull-requests/151/page/1)? It probably would be helpful to compile

[2021-03-16 11:10] PhoebeHui commented on #16713
@BrentG-1849260, do you install windows sdk? if not, please install it and try again?

[2021-03-16 11:51] thecodedoctorr commented on #16718
I do have visual studio installed. I removed vcpkg.  I uninstalled visual studio, installed it again and redid everything and now it is working. thank you

[2021-03-16 11:51] #16718 closed

[2021-03-16 13:26] soumyamahunt commented on #16184
@sylveon are you still facing this issue?? Also I am not sure about `LinkSkippedExecution` causing this issue as I am still facing this issue even after removing `'$(LinkSkippedExecution)' != 'true'`.

[2021-03-16 13:55] fl0kng commented on #16141
Got it to build on a different machine...

[2021-03-16 13:55] #16141 closed

[2021-03-16 13:59] sylveon commented on #16184
Yes, I am still facing this issue. Removing `LinkSkippedExecution` stopped working in 16.10 Preview 1.

[2021-03-16 14:02] BrentG-1849260 commented on #16713
Apparently that was all it needed. Thanks for the help.

[2021-03-16 14:02] #16713 closed

[2021-03-16 14:08] soumyamahunt commented on #16184
I didn't have to remove `LinkSkippedExecution` until I was using 16.9 now that I upgraded to 16.9.1 I am starting to face this issue. Seems more like a Visual Studio bug than vcpkg bug to me.

[2021-03-16 15:16] JackBoosY commented on #16655
@ras0219 @ras0219-msft Can you please take a look?

Thanks.

[2021-03-16 15:21] JackBoosY commented on #16702
[code]
fmt source path should be `2b3b374f0b-8ea71ee8ea.clean` in latest. I think your repo is not correct.
BTW, vcpkg support Visual Studio 2015 or later, and please DO NOT use the path contains empty space.

[2021-03-16 15:29] JackBoosY commented on #16709
In fact, this question is a dilemma:
-If we force `find_package` or `find_library` to find the library in vcpkg, it will not be found for libraries of different versions that third-party libraries (such as qt and openssl) rely on.
-If we do not force it, this type of problem may occur: the library in the system is found.

In addition, for libraries such as openssl, we use FindPORT.cmake provided b

[2021-03-16 16:18] DougRogers commented on #16702
If the repo is not correct after running _bootstrap-vcpkg.bat_m then it does update properly.

The directory name is legacy.  I am using VC 2019  as I indicated above.  This was the default directory where projects were installed for VS 2010 and that is where they stayed as I upgraded VS.

I can move vcpkg to a path without spaces, but it is surprising and disappointing that this is required.  I d

[2021-03-16 16:18] #16702 closed

[2021-03-16 16:46] Krzmbrzl commented on #16709
Sorry I should have mentioned it earlier: We are in fact using the `x64-windows-static-md` triplet. So using this does not fix the issue.

I think I can't quite follow here. Is this about someone potentially having OpenSSL installed via vcpkg but in another project they want to use the system's version instead (while using other packages from vcpkg)?

Maybe there could be a cmake flag that could b

[2021-03-16 18:14] ras0219-msft commented on #16615
We do have a [`.gitattributes`](https://github.com/microsoft/vcpkg/blob/master/.gitattributes) which should have ensured all files are checked out using the original line endings, so I'm very confused as to why https://github.com/microsoft/vcpkg/issues/16615#issuecomment-793892069 made a difference. Assuming that's the problem, it's likely that the triplet file you're using has different line endi

[2021-03-16 18:29] ras0219-msft commented on #16631
We do currently have a feature flag that implements this -- `-compilertracking`, settable in the environment as `VCPKG_FEATURE_FLAGS=-compiletracking`. Does this work for your scenario?

[2021-03-16 19:51] lukedan opened #16728 "[Skia] Build failure: No module named site"
**Host Environment**
- OS: Windows 10
- Compiler: MSVC 19.28.29913

**To Reproduce**

`./vcpkg install skia:x64-windows`

**Failure logs**
[code]

dbg-out.log:

[code]

dbg-err.log:

[code]

**Additional context**

I have the environment variable `PYTHONHOME` pointing to a Miniconda3 installation on my disk, which is also in `PATH`. However, I don't have the `PYTHONPATH` variable.

[2021-03-16 21:34] clemenswasser commented on #16298
I found a fix 🥳
You can just set `CMAKE_PREFIX_PATH` to `<VCPKG_ROOT>/installed/x64-windows-static` (where `VCPKG_ROOT` is your vcpkg folder, you have to use forward slashes!).
CMake will then figure out where the include directories are and what libraries to link against.

[2021-03-16 22:52] MFMokbel opened #16729 "[cpp-httplib] update to 0.8.4"
Library name: cpp-httplib

New version number: 0.8.4

Other information that may be useful (release notes, etc...)

- Current available version on vcpkg is 0.7.0. Latest release is at version 0.8.4.
- Major bug fixes between those versions

[2021-03-16 22:59] takev commented on #3414
The CONTRIBUTING.md page points to https://cla.opensource.microsoft.com which at least on Safari does not show any way of actually signing the CLA.

Thanks to @kmhofmann 's comment on this issue, I just went to a random pull request and got to a working CLA sign page through the PR-bot.

[2021-03-16 23:44] hanseuljun opened #16731 "[angle] eglext_angle.h missing"
****

**Is your feature request related to a problem? Please describe.**
ANGLE has its own extension functions and they are inside eglext_angle.h.
![image](https://user-images.githubusercontent.com/5001447/111393516-229e6180-8676-11eb-896b-7be7676a7911.png)

However, when ANGLE is installed by vcpkg, eglext_angle.h is missing.
![image](https://user-images.githubusercontent.com/5001447/111393545-35

[2021-03-17 00:13] a30f49 opened #16732 "brotli:x64-windows build failure"
**Host Environment**
- OS: Windows
- Compiler: Vcpkg package management program version 2021-01-13-d67989bce1043b98092ac45996a8230a059a2d7e

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install cpprestsdk:x64-windows`

**Failure logs**
-- Installing: E:/dev/vcpkg/packages/brotli_x64-windows/share/brotli/copyright
-- Performing post-build validation
Detected outdated dynamic CRT in th

[2021-03-17 00:23] Chris45215 commented on #9432
Thanks @NancyLi1013, I was able to get it too work too - but only after I re-downloaded the entirety of PCL with vcpkg and used the instruction ".\vcpkg install pcl:x64-windows", instead of ".\vcpkg install pcl:x64-windows-static" which I had used earlier. I can make the new issue, but I'm not sure if it was just weirdness on my side, or if there is a significant difference between the static and

[2021-03-17 01:42] NancyLi1013 commented on #16731
Hi @hanseuljun

Thanks for posting this issue.
Since it's duplicated to #14890, let's track this issue there.

[2021-03-17 01:42] #16731 closed

[2021-03-17 01:47] hanseuljun commented on #16731
Thanks for the quick feedback!

[2021-03-17 01:51] hanseuljun commented on #14890
I submitted a pull request that includes eglext_angle.h. The issue was caused by all header files with "EGL" in their name being excluded at the end of ports/angle/CMakeLists.txt.

Since I worked on this one before reading this issue, this PR does not solve the angle_util.lib issue or points at the up-to-date version of ANGLE.

[2021-03-17 01:56] hanseuljun commented on #14890
This PR also does not let you call eglCreateDeviceANGLE directly. At least in my machine for x64-windows.

The way I currently work with it is through using eglGetProcAddress. I first call
PFNEGLCREATEDEVICEANGLEPROC createDeviceANGLE = (PFNEGLCREATEDEVICEANGLEPROC)eglGetProcAddress("eglCreateDeviceANGLE");
then use createDeviceANGLE instead of eglCreateDeviceANGLE.

[2021-03-17 02:10] NancyLi1013 commented on #9432
@Chris45215

Thanks for your above details.
For static and dynamic, there are some differences between these two builds in usage.
Especially, for static build, there is some extra work that needs to be done.
Please see the doc here https://devblogs.microsoft.com/cppblog/vcpkg-updates-static-linking-is-now-available/

[2021-03-17 02:18] higurekon opened #16734 "[opencv4[cuda]] build failure"
**Host Environment**
- OS: Windows
- Compiler: 2021-01-13-d67989bce1043b98092ac45996a8230a059a2d7e

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install opencv4[cuda]:x64-windows`

**Failure logs**
Snippet from console output:
[code]
Corresponding error in install-x64-windows-dbg-out.log:
[code]
**Additional context**
I cloned vcpkg today, so I should have the latest version. I had C

[2021-03-17 02:44] JonLiu1993 commented on #16729
Relate to #16591

[2021-03-17 02:47] JonLiu1993 commented on #16729
Hi @MFMokbel, thank you for posting this issue, cpp-httplib has been updated to 0.8.4, please git pull the vcpkg and try again

[2021-03-17 02:47] #16729 closed

[2021-03-17 03:54] xorz57 opened #16735 "[forest] remove from vcpkg"
Library name: forest

New version number: 0

Other information that may be useful (release notes, etc...)

I want to remove this library from vcpkg.