[2020-06-02 21:29] jepessen commented on #11696
Yes it's installed.

[2020-06-02 21:42] patlecat opened #11726 "[fmt] update to 6.2.1"
Library name: fmt https://github.com/fmtlib/fmt/

New version number: 6.2.1

--

[2020-06-02 22:04] #11686 closed

[2020-06-02 22:33] #11624 closed

[2020-06-02 23:14] #10316 closed

[2020-06-02 23:57] davidebeatrici opened #11727 "[qt5-base] libx11-xcb-dev is not the only package required for the GUI components"
The port warns the user that `libx11-xcb-dev` is required, but it's not the only dependency.

Qt's build system skips targets it doesn't find the dependencies for, resulting in the Xcb platform plugin not being compiled. Without this plugin GUI applications cannot work:
[code]

From https://forum.qt.io/post/537667:

I'm not sure whether all packages are actually needed, but I can confirm that inst

[2020-06-03 00:32] strega-nil commented on #9344
Ah, shoot, I missed your comment; the github interface is sometimes confusing.

Unfortunately, I don't know how to link to libstdc++ without compiling with gcc, so you might do that: add `x64-osx-gcc.cmake` to `triplets/community`, and write something like the following:

[code]

Then, you'll need to modify `scripts/cmake/vcpkg_configure_*.cmake` to support these new `VCPKG_CMAKE_C(XX)?_COMPILER`

[2020-06-03 01:33] memetea commented on #11566
please synchronize x84 and x64 version.

currently the x86-windows protoc version is 3.12.0. but x64-windows protoc version is 3.11.4.

[code]

[2020-06-03 02:11] JackBoosY commented on #11717
However, the official does not support cmake, which means that we need to write `CMakeLists.txt`, which will increase the chance of unknowable errors.

[2020-06-03 02:13] JackBoosY commented on #7585
Hi guys, does this issue still exists?

[2020-06-03 02:26] NancyLi1013 commented on #11624
@savagecabbage123
Is this issue solved for you? It is not related with the info `find_package(OpenCV CONFIG REQUIRED)`.
If you still have the problem about the usage, please provide the detail error info or your project case.

[2020-06-03 02:44] davidebeatrici commented on #11727
Unfortunately applications crash as soon as Qt tries to load the fonts, after freezing for a few seconds.

Running https://github.com/davidebeatrici/CMake_Qt_Example:

[code]

[2020-06-03 02:53] JackBoosY commented on #9449
Hi @Outurnate, thanks for reporting this issue!
I couldn't find any error info in your logs, and osg should be fixed in Linux and OSX.
So please update vcpkg and rebuild it.

Thanks.

[2020-06-03 02:53] #9449 closed

[2020-06-03 02:54] JackBoosY commented on #6848
Hi @coderc264, thanks for reporting this issue!
This issue should be fixed in some PRs. Please update vcpkg and rebuild osg.

Thanks.

[2020-06-03 02:54] #6848 closed

[2020-06-03 03:02] JackBoosY commented on #11727
@Neumann-A Could you please take a look?

Thanks.

[2020-06-03 03:02] savagecabbage123 opened #11730 "cmake .. -DCMAKE_TOOLCHAIN_FILE=vcpkg\scripts\buildsystems\vcpkg.cmakeHow do I ..."
When asking a question please also include where you looked for an answer (so we can update the documentation if needed).

[2020-06-03 03:03] #11730 closed

[2020-06-03 03:07] savagecabbage123 opened #11731 "How to I make opencv4 work with visual studio"
after I installed Opencv4 I got this message:

    find_package(OpenCV CONFIG REQUIRED)
    # Note: 10 target(s) were omitted.
    target_link_libraries(main PRIVATE opencv_ml opencv_dnn opencv_core opencv_flann)

I have no idea what this means and looked in some forums but couldn't find a solution I even tried uninstalling and reinstalling and I get the same message.

[2020-06-03 04:26] sanxiyn commented on #4383
In ad7fa55, the relevant code got extracted so that other build systems can use it.

[2020-06-03 05:35] #11665 closed

[2020-06-03 05:36] #11593 closed

[2020-06-03 05:37] #11707 closed

[2020-06-03 05:39] #11558 closed

[2020-06-03 05:40] #11701 closed

[2020-06-03 05:49] #11563 closed

[2020-06-03 06:05] cenit commented on #7585
There is the ninja 1.10 blocking issue well before that. I am not testing osx 10.13/14 anymore, only 10.15, as of now

[2020-06-03 06:21] JackBoosY commented on #4383
Okay, I'm going to close this issue now.

[2020-06-03 07:16] PhoebeHui commented on #5229
This issue hasn’t been updated in a year, if it is still an issue, please reopen.

[2020-06-03 07:16] #5229 closed

[2020-06-03 07:44] jmkerloch commented on #4756
@brad-anderson how do you integrate  your FindwxWidgets.cmake on your CMakeList.txt ?

The file is working for a release  version in  Windows but for debug version the path to the .lib are not correct

For example here is the lib include for net module
`<vcpkg_root>\installed\x64-windows\lib\wxbase31u_net.lib` instead of `<vcpkg_root>\installed\x64-windows\debug\lib\wxbase31ud_net.lib`

Does anyon

[2020-06-03 07:44] PhoebeHui commented on #6571
This issue has been fixed now, I tried with latest source, it built successfully for me.

./vcpkg install apr
Computing installation plan...
The following packages will be built and installed:
    apr[core]:x64-osx
Starting package 1/1: apr:x64-osx
Building package apr[core]:x64-osx...
-- Downloading https://www.apache.org/dist/apr/apr-1.7.0.tar.bz2...
-- Extracting source /Users/vcpkg/vcpkg/downl

[2020-06-03 07:44] #6571 closed

[2020-06-03 07:48] NancyLi1013 commented on #11312
@JoeABrown58

Thanks for your above info.
There seems to be nothing exception on your URL except for the private one.

I'm sorry for this. But the function`vcpkg_from_github()` only supports for public website for now.

So you cannot use it.

[2020-06-03 07:57] PhoebeHui commented on #11658
@rengedv, thanks for your information!

From your log, it seems that glibmm build failed, I get latest source, and reinstall gtkmm, both build successfully for me. I still can't repro this issue.

PS F:\vcpkg\src> ./vcpkg install gtkmm
Your feedback is important to improve Vcpkg! Please take 3 minutes to complete our survey by running: vcpkg contact --survey
Computing installation plan...
The foll

[2020-06-03 08:26] Neumann-A commented on #11727
@JackBoosY: related: https://github.com/microsoft/vcpkg/pull/11596/commits/6b10332537da3a56458227d2dae7a82f8b240db3
I thought about adding all those libs to the message but the message becomes very long. I thought about just adding a hint to https://doc.qt.io/qt-5/linux-requirements.html
About the Font issue: Maybe some other qt plugins are missing? I would first retry to switch to 5.14 or try the

[2020-06-03 08:33] invy commented on #11717
@JackBoosY yes, this is of course risk factor, but what is the viable cross platform alternative for cmake anyway? vcpkg is trying to target cross platform development and is pretty good at it, except some corner cases. There are bunch of other packages which also use msys, but what makes icu painful, is, that it's in the boost dependencies, so if icu build breaks, it breakes pretty much 'everythi

[2020-06-03 08:44] PhoebeHui commented on #6352
This issue hasn’t been updated in a year, if it is still an issue, please reopen.

[2020-06-03 08:44] #6352 closed

[2020-06-03 08:46] PhoebeHui commented on #5826
This issue hasn’t been updated in a year; if it is still an issue, please reopen.

[2020-06-03 08:46] #5826 closed

[2020-06-03 08:47] PhoebeHui commented on #5406
This issue hasn’t been updated in a year; if it is still an issue, please reopen.

[2020-06-03 08:47] #5406 closed

[2020-06-03 08:49] iaanus opened #11740 "[fmt] build failure"
**Host Environment**
- OS: Windows
- Compiler: Visual Studio 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install fmt:x64-windows`

**Failure logs**
Starting package 1/1: fmt:x64-windows
Building package fmt[core]:x64-windows...
-- Downloading https://github.com/fmtlib/fmt/archive/9bdd1596cef1b57b9556f8bef32dc4a32322ef3e.tar.gz...
-- Extracting source D:/Alberto/Documenti/C++/v

[2020-06-03 08:52] PhoebeHui commented on #5378
This issue hasn’t been updated in a year; if it is still an issue, please reopen.

[2020-06-03 08:52] #5378 closed

[2020-06-03 08:55] MikeGitb commented on #4004
@JackBoosY : So your really want me to add new tripplets to vcpkg? If so, which ones would make sense? `<base-triplet-name>-cpp14,-cpp17,-cpp20` for all existing triplets?

[2020-06-03 08:56] PhoebeHui commented on #5230
See https://devblogs.microsoft.com/cppblog/vcpkg-introducing-export-command/.

[2020-06-03 08:56] #5230 closed

[2020-06-03 08:57] iaanus commented on #11740
Problem might occur because vcpkg is installed in a pathname that contains "C++".

[2020-06-03 08:58] PhoebeHui commented on #5215
This issue hasn’t been updated in a year; if it is still an issue, please reopen.

[2020-06-03 08:58] #5215 closed

[2020-06-03 08:58] #5119 closed

[2020-06-03 09:00] PhoebeHui commented on #5299
This issue hasn’t been updated in a year; if it is still an issue, please reopen.

[2020-06-03 09:00] #5299 closed

[2020-06-03 09:01] PhoebeHui commented on #5539
This issue hasn’t been updated in a year; if it is still an issue, please reopen.

[2020-06-03 09:01] #5539 closed

[2020-06-03 09:02] PhoebeHui commented on #5905
This issue hasn’t been updated in a year; if it is still an issue, please reopen.

[2020-06-03 09:02] #5905 closed

[2020-06-03 09:06] PhoebeHui commented on #11618
@mbhoshen, do you install windows sdk? I can't repro this issue, it built successfully for me.

[2020-06-03 09:12] PhoebeHui commented on #11514
@kahotv, sorry for my late reply.

Could you install English language pack and try to build again?

[2020-06-03 09:13] Cheney-W commented on #10775
We haven't been able to repro this; if more information comes up, or this issue appears again, please reopen

[2020-06-03 09:13] #10775 closed

[2020-06-03 09:13] Cheney-W commented on #10729
We haven't been able to repro this; if more information comes up, or this issue appears again, please reopen

[2020-06-03 09:13] #10729 closed

[2020-06-03 09:14] #11330 closed

[2020-06-03 09:16] dswcmp opened #11741 "compiling package “opencv4:x64”-windows with VCPKGB"
When I first started learning machine learning, I had problems building the environment
OS：windows10.0.18363.836
Newly downloaded VCPKG

I cloned and compiled vcpkg. then ran the command.\vcpkg.exe install Darknet [Full]: X64-Windows started everything ok with a lot of things installed.And then you run into problems.
error log:
-- Using cached E:/vcpkg_darknet/vcpkg/downloads/opencv-opencv-4.1.1.t

[2020-06-03 09:20] dswcmp commented on #11741
I'm running the command.\vcpkg.exe from powerShell

[2020-06-03 09:35] PhoebeHui commented on #10569
The '2020.02.04-nohash' is release version for vcpkg tools, not release frequently if there is no significant changes.

[2020-06-03 09:35] #10569 closed

[2020-06-03 09:51] PhoebeHui commented on #3658
This issue hasn’t been updated in a year, if it is still an issue, please reopen.

[2020-06-03 09:51] #3658 closed

[2020-06-03 09:53] PhoebeHui commented on #7742
This issue should be fixed now, harfbuzz has upgraded to 2.6.6.

[2020-06-03 09:53] #7742 closed

[2020-06-03 09:56] PhoebeHui commented on #9653
If it is still an issue, please reopen and provide us more information.

[2020-06-03 09:56] #9653 closed

[2020-06-03 09:58] PhoebeHui commented on #7100
If it is still an issue, please reopen

[2020-06-03 09:58] #7100 closed

[2020-06-03 10:00] invy commented on #11717
also consider this repo:
https://github.com/viaduck/icu-cmake

[2020-06-03 10:03] sanxiyn commented on #4383
What? Why?

The code got extracted so that build systems like MSBuild can use it, but as far as I can tell, MSBuild is not using it yet...

[2020-06-03 10:05] PhoebeHui commented on #3201
Currently CMake has upgrade to 3.17, and I still can't repro this issue, if it is still an issue, please reopen.

PS F:\vcpkg\src> ./vcpkg install nlopt:x64-windows
Your feedback is important to improve Vcpkg! Please take 3 minutes to complete our survey by running: vcpkg contact --survey
Computing installation plan...
The following packages will be built and installed:
    nlopt[core]:x64-windows

[2020-06-03 10:05] #3201 closed

[2020-06-03 10:10] Mike-Devel commented on #5052
Would be ideal, if it could also be addressed ;)

[2020-06-03 10:10] PhoebeHui commented on #7661
If it is still an issue, please reopen.

[2020-06-03 10:10] #7661 closed

[2020-06-03 10:13] PhoebeHui commented on #10206
We haven't been able to repro this, if more information comes up, or this issue appears again, please reopen.

[2020-06-03 10:13] #10206 closed

[2020-06-03 10:22] PhoebeHui commented on #11661
Duplicated to https://github.com/microsoft/vcpkg/issues/11627.

[2020-06-03 10:22] #11661 closed

[2020-06-03 10:29] PhoebeHui commented on #9549
The license file is needed, as a workaound you can download that file, rename to boost_LICENSE_1_0.txt, and copy to vcpkg\download folder in setting up steps.

Duplicated to https://github.com/microsoft/vcpkg/issues/11627.

[2020-06-03 10:29] #9549 closed

[2020-06-03 10:46] MikeGitb commented on #3453
Yes, this is still a problem. Please re-open and address or mark as "Won't Fix".

[2020-06-03 10:49] GiovanniDicanio commented on #11664
Hi @NancyLi1013  and @JackBoosY : I noted that 4 days have passed and there is no progress with this issue, while previously you used to process these update requests faster. I also noted that you haven't tagged it with `category:port-update`. Thanks.

[2020-06-03 10:52] Lvdi opened #11743 "[nanogui] update to 2020-04-05"
Library name: NanoGUI

New version number: 2020-04-05

Other information that may be useful (release notes, etc...)

NanoGUI's repository has been moved [here](https://github.com/mitsuba-renderer/nanogui), and the [old one](https://github.com/wjakob/nanogui) is not going to be updated any more.

[2020-06-03 12:09] ArielxX opened #11744 "[New Port Request] h5cpp"
Library name: h5cpp

Library description: library to interact with h5 files

Source repository URL: https://github.com/steven-varga/h5cpp

Project homepage (if different from the source repository): http://h5cpp.org/

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2020-06-03 12:11] ArielxX opened #11745 "[hdf5] update to 1.12"
Library name: hdf5

New version number: 1.12

Other information that may be useful (release notes, etc...)

[2020-06-03 14:11] rengedv commented on #11658
Hello Phoebe,

yesterday i have tried the new Visual Studio 16.6.1 Release, maybe some changes in the C++ solution, so i tried.. No.

I have started also witn an complety new vcpkg., after the update. 27 Packages must be installed.. if there is nothing .. a small error with msys2, but after a once more this problem ist solved. GTK works.. GTKMM, no way.

Here for GLIBMM result, as i mentioned. mor

[2020-06-03 14:14] linquize commented on #10569
There is 2020.04 tag

[2020-06-03 14:17] cenit commented on #11741
Maybe you had an internet connection problem.
Just retry, it might work now!

[2020-06-03 14:27] #9845 closed

[2020-06-03 14:30] mathsun opened #11748 "[New Port Request] learngl"
Library name:learngl

Library description:a course about opengl
Source repository URL:https://github.com/JoeyDeVries/LearnOpenGL
Project homepage (if different from the source repository):https://learnopengl.com/Getting-started/OpenGL
Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2020-06-03 14:31] mathsun commented on #11748
this is a very good course for opengl-learners.

[2020-06-03 14:38] ArielxX commented on #11748
Edit title **<library name here>** = `learngl`
 ;)

[2020-06-03 15:00] chena1982 opened #11749 "[New Port Request] OpenImageDenoise"
Library name : OpenImageDenoise

Library description: Intel Open Image Denoise is an open source library of high-performance, high-quality denoising filters for images rendered with ray tracing

Source repository URL: https://github.com/OpenImageDenoise/oidn
Project homepage: https://openimagedenoise.github.io/

Thanks.

[2020-06-03 17:26] hcyang99 opened #11751 "[python3:x64-linux] build failure"
**Host Environment**
- OS: rhel 8.2
- Compiler: gcc version 8.3.1 20191121 (Red Hat 8.3.1-5)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install boost`

**Failure logs**
[code]
[code]

[2020-06-03 17:36] evarcurto opened #11752 "Error: Building package realsense2:x64-linux failed with: BUILD_FAILED"
Host Environment

    OS: Ubuntu 16.04
    Compiler: gcc 5.5.0

I'm trying to install the realsense software following these steps (https://github.com/IntelRealSense/librealsense). When I run **./vcpkg install realsense2** this error appears:

[code]

[2020-06-03 19:14] carnoxen commented on #11525
I met this issue, too. Should I change my system locale to english?

[2020-06-03 19:25] carnoxen commented on #11525
Here's my error log
[code]

[2020-06-03 19:58] Nelarius commented on #11667
Cloned a fresh copy of `vcpkg`, but still got the same error while installing `gl3w`. If everything worked on your end, then I suspect that the cause is my fiddly homebrew-python3 installation, which is causing me all sorts other problems as well 😄 If I can think of something, then I'll share it here!

[2020-06-03 20:24] BillyONeal opened #11756 "[gmp] and [mpir] have irreconcilable conflicts"
mpir is a fork of the gmp project, and wants to provide the same headers. We have lots of ports that depend on one or the other, so it isn't clear which one is 'more important'. In CI for the next vmss update I'm going to skip mpir (because the header name more closely indicates ownership by gmp) but that's going to break testing of several ports.

[code]

[2020-06-03 23:30] photex commented on #11307
I also get this error when trying to build github.com/continental/ecal with vcpkg.

Specifically when it tries to find git.

[2020-06-04 00:13] ahmed-zubair-1998 opened #11760 "How do I update portfile of llvm to consider preinstalled binaries instead of building?"
I am trying to build Halide on windows which requires llvm. Building llvm is taking too much time so I installed prebuilt binaries for llvm. I looked at the docs and they say that you must change portfile to use prebuilt private library. This is my first time using cmake so I am having difficuties understanding the provied example. Some tips would be helpful. Thanks.

[2020-06-04 00:23] alexreinking opened #11761 "How do I help vcpkg package and distribute Halide?"
I'm a developer on the [Halide](https://github.com/halide/Halide) team and one of my responsibilities is maintenance of our CMake build, which I understand vcpkg uses to provide Halide builds to its users. I think vcpkg is great and we now recommend that our users use vcpkg to install our dependencies on Windows.

We have recently merged an overhaul of the CMake build (and now require 3.16+) and I

[2020-06-04 00:26] dswcmp commented on #11741
Thank you for your reply!
I'm sure it's not a connection problem, I mean I'm sure the network is open, but I'm not sure I have access to that server.But the resources that Darknet needs have already downloaded a lot.Found so far is only https://raw.githubusercontent.com/opencv/opencv_3rdparty/34e4206aef44d50e6bbcd0ab06354b52 unable to download, or other problems?This problem has been bothering me

[2020-06-04 00:54] pwm1234 opened #11762 "[openimageio] update to 2.1.16"
Library name: openimageio

New version number: 2.1.16

Other information that may be useful (release notes, etc...)
There is a large list of improvements that have been made in openimageio since the 2.1.9 release in December 2019. I request that the openimageio port be updated to the current 2.1.16 release version.

Please let me know if there is something that I can do to help accelerate incorpor

[2020-06-04 03:10] JackBoosY commented on #11717
@invy Like now, we can choose different ways to build icu according to different platforms. And we better follow the official build plan.

[2020-06-04 03:10] JackBoosY commented on #4383
Ops, sorry.

[2020-06-04 03:22] NancyLi1013 commented on #11761
Hi @alexreinking
Thanks so much for your above info. It's so nice that you can support and help us, which is really what we need.

As for the dependencies, we prefer to use the libraries provided by vcpkg, since it is more easier to maintain. So we might not install the dependencies that embedded your source codes.
Please refer to this [doc ](https://github.com/microsoft/vcpkg/blob/master/docs/mai

[2020-06-04 03:23] alexreinking commented on #11761
Yes, the plan is to get a new release together ASAP. Ideally that release would contain any changes that support your work.

[2020-06-04 03:45] JackBoosY commented on #11760
Related #11204.

[2020-06-04 05:28] Neumann-A commented on #11756
As I already said in another PR
https://github.com/microsoft/vcpkg/blob/4fb225608532e9fb2fd2f5f1dbe9ec092cdc7c93/ports/mpir/portfile.cmake#L35
Try to remove --enable-gmpcompat

[2020-06-04 05:40] BillyONeal commented on #11756
I saw the conflict on Windows which doesn't use that command line at all.

[2020-06-04 05:49] PhoebeHui commented on #11658
@rengedv, from your log:

1. VCPKG start to support from Visual Studio 2015 Update 3, so VS2013 doesn't support.
2. Please install the English language pack.
3. Could you also get latest vcpkg source and try again, I noticed that you still use CMake-3.14, we upgarded to 3.17

[2020-06-04 05:54] PhoebeHui commented on #10608
@ilvaz, I can't repro this issue, boost currently has been upgraded to 1_73, does this still be a problem for you?

[2020-06-04 05:57] NancyLi1013 commented on #11761
Thanks for your quick reply.
It's perfect that there is no any dependencies bundled  in your repository.
Let's wait for the new release. Once released, we will try to update it ASAP.

 Really appreciate for your help. Welcome you join in vcpkg. 😄

[2020-06-04 06:00] dswcmp commented on #11741
I have modified the host files added 199.232.68.133 raw.githubusercontent.com to solve the problem

[2020-06-04 06:00] #11741 closed

[2020-06-04 06:04] dswcmp commented on #11741
And then...I should close this lssues, right?

[2020-06-04 06:04] PhoebeHui commented on #10343
@olafurw, sorry for my late reply.

I tried with latest vcpkg source, I can't repro this issue. from you log, it seems you still use cmake-3.10, currentlly, we have upgraded to 3.17, could you get latest source and try again?

 ./vcpkg install stlab
Computing installation plan...
The following packages will be built and installed:
    stlab[core]:x64-linux
Starting package 1/1: stlab:x64-linux
Bui

[2020-06-04 06:08] NancyLi1013 commented on #11525
@carnoxen

You don't need to change your system to English, just make sure you have installed English package in Visual Studio.

Please help check if you installed python on your machine manually. If so, please try to remove it and use `python `provided by vcpkg.

[2020-06-04 06:09] JackBoosY commented on #11741
@dswcmp Yes.

[2020-06-04 06:28] PhoebeHui commented on #11614
@omaralvarez, thanks for reporting this issue!

Could you please make a PR for this?

[2020-06-04 06:52] invy commented on #11717
@JackBoosY hm yes, I agree. There should be better sustainable solution regarding msys.
We could close the issue.

[2020-06-04 07:22] JRoca1 commented on #11724
Hello.

Updating Visual Studio works for me.

Best regards.

[2020-06-04 07:22] #11724 closed

[2020-06-04 07:30] lone-wolf-akela opened #11765 "[x264:x86-windows] build failure"
**Host Environment**
- OS: Windows 10 2004
- Compiler: vs2019 16.6.1

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install x264`

**Failure logs**
[code]
[config-x86-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/4728274/config-x86-windows-dbg-out.log)

[2020-06-04 07:34] PhoebeHui commented on #11262
@Nelarius, thanks for reporting this issue!

I think the changes should be updated in Upstream, eabase install its headers to ./include/Common, so the port(eg: eastl) which depends on eabase would find the headers under ./include/Common, if we changes the path, all these ports affect.

[2020-06-04 07:34] #11717 closed

[2020-06-04 07:37] lone-wolf-akela commented on #11765
By the way, I notice the error message says it is trying to use D:/source/test/vcpkg/downloads/tools/msys2/msys64/usr/share/automake-1.16
but this folder does not exist.
I've tried manually install automake in mysy2. After installing automake, it gives me another error:

-- Configuring x86-windows-dbg
-- Configuring x86-windows-rel
-- Building x86-windows-dbg
CMake Error at scripts/cmake/vcpkg_exe

[2020-06-04 08:37] przole commented on #11566
In the meantime, a new version has appeared:

https://github.com/protocolbuffers/protobuf/releases/tag/v3.12.3

[2020-06-04 08:47] JackBoosY commented on #11765
Confirmed.

[2020-06-04 08:55] LilyWangL commented on #11731
You can use `find_package(OpenCV CONFIG REQUIRED)` in CMakeProject by the following steps:

1. Installing opencv4 successfully and running command `.\vcpkg.exe integrate install` on VCPKG.
2. Open Visual Studio and create an new CMakeProject.
3. Setting `cmakeToolchain` of your CMakeProject is _[VCPKG_PATH]/scripts/buildsystems/vcpkg.cmake_.
4. Using the following command in your CMakeProject to f

[2020-06-04 09:00] NancyLi1013 commented on #11751
Hi @hcyang99
Thanks for posting this issue.
Could you please remove `libffi `and rebuild `python3`?
I cannot reproduce this on my local with gcc 9.2.1 Ubuntu 18.6.

[2020-06-04 09:08] NancyLi1013 commented on #11740
Hi @iaanus
Thanks for posting this issue.
It seems to be related with the path that contain "++".

Could you please try to build this in another directory? I can build successfully on my local.

[2020-06-04 09:10] NancyLi1013 commented on #11677
Related issue #10931

[2020-06-04 09:12] olafurw commented on #10343
It was never was about problems doing the install. It was about stlab having a dependency on boost and never pulling in that dependency.

You'll see the issue when you try to build an application using stlab on a system with no boost installed.

[2020-06-04 09:22] NancyLi1013 commented on #11740
@Neumann-A
Could you please help take a look? It is related with `vcpkg_fixup_pkgconfig.cmake`.

Is it possible to handle the path like this?

[2020-06-04 09:25] LilyWangL commented on #11696
Thanks for posting this issue. Closed as duplicate of #11614.

[2020-06-04 09:25] #11696 closed

[2020-06-04 09:32] Neumann-A commented on #11740
I think it is related to any REGEX operation within VCPKG on paths and there a probly more than the one in vcpkg_fixup_pkgconfig. The solution to that would be to escape the regex characters before use in a regex expression. Maybe we should define extra escaped path variables for that and replace them everywhere within vcpkg.

[2020-06-04 09:33] yes89929 opened #11768 "How to install pcl older commit"
I`m trying to install pcl.

1. current commit of pcl has a issue about compatability with vtk 9.0.0. #11601
So I changed port of vtk, boost, and pcl from latest to before current issue by using "git checkout"

vtk:
[code]

boost:

[code]

pcl:
[code]

2. `vcpkg install pcl` still try to install boost 1.7.3

3. `vcpkg install boost`
[code]

Are there any solutions?

[2020-06-04 09:43] JackBoosY commented on #4004
At present, we can add `set(VCPKG_CXX_FLAGS ${VCPKG_CXX_FLAGS} -std=c++17)` in _triplets/TRIPLET.cmake_ or set it as a port feature.

[2020-06-04 09:50] daef opened #11769 "Cannot use vcpkg from vscode-cmake-tools"
After installing a port and setting CMAKE_TOOLCHAIN_FILE to ...\vcpkg\scripts\buildsystems\vcpkg.cmake vscode-cmake-tools is still not able to resolve correctly.

This seems related: https://github.com/microsoft/vscode-cmake-tools/issues/443

**Environment**
- OS: Windows 10
- Compiler: Clang 10

**Expected behavior**
cmake finds the port and links against it

**Failure logs**

     [cmake] CMake

[2020-06-04 09:58] LilyWangL commented on #11712
Thanks for posting this issue. I can't reproduce this issue on Visual Studio 2015 and Visual Studio 2017.

[2020-06-04 10:05] NancyLi1013 commented on #11603
Since windows has the limit to the path length.
Please refer to this [doc](https://docs.microsoft.com/en-us/windows/win32/fileio/naming-a-file#maximum-path-length-limitation) to learn more about this.

[2020-06-04 10:08] NancyLi1013 commented on #11657
Hi @jrbarne1
Thanks for posting this issue.

I cannot reproduce this on my machine with Visual Studio 2017 and 2019.

[2020-06-04 10:19] PhoebeHui commented on #9994
Please reopen if it still be a probem for you.

[2020-06-04 10:19] #9994 closed

[2020-06-04 10:22] PhoebeHui commented on #4724
This issue hasn’t been updated in a year; if it is still an issue, please reopen

[2020-06-04 10:22] #4724 closed

[2020-06-04 10:24] PhoebeHui commented on #3659
This issue hasn’t been updated in a year, if it is still an issue, please reopen.

[2020-06-04 10:24] #3659 closed

[2020-06-04 10:27] PhoebeHui commented on #7593
We haven't been able to repro this, if more information comes up, or this issue appears again, please reopen.

[2020-06-04 10:27] #7593 closed

[2020-06-04 10:29] PhoebeHui commented on #9715
Please reopen this issue if it still be problem for you.

[2020-06-04 10:29] #9715 closed

[2020-06-04 10:37] invy commented on #10950
Looks like a regression, it was definitely working in February.

[2020-06-04 11:10] yamcenutzer opened #11773 "cannot bootstrap with vc2015 toolchain"
**Describe the bug**
bootstrap-vcpkg.bat fails when using vc2015 toolchain

**Environment**
- OS: Windows
- Compiler: vc2015

**To Reproduce**
Steps to reproduce the behavior:
1. ./bootstrap-vcpkg.bat
2. See excerpt from building below

**Expected behavior**
vcpk.exe is built, per default with Metrics disabled (not the other way around)
...
...
..\src\vcpkg\metrics.cpp(44): error C2127: 'write_byt

[2020-06-04 11:22] invy commented on #10950
@PhoebeHui
bisecting it looks like this changeset causes regression:

8782b0b8b9c10666d7e5b41ca5e4a6e58635cf12

[2020-06-04 11:48] jrbarne1 commented on #11657
I'll try upgrading my Visual Studio version to 17 or 19.  Thanks

[2020-06-04 12:01] MikeGitb commented on #4004
Sure, but that wasn't the question.

Also, it seems to me, that a cleaner (albeit more complicated) solution would be to add a separate VCPKG_CXX_STANDARD option that is propagated to `CMAKE_CXX_STANDARD` in `vcpkg_configure_cmake` (not sure how to handle it in ports that are not using cmake though).

[2020-06-04 12:41] ASxa86 commented on #7617
It appears this is still an issue. Will there be any support for an offline version of vcpkg? I'm trying to update an air-gap network with the latest vcpkg but it doesn't seem like there is any support for building packages from cached libraries and tools. I'm still having to manually go in and modify vcpkg to skip downloading.

[2020-06-04 12:55] hcyang99 commented on #11751
Deleted the whole vcpkg folder, re-cloned and re-built everything and the problem was still there.

[2020-06-04 12:56] hcyang99 commented on #11751
@NancyLi1013 Deleted the whole vcpkg folder, re-cloned and re-built everything and the problem was still there.

[2020-06-04 13:18] hcyang99 commented on #11751
I think the problem should be in the x86 assembly file "unix64.S" calling abort(). Not sure how to deal with this.

[2020-06-04 13:33] hcyang99 commented on #11751
Here is part of the build log of libffi. Maybe there should have been a "-fPIC" flag running this command?

[5/11] /usr/bin/cc -DFFI_BUILDING -Iinclude -I. -I/home/hcyang/Documents/vcpkg/buildtrees/libffi/src/v3.3-2d8a36299e/include -O3 -DNDEBUG -MD -MT CMakeFiles/libffi.dir/src/x86/unix64.S.o -MF CMakeFiles/libffi.dir/src/x86/unix64.S.o.d -o CMakeFiles/libffi.dir/src/x86/unix64.S.o -c /home/hcyan

[2020-06-04 14:47] MoetaYuko opened #11775 "[qt5] build failure"
**Host Environment**
- OS: Windows 10 2004
- Compiler: VS2019+MSVC

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install qt5`

**Failure logs**

[code]

**Additional context**

Can be related to https://github.com/microsoft/vcpkg/pull/10767 but my cmake is already the latest 3.17.2.

`python-3.7.3-embed-amd64.zip` probably failed to extract, there's only one `python.exe` in `vcpkg\do

[2020-06-04 16:38] jsutes commented on #11751
I'm running into this same issue on CentOS 8 when I tried to install boost.

[2020-06-04 16:57] jvelilla opened #11777 "Can't bootstrap on Linux 19.10 64 bits."
**Describe the bug**
Can´t bootstrap on Linux

**Environment**
- OS: Linux Ubuntu 19.10 64bits
- Compiler: g++-9

**To Reproduce**
Steps to reproduce the behavior:
1.  Clone the latest repository git clone https://github.com/microsoft/vcpkg
2. cd vckpg
3. ./bootstrap-vcpkg.sh
Build failed.

**Expected behavior**
Bootstratp vckpg

**Failure logs**
[code]

[2020-06-04 17:49] rengedv commented on #11658
Hello Phoebe,

first of, thank you for your comment. Before i noticed you about this Issue i have tested this on 2 PC and now, also one Laptop. Short, on the Laptop i have since last year installed VS 2019 Preview, yesterday I have updated VCPKG (and of course, i have tested with cmake 3.17 last weekend, before wrote down the issue. )

now, Laptop, VS 2019 Preview 16.7.2.0 ... last vcpkg, with cma

[2020-06-04 19:31] iaanus commented on #11740
@NancyLi1013 yes, moving to a different directory, I am able to build successfully.

[2020-06-04 20:11] am2222 opened #11780 "[boost-regex[icu]] x64-linux build failure"
**Host Environment**
- OS: LInux
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`/vcpkg install boost-regex[icu]`

**Failure logs**

Computing installation plan...
The following packages will be built and installed:
[code]
[code]

**Additional context**
I have installed `icu` using following commend. I can also install it with no problem on windows.
[code]

[2020-06-04 20:12] am2222 commented on #7526
possible reason for breaking on linux
https://github.com/microsoft/vcpkg/issues/11780

[2020-06-04 21:55] rowlmars opened #11781 "Building package openssl-windows:x64-windows failed with: BUILD_FAILED while installing boost-python:x64-windows"
Hi!  Please see below and attached for info.  Thank you.

**Describe the bug**
A clear and concise description of what the bug is.

**Environment**
- OS: OS Name	Microsoft Windows 10 Enterprise
Version	10.0.17763 Build 17763

- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
1. .vcpkg.exe install boost-python:x64-windows
2. See error
Repro code when

**Expected behavior**
I e

[2020-06-04 22:23] rleigh-codelibre opened #11782 "[icu] Essential tools not provided"
****

ICU is not just libraries.  It is also a number of executables which projects may depend upon, e.g. genrb, pkgdata etc.  Currently, the vcpkg port does not install these e.g. under *tools/icu*, but they are present in the build tree.

From `vcpkg\buildtrees\icu\x64-windows-rel\bin`:

[code]

Other ports, e.g. xerces-c require some of these in order to build with ICU support enabled.

**Propo

[2020-06-04 22:42] purpleguy31 opened #11783 "[openssl:x86] build failure"
**Host Environment**
- OS: Windows 10 Home version 1909
- vcpkg version: 2020.02.04-nohash

**To Reproduce**
`vcpkg install openssl:x86-windows`

**Failure logs**
[code]
**Additional Context**
I encountered this issue when trying to install any package that involved extracting from a .zip file. (for instance installing libepoxy will do the same )
All of the error log files were empty

[2020-06-04 23:55] here-mikelley commented on #9084
I think we should have the ability to override `/Z7`.  Unfortunately there's no `strip` function in Windows, so you're stuck with debug information in static libraries.

[2020-06-04 23:57] here-mikelley commented on #9084
Whoops, looks like I accidentally unassigned @grdowns from this issue. @NancyLi1013  or @grdowns - can you fix my mistake?

[2020-06-05 01:42] dianlujitao commented on #11775
Same thing happened to another dependency after the workaround:

[code]

[2020-06-05 02:17] savagecabbage123 commented on #11731
where in the vcpkg.cmake file do I put the command:
 find_package(OpenCV CONFIG REQUIRED)
target_link_libraries(main PRIVATE opencv_ml opencv_dnn opencv_core opencv_flann)?
also once I put it in there how do I import opencv into a c++ project using #inclue?

[2020-06-05 02:18] JackBoosY commented on #11775
Hi @dianlujitao, thanks for reporting this issue!
It seems like your network has problem, could you use VPN or SS, or set a proxy?

Thanks.

[2020-06-05 02:25] dianlujitao commented on #11775
Essentially I'm using a proxy and the downloaded packages are not corrupted, I'm able to manually extract them.

This is probably the root cause:

[code]

https://github.com/Microsoft/vcpkg/issues/5951 was closed while its corresponding [upstream bug](https://gitlab.kitware.com/cmake/cmake/-/issues/19132) stayed opened.

[2020-06-05 02:29] JackBoosY commented on #11775
This issue should be fixed by update cmake to 3.17.0, can you check if your vcpkg is up to date?

[2020-06-05 02:33] dianlujitao commented on #11775
My vcpkg HEAD is https://github.com/microsoft/vcpkg/commit/3eeeb1b0d346570813f2257238bf3ad4fe5f752d.

[code]

[2020-06-05 02:46] JackBoosY commented on #11775
That's a bad news, I thought it was fixed.
Okay, please use https://github.com/microsoft/vcpkg/issues/10552#issuecomment-604384846 workaround.

[2020-06-05 03:00] PhoebeHui commented on #10343
@olafurw, thanks for the information!

The failures looks due to the 'find_dependency(Boost 1.60.0)' in config file, however, the ports doesn't reply on boost when built the core lib, I will take a deep investiagtion and summit a PR to fix this issue.

[2020-06-05 03:05] dianlujitao commented on #11775
The workaround doesn't work, the checkbox is not ticked by default. I'm considering converting exfat to ntfs:\

[2020-06-05 03:28] NancyLi1013 commented on #3042
@NN---

Sorry, there is no better solution for this. It is still a bug that needs to be fixed.

[2020-06-05 03:55] sweemer opened #11784 "vcpkg create fails with "CMake Error at scripts/ports.cmake:14""
**Describe the bug**
After running `git pull` to revision `6ac6267f512dcec29171f4cbe62a040a974fde04`, `vcpkg create` fails with "CMake Error at scripts/ports.cmake:14". Issue observed on both Linux and Windows.

**Environment**
- OS: Ubuntu 18.04 LTS and Windows 10
- Compiler: g++ 8.4.0 and Visual Studio Pro 2019

**To Reproduce**
Steps to reproduce the behavior:
1. `$ git clone https://github.com

[2020-06-05 06:10] NancyLi1013 commented on #11777
Hi @jvelilla
Thanks for posting this issue.

Seems like something with gcc.
Could you please help confirm if you have installed glibc-2.31 on your machine?
You may refer to [this](https://gcc.gnu.org/bugzilla/show_bug.cgi?id=94089) to learn more about this.

[2020-06-05 06:27] am2222 commented on #11780
Also from vcpkg `ci`

[code]

[2020-06-05 06:31] JackBoosY commented on #11784
Confirmed.
@dan-shaw Could you please take a look?

[2020-06-05 06:36] dswcmp opened #11786 "vcpkg install darknet[full]:X64 find error"
**Host Environment**
- OS: Microsoft Windows [ 10.0.18363.836]
- Visual Studio 2019  16.6.1

**To Reproduce**
Steps to reproduce the behavior:
PS E:\vcpkg_darknet\vcpkg> .\vcpkg.exe install darknet[full]:x64-windows
Computing installation plan...
The following packages will be built and installed:
    darknet[core,cuda,cudnn,full,opencv-cuda,weights,weights-train]:x64-windows
Starting package 1/1:

[2020-06-05 06:37] NancyLi1013 commented on #11769
Hi @daef
Thanks for posting this issue.
Since currently vscode isn't supported by vcpkg. Please follow the progress of this issue #10217.

[2020-06-05 06:37] #11769 closed

[2020-06-05 06:40] NancyLi1013 commented on #11761
@alexreinking
Please let me know if you have any other concern about this.

[2020-06-05 06:43] NancyLi1013 commented on #11740
@Neumann-A
Thanks for your above suggestion. We might need to fix this in the future.

@iaanus
Thanks for your update. I'm closing this issue for now.

[2020-06-05 06:43] #11740 closed

[2020-06-05 06:48] PhoebeHui commented on #10343
@olafurw, I summited a PR https://github.com/microsoft/vcpkg/pull/11787 to fix this issue, could you  help test if that works for you?

[2020-06-05 07:15] JackBoosY commented on #11756
How about just remove these conflict files?

[2020-06-05 07:54] JackBoosY commented on #11756
No, I think they just conflict with each other.
From official documentation:
[code]

[2020-06-05 08:14] KindDragon commented on #9084
Without it, we won't have debugging information.

[2020-06-05 08:21] yogendra123456 opened #11790 "idevicerestore issues with libmobiledevice code"
hi @nikias and @taanders and all,
kindly give me some instruction about libmobiledevice for windows i found some error which is given below, what happen on window iphone is not placed in restore mode. while iTunes update the firmware at this stage and also 3uTools what happen with libmobiledevice code, it happen with usbmuxd or others class which is not connect device to properly to window system.

[2020-06-05 08:51] BillyONeal commented on #11784
oops, I probably broke this :/ Will take a look tomorrow when it isn't 2AM :)

[2020-06-05 08:56] BillyONeal commented on #11756
Right, they are alternatives like openssl and boringssl.

[2020-06-05 08:57] BillyONeal commented on #11773
This suggests that we need to add bootstrap with 2015 to our PR/CI system

[2020-06-05 09:01] BillyONeal commented on #11784
(The fix will be to audit all the places vcpkg.exe calls cmake bits and ensure it's passing in all the right paths)

[2020-06-05 09:17] traversaro commented on #8010
Related PRs:
* https://github.com/microsoft/vcpkg/pull/11203
* https://github.com/microsoft/vcpkg/pull/11757

[2020-06-05 09:59] nmellado commented on #11352
How do we do when we cannot use VS 16.6 (e.g. when compiling using github actions) ?

[2020-06-05 10:58] atharkes opened #11792 "[tbb:x64-windows] build failure"
**Host Environment**
- OS: x64-windows
- Vcpkg version: 2020.02.04-nohash

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install tbb`

**Failure logs**
[code]
[build-x64-windows-rel-out.log](https://github.com/microsoft/vcpkg/files/4735632/build-x64-windows-rel-out.log)
\* is substituted for my vcpkg location

**Additional context**
The problem seems to with LINK not able to open/find

[2020-06-05 13:13] julianxhokaxhiu commented on #11765
After some investigations I've found that the `CC` env var is now valued as `compile cl.exe -no-logo` and no more as `cl` or `cl.exe`.

This bring a wrong environment detection, and it thinks it is GNU while it should be MS. Even fixing the configure file by hand leads to some LINK 1189 issues which I can't yet figure out why they are showing up.

I'll update this issue as soon as I figure out wha

[2020-06-05 13:41] jvelilla commented on #11777
@NancyLi1013
Hi, I confirm I´ve glibc-2.31 on my machine.
I will check the link to learn more about this.

[2020-06-05 14:32] falvarezoliva commented on #9011
you can make "vcpkg remove [package-name]" and solves the problem

[2020-06-05 15:43] weirdworkshop opened #11797 "[<GTK>] update to <3.24.20>"
Library name: GTK

New version number: 3.24.20

Other information that may be useful (release notes, etc...) current version is 3.22.19 when building a simple hello world program  using Win 32 CSS theme this gives a error
"Gtk-WARNING **: 15:51:28.177: Theme parsing error: gtk-win32-base.css:1043:59: Junk at end of value for background-image"

This has been fixed in 3.24.20 https://gitlab.gnome.or

[2020-06-05 16:12] Electric-Turtle opened #11798 "[New Port Request] vJoy"
Library name: vJoy

Library description: A Windows library for creating a "fake" joystick that the Windows kernel thinks is a real device, but is actually being fed software-generated values that users can set through a software API (called the vJoy Interface API).

Source repository URL: https://github.com/njz3/vJoy.git

Project homepage (if different from the source repository): http://vjoystick

[2020-06-05 16:27] khaoula-elh opened #11799 "Failed to download libxml2 in vcpkg to install Point Cloud Library"
**Describe the bug**
I'm trying to install point cloud library with vcpkg but I have a problem in downloading libxml2 and I don't know how to use a PROXY. Can you help me to resolve these problem ? I need it too match in my project of graduating.

**Environment**
- OS: [Windows]

Steps to reproduce the behavior:
1. ./vcpkg install pcl
2. See error
-- Downloading https://github.com/GNOME/libxml2/ar

[2020-06-05 16:29] khaoula-elh commented on #11799
@JackBoosY

[2020-06-05 18:58] ras0219-msft opened #11801 "Vcpkg spawns an undesired command window on each run while telemetry is enabled"
From: https://twitter.com/_photex_/status/1265921468883513345

Disabling telemetry appears to fix the issue.

**Environment**
- OS: Windows (unknown version)
- Windows terminal preview with cmd.exe

**To Reproduce**
Unable to repro

**Expected behavior**
Vcpkg should not spawn additional command windows during execution

**Additional scenarios to test:**
Does it happen when using powershell? Does

[2020-06-05 19:00] #11664 closed

[2020-06-05 19:10] #11662 closed

[2020-06-05 19:21] #9512 closed

[2020-06-05 19:25] Zanardan opened #11802 "[<Error: Building package opencv:x64-windows failed with: BUILD_FAILED >] build failure"
[config-x64-windows-out.log](https://github.com/microsoft/vcpkg/files/4738048/config-x64-windows-out.log)
**Host Environment**
- OS: [Windows 10]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install xxxx`

**Failure logs**
-Cut and past the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console out

[2020-06-05 19:36] ZeeWanderer opened #11803 "[Feature Request, Question] Open in existing Windows Terminal instance"
If Windows Terminal is selected as a shell opening repo with it from GUI results in a new Terminal window. This might be desirable in some cases but multiple shells/tabs in a single window is the Windows Terminal thing.
Would it be possible to add an option to open repo in the last active Terminal instance?

[2020-06-05 19:37] #11803 closed

[2020-06-05 19:38] ZeeWanderer commented on #11803
Wrong repo. IDK how that happened.

[2020-06-05 20:35] seanyen opened #11804 "Surfacing Nuget.exe failure for better self-troubleshooting"
**Describe the bug**
In `vcpkg` install step, it will bootstrap a set of tools (for example, `nuget`, `7zip`, and `cmake`) And when there is something wrong, the error message is not obvious for users to understand what to do next. (In such case, `Nuget.exe` is hitting some problems.)

**Environment**
- OS: Windows 10
- Compiler: Visual Studio 2019

**To Reproduce**
Steps to reproduce the behavior

[2020-06-05 20:59] olafurw opened #11805 "Surprising behavior when upgrading with an outdated executable"
**Describe the bug**
I was calling `vcpkg.exe upgrade --no-dry-run` because fmt needed updating.

![image](https://user-images.githubusercontent.com/103783/83921696-35971380-a77f-11ea-9ed4-a69c8d16f70d.png)

It tells me to re-build using bootstrap. Which I do.

![image](https://user-images.githubusercontent.com/103783/83921815-7db63600-a77f-11ea-8b17-da21b70368f1.png)

Then I run `vcpkg.exe upgrad

[2020-06-05 21:02] olafurw commented on #11805
As I post this, I go to remove and re-install fmt. And I see this.

![image](https://user-images.githubusercontent.com/103783/83922266-4e53f900-a780-11ea-9008-eefb556c0c8f.png)

This is an even bigger surprise to me. So on a failure, the package is just considered not installed? Where was this stated. I see nothing about this in the logs.

Also, regarding running `--dry-run` above, I did run it wi

[2020-06-05 21:10] olafurw commented on #10343
Hey,

I fully removed boost and stlab.

Then installed only stlab

[code]

And when I try to build my project. I get errors about boost not being found.

[code]

and

[code]

[2020-06-05 21:13] olafurw commented on #10343
I don't seem to have Version Version: 1.5.2-1 of the stlab ports? Why. Is doing a git pull not enough?

[2020-06-05 21:26] yamcenutzer commented on #11773
yes, actually most if not all libraries managed by vcpkg go to a great deal of trouble in trying to support olde c++ standards (at least c++11), which the whole üpoint of real world, industrial SW. You simply can't always play around only with new toys, you have to earn money and support decent lifetimes.

What I'm trying to say: if the library manager as an actually non-critical tool prevents you

[2020-06-05 21:40] timautry commented on #11802
@Zanardan thank you for posting this issue.
Please upload/attach the **`C:\vcpkg-master\buildtrees\opencv4\install-x64-windows-dbg-out.log`** file to this issue to assist in diagnosing the problem.
Thank you,

[2020-06-05 21:48] sphoto commented on #11773
Same problem (Windows 10, VC2015)

[2020-06-05 21:58] timautry commented on #11792
@atharkes Thank you for posting this issue.
- Yes I can see where the process is trying to link the SDL2.lib SDL2main.lib SDL2_ttf.lib files???
- I have no idea why/how the tbb.proj (Intel thread building blocks) would need these files???
- I checked my installation, the vcpkg portfiles and https://www.github.com/oneapi-src/oneTBB source and find no reference to SDL (Simple Direct Media) libraries

[2020-06-05 22:25] timautry commented on #11786
@dswcmp Thank you for posting this issue.
- Please upload/attach the **`E:\vcpkg_darknet\vcpkg\buildtrees\darknet\install-x64-windows-dbg-out.log`** file to assist in diagnosing the issue.
- Also, vcpkg downloads and installs the additional tools it needs in the **`E:\vcpkg-darknet\vcpkg\downloads\tools`** folder, regardless of whether the tools are already installed in other folders/directories.

[2020-06-05 22:43] timautry commented on #11768
@yes89929 Thank you for posting this issue.
See https://github.com/microsoft/vcpkg/pull/11758 but it is an enhancement in the works.
In the meantime I was given this example:
1. Use command .\vcpkg x-history qt5

2. Get the commit id of the version you need.

3. Use command git reset <commit id>

4. Rebuild qt5.

[2020-06-06 00:07] dswcmp commented on #11786
install-x64-windows-dbg-out.log

[1/172] E:\VISUAL~1\VC\Tools\MSVC\1426~1.288\bin\Hostx64\x64\cl.exe   -DCUDNN -DCUDNN_HALF -DGPU -DLIB_EXPORTS=1 -DNOMINMAX -DOPENCV -DTRACK_OPTFLOW=1 -DUSE_CMAKE_LIBS -D_CRT_RAND_S -D_CRT_SECURE_NO_WARNINGS -D_USE_MATH_DEFINES -Ddark_EXPORTS -IE:\vcpkg_darknet\vcpkg\buildtrees\darknet\src\13bb90133d-a4584e7461\include -IE:\vcpkg_darknet\vcpkg\buildtrees\darknet\sr

[2020-06-06 00:25] dswcmp commented on #11786
I created another folder and used VCPKG Install Darknet.I ran into some other problems, such as not being able to find the file path for the Windows Toolkit because it was not in the default path, which has been fixed.But eventually, I ran into the problem above.Log files are different.I copied it down here

[2020-06-06 00:25] dswcmp commented on #11786
PS G:\darknetYolo4\vcpkg> .\vcpkg install darknet[full]:x64-windows
Computing installation plan...
The following packages will be built and installed:
    darknet[core,cuda,cudnn,full,opencv-cuda,weights,weights-train]:x64-windows
Starting package 1/1: darknet:x64-windows
Building package darknet[core,cuda,cudnn,full,opencv-cuda,weights,weights-train]:x64-windows...
-- Using cached G:/darknetYolo4

[2020-06-06 00:26] dswcmp commented on #11786
[1/172] E:\VISUAL~1\VC\Tools\MSVC\1426~1.288\bin\Hostx64\x64\cl.exe   -DCUDNN -DCUDNN_HALF -DGPU -DLIB_EXPORTS=1 -DNOMINMAX -DOPENCV -DTRACK_OPTFLOW=1 -DUSE_CMAKE_LIBS -D_CRT_RAND_S -D_CRT_SECURE_NO_WARNINGS -D_USE_MATH_DEFINES -Ddark_EXPORTS -IG:\darknetYolo4\vcpkg\buildtrees\darknet\src\13bb90133d-a4584e7461\include -IG:\darknetYolo4\vcpkg\buildtrees\darknet\src\13bb90133d-a4584e7461\src -I"E:\N

[2020-06-06 00:29] dswcmp commented on #11786
Thank you.
Ican't find the function button to upload a text file....Is this function available here?

[2020-06-06 00:37] timautry commented on #11786
- At the bottom of the text box one types in there is a dotted line with `Attach file by dragging & dropping, or selecting or pasting them` - just drag and drop.
- No one will read through the pasted logs in html text boxes - they are way too long.
- But, those attempting to find the issue will download any uploaded logs and search using an editor of their choice.
- Plus many of the symbol charact

[2020-06-06 01:38] dswcmp commented on #11786
[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/4739156/install-x64-windows-dbg-out.log)

[2020-06-06 01:38] dswcmp commented on #11786
谢谢你 。

[2020-06-06 01:41] dswcmp commented on #11786
The log file for the initial problem
[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/4739159/install-x64-windows-dbg-out.log)

[2020-06-06 02:16] timautry commented on #11786
You are welcome.

`http_stream.cpp.obj : error LNK2019: unresolved external symbol "int __cdecl` once each log
`http_stream.cpp.obj : error LNK2019: unresolved external symbol "__declspec(dllimport)` many times each log

In both log files, appears to be the http_stream.cpp.obj file is referencing symbols in a library not included in the link phase.

I personally do not have the darknet port instal

[2020-06-06 03:06] dswcmp commented on #11786
Thanks again.Thank you for your advice.
Yes, the compile time is really long.My I5 CUP took 7 hours to complete.But in the end, I encountered this mistake.I am waiting to see if there is a master with this kind of experience.
Do I need to submit this to darknetAB where?I have very little experience and I don't think I've got a foot in the door.I can't yet tell which module is the problem...

[2020-06-06 03:50] bugbuka opened #11806 "[irrlicht] build failure"
**Host Environment**
- OS: [macos]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install irrlicht`

**Failure logs**
Starting package 1/6: irrlicht:x64-osx
Building package irrlicht[core]:x64-osx...
-- Using cached /Users/tom/github-cpp/vcpkg/downloads/irrlicht-1.8.4.zip
-- Using source at /Users/tom/github-cpp/vcpkg/buildtrees/irrlicht/src/1.8.4-e1f2402469
-- Co

[2020-06-06 05:39] Zanardan commented on #11802
Thank you for responding. I have attached the file.

[2020-06-06 06:13] dswcmp commented on #11786
I got help!!Current Darknet is not supporting VS2019.

[2020-06-06 06:13] #11786 closed

[2020-06-06 06:40] rib2bit opened #11807 "[cpprestsdk] build failure"
**Host Environment**
- OS: Mac OS X 10.15.5
- Compiler: Apple clang version 11.0.3 (clang-1103.0.32.62)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install cpprestsdk`

**Failure logs**

[code]

`config-x64-osx-dbg-out.log`
[code]

`CMakeError.log`
[code]

**Additional context**

[code]

[2020-06-06 10:11] traversaro opened #11808 "[gts] Provide .pc pkg-config files"
**Is your feature request related to a problem? Please describe.**
The `gts` library on Unix system provides `.pc` files (see for https://packages.debian.org/jessie/amd64/libgts-dev/filelist), but the CMake-based build system maintained in vcpkg does not install them. This may be problematic because downstream build system that depend on `gts` may expect this `.pc` files to be available on Linux/m

[2020-06-06 10:16] bugbuka opened #11809 "[luajit] build failure"
**Host Environment**
- OS: [macos 10.15.4]
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg install luajit --triplet x64-osx`

**Failure logs**
[code]
**Additional context**
Add any other context about the problem here, such as what you have already tried to resolve the issue.

[2020-06-06 14:37] timautry commented on #11802
I do not see an obvious issue other than what is posted above.
Someone more familiar with vcpkg/OpenCV will need to assist further.
Seek advice on the Cuda question either in the Nvidia or AMD developer forums on their respective web pages as to whether Cuda supports AMD hardware.

[2020-06-06 14:40] timautry commented on #11806
@bugbuka Thank you for posting this issue.
Please attach/upload `/Users/tom/github-cpp/vcpkg/buildtrees/irrlicht/install-x64-osx-dbg-out.log` to this issue so someone will be able to assist in this matter.

[2020-06-06 14:52] timautry commented on #11809
@bugbuka Thank you for posting this issue.
Please upload/attach the following files to this issue:
`/Users/tom/github-cpp/vcpkg/buildtrees/luajit\build-x64-osx-dbg-out.log`
`/Users/tom/github-cpp/vcpkg/buildtrees/luajit\build-x64-osx-dbg-err.log`

This will allow someone more familiar with macosx to assist with this issue.

[2020-06-06 16:01] Zanardan commented on #11802
Can you guide me how to resolve this ?
`FAILED: modules/dnn/opencv-onnx.pb.h modules/dnn/opencv-onnx.pb.cc`

[2020-06-06 17:52] timautry commented on #11802
I myself can not.
I do not use the opencv port and not familiar with it.

[2020-06-06 21:01] gazzyt opened #11811 "[docker] [libpq] build customized triplet x64-linux-static failure"
**Host Environment**
- OS: [Alpine Linux docker image alpine:3.11]
- Compiler: gcc 9.2.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install libpqxx`

**Failure logs**
[code]

**Additional context**
This had been working fine last time on 7-May-2020. Trying again today and it fails as above.
Issue seems to be caused by a new hardcoded reference to `/bin/bash` on line 456 of `vcpkg_

[2020-06-06 23:30] GrayHub-737 opened #11812 "executing "bootstrap-vcpkg.bat""
![Screenshot (192)](https://user-images.githubusercontent.com/66535321/83956440-68640900-a85e-11ea-892f-38a2f97d510b.png)

[2020-06-07 01:05] quickiwiki commented on #6619
I'm having the same issue when installing io2d on Linux Ubuntu

[1/8] /usr/bin/c++  -DCAIRO_HAS_XLIB_SURFACE=1 -I/home/user/vcpkg/buildtrees/io2d/src/3b5b5fc338-1775a03870/P0267_RefImpl/P0267_RefImpl/cairo/xlib -I/home/user/vcpkg/buildtrees/io2d/src/3b5b5fc338-1775a03870/P0267_RefImpl/P0267_RefImpl/cairo -I/home/user/vcpkg/buildtrees/io2d/src/3b5b5fc338-1775a03870/P0267_RefImpl/P0267_RefImpl -isys

[2020-06-07 01:07] quickiwiki opened #11813 "[cairo] io2d build failure on Ubuntu"
**Host Environment**
- OS: Ubuntu 19.10
- Compiler: GCC 9.2.1

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install io2d

**Failure logs**
I'm having the same issue when installing io2d on Linux Ubuntu
[code]

https://github.com/microsoft/vcpkg/issues/6619

[2020-06-07 06:19] rib2bit commented on #11807
I found this problem is related to this: https://github.com/microsoft/cpprestsdk/pull/1439

[2020-06-07 09:20] bugbuka commented on #11806
Kais-MacBook-Pro:minetest tom$ vcpkg install irrlicht --triplet x64-osx
Computing installation plan...
The following packages will be built and installed:
    irrlicht[core]:x64-osx
Starting package 1/1: irrlicht:x64-osx
Building package irrlicht[core]:x64-osx...
-- Using cached /Users/tom/minetest/vcpkg/downloads/irrlicht-1.8.4.zip
-- Using source at /Users/tom/minetest/vcpkg/buildtrees/irrlicht/

[2020-06-07 09:55] #11812 closed

[2020-06-07 10:14] GrayHub-737 opened #11816 ""#include errors detected""
# <h1> My visual studio's unusual behavior

**Issue**
I recently created a C++ project which initially worked very well. Rather today I encountered an "**_#include errors detected. Please update your includePath. Squiggles are disabled for this translation unit (C:\Users\me\program.cpp)._**" error in my problems window.

**Environment**
- OS: [Windows]
- Compiler: [gcc 8.1]

**Additional context**

[2020-06-07 10:52] atharkes commented on #11792
Hi @timautry

Thanks for looking into this issue.

After following the steps you suggested I still get exactly the same error messages

[2020-06-07 13:32] luisgo007 commented on #11773
Same problem Windows 10, VC2015. Trying to install NEO.

[2020-06-07 14:27] traversaro opened #11817 "[libuuid] Provide .pc pkg-config files"
**Is your feature request related to a problem? Please describe.**
The `libuuid` library on Unix system provides `.pc` files (see for https://packages.debian.org/jessie/amd64/uuid-dev/filelist), but the CMake-based build system maintained in vcpkg does not install them. This may be problematic because downstream build system that depend on `libuuid` may expect this `.pc` files to be available on L

[2020-06-07 16:03] nzmercer opened #11818 "gdal port static build"
I'm using Windows 10 Enterprise 1909. My machine is using the english us locale.

When I run install gdal:x64-windows-static the build is completed successfully and I get a built gdal_i.lib. However, this is not the proper static library. It still requires use of the gdal DLL file.

I have actually been able to fix this myself by modifying the gdal portfile.cmake. My resulting portfile is attached

[2020-06-07 16:15] lurkgabriel opened #11819 "Error: Building package mpir:x64-windows failed with: BUILD_FAILED"
**Describe the bug**
I installed the latest vcpkg and then tried to run `.\vcpkg install --triplet x64-windows boost-asio boost-filesystem boost-iostreams boost-lockfree boost-system boost-variant cryptopp libmariadb luajit mpir pugixml` but when it gets to cmake I get the errors
`CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:72 (message):
    Command failed: msbuild C:/Users/G

[2020-06-07 18:16] FabienPean opened #11820 "[abseil] Enable building abseil as a shared library"
Currently, abseil is only built as a static library with vcpkg, see abseil [portfile](https://github.com/microsoft/vcpkg/blob/cb8a9fe7157f8ad2423742f893955ed9ced05910/ports/abseil/portfile.cmake#L1)

However, the library can now be built as a shared library, see [AbseilConfigureCopts](https://github.com/abseil/abseil-cpp/blob/567bee2f7393fca6ca737ecf061bd9f97302e346/absl/copts/AbseilConfigureCopts

[2020-06-07 18:50] timautry opened #11821 "[vcpkg_install_msbuild.cmake] deletes <triplet>-rel and <triplet>-dbg upon successful completion unless making **SKIP_CLEAN** customization is made to calling portfile.cmake"
**Describe the bug**
vcpkg_install_msbuild.cmake deletes <triplet>-rel and <triplet>-dbg upon successful completion unless making **SKIP_CLEAN** customization is made to calling portfile.cmake

**Environment**
- OS: [Microsoft Windows [Version 10.0.19041.264]]
- Compiler: Visual Studio 2017 Version: 15.9.23  VS Tools Version: 14.16.27023
                   Visual Studio 2019 Version: 16.6.1  VS To

[2020-06-07 19:30] jonshipman opened #11822 "Error: Building package freeglut:arm64-windows failed with: BUILD_FAILED"
`vcpkg install freeglut:arm64-windows` fails with BUILD_FAILED.

[code]

Here's the relevant entry in the debug log:
[code]

[2020-06-07 20:24] Pospelove opened #11823 "[New Port Request] cr"
Library name: cr

Library description: cr.h: A Simple C Hot Reload Header-only Library

Source repository URL: https://github.com/fungos/cr

Project homepage (if different from the source repository): https://fungos.github.io/cr-simple-c-hot-reload/

[2020-06-07 21:15] #11819 closed

[2020-06-07 21:16] lurkgabriel commented on #11819
fixed installing vs on c:\ as well as the vcpkg

[2020-06-07 21:59] timautry commented on #11792
Hmm... may I suggest creating a new instance:
1. git clone https://github.com/microsoft/vcpkg.git vcpkg.test
2. cd to vcpkg.test
3. vcpkg install tbb

If this does not work, then somewhere in the msbuild process there may be a file adding the SDL libraries...
Check in `C:\Program Files (x86)\MSBuild\Microsoft.Cpp` for any .xml files in the BuildCustomizations or v140 folder. There may be a `before

[2020-06-07 22:00] timautry commented on #11806
@bugbuka  when I click on the install-x64-osx-dbg-out.log link it is giving me a html 404 not found.

[2020-06-07 22:11] timautry commented on #11822
@jonshipman Thank you for posting this issue.
File `opengl32.lib` is part of the Windows SDK.
1. Make sure you have a windows SDK version 8.1 or higher installed.
2. Also, if you have the required SDK installed, is it installed in the **default location** as vcpkg has a **hard coded path** where the Windows SDK can be location as I noticed Visual Studio is installed at `H:\Program Files (x86)\Micr

[2020-06-08 02:05] NancyLi1013 commented on #11352
You might try the way as mentioned in this PR #11439.

[2020-06-08 02:30] JackBoosY commented on #11799
@khaoula-elh Seems your network has problem, you can get it [here](https://github.com/microsoft/vcpkg/files/4743579/libxml2-2.9.9.tar.gz) and put it into _VCPKG_ROOT/downloads_, then rebuild libxml2.

[2020-06-08 02:35] PhoebeHui commented on #10343
@olafurw, the changes haven't merged to master, so could you manually apply the fix in portfile.cmake? if it's still repro, would you mind give me the repro code?

I test the fix with below code, it works for me, it doesn't rely on boost currently.

[code]
The version is 1.5.2, we append -1 to distinguish the versions.

[2020-06-08 02:52] #6619 closed

[2020-06-08 02:58] JackBoosY commented on #11807
Hi @rib2bit, thanks for reporting this issue!
I can't reproduce this issue on my machine, could you provide failure log _/Users/hoge/vcpkg/buildtrees/cpprestsdk/config-x64-osx-dbg-err.log_?

Thanks.

[2020-06-08 03:19] MZHPE opened #11825 "protobuf-c build failure"
**Host Environment**
- OS: Windows 10
- Compiler:  3.17.20032601-MSVC_2

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg install protobuf-c`

**Failure logs**
#vcpkg install protobuf-c
[code]
#vcpkg update
Using local portfile versions. To update the local portfiles, use `git pull`.
No packages need updating.

#git pull
Already up to date.

[2020-06-08 03:19] LilyWangL commented on #11712
Closed as duplicate of #11773.

[2020-06-08 03:19] #11712 closed

[2020-06-08 04:36] emptyVoid commented on #11765
I think it's better to summon the author of that change first, as he has done tremendous work improving/correcting make builds, there has to be a reason why call to `cl.exe` are routed via `automake`.

@Neumann-A, could you, please, comment on this issue?

[2020-06-08 05:35] rib2bit commented on #11807
@JackBoosY  Here is `config-x64-osx-dbg-err.log`

[code]

It seems that `cpprest_find_openssl.cmake` expects openssl is installed with homebrew for macOS, but my environment does not use that.

I finally resolved this problem with the patch:
https://github.com/microsoft/cpprestsdk/pull/1439/commits/ccd74e1b62fcffa3c7ac37fc90152433b20baf2f

Thanks.

[2020-06-08 06:04] kestrelm opened #11828 "FFMpeg built but cannot link with PyBind11"
**Host Environment**
- OS: Ubuntu 18.04 LTS in WSL ( Windows 10 )
- Compiler: revision

**To Reproduce**
I managed to install FFMpeg  successfully with vcpkg. However, when I try to link my C++ to Python3.7 wrapper shared library using Pybind11 to it, the linker fails with the error:
" can not be used when making a shared object; recompile with -fPIC" for the libraries in FFMpeg.

This builds on W

[2020-06-08 06:36] LilyWangL commented on #11811
Thanks for posting this issue. Did you create a customized triplet file `x64-linux-static.cmake`?

[2020-06-08 06:46] NancyLi1013 commented on #11809
`luajit` currently only supports Windows platform. Since it depends on Visual Studio to build.
https://github.com/microsoft/vcpkg/blob/master/ports/luajit/portfile.cmake#L27

I will add the unsupported messages for `luajit`.

[2020-06-08 07:12] NancyLi1013 commented on #11640
@jpcima
I submitted a PR to fix this issue just now.
Could you please help confirm if it can work for you?

[2020-06-08 08:06] JackBoosY commented on #11802
[code]

Can you confirm whether `libprotobuf.dll` and `libprotoc.dll` exist in _C:\vcpkg-master\installed\x64-windows\tools\protobuf_?

[2020-06-08 08:13] trietptm commented on #11773
This problem still exists.

[2020-06-08 08:31] emptyVoid opened #11832 "[libmagic] Clean build failure on Windows"
**Host Environment**
- OS: Windows 10 64-bit
- Compiler: not applicable

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Failure logs**
[code]
[autoconf-x64-windows-err.log](https://github.com/microsoft/vcpkg/files/4744721/autoconf-x64-windows-err.log)

**Additional context**
I believe it's a defect in `vcpkg_configure_make`, since the necessity of `autoconf` gets decided too late for

[2020-06-08 08:48] dswcmp opened #11833 "VCPKG install Darknet [full]: X64-Windows error."
**Host Environment**
- OS: windows 10  pro 18363
- Compiler: vs2017 community 15.9.23
- cmake 3.17.3.0
Vcpkg version: 2020.02.04-nohash

I was using VCPKG install Darknet [full]: X64-Windows encountered an error.VCPKG install Zlib [core]: X64-Windows reproduce this error.I reinstalled VS2017 without resolving this error.Then I reinstalled Cmake 3.17.3 and it still didn't work out.So come here for

[2020-06-08 08:53] lkleen opened #11834 "macOS 10.15.2 boostrap fails with gcc 9.3.0 and clang"
running the ./bootstrap-vcpkg.sh script fails with

using ./bootstrap-vcpkg.sh --allowAppleClang also fails

[2020-06-08 08:57] dswcmp commented on #11833
I originally installed VS2019, but Darknet [Full] does not support VS2019, so I uninstalled it and installed VS2017.Will it matter?

[2020-06-08 09:02] gazzyt commented on #11811
Yes I did and also an ARM one. I thought I'd removed that from the bug report so as not to distract but it's still there in the log of course.

[2020-06-08 09:06] emptyVoid opened #11835 "[libmesh] Build failure on Windows"
**Host Environment**
- OS: Windows 10 64-bit
- Compiler: VC++ 19.26.28806

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install libmesh`

**Failure logs**
[code]
[config-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/4744909/config-x64-windows-dbg-out.log)
[config-x64-windows-dbg-err.log](https://github.com/microsoft/vcpkg/files/4744910/config-x64-windows-dbg-err.l

[2020-06-08 09:12] kestrelm commented on #11828
I googled online and am wondering if this has anything to do with "enabled-shared" or force the -fPIC flag through on Linux. Is this possible? Thanks!

[2020-06-08 09:12] Neumann-A commented on #11765
If a port is truly using autotools there should not be a problem with routing it through automakes `compile cl` script which also helps configure do the right thing better.
ffmpeg seems to be a case of custom configure script since I cannot see any `configure.ac` in the repo which makes things always a bit complicated since the assumption/requirements vary a lot between different custom configure

[2020-06-08 09:13] gazzyt commented on #11811
I have attached the dockerfile and script it uses. To reproduce the issue remove `bash` from line 2 of the dockerfile.
[alpine-build-vcpkg-master.zip](https://github.com/microsoft/vcpkg/files/4744956/alpine-build-vcpkg-master.zip)

[2020-06-08 09:22] LilyWangL commented on #11797
Due to the following error, the new version gtk need glib update to new version, waiting for issue #11477 merged.
`vcpkg\buildtrees\gtk\src\gtk+-3-f8376c6326\gtk\gtkmountoperation.c(709): error C2065: 'G_ASK_PASSWORD_TCRYPT': undeclared identifier`

[2020-06-08 09:24] Voskrese commented on #11832
`vcpkg install libmagic`

[code]

[code]

another problem
deps: **libgnurx**

`configure: error: libgnurx is required to build file(1) with MinGW`

[2020-06-08 09:32] LilyWangL commented on #11825
Thanks for posting this issue. There are the following message in your build log, `protobuf-c` doesn't support targets `Windows`.
[code]

[2020-06-08 09:32] Voskrese commented on #11835
`checking whether the C++ compiler works... no`

[code]

libmesh it will not be assembled under MSVC, only under GCC

triplet MinGW ?

[2020-06-08 09:36] LilyWangL commented on #11811
Could you provide your triplet file `x64-linux-static.cmake`?

[2020-06-08 09:36] JackBoosY commented on #11832
@Neumann-A Could you please take a look?

Thanks.

[2020-06-08 09:44] emptyVoid commented on #11832
Same issue with `libb2`.

[2020-06-08 09:49] emptyVoid commented on #11832
And with `libwandio`.

[2020-06-08 09:56] luisgo007 commented on #11773
I solved. I omitted the declaration as a constant and compiled Ok-

On 08/06/2020 09:13, Minh Triet Pham Tran wrote:

[2020-06-08 10:08] Voskrese commented on #11765
config-x86-windows-...-out.log

[code]

[code]

flags gcc ?

[2020-06-08 10:23] NancyLi1013 commented on #11816
Hi @GrayHub-737
Thanks for posting this issue.
Seems you used Visual Studio Code to build the project. If so, Visual Studio Code is currently not supported in vcpkg.

Please refer to [this ](https://github.com/microsoft/vscode-cpptools/issues/4718). Hope this can help you some.

[2020-06-08 10:31] Voskrese commented on #11835
https://libmesh.github.io/installation.html

[2020-06-08 10:39] NancyLi1013 commented on #11822
@jonshipman

Since `freeglut `requires `opengl `to build. `opengl `doesn't support arm.
So `freeglut `failed on arm64-windows, which is intend behavior currently.

[2020-06-08 10:49] PhoebeHui commented on #11781
@rowlmars,  I tried build it locally, everything built successfully for me. from you log, it seems due to the environment issue.

Could you try ./vcpkg env --triplet x64-windows --debug command and attach the output here?

Failures:
cl : Command line error D8003 : missing source filename
'Datasets\\arielsmagicscript2\\vcpkg\\packages\\openssl-windows_x64-windows\""' is not recognized as an interna

[2020-06-08 11:13] gazzyt commented on #11811
Those are generated by the sed commands in the dockerfile but here they are:
[code]

[2020-06-08 11:16] Zanardan commented on #11802
Yes the files: `libprotobuf.dll `and `libprotoc.dll` exist in _C:\vcpkg-master\installed\x64-windows\tools\protobuf_
I tried to install again and this is the log file obtained.  Please check this out and guide me through it.
[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/4745576/install-x64-windows-dbg-out.log)

[2020-06-08 11:41] dnikolic-zfx commented on #8923
I've ran into the same issue, and I'm able to reproduce it on windows.

Running the following command still produces dynamic .lib file on windows:
`.\vcpkg.exe install nghttp2:x86-windows-static`

Running the application linked with the nghttp2.lib built this way prompts for nghttp2.dll even tho it is supposed to be a static lib.

[2020-06-08 11:45] dnikolic-zfx commented on #11492
I've ran into the same issue, and I'm able to reproduce it on windows after #11638 was merged.

Running the following command still produces dynamic .lib file on windows:
`.\vcpkg.exe install nghttp2:x86-windows-static`

Running the application linked with the nghttp2.lib built this way prompts for nghttp2.dll even tho it is supposed to be a static lib.

[2020-06-08 11:48] emptyVoid commented on #11835
It might still be buildable with `MSVC`, even if they advice using `MinGW`.

Though there's another issue with the port -- despite `--disable-qhull` being set in the port file the build fails with (after removing `${MSYS_ROOT}/usr/share/automake-1.16/compile ` similarly to https://github.com/microsoft/vcpkg/issues/11765#issuecomment-639472043):
[code]
[config-x64-windows-dbg-out.log](https://githu

[2020-06-08 11:56] Neumann-A commented on #11835
@JackBoosY: Not looking at this one for windows since the build scripts itself are broken on windows and there are a lot of unresolved dependencies.

The port should probably use vcpkg qhull instead of the vendored one inside.

[2020-06-08 11:57] Neumann-A commented on #11835
And not only qhull?
[code]

[2020-06-08 12:17] Neumann-A commented on #11832
@JackBoosY: This one cannot be build with cl until we get a C regex library with visual studio.

Reason:
`D:\qt2\buildtrees\libmagic\src\9852e25398-4363addce8\src\file.h(69): fatal error C1083: Cannot open include file: 'regex.h': No such file or directory`

[2020-06-08 12:48] julianxhokaxhiu commented on #11765
So If I understand this correctly, all we need to do is redefine CC and CXX? I'll try that and let you know!

[2020-06-08 12:54] julianxhokaxhiu opened #11837 "[vcpkg-acquire-msys] Allow TOOLPATH to be detected/configured if MSYS2 installation is already present in the environment"
****

**Is your feature request related to a problem? Please describe.**
At the current status, using `vcpkg` in CI environments is an issue as vcpkg expects to download an entire MSYS2 installation and configure it on each run. Not only this is a waste of resources ( CPU, Disk, Bandwidth ) but it wastes time as well as jobs will take longer to be completed.

AppVeyor, as CI provider, solved this

[2020-06-08 13:13] jepessen commented on #11614
What should we do in order to make the pull request? If you can't do it I can do, because I need this PR.

[2020-06-08 13:31] ASxa86 commented on #11837
I believe this is similar if not the same thing I've been dealing with and had an issue made #7617.  Major difference is, I don't have access to the internet.

[2020-06-08 13:53] Neumann-A commented on #11765
[code]

Is the error I see in #11836

[2020-06-08 14:08] rowlmars commented on #11781
C:\...\vcpkg>vcpkg env --triplet x64-windows --debug
[DEBUG] Using vcpkg-root: C:\...\vcpkg
[DEBUG] Using buildtrees-root: C:\...\vcpkg\buildtrees
[DEBUG] Using downloads-root: C:\...\vcpkg\downloads
[DEBUG] Using packages-root: C:\...\vcpkg\packages
[DEBUG] Using installed-root: C:\...\vcpkg\installed
[DEBUG] Using scripts-root: C:\...\vcpkg\scripts
[DEBUG] CreateProcessW("C:\...\vcpkg\downloads\

[2020-06-08 14:09] rowlmars commented on #11781
Thank you @PhoebeHui

[2020-06-08 14:10] jvelilla commented on #11777
Just for info updating Ubuntu installation fix the issue.

Before the update I had GCC version
[code]
After the update,  GCC Version
[code]

[2020-06-08 14:16] jonshipman commented on #11822
That's unfortunate. Is OpenGL deprecated on Windows? If that's the case, these projects need to be flagged and an alternative provided.

I'd be interested in trying a compile with Angle, however, glu32.lib doesn't seem to have an alternative.

[Mesa3d](https://www.mesa3d.org/) could be a decent alternative, if added to vcpkg.

In the meantime, I found SGI's glu on mesa's website [ftp://ftp.freedes

[2020-06-08 14:16] emptyVoid commented on #7617
@ASxa86, can you, please, try the following -- replace `-Sy` flag with `-S` and check if the internet connection would still be an issue:
https://github.com/microsoft/vcpkg/blob/e792d1c171a18d32401db0f95251515cc15056f5/scripts/cmake/vcpkg_acquire_msys.cmake#L168

[2020-06-08 14:41] Voskrese commented on #11832
@Neumann-A
https://github.com/nscaife/file-windows

file(libmagic) `+` libgnurx-2.5

[2020-06-08 14:54] aldrichg9 opened #11838 ".\vcpkg install darknet[full] build failure"
**Host Environment**
- OS: [Windows 10-64bit]
- Compiler: not applicable

**To Reproduce**
PS G:\yolov4\vcpkg> .\vcpkg install darknet[full]
Computing installation plan...
The following packages will be built and installed:
  * cudnn[core]:x86-windows
    darknet[core,cuda,cudnn,full,opencv-cuda,weights,weights-train]:x86-windows
  * ffmpeg[avresample,core]:x86-windows
  * hdf5[core,szip,zlib]:x86

[2020-06-08 17:41] timautry commented on #11838
CMake Error at ports/cudnn/portfile.cmake:8 (message):
**This port is only for x64 architectures**

Try: **`.\vcpkg install darknet[full]:x64-windows`** -or-

**`.\vcpkg install darknet[full] --triplet x64-windows`** -or-

populate the VCPKG_DEFAULT_TRIPLET environment variable
**`set VCPKG_DEFAULT_TRIPLET=x64-windows`** then
**`.\vcpkg install darknet[full]`**

[2020-06-08 18:33] Chris48193 commented on #11525
Hello Guys!
I had the same problem and ran my command line as administrator and the problem was fixed.

[2020-06-08 19:08] atharkes commented on #11792
I made a new instance of the vcpkg repository but that didn't fix it.

I don't have the `Microsoft.cpp` folder you mentioned, neither in `C:\Program Files (x86)\MSBuild` or `C:\Program Files\MSBuild`.

[2020-06-08 20:04] leo60228 commented on #10805
The same issue happens on x64-windows with libvorbis.

[2020-06-08 20:25] jonverrier opened #11840 "expat:x64-uwp"
Doesn't build - expat does not currently support UWP.

The vcpkg documentation suggested to log here, so I am.

[2020-06-08 21:20] diegohdezr commented on #11452
one thing to add that may be of interest, the same command works fine in a desktop pc without issue, but fails in a laptop, I tried with two desktops and two laptops and it only failed on the laptops

[2020-06-08 23:26] Voskrese commented on #11832
tested, not work in msvc libmagic

[2020-06-08 23:57] JackBoosY commented on #11837
msys version will also be considered.
@emptyVoid What do you think?

[2020-06-09 00:09] JackBoosY commented on #5052
That's really a good idea!

[2020-06-09 01:09] BillyONeal opened #11843 "vcpkg should have a means of providing reasonable time limits to build ports"
I am told by @dan-shaw that sometimes tensorflow hangs during its build for some reason, and have seen qt similarly hang. We should be able to set a reasonable cap to prevent these ports from running out of control (either in the 'ci' command or generally). Say 'no port should take longer than 1 hour to build' or similar, and skip any constantly offending ports.

**Proposed solution**
An extra com

[2020-06-09 01:24] BillyONeal commented on #2663
@pravic Because there are a lot of bogus stale issues, closing them is a means of poking to see if the issue was valid and/or people still care.

[2020-06-09 01:42] dswcmp commented on #11833
The completed reinstall of the Windosw SDK will be sufficient

[2020-06-09 01:42] #11833 closed

[2020-06-09 01:47] jremillard commented on #7526
I have mapnik ported to vcpkg here https://github.com/jremillard/vcpkg, it is against the official v3.0.23 release, but uses the cmake files from the mapnik-windows branch. The dependent packages are patched as needed.

[2020-06-09 02:20] JackBoosY commented on #11802
@Zanardan Could you run command `cd /D C:\Dev\vcpkg\buildtrees\opencv4\x64-windows-dbg\modules\dnn && C:\Dev\vcpkg\installed\x64-windows\tools\protobuf\protoc.exe --cpp_out C:/Dev/vcpkg/buildtrees/opencv4/x64-windows-dbg/modules/dnn -I C:/Dev/vcpkg/buildtrees/opencv4/src/4.1.1-fb9e10326a/modules/dnn/src/caffe -I C:/Dev/vcpkg/buildtrees/opencv4/src/4.1.1-fb9e10326a/modules/dnn/src/onnx -I C:/Dev/vc

[2020-06-09 02:23] NancyLi1013 commented on #11792
Hi @atharkes
`sdl2 `is not the dependency of `tbb`. So it might be something wrong with your local environment.
Could you please remove `sdl2 `and try to build this again?

@timautry
Thanks for your help to look into this issue.

[2020-06-09 02:42] NancyLi1013 commented on #11840
Hi @jonverrier
Thanks for posting this issue.
I have submitted a PR #9146 to add the support uwp for `expat`.

[2020-06-09 02:57] NancyLi1013 commented on #3174
@christianparpart
Please keep this issue open until we have fixed it.

[2020-06-09 03:25] DavidDXY opened #11845 "[gtk+] build failure"
**Host Environment**
- OS: windows
- Compiler: Vcpkg package management program version 2020.02.04-nohash

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install Gtk+

**Failure logs**
[1/28] "C:/tools/downloads/tools/python/python-3.7.3-x64/python.exe" "../src/1.5.3-d7b9d32fcb/src/gen_dispatch.py" "--header" "--no-source" "--outputdir=include/epoxy" "../src/1.5.3-d7b9d32fcb/registry/w

[2020-06-09 04:01] luojia65 commented on #11525
Same issue, not resolved after run as admin, remove python (I don't have python installed) and installing English support for VS

[2020-06-09 04:03] Zanardan commented on #11802
This is the error message I am getting

![Screenshot (304)](https://user-images.githubusercontent.com/42083411/84104720-f3e2c300-aa33-11ea-8c33-ec7b4bca1507.png)

Also `attr_value.proto ` file didn't exist before, I downloaded it and pasted it there but still same.

[2020-06-09 04:32] pravic commented on #2663
If it's a bogus issue, why bother at all? Close immediately and mark as invalid or wontfix.

[2020-06-09 04:37] BillyONeal commented on #2663
@pravic It was a bulk operation, not a targeted one.

[2020-06-09 05:15] sinozope opened #11847 "[boost-fiber:x64-windows] build failure"
D:\opt\vcpkg>vcpkg install boost-fiber:x64-windows
Computing installation plan...
The following packages will be built and installed:
    boost-fiber[core]:x64-windows
Starting package 1/1: boost-fiber:x64-windows
Building package boost-fiber[core]:x64-windows...
-- Using cached D:/opt/vcpkg/downloads/boostorg-fiber-boost-1.73.0.tar.gz
-- Using source at D:/opt/vcpkg/buildtrees/boost-fiber/src/ost

[2020-06-09 05:46] AndySomogyi opened #11848 "unofficial::cairo x64-windows does not appear to add link options to target"
Building the unofficial::cairo package seems to work fine, built for x64-windows, but can't build and software that uses this library with cmake.

**Environment**
- OS: Windows 10
- Compiler: Microsoft Visual Studio Community 2019 Version 16.6.1

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install cairo
2. add ```find_package(unofficial-cairo CONFIG REQUIRED)```,
           ``` ta

[2020-06-09 05:49] NancyLi1013 commented on #11786
It is not related with Visual Studio version. I can install it successfully on my local machine with Visual Studio 2019. Please feel free to reopen this if it is still a problem for you.

[2020-06-09 05:59] emptyVoid commented on #11837
We could add an environment variable `VCPKG_MSYS2_ROOT` (or `VCPKG_MSYS2_PATH`) overridable in a triplet, which if present would leverage user-supplied `MSYS2` installation.

I haven't found any means to get `MSYS2` version, and according to [this stackoverflow answer](https://stackoverflow.com/a/55562058/6140636) we could only operate on `pacman` version or version of some other core package (e.g

[2020-06-09 06:13] NancyLi1013 commented on #11777
@jvelilla
Thanks for your above info.
I'm closing this issue for now since you have solved this problem.

[2020-06-09 06:13] #11777 closed

[2020-06-09 06:24] NancyLi1013 commented on #11822
@jonshipman
Thanks for your update and suggestions. OpenGL is still can be used on Windows, but it cannot be built on arm. Since there are no _C:\Program
  Files (x86)\Windows Kits\10\Lib\10.0.17763.0\um\arm64\OpenGL32.Lib_ and _C:\Program
  Files (x86)\Windows Kits\10\Lib\10.0.17763.0\um\arm\OpenGL32.Lib_.
 If you want to add `Mesa2d`, you can open a new issue for this request.
For angle, you can

[2020-06-09 06:30] DavidDXY commented on #11845
this issue is fixed,
the "C:/tools/buildtrees/libepoxy/src/1.5.3-d7b9d32fcb/src/dispatch_common.c" file Coding problem
Change the encoding format of the file to Unicode-1200，save and  rebuild ,Compile through.

[2020-06-09 06:30] #11845 closed

[2020-06-09 06:43] lkleen commented on #4463
It is still failing on a non NTFS formatted disk

[2020-06-09 07:29] PhoebeHui commented on #11847
@sinozope, could you please attach failure log: D:\opt\vcpkg\buildtrees\boost-fiber\build-x64-windows-rel-out.log?

[2020-06-09 07:35] invy commented on #11843
I think it should be done on CI and not in the package manager. What if there will be port which will require one hour. Anyway, why one hour? If somebody has overloaded CI, he'll get MUCH more probability of false positives.
You just have to investigate why 'build' actually hangs. On windows core 2019 LSTC with hyper-v isolation it just happend for me, that the whole docker container just hang, bu

[2020-06-09 07:43] mmahnic opened #11850 "[irrlicht] CMakeLists port file does not read environment variable correctly (patch provided)"
**Host Environment**
- OS: Windows 10
- Compiler: VS 2019

**To Reproduce**
Steps to reproduce the behavior:
[code]
**Failure logs**
buildtrees\irrlicht\install-x64-windows-v142-dbg-out.log:

[code]
Relevant part:
```-I...\buildtrees\irrlicht\src\1.8.4-e1f2402469\ENV{DXSDK_DIR}\Include```

**Additional context**
Patch:
[code]

[2020-06-09 07:57] NancyLi1013 commented on #11848
Hi @AndySomogyi
Thanks for posting this issue.
Do you have run _./vcpkg integrate install_ and set `CMAKE_TOOLCHAIN_FILE` before building this cmake project?

I cannot reproduce this on my local. If this is still a problem for you after you have done these, please post the error info.

[2020-06-09 08:20] Neumann-A commented on #11843
Probably a problem with jom......switching to nmake helps here.  https://github.com/microsoft/vcpkg/pull/8524

[2020-06-09 08:55] PhoebeHui commented on #11806
@bugbuka, it looks irrlicht:x64-osx doesn't support in vcpkg now, I tried build it on macos locally, it contains a lot of errors which looks source issue. Please report an issue to Upstream.

I will add 'Supports' and failures message to irrlicht.

[2020-06-09 09:03] LilyWangL commented on #11805
Thanks for posting this issue. Closed as duplicate of #10654.

[2020-06-09 09:03] #11805 closed

[2020-06-09 09:09] DailyShana commented on #11806
the source code of irrlicht use an xcode project with some osx-specific code for building on osx.

[2020-06-09 09:14] LilyWangL commented on #11783
Thanks for posting this issue. Closed as duplicate of #11775.

[2020-06-09 09:14] #11783 closed

[2020-06-09 09:20] LilyWangL commented on #11642
Thanks for posting this issue. Please reopen this issue if this is still a problem for you.

[2020-06-09 09:20] #11642 closed

[2020-06-09 09:23] LilyWangL commented on #11418
Thanks for posting this issue. Please reopen this issue if this is still a problem for you.

[2020-06-09 09:23] #11418 closed

[2020-06-09 09:46] PhoebeHui commented on #11850
@mmahnic, thanks for reporting this issue and providing us the patch!

I have summited a PR#11852 for this.

[2020-06-09 09:49] olafurw commented on #10654
How about then giving a status screen at the end.

`Update complete, pages X and Y updated. Z failed to update and so it is removed. To try again, please fix the issue and reinstall package Z`

Currently, like in the duplicate #11805 there's nothing. System just stops and tells you nothing.

[2020-06-09 12:08] fishnet37222 opened #11853 "[libepoxy] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: 19.26.28806

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install libepoxy`

**Failure logs**
-- Acquiring MSYS Packages...
      0 [main] bash (11752) shared_info::initialize: size of shared memory region changed from 51128 to 40888
CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:72 (message):
    Command failed: C:

[2020-06-09 12:58] linquize commented on #10654
If vcpkg is killed, how do you tell package Z is missing?

[2020-06-09 12:59] GrayHub-737 commented on #11816
I appreciate your comment @NancyLi1013 , my problem is solved

[2020-06-09 13:53] olafurw commented on #10654
In my case it wasn't killed. Just failed to install due to a version mismatch. Same behavior as yours.

[2020-06-09 14:18] Mayhem93 opened #11854 "Trojan found (possible false positive)"
**Describe the bug**

![image](https://user-images.githubusercontent.com/705289/84158521-a175c680-aa74-11ea-9059-bd2e55f5f542.png)

Windows Security detected this script having a trojan-like behaviour, I looked into it but didn't have time to really go into the code and I thought I'd let you guys know.

**Environment**
- OS: windows 10, build 2004
- Compiler: not relevant

**To Reproduce**

The we

[2020-06-09 14:23] emptyVoid commented on #7617
Well that's a bit weird... I've just tried the same on my PC with Ethernet cable unplugged -- and the install succeeded.

[2020-06-09 14:28] ASxa86 commented on #7617
Yeah, I even confirmed I have all of the packages and the mingw32.db file on the machine. I wonder if my machine has some security restrictions applied that is preventing this from working.

[2020-06-09 15:22] omaralvarez commented on #11614
Done!

[2020-06-09 15:31] AndySomogyi commented on #11848
I just ran *vcpkg integrate install* and it still fails. VS complains it can't find cairo.h

I can post the generated .vcproj if you want,

My CMake looks like this:

[code]

And the test app ra-test.cpp looks like this:

ra-test.cpp:
[code]

And the visual studio output looks like this:

[code]

[2020-06-09 15:33] AndySomogyi commented on #11848
Here's the generated vcproj:

[code]

[2020-06-09 15:49] AndySomogyi commented on #11848
In CMake, is there a way to display the properties, like what include files it provides of a library name like ```unofficial::cairo```, or  print out what variables it provides?

[2020-06-09 16:02] jepessen commented on #11614
ok thanks

[2020-06-09 16:05] marcoxa opened #11856 "How do I install a package/library and above all executable?"
Hi

I just tried to install xalan-c on a clean vcpkg installation (first time!!!)

I looked at the examples and on vcpkg.readthedocs.io and on the command line help, but I do not seem to have understood how and where I can install the Xalan.exe executable.

Issuing

C:\Where\vcpkg\is> .\vcpkg install xalan-c

correctly installs the *libraries* for xalan and xerces.  But the Xalan.exe file is "left

[2020-06-09 16:58] varunkasi opened #11857 "PCL installation issue"
Package: hdf5:x86-windows
  Vcpkg version: 2020.02.04-nohash

[2020-06-09 17:50] Migamix commented on #11854
same issue, windows 8.1, denied by windows defender

[2020-06-09 18:43] GiovanniDicanio opened #11860 "[WinReg] update to v3.0.0"
Library name: WinReg

New version number: v3.0.0

Other information that may be useful (release notes, etc...)
Library URL: https://github.com/GiovanniDicanio/WinReg

vcpkg files attached in .zip archive.
[winreg_vcpkg_files.zip](https://github.com/microsoft/vcpkg/files/4754176/winreg_vcpkg_files.zip)

[2020-06-09 20:54] am2222 commented on #7526
@jremillard thanks for the port. I think we are working parallel. I noticed that you are adding two ports. to fix this you have to PR per each port. but as  a side question. why do you need libosmium?

[2020-06-09 21:10] jpcima commented on #11640
It's a success with the PR #11829. Thanks.
The software built correctly in both architectures.
https://ci.appveyor.com/project/SFZTools/sfizz/builds/33421287/job/eqhioqfssvte0paw

[2020-06-09 21:16] shimondoodkin opened #11862 "[uWebSockets] update to 18.1"
Library name: uWebSockets

New version number: 18.1

the current version is v0.17.2

https://github.com/microsoft/vcpkg/blob/master/ports/uwebsockets/portfile.cmake

[2020-06-09 21:32] am2222 commented on #7526
@jremillard I used your fork and added a PR for `libosmium` then we can marge our versions of mapnik to one version and make a PR. the current version that I currently have has most of features and copies most of the tools. however, I see that you are patching icu as well. is it because of building on linux?
https://github.com/microsoft/vcpkg/pull/11863

[2020-06-09 21:37] am2222 commented on #7526
@NancyLi1013 Is there any way to see the reason of failure on CI? For both `mapnik` and `libosmium` I can build them on my local machine for `x64-windows` but it fails on CI.

[code]

[2020-06-09 22:13] degski opened #11864 "[getopt_win32] supports mingw only"
By inspection one can see that the above port, is 'ported' from posix to mingw (I wonder why you need a port, but ok).

There is a Apache-licensed implementation here as a work-around (just drop it in): https://github.com/iotivity/iotivity/tree/master/resource/c_common/windows .

[2020-06-09 23:00] AndySomogyi commented on #11848
I ended up deleting the entire .vcpkg directory, completely deleting visual studio 2019, and re-installing everything. This time, looks like it ended up working.

In CMake, how could print the include directories and link files of the ```unofficial::cairo``` target?

I'd like to know what libraries I need to copy into to my redistribute directory, and not sure what other libraries cairo links to.

[2020-06-09 23:54] jremillard commented on #7526
@am2222 The protozero is needed for libosmium. You might have protozero laying around, which is making it work by accident? I don't see protozero in your local build output. My repo has protozero already packaged up.

libosmium isn't needed by mapnik. I ported it in because I needed for my application.

[2020-06-09 23:58] jremillard commented on #7526
@am2222 The harfbuzz patch was needed when you compile with UCI which is needed for mapnik. harfbuzz compiles ok, without the ICU option. https://github.com/jremillard/vcpkg/commit/cd0b94c9fe1e016a6da0d0191725ad6204cb1b8b

[2020-06-10 00:34] am2222 commented on #7526
@jremillard thanks. I have added protozero to vcpkg before and it seems it is accepted in the latest version of vcpkg. But it still does not build it. probably there is something wrong with the CI? maybe it is not using the latest vcpkg which has protozero?

[2020-06-10 00:36] am2222 commented on #7526
So I will add that patch as well. Thanks for the patches. It really helped me with getting rid of regular update on mapnik-windows branch. is there any automatic way to make those patch files from git repos?

[2020-06-10 00:46] BillyONeal commented on #11843
@invy: We can't handle it in CI because in the worst case CI needs to build every port which takes some 14 hours. We don't want to burn 14 hours of VM time because a port that normally takes 10 seconds to build got stuck. We would only need to do this for ports that are problematic / have a history of getting hung and could easily set them much higher than the time they normally take.

[2020-06-10 01:17] wangqr commented on #10906
Actually, avisynthplus 3.5.0 provided in vcpkg does satisfy "AviSynth+ r1718 or higher" requirement. AviSynth+ 3.4.0 is after r2772, and r2772 is after r1718.

[2020-06-10 01:37] NancyLi1013 commented on #11857
Hi @varunkasi
Thanks for posting this issue.
Could you please provide the error info you encountered?

[2020-06-10 01:45] NancyLi1013 commented on #11603
Personally, this issue has been solved, I'm closing this issue for now.
Please open a new issue if you have any other problem when using vcpkg.

[2020-06-10 01:45] #11603 closed

[2020-06-10 01:47] NancyLi1013 commented on #11822
Please let me know if you still have questions about this.

[2020-06-10 01:50] NancyLi1013 commented on #11657
@jrbarne1
Do you still have the problems after upgrading Visual Studio to 2017 or 2019?

[2020-06-10 01:57] NancyLi1013 commented on #10906
@wangqr
Thanks for your above info. I will try to verify if this can work now.

[2020-06-10 02:02] Qiu-Kejian commented on #11773
try removing the keyword 'constexpr'.

[2020-06-10 02:34] PhoebeHui commented on #11854
@BillyONeal, could you help have a look?

[2020-06-10 02:40] BillyONeal commented on #11854
This seems like something you'd have to report to Defender (via the Windows Feedback tool), or otherwise exclude.

[2020-06-10 02:49] dswcmp commented on #10695
Hi @JackBoosY
I ran into the same basic problem. Do I open a new lssues or upload a log here?
I am not very familiar with the operating principle of Lssues in GIhub

[2020-06-10 03:11] LilyWangL commented on #11856
Thanks for posting this issue. I can't found the `Xalan.exe` file in xalan-c source, do you mean the `XalanExe.cpp` file?

[2020-06-10 03:13] LilyWangL commented on #11092
Thanks for posting this issue. Please reopen this issue if this is still a problem for you.

[2020-06-10 03:13] #11092 closed

[2020-06-10 05:45] LilyWangL commented on #11469
@paul-sorensen Does this issue still occur?

[2020-06-10 05:53] JackBoosY commented on #10695
@dswcmp Just upload your log here.
Drag the log file to the edit box and waiting for upload.

[2020-06-10 06:04] marcoxa commented on #11856
If you run afresh

PS C:\vcpkg\is\here> vcpkg install xalan-c

The job seems to complete just fine and you end up with Xalan.exe (the executable) and friends in the following folders.

C:\vcpkg\is\here\vcpkg\buildtrees\xalan-c\x86-windows-dbg\src\xalanc
C:\vcpkg\is\here\vcpkg\buildtrees\xalan-c\x86-windows-rel\src\xalanc

In

C:\vcpkg\is\here\vcpkg\installed\x64-windows\bin

I find the .dll and .p

[2020-06-10 06:08] Cheney-W commented on #11802
@Zanardan
You could get the vcruntime140_1.dll by installing the Visual C++ Redistributable from https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads

[2020-06-10 06:15] LilyWangL commented on #11834
Thanks for posting this issue. Due to I have no MAC machine with gcc9, could you try to make soft link link `xcode/include` to `/usr/local/include`? This may solve the error `/usr/local/Cellar/gcc/9.3.0_1/lib/gcc/9/gcc/x86_64-apple-darwin19/9.3.0/include-fixed/stdio.h:219:10: fatal error: _ctermid.h: No such file or directory`.
@dan-shaw @BillyONeal Could you help take a look this issue?

[2020-06-10 06:21] LilyWangL commented on #11731
After running `.\vcpkg.exe integrate install` on VCPKG, you can create a c++ project and use the header files of opencv4 in your project like this:
![image](https://user-images.githubusercontent.com/47812810/84233710-6c757c80-ab25-11ea-94a6-7ec212dccd24.png)

[2020-06-10 07:19] dswcmp commented on #10695
//Everything else was installed successfully
PS G:\darknetyl\vcpkg> .\vcpkg install darknet[full]:x64-windows

Computing installation plan...
The following packages will be built and installed:
    darknet[core,cuda,cudnn,full,opencv-cuda,weights,weights-train]:x64-windows
  * opencv[core,cuda,dnn,ffmpeg,jpeg,opengl,png,tiff,webp]:x64-windows
  * opencv4[contrib,core,cuda,dnn,ffmpeg,jpeg,opengl,pn

[2020-06-10 07:29] dswcmp commented on #10695
Hi @JackBoosY
After I ran into a problem, I went through a lot of relevant solutions, so I compiled many times.I don't know if the log is overwritten or updated to the end every time it is compiled, it looks like the out log file is very large....I don't know if the other files are useful, but they're all uploaded

[2020-06-10 07:35] JackBoosY commented on #11813
It's a cairo bug.

[2020-06-10 08:18] LilyWangL commented on #11856
Importing Xalan.exe will be fixed in PR #11869. About "upgrading vcpkg", you can use command `.\vcpkg upgrade`, the related documentation: https://github.com/microsoft/vcpkg/blob/dcd9595b3fb3c556b24b46764e155bf79adde44f/docs/about/faq.md#how-do-i-update-libraries

[2020-06-10 08:30] JackBoosY commented on #11790
Hi @yogendra123456, thanks for reporting this issue!
Could you report this issue to upstream?

Thanks.

[2020-06-10 08:35] JackBoosY commented on #10695
@dswcmp I think this issue is the same as #11802, could you check my comments in #11802?

Thanks.

[2020-06-10 08:39] JackBoosY commented on #5518
@strega-nil Could you please take a look?

Thanks.

[2020-06-10 09:01] NancyLi1013 commented on #11848
@AndySomogyi
Thanks for your so detailed info and also for looking into this issue.
Actually, for the error like this:

`fatal error C1083: Cannot open include file: 'cairo.h': No such file or directory`

As `cairo `haven't included headers in cairo.target.cmake file. We need to add
[code]
to CMakeLists.txt.

If you want to know what include files or what libraries are linked, please refer to `tar

[2020-06-10 09:18] NancyLi1013 commented on #11081
I'm closing this issue for now since inactive in a long time.
Please feel free to reopen this if it is still a problem for you.

[2020-06-10 09:18] #11081 closed

[2020-06-10 09:43] JackBoosY commented on #6054
@Neumann-A I'm thinking about whether we need to rename it.

[2020-06-10 09:48] NancyLi1013 commented on #10538
In my option, the current status is correct.
So I'm closing this issue for now since there is no response in a long time.
Please feel free to reopen this if it is still a problem for you.

[2020-06-10 09:48] #10538 closed

[2020-06-10 11:52] invy commented on #11843
@BillyONeal I think 'reasonable' compromise would be to provide 'overlay' manifest file which would contain ports with corresponding timeouts, which you then pass as an argument. Making it the default behavior is just workaround which won't work for everybody and may cause headache for some developers.
I.e.
[code]
build_timeouts.txt
[code]

[2020-06-10 13:16] pr8x opened #11873 "[icu] build failure"
**Host Environment**
- OS: Windows 10 x64
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg install icu`

**Failure logs**

msys-pacman-x86-windows-err.log

[2020-06-10 13:38] abthompson opened #11874 "vcpkg_install_make fails: file(RENAME ...) called with a nonexistent input path"
**Describe the bug**
Installation of a `make`-based custom port fails due to a `file(RENAME ...)` ([vcpkg_build_make:250](https://github.com/microsoft/vcpkg/blob/master/scripts/cmake/vcpkg_build_make.cmake#L250)) call on a nonexistent path.

**Environment**
- OS: Linux (CentOS 7.7.1908 Docker container)
- Compiler: GCC 8.3.1 (`devtoolset-8` package, provided by `centos-release-scl` repo)

**To Rep

[2020-06-10 13:57] pwm1234 opened #11875 "[opencv3] patch to vcpkg build of 3.4.7-2"
Library name: opencv3[contrib]

Thanks for working on vcpkg and the opencv port! (I hope to soon be moving to opencv4, but until then ...)

The opencv3[contrib] feature will use hdf5 when it is available. But the opencv3 contrib /modules/hdf/CMakeLists.txt is broken on windows. It has some hand-crafted logic for finding hdf5, and that seems to work for the release build. But it does not work for t

[2020-06-10 16:01] GiovanniDicanio opened #11877 "[WinReg] update to v3.0.1"
Library name: WinReg

New version number: v3.0.1

Other information that may be useful (release notes, etc...)
URL: https://github.com/GiovanniDicanio/WinReg

vckpg description files attached in .zip archive.
[winreg_vcpkg_files.zip](https://github.com/microsoft/vcpkg/files/4759774/winreg_vcpkg_files.zip)

[2020-06-10 16:11] iamhatling opened #11878 "[New Port Request] libsoup"
Library name:libsoup

Library description:
libsoup is an HTTP client/server library for GNOME. It uses GObjects
and the glib main loop, to integrate well with GNOME applications.

Source repository URL:https://github.com/GNOME/libsoup

Project homepage (if different from the source repository):

[2020-06-10 16:13] jonshipman opened #11879 "[New Port Request] Mesa3D"
Library name: Mesa 3D Graphics Library

Library description: Mesa is an open-source implementation of the OpenGL specification. It also has additional API support including OpenGL ES (versions 1, 2, 3), OpenCL, OpenMAX, VDPAU, VA API, XvMC and Vulkan.

Source repository URL: https://gitlab.freedesktop.org/mesa/mesa.git

Project homepage (if different from the source repository): https://www.mesa3d

[2020-06-10 23:51] abthompson commented on #11874
I really appreciate your patience. It seems I needed to drink more coffee before opening the issue.

Walking through it with values for the variables:
[code]

I think the part I was missing is that `DESTDIR_tmp/PREFIX` is created by calling `vcpkg_configure_make` **sans `SKIP_CONFIGURE`**, meaning there's no way to call `configure --prefix=<path>`.

My apologies for all the noise and thank you aga

[2020-06-10 23:51] #11874 closed

[2020-06-10 23:56] dswcmp commented on #10695
@JackBoosY  Thank you
According to your method, I completed the installation of Darknet. Thank you. Could you please tell me what kind of trouble I met?

[2020-06-11 00:17] dswcmp commented on #11786
Hi @NancyLi1013  think you
I encountered this problem when Installing the Opencv4 module with VCPKG install Darknet [Full]: x64-Windows.I published Lssues in alexeyAB/ Darknet, where I got a reply that Darknet didn't support VS2019.When I installed VS2019, VCPKG could not successfully install the last module Darknet [Full]: X64. The others have been installed.But now I installed VS2017 and success

[2020-06-11 00:52] #11807 closed

[2020-06-11 00:53] #11823 closed

[2020-06-11 01:08] #6469 closed

[2020-06-11 01:49] FishOrBear commented on #11627
set the HTTPS_PROXY and HTTP_PROXY environment

Works for me

[2020-06-11 02:54] TheCycoONE opened #11881 "Failure to bootstrap vcpkg on 12d202099e9"
**Describe the bug**
Fails to bootstrap with compile errors regarding undefined "std::experimental::filesystem::*" types. (See attached)

**Environment**
- OS: Microsoft Windows [Version 10.0.18363.836] (x64)
- Compiler: VisualStudio.16.Release/16.5.2+29926.136

**To Reproduce**
Steps to reproduce the behavior:
1. ./bootstrap-vcpkg
2. See error

**Expected behavior**
Should bootstrap vcpkg

**Fail

[2020-06-11 03:00] #5518 closed

[2020-06-11 03:09] NancyLi1013 commented on #11857
@varunkasi
Thanks for your quick response. Now I'm closing this issue.
Please open a new issue if you have any other questions when using vcpkg.

[2020-06-11 03:09] #11857 closed

[2020-06-11 03:10] JackBoosY commented on #10695
@dswcmp
- If `libprotobuf.dll` and `libprotoc.dll` do not exist in the `protoc.exe` directory, it means that `vcpkg_copy_tool_dependencies` has a bug.
- If `vcruntime.dll` is missing, it means that `vcpkg_copy_tool_dependencies` needs to consider adding the feature of copying the system library.

[2020-06-11 03:38] varunkasi commented on #11857
Sounds good. Thank you.

On Wed, Jun 10, 2020 at 11:10 PM NancyLi1013 <notifications@github.com>
wrote:

[2020-06-11 06:15] YukinoHayakawa commented on #10549
Ah. I see. Feel so stupid missing that one :) Thank you.

[2020-06-11 06:29] PavelKisliak commented on #10549
No, no, the port was added after about month after your request.

[2020-06-11 06:35] JackBoosY commented on #11873
I think this issue should be fixed in #11810.

[2020-06-11 07:21] #11080 closed

[2020-06-11 07:29] #11419 closed

[2020-06-11 07:57] #11673 closed

[2020-06-11 08:02] JackBoosY commented on #11428
Close this issue via #11429 merged.

[2020-06-11 08:02] #11428 closed

[2020-06-11 08:13] #9874 closed

[2020-06-11 08:36] #11386 closed

[2020-06-11 08:55] JackBoosY commented on #10695
I think this is also an upstream design flaw, and I've reported this issue to upstream.

[2020-06-11 09:09] #9427 closed

[2020-06-11 09:10] LilyWangL commented on #11752
`realsense2` build failed on Linux with the following error, now `libusb` build failed on Linux, and it will be fixed in PR #9561. Waiting for PR #9561 merged, I will continue fix `realsense2:x64-linux` build error.
[code]

[2020-06-11 09:12] #11850 closed

[2020-06-11 09:14] #11862 closed

[2020-06-11 09:18] #11877 closed

[2020-06-11 09:27] #11813 closed

[2020-06-11 09:32] #11405 closed

[2020-06-11 09:42] #11677 closed

[2020-06-11 09:51] PhoebeHui commented on #11854
@Mayhem93, feel free reopen if you expect vcpkg do something here.

[2020-06-11 09:51] #11854 closed

[2020-06-11 09:54] PhoebeHui commented on #11768
@timautry, thanks for the comments!

@yes89929, could you please try above solution, please reopen if it still be a problem for you.

[2020-06-11 09:54] #11768 closed

[2020-06-11 09:55] LilyWangL commented on #11347
Thanks for your reply. I can't reproduce this issue locally, I installed it successfully with Visual Studio 2019 and VCPKG latest source on Windows 10. Could you provide your machine information?

[2020-06-11 09:57] PhoebeHui commented on #11618
@mbhoshen, feel free to reopen it still be a problem for you.

[2020-06-11 09:57] #11618 closed

[2020-06-11 10:07] PhoebeHui commented on #11417
Duplicate to https://github.com/microsoft/vcpkg/issues/11181.

[2020-06-11 10:07] #11417 closed

[2020-06-11 10:11] PhoebeHui commented on #11514
@kahotv, please reopen this issue if it still be a problem for you.

[2020-06-11 10:11] #11514 closed

[2020-06-11 10:13] PhoebeHui commented on #6021
@viacheslav1988, feel free to reopen this issue if it still be a problem for you.

[2020-06-11 10:13] #6021 closed

[2020-06-11 10:33] PhoebeHui commented on #11847
@tekert,

1. From the failure message in CMakeOutput.log, it seems the compiler couldn't be found, could you double check if the compiler setting up correctly in your machine.

Failures:
-- The CXX compiler identification is unknown
CMake Error at CMakeLists.txt:2 (project):
  No CMAKE_CXX_COMPILER could be found.
  Tell CMake where to find the compiler by setting either the environment
  variable

[2020-06-11 10:36] calumr opened #11885 "Can't use vcpkg in solutions with .csproj"
(From #557)

If you have a cmake project that is a mixture of C++ and C#, the csproj will fail to build. They run applocal.ps1 as a post-build step (even for C# projects), which tries to call dumpbin which is not in the $PATH when building inside VS.

**Environment**
- Windows, VS2017 & 2019

**Expected behavior**
I would expect this to not fail the build. Either do nothing in csproj builds, or as

[2020-06-11 10:40] PhoebeHui commented on #10824
@youmania83, please reopen if it still be a problem for you.

[2020-06-11 10:40] #10824 closed

[2020-06-11 12:15] tekert commented on #11847
I was debuggin this problem yesterday, GXX seems to be correctly detected by cmake now, so i tried restarting from scratch deleting everyting and now i get this error: Seems ..vcpkg/installed/x64-linux/share/boost-build/boost-modular-build.cmake  is never created now.

[code]

./vcpkg install boost --triplet x64-linux
builds a couple of boost modules and then:
[code]
Only logs created now contain

[2020-06-11 15:46] hellozee opened #11886 "[qt5-x11extras:x64-linux] build failure"
**Host Environment**
- OS: Kubuntu 20.04
- Compiler: GCC 9.3.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install qt5-x11extras`

**Failure logs**
[code]

[2020-06-11 15:55] GiovanniDicanio opened #11887 "[WinReg] update to v3.1.0"
Library name: WinReg

New version number: v3.1.0

Other information that may be useful (release notes, etc...)
GitHub Repo: https://github.com/GiovanniDicanio/WinReg

vcpkg files attached in .zip archive.

Thank you.
[winreg_vcpkg_files.zip](https://github.com/microsoft/vcpkg/files/4765892/winreg_vcpkg_files.zip)

[2020-06-11 16:25] tekert commented on #11847
Seems i fixed it, dunno what happened, but if i install the windows version of boost first and then linux, i got that error. Its too time consuming to test again, or maybe got a bad pull.

[2020-06-11 18:13] #11451 closed

[2020-06-11 19:57] Neumann-A commented on #11886
This happens if not all the required system libraries for the xcb feature in qt5-base are installed. With #11596 you will get an error in qt5-base instead.
[code]

[2020-06-11 19:59] Neumann-A commented on #11879
Blocked by meson.
1) Currently debug builds are impossible with llvmpipe enabled.
2) compiling to arm/arm64 on windows is impossible due to mesons sanity check.

[2020-06-11 20:13] JangBoo opened #11889 "[New Port Request] <bitmagic>"
Library name: bitmagic

Library description: Algorithms and tools for Algebra of Sets for information retrieval, indexing of databases, scientific algorithms, ranking, clustering, unsupervised machine learning and signal processing.

Source repository URL: https://github.com/tlk00/BitMagic

Project homepage (if different from the source repository): http://bitmagic.io/

Anything else that is usefu

[2020-06-11 20:43] #11144 closed

[2020-06-11 20:56] hellozee commented on #11886
Thanks a lot, @Neumann-A that fixed the issue, :smile:

[2020-06-11 20:56] #11886 closed

[2020-06-11 23:06] #11511 closed

[2020-06-11 23:12] swilson314 commented on #9132
I've run into this problem a number of times and have always been able to rename the file and restart. However, now I'm trying to run: vcpkg upgrade --no-dry-run. After renaming the file I again try to run upgrade, but I get the following response: All installed packages are up-to-date with the local portfiles.

It's unclear to me how I can proceed....

[2020-06-12 00:47] #11567 closed

[2020-06-12 00:51] BillyONeal commented on #6940
I'm closing this because all our CI infrastructure is now available in the repo under $/scripts/azure-pipelines.

[2020-06-12 00:51] #6940 closed

[2020-06-12 00:53] BillyONeal commented on #1015
In addition to what Alex said above ( https://github.com/microsoft/vcpkg/issues/1015#issuecomment-329048800 ) no current version of Visual Studio supports targeting Windows XP, so I don't believe we will ever add support for this.

[2020-06-12 00:53] #1015 closed

[2020-06-12 00:54] BillyONeal commented on #7295
We no longer install boost 1.70, closing this.

[2020-06-12 00:54] #7295 closed

[2020-06-12 00:55] BillyONeal commented on #9818
There was an internal compiler error affecting ffmpeg in VS 2019 16.6. Are you still seeing ffmpeg failing?

[2020-06-12 00:57] BillyONeal commented on #9921
I believe the proposed change would be breaking enough that we would not want to do that.

[2020-06-12 01:36] JackBoosY commented on #11853
Hi @fishnet3722,  thanks for reporting this issue.
Could you update vcpkg and try to rebuild this port?

Thanks.

[2020-06-12 01:39] #11806 closed

[2020-06-12 01:59] LilyWangL commented on #11667
@Nelarius Does this issue still occur?

[2020-06-12 02:04] NancyLi1013 commented on #10931
Hi @L-Sun
Thanks for posting this issue.
`spdlog `has been updated to 1.6.1. Please try to update vcpkg and use it.

[2020-06-12 02:04] #10931 closed

[2020-06-12 02:21] fishnet37222 commented on #11853
I just tried and it works without any errors.

[2020-06-12 02:23] JackBoosY commented on #11881
This function has been removed and fixed in the latest Visual Studio 2019.
Please update your Visual Studio.
Related: [#1269](https://github.com/microsoft/cpprestsdk/issues/1269)

Thanks.

[2020-06-12 02:23] #11881 closed

[2020-06-12 02:44] PhoebeHui commented on #11885
Related to https://github.com/microsoft/vcpkg/issues/11467.

[2020-06-12 02:51] BillyONeal commented on #9132
Most likely it isn't a permissions issue but the target file being locked/open

[2020-06-12 02:53] BillyONeal commented on #9132
@swilson314

That report sounds more like https://github.com/microsoft/vcpkg/issues/11457 -- vcpkg probably tried to install those prerequisite tools before even determining that changes needed to be applied.

[2020-06-12 02:54] #11134 closed

[2020-06-12 03:06] JackBoosY commented on #11853
@fishnet37222 Because this issue was fixed in #11810.

[2020-06-12 03:06] #11853 closed

[2020-06-12 03:12] LilyWangL commented on #11296
Sorry I am late. Could you please provide your Visual Studio installation details screenshot to us? Like this:
![image](https://user-images.githubusercontent.com/47812810/84460869-9a7dcc80-ac9d-11ea-9c73-e579f528a052.png)

[2020-06-12 03:38] rrouse commented on #11873
I pulled the most recent master (68244603d08e847f8af55ac5a7f5cb10cc70d04d) and rebuilt vcpkg.

When trying to install this library, it fails in a similar place still.

My msys-pacman error log file reads:

[code]

[2020-06-12 03:59] b1ain opened #11894 "[New Port Request] efsw"
Library name: efsw

Library description: File System Watcher

Source repository URL: https://github.com/SpartanJ/efsw

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2020-06-12 04:11] JackBoosY commented on #11873
@emptyVoid Could you please take a look?

Thanks.

[2020-06-12 04:19] PazerOP opened #11895 "Are automatic app-local dependencies supposed to work reliably for all packages?"
This is my first time using CMake so sorry if this is a dumb question.

I took the minimal example of usage with CMake from https://github.com/microsoft/vcpkg/blob/master/docs/examples/installing-and-using-packages.md and replaced sqlite3 with SDL2. I end up with this:

[code]
[code]

First things first: Neither <SDL2/SDL.h> or <SDL.h> can be found, so I add `find_path` and `target_include_directo

[2020-06-12 04:29] #11887 closed

[2020-06-12 04:30] #11808 closed

[2020-06-12 04:31] #11856 closed

[2020-06-12 04:39] #11817 closed

[2020-06-12 04:42] #11726 closed

[2020-06-12 05:13] #9884 closed

[2020-06-12 05:27] #8447 closed

[2020-06-12 05:28] qis commented on #11895
Here is a simple example project that works: https://github.com/qis/sdl2-test

Open it by right-clicking into the directory and selecting "Open in Visual Studio" or enter the directory in `cmd.exe` and run `make`, `make run`, or `make install`.

[2020-06-12 05:42] NancyLi1013 commented on #11786
Hi @dswcmp
Thanks for your above info. I have updated my case to upstream. Let's wait for the new reply.

[2020-06-12 05:48] JackBoosY commented on #5718
Close this issue via #11884 merged.

[2020-06-12 05:48] #5718 closed

[2020-06-12 06:09] NancyLi1013 commented on #11792
It seems a bit wired. Which version do you use Visual Studio? Could you please reinstall it and try this again?

[2020-06-12 06:23] Nelarius commented on #11667
I haven't been able to figure out what to do about it 😞

[2020-06-12 06:24] LilyWangL commented on #11253
@leifhelm Thanks for posting this issue. Does this issue occur? I installed `llvm[target-all,clang-tools-extra]:x64-windows` successfully with the latest VCPKG source.
[code]

[2020-06-12 06:51] emptyVoid commented on #11873
@pr8x and @rrouse, could you, please, retry installing `icu` deleting `<vcpkg>\downloads\tools\msys2` directory beforehand?

I've checked `vcpkg install icu` with an already acquired `MSYS2` and on the clean `vcpkg` installation -- both work for me.

If my suspicion is correct and the "MSYS2-clean" install of `icu` will succeed for pr8x and rrouse, to make the incremental installs of `MSYS2` depen

[2020-06-12 06:53] DailyShana commented on #11809
luajit uses GNU Make to build on POSIX platforms
https://github.com/LuaJIT/LuaJIT/blob/v2.1/Makefile

[2020-06-12 06:56] stinos commented on #9921
@BillyONeal I assume you mean the first of the three propsed changes? As said it can be opt-in so then it's not really breaking anymore.

[2020-06-12 07:07] LilyWangL commented on #11210
The related issue: #11845

[2020-06-12 07:53] hellozee commented on #11227
Okay, it could be reproduced with dynamic builds only, static ones don't seem to be affected

[2020-06-12 07:57] Neumann-A commented on #11227
Yeah static builds don't try to find dynamic dependencies at runtime ;) The problem is the dynamic linker does not know where to search for the required library.

[2020-06-12 08:02] hellozee commented on #11227
Okay now qt5-imageformats won't build,
[config-x64-linux-rel-rel-err.log](https://github.com/microsoft/vcpkg/files/4769493/config-x64-linux-rel-rel-err.log)

[2020-06-12 08:11] NancyLi1013 commented on #11782
Hi @rleigh-codelibre
Thanks for posting this issue.
I submitted a PR to add these executables. Could you please help confirm if this can work for you?

[2020-06-12 08:14] Neumann-A commented on #11227
Interesting never encountered that problem. You can just add it into the `TIFF_LIBS` for `OPT_REL` and `OPT_DBG` in the portfile

[2020-06-12 08:22] LilyWangL commented on #10900
Sorry I am late. Thanks for posting this issue. I can't reproduce this issue locally, I installed io2d:x64-linux successfully with the latest source. Does the issue persist? Can you try vcpkg latest revision?
[code]

[2020-06-12 08:53] Neumann-A commented on #11895
[code]

Using VCPKG does not simplify using CMake. So you still need to know which CMake targets a package export and correctly link it into your code.

[2020-06-12 08:59] PhoebeHui commented on #11864
I'm also not clear the background, the author @qmfrederik might know more about getopt-win32 port.

[2020-06-12 09:27] PhoebeHui commented on #11847
Do you install windows and linux version of boost on same machine? do you use wsl?

[2020-06-12 09:43] LilyWangL commented on #10899
Closed as duplicate of #7931.

[2020-06-12 09:43] #10899 closed

[2020-06-12 09:48] freddy77 commented on #11773
I also can confirm that removing `constexpr` from line 44 fix the issue. So

[code]

works.

[2020-06-12 09:54] Skynet0 opened #11900 "SDL2 x64-mingw triplets are not compatible with MinGW-w64 compiler"
**Describe the bug**
I used vcpkg to install SDL libraries, for compilation using MinGW g++. Compilation fails with incompatible libraries, even though I am using 64 bit versions for both, on Win 10 64 bit, and the MinGW SDL libraries from vcpkg.

**Environment**
- OS: Win 10 64 bit
- Compiler: MinGW-w64 g++

**To Reproduce**
Steps to reproduce the behavior:
1. `./vcpkg install sdl2:x64-mingw`
2.

[2020-06-12 11:32] degski commented on #11864
It's weird coz they only things that do not need porting are the common posix elements, while that's exactly what we seem to be doing here.

[2020-06-12 12:12] qmfrederik commented on #11864
Well, the goal of this port was/is to support compiling code which uses getopt on Windows, without needing msys2 (i.e. a native Visual C++ toolchain).

The codebase I maintain originally used a CoApp package to get bring in getopt, and at one point it was migrated to vcpkg and that's where this port comes from.

If there's an easier way to do that, happy to be educated.

[2020-06-12 12:15] rleigh-codelibre commented on #11782
@NancyLi1013 Absolutely, I'll build and test the PR this evening.  Many thanks for looking into this, it's really appreciated.

[2020-06-12 12:46] hellozee commented on #11227
Okay new issue, qt5-base now ends up with broken cmake configs, where all the configs end up having,
[code]
where `imported_implib` is an unknown variable, though switching that too `imported_location` manually fixes this.

[2020-06-12 12:56] Pospelove commented on #332
@Type1J Hi. It works but uses prebuilt CEF which is not acceptable by vcpkg.

[2020-06-12 12:57] Neumann-A commented on #11227
hmm is this 5.12.8 or 5.14?

[2020-06-12 12:58] hellozee commented on #11227
5.12.8

[2020-06-12 13:06] Neumann-A commented on #11227
Should not happend with 5.14. The PRL parser is just backported to 5.12.8 in vcpkg and probably only works correct with the tested triplets.

[2020-06-12 13:35] Voskrese commented on #11900
`ls C:/Dependencies/vcpkg/installed/x64-mingw/lib/libSDL2.a`

`ls C:/Dependencies/vcpkg/installed/x64-mingw/lib/SDL2.a`

[2020-06-12 14:09] rrouse commented on #11873
@emptyVoid It still fails for me in exactly the same way. I cleaned out all the downloads and directories to be doubly sure I was getting clean files.

Doing some further searching, the key issue was reported to MSYS2-pacman itself: https://github.com/Alexpux/MSYS2-pacman/issues/12

I'm not exactly sure why this is happening to me specifically, but if it's not happening to anyone else, I'll chalk

[2020-06-12 15:07] rrouse commented on #11873
@emptyVoid As an experiment, I edited the vcpkg_acquire_msys.cmake file to run the set of pacman/gpg kill commands twice.

[code]
So it looks like you have to update with pacman before the pacman keys will be accepted.

[2020-06-12 15:57] Type1J commented on #332
Yes, building is a pretty important part. ARM64, x64, and other platforms, like Linux, should just work. There are binary distros for all of them. I know that it would take a long time to build, but it would fit better in vcpkg if it built from source.

[2020-06-12 15:59] bluespidernav commented on #932
Hmm maybe its a temporary website issue BUT I'm trying to download: strawberry-perl-5.30.0.1-32bit-portable.zip. Initially this download was being automated by the build of qtwebkit but I could see in the build progress it was stalling here and eventually failed! So I went directly to the strawberry site and attempt to download manually. This is NOT working! It gets only as far as 215Kb! The file

[2020-06-12 17:30] Desmond121 opened #11902 "[boost] build failure"
**Host Environment**
- OS: Windows10

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install boost:x64-windows`

**Failure logs**
Additional packages (*) will be modified to complete this operation.
Starting package 1/146: boost-compatibility:x64-windows
Building package boost-compatibility[core]:x64-windows...
-- Using cached D:/vcpkg/downloads/boostorg-compatibility-boost-1.73.0.tar.

[2020-06-12 17:38] atharkes commented on #11792
Of Visual Studio I am using enterprise 2017 and community 2019, but it is using the 2019 version for compiling and building.

I repaired the 2019 version and the tried again, but no luck. Later i can try to reinstall the 2019 version.

[2020-06-12 17:45] PazerOP commented on #11895
@Neumann-A that works perfectly! Thanks! I didn't come across any examples online that used that notation. It's not even in the documentation for `target_link_libraries` but at least I know about it now.

[2020-06-12 17:45] #11895 closed

[2020-06-12 18:10] hellozee commented on #11902
Could you try to install that again, sometimes it does fail to download, :smile:

[2020-06-12 18:17] qis commented on #11895
`vcpkg install sdl2` printed it out…

[2020-06-12 18:38] PazerOP commented on #11895
Correct, I misread that because everywhere else I was looking online (including the examples here) don't use that form.

[2020-06-12 18:53] Skynet0 commented on #11900
The first one exists, the second one doesn't. I don't have any files named `SDL2.a` on my system, apparently.

[2020-06-12 19:21] Voskrese commented on #11900
`"-llibSDL2main","-llibSDL2"`

[code]

[2020-06-12 19:26] Skynet0 commented on #11900
That fails to find the files, doesn't seem to even look at any (while `-lSDL2main` sees them, and skips).

[code]

[2020-06-12 19:45] Voskrese commented on #11900
mingw lib suffix .a ?

[2020-06-12 19:53] Skynet0 commented on #11900
http://www.mingw.org/wiki/specify_the_libraries_for_the_linker_to_use

Seems right? The lib files in the archive that I downloaded from the SDL website for MinGW have the `.a` suffix as well.

[2020-06-12 20:57] 0blu opened #11904 "LibTins cannot be statically linked because it using __declspec(dllimport)"
**Describe the bug**
A clear and concise description of what the bug is.

**Environment**
- OS: Windows 10
- Compiler: MSVC 14.26.28801

**To Reproduce**
`vcpkg install libtins:x86-windows-static`
or
`vcpkg install libtins:x64-windows-static`

`main.cpp`
[code]

`CMakeLists.txt`
[code]

**Expected behavior**
Expecting to successfully link `libtins` without any dll-requirements.

**Failure logs**
`

[2020-06-12 22:19] dec0dOS opened #11905 "GDAL update to 3.1.0"
Library name: GDAL

New version number: 3.1.0

[2020-06-12 23:15] AtikMo opened #11906 "[atkmm] build failure on Linux"
**Host Environment**
- OS: Linux (Ubuntu)
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install gtkmm`

**Failure logs**
-- Building /home/Dell/Documents/vcpkg-master/buildtrees/atkmm/src/atkmm-2-de808b48b0/MSVC_Net2013/atkmm.sln for Release
CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:72 (message):
    Command failed: msbuild /home/Dell/Docu

[2020-06-13 01:19] msken opened #11907 "[pcl] build failure"
**Host Environment**
  Package: proj4:x64-osx
  Vcpkg version: 2020.02.04-unknownhash
**To Reproduce**
Steps to reproduce the behavior:
./vcpkg install pcl

**Failure logs**
[code]

[2020-06-13 01:21] tekert commented on #11847
Yep, from the top of my mind this is what happened:
built vcpkg from windows, then used wsl2 to build it in linux
issued a comand from windows in vcpkg to install boost on windows, everyting went well.
issued a second command from windows to build the linux version of boost.
here i had a problem mid way, it needed to manually install missing tools (i think it was git).
after that something went ba

[2020-06-13 01:56] makitsune commented on #6205
The crashpad port here is an example using gn so I took a look at adding WebRTC today.

However, I think compiling WebRTC through Vcpkg is not very intuitive at all because the amount of dependencies add up to a total of 10 GB. I'm not sure if that's with or without android deps.

I found this website and git repo that provides automatic builds. The website explains more about the complexity of bu

[2020-06-13 03:35] Desmond121 commented on #11902
Actually I have already install it for so many times. I doubt that it might be my network issue at first, then I try to install opencv4 and it worked. So I guess maybe there is something wrong with the install URL(the 'raw.githubuserxxxxx')? I copy it to my browser and still cannot open it.

[2020-06-13 04:25] hellozee commented on #11902
The link does open in my browser, if that is the one from the log which you post. Also I too installed that package a few hours back.

[2020-06-13 06:43] ohhmm commented on #11307
Sorry, I didn’t get you first. Thanks for the help. I’ll try it.

[2020-06-13 07:25] handicraftsman opened #11909 "[skia] Add Linux and Android support"
Skia supports Linux and Android operating systems natively, but vcpkg's build scripts do not.

[2020-06-13 07:29] handicraftsman opened #11910 "[skia] Add ANGLE support"
GN scripts for Skia allow building it with Google's ANGLE to render with latest supported OpenGL, DirectX, or Metal (in progress), while all shaders are in OpenGL ES.

[2020-06-13 07:31] traversaro commented on #932
Hi @bluespidernav, if this is helpful I uploaded the required file in https://github.com/traversaro/vcpkg-download-cache/releases/tag/cache , so if you still have the problem you can download the file from there and  copy it manually in the vcpkg's download folder.

[2020-06-13 10:49] 0-wiz-0 opened #11914 "[libzip] update to 1.7.1"
Please update libzip to the latest version.

Library name: libzip

New version number: 1.7.1

Other information that may be useful (release notes, etc...)
Release notes since 1.6.1:
1.7.1 [2020-06-13]
==================

* Restore `LIBZIP_VERSION_{MAJOR,MINOR,MICRO}` symbols.
* Fixes warnings reported by PVS-Studio.
* Add `LIBZIP_DO_INSTALL` build setting to make it easier to use
  libzip as subpr

[2020-06-13 12:37] learn-more opened #11916 "[llvm] build failure"
It seems that not installing the package-default clang leads to problems in the (?install?) step.

**Host Environment**
- OS: Windows 10, 1903
- Compiler: MSVC 19.25.28614.0

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg.exe install --triplet x64-windows-static llvm[core,disable-assertions,target-arm,target-aarch64,target-mips,target-powerpc,target-sparc,target-x86]`

**Failure logs**

[2020-06-13 15:29] chena1982 opened #11917 "[New Port Request] pdfium"
Library name: pdfium

Library description: Chromium used pdf library.

Source repository URL: https://pdfium.googlesource.com/pdfium/+/master/docs/getting-started.md

Project homepage (if different from the source repository):

I found some c++ pdf library, most of them didn't update now.
Google will maintain this library, so i think it's a better choice.

Thanks.

[2020-06-13 16:18] lamarrr opened #11918 "[New Port Request] STX"
Library name: STX

Library description: C++ 17 & C++ 20 Error-Handling and Utility Extensions

Source repository URL: https://github.com/lamarrr/STX

Project homepage (if different from the source repository): https://lamarrr.github.io/STX/

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

- it fetches dependencies using gi

[2020-06-13 18:46] yurybura opened #11921 "[New Port Request] mysql-connector-cpp"
Library name:
MySQL Connector/C++
Library description:
MySQL Connector/C++ is a MySQL database connector for C++.
Source repository URL:
https://github.com/mysql/mysql-connector-cpp

[2020-06-13 20:09] martinsah opened #11922 "[New Port Request] Libosmium"
Library name: Libosmium

Library description: A fast and flexible C++ library for working with OpenStreetMap data.

Source repository URL: https://github.com/osmcode/libosmium

Project homepage (if different from the source repository): https://osmcode.org/libosmium/

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2020-06-13 21:10] Septarius opened #11923 "[apr-util] build failure"
**Host Environment**
- It is a failure via the CI during a PR build.
- OS: x64_osx
- Compiler: AppleClang 11.0.3.11030032

**To Reproduce**
Steps to reproduce the behavior:
Created PR that retriggered the apr-util build #11961

**Failure logs**
_Console_
[code]

_Config Errors_
[code]

_Build Errors_
[code]

Attached are the artifacts from the builds
[PR11882-x64-osx port build failure logs.zip](h

[2020-06-13 21:15] mrsewell opened #11924 "How do I change installation for alternate location of libstdc++.so.6?"
When I run ./bootstrap-vcpkg.sh and then ./vcpkg integrate install I get the following output:
[code]
My guess is that Performing Test CMAKE_LIBC_PTHREAD - Failed is causing the problem with ./vcpkg integrate install when it looks for libstdc++.so.6: version `GLIBCXX_3.4.26' in /usr/lib/x86_64-linux-gnu. I installed a newer version of gcc in my home directory because the one in /usr/bin is gcc-5.

[2020-06-13 22:17] xahon commented on #9597
overcomplicated stuff

[2020-06-13 23:55] Pospelove opened #11925 "[New Port Request] pdbex"
Library name: pdbex

Library description: A utility for reconstructing structures and unions from the PDB into compilable C headers

Source repository URL: https://github.com/wbenny/pdbex

[2020-06-14 02:29] kevinlul opened #11927 "How do I set the Android SDK platform version outside of editing android.cmake?"
I can set ANDROID_NATIVE_API_LEVEL by editing the provided [toolchain file](https://github.com/microsoft/vcpkg/blob/master/scripts/toolchains/android.cmake#L5). I've noticed that setting this in the triplet file has no effect. Can the platform version for Android be configured as a user of vcpkg without editing files in the tree or is this the only way?

[2020-06-14 03:30] Desmond121 commented on #11902
That means it would something wrong with my setting, I'll go to check it, thanks bro.

[2020-06-14 03:30] #11902 closed

[2020-06-14 04:01] ArielxX opened #11928 "[New Port Request] Simple-FFT"
Library name: Simple-FFT

Library description: Header-only C++ library implementing fast Fourier transform of 1D, 2D and 3D data.

Source repository URL: https://github.com/d1vanov/Simple-FFT

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2020-06-14 04:32] YukinoHayakawa commented on #10549
Feeling better now :)

[2020-06-14 05:11] Pospelove commented on #11928
You can use this: https://github.com/microsoft/vcpkg/pull/11929. However I am not sure my PR can be merged, for now, there is no LICENSE.md in the repo of the library requested.

[2020-06-14 06:18] vikasmalik22 commented on #11601
I am also facing the same issue. Any updates?

[2020-06-14 07:07] HuQingsheng520 commented on #11601
My solution is to download and use the 2020.04 release.

[2020-06-14 08:36] HuQingsheng520 opened #11932 "[New Port Request] <MyGUI>"
Library name:MyGUI

Library description:MyGUI is a library for creating Graphical User Interfaces (GUIs) for games and 3D applications. The main goals of mygui are: speed, flexibility and ease of use.

Source repository URL:http://mygui.info/

Project homepage (if different from the source repository):http://mygui.info/

Anything else that is useful to know when adding (such as optional features t

[2020-06-14 09:47] 0blu commented on #11904
Thanks to @ras0219-msft on Discord, he figured out that it is necessary to define `#define TINS_STATIC` before using `#include <tins/tins.h>`.
Unfortunately the `Packet.lib` is now not included and will cause link errors:
[code]

Manually setting the `Packet.lib` path and adding the required `Version.lib` will cause _already defined_-Errors
[code]

# Updates files:
`main.cpp`
[code]

`CMakeLists.t

[2020-06-14 10:09] marcoxa opened #11933 "Please clearly document PATH issues (on W10, and I suspect elsewhere)"
****
I reported an issue wrt the xalan-c tool a few days ago.  It appears that some changes have been made to that package, but IMHO, the documentation is still lacking a clear indication of what a user should expect and/or do.

**Is your feature request related to a problem? Please describe.**

When installing a package -- xalan-c in my case -- the executable ends up in

.../vcpkg/installed/x64-w

[2020-06-14 10:14] adamvm commented on #9824
@astavonin Is the problem still occcuring ?

[2020-06-14 10:39] astavonin commented on #9824
@adamvm, do not know. It was pet-project and I just switched to Conan.

[2020-06-14 17:37] SuperWig opened #11940 "[New Port Request] nanobench"
Library name:
nanobench

Library description:
a platform independent microbenchmarking library for C++11/14/17/20.

Source repository URL:
https://github.com/martinus/nanobench

Project homepage (if different from the source repository):
https://nanobench.ankerl.com/

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2020-06-14 20:02] traversaro commented on #932
This PR will probably help: https://github.com/microsoft/vcpkg/pull/11938 .

[2020-06-15 02:46] JackBoosY commented on #9597
And we are adding feature `binarycaching` to vcpkg, see #11204.

[2020-06-15 02:56] JackBoosY commented on #11907
Hi @msken, thanks for reporting this issue!
Please provide failure logs _/Users/******/git/vcpkg/buildtrees/proj4/config-x64-osx-dbg-out.log_ and _/Users/******/git/vcpkg/buildtrees/proj4/config-x64-osx-dbg-err.log_.

Thanks.

[2020-06-15 04:34] xahon opened #11942 "Where to find all vcpkg's cmake variables that i can use in portfile?"
I found a doc on cmake functions available in portfiles but not about variables (Not environment ones)

[2020-06-15 06:39] NancyLi1013 commented on #11906
Hi @AtikMo
Thanks for posting this issue.
Since `atkmm `currently doesn't support linux. Let's track this issue here #9564.

[2020-06-15 06:39] #11906 closed

[2020-06-15 07:01] TonyXiang8787 opened #11944 "How do I avoid the lock of Windows Domain account by corporate virus scanner"
**Describe the bug**

After I clone the repository, my Windows Domain account is immediately locked by the corporate virus scanner. After contacting the IT security, they have concluded that there are disallowed script in the folder (repo) in [prevision-image.ps1](https://github.com/microsoft/vcpkg/blob/master/scripts/azure-pipelines/windows/provision-image.ps1). Specifically, the following lines

[2020-06-15 07:21] NancyLi1013 commented on #11923
@Septarius
Thanks for posting this issue.
Could you please help confirm if you can reproduce this on your machine?
I try to test this and it can be built successfully on my local.

[2020-06-15 07:30] trietptm commented on #11773
I checked yesterday and this problem was fixed.

[2020-06-15 07:50] freddy77 commented on #11773
Yes, this was fixed by #11891. The bug can be closed

[2020-06-15 08:04] NancyLi1013 commented on #10906
Hi @wangqr and @longnguyen2004
I submitted a PR to add `avisynthplus`. Could you please help confirm if this can work for you?

Note:
Since `avisynthplus` currently only supports dynamic build and it doesn't support Linux.
Feature `avisynthplus` can only be built on x86-windows and x64-windows triplets.

[2020-06-15 08:35] pr8x opened #11947 "[boost-filesystem] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: revision

**To Reproduce**
`vcpkg install  boost-filesystem:x64-windows`

**Failure logs**
[code]

build-x64-windows-rel-out.log
[code]

[2020-06-15 09:44] LilyWangL commented on #11773
Thanks for posting this issue. This issue has been fixed. So I am closing this issue for now.

[2020-06-15 09:44] #11773 closed

[2020-06-15 09:52] NancyLi1013 commented on #11751
Hi all,
`python3 `has been updated to 3.8. Could you please try to update vcpkg and rebuild this?

[2020-06-15 10:05] yes89929 opened #11948 "How do I use multiple exported files from vcpkg on vs2019 cmake project?"
Hi
I'm always get help from vcpkg contributors and I appreciate it.
And I came back because of some problem in using exported packages of vcpkg.

For example,

1. Install packages
`vcpkg install boost`
`vcpkg install qt5`

2. Export packages individually
`vcpkg export boost --raw`
`vcpkg export qt5 --raw`

3. Import toolchain files on vs2019
but, Cmake prject in vs2019 can't select multiple toolch

[2020-06-15 10:30] Voskrese commented on #11879
https://github.com/pal1000/mesa-dist-win/issues/35

https://github.com/pal1000/mesa-dist-win/commit/a2661caeba56ad0c05ae8dcb81f6a8864daeb522

[2020-06-15 11:00] Lvdi opened #11950 "[New Port Request] Open3D"
Library name: Open3D

Library description: A Modern Library for 3D Data Processing

Source repository URL: https://github.com/intel-isl/Open3D

Project homepage (if different from the source repository): http://www.open3d.org/

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2020-06-15 11:59] emptyVoid commented on #11873
@rrouse, the part that is failing for you has always been there (https://github.com/microsoft/vcpkg/commit/2f8d8d8b18f8a6dd7dad6e3290074dc6044395ce) and it seems no one else has stumbled on this issue. It really looks like something in your system interferes with the GPG key signing. Do you by chance use YubiKey? (I'm seeing a few issue reports concerning `pacman-key` failing on Arch Linux with a

[2020-06-15 12:02] pr8x commented on #11873
For me, the issue was resolved by deleting the msys2 folder beforehand. Should we close this and create seperate ticket for  @rrouse' issue?

[2020-06-15 12:37] arsdever opened #11951 "QUESTION: vpx is not available for UWP on ARM* processors?"
https://github.com/microsoft/vcpkg/blob/ffa7fd27cfa29f206d1fd2ccfc722cad4aaeef3d/ports/libvpx/portfile.cmake#L1

Hi guys. As I understood from the first line, it is saying that it must fail on `UWP ARM*`, right?

[2020-06-15 12:53] lkleen commented on #11834
I'm not sure where to create the soft link. /Applications/Xcode9.1.app/Contents/Developer/Library/Xcode ?

[2020-06-15 12:57] emptyVoid commented on #11873
Yeah, I think rrouse' issue deserves a separate ticket.

As per this issue, please, don't close it just yet -- I'll create a PR resolving the need of deleting `MSYS2` folder manually.

[2020-06-15 13:45] jonasjuni commented on #10805
Good news,
Last update

[2020-06-15 14:52] jsutes commented on #11751
@NancyLi1013 Starting with an empty up-to-date vcpkg setup, I can now successfully install boost.

But when I try to update my old vcpkg folder, remove the old half-built boost packages, and rerun `./vcpkg install boost` command, it fails.  I see that it installed the new python 3.8 version, but it now fails when building boost-python.  It might be getting confused with the old python 3.7 files st

[2020-06-15 16:58] davidhunter22 opened #11957 "MSBuild integration a la <PackageReference>"
Have any discussions happened on providing direct VCPKG support in vcxproj MSBuild file? I am thinking in a similar way to <PackageReference> for NuGet packages in csproj file. Something along the lines of
[code]
with everything else happening "magically" would be my dream. I guess this presupposes some of the things in the roadmap.

[2020-06-15 20:13] #3770 closed

[2020-06-15 21:00] Herobr1ne opened #11959 "[PortAudio] build failure"
**Host Environment**
- OS: Windows 10 Pro
- Compiler: cmake

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install portaudio`

**Failure logs**

  Package: portaudio:x86-windows
  Vcpkg version: 2020.02.04-nohash

[code]

[2020-06-15 21:20] Reveares opened #11960 "[slikenet] CMake targets seems to be missing"
Slikenet defines CMake targets like **RakNetDLL** and **RakNetLibStatic**. Unlike other projects I can't find them when I do `find_package(RakNetDLL CONFIG REQUIRED)` .
Are they missing for this port and if yes could they be included? Or am I doing something wrong?

[2020-06-15 23:47] BillyONeal commented on #9921
@stinos I don't believe any of the proposed alternatives are workable but I might not understand the last one.

* The first is out because it's a massive compatibility break (it breaks the whole `integrate install` feature for most customers).
* The second requires a time machine -- we don't know whether a project is using vcpkg until we run the step you consider problematic to determine that, sin

[2020-06-16 00:14] Septarius commented on #11923
@NancyLi1013
I don't have anything local to test the OSX build. I created a PR to attempt to reproduce the build error of apr-util by retriggering it on the CI #11961

[2020-06-16 01:58] LilyWangL commented on #11959
Thanks for posting this issue. Could you please provide the error log `config-x86-windows-out.log`?

[2020-06-16 02:57] NancyLi1013 commented on #11751
Hi @jsutes and @hcyang99
Thanks for your update.
As for the problem caused by update, first, we need to remove all the files generated by the old version. Then try to update and rebuild the new version.

[2020-06-16 03:08] JackBoosY commented on #11951
Hi @arsdever, thanks for reporting this issue!
The port where this line of code is added does not **currently** support specific triplets or the port **itself does not support** specific triplets.

[2020-06-16 05:19] josch opened #11962 "[mpir] build failure (regression)"
**Host Environment**
- OS: Windows 10
- Compiler: VS 2017 & 2019

after this update:

    mpir:x64-windows-v141            3.0.0-7 -> 3.0.0-8

I get the following error when building mpir:

[code]

full log:

https://ci.appveyor.com/project/josch/3dtk/builds/33540793/job/9y0wa55s08qv68a2?fullLog=true

[2020-06-16 05:57] PhoebeHui commented on #11944
Related to https://github.com/microsoft/vcpkg/issues/11854

[2020-06-16 06:01] LilyWangL commented on #11916
Thanks for posting this issue. I can't reproduce this issue locally, did you do some changes before building llvm?

[2020-06-16 06:04] PhoebeHui commented on #11944
@TonyXiang8787, I think you can exclude the file in Defender Antivirus to avoid the false alert.

[2020-06-16 06:09] PhoebeHui commented on #11947
@pr8x, could you try to build boost with clean source? I can't repro this issue locally.
Boost upgraded to 1_73, however, the dependency ports also need to rebuild again.

BTW, it need 3 steps to remove all boost related components
1 ./vcpkg remove boost-vcpkg-helpers --recurse
2. ./vcpkg remove boost-modular-build-helper
3. ./vcpkg remove boost-build

[2020-06-16 06:16] JackBoosY commented on #11832
Since #11810 merged. does this issue resolved?

[2020-06-16 06:19] emptyVoid commented on #11832
No, it's a `vcpkg_configure_make` issue and a port bug. Should be partially fixed by #11836.

[2020-06-16 06:20] PhoebeHui commented on #11847
Do you use same vcpkg instance for windows and Linux? if so, I think you need distinguish them, clone vcpkg source for linux and another vcpkg source for windows.

[2020-06-16 06:29] NancyLi1013 commented on #11962
Hi @josch
Thanks for posting this issue.
Have you changed something for mpir? I noticed that all ports were built with x64-windows-v141 in your full log.

Could you please provide the content included in x64-windows-v141 triplet?

[2020-06-16 06:34] josch commented on #11962
[code]

[2020-06-16 06:37] JackBoosY commented on #11951
For this port, I can confirm it support arm and uwp.

[2020-06-16 06:50] arsdever commented on #11951
@JackBoosY Thanks a lot for your support. One question. Since I don't use `vcpkg` for some reason, but I have to build the lib for `UWP`. Do I need to apply some patches to be able to do build the lib for `UWP`? And, if speaking general, do I have to apply patches in the ports to build any lib for `UWP`? I mean, can I rely on the patches only when trying to build for `UWP`?

[2020-06-16 06:51] JackBoosY commented on #11948
Hi @yes89929, thanks for reporting this issue!
I don't know why you don't want to use the function of exporting multiple ports.
In order to ensure the correct dependencies between ports, we need to use the same vcpkg to export them, so it is reasonable to use multiple exports.

[2020-06-16 07:02] learn-more commented on #11916
Looking at the activity on this ticket, I can ignore the email about not being able to reproduce?

[2020-06-16 07:07] NancyLi1013 commented on #11962
Hi @josch
Since you set `VCPKG_BUILD_TYPE ` as release in the triplet, it will not build debug type again.

You can comment these two lines out.
[code]
Or add the condition to judge the build type.
[code]

[2020-06-16 07:21] josch commented on #11962
Thanks for the patch -- I turned it into a pull request: #11964

[2020-06-16 07:40] stinos commented on #9921
@BillyONeal to clarify:

I'm suggesting to make it opt-in via an argument to `integrate install` so it doesn't break anything unless explicitly asked for.

Ok clear, thanks.

Not sure if tit's the same: it's a suggestion to skip the `AppLocalFromInstalled` target if outputs are up-to-date, i.e. just like ClCompile and Link targets. And just like Visual Studio behaves: if a project has been built a

[2020-06-16 07:42] JackBoosY commented on #9399
Hi @AMS21, sorry for late.
Does this issue still exist? I can't repro it on my machine.

Thanks.

[2020-06-16 07:42] JackBoosY commented on #9355
Hi @AMS21, sorry for late.
Does this issue still exist?

[2020-06-16 08:07] bendonderer commented on #9818
I haven't had any build problems since February.

[2020-06-16 08:46] JackBoosY commented on #8755
Close this issue via #8670 merged.

[2020-06-16 08:46] #8755 closed

[2020-06-16 08:46] LilyWangL commented on #11916
Yes, this issue will be fixed in PR #11956.

[2020-06-16 08:49] JackBoosY commented on #11951
@arsdever Generally, if the port does **NOT** use system functions that **only support** the **desktop app**, the port can build uwp, otherwise we need to find other functions that support uwp to replace it and make some patches.

[2020-06-16 08:50] JackBoosY commented on #7735
Hi @yousifd, sorry for late.
Does this issue still exits?

[2020-06-16 08:56] JackBoosY commented on #9818
Hi @agaace , does this issue still bother you?

[2020-06-16 09:12] pr8x commented on #11947
I actually recloned vcpkg and it seems to be running now. Strange.

[2020-06-16 09:14] arsdever commented on #11951
@JackBoosY Just to clarify. If there is a functionality to be changed, then these changes will be included in patches in the repository. And, when pulling the patches and patching the sources, developers should be able to compile the port. No more actions needed.

Correct?

[2020-06-16 09:46] JackBoosY commented on #11951
Yes,  but the patches should be put into path _VCPKG_PATH/Ports/PORTNAME_.

[2020-06-16 10:05] arsdever commented on #11951
@JackBoosY Thanks a lot. I have got all the answers.

[2020-06-16 12:08] jsutes commented on #11751
@NancyLi1013 Thank you.
I ended up deleting my old vcpkg folder since I was running out of disk space so I can't easily test updating my old setup. But what you describe makes sense. Thanks again.

[2020-06-16 12:25] pr8x opened #11969 "[boost-locale] ICU backend missing"
I ran `vcpkg install boost-locale[icu] boost-regex[icu] boost --triplet x64-windows --recurse`  to install the boost-locale library with icu support. However, querying the supported backends via
[code]

only returns `std` and `winapi`. Seems like it's not properly building it with icu backend. Also it doesn't seem to require linkage to icu binaries.

**Environment**
- OS: Windows10 x64
- Compiler:

[2020-06-16 12:26] #11947 closed

[2020-06-16 13:27] alexander-smyslov opened #11970 "[libpq] build failure"
**Host Environment**
- OS: Windows 10x64
- Compiler: Visual Studio 2017

**To Reproduce**
Steps to reproduce the behavior:
vcpkg.exe install libpq[core,openssl,zlib]:x64-windows

**Failure logs**
       prepare.c
         sqlda.c
         typename.c
     4>c:\program files (x86)\microsoft visual studio\2017\professional\vc\tools\msvc\14.16.27023\include\xkeycheck.h(65): warning C4005: 'inline': ma

[2020-06-16 15:41] jsutes commented on #11886
@Neumann-A Do you know how to get feedback from the `./vcpkg install qt5-x11extras` install process to determine which system libraries are still missing?

I'm running into this issue on centos 8 which uses DNF as the package manager.  I've been going through each package name in the apt install list and trying to search for the corresponding name for dnf, but I must still be missing something bec

[2020-06-16 15:45] timautry opened #11972 "This seems like something you'd have to report to Defender (via the Windows Feedback tool), or otherwise exclude."
`This seems like something you'd have to report to Defender (via the Windows Feedback tool), or otherwise exclude.`

_Originally posted by @BillyONeal in https://github.com/microsoft/vcpkg/issues/11854#issuecomment-641685023_

also reference: https://github.com/microsoft/vcpkg/issues/11944

Why?

Microsoft/Windows Defender has done exactly what it was designed to do - flagged a script  having comm

[2020-06-16 15:47] Herobr1ne commented on #11959
`[1/2] cmd /c "cd .. && "C:/Users/steve/Desktop/vcpkg-master/downloads/tools/cmake-3.17.2-windows/cmake-3.17.2-win32-x86/bin/cmake.exe" "C:/Users/steve/Desktop/vcpkg-master/buildtrees/portaudio/src/ebd3ebfacc-5ed52dac86" "-DPA_USE_DS=ON" "-DPA_USE_WASAPI=ON" "-DPA_USE_WDMKS=ON" "-DPA_USE_WMME=ON" "-DPA_LIBNAME_ADD_SUFFIX=OFF" "-DCMAKE_MAKE_PROGRAM=C:/Users/steve/Desktop/vcpkg-master/downloads/tool

[2020-06-16 15:48] Herobr1ne commented on #11959
[code]

[2020-06-16 15:51] Neumann-A commented on #11886
You have to look into the qt5-base config error log. `<buildtrees>/qt5-base/config-<triplet>-(dbg|rel)-err.log`. Or you add to variable `CORE_OPTIONS` in the portfile the switch `-system-xcb`. Then `qt5-base` should fail if it is missing the dependencies

[2020-06-16 16:00] rubywerman commented on #11649
Were you able to solve this? Having the same issue.

[2020-06-16 16:09] alexander-smyslov commented on #11970
Visual Studio 2019 also fail
cl output Microsoft (R) C/C++ Optimizing Compiler Version 19.26.28806 for x64
Copyright (C) Microsoft Corporation.  All rights reserved.

usage: cl [ option... ] filename... [ /link linkoption... ]
.Detected hardware platform: x64
Files src/bin/pgbench/exprscan.l
Files src/bin/pgbench/exprparse.y
Files src/bin/psql/psqlscanslash.l
Files contrib/cube/cubescan.l
Files co

[2020-06-16 16:11] alexander-smyslov commented on #11970
@Neumann-A Can you help?

[2020-06-16 17:29] studoot commented on #11488
I've got the same problem when building/using [Abseil](https://abseil.io/). I'm using Visual Studio 2017 to build my executable, so as vcpkg chose to use my newest Visual Studio installation (2019), I'm coming across the same error as @nakag2020.

So, following @JackBoosY's comment above, I rebuilt with Powershell and (unsurprisingly), vcpkg was still using Visual Studio 2019 to build vcpkg librar

[2020-06-16 18:19] shoaibkamil opened #11973 "[llvm] build failure cross-compiling for windows-arm64 from windows-x64"
I'm trying to cross-compile LLVM for Windows ARM64, using Visual Studio 2017, on a Windows x64 host machine.

**Host Environment**
- OS: Windows 10 [Version 10.0.19041.329]
- Compiler: Microsoft (R) C/C++ Optimizing Compiler Version 19.16.27039 for ARM64

**To Reproduce**
Steps to reproduce the behavior:
[code]
**Failure logs**
[code]
[config-arm64-windows-out.log](https://gist.github.com/shoaibka

[2020-06-16 18:35] BillyONeal commented on #11972
That script is the script that provisions vcpkg's test machines used for PR validation here on GitHub. It is not invoked by vcpkg itself under any circumstances. The test machines, by design, build any PR submitted on GitHub, and we have no means of ensuring those PRs contain no malicious code. Example: https://github.com/BillyONeal/temp-vmss-demo/pull/1

As a result we already consider the test m

[2020-06-16 18:39] BillyONeal commented on #11972
No, because anyone who could run the script could themselves run the underlying `Add-MPPreference`.

[2020-06-16 18:48] stekyne opened #11974 "[portmidi] Old version doesn't work on Win64"
**Describe the bug**
Originally found when trying to use this package for https://github.com/csound/csound, any time the library API is called we get access violations/segmentation faults. A simple example using their test programs also causes the failures. The version of the code in use is from 2010. There have been numerous commits to their branch but no official release since.

Is it possible t

[2020-06-16 18:58] #11784 closed

[2020-06-16 20:05] timautry commented on #11972
Is there a mechanism or one developed to have some type of a
hidden or inaccessible branch of vcpkg that is only cloned or updated if the remote system initiating the git clone or pull request is identified as an azure pipeline, using a specific account and/or falls within a certain range of ip addresses?

In other words if the remote system does not meet certain criteria then the components requi

[2020-06-16 20:06] normandantzig1 opened #11976 "[cuda] build failure"
**Host Environment**

Windows 10
Cuda 11

**To Reproduce**
 .\vcpkg install cuda

**Failure logs**
Error: Building package cuda:x86-windows failed with: BUILD_FAILED
  Package: cuda:x86-windows
  Vcpkg version: 2020.02.04-nohash

**Additional context**
Add any other context about the problem here, such as what you have already tried to resolve the issue.

[2020-06-16 23:01] BillyONeal commented on #11972
No. Part of doing development in the open is that the infrastructure must also be in the open. Anyone can set up their own fork with CI set up identically to ours. We also get contributors who modify that script to install additional prerequisites of some ports occasionally.

I was going to try mitigations like changing the file extension (in the normal scenario the script is passed to `Invoke-AzV

[2020-06-16 23:06] #11972 closed

[2020-06-16 23:12] timautry commented on #11972
I added the following lines to my main clone/pull script from github/microsoft/vcpkg - it will solve the problem for me at this time.

`git rm .\scripts\azure-pipelines\windows\provision-image.ps1`
`git commit -m "remove .\scripts\azure-pipelines\windows\provision-image.ps1"`

[2020-06-16 23:13] BillyONeal commented on #9921
OH! Sure, we could do that.

To do that you have to declare the outputs before the target runs, but we don't know what the outputs are before running the script.

[2020-06-17 00:22] TigerVersusT commented on #11649
Hi, rubywerman, it's been a long time since I last edited it, but considering my closing this issue so fast it must not a complicated problem. Try clean the cmake cache folder in your project first， then see if you have ever installed packages concurrently in two consoles， finally, delete all packages manually and reinstall all( should ask more people to find possible solutions before doing this

[2020-06-17 00:38] ivanovmp opened #11979 "[x264] build failure"
**Host Environment**
- OS: 64-bit Windows 10 (Russian language)
- Compiler: Microsoft ® C/C++ Optimizing Compiler Version 19.26.28612 for x86.

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install x264:x86-windows`

**Failure logs**
[code]

Contents of ` C:\misc\vcpkg\buildtrees\x264\config-x86-windows-dbg-out.log`:
[code]

[2020-06-17 02:33] NancyLi1013 commented on #11751
@jsutes
Thanks for your above info. Personally, this issue should be fixed. I'm closing this issue for now.
Please feel free to reopen this or open a new issue if you still have any problems.

[2020-06-17 02:33] #11751 closed

[2020-06-17 02:35] PhoebeHui commented on #11944
@TonyXiang8787, could you help test the change in https://github.com/microsoft/vcpkg/pull/11978, and see it works for you?

[2020-06-17 02:39] LilyWangL commented on #11974
Thanks for posting this issue. VCPKG just support download zip file from `sourceforge.net`, we need wait for the new version zip file from the source.

[2020-06-17 04:25] pokev25 opened #11980 "2020.06 static triplet not working"
**Describe the bug**
vcpkg update 2020.06
rebuild vcpkg
my project build
static triplet not working

**Environment**
- OS: Windows 10
- Compiler: VS2019

**To Reproduce**
Steps to reproduce the behavior:

git pull vcpkg
 .\bootstrap-vcpkg.bat

my project using static triplet
[code]
and build

but project using default triplet and build fail

[code]

so I'm checkout 2020.04

[code]
and rebuild vcpk

[2020-06-17 04:39] kevinlul commented on #11980
It seems like you need a separate property group like this now
[code]
I'm seeing this corresponding interface in Visual Studio 2019
![image](https://user-images.githubusercontent.com/6320810/84855782-f5fbe180-b032-11ea-958e-8cd639579597.png)

[2020-06-17 05:02] pokev25 commented on #11980
@kevinlul

Thank you for telling me.

I have another question

How do I set 'x86-windows-static-md' triplet?

[2020-06-17 05:05] kevinlul commented on #11980
The XML tag appears to be `<VcpkgUserTriplet>`.

[2020-06-17 05:32] pokev25 commented on #11980
OK. I found in .vcxproj

[code]

setting to

[code]

now my project build success.

![image](https://user-images.githubusercontent.com/4251972/84859027-3dbc5080-b0a7-11ea-8753-1cde6e45fd3f.png)

is it correct?

[2020-06-17 05:58] BillyONeal commented on #11972
@timautry Can you give the PR linked above a shot and let me know if it resolves the detection for you?

[code]

[2020-06-17 06:08] pokev25 commented on #11980
Ok
close issue

I will wait for the update of the official documentation.

[2020-06-17 06:08] #11980 closed

[2020-06-17 06:18] orinem commented on #1015
Not true.

Visual Studio 2017 is still supported:

https://docs.microsoft.com/en-us/visualstudio/releases/2019/servicing

Scroll down to "Support for older versions of Visual Studio".

There are those of us that work for companies that produce software specifically designed to move from XP and therefore **must** run on XP.

[2020-06-17 06:23] LilyWangL commented on #10944
Sorry I am late. Due to I don't have Ubuntu 20.04 machine, could you please try to install new version freerdp on Ubuntu 20.04? The attached file is the new version freerdp file.
[freerdp.zip](https://github.com/microsoft/vcpkg/files/4790655/freerdp.zip)

[2020-06-17 06:28] LilyWangL commented on #11959
This issue will be fixed in PR #10964

[2020-06-17 06:41] LilyWangL commented on #11469
Thanks for posting this issue. Please reopen this issue if this is still a problem for you.

[2020-06-17 06:41] #11469 closed

[2020-06-17 06:43] LilyWangL commented on #11825
Thanks for posting this issue. Please reopen this issue if this is still a problem for you.

[2020-06-17 06:43] #11825 closed

[2020-06-17 06:44] LilyWangL commented on #11838
Thanks for posting this issue. Please reopen this issue if this is still a problem for you.

[2020-06-17 06:44] #11838 closed

[2020-06-17 06:48] stinos commented on #9921
Yeah I sort of exepcted that, but VS gets it right so I assume that's only because it uses the filetracker mechanism?

[2020-06-17 06:49] LilyWangL commented on #10422
Thanks for posting this issue. This issue has been fixed. So I am closing this issue for now.

[2020-06-17 06:49] #10422 closed

[2020-06-17 06:53] LilyWangL commented on #10224
Thanks for posting this issue. Closed as duplicate of #11797.

[2020-06-17 06:53] #10224 closed

[2020-06-17 06:55] NancyLi1013 commented on #11976
Hi @normandantzig1
Thanks for posting this issue.
Could you please help confirm if the `CUDA_PATH `is correct?
Please add` message("CUDA_PATH:$ENV{CUDA_PATH}") to portfile.cmake, and then rebuild this.
`

[2020-06-17 06:57] traversaro commented on #10422
Thanks for fixing the issue!

[2020-06-17 07:16] NancyLi1013 commented on #11970
Hi @alexander-smyslov
Thanks for posting this issue.
I cannot reproduce this with both Visual Studio 2017 and Visual Studio 2019 on my machines.
It seems that the errors you encountered are related with Visual Studio.
Could you please try to check or reinstall Visual Studio and rebuild this?

[2020-06-17 07:31] BillyONeal commented on #1015
VS2017 is supported, but it is not a current version. As you said it's in the 'support for older versions' section. Moreover, we are aggressively adding things which will be impossible to support on XP. For example, we are looking to start shipping a signed `vcpkg.exe` binary to avoid a need to build during bootstrap for most customers. It is impossible to produce such a binary that can run on XP,

[2020-06-17 07:31] TonyXiang8787 commented on #11944
@PhoebeHui Thanks! I will let our IT security to have a check.

[2020-06-17 07:37] BillyONeal commented on #9921
I admit to not being super clear on how the file tracker mechanism works :). But my understanding is that that is only for tracking *inputs* (e.g. headers consumed by your C++ file), not, as here, *outputs*. I suppose we could drop a sentinel file "lastvcpkgcopysucceeded.txt" or similar to be able to declare an output.

[2020-06-17 07:38] arsdever commented on #6205
Hi guys. Currently, I'm trying to compile the library for UWP, but have some problems and would like you to help me if you can. I'm basically done with x86 and x64 platforms and I can share the patch if necessary, but having problems with `xmmintrin` and similar headers (like `emmintrin`) when building for `arm`. As I understood, `arm` uses `arm[64]_neon.h` for `SSE`, but it requires some (maybe h

[2020-06-17 08:00] LilyWangL commented on #8812
Thanks for posting this issue. Please reopen this issue if this is still a problem for you.

[2020-06-17 08:00] #8812 closed

[2020-06-17 08:01] LilyWangL commented on #8344
Thanks for posting this issue. Please reopen this issue if this is still a problem for you.

[2020-06-17 08:01] #8344 closed

[2020-06-17 08:04] LilyWangL commented on #8748
Thanks for posting this issue. This issue has been fixed. So I am closing this issue for now.

[2020-06-17 08:04] #8748 closed

[2020-06-17 08:26] psionic12 opened #11985 "[skia] Linux porting works fine, maybe we should enable the build?"
I just enabled the build of skia on Linux(by removing the "LINUX" in vcpkg_fail_port_install in ports/skia/portfile.cmake), and it builds and works fine, I got 2D graphic on my screen.

So can we consider to enable it on Linux?

P.S. I add `fontconfig` and `bz2` manually in my cmake in order to build the an example, don't know this is a problem or not.

[2020-06-17 08:28] JackBoosY commented on #3899
Hi @LuciusSchoenbaum, sorry for late.
I can't repro this issue on my machine, does it exists?

[2020-06-17 08:40] JackBoosY commented on #11979
Duplicate with #11765.

[2020-06-17 08:40] #11979 closed

[2020-06-17 08:46] Pospelove commented on #11922
This port has been already added: https://github.com/microsoft/vcpkg/pull/11863

[2020-06-17 08:48] JackBoosY commented on #7426
Close this issue via #7481 merged.

[2020-06-17 08:48] #7426 closed

[2020-06-17 08:59] soroush opened #11986 "[libigl] missing headers"
**Host Environment**
- OS: Windows
- Compiler: MSCV 14.2 (2019) amd64

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install libigl[opengl,glfw,imgui]`
The library compiles but partially installs. Headers at `igl/opengl` are missing.

**Description**
So, I am planning to use libigl's 3D [viewer](https://github.com/libigl/libigl/blob/master/include/igl/opengl/glfw/Viewer.h) which must

[2020-06-17 09:16] JackBoosY commented on #11488
@studoot Yes, when multiple versions of Visual Studio are installed on the machine, vcpkg will use the latest version of Visual Studio by default.
If you want to use a longer version of Visual Studio, please modify _VCPKG_PATH/triplets/*.cmake_ and add the following code to it (eg: Visual Studio 2017-v141):
[code]

[2020-06-17 09:48] PhoebeHui commented on #11960
@Reveares, thanks for reporting this issue!

I summited a PR 11987 for adding the cmake config and targets file, could you help test if that works for you?

The target name is SLikeNetDLL and SLikeNetLibStatic in CMakeList file, you can use it like:

Dynamic:
  find_package(slikenet CONFIG REQUIRED)
    target_link_libraries(main PRIVATE SLikeNetDLL)

Static:
    find_package(slikenet CONFIG REQUI

[2020-06-17 09:58] stekyne commented on #11974
Well that's probably never going to happen.

What if I create a mirror on github? Is it possible to use this as the base for the package?

[2020-06-17 09:59] stekyne commented on #11974
Or another alternative, there is only maybe 10 other patches from the zip version. Should a patch work ontop of the zip?

[2020-06-17 10:07] 67-al-ahad opened #11988 "When installing local port file for test 2/3 is copied successfully in folders."
Hi, I would like to know why there's a strange behavior when I try to test my port after the installation went successfully.

My port is named **mona-based**

Here are the final folder structures:

# C:\vcpkg\packages\
1. C:\vcpkg\packages\mona-base_x86-windows

- C:\vcpkg\packages\mona-base_x86-windows\debug\lib\MonaBase.lib
- C:\vcpkg\packages\mona-base_x86-windows\include\mona-base\Mona\*.h
- C

[2020-06-17 10:20] Malt-R0711 opened #11989 "Add --nuget-description option for the export command"
**Is your feature request related to a problem? Please describe.**
I would like to use the `export --nuget` command to package multiple libraries into one NuGet-package. This package will be available to other developers at my company via an company-internal NuGet-feed. To communicate information about the contents of the package with others, I would like to use the description of the package. Cur

[2020-06-17 11:03] alexander-smyslov commented on #11970
You are right. use other windows machine. work perfectly.

[2020-06-17 11:03] #11970 closed

[2020-06-17 11:05] 67-al-ahad commented on #11988
Solution:

[code]

[2020-06-17 11:29] acdemiralp opened #11990 "[openmpi] build failure"
**Host Environment**
- OS: Linux
- Compiler: GCC 9

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install openmpi`

**Failure logs**
[code]
**Additional context**
Why does it need Fortran in a C++ project? FFS OpenMPI. Can you please just deprecate it and switch to Intel MPI? It just doesn't work, and when it does, it breaks next month.

[2020-06-17 13:08] #7210 closed

[2020-06-17 13:24] ppatpat commented on #1015
Billy,
who cares if 2017 is the "last" version or not? It is supported, people use it; that's it.
Problems with signatures? you can double sign and that "works" on XP.
It's hard to grasp why a packet manager "must" depart from XP in order to do a decent job.

[2020-06-17 13:37] VikingExplorer commented on #1015
ppatpat,

You're absolutely right.  However, there seems to be some horrible design
flaw in vcpkg that prevents them from easily supporting functionality
supported by VS.  I once pointed out that the differences in the vcxproj
files required to build for XP are trivial.   Sad!

On Wed, Jun 17, 2020 at 9:24 AM ppatpat <notifications@github.com> wrote:

[2020-06-17 13:57] Mixaill commented on #1015
So, if there is any interested in it I could revive my PR from 2017 and split it into two parts:

1) support of setting the target PE SUBSYSTEM
2) V141_XP toolset support

[2020-06-17 14:53] TonalidadeHidrica commented on #3573
Seems that [it's been added recently](https://github.com/Homebrew/homebrew-core/pull/56259).  (I'm having a little trouble though...)

[2020-06-17 15:17] ppatpat commented on #1015
No programmer really "enjoys" supporting (and testing on) XP but it is many times a customer requirement as mentioned before.
Then let's avoid making programmer 's life even harder and let's add the required support for XP (and PE off course). This should not be rocket science.

[2020-06-17 15:26] makitsune commented on #6205
Oh awesome! After days of looking, I found up-to-date builds of WebRTC for all platforms here on GitHub. https://github.com/crow-misia/libwebrtc-bin/releases

This person setup Gh actions to automatically create `libwebrtc.a` or `webrtc.lib` and header files archived ready to use in your own projects. What's neat about this is that any of us can fork it and still get builds if the owner decides to

[2020-06-17 15:30] VikingExplorer commented on #1015
ppatpat, it shouldn't be rocket science, but there must be some design flaw
that makes it very difficult for them.  For some reason, they seem to think
it implies that all the libraries need to be able to build w/ XP.  Not sure
if the word "optional" is in their vocabulary.  This conversation has been
going on for about 3 years.

On Wed, Jun 17, 2020 at 11:18 AM ppatpat <notifications@github.com>

[2020-06-17 15:59] #3573 closed

[2020-06-17 16:52] timautry commented on #11972
@BillyONeal It works great for me - windows defender and malwarebytes stand-alone scans did not raise any flags.
Like mentioned, I think the warning comes when the scanner sees those commands in a script type file, a ps1, cmd, bat, etc...
Thank you for taking the time to do this...
I am sorry for taking so long, I had take my automobile to the dealer for work this morning.

[2020-06-17 17:06] timautry commented on #11976
@NancyLi1013
@normandantzig1 mentions using cuda 11
- the cuda/cudnn ports specifically look for version 10.1.0
- looks like it is in RC (release candidate) status https://developer.nvidia.com/cuda-downloads
- no download for cudnn to support cude 11.0 on developer site https://developer.nvidia.com/rdp/cudnn-archive
- upgrading cuda to 11.0 may break the cudnn port
![image](https://user-images.git

[2020-06-17 17:09] BillyONeal commented on #11944
@timautry in #11972 indicated that it worked for him so I merged the PR and am closing this one as fixed, please comment if it's still getting detected for you.

[2020-06-17 17:09] #11944 closed

[2020-06-17 17:35] orinem commented on #1015
I suspect vcpkg 'customers' have been working around this issue.  Given the surprising number of responses - I expected to be ignored - it's still relevant.

I think one thing should be clear.  I don't think anyone wants to **run** vcpkg.exe on XP.  We just need to **target** XP.

And I don't think anyone is saying that all libraries need to run on XP.  Just that we should be able to build those t

[2020-06-17 17:50] ppatpat commented on #1015
@VikingExplorer  You might be right but I find hard to imagine a "design flaw" forcing to drop XP as target.

@orinem Spot on.

[2020-06-17 18:10] Mixaill commented on #1015
@BillyONeal I'm not able to response in the PR because comments is limited to members.

I can try to rebase it during the next weeks.

[2020-06-17 18:14] BillyONeal commented on #1015
@ppatpat

Supported doesn't mean "currently getting new features", it means 'will continue to work and you'll get critical bugfixes'.

Microsoft will not mint the necessary SHA-1 certificate for a new product even in dual signing mode.

I'm not making a statement about enjoyment, I'm making a statement about investment.

@Mixaill I apologize your PR got missed during PR review mess a while ago, I'

[2020-06-17 18:15] Herobr1ne commented on #11959
Is there any way I can still use it or do I have to wait?

[2020-06-17 18:15] BillyONeal commented on #1015
@Mixaill Huh? You should be able to comment on your own PR (and there are comments from you in that PR)

[2020-06-17 18:16] Mixaill commented on #1015
@BillyONeal
![image](https://user-images.githubusercontent.com/704382/84934308-d373d200-b0df-11ea-9b1a-5f169de18eee.png)

[2020-06-17 18:18] cempayzin opened #11992 "vcpkg itself failed to compile on RedHat 8/CentOS 8 with gcc-toolset-9"
I am trying to use gcc/g+= 9.x on RedHat/CentOD 8 . With default developer tools vcpkg compiles fine. However once i install and set gcc-toolset-9 (includes gcc/g++ 9.x as compiler) failes:
[code]

[2020-06-17 18:18] #11960 closed

[2020-06-17 18:19] #5018 closed

[2020-06-17 18:24] VikingExplorer commented on #1015
"I don't think anyone is saying that all libraries need to run on XP. Just
that we should be able to build those that can run on XP."

Actually, this was exactly one of the reasons given.

"I don't think it's the role of a package manager to insist that every
package runs on every OS that they claim to support."

Agree 100%.   When quite simple functionality can't be added, it's almost
certainly a

[2020-06-17 18:26] studoot commented on #11488
@JackBoosY The trouble is that this has to be done on a per-triplet basis rather than being a global default.

Let me illustrate the problem with my typical working scenario... I use a mix of mostly VS2017 & some VS2019, from the command-line (I use VS Code mostly). My understanding is that, thanks to the [binary compatibility introduced in VS2015](https://docs.microsoft.com/en-us/cpp/porting/bina

[2020-06-17 18:31] ppatpat commented on #1015
@BillyONeal

Are you going to code only for the OS and Compiler that is today "receiving new features"?

We can avoid discussing about this; it was said before that the goal is to get a `vcpkg.exe` able to "target" XP not running on it.

And my point is that we are not asking this because we are XP lovers; unfortunately XP is still out there and ignoring it does not make it disappear

Thanks for y

[2020-06-17 18:34] Mixaill commented on #1015
Yeah, just to clarify, I have no plans to make vcpkg runnable on Windows XP, only add ability to create a triplet which produces compatible with Windows XP binaries.

[2020-06-17 18:35] orinem commented on #1015
"The design flaw is in XP, that it cannot be safely connected to the internet."

Irrelevant to the current discussion IMO.  Not all copies of XP still in use are connected to the internet.

Our product doesn't require connection to the internet, nor even a network connection.  By its very nature and purpose, it has to run on XP - whether it communicates over a USB cable, external storage, a back-t

[2020-06-17 18:39] VikingExplorer commented on #1015
In my 3 year battle, it was NEVER about running vcpkg ON XP.  It was ALWAYS
about targeting XP.  They refused.

One discussion got so heated, the whole issue was deleted from GitHub.   I
made all the same arguments you are making now.

On Wed, Jun 17, 2020 at 2:36 PM orinem <notifications@github.com> wrote:

[2020-06-17 18:44] orinem commented on #1015
"And my point is that we are not asking this because we are XP lovers; unfortunately XP is still out there and ignoring it does not make it disappear"

Indeed.  We too would like to drop support for it, but while we can still target it and customers are still using it, it isn't going away as far as we are concerned.

[2020-06-17 19:32] #9781 closed

[2020-06-17 19:58] BillyONeal commented on #1015
I see, it looks like it was locked because discussion there devolved into the kinds of personal attacks I'm starting to see here. Many of them from the same people! :( I don't want to lock the issue or the PR but if folks keep up personal attacks and similar we have no choice.

[2020-06-17 20:42] #7533 closed

[2020-06-17 20:43] #11951 closed

[2020-06-17 21:47] #11914 closed

[2020-06-17 22:12] AustinWise opened #11996 "Crash on Windows when built without CMake and run on a ReFS filesystem."
**Describe the bug**
Crash on Windows when built without CMake and run on a ReFS filesystem. It does work when built with CMake.

**Environment**
- OS: x64 Windows 10.0.19041.329
- Compiler: Visual Studio 2019 16.6.2
- VCPkg version: 121f3d502a8e3f88958b069a6f9c06dc6243a418

**To Reproduce**
Steps to reproduce the behavior:
1. bootstrap-vcpkg.bat
2. ./vcpkg install poco:x64-windows-static
3. See e

[2020-06-17 22:32] maaron opened #11997 "OpenMesh library builds static for x64-windows and find_package fails"
Running the following commands produces a static OpenMesh library (OpenMeshCore.lib and OpenMeshTools.lib), whereas I expected it to produce dlls:
```vcpkg install openmesh:x64-windows```

I tried to look into it myself, but I don't understand the vcpkg system enough to really feel good about what I'm doing.  I tried adding "-DOPENMESH_BUILD_SHARED=ON" to the OPTIONS line in the vcpkg_configure_cm

[2020-06-18 00:46] msken commented on #11907
[config-x64-osx-dbg-err.log](https://github.com/microsoft/vcpkg/files/4795680/config-x64-osx-dbg-err.log)
[config-x64-osx-dbg-out.log](https://github.com/microsoft/vcpkg/files/4795681/config-x64-osx-dbg-out.log)

Thanks.

[2020-06-18 01:09] zh1an opened #11998 "[boost] build failure"
**Host Environment**
- OS: Windows
- Compiler: msvc 2015

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install boost`

**Failure logs**
-Cut and past the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

**Additional context**

The first I need to run:
[code]
and then run `./vcpkg install boost`, and then

[2020-06-18 01:31] zh1an commented on #11998
I found it...

The software that called 360 total security kill the powershell ...

[2020-06-18 01:32] #11998 closed

[2020-06-18 02:09] NancyLi1013 commented on #11985
Hi @psionic12
Thanks for posting this issue.
I have tried and `skia `can be built successfully on my machine. So it should have support Linux.
As for `fontconfig `and `bz2`, do you need these two ports to build example by yourself?

[2020-06-18 02:10] LilyWangL commented on #11959
You can remove `PREFER_NINJA` in portfile.cmake and install `portaudio` again.

[2020-06-18 02:20] NancyLi1013 commented on #11988
Hi @67-al-ahad
Thanks for posting this issue.
Could you please help provide your portfile.cmake and CONTROL files for `mona-base`?

[2020-06-18 02:23] NancyLi1013 commented on #7210
@MoAlyousef
Is this issue not a problem for you now?

[2020-06-18 02:39] Christsnatcher commented on #8748
I can confirm the issue is fixed, many thanks everyone!

[2020-06-18 02:40] 67-al-ahad opened #12001 "OpenSSL x86-windows-static not working with find_package(OpenSSL REQUIRED)"
**Describe the bug**
A basic openssl project is not able to be generated and compiled due to the lack of vcpkg to find the library paths.

**Environment**
- OS: Win 10
- Compiler: MSVC++ 2019

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install openssl:x86-windows-static-md
2. OPENSSL_ROOT_DIR is not detected automatically

**Expected behavior**
The generation should be without an

[2020-06-18 02:47] 67-al-ahad commented on #11988
[mona-base.zip](https://github.com/microsoft/vcpkg/files/4796006/mona-base.zip)

[2020-06-18 02:49] NancyLi1013 commented on #11976
@timautry
Thanks for looking into this issue.
I have tried with `cuda `11.0  and both `cuda `and `cudnn `can build successfully on my machine.
![image](https://user-images.githubusercontent.com/46708020/84971888-49178680-b150-11ea-87da-6d7cfdb5a620.png)

After downloading, the file name is `cuda_11.0.1_451.22_win10.exe`.

[2020-06-18 02:53] MoAlyousef commented on #7210
It's non-optimal, but it's not a bug, also it seems I was the only person annoyed by it, so I closed it.

[2020-06-18 03:13] JackBoosY commented on #11907
@msken Please make sure your vcpkg is latest and remove manually installed sqlite3 on your OS.

Thanks.

[2020-06-18 03:14] NancyLi1013 commented on #11113
I'm closing this issue for now. Please feel free to reopen this if it is still a problem for you.

[2020-06-18 03:14] #11113 closed

[2020-06-18 03:33] vikasmalik22 commented on #11601
I tried fresh installation still it didn't work.

I did >> vcpkg install pcl:x64-windows-static

Vcpkg package management program version 2020.02.04-nohash
visualization folder is completely missing from pcl folder.

[2020-06-18 03:36] psionic12 commented on #11985
I just coped an example from somewhere:
[code]

I don't think I need `fontconfig` and `bz2` in this example though.

[2020-06-18 03:38] psionic12 commented on #11985
This look like similar when I use assimp on linux, in which case I have to add `libz` and `irrxml` manually.

[2020-06-18 05:54] NancyLi1013 commented on #7210
Thanks for your update.  Currently, CMake has been updated to 3.17.2 in vcpkg.  So this issue should not be existed on Windows platform. As for Linux, I didn't install CMake on my local. I'm not sure what the specific condition is. Sorry, I cannot help you some in this point.

[2020-06-18 06:17] NancyLi1013 commented on #11990
Hi @acdemiralp
Thanks for posting this issue.
Does this cause the failures to build `openmpi`? Do you want to disable `fortran `in `openmpi`? I'm sorry, I'm not clear about this issue.

[2020-06-18 06:36] LilyWangL commented on #11974
You can create a mirror on github and commit some changes.

[2020-06-18 06:51] zh1an opened #12002 "[vcpkg] Vcpkg general is invalid with visual studio 2015"
**Describe the bug**
General of Vcpkg with visual studio 2015 is error. The `Package install directory` option is `$(VcpkgRoot)\installed\$(VcpkgUserTriplet)\` which is translated to `F:\vcpkg\\installed\-windows\` and this is illegal. I have rebuild vcpkg and still not working.

**Environment**
- OS: Windows 10
- Compiler: msvc 2015

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg in

[2020-06-18 06:54] zh1an commented on #12002
`Package install directory` should be translated to `F:\vcpkg\installed\x86-windows\` on my PC.

[2020-06-18 07:19] NancyLi1013 commented on #11988
I try to build `mona-base` based on the files you provided above. There are no any problems.
The files generated by release version are listed in _\lib_, debug versions are listed in _\debug\lib_.
So I don't know what your problems are.
`MonaBase.lib` is in _\lib_, `MonaBased.lib` is in _\debug\lib_.
The headers are only installed in` \include` in release build.

[2020-06-18 07:31] NancyLi1013 commented on #11985
If you don't add `fontconfig  `and `bz2 `, what is the error like?

[2020-06-18 07:37] psionic12 commented on #11985
/home/liu/source/vcpkg/installed/x64-linux/debug/lib/libfreetyped.a(ftbzip2.c.o): In function `ft_bzip2_file_init':
/home/liu/source/vcpkg/buildtrees/freetype/src/2.10.1-ea10bbeefe/src/bzip2/ftbzip2.c:178: undefined reference to `BZ2_bzDecompressInit'
/home/liu/source/vcpkg/installed/x64-linux/debug/lib/libfreetyped.a(ftbzip2.c.o): In function `ft_bzip2_file_done':
/home/liu/source/vcpkg/buildtree

[2020-06-18 07:38] psionic12 commented on #11985
Here's my CMakeLists.txt:

[code]

[2020-06-18 08:07] rigo2798 opened #12003 "[GLFW3] Failure to link to projects"
**Host Environment**
- OS: [Windows
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install glfw3

**Failure logs**
Source.obj : error LNK2019: unresolved external symbol __imp__glClear@4 referenced in function _main

fatal error LNK1120: 1 unresolved externals

[2020-06-18 08:21] odibox commented on #9570
Please have a look here.

[vcpkg] Add community triple arm64-linux and arm-linux. #11880
https://github.com/microsoft/vcpkg/pull/11880

https://github.com/xieyubo/vcpkg

With this build it works out of the box.

[2020-06-18 08:40] NancyLi1013 commented on #3863
Hi @jiaozhh
Thanks for posting this issue.
`gdal` has the dependencies of `hdf5` and `netcdf-c` in vcpkg. Does this current status meet your demand?

[2020-06-18 08:52] GiulioRomualdi opened #12004 "[qhull] update to 8.0.0"
Library name:[`qhull`](https://github.com/qhull/qhull)

New version number: 8.0.0

The 6-th Jun 2020 a new version of `qhull` has been released   https://github.com/qhull/qhull/releases/tag/v8.0.0. If you are interested I can propose a PR that updates the port.

[2020-06-18 08:58] PhoebeHui commented on #11828
@kestrelm, building ports on linux default is static libraries.

Try to build with dynamic libraries, see
https://github.com/microsoft/vcpkg/blob/a5a244f5bdc390fc1c3d42e126e0bfd80541f060/docs/examples/overlay-triplets-linux-dynamic.md#building-dynamic-libraries-on-linux

[2020-06-18 09:12] NancyLi1013 commented on #2728
Hi @ghost
Thanks for posting this issue.
`g2o` has provided the usage in vcpkg:
[code]
So you can use `g2o` in this way via CMake.

@jasjuang
Thanks for looking into this issue.

[2020-06-18 09:12] #2728 closed

[2020-06-18 09:25] PhoebeHui commented on #11342
@celsomilne, sorry for my late reply.

It seems that vcpkg.exe removed, it might due to false alert in virus detection, could you check that your anti-virus software isn't blocking VCPKG?

[2020-06-18 09:31] JackBoosY commented on #11488
@vicroms Could you please take a look?

Thanks.

[2020-06-18 09:34] JackBoosY commented on #3903
Hi @carlo-bramini, thanks for reporting this issue.
This issue has been fixed in some PRs. Please update vcpkg and rebuild pthreads.

Thanks.

[2020-06-18 09:34] #3903 closed

[2020-06-18 09:34] NancyLi1013 commented on #12002
Hi @zh1an
Thanks for posting this issue.
Could you please help confirm if you used Visual Studio 2015 Update 3 or newer?
Have you run the command `vcpkg integrate install` or `vcpkg integrate project` before you used any ports?

[2020-06-18 09:38] JackBoosY commented on #3773
Hi @degski, sorry for late.
Could you provide some repro steps?

Thanks.

[2020-06-18 09:39] PhoebeHui commented on #11337
@EnzoDAndrea, please try the solution provided by timautry, and reopen this issue if it still be a problem for you.

[2020-06-18 09:39] #11337 closed

[2020-06-18 09:45] JackBoosY commented on #12003
Hi @rigo2798, thanks for reporting this issue!
I can't repro it on my machine, could you add `Opengl32.lib` to the Additional Depdendencies list and try again?

Thanks.

[2020-06-18 09:46] JackBoosY commented on #12001
See [documentation](https://github.com/microsoft/vcpkg/blob/master/docs/users/integration.md#with-cmake).

[2020-06-18 09:47] PhoebeHui commented on #11262
Please report to upstream instead, reopen this issue if you still expect vcpkg do something here.

[2020-06-18 09:47] #11262 closed

[2020-06-18 09:52] PhoebeHui commented on #10608
@ilvaz, please get latest clean source and try to build again, and reopen this issue if it still be a problem for you.

[2020-06-18 09:52] #10608 closed

[2020-06-18 09:55] PhoebeHui commented on #10464
Please reopen this issue if it still be a problem for you.

[2020-06-18 09:55] #10464 closed

[2020-06-18 10:01] PhoebeHui commented on #9776
Please reopen this issue if it still be a problem for you.

[2020-06-18 10:01] #9776 closed

[2020-06-18 10:08] NancyLi1013 commented on #8550
Hi @desowin
Thanks for posting this issue.
I try to build `libopenvizsla` with Ninja, I met the error:
`ninja: error: build.ninja:277: multiple rules generate openvizsla.lib [-w dupbuild=err]`
This is a bug for ninja that is introduced in 1.8.0.

I comment `PREFER_NINJA` out, then try to build it again, the errors are:
[code]
So I think that this is not related with `libftdi1
`.
Could you please t

[2020-06-18 10:09] zh1an commented on #12002
Hi @NancyLi1013
Yes, I used Visual Studio 2015 Update 3 and I run `vcpkg integrate install` command before I open visual studio project.

PS: My windows version is Chinese version. When I install `zlib`, I need to install English package for Visual Studio. Then I installed package and change Visual Studio 2015 IDE env to English. After these operation, the Visual Studio with vcpkg is working with

[2020-06-18 10:13] christianparpart commented on #9776
Good question. I have up trying long time ago. And on GitHub CI I would another way to install qt that is also faster. On the desktop I just installed qt view installer now. Thanks for asking though. I can't give it another try

[2020-06-18 10:24] NancyLi1013 commented on #11251
Hi @RollingIsland
Sorry for the late reply.
I create a simple CMake project and try to use `g2o` and it can build successfully on my local.
This is my CMakeLists.txt:
[code]

So it might be something wrong to `g2o`  in `ORB_SLAM2`.  It should be a problem in `ORB_SLAM2` instead of `g2o`.

[2020-06-18 11:46] ivanovmp opened #12008 "[ffmpeg[ffmpeg]:x64-windows] compiles the executable but it won't open"
**The bug**
After installing `ffmpeg` with the option `ffmpeg`, vcpkg creates several executables. However, none of them can be opened because of absence of necessary DLL's.

**Environment**
- OS: 64-bit Windows 10 (Russian language)
- Compiler: Microsoft ® C/C++ Optimizing Compiler Version 19.26.28612 for x64.

**To Reproduce**
Steps to reproduce the behavior:
1. `./vcpkg install ffmpeg[ffmpeg]:x

[2020-06-18 12:41] 67-al-ahad commented on #11988
Well I added this that's why
[code]
But if you remove it you will see that it doesn't work.

[2020-06-18 13:26] 67-al-ahad commented on #12001
Ok although I set the correct triplets in CMakeSettings.json

[code]

I still get this error

[code]

![image](https://user-images.githubusercontent.com/66976729/85025689-feaa0000-b177-11ea-96d1-ceef88aaf8e0.png)

The error is here the file name installed by vcpkg is **C:\vcpkg\installed\x86-windows-static\debug\lib\libcrypto.lib ** and not **libcryptod.lib **

[2020-06-18 14:07] mbono opened #12009 "[python3] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: Visual Studio 2015 Update 3
- CMake 3.17.3

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg.exe --triplet x64-windows install python3`

**Failure logs**

[code]

**C:\dev\vcpkg\buildtrees\python3\build-x64-windows-rel-out.log**
[code]

**Additional context**

I was trying to install boost when I get this failure.

[2020-06-18 14:21] Voskrese commented on #12009
open `C:\dev\vcpkg\buildtrees\python3\src\v3.8.3-43b03f2bf0-Lib-Win\PCBuild\python.props`

winsdk?

https://github.com/python/cpython/blob/6f8c8320e9eac9bc7a7f653b43506e75916ce8e8/PCbuild/python.props#L111

[code]

https://github.com/microsoft/vcpkg/blob/ba98abdd0d1df9f8d68653f8d74c8344c73059c2/ports/python3/portfile.cmake#L56

add

/p:WindowsTargetPlatformVersion=${TARGET_PLATFORM_VERSION}

[2020-06-18 15:28] mbono commented on #12009
Solved. I was installed only winsdk 8.1.

[2020-06-18 15:28] #12009 closed

[2020-06-18 15:28] mbono commented on #12009
Thanks @Voskrese

[2020-06-18 16:33] jeanga commented on #11918
I have been working on an initial version of this port here: https://github.com/jeanga/vcpkg/tree/master/ports/stx
It still requires some testing but so far so good it seems to work.
I will submit a PR when more testing is done (WSL, etc..)

[2020-06-18 17:58] Pospelove opened #12012 "[New Port Request] OpenMW"
Port name: OpenMW

Port description: OpenMW is an open-source open-world RPG game engine that supports playing Morrowind.

Source repository URL: https://github.com/OpenMW/openmw

Project homepage (if different from the source repository): http://openmw.org/en/

Anything else that is useful to know when adding (such as optional features the library may have that should be included):
https://wiki.o

[2020-06-18 21:13] Reveares commented on #11960
@PhoebeHui Thanks for your time. I did a few quick test with your PR and it worked well for me. Especially that it is only one target now is a nice addition.

[2020-06-18 22:18] #12004 closed

[2020-06-18 22:30] #10039 closed

[2020-06-18 22:33] #11940 closed

[2020-06-18 23:47] Pospelove opened #12016 "[New Port Request] ChakraCoreCppBridge"
Library name: ChakraCoreCppBridge

Library description: A convenient C++ wrapper for C-style API provided by Microsoft ChakraCore library.

Source repository URL: https://github.com/AlexBAV/ChakraCoreCppBridge

[2020-06-19 01:48] NancyLi1013 commented on #12002
@zh1an
Thanks for trying to do these operations many times.
From what you have done, we might know that this is related with the Visual Studio environment.
In fact, we only need to install English package for Visual Studio whatever the local Languages are. As for the Visual Studio IDE env, we just keep it as the original language.

[2020-06-19 02:59] JonLiu1993 commented on #10728
I did not reproduce your question. Are you sure that x86-windows-static is set in vs2019 cmake setting? You can refer to this:
Using an environment variable instead of a command line option
The CMAKE_TOOLCHAIN_FILE setting simply must be set before the project() directive is first called. This means that you can easily read from an environment variable to avoid passing it on the configure line:

i

[2020-06-19 03:05] NancyLi1013 commented on #11988
I comment this out in CMakeLists.txt and rebuild this port. I didn't see any problems about this.