[2020-09-03 10:49] rculler opened #13333 "How do I build mongocxx for a x64 platform?"
I'm trying to get a windows x64 C++ project working with the latest mongocxx driver using Visual Studio 2019. I installed the driver libraries using vcpkg:

vcpkg install mongo-cxx-driver[boost]

In VS 2019 I created a new console app and inserted the example code from the mongo driver page into main(). I built the app and ran it; everything works great. Then I noticed that it built as a win 32 ap

[2020-09-03 10:55] meastp commented on #13155
Also, how should I use vcpkg_installed with msbuild?

[2020-09-03 11:32] quickiwiki commented on #13279
It works, thank you so much

[2020-09-03 12:01] ZYZ-HAHA opened #13335 "How To Download License_1_0.txt"
-- Downloading https://raw.githubusercontent.com/boostorg/boost/boost-1.73.0/LICENSE_1_0.txt... Failed. Status: 6;"Couldn't resolve host name"
CMake Error at scripts/cmake/vcpkg_download_distfile.cmake:173 (message):

      Failed to download file.
      If you use a proxy, please set the HTTPS_PROXY and HTTP_PROXY environment
      variables to "https://user:password@your-proxy-ip-address:port/".

[2020-09-03 12:49] gdxn96 commented on #13236
Is there a way I can fix this locally before vcpkg is properly fixed?

[2020-09-03 13:21] Neumann-A commented on #13333
`vcpkg install mongo-cxx-driver[boost]:x64-windows`

or

`vcpkg install mongo-cxx-driver[boost] --triplet x64-windows`

or

[code]

[2020-09-03 13:30] Neumann-A commented on #13294
That breaks make based ports which require the autotool `compile` wrapper for cl.

In my point of view it is better to include/set those values directly in the toolchain.

[2020-09-03 15:21] MFMokbel opened #13337 "[cpr] update to 1.5.1"
Library name: cpr

New version number: 1.5.1

Current vcpkg support is for version 1.3.0-8 and latest available version is 1.5.1. https://github.com/whoshuu/cpr

[2020-09-03 16:32] pudding186 opened #13338 "[cryptopp]:x64-windows-static build failure"
**Host Environment**
- OS: windows 10
- Compiler: vs2019

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg.exe install cryptopp:x64-windows-static`

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
    cryptopp[core]:x64-windows-static
Detecting compiler hash for triplet x64-windows-static...
Error occurred while detecting compiler infor

[2020-09-03 16:51] strega-nil commented on #12309
@meastp If one uses the CMake toolchain, it's fixed; if one uses it manually, then it hasn't been, unfortunately. It'd probably be best to define two distinct `vcpkg_installed` directories with the `--x-installed-root` option.

[2020-09-03 16:55] ASxa86 commented on #13101
It appears #11614 is not a duplicate of mine as it is only calling out and attempting to fix a single issue. My issue describes that osgearth will not build on linux unless all issues I called out are fixed. Not just the OSG version. See #11855 for additional discussion.

[2020-09-03 17:59] #12390 closed

[2020-09-03 18:12] #13249 closed

[2020-09-03 18:24] #13196 closed

[2020-09-03 19:02] BillyONeal commented on #10880
@cenit

Generally speaking features should not be used for either/or alternatives; that is to say, if you have port[a,b,c] installed and then install port[a,b,c,d], there should only be additions, not removals or conflicts with other ports that only expected [a,b,c].

@mansa34

I agree having multiple ffmpegs in the tree would be problematic, and I don't think we should be maintaining independent

[2020-09-03 19:05] BillyONeal commented on #10178
Packaging binaries is somewhat incompatible with our design goal of ensuring that the tree remains functional when any given port is updated because we can rebuild everything within that port's "cone of destruction". These kinds of issues are the primary reason why "NuGet for C++" became defunct and why we built vcpkg in the first place.

[2020-09-03 19:07] BillyONeal commented on #7289
Dropping requires-discussion and adding vcpkg-feature; assigning to @strega-nil since I believe she was working on this.

[2020-09-03 19:07] BillyONeal commented on #10865
Resolved by removal of the "tombstones" concept.

[2020-09-03 19:07] #10865 closed

[2020-09-03 19:08] BillyONeal commented on #11479
Duplicate of https://github.com/microsoft/vcpkg/issues/7471

[2020-09-03 19:08] #11479 closed

[2020-09-03 19:11] BillyONeal commented on #616
I think we already do this for ports where possible, so this decision is "resolved" in favor of "yes, we're doing that".

[2020-09-03 19:11] #616 closed

[2020-09-03 19:14] BillyONeal commented on #5721
I believe the correct way to handle this will be to add that compiler to a triplet but I don't see an amazing way documented to override the compiler right now. Doing it nicely might require adding a toolchain or modifying the existing Linux toolchain to have that knob: https://github.com/microsoft/vcpkg/tree/master/scripts/toolchains

(I observe that MinGW is in a similar state on Windows and it

[2020-09-03 19:15] BillyONeal commented on #13294
Related: https://github.com/microsoft/vcpkg/issues/5721

[2020-09-03 19:22] BillyONeal commented on #6233
@Fleischner I believe we're already doing pretty much everything you've enumerated here; I don't really see an "issue" though. Is there concrete action you're suggesting?

[2020-09-03 19:24] BillyONeal commented on #6810
Does the binary caching feature resolve this concern for you? It doesn't reduce overall on-disk footprint if you need multiple roots but it does make it such that common bits need not be rebuilt, and the result is effectively as well as can be done without accepting "extreme footguns" as you enumerated above.

[2020-09-03 19:24] BillyONeal commented on #11193
This isn't something for our regular discussion meeting, dropping the tag.

We could add such a feature without necessarily turning it on in CI.

[2020-09-03 19:35] cenit commented on #5721
Isn’t the chainload toolchain mechanism in vcpkg here for this reason? I remember doing something like this to force gcc version...

[2020-09-03 19:43] BillyONeal commented on #5721
@cenit That helps if you're using `vcpkg.cmake` as your toolchain and want to use a different compiler but not if you want to change the compiler used to build the ports themselves.

[2020-09-03 19:44] cenit commented on #5721
You're right. I did it many years ago and was not remembering even the project anymore...

[2020-09-03 19:45] Neumann-A commented on #5721
@BillyONeal: Custom triplet with VCPKG_CHAINLOAD_TOOLCHAIN set..... That is how I built everything with `clang-cl`

[2020-09-03 19:47] BillyONeal commented on #5721
Ah yes, thanks @Neumann-A ! @cwfitzgerald can you confirm that's an acceptable workaround?

[2020-09-03 19:49] cenit commented on #5721
So it was real, I did it too...

[2020-09-03 19:54] StarGate-One commented on #13338
Please perform the following:
`cd to [vcpkg-root]`
`.\vcpkg.exe install cryptopp:x64-windows-static --debug`
Post the results here.

[2020-09-03 20:08] BillyONeal commented on #5721
Hmmm OK. Going to close this for now; if folks have similar issues please open a new issue.

[2020-09-03 20:08] #5721 closed

[2020-09-03 21:26] BillyONeal commented on #485
I note that there are ports using fortran at this time so the original issue filing appears to be resolved, but as you note above there are still some 'holes' in that support. You might want to consider opening issues for the specific CRT problems above to make it easier for folks familiar with this problem space to find. I'll leave this open for now though.

[2020-09-03 21:28] strega-nil commented on #7289
Fixed by the future implementation of #12881

[2020-09-03 21:30] strega-nil commented on #8627
Closed as no-fix. If people really need this, please reopen the issue.

[2020-09-03 21:30] #8627 closed

[2020-09-03 21:32] BillyONeal commented on #10178
Does the official binary caching feature @ras0219 and @ras0219-msft submitted described in https://github.com/microsoft/vcpkg/pull/11204 implement what you wanted here?

[2020-09-03 21:34] strega-nil commented on #10119
Fixed in #13231 :D

[2020-09-03 21:34] #10119 closed

[2020-09-03 21:37] strega-nil commented on #10219
I believe the documentation has been updated to fix this?

[2020-09-03 21:37] #10219 closed

[2020-09-03 22:02] jz-fb commented on #13287
Just tried that branch, but I'm still getting the zlib issues. I now am able to use `find_package()` rather than `set(folly_DIR "${CMAKE_SOURCE_DIR}/../thirdparty/vcpkg/packages/folly_x64-windows-static/share/folly"),` but  can't do much with the zlib issue.  Some things to note: 1) I deleted the prior vcpkg folder before cloning and making sure I have that branch checked out. 2) I wiped the build

[2020-09-03 22:06] BillyONeal commented on #11602
@ras0219 indicates that this is intentional behavior to reduce the likelihood of needing to rebuild the world if someone adds dependencies incrementally; to make vcpkg work more like "apt" and friends. That doesn't preclude adding an option `--minimal-dependencies` or similar which would give this behavior.

Also note that @strega-nil 's "manifest mode" should probably imply this `--minimal-depend

[2020-09-03 22:20] BillyONeal commented on #11109
Giving this to @ras0219 because it sounds vaguely binary caching related.

[2020-09-03 22:30] BillyONeal commented on #11119
I think we should add such instructions if and only if we have observed that building these ports with that flag enabled in a location wherein the directory structure would result in paths that are too long succeeds with the flag set and fails without.

Note that this probably means build tools and similar would need to be manifested and I'm pretty sure Qt depends on some that are not, but only te

[2020-09-03 22:56] BillyONeal commented on #11546
Taking off my maintainer hat and speaking personally for a moment: I think being explicit about this in the triplet file would be an improvement because it removes a 'spooky action at a distance' point where the tool is figuring this out for you behind the scenes.

On the other hand this is likely to cause users to edit the toolchain scripts which are not intended as an extension / modification po

[2020-09-03 23:06] BillyONeal commented on #12816
@ras0219 @strega-nil and I just talked about this in person and effectively ended up at the same place. To confirm:

* We would not want to allow *both* `_` and `-`, because those characters are commonly mistyped/confused and only allowing one gives us the ability to fix that up.
* Even though we might have liked `_` if we had made a different decision back in 2016 (at least I am personally persua

[2020-09-03 23:06] #12816 closed

[2020-09-03 23:07] ras0219 commented on #12816
That's a great point about environment variables; however it's actually a different namespace. The name of the cmake `find_package()` doesn't actually need to match the vcpkg package name (and we have several ports where they do use underscores in the CMake package name). I'd argue this is actually a bit of a CMake bug and CMake should probably offer something for users that decide to provide `foo

[2020-09-03 23:07] Hoikas commented on #13308
The vcpkg toolchain file monkeypatches CMake's built-in `add_executable()` and `add_library()` functions to provide this functionality. The code can be found in the [toolchain file, here](https://github.com/microsoft/vcpkg/blob/619b29470031781e0c787eff32dbc7d8568bdbe6/scripts/buildsystems/vcpkg.cmake#L360:L408).

[2020-09-03 23:08] rkitover commented on #10178
My module actually makes perfectly functional binary packages, I need to make a few more tweaks to add the `Abi:` key etc., I'm actually thinking of making a binary package server.

[2020-09-03 23:10] ras0219 commented on #12816
Also you'll find that in the PR https://github.com/microsoft/vcpkg/pull/1773 I reverted that particular commit before merging :)

[2020-09-03 23:14] ras0219 commented on #10880
Thanks for going into details @mansa34!

As I understand the situation:
1. You want to ship ffmpeg as a DLL for licensing reasons
2. You'd like to minimize the size a user needs to ship

You're shipping a DLL to a customer which might include arbitrary other dependencies in their final product. _Generally_, you'd like to static link all your dependencies to minimize the number of DLLs your custome

[2020-09-03 23:15] #10880 closed

[2020-09-03 23:26] ZYZ-HAHA opened #13343 "How to download the boostcpp.jam"
The  question about License_1_0.txt have been done,Thank you very much.
But may be I need another file : boostcpp.jam.
I can't open the URL and download this file.

-- Extracting source C:/src/vcpkg/downloads/boostorg-build-boost-1.73.0.tar.gz
-- Using source at C:/src/vcpkg/buildtrees/boost-build/src/ost-1.73.0-018fb008dd.clean
-- Using cached C:/src/vcpkg/downloads/boost_LICENSE_1_0.txt
-- Downl

[2020-09-03 23:29] ZYZ-HAHA commented on #13335
The&nbsp; question about License_1_0.txt have been done,Thank you very much.
But may be I need another file :&nbsp;boostcpp.jam.
I can't download this file.

-- Extracting source C:/src/vcpkg/downloads/boostorg-build-boost-1.73.0.tar.gz
-- Using source at C:/src/vcpkg/buildtrees/boost-build/src/ost-1.73.0-018fb008dd.clean
-- Using cached C:/src/vcpkg/downloads/boost_LICENSE_1_0.txt
-- Downloading

[2020-09-04 00:49] showintime commented on #13292
@JackBoosY
![image](https://user-images.githubusercontent.com/29477247/92187017-29f4df00-ee8b-11ea-813c-c512a695bc97.png)
but why can i install successfully 15 days ago?

[2020-09-04 01:07] showintime commented on #13343
download the following file and modify its name `boost-1.73.0-boostcpp.jam` and put it in [vcpkg-root]\downloads and try again.
[boost-1.73.0-boostcpp.jam.txt](https://github.com/microsoft/vcpkg/files/5172085/boost-1.73.0-boostcpp.jam.txt)

[2020-09-04 01:32] NancyLi1013 commented on #13335
Seems this issue has been solved, so I'm closing this issue for now.

[2020-09-04 01:32] #13335 closed

[2020-09-04 01:40] jz-fb opened #13344 "Getting ZLIB error when using folly (x64-windows-static)"
When building a project with folly  (x64-windows-static) I get the error below

## Error:
` $ cmake .. -DBUILD_BENCHMARKS=ON`
` -- git Version: v1.5.0-01c0ab7c`
` -- Version: 1.5.0`
` -- Performing Test HAVE_STD_REGEX -- success`
` -- Performing Test HAVE_GNU_POSIX_REGEX -- failed to compile`
` -- Performing Test HAVE_POSIX_REGEX -- failed to compile`
` -- Performing Test HAVE_STEADY_CLOCK -- succ

[2020-09-04 01:40] NancyLi1013 commented on #13343
Hi @ZYZ-HAHA
Thanks for posting this issue.
This is related with the proxy on your local network. You can use the same way to download boostcpp.jam file manually.

Please try to do as the steps that @showintime suggested above.

[2020-09-04 01:47] mkckr0 commented on #13299
Yes! The problem has been solved!
There are my concrete solutions:

- Solution 1: Use MT
Change all "MD" to "MT"
![image](https://user-images.githubusercontent.com/26296627/92189680-dafe7800-ee91-11ea-91f5-054012abce51.png)

- Solution 2: Use MD
Execute `vcpkg install boost:x64-windows-static-md`,  and then change "x64-windows-static" to "x64-windows-static-md"
![image](https://user-images.githubu

[2020-09-04 01:49] NancyLi1013 commented on #13344
Have you tried the latest commit? This issue should be fixed via #13278.

Is this the same issue as #13287 that you posted before? If the issue wasn't fixed, we can reopen it. It's not necessary to create a new one.

[2020-09-04 01:57] JackBoosY commented on #13292
@showintime Because geos was updated 4 days ago, that breaks osgearth build.

[2020-09-04 01:59] jz-fb commented on #13344
Git log shows I'm at last commit of: Fix ffmpeg build for PATH with spaces. (#13275), so I should have it. I literally cloned it a few hours back.

[2020-09-04 02:15] JackBoosY commented on #13236
Add `SYSTEM_LIBRARIES dbus-1` to https://github.com/microsoft/vcpkg/blob/85247c398141ab4d692b8fd61dbfcb845e79d2f2/ports/sdl2/portfile.cmake#L97

[2020-09-04 02:32] JackBoosY commented on #13308
Sadly, I don’t know, @strega-nil can you please answer this question?

[2020-09-04 03:17] cjdb opened #13345 "[fmt] build failure on WSL2"
**Host Environment**
- OS: Ubuntu 20.04 (WSL2)
- Compiler: gcc version 10.0.1 20200411 (experimental) [master revision bb87d5cc77d:75961caccb7:f883c46b4877f637e0fa5025b4d6b5c9040ec566] (Ubuntu 10-20200411-0ubuntu1)
- Commit: 85247c398141ab4d692b8fd61dbfcb845e79d2f2

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install fmt`

**Failure logs**

[code]

**Additional context**
Add any oth

[2020-09-04 04:11] GTchenchao opened #13346 "build boost fail"
the fail message:
-- Using cached C:/src/vcpkg/downloads/boostorg-compatibility-boost-1.73.0.tar.gz
-- Cleaning sources at C:/src/vcpkg/buildtrees/boost-compatibility/src/ost-1.73.0-44642da97c.clean. Use --editable to skip cleaning for the packages you specify.
-- Extracting source C:/src/vcpkg/downloads/boostorg-compatibility-boost-1.73.0.tar.gz
-- Using source at C:/src/vcpkg/buildtrees/boost-co

[2020-09-04 05:48] NancyLi1013 commented on #13344
Does this issue only exist on static build or not? Have you tried to build `fooly:x64-windows`?

[2020-09-04 06:06] #13199 closed

[2020-09-04 06:17] PhoebeHui commented on #13338
@pudding186, could you provide us more information? what's output from '.\vcpkg.exe install cryptopp:x64-windows-static --debug'

I can't repro this issue with vs2019 16.7.2.

Starting package 1/1: cryptopp:x64-windows-static
Building package cryptopp[core]:x64-windows-static...
-- Downloading https://github.com/noloader/cryptopp-cmake/archive/6d0666c457fbbf6f81819fd2b80f0cb5b6646593.tar.gz...
--

[2020-09-04 06:18] #13299 closed

[2020-09-04 06:25] NancyLi1013 commented on #13323
Hi @daramkun
Thanks for posting this issue.
Since `mozjpeg `is based on `libjpeg-turbo`.

Please see theses two docs:
https://github.com/mozilla/mozjpeg/blob/master/README.md
https://github.com/mozilla/mozjpeg/blob/master/README-mozilla.txt

They cannot be installed at the same time due to the conflicts.

Need to add messages for the two ports.

[2020-09-04 06:38] PhoebeHui opened #13348 "[Boost] Problems when downloading the LICENSE_1_0.txt and boostcpp.jam"
Many issues reported about problems when downloading the LICENSE_1_0.txt and boostcpp.jam.

Failures:
[code]

Possible solutions are:
- Set the HTTPS_PROXY and HTTP_PROXY environment (see https://github.com/microsoft/vcpkg/issues/11627#issuecomment-642356801)
- Change DNS server (see https://github.com/microsoft/vcpkg/issues/12266#issuecomment-653856357)
- Download the zip file, unzip it and put i

[2020-09-04 06:38] PhoebeHui commented on #13346
Duplicated to https://github.com/microsoft/vcpkg/issues/13348

[2020-09-04 06:38] #13346 closed

[2020-09-04 06:38] PhoebeHui commented on #13343
Duplicated to https://github.com/microsoft/vcpkg/issues/13348

[2020-09-04 06:38] #13343 closed

[2020-09-04 06:42] PhoebeHui commented on #13001
Duplicated to https://github.com/microsoft/vcpkg/issues/13348

[2020-09-04 06:42] #13001 closed

[2020-09-04 06:45] NancyLi1013 commented on #13344
Also please try to use like this:

[code]

[2020-09-04 06:50] daramkun commented on #13323
So, is there solution? or Need to fix the code of vcpkg?

[2020-09-04 06:51] jmkerloch commented on #13308
@Hoikas , thanks for the answer. This is exactly what I was looking for.
I managed to add almost the same functionnality but without a powershell script :

[code]
The  downside is that I have to add this  code for every dependency.
I'm  looking  for CMake variable that will give me all dependency (with .dll full path so I can copy the .dll after build).

[2020-09-04 06:52] PhoebeHui commented on #11222
Related to https://github.com/microsoft/vcpkg/issues/7903

[2020-09-04 06:54] PhoebeHui commented on #2075
Duplicated to https://github.com/microsoft/vcpkg/issues/7903

[2020-09-04 06:54] #2075 closed

[2020-09-04 06:58] PhoebeHui commented on #13096
@jiri-otoupal, does the failure same as before in  C/vcpkg/buildtrees/detect_compiler/config-x64-windows-rel-err.log?

[2020-09-04 07:02] PhoebeHui commented on #13096
It might due to cmake installed by cygwin64, could you remove it, and try again?
[DEBUG] Found path: C:\cygwin64\bin/cmake.exe
[DEBUG] Found path: C:\Program Files\CMake\bin/cmake.exe
[DEBUG] CreateProcessW("C:\cygwin64\bin/cmake.exe" --version)

[2020-09-04 07:06] fingerecho opened #13349 "[SQLite3_FIND_REQUIRED] CMake Error"
**Host Environment**
- OS: [e.g. Windows10]
- Compiler: Visual Studio 2019  /Cmake 3.17.2

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install SQLite3`

**Failure logs**
CMake Error at C:/ProgramData/vcpkg/vcpkg/downloads/tools/cmake-3.17.2-windows/cmake-3.17.2-win32-x86/share/cmake-3.17/Modules/FindPackageHandleStandardArgs.cmake:167 (message):
  Could NOT find SQLite3 (missing: SQ

[2020-09-04 07:06] PhoebeHui commented on #13326
@UnknownObject000, could you get vcpkg latest source and try again? This issue should be fixed by PR https://github.com/microsoft/vcpkg/pull/12232.

[2020-09-04 07:14] PhoebeHui commented on #12996
@stemuser027, vcpkg provide a very easy and simple solution for setting up the freeglut port in your project. please reopen this issue if you still have any issue for freeglut that installing by vcpkg.

[2020-09-04 07:14] #12996 closed

[2020-09-04 07:27] ahoarau commented on #4968
@marekr any news on the PR ? did you solve the TCL-TK port ?

[2020-09-04 07:59] GTchenchao commented on #13348
Thank you, it's ok after setting up new DNS

[2020-09-04 08:35] NancyLi1013 commented on #13323
You can remove another port when installing one of them. There are no ways to fix this. Adding message is to remind users that these two ports are conflicts with each other.

So you can remove `mozjpeg:x64-windows-static` first, then try to build this again.

[2020-09-04 08:38] nineKnight commented on #12896
I'm new here and caught into this situation. So why not just make a copy of x264.lib to libx264.lib? It seems to work.

[2020-09-04 08:49] UnknownObject000 commented on #13326
@PhoebeHui , Thank you for the advice, my problem soved now.

[2020-09-04 08:49] #13326 closed

[2020-09-04 08:54] NancyLi1013 commented on #13268
[code]
It seems that `gendef.vcxpro` cannot be found on your local.

I cannot reproduce this on my machine.

Could you please help check this?

![Capture](https://user-images.githubusercontent.com/46708020/92220918-3ef36180-eecf-11ea-9e1a-c513e18b925e.PNG)

[2020-09-04 09:07] NancyLi1013 commented on #13349
Hi @fingerecho
Thanks for posting this issue.
Please refer to the  following usage to use `sqlite3`.

[code]

[2020-09-04 09:10] NancyLi1013 commented on #12696
Closing this issue for now since there is no response in a long time.

[2020-09-04 09:10] #12696 closed

[2020-09-04 09:12] NancyLi1013 commented on #11875
@pwm1234
Please let me know if this is still a problem for you.

Thanks.

[2020-09-04 09:14] NancyLi1013 commented on #11498
Closing this issue for now since there is no response in a long time.
Please feel free to reopen this if it is still a problem for you.

[2020-09-04 09:14] #11498 closed

[2020-09-04 09:18] NancyLi1013 commented on #8223
Closing this issue for now since no response in a long time.
Please feel free to reopen this if is still a problem for you.

[2020-09-04 09:18] #8223 closed

[2020-09-04 09:25] PhoebeHui commented on #12830
The PR has been merged.

[2020-09-04 09:25] #12830 closed

[2020-09-04 09:34] nineKnight opened #13350 "[x264] build failure"
**Host Environment**
- OS: latest Windows 10, no beta
- Compiler: latest vs2019 and sdk. no beta

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Failure logs**
[config-x64-windows-dbg-err.log](https://github.com/microsoft/vcpkg/files/5173847/config-x64-windows-dbg-err.log)
[config-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/5173848/config-x64-windows-dbg-out.log)

[2020-09-04 09:53] mbeutel commented on #6810
We were mostly concerned with storage space, not with build time, so binary caching doesn't really help. However, we since decided that increasing the available storage space is the best solution to this problem, so I'll close this issue.

---

Side note:

We use [Spack](https://spack.io/) to manage software and libraries on a small HPC cluster. Spack supports coexistence of multiple versions in o

[2020-09-04 09:53] #6810 closed

[2020-09-04 10:29] daramkun commented on #13323
But `libjpeg-turbo:x64-windows-static` install first, I cannot install `mozjpeg:x64-windows-static`. and Removing `libjpeg-turbo:x64-windows-static`, removing `tiff:x64-windows-static` too. I need `mozjpeg`'s encoder and `tiff`'s decoder.

So, no solution in vcpkg, I have to build tiff myself. Thanks.

[2020-09-04 10:31] fingerecho commented on #13349
Thank you! Although this is not my expected answer.

[2020-09-04 10:35] fingerecho commented on #13349
Please pay attention to the content of the bracket - "found version "3.23.1",
CMake Error at C:/ProgramData/vcpkg/vcpkg/downloads/tools/cmake-3.17.2-windows/cmake-3.17.2-win32-x86/share/cmake-3.17/Modules/FindPackageHandleStandardArgs.cmake:167 (message):
Could NOT find SQLite3 (missing: SQLite3_LIBRARY) (found version "3.23.1")

[2020-09-04 10:36] fingerecho commented on #13349
May be it is just missing the LIBRARY .
How could I fix this bugs?

[2020-09-04 10:37] fingerecho commented on #13349
Add something?

[2020-09-04 10:40] fingerecho commented on #13349
What is the difference between the `PACKAGE` and the `LIBRARY`?
If my project named 'helloworld', What should I change the `main` in command `target_link_libraries(main PRIVATE unofficial::sqlite3::sqlite3)· to? When I copied this command into CMakeLists.txt , It doesn't work well.

[2020-09-04 10:42] fingerecho commented on #13349
The out-put as follows:
CMake Error at C:/ProgramData/vcpkg/vcpkg/downloads/tools/cmake-3.17.2-windows/cmake-3.17.2-win32-x86/share/cmake-3.17/Modules/FindPackageHandleStandardArgs.cmake:165 (target_link_libraries):
  Cannot specify link libraries for target "main" which is not built by this

[2020-09-04 10:44] fingerecho commented on #13349
When I copied the `find_package` commands into ****.cmake file, out-put as follows:
CMake Error at C:/ProgramData/vcpkg/vcpkg/scripts/buildsystems/vcpkg.cmake:474 (_find_package):
  Could not find a package configuration file provided by
  "unofficial-sqlite3" with any of the following names:

    unofficial-sqlite3Config.cmake
    unofficial-sqlite3-config.cmake

  Add the installation prefix of

[2020-09-04 10:50] abcping123 commented on #13350
Same as my issue #13327.
temporary solution: `vcpkg_configure_make.cmake (line 223)`
modify `;$ENV{SystemRoot}\\System32;` => `;$ENV{SystemRoot}\\system32;`

[2020-09-04 11:02] fingerecho commented on #13349
When I installed a package named `HELLOWORLD`, then opened The CMakeLists.txt with the Visual Studio 2019, the error out-put as follows:
严重性	代码	说明	项目	文件	行	禁止显示状态
错误		CMake Error at C:/ProgramData/vcpkg/vcpkg/scripts/buildsystems/vcpkg.cmake:461 (_find_package):
  By not providing "FindHELLOWORLD.cmake" in CMAKE_MODULE_PATH this project has
  asked CMake to find a package configuration file provide

[2020-09-04 11:32] MicSm commented on #13216
Hi @JonLiu1993 ,

Right now I made a full reinstall of vcpkg, and it seems there is another one error as well
(after executing vcpkg.exe install assimp):

-- Downloading http://www.zlib.net/zlib-1.2.11.tar.gz...
-- Extracting source D:/vcpkg/downloads/zlib1211.tar.gz
-- Applying patch cmake_dont_build_more_than_needed.patch
-- Applying patch 0001-Prevent-invalid-inclusions-when-HAVE_-is-set-to-0.p

[2020-09-04 11:36] MicSm commented on #13216
@JonLiu1993 As I see, my vcpkg installation was compiled with VS 2019 compiler and it is possible to download directly from browser that archive: https://repo.msys2.org/mingw/i686/mingw-w64-i686-pkg-config-0.29.2-1-any.pkg.tar.xz

[2020-09-04 11:45] ulfllorenz commented on #12917
I think if we can get the private port that would be at least a useful starting point that saves the odd hour of work.

[2020-09-04 11:47] Hoikas commented on #13308
I'm not an expert at CMake, but I think you will want to do something like [get_target_properties(LINK_LIBRARIES)](https://cmake.org/cmake/help/latest/prop_tgt/LINK_LIBRARIES.html) to get the dependencies and copy them. I'm not sure how you get the full DLL path from there, however. Vcpkg has an advantage in that it builds everything and has hooked deeply into that process.

[2020-09-04 12:14] oswjk commented on #12917
Can be found from here https://github.com/oswjk/vcpkg-minizip-fork

[2020-09-04 12:38] ulfllorenz commented on #12917
It will probably take some time (days, single weeks) until we do this specific item, but thanks in any case.

[2020-09-04 13:12] slowik21861 opened #13351 "Environment Variables and Vcpkg updates"
I am using CMAKE as build system on macOS. Every project uses CMAKE_TOOLCHAIN_FILE provided by Vcpkg. After upgrading Vcpkg to newer version I have to modify .vscode/settings.json in every project to match new path to Vcpkg.cmake file

**Proposed solution**
One way to overcome this problem is to provide link "current version" or similar in constant path. Every upgrade of Vcpkg should update this l

[2020-09-04 13:39] ivanovmp opened #13353 "[boost] ./installed/x86-windows/tools/boost-build/b2.exe is treated as a virus by anti-virus software"
**Host Environment**
- OS: Windows 10 Home Single Language (Russian) x64
- Compiler: Microsoft (R) C/C++ Optimizing Compiler Version 19.27.29110

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install boost-serialization:x86-windows`

**Failure logs**
[code]
Error code in English: "Operation did not complete successfully because the file contains a virus"

**Additional context**
Seems

[2020-09-04 13:53] Hoikas commented on #10649
Based on the above commentary from OP. it looks like this issue should be closed?

[2020-09-04 14:11] #13291 closed

[2020-09-04 14:56] nauq302 commented on #13271
I'm still get this error
OS: Ubuntu 20.04
Compiler: gcc-9
IDE: CLion
![image](https://user-images.githubusercontent.com/45142722/92252960-28620000-eef9-11ea-9a35-9f69776d0154.png)

[2020-09-04 15:08] shauser67 opened #13354 "[openimageio[opencolorio] / libheif] Linking against OpenImageIO failed"
**Host Environment**
- OS: Windows 10, x64-windows-static
- Compiler: Visual Studio 2019

**To Reproduce**
Linking my application against openimageio worked fine until recently when a new dependency to libheif was introduced. Although I added heif.lib to both the debug and release configuration there are a number of unresolved external symbols. Maybe a configuration problem? Thanks for any help in

[2020-09-04 15:34] virtualritz commented on #12928
I now get this:
[code]

Alembic builds fine on macOS (It's not called OSX any more) for me if I do this manually.

[2020-09-04 17:29] cjdb commented on #13345
With `--debug` flag enabled:
[code]

[2020-09-04 17:39] pwm1234 commented on #11875
Thanks for double-checking. This is still a problem. As I mentioned above (in my comment on Jul 29) a simple find_package hdf5 is what is now correct for windows. The special logic workaround for windows leads to the debug build of opencv incorrectly using the release lib or hdf5. The build will still complete, but running the debug will lead to a crash because you are mixing debug and release cod

[2020-09-04 18:14] cjdb commented on #13345
Git bisect indicates that:

[code]

[2020-09-04 18:52] BillyONeal commented on #13292
@showintime Can you try @JackBoosY's PR branch and let us know if that works for you? (We know it builds but given that it hasn't been merged upstream yet we are less certain that the result is what you want)

[2020-09-04 20:00] BrianPeek commented on #13236
I had this issue last week #13187 and wound up uninstalling the packages from Ubuntu that were erroring, as suggested in the thread.  That said, I'm not sure why it suddenly started happening.

[2020-09-04 20:33] jz-fb commented on #13344
The non-static version is even worse. It starts asking for all the prior dependencies and once I specify their directory locations we're back to zlib again.

[2020-09-04 20:36] paedocypris commented on #2350
I had an issue in my company regarding proxy and wondered if the solution could be helpful to others.

Setting the environment variables didn't do the trick. After searching and realizing that vcpkg uses curl, I then tried to issue a curl command directly with "curl -q -I https://github...", which presented the error "curl: (4) unsupported proxy 'https://xxx:yyy@proxy.com:1234', libcurl is built w

[2020-09-05 01:41] whidbey commented on #12849
this works ,it generates lib in
C:\vcpkg\installed\x86-windows-static\lib
I dont need the bin/exe infact,as I could use the x86-windows triplet version I think..

-- Using community triplet x86-windows-static. This triplet configuration is not guaranteed to succeed.
-- [COMMUNITY] Loading triplet configuration from: C:\vcpkg\triplets\community\x86-windows-static.cmake
-- Using cached C:/vcpkg/down

[2020-09-05 01:46] whidbey commented on #12849
and I see C:\vcpkg\installed\x86-windows-static\tools\protobuf\protoc.exe generates without copy from package folder.

[2020-09-05 02:29] pjgoodall opened #13363 "[mpir:x64-linux] build failure"
**Host Environment**
- OS: Ubuntu 18.04.5 LTS
- Compiler: gfortran 4:7.4.0-1ubuntu2.3

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install  mpir:x64-linux`
i am in the process of  installing colmap
`vcpkg install colmap[cuda,tests]:x64-linux`

https://colmap.github.io/install.html led me to believe this was the standard process for installing colmap on Ubuntu.

It's not a very pleas

[2020-09-05 02:41] showintime commented on #13292
@BillyONeal
I successfully built osgearth, but I found that the dependencies required by osgearth did not appear in the requirements of vcpkg to install osgearth, such as **draco**, **glew**,..., which will cause osgearth to have problems in some functions that use these (I use the 3dtiles function of osgearth, if there is no draco, this will be an error), I am not sure if this is a problem that v

[2020-09-05 03:11] #13083 closed

[2020-09-05 03:16] #13279 closed

[2020-09-05 05:23] #13261 closed

[2020-09-05 05:46] fingerecho commented on #13349
Thank you all! I got it byself.
Thanks for contributing !!

[2020-09-05 05:46] #13349 closed

[2020-09-05 06:47] chuyanjuncn commented on #13292
When building osgEarth with VS 2015, there is an error in building Python3

PS D:\vcpkg-master> .\vcpkg install osgearth:x64-windows
Computing installation plan...
The following packages will be built and installed:
  * boost[core]:x64-windows
  * boost-parameter-python[core]:x64-windows
  * boost-poly-collection[core]:x64-windows
  * boost-process[core]:x64-windows
  * boost-program-options[core]

[2020-09-05 07:47] pjgoodall commented on #13363
could someone check my work please - I think this issue is because of
https://github.com/microsoft/vcpkg/issues/12708

[2020-09-05 11:28] dimiboi opened #13366 "Export to an absolute path fails with "Failure to remove_all...""
**Describe the bug**
Exporting to an absolute path fails. When the same directory is passed as a relative path, everything works.

**Environment**
- OS: Windows 10 Pro 2004
- Compiler: Visual Studio 2019 16.7.2

**To Reproduce**
Steps to reproduce the behavior:
1. `./vcpkg export any_package --triplet any_triplet --raw --output=C:\export`
2. See error

**Expected behavior**
Successful export to an

[2020-09-05 13:24] pbpf opened #13367 "[New Port Request] SCIP"
Library name: SCIP

Library description: SCIP is currently one of the fastest non-commercial solvers for mixed integer programming (MIP) and mixed integer nonlinear programming (MINLP). It is also a framework for constraint integer programming and branch-cut-and-price. It allows for total control of the solution process and the access of detailed information down to the guts of the solver.

Source

[2020-09-05 13:51] Jimmy-Hu commented on #13268
@NancyLi1013 Thank you for your reply. I pull to the latest commit and reinstall the package again and the problem solved. Thank you so much,

[2020-09-05 13:51] #13268 closed

[2020-09-05 14:16] igormaozao opened #13368 "[bzip2:x64-windows] Build failure - Status: 35;"SSL connect error""
**Host Environment**
- OS: Windows 7 x64
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install --triplet x64-windows boost-iostreams boost-asio boost-system boost-filesystem boost-variant boost-lockfree luajit libmariadb pugixml cryptopp`

**Failure logs**
vcpkg.exe install --triplet x64-windows boost-iostreams boost-asio boost-system boost-filesystem boost-varia

[2020-09-05 16:58] virtualritz commented on #5310
Why not keep it open until all requested ports have been added? Seems like less work than re-opening and closing it again for each PR?

[2020-09-05 17:45] #9570 closed

[2020-09-05 18:22] soroush opened #13370 "pcl build failure"
**Host Environment**
- OS: Windows
- Compiler: MSVC 14.2
- Vcpkg version: 2020.06.15-nohash

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install pcl[vtk,cuda]`

**Failure logs**
[code]
**Additional Info**
There are no permission issues. I also tried a fresh vcpkg install in another location and the result is the same.

[2020-09-05 18:36] #13370 closed

[2020-09-05 19:44] virtualritz opened #13371 "[alembic] build failure on macOS (and possibly Linux)"
This is broken again now. For two reasons. One is upstream and [has been reported](https://github.com/alembic/alembic/issues/307) (another `-werror` one). It's fixed but the fix is not in a tagged Alembic release (yet).

In the meantime the reason that the port is broken on macOS (and presumably Linux) is that this line was added to the top of `profile.cmake`:
[code]
I guess this should be
[code]

[2020-09-05 19:47] virtualritz commented on #13371
The fixed version can be tested if the `vcpkg_from_github` in `profile.cmake` is temporarily set to:
[code]

[2020-09-05 20:36] StarGate-One commented on #13368
See #13298 #13217
From what I gather, msys2 now accepts only TLS 1.2 or 1.3 connections, they have phased out TLS 1.0 and 1.1
Windows 7 not support TLS 1.2 or 1.3
A couple of options are:
1. download the files manually with a browser with TLS 1.2 or 1.3 capability (the latest versions Firefox, chrome and the new Chromium edge have TLS 1.3 enabled by default) and put them in the [vcpkg-root]\downlo

[2020-09-05 20:36] domsupamoe opened #13372 "[glad] Could not find a package configuration file"
**Host Environment**
- OS: Linux
- Compiler: g++

**To Reproduce**

The package is installed successfully with `./vcpkg install glad`.

In the CMakeLists.txt, I added the lines for importing package:
[code]
However, when trying to run build `cmake -S . -B build`
CMake outputs the error "Could not find a package configuration file"

**Failure logs**
[code]

**Additional context**

Temporarily resol

[2020-09-05 21:31] StarGate-One opened #13373 "[boost ports] `vcpkg install` or `vcpkg upgrade` "Error: Unrecognized identifer name v120. Add to override list in triplet file.""
**Describe the bug**
When performing `vcpkg upgrade` or `vcpkg install` on the `boost` ports the following error message occurs since commit **Fix [boost] MSVC 2013 v120 Build (#10645)**

**Environment**
- OS: [Microsoft Windows [Version 10.0.19041.488]]
- Compiler: Visual Studio  Version: 16.7.2  VS Tools Version: 14.27.29110

**To Reproduce**
Steps to reproduce the behavior:
1. `git pull` as of

[2020-09-05 21:40] StarGate-One commented on #13373
Found this on the x64-windows pipeline run for this change....

https://dev.azure.com/vcpkg/public/_build/results?buildId=42551&view=logs&j=384c4415-93cb-5962-b64b-d976ffb39bd5&t=911b920d-b794-53d6-9344-822ccdf736be
![image](https://user-images.githubusercontent.com/68293825/92313884-c8259980-ef9e-11ea-9c5f-390c469a7d39.png)

It seems the CI pipeline failed to detect this error.

[2020-09-05 21:46] sfhacker commented on #13371
Are we **STILL** having issues building alembic project?
Just downloaded master branch and no issues at all!

![image](https://user-images.githubusercontent.com/25817529/92313960-efb74900-f014-11ea-840a-7998e6d4fd74.png)

[2020-09-06 01:10] sfhacker commented on #12959
Any news/update on this issue?

![image](https://user-images.githubusercontent.com/25817529/92316000-70843e00-f031-11ea-820e-6ecb2c4aa5db.png)

[2020-09-06 02:50] #8850 closed

[2020-09-06 07:19] adilaadhu opened #13376 "intallation error"
.\vcpkg\bootstrap-vcpkg.bat

i have run this command on my windows powershell but showed some error on tab,given below on that error.

The property 'instance' cannot be found on this object. Verify that the property exists.
At C:\dev\vcpkg\scripts\bootstrap.ps1:78 char:31
+         foreach ($instance in $asXml.instances.instance)
+                               ~~~~~~~~~~~~~~~~~~~~~~~~~
    + Cate

[2020-09-06 10:36] virtualritz commented on #13371
What platform are you on? Build fails for me immediately on macOS because of said line in the `profile.cmake`. When I comment the line out the build starts but eventually fails because of the `-werror` issue.
If you visit that issue you see that some compilers do not emit a warning for an unused variable which means no error which means the build succeeds.
But only on some platform(s) with some co

[2020-09-06 10:46] virtualritz commented on #13371
On that note. These changes were added to those port files three days ago. The previous Alembic vcpkg breakage was purely upstream. This one is 50/50.
So you do not have issues **still**. You have issues **again**. Beers.

[2020-09-06 11:00] MOKOTA opened #13377 "[osgearth:x64-windows] build failure"
**Host Environment**
- OS: windows-10
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg  install osgearth:x64-windows`

**Failure logs**
-Cut and past the appropriate build messages from the console output.
-Please attach any additional failure logs mentioned in the console output.

**Additional context**
Add any other context about the problem here, such as what you

[2020-09-06 11:01] MOKOTA commented on #13377
[install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/5179517/install-x64-windows-dbg-out.log)

[2020-09-06 15:22] Aung1234Auto commented on #9606
I am also having the same issue. How can I solve it? It is a bit confused. I already installed system Power Shell Core 7.0.3, but vcpkg does not integrate with system power shell. It just show like that time and again.

Detecting compiler hash for triplet x64-windows...
A suitable version of powershell-core was not found (required v7.0.3). Downloading portable powershell-core v7.0.3...
Downloading

[2020-09-06 15:25] jesseschalken commented on #9606
Read the thread. The "A suitable version of powershell-core was not found" message is misleading. Vcpkg always downloads its own powershell and this is not a bug.

[2020-09-06 17:27] nico-abram commented on #13350
Just ran into this same problem

Thank you @abcping123 that fixed it!

[2020-09-06 17:38] brukted opened #13379 "[New Port Request] libsigcpp-3"
Library name: libsigcpp-3.0

Source repository URL: https://github.com/libsigcplusplus/libsigcplusplus

Project homepage (if different from the source repository): https://libsigcplusplus.github.io/libsigcplusplus/

[2020-09-06 18:27] igormaozao commented on #13368
Thank you, downloading the file manually did the job.

[2020-09-06 18:27] #13368 closed

[2020-09-06 18:31] sfhacker commented on #12819
@Todd-Fulton Any update on this open issue?
We have had no issues so far!

![image](https://user-images.githubusercontent.com/25817529/92332676-f1d7e100-f0c2-11ea-83be-349660bba733.png)

[2020-09-06 20:19] StarGate-One commented on #13376
Have you installed Visual Studio 2015, 2017 or 2019? Visual Studio 2017/2019 Community versions are free...
https://visualstudio.microsoft.com/downloads/
With Visual Studio 2017/2019, install the Desktop Development with C++ workload, Windows SDK and the English Language pack.

[2020-09-06 20:33] StarGate-One commented on #13377
May be related to [osgearth:x64-windows] build failure #13292

[2020-09-07 01:27] dominique120 commented on #13324
This does appear to be fixed in the later release and in the master branch so I'm guessing it can be closed.

[2020-09-07 01:31] dominique120 opened #13380 "[New Port Request] Served"
**Library name**: Served

**Library description:** Served is a C++ library for building high performance RESTful web servers. Served builds upon Boost.ASIO to provide a simple API for developers to create HTTP services in C++.

**Source repository URL:** https://github.com/meltwater/served

**Anything else that is useful to know when adding (such as optional features the library may have that shou

[2020-09-07 01:55] NancyLi1013 commented on #13291
Hi @StarGate-One

This issue still needs to be fixed, isn't it? If so, we should keep it open until it is fixed.

[2020-09-07 02:10] StarGate-One commented on #13291
@NancyLi1013
@BillyONeal merged the fix after @ras0219 approval 3 days ago.

[2020-09-07 02:10] StarGate-One commented on #13291
PS I did not close. The PR merge did.

[2020-09-07 02:13] StarGate-One commented on #13291
Yes there should be a PR and ticket still open for libpq as it will fail if decimal-for-cpp is already installed.
The other issue with libpq was with imgui which also was fixed by @strega-nil a few days ago.

[2020-09-07 02:21] NancyLi1013 commented on #13291
Yes, I know this is closed automatically. I want to confirm with you that either you want to keep this issue open or open a new issue ticket to track `libpq `issue.

Thanks.

[2020-09-07 02:23] makitsune commented on #12917
@oswjk Thank you so much. I hope it get's pushed to vcpkg soon

[2020-09-07 02:36] JackBoosY commented on #13351
@dan-shaw Maybe we should do that, to ensure smoother version updates.

[2020-09-07 02:39] PhoebeHui commented on #11424
@MarcoSpeziali, If you'd like to continue working on it, please reopen and ping us!

[2020-09-07 02:39] #11424 closed

[2020-09-07 02:41] LilyWangL commented on #11879
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-09-07 02:41] #11879 closed

[2020-09-07 02:44] PhoebeHui commented on #11182
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now

[2020-09-07 02:44] #11182 closed

[2020-09-07 02:44] LilyWangL commented on #12596
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-09-07 02:44] #12596 closed

[2020-09-07 02:45] LilyWangL commented on #12580
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-09-07 02:45] #12580 closed

[2020-09-07 02:46] PhoebeHui commented on #11922
Thanks @Pospelove for the information!

[2020-09-07 02:46] #11922 closed

[2020-09-07 02:48] LilyWangL commented on #12526
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-09-07 02:48] #12526 closed

[2020-09-07 02:49] LilyWangL commented on #12511
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-09-07 02:49] #12511 closed

[2020-09-07 02:49] PhoebeHui commented on #12127
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-09-07 02:49] #12127 closed

[2020-09-07 02:50] LilyWangL commented on #12510
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-09-07 02:50] #12510 closed

[2020-09-07 02:50] NancyLi1013 commented on #10687
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-09-07 02:50] #10687 closed

[2020-09-07 02:50] LilyWangL commented on #12478
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-09-07 02:50] #12478 closed

[2020-09-07 02:51] LilyWangL commented on #12438
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-09-07 02:51] #12438 closed

[2020-09-07 02:52] PhoebeHui commented on #12313
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-09-07 02:52] #12313 closed

[2020-09-07 02:52] LilyWangL commented on #12308
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-09-07 02:52] #12308 closed

[2020-09-07 02:52] NancyLi1013 commented on #11402
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-09-07 02:52] #11402 closed

[2020-09-07 02:53] PhoebeHui commented on #12100
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-09-07 02:53] #12100 closed

[2020-09-07 02:53] LilyWangL commented on #12283
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-09-07 02:53] #12283 closed

[2020-09-07 02:55] PhoebeHui commented on #12261
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-09-07 02:55] #12261 closed

[2020-09-07 02:55] NancyLi1013 commented on #7259
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-09-07 02:55] #7259 closed

[2020-09-07 02:56] NancyLi1013 commented on #12106
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-09-07 02:56] #12106 closed

[2020-09-07 02:58] NancyLi1013 commented on #12016
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-09-07 02:58] #12016 closed

[2020-09-07 03:00] StarGate-One commented on #13291
The libpq issues I had have been fixed. This one just happened to come to light when I installed libpq, but this issue would arise on any port using msys2 needing the gettext package. The issue was not libpq but the cmake script downloading the msys2 packages in download mode after the conversion was made to not use the full msys2 package, but download only those needed.
So it is ok for this to be

[2020-09-07 03:01] NancyLi1013 commented on #11921
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-09-07 03:01] #11921 closed

[2020-09-07 03:02] NancyLi1013 commented on #12012
If you wish to add this port in the future, you can reopen this issue, but we're closing it for now.

[2020-09-07 03:02] #12012 closed

[2020-09-07 03:16] PhoebeHui commented on #9791
@cesss, thanks for your feedback.

[2020-09-07 03:16] #9791 closed

[2020-09-07 03:37] showintime opened #13381 "Build osgearth with optional dependence dacro"
Among the dependencies of osgearth, some dependencies are optional, such as draco, so how to add optional dependencies at build time?

[2020-09-07 03:53] #11752 closed

[2020-09-07 05:53] BillyONeal commented on #13155
You can't; adding new things to platform-expression will require changes to `vcpkg.exe` itself. See for example https://github.com/microsoft/vcpkg/blob/master/toolsrc/src/vcpkg/platform-expression.cpp#L37

[2020-09-07 05:59] meastp commented on #12309
@strega-nil I also found that I had to add `--x-wait-for-lock` to `vcpkg\scripts\buildsystems\msbuild\vcpkg.targets` because it is invoked a lot of times during compilation, and will fail with lock failures otherwise. Should I file a separate bug about this?

[2020-09-07 06:02] showintime commented on #13292
@chuyanjuncn
Can you provide *D:\vcpkg-master\buildtrees\python3\build-x64-windows-rel-out.log*

[2020-09-07 06:03] meastp commented on #13155
@BillyONeal That's inconvenient for me as I differentiate on the VCPKG_PLATFORM_TOOLSET. Could this be added to platform-expressions, please? :)

[2020-09-07 06:13] JonLiu1993 commented on #12182
Hi @gdidomenico  ,Thaks for your issue.
duplicated of #13140

[2020-09-07 07:30] JackBoosY commented on #12849
@whidbey Yes, that's why it's called `workaround`, you need to copy the dependencies manually.

[2020-09-07 07:31] JackBoosY commented on #13377
Duplicate with #13292

[2020-09-07 07:31] #13377 closed

[2020-09-07 07:52] PhoebeHui commented on #13373
@StarGate-One, thanks for reporting this issue!

The root cause is invalid identifier '!v120' added to CONTROl file in https://github.com/microsoft/vcpkg/pull/10645.

[2020-09-07 08:00] NancyLi1013 commented on #13350
Hi @nineKnight
Thanks for posting this issue.
Since it's duplicated to #13327, let's track this issue here.

[2020-09-07 08:01] PhoebeHui commented on #13373
cc @ManuelKugelmann

I would revert the invalid identifiler v120 for unblocking boost, and keep others changes in PR #10645 for futher fix from contributor.

[2020-09-07 08:24] NancyLi1013 commented on #13381
Hi @showintime
Thanks for posting this issue. In this case, we can consider to add these optional dependencies as features for `osgearth`.

If we want to build with some of them, such as `draco`, we can build like this `./vcpkg install osgearth[draco]`.

[2020-09-07 08:46] showintime commented on #13381
Hello @NancyLi1013
Good Idea
by the way, how do you plan to implement this feature?

[2020-09-07 09:03] JonLiu1993 commented on #13372
Hi @domsupamoe, I have successfully used glad in linux environment according to your method, can you provide the CMkelists.txt?

vwangli@vwangli004:~/Jon/test$ /home/vwangli/Jon/vcpkg/downloads/tools/cmake-3.17.2-linux/cmake-3.17.2-Linux-x86_64/bin/cmake -B /home/vwangli/Jon/test/build -S /home/vwangli/Jon/test/src . -DCMAKE_TOOLCHAIN_FILE=/home/vwangli/Jon/vcpkg/scripts/buildsystems/vcpkg.cmake
-

[2020-09-07 09:07] NancyLi1013 commented on #13354
Hi @shauser67
Thanks for posting this issue.
Could you please help provide the steps to reproduce this issue and your project case?

[2020-09-07 09:08] #13036 closed

[2020-09-07 09:08] blackknifes commented on #13265
Thanks, it is helpful.

[2020-09-07 09:08] #13265 closed

[2020-09-07 09:11] whidbey opened #13388 "building faileds on shogun repositions."
**Describe the bug**
A clear and concise description of what the bug is.
simple install shogun

c:\vcpkg>vcpkg install shogun:x64-windows-static
Computing installation plan...
The following packages will be built and installed:
    shogun[core]:x64-windows-static
Detecting compiler hash for triplet x64-windows-static...
Starting package 1/1: shogun:x64-windows-static
Building package shogun[core]:

[2020-09-07 09:12] whidbey commented on #12849
ok,thanks ,i templty resolve it by your patch...

[2020-09-07 09:19] virtualritz commented on #13371
No, I would do the fixes asap since some compilers do not issue a warning for an unused variable and the build is not broken everywhere thus.

You can also test the fixes on all platforms by temporarily poining to the other repo as I outlined in my 2nd post on this ticket.

[2020-09-07 09:25] JonLiu1993 commented on #13216
Hi @MicSm ,
I feel your problem has been solved, can I close the issue?

[2020-09-07 09:34] lyhyl commented on #13388
Probably due to insufficient memory. The first line of log "fatal error C1060: compiler is out of heap space".
As mentioned in #9588, the libshogun.lib is amazingly huge (dbg: 2.05 GB, rel: 1.80 GB).
I haven't used Shogun for a while, and I don't know if this information is still valid. This information may be useful to you.

[2020-09-07 09:48] chuyanjuncn commented on #13292
@showintime
Int the end of my comments, there is the contents of log file. There is something in Chinese. I am not sure if you can understand.

[2020-09-07 09:55] showintime commented on #13292
All in all, you should install and use **English** mode in visual studio.

[2020-09-07 10:29] bialasjaroslaw opened #13389 "[boost-thread:x86-mingw-dynamic] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: g++ (i686-posix-dwarf-rev0, Built by MinGW-W64 project) 8.1.0 - This is up to date version shipped with Qt

**To Reproduce**
Steps to reproduce the behavior:
-- In PS --
`setx PATH "C:\Qt\Tools\mingw810_32\bin"`
-- restart PS --
`git clone https://github.com/microsoft/vcpkg`
`cd vcpkg`
`./bootstrap-vcpkg.bat`
`./vcpkg --triplet x86-mingw-dynamic in

[2020-09-07 10:30] whidbey commented on #13388
but there is an error notice here:

C:\vcpkg\buildtrees\shogun\src\b686d6e1cc-464b41c80d.clean\src\shogun\base\Parallel.cpp(89): error C3861: 'ASSERT': identifier not found
C:\vcpkg\buildtrees\shogun\src\b686d6e1cc-464b41c80d.clean\src\shogun\base\Parallel.cpp(91): error C2146: syntax error: missing ';' before identifier 'num_threads'

seems my memory is enoght....

[2020-09-07 10:47] MicSm commented on #13216
Yes, but need to fix another one from my above message about when vcpkg tries to download https://repo.msys2.org/mingw/i686/mingw-w64-i686-pkg-config-0.29.2-1-any.pkg.tar.xz and fails

[2020-09-07 11:54] sfhacker commented on #13371
@virtualritz Have you contacted us before regarding issues with this same port (as they call it)?

Are you able to track down when those changes were added or committed and by whom?

[2020-09-07 11:57] sfhacker commented on #13388
@whidbey Have you contacted us before regarding issues with this same port and/or other ports?
I'll have a go now at building this project (shogun) from source and I'll report here.

[2020-09-07 12:00] sfhacker commented on #9791
@cesss Would you be so kind as to either post here or email me privately the package manager you are using at the moment?
The other day we came across a package manager for MinGW/MSYS environment that does exactly what you have mentioned in several of your posts.
Cheers.

[2020-09-07 12:28] shauser67 commented on #13354
Hi @NancyLi1013,

I have created a simple "Hello World" project in Visual Studio 2019 to reproduce the problem (x64 / Debug / Multithreaded-Debug):

[code]

Additional include directories:
[code]

Additional defines:
[code]

Additional library directories:
[code]

Additional dependencies:
[code]

Although heif.lib is specified as an additional dependency the compiler detects the undefined symbols

[2020-09-07 13:11] Linch727 commented on #13183
@KyryloAntoshyn
Which cuda version do you have?
I have the same issue and am using cuda 10.2. I'm not sure if this cudnn is compatible with cuda 10.2

[2020-09-07 13:24] bialasjaroslaw commented on #13389
I found out that `Jamroot.jam` contains a lot of references to libboost*.so file, while their names are *.dll.a, so by simply modifying that I am able to build package manually.

[2020-09-07 13:50] kleszcz opened #13391 "[tmx] build failure"
**Host Environment**
- OS: Windows 10 v.1909
- Compiler: MSVC v.14.27.29110
- Package: tmx:[x86|x64]-windows v.1.0.0-1
 - Vcpkg version: 2020.06.15-nohash

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install tmx`

**Failure logs**
[code]
**Additional context**
[config-x64-windows-out.log](https://github.com/microsoft/vcpkg/files/5183391/config-x64-windows-out.log)
[config-x86-window

[2020-09-07 14:37] sdcb opened #13392 "[ffmpeg] update to 4.3.1"
Library name:
`ffmpeg`

New version number:
`4.3.1`

Other information that may be useful (release notes, etc...)
`https://ffmpeg.org/download.html#release_4.3`
[code]

[2020-09-07 14:58] whidbey commented on #13388
so far no》。。other package  is ok....

[2020-09-07 15:12] autoantwort opened #13394 "Installation failed (compilation of vcpkg.exe)"
**Describe the bug**
I used git clone to clone the repo and then run `.\bootstrap-vcpkg.bat`. Now I get the error:
[code]

**Environment**
- OS: Windows 10
- Compiler: Visual Studio 2015

**Expected behavior**
Build success

**Additional context**
Visual Studio 2015 is already installed and I use it to develop c++ windows applications. Additionally I installed the Windows SDK now.

[2020-09-07 15:53] StarGate-One commented on #13373
@BillyONeal @strega-nil @ras0219-msft
Just an FYI if it is something the CI azure-pipelines should catch as an error in the future, when an invalid identified is added to the CONTROL or vcpkg.json file-
See paragraph screen grab above: https://github.com/microsoft/vcpkg/issues/13373#issuecomment-687666521

[2020-09-07 15:58] virtualritz commented on #13371
@sfhacker Yes.

 Yes.

[2020-09-07 16:40] simon987 opened #13395 "[tesseract:arm64-linux] build failure"
**Host Environment**
- OS: Linux
- Compiler: GCC 9.3.0
**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install tesseract`

**Failure logs**
[code]
Tail of `vcpkg/buildtrees/tesseract/install-arm64-linux-dbg-out.log`:
[code]

**Additional context**
It looks like libpng failed to detect that NEON instructions are available and compiled without those `*_neon` functions? ~~Or is it possible

[2020-09-07 17:09] Catutigernos opened #13396 "[New Port Request] OpenALPR"
Library name: OpenALPR

Library description:

Source repository URL: https://github.com/openalpr/openalpr

Project homepage (if different from the source repository): https://www.openalpr.com/

It has opencv and tesseract dependencies

[2020-09-07 17:52] al-sabr commented on #6966
@heydojo Thank you for your feedback and I appreciate it. As an act of kindness it would just be generous to put a specific note for anti-viruses.

[2020-09-07 18:36] strega-nil commented on #12309
hrm. That's not great. I wonder why it's being called so many times? I feel like it should only be being called once for each build...

[2020-09-07 20:02] Christsnatcher commented on #13286
I see that commit 46e25a10d7295d3bc107d6f51ce0e2851877f393 has substituted downloads via pacman with direct downloads, but unfortunately not resolved this issue. Well, the magic word is patience I guess (though it's hard given a proper fix is available for more than one week already). Cheers!

[2020-09-07 20:39] KyryloAntoshyn commented on #13183
@Linch727 you can use CUDA 10.2.89 with cuDNN 7.6.5.32. It works perfectly. Moreover, I use OpenCV 4.4.0 and Python 3.7.9

[2020-09-07 22:10] dada2048 opened #13397 "[eigen3] installs headers in the wrong place since recent merge"
**Host Environment**
- OS: Windows
- Compiler: VS2019
- vcpkg: HEAD of the master branch

**To Reproduce**
`./vcpkg install eigen3`
and try to compile something that does `#include <Eigen/Dense>`

**Failure logs**
`C1083: Cannot open include file: 'Eigen/Dense': No such file or directory`

**Additional context**
I use user-wide integration with MSBuild.
I use multiple packages in my project. They

[2020-09-07 23:51] #13373 closed

[2020-09-08 01:14] al-sabr commented on #8730
Since the **DCMTK** library on which **MITK** is depending is now integrated in vcpkg why doesn't **MITK** part of this?

I've looked into the CMakeLists.txt and **BlueBerry**, **CppMicroservices** should be used directly from vcpkg and not integrated inside of that big mess.

Currently supported by **vcpkg**:

- **CppMicroservices**

- **DCMTK**

Missing port:

- **BlueBerry Framework**
- **MITK*

[2020-09-08 01:22] domsupamoe commented on #13372
Sorry, I noticed I may typed the wrong cmake toolchain file path when I built it.

Everything is working now. Thank you for the help!

[2020-09-08 01:23] #13372 closed

[2020-09-08 01:32] simon987 commented on #13395
Note:
[code]

[2020-09-08 01:49] PhoebeHui commented on #13373
Thanks @StarGate-One for your suggestions!

[2020-09-08 01:56] JackBoosY commented on #13286
@Christsnatcher We are looking for a solution to enable TLS>1.2 in Windows 7.

[2020-09-08 02:09] cjdb commented on #13345
Looks like this issue is bigger than {fmt}, as I can reproduce it when trying to install bzip2.

[code]

[2020-09-08 02:14] LilyWangL commented on #13324
Thanks for posting this issue. I install `icu` successfully on the latest VCPKG. I am closing this issue for now. Please reopen this issue if this is still a problem for you.

[2020-09-08 02:14] #13324 closed

[2020-09-08 02:17] PhoebeHui commented on #13395
This is not usual scenario we're working on now, but we accept PRs for fixing this issue. Sorry for that.

[2020-09-08 02:20] LilyWangL commented on #13363
Thanks for posting this issue. Did you use the latest VCPKG? I can install `mpir:x64-linux` successfully on the latest VCPKG.

[2020-09-08 03:03] NancyLi1013 commented on #13381
If you have the demand, we will add the options for the feature and also need to do some changes.
Please let me know which features you are required except for `draco`.

[2020-09-08 03:06] showintime commented on #13381
`draco` & `gdal`

[2020-09-08 05:28] cenit commented on #13397
Eigen3 portfile was manually duplicating files from include/eigen3 to include/ (not an ideal solution, you might agree)

The cmake part was half broken before (some ports were detecting it in include path, others in include/eigen3) and is very well tested in CI now. The VS integration OTOH I am sorry was never tested by me. Is it really inconvenient for you to add include/eigen3 to the include pat

[2020-09-08 05:38] JackBoosY commented on #13391
Confirmed.

[2020-09-08 05:42] NancyLi1013 commented on #13307
Hi @gregzakh
Thanks for posting this issue.
Sorry for the delay.
I can install `range-v3 `successfully on my machine.

[code]

So could you please provide the build process information?

[2020-09-08 05:59] linquize commented on #13286
@Christsnatcher what is your error message?

[2020-09-08 06:01] JackBoosY commented on #13394
Please make sure you installed the English Language Package using Visual Studio Installer first.

Thanks.

[2020-09-08 06:03] JackBoosY commented on #13345
@Neumann-A Could you please take a look?

Thanks.

[2020-09-08 06:43] NancyLi1013 commented on #13344
Sorry, I cannot reproduce this on my machine.
Please use` find_package(folly CONFIG REQUIRED)` to find `folly`. Also the current issue that `ZLIB `cannot be found seems to be strange, which is different from this [here](https://github.com/microsoft/vcpkg/issues/13196).

Could you please try to refer to #13196 to try this again?

[2020-09-08 06:50] NancyLi1013 commented on #13381
I will try to add these two features later and also verify if they can build fine.

[2020-09-08 06:54] showintime commented on #13381
Confirm!
Thank you for your help.

[2020-09-08 07:02] Neumann-A commented on #13345
@JackBoosY: -- pkg_cfg_cmd call with:/mnt/c/Strawberry/perl/bin/pkg-config --exists bzip2 failed
That is the wrong pkg-config executable if it is even one. So here the PATH variable is setup in the wrong way probably inheriting windows settings in WSL

[2020-09-08 07:08] simevo opened #13402 "[VCPKG] Clean up the build environment before building"
**Host Environment**
- OS: Windows 10 version 2004 build 19041.450
- Compiler: Visual Studio 15.9.26 and 16.7.2 both with English language pack

**To Reproduce**
Steps to reproduce the behavior:
In an unprivileged Powershell I launch:
[code]

**Failure logs**
[code]
-Please attach any additional failure logs mentioned in the console output.
  C:\Users\paolo\Sviluppo\3rdparty\vcpkg\buildtrees\jsonc

[2020-09-08 07:20] JackBoosY commented on #13402
[code]

[2020-09-08 07:28] JackBoosY commented on #13402
Can you unzip [this file](https://github.com/microsoft/vcpkg/files/5186743/portfile.zip) and replace it to _VCPKG_ROOT/ports/jsoncpp_, then try again?

Thanks.

[2020-09-08 08:05] Neumann-A commented on #13397
@cenit I was wondering why your PR was merged with those changes because the MSBuild issue was apparent. Maybe installing a symlink would be a better way to allow the MSBuild integration to work or only allow the copying on Windows.

[2020-09-08 09:10] meastp commented on #12309
@strega-nil I, too, was surprised as the dependencies surely shouldn't change during the build. Once before the build like restoring nuget packages should suffice :)

[2020-09-08 09:11] PhoebeHui commented on #13345
@cjdb, do you install pkg-config? could you try 'sudo apt-get install -y pkg-config'?

[2020-09-08 09:23] Neumann-A commented on #13363
install libtool! `sudo apt-get install libtool-bin`

[2020-09-08 09:34] JackBoosY commented on #12558
@CiaranWelsh Sorry for late, do you still encounter issues after using my changes?

[2020-09-08 10:19] a-bulygin opened #13403 "How can I control Python version while building OpenImageIO binding?"
I'm trying to build OpenImageIO for Windows using Docker with the following parameters:
[code]
By default it makes python bindings for python 3.8. But for my project I need bindings for python 3.7. How can I change python version?

My Dockerfile is as follows:
[code]

[2020-09-08 10:32] Linch727 commented on #13183
@KyryloAntoshyn thank you so much, it works!

[2020-09-08 10:33] simevo commented on #13402
Thanks for the quick fix ! Now I get:
[code]
I attach install-x64-windows-static-dbg-out:

[install-x64-windows-static-dbg-out.log](https://github.com/microsoft/vcpkg/files/5187731/install-x64-windows-static-dbg-out.log)

[2020-09-08 10:49] CiaranWelsh commented on #12558
Hi Jack, no problem. I updated vcpkg but can't seem to locate the libsbml port. Where did you commit your changes?

[2020-09-08 11:01] Christsnatcher commented on #13286
@JackBoosY: I honestly think this will be impossible if MS does not actively supports backporting. And I would still have the same issue on Windows 8.1, right?

@linquize: Please check the first post.

[2020-09-08 11:09] a93a opened #13405 "Build error, cmake cant find a library (which is required for another one I installed, PCL cant find Eigen)"
I am running windows 10, and I am trying to add a library to my project (Android/NDK). I installed https://pointclouds.org/ suing vcpkg and I am now trying to include it in a Android/ndk project. This is my cmake:

[code]

When I try to build,  I get this error:

[code]

I tried setting EIGEN_DIR and/or EIGEN_ROOT by `set(EIGEN_DIR "C:\\Users\\xxx\\Desktop\\pclndk\\vcpkg\\installed\\x86-windows\\s

[2020-09-08 11:13] gregzakh commented on #13307
I'm so tired of the answers known to me in advance, they say, "everything works for me" and "could you provide ...". Could. What's next?

[2020-09-08 11:23] sfhacker commented on #13402
Just downloaded master branch and it took me two mins to build it from source!

![image](https://user-images.githubusercontent.com/25817529/92470140-573de600-f219-11ea-99ed-56d5dcb30cd5.png)

[2020-09-08 12:28] J1mbo opened #13406 "[x86-windows] build failure Building package boost-container:x86-windows failed with: BUILD_FAILED"
**Host Environment**
- OS: Windows 10 19041.450
- Compiler: Vcpkg version: 2020.06.15-nohash

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install boost`

**Failure logs**
Starting package 1/107: boost-container:x86-windows
Building package boost-container[core]:x86-windows...
Could not locate cached archive: C:\Users\j1mbo\AppData\Local\vcpkg/archives\d3\d31a1a9692d5910719d362e3ffff

[2020-09-08 12:42] dada2048 commented on #13397
It's not a big inconvenience as far as workarounds go because it should only be temporary. Only if you're telling me it won't be fixed does it become a bigger deal.

I agree it's not ok to have all the includes duplicated and you may very well have removed the right set (`apt install libeigen3-dev`, which vcpkg emulates to an extent, also puts the files in `/usr/include/eigen3/Eigen`).

Still, the

[2020-09-08 15:51] rkrimper opened #13410 "protobuf:x86-windows build failure"
**Host Environment**
- OS: Windows 7
- Compiler: 2020.06.15-nohash

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install protobuf`

**Failure logs**
Building package protobuf[core]:x86-windows...
Could not locate cached archive: C:\Users\rkrimper\AppData\Local\vcpkg/archives\ae\ae1fb398f8edfecbac00f1fd289aee444af0a07e.zip
-- Using cached C:/vcpkg/downloads/protocolbuffers-protobuf-fd

[2020-09-08 16:06] bialasjaroslaw commented on #13410
I just build this package without any issues.
Have you tried to download file manually or use some command line tools like curl or wget?

[2020-09-08 16:10] sfhacker commented on #13410
Are we **STILL** having issues building protobuf?

![image](https://user-images.githubusercontent.com/25817529/92501200-8d8f5b80-f241-11ea-9b13-16451a348a51.png)

[2020-09-08 16:10] rkrimper commented on #13410
I was able to download the file manually. Im new to using vcpkg, where do I put it in order to get past this error?

[2020-09-08 16:15] cenit commented on #13397
Yeah you're right about the "immediately work", and that would be still true if you were using the CMake toolchain.

I am not really sure about sustainability of the other setup, the one you're using, which relies on autolinking and putting all files in include in order to have them there, without any file containerization. We already have many ports that install conflicting files (same names) and

[2020-09-08 16:15] bialasjaroslaw commented on #13410
Might be [related](https://github.com/microsoft/vcpkg/issues/13286)

[2020-09-08 16:46] rkrimper commented on #13410
I moved the downloaded files:
mingw-w64-i686-pkg-config-0.29.2-1-any.pkg.tar.xz
mingw-w64-i686-libwinpthread-git-8.0.0.5906.c9a21571-1-any.pkg.tar.zst

to c:\vcpkg\downloads

and successfully installed protobuf.

[2020-09-08 16:46] #13410 closed

[2020-09-08 17:00] egroj97 commented on #13406
Happens to me too

[2020-09-08 17:51] kazzatso opened #13413 "[ICU] CMake project cannot find Debug ICU library"
**Describe the bug**
Debug CMake project built with Ninja cannot find the debug ICU library and fails to begin to build at all because of it.

**Environment**
- OS: Windows x64
- Compiler: MSVC 2019 16.7.2

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install icu
   * Note that ICU builds and installs correctly for both release and debug
2. ./vcpkg integrate install (if necessary)

[2020-09-08 17:53] kazzatso commented on #13413
I have a pull request to fix this issue at #13400.

[2020-09-08 18:57] ToninoTarsi opened #13414 "osgearth:x64-window"
**Host Environment**
- OS: Windows
- Compiler: VS2017

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install osgearth:x64-windows`

**Failure logs**
CMake Error at scripts/cmake/vcpkg_execute_build_process.cmake:141 (message):
    Command failed: I:/Openscenegraph/New2020/vcpkg/downloads/tools/cmake-3.17.2-windows/cmake-3.17.2-win32-x86/bin/cmake.exe --build . --config Debug --target

[2020-09-08 19:26] sfhacker commented on #13414
Are we **STILL** having issues building this port (as it is called)?

[2020-09-08 19:42] zweistein22 commented on #11992
could be a gcc compiler bug.
https://bugzilla.redhat.com/show_bug.cgi?id=1853900

Please notify me if someone has a newer gcc 9 for centos 8
Thank you

[2020-09-08 20:14] Mr-Slippery opened #13415 "[openblas:x64-osx] build failure"
**Host Environment**
- OS: macOS 10.15.5
- Compiler: Apple clang version 11.0.3 (clang-1103.0.32.62)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install openblas`

**Failure logs**
-Cut and past the appropriate build messages from the console output.
[code]
-Please attach any additional failure logs mentioned in the console output.

/Users/v/vcpkg/buildtrees/openblas/install-x64-os

[2020-09-08 21:44] donggua2096 opened #13417 "Could not download"
Computing installation plan...
A suitable version of cmake was not found (required v3.17.2). Downloading portable cmake v3.17.2...
Downloading cmake...
https://github.com/Kitware/CMake/releases/download/v3.17.2/cmake-3.17.2-win32-x86.zip -> C:\Users\王睿\vcpkg\downloads\cmake-3.17.2-win32-x86.zip
Could not download https://github.com/Kitware/CMake/releases/download/v3.17.2/cmake-3.17.2-win32-x86.zip

[2020-09-08 21:59] #13417 closed

[2020-09-08 22:00] donggua2096 commented on #13417
问题在于，将要安装的所有其他软件包都将使用您指定的路径，并且我相信问题在于路径中的字符。我认为vcpkg不完全支持特定于区域的语言。我将对此进行修改：

https://github.com/mumble-voip/mumble-releng-vcpkg/blob/13787533f191c034f6c7e730adffda93de4fab48/Get-MumbleDeps.ps1#L2

对此：

$vcpkgdir = C:\vcpkg

您将需要30 GB的可用空间，因此也可以将其设置为G:\vcpkg具有更多的空间。完成此操作后，请随时删除vcpkg您目录中的目录%userprofile%，然后再次运行脚本。

[2020-09-08 22:22] simevo commented on #13402
As I wrote in the first message, this has been working fine all the time on another installation. I have now compared the logs between that and the installation where it fails, and I tracked it down to a spurious header polluting the environment.
More precisely, I had in `C:\include\json` some include files, and the build command for some reason would pick that up. So for me this is now solved, an

[2020-09-08 23:05] dada2048 commented on #13397
How are those libraries with conflicting files installed on linux? I assume they get separate directories and vcpkg should be using the same names. That would keep `vcpkg/installed/include` looking the same as `/usr/include`.

Are the users of those packages (who also use MSBuild) adding compiler options manually? I haven't encountered this issue before but if it's common maybe this isn't consider

[2020-09-08 23:57] simon987 commented on #13395
If I manually build libpng I don't get this error:
[code]

Do you have any clue/pointers in what ways vcpkg builds the library differently to cause it to not include the `arm/*` functions?

[2020-09-09 00:23] donggua2096 opened #13418 "[qt5-base] build failure"
[code]

[2020-09-09 00:58] donggua2096 commented on #13418
jom 1.1.3 - empower your cores

cl : Command line warning D9025 : overriding '/Fo./' with '/Foqlibraryinfo_final.obj'
jom: G:\vcpkg\buildtrees\qt5-base\x64-windows-static-md-dbg\qmake\Makefile [qlibraryinfo_final.obj] Error 2
jom: G:\vcpkg\buildtrees\qt5-base\x64-windows-static-md-dbg\qmake\Makefile.qmake-aux [G:\vcpkg\buildtrees\qt5-base\x64-windows-static-md-dbg\qmake\qmake.exe] Error 2
Error: c

[2020-09-09 01:15] yrzhanov opened #13419 "[pcl:x64-windows-static] build failure"
**Host Environment**
Windows 10 Community
Microsoft (R) C/C++ Optimizing Compiler Version 19.16.27043 for x64

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install pcl:x64-windows-static`

**Failure logs**
CMake Error at scripts/cmake/vcpkg_build_cmake.cmake:175 (message):
    Command failed: D:/VariousCodes/vcpkg/downloads/tools/cmake-3.11.4-windows/cmake-3.11.4-win32-x86/bin/cmake.

[2020-09-09 01:30] cjdb commented on #13345
This fixes the issue. Not closing, as I'm unsure if this is a temporary fix or the correct fix.

I'm using WSL2.

[2020-09-09 01:52] mkckr0 opened #13420 "How do I list all triplets supported by a package?"
`vcpkg search` only show the port name excluding the supported triplets.
[code]

[2020-09-09 02:13] JackBoosY commented on #12558
libsbml isn't added in vcpkg now, you can unzip and put [this](https://github.com/microsoft/vcpkg/files/5192214/libsbml.zip) to _VCPKG_ROOT/ports_ or create a PR to add it.

[2020-09-09 02:53] JackBoosY commented on #11992
@dan-shaw ping for response.

[2020-09-09 03:02] JackBoosY commented on #13402
@simevo I think so, the pollution of the build environment makes it impossible for us to build with a clean and consistent environment.

[2020-09-09 03:03] JackBoosY commented on #13402
@BillyONeal What do you think?

[2020-09-09 03:10] JackBoosY commented on #13418
[code]
@Neumann-A It seems that jom can't handle paths with non-ASCII characters when using temporary files, does it?

[2020-09-09 03:12] JackBoosY commented on #13414
Duplicate with #13292.

[2020-09-09 03:12] #13414 closed

[2020-09-09 03:57] deGravity commented on #11986
This was not fixed in [#10252](https://github.com/microsoft/vcpkg/pull/10252)

[2020-09-09 04:43] SeanFarrow commented on #13033
OK, I've now started some work on this on a private branch.
I'm struggling to get Nowide building as the jam.v2 file has changed and is now looking for config, which it searches for in the wrong directory.
I'm thinking of adding a cmake file to handle this and update where it thinks the config file is, or should we crate a patch, if so what againsh?

[2020-09-09 05:55] LilyWangL commented on #13419
Thanks for posting this issue. Did you run `git pull` and `.\bootstrap-vcpkg.bat` before installing `pcl:x64-windows-static`? I see in your log `Command failed: D:/VariousCodes/vcpkg/downloads/tools/cmake-3.11.4-windows/cmake-3.11.4-win32-x86/bin/cmake.exe;--build;.;--config;Release;--target;install;--;-v;-j1`, the version of cmake is 3.11.4, but now the version of vcpkg is 3.17.2. If you install

[2020-09-09 06:18] oswjk commented on #11905
I see that #9100 was closed. Is someone working on this? The latest bugfix release of GDAL is 3.1.3.

[2020-09-09 06:27] NancyLi1013 commented on #13381
Hi @showintime
I submitted a PR #13243 to add these two features.
Could you please help confirm if these can work for you?

Thanks.

[2020-09-09 06:32] JackBoosY commented on #11905
@oswjk I will update later.

[2020-09-09 06:37] LilyWangL commented on #13415
It looks like a problem with `-DNO_AVX512`, I can't reproduce this issue locally. The related source issue: https://github.com/xianyi/OpenBLAS/issues/2428 @dan-shaw Could you help take a look this issue? Thanks.

[2020-09-09 06:39] LilyWangL commented on #13235
Pinging @ustchqf for response. Does this issue still occur after updating `G++`?

[2020-09-09 07:03] traversaro commented on #13397
At least in the case of `eigen3` on Debian-based system, the expected include directory to pass to the compiler is: `/usr/include/eigen3`, see https://packages.ubuntu.com/focal/all/libeigen3-dev/filelist .

[2020-09-09 07:08] longnguyen2004 commented on #13033
Can anyone works on this? I'm quite busy now

[2020-09-09 07:09] SeanFarrow commented on #13033
I think I know what the fix is, give me the weekend to validate my thinking.

From: Long Nguyen <notifications@github.com>
Sent: 09 September 2020 08:09
To: microsoft/vcpkg <vcpkg@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Comment <comment@noreply.github.com>
Subject: Re: [microsoft/vcpkg] [boost] Update to 1.74.0 (#13033)

Can anyone works on this? I'm quite busy now

—
Y

[2020-09-09 07:36] NancyLi1013 commented on #13333
Hi @rculler
vcpkg will install `x86-windows` triplet by default.
Since you used`mongo-cxx-driver[boost]`, which means x86-windows was installed.

If you want to use x64, you should install `mongo-cxx-driver[boost]:x64-windows`.
Please let me know if you still any concerns about this issue.

[2020-09-09 07:41] NancyLi1013 commented on #13272
@nokutu
Please let me know if you still have any concerns about this issue.

[2020-09-09 07:42] NancyLi1013 commented on #13234
@matteoturini
Please let me know if this is still a problem for you.

[2020-09-09 07:44] NancyLi1013 commented on #13202
@RajatGarg1
Is this still a problem for you?

[2020-09-09 07:46] #13272 closed

[2020-09-09 08:14] NancyLi1013 commented on #13388
Hi @whidbey

`C:\vcpkg\buildtrees\shogun\src\b686d6e1cc-464b41c80d.clean\src\shogun\base\Parallel.cpp(89): error C3861: 'ASSERT': identifier not found`

For this error, you can add `#include <shogun/io/SGIO.h>` in `C:\vcpkg\buildtrees\shogun\src\b686d6e1cc-464b41c80d.clean\src\shogun\base\Parallel.cpp`, then try to build again.

[2020-09-09 08:29] ustchqf commented on #13235
Thank you for your reply.
Actually, I have installed the g++7.3.0. Because I am not the manager, so I am not permitted to use root. So I install the new version in my own directory. When I use "g++ -v" to clarify my g++ version, it shows 7.3.0. However, when i used vcpkg to install test, The C compiler identification is GNU 4.4.7, so can i change the default compiler directory in vcpkg?

[2020-09-09 08:30] showintime commented on #13381
Hi @NancyLi1013
Did you mean `git pull https://github.com/NancyLi1013/vcpkg.git dev/NancyLi/add-feature-for-osgearth`?
Sorry for my git.

[2020-09-09 08:31] ustchqf commented on #13235
I am not permitted to use root, so i install the g++ new version in my own directory. It doesn't work because the vcpkg can't use the new version.

[2020-09-09 08:44] aleneum opened #13426 "[protobuf:x86-windows] build failure"
**Host Environment**
- OS: Windows 10 Version 2004
- Compiler: v142 toolset

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install protobuf:x86-windows`

**Failure logs**
[code]

### C:\Users\alneuman\workspace\vcpkg\buildtrees\protobuf\config-x86-windows-out.log

[code]

**Additional context**
Add any other context about the problem here, such as what you have already tried to resolv

[2020-09-09 08:54] LilyWangL commented on #13235
Thanks for your reply. Please provide the error log: `/home/qifeng/apps/Git/vcpkg/buildtrees/gtest/install-x64-linux-dbg-out.log`

[2020-09-09 09:02] Nemirtingas commented on #13199
It is already set in my toolchain.

[2020-09-09 09:13] ustchqf commented on #13235
This is the install-x64-linux-dbg-out.log.
-- The C compiler identification is GNU 4.4.7
-- The CXX compiler identification is GNU 4.4.7
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc - works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Detecting C compile features
-- Detecting C compile features - done
-- Check for working

[2020-09-09 09:29] Neumann-A commented on #13418
@JackBoosY: jom and its issues....... maybe use a junction (via `mklink` with `/J` option) or `subst` the path with non-ASCII characters away.

[2020-09-09 09:32] Neumann-A commented on #13402
probably a cmake `find_path` / `find_file` issue. This is not directly vcpkg related but the question is if we can solve it somehow.

[2020-09-09 09:32] JackBoosY commented on #11905
Needs to update libgeotiff first.

[2020-09-09 09:37] LilyWangL commented on #13235
This should be `config-x64-linux-dbg-out.log`, it is not `install-x64-linux-dbg-out.log`. You can attach `install-x64-linux-dbg-out.log` on this page.

[2020-09-09 09:47] LilyWangL commented on #13073
Pinging @sumitkang for response.

[2020-09-09 09:49] LilyWangL commented on #12294
Thanks for posting this issue. Please reopen this issue if this is still a problem for you.

[2020-09-09 09:49] #12294 closed

[2020-09-09 09:57] ustchqf commented on #13235
I am sorry for the error I have made. Here is the log file. I am new in github, so if you can't download it ,please let me know.
[install-x64-linux-dbg-out.log](https://github.com/microsoft/vcpkg/files/5194221/install-x64-linux-dbg-out.log)

[2020-09-09 10:35] ijesonchen opened #13429 "[tensorflow-cc:x64-osx] BUILD_FAILED"
Package: tensorflow-cc:x64-osx
Vcpkg version: 2020.06.15-unknownhash
OS: macOS 10.15.5 (19F101)
NoteBook: macbook pro 13 2020, i5, 16G, 256G
Shell: zsh
[code]

[2020-09-09 10:52] sfhacker commented on #13426
Are we **STILL** having issues building protobuf?

![image](https://user-images.githubusercontent.com/25817529/92589679-41462900-f2de-11ea-8d6f-c6ef9c21f724.png)

[2020-09-09 10:54] sfhacker commented on #13157
Any news/update on this open issue?

[2020-09-09 11:01] aleneum commented on #13426
Looks like it. I checked out the tagged version `2020.07` and could build protobuf without any issues.

[2020-09-09 11:21] adilaadhu commented on #13376
i have installed those versions.

[2020-09-09 11:56] mariuz opened #13431 "[boost] vcpkg install boost : Error code: Operation did not complete successfully because the file contains a virus or potentially unwanted software"
**Host Environment**
- OS: Windows
- Compiler: VS 2017

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install boost`

**Failure logs**
vcpkg install boost : Error code: Operation did not complete successfully because the file contains a virus or potentially unwanted software

**Additional context**
I have added the screenshot and details here https://twitter.com/mapopa/status/13036626

[2020-09-09 12:11] CiaranWelsh commented on #12558
Worked like a charm. At least on x64-linux, windows-x64 and windows-x86. I can't test on a mac however. One problem that we may encounter in the future is the libsbml "WITH_CPP_NAMESPACE" option. Some tools have this set to ON while others set it to OFF, so in order to be useful to everybody and not those who just use libsbml default, could we make this a vcpkg feature ?

[2020-09-09 13:27] gnaggnoyil opened #13432 "[New Port Request] hffix"
Library name: hffix

Library description: hffix is a FIX protocol parser library in C++ that claims to be fast. This library claims to be provided by [T3 Trading Group, LLC](http://www.t3live.com/). One usage of this library is: https://github.com/taurusai/kungfu/tree/2.1/core/deps/hffix-b67d404f

Source repository URL: https://github.com/jamesdbrock/hffix

Project homepage (if different from the

[2020-09-09 13:57] Jimmy-Hu opened #13434 "[nrf-ble-driver:x64-windows] build failure"
**Host Environment**
- OS: Windows 10 Version 2004
- Compiler: Microsoft Visual Studio 2019 Version 16.7.3

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install nrf-ble-driver:x64-windows`

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
    nrf-ble-driver[core]:x64-windows
Detecting compiler hash for triplet x64-windows...
Starting

[2020-09-09 14:01] leolcao commented on #13353
I also met this issue when I was installing boost:x64-windows, the b2.exe is treated as a virus by Windows Defender.

Windows 10 10.0.19041.450

[2020-09-09 14:31] longnguyen2004 opened #13435 "[x264] build failure"
**Host Environment**
- OS: Windows 10 2004
- Compiler: MSVC 19.27.29111

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install x264`

**Failure logs**
[config-x64-windows-dbg-err.log](https://github.com/microsoft/vcpkg/files/5195862/config-x64-windows-dbg-err.log)

**Additional context**
This is probably caused by #13019, as seen by the missing `rm`, `grep` errors in the log.

[2020-09-09 14:34] ChrisNabold commented on #13157
Dear John,

Thank you for your help to install sundials for windows/vcpkg. As far as I can see you are on the right track and I will be pleased if sundials will become available for Visual Studio 2019. The results from your test correspond with the output from the sundials web page. Why do you use version 3.3.1; there are more recent versions eg. 5.3.0 or 3.1.2 ?

Best regards

Chris

From: John S

[2020-09-09 16:22] Nemirtingas opened #13436 "How do I setup a cross-compile environment."
Hi,
I'm trying to setup a cross-compile environment to build macosx and windows apps/libraries on an Ubuntu CI/CD docker image.
I'm using [clang-cl](https://github.com/ProdriveTechnologies/clang-msvc-sdk) as a cross compiler for windows and [osxcross](https://github.com/tpoechtrager/osxcross) for macosx.

I'd like to be able to use vcpkg's ports with my CMake projects.

I've created a custom tripl

[2020-09-09 16:22] sfhacker commented on #13157
@ChrisNabold Have you been able to sort out your issue?
I used version 3.3.1 because it is the one you used when you posted this issue!
Should I try with the master branch?

[2020-09-09 16:28] nilsnolde commented on #2974
@NancyLi1013 all issues I found to support external Python apps (#5514, #1974) were closed and there's no viable solution anywhere that I can see.

I think most packages having python(3) as dependency would benefit here. Esp boost-python currently will be compiled against whichever Python version is in `vcpkg`. When using boost-python to create Python bindings for a project (fairly common use case

[2020-09-09 16:44] sfhacker commented on #12447
@aspioupiou There seems to be plenty of issues with this port (x264). Have you been able to sort this issue out?
Just downloaded master branch and no issues at all building it from source.

![image](https://user-images.githubusercontent.com/25817529/92627906-6010e380-f30f-11ea-8724-4bf1aa40ef50.png)

Let us know if we can be of further assistance.

[2020-09-09 16:44] donggua2096 opened #13437 "pt5 Error"
nstalling Mumble dependency qt5-base ...

Computing installation plan...
The following packages will be built and installed:
qt5-base[core]:x64-windows-static-md
Detecting compiler hash for triplet x64-windows-static-md...
Starting package 1/1: qt5-base:x64-windows-static-md
Building package qt5-base[core]:x64-windows-static-md...
Could not locate cached archive: C:\Users\王睿\AppData\Local\vcpkg/ar

[2020-09-09 16:44] donggua2096 commented on #13437
jom 1.1.3 - empower your cores

cl : Command line warning D9025 : overriding '/Fo./' with '/Foqlibraryinfo_final.obj'
jom: G:\vcpkg\buildtrees\qt5-base\x64-windows-static-md-dbg\qmake\Makefile [qlibraryinfo_final.obj] Error 2
jom: G:\vcpkg\buildtrees\qt5-base\x64-windows-static-md-dbg\qmake\Makefile.qmake-aux [G:\vcpkg\buildtrees\qt5-base\x64-windows-static-md-dbg\qmake\qmake.exe] Error 2
Error: c

[2020-09-09 16:44] donggua2096 commented on #13437
cd src\ && ( if not exist Makefile G:\vcpkg\buildtrees\qt5-base\x64-windows-static-md-dbg\bin\qmake.exe -o Makefile G:\vcpkg\buildtrees\qt5-base\src\5.15.0-f256990b37.clean\src\src.pro ) && G:\vcpkg\downloads\tools\jom\jom-1.1.3\jom.exe -f Makefile
cd tools\bootstrap\ && ( if not exist Makefile G:\vcpkg\buildtrees\qt5-base\x64-windows-static-md-dbg\bin\qmake.exe -o Makefile G:\vcpkg\buildtrees\qt5

[2020-09-09 16:44] donggua2096 commented on #13437
I would guess this also has to do with region and language settings of your system.

[2020-09-09 16:48] sfhacker commented on #13327
There seems to be a lot of issues building this port (x264). I wonder what's going on!
Just downloaded master branch and no issues at all.

![image](https://user-images.githubusercontent.com/25817529/92628383-107ee780-f310-11ea-8861-94894b5c675f.png)

@abcping123 Let us know if we can be of any assistance.

[2020-09-09 16:50] sfhacker commented on #13435
There seems to be a lot of issues building this project (x264)!
Just downloaded master branch and we were lucky!

![image](https://user-images.githubusercontent.com/25817529/92628543-5176fc00-f310-11ea-8449-754ebd5c2c73.png)

[2020-09-09 16:55] sfhacker commented on #13437
And the title of this post is amazing!
Which port is this one? qt5 ...? Let me have a look at it!

[2020-09-09 17:04] donggua2096 commented on #13437
yes qt5-base

[2020-09-09 17:28] strega-nil commented on #12309
right. In my testing, I didn't get that issue, but I also don't really understand MSBuild, so I may very well have written a bug.

[2020-09-09 17:36] #12922 closed

[2020-09-09 18:43] #13128 closed

[2020-09-09 18:45] #11986 closed

[2020-09-09 19:06] Neumann-A commented on #13437
isn't that the same error as in #13418

[2020-09-09 19:13] sam20908 opened #13438 "qt5:x64-windows build failure"
**Host Environment**
- OS: Windows
- MSVC 19.28

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install qt5:x64-windows`

**Failure logs**
[code]
Message in build-x64-windows-rel-err.log
[code]

**Additional context**

[2020-09-09 19:33] #13391 closed

[2020-09-09 19:47] #12031 closed

[2020-09-09 19:48] ChrisNabold commented on #13157
Thank you for your response. Version 3.3.1 was the version I tried to download from vcpkg, which did not work.

It would be fantastic if you could try it with the master branch – version 5.3.

Thank you for your efforts

Best regards

Chris

From: John Sheppard <notifications@github.com>
Sent: Wednesday, 9 September 2020 18:23
To: microsoft/vcpkg <vcpkg@noreply.github.com>
Cc: ChrisNabold <chris_n

[2020-09-09 19:49] Neumann-A commented on #13438
also needs `build-x64-windows-rel-out-1.log` or `build-x64-windows-rel-out.log`. Error 1104 indicates a linkage error.

[2020-09-09 20:05] sam20908 commented on #13438
[build-x64-windows-rel-out.log](https://github.com/microsoft/vcpkg/files/5197736/build-x64-windows-rel-out.log)
Too big ^

build-x64-windows-rel-out-1.log
[code]

[2020-09-09 20:15] Neumann-A commented on #13438
looks like an antivirus issue. Can you make sure that your AV did not remove said executable?

[2020-09-09 20:17] RajatGarg1 commented on #13202
I shifted to linux. I'll still try after sometime.

[2020-09-09 20:50] sam20908 commented on #13438
If my Antivirus (Bitdefender) were to do anything, it'd at least give me a notification, and I have checked, nothing removed in the time I tried to install Qt via vcpkg.

I can try turning it off and see what happens.

[2020-09-09 21:17] sam20908 commented on #13438
Still the exact same error. The antivirus does not affect this.

[2020-09-09 21:33] Neumann-A commented on #13438
Could also be a disk space error. But I would scan both debug/release logs for the `uic.exe` build.

[2020-09-09 21:47] sam20908 commented on #13438
`uic.exe` is missing for release configuration...

[2020-09-09 22:10] aleksas opened #13439 "scripts/boost/generate-ports.ps1 not running properly on linux using pwsh"
****
Related to [this post](https://github.com/microsoft/vcpkg/issues/1681#issuecomment-621567271)

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

executing `scripts/boost/generate-ports.ps1` using [powershell](https://docs.microsoft.com/en-us/powershell/scripting/install/installing-po

[2020-09-09 22:12] Neumann-A commented on #13438
it shouldn't be missing since it should be built as part of the build. So the question is why it is either not built or why it is removed. That why I said you need to check the logs and look for the `uic.exe` build. If it is built but not there than it is removed by your AV somehow.

[2020-09-09 22:25] sfhacker commented on #13157
How familiar are you with building projects from source on Windows? A newbie?

Just built master branch in no time!

![image](https://user-images.githubusercontent.com/25817529/92661006-f6a8c900-f33e-11ea-903d-e4cb0654376e.png)

![image](https://user-images.githubusercontent.com/25817529/92661024-ff999a80-f33e-11ea-9206-abb6f1201458.png)

Let us know how to proceed.

[2020-09-09 23:06] alcroito commented on #4692
If anybody ever feels like tackling jom deadlocking, some investigation was done at https://bugreports.qt.io/browse/COIN-598?focusedCommentId=520710#comment-520710

[2020-09-09 23:09] donggua2096 commented on #13418
How to set it?

[2020-09-09 23:09] donggua2096 commented on #13418
@JackBoosY

[2020-09-09 23:10] donggua2096 commented on #13418
@Neumann-A

[2020-09-09 23:10] donggua2096 commented on #13418
@JackBoosY

[2020-09-09 23:12] #13437 closed

[2020-09-09 23:13] deGravity commented on #11986
[#13424](https://github.com/microsoft/vcpkg/pull/13424) fixes the issue for opengl, but not for opengl_glfw or opengl_glfw_imgui. Those headers are in further nested sub-directories that do not get installed. I think you need to also add something like:

[code]

[2020-09-10 00:48] sam20908 commented on #13438
It seems like its building successfully in logs, and then suddenly not being able to access it.
I have turned off the Antivirus and everything, but it won't link.

I can only wonder if somebody else has the same issue...

[2020-09-10 01:35] whidbey commented on #13388
tkanks

[2020-09-10 01:35] #13388 closed

[2020-09-10 02:15] JackBoosY commented on #12558
@CiaranWelsh Yes, you can set it as a feature of libsbml.

[2020-09-10 02:19] NancyLi1013 commented on #13435
Hi @longnguyen2004
Thanks for posting this issue.
It's duplicated to #13327. Let's track this issue there.

[2020-09-10 02:19] #13435 closed

[2020-09-10 02:30] NancyLi1013 commented on #13327
@Neumann-A
Could you please help take a look?
It seems that there are still some problems when building `x264 `after PR #11836 merged.

config-x86-wiindows-dbg-out.log
[code]
config-x86-wiindows-dbg-err.log
[code]

[2020-09-10 02:38] JackBoosY commented on #11986
@deGravity I did not expect `install_dir_files` to install files recursively.

[2020-09-10 02:41] JonLiu1993 commented on #13150
relate to #13428

[2020-09-10 02:42] #13150 closed

[2020-09-10 02:44] deGravity commented on #11986
@JackBoosY No, it does not, but when opengl_glfw and/or opengl_glfw_imgui are selected, those sub-directories also need to be installed (they contain the only relevant headers). I've tried making a patch to fix this, but I'm not familiar with how to create patches for vcpkg so I haven't been able to test it yet.

[2020-09-10 02:54] JackBoosY commented on #11986
@deGravity Will fix later.

[2020-09-10 03:07] JackBoosY commented on #13429
I wish #13028 could fix this issue.

[2020-09-10 03:10] JackBoosY commented on #13426
`CMake Error: The source directory "C:/Users/alneuman/workspace/vcpkg/buildtrees/protobuf/src/a5c431386a-c9deea9e31.clean/cmake" does not exist.`

Can you confirm that the path _C:/Users/alneuman/workspace/vcpkg/buildtrees/protobuf/src/a5c431386a-c9deea9e31.clean/cmake_ exists?

[2020-09-10 03:10] LilyWangL commented on #13235
This error should be caused by low gcc version, you can try the following steps:
1. `.\vcpkg.exe install gtest:x64-windows --editable`, it will build failed.
2. Modify _[VCPKG_path]\buildtrees\gtest\src\ase-1.10.0-7231afa423\CMakeLists.txt_, add `add_definitions(-std=c++11)` to Line 5.
3. Using `.\vcpkg.exe install gtest:x64-windows --editable` to install getst again.

[2020-09-10 03:20] NancyLi1013 commented on #13381
Hi @showintime
You can do as the following steps:

- git clone https://github.com/NancyLi1013/vcpkg.git
- cd vcpkg
- git checkout -b dev/NancyLi/add-feature-for-osgearth origin/dev/NancyLi/add-feature-for-osgearth

Note: This can only work fine with the old version of `geos`. Since current version cannot build with `osgearth`. Please see #13292.

So if your local hasn't updated `geos`, you can mak

[2020-09-10 03:28] ustchqf commented on #13235
Thank you for your reply. But my system is Linux(Centos), so I can't execute the commands.
I have used these commands, but it didn't work.
1. ./vcpkg install gtest --editable
2. Modify _[VCPKG_path]\buildtrees\gtest\src\ase-1.10.0-7231afa423\CMakeLists.txt_, add `add_definitions(-std=c++11)` to Line 5.
3. Using `.\vcpkg install gtest --editable` to install getst again.

I guess the problem may cau

[2020-09-10 03:39] deGravity commented on #11986
Thanks! I've gotten the [patch](https://github.com/deGravity/vcpkg/commit/b09a5757b1c526f75afc0a4a9017cf848cf93911) working locally for myself now if it's helpful to you:

[2020-09-10 03:40] #9022 closed

[2020-09-10 03:40] #9918 closed

[2020-09-10 03:40] #13253 closed

[2020-09-10 04:34] longnguyen2004 commented on #13327
I think it's time for us to switch to [ShiftMedia](https://github.com/ShiftMediaProject/x264)

[2020-09-10 05:05] wrobelda opened #13444 "[qt5-base] configuration comes to halt on macOS due to non-functioning dbus"
**Host Environment**
- OS: macOS
- Compiler: Apple clang version 11.0.3 (clang-1103.0.32.62)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install qt5-base`

**Failure logs**
[code]

**Additional context**
Running the above qmake with `-d -d` reveals that it gets stuck after attempting to send a message over the dbus:
[code]

Turns out that Homebrew has installed dbus on my system, b

[2020-09-10 05:40] ZhengzhongSun commented on #13327
I met the same questions now. Is there a stable commit of vcpkg which can be used now?

[2020-09-10 06:22] meastp commented on #12309
@strega-nil Ok - should I also open a separate issue for using MSBuild

because the original problem in this issue is solved only in CMake?

[2020-09-10 06:52] FishHe opened #13447 "[openmvg:x64-windows-static-md] build failure with static CRT linking."
as it is mentioned in #12229

`

main_ComputeFeatures.cpp.obj : error LNK2019: unresolved external symbol __imp_vl_constructor referenced in function "public: __cdecl openMVG::features::SIFT_Image_describer::SIFT_Image_describer(struct openMVG::features::SIFT_Image_describer::Params const &,bool)" (??0SIFT_Image_describer@features@openMVG@@QEAA@AEBUParams@012@_N@Z)

`

I would like to use **x64-wi

[2020-09-10 07:33] Neumann-A commented on #13327
@longnguyen2004 No, there is no need to do that.

@NancyLi1013 That seems to be an error introduced by @ras0219 changes to MSYS. (see https://github.com/microsoft/vcpkg/issues/13327#issue-691726380). It seems like x264 was  forgotten to be removed from the skiplist.

[2020-09-10 07:35] deleeuwict commented on #13344
Hi, i have exactly the same ZLIB error when building boost for x64-windows-static on a fresh compiled vcpkg install.

[2020-09-10 07:40] JackBoosY commented on #13447
@cenit  Could you please take a look?

Thanks.

[2020-09-10 07:42] cenit commented on #13447
It's an open issue that the software feature of openmvg does not build correctly with statically linked libs.
I will investigate it more and I hope it can be fixed soon

[2020-09-10 07:43] faserg1 commented on #10230
Have installed with gtkmm as root package. Same issue. x64-windows.

[2020-09-10 08:56] LilyWangL commented on #13235
I have no idea how to change the gcc default directory. To resolve this error: `/home/qifeng/apps/Git/vcpkg/buildtrees/gtest/src/ase-1.10.0-7231afa423.clean/googletest/include/gtest/internal/gtest-port.h:972: error: ‘nullptr’ was not declared in this scope`, you can use `null` instead of all `nullptr` in source. Please remember to use `--editable` when you installing getst.

[2020-09-10 09:02] aleneum commented on #13426
Hello @JackBoosY ,

the folder was completely empty. I built `.\vcpkg.exe install grpc --triplet arm64-windows-static` first and was asked to install `protobuf:x86-windows` which failed. I cloned vcpkg multiple times to make sure that there are not side effects.

But I cannot reproduce it today even though I cannot see changes that made this behavior go away. So it was probably my machine or me :/

[2020-09-10 09:02] #13426 closed

[2020-09-10 09:27] ustchqf commented on #13235
Thank you very much for your reply. I will try it later.

[2020-09-10 10:37] FishHe opened #13452 "[lapack] How do I use Intel Fortran Compiler for lapack ?"
I use vcpkg on windows with vs2019 and intel studio xe 2020.
I add environment variable FC="...\ifort.exe", however :

[code]

[2020-09-10 12:31] gvanem commented on #12433
I have the same error:
[code]

And I have the latest MSVC-2019. My `vcvarsall.bat` is in fact here:
`f:\gv\vc_2019\VC\Auxiliary\Build\vcvarsall.bat`

Why/how does `vcpkg` look into a path that doesn't exist?

[2020-09-10 12:40] gvanem commented on #13345
Doing a `vcpkg contact --survey` here, says:
`Default browser launched to https://aka.ms/NPS_vcpkg; thank you for your feedback!`

Nothing happens. Amazing  that these clowns can't even `ShellExecute()` to launch my Chrome browser.
I bet if Edge was my default browser, it could work.

[2020-09-10 12:43] Neumann-A commented on #13444
Should probably pass `-no-dbus` on macos then to qt5-base configure

[2020-09-10 12:45] Neumann-A commented on #13452
custom triplet (setting up the environment)
+ maybe custom toolchain.

 Basically `CMakeDetermineFortranCompiler` needs to be able to detect the compiler in the used environment

[2020-09-10 13:58] longnguyen2004 commented on #13063
After some research, I discovered the source of the mysterious `SDL2_EXPORTS` macro, which turns out to be defined by CMake in [here](https://github.com/Kitware/CMake/blob/master/Source/cmGeneratorTarget.cxx#L2424), so I think we could safely use this macro.

[2020-09-10 14:58] zhongshan99 commented on #13301
这个问题后来解决了，原因是路径名中C++的+，改成字母就可以build完成。日志里的提示信息没有任何帮助。

________________________________
发件人: Jack・Boos・Yu <notifications@github.com>
发送时间: 2020年9月3日 10:52
收件人: microsoft/vcpkg <vcpkg@noreply.github.com>
抄送: zhongshan99 <zhongshan99@hotmail.com>; Author <author@noreply.github.com>
主题: Re: [microsoft/vcpkg] [qt5-base] build failure (#13301)

Please provide build-x64-windows-dbg-err.log, build-x64-wi

[2020-09-10 15:33] wrobelda commented on #13444
@Neumann-A I believe dbus _does_ function on macOS, but requires the daemon to be running which isn't enabled by default – at least not by the Homebrew. So a better way would be to check if the daemon is running and fail if it isn't.

Or actually, an upstream bug should be filed to QT for them to add an appropriate check, since the build comes to a halt on their end. Now that I am thinking about i

[2020-09-10 15:40] Hoikas commented on #13403
Unfortunately, vcpkg's python3 port only supports python 3.8. You could roll back to commit ca52d42, in which the python3 port used python 3.7, or build an overlay port using its sources. Be aware though that the old python3 port will not function correctly with static triplets.

[2020-09-10 15:45] Hoikas opened #13455 "[WSL2/Debian 10.5] build vcpkg failure"
**Describe the bug**
`./bootstrap-vcpkg.sh` fails.

**Environment**
- OS: WSL2/Debian 10.5
- Compiler: g++8

**To Reproduce**
Steps to reproduce the behavior:
1. `./bootstrap-vcpkg.sh`

**Error Log**
[CMakeError.log](https://github.com/microsoft/vcpkg/files/5202973/CMakeError.log)

[2020-09-10 16:03] a-bulygin commented on #13403
Yes, that's what i finally did. Thank you Adam!

[2020-09-10 16:03] #13403 closed

[2020-09-10 16:13] alister-chowdhury opened #13456 "[alembic] Alembic fails to build when Debug mode is manually turned off."
**Host Environment**
- OS: Windows
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
Add: `set(VCPKG_BUILD_TYPE release)` to the x64-windows triplet.

**Failure logs**
[code]

**Additional context**
Inelegant patch I used to get around it:
[code]

[2020-09-10 16:49] Nemirtingas opened #13457 "How do I use my own lib instead of system libs"
Hi,
I'd like to use my own built libs instead of the system's one by default.
I saw in scripts/buildsystems/vcpkg.cmake(L221) this:
[code]

The append directive bothers me because the system lib is found before my own on MacOS. (ZLib)
(System lib): /usr/lib/libz.tbd
(My lib): /tmp/test/vcpkg/x86-darwin-release/lib/libz.a

Is there any way to change this behavior ?

For now, my workaround is to cha

[2020-09-10 17:43] strega-nil commented on #12309
@meastp yes, correct.

[2020-09-10 17:50] PlayerVMachine opened #13458 "How do I install a package without a feature?"
For example curl has multiple ssl options when I select `curl[openssl]` on MacOS vcpkg installs it with `openssl,sectransport,ssl` as seen here:
`Building package curl[core,non-http,openssl,sectransp,ssh,ssl]:x64-osx...`
I would like to only install curl with openssl support if possible.

[2020-09-10 18:50] seanyen commented on #13141
`2020.07` is out. I guessed the voice was heard. Closing it.

[2020-09-10 18:50] #13141 closed

[2020-09-10 18:56] BillyONeal commented on #13141
Yeah, sorry. This got passed around and we forgot to follow up. Thanks for the poke!

[2020-09-10 19:34] BillyONeal commented on #12433
@gvanem That looks like a completely different error since you're talking about a completely different VS. We got the root path f:\gv\VC_2019\Common7 as the output of vswhere.

[2020-09-10 19:56] xieyubo commented on #13395
I'll take a look this issue. @PhoebeHui you can assign arm64-linux/arm-linux build issues to me if your team doesn't have time to work on it.

[2020-09-10 20:15] DaddyWesker opened #13461 "opencv[cuda]:x64-windows nvcc fatal : Unsupported gpu architecture 'compute_30'"
**Describe the bug**
Installed Cuda 11, visual studio 2019. Tried to use vcpkg to install opencv+cuda with command vcpkg.exe install opencv[cuda]:x64-windows opencv[contrib]:x64-windows gtest:x64-windows Unfortunately, got error

**Environment**
- OS: Windows 10
- Compiler: sorry, don't remember exactly. I've VS 2019 installed

**To Reproduce**
Steps to reproduce the behavior:
1. vcpkg.exe install

[2020-09-10 22:29] Neumann-A opened #13464 "[qt5] update to 5.15.1"
https://www.qt.io/blog/qt-5.15.1-released

[2020-09-11 00:30] simon987 commented on #13395
Awesome! Thank you some much @xieyubo :heart: !

[2020-09-11 00:36] sfhacker commented on #13156
@ChrisNabold  Any update on this (re)open(ed) issue? Cheers.

[2020-09-11 01:03] kilasuelika opened #13466 "How to manually download bzip2?"
Error message

[code]

The file `git-fetch-x86-windows-err.log` only has one line:
[code]

1. Stop using Proxy: no use.
2. Go to `downloads/git-tmp` and execute `"C:/Program Files/Git/bin/git.exe" ...`. Message:

[code]

But after executing this command, `git-tmp` only has a `.git` folder.

Without proxy, I can't access github and some websites. How can I manually download bzip2?

[2020-09-11 01:34] marekr commented on #4968
Well, I ditched vcpkg for OCCT for now.
The problem with OCCT, is it requries specifically, tcl and tk 8.6.
TCL in vcpkg is already 9.0 :/

[2020-09-11 01:37] FishHe commented on #13452
Could you please show me how to customize the triplet and toolchain? @Neumann-A

[2020-09-11 02:05] kilasuelika commented on #13466
Finally I found that I set proxy in C:/users/xxx/.gitconfig.

Removing those lines, now ok.

[2020-09-11 02:05] #13466 closed

[2020-09-11 02:19] sfhacker commented on #12651
Any update on this open issue?

![image](https://user-images.githubusercontent.com/25817529/92844305-0e5c7c00-f429-11ea-8308-4ac7856e9e50.png)

[2020-09-11 03:34] blackknifes commented on #12849
The bug has been fixed? Will it merge to master?

[2020-09-11 05:36] #13301 closed

[2020-09-11 05:37] JackBoosY commented on #13301
@zhongshan99 不要在非ascii字符的路径下安装东西，这应该是基本原则。

[2020-09-11 05:41] JackBoosY commented on #12849
No... it's not resolved.

[2020-09-11 05:45] JackBoosY commented on #13458
`./vcpkg install curl[core]`.

[2020-09-11 06:32] wrobelda opened #13470 "[macOS] What is the current way to make portfile prefer usage of Vcpkg-built library over the system one?"
I am trying to figure out what is the correct way of forcing a portfile I am working on to make cmake lookup and link to libiconv built by vcpkg. Currently it uses the macOS-provided library, which causes a build failure:

[code]

This is a typical issue to iconv and has been discussed previously at least [here](https://github.com/microsoft/vcpkg/pull/11072) and [here](https://github.com/microsoft

[2020-09-11 06:58] Erixar opened #13472 "Error: Building package boost-compatibility:x86-windows failed with: BUILD_FAILED"
On Windows 10  of 10.0.18363
**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install pcl

Starting package 3/103: boost-compatibility:x86-windows
Building package boost-compatibility[core]:x86-windows...
Could not locate cached archive: C:\Users\Erixar\AppData\Local\vcpkg/archives\34\34231cecbadde1397f5d99437d20f1c9044172c1.zip
-- Downloading https://github.com/boostorg/compatibility/ar

[2020-09-11 07:54] FishHe opened #13475 "[intel-mkl,blas,lapack] Using lapack in mkl."
I have used **BLAS** and **LAPACK** in **Intel-MKL** to build **SuiteSparse** and **OpenMVG** for windows. Most 3rd-libs are built from Vcpkg.
I thinck it will be very helpful to implement the feature: lapack[mkl].

[2020-09-11 08:07] NancyLi1013 commented on #13354
Sorry for the delay.
Factually, if you run `./vcpkg integrate project`, it's unnecessary to add additional library directories and dependencies.

I try to reproduce this issue on my local, but it was blocked by the error:
[code]

[2020-09-11 08:38] Neumann-A commented on #13475
cc @cenit

we also need an intel-mkl port

[2020-09-11 08:43] PhoebeHui commented on #13472
Duplicated to https://github.com/microsoft/vcpkg/issues/13348.

[2020-09-11 08:43] #13472 closed

[2020-09-11 08:50] cenit commented on #13475
We already have it!
:)

[2020-09-11 08:51] resiina opened #13476 "[libssh] update to 0.9.5"
Library name: libssh

New version number: 0.9.5

From https://www.libssh.org/ :
CHANGELOG
- CVE-2020-16135: Avoid null pointer dereference in sftpserver (T232)
- Improve handling of library initialization (T222)
- Fix parsing of subsecond times in SFTP (T219)
- Make the documentation reproducible
- Remove deprecated API usage in OpenSSL
- Fix regression of ssh_channel_poll_timeout() returning SSH_

[2020-09-11 08:51] PhoebeHui commented on #13420
@mkckr0, you can use './vcpkg list xxx'.

[2020-09-11 08:56] PhoebeHui commented on #13406
It due to b2.exe is treated as a virus, and it was removed by anti-virus software。
Duplicated to https://github.com/microsoft/vcpkg/issues/13353

[2020-09-11 08:56] #13406 closed

[2020-09-11 08:57] PhoebeHui commented on #13431
It due to b2.exe is treated as a virus by anti-virus software。
Duplicated to #13353

[2020-09-11 08:57] #13431 closed

[2020-09-11 08:58] Neumann-A commented on #13452
https://github.com/microsoft/vcpkg/blob/master/docs/users/triplets.md
https://github.com/qis/toolchains/tree/build

[2020-09-11 09:29] JonLiu1993 commented on #13317
Hi @akilaln ,
When you turn on -DUSE_PYTHON=ON, you should add feature to install, can you use this command to try it?
./vcpkg install openimageio[pybind11]
I tried successfully.

[2020-09-11 10:02] showintime commented on #13381
i will try soon

[2020-09-11 12:31] PlayerVMachine commented on #13458
Awesome thank you! That might be a handy tip to note in the documentation on features.

[2020-09-11 12:31] #13458 closed

[2020-09-11 13:15] ChrisNabold commented on #12651
Dear John,

I am a rather new user and don’t have much experience using cmake.

Thank you for your efforts. Is it possible do download/install the sundials library? Is it possible to install the libraries with vcpkg?

Alternatively is it possible to send me some info how you created the libraries?

Thank you, best regards

Chris Nabold

From: John Sheppard <notifications@github.com>
Sent: Friday,

[2020-09-11 13:16] DagerD opened #13479 "[openblas ] build failure"
**Host Environment**
- OS: Win 10
- Compiler: no matter

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg openblas --triplet x64-windows`

**Failure logs**
[code]

**How to repair**

1. open "vcpkg\ports\clapack\portfile.cmake"

1. find "URLS "http://www.netlib.org/clapack/clapack-3.2.1-CMAKE.tgz""

1. change "http" for "https"

[2020-09-11 14:18] sfhacker commented on #12651
You don't need vcpkg to build and install any library/program.
Just download the source code and type the following commands:

a) cmake <whatever option you need/like> ..
b) make all
c) make install

There are plenty of online tutorials about cmake! So .... there is no excuse.

[2020-09-11 15:06] ahoarau commented on #4968
We can also have it with `BUILD_MODULE_Draw=False` for now, and update it later on ?

[2020-09-11 16:01] wolfv opened #13482 "Releasing vcpkg as a conda-package"
Dear maintainers,

I am looking to add vcpkg (the tool) to conda-forge: https://github.com/conda-forge/staged-recipes/pull/12635

I am wondering if someone from the core team of vcpkg wants to help maintain vcpkg over there on conda (occasionally merging new version updates etc).

Just wanted to also say thanks for this great package manager! It could be quite useful to boostrap conda-packages in

[2020-09-11 16:12] traversaro commented on #13482
Hi @wolfv ! Just a curiosity, in which workflow do you think that having vcpkg available as a conda-forge package can be useful?

[2020-09-11 16:24] Nemirtingas opened #13483 "[libnice] Can't build on something else than Windows"
**Host Environment**
- OS: Linux
- Compiler: latest vcpkg + gcc 7.5

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install libnice`

**Failure logs**
Logs are too big and complex to be put here. The whole build system is broken. It looks statically for Windows libs and headers.
Even after fixing the port's CMakeList.txt there are build issues.

[2020-09-11 16:25] wolfv commented on #13482
My personal "problem" is that I need to bootstrap some static libraries to build `micromamba` and link it statically. I just had the crazy idea that using vcpkg for the libraries that I need for that (libarchive, libcurl, yaml-cpp) would be great!

Also users might want to use vcpkg and install it through conda-forge (and get the dependencies with it, e.g. curl, unzip and tar).

And thirdly, other

[2020-09-11 16:34] traversaro commented on #13482
I was a bit confused thinking about the possible conflicts of a binary that builds its own version of its dependencies via vcpkg instead of re-using the one that are in conda-forge, but if you think instead of independent conda channels for statically linked binaries that are not related at all with conda-forge, then indeed it could make sense. The major problem that I see for this scenario is tha

[2020-09-11 16:58] wrobelda commented on #13470
OK, so I managed to dig a bit deeper and can see that vcpkg uses the gettext I have installed on my system via Home-brew. I now understand I need to implement something akin to ports/exiv2/vcpkg-cmake-wrapper.cmake

[2020-09-11 17:55] wrobelda commented on #13470
OK, that wasn't sound reasoning. What I understand now is that:
1. Any new port that has a gettext or libiconv in Build-Depends needs to provide an additional vcpkg-cmake-wrapper.cmake file
1. Any other port consuming such new port needs to patch own CMakeLists.txt and include something like:
[code]

[2020-09-11 19:06] Nemirtingas opened #13487 "[New Port Request] libdatachannel"
Library name: libdatachannel

Library description:
libdatachannel is a standalone implementation of WebRTC Data Channels and WebSockets in C++17 with C bindings for POSIX platforms (including GNU/Linux, Android, and Apple macOS) and Microsoft Windows

Licensed under LGPLv2.

Source repository URL: https://github.com/paullouisageneau/libdatachannel

Project homepage (if different from the source re

[2020-09-11 19:12] #13134 closed

[2020-09-11 19:48] #13432 closed

[2020-09-11 19:53] #12336 closed

[2020-09-11 19:59] #12619 closed

[2020-09-11 20:12] ras0219-msft commented on #12473
Thanks for the info!

Based on the relative popularity of the libraries and how common the header name "decimal.h" is[1], I believe the right way to fix this is is actually to install `decimal-for-cpp`'s header into a subdirectory. This is a breaking change for consumers of `decimal-for-cpp`.

[1] https://packages.debian.org/search?searchon=contents&keywords=decimal.h&mode=path&suite=stable&arch=a

[2020-09-11 20:17] #12745 closed

[2020-09-11 20:43] virtualritz commented on #13371
[Upstream issue](https://github.com/alembic/alembic/issues/307) got closed.

[2020-09-11 21:05] virtualritz commented on #13371
@NancyLi1013 Here is a diff that works for me on macOS and should fix the commit that broke the port as well as reference the latest version of Alembic (1.7.15). You should test on Linux & Windows.
[code]

[2020-09-11 21:50] wrobelda opened #13490 "Consider supporting sharing a root between multiple platforms"
**Is your feature request related to a problem? Please describe.**
I intend to test my ports using Linux and Windows as well, both running on their respective VMs. I shared my vcpkg root folder from my macOS to both of them and tried to re-use it. Unfortunately, while I initially thought that it wouldn't be an issue, given that the same git repository is used for all platforms, it does fail:
1. bo

[2020-09-11 22:46] wrobelda commented on #13470
Related issue #13027

[2020-09-12 01:16] marekr commented on #4968
Hmm, yes looks like that will work. Let me see what I can knock out quickly

[2020-09-12 03:02] HaloFire1985 opened #13492 "[<portname>] <short description of feature>"
#@HaloFire1985
****

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Proposed solution**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered

[2020-09-12 03:49] nick908 opened #13494 "[New Port Request] ZBar"
Library name: ZBar

Library description: ZBar is an open source software suite for reading bar codes from various sources, including webcams.

Source repository URL: https://github.com/mchehab/zbar

Project homepage (if different from the source repository):

Anything else that is useful to know when adding (such as optional features the library may have that should be included):

[2020-09-12 04:51] longnguyen2004 opened #13495 "[utfcpp] Use vcpkg_install_cmake instead of copying include files directly"
****

**Is your feature request related to a problem? Please describe.**
utfcpp does provide exported targets, which in my opinion is always better than `find_path` or `find_library`, but the current portfile for utfcpp doesn't use `vcpkg_install_cmake`, so we doesn't have exported targets to work on.

**Proposed solution**
Switch to `vcpkg_install_cmake`

[2020-09-12 05:01] Chlorie opened #13496 "[cppcoro] Missing system library when linking"
****

**Is your feature request related to a problem? Please describe.**
`cppcoro` itself builds fine in vcpkg. After specifying to link against this library, most fundamental features of this library are usable, but when using some of the synchronization primitives there're unresolved symbol errors output by the linker. Apparently `cppcoro` uses Win32 API for some of its functions (like `schedule

[2020-09-12 06:07] unl1ght commented on #13236
I have come across this same issue and confirm that adding "SYSTEM_LIBRARIES dbus-1" to the sdl2 portfile as @JackBoosY suggested has fixed this issue for me.

[2020-09-12 07:41] gaqiang opened #13498 "[glog:x64-windows] build failure"
**Host Environment**
- OS: Windows10 x64 professional 10.0.18362
- Compiler: Visual Studio Professional 2017 15.9.11Windows 10 SDK (10.0.17763.0)

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg install glog[core]:x64-windows`

**Failure logs**
E:\vs_library\vcpkg>.\vcpkg install glog[core]:x64-windows
Computing installation plan...
The following packages will be built and installed:

[2020-09-12 07:43] gaqiang commented on #13498
[glog.zip](https://github.com/microsoft/vcpkg/files/5212354/glog.zip)

[2020-09-12 08:36] alister-chowdhury opened #13499 "[usd] Enabling additional USD components."
****

**Is your feature request related to a problem? Please describe.**
Currently USD has basically become a standard in the VFX industry, however we appear to not be enabling a lot of things which make it actually viably useful.

[code]
`PXR_BUILD_ALEMBIC_PLUGIN` - It's fairly frequent to see Alembic used as a container of geometry and USD as a layer that assembles that geometry together.

`PXR_

[2020-09-12 12:45] traversaro commented on #8753
Hi @JackBoosY, I just experienced this same issue in https://github.com/microsoft/vcpkg/pull/13320#issuecomment-691482468, so I guess it is still present.

[2020-09-12 14:49] mganss opened #13500 "[v8] Could not find package configuration file"
I have successfully installed `v8:x64-windows` and am trying to use the package in a CMake project in VS 2019. Running `vcpkg list` shows the package fine and there were no errors during the install:

[code]

vcpkg is used as a Git submodule. `CMakeLists.txt` has the following:

[code]

CMake reports this error:

[code]

The vcpkg directory tree does not contain either `v8Config.cmake` or `v8-conf

[2020-09-12 15:10] hellozee commented on #11227
welp, this is still a problem, 😭

[2020-09-12 15:25] Kwizatz commented on #13500
Hi @mganss , the original PR was changed a lot, all manual generation of import targets was removed in favour of a pkg-config configuration, what you need to do instead is something like this:

`find_package(PkgConfig)
pkg_check_modules(V8 REQUIRED IMPORTED_TARGET GLOBAL v8 v8_libplatform)
target_link_libraries(<target> PkgConfig::V8)`

The tools folder was probably removed with the manual importe

[2020-09-12 16:18] mganss commented on #13500
`find_package(PkgConfig)` is failing for me as well. I don't need tools, just found it suspicious that they were missing. What's needed, though, is the `snapshot_blob.bin` file. I can see this only in the `buildtrees` directory.

[2020-09-12 16:26] Kwizatz commented on #13500
Right, I don't see it as part of the portfile either 😒.

I have a new PR to update to version 8.5, I'll address these issues in there, In the meantime, I think you can recover the snapshot from buildtrees, use find_library() to get v8, v8_libbase and v8_libplatform and then use "-DV8_COMPRESS_POINTERS -DV8_31BIT_SMIS_ON_64BIT_ARCH" to your compile flags.

Sorry for the inconvenience, and thanks fo

[2020-09-12 18:59] VelocityRa commented on #12525
Yeah this was fixed, thanks!

[2020-09-12 18:59] #12525 closed

[2020-09-12 19:14] Toninoso opened #13503 "vcpkg integrate install doesn't work"
**Describe the bug**
The command "vcpkg integrate install" doesn't seem to do anything, even if it reports success.

**Environment**
- OS: Windows 10 1709
- Compiler: Microsoft Visual Studio Enterprise 2019 Version 16.7.3
Visual C++ 2019   00435-60000-00000-AA401
Using v140 toolset in 2019
Vcpkg package management program version 2020.06.15-nohash

**To Reproduce**
Steps to reproduce the behavior:

[2020-09-12 19:29] pscamodio opened #13504 "Allow to specify, system wide, the cuda architecture to use for all ports, different for debug and release build"
****

**Is your feature request related to a problem? Please describe.**
When you work on cuda code you have two different necessities for the cuda architecture, in debug build you only care to build for the video card you have and the faster the build the better, in release you want to support more architectures if you later want to release your application/library. In this moment there's no way

[2020-09-12 20:32] luki446 opened #13505 "[llvm:x64-windows-dbg] build failure"
**Host Environment**
- OS: Windows 10 x64 professional 19041.508

**To Reproduce**
Steps to reproduce the behavior:
`.\vcpkg.exe install llvm:x64-windows`

**Failure logs**

PS D:\Projects\vcpkg> .\vcpkg.exe install llvm:x64-windows
Computing installation plan...
The following packages will be built and installed:
    llvm[clang,core,disable-abi-breaking-checks,disable-assertions,disable-clang-sta

[2020-09-12 21:57] christianparpart opened #13506 "How do I install harfbuzz/freetype/... DLLs along with my executable"
Hi,

I tried searching all around the net. There are quite some examples on how to install Qt5 libraries into your build target directory as POST_BUILD action. That went well.

Interestingly {harfbuzz,freetype,libpng}.dll and many(!) others got automatically copied right next to be created .exe file. I had to do that manually for Qt (why?)

I also found documentation on how to install Qt DLLs usin

[2020-09-13 06:03] BenKey opened #13507 "chromium-base breaks the x64 Debug configuration of projects that use VCPKG."
Installing the chromium-base package breaks the x64 Debug configuration of projects that use VCPKG unless you disable the VcpkgAutoLink feature of vcpkg.targets. The VcpkgAutoLink feature causes double_conversion.lib to be imported. Then the errors begin.

[code]

**Environment**
- OS: Windows 10 Pro Version 2004 build 19041.508 with Windows Feature Experience Pack 120.2212.31.0.
- Compiler: Micro

[2020-09-13 07:33] sabason opened #13509 "[libjpeg-turbo] Building package libjpeg-turbo:x86-windows failed with: BUILD_FAILED"
Please ensure you're using the latest portfiles with `.\vcpkg update`, then
submit an issue at https://github.com/Microsoft/vcpkg/issues including:
  Package: libjpeg-turbo:x86-windows
  Vcpkg version: 2020.06.15-nohash

[2020-09-13 08:09] traversaro commented on #8753
More in particular, according to https://github.com/microsoft/vcpkg/pull/11131#issuecomment-622992539 there is a circular dependency between `boost-lexical-cast` and `boost-math`, and circular dependencies are not supported in vcpkg.

[2020-09-13 14:34] simon987 opened #13511 "[ffmpeg:arm64-linux] build failure"
**Host Environment**
- OS: Linux
- Compiler: GCC 9.3.0

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Failure logs**
*The build completes successfully, but the output libraries have the wrong extension (`avutil.lib` should be `libavutil.a`) and FindFFMPEG fails*

*(Notice how it says --target-os=win32 in Build Options)*

[code]

**Additional context**
I think this could be related to

[2020-09-13 16:00] xieyubo commented on #13511
Thanks for reporting this issue. Will take a look.

[2020-09-13 18:11] ThomsonTan opened #13513 "How to use VCPKG_BUILD_TYPE to avoid installing both debug and release package?"
Seems VCPKG provides an environment variable `VCPKG_BUILD_TYPE` which could be used to install either debug or release package, but not both, like mentioned in #143. How do use this variable? Do I need create some customized triplet file to specify this? I’d expect a simple variable like cmake variable I could pass via command line, such as `vcpkg install somepackage -DVCPKG_BUILD_TYPE=release`.

[2020-09-13 20:00] sfhacker commented on #10231
Any updates on this long standing issue?

![image](https://user-images.githubusercontent.com/25817529/93027359-8e642b00-f64f-11ea-9cc5-1ba079d13a51.png)

[2020-09-13 20:40] ndragon70 opened #13514 "[nettle:x64-linux] build failure"
**Host Environment**
- OS: linux x86_64 Fedora 32
- Compiler: revision
gcc (GCC) 10.2.1 20200723 (Red Hat 10.2.1-1)

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install nettle`

**Failure logs**
[code]
**Additional context**

The hogweed.pc is installed in the /home/ndragon/work/vcpkg/packages/nettle_x64-linux/lib64/pkgconfig/hogweed.pc. Note the `lib64` dir and not `lib`. This dire

[2020-09-13 21:01] jcc10 opened #13516 "[cuda:x64-linux] build failure (Could not find CUDA)"
**Host Environment**
- OS: x64-linux (Pop!_OS 20.04 LTS)
- Compiler: 2020.06.15-unknownhash

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install cuda`

**Failure logs**
[code]

**Additional context**
Might be related to #8247
[code]

[2020-09-13 21:13] rib commented on #11522
Just trying this I got an _almost_ identical build failure except I see it failing to run `/bin/sh ./build.sh` instead of ` /bin/bash --noprofile --norc D:/dev/vcpkg/ports/ffmpeg/build_linux.sh`

[2020-09-13 21:16] Hoikas commented on #13513
While I suspect it is possible to pass a potentially undocumented or debug command line switch to do this, the least error prone method to accomplish this would be to append this to the bottom of your triplet:
[code]

[2020-09-13 22:56] jcc10 commented on #13516
I also attempted
[code]
No dice. Same result as above.

This probably needs a regression test attached to it.

[2020-09-14 02:06] JackBoosY commented on #13492
Invalid issue.

[2020-09-14 02:06] #13492 closed

[2020-09-14 02:21] JackBoosY commented on #11986
@deGravity  fixed and merged. Please update vcpkg.

[2020-09-14 02:55] JackBoosY commented on #13516
Can you provide me where is `nvcc` in your machine?
And you should use `set` instead of `export`.

[2020-09-14 02:57] JackBoosY commented on #13507
`error LNK2038: mismatch detected for '_ITERATOR_DEBUG_LEVEL': value '0' doesn't match value '2'`
It looks like you are using the debug library instead of the release library.
Can you provide a simple project?

[2020-09-14 02:59] JackBoosY commented on #13500
@Kwizatz wish your PR can fix this.

[2020-09-14 03:04] JonLiu1993 commented on #13479
Hi @DagerD, thanks for reporting this issue!
[code]
Looks like your system has disabled the non-ssl download.

Please unzip and put [this](https://github.com/microsoft/vcpkg/files/5215896/clapack-3.2.1-CMAKE.tgz.zip) to _VCPKG_ROOT/downloads_ and try again.

Thanks.

[2020-09-14 03:04] JackBoosY commented on #13495
Good point, thanks for this issue!

[2020-09-14 03:12] JackBoosY commented on #13490
@dan-shaw Do we need to consider this situation?

[2020-09-14 03:31] Kwizatz commented on #13500
Hi @JackBoosY, It does, as it is it supports the shared build, but I still need to add support for the static versions.

`find_package(V8 CONFIG REQUIRED)`

Should provide V8::V8, V8::V8LIBBASE and V8::V8LIBPLATFORM targets as well as some other cmake variables.

[2020-09-14 03:59] wrobelda commented on #13470
Another related issue: #13481

[2020-09-14 04:40] wrobelda opened #13518 "[gettext] msgfmt (and other gettext bin tools) missing on macOS & Windows"
**Describe the bug**
macOS nor Windows  come with gettext by default. There is a gettext port in vcpkg,[ but it doesn't ship the \bin tools](https://github.com/microsoft/vcpkg/pull/245#issue-92014084). The `vcpkg_find_acquire_program()` does not offer it, either. Because of that reason, ports that require msgfmt binary tools (e.g. `kf5i18n`) fail to build on macOS and Windows.

~~What's even more

[2020-09-14 04:58] wrobelda commented on #13518
I just realized that the "CASCADE" status effectively means "SKIPPED because of missing dependency". IMHO a build should fail in such case, since the ports I modified were not built at all.

Anyhow, the issue still stands – these tools are missing on macOS.

[2020-09-14 05:24] Jimmy-Hu opened #13519 "[hpx:x86-windows] build failure"
**Host Environment**
- OS: Windows 10 Version 2004
- Compiler: Microsoft Visual Studio 2019 Version 16.7.3

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install hpx:x86-windows`

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
    hpx[core]:x86-windows
  * hwloc[core]:x86-windows
Additional packages (*) will be modified to complete

[2020-09-14 06:06] NancyLi1013 commented on #13371
@virtualritz
Thanks for your above information and also for moving this issue forward.
In fact, I have tested the latest version 1.7.15 two days ago and it can be built successfully on Windows and failed on linux and osx.

On Linux:
[code]
On macOS:

[code]
Seems to be further fix.

[2020-09-14 06:07] ThomsonTan commented on #13513
Thanks @Hoikas. Sorry for my novice, what does it mean for appending `set(VCPKG_BUILD_TYPE "release")` to my triplet file? I don't have customized triplet file and I pass triplet via command line such as `vcpkg install protobuf:x64-windows`, is it required and how could I create a triplet file for this?

[2020-09-14 06:07] JackBoosY commented on #13519
[code]

[2020-09-14 06:10] Jimmy-Hu commented on #13519
@JackBoosY Do you have any idea to solve this problem? Thank you.

[2020-09-14 06:12] JackBoosY commented on #13519
@Jimmy-Hu Is your Windows 64 bit?

[2020-09-14 06:13] Jimmy-Hu commented on #13519
@JackBoosY Yes, It is 64 bit

[2020-09-14 06:18] PhoebeHui commented on #13513
@ThomsonTan, you can reference https://github.com/microsoft/vcpkg/issues/10683#issuecomment-663508284 and create a customized under ..\triplets\community.

[2020-09-14 06:24] JackBoosY commented on #13519
@Jimmy-Hu Can you provide your memory size?

[2020-09-14 06:24] NancyLi1013 commented on #13505
Hi @luki446
Thanks for posting this issue.

Since `llvm `needs a long time to build. This should be as intended.  But I'm not sure the specific build time.
Could you please try it again?

[2020-09-14 07:06] JackBoosY commented on #13235
@ustchqf Any results?

[2020-09-14 07:31] ustchqf commented on #13235
No,now I am build new environment for it in a new linux server.

[2020-09-14 08:03] Jimmy-Hu commented on #13519
@JackBoosY Thank you for your comments. Just wondering how much memory may enough to build this hpx package.

[2020-09-14 08:07] LilyWangL commented on #13509
Thanks for posting this issue. Could you please provide the eror log?

[2020-09-14 08:08] PhoebeHui commented on #13420
I see, AFAIK, we don't have the feature now.

[2020-09-14 08:09] LilyWangL commented on #13503
Thanks for posting this issue. Did you run command `./vcpkg integrate project`?

[2020-09-14 08:17] JackBoosY commented on #13519
@Jimmy-Hu 32GB is enough, it shouldn't be happend.
Can you replace `vcpkg_install_cmake()` to `vcpkg_install_cmake(DISABLE_PARALLEL)` in _VCPKG_ROOT/ports/hpx/portfile.cmake_ line 25 then try again?

Thanks.

[2020-09-14 08:47] JackBoosY commented on #13418
See https://forum.qt.io/topic/98497/jom-error-after-vs2017-update/11
https://stackoverflow.com/questions/1520483/qtcreator-on-windows-how-to-set-temp-and-destination-folders

[2020-09-14 08:57] JackBoosY commented on #13366
@dan-shaw Could you please take a look?

Thanks.

[2020-09-14 08:57] LilyWangL commented on #13514
@ndragon70 Thanks for posting this issue. Could you help to veriy PR #13523 is work for you?

[2020-09-14 09:07] PhoebeHui commented on #13461
This issue doesn't repro with CUDA 11 and VS2017 on azure VM. I don't think it's related to VS2019, could you also attach the config-x64-windows-out.log?

CUDA related inforfmation in config-x64-windows-out.log:
[code]

[2020-09-14 09:09] NancyLi1013 commented on #13405
Hi @a93a
Thanks for posting this issue.
Sorry for the delay.
I try to build `pcl` failed with the same error if I do as the above instructions.
But after I added `set(EIGEN_ROOT "F:\\vcpkg\\installed\\x86-windows\\share\\eigen3")`, the error info disappered.

In fact, if we have run `.\vcpkg integrate install` before we build the project, it's unnecessary to set the directories for `pcl `or `eigen

[2020-09-14 09:33] Jimmy-Hu commented on #13519
@JackBoosY Thank you for your useful suggestion. I replaced `vcpkg_install_cmake()` to `vcpkg_install_cmake(DISABLE_PARALLEL)` and the package installed successfully.

Computing installation plan...
The following packages will be built and installed:
    hpx[core]:x86-windows
Detecting compiler hash for triplet x86-windows...
Starting package 1/1: hpx:x86-windows
Building package hpx[core]:x86-win

[2020-09-14 09:33] #13519 closed

[2020-09-14 09:47] PhoebeHui commented on #13311
Please reopen this issue with failure logs if it's still be a problem for you.

[2020-09-14 09:47] #13311 closed

[2020-09-14 09:56] FishHe commented on #13452
Thanks. The issue #13475 is that I really want.

[2020-09-14 09:57] #13452 closed

[2020-09-14 10:03] NancyLi1013 commented on #13496
Hi @Chlorie
Thanks for post this issue.
I try to use the function `schedule_after` to build in cmake project and there are no any errors.

So could you please provide your project case and post the error info that you met?

My project like this:

main.cpp

[code]
CMakeLists.txt

[code]

[2020-09-14 10:04] PhoebeHui commented on #13230
@ChrisMGeo, please reopen this issue with repro code and repro steps if it still be a problem for you.

[2020-09-14 10:04] #13230 closed

[2020-09-14 10:20] PhoebeHui commented on #13395
Thank you @xieyubo! I assigned this issue to you.

[2020-09-14 10:47] Neumann-A commented on #13504
This looks like a case for a custom cmake toolchain + triplet

[2020-09-14 11:02] shauser67 commented on #13354
I suppose you haven't defined both OIIO_STATIC_DEFINE and OpenColorIO_STATIC. These defines are required if you want to link against static library versions of OpenImageIO instead of DLLs.

Looking at heif.h I found a similiar define called LIBHEIF_STATIC_BUILD, but it doesn't remove the linker errors regarding libheif functions.

I slighty modified the C++ example to match an example from OpenIma

[2020-09-14 12:55] Adobe-Android opened #13525 "[fmt] build failure"
**Host Environment**
- OS: Windows 10 x64
- Compiler: VS 2019 Community Preview - 16.8.0 Preview 2.1

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install fmt`

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
    fmt[core]:x86-windows
Detecting compiler hash for triplet x86-windows...
Starting package 1/1: fmt:x86-windows
Building p

[2020-09-14 14:30] sfhacker commented on #13525
There are some (open) reported issues about fmt package.

![image](https://user-images.githubusercontent.com/25817529/93098780-96bd7400-f6ea-11ea-8433-a8772d2cb3bd.png)

[2020-09-14 14:41] sfhacker commented on #13345
There is a new reported issue (just now) about fmt package.
Has this issue been resolved?

We do not use Linux but tried to build it anyway. It seems to work just fine!

![image](https://user-images.githubusercontent.com/25817529/93100146-30d1ec00-f6ec-11ea-88ac-b7a131210ad5.png)

[2020-09-14 14:50] sfhacker commented on #13171
It doesn't seem to be working!

Has this issue been resolved?
There is a new issue reported just now about this same package!

![image](https://user-images.githubusercontent.com/25817529/93101055-2b28d600-f6ed-11ea-80a7-bc5f604b9844.png)

[2020-09-14 14:52] Neumann-A commented on #13525
`C:/Users/tngam/source/repos/C++/vcpkg-2020.07/packages/fmt_x86-windows/share/fmt/copyright`

the problem are the regex characters `++` and `.` in the path

[2020-09-14 15:02] sfhacker commented on #13525
Most of our users do not know how to setup their own environment! That causes a lot of wasted time!
Can we provide a wiki or some sort of documentation to reduce the ignorance or lack of experience?

[2020-09-14 15:31] lcals opened #13526 "libevent win10 error"
env  :     win10  vs2019     vcpkg install libevent:x64-windows-static
Severity	Code	Description	Project	File	Line	Suppression State
Error	LNK2019	unresolved external symbol __imp_if_nametoindex referenced in function evutil_inet_pton_scope	test.exe	event.lib(evutil.c.obj)	1

ubuntu  Behaving normally

[2020-09-14 15:41] #13526 closed

[2020-09-14 16:20] ThomsonTan commented on #10683
Creating a customized triplet with `set(VCPKG_BUILD)TYPE release)` sounds like a workaround, but I don't see any existing triplet under `<VCPKG_ROOT>\triplets\community\` has this option included. Seems like I need to create a private one in my local repo to do this? If yes, the private customization may cause maintenance issue, and as I need it in CI build, the customization also looks in risk.

[2020-09-14 16:49] nikolskydn opened #13527 "icu[core]:x64-linux build failure"
**Host Environment**
- OS: Ubuntu 18.04

**To Reproduce**

`./vcpkg install icu`

**Failure logs**

[code]

**Additionally**

[code]

[2020-09-14 17:16] stephanecharette opened #13528 "libmagic build failure"
**Host Environment**
- OS: Windows 10 (64-bit)
- Compiler: Visual Studio 2019 v16.7.2

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg.exe install libmagic --triplet x64-windows`

**Failure logs**
[code]

I'm a bit confused.  Is this telling me that I need to manually install autoconf for Windows first before I can use vcpkg?  Or is this a legitimate broken package?  Shouldn't vcpkg do th

[2020-09-14 17:22] Adobe-Android commented on #13525
Shows my ignorance. I thought the only setup was the few items in the Readme.

[2020-09-14 17:38] Adobe-Android commented on #13525
Thanks for your help @Neumann-A

[2020-09-14 17:38] #13525 closed

[2020-09-14 18:31] mjmrotek commented on #13353
I had this problem, but removing and reinstalling `boost-build` solved it.

[2020-09-14 18:56] sfhacker commented on #13528
We use MSYS/MinGW environments and autoconf comes with them. There is no need to install autoconf at all. I'll have a go at building libmagic now.

![image](https://user-images.githubusercontent.com/25817529/93126516-c92d9800-f70f-11ea-9619-deb10c2071f6.png)

[2020-09-14 19:10] jcc10 commented on #13516
[code]

[code]

[2020-09-14 19:59] stephanecharette commented on #13528
I'm not sure I follow you.  Are you saying that this _should_ work?  I'm using the latest version:

[code]

I ran into a problem with CUDA and OpenCV4 last night prior to this.  Build crashed halfway through because of insufficient disk space.  Cleaned out some files and restarted things and it did finish correctly.  But I'm wondering if that left something in a weird state.  Running "vcpkg.exe li

[2020-09-14 20:12] sfhacker commented on #13528
libmagic is quite a small project! It took me two mins to build it from source without installing anything.

![image](https://user-images.githubusercontent.com/25817529/93133026-ecf5db80-f719-11ea-8e39-4132af699c0a.png)

What I meant in my previous post was that autotools (in general) should be already installed and available.
Secondly, when I built libmagic from source it didn't use/need/ask for

[2020-09-14 20:20] stephanecharette commented on #13528
So...`vcpkg.exe install libmagic --triplet x64-windows`?  Or did you install it a different way?  I just need to know if I'm doing it wrong.  Is this the correct command to install it using vcpkg?  Or is there a better way I should be using vcpkg?

[2020-09-14 20:20] sipsorcery opened #13530 "Manifests, problem with parallel builds"
I've tried out the new [manifests](https://github.com/microsoft/vcpkg/blob/master/docs/specifications/manifests.md) feature with an existing multi-project solution that has been successfully using `vcpkg` for CI. The `vcpkg.json` and msbuild configuration to build and install the dependencies worked properly but there's a problem with parallel builds.

When building in Visual Studio or on the comm

[2020-09-14 20:28] BillyONeal commented on #13171
No, we are still waiting for responses to the questions above:

The problem doesn't repro for us so we need help from folks who actually see the problem in determining what's wrong.

[2020-09-14 20:38] cenit commented on #13518
agree with CASCADE status. It already misled me few times...

[2020-09-14 20:39] ndragon70 commented on #13514
@LilyWangL I tested this and it failed. I posted the information on the branch pull request.

[2020-09-14 21:03] StarGate-One commented on #13528
@stephanecharette I am just a volunteer project contributor, not an expert by all means, but looking at the what has been posted your syntax to install libmagic is correct.

From my understanding, it appears there is an issue with the [vcpkg-root]\ports\libmagic\portfile.cmake in that it is not running the `vcpkg_acquire_msys(autoconf)` function before trying to use it... but I am not exactly sure

[2020-09-14 22:51] #13236 closed

[2020-09-14 23:06] #13511 closed

[2020-09-14 23:25] mschofie opened #13531 "VCPkg doesn't support granular selection of MSVC PlatformToolset"
VCPkg allows selecting a 'Platform Toolset' using the VCPKG_PLATFORM_TOOLSET variable in a toolchain file, but only allows three digits of precision to be specified (e.g. v140, v141 or v142), but Visual Studio ships with more detailed versions (e.g. 14.16.27023, 14.24.28314, 14.26.28801, 14.27.29110). Being able to 'pin' to a more specific Platform Toolset version would help work-around bugs or ch

[2020-09-14 23:59] wrobelda commented on #13518
Please note we have the same issue on Windows; I updated the title accordingly.

[2020-09-15 00:11] #12564 closed

[2020-09-15 00:43] ras0219-msft commented on #13482
This is really cool!

We're happy to answer any questions we can to support this effort, but for now we'd prefer to support your role as a maintainer than to take ownership ourselves. None of our core team is very familiar with Conda, so I feel you'll do a much better job than we could!

Thanks again for making this possible :)

[2020-09-15 00:51] ras0219-msft commented on #13531
This is definitely a feature we should have and I agree with your suggested implementation.

Glad to hear how you've used vcpkg with universal packages -- we'd love to know more about your specific workflow at vcpkg@microsoft.com if you'd like to share :)

[2020-09-15 00:55] ras0219-msft commented on #13530
Thanks for the issue report!

As a workaround, you can set the MSBuild property `VcpkgManifestInstall`[1] to false in your project (or on the command line via an environment variable or `/p:VcpkgManifestInstall=false`) and manually pre-install dependencies.

[1] https://github.com/microsoft/vcpkg/blob/f1bef4aa7ca7e2a6ea4f5dfe4850d95fce60b431/scripts/buildsystems/msbuild/vcpkg.props#L31

[2020-09-15 01:29] NancyLi1013 commented on #13354
Thanks for your investigation. I only defined `#define OIIO_STATIC_DEFINE 1`. I will try this again.

[2020-09-15 02:15] JackBoosY commented on #13516
We find that the preset position of cuda is not compatible with this situation.
Please change https://github.com/microsoft/vcpkg/blob/f1bef4aa7ca7e2a6ea4f5dfe4850d95fce60b431/ports/cuda/portfile.cmake#L47
to `/usr/` and try again.

@cenit @Neumann-A I found that the installation location of cuda in different linux distributions is different. Do you have any ideas?

[2020-09-15 02:25] JackBoosY commented on #13518
We may need to fix windows build instead of add it to `vcpkg_find_acquire_program`.

[2020-09-15 02:36] jcc10 commented on #13516
@JackBoosY That worked.

Just as a side note:
[code]
Seems to work on my machine, not sure if that helps or not.

[2020-09-15 02:54] wrobelda opened #13533 "CI results should yield INCONCLUSIVE if ports that were changed could not be tested"
**Describe the bug**
Your CI currently returns Success results even if the ports that were changed as part of the PR were not actually being tested for whatever reason. I [already](https://github.com/microsoft/vcpkg/issues/13518#issuecomment-691810398) [got](https://github.com/microsoft/vcpkg/pull/13469#issuecomment-691811612) [bit](https://github.com/microsoft/vcpkg/pull/13467#issuecomment-692119

[2020-09-15 03:02] wrobelda commented on #13518
I tried building it on macOS and it failed, too. My ports depend on it so I added it for the time being, but I agree it would be best to include those execs in the gettext itself.

[2020-09-15 04:17] llduncangithub opened #13534 "[New Port Request] <`Mesa <https://mesa3d.org>`_ - The 3D Graphics Library>"
Library name:mesa3d

Library description:
The Mesa project began as an open-source implementation of the OpenGL specification - a system for rendering interactive 3D graphics.
Over the years the project has grown to implement more graphics APIs, including OpenGL ES (versions 1, 2, 3), OpenCL, OpenMAX, VDPAU, VA API, XvMC and Vulkan.
A variety of device drivers allows the Mesa libraries to be used

[2020-09-15 05:54] LilyWangL commented on #13527
@nikolskydn Thanks for posting this issue. Could you please provide the all log on VCPKG?

[2020-09-15 06:22] Chlorie commented on #13496
Oh sorry I didn't recall it correctly, my fault.
My CMake projects using `cppcoro` was building correctly. It was an MSBuild project that uses `cppcoro` which reported linking error, saying that some symbols like WSAStartup were missing. Apparently it didn't pull in the required `Ws2_32.lib`.
Sorry for the misinformation...

[2020-09-15 06:25] nikolskydn commented on #13527
[code]

[2020-09-15 06:50] wolfv commented on #13482
@ras0219-msft sure, no worries at all. The easiest explanation of conda is that it's like `apt` or `dnf` but for all platforms (win, linux and osx).

So now there is a binary package for conda that ships vcpkg to these three platforms, comes with compilers and all the port files from the latest release :)

The "feedstock" that builds the packages is here: https://github.com/conda-forge/vcpkg-feeds

[2020-09-15 06:50] #13482 closed

[2020-09-15 07:15] NancyLi1013 commented on #13354
I have reproduced this issue. But there is no need to define these two definitions.
[code]
Just define this is enough.
`#define OIIO_STATIC_DEFINE 1`

After I changed as static libraries, the error disappeared.

Check Configuration properties -> Vcpkg -> Use static libraries -> Yes.

I will try to fix this as soon as possible.

[2020-09-15 08:04] NancyLi1013 commented on #13496
Thanks for your above details. Currently, there is no` ws2_32.lib` in vcpkg. We need to add it into system library. Please see #9840.
`synchronization.lib `is the same case with `ws2_32.lib`.

So we need to add the link manually to solve this issue in MSBuild project.

Let's track this issue in #9840. I'm closing this issue for now.

[2020-09-15 08:20] Jimmy-Hu opened #13538 "[libp7-baical[core]:x86-windows] build failure"
**Host Environment**
- OS: Windows 10 Version 2004 64bit
- Compiler: Microsoft Visual Studio 2019 Version 16.7.3

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install libp7-baical[core]:x86-windows`

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
    libp7-baical[core]:x86-windows
Detecting compiler hash for triplet x86-windows...

[2020-09-15 08:27] NancyLi1013 commented on #13344
Does the path you used contains Upper character or spaces on your machine?
Uppercase issue, please see #12709.

Spaces issue will fixed by #13126.

[2020-09-15 09:34] deleeuwict commented on #13344
No, the base path on my machine is c:\code\vcpkg

[2020-09-15 10:11] PhoebeHui commented on #13413
@kazzatso, I can't repro this issue, could you provide the config log with us?

BTW, I don't think add the '-MDd' flag back could resolve this issue, since we already has that flag in toolchain file.

[2020-09-15 11:16] GyrosGeier opened #13541 "[bzip2] build failure"
**Host Environment**
- OS: Windows 7
- Compiler: Visual Studio Build Tools 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install bzip2`

**Failure logs**
[code]

**Additional context**
None

[2020-09-15 11:18] GyrosGeier commented on #13541
Wait, that seems to be a local problem with msys git.

[2020-09-15 11:18] #13541 closed

[2020-09-15 11:28] michealowen opened #13542 "libpq build failure"
**Host Environment**
- OS: windows10-x64
- Compiler: 19.25.28614 for x86

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install libpq`

**Failure logs**
CMake Error at scripts/cmake/vcpkg_execute_required_process.cmake:72 (message):
    Command failed: F:/owen/cpp_workspace/vcpkg/vcpkg-master/downloads/tools/perl/perl/bin/perl.exe build.pl RELEASE libpq
    Working Directory: F:/owen/

[2020-09-15 13:52] m3h opened #13543 "opencv_dnn link error"
**Describe the bug**
Using the `opencv_dnn` module of the opencv package, with the `x64-windows-static` target triplet, results in a fatal linking error (LNK1120) when building using MSVC.
[code]

**Environment**
- OS: Windows 10 64-bit
- Compiler: MSVC 19.27.29111.0
- vcpkg: f1bef4aa7ca7e2a6ea4f5dfe4850d95fce60b431

**To Reproduce**
Steps to reproduce the behavior:
1.  `.\vcpkg.exe install opencv

[2020-09-15 15:20] s9w commented on #9269
Not sure if this is the right place, but I want to give another vote for this. Tracy is getting very popular. I could understand if the reason for not doing this is the separation of the client and the library. But no reason was given and so of that's not the case I believe this should absolutely make the cut.

Tracy lives on GitHub now: https://github.com/wolfpld/tracy

[2020-09-15 15:46] strega-nil commented on #13283
Fixed by #13290

[2020-09-15 15:46] #13283 closed

[2020-09-15 16:29] Toninoso commented on #13503
I tried it, following your suggestion and it worked for me.
Thanks!

Since I am working in a group of developers I am not sure what would be the best approach.

Some developers have no issues with `./vcpkg integrate install`,  some, like me, do. We are sharing solution and project files in Git so we would all like to be on the same page.

Frankly, I don't find the option of a dummy nuget package,

[2020-09-15 16:45] VelocityRa opened #13547 "[zydis] No package configuration file & linker error"
**Failure logs**
[code]
etc

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install zydis`
in a CMakeLists.txt: `find_package(zydis CONFIG REQUIRED)`  -> error
same for "Zydis", or without the `CONFIG`

**Additional context**
- I'm using manifests, so instead of the above i have `zydis` in my manifest and installed in the `vcpkg_installed` folder. But there are no `*config.cmake` files

[2020-09-15 17:49] boralprophecy commented on #9967
@LilyWangL Faced this issue.

**Command** : .\vcpkg install pthreads opencv[ffmpeg]

Attaching logs
[build-x64-windows-rel-err.log](https://github.com/microsoft/vcpkg/files/5226783/build-x64-windows-rel-err.log)
[build-x64-windows-rel-out.log](https://github.com/microsoft/vcpkg/files/5226785/build-x64-windows-rel-out.log)

[2020-09-15 18:06] akilaln commented on #13317
@JonLiu1993 - Thanks I'm going to try this option. Do I still need these options ON?

[2020-09-15 18:29] akilaln commented on #13317
@JonLiu1993 , Also I can see that it builds python 3 bindings by default. Is there way to build it for python 2.7?
Thanks

[2020-09-15 18:47] VelocityRa commented on #13547
A config was added in https://github.com/zyantific/zydis/pull/138, however this was after the most recent release (which the vcpkg port is already at.

So, how are we supposed to use this port without it?

[2020-09-15 18:47] lcs-al commented on #13461
I'm having the same issue.

### Enviroment:
[code]

### Command:
`.\vcpkg install darknet[full]:x64-windows`

### GPU:
[code]
### Error:
[code]

### install-x64-windows-dbg-out.log
[code]

[2020-09-15 18:53] Neumann-A commented on #13534
duplicate of #6705

[2020-09-15 19:15] sfhacker commented on #13547
To be honest, I don't follow what the issue is here? Should I use a specific zydis version?
Just downloaded master branch and built from source. No issues at all.

![image](https://user-images.githubusercontent.com/25817529/93254200-525dd100-f7db-11ea-86d1-7068908ae3f4.png)

![image](https://user-images.githubusercontent.com/25817529/93254312-833e0600-f7db-11ea-97f0-0e0f184213a1.png)

I'm trying w

[2020-09-15 19:26] sfhacker commented on #13547
![image](https://user-images.githubusercontent.com/25817529/93254857-60f8b800-f7dc-11ea-988d-5b5b65dcb8c3.png)

There seems not to be a *config.cmake file in this particular version.
Perhaps you can generate one for this particular version or use .pc file.

Which package or port are you trying to build which needs zydis?

[2020-09-15 19:31] VelocityRa commented on #13547
@sfhacker I want to use zydis for my own C++ project.

Sorry, I realize now that the title is wrong. It's not a "build failure" of the port, but of vcpkg + my project that includes it (because CMake can't find it).

[2020-09-15 19:43] alek-d opened #13548 "vcpkg_copy_pdbs() does not copy PDB files for static libraries"
****

**Is your feature request related to a problem? Please describe.**
After I added static linking to Scintialla port, I noticed that PDB file is not copied alongside LIB file, like it is with DLL file in case of dynamic linkage.

**Proposed solution**
`vcpkg_copy_pdbs.cmake` uses `dumpbin` to find the path to PDB file for the specified DLL, but this method doesn't work for LIB files.

In case

[2020-09-15 19:50] sfhacker commented on #13547
What's wrong with zydis master branch?

[2020-09-15 19:54] VelocityRa commented on #13547
I just mentioned the thing about the release since all ports I've seen are against specific library releases, not random commits on master.
Anyway, not sure how this relates to my issue. As it stands, vcpkg master has the issue I posted (unless I'm supposed to add it in CMake differently).

[2020-09-15 21:13] gdxn96 commented on #13236
I ran into the same issue as above with a bunch of other libs. Adding them to the portfile in the same way @JackBoosY did fixed it for me. I made a PR to add the ones I found were missing if that helps

[2020-09-16 01:29] NancyLi1013 commented on #9269
Hi @s9w
Thanks for bringing up this request again.
If you want `tracy `to be added, please open a pull request.
We won't open this issue unless there is a pull request opened for `tracy`.

Thanks.

[2020-09-16 02:29] a1q123456 opened #13554 "[ffmpeg] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: 16.7.0+b89cb5fde

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install ffmpeg[x264, x265]`

**Failure logs**
***build-x64-windows-rel-out.log***
"""
=== CONFIGURING ===
ERROR: libx264 not found
"""
***ffbuild/config.log***
"""
./ffconf.ZXIXhMy3/test.c(4): warning C4311: 'type cast': pointer truncation from 'int (__cdecl *)(x264_t *,x2

[2020-09-16 02:54] PhoebeHui commented on #13548
Related to https://github.com/microsoft/vcpkg/issues/10564

[2020-09-16 02:54] 647LiuSQ opened #13555 "[openssl-windows[core]:x64-windows] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: Visual Studio 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install openssl-windows:x64-windows`

**Failure logs**
PS C:\src\vcpkg-master> ./vcpkg install openssl-windows:x64-windows
Computing installation plan...
The following packages will be built and installed:
    openssl-windows[core]:x64-windows
Detecting compiler hash for

[2020-09-16 02:57] 647LiuSQ commented on #13555
I tried .\vcpkg update.
It printed the following:
Using local portfile versions. To update the local portfiles, use `git pull`.
No packages need updating.

[2020-09-16 02:58] JackBoosY commented on #13542
Please make sure `openssl.exe` exists in _VCPKG_ROOT/installed/x86-windows/tools/openssl_.

[2020-09-16 03:05] BenKey commented on #13507
I am not certain what you mean.

I am building the 64-bit debug configuration of the project. I modified the settings of the project so that it shows progress messages. I confirmed that it is pulling in chromium-base.lib from ${VCPKG_ROOT}\installed\x64-windows\debug\lib. Thus the debug version of the library is the one that is supposed to be used in this case.

Note that based on a Google search

[2020-09-16 03:08] michealowen commented on #13542
I'm sure openssl.exe exists in VCPKG_ROOT/installed/x86-windows/tools/openssl.

[2020-09-16 03:12] stephanecharette commented on #13528
Curious to know if there is something I can run or modify manually to get this to install correctly.  Anyone know?

[2020-09-16 03:14] JackBoosY commented on #13542
@michealowen Can you provide me the configure logs in _F:\owen\cpp_workspace\vcpkg\vcpkg-master\buildtrees\libpq_ begin with `config-` ?

Thanks.

[2020-09-16 03:20] michealowen commented on #13542
I can see any logs begin with config- in F:\owen\cpp_workspace\vcpkg\vcpkg-master\buildtrees\libpq

[2020-09-16 03:30] michealowen commented on #13542
build-libpq-x86-windows-RELEASE-err.log  patch-x86-windows-4-out.log
build-libpq-x86-windows-RELEASE-out.log  patch-x86-windows-5-err.log
extract-err.log                          patch-x86-windows-5-out.log
extract-out.log                          patch-x86-windows-6-err.log
patch-x86-windows-0-err.log              patch-x86-windows-6-out.log
patch-x86-windows-0-out.log              patch-x86-wind

[2020-09-16 03:34] s9w commented on #9269
I respect if that's the way things work. But FYI: Almost all users lack the interest and/or knowledge to do such thing, me (and possibly OP) included. It seems odd to place the burden of adding ports on end-users.

[2020-09-16 04:20] BillyONeal commented on #13533
Generally speaking, the PR system doesn't know what ports you "edited" -- the way we currently figure out how they're edited is via the binary caching system. We find the hash of all the things, and rebuild anything which isn't in the cache.

That said, CASCADE results should really be in `ci.baseline.txt`; that would have caught this particular problem.

[2020-09-16 05:42] JackBoosY commented on #13542
@michealowen could you upload them here?

[2020-09-16 05:48] JackBoosY commented on #13236
@gdxn96 The patch has been merged in master, please update vcpkg and retry.

[2020-09-16 05:51] JackBoosY commented on #13528
Duplicate to #11832, please wait for fix this issue.

[2020-09-16 05:51] #13528 closed

[2020-09-16 06:01] michealowen commented on #13542
ok.
build-libpq-x86-windows-RELEASE-err.log patch-x86-windows-4-out.log
`cl output Microsoft (R) C/C++ Optimizing Compiler Version 19.25.28614 for x86
Copyright (C) Microsoft Corporation.  All rights reserved.

usage: cl [ option... ] filename... [ /link linkoption... ]
.Detected hardware platform: Win32`

patch-x86-windows-0-out.log patch-x86-windows-7-err.log
`Unable to determine OpenSSL version

[2020-09-16 06:16] stephanecharette commented on #11832
I'm currently blocked on this issue while porting some Linux software to Windows.  If a simple workaround is known, I could definitely use it.

[2020-09-16 06:25] JackBoosY commented on #13542
This issue duplicated with #12443, please track that issue.

Thanks.

[2020-09-16 06:25] #13542 closed

[2020-09-16 06:34] michealowen commented on #12443
the same error.

[2020-09-16 06:34] michealowen commented on #13542
ok, thanks.

[2020-09-16 07:16] mcmtroffaes commented on #13554
Also reported here: #12896

Great to finally see a fix for this!

[2020-09-16 07:23] a1q123456 commented on #13554
This issue has already be fixed in the PR #13450, so it is better to wait that PR to be merged

[2020-09-16 07:27] JonLiu1993 commented on #13317
@akilaln ,You can let these options ON
[code]

[2020-09-16 07:30] mcmtroffaes commented on #13554
Ah yup, good catch.

[2020-09-16 07:51] a1q123456 commented on #13554
It is better to wait for that PR, I noticed that the two PR are conflicting.  😄

[2020-09-16 08:19] JackBoosY commented on #13507
@BenKey You may use the debug chromium library in your release project.
See [msdn docs](https://docs.microsoft.com/en-us/cpp/error-messages/tool-errors/linker-tools-error-lnk2038?view=vs-2019).

[2020-09-16 08:32] BenKey commented on #13507
Are you even reading my messages? See msdn docs is NOT THE CORRECT RESPONSE TO THIS ISSUE.

I am build the DEBUG build of my project. I have confirmed that the project is linking with the DEBUG LIB (or at least the one put in the DEBUG directory by the BUILD PROCESS}.

Then errors occur.

I did not say I am linking with the release version of the lib. I only mentioned that it is BEHAVING like I am

[2020-09-16 08:33] zcream commented on #8305
Hi. I added some files under buildtrees, however if I try vcpkg install, it does not rebuild. I get the message - the following packages are already installed.
How do I rebuild using the modified sources under buildtrees.

[2020-09-16 08:36] BenKey commented on #13507
This is not a QUESTION., This is a BUG. If a DEBUG  configuration of a project links with a DEBUG version of a lib, which is exactly;y what I am doing, these errors should not occur!.

[2020-09-16 08:50] JackBoosY commented on #13507
I'm not sure that your project or chromium uses double_conversion.
If it is your project, it means that you have used the Release library in the Debug configuration. If it is chromium, it must be a port bug.

[2020-09-16 08:54] JackBoosY commented on #13507
@vejmartin  Can you please take a look?

Thanks.

[2020-09-16 10:00] ustchqf opened #13561 "[bzip2:x64-linux] build failure"
**Host Environment**
- OS: linux(centos 6.7)
- Compiler: gcc 7.3

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install boost`

**Failure logs**
The following packages will be built and installed:
    boost[core]:x64-linux
  * boost-accumulators[core]:x64-linux
  * boost-align[core]:x64-linux
  * boost-asio[core]:x64-linux
  * boost-assign[core]:x64-linux
  * boost-beast[core]:x64-lin

[2020-09-16 10:15] ustchqf commented on #13561
I have used the ./vcpkg update command, but it doesn't work

[2020-09-16 10:32] andnej commented on #12955
I also have a similar issue

Computing installation plan...
The following packages will be built and installed:
    brotli[core]:x86-windows
Detecting compiler hash for triplet x86-windows...
Starting package 1/1: brotli:x86-windows
Building package brotli[core]:x86-windows...
Could not locate cached archive: C:\Users\Andre Prasetya\AppData\Local\vcpkg\archives\b0\b04406db1825bcccd0306d570c97cd7bc

[2020-09-16 11:08] sfhacker commented on #11832
Are we **STILL** having issues with this small and simple port (libmagic)?

![image](https://user-images.githubusercontent.com/25817529/93328753-7a8f1380-f85f-11ea-87bc-795f925c2c5e.png)

@stephanecharette How familiar are you with building projects from source? A newbie?
How much experience do you have with cmake? There are plenty of online tutorials you can look at!
zydis tag 3.1.0 may be incomp

[2020-09-16 11:40] EvaKrassnig opened #13563 "[vtk] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install pcl
  Package: vtk:x86-windows
  Vcpkg version: 2020.06.15-nohash

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
    pcl[core]:x86-windows
  * vtk[core]:x86-windows
Additional packages (*) will be modified to complete t

[2020-09-16 14:16] limwenyao opened #13565 "[opencv4] Building package opencv4:x64-windows failed with: BUILD_FAILED"
[code]
Here is the [install-x64-windows-dbg-out.log](https://github.com/microsoft/vcpkg/files/5232718/install-x64-windows-dbg-out.log)

[2020-09-16 14:25] BenKey commented on #13507
I am building my project. However, the only reason it it attempting to link with chromium-base.lib is the VcpkgAutoLink feature of vcpkg.targets that adds **${VCPKG_ROOT}\installed\x64-windows\debug\lib\*.lib** to the AdditionalDependencies list.

Again, I question whether you are bothering to read my replies.

You made the incorrect claim that "it means that you have used the Release library in t

[2020-09-16 14:27] stephanecharette commented on #11832
@sfhacker I don't know how else to say this to you...but **get lost**.  You are not helping.

Unless you can actually contribute by telling people the exact `vcpkg.exe` command you ran to install libmagic, you claiming that people are an embarrassment just shows that you are out here to troll.

[2020-09-16 14:40] BenKey opened #13566 "[qt5-base:x64-windows] build failure"
# Host Environment

- OS: Windows 10 Pro 64-bit Version 2004 build 19041.508 with Windows Feature Experience Pack 120.2212.31.0
- Compiler: Microsoft Visual Studio Community 2019 Version 16.7.3

# To Reproduce

Run the following command.

`./vcpkg install qt5 qwt qt5[doc] qt5[speech] qt5-winextras --triplet x64-windows`

# Failure logs

## From Console

[code]

## From build-x64-windows-dbg-out.lo

[2020-09-16 15:00] virtualritz commented on #13371
@NancyLi1013

Did you build the tagged 1.7.15 or the latest master of Alembic after the tag? Because there were more fixes and it's not a problem using one of those commits as referenced in the `portfile.cmake` (that's what my patch is already doing, in fact).

Please confirm which `REF` you used from the Alembic repo. to build on Linux so I can report upstream.

The macOS issue is a missing/not f

[2020-09-16 15:25] sfhacker commented on #12443
Are we **STILL** having issues building libpq?
This reopened issue is two months old!

@michealowen Have tried other alternatives?
We have OpenSSL 1.1.1g installed and had no issues building libpq.

@JackBoosY This issue seems hard to troubleshoot and fix. Let us know if you require assistance.

[2020-09-16 16:34] seanmiddleditch opened #13567 "Provide helper .cmake file to avoid toolchain chainloads"
**Is your feature request related to a problem? Please describe.**

The documentation currently states:

[code]

This is not ideal. Likewise, passing `-DCMAKE_TOOLCHAIN_FILE=[vcpkg root]/scripts/buildsystems/vcpkg.cmake` or modifying build settings.

A CMake project that relies on vcpkg should ideally be self-contained (requiring no external steps or configuration or manual build steps) and also s

[2020-09-16 18:28] Neumann-A commented on #13567
`find_package(VCPKG)` or  `find_package(vcpkg)` whatever casing you like ..... with a `findvcpkg.cmake` in your `CMAKE_MODULE_PATH` and you can setup vcpkg however you like it.

[2020-09-16 19:42] BillyONeal commented on #12443
We still don't have a consistent repro for the problem. I just tried to install it and it's fine:

[code]

I also tried from within a git bash shell to make sure their openssl wasn't "infecting" the process.

[2020-09-16 19:56] gdxn96 commented on #13236
Yes, the patch fixes `dbus-1`, but then continues to fail on other system libs

[2020-09-16 21:40] wrobelda commented on #13438
@sam20908 same issue, fresh Win 10 installation in a VMWare VM. However, I have these issues only when vcpkg is working in a directory that is on a network drive. I suspect some foul play on VMWare end, as after moving that folder directly onto the VM itself without any further changes and re-issuing `vcpkg install` (with binarycaching enabled) it resumed and continued to build the ports just fine

[2020-09-16 22:01] vejmartin commented on #13507
@BenKey, this issue is due to the iterator debugging levels being different between the `chromium-base` library and the rest of the targets being compiled. `chromium-base` requires iterator debugging to be disabled, and this is a setting that must be applied project-wide as it affects the flavor of the standard library.

Please see my [comment ](https://github.com/microsoft/vcpkg/pull/12396#issuec

[2020-09-17 01:55] NancyLi1013 commented on #13371
Thanks for your investigation about this issue.

I used the same `REF `with you.
[code]
For macOS issue, we might need to check how `hdf5 `is used in `alembic`. In fact, we prefer to recommend to use the port that provided in vcpkg.

[2020-09-17 02:19] JackBoosY commented on #13236
@gdxn96 could you provide the other system libs names?

[2020-09-17 02:22] JackBoosY commented on #13438
Does #13537 fixed this issue?

[2020-09-17 02:41] RoguePointer80 opened #13570 "Binary Caching: when pushing a nuget package, the description should have more information."
****

**Is your feature request related to a problem? Please describe.**
With the binary caching system, there will be users investigating "why is my package not already in cache", or "is it already in cache for my setup"? Right now only the hashes are written in the package description. The user has no idea what triplet this correspond to, or if his/her compiler version is the same or not.

**Pro

[2020-09-17 02:47] JackBoosY commented on #13565
@cenit Does this issue will be fixed in your PR?

[2020-09-17 02:49] JackBoosY commented on #13566
[code]
Should be linked with `uuid`.
cc @Neumann-A

[2020-09-17 03:49] yuyenkan opened #13573 "[bzip2:x64-windows-static] Building package failed with: BUILD_FAILED"
**Host Environment**
- OS: Window
- Compiler: revision

**To Reproduce**
Steps to reproduce the behavior:
vcpkg install --triplet x64-windows-static berkeleydb boost-filesystem boost-multi-index boost-signals2 boost-test boost-thread libevent[thread] zeromq double-conversion

**Failure logs**
-- Fetching https://sourceware.org/git/bzip2.git...
-- Extracting source C:/xampp 7.3.7/htdocs/bc/vcpkg/do

[2020-09-17 05:08] kazzatso commented on #13413
@PhoebeHui Please see attached for my CMakeLists.txt files. I'm including ICU in the library.

[Library CMakeLists.txt](https://github.com/microsoft/vcpkg/files/5236410/CMakeLists.txt)
[Application CMakeLists.txt](https://github.com/microsoft/vcpkg/files/5236444/CMakeLists.txt)

Without the flags, CMake cache generation succeeds but compilation fails before it starts building .cpp files. With the

[2020-09-17 05:42] JackBoosY commented on #13573
_C:/xampp 7.3.7/htdocs/bc/vcpkg_
Please clone vcpkg in a non-space path and try again.

Thanks.

[2020-09-17 06:03] alexreinking opened #13580 "[Halide] update to 10.0.0"
Library name: Halide

New version number: 10.0.0

I am happy to report that the Halide team has finally released a new major version, 10.0.0! It's a big update from the last stable release and comes with an all new CMake package config with important helpers.

Please let me know what I can do to help you update. We now use GNUInstallDirs, so the existing fix-install-path.patch should no longer be

[2020-09-17 06:33] gdxn96 commented on #13236
They're in the PR I linked above `glib-2.0 gobject-2.0 gio-2.0 ibus-1.0`

[2020-09-17 06:46] abhishekmishra opened #13582 "building against apr-util:x64-windows, libexpat.dll is not found when running the program"
**Describe the bug**
When building against apr-util:x64-windows, the executable is linked to libexpat.dll which is not found when running the program.
I can see that libaprutil-1.dll is copied to Debug\. However libexpat.dll is missing.

**Environment**
- OS: Win10
- Compiler: MSVC 19.27.29111.0

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install apr-util:x64-windows
2. Use apr-u

[2020-09-17 06:50] yuyenkan commented on #13573
yes it is work with path without space now.

[2020-09-17 07:05] Neumann-A commented on #13566
@JackBoosY: I still don't know where this error is coming from. So this needs a way to actually reproduce the error.

[2020-09-17 07:07] cenit commented on #13565
the error is related to CUDNN_CONVOLUTION_BWD_DATA_PREFER_FASTEST
Looks like @limwenyao has cudnn8, which is not compatible with OpenCV 4.3
It requires OpenCV 4.4, which requires other PRs still pending here (I will not submit it before those are merged)

[2020-09-17 07:08] JackBoosY commented on #13573
Please do not close this question before adapted the path with spaces.

[2020-09-17 07:08] JackBoosY commented on #13573
cc @Neumann-A

[2020-09-17 07:12] Neumann-A commented on #13573
@JackBoosY #13126 should close this.

[2020-09-17 07:19] PhoebeHui commented on #13555
Duplicated to https://github.com/microsoft/vcpkg/issues/12849.

[2020-09-17 07:19] #13555 closed

[2020-09-17 09:06] pratikpc commented on #10597
Face same issue when I use Node.JS via NPM to make the call to bootstrap-vcpkg.bat

But when I use it directly as an exec (npx, generated using bin command) it works

[2020-09-17 09:22] LilyWangL commented on #9967
@boralprophecy Thanks for your reply. Ffmpeg will update to version 4.3.1 in PR #13365. Waiting for this PR merged, please rebuild ffmpeg, if you install new ffmpeg failed, you can open a new issue to report.

[2020-09-17 09:30] LilyWangL commented on #13503
`./vcpkg integrate install`  is often used in cmake projects, and `./vcpkg integrate project` is often used in MSVC projects. You can run these two commands on vcpkg at the same time, there is no conflict between them.

[2020-09-17 09:32] LilyWangL commented on #13563
Thanks for posting this issue. Please provide the error log: `C:\scr\vcpkg\buildtrees\vtk\config-x86-windows-out.log`

[2020-09-17 09:49] jsnhsu opened #13586 "Fail to link with wxwidgets:wx64-windows-static"
Environment: Window 10, Visual Studio 2019 Community

I tried either '.\vcpkg.exe integrate install' or '.\vcpkg.exe integrate project' + 'Install-Package vcpkg.D.CppTool.vcpkg -Source "D:\vcpkg\scripts\buildsystems" ' don't work.  And always get the error like:

Error	LNK2019	unresolved external symbol __imp_InitCommonControls referenced in function "public: virtual bool __cdecl wxApp::Initialize

[2020-09-17 09:58] JackBoosY commented on #13507
1. vcpkg will check their `_ITERATOR_DEBUG_LEVEL`, `CRT_LINKAGE` and other flags after the port is built to ensure correctness.

2. The `intergrate` command will automatically import all libraries in _VCPKG_ROOT/installed/${TRIPLET}/debug/lib_ / _VCPKG_ROOT/installed/${TRIPLET}/lib_ according to the configuration of the current user project.

So most of these errors are due to user project configu

[2020-09-17 10:48] PhoebeHui commented on #13561
Could you download the attchments and put it to dowloads folder and try again?

[bzip2-75a94bea3918e612b879d6a11ca64b8689526147.tar.gz](https://github.com/microsoft/vcpkg/files/5238487/bzip2-75a94bea3918e612b879d6a11ca64b8689526147.tar.gz)

[2020-09-17 10:50] PhoebeHui commented on #13543
@m3h, thanks for reporting this issue! and very appreciate for providing the detail with us! I will take a look.

[2020-09-17 11:42] virtualritz commented on #13371
@NancyLi1013
**HDF5** is an optional dependency of Alembic and its use is _discouraged_ since years as the **Ogawa** backend has better performance (see e.g. [here](https://devtalk.blender.org/t/alembic-hdf5-support-completely-remove/12197/6) or [here](https://www.sidefx.com/docs/houdini/nodes/out/alembic.html#:~:text=Use%20the%20HDF5%20file%20format.&text=Use%20the%20Ogawa%20file%20format,core%20

[2020-09-17 12:15] Yamahari opened #13588 "[boost] update to 1.74.0"
Library name: boost

New version number: 1.74.0

[2020-09-17 14:52] aspioupiou commented on #13543
@PhoebeHui I have the exact same issue when trying to statically link to opencv_dnn.
Can't drowngrade to vcpkg 2020.04 since some libraries (`magnum` for example) requires vcpkg 2020.06 so I'm stucked once again

[2020-09-17 17:29] alek-d commented on #13586
Looks like you need to link to `commctrl.lib`.

[2020-09-17 18:12] alek-d commented on #13498
I just tried to build `glog` using freshly installed vcpkg, and it works perfectly.
However I noticed that before compiling `glog` vcpkg installs `gflags`.
The log you included does not have this step. So it looks like you've had already installed `gflags`.

My suggestion is, that the problem may be related to `gflags` somehow.
Please try to install fresh vcpkg to separate folder, and try to build

[2020-09-17 18:21] jsnhsu commented on #13586
It's a great hint. Thank you so much.  Although that one should be comctl32.lib and some other windows libs, like rprct14.lib, winmm.lib, advapi32.lib, etc...  Actually, the main() probably won't work here in my sample above.  So after took tens minutes to dig out one of the application I made with wxWidgets years ago.   I modified and create a class which inherits from wxApp and implements the On

[2020-09-17 18:21] #13586 closed

[2020-09-17 18:22] jsnhsu commented on #13586
It's not an issue of vcpkg at all.  However, it can be an example for the new developer of wxWidget.

[2020-09-17 18:57] StarGate-One commented on #13588
Duplicate https://github.com/microsoft/vcpkg/issues/13033 [boost] Update to 1.74.0

[2020-09-17 19:24] omrta-dev commented on #13561
I was also experiencing this issue on the latest version of vcpkg and after `update` the issue was not solved.

The solution provided by @PhoebeHui did fix the issue.

[2020-09-17 20:39] Apache-HB opened #13591 "cpp-netlib package relies on header missing from current version of boost in vcpkg"
**Describe the bug**
cpp-netlib references boost header `boost/asio/stream_socket_service.hpp' which is no longer a part of boost

**Environment**
- OS: Windows server 2019 build 17763
- Compiler: cl.exe 19.27.29111 for x64

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg install cpp-netlib:x64-windows
[code]

[code]

2. cmake . -GNinja
3. ninja

**Expected behavior**
Program builds w

[2020-09-17 22:48] juniorjacob opened #13593 "fmt[core] build failure"
**Compiler**
- OS: Windows
- Compiler: x64 VC++

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install fmt:x64-windows`

**Failure logs**
D:\VS\Projects\vcpkg>vcpkg.exe install spdlog:x64-windows
Your feedback is important to improve Vcpkg! Please take 3 minutes to complete our survey by running: vcpkg contact --survey
Computing installation plan...
The following packages will be buil

[2020-09-18 00:50] taless474 opened #13594 "vcpkg install blaze:x64-windows --head broken"
- OS: Windows
I used the updated vcpkg.
[code]
without `--head` it works properly.

[2020-09-18 01:01] BenKey commented on #13566
I was able to reproduce the issue with the following command.

`./vcpkg install qt5 qwt qt5[doc] qt5[speech] qt5-winextras --triplet x64-windows`

If you cannot reproduce the issue with that command, then it is possible that there are other packages that contribute to the issue. Try the following command instead.

`./vcpkg install directxsdk directxtk12 dx qt5 qwt qt5[doc] qt5[speech] qt5-winextra

[2020-09-18 01:26] #13588 closed

[2020-09-18 01:45] JonLiu1993 commented on #13498
Hi @gaqiang ,Can you try the suggestion of @alek-d ?

[2020-09-18 02:16] blackknifes commented on #12849
vcpkg's powershell has been updated to version 7, but the bug is still exists.

[2020-09-18 02:31] JackBoosY commented on #13593
Oh, that's because the vcpkg path contains capital letters. Duplicate to #12709.

[2020-09-18 02:31] #13593 closed

[2020-09-18 03:14] StarGate-One opened #13596 "[vcpkg --editable] does not install dependency ports as editable"
**Describe the bug**
`.\vcpkg.exe --editable install [port] [port]...` only installs ports provided on command line as editable, any required dependency ports are install as clean.

**Environment**
- OS: [Windows and Linux]
- Compiler: MSVC and GCC

**To Reproduce**
Steps to reproduce the behavior:
1. Environment variables set
`set VCPKG_BINARY_SOURCES=clear;files,D:\Git\vcpkg\archives,readwrite`

[2020-09-18 03:17] JackBoosY commented on #13596
@ras0219-msft I think it's by design. Is it?

[2020-09-18 03:20] ustchqf commented on #13561
OK. the solution does work. Thank you very much for your help.

[2020-09-18 03:32] StarGate-One commented on #13596
@JackBoosY Yes you are correct. My bad - it just makes more work on ports having many dependencies, like boost.
1. It is just my command line goes from a simple short 3 ports listed:
`vcpkg install --editable boost[mpi] boost-locale[icu] boost-regex[icu]`
2. to over 150 ports listed (I am sorry, but it seems the more changes made, the harder it becomes to maintain and the less desirable the produc

[2020-09-18 03:32] #13596 closed

[2020-09-18 03:38] StarGate-One commented on #13591
I see the cpp-netlib source package supplies its own `boost sub-directory` with the required `boost\network` libraries and vcpkg does install them in the `[vcpkg-root]\installed\[triplet]\include\boost\boost-network` directory, but I do not know if there is a special cmake configuration so it can find those headers/source files?

[2020-09-18 05:13] Jimmy-Hu opened #13597 "[ogdf:x86-windows] build failure"
**Host Environment**
- OS: Windows 10 Pro 64-bit Version 2004 build 19041.508 with Windows Feature Experience Pack 120.2212.31.0
- Compiler: Microsoft Visual Studio 2019 Version 16.7.3

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install ogdf:x86-windows`

**Failure logs**
Computing installation plan...
The following packages will be built and installed:
    ogdf[core]:x86-windows
D

[2020-09-18 06:17] LilyWangL commented on #13594
Thanks for posting this issue. `.\vcpkg install port_name --head` will install the latest version of port from source, the patches may be apply failed in latest version of port. If you want update this port, you can submit an issue to report.

[2020-09-18 06:23] akilaln commented on #13317
Hi @JonLiu1993 , thanks that worked! I also have a question about writing metadata.

I'm trying to write metadata into EXR using ImageBuf class in the following way

 buf = ImageBuf("test.exr")
 buf.specmod().attribute("test_attr", "str_value")
 buf.write("test.exr")

The metadata seems to be getting written correctly but the file seems to be losing out on data as the files size looks much smaller

[2020-09-18 08:14] EvaKrassnig commented on #13563
Hi, the logfile just gave the information that the installation was interrupted by user (as after a half day of installation I decided to quit the process). It was working on x64, so I will close this issue. My application is still not running due to other problems ocurring, but I will start a new issue in case I cannot get it working. Thank you for supporting!

[2020-09-18 08:14] #13563 closed

[2020-09-18 09:30] PhoebeHui commented on #13561
Good to know it works.

[2020-09-18 09:30] #13561 closed

[2020-09-18 10:13] NancyLi1013 commented on #13371
@virtualritz
Thanks again for your help.

I will check this later and also update the comment.

[2020-09-18 10:24] PhoebeHui commented on #13591
@Apache-HB, the file boost/asio/stream_socket_service.hpp seems to be removed, I didn't find it from  https://github.com/boostorg/asio/tree/develop/include/boost, so you can't find them in vcpkg installed directory.

[2020-09-18 10:40] rockonedege opened #13600 "recovery from failed `vcpkg.exe upgrade --no-dry-run`"
****

**Is your feature request related to a problem? Please describe.**
the current `vcpkg upgrade --no-dry-run` starts with removing legacy packages and them download the new ones. if the upgrade fails half-way, there's no way to recover the upgrade process from running `vcpkg upgrade --no-dry-run` again.

**Proposed solution**
when `vcpkg upgrade --no-dry-run` fails halfway, it's possible the r

[2020-09-18 11:26] traversaro commented on #426
Hi @LilyWangL , which `vcpkg` change or commit fixed the issue? Thanks!

[2020-09-18 12:56] imamushroom opened #13601 "[spdlog/x86_32_windows] many warnings after compile"
**Host Environment**
- OS: Windows
- Compiler: VS2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install spdlog`

Compile:
[code]

**Failure logs**
Severity	Code	Description	Project	File	Line	Suppression State
Warning	C26495	Variable 'fmt::v6::localtime::dispatcher::tm_' is uninitialized. Always initialize a member variable (type.6).	mt4	C:\Users\andre\source\repos\HolyGrail2\mt4\

[2020-09-18 13:23] GyrosGeier opened #13602 "Fails to download sources using msys2 git on the path"
**Describe the bug**
We're building on a CI machine that has both msys2 and MSVC installed. The msys2 installation is in the system PATH to make msys2 git available to the rest of the system including Jenkins, which uses it to check out sources for both msys2 and MSVC based projects. Since there is only a single git installation, there are no incompatibilities between calling git from a shell scri

[2020-09-18 13:41] xahon commented on #8010
@linquize sorry, don't have free time to check. Close for now

[2020-09-18 13:41] #8010 closed

[2020-09-18 14:05] fawdlstty opened #13603 "[x264] build failure"
**Host Environment**
- OS: Win10 1909 (18363.900)
- Compiler: vs2019 community 16.7.2

**To Reproduce**
Steps to reproduce the behavior:
`vcpkg install x264:x86-windows-static x264:x64-windows-static`

**Failure logs**
[code]

`D:\gitee\vcpkg\buildtrees\x264\config-x64-windows-static-dbg-out.log`:
[code]

`D:\gitee\vcpkg\buildtrees\x264\config-x64-windows-static-dbg-err.log`:
[code]

**Additional

[2020-09-18 15:34] StarGate-One commented on #13591
@PhoebeHui as I stated above, the cpp-netlib source package downloaded from github has the boost/network headers/sources included - see https://github.com/cpp-netlib/cpp-netlib
- The boost\asio is where cmake is looking for `boost/asio/stream_socket_service.hpp` but since it is no longer part of or supported by boost.
- When cpp-netlib port was added vcpkg was configured to put the headers/sources

[2020-09-18 16:28] pratikpc opened #13604 "Why is the key in VCPkg Manifest called version-string instead of version?"
https://github.com/microsoft/vcpkg/blob/master/docs/specifications/manifests.md

In most such Package Managers, such as NPM, the term used is version and not version-string

So I was somewhat curious as to what led to this design choice?

[2020-09-18 17:49] Farwaykorse commented on #7585
The Ninja issue should be fixed with Ninja release 1.10.1 now in PR #13562

[2020-09-18 18:16] dahubley opened #13605 "Cannot build bzip2:x64-windows-static in visual studio 2019"
When attempting to build boost with vcpkg using Visual Studio 2019 I get the following error:

-- CHECK_LIB_bz2_RELEASE:CHECK_LIB_bz2_RELEASE-NOTFOUND
CMake Error at scripts/cmake/vcpkg_fixup_pkgconfig.cmake:232 (message):
  Library "bz2" was not found! If it is a system library use the
  SYSTEM_LIBRARIES parameter for the vcpkg_fixup_pkgconfig call! Otherwise,
  correct the *.pc file
Call Stack (

[2020-09-18 20:09] imamushroom opened #13606 "[range-v3] update to 3.11.0 (latest)"
Library name: range-v3

New version number: 3.11.0 (latest)

Other information that may be useful (release notes, etc...)

[2020-09-18 20:18] BillyONeal commented on #13594
@taless474 We are applying the patch https://bitbucket.org/blaze-lib/blaze/pull-requests/44/ to Blaze before building it, because without that patch we are unable to build Blaze in our test harness. See here:

https://github.com/microsoft/vcpkg/blob/32eccc18191fbb57b159784a1724d2d00613ae82/ports/blaze/portfile.cmake#L7-L8

That patch has already been applied in Blaze's upstream, so applying the pa

[2020-09-18 21:45] morphogencc opened #13607 "[mongo-cxx-driver] Add C++17 polyfill option for std"
The current options for polyfill are:

[code]

If I don't specify an option it defaults to using boost; however, if I build it myself from source, I have the option of using `std::` without any additional libraries.  I would like to see this replicated with vcpkg.

thanks!

[2020-09-18 23:25] here-mikelley opened #13608 "Binary caching doesn't keep symbolic links on non-Windows platforms"
**Describe the bug**
The binary caching feature does not keep symbolic links in the zip file

**Environment**
- OS: non-Windows platforms

**To Reproduce**
Steps to reproduce the behavior:
1. Change `x64-linux.cmake` triplet to use dynamic libraries, like so:
[code]
2. Run `./vcpkg install jsoncpp`. Notice that it does not read from the cache.
3. Observe that `vcpkg/packages/jsoncpp_x64-linux/lib`

[2020-09-18 23:28] bogdanlytvynovskyi commented on #13603
Same issue easily reproducible. Looks like msys env is not complete

[2020-09-19 00:01] #13530 closed

[2020-09-19 00:02] #13608 closed

[2020-09-19 01:29] ZeroAbility opened #13610 "[abseil] Manifest file error"
**Describe the bug**
Due to how the `vckpg.json` file is written an error occurs when attempting to perform an update of vcpkg. This has been observed on up to date KDE Neon

**Environment**
- OS: KDE Neon 5.19
- Compiler: n/a

**To Reproduce**
Steps to reproduce the behavior:
1. `git pull` in the vcpkg directory
2. `./vcpkg update`

**Expected behavior**
vcpkg should run the update task as normal

[2020-09-19 01:56] bogdanlytvynovskyi commented on #13603
A bit of digging shows that just launching bash does not add proper directory to path

[2020-09-19 03:13] ZeroAbility commented on #13610
Disregard, a run of `bootstrap-vcpkg.sh` seems to have resolved it.

[2020-09-19 03:13] #13610 closed

[2020-09-19 03:31] Crystagon opened #13613 "[Vcpkg tesseract] build failure"
**Host Environment**
- OS: Windows 10
- Compiler: visual studio 2019

**To Reproduce**
Steps to reproduce the behavior:
`./vcpkg install tesseract:x64-windows

**Failure logs**
Error: Building package zlib:x64-windows failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `.\vcpkg update`, then
submit an issue at https://github.com/Microsoft/vcpkg/issues including:
  Packag

[2020-09-19 03:40] mok-cn opened #13614 "How do I fix problem of can NOT found ZLIB"
I'm trying to complie a prj by cmake+vcpkg+vs2019 ,host: win10
I have installed vs 2019(LANG:ENG) , vcpkg install zlib openssl ...
added CMAKE_TOOLCHAIN_FILE to cmakelist.txt
but when compile got an error of can not found zlib. As Follow:
I don't know why cmake can not find the lib and header file.
How to fix that ?  thanks.

[code]

vcpkg:
[code]

top of cmakefile.txt
[code]

the libs are install

[2020-09-19 03:45] UnknownObject000 opened #13615 "Found both manifest and CONTROL file in port"
I'm using ```vcpkg search ffmpeg``` command, but it output an error says
```Found both manifest and CONTROL file in port F:\vcpkg\ports\3fd; please rename one or the other```
I deleted the CONTROL file, and run that command again. But it pops up again:
```Found both manifest and CONTROL file in port F:\vcpkg\ports\abseil; please rename one or the other```
I deleted that too. But it seems lots of p

[2020-09-19 05:04] bogdanlytvynovskyi commented on #13603
Apparently the culprit is this line in vcpkg_configure_make.cmake:

`        string(REPLACE ";$ENV{SystemRoot}\\System32;" ";${MSYS_ROOT}/usr/share/automake-1.16;${MSYS_ROOT}/usr/bin;$ENV{SystemRoot}\\System32;" NEWPATH "$ENV{PATH}")
 `

Cmake is case sensitive in replace, so if your env is like mine, then your path contains C:\Windows\system32 instead of C:\Windows\System32, and replace does noth

[2020-09-19 06:05] bogdanlytvynovskyi commented on #13603
And while above mentioned helps, install step will still fail with some cryptic error messages